[2020-05-27 17:48] gbrookshire opened #7838 "Numbers appended to channel names from CTF data."
#### Describe the bug
Reading data with `mne.io.read_raw_ctf` appends numbers to the end of the channel names.

#### Steps to reproduce
I'm using this example data from Fieldtrip: ftp://ftp.fieldtriptoolbox.org/pub/fieldtrip/tutorial/SubjectCMC.zip

[code]

#### Expected results
I expect to see the same channel labels that show up when reading the data into Fieldtrip. Here are the last few channel

[2020-05-27 19:21] larsoner commented on #7838
I don't know enough about CTF to know. @bloyl any insight here?

[2020-05-27 20:44] agramfort commented on #7838
yes the ch_name you have in the file. We prefer not to drop them but we
should be
able to ignore the numbers when needed (plotting etc.)
We have a function called _clean_names used internally for this

[2020-05-27 20:48] agramfort commented on #7837
to me yes we have a bug.

any idea @larsoner ?

[2020-05-27 20:58] larsoner commented on #7837
Agreed it's a bug, no idea the cause. Someone will have to dig into the viz code to figure out why this is happening...

[2020-05-28 07:09] ualsbombe opened #7842 "Pyvista foreground bug"
#### Describe the bug
〈Replace this text with a clear and concise description of the bug.〉

When changing the background to 'white' and foreground to 'black', text is not formatted accordingly (works as intended in mayavi) when using mne.viz.plot_source_estimates with pyvista

#### Steps to reproduce
[code]

#### Expected results
That the numbers for the scale would be written in black, now they a

[2020-05-28 10:51] levchenkoegor opened #7844 "AttributeError during reading the raw MEG fif file using read_raw_fif"
Hello!

I tried to read my raw MEG .fif file using the `mne.io.read_raw_fif` function and the next error apperas:

[code]

I tried to read the same file with BrainStrom and it is reading successfully, but without events. At the same time if I open the raw file without `preload=True` parameter I can see the events:

[code]

For me this is very strange because I can read other files of the same subj

[2020-05-28 12:42] larsoner commented on #7844
Was this file produced by the standard acquisition system? The FIF `tag` header in one of the raw buffers says that there is no data:
[code]
This is despite the entry in the FIF directory tree indicating that it should be non-zero:
[code]
We can turn this into a series of zeros, but to properly mark it as an acquisition skip will be a bit harder...

It would be better to fix this at the acquisitio

[2020-05-28 17:38] larsoner commented on #7162
Added #7775 to the list

[2020-05-28 17:39] #7842 closed

[2020-05-28 19:40] jdkoen opened #7848 "ERP Measurement Tool for MNE"
The Evoked object only has methods to return peak amplitude and latency at present. Is there any interest in the development of additional amplitude and latency measures (e.g., average amplitude in a time window, fractional peak latency)? My thought would be to port the some of the measures implemented in [ERPLAB's ERP Measurement Tool](https://github.com/lucklab/erplab/wiki/ERP-Measurement-Tool)

[2020-05-28 20:01] agramfort commented on #7848
hi @jdkoen my suggestion would be to start small with what you consider the most key feature of ERPLAB. What would that be? We'll be happy to support you.

[2020-05-28 20:29] virvw opened #7849 "old but new - info["meas_date"] must be a datetime object in UTC..."
The following command returns an old error (likely system incompatibility?); mne-python is up to date. The plotting of the AverageTFR named "blah" otherwise works on a linux system.

===========
blah is an  'AverageTFR'
===========

#### Describe the bug
blah.plot() returns

Traceback (most recent call last):

  File "<ipython-input-7-0b72d8cff926>", line 1, in <module>
    blah.plot()

  File "<d

[2020-05-28 20:31] agramfort commented on #7849
if you read the tfr from disk? can you replicate using sample data?

[2020-05-28 20:35] larsoner commented on #7849
When we read from h5 files we probably need to be careful about converting `meas_date` tuple to `datetime` objects. It makes sense that this could happen, I can try to fix it soon

[2020-05-28 20:36] virvw commented on #7849
yes, same error when reading from local disk

[2020-05-28 20:40] agramfort commented on #7849
I suspect it's IO with .h5 files. @larsoner ?

[2020-05-28 20:42] larsoner commented on #7849
Read your emails more carefully @agramfort :)

[2020-05-28 22:06] jdkoen commented on #7848
Thanks @agramfort! One of the key features (at least to me) is pulling out mean amplitude in a user defined time window. I will start with that, and post here if I have questions or need help.

[2020-05-29 07:16] #7564 closed

[2020-05-29 07:16] #7007 closed

[2020-05-29 07:19] agramfort commented on #7848
I would do this with a .mean() method on Evoked like we have a .mean()
method on stc

[2020-05-29 11:55] hoechenberger opened #7850 "viz.plot_sensors() only partially honors axes parameter"
#### Describe the bug
I wanted to add sensor alignment plots via `Raw.plot_sensors()` to some subplots of a larger figure. While the sensors **are** getting plotted, I observe some very annoying side effects that imho qualify as bugs.

#### Steps to reproduce
[code]

#### Expected results
All subplots should appear in their designated axes.

#### Actual results
![Figure_1](https://user-images.gith

[2020-05-29 12:02] hoechenberger commented on #7850
There also seems to be an issue with the "click on sensors" callback, which is linked across BOTH sensor subplots…

![](https://im4.ezgif.com/tmp/ezgif-4-c12087ae43c6.gif)

[2020-05-29 13:10] #7844 closed

[2020-05-29 14:07] #7710 closed

[2020-05-29 14:21] drammock commented on #7751
crossref #7850 - problems with `plot_raw_sensors`:

- axes title vs suptitle
- seems to do tight_layout or similar adjustment when it shouldn't
- callbacks appear to be linked between subplots?

cc @hoechenberger

[2020-05-29 17:41] jdkoen commented on #7848
Thank you for the suggestion.

I just noticed that the .get_peak() method returns the peak amplitude/time
over an entire class of channels (i.e., the peak across all channels).
Would it be useful to have a different function that extracts the peak
amplitude/voltage for a user-specified set of channels? I was unsure of the
rationale for taking a 'global' peak value/latency.

The reason I ask the ab

[2020-05-29 17:50] drammock commented on #7848
@jdkoen for a peak over a subset of channels, there are methods `evoked.pick`, `evoked.pick_channels`, and `evoked.pick_types`; these return an evoked instance with a reduced number of channels, so they can be chained with `get_peak` like so: `evoked.copy().pick_channels(['Cz', 'Fz', 'C3', 'C4']).get_peak()`

Note the use of `copy()` because otherwise the various `pick` methods will modify `evoked

[2020-05-29 17:55] jdkoen commented on #7848
Thanks @drammock for that feedback. That approach just slipped my mind. Makes a lot more sense now for how to format the mean signal measure I'm trying to add.

[2020-05-29 19:57] #7849 closed

[2020-05-29 20:02] agramfort commented on #7850
I would qualify this as a bug

[2020-06-01 02:21] listenzcc opened #7853 "A potential mismatch of times rescale in subtract_evoked"
**READ THIS FIRST:** If you are having trouble getting MNE-Python to work with
your own data, you should probably ask for help on our
[Gitter channel](https://gitter.im/mne-tools/mne-python) or on our
[mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis)
before opening an issue; you will get help faster that way. See
[the FAQ entry on filing bug reports](https://mne.tools/

[2020-06-01 02:21] #7853 closed

[2020-06-01 02:31] listenzcc opened #7854 "A potential mismatch of times rescale in subtract_evoked"
#### Describe the bug
In epochs analysis, a common operation is to compute induced response by subtracting the mean epochs. In MNE-python, it is computed by _detrend_offset_decim function in epochs sub-module.

However, the time scale operation seems use self._raw_times as time line instead of self.times.

The two values may be different if DECIM parameter is used when got the epochs, as the self.

[2020-06-01 04:02] drammock commented on #7854
Please read carefully the instructions in the bug report template, paying special attention to the parts that say "delete this section" or "replace this text with...". In particular, pay attention to the request that your code sample be *reproducible* so that others can copy/paste your code and have it work *without needing to edit it* (i.e., avoid placeholders like "some raw.fif file").

[2020-06-01 07:22] agramfort commented on #7854
I confirm the bug. You can go around it for now by using preload=True in Epochs

[2020-06-01 15:23] #7854 closed

[2020-06-01 15:32] demitau opened #7856 "Coordinate frame and Fieldtrip import of Neuromag data"
I have an issue with coordinate systems when I import a FieldTrip-processed Neurmag MEG. In general I would like to apply SSS. I have a FT-generated .mat file, that has 'neuromag' coord sys of type 'neuromag306'.

When I import it using mne.io.read_raw_fieldtrip, I get sensors' coordinate system to be FIFFV_COORD_HEAD (and MaxFilter does not like it). However if I later save the resulting raw to a

[2020-06-01 15:33] larsoner commented on #7856
@thht any ideas here?

[2020-06-01 16:26] demitau commented on #7856
In this context, perhaps also related, apparently MNE incorrectly interprets units of the sensor locations. In my .mat file the units are in cm. When the file is imported, the units are meters, but the coordinate values seem to be too large if measured in meters.

[2020-06-01 16:44] barlehmann commented on #4852
I am not sure if this is related to the exact same issue, but I have been wrangling with problems around digitization points and sensor locations for EEG files for weeks. I have read through the sensor locations tutorial several times on the MNE website but have not yet been able to fix the issue. I am using .edf files from Emotiv Flex (32channel) as well as other 19-32 channel devices and their r

[2020-06-01 16:46] barlehmann opened #7857 "EEG Emotiv and other .edf files: ValueError: DigMontage is only a subset of info. There are 45 channel positions not present in the DigMontage. The required channels are:"
I have been wrangling with problems around digitization points and sensor locations for EEG files for weeks. I have read through the sensor locations tutorial several times on the MNE website but have not yet been able to fix the issue. I have looked at a number of github issue pages with related issues but have not found any which have helped to resolve this issue. I am using .edf files from Emot

[2020-06-01 16:52] larsoner commented on #4852
On 0.20.5 you can do `raise_if_subset=False` and on 0.21 (`master`) you can do `on_missing='ignore'` to get past this error.

But it sounds like something more fundamental is wrong here. You need all EEG channels to have positions for anything topomap-related to plot properly, so using these `on_missing` is in general discouraged.

Channel types are an important concept in MNE, and it seems like y

[2020-06-01 16:53] larsoner commented on #7857
On 0.20.5 you can do raise_if_subset=False and on 0.21 (master) you can do on_missing='ignore' to get past this error.

But it sounds like something more fundamental is wrong here. You need all EEG channels to have positions for anything topomap-related to plot properly, so using these on_missing is in general discouraged.

Channel types are an important concept in MNE, and it seems like you have

[2020-06-01 16:53] larsoner commented on #4852
Moving discussion to #7857

[2020-06-01 17:11] adam2392 opened #7858 "MNE Fiducials and Their Usage in mne.coreg.get_mni_fiducials"
#### Problem
II'm trying to use the `mne.coreg.get_mni_fiducials` function, but it is not clear what the output is. Is the dictionary ordered as LPA, nasion, RPA? If not what is it?

In addition, I was wondering what the best way of attaching these coordinates to a raw is? Would one save the fiducials say as JSON and can then reload and attach during the set_montage step?

#### Suggested glossary

[2020-06-01 17:13] drammock commented on #7857
Quoting from https://github.com/mne-tools/mne-python/issues/4852#issuecomment-636982793

This is the trade-off between having clean sample data (common problems like this don't arise) and having messy sample data (you have to clean it every time you use it in a tutorial).  I see three natural-ish places to add this info:

1. add a separate tutorial to the intro section, called "working with differ

[2020-06-01 17:22] thht commented on #7856
hi, this sounds as if you import without providing an `info` field from the original raw fiff data. if this is the case, you should receive a warning telling you that this will likely result in unusable sensor position data. so in that case, the behavior you report is expected. if i am wrong, please share the code so i can take a look.

[2020-06-01 17:37] mmagnuski commented on #7848
Chaining can be useful here too:
[code]
will give you average over specified time window and `channel_list`.

Maybe a good first step would be to add a short example/tutorial dealing with just a few of these measures and then we'll see if some turn out to be too complex to obtain with what is available in mne now.

[2020-06-01 18:17] demitau commented on #7856
@thht you are correct, I don't have access to the raw data info, unfortunately. So you mean that it is impossible then to get the correct positions or that it is not implemented in MNE? If you mean the latter, could you suggest where to find info how to do it? I was only planning to do MaxFilter in MNE, I did not know it is also affected by this warning (perhaps I could have guessed though).

It i

[2020-06-01 19:48] agramfort commented on #7856
sensor locations don't move in an MEG system. You should try to find any
raw file from this system. It should be enough

[2020-06-01 19:53] agramfort commented on #7858
fiducials are necessary to define the head coordinate system. What this
function does it transform to subject head the
fiducials hard coded for fsaverage

clear enough?

[2020-06-01 20:14] larsoner commented on #7848
I think we should make a tutorial on ERP-style analyses that contain 90% of the analyses people would be interested in. Even if it's long, a `.. contents::` at the top will make it easy for people to find what they're looking for. This exercise would make it easy to see what we should turn into a separate function in MNE, if anything.

[2020-06-01 22:02] demitau commented on #7856
@agramfort thanks, I'll try! Why the FieldTrip .mat file I already have is not enough then? It also has all locations set.

[2020-06-02 00:12] barlehmann commented on #7857
larsoner, thank you for your swift and useful suggestions - that is all helpful though I am still in need of clarification. My MNE version is .21 and I first tried using on_missing='ignore' and this allowed me to get a result for digitization points, however I am still unable to proceed. I totally agree with your point about the misnamed channels, but this does not seem to be at the root of the is

[2020-06-02 07:06] thht commented on #7856
ok, let me go into some details here: one of the main issues when we developed the FieldTrip reader functions about 2 years ago was that FieldTrip and MNE store the position of the head and the sensors differently. while MNE keeps the information (at least when reading it from FIFF files) as original as possible and in device coordinates, FieldTrip converts them to head coordinates and also applie

[2020-06-02 07:10] thht commented on #7856
looking towards a possible solution for this case:

yes, it should be possible to recreate this information. however, i am afraid, i think it will take a considerable amount of work to do so because of the different formats of MNE and FieldTrip.

one thing you should check @demitau is whether your FieldTrip structures contain a `hdr.orig` field. this should store the original, non-processed header

[2020-06-02 07:33] agramfort commented on #7857
default montage requires your channels to be called 'Fp1' and not 'EEG
Fp1-LE'

hope this helps

[2020-06-02 15:36] andrewsno1 opened #7859 ""compute_current_source_density" on Epochs only works with preload=True (--> add to documentation)"
[MNE v 0.20.5 on CentOS]

When I tried using mne.preprocessing.compute_current_source_density on an Epochs instance execution failed in line 167 with the classic

TypeError: 'NoneType' object is not iterable

because inst._data was _None_.

This happens when the Epochs object is created **without** using "**preload=_True_**".
An easy quick fix would be to add a sentence to the docstring explaining

[2020-06-02 16:33] larsoner commented on #7859
@andrewsno1 I think the fix here is to use `_check_preloaded` (you can see how it's used elsewhere in our codebase). Would you be up for making a PR to add it?

[2020-06-02 21:08] sanjayankur31 opened #7860 "0.20.4: Tests failing due to scikit-learn deprecation warnings"
#### Describe the bug
On Fedora 33, we have two tests failing due to deprecation warnings from scikit-learn.

mne-python-0.20.4. I'm looking at updating the Fedora package to 0.20.5 now.

#### Steps to reproduce
Run tests: ```pytest```

#### Expected results
Tests don't fail due to the deprecation warnings.

#### Actual results
Tests fail. Complete log attached.

- we're running scikit-learn-0.23.

[2020-06-03 05:20] cbrnr commented on #7860
This is already fixed in master (not sure about 0.20.5 though).

[2020-06-03 08:20] sanjayankur31 commented on #7860
Great. I'll test these with each new release when I update the Fedora package. Thanks.

[2020-06-03 08:20] #7860 closed

[2020-06-03 08:39] mservantufc opened #7861 "mne.preprocessing.current_cour"
#### Describe the bug
〈Replace this text with a clear and concise description of the bug.〉

#### Steps to reproduce
〈Replace this text with a code snippet or minimal working example [MWE] to
replicate your problem, using one of the [built-in datasets], preferably the
one called [sample]. If you can't replicate on a built-in dataset, provide also
a link to a small, anonymized portion of your data t

[2020-06-03 08:40] #7861 closed

[2020-06-03 09:03] agramfort commented on #7861
@mservantufc you can just edit the issue after opening it without closing.

[2020-06-03 09:10] mservantufc opened #7862 "mne.preprocessing_current_source_density gives wrong CSD estimates"
#### Describe the bug
Attempt to compute CSD on evoked object called "monopolar_av_ref.fif" (see attached). The evoked object contains grand-averaged EEG waveforms (64 EEG channels (averaged reference), 'biosemi64' montage + 1 EOG channel).

#### Steps to reproduce
GA_comp_corr_stim = mne.read_evokeds('monopolar_av_ref.fif')
GA_comp_corr_stim_CSD = mne.preprocessing.compute_current_source_density(

[2020-06-03 09:11] mservantufc commented on #7861
Sorry wrong manipulation is it possible to delete this post (I reposted a clean version)

[2020-06-03 09:47] agramfort commented on #7862
@alexrockhill can you have look?

[2020-06-03 14:30] alexrockhill commented on #7862
Can you link to the referenced MATLAB code?

I'm just copying the minimally reproducible example with the imports formatted here for convenience:
[code]

[2020-06-03 14:43] mservantufc commented on #7862
Hi Alex,
It's a Python translation of Mike's code (attached)
[CSD.zip](https://github.com/mne-tools/mne-python/files/4724123/CSD.zip)
.

[2020-06-03 15:04] alexrockhill commented on #7862
Did you look at whether the same stiffness and lambda2 arguments are used between the scripts? As you can see in https://mne.tools/dev/auto_examples/preprocessing/plot_eeg_csd.html, the parametrization makes quite a difference.

[2020-06-03 15:15] mservantufc commented on #7862
De: "Alex Rockhill" <notifications@github.com>
À: "mne-tools/mne-python" <mne-python@noreply.github.com>
Cc: "MATHIEU SERVANT" <mathieu.servant@univ-fcomte.fr>, "Author" <author@noreply.github.com>
Envoyé: Mercredi 3 Juin 2020 17:05:04
Objet: Re: [mne-tools/mne-python] mne.preprocessing_current_source_density gives wrong CSD estimates (#7862)

Did you look at whether the same stiffness and lambda2

[2020-06-03 15:17] mservantufc commented on #7862
Yes there are exactly the same. Regardless of differences between codes, a CSD transform with stiffness = 4 should provide better spatial selectivity than an average reference, which is not the case with the mne.preprocessing.current_source_density function.

[2020-06-03 15:58] alexrockhill commented on #7862
I ran the example from the github you linked and there csd from mne fails and gives a runtime warning that the head is too big which I assume you are right. I'll check the steps in between first but I assume it's something we are doing wrong with handling the head size as you suggested.

[2020-06-03 16:41] alexrockhill commented on #7862
Hmmm after looking more it seems there is a units issue with the data from https://github.com/alberto-ara/Surface-Laplacian where it is provided in mm instead of m, but that can be solved easily. I think the bigger issue is that G and H are calculated differently. @dengemann, you posted the nice-tools version from here https://github.com/nice-tools/pycsd/blob/master/pycsd/csd.py that I used in the

[2020-06-03 17:13] alexrockhill commented on #7862
I think maybe the issue is with the nice-tool implementation because this matches that exactly as shown in the tests (`mne.preprocessing.tests.test_csd.py`) maybe @fraimondo can comment?

[2020-06-04 15:49] larsoner commented on #7856
If the `dev_head_t` is indeed preserved in the FieldTrip output format, it would be great if we could just restore device coords in `info['chs']` using the `dev_head_t`. But I also seem to recall we might have tried this and it didn't work...

[2020-06-04 19:37] thht commented on #7856
well... it kind of worked but as i said FieldTrip does some further processing which also, if i recall correctly, is device dependent. i think we decided that there was no sustainable way to guarantee that this is done properly so we decided to go the "provide the original `Info` object" way.

i would need to dig through the original PR for specifics, though...

[2020-06-04 19:51] larsoner commented on #7856
Okay let's not dig into it too deeply then, we both have the same intuition that it's not going to work, that's good enough for me :)

@thht perhaps we should prevent the round-trip bug though. Maybe we shouldn't allow writing FIF files when MEG sensors are in head coordinates. The other option is to make it actually allow writing MEG sensors with head coordinates, which in theory should work but

[2020-06-05 06:41] thht commented on #7856
the round-trip bug is actually not a bug. at least i think so. without having looked at the code i assume what is happening is this:

1. the fiff file gets saved with head coordinates **and a transformation matrix set to identity**
2. when MNE loads the fiff file, some internal check says: "hey, i would like those coordinates in device space" and converts them using the transformation matrix.
3. b

[2020-06-05 09:53] fraimondo commented on #7862
The implementation of pycsd is ported from the CSD toolbox [here](https://psychophysiology.cpmc.columbia.edu/Software/CSDtoolbox/).

A few months ago, something changed with the MNE montage reading and somehow the positions in the CSD file were modified after reading.

I ended up undoing the transform:
https://github.com/nice-tools/pycsd/blob/fd79ec254f39fcf1d979e3a7d3a7b586147bd381/pycsd/csd.py#L

[2020-06-05 10:00] larsoner commented on #7856
This equates the MEG device and head coordinate frames. Thinking a little bit about what this implies:

- `maxwell_filter(..., origin=..., coord_frame='device')` will no longer be subject/recording invariant (for the same MEG system) -- they mean something different run-to-run depending on whether your FIF data was save-loaded in FieldTrip or if the original data were loaded in MNE
- Comparing the

[2020-06-05 10:27] larsoner commented on #7862
The way the code is in `master`, it is not calculating a cosine similarity, which is the dot product of two vectors *divided by their norms* -- we instead divided by some assumed radius, which was not guaranteed to be correct (if the radius was wrong, or varies vector-by-vector, it was no longer computing a cosine similarity).

One difference between Mike's code and Jurgen's (posted in #7863) is t

[2020-06-05 10:39] fraimondo commented on #7862
I think this is not a projection but just the transformation of the coordinate system. The 1.0 there is because the locations are read from a CSD file in which the projection was already done. In other words, we don't use the digitised or standard montage positions as in any EEG analysis, we have to use a specific montage file in which the coordinates are projected to a sphere with r=1.

In any ca

[2020-06-05 11:14] larsoner commented on #7862
Looking a bit, I see where the CSD has been computed/applied at that point in the code -- it looks like it's done as the CSD transform itself is being computed. Basically the code makes it so that it does not matter what the actual montage radius was -- it sets all electrode radii effectively to 1. (projects them to the unit sphere). Mike's code also does this by dividing by the maximal radius (at

[2020-06-05 11:20] mservantufc commented on #7862
@larsoner  how can I update my mne in a clean way to test the latest version of mne.preprocessing.current_source_density ?

[2020-06-05 11:30] larsoner commented on #7862
If you plan on only doing this once in a while (a few times a year?) you can do the following to test Alex's branch from #7863 with:
[code]
If you want to be able to switch more easily, you can do for example:
[code]
Then later when we merge into `master` you can do in the `mne-python` directory:
[code]
and you'll be up to date with latest `mne-tools/mne-python` `master` branch.

[2020-06-05 11:41] larsoner commented on #7856
Discussion was roughly [here](https://github.com/mne-tools/mne-python/pull/5141#issuecomment-383985358), basically we couldn't work out how to get things transformed back. In theory it's as simple as getting the dev_head_t out of the fieldtrip structure (somehow, if it's there) and applying its inverse to the `info['chs'][ii][loc]`-as-matrix, but based on the gymnastics [you already implemented](h

[2020-06-05 12:35] mservantufc commented on #7862
@larsoner  @alexrockhill  Just tested the updated version of  mne.preprocessing.current_source_density function on my EEG data posted at the beginning of this issue. It now gives results that very similar though not identical to Alberto's Python translation of Mike's code (see attached). How do you guys explain these small differences ?
One remaining (potential) issue concerns the units. There see

[2020-06-05 12:38] SophieHerbst opened #7865 "with weights = 'equal', mne.combine_evoked computes sum, not mean"
Following up on a strange variation in the scale of my evokeds, I realized that
mne.combine_evoked computes the sum, rather than the mean when weights = 'equal'
(mne version: '0.21.dev0'):

evoked.py, line 876:
[code]
Shouldn't it be
`weights = np.ones_like(naves) / len(all_evoked) `
instead of
`weights = np.ones_like(naves) ` ?

The documentation says

[2020-06-05 12:58] larsoner commented on #7862
The units should be V/m^2.

Mike's code only normalizes/computes cosine similarity when the radii are all equal for the electrodes, is that the case for your data?

[2020-06-05 13:01] larsoner commented on #7862
(Also his code does not normalize by the head radius while ours does, but this will just be a constant scale factor. To get rid of it pass sphere=(0,0,0,1) or so)

[2020-06-05 13:04] mservantufc commented on #7862
I used mne's 'biosemi64' montage so I think so. But would that explain these small differences?

[2020-06-05 13:43] larsoner commented on #7862
he *computations* and *data* are in V/m^2. Like everything in MNE (or so we try), data is in SI units, but could be scaled to some non-SI unit (using milli/centi/micro/nano/etc.) for display -- here the topomaps *display* in `mV/m^2` because this is a "nice" scaling. In general we try to pick units for display that are human-readable, like `uV` for EEG data and `fT` for magnetometers. We could dis

[2020-06-05 13:52] mservantufc commented on #7862
Thanks, I understand the difference now.

[2020-06-05 13:57] larsoner commented on #7862
Looking through the papers a bit, these computations depend on spherical splines, so indeed I think it's important the electrodes are (effectively) on a unit sphere, at least the way we have it implemented.

[2020-06-05 13:59] larsoner commented on #7865
@drammock @jasmainak thoughts?

[2020-06-05 14:31] drammock commented on #7865
a quick glance suggests that the code and documentation do not match. I'll look more closely later today.

[2020-06-05 15:21] SophieHerbst commented on #7865
More than the mismatch, I think the sum is difficult to interpret, because the amplitude depends on the number of evokeds that one tries to combine.

[2020-06-05 16:27] drammock commented on #7865
There is definitely something wrong here. If I recall correctly the discussion among myself, @jasmainak, @jona-sassenhagen, and @agramfort, it was decided that `weights='equal'` should work the way it does in order for subtractions of epochs to work sensibly. I think between that concern and trying hard to get the `nave` computation correct, we lost sight of the common use case where users want `1

[2020-06-05 16:59] drammock opened #7867 "phantom 4DBTi data includes a bunch of hidden macOS files"
After downloading all the example data while setting up a new system, I noticed that a `__MACOSX` folder ended up inside `mne_data`.  It contains a bunch of finder / spotlight indexing files for the phantom 4DBTi dataset. The `__MACOSX` folder is not listed in the manifest on [the OSF repo](https://osf.io/v2brw/), but is present in the zip file.  In examining the OSF repo, I also noticed `.dropbox

[2020-06-05 17:15] agramfort commented on #7867
it's a mac thing. You can clean this up !

[2020-06-05 18:06] drammock commented on #7867
OK, I've requested access to MNE's OSF project. Once you grant that, I can fix.

[2020-06-05 18:20] larsoner commented on #7867
Granted

[2020-06-05 18:24] jasmainak commented on #7865
The problem is that if you do:

[code]
vs

[code]

they should do the same thing. If you want to do a proper average, you should use weights='nave'.

[2020-06-05 19:22] SophieHerbst commented on #7865
I see your point now, but that didn't become clear to me from the documentation.
Also, there might be cases where one wants to combine to conditions with equal weights, even if the trial numbers are different.
The clearest solution to me would be to keep 'equal' for weights that are truly equal (no sign changes), but divide them by N, and introduce a third option for 'custom' weights, such as -1/+

[2020-06-05 20:21] barlehmann opened #7868 "Blank Assertion Error when running ICA"
![image](https://user-images.githubusercontent.com/60762465/83919476-ab33bd00-a748-11ea-96ba-7f92decdbeb6.png)

[2020-06-05 20:22] barlehmann commented on #7868
Not sure if the output from running the above came out fully in the above so am pasting it again below:
![image](https://user-images.githubusercontent.com/60762465/83919538-ca324f00-a748-11ea-8351-865fa1f6441f.png)

[2020-06-05 20:23] barlehmann commented on #7868
copying last part of output since for some reason that is not showing up:

![image](https://user-images.githubusercontent.com/60762465/83919603-efbf5880-a748-11ea-9bc4-1c9cbb2f5138.png)

[2020-06-05 20:28] agramfort commented on #7868
what version of mne are you using?

mne.sys_info()

gives what?

can you share the file?

[2020-06-05 20:36] barlehmann commented on #7868
Thanks for your response. I believe it is version .21: This is the output
from what you suggested:

Platform: Linux-4.19.104+-x86_64-with-Ubuntu-18.04-bionic Python: 3.6.9
(default, Apr 18 2020, 01:56:04) [GCC 8.4.0] Executable: /usr/bin/python3
CPU: x86_64: 2 cores Memory: 12.7 GB mne: 0.21.dev0 numpy: 1.18.4
{blas=openblas, lapack=openblas} scipy: 1.4.1 matplotlib: 3.2.1
{backend=module://ipyker

[2020-06-05 20:40] agramfort commented on #7868
you are using a dev version on 0.21

please upgrade to latest stable version or current master version

[2020-06-05 20:46] jasmainak commented on #7865
humm ... how would you suggest we improve the wording?

you can still do this with:

[code]

I think EEG people tend to do this `combine_evoked([evoked1, -evoked2], 'equal')` very often to contrast e.g., in oddball paradigms. So I wouldn't exactly call it a "custom" scenario. I remember this was introduced because of @jona-sassenhagen

[2020-06-05 21:07] barlehmann commented on #7868
Thank you for the suggestion - It is now at version mne: 0.20.5, but the
same issue continues to arise.

On Fri, Jun 5, 2020 at 4:40 PM Alexandre Gramfort <notifications@github.com>
wrote:

--
Bar Lehmann, LICSW, LCSW, BCN
Pronouns (he, him)

Better State of Mind
<https://urldefense.proofpoint.com/v2/url?u=https-3A__www.better-2Dstate-2Dof-2Dmind.com_&d=DwMFaQ&c=U0G0XJAMhEk_X0GAGzCL7Q&r=Cj9RPhU2oM

[2020-06-05 21:09] drammock commented on #7865
it seems to me like the definitive question here is "what is a more common use case: equally-weighted *sum*, or equally-weighted *average*?"  Both are possible, it's a question of which we want to make easy for users with a string argument to `weights`.  It is my impression that equally-weighted average is more common, and is also slightly more difficult for users to implement themselves:

[code]

[2020-06-05 21:17] barlehmann commented on #7857
Alexandre - thank you so much - that was very helpful.

Also Mr. Larson, if you would like to work on clarifying this - I had been
familiar with the word 'montage' referring to the arrangement that
electrodes are placed on the head and then referenced -  such as
'laplacian' or 'average-reference'  - in this case of MNE, montage and
digitization points were referring to spatial coordinates. Perhaps

[2020-06-06 06:30] #7867 closed

[2020-06-06 08:33] vagechirkov opened #7871 "Forward model from Brainstorm to MNE"
Dear All,

I would like to recreate in MNE exactly the same head model as in Brainstorm. In Brainstorm I am using the following settings to compute the head model: cortex 15000V (tess_cortex_pial_low.mat) source model and overlapping spheres forward modeling method. Is it possible to directly convert a head model from Brainstorm to MNE including co-registration information? If not, what settings s

[2020-06-06 10:31] agramfort commented on #7871
MNE has no implementation of the overlapping sphere model. I would suggest you a single layer BEM model is should work as well or better.

[2020-06-06 10:52] agramfort commented on #7868
then I need to get the script and the data to replicate

dropbox or google drive or whatever works

[2020-06-06 15:18] barlehmann commented on #7868
Thank you Alexandre,

the link to the google colabs ipynb file I am sharing with you is:
https://colab.research.google.com/drive/1e8FB-KdJpFybloglXvWAaaMXsQai9meD?usp=sharing
The piece of code is the 2nd to last piece of code from the bottom with the
text (ICA) right above this section of code. The other sections needed to
be run before this are the frist two bits of code from the top of this code

[2020-06-06 18:23] greydongilmore opened #7872 "EDF+ Annotation Timestamps missing submillisecond accuracy"
It was noticed that the onset time for annotations in an EDF+ file might be missing the submillisecond accuracy accociated with the start time of the recording. This results in annotation timestamps being delayed from the true event time.

#### Expected results

The EDF+ file used here contains patient data and cannot be shared. However, if this bug is confirmed all EDF+ files will be affected.

I

[2020-06-06 20:43] dimitriospantazis opened #7873 "bug tutorial"
**READ THIS FIRST:** If you are having trouble getting MNE-Python to work with
your own data, you should probably ask for help on our
[Gitter channel](https://gitter.im/mne-tools/mne-python) or on our
[mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis)
before opening an issue; you will get help faster that way. See
[the FAQ entry on filing bug reports](https://mne.tools/

[2020-06-06 20:49] dimitriospantazis opened #7874 "Bug in EEG processing and Event Related Potentials Tutorial"
#### Describe the bug
I believe the plot_eeg_erp.py tutorial does not combine trials properly. Lines 145-148 should use:
aud_l = epochs["auditory/left"].average()
instead of
aud_l = epochs["auditory","left"].average()

[2020-06-06 21:01] #7873 closed

[2020-06-06 21:24] drammock commented on #7874
agreed.  I'll fix this in #7869 since I'm already fixing other parts of that tutorial.

[2020-06-07 01:30] parasmemon commented on #7255
I am also getting the same error: mydata.plot_sensors() #RuntimeError: No valid channel positions found

[2020-06-07 07:12] #7865 closed

[2020-06-07 07:12] #7874 closed

[2020-06-07 17:39] agramfort commented on #7255
then you did not set a proper montage for your data or you have an issue of
channel types

[2020-06-07 17:41] agramfort commented on #7872
do you know any public file that would allow us to
replicate/investigate this?

otherwise you can try to hack the edf.py file. Relevant code starts here:

https://github.com/mne-tools/mne-python/blob/master/mne/io/edf/edf.py#L231

[2020-06-07 17:52] agramfort commented on #7868
you are setting n_components = 25 while you only have 19
channels. n_components cannot exceed 19.

feel free to close if it solves the problem

[2020-06-07 17:55] parasmemon commented on #7255
Hello Agramfort,

I think I have issue of channel position, my data is based on standard 10-20 EEG location system
Please check code and error.

Code:
ten_twenty_montage = mne.channels.make_standard_montage('standard_1020')
print(ten_twenty_montage)

========
fig = plt.figure()
ax2d = fig.add_subplot(121)
ax3d = fig.add_subplot(122, projection='3d')
raw.plot_sensors(ch_type='eeg', axes=ax2d)
raw.p

[2020-06-07 17:57] agramfort commented on #7255
where do you do:

raw.set_montage(ten_twenty_montage)

?

do you see then any warning or error?

[2020-06-07 17:58] barlehmann commented on #7868
That fixed it, thank you very much for your swift and on-point assistance!

[2020-06-07 17:59] parasmemon commented on #7255
Yup, I did this and got this error:

ValueError: DigMontage is a only a subset of info. There are 40 channel positions not present it the DigMontage. The required channels are: {'14', '2', '16', '4', '13', '19', '21', '17', '33', '5', '15', '9', '26', '10', '36', '38', '31', '11', '29', '1', '24', '30', '37', '12', '27', '22', '34', '20', '7', '35', '32', '6', '18', '25', '28', '8', '40', '3', '23

[2020-06-07 18:04] parasmemon commented on #7255
This is the python code:

Code:

'eeg' in raw
True
raw.ch_names[0]
'1'
raw.info['chs'][0]['loc']
array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan])
raw.info['chs'][0]['coil_type']
1 (FIFFV_COIL_EEG)

raw.plot_sensors(show=True)
or
raw.plot_sensors(ch_type='eeg')

This give me error: RuntimeError: No valid channel positions found

[2020-06-07 18:34] larsoner commented on #7868
Reopening as I think we should catch and raise an informative error

[2020-06-07 18:56] greydongilmore commented on #7872
I have de-identified the file I used:
https://drive.google.com/file/d/1yql0bMGcXXrEZr1At_Cp-eMi6rTKSr_F/view?usp=sharing

[2020-06-07 19:15] agramfort commented on #7255
then set_montage did not work

I suppose your channels are  {'14', '2', '16', '4', '13', '19', '21',
'17', '33', '5', '15', '9', '26', '10', '36', '38', '31', '11', '29',
'1', '24', '30', '37', '12', '27', '22', '34', '20', '7', '35', '32',
'6', '18', '25', '28', '8', '40', '3', '23', '39'}. but 10-20 system
does not use this naming.

You need to fix your channel names before setting the montage

[2020-06-07 19:54] apesquita commented on #7808
Hello all,

Thank you for your suggestions.
Indeed the mne.io.read_raw_kit seems to open the file.

But when using the mne.viz.plot_alignment we get back a geometry of sensors and helmet that seem to be somewhat misaligned. Please see the pdf in the attachment.

Have you encountered this issue before?

Many thanks!

![snapshot](https://user-images.githubusercontent.com/49191643/83978623-c5b09680-a

[2020-06-07 20:02] agramfort commented on #7872
can you try this PR https://github.com/mne-tools/mne-python/pull/7875

your explanations helped a lot !

[2020-06-07 20:02] agramfort commented on #7868
PR welcome

[2020-06-07 20:15] agramfort commented on #7808
one cannot see attachments on github

[2020-06-07 20:29] apesquita commented on #7808
Updated previous message. Thanks!

[2020-06-07 21:22] parasmemon commented on #7255
I have found that montage has these channels name:
montage = mne.channels.read_montage('standard_1020')
print(montage.ch_names)
['LPA', 'RPA', 'Nz', 'Fp1', 'Fpz', 'Fp2', 'AF9', 'AF7', 'AF5', 'AF3', 'AF1', 'AFz', 'AF2', 'AF4', 'AF6', 'AF8', 'AF10', 'F9', 'F7', 'F5', 'F3', 'F1', 'Fz', 'F2', 'F4', 'F6', 'F8', 'F10', 'FT9', 'FT7', 'FC5', 'FC3', 'FC1', 'FCz', 'FC2', 'FC4', 'FC6', 'FT8', 'FT10', 'T9', '

[2020-06-08 01:09] greydongilmore commented on #7872
Glad I could contribute. The explanations provided by Teunis van Beelen helped me to understand the issue so credit should be given to him.

[2020-06-08 01:09] #7872 closed

[2020-06-08 02:18] jj-hennessy opened #7876 "How do I pick the correct frequency range for tfr_morlet?"
Greetings human across the internet,

I am completely new to MNE and signal processing in general, so excuse my ignorance if I'm missing something simple here. Let me start by explaining what I am trying to do. Essentially my goal is to take in raw EEG data, feed it through a continuous wavelet transform algorithm (I'm using [pywt](https://pywavelets.readthedocs.io/en/latest/ref/cwt.html) instead

[2020-06-08 04:22] parasmemon commented on #5997
@cbrnr
How to rename my channels name according to the "standard_1020" montage?

montage = mne.channels.read_montage("standard_1020")
montage.ch_names

[2020-06-08 06:38] cbrnr commented on #5997
You can rename channels with `raw.rename_channels` (https://mne.tools/stable/generated/mne.rename_channels.html) and provide either a dict or a callable to rename your existing channels names.

[2020-06-08 06:55] thht commented on #7856
yes, and that only kind of works for Neuromag. i also had a look at the old discussion and especially orientations were a problem. as i already said, FieldTrip  does not keep the original information but applies quite some processing and that creates problems when importing to MNE. one could look for a `hdr.orig` field in the data structure which contains the original, unprocessed header informati

[2020-06-08 07:01] agramfort commented on #7876
### no usage questions

This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-06-08 07:01] #7876 closed

[2020-06-08 11:48] Kyung-minAn commented on #7808
@agramfort & @apesquita
This is Kyung-min.
I'm glad to hear that you would make an MNE tutorial for Ricoh data.
The data is acquired using a child-customized MEG system located in Kanazawa, Japan.
I attach the raw MEG data with auditory stimuli and Freesurfered MRI data by email.

Thanks a lot!!

[2020-06-08 12:05] agramfort commented on #7808
@Kyung-minAn you cannot attach files on github.

can you make the files available on dropbox or google drive or whatever works?

[2020-06-08 14:13] larsoner commented on #7255
This depends on the details of your recording setup, you'll have to look into how the data were recorded to know this

[2020-06-08 14:34] agramfort commented on #7837
this allows to clearly show the bug:

[code]

[2020-06-08 14:35] agramfort commented on #7837
and the bad news it that the bug is in the 0.20 stable release :( :(

[2020-06-08 14:44] larsoner commented on #7837
I'll `git bisect` and see how hard it is to fix

[2020-06-08 14:47] vagechirkov commented on #7871
Dear Alexandre,

thank you for the response. Is it possible to directly import co-registration information from Brainstorm to MNE?

[2020-06-08 14:48] agramfort commented on #7837
thanks

[2020-06-08 14:50] larsoner commented on #7837
Looks like it was 9e785061f325191b809ade41590887230c1378ec / #7486, cc @drammock -- I'll see if I can figure out what the problem is

[2020-06-08 14:56] agramfort commented on #7871
I have never done it.

[2020-06-08 15:10] parasmemon commented on #5997
@cbrnr
Description of my data: "According to the standard 10-20 EEG location system, on both right and left hemispheres, eight four-millimeter electrodes were placed in an array along important language production (Broca’s area; F3 and F4) and language comprehension (Wernicke’s area; P5 and P6) regions of the human brain 9 (N=32)."
Montage Channels Names:
['LPA', 'RPA', 'Nz', 'Fp1', 'Fpz', 'Fp2',

[2020-06-08 15:12] parasmemon commented on #7255
Description of my data: "According to the standard 10-20 EEG location system, on both right and left hemispheres, eight four-millimeter electrodes were placed in an array along important language production (Broca’s area; F3 and F4) and language comprehension (Wernicke’s area; P5 and P6) regions of the human brain 9 (N=32)."

Renaming: mne.rename_channels(raw, ('1', 'LPA'))

Error: AttributeError:

[2020-06-08 15:17] larsoner commented on #7255
The docstring states in requires an Info object, you passed it a Raw instance. You want `rename_channels(raw.info, ...)` or just `raw.rename_channels`. The second arg also needs to be a dict, you passed a tuple.

It's also not clear to me from your description, you'll have to look into it and discuss with the people you got the data from

[2020-06-08 15:47] parasmemon commented on #7255
If I am using this python code:
mne.rename.channels(raw.info, {'1': 'LPA'}) // 1 is my data channel name and LPA is montage channel name.

I am getting an error:
AttributeError: module 'mne' has no attribute 'rename'

[2020-06-08 15:49] agramfort commented on #7255
rename_channels not rename.channels ....

[2020-06-08 15:56] parasmemon commented on #7255
Ok thanks.
mne.rename_channels(raw.info, {'1': 'LPA'})

Again getting an error:
ValueError: Channel name(s) in mapping missing from info: ['1']

[2020-06-08 17:25] #7837 closed

[2020-06-08 18:07] drammock commented on #5997
@parasmemon if you look more closely at the docstring of `rename_channels`, you'll see that it expects an **info object** and a **dictionary**.  Your code sample (quoted above) is passing a **raw object** and a **tuple**.

You will need to figure that out yourself by looking at the documentation for your EEG system/cap, and possibly compare it to an image of the standard 10-20 system.

Please don'

[2020-06-08 18:11] parasmemon commented on #5997
@drammock

I tried this:
mne.rename_channels(raw.info, {'1': 'LPA'})

Again getting an error:
ValueError: Channel name(s) in mapping missing from info: ['1']

[2020-06-08 18:14] drammock commented on #5997
@parasmemon repeating myself:

[2020-06-08 20:28] greydongilmore commented on #7872
@agramfort @cbrnr I tested the response of FieldTrip and I am getting the same behavior. Seems to be missing the submillisecond accuracy:
![Selection_231](https://user-images.githubusercontent.com/26314366/84077193-f0ecc180-a9a4-11ea-8139-cfb3e16722ea.png)

Will reference this PR on their repo

[2020-06-08 20:28] #7868 closed

[2020-06-08 21:07] cbrnr commented on #7872
Biosig also doesn't support this, I've reported this to the maintainer. Seems like edflib is the only app with proper support (but now also MNE).

[2020-06-08 21:27] greydongilmore commented on #7872
@cbrnr interestingly though [pyEDFlib](https://github.com/holgern/pyedflib/issues/79) is a python wrapper for EDFlib and it also shows the incorrect behavior... just tested

[2020-06-09 01:34] parasmemon commented on #7255
@agramfort @larsoner
I have put my description data file in the drive folder. Can you pls look at it?
I am really stuck in this channel names and sensor location issue.

https://drive.google.com/drive/u/0/folders/1lLCpfeHON_ihIk4ZKIDJuujWDBzMigMihttps://drive.google.com/drive/u/0/folders/1lLCpfeHON_ihIk4ZKIDJuujWDBzMigMi

[2020-06-09 01:41] drammock commented on #7255
@parasmemon Please don't post any more questions to this thread; this issue has been closed for several months and is not the right place to ask usage questions. For further help, please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) if you need additional help.

[2020-06-09 05:48] skjerns commented on #7872
@greydongilmore this is because we haven't integrated the new EDFlib version 1.17 yet (see https://github.com/holgern/pyedflib/pull/81)

I hope I find time soon to implement the changes.

[2020-06-09 08:30] agramfort commented on #7808
I started to look into. I can produce meaningful evoked data but I have some issues:
- the KIT reader overwrites the native channel names so using the shared layout files is hard. @teonbrooks or @christianbrodbeck do you know if it's possible to avoid having this forced renaming to MEG001, MEG002 etc...
- should we introduce a new read_raw_xxx function. If so how would you name it? raw_raw_yokogaw

[2020-06-09 09:31] apesquita commented on #7808
Hello,

Many thanks for these developments.
I was wondering if it would be the moment to get the Ricoh engineers in touch with the mne developers?
Min had forwarded some questions from Ricoh to the mne developers:

  1) MNE-Python has 'mne.io.*' functions depending on the type of MEG system to read the data.
   Are you planning to make a 'mne.io.ricoh.*' function?

2) If so, could you please tell

[2020-06-09 10:11] agramfort commented on #7808
if we can have a Ricoh engineer to help it would be great !

[2020-06-09 17:58] HanBnrd opened #7884 "Plot standard fNIRS response image with confidence bands"
Hello,

I was wondering why the confidence bands are not drawn when using the [plot_compare_evokeds](https://mne.tools/stable/generated/mne.viz.plot_compare_evokeds.html) function with the *ci* argument with HbO and HbR for fNIRS, as can be seen in the example [Preprocessing functional near-infrared spectroscopy (fNIRS) data](https://mne.tools/stable/auto_tutorials/preprocessing/plot_70_fnirs_proc

[2020-06-09 18:06] drammock commented on #7884
To get confidence bands from `plot_compare_evokeds`, you need to provide a *list of Evoked objects* corresponding to each condition. In the fNIRS tutorial you mention, each condition in `evoked_dict` is a single evoked, not a list of evokeds.

Put another way: when you create an `Evoked` object, it computes the average but does not keep track of the variance of the epochs that were averaged togeth

[2020-06-09 18:06] #7884 closed

[2020-06-09 20:20] drammock opened #7885 "DOC: spurious website content on 4k screens"
in a maximized window on a 4k screen, I'm seeing strange content on the far left side:

![Screenshot_2020-06-08_18-17-21](https://user-images.githubusercontent.com/1810515/84195742-ea695300-aa53-11ea-8ca9-3184a805d4c9.png)

[2020-06-10 09:53] susamerz opened #7886 "Using surface source spaces with SourceSpaces.export_volume writes out all possible surface vertices"
## Describe the bug
Not necessarily a bug, but unexpected behaviour (at least for me):
Writing out surface source spaces from a mixed source space using export_volume always writes out the full list of vertices in the surface used to create the source space, not the vertices that are "inuse", i.e. sources. Is this intentional? If yes, would it be sensible to include an option to write only  source

[2020-06-11 08:27] agramfort commented on #5579
@barlehmann this issue is closed. don't use it to ask usage questions. Use the MNE mailing list or the gitter channel https://gitter.im/mne-tools/mne-python

[2020-06-11 14:33] Kyung-minAn commented on #7808
@agramfort
I sent e-mail with a contact of Ricoh engineer.
Please check it !
And thanks a lot~!!

[2020-06-11 14:43] teonbrooks commented on #7808
If we can get a clear idea of what would be needed, I might be able to dedicate some spare cycles to get this work and/or coordinate with Ricoh engineers to modify our existing module.

I wonder what the best nomenclature for the io package should be for Ricoh/Yokogawa/KIT. I

for the renaming, do we accept MEG channels that don't begin with `MEG`? I know that Fieldtrip naming for the channels are

[2020-06-11 14:58] larsoner commented on #7808
Some `planar1`/`planar2` can break if the naming is wrong for Neuromag systems, but I don't know of any restrictions for other systems. It's best if we can always use the manufacturer's naming as much as possible. So indeed we should not rename things as `MEG*` if they are not named this way on the acquisition system.

[2020-06-11 15:22] agramfort commented on #7808
I have layout files for Ricoh systems like for other MEG systems. We
'just' need the right channel names :)

[2020-06-11 15:24] larsoner commented on #7808
@teonbrooks want to take a stab at reading the correct names? Maybe add a `rename=None` param that defaults to `True` in 0.21 (do what we do now) but will be `False` in 0.22 (use the native names) via deprecation?

[2020-06-11 18:11] #7886 closed

[2020-06-11 18:25] #7885 closed

[2020-06-11 18:41] teonbrooks commented on #7808
sounds good. yeah, I take a stab at this over the weekend

[2020-06-12 07:28] jdue opened #7892 "Using average referenced forward solutions in MNE"
Dear MNE developers

I would like to do EEG inverse modeling in MNE with some FEM forward solutions which I have pre-computed. The FEM solutions, however, have an *average* reference and from what I can tell your BEM solutions are infinity referenced. Would you expect any problems using an average referenced forward solution with the inverse modeling provided by MNE? The thing is, we would like to

[2020-06-12 12:56] aweinstein opened #7893 "Small docstring error in _auto_topomap_coords"
The docstring of [`_auto_topomaps_coords`](https://github.com/mne-tools/mne-python/blob/03276c7c3d1d5a6cf7ca042f97d6cef51b14422e/mne/channels/layout.py#L622) says that parameter `to_sphere` defaults to `True`. However, this parameter has no default value.

[2020-06-12 13:30] Swy7ch opened #7894 "[Question][fNIRS] The use of .dat file"
Dear MNE devs and users,

I'm not quite used to fNIRS nor the MNE package (started my internship last week) and I can't figure out the use the *.dat file.

In your [tutorial](https://mne.tools/dev/auto_tutorials/preprocessing/plot_70_fnirs_processing.html#tut-fnirs-processing) concerning the Preprocessing of fNIRS data, the function `mne.io.read_raw_nirx(fnirs_raw_dir, verbose=True)` (line 11 of t

[2020-06-12 13:50] agramfort commented on #7894
are you sure you talk about the same .dat format? .dat is a terrible
extension choice as it is used
for very different things.

[2020-06-12 13:51] agramfort commented on #7893
please send us a PR to remove this from docstring

[2020-06-12 13:54] agramfort commented on #7892
they agree because our inverse code does the average referencing internally.

average reference is applied during source imaging and not when computing
the forward

[2020-06-12 14:09] Swy7ch commented on #7894
Definitely...

The fNIRS is still pretty new in our lab, but I'm pretty sure of it yeah. We're using both NIRScout and NIRSport, if it may help. The data provided by machines happen to perfectly suit (in most cases) the requirements (*.wl1, *.wl2, *.hdr ...) but some of our directories lack a *.dat file, which is required by the fNIRS module : `RuntimeError: Expect one dat file, got 0`

My tutor e

[2020-06-12 14:11] agramfort commented on #7894
do you have a nirx system?

[2020-06-12 14:12] Swy7ch commented on #7894
Yes, both NIRScout and NIRSport. I'm not the one using them though, I'm "just" here to process the data

[2020-06-12 14:14] agramfort commented on #7894
@rob-luke ?

[2020-06-12 14:27] cbrnr commented on #7894
Actually, `read_raw_nirx` requires either the name of the directory with all the data files, or the header file (extension .hdr). Where exactly in the tutorial is a .dat file required?

[2020-06-12 14:37] Swy7ch commented on #7894
The `read_raw_nirx` does not require a *.dat file per se : it returns a **RawNIRX** instance. Thing is, the **RawNIRX** constructor [does](https://github.com/mne-tools/mne-python/blob/f6c6ff2842ff020816bfc203f00e03410c9e0ea3/mne/io/nirx/nirx.py#L72) require a *.dat file :

        # Check if required files exist and store names for later use
        files = dict()
        keys = ('dat', 'evt', 'hd

[2020-06-12 15:22] aweinstein commented on #7893
PR send. (Sorry for being so picky :)

[2020-06-12 15:32] #7893 closed

[2020-06-12 17:32] cbrnr commented on #7894
Got it. Indeed it looks like `'dat'`, `'set'`, `'tpl'`, and `'config.txt'` are never used in the code. Therefore, a quick fix would be to issue a warning if one of these files are missing (since I assume that they could be necessary). Even better would be to determine which of these files are required, and which are just optional (in which case it wouldn't even be necessary to warn). Let's wait fo

[2020-06-13 00:08] rob-luke commented on #7894
Thanks for addressing this @Swy7ch,

You are correct that the dat is not used in the current MNE read nirx function. We could exclude this from the file check as you have pointed out. All the NIRScout data I have seen from several labs over the last two years has contained a `dat` file. Did your device not create it (perhaps this is a NIRSport thing?), or did you delete it?

Regarding the other fi

[2020-06-13 09:37] Swy7ch commented on #7894
As I said earlier in the thread, I'm a newcomer in the lab I work at (I've been there for 2 weeks) and I'm not the one using the machines : I'm part of the "Technical Team" whose purpose is to provide tools for non-developpers to ease data processing. I will ask my coworkers about this.

Haven't had the time to fully scrap the NIRx website, but the data they provide [here](https://support.nirx.de/

[2020-06-13 10:59] algrmur opened #7897 "2GB .fif limit"
Hi everyone,

Mid-term MNE-Python user here. I have never run into saving FIF files before, because if I have a dataset with around 6GB worth of data, whenever I save my epochs, MNE-Python usually parcellates them into many < 2GB files and appends "-1", "-2" onto the filenames. Then, all I have to do is load the main file and it automatically detects that a split has happened and iteratively loads

[2020-06-13 11:33] larsoner commented on #7897
Should be fixed in master by #7740. Can you try it on one of your problematic cases? We didn't backport to 0.20 but maybe we should.

[2020-06-13 12:09] larsoner commented on #7897
I've now backported #7740 to maint/0.20, @agramfort worth another quick release for this?

[2020-06-13 12:10] agramfort commented on #7897
sure why not.

[2020-06-13 13:43] jdue commented on #7892
cool, thanks!

[2020-06-13 13:43] #7892 closed

[2020-06-13 15:16] algrmur commented on #7897
Thanks, guys! I will check it out and get back if any further issues.
Keep up the good work!

[2020-06-13 18:53] cbrnr commented on #7894
I'd favor the second option too. It is better to have a loader that works with a minimum of required files. If there's additional information contained in separate files, and these files are missing, a warning would be much better than not loading the file at all. Also, I wouldn't say that if a file is missing automatically means that the data has been modified - it means that a file is missing, w

[2020-06-14 01:03] rob-luke commented on #7894
I have repeatedly encountered large differences between the NIRX manual, the website, and data created by the latest NIRX software. For example I just went to the link you posted and downloaded the first finger tapping example, it does not include a `.inf` file and the header file does not state the version it was recorded with. I would recommend you verify everything based on data you record your

[2020-06-14 01:31] rob-luke commented on #7894
Ok I also went and downloaded their example NIRSport2 device example files and they have a very different folder structure as shown in screenshot below. This seems very different to the NIRScout structure. It may be that a more serious rewrite is required to support NIRSport devices.

![image](https://user-images.githubusercontent.com/748691/84582624-d184e700-ae31-11ea-8e40-a7ede141d2e3.png)

To m

[2020-06-14 12:10] barlehmann commented on #5579
Certainly, will do, sorry about that.

On Thu, Jun 11, 2020 at 4:27 AM Alexandre Gramfort <notifications@github.com>
wrote:

--
Bar Lehmann, LICSW, LCSW, BCN
Pronouns (he, him)

Better State of Mind
<https://urldefense.proofpoint.com/v2/url?u=https-3A__www.better-2Dstate-2Dof-2Dmind.com_&d=DwMFaQ&c=U0G0XJAMhEk_X0GAGzCL7Q&r=Cj9RPhU2oMWLltcCQOdyiRyEy1SYAQSCFx-DVb42LRg&m=7ee_WmUyiOPjHobDC0vMixQZZFyB0

[2020-06-15 08:48] Swy7ch commented on #7894
Sorry for the late reply.

Well, that's what I figured out. That's a shame really.

Indeed, better safe than sorry.

Definitely ! No pre-preprocessing is better.

I've asked my coworkers about the NIRSport data, I'll come back when I get some news.

[2020-06-15 09:29] rob-luke commented on #7894
Thanks @Swy7ch, no rush, we will get the dat file issue merged and then tackle the rest as it comes.

[2020-06-15 11:53] cbrnr commented on #7894
I totally agree that it is extremely important not to modify the raw data. However, in practice I'd still prefer a reader that can read NIRS data even though one or two optional files are missing. At the end of the day, this makes the difference between being able to extract the signal vs. reading an error message and not getting anything at all. If the reader emits clear warnings I don't see a re

[2020-06-15 13:12] cbrnr commented on #7894
BTW, I just found out that we have a NIRScout and a NIRScout 2 devices in our lab. I will check which files these devices generate. In the near future, we will also have a NIRScout, so I can also go and check there.

[2020-06-15 13:14] Swy7ch commented on #7894
NIRSport, right ?

[2020-06-15 13:28] cbrnr commented on #7894
Ups, sorry, yes, NIRSport 1 and 2.

[2020-06-15 13:29] #7894 closed

[2020-06-15 13:44] Swy7ch commented on #7894
Well, that was quick ! Thank you guys !

[2020-06-15 19:19] hoechenberger opened #7901 "Rename `master` branch"
Hello,

amid the global [BLM protests](https://en.wikipedia.org/wiki/Black_Lives_Matter), it seems a number of free/open-source software projects are now [reconsidering](https://www.zdnet.com/article/github-to-replace-master-with-alternative-term-to-avoid-slavery-references/) the naming of their main source-code management branch, historically called `master` in `git`. Microsoft seems to be [activ

[2020-06-15 19:38] cbrnr commented on #7901
By all means change it if it makes people happy. GitHub will soon default to `main` anyway. However, I think that in this case the term master has nothing to do with master/slave (yes I know the BitKeeper background, but in a plain Git repo there is a master branch but no slave branch(es)). Same for blacklisting/whitelisting, which actually originates from the term black book (which were actual bl

[2020-06-15 19:46] hoechenberger commented on #7901
Hi @cbrnr

Yes I do agree, my perception is similar. But others seem to disagree, and I don't mind making a small change to them them feel more welcome ☺️

Yes absolutely, just wanted to raise this question now to get a small discussion going / get an idea of what others think.

[2020-06-15 19:51] larsoner commented on #7901
Internally I don't think this change would be too difficult, but we should wait until GitHub makes it easy to redirect branch names to do this (last I looked it was not possible to redirect individual branches, only entire repos). Projects that rely on using `https://github.com/mne-tools/mne-python/zipball/master` or similar should have an opportunity to change to the new naming rather than just h

[2020-06-15 21:01] barlehmann opened #7903 "Array incompatibility error in computing EEG connectivity"
![image](https://user-images.githubusercontent.com/60762465/84705483-72a29900-af29-11ea-866e-1bd50ad520bc.png)

[2020-06-15 21:02] barlehmann commented on #7903
Not sure why the last bit of code was cut off from above:

![image](https://user-images.githubusercontent.com/60762465/84705810-fb213980-af29-11ea-8e64-49ac27bc208b.png)

[2020-06-15 22:34] drammock commented on #7903
Please do not post *images* of your questions and code.  It is **much easier** if we can copy/paste the code in order to try things out on our systems.

[2020-06-15 22:50] barlehmann commented on #7903
Sorry about that, I was not aware of this, I will certainly be sure not to paste images in the future.

I am pasting my non-image code above again here below:

import numpy as np
from scipy import linalg

import mne
from mne import io
from mne.connectivity import spectral_connectivity
from mne.datasets import sample

print(doc)
raw = mne.io.read_raw_edf(raw_data_file)

print(raw.info['dig'])
ch_na

[2020-06-16 12:33] agramfort commented on #7903
please share a script that runs and replicates the error you want to report

you can use https://gist.github.com/ to share code snippets

[2020-06-16 12:46] agramfort commented on #7901
I am tempted to follow here. If core projects that are models for us do
this then we could follow.

[2020-06-16 13:28] vagechirkov commented on #7871
I have tried the following code to transfer the coregistration information from Brainstorm to MNE:

[code]

It seems to me that it works correctly. Did I miss something? I have attached alignment plots from Brainstorm and MNE.

![image](https://user-images.githubusercontent.com/42982039/84779453-1739df00-afed-11ea-95f5-e6ba5cab17ae.png)
![image](https://user-images.githubusercontent.com/42982039/8

[2020-06-16 14:02] agramfort commented on #7871
nice. Indeed it seems to work !

[2020-06-16 15:31] larsoner commented on #7871
Indeed it seems to work! I'll go ahead and close since it seems like there are no changes needed at the MNE end

[2020-06-16 15:31] #7871 closed

[2020-06-16 19:04] barlehmann commented on #7903
@agramfort  - Sorry about that - I might not have included the MNE installation or all the dependencies for the above file: I just pasted the relevant snippet into gist (below), and verified that it brings about the same problem. The only other issue you might have is that the script does not include my .edf file that is being used - let me know how I should get that one to you - I could share it

[2020-06-16 19:58] agramfort commented on #7903
how do you expect me to debug your script if I don't have access to your
google drive and your file?

[2020-06-16 20:12] barlehmann commented on #7903
https://drive.google.com/open?id=1wwS268nX7XVbqLe0f--nA0K80hhd2q5d

Above is the link to my drive's .edf file  -   'AusEC.edf' ,  I am sorry to
burden you with any difficulty, I am still getting familiar with this
process by which others are evaluating my code on git issues (I thought
perhaps someone might see an issue standing out without needing to run the
specific file used). Also, I was hesita

[2020-06-16 20:29] agramfort commented on #7903
`raw.info = info` was a bad idea. See:

[code]

for a clean solution

[2020-06-16 20:29] #7903 closed

[2020-06-17 10:08] cbrnr commented on #7894
@rob-luke @Swy7ch here is the list of files produced by a NIRSport 2 device:

[code]

The zip file contains a .roh text file (containing I think the raw data).

And here is the list for the older NIRSport device:

[code]

So it looks like these devices produce very different sets of files, but the core data is present in both devices: .wl1 and .wl2. The metainfo is contained in an .hdr file for NI

[2020-06-17 10:16] rob-luke commented on #7894
Thanks @cbrnr!

Based on this new information I totally agree. Once we get some NIRScout test files from both version 1 and 2 we should do a rewrite. I do not have access to a NIRScout device.

The nirs file can also be generated by the NIRScout system. It is an extra checkbox that you click. So this may be the same for the NIRScout. The `.nirs` format is from the Homer toolbox and has been embrac

[2020-06-17 11:19] cbrnr commented on #7894
I have the files I've listed above. I will link them in #7905 once I get permission to share them. Also, my lab will soon have a NIRScout device, so I can provide all the NIRX info we need :smile:.

I completely agree that supporting .nirs files should be very low priority and that .snirf is much more important. But I also think that an option to load the primary raw data directly (what we current

[2020-06-17 14:16] teonbrooks commented on #7808
I took a look at this, and we're generating the name of the channels by their index. We don't have the original label information anywhere. It would be super helpful if we could be in touch with someone at Ricoh to see what block in the data may have these labels so we could read them directly. @agramfort, has the Ricoh engineer reached to you yet? If you would like, I could coordinate with them a

[2020-06-17 14:25] agramfort commented on #7808
let me put you in contact with ricoh engineer

[2020-06-17 17:27] barlehmann commented on #7903
@agramfort Thank you very much for your help - that makes a big difference for the problem with the two arrays, and another problem I was having in a totally different area of the code as well.  Your support has been a meaningful step forward, however, I am still not getting the coherence map to show up after I include a bit of the code from the senor space connectivity tutorial- and am getting th

[2020-06-17 17:32] barlehmann commented on #7903
@agramfort I can post this last posting in another issue if that is preferable.  I saw that you had closed the issue, and though this last posting of mine had relevance to this issue so it might be useful to post here, but certainly can delete this last posting and move it to a different issue if that is preferred.

[2020-06-17 17:46] drammock commented on #7903
Even better would be to use the MNE mailing list or the gitter channel.  The GitHub issue tracker is supposed to be reserved for requests for new features and/or bugs in MNE-Python itself (not bugs in your own code).  See https://mne.tools/dev/overview/get_help.html for links.

[2020-06-17 17:53] barlehmann commented on #7903
@drammock - Certainly, will do, sorry about this misunderstanding, I am new to using MNE and had not seen that page before.  This page you mention makes that very clear -sorry again to cause this confusion and the extra work for you guys.  I will certainly post my questions in that way from now on.

[2020-06-17 18:58] drammock opened #7907 "Python version dependency issue"
#7758 introduced a dependency on `contextlib.nullcontext`, which was added to the standard library in Python 3.7.  We allegedly support Python 3.6 as our minimum version.  This came up in helping a user troubleshoot MNE on Google CoLab hosted notebooks, which run py 3.6

cc @GuillaumeFavelier

[2020-06-17 19:27] larsoner commented on #7907
Argh, I added that. Can you make a quick PR to add one to `mne/fixes.py`? If not, I can do it quickly later tonight or tomorrow

[2020-06-18 07:30] apesquita commented on #7808
Thank you for developing this reader! I will be thrilled to use it later on!

[2020-06-18 15:30] AleksandraPestka opened #7909 "Data analysis without montage info"
I've loaded my iEEG data, although I don't have montage file.
My data consists 16 channels and I'm not able to match it with any built-in montages proposed by MNE ( mne.channels.make_standard_montage() ).
I want to run ICA on my data, but I get an error:
`ValueError: Cannot determine location of MEG/EOG/ECG channels using digitization points.`

How can I use MNE analysis functions without providin

[2020-06-18 15:32] agramfort commented on #7909
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-06-18 15:32] #7909 closed

[2020-06-18 15:32] #7907 closed

[2020-06-19 22:31] drammock opened #7911 "BUG: inconsistent auto-clim handling for SourceEstimate and VectorSourceEstimate"
In theory, these two things should yield identical results:

[code]
versus
[code]

In practice, `plot_vector_source_estimates` calls `brain.scale_data_colormap` under the hood, while `plot_source_estimates` does not, so the automatic choosing of `clim` is quite different in the two cases.  If you pass in a `clim` dict with your own values, then the two approaches indeed look identical, so probably

[2020-06-20 00:03] rob-luke opened #7912 "Modify NIRS FIFF types to support frequency domain NIRS and bring in line with SNIRF"
Originally MNE supported two types of NIRS data, oxygenated and deoxygenated (`fnirs_hbo` / `fnirs_hbr`) haemoglobin. In #6674 we added support for continuous wave fNIRS and added the `fnirs_raw` and `fnirs_od` to represent the raw amplitude measurements and the derived optical density measurements.

@kylemath is now adding support for a frequency domain fnirs device in #7717 which requires a phas

[2020-06-20 00:06] rob-luke commented on #7912
Pinging @larsoner @agramfort @cbrnr @mshader @NathalieGou

[2020-06-20 00:08] rob-luke commented on #7912
@kylemath Would these two data types be sufficient for you? Maybe you only need `fnirs_phase`, but I think its easiest to just add both at once.

[2020-06-20 00:26] larsoner commented on #7912
Naively a frequency-domain amplitude + phase representation signal is related to the time-domain (continuous wave) representation just by an inverse Fourier transform. How are the amplitude+phase signals actually measured? Are they just the real FFT of an actually measured continuous wave? That would mean that the "time points" in the data wouldn't even really be time points at all, and in order t

[2020-06-20 00:28] larsoner commented on #7912
(i.e., I'd like to first decide if we *need* to support the frequency domain format before deciding the best way to do so, or if we can instead get away with just ensuring all raw NIRS data is either continuous wave, or converted to continuous wave on read)

[2020-06-20 00:29] larsoner commented on #7912
... and sorry if you already discussed this in the other issue / PR, if so let me know and I'll read through it

[2020-06-20 02:54] rob-luke commented on #7912
Absolutely, that’s why I thought I’d raise an issue rather than start working on a PR.

Some discussion had happened but it got lost to me amongst the other discussions. That’s why I thought to raise this explicitly. If there is relevant discussion from the other PR we should post it here so its easily accessible to everyone making the decision.

I am going to leave these questions to @kylemath, o

[2020-06-20 08:00] kylemath commented on #7912
Yes we have three types, DC, AC, and Phase, so this would be perfect

The data files are no different from EEG, MEG, or fNIRS @larsoner, channel by time by three data types.

Long answer:

The machine modulates a light source at say 40 MhZ, so it pulses in a light that is increasing and decreasing in intensity at 40 MhZ. The light goes through the head, and arrives at detectors nearby, along with

[2020-06-20 09:10] agramfort commented on #7912
no strong feeling on my side

[2020-06-20 09:14] agramfort commented on #7911
agreed

[2020-06-20 13:40] cbrnr commented on #7912
No strong opinion either, do whatever the NIRS experts think that's best. If you feel that changing an existing type makes it more consistent please go for it. I don't think that many people use MNE with NIRS already.

[2020-06-22 13:24] larsoner commented on #7912
Ahh okay, so when you say it runs the FFT, it does this every ~4 ms after having collected data at a very high sampling rate (MHz) range, then from that FFT of ~4 ms of data extracts the amplitude and phase, so you end up with a time-varying (at the same sample rate as the rest of the data in the file) estimate of the amplitude and phase of this signal.

Now things make more sense, and I'll just w

[2020-06-22 14:12] Swy7ch opened #7913 "[fNIRS] Misleading error message when the raw_data path does not exist"
#### Describe the bug

When the path provided by the user does not exist (i.e. when the directory does not exist), the error message raised by the **RAWNirx** `__init__` function is
[code]

I think it should be something like
[code]
since the error is not about the existence of a file, but rather about the directory's

#### Steps to reproduce
Create a **RAWNirx** instance by reading the data of a

[2020-06-22 14:15] larsoner commented on #7913
This does seem like something that should be fixed, but let's wait to hear from @rob-luke to see if he agrees or has something else in mind first

[2020-06-22 18:17] SebastianSpeer opened #7915 "Cluster-based Permutation test for Time-Frequency Data - 3D clusters"
Hello MNE-team,

Eric Larson has asked me to post this as an issue here.

I've been trying to run cluster-based permutation tests on time-frequency data considering all channels and different frequency ranges across time.
Colleagues of mine have informed me that Fieldtrip in MATLAB provides an algorithm that allows to search for adjacent frequencies, timepoints and channels that show similar modul

[2020-06-22 18:20] larsoner commented on #7915
Can you try #7916 ?

[2020-06-22 18:31] SebastianSpeer commented on #7915
What should I try? Sorry, not quite sure what to do...

[2020-06-22 18:50] drammock commented on #7915
@SebastianSpeer you would need to (temporarily) use the version of MNE-Python located at https://github.com/larsoner/mne-python/tree/conn

The way to do that is to follow the [using current master](https://mne.tools/dev/install/advanced.html#using-the-development-version-of-mne-python-latest-master) instructions (but choosing a different name for the environment so you can easily go back to curren

[2020-06-22 20:54] kylemath commented on #7912
sounds good to me

[2020-06-22 20:54] kylemath commented on #7912
@jkuziek note these new names planned

[2020-06-23 03:08] rob-luke commented on #7912
Im happy with @larsoner suggestions and will open a PR to make this change. Thanks all.

[2020-06-23 03:20] rob-luke commented on #7912
Once that PR is merged I will check nothing has broken in MNE locally and by opening a test PR to run the CI.

[2020-06-23 03:53] rob-luke commented on #7913
Sounds good. I added this code snippet to https://github.com/mne-tools/mne-python/pull/7905

Thanks @Swy7ch for taking the time to report these issues and the neat fixes

[2020-06-23 07:55] Swy7ch commented on #7913
Does the snippet work on your end @rob-luke ? I should have made it clearer that it **doesn't** work for me, but I don't know why : even if I give a random path to the function, the error raised is still about the *.evt file

[2020-06-23 12:20] rob-luke commented on #7913
And @Swy7ch please feel free to review #7905 to make sure it meets your needs

[2020-06-23 12:35] larsoner commented on #7912
It won't break until we bump the commit hash in test_constants.py

[2020-06-23 13:05] ZQInQAAS opened #7919 "How can I plot a colorbar using mne.viz.plot_topomap() with my own data?"
hi，I'm using mne.viz.plot_topomap() to plot my own eeg data (ndarray), but I haven't find colorbar param. Could you tell me what should I do? Or maybe I use a wrong function?
thanks a lot !

[2020-06-23 13:32] agramfort commented on #7919
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-06-23 13:32] #7919 closed

[2020-06-23 13:37] #7913 closed

[2020-06-23 14:42] SebastianSpeer commented on #7915
@drammock Thanks that worked fine.
@larsoner your implementation works fine for me. Thanks a lot. The only question remaining now is how can I detect clusters in this three-dimensional space and plot them in a meaningful way? In the example you provide you plot the clusters for a specfic channel only. However, is there a way to detect and visualize clusters across all three dimensions? Something l

[2020-06-23 14:46] larsoner commented on #7915
Maybe look into the AverageTFR methods like https://mne.tools/dev/generated/mne.time_frequency.AverageTFR.html#mne.time_frequency.AverageTFR.plot to see if any of them would work? IIRC one of them does a topo plot with TFRs at each channel location

[2020-06-23 15:45] datalw opened #7920 "generate the colorbar for plot_topomap in subplots"
Goal: I want to generate 8 topomaps in one figure and for each subplot a colorbar - becaue the data has different scale in each subplot.
Result: in the figure attached.
Could someone tell me where the problem is? And tell me why there are strange lines around the only colorbar. Thanks a lot!

My code:
[code]

![Figure_1](https://user-images.githubusercontent.com/45690539/85425406-6e096080-b579-11e

[2020-06-23 17:09] drammock commented on #7920
Your example is not reproducible, so it's a hard to test (you don't include code that defines the variables `values`, `frequencyBand`, `freBandNames`, or `raw`). Next time please provide a [minimal, complete, and verifiable example](https://stackoverflow.com/help/mcve) that demonstrates the problem you are experiencing. If at all possible, your example should use [MNE-Python's "sample" dataset](ht

[2020-06-23 17:11] alexrockhill opened #7921 "Add Shape Metrics for Waveform Asymmetry (Steepness & Sharpness)"
I'm not sure if this is of interest to others for including in MNE, if not I'll just go ahead and close this issue but I was planning on using the methods [from this paper](http://www.jneurosci.org/content/37/18/4830) for some analyses and so I'll want to write some tests and examples and documentation to do that and I thought it might be worth bringing up the issue of whether this would be a good

[2020-06-23 18:01] cbrnr opened #7922 "Support more NIRx devices"
Currently, `mne.io.read_raw_nirx` has been thoroughly tested only with data from NIRScout. However, we should add support for the other two devices from the company (NIRSport and the newer NIRSport2). As mentioned in #7894 and #7905, most generated files differ between devices except for the raw intensities (.wl1 and .wl2) so that we need to adapt the current reader accordingly. Test recordings fo

[2020-06-23 18:32] alexrockhill commented on #7921
Nevermind after looking into it further, this should be done as a PR to bycycle and not to mne.

[2020-06-23 18:32] #7921 closed

[2020-06-23 19:29] datalw commented on #7920
Thanks a lot for your advice and sorry for the incomplete inquiry.
I had the version of '0.20.5'. After updating to '0.20.7' and 16 axes instead of 8, I still could not get the result.
My complete code is as following. To make the codes short, I used the same values (only a single time point hence 1*20 array) twice in order to produce 2 subplots (instead of 8).

[code]
Result:
![Figure_1](https://

[2020-06-23 20:15] drammock commented on #7920
Thanks for providing reproducible code.  If I run your code in an ipython terminal (and add `plt.show()` at the end) this is what I get:

![Figure_1](https://user-images.githubusercontent.com/1810515/85454394-bc0a6e00-b551-11ea-976e-5d2e449bdaaf.png)

As I mentioned before, the changes to this function were only made about 6 weeks ago, so you have to use **current master** (0.21dev0) rather than *

[2020-06-24 01:34] rob-luke commented on #7912
cross referencing #7923

[2020-06-24 13:52] datalw commented on #7920
Thanks a lot for the help, I updated to the current master and could get the result that I wanted.
A small flaw in the plot is that the colorbars in the last row are always incomplete (also as shown in your plot above), the same situation after I defined the figure size in the first place. Therefore I have to adjust the plot using fig.subplots_adjust(bottom=0.1). It would be great if the colorbar

[2020-06-24 15:58] drammock commented on #7920
I agree.  It's part of our roadmap (#7751) for the coming year to fix a lot of these inconsistencies in the 2D plotting functions.

[2020-06-24 15:58] #7920 closed

[2020-06-25 14:29] Swy7ch opened #7926 "[fNIRS] use .nosatflags_wlX in case they exist"
#### Describe the bug
The NIRStar software sometimes puts NaN values in the `.wlX` files when it estimates the probes saturated. It is not clear how (or even why) it does so, but it changes the data without the approval of the researcher. The software does provide the "true" values in a separate file name `.nosatflags_wlX`, which is a copy of the corresponding `.wlX` file with the true value.

Cur

[2020-06-25 14:46] larsoner commented on #7926
Thoughts @rob-luke ?

[2020-06-25 17:12] #7915 closed

[2020-06-25 17:41] bloyl opened #7932 "stc.project('pca', src) requires fwd['src']"
Sometimes a few source locations are dropped in forward computation so the `stc` gets out of sync with the original `src`. this means you need to call `stc.project('pca', fwd['src'])`. It would be nice if you could use the original `src`.

This problem used to exist with `stc.extract_label_time_course` but that has been fixed maybe by #6789?

I'm not sure how to replicate this issue on sample data

[2020-06-25 18:05] larsoner commented on #7932
Indeed it looks like the same fix from #6789 could be applied to `stc.project`. Can you look into refactoring it for example into a `_check_vertices_subset` for https://github.com/mne-tools/mne-python/pull/6789/files#diff-3623e826cb12cb2dfa80dddf3b746d02R2544-R2549 then just reusing `with _temporary_vertices(src, stc.vertices):`?

[2020-06-25 18:33] drammock opened #7933 "VIZ, BUG: plot_compare_evokeds(..., axes='topo') fails for CSD channel types"
probably related to mne.channels.layout.generate_2d_layout.  The plot succeeds, but all the axes are squished into the lower left corner and the figure is mostly empty space.  To reproduce:

[code]

[2020-06-26 03:25] rob-luke commented on #7926
Thanks again for another very clear issue @Swy7ch. The computer system info is handy. Can you also add info about your NIRX (device name) and NIRStar version along with future issues (I am sure you mentioned the details in previous issue, but its slipped my mind)?

I've got many hundreds of files from three labs with NIRScout machines and never seen this `nosatflags_wlX` file.  Could it be specifi

[2020-06-26 03:33] rob-luke commented on #7926
Secondly we need to decide what is the better option to read and provide to users. The unsaturated data, with NaNs. Or data that is known to have saturated values in it, which we know aren't valid but don't know which values are bad. I'm not sure there is a correct answer here, not probably depends on the particular study. So perhaps it should be a flag that's passed in to the read function. I thi

[2020-06-26 06:46] cbrnr commented on #7926
👍  for tackling NIRSport (1 and 2) in a separate PR; I've already created #7922 to track progress.

However, the issue of saturated values could also apply to NIRScout devices (I assume it's a setting in the recording software), so this would then be a separate PR. In any case, 👍 for adding a flag to handle saturated values instead of automatically going for one specific option.

[2020-06-26 07:21] rob-luke commented on #7926
Ok interesting. Lets confirm this first. Once someone has identified the setting I can easily test on my machine.

[2020-06-26 08:29] Swy7ch commented on #7926
Yup. I guess the NIRSport has probe limitations due to its size and because it's meant to be moved - so it must be lighter/more resistant, I guess ?

Anyway the data was probed using a NIRSport 1 (8x8 configuration) through NIRStar 15.2

This is an interesting debate. I'm fairly new to the research world but I do believe one needs total control over their data. My main problem here is that I can't

[2020-06-26 08:41] cbrnr commented on #7926
So this is indeed specific to NIRSport. To "add another reader", we'd basically have to figure out the unique set of files that each device produces. Currently, this is only the case for NIRScout. I do think that these devices are still similar enough to implement everything in one reader - and yes, this means in `RawNIRX.__init__`.

I've linked example files for both NIRSport 1 and 2 in #7905 - w

[2020-06-26 09:23] rob-luke commented on #7926
Ok thanks for confirming this so quickly.

I suggest we add NIRSport support in a single PR rather than multiple issues. Can you take a few small test recordings and document them as in https://github.com/mne-tools/mne-testing-data/pull/51

It’s handy to know all the settings that are used to create the test data so we can retrospectively check if certain behaviour (such as in this issue) are caus

[2020-06-26 12:43] Swy7ch commented on #7926
I can take a few recordings yes, shall I just follow the steps you took in your PR ? I'm just wondering which montage you made to have usable data. @cbrnr data doesn' seem to contain triggers

[2020-06-26 12:56] rob-luke commented on #7926
From memory I was just making random patterns for the montage in the existing tests. Use whatever montage you prefer. Just be sure to take a screenshot of it, so that once we plot it in 3D with MNE we can verify it matches what you expect. Thanks

[2020-06-26 13:35] Swy7ch commented on #7926
No problem ! I assume I'd have to set the montage on my head too ? Sorry for the newbie questions haha

[2020-06-26 16:00] SebastianSpeer commented on #7915
@larsoner that worked well thanks.

I've now tried to run cluster-based permutation tests with TFCE but it crashes because I am running out of memory. When looking at the memory demands they increase very rapidly as soon as I execute the funciton. I've reduced the step size to 1 for testing and it now tries 28 different thresholds. Could this be due to the extra dimension added?

I've also increas

[2020-06-26 21:32] #7933 closed

[2020-06-26 22:39] rob-luke commented on #7926
Probably don’t need it on your head.

[2020-06-27 01:29] christian-oreilly opened #7937 "Error in the PLI implementation"
#### Describe the bug

I think the implementation of the PLI metric is wrong. The standard definition is:
[code]
Note that for a signal of N time samples, this PLI value is obtained as the average of N values. The MNE implementation of this metric follows the implementation of Ortiz and instead of computing this metric in the time domain (e.g. using the Hilbert transform to estimate the instantane

[2020-06-27 01:48] christian-oreilly commented on #7937
As an afterthought (why do we need to press "submit" to have these?), I guess that when resting-state continuous signals are "chunked" in epochs, the "epoch dimension" has a "temporal definition" to it so it still makes some sense in that case. But I don't think that it makes sense for epochs that have a meaning of "repetition" like in ERP studies... In any case, using the standard PLI definition

[2020-06-28 06:19] PappaBu opened #7938 "animate_topomap() without drawing contours?"
Is it possible to create an animation using [`animate_topomap()`](https://mne.tools/stable/generated/mne.Evoked.html#mne.Evoked.animate_topomap) without drawing contours?
I can hide contours in [`plot_topomap()`](https://mne.tools/stable/generated/mne.Evoked.html#mne.Evoked.plot_topomap) with option `contours=0`, but I can not find something like this in the `animate_topomap()`.
Is there a way aro

[2020-06-28 12:53] agramfort commented on #7938
yes this option is not implemented. Pull request very welcome to add this.

[2020-06-29 11:23] hoechenberger opened #7939 "Following the installation instructions for macOS yields an error message"
#### Describe the bug
Following the installation instructions for macOS  in the development version of the docs produces an error message, not a working MNE-Python installation

#### Steps to reproduce
Download the conda environment file from https://raw.githubusercontent.com/mne-tools/mne-python/master/environment.yml

Run
[code]

#### Expected results
A working environment should be created.

##

[2020-06-29 12:06] GuillaumeFavelier commented on #7939
Thanks for opening this @hoechenberger !

I have no ETA for 1) and I'm unable to debug on MacOS, maybe we could work on it together offline?

Meanwhile, between 2) and 3) I don't know what's the best. Any idea @larsoner , @agramfort ?

[2020-06-29 12:10] agramfort commented on #7939
how come this is working on CIs? can we modify the env such that it's using
python 3.7 if mac os? without creating a new environment file.

[2020-06-29 12:14] GuillaumeFavelier commented on #7939
The default on the CIs is `python 3.7`:

https://github.com/mne-tools/mne-python/blob/master/.travis.yml#L19

And the `python 3.8` job on Travis uses Linux:

https://github.com/mne-tools/mne-python/blob/master/.travis.yml#L33-L37

[2020-06-29 12:20] GuillaumeFavelier commented on #7939
We do something like this for `vtk`:

[code]

It does not work for `python` in your environment file @hoechenberger ?

[2020-06-29 12:23] hoechenberger commented on #7939
That is what we currently do. But this doesn’t respect that there is no VTK that would satisfy this requirement for Python 3.8. And you cannot use selectors in the environment file to pin Python to a specific version for a specific platform. That it works for pip packages is only a lucky coincidence:)

[2020-06-29 12:24] hoechenberger commented on #7939
Reading your question again I now see I slightly misunderstood it. The answer is: no, it wouldn’t work.

[2020-06-29 12:25] data-RanDan opened #7941 "Error while trying to read EDF file - not enough values to unpack (expected 3, got 0)"
Hi
This is my first time working with EDFs using Python.
This is the error i get when trying to open them.
not enough values to unpack (expected 3, got 0)

I couldn't find much information on-line, I saw that you answered a similar question in the past.
any idea how can i solve the problem?

[2020-06-29 12:40] agramfort commented on #7941
can you share a file to replicate the problem?

[2020-06-29 13:03] GuillaumeFavelier commented on #7814
What is the current situation on this @cbrnr ? Probably many things have changed since the issue has been opened.

[2020-06-29 13:04] agramfort commented on #7939
but if you set a global like PYTHON_VERSION=3.7 you can fix the issue?

[2020-06-29 13:04] cbrnr commented on #7814
I haven't seen this lately (but I didn't have too many PRs either). @larsoner?

[2020-06-29 13:08] larsoner commented on #7814
I haven't seen it in a while, let's optimistically close and reopen if need be

[2020-06-29 13:08] GuillaumeFavelier commented on #7911
I'm afraid `scale_data_colormap` might be need in `plot_vector_source_estimates` to update the colormap of the glyphs.

[2020-06-29 13:10] larsoner commented on #7939
I *think* that is `ci-helpers` specific, but I'm not sure.

Two options:

1. Just use `vtk` from conda
2. Set `python<3.8` in environment.yml

(2) has the disadvantage of making all platforms use < 3.8 when only OSX needs it. (1) should work at least until conda provides VTK 9 for macOS, but maybe if it's pointed out that it doesn't work they won't bother (?). Originally I was optimistic that usin

[2020-06-29 13:12] larsoner commented on #7911
Where? For PySurfer or PyVista? With my latest PR, I'd be surprised if it's the case for PyVista. If it is, then it seems like a bug. (And if things aren't working for PySurfer, it seems like probably a bug there, too, that should be fixed.)

[2020-06-29 13:15] GuillaumeFavelier commented on #7911
PySurfer, I think it's related to an issue opened a long time ago...

[2020-06-29 13:18] agramfort commented on #7937
would you have time to open a PR so we can see a clear diff and look at a
test?

[2020-06-29 13:22] GuillaumeFavelier commented on #7911
I think I found it: https://github.com/mne-tools/mne-python/pull/6510

[2020-06-29 13:24] larsoner commented on #7911
So it sounds like the bug was not completely fixed

[2020-06-29 13:33] christian-oreilly commented on #7937
Not in a near future but I can have a look at it when possible.

[2020-06-29 13:37] GuillaumeFavelier commented on #7789
Little update on this. With #7758 merged, there is now a "notebook" 3d backend available! This has been tested to work as expected on Jupyter Notebook.

About support for Google Colab, I tried setting it up with @drammock without much success so far. Mainly because we require `mesalib` from `conda` and configuring `conda` is not straightforward in this scenario...

FYI, I plan to move on to Jupyte

[2020-06-29 13:44] GuillaumeFavelier commented on #7939
I'll try 1)

[2020-06-29 13:46] YeZiyi1998 opened #7942 "Function plot incorrectly exit"
Here is my code.
[code]
The result is
[code]
and there is not expected graph output. My computer is mac and mne is the latest version for python3.

[2020-06-29 13:46] larsoner commented on #7939
Already on it, about to make a CI PR

[2020-06-29 14:01] agramfort commented on #7942
can you report what `mne.sys_info()` outputs?

[2020-06-29 14:08] YeZiyi1998 commented on #7942
Yes, Here it is.
[code]

[2020-06-29 14:10] YeZiyi1998 commented on #7942
I tried to install psutil and after that the result is:
[code]
However, still have the problem of "Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)".

[2020-06-29 14:37] cbrnr commented on #7939
In the long run it would be great if everything worked with VTK 9 though...

[2020-06-29 14:39] larsoner commented on #7939
Indeed, but VTK9 rendering on macOS seems to be pretty broken and I think the VTK folks need to fix it

[2020-06-29 14:41] larsoner commented on #7942
Probably another problem with the macOS backend. Can you try setting the env var `MPLBACKEND=Qt5Agg` or doing `import matplotlib; matplotlib.use('Qt5Agg')` and see if it gets rid of the segfault?

[2020-06-29 15:08] data-RanDan commented on #7941
[https://drive.google.com/drive/folders/1xJMhtwTYT73VGvZQQwbzMGXozAjgWI40?usp=sharing](url)

[2020-06-29 15:10] cbrnr commented on #7939
I'll see if 9.0.1 changed anything for the better though.

[2020-06-29 15:11] YeZiyi1998 commented on #7942
The segfault problem is solved but there is not image of 'raw.plot(duration=1, n_channels=3)' showed, while 'raw.plot_psd(fmax=50)' can show image accurately. Why is this problem occur?

[2020-06-29 15:11] GuillaumeFavelier commented on #7939
Thanks for letting us know, that would mean that we don't need to pin vtk anymore for MacOS

[2020-06-29 15:16] cbrnr commented on #7939
Yeah, I still get the black figure with 9.0.1 unfortunately.

[2020-06-29 15:18] cbrnr commented on #7942
Works for me with the default `osx` backend. @YeZiyi1998 try adding `block=True` in your call to `raw.plot`.

[2020-06-29 15:22] YeZiyi1998 commented on #7942
Thanks. Adding "block=True" really works. @cbrnr

[2020-06-29 15:23] cbrnr commented on #7941
The date seems to be the problem:

[code]

The file doesn't seem to be a valid EDF file though, EDFbrowser can't open it either and gives the following error:

<img width="532" alt="Screen Shot 2020-06-29 at 17 22 59" src="https://user-images.githubusercontent.com/4377312/86024427-4577df80-ba2d-11ea-9001-7fba47a5ddf0.png">

[2020-06-29 15:25] #7942 closed

[2020-06-29 15:26] GuillaumeFavelier commented on #7939
can you try a very simple pyvista script @cbrnr ?

The issue could totally be in the mne implementation.

Expected result:

![image](https://user-images.githubusercontent.com/18143289/86024687-98ea2d80-ba2d-11ea-9dac-97e3ef3ecd1e.png)

[code]

[2020-06-29 15:28] cbrnr commented on #7941
And opening the file in a hex editor confirms that this is definitely not a valid EDF file:

[code]

Could this actually be some other file format that was (accidentally) renamed to .edf?

[2020-06-29 15:30] cbrnr commented on #7939
Yes, I actually think it's the implementation, because you do draw a black image to reduce/eliminate flickering. It's probably drawn in the wrong order or something. This simple example works fine (although it uses `pyvistaqt` in contrast to what I tried in the notebook, but I guess this doesn't make a difference).

[2020-06-29 15:37] GuillaumeFavelier commented on #7939
If it works with this simple example, there is a way to make it work on mne, I'll open a issue/PR about that but I need help to try it out on MacOS.

Can I assume that it still does not work for you with the `notebook` 3d backend with `vtk 9.0.1` @cbrnr ? Let's come back to this one after we solve this.

[2020-06-29 16:04] larsoner commented on #7939
The simple example works for me, I'll see if I can figure out how to make `stc.plot` work

[2020-06-29 16:24] cbrnr commented on #7939
@GuillaumeFavelier I can help with macOS testing of course! Right, the notebook example still shows a black image with VTK 9.0.1.

[2020-06-29 18:18] hoechenberger commented on #7939
I can test on macOS too, but I didn't experience the issue @cbrnr had, so not sure if I can be of much help?

[2020-06-30 10:39] hoechenberger opened #7945 "Trouble installing Spyder into MNE conda environment"
@SophieHerbst reported trouble getting Spyder to work in the MNE `conda` environment which she created by following the [official installation instructions](https://mne.tools/stable/install/mne_python.html#installing-mne-python-and-its-dependencies) on macOS.

I could reproduce the issue, which is essentially caused by the fact that our [environment file](https://github.com/mne-tools/mne-python/bl

[2020-06-30 11:12] cbrnr commented on #7945
:+1: for switching to `conda-forge`. The `defaults` channel often lags behind several versions for a very long time.

[2020-06-30 11:24] cbrnr commented on #7939
cf https://github.com/pyvista/pyvistaqt/issues/15 for details on the example script

[2020-06-30 15:13] KSuljic opened #7947 "Extremely slow access to epochs after channel remapping."
I have two epoch lists. In one of the lists all channels have to be mirrored to the other side of the hemisphere (flipped). After that I want to concatenate both lists to one epoch file. So I'm using mne.rename_channels() to remap the channels of the one list. After that I'm using mne.equalize_channels() to get a uniform channel mapping of the two lists. After that I'm using mne.concatenate_epochs

[2020-06-30 16:15] drammock commented on #7945
It has always bothered me that an IDE would be installed into an environment and share dependencies with other packages one needs for one's work. I really wish they would provide installable binaries for all platforms. /end_rant

For cases of dependency conflict, Spyder's docs now recommend installing it into its own environment and setting its executable to the one in the mne environment. Perhaps

[2020-06-30 16:23] hoechenberger commented on #7945
Yes it's super bad, and I really mean **super bad**, but the devs still didn't get around fixing this, unfortunately. It's on their todo list (virtual env switcher), but as far as I know doesn't have an ETA.

Personally I'm against making the installation process even more complicated than it already is. It's already difficult enough for new users to get started; if anything, we should provide the

[2020-06-30 16:28] hoechenberger commented on #7945
@drammock
In any case, switching to `conda-forge`-based dependencies (#7946) would make things _a lot_ smoother already; we could even create our own deployment based on [Miniforge](https://github.com/conda-forge/miniforge). That would be neat…

[2020-06-30 16:51] hoechenberger commented on #7945
FWIW, I recommended PyCharm to @dnacombo; however, the free Community Edition has pretty limited functionality compared to the Professional version, which is unfortunate. And it's at least a year or two too early to suggest users pick VS Code, IMHO…

[2020-06-30 16:54] drammock commented on #7945
Agreed, though since spyder is installed into `base` environment by default as part of the standard anaconda distribution, this is what it would look like:

[code]

After that it should always be "launch spyder and do your work".

[2020-06-30 17:05] hoechenberger commented on #7945
@drammock
I was told that the reasoning behind the switch from "create a dedicated MNE environment" to the current "just dump everything in `base`, f*ck it!" in the installation instructions was that many (Python) newcomers already have so much new to learn, and virtual environments just added to this complexity and made the onboarding procedure much harder.

I do not like the current approach; ye

[2020-06-30 17:13] drammock commented on #7945
Yes. What I'm suggesting above only requires dealing with environments once, during installation.  After that, any time a user opens a terminal it will be in `base` env (if they followed anaconda install instructions), and if they type `spyder` to launch the IDE, it will *automatically* use the MNE environment for the spyder internal console and they won't have to think about it, it should just wo

[2020-06-30 17:17] hoechenberger commented on #7945
Ok, got you. Maybe it's worth a shot … still I'm not too happy :(

My idea would be to ask them to uninstall the currently installed version, and install the new one (using the updated installer). So they wouldn't have to fiddle with their environment at all… This is how things are handled with PsychoPy, and most beginners seem to be quite happy with it.

[2020-06-30 17:20] hoechenberger commented on #7945
Care to elaborate a little where things went wrong? (if you ever managed to figure it out?)

[2020-06-30 17:37] drammock commented on #7945
In this case it had something to do with it being an older Mac... [this issue](https://github.com/conda/conda/issues/9678) which also bit @cbrnr a while back I think.

[2020-06-30 17:44] hoechenberger commented on #7945
Interesting!
Well well well… wouldn't have happened with `conda-forge`, which doesn't use MKL! ;))
No but seriously, super annoying!

[2020-06-30 17:54] cbrnr commented on #7945
Actually, the problem was not MKL. They (accidentally) enabled the AVX flag, which broke NumPy on all computers with CPUs that didn't support this feature.

On topic: please let's not create a separate standalone installer. What's wrong with `pip install mne`? That's the default and most Pythonic way to install packages. I've been using it since forever and I never had any issues. Granted, I don't

[2020-06-30 17:57] hoechenberger commented on #7945
I'm not suggesting to get rid of this standard way of installing things. I'm just wondering how to make things easier for new users… Before they can `pip install` anything, they need to get Python up and running. And then, an IDE. It's complicated for non-developers.

[2020-06-30 18:02] cbrnr commented on #7945
I don't think this is true - installing Anaconda and then `pip install mne` is not a big problem for newbies. The most important dependencies are already installed. I've been teaching this method for several semesters now, and the only major complaint I've heard is that the separation between `conda` and `pip` seems to be difficult to grasp (and I agree). But nothing that cannot be explained in a

[2020-06-30 18:29] drammock commented on #7945
@cbrnr, quoting myself from above, this is why even the simple `pip install mne` is problematic if users prefer Spyder:

To my mind the right solution is to use an IDE that isolates its dependencies from the dependencies of MNE-Python. Perhaps @hoechenberger can re-direct his efforts creating an installer toward contributing to the Spyder project so that it works the way we think it should (either

[2020-06-30 18:40] cbrnr commented on #7945
Updating MNE means `pip install -U mne`, this has never broken my Spyder env.

[2020-06-30 18:56] hoechenberger commented on #7945
Maybe the first question we need to discuss is: is Spyder the right choice? Or are there other viable alternatives out there? (I know of none, but …)

[2020-06-30 19:19] cbrnr commented on #7945
I think Spyder is pretty good for beginners or people coming from MATLAB. It's also preinstalled with Anaconda.

[2020-06-30 19:24] SophieHerbst commented on #7945
Hi! Just to pitch in from the user perspective:
+1 for recommending an IDE, with good documentation on how to set up (spyder works well for people coming from Matlab, I haven't tried PyCharm)
- have one well-documented routine for installation, as simple as possible, robust across operating systems, and ideally not changing with new releases
You have to take into account that many people in CogNeu

[2020-06-30 19:24] SophieHerbst commented on #7945
That said, I am in favour of a dedicated mne environment (after re-installing anaconda 3 times in the last 2 days), but it needs to be explained how to handle it.

[2020-06-30 19:35] cbrnr commented on #7945
I have a short article on [how to set up Python for EEG/MEG analysis](https://cbrnr.github.io/2017/10/09/setting-up-python/). I don't think that it is overly complicated. It uses Anaconda with no additional environments, and results in Spyder plus MNE - i.e. a working environment. From my experience, psychology students have no problems following these instructions.

[2020-06-30 19:46] SophieHerbst commented on #7945
Indeed, it is very didactic! Would be very helpful to have such documentation on the mne installation website.
+ combined with the environment file that gives you all the packages at once

[2020-06-30 19:56] agramfort commented on #7945
I tell new comers to use VS Code these days. Python support is excellent.

[2020-06-30 19:59] #7939 closed

[2020-06-30 20:01] agramfort commented on #7947
it's really hard to debug/profile without a script to replicate.

[2020-06-30 20:04] KSuljic commented on #7947
Got it, I will post it tomorrow. Thanks for the reply.

[2020-06-30 20:07] cbrnr commented on #7945
Spyder is still a good place to start. @SophieHerbst my point is also that you don't need an environment file because `pip install mne` is all that's needed to get a fully functional MNE dev env. Many people won't need optional features such as coregistration, so I don't see the point in installing everything. A dedicated section in the docs could describe what's necessary to get everything.

[2020-06-30 20:26] hoechenberger commented on #7945
Are those Python / programming beginners?

I still feel it's difficult to set up and to navigate, and I'm not sure it's very beginner friendly as it heavily relies on seemingly odd keyboard shortcuts (Cmd-Shift-P, anyone?) Also documentation is often times not rendered properly :( And 12345 other minor quirks I encounter during daily use, but they mostly concern my development work and probably wo

[2020-06-30 20:28] drammock commented on #7945
@cbrnr:

that is good to hear.  But it is not a guarantee as long as Spyder and MNE both depend on some of the same packages and are installed into the same environment.  This is why I made [the suggestion above](https://github.com/mne-tools/mne-python/issues/7945#issuecomment-651918679) that we at least consider advising users to follow Spyder's recommendations for such cases (install Spyder and

[2020-07-01 07:15] hoechenberger commented on #7945
It's well-written indeed, nice work!

Since you're eventually recommending `conda`-based Python distributions, I'm wondering if we shouldn't simply put some effort into fine-tuning the [`mne` recipe](https://github.com/conda-forge/mne-feedstock/blob/master/recipe/meta.yaml) on `conda-forge`; that way, users would be able to simply run `conda install -c conda-forge mne spyder` and be all set…

[2020-07-01 07:45] cbrnr commented on #7945
It's funny that I recommend `conda` but I don't use it myself, but especially for beginners and people on Windows it really is a good solution. However, this is only true if you stay in the `base` env and use the `defaults` channel. You are suggesting to install from `conda-forge`, so this would have to go into a new env - which is probably something we'd want to avoid.

So far, `pip install mne`

[2020-07-01 07:48] hoechenberger commented on #7945
Going off-topic, but since @agramfort suggested VS Code: they implemented a new language server that is supposed to improve the Python experience: https://devblogs.microsoft.com/python/announcing-pylance-fast-feature-rich-language-support-for-python-in-visual-studio-code/
I will explore this a bit.

[2020-07-01 07:51] hoechenberger commented on #7945
I don't understand the reasoning behind that, why is this only true if you stay in `base`? I think there's even discussions on how to make `base` something of a read-only thing because users tend to break it all the time… I try avoid installing anything into `base` at all costs. Do you mean to say that the added complexity of using environments is problematic? (I would agree)

[2020-07-01 08:07] SophieHerbst commented on #7945
@cbrnr My point is that the novel user won't know which package will be needed for what, so if she just pip installs mne, she will later encounter errors (module not found) that she needs to understand can be fixed by installing the respective module. -> this can be fixed by a good documentation, explaining what each package is needed for, and how to get it

However, I find it convenient to have a

[2020-07-01 08:15] hoechenberger commented on #7945
Couldn't agree more!

[2020-07-01 08:18] cbrnr commented on #7945
Wait until you want/need to upgrade - you will have to care about it again. Packaging is not trivial, but the fewer packages we depend on, the easier it will get. Installing everything (the environment file also contains dev packages that users won't need such as the various `pytest` packages) will absolutely make that more difficult.

[2020-07-01 08:22] hoechenberger commented on #7945
That's why I'm very much in favor of providing a self-contained standalone bundle with all dependencies. And users don't update by fiddling with the Python env, but by removing the previously installed standalone version and installing the new one.

[2020-07-01 08:23] hoechenberger commented on #7945
This is trivial to fix: we provide separate env files for users and devs. I'm actually surprised we're not doing this already.

[2020-07-01 08:34] cbrnr commented on #7945
I remember discussing this once, didn't we also want to provide an env for MNE base? So we could split it up into base, full, and dev?

[2020-07-01 08:35] cbrnr commented on #7945
If by standalone you mean environment then :+1:!

[2020-07-01 09:27] PappaBu commented on #7938
Sorry, but I'm new and just an ordinary user. How can I ask to add this option to the MNE-Python?

[2020-07-01 11:29] Nichalas commented on #6488
Hi! I have the same error with a dataset containing only MEG data.
Here you can find the dataset:
https://drive.google.com/file/d/1s3Ofe4RCkV5xp-UG-EdNVLtp3c6o8z6h/view?usp=sharing

[2020-07-01 12:13] KSuljic commented on #7947
Unfortunately, I can't replicate the issue with sample data. The reason is probably that in my data I have around 400 Event IDs whereas here one has only 4. I'm flipping 200 out of these 400 IDs. Here I'm only flipping 2 out of 4. After concatenation of the epoch list with the 400 IDs of which 200 have flipped channels, the issue arises when I try to create evokeds out of them.

The reason I'm fli

[2020-07-01 12:41] agramfort commented on #7947
@KSuljic you can make fake events using sample data to replicate the issue

[2020-07-01 17:38] drammock commented on #7945
Separating the questions:

a) **How should users install Python?**  It's my impression that there's agreement that conda is the way to go here: the only way to get some approximation of the same software environment across all platforms.  There is still potentially some latitude here in recommending Anaconda vs Miniconda (or possibly Miniforge).

b) **How should users install MNE-Python?** Options

[2020-07-01 18:19] hoechenberger commented on #7945
Thanks for your work, @drammock!

I'd like to once again pitch a third option, which is providing an installer that includes a full-fledged working environment with all dependencies, like the PsychoPy standalone distributions.

[2020-07-01 18:30] larsoner commented on #7814
Not dead, happened in #7952

[2020-07-01 19:22] KSuljic commented on #7947
Thank you for the hint. I could replicate the issue to some extend but in my code the difference is stronger:

Time to evoke unflipped epochs: 0:00:00.056981
Time to evoke flipped epochs: 0:00:12.620404

It seems not much but in my analysis it makes out of 0.8s -> 3.5h.

Thank you for your aid.

`####
# Remap-Dict
OriginalChannels = ['Fpz',
 'Fz',
 'FCz',
 'Cz',
 'CPz',
 'Pz',
 'POz',
 'Oz',
 'Fp1

[2020-07-01 19:36] KSuljic commented on #6375
This should fix this, right?

https://mne.tools/stable/generated/mne.channels.equalize_channels.html#mne.channels.equalize_channels

[2020-07-01 19:55] cbrnr commented on #7945
I'm -100 for a separate installer. First, creating this for Windows and Mac is a tremendous amount of work. Second, I'm afraid if this will be the recommended method, installing MNE via pip will become less important and eventually won't work because there is a working standalone installer. PsychoPy is an example of such a behavior, although it has become easier to pip install recently. I would re

[2020-07-01 19:57] drammock commented on #7945
agreed

[2020-07-02 02:03] drammock commented on #7938
@PappaBu this issue will serve as a feature request.  No guarantees on how soon it will get added though.

[2020-07-02 05:36] agramfort commented on #7945
Agreed

[2020-07-02 07:30] agramfort commented on #7947
I confirm the weirdness:

[code]

@larsoner any hint?

[2020-07-02 11:14] dominikwelke commented on #7671
hi there,

I am also following this discussion, since I'm interested in analysing frequency tagging data using mne.
I met @kalenkovich via the mne mailing list and we started discussing working on a public facing package for that.

Anyway, on the way he found [ssvepy](https://github.com/janfreyberg/ssvepy) that does exactly this. It consists of a class carrying frequency spectra (for epoched data

[2020-07-02 13:48] KSuljic commented on #7947
The issue is also reproducible without mne.rename_channels(), only by appending the epochs to a list and concatinating with mne.concatenate_epochs().

[2020-07-02 14:29] hoechenberger commented on #7945
It's not if you use the right tools. I just built one for macOS in 15 min, you may download it from
https://drive.google.com/file/d/12TZ_JXBzxnRWuJVtKsOn5M7aYuZ15aRr/view?usp=sharing

It's based on the `conda-forge` MNE-Python package and by default installs MNE to `~/mne-python`. After installation you can simply open a terminal,

[code]
and you have a working IDE.

Nobody is going to deprecate P

[2020-07-02 15:03] drammock commented on #7947
In that case, can you edit your post above to simplify the code? The more minimal your example is, the easier it is for us to track down the problem.

[2020-07-02 15:07] cbrnr commented on #7945
I'm just afraid that the PyPI package *might* be demoted to second class if everything works so great with the standalone installer. Like I said, devs might be inclined to "just fix a problem in the standalone installer" and leave the PyPI package in a less than ideal state. It's hard to say what will happen in the long run if there are two MNE packages to maintain.

Regarding PsychoPy, I get the

[2020-07-02 15:21] KSuljic commented on #7947
Done. It seems the issue has something to do with appending the epochs and then using mne.concatenate_epochs(). Is there any way to mirror/flip the channels in place (meaning in the original epoch instance)? Then I wouldn't need concatenate_epochs(). I tried rename_channels() on the original epoch instance and reorder_channels(). After that I tried equalize_channels() in both cases. Both times it

[2020-07-02 17:00] hoechenberger commented on #7945
Thanks for sharing your thoughts, @cbrnr!

The installers created via `constructor` deploy a full-fledged `conda`-based Python distro, which would avoid some of the problems you brought up.

But since the current consensus seems to be that a standalone package is not really desirable, I'd like to come back to one of @drammock's proposals:

I think all of these issues can be addressed. My perceptio

[2020-07-02 17:05] cbrnr commented on #7945
That's a good suggestion @hoechenberger!

[2020-07-02 18:20] drammock commented on #7945
I don't think the core issue is related to different PyQt naming schemes.  It's related to the fact that the IDE depends on some of the same packages as MNE-Python does.  And as long as MNE-Python continues to be under heavy development, we need the flexibility to be able to update our dependency version requirements without having it break user's IDEs.  Put more plainly, we shouldn't be prevented

[2020-07-02 18:33] hoechenberger commented on #7945
@drammock Everything you said makes a lot of sense to me.

Does the Anaconda navigator also support installing packages via `pip`?

If not, we could look into ways to build & publish nightly `conda-forge` packages?

Sounds great, I'm curious to hear how it went!

[2020-07-02 18:47] larsoner commented on #7947
Here is an example that can be copy-pasted:

<details>

[code]

</details>

The output is:
[code]
i.e., the problem is `deepcopy` on a list of list of str that has lots of elements.

One fix would be to make it a tuple of tuple of str, which is immutable. I actually like this change because `epochs.drop_log` is not meant to be modified directly by users anyway.

[2020-07-02 18:48] larsoner commented on #7947
(and it will speed up all `epochs.copy` operations, not just the one associated with `epochs[...] -> epochs.__getitem__ -> epochs._getitem(..., copy=True)` which is the cause of the slowdown here)

[2020-07-03 07:35] agramfort commented on #7947
+1 for using tuples then

[2020-07-03 07:38] KSuljic commented on #7947
Thank you very much for looking into it.
Is there any direct fix I could apply now?

[2020-07-03 07:40] agramfort commented on #7945
I also like the idea of keeping IDE and mne in separate environments.

also just as a disclaimer when I teach mne and people do not need any 3D I
tell students
to do:

pip install numpy scipy matplotlib mne

and it just works. So technically mne can be used with a very minimal
environment.
Maybe we don't say this enough...

[2020-07-03 08:25] datalw opened #7956 "Ticks missing for small scale data in topomaps"
I am trying to plot power of different frequency bands using topomap with the same scale, so I can have an overview of comparison. But the topomaps with very small scale do not have complete colorbar ticks. Please see the figures below.
I do not want to leave only one colorbar in the figure due to layout reasons regarding some other figures. Does anyone know how I can let the ticks show correctly

[2020-07-03 10:09] cbrnr commented on #7945
Yes, that's exactly what I was thinking! This should be the default way of installing MNE, and only when you need 3D and other more advanced functionality does it get more complicated.

Actually, just `pip install mne` is sufficient because it pulls in the deps automatically.

[2020-07-03 12:57] hoechenberger commented on #7751
Hey @drammock, thanks for working on this!

One thing I've been wondering for a while now is why for

I cannot click-and-drag to select & view e.g. a topoplot & the PSD of a segment? Wouldn't this be a useful functionality when one is outside of annotation mode?

[2020-07-03 13:35] sappelhoff opened #7958 ""reject_tmin" and "reject_tmax" params in Epochs are not applied for "reject_by_annotation""
first reported [on gitter](https://gitter.im/mne-tools/mne-python?at=5efdb0046c06cd1bf469ce70)

#### Describe the bug
The `reject_tmin` and `reject_tmax` parameters from [`Epochs`](https://mne.tools/dev/generated/mne.Epochs.html?highlight=epochs#mne.Epochs) are not used for the `reject_by_annotation` parameter. But instead only for the `reject` and `flat` parameters.

Look at [this part in the cod

[2020-07-03 13:50] bloyl opened #7959 "Feat Requests: pyvista - Brain/timeviewer"
The pyvista, stc plotting is great and already really useful for reviewing data.

here are a few thoughts (in no particular order) I've had using it as part of an analysis pipeline for the last week.

1) there is no `brain.remove_labels()` which is mentioned in the `add_label` docs.
2) It would be useful to return vertices that are interactively added using `timeviewer`. This would let you save th

[2020-07-04 22:16] drammock commented on #7945
In a fresh Windows 10 VM, I did the following:

1. install Anaconda via GUI installer
2. open an anaconda command prompt from the Anaconda navigator GUI
3. run `conda install -n base nb_conda_kernels` (so that jupyter is aware of all the conda environments)
4. download MNE-Python `environment.yml` to Desktop
5. edit `environment.yml` to change `name: base` to `name: mne`, and to add `spyder-kernel

[2020-07-05 14:25] agramfort commented on #6488
I can replicate the problem too. I have no clue why we impose a compensation grade of 0 for reference channels.
in the shared dataset there are 27 reference channels with a compensation grade of 1 and makes our reader crash.

@bloyl or @larsoner any idea?

[2020-07-05 19:56] #7932 closed

[2020-07-05 21:53] dimitriospantazis opened #7960 "tutorial bug plot_stats_cluster_erp.py"
#### Describe the bug
Tutorial plot_stats_cluster_erp.py does not use the electrode connectivity matrix on the spatiotemporal cluster test. Connectivity 'con' is computed in line 79, but it is not used in line 88.

[2020-07-05 22:08] bloyl commented on #6488
I didn't think the reference channels changed when you applied gradient
compensation. So I'm not sure how/why the reference channels get marked as
having compensation applied.  Our data that is acquired with 3rd order
compensation turned on doesn't have this problem. Maybe if I turn it on/off
on processing I could get a dataset in this state.

Nichalas, is this raw ctf data or has it been processe

[2020-07-06 07:46] agramfort commented on #7960
fixed in https://github.com/mne-tools/mne-python/pull/7961/files

[2020-07-06 09:03] GuillaumeFavelier commented on #7959
Thanks for the nice feedback!

1) This feature was not on the top of the list but this issue can definitely increase the priority
2) Good idea! We could create a function `get_picked_points()` or `get_picked_vertices()`, what do you say?
3) Only the time controllers can be linked at the moment (colorbar in the todo list). I can see the camera controls being shared easily and picking could be trick

[2020-07-06 09:20] GuillaumeFavelier commented on #7901
Not directly related but I should probably rename the `time_viewer` selected as reference in `LinkViewer`:

https://github.com/mne-tools/mne-python/blob/master/mne/viz/_brain/_timeviewer.py#L1221-L1222

[2020-07-06 09:25] hoechenberger commented on #7901
Heh. Do we have a good alternative? `main`, perhaps?

[2020-07-06 09:26] GuillaumeFavelier commented on #7901
`main` or just simply `reference` should do the trick?

[2020-07-06 09:27] #7960 closed

[2020-07-06 09:31] hoechenberger commented on #7901
How about
[code]

[2020-07-06 10:05] agramfort commented on #7959
4. is what mne_analyze does historically so I think there is indeed a user
base for this. I can do you a demo

[2020-07-06 12:12] KSuljic commented on #7947
@agramfort @larsoner Can I fix this by myself anyhow (with tuples?) or do I have to wait for an update? Unfortunately, due to this issue my analysis came to a stop. Thank you!

[2020-07-06 12:20] cbrnr commented on #7901
Feel free to rename, but master without slaves should be fine (because masters can also have apprentices).

[2020-07-06 13:12] Nichalas commented on #6488
We tried to apply an offline 3rd order compensation and the error remained.
Then, we did a test measurement with 1st and 3rd order (data attached) and the 3rd order dataset could be successfully imported.

dataset: https://drive.google.com/file/d/16yZ0fdT24i3lK3D6jvgpn70VWBmZXFG1/view?usp=sharing

[2020-07-06 13:27] agramfort commented on #6488
so you have a pb with data recorded using 1st order without any
processing applied.

If so we should fix this. Can you read the files easily with
Brainstorm or Fieldtrip?

[2020-07-06 13:29] Nichalas commented on #6488
Yes, I think this is the case.
I didn't have any issue loading the data with Fieldtrip (haven't tried with Brainstorm).

[2020-07-06 13:50] larsoner commented on #7947
You can try doing `epochs.drop_log = [[]] * len(epochs)` before subselection to see if it helps. If it doesn't, then you can do `epochs.drop_log = []`. Neither are actually correct, but they might allow you to continue your analysis until we fix the slowness.

[2020-07-06 14:35] GuillaumeFavelier commented on #7901
Thanks all for the suggestions, I decided to rename into `leader` because it suits the behaviour perfectly. And sorry for the noise on the issue.

[2020-07-06 15:06] larsoner commented on #6488
I added this back in #3440. Perhaps we can try disabling the check and check to see if forwards computed in both cases match...?

[2020-07-06 15:48] larsoner commented on #7958
Agreed, @sappelhoff do you have time to look into it?

[2020-07-06 16:24] SaadEphlux opened #7966 "Value Error Read Raw EGI Files"
Hi all, I am trying to read the raw egi file can anyone help me with this error.

![image](https://user-images.githubusercontent.com/56433390/86616332-1f26e680-bfcf-11ea-9019-3f4632b704c1.png)

[2020-07-06 16:54] sappelhoff commented on #7958
yes, I'll look into it!

[2020-07-06 18:10] larsoner commented on #7966
Can you upload the file somewhere so we can look? Do you get this error if you use an EGI reader using the official EGI software?

[2020-07-06 18:26] cbrnr commented on #7945
For reference, I finally found where we discussed providing an `mne-base` package (just like `matplotlib-base` is apparently now a thing): https://github.com/cbrnr/mnelab/issues/153#issuecomment-638687376

[2020-07-06 18:33] hoechenberger opened #7969 "Add quantity to axis labels in Evoked.plot()"
#### Describe the problem
Currently, `Evoked.plot()` produces a figure like this:

![](https://mne.tools/stable/_images/sphx_glr_plot_evoked_whitening_001.png)

As you can see, the abscissa is labeled in the form `Quantity (unit)`; however, the ordinates are labeled as `unit` only.

- This is inconsistent.
- This violates recommendations I've picked up during my engineering education (I agree that

[2020-07-06 18:39] cbrnr commented on #7945
I tested this on my Mac and it works as you've described.

[2020-07-06 18:43] larsoner commented on #7969
I don't think "Signal" or (what would probably be my preference) "Amplitude" adds enough understanding here to justify eating the figure space

[2020-07-06 19:11] SaadEphlux commented on #7966
I will have to ask my team if I can share the file or not since its not mine. We dont have NETSTATION available to us now and due to COVID its difficult to get it. Is there any other EGI reader?

[2020-07-06 19:29] drammock commented on #7945
Thanks for testing @cbrnr.  I'll open a PR with changes to the installation instructions that will hopefully make this all easier for everyone.  (I'll include your suggestion to have simpler `pip` instructions for users who don't need 3D plotting).

[2020-07-06 19:56] cbrnr commented on #7966
You could try http://biosig.sourceforge.net/ - the main toolbox is for MATLAB, but there is also a Python port available. I think BioSig can read EGI: http://pub.ist.ac.at/~schloegl/biosig/TESTED

[2020-07-06 22:16] #6488 closed

[2020-07-07 08:26] SaadEphlux commented on #7966
Thanks for the suggestion I will try this out. Any other suggestions?

[2020-07-07 10:11] agramfort opened #7973 "FR: REST method for EEG re-referencing"
fieldtrip implements the REST method for EEG data re-referecing. See:

https://github.com/fieldtrip/fieldtrip/blob/master/preproc/ft_preproc_rereference.m#L140

it's actually quite simple.

EEG folks : @cbrnr @hoechenberger @sappelhoff ... do you see an interest in this?

[2020-07-07 10:13] sappelhoff commented on #7973
I think it's interesting and I'd certainly like to try it on my data if it were available in MNE. But I don't feel an urge to implement it myself :)

[2020-07-07 10:18] hoechenberger commented on #7973
I read about this method recently, but I was not convinced that it would be worth the effort to implement and use it. But of course, once we do have an implementation, we could run some quantitative comparisons :)

Would certainly be nice to have it in MNE! What would the API look like? `mne.set_eeg_reference('REST')`?

[2020-07-07 10:22] agramfort commented on #7973
yes

mne.set_eeg_reference('REST', fwd=fwd)

[2020-07-07 11:06] cbrnr commented on #7973
I'm probably not going to use it anytime soon because the additional requirements (lead field matrix) do not seem to yield strikingly improved results. But if anyone wants to implement it I won't object of course. Note that a Python implementation already exists here: https://github.com/HaoZ94/restpython

[2020-07-07 12:27] #7947 closed

[2020-07-07 12:54] #7958 closed

[2020-07-07 13:00] datalw commented on #7956
No ones know why this is happenining? It also happens if I only show one colorbar using a single plot_topomap function.
![Figure_3](https://user-images.githubusercontent.com/45690539/86785195-a3767980-c062-11ea-99ab-41e2fe4989b3.png)

[2020-07-07 13:35] eioe opened #7975 "to_data_frame() method for EpochsTFR objects"
Are there plans to implement a `to_data_frame()` method for `EpochsTFR` and `AverageTFR` objects?

I would like to export/save the according data for further analysis in R.
I just recently learned about the `to_data_frame()` methods for `Epoch` and `Evoked` objects and find them terrifically useful. Would be great to get the same luxury for tfr data.

I'm also thankful for hints regarding major ob

[2020-07-07 16:13] larsoner commented on #7975
I think it would be fine to implement this for the TFR objects, do you want to give it a shot?

[2020-07-07 18:57] eioe commented on #7975
I will see what I achieve. However, I'm still quite new to MNE and have little experience with PRs into professionnally mainatained projects. So this will take a while and it's likely that I will come back for help.

If someone else feels like implementing this earlier, please go for it. :)

[2020-07-07 19:02] larsoner commented on #7975
No problem! We're here to help people work through the contributing process, so feel free to take a stab at an initial implementation, open a pull request, and we can iterate from there. It can help to read the [contributing guide](https://mne.tools/dev/install/contributing.html#overview-of-contribution-process) to help get oriented with the overall process.

[2020-07-07 19:11] eioe commented on #7975
Thanks! Yes, I worked through the guide and set up a local dev enviroment.
I'll come back when I hit a wall.

[2020-07-07 20:02] dengemann commented on #7975
Sounds cool! Keep me in the loop. We can then add simultaneously a related vignette to mne-r: https://mne.tools/mne-r

[2020-07-08 11:52] bloyl opened #7977 "[BUG] 3d points with opacity < 1 are invisible"
On (some?) linux virtual machines that use mesa_gl rendering, you can't visualize 3d points with any level of opacity. This affects `mne coreg`, `plot_alignment` etc.

You can recreate the issue by running https://mne.tools/dev/auto_examples/visualization/plot_eeg_on_scalp.html#sphx-glr-auto-examples-visualization-plot-eeg-on-scalp-py.

the figure below shows 2 plots. On the right is the default p

[2020-07-08 11:56] bloyl commented on #7977
I should note this is a problem for both mayavi and pyvista backends.

here is the output from the new sys_info:

[code]

[2020-07-08 12:08] agramfort commented on #7977
I cannot replicate on my mac but I guess it's expected

[2020-07-08 12:51] larsoner commented on #7977
This is almost certainly a MESA bug, but VTK might give us some way to force the rendering to work. @bloyl instead of making both opaque, can you check instead if setting the head surface opacity to 0.999 works?

[2020-07-08 12:56] bloyl commented on #7977
if I set the opacity of the surface < 1 it disappears.

[2020-07-08 13:03] larsoner commented on #7977
Any way you can upgrade your MESA version? You have 18.3.4 and 18.3.6 is what CircleCI uses, and it produces all of our rendered docs...

[2020-07-08 13:06] bloyl commented on #7977
That is just what I was hoping to hear!

[2020-07-08 13:11] larsoner commented on #7977
... and if you want to try something else quicker before that, try running the same `xvfb` line [as CircleCI](https://github.com/mne-tools/mne-python/blob/master/.circleci/config.yml#L66), then run something like `DISPLAY=:99 python some_script_that_saves_a_screenshot.py`, and see if that works. If that works but locally rendering doesn't, it indicates that MESA is not the problem, but rather your

[2020-07-08 13:13] larsoner commented on #7977
From the [18.3.5](https://docs.mesa3d.org/relnotes/18.3.5.html) and [18.3.6](https://docs.mesa3d.org/relnotes/18.3.6.html) release notes I don't see anything immediately suspicious, but who knows

[2020-07-08 15:06] sappelhoff opened #7978 "DOC: order of operation in TFR functions needs to be clarified"
issue came up here: https://gitter.im/mne-tools/mne-python?at=5f05de658342f4627400eee5

the tfr_morlet for time frequency decomposition has a parameter average which says:

The docs need to be updated to make it clear what the order of operations is. First averaging then decomposition? Or the other way around? What are the steps?

[2020-07-08 16:07] #7945 closed

[2020-07-08 16:34] hoechenberger commented on #7945
@SophieHerbst it would be great if you could let us know how the revised installation instructions work for you, your students, and your colleagues!

[2020-07-08 17:29] larsoner commented on #7956
I can reproduce. @drammock it's possible this is related to the recent colorbar refactoring, can you take a look?

[2020-07-08 18:42] bloyl commented on #7978
I'm relatively confident that the order is
1) decomposition
2) averaging

if you do the following
[code]
I'm pretty sure that `a == b.average()`

[2020-07-08 18:49] sappelhoff commented on #7978
That makes me wonder why there is an `average` parameter at all --> [mne.Epochs](https://mne.tools/dev/generated/mne.Epochs.html) doesn't have one either? :thinking:

[2020-07-08 18:54] drammock commented on #7956
Turns out not to be related to the recent refactor. The reason this is happening is that, if contour lines are drawn, the colorbar tick marks are set to match the actual contour line values that are plotted.

https://github.com/mne-tools/mne-python/blob/2965cc3644538c97b297f131bbb46ce9f954ea6f/mne/viz/topomap.py#L1763-L1764

Since your third plot (gamma band) has very low variance compared to the

[2020-07-08 19:40] agramfort commented on #7978
the average avoids storing all the TFRs in memory as the averaging is done
online.

[2020-07-08 20:09] bloyl commented on #7978
I think there might be a problem in the test

The following line in the test should fail
https://github.com/mne-tools/mne-python/blob/2965cc3644538c97b297f131bbb46ce9f954ea6f/mne/time_frequency/tests/test_tfr.py#L109
but it passes because `assert_array_almost_equal` only checks 6 decimal places and `(Pdb) power.data.max()
2.1955190395488294e-21`

and in fact `assert_array_almost_equal(power.data,

[2020-07-08 20:14] larsoner commented on #7978
Yeah that test looks broken. We should move to `assert_allclose` and probably just use `rtol` there (unless we expect some near-zero values, in which case a suitable `atol` should be chosen based on what "zero-like" means for the data)

[2020-07-08 20:16] agramfort commented on #7978
this test makes no sense. You should not expect the TFR of the epochs to be
the same as the evoked.

[2020-07-08 20:19] larsoner commented on #7978
The critical part is where is the magnitude taken. decomp/mag/ave will be different from decomp/ave/mag (with the latter being equivalent to ave/decomp/mag).

You should expect the TFR averaged across epochs to be the same as the TFR of the evoked if the magnitude is taken at the end (or not at all) for both. Maybe that's what the test was trying to check? And maybe it was wrong about when the ave

[2020-07-08 20:21] agramfort commented on #7978
for me code is correct but test is broken.

[2020-07-08 20:23] bloyl commented on #7978
I agree with @agramfort and think the test was in error. the procedure to compute total power is to decomp/mag/ave. otherwise you are computing evoked total power which isn't (generally) what you want.

[2020-07-08 20:25] bloyl commented on #7978
I should note that the surrounding `assert_array_almost_equal` are testing meaningful things and currently are trivially passing because of the lack of a `decimal` parameter

[2020-07-08 20:26] larsoner commented on #7978
Sounds reasonable to me, @bloyl would you be up for fixing the code to use `assert_allclose` with `rtol` only and document the order of transformations in some TFR computing function (and maybe refer other ones to look at the Notes for that one)?

[2020-07-08 21:07] bloyl commented on #7978
Sure although Docs aren't exactly my strong suit.

@sappelhoff what do you think of
[code]

[2020-07-09 07:06] sappelhoff commented on #7978
I think that's good but I would add some more detail:

[code]

[2020-07-09 07:09] birajstha opened #7981 "RuntimeError: info channel name inconsistency detected, please notify mne-python developers"
Hello
I am trying to make a topographic plot for EEG Motor imagery dataset from physionet. I am getting this error

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-18-65a7c7ac8197> in <module>
----> 1 Data.set_montage(montage)

<decorator-gen-20> in set_montage(self, montage, rais

[2020-07-09 07:12] birajstha commented on #7981
https://github.com/birajstha/Motor_imagery/blob/master/MI_viz.ipynb

[2020-07-09 08:39] agramfort commented on #7981
did you do :

Data.info['ch_names'] = [chn.strip('.') for chn in Data.info['ch_names']]

you should not change manually the info

you can do this with rename_channels eg:

https://mne.tools/dev/generated/mne.io.BaseRaw.html#mne.io.BaseRaw.rename_channels

[2020-07-09 12:20] HanBnrd opened #7984 "Feature request: Average over channels"
Hello!

(This issue has been raised in the mne_analysis mailing list)

#### Describe the problem
There is currently no way to average signals over channels on a Raw, Epochs or Evoked object easily. One can average signals over channels with the "combine" parameter in some visualisation options but it is not possible to modify a Raw, Epochs or Evoked instance by performing an average over channels.

[2020-07-09 16:26] birajstha commented on #7981
Thank you so much!! It worked

I used
Data.rename_channels(lambda x: x.strip('.'))

then,  Data.rename_channels(ch_map) to rename the remaining channels.

[2020-07-09 16:27] #7981 closed

[2020-07-09 17:26] #7956 closed

[2020-07-10 11:07] hoechenberger opened #7992 "Evoked.plot_white() doesn't support spatial_colors"
#### Describe the problem
`Evoked.plot_white()` currently doesn't accept a `spatial_colors` kwarg to allow plotting traces in colors corresponding to channel locations.

[2020-07-10 16:47] hoechenberger opened #7993 "plot_projs_topomap() of data with EEG projection creates "EEG-style" topoplots even for MEG data"
#### Describe the bug
Plotting SSP projectors via `Raw.plot_projs_topomap()`, we noticed that -- in some situations -- the visualized MEG fields didn't look quite right, i.e., looked like circular EEG topomaps instead like the expected "helmet-shaped" topomaps. Turns out, this only happened when among `info['projs']` was also an EEG average reference projector.

#### Steps to reproduce
[code]

###

[2020-07-10 18:15] amchagas opened #7995 "Add MNE to open-neuroscience.com"
Hello!

We are reaching out because we would love to have your project listed on [Open Neuroscience](<https://open-neuroscience.com>), and also share information about this project:

Open Neuroscience is a community run project, where we are curating and highlighting open source projects related to neurosciences!

Briefly, we have a website where short descritptions about projects are listed, with

[2020-07-11 01:13] rob-luke commented on #7984
I would use this feature if it existed. If you are going to create this I would have the function take a dictionary similar to plot image... `group_by=dict(Left_ROI=[1, 2, 3, 4], Right_ROI=[5, 6, 7, 8])`

[2020-07-11 10:12] HanBnrd commented on #7984
Good idea thank you @rob-luke.
Do you think it would be better to have this doing only an average (in which case we could have an "average_channels" method) or is it better to also have the possibility to get the median instead (in which case a "combine_channels" method would be more appropriate I guess)?

[2020-07-11 10:55] agramfort commented on #7984
Be careful that you then need to discard channel locations for an average channel

[2020-07-11 12:40] sappelhoff opened #7999 "API: mne.preprocessing.mark_flat --> mne.preprocessing.annotate_flat ?"
With the *relatively* new Annotations in MNE, there are now (at least) two functions that work on raw data and return annotations:

- [mne.preprocessing.annotate_muscle_z_score](https://mne.tools/dev/generated/mne.preprocessing.annotate_muscle_zscore.html?highlight=annotate#mne.preprocessing.annotate_muscle_zscore)
- [mne.preprocessing.annotate_movement](https://mne.tools/dev/generated/mne.preproc

[2020-07-11 12:49] agramfort commented on #7999
+100

[2020-07-11 12:59] larsoner commented on #7999
That function might mark bad channels and it might annotate, depending on the data and what percentage of time a given channel is flat. So maybe annotate_mark_flat?

[2020-07-11 14:45] agramfort commented on #7995
posted on the website

[2020-07-11 14:55] amchagas commented on #7995
Thank you!
Do you mind if I add you as the post creator? Right now it is listed under my name (maybe a check box on the form that was clicked wrong?)

[2020-07-11 15:31] drammock commented on #7999
this is in fact the only function with `mark_` in its name (although there is the MNE-C function mne_mark_bad_channels). So unclear to me that we need the longer, more complicated name.  It doesn't seem conceptually weird to me that a temporal-span annotation function might "give up" and just mark the whole channel in some cases. +1 for `annotate_flat`

[2020-07-11 15:40] drammock commented on #7984
my two cents:

- `combine_channels(..., method='mean')` with default `mean` and ability to take a few keyword strings (mean, median, std) that resolve to numpy functions, or a callable.
- I'd prefer an API more like `combine_channels(left_roi=(1, 2, 3), right_roi=(4, 5, 6), method='median')` rather than having to wrap the ROIs into a dict (think of how `dict.update()` works). Not sure if that pres

[2020-07-11 19:43] hoechenberger commented on #7901
The Linux kernel developers just [decided](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=49decddd39e5f6132ccd7d9fdc3d7c470b0061bb) the use the following terms:

[code]

[2020-07-11 19:51] HanBnrd commented on #7984
Thanks @drammock.

- I like the idea of a combine_channels method which defaults to mean.

- Not sure what you mean with the `dict.update()`, could you please give more details? I think a dict can let more freedom to users as they could create as many ROIs as they want, but also give them custom names ('left_roi' and 'right_roi' being possibilities). I feel like it could become very complex with a

[2020-07-12 05:38] #7912 closed

[2020-07-12 05:49] rob-luke opened #8001 "Add file reader for Artinis fNIRS devices"
This issue is about adding support for [Artinis](https://www.artinis.com) Medical Systems [fNIRS devices](https://www.artinis.com/nirs-devices) to MNE.

The first step is to collect some small (approximately 10 second) recordings to be used in unit tests. The details of how the data is collected should be documented including all hardware and software parameters. The test data should be committed

[2020-07-12 07:12] hoechenberger commented on #7999
+1

[2020-07-12 09:02] hoechenberger commented on #7999
I just realized all of these functions return Annotations, but do not add them to the passed Raw instance. To me, this behavior seems to kind of contradict the function name? i.e. when something is called "annotate", I'd expect it to actually annotate… 🧐

[2020-07-12 12:21] cbrnr commented on #7999
I know MNE methods should generally work in-place, but in the case of artifact processing I'd want an option to double-check the automatically generated annotations/bad channels. Therefore, I'd prefer such methods to return annotations and a list of bad channels.

[2020-07-12 13:16] agramfort commented on #7995
Andre I cannot allocate much time to this unfortunately

[2020-07-12 15:10] hoechenberger commented on #7999
… which is already the case for `annotate_muscle_z_score` and `annotate_movement`; and if we rename `mark_flat` anyway, we could also change its behavior accordingly.

Still, my issue remains: if I say "annotate something", I expect "something" to be annotated. Just like when I call `list.remove()`, I expect something to be removed from the list, without requiring an additional step from my end. –

[2020-07-12 16:17] cbrnr commented on #7999
What about `str.upper()` then?

[2020-07-12 16:21] hoechenberger commented on #7999
"upper" is not a verb, so to me the behavior is unclear unless I check the docs.

[2020-07-12 16:23] hoechenberger commented on #7999
(besides, strings are immutable; so the comparison is a little off anyway… but this is an implementation detail)

[2020-07-12 16:48] drammock commented on #7984
`dict.update()` allows but doesn't require a `dict` argument; you can pass the new key/value pairs as parameters.  Here's an example:

[code]

My example with `left_roi` and `right_roi` was not meant to suggest that those two (and only those two) ROI names should be possible. They were just examples.

[2020-07-12 16:56] drammock commented on #7984
I'm still not 100% clear that we should support this use case, but it seems like if we want to allow a mix of single channels and averaged ROI "channels", then a boolean `drop=False` should be sufficient, and the function should leave any channels not in the ROIs untouched.  Under your proposal, if a user wanted to keep say 20 single channels, they would need 20 extra dict keys or would need to pa

[2020-07-12 18:04] cbrnr commented on #7999
You could interpret it as a verb though - uppercase that string for me. And yes, strings are immutable, but I wanted to point out that even in the built-in types this is not consistent.

Regarding your expectation, if you annotate something, you could also get back the annotated object (instead of modifying in-place).

[2020-07-12 18:07] hoechenberger commented on #7999
Yes, in addition to the in-place modification. Otherwise it would be, "generate an annotation please" and not "please annotate".

[2020-07-12 18:10] hoechenberger commented on #7999
(I've edited my answer above)

[2020-07-12 18:33] HanBnrd commented on #7984
Alright, good point. Thanks for the explanation.
I guess I can start working on this, and I'll see how it goes. It would be my first contribution to MNE but I'm happy to do it as I think it will be a good learning process, if you're okay with it?

[2020-07-12 18:36] hoechenberger commented on #7999
In [compute_proj_ecg](https://mne.tools/stable/generated/mne.preprocessing.compute_proj_ecg.html#mne.preprocessing.compute_proj_ecg) and [compute_proj_eog](https://mne.tools/stable/generated/mne.preprocessing.compute_proj_eog.html#mne.preprocessing.compute_proj_eog)
we  do as the function name indicates: compute the projs, and return them. The verb, here, makes total sense. OTOH, annotate_*, witho

[2020-07-12 18:44] drammock commented on #7999
@hoechenberger what is the concrete proposal here?  Is it to rename the existing `annotate_*` functions to `make_*_annotations`, or to keep their names and change their behavior?  If it's the latter, please open a separate issue, and we can (I think?) move forward here with renaming `mark_flat` to `annotate_flat`.

If your proposal is to keep the behavior and change the names, then we should proba

[2020-07-12 18:50] drammock commented on #7984
Yes! We are very welcoming of new contributors, and will happily provide reviews and guidance on your first pull request :)

[2020-07-12 18:50] hoechenberger commented on #7999
@drammock

Since my interpretation of "to annotate" seems to be a bit of an edge case, I'm okay with leaving these functions as is (I very much **would** prefer to rename them to `make_*_annotations`, personally.)

But we should make sure that the current `mark_flat`, if renamed to `annotate_flat`, matches the behavior of the existing `annotate_*` functions, namely, stop modifying the input in-pla

[2020-07-12 19:17] drammock commented on #7999
Agreed; I think that was part of @sappelhoff's original proposal.

[2020-07-12 21:13] larsoner commented on #7999
Sounds reasonable to me

[2020-07-12 21:13] larsoner commented on #7999
(if someone calls `mark_flat` in 0.21 it should do the same thing as in 0.20 but give dep warning, `annotate_flat` should do whatever we want `annotate_*` functions to do)

[2020-07-13 08:41] amchagas commented on #7995
sorry, didn't want to disturb. I've worked with the entry you already made. Thanks!

[2020-07-13 08:41] #7995 closed

[2020-07-13 10:19] susamerz opened #8004 "Minor bug in volume source space export"
#### Describe the bug
When exporting a source space that is larger than the mri (i.e has clipping) the warning fails, with error KeyError: 'kind' from
File "***/mne-python/mne/source_space.py", line 517, in export_volume
    warn(f'{n_diff} {src["kind"]} vertices lay outside of volume '

I think "kind" here should be "type"

n.b. this seems to have been introduced with #7888

#### Steps to reprodu

[2020-07-13 12:38] agramfort commented on #7995
thansk

On Mon, Jul 13, 2020 at 10:41 AM Andre Maia Chagas <notifications@github.com>
wrote:

[2020-07-13 13:19] larsoner commented on #8001
Sounds like a good plan to me

[2020-07-13 19:12] #7978 closed

[2020-07-14 14:24] #8004 closed

[2020-07-14 15:06] larsoner opened #8008 "API: Confirm best defaults for LCMV/DICS before 0.21"
In #7656 we set the default `make_lcmv(..., weight_norm='sqrtm')` because it's superior to the official `'unit-noise-gain'` in extensive simulation testing. But we should just double check with @britta-wstnr (busy right now AFAIK) that this is the default we should have for 0.21 before releasing.

[2020-07-14 17:55] drammock opened #8009 "MAINT, DOC: bump spyder-kernels"
Once Spyder 4.1.4 hits the anaconda `defaults` channel, we'll want to update the install instructions to state that the `base` env should have `spyder>=4.1.4`, and update our `environment.yml` to require `spyder-kernels>=1.9.2`. This is necessary because on OSX Catalina (and presumably also on Big Sur) there is an issue with spyder running under py3.7 in base being unable to set the console to use

[2020-07-15 01:17] rob-luke commented on #8001
Alternatively if there is an Artinis to SNIRF converter then we can just ensure the SNIRF reader is sufficient.

[2020-07-15 14:23] sappelhoff opened #8013 "BUG: TFR.plot misc issues"
I am experiencing several issues with the `.plot` method of TFR objects. I suspect that there are several things off, but for now I found this obvious bug:

These are valid inputs for the `title` parameter:

https://github.com/mne-tools/mne-python/blob/638847ea5539be32919b6ac4dd85ef8c4c3b79aa/mne/time_frequency/tfr.py#L1136-L1139

Yet in the code, we have this logic:

https://github.com/mne-tools/

[2020-07-15 14:41] sappelhoff commented on #8013
It appears that this is also not true:

https://github.com/mne-tools/mne-python/blob/638847ea5539be32919b6ac4dd85ef8c4c3b79aa/mne/time_frequency/tfr.py#L1183-L1185

if `combine=None` and `picks=[ch1, ch2]`, I still only get 1 figure, instead of the advertised 2 figures.

[2020-07-15 15:22] KSuljic commented on #7947
Unfortunately, both didn't work. If I try to subselect it states:
IndexError: list assignment index out of range

[2020-07-15 15:29] KSuljic commented on #7947
I'll try to install the dev version in another conda env. It seems you fixed it there already.

[2020-07-15 15:49] KSuljic commented on #7947
In the dev version it works perfectly (roughly only double the time as you mentioned). Thank you very much!

[2020-07-15 17:10] drammock commented on #8009
One of the Spyder devs (@ccordoba12) just mentioned that they expect to release platform binaries of Spyder for Windows and macOS in September (it is already available in Linux via `apt`, though a very old version; currently 3.3.6 via apt, latest is 4.1.4). TBD whether this news actually makes our installation guidance for MNE-Python easier, depending on how tightly the platform binary integrates

[2020-07-15 21:55] larsoner commented on #8013
AFAIK these functions are not super widely used, so these are indeed likely bugs

[2020-07-16 01:41] bloyl commented on #8013
yes that function is unusable for anything other than plotting a single TFR.
If you look at the code the `return` is inside the loop so it shouldn't be surprising that it doesn't work with multiple channels.
https://github.com/mne-tools/mne-python/blob/056c273f1bb96bb3229e60874122f830f946746c/mne/time_frequency/tfr.py#L1280-L1284

For what its worth it is relatively easy to write your own wrapper

[2020-07-16 18:30] sappelhoff commented on #8013
Thanks @bloyl that looks good. I'll give it a try tomorrow, but also attempted a fix of the plot method in #8019. I'd be happy if you could try and review if you have time.

[2020-07-17 10:18] larsoner commented on #8008
Also, @wmvanvliet should we deprecate apply_dics? Do we need a apply_dics_tfr first?

[2020-07-17 14:48] rderollepot commented on #6905
Any news on this issue ?

If not, I can try to work on it as I am confronted with this problem too.

[2020-07-17 15:04] larsoner commented on #6905
Nobody has worked on it as far as I know @rderollepot, feel free to give it a shot!

[2020-07-17 16:55] rderollepot commented on #6905
If you don't mind I'd like to discuss the problem a little further, but I'd like to precise I'm very new to MNE and I'm using it to treat fNIRS data (working with @Swy7ch), so I might be missing a big part of the iceberg 😉

First of all, in [this](https://github.com/mne-tools/mne-python/blob/aab9bae4cad04783d9457d2ae0edcbccf527e7b0/mne/viz/misc.py#L620) part of the code, _event_id_ is optional and

[2020-07-17 19:56] sappelhoff commented on #8013
the function also does not plot units for the colorbar label.

[2020-07-17 20:07] sappelhoff opened #8025 "BUG: montage.plot mismatch error when no data object is involved"
First discussed in this [gitter thread](https://gitter.im/mne-tools/mne-python?at=5f115f6aa874ff08d27f229d).

**Show the bug (MNE master):**

[code]

**Expected behavior**

... it should plot the montage

**Actual behavior**

click details.

<details>

[code]

</details>

**Solution**

Do not remove `REF` until a `X.set_montage(montage)` call.

Also: Consider removing `GND`/`Gnd`/`Ground` at that

[2020-07-17 20:33] sappelhoff opened #8026 "FR: Document units for TFR objects and adjust/track depending on baseline correction"
Came up in this [gitter thread](https://gitter.im/mne-tools/mne-python?at=5f120516a28d973192df556b).

#### Describe the problem

The units for common TFR objects like [AverageTFR](https://mne.tools/stable/generated/mne.time_frequency.AverageTFR.html) are unclear.

#### Describe your solution

The units should be tracked ... and adjusted when a baseline correction is performed

#### Additional cont

[2020-07-18 06:01] hoechenberger commented on #7751
I just skimmed over the [Matplotlib 3.3 changelog](https://matplotlib.org/3.3.0/users/whats_new.html) and it seems some of the new features could really help simplify some of our code. I particularly like the semantic axes layout based on ASCII art! And `tight_layout` no longer forgetting about suptitle :)

[2020-07-18 12:46] larsoner commented on #7751
Unfortunately we can't rely on people having these features / 3.3 until it is our minimum supported version. We typically support releases up to ~2 years back. So set up a reminder notification for 2022 :)

We maybe could backport some of the fixes/changes, but given the complexity of `matplotlib` I'm not sure how feasible it would be.

I have played a tiny bit with `constrained_layout` and it see

[2020-07-18 21:11] agramfort commented on #8025
can you take a stab at the fix?

[2020-07-18 21:46] drammock commented on #7751
Do we have a strict policy on this?  I've recently read about [NEP 29](https://numpy.org/neps/nep-0029-deprecation_policy.html) and was wondering if we should adopt something similar.

[2020-07-19 00:52] rob-luke commented on #6905
I think it makes sense that if `on_missing='include'` (or something similar) then you would have a mix of text labels for the values defined in the dictionary, and then just trigger number then count as you describe for the others. And perhaps `on_missing=ignore` would just ignore the extra values?

I think this would be a handy feature to have and I would use it. Often when people send me data th

[2020-07-19 07:13] hoechenberger commented on #7751
I'm also wondering, since we're dropping Python 3.5 support with the next release and all… Also, was there actually _ever_ anybody out there seriously _using_ Python 3.5 after 3.6 had been released? Sounds like a masochistic endeavour... This just to say, I'm not sure if it's really necessary and benefitting our users if we're super strict about this "2-year rule".

[2020-07-19 07:30] agramfort commented on #7751
the argument for not going to fast is that some users want to use mne on a
linux server
where python versions are the stable ones from apt or yum etc. It's never
as up to date
as conda. Not everybody is admin on his computing infracstructure

[2020-07-19 07:48] cbrnr commented on #7751
I understand the reasoning, but both pip and conda can be used without admin permissions.

[2020-07-19 07:53] agramfort commented on #7751
can you change the python version with pip?

[2020-07-19 08:09] sappelhoff commented on #8025
Maybe at some point, but not now --> I would say this issue is "up for grabs".

[2020-07-19 08:11] hoechenberger commented on #7751
That's a feature of pipenv at least, not sure of that works with plain pip though.

[2020-07-19 12:56] kalenkovich opened #8027 "Building docs on Windows"
I have trouble building docs which I guess has to do with me being on Windows.

I've set up the environment according to the latest contributing guide:

<details>
<summary>pip/conda commands</summary>

[code]
</details>

The `html-dev-noplot` target does give me the htmls that don't have the plots (as expected) but it breaks with an unifomative error after/during "embedding documentation hyperlink

[2020-07-19 13:33] kalenkovich opened #8028 "Building docs on Windows"
Unfortunately, I was not able to build the tutorials fully. Might have something to do with me being on Windows. Nevertheless, I was able to get the HTML versions of tutorials even if without plots.

I've converted your Jupyter notebook to the sphinx-formatted tutorial. I haven't changed much but I did change some things:

- removed most of the prints,
- removed a couple of options (like, whether

[2020-07-19 13:34] kalenkovich commented on #8028
Wrong fork, so sorry for the noise.

[2020-07-19 13:34] #8028 closed

[2020-07-19 13:35] larsoner commented on #8027
There is no description here, but you should be able to build docs on windows in principle

[2020-07-19 16:52] wmvanvliet commented on #8008
Let's deprecate when we have a viable alternative. Just so you know, I have no intention to work on an `apply_dics_tfr` function at the moment, but if someone else wants to take a stab at it, they have my blessing (and my simulations if they want)

[2020-07-20 03:07] kalenkovich commented on #8027
I am sorry about this. Not sure what happened here: I still have the tab with the unsubmitted issue which I started filling yesterday. I will copy the description here now.

[2020-07-20 08:11] Macks3110 opened #8030 "preload parameter not functional in make_fixed_length_epochs()"
#### Describe the bug
When running 'make_fixed_length_epochs', the preload parameter of the function is not passed to the inner function 'make_fixed_length_events', hence we are not able to preload the epochs.

#### Steps to reproduce
"""
import mne
import os.path as op

data_path = mne.datasets.sample.data_path()

raw_fname = op.join(data_path, 'MEG/sample/sample_audvis_raw.fif')
raw = mne.io.rea

[2020-07-20 09:03] #7813 closed

[2020-07-20 09:14] #7799 closed

[2020-07-20 09:16] #7969 closed

[2020-07-20 11:03] balandongiv opened #8031 "Getting error while ploting with Matplotlib 3.3.0 installed"
#### Describe the bug
After upgrading **Matplotlib** `3.2.2` to `3.3.0`, calling the plot() module result in the compiler return an error:

`ValueError: The number of FixedLocator locations (20), usually from a call to set_ticks, does not match the number of ticklabels (1).`

The full error thrown are:

[code]

Process finished with exit code 1

#### Steps to reproduce
Upgrade Matplotlib 3.3.0

[2020-07-20 12:48] agramfort commented on #8031
can you share a full snippet to replicate the pb? thanks

[2020-07-20 13:10] agramfort commented on #8030
this parameter is actually not necessary in make_fixed_length_epochs
function. It could be removed.
You can do what you want with

epochs.load_data()

[2020-07-20 13:55] wsxmxm opened #8032 "The plot_arrowmap does not display arrows"
#### Describe the bug
I am using MNE 0.20.6-Python 3.7.6 on a Windows OS. The example code plot_evoked_arrowmap.py on  https://mne.tools/stable/auto_examples/visualization/plot_evoked_arrowmap.html does not display arrows. There is a UserWarning caused by plot_arrowmap(): Tight layout not applied. The left and right margins cannot be made large enough to accommodate all axes decorations.

#### Ste

[2020-07-20 16:12] larsoner commented on #8031
This is probably https://github.com/mne-tools/mne-python/pull/7811, which I can backport and release.

I've found a bug where scrolling up/down can break things, though, so I'll fix that first then backport both PRs

[2020-07-20 19:21] larsoner commented on #8027
Our doc build treats warnings as errors, so your errors are actually above:
[code]
This suggests that it's a problem with encodings. Can you add this to `doc/conf.py` to see if it helps:
[code]
It really shouldn't since that's the default. Maybe also a sphinx update might help?

[2020-07-20 19:50] #8032 closed

[2020-07-20 21:41] bloyl commented on #8026
you can get channel units from `tfr.info['chs']` specifically the `unit` and `unit_mul` or each channel's `dict`.

So I think you just need to figure out how to keep tract of the modifications that baseline correction has performed. A positive side effect of that would be to not allow additional `apply_baseline` calls once a tfr has been baseline corrected.

[2020-07-20 23:47] bloyl commented on #7751
I don't know how feasible this is but...

It would really useful to be able to link time domain 2d plots with time domain 3d plots.
The most simple use case is visualizing sensor topology on evoked sensor data along side sourcespace stc plots. Similar utility for PSD in both sensor and source domain.

[2020-07-21 01:23] balandongiv commented on #8031
Hi @larsoner, you are right, upgrading from mne-0.20.7 to mne-0.21.dev0 does resolve the issue. Thanks for the patch
Hi @agramfort , are you still interested with the full snippet?

[2020-07-21 01:23] #8031 closed

[2020-07-21 01:29] harmeet9307 opened #8036 "trying to import edf file using mne on linux."
Please check the below code and suggest edit. When I run the same in windows, it works. the package versions are identical.

[code]

[2020-07-21 07:30] cbrnr commented on #8036
Why do you `exclude='meas_date'`? You did not specify this argument in the first line, but it appears in the traceback.

[2020-07-21 07:45] agramfort commented on #8031
no need we're good

[2020-07-21 11:48] wsxmxm commented on #8032
Hi, Thank you for your help. I try to include that, but it doesn't work
(arrows are still missing). Where do you you include plt.ion()?  Thanks.

Daniel McCloy <notifications@github.com> 于2020年7月20日周一 下午6:17写道：

[2020-07-21 12:50] harmeet9307 commented on #8036
I was trying something but dint work. Even when i do not mention it, the error says “ month should be in 1...12”
But the same file and package and commands work just fine in Windows.

Regards
Harmeet Singh Chhibber

[2020-07-21 13:29] cbrnr commented on #8036
Alright. Could you share the problematic file with me?

[2020-07-21 13:53] harmeet9307 commented on #8036
Sure, it wont attach here. Here is a link to the directory with the files. Any eeg.edf can be used. The issue is the same with all.
link: https://zenodo.org/record/2547147#.XxbzN-cpBhE

[2020-07-21 14:26] cbrnr commented on #8036
I tried [eeg1.edf](https://zenodo.org/record/2547147/files/eeg1.edf?download=1) and it loads without any problems on macOS. I can test on Linux tomorrow - if anyone on Linux wants to beat me to it feel free to let me know.

[2020-07-21 14:42] harmeet9307 commented on #8036
Yeah it works fine with windows too. I am not even sure if its linux or just my vm,

[2020-07-21 14:51] cbrnr commented on #8036
Might also be an older version on Linux? Can you post the output of `mne.sys_info()` for both platforms?

[2020-07-21 15:03] kalenkovich commented on #8027
Thanks for taking a look, @larsoner!

I tried uncommenting `# source_encoding = 'utf-8-sig'` but it did not help, unfortunately.

Notepad++ says that "commands.rst" is actually ANSI-encoded. After checking several of the other files, it looks like all the other ones in "doc/generated/" are UTF-8 so changing `source_encoding` to ANSI would not work either. 😕

My sphinx (3.1.2) is up to date with th

[2020-07-21 15:11] harmeet9307 commented on #8036
Platform:      Linux-3.10.0-1127.10.1.el7.x86_64-x86_64-with-centos-7.8.2003-Core
Python:        3.7.7 (default, Mar 26 2020, 15:48:22)  [GCC 7.3.0]
Executable:    /wsu/el7/pre-compiled/python/3.7/envs/tensorflow_gpuenv_v2/bin/python
CPU:           x86_64: 40 cores
Memory:        Unavailable (requires "psutil" package)
mne:           0.20.0
numpy:         1.18.1 {blas=mkl_rt, lapack=mkl_rt}
scipy:

[2020-07-21 15:18] larsoner commented on #8027
Try changing this line:

https://github.com/mne-tools/mne-python/blob/master/doc/sphinxext/gen_commands.py#L69

to
[code]
This should ensure that it's UTF8 encoded. It's possible there are other places that this needs to be done, too (probably in sphinx-gallery?). A workaround is to `export PYTHONIOENCODING=utf8` before running, though we should probably fix any other occurrences, too.

[2020-07-21 17:30] drammock commented on #8032
The problem has been fixed in the current master version of MNE-Python. But even without updating, this should work (putting `plt.ion()` before any plotting calls; typical practice is to put it right after the import statements:

[code]

[2020-07-21 18:59] drammock commented on #8036
I can successfully read & preload the file @cbrnr linked to, on Linux (Xubuntu 20.04), using both MNE-Python 0.20.7 and using current master version of MNE-Python, as `raw = mne.io.read_raw_edf('eeg1.edf',preload=True)`.

[code]

[2020-07-21 19:30] cbrnr commented on #8036
Thanks @drammock. @harmeet9307 maybe the file hasn't been downloaded correctly on Linux? Can you check the MD5 and compare if you get the same checksum on all three platforms? It should be `db6659835476f60bcf9a6b20f63c641d`.

[2020-07-21 21:43] ephathaway opened #8038 "Additional support for MFF"
If your issue is a usage question, please consider asking on our [Gitter channel](https://gitter.im/mne-tools/mne-python) or on our [mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) instead of opening an issue.

#### Describe the problem
Please provide a clear and concise description of the problem.

On behalf of [Brain Electrophysiology Laboratory](https://belco.tech/

[2020-07-21 21:44] ephathaway commented on #8038
@jusjusjus

[2020-07-21 21:53] drammock commented on #8038
Have you looked at the MNE-Python `Annotations` class? https://mne.tools/dev/auto_tutorials/raw/plot_30_annotate_raw.html

[2020-07-21 22:10] harmeet9307 commented on #8036
Yes, I checked that. It isnt the issue.

Regards
Harmeet Singh Chhibber

[2020-07-21 22:18] cbrnr commented on #8036
Although this probably isn't the issue, but can you update to the latest MNE release? And if that doesn't work can you try master?

Can you do a `%debug` after you get the error and let us know the values of `month` and the other date-related ones?

[2020-07-21 23:17] wsxmxm commented on #8032
Thanks. I have tried the code you provided, but the arrows are still
missing.
I have also updated my MNE to the master version. But the plot_arrowmap(
evoked_mag.data[:, max_time_idx], evoked_mag.info) always causes a memory
error and the restart of the kernel. There are still no arrows.

Daniel McCloy <notifications@github.com> 于2020年7月21日周二 下午6:30写道：

[2020-07-21 23:41] drammock commented on #8032
To reduce memory usage you could try avoiding the `.copy()` operation:

[code]

I'll look into the `plot_arrowmap` function and see if there are ways to reduce our memory usage, but it might be a couple days.

[2020-07-21 23:53] wsxmxm commented on #8032
Avoiding the .copy() is not enough. There seems too much memory usage.
Great. I look forward to your magic on the plot_arrowmap function. Many
thanks.

Daniel McCloy <notifications@github.com> 于2020年7月22日周三 上午12:41写道：

[2020-07-22 03:51] balandongiv opened #8039 "Getting Error: "channel position not present in the DigMontage" when assigning a montage in MNE"
#### Describe the bug
The objective is to assign '`GSN-HydroCel-128`' montage to the raw data. The raw data was collected using `HydroCel GSN 128 1.0`.

However, the compiler return an error:

**`ValueError: DigMontage is only a subset of info. There are 1 channel position not present in the DigMontage. The required channels are: ['E129']`**

However, the mentioned channel `'E129'` does exist as s

[2020-07-22 03:53] balandongiv commented on #8039
Not sure whether this related to [#8025 ],[#7615 ]

[2020-07-22 07:06] kalenkovich commented on #8027
Setting the encoding for 'commands.rst' helped with the "undecodable source characters errors/warnings"!

`html_dev-noplot` still ends with "Errror 1" though.

<details>
<summary>Here is the new output</summary>

[code]
</details>

Near the end, it says "build finished with problems, 1 warning.". The only warning I could find is this:

[code]

Could it be that everything is actually building corre

[2020-07-22 08:37] basophobic commented on #8036
I have also tried loading the edf files on my opensuse linux distro. All works fine.

[code]
and my system configuration:
[code]

[2020-07-22 08:40] cbrnr commented on #8036
Thanks @basophobic - it looks like this could be a misconfigured MNE setup. @harmeet9307 can you try to install MNE from scratch as described [here](https://mne.tools/stable/install/mne_python.html)?

[2020-07-22 08:57] cbrnr opened #8040 "conda environment.yml broken?"
Currently, all CIs using `conda` with our `environment.yml` are broken because of unsatisfiable dependencies. It has something to do with `traits`, which is available as 5.2.0, but some other package (`pyface`?) wants >=6.0.0. I tested this locally, but everything works fine, so maybe the problematic packages have already been updated upstream. I can't restart Travis jobs for some reason, maybe @s

[2020-07-22 09:05] sappelhoff commented on #8040
![image](https://user-images.githubusercontent.com/9084751/88157538-2c68e580-cc0b-11ea-8f9e-21ffabb76076.png)

https://travis-ci.org/github/mne-tools/mne-python/builds/710508815

[2020-07-22 09:16] cbrnr commented on #8040
Now the first jobs have a different error:

[code]

[2020-07-22 09:19] cbrnr commented on #8040
There doesn't seem to be a `-n` argument (`pytest -m "${CONDITION}" --tb=short --cov=mne -n 1 ${USE_DIRS}`).

[2020-07-22 09:21] GuillaumeFavelier commented on #8040
`-n` is used by the `pytest-xdist` plugin. It's not installed?

[2020-07-22 09:23] cbrnr commented on #8040
Looks like not. Where is the requirements file that contains this package?

[2020-07-22 09:23] cbrnr commented on #8040
@sappelhoff could you maybe also restart the failing Azure job?

[2020-07-22 09:26] sappelhoff commented on #8040
done, but I can only re-run the failed ones. Can only the PR owner or an admin re-run? I think you and I should have same permissions @cbrnr

[2020-07-22 09:29] cbrnr commented on #8040
The failed ones are OK for now. I didn't find the restart button in Travis (although I was logged in and I know where the button usually is - now there is just a "More options" button). I haven't figured out how to restart Azure jobs, I'm logged in and now I see only a "Cancel" button for the running job.

[2020-07-22 09:30] sappelhoff commented on #8040
you do it from the GitHub UI, go to "details" and then there is an expanded dropdown menu on the left

[2020-07-22 09:32] cbrnr commented on #8040
This page? I don't have a dropdown menu.

![Screen Shot 2020-07-22 at 11 32 03](https://user-images.githubusercontent.com/4377312/88160493-fded0980-cc0e-11ea-9bba-a7dd54835d53.png)

[2020-07-22 09:43] sappelhoff commented on #8040
This is the one I mean:

![image](https://user-images.githubusercontent.com/9084751/88161579-743e3b80-cc10-11ea-9205-05b3616c88d1.png)

and it shows handles when you can restart something. you can't do anything for running or succeeded jobs with simple maintainer permissions.

[2020-07-22 12:04] cbrnr commented on #7901
See https://github.com/github/renaming/

[2020-07-22 12:31] larsoner commented on #8027
Yes, warnings are treated as errors so this is indeed the cause of the failure. Can you see how hard it is to install optipng? If it's difficult on windows, we can make that fix build conf entry depend on the OS.

[2020-07-22 12:46] #3184 closed

[2020-07-22 12:53] agramfort commented on #8039
try

import mne
filename = r'S17_1.mff' # The mff file can be downloaded via the link
provided
raw = mne.io.read_raw_egi(filename, preload=True)
print(raw.ch_names)
montage = mne.channels.make_standard_montage('GSN-HydroCel-129')
montage.ch_names[-1] = 'E129'
raw.set_montage(montage, match_case=False)

or

import mne
filename = r'S17_1.mff' # The mff file can be downloaded via the link
provided
ra

[2020-07-22 13:04] larsoner opened #8043 "ENH: Extending source-space-based reconstruction"
After #8033, @agramfort had the idea to show how it can be used with data processed with ICA and also help with source space stats. So a couple of ideas:

1. Use it with ICA somehow (I guess we'd have to get the ICA "operator" matrix to be applied to the forward like a projection matrix?)
2. Add a way to reconstruct instances to do sensor-space stats on reconstructed data.

Maybe a general `inst.r

[2020-07-22 13:09] agramfort commented on #8038
no objection on my side is we match the same performance for reading files
and we support the preload option.

maybe start with evoked and epochs as there is not code for this at the
moment

[2020-07-22 13:14] balandongiv commented on #8039
Thanks for the feedback @agramfort . Both approach return no error. But, it lead to next question on why use `'GSN-HydroCel-129' `and `'GSN-HydroCel-256'` despite the fact that the data was collected from `HydroCel GSN 128 `? But, since you are the expert, I believe the suggestion should be correct then.

[2020-07-22 13:22] #8039 closed

[2020-07-22 13:33] larsoner commented on #8009
Hopefully they go with (1). Seems like the easiest approach

[2020-07-22 13:39] cbrnr commented on #8009
(1) would definitely be the best approach. Also, both packages have now been bumped to the versions stated at the top.

[2020-07-22 14:22] balandongiv opened #8044 "Undesireable output of the to_data_frame"
#### Describe the bug
The idea is to produce the output with respect to set `time_format` parameter  under the `to_data_frame `method. However, setting the time_format to either  `None, 'timedelta', 'datetime' and 'ms'` produce an incremental plus 1 integer instead of the scaled time (e.g., 0, 0.001,0.002) for a signal that sampled in 1000Hz.

#### Steps to reproduce

* filename='S17_5.mff' # The

[2020-07-22 15:19] hoechenberger commented on #8044
So what you you're looking for is, essentially, support for `time_format='s'`?

[2020-07-22 15:46] hoechenberger opened #8045 "Inconsistent topoplot layout across different TFR plotting functions"
#### Describe the bug
@virvw reported some weird-looking topomap figures when plotting TFR data. While I couldn't **exactly** replicate the issues, I **do** find inconsistencies in the figures produced by `plot_joint()`, `plot_topo()`, and `plot_topomap()` using `master`.

#### Steps to reproduce

Load data & calculate power
[code]

Now, let's plot the data.

### First, via `plot_joint`
[code]
<im

[2020-07-22 15:56] ccordoba12 commented on #8009
Hey guys, I also think (1) would be the easiest option not just for your project but for novice users in general. But there's one important point you should be aware of: our installers will be provided by us and (most probably) they'll use pip packages. That's because the Python installer creation tools (like py2app, py2exe and Pyinstaller) work much better with pip packages.

However, I'll talk t

[2020-07-22 16:20] harmeet9307 commented on #8036
Sure, I tried to reinstall mne. Still get the same error.

Regards
Harmeet Singh Chhibber

[2020-07-22 17:14] drammock commented on #8044
@hoechenberger is correct that this is not a bug. The problem here is that `time_format=None` is not the default, so you have to explicitly pass `None` in order to get the equivalent of `time_format='s'`.  Eventually we plan to change this to default to `None`, but it will need to go through a deprecation cycle.

[code]

[2020-07-22 17:14] #8044 closed

[2020-07-22 17:44] drammock commented on #8036
This is still the logical next step in debugging, and since none of us can replicate your error, you'll need to do this yourself @harmeet9307

Since it looks like you're not using ipython, the equivalent of `%debug` would be `import pdb; pdb.pm()` to enter the debugger immediately after the error occurs. from there you should be able to view the values of the variables `year`, `month`, etc.

[2020-07-22 17:53] drammock commented on #8039
@balandongiv if you look more closely at the original error, it says that `E129` is not present **in the DigMontage** (what you demonstrated with `raw.ch_names` is that the channel is in fact **in the data**).  Because your data has 129 data channels, the 128-channel montage will not know where to locate the last channel.  In the 129-channel montage the final channel is labelled `Cz`, which is why

[2020-07-22 18:50] ephathaway commented on #8038
I actually hadn't looked at the `Annotations` class until now. It looks a little more descriptive than what we get from the `mne.find_events` function. It seems like it would be easy enough to parse an event track XMLs with mffpy and then convert them to an `Annotations` object. How feasible would it be to add additional attributes to the `Annotations` class for other aspects of MFF events, such a

[2020-07-22 18:53] ephathaway commented on #8038
Good idea to pilot on the `Epochs` and `Evoked` since that will be new code.

[2020-07-22 19:29] drammock commented on #8038
That is certainly possible in principle...  can you say a bit more about what kind of metadata is stored in MFF events?  Is it the same for continuous, epoched, and averaged data? The `Epochs.metadata` property is also worth considering here (it's a restricted version of a `pandas.DataFrame`) though it's not currently implemented for `Raw` or `Evoked` objects... here's [a primer on Epochs metadata

[2020-07-22 21:36] #8040 closed

[2020-07-22 21:36] cbrnr commented on #8040
Fixed upstream.

[2020-07-23 00:42] balandongiv commented on #8044
Thanks for the clarification

[2020-07-23 00:45] balandongiv commented on #8039
Thanks for the detail explanation @drammock. Now it really make sense to me.

[2020-07-23 01:48] bloyl opened #8048 "BUG: pyvista error when ploting stc without hemi data"
I have a pipeline where i compute some scalars on a set of labels which I map back to an `stc` for visualization using `stc = mne.labels_to_stc(labels, vals)`.

`stc.plot(...)` works with mayavi but will now fail with pyvista with the following error

I think this is caused by some hemisphere checks where `hemi_data['smooth_mat']` is generated.

To replicate the issue just run `/examples/connectiv

[2020-07-23 09:56] GuillaumeFavelier commented on #8048
Thanks for reporting this @bloyl and even more so since we plan to make `pyvista` the default backend in a near future.

I can reproduce so I'll open a PR to fix this asap.

[2020-07-23 12:25] #8048 closed

[2020-07-23 14:25] kalenkovich commented on #8027
I download "optipng.exe" [here](http://optipng.sourceforge.net/) and saved it in the "doc" folder. This got rid of the optipng warning. The new one is

[code]

Googling this one now 😃

[2020-07-23 14:38] larsoner commented on #8027
You need to have the `graphviz` command-line programs on your machine.

BTW once you figure this out, it would be nice to add this info to the dev docs for the next person. The requirements are valid on all systems -- on macOS you probably use `brew`, Linux your package manager, and Windows maybe we should give people links to download pages.

[2020-07-23 15:12] kalenkovich commented on #8027
I installed graphviz using conda. The `html_dev-noplot` finished without errors!

The `html_dev` still breaks though:

<details>
<summary>make html_dev</summary>

[code]
</details>

Sure thing! Just to recap what has helped with the `html_dev-noplot` target:

- Change [this](https://github.com/mne-tools/mne-python/blob/master/doc/sphinxext/gen_commands.py#L69) line to
  `with open(out_fname, 'w',

[2020-07-23 15:20] drammock commented on #8027
Specifying `encoding='utf-8'` is something we could change for all users, rather than asking windows users to change it locally. Istalling graphviz from conda is also something we could do for all platforms. Not sure about optipng, providing a download link maybe be the best option there.

[2020-07-23 15:24] larsoner commented on #8027
@kalenkovich can you open a PR to update the `gen_commands.py` file with the `encoding` line?

For the graphviz and optipng it would be good to update the dev docs with platform-agnostic (graphviz) and platform-specific (optipng) instructions. Up for changing that in the same PR?

[2020-07-23 15:32] kalenkovich commented on #8027
Sure. But maybe we should figure out why the docs are not building first? Or, the partial solution is ok?

[2020-07-23 15:34] larsoner commented on #8027
If you installed `memory_profiler` recently and it's giving these problems then it's probably just unstable on Windows. We should change [this](https://github.com/mne-tools/mne-python/blob/master/doc/conf.py#L545):
[code]
to
[code]

[2020-07-23 18:46] ephathaway commented on #8038
Below is an example of a single event from an event track XML. This is a good example of an event generated by a stimulus presentation device at recording. I think the `beginTime`, `duration`, `code`, `label`, `description`, and `sourceDevice` are common to all MFF events and then the number of `keys` can vary.

There are event tracks in continuous, epoched, and averaged MFF files, although I am n

[2020-07-23 20:43] agramfort commented on #8038
as Annotations and events are not as versatile as MFF format I would
suggest to add a function to read the
event file and eventually get metadata as output. If you can accept to
attach Annotations taking
the 3 columns, onset, duration and description then it's ok to attach it to
Raw. So you come up with
a description with / separators to make keys in event_id down the line so
that you can index
yo

[2020-07-23 21:44] drammock commented on #8038
So @agramfort suggests 2 possibilities:

1. convert Event Track XML into an Annotations object, where the `description` field of each annotation is a somewhat unwieldy string where all metadata fields are concatenated, separated by `/` characters.  This has the advantage that `/`-separated strings are already parsed by downstream epoch-related code, so when the annotations are converted to an `eve

[2020-07-23 23:30] ephathaway commented on #8038
Converting the event track XML to a DataFrame seems like the most attractive option as far as easy access to all the event attributes. However, we do want to be able to create `Epochs` objects based on the events and certain subsets of events. I think ideally, the events used to create `Epochs` would then become the contents of `Epochs.metadata` as a description of each epoch.

What if we store th

[2020-07-23 23:44] drammock commented on #8038
Agreed.

That is indeed an elegant-sounding approach.

hmm...  perhaps an API like `Epochs.from_dataframe(raw, dataframe, ...)`?  I think this would be cleaner than trying to make the existing `Epochs` constructor flexible enough to take in *either* a DataFrame *or* an events array + event_id dict.  You'll probably end up with (private?) helper functions similar to the ones I mentioned above (func

[2020-07-24 05:20] balandongiv opened #8053 "Incorrect number of EOG events detected when using find_eog_events for data recorded with EGI HydroCel GSN 128 1.0 system"
#### Describe the bug
This report is about inconsistent behavior when applying the `mne.preprocessing.find_eog_events()`.

Manually checking the video recorded during the bio signal recording indicated that  there should be more than 1 `EOG` events.
However, the report generated upon applying the `mne.preprocessing.find_eog_events()` gives only 1 `EOG` event detected.

#### Steps to reproduce

The

[2020-07-24 08:08] agramfort commented on #8038
one idea is to have a function events_from_frame or events_from_dataframe
that converts the dataframe to events/event_id like we have for
annotations. So we keep one way to build epochs.

[2020-07-24 08:17] agramfort commented on #8053
did you inspect the data? maybe you have some artifact in the data? this
function is not guaranteed
to work and makes some assumptions that may not be fulfilled in your data.

[2020-07-24 08:29] balandongiv commented on #8053
Thanks for the prompt reply @agramfort .
May I know what kind of artifact you have in mind. FYI, I have tested other `mff` files from other subjects as well, and all of the testing return little EOG event. Hence, my guess maybe to aforementioned artifact maybe not the source of problem. But to confirm, is it sufficient/advisable to use the E126 and E127 here?

Since this function is not guaranteed

[2020-07-24 12:04] agramfort commented on #8053
I don't know your data but to see of  E126 and E127 can work they should
contain clear blink patterns

[2020-07-24 12:22] balandongiv commented on #8053
Thanks for the feedback @agramfort . But, as of this stage, I believe there is something missing with my setup as the number of eog event detected is quite small. Anyhow, I will update the thread once I got thing working.

[2020-07-24 13:10] balandongiv commented on #8053
Other approach to surrogate absence of EOG channel is by creating a new virtual channel. This is possible using  `mne.set_bipolar_reference` with its usage detail accessible via the [link](https://mne.tools/stable/generated/mne.set_bipolar_reference.html).

Say, we would like to consider only the left side of the eye only to detect eye blinks, then we can use the channel `E25` and `E127` to create

[2020-07-24 13:20] balandongiv commented on #8053
Just to add,
using different channel combination to create the virtual channel result in diffrent number of eog event detected

1. `E8 & E126` resulting in 98 EOG events
2. `E14 & E126` resulting in 122 EOG events
3. `E21 & E127` resulting in 110 EOG events
4. `E25 & E127` resulting in 98 EOG events

Is this mean we need to manually inspect the event as well

[2020-07-24 13:50] gabrielbmotta commented on #7741
Does anyone have a link to the file mentioned above? We are trying to fix a similar issue in MNE CPP. Thanks.

[2020-07-24 13:58] larsoner commented on #7741
@gabrielbmotta you shouldn't need the file above, you should just need to be on latest mne-python `master` dev branch. There is a fix in there already

[2020-07-24 15:28] gabrielbmotta commented on #7741
@larsoner thanks for the quick response. We don't have that same function in our code, we're still trying to find out where and why a segfault happens when the file was loaded.

[2020-07-24 15:55] ephathaway commented on #8038
I like this idea from a usability standpoint. This way someone processing an MFF could keep their events in the DataFrame format throughout the workflow.

[2020-07-24 16:00] kalenkovich commented on #8027
@larsoner, using `'show_memory': not sys.platform.startswith('win')` helped with breaking on the "generating gallery" step! How did you figure this one out? 😲

The changes to docs, `conf.py`, `gen_commands.py`, etc. that we discussed above - do they belong to "Changelog", "Bug", or "API"?

I also have a new problem (I am good at getting those) `make html_dev` gets stuck on some files (`plot_moveme

[2020-07-24 16:13] larsoner commented on #8027
The errors you were getting had to do with `psutil` trying to measure memory. It has been unreliable on macOS before, so it makes sense it would be even less reliable on Windows. So it makes sense to disable it -- it's helpful but not (usually) critical information.

Changelog, something like "- Improved documentation building instructions and execution on Windows by ..." would be good

Looking br

[2020-07-24 16:14] larsoner commented on #8027
... before I boot into my Windows VM, can you open a WIP PR with these changes already in it so I can just checkout your branch?

[2020-07-24 16:15] kalenkovich commented on #8027
Sure thing! Give me a couple of minutes.

[2020-07-24 16:17] kalenkovich commented on #8027
Here it is: https://github.com/mne-tools/mne-python/pull/8057

[2020-07-24 17:01] drammock commented on #8038
This was my earlier suggestion @agramfort, but it would not allow the (really nice) feature of the events dataframe automatically being used to populate the `Epochs.metadata`.  However, as I implied above, the `events_from_dataframe` function will probably need to get written under the hood anyway to make `Epochs.from_dataframe()` work, so it's actually a nice sequential approach to implement `eve

[2020-07-24 18:06] agramfort commented on #8038
+1

[2020-07-24 19:26] agramfort commented on #8053
try this:

[code]

you did have a big artifact at the end of the file.

I also marked a few obvious bad channels

[2020-07-24 19:26] #8053 closed

[2020-07-24 19:27] agramfort commented on #8053
I also filtered below 40 has you have a huge line noise artifact at 50Hz that remained with a low pass at 50

[2020-07-24 21:49] #7984 closed

[2020-07-25 15:21] balandongiv commented on #8053
Hi @agramfort , thanks for the sample code, I really appreciate it.

[2020-07-26 13:22] larsoner commented on #5615
This was in #6663 I think

[2020-07-26 13:22] #5615 closed

[2020-07-26 13:26] larsoner opened #8060 "ENH: Add support for writing other formats"
@rob-luke wants to add support for writing SNIRF files. We could support this internally easily via file-extension `*.snirf` triage. WDYT @agramfort ?

There are also some potentially low-hanging fruit in terms of supporting writing to other formats using external libraries, at least BrainVision (pybv) EDF (pyEDF, maybe edflib?) and CTF (pyCTF). I don't see too much work in supporting these since

[2020-07-26 16:07] algrmur opened #8062 "LinearModel with SGDClassifer"
Hi everyone,

Quick question. I am currently doing some decoding with a linear SVM via `SGDClassifier` in `scikit-learn` with hinge loss for comparison with another method that is restricted to the online learning paradigm. I would like to look at the activity patterns and filters, but SGDClassfier's `partial_fit` doesn't seem to play nicely with `mne.decoding.LinearModel`. I was wondering is ther

[2020-07-27 14:14] balandongiv commented on #8053
Hi @agramfort, I notice that you used  `ch_name='E124'` to localise the EOG event. I cross check with the 128-sensor HydroCel GSN recording montage, the E124 correspond to  `F4`. While other have proposed the used of [Fp1/Fp2](https://www.hindawi.com/journals/tswj/2014/259121/) or VEOG and HEOG which I believe any of the combination of EEG channel on the face that correspond to [EVirt](https://git

[2020-07-27 16:33] harmeet9307 commented on #8036
I figured it out. there were some issues with the edf files I downloaded. Works fine with another batch of files. Thank you are all the help

[2020-07-27 16:33] #8036 closed

[2020-07-27 17:55] agramfort commented on #8053
I looked at the data at it contains clear blink artfifacts

[2020-07-27 20:31] ephathaway commented on #8038
@drammock @agramfort would it be wise to wait for some of the other MNE maintainers to get on board before beginning work on the reading of epoched and averaged MFFs? Or do you guys think there will be enough support from the others to merge something like this?

[2020-07-27 20:32] agramfort commented on #8062
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-07-27 20:32] #8062 closed

[2020-07-27 20:34] agramfort commented on #8038
I have not seen the diff nor CIs green so I cannot promise anything. But if
we want mne support
for such files I don't see any other way.