[2014-08-03 18:31] dengemann opened #1482 "FIX: behavior of report if caption parameter == ''"
@mainakjas it seems passing an empty string causes trouble. We should handle this or let it gracefully crash.

[2014-08-04 07:12] mainakjas opened #1483 "BUG: Error with single-trial epoch input to compute_source_psd_epochs"
Here is the script from Sebastian to reproduce the error discussed here (https://mail.nmr.mgh.harvard.edu/pipermail//mne_analysis/2014-August/002299.html) using the MNE sample dataset:

[code]

cc @agramfort

[2014-08-04 17:35] mluessi opened #1486 "Failing tests because head surface not found"
I get several failing tests because the head surface from the sample data can't be found. The function `get_head_surf` tries to load "sample-5120-bem.fif" which does not contain the head surface, so I get errors of the form "ValueError: surface with id 4 not found". This causes a total of 4 tests to fail. Can anyone reproduce this?

[2014-08-04 22:56] #1483 closed, assigned to nobody

[2014-08-05 09:01] mainakjas opened #1490 "feedback on mne report"
I just discussed the mne report command with @LauriParkkonen and here is some feedback that I got:
- File name convention : instead of enforcing it, read the `Tag` blocks in the `fiff` file and plot based on the type of object stored in it. `raw_sss_mc.fif` and `raw_tsss_mc.fif` is missing (mc=movement compensation).
- It would be nice to have a helper php script that recursively lists all the fil

[2014-08-05 09:25] #1417 closed, assigned to nobody

[2014-08-05 14:15] #1482 closed, assigned to nobody

[2014-08-05 15:11] #1473 closed, assigned to nobody

[2014-08-06 07:57] mainakjas opened #1494 "mne.pick_types docstring does not tell default values"
Self explanatory. The docstring does not tell if MEG / EEG / EOG channels etc are included by default.

[2014-08-06 08:01] #1494 closed, assigned to nobody

[2014-08-06 08:35] #1374 closed, assigned to nobody

[2014-08-06 08:35] #1421 closed, assigned to nobody

[2014-08-06 10:55] dengemann opened #1495 "FIX/DOC: Documentation"
Dear all. I feel over the next release cycle we should chose improving our documentation as a main goal. I know most of us including myself find it more rewarding to add new code. But we must bite that bullet, I feel. If we distribute efforts a bit and get well organized it might be less of a pain.
And importantly, as a project, we'll be making more progress if newcomers find it easy to get starte

[2014-08-06 13:10] #1486 closed, assigned to nobody

[2014-08-06 19:35] szorowi1 opened #1497 "plot_bem not found in MNE 0.8"
Hi guys,

First off, incredible work on the 0.8 MNE update. Very excited to see the new features. Within the Martinos Center network, I'm not finding the plot_bem command in mne.viz. Attached is a screenshot. Any advice?

Thanks guys!
-Sam Zorowitz, Clinical Research Coordinator @ CNY

![terminal](https://cloud.githubusercontent.com/assets/2146177/3832764/9d8abec0-1da0-11e4-9f4a-ec2dd25deb11.png)

[2014-08-07 15:24] #1497 closed, assigned to nobody

[2014-08-08 12:18] dengemann opened #1501 "ENH: pick_vertices / pick_source_space functionality"
I'd like to add picking to source spaces, vertices and connectivity.
Instead of passing full fsaverage group matrices with spatial excludes it would be much more memory saving to only pass a supset of the source space + pick the connectivity accordingly.

any thoughts @dgwakeman @mluessi @christianbrodbeck @Eric89GXL ?

[2014-08-12 12:17] #1501 closed, assigned to nobody

[2014-08-12 12:17] dengemann opened #1505 "ENH: speedup tests + examples using the get_tris + connectivity"
Related to #1503

[2014-08-12 22:55] dengemann opened #1506 "ENH: generic mass-univariate function"
I feel the time has come to add more API to our mass-univariate stats.

I have already done some work on that, but it needs a cleanup and some API-rethinking because I'm still hitting new / additional use cases.

Anyways not too early to start a discussion.

@agramfort @Eric89GXL @mluessi @christianbrodbeck @maedoc

[2014-08-12 23:34] dengemann opened #1507 "BUG: memmap error when buffersize is None but cache dir active"
@Eric89GXL @mluessi

this is uncaught, with a t-test type stat fun this crashes (tries to operate inplace on memmap)

[code]

[2014-08-13 11:26] mainakjas opened #1508 "ENH: return RtEpochs.events as a numpy array rather than list of tuple"
cc @mluessi

Is there a specific reason for this? `EpochsArray` (and I suspect many other mne-python functions) do not accept `events` to be a tuple.

[2014-08-13 21:57] mainakjas opened #1510 "ENH: add support for images (*.jpg, *.png etc) in report.add_section"
@dengemann

[2014-08-15 16:47] dgwakeman opened #1511 "BUG: epochs.ch_names.index"
This function doesn't work:
Example, create an epochs object (e.g. in http://martinos.org/mne/stable/auto_examples/preprocessing/plot_find_ecg_artifacts.html)
epochs.ch_names.index['MEG1531']

---

TypeError                                 Traceback (most recent call last)
<ipython-input-74-d32aa2503a4c> in <module>()
----> 1 epochs.ch_names.index['ECG063']

TypeError: 'builtin_function_or_method'

[2014-08-15 16:51] #1511 closed, assigned to nobody

[2014-08-15 16:57] dgwakeman opened #1512 "picks defaults query?"
I was wondering if there is a principled philosophy behind the picks defaults for various functions. I can't seem to find any great consistency (sometimes it just takes MEG, sometimes MEEG, etc.). Personally, I find these defaults confusing, and overzealous in their attempts to conserve what amounts to trivial portions of disk space (basically, removing STI, EOG, and ECG channels in many cases, th

[2014-08-17 20:49] mainakjas opened #1516 "add show param to viz/ica.py"
I noticed that the show parameter is missing in many ica functions have missing `show` parameter and use `plt.figure()` which will open a figure. This should be fixed I think?

[2014-08-18 07:02] #1516 closed, assigned to nobody

[2014-08-18 08:05] #1508 closed, assigned to nobody

[2014-08-18 16:27] dengemann opened #1521 "ENH: extend operator overloading for labels"
add minus operator

label1 - label2

would include set(vertices1) - set(vertices2)

[2014-08-19 20:09] christianbrodbeck opened #1522 "Vertices attribute consistency"
I'm probably partly responsible for this, currently it's `Label.vertices` but `SourceEstimate.vertno`... I think we should decide for one or the other and make it consistent.... I personally prefer vertices because it's not an abbreviation, but I see that both have their merits, thoughts?

[2014-08-21 00:24] mainakjas opened #1524 "weird plot_topo with EEG layouts"
@LauriParkkonen reported weird `plot_topo` figures with tfr. I could reproduce something similar with the sample dataset. Any ideas what is going wrong?

[code]

[2014-08-21 00:35] mainakjas opened #1525 "aesthetics in plot_topo"
- It seems that the plotting axis of the sensors is left intact in `plot_topo`. So, if the figures are saved to `eps` format, they have to be deleted manually.
- Background color defaults to black. However, this is not always suitable for publications. I noticed that `iter_topography` has a parameter `fig_facecolor`. Could this be exposed in the `plot_topo_*` functions?
- Border of sensor axis def

[2014-08-21 11:55] dengemann opened #1526 "ENH: crash or repair on manual STC smoothing if zeros remain in the morphed STC"
... we should catch this case...

cc @Eric89GXL @mluessi @dgwakeman @agramfort

[2014-08-21 12:54] dengemann opened #1527 "BUG?: compute ico5 source space..."
[code]

@Eric89GXL any idea? it does not happen for the same subject using oct6.

[2014-08-22 15:42] dgwakeman opened #1530 "mne.preprocessing.compute_proj_ecg filter options"
As this function stands you cant really use many useful highpass filtering (e.g. anything below 0.6 or so Hz). The problem boils down to you can modify the ``filter_length``, but this doesn't help if you want a lower highpass filter, because it the bandpass transition doesn't dynamically shift based on the other factors

mne.preprocessing.compute_proj_ecg(raw, n_grad=4, n_mag=4, n_eeg=4, l_freq=0.

[2014-08-23 18:18] dengemann opened #1531 "BUG? segmentation faults on smoothing ..."
I'm clueless, but this happens quite often when calling SourceEstimate.morph ...

[code]

any idea? @Eric89GXL @mluessi @agramfort ?

[2014-08-24 11:29] dengemann opened #1532 "BUG: ChannelsMixin does not work with new TFR objects"
.... because we internally constrain it the old classes. @adykstra @agramfort

[2014-08-24 15:49] dengemann opened #1534 "ENH/API: cluster stats"
For reporting it would be good to have quick access to the statistic used. While we have the H0 that can be used to plot a histogram of the test-statistic, it seems currently there is not convenient way to extract the test-statistic of each clusrer itself. Since it will depend on many parameters it would be nice to just return it togther with the other return parameters. This would break peoples c

[2014-08-25 02:24] #1524 closed, assigned to nobody

[2014-08-26 09:35] #1525 closed, assigned to nobody

[2014-08-26 15:05] dengemann opened #1537 "ENH: allow user defined thresholds with TFCE"
e.g. allow 'start' to be an array if step is None.

cc @Eric89GXL

[2014-08-27 16:52] dengemann opened #1539 "BUG: fix mne.picks_documentation"
... exclude param is not appropriately described.

[2014-08-29 17:22] haribharadwaj opened #1542 "set_eeg_reference is broken for rawEDF objects after moving to mne.io !"
So I recently pulled from the latest master which stops supporting mne.fiff imports...  The following now breaks:

[code]

with the error:

[code]

Importing from mne.fiff used to work fine but that's not possible any more...
Any thoughts on how to quickly fix this? @t3on, @dengemann, @agramfort

[2014-08-29 17:59] #1542 closed, assigned to nobody

[2014-08-31 19:27] #1539 closed, assigned to nobody

[2014-08-31 23:37] larsoner opened #1544 "ENH: Make mne-python citable"
https://guides.github.com/activities/citable-code/

I did it for vispy, I can set it up for us, too. @agramfort the only weird thing that I'd need to do is delete and re-release 0.9 so that it shows up after I activate the webhook. But even after I do that it should still show up as being released on the original release date, it will just have my name next to it instead of yours :)

[2014-09-01 04:58] #926 closed, assigned to nobody

[2014-09-02 14:18] mainakjas opened #1548 "BUG: show_names in topomap does not work"
I tried the following:

[code]

and it seems to give the sensor names in the wrong positions and also the wrong channels. Any idea what is going wrong?

[2014-09-03 11:37] lukasbreuer opened #1549 "BUG in DICS beamformer"
Dear all,

I think in the function "_apply_dics" in the module "_dics.py" (lines 25-140) there is a bug. The spatial filter is computed from the cross-spectral density matrices, i.e. it is a filter in the frequency domain. However, it is applied to the data (line 127), which are in the sensor space, i.e. time domain. I think before applying the filter the data must also be transformed into the fre

[2014-09-03 14:56] #1549 closed, assigned to nobody

[2014-09-05 11:23] #1474 closed, assigned to nobody

[2014-09-06 11:15] dengemann opened #1553 "ENH? plot cov source"
@agramfort it occured to me that it might be nice to have a function that shows the spatial whitening impact of a given noise cove at the source level in the sense of a sensitivity map. WDYT?

[2014-09-09 20:36] #1548 closed, assigned to nobody

[2014-09-09 20:39] mainakjas opened #1556 "STY / BUG: plot_topomap shows "wide" colorbar when only one timepoint is plotted"
![figure_1](https://cloud.githubusercontent.com/assets/3817535/4208579/63899c06-3861-11e4-8842-500893d8c1a4.png)

[2014-09-11 00:07] kambysese opened #1557 "Color coding raw trace events"
@agramfort I'd like to create a PR that implements color coding multiple events e.g., ExG events in the raw trace using loop over a  `dict()` of events and corresponding `dict()` of colors. Beyond these [instructions](http://martinos.org/mne/stable/contributing.html) is there anything else you want me to take in to consideration before beginning? e.g., specific API issues? or choice of colors?

[2014-09-11 12:11] #1510 closed, assigned to nobody

[2014-09-15 18:32] haribharadwaj opened #1560 "EEG data units in .fif file, mne_browse_raw"
So... I ran into an volts/microvolts issue when using the command line mne_browse_raw along with edf data imported using mne.io... The following makes things go off-scale:

(1) Make RawEDF object from .bdf (biosemi file).. The actual numbers seem to be in volts at this stage..
(2) do raw.save() to a .fif file
(3) Read .fif file using mne_browse_raw:
             The units in which things show up i

[2014-09-17 14:07] kingjr opened #1562 "Question: multiple events per trial"
Hello,
I'm trying to import some data from fieldtrip to MNE-Python.

However, my data contains multiple events per trial: e.g. (visual or auditory) x (left or right) x (relevant or distractor).

What do you think is the best way to keep these various information in the events, and how can I then some interaction (e.g. visual x left x relevant; e.g. visual left OR auditory right)?

Thanks!

[2014-09-17 17:16] dengemann opened #1563 "FIX: confusing printing behavior in time_gen.py"
People tend to think that only one channel is used if in fact multiple channels are used:

https://github.com/mne-tools/mne-python/blob/master/mne/decoding/time_gen.py#L111

cc @agramfort

[2014-09-20 07:30] #1563 closed, assigned to nobody

[2014-09-22 19:09] #1560 closed, assigned to nobody

[2014-09-22 19:28] Eric89GXL opened #1571 "BUG: Labels not given colors when reading from annot in 2.6"
See tests modified in #1564.

[2014-09-24 00:55] larsoner opened #1573 "BUG: Update contributing.rst to mention testing dataset"
It doesn't currently.

[2014-09-24 16:39] #1324 closed, assigned to nobody

[2014-09-25 08:43] #1215 closed, assigned to nobody

[2014-09-25 08:45] #978 closed, assigned to nobody

[2014-09-25 09:06] #1194 closed, assigned to mluessi

[2014-09-25 09:12] #1171 closed, assigned to nobody

[2014-09-25 09:18] #1075 closed, assigned to nobody

[2014-09-25 11:58] #919 closed, assigned to nobody

[2014-09-27 21:02] kevinjos opened #1576 "[FEATURE] filter.py with method 'fft' should optionally return a frequency domain array"
I am using MNE for data processing and feature extraction. Some features will be on the time domain and others derived from the frequency domain. I would like to only have to calculate the fft in one place, during filtering. What do folks think of adding an optional argument to _filter() to return the results of the fft in addition to the time domain?

[2014-09-28 15:06] mainakjas opened #1577 "add profiling suggestions to contributing.rst"
also relates to https://github.com/mne-tools/mne-python/issues/1573 for updating contributing.rst

suggestions from @Eric89GXL
- `time.time()` with `print` statements
- line profiler in `ipython` but doesn't work for class methods.
- Spyder's built in profiler

@dengemann @agramfort do you have any better suggestions?

[2014-09-28 22:50] #657 closed, assigned to nobody

[2014-09-28 22:55] #944 closed, assigned to nobody

[2014-09-28 23:14] #1069 closed, assigned to nobody

[2014-09-28 23:22] #1316 closed, assigned to larsoner

[2014-09-28 23:28] #1351 closed, assigned to agramfort

[2014-09-28 23:43] #1226 closed, assigned to nobody

[2014-09-29 00:22] #1024 closed, assigned to nobody

[2014-09-29 00:48] #962 closed, assigned to nobody

[2014-09-29 01:26] #1207 closed, assigned to nobody

[2014-09-29 21:36] teonbrooks opened #1585 "support for epochs array for KIT systems"
Our KIT data has three different acquisition types: raw, evoked, and (concatenated) epochs array. Our reader currently only supports the first one. A colleague of mine has asked if we could support epochs one as well. I have the code to do so but I was wondering what the best way to implement it.

 The reader is structured is currently subclasses the `_BaseRaw`. The epochs array would need to subc

[2014-09-29 21:44] teonbrooks opened #1586 "RMS in the evoked object"
I received a suggestion for adding a RMS function in the evoked object, with the option of selecting sensors for calculating this RMS. Thoughts?

[2014-09-29 22:20] #1586 closed, assigned to nobody

[2014-09-30 13:38] mluessi opened #1587 "Files missing from MNE-testing-data"
I get several failing tests because the following files are missing from MNE-testing-data:

- `sample_audvis_trunc-meg-eeg-oct-2-grad-fwd.fif`
- `subjects/bert/surf/lh.inflated.nofix` (who is Bert?)

[2014-09-30 17:22] dengemann opened #1591 "BUG/DOC: confusing parameter mapping in _BaseRaw.filter"
l_freq : high pass filter cuttoff

h_freq : low pass filter cuttoff

l_trans_bandwidth : low pass filter trans bandwidth

h_trans_bandwidth : high pass filter trans bandwidth

cc @kevinjos @agramfort @Eric89GXL

[2014-09-30 22:04] #1544 closed, assigned to nobody

[2014-09-30 22:05] #768 closed, assigned to nobody

[2014-09-30 23:53] #1585 closed, assigned to nobody

[2014-10-01 12:02] #887 closed, assigned to nobody

[2014-10-03 09:45] #1573 closed, assigned to nobody

[2014-10-03 09:45] #1577 closed, assigned to nobody

[2014-10-04 07:14] #1591 closed, assigned to nobody

[2014-10-08 09:22] #1330 closed, assigned to dengemann

[2014-10-08 21:26] dengemann opened #1597 "ENH: specify image size in MNE-Report"
@agramfort @mainakjas @Eric89GXL
currently you can say that many images will be displayed very small, one image will be displayed very huge. I don't like this behaviour. How can we set the image size in our reports, e.g. in a matplotlib style?

[2014-10-09 12:24] LaetitiaG opened #1598 "Mistake in the documentation of the function permutation_cluster_test"
Hi,
I think there is a mistake in the mne doc of the function permutation_cluster_test : it is written
"X  List of 2d-arrays containing the data, dim 1: timepoints, dim 2: elements of groups."
But it seems that X must be in the format (samples*times), soI would have written instead:
"X  List of 2d-arrays containing the data, dim 1: elements of groups, dim 2: timepoints."

[2014-10-10 17:07] dengemann opened #1600 "ENH: add option to average time bins when plotting evoked topomaps"
@agramfort I think this would be chouette.

[2014-10-11 17:51] #1597 closed, assigned to nobody

[2014-10-11 22:00] #1600 closed, assigned to nobody

[2014-10-12 02:22] #1598 closed, assigned to nobody

[2014-10-13 14:36] Lx37 opened #1605 "Import micromed .TRC raw data"
Hi MNE :)

I would like to analyze micromed raw EEG data (.TRC) using MNE.
Is there already a way to import this format (that I missed)?
So far, I'm using NEO to import the data on python environment, and this leads me to the #870 issue, talking about interoperability between NEO and MNE.
What would be the best way to carry on my analysis and how could I help solving this issue ?

Thanks!
best

cc

[2014-10-17 09:38] plotxy opened #1610 "Error importing brainvision files converted from BCI2000"
Hello,

I'm trying to use read_raw_brainvision but I'm getting an error:

I sent an email to Teon and he suggested that there might be a difference in the file formatting.
This may be actually true, as the files are not real BV files, but BCI2000 files, converted to BV with a tool provided by BCI2000.
This conversion always worked with no issues with EEGLAB and (of course) BV Analyzer, but it's po

[2014-10-17 14:02] #1610 closed, assigned to nobody

[2014-10-19 19:45] kevinjos opened #1613 "filter.py _1d_overlap_filter DeprecationWarning on dtype conversion"
Hi all. I am getting the following WARN:
filter.py:175: DeprecationWarning: Implicitly casting between incompatible kinds. In a future numpy release, this will raise an error. Use casting="unsafe" if this is intentional.
x_filtered[seg_idx * n_seg:seg_idx * n_seg + n_fft] += prod
AND
filter.py:178: DeprecationWarning: Implicitly casting between incompatible kinds. In a future numpy release, this w

[2014-10-20 13:01] fraimondo opened #1617 "Wrong samples received in mne/realtime/fieldtrip_client.py"
We (@trachelr and me) were performing some timing test using mne realtime and the EGI system fieldtrip client. In order to test the delay in acquisition we sent a pulse over the parallel port to the analog and digital inputs of the EGI system.

We found that the delay in the pulse was bigger each time and the increase was strictly related to the block size: smaller block sizes will lead to bigger

[2014-10-24 08:00] maedoc opened #1624 "ENH: Use OpenMEEG for iEEG"
I'd like to use OpenMEEG to generate forward solutions, especially for sEEG (#1623), under the assumption that MNE's forward module doesn't provide the same support for sEEG/internal potential as OpenMEEG (?).

Assuming I have the normal BEM surfaces, and additionally the positions of the sEEG electrodes, I'm able to get s/M/EEG lead fields, more or less by hand using the command line OpenMEEG too

[2014-10-24 09:55] maedoc opened #1625 "Q: neural mass source simulation"
Is there interest in having neural mass models to generate source estimates?

[2014-10-24 17:15] #1617 closed, assigned to nobody

[2014-10-24 19:06] larsoner opened #1626 "Cleanup: Remove old branches"
@agramfort any objection if I remove the following branches from this repo?

subcortical
tfr
stats
commands
manual
0.1

None of these look like they have substantive changes outside of `master`. I don't know enough about what the purpose is of `debian` to know if we can delete it... @agramfort?

[2014-10-24 19:44] #1626 closed, assigned to nobody

[2014-10-27 22:20] #1070 closed, assigned to nobody

[2014-10-30 13:22] jona-sassenhagen opened #1631 "Missing ._raw_lengths breaks .resample"
BV-imported files have no attribute _raw_length, preventing e.g. downsampling. E.g.:

[code]

[2014-10-30 14:40] #1631 closed, assigned to nobody

[2014-10-31 10:21] teonlamont opened #1633 "Abstract base class"
In ref to https://github.com/mne-tools/mne-python/pull/1632. there are attributes that shared between different raw classes that would be better allocated to an abstract base class. we currently have base_raw which is the basis for non-neuromag systems.

[2014-11-03 04:04] larsoner opened #1634 "Q: weighted difference evoked1-evoked2"
For example, in oddball paradigms it's common to have _many_ more standards than oddballs. Our current `evoked1-evoked2` does a weighted difference. I understand the motivation behind weighting `evoked1+evoked2`, but it seems like weighting `evoked1-evoked2` doesn't make much sense in some contexts. Then again, having `(evoked1 + evoked2) - evoked2 != evoked1` would be kind of sad, so destroying t

[2014-11-03 14:51] #1634 closed, assigned to nobody

[2014-11-03 14:59] dengemann opened #1635 "FIX: deprecate add_eeg_ref=True"
This default in most cases *not* the desired behavior as I have painfully learned while processing many EEG datasets over the last monthss. You typically do the common referencing when you're done with preprocessing, e.g. computing ICA and dropping epochs. It's really tedious to always spell this longish argument name at every step (Raw, Epochs) and pay a high price when forgetting it. Also funky

[2014-11-04 17:23] christianbrodbeck opened #1637 "FAQ: Regularizing the noise covariance matrix"
re: https://github.com/mne-tools/mne-python/issues/1495#issuecomment-57097141 I have a first question (I will start a FAQ with it as @agramfort suggested): How should I regularize my noise covariance matrix?

The [manual](http://martinos.org/mne/stable/manual/mne.html#regularization-of-the-noise-covariance-matrix) says "Since finite amount of data is usually available... " does that mean after hav

[2014-11-05 11:14] matthew-tucker opened #1640 "Missing documentation for mne.viz.plot_events() in web reference"
It appears that the web documentation is missing a reference for mne.viz.plot_events(). The documentation is there inline, but just seems to be missing from the website:

http://martinos.org/mne/stable/python_reference.html#module-mne.viz

[2014-11-05 12:30] mainakjas opened #1641 "consecutive=True in realtime"
It seems that there is no equivalent of `mne.find_events( ..., consecutive=True)` in realtime. Events are not detected unless they return to zero. This is not always desirable.

I suspect this might have something to do with this line: https://github.com/mne-tools/mne-python/blob/master/mne/realtime/epochs.py#L297. Is there data to reproduce this using sample? If not, I'll try to get some data for

[2014-11-05 15:06] #1640 closed, assigned to nobody

[2014-11-06 16:05] dengemann opened #1643 "ENH/FIX: drop bad channels on averaging"
For some EEG preprocessing pipelines bad channels are determined based on the proportion of epochs that does rejected because of one channel.  Such workflows necessitate updating bads at the epochs stage. What ever happens, Epochs.average should ignore bad channels. I'm actually very surprised it did not before.

cc @agramfort @fraimondo @jdsitt

[2014-11-09 13:52] teonbrooks opened #1645 "`dev_head_t` needed for plotting EEG data?"
when trying to plot EEG topomaps, layout calls for `fit_sphere_to_headshape` https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/maxfilter.py#L75 where it asks for `dev_head_t` but there isn't a transformation matrix for EEG data. Am I missing something?

h/t @jona-sassenhagen

[2014-11-10 22:03] #1537 closed, assigned to nobody

[2014-11-10 22:06] #1532 closed, assigned to nobody

[2014-11-10 22:07] #1490 closed, assigned to nobody

[2014-11-10 22:07] #1480 closed, assigned to nobody

[2014-11-10 22:07] #1476 closed, assigned to nobody

[2014-11-10 22:08] #1384 closed, assigned to nobody

[2014-11-10 22:09] #1298 closed, assigned to nobody

[2014-11-10 22:10] #1257 closed, assigned to nobody

[2014-11-10 22:10] #1176 closed, assigned to nobody

[2014-11-10 22:11] #1271 closed, assigned to nobody

[2014-11-10 22:14] #994 closed, assigned to nobody

[2014-11-10 22:14] #1061 closed, assigned to nobody

[2014-11-10 22:18] #1391 closed, assigned to nobody

[2014-11-10 22:21] #1315 closed, assigned to nobody

[2014-11-10 22:25] #1107 closed, assigned to nobody

[2014-11-10 22:25] #1051 closed, assigned to nobody

[2014-11-11 10:01] #1268 closed, assigned to nobody

[2014-11-11 10:02] #1512 closed, assigned to nobody

[2014-11-11 11:48] #1645 closed, assigned to nobody

[2014-11-11 13:33] mainakjas opened #1647 "real-time code does not allow epochs longer than buffer length"
Let's say we have the real-time code that looks something like this:

[code]

Then it seems that the real-time code complains:

[code]

@mluessi do you know why this was done? We could do without it, right? It introduces unwanted delays ...

cc @LauriParkkonen @agramfort  (and anyone else interested)

[2014-11-11 13:43] mainakjas opened #1648 "picks won't work for EMG in real-time"
For EMG channels, the 'kind' is missing: https://github.com/mainakjas/mne-python/blob/master/mne/realtime/fieldtrip_client.py#L162 which creates issues.

I'll look at it over the weekend.

cc @LauriParkkonen @agramfort (and anyone else interested)

[2014-11-11 15:18] teonbrooks opened #1649 "montages with fiducials"
so I am trying to standardize the use of montage in some of the eeg modules. Currently they accept `hpts` files (MNE-manual 9.3.1, pg. 235, pdf pg 231). Since `hpts` is a format that has been used in MNE-C and in the brainvision and edf/bdf modules, I would like to make its usage general. The problem I just came across you can't specify fiducials since these are listed in the `dig` and montage is

[2014-11-13 14:22] jona-sassenhagen opened #1654 "ENH: upper & lower keywords for ICA's find_bads_eog"
I hope I'm roughly following the appropriate protocol here, this is the first time I'm trying to make meaningful contributions to a software project. Or should I just directly make a pull request for finished (and properly tested :)) code?

I would like to add optional `upper_eog` and `lower_eog` keywords to `find_bads_eog` in `ICA` to conveniently correlate components with virtual HEOG/VEOG chann

[2014-11-15 06:10] haribharadwaj opened #1655 "ENH: Making EEG layout on the fly for plot_projs_topomap?"
Is this in anyway possible? i.e., is there a simple way to associate channel location info with the projs objects?

[2014-11-16 13:13] #1649 closed, assigned to dengemann

[2014-11-17 09:59] MadsJensen opened #1657 "ENH: Grand average function for Evoked data"
add a mne.evoked.grand_average function

[2014-11-17 13:46] #1657 closed, assigned to nobody

[2014-11-18 13:15] fraimondo opened #1659 "BUG: ICA info['chs'] elements are different when loading from saved ICA file"
`ica_1` is the computed ICA solution.` ica_2` is the same solution reloaded from a file. Check the `eeg_loc` and `coord_frame` values.

[code]

[2014-11-18 13:17] agramfort opened #1660 "pb EDF reading"
code below on this data:

https://partage.mines-telecom.fr/public.php?service=files&t=63240f5c7263fa0ad17ad61b67b0e970

does not produce results as EEGLAB. Basically the data with MNE seem to have been low passed. EEGLAB seems to upsample by duplicating samples.

[code]

[2014-11-19 14:57] #1648 closed, assigned to nobody

[2014-11-20 19:53] choldgraf opened #1665 "Return more data with time_generalization"
I'm wondering how people feel about returning more information with the [time_generalization](https://github.com/mne-tools/mne-python/blob/master/mne/decoding/time_gen.py) function. Right now, it runs cross validation, fits a bunch of models, generalizes all those models, and then throws away all of that information except for a single averaged score matrix.

It'd be useful to have access to the c

[2014-11-20 20:09] #1665 closed, assigned to nobody

[2014-11-21 20:06] #1641 closed, assigned to nobody

[2014-11-22 15:31] #1088 closed, assigned to nobody

[2014-11-22 15:32] #1333 closed, assigned to nobody

[2014-12-01 09:14] dengemann opened #1678 "ENH: freezing dependencies for ICA"
I figured that subtle changes in the sklearn sources tend to render exact results using ICA unreproducable. I would not like to bother about that. I'd suggest to put copy sklearn/decoposition/pca.py and sklearn/decoposition/ica.py to mne-python and update them in a controlled fashion once a year or so.

@agramfort

[2014-12-01 12:07] MadsJensen opened #1679 "BUG: Brainvision reading header highpass settings wrong"
Error in mne.io.brainvision.py  _get_eeg_info Line: 565

It reads the number from the 5th column of the header, but this value is the cutoff (highpass) in seconds - not in Hz. Hence a cutoff of 10 corresponds to a highpass filter of 0.1 Hz, but this is interpreted as a highpass filter of 10 Hz. The fifth column is called "Low Cutoff [s]"

best,
mads

[2014-12-01 12:44] #1679 closed, assigned to nobody

[2014-12-01 15:40] #1647 closed, assigned to nobody

[2014-12-01 22:16] agramfort opened #1682 "easy install with pip of git master"
pip install --user --upgrade --no-deps git+git://github.com/mne-tools/mne-python.git

would be good to add this to getting started page...

[2014-12-03 21:52] ktavabi opened #1683 "mne report recursive"
The files I'd like to generate html reports for are organized in sub-directories within my subjects data directory, e.g., *-ave.fif reside in the inverse directory etc. It appears the following commands result in an html file containing only results from the final `Report.parse_folder` command and MRI i.e., reports the evoked and forward sections are not appended.

[code]

Is it possible to append

[2014-12-03 22:05] ktavabi opened #1684 "mne report parallel processing error"
For some reason the `n_jobs` argument for parallelizing `Report.parse_folder()` generates the following error. This is the only use case of mne-python parallel processing that I've encountered this error. After several recursions of the error message the interpreter hangs. Has anyone else seen this, or knows how to deal with this?

[2014-12-03 23:57] #1684 closed, assigned to nobody

[2014-12-04 21:11] dgwakeman opened #1687 "egi compatibility"
cc @dengemann I have discovered that our code does not properly read binary EGI data from NetStation 5. This is likely due to incompatibility of both our code as well as some issues with EGI's conversion (for example the ECG channel is called u'TR' after the conversion). It also seems that the new files use unicode (as highlighted in the above example). I am going to work on this, but I wanted it

[2014-12-05 13:38] #1660 closed, assigned to nobody

[2014-12-05 14:17] #1655 closed, assigned to nobody

[2014-12-06 16:40] #1683 closed, assigned to nobody

[2014-12-08 17:12] Eric89GXL opened #1690 "Q: Making movies"
It might be nice to expose a simple UI for creating movies. There is a package called MoviePy we might be able to use with PySurfer and/or other viz functions, e.g.:

See related PySurfer PR:

https://github.com/nipy/PySurfer/pull/79
http://zulko.github.io/blog/2014/11/29/data-animations-with-python-and-moviepy/

The thing I'd first want to see movie-able would be brain movies (PySurfer). We shoul

[2014-12-10 01:33] #1429 closed, assigned to nobody

[2014-12-10 01:41] #717 closed, assigned to nobody

[2014-12-10 07:05] #626 closed, assigned to nobody

[2014-12-10 14:55] dengemann opened #1691 "ENH: add scikit.cuda support for fft and ifft"
ping @Eric89GXL what would you think about a weak dependency? Is it worth the the effort? I'm doing heavy TFR analyses over many trials and sensors ....

[2014-12-11 01:53] ktavabi opened #1692 "Plotting Bem"
I am working with some older MEG only data that is giving me issues when generating MNE reports for trans.fif files. Trying to trouble shoot the errors concerning the BEM and trans file I discovered that `plot_bem` generates an `IndexError: list index out of range` error at `line 381` of `viz.misc`. The program seems to be looking for three surfaces and my data sets only contain the inner-skull an

[2014-12-12 14:53] mluessi opened #1697 "Specify noise covariance rank"
As discussed on the mailing list, it would be good to have the option to specify the rank of the noise covariance matrix when computing an inverse operator, like in the MNE command line tools.

After thinking about this further, I think the best option would be to add an option to `compute_covariance` and `compute_raw_data_covariance` functions, which would have the effect that only the `n` larges

[2014-12-13 04:42] #1692 closed, assigned to nobody

[2014-12-15 18:13] mainakjas opened #1699 "picks parameter in raw.resample"
raw.resample (and also epochs.resample I think) does not appear to have a picks parameter whereas raw.filter has one. Is there any objection to adding one as it can speed up computation a lot in many cases? I don't want to use raw.pick_channels because then I have to change my rejection dictionary etc. every time I try to change from meg=True to meg='grad'. Unless, the rejection parameter can be m

[2014-12-15 21:30] ktavabi opened #1700 "Evoked topography ylim"
The suggested format for kwarg `ylim` in the documentation generates a TypeError.
after making the following changes to this [example](http://martinos.org/mne/stable/auto_examples/plot_topo_compare_conditions.html) script:

[code]

[2014-12-15 23:00] #1699 closed, assigned to nobody

[2014-12-16 08:01] #1700 closed, assigned to nobody

[2014-12-16 14:54] mainakjas opened #1702 "problem exporting to nitime"
I am just beginning to experiment with nitime. I was trying to export the raw data but I get an error. Here is the script to reproduce the error

[code]

But if I specify picks in `raw.to_nitime()`, I get no error ...

[2014-12-17 15:29] christianbrodbeck opened #1703 "Creating Montage from Polhemus points"
I have brain vision data and digitized electrode positions. This now means I have to create a Montage file with my digitized points in order to convert my data, right? Is there a tool for creating a montage from a Polhemus Points file? If not should I add one?

Also there seems to be something wrong at https://github.com/mne-tools/mne-python/blob/master/mne/channels/layout.py#L764, the scale param

[2014-12-18 15:26] agramfort opened #1706 "reorganize examples"
we start to have too many examples with some of them being really for advanced users. We should make first examples more accessible.

I propose to put in a separate folder the advanced ones

[2014-12-19 15:39] christianbrodbeck opened #1707 "Tests too slow"
As discovered in https://github.com/mne-tools/mne-python/pull/1705, the tests still take more than 30 minutes

[2014-12-19 15:46] christianbrodbeck opened #1708 "_TempDir"
After running some tests I got

[code]

Looking at the code (https://github.com/mne-tools/mne-python/blob/master/mne/utils.py#L261), it looks like the suggestion in the doc string has not actually been implemented?

I'm also wondering about the use of `__del__` here, since the Docs say "It is not guaranteed that **del**() methods are called for objects that still exist when the interpreter exits."

[2014-12-20 19:02] mainakjas opened #1710 "channel selection"
Is there an option (that I am missing) to pick channels by region of brain? e.g., frontal, central, occipital etc.

Also, it would be good to allow selecting channels from a topo plot by drawing a rectangle.

[2014-12-24 11:46] agramfort opened #1714 "read MNE processing history and SSS info from fif files"
we should read the processing history and the SSS info from fif files.

that would be a way to detect if maxfilter was applied, with what
option and could give us a robust way to detect rank reductions.

maybe a nerd snipping for @Eric89GXL or @mainakjas or @dengemann ?

any thought @mshamalainen @LauriParkkonen ?

[2014-12-24 15:36] jona-sassenhagen opened #1715 "Add support for AMICA (modern ICA distributed as binary)?"
[AMICA](http://sccn.ucsd.edu/~jason/) is a successor to Infomax. In my experience, it's significantly better than Infomax or fastica. I've started writing a Python wrapper for AMICA, and begun integrating it into MNE, as another possible method besides fastica and infomax when calling ```ica.fit()```.

AMICA probably won't become part of sklearn any time soon though. It's GPL'd, but primarily dist

[2014-12-25 13:49] #1708 closed, assigned to nobody

[2014-12-26 15:54] dengemann opened #1717 "ENH: add parameter to ICA to prametrize by rank and take into account SSS"
If someone feels bored ;-)

[2014-12-28 11:52] mainakjas opened #1719 "raw.crop() memory usage"
I am having a weird issue with `raw.crop`. I am trying to basically crop out some experiment blocks in the fiff file and retain only some blocks. However, it seems to take a huge amount of memory. Any suggestions? Here is the script to reproduce:

[code]

My guess is that the list `raws` should take only as much memory as `raw` or even less (because it's only 100 sec compared to raw which is 277 s

[2014-12-28 15:21] #1719 closed, assigned to nobody

[2014-12-29 02:14] #1714 closed, assigned to nobody

[2014-12-29 02:15] #1697 closed, assigned to nobody

[2014-12-29 02:31] #1522 closed, assigned to nobody

[2014-12-29 02:44] #1332 closed, assigned to dgwakeman

[2014-12-29 02:45] #1242 closed, assigned to nobody

[2014-12-29 02:46] #1246 closed, assigned to nobody

[2014-12-29 09:45] agramfort opened #1720 "automatic docstring checking"
we should have a way to automatically check docstrings based on function signatures. See:

https://github.com/jnothman/scikit-learn/blob/test_docstring_parameters/test_docstring_parameters.py

[2014-12-30 02:11] Eric89GXL opened #1722 "FIX: Deprecate `method='empirical'` for covariance estimation"
Based on #1671, the `'auto'` mode should really work better. @dengemann I think there was some confusion on this point: I don't mean we should remove `'empirical'` as an available method, just deprecate having it as the default method. So for the next release (0.9), we could do the following:

1. Make the default `method=None`.

2. If `method is None`, then use `'empirical'` but warn people that t

[2014-12-30 22:57] kambysese opened #1724 "Single layer BEM transform file handling"
@mainakjas Thanks for the fix #1692. This is totally minor, I just wanted to bring it to your attention. I believe there might be a related issue of how `Report` handles <i>trans.fif</i> files for data with single layered BEM. In the dataset that I uploaded on [dropbox](https://www.dropbox.com/sh/a7zga1387wltdyo/AAA1mGSST9nhqLvmo-D1EbRxa?dl=0). plotting the transformation file only works if the ar

[2015-01-01 13:04] #1724 closed

[2015-01-01 14:30] dengemann opened #1727 "ENH: add GridSearchCV to _RegCovariance"
... for the sake of completeness.

[2015-01-01 14:31] dengemann opened #1728 "ENH/DOC: whitening tutorial with trouble-shooting guide"
see discussion in #1675

[2015-01-01 15:09] dengemann opened #1729 "ENH: use mne.compute_covariance internally in raw cov functions"
to unify code paths.

[2015-01-01 16:35] dengemann opened #1730 "ENH: show whitening in Report if cov and evoked are found"
cc @mainakjas

[2015-01-01 21:12] agramfort commented on #1730
+1

[2015-01-02 01:22] Eric89GXL commented on #1730
Sometimes multiple covariance matrices (empty room, baseline) and evoked
files (multiple files with multiple conditions collapsed differently) can
be included in a report, so we have to figure out how to handle that
gracefully. +1 with that caveat in mind
On Jan 1, 2015 4:12 PM, "Alexandre Gramfort" <notifications@github.com>
wrote:

[2015-01-02 09:06] agramfort commented on #1730
I would add a --cov param like with we have a --info to specify the cov to
use.

[2015-01-02 18:00] mainakjas commented on #1730
ok, noted. I will take care of this slightly later :)

[2015-01-05 22:58] Eric89GXL commented on #1722
I don't think I mind having an `sklearn` dependency for this function / feature by default, given that a user can get back the original behavior by explicitly doing `method='empirical'`.

So what do people think? Should we deprecate? Speak now or forever hold your peace...

[2015-01-06 09:20] #1720 closed

[2015-01-06 13:30] agramfort commented on #1722
you suggest to toggle 'auto' by default and raise an error if sklearn is
not available asking to use "empirical"?

did you try the auto mode? are you happy with it on your data? I don't want
to rush the transition.

[2015-01-06 16:27] dengemann opened #1734 "FIX/STY: avoid overwriting inbuilt python functions"
In many places we've got things like `format` inside functions or elsewhere. We should avoid overwriting builtins alltogether.

[2015-01-06 19:06] Eric89GXL commented on #1722
I haven't tried it out with my data yet. I am trusting you guys to have tested it extensively :)

I'll give it a shot and let you know.

[2015-01-08 10:24] wmvanvliet commented on #1734
`format`'s a build-in? I though it was just a method of the base libs (as opposed to `print`, which is a build-in).

[2015-01-08 11:13] dengemann commented on #1734
Yes it is :) you can try it :) it's the functional equivalent of the method. And it's indicated in -- guess -- all Python syntax schemes accordingly. Compare colors between e.g. `format`, `str` and `np.array`.

[2015-01-08 12:08] wmvanvliet commented on #1734
so it is… learn something new every day :)

Yeah, we should not overwrite build-in names...

--
Marijn van Vliet
w.m.vanvliet@gmail.com

[2015-01-08 12:12] dengemann commented on #1734
PR welcome :)

2015-01-08 13:08 GMT+01:00 Marijn van Vliet <notifications@github.com>:

[2015-01-10 21:18] wmvanvliet opened #1737 "ENH: automatic bad channel / bad epoch detection"
On a dataset with many subjects and many epochs, eye-balling data to mark bad channels and bad epochs becomes cumbersome. There are some papers out there that describe some statistics that can serve to automatically tag bad data, such as:

H. Nolan, R. Whelan, R.B. Reilly: FASTER: Fully Automated Statistical Thresholding for EEG artifact Rejection
http://www.sciencedirect.com/science/article/pii/S

[2015-01-10 21:26] dengemann commented on #1737
Hey, take a look at mne.preprocessing.bads

It goes in that direction. With @fraimondo we do something similar locally. Maybe we can stick our heads together and extract a contrib

[2015-01-10 21:46] dengemann commented on #1737
Here: https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/bads.py#L9

Currently only used with ICA. It's a bit hidden but we use the same function already as part of a bad segments and bad channels detection workflow. Needs a bit more dev effort to make it generally usable. I'd be +100 at least for defning an MNE way of automatically detecting bad channels. In my experience the t

[2015-01-10 21:46] dengemann commented on #1737
And we have some open issue for exactly this quesion. We should find and close it in favor of this one.

[2015-01-10 21:47] dengemann commented on #1263
Closing on favor of #1737 .

[2015-01-10 21:47] #1263 closed

[2015-01-10 21:56] wmvanvliet commented on #1737
That's a good start.

Detection should preferably operate on Epochs, because during pauses, the subject might move / blink / rub eyes / speak / etc. causing the signal to be abnormal.

[2015-01-10 21:57] dengemann commented on #1737
@wmvanvliet you see why we wanted the referencing there :) that's exactly the reason. Also note that we compute ICA on epochs for EEG.

[2015-01-10 22:00] wmvanvliet commented on #1737
sklearn has fancy outlier detection... maybe a bit too fancy for what we need. The `find_outlier` function should serve as a good beginning.

I'm playing with a testing dataset that contains a known bad channel. Feeding the vars of the channels through this function finds it.

[2015-01-10 22:01] dengemann commented on #1737
that works already pretty well with MNE sample.

But it's too optimistic where the bad channel changes over time and you've got many bad channels.

[2015-01-10 22:08] wmvanvliet commented on #1737
We could process the data in chunks of maybe a minute. Channels may only be bad at certain times (electrode get loose halfway through the recording). An alternative approach is to mark bad channels for each epoch, although that may be a bit short time-window. Also, things like eye-movement correction should preferably be done before this analysis. The frontal electrodes in my sample set have a ten

[2015-01-10 22:53] dengemann commented on #1737
@fraimondo WDYT?

[2015-01-11 08:03] agramfort commented on #1737
how can you setup a large scale experiment to validate an awesome automatic
bad channel detection method?

[2015-01-11 09:41] wmvanvliet commented on #1737
Yes and no. I have around 60 EEG recordings and around 30 MEG+EEG recordings. Any method we can come up with can be tested on those. However, I don't have time for a true study with accompanying paper. That would be a good master thesis project.

On January 11, 2015 10:03:08 AM EET, Alexandre Gramfort <notifications@github.com> wrote:

--
Sent from my phone. Please excuse my brevity.

[2015-01-11 15:05] dengemann opened #1738 "ENH: maybe add pytoolz to externals"
https://github.com/pytoolz/toolz/tree/master/toolz

https://toolz.readthedocs.org/en/latest/api.html#itertoolz

nice functional iterator patterns that help keeping the utils.py small.

[2015-01-11 15:30] agramfort commented on #1738
what would you take from it?

[2015-01-11 15:32] dengemann commented on #1738
Need to explore it a bit further. But almost everything it has seems pretty beautiful. Almost a bit sad this is not the standard library :(

[2015-01-11 15:41] agramfort commented on #1737
open problem? how do we share 200 or 300 subjects recordings across centers
to make such a study possible?

[2015-01-11 15:41] dengemann commented on #1738
certainly a few things that would help cleaning up control flows and container manipulations:
- concatnenation of sequences `concat` instead of the sum trick or comprehension tricks, also `mapcat`
- `groupby` seems pretty useful, maybe also for channel-wise iteratation
- `sliding_window`
- `partition_by`
- `pipe`, `compose` and `juxt`
- `do` for explicitly handling inplace modifcations
- `get` wou

[2015-01-11 15:44] dengemann commented on #1737
@fraimondo we should really think about sharing insights form our preprocessing routines here. We validated it on more than ~150 EEG recordings.

[2015-01-11 15:54] wmvanvliet commented on #1737
That's mostly a political problem. My professor would never allow it.

On January 11, 2015 5:41:30 PM EET, Alexandre Gramfort <notifications@github.com> wrote:

--
Sent from my phone. Please excuse my brevity.

[2015-01-11 16:06] agramfort commented on #1737
I know... :(

[2015-01-11 16:07] agramfort commented on #1738
ok some maybe but beware of magic for new contributors.

[2015-01-11 16:09] dengemann commented on #1738
not urgent but we should keep this in mind and see where it can save us lines and help make our code even more boring :) (wich is good)

[2015-01-11 16:12] wmvanvliet commented on #1737
We could approach it as a machine learning competition. We have our own datasets for local testing (training set). Once a method has been developed, it can be shared. Others can in turn try it on their data (test set) and report back the score.

On January 11, 2015 6:06:56 PM EET, Alexandre Gramfort <notifications@github.com> wrote:

--
Sent from my phone. Please excuse my brevity.

[2015-01-11 16:14] agramfort commented on #1737
hum a kind of distributed kaggle... interesting.

[2015-01-11 18:46] dengemann opened #1739 "FIX? why is ref_meg=False by defaylt for LCMV?"
should be fixed I guess

[2015-01-11 19:18] dengemann commented on #1739
It seems LCMV is really broken for CTF data. Just replaced minimum_norm with lcmv in the SPM example --> booom. Ref MEG channels ...

[2015-01-11 19:56] agramfort commented on #1739
please share a gist to reproduce the pb.

[2015-01-11 19:59] dengemann commented on #1739
https://gist.github.com/dengemann/d0f385608a1f3d058762

[2015-01-11 20:12] dengemann commented on #1739
I'm on it.

[2015-01-13 12:49] dengemann opened #1741 "FIX: mayavi imports tend to produce x server crashes on some mashines."
would be good to avoid trying mayavi imports by option

cc @fraimondo @mainakjas @agramfort

[2015-01-13 12:50] dengemann opened #1742 "ENH: use mne.cov sacaling functions in ICA"
we should apply the same sort of scaling/rescaling everywhere. use mne.cov scaling functions

[2015-01-13 12:54] dengemann commented on #1722
Note. remove regularize from examples.

[2015-01-13 13:10] agramfort commented on #1741
how come it crashes?

[2015-01-13 13:20] dengemann commented on #1741
segfaults via SSH

2015-01-13 14:10 GMT+01:00 Alexandre Gramfort <notifications@github.com>:

[2015-01-13 13:43] fraimondo commented on #1741
It's not a segfault. It simply prints an error: "X server not found" or
something like that and then quits python.

And that happens when mayavi is imported. So all the code in one report
that tries to import mayavi does not work if mayavi is installed on the
system but the x server is not running.

It's a huge deal for distributed processing.
Le 13 janv. 2015 14:21, "Denis A. Engemann" <notificat

[2015-01-13 13:45] dengemann commented on #1741
This should be fixed -- because it will lead to crahses irrespective of
whether you want use Mayavi at all

2015-01-13 14:43 GMT+01:00 Federico Raimondo <notifications@github.com>:

[2015-01-13 13:53] agramfort commented on #1741
why not doing "ssh -X" ?

[2015-01-13 13:58] fraimondo commented on #1741
Cause on a distributed environment you don’t have X servers. And sometimes you don’t want to have an X server running. That will increase too much the time to setup the environment.

Simple test to see the error:

In [1]: from mayavi import mlab
ipython: cannot connect to X server

[2015-01-13 14:07] agramfort commented on #1741
see :

https://github.com/mne-tools/mne-python/blob/debian/debian/rules

for debian we use xvfb to fake the x-server.

would that help?

[2015-01-13 14:14] dengemann commented on #1741
No it does not help, especially with xvfb-run this poses problems

2015-01-13 15:07 GMT+01:00 Alexandre Gramfort <notifications@github.com>:

[2015-01-13 14:16] fraimondo commented on #1741
We are currently using that, although it seems that it has some huge memory leaks.

https://bugs.eclipse.org/bugs/show_bug.cgi?id=322108 <https://bugs.eclipse.org/bugs/show_bug.cgi?id=322108>
https://bugzilla.redhat.com/show_bug.cgi?id=498357 <https://bugzilla.redhat.com/show_bug.cgi?id=498357>
https://issues.apache.org/ooo/show_bug.cgi?id=105191 <https://issues.apache.org/ooo/show_bug.cgi?id=1051

[2015-01-13 14:37] agramfort commented on #1741
can you uninstall mayavi on the cluster? or have a venv without mayavi?

[2015-01-13 14:38] dengemann commented on #1741
We'll subclass Report and overwrite the methods that are a problem.

2015-01-13 15:37 GMT+01:00 Alexandre Gramfort <notifications@github.com>:

[2015-01-13 14:39] fraimondo commented on #1741
I’m currently doing some tests on that, to see if I can uninstall mayavi and everything works… will keep you updated.

[2015-01-14 17:21] fraimondo commented on #1741
without mayavi:

Traceback (most recent call last):
  File "/opt/anaconda/lib/python2.7/site-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg)
  File "/opt/cpype/cpype/pipeline/tests/test_pipeline.py", line 219, in test_local_global_persistence
    pipeline.preprocess(raw, notch_filter=False, use_ctps=False, min_events=6)
  File "<string>", line 2, in preprocess
  File "/opt/an

[2015-01-14 17:25] Eric89GXL commented on #1741
That should be a fairly easy fix, just need to prepend a check for whether `mayavi` exists before moving on to the `isinstance` conditional, PR welcome :)

[2015-01-14 17:26] mainakjas commented on #1741
mayavi is used only for rendering `-trans.fif` files. Why not use the pattern matching capabilities in report to render the `-trans.fif` files on a machine with X server capability and the rest of the files without the X server?

[2015-01-14 17:29] dengemann commented on #1741
The problem is that even if you don't want mayavi at all you still deal
with it. It's imported in add figs to section to check for the type of
object. Maybe that can be avoided.

2015-01-14 18:26 GMT+01:00 mainakjas <notifications@github.com>:

[2015-01-14 17:41] mainakjas commented on #1741
yeah, we just need a check as @Eric89GXL says

[2015-01-14 20:17] agramfort commented on #1741
+1 for the check. Report should work without mayavi installed.

[2015-01-15 18:50] dengemann opened #1743 "ENH/FIX: use scipy / avoid creating figure for computing PSDs"
mpl.psd does not play nicely with memory / forking / joblib. Use matplotlib.mlab.csd directly to avoid opening figures or use scipy.signal.welch instead.

example:

[code]

[2015-01-16 09:53] agramfort commented on #1743
@yousrabk wan't to give it a try?

[2015-01-17 17:45] dengemann opened #1745 "ENH: save cov method + loglik to disk"
ok @agramfort ?

[2015-01-17 18:14] agramfort commented on #1745
Ok

[2015-01-17 20:46] #1745 closed

[2015-01-20 15:47] dengemann opened #1749 "ENH: improve epochs.plot (EEGLAB style plots)"
Actuallys similar to plot raw, only show datasegments from epochs.

[2015-01-20 16:08] agramfort commented on #1749
do you have a screen shot to illustrate?

On Tue, Jan 20, 2015 at 4:47 PM, Denis A. Engemann <notifications@github.com

[2015-01-20 16:16] dengemann commented on #1749
Here (from the FASTER paper) used to select bad epochs.

![screenshot 2015-01-20 17 15 09](https://cloud.githubusercontent.com/assets/1908618/5820836/0306151a-a0c8-11e4-9382-644b6a0fbbf3.png)

Would be pretty easy and another conrtrib that removes more lines than it adds (recycling the plot_raw) ;-)

[2015-01-20 16:25] agramfort commented on #1749
so just calling plot_raw on np.concatenate(epochs.get_data(), axis=0) ?
and adding the red colors?

[2015-01-20 16:29] dengemann commented on #1749
... just adding the event markers instead. From the current  epochs.plot we still have the bad epoch slection tool. We should somehow transplant it then.

[2015-01-20 16:32] agramfort commented on #1749
hum... so it's a plot_raw with highlighted bad segments? plot_raw can
already show events.

[2015-01-20 16:37] dengemann commented on #1749
But this one only shows the epochs. not the rest. Epochs can be pretty remote from another. I think this is  better for data browsing than raw.plot with EEG data, which are often only viewable at that later stage, and it would be a nicer behavior for epochs.plot

[2015-01-20 17:14] agramfort commented on #1749
ok sounds like a plan. PR welcome :)

[2015-01-20 18:02] dengemann opened #1750 "BUG in set_reference"
[code]

cc @wmvanvliet

[2015-01-20 18:03] dengemann commented on #1750
Also it would be nice to have this function in the mne namespace

[2015-01-20 18:50] wmvanvliet commented on #1750
#1751

[2015-01-20 18:50] wmvanvliet commented on #1750
@dengemann you mean `mne.set_eeg_reference` instead of `mne.io.set_eeg_reference`?

[2015-01-20 19:04] dengemann commented on #1750
Yes! Or avoid that alltogether and add an instance method.

[2015-01-20 19:05] dengemann commented on #1750
I was actually a bit surprised to find reference in io. Would make more sense to me in mne.channels. We could still change that without deprecation.

[2015-01-20 20:12] agramfort commented on #1750
yeah makes sense unless it creates circular deps

[2015-01-20 22:53] choldgraf opened #1753 "Time indexing bug when converting epoch to dataframe"
I think I've found a bug when converting Epochs objects to pandas DataFrames using the .as_data_frame() method.

I found that when you try to reshape the resulting dataframe (e.g., df.unstack('time')) you get an indexing error saying that there are duplicates in the index. When I checked the "time" index, I found that timepoints >~ 1 second were being duplicated. E.g. before 1 second, times were [

[2015-01-20 23:09] dengemann commented on #1753
@choldgraf hah, it seems you're among the few users that are using this. I've implemented it once but my predictions about the importance of pandas (and the stability of its API) did not come true, hence, this part of our code meanwhile became a bit neglected. We're actually discussing to remove these exporters.

The error you're reporting probably depends on the version. Which version of pandas d

[2015-01-20 23:11] choldgraf commented on #1753
Ah that's a total bummer! Pandas has become totally integral to my analysis pipeline and I use as_data_frame all the time :P ah well.

I'm on pandas 15.1

[2015-01-20 23:11] dengemann commented on #1753
@choldgraf good you're raising your voice. I thought I was the only one using it.

[2015-01-20 23:12] dengemann commented on #1753
I think our code is tested for pandas versions from 2012 to late 2013.

[2015-01-20 23:13] choldgraf commented on #1753
I love pandas, makes plotting, playing around with data, etc much easier. If anything else, using indices so that you know exactly the details for each datapoint is invaluable to me.

Is pandas support that difficult? I'm surprised nobody else is using it!

[2015-01-20 23:14] Eric89GXL commented on #1753
In my experience, getting pandas to work and continue working across versions, with their API changes and methods of data access and constructions, has always been a nightmare.

[2015-01-20 23:15] dengemann commented on #1753
it's really a pain, don't ask me where exactly. It was actually pretty challenging to implement code that covers the versions in the time range mentioned. Nothing like that can be said about e.g. numpy.

[2015-01-20 23:16] dengemann commented on #1753
We can keep  this code if people are using it. But we'll need some active input/ contribs to keep it alive as I'm personally not using pandas any longer except for reading csv files.

[2015-01-20 23:23] choldgraf commented on #1753
That makes sense if it's so tough to maintain. Sounds like people are starting to get jaded with pandas :)

I personally do use it a lot, but that's because I write a lot of custom code/analysis, and like to convert MNE objects into a more "raw" format in an intelligent way (e.g., as a data frame with the correct indexing). I suppose it's no so useful if most analysis stays within the scope of MNE

[2015-01-20 23:25] dengemann commented on #1753
Well maybe you take over supplying this part of our code with some care ;-)
Let's track down the problem and see what we can do together.

[2015-01-20 23:29] choldgraf commented on #1753
I'm certainly happy to help, though judging from your guys' last comments about it being a "nightmare", do you think it's something that a single person can realistically keep up with? That said, from my experience it seems that pandas is settling down a little bit as it matures in terms of API shifts and such. Maybe it'll be easier to support in the future?

[2015-01-20 23:30] dengemann commented on #1753
that's a good view. I hope these guys will finally converge on a stable API regarding .index and related things.

[2015-01-20 23:31] dengemann commented on #1753
Ok @choldgraf have you got a script that produces your problem? Could you propose a failing test?

[2015-01-20 23:32] Eric89GXL commented on #1753
It very well could be easier to maintain now. I just remember a year or two ago, every new release meant digging through code with version-based conditionals to get things to work. IIRC some of my frustration also stemmed from poor API documentation related to the changes (and even basic access), which has also probably improved by now.

In any case, we should fix this error, since we provide the

[2015-01-20 23:38] choldgraf commented on #1753
yep - I can give it a shot. In this case, I don't think that pandas is the
problem. A kind of stupid solution that I just threw together is just to
re-create the time index using np.arange manually (e.g., use
np.arange(epochs.times[0], epochs.times[-1] + .001, .001)). Though it seems
that this is the same way that this is the same way .times is constructed,
so I need to do some more digging.

Eith

[2015-01-20 23:41] dengemann commented on #1753
Either way, I can try to create code that will break, and can work from
there.

@choldgraf  exactly than let's find a modification that makes your new test pass but does not make the old tests crash + examples should work as they used to work before.

[2015-01-21 00:45] choldgraf commented on #1753
OK, I'll give it a shot in the next day or so. Will be my first
contribution so apologies if it's a bit clunky.

On Tue, Jan 20, 2015 at 3:41 PM, Denis A. Engemann <notifications@github.com

[2015-01-21 01:21] wronk opened #1754 "ENH: automatically determine fmin, fmid, fmax for plotting"
I always have issues setting fmin/fmid/fmax easily and thought it might be easier to have them set automatically based on the data distribution. It would be pretty easy to use numpy's percentile function so that those values could be set based directly on the data distribution (shout out to @Eric89GXL for the tip).

Would this be worth me implementing? If so, my main question is how/where should t

[2015-01-21 02:10] Eric89GXL commented on #1754
There are many situations where I don't really like having to set `fmin/fmid/fmax`. Maybe we could deprecate their use and just have a `limits='auto' | tuple of length 3 | dict`, where the length-3 tuple is the old behavior, `dict` allows for doing something like `dict(type='percentile', bounds=[0.25, 0.5, 0.75])`, and `auto` is an alias for some suitable default percentiles.

[2015-01-21 08:11] agramfort commented on #1754
fine with such API. shal we call it "flim"?

[2015-01-21 09:14] dengemann commented on #1754
We have an open issue for that. Could you please find it, link it, carry over existing discussion and close it? This is a dupe.

[2015-01-21 10:52] #1239 closed

[2015-01-21 10:53] #1103 closed

[2015-01-21 10:53] dengemann commented on #1754
see #1123

[2015-01-21 10:54] dengemann commented on #1123
closing in favor og #1754

[2015-01-21 10:54] dengemann commented on #1754
Here was an old API draft we discussed earlier

[code]

[2015-01-21 16:55] Eric89GXL commented on #1754
That seems like it would be close to working. One thing I don't get is what are the lower/middle/upper thresholds for the `(2.5, 97.5)` case? `(2.5, 50, 97.5)`? In other words, we have three control points (fmin/fmid/fmax), not two.

Also, we should have some way of dealing with whether the data should be considered unidirectional/unsigned or bidirectional/signed. For example, the `mne_analyze` co

[2015-01-21 16:58] dengemann commented on #1754
yes something like that. Or split percentiles for < 0 and > 0. One thing. We probably want to have some asymmetric thresholds depending on the distribution. Max should be 100, often 99 is still too low in my experience.

[2015-01-21 17:00] Eric89GXL commented on #1754
I think the majority of use cases would benefit from using the same thresholds for both positive and negative, so I think by default they should match but have a kwarg to switch.

[2015-01-21 17:44] choldgraf commented on #1753
Quick question - for bugfixes / features / etc, do you want people to branch off of the latest maintenance branch, rather than master? AKA, I should branch off of maint/0.8, right?

[2015-01-21 17:50] dengemann commented on #1753
@choldgraf we'll bother later about backporting, now let's first get it fixed on master.

[2015-01-21 17:52] choldgraf commented on #1753
sounds good

[2015-01-21 19:09] wronk commented on #1754
I'm in favor of the default method taking the abs() when calculating the percentiles just to keep the function's behavior more straightforward/understandable. The more complex one will be easy enough to put into kwargs, or it could just check the flim dict for a `bounds` list that has either 3 or 6 values.

So far, all options I see so far for the percentile dict:
1) Single colormap or
2) Bidirect

[2015-01-21 19:16] agramfort commented on #1754
we can you a positive=True param to force positive colormap.

[2015-01-22 12:12] wmvanvliet commented on #1750
I took the liberty of merging the bugfix. I'll see now about moving the function (less urgent).

[2015-01-22 14:12] wmvanvliet commented on #1737
First step of the FASTER algorithm:

https://gist.github.com/wmvanvliet/d883c3fe1402c7ced6fc

[2015-01-22 14:22] dengemann commented on #1737
@wmvanvliet cool pretty much the same what I did locally. Let's make a branch for that.

[2015-01-22 18:30] Eric89GXL commented on #1754
Sounds like we have started converging on a solution -- maybe the best thing now is to implement, show a couple example code snippets (with plots) and we can evaluate / iterate from there.

[2015-01-22 19:10] wronk commented on #1754
How about something like
`limits = 'auto' | (fmin, fmid, fmax) | dict(diverging, cmap_limits)`

`'auto'` (str) will use a diverging colormap with default percentiles
`(fmin, fmid, fmax)` (3-tuple of floats) will just replicate the current behavior
`dict(diverging, bounds)` (bool, list) will create either a single sequential cmap (think zero alpha to red) or a diverging cmap (think cyan to zero alp

[2015-01-22 20:04] agramfort commented on #1754
I don't find diverging very explicit but I like the idea.

[2015-01-22 20:57] wronk commented on #1754
Easy change, so I'll get started.

@agramfort, what would you suggest? I think 'positive' might be a little ambiguous since all cmaps will have positive values... Other names often used to distinguish the two maps are bipolar and double-ended.

[2015-01-22 20:58] Eric89GXL commented on #1754
`one-sided`?

[2015-01-22 21:26] agramfort commented on #1754
fine with me

[2015-01-23 15:23] agramfort commented on #1737
+1 for WIP PR if experiments are conclusive.

[2015-01-23 15:50] dengemann commented on #1737
@agramfort with @wmvanvliet we're on it, step by step.

[2015-01-23 22:02] choldgraf opened #1757 "Errors when importing EDF+ data"
I'm running into some strange behavior when importing EDF+ data. It seems like there's something going wrong with timing and sampling rate. For example, when I try to import my EDF+ file, I get:

    RuntimeError: Channels contain differentsampling rates. Must set preload=True

And trying to preload the data returns a memory error.

I've used EDFBrowser to convert the data, and it displays fine in

[2015-01-23 22:06] Eric89GXL commented on #1757
If I understand the problem correctly, the best solution would be to implement a native Nihon Kohden format (I've never heard of it, though...) reader in mne-python so that you're not converting a file format twice.

Short of doing that, you (or someone) will need to look at why the sample rates seem to be different. When you hit the error, you can do:
[code]
Which puts you in post-mortem debuggin

[2015-01-23 22:21] choldgraf commented on #1757
Yup - it looks like the final channel is some sort of "event marker". I'm trying to figure out if there's a way to exclude this from the channels.

Here's the n_samps vector, which must all be the same to work without preloading data.
[code]

I'm not using the channel at all, so perhaps I can just delete it beforehand somehow. I don't know why MNE is reading in the sampling rate differently from E

[2015-01-23 22:27] Eric89GXL commented on #1757
It's possible those readers just resample channels all to the same rate. It's also possible there is a bug in how mne-python interprets the sample rates. We'd need to figure that part out first before proceeding.

Assuming the sample rates reported by mne-python are correct, it's pretty easy to upsample a stimulus channel, assuming it's just pulses at different heights. You can just use `zero` int

[2015-01-23 22:30] choldgraf commented on #1757
I'll try creating a truncated version of the file. I'm new to EDF / EDFBrowser and it's not trivial to get more EDF data because we're an ecog lab :P

[2015-01-23 22:32] Eric89GXL commented on #1757
The data don't have to be meaningful, so If you are with your equipment you can record noise (hooked up to nobody). If the amps are at the hospital, then truncation sounds easier :)

[2015-01-23 22:35] choldgraf commented on #1757
Hmmm, so I just tried truncating the file down to 4 channels and "printing" to EDF. However, I'm still getting the same error. Interestingly, even though there are 4 channels, there are 5 values in nsamp:

    array([100, 100, 100, 100,  43])

This is with all channels but the first four signals (no stim signals) removed. It seems like there's something else being read out even though it's not sup

[2015-01-23 22:37] Eric89GXL commented on #1757
That does sound strange. I don't really work with EDF so I probably won't be too helpful... @teonlamont might be able to help since he's done most of the EDF work.

[2015-01-24 02:36] choldgraf opened #1758 "Plot background image in topo plots"
It would be really useful (at least for ecog) to plot an image behind topo plots. This way, each plot would be an electrode, and you could see where these lie on the brain in the background. Perhaps it could be a flag to plot_topo functions/methods?

[2015-01-24 02:39] Eric89GXL commented on #1758
It might be easiest / most general just to make sure the user can get to
the list of axes. Then they can add arbitrary other plots to each,
including background images. WDYT? My concern with adding an argument for
background images is that it seems pretty specific to a limited set of use
cases.

[2015-01-24 03:06] dengemann commented on #1758
Calls for a `plot_ecog_topo` method

2015-01-24 3:39 GMT+01:00 Eric Larson <notifications@github.com>:

[2015-01-24 03:54] choldgraf commented on #1758
Plot_ecog_topo could work. I wrote some code that takes a set of xy points
and transforms them into 0-1. That could work for ecog usecases.

I think you already have access to the axes objects via the figure. I just
couldn't figure out how to create a new axis that was behind all the other
ones. Tried looking for a z parameter, but could only find references to
within-axis z, not within-figure z.

[2015-01-24 04:09] Eric89GXL commented on #1758
Adapted from http://matplotlib.1069221.n5.nabble.com/Control-twinx-series-zorder-ax2-series-behind-ax1-series-or-place-ax2-on-left-ax1-on-right-td12994.html
[code]
![figure_1](https://cloud.githubusercontent.com/assets/2365790/5886073/9c7ec7d0-a33b-11e4-8748-b1659504e317.png)

[2015-01-24 04:50] choldgraf commented on #1758
Ah this looks great. OK, I'll try to make it work tomorrow, thanks for
digging that up! I guess that's why I shouldn't try to Google things after
debugging for 3 hours :-)
On Jan 23, 2015 8:09 PM, "Eric Larson" <notifications@github.com> wrote:

[2015-01-24 05:26] Eric89GXL commented on #1758
I don't blame you -- tracking down that link felt like a google-fu stress test

[2015-01-24 07:29] choldgraf commented on #1758
Haha yeah, interestingly Paul used to work down the hall from me...guess I shoulda just asked around :P

[2015-01-24 07:53] choldgraf commented on #1758
OK so I got the image underlay working thanks to the link you sent. I probably can't post a picture of an ecog patient's brain on github, so I plotted it on top of batman instead. This is far more satisfying for me anyway.

![image](https://cloud.githubusercontent.com/assets/1839645/5886569/f610496c-a35a-11e4-9d23-af8fe20ca8f0.png)

I think that it will be tricky to plot in a manner that doesn't c

[2015-01-24 16:13] teonlamont commented on #1757
so as you may have noticed, the Status/Stim channel is sampled at a lower rate than the other channels. The data are stored in records where each record contains n number of samples so the data structure isn't rectangular (see http://www.biosemi.com/faq/file_format.htm for a more detailed explanation). so selecting specific channels before reading them in becomes a nightmare. we have to read them

[2015-01-24 18:02] Eric89GXL commented on #1758
Sweet! Three things I can think of that would help make it less busy:

1. Mix the background with black (or better, give it an alpha and give the figure a black background), so it appears faded / darker.

2. Give the axes each have a black background, maybe with alpha.

3. Allow for selecting a rectangular region of the figure, and "zooming in".

Approaches 1 and 2 should be very easy. Approach 3

[2015-01-24 18:17] choldgraf commented on #1758
Good call - before I was just using axis.patch.set_visible(False). If you
use set_alpha instead then it has the desired effect. I could also do the
same for the figure background.

Regarding crowding, I think that you're right - it'll be a fair amount of
work to make custom zooming functionality (at least for someone like me who
does not speak matplotlib-ese so well). That said, I think that we co

[2015-01-24 19:15] teonlamont commented on #1757
also, if you have a copy of a file that you could send, it would help with the debugging.

[2015-01-24 19:17] Eric89GXL commented on #1758
I think that `generate_ecog_layout` or more generally `generate_2d_layout` or so would be more general, because then it can be generated once and saved, or passed to `plot_topo`. The issue of getting the appropriate XY positions could be general enough, and could even be part of the `generate_2d_layout`, like:

[code]
That way the layout could be used directly with `plot_topo`... and I'm coming ar

[2015-01-24 21:49] agramfort commented on #1758
+1

my brain is connected with Eric's with 9 hours of time lag :)

[2015-01-24 22:06] choldgraf commented on #1758
What about something like:

[code]

[2015-01-24 22:22] agramfort commented on #1758
sounds like a plan. Just a remark we call ch_indices picks for some
historical reasons.

[2015-01-25 05:29] choldgraf commented on #1758
Sounds good - I'll try to throw something together. I was calling it
"ch_indices" because the current Layout class calls them "ids", which I
thought meant "indices". I can switch it to picks though. Should that be
called "picks" as well then?

On Sat, Jan 24, 2015 at 2:22 PM, Alexandre Gramfort <
notifications@github.com> wrote:

[2015-01-25 13:43] TanayGahlot commented on #1734
So, What do you propose to use instead?

[2015-01-25 14:26] agramfort commented on #1734
format -> fmt

fmt is used in numpy

[2015-01-25 14:30] agramfort commented on #1758
we can rename later if necessary. Let's comment and improve on a PR.

[2015-01-25 21:04] dengemann opened #1761 "ENH: support joblib backend API and allow for 'threading'"
Depending on the python setup and the data inputs spawning / forking may not be the best choice.
We should allow for Parallel(backend='threading').

[2015-01-25 21:15] dengemann commented on #1761
We should explore this a bit before implementing it. As far as I can tell we gain substantial speedups. However, so far only tested in a context where increasing the number of nobs actually slows things down ...

[2015-01-25 21:27] choldgraf commented on #1757
Thanks for your thoughts - when I use preload=True on a subset of the data, then it loads fine. However, I think I found a reason that it kept raising a MemoryError.

It didn't make sense to me that this was happening, because the file is only ~1GB in total, and this is on a cluster with ~64GB of ram. It is 2 hours of data sampled at 1000Hz with about 60 channels, so about 120,000 x 60, which isn'

[2015-01-25 21:31] agramfort commented on #1757
Share it via Dropbox

[2015-01-25 22:11] choldgraf commented on #1757
Good call https://www.dropbox.com/s/lphlu1imys1qmta/test_short_sig.edf?dl=0

I think it's anonymized as there wasn't anything in patient_info when I brought it up in MNE, but let me know if that's not true...

[2015-01-25 22:43] teonlamont commented on #1757
I just found the error. The code made the assumption that the number of samples was the number of records times the sampling frequency. it should be number of records times the record length. your file has a record length of .1 and typically it is 1, so this allowed the file to read over its limit by the factor of ten. patching this now.

[2015-01-25 22:58] Eric89GXL commented on #1761
Where can I read about this? Does it allow sharing memory instead of
serializing it to each worker?

[2015-01-26 08:12] TanayGahlot commented on #1734
To resolve this issue i would have to change all the format occurrence to fmt in the source code, can i take it up?

[2015-01-26 08:24] agramfort commented on #1734
go for it.

[2015-01-26 08:38] agramfort commented on #1761
yes but for best efficiency you need cython gil free code.

[2015-01-26 17:33] choldgraf commented on #1757
Fantastic - let me know when it's pulled and I can try my import again.

On Sun, Jan 25, 2015 at 2:43 PM, Teon <notifications@github.com> wrote:

[2015-01-26 19:40] agramfort commented on #1757
it's merged.

[2015-01-26 19:40] #1757 closed

[2015-01-28 08:19] wmvanvliet commented on #1737
@dengemann Check out the gist. Second step of FASTER (bad epoch detection) implemented.

[2015-01-28 08:21] agramfort commented on #1737
how do you set the thresholds? is it robust?

[2015-01-28 08:28] wmvanvliet commented on #1737
the paper uses 3 std deviations as threshold. Robustness of this parameter needs to be determined using a large collection of recordings. I will attempt to do this after the FASTER algorithms has been completely implemented.

[2015-01-28 08:39] agramfort commented on #1737
let's make a biggish validation database open some day...

[2015-01-28 09:18] wmvanvliet commented on #1737
I found a collection of 109 EEG datasets:
http://www.physionet.org/pn4/eegmmidb/
That could serve as a good starting DB to test robustness.

[2015-01-28 09:31] agramfort commented on #1737
sounds good. We need dataset fetchers for these.

[2015-01-28 11:02] agramfort opened #1765 "bug in read forward"
The normals in fwd do not match when using fixed_ori or not. See below.

@Eric89GXL do you mind having a look?

[code]

[2015-01-28 11:12] wmvanvliet commented on #1737
and we need to go over them manually, selecting bad channels, epochs, ICA components, etc... that will be a pain.

[2015-01-28 12:12] joewalter commented on #1765
Hi Alex, thanks for opening this issue.

I think the problem is that for the rotation to surface orientation, one can use the patch average, while this option is not used currently when computing a gain matrix with force_fixed=True.

An option for solving this issue would be to compute the fixed orientation gain matrix by first computing a free orientation, surface-oriented gain matrix and then us

[2015-01-28 12:14] joewalter commented on #1765
If you are interested I can open a pull request. The problem is that we will probably break the compatibility to MNE-C using this modification.

[2015-01-28 12:41] wmvanvliet commented on #1737
updated the gist to contain an attempt at the third step (ICA) of the FASTER algorithm. This step really needs a second pair of eyes on it (@dengemann if you please?). I'm not that familiar with the semantics of performing ICA with MNE-python.

[2015-01-28 13:54] agramfort commented on #1765
just use mne.forward.convert_forward_solution and your problem is solved.

fwd_fixed = mne.forward.convert_forward_solution(fwd_free, force_fixed=True)

close if you agree

[2015-01-28 14:35] joewalter commented on #1765
I tested it with the code above and it doesn't solve the problem.

In the current implementation, the source orientation in the force_fixed case is taken from fwd['src'].
[code]

For a free orientation forward with surf_orient, the 'nn' is computed from the patch_info if available:
[code]
As loading a surface oriented forward will not change fwd['src'], the orientations will still be different if

[2015-01-28 14:41] agramfort commented on #1765
if you convert to fixed a fwd with patch_info you keep the patch info right?

[2015-01-28 14:47] joewalter commented on #1765
The force_fixed option doesn't care about patch_info. It takes the orientation from fwd['src'].

[2015-01-28 14:51] agramfort commented on #1765
hum... how do we fix it then? Sorry I am slow...

[2015-01-28 14:56] joewalter commented on #1765
The idea would be to always run the surface orientation code, so we check if patch info is available and compute the new local coordinate system. Then in order to force_fixed we just crop the respective rows/columns of source_nn and data.

[2015-01-28 14:57] dengemann commented on #1737
what? why? not doing so is exactly why we want an automatic procedures. Yes @wmvanvliet I'll take a look in a bit.

[2015-01-28 15:42] wmvanvliet commented on #1737
but the automatic method needs to be verified in some way. How will we do that without labeled data?

--
Marijn van Vliet
w.m.vanvliet@gmail.com

[2015-01-28 15:47] dengemann commented on #1737
But do you trust human observers ;-)
We could label a few or search for an independent criterion, e.g. compute
final SNR or some other statsitic.
At least we won't have the time to go through 100 files.

2015-01-28 16:42 GMT+01:00 Marijn van Vliet <notifications@github.com>:

[2015-01-28 15:56] haribharadwaj opened #1766 "Preload subset of channels or channel types from raw.fif"
I have simultaneous MEG/EEG data sampled at 5 kHz (because I'm also recording brainstem activity) and it would nice to be able to preload say only EEG or only subsets of channels etc. and do analysis/eye-balling..  There are probably other good use cases for this too..

I can see this being possible quickly in a few different ways:
(1) Add kwargs like eeg=True, meg=False etc. to pick only certain

[2015-01-28 16:07] Eric89GXL commented on #1766
There is now a simple preload_data function in master. Whatever you do, I'm
-1 on adding more arguments to the Raw constructor and +1 on putting them
there for such specialized use cases. Your option 3 would fit nicely there.

I suspect that adding these options will make things quite a bit more
complex, though. Have you looked at the raw data reading functionality? It
is already somewhat complex,

[2015-01-28 16:10] Eric89GXL commented on #1765
I'm not sure what the best solution is, but it does sound like taking the
patch info into account should work better. We should preserve the option
to maintain compatibility with the c code, though. Doing so should also
stay the default for at least one release via deprecation.

[2015-01-28 16:18] agramfort commented on #1766
something along these lines:

raw = mne.io.Raw(...)
picks = mne.pick_types(raw.info, ...)
ch_names = [raw.ch_names[k] for k in picks]
raw.pick_channels(ch_names)
raw.preload_data()

?

but currently you cannot pick_channels on non-preloaded data....

[2015-01-28 16:20] agramfort commented on #1765
please git it a try and see what it takes to do this. I'll comment on PR.

[2015-01-28 16:21] Eric89GXL commented on #1765
@mshamalainen any reason not to take the patch information into account to compute the normal directions when making a fixed-orientation forward solution?

[2015-01-28 16:25] Eric89GXL commented on #1766
The API I'm proposing is more like this:
[code]
And the raw data fetching functions, and all functions that use `raw._preloaded` (or whatever we call it) are made smart enough to deal with partially preloaded data.

You're right that doing `pick_channels` might also work for the use case, especially if there is a complementary function that allows the user to re-combine the two (or more) datasets

[2015-01-28 16:28] agramfort commented on #1766
I like what you suggest. +1 for picks argument in preload_data

[2015-01-28 16:29] haribharadwaj commented on #1766
Ah... This is more complex than I imagined.. I just learnt about raw.preload_data()... +1  for picks arg in preload_data().. Is it Ok that the raw object would be left with a sort of out-dated info?

[2015-01-28 16:33] Eric89GXL commented on #1766
No -- the idea is that the info would still be correct, as all channels would still be present. But doing this would only load the selected data from disk into memory:
[code]
So that this operation would be immediate:
[code]
And things like filtering only the EEG channels would work. But operations like this would still be permitted:
[code]
This would thus read from disk, instead of memory. And fi

[2015-01-28 16:37] dgwakeman commented on #1765
If someone is digging into this section of code, one idea that I have always wanted to see (but don't have the time) is to have an option that uses a better option than the average normal. I would love to see an option that used the median angle, so that with a more advanced approach to loosevar, would end up much closer mathematically to "properly downsampling" higher resolution surface. In the v

[2015-01-28 16:41] haribharadwaj commented on #1766
Got it! So if the ```picks``` is simply propagated to the ```sel``` arg of ``` _read_segment(.)``` it would do the job, wouldn't it?

[2015-01-28 16:50] Eric89GXL commented on #1766
I'm sure that would be part of it, but the overall job would be much more complex. You'd probably need to, at a minimum:

1. Allow `raw._preloaded` to be a list, *or* a boolean.

2. Change all checks of `raw._preloaded` to `raw._preloaded is True or <all picks in _preloaded list>`.

3. Deal with multiple calls to `.preload_data(picks=picks)` with proper creation / expansion / checking of `raw._dat

[2015-01-28 17:10] agramfort commented on #1766
let's keep it simple: preload_data can only be called once and everything
stays almost the same.

[2015-01-28 17:14] dengemann commented on #1766
Do we really need this? If so please keep it as simple as possible.

[2015-01-28 18:27] haribharadwaj commented on #1766
@agramfort, @dengemann: So you would suggest the

[code]
workflow?

[2015-01-28 18:35] dengemann commented on #1766
@haribharadwaj  we could make our pick/drop_channels function make return self
```raw.pick_channels(...).preload_data()```  if you need a one liner.

I'm also fine with only allowing to call preload_data onece and add a picks etc argument.

[2015-01-28 20:31] Eric89GXL commented on #1765
I don't know enough about surface downsampling to know what the ideal solution is. If there are improvements to be made along the lines of using the median angle, I wouldn't expect them to be too difficult to implement (a few lines) or put in the API (kwarg). But it would be worth looking to see 1) how big the changes actually were, and 2) what affect this had on localization, if any, before actua

[2015-01-28 21:54] agramfort commented on #1766
I would do:

raw = mne.io.Raw(...)
picks = mne.pick_types(raw.info, ...)
raw.preload_data(picks=picks)

and no later possibility to load other channels

[2015-01-28 21:56] Eric89GXL commented on #1766
FWIW I don't think the possibility of later loading channels is the really challenging part of the coding. Most of the challenge lies in keeping track of which channels are preloaded and which are not, and triaging behavior appropriately. Adding more channels to preload later is pretty trivial by comparison (append/mix matrices, and extend list of loaded channels)...

[2015-01-28 21:59] agramfort commented on #1766
doable but it's more work. You'd need to have raw._data maybe as a list of
arrays to avoid reallocs. With my suggestion you just call pick_info and
you're done. You then have in info only the preloaded channels.

[2015-01-28 22:01] Eric89GXL commented on #1766
As a user I wouldn't expect the function `preload_data(picks=...)` to restrict my raw file (and info) to then only contain a subset of channels. It seems like the API workflow would be better as `raw.pick_channels(...).preload_data()` as @dengemann suggested.

[2015-01-28 22:02] dengemann commented on #1766
+1 let's add one basic version now. it's a rare usecase anyways, I suppose

[2015-01-28 22:04] agramfort commented on #1766
I would say as long as it's documented and error message are clear
that would be fine with me. It's also a really simple change. But you
may feel brave and nerd snipped :)

[2015-01-28 22:08] Eric89GXL commented on #1766
I see how it would be simpler from an implementation/developer perspective, but I don't think it makes sense from an API/user perspective. To me, channel picking/restricting should be done by `pick_channels`, and data preloading should be done by `preload_data` (regardless of whether it loads all or a subset of the data). Mixing both channel-picking and preloading functionality into `preload_data`

[2015-01-28 22:09] dengemann commented on #1766
I agree with hari that chaining would be maximum clean and self-documenting

It's already supported as is I think, so nothing to add. just make sure that the pick/drop methods return self if copy=False --- if not a minimum change

[2015-01-28 22:12] agramfort commented on #1766
I'll review the PR :)

[2015-01-28 23:01] Eric89GXL commented on #1766
@dengemann IIUC the challenge with this approach is that `pick_channels` currently only works for preloaded data. Thus my comment about needing to keep track of which indices in the original data file need to be used to load the data after doing `raw.pick_channels()`.

[2015-01-28 23:01] Eric89GXL commented on #1766
In any case, @haribharadwaj feel free to take a stab at it. If you're too busy I'll try to find time this week or next.

[2015-01-29 00:06] aestrivex opened #1767 "edf reader fails"
I have some iEEG data in .edf format. mne_edf2fiff works just fine. read_edf_file() is able to read the metadata, but when it tries to read the iEEG data it crashes.

[code]

It is trying to reshape a 232352736x1 matrix into a 499x129x7568 matrix.

It don't even know where to begin debugging this -- it seems like it is not figuring out correct information in the header? Maybe there is some encodin

[2015-01-29 02:15] haribharadwaj commented on #1766
Thanks all..
@Eric89GXL, I  am always too busy but lets see where I am in the next couple of days :)

[2015-01-29 05:08] teonlamont commented on #1767
First, just to check, have you updated to the most recent master? There were some bugs that were resolved over the past couple of days.
Do you have a file you could share to help troubleshoot?

The reshaping is done because edf data are written in segments in time (records or blocks) and it will ultimately need to be in a channel by time.

Envoyé de mon iPhone

[2015-01-29 09:32] dengemann commented on #1766
but we could change that policy. I don't remember the exact reaosons why we introduced that in the first place. If data are not preloaded it would amount to picking the info and some attributes.

[2015-01-29 11:00] agramfort commented on #1766
simplicity was the reason.

[2015-01-29 11:05] dengemann commented on #1766
no there was another reason .... I remember havin opened an issue once / added this constraint.
But thinking about simplicity, picking without preload + chaining would be an optimal and clean API.
If not preloaded it should ammount returning/ making an object with a picked info.

[2015-01-29 23:00] aestrivex commented on #1767
Yes this is on a semi-recent dev version.

I will try it again soon and update.

[2015-02-02 15:50] Autodidact24 commented on #1382
Hi @agramfort,

I would like to take this up. Can you point me to a case where we do this (create MNE data objects from arrays) ?

[2015-02-02 16:15] mainakjas commented on #1382
@Autodidact24 : you should grep for `RawArray`, `EpochsArray` and `EvokedArray` in the repository. You can also look through the mailing list archives to see the most relevant use cases.

[2015-02-02 16:25] Autodidact24 commented on #1382
Thanks @mainakjas
That helped !

[2015-02-03 00:03] aestrivex commented on #1690
Looks like this is done in pysurfer, I think the easiest/correct approach is what was done of calling ffmpeg.

It should be very straightforward to add relevant API calls to save_movie, similar to mne_analyze, or to do something similar.

[2015-02-03 00:05] aestrivex commented on #1690
Does this also work when ffmpeg is installed on windows or on OS X running quartz? The call to ffmpeg is a bit different than what is done in my program which figures out where the correct X window is positioned, and record from it. I think that is faster than repeatedly saving frames, but if it works across platforms with decent performance then it is probably smarter.

[2015-02-03 00:23] Eric89GXL commented on #1690
It should work on Windows/OSX so long as the command-line encoder call works there. But I haven't tested it...

That's one nice thing that would be nice about using moviepy -- it automatically pulls down its own version of ffmpeg for each platform it needs to.

@christianbrodbeck recently put a PR into PySurfer that saves movies, so the functionality in mne-python is effectively available once a u

[2015-02-03 00:49] wronk commented on #1754
After some coding/talking with @Eric89GXL, here's the working API I'm imagining:

I'm still planning on using `limits = 'auto' | (fmin, fmid, fmax) | dict()`
The plan for the 'auto' and tuple hasn't changed. As far as the dict, it must contain enough info to:
1) indicate the colormap to be use (or construct it if it's an 'mne_analyze' cmap)
2) scale the colormap to the correct limits
3) indicate i

[2015-02-03 00:54] Eric89GXL commented on #1754
Note that the `limits` dict won't need to contain a colormap name, since there is already a `colormap` argument in the argument list. +1 for `kind='values' | 'percentages'`, I find that the most readable.

[2015-02-03 08:38] agramfort commented on #1754
sounds ok to me. I am just not sure we want to support non-symmetric
colorbars with the pos_lims neg_lims. I'd rather just have lims.

[2015-02-03 13:45] yousrabk opened #1770 "FIX? Channel selection"
The **mne.selection.read_selection** doesn't take into account the **raw/epochs.info['ch_names']**, so we still have problems about channels defined with space or without e.g. 'MEG 1623' (in selection) and 'MEG1623' (raw file).

What is the best way to fix this? And actually, why can't we directly pick types by using e.g. _selection='temporal'_ instead of list of channels. That way we have the inf

[2015-02-03 13:46] agramfort commented on #1770
add a note about the fact than include and selection are somehow redundant.

[2015-02-03 13:48] dengemann commented on #1770
include is a list of channels, selection is a category / group, right?

@yousrabk look at mne.utils._clean_names

[2015-02-03 13:52] yousrabk commented on #1770
@dengemann actually both include and selection are list of channels.

[2015-02-03 13:56] agramfort commented on #1770
yes but we need info to call clean_names and read_selection does not allow
this... hence do it in pick_types

[2015-02-03 14:30] dengemann commented on #1770
Seems like you would like to discuss our pick_types API. If we make changes we should go deep and change it in a conistent way that will last.

[2015-02-03 15:26] Eric89GXL commented on #1754
I'm fine with not having non-symmetric colorbars, but I think @dengemann wanted it so he might need some convincing. It does simplify the API a bit to force symmetry. I also think having the possibility of asymmetric colorbars is likely to cause more harm than good. So maybe we should leave it out for now. Okay with you @dengemann?

Even with non-symmetric colorbars, we need some way of distinguis

[2015-02-03 15:35] agramfort commented on #1754
please just keep it simple. A good exercise is to write the doc first to
realize if it's simple or not to explain :)

[2015-02-03 17:02] dengemann commented on #1770
that's really uncomfortable and leads to redundant code. Why not just return the data channels?

[2015-02-03 17:06] wmvanvliet commented on #1770
Say I want to plot the EOG channels. Why can't `pick_types(raw.info, eog=True)` to actually return the EOG channels? Why does it have to assume I don't only want the EOG, but also other stuff?

[2015-02-03 17:15] dengemann commented on #1770
because most of the time you want other stuff :)

[2015-02-03 17:22] wmvanvliet commented on #1770
You can go that route. But then actually the behaviour as it is now is preferable.
If the default is to enable all data channel types that are present in the data, simply selecting the EOG channels would become:

    pick_types(raw.info, meg=False, meg_ref=False, eeg=False, seeg=False, ecg=False, emg=False, misc=False, eog=True)

that is, if I don't want to make any prior assumptions on what types

[2015-02-03 17:28] wmvanvliet commented on #1737
good point :) What did the authors of the FASTER paper use?

Anyway, I've spend the day testing the 3 steps implemented in the gist. There were some bugs, which I fixed now.

[2015-02-03 17:40] dengemann commented on #1770
@wmvanvliet

[code]

eeg is off by default.

[2015-02-03 18:37] agramfort commented on #1737
does it work well out of the box?

[2015-02-03 18:40] agramfort commented on #1770
how do you remember that type can be chpi if you don't see it in signature? also I don't buy the argument of purity or elegance. Breaking backward compat for purity reasons is evil. I think we have more pressing matters to address.

[2015-02-03 18:45] wronk commented on #1754
Sounds good. @Eric89GXL , I'll code it up to include the `pos_lims` (to avoid overloading the lims parameter) and make sure it can be reasonably explained in the docstring but leave out the asymmetric behavior for the moment . I'll update the `transparent` param too.

@dengemann , we can definitely go through some auto thresholds as soon as I've gotten it functional. I think that will mostly come

[2015-02-03 18:48] dengemann commented on #1770
We should at least change the default, eeg=False doesn't really make any
sense.

2015-02-03 19:40 GMT+01:00 Alexandre Gramfort <notifications@github.com>:

[2015-02-03 18:59] agramfort commented on #1770
I am too lazy to handle the deprecation pain... for little gain.

[2015-02-03 19:01] dengemann commented on #1770
You're getting old ;-)

2015-02-03 19:59 GMT+01:00 Alexandre Gramfort <notifications@github.com>:

[2015-02-03 19:02] wmvanvliet commented on #1770
@agramfort +1 for backwards compatibility > purity.

[2015-02-03 19:25] teonlamont commented on #1767
@aestrivex I found a solution to the problem with pr #1771.

[2015-02-03 19:25] #1767 closed

[2015-02-03 20:28] agramfort commented on #1770
and wise :)

[2015-02-04 05:33] Autodidact24 commented on #1157
Hi @dengemann ,

What interactive features do we want to see in this plot ?
Currently, the output that we get is:
![image](https://cloud.githubusercontent.com/assets/5631503/6035656/5643d424-ac5d-11e4-985e-a37eacb98e4f.png)

Thanks,
Shubham

[2015-02-04 10:08] agramfort opened #1773 "eliminate_stim_artifact for evoked"
eliminate_stim_artifact only accepts raw objects. It makes more sense to remove the artifact on evoked.

eliminate_stim_artifact should accept evoked object.

any taker?

[2015-02-04 11:14] wmvanvliet commented on #1737
It can work really well, but you have to get the workflow right, which is not trivial. I believe the way forward with FASTER is not to present it as a boxed function that magically gets rid of all your artefacts. Instead, this gist will probably lead to 3 or 4 functions in `mne.preprocessing.bads` that are useful at various stages.

Here are my conclusions from my day of testing (sorry for the lon

[2015-02-05 09:08] agramfort commented on #1737
on what data did you experiment this?

[2015-02-05 13:04] wmvanvliet opened #1774 "BUG: picks parameter of create_ecg_epochs ignored"
https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/ecg.py#L268

Surely that should read:

    if picks is None:

instead of

    if picks is not None:

[2015-02-05 13:06] dengemann commented on #1774
@wmvanvliet oh boy. Fix welcome.

[2015-02-05 13:35] wmvanvliet opened #1775 "BUG: Epochs.interpolate_bads_eeg fails when there are also bad MEG channels"
If one or more MEG channels are marked bad, `Epochs.interpolate_bads_eeg` generates a very cryptic error. It should either just ignore MEG channels marked as bad or give a descriptive error message. (maybe both)

[2015-02-05 13:46] wmvanvliet commented on #1775
See PR #1776

[2015-02-05 13:46] wmvanvliet commented on #1774
See PR #1776

[2015-02-05 14:02] wmvanvliet commented on #1737
some EEG data I have laying around. Now, you can test it yourself on the MNE sample data:
#1777.

Closing this in favour of the PR.

[2015-02-05 14:02] #1737 closed

[2015-02-05 16:07] #1774 closed

[2015-02-05 16:44] agramfort commented on #1775
can we close this?

[2015-02-05 16:44] #1775 closed

[2015-02-05 18:31] dengemann opened #1778 "BUG in Report.add_figs_to_section"
cc @mainakjas

https://github.com/mne-tools/mne-python/blob/master/mne/report.py#L724

img will not be defined when this block of code get's executed

[2015-02-05 19:34] choldgraf opened #1780 "Time-frequency confusion"
Not sure if this is intentional or not, but I find that the time-frequency module is quite cluttered. It seems that many of the functions / classes have been added at different times, and with often overlapping functionality. Moreover, there are some inconsistencies in terms of functionality (e.g., there's a cwt_morlet function, but no cwt_multitaper to my knowledge).

My specific use-case is that

[2015-02-05 19:38] Eric89GXL commented on #1780
I think you can probably get what you want by directly iterating over epochs using something like:
[code]
Have you tried this? It will have some added overhead over your proposal, but it might be small compared to the actual calculation time.

[2015-02-05 19:38] Eric89GXL commented on #1780
... in any case I agree there is some inconsistency in the naming and such. +1 for a PR that cleans it up with proper deprecation.

[2015-02-05 20:44] choldgraf opened #1781 "apply_function argument error"
The apply_function method of Raw objects currently accepts the following arguments:

    self, fun, picks, dtype, n_jobs, verbose=None, *args, **kwargs

Unless I'm missing a trick on passing arguments to functions, this will throw an error unless you set verbosity level with a positional argument rather than a flag.

E.g., say you passed these arguments:

    (my_fun, [0], None, 1, verbose=None, a

[2015-02-05 20:47] Eric89GXL commented on #1781
Maybe we should just do `(self, fun, picks. dtype, n_jobs, *args, **kwargs)`, keep `verbose` in the docstring, but then do `kwargs.pop('verbose', None)` in the code.

[2015-02-05 20:48] agramfort commented on #1780
to address your usecase you can use the fact that you can index epochs

[tfr_XXXX(epochs[k], ...) for k in range(len(epochs)]

should do the trick but I agree that we need to cleanup stuff. The new
tfr_XXX functions are already a big step forward compared to 1 year ago.

[2015-02-05 20:50] Eric89GXL commented on #1780
@agramfort as suggested above you can also just iterate directly as `[tfr_XXX(epoch, ...) for epoch in epochs]`, right?

[2015-02-05 20:54] choldgraf commented on #1780
I just tried iterating and it did work, which is really cool. I didn't realize you could index epochs :)

I agree that the TFR methods are quite nice, I assume those are the most recent additions. If anything else, it would be good to ensure that any PSD or TFR function allows you to pass arbitrary frequencies rather than fmin and fmax.

[2015-02-05 20:57] agramfort commented on #1780
why is that? the freqs are defined by Fourier bins. You want to downsample?

[2015-02-05 20:58] agramfort commented on #1780
this will iterate of epochs.get_data()

[2015-02-05 20:59] Eric89GXL commented on #1780
The code doesn't actually call `get_data()`, it just goes through and gets the next non-bad epoch...

[2015-02-05 21:01] choldgraf commented on #1780
as one example, in one case I wanted to take log-spaced bins to reduce computation time. This doesn't happen when defining frequencies with fmin/fmax, right?

[2015-02-05 21:01] agramfort commented on #1780
yes yes It's meant to do the same as iterating over get_data()

[2015-02-05 21:04] agramfort commented on #1781
if this works +1

[2015-02-05 21:07] agramfort commented on #1780
if you want log space bins I'd use morlet ie wavelets that expects an array
of freqs and n_cycles as input

[2015-02-05 21:32] choldgraf commented on #1780
Yup - that's what I've been using so far. I think that iterating epochs by indexing them should work for this case. I guess if you only wanted the PSD rather than full TFR, you could just average over > 0 timepoints too.

[2015-02-05 21:55] agramfort commented on #1780
this would not be a valid PSD unless you use stockwell computed with
timepoints > 0

I'd recommend a proper PSD computation if you want this.

[2015-02-05 22:16] #1778 closed

[2015-02-05 22:23] choldgraf commented on #1780
I don't have much experience creating PSDs from a pre-existing time-frequency representation, so I'm deferring to you on that one :) I was trying to think of a case where you could calculate a PSD while supplying custom frequencies, but perhaps this is not a valid thing to do?

[2015-02-05 22:24] Eric89GXL commented on #1780
With Fourier transforms it's frowned upon because you're not guaranteed orthogonality of the transformation basis vectors.

[2015-02-05 22:25] agramfort commented on #1780
if you call is PSD then it's not valid. If you call it the sum of the
squared coefs of the morlet .... along the time axis it's ok :)

[2015-02-05 22:37] choldgraf commented on #1780
@Eric89GXL but if you're calculating the TFR from the DPSS, aren't those orthogonal to one another? Either way, what you and @agramfort say makes sense! I need to brush up on my signal processing :P

[2015-02-05 22:40] Eric89GXL commented on #1780
DPSS tapers (window functions) are orthogonal to one another, yes. DPSS is basically a fancy way of windowing signals for Fourier decomposition, which is a separate issue from the orthogonality of the Fourier bases.

[2015-02-05 22:44] choldgraf commented on #1780
Makes sense, thanks for the clarification.

[2015-02-05 23:07] choldgraf commented on #1780
PS sorry for de-railing this conversation with questions about TF decomposition. Regarding the original issue, I'm not sure what exactly should be changed, as all of the functions in time_frequency do seem to work, it's just that there are some differences in usage and such.

[2015-02-05 23:13] Eric89GXL commented on #1780
Unify their naming / usage / APIs, of course :)

If you want to undertake the task, the easiest first step might be to list the set of function signatures that we have that you're interested in unifying, then propose the way you think they all should look so yourself and future users are happier with them. IIRC correcly the function signatures were at least fairly similar, so maybe it would just b

[2015-02-06 00:45] choldgraf commented on #1780
OK cool - I can try to focus on this a bit later. I want to make sure that the other PRs I opened up a few weeks back are ready to go before starting new things.

[2015-02-06 00:49] Eric89GXL commented on #1780
Awesome.

[2015-02-06 15:56] teonlamont commented on #1637
hey. is there a recommendation for the number of epochs one should use to calculate the covariance matrix? I have an experiment where there were around 1000 trials and in the past I use baseline of all of the trials. I've tried to do this with the 'auto' parameter and this process did not complete (I waited an hr and it was still iterating through the Factor Analysis).

[2015-02-06 15:58] christianbrodbeck commented on #1637
I think Dennis mentioned something when calculating with traditional method in my FAQ github thread (1000 should be enough IIRC). I don’t know about the auto method. Would probably be a good issue to ping the FAW thread with...

[2015-02-06 22:28] agramfort opened #1783 "EEGLAB edf resampling"
EEGLAB (BIOSIG) for EDF files resamples all channels to the least common multiple and just copy the value whereas we resample the lower sampled channels to the highest sampled EEG channel cf: #1660.

not sure we should do the same but maybe...

[2015-02-06 22:31] agramfort commented on #1637
if you have a lot of epochs FA will take too much time. Just use
method=["shrunk","empirical"]. Let me know how it goes.

[2015-02-08 10:49] mainakjas opened #1784 "plot events label is incorrect"
Try running `examples/plot_extract_events_from_raw.py`

![plotev_legend](https://cloud.githubusercontent.com/assets/3817535/6096265/d17aed22-af90-11e4-93dd-8fec8fc14e4b.png)

[2015-02-08 10:54] agramfort commented on #1784
what's wrong?

[2015-02-08 10:59] mainakjas commented on #1784
Look at the legend. The numbers in the brackets. Aren't they supposed to reflect the event-id value?

[2015-02-08 11:05] agramfort commented on #1784
no the number events for each event_id

[2015-02-08 11:13] mainakjas commented on #1784
woops, makes sense. Sorry.

[2015-02-08 11:13] #1784 closed

[2015-02-09 09:22] jona-sassenhagen opened #1787 "Losing samples when using reference with read_raw_brainvision"
read_raw_brainvision loses samples when a reference is set.

[code]

The correct number is 901750, and the data has 32 channels (reference not included), so we are losing times/channels worth of data.
There is no A2 in the .vhdr of the files I am importing.

Should I upload the data and/or full script somewhere?

[2015-02-09 12:00] teonlamont commented on #1787
I think this error is coming about because the datablock is based on the number of channels and the ref code is adding another channel which is changing the data structure. https://github.com/mne-tools/mne-python/blame/master/mne/io/brainvision/brainvision.py#L445 and https://github.com/mne-tools/mne-python/blame/master/mne/io/brainvision/brainvision.py#L180

cc: @christianbrodbeck

[2015-02-09 12:42] teonlamont commented on #1787
found the culprit: https://github.com/mne-tools/mne-python/blame/master/mne/io/brainvision/brainvision.py#L99

the last sample was calculated based on the number of channels. did not change when reference was added.

[2015-02-09 12:58] teonlamont commented on #1787
closing for pr https://github.com/mne-tools/mne-python/pull/1789.

[2015-02-09 12:58] #1787 closed

[2015-02-09 12:58] teonlamont commented on #1787
thanks @jona-sassenhagen for catching this bug!

[2015-02-09 13:00] teonlamont opened #1790 "Deprecate Brainvision internal referencing"
Brainvision reader has a separate internal referencing method. This should be deprecated in favor of the new referencing method in  `mne.io.reference`.

[2015-02-09 15:10] agramfort commented on #1790
any taker?

@wmvanvliet ?

[2015-02-10 09:22] wmvanvliet commented on #1790
It does? As far as I can see, it just adds an all-zeros channel, which is useful for re-referencing later. This re-referencing is then done with the methods in `mne.io.reference`.

[2015-02-10 12:00] agramfort commented on #1790
do we have now 2 ways to do EEG referencing with BrainVision data?

[2015-02-10 12:16] teonlamont commented on #1790
Could we add the adding the all-zero channels to the reference module? This would make a clean separation of reading module from the referencing one. Also it would make it consistent and easier to maintain.

[2015-02-10 12:48] wmvanvliet commented on #1790
adding a channel (being zero or not) to a dataset should be implemented at a higher level. An operation that concatenates two datasets along the first (=channels) dimension.

Something vaguely like this:

    raw = mne.io.read_raw_brainvision(...)
    ref_channel = mne.RawArray(np.zeros((1, n_samples)),
                               mne.create_info(ch_names=['REF'], ch_types=['eeg']))
    raw = m

[2015-02-10 12:51] wmvanvliet commented on #1790
Or another approach: the `set_eeg_reference` function could take an optional `prev_ref` parameter:

    reref, _ = mne.io.set_eeg_reference(raw, ['A1', 'A2'], prev_ref=['Fz'])

which would first add an all-zeros channel 'Fz' and then re-reference the entire thing to the mean of 'A1' and 'A2'.

[2015-02-10 13:17] agramfort commented on #1790
the raw object should have a state that says the previous reference applied.

any array concat logic should be hidden from the user.

[2015-02-10 14:15] jona-sassenhagen commented on #1715
I have a prototype running. It's very hacky for now, but it works. See http://nbviewer.ipython.org/gist/jona-sassenhagen/752c21f59ca27605ae29

Here, AMICA already delivers many more dipolar (=possibly neurogenic) components than FASTICA, and less component splitting.

[2015-02-10 14:27] wmvanvliet commented on #1790
Ok. We could store `prev_eeg_reference` as a field in the info dict and make `set_eeg_reference` take this into account. I would still opt to additionally provide a `prev_ref` parameter to deal with the cases in which the info structure does not have the `prev_eeg_reference` field (older raws read from disk, RawArray's created by the user, etc.)

[2015-02-10 21:19] agramfort commented on #1790
if you use RawArray it's your responsibility to define the eeg_ref in the
info. I'd like to keep the info simple and prefer not to address all crazy
usecases.

[2015-02-10 22:46] choldgraf opened #1792 "Difficulties applying baseline to epochs object"
Right now it is possible to supply a baseline time window during the creation of an Epochs object, but not to designate the baseline mode (e.g., "zscore"). There is a "rescale" function in the baseline module, but this operates on numpy arrays. Since there isn't an "apply_function" method for Epochs objects, it seems like the options for doing a custom baseline on an Epochs object is to apply "res

[2015-02-10 22:50] Eric89GXL commented on #1792
`1.` is fine by me, but I'd amend it to say that, for safety reasons (at least to start), baselining can only be done once. Thus if you want to use `apply_baseline`, then you need to instantiate with `baseline=None` in the constructor.

`4.` seems like it might actually be more general, so I think I prefer that one most of all.

`5` I don't like because we probably already have too many constructo

[2015-02-10 22:56] choldgraf commented on #1792
Yeah I agree - I've been constructing Epochs objects with no baseline, then just applying the rescale function to the raw data (generally a zscore on the whole trial followed by a mean baseline, this can help with visualizing epoch traces where some signals have a much higher variance)

[2015-02-11 08:59] agramfort commented on #1792
I agree with eric. What should be the required parameters of the applied
function? 2d data and times?

[2015-02-11 09:06] Eric89GXL commented on #1792
Sounds reasonable. I was going to say that we should require epochs to be preloaded, but it actually just occurred to me that we don't actually need to require that. We could set up a queue like `self._load_functions = []` in the constructor, and then `apply_function` appends the function call to that queue. But maybe that would be for a subsequent PR once someone hit a use case where preloading w

[2015-02-11 09:08] agramfort commented on #1792
maybe an occasion to simplify Epochs (spaghetti?) code? :)

[2015-02-11 10:35] teonlamont opened #1793 "Create slider for bem"
Hey @mainakjas, is it possible to make the bem html sliders if you want to script your own report? currently, it is returning only an array of bem images in my html file.

[2015-02-11 11:10] mainakjas commented on #1793
mmm ... the function that makes the slider is private: https://github.com/mne-tools/mne-python/blob/master/mne/report.py#L1392. So, no

[2015-02-11 11:15] dengemann commented on #1793
I'm having the same use case + question:)

[2015-02-11 11:26] mainakjas commented on #1793
Maybe we should make the function public then :) How about:

[code]

That way, we have maximum flexibility so that any arbitrary html text can be added

[2015-02-11 11:31] teonlamont commented on #1793
+1. that way we could later extend it so that if we wanted add some text to
the section, we could write a function that writes the html object.

-teon

Teon Brooks, Pre-hD
NSF Fellow, Chateaubriand Fellow
PhD Candidate
Department of Psychology
New York University

On Wed, Feb 11, 2015 at 12:26 PM, mainakjas <notifications@github.com>
wrote:

[2015-02-11 13:14] agramfort commented on #1715
@jona-sassenhagen thanks heaps for sharing ! did you make this wrapper public? can you open a PR?

[2015-02-11 14:58] jona-sassenhagen commented on #1715
It's on my fork, but I have to do some major cleaning up before I'll open a PR. Internally, it's quite messy, as I haven't quite figured out git/github yet. I hope to be able to share it within a week.

[2015-02-11 15:13] wmvanvliet commented on #1792
+1 for simplifying Epochs code.
`self._load_functions` sounds really great. Application of the SSP could be one of the functions in that list.

[2015-02-11 16:53] choldgraf commented on #1792
+1 for simplifying Epochs code, but another +1 for doing that in a
subsequent PR :)

On Wed, Feb 11, 2015 at 7:13 AM, Marijn van Vliet <notifications@github.com>
wrote:

[2015-02-12 00:20] teonlamont commented on #1637
i let it run overnight and overwhelmingly, shrunk was chosen, with the occasional minor victories for factor analysis.

[2015-02-12 01:37] Eric89GXL commented on #1637
I think that we should change `method='auto'` to triage based on the number of epochs; if > 100 (or whatever @agramfort and @dengemann recommend) it should be equivalent to `method=["shrunk", "empirical"]` instead of testing the fuller set. `auto` isn't very useful if it locks up your computer for 12h to make insignificant modifications to the matrix.

[2015-02-12 07:40] wmvanvliet commented on #1792
such a scheme would also allow for EEG referencing without requiring the epochs to be pre-loaded.

Definitely a subsequent PR.

Getting back to the use case at hand, while implementing the FASTER routines (#1777) I also came across the need to redo the baseline on the epochs after some filtering.

[2015-02-12 09:04] agramfort commented on #1792
I'll review any PR :)

[2015-02-12 10:54] agramfort commented on #1637
+1

[2015-02-12 10:57] dengemann commented on #1637
It depends on more things, especially the effective sample size which is determined by the low pass filter. Also you normally won't see FA winning over shrunk on single sensor data, especially after rank reduction.

[2015-02-12 10:57] dengemann commented on #1637
I would e.g. exclude fa by default if data are SSSed.

[2015-02-12 12:29] agramfort commented on #1715
my advice is make it public early.

Also we have so far a policy to ship only pure python code to make
packaging "almost" painless on all systems. Relying on an external binary
is a big decision
for the future and I'd much prefer see a python reimplementation of amica.
Experience with infomax rewriting is that our code is now much faster than
the C code / binary from eeglab. And we have no packagi

[2015-02-12 12:52] jona-sassenhagen commented on #1715
I have submitted a pull request: #1796

[2015-02-12 12:52] #1715 closed

[2015-02-12 12:55] dengemann commented on #1715
Experience with infomax rewriting is that our code is now much faster than
the C code / binary from eeglab. And we have no packaging pb...

I agree with @agramfort.

[2015-02-12 14:51] Eric89GXL commented on #1637
I'm not sure what you mean by "single sensor data"...?

Triaging based on SSS is okay with me if that really helps, but I still think it would be nice if we could triage based on the number of epochs, plus whatever other factors matter. It doesn't have to be perfect, but we should definitely prevent freezing someone's computer for so long (I had a similar disappointing experience). @dengemann woul

[2015-02-12 14:54] dengemann commented on #1637
@Eric89GXL by single sensor I mean single sensor type, e.g. mag or grad or eeg only. FA really wins when signals are more complex.

[2015-02-12 14:56] Eric89GXL commented on #1637
Is that true even when the number of epochs are high?

[2015-02-12 15:01] dengemann commented on #1637
FA tends to benefit from having more samples available. It will not converge if data are SSSed or heavily projected, so the procedure will climb up all possible ranks, adding more computaiton time at each iteration.

[2015-02-12 18:23] howarth opened #1797 "Include a 'label' parameter to apply_inverse()."
Looking at the code I think it is an easy fix. Right now apply_inverse assumes that the 'label' is 'None' when it calls _assemble_kernel. So if a parameter 'label=None' was included in the apply_inverse function then the call to _assemble_kernel could be changed to:

 K, noise_norm, _ = _assemble_kernel(inv, label, method, pick_ori)

[2015-02-12 18:28] Eric89GXL commented on #1797
That sounds reasonable. Feel free to open a PR, don't forget to add some tests. I'd look at whatever tests we have for `apply_inverse_epochs` that use the `label=` parameter and adapt those to make tests for the new functionality.

[2015-02-13 00:35] Eric89GXL commented on #1637
I set up a script to test covariance calculation using 20, 40, or 80 epochs with `method='auto', return_residuals=True` with a few subjects. I am getting `-np.inf` for log likelihoods for ~68% of the estimators. Is this expected? I was hoping to use it to assess quality, but with that many -np.infs it's pretty useless. (In most cases, only one estimator returns a non-inf log likelihood.) I'm using

[2015-02-13 00:41] Eric89GXL commented on #1637
A bit more info -- I set up some tests using three subjects (to start) with the following parameters:

1. Three data conditions: real empty-room data, a `RawArray` instance where the data is independent Gaussian noise, and a `RawArray` with rank-deficient gaussian noise (by applying a projection operation).

2. Low-passing at 2 Hz and not low-passing at all.

3. Computing covariance using 20/40/80

[2015-02-13 00:50] dengemann commented on #1637
Mhm, normally emprical tends to produce infs. Why do you use a low pass of 2 hz?

[2015-02-13 00:55] dengemann commented on #1637
Is your data sssed? It's not so uncommon to see infs with few trials, most of them come from the determinant in the log likelihood function in sklearn. Could you share a script, Eric?

[2015-02-13 01:41] Eric89GXL commented on #1637
No, they are not SSS'ed. Don't worry about the 2 Hz, the problem persists in both cases. But in case you're curious, I was going to look at what you said about how the filtering matters. I was going to look at what happens when systematically introducing (temporal) correlations between samples to see if there was a relationship between some "effective number of samples" and the best method, or at

[2015-02-13 08:32] agramfort commented on #1637
getting inf with shrunk is not really understandable. By construction the
estimated cov is invertible.

what version of sklearn do you use?

do you see the pb with sample or somato?

[2015-02-13 15:40] Eric89GXL commented on #1637
I use some dev version from a few months ago. I'll try using the sample dataset to see if I can reproduce the problem there, and also try updating sklearn.

[2015-02-13 16:00] agramfort commented on #1637
keep us posted.

[2015-02-13 16:34] dengemann commented on #1637
That's really weird. If you don't feed it with wrong data FA completes after 5-40 seconds.

[2015-02-13 16:35] dengemann commented on #1637
@Eric89GXL very dumb, but I figured that below 40-30 Hz of lowpass filtering FA has too few samples. Above it can benefit from it.

[2015-02-13 21:49] Eric89GXL commented on #1637
Using empty-room data from a single subject, I am getting 71% of the log likelihoods as -np.inf. This is for half of the tests using real data, the other half with the `raw._data` replaced with independent gaussian noise. This is with sklearn 0.16-dev from a couple of months ago.

When I switch to using the `sample` dataset, I get 58% of the values as -np.inf.

I updated to the latest dev sklearn

[2015-02-14 01:00] Eric89GXL commented on #1637
I also just ran that file on my Windows machine running Py3k Anaconda w/all stock numpy/scipy/sklearn, and got 54% -np.inf.

[2015-02-14 16:52] TanayGahlot commented on #1734
can you please elaborate on "fmt in numpy"?

[2015-02-14 17:17] mainakjas commented on #1734
I think what @agramfort is referring to is the conventions followed in numpy. For example, here: https://github.com/numpy/numpy/blob/master/numpy/core/records.py#L275, they use `fmt` instead of `format`. We should do similarly in our repository. Makes sense?

[2015-02-14 17:33] TanayGahlot commented on #1734
okay, i get it. Thanks :-)

[2015-02-15 04:49] TanayGahlot commented on #1734
So if its
[code]
I have to convert it to
[code]

[2015-02-15 07:37] agramfort commented on #1734
you did not get it. It's otherway around. Sometimes we use format not for
string fomatting. See in bti/read.py for example. It's these usage of
format that are wrong.

[2015-02-15 11:57] TanayGahlot commented on #1734
oh! right coz it overrides the inbuilt.So wherever format is used in similar context as read.py, i have to change that to fmt. Hopefully now i get it.

[2015-02-15 13:28] TanayGahlot commented on #1734
I have sent PR #1800. Kindly review.

[2015-02-15 15:05] dengemann commented on #1637
https://www.dropbox.com/s/5qmqiyasqqlh5ci/Screenshot%202015-02-15%2016.03.03.png?dl=0

Eric the data you use don't have any spatial structure. I'm not suprised about the infs here. It's not a relevant data set. Otherwise infs in empirical and diagonal_fixed are common if the input data is not sufficient. The log det will produce infs as the matrix is not invertible on some folds.

[2015-02-15 15:45] Eric89GXL commented on #1637
So you're saying the method is expected to fail on independent noise?

[2015-02-15 15:45] Eric89GXL commented on #1637
BTW I don't know why there is no structure, esp. for the sample dataset. It doesn't really make any sense...?

[2015-02-15 15:47] Eric89GXL commented on #1637
Naively I would have assumed that It seems like the simplest / easiest case to detect would be when the channels are all independent and full rank, so I'm really confused by this.

[2015-02-15 16:55] agramfort commented on #1637
I agree with Eric. There is something to understand here. I am taking a
look now.

[2015-02-15 18:32] dengemann commented on #1637
@Eric89GXL you're right, it should work. It turns out that your input data is not scaled. For numerical reasons we rescale the input data, assuming them to be in M/EEG measurement units. Scaling your data should do the trick and give you reasonable results.

[2015-02-15 18:38] Eric89GXL commented on #1637
I'm always worried with assumptions / caveats like this -- needing a particular set of scalings in your data for things to work correctly just seems like begging for a failure down the line.

IIRC it fails not just on the noise but also on the (real) sample dataset, though, too...?

[2015-02-15 18:42] Eric89GXL commented on #1637
Although I guess we might have to assume for numerical reasons that channels are scaled within a couple orders of magnitude of their expected range, so I suppose that's okay. Did it work correctly for the actual (sample) dataset case for you, though? Those data should be scaled realistically. I'll try implementing reasonable scale-factors on my gaussian noise, too, to see how it works.

[2015-02-15 18:42] dengemann commented on #1637
well but many sklearn algos would not work on the femto tesla scale. I don't see how rescaling could be avoided. It's the same thing with our rank estimators.

IIRC it does not fail on the real data set (I tested this extensively ...)
'empirical' tends to produce infs, 'diagonal_fixed' as well if the regularisation parameter is not good.

[2015-02-15 18:44] Eric89GXL commented on #1637
Ahh okay, I'll modify and test

[2015-02-15 20:00] agramfort commented on #1637
Eric keep us posted. You could also test when only 1 channel type is
present. In this case it should really work 99.999% of the times.

[2015-02-15 20:43] Eric89GXL commented on #1637
I added scalings to the random independent noise case, and get the following:
[code]
So it still doesn't make sense to me why this isn't working. @dengemann you said you didn't have problems with the sample dataset, can you try running the latest gist and see if you get the same percentages? I'm not sure if you actually tested the gist I linked to or did your own testing:

https://gist.github.com/

[2015-02-15 20:54] dengemann commented on #1637
@Eric89GXL 50% infs is more or less expected. empircal and diagonal_fixed.

[2015-02-15 21:30] dengemann opened #1801 "ENH: better loglik computation in cov estimation"
we need to deal with bad folds which have -infs.

@Eric89GXL proposed to average in the naive probability domain

@agramfort suggested to make it clean and write a better scorer instead of doing post hoc exponentiating.

[2015-02-16 13:47] christianbrodbeck commented on #1521
closing for https://github.com/mne-tools/mne-python/pull/1802

[2015-02-16 13:47] #1521 closed

[2015-02-16 17:24] agramfort opened #1803 ""picks" and "scalings" params are ignored by plot_epochs"

[2015-02-16 18:12] choldgraf opened #1804 "Include extra metadata with "info" objects"
Hey all - I was trying to figure out if there's a way to store "extra" metadata with MNE objects, but it didn't seem like this is possible right now. For example, I tried adding some extra fields to the `.info` attribute dictionary-style, but these weren't written to disk when the object was saved.

In my case, I was doing this to try and store an extra "electrode information" object that had the

[2015-02-16 19:53] Eric89GXL commented on #1804
It wouldn't be a good idea to add new fields to the FIFF info struct because it will break compatibility with other tools that rely on the existing specification.

That being said, you do have some decent options.

1. Find the best place already in the `info` struct to store your data. For example, there is already an `info['chs'][idx]['pos']` field that stores a position in 3-space in head coordi

[2015-02-17 18:05] choldgraf commented on #1804
Wow - lots of great ideas in that reply, thanks very much :)

OK, regarding 1, that's a good idea, I hadn't pried into the info object too much and didn't find a ton of documentation on it. It looks like I was falsely assuming that it was just a glorified dictionary of arrays/lists. I'll look into this more.

Regarding electrode location stuff - I wonder if it would be possible to just create 2-D

[2015-02-18 00:07] Eric89GXL commented on #1637
I ran a bunch of experimental, non-SSS'ed data (15 subjects) and got this result:
[code]
And these are my log likelihoods, averaged across subjects:
![real](https://cloud.githubusercontent.com/assets/2365790/6240054/d77ad838-b6be-11e4-9da9-70df73529a1c.png)
Looks like factor analysis wins on average across the board for me. I'm a bit surprised that the scores are about the same regardless of the l

[2015-02-18 00:13] Eric89GXL commented on #1804
I think a 3D-electrode data + MRI -> 2D image mapping function would be pretty cool / generally useful. +1 for (you) adding that :)

I'm -1 on adding an `extra` field to info, again for backward-compatibility reasons -- it's not really in the FIFF spec, and I wouldn't want to force other packages to have to know about it.

Pickling objects and expecting forward compatibility is a bit dangerous, to

[2015-02-18 00:22] sstober opened #1807 "read_layout cannot be imported"
Hello,

I'm trying to use the read_layout() function in mne/channels/layout.py

from mne.channels import read_layout
results in "ImportError: cannot import name read_layout"

from mne.channels.layout import read_layout
results in "ImportError: No module named layout"

How can I use that function?

Cheers,
Sebastian

[2015-02-18 03:47] sstober commented on #1807
Looks like this was caused by a strange version conflict with an old version of mne that was not properly uninstalled through pip. Sorry for the confusion! It's working now as expected and I'm closing the issue.

[2015-02-18 03:47] #1807 closed

[2015-02-18 03:53] Eric89GXL commented on #1807
Glad you were able to sort this out. Could you share how you found the problem? If at some point we add a FAQ it might be nice to include debugging steps people have taken.

I'm guessing you did something like:
[code]
and found a value you didn't expect for one of those?

[2015-02-18 10:23] agramfort commented on #1637
still something to fix? shall we dig into the scoring thing?

We should have a bit of time this we

[2015-02-18 15:25] Eric89GXL commented on #1637
I still don't like the -np.inf scores. This to me means that the likelihood
is zero, which doesn't really make sense to me. Perhaps more imprudent, it
makes the measure useless for evaluating the quality of empirical and
diagonal fixed. I also occasionally got them for shrunk and factor
analysis, which isn't good. I can track down those examples if its helpful.

[2015-02-18 17:03] wmvanvliet opened #1808 "ENH: include rERP / rERF"
A few weeks ago, Nathaniel J. Smith published a paper that proposes a pretty straightforward enhancement to the way we compute evokeds. I'm leaving this here as a reminder for myself to implement and evaluate this.

The papers are interesting and extremely accessible to read:

http://vorpus.org/papers/smith-kutas-2015-rerps-1.pdf
http://vorpus.org/papers/smith-kutas-2015-rerps-2-with-si.pdf

The a

[2015-02-18 17:35] agramfort commented on #1808
looks similar in spirit to:

http://martinos.org/mne/stable/auto_examples/stats/plot_sensor_regression.html#example-stats-plot-sensor-regression-py

[2015-02-18 17:41] agramfort commented on #1637
have a look if you can. Otherwise we'll look into it this we with Denis

[2015-02-18 17:46] Eric89GXL commented on #1637
I probably won't have time to look into the mne-python covariance calculation code for at least a couple of weeks unfortunately. I can get you the files if that helps, though, but you guys must have seen this on your files, too?

[2015-02-18 19:12] choldgraf commented on #1804
Fair enough - I've run into forwards-compatibility with pickling things too
(now I actually store model coefficients as dataframes so I can keep some
metadata with the index / column values). I'm basically doing what you
suggest, but using the pandas to_hdf function.

Regarding 2-d projections and such. The tricky thing about this is that the
MR reconstructions are often of *highly *variable quali

[2015-02-18 19:47] Eric89GXL commented on #1804
You could get PySurfer to give you that image pretty easily, but the 2D locations would be harder. I'm not sure what the best solution would be.

[2015-02-18 21:57] wmvanvliet commented on #1808
It's a continuation of Hauk's work. Looks like the meat of the implementation is already present in `mne.stats.linear_regression`, awesome!

[2015-02-18 22:11] agramfort commented on #1808
Looks like we have a pr on the way with an example? ;)

[2015-02-18 22:18] choldgraf commented on #1804
Yeah - our lab manager and I are gonna see what kind of functionality
pysurfer has.

On Wed, Feb 18, 2015 at 11:47 AM, Eric Larson <notifications@github.com>
wrote:

[2015-02-19 14:25] jona-sassenhagen commented on #1808
I have implemented this, specifically the "overlap correction" variant described by Smith that is a major improvement over the method used by Hauk et al, in EEGLAB myself and had been planning on translating it to MNE anyways, since I think it's an exceptionally interesting method. But I haven't started yet.
The big difference is that the "overlap correction" method models the whole EEG, not just

[2015-02-19 14:34] agramfort commented on #1808
it's sad to see this code unfinished...

anyone wants to mentor for such a project as a GSOC?

please add it to the list.

[2015-02-19 17:08] sstober commented on #1807
At some point, a function complained about an unknown argument that was obviously present in its source code. Digging deeper into this issue, I found that my code was referring to an older mne version which I had installed (and uninstalled) through pip while I thought I was working with the most recent version I cloned from github. The lines you proposed would have revealed this. Eventually, I had

[2015-02-19 18:27] choldgraf commented on #1804
I was looking into this further and noticed that nipy has a (relatively outdated) project called "pbrain". Have any of the MNE folks played around with it before? http://nipy.org/pbrain/Loc3D_README.htm

[2015-02-19 18:33] Eric89GXL commented on #1804
Nope, never tried it. Reminds me a bit of Slicer, I wonder how it's different.

[2015-02-20 11:42] dengemann opened #1811 "ENH/FIX: croping will leave out samples if .times vector includes some rounding errors, etc."
imagine you have 1 time sample -0.004000000000000000000036 that you compare against tmin -0.004

the croping code will use naive comparison against tmin and tmax:

instead of

[code]
use

[code]

We should probably have utils function that generalizes and unifies time sample selection.

we need to do an exclusive less / greater in conjunction with np.isclose to avoid leaving out samples

FYI this

[2015-02-20 14:11] agramfort commented on #1811
sounds legit to me.

we should list the places that need this change

[2015-02-20 14:46] agramfort commented on #1807
@sstober looking forward your deeplearning progress using mne ;)

let us know how it goes.

[2015-02-20 17:30] sstober opened #1814 "faster resampling using scikits.samplerate"
Hi,

I've noticed that resample is very slow. (I tried to resample ~1h of EEG with 69 channels from 512Hz to 100Hz on 4 cores and gave up after 1 hour of waiting.)

Here's an alternative and much faster way using scikits.samplerate (through librosa - but that's just for convenience) that takes less than 1 minute one 1 core for the same data:
https://gist.github.com/sstober/260ab1da3025b0216675

Ma

[2015-02-20 17:36] Eric89GXL commented on #1814
Sounds great, feel free to open a PR. We will need to verify the extent to which scipy's FFT-based algorithm matches. BTW have you tried the CUDA filtering? I'm curious which one would be faster.

[2015-02-20 17:37] Eric89GXL commented on #1814
Oh wait, nevermind. The licencse is GPL, so we cannot use it unfortunately. Same problem with FFTW. (The main slowness of our algorithms comes from the FFT / IFFT slowness of fftpack.)

[2015-02-20 17:50] agramfort commented on #1814
yes but a factor 60s??? I would understand a factor 4 but not more.

[2015-02-20 17:53] Eric89GXL commented on #1814
I think MATLAB avoids FFTs / IFFTs altogether by using some polyphasic routines I don't fully understand. It's likely that the `libsamplerate` routines do something similar. Since they're used primarily for audio AFAIK, it's entirely possible that some of the algorithms take minor shortcuts that minimally affect the sound of the files, too.

[2015-02-20 17:54] agramfort commented on #1814
do we want to use such an approach for EEG?

[2015-02-20 17:56] Eric89GXL commented on #1814
It would be great, but someone needs to implement it in a BSD-friendly way. I could probably figure out how to do it given the right papers/textbooks (probably textbooks) but it would definitely take me some time. It would probably go best in `scipy`, especially since then I could use Cython once I got a pure-python version working. But in any case, it probably won't be easy.

Incidentally, the id

[2015-02-20 17:58] agramfort commented on #1814
it's worth asking on scipy dev. Maybe someone can share some code.

[2015-02-20 19:38] sstober commented on #1814
Sorry, I did not consider licensing issues.

Also, I have to admit I do not know what tricks they are using "under the hood". I've done some visual tests plotting a short EEG segment at high resolution and I cannot tell which approach gives the better result.

I've tried CUDA, but it complained about not enough memory. (I'm using a retina MBP and the GPU can only handle small problem aside from ru

[2015-02-21 17:36] #1803 closed

[2015-02-21 18:30] agramfort commented on #1801
fixed by #1818

[2015-02-21 18:30] #1801 closed

[2015-02-21 19:20] #1750 closed

[2015-02-21 19:20] #1743 closed

[2015-02-21 19:20] agramfort commented on #1743
see #1748

[2015-02-22 01:38] sstober opened #1819 "mne.viz.ica._plot_ica_overlay_evoked() broken (no red color)"
Hello,

running this example
martinos.org/mne/stable/auto_examples/preprocessing/plot_ica_from_raw.html
the call of
ica.plot_overlay(eog_evoked, exclude=eog_inds)
(2nd last command)
produces only black lines.

It looks like this could be fixed by using
show=False
in line 457 of mne.viz.ica._plot_ica_overlay_evoked()

Cheers,
Sebastian

[2015-02-22 08:53] agramfort commented on #1819
the figures do not render as in the web page for you?

[2015-02-22 09:48] dengemann commented on #1819
I'm surprised, this code is in use every day. Can you say more about how
you use it and on which system with wich python distribution?
Maybe a reproducible example?

2015-02-22 9:53 GMT+01:00 Alexandre Gramfort <notifications@github.com>:

[2015-02-22 14:14] dengemann opened #1821 "ENH: anatomy + meg script in python"
We should have a funciton that runs all these steps we usually do via the shell scripts `run_anatomy_tutorial.sh` and `run_meg_tutorial.sh`. Ideally it would also reimplement the bem scripts in python to avoid the weaknesses with respect to path and environment variables. Ideall it would just take the subejcts dir and run everything for eachs subject.

cc @Eric89GXL @agramfort @LauriParkkonen @mai

[2015-02-22 15:56] sstober commented on #1819
You can use the plot_ica_from_raw example. These are the problematic figures:
![figure_1](https://cloud.githubusercontent.com/assets/8196250/6319138/cf495ce2-ba7f-11e4-9368-89a430ed854b.png)
![figure_2](https://cloud.githubusercontent.com/assets/8196250/6319139/cf497c04-ba7f-11e4-89a5-71e62420eaa4.png)

I'm on Mac OS 10.8.5 using system Python 2.7.8. mne is the current master version through git,

[2015-02-22 16:17] agramfort commented on #1819
hum... so you get this just when running the untouched example?

if so can you try with anaconda?

[2015-02-22 16:19] dengemann commented on #1819
That's crazy. We cannot reproduce this. I suspect it has to do with the
matplotlib build. You should use the 'osx' with mavericks.

2015-02-22 16:56 GMT+01:00 Sebastian Stober <notifications@github.com>:

[2015-02-22 16:54] sstober commented on #1819
I'm afraid there's no way I'm upgrading to Mavericks as it does not properly support some software I still depend on. I'd also rather not tinker with my otherwise perfectly functioning Python setup as it took me some time to get Theano and Pylearn2 working nicely together with Cuda support on my GPU.
Guess I'll use my custom plotting function (with show=False) for now.

[2015-02-22 16:57] dengemann commented on #1819
Sorry my mistake I thought you were using Mavaricks. It would nevertheless be good to explore what's going on. I fear the problem is in matplotlib not in the mne-python code. I cannot really help a lot because I cannot reproduce it.

[2015-02-22 16:58] agramfort commented on #1819
sounds fair.

Sorry if we cannot help more.

[2015-02-22 17:02] sstober commented on #1819
If you cannot reproduce it, I'd suspect mpl as well. I'll see if I can find out more about this. But for now I got more pressing stuff to attend to and I can live with my workaround.

[2015-02-22 18:12] agramfort opened #1823 "IO of SSS info is broken after filtering with mne_process_raw"
To reproduce, take the somato data, filter with:

mne_process_raw --raw sef_raw_sss.fif --highpass 1 --lowpass 40 --save test_raw.fif --projoff --decim 2 --filtersize 16384

then try this:

[code]

it should break. In otherwords the MNE-C code breaks the Python IO of SSS metadata :( :(

@Eric89GXL bad weather in seattle?

[2015-02-22 18:29] agramfort commented on #1823
@mshamalainen there is a bug in the writing of sparse matrices in the C code. The sparse matrix in maxfilter proc history gets messed up on writing back to disk.

can you have a look?

[2015-02-22 19:25] agramfort commented on #1739
fixed by #1820

[2015-02-22 19:25] #1739 closed

[2015-02-24 17:00] ZYROz opened #1826 "Bug: EDF reader crashes for my file"
@teonlamont
Hi,
I was trying to read the following file but it crashes with the error:
"ValueError: could not broadcast input array from shape (4960) into shape (160)"

File: http://physionet.nlm.nih.gov/pn4/eegmmidb/S001/S001R01.edf

Thanks!

[2015-02-24 17:37] teonlamont commented on #1826
found it. the structure of the code changed but one line didn't get changed properly. closing for pr #1827.

[2015-02-24 17:37] #1826 closed

[2015-02-28 14:42] agramfort commented on #1821
@lorenzo-desantis might be able to help

[2015-03-03 19:05] BrainFPV commented on #1823
It was working in the 0.8 release.. bisecting now.

[2015-03-03 19:07] mluessi commented on #1823
It was working in the 0.8 release, running bisect now.

[2015-03-03 19:07] dengemann commented on #1823
I'm not sure I'm following, this functionality was recently added.

[2015-03-03 19:08] Eric89GXL commented on #1823
0.8 didn't read the SSS info, now we do. @agramfort is implying the problem is with the C code, not the Python code.

[2015-03-03 19:10] mluessi commented on #1823
Oh, I see.. makes sense. So the error only happens after running mne\_process\_raw, correct?

[2015-03-03 19:10] mshamalainen commented on #1823
How did @agramfort <https://github.com/agramfort> come to that conclusion? What exactly happens as a manifestation of the problem? The C code seems to work flawlessly reading and writing sparse matrices.

The information in this e-mail is intended only for the person to whom it is
addressed. If you believe this e-mail was sent to you in error and the e-mail
contains patient information, please con

[2015-03-03 19:11] mshamalainen commented on #1823
It does not happen to me even then.

The information in this e-mail is intended only for the person to whom it is
addressed. If you believe this e-mail was sent to you in error and the e-mail
contains patient information, please contact the Partners Compliance HelpLine at
http://www.partners.org/complianceline . If the e-mail was sent to you in error
but does not contain patient information, pleas

[2015-03-03 19:13] dengemann commented on #1823
@mluessi with @agramfort we processed data and realized that the fiff files containing SSS info are not readable anymore after the raw files have been processed using mne_process_raw + decimation. To be precise, the problem occured when evoked or epochs objects were created based on the processed raw files and saved to disk using python.

[2015-03-03 19:14] dengemann commented on #1823
We were able to reproduce this using different SSSed datasets.

[2015-03-03 19:21] mshamalainen commented on #1823
I believe now that this is the case but it is difficult to see how the C code would be broken in this respect. Let me investigate a little bit further.

The information in this e-mail is intended only for the person to whom it is
addressed. If you believe this e-mail was sent to you in error and the e-mail
contains patient information, please contact the Partners Compliance HelpLine at
http://www.

[2015-03-03 20:16] agramfort commented on #1823
keep us posted @mshamalainen

[2015-03-03 20:18] mshamalainen commented on #1823
There was, indeed, an error in the C code writing of sparse matrices. Fixed now. It was originally tested on my PowerPC MacBook and never came up because the C code never tried to actually use the sparse matrices it wrote. :)

[2015-03-03 20:19] dengemann commented on #1823
@mshamalainen you rock! Thanks!!

[2015-03-03 20:20] mluessi commented on #1823
I think it would make sense to also catch the error in the Python code and byte swapping in Python if it occurs. So it will work with raw files written by all versions of MNE. I volunteer to implement it.

[2015-03-03 20:25] agramfort commented on #1823
PR more than welcome :)

[2015-03-03 20:27] mshamalainen commented on #1823
This fix will be in the nightly build of MNE tomorrow.

[2015-03-03 21:09] agramfort commented on #1823
mne-c.git clone up to date

[2015-03-03 21:21] mluessi commented on #1823
There is a git clone of MNE-C? Where?

[2015-03-03 21:26] agramfort commented on #1823
https://github.com/agramfort/mne-c

it's private though

[2015-03-03 21:31] agramfort commented on #1823
btw if you want to take over the migration to git it would be great...

On Tue, Mar 3, 2015 at 10:26 PM, Alexandre Gramfort
<alexandre.gramfort@m4x.org> wrote:

[2015-03-04 01:21] #1823 closed

[2015-03-04 11:48] jona-sassenhagen opened #1833 "Filtering if info["highpass"] is None"
I have Brainvision files with a very truncated header. The BV import filter knows how to deal with these - it sets info["highpass"] and info["lowpass"] to None. This however causes an error when attempting to filter the data:

[code]

The easiest solution is for the BV filter to set info["highpass”] to 0 and info["lowpass"] to the sampling rate if no online filtering info is found (no idea what th

[2015-03-04 14:03] agramfort commented on #1833
+1 for PR with filter less strict just logging the absence of l_freq and
h_freq

[2015-03-05 12:38] jona-sassenhagen commented on #1833
Close for #1834

[2015-03-05 12:38] #1833 closed

[2015-03-06 00:53] jona-sassenhagen commented on #1814
The EEGLAB implementation is very fast, even the alternative one that doesn't use the signal processing toolbox. I don't understand the code, but here it is: https://code.google.com/p/eeglab/source/browse/eeglab/functions/popfunc/pop_resample.m

I assume the alternative implementation is open.

[2015-03-06 01:45] Eric89GXL commented on #1814
Open yes, BSD-compatible licensing (GPL) no. So that would be a problem in translating the code.

Looking at the code, it first tries to do `upfirdn`-based resampling (standard MATLAB sig proc toolbox resampling), but then falls back to 1D spline interpolation. I've never actually seen that used for processing data. I imagine it introduces some artifacts. Unless someone knows that spline interpola

[2015-03-08 17:01] agramfort opened #1836 "run make linkcheck in doc"
[code]

and you'll see some red lines about broken links etc...

Full log on my machine:

[code]

[2015-03-08 17:02] Eric89GXL commented on #1836
+1 for fixing this, plus adding some cleaning of the `make linkcheck` to only display lines that are actually useful (maybe just containing "broken").

[2015-03-08 17:10] agramfort commented on #1836
@TanayGahlot could be an easy fix for you

[2015-03-08 17:15] TanayGahlot commented on #1836
Cool, I will take it up

[2015-03-09 02:00] #1729 closed

[2015-03-09 02:00] #1643 closed

[2015-03-09 02:09] dengemann opened #1837 "[ENH] release MNE-Python 0.9"
@christianbrodbeck @teonlamont @joewalter @wmvanvliet @agramfort @mluessi @Eric89GXL @mainakjas @rgoj .......

We should make a release, it's overdue. Can we please tackle the open issues and PRs that are close to merge? Any reviewing or coding contrib is welcome.
Please list what you want for MNE-Python 0.9.

I think for met it's only #1629, #1795 and #1637.

[2015-03-09 02:21] #1819 closed

[2015-03-09 03:11] Eric89GXL commented on #1837
Instead of listing, I made a 0.9 milestone and will tag the appropriate issues/PRs.

[2015-03-09 03:13] dengemann commented on #1837
Thanks Eric!

[2015-03-09 03:15] Eric89GXL commented on #1811
+1 for doing this as a fix for 0.9. I might have time this week to tackle this if it seems worthwhile.

[2015-03-09 03:16] Eric89GXL commented on #1790
Deprecation would be good to get in before 0.9 release if this seems doable.

[2015-03-09 03:22] Eric89GXL commented on #1730
@mainakjas do you have time for 0.9?

[2015-03-09 03:23] Eric89GXL commented on #1707
Closing for now because a `slow_test` decorator has been added to address this issue on AppVeyor, feel free to reopen if you're still having problems.

[2015-03-09 03:23] #1707 closed

[2015-03-09 03:23] Eric89GXL commented on #1706
This is really a bunch of `git mv` commands. @agramfort I'm sure you have time for this one...?

[2015-03-09 03:25] Eric89GXL commented on #1682
There is something like this in there now, feel free to re-open if it's not close enough.

[2015-03-09 03:25] #1682 closed

[2015-03-09 03:30] Eric89GXL commented on #1587
Closing for now since things seem to work now, feel free to re-open if they don't.

[2015-03-09 03:30] #1587 closed

[2015-03-09 06:06] teonlamont commented on #1837
also, let's try to close any open issue that has been resolved or no longer applicable.

[2015-03-09 06:10] #1783 closed

[2015-03-09 10:10] agramfort commented on #1706
it's a bit more as I want to take the opportunity to simplify some examples
and make them more entry level

could have a bit of time next week during my holidays...

[2015-03-09 10:14] agramfort commented on #1730
@mainakjas arrives on friday in Paris for his PhD so he will soon have more
time :)

[2015-03-09 10:33] agramfort commented on #1811
+1

[2015-03-09 16:32] Eric89GXL commented on #347
I guess we haven't needed this for two years... do you think we still need it @agramfort?

[2015-03-09 16:39] agramfort commented on #347
it's in scipy now.

we need to integrate it.

it can be convenient to smooth the evoked data late in the pipeline

[2015-03-09 16:42] Eric89GXL commented on #347
you want it for 0.9? it seems like it *should* be pretty straightforward

[2015-03-09 16:43] Eric89GXL commented on #1055
I still get confused by this issue. We should unify before 0.9

[2015-03-09 16:48] Eric89GXL commented on #1108
pretty sure I fixed this at some point

[2015-03-09 16:48] #1108 closed

[2015-03-09 16:49] Eric89GXL commented on #1129
closing for PR for native support

[2015-03-09 16:49] #1129 closed

[2015-03-09 16:54] agramfort commented on #1055
yeah. I hate the mri naming. If it's stored as -trans.fif let's call it trans everywhere.

[2015-03-09 16:54] Eric89GXL commented on #1227
it was coverage that was killing it, this was fixed months ago by dropping Py3k coverage

[2015-03-09 16:54] #1227 closed

[2015-03-09 16:55] Eric89GXL commented on #1327
This has been updated recently, hopefully it works better now

[2015-03-09 16:55] #1327 closed

[2015-03-09 16:56] Eric89GXL commented on #1383
@dgwakeman do you have time to work on this?

[2015-03-09 16:56] agramfort commented on #347
let's focus on open PR

conversion between frequency params and sav gol params is maybe not that
trivial.

[2015-03-09 16:57] Eric89GXL commented on #1453
I actually started working on translating the C code for SNR calculations last week, hopefully I'll have something working soon. Then we can just have a `method` argument.

[2015-03-09 16:57] Eric89GXL commented on #1464
it does now

[2015-03-09 16:57] #1464 closed

[2015-03-09 16:57] dengemann commented on #1453
@Eric89GXL cool!

[2015-03-09 16:58] #1557 closed

[2015-03-09 17:00] dgwakeman commented on #1383
Yeah, I will do it this weekend/end of this week

[2015-03-09 22:38] mainakjas commented on #1730
indeed :)

[2015-03-10 01:51] Eric89GXL commented on #912
We have a check for poles outside the unit circle already, closing this one

[2015-03-10 01:51] #912 closed

[2015-03-10 17:31] kingjr opened #1839 "Q: shift time axis"
Is there a clean way of shifting the time axis on epoched and evoked data or woudld the following be sufficient?
[code]

Thanks!

[2015-03-10 17:37] pntfx4 opened #1840 "infomax discrepancies relative to EEGLAB binica/runica"
@dengemann @cle1109 @kazemakase

In comparing the mne-python implementation of infomax to that done using EEGLAB binica/runica I tweaked the code 9 lines below 'if not wts_blowup:' immediately before '#anneal learning rate' to mimic what is done by binica/runica:

    print('step %d - lrate %7f, wchange %8.8f, angledelta %4.1f deg' % (step, l_rate, change, angledelta))

Running it through matlab -

[2015-03-10 19:17] kingjr opened #1841 "EHN: contrast default if comment is None"
Doing a contrast between two conditions with 'event_id = None' leads to an error:
[code]
generates:

[code]

I know this can be corrected manually by chaning the evoked.comment:

[code]

But I think it'd be easier to handle this automatically. What do you think?

[2015-03-10 19:23] Eric89GXL commented on #1841
Yeah, this should be handled automatically, adding something like `this_comment = 'unknown if this_evoked.comment is None else this_evoked.comment` and a similar line for `other_comment` should do the trick. Feel free to open a PR. If you don't have time, let me know and I can do it.

[2015-03-10 19:24] kingjr commented on #1841
I'll try to do it, it's a good exercize

[2015-03-10 19:25] dengemann commented on #1841
Sounds good to me!

[2015-03-10 20:27] agramfort commented on #1839
shift the events it's cleaner and guaranteed to work

[2015-03-10 20:35] kingjr commented on #1839
ok. (Although I think I a function handling this a posteriori would be popular... http://fieldtrip.fcdonders.nl/reference/ft_redefinetrial)

[2015-03-10 20:35] #1839 closed

[2015-03-10 20:40] agramfort commented on #1839
hum ok... it's more complete than just a time shift.

you could open an issue with a detailed description of what you would like
to be able to do to mimic fieldtrip, just typing code the way you would
like to use it. A PR will come later

[2015-03-10 20:55] kingjr commented on #1839
ok.

[2015-03-10 20:59] kingjr opened #1843 "Issue: redefine epoch time"
It would be great to have a function that redefines or select the timing of epochs data. Following the fieldtrip function ft_redefinetrial (http://fieldtrip.fcdonders.nl/reference/ft_redefinetrial), I see two possible types of scenarios:
1. shift the time axis:
``` epochs.times += 0.100 ```
2. troncate time axis:
```epochs.redefinetrial(tmin=-0.100, tmax=0.200)```

What do you think?

[2015-03-10 21:06] dengemann commented on #1843
Sounds good. For the second use case we already have .crop -- I'll pay a beer to the one who puts some care in the crop method to make it consistent across mne containers, Raw, Epochs, etc

[2015-03-11 04:20] kambysese commented on #1821
@dengemann what do these shell scripts do? Where can I find them?I am working on a script that runs the <i>anatomy</i> routines for a given subject that I just recently sent to @Eric89GXL for comment--that is how I ended up here. It's a [WIP](https://gist.github.com/kambysese/4bdaec63fb6e12b84150) and a rather crude first pass at pythonizing a boat load of shell commands. LMK if it can be of any u

[2015-03-11 08:39] agramfort commented on #1821
please share the gist so we can see what you started

[2015-03-11 18:08] kambysese commented on #1821
Here it is in my dropbox folder (https://www.dropbox.com/s/nsp6gocbbxufhoc/FSrecon.py?dl=0)
btw what happens when you follow the above WIP hyperlink to the gist? it should take you to a public gist, no? :confused:

[2015-03-11 18:10] agramfort commented on #1821
thx for sharing

On Wed, Mar 11, 2015 at 7:08 PM, Kambiz <notifications@github.com> wrote:

[2015-03-12 08:34] kazemakase commented on #1840
cc @jdammers

[2015-03-12 09:12] dengemann commented on #1840
Can you show the diff? Does this create the expected behavior? I remember with @fraimondo we also observed different iteration numbers in the past when comparing to his cuda implementation of infomax.
This would be good to investigate and understand.

[2015-03-12 10:04] jdammers commented on #1840
@pntfx4  Can you confirm starting with the same learning rate. Did you observe angledelta being <60 ?
Would it be possible to post the output (print statements) of both versions?

[2015-03-12 13:32] #1472 closed

[2015-03-12 13:40] flrgsr opened #1847 "import mne from ipython gives runtime warning"
hi,

Following [the getting started guide](http://martinos.org/mne/stable/getting_started.html) I just freshly installed mne via *pip install mne*.

However if I type *import mne* I get this:

[code]

How critical is this (as it is just a warning)? And what to do?

Cheers

[2015-03-12 13:49] dengemann opened #1848 "ENH: stats for ERF decoding and time generalization"
With @kingjr we're currently thinking about the right way to handle cross-trial significance testing for the analyses demonstrated in our decoding examples. This is basically overlapping with [one of our GSOC topics](https://github.com/mne-tools/mne-python/wiki/GSOC-Ideas#improve-multivariate-stats-and-machine-learning-support), and the [discussion in the comments over here](http://blogs.discoverm

[2015-03-12 13:53] agramfort commented on #1847
yes it's just warnings but I don't know why

note that if you plan to contribute you should setup the current
development version.

[2015-03-12 13:55] dengemann commented on #1848
cc @deep-introspection

[2015-03-12 14:01] dengemann commented on #1848
cc @flrgsr

[2015-03-12 15:42] deep-introspection commented on #1848
@dengemann I like Hebart's solution but this may be computationally demanding... By the way, to what extend MNE is handling distributed computing?

[2015-03-12 15:43] dengemann commented on #1848
DYI style ...

[2015-03-12 15:47] kingjr opened #1849 "BUG:"
I seem to be encountering a bug similar to #1823 #1835 (although it was ok a few days ago). Specifically, I can read and transform an sss.fif file, save/write it, but when I want to read it again I get the following message:
[code]

I am not sure how to proceed now...

[2015-03-12 15:47] agramfort commented on #1848
with joblib

[2015-03-12 15:48] dengemann commented on #1849
cc @agramfort @mluessi

[2015-03-12 15:48] dengemann commented on #1848
@agramfort I think @deep-introspection is referring to distributed computing across machines, MPI style

[2015-03-12 15:48] kingjr commented on #1849
Actually the problems seems to only appear when I concatenate many epochs.

e.g. I concatenate without any problems epochs 1 to 5 without any problem. I did the same thing for 6 to 10: still no problem. But 1 to 10: and the saved file becomes unreadable..

[2015-03-12 15:49] dengemann commented on #1849
That's interesting .... I need to think about it....

[2015-03-12 15:49] deep-introspection commented on #1848
@dengemann Indeed, but thanks @agramfort for the joblib tip, sounds pretty cool!

[2015-03-12 15:50] agramfort commented on #1849
does your file become larger than 2GB?

[2015-03-12 15:53] agramfort commented on #1848
see clusterlib it's WIP though

[2015-03-12 15:53] kingjr commented on #1849
yes

[2015-03-12 15:56] agramfort commented on #1849
then you hit the size limit of fif files.

either use hdf5 or less epochs

[2015-03-12 15:57] kingjr commented on #1849
Ok, super; thanks

A warning at the writing and the reading stage would help.

[2015-03-12 15:57] #1849 closed

[2015-03-12 15:58] agramfort commented on #1849
PR welcome

[2015-03-12 15:59] kingjr commented on #1849
Shall I leave the issue open in the meantime then?

[2015-03-12 16:01] Eric89GXL commented on #1849
I'll open a clearer bug description

[2015-03-12 16:01] kingjr commented on #1849
ok thanks

[2015-03-12 16:01] Eric89GXL opened #1850 "BUG: 2GB limit can be exceeded"
...on writes, which can leave us with un-readable files on read. See e.g. #1849.

[2015-03-12 16:02] agramfort commented on #1849
create a more explicit issue with a gist to reproduce the problem

[2015-03-12 16:23] Eric89GXL commented on #1850
To recreate the problem (note: creates a huge file in memory and on disk):
[code]
Result:
[code]

[2015-03-12 16:24] Eric89GXL commented on #1850
@agramfort would it be good enough for now to add a check to the FIFF-ending function that checks the file size and throws an error if the limit is exceeded?

[2015-03-12 16:25] agramfort commented on #1850
maybe :)

[2015-03-12 20:19] teonlamont commented on #1703
closed for #1846

[2015-03-12 20:21] christianbrodbeck commented on #1703
I left this open because of proposed modifications to the documentation after the importing issue has been settled

[2015-03-12 21:06] #1850 closed

[2015-03-12 21:10] pntfx4 commented on #1840
Ok, I edited line 133 of the infomax function to output the same parameters as runica:

        print('Input data size [%d, %d] = %d channels, %d frames' % (n_features, n_samples, n_features, n_samples))
        if extended is True:
            print('Finding %d ICA components using extended ICA.' % n_features)
            print('Kurtosis will be calculated initially every %d blocks using %d data

[2015-03-12 21:10] pntfx4 commented on #1840
This is the runica output:

Input data size [61,150000] = 61 channels, 150000 frames/n
Finding 61 ICA components using extended ICA.
Kurtosis will be calculated initially every 1 blocks using 6000 data points.
Decomposing 40 frames per ICA weight ((3721)^2 = 150000 weights, Initial learning rate will be 0.001, block size 60.
Learning rate will be multiplied by 0.98 whenever angledelta >= 60 deg.
M

[2015-03-12 21:11] pntfx4 commented on #1840
mne-python infomax output:

Input data size [61, 150000] = 61 channels, 150000 frames
Finding 61 ICA components using extended ICA.
Kurtosis will be calculated initially every 1 blocks using 6000 data points.
Initial learning rate will be 0.001000, block size 60.
Learning rate will be multiplied by 0.980000 whenever angledelta >= 60.000000 deg.
Stopping weight change 0.000001.
Training will end wh

[2015-03-12 21:13] Eric89GXL commented on #1840
So what do you think is the best course of action?

In any case, I think it's worth switching your `print` statement over to `logger.debug` so this is easier to debug in the future. Feel free to open a PR.

[2015-03-12 21:25] agramfort commented on #1840
we should try to make sure both implementation are identical by default
eventually exposing expert parameters if required.

+1 for PR

[2015-03-12 21:52] #1841 closed

[2015-03-12 22:56] Eric89GXL commented on #347
I wrote a gist suggesting that using a 5th-order polynomial with a window length twice as large as the wavelength of the freq of interest should work okay:

https://gist.github.com/Eric89GXL/bbac101d50176611136b

Plotting the original spectra (yellow) and post-savgol spectra for different filter orders (left labels) and requested "lowpass frequencies" (bottom labels), with the -20 dB point in hori

[2015-03-13 07:35] cle1109 commented on #1840
Even if the settings are identical, the differences are still significant IMHO. What's more, I think EEGLAB tries to automatically set the number of sub-Gaussian sources for extended Infomax, but I don't think that this is an option in the MNE implementation.

In addition, maybe we should really use default Infomax as a default - first, this is what EEGLAB does, and second, there are less paramete

[2015-03-13 08:00] jdammers commented on #1840
In principle, I would agree that it would be nice if both versions (EEGlab and MNE-python) produce the same output, although to me the output of MNE looks better. It seems that with runica you are trapped within a local minimum (see angledelta and wchange jumping up and down) and the only reason why the algorithm stops is that it reaches the number of maximum iterations.

The learning rate and the

[2015-03-13 08:10] cle1109 commented on #1840
@jdammers if the defaults in EEGLAB are not sensible, we should not force ourselves to use these settings. Also, if you have good reasons to set different defaults for EEG and MEG, I would be in favor of this change.

Regardless of the specific steps produced by both algorithms, I think a comparison between resolved sources would be helpful. In general, these sources should be similar in both algo

[2015-03-13 08:28] jdammers commented on #1840
@cle1109 agree and finally the output of the sources is of more importance.
Also note, the Default changes (we introduced) were motivated by the fact that modern MEG systems have 250 channels or more while about 20 years ago (when the algo was written) most EEG labs used 32 channels or less. We also encountered that the default learning rate of 0.001 was a bit too high for MEG.

[2015-03-13 08:51] kingjr opened #1853 "Q: log scale in viz.plot_image_epochs"
I am trying to plot the trigger channel across epochs to check that it's adequately aligned using :
```mne.viz.plot_image_epochs(epochs, trigger_ch, scalings=dict(stim=4096), units=dict(stim=''))```

I often generally trigger values in a single channel using a binary coding, which thus vary in an ~ exponential fashion (1 2 4 8 16 32 64 128 ... ).

I would thus like to plot them on a logarithmic co

[2015-03-13 19:11] pntfx4 commented on #1840
@jdammers @cle1109 I also agree that the defaults do not necessarily have to mirror EEGLAB. In fact a selling point might be that more appropriate defaults are used and perhaps a tweak is included to prevent getting stuck in local minima. As an outsider to this area, my focus is more on being able to utilize this as a platform independent replacement for binica. So any further improvements are ici

[2015-03-13 21:56] #1836 closed

[2015-03-13 22:08] agramfort commented on #1853
+1 for

   - adding an option in mne.viz.plot_image_epochs

[2015-03-13 23:57] dengemann opened #1857 "ENH: improve doc for SNR estimate"
- clarify the difference to Evoked.plot_white
- clarify the practical use case and the diagnostic value of the SNR ant the apparent / estimated SNR output.

[2015-03-14 03:38] #347 closed

[2015-03-14 16:12] teonlamont commented on #1790
closing for #1858.

[2015-03-14 16:12] #1790 closed

[2015-03-14 18:17] jdammers commented on #1840
@pntfx4 First of all I would not recommend fixing the block size.
We changed the block size estimation because most of us are primarily interest in having a decent block size for MEG (using a lot more channels compared to EEG). The runica version underestimates the size of each block as it was designed for EEG and a few channels only. If we have a sampling rate of 1000Hz and use 1 and 5 minutes of

[2015-03-14 19:48] pntfx4 commented on #1840
@jdammers  Thank you! I did notice that binica has a similar block size to mne-python in looking at the outputs. I guess I was looking at the block size relative to how "meaningful" the training is if it was only considering 50 points (which at 1000hz is only 50ms if the data were to be continuous). So from that perspective, the overall number of points would seem to be less relevant. But it would

[2015-03-14 22:12] teonlamont commented on #1793
closing for #1859.

[2015-03-14 22:12] #1793 closed

[2015-03-14 22:36] teonlamont commented on #1797
closing for #1860.

[2015-03-14 22:36] #1797 closed

[2015-03-14 22:37] #1734 closed

[2015-03-14 22:56] teonlamont commented on #1245
i think this has been addressed from what i've checked. @mluessi, can you confirm?

[2015-03-14 22:59] christianbrodbeck commented on #1703
I assigned myself to do the API refactor discussed in here as soon as #1846 is done

[2015-03-14 23:29] teonlamont commented on #1687
hey @dgwakeman, let me know if you need a hand with this.

[2015-03-14 23:31] teonlamont commented on #1449
is this fixed?

[2015-03-14 23:55] teonlamont commented on #1169
closing for #1861.

[2015-03-14 23:55] #1169 closed

[2015-03-15 00:55] christianbrodbeck opened #1862 "Interpolate bad channels per epoch"
I would like to interpolate bad channels on a per epoch basis. I noticed #1777 has the same desired feature but does not seem to have an efficient implementation yet, so it seems like a partial feature that I could work on. I would like as a basis something like a list of lists of bad channels i.e. something like:

[code]

What do you think?

[2015-03-15 02:36] Eric89GXL commented on #1449
Should be, I think it was just a case of an outdated sample dataset

[2015-03-15 02:36] #1449 closed

[2015-03-15 09:32] agramfort commented on #1862
Hum... I am not sure I get the use case. You have a denoising problem?

[2015-03-15 10:49] christianbrodbeck commented on #1862
Besides @wmvanvliet 's use case for FASTER I also have a lot of epochs in my EEG data where a single channel acts weird, even though the same channel is perfectly normal in the majority of the other epochs of the rest of the experiment.

[2015-03-15 11:32] wmvanvliet commented on #1862
I was the same thing in many of my EEG datasets when working on FASTER. Manually going through the epochs and selecting bad channels is a pain though... but with some outlier detection, this interpolation of bad channels can really save some terrible datasets. I'm all for adding this functionality if @christianbrodbeck is up for it.

[2015-03-15 13:45] dengemann commented on #1862
Why don't we add a parameter to the existing function that allows to interpolate epoch wise? But that would only be for epochs then. Maybe separate method or function would be cleaner then.
And yes, we need this for FASTER.

[2015-03-15 13:56] christianbrodbeck commented on #1862
@dengemann that would mean a separate `InterpolationMixin` for Epochs, or (since it would be used only once) just adding the corresponding `interpolate_bads_eeg(self, channels_by_epoch=None)` function to `_BaseEpochs`, right? If you're ok with that I will start working on a PR.

A related question: why is it not allowed to interpolate MEG channels? Does this have something to do with not knowing h

[2015-03-15 14:28] dengemann commented on #1862
Wait. The API would the take a list of bads as input?

I think we discussed this, it was the grad / mag and the helmet VS head thing issue if I remember correctly. The good way to deal with it for MEG would be based on the forward model as in the fieldlines example.

[2015-03-15 14:37] christianbrodbeck commented on #1862
@dengemann my API proposal was an optional list of lists, like

[code]

Can you (or anyone) think of a better option?

[2015-03-15 14:53] agramfort commented on #1862
How would you get this list of list in practice? I feel it exposes a complex API and that could be an internal thing in a high level denoising function

Regarding interp of Meg the issue is that you have a vector field and you need to interpolate using sensor orientation and maybe even geometry

[2015-03-15 14:58] christianbrodbeck commented on #1862
FASTER supposedly would generate the list automatically. I have a (wxpython and OS X dependent) GUI  that can create such a list. I assume there could be other ways of generating the list in the future, it seemed like the most obvious representation of the information.

[2015-03-15 15:21] christianbrodbeck commented on #1862
I can't find a relevant open issue (searching for "interpolate MEG" and such) is there one or should I create a new one?

[2015-03-15 18:59] teonlamont opened #1863 "Problem with the plot_read_noise_covariance_matrix example"
It seems as though this example isn't being rendered properly

http://martinos.org/mne/dev/auto_examples/plot_read_noise_covariance_matrix.html

[2015-03-15 21:41] agramfort commented on #1862
I would say let's wait for Faster to be ready then.

[2015-03-15 21:41] agramfort commented on #1862
such) is there one or should I create a new one?

feel free to create it.

[2015-03-15 22:43] christianbrodbeck commented on #1862
@agramfort I need the feature now and I would be willing to work on it. Are you saying because my current use case is not everyone's use case you don't want to have the feature added before another use case is implemented?

[2015-03-15 23:04] dengemann commented on #1862
Can we handle this using a private function? Christian could use it immediately, the mixin could use it, finally we can decide later about the public API.

[2015-03-16 01:12] christianbrodbeck commented on #1862
That would work for me

[2015-03-16 08:59] agramfort commented on #1862
Give it a try in a branch and WIP PR to make this public and let's talk about merge when faster is ready

[2015-03-16 09:26] dengemann opened #1867 "BUG: MNE-C"
mne_process_raw does not seem to be very strict about what is a data channel.
Data labeled as FIFFV_RESP_CH or FIFF_EVENT_CHANNEL should not be included in filtering.
This is what mne_process_raw seems to do however.

cc @mshamalainen

[2015-03-16 10:10] kingjr opened #1868 "EHN: add tmin and tmax key to evoked"
Is there any reason not to pass the tmin and tmax keys of epoched data to evoked data

e.g.
[code]

Thanks

[2015-03-16 10:16] dengemann commented on #1868
Probably to match the MNE-C FIFF defnition of the Evoked structure or because of lazyness.
One coul add these attributes on construction / read time.
You can do `print(evoked.times.min())`.

I perosnally don't really care. I think I've never used these attributes.

[2015-03-16 10:39] agramfort commented on #1868
A bit of a YAGNI to me

Or maybe via property

[2015-03-16 10:43] kingjr commented on #1868
It's no more necessary to have it in epochs, as users could also do epochs.times.tmin. I would add it for sake of coherency.

[2015-03-16 11:05] agramfort commented on #1868
Tmin in epochs is used to read from raw and to define times. Once you have times then tmin and tmax are not required

[2015-03-16 11:13] christianbrodbeck commented on #1862
closing for #1869

[2015-03-16 11:13] #1862 closed

[2015-03-16 12:36] kingjr commented on #1868
Faire enough.

[2015-03-16 12:36] #1868 closed

[2015-03-16 17:03] agramfort commented on #1863
closing for #1864

[2015-03-16 17:03] #1863 closed

[2015-03-17 14:22] christianbrodbeck commented on #1862
I got it working, here is an illustration of the problem (see the blue dotted channel in the top left plot and the topomap).

![screen shot 2015-03-17 at 9 16 31 am](https://cloud.githubusercontent.com/assets/145771/6688016/7e7825d2-cc86-11e4-937e-8f452ab3164f.png)

 By the way if anyone is interested in the GUI let me know, these are the limitations:

- requires wxPython
- only one modality at a

[2015-03-17 15:54] dgwakeman opened #1872 "recursive travis?"
I'm not sure if this is definitely an issue or not in the way travis is setup with appveyor. I noticed on my last commit, and it seems to be starting the same way now...

When I push:
Travis starts and runs till completion. I can see the results when I click on the details link
Then appveyor starts and runs till completion
then Travis starts again and runs till completion. Only then does the githu

[2015-03-17 15:58] #1811 closed

[2015-03-17 15:59] Eric89GXL commented on #1872
No, they run on their own. Sometimes the github page won't update its status, but if you refresh your browser it should.

[2015-03-17 21:18] Eric89GXL commented on #1872
Also note that sometimes CI builds are started or stopped manually. For example, if I see that an AppVeyor build has failed because it didn't download the testing dataset, I'll often restart it and that fixes the problem. Or if I see that someone has push-forced replacing a recent commit, I'll stop the old Travis build to save Travis some work and to get us feedback faster.

But I think what you'r

[2015-03-17 21:18] #1872 closed

[2015-03-17 21:19] Eric89GXL commented on #1847
I have seen this in WinPython, or when I have custom-built the numpy/scipy stack but not packages that depend on it like `sklearn`. Try updating your versions and the warnings could go away. In any case, I don't think this is an mne-python specific issue, so I'm going to close this issue.

[2015-03-17 21:19] #1847 closed

[2015-03-18 14:28] Anevar opened #1875 "Bug: Reading Evoked data from saved -ave.fif files"
There seems to be problem(a bug) with reading the saved evoked data (-ave.fif files) using  mne.read_evokeds.

The evoked data is present before we save it into a file but there seems to be a problem when we read it. (more specifically-> there are no data present for some trails when we read it)

As a result the average of subject over trials or the grand average could not be obtained.
I use mne v

[2015-03-18 14:34] agramfort commented on #1875
can you share the file that creates the problem as well as a script to
produce the error?

[2015-03-18 14:48] Anevar commented on #1875
Yes I can send them to you by mail as I'm not able to send in the file on github.

[2015-03-18 15:08] Anevar commented on #1875
Dear Alex,

I'm attaching the script along with this email and result of the average
over trials for each subject.

The evoked data is present before I save it unfortunately for a few runs it
was only NaNs when I read it.(hence the average is NaN)
I'm not sure if the evoked.save method is introducing errors or its the
read_evokeds.

There is also a problem when I tried to append the evoked of the

[2015-03-18 15:14] agramfort commented on #1875
please share a tiny script that reproduces the error not your full script

also please share the broken -ave.fif file via dropbox or google drive. I
am not at Neurospin nor at work.

[2015-03-19 05:30] agramfort commented on #1875
ok. I got the problem.

can you read the original raw file?

problem occurs at line 90 in proc_history.py is due to the fact that
this a non ascii character in user name (é)

cc @EricGXL89

[2015-03-19 05:31] agramfort commented on #1875
also don't hesitate to share the files with @Eric89GXL and please add a raw file to drive so we can debug as I suspect we don't write back correctly after reading the raw file.

[2015-03-19 05:40] Eric89GXL commented on #1875
Tomorrow I can try to reproduce it by putting some non-ascii chars in an evoked `info` and writing/reading it

[2015-03-19 05:44] agramfort commented on #1875
great idea. Thanks for taking a look

[2015-03-19 07:12] #1875 closed

[2015-03-19 11:37] fraimondo opened #1878 "BUG: EGI file reading won't work if no events are present."
When reading a RAW EGI file using `read_raw_egi`, if no events are present, then the function fails with `list index out of range` in `_RawEGI` `__init__`.

Digging into the file around line 203:
[code]
With no events, `event_codes` is an empty array, while `egi_events` results in the last data row.

Later in the file, the line that gives us this beautiful error message.
[code]

I can fix it, just

[2015-03-19 11:43] agramfort commented on #1878
Can you open a PR?

[2015-03-19 12:31] fraimondo commented on #1878
I'm on it.

[2015-03-19 15:40] dgwakeman commented on #1872
This is doing it right now. I just got an email from travis saying that my build is bad. Linking here:
https://travis-ci.org/dgwakeman/mne-python/builds/55035004
But when I click on the link on github for the latest commit it hasn't run yet.

[2015-03-19 15:40] dgwakeman commented on #1872
open 1872

[2015-03-19 15:43] Eric89GXL commented on #1872
That build is running for `dgwakeman/mne-python`, not `mne-tools/mne-python`. You can turn off builds for your own repo if you want.

[2015-03-19 15:44] dgwakeman commented on #1872
Ahhh. ok Thanks sorry

[2015-03-19 15:48] Eric89GXL commented on #1872
No problem, that's an easy one to miss :)

[2015-03-19 19:58] teonlamont opened #1880 "mne.io.read_raw_fif function?"
I was wondering why we don't have a proper `read_raw_fif` function instead of subclassing the Raw.

[2015-03-19 21:40] agramfort commented on #1880
I guess historical reasons...

[2015-03-19 21:45] teonlamont commented on #1880
i thought that too but the io module is relatively new, like within the
last two release cycle (I think). would it make sense to add such a
function. it would give a unified io look. We could leave the Raw object
subclassing to prevent breaking backwards compatible. just a thought.

-teon

On Thu, Mar 19, 2015 at 10:40 PM, Alexandre Gramfort <
notifications@github.com> wrote:

[2015-03-19 21:51] agramfort commented on #1880
fine with me :)

[2015-03-19 22:19] Eric89GXL commented on #1880
+0.5 for me, sounds reasonable

[2015-03-20 00:06] teonlamont commented on #1880
closing for #1881

[2015-03-20 00:06] #1880 closed

[2015-03-20 15:40] dengemann opened #1882 "FIX: MNE-Report section ordering broken if using custom sections"
that overlap with the SECTION_ODER list in mne.report.py

The reordering code above and in [this line](https://github.com/mne-tools/mne-python/blob/master/mne/report.py#L1090) seems pretty broken to me btw. It also changes the state of the report, after saving the order in report.section and report._sectionlabels is changed.

cc @mainakjas

[2015-03-20 16:53] agramfort opened #1883 "reject trials based on head movements"
we should have an option to reject epochs based on head motion tracking. If too strong movement -> reject.

SPM has something like this. See spm_eeg_megheadloc.m

[2015-03-20 16:55] Eric89GXL commented on #1883
With #1876 we can even do it on non-Maxfiltered data if cHPI is used. Although I doubt there are many people using cHPI without using Maxfilter...

[2015-03-20 17:00] agramfort commented on #1883
is this PR ready for merge?

would it make sense to be able to plot motion params over time? it's quite
common for fMRI.

Also there is this old issue to reproduce mne_map_data to correct head
motions between runs without using maxfiler. Could it be part of GSOC?

[2015-03-20 17:09] Eric89GXL commented on #1883
Nope, not ready. I have only tested it with simulated (infinite SNR) data, and haven't checked the params. I'm not even sure if the rotation matrices are correct, I only checked the positions so far...

I plan to work on it in early April, I'd project it'll be ready for merge by the end of April. But in any case, the functionality mentioned here should be able to be implemented using the existing

[2015-03-20 17:15] agramfort commented on #1883
ok. Let's not forget.

[2015-03-20 23:26] mainakjas commented on #1882
I agree this part could be improved. Can you provide a small script to illustrate the problem?

[2015-03-21 16:29] dlsrnsi commented on #1773
I think its solution is that copy notch_filter method in .io.base.py to evoked.py.

[2015-03-21 16:34] agramfort commented on #1773
what do you mean the solution?

[2015-03-21 16:38] dlsrnsi commented on #1773
If you copy notch_filter method in .io.base.py to evoked.py, you can eliminate stim_artifact for evoked, I think.

[2015-03-21 16:45] agramfort commented on #1773
? stim artifact is not corrected with notch_filter. See how it is done with
raw files.

[2015-03-21 17:01] dlsrnsi commented on #1773
Oops.. Sorry for my mistake.. I have misunderstood about this issue..

[2015-03-21 17:07] agramfort commented on #1773
issue should be simpler than dealing with notch filter

[2015-03-21 17:08] mainakjas commented on #1773
It's `eliminate_stim_artifact` not eliminate stim_artifact :)

Take a look here: https://github.com/mne-tools/mne-python/search?utf8=%E2%9C%93&q=eliminate_stim_artifact

[2015-03-22 12:52] dengemann commented on #1882
@mainakjas toy example

[code]

[2015-03-22 13:01] dengemann opened #1887 "FIX: MNE-Report makes unrequested copies of section and memory blows up if integers are used in sections"
@mainakjas

[code]

In this case self._sectionvars will be a dict of sections pointing to an empty string. This probably creates all the trouble. The problem is in _clean_varnames:

In [39]: _clean_varnames('1334')
Out[39]: ''

This is not really desirable. Can we avoid this or is there a reason integer strings are not allowed? Often subjects just have such integer codes.

[2015-03-22 13:05] dengemann commented on #1887
If it cannot be changed it should be handled either with an error or by adding characters to the string ...

[2015-03-22 13:10] dengemann commented on #1887
I think the evil comes when section labels are a list of empty strings... then the labels are not unique any more and figures get added everywhere on saving.

[2015-03-22 13:20] jona-sassenhagen opened #1888 "plot_topo cosmetics"
mne.viz.plot_topo seems a bit half-assed right now, unless I'm missing something. However, when suggesting to a student of mine to use MNE for a basic ERP analysis, I realised for people who'd use MNE mainly for plain old boring ERPs, this is probably an essential feature. I'm currently adding all the minor cosmetic things necessary for basic usage:

- a legend
- an option to set linewidth so plot

[2015-03-22 13:53] agramfort commented on #1888
a very welcome contribution !

[2015-03-22 13:53] mainakjas commented on #1888
yep, I have wanted the legends too :) I write my custom scripts for that but it would be great if it can be integrated into MNE

[2015-03-22 13:55] dengemann commented on #1888
Sounds great!

2015-03-22 14:53 GMT+01:00 mainakjas <notifications@github.com>:

[2015-03-22 15:20] agramfort opened #1889 "use mklfft if available"
we use fftpack from scipy but anaconda offers mklfft in accelerate package. If present we should be using:

import numpy.fft.fftpack

see

https://store.continuum.io/cshop/accelerate/
https://github.com/ContinuumIO/mkl-optimizations-benchmarks/blob/master/benchFFT.py

@mainakjas it should speed up the TFR code you played with last week.

any taker?

[2015-03-22 15:26] Eric89GXL commented on #1889
Are TFRs used a lot by you folks? I could possibly look into making a `CUDA` version at some point if they are.

[2015-03-22 15:40] mainakjas commented on #1889
I'm going to be using it a lot :) Not still sure what was the reason for the slow code yet. Hopefully, I'll get to it later in the evening today. I think I'll be using TFR quite a bit :) maybe @agramfort can comment more

[2015-03-22 16:14] agramfort commented on #1889
yeah it's quite used by folks around me (in Neurospin mainly).

@joewalter it would help too in the stft code to speed up tf-mxne code.

[2015-03-23 13:34] #1383 closed

[2015-03-23 14:08] brauner opened #1892 "Importing bdf files greater >2gb"
Hello,

is there any way to import `*.bdf` files which are greater than `2gb`. On the data conversion page on the homepage it is stated:

Is there a way that `mne-python` can import it an split it automatically into separate `*.fif` files that all get loaded together whenever one of them gets imported?

[2015-03-23 14:34] teonlamont commented on #1892
hey @brauner I think that is what is currently implemented in mne-python. Could you try reading in a .bdf and saving the raw file? Our saving function should take care of this automatically.

[2015-03-23 14:44] mainakjas opened #1893 "apply_reject"
We should have an `apply_reject` method to `Epochs` that lets you apply peak-to-peak rejection post-hoc. This is useful if you want to apply `fix_stim_artifact` on epochs without preloading the data and then apply rejection.

cc @agramfort

[2015-03-23 14:46] brauner commented on #1892
Cheers, @teonlamont I'll try it now and report back.

[2015-03-23 14:46] dengemann commented on #1893
@mainakjas cf.

[code]

[2015-03-23 14:49] dengemann commented on #1893
I wrote this for myself to do exactly that.

[2015-03-23 14:49] mainakjas commented on #1893
sounds like you just saved me 2 hours of work ;)

[2015-03-23 14:49] dengemann commented on #1893
Also useful to first apply ICA and then the reject. ICA is less memory intense on epochs.

[2015-03-23 14:49] mainakjas commented on #1893
good thing I raised an issue first :)

[2015-03-23 14:50] dengemann commented on #1893
Feel free to make a joint PR and change the name accordingly

[2015-03-23 14:50] dengemann commented on #1893
you should always do this. I have more of these ....

[2015-03-23 15:01] mainakjas opened #1894 "why does flat require a dictionary?"
The documentation says:
[code]
So, what values does the dictionary take?

[2015-03-23 15:04] Eric89GXL commented on #1894
floats, like `reject` but it sets a lower limit instead of upper. PR welcome :)

[2015-03-23 15:45] teonlamont commented on #1892
@brauner I just noticed that it was a warning for MNE command line tools. That warning as well as the uneven sampling rate are no longer a problem with mne-python.

[2015-03-23 15:49] brauner commented on #1892
@teonlamont, ok. But I got a strange problem. I cannot find the function `mne_edf2fiff()`. I'm on `Ubuntu` with python-mne installed from the package manager. I updated it with `pip` and even changed to the `git` version with `pip`. Still no luck. Any hints?

[2015-03-23 15:49] teonlamont commented on #1892
in mne-python, it's `mne.io.read_raw_edf()`

[2015-03-23 15:54] brauner commented on #1892
d1a1_raw = mne.io.read_raw_edf('/home/ubuntu/E/d1a1.bdf')
    Extracting edf Parameters from /home/ubuntu/E/d1a1.bdf...
    Setting channel info structure...
    Creating Raw.info structure...
    Ready.

`d1a1.bdf` is `2.9gb` and is processed in under a second (`8gb RAM` on my system)... Expected speed or suspicious?

[2015-03-23 15:59] teonlamont commented on #1892
by default, we set `preload=False`. This loads all of the data header information but not the data themselves. if you would like to load the data, there are two options.

[code]

or
[code]

[2015-03-23 16:18] #1526 closed

[2015-03-23 17:00] brauner commented on #1892
Thanks, @teonlamont. How can I save

    raw = mne.io.read_raw_edf(..., preload=False)

to a `*.fiff` file. I'm having a hard time finding this in the manual.

[2015-03-23 17:35] teonlamont commented on #1892
no prob! to save to disk, you can use the method,
raw.save('filename-raw.fif'). this is typically the format that we use to
name files.

Unfortunately, the mne-manual doesn't have any of the python capabilities
listed.

-teon

On Mon, Mar 23, 2015 at 6:00 PM, Christian Brauner <notifications@github.com

[2015-03-23 18:07] teonlamont commented on #1892
if there are no other problems, I am going to close this issue.

[2015-03-23 18:07] #1892 closed

[2015-03-23 20:21] brauner commented on #1892
Cheers, @teonlamont but I cannot find a `raw.save('filename-raw.fif')` method. Is it called differently?

[2015-03-23 21:52] #1894 closed

[2015-03-24 01:01] mainakjas opened #1898 "tmin and tmax for iter_evoked?"
Currently, there is no way to crop the real-time epochs. I was thinking that adding a `tmin` and `tmax` parameter to `rt_epochs.iter_evoked()` would address the use case.

[2015-03-24 08:11] agramfort commented on #1898
can't you do

for ev in rt_epochs.iter_evoked():
   ev.crop(tmin, tmax)

?

[2015-03-24 09:00] jaeilepp commented on #1382
I'll take it.

[2015-03-24 10:04] mainakjas commented on #1898
woops, how did I miss that :) works like a charm, thanks!

[2015-03-24 10:04] #1898 closed

[2015-03-24 13:32] dengemann commented on #1893
@teonlamont why close, where's the PR?

[2015-03-24 13:37] teonlamont commented on #1893
oh, i thought that this was addressed. we thought that this was already in
the repo...

-teon

On Tue, Mar 24, 2015 at 2:32 PM, Denis A. Engemann <notifications@github.com

[2015-03-24 13:59] dengemann commented on #1893
@teonlamont no someone has to take my code and make a PR :)

[2015-03-24 17:25] dengemann opened #1902 "FIX: whitening issue when combining runs"
Apparently there is an issue with whitening and cov computation if multiple SSSed runs are considered in which the numbe of components dffer. Let's say over 10 runs we have a component range of 67-71 and then compute the covariance on epochs that include data from all these runs. The covariance spectrum would indicate a rank of 91, irrespective of the method used (e.g. empirical), but clearly the

[2015-03-24 17:49] cmoutard opened #1903 "function _time_gen_one_fold() in mne.decoding.time_gen.py"
There is an auxiliaire function _time_gen_one_fold() in mne.decoding.time_gen.py (line 890) which seems to be only used by the deprecated functions.
I may be wrong, but maybe it should be added to the deprecated part of the code ?
Not of tremendous importance but I prefer to mention it.

[2015-03-24 17:53] agramfort commented on #1903
don't need to deprecate private functions

On Tue, Mar 24, 2015 at 6:49 PM, cmoutard <notifications@github.com> wrote:

[2015-03-24 17:57] cmoutard commented on #1903
Ok, good to know, thanks

[2015-03-24 17:58] #1903 closed

[2015-03-24 19:21] #1055 closed

[2015-03-24 20:19] Eric89GXL commented on #1902
I take it the runs were not translated into the same head position?

[2015-03-24 20:22] agramfort commented on #1902
indeed the intuition is that the head position is different for each run so
the SSS signal subspace is sightly different and artificially increases the
numerical rank of the data.

not sure what to do in this case besides allowing to specify the rank
manually. Or fix head position...

[2015-03-24 20:23] dgwakeman commented on #1902
I assume the noise is so bad that SSS is necessary (personally, I avoid it and try to stick with SSPs as much as possible).

[2015-03-24 20:25] kingjr commented on #1902
@Eric89GXL @agramfort @dengemann
This seems plausible indeed: I get an issue as soon as I concatenate two runs, even if I estimate the covariance on the trials of the first run (although estimating the covariance on the first run alone is ok). I'll check it out. Thanks!

[2015-03-24 20:43] kingjr commented on #1902
Yep, head positions were not translated to a common head position... I just need to find a maxfilter licence now...

Thanks again!

[2015-03-25 15:35] cle1109 commented on #1847
I get similar warning messages when I `import mne`:

    /usr/local/Cellar/python3/3.4.3/Frameworks/Python.framework/Versions/3.4/lib/python3.4/importlib/_bootstrap.py:321: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility
      return f(*args, **kwds)
    /usr/local/Cellar/python3/3.4.3/Frameworks/Python.framework/Versions/3.4/lib/python3.4/importlib/_bootstrap.py:321:

[2015-03-25 22:48] agramfort commented on #1847
how was the pb solved with scipy+sklearn?