[2018-08-21 07:04] agramfort commented on #5457
great summary.

I think you can start with 1 starting from current master. Then add to it
the interactive volume viz
when merged.

[2018-08-21 07:58] genisprat commented on #5375
Platform:      Linux-4.15.0-30-generic-x86_64-with-debian-stretch-sid
Python:        3.6.6 |Anaconda, Inc.| (default, Jun 28 2018, 17:14:51)  [GCC 7.2.0]
Executable:    /home/gprat/anaconda2/envs/mne/bin/python
CPU:           x86_64: 4 cores
Memory:        3.8 GB

mne:           0.17.dev0
numpy:         1.14.5 {blas=mkl_rt, lapack=mkl_rt}
scipy:         1.1.0
matplotlib:    2.2.2 {backend=agg}

sk

[2018-08-21 11:11] massich commented on #5455
This is the same behavior as Annotations. So we should integrate them together

[2018-08-21 11:30] cbrnr commented on #5455
Let me know how I can help.

[2018-08-21 17:52] mmagnuski commented on #5370
Just BTW - I get this AttributeError with mne env on Windows when saving figures (but the figure is saved and looks ok).

[2018-08-21 18:08] larsoner commented on #5375
@genisprat are you using saftware rendering, then? If so, can you try using `llvmpipe` rather than `swr` (assuming that's what you're running)? You can check with `glxinfo | grep renderer`

[2018-08-21 20:36] #5390 closed

[2018-08-21 22:10] jhouck opened #5463 "mlab rendering issue"
I have a stock version of mne-python 0.16.2 recently installed via the updated environment.yml.  In the mne environment the gui will open but no images render -- e.g. `mne coreg` gives me the coreg window with an empty frame where the 3D display should be.  Coregistration seems to be doing something when I push buttons, and I can set options etc., but no visualization appears on-screen.  The conso

[2018-08-21 22:52] larsoner commented on #5463
Your OpenGL version is too old. Can you try what @nugenta suggested in https://github.com/mne-tools/mne-python/issues/5390#issuecomment-411817218 ?

[2018-08-21 23:43] jhouck commented on #5463
Well, that worked.  Thanks!  Anything that keeps the old hardware usable is much appreciated.

[2018-08-21 23:48] larsoner commented on #5463
Glad it worked -- please also check that these instructions (in `master` a couple of hours ago) would have helped

https://github.com/mne-tools/mne-python/pull/5454/files#diff-d309036842deb71073e3debe10ab497fR153

[2018-08-21 23:48] #5463 closed

[2018-08-22 14:01] wmvanvliet commented on #5362
It seems like a no-brainer to me to replace this ugly hardcoded regularization in the current beamformer implementation:

    Wk[:] = np.dot(linalg.pinv(Ck, 0.1), Wk)

with your approach @britta-wstnr.

[2018-08-23 09:47] agramfort commented on #5362
if it's thoroughly tested no objection but we should avoid silently
changing people's results...

[2018-08-24 01:28] teonbrooks commented on #4127
closing since we now know have [mne-bids](https://github.com/mne-tools/mne-bids), which will be handling making files BIDS-compatible. inspired [here](https://github.com/mne-tools/mne-python/pull/4128#issuecomment-296484714)

[2018-08-24 01:28] #4127 closed

[2018-08-24 02:40] teonbrooks commented on #2047
closing. just thought of an easy fix to my complaint using https://github.com/mne-tools/mne-python/issues/2047#issuecomment-102028134 above:

from mne.report import Report

[code]

[2018-08-24 02:40] #2047 closed

[2018-08-24 02:42] teonbrooks commented on #2811
@jasmainak maybe you'll like to add this in your free time ;) i'm closing my outstanding issues and what better way to do it than delegation 🙃

[2018-08-24 05:25] jasmainak commented on #2811
lol thanks, now I'll just have to find a moment when I'm bored ...

[2018-08-24 12:30] nbara commented on #1819
FWIW I'm also experimenting this on macOS 10.12 (I do not see a red trace)

However it works again when I do this:

[code]

[2018-08-24 17:20] EstiBlancoElorrieta opened #5469 "Adding KIT-160 system"
Hi,

I am trying to import MEG data from a 160 channel KIT system, but it seems like currently only 157 and 208 channel KIT systems are supported (https://martinos.org/mne/dev/manual/io.html).

Can someone help me with this? @teonbrooks @christianbrodbeck. I am attaching the sensor locations.
[AdultMEG-channel.txt](https://github.com/mne-tools/mne-python/files/2319261/AdultMEG-channel.txt)

Thanks

[2018-08-24 17:44] teonbrooks commented on #5469
hi @EstiBlancoElorrieta. do you have a small sample of the sqd file for this system. we should be able to read the file directly to extract channel information and we can use this list to check against it to make sure it's being done properly. then we could modify the code to support this 160 KIT system

[2018-08-25 20:11] larsoner opened #5471 "ENH: (Optionally) modify the head shown in `plot_topomap` for MEG data"
Currently `plot_topomap` always shows a head centered in the MEG layout, i.e., head centered relative to the sensor positions that have been 3d-to-2d projected device coordinate frame.

We should be able to improve the accuracy of this by translating + "rotating" this head by, according to the information in `dev_head_t`:

- [x] Show x/y translation by moving the x/y location of the head (in #7066

[2018-08-25 20:15] larsoner commented on #5315
Reopening so I don't forget to add this since I closed the currently linked PR

[2018-08-25 21:04] larsoner commented on #3987
Superceded by #5472 and #5471

[2018-08-25 22:26] EstiBlancoElorrieta commented on #5469
Sounds good! Here's a link to a sample .sqd from this system (sorry, I couldn't upload it to github):

https://drive.google.com/file/d/0B4do8y7JvWOAZC01VUFzSlgtaTBvVDRkZWlkbi1ZaUVXcVZr/view?usp=sharing

[2018-08-27 04:47] larsoner commented on #5469
This already works on latest `master`:
[code]
Can you give it a shot?

It was probably fixed by #5310 / #5314

[2018-08-27 04:47] #5469 closed

[2018-08-27 20:17] teonbrooks commented on #5469
@EstiBlancoElorrieta is this file supposed to only have 160 channels?

[2018-08-28 13:07] larsoner opened #5474 "ENH: Return residual in `apply_inverse`"
Most solvers give you the residual so you can check the data fit quality. We should also provide this for minimum norm solvers. For backward compat we probably need a `return_residual` parameter.

In theory we could also compute the goodness-of-fit by looking at the variance explained in the whitened data. This could at least be in a `logger.info`.

[2018-08-28 13:54] agramfort commented on #5474
+100

[2018-08-28 14:49] dnacombo opened #5476 "report won't add plot_alignment figure"
Running the code below should open a plot_alignment figure, add it to a report, save the report and close.
It only works line by line (in spyder, F9 runs current line of the editor), but not when running the whole file, be it with "play" button at the top of my editor (spyder again), or with `python test.py` in a linux terminal.

[code]

#### Actual results
in a terminal, outside of spyder:
[code]

[2018-08-28 16:41] larsoner commented on #5476
Sometimes Spyder does not get along so well with Mayavi when re-running scripts. Do you get this error even if you close the terminal, then run with IT (which should open a fresh terminal)?

[2018-08-29 06:22] zachs321 opened #5479 "PySurfer and Twisted installation issues"
When following your installation instructions I get the following error:

[code]
I installed PyHamcrest and mayavi using:
[code]
Yet, I still get the same error and don't know why that doesn't fix the problem.
Would should I do?

[2018-08-29 10:49] olavblj opened #5480 "Raw.plot_sensors placing the sensors in the wrong positions"
#### Describe the bug
When using `plot_sensor` on a small set of sensors, the plot is wrong. It however works when plotting with all the sensors.

#### Steps and/or code to reproduce

[code]

#### Expected results
I expected a plot of the correct sensor positions.

#### Actual results
This plot, which is clearly wrong.

![figure_1](https://user-images.githubusercontent.com/10499451/44783025-5d5c4f

[2018-08-29 10:59] agramfort commented on #5479
I can read that PySurfer and mayavi were successfully installed

Successfully installed PySurfer-0.8.0 apptools-4.4.0 codespell-1.13.0
configobj-5.0.6 envisage-4.7.0 mayavi-4.6.1 ...

did you try to run these libraries after the installation?

[2018-08-29 12:06] olavblj commented on #5480
That's cool, thanks for the quick reply! Do you have any idea when it will be merged in though?

[2018-08-29 12:39] larsoner commented on #5480
Hopefully in a couple of weeks. Need to finish the work and make sure it does not break anything

[2018-08-29 16:26] zachs321 commented on #5479
Yah I ran
`source activate mne`
to activate the environment. Then I opened the anaconda python prompt and ran
`>>> import mne`
and get
`ImportError: No module named mne`

[2018-08-29 19:14] agramfort commented on #5479
can you delete the mne env, do it again and paste the full trace back with
the command you typed?

[2018-08-29 20:15] #5439 closed

[2018-08-29 21:57] #5474 closed

[2018-08-29 23:34] zachs321 commented on #5479
Ok, I just edited the first comment and pasted everything.

[2018-08-30 02:49] JD-Zhu commented on #5469
Hi @teonbrooks and @larsoner

The sample recording Esti uploaded above has 256 channels (160-channel gradiometers + 96-channel extra analog inputs).

I can read in .con files recorded from this system and do the preprocessing steps without a problem, but I get a "Not Implemented" error when using the plot_joint command (please see code and screenshot below):
[code]
![mne_error](https://user-images

[2018-08-30 08:26] dnacombo commented on #5476
Don't know what IT stands for here.
Running the script completely outside of spyder in a terminal returns what is shown in the second code block above (segmentation fault).

[2018-08-30 14:41] teonbrooks commented on #5469
@larsoner is there a way to compute a layout on the fly?

[2018-08-30 14:46] larsoner commented on #5469
Yes but it's best if we use whatever method was used for creating the other layouts. We actually already have a KIT-160.lay, it might be worth first looking to see if that one is correct for this site as well

[2018-08-30 14:58] larsoner commented on #5469
Actually this layout was added in #5314 so it probably is the correct one.

@JD-Zhu are you on latest master? It should work there.

[2018-08-30 16:39] agramfort commented on #5479
It seems to install mayavi but then pysurfer tries to import it and it fails so it tells you that mayavi is missing. Can you try to "import mayavi" and see if you get errors from this environment?

[2018-08-30 21:00] mirgee opened #5483 "RawArray.plot() plot is blank"
I am trying to simply plot a `RawArray`. Am I doing something wrong with the following code, or is it a bug? If it's the later, please, let me know which information could help someone fixing it.

[code]

The output looks like this:
![image](https://user-images.githubusercontent.com/11699479/44878926-79a2dd80-aca8-11e8-90cb-149c41104419.png)

Seemingly, `data` is correctly initialized instance of

[2018-08-30 21:51] TomDonoghue opened #5484 "Add a list of 'related projects' to the documentation"
In discussion with @agramfort (and related to discussions with @jasmainak ) - we're thinking of adding a page somewhere in the documentation for 'related projects', or that would list projects that can be used as 'plugins' / 'extensions'.

Examples of things that could be listed like this - 'plug-in' style tools like [autoreject](https://github.com/autoreject/autoreject), and perhaps related tools

[2018-08-30 21:53] agramfort commented on #5484
I would add a section at the bottom of
http://martinos.org/mne/stable/documentation.html

also add pactools

[2018-08-30 21:54] agramfort commented on #5483
you need to pass data in V if you say it's EEG

so it should be in the range of uV to see something

[2018-08-31 01:10] JD-Zhu commented on #5469
Thanks so much @teonbrooks @larsoner ! It's all working for me now.

I was using the latest stable release rather than the development master (sorry I didn't know the difference as I am new to python and mne). I've updated to latest master now and everything is working.

Thanks again for your help!

[2018-08-31 03:42] jasmainak commented on #5484
I agree with the sentiment. I would also add `mne-hcp` and `mne-bids`. They are clear candidates for such a page.

[2018-08-31 05:13] zachs321 commented on #5479
This is what I get:
[code]

[2018-08-31 10:05] agramfort commented on #5479
you seem to have a mix of anaconda and canopy on your system.
this can explain the issues you have.

I would make sure Canopy and anaconda don't interact badly and
eventually reinstall them from scratch after properly removing them.

[2018-08-31 11:13] mmagnuski commented on #5483
The black screen you see is your signal that is incorrectly scaled so it covers every possible pixel :).
You can try `data.plot(block=True, lowpass=40, scalings='auto')`.

[2018-08-31 13:10] hekolk opened #5485 "Interest in filtering for RtEpochs"
For online experiments, I added causal filtering to ``RtEpochs`` (using ``lfilter`` in ``_process_raw_buffer``), which circumvents the need for filtering on the segmented data (and needing longer epochs or risking edge artifacts).

Is there interest to include this in MNE? Then I would tidy up the code and create a PR.
Current limitation of my code is that filter delay is not compensated/events ar

[2018-08-31 13:40] larsoner commented on #5485
There is already epochs.filter with a phase argument for this

[2018-08-31 14:36] agramfort commented on #5485
sure I think it's a very useful and common feature

+1

[2018-08-31 14:49] mirgee commented on #5483
@mmagnuski Thank you, this helped! Closing.

[2018-08-31 14:49] #5483 closed

[2018-08-31 15:10] teonbrooks commented on #5469
awesome! glad to hear that it's working for you @JD-Zhu and @EstiBlancoElorrieta :)

[2018-08-31 23:08] XBTinChina commented on #4634
I am really new to python, so how do I set allow_unknown_format=True when using kit2fiff. many thanks.

[2018-09-01 08:14] agramfort commented on #4634
?

[2018-09-01 19:56] larsoner commented on #5457
I added a point that these plotters can be extended to work with volume data using the ribbon definition, hopefully easy to copy paste over from my closed glass brain PR

[2018-09-01 19:56] larsoner commented on #5457
Argh I mean with surface data

[2018-09-01 20:31] XBTinChina commented on #4634
this works when I use mne.io.read_raw_kit. But, I would like to use mne.gui.kit2fiff and convert sqd files to fiff. The data was collected a while ago so the format of sqd is probably the old one.
I changed the default of allow_unknown_format in mne.io.kit to be True. Kit2fiff is working now for the old sqd files.
Hope this won't cause some problems later

[2018-09-01 21:02] christianbrodbeck commented on #4634
It should be pretty straight-forward to expose it as command line parameter, I will look into it.

[2018-09-02 21:41] Frooob opened #5487 "Splitting file after concatenation"
Hello,

since my professor asked me to first crop all of the recording that is not explicitly recorded during the task. I had to split it into two files to exclude the part of the recording in the break between the end of the first and beginning of the second part of the experiment, then concatenate the two parts to perform ICA Artifact Rejection.
Now i have to split the two parts again for furthe

[2018-09-03 06:14] terminator9487 commented on #689
Hi, I just got in touch with mne.decoding.csp Recently. the code i used is the same with demo (https://martinos.org/mne/stable/auto_examples/decoding/plot_decoding_csp_eeg.html） , and the data_t of Demo is a (45, 64, 161) matrix and the label_V of Demo is a (45,) matrix. Then, the demo works well.However, after applying this code to my data,which the data_t was changed to (1280, 32, 8064) matrix a

[2018-09-03 07:42] agramfort commented on #689
why do you have tensorflow code in an MNE example?

[2018-09-03 07:47] agramfort commented on #5487
what type of analysis do you want to do?

[2018-09-03 08:31] Frooob commented on #5487
I want to perform the ICA on raw data(at least I'm supposed to), exclude artifact components, then epoch it and examine averaged Erps(p300). This by a repeated measures Ancova.

[2018-09-03 08:44] agramfort commented on #5487
why do you need to split the data?
note that you can also run ICA on epochs

[2018-09-03 11:39] agramfort commented on #5487
I would edit the events using numpy operations to make sure they don't
overlap and compute epochs

it's simpler.

[2018-09-04 14:07] larsoner commented on #5476
Sorry "IT" was an autocorrect typo. I meant F5 :)

Also Spyder has a backend option for MPL -- you could try setting this to `PyQt5` and it might work better.

I'm not sure why you would get a seg fault when running. Can you try enabling faulthandler in your script with:
[code]

[2018-09-04 14:42] dnacombo commented on #5476
with faulthandler enabled:

[code]
Also changing graphics backend of spyder's ipython console to PyQt5 does not solve the issue.

[2018-09-04 14:51] larsoner commented on #5476
Argh. This seems like a VTK bug :( Some ideas for how to proceed (sorry for the hassle but debugging these things is a pain):

1. Just for completeness, what are the outputs of:
[code]
2. To try to make a minimal example to open for Mayavi, does this also error/work/segfault for Spyder-F5/Spyder-line-by-line/console, respectively:
[code]
3. Can you try adding `import matplotlib.pyplot as plt; asse

[2018-09-04 15:33] dnacombo commented on #5476
1.
[code]
2.
the 3 lines run fine line by line in spyder. (notice warning about Qt4)

[code]
with F5 too (no output)
from the terminal (faulthandler enabled):
[code]
3. adding import matplotlib.pyplot as plt; assert plt.get_backend() == 'Qt5Agg' in this test script
[code]

in my script

[code]

[2018-09-04 15:50] larsoner commented on #5476
Okay one more idea. From Spyder and terminal, do:
[code]
To tell us where vtk is being imported. Then finally:
[code]
To get your environment. If two vtk libraries are listed, do:
[code]
Then see if anything works better. We might as well test the minimal example code with test_plot3d because it's simplest.

[2018-09-04 16:04] dnacombo commented on #5476
in spyder:
[code]
indeed two vtk listed in conda list
[code]
Then I get the following:
[code]
however, cython is installed
[code]

[2018-09-04 16:19] larsoner commented on #5476
If you got that message at the pip install step, you must have skipped the conda uninstall (maybe remove) and/or pip uninstall steps because these should ensure that vtk is no longer installed

[2018-09-04 16:36] dnacombo commented on #5476
my bad.
Now reinstalled.
Running my test with F5:

[code]
From the terminal:
[code]

[2018-09-04 18:45] larsoner commented on #5476
You get these same errors with the minimal example I had above, right? Let's call that 3-line script `minimal_example_fail.py`.

If so, the next steps might be to create a clean env with:
[code]
If this dies, then we can open a Mayavi issue about it. If it does not fail, then we perhaps you can do some testing to figure out what package difference exists between the `mne` and `test` envs.

One oth

[2018-09-04 23:40] jhouck commented on #5370
By any chance was there a solution for this?  I get the same error in a freshly-installed mne env, both on my creaky centos 6 box and on an ubuntu 18.04 LTS VM.  The mlab figure itself looks fine, but `mlab.screenshot` give me an array of zeroes and `mlab.savefig` returns the AttributeError.  For me, at least, reinstalling mayavi has done nothing.   The error turns up consistently using the plot_d

[2018-09-05 09:44] dnacombo commented on #5476
minimal_example_fail.py:
[code]
[code]

After creating test environment, activating it, successfully installing vtk 8.1.1 and mayavi 4.6.2 (warning about cython not being installed, though it is)...

[code]

[2018-09-05 11:39] agramfort commented on #5476
open an issue on mayavi tracker with the necessary info to replicate.

cc @larsoner and myself on this.

[2018-09-05 14:16] agramfort opened #5488 "Add reader for Curry Files"
#### Describe the problem

Python still lacks a reader for Curry file.

Some of the testing files have been converted to Curry format by Michael Wagner
so they can be used for testing. I've put them here:

https://www.dropbox.com/sh/gre3rk71qq1swnh/AABqqh1XNj6WumTKVIUX61TMa?dl=0

Any contribution on this topic is welcome.

[2018-09-05 14:41] larsoner commented on #5370
Can you try installing / upgrading to latest `mayavi` master? Maybe there is some bug fixed there. But the fact that the figure itself looks fine but your screenshot looks bad does not bode well for Mayavi fixing the problem. One thing you could do is try using `offscreen` rendering mode if you are not trying to do interactive viz.

[2018-09-06 01:27] terminator9487 commented on #689
Thanks for your reply. the file name is called tf code. In fact, some of codes is not related with tf, just using sklearn.

[2018-09-06 12:20] niraknitsew opened #5490 "Fit two or more dipoles"
Hi!
I'd like to be able to fit two or more dipoles. I work with epileptic spikes, and sometimes patients have simultaneously occurring spikes with different sources. Fitting one dipole results in this dipole being centered in between the two epileptic sources - not so optimal I'm afraid. It would be best if one dipole could be fitted for each source of epileptic activity.

Best,
Karin

[2018-09-06 12:47] agramfort commented on #5490
how would you proceed? fit them sequentially by hand picking time
points? fitting multiple ones simultaneously is computationally more
challenging and for me brings you closer to sparse distributed inverse
methods.

[2018-09-06 13:34] ezemikulan opened #5491 "mne coreg save with scaled mri fails if fiducials haven't been saved"
Hi, when trying to save a -trans file from MNE coreg after scaling the MRI the dialog box doesn't open if the fiducials file has not been saved.

**Problem:**
I tried tracking the problem and I think it arises because the dialog box that asks if one wants to save the fiducials fails to open due to:

 _coreg_gui.py; line 926:_
"rc = confirm(None, msg, title, cancel=True, default=CANCEL,

[2018-09-06 15:18] SherazKhan opened #5492 "ENH: Refactor plot_topomap for arrowmaps"
I am wondering, how I can refactor plot_topomap for arrowmaps ?

![tempsnip](https://user-images.githubusercontent.com/2575276/45166897-06c4c580-b1c6-11e8-8cc7-84955e343aec.png)

These arrows maps aka Hosaka-Cohen transformation, are like sudo estimates for the underlying current sources, pretty much poor man's minimum-norm estimate.

[2018-09-06 17:39] corscheid commented on #5369
Thanks @larsoner for your efforts and replies. My colleague @deepagupta would be happy to reply here in the event of further questions or discussion regarding documentation or related MNE functions or structures we are using.

[2018-09-06 17:39] corscheid commented on #5383
Thanks everyone for your efforts and replies. My colleague @deepagupta would be happy to reply here in the event of further questions or discussion regarding documentation or related MNE functions or structures we are using.

[2018-09-06 17:54] corscheid opened #5493 "IndexError when importing raw CNT file"
#### Describe the bug
- Failure to import a particular Neuroscan .cnt file via `read_raw_cnt()` due to out of bounds indexing in `cnt.py` line 251
- About half of our .cnt files work, half do not due to this error.

#### Steps and/or code to reproduce
[code]

#### Expected results
- raw variable successfully populated with a RawCNT object upon reading the .cnt file
- no error message

#### Actual

[2018-09-06 19:20] agramfort commented on #5492
give it a try. You can have arrows with
https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.quiver.html

[2018-09-06 22:57] SherazKhan commented on #5492
It can work on any system, we can take virtual gradients of magnetometer or axial gradiometer data.

Currently, I am transforming ctf data to a virtual 283 gradiometer system.

[2018-09-07 07:55] agramfort commented on #5493
@corscheid can you share one file with us? ideally a super tiny one?

[2018-09-07 08:01] LeilaNS opened #5494 "RuntimeError: EEG 61 or EEG 62 channel not found !!"
Hi,
I am trying to do autoreject ICA, the raw file dosen't hav EOG 61, 62. Although my raw files has EEG061 and EEG062, I got the this error " RuntimeError: EEG 61 or EEG 62 channel not found !!"

- [ ] in _get_eog_channel_index
- [ ]     raise RuntimeError('EEG 61 or EEG 62 channel not found !!')
- [ ]
- [ ] RuntimeError: EEG 61 or EEG 62 channel not found !!
- [ ]
- [ ]

- [ ] In [6]: raw.ch_nam

[2018-09-07 08:34] LeilaNS commented on #5494
picks_eog = np.concatenate([picks, mne.pick_types(raw.info, meg=False,

eeg=False, ecg=False,

eog=True)])

# Create eog-based epochs

eog_epochs = create_eog_epochs(raw, reject=reject, picks=picks_eog,

baseline = (None, 0), tmin=-0.1, tmax=0.2)

eog_average = eog_epochs.average()

# Find eog artifacts based on correlation between ICA and EOG061/EOG062

eog_inds, scores = ica.find_bads_eog(eog_ep

[2018-09-07 08:58] agramfort commented on #5494
@LeilaNS can you check that you do have channels marked as EOG channels?

also you can specify `ch_name` parameter in the `find_bads_eog` method.

So for your data something like:

`eog_inds, scores = ica.find_bads_eog(eog_epochs, ch_name='EOG061')`

should work.

[2018-09-07 09:06] LeilaNS commented on #5494
I don't have any channels marked as EOG.

In [45]: eog_inds, scores = ica.find_bads_eog(eog_epochs,ch_name='EEG061')

in _get_eog_channel_index

raise ValueError('%s not in channel list' % ch_name)

ValueError: ['EEG061'] not in channel list

In [46]: raw.ch_names[368]

Out[46]: u'EEG061'

2018-09-07 10:58 GMT+02:00 Alexandre Gramfort <notifications@github.com>:

[2018-09-07 09:08] agramfort commented on #5494
do you have a channel called EOG061 ?

find_bads_eog detects bad components by seeing how much they are time
locked with the EOG channel. You must tell him what channel to use for
EOG.

[2018-09-07 09:14] LeilaNS commented on #5494
No I don't

2018-09-07 11:09 GMT+02:00 Alexandre Gramfort <notifications@github.com>:

[2018-09-07 09:16] agramfort commented on #5494
you can try by passing a frontal channel. Maybe it's good enough

[2018-09-07 09:19] LeilaNS commented on #5494
I recorded the MEG data by EOG electrodes but they marked as 'EEG061' and
'EEG062' so I would like to use EEG061as EOG061.
How can I change the ch_names?
Thanks

2018-09-07 11:16 GMT+02:00 Alexandre Gramfort <notifications@github.com>:

[2018-09-07 09:31] agramfort commented on #5494
https://martinos.org/mne/dev/generated/mne.io.Raw.html#mne.io.Raw.rename_channels

[2018-09-07 10:29] LeilaNS commented on #5494
I do:
raw.rename_channels(mapping={'EEG061': u'EOG061'})
raw.rename_channels(mapping={'EEG062': u'EOG062'})

picks_eog = np.concatenate([picks, mne.pick_types(raw.info, meg=False,
eeg=False, ecg=False, eog=True)])

eog_epochs = create_eog_epochs(raw, reject=reject, picks=picks_eog,
baseline = (None, 0), tmin=-0.1, tmax=0.2)

And still the same error :
No EOG channels found
Trying with EEG 061 and

[2018-09-07 11:14] ilogue opened #5495 "Concatenating many epoch objects (~60) leads to overflow warning and subsequent errors"
#### Describe the bug
I've tried concatenating about 60 epochs objects (each from a separate run) and get an overflow warning, after which the epochs are dropped leading to an error when the resulting `BaseEpochs` object is constructed. See stdout below.

I suspect that this is due to the offset that is  added to each extra set of epoch events, after which the new values + offset are added to the

[2018-09-07 15:45] agramfort commented on #5494
changing the channel names does not change the channel types. You need to
use:

https://martinos.org/mne/dev/generated/mne.io.Raw.html#mne.io.Raw.set_channel_types

[2018-09-07 16:53] jhouck commented on #5370
Yes, this was in mayavi 4.7.0.dev0, although 4.6.1 did the same thing.  After reinstalling, things work in the VM using offscreen rendering.  The centos box has some ongoing issues.  I'd used miniconda for both to save disk space, so might try again on centos with anaconda, on the outside chance that there might be some hardware-specific missing dependency.

[2018-09-07 17:46] corscheid commented on #5493
Hi @agramfort, Thanks for the reply.

My colleague @deepagupta has more authority than I concerning our experiment data; she will be by shortly to respond.

[2018-09-07 18:09] deepagupta commented on #5493
Dear @agramfort, Thank you for your response.

Unfortunately, we deeply regret that we can't share our CNT data file because we are trying to process it for research and may eventually publish from that. So, sharing won't be ethically right or in agreement with our collaborators.

However, we want to try our best to provide any other information if we can. For example, my teammate Corey posted the

[2018-09-07 18:47] niraknitsew commented on #5490
I'll try and use only a part of the sensors (here one hemisphere at the time), make a new forward model with only these ones and fit one dipole for each hemisphere.

[2018-09-07 19:49] niraknitsew commented on #5490
I'll try to hand pick time points, but I'm not sure it will work since none one of the two foci are completely silent at any point (when there is activity in the contralateral one).

I got the advice to model only a subset of sensors (here eg one hemisphere at the time) but that doesn't seem to be possible?

Thanks for all the help

[2018-09-07 20:01] larsoner commented on #5490
You can use `evoked_left = evoked.copy().pick_channels(left_hemi_channels)` once you make a list of the `left_hemi_channels` you want to use to subselect channels, then fit

[2018-09-07 21:49] jhouck commented on #5370
Ananconda (vs. miniconda) seems to have done the trick.  Things now work with offscreen rendering on the creaky old centos box.

[2018-09-07 22:36] larsoner commented on #5491
`rc = confirm(self.info.ui.control, msg, title, cancel=True, default=CANCEL)` sounds like the better choice.

[2018-09-08 09:53] agramfort commented on #5493
@deepagupta we cannot debug without access to a test file. You can share one file privately with one of us. @larsoner @massich or myself.

if you find the fix it's even better. Then please send us a pull request

[2018-09-08 11:35] #5495 closed

[2018-09-09 08:48] sappelhoff opened #5499 "[BUG] meas_date: list, int, tuple?"
This is related to #5432 but reports a concrete bug that needs to be solved regardless on how the overarching discussion in #5432 goes.

Concretely, the fact that meas_date can have an unexpected format is problematic for automatically extracting that information.

meas_date should be a list of two integers:

[code]

I found two issues / bugs:

1. `DATE_NONE` is a tuple, not a list:

https://githu

[2018-09-09 18:08] sappelhoff commented on #5499
Why would you choose tuple @larsoner? Most of the codebase and documentation seems to handle meas_date as a list.

As a first easy step I would propose changing

https://github.com/mne-tools/mne-python/blob/613df87f097323175784f3a7fdc32bbad0e604ac/mne/io/write.py#L25

to a list instead of a tuple.

[2018-09-09 18:27] niraknitsew commented on #5490
I tried to fit only a subset of sensors but the dipole doesn't change location - even if the dipole is fitted to a region quit far from the selected sensors.

[2018-09-09 18:35] larsoner commented on #5499
Because tuple is immutable and this is not something meant to be manually changed by a user

[2018-09-09 19:15] larsoner commented on #5499
See #5500

[2018-09-09 19:42] agramfort commented on #5490
how does the topography look like?

[2018-09-10 08:12] niraknitsew commented on #5490
Here's one example. The dipole, even though I've fitted only one hemisphere, ends up in the contralateral hemisphere.

![sp6_topo](https://user-images.githubusercontent.com/35346888/45284854-d2147f00-b4e1-11e8-9f7f-8f1eae48b065.png)

[2018-09-10 08:16] agramfort commented on #5490
you should get a clear dipole around the left inferior frontal cortex with
such a topo.

can you show what you get with plot_alignment ? see
https://martinos.org/mne/dev/auto_tutorials/plot_source_alignment.html#sphx-glr-auto-tutorials-plot-source-alignment-py

[2018-09-10 09:14] niraknitsew commented on #5490
![plot_align](https://user-images.githubusercontent.com/35346888/45288283-99c56e80-b4ea-11e8-8e66-c5837c0bec05.png)

(I've used single layer BEM, hence the brain)

[2018-09-10 09:56] #5499 closed

[2018-09-10 12:48] wmvanvliet opened #5501 "Feature request: incremental updates to an `mne.Report`"
This is something that came up when writing the huge analysis pipeline for the [conpy](https://github.com/wmvanvliet/conpy) project:

**I think the `Report` object of MNE-Python could be made even more useful if we could write incremental updates to it.**

As the analysis progresses, more and more figures are incrementally added to the report. Every time the report is saved, the `.html` file is up

[2018-09-10 12:52] agramfort commented on #5501
can we already pickle a report object? if so it should quite easy to
implement

[2018-09-10 13:07] wmvanvliet commented on #5501
yes we can! I can quickly create a PR with the bulk of the desired functionality if there seems to be interest in this feature.

[2018-09-10 13:15] agramfort commented on #5501
I don't think it's much code and I can understand the practical value. So
let's try I would say

[2018-09-10 13:16] agramfort commented on #5490
looks great. Did you try using only a selection of left side sensors?

[2018-09-10 13:43] larsoner commented on #5501
From what I understand pickling is a bad way to get long-term persistence. I'd rather use `hdf5`, in theory it shouldn't add too many lines beyond what the `pickle` does.

[2018-09-10 14:40] larsoner commented on #5501
Thinking even smaller scale, `pickle` seems like an unreliable way to transfer data across Python instances. Say for some reason (mayavi!) a user ran one script in Python 3 env to do preproc, then later a different one in Python 2 to viz source estimates, a `pickle` pipeline very likely will fail. These sorts of corner cases should be pretty easily avoided via `h5io` storage. It's more standard fo

[2018-09-10 14:51] sappelhoff opened #5503 "[BUG] Issue with EEGLAB filenames"
When reading a raw file into an [`mne.io.Raw`](https://martinos.org/mne/stable/generated/mne.io.Raw.html) object, we usually get an attribute "filenames", which points to the datafile.

For formats that have just a single file, such as `.cnt`, the `.filenames` attribute will be a tuple pointing to that single file:
[code]

For formats that have multiple files, such as BrainVision, `.filenames` wil

[2018-09-10 14:58] larsoner commented on #5503
We have not been strict about this, but the idea roughly is that doing `raw = read_raw_*` will have `raw.filenames` give the name of *one* file or directory that contains the data. For example in CTF you load a directory with many files, but `filenames` contains the `res4` data filename:
[code]
Then when you concat:
[code]
So for `EEGLAB` it should probably not be `None` but rather the `.set` file

[2018-09-10 16:33] wmvanvliet commented on #5501
`Report.to_hdf5`?

[2018-09-10 16:39] larsoner commented on #5501
`.to_*` makes it sound like it returns an object. We usually use `write_` or `save` for things that write to disk, and for methods it's always `save` of some sort -- so perhaps `save_hdf5`?

[2018-09-10 18:03] jasmainak commented on #5501
Since the saved report is an html, wouldn't it be possible to just read it and grep for the `<div>` elements, populate the `self.html` list that's internal to the `Report` object? It's probably more work than the `save_hdf5` option though ...

[2018-09-10 18:36] Catsine commented on #2476
Hi @agramfort, I am afraid my knowledge of programming is not so advanced, but I will try to read and understand. Thanks a lot!

[2018-09-10 20:06] #5503 closed

[2018-09-11 06:34] wmvanvliet commented on #5501
that's a good idea!

[2018-09-11 09:14] transpersonify commented on #4480
Is there any update on this issue?
I am looking for a python version of CSD to apply on my EEG data (I have channel x time data matrix and 2D location matrix, independent of mne layout). I found implementation suitable for LFP but not for EEG.  Can anyone help?

[2018-09-11 09:59] larsoner commented on #4480
It still has not been implemented AFAIK

[2018-09-11 13:19] bdyetton commented on #4489
@agramfort @sbang002  was an intern working in our lab. The code posted here worked for us. Please feel free to close this issue and apologies for leaving it open so long.

[2018-09-11 13:26] bdyetton opened #5507 "Event markers per channel"
#### Describe the problem
Events and annotations can only be specified for all channels.

#### Describe your solution
A way to assign an event to a specific channel, along with plotting and analysis routines that handle that would be extremely helpful for removing specific segments of specific bad channels, or for any decoding/classification of channel-wise EEG features. Maybe an extra column in t

[2018-09-11 13:43] Catsine commented on #2476
Hello again @agramfort,...I am sure this is a silly question, but once I import my data on python and I run the function used also by @anaevf, I get the message that the np.array has not attribute trial (or either time, label, etc). Is there a library I forgot to import or is it a property of the fieldtrip dataset? I have received the data in a mat format, without doing the pre-processing myself,

[2018-09-11 14:14] agramfort commented on #4494
we have code for this and we need to clean it up. It's part of the
Annotations refactoring plan by @massich

we extensively used this code in this work:
https://ieeexplore.ieee.org/document/8307462/

if you can share the files you want to read more efficiently we could use
them as test cases.

[2018-09-11 14:15] agramfort commented on #4489
do we have the problematic files? is it still broken?

cc @Slasnista

[2018-09-11 15:57] subhuti2 opened #5508 "mne coreg fails"
[test.elp.txt](https://github.com/mne-tools/mne-python/files/2371726/test.elp.txt)

Dear mne_analysers,

first thank you for the great software. I am using the python version (0.16.2@mac os, with python3, anaconda3) of mne, everything was installed according to MNE instruction. I have some problems with the coregistration (command mne coreg). I started with a template mri and Neuroscan EEG 3dd fil

[2018-09-11 16:55] massich commented on #4494
@bdyetton I don't think is a low priority fix. It is actually on the top of my list. I'll be happy to help. And if you can share some data and we make an example out of it, it would be awesome.

+ we will need code reviews when we tackle it.

[2018-09-11 17:15] massich commented on #5493
If you can came up with a simulated MWE that has `np.empty(mydata.shape)` as data inside, that would be even better!

[2018-09-11 18:42] agramfort commented on #5507
@bdyetton this feature has been requested in the past by Boris Burle in Marseille. He had goor arguments. I think it's doable in the near future with the Annotations object. Can I ask what is your use case?

[2018-09-11 19:35] agramfort commented on #5508
@subhuti2 to know if it's pb of data or system install can you confirm that it fails also with MNE sample dataset on your machine?

[2018-09-11 19:50] agramfort commented on #2476
I don't know. Maybe if you share the file one of our fieldtrip expert can
have a look

[2018-09-11 20:15] larsoner commented on #5207
I can't think of anything offhand, we can open new issues as people experience them (or @tbardouille if you still have problems let us know and we can reopen)

[2018-09-12 00:42] bloyl opened #5510 "Difficulties localizing resting power"
I was trying to replicate the brainstrom tutorials (https://neuroimage.usc.edu/brainstorm/Tutorials/RestingOmega) which localizes a alpha, beta power etc and was unable to do it using `compute_source_psd`. I'm not sure if i did something wrong or if there is a bug in `compute_source_psd` somewhere?

i put together an example using the bst_resting dataset. Because the bst_resting dataset supplied b

[2018-09-12 00:46] larsoner commented on #5510
@dengemann IIRC you worked with this data a bit, can you comment?

[2018-09-12 00:46] larsoner commented on #5510
Also maybe @SherazKhan ?

[2018-09-12 07:28] subhuti2 commented on #5508
Thanks @agramfort , if I load the sample meg dataset (sample_audvis_raw.fif), it seems fine. Then it seems more likely to be a data issue. I think as the 3-column txt file is quite clear, probably the read and/or write function was not as expected. After read in (montage name 'cht'), if I type the name in python, I got the following.
<DigMontage | 0 extras (headshape), 129 HPIs, 3 fiducials, 0 cha

[2018-09-12 08:05] Catsine commented on #2476
Thanks @agramfort, but I managed to solve the issue. The file had been pre-processed in EEGLAB and after adapting vborghe's script I could extract the information needed. Thanks

[2018-09-12 08:17] bdyetton commented on #4494
Great, I'll gather up a few edf+ and edf++ files for you.

[2018-09-12 08:28] bdyetton commented on #5507
We are interested in sleep features such as spindles, k-complexes, and slow oscillations. These short (~0.5-2s) generally occur in each channel independently (although sometimes they appear in many at the same time).

It would be great to:
a) Mark these events, by hand, in the plotting tool (much like you can highlight segments currently)
b) Be able to add the output of sleep feature detection alg

[2018-09-12 08:41] niraknitsew commented on #5490
This an example of a topo-plot + dipole fit of sensors only from the right hemisphere
![fig](https://user-images.githubusercontent.com/35346888/45412989-54cf4280-b678-11e8-99ee-cc03a520c1af.png)

[2018-09-12 08:55] agramfort commented on #5490
that's really weird ...

[2018-09-12 09:56] niraknitsew commented on #5490
My personal guess is this:
Almost all of this patient's spikes move about (more or less). This ought to result in a number of sources, thus violating the assumption that the activity can be modeled by only one dipole?
 I tried to pick dipoles time point by time point and it works for some spikes but not for all. However maybe this time restriction results in a dipole corresponding to a local minim

[2018-09-12 10:41] LeilaNS commented on #5494
Problem fixed, thanks.

2018-09-07 17:45 GMT+02:00 Alexandre Gramfort <notifications@github.com>:

[2018-09-12 12:07] #5494 closed

[2018-09-12 13:05] bdyetton commented on #5507
O wow! I had this same idea and was tempted to try it out this year.
Glad it worked out! Will the code be made available after the conference? I'd love to try it out.

You might be interested in this: https://osf.io/8bma7/ if you want higher quality spindles for the MASS dataset.

[2018-09-12 13:06] dengemann commented on #5510
@bloyl I worked recently on an example that shows resting state source results for the brainstorm data. I did not open the pull request because the results did not make sense to me. It seemed that the data has a very weakly pronounced alpha and beta peak and localizing the data sort of wiped out the spatial effects. I could open the PR and we take it from there?

[2018-09-12 13:37] cbrnr opened #5512 "Make raw.annotations a property with setter decorator"
I don't know when this changed, but now there is a `set_annotations` method that needs to be called to set annotations. A more Pythonic way would be to make `raw.annotations` a property with associated setter using the `@property` and `@annotations.setter` decorators.

If people agree, I can create a PR with the changes.

[2018-09-12 13:51] cbrnr commented on #5512
I like properties exactly because of this feature. Especially if it is just a simple check if all values are within bounds, what would be so bad about getting an exception when setting `raw.annotations = my_annotations`?

[2018-09-12 13:55] bloyl commented on #5510
That sounds like a good idea.

I agree that the alpha and beta peaks aren't prominent, but the sensor topos look reasonable and brainstorm has no issues giving meaningful/sensible results.

[2018-09-12 15:26] agramfort commented on #5512
yes I asked for the set_annotations to be explicit that calling the method does something to the assign annotations. It's not just checking that it's valid. It's less magic as it is now.

[2018-09-12 15:26] #5512 closed

[2018-09-12 15:31] agramfort commented on #5507
cool ! I did not know about these data.

ping @slasnista

Yes we should make the code available at some point. We're about to send the journal paper.

[2018-09-12 15:32] agramfort commented on #5508
ok then we have a path to fix the issue. you should share a script that
replicates the issue
as we should see the pb too

[2018-09-12 15:33] agramfort commented on #5490
what you say makes sense. I cannot propose more

[2018-09-12 16:04] larsoner commented on #5490
Closing as this does not seem to require action at the MNE-Python end

[2018-09-12 16:04] #5490 closed

[2018-09-12 21:44] dengemann commented on #5510
@bloyl see #5514

[2018-09-13 00:22] larsoner opened #5515 "ENH: Check more FIF constants"
- [x] remove remaining XXX from `test_constants.py`
- [x] make sure we completely represent some of the fiff-constants fields, such as coils
- [x] ensure that the coils all have entries in coil_def.dat
- [x] merge Elekta's `coil_def.dat` with ours

[2018-09-13 03:33] subhuti2 commented on #5508
1 readin the file test.elp (attached as test.elp.txt), not errors
`cht = mne.channels.read_dig_montage(elp='/UserPath/test.elp', point_names=('nasion', 'lpa', 'rpa', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41

[2018-09-13 04:29] WilliamCollishaw opened #5516 "Generating volume source estimates for a specified frequency band"
I am creating volume source estimates using mne.minimum_norm.apply_inverse_epochs and morphing them to fsaverage using the new SourceMorph class. I was wondering if it was possible only generate volume source estimates for for a specified frequency band?

[2018-09-13 07:57] agramfort commented on #5516
what do you mean an stc for volume a specified frequency band?

you filter the data before solving the inverse problem?

[2018-09-13 08:10] agramfort commented on #5508
please share a dropbox with a full script to replicate the pb.

[2018-09-13 09:02] subhuti2 commented on #5508
Dear Alex,
[test.elp.txt](https://github.com/mne-tools/mne-python/files/2378483/test.elp.txt)
sorry that I am in a conference, where dropbox does not work and internet is slow. However the code in the last post can replicate the problem already (You can use any template head mri in mne coreg, e.g. fsaverage). I try again in this post to upload test.elp (as test.elp.txt), which failed in the last p

[2018-09-13 13:31] Diptyajitd7 commented on #5375
@larsoner I have recently faced some similar problems.
##################
mne.sys_info() output:
Platform:      Linux-4.15.0-33-generic-x86_64-with-debian-buster-sid
CPU:           x86_64: 4 cores
Memory:        15.6 GB
mne:           0.17.dev0
numpy:         1.15.1 {blas=mkl_rt, lapack=mkl_rt}
scipy:         1.1.0
matplotlib:    2.2.2 {backend=Qt5Agg}
sklearn:       0.19.1
nibabel:       2.3.0
ma

[2018-09-13 14:35] teonbrooks opened #5519 "[BUG] split_naming logic for files with one part"
related to PR https://github.com/mne-tools/mne-python/pull/5470, I just realized now that this split naming solution works only if the file will be split into multiple parts.

I noticed that the way that we decide if the raw file is to be split happens at https://github.com/mne-tools/mne-python/blob/master/mne/io/base.py#L2326. this is fine for neuromag-style naming convention where there is no su

[2018-09-13 16:27] olafhauk opened #5520 "Regularisation of rank-deficient matrices for beamformers incorrect?"
The function _reg_pinv() in mne.beamformer._lcmv uses Tikhonov regularisation by adding the identity to the covariance matrix. This is only correct for full-rank matrices. It is equivalent to inverting via SVD, but filtering the inverted singular values 1/s by s.^2/(s.^2 + lambda). This obviously shouldn't be applied to zero singular values, i.e. in the case of a rank-deficient matrix. Adding the

[2018-09-13 19:14] agramfort commented on #5520
@olafhauk are you talking about https://github.com/mne-tools/mne-python/blob/master/mne/beamformer/_compute_beamformer.py#L35?

I see that the rank is estimated first so it should be correct no?

[2018-09-13 19:33] gladiach opened #5521 "Issue with traits handler in mne.gui.coregistration"
Hi,

I'm using mne 0.16.2 with python 2.7.11 at the Martinos center.
When running mne.gui.coregistration I get an error related to 'traits':

In: mne.gui.coregistration(inst=fname, subject=subject, subjects_dir=subjects_dir)

Out:
Exception occurred in traits notification handler for object: <traits.traits_listener.ListenerParser object at 0x7fb248e50f50>, trait: text, old value: , new value: mri_

[2018-09-13 19:34] agramfort commented on #5508
@subhuti2 the cht does not contain any channel:

[code]

but I am a bit clueless on what to advice. @teonbrooks my expert of Montage
and DigMontage what do you think?

[2018-09-13 19:45] agramfort commented on #5521
ok I can replicate with my old python 2.7 env

can you try with the environment we now recommend?

http://martinos.org/mne/stable/install_mne_python.html#get-mne-and-its-dependencies

[2018-09-13 20:36] larsoner commented on #5519
I don't see a clean solution because we can't easily know the sizes ahead of time (need to write meas info, full buffers, blank buffers, etc.).

How about for BIDS, whenever writing you:

1. ensure that the unsplit-name and split-name are both available before writing, if they aren't, raise an error (unless `overwrite=True`)
2. if the file needs to be split, `os.rename` the first file to have the

[2018-09-14 01:51] subhuti2 commented on #5508
@agramfort @teonbrooks  Thanks.
In the file there were 128 locations (electrodes) besides 3 fiducials, it was termed as HPIs as in the data structure (from alex's comments I guess it should be channels).  I changed elp to hpi or hsp, and even nothing (only file name), the locations were always treated as HPIs...

[2018-09-14 12:53] massich opened #5523 "time_as_index"
Now that `raw.annotations.orig_time` is in sync with `raw.info['meas_date']`, the `raw.time_as_index` might be confusing. See the following:

[code]

[code]
Shall we add a reference parameter to `time_as_index`?

[2018-09-14 12:56] massich commented on #5523
maybe a parameter called `origin` that takes a string `{'meas_date', 'fist_samp'}` ??

[2018-09-14 15:42] #5501 closed

[2018-09-14 20:15] larsoner opened #5526 "BUG: mne watershed_bem relative paths"
I recently ran `mne watershed_bem` which created the right files as `subject/bem/...`, but with absolute-path linking to `/whatever/subject/bem/watershed/...` rather than relative to `watershed/...`. This unnecessarily limits the share-ability of datasets.

[2018-09-16 14:11] bloyl commented on #5342
What do you think of breaking this up into multiple PRs?
with the first being to

and convert this RuntimeError to a RuntimeWarning
https://github.com/mne-tools/mne-python/blob/4f7f515d0dd3d035afb8eed58d313ab94304e9e8/mne/io/pick.py#L403-L408
This would revert us to pre #5133 status, and you/we would have slightly more time to properly triage this?

[2018-09-16 18:07] #5449 closed

[2018-09-16 18:07] #5450 closed

[2018-09-16 18:11] larsoner commented on #5342
Seems reasonable as an intermediate step to me

[2018-09-16 21:17] bdyetton commented on #4489
Yes, this code above coupled with:

[code]
works well, thanks!

[2018-09-17 08:29] #5523 closed

[2018-09-17 12:27] dnacombo opened #5529 "add_annotation shows only one label"
On latest version, running this

[code]
shows only one label on the medial wall.

Perhaps it has something to do with the fact that the example below (almost same code) suddenly changed in the current 0.17dev version. On my computer, it shows this white brain with one red label.
http://mne-tools.github.io/dev/auto_examples/visualization/plot_parcellation.html
But I guess it should show this:
https

[2018-09-17 15:42] agramfort commented on #5529
FYI it's broken for me too.

[2018-09-17 16:44] bdyetton commented on #4494
Here ya go:
https://drive.google.com/open?id=186eklftvEB2FeLLxHPHUjZxe2iPvJ1f7
This a selection of EDF files from a bunch of open source sleep datasets, some are edf, others are edf+ and edf++.

[2018-09-18 06:44] larsoner commented on #5529
@dnacombo do you have time to get bisect, or at least check what the last tagged version that works is?

[2018-09-18 06:47] #5491 closed

[2018-09-18 07:51] dnacombo commented on #5529
Quick test: white plot_parcellation remains on my install with tagged versions back to 0.14.
0.13 crashes because fetch_hcp_mmp_parcellation does not exist.
But online examples:
http://mne-tools.github.io/0.15/auto_examples/visualization/plot_parcellation.html
is fine
http://mne-tools.github.io/stable/auto_examples/visualization/plot_parcellation.html
is not.
Something odd in the environment, I gu

[2018-09-18 08:51] agramfort commented on #4494
thanks heaps !

we'll improve the support of IO of annotations in the EDF reader and
we'll then take a stab at this.

[2018-09-18 10:53] larsoner commented on #5529
I mean PySurfer versions not MNE actually. The MNE version shouldn't change
the add_annotation behavior (beyond making the annot dataset available) as
add_annotation is a PySurfer function.

[2018-09-19 13:16] agramfort commented on #5529
FYI to make pysurfer plot_parcellation.py I had work with a new env that I
one still
use currently. So it means that maybe updating the env will fix the pb?

[2018-09-19 14:54] jona-sassenhagen opened #5534 "`threshold='tfce'`?"
Arguably, TFCE with default parameters is better than "regular" cluster-based permutation tests and "default" thresholds. Maybe we could allow `threshold='tfce'` to make it easier for users.
We could use a comparatively low number, and give a warning that it will be slow, and advise users to manually use different settings if they just want to prototype.

Conceptually, this would turn the `thresho

[2018-09-19 15:04] larsoner commented on #5534
My fear is that whatever we choose as the default will probably not work very well for most people. The optimal parameters in terms of speed/accuracy tradeoff are data dependent. Basically TFCE is like a Riemann sum approximation of an integration -- clearly the `start` and `step` will depend on what you're trying to integrate.

We could try to guess them by, say, taking the `max(abs(stat))` and c

[2018-09-19 16:04] larsoner commented on #5534
Yes but this is not the only consideration. There is a speed/accuracy tradeoff, and it's not obvious how to make it.

To make things completely reliable/accurate we could set the start to zero and the step to be some tiny number, but this operation will essentially run forever. The other extreme is essentially what we do now, which is probably equivalent (I'd need to think about it) to using TFCE

[2018-09-20 00:39] erfpak7 opened #5539 "raw.plot does not work on my data"
I've faced a problem regarding the raw.plot().
I have a .csv file with 7782 X 21 (n_times, n_channel) structure - myData. I've used mne.io.RawArray function to convert my data to a raw data format readable by mne data structure.
<raw = mne.io.RawArray(myData, info)>
When I am using the raw.plot() function, it does not show me what it's supposed to show as channel activities, although eeglab could

[2018-09-20 00:53] larsoner commented on #5539
You need to change the scaling of the plot or your data. Probably you have data in units of uV and MNE expects data in V

[2018-09-20 00:57] erfanpak commented on #5539
Thanks for the quick response. It is not an **interactive** plot. How can I make it interactive?

[2018-09-20 02:54] alexrockhill opened #5540 "compute_source_psd_epochs need 'noisenorm' from inverse operator"
import mne
import os.path as op
from mne.datasets import sample
from mne.minimum_norm import make_inverse_operator, apply_inverse,compute_source_psd_epochs

data_path = sample.data_path()
subjects_dir = data_path + '/subjects'

# Read data
data_path = op.join(mne.datasets.sample.data_path(), 'MEG', 'sample')
raw = mne.io.read_raw_fif(
    op.join(data_path, 'sample_audvis_raw.fif'), preload=True)

[2018-09-20 05:36] agramfort commented on #5539
it's interactive if you don't use %matplotlib inline
in the notebook. You can use "%matplotlib qt" or try
"%matplotlib notebook"

[2018-09-20 10:11] dnacombo commented on #5529
Just tried all sorts of variants of `conda update env` without a chance.
`pip install pysurfer` or update or anything won't work.
What should I do?

[2018-09-20 10:38] massich opened #5541 "something weird with time_as_index"
#### Describe the bug
Reviewing [this line](https://github.com/mne-tools/mne-python/pull/4936/files#diff-3552c91528439a66cb184c8d9b9cfcb5R564) `raw.first_time` should not be necessary since #5524.

[code]

#### Steps and/or code to reproduce
[code]

#### Expected results
no error thrown / `raw.time_as_index` returned 10

[2018-09-20 11:17] larsoner commented on #5529
Can you see if it's a `nibabel` problem:

https://github.com/nipy/PySurfer/issues/250#issuecomment-423144386

Let's move discussion over there

[2018-09-20 11:17] #5529 closed

[2018-09-20 12:06] larsoner commented on #5365
@britta-wstnr the max-power has a sign ambiguity. Any reason not to orient it so that positive is in the direction of the vertex normal? Basically this means taking the max power orientation and multiplying by the sign of the dot product with the vertex normal. It's a principled way to deal with the arbitrary flip.

[2018-09-20 12:26] jona-sassenhagen commented on #5534
Ok now you've made it sound like work :|

[2018-09-20 12:39] larsoner commented on #5534
Maybe it won't be -- won't know until you try :)

[2018-09-20 15:33] massich commented on #5541
That is a misstatement. `time_as_index` allows for arbitrary reference of the input `times`. But the results are always relateive to `first_samp`.

[2018-09-20 15:36] massich commented on #5541
Closing this issue. If someone thinks that is worth to have an arbitrary output reference, be my gest to reopen it.

[2018-09-20 15:36] #5541 closed

[2018-09-20 19:33] teonbrooks commented on #5508
ah, i see that you are using the elp file format. that format is properly supported with the `DigMontage` class. you should be using the `read_montage` function that works with `Montage` class.

@subhuti2 try using `mne.channels.read_montage(test.elp)`

when I created the `DigMontage`, I used `elp` arg name because that was how we in my lab referred the the electrode location points in native head

[2018-09-20 20:06] alexrockhill commented on #5540
The issue was with preload = True in the keyword arguments.

[2018-09-20 20:08] larsoner commented on #5540
To clarify for future folks, I think you mean `prepared=True` here.

I'm going to reopen so we remember to catch non-prepared `inv` use in these sorts of functions

[2018-09-21 01:00] schelian commented on #5421
Hi @larsoner , I'm getting a 404 today (not a firewall issue).

[2018-09-21 01:03] schelian commented on #5288
@Vincent-wq , I'm following your steps above up to 3.6.  I don't have C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\x86_amd64 because you said to install Visual Studio 2017 (v. 15).  Should I install v.14 instead?

[2018-09-21 01:04] larsoner commented on #5288
You should no longer need MSVC (or any complier) to install Mayavi

[2018-09-21 01:06] larsoner commented on #5421
There was a typo in the URL butb nowadays you should just be able to use the latest release version of Mayavi rather than git master

[2018-09-21 01:07] larsoner commented on #5421
Closing as I think the instructions now mention warnings

[2018-09-21 01:07] #5421 closed

[2018-09-23 09:32] jona-sassenhagen commented on #5359
Has the problem been resolved?

[2018-09-23 09:32] jona-sassenhagen commented on #5339
@carlosgmartin is this still an issue?

[2018-09-23 09:34] jona-sassenhagen commented on #5053
Can this issue be closed?

[2018-09-23 09:41] jona-sassenhagen commented on #4746
@agramfort I would expand the API of plot_evoked_topo to be roughly in alignment with plot_compare_evokeds.

E.g., I would allow dict input (`{"condition": list_of_evoekds}` etc), and a few of the viz things.

Makes sense?

[2018-09-23 12:45] larsoner commented on #5446
Agreed, I think we can let users import/create their own functions for this easily enough now

[2018-09-23 12:45] #5446 closed

[2018-09-23 13:36] carlosgmartin commented on #5339
I'm no longer having this issue.

[2018-09-23 13:47] #5339 closed

[2018-09-23 13:58] sheehanxu opened #5548 "The crash of ploting the large data"
Dear all, I got a window crash when I want to plot the complex data. I'm using mne 0.16.2 with python 3.6 under the Win 7 64 bit system.
 The script and the data is download from the example, as follow:

This line was OK.

While these two lines was crashed.

![default](https://user-images.githubusercontent.com/39996744/45928765-8c44c580-bf7b-11e8-9b65-d5ad8d867fcf.png)

Anyone had got same problem

[2018-09-23 15:29] agramfort commented on #5053
yes it's because values need to be compared in relative difference at numbers are quite small

[2018-09-23 15:29] #5053 closed

[2018-09-23 15:34] agramfort commented on #4746
no strong feeling. If you can do this with a small refactoring sure.

[2018-09-23 19:37] Sonia2016 opened #5550 "AUX channel type"
Hi all,
I am using **B-Alert X24 EEG System** and it has 24 channels which 20 of them are EEG type and one of them is ECG type but I do not know the types of rest of them which are `'AUX1 (Raw)', 'AUX2 (Raw)', 'AUX3 (Raw)'`. Do you know by any chance what can be the type of `AUX`?
Thanks!

[2018-09-23 23:28] Sonia2016 opened #5551 "epoch.plot(spatial_colors = True)"
Hey again,
I am using epoch.plot() function and I want to have one of the channels be colorful and the rest be black. I've used `spatial_colors = True` which assign the color to all the channel. How can I have a control on which channel has which color? (e.g. I need one channel color red and the rest be black)
Thanks!

[2018-09-24 06:11] sheehanxu commented on #5548
Thank you for your prompt reply.
It seems like the blank figure window with no response.
I found a solution that we can work with the Jupyter notebook.
The reason for the program crash may be that there is something wrong with my python settings.

![default](https://user-images.githubusercontent.com/39996744/45939243-a7f3ae80-c003-11e8-9d04-9b6ca82429f2.png)

[2018-09-24 06:11] #5548 closed

[2018-09-24 08:34] agramfort commented on #5551
then don't use spatial colors and mark this channel as bad.

see first plot in
https://martinos.org/mne/stable/auto_tutorials/plot_visualize_evoked.html

[2018-09-24 13:55] dasdiptyajit commented on #5550
@Sonia2016 can you read the raw file and type?:  raw.info['ch_names']. It should provide you with all the channel names.

[2018-09-24 21:04] bloyl opened #5552 "ENH: Convienance methods for labels"
It would be good if `stc.extract_label_time_course` worked on stcs that are already confined to labels

Similarly it would be useful to have a method for putting derived measures back in to stc form for visualization.

Below is a use-case although more meaning full uses would come from `apply_inverse_raw` and `apply_inverse_epochs`.

I don't know my way around labels and sourcespaces, but if someo

[2018-09-24 23:45] Sonia2016 commented on #5550
Thanks @dasdiptyajit ! Unfortunately, I do not have types of my channels in raw.info. The reason is that I've created the raw.info by myself based on the .txt data created by B-Alert. I am not quite sure what do you mean by _stim/resp channels_, are the types of channels if yes how should I name it in the raw.info?

[2018-09-25 03:41] subhuti2 commented on #5508
Thank you @teonbrooks, however it did not work with mne.channels.read_montage either. I quote the error message as within [] .
[TypeError: loadtxt() got an unexpected keyword argument 'skip_header']

In fact I have the information as Nx3 numbers, N is the sum of all electrodes and fiducials. I could also include labels as another column in the file, when needed. But I don't know exactly what forma

[2018-09-25 07:01] agramfort commented on #5552
if label.hemi == 'lh' basically you need to find the intersection between label.vertices and src[0]['vertno'] then the matching vertices give you the vertices[0] to be passed to the SourceEstimate constructor.

you do the same for right hemi 'rh' and replace 0 by 1.

makes sense?

[2018-09-25 07:03] agramfort commented on #5550
you can pick any name you like. It's just the channel type that will matter
as it is liked to physical units like Volts that are used for plotting.

[2018-09-25 08:19] dasdiptyajit commented on #5550
@Sonia2016 'AUX1 (Raw)', 'AUX2 (Raw)', 'AUX3 (Raw)' could be auxiliary channels (e.g., typically ECG/EOG channels) or other external trigger channels such as stimulus or response. You should try to look at the technical specification of your EEG system. Anyhow, the naming/tagging doesn't matter much as long as you use the channels in a right way with proper physical units that @agramfort has alrea

[2018-09-25 12:28] britta-wstnr commented on #5365
@larsoner How would we do that in the volume case, do volume fwd models have that information as well? (Note that beamformers are usually computed for the full source grid, not a surface solution.)

[2018-09-25 12:29] larsoner commented on #5365
The normals are defined as up Z in that case IIRC. So it will still work

[2018-09-25 15:04] SherazKhan commented on #5492
@larsoner @agramfort

Please review the code below and let me know, how can I integrate this code in the mne-python API

![arrowmap](https://user-images.githubusercontent.com/2575276/46023377-8271ae00-c0b2-11e8-9e19-52f7abfa3cd2.png)

[code]

[2018-09-25 15:06] Sonia2016 commented on #5550
Thanks so much, @dasdiptyajit ! I Placed the mastoid channels (AUX1-AUX2) directly on the bone behind right and left ears. As well as two channels (AUX3 and AUX4) on collar bone which I think one of them has automatically been replaced by ECG. Can I still consider AUX1 and two as EOG considering the fact that they are both attached behind the ears?

[2018-09-25 15:12] dengemann commented on #5492
Looks pretty neat! Perhaps play a bit with the arrow color. I'd try black
or gray.

On Tue, Sep 25, 2018 at 5:09 PM Sheraz Khan <notifications@github.com>
wrote:

[2018-09-25 16:46] SherazKhan commented on #5492
![arrowmap_g](https://user-images.githubusercontent.com/2575276/46029303-029f1000-c0c1-11e8-93d2-6664b11672f3.png)

[2018-09-25 17:01] teonbrooks commented on #5508
@subhuti2, for the `read_montage` to work, could you remove the .txt extension that is attached to your .elp file and try that?

[2018-09-25 17:19] agramfort commented on #5550
use the set_channel_types method of raw to set properly your channel types.
If your pb is solved please close the issue

[2018-09-25 17:29] agramfort commented on #5492
here the quiver are derived from the data passed to plot_topomap. If you
want to support this feature I would add a bool parameter to plot_topomap
to show or not the arrows. If you want to pass any field vector you need to
pass a 2D array as a new arrows parameter.

[2018-09-25 21:29] SherazKhan commented on #5492
I think refactoring plot_topomap is cumbersome, may be including plot_arrowmap and trigradient functions in the topomap module is the best best.

If you are ok, I can sent the PR.

[code]

![arrow](https://user-images.githubusercontent.com/2575276/46044319-6be64980-c0e8-11e8-8b38-18ed0410b607.png)

[2018-09-25 23:48] mkoculak opened #5553 "Localizing electrodes using a 3D-scanner"
Hi,
first of all, thank you for a great tool!

Recently we have bought a 3D scanner for digitalization of the actual electrode location on subject's head.
You can see the scanner and the usage in the fieldtrip tutorial below:
http://www.fieldtriptoolbox.org/tutorial/3dscanner

I was wondering is there a way right now to incorporate those 3D scans in MNE analysis?
Or would it require coding the fun

[2018-09-26 06:09] agramfort commented on #5492
fine with me. However I think you only need one info

can you open a PR?

[2018-09-26 07:43] agramfort commented on #5553
I don't know anyone who has done this.

mayavi supports 3d picking of vertices so technically all the pieces exist
but it remains to be assembled...

[2018-09-26 11:27] makkostya opened #5556 "Forward object contains triangulation which uses omitted sources"
I first computed source space for sample subject:
`src = mne.setup_source_space(subject, spacing='ico5', subjects_dir=subjects_dir, add_dist=False)`
Then forward solution:
[code]
Some source points were out of distance limits, so were deleted from the model:

But the forward object still contains triangulation which uses these omitted sources

[code]

After discussing this issue with @agramfort ,

[2018-09-26 11:43] larsoner commented on #5556
Has anyone checked that the results are sensible? It should be pretty straightforward -- compute forward with some dist limit that works for all sources, then compute it with whatever dist limit causes exactly one source to be omitted, and check your interpolated value against the veridical one. I'm not sure it will be all that close.

To decide how close is "close enough" you could look at how si

[2018-09-26 12:32] subhuti2 commented on #5508
@teonbrooks, I did that, but did not help. Is it possible for you to provide an example elp file? Ideally the locations of electrodes could be in xyz format (Cartesian coordinates).
Thanks in advance.

[2018-09-26 12:51] agramfort commented on #5556
usecase is for example to make sure we have the same vertno for all
subjects or if you need a closed mesh for data-driven parcellation
computation

in terms of accuracy is will not be correct (think that radial dipoles
close to inner skull cannot be guessed by interpolation) but it
should good enough for some use cases.

[2018-09-26 13:16] larsoner commented on #5556
I'd like to see the result of the suggested test. It can work as a unit test anyway so it's useful for multiple reasons

[2018-09-26 13:53] larsoner commented on #5556
Yes but think about it differently -- we compute in cardinal XYZ simply for convenience. What we calculate is equivalent (through mult with a rotation matrix) to computing a radial component and two other components orthogonal to it. So @agramfort is saying one of these three degrees of freedom is likely to be pretty bad.

How bad can be established with the little test I suggested above (which we

[2018-09-26 13:55] agramfort commented on #5556
just give it a try and look at fwd sensitivity maps to see how it looks like

[2018-09-26 15:04] bloyl commented on #5552
Are there any labels based on volume source spaces that I need to worry about?

[2018-09-26 15:06] SherazKhan commented on #5492
The reason for second info, is to able to interpolate this map for the neuromag gradiometers, as they take gradients in circular coordinates i.e. latitude and longitude. Therefore need to be projected for visualization on the 2D manifold like topomap.

I will push the PR

[2018-09-26 15:09] agramfort commented on #5552
not AFAIK or at least I never used such. For sure they don't have an
hemi attribute

[2018-09-26 15:32] makkostya commented on #5556
ok, i'll start with this

[2018-09-26 17:06] SherazKhan commented on #5492
PR done, one of many that will follow this year :-)

[2018-09-27 10:55] dasdiptyajit commented on #5550
@Sonia2016 I would additionally select one frontal EEG channel (e.g., Fp1/Fp2) to use it as EOG channel since the sensor located close to the eyes has more chances to pick up eye blinks.

[2018-09-27 13:58] larsoner opened #5561 "ENH: Speed up time frequency code"
I adapted @jona-sassenhagen's example to make it smaller:
[code]
Using CUDA made it slower. I think we should:

1. Refactor our overlap-add filtering code to allow multiple filters applied to the same data (we do this in CWT).
2. Refactor our overlap-add filtering code to work with complex data (morlet coefs).
3. refactor _cwt (the core of most TFR functions) to use overlap-add filtering. That sho

[2018-09-27 18:06] pripolles opened #5563 "Error with make_inverse_operator"
Hi! We are trying to run source analysis.  @kingjr
We are running MNE version '0.16.dev0'

So far this is what we have done:

1 We prepare the source space:
[code]
2 We run the forward model
[code]

3 We compute noise covariance
[code]

4 And then, when we try to calculate the inverse model:
`inv = make_inverse_operator(epochs.info, fwd, cov, loose=0.2, depth=0.8)`

We get this error:

Here you ha

[2018-09-27 18:38] teonbrooks commented on #5519
oh ok, so this will work fine if the user
1. use the `mne-bids` for saving bids files. the naming split won't auto generate the correct bids filename, just the extension name attached.
2. we can introspect the files to know if the split naming is necessary so it would skirt the issue above.

I will patch this in mne-bids

[2018-09-27 19:19] larsoner commented on #5563
`forward_pipeline` is not an MNE function so it's tough to help you debug. But based on the error it looks like `forward[...]` is causing the problem, which means the `fwd` you have is probably `None`

[2018-09-27 20:33] pelednoam commented on #4831
Hey, are there any updates on this issue? I'm trying to save ico5 BEM solution, and getting the same error (OSError: FIFF file exceeded 2GB limit, please split file or save to a different format)
Thanks!

[2018-09-27 20:54] larsoner commented on #4831
Fortunately `ConductorModel` subclasses a standard class (dict) so for now you can probably hack it with:
[code]

[2018-09-27 20:55] larsoner commented on #4831
(incidentally `SourceSpaces` subclasses the standard class `list`, too, so the same workaround will probably work for this volume source space)

[2018-09-28 08:35] jona-sassenhagen commented on #5561
I like that you say "we".

Oh, that sounds like a no brainer. Fewer options is better.

[2018-09-28 09:51] sdeslauriers opened #5565 "BUG: Problematic surfaces extracted using watershed"
Running `make_bem_model` on the output of `watershed_bem` on subject 109123 of the HCP raises the following error:
[code]
Checking the surfaces using `freeview_bem_surfaces` shows that the inner skull intersects the outer skull and skin surfaces. In addition, the inner skull surface has loops. This also happens with other subjects.
![sagittal](https://user-images.githubusercontent.com/5994340/4620

[2018-09-28 11:42] olavblj commented on #5480
Hi! Sorry to bother you, but I'm wondering how this patch is coming along. I am considering using MNE in my master thesis, and will be dependent on it working if I choose to do so.

[2018-09-28 12:10] agramfort commented on #5565
2 comments:

1) I would use only 1 layer for this subject

3) but the inner brain layer seems not super smooth (see bottom of the brain)

see if using the --atlas option
(https://github.com/mne-tools/mne-python/blob/master/mne/commands/mne_watershed_bem.py#L30)
helps

[2018-09-28 13:16] sdeslauriers commented on #5565
1) That is my fix for these subjects, but would not work for EEG data.
3) Using the --atlas option removed the loop, but the inner skull still intersects the other surfaces.

[2018-09-28 13:49] agramfort commented on #5565
great. Can you open a PR for the next person using these data? I guess it
should be on mne-hcp repo.

[2018-09-28 14:13] larsoner commented on #5480
It should be done by November. I don't know how soon before then

[2018-09-30 21:35] Sonia2016 commented on #5550
Thanks @dasdiptyajit! that was very helpful!

[2018-09-30 23:42] Sonia2016 opened #5567 "plot channel over epochs"
I'm trying to visualize channel over epochs or event related potential image. I've found the following [https://martinos.org/mne/stable/auto_examples/visualization/plot_channel_epochs_image.html#sphx-glr-auto-examples-visualization-plot-channel-epochs-image-py](url).  I'd like to get a similar nice looking figure. However, the figure turns out like what I've attached which is not even close to wha

[2018-10-01 08:17] jona-sassenhagen commented on #5567
Can you show the code you used?

[2018-10-01 13:56] Sonia2016 commented on #5567
As I mentioned, I've used the following code
[code]

In order to get a grasp of my dataset, it contains 24 channels (_ABM-BAlet 24_) including one ecg and three AUX channels with a sfreq of 256Hz. I recorded the EEG file through iMotions software which provides a .txt file. For the purpose of MNE analysis, I manually converted it to a MNE data format with `mne.io.RawArray(myData, info)`. **_myData

[2018-10-01 13:57] #5551 closed

[2018-10-01 14:08] agramfort commented on #5567
@Sonia2016 are your data scaled in Volts raw object? What you access data in raw you should see values in the order of a few hundreds of uV so in the 1e-4 range. I fear your data are stored in uV

[2018-10-01 14:10] sdeslauriers commented on #5565
I am not sure what you mean. Open a PR for what?

[2018-10-01 14:14] jona-sassenhagen commented on #5567
You’re manually specifying vmin and vmax (the values from the example are for MEG data). Remove these parameters and see what the defaults do for you.

[2018-10-01 14:18] agramfort commented on #5567
no scaling is done wrt channel type. Here it says values are between -250uV
and 250uV

[2018-10-01 14:19] agramfort commented on #5565
yes anything so the next person does not get stuck. Add a meaningful
error message  or something

thanks

[2018-10-01 15:15] sdeslauriers commented on #5565
Opened an issue instead of a PR, because I really don't know what that PR would contain.
https://github.com/mne-tools/mne-hcp/issues/60

[2018-10-01 15:15] #5565 closed

[2018-10-01 16:15] Sonia2016 commented on #5567
Thanks, @agramfort! I think I didn't totally understand what do you mean by scaling with regard to channel type, could you please let me know how can I do that?
How can I check the scale of data (uV or V)?

@jona-sassenhagen  the default works! you can check in the image. but the value (range) of y-axis of time series is not the same as heatmap color scale, do you know why? how can I change those?

[2018-10-01 16:55] Sonia2016 commented on #5567
Thanks @jona-sassenhagen!
@agramfort, just want to check with you, this is one part of my data set, I've highlighted the value for each channel here. Do you know how can I get the scale of data (for each channel)?
<img width="1292" alt="screen shot 2018-10-01 at 12 49 24 pm" src="https://user-images.githubusercontent.com/19417775/46303119-fd3a3d80-c578-11e8-8bee-710f98f1ecd2.png">

[2018-10-01 19:04] agramfort commented on #5567
@Sonia2016 just look at the plot. The values are in the order of 1e7 uV so you created a raw objects from uV and not V. Just multiply the values by 1e-6 when creating your raw object.

please close the issue if it's fixes the pb.

[2018-10-02 14:16] massich opened #5571 "Unused variables in test_brainvision.py"
https://github.com/mne-tools/mne-python/blob/fd23ba8bfc1f11dd046abcfa89868f7dd8569d76/mne/io/brainvision/tests/test_brainvision.py#L37

https://github.com/mne-tools/mne-python/blob/fd23ba8bfc1f11dd046abcfa89868f7dd8569d76/mne/io/brainvision/tests/test_brainvision.py#L41

https://github.com/mne-tools/mne-python/blob/fd23ba8bfc1f11dd046abcfa89868f7dd8569d76/mne/io/brainvision/tests/test_brainvision.

[2018-10-02 14:20] agramfort commented on #5571
that's weird. Use git blame to understand what happened

[2018-10-02 17:02] massich commented on #5571
https://github.com/mne-tools/mne-python/pull/4524/files#r222033158

[2018-10-03 19:01] #5571 closed

[2018-10-03 21:45] jona-sassenhagen commented on #5567
@Sonia2016 can we close?

[2018-10-03 21:47] Sonia2016 commented on #5567
I will! :)

[2018-10-03 21:47] #5567 closed

[2018-10-04 11:33] larsoner opened #5577 "Q: Release"
We're due for a Nov 1 release to stick to our ~6 mo schedule. I've tentatively set a deadline for Oct 25th to push us to get everything in. Everyone please take a look at any PRs and issues you think we can and/or need to get done for 0.17 and mark them for 0.17 (or request that I do it if you do not have permissions).

Remember we should only mark things for 0.17 that should be blockers and we ca

[2018-10-04 11:33] larsoner commented on #5526
This has been fixed

[2018-10-04 11:33] #5526 closed

[2018-10-04 11:35] larsoner commented on #5471
Not critical, moving to 0.18

[2018-10-04 11:37] larsoner commented on #5366
This has been fixed

[2018-10-04 11:37] #5366 closed

[2018-10-04 11:38] larsoner commented on #5383
We have a bit of this in `master` now so I'm moving this to 0.18. @jasmainak if you feel like improving the `plot_object_stc` tutorial this issue has other concepts in it that should be included

[2018-10-04 11:38] larsoner commented on #3893
This one won't make 0.17, moving to 0.18

[2018-10-04 11:40] larsoner commented on #5406
Sounds like a repo with all workshop materials is the way to go. @jona-sassenhagen if I create the repo could you 1) add yours as a starting point and 2) update the `mne-python` docs to link to it somewhere (probably from `documentation.rst`)?

[2018-10-04 11:41] larsoner commented on #5342
We should do this intermediate step for 0.17 and the full fix for 0.18. @bloyl do you have time in the next two weeks to do the `RuntimeError`->`RuntimeWarning`? If not I can do it.

[2018-10-04 11:43] jona-sassenhagen commented on #5406
Sure. For the release?

[2018-10-04 11:43] larsoner commented on #5384
@jona-sassenhagen can you write a minimal example from a `testing` or `mne/io/data/*.fif` file? It will make it easy for us to test that fixes/workarounds from #5342 work. It would be good to get to this example in the next week so a fix can be made the next week to make it into 0.17.

[2018-10-04 11:44] larsoner commented on #5342
... and just a note that whatever fix we have should incorporate the gist that will eventually show up in #5384 :)

[2018-10-04 11:45] larsoner commented on #5204
Not a critical bug (and probably a pain to fix) so moving to 0.18

[2018-10-04 11:47] larsoner commented on #5201
@massich you have been working on these things quite a bit recently, could you make a `plot_timing.py` tutorial or something similar to cover these topics in the next two weeks to make it into 0.17?

[2018-10-04 11:47] larsoner commented on #5058
Removing milestone since this does not seem to be a blocker

[2018-10-04 11:48] larsoner commented on #4771
@cbrnr can you take a look at implementing this in the next two weeks to make it into 0.17?

[2018-10-04 11:49] larsoner commented on #4953
@dengemann is this bug still there? Can you fix it in the next two weeks? Otherwise we should move it to 0.18

[2018-10-04 11:52] larsoner commented on #4828
This should be fixed in `master`

[2018-10-04 11:52] #4828 closed

[2018-10-04 11:53] larsoner commented on #5359
Closing due to non-response, can reopen if it's still a problem

[2018-10-04 11:53] larsoner commented on #5406
Yes, so in the next couple of weeks

[2018-10-04 13:12] mmagnuski commented on #4771
I thought it worked by right clicking, so there was not problem with clicking on channels but I may be wrong. Anyway it would be cool to be able to spawn topoplots for a time point, not only the green line via right-click.

[2018-10-04 13:50] massich commented on #5201
yes

[2018-10-04 13:51] mmagnuski opened #5578 "eeglab events backward compatibility"
Currently when reading eeglab files I get deprecation warnings because the mne function internally uses `read_events_eeglab` and not the function to read events as annotations and then back as events. I am sure this is temporary, but it is annoying enough that I can volunteer to fix it. :)

And since I am volunteering - some other things regarding backwards compatibility of the new system with the

[2018-10-04 13:52] larsoner commented on #5578
Marking for 0.17 since this seems like something we need to fix for release. Thanks for volunteering @mmagnuski

[2018-10-04 14:04] larsoner commented on #4957
I hit this bug at some point, basically if you compute the `cov` on the fly it can have `cov['estimator']` which is a `sklearn` object so you need to remove it before saving. I can tackle this I/O for 0.17

[2018-10-04 14:05] larsoner commented on #5148
Point (3) is open we just need to decide about whether or not to do it

[2018-10-04 14:05] #5148 closed

[2018-10-04 14:18] mmagnuski commented on #5553
I am using photogrammetry to digitize channels too but I am using a video from a normal handheld camera and then reconstruct 3d object and channel positions in 3DF Zephyr (I will try with cellphone camera in a few month to see if that can be used). However, I export the model in the same format that fieldtrip uses (wavefront .obj). I tried using fieldtrip functions to read the zephyr files but it

[2018-10-04 15:10] vivekosdd opened #5579 "How to compute inverse operator for source localization"
I'm working on source localization with MEG data. I'm using the following tutorial for source localization.
https://mne-tools.github.io/0.12/auto_tutorials/plot_mne_dspm_source_localization.html

I cannot compute the inverse operator. The error I'm getting is as follows:
`>>> inverse_operator = make_inverse_operator(info, fwd, noise_cov, loose=0.2, depth=0.8)
    Average patch normals will be empl

[2018-10-04 15:28] agramfort commented on #5578
oups... yes we need to fix this.

you may want to read
https://github.com/mne-tools/mne-python/pull/5460/files too to see
where we want to go.

[2018-10-04 15:58] vivekosdd commented on #5579
No, the error is with my data not the tutorial.

[2018-10-04 16:14] agramfort commented on #5579
do you reuse some of the files from the tutorial? if so I am pretty
sure you should not.

[2018-10-04 16:17] vivekosdd commented on #5579
I only use the forward solution file as a template

[2018-10-04 20:09] christianbrodbeck commented on #4634
@XBTinChina Actually, the GUI should already allow you to convert old files. If it does not, can you tell me what happens (or make available a sample file)?
https://github.com/mne-tools/mne-python/blob/master/mne/gui/_kit2fiff_gui.py#L309

[2018-10-04 20:27] cbrnr commented on #5455
Will be resolved in #5460.

[2018-10-04 20:27] #5455 closed

[2018-10-05 05:50] cbrnr commented on #4771
Right-clicking seems like a good option. Currently, it doesn't work, maybe it used to and now it is broken?

[2018-10-05 07:34] agramfort commented on #5579
@vivekosdd you cannot do this. You need individual sensor locations. You can use a template anatomy by scaling fsaverage with the coreg GUI but ideally you have the T1 MRI of your subject.

[2018-10-05 07:34] #5579 closed

[2018-10-05 07:43] vivekosdd commented on #5579
Thanks

[2018-10-05 11:10] mmagnuski commented on #5539
I'd recommend `%matplotlib` or `%matplotlib qt`, `%matplotlib notebook` doesn't work so well on my machine - it seems to be slower and usually the default figure size does not fit in the output window of the notebook so the navigation is inconvenient.

[2018-10-05 11:29] mmagnuski commented on #5553
Ok, it seems that mayavi can texture each triangle given the texture image and vertex coordinates on the texture. It was not so easy to find that information online so I expect that we may encounter some difficulities along the road:
http://enthought-dev.117412.n3.nabble.com/Add-texture-coordinates-to-triangular-mesh-td763116.html

@agramfort - where could I find some good intro to interactive may

[2018-10-05 11:32] larsoner commented on #5553
Look in the coreg GUI code there is interactive clicking to set the MRI fiducials

[2018-10-05 12:16] agramfort commented on #5553
you can generally press p in a vtk figure to pick a vertex.

[2018-10-05 14:22] makkostya opened #5584 ""dateutil" package requirement issue"
1. Package "dateutil" is required to install mne but is not in requirements.txt

2. Package "dateutil" requires  Python 2 while:

[2018-10-05 14:31] agramfort commented on #5584
I have no idea how this slipped through the cracks.

how about using datetime to avoid this issue?

[2018-10-05 14:36] larsoner commented on #5584
It looks like the dep is from `xml.dom.minidom.parse` so we'd actually need to replace that

[2018-10-05 15:01] agramfort commented on #5584
+1

[2018-10-05 16:07] larsoner commented on #5584
Oh no I'm wrong, it is just `dateutil`. Yes we should just try to replace it

[2018-10-05 18:18] #5584 closed

[2018-10-05 18:58] ImmanuelSamuel commented on #2740
Finally got back to this. I checked the alignment between the T1 and the BEM model and they are perfectly aligned in freeview.

The following the code I used for analysis:
[code]
This is what I get:
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkgAAADeCAYAAADGvv/YAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4zLCBodHRwOi8vbWF0cGxvdGxpYi5vcmc

[2018-10-05 19:07] ImmanuelSamuel commented on #2740
Finally got back to this. I checked the alignment between the T1 and the BEM model and they are perfectly aligned in freeview.

The following the code I used for analysis:
[code]
This is what I get:
![index](https://user-images.githubusercontent.com/7865018/46554963-ec0e6b00-c8af-11e8-86d8-65e22645fb4a.png)

Instead of the last line if I use ...
[code]
... I get the following
![index 2](https://us

[2018-10-05 20:50] agramfort commented on #2740
mri should point to the T1.mgz file from your freesurfer reconstruction. Could it the pb?

[2018-10-05 21:56] ImmanuelSamuel commented on #2740
Yes in this case T1.mgz is the freesurfer reconstruction of the colin27 image. Also that and the original are identical right? They both will look the same when loaded in freeview.

What is pb?

[2018-10-06 02:04] larsoner commented on #5369
It looks like we already have the suggestion of using `%gui qt` in the dev docs so this can be closed

[2018-10-06 02:04] #5369 closed

[2018-10-06 07:52] agramfort commented on #2740
I don't know what the problem is

can you try passing the T1.mgz ?

can show me what you get with plot_alignment function?

[2018-10-06 10:50] mmagnuski commented on #5578
I looked through the PR you linked, I still have some questions more specific to reading eeglab files:
* do we read as digits those descriptions that are digit-only, or that contain exactly one stream of digits (so that `S02` would be turned to `2` but `A2S3` would be ignored ie. `len(re.findall('[0-9]+', event)) == 0`) @jona-sassenhagen should remember how it originally worked.
* previously, one

[2018-10-06 11:01] jona-sassenhagen commented on #5578
I forgot, but intuitively, making it the same as the Brainvision reader looks appropriate, doesn't it?

Same:  make it as BV?

I strongly disprefer the idea of assigning arbitrary values ...

[2018-10-06 11:15] agramfort commented on #5578
regarding your second point above @mmagnuski (auto convertion of integer event types) it seems we changed the behavior with @massich without noticing. Can you provide a file with a test to demonstrate the regression?

[2018-10-06 11:17] agramfort commented on #5578
@mmagnuski I still see event_id_func in the eeglab reader. Where did we remove it?

regarding the arbitrary numbers I agree. Please see if you can fix it and go back to the previous behavior

thanks

[2018-10-06 11:34] larsoner commented on #5578
Regarding event_id_func I think it should not be part of the new function that converts annotations to events (just in whatever io reader function must have it for backward compatibility). I think annotations should be converted to events in this function if and only if they are in event_id.

Since the new plan is to construct complete annotations on read, then allow event creation separately (rat

[2018-10-06 14:05] mmagnuski commented on #5578
@jona-sassenhagen -the  BV reader expects padded values with at most 3 digits and some special characters before the digits, so it would not work for reading eeglab files. But I'll try to compare with current and past version of `read_eeglab_events`.

@agramfort Not exactly, `read_eeglab_events` seems to work ok (but I'll take a look comparing current and previous version on some files), but it ra

[2018-10-06 17:18] agramfort commented on #5578
read_events_eeglab is deprecated. that's why you have deprecation warnings. so this is expected. thanks for taking a look @mmagnuski

@larsoner if you want to try what you suggest with stim channel please do.

[2018-10-06 17:35] agramfort commented on #5224
we have a regression on this with the new SourceMorph PR :(

see this gist https://gist.github.com/agramfort/394e0155945261ccf3faeea0f66d8dbe
to replicate the problem.

Basically we now again only take the first label from the VolSourceEstimate ...

cc @poojaprabhu9

[2018-10-06 17:57] ImmanuelSamuel commented on #2740
![t1](https://user-images.githubusercontent.com/7865018/46574359-cfd20300-c96f-11e8-9fc8-84b0b2f400fd.png)

[2018-10-06 21:48] mmagnuski commented on #5578
@agramfort I know, my point was that `read_raw_eeglab` still uses it internally (https://github.com/mne-tools/mne-python/blob/master/mne/io/eeglab/eeglab.py#L361) and that was what I originally volounteered to change. :)

[2018-10-07 09:07] agramfort commented on #5578
that's really bad :( :(

yes please send a PR so we don't use any deprecated code.

if you have some tiny bandwidth and you work a lot with eeglab files,
can you start
drafting the PR as I did for BrainVision files (#5460)

thanks a lot

[2018-10-07 09:07] massich commented on #5578
@mmagnuski 	yes, right now all the readers use `read_events_xx` still. I think that the idea is to add `read_annotaions` + deprecate, and then swap the code.

[2018-10-07 15:37] #5205 closed

[2018-10-08 07:53] cbrnr commented on #4771
I've never used the green line either. I don't have an opinion on showing topos, if this is something people would use then we should implement it. However, we need to discuss what will happen on a right click - moving both the green line and showing a topo is not a good option.

[2018-10-08 08:41] mmagnuski commented on #4771
@cbrnr - I don't think it is not a good option if no one actually uses the green line itself. Showing topographies and the time point that they represent makes the green line useful (the line could disappear ones topos are closed for example). But I agree that it would be safer to allow to mark a time point with rightclick and separately (after pressing `t`, as in brainstorm, for example) open top

[2018-10-08 10:17] cbrnr opened #5592 "Warnings are displayed twice"
Whenever a warning is emitted, the message is shown twice because the logger also prints this information to the screen. This results into warnings that are difficult to read (e.g. it is hard to tell how many warnings occurred). For example:

[code]

Ideally, warnings should be prominently visible, but only once. I could completely disable the logger, but then I wouldn't be able to see messages wi

[2018-10-08 10:58] vivekosdd opened #5593 "How to use mne-analyze"
How to use mne-analyze gui based. Does it require to install mne-C or it works with mne python also.
Also to create a forward solution we need transformation matrix, can anyone tell me how to generate the file from mri structure file in .nii format.

[2018-10-08 11:24] Rockingsnow opened #5594 "TypeError: ch_names must be a list, tuple, or int"
When I run the sample code in Python 2.7，the error happened as follow：

[code]

[2018-10-08 11:28] vivekosdd commented on #5593
Yeah I read that. But I couldn't figure out how to launch the gui of mne_analyze.

[2018-10-08 11:30] agramfort commented on #5592
fair comment. How do you suggest to proceed?

[2018-10-08 11:32] agramfort commented on #5593
mne_analyze is a C program.

to get the coregistration you need to use in Python the "mne coreg" tool.

See doc in https://martinos.org/mne/stable/auto_tutorials/plot_forward.html?highlight=coregistration

[2018-10-08 11:32] #5593 closed

[2018-10-08 11:33] agramfort commented on #5594
@Rockingsnow I cannot replicate with current master branch:

[code]

[2018-10-08 11:47] Rockingsnow commented on #5594
@agramfort Why can you run successfully？ Is my development environment not configured right or what code is missing?

[2018-10-08 12:17] Rockingsnow commented on #5594
This is my version information:
import sys
print sys.version
print sys.version_info
2.7.13 |Anaconda, Inc.| (default, Sep 19 2017, 08:25:59) [MSC v.1500 64 bit (AMD64)]
sys.version_info(major=2, minor=7, micro=13, releaselevel='final', serial=0)

Should I  update my python to version 2.7.12 or 3.0 ?

[2018-10-08 12:41] massich commented on #5578
@mmagnuski we do not support that anymore. (see https://github.com/mne-tools/mne-python/pull/4936#discussion_r219152056), this was overcome in #5460 by charging `event_id` with functionality:

https://github.com/mne-tools/mne-python/blob/fa119971035fb8cf0f92acc98c846645d5f410d2/mne/io/brainvision/brainvision.py#L157-L159

[2018-10-08 13:19] agramfort commented on #5594
what MNE version are you using?

what does :

mne.sys_info()

gives you?

[2018-10-08 13:40] Rockingsnow commented on #5594
Recently I have updated my MNE version to the latest one —version 0.16.2 :

NAME
    mne - MNE software for MEG and EEG data analysis.

FILE
    c:\users\user\anaconda2\lib\site-packages\mne\__init__.py

PACKAGE CONTENTS
    annotations
    baseline
    beamformer (package)
    bem
    channels (package)
    chpi
    commands (package)
    connectivity (package)
    coreg
    cov
    cuda
    data

[2018-10-08 13:53] agramfort commented on #5594
you need to use the latest master version (unreleased)

See https://mne-tools.github.io/dev/advanced_setup.html#advanced-setup

use something like this:

pip install --upgrade --no-deps
https://api.github.com/repos/mne-tools/mne-python/zipball/master

[2018-10-08 14:00] Rockingsnow commented on #5594
I don't know there is also a newer version of MNE!
All right, I will try soon.

[2018-10-08 14:06] mmagnuski commented on #5578
@massich Sure, I get it, but for the eeglab reader there should be a deprecation cycle, right?

[2018-10-08 15:00] larsoner commented on #5578
@mmagnuski I agree that `event_id_func` should continue to work as it did before in `read_raw_eeglab` (albeit deprecated, along with all other stim-channel-synthesizing functionality), and in the new annotations-to-events function there should be no `event_id_func`, only `event_id`.

[2018-10-08 15:01] larsoner commented on #5594
Also the output of:
[code]
Would be helpful. This is what @agramfort was asking for. It looks like you pasted something different above.

[2018-10-08 15:11] larsoner commented on #5384
@jona-sassenhagen any chance to make this `gist` quickly? There is a PR open to take care of most of these problems and it would be great to have this test case

[2018-10-08 15:15] larsoner commented on #5384
Okay actually I think this does it:
[code]
It fails on `master` but passes on the open PR, fortunately!

[2018-10-08 18:30] larsoner commented on #5476
Closing this because it's an upstream bug, but please let us know what the solution is if/when it's sorted out

[2018-10-08 18:30] #5476 closed

[2018-10-08 21:08] ImmanuelSamuel commented on #2740
The freesurfer subject directory is too large for github. But I did try the plot_alignment and I get this
![image](https://user-images.githubusercontent.com/7865018/46633782-b7ebb200-cb1c-11e8-87ea-c76b36eace6e.png)

[2018-10-08 22:43] ImmanuelSamuel commented on #2740
OK so the problem is the alignment as you suspected.

mne.viz.plot_alignment shows:
![image](https://user-images.githubusercontent.com/7865018/46637366-e58b2800-cb29-11e8-8343-6c95bea790f3.png)

However freesurfer can properly align it
![image](https://user-images.githubusercontent.com/7865018/46637382-fcca1580-cb29-11e8-94af-92711a7546a9.png)

[2018-10-09 00:05] ImmanuelSamuel commented on #2740
Since this (using the spm canonical surfaces) had all these issues. I just went ahead and manually edited the BEM surfaces to match my T1. Now the surfaces are very much aligned
![image](https://user-images.githubusercontent.com/7865018/46639636-67348300-cb35-11e8-8813-0855c34d242f.png)

The sources are also much better. But there still seems to be some alignment issues especially in the anterior

[2018-10-09 06:49] cbrnr commented on #5592
No idea. How do other projects handle this? We could hide logging output for warnings/errors, but I'm pretty sure this is not a good solution. We could also write all logging messages to a file, which is probably also not ideal. However, if we clutter the output people will likely just ignore all messages (including really important ones).

[2018-10-09 06:59] Rockingsnow commented on #5594
After updating my MNE to the latest version——mne-0.17.dev0 :
Platform:      Windows-10-10.0.15063
Python:        2.7.13 |Anaconda, Inc.| (default, Sep 19 2017, 08:25:59) [MSC v.1500 64 bit (AMD64)]
Executable:    C:\Users\user\Anaconda2\pythonw.exe
CPU:           Intel64 Family 6 Model 63 Stepping 2, GenuineIntel: 28 cores
Memory:        31.9 GB

mne:           0.17.dev0
numpy:         1.13.1 {lap

[2018-10-09 07:32] mmagnuski commented on #5457
I've ticked off viz tutorial cause it's done. :)

[2018-10-09 07:43] #5224 closed

[2018-10-09 08:08] agramfort commented on #5594
can you open your meas_info.py file (in your mne install) and see if it
works
when you replace this line:

https://github.com/mne-tools/mne-python/blob/master/mne/io/meas_info.py#L1780

by

if isinstance(ch_names, integer_types):

making sure you import integer_types from six like this:

from ..externals.six import string_types, integer_types

[2018-10-09 08:09] agramfort commented on #5592
let's keep thinking then but I agree with the concern.

[2018-10-09 08:14] agramfort commented on #2740
you should not have to align manually anything if you rely on a freesurfer
recon (unless we have a but which is possible).

can you share data via dropbox or google drive if it's too big for github ?

[2018-10-09 09:48] Rockingsnow commented on #5594
This process is effective and my code have run successfully as well, I think that this problem may be caused by the incompatible of integral type between python 2.7 ( support int and long type) and the code of version 3.5(only support int type).
your advice does solve my problem eventually，thanks！

[2018-10-09 10:09] ImmanuelSamuel commented on #2740
Sometimes the meshes are not correct with brain surfaces that are outside the skull. In those cases some surface tweaking is necessary. Will try to get the data to you soon.

[2018-10-09 12:57] agramfort commented on #5594
great

@Rockingsnow do you want to give a try to contribute the fix to MNE with a pull request? or shall we do it?

[2018-10-09 13:27] Rockingsnow commented on #5594
I hope so, but I don't know the specific operation process or you can help me deal with it.

[2018-10-09 13:41] christianbrodbeck commented on #5592
What is the reason for adding a module-specific handler that writes to stdout? Wouldn't this issue go away by not doing that?

[2018-10-09 13:44] larsoner commented on #5592
I'm not sure what you mean. We do some module-related magic to figure out the `stacklevel` in a `warnings.warn` call but otherwise I don't think we do anything module-specific. We basically do a `warnings.warn(..., stacklevel=...)` and `logger.warning(...)`. The former is useful for seeing the stack level and parsing warnings / stderr, the latter is useful in a logging context, which for example y

[2018-10-09 13:48] christianbrodbeck commented on #5592
In the `utils` module, a new handler is added upon initialization (https://github.com/mne-tools/mne-python/blob/master/mne/__init__.py#L118). The reason the warnings are printed twice is that they are printed once by the standard Python handler (which has level WARNINGS unless changed) and then by the `mne` handler.

[2018-10-09 13:51] larsoner commented on #5592
This is not why it happens. In `utils.py` we have:
[code]
If you comment out either of those two lines, you only get one message printed.

[2018-10-09 13:52] larsoner commented on #5592
... which actually makes me realize one workaround/solution is to check if any of the `logger` handlers is a file handler. If so, send the message (and you'll get two in stdout, which is less than ideal). If not (which is the far more common use case) don't.

[2018-10-09 13:59] christianbrodbeck commented on #5592
Aah ok, sorry for my confusion then.

[2018-10-09 15:06] agramfort commented on #5594
this should help
https://mne-tools.github.io/dev/contributing.html?highlight=contributing

and more generally for learning github :
https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2018-10-09 19:14] #5382 closed

[2018-10-09 21:56] jasmainak commented on #2811
I think this can be closed as it's addressed by #5531

[2018-10-09 23:58] #2811 closed

[2018-10-10 06:57] #5592 closed

[2018-10-10 08:30] massich opened #5599 "unify treatment of deprecation warnings in the tests"
Based on https://github.com/mne-tools/mne-python/pull/5580/#discussion_r223900833 discussion.

The contribution guide https://mne-tools.github.io/stable/contributing.html?highlight=contribute recommends how to deprecate a functionality but not how to test it. Therefore, we find `pytest.deprecated_call` and ` pytest.warns(DeprecationWarning` in our code base.

[code]
we should unify it and document

[2018-10-10 09:29] massich commented on #5599
for completeness

[code]

[2018-10-10 10:19] massich commented on #5594
@Rockingsnow if you need help when attempting you swing by https://gitter.im/mne-tools/mne-python

[2018-10-10 10:37] massich commented on #5539
Closing as solved, @erfpak7 feel free to reopen if you still have troubles

[2018-10-10 10:37] #5539 closed

[2018-10-10 11:41] dasdiptyajit opened #5600 "mne coreg issue"
When running with 0.17.dev0: mne coreg,  I got the following error:

**Error:**
Triangle neighbors and vertex normals...
Copying fsaverage subject from freesurfer directory...
Exception occurred in traits notification handler.
Please check the log file for details.
Exception occurred in traits notification handler for object: <mne.gui._file_traits.SubjectSelectorPanel object at 0x7ff718ef2780>, tr

[2018-10-10 13:00] massich commented on #5599
I totally agree that's why open an issue at pytest.

[2018-10-10 13:03] massich commented on #5599
From now on, I'll write `pytest.deprecated_call` (with match=`xx` even if its not working yet) and let this issue for a newcomer.

[2018-10-10 13:03] larsoner commented on #5599
Sounds good

[2018-10-10 13:05] massich commented on #5599
I tried to find the `good first issue` label, etc.. those that github recommend, but they were not there and I decided that I would do it at some other point.

[2018-10-10 13:11] larsoner commented on #5599
We just use the EASY label for that

[2018-10-10 13:42] larsoner commented on #5600
The segfault is a bummer, you can try
[code]

But it looks like there is also a problem where you don't have permissions to modify the `SUBJECTS_DIR`. You should probably use a different directory where you have write permissions.

[2018-10-10 14:55] dasdiptyajit commented on #5600
@larsoner  I have updated mayavi (i.e., 4.7.0.dev0)  and resolved the write permissions. Now I have the following error:

/home/diptyajit/anaconda3/envs/mne/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv i

[2018-10-10 17:53] JohnDoenut commented on #5594
I have the same issue. However, @agramfort 's fix
[code]
doesn't solve the issue.

[code]
Platform:      Windows-7-6.1.7601-SP1
Python:        2.7.15 |Anaconda custom (64-bit)| (default, May  1 2018, 18:37:09) [MSC v.1500 64 bit (AMD64)]
Executable:    C:\Users\Public\Anaconda2\pythonw.exe
CPU:           Intel64 Family 6 Model 78 Stepping 3, GenuineIntel: 4 cores
Memory:        7.9 GB

mne:

[2018-10-10 17:59] larsoner commented on #5594
The `integer_types` is probably not as robust as:
[code]
can you try that fix?

Also updating to latest `mne` master you will get a more informative message saying what the errant type is

[2018-10-10 18:50] teonbrooks commented on #5519
closing. bug fix in https://github.com/mne-tools/mne-python/pull/5570 and implemented in https://github.com/mne-tools/mne-bids/pull/102

[2018-10-10 18:50] #5519 closed

[2018-10-10 20:53] larsoner commented on #5600
Does this work for you:

from mayavi import mlab
mlab.test_plot3d()

?

[2018-10-11 05:00] JohnDoenut commented on #5594
Still throws the same error when I

[code]

and insert

[code]
immediatly above https://github.com/mne-tools/mne-python/blob/master/mne/io/meas_info.py#L1780

[2018-10-11 07:14] agramfort commented on #5594
@JohnDoenut can you tell us what is ch_names (type and value) before the try?

[2018-10-11 09:10] dasdiptyajit commented on #5600
@larsoner its a bit strange. But I got different results:

**mayavi 3d visualizer looks fine**
![mayavi_viz](https://user-images.githubusercontent.com/43450258/46793234-8144b000-cd45-11e8-938d-d4846941a0a7.png)

**Using python 3.6, the plot looks fine as well **
![python console](https://user-images.githubusercontent.com/43450258/46793285-a1746f00-cd45-11e8-8c37-5f05645a46d1.png)

However,
**In ip

[2018-10-11 09:48] ezemikulan commented on #5375
Hi all, I had a similar problem and I fixed it by [installing the NVIDIA drivers](https://linuxconfig.org/how-to-install-the-nvidia-drivers-on-ubuntu-18-04-bionic-beaver-linux). Hope it helps.

[2018-10-11 09:56] agramfort commented on #5600
@prabhuramachandran any idea?

[2018-10-11 12:01] ImmanuelSamuel commented on #2740
@agramfort were you able to look into this?

[2018-10-11 12:32] agramfort commented on #2740
did you share anything with me? I don't know how we can replicate the pb

[2018-10-11 12:47] larsoner commented on #5600
In IPython did you try `%gui qt` as suggested [in the install docs](http://mne-tools.github.io/dev/install_mne_python.html#check-that-everything-works)?

[2018-10-11 12:55] dasdiptyajit commented on #5600
yes, it's working now with Ipython.I am not sure if it's a mayavi issue. mne coreg is still not fixed.

**Still getting the following error:**

corrupted double-linked list
Fatal Python error: Aborted

Thread 0x00007faeb22e9700 (most recent call first):
  File "/home/diptyajit/anaconda3/envs/mne/lib/python3.6/threading.py", line 295 in wait
  File "/home/diptyajit/anaconda3/envs/mne/lib/python3.6/

[2018-10-11 12:59] ImmanuelSamuel commented on #2740
Yes, in the last post I had posted the link with the data.

[2018-10-11 13:59] prabhuramachandran commented on #5600
@agramfort -- I guess @larsoner has answered the issue the OP was facing with spyder/ipython.  As regards the long error, I have no idea what is wrong.

[2018-10-11 17:09] JohnDoenut commented on #5594
the data.shape[-2] argument taken by create_info in meas_info.py pertains to

xtrain.get_data()
[code]
gives 62L

[2018-10-11 18:29] larsoner commented on #5594
What is `type(np.long(10))` and `type(operator.index(np.long(10)))`? I'm surprised that the `operator.index` fix does not take care of this.

[2018-10-11 18:34] larsoner commented on #5594
Actually instead could you try #5603 to see if it fixes your issue?

[2018-10-11 18:58] JohnDoenut commented on #5594
I applied the fix again, this time correctly as in https://github.com/mne-tools/mne-python/pull/5603.
I didn't remove
[code]
before.

This solves the ch_names issue.

However, another error occurs:

runfile('C:/Users/John Doe/surfdrive/Alpha/code/pre_processing/FBCSP.py', wdir='C:/Users/John Doe/surfdrive/Alpha/code/pre_processing')
Reading all_trials_raw-epo.fif ...
    Found the data of interest

[2018-10-11 19:11] massich opened #5604 "Negative meas_date in gdf2 example"
I was not expecting 'meas_date' to be negative. Is this a bug? or that this example indeed has negative meas_date?

#### Steps and/or code to reproduce
[code]

[2018-10-11 21:22] #5594 closed, assigned to Rockingsnow

[2018-10-12 16:07] #5384 closed

[2018-10-12 16:58] alexrockhill opened #5605 "Colorbar scale changes intermediate values in stc.plot"
The colorscale between the left, right and middle points changes around per the example:

import mne
data_path = mne.datasets.sample.data_path()
fname = data_path + '/MEG/sample/sample_audvis-meg'
stc = mne.read_source_estimate(fname)
fig = stc.plot(subjects_dir=data_path+'/subjects/',subject='sample',hemi='both',views=['lat'],colormap='mne')
fig.save_movie('test.gif',time_dilation=10)
fig.close()

[2018-10-13 07:34] agramfort commented on #2740
I have your files. thanks. Can you share a script working from the files so
I can easily replicate and investigate?

[2018-10-13 07:47] agramfort commented on #5604
pb is here:

https://github.com/mne-tools/mne-python/blob/master/mne/io/edf/edf.py#L899

if date is not present we use:

date = datetime.datetime(1, 1, 1)

and then we use:

meas_date=(calendar.timegm(date.utctimetuple()), 0)

which leads to a negative meas_date....

basically we can fix this as it's negative as we fixed a bad date by default.

[2018-10-13 07:57] sappelhoff opened #5607 "[Feature Request] expose original units for each channel in BaseRaw"
Upon reading a raw data file, MNE-Python converts the units to e.g., Volts (and others, see [here](http://martinos.org/mne/stable/manual/io.html)).

It would be good to expose the channel wise units as they are in the original data file within the `BaseRaw` object.

Concretely, we need this in MNE-BIDS, see: https://github.com/mne-tools/mne-bids/issues/81

[2018-10-13 15:15] agramfort commented on #5607
you need this for what file format?

[2018-10-13 16:37] #4957 closed

[2018-10-14 08:05] sappelhoff commented on #5607
for EEG:
- BrainVision (.vhdr / .vmrk / .eeg)
- EDF / BDF
- Neuroscan (.cnt)
- EEGLAB (.set / .fdt)

for MEG it depends a bit in BIDS, all MEG file formats are accepted (i.e., no restrictions like we have in EEG). So for MEG, we need the requested feature for all file formats, that natively save data in a unit that is different from the one that MNE-Python converts to.

[2018-10-14 09:55] agramfort commented on #5607
you need to have this availble in the raw object or just a public function
like read_xxx_header than you can use in mne-bids?

[2018-10-14 10:01] sappelhoff commented on #5607
both would be fine, but a `read_xxx_header` public function could potentially return a lot more information and could be helpful for other issues as well.

On the other hand, this would mean many new functions (one per data format), while making the information available in `BaseRaw` would need adding a few private lines of code within each data reader in the IO module.

Are you more inclined to h

[2018-10-14 11:06] larsoner commented on #5607
`read_xxx_header` would probably require refactoring raw readers and, probably more annoyingly, introducing a bunch of otherwise unnecessary public functions. After all, `read_xxx_raw(..., preload=False)` is already very close to what the `read_xxx_header` would do and `raw.info` is very close to what it would return (though also annoyingly, not quite identical because it would also need to give t

[2018-10-14 17:29] agramfort commented on #5607
ok then. Why not for _orig_units attributes. Note that there is also the
cals array that scales the data to V so maybe this can he used too.

[2018-10-15 10:38] massich commented on #5406
just some questions:

1. whats the difference between `examples` and `tutorials`?
2. if we have a tutorials section shouldn't we have a direct link in the website bar?
![image](https://user-images.githubusercontent.com/7044835/46946153-24176a00-d077-11e8-97be-5703f39460a8.png)

[2018-10-15 10:39] massich commented on #5406
maybe tutorials should only be some narrative linking examples.

[2018-10-15 13:28] larsoner commented on #5406
Tutorials generally have more narrative and explanation of core concepts, examples generally are more script demos to show how to do something more advanced

[2018-10-15 15:44] #5604 closed

[2018-10-15 21:10] bloyl commented on #5342
similar to #5610

if possible we should check that covariance objects match the compensation grade of data they are being applied to.

[2018-10-16 07:55] dengemann commented on #5359
Hi there! An attendee of the MNE workshop in Lyon just made me aware of this issue that is currently preventing her from switching to MNE-Python from EEGLAB :) Do we know if this has been fixed already? cc @larsoner @agramfort @GalaChen

[2018-10-16 09:34] wmvanvliet opened #5611 "ENH: ability to pass a list of files to `read_raw_*`"
#### Describe the problem
During long recording sessions, raw files are often split up into parts. In the FIFF format, these parts will link to each other and MNE-Python will read all of them. However, maxfilter destroys this link and other fileformats don't have such functionality in the first place.

#### Describe your solution
The various `read_raw_*` functions should also be able to take a lis

[2018-10-16 11:05] cbrnr opened #5612 "Compute t/f representation with variable-length epochs?"
In many studies we conduct, people solve simple arithmetic problems. I am interested in EEG activity during the problem solving phase, which differs in length (1) from epoch to epoch and (2) from person to person.

These variable-length epochs are problematic, because I cannot simply compute a t/f representation with standard MNE functionality. Since I am mainly looking at oscillatory activity in

[2018-10-16 12:06] larsoner commented on #5359
Has she tried latest `master`? It's possible it has been fixed in `master`. I don't think anyone else has been able to reproduce

[2018-10-16 12:28] larsoner commented on #5611
-1 on this, we already have `concatenate_raws` and `raw.append` to take care of this. The fact that we can do or get close to this list-like behavior in the FIF code is either a historical accident or something special about the file format (can't remember which) -- either way, not something we should advertise / advocate over the standard existing method.

[2018-10-16 12:32] larsoner commented on #5342
Unfortunately for `cov` IIRC we don't store the actual `info['chs']` field, just the `ch_names` so we can't check the grade

[2018-10-16 13:50] agramfort commented on #5611
I agree with @larsoner

we should try to have only one recommended way to do things.

[2018-10-16 14:07] agramfort commented on #5342
so are we screwed? what are your thoughts?

[2018-10-16 14:13] agramfort commented on #5612
I've seen people doing binning of epochs by length.

[2018-10-16 14:17] larsoner commented on #5342
I'll have to look deeper at the code and the output. For example if we always store the uncompensated one, then it can be compensated then picked on the fly. It's possible this already happens, I haven't checked

[2018-10-16 14:37] massich commented on #5359
@dengemann if not fixed in master, create a toy example that reproduces what prevents her from switching and we'll make it happen.

[2018-10-16 15:00] massich commented on #4771
I don't, for me it works in master.
[code]
left click somewhere in one of them, and the green line moves. See:
![image](https://user-images.githubusercontent.com/7044835/47026029-daa54880-d164-11e8-9d42-8eb6530cc2b3.png)

[2018-10-16 15:02] dengemann commented on #5342
@agramfort @larsoner greets from Lyon. People run into this issue and it blocks their progress in adopting MNE :) essentially what we see is that you have to drop the ref channels in order to apply refs. We see that excluding the reference channels is hard-coded that https://github.com/mne-tools/mne-python/blob/master/mne/proj.py#L74. I'm wondering what is the right thing to do here ...

[2018-10-16 15:48] dengemann commented on #5342
We can see if we can repeat it on CTF sample data. What we see is that computing projs and applying them is broken if ref channels are present because the proj by default excludes them.

[2018-10-16 16:08] #4771 closed

[2018-10-16 17:17] #5611 closed

[2018-10-16 18:09] alexrockhill opened #5614 "Epochs filtering error likely due to save/load data typing"
raw = mne.io.read_raw_fif(mne.datasets.sample.data_path() + '/MEG/sample/sample_audvis_raw.fif')
events = mne.find_events(raw)
epochs = mne.Epochs(raw,events)
epochs.save('test-epo.fif')
epochs = mne.read_epochs('test-epo.fif')
epochs = epochs.filter(l_freq=None,h_freq=40)

Gives the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "<string>", line

[2018-10-16 19:28] alexrockhill opened #5615 "Add Read .bvct montage files"
I added the functionality to the read_dig_montage file below, but I was not able to write tests because there are no MNE sample .bvct files. I attached a sample .bvct file and a test could be the following if a bvct file could be made from the raw montage. It would be quite a bit of work however to reverse engineer a bvct file.

----------------------------
test
----------------------------
import

[2018-10-16 20:00] agramfort commented on #5615
please open a pull request and see the guidelines we offer for contributing.

thanks

[2018-10-16 20:04] alexrockhill commented on #5615
Hi Alex,

   I just submitted a pull request, I just added more detail about
potentially adding a test in an issue.

Thanks,

Alex

On Tue, Oct 16, 2018 at 4:01 PM Alexandre Gramfort <notifications@github.com>
wrote:

[2018-10-16 20:10] agramfort commented on #5614
I confirm the pb with current master :(

@larsoner can you have a look? it's related to our recent support for
complex numbers in epochs fif files. We should force conversion to
double precision when putting in memory.

[2018-10-16 21:37] ktavabi opened #5618 "Modify subprocess error/info"
On a machine without `tcsh` installed `run_subprocess(['mne', 'make_scalp_surfaces', '--subject', subject])` returns following:

...
subprocess.CalledProcessError: Command '['mne', 'make_scalp_surfaces', '--overwrite', '--subject', 'sample', '--force']' returned non-zero exit status 1.

Would a PR to make error message more meaningful be useful?

[2018-10-17 00:41] larsoner commented on #5614
That is double precision it's just a different endianness. Should be an easy fix, yes I can look

[2018-10-17 01:00] jeythekey commented on #4856
Hi,
I have just made some comments to this #5114 docstring commit, after having dived through the ICA code the whole day in order to get a more profound understanding of what is going on with the different component-settings. What actually provoked this undertaking were two mistakes in the specification of the pca_components_-shape in the doc.

@cbrnr, maybe you could review and consider it? See h

[2018-10-17 01:02] larsoner commented on #4856
@jeythekey can you make a PR to fix the problems you've identified?

[2018-10-17 07:02] cbrnr commented on #5612
Hm. I think the problem is that the t/f map is computed by averaging over epochs. Therefore, filling with NaNs to make all epochs the same length would probably work, but this would be different from what I'd like to achieve. Ideally, each epoch should contain 100% of the process of interest. If I fill the shorter epochs with NaNs, averaging will not average activities of the processes correctly.

[2018-10-17 09:37] cbrnr opened #5619 "Adding a reference does not work after a montage has been set"
The order in which you perform assigning a montage and adding a reference matters, which probably shouldn't be the case.

Consider the following example using the testing data from `mne/io/brainvision/tests/data/test.*` (the first two lines could be combined by supplying the `montage` argument in the call to `mne.io.read_raw_brainvision`):

[code]

This assigns the montage first and then adds a ne

[2018-10-17 10:46] jeythekey commented on #4856
OK, done so (my first one ;):  #5620

[2018-10-17 12:04] agramfort commented on #5619
indeed. Do you have time to fix this?

[2018-10-17 12:06] agramfort commented on #5618
I don't think it's related to tcsh. Is freesurfer sourced properly in
the tcsh shell?

[2018-10-17 12:10] agramfort commented on #5612
what do you mean stretch / scale?

no sorry I don't have published work in mind, but do you understand what I
mean?

[2018-10-17 13:18] jona-sassenhagen opened #5621 "plot_compare_evokeds is missing the channel location plot"
for a few workshop attendants.

[2018-10-17 14:13] massich opened #5623 "open new issue from the code no longer works"
Normally issues can be open from the code.

i.e: get a line in mne-tools/mne-openmeeg, clik and open an issue:

![image](https://user-images.githubusercontent.com/7044835/47092409-3932fb00-d227-11e8-9285-3d2ddc13f035.png)
![image](https://user-images.githubusercontent.com/7044835/47092419-3d5f1880-d227-11e8-9b14-74901f123342.png)

However in mne-tools/mne-python,
![image](https://user-images.githu

[2018-10-17 14:20] massich opened #5624 "`has_dataset` in mne.datasets.uitls crashes"
#### Describe the bug
This is not working:

https://github.com/mne-tools/mne-python/blob/9df12aa57dce2a75ba619c90abc6a6547dde9997/tutorials/plot_brainstorm_phantom_ctf.py#L45

#### Steps and/or code to reproduce
Please provide a code snippet or [minimal working example (MWE)](https://en.wikipedia.org/wiki/Minimal_Working_Example)
to replicate your problem.

This MWE should be self-contained, which

[2018-10-17 14:28] larsoner commented on #5605
This looks like a gif palette / saving problem. the colorbar "changes" in that which parts get which value differ from frame to frame. The same phenomenon happens in the "old pysurfer" case, it's just less obvious. Look closely and you'll see it.

[2018-10-17 14:37] larsoner commented on #5605
... in other words, it's going to be a problem with `imageio.mimwrite` and/or the `gif` format.

In this case, using `subrectangles=True` works around the problem (since the colorbar is outside the "changing rectangle" from frame to frame)
[code]

![test](https://user-images.githubusercontent.com/2365790/47094129-a2e7e080-d1f8-11e8-943d-9c3821fdabbc.gif)

I don't think there is anything to fix at

[2018-10-17 14:37] #5605 closed

[2018-10-17 14:46] massich commented on #5624
## Here is how to contribute to MNE by solving this issue:
First, let me tell you that **We are really thankful for your contribution**

- [ ] Read our contribution guide
- [ ] Replicate the problem
- [ ] fork mne-python
- [ ] write a test
- [ ] write a fix
- [ ] Open a PR.

## Here are some things that might be helpful:

From an interactive python console, this works:
[code]
However using a test

[2018-10-17 15:37] teonbrooks commented on #4950
moving discussion from https://github.com/mne-tools/mne-bids/issues/12 here.

I updated @jasmainak's checklist above. did we resolve the anonymization step?

[2018-10-17 15:42] agramfort commented on #5615
can you share a tiny file so i can have a look?

[2018-10-17 15:45] QB3 opened #5627 "ENH: Add `overwrite` parameter in epochs.save as in raw.save"
#### Describe the problem
* The `save` method of the `raw` object has  parameters   `fname` (string) and `overwrite` (boolean) stating if you want to overwrite a file with the name `fname`.
* However the `save` method from the `epoch` object has no such `overwrite` parameter.
* I would expect the API to behave the same.

See these two parts of `plot_introduction.py`:

https://github.com/mne-tools/

[2018-10-17 15:51] larsoner commented on #5627
@QB3 can you make a PR to add this option?

[2018-10-17 16:14] alexrockhill commented on #5615
Sure, here is a gist https://gist.github.com/alexrockhill/d6dacee5efe20bac76ab81f0438f5667. Sorry I think the copy and paste in the issue text ruined the formatting.

[2018-10-17 16:37] alexrockhill commented on #5615
Just to be clear, this is a montage file but it's for a 96 channel EEG setup so it won't work with the sample MNE raw files as their montage. There lies the rub of producing a test, either I need a bvct file from an existing montage file in another format for a MNE raw sample file or (not an option, I know) I would need to add a raw sample file for which I have the bvct montage. Maybe you can thin

[2018-10-17 16:43] alexrockhill commented on #5605
Sure, will do the PR. Thanks for the work-around!

[2018-10-17 19:01] ktavabi commented on #5618
I believe so. Have always sourced it as `source $FREESURFER_HOME/SetUpFreeSurfer.sh`. But now we can't reproduce it on the said machine after removing `tcsh`.  Must have been a ghost between keyboard and chair 😕 Sorry for the inconvenience. Closing this down.

[2018-10-18 06:03] cbrnr commented on #5612
To compute a t/f map, I need to average over epochs of the same length. If I have variable-length epochs, I need to scale them so that they are the same length. In the audio domain, such algorithms are known as time stretching (see e.g. [here](https://breakfastquay.com/rubberband/)). I tried applying such an algorithm to EEG epochs, but it doesn't work since this approach seems to be optimized for

[2018-10-18 06:08] cbrnr commented on #5619
I didn't know that `info['dig']` is needed in the referencing process, why is this necessary? I'm +1 on tackling this properly instead of a quick fix - is anyone working on this?

[2018-10-18 06:09] cbrnr commented on #5281
Closing since we already added everything.

[2018-10-18 06:09] #5281 closed

[2018-10-18 10:19] larsoner commented on #5619
It's not needed for reference calculation. I assumed the problem you mention had to do with the location in space not being set. The error message might be misleading on this point, but I suspect it's the underlying problem.

Also I realized dig does not say which channel each point is associated with so the fix I proposed won't work. I can't think of a clean solution. We could hack something like

[2018-10-18 15:15] #5614 closed

[2018-10-18 16:05] thht commented on #4833
the PR is merged. what is "missing" is importing source, freq and tfr data. but frankly, i do not have time to work on that in the near future. so i would like to close the issue.

@agramfort is that ok with you?

[2018-10-18 16:08] larsoner commented on #4833
Easier to ask forgiveness than permission :)

[2018-10-18 16:08] #4833 closed

[2018-10-18 18:14] sappelhoff opened #5629 "Line not reached in BrainVision"
I don't have a concrete bug report, but while scanning the BrainVision reader for a good way to solve #5607, I found these lines:

https://github.com/mne-tools/mne-python/blob/f4096adaf2646da32e6d2f5536e74c14b312ad5f/mne/io/brainvision/brainvision.py#L690-L697

Note that line 696 and 697 are never reached due to lines 690 and 691.

[2018-10-18 18:15] sappelhoff commented on #5623
I have encountered this as well and it's been there ever since we introduced the templates. Would be nice to fix it ... +1

[2018-10-18 21:37] ktavabi commented on #5618
@agramfort FWIW I uninstalled `tcsh` and encountered this TB again, and resolved once tcsh was reinstalled. Not sure what this can be?

[2018-10-18 21:50] alexrockhill commented on #5605
Using subrectangles = True, gives me some really weird results. See the home page of https://github.com/alexrockhill/MEEGbuddy for instance. Any idea what's going on?

[2018-10-18 21:53] larsoner commented on #5605
Some conversion problem. I'd try saving to another format.

[2018-10-19 06:31] cbrnr commented on #5619
I agree that updating the documentation is the way to go here. I think a clear warning message would mention that you cannot add a new channel because a montage has already been set, and therefore the montage needs to be re-applied.

Alternatively, what about this hack: if the user adds a channel after a montage has been set, we could automatically re-apply the montage if we knew the montage name

[2018-10-19 07:04] agramfort commented on #5619
I prefer the clear doc + warning approach than the more magical one.

[2018-10-19 08:20] sappelhoff commented on #5607
Listing the lines of the respective data readers, from where the original units could be forwarded to some `_orig_units` attribute.

# BrainVision

# EDF
https://github.com/mne-tools/mne-python/blob/f4096adaf2646da32e6d2f5536e74c14b312ad5f/mne/io/edf/edf.py#L639

# Neuroscan

# EEGLAB

[2018-10-19 08:58] massich opened #5630 "easy to find mne-c commands download button."
The download button of MNE-C commands is kind of hard to find. Maybe we should place a big colorful button somewhere.

https://github.com/mne-tools/mne-python/blob/master/doc/install_mne_c.rst#L8

see how its rendered so far:
![image](https://user-images.githubusercontent.com/7044835/47208463-22f37f00-d38e-11e8-9ad6-fc9027bfcd1f.png)

[2018-10-19 09:32] massich opened #5631 "[DOC] forward.rst pointing to C API"
When rendered, the [this](https://github.com/mne-tools/mne-python/blob/master/doc/manual/source_localization/forward.rst#creating-a-surface-based-source-space) snipped (copied at the end and that renders as [this](https://mne-tools.github.io/dev/manual/source_localization/forward.html#creating-a-surface-based-source-space)) ``:ref:`mne_make_source_space` `` points to the C API here: https://mne-to

[2018-10-19 09:53] hubertjb commented on #5631
Just checked the link, and here are all the C API references:

- mne_make_source_space
- mne_setup_source_space
- mne_surf2bem
- mne_setup_forward_model
- mne_prepare_bem_model
- mne_do_forward_solution
- mne_forward_solution
- mne_average_forward_solutions

[2018-10-19 10:01] massich commented on #5619
I don't mind teaming up with someone to approach this after we release. It would bring me light to a part of the io that is still shady to me.

[2018-10-19 11:13] larsoner commented on #5619
@massich that would be awesome. Feel free to read the discussion in #3893, it contains the proposal.

[2018-10-19 11:14] larsoner commented on #5631
They should probably contain refs to the MNE-Python version and the MNE-C version.

[2018-10-19 11:28] agramfort commented on #5618
if you call mne shell scripts or freesurfer they were written for tcsh

[2018-10-19 11:31] agramfort commented on #5607
can you give a try to a PR?

[2018-10-19 11:36] agramfort commented on #5631
yes this file needs to be rewritten to point first to the python version

[2018-10-19 11:37] agramfort commented on #5627
PR very welcome indeed !

[2018-10-19 11:47] agramfort commented on #5612
if you cannot tell when things happens as it varies I would use a CSP,
average the (log)power in CSP "source space" and see if you have a
statistical effect in this "feature space"

[2018-10-19 12:51] massich commented on #5631
yes, its hard to follow and the instructions are not propper. (i.e: it tells you to run a script and to set the variables, that this script needs afterwards.)

[2018-10-19 13:06] massich opened #5632 "Math rendering in snr estimate documentation"
see this:
https://martinos.org/mne/stable/generated/mne.minimum_norm.estimate_snr.html?highlight=estimate_snr#mne.minimum_norm.estimate_snr

![image](https://user-images.githubusercontent.com/7044835/47219687-c86b1a80-d3af-11e8-80dc-601c65ec8503.png)

The issue has been replicated by @sappelhoff @tjochmann and @larsoner .

@larsoner pointed in gitter that these type of things can come from MathJax

[2018-10-19 13:06] larsoner commented on #5632
This is fixed in master

http://mne-tools.github.io/dev/generated/mne.minimum_norm.estimate_snr.html#mne.minimum_norm.estimate_snr

[2018-10-19 13:06] #5632 closed

[2018-10-19 13:31] larsoner commented on #5629
I'm not convinced these can never be reached, `props = (..., ..., ..., '')` would reach these lines

[2018-10-19 13:34] sappelhoff commented on #5629
okay, thanks @larsoner I wasn't aware that an empty string evaluates to None. Sorry for pulling your attention needlessly Teon

[2018-10-19 13:34] #5629 closed

[2018-10-19 13:37] larsoner commented on #5629
Evaluates to `False` in a boolean, yeah (in general any built-in with `len(...) == 0` will do so).

[2018-10-19 13:51] cbrnr commented on #5612
Hm, not sure I understand how that would work. I'll try playing around a bit with dynamic time warping (e.g. using [fastdtw](https://github.com/slaypni/fastdtw)). I think DTW could be applied to each single-epoch spectrum to make them the same length, after which they could be averaged just like normal. I think that's what EEGLAB is doing. If I come up with something useful I'll report back, maybe

[2018-10-19 15:16] massich opened #5635 "Install MNE-C using ZSH"
I'm trying to install **MNE-C** (`MNE-2.7.3-3268-Linux-x86_64`) in this machine:
[code]
using a `ZSH` shell.

It is known it is known that `zsh`, `bash`, `tcsh` and other shell languages differs but `#!/bin/blabla` in the top of the scripts should account for that. But I don't really think is working in my system.

the documentation says to execute:
[code]
but this wont work. However, this should

[2018-10-19 19:53] agramfort commented on #5615
I would trim down this file to keep only LPA, RPA, NASION, GRD and FPz in
the xml file
then use this much shorter file for testing.

see this
https://github.com/mne-tools/mne-python/blob/master/mne/channels/tests/test_montage.py#L136
for inspiration

[2018-10-19 20:26] jona-sassenhagen opened #5636 "DOC Be more accurate for 1-sample Monte Carlo-sampling based tests"
We must be careful regarding how we document the one-sample permutation test. What exactly is the null hypothesis?

After some comments from Eric Maris and discussion with @larsoner , it seems we should be really careful so not to lead people into writing false things in their methods sections.

See e.g.

https://mne-tools.github.io/dev/generated/mne.stats.permutation_cluster_1samp_test.html#mne.s

[2018-10-19 20:36] jona-sassenhagen commented on #5612
FWIW I'd love support for TF decomposition of raws, and support for operating on continuous TF data.

But that's a big project that probably few will benefit from.

[2018-10-19 20:48] jasmainak commented on #5621
I think it would be great to have a test accompany the fix. Thanks @jona-sassenhagen !

[2018-10-19 20:51] jona-sassenhagen commented on #5621
I'm not sure how to test this. The problem is that the figure looks different. We don't test for that anywhere.

[2018-10-19 20:58] jasmainak commented on #5621
yeah never mind then. I approved the PR ...

[2018-10-19 21:38] erfpak7 opened #5637 "inverse operator’s source space in 3D"
I would like to compute sLoreta and Inverse solution by which I can make a 3D source space as follow:
http://www.martinos.org/mne/stable/auto_examples/inverse/plot_read_inverse.html

However, I do not have a .fif file and I just use a .txt file converted to MNE structure. It would be great if someone lets me know how I can make an inverse operator output without fif file. Because even the **"apply

[2018-10-20 06:15] agramfort commented on #5637
you want to do source localization without MRI using only EEG standard locations?

[2018-10-20 07:02] agramfort commented on #5636
and we should also clean up / improve all our statistics examples
http://martinos.org/mne/stable/documentation.html#collapse_statistics
some of them have not been touched for years and we have now much better
datasets for educational purposes

[2018-10-20 07:11] #5621 closed

[2018-10-20 08:15] agramfort commented on #5612
you mean viz or computation? what is the use case?

[2018-10-20 08:55] jona-sassenhagen commented on #5612
A few examples:

- rERSP (time-resolved regression in the time-frequency domain)
- time-frequency analysis with dense spacing of events - maybe you'll end up decomposing every sample 5 times ...
- this thread :)

[2018-10-20 09:07] agramfort commented on #5612
provide me a nice dataset one could use for demo / education and we'll
see how to make this happen.

You convinced me of the necessity of metadata with the kiloword dataset ...

[2018-10-20 12:31] agramfort commented on #5635
cc @buildqa @mshamalainen

[2018-10-20 14:06] #5282 closed

[2018-10-21 17:47] erfpak7 commented on #5637
@agramfort Yes, that's what I'm looking for

[2018-10-22 06:42] cbrnr opened #5640 "Add option to save annotations as plain text"
Currently, annotations can only be saved to a FIFF file. Since this is a format that can't be read outside of MNE easily, an option to save annotations as plain text would be very useful. I can work on this if you think this should be added (e.g. as an optional argument to `annotations.save`, for example `format="CSV"` or `kind=`text` or `type=`TXT` - let me know what you prefer). @massich what do

[2018-10-22 10:58] thht opened #5642 "BUG: Manipulating the times property of Epochs results in wrong data after average if data was not loaded."
#### Describe the bug
An `Epochs` object has a `times` property that can be modified. The effect of modifying this property is inconsistent, depending on whether the `Epochs` object has preloaded data (i.e. `load_data`) was called or not.

I created a test for this bug: https://github.com/thht/mne-python/blob/th/test_timeshift_master/mne/tests/test_timeshift.py

[2018-10-22 14:42] massich opened #5643 "BUG: Projection vectors"
Some projections do not plot properly. When executing the following lines, the data of the first projection gets substituted by a vector of zeros (see figure)

[code]

![image](https://user-images.githubusercontent.com/7044835/47297855-9a3b4400-d616-11e8-881d-b427b34b2a52.png)

Please find the data in [this dropbox folder](https://www.dropbox.com/sh/8e07r7a22rzwv34/AAC5pVEPfl7Q-9ccJPW6oUKZa?dl=0)

[2018-10-22 14:42] massich commented on #5643
So far I found that the problem is here:
https://github.com/mne-tools/mne-python/blob/2636aa90eb364a41931bfd31b34a03e9fc042b0e/mne/viz/topomap.py#L310

at this point data still contains meaningful information:
[code]
However, `grad_pairs` takes all but the values that contains data.

what am I missing?

[2018-10-22 14:57] larsoner commented on #5643
I don't understand as I responded to #5641, but the issue seems to be that this is a `mag` projector being shown with grad pairs. Setting `ch_type` should fix it, but this should be detectable.

[2018-10-22 15:03] massich commented on #5643
(@larsoner yes that was in #5641 but for whatever reason, I could not even see my own comment nor any college in the lab. So I made an issue with the same content)

from @agramfort, changing this makes it work:
[code]
![image](https://user-images.githubusercontent.com/7044835/47300259-551a1080-d61c-11e8-892c-b716c724c324.png)

[2018-10-22 15:18] massich commented on #5643
Similar thing happens here:
https://github.com/mne-tools/mne-python/blob/2636aa90eb364a41931bfd31b34a03e9fc042b0e/mne/viz/tests/test_topomap.py#L120

the resulting topomap is full blue, and the same thing happens. At the moment of calling `plot_proj_topomap` there's data in it. But when calling `plot_topomap(data, ..` data is an array of 0s.
[code]
[code]

[2018-10-22 16:36] agramfort commented on #5640
yes +100 to have a way to write them as CSV.

question is how to store the date/instant/onset wrt orig_date ? should we
do it the brainvision way?
we should be able to write time stamps I think.

thoughts?

[2018-10-22 16:55] agramfort commented on #5637
then it's not straightforward to do with MNE currently. Sorry.

Maybe someone else can share some tips to do it but there is still no
tutorial to achieve what you want.

[2018-10-22 16:55] agramfort commented on #5642
you should not be allowed to do: epochs1.times += t_shift

epochs.times should be read only as it's obtained from tmin, tmax and sfreq

can you open a PR to make sure epochs.times is read only?

[2018-10-22 17:44] alexrockhill commented on #5605
For my application, I just wrote custom code to make gif with the colorbar stationary. For reference, the code is below as well as in aforementioned MEEGbuddy github page. If you want to incorporate this into stc.plot, I would be willing to submit a pull request but otherwise, I'm assuming most other people will not need a gif, and so the documentation could just say save in another format if usin

[2018-10-22 23:12] buildqa commented on #5635
The hash bang at the top of a script  tells exec what program to use by default to interpret the script.  But the hash bang line is ignored when you source a script via either the builtin "source" or "." directive.  (BTW "." will search for the script in $PATH if there is no slash in the script argument while "source" I don't think does a $PATH search).  So while in csh you can run a bash script,

[2018-10-23 06:32] cbrnr commented on #5640
I never needed to set this value because annotations are always tied to a specific raw file for me. What is the use case of writing out a specific value instead of always taking onset 0 (in the annotations object) to mean the start of the raw recording? For example, if I do `raw.crop`, annotation onsets are automatically adjusted, so there should be no need for this field.

[2018-10-23 07:09] thht commented on #5642
ok, i can do that. however, i have a current use case in which it would be very beneficial for the logical flow of my analysis to be able to correct for a delay introduced during stimulation (auditory stimulation with tubes). this can be done for instances of `Evoked` but in my case i do single-trial analysis.

so, do you think there is a way to make times read only but introduce a method like `Ev

[2018-10-23 08:15] agramfort commented on #5642
no objection to add shift_time method in Epochs. Would this be enough for
you use case?

[2018-10-23 09:07] cbrnr commented on #5640
You mean if you first store the annotations in a separate file, and then you manipulate the raw file? Even when storing `orig_time` with the annotations, there is no way resampling can be accounted for. That's why I'd just export the annotations after these processing steps, because if the annotations are stored in `raw.annotations`, they get updated automatically.

The time is stored in the raw o

[2018-10-23 11:00] jasmainak commented on #5640
Just thought I'd pitch in to the discussion here. You do have `meas_date` stored in the `raw.info`, so if you store the absolute time in the annotation file, you could in principle sync them again. This is related to discussion we had with @agramfort for BIDS derivatives. Although thinking about this again, this works only if these annotations are stored with time stamps up to millisecond/microsec

[2018-10-23 12:03] larsoner commented on #5640
I don't see why we wouldn't also include `meas_date` in there in a comment, like:
[code]
Then on read if it's there, use it, if it's not, it's the same as constructing Annotations with `orig_time=None`

[2018-10-23 12:06] larsoner commented on #5642
Take a look at what `epochs.decimate` and `epochs.resample` do to keep `times` working under modification, they should in principle be correct

[2018-10-23 12:31] massich commented on #5627
@QB3 https://mne-tools.github.io/stable/contributing.html are the instructions in how to contribute, if something is not clear enough. Please open an issue and we'll try to improve our documentation. Thanks a lot.

[2018-10-23 12:32] thht commented on #5642
thanks @larsoner . i took a look and it looks like `decimate` uses `self._decim_slice` to tell the loading function what samples to discard but there seems to be no way to tell `_get_data()` to shift samples.

however, this all just works fine when the data is already loaded because then all one has to do (as far as i see it), it adjust `epochs._time` (i.e., `epochs.time` in the current master imp

[2018-10-23 12:42] jasmainak commented on #5642
There is already a [similar method](https://github.com/mne-tools/mne-python/blob/35f54e709e8d8e33d2c5996f37699ae7e4b1a651/mne/evoked.py#L267) in `evoked` -- you could probably copy parts of it

[2018-10-23 12:43] thht commented on #5642
@jasmainak  yes, i am aware of that one. but `Evoked` does not have to deal lazy loading data...

[2018-10-23 12:51] jasmainak commented on #5642
I would say it's fine to make it work only for `preload=True`

[2018-10-23 12:54] QB3 opened #5645 "CI badges in readme out of sync"
#### Describe the bug

in the github main page (see screenshot) the badges show all the CI failing.

![image](https://user-images.githubusercontent.com/20907043/47361331-ebf4d480-d6d1-11e8-8d90-6b6b19694ffb.png)

checking if thats the case (by clicking on it) Travis is all green. see this:

![image](https://user-images.githubusercontent.com/20907043/47361266-cec00600-d6d1-11e8-813b-723d72cf8822.pn

[2018-10-23 13:08] QB3 opened #5646 "[RFC] documentation on how to use github"
Based on https://github.com/mne-tools/mne-python/issues/5627#issuecomment-432226676 I start reading https://www.martinos.org/mne/stable/contributing.html but the documentation specific to github: https://www.martinos.org/mne/stable/configure_git.html#using-github  is burried at the end of the doc.
In found it is not obvious to find, and it could be more easy (especially for newcommers) to put it i

[2018-10-23 13:59] agramfort commented on #5640
I would like these CSVs as decoupled from MNE objects as possible so they
can be shared, reused and imported from other software. Also the CSV should
be standard so I can do

import pandas as pd
df = pd.read_csv('annotations.csv')
df['onset'] = pd.to_datetime(df['onset'])

and get proper time stamps.

[2018-10-23 14:03] larsoner commented on #5640
Most readers (pandas included) have an option to skip rows and/or get names from a specific row, so you would just need a few `kwargs` there. But if you don't want to have the two MNE lines at the top I can live with it and just have:
[code]

[2018-10-23 14:05] agramfort commented on #5645
well our current master is actually broken :(

but the svg badges should point to the master branch as done here:

https://docs.travis-ci.com/user/status-images/

[2018-10-23 14:05] larsoner commented on #5642
Let's do that for now and if we need it for `preload=False` we can always make it work later

[2018-10-23 14:06] larsoner commented on #5645
It appears correct see

https://travis-ci.org/mne-tools/mne-python/jobs/444753486

[2018-10-23 14:06] #5645 closed

[2018-10-23 14:07] agramfort commented on #5646
trunk should be replaced by master (trunk is from svn historical times.)

if you have some spare cycles to rephrase / clarify things it would be much
appreciated

file to edit is :
https://github.com/mne-tools/mne-python/blob/master/doc/configure_git.rst

[2018-10-23 14:09] agramfort commented on #5640
I don't think the # is necessary on the first line and here we lost
orig_time unless you have a way to "interpret" 502.45682716 as
timestamp?

[2018-10-23 14:13] agramfort commented on #5645
hum :(

but we still should fix the badges to point to master branch or maybe it's
not necessary?

[2018-10-23 14:16] larsoner commented on #5645
in README.rst:
[code]
so it should already

[2018-10-23 14:23] larsoner commented on #5640
Yes we have lost `orig_time` but I don't see a way to do all 3 of these:

1. Have `orig_time` represented
2. Have no extra comment lines at the top
3. Don't risk losing precision
4. Easily usable by the end user

I think we have to choose 3 if we want to use CSV. My proposal with the `# orig_time: ` line chooses (1), (3) at the expense of (2) and perhaps some of (4).

If you're proposing including

[2018-10-23 15:29] jasmainak commented on #5640
@larsoner in your proposal, is `onset_microsec` also in the "date-time" format? could that be a float?

I'm thinking that eventually this kind of file should be compatible with BIDS derivative. So, perhaps it should be in TSV rather than CSV (just a different delimiter)?

[2018-10-23 15:41] larsoner commented on #5640
No it's like `meas_date` where both are ints

[2018-10-23 17:13] massich commented on #5640
If I would have to pick a way of doing it I would do it as @larsoner proposed. A header with `meas_date` and then onsets. Basically, a dump of our Annotations object.

Then we can discuss if the writer should just dump the Annotation or reset to `first_samp` and write the `onsets` relative to this time point. If when we do this resampling to `first_samp` would have the option of dropping the heade

[2018-10-23 20:08] nordme opened #5650 "Unable to add source for libXp6 package"
@agramfort Instructions for resolving the missing libXp.so.6 package issue were helpfully added to the MNE-C documentation: http://mne-tools.github.io/dev/install_mne_c.html#troubleshooting. Unfortunately, with my Ubuntu 18.04 setup, the following error pops up when attempting the first command:

 `W: GPG error: http://security.ubuntu.com/ubuntu precise-security InRelease: The following signatures

[2018-10-23 20:17] agramfort commented on #5640
how about this :

https://gist.github.com/agramfort/320c031735e7aee1b3f46c35eb3426e9

?

[2018-10-23 21:45] nordme commented on #5650
Thanks, Joan! Thinking of mne documentation, what is the best place to put these GPG key instructions do you think? From a user perspective, it would be fantastic if a couple lines of code to obtain the keys could be added to the troubleshooting snippet installing the libXp package.

[2018-10-23 21:49] massich commented on #5650
Did it work?

I think that the instructions should be added here. But they change
overtime. So the snipped might be outdated pretty soon. But it might be
worth it. Maybe when it stop working someone would rase the issue.

Would you like to wite a PR for it?

On Tue, Oct 23, 2018, 23:45 nordme <notifications@github.com> wrote:

[2018-10-24 07:08] cbrnr commented on #5640
I'd still prefer a simpler CSV variant where 0 is the start of the recording. Maybe we can make this optional.

Regarding @agramfort's suggestion, this looks good, but we should still include the time stamp corresponding to time 0 in the header. That way, people could subtract that time from all onsets when the following header line is present:

    # orig_time: 2002-12-03 19:01:11.720100

Comment

[2018-10-24 07:14] agramfort commented on #5640
adding a header in a csv file seems really a hack. It will be not be understood by default csv readers or excel or google sheets.

do you have example where such a header is employed?

@larsoner I am not sure why 4 will not be satisfied. Read the csv with pandas and then raw.set_annotations(annotations) should do a perfect IO round trip.

[2018-10-24 07:19] cbrnr commented on #5640
It opens fine with Excel (I just double-click), all columns are correctly recognized and the comment is just a comment line.

[2018-10-24 07:27] cbrnr opened #5653 "Latest version of testing data is not downloaded"
When I download the testing data via

[code]

I always get release 0.47, but 0.60 is the latest version. I assume there's something wrong with my setup, but I can't figure out what.

[2018-10-24 09:40] agramfort commented on #5653
it does not force the redownload? and if you remove the mne-testing-data
folder it downloads fine?

[2018-10-24 09:45] cbrnr commented on #5653
Yes. It always fetches 0.47.

[2018-10-24 10:02] agramfort commented on #5653
no idea what's going on on your machine. On mine it works:

In [1]: %paste
import mne
mne.datasets.testing.data_path(force_update=True, verbose=True)

## -- End pasted text --
Downloading archive mne-testing-data-0.60.tar.gz to /Users/alex/mne_data
Downloading
https://codeload.github.com/mne-tools/mne-testing-data/tar.gz/0.60 (960.5
MB)

see what you have in cat ${HOME}/.mne/mne-python.json

[2018-10-24 11:20] mmagnuski commented on #5637
Currently you would still need to go through all the steps of coregistration and building forward model. In my case that took some time, especially at the beginning: constructing 'fake' electrode digitization (I found that the docs for digitization class could be clearer on some points), then digitizing the channel position with photogrammetry (in one study it was just for one representative head

[2018-10-24 11:37] cbrnr commented on #5653
Found it: the current release 0.16.2 still uses 0.47, I wasn't using the master branch. Let's not forget to update this for the next release.

[2018-10-24 11:49] larsoner commented on #5653
It's already updated in master any time a PR needs new data

[2018-10-24 11:49] #5653 closed

[2018-10-24 12:03] larsoner commented on #5640
I comment about 4 because it's easy in Pandas and Excel, by harder in simpler programs that do not automatically parse a date string. Those will have to do string and date gymnastics to get a usable time. Think about what it would take in Python with no  Pandas -- it's only a few lines but certainly more work than a sample number or time offset in seconds relative to zero would be.

[2018-10-24 12:11] agramfort commented on #5640
It seems it may not be so painful in matlab either:

https://fr.mathworks.com/matlabcentral/answers/362363-how-do-i-read-this-csv-file-in-and-convert-the-dates

I my concern is that annotations should be as easy to exchange as possible.
No matter how have been cropped or resampled or processed raw data.

[2018-10-24 13:56] larsoner commented on #5640
Yes but it adds more work. It's not a deal breaker, though, and I agree so far a `str` date stamp is the cleanest / least hacky solution even though it doesn't perfectly satisfy (4).

One other thing we could do is *just for text I/O* (because we don't need it for FIF as there is a separate field) add as the first entry:
[code]
[code]

[2018-10-24 14:42] Okamille opened #5655 "browse_raw command line should take '--preload' as parameter instead of '--preload=True'"

[2018-10-24 15:18] massich opened #5657 "Travis not passing"
For whatever reason, the pep8 checks in travis no longer pass in master. See this:
https://travis-ci.org/massich/mne-python/builds/445633436?utm_source=github_status&utm_medium=notification

[2018-10-24 15:28] agramfort commented on #5657
can someone open a PR ASAP? thx

[2018-10-24 15:37] #5655 closed

[2018-10-24 16:23] agramfort commented on #5640
I think we need a use case to see what works best and I agree that we can
have different formats .fif .csv .txt (maybe .vmrk)
to satisfy everyone

[2018-10-24 16:44] larsoner commented on #5640
@cbrnr can you try what is in @agramfort's gist and see if it's usable enough for someone to turn into a PR?

You can add the `ORIG_TIME` line, too, if you want (so you can do time deltas, etc. easily)

[2018-10-24 17:01] #5657 closed

[2018-10-24 17:23] shateeshb opened #5661 "Read montage that isn't in built-in list?"
Hi all, I am a CS student who is new to working with EEG, so please bear with me. I am using EEG data that was collected using the ANT Duke Waveguard, with 128 channels. Is there any way to import the montage file (.txt), since mne.channels.read_montage() won't work?

[2018-10-24 17:43] massich commented on #5640
I'll open a PR tomorrow (unless someone else whats to go for it)

[2018-10-24 17:59] bloyl commented on #5375
I am having this issue as well

[2018-10-24 20:09] larsoner commented on #5636
This is more in the scope of #4859

[2018-10-25 02:43] Rockingsnow opened #5662 "How to extract the lead field matrix after the eeg inverse transformation"
I want to know which file or function the lead field matrix exists in and how to extract it？

[2018-10-25 06:10] cbrnr commented on #5661
Assuming you have your montage file in a suitable format that we can read and you have it in the current working directory (in the following example it is called `test_montage.txt`), you can do:

[code]

[2018-10-25 06:15] cbrnr commented on #5640
Like I said, and here I agree with @larsoner, I would really love to have a simple file where the onset column contains time (or sample) offsets relative to zero. This will make it much easier to work with, otherwise I have to to all kinds of date conversions - which might even introduce additional variance in the time points. I think it's a good idea to have several options because apparently the

[2018-10-25 08:41] agramfort commented on #5662
see:

leadfield = fwd['sol']['data']

if https://mne-tools.github.io/dev/auto_examples/forward/plot_forward_sensitivity_maps.html#sphx-glr-auto-examples-forward-plot-forward-sensitivity-maps-py for example.

reopen if it does not fix your pb.

@Rockingsnow please rather use the mailing list or gitter channel for such questions https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis https://

[2018-10-25 08:41] #5662 closed

[2018-10-25 08:45] #5642 closed

[2018-10-25 13:35] JoseAlanis opened #5665 "Dipole / source localisation using anatomy template"
Hey guys,

this is José from Germany. Im been working with MNE for a while now and I'm wondering if there is way to run dipole / source localisation for EEG data without relying on the actual subjects' structural data. Let's say for instance using a standard anatomy template such as Colin27 for co-registration.
I'm aware that this type of approach might lack robustness and accuracy in many ways, b

[2018-10-25 14:08] shateeshb commented on #5661
I tried using just the path to the file, but I was given an error that the parameter 'kind' was not specified.

When I did specify the type (using the naming convention outlined in the documentation, where the kind = the file name without the file extension), I got this error:
![screen shot 2018-10-25 at 10 04 14 am](https://user-images.githubusercontent.com/16820597/47506248-ae14bf00-d83d-11e8-8d

[2018-10-25 14:29] agramfort commented on #5058
cc @sdeslauriers @mclerc @papadop

[2018-10-25 14:34] agramfort commented on #5661
we don't have a parser to read ANT files. Your file is not a plain txt file
so the extension should match the extension of an ANT montage file.

I don't have experience with this

[2018-10-25 14:34] agramfort commented on #5665
hi unfortunately it is still not supported. Sorry

[2018-10-25 18:39] bloyl commented on #5375
Please note that this also effects digitization points.

[2018-10-25 18:42] cbrnr commented on #5661
@mmagnuski this is a bit weird, it doesn't work unless I specify the absolute path. Also, I just pass the full path to the first argument and I don't use the `path` argument. Not sure why there is this argument in the first place.

@agramfort this is a .txt file, but I don't know what kind of format we support. @shateeshb maybe you can have a look at the existing montage files and try to convert y

[2018-10-25 18:43] cbrnr commented on #5665
What is necessary to make this work? I think it would be important to support this kind of workflow, because especially in the EEG community it is not commonplace to have individual MRI scans.

[2018-10-25 19:01] nordme commented on #5650
@massich Hmm. Getting the key for the NeuroDebian repo did not work for me. The initial command `wget -O- http://neuro.debian.net/lists/bionic.us-nh.libre | sudo tee /etc/apt/sources.list.d/neurodebian.sources.list` results in my terminal sitting around doing nothing. Take a look. This is how the terminal has looked for the past hour.
![wget_error](https://user-images.githubusercontent.com/3870484

[2018-10-25 19:09] larsoner commented on #5650
It seems like the critical command will be the second one (the `sudo apt-key` one), can you try that then see if the `libXp` install works?

[2018-10-25 19:12] larsoner commented on #5650
...actually just try:
[code]

[2018-10-25 19:15] nordme commented on #5650
Hi,

I tried the second command. And I tried to add the key from a different
keyserver as well (keyserver.ubuntu.com). None of the keyservers I tried
seems to have the key for the repository in the proposed fix.

Erica Peterson
Research Scientist
Institute for Learning and Brain Sciences
University of Washington
Box 357988
Seattle, WA 98195
(206) 685-2842

On Thu, Oct 25, 2018 at 12:11 PM Eric Lar

[2018-10-25 19:17] larsoner commented on #5650
Okay how about these two lines:
[code]

[2018-10-25 19:20] nordme commented on #5650
To specify, I did try the key command with

40976EAF437D05B5

as the key number.

Erica Peterson
Research Scientist
Institute for Learning and Brain Sciences
University of Washington
Box 357988
Seattle, WA 98195
(206) 685-2842

On Thu, Oct 25, 2018 at 12:14 PM Erica R. Peterson <nordme@uw.edu> wrote:

[2018-10-25 19:33] nordme commented on #5650
Eric's lines worked great.

[2018-10-26 01:42] shateeshb commented on #5661
okay I will try converting the montage file. Thanks for the help!

[2018-10-26 08:35] #5650 closed

[2018-10-26 09:03] massich commented on #5635
Some custom functions just to make sure that I've MNE-python, matlab and freesurfer. (happy to share them if needed)
[code]

Here is what I did to install MNE-C
[code]

and we end up in the `libXp.so.6` error which is known. (see #5650).

Can anyone check that those steps work for them (especially people using a system different than mine)?
@buildqa can you open a PR updating the documentation?

[2018-10-26 09:39] agramfort commented on #5665
I know we should support this.

basically we need to "fake" an individual subject eg using fsaverage.
So be able to project
spherical montage positions to the head surface of fsaverage so one
can then compute
forward, source space etc.

do you have some interest to look into this? basically one important
thing is to have
a way to compare what this worklow would give compared to an
alternative soft

[2018-10-26 09:44] massich commented on #5661
Aren't the supported montage [here](https://github.com/mne-tools/mne-python/blob/0db3c5776de04ec2f926295f4a191010efe49c39/mne/channels/montage.py#L169)

@shateeshb could you draft a PR with some example data to support your format?

Complete newbie on this topic but is this montage related to `dig_montage` i.e: #5615, #5617 ??

[2018-10-26 10:01] agramfort commented on #5661
there is a previous issue on the support of ANT format :
https://github.com/mne-tools/mne-python/issues/3609

so far it's stalled

[2018-10-26 19:37] cbrnr commented on #5665
Interest yes, time not so much, and also I don't really know what's possible in MNE. I do know how this is done in EEGLAB though, so if someone more comfortable with this area would like to tackle this I'd be more than happy to support - but I can't do it by myself.

[2018-10-27 08:16] sappelhoff opened #5668 "[FEATURE] Allow reading EEGLAB standalone .set files with `preload=False`"
EEGLAB `.set` files are essentially MATLAB `.mat` files with a struct datatype `EEG` that contains data fields. One of these fields is `data` and it can include a path to an associated `.fdt` ("float data") file with the binary data.

However, it can also include the data directly. This is then called a "standalone `.set`" file. For these files, MNE-Python's `preload=False` does not work yet.

We

[2018-10-27 08:28] sappelhoff commented on #5668
yes, or in fact [`pymatreader`](https://gitlab.com/obob/pymatreader)?

https://github.com/mne-tools/mne-python/blob/46585fb139a15d024941eb24273f7a0ab097515c/mne/io/eeglab/eeglab.py#L42

[2018-10-27 08:45] sappelhoff commented on #5668
more information on this topic: It might be impossible to implement, because *fields* (`data`) of *structs* (`EEG`) in *.mat* files (`.set`) cannot be accessed:

https://de.mathworks.com/matlabcentral/answers/339269-how-to-get-a-specific-field-from-a-structure-stored-in-mat-file#comment_452043

... unless these matfiles are saved using a `-struct` option to begin with: see [here](https://de.mathwo

[2018-10-27 14:23] sappelhoff opened #5669 "BrainVision: Confusing warning message since intro of annotations"
When I want to read a `.vhdr` BrainVision header file, I get this  warning message:

[code]

This is fine and a warning should be printed (like we did previously). However the new message does not make sense in the user context:

`regexp` is not a possible argument for `mne.io.read_raw_brainvision`, so I assume that this is some unintended spillover from the annotations refactoring.

[2018-10-27 14:56] jasmainak opened #5670 "inconsistencies in edf reader and annotation readers"
I have a couple of issues here but bunching them together as they seem related.

### 1. EDF reader should work with preload=False

If I do:

[code]

I get

[code]

However, I can actually do:
[code]

and it gives me the same result as:
[code]

So, it seems to me that it should already be possible to load EDF files with `preload=False` as all the necessary components already exist.

### 2. find_edf

[2018-10-27 15:03] jasmainak commented on #5668
EEGLAB has two ways of saving files? One as two files and the other as a single file. Do you know which format they recommend? Maybe for `mne-bids` we can simply ask users to re-save their files in the multi-file format?

[2018-10-27 15:31] jasmainak commented on #5668
For the two file format, it's already implemented :)

[2018-10-28 04:04] jasmainak opened #5671 "private attribute to detect if raw has been cropped?"
In mne-bids, we were thinking of an API where there is a function called `write_raw_bids(raw, bids_fname, ...)` to convert existing data to BIDS format. This would work by essentially **copying** the original file in raw.filenames to the new destination and converting the metadata into json and tsv sidecar files (it's the only way we can support different file types since MNE can only write fif fi

[2018-10-28 07:36] agramfort commented on #5671
how about rather making sure you can clone the raw object by rereading from
disk and then check that raw.times is still the same?

I would be safer I think than tracking any possible change that can have
happened to the raw object besides the info attribute.

[2018-10-28 07:43] agramfort commented on #5668
anything else we can do then?

[2018-10-28 08:01] sappelhoff commented on #5668
I think the default is saving as a standalone `.set` file, see [here](http://cognitrn.psych.indiana.edu/busey/temp/eeglabtutorial4.301/allfunctions/eeg_options.m)

@jasmainak - yes, I think this is what we should do. We should have a warning or some kind of log message for this.

nothing to do from MNE-Python's side, we'll have to deal with it in MNE-BIDS. Thanks for the discussion!

[2018-10-28 08:01] #5668 closed

[2018-10-28 08:44] agramfort commented on #5669
what was the error message before?

it's this line
https://github.com/mne-tools/mne-python/blob/master/mne/io/brainvision/brainvision.py#L163
that you want to change.
As there is indeed no way to filter out some annots with the current
brainvision API shall we just
notify that some annots will be ignored without saying more?

[2018-10-28 08:48] sappelhoff commented on #5669
The prior message was referring to `event_id` and that users should make use of that (potentially with regexp)

        Special events to consider in addition to those that follow the normal
        BrainVision trigger format ('###' with an optional single character
        prefix). If dict, the keys will be mapped to trigger values on the
        stimulus channel. Example: {'SyncStatus': 1; 'Puls

[2018-10-28 08:53] agramfort commented on #5669
can you give it a try ?

[2018-10-28 09:16] agramfort commented on #5670
thanks heaps @jasmainak for the details report. Yes @massich should be the first person to start addressing these issues.

Just regarding 2: `raw.find_edf_events()` should be deprecated unless it gives you something you cannot do with events_from_annotations

regarding 4:
yes it should be `from mne.io import read_annotations_edf` and I agree that read_annotations should / could triage based on fil

[2018-10-28 09:33] mmagnuski commented on #5668
@jasmainak Oh, cool, I didn't know - I always preload. :)

[2018-10-28 10:49] cbrnr commented on #5670
These are all excellent points. @massich I'd be happy to help address these issues. Regarding 3, I've brought this up once for the loading functions (`read_raw_XXX`), but most people didn't like the idea. I still do, having one function to load the data and one function to read annotations seems much simpler, given that we can determine the file type by its extensions (or if that doesn't work we c

[2018-10-28 13:31] larsoner commented on #5671
Eventually it would be ideal if other operations (filtering in particular) could be done without preloading, too. And such things are feasible to implement. So whatever solution we devise should be compatible with the idea that operations on the data other than cropping could eventually be implemented, too.

[2018-10-28 16:09] agramfort commented on #5671
yes this also says that one should be able to reread from disk and check
that object has not changed. I don't think it's hard to do provided you
keep with attributes all the constructor parameters.

[2018-10-28 17:41] jasmainak commented on #5671
okay that's fair enough. We can reload and do a check. It should be on `mne-bids` end for now I suppose?

But this would not work with `preload=False` would it? It would be a memory mapped file, right? Otherwise you would have to modify the original file ...

[2018-10-28 18:07] larsoner commented on #5671
It is possible to do it on the fly (no preload, memmap, or on disk modification), it would just be a huge pain to program

[2018-10-29 06:17] buildqa commented on #5635
You could try running the ldd command on the mne_analyze binary to see the default search path to libXp.so. , and check if it is there.  I'll take a look at the documentation.

[2018-10-29 09:50] massich opened #5673 "Broken CI"
Appveyor breaks 'cos vtk update, Travis has some issue with matplotlib.

- [ ] fix appveyor
- [ ] fix Travis

[2018-10-29 09:59] massich commented on #5673
https://github.com/massich/mne-python/pull/11

[2018-10-29 10:53] massich commented on #5673
I've issues to replicate the appveyor failure locally.

[2018-10-29 12:01] cbrnr commented on #5670
Re 2, actually `raw.find_edf_events` gives you back the annotations as they are stored in the EDF file (no stim chan is synthesized). It is deprecated because all the information is contained in `raw.annotations`. I don't know the plan about what is going to happen with events - will `mne.find_events` still be an option? Or will it be replaced by `mne.events_from_annotations`? In this example, the

[2018-10-29 18:53] #5375 closed

[2018-10-29 20:14] agramfort commented on #5671
I would force to pass non-preloaded data and then just recreate the raw
from scratch. Think about the clone function in sklearn to clone any
estimator and get a fresh one. Makes sense?

[2018-10-29 20:34] massich commented on #5673
close via #5676, #5677

[2018-10-29 20:34] #5673 closed

[2018-10-29 22:31] jasmainak commented on #5671
hmm ... this would not fix your cropping issue though as you would also copy `raw.times`. Or do you propose reading the `raw` back from the file? For that to happen we would need all the params to the `read_raw_xxx` files as an attribute in `raw` somewhere. It would essentially reset your `raw` to the state just after it was read in -- thus we would lose any information that the user added to `raw

[2018-10-30 08:00] agramfort commented on #5671
yes but doing this without overwritting the current raw (ant its info) and
just to check that data have still the same shape etc.

[2018-10-30 09:03] #5669 closed

[2018-10-30 15:47] makkostya commented on #5058
Ok, let's keep this issue as a principal one for simulation module discussion.
Every time when someone creates an issue or PR related to the simulation module,  please trace it in this issue. It will allow us to notify everyone concerned  without pinging them.

[2018-10-30 16:16] agramfort commented on #5058
ok

did you start collecting pieces of code to consolidate?

[2018-10-30 16:22] massich commented on #5670
#### re 1

Yes, that's expected. What it could be good is to set `stim_channel=None` as default. And warn. But I'm not sure how this plays in **mne-python**'s timeline for deprecationg stim channel.

The other thing, is that you cannot read the TAL channel in the edf_file on `preload=False` unless you parse the entire file. So I'm not sure. If you supply a file with only annotations, then it would

[2018-10-30 17:22] jasmainak commented on #5670
If you know which memory segments to access for the TAL channel, wouldn't this be fast? How fast is `read_annotations_edf` for really long recordings like say, sleep data?

[2018-10-30 17:59] jasmainak commented on #5671
okay sounds good. See #5679

[2018-10-30 18:22] massich commented on #5670
yes it should be plenty doable. The only thing is that this was not present in the EDF reader, and we did not implement it.

[2018-10-30 18:49] lclaudino commented on #5292
Hello there

I'm having the same problem with the 0.16.2 version. I cannot `pick_types(ref_meg=False)` without gettting the same error as in the top post , and if I then `pick_types(ref_meg=True)`, `beamformer.make_lcmv` will raise the error instead. Could `beamformer.make_lcmv` be issuing the error because the number of channels in `info` and `forward` arguments are different (since `forward` wil

[2018-10-30 19:57] agramfort commented on #5670
agreed regarding TAL channel parsing without preload it should be doable but it's presently not implemented. To be done at some point. No rush on my side.

Regarding 4 as discussed with @massich I would suggest to:

 * make private : read_annotations_brainvision read_annotations_eeglab read_annotations_edf

 * add triage to the private functions based on file extension for mne.read_annotations

[2018-10-30 20:01] agramfort commented on #5292
you will need to wait for the next release or switch to using the current
development version.

See https://github.com/mne-tools/mne-python#get-the-latest-code

[2018-10-30 20:05] agramfort commented on #5665
how did you provide the electrode locations? do you have them at dig points
in the info of the 01-raw.fif file?

[2018-10-30 20:32] JoseAlanis commented on #5665
Hmm, I think so, `01-raw.fif` is a .bdf-file which I imported as follows:

[code]

If i look at `raw.info`i get the following:

[code]

`raw.info['dig']` has me 67 entries. I suppose 3 fiducials (kind 1)  and 64 channels (kind 3)? I can print the output of `raw.info['dig']` and post it here if it helps.

[2018-10-31 09:14] agramfort commented on #5665
when you load the file in the GUI does it tell you that it finds the 67 dig
points? You should see them once loaded and locked fiducial points.

[2018-10-31 14:00] makkostya opened #5680 "Optimal transport for inverse solution validation"
**Problem:**
We need an universal tool to compare the inverse solution to simulated source configuration, i.e. have a function f(stc_simuleted, stc_estimated) which would quantify how "close" estimated solution is to simulated one.

The existing way to compute the l2 norm between two stcs does not take into account spatial properties of sources (spatially close sources can still result in high l2

[2018-10-31 14:03] makkostya commented on #5058
Here is the issue I opened for validation of the inverse problem solution: #5680

[2018-10-31 16:52] giuliagennari opened #5682 "[decoding] roc_auc with multiclass (and cross_val_multiscore)"
Hello there,
according to scikit learn documentation, when dealing with multiclass problems it is possible (... what about meaningful?) to compute AUC for each class, given that one-vs-rest approach is used.
Now, I am trying to do that but I am very basic in programming skills, so having a really hard time.
 This is what I have:

[code]

Does it make sense at all/is it correct?
If so, how do I tra

[2018-10-31 19:58] thht commented on #5359
just my 2cts:

if it boils down to the `TypeError: read_mat() got an unexpected keyword argument 'uint16_codec'` error, i am quite sure, it has been fixed in master with the new pymatreader version. if i recall correctly, @larsoner  proposed the fix because of this exact error.

[2018-10-31 21:12] agramfort commented on #5680
@hichamjanati could share some code for sure and it would nice to have this. However I would first focus on more commonly used metrics. In your literature review did you list the commonly used ones? if so can you share them here?

[2018-10-31 21:13] agramfort commented on #5058
thanks. I answered.

Following up on your conversation can you centralize the code of the
different folks
to see what can be consolidated and integrated into MNE?

[2018-11-01 08:31] agramfort opened #5684 "MNE usage with sleep data"
let me share here some thoughts of how working with EEG sleep data could be simplified once we have the annotations API in place. Given let's say 2 files (one raw data and one annotations) it should be as easy as doing:

[code]

cc @massich @Slasnista

it would be great to have this in place for the release. It's pretty much done but it needs some ironing.

[2018-11-01 09:38] mkoculak opened #5685 "Error reading big BDF file"
#### Describe the bug
I am trying to read a relatively big .bdf file (~3GB, 80 channels, 2048Hz, 6215 sec. of recording) and got the error below.

I successfully read the data with `pyedflib`:
[code]
I have also checked readability with BDFReader shipped with ActiView by Biosemi and it reads the data with no problems.

I tried it with a couple of different files of similar size, the result is the

[2018-11-01 14:08] agramfort commented on #5685
are you using windows? it can be an overlflow of integers as int are int32
on windows.

yes please share the file so we can try to replicate the pb.

thanks

[2018-11-01 14:36] dpkoller opened #5686 "Return indices of rejected epochs"
Hi I have a request for a useful feature. I hope I haven't overlooked this but after looking through the MNE documentation I couldn't find anything that would satisfy what I and probably many people would need.

#### Describe the problem
When rejecting epochs visually using _mne.Epochs.plot()_ the marked epochs get rejected when closing the visualization. In many cases it would be desirable to rej

[2018-11-01 15:00] larsoner commented on #5686
Look at `epochs.selection` and `epochs.drop_log`. Can you make a PR to the [epochs tutorial](https://github.com/mne-tools/mne-python/blob/master/tutorials/plot_object_epochs.py) (which turns into [this page](http://mne-tools.github.io/dev/auto_tutorials/plot_object_epochs.html)) to make this clearer?

[2018-11-01 15:54] mkoculak commented on #5685
Yes, I am using Windows 10.
Is there any way to overcome the overflow issue on Windows?

the link to the file (if it won't work, I can try uploading it somewhere else):
https://ujchmura-my.sharepoint.com/:u:/g/personal/marcin_koculak_doctoral_uj_edu_pl/ESeDLKjMJEFLtV3t5VO1jecB0nOBVQ-X0Cvwrq7V3ihVUw?e=gyUfWg

[2018-11-01 16:17] dpkoller commented on #5686
Hi, thanks a lot for the fast reply! So the easiest way would be to retrieve the already rejected epochs from `epochs.drop_log` by searching for the 'USER' strings and returning their indices?
Then one would have to note down the reasons for rejecting each epoch and modifying the 'USER' string, right?

[2018-11-01 16:33] larsoner commented on #5686
Any non-empty list entry means it has been rejected for some reason or another. Also you should find that `np.where([len(log) == 0 for log in epochs.drop_log])[0]` is the same integer array as `epochs.selection`.

[2018-11-01 16:43] agramfort commented on #5686
the epochs.selection gives you the indices of the remaining epochs.

[2018-11-01 16:56] #5686 closed

[2018-11-01 19:56] shateeshb commented on #5661
Apologies for the late reply, I had to wait for permission from the original researcher who collected the data if  I could share a sample of it.
[sample-ANT-data.zip](https://github.com/mne-tools/mne-python/files/2539868/sample-ANT-data.zip)

Here is a sample of the data, it consists of a .set, .evt and .trg file of one recording of a trial using the ANT Duke Waveguard cap.

[2018-11-02 06:42] vivekosdd opened #5688 "stc.as_volume function not available"
HI,
I'm following this tutorial: https://www.martinos.org/mne/stable/auto_examples/inverse/plot_compute_mne_inverse_volume.html
I can run it successfully with sample data, but when I run with my own data it runs successfully till stc.crop but does not show the stc.as_volume function.

[2018-11-02 06:58] agramfort commented on #5688
can you tell us more about your data? what is the error?

also for problems that are not bugs in the code please use the mailing list
or the gitter channel.

[2018-11-02 07:07] agramfort commented on #5685
I confirm that I have no problem loading your file on macos with the
current master branch.

I don't have a big enough windows machine to debug this :(

I would put a break point in the code before the seek crash here :
https://github.com/mne-tools/mne-python/blob/master/mne/io/edf/edf.py#L264
see if you actually end up with negative integers and then track down the
origin of the problem.

HTH

[2018-11-02 07:08] vivekosdd commented on #5688
My data is a resting state MEG data.
I have created the evoked and inverse_operator file.
after computing stc I do not get option stc.as_volume which is available when doing with sample data.
Error: `>>> img = stc.as_volume(src, mri_resolution=False)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'SourceEstimate' object has no attribute 'as_volume'`

[2018-11-02 07:14] agramfort commented on #5688
to use as_volume you need a volume source space and not a surface based one.

see https://mne-tools.github.io/dev/auto_tutorials/plot_object_source_estimate.html#sphx-glr-auto-tutorials-plot-object-source-estimate-py
or
https://mne-tools.github.io/dev/auto_examples/inverse/plot_compute_mne_inverse_volume.html?highlight=volume

[2018-11-02 07:18] agramfort commented on #5661
thanks

can you give a try to contributing python code to read these files?

[2018-11-02 08:10] mkoculak commented on #5685
So it seems that the problem is with the variable ```ch_offset``` created couple lines earlier
https://github.com/mne-tools/mne-python/blob/master/mne/io/edf/edf.py#250
[code]
because it is created as ```int32```.

Adding a parameter ```dtype=np.int64``` to the numpy cumsum function made the code run without problems.
[code]

[2018-11-02 08:20] agramfort commented on #5685
Great can you send us a PR? Thx

[2018-11-02 10:11] vivekosdd commented on #5688
Thanks.
To generate volume source estimate we need vertices as an input. To generate vertices I come across this function called, center_of_mass(subject=None, hemi=None, restrict_vertices=False, subjects_dir=None, surf='sphere')
when I run this command with my data input it shows the following error: `TypeError: center_of_mass() missing 1 required positional argument: 'self'`
whereas in documentat

[2018-11-02 13:31] larsoner opened #5690 "ENH: Unify `rank` computations of beamformer and compute_whitener"
As pointed out in https://github.com/mne-tools/mne-python/pull/5447#issuecomment-435378632, the `rank` argument in `mne.beamformer` and `mne.cov.compute_whitener` follow slightly different code paths. In #5481 the `compute_whitener` behavior lives in `_smart_eigh`; in #5447 it lives in `reg_pinv`.

This issue is related to #5362, where @britta-wstnr has also been thinking about how to do this inve

[2018-11-02 15:56] #5685 closed

[2018-11-03 12:12] agramfort commented on #5688
you need a volume source space:

https://www.martinos.org/mne/stable/generated/mne.setup_volume_source_space.html

[2018-11-03 17:33] #5636 closed

[2018-11-04 16:47] sappelhoff opened #5693 "Diverging colormaps for scalp plots: Always have "white" as zero"
# Problem description

I want to compare scalp maps of ERPs across three different tasks. To allow for comparability between the subplots, they all need to share the same colorbar, which I can achieve by the following:

1. find the maximum value across all tasks and the minimum value across all tasks
2. pass max and min from step 1. into the `vmin` and `vmax` arguments when plotting

The result is

[2018-11-04 16:59] jona-sassenhagen commented on #5693
Also see https://github.com/matplotlib/matplotlib/issues/11377

[2018-11-04 17:42] larsoner commented on #5690
... also, the default for `make_lcmv` should change from `rank='full'` to `rank=None` (via deprecation cycle) once we are confident it all works properly.

[2018-11-05 07:06] cbrnr commented on #5693
Yes, I need that all the time, and I have included a function in my [ERDS example](https://github.com/mne-tools/mne-python/blob/master/examples/time_frequency/plot_time_frequency_erds.py#L54), which doesn't subclass and is pretty simple. If it is needed in more places, we could make it available somewhere in the `viz` package.

[2018-11-05 07:48] vivekosdd commented on #5688
Using this function gives the following error.
`src_vol = mne.setup_volume_source_space(subject='vivek1', pos=5.0, mri='/home/vivek/freesurfer/subjects/vivek1/mri/T1.mgz', sphere=(0.0, 0.0, 0.0, 90.0), bem='/home/vivek/freesurfer/subjects/vivek1/bem/inner_skull.surf', surface=None, mindist=5.0, exclude=0.0, subjects_dir='/home/vivek/freesurfer/subjects/', volume_label='/home/vivek/freesurfer/subje

[2018-11-05 07:58] sappelhoff commented on #5693
@jona-sassenhagen is Clemens' function also a solution for your problem?

At least for my part it's exactly what I regularly need and I'd be +1 for including it in `mne.viz`.

[2018-11-05 08:13] jona-sassenhagen commented on #5693
I think our zero should be white :)

Clemens‘ function isn’t really something I’d do myself, but if you can convince Alex, sure. Feel free to also add it to Eg plot_erpimage.

[2018-11-05 08:44] cbrnr commented on #5693
Feel free to use the other approach, but I think we agree that something should be added.

[2018-11-05 09:08] sappelhoff commented on #5693
I agree - my question was targeting whether a colorbar SHOULD be symmetric ... or can be asymmetric, see:
![image](https://user-images.githubusercontent.com/9084751/47988435-7da50e80-e0e2-11e8-8efa-840c9a879edb.png)

Apparently, it is "a bad idea" to have them asymmetric, see the note in [here](https://matplotlib.org/users/colormapnorms.html#custom-normalization-two-linear-ranges). I was wondering

[2018-11-05 09:23] cbrnr commented on #5693
In some cases, asymmetric color bars make sense. For example, ERDS values are bounded by -100% in the negative direction, but are unbounded in the positive direction. I usually choose a sensible upper bound, e.g. 250%, because most values lie within that range. I still want 0% to be white, so in the case of ERDS asymmetric ranges totally make sense.

I'm not sure about ERPs though - there is no in

[2018-11-05 09:49] jona-sassenhagen commented on #5693
Ok, I guess my intuition would be that truncation of the colorbar is ok, but for gaussian data like MEEG, a nonlinear colormap is not. I strongly prefer the second image.

[2018-11-05 10:12] hichamjanati commented on #5680
@makkostya  You can find code for the unbalanced Wasserstein distance here https://github.com/hichamjanati/unbalanced-ot.
Something is not clear in your document, from what I understand, you would like to include both temporal and spatial shifts in your ground metric M, but at the same time since you compute the L2 norm between time series, there is not 'transport in time' right ?  How do you comp

[2018-11-05 10:43] makkostya commented on #5058
I'll discuss in details with Christos (cc @christospapa, @cgbenar) their code and after that I'll have an idea how to start its integration to MNE.

Sam and Ivana will work on the idea of adding connectivity information to MNE simulation tool, but there is naturally any code yet.

Nathalie already has a contribution pipeline to follow.
I keep working on inverse problem validation.

[2018-11-05 10:46] makkostya commented on #5058
cc @ikojcic

[2018-11-05 10:52] makkostya commented on #5680
@hichamjanati Yes, in the way I presented it there is no transport in time. The similarity of time series is taken into account only to define the cost matrix between sources. We could add transport in time by it will increase the dimension of the problem.

\theta_i = || S_i. ||
t_i = S_i. / || S_i. ||

Yes indeed, p = Ns

[2018-11-05 15:14] larsoner commented on #5670
FYI to me it is weird to have a `read_annotations` that triages by file type but no `read_raw` that does the same. The more consistent fix would be to have `read_annotations` renamed to `read_annotations_fif`. But I can live with the inconsistency.

[2018-11-05 15:22] agramfort commented on #5688
I don't know. Does it work with other subjects?

[2018-11-05 15:36] larsoner commented on #5670
I suspect that after this annot refactoring we should have many fewer parameters

[2018-11-05 16:33] vivekosdd commented on #5688
I tried with other subject also, but same error.

[2018-11-05 20:10] larsoner commented on #4953
Moving to 0.18

[2018-11-05 20:10] larsoner commented on #4330
Moving to 0.18, I think it will make the most sense with the cov reg PR anyway

[2018-11-05 20:11] larsoner commented on #5201
Moving to 0.18, not a blocker

[2018-11-05 20:11] larsoner commented on #5406
Not a blocker, moving to 0.18

[2018-11-05 20:11] larsoner commented on #5362
We plan to unify in 0.18 now

[2018-11-05 20:12] larsoner commented on #5359
Closing again since we still have not seen this reproduced

[2018-11-05 20:12] #5359 closed

[2018-11-05 20:14] larsoner commented on #5020
@massich can you confirm that as soon as 0.17 is released we will get rid of all of the stim channel synthesis business? If so then please close this issue as it will become irrelevant immediately after release

[2018-11-05 23:21] shateeshb commented on #5661
I managed to get mne.channels.read_montage() to work on the montage file that I originally asked about. I had to manually clean up the txt file, but it works. Thanks for the help

[2018-11-05 23:21] #5661 closed

[2018-11-06 05:43] vivekosdd commented on #5688
I tried with other subject also, but same error.

[2018-11-06 06:43] sappelhoff commented on #5693
@cbrnr do you want to do it?

[2018-11-06 07:03] cbrnr commented on #5693
Sure, I'll go ahead and make a PR.

[2018-11-06 17:36] massich commented on #5020
yes. As soon as we release, we'll remove the stim channel synthesis

[2018-11-06 17:36] #5020 closed

[2018-11-06 18:17] #5670 closed

[2018-11-06 18:34] massich commented on #5670
Maybe I've merged it too soon. I did not see that the conversation was still alive.

[2018-11-06 18:41] larsoner commented on #5670
The conversation went a bit off-topic (to `mne.io.read_raw`), I think it's fine to leave closed

[2018-11-07 10:03] massich commented on #5684
Is there any sleeping data already in MNE-python?

[2018-11-07 10:31] massich commented on #5635
close via #5687

[2018-11-07 10:31] #5635 closed

[2018-11-07 12:32] jona-sassenhagen commented on #5684
API wise it looks good.

[2018-11-07 12:33] jona-sassenhagen commented on #5640
`annotation.to_data_frame().to_csv(name)`?

[2018-11-07 13:10] massich commented on #5640
So far, annotations are saved only as FIF. I would start by adding the reader #5699

[2018-11-07 21:05] larsoner commented on #5643
Fixed by #5641

[2018-11-07 21:05] #5643 closed

[2018-11-07 21:29] larsoner commented on #5623
Closing this as an upstream bug. I think we have to live with it until they fix it unless we want to scrap the templates

[2018-11-07 21:29] #5623 closed

[2018-11-07 21:30] larsoner commented on #5600
I have seen people have this segfault, too. The workaround is to (annoyingly) just close and reopen `mne coreg` from the command line with each new subject.

[2018-11-07 21:31] larsoner commented on #5577
FYI based on the tagged issues/PRs a release next week should be doable.

[2018-11-07 21:31] larsoner commented on #5563
Closing due to non-response / likely bug in custom code, but if you can isolate it to MNE calls let us know

[2018-11-07 21:31] #5563 closed

[2018-11-07 21:34] larsoner commented on #5534
Closing as I've mentioned this in the stats revamping issue #4859

[2018-11-07 21:34] #5534 closed

[2018-11-07 21:34] larsoner commented on #5515
This is now complete

[2018-11-07 21:34] #5515 closed

[2018-11-07 21:36] larsoner commented on #5492
We have this now thanks to @SherazKhan :)

[2018-11-07 21:36] #5492 closed

[2018-11-07 21:37] larsoner commented on #5487
@Frooob let us know if this solution does not work for you and we will reopen

[2018-11-07 21:37] #5487 closed

[2018-11-07 21:37] larsoner commented on #5479
This should now be fixed with latest PySurfer release but let us know if it is not!

[2018-11-07 21:37] #5479 closed

[2018-11-07 21:37] larsoner commented on #5432
I think this is fixed

[2018-11-07 21:37] #5432 closed

[2018-11-07 21:38] larsoner commented on #5370
Closing as this seems like an installation / `ENABLE_USER_SITE` problem that presumably has been fixed (?). Feel free to open if it's still a problem or we need to update our docs somehow

[2018-11-07 21:38] #5370 closed

[2018-11-08 01:13] agramfort commented on #5688
does it work for you with sample dataset?

[2018-11-08 08:37] Slasnista commented on #5684
Ok, I'll go over it and make you a proposal.

Just a question, can multiple process access to the same edf record at the same time ? It would be great to use it in a batch generator for deep learning.

[2018-11-08 09:43] agramfort commented on #5684
I have never tried. But let’s make it work before making it fast.

[2018-11-08 11:53] wmvanvliet commented on #5365
done!

[2018-11-08 15:49] #5624 closed

[2018-11-08 17:13] #5510 closed

[2018-11-08 18:28] #5540 closed

[2018-11-08 21:09] massich commented on #5684
That's taken care in the set_annotations

On Thu, Nov 8, 2018, 21:24 Mainak Jas <notifications@github.com> wrote:

[2018-11-08 21:19] jasmainak commented on #5684
So, if I do:

[code]

I will get an error?

[2018-11-08 22:08] massich commented on #5684
Oh, sorry. I thought you referred to the tailing annotation. Not to the
time when epoching. But I would not do that either.

I would use the onset from annotations for epoching and then decide about
the time to window

On Thu, Nov 8, 2018, 22:19 Mainak Jas <notifications@github.com> wrote:

[2018-11-09 09:05] agramfort commented on #5684
@jasmainak I am not sure I get your concern here. Many formats use annotations to mark stim onsets like events. We just allow this with event and event_id. If the durations are not 0 or fixed for some annotations then we'll need to invent something new. But we'll need a good use case.

[2018-11-09 16:33] massich commented on #5684
I would say that this is experiment specific. Even if I have annotations of
contiguous regions all with the same size, why should I not be able to get
epochs from onset-0.1 to duration+0.1?
That this might not make sense for most experiments. Maybe. But I don't see
why it should not be possible.

On Fri, Nov 9, 2018 at 5:28 PM Mainak Jas <notifications@github.com> wrote:

[2018-11-09 16:48] jasmainak commented on #5684
If I'm trying to do a classification task between sleep stages, I don't want my data to be contaminated by other classes. I'm worried that people will unknowingly use the wrong tmax (e.g., by copy-paste from example) when they did not intend to.

Of course maybe people want to do onset - 0.1 to duration + 0.1 but I'm not aware of such use cases. Maybe there are valid reasons to do this too ...