[2020-01-29 18:39] mmagnuski commented on #7235
@larsoner Sure!

[2020-01-29 19:15] larsoner commented on #7259
Yes let's coordinate on a time to chat about this, see my responses on gitter. Too much ground to cover here...

[2020-01-29 19:34] mmagnuski commented on #7239
@GuillaumeFavelier Is pysurfer needed for plotting with pyvista? Because the last time I tried using mne-python stc plotting with pyvista backend in an env without pysrufer I got an error (the error said I should have pysurfer, but I'm not sure that should be the case). It works with pysurfer, but I thought it should work without.

[2020-01-29 19:58] larsoner commented on #7239
We have some check for PySurfer still implemented that we should only use if `Mayavi` is the selected backend:
[code]
@GuillaumeFavelier can you fix this so that it only checks in the case that mayavi is the selected backend?

[2020-01-29 20:18] christian-oreilly commented on #7259
FYI, I corrected the meshes that had topological defects or that were not watertight using

[code]

[2020-01-29 22:27] Davi1990 commented on #7232
I have worked in putting down a script that use different tools and in the end the surfaces right now are nicely coregistered with the T1w (see attached). Even though the outer skin is going a little bit outside but it should not be a big deal.

![Screen Shot 2020-01-29 at 11 04 23](https://user-images.githubusercontent.com/37826571/73402974-7310ff00-42bc-11ea-8edb-01f6bcb59458.png)

Anyway now I

[2020-01-29 23:05] larsoner commented on #7232
Did you see this above?

In particular [this comment](https://github.com/mne-tools/mne-python/issues/7259#issuecomment-579832628) has some code you could use to decimate your surface. Soon it will be adapted to `mne.decimate_surface` because it seems to be a necessary use case.

[2020-01-30 08:57] SophieHerbst opened #7268 "ENH: Add pop-up key mapping for PyVista stc.plot"
@GuillaumeFavelier maybe this already exists: is there a way to move continuously through time on an stc, by holding for instance the left/right arrow key?  The playback speed scaler sets the step-size on the time-axis, but I still need to move the mouse across the time scale, which is a bit inconvenient, and hard to do continuously.

[2020-01-30 09:09] agramfort commented on #7268
did you try pressing space bar?

[2020-01-30 09:17] SophieHerbst commented on #7268
I did not (what a narrow concept of time). Cool!
What is the shortcut to bring up a legend / help ?

[2020-01-30 09:29] agramfort commented on #7268
it does not exist yet :) to be consistent with other plots it should be 'h'

[2020-01-30 10:37] GuillaumeFavelier commented on #7268
That would be nice to have considering the number of toggles/shortcuts has increased in TimeViewer. I added this idead in #7162 :+1:

[2020-01-30 12:48] sabineleske commented on #7170
Hi!
yes, of course this is fine with me. You have my permission as well.

[2020-01-30 13:26] dede3de commented on #7169
Does it now work with raw non-epoched data?

[2020-01-30 14:28] larsoner commented on #7268
This window that pops up can just be a new / separate `matplotlib` figure like we do in all of our other plotters. @GuillaumeFavelier it might be worth refactoring the code to make a new function that takes a list of `(shortcut, description)` pairs and pops up a new window with the list.

[2020-01-30 14:50] christian-oreilly commented on #7259
FYI, the last problematic mesh I had was causing problem because the BEM file was problematic to start with. There were no skull voxel at some places

![Screenshot from 2020-01-29 17-46-17](https://user-images.githubusercontent.com/5932954/73460077-d98e2f80-4345-11ea-9284-36625b5a86d1.png)

I corrected these by hands and it is now working... So all my meshes works now! :)

[2020-01-30 15:32] agramfort commented on #7169
it should work now in master

[2020-01-30 19:57] #7239 closed

[2020-01-30 20:29] larsoner commented on #7232
@christian-oreilly this issue makes me think that we might want to make the BEM mesh extraction we discussed more publicly available. If it takes hours then just some description [in our FAQ](https://mne.tools/dev/overview/faq.html#my-watershed-bem-meshes-look-incorrect) would be good. If it takes about a minute then we should turn it into an example.

Would you be able to make a PR for this? If y

[2020-01-30 21:34] christian-oreilly commented on #7232
@larsoner You mean to document the cube marching + laplacian smoothing + decimation approach? I should be able at least to provide an initial PR. What often ends up taking longer for me is debugging the CI stuff and editing to adjust for project specific standards on naming and format that I am not familiar with. I will be happy to provide the PR, but will be happy to have a bit of help to push it

[2020-01-30 22:40] larsoner commented on #7232
Sounds good, I can help with the pedantic parts

[2020-01-30 23:23] Davi1990 commented on #7232
@larsoner yes I saw your comment above. I've run `mne.decimate_surface ` so that the new surfaces have the same number of faces and vertices of the original. However I still get the same error.

Moreover if I run the `make_bem_model` command with ico=None I got the following error instead:

Sorry but this issue is keeping me stuck

[2020-01-30 23:47] jasmainak commented on #7232
@Davi1990 you have to play around with the Freesurfer commands until you get better surfaces. Alternatively you can also edit the surfaces manually. There are demos online: https://www.youtube.com/watch?v=AR83_Bt04VQ

[2020-01-31 08:57] WilliamLabCea opened #7270 "raw.pick_types - lost EEG electodes"
Dear all,

I 'm having a problem when I compute  raw.pick_types for selected eeg channels from a .fif data file
When I load the raw data all channels can be found in the file:

print("Input: ", raw.ch_names)
Input:  ['MEG0113', 'MEG0112', 'MEG0111', 'MEG0122', 'MEG0123', 'MEG0121', 'MEG0132', 'MEG0133', 'MEG0131', 'MEG0143', 'MEG0142', 'MEG0141', 'MEG0213', 'MEG0212', 'MEG0211', 'MEG0222', 'MEG022

[2020-01-31 09:41] agramfort commented on #7270
what you write a more descriptive message to explain the problem? thx

[2020-01-31 09:43] agramfort commented on #7270
@WilliamLabCea can you look at the ch_types assigned to EEG025 or EEG035?

print(raw.info)

or you can use:

https://mne.tools/stable/generated/mne.channel_type.html

[2020-01-31 11:58] dede3de commented on #7169
I have downloaded the latest master version (0.20.dev0)
[code]
[code]

but the 'match_case' still doesn't work with raw data. Am I missing anything?

[2020-01-31 12:27] WilliamLabCea commented on #7270
Hi Alexandre,

I found the problem. Electrodes were turn off online. They appears in the raw file but are drop as bad channel when processing raw.pick_types.

William

[2020-01-31 12:27] #7270 closed

[2020-01-31 13:25] agramfort commented on #7169
can you provide a full snippet to replicate you observe? I see a match_case
param
in the code of current master

[2020-01-31 13:44] dede3de commented on #7169
[code]

[2020-01-31 14:32] drammock commented on #7169
Your `git pull` line shows you pulling from your own fork `dede3de/mne-python`. Are you certain that your fork's master branch is new enough to have the relevant changes? Do you still see the error if you pull from `mne-tools/mne-python`?

[2020-01-31 14:41] GuillaumeFavelier commented on #7268
If we plan to reuse `MplCanvas`, this requires https://github.com/mne-tools/mne-python/pull/7247 to be merged

[2020-01-31 15:16] dede3de commented on #7169
I have tried to set up again the development environment from scratch, following the instructions here https://12983-1301584-gh.circle-artifacts.com/0/dev/contributing.html
But again, the 'match_case' works with epoched data, but not with raw data. Is there anything I can check to make sure I have the latest master? Thanks!

[2020-01-31 16:18] agramfort commented on #7169
how do I get ppt10_raw.set ?

[2020-01-31 16:26] larsoner commented on #7268
I wouldn't reuse `MplCanvas`, I would actually pop up a window for this one. So you can just do a new `plt.figure`

[2020-01-31 16:50] drammock commented on #7169
@dede3de note that the link to the contributor guide that you're using is a link to our CircleCI server (test builds for changes to the documentation), not the official docs, and it is at least a year old.  The site for current master branch of development version is always at https://mne.tools/dev/, so you would want to use https://mne.tools/dev/install/contributing.html

That said, the contribut

[2020-02-01 02:00] #7254 closed

[2020-02-02 22:17] dede3de commented on #7169
Thank you @drammock for the explanation. I have followed your instructions and it now works. Thanks again!

[2020-02-04 09:36] SophieHerbst opened #7282 "error when saving TFR: unsupported type <class 'datetime.datetime'>"
I am computing power on epochs and want to save the output. Since I updated MNE to
0.20.dev0, I get the following error:

[code]
Here is an example that reproduces the error:

[code]

[2020-02-04 10:48] sappelhoff commented on #7141
I only see this now, but let me add some explanation (no solution, only information):

[@robertoostenveld ](https://robertoostenveld.nl/electrode/) versus my [own computations](https://github.com/sappelhoff/eeg_positions#details) are slightly different in their assumptions.

- Robert says the equator goes through Fpz and Oz (and T7 and T9 ... I think the T9 is actually a typo and meant to be T8)

[2020-02-04 11:47] poojaprabhu9 commented on #6155
We (@virvw and @poojaprabhu9) are trying to perform linear regression on the volume source estimates. We want to try regression on volume labels consisting of those structures explained this example https://mne.tools/dev/auto_examples/visualization/plot_parcellation.html. I found that the issue is open but not sure is it solved?
Any luck with this problem.
Will be of great help.

[2020-02-04 11:49] robertoostenveld commented on #7141
correct, T9 should be T8. I have corrected it on https://robertoostenveld.nl/electrode/

My motivation for the circles is based on https://pdfs.semanticscholar.org/53a7/cf6bf8568c660240c080125e55836d507098.pdf figure 6 and 7 and Jasper 1958 (could not find a PDF so quickly).

The contour through Fpz/T7/Oz/T8 is one that is reasonably easy to follow due to the regularity of the head. If you go furt

[2020-02-04 13:17] agramfort commented on #7282
I can replicate. let me have a look

[2020-02-04 13:34] agramfort commented on #7282
in the mean time you can do:

del power.info['meas_date']

before saving.

[2020-02-04 13:38] sappelhoff opened #7283 "plotting: address mpl deprecation warning when calling plt.subplots() several times."
I am plotting several topographies using `mne.viz.plot_evoked_topomap` so that for different conditions I can get a single figure with:

- each row is a condition
- each column is a different time point
- each panel is a topography

this is my code:

[code]

Using this, I run into the following warning:

I think this is triggered by the following line:

https://github.com/mne-tools/mne-python/blob

[2020-02-04 16:18] larsoner commented on #6155
No progress that I know of other than the scripts linked above

[2020-02-04 16:19] larsoner commented on #7283
Can you fix it by only doing `colorbar=True` on the first or last iteration, and `colorbar=False` otherwise?

[2020-02-04 16:41] poojaprabhu9 commented on #6155
It will be of great help, if you can resolve this.
Please.

[2020-02-04 17:03] virvw commented on #6155
Dear @larsoner @agramfort - is this something we could help achieve / make progress on or is it currently out of reach? (rather decisive in how to finalize a study for @poojaprabhu9 hence her plea ;-)

[2020-02-04 21:39] adam2392 opened #7287 "";" are not supported in EDF annotation descriptions"
#### Describe the bug
Hi, I'm currently reading in an EDF file w/ the latest MNE dev version. `read_raw_edf`, and I encounter this error:

"ValueError: Semicolons in descriptions not supported."

I took a look at the descriptions for each annotation inside the EDF file using edfbrowser, and I see semicolons, but at the same time I don't quite understand why this is a problem? Is it possible to sub

[2020-02-04 22:02] agramfort commented on #7287
Sharing a file or fixing the bug directly is helpful

[2020-02-04 22:24] adam2392 commented on #7287
Will try trimming a file and posting a dropbox link here.

[2020-02-04 23:05] adam2392 commented on #7287
https://www.dropbox.com/s/f3cg7xme8x3a0ui/SEEG_SZ_1P_0001_reduced_reduced.edf?dl=0

for a reduced file that will not read because ";" are in annotation descriptions. I took a look at the source code, and:

[code]
is causing the error. I don't see why, we possibly can't take out that value error, or do a string replacement w/ say "-", or "|" to denote separation if really necessary?

[2020-02-05 06:40] agramfort commented on #7282
Fixed in #7284

[2020-02-05 06:40] #7282 closed

[2020-02-05 08:50] sappelhoff commented on #7283
yes, that fixes it. Thanks @larsoner

[2020-02-05 08:50] #7283 closed

[2020-02-05 09:03] britta-wstnr commented on #7170
@larsoner would that work?

[2020-02-05 12:19] larsoner commented on #7170
Seems to me like that should be sufficient

[2020-02-05 15:46] britta-wstnr commented on #7170
@Lubell Let's get started?
@larsoner Should we create a new issue to discuss the implementation details before Jamie starts on a PR?

[2020-02-05 15:48] larsoner commented on #7170
My first thought would be to add it as a new method in `mne.filter.notch_filter`. If it's not clear that this is a good choice or how to do it then we can discuss in another issue

[2020-02-05 15:50] britta-wstnr commented on #7170
@larsoner, that sounds reasonable. I will get together with @Lubell and we'll get started on this!

[2020-02-05 18:06] neerajww opened #7291 "autoreject() usage and channel information"
#### autoreject() usage and channel information
The ar.fir_transform() gets hanged if the channel location has 'nans'.  Example:
ar = AutoReject()
epochs_clean = ar.fit_transform(epochs)
Running autoreject on ch_type=eeg
0.00% Creating augmented epochs   (struck here)

#### Expected results
Throwing an error and the reason will be better.

[2020-02-05 18:13] jasmainak commented on #7291
you should raise it here: https://github.com/autoreject/autoreject/issues. Thanks a lot

[2020-02-05 18:14] larsoner commented on #6155
It might take a bit of API design and work to get right. I'm not sure when I'd get to it (not in the next week or two probably).

One concrete step that might work is making `extract_label_time_course` deal with the `Vector*` variants of SourceEstimates work properly (probably just with `'mean'` mode). That way volume and other free orientation source estimates could be processed properly.

Then w

[2020-02-05 18:15] neerajww commented on #7291
Okay, moved now.

[2020-02-05 18:15] #7291 closed

[2020-02-06 11:01] dede3de opened #7293 "Error using mne.read_evoked_fieldtrip"
I have a .mat file with averages for different conditions that were computed in Fieldtrip with FT_TIMELOCKANALYSIS. I am trying to use mne.read_evoked_fieldtrip, but when I run this code I get an error: `KeyError: 'data'`

[code]

I have also tried to specify the 'data_name', selecting only one of the conditions included in the 'averages_for_ft.mat', but again, I get an error: `TypeError: list ind

[2020-02-06 11:15] agramfort commented on #7293
maybe @thht or @DiGyt can have a look? can you share a file to replicate the pb?

[2020-02-06 11:17] dede3de commented on #7293
Sure, but I would prefer to share it privately. Where can I send it to? It's about 465000KB.

[2020-02-06 21:28] neerajww opened #7296 "showing channel names on topomap"
####  Sorry found it working now. Below is the code.
[code]
Is there a way to change the font size of the channel names on the topomap.

[2020-02-06 22:18] drammock commented on #7296
This is not a bug or feature request, it is a question about usage.  Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for such questions.

[2020-02-06 22:18] #7296 closed

[2020-02-08 13:26] mabhijithn opened #7300 "Error in mne.io.read_raw_curry"
#### Describe the bug
Error when reading curry file. The error is pasted in actual results.

#### Steps to reproduce

Test data is large in size. I am placing the download link here:
https://mega.nz/#F!pdMmxayI!eKQaoIN_VYMwCYHRhDS_tw
All curry files with .ceo, .dap, .dat and .rs3 extensions of the same name are shared in the above link

[code]

#### Expected results
The raw data should be availabl

[2020-02-09 07:23] hoechenberger opened #7301 "URL in GitHub project description should point to https://mne.tools"
Currently still pointing to http://martinos.org/mne/

<img width="860" alt="Screen Shot 2020-02-09 at 08 21 40" src="https://user-images.githubusercontent.com/2046265/74098199-95edaf80-4b15-11ea-9c9b-a78751eceaff.png">

[2020-02-09 11:54] Ziaeemehr opened #7302 "No module named 'mne.datasets.megsim'"
I get this error :

[code]
[code]

I used this for installation:

[code]

[2020-02-09 12:42] Ziaeemehr commented on #7302
I also installed the mne-python from source file of github repo.
I get the same error.

I also have this error:
[code]

[code]

[2020-02-09 16:52] agramfort commented on #7302
what's new https://mne.tools/stable/whats_new.html says:

Removed the mne.datasets.megsim dataset because it was taken down by
its host (MRN). Use the mne.simulation functions instead, by Eric
Larson

[2020-02-09 19:56] MaryZolfaghar commented on #1848
I just want to check if anyone thought up any idea on this issue. I am also trying to analyze my decoding scores (using SVM for two classes) and see whether the scores are significant or not using permutation testing and cluster correction.

[2020-02-10 05:34] egorananyev commented on #4686
A code example *would* be great!

[2020-02-10 08:15] dede3de commented on #7293
Hi there, where could I send you the file? Thanks.

[2020-02-10 08:19] thht commented on #7293
hi,
i am going to take a look.

@dede3de send me an email to thomas.hartmann@th-ht.de and i will provide you with a link to upload the file.

[2020-02-10 12:51] larsoner commented on #7301
Fixed, thanks @hoechenberger

[2020-02-10 12:51] #7301 closed

[2020-02-10 13:01] thht commented on #7293
so, there are two/three problems here:

1. your file contains a cell array for each of the conditions. i assume each entry refers to the data of one participant. cell array are not supported for reader function at the moment. the solution for your would be to build one file for each participant. i will work on a better error message.
2. the channels in the data are lowercase while the channels in

[2020-02-10 13:14] dede3de commented on #7293
Thanks very much for looking at the file.
Re (1), Each cell array is a condition, and within each condition I have a structure for each of the participants. In each structure for each participant, there are:
- label of channels (cell type)
-frequency sample
- electrode locations, with coordinates and labels (structure, with double and cell type)
-average for each channel (rows) and each time point

[2020-02-10 13:22] thht commented on #7293
so, in your original file you have the following structure:

- condition_1
- condition_2

etc... (i use generic names here for your conditions). each of these fields is a cell-array containing one fieldtrip-structure per participant.

what you need to do is create a file for each participant. the general structure would be the same. i.e. there would be one variable per condition. but instead of co

[2020-02-10 14:58] agramfort commented on #1848
if you have decoding scores as time series and change level in 0.50 you could do
t-test at the group level and the cluster stat functions we have could
take as input the
time series subtracted from change ie 0.5. t-test would test that mean
is higher than 0.5

[2020-02-10 15:15] larsoner commented on #7300
You need to pass an actual filename. In #7297 this will now do:
[code]
To give you a hint that you should do:
[code]
There is currently a bug with this as the event file `.cef` does not exist. Is it supposed to be there? If not, we can probably allow reading with no events.

[2020-02-10 16:15] mabhijithn commented on #7300
In our experiments we did not have an event file. The matlab function reads data even without this file.

[2020-02-10 16:18] mabhijithn commented on #7300
Thanks for the tip!
I had tried to read with '.dat' extension. But the error
`Event file not found. No Annotations set.`  led me to input without extension. Can I edit the python functions myself to to read without `.cef` file?

[2020-02-10 19:10] larsoner commented on #7300
@mabhijithn on the branch from https://github.com/mne-tools/mne-python/pull/7297 I cannot replicate your problem:
[code]
But there does appear to be a different problem with your file:
[code]
Is it possible that the data was truncated during upload?

[2020-02-11 02:57] #7260 closed

[2020-02-11 03:02] #7287 closed

[2020-02-11 03:24] adam2392 opened #7306 "Add legend to `plot_psd`, when using picks"
#### Describe the problem
When doing `raw.plot_psd(picks=...)`, with multiple axes, and then running `plt.legend()`, the different colors do not show up sufficiently on the legend.

#### Describe your solution
Add labels to each plot on plot_psd, so `ax.legend()` will catch these.

#### Additional context
Add any other context or screenshots about the feature request here.

[2020-02-11 09:30] agramfort commented on #7306
what if you have 300 sensors like MEG?

[2020-02-11 09:41] SophieHerbst opened #7308 "plotting power topomaps: ValueError: trans must be a Transform between head<->meg, got None"
(MNE 0.20.dev0)

I get an error when trying to plot power topomaps for tfrs computed with `mne.time_frequency.tfr_morlet`:

[code]

I traced it down to transforms.py, line 427 (in def _ensure_trans), where apparently my existing trans is not recognised as such:

[code]

Why is the trans not recognized?
I can share the file if you need.

Thanks!

[2020-02-11 10:04] paulineduret commented on #6488
Hi! I got the same error with a mixed EEG/MEG dataset. Maybe the CTF system uses the eeg as a ref and thus all magnetometers are compensated, even the REF ones.

[2020-02-11 12:33] larsoner commented on #7308
Yes please share the file. It's probably an issue that we write out the `Transform` (which h5io will turn into
 a dict) but do not cast it back to a `Transform` on read.

[2020-02-11 14:15] SophieHerbst commented on #7308
You are right, it comes from the saving & reading. Directly after computing the tfr, I can plot the topo. I sent you a download link for the file per email (no other option here).

Here is what I do to save / read:
[code]

[2020-02-11 14:27] larsoner commented on #7308
I'm thinking that we'll want to start a `_dict_to_info` function that can be used any time there is an `info` object save-loaded round-trip using h5io. So far the only thing it would need to do is:
[code]
@SophieHerbst can you see if this would fix your problem if you put this function in `mne/io/meas_info.py` and import and use it in the right place in `mne/time_frequency/tfr.py`?

[2020-02-11 14:50] mabhijithn commented on #7300
No.. I don't think so. I read the same data using the MATLAB function, and it was working fine.

[2020-02-11 15:09] SophieHerbst commented on #7308
It gives me an error:

[2020-02-11 15:28] agramfort commented on #6488
@bloyl as our CTF expert do you have any thought on this? do we some tiny dataset to replicate this?

[2020-02-11 15:37] larsoner commented on #7308
Okay you'll have to dig in a bit. Maybe do:
[code]
This might not work either, though, and require further work. I was mostly just trying to give you hints to get you enough to get started -- but if you don't want to debug this let me know and I can work on a PR directly

[2020-02-11 15:48] SophieHerbst commented on #7308
I don't think I have sufficient understanding of the transform function to debug this quickly, so it would be great if you could have a look.
Here is the code that produces the error (@agramfort asked for it):

[code]

[2020-02-11 17:23] SophieHerbst commented on #7308
Thank you, that works!

[2020-02-11 20:40] adam2392 commented on #7306
Ah I see, sorry, only when you do `average`

[code]

Ideally, I would presume that the legend shows two sets of labels, colorcoded red and blue?

[2020-02-11 20:41] bloyl commented on #6488
I agree that it seems odd that a ref magnetometer would have gradient compensation applied.
I've never seen this issue on our MEG only data and unfortunately I don't have any datasets that have both MEG and EEG so I can't replicate the issue.

Is there a dataset available?

[2020-02-11 22:18] #7308 closed

[2020-02-12 07:27] Ziaeemehr commented on #7302
The problem with `data_path = sample.data_path()` come from connection in my country, apparently there is some restriction access.

[2020-02-12 07:27] #7302 closed

[2020-02-12 07:42] agramfort commented on #7306
Given how different can be the input of picks parameter I think it’s hard to achieve something consistent. Can you try to pass differently a list of strings to ax.legend function ?

[2020-02-12 13:25] hoechenberger opened #7310 "ICA arguments (once again)"
There's been an extensive discussion on the ICA arguments in #4856. As a result, the documentation was improved to clarify the use of the `n_components`, `max_pca_components`, and `n_pca_components` arguments of `mne.preprocessing.ICA`.

An info box in the current docs now reads:

However, after reading that, I didn't really know which of the three abovementioned parameters to adjust. I eventually

[2020-02-12 14:24] agramfort commented on #7310
an PR to update the doc is welcome

[2020-02-12 14:25] cbrnr commented on #7310
Yes, the ICA parameters are a constant source of confusion (at least for me) even with the updated docs. By all means, please try to make it clearer by adding this information regarding EEGLAB.

Regarding the rank, I think this is because when you load some data the reference channel is usually not included. Therefore, if you now re-reference to an existing channel, you will reduce the rank becaus

[2020-02-12 14:32] hoechenberger commented on #7310
We don't use a reference in most recordings :) The system is truly reference-free, i.e., during recording, the reference is a "virtual ground" inside the amplifier (which, I believe, is connected to the GND electrode on the participant's scalp); no electrode is selected to be a reference at recording time.

[2020-02-12 14:47] cbrnr commented on #7310
Same for our BioSemi system (it uses a combination of two channels labeled GND and DRL, which are not part of the recorded data) - but since the EEG system records voltage there needs to be some reference. If it's the ground, that's the zero-level, so you need to add it back to the data.

[2020-02-12 14:54] hoechenberger commented on #7310
No, the data is already "referenced. Just to GND, which of course is unusably noisy; to "properly" reference, we simply select one of the channels as reference.

There's another option offered by our recording software, which allows us to set one or more reference channels during recording; all the system does, then, is an online subtraction of the reference channel signal from all the other chann

[2020-02-12 15:07] cbrnr commented on #7310
But even with GND you need to add this channel back to the data, because it is the reference and this reference is not part of the data.

[2020-02-12 15:23] Eklund89 opened #7311 "Biosemi64 montage and Nz as tip-of-nose"
#### Describe the problem
I use biosemi to record 64 electrodes with two additional electrodes: cheek and tip of the nose (**as Nz**).
Previously, I loaded and applied the built-in montage:
`montage = mne.channels.read_montage('biosemi64', unit='mm', transform=True)`
`raw.set_montage(montage, set_dig=True)`
It just informed me that cheek is not part of the biosemi64 montage and thus gets no positi

[2020-02-12 15:27] hoechenberger commented on #7310
Are you sure about this? The rank oft the data would stay 64 (number of electrodes) that way, is that _really_ what I want / would expect?

[2020-02-12 15:29] cbrnr commented on #7310
Yes, the rank stays 64. But if you then re-reference to any existing channel, the rank also stays 64.

[2020-02-12 15:30] cbrnr commented on #7310
Have you tried my modified example with your data?

[2020-02-12 15:38] larsoner commented on #7311
I originally thought this was a bug, but I think maybe we shouldn't have had `Nz` as a channel before. Can you see if [make_dig_montage](https://mne.tools/dev/generated/mne.channels.make_dig_montage.html#mne.channels.make_dig_montage) would do what you want? For example you could load the Biosemi montage and use those positions to make a new custom montage that fits your needs (e.g., including an

[2020-02-12 16:44] hoechenberger commented on #7310
Yes, it works and the rank of the data remains 64 (== number of channels) after adding that "virtual" reference.

I'm still not sure this is the right thing to do. The channel has no position in my montage (since, well, it's virtual), so it will appear at [0,0,0] by default, this cannot be right?

[2020-02-12 16:50] hoechenberger commented on #7310
Also just noticed the units on the axis labels are off, I specified `'mm'` when loading the montage, yet the plot produced by `data.plot_sensors()` displays `m`.

[2020-02-12 16:53] larsoner commented on #7310
IIRC the units should be for whatever units there are *on disk*, in MNE everything should be converted (during read) to `m` to be correct.

[2020-02-12 17:47] hoechenberger commented on #7310
Ok scratch that, you probably meant to add the ref at the location of GND?
<img width="519" alt="Screen Shot 2020-02-12 at 18 45 27" src="https://user-images.githubusercontent.com/2046265/74361974-1a675900-4dc8-11ea-9043-fa19622000c0.png">

[2020-02-12 18:05] cbrnr commented on #7310
The position is irrelevant for calculating the re-referenced signals.

[2020-02-12 18:10] hoechenberger commented on #7310
Yes, but then I'd have to remove the sensor again before plotting topomaps etc? This all seems kinda strange to me

[2020-02-12 18:18] cbrnr commented on #7310
The alternative is not to add the reference and live with the reduced rank data. I think that's what basically everybody does, but I was thinking that especially on the case of average reference it might be sensible to add the reference before (even more so if the original reference is on the scalp e.g. at Cz).

[2020-02-12 18:34] hoechenberger commented on #7310
@larsoner

The issue seems to be that I'm using a "generic Theta-phi in degrees" montage, and `read_custom_montage()` silently swallows my `unit` kwarg, as the `_read_theta_phi_in_degrees()` doesn't have one

https://github.com/mne-tools/mne-python/blob/b49528206273a5b5bcddd65cfa439ad241df1b24/mne/channels/_standard_montage_utils.py#L238-L239

Will open a new issue for this.

[2020-02-12 18:49] hoechenberger commented on #7310
@cbrnr
Will think about what you said and get back to you tomorrow :)
I mean, if you really think it would be a valid approach to add the reference back in, it would actually increase the number of electrodes from 64 to 65 (because GND, which is used as reference during "reference-free" measurements, is Fpz and normally lost), which could be nice.

[2020-02-12 18:53] hoechenberger commented on #7310
@cbrnr

So, we do agree that to get EEGLAB-like behavior as in `pop_runica(..., "pca", 123)`, users would have to adjust `max_pca_components` and leave `n_components` and `n_pca_components` alone?

[2020-02-12 19:08] cbrnr commented on #7310
That I'm not sure, I will check tomorrow.

[2020-02-12 19:13] hoechenberger commented on #7310
Thanks @cbrnr!

[2020-02-12 21:50] larsoner commented on #5745
Closing in favor of #4859

[2020-02-12 21:50] #5745 closed

[2020-02-13 07:57] cbrnr commented on #7310
I just read the [docstring](https://mne.tools/stable/generated/mne.preprocessing.ICA.html#mne.preprocessing.ICA), and I'd say that you want the `n_components` argument. It says that this is the "number of principal components (from the pre-whitening PCA step) that are passed to the ICA algorithm during fitting". The other two arguments deal with signal reconstruction when applying the fitted ICA.

[2020-02-13 09:07] hoechenberger commented on #7310
@cbrnr Hmm. Ok so the EEGLAB wiki [says](https://sccn.ucsd.edu/wiki/Chapter_09:_Decomposing_Data_Using_ICA#Issue:_ICA_returns_near-identical_components_with_opposite_polarities):

...

MNE docs say (highlights by me):

Therefore I figured one would either have to set `n_componens = max_pca_componens`, or simply set `max_pca_componens` and leave `n_componens` at the default of `None` (which would i

[2020-02-13 09:15] cbrnr commented on #7310
Hm. According to [my comment from 2 years ago](https://github.com/mne-tools/mne-python/issues/4856#issuecomment-357207487), the only difference seems to be the `pca_components_` matrix. For `n_components` this matrix retains its original shape (channel x channel) whereas for `max_pca_components` the discarded rows are missing. The resulting decomposition should be the same I think.

[2020-02-13 09:20] hoechenberger commented on #7310
I would assume the decomposition _can_ differ since only setting `n_components`, but not `max_pca_components`, could cause PCA to run into a case of "rank deficiency" (please excuse my non-mathematical language here), as by default it would try to find `nchans` components, even if the rank of the data might be `< nchans` e.g. after average referencing…
@agramfort, could you share any insights here

[2020-02-13 09:23] Eklund89 commented on #7311
Thank you for the response @larsoner
I do not manage to get it to work. Can you help me with this example file?

`import mne`
`file = "sample_raw.fif"`
`raw = mne.io.read_raw_fif(file)`
`montage = mne.channels.make_standard_montage('biosemi64')`
`raw.set_montage(montage)`

[sample_raw.zip](https://github.com/mne-tools/mne-python/files/4197406/sample_raw.zip)

[2020-02-13 09:28] agramfort commented on #7310
max_pca_components is the maximum number of PCA components you may want to
use and therefore need to estimate.
n_components <= max_pca_components is what is fed to the ICA that operates
on square unmixing matrices.
Whatever component between n_components and max_pca_components may still be
kept and put back in the data during apply.

[2020-02-13 09:30] benoitvalery opened #7313 "Can't load raw nirx data, due to encoding issue"
When I try to load NirX data with the `mne.io.read_raw_nirx` function, I'm facing encoding issue with the `.hdr` file. For now, I'm solving this manually by converting the `.hdr` to `utf8` with a simple text file editor like `geany`.

#### MWE

I recorded a test dataset (in a `test_github` folder), which is composed of the following files :
[code]
These informations were obtained with the followin

[2020-02-13 09:40] cbrnr commented on #7313
Do the `.hdr` files have a fixed encoding (i.e. are these files always encoded using `iso-8859-1`)? If so, `open` in https://github.com/mne-tools/mne-python/blob/master/mne/io/nirx/nirx.py#L112 should use the `encoding='latin1'` argument.

[2020-02-13 10:44] benoitvalery commented on #7313
All I can say is that I could not found any way to change the encoding of the `.hdr` file in the NirStar preferences. But it should be confirmed by other users. The NirsStar documentation does not say anything about it.

[2020-02-13 10:55] hoechenberger commented on #7310
@agramfort Thanks! So I suppose the question is, if I conduct a PCA to find `n` components and then run the PCA again with `n+1` components (all under the assumption that the rank of the data is `>=n+1`), would the first `n` components of both runs be identical?

[2020-02-13 12:05] cbrnr commented on #7310
For the ICA result (unmixing matrix), it should not matter whether you specify `n_components=60` or `max_pca_components=60`. In both cases, only the first 60 PCA dimensions will be used as input for ICA, which will yield a 60x60 unmixing matrix in both cases.

It's the apply step where these two parameters may yield different results (but only if `n_components` < `max_pca_components`; if you suppl

[2020-02-13 12:10] cbrnr commented on #7313
Yeah, that's not unexpected. On which platform do you record? Is it a Windows machine? Are other platforms (macOS, Linux) also supported by the recording software? I could imagine that they just use the (default) platform encoding, which is UTF8 on macOS and Linux, and Latin-1 on Windows. If their encoding differs from platform to platform (or even depends on the actual locale), then it won't be e

[2020-02-13 12:48] hoechenberger commented on #7310
@cbrnr
Created a quick MWE and I think you're right:

[code]

Produces:
[code]

So… What do we suggest in the docs now? For EEGLAB-like behavior, users should set `n_components` and leave `max_pca_components` and `n_pca_components` alone – that simple? :)

[2020-02-13 12:50] benoitvalery commented on #7313
I did the recording on a Windows platform. It seems that there is no alternative (MacOS, linux) NirStar distribution. What seems strange to me, is that *only* the `.hdr` is encoded in `latin1`. What about the others: they have been created from a windows platform too (?).

[2020-02-13 12:51] cbrnr commented on #7310
I'd say yes.

BTW you did see https://mne.tools/dev/auto_tutorials/preprocessing/plot_40_artifact_correction_ica.html#ica-in-mne-python, right?

[2020-02-13 12:54] cbrnr commented on #7313
The other text files are ASCII-encoded, which is a subset of Latin-1. This just means that they don't contain any special characters because the first 128 character encodings are identical in ASCII and Latin-1.

[2020-02-13 13:05] benoitvalery commented on #7313
So we have to ensure what format encoding is used by NirStar 15.2. Other users inputs would be great. If format encoding is varying from one version to another (15.0 *vs* 15.2, or windows 7 *vs* windows 10 ?), then, only a `chardet` solution would be reasonable. Am i wrong ?

[2020-02-13 13:07] agramfort commented on #7311
@Eklund89 you can do this:

[code]

basically we need to know the position of all EEG channels to set the montage. biosemi64 does not contain location for Nz or Cheek.

HTH

[2020-02-13 13:08] cbrnr commented on #7313
The safest solution would be to use `chardet` to infer the encoding. However, we have been simply assuming `latin-1` in other functions, so we could as well do it here. It will fix your problem, and will likely work for most other cases. If someone encounters more problems, we can always choose the safer solution then.

[2020-02-13 14:30] larsoner commented on #7313
Agreed let's just go with `latin-1` and if it turns out to be problematic we'll do something smarter

[2020-02-13 15:22] hoechenberger commented on #7310
Thanks, I was aware of it but had totally forgotten about the nice flow chart to help me understand the ICA process in MNE.

I once more took the time to step through EEGLAB's [`runica.m`](https://github.com/sccn/eeglab/blob/a7df96a67c00529e40f6ffc2f7e3806ed12502ba/functions/sigprocfunc/runica.m)

The docs say:
[code]

[code]

If the user only passes `'pca', val` to `runica()`, as suggested in the

[2020-02-13 15:31] gbrookshire opened #7315 "Tab completion crashes IPython"
#### Describe the bug

When using mne in IPython, pressing tab for tab-completion often (but not always) causes IPython to crash.  This doesn't happen when using objects that are not from mne-python.

#### Steps to reproduce

In IPython, execute the following code:
[code]

Then type `epochs.in` and press tab.

#### Expected results

The list of tab-completion possibilities appears, or it autocompl

[2020-02-13 16:00] gbrookshire commented on #7315
In case this is useful information, the problem does not appear on a computing cluster with these stats:
[code]

[2020-02-13 16:03] drammock commented on #7315
This is probably outside our ability to fix. Tab completion is handled by an external library (in your case "jedi") that is loaded by the ipython console, IDE or notebook. These may have jedi-specific settings (like memory limits) or may have an alternative completion library you can switch to. Searching for "ipython jedi settings" or "ipython jedi alternative" is probably a good place to start. H

[2020-02-13 16:21] larsoner commented on #7315
Indeed I cannot replicate on my system where I just did `pip install --upgrade jupyter[notebook]`:
[code]
So I think this is a bug with `jedi` and you probably / hopefully just need to update.

[2020-02-13 16:33] cbrnr commented on #7310
Like I said, for decomposition it doesn't matter, `n_components` and `max_pca_components` yield *identical* results.

[2020-02-13 16:55] hoechenberger commented on #7310
Yes, I got that, but it does matter when one invokes `ICA.apply()` :)

[2020-02-13 17:20] hoechenberger opened #7316 "Remove window title decoration from new _TimeViewer"
### Describe the problem
The new `_TimeViewer` by @GuillaumeFavelier  adds its own window title row, which is odd at least on macOS when not running in full screen mode, as the titlebar added by the operating system has the exact same name, so there's now redundant information:

<img width="841" alt="Screen Shot 2020-02-13 at 18 15 28" src="https://user-images.githubusercontent.com/2046265/7446048

[2020-02-13 17:34] GuillaumeFavelier commented on #7316
Thanks for reporting! It might be difficult for me to debug this one at the moment since it happens on macOS but I'll see what I can do. Also, I will link this to #7162

[2020-02-13 17:39] #7300 closed

[2020-02-13 17:56] hoechenberger commented on #7162
@GuillaumeFavelier
regarding this bug report:

for me it's the _PyVista_ window that opens in the background. once activated, pressing ? opens the help window in the foreground.

[2020-02-13 19:08] #7313 closed

[2020-02-13 19:45] #7268 closed

[2020-02-13 20:48] rob-luke commented on #7313
Thanks for fixing this so quickly @larsoner

I checked files from multiple nirx machines that I have access to and they all have the same encoding as the test set I uploaded. I also can’t see any settings in nirstar that would change the encoding.

I don’t know much about windows, but could the locale change the encoding? I am based in Australia, where are you @benoitvalery . It seems this is sort

[2020-02-13 21:01] rob-luke commented on #7057
There is now a python TDDR implementation [here](https://github.com/frankfishburn/TDDR/blob/master/TDDR.py).

[2020-02-13 21:28] agramfort commented on #7057
MIT license so we can use it in MNE

[2020-02-13 21:42] rob-luke commented on #7057
Great to hear. Whats the best way to go about adding external code? I assume we don't want to add that repository as a dependency. Do you usually email the author and ask them to add it to MNE, or ask permission for me to add it? Seems like most of the work will be around the data format management which I can do.

[2020-02-13 21:50] drammock commented on #7057
@rob-luke We'll want some changes to docstring, code formatting, etc, so to me it would seem odd to ask the original author to do that work for us. But I think it's polite to let them know that you're going to incorporate their work into MNE-Python, and ask if/how they want to be involved and/or credited.

[2020-02-13 22:05] #7179 closed

[2020-02-13 22:29] rob-luke commented on #7057
Thanks, I'll get in touch with the author and offer to do the bulk of the boring work and ask how they want to be involved/credited.

[2020-02-14 06:34] cbrnr commented on #7313
The locale almost certainly affects the encoding. If you don't specify an encoding, the system default will be used. This is CP-1252 (~ Latin-1) for many western languages, but something else on a lot of other systems. Therefore, if a Windows user in e.g. Russia records nirx files, these will likely be encoded as CP-1251 (assuming that's the Windows default). We might get away if only characters w

[2020-02-14 08:44] hoechenberger opened #7320 "read_custom_montage() silently ignores unit kwarg when loading Theta-phi montages (and possibly others)"
#### Describe the bug
`read_custom_montage()` accepts a `unit` kwarg …
https://github.com/mne-tools/mne-python/blob/d2a5660db534c2d67af514b3d89b08abb67aa696/mne/channels/montage.py#L956-L957

… but doesn't pass the `unit` kwarg down to `_read_theta_phi_in_degrees()`:
https://github.com/mne-tools/mne-python/blob/d2a5660db534c2d67af514b3d89b08abb67aa696/mne/channels/montage.py#L1039-L1044

This is u

[2020-02-14 09:24] agramfort commented on #7320
PR welcome ! thx for the bug report

[2020-02-14 09:41] benoitvalery commented on #7313
Hi, it seems that the parameter solution proposed by @cbrnr is the most generic. @rob-luke I'm based in France.

[2020-02-14 10:33] gbrookshire commented on #7315
Thanks -- good to know! It looks like setting IPython to use a different autocompleter fixes the problem. In case anyone else runs into this problem, here's the solution:
`%config IPCompleter.use_jedi = False`

[2020-02-14 12:19] larsoner commented on #7313
Sounds reasonable but let's wait until we have suitable test files to work on this

[2020-02-14 12:48] benoitvalery commented on #7313
I tested another older (recorded 8 monthes ago) dataset this morning and all the files, including the `.hdr` file, were reported as `ascii` by my linux, without any pre-manipulation on it.
[code]
How is this possible ?

[2020-02-14 12:54] cbrnr commented on #7313
This is possible because maybe you didn't include any special non-ASCII characters in the header, then Latin-1 is identical to ASCII.

[2020-02-14 12:56] GuillaumeFavelier commented on #7228
Unfortunately, I think this might take a while to fix, probably at the next release of PyVista

[2020-02-14 13:27] GuillaumeFavelier commented on #7162
The recommended version of `pyvista` to use is now `0.23.1`. The `master` branch is not supported at the moment so it will break with an error related to `interactor`. This change is made to improve stability.

[2020-02-14 14:26] larsoner commented on #7162
So we hold off on merging this until PyVista cuts a new version?

In that case you might as well add some more stuff here, such as the time vertical bar plus clicking. That would at least bring this to feature parity with `plot_volume_source_estimates`, which is a reasonable stopping point.

[2020-02-14 14:26] larsoner commented on #7162
Argh sorry I thought this was #7247. My comment pertains to that PR :)

[2020-02-14 14:29] GuillaumeFavelier commented on #7162
I think it can be merged after some tests are added. The important blockers are https://github.com/mne-tools/mne-python/issues/7228

[2020-02-14 15:48] dgfitch opened #7323 "Shift-arrow keys not working on linux with remote X11"
#### Describe the bug
Shift-arrow keys do not scroll by 100% window width on certain Linux/X11 systems.

#### Steps to reproduce
Load up any sample data set and do `raw.plot()`:

    import mne
    from mne.datasets import sample
    data_path = sample.data_path()
    fname = data_path + '/MEG/sample/sample_audvis_raw.fif'
    raw = mne.io.read_raw_fif(fname)
    raw.plot()

Press Right arrow. Hol

[2020-02-15 16:18] hoechenberger commented on #7320
Just for the record, as we figured during the discussion of #7321, this "bug" is based on a misunderstanding on my end: the head size _always_ has to be specified in meters. The `unit` kwarg, otoh, was never really used for anything. #7327 aims to remove it altogether from `read_custom_montage()`.

[2020-02-16 11:45] hoechenberger commented on #7170
Just wanted to chime and and say that I believe ZapLine would be an extremely very useful addition to MNE.

[2020-02-17 00:46] #7259 closed

[2020-02-17 15:52] #7320 closed

[2020-02-17 16:00] #7293 closed

[2020-02-17 16:26] joshbear opened #7334 "watershed_bem error"
#### Describe the bug
watershed bem file overwrite error / function failure

#### Steps to reproduce
Using both the terminal function, with or without the --overwrite flag:
  mne watershed_bem -s ESES_40
  mne watershed_bem -s ESES_40 --overwrite
Or the function within a Python script:
  mne.bem.make_watershed_bem()

Returns the following:

#### Expected results
watershed output files for use in s

[2020-02-17 18:56] larsoner commented on #7334
Did you try `master`? This appears to be fixed there already:

https://github.com/mne-tools/mne-python/blob/master/mne/bem.py#L1171-L1172

[2020-02-18 04:24] joshbear commented on #7334
Indeed, it works correctly in master. Thanks and sorry for the bother!

Josh

[2020-02-18 05:29] #7334 closed

[2020-02-18 22:15] adam2392 opened #7340 "White Space in Events_ID from Annotations - EDF file"
#### Describe the bug

In `events_from_annotations`, I can read in Annotations that were attached to an EDF file read in. However, there are large white-spaces sometimes if the Annotations weren't written properly in the EDF file.

So instead of: `this happened`, it looks like `this happened                 `. I don't foresee any use case where this would be useful, so I was wondering if I could s

[2020-02-18 23:44] jasmainak opened #7341 "sphere argument in plot_topomap does nothing"
I'm on the latest master and I am using the `sphere` argument in `plot_topomap` and it seems to do nothing for a range of values. See:

[code]

Only the last line did something. This seems a bit unintuitive to me. What values is MNE expecting? Perhaps that should be documented and an error raised if it gets a value that is too large?

[2020-02-19 08:21] cbrnr commented on #7340
I agree that normally whitespaces should be ignored, but if we enforce this we're restricting the EDF format unnecessarily. I'd rather leave this to the users to post-process any descriptions. However, if people want that I'd be OK with having an additional parameter for `mne.events_from_annotations` (e.g. `strip_whitespace=False`). What do others think?

[2020-02-19 08:24] #7310 closed

[2020-02-19 14:46] larsoner commented on #7340
I think it would be better to provide people ways of cleaning / modifying their annotations rather than `.strip()`ping strings for them. If the annotation in the file is `"this happened "` then it seems like correct behavior that we keep it as `"this happened "` rather than changing it to `"this happened"`.

Can you do something like:
[code]
If it's this easy then I think it should be done on the

[2020-02-19 14:47] larsoner commented on #7341
Seems like it's probably a bug, the MEG sensors should be scaled up proportionally to the head size (a smaller radius should mean that the outermost MEG sensors get more spread out relative to / farther from the head).

[2020-02-19 15:05] agramfort commented on #7340
I would expect users to do the for loop that @larsoner suggested. What if
you want
to enforce lower caps or whatever other string manipulation. Just do a for
loop.

[2020-02-19 16:00] cbrnr commented on #7340
I agree with both of you @larsoner and @agramfort, I just wanted to mention that maybe appended whitespace happens very often with EDF. I don't know if that's the case, but only if this is true it would warrant a new parameter. Otherwise, I also think that we should leave any string manipulations to the user.

@larsoner the descriptions are in a NumPy array, so a simple list comprehension might wo

[2020-02-19 20:44] kingjr opened #7345 "Q: _TimeViewer interaction"
Hi @GuillaumeFavelier,

I'm trying to test your beautiful `TimeViewer`. It works nicely: I can move the camera and play the animation by pressing the space bar, but I don't manage to click / drag the cursors. I think I'm missing something silly, any idea?

Thanks!

[2020-02-20 09:12] kingjr commented on #7345
I should add that I'm on macOs, and using pyvista 0.23.1

[2020-02-20 10:18] GuillaumeFavelier commented on #7345
You mean the sliders? This is odd. Can you share the result of :

`python -c "import mne; mne.sys_info()"`

and

`python -c "import pyvista; print(pyvista.Report())"`?

My first suggestion would be to try with the `master` branch of `pyvista`. Let me know how it goes.

[2020-02-20 10:20] kingjr commented on #7345
<string>:1: RuntimeWarning: macOS users should use PyQt5 >= 5.10 for GUIs,
got 5.9.2. Please upgrade e.g. with:

    pip install "PyQt5>=5.10"

Platform:      Darwin-19.2.0-x86_64-i386-64bit

Python:        3.7.4 (default, Aug 13 2019, 15:17:50)  [Clang 4.0.1
(tags/RELEASE_401/final)]

Executable:    /Users/jeanremi/opt/anaconda3/bin/python

CPU:           i386: 12 cores

Memory:        32.0 GB

m

[2020-02-20 11:43] larsoner commented on #7345
Can you try updating PyQt as suggested by the warning? There are interactivity problems with older PyQt on macOS.

[2020-02-20 12:45] kingjr commented on #7345
Yes, updateing PyQt5 fixed it thanks

[2020-02-20 12:45] #7345 closed

[2020-02-21 17:51] dominikwelke opened #7347 "mne.Info - offer more complete options for subject handedness"
dear all,
first of all thanks for your amazing work!

I find in the [api documentation](https://mne.tools/dev/generated/mne.Info.html#mne.Info) that `mne.Info` objects currently only allow two options for a subjects handedness:

`hand : int`
`Handedness (1=right, 2=left).`

is there a specific reason for this? otherwise I would propose adding additional / more complete options:

`hand : int`
`Hand

[2020-02-23 18:42] libertyh opened #7350 "Setting custom_ref_applied for ECoG data"
#### Setting average reference for ECoG data
When using the `raw.set_eeg_reference(ref_channels='average')` to perform a common average reference on ECoG data, the `custom_ref_applied` bool flag in raw.info remains set to `False`. I looked at `io/reference.py` and in the function definition for `set_eeg_reference` it appears that when `_apply_reference` is called, it looks only for channels of typ

[2020-02-24 15:17] agramfort commented on #7350
what type of reference would you apply on ECoG data? CAR? The usecase with
ECoG or sEEG has been
really explored that why it's called set_eeg_reference and not
set_reference(ch_type='eeg')

I guess we 'just' need the use case to adjust MNE to behave properly.

[2020-02-24 15:52] libertyh commented on #7350
For ECoG/sEEG, a CAR is common, but not always done. Sometimes a single reference channel is used (a subgaleal reference, for example, or even a white matter reference). Bipolar reference is also often used clinically. Basically it would make sense for `set_reference` or `set_eeg_reference` to work exactly as it does, but have the ability to set the channel type, as you suggested above.

[2020-02-24 15:59] agramfort commented on #7350
ok you suggest we need a set_reference(ch_type) and make set_eeg_reference
call set_reference(ch_type='eeg') before deprecating set_eeg_reference()

any objection anyone? Can you give it a shot?

[2020-02-24 16:05] larsoner commented on #7350
Rather than force a deprecation cycle, I would just add a `ch_type` argument to `set_eeg_reference`. It leaves it as a misnomer but since `set_eeg_reference` is mandatory for inverse modeling, it's going to be all over the place for users so the pain of deprecating this function is quite high.

[2020-02-24 16:11] hoechenberger commented on #7350
In that case, I'd prefer @agramfort's proposal sans the deprecation… i.e., add `set_reference()` and simply make `set_eeg_reference()` call `set_reference(ch_type='eeg')`

[2020-02-24 16:11] drammock commented on #7350
Could we compromise by setting a longer deprecation cycle? (2 releases? Or even 4?)

[2020-02-24 16:12] libertyh commented on #7350
FWIW, I don't feel strongly about it being called `set_reference` instead -- intracranial EEG is a subset of EEG, I guess, so semantically it doesn't bother me if that's also the issue.

[2020-02-24 16:16] larsoner commented on #7350
To me it's not about the duration, it's about the cost (amount of code changes people will have to make at some point or another) relative to the gain we (maintenance) and users (usability) get from the change. Here what I see is no maintenance benefit, a tiny usability/discoverability benefit, and a high cost of changing (i.e., any user scripts that involve EEG inverse modeling, or even most that

[2020-02-24 16:17] agramfort commented on #7350
I anticipate people will want to do it for sEEG too as some point...

[2020-02-24 16:18] agramfort commented on #7350
I am fine keeping set_eeg_reference to avoid breaking too much code

[2020-02-24 18:39] libertyh commented on #7350
Ok I can take a stab at this later!

[2020-02-25 13:35] kingjr opened #7354 "BUG: bonferroni correction output p-values > 1."
[code]
p_corrected:
[code]

Formally, I'm not sure what should be done, but I think clipping below 1 could be reasonable?

[2020-02-25 14:12] larsoner commented on #7354
Agreed we can just clip at 1., PR welcome

[2020-02-25 14:19] sustianovich opened #7355 "Number of splits greater than the number of samples"
I have run a test to try the Autoreject function. I have two issues.

1) When it gets to "autoreject.get_rejection_threshold" funtion it displays me the split-samples error.
Cannot have number of splits n_splits=5 greater than the number of samples: n_samples=2

2) I had to give random values not to have a NaN in epochs.info['chs] so as to run the code. In the  info = mne.create_info(ch_names, sfr

[2020-02-25 15:50] agramfort commented on #7355
can you report your issue here
https://github.com/autoreject/autoreject/issues and close this issue?

[2020-02-25 15:58] #7355 closed

[2020-02-27 16:05] #7235 closed

[2020-02-27 18:11] AdoNunes opened #7359 "ENH: what to do with muscle artifacts"
If I am not mistaken, currently, to remove muscle artifacts it is only possible by manually annotating bad segments or write custom code to detect them.

Muscle artifacts are an issue if data is not low band passed, i.e. if studying gamma activity.

If you think that a function for estimating segments of data with muscle artifacts would be a good addition, let me know and I will make a PR.

[2020-02-27 21:47] agramfort commented on #7359
Before starting a PR can you draft the API by providing a few lines of usage how you envision it? Thx

[2020-02-27 22:05] lilexuan opened #7360 "How do I install v0.20.0(not v0.19) on win10?"
I followed the procedure on [this page](https://mne.tools/dev/install/mne_python.html#installing-mne-python-and-its-dependencies). But I got the v0.19.2 rather than v0.20.0. What should I do to install v0.20 on win10?
![](https://i.loli.net/2020/02/28/CkyhfRqOSzgcGsZ.png)

the yml.file I download
[code]

[2020-02-27 22:23] AdoNunes commented on #7359
I was thinking to be similar to the head motion detection. Basically, the input is the raw data and the output the annotation of segments with muscle artifacts.

The function would be very similar to how Fieldtrip does it. The data is band passed filtered between 110-140Hz, z-scored, low-passed to reduce spikes, z-score averaged across channels, and whatever is above the z-score threshold get anno

[2020-02-27 22:43] drammock commented on #7360
Note: version 0.20 is the *development master*, 19.2 is the most recent stable release. If you still want 0.20, follow [these instructions](https://mne.tools/dev/install/advanced.html#using-the-development-version-of-mne-python-latest-master)

[2020-02-27 22:43] #7360 closed

[2020-02-28 00:05] drammock commented on #7359
@AdoNunes can you mock up the API *exactly as you envision it*?  Something like

[code]

and if there are variable outputs, give additional examples, like

[code]

[2020-02-28 01:42] AdoNunes commented on #7359
Actually I did a PR #7096 with this function that at the end got shortened to `annotate_movement`.
The API looks like this:

[code]

Returns annotations and a 1xn_samples vector with the averaged z-scores at each sample.

[2020-02-28 08:53] agramfort commented on #7359
I would call parameter threshold not thr. Why do you need notch? what
is t_min? if onset of raw why not pass
a cropped raw? We should aim for the simplest API that does the job.

[2020-02-28 12:32] larsoner commented on #7359
For example if notch filtering is optional (e.g., to remove line frequencies), users should do it before calling the function and we can tell them to in the notes section.

[2020-02-28 16:02] AdoNunes commented on #7359
OK.
Then the API should look like this:
[code]
Can you suggest me a dataset reach in muscle artifacts for the example and tests?

[2020-02-28 16:41] agramfort commented on #7359
maybe some of EEG BCI dataset we offer in some examples?

[2020-02-28 19:08] jasmainak opened #7363 "problem reading hpts files"
#### Describe the bug
`read_dig_hpts` does not accept lower case channel types but does not throw an error. It's surprising and users don't find this problem easily.

#### Steps to reproduce
create an hpts file with the following content:

[code]
(example borrowed from the [docstring](https://mne.tools/stable/generated/mne.channels.read_dig_hpts.html#mne.channels.read_dig_hpts))

Then do:

[code]

[2020-02-29 14:16] SophieHerbst opened #7365 "combining mags and grads on the epochs level using as_type"
I would like to bring back the discussion about combining magnetometers and gradiometers on the epochs level, to use the information from both sensor types for single trial analyses, i.e. computing induced power, single trial statistics, or possibly decoding.

I implemented a rudimentary version of it, but am surprised to see that there is hardly any difference with the original evokeds.

<img wid

[2020-03-01 03:17] #7363 closed

[2020-03-01 03:18] #6049 closed

[2020-03-01 13:07] agramfort commented on #7365
as the as_type is a linear spatial transformation I expect that you should
get exactly the same result
after averaging. That can be a good unit test;

[2020-03-02 15:26] cbrnr opened #7368 "Why are some mutable MNE objects hashable?"
Several (mutable) MNE objects (e.g. `Raw`) are hashable, which violates one of the key assumptions that Python makes about hashable objects, namely that the [hash value never changes during its lifetime](https://docs.python.org/3/glossary.html#term-hashable). This can lead to bugs wherever hashable objects are expected not to change (so everywhere, such as using them as keys in dicts). @larsoner m

[2020-03-02 18:54] AdoNunes commented on #7359
It might be necessary to add the pick types (or channels) and also set a minimum segment length of good segments, i.e. mark as bad a segment between two annotations shorted than, for example, .2 seconds.
[code]
What do you think?

[2020-03-02 19:00] larsoner commented on #7359
Sounds reasonable to me

[2020-03-02 19:20] drammock commented on #7359
Is `annotate_muscle` is the right name for the function (compared to, say, `find_muscle_artifacts` or `annotate_muscle_artifacts` or something else)?  I don't have strong instincts about what is best here, just want to ask the question now, before it becomes an API change question.

[2020-03-02 19:26] drammock commented on #7359
also wondering whether this function catches all kinds of muscle artifacts (swallowing, chewing, facial/scalp muscle, tongue/jaw/speech, etc).  If not, that might suggest a more narrow naming choice like e.g. `annotate_swallowing_artifact`.

[2020-03-02 21:22] AdoNunes commented on #7359
@drammock I named to be consistent with `annotate_muscle`. Yes, it caches all types of muscles around the head as long as they are strong enough.

[2020-03-03 16:30] dede3de commented on #7293
Hi there, I am still having some issues with this, and I was hoping you could suggest a way forward.
I have checked that I have the latest version of mnedev with:
[code]
I am still trying to use mne.read_evoked_fieldtrip to read a .mat file with averages for different conditions that were computed in Fieldtrip with FT_TIMELOCKANALYSIS.
As suggested by @thht , I have created a .mat file for each pa

[2020-03-03 17:56] drammock commented on #7293
Quoting @thht from [here](https://github.com/mne-tools/mne-python/issues/7293#issuecomment-584111171):

[2020-03-03 18:03] hoechenberger commented on #7368
Without looking at the code, the docs you linked to say:

Maybe that's the reason…

[2020-03-03 18:06] larsoner commented on #7368
Given that usually (or at least, often) user-defined classes are made to be mutable, it seems like a contradiction for Python to make user-defined classes by default be hashable, but say that hashable objects should not change.

So there is at least some inconsistency there, and at least our `__hash__` functions are designed to make it so that if you do change something about the object (e.g., inf

[2020-03-03 19:29] drammock opened #7373 "Evoked.times is documented twice"
I'm guessing this is due to some clash between different Mixin classes, but I haven't investigated yet.  Here's a screenshot of the docs page: note how `times` shows up twice with two different definitions (both above and below `data`).

![Screenshot_2020-03-03_10-51-03](https://user-images.githubusercontent.com/1810515/75811962-3bc1c200-5d42-11ea-92ec-9352a5d1c44b.png)

[2020-03-03 19:41] larsoner commented on #7373
The problem is much simpler than all that :)

https://github.com/mne-tools/mne-python/blob/master/mne/evoked.py#L102-L109

[2020-03-03 20:02] #7373 closed

[2020-03-03 20:30] cbrnr commented on #7368
I don't think this is an inconsistency. You have to view both `__hash__` and `__eq__` methods together. Also, Python doesn't enforce anything, so of course you are free to create an unhashable immutable object or vice versa. But bad things can happen if you violate some basic assumptions. [This SO answer](https://stackoverflow.com/questions/56012884/why-mutable-built-in-objects-cannot-be-hashable-

[2020-03-03 20:35] agramfort commented on #7368
can you share a problematic piece of code? to see how easy it is to be
trapped.

Yes it was done for joblib caching which is a real usecase. I would not
want to sacrifice this.

[2020-03-03 20:35] larsoner commented on #7368
Joblib caching IIRC

https://github.com/mne-tools/mne-python/issues/1271
https://github.com/mne-tools/mne-python/pull/1338

[2020-03-03 20:36] larsoner commented on #7368
If you do `raw2 = raw.copy()` you should find `raw == raw2`:
[code]

[2020-03-04 08:29] cbrnr commented on #7368
It gets problematic as soon as you put mutable hashable objects in a dict or a set (which are implemented with hash tables):

[code]

What about creating new data types such as `FrozenRaw` and `FrozenEpochs`, which are hashable but unmutable? These could be used in dicts, and also for joblib caching if this is needed.

Can you post an example which shows how joblib requires hashable objects? What

[2020-03-04 08:37] thht commented on #7293
exactly, as this warning tells you:

[code]

you end up with a data structure without any data which leads to this error.

[2020-03-04 09:55] dede3de commented on #7293
I thought this was being fixed by #7304, but I might have misunderstood then.

[2020-03-04 10:06] thht commented on #7293
#7304 introduced an error messages when the function found cell arrays and another issue when not all channels that are present in the data are also in the info object.

it is still the case that a channel needs to be present in both the data loaded from the mat file as well as the info field for its data to be loaded. and the check is case sensitive, so if channel names are in lowercase in the in

[2020-03-04 10:14] SophieHerbst opened #7379 "stc.plot setting initial_time not working with time_viewer=True (PyVista)"
There is something wrong with setting the initial time for an stc.plot with time_viewer=True (PyVista), it always defaults to the same value. I updated to the latest developers version, but the problem persists. @GuillaumeFavelier, maybe you know why?

[code]

![pyvista_initial_time](https://user-images.githubusercontent.com/6408073/75868869-02a05500-5e09-11ea-903c-e7358be8e8fd.png)

[2020-03-04 13:01] GuillaumeFavelier commented on #7379
This is definitely a bug, I will report it in #7162 and investigate this. Thanks for reporting @SophieHerbst

[2020-03-04 13:09] larsoner commented on #7368
Actually here I think that the behavior is at least somewhat reasonable -- once you do `raw1.crop` above you should see `raw1 not in dataset` given how we use hashing (conceptually and practically) in MNE to say "is this the same raw data (and info) as before", as cropping makes it so that it is not the same anymore.

Come to think of it, it's possible that people have been relying on this "change

[2020-03-04 13:50] cbrnr commented on #7368
Sure, but I would be very confused if I first see that the cropped object is in the set (see it's 1 second):

[code]

But if I use `in` to check if it's there, I get `False`:

[code]

A good reason would be to not introduce surprising behavior that's totally unexpected in Python.

I don't know which "Python idea that methods that modify in place should not return anything" you mean. Some in-place

[2020-03-04 13:54] SophieHerbst commented on #7162
Another small thing I realized: stc.plot allows to set a title (`title = my_title`), which I don't see anywhere on the figure.

[2020-03-04 13:59] GuillaumeFavelier commented on #7162
Oh my! You're totally right, I'm on it. This is easy to fix.

[2020-03-04 15:00] #7379 closed

[2020-03-04 15:03] larsoner opened #7384 "ENH: Add cov.plot_topomap(info)"
See https://github.com/mne-tools/mne-python/pull/6262#discussion_r387563194 :

This will hopefully just require some short function in `mne/viz/topomap.py`. Even using the `EvokedArray` approach seems okay since it's pretty straightforward and allows for easy implementation of the `evoked.plot_topomap` features (e.g., channel type picking).

[2020-03-04 15:08] larsoner commented on #6770
@sappelhoff @jasmainak any chance to get to this in the next week or two to make it into 0.20?

[2020-03-04 15:09] larsoner commented on #6778
@drammock I'm going to push the milestone on this to 0.21, but if you feel like it's doable in the next two weeks feel free to set back to 0.20

[2020-03-04 15:10] larsoner commented on #6531
@cbrnr @drammock I'm going to bump the milestone on this to 0.21 since it does not seem like a blocker, but feel free to implement in the next couple of weeks to get it into 0.20

[2020-03-04 15:10] larsoner commented on #4851
We'll want to do this at the start of a new release cycle rather than right before release so I'm bumping to 0.21

[2020-03-04 15:24] larsoner commented on #7350
@libertyh just a heads up that we're looking to release 0.20 in the next couple of weeks so if you want this fix to make it into that release we'll have to iterate somewhat quickly. No rush from our end, though

[2020-03-04 15:25] hoechenberger commented on #7112
Sure, sorry I didn't manage to work on this – I did start but then got caught up having to do too many other different things. Will pick this up again for sure, hopefully soon and with permission of @agramfort  ;)

[2020-03-04 15:25] larsoner commented on #7340
Let's close for now then

[2020-03-04 15:27] larsoner commented on #7323
The first step is to see if any other software that uses shift-interaction detects the shift properly. If it does, then it's a Python (probably matplotlib) problem. If it doesn't, its an X.org problem.

Feel free to continue posting and people can respond if they have other ideas, but I'm going to close the issue since it's not a bug with MNE itself.

[2020-03-04 15:27] #7323 closed

[2020-03-04 15:28] larsoner commented on #7316
@GuillaumeFavelier maybe you can sit with @hoechenberger and get this fixed for 0.20?

[2020-03-04 15:28] larsoner commented on #7228
@GuillaumeFavelier it would be nice not to have our docs have this problem when they go to `stable`. So I think we either need this for 0.20, or we temporarily revert to using Mayavi to build docs during release...

[2020-03-04 15:30] larsoner commented on #7161
Closing due to non-response

[2020-03-04 15:30] #7161 closed

[2020-03-04 15:30] #7115 closed

[2020-03-04 15:31] larsoner commented on #7107
This is a known VTK issue having to do with how they create OpenGL contexts without depth buffers (!) on some systems. Closing as we "just" need to wait for VTK 9 to land.

[2020-03-04 15:33] larsoner commented on #7098
A good first step would be to create a separate repo (maybe owned by `methlabUZH`?) for this, similar to `autoreject`. Once it's up and running and working, we can figure out when/how to port over to MNE, but in the meantime people can try it out for example with `pip install pyAutomagic` or so.

[2020-03-04 15:34] larsoner commented on #7094
We killed a lot of the `layout` mechanics so this has hopefully been fixed, @jasmainak feel free to reopen if you still have problems with `master`

[2020-03-04 15:34] #7094 closed

[2020-03-04 15:35] larsoner commented on #7092
Closing due to non-response, happy to reopen if we get a response

[2020-03-04 15:35] #7092 closed

[2020-03-04 15:37] #7048 closed

[2020-03-04 15:39] #6963 closed

[2020-03-04 15:39] larsoner commented on #6963
Closing as there are suitable solutions provided

[2020-03-04 15:39] larsoner commented on #6951
I've fixed these in various PRs (I hope)

[2020-03-04 15:39] #6951 closed

[2020-03-04 15:42] larsoner commented on #6728
This is in the roadmap so I'll remove this

[2020-03-04 15:42] #6728 closed

[2020-03-04 15:43] larsoner commented on #6932
We have `include_tmax` in `crop` now at least. I'll close since it seems like we've made the changes, but let's reopen if there is more to be documented somewhere

[2020-03-04 15:43] #6932 closed

[2020-03-04 15:45] larsoner commented on #6945
Fixed by #6957

[2020-03-04 15:45] #6945 closed

[2020-03-04 15:46] hoechenberger commented on #7316
Let's look into this together tomorrow morning, @GuillaumeFavelier

[2020-03-04 15:48] larsoner commented on #6607
@jhouck we have some of these calculations done and used in `annotate_movement` now.

Maybe a simple and cool thing to do would be to add to `plot_head_movement` the translational and rotational velocities? They could even be on the same axes in a different color with a second (right) yaxis.

[2020-03-04 15:50] larsoner commented on #6109
Closing since I don't think there is much else to do for this one

[2020-03-04 15:50] #6109 closed

[2020-03-04 15:50] sappelhoff commented on #6770
This is the [conversion script](https://github.com/mne-tools/mne-scripts/blob/master/bids_conversion/convert_somato_data.py).

If I understand you correctly, the error is with these lines:

https://github.com/mne-tools/mne-scripts/blob/9e4c77b724bb04a6d20e93720b5dd6cf110ff8eb/bids_conversion/convert_somato_data.py#L227-L231

where we simply rename the existing `fwd` file, instead of recomputing it

[2020-03-04 15:50] larsoner commented on #6419
Closing as a dup of #4859

[2020-03-04 15:50] #6419 closed

[2020-03-04 15:52] larsoner commented on #7073
I think this is just a `__repr__` issue, the "EEG" just means that the kind of the dig point is `_KIND_EEG`. Maybe a doc update is needed?

[2020-03-04 15:53] larsoner commented on #7159
Closing due to non-response. FWIW the reduction error happens when the array is empty, i.e., `con_val` must be a zero-length array.

[2020-03-04 15:53] #7159 closed

[2020-03-04 15:54] agramfort commented on #6770
yes should be as simple as this and then reupload to OSF.

[2020-03-04 15:56] larsoner opened #7385 "MAINT: Release 0.20"
We are due to release 0.20, and plan to shoot for releasing in the next couple of weeks. As some have probably noticed, I did a bit of issue culling and milestone tweaking. This is the current list of issus/PRs marked for 0.20:

https://github.com/mne-tools/mne-python/milestones/0.20

@mne-tools/contributors @mne-tools/admins feel free to go through the PRs/issues and mark ones you think should ma

[2020-03-04 15:58] larsoner commented on #6770
I would just overwrite the old one with the correct one

[2020-03-04 16:11] sappelhoff commented on #6770
@larsoner to create a new (correct) one, I assume that I would use [`mne.make_forward_solution`](https://mne.tools/stable/generated/mne.make_forward_solution.html)

What should I supply for the `src` and `bem` parameters?

These are all the files I have (printed up to depth 3):

[code]

[2020-03-04 17:47] #6770 closed

[2020-03-04 21:48] jasmainak commented on #7094
sounds good @larsoner thanks

[2020-03-05 20:26] larsoner commented on #7228
@GuillaumeFavelier should we revert to `Mayavi` on `CircleCI` until this is fixed?

[2020-03-05 23:55] rob-luke opened #7395 "Legend does not reflect data for plot_psd"
#### Describe the bug
`plot_psd` legends appear as grey dashed lines and do not represent the data in figure.

#### Steps to reproduce
This can be seen in the example here... https://mne.tools/dev/auto_examples/time_frequency/plot_compute_raw_data_spectrum.html#plot-a-cleaned-psd

#### Expected results
The second plot in this example from MNE V0.13 shows the behaviour I would expect https://mne.to

[2020-03-06 08:51] GuillaumeFavelier commented on #7228
+1 for this @larsoner, I'll open the PR

[2020-03-06 09:47] fraimondo opened #7397 "VIZ: plot_topomap outlines 'head' and 'skirt' have the same output"
#### Describe the bug
Calling `plot_topomap` with outlines parameter seat to 'head' or 'skirt' produce the same output.

#### Steps to reproduce
[code]
#### Expected results
I expected that by setting `outlines='head'`, all the sensors to be inside the head.

#### Actual results
![Screenshot 2020-03-06 at 10 42 21](https://user-images.githubusercontent.com/4493699/76071829-2a252800-5f97-11ea-9314-

[2020-03-06 10:43] fraimondo commented on #7397
It kind of also breaks the `extrapolate` parameter.
For example, using either `'head'` or `'local'` results in something like this (left), in contrast with the value ` 'box'` (right)
![Screenshot 2020-03-06 at 11 40 44](https://user-images.githubusercontent.com/4493699/76076588-6e1c2b00-5f9f-11ea-83a3-470b205cfcdd.png)

[2020-03-06 14:48] larsoner commented on #7397
We intentionally do not force MEG sensors inside the head (it does not make physical sense to do so). So that at least seems like a documentation issue.

The extrapolation looks like a bug

[2020-03-06 15:21] fraimondo commented on #7397
Make sense, however the documentation is not straightforward. The default behaviour for MEG sensors is then `'skirt'`.

Indeed everything started because I want to get rid of the frontal interpolation effect (red circle in the image). I have some other topos where this effect is even worse.

![Screenshot 2020-03-06 at 11 40 44](https://user-images.githubusercontent.com/4493699/76096314-2a88e780-5f

[2020-03-06 15:23] larsoner commented on #7397
@mmagnuski recently worked a bit on the extrapolation modes (make sure you are on latest `master` @fraimondo ). Any ideas to guide @fraimondo in finding the extrapolate problem?

[2020-03-06 15:33] larsoner commented on #7395
#7400

[2020-03-06 16:21] #7395 closed

[2020-03-06 16:52] mmagnuski commented on #7397
@fraimondo The topos on the left look weird indeed. I will take a look at that but a reproducible example would be very helpful. You could for example paste the x, y, z pos of the channels and the corresponding topo values.

I must also say that I don't like very much the way `head` extrapolation works now - it will result in artifacts in many cases. I was thinking to [change it to]/[add another o

[2020-03-06 16:58] mmagnuski commented on #7397
BTW your EGI topographies look better now - but it seems to be rather related to the correct channel placement (or ordering) than extrapolation.

[2020-03-06 21:40] rob-luke commented on #7395
Thank you

[2020-03-07 18:16] agramfort opened #7404 "BUG topomap grads"
[code]

produces
![Figure_1](https://user-images.githubusercontent.com/161052/76150213-29c88200-60a8-11ea-917f-73613c1a3d1b.png)

[2020-03-08 00:58] mmagnuski commented on #7404
That's an artifact of `extrapolate='box'` - it should look better with `extrapolate='head'` or `extrapolate='local'`.

[2020-03-08 08:55] agramfort commented on #7404
head:
![Figure_head](https://user-images.githubusercontent.com/161052/76159641-efe89180-6122-11ea-8ef3-a7ee39f07752.png)

local:
![Figure_local](https://user-images.githubusercontent.com/161052/76159642-f119be80-6122-11ea-9f4e-6f2cdb8afa6b.png)

so not much success.

[2020-03-08 08:59] agramfort commented on #7404
@larsoner any suggestion?

[2020-03-08 09:54] mmagnuski commented on #7404
Ah, I misunderstood your initial issue. I thought the circle shows what is wrong, but it is the head outline. It is weird indeed, I'll take a look at this.

[2020-03-08 12:15] mmagnuski commented on #7404
It seems that `_pair_grad_sensors` does not take `sphere` as an argument and no sphere-placement is done in general with grad ch type. I'll try fixing that later today.

[2020-03-08 12:33] agramfort commented on #7404
indeed the bug only appears with grad not mag.

thanks for taking a look

[2020-03-08 16:30] mmagnuski commented on #7404
@agramfort @larsoner
I'm not sure what should be considered the source of this bug (apart from ignoring `sphere` argument):
* with 'grad', channel positions in info are ignored, only the layout is used
* layout for `'Vectorview-grad'` is not zero-centered, see below:

![image](https://user-images.githubusercontent.com/8452354/76165955-5ab5bf00-615b-11ea-9a96-6e22cf52928e.png)

[2020-03-08 16:52] waa8128 opened #7405 "What does the scaling mean in the compution of PSD?"
I notice that you use the scaling when computing the PSD.
For the scalings, the values you set as follow: {'mag': 1000000000000000.0, 'grad': 10000000000000.0, 'eeg': 1000000.0, 'eog': 1000000.0, 'emg': 1000000.0, 'ecg': 1000000.0, 'misc': 1.0, 'seeg': 1000.0, 'dipole': 1000000000.0, 'gof': 1.0, 'bio': 1000000.0, 'ecog': 1000000.0, 'hbo': 1000000.0, 'hbr': 1000000.0, 'ref_meg': 1000000000000000.0}

[2020-03-08 17:07] agramfort commented on #7405
## no usage questions

This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-03-08 17:07] #7405 closed

[2020-03-08 17:09] agramfort commented on #7404
one should use the same thing as for mag. One should not use layout also in
this case.

[2020-03-09 01:58] rob-luke opened #7406 "TFR plot_joint topo plot broken"
#### Describe the bug
'plot_joint' for TFR data shows weird topo plots.

#### Steps to reproduce
https://mne.tools/dev/auto_tutorials/time-freq/plot_sensors_time_frequency.html#joint-plot

#### Expected results
https://mne.tools/stable/auto_tutorials/time-freq/plot_sensors_time_frequency.html#joint-plot

[2020-03-09 07:00] agramfort commented on #7406
same bug as in https://github.com/mne-tools/mne-python/issues/7404

[2020-03-09 11:02] mmagnuski commented on #7094
@larsoner @agramfort
Is `layout` considered for removal/deprecation alltogether? Working on #7404 (#7411) I found it a bit puzzling that `layout` does not work in `plot_topomap` (only in plot_topo functions). One nice thing about `layout` compared to `Info` is that is contains channel positions in a user-friendly way. It is also designed to hold 2d projection of channel positions - which makes sen

[2020-03-09 12:14] larsoner commented on #7094
Layout is indeed no longer meant to be used in topomap, just topo. This was an intentional decision after some discussion.

[2020-03-09 12:52] mmagnuski commented on #7094
Yes, I understand that (although I couldn't find the issues I mention here discussed there). So maybe a) layout should be removed and topo would use montage; b) or a cleaner approach : layout construction could accept sphere and layout would be used internally by plot_topomap (that is info -> layout if no layout is passed). Currently it wouldn't be very useful (so no need to do anything now) but w

[2020-03-09 14:34] larsoner commented on #7094
It's [here](https://github.com/mne-tools/mne-python/issues/3987#issuecomment-298920228) (and many linked issues, etc. from then if you want to follow the trail). The TL;DR is that if we show sensors in relation to a head circle we should do it in a single systematic way, i.e., via our topomap_to_sphere functions. Layouts are only to be used in cases where a head sphere is not drawn (e.g., selectin

[2020-03-09 15:04] #7354 closed

[2020-03-09 17:05] mmagnuski commented on #7094
Thanks for the link, I even upvoted that comment but subsequently forgot about it :)

Ok, in this sense I agree. I was actually thinking about customizations that make the topomap more accurate (like more realistic head shape and more ellipsoidal shape of channel positions, see for example how EGI channel projections changed between 0.19 and 0.20, previously were ellipsoidal, now are spherical). B

[2020-03-09 17:31] dede3de commented on #7293
Thanks @thht, `git config --global url."https://".insteadOf git:// ` did the trick.

[2020-03-09 21:04] #6952 closed

[2020-03-09 22:14] #7404 closed

[2020-03-10 08:30] fraimondo commented on #7397
[Here's](https://gist.github.com/fraimondo/3387eeff6978b6cd8760c245117d2d37) a gist to create this figure:
![Screenshot 2020-03-10 at 09 24 23](https://user-images.githubusercontent.com/4493699/76293218-f0169780-62b0-11ea-9ede-73d328f4d5bb.png)

Indeed my issue is this:
![Screenshot 2020-03-10 at 09 11 16](https://user-images.githubusercontent.com/4493699/76293235-fa389600-62b0-11ea-84fd-2fc38750c

[2020-03-10 08:44] mmagnuski commented on #7397
@fraimondo for the interpolation problem use `border='mean'` - I added it recently for exactly this reason.

[2020-03-10 08:52] mmagnuski commented on #7406
Fixed in #7411

[2020-03-10 08:52] #7406 closed

[2020-03-10 09:46] fraimondo commented on #7397
@mmagnuski I tried with `border='mean'` but it does not solve the issue.

I just updated the [gist](https://gist.github.com/fraimondo/3387eeff6978b6cd8760c245117d2d37).

![Screenshot 2020-03-10 at 10 44 40](https://user-images.githubusercontent.com/4493699/76299966-39201900-62bc-11ea-9c83-ddc0aacfba69.png)

[2020-03-10 10:35] mmagnuski commented on #7397
Thanks, I've run your gist and I see the same as you.
`extrapolate='box'` is what gives you the funny values at the front in the first two cases - in this extrapolation scheme only four extrapolation points are created and they are quite far away from all the channels. In such case `border='mean'` and `border=0` do not help much

`extrapolate='local'` with `border='mean'` (third axis) looks good f

[2020-03-10 10:57] fraimondo commented on #7397
I made an [even better gist](https://gist.github.com/fraimondo/3387eeff6978b6cd8760c245117d2d37) that creates this figures:

![Screenshot 2020-03-10 at 11 49 36](https://user-images.githubusercontent.com/4493699/76305457-75a44280-62c5-11ea-9930-4cd006b8b981.png)

![Screenshot 2020-03-10 at 11 50 06](https://user-images.githubusercontent.com/4493699/76305467-789f3300-62c5-11ea-8604-9871f027cca4.png

[2020-03-10 12:05] mmagnuski commented on #7397
This is expected, unfortunatelly, although it is not so much related to the colormap but the scale of the values. The default `border=0` (which will change to `'mean'` pretty soon) causes the extrapolation points to have a value of 0. If all your data points are far away from zero (as in your example: between about 0.86 and 0.9) the presence of these extrapolation zeros may cause interpolation art

[2020-03-10 12:23] fraimondo commented on #7397
Ok. This make a lot of sense! In the EGI topos that I posted before, I do not plot the face electrodes values. So what I do is to replace them with `vmin` for sequential values/colormaps or `0` in the case of a divergent colormap centered at 0.

My issue is now clarified and solved.

[2020-03-10 14:41] larsoner commented on #7397
Thanks for figuring this out @fraimondo @mmagnuski

[2020-03-10 14:47] tvanasse opened #7415 "Problems Loading Brain Vision Data and Custom Montages"
#### Loading .eeg and bvef files
I'm trying to load in an .eeg file using mne.io.read_raw_brainvision. I'm also trying to load a custom montage with "read_custom_montage". I have a feeling the errors may be related.

#### Steps to reproduce
Download 'samples' folder: https://www.dropbox.com/sh/tgr0trzvndhcwfk/AACVnRUZreHY2-VpWKo2O5Qea?dl=0

Reading brain vision file:
[code]

Furthermore, when I tr

[2020-03-10 21:31] #7228 closed

[2020-03-11 08:46] cbrnr opened #7420 "Plotting a montage now defaults to 3D"
Plotting a montage with `montage.plot()` has always produced a 2D topomap. This behavior seems to have changed recently, because now I get a 3D plot even though the documentation still says that `'topomap'` is the default:

[code]

I would like to revert this new behavior to the previous topomap plot. I'll submit a PR if this is OK with you.

[2020-03-11 09:01] cbrnr commented on #7420
I see that this has already been fixed in master. Sorry about the noise.

[2020-03-11 09:01] #7420 closed

[2020-03-11 09:19] #7415 closed

[2020-03-11 09:29] cbrnr commented on #7316
I've never tried this, but shouldn't this issue also affect all other platforms? Window title bars on Windows and Linux also contain names, so I'd assume that this also leads to duplicated titles. It's probably best to just remove the custom titles.

[2020-03-11 09:57] cbrnr opened #7421 "EDF files now contain lowpass=0"
With 0.19.2, it seems like the `lowpass` info entry for EDF files was set to half the sampling frequency if the value in the file was 0 Hz. Using [this EDF file](https://archive.physionet.org/pn4/eegmmidb/S001/S001R04.edf), the behavior of 0.19.2 is:

[code]

With the current master this changed:

[code]

This leads to a `ZeroDivisionError` e.g. when plotting the `raw` object via `raw.plot()`:

[c

[2020-03-11 10:04] cbrnr commented on #7421
It was introduced in 6601b7ce5cd2b8caa8dda9ac913ffadc62fda5bb - now trying to find the offending change.

[2020-03-11 10:32] hoechenberger commented on #7316
Good point indeed!

[2020-03-11 10:38] agramfort commented on #7421
yes it's a bug... thanks for looking into it

[2020-03-11 18:19] drammock opened #7425 "DOC: add to glossary: whitening"
#### Suggested term
whitening

#### Suggested definition
a linear operation that transforms data with a known covariance structure into "whitened data" which has a covariance structure that is the identity matrix (i.e., it creates virtual channels that are uncorrelated and have unit variance).

[2020-03-11 18:20] larsoner commented on #7425
Sounds good, PR welcome

[2020-03-11 19:02] larsoner commented on #7162
@GuillaumeFavelier I tried changing `plot_parcellation.py` to use label-by-label adding but it was terribly slow (like half a second per label and there are 400+ labels in one of the three parcellations that gets plottted):

https://gist.github.com/larsoner/67c09029f47cd496a8414b0a98de857f

So it's probably better to actually implement `plot_parcellation` by doing whatever PySurfer does.

[2020-03-11 19:03] #7421 closed

[2020-03-11 19:10] GuillaumeFavelier commented on #7162
These are valuable infos. Thanks for looking into this, I'll follow your advice.

[2020-03-11 23:55] drammock opened #7426 "pyvista _Brain init too stringent about size parameter"
I'm hitting the error `'"size" parameter must be int or tuple.'` I'm generating lots of similar figures, so I store several project-level parameters (including brain plotting kwargs like figure size) in an external YAML file, and pyYAML's "safe loader" doesn't support tuples, only lists.  Instead of checking `isinstance(size, tuple)` maybe we could check if it is length-2, and then convert it to t

[2020-03-12 08:02] GuillaumeFavelier commented on #7426
Good catch @drammock, even just for compatibility with `mayavi` I think `list` should be supported. Feel free to take care of it if you want 👍

[2020-03-12 11:37] cbrnr opened #7429 "Annotations repr too long"
I don't like that the `repr` for an `Annotations` object exceeds 79 characters. For example, the following repr has 94 characters:

[code]

It would be nice if the maximum character length of this (and any other) repr was 79, otherwise these get hard to read because of line breaks.

In the specific case of `Annotations`, I would remove the `orig_time` information because I don't think this is impo

[2020-03-12 12:59] agramfort commented on #7429
maybe just give time as "Time: 2009-08-12" to omit too precise info?

[2020-03-12 13:07] hoechenberger commented on #7316
We couldn't reproduce this on Linux and macOS with different versions of (Py)Qt and PyVista. Seems the issue has magically disappeared since I'd first reported it...
Closing for now!

[2020-03-12 13:07] #7316 closed

[2020-03-12 13:12] cbrnr commented on #7429
I don't think this is that important. I'd rather use the available characters to show more annotations.

[2020-03-12 13:55] agramfort commented on #7429
we have some repr that are multilines I think

[2020-03-12 14:05] cbrnr commented on #7429
Yes, for example `info`. We also have some reprs that definitely exceed 79 characters (not just `Annotations`).

[2020-03-12 14:11] cbrnr opened #7430 "Channels incorrectly scaled in `ica.plot_components()`"
Channel locations are now incorrectly scaled when plotting ICA components with `ica.plot_components()`. Here's what the standard 10-20 layout looks like:

![Figure_1](https://user-images.githubusercontent.com/4377312/76529932-416e8480-6473-11ea-82c2-a09ef4e4cb14.png)

This used to work previously, see e.g. here:

![](https://cbrnr.github.io/images/ica_components.png)

Interestingly, plotting the m

[2020-03-12 14:41] larsoner commented on #7430
Do you only have channels C5-C6 for example in the middle row? If so it looks like the subselection might be correct (?). But if you have all channels from the 10-20 montage and some are just missing, then that's clearly wrong...

[2020-03-12 14:58] drammock commented on #7429
If there are a lot of different annotation labels, you can't guarantee they'll all fit even if you remove time completely. Will you truncate then? Or change to a summary message like "30 segments, 21 labels"?

(BTW I agree that the time is not that important to include in the repr here)

[2020-03-12 15:57] aiaraneda opened #7433 "Resample en raw or epochs?"
Hi.
I working in a EEG signal processing and machine learning for a discriminate two state. In the lab, use an EEGLAB AND BCILAB, but my idea is use mne package. In this moment we will compared the processing (mne vs BCILAB/EEGLAB), but the results its not the same(the idea is use a CSP and see the plot patterns). I think the problem is in the re sample (I will use raw.resample(...)), in the origi

[2020-03-12 16:04] agramfort commented on #7433
## no usage questions

This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-03-12 16:04] #7433 closed

[2020-03-12 17:29] agramfort commented on #7429
do what you think is best. I don't have strong feelings here.

[2020-03-12 18:38] hubertjb opened #7436 "Reading single epochs from a fif file"
I noticed that reading single epochs is significantly slower when the raw data is saved as a fif file vs. an edf file. Also, the reading time from fif files linearly increases with how far in the recording the epochs are, which is not the case with edf files.

I'm interested in getting this reading time as low as possible since I have to repeatedly load single epochs. I was wondering whether this

[2020-03-12 22:19] GuillaumeFavelier opened #7437 "pytest-sugar is not working with pytest v5.4.0 (released on March 12th 2020)"
[Travis fails](
https://travis-ci.org/github/mne-tools/mne-python/jobs/661562630?utm_medium=notification&utm_source=github_status) because of compatibility issues with pytest 5.4.0:

<details>

[code]

</details>

![image](https://user-images.githubusercontent.com/18143289/76571347-9633ee80-64b7-11ea-9e87-1e16591a5f41.png)

This happened in https://github.com/mne-tools/mne-python/pull/7294 and htt

[2020-03-12 22:33] larsoner commented on #7437
Yes just add a != to whatever the problematic version is for now

[2020-03-12 23:51] #7437 closed

[2020-03-13 00:54] jnvandermeer commented on #7170
I second that!

[2020-03-13 09:08] fraimondo opened #7442 "ENH: Multi-line evoked topomap plot"
#### Describe the problem
When I analyze some ERPs, I want to plot evoked topomaps every few ms. The current maximum is 20, and they are plot in one single line, spanning all across the screen.

#### Describe your solution
It might be a good idea to plot them in several rows. Like this:

![Screenshot 2020-03-12 at 19 56 13](https://user-images.githubusercontent.com/4493699/76605880-8812bc00-6511-1

[2020-03-13 09:25] cbrnr commented on #7430
Hm, I use these channels:

[code]

Fz is the most frontal channel, so it looks like the locations are indeed correct, or at least they match the locations in the montage. However, aren't these locations a bit off? I'd expect Fz to be much more frontal on the topomap, or POz much more occipital. Somehow, the previous figure looks more correct to me (which means that in the new montage plot, more ch

[2020-03-13 09:27] #7426 closed

[2020-03-13 09:50] #7429 closed

[2020-03-13 09:57] agramfort commented on #7442
I would then mimic the API names of plt.subplots ie nrows, ncols
making nrows=1 the default and letting ncols default to 'auto' being
np.ceil(n_times // nrows) or something like that

[2020-03-13 10:26] fraimondo commented on #7442
So I modified it an added `nrows` and `ncols` with the posibility of using `'auto'` in at least one of them: https://github.com/fraimondo/mne-python/commit/38f4b1cc20963b1593210d6f188e2086caaae49c

The only doubt I still have, is that I had to remove the limit of 20 times in `mne.viz.utils._process_times`.

Is it a desired feature? Shall I proceed with the PR? Maybe modify the test `test_plot_topo

[2020-03-13 12:47] agramfort commented on #7442
Please do it with a PR so can comment on the diff

[2020-03-13 16:04] larsoner commented on #7430
Closing as dup of #7141, see and/or continue discussion there

[2020-03-13 16:04] #7430 closed

[2020-03-13 16:13] cbrnr commented on #7141
I think the problem is not that some locations are now outside the head (e.g. AF9, AF10, ...), but that too few locations are outside the head as compared to the previous behavior. Previously, Fz was pretty close to the head circumference (close to the nose), whereas now it is way closer to the center (see before and after plots in #7430).

I don't know which configuration is more correct, but the

[2020-03-13 18:01] datalw opened #7447 "Saving the plots when using raw.plot() and raw.plot_psd()"
I want to read a lot of EEG data and plot them in one loop. Instead of showing the plots I want to save them directly for later analysis. With savefig from matplotlib I couldn't make it work.
Btw. I used the parameter title in raw.plot() to give a title, but it somehow does not show up.

[2020-03-13 18:35] larsoner commented on #7170
@britta-wstnr maybe a good one for when #7085 is merged. Or if you have other things to work on maybe @hoechenberger is interested in working on it with @Lubell ?

[2020-03-13 18:38] larsoner commented on #7436
In FIF the raw data are stored in "tags" of (usually) 1 sec duration so in principle I don't see why it should be slower. I agree it's worth looking into. @hubertjb do you want to look into it? If not I can give it a shot

[2020-03-13 18:50] drammock commented on #7447
for `raw.plot()` the title parameter changes the *window title*, it doesn't add any text to the figure.  You can add a traditional figure title via matplotlib:

[code]
there's an example here: https://mne.tools/dev/auto_tutorials/preprocessing/plot_30_filtering_resampling.html#slow-drifts

as far as saving directly to disk, it should work:

[code]

Note that if you're in *ipython* instead of regul

[2020-03-13 18:50] #7447 closed

[2020-03-13 19:10] larsoner commented on #7436
... actually from looking at the FIF code I already suspect a culprit. I'll open a WIP PR.

[2020-03-14 03:17] bloyl opened #7449 "BUG: Mac install problem"
#### Describe the bug
On mac os, using a clean anaconda environment and a clean install (both stable and master) coreg doesn't respond to editing fiducials. It looks good though :)

I assume this is a version issue of either VTK or Mayavi but I"m not sure how to roll back to test. I tried using the environment from `https://raw.githubusercontent.com/mne-tools/mne-python/maint/0.19/environment.yml`

[2020-03-14 07:23] MrNobodyCali opened #7450 "Single Nicolet file(.e) read."
I'm sorry but I have only a single .e file. The 'mne.io.read_raw_nicolet' function needs a '.data' and a '.head' files, but I don't really know what they are from. Can I have the only .e file as input and get the mne raw data objective?

[2020-03-14 10:23] agramfort commented on #7450
I don't think we support the .e extension from nicolet. I've turned you're issue into a feature request.

do not hesitate to share some file ideally as small as possible so we can add a short test.

[2020-03-14 11:16] MrNobodyCali commented on #7450
I think two tools for Matlab may be helpful.
https://github.com/fieldtrip/fieldtrip
The tool can read the header and data in a .e file.
https://github.com/ieeg-portal/Nicolet-Reader
The tool includes a .e file for test.

Really appreciate your help!

[2020-03-14 16:42] agramfort commented on #7449
@bloyl I can replicate your issue with a fresh install too. WIth my old env
using vtk 8.1.1 and python 3.6 it works. Unfortunately vtk 8.1.1 does not
work with python 3.7 so it's hard to test. I just tried to install vtk
8.1.2 on my old env and it works there...

[2020-03-14 17:13] agramfort commented on #7450
this reader https://github.com/ieeg-portal/Nicolet-Reader seems really
minimal
according to readme file.

I have not checked for fieldtrip

[2020-03-14 18:55] #7436 closed

[2020-03-15 15:48] andraderenew opened #7452 "ValueError: Points have to be provided as one dimensional arrays of length 3."
I am trying to analyze this tutorial dataset  with MNE-Python and I cannot get through the analysis because of the error below.

I run:
[code]

[2020-03-15 16:09] MrNobodyCali commented on #7450
Actually I did test only by fieldtrip whose nicolet analytical files are based on Nicolet-Reader. I followed the instruction(http://www.fieldtriptoolbox.org/getting_started/nicolet/):

And my codes enter into the files: 'fieldtrip/fileio/private/read_nervus_header.m' and 'fieldtrip/fileio/private/read_nervus_data.m'. But Nicolet-Reader has a .e file as a sample file.

[2020-03-15 17:05] agramfort commented on #7452
can you share the file electrode_locations_and_headshape.sfp ?

[2020-03-15 17:22] mmagnuski commented on #7141
@cbrnr I agree, I will take a look at this. Your problem in  #7430 may be related to #7341.
What I also find weird is that the center of the head indicated by channel scatter does not match the center of head circle.
If I move the sphere center to have `Cz` closer to the head circle center the channel scatter has a straight horizontal line at `FCz` level.
`mne.viz.plot_montage(mntg, sphere=(0, 0.0

[2020-03-15 17:40] agramfort commented on #7450
I fear you're going to write a reader for these files in mne or use
fieldtrip to convert the data to edf, brainvision or fieldtrip format that
mne can read.

[2020-03-15 19:30] cbrnr commented on #7141
Shouldn't channels T9 - T7 - C5 - C3 - C1 - Cz - ... form a horizontal line (according to the cartoon posted by @sappelhoff)?

[2020-03-15 19:37] andraderenew commented on #7452
[electrode_locations_and_headshape.sfp.zip](https://github.com/mne-tools/mne-python/files/4334964/electrode_locations_and_headshape.sfp.zip)
 I had to compress because github won´t allow for .sfp format

[2020-03-15 20:56] agramfort commented on #7452
ok so our reader for custom montage and sfp is too much hard coded for
template files like
https://github.com/mne-tools/mne-python/blob/master/mne/channels/data/montages/GSN-HydroCel-32.sfp
for example it assumes Fid start with Fid... and they are called
('FidNz', 'FidT9', 'FidT10')
it also ignores headshape points.

I would suggest to add a read_dig_sfp function that does what you expect.
This ne

[2020-03-16 01:43] mmagnuski commented on #7141
I think they should, take a look at the previous comment by @hekolk.

[2020-03-16 09:40] jdue opened #7453 "mne.bem._check_thicknesses reporting indices not distances"
Hi

Preparing surfaces for BEM I run `mne.bem._surfaces_to_bem` and it prints the following

    outer skin  CM is   0.35  -3.30 -19.74 mm
    outer skull CM is  -1.36   6.39 -18.15 mm
    inner skull CM is  -0.53 -12.69  31.69 mm
    Checking that outer skull surface is inside outer skin  surface...
    Checking that inner skull surface is inside outer skull surface...
    Checking distance betwe

[2020-03-16 10:35] agramfort commented on #7453
@jdue can you provide a full code snippet to replicate on sample data so we
can fix it.
If you can it would be appreciate if you can send a PR containing a test.
thanks

[2020-03-16 10:37] cbrnr commented on #7141
I'm still not sure what the problem is. Do we already know? What's the plan to fix it? I'd really like this to be fixed for 0.20 so I'm adding this to the milestone.

[2020-03-16 10:37] datalw commented on #7447
Thanks a lot! It solved my problems

[2020-03-16 11:21] mmagnuski commented on #7141
@cbrnr The 10-20 channel positions `'standard_1020'` shipped with mne are the "realistic channel positions" (https://robertoostenveld.nl/electrodes/realistic_1005.txt) but there are also less realistic spherical coordinates (https://robertoostenveld.nl/electrodes/plotting_1005.txt and https://robertoostenveld.nl/electrodes/sphere_1005.txt). The realistic positions are better for coregistering with

[2020-03-16 12:20] cbrnr commented on #7141
👍 for changing `standard_1020` to spherical coords and renaming the existing realistic ones to `realistic_1020`. Which of the two spherical would you use? Also, which function reads these kinds of files?

[2020-03-16 12:49] agramfort commented on #7141
no objection as long as it's well documented

[2020-03-16 13:29] larsoner commented on #7141
Usually we want to deprecate things if the existing option is mostly wrong and we want to give people time to adapt gracefully.

Our current behavior can be summarized as: good source loc, bad sphere head plots. Making the proposed deprecation would lead to: bad source loc, good sphere head plots. This is not a 100% clear gain to me, so I'm not sure if deprecation is justified. I'd lean toward mak

[2020-03-16 13:30] larsoner commented on #7141
https://mne.tools/dev/generated/mne.channels.make_standard_montage.html

[2020-03-16 14:19] cbrnr commented on #7141
I really liked the old topomaps much better. In my EEG-related work I never had real electrode locations, but there are use cases where real locations improve e.g. source localization. Just creating a nice looking topomap serves a different purpose, so I think it would be good to have both options. As long as we plot to a spherical topomap (is there an option to use a realistic head, especially in

[2020-03-16 14:28] larsoner commented on #7141
The central idea that the big refactoring took care of was that we have one code path for all electrode locations (digitized or from a template / "theoretical") to go to the flattened 2D plot for topomaps. I'd prefer not to compromise this or the better-for-source localization (i.e., switch to theoretical rather than realistic locations) to make the 2D flattening projection look a bit better. So I

[2020-03-16 14:53] cbrnr commented on #7141
Having one code path is a good thing, but the new behavior is clearly a regression for the use case of plotting template locations on a 2D sphere. If you think this can be solved by tweaking some weights this is fine with me (as long as the result looks like it used to). Is this what #7455 solves?

Me neither, but I saw the function names and thought `mne.channels.read_custom_montage` would do the

[2020-03-16 16:12] mmagnuski commented on #7141
@cbrnr

I think you are referring to two (or more) issues here actually. The channel positions for 1020 were like this (meaning: realistic) before topomap plotting changes IIRC, so they are not responsible for your preferrence of the old topomaps. What you experience in #7430 is thus more related to the new topo plotting: (1) the channels are not stretched to the whole head as previously irrespect

[2020-03-16 19:01] drammock commented on #7141
:+1: for this suggestion. It's disruptive, but IMO that's better than silently having old code make plots look different enough to cause people to get annoyed.

[2020-03-16 19:39] mmagnuski commented on #7141
@drammock @larsoner
Oh, I might have missed this part - I also like this idea.

[2020-03-17 00:44] drammock opened #7463 "RFC: result of connectivity=None to clustering functions may be misleading"
Summarizing a discussion I just had offline with @larsoner:

In `mne.stats.spatio_temporal_cluster{_1samp}_test`, the input array `X` takes shape (n_observations, n_times, n_vertices). Normally, the vertices come from an STC object, and a (sparse) matrix encoding the connectivity is easily obtained from the associated source space.

However, it is allowed to pass `connectivity=None`, which will de

[2020-03-17 00:47] drammock commented on #7463
By the way, we could add (to the `Notes` section of those functions, or to a tutorial/example) advice about how to compute regular lattice connectivity for yourself (`sklearn.feature_extraction.image.grid_to_graph` seems to be the easiest way)

[2020-03-17 07:30] yh-luo commented on #7385
Hi, I previously found and fixed a bug. Do I need to mark that  PR if it was merged to master and closed?

[2020-03-17 07:44] agramfort commented on #7385
no we need only to list what remains to be merged and closed

[2020-03-17 07:52] agramfort commented on #7463
(n_observations, n_times, n_vertices) could be (n_observations, n_times,
n_frequencies)
where a grid would make sense. I think we had an example about this at some
point.

still think it's a YAGNI?

did you get feedback from users doing a mess without noticing?

[2020-03-17 08:01] agramfort opened #7464 "regression plot_arrowmap"
see stable:

https://mne.tools/stable/auto_examples/visualization/plot_evoked_arrowmap.html#sphx-glr-auto-examples-visualization-plot-evoked-arrowmap-py

vs

https://mne.tools/dev/auto_examples/visualization/plot_evoked_arrowmap.html#sphx-glr-auto-examples-visualization-plot-evoked-arrowmap-py

this is certainly related to the refactoring of topography plots.

[2020-03-17 09:32] yh-luo commented on #7385
got it. thanks!

[2020-03-17 12:48] hoechenberger opened #7466 "mne.preprocessing.find_bad_channels_maxwell()'s crosstalk_file kwarg cannot be pathlib.Path"
#### Describe the bug
`mne.preprocessing.find_bad_channels_maxwell()` features a `crosstalk_file` kwarg. Unlike in many (all?) other places in MNE, this argument cannot be a `pathlib.Path` object, and is required to be a string.

#### Steps to reproduce
[code]

#### Expected results
[code]

#### Actual results
[code]

#### Additional information
It works as expected when converting `crosstalk_file

[2020-03-17 12:51] agramfort commented on #7466
PR welcome with the fix

[2020-03-17 12:56] larsoner commented on #7466
I'll roll it into my open PR

[2020-03-17 13:26] #7464 closed

[2020-03-17 15:02] drammock commented on #7463
Good point, that seems like a valid use case.

I noticed this myself when trying to do a simulation with a 2D numpy array in place of an stc.

I'll leave this open for now and push a small docstring improvement to close it.

[2020-03-17 15:09] agramfort commented on #7463
works for me

[2020-03-17 17:21] datalw opened #7467 "Errors during opening certain EDF files"
### with `mne.io.read_raw_edf(file, preload=False)`

I got the following error:

[code]

### with `mne.io.read_raw_edf(file, preload=True)`
I got a different error:

[code]

Can anyone help me with this?

[2020-03-17 17:42] agramfort commented on #7467
can you share a problematic file?

[2020-03-17 18:13] #7466 closed

[2020-03-17 19:10] cbrnr commented on #7467
In addition, could you please check if the problematic file passes the validation in EDFbrowser (https://www.teuniz.net/edfbrowser/EDFbrowser%20manual.html#EDF_and_BDF_compatibility_checker)?

[2020-03-17 19:51] fraimondo commented on #7442
done!

[2020-03-17 19:51] #7442 closed

[2020-03-17 19:53] datalw commented on #7467
This is really a nice useful tool. I checked the file with this tool, unfortunately the file cannot be opened either. The problem would be the file and I'll have the file fixed first then. Thanks a lot!

[2020-03-17 21:32] drammock commented on #7463
In the process of updating the docs, I re-realized that there is a problem here: if I pass a series of TF images to `permutation_cluster_1samp_test`, then my input array `X` is shape (n_obs, n_times, n_freqs). If I also pass `connectivity=None`, expecting a regular lattice connectivity structure to be imposed on my TF image, that's not what I'll get, because [the time and freq dimensions get unrol

[2020-03-17 22:05] drammock commented on #7463
[code]

[2020-03-18 06:40] MrNobodyCali commented on #7450
Maybe I will convert the files to other formats. Thanks a lot!

[2020-03-18 07:41] agramfort commented on #7463
then we are likely to have a bug. I found the example I wrote years ago:

https://mne.tools/dev/auto_tutorials/stats-sensor-space/plot_stats_cluster_1samp_test_time_frequency.html#sphx-glr-auto-tutorials-stats-sensor-space-plot-stats-cluster-1samp-test-time-frequency-py

it's actually using  permutation_cluster_1samp_test
<https://mne.tools/dev/generated/mne.stats.permutation_cluster_1samp_test.ht

[2020-03-18 09:11] cbrnr commented on #7141
FWIW, the `biosemi64` montage contains 10-20 labels and seems to have template locations (as opposed to realistic ones):

![Figure_2](https://user-images.githubusercontent.com/4377312/76943838-482c4a00-6900-11ea-8eec-79ca96e9df5a.png)

This looks OK. Here's what this montage looks with 0.19.2:

![Figure_current](https://user-images.githubusercontent.com/4377312/76944030-9ccfc500-6900-11ea-985d-3c2

[2020-03-18 09:21] sappelhoff opened #7471 "Update docs and code: set_eeg_reference([]) and the automatic average"
Based on this the thread on referencing in the [mailing list](https://mail.nmr.mgh.harvard.edu/pipermail/mne_analysis/2020-March/006577.html), I got the idea that the past recommendation to use `set_eeg_reference([])` to prevent MNE from adding an automatic average reference is no longer needed.

Yet throughout the codebase, there are still references to this old behavior (a list follows).

https:

[2020-03-18 09:37] cbrnr commented on #7471
I never understood this behavior anyway, and it would be great if this could be clarified!

[2020-03-18 09:57] agramfort commented on #7471
cleanup PR is very welcome !

[2020-03-18 10:25] cbrnr opened #7472 "Create canonical template channel locations"
Currently there are some issues with plotting montages, especially with those consisting of template locations (as opposed to realistic locations), see e.g. #7141 and #7455.

At the moment, MNE ships 24 montage files, and it is not obvious which of these contain template locations and which contain realistic locations. Moreover, among these montage files there are several files containing template

[2020-03-18 10:40] agramfort commented on #7472
disclairmer neither me or @larsoner or @massich with who I did most of the
refactoring of DigMontage
have strong experience with EEG data requiring a template. The history is
that we took files from fieldtrip
and aimed at offering the same options with MNE. Ideally we should as well
or better than fieldtrip or eeglab
with little effort. Now I don't have any strong opinion of how to achieve
this. I

[2020-03-18 11:18] cbrnr commented on #7472
In my experience, topomaps are often used to visualize (channel-based) results. In such cases, it is more important that the maps look pretty (symmetrical), because exact locations are usually not available. This is what template locations are mainly used for.

Most caps use some variation of the extended 10-20, 10-10 or 10-05 systems, which are all based on the same underlying subdivision of cert

[2020-03-18 11:36] sappelhoff commented on #7472
I agree.

Some manufacturers (e.g., Biosemi) however do use their own system (not a standard), and thus the template positions of the 10-05 system do not apply.

[2020-03-18 11:39] cbrnr commented on #7472
True, but in this case we can have more than one template locations file if they are based on different divisions of the (spherical) head. Also, BioSemi does not exclusively use its own non-standard locations - we have a BioSemi system in our lab and our caps are standard 10-20 (basically what MNE already ships with the `biosemi64` montage).

Can you create BioSemi custom locations too?

[2020-03-18 11:57] mmagnuski commented on #7141
@cbrnr
All topomap/montage plotting will be affected in a way (but not the montages themselves), because plotting with respect to a sphere has to work the same way irrespective of used montage. But don't worry, if channel positions don't look good we may consider changing the default sphere radius. But most of all - you will be able to control the exact channel placement by changing sphere center

[2020-03-18 12:08] mmagnuski commented on #7472
I'm actually fine with the current state of affairs with respect to channel locations (apart from #7141). As long as these separate files correspond to channel locations shipped by the producer, I'm ok with duplication/overlap/inconsistencies.

[2020-03-18 12:17] agramfort commented on #7472
https://mne.tools/dev/auto_tutorials/intro/plot_40_sensor_locations.html?highlight=montage
is
our new entry point
to document how to work with sensor locations.

we have this
https://mne.tools/dev/auto_tutorials/io/plot_20_reading_eeg_data.html?highlight=montage
and
https://mne.tools/dev/auto_examples/visualization/plot_montage.html?highlight=montage

I don't want to propose to start doing MEP (MN

[2020-03-18 13:30] larsoner commented on #7471
Yes we should get this into 0.20, @sappelhoff do you have time for it this week? If not I or maybe @drammock could look

[2020-03-18 13:32] sappelhoff commented on #7471
Cool, I can do this today. Good deed for the day :)

[2020-03-18 13:47] cbrnr commented on #7472
I didn't know that there is a separate `Layout` class. So isn't this already a separation between realistic (`Montage`) vs. template (`Layout`) locations? I don't quite understand the distinction, because it seems you can only assign a montage to a `raw` object but not a layout.

[2020-03-18 13:48] cbrnr commented on #7472
Many/most people will be needing 10-20/10-10/10-05 locations, so I think it is confusing to have a selection of different manufacturer montages containing basically the same channels.

[2020-03-18 13:50] larsoner commented on #7472
Layout is really only ever meant to be used with `plot_topo`, never shown in relationship to a head circle (because in general the geometry is incorrect / inconsistent). This has been discussed a lot [over the last 3 years](https://github.com/mne-tools/mne-python/issues/3893#issuecomment-271925975) and this is what we settled on.

[2020-03-18 13:50] agramfort commented on #7472
we have decided that layout should be removed for topomaps and just
used for axes grids as used in evoked.plot_topo

I think...

[2020-03-18 14:02] cbrnr commented on #7472
OK, so we should basically always use montages.

[2020-03-18 14:03] larsoner commented on #7472
Yeah that's the TL;DR :)

[2020-03-18 14:03] cbrnr commented on #7141
That's part of the problem. I'd expect a template montage to look good by default when plotted on a sphere. I don't want to tweak parameters until the locations are right.

[2020-03-18 14:26] cbrnr commented on #7472
@sappelhoff how can I read [your 10/10 TSV file](https://github.com/sappelhoff/eeg_positions/blob/master/data/standard_1010.tsv)? I tried `mne.channels.read_custom_montage`, but the format (extension) is not supported. I tried renaming to `.txt`, but then the function complains about missing fiducials.

[2020-03-18 14:31] sappelhoff commented on #7472
It's not "MNE-READY", I always read it with pandas and I have my own simple plotting function to display the positions: https://github.com/sappelhoff/eeg_positions/blob/8d91d63c4996a81aabc24ea14dae51e8e1833ca9/eeg_positions/utils.py#L302

pull requests welcome. The main contribution of my repository is figuring out how manufacturers produce their "template" positions and having that algorithm as a

[2020-03-18 14:53] larsoner commented on #7141
Based on the discussions, this issue seems sufficiently complex that I think we should move the milestone to 0.21. Otherwise I fear we'll end up delaying release for weeks or months as we sort everything out.

[2020-03-18 14:59] larsoner commented on #7463
I'm not sure how that example (which uses `connectivity=None`) could have worked if the flow is as @drammock suggests. @drammock do you want to dig into it? It seems like at the very least we need to add some unit tests to capture these different possibilities and assert equivalences where they should exist. Alex's example suggests that the `grid_to_graph` should give the same results (number of c

[2020-03-18 15:20] agramfort commented on #7141
shall we plan a quick live discussion on hangout ?

[2020-03-18 15:40] pietro92 opened #7475 "How to reject epochs bipolar EOG"
Goodmorning everyone,

I am new to python and MNE.

I am trying to replicate a brain vision analyzer pre-processing in MNE. In this pre-processing authors rejected epochs in which horizontal EOG exceeded 30 mV and/or vertical EOG exceeded 60 mV. I'm trying to achieve this result using the command mne.Epochs. However in the reject dictionary I don't know how to specify this double condition.

Ideal

[2020-03-18 15:42] agramfort commented on #7475
## no usage questions

This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-03-18 15:42] #7475 closed

[2020-03-18 16:47] mmagnuski commented on #7472
It might be confusing, I understand that. I never personally found it confusing though. Are you sure there are no location differences between these files?

[2020-03-18 17:41] dominikwelke commented on #7471
nice, @sappelhoff ! I also planned to open a PR after finishing another project.. too slow :)

[2020-03-18 21:06] drammock commented on #7463
@larsoner I just saw your comment.  As it turns out, I ended up digging into the unit tests today anyway, and discovered that I was mistaken.  The current implementation does what I expect it to do.  So updating the docstrings is all that *needs* to happen.

To me, my mistake indicates that the various clustering code paths are somewhat obfuscated, and a refactor for maintainability might be a goo

[2020-03-18 21:18] agramfort commented on #7463
tell us when it's good to go

[2020-03-18 21:24] agramfort commented on #7472
would a hangout meeting work for tomorrow around 3pm Paris time?

[2020-03-18 23:31] larsoner opened #7478 "BUG: cross_val_multiscore progress bar incorrect in notebook"
On `master` this code:

<details>

[code]

</details>

produces outputs that display in the terminal where the notebook server is running instead of the notebook HTML. This is true also in #7155, though that one fixes progress bar output for `time_gen.fit` and `time_gen.score` (which currently do not work in `master`).

Marking for 0.21 because this is not a show-stopping bug.

[2020-03-19 01:23] #7463 closed

[2020-03-19 07:40] #7453 closed

[2020-03-19 08:07] cbrnr commented on #7472
Yes, I should be available. I have another meeting at 2pm, so I might be a bit late if we don't finish on time.

[2020-03-19 09:23] agramfort commented on #7472
sent an cal invitation with hangout link

[2020-03-19 13:16] #7471 closed

[2020-03-19 15:44] sappelhoff commented on #7472
@agramfort @cbrnr

Here is code to read my computed standard locations from the [eeg_postitions](https://github.com/sappelhoff/eeg_positions/blob/master/data/standard_1005.tsv) repo into an MNE montage (SEE "DETAILS" BELOW THE PLOT). Note: Scroll down, there is lots of data pasted here for convenience.

Results in this plot:

![image](https://user-images.githubusercontent.com/9084751/77085620-e1db

[2020-03-19 16:05] GuillaumeFavelier commented on #7162
The recommended version of pyvista to use is now `0.24`. The previous version `0.23.1` is not supported anymore because of an API change related to interactor. This change is made to improve stability.

[2020-03-19 16:56] BCIstorm opened #7479 "EEG noise reduction with ASR"
I'm using Python for signal processing and would like to use the Artifact Subspace Reconstruction (ASR) algorithm ([https://sccn.ucsd.edu/wiki/Artifact_Subspace_Reconstruction_(ASR)]) to detect and remove EEG noise.
Is there a Python implementation of the ASR algorithm?
Thanks

[2020-03-19 17:02] sappelhoff commented on #7472
For fun, I also plotted @robertoostenveld's [electrode positions](https://robertoostenveld.nl/electrodes/plotting_1005.txt) from his [blog post](https://robertoostenveld.nl/electrode/) using the same Python code as in https://github.com/mne-tools/mne-python/issues/7472#issuecomment-601253011.

(3 adjustments: add column names to Robert's data, and in Robert's data, `lpa=LPA` and `rpa=RPA`, instead

[2020-03-19 17:17] drammock commented on #7385
We are preparing to release MNE-Python 0.20.  There are several contributors who do not have a (public) name associated with their account, and hence will be listed only by their GitHub username. If you would prefer your MNE-Python contribution to be credited under your actual name, please respond here:

@carlos
@dominikwelke
@fmamashli
@foucault
@klankinen
@kostasde
@mdaneshzand
@mohdsherif
@olaf

[2020-03-19 17:40] hoechenberger commented on #7452
I think this could easily be fixed and make it into 0.20

[2020-03-19 17:43] larsoner commented on #7452
Are you on it @hoechenberger or do you need help?

[2020-03-19 18:13] hoechenberger commented on #7452
I have not yet looked into this, could do tomorrow if that's okay with @agramfort?

[2020-03-19 18:17] agramfort commented on #7452
yes ok but it needs first a plan based on a few files. I don't want to
overfit this single sfp example

[2020-03-19 18:24] agramfort commented on #7385
for some of them it's pb in the mailmap. See diff:

diff --git a/.mailmap b/.mailmap
index fe5bd308b..1f9e6d1e5 100644
--- a/.mailmap
+++ b/.mailmap
@@ -53,6 +53,7 @@ Marmaduke Woodman <mmwoodman@gmail.com> maedoc <
maedoc@mm.st>
 Brad Buran <bburan@galenea.com> Brad Buran <bburan@alum.mit.edu>
 Cathy Nangini <cnangini@gmail.com> CN <cnangini@gmail.com>
 Olaf Hauk <olaf.hauk@mrc-cbu.cam.ac.uk> Ola

[2020-03-19 18:44] cbrnr commented on #7472
Very nice @sappelhoff! Your montage seems a bit cleaner to me so I'd prefer if we used it as the new default EEG montage. I can integrate this into `make_standard_montage` if you want. I'll also try this montage with my topomaps and see how it looks like.

Open issues:

- How do we name the montage? The best name would be `standard_1005`, but this is already taken. I'd still vote for this name bec

[2020-03-19 20:12] agramfort commented on #7472
+1 :

- to integrate these files in make_standard_montage
- name it template_1005

- update the doc pages accordingly

question : can we use the same file for fsaverage template locations? we do
need
a realistic_1005 file?

how does this sound?
anything else to suggest?

[2020-03-19 20:19] agramfort commented on #7479
@BCIstorm this is not available per se in MNE but we have bits and pieces.

we have OTP https://mne.tools/stable/auto_examples/preprocessing/plot_otp.html
there is autoreject https://autoreject.github.io/
etc.

if you absolutely want this feature you'll need to give a try to implementing it. I am not closing this issue as It can be seen as a feature request

[2020-03-19 21:52] andraderenew commented on #7452
I am sorry no to be able to work on this because I have no time these days

[2020-03-19 22:45] dominikwelke commented on #7385
thanks for asking. I updated my profile..

[2020-03-20 00:59] mmagnuski commented on #7472
Hi, sorry I couldn't join your live conversation.

It should matter - the channels at the equator should be plotted at the head outline (as long as the sphere center and radius are correct), the channels below equator would be drawn outside of the head circle (the same as in topomaps). Could you check how it works with #7455? Or maybe post a snippet so I could quickly test?

I actually have a pref

[2020-03-20 02:39] mohdsherif commented on #7385
Updated mine as well (mohdsherif)
Thanks.

On Thu, Mar 19, 2020 at 6:45 PM Dominik Welke <notifications@github.com>
wrote:

[2020-03-20 02:48] fmamashli commented on #7385
Thanks to note this. I updated!

[2020-03-20 03:16] klankinen commented on #7385
I updated mine as well, thank you!

[2020-03-20 08:48] robertoostenveld commented on #7472
Just to add some background. In FieldTrip we mainly make use of https://github.com/fieldtrip/fieldtrip/blob/master/private/elproj.m to compute projections of 3D electrode positions to a 2D plane. There is always distortion, as in cartography. Furthermore, we tend to keep the 2D layout (for plotting) separate from the 3D electrode positions, since both have different requirements. See http://www.fi

[2020-03-20 09:19] sappelhoff commented on #7472
@mmagnuski the snippet was under the clickable "details" under the first plot. But see here:

- [Robert data (Fpz, Oz, T7, T8 equator)](https://robertoostenveld.nl/electrodes/plotting_1005.txt)
    - note: you need to add labels to the data first row: `label x y z`
- [Stefan data (Nz, Iz, T9, T10 equator)](https://raw.githubusercontent.com/sappelhoff/eeg_positions/master/data/standard_1005.tsv)

[

[2020-03-20 09:42] robertoostenveld commented on #7472
The head circumference is not measured over Nasion, LPA, Inion and RPA (the palpable anatomical landmarks), but slightly higher. If you were to measure over the landmarks, the measuring tape would be over the eyes and over the ears. Although I personally would not measure precisely where to put the tape to determine the head circumference, I would say that it is approximately 10% above each anatom

[2020-03-20 09:49] cbrnr commented on #7472
People will go crazy if we show electrodes outside the head radius. Maybe we need to show more circles like in your figure?

[2020-03-20 10:29] cbrnr commented on #7472
OK, back to my IC topomaps. Here's how they looked with `standard_1020`:

![ica_components](https://user-images.githubusercontent.com/4377312/77155022-24ead180-6a9d-11ea-962a-847002f09d92.png)

And here's how they look now with @sappelhoff's 1005 montage:

<img width="1087" alt="Screen Shot 2020-03-20 at 11 21 36" src="https://user-images.githubusercontent.com/4377312/77155049-3633de00-6a9d-11ea-8

[2020-03-20 11:25] mmagnuski commented on #7472
Thanks for the tips @robertoostenveld !

@cbrnr

But we do show electrodes outside the head radius in topomaps now (as EEGLAB also does) and I didn't notice people going crazy in these situations. :) (plotting montage and plotting topomaps has the same underlying mechanism. As @robertoostenveld mentions - plotting outside the head circle gives a more realistic picture of where the channels are wit

[2020-03-20 12:01] cbrnr commented on #7472
#7141 and myself. With going crazy I meant writing issues and bug reports because topomaps suddenly look different and not what people expect.

And I don't say realistic on purpose, because a sphere projected to a circle can never be realistic, so I think it's better to try to provide something that looks reasonable and what people are used to.

But if you agree that the montage by @sappelhoff is

[2020-03-20 12:48] mmagnuski commented on #7472
@cbrnr
Bear in mind that previously all channels were stretched to the whole head circle irrespective of their locations (so even if you select only frontal channels they would fill the whole head circle). And there were many issues about it here, so I wouldn't treat it as a good baseline (and definitely not something that one would expect or find intuitive). If you want to show the topomaps in a

[2020-03-20 12:50] larsoner commented on #7472
+1 for keeping our current interpretation of the head circle as defining channels above/below some equator (and hence the possibility of having channels below this equator outside the circle)

[2020-03-20 13:09] mmagnuski commented on #7472
BTW - a long term plan to maybe make everyone happy could be to extend Layout functionality and use it in topomaps / montage plots so that everyone could define what they want to be plotted where (with the current behaviour the default if `layout=None`) - when building their custom layout (and allow for other head shapes as in FT: http://www.fieldtriptoolbox.org/template/layout/#with-a-more-realis

[2020-03-20 13:12] cbrnr commented on #7472
I'm fine with having the circle correspond to some equator. The current behavior is definitely much better than the old one, which stretched the available channels to the whole circle. I think what's still bugging me is that interpolation is always done at least up to the circle - what is the parameter that sets the extrapolation limit? `ica.plot_components` doesn't have an `extrapolate` parameter

[2020-03-20 13:19] agramfort commented on #7472
very likely to be a bug

[2020-03-20 13:26] zhoudapeng1234 opened #7482 "CSP questions"
I don't understand some steps in the CSP calculation process, maybe someone could answer these questions:

1. Why there is no  "whitening transformation" in the fit process? It is different from the calculate steps in the references 《Optimizing Spatial Filters for Robust EEG Single-Trial Analysis》and 《Multiclass common spatial patterns and information theoretic feature extraction》.

2. Why the eig

[2020-03-20 14:03] agramfort commented on #7482
ping @alexandrebarachant @cbrnr

[2020-03-20 17:24] Eklund89 commented on #7311
@agramfort Thank you for the help! Ok so then my next problem. I want to do ICA that includes the Nz channel. I guess the Nz then needs to be changed again to an EEG channel and then I would like to edit its position because it ends up in the ear. How can I do this? The Biosemi montage does have a Nasion fiducial with a position that would work. I just don't know how to set the Nz position. I assu

[2020-03-20 17:40] drammock commented on #7472
Would people be happy with showing 2 circles, like [the brain products cap diagram](https://github.com/mne-tools/mne-python/issues/7141#issuecomment-581849666) does and like [the figure in Robert's paper](https://www-sciencedirect-com.offcampus.lib.washington.edu/science/article/pii/S1388245700005277#FIG2) does?  Outer circle goes through LPA/RPA/NAS, inner circle through T7/T8/Oz? Perhaps making

[2020-03-20 18:02] hoechenberger commented on #7472
Sorry I'm late to the party, but this is _exactly_ what I would wish for. I like the Brain Products / MES easyCap designs best. IMHO they're easy to understand and, when I was a student, they actually helped me "get" the 10/20, 10/10, 10/5 systems.

For reference, I have attached here a picture extracted from a manual of a slightly newer cap with 64 electrodes, where the "inner circle" is complete

[2020-03-20 20:37] agramfort commented on #7311
@cbrnr or @sappelhoff do you have a code snippet that could be used here? basically code that uses a correct channel file for biosemi. If not I've have a look.

[2020-03-20 21:41] sappelhoff commented on #7311
@Eklund89 this should do the trick. Note, I copy pasted `DATA` from https://github.com/mne-tools/mne-python/blob/master/mne/channels/data/montages/biosemi64.txt

Note how at the end of DATA I add two custom rows, corresponding to your two extra electrodes:

[code]

In the code snippet I am using a private function, so you probably don't want to make a tutorial with this :-) private functions can a

[2020-03-20 21:44] cbrnr commented on #7311
I use the standard `biosemi64` montage so I don't have an Nz channel. However, ICA does not need a montage to work (only if you want to visualize results a montage is needed). Would the new standard montage we've been discussing have a suitable location?

[2020-03-20 22:16] MaxvandenBoom opened #7485 "Deviating values while reading data from EDF and BrainVision formats"
Hi!

I am currently building a BIDS Docker App that takes three iEEG data formats: MEF3, EDF and BrainVision. In order to read the EDF and Brainvision formats I am using MNE-tools (mne-python, latest stable version 0.19.2) in Python 3.8.

To test the reading of data in Python I converted one dataset into all three formats. While being successful at loading each of the data formats into python, the

[2020-03-20 22:33] agramfort commented on #7485
@MaxvandenBoom can you share an EDF file privately so we can debug this. Could be a silly bug in Edf reader.

[2020-03-20 22:51] drammock commented on #7485
@MaxvandenBoom to me it looks like the BrainVision format is OK, it's just off by a factor of 1e6. MNE-Python always converts EEG data into Volts when reading, even if the value in the data container was in μV. The EDF values does look like a bug though.

[2020-03-20 22:52] drammock commented on #7485
(for more info about unit conversion in MNE-Python, see here: https://mne.tools/dev/overview/implementation.html#internal-representation-units)

[2020-03-20 23:59] drammock opened #7487 "RFC: get_channel_types polysemy"
I've stumbled on a not-so-nice aspect of the API when working on #7486:

1. `mne.io.pick.get_channel_types` ([source](https://github.com/mne-tools/mne-python/blob/master/mne/io/pick.py#L18-L61)) takes no input, gets all known channel types as dict keys (values are FIFF constants for `kind` and `coil_type`).
2. `mne.io.pick._get_channel_types` ([source](https://github.com/mne-tools/mne-python/blob/

[2020-03-21 00:31] larsoner commented on #7487
That was for @cbrnr in #4842 so perhaps he should comment. But I agree that `inst.get_channel_types` is probably more widely used and that the overlap is problematic, so +1 for renaming `mne.io.pick.get_channel_types` to `get_all_channel_type_constants` or something similar (a variant of names you suggested that makes it clearer it's giving a mapping between ch types and their constants, in this c

[2020-03-21 06:06] jasmainak commented on #7485
@MaxvandenBoom can you explain how you converted your data to the three file formats? What format was the data originally in?

[2020-03-21 08:36] agramfort commented on #7487
+1 to rename to get_all_channel_type_constants

assuming @cbnr is fine with that

[2020-03-21 12:37] cbrnr commented on #7485
Interesting, I just wanted to add that the EDF values differ from the MEF3 and BrainVision even with PyEDFlib and FieldTrip. It looks like something funky going on either with the data type and/or with the scaling.

Either way, as others have already noted, we need all files as well as details on how you created these files.

[2020-03-21 14:11] bloyl commented on #7449
I haven't been able to make any progress on this.
While I was able to use info about @agramfort 's old env to create a new environment it still wasn't working. So I've been unable to find a environment to iterate forward and see what might be the root cause of the problem.

I don't mind trying to sort this out (ideally for the 0.20 release) but I don't really have a plan of attack. Does any one ha

[2020-03-21 14:24] agramfort commented on #7449
@larsoner can you replicate the pb?

[2020-03-21 18:23] cbrnr commented on #7487
I'm fine with renaming the function, but I'd prefer a slightly shorter name if possible. Also, I haven't checked the return values of `mne.io.pick.get_channel_types` and `mne.io.pick._get_channel_types`, but can/should we de-duplicate code by calling the private function inside the public one?

[2020-03-21 18:56] mmagnuski commented on #7472
@drammock @hoechenberger
Do you mean adding it to topomaps too or just the montage plots?

[2020-03-21 20:45] agramfort commented on #7487
this is now what the PR from Dan does. Except using a short function name

[2020-03-21 21:39] hoechenberger commented on #7472
@mmagnuski Both (so montage and topoplots would be consistent) – unless there's scientific reason _not_ to have this correspondence..?

[2020-03-21 21:48] drammock commented on #7487
Not possible, they do completely different things, which is why I proposed to rename one of them.

What I have done is deduplicate the *instance methods* and the private function, which were doing (roughly) the same thing.

[2020-03-21 22:25] drammock commented on #7472
agreed. Any time we show a head circle it should be an option.

As long as the docs say "**approximate** location of the contour of largest head circumference" I think we're fine, regardless of whether we're dealing with idealized or actual measured sensor positions.

[2020-03-22 07:20] hoechenberger opened #7492 "Cannot read FIF file with invalid date"
#### Describe the bug
When trying to read a `.fif` file that contains an invalid date field (in my case, an invalid birthday), an exception is raised. Previously (0.19.2, if I'm not mistaken), the file would be read, and I could manually check the date to see if it was reasonable:

[code]
I cannot use this approach anymore as reading the file fails in the first place.

#### Steps to reproduce
Try

[2020-03-22 08:33] agramfort commented on #7492
this is for a cam-can file. Yes as many people have these data I agree
it should not crash
but I would see with cam-can authors how did this happen? Which file
is problematic?

[2020-03-22 08:36] hoechenberger commented on #7492
On the Parietal storage, it's the file located at `/storage/store/data/camcan/camcan47/cc700/meg/pipeline/release004/data/aamod_meg_get_fif_00001/CC120120/rest/rest_raw.fif'`

[2020-03-22 08:41] #7487 closed

[2020-03-22 09:13] agramfort commented on #7492
the mne-c code confirms the mess with the birthday:

mne_show_fiff --in
/storage/store/data/camcan/camcan47/cc700/meg/pipeline/release004/data/aamod_meg_get_fif_00001/CC120120/rest/rest_raw.fif
--verbose | grep birthday
 404 = birthday           3.6.5874898

vs for a correct file:

mne_show_fiff --in
/storage/store/data/camcan/camcan47/cc700/meg/pipeline/release004/data/aamod_meg_get_fif_00001/CC1

[2020-03-22 10:32] dmalt opened #7493 "mne.Report.parse_folder doesn't recognize '_meg.fif' files"
#### Describe the bug
`Report.parse_folder` wouldn't recognize BIDS-format raw files (`*meg.fif`), altough the documentation example [Getting started with mne.Report](https://mne.tools/dev/auto_tutorials/misc/plot_report.html?highlight=mne%20report) suggests it should.

#### Steps to reproduce
1. Create the raw data object and save it with a filename ending with `meg.fif`
2. Use `Report.parse_fold

[2020-03-22 10:37] dmalt commented on #7493
Looking at the source code at `mne/report.py` suggests it should be an easy fix. I can create a PR for this. I'm not sure though if this is just a documentation problem and you didn't intend to support the BIDS naming for raw files yet.

[2020-03-22 11:42] agramfort commented on #7493
PR welcome

[2020-03-22 14:59] dorahermes commented on #7485
For BrainVision: Thank you guys for resolving the BrainVision difference, this is super helpful!

For EDF: I wrote these files to EDF and BrainVision using Fieldtrip, but there seems already a difference between the written .edf and the original data, even if loaded in Fieldtrip, so this is not due to MNE Python (these data might actually be >16 bit, I'll check on our end).

General question: Does

[2020-03-22 15:11] agramfort commented on #7485
we have some tiny date used for testing here:

https://github.com/mne-tools/mne-testing-data/tree/master/
<https://github.com/mne-tools/mne-testing-data/tree/master/EDF>

mne has tests for IO on all these files. What would the app do?

[2020-03-22 16:40] dorahermes commented on #7485
That's awesome, thank you!

The app will do an automated detection of early onsets in cortico-cortical evoked potential (CCEP) data. @MaxvandenBoom is making sure first that all the BIDS data formats can be read correctly and the units make sense.

[2020-03-22 17:14] agramfort commented on #7485
great

can you share the repo of where you plan to put this code? you'll be using
brainlife.io ?

[2020-03-22 20:13] dorahermes commented on #7485
It's still under development, but we'll be putting the N1 detection on my lab's gitHub site:
https://github.com/MultimodalNeuroimagingLab

[2020-03-22 20:16] agramfort commented on #7485
thanks for sharing. Let us know how it goes and if we can help in some way.

[2020-03-23 01:43] buildqa commented on #7112
I just wanted to note the Freesurfer 7 beta 1 release has been out for a bit, and in addition to the compressed tar archives and Mac .pkg installer, there are now .rpm installers for CentOS6+7, and an Ubuntu 18.04 VM with both the Fressrufer 6 and 7 beta 1 releases installed plus the tutorial data.

dev7 beta 1 release
https://surfer.nmr.mgh.harvard.edu/fswiki//dev7beta1

Ubuntu 18 VM
https://surf

[2020-03-23 08:23] cbrnr commented on #7311
Also, I wouldn't include the tip of the nose in ICA because it is unlikely that it contains a lot of brain activity from this location. Same for the cheek location. And even if these two locations did contain significant brain activity, skipping two channels won't degrade the separation significantly.

[2020-03-23 08:55] Eklund89 commented on #7311
@cbrnr I use the cheek with Fpz to make an EOG channel to inform the ICA and then I drop the cheek channel so it is not included in the ICA.

However, if I later want to apply the ICA correction to the nose electrode to remove eyeblink artifacts, don't I need the nose in the ICA?

At the end, I want to use nose as a reference so it needs to be cleaned.

What do you suggest?

[2020-03-23 11:33] #7492 closed

[2020-03-23 17:18] cbrnr commented on #7311
I'd use average reference for ICA with 64 EEG plus the nose channels. I don't think you need the cheek channel because you have EEG channels that will pick up ocular activity. Note that if you use the cheek channel it needs to have the same reference as all other channels (so don't compute a bipolar channel).

[2020-03-23 21:11] larsoner commented on #7449
I should be able to try tomorrow

[2020-03-23 22:32] larsoner commented on #7449
Using:
[code]

On my preexisting environment everything is fine:
[code]
If I `conda remove vtk` and `pip install vtk`, which gives VTK 8.1, it still works:
[code]
If I `pip install --upgrade pyqt5`, it breaks:
[code]
Same on `pip install "pyqt5<5.14.1"`, but going back to `pip install "pyqt5<5.14"` it works.

@bloyl can you confirm that `pip install pyqt5<5.14` fixes your problem? If so we can upd

[2020-03-23 22:47] larsoner commented on #7449
BTW @bloyl is it possible you did not follow the updated `dev` install instructions? It has `!=5.14.1` in the additional OSX steps:

In any case I'll open a PR since I think 5.14.0 is broken, too.

[2020-03-23 23:28] bloyl commented on #7449
`pyqt5-5.13.2` installed via `pip install pyqt5<5.14` Works! Thanks @larsoner

FYI I had been using `5.14.1` SInce i started out tying to install stable :)

[2020-03-23 23:48] MaxvandenBoom commented on #7485
@agramfort @dorahermes

I tried the BrainVision and EDF dataset you suggested from https://github.com/mne-tools/mne-testing-data/tree/master/

- The BrainVision data was read correctly given drammock's explanation
- The EDF data has the same bug with negative values. I read the file `\EDF\test_edf_stim_resamp.edf` using MNE, pyEDFlib and Fieldtrip. The results are shown in the attached image below

[2020-03-24 00:01] larsoner commented on #7485
This appears to be due to doing `stim_channel=False`, which gets interpreted as `stim_channel=0`, i.e., the first channel is treated as STIM and hence non-negative/unsigned.

[2020-03-24 00:04] larsoner commented on #7485
... which is because of this:
[code]
Note that this is not documented behavior (`bool` is not in the docstring of accepted values), but we can at least add some aliases to avoid this.

[2020-03-24 07:34] #7485 closed

[2020-03-24 07:38] #7449 closed

[2020-03-24 08:10] Vatsal-Malaviya opened #7502 "GPU Installation Fail"
1. 'MNE_USE_CUDA' is not recognized as an internal or external command,
operable program or batch file.
![image](https://user-images.githubusercontent.com/31595943/77402381-98118200-6dd4-11ea-9c28-8863450ee848.png)

2. 'mne.utils.set_config' is not recognized as an internal or external command,
operable program or batch file.
![image](https://user-images.githubusercontent.com/31595943/77402433-abb

[2020-03-24 11:37] lkorczowski opened #7503 "pick_channels or pick doesn't work when preload=False"
Hi,

I don't know if it is a bug but this behaviour is weird and has been discussed in several issues (which looked sometimes resolved), e.g. #4398, #4381, #1814, #1766

I looked in theses issues and I link to some comments below to show that the behaviour doesn't work as expected.

#### Describe the bug

[code]
return
[code]

#### Steps to reproduce
If you have any EDF, just
[code]

#### Expected

[2020-03-24 12:06] hoechenberger opened #7504 "mne.find_event()'s uint_cast needs to be more flexible"
#### Describe the bug
I am currently working with Cam-CAN data, which were acquired using a Neuromag MEG system. According to the `mne.find_events()` docs, there may be issues when reading events created on such a system if `STI016` was active. In the data I have, there is no `STI016`; however, my stimulus channel of interest, `STI101`, yields spurious events, even when passing the recommended `ui

[2020-03-24 12:18] agramfort commented on #7504
did you look at mask parameter?
eg

mne.find_events(raw, uint_cast=True, mask=5)

?

[2020-03-24 12:24] hoechenberger commented on #7504
Trying that now. Will report back.

[2020-03-24 12:31] agramfort commented on #7503
it's not a bug. It's on purpose. You cannot drop channels without having
them in memory.
At least what you ask is not supported.

[2020-03-24 12:53] larsoner commented on #7503
Indeed we plan to do it someday, subscribe to #1766 for updates. Closing as dup of #1766

[2020-03-24 12:53] #7503 closed

[2020-03-24 14:14] MaxvandenBoom commented on #7485
That explains it and I am getting the expected results now. Thank you all for your help!

[2020-03-24 14:24] drammock commented on #7502
The first one didn't work because Bash died not allow spaces around the equals sign when assigning values to environment variables. The second one didn't work because you're trying to run a python command in the Bash shell.

[2020-03-24 14:24] #7502 closed

[2020-03-24 14:49] Vatsal-Malaviya commented on #7502
Issue still prevails
![image](https://user-images.githubusercontent.com/31595943/77439129-abd8da80-6e0c-11ea-8222-edaee5e3201d.png)

[2020-03-24 14:50] Vatsal-Malaviya commented on #7502
Issue still prevails
![image](https://user-images.githubusercontent.com/31595943/77439341-ed698580-6e0c-11ea-9310-e45625e095f1.png)

[2020-03-24 15:28] larsoner commented on #7502
Is that actually even a Bash shell? It looks like a windows command prompt based on the `>` end-line character

[2020-03-24 15:42] Vatsal-Malaviya commented on #7502
It is anaconda prompt snip, I thought the given code snippet was even applicable for Windows machine

[2020-03-24 16:05] larsoner commented on #7502
All of our code samples are Bash, for windows command prompt shell users -- or users of other shells generally -- you'll need to look up how to set environment variables in your given shell

[2020-03-24 16:17] hoechenberger commented on #7504
So I did a few tests where I systematically changes the `mask`, `uint_cast` and `min_duration` parameters:

[code]

Output:
[code]

As you can see, the count of events 1–3 remains stable, which is already good. Yet, some are missing: according to the paper, it should be 40 each.

Event counts for events 4–7 change with the used parameters. Disclaimer: expected would be four events of 4 and 5, each

[2020-03-24 16:26] Vatsal-Malaviya commented on #7502
I am still a newbie, it will be very helpful if you could guide me in a simple way

[2020-03-24 17:33] hoechenberger commented on #7504
If I don't use `STI101`, but instead read all `STI001:009` channels manually and sum their signals, then create a virtual new stim channel and run `mne.find_events()` on it, I no longer observe the issue I described initially. So there's something peculiar about the `STI101` channel, which is supposed to represent the sum across the other trigger lines.

[2020-03-24 19:47] agramfort commented on #7504
it's very possible that there is a bug in the generation of STI101 during
acquisition on this dataset.

you should ask cam-can people

cc @dengemann

[2020-03-24 20:50] #7493 closed

[2020-03-25 06:49] Vatsal-Malaviya commented on #7502
Can you direct me to the correct syntax to create a new environment variable(MNE_USE_CUDA)?
If that's what you are trying to say in your last message to create the environment variable first and then implement the above code.

[2020-03-25 07:21] agramfort commented on #7502
maybe this can help http://www.dowdandassociates.com/blog/content/howto-set-an-environment-variable-in-windows-command-line-and-registry/

none of the mne dev work on windows sorry

[2020-03-25 08:57] GuillaumeFavelier commented on #7502
Windows is not my main OS for dev but here is what I do to set variables on `Windows 10`:

On `Settings`:

![image](https://user-images.githubusercontent.com/18143289/77518459-1f670000-6e7e-11ea-92a5-47ed6bdcaa93.png)

In the search fileld: `Edit environment variables`:

![image](https://user-images.githubusercontent.com/18143289/77518563-4cb3ae00-6e7e-11ea-8fa3-dcd4587cc3a1.png)

Then `New`:

![i

[2020-03-25 11:30] hoechenberger commented on #7504
Could be, I will be in touch with the Cam-CAN people.

For now, I'm using this workaround which seems to work nicely by avoiding `STI101` (albeit it's in _serious_ need of some refactoring):

[code]

[2020-03-25 12:45] agramfort commented on #7504
but on the cam-can side it tells me that bids should write fixed events so
we keep original files
even if they have acquisition issues

[2020-03-25 13:03] hoechenberger commented on #7504
Yes I don't touch any of the raw data, if that's what you mean. The raw data is converted to BIDS as-is, aside from the event annotations I add.

[2020-03-25 16:41] hoechenberger commented on #7504
Closing for now as this seems to be an issue with the data itself, nothing that should require fixing in MNE itself.

[2020-03-25 17:02] larsoner opened #7515 "ENH: Add dipole projection in dipole plots"
In things like:

https://mne.tools/dev/auto_tutorials/source-modeling/plot_visualize_stc.html#dipole-fits

it's difficult to discern the orientation. To help with this, we should project the orientation vector onto each of the three 2D planes that we show.

[2020-03-25 17:50] drammock commented on #7502
@Vatsal-Malaviya what @GuillaumeFavelier suggested is one way to set environment variables in Windows.  But perhaps easier in your case is to run the second command you tried: `mne.set_config('MNE_USE_CUDA', 'true')`, but run it *in a python interpreter* instead of in the windows command shell.  In other words:

[code]

[2020-03-25 19:07] larsoner commented on #7452
Moving the milestone to 0.21

[2020-03-25 19:08] larsoner commented on #7472
I don't think we'll have time to get the second contour into 0.20 unless someone really cranks on it (aiming to release Friday), so I'll push the milestone and we can backport to 0.20.1 if people really want it there

[2020-03-25 19:09] larsoner commented on #7141
Moving the milestone to 0.21 under the assumption that #7455 is good enough for release and/or we can backport any fix to 0.20.1

[2020-03-26 12:30] hoechenberger commented on #7162
As I ditched my mouse long long ago and prefer trackpads / touchpads these days, I just discovered that I really miss and would so much love to have: pinch to zoom.

[2020-03-26 12:36] GuillaumeFavelier commented on #7162
Qt supports it although I don't now if it's consistent across all operating systems. I updated the list with this feature request for **0.21** :+1:

[2020-03-26 12:37] larsoner commented on #7162
+1 for adding this preferably at the PyVista level. It seems to exist in VTK but might only be in the nightly (having trouble finding the 8.x stable docs):

https://vtk.org/doc/nightly/html/classvtkInteractorStyle.html#a69c0488e202fa20cd82c99d5c76aaea0

[2020-03-26 12:38] GuillaumeFavelier commented on #7162
This could be a good idea for `pyvista/pyvista-gui` actually...

[2020-03-26 17:31] cbrnr opened #7521 "BUG: Overflow error with raw.plot()"
I have a specific BrainVision file that I cannot plot:

[code]

I think this is because there might be too many data points to draw in this data set. Other data sets work, and this is also unrelated to matplotlib (I tried older versions, same problem). Not sure what's so special about this file (maybe the sampling frequency of 5kHz?):

[code]

I can share the data if anyone wants to try to replica

[2020-03-26 17:38] larsoner commented on #7521
I cannot replicate with a simple example that might test the sampling rate as being the only cause:
[code]
Does it cause an issue for you?

[2020-03-26 19:27] cbrnr commented on #7521
Nope, your example works for me too...

[2020-03-26 19:36] larsoner commented on #7521
Feel free to either work out what the difference is between your data and the simpler example, or share the data and someone else can try

[2020-03-27 05:53] rob-luke commented on #7057
With the 0.20 release coming out soon I thought it would be a good time to say thanks to @larsoner and @agramfort for all the help getting this NIRS integration working. Right now I just  completed an analysis ready for publication entirely with MNE. To me it seems all the basic requirements for a NIRS analysis is now present in MNE. Now comes the fun part of developing more advanced analysis/algo

[2020-03-27 07:52] agramfort commented on #7057
awesome !

don't forget to give us academic credit :)

https://mne.tools/stable/overview/cite.html

thanks

[2020-03-27 09:01] rob-luke commented on #7057
Absolutely!!

[2020-03-27 12:10] larsoner commented on #7057
Great to hear @rob-luke ! Thanks to you for implementing this stuff, hope to start using it (and contributing more myself) soon :)

[2020-03-27 13:55] cbrnr commented on #7521
So far I haven't found a possible reason for this strange behavior. If you have time it'd be great if you could take a look (here's the [data](https://github.com/mne-tools/mne-python/files/4393857/data.zip)). I'll try this on Windows to see if it only happens on macOS.

[2020-03-27 14:00] GuillaumeFavelier opened #7526 "Website examples after #7520"
I inspected the website frontpage after #7520 and I noticed 3 issues:

1) Taking screenshot with time viewer is not consistent with what we had previously
https://18971-1301584-gh.circle-artifacts.com/0/dev/auto_examples/visualization/plot_publication_figure.html#sphx-glr-auto-examples-visualization-plot-publication-figure-py

![image](https://user-images.githubusercontent.com/18143289/77763381-42

[2020-03-27 14:03] cbrnr commented on #7521
It works on Windows, but the plot is extremely slow (because there seem to be a lot of data points to plot):
<img width="1249" alt="raw_plot" src="https://user-images.githubusercontent.com/4377312/77763972-2c315280-703c-11ea-994d-bc65c10a7e92.png">

[2020-03-27 14:04] larsoner commented on #7526
Can you make a PR to fix these?

[2020-03-27 14:04] GuillaumeFavelier commented on #7526
I have something locally, I'll take care of 1)

[2020-03-27 14:50] larsoner opened #7528 "ENH: Add montage.rename_channels"
It should just be a simple dict remapping, I think. It seems like a nicer thing to do than ask people to rename their raw data channels (and possibly rename them back).

[2020-03-27 15:13] larsoner commented on #7521
Can't reproduce on Linux. I would try `clipping='clamp'` or `clipping='transparent'`.

Sometimes I wonder if our default should actually be `clipping='clamp'`, or maybe something like`clipping=2.` which clipped channels once they went 2x (or whatever the float is) beyond their isolated range (hence `clipping='clamp'` would be an alias for `clipping=1.`). Something like this would really help when

[2020-03-27 15:28] cbrnr commented on #7521
Alright, `clipping='clamp'` works, but the plot is still super slow; `clipping='transparent'` works and the plot is super fast (because the signals are not plotted apparently).

I'm :+1: for changing to default to avoid cases where the plot doesn't work at all.

[2020-03-27 15:36] larsoner commented on #7521
I quickly implemented the `clipping=1.5` as a default and this is what it looks like for `sample`:

![Screenshot from 2020-03-27 11-30-55](https://user-images.githubusercontent.com/2365790/77772592-ca162480-701e-11ea-98a4-bc55841fed8b.png)

I actually prefer `clipping='transparent'`:

![Screenshot from 2020-03-27 11-34-21](https://user-images.githubusercontent.com/2365790/77772669-ec0fa700-701e-11

[2020-03-27 15:40] cbrnr commented on #7521
Disappearing traces are better than the plot giving an error IMO so I'd prefer anything over the current behavior.

[2020-03-27 15:56] larsoner commented on #7521
Okay here it is using `matplotlib` clipping to achieve `1.5`, which seems to work quite nicely for `sample`:

![Screenshot from 2020-03-27 11-51-21](https://user-images.githubusercontent.com/2365790/77774355-4ad62000-7021-11ea-971b-222e3a86b6ae.png)

I doubt it will directly solve your problem, but I think we might want to add some special-case code for it specifically. The simplest would probably

[2020-03-27 16:09] agramfort commented on #7528
I don't get it

[2020-03-27 16:14] larsoner commented on #7528
In things like:
[code]
we rename the channels in the `raw` instance just so that we can successfully call `apply_montage`. It seems cleaner (and reasonable) to want to keep the original channel names in `raw` as they are, and be able to do `montage.rename_channels(...)` instead of `raw.rename_channels(...)` before calling `raw.set_montage`. If you do want to keep your original channel names, this

[2020-03-27 18:47] larsoner commented on #7385
Email should be sent out imminently so I'll close

[2020-03-27 18:47] #7385 closed

[2020-03-27 21:24] agramfort commented on #7528
got it.

Yes it seems useful indeed.

[2020-03-28 14:01] hoechenberger opened #7534 "If first interaction with PyVista plot is a zoom action, a sphere is placed on the brain"
#### Describe the bug
In the new PyVista-based viewer in 0.20, if the first interaction with the brain is "swipe up or down" on my trackpack (to zoom), a sphere is placed on the brain as if I had clicked on it. If I first click somewhere else and _then_ start zooming, the problem does not occur.

#### Steps to reproduce
Plot an STC with the PyVista backend. After the window has opened, place the m

[2020-03-29 12:18] hoechenberger commented on #7162
@GuillaumeFavelier I'm horrible with brain anatomy. I would be super awesome if I could simply click on or hover over a vertex to retrieve the associated `Label` of the respective ROI. This would also make MNE a great tool for teaching brain anatomy!!

[2020-03-29 13:02] hoechenberger commented on #7162
@GuillaumeFavelier Another one.

I typically use the GFP to decide at which time periods to look at source activity. Now with the new traces viewer, it should theoretically be possible to display the GFP trace, or sensor signal of single electrodes. Since the STC doesn't contain the sensor signals anymore (to my understanding), one could modify the STC classes to retain that data. But it seems cum

[2020-03-29 15:57] agramfort commented on #7162
I can show you how to do this with freeview

[2020-03-29 19:06] hoechenberger commented on #7162
@agramfort Nice, let's do this :)
But it would still be great if I could do this in MNE directly :)

@GuillaumeFavelier Can I continue going crazy a little? I'd love to be able to select a time range in the traces pane, and the displayed activity would be the averaged activation over this time period. Just like in `mne.viz.plot_evoked`.

[2020-03-30 16:16] datalw commented on #7467
The file was fixed and EDFbrowser can open this file now, but I still get the same error while opening it in MNE.
Since I do not wish to make this file public, shall I share this privately e.g. via email?

[2020-03-30 16:51] cbrnr commented on #7467
What did you do to fix the file? Sure, just send me a link to the file (since I assume it will be too large to attach directly).

[2020-03-30 19:44] cbrnr opened #7537 "read_raw_brainvision should support mV"
While working on https://github.com/bids-standard/pybv/pull/39 (an option to explicitly specify the unit for the exported file), I noticed that `read_raw_brainvision` only supports signals in V, µV or nV, but not mV (https://github.com/mne-tools/mne-python/blob/master/mne/io/brainvision/brainvision.py#L504). Would it be OK if I added the missing mV unit?

[2020-03-30 20:26] agramfort commented on #7537
sure go for it. We should backport too

[2020-03-30 21:12] sappelhoff commented on #7537
cool, thanks for finding the issue @cbrnr

[2020-03-31 08:37] datalw commented on #7467
I did not fix the file by myself. I got another exported file from the same recording. The file is here: https://drive.google.com/drive/folders/1j32lv4g4brHuqOYnchr6cPZIDeh94S0x?usp=sharing

[2020-03-31 09:45] cbrnr commented on #7467
Thanks, I'll take a look.

[2020-03-31 13:25] fleurgaudfernau opened #7540 "Error when computing PSDs with eLORETA"
#### Describe the bug
When trying to compute psd over epochs using eLORETA method, the noise_norm matrix used to compute the psd is set to None, hence generating an error.

#### Steps to reproduce
[code]

#### Actual results
![image](https://user-images.githubusercontent.com/60889188/78031204-86475600-7363-11ea-9aae-20943ce67069.png)

#### Additional information
Platform:      Windows-10-10.0.1836

[2020-03-31 13:31] larsoner commented on #7540
@fleurgaudfernau I think I found the problem, can you check to see if #7541 fixes the problem?

[2020-03-31 14:57] #7537 closed

[2020-03-31 15:02] fleurgaudfernau commented on #7540
It works now, thank you!

[2020-03-31 17:25] cbrnr commented on #7467
This file works with 0.20 - can you try with that latest version?

[2020-03-31 20:39] jgeller112 opened #7543 "Plot Time_Viewer Sliders not working"
When I plot STCs I cannot change any of the slider information.

Software versions
Python 3.7.4 64bit [Clang 4.0.1 (tags/RELEASE_401/final)]
IPython 7.8.0
OS Darwin 18.7.0 x86_64 i386 64bit
pandas 0.25.1
numpy 1.17.2
seaborn 0.9.0

[2020-03-31 21:00] drammock commented on #7543
### more information needed

Please include the full output of `$ python -c "import mne; mne.sys_info()"` (run from a terminal shell) or

[code]

### provide reproducible example code

Please provide a [minimal, complete, and verifiable example](https://stackoverflow.com/help/mcve) that demonstrates the problem you are experiencing. If at all possible, your example should use [MNE-Python's "sample

[2020-03-31 23:17] jgeller112 commented on #7543
[code]

[code]

[code]

When visualizing I cant move the sliders--I can send a video?

[2020-03-31 23:22] jgeller112 commented on #7543
https://www.youtube.com/watch?v=stGlwd79y7A

[2020-03-31 23:37] drammock commented on #7543
hmm.  I can't reproduce (on Linux)...  @GuillaumeFavelier can you look?

[2020-04-01 06:58] agramfort commented on #7543
I had this issue recently

you should install the Qt version that is recommended
and I had to install vtk 8.2 from conda.

[2020-04-01 10:13] datalw commented on #7467
I updated my MNE to 0.20 and could read the file. Thanks a lot.

[2020-04-01 10:13] #7467 closed

[2020-04-01 13:58] larsoner commented on #7543
Indeed the warning tells you to install a newer PyQt. The best command is actually:
[code]

[2020-04-01 14:00] larsoner commented on #7543
(pushed commits to `master` and `maint/0.20` to fix the warning)

[2020-04-01 14:01] larsoner commented on #7543
Should we change the warning to an error? It will make it so that when people do `mne.sys_info` it will raise an error, but maybe it will be more visible that way?

[2020-04-01 14:31] agramfort commented on #7543
I would keep it a warning

[2020-04-01 15:12] drammock commented on #7543
Agree it should not be an error. I would also consider adding some really obvious change to the output of sys_info, like a row of 20 "!" marks or something, that called attention to the pyqt line. WDYT?

[2020-04-01 15:13] larsoner commented on #7543
Fine by me

[2020-04-01 15:18] jgeller112 commented on #7543
Updated everything

[code]
Now it does not use Pyvista to plot but mayavi

[2020-04-01 15:26] jgeller112 commented on #7543
Updated everything and it still does not work.

[code]

[2020-04-01 15:56] larsoner commented on #7543
Actually on my macOS machine with VTK 8.1.2 or 8.2.0 I get segfaults when I click anywhere in the window with `time_viewer=True` like:
[code]
@agramfort can you replicate? At some point today or tomorrow I can try to `git bisect` to see where the problem showed up.

[2020-04-01 16:01] larsoner commented on #7543
... actually that segfault only happens when I have a single time point, e.g., `stc.crop(0.1, 0.1)`. So that's a separate problem.

I can indeed replicate the clicking problem with VTK 8.1.2. I can rotate but not click the sliders. But then if I do:
[code]
it installs VTK 8.2 and things work. @jgeller112 can you try this line to see if it helps?

This suggests that we also need a warning about VTK

[2020-04-01 16:05] larsoner opened #7544 "BUG: PyVista segfault on macOS with a single time point"
Plotting a STC with PyVista that only has a single time point with `time_viewer=True`, then clicking anywhere in the window leads to a segfault:
<details>
<summary>MWE</summary>

[code]

</details>

[code]

Not sure why this happens, maybe something about the time viewer bounds. I noticed on Linux before the hiding code that they ended up negative/backward somehow when there was a single time poin

[2020-04-01 16:11] larsoner commented on #7544
Commenting out the playback speed slider and time slider instantiation entirely makes it go away. So I've at least narrowed it down...

[2020-04-01 16:19] jgeller112 commented on #7543
I get this error:
[code]

[2020-04-01 16:29] larsoner commented on #7543
Try `conda uninstall vtk` rather than `pip uninstall vtk` I guess.

[2020-04-01 16:34] jgeller112 commented on #7543
Now I get this completely different error:

Traceback (most recent call last):

  File "<ipython-input-46-286209441ec8>", line 1, in <module>
    brain = b.plot(subjects_dir=subjects_dir)

  File "/Users/hang/opt/anaconda3/lib/python3.7/site-packages/mne/source_estimate.py", line 1539, in plot
    verbose=verbose)

  File "<decorator-gen-129>", line 21, in plot_source_estimates

  File "/Users/han

[2020-04-01 16:35] jgeller112 commented on #7543
[code]

[2020-04-01 16:38] larsoner commented on #7543
Your VTK is still 8.1.2. The `conda install vtk` should have installed `8.2`. Maybe you need a `conda update conda` first?

[2020-04-01 16:39] larsoner commented on #7543
... also after you do get `8.2` installed, don't forget to then run:
[code]

[2020-04-01 17:38] jgeller112 commented on #7543
[code]

I was able to update, but again I get this error:

Exception ignored in: <function BackgroundPlotter.__del__ at 0x7fa483c52440>
Traceback (most recent call last):
  File "/Users/hang/opt/anaconda3/lib/python3.7/site-packages/pyvista/plotting/qt_plotting.py", line 838, in __del__
    if not self._closed:
RuntimeError: super-class __init__() of type BackgroundPlotter was never called

[2020-04-01 17:39] jgeller112 commented on #7543
File "<ipython-input-25-635b71f79a05>", line 1, in <module>
    brain = grand_avg.plot(subjects_dir=subjects_dir)

  File "/Users/hang/opt/anaconda3/lib/python3.7/site-packages/mne/source_estimate.py", line 1539, in plot
    verbose=verbose)

  File "<decorator-gen-129>", line 21, in plot_source_estimates

  File "/Users/hang/opt/anaconda3/lib/python3.7/site-packages/mne/viz/_3d.py", line 1796, in

[2020-04-01 18:37] jgeller112 commented on #7543
I managed to get it working.

Thanks!

[2020-04-01 18:38] larsoner commented on #7543
What did you do to fix it? It might help the next person who has the problem

[2020-04-01 18:41] jgeller112 commented on #7543
[code]
I had to restart my Python session after this.

[2020-04-01 20:23] larsoner commented on #7543
Thanks @jgeller112

New installations following our instructions on macOS should end up with VTK8.2 and proper PyQt5, but still maybe we should add an entry to the troubleshooting page for this for people with existing environments. WDYT @drammock ?

[2020-04-01 20:25] #7544 closed

[2020-04-01 20:44] drammock commented on #7543
I'm on it

[2020-04-01 23:10] #7543 closed

[2020-04-02 10:22] rahulkakaiya opened #7548 "Reading .mff file - keyerror: 'EEG'"
Python noob. Please help me with this error whilst reading in an .mff file!!! Why am I getting a KeyError for 'EEG' and how do I fix? Thank you

INPUT:
[code]

OUTPUT:
[code]

[2020-04-02 11:39] cbrnr commented on #7548
I don't know the EGI format, but can you confirm that you are trying to load a valid EGI file? That is, have you tried opening it with other programs (e.g. Biosig)?

[2020-04-02 13:15] agramfort opened #7549 "BUG Writing forward obtained with make_forward_dipole"
[code]

gives

[code]

cc @hoechenberger

[2020-04-02 14:02] larsoner commented on #7549
https://mne.tools/stable/generated/mne.make_forward_dipole.html

`make_forward_dipole` returns a tuple of `fwd`, `stc`

[2020-04-02 14:07] agramfort commented on #7549
now the bug report is clear

[2020-04-02 14:11] larsoner commented on #7549
Yes, now it's a bug and not a usage error :)

[2020-04-02 16:53] #7549 closed

[2020-04-02 17:00] #7540 closed

[2020-04-02 17:56] larsoner commented on #7548
@rahulkakaiya can you try the branch from #7548 and see if it gives you a more informative error message?

[2020-04-02 20:06] larsoner commented on #5373
@rhancockn are you able to produce a small file (as small as possible that shows the issue) for testing ?

[2020-04-02 20:07] larsoner commented on #5335
Closing since it sounds like this was resolved. If there are remaining issues, [mne-realtime](https://github.com/mne-tools/mne-realtime) would probably be the right place to continue discussion

[2020-04-02 20:07] #5335 closed

[2020-04-02 20:08] larsoner commented on #5027
@ViridianForge any chance to do a short test recording (can be dummy data / no subject) and share it? Without this we're stuck

[2020-04-02 23:18] pshahbasak opened #7555 "Diagonals in the envelope correlation matrix are not 1s"
I am using your envelope_correlation.py script for my analysis. I noticed that the diagonal values for the correlation output are not 1s. I have spent some time looking at the code and I think it is because of the demeaning of the 'X' signals (data_mag_nomean = data_mag - np.mean(data_mag, axis=-1, keepdims=True) before computing correlations with orthogonalized 'Y' signals.

Am I correct, or is t

[2020-04-03 04:00] ViridianForge commented on #5027
Sure thing @larsoner - I'll talk to the lab tomorrow morning and get a bit of noise collected for you.

[2020-04-03 08:35] agramfort commented on #7555
yes when you orthogonalize it's not anymore a true correlation so diagonal is indeed not 1 anymore. Maybe you can send a PR to clarify to the docstring?

[2020-04-03 08:35] #7555 closed

[2020-04-03 08:57] #7548 closed

[2020-04-03 14:27] hoechenberger commented on #7397
I just ran into the same issue – I believe this is _not_ fixed. The docstring of `viz.plot_evoked_topomap()` states:

[code]

These are some plots I got for a bunch of sensors, first figure is with `outlines='skirt'`, second with `outlines='head'`:

<img width="666" alt="outlines_skirt" src="https://user-images.githubusercontent.com/2046265/78371089-c9096800-75c7-11ea-8848-9ea84ce1e223.png">

<img

[2020-04-03 15:10] mmagnuski commented on #7397
@hoechenberger This is expected, the channels are now projected to a sphere, with channels approximately at head circumference placed at topo circle radius. The same projection is done in the case of outlines 'head' and 'skirt' - so the topomaps are identical. Head and skirt modes are an artifact of the previous topomap system when channel positions were stretched to cover the whole head or the wh

[2020-04-03 15:20] hoechenberger commented on #7397
Thanks @mmagnuski. But then this is still an obvious documentation bug – or is it just me?? (wouldn't be the first time!!!)

[2020-04-03 16:16] mmagnuski commented on #7397
No, you are right, the documentation should be clarified. But the issue might be a bit broader: @larsoner, @agramfort - maybe we should just deprecate the `'head'` vs `'skirt'` outlines? Currently they would give the same topomaps, so they should be either removed or their behavior should be changed to affect topomap layout. This second option would duplicate the change in layout obtained when cha

[2020-04-03 16:53] larsoner commented on #7397
head and skirt can still give different results when all electrodes are within the head circle, no?

[2020-04-03 19:57] ViridianForge commented on #5027
Here's a compressed version of an epoched MFF.  Let me know if it doesn't recover well - I have difficulty believe a 20M file reasonably compresses to 60K.

[w1337_20191014_105416.mff.zip](https://github.com/mne-tools/mne-python/files/4429615/w1337_20191014_105416.mff.zip)

[2020-04-03 20:57] Dnathan33 opened #7561 "ModuleNotFoundError: No module named 'mne.datasets'; 'mne' is not a package"
#### Describe the bug
err

[2020-04-03 21:18] larsoner commented on #5027
If the signal is all zeros it's not totally unreasonable at least. It at least uncompressed okay to ~20MB.

[2020-04-03 21:36] #7561 closed

[2020-04-06 06:58] rob-luke commented on #7057
I am going to implement a few lesser used algorithms now. Is `mne-project-template` still the recommended way to start an extension?

[2020-04-06 07:30] agramfort commented on #7057
yes +1 for mne-project-template

[2020-04-06 12:54] GuillaumeFavelier commented on #7534
I was able to reproduce this one and I opened #7563, can you try it?

[2020-04-06 14:00] fleurgaudfernau opened #7564 "issue with volumetric source estimate morphing"
#### Describe the bug
I have mixed source estimates that I wish to morph to the fsaverage brain. To do so, I separated the mixed source estimates into a surface source estimate and a volume source estimate. When trying to morph the lastest (using morph_apply), I get the following error:
ValueError: vertices do not match between morph (77) and stc (33) for the volume:
(also, I believe there is a sm

[2020-04-06 16:53] larsoner commented on #5027
Thanks @ViridianForge , after #7507 is in (which simplifies/refactors the MFF reading quite a bit) I can take a look at this

[2020-04-07 01:55] mh105 opened #7570 "mne.bem.make_watershed_bem() Coordinate System Error"
#### Describe the bug
Incorrect extraction of volume info by the _extract_volume_info method in make_watershed_bem() in bem.py. If you look at the extracted BEM surfaces using the ancient mne freeview_bem_surfaces method from terminal that calls Freeview, you will see that the BEM surfaces have flipped yz coordinates. This is due to incorrect use of the header['Mdc'].T matrix.

#### Steps to repro

[2020-04-07 06:53] agramfort commented on #7570
I just did `mne freeview_bem_surfaces -s sample` and it looks fine. Can you point to a dataset for which it's broken? It also works fine on somato dataset.

[2020-04-07 09:44] cbrnr opened #7571 "Segfault with raw.plot() on macOS"
Consider the following example:

[code]

When I run this script interactively (i.e. from IPython with `%run plot_example.py`) everything works fine. However, when I run the script with `python3 plot_example.py`, I get a segfault:

[code]

I use Python 3.8.2 installed via Homebrew, but the same happens with Anaconda Python 3.7.6 and 3.8.2. Is it just me or can someone reproduce this?

[2020-04-07 10:10] agramfort commented on #7571
I don't have the pb

[2020-04-07 10:37] cbrnr commented on #7571
Are you on a Mac? Which Python version do you use? Anaconda or Homebrew?

[2020-04-07 10:41] cbrnr commented on #7571
Actually, the problem occurs only for `raw.plot(block=False)` (the default). Everything works if I run `raw.plot(block=True)` instead.

[2020-04-07 10:47] cbrnr commented on #7571
Furthermore, I'm using the default `macosx` backend. I don't get the segfault with the `qt5agg` backend.

[2020-04-07 11:50] agramfort commented on #7571
I confirm the segfault :

$MPLBACKEND=macosx python example.py
Segmentation fault: 11

[2020-04-07 12:07] larsoner commented on #7571
The macOS backend always seems to have problems. I think we should recommend that people use PyQt5 in our install docs.

This sounds like an upstream bug with that backend so it would be good if you can strip down the plotting code to a minimal example and file an upstream bug. In the meantime I think we can leave this open here until we update our recommendation, and maybe add a workaround if it

[2020-04-07 12:34] cbrnr commented on #7571
I'll try to isolate this issue. Let's wait until we know more before we change any recommendations.

[2020-04-07 13:01] cbrnr commented on #7571
This seems to be the offending line:

https://github.com/mne-tools/mne-python/blob/487759e4b8f003311c1653f2f54592609a42c029/mne/viz/raw.py#L469

Commenting it out solves the segfault.

[2020-04-07 13:03] cbrnr commented on #7571
Or rather, it's this line in `_close_event`:

https://github.com/mne-tools/mne-python/blob/487759e4b8f003311c1653f2f54592609a42c029/mne/viz/raw.py#L528

[2020-04-07 13:03] mh105 commented on #7570
Did you re-run mne.bem.make_watershed_bem() on sample or were you viewing the generated watershed BEM surfaces? I believe the BEM surfaces generated before v0.19 were correct because of the error on the line write_surface(s, rr, tris, volume_info=volume_info) that failed to update volume geometry on the generated surface files. Since they are in the correct coordinates after generated by freesurfe

[2020-04-07 13:25] #7534 closed

[2020-04-07 13:28] larsoner commented on #7571
I'm not sure what else there is to wait for -- I've seen a handful of reports (from you mostly I think?) that end up being macOS-specific bugs not present in PyQt5. I'd also rather recommend a single backend (PyQt5) because it gives us a more uniform platform to try to support, especially since this is also what's used by our 3D plotting tools.

[2020-04-07 13:55] larsoner commented on #7570
Even something scripted that requires Freeview is fine. For example I just tried:
[code]
And got:

![Screenshot from 2020-04-07 09-55-21](https://user-images.githubusercontent.com/2365790/78677585-e8e5a800-78b5-11ea-8e5b-39a811be5a8b.png)

Can you make a PR to fix the behavior? Then we can test locally and see that it works. If you want to go the extra mile, you could look into modifying `test_wat

[2020-04-07 13:57] mh105 commented on #7570
Maybe I'm missing something, but isn't the surface shown in your plot upside-down?? That's precisely the issue I had.

[2020-04-07 14:02] larsoner commented on #7232
@christian-oreilly any chance to make a WIP PR with the Python solution for creating BEM surfaces? I'm happy to take over once there is something that more or less works.

[2020-04-07 14:07] larsoner commented on #7570
Yes, I mean to say that I can replicate the issue :)

Are you up for making a PR to fix it?

[2020-04-07 14:09] mh105 commented on #7570
Oh, I see. I read the "Even something scripted that requires Freeview is fine" as the surface looks fine. Sure... I can do that, but which fix do you want?
1) Remove volume geometry update all together from mne.bem.make_watershed_bem()
2) Do the transpose fix of _extract_volume_info method
3) Do a subprocess call of mris_convert --vol-geom to update volume geometry
Any of the three will fix this i

[2020-04-07 14:15] christian-oreilly commented on #7232
@larsoner Ok, sure, I'll get to it right away else it will never happen.

[2020-04-07 14:25] hoechenberger commented on #7571
I always thought this was the "officially" recommended backend anyway :) Why not emit a warning if a user wants to plot using a different backend?

[2020-04-07 14:26] bloyl commented on #7570
As a user who just generated a ton of bems using 0.20, is this a
consistency with freeview/freesurfer visualization bug or will it also
effect MNE coregistration/source modeling/forward generation as well?

On Tue, Apr 7, 2020 at 10:10 AM Alex He <notifications@github.com> wrote:

[2020-04-07 14:27] christian-oreilly commented on #7232
@larsoner To clarify, the code I have is to get from a voxelized BEM solution to BEM surfaces through marching cube + laplacian filtering + mesh repairs. I don't have anything for going from T1 to volumetric BEM solutions because I used directly the volumetric BEM solution from John Richards. Does this (volumetric BEM to surface BEM) correspond to what you are expecting me to provide as a PR or yo

[2020-04-07 14:30] mh105 commented on #7570
I'll let the experts confirm this, but I think it does. It's not a freeview visualization bug but an error on volume geometry of BEM surfaces. Your forward model will be wrong since the source space is flipped upside-down from your BEM surfaces.

[2020-04-07 14:34] christian-oreilly commented on #7232
Oh, that's funny, I got the EXACT same issue than the one we can see on the first figure of this issue! We see the inner surface (yellow) making an excursion out of the two other surfaces at the surface where the MRI is cut (toward the throat). That was the case for almost all my MRI. So I wrote a snippet of code to correct exactly that. It is a fairly specifically tailored piece of code because g

[2020-04-07 15:04] adam2392 opened #7575 "Anonymized raw can't be saved: mne.io.anonymize_info() doesn't seem to work on the annotations"
#### Describe the bug
When I instantiate a raw object, attach annotations, and I perform `mne.io.anonymize_info()` after I get an error. I believe this is due to the fact that anonymization doesn't "alter" the annotations. It works fine if I call anonymization before setting annotations.

Possible solutions:

1. better warning/error message
2. anonymization to alter the annotations - origtime as w

[2020-04-07 15:28] Andrea-V opened #7576 "Cannot plot data after filtering"
#### Describe the bug
I cannot plot the data again after applying filtering.

#### Steps to reproduce

		data_highpass = data.copy().filter(l_freq=0.5, h_freq=None)

		data.plot(n_channels=61, scalings="auto") # this works as expected
		plt.show()

		data_highpass.plot(n_channels=61, scalings="auto") # here I get the error
		plt.show()

#### Expected results
It should be able to plot data after fi

[2020-04-07 15:35] agramfort commented on #7576
it seems filtering creates NaN

[2020-04-07 15:36] agramfort commented on #7575
can you share a short code snippet to replicate the pb?

[2020-04-07 16:27] bloyl commented on #7575
`anonymize_info` only anonymizes the `meas_info` object. If you want to
anonymize the `raw` (both the `meas_info` and `annotations`) you need to
call `raw.anonymize()`

On Tue, Apr 7, 2020 at 11:36 AM Alexandre Gramfort <notifications@github.com>
wrote:

[2020-04-07 16:39] cbrnr commented on #7571
Because `macosx` ist still the default backend on a Mac and it doesn't require an additional package. So I'd prefer if we just fix this bug.

[2020-04-07 17:25] larsoner commented on #7232
Hmm... maybe for now just posting public [gists](https://gist.github.com/) of your scripts for correction is good enough. Then if there are things that could help people we can generalize and include in MNE. That's presumably lowest effort for you but already gives people things to try and adapt.

[2020-04-07 17:27] larsoner commented on #7570
That's what I expect. @bloyl as long as `plot_alignment` looks correct, then things should be correct. We try to keep the transformations there and in the forward code consistent, and indeed we never use the volume information.

This is the fix I would do. It's the least invasive (better than option 3 in this sense) yet keeps things the most correct / complete (better than option 1 in this sense).

[2020-04-07 17:29] #7526 closed

[2020-04-07 17:32] larsoner commented on #7576
@Andrea-V we can't tell from the last line of the traceback where the error is actually happening. Can you paste the full traceback?

[2020-04-07 18:16] larsoner opened #7577 "RFC: Remove "spectrum_fit" from notch filter"
I have never really gotten it to work in practice, and users on Gitter are unhappy that it takes ages to run. I wonder if we should deprecate and remove it, as I'm not sure if fixing it is even really feasible.

[2020-04-07 19:03] mh105 commented on #7570
Sounds good. Will push later this week.

[2020-04-07 19:18] cbrnr commented on #7571
You may be right. I'm using it anyway in MNELAB, but in an interactive session I'm too lazy to switch backends (yes I know that there is `matplotlibrc`). Even if we recommend the PyQt5 backend it would be nice if everything worked with the matplotlib defaults on all platforms. I don't even know why matplotlib doesn't make PyQt5 its default on macOS - it would be interesting to know why (maybe beca

[2020-04-07 19:26] cbrnr commented on #7571
This will be a bit hard to debug, because the segfault doesn't occur when debugging.

[2020-04-07 19:46] cbrnr commented on #7571
Reported upstream: https://github.com/matplotlib/matplotlib/issues/17061

[2020-04-07 19:52] #7359 closed

[2020-04-08 07:47] cbrnr commented on #7521
Good idea, this example doesn't work with any float value. The last line in MNE is:

https://github.com/mne-tools/mne-python/blob/master/mne/viz/raw.py#L908

I'll try to see if catching the `OverflowError` works, and if so I'll submit a PR.

[2020-04-08 08:09] cbrnr commented on #7521
It doesn't work, I can't catch the error. It's probably because there is more than one exception inside matplotlib. Any suggestions?

[2020-04-08 08:49] Andrea-V commented on #7576
here is the full error:

`
Traceback (most recent call last):
  File "preprocessing_upper_limb.py", line 54, in <module>
    data_highpass.plot(n_channels=61, scalings="auto")
  File "/home/andrea/anaconda3/envs/bci_competition/lib/python3.8/site-packages/mne/io/base.py", line 1562, in plot
    return plot_raw(self, events, duration, start, n_channels, bgcolor,
  File "</home/andrea/anaconda3/envs

[2020-04-08 09:39] mmagnuski commented on #7577
Maybe we should move it to sandbox? But I'm fine either way.

[2020-04-08 14:31] larsoner commented on #7576
Can you see if https://github.com/mne-tools/mne-python/pull/7583 at least does not die?

Then we can figure out why filtering the data has caused `nan` to show up everywhere.

[2020-04-08 14:32] larsoner commented on #7576
@Andrea-V if you can share the data via DropBox or other link, it would also help

[2020-04-08 14:40] larsoner commented on #7521
@cbrnr I cannot replicate on my macOS machine, maybe you need to update `matplotlib`?

Also doing:
[code]
should really catch any exception that derives from `Exception` (which should reasonably include anything that `matplotlib` would raise). Did you try this? If this fails you can try:
[code]
but this is rightfully frowned upon so better to avoid it if possible

[2020-04-08 14:41] larsoner commented on #7521
... also it's probably worth seeing if this is also a problem when you run with `MPLBACKEND=Qt5Agg python ...`. I suspect it will be since it looks like an `agg` drawing problem, but who knows

[2020-04-08 15:15] Andrea-V commented on #7576
You can find a data sample here:
https://drive.google.com/drive/folders/1DKs5xPE_DfFbCaIToBN9F3UYnxf5s9Hf?usp=sharing

This is the code I use for loading the data
		data = mne.io.read_raw_gdf(os.path.join(raw_path, file), verbose=True)
		data.load_data()

[2020-04-08 15:20] larsoner commented on #7576
[code]
So it appears as though your data already have NaN (filtering will just spread these). The fix might just be to fix the auto-scaling to account for `nan` values, I'll look.

[2020-04-08 15:33] Andrea-V commented on #7576
is there a way to deal with NaN directly into the Raw object? It would be nice to have methods similar to pandas `.dropna()` or `fillna()` methods

[2020-04-08 15:36] Andrea-V commented on #7576
Or else, a way to create the Raw object from a pandas DataFrame, so that I couls deal first with NaN in pandas, load the data into Raw object, and then apply some filtering

[2020-04-08 15:46] larsoner commented on #7576
You can create Raw objects from NumPy arrays

https://mne.tools/stable/auto_examples/io/plot_objects_from_arrays.html#sphx-glr-auto-examples-io-plot-objects-from-arrays-py

[2020-04-08 15:47] larsoner commented on #7576
It looks like this file is particularly problematic, as there are channels that need to be resampled, and those channels have `NaN` or `inf` in them. I've added plotting fixes to #7583, but really we need to deal with EDF resampling better somehow (replace with linear interpolated values or something?)

[2020-04-08 16:25] cbrnr commented on #7521
Yes, it also fails with `Qt5Agg`. What exactly can't you reproduce? I'm already using the latest matplotlib 3.2.1...

[2020-04-08 16:28] larsoner commented on #7521
I don't get a failure with `raw.plot()` for that dataset

[2020-04-08 17:34] cbrnr commented on #7521
Could it be related to retina?

[2020-04-08 17:41] larsoner commented on #7521
My macOS machine has a retina display, if it matters. You should be able to test this regardless of your actual monitory by using something like QT_SCALE_FACTOR=2 on the Qt backend

[2020-04-08 17:58] cbrnr commented on #7521
@agramfort you have a Mac too - can you replicate with the data and code from https://github.com/mne-tools/mne-python/issues/7521#issuecomment-605013819?

[2020-04-08 18:15] larsoner opened #7585 "BUG: Cant read elp with read_custom_montage"
[code]
gives
[code]
However, this is a file from the `io/kit` module (and it gets used there), so it clearly should be readable. It looks like `mne._digitization._read_dig_points` is what the KIT code uses to read it, it's unclear why we don't or can't use this in `read_custom_montage`.

[2020-04-08 18:37] larsoner commented on #7585
This works:
[code]
Perhaps we should try to detect which type of file we have and warn if it's not BESA ELP?

[2020-04-08 18:45] drammock opened #7586 "ENH: proposed improvements to plot_psd_topomap"
Some things I wished I was able to do when using `epochs.plot_psd_topomap` yesterday, and some ideas about how to implement them:

1. **automatic joint determination of vlims.** copy over the API from #6922 that allows `vlim='joint'` for multi-topomap figures

2. **logarithmic colormap.**  SSVEP carrier frequency ought to have more power than oddball frequency, by virtue of the experimental design

[2020-04-08 18:58] agramfort commented on #7585
+1

[2020-04-08 19:16] agramfort commented on #7521
I get on my mac:

[code]

[2020-04-08 20:12] cbrnr commented on #7521
Thanks @agramfort, that's what I get too. Now it would be interesting to find out why this file works for @larsoner...

[2020-04-08 20:16] #7575 closed

[2020-04-08 20:20] adam2392 commented on #7575
Awesome. Thanks!

[2020-04-08 20:36] larsoner commented on #7521
I tried on:
[code]
And can't get it to bump higher. Maybe it's because you're on 3.2.3 (presumably conda-forge)?

[2020-04-08 20:39] #1766 closed

[2020-04-08 21:16] agramfort commented on #7521
Platform:      Darwin-19.0.0-x86_64-i386-64bit
Python:        3.7.5 (default, Oct 25 2019, 10:52:18)  [Clang 4.0.1
(tags/RELEASE_401/final)]
Executable:    /Users/alex/miniconda3/bin/python
CPU:           i386: 16 cores
Memory:        32.0 GB

mne:           0.21.dev0
numpy:         1.17.4 {blas=mkl_rt, lapack=mkl_rt}
scipy:         1.3.1
matplotlib:    3.1.1 {backend=TkAgg}

sklearn:       0.23.d

[2020-04-08 21:33] cbrnr commented on #7521
No, I use pip packages. I'll try to downgrade tomorrow and see if this makes it work (but I doubt it because @agramfort has an even older version).

[2020-04-09 13:49] larsoner opened #7591 "BUG, MAINT: Remaining dig issues"
In the long term we should:

- [x] Remove `_read_dig_points`, it should make use of standardized functions (#8622)
- [ ] Make `read_dig_polhemus_isotrak` actually read channel names where possible (they are embedded in the file at least sometimes)
- [ ] Make `.elp` reading by `read_custom_montage` triage automatically between isotrak and BESA (currently just assumes BESA)

Here is a sample for (3)

[2020-04-09 14:09] rhancockn commented on #5373
There is a ~4MB file with events in multiple epochs at https://github.com/mne-tools/mne-testing-data/pull/37. I'm not able to generate a smaller file until my University reopens.

[2020-04-09 14:18] larsoner commented on #5373
Ahh right forgot about that, thanks @rhancockn . That should be good enough for at least developing a solution for people to test in the meantime.

[2020-04-09 18:25] larsoner commented on #7586
For (1) agreed

For (2) this should probably be an option, +1 for making it the default since it's closer to what we do when plotting PSDs anyway

For (3) I like the first idea, just get the single bin nearest to that freq. I don't love the integer number of bins because it's not a natural unit of measurement. We could enable the second idea, too, which would make a float `bands` (first idea) basi

[2020-04-09 20:09] larsoner commented on #7515
@hoechenberger if you are going to dig into the dipole plotting code, this would be a good place to start to understand what is going on

[2020-04-09 21:03] larsoner commented on #7564
@fleurgaudfernau just to get a bigger picture here. Would it work better if you could:

1. Compute a single morph for your surface+vol source space
2. Do `morph.apply(stc_mixed)` and get a mixed STC back
3. Extract the vol or surface STC from the mixed STC

? It seems like it would accomplish what you are trying to do without a bunch of messing around with `src` indexing.

If that sounds like a re

[2020-04-09 21:24] hoechenberger commented on #7515
@larsoner Can do! Incidentally I also just published a proof-of-concept dipole -> evoked simulator built with the help of @agramfort, https://mybinder.org/v2/gh/hoechenberger/dipoles_demo/master?urlpath=voila%2Frender%2Findex.ipynb