[2022-09-21 16:45] Carlafrenzel opened #11194 "Snirf files not readable"
Hi,

I am creating snirf files with pysnirf2 based on data collected with LSL in xdf format.
I then want to preprocess the data in the snirf files with MNE.
If I create the snirf files, the nirs group is an indexed group. So the key will be 'nirs1' as indexing starts with 1 in h5py, I believe.
In the snirf documentation (https://github.com/fNIRS/snirf/blob/master/snirf_specification.md#nirsiprobes

[2022-09-21 16:56] larsoner commented on #11194
@rob-luke any ideas?

[2022-09-21 17:05] drammock commented on #11194
Hi @Carlafrenzel, thanks for reporting (and thanks for including the problematic file!)

As for a quick fix, you could try this:
[code]

but for me at least, that just yields a different error about the MeasurmentTime being None.

[2022-09-21 18:00] #11042 closed

[2022-09-22 07:03] Carlafrenzel commented on #11194
Hi,

thanks for the quick reply and fix.
Your suggestion does work:)

The file I attached does indeed lack the measurementTime data. I didn't notice before. After fixing my mistake the suggested solution does work and I am now able to open the modified snirf file in MNE.

Thanks again:)

[2022-09-22 13:09] RRaphaell opened #11195 "read .egg file (UnicodeDecodeError)"
### Description of the problem

I'm trying to read .eeg file that I've recorded myself using brainvision. I'm using read_raw_nihon method but getting UnicodeDecodeError. I have also loaded header data (".vhdr") using  mne.io.read_raw_brainvision and annotation data (".vmrk") using mne.read_annotations successfully but was not able to read .eeg data as I have mentioned above.

### Steps to reproduc

[2022-09-22 13:25] elba1212 commented on #11188
Hi @scott-huberty and @larsoner,
Thank you for your reply!

I tried replicating the error with some of my smaller files, but it only replicates with my large files.
(when I try to read the smaller files for some of them, I get a different error: IndexError when it reads the event channel).

I removed the videos, zipped the mff files, and updated the links in the original message as you suggested.

[2022-09-22 13:41] drammock commented on #11195
[code]
is the correct pattern.  If the `vhdr` file is structured correctly, it will have links inside it to the `vmrk` and the `eeg` files and you don't need to load them separately.

If you have further difficulty with this, please provide a link to the problematic files so we can check if maybe the files are corrupted.

[2022-09-22 13:41] #11195 closed

[2022-09-22 14:18] drammock commented on #11188
@scott-huberty @larsoner there is an off-by-one error in subject 3004:
[code]

I can't access subject 3003, Dropbox says "zip files are supported but something went wrong"

[2022-09-22 14:58] gemeinl opened #11196 "`include_tmax` not considered in `mne.io.Raw.crop` to check `tmax` in bounds"
### Description of the problem

When cropping a `Raw` to its exact duration without including `tmax`, the code crashes.
This is clearly an edge case, but I would expect this to work.
Am I wrong on this?

### Steps to reproduce

[code]

### Link to data

_No response_

### Expected results

The code should run and the raw should not change, since it is cropped for the entire data.

### Actual resul

[2022-09-22 16:36] larsoner commented on #11188
We have an off-by-one-bug check elsewhere:

https://github.com/mne-tools/mne-python/blob/706aea1eb723801c43ae5fc5f68bbb7b53184c29/mne/io/egi/egimff.py#L559-L563

I wonder if we need to introduce one here, too.

[2022-09-23 08:04] agramfort commented on #11196
@gemeinl with what you do you have

[code]

so the max time is not 1s. Even with `include_tmax=True` it complains.
Not sure how to proceed here...

[2022-09-23 08:25] gemeinl commented on #11196
But the rec has a duration of 1s. I should be able to crop it to 1s, no? That it crashes with include_tmax=True is obvious, I think. It asks for one additional time when it already crashes without it.

From my point of view, if I call crop with tmax=1 and include_tmax=False, internally tmax should be reduced to tmax - 1 / raw.info["sfreq"]. Does this make sense to you?

[2022-09-23 10:03] agramfort commented on #11196
can you try to open a PR about this and see if it breaks anything?

[2022-09-23 10:57] rob-luke commented on #11194
Hi @Carlafrenzel, thanks for taking the time to raise this issue.

I just took a read of the SNIRF spec, and as you say, it supports `/nirs#` as valid naming. See...

Note that the root /nirs can be either indexed or a non-indexed single entry.

MNE does not support all features of the SNIRF specification. For example, multiple measurement in one file, DCS data types etc.

Further, I do not believ

[2022-09-24 16:00] Carlafrenzel commented on #11194
Hi @rob-luke,

just to clarify, I do not use /nirs1 or /nirs# on purpose. This rather is an issue with creating own snirf files as pysnirf2 creates nirs as an indexed group. Similarly, if I create an .h5 file and define nirs as an indexed group I end up with /nirs1 again. The one thing I could try, which I haven't yet, is to create an .h5 file and do not create an indexed nirs group. With all othe

[2022-09-25 00:30] hoechenberger commented on #11196
It appears we're off by one sample here, yes.

btw there's a bug in the HTML repr that is not present in the text repr:

<img width="492" alt="Screen Shot 2022-09-25 at 02 29 36" src="https://user-images.githubusercontent.com/2046265/192123297-c30445cf-061f-4a52-b497-0465ecd136d7.png">

[2022-09-25 00:31] hoechenberger opened #11202 "Incorrect raw duration displayed in HTML repr"
_Originally posted by @hoechenberger in https://github.com/mne-tools/mne-python/issues/11196#issuecomment-1257090412_

btw there's a bug in the HTML repr that is not present in the text repr:

<img width="492" alt="Screen Shot 2022-09-25 at 02 29 36" src="https://user-images.githubusercontent.com/2046265/192123297-c30445cf-061f-4a52-b497-0465ecd136d7.png">

[code]

[2022-09-25 10:00] cbrnr commented on #11202
I think that's another argument for having just one repr. I don't like treating stuff separately for notebooks. At the very least, the HTML repr should take the normal repr and extend it when it makes sense, but duplicating what's already in the text repr is prone to such bugs.

[2022-09-25 10:57] hoechenberger commented on #11202
Yes but I think we've agreed that your point is valid many times before, no? It's just someone has to go ahead and start implementing it already.

[2022-09-25 11:05] cbrnr commented on #11202
I just wanted to make sure 😄.

[2022-09-25 11:21] agramfort commented on #11202
The floor is yours Clemens

[2022-09-25 12:10] cbrnr commented on #11202
Gotta find the time, but I will do it!

[2022-09-25 22:39] rob-luke commented on #11194
Thanks for clarifying! This is great to know. We should definitely make sure we include support for this in MNE then.

Great! We can guide you through the process if you need help at any point. Just yell out 😄

[2022-09-26 11:55] #11202 closed

[2022-09-26 14:29] #11196 closed

[2022-09-26 16:54] Carlafrenzel commented on #11194
That would definitely be great and appreciated:)

[2022-09-27 11:26] wmvanvliet opened #11208 "Add non-breaking spaces between units"
### Proposed documentation enhancement

There should be a non-breaking space between the number and its unit. I don't know if this is supported here, I would use either `&nbsp;` or `&thinsp;` (preferably the latter). This should be consistent throughout our documents.

e.g. 250&thinsp;ms

[2022-09-27 17:49] larsoner opened #11210 "ENH: Use transform_points in diffeomorphic_map"
@alexrockhill maybe one for when you're bored -- in DiPy 1.6+ we should be able to use `transform_points` now to move electrodes:

https://github.com/dipy/dipy/pull/2369

[2022-09-27 18:01] #11028 closed

[2022-09-28 06:04] #10612 closed

[2022-09-28 06:06] #11174 closed

[2022-09-28 10:50] elba1212 commented on #11188
I corrected the "3003" link; it works now.
Anyway, this is the file that I can successfully read.

If you need more examples of problematic files, tell me.

[2022-09-29 22:26] timonmerk opened #11214 "Add color parameter to mne.viz.plot_sensors function"
### Describe the new feature or enhancement

A `color` parameter being of shape `(n_sensors, color)` would be a great addition for visualization in the `mne.viz.plot_sensors`  function.

E.g. currently in the ECoG Plotting Tutorial https://mne.tools/stable/auto_tutorials/clinical/30_ecog.html#sphx-glr-auto-tutorials-clinical-30-ecog-py only one color for all sensor locations are used by default. I

[2022-09-29 23:01] rob-luke commented on #11194
Relevant info here: https://github.com/BUNPC/pysnirf2/issues/35

[2022-09-30 06:52] agramfort commented on #11214
sounds good to me

[2022-09-30 12:52] cbrnr commented on #11165
I think I found a nice solution. What if didn't return a `Figure`, but a small custom object which contains the `Figure` as an attribute? This would solve the issue with the duplicate plot output in notebooks, and users would still be able to access the figure if the want.

Example (run in a notebook to verify the output):

[code]

This now produces just one plot:

[code]

If we need the figure, w

[2022-09-30 13:00] larsoner commented on #11165
It's a pretty bad backward compat break. I have tens or hundreds of scripts with `fig = mne.viz.whatever(...)` in them where I then modify `fig` or `fig.axes` etc., and I'm sure I'm not alone

[2022-09-30 13:04] cbrnr commented on #11165
I think it would be worth it. Of course with a proper (maybe even extended) deprecation cycle.

[2022-09-30 17:00] #11032 closed

[2022-09-30 22:25] drammock commented on #11165
Scores of researchers needing to edit tens of scripts each?  I'm not convinced.

Did you have any luck figuring out why it happens in the first place?  Did you try asking the Jupyter or IPython devs?  Until we've at least *attempted* to see if an upstream fix is possible / would be accepted, I'm -1 on changing our behavior.

[2022-10-01 06:34] hoechenberger commented on #11165
I'm not convinced either, it's too much breakage for too little gain. Let's see if we cannot write a Jupiter plugin instead that handles this behavior gracefully?

[2022-10-01 07:57] #11089 closed

[2022-10-01 08:31] Dod12 opened #11217 "Update decoding classes for compliance with Scikit-Learn best practice"
### Describe the new feature or enhancement

Scikit-learn [best practice](https://scikit-learn.org/stable/developers/develop.html#instantiation) states that there should be no input validation or modification of parameters in the constructor. Violation of this policy has previously led to bug #10971.

Modifying a parameter in the constructor can lead to undefined behavior when cloning the estimato

[2022-10-01 09:00] cbrnr commented on #11165
If they always want to use the latest MNE version, they'd have at least three versions to upgrade. If they are pinning their package versions, which they should if they are trying to be reproducible, their scripts will always work.

But I get it, I'm also almost always using the latest versions of everything, and it would be nice to not break stuff unless it is important. I think that's where we d

[2022-10-01 12:13] agramfort commented on #11217
go for it ! thanks

[2022-10-01 12:40] drammock commented on #11165
You're omitting an important finding of the work I put in already trying to troubleshoot this:

To me that seems like a bug, and one that should be fixed upstream. Or at least that behavior should be made configurable.

[2022-10-01 17:13] hoechenberger opened #11218 "mne.utils.run_subprocess() inserts undesired empty lines in stdout"
### Description of the problem

When using `mne.utils.run_subprocess()`, each line printed to `stdout` by the subprocess will be printed with an additional empty line immediately after.

### Steps to reproduce

[code]

[code]

Run via:
[code]

### Expected results

[code]

### Actual results

[code]

### Additional information

This is with `main`

[2022-10-03 07:22] cbrnr commented on #11165
I asked on the Matplotlib Discourse, let's see what happens:

https://discourse.matplotlib.org/t/custom-plot-function-in-jupyter-notebooks/23185

Also note that replacing `_repr_html_()` does work in this simple example, so maybe I made a mistake when I tried doing this for one of our plot functions.

[2022-10-03 11:40] dengemann opened #11221 "[ENH]: Add support for reading Curry (Version 9) EEG files."
### Describe the new feature or enhancement

Currently, curry 9 files cannot be read, because its specific extensions are not recognized and supported.
To my understanding, file contents are the same.

### Describe your proposed implementation

Indeed, a simple hack like the following solves the problem:

[code]

Info and labels now have a .dpo extension.
I have a small Curry 9 file that contains

[2022-10-03 12:48] agramfort commented on #11221
any chance you can load the .bdf file in curry 9 and save it back to disk?

[2022-10-03 12:56] dengemann commented on #11221
Let me try to explore that option. It would solve several issues actually.

[2022-10-03 15:17] #11218 closed

[2022-10-03 16:25] larsoner commented on #11158
In addition to https://github.com/mne-tools/mne-python/milestone/23 in prep for release we need to:

- [x] Wait for mne-realtime https://github.com/mne-tools/mne-realtime/pull/43 + release + feedstock update
- [ ] Wait for mne-connectivity https://github.com/mne-tools/mne-connectivity/pull/107 + release + feedstock update
- [ ] Wait for mne-nirs https://github.com/mne-tools/mne-nirs/pull/491 + rel

[2022-10-05 08:57] ckiefer0 commented on #10987
@larsoner sorry for the late reply. I was on vacation.

My question is the following: Why would the apply_inverse functions call _check_reference() in the first place if none of the EEG channels are used for the inverse solution?

Here is a short example, which should fail during the computation of the inverse solution for evoked2.

[code]

[2022-10-05 11:38] larsoner commented on #10987
Okay I can replicate with that and am pushing a fix to #11212: https://github.com/mne-tools/mne-python/pull/11212/commits/bcebd3c7f422d8650dcf68dea157093524b7e9c9 (ignore the `bem.py` change, it's unrelated)

I think I see what you mean -- that it seems confusing to call `_check_reference` if no EEG are in the data. At the same time, the logic for "only check for ref *if EEG actually exists in the

[2022-10-05 11:41] ckiefer0 commented on #10987
Seems like a good solution!

[2022-10-05 19:00] #11091 closed

[2022-10-05 22:30] PyIntelligence opened #11224 "MNE-Python Install"

[2022-10-05 22:46] drammock commented on #11224
Our installation instructions are here: https://mne.tools/stable/install/index.html

Questions about installation should go to the MNE Forum https://mne.discourse.group

[2022-10-05 22:46] #11224 closed

[2022-10-05 23:57] larsoner opened #11225 "BUG: Bug with eeglab montage"
See

https://github.com/mne-tools/mne-python/blob/ac7cab31cd028df88bc925fe6ef68fea4403756b/mne/io/eeglab/tests/test_eeglab.py#L485-L492

It's unclear if the testing file is wrong or our reading of it, but the montage has dig points around 9m away

[2022-10-06 14:31] drammock opened #11226 "build_docs_main failure"
[code]

[2022-10-06 15:07] larsoner commented on #11226
You on it? If not, I can fix it. I think it's this and the pydata-sphinx-theme updates and we're good to release, right?

[2022-10-06 15:28] cmphil13 opened #11227 "Problem with mne.io.read_epochs_eeglab"
*Sorry if I am doing this wrong, this is my first time posting on github!*

I am running into an error when importing my data with read_epochs_eeglab. On line 150 of eeglab.py (within the function get_montage_information):

    for item in list(zip(*eeg.chaninfo['nodatchans'].values())):

I get the error: "TypeError: 'float' object is not iterable".

![image](https://user-images.githubusercontent.

[2022-10-06 15:47] agramfort commented on #11227
can you run eeg_checkset on your EEG structure in matlab and save it back
to check the reader in mne?

just to check if you changed manually something

Alex

[2022-10-06 18:46] cmphil13 commented on #11227
Will do, thank you for the prompt response!

[2022-10-06 18:46] #11227 closed

[2022-10-07 16:44] larsoner commented on #11158
Okay I think now we're just waiting for mne-bids and autoreject releases so we can build installers. I'm building them with `dev` versions in https://github.com/mne-tools/mne-installers/pull/151 now just to get everything green. Hopefully we can release on Monday or Tuesday!

[2022-10-09 14:44] mh105 commented on #3609
Since our group work extensively with both the ANT-Neuro system as well as MNE-Python, I just want to chime in here with some updates and tentative paths forward.

**Status quo:** We still don't have a native reader of ANT-Neuro EEProbe Continuous Data (.cnt) files in MNE-Python. We cannot use the [mne.io.read_raw_cnt()](https://mne.tools/stable/generated/mne.io.read_raw_cnt.html) method that impo

[2022-10-09 17:48] larsoner commented on #3609
And as another blocker the license on SourceForge is listed as GPLv2, which is incompatible with MNE-Python's BSD clause. So these functions cannot be used as a reference / looked at while writing equivalent Python code. To be able to do that, you'd have to contact the original authors and get permission to relicense/adapt their code as BSD in MNE-Python.

One option would be to improve the `libee

[2022-10-09 18:44] mh105 commented on #3609
@larsoner great suggestion... We'd also need the license permission from ANT-Neuro to update their Python bindings of `libeep`, is that right?

[2022-10-09 18:47] larsoner commented on #3609
You only need to relicense if you want to include code in MNE-Python. My "One option" / second paragraph above if you license your `libeep` Python library as GPLv2 as well everything should be okay. No new code is added to MNE-Python so BSD only matters in your `pylibeep` (or whatever you call it) in that you would subclass BaseRaw (which should be fine -- GPL code can use BSD but not vice-versa).

[2022-10-09 20:04] agramfort commented on #3609
@mh105 I would consider contacting ANT support to ask them for a Python reader. We managed to get this from EGI/Philips who released [mffpy](https://pypi.org/project/mffpy/). But it tool sometime to get this...

[2022-10-09 21:32] mh105 commented on #3609
@larsoner I realized what @behinger provided is exactly doing the subclassing `mne.io.BaseRaw` route. I've updated my comment above so that people know that option 2 above

is already pretty much set. I agree @agramfort that we should just have a pip installable package from ANT instead of managing the c library ourselves... I'll give it a try to persuade ANT, might cc you guys on the email.

[2022-10-10 13:24] cbrnr opened #11233 "Browser figure ignores `matplotlib.rcParams["figure.figsize"]`"
I have another problem with the way MNE plotting works (or maybe it's just me doing things the wrong way). It seems like we ignore the `figure.figsize` [RC parameter](https://matplotlib.org/stable/tutorials/introductory/customizing.html), so I can't e.g. customize the created figure size with this mechanism. Which BTW is pretty important, because it is used in [Quarto](https://quarto.org/docs/comp

[2022-10-10 14:20] agramfort commented on #11233
this would apply to all figures right?

[2022-10-10 14:39] larsoner commented on #11233
-1 on this, it's an unnecessary backward compat break. For years we've used this config var, and we also save it when closing the figure so that the next time you plot you get a plot of similar size (which is pretty common in UI design AFAIK, and we also do in `coreg`, etc.)

I think a better, clearer, and backward compatible way of explicitly controlling size would be to add a `size=None` param t

[2022-10-10 14:51] cbrnr commented on #11233
Oh, and this might be the biggest problem – it gets saved even though the user never explicitly said so.

[2022-10-10 15:17] larsoner commented on #11233
Yes `raw.plot(..., size=None)` indeed not there currently AFAIK

[2022-10-10 15:18] drammock commented on #11233
Most apps on most computers do this though. When I close and re-open Firefox, it retains state in various ways, including its window size and position.  You're making it sound like what we're doing is crazy. It's not crazy, it's just not suited to what you want to do (embed a plot in a notebook).

Consider the use case that this GUI was designed for: manually browsing through raw data files lookin

[2022-10-10 15:48] cbrnr commented on #11233
I certainly did not say (or intend to say) that what we are doing is crazy (in fact, what you are saying makes my use case sound like it is something crazy). Storing the window size makes sense for an interactive application, but when using it to generate a figure (e.g. in a notebook or in our documentation), a more transparent way to set the window size would be helpful. So adding a `size=None` p

[2022-10-11 06:54] TTyb commented on #10960
已收到，谢谢

[2022-10-11 08:57] arnodelorme commented on #11044
d[‘labels’] should contain the channel name.

Arno

[2022-10-11 09:06] agramfort commented on #11044
@arnodelorme but here we talk about fiducial points right?

[2022-10-11 09:13] arnodelorme commented on #10474
Ur is for original. You should not need to access that structure.

The type of the channel should help. From your description, it might be channels the user removed and not fiducials. Usually Fiducials have the name LPA RPA etc. sometimes fiducials are not included.

[2022-10-11 16:53] arnodelorme commented on #11044
If type is absent, then I would not check the description field because it is not a standard field. Then then code would work.

[2022-10-11 20:14] drammock commented on #11158
closed by #11236

[2022-10-11 20:14] #11158 closed

[2022-10-12 05:54] aroyphillips commented on #6528
I would like to reopen this issue as well for jupyter notebook. Is there a solution?

[2022-10-12 06:09] cbrnr commented on #6528
I cannot reproduce the issue, the minimal example does not block execution in both a regular Jupyter notebook and inside VS Code. Maybe you do not have the latest versions of the involved packages (i.e. Matplotlib, Jupyter)?

[2022-10-12 06:45] wmvanvliet commented on #6528
This still breaks for me in Spyder, but not in plain `ipython` or in a notebook:

[code]

However, @mvonflotow's suggestion of disabling Spyder's active support did the trick. I'm guessing there's some weird interaction between the Qt thread spawned by the `QtConsole` component that Spyder uses and the `block=True` behavior. I'll file the issue there.

[2022-10-12 11:46] agramfort commented on #11233
let me pitch in here. @cbrnr let me share also my personal feeling here. A number of times I felt personally "attacked" with your requests, suggesting that decisions were made without thinking or something. Working collectively a in big project like mne requires discussions and compromise. We have very regular in person interactions with @drammock @larsoner @britta-wstnr and others. This helps a l

[2022-10-12 13:09] cbrnr commented on #11233
It's understandable to feel personally attacked when someone criticizes something that you put a lot of work in. It is sad that many(?) people here seem to interpret my contributions like that (or at least this is how it sounds to me).

Sure we can talk, only currently I'm pretty busy with the start of the semester, but in general late afternoon should be OK (only not Friday). Maybe we should also

[2022-10-12 15:16] laemtl opened #11239 "Mismatch of coord systems between electrodes and channels/events"
### Description of the problem

Channel//Epoch data are exported in the ALS/CTF coord system to follow the EEGLAB specs.
On the other hand, electrode data are exported in the head/captrak coord space.

Is there any reason to not export the electrode data in the same space?

### Steps to reproduce

[code]

### Link to data

_No response_

### Expected results

Electrode data in the CTF space

### A

[2022-10-12 15:51] drammock commented on #11233
Looking at that other thread, the first reply (by me) was

And @larsoner's first reply was

Are those "negative replies"?  Both acknowledge the existence of the problem; they just don't agree with your idea about *how* it should be addressed/fixed.  Both @larsoner and I gave multiple reasons (i.e. it was not arbitrary bikeshedding).

On the current thread, @larsoner did reply with "-1" and "unnece

[2022-10-12 15:53] jshanna100 opened #11240 "Fixed orientations with mixed cortical and discrete source spaces?"
### Describe the new feature or enhancement

Not sure whether to classify this as a bug or feature request, but at the moment, building an MNE inverse operator for a mixed source space consisting of fixed orientation cortical and fixed orientation discrete source spaces is not allowed. I understand the reasoning for disallowing fixed orientation volume source spaces, but why would a discrete sourc

[2022-10-12 17:10] larsoner commented on #11240
I agree in principle this should be okay. I think the check is just not specific enough -- it needs to guard against a volume being there. Surf + discrete should be okay. Are you up for making a PR to fix it @jshanna100 ?

[2022-10-12 19:16] larsoner commented on #11240
I would try making the change and seeing which `pytest mne/minimum_norm` tests break. You might need to adjust some, and/or possibly also add some minimal one that would fail on `main` but pass on your PR.

[2022-10-12 20:12] jshanna100 commented on #11240
Local tests are no longer working for me. "make test" produces:

running build_ext
rm -f .coverage
py.test -m 'not ultraslowtest' mne
ERROR: usage: py.test [options] [file_or_dir] [file_or_dir] [...]
py.test: error: unrecognized arguments: --cov-report=

[2022-10-12 21:24] larsoner opened #11242 "BUG: ica.reject_ has no persistence"
The `ica.reject_` param was added in https://github.com/mne-tools/mne-python/pull/5819 but it has no persistence. It also only shows up when fitting raw, despite the fact that fitting epochs you can have access to `epochs.reject` (which you should probably use for `ica.reject_` in that case). So I propose:

1. Actually save `ica.reject_`
2. Set `ica.reject_ = epochs.reject_` when fitting epochs

@

[2022-10-13 06:47] moritz-gerster opened #11243 "ENH: mne.set_bipolar_reference should not ignore bad channels"
### Description of the problem

When setting the bipolar reference between one good and one bad channel, the final bipolar channel is marked as good.

Bad channels are marked as bad because they contain artefacts. The bipolar reference between a bad channel and a good channel can never yield a good channel as a result. Therefore, the resulting bipolar channels should be marked as bad by mne.

[Jup

[2022-10-13 09:55] agramfort commented on #11242
When you reject with ICA you don’t work to remove blinks for example. You want to remove really massive transient artifacts so it should not be the same reject as epochs. It’s not for the same purpose

[2022-10-13 10:54] agramfort commented on #11239
this questions should be asked here
https://github.com/mne-tools/mne-bids/issues
it's an mne-bids question. Can you open the issue there and I will answer
there. ok?

thanks a lot

[2022-10-13 10:55] agramfort commented on #11233
@drammock @cbrnr please let's talk. There is no hard feeling here.

[2022-10-13 10:59] agramfort commented on #11243
agreed set_bipolar_reference should update the info['bads'] and maybe even
maybe warn that a bipolar channel is created from bad channels?

[2022-10-13 11:55] hoechenberger commented on #11243
I think we should raise if a channel is bad, not just warn 🤔

[2022-10-13 11:57] larsoner commented on #11243
Agreed. And to give an option we could have `on_bad='raise'` as a default, that way people can override with `'warn'` or `'ignore'` if they really know what they are doing

[2022-10-13 11:57] hoechenberger commented on #11242
I think for Epochs we should set it to None -- like you said, reject is only applied for Raw, while for epochs we have an entirely orthogonal reject mechanism in the epochs class

[2022-10-13 12:00] hoechenberger commented on #11242
Unpopular proposal:

Deprecate this parameter and ask users to make use of annotate_amplitude instead

[2022-10-13 12:11] larsoner commented on #11242
I think it's a bit too disruptive to people's existing workflows

Coming back to this, I'm less convinced after reading our own `reject` docstring note, which says to use `epochs.drop_bad`:

Thinking about it more, if @agramfort you're talking about *cleaned Epochs* like you'd use for Evoked analyses, I totally agree -- the `epochs.reject` there is too stringent for ICA.

But those are not the Epo

[2022-10-13 12:14] hoechenberger commented on #11242
Good argument, I'm sold.

[2022-10-13 12:16] moritz-gerster commented on #11243
If `on_bad='raise'`, which error should be raised?

[2022-10-13 12:18] larsoner commented on #11243
Use the `_on_missing` handler, it will take care of these conditionals and classes for you

[2022-10-13 20:04] #11242 closed

[2022-10-14 18:33] drammock opened #11247 "AverageTFR.plot_topo color scale bug"
MWE adapted from #10920

[code]

plotting `average_tfr.plot_topo(picks=slice(0, 2))` or `slice(0, 5)` or even `slice(0, 40)` yields (partial) topo plots where at least some of the sensors have visible activity. I'm assuming some sort of bad color normalization (across sensors) is the cause, but that's a wild guess.

[2022-10-14 19:35] #11239 closed

[2022-10-14 22:20] #11240 closed

[2022-10-16 08:40] dissagaliyeva opened #11252 "Missing `verbose` argument in mne.channels.channels.combine_channels"
### Description of the problem

The `combine_channels` function is missing the verbose argument. By default, it shows all logger information without the option to turn it off.

### Steps to reproduce

[code]

### Link to data

_No response_

### Expected results

Expected to see only the information from a variable of type mne.io.array.array.RawArray.

### Actual results

Actual results include th

[2022-10-16 09:23] MeetXinZhang opened #11254 "I got a Complex number matrix when use mne.time_frequency.tfr.cwt"
### Description of the problem

I got a Complex number matrix when use mne.time_frequency.tfr.cwt, here are my codes:

[code]

in:
[code]

out:
[code]

What i want is an array consisted of numpy.float, like input(sample).
So anyone can tell me how should I do?

### Steps to reproduce

[code]

### Link to data

_No response_

### Expected results

numpy.array that consisted of Real number

### Actu

[2022-10-16 09:39] agramfort commented on #11254
Morlet wavelet is complex valued see https://en.wikipedia.org/wiki/Morlet_wavelet

it's not a bug

[2022-10-16 09:39] #11254 closed

[2022-10-16 09:40] agramfort commented on #11254
@MeetXinZhang if you have usage questions you can use the mne forum https://mne.discourse.group

[2022-10-16 10:30] #11243 closed

[2022-10-17 10:32] cbrnr commented on #11233
I will step back a little to think about this. Like I repeatedly said, my intention was never to attack someone, but to engage in discussion. Any yes, apparently I put more weight in pushing my own solution, but this does not mean I was attacking anyone.

[2022-10-17 14:12] #11252 closed

[2022-10-17 19:45] larsoner opened #11257 "ENH: Support reading FIL-OPM-MEG data"
@neurofractal I want to try using your [auditory evoked OPM dataset](https://zenodo.org/record/5539414) in MNE-Python. Is the `.bin` format you use there mature enough that it would make sense to make a proper data reader in MNE-Python?

If so, my plan was to look at your MATLAB code to figure out how raw data is actually being read, then ask whoever I need to ask permission to relicense under MNE

[2022-10-18 08:02] Teekuningas opened #11258 "Legend colors misbehave on plot_evoked_topo"
### Description of the problem

For some reason the procedure I've been using for years to plot multiple evokeds using plot_evoked_topo produces a misbehaving legend.

### Steps to reproduce

[code]

### Link to data

_No response_

### Expected results

Legend should have two lines that have matching colors to texts.

### Actual results

See:

![image](https://user-images.githubusercontent.com/57

[2022-10-18 08:44] agramfort commented on #11258
I confirm the problem

[2022-10-18 11:58] dasdiptyajit commented on #10028
Hi @larsoner,

I am going through this topic again. I have recently started working on this problem. This is what I would like to implement if possible:

1. Find out: Field cancellation (i.e, net meg/eeg signals) for a given ROI/label, composed with n dipoles (distributed source config, MNE/dSPM) considering there are no activity taking place in the rest of the brain.  //auditory N1 // effect surf

[2022-10-18 18:08] larsoner commented on #10028
The easiest thing if you are working on an actual implementation would be to get as far as you can to the state that something works, or is close to working, but there is something you don't understand, or need but cannot find. Then open a WIP PR and comment in-line on your own PR with questions. Such a "conversation in code" is often easier because it's very concrete and I can see/infer the flow/

[2022-10-19 08:20] neurofractal commented on #11257
Hey @larsoner - good to hear from you! Sounds cool - it would be great to get more OPM resources into MNE-Python.

Yes - we will be using it at UCL for the foreseeable future. I'm unsure if up-and-coming OPM manufactures will adopt it though...

Absolutely. I'll also point you in the direction of @georgeoneill from UCL who has been writing some add-ons to load our data into the MNE ecosystem: http

[2022-10-19 14:51] georgeoneill commented on #11257
Hello @larsoner

Happy to be of assistance with this!

[2022-10-19 15:00] larsoner commented on #11257
I don't think this matters so much as there actually being files in the wild that people (ideally from institutions) need to read. I count as one of those people so I think we're in the clear :)

That would be great! Initial thoughts from a very quick glance at the README:

1. `read_raw_ucl` -- I guess in principle the `read_raw_ucl` could continue to exist in a separate, non `mne` module like `OP

[2022-10-20 08:18] c-torre opened #11262 "Check types tmin tmax for crop (TimeMixin)"
### Describe the new feature or enhancement

Version: 1.2.1

Mistakenly passing a tuple of floats to `Epochs.crop` as `tmin` positional argument raised:

[code]
I missed that I was passing the complete time interval to `tmin`, and not `tmin` alone. Also, I'm familiar with the previous error arising from incompatible numpy versions, so I troubleshooted in that direction instead. Passing floats to `

[2022-10-20 12:48] AdFiFi opened #11264 "mne.io.read_raw_fif Error"
### Description of the problem

  File "C:\ProgramData\Anaconda3\lib\site-packages\mne\io\base.py", line 1529, in plot
    return plot_raw(self, events, duration, start, n_channels, bgcolor,
  File "<decorator-gen-274>", line 12, in plot_raw
  File "C:\ProgramData\Anaconda3\lib\site-packages\mne\viz\raw.py", line 237, in plot_raw
    duration = min(raw.times[-1], float(duration))
  File "C:\Progra

[2022-10-20 13:46] drammock commented on #11264
Your traceback does not match your posted code snippet (the snippet does not have a call to `raw.plot()` in it, but your traceback suggests that that's when the error arose).  Please edit your issue to (1) include a *textual, prose description* of the problem under "description of the problem" and edit the code snippet so that if you copy-paste it into a fresh python interpreter, you get the poste

[2022-10-20 14:02] AdFiFi commented on #11264
The error occurred when load the data by executing "raw = mne.io.read_raw_fif(fname))"

[2022-10-20 14:03] AdFiFi commented on #11264
The error occurred when loading the data by executing "raw = mne.io.read_raw_fif(fname))"

[2022-10-20 14:17] AdFiFi commented on #11264
I'm confused.
see

  File "C:\ProgramData\Anaconda3\lib\site-packages\mne\io\fiff\raw.py", line 482, in read_raw_fif
    return Raw(fname=fname, allow_maxshield=allow_maxshield,
  File "<decorator-gen-384>", line 12, in __init__
  File "C:\ProgramData\Anaconda3\lib\site-packages\mne\io\fiff\raw.py", line 109, in __init__
    self.set_annotations(raws[0].annotations, emit_warning=False)
  File "<de

[2022-10-20 14:20] drammock commented on #11264
OK, that is a different traceback than the one you posted above.

[2022-10-20 14:29] AdFiFi commented on #11264
OK

Opening raw data file C:\Users\13987\mne_data\MNE-sample-data\MEG\sample\sample_audvis_raw.fif...
    Read a total of 3 projection items:
        PCA-v1 (1 x 102)  idle
        PCA-v2 (1 x 102)  idle
        PCA-v3 (1 x 102)  idle
    Range : 25800 ... 192599 =     42.956 ...   320.670 secs
Ready.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\ProgramData\A

[2022-10-20 14:31] AdFiFi commented on #11264
![1666276204508](https://user-images.githubusercontent.com/116166221/196977360-5cb09791-5f17-4440-b64e-ef1688a8542b.png)

[2022-10-20 14:42] drammock commented on #11264
I suspect this is a problem with Numba; your version of numba is a few years old (v0.50, current is 0.56). can you try this?

[code]

If that works, then try upgrading Numba and removing the `set_config` line.

[2022-10-20 14:47] AdFiFi commented on #11264
I tried your suggestion but the output is still the same.

[2022-10-20 15:12] AdFiFi commented on #11264
Well, thank you. And this user forum is going to be helpful.

[2022-10-20 15:22] AdFiFi commented on #11264
Updating Numba works!

[2022-10-20 15:25] AdFiFi commented on #11264
Upgrading Numba works!

[2022-10-20 15:25] #11264 closed

[2022-10-20 21:27] #11262 closed

[2022-10-21 05:14] kulasbart opened #11267 "Nihon Kohden file (.LOG) annotations read incorrectly"
### Description of the problem

Hi there. I have some EEG data recorded using the Nihon Kohden (NK) system, this data includes .EEG files which store the raw EEG recording, but also the extension files: .21E, .PNT, .LOG ( https://mne.tools/0.21/auto_tutorials/io/plot_20_reading_eeg_data.html#nihon-kohden-eeg-data-eeg-21e-pnt-log)

The .LOG extension file store the annotated event time stamps. I ne

[2022-10-21 07:21] Namsakhi opened #11268 "mne.viz.plot_alignment not working"
Hello All

**I am using VSCode on Linux mint. I first activate the mne virtual environment, now whenever I run the command**
`fig = mne.viz.plot_alignment(raw.info, trans=trans, subject='sample',
                             subjects_dir=subjects_dir, surfaces='head-dense',
                             show_axes=True, dig=True, eeg=[], meg='sensors',
                             coord_frame='meg',

[2022-10-21 09:43] Namsakhi commented on #11268
I figured out
[code]
It is weird that the error was: try pip install pyvista (when it was already installed), what was missing was ipyevents.
Now I have pyvista in mne.sys_info() also, so it s all good now :smiley:
Thank you !!

[2022-10-21 09:43] #11268 closed

[2022-10-21 10:51] TTyb opened #11269 "how to use matplotlib.pyplot to plot raw?"
### Proposed documentation enhancement

I get the following results using `raw.plot()`
![raw](https://user-images.githubusercontent.com/20573808/197169465-414a3b4d-4d52-49ea-8cb8-9af35692f169.png)

and then I use `matplotlib.pyplot` to draw the raw`channel=EEG C3-A2`

![plt](https://user-images.githubusercontent.com/20573808/197169753-8b79184e-1c97-4a90-9c73-3fdf0795074b.png)

I check that the `EE

[2022-10-21 14:11] larsoner commented on #11267
Can you share data that we can use to test? Then someone can take a look and try to fix it

[2022-10-21 14:14] larsoner commented on #11269
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2022-10-21 14:14] #11269 closed

[2022-10-21 14:14] larsoner commented on #11269
Or actually https://mne.discourse.group/ is the best option nowadays!

[2022-10-21 14:16] larsoner commented on #11258
@Teekuningas do you want to try a `git bisect` or looking at the code directly to see where the problem is?

[2022-10-21 14:19] larsoner commented on #11173
I have now heard of at least a couple other packages using BaseRaw for example to implement their own reader (e.g., https://github.com/mne-tools/mne-python/issues/11257#issuecomment-1283616130), and in some recent PR I tried to update docs for some of these classes to say "don't instatiate this directly". So I'll close but if you think there are more actions we need to take feel free to reopen @ho

[2022-10-21 14:19] #11173 closed

[2022-10-21 14:23] larsoner commented on #11031
As a heavy (mostly ex-)MATLAB user, I would say it's quite unexpected that anything numeric is not `double` in MATLAB. In this sense I am with @arnodelorme (and more than willing to defer to his expertise here!) that we should cast these to double. I'll reopen this in `eeglabio`, though, which is where this change would need to happen (cc @jackz314 )

[2022-10-21 14:23] #11031 closed

[2022-10-21 14:26] larsoner commented on #11021
@hernandezurbina can you check https://mne.discourse.group for similar issues and post there if you don't find one? It's likely this is a matplotlib<->notebook or usage problem rather than an MNE-Python one, so I'll close (unless we figure out in forum conversations this happens only for MNE plots for example)

[2022-10-21 14:26] #11021 closed

[2022-10-21 14:27] larsoner commented on #11015
Closing for [eeglab](https://github.com/jackz314/eeglabio/issues/9)

[2022-10-21 14:27] #11015 closed

[2022-10-21 14:28] larsoner commented on #11015
https://github.com/jackz314/eeglabio/issues/9

[2022-10-21 14:29] larsoner commented on #10981
No, currently it's CPU-only. My only thought is that you could consider using `decim` to speed things up -- in principle you shouldn't need to fit all 4GB worth of samples to get a good ICA decomposition. For further optimization questions, feel free to post to https://mne.discourse.group/

[2022-10-21 14:29] #10981 closed

[2022-10-21 14:29] larsoner commented on #11013
Sounds like this has been fixed so I'll close. Feel free to reopen if I'm mistaken

[2022-10-21 14:29] #11013 closed

[2022-10-21 14:30] #11010 closed

[2022-10-21 14:54] larsoner commented on #10890
Closing under the assumption that this was an antialiasing bug that we fixed (or can be worked around using 3D options)

[2022-10-21 14:54] #10890 closed

[2022-10-21 14:55] larsoner commented on #10828
Nowadays we mostly advocate for using our installers. Closing as a (mostly) upstream issue

[2022-10-21 14:55] #10828 closed

[2022-10-21 14:56] larsoner commented on #10819
I think this hopefully has been fixed by the full-screen antialiasing workarounds we have in place for macOS and Mesa

[2022-10-21 14:56] #10819 closed

[2022-10-21 14:57] larsoner commented on #10883
Closing as I think no changes are needed at our end

[2022-10-21 14:57] #10883 closed

[2022-10-21 14:58] #10704 closed

[2022-10-21 15:10] hoechenberger commented on #11173
I think we should not show them or exclude them from the search results at least. They show up when you search for method names for example, I believe it's confusing -- especially if the docs say, don't instantiate directly

[2022-10-21 15:33] larsoner commented on #11173
To accomplish this we can maybe prevent the methods from being documented at all for `Base*` classes. I'll take a look now...

[2022-10-21 16:10] hoechenberger commented on #11173
Thanks @larsoner :)

[2022-10-21 16:12] drammock commented on #11214
All in attendance at today's dev meeting said this seems useful. @timonmerk are you up for doing the PR?

[2022-10-21 16:59] Teekuningas commented on #11258
@larsoner I think it's not actually a change in mne, but matplotlib. With matplotlib==3.4.3 it still works and with matplotlib==3.5.0b1 it does not.

The relevant line in mne is here:

https://github.com/mne-tools/mne-python/blob/main/mne/viz/topo.py#L797

[2022-10-21 18:20] larsoner commented on #11258
Does it work if you do `axes.legend(...)` instead (you might also need a `if not axes: axes = fig.axes[0]` in there)? It should be preferred to `plt.legend` anyway. I wonder if the `add_background_image` now creates a new Axes or something that takes over...

[2022-10-21 18:23] #10991 closed

[2022-10-21 22:30] Teekuningas commented on #11258
Good try, but still broken with fig.axes[0].legend or with add_background_image commented out.

[2022-10-22 01:31] timonmerk commented on #11214
@drammock Sounds great! I'll give it a try and reference this issue with the PR

[2022-10-22 10:16] Teekuningas commented on #11258
With no handles given in the subplot call, matplotlib lists all the possible handles here:

https://github.com/matplotlib/matplotlib/blob/main/lib/matplotlib/legend.py#L1269

That call to _get_legend_handles return 1221 different elements, starting with:

[code]

.. out of which the first two are selected due to zip.

And when we use the legend() call, it thus uses the PolyCollection and the Line2

[2022-10-22 10:26] Teekuningas commented on #11258
Interestinly, this worked for us with matplotlib 4.3.4 because in that version the _get_legend_handles call returned a more sorted list:
[code]

[2022-10-24 10:57] georgeoneill commented on #11257
Personally, I am happy with `read_raw_ucl` being integrated into MNE-Python. OPyM's intention was to be a stopgap for the bits of functionality not yet integrated into MNE-Python, or for some of the groups more esoteric requirements. Yes I can see why `mne.io.read_raw` will not be able to disambiguate between our data and the artemis123 .bin format. But this is something which we _might_ be able t

[2022-10-24 11:47] DiGyt commented on #7479
**Note for people who want to use ASR with MNE-Python:**

Integration of ASR into the MNE incubator is under discussion in #9302.

Until then, a MATLAB-like and MNE-Python-compatible version of vanilla ASR can be found here:
https://github.com/DiGyt/asrpy

ASR, rASR, and other denoising algorithms can be found in @nbara's beautiful Python-MEEGkit:
https://github.com/nbara/python-meegkit

[2022-10-24 12:37] mscheltienne opened #11274 "Selection of ICA components when plotting properties"
https://github.com/mne-tools/mne-python/blob/45d87fb0e5c34156c9568e04cd6ceef81140bed4/mne/viz/ica.py#L422-L423

Shouldn't this be `limit=min(5, ica.n_components_) if picks is None else ica.n_components_`?
Consider an ICA fitted with 55 components on 57 EEG channels:

[code]

will currently fail with `IndexError: index 55 is out of bounds for axis 1 with size 55`, a bit after the previous code snip

[2022-10-24 14:26] neurofractal commented on #11257
Sure - I have uploaded the "still" AEF data to [OSF](https://doi.org/10.17605/OSF.IO/VY5N6):
- Data:  https://doi.org/10.17605/OSF.IO/VY5N6
- Code: [https://github.com/FIL-OPMEG/tutorials_interference/blob/main/stationary_AEF.m](https://github.com/FIL-OPMEG/tutorials_interference/blob/main/stationary_AEF.m)

Let me know if you need anything else :)

[2022-10-24 15:00] larsoner commented on #11257
Filename-based parsing is bound to break at some point anyway. We can't ask manufacturers to get along with each other :) I think there is even an EEG format or two that already share the same filename :shrug:

I don't think it will be too hard to disambiguate in principle. For artemis, it looks like there is an obligatory accompanying `.txt` file with some metadata that we can look for and parse.

[2022-10-24 15:03] larsoner commented on #10780
Looks like I already had this issue open @neurofractal @georgeoneill , so let's discuss here.

Yes we'll have to be a bit careful. I have not looked at the math at all but doubt they are true orthogonal projection vectors, so wouldn't be good to call SSP; and I doubt they work like compensation matrices for CTF (which have some nice mathematical property -- like its inverse is its transpose or som

[2022-10-24 15:12] larsoner opened #11275 "ENH: Movement correction for OPM data"
Time-varying position / head-movement correction would be the next natural step after #10780 I think.

IIRC the procedure is/could be here:

1. Extract time-varying rigid-body position + rotation of the system, typically using optical tracking: new `mne.chpi.read_head_pos_optitrack`, or `mne.chpi.calculate_head_pos_optitrack`, depending on the complexity of the problem (if optitrack directly gives

[2022-10-24 15:30] larsoner opened #11276 "ENH: Support OPM coreg"
Continuing from https://github.com/mne-tools/mne-python/issues/11257#issuecomment-1288857665 with @georgeoneill

Yes we'll have to think about this. Let's just consider the rigid-helmet case for now maybe to make our lives easier :)

One thing to know is that, in MNE-Python, all sensor locations (for EEG) are supposed to live in the "head" coordinate frame, defined by the line between LPA and RPA

[2022-10-24 15:32] larsoner commented on #11257
BTW @georgeoneill @neurofractal given that this, #10780, and #11276 might require a bit of discussion, feel free to join our discord https://discord.gg/rKfvxTuATa and we can set a time to chat if it's easier for you! Otherwise I'm happy to continue discussion on GitHub

[2022-10-24 15:34] larsoner commented on #7479
Closing for #9302

[2022-10-24 15:34] #7479 closed

[2022-10-24 16:39] larsoner commented on #11258
The right fix is probably to explicitly pass the *handles* and the labels instead of just the labels.  That should work with any mpl version. @Teekuningas do you want to give it a shot?

[2022-10-24 18:31] larsoner commented on #11258
To me it's more explicit/safer for whatever internal function is doing the actual plotting to return the `handles` and maybe the `handles, labels` that are appropriate

[2022-10-24 19:11] Teekuningas commented on #11258
It's a bit awkward to explicitly collect and pass the handles when we have hundreds of plots to choose from.

[2022-10-24 19:16] larsoner commented on #11258
I would just take the handles from the first plot

[2022-10-24 19:23] Teekuningas commented on #11258
What about this?
[code]

[2022-10-24 19:44] larsoner commented on #11258
That would work, assuming it gives the correct result!

[2022-10-25 11:13] larsoner opened #11278 "BUG: pip pre failures"
Seen in #11277, maybe due to Pandas update since it doesn't seem related to plotting. @drammock can you look?

https://github.com/mne-tools/mne-python/actions/runs/3318827598/jobs/5483221858#step:14:3805

[code]

[2022-10-25 11:47] #11258 closed

[2022-10-25 16:17] #11278 closed

[2022-10-26 14:31] mmagnuski commented on #11225
Hi @larsoner,
this is what I usually experience reading EEGLAB files into mne. I think this is a unit conversion problem: for example EEGLAB may use cm, but mne reads these values as m (but this is speculation, I did not confirm this).
I can take a look at some EEGLAB files I have in Matlab and see if there is any unit-specific info there.

[2022-10-26 14:52] mmagnuski commented on #11225
The units I get might be stem from using EEGLAB option to get channel locations from BESA (there is such option in Edit -> Channel positions) and BESA seems to use mm for their template positions.

[2022-10-26 15:00] mmagnuski commented on #11225
Yes, for my file, I can see in `EEG.chaninfo.filename` I can see that `eeglab\plugins\dipfit2.3\standard_BESA\standard-10-5-cap385.elp` was used. The file itself does not contain any information about the units, and I can't find this info in the EEG structure too.

[2022-10-26 15:08] mmagnuski commented on #11225
The sample data seem to have even weirder units (sphere radius is 1):
![image](https://user-images.githubusercontent.com/8452354/198062904-61085f51-ec4d-426c-bd21-b51651e7b30f.png)
so neither meters, cm nor inches...

[2022-10-26 15:09] larsoner commented on #11225
Locations on a unit sphere perhaps?

[2022-10-26 15:15] mmagnuski commented on #11225
@larsoner Yes, it seems to be the best guess. So the sample dataset does not give much hint about default channel position units.
But [this EEGLAB page](https://eeglab.org/tutorials/ConceptsGuide/coordinateSystem.html) and my own files seem to suggest mm are frequently used.

[2022-10-26 15:22] larsoner commented on #11225
One easy solution here is to add a `montage_units='mm'` param to `read_raw_eeglab`. Then the user is kind of on the hook for figuring this out :)

And if you have a (hopefully short) rescaling function that you have found works really well in practice, we could add `montage_units=<float>` which means "do your best to rescale to <float> head size in meters". WDYT?

[2022-10-26 15:30] larsoner commented on #11225
Want to give this `montage_units` a shot when you feel like hacking an "easy fix"? :smiley:

[2022-10-26 15:32] mmagnuski commented on #11225
Sure, I can hack together a PR. What do we use for unit conversions in mne (a dict stored somewhere or some package)?

[2022-10-26 15:36] mmagnuski commented on #11225
I can use a `to_meters = {'mm': .001, 'cm': 0.01}` etc., but I don't want to duplicate if we have any defaults for that.

[2022-10-26 15:38] larsoner commented on #11225
We have some functions for it somewhere, let me look. `mne/io/utils.py:_check_orig_units` should get you at least the prefix part, I thought somewhere else we already had this other mapping for prefix->scale factor...

[2022-10-26 15:46] larsoner commented on #11225
... that plus `mne/defaults.py:DEFAULTS['prefixes'][unit[0]]` should (almost) get you the scaling factor, you'll need something a bit more careful like

https://github.com/mne-tools/mne-python/blob/cee4e7d11116bd4e0e219fe611c0121cafd2394d/mne/io/base.py#L2112-L2130

Where you special-case `m` because it could both be a prefix or a SI unit.

This does seem like something that could use a nice `_uni

[2022-10-26 15:51] mmagnuski commented on #11225
Do you think that testing if the max norm of xyz positions is within reasonable limits (let's say 5 - 15 cm?) would be good enough to warn users that the default unit ('mm') is not correct in their case. This would have to assume that head center is at 0, 0, 0.

[2022-10-27 12:47] dasdiptyajit commented on #10028
Yes, I have added this to my to do list. I still need to finish some work with my fMRI data before I can start with this.
I will tag you once I have some thing working or something I need to know code wise.  cheers!

[2022-10-27 14:32] mscheltienne commented on #11274
Before opening a PR, I rapidly checked the code that uses `_fast_plot_ica_properties`:
- `ICA.plot_ica_properties`, which is also used by `ica.plot_components(inst=...)`, as expected
- in `mne.viz._figure.py`, in `BrowserBase._create_ica_properties_fig`

https://github.com/mne-tools/mne-python/blob/cee4e7d11116bd4e0e219fe611c0121cafd2394d/mne/viz/_figure.py#L475-L498

I'm a bit concern by this sec

[2022-10-27 16:50] hoechenberger commented on #10713
Python 3.11 ha been released.

Changes:
https://docs.python.org/3/whatsnew/3.11.html

Python 3.7 will be EOL in 8 months:
https://endoflife.date/python

[2022-10-27 16:55] hoechenberger commented on #10713
The better trackbacks will be super helpful esp for beginners, I think we should try to include Python 3.11 in our installers as soon as we can.

[2022-10-27 16:56] larsoner commented on #10713
I'd expect a few month lag for all dependencies to have releases that are 3.11 compatible. But we can start trying now and restart CIs periodically to see where there's still a problem. I'll get the ball rolling in mne-installers

[2022-10-27 17:54] hoechenberger commented on #10713
Sounds great!

[2022-10-27 17:57] hoechenberger commented on #10713
FYI the conda-forge feedstock transition is also still WIP:

https://conda-forge.org/status/#python311

[2022-10-27 17:58] hoechenberger commented on #10713
Oh and conda-forge is dropping Python 3.7:

https://conda-forge.org/docs/user/announcements.html#dropping-python-3-7

[2022-10-27 20:22] larsoner commented on #10984
I think this should be fixed by https://github.com/mne-tools/mne-python/pull/11284

[2022-10-27 21:36] larsoner opened #11285 "BUG: MGH60 montage is incorrect for sample"
I'm pretty sure the `mgh60` montage is meant to be usable with the `sample` dataset, right? Well it seems quite wrong -- if you apply it you can see the channels move a long way -- just look at the first row of EEG001, EEG002, EEG003:

<details>
<summary>MWE</summary>

[code]

</details>

![Screenshot from 2022-10-27 17-35-16](https://user-images.githubusercontent.com/2365790/198402896-a850c257-f6

[2022-10-27 21:48] larsoner commented on #11285
For ds000117 I guess things at least look somewhat reasonable:

<details>

[code]

</details>

![Screenshot from 2022-10-27 17-46-38](https://user-images.githubusercontent.com/2365790/198404556-818956cb-a3d2-4157-994e-178e309ed789.png)

Looking at the `plot_sensors` on the left, I actually wonder if there is a dig error with EEG001 and EEG003. And also EEG061 through EEG0064 are marked as EEG, but

[2022-10-28 04:30] alexrockhill opened #11286 "[ENH, MAINT, BUG] Refactor mne.viz.Brain"
### Describe the new feature or enhancement

To me `mne.viz.Brain` is a misnomer when there are multiple views; `matplotlib.pyplot.Axes` isn't a single subplot *or* multiple subplots, it's just a single subplot axis, I think `mne.viz.Brain` should just be a single 3D rendered brain object/scene.

### Describe your proposed implementation

The GUI code could all be pulled out into an `mne.viz.Brain

[2022-10-28 14:53] larsoner commented on #11286
Please read my posts from before a bit more carefully -- this is not what I suggested. I think we want to keep the Brain API the same (multiple views, methods, etc.) and just change the guts behind it.

[2022-10-28 15:53] #10984 closed

[2022-10-28 15:53] #10985 closed

[2022-10-28 16:05] alexrockhill commented on #11286
I read your posts carefully and I agree on moving to the QInteractor and using the abstraction, those both seem like great ideas. This is separate but related and given your comment, I think it's clear I disagree with you that this is not a problem, I think it really is not the best way to do things and should be fixed.

[2022-10-28 16:10] larsoner commented on #11286
I would much rather keep the API of Brain more or less as it is, and instead have what you want to make "Brain" be called "BrainView" or something that implies "one single view of the brain". The code churn / deprecation for people is not worth what more or less amounts to a slightly clearer name at our end. I think our threshold for deprecation should be higher than this

[2022-10-29 18:28] mmagnuski commented on #11165
Just for reference, this problem was previously discussed here: https://github.com/mne-tools/mne-python/issues/8424

[2022-10-30 14:50] musicinmybrain commented on #10984
I [tried applying that PR](https://src.fedoraproject.org/rpms/python-mne/pull-request/9) as a patch in the Fedora Linux package, and I no longer see failures on aarch64 or on ppc64le (#10985)—so I think it worked!

[2022-10-30 16:32] mcespedes99 opened #11288 "add_volume_labels() method from mne.viz.get_brain_class() doesn't allow receiving a dict as legend"
### Description of the problem

Hi,

In the MNE documentation for the add_volume_labels() method  from mne.viz.get_brain_class(), it's stated that you pass a dictionary to the legend option, which is actually implemented on the code. However, line 2475 from the _brain.py file actually does a wrong validation since it is set to `_validate_type(legend, (bool, None), 'legend')`; therefore, it actuall

[2022-10-31 11:33] larsoner commented on #11288
Have you tried making this change? If you do, does it work correctly? If so, a PR to fix this would be great!

[2022-10-31 12:15] mcespedes99 commented on #11288
Yes I have. Will create the PR then!

Thanks,
Mauricio

[2022-10-31 16:23] claytonjschneider commented on #10890
hi @larsoner sorry to find this just after closing, but I am having the same issue as @Immiora

[2022-10-31 16:24] claytonjschneider commented on #10890
Sike! Using the 3d options line fixed it for me.

[2022-10-31 17:52] #11225 closed

[2022-10-31 17:55] larsoner commented on #11274
I didn't want to have to follow our code so I tried trusting our tests by adding a `raise RuntimeError` early in `_fast_plot_ica_properties`, it looks like both failure modes are thankfully visible:
[code]

[2022-10-31 18:26] #11285 closed

[2022-10-31 22:28] #11288 closed

[2022-11-01 07:42] hoechenberger commented on #11165
Haha it's kinda funny to see how the perception of what is and what is not incorrect behavior has changed over the past two years :)

[2022-11-01 10:51] donalbertico commented on #9094
this error is not a bug, the problem is applying preprocessing techniques reduces the data rank and leads to mathematical incorrectness. Projecting back the data to the number of channels with PCA is a solution as shown by @agramfort.
Refer here for more info https://www.researchgate.net/publication/343942514_Potential_pitfalls_of_widely_used_implementations_of_common_spatial_patterns

[2022-11-01 12:49] mmagnuski opened #11292 "Use scipy.signal.windows.dpss in multitaper"
@larsoner, you were responsible for [scipy.signal.windows.dpss](https://github.com/scipy/scipy/pull/7802/files). What do you think about using the scipy's function instead of our `mne.time_frequency.multitaper.dpss_windows`? The scipy's version only lacks computing dpss on shorter windows and interpolating to the desired N, but I don't think we use that. The benefit is that scipy's function has wi

[2022-11-01 12:52] larsoner commented on #11292
Yes I think historically it didn't exist when we first implemented, and then our min version wasn't high enough for a while. And now that it uses an efficient silver under the hood I think we don't need to interpolate anyway. So yes please change it over!

[2022-11-01 13:00] mmagnuski commented on #11292
Good, one thing that we use that is missing from scipy's dpss is the `low_bias` option - so we could change mne's `dpss_windows` to use scipy's dpss internally, but sill retainthe `low_bias` taper selection.

[2022-11-01 13:12] drammock commented on #11292
I can roll this into the TFR class update --- was going to propose this anyway (as well as using scipy for wavelet computation). Or I'm also happy to do it in a separate PR, LMK

[2022-11-01 14:42] drammock commented on #11165
has it? [2 years ago I said this](https://github.com/mne-tools/mne-python/issues/8424#issuecomment-725530557):

and I think that's all still borne out by [the recent MPL discourse thread](https://discourse.matplotlib.org/t/custom-plot-function-in-jupyter-notebooks/23185).

[2022-11-01 14:52] drammock commented on #11274
*aside* if even @larsoner feels this way, it seems we are ripe for a refactor / code readability improvements (var names, comments, etc) 😆

[2022-11-01 16:04] mscheltienne commented on #11274
That's a big tell ahah

Thank you @larsoner, I did not have time to look at it yet, but that's a great starting point! I'll try to dig in this week or next week.

[2022-11-02 01:27] nugenta opened #11294 "scaling of beamformer images when no noise covariance is available"
in `mne.beamformer._compute_beamformer.py`, in `_prepare_beamformer_input`, if no noise covariance matrix is used, then an adhoc covariance is created with this call:

`noise_cov = make_ad_hoc_cov(info, std=1.)`

Using an identity matrix for the noise covariance (instead of a diagonal matrix scaled by a noise estimate) results in incorrect scaling of the resultant beamformed images, depending on t

[2022-11-02 13:30] agramfort commented on #11294
ping @britta-wstnr

[2022-11-02 15:40] larsoner commented on #11294
Sounds reasonable to me, but happy to defer to @britta-wstnr here

[2022-11-02 16:28] transpersonify commented on #9769
Hello,
When I load data using mne.read_evoked_fieldtrip, I am not able to read times, I added tmin value in the function by reading it from the fieldtrip structure as follows.

`    time= np.squeeze(ft_struct['time'])
    tmin = time[0]

    info = _create_info(ft_struct, info)  # create info structure
    data_evoked = ft_struct['avg']  # create evoked data
    evoked = EvokedArray(data_evoked, i

[2022-11-02 16:29] transpersonify commented on #9769
Hello,
When I load data using mne.read_evoked_fieldtrip, I am not able to read times, I added tmin value in the function by reading it from the fieldtrip structure as follows.

[code]
This works fine and I am able to plot the data as expected. However, to do baseline correction in this evoked data, I had to add one hack to read_evoked_fieldtrip function:

    if(comment==None):
        comment = '

[2022-11-02 20:29] jiivana opened #11295 "Error in cross_val_multiscore"
### Description of the problem

I am following the example on temporal decoding: https://mne.tools/stable/auto_tutorials/machine-learning/50_decoding.html#temporal-decoding to classify stimuli in three categories. The example runs on my Windows machine fine, but when I add PCA and/or CSP to the pipeline I get errors.

### Steps to reproduce

[code]

### Link to data

_No response_

### Expected re

[2022-11-02 21:57] drammock opened #11296 "cannot read times after read_evoked_fieldtrip"
Hello,
When I load data using mne.read_evoked_fieldtrip, I am not able to read times, I added tmin value in the function by reading it from the fieldtrip structure as follows.

[code]
This works fine and I am able to plot the data as expected. However, to do baseline correction in this evoked data, I had to add one hack to read_evoked_fieldtrip function:

[code]

If I don't do this any evoked meth

[2022-11-02 21:58] drammock commented on #9769
@transpersonify I've migrated your comment into a new issue, #11296. Please post any follow-ups there

[2022-11-02 21:59] drammock commented on #9769
closing, as >1 year with no response from OP.

[2022-11-02 21:59] #9769 closed

[2022-11-02 22:42] drammock commented on #11295
looks like the error comes from within `UnsupervisedSpatialFilter.fit()`

I'm not super familar with this kind of analysis, but I think the problem is that `UnsupervisedSpatialFilter` expects there to be a time dimension, but when you wrap it in a pipeline passed to `SlidingEstimator` then it no longer gets access to the time dimension?  IIUC, `SlidingEstimator` "consumes" the time dimension and p

[2022-11-03 00:17] sam-s opened #11297 "compute_psd: ValueError when n_jobs=-1 and only 1 channel"
### Description of the problem

when [`compute_psd`](https://mne.tools/stable/generated/mne.io.Raw.html) is passed `n_jobs=-1` and the instance contains only _one_ channel, the method fails.

### Steps to reproduce

[code]
[code]
ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)
[code]

[2022-11-03 09:02] mmagnuski commented on #11297
Nevermind, I can reproduce the issue:
[code]

[2022-11-03 09:03] mmagnuski commented on #11297
Oh, @mscheltienne we were simultaneous! :)

[2022-11-03 09:06] mscheltienne commented on #11297
Looks like an easy fix here on `x_split`:

[code]

[2022-11-03 10:25] skjerns opened #11299 "find_bads_muscle() can't find sensor positions"
### Description of the problem

When using the newly introduced `ica.find_bads_muscle` it seems like the function cannot find the sensor positions, even though they should be included in the file and/or be accessible to MNE generally by default.

[code]

### Steps to reproduce

[code]

### Expected results

MNE automatically finds the channel montage, as is done when plotting the sensor positions

[2022-11-03 12:31] mscheltienne commented on #11299
Hello, I could reproduce the issue and I've pushed a fix in #11300.

[2022-11-03 13:09] skjerns commented on #11299
Thanks for the fast fix!

However, I'm a bit surprised. Using your fix `ICA.find_bads_muscle` finds zero components in all of my files. My dataset of 30 participants with each 7 different recordings (rangin from 5-30 minutes), recorded with a MEGIN-Trilux with 306 sensors, no component gets marked as belonging to muscle artefacts. Is that to be expected (as MEG suffers less from muscle artefacts)?

[2022-11-03 13:46] drammock commented on #11299
if they're adults, they're reasonably good at sitting still, and you allowed them to move in between trials/blocks to make it easier to be still during the blocks, it doesn't seem that surprising to me.

[2022-11-03 15:27] #11299 closed

[2022-11-03 16:36] #11297 closed

[2022-11-03 16:58] larsoner commented on #11295
That sounds right @drammock

We could maybe make `UnsupervisedSpatialFilter` deal with a lack of "time" dimension by treating "epochs" as times basically. Really we just need some repeated measures across sensors -- be it across the time dim or epochs dim -- so this could in principle work.

But one probably better possibility is to create the opposite of https://mne.tools/stable/generated/mne.dec

[2022-11-03 18:18] britta-wstnr commented on #11294
Mhhh ... @larsoner we still test against FieldTrip, don't we? That should have caught something going wrong?

[2022-11-03 18:44] larsoner commented on #11294
Yes, but I guess it's a matter of interpretation/defaults. If they pass `noise_cov=None`, taking the gradiometer-only case for example, should we:

1. Assume that the noise level was 1 T/m (`main` and FieldTrip), or
2. Assume that the noise level was 5 fT/cm, as this is the default for `make_ad_hoc_cov` (what @nugenta proposes)

@nugenta while we hash this out, in the meantime you probably realize

[2022-11-03 19:03] larsoner commented on #11294
Opened https://github.com/mne-tools/mne-python/pull/11302 so you can see what changes would be necessary @britta-wstnr

cc @wmvanvliet since it also changes DICS a bit

[2022-11-03 21:08] alexrockhill commented on #11286
Ok, I'll go ahead and close the issue. I still think this is a design issue and since `mne.viz.Brain` is tagged as experimental it would be a good time to fix it but I'm not going to press the issue. I think in the long run, it will be something that really simplifies `mne.viz.Brain` but it works okay mostly now so not the highest priority.

[2022-11-03 21:08] #11286 closed

[2022-11-03 21:23] agramfort commented on #11295
CSP works by taking time samples as input to produce covariances and then obtain spatial filters. If you use a sliding estimator you work with one time point. So I am not sure of what you want to do. Besices CSP if for induced effects while SlidingEstimator captures time locked effects.

[2022-11-03 22:08] larsoner commented on #11295
But it does so by combining *time points across all epochs being fit*, right? So if you have for example 100 epochs and a 5-fold CV, you fit using 80 epochs and 1 time point apiece -> 80 samples to compute the covariance for your 16 channels. So I think the `Unvectorizer` approach could potentially work in this case if you have enough epochs, right?

[2022-11-03 22:23] agramfort commented on #11295
hum ok that could work on paper...

[2022-11-03 22:30] #11292 closed

[2022-11-04 15:21] larsoner commented on #11295
@jiivana do you think this would work for your use case if it were implemented?

[2022-11-04 15:30] drammock commented on #11295
So the summary is

[code]

doesn't work (and presumably also won't work with `CSP` in place of / in addition to `UnsupervisedSpatialFilter`). But if we provided an `Unvectorizer` then that approach could still work in principle, by allowing `UnsupervisedSpatialFilter` or `CSP` to aggregate over *epochs* instead of over *time points*. Yes?

[2022-11-04 15:50] jiivana commented on #11295
I should do my homework in understanding how these methods work. I think I tried to use `SlidingEstimator` to look at the csp performance over time similarly to what is done in https://mne.tools/stable/auto_examples/decoding/decoding_csp_eeg.html. So I think this is just confusion from my part.

[2022-11-04 15:55] drammock commented on #11295
OK. Feel free to re-open if you find that you can't accomplish your analysis goal.

[2022-11-04 15:55] #11295 closed

[2022-11-05 15:05] marsipu opened #11305 "Non-helping Error message for methods on empty epochs"
### Description of the problem

This is an issue I saw often with beginner users of mne-python:
When an `Epochs`-instance is created and for some reason all epochs are marked as bad (reject/flat-parameter, annotations), the following methods (among others) throw error messages, which are especially for beginners not really helpful:

- `average`
- `plot`
- `plot_image`
- `plot_psd`
- `plot_topo_ima

[2022-11-05 18:03] agramfort commented on #11305
+1

PR welcome 🙏

[2022-11-09 16:59] nugenta commented on #11294
Thanks everybody!

[2022-11-09 17:51] holdf1 opened #11312 "epoch.plot_image() for emg channels results in error"
### Description of the problem

when epochs.plot_image() is applied to emg channels with default parameters a somewhat cryptic error message is thrown (see Actual results below)

### Steps to reproduce

[code]

### Link to data

_No response_

### Expected results

plot with evoked

### Actual results

---------------------------------------------------------------------------
ValueError

[2022-11-09 18:15] #11294 closed

[2022-11-10 01:39] aroyphillips opened #11314 "Pick_Channels Returns AttributeError: 'NoneType' object has no attribute 'items"
### Description of the problem

Hello,

I am trying to select a subset of the channels in my Raw instance using the `pick_channels` function. However,  it appears that the Raw instance has orig_units set to None, causing an error. Despite this, I'm actually still able to select the subset as the error seems to occur after the issue has happened. I'm able to get around this by using `try... except`

[2022-11-10 10:53] mscheltienne commented on #11314
Hello, thank you for reporting the issue.
Could you share a file that raises this error, otherwise it will be difficult to reproduce?

Also, could you try in an environment running the latest development version. You can install it with:

[code]

I think this bug was already fixed in #11160

[2022-11-10 10:54] mscheltienne commented on #11314
Or running the latest stable version, 1.2.0 or 1.2.1, the fix should be released already.

[2022-11-10 14:59] DarthSaddest opened #11316 "Missing frame of head"
### Description of the problem
The spatial legend in the top-right of a PSD plot shall include the frame of a head! Which is not in my case.

### Steps to reproduce

* Read in the raw Brainvision files corresponding to the film task from the [**sub-01/ses-iemu/ieeg/** directory](https://openneuro.org/datasets/ds003688/versions/1.0.7)
* Remove bad channels and non-EEG channels with aid of `channels

[2022-11-10 15:49] drammock commented on #11316
I suspect that the head is there, but it's drawn really really small (because it thinks the sensors are several *meters* apart instead of several *millimeters* apart.  Please double-check that the units of your sensor positions are correct.  MNE-Python requires that they be in meters; if they were stored as millimeters then their locations will be off by a factor of 1000.

[2022-11-10 15:53] drammock commented on #11316
...in fact, looking more closely at what you pasted in: `'ch_pos': OrderedDict([('AR1', array([ 22.42, 23.64, -31.74]))...` those numbers 22.42, 23.64, 31.74 are being interpreted as meters. And in the dataset they are the same: https://openneuro.org/datasets/ds003688/versions/1.0.7/file-display/sub-01:ses-iemu:ieeg:sub-01_ses-iemu_acq-clinical_electrodes.tsv

cc @sappelhoff is the measurement uni

[2022-11-10 16:18] DarthSaddest commented on #11316
It appears that Francois Tadel came across a similar (?) problem while using this dataset (scroll to the bottom):

[2022-11-10 17:05] drammock commented on #11316
I checked the BIDS standard and it says measurement units are given in `*coordsystem.json`. Looking at [that file](https://openneuro.org/datasets/ds003688/versions/1.0.7/file-display/sub-01:ses-iemu:ieeg:sub-01_ses-iemu_acq-clinical_coordsystem.json) I see that it does specify millmeters, so either (1) you need to multiply the locations by `1e-3` before setting the montage, or (2) load the data wi

[2022-11-10 17:05] #11316 closed

[2022-11-10 17:33] DarthSaddest commented on #11316
@drammock Thanks, reading the raw file **directly** via MNE-BIDS works!

[2022-11-11 00:28] aroyphillips commented on #11314
Hi, thank you for the response.

My mne version is up to date at 1.2.1. However, while trying to create a simple code to replicate the issue, I figured out the issue seems to be due to the pickle saving protocol. Saving the files as `.fif` format seems to fix it, even after loading with pickle, but since I'm working with a lot of raw files I have been opting to save entire lists of raw files at on

[2022-11-11 09:35] mscheltienne commented on #11314
Oh, most likely yes and someone might be able to pinpoint what went wrong, but that would take me too long to figure out. Pickle is not a long-lasting format, as such it is not supported by MNE and I can't recommend using it.

If you have many recordings to work with, you should define a clear naming schema that can be programmatically generated. For instance, if you have multiple subjects, multip

[2022-11-11 19:26] GaretEdmund opened #11319 "Incorporate Moving Window Average for mne.time_frequency.EpochsTFR"
### Describe the new feature or enhancement

I wish MNE to incorporate a method of taking a moving window average of spectral power wrt time.

A methodology of choice, used by multiple researchers, goes roughly:

Current MNE functions allow (1), (2), and (3) but not (4).

### Describe your proposed implementation

This averaging method can be added to the mne.time_frequency.EpochsTFR class.

### D

[2022-11-11 19:31] DarthSaddest commented on #11316
P.S: I cannot but wonder if mne-python shall fix their reading of montage to take coordsystem.json into account, maybe as an optional parameter?

[2022-11-11 19:31] agramfort commented on #11319
Can you share a code snippet to do 1 to 3 so I can see what’s your approach ?

[2022-11-11 19:41] GaretEdmund commented on #11319
Something like this excluding 2:
[code]

[2022-11-12 15:02] hoechenberger opened #11320 "fontawesome icons not displaying correctly"
https://mne.tools/dev/install/installers.html

<img width="669" alt="Screenshot 2022-11-12 at 16 01 25" src="https://user-images.githubusercontent.com/2046265/201480264-47d32a2a-2f70-4da3-b7de-91c29bec6340.png">

[2022-11-13 03:38] sam-s opened #11321 "verbose=False is sometimes ignored"
### Description of the problem

I get `Adding metadata with 3 columns` despite passing `verbose=False` to `mne.Epochs`.
Alas, I cannot _stably_ reproduce it.
However, I see that `BaseEpochs.__init__` in `mne/epochs.py` passes `verbose=False` to `GetEpochsMixin.metadata.fset` instead of its own argument `verbose`.
This seems wrong.

### Steps to reproduce

Alas, I cannot _stably_ reproduce it.

###

[2022-11-13 03:39] sam-s commented on #11321
Possibly related: https://github.com/mne-tools/mne-connectivity/issues/111

[2022-11-13 10:29] agramfort commented on #11319
can you provide a full code snippet eg using the mne sample dataset so
we can just run it and see what to add and with some inline comments ?

[2022-11-14 08:06] moritz-gerster opened #11323 "mne.simulation.simulate_raw fails with default kwarg"
### Description of the problem

For some reason `mne.simulation.simulate_raw` does not work for me without giving the `src` kwarg:

[code]

### Steps to reproduce

[code]

### Link to data

_No response_

### Expected results

I would expect that the default kwarg `src=None` works.

### Actual results

[code]

### Additional information

[code]

[2022-11-14 08:34] moritz-gerster opened #11324 "Multitaper keyword "bandwidth" does not behave as expected"
### Proposed documentation enhancement

I try to calculate power spectral densities using multitaper at different frequency resolutions but I don't get it to work. The documentation states

[code]

I understand this doc such that
`mne.time_frequency.psd_multitaper(raw, bandwidth=None)`

should yield the same as
`mne.time_frequency.psd_multitaper(raw, bandwidth=4)`

but it does not. Looking at the

[2022-11-14 09:25] agramfort commented on #11323
the error message is really misleading I agree but there is no way this can
work out of the box
as the simulation code makes use of a really head geometry so it needs at
least a forward model.

[2022-11-14 09:27] mscheltienne commented on #11324
Hello, have also a look at the updated documentation in 1.3 which is a bit more detailed: https://mne.tools/dev/generated/mne.time_frequency.psd_array_multitaper.html

But there seems to be a bug here. The value that yields the same as `bandwidth=None` in your example is 0.8. I don't get the multiple with `n_times / (2. * sfreq)` here https://github.com/mne-tools/mne-python/blob/815bee6b38c160e6f8

[2022-11-14 10:16] moritz-gerster commented on #11323
Ok, thanks @agramfort, I was not aware of that. Can I then maybe make a PR where I change

https://github.com/mne-tools/mne-python/blob/2d90ecaee807d3d7ceab31bdac0a734bf5418c87/mne/simulation/raw.py#L127-L130

to
[code]
?

Also, to play around with simulated data easily I would really appreciate this [feature request](#10954 )! :)

[2022-11-14 10:43] agramfort commented on #11323
what is your usecase?

[2022-11-14 11:33] larsoner commented on #11323
src is not always required, if you pass `forward` it is implicitly already supplied

[2022-11-14 11:43] moritz-gerster commented on #11323
I just wanted to test some functions and scripts on toy data and I thought `simulate_raw` would be the right fit. But I now understood that it does more than just creating some mne.Raw object with random time series.

That's the reason why I like #10954

[2022-11-14 11:47] moritz-gerster commented on #11324
I guess the label should be switched from "DOC" to "BUG" but I cannot do that.

[2022-11-14 13:59] georgeoneill commented on #11257
Hi @larsoner, apologies for the radio silence.

I'm putting some data onto mne-testing-data imminently. I'll include a .mat file with an output from FieldTrip-like importer with all the metadata. A PR for that will be sent soon.

I'm definitely happy to do some of the legwork on getting the initial import code working with MNE. Unsure how the unit-testing might pan out, but this is something we ca

[2022-11-14 17:46] jo780-full opened #11326 "ValueError: invalid literal for int() with base 10: ''"
### Description of the problem

Hello, I am new to mne and have a problem with this dataset.

It shows
ValueError: invalid literal for int() with base 10: ''

### Steps to reproduce

[code]

### Link to data

[doi:10.18112/openneuro.ds003969.v1.0.0](https://doi.org/10.18112/openneuro.ds003969.v1.0.0)]

### Expected results

Reads file

### Actual results

![image](https://user-images.githubusercon

[2022-11-14 18:49] hoechenberger opened #11327 "info['subject_info']['birthday'] should support a datetime object"
### Describe the new feature or enhancement

Working on https://mne.discourse.group/t/minor-priority-issue-with-converting-mne-raw-into-bids-with-mne-bids-age-birthday-info-of-subject/5922, I realized that a subject's birthday must be specified as a tuple of ints. I believe this is inconsistent with the way we allow to specify the measurement date (datetime object).

### Describe your proposed imp

[2022-11-14 22:34] sam-s commented on #11321
My apologies, the message  `Adding metadata with 3 columns` is coming from [`spectral_connectivity_epochs`](https://github.com/mne-tools/mne-python/issues/11321).

[2022-11-14 22:34] #11321 closed

[2022-11-15 09:55] mscheltienne commented on #11326
Hello,

I can not reproduce. I downloaded subject 24 from this dataset using `openneuro-py`, and loaded it successfully with:

[code]

Tested with both stable and development versions of MNE and MNE-BIDS (you are running the stable versions, so it should work). Maybe the file is corrupted? The downloads from openneuro can be hectic.. Maybe try to download it with `openneuro-py` as I did?

[2022-11-15 11:29] jo780-full commented on #11326
Can you please send what you did I would appreciate it .thank you

[2022-11-15 11:48] mscheltienne commented on #11326
Install `openneuro-py` and use it to download the dataset (I first cloned in from the .git and the files were as often corrupted).

[code]

Based on the documentation written in the README of `openneuro-py`: https://github.com/hoechenberger/openneuro-py
And then I loaded the data as you did with the python code snippet above.

[2022-11-15 17:43] agramfort commented on #11323
To me this toy data in #10954 is too limited. I am not convinced we need this in the public API

[2022-11-15 18:09] mscheltienne commented on #11326
I guess that the units have changed compared to older versions? I am not super familiar with this part, but I think it's linked to https://github.com/mne-tools/mne-bids/pull/1059
@hoechenberger I'll let you comment on this ;)

[2022-11-15 18:36] drammock commented on #11326
when a channel type gets changed (in this case presumably from "EEG" to "Temp") then these warnings happen.  Same with GSR1 and GSR2, which are skin conductance (in Siemens).  All of them were apparently stored as "eeg" and MNE is changing their channel type based on the channel names, but it wants to make sure you know that in case it guessed wrong.

[2022-11-15 18:54] jo780-full commented on #11326
Oh got it thank you

[2022-11-15 21:01] larsoner commented on #11320
Argh, it's broken on dev and stable. Maybe some pydata-sphinx-theme bug -- @drammock can you look?

[2022-11-15 21:12] hoechenberger commented on #11326
This issue should actually be transferred over to MNE-BIDS. I believe what's happening is in fact what @drammock said, except that the channel types aren't changed based on their name but based on the BIDS metadata. That is, I would think that we actually should **suppress** these warnings, as MNE-BIDS is doing exactly what it is supposed to do -- hence there is no need at all to emit a warning!

[2022-11-15 22:53] drammock commented on #11316
an optional parameter to what?  `make_dig_montage()`?  That seems like the most logical place to do it to me, but I think I'm still not in support of that change.  If a dataset is in BIDS format, users should use mne-bids to read it in.  If it's not in BIDS format, it probably won't have `coordsystem.json` anyway.

[2022-11-16 01:04] #11320 closed

[2022-11-16 06:40] #11323 closed

[2022-11-16 06:40] moritz-gerster commented on #11323
Ok, thank you! I guess I just misunderstood the purpose of this function. I guess I can close the issue.

[2022-11-16 10:00] sappelhoff commented on #11316
I agree with @drammock on this

[2022-11-16 11:00] mmagnuski commented on #11324
@moritz-gerster @mscheltienne
I've recently noticed this, the bandwidth that is used in psd is the frequency bandwidth, not the time-bandwidth product, as in time-frequency. In general I still think it would be simpler to expose something like frequency smoothing (frequency bandwidth / 2), like fieldtrip does.

[2022-11-16 11:27] mmagnuski commented on #11324
I didn't check in detail but I think the default bandwidth of None chooses bandwidth and then time-bandwidth product that gives 7 tapers. In your case the signal is 10 seconds long, so a bandwidth of 0.8 gives time-bandwidth product of 8 (`0.8 * 10`), and we subtract 1 when we calculate the number of tapers which gives the default 7.
A default of 7 tapers is not great, I admit, we may think about

[2022-11-16 11:30] larsoner commented on #11324
We could just say that the default is a constant bandwidth X, unless that yields no tapers in which case the smallest bandwidth is chosen that still yields a single taper.

[2022-11-16 11:31] mmagnuski commented on #11324
(I changed the label back to DOC, as don't think this is a bug, but I agree that the inconsistency in psd and time-frequency multitaper is source of many confusions)

[2022-11-16 11:40] moritz-gerster commented on #11324
![image](https://user-images.githubusercontent.com/45031224/202170581-cc5b551b-adb9-4698-9181-e5204d00768d.png)

Yes, 0.8 is the solution.

[2022-11-17 13:08] AaronWill-Git commented on #5612
Dear Clemens，

Hope you are doing well! Thanks for your time.

I just got stucked in the step to line interpolate the data. My plan to to divide each step into fixed epochs with a longer length than the normal step. Then I calculte the ERSP using the "mne.time_frequency.EpochsTFR". Next step I want to interplotate the results of EpochsTFR, but I got stucked in this step. I use tfr.average().data t

[2022-11-17 14:36] SeungCheolBaek opened #11330 "unstable estimation of the head position based on the HPI coils"
### Description of the problem

When we estimated the time-varying head position with the MEG data that we had collected (306-channel Vectorview, Elekta Neuromag), we found that sometimes the estimated head position was unstable consistently “teleporting” between two similar locations over time, which couldn’t be thought of as actual human movements.
 
5 HPI coils were installed during the MEG acq

[2022-11-17 15:09] larsoner commented on #11330
Thanks for the excellent, in-depth analysis @SeungCheolBaek !

I don't have time to look too deeply today, but will try tomorrow. My response from a quick glance at what you wrote is that fitting should be done using as many coils as possible that satisfy the GOF and distance criteria. Somewhere in the code there is something that *should* look to see if any coils violate the distance criteria, an

[2022-11-17 15:52] #11312 closed

[2022-11-17 16:07] DarthSaddest opened #11331 "Failure to interpolate bad channels"
### Description of the problem

Failure to interpolate a bad channel (AR8); logging this as a bug pursuant to a discussion with @drammock.

### Steps to reproduce

[code]
[code]
openneuro-py download --dataset=ds003688 --include=sub-01 #Download the data.
[code]
RuntimeError: Digitization points dig_kinds=[4 (FIFFV_POINT_EXTRA), 3 (FIFFV_POINT_EEG)] not in head coordinates, contact mne-python deve

[2022-11-17 16:26] sappelhoff commented on #11331
This is an ieeg / MRI dataset and electrode locations are shipped in "APCP" format -- is there an easy way to transfer the positions to "head", and if so, would it even be valid?

- [electrodes.tsv](https://openneuro.org/datasets/ds003688/versions/1.0.7/file-display/sub-01:ses-iemu:ieeg:sub-01_ses-iemu_acq-clinical_electrodes.tsv)
- [coordsystem.json](https://openneuro.org/datasets/ds003688/versio

[2022-11-17 18:50] mmagnuski commented on #11324
One issue I think is worth fixing is the discrepancy between psd and time-frequency multitaper usage of bandwidth. psd uses frequency bandwidth, while time-frequency multitaper uses time-bandwidth product (full or half, I don't remember), which is less intuitive. It would be best if both used frequency bandwidth, but I'm not sure this can classify as bug fix.

[2022-11-18 08:23] SeungCheolBaek commented on #11330
Thank you for all of the comments!

I have actually done something similar to what you suggested.

1. Concerning the number of HPI coils being used for fitting, in this version (v.1.1.0), it's *always* three as long as ```mne.chpi._fit_chpi_quat_subset``` is called inside of ```mne.chpi.compute_head_pos``` to fit the head position.
So, what I tried was to comment out ```mne.chpi._fit_chpi_quat_sub

[2022-11-18 09:23] cbrnr commented on #5612
You can create a new `TFREpochs` object and fill it with the new data. If you have further questions, please ask them in our forum: https://mne.discourse.group/

[2022-11-18 09:39] bmaess commented on #11330
In this paper the authors apply such a weighting (its for a spacecraft and not for a human head, but the difference is negligible here ;)
https://ntrs.nasa.gov/api/citations/20000034107/downloads/20000034107.pdf

[2022-11-18 12:21] AaronWill-Git commented on #5612
Thanks for your suggestion! Will do this in the forum.

[2022-11-18 14:49] larsoner commented on #11330
My first reaction to this is that, to a certain extent, we *need* to stop using some coils sometimes because they either stop emitting signals (rare), are masked by some artifact in the HPI region (rare), or shift location on the head of the participant during the recording (not so rare, and still good GOF) so shouldn't be trusted. But I think this can be made consistent with what you're saying if

[2022-11-18 15:16] larsoner opened #11332 "MAINT: Matplotlib deprecation of buttons.circles"
They switched to scatter instead of circles. Just opening this issue so we don't forget to remove my `ignore:` workaround in `conftest.py` and fix it properly.

https://github.com/matplotlib/matplotlib/pull/24455#issuecomment-1319318629

[2022-11-19 00:24] mmagnuski commented on #11319
@GaretEdmund
I'm not familiar with the fourth step in the methodology you describe, can you share some reference? (I mean, I'm familiar with moving average, of course, but not in the context of postprocessing time-frequency results)
If you want to have a lower sampling rate in your time-frequency representation, you can use `decim` argument to decimate (subsample) the TFR. But if you still prefer

[2022-11-19 03:45] teanijarv commented on #7678
Would be nice to change the linewidth with the plot_filter function as if I use the rcParams then time-domain linewidth changes, but not frequency-domain or delay plots because they are being overwritten in the function. Currently I created a custom function from MNE plot_filter function for myself, but I'm following this thread to see if the function gets updated.

[2022-11-19 16:23] larsoner commented on #7678
@teanijarv would you be up for making a PR to fix our internal `linewidth`? Basically tweak the `linewidth` we use internally until you are aesthetically happy with it, and we can look at it and merge if things look better!

FWIW [as above](https://github.com/mne-tools/mne-python/issues/7678#issuecomment-619298438) I don't think we should add a `line_width` property as in the top comment, but rath

[2022-11-20 06:44] teanijarv commented on #7678
@larsoner I added the minor edits. Hope you are happy with it! MNE is such an amazing package, hopefully can help some time again! :)

[2022-11-21 08:14] hoechenberger commented on #11327
@larsoner Any opinion on that?

[2022-11-21 13:54] leosunpsy commented on #9333
You can try the following operations：
(1) Make sure mesa is installed on your ubuntu：

sudo apt update && sudo apt upgrade -y
sudo apt install mesa-utils -y
glxinfo | grep "OpenGL version"

## Install/Upgrade Mesa Drivers – oibaf/graphics-drivers
sudo add-apt-repository ppa:oibaf/graphics-drivers -y
sudo apt update
sudo apt upgrade -y
glxinfo | grep "OpenGL version"
（2）Check the soft link " libstd

[2022-11-21 20:53] larsoner commented on #11327
Agreed this makes sense. We can gradually transform these tuple-of-two-int into `datetime` as we find them.

[2022-11-22 11:30] Qwinpin opened #11336 "Incorrect behavior of annotation rename method"
### Description of the problem

The _rename_ method of [Annotation](https://github.com/mne-tools/mne-python/blob/maint/1.2/mne/annotations.py#L649-L677) object  is implemented in such a way that it does not replace the label name with a new one, but does replace on the string variable as many times as there are pairs in the dictionary.

[code]

In addition to unnecessary iterations, the result is

[2022-11-23 21:39] mmagnuski commented on #11336
Hi @Qwinpin, thanks for noticing this and letting us know!
Indeed, your implementation is better and avoids the bug. Could you open a PR with your suggested change?

[2022-11-24 16:05] ggrrll opened #11337 "no colours in plot_psd"
### Description of the problem

I am try to get a https://mne.tools/stable/generated/mne.BaseEpochs.html#mne.BaseEpochs.plot_psd  with colours ... but it just returns gray ones

my obj is a `mne.io.RawArray` class

### Link to data

_No response_

### Expected results

Colourful plot according to https://matplotlib.org/stable/gallery/color/named_colors.html

### Actual results

no color

### Addit

[2022-11-24 16:09] ggrrll commented on #11337
ok , setting `spatial_colors=False` fixes the issue (ok... but in the API you could maybe over wright that)

[2022-11-24 16:09] #11337 closed

[2022-11-27 16:12] changkun commented on #5612
@cbrnr Thanks for arising this interesting discussion. We are running an experiment with multiple participants on the same task, where they have to make a selection. However, participants perform differently. And if we cut the epochs from the presentation of an item and its selection, epochs will have variable lengths. What would be your suggestion for dealing with this situation when processing t

[2022-11-28 09:29] cbrnr commented on #5612
I think it depends on what you want to do with your variable-length epochs. If you are using frequency-domain features such as ERD/ERS, you need to make sure that rescaling is performed in that domain (otherwise, if you resample in the time domain, you will change the frequency content).

There isn't really a whole lot of literature on that topic. I am still working on my article for my blog, whic

[2022-11-28 14:12] eioe opened #11339 "Wrong adjacency when calculated on lateral channel subset"
### Description of the problem

When calculating channel adjacency for a (lateral) subset of EEG channels (e.g., only left channels), I seem to get a slightly wrong adjacency matrix that also exhibits adjacency of clearly non-neighbouring channels (in my case: `F1`and `P1` and also `FT9` and `TP9`).
When I use the same procedure on the full montage, the same channels are not denoted as adjacent.

[2022-11-28 15:53] agramfort commented on #11339
can you plot the adjacency with triangulation to see how problematic it is?

The adjacency is using an automatic  Delaunay triangulation

[2022-11-28 16:25] eioe commented on #11339
ah, I just saw the (new?) viz tool for that in MNE. Was not aware of that. Nice. And it can even be interactive.

This is the output:
![image](https://user-images.githubusercontent.com/20844835/204328020-6b8517e0-8965-4c54-909e-979579b09f13.png)

Looks like 3 of the edges close to the midline are not as (naively) expected. Whether `FT9` and `TP9` should be connected (physiologically speaking) migh

[2022-11-28 16:39] eioe commented on #11339
For me (ignorant of that method) this would have been a helpful pointer. However, that warning will pop up every time someone uses `plot_ch_adjacency` on EEG data (to my understanding) which might get annoying.
Maybe an according hint/warning in the documenation of `plot_ch_adjacency` might be enough.

[2022-11-28 19:28] larsoner commented on #11339
Sorry I should have been clearer -- I don't mean a `warnings.warn(...)` that will emit a warning -- I agree this would be too much -- but rather an addition to the docstring (in RST) using `.. warning::` so it shows up in the function documentation somewhere like the Notes section here

https://mne.tools/dev/generated/mne.viz.plot_ch_adjacency.html

[2022-11-29 11:12] ggrrll opened #11342 "spectral plot has no colors"
### Description of the problem

 I am plotting the spectra of few channels with `compute_psd().plot(spatial_colors=False)`

I was expecting some colours, like in the 'midline' plot here
https://mne.tools/stable/auto_tutorials/raw/40_visualize_raw.html#plotting-spectral-density-of-continuous-data

does `mne` plot colours  only if there are spacial  information ?
if yes,  this is not a bug, but rath

[2022-11-29 12:04] agramfort commented on #11342
yes to have colors you need channel locations. You can add these with the
set_montage method

[2022-11-29 12:56] cbrnr opened #11343 "Default arguments of `raw.plot_psd()` changed"
### Description of the problem

It seems like the default arguments of `raw.plot_psd()` changed in MNE 1.2 (see example below).

### Steps to reproduce

[code]

### Link to data

_No response_

### Expected results

Result from MNE < 1.2:

![raw-plot_psd-1 1](https://user-images.githubusercontent.com/4377312/204534595-54a35167-ba05-4365-8fcb-b5b582d689d6.png)

### Actual results

Result from MNE >

[2022-11-29 13:45] ggrrll commented on #11342
ok thanks -- however, it would be nice to relax this constraint (basically, it can assign  random positions, if they are not provided)

ps: the bug label can be removed of course

[2022-11-29 14:04] drammock commented on #11342
In that case how will you be able to tell which color correspond to which channel? We won't *literally* assign random channel positions and then plot a head inset showing those fake positions --- that would be misleading.

[2022-11-29 15:19] larsoner commented on #11342
In principle we could use a different color scheme/map (maybe just one uniform one, like viridis) that just colors by channel number/index. That would help differentiate lines while still making it at least somewhat clear that the colors are not spatial (since the colors gradients there indicate left/right anterior/posterior somehow IIRC). The name `spatial_colors` becomes a bit weird there but we

[2022-11-29 20:41] drammock commented on #11342
I guess I'd be OK with using viridis or plasma to assign colors based on channel sequence.  It's still a bit misleading because it implies that channels that are adjacent in sequence are more similar than channels that are not adjacent in sequence.  But I guess there's no way around that.

WDYT about a warning or info, like "spatial_colors requested but channel positions not found, falling back to

[2022-11-30 07:58] ggrrll commented on #11342
glad to see that this sparked a discussion for FR :)

@larsoner  got my point I guess

this is my current use case: we do not have positions, we are just testing different electrodes types, which are located very close to each other. So, to answer to @drammock we differentiate simply by the channel id (which is a meaningful name, related to the experimental condition)
Currently I am plotting the s

[2022-11-30 09:51] eioe commented on #11339
ups, no, my bad. Thanks for pointing out the difference. From the user perspective, I'd find a `..warning::` helpful.
Maybe something like:

[code]

wdyt? Feel free to modify/rephrase/fix syntax. I do not have a MNE dev-setup on this machine and would like not to go through the process of setting it up for such a tiny PR. Would it be ok if someone else just puts it in the docstring? Thx!

[2022-11-30 11:43] agramfort commented on #11342
rather than complicating these on mne side @ggrrll I would suggest you make up a default/random montage for your data. It is pretty trivial to do with

https://mne.tools/stable/generated/mne.channels.make_dig_montage.html

my 2c

[2022-11-30 17:53] drammock commented on #11343
on `main` I see `Effective window size : 0.426 (s)` and on 1.1 I see `Effective window size : 3.410 (s)`.  Should be fairly easy to track down, I'll work on it.

[2022-11-30 20:18] #11339 closed