[2019-01-28 21:35] jona-sassenhagen commented on #5812
It seems so. But just consider: while nonoverlap of CIs implies significance, overlap of CIs doesn't imply non-significance. That is all.

No, I think what @palday is suggesting, and what I like, is to extend the API of `plot_compare_evokeds`. Feed it a dict of lists of epochs. It internally constructs evokeds from the epochs based on dict keys, plots them as before, although perhaps with within-s

[2019-01-28 21:38] dengemann commented on #5812
P-hacking. It does when we have 2 samples, it does not if there is a dependency structure like in paired tests where you need to bootstrap the difference.

@jona-sassenhagen @palday @mmagnuski making a public CI function that takes makes CIs would be a first step. Then we could make use of it in several examples and also call it from within plot_compare_evokeds.

I do not like this. FDR bonferoni

[2019-01-28 21:46] mmagnuski commented on #5812
That is the point of the issue - to allow for CI's of the within-subject difference in the viz (which is what one is interested in with within-subject designs).

[2019-01-28 21:46] jona-sassenhagen commented on #5812
I don't think so ...https://www.jstor.org/stable/27590520

[2019-01-28 21:46] dengemann commented on #5812
@palday @mmagnuski it turns out @jona-sassenhagen had a fundamental misunderstanding.

So forget the 2-sample problem wich is for single-subject data (within-subject is confusing). I missed the point that here we want to go over subjects.

[2019-01-28 21:50] dengemann commented on #5812
Let's not start with that. Bootstrap viz is a start, not the most rigorous way of doing inference.

[2019-01-28 21:54] dengemann commented on #5812
@mmagnuski we're getting there. I think we're on one page now. Let's just not implement correction factors that are not frequently used etc. We have some responsibility here ...

[2019-01-28 21:56] jona-sassenhagen commented on #5812
@mmagnuski what do you think about the `plot_compare_evokeds` API extension @palday suggested?

[2019-01-28 21:56] palday commented on #5812
I also had this problem when I first looked at this thread. All that said, I still don't think we should focus too much on making "inferential CIs" -- given all the subtleties already mentioned on this thread, I think making this stuff too easy encourages a very naive approach. The current CIs are sample-wise conservative, even if there are MC issues for the time-course itself -- and determining t

[2019-01-28 22:02] jona-sassenhagen commented on #5812
I'm using this already overly long thread to mention that in writing that short note, we came across a problem with sign-flip permutation tests that we may have to deal with eventually ...

[2019-01-29 09:54] JoseAlanis commented on #4059
Hello, I'd be glad to take care of this one if no one has started already.
Just for clarification, I was thinking of something like this:

_Biosemi amplifiers do not perform "common mode noise rejection" automatically. The signals in the EEG file are the voltages between each electrode and CMS active electrode, which still contain some CM noise (50 Hz, ADC reference noise, etc.). Thus, it is advis

[2019-01-29 13:35] ValMand commented on #5884
This happen to me as well
![image](https://user-images.githubusercontent.com/47141515/51911869-2c4fa700-23d3-11e9-9e81-991c4ca4751b.png)

[2019-01-29 14:10] agramfort commented on #5884
we definitely need to improve this. Ie make it easier to copy-paste
and/or add a warning note.

[2019-01-29 14:13] agramfort commented on #4059
would you put this info here
http://martinos.org/mne/stable/manual/io.html#biosemi-data-format-bdf ?

[2019-01-29 16:22] larsoner commented on #5868
Thinking about it more, I'm fine with `crop`. If we think of a "crop" operation as "trimming the current raw / average / epoch / source data for all channels/sources", then you can crop in freq just as easily as time, and it's different from other forms of subselection we have, such as trimming the set of epochs with `epochs[10:20]`, subselecting source vertices with `stc.in_label`, or the set of

[2019-01-29 16:42] massich commented on #5868
I might be wrong but *cropping in frequency* with `fmin=5, fmax=7` isn't this doing a bandpass selection?

If we should be able to do that I would do `time_crop` and `frequency_crop` and remove `crop`. but this is not gonna fly.

So, when I read this issue I found it great, now I've mixed feelings.

[2019-01-29 16:45] larsoner commented on #5868
Yes but in principle this isn't all that different from cropping in time. You (intentionally) lose information in either case, just in different ways.

[2019-01-29 17:06] agramfort commented on #5868
crop is a standard mne function name. Let's stick to this.

[2019-01-29 17:25] massich commented on #5868
That's exactly why we should not change it and having `crop` and `frequency_crop` is horrible, which takes us to `crop( tmin.. fmax)`. But when I put myself into position of doing `bla.crop+Tab` in iphython I find surprising `fmin=None, fmax=None`. That's why I was asking myself (outloud) how far was that from `tfr.crop(tmin=0.2, tmax=0.4).filter( l_freq=5, h_freq=7, type='selection')`

[2019-01-29 17:50] larsoner commented on #5854
It looks like `append` already has `extend`-like behavior, so we can just update the docstring.

[2019-01-29 17:56] mmagnuski commented on #5868
@massich
Do you mean that when doing for example `raw.crop(` the fmin and fmax would pop up? Can we subclass the crop mixin (if there is one) specifically for TFR? When doing `tfr.crop(`  finding fmin and fmax would be intuitive, I think.

[2019-01-29 18:02] larsoner commented on #5868
Yes we should just override it in the TFR classes.

[2019-01-29 18:04] mmagnuski commented on #5868
Btw I have a different intuitions for `filter` - that's an operation that requires additional processing and `crop` feels more like the only thing it does is dropping some data.

[2019-01-29 18:32] massich commented on #5868
OK that's fine :)

On Tue, Jan 29, 2019, 19:04 Mikolaj Magnuski <notifications@github.com>
wrote:

[2019-01-29 20:18] agramfort commented on #5868
+1

[2019-01-29 21:45] larsoner commented on #5867
For FIF the code changes would not be so bad, but as @jjnurminen suggests it would not work for all FIF files (split ones), and as @agramfort hints it wouldn't work with most other readers.

@arokem would it make your life a lot easier to have it for FIF? If so, I can try adding support for it, which seems reasonable alongside a docstring caveat that split files will not read properly.

[2019-01-30 03:57] larsoner opened #5891 "BUG?: reject and flat parameters not saved with epochs.save"
It would be useful to have for historical purposes, especially when using `autoreject` to set per-subject reject params. This seems like an oversight? If so we'll need some new FIFF constants to store the dicts.

[2019-01-30 07:36] agramfort commented on #5891
+1

[2019-01-30 08:30] #5884 closed

[2019-01-30 11:02] mmagnuski commented on #5891
👍

[2019-01-30 16:38] arokem commented on #5867
"A lot" is a very relative term. If you think that implementing this just for non-split FIF files is relatively easy, that would be a step forward. If it seems too niche to support, I will probably find a way around it (e.g., converting to HDF5 before uploading to GCS).

[2019-01-30 17:15] massich opened #5893 "Segfault when running make_report"
Can anyone replicate this error?

[code]

[2019-01-30 17:55] britta-wstnr commented on #5881
Then let's wait with LCMV forward model normalization until we have those tests?

[2019-01-30 18:21] larsoner commented on #5893
It is very slow but works for me.

I can almost guarantee if you add a `import faulthandler; faulthandler.enable()` at the top of `mne/report.py`, the segfault with be with Mayavi/VTK.

[2019-01-30 18:52] massich commented on #5893
[code]

[2019-01-30 18:56] larsoner commented on #5893
One thing you can try is add this before any `mlab.screenshot()` call in `report.py`:
[code]

[2019-01-30 19:01] massich commented on #5893
I get the same

[2019-01-31 10:13] #4059 closed

[2019-01-31 13:34] GuillaumeFavelier commented on #5893
but then I tried on my `(mne-vispy)` environment and then I got the following :
[code]

I don't know if it's related because in my case the script start at least.

[2019-02-01 20:47] #5288 closed

[2019-02-02 03:09] larsoner commented on #5867
I tried implementing this today, and unfortunately it's a bit tricky to implement. We control the `.close` (often via context manager), so we have to keep track of or fake that somehow. Even once that's done, internally we assume a filename is available in a number of places. Then the `raw.copy()` method just does `copy.deepcopy(self)`, which does not work if `self` has open file pointers (`TypeEr

[2019-02-02 09:11] #5767 closed

[2019-02-02 11:56] arokem commented on #5867
Thanks for trying. It might be that the short run solution is to convert locally to another file format before uploading to GCS. Feel free to close this, unless you want to keep this around as a reminder for future adventurous souls.

[2019-02-02 13:17] larsoner commented on #5867
Can you make a local copy of the entire thing when you need it instead?

[2019-02-03 13:29] AmirDJV opened #5899 "Extracting ICs number from corrmap"
I'm trying to use [mne.preprocessing.corrmap ](https://martinos.org/mne/stable/generated/mne.preprocessing.corrmap.html?highlight=corrmap) to identify artifacts. The output of the function returns:

Given that it already identify and plot the similar ICs, is there a way to extract the subject number and the ICs names?.
Thus, for example, when I identified eye blinking artifact in one subject, I ca

[2019-02-04 18:22] larsoner commented on #5867
Closing since unfortunately I think this is intractable for now.

[2019-02-05 08:49] agramfort commented on #5899
ping @jona-sassenhagen

[2019-02-05 09:13] jona-sassenhagen commented on #5899
Check the ```label``` kwarg.

[code]

I.e., if you give a label here, corrmap will store a list of the selected ICs for each ICA, in a dict that you can find on the ICA object itself. I.e., `my_ica.labels_["eog"]`. Makes sense?

Don't forget that this is only temporary (in memory) - you have to save the ICA object to disk to make it permanent.

[2019-02-05 09:15] jona-sassenhagen commented on #5868
I agree `frequency_crop` is terrible, but `crop_frequency` is not bad. Though `tfr.crop(fmin=` is also fine.

[2019-02-05 09:46] AmirDJV commented on #5899
Makes perfect sense, don't know how I missed that. Thank you!

[2019-02-05 09:46] #5899 closed

[2019-02-07 07:42] cbrnr opened #5903 "Use labels for WIP and MRG"
Instead of prepending [WIP] or [MRG] to PR titles, we could create WIP and MRG labels that let the author indicate the current status of a PR. One benefit of this would be the ability to filter through WIP and MRG much more easily. In addition, titles get shorter and thus easier to read. WDYT?

[2019-02-07 08:27] agramfort commented on #5903
no strong feeling. It's just my old habits. I also see by doing this the
status in the title of the email notification which I find quite handy

[2019-02-07 12:26] larsoner commented on #5903
AFAIK only people with write permissions on the repo have control over labels, everyone can control their own titles.

[2019-02-07 12:26] #5903 closed

[2019-02-07 18:33] cbrnr commented on #5903
You're right, this is something that GitHub could add.

[2019-02-08 10:09] ezemikulan opened #5906 "IndexError in epochs.plot() when first epoch of next page is marked as bad and there is a bad channel"
#### Description:
An IndexError occurs when the first epoch of the next page (i.e. epoch nr 21 when n_epochs=20) is marked as bad and there is a bad channel. It would be fixed by changing:

 _if bad_idx < start_idx or bad_idx __>__ end_idx:_  _(line 1275 of /mne/viz/epochs.py)_
to:
 _if bad_idx < start_idx or bad_idx __>=__ end_idx:_

However, I'm surprised that this didn't show up before (since t

[2019-02-08 11:39] cbrnr opened #5907 "Need a way to show/hide annotations in raw.plot"
With the latest changes in how MNE handles discrete events (it now creates annotations), manually adding annotations in `raw.plot` can get impossible. For example:

[code]

This results in the following raw browser window:

<img width="1663" alt="screen shot 2019-02-08 at 12 32 40" src="https://user-images.githubusercontent.com/4377312/52476031-acc59300-2b9d-11e9-8a7f-3c7c09c111e7.png">

Annotatio

[2019-02-08 13:23] agramfort commented on #5907
good point. Yes we need offer a way to toggle certain annotations.

[2019-02-08 16:14] fraimondo opened #5908 "info meas_date field not being saved"
#### Describe the bug

Saving a _big_ RAW object creates a split FIF file which is then not readable.

The problem arises when setting the annotations. This is the traceback:

[code]

Digging a bit more into the code, it look like the 'meas_date' field of the info is not being saved:

[code]

#### Steps and/or code to reproduce

Please provide a code snippet or [minimal working example (MWE)](http

[2019-02-08 16:32] larsoner commented on #5908
That `meas_date` is special, it's meant to be equivalent to `None`. So it should be fine that it's not saved.

This looks like a dup of #5856 so I'll close, feel free to reopen if I'm wrong

[2019-02-08 16:32] larsoner commented on #5908
Actually the other one is an `allclose` problem and this is a can't-even-read problem, reopening.

[2019-02-08 16:42] fraimondo commented on #5908
I just checked using a file < 2GB so it's single. And I still have the same issue.

The file that has the problem comes from GDF files read with `read_raw_edf`.

Workaround: Set the date to 1970-01-01 00:00:00 before saving
[code]

Here's a code to reproduce the issue:

[code]

[2019-02-08 16:49] larsoner commented on #5908
Yes we should treat `DATE_NONE` (i.e., `(0, 2147483647)) the same as None but we appear not to do so.

[2019-02-08 19:57] hekolk opened #5909 "Merging Infos fails for numpy scalars"
Merging ``Info``s fails when encountering numpy scalars (e.g., in ``'dig'``). This happens for example when adding a bipolar reference (see example below) or also when adding channels to a Raw after a montage has been set

#### Code to reproduce

[code]
This is due to the fact that the ``ident`` values are ``np.int64`` scalars (see https://github.com/mne-tools/mne-python/blob/master/mne/io/meas_in

[2019-02-08 20:09] larsoner commented on #5909
Yes making `object_diff` better at its job is a good fix

[2019-02-08 20:33] agramfort commented on #5909
see https://github.com/mne-tools/mne-python/pull/5910

[2019-02-08 20:48] agramfort commented on #5908
indeed

Fede do you have time to send a PR?

[2019-02-08 20:51] agramfort commented on #5906
issue confirmed and bug fix suggestion does fix it for me. Can you open a
PR?

thanks heaps

[2019-02-08 22:08] #5909 closed

[2019-02-09 10:46] fraimondo commented on #5908
Yes.

I'll take a look.

What I don't get its if the annotations should not work with DATE_NONE or
None should be replaced with DATE_NONE.

In any case, the EDF reader is giving me that date and the annotations.

On Fri, 8 Feb 2019, 21:48 Alexandre Gramfort, <notifications@github.com>
wrote:

[2019-02-09 23:09] jona-sassenhagen opened #5912 "mne.statistics.linear_regression for EpochsTFR"
A no-brainer. Now that TFR's have metadata, this should be done here, too. API stays as before, only it also allows `mne.statistics.linear_regression`.

(The same should also eventually be done for `linear_regression_raw` and the Encoder module.)

[2019-02-10 19:39] larsoner opened #5916 "MAINT: CIs"
Just wanted a place to keep track of all of the CI-related stuff we need to do.

- [x] Simplify CircleCI. Currently we do some hack workarounds for Qt that are probably related to library version and path problems (#5930).
- [x] add support for Qt 5.12+. It was breaking CIs with:

   This is probably a library problem, like [this](https://forum.qt.io/topic/93247/qt-qpa-plugin-could-not-load-the-qt

[2019-02-10 20:49] #5906 closed

[2019-02-10 20:58] larsoner commented on #5908
Thinking about it again, we should detect `meas_date == DATE_NONE` on reading FIF and set `meas_date = None`, in other words this is really a problem with our FIF I/O somewhere.

[2019-02-10 20:59] larsoner commented on #5908
Argh actually we have explicit tests about having `DATE_NONE` in there, so never mind. Let's just make `Annotations` treat `None` and `DATE_NONE` the same way.

[2019-02-10 21:05] agramfort commented on #5908
yes

can you open the PR or you want to let this to @massich ?

[2019-02-10 21:09] larsoner commented on #5908
@fraimondo I think that's a question to you -- can you try, and if it does not make sense, someone else can take a stab at it?

[2019-02-10 21:13] fraimondo commented on #5908
Let me take a look.

So for Annotations, None and DATE_NONE should be the same.

I’ll see how this could work with my GDF files with annotations and bad dates. As it is now, annotations should not work without a not None meas_date.

[2019-02-11 10:06] IDCtolik opened #5918 "Plotting a modified ICA object while awaiting arguments"
Hello,

I'm trying to get some plots of an ICA object, then to be prompted to enter channels to exclude upon examining my plots, and finally have my script print the plots of the now modified ICA object.
The issue is that none of my plots are complete (blank white windows) until I enter the missing arguments...
Any suggestions for a workaround?

[2019-02-11 10:55] agramfort commented on #5918
Sorry I don't understand your problem. Can you clarify. What are you trying
to do?

[2019-02-11 11:16] IDCtolik commented on #5918
Hi, thank you for your reply!

so this is the order of events:

*create a new ICA , lets denote it as ica0 object
*run a few plot functions on the ica0
*examine the plots (the first set of plots should be complete at this point, before the script blocks for waiting for my input)
*prompt the user for input, the input should be indices of channels to exclude
*exclude the channels from ica0
*call plo

[2019-02-11 12:16] agramfort commented on #5918
what do you mean the script blocks? do you set block=True in matplotlib?

[2019-02-11 15:28] #5891 closed

[2019-02-11 15:53] IDCtolik commented on #5918
I mean the script  will do nothing until I give the user input, I didn't set block=true in matplotlib, will adding a picture, code snippet help?

[2019-02-11 16:15] agramfort commented on #5918
user input?

[2019-02-11 21:37] #5854 closed

[2019-02-12 14:58] massich commented on #5908
@fraimondo if you have any trouble with it you can ping me.

[2019-02-12 15:01] makkostya opened #5924 "Feature: Source labels simulation"
As I said in #5058 , I start the discussion of source labels simulation feature, so feel free to participate in it.

The objective is to create a function which would provide a simple an general way to simulate cortical regions which would be used for stc simulation.

There is already a function `grow_labels` in MNE which creates growing regions around a seed point but it requires some extra scrip

[2019-02-12 15:02] makkostya commented on #5058
Here is the issue to discuss Source labels simulation part #5924

[2019-02-12 15:10] massich commented on #5058
There's no need to manually cross-reference the issues manually. Github does it for us in the timeline.

[2019-02-12 15:13] massich commented on #5924
@makkostya could you open a PR with the code you are proposing and reference #5058? Ping me if you need any help with it.

[2019-02-12 15:23] makkostya commented on #5924
For the moment there is no code to pull. I just started the discussion.

[2019-02-12 18:42] jeon11 opened #5926 "'module' object has no attribute 'fiff'"
Hello, I am not sure if this would be the appropriate place to ask a question, but I am new to exploring the mne, and I used pip to install mne.
`pip install men --user`

I tried to follow along the tutorial to get a sense of the toolbox, but I faced an error with
[code]

I was wondering if any other people had similar problem as me. Thanks!

[2019-02-12 18:43] larsoner commented on #5926
Is that actually the line you used? `mne` is misspelled.

What version did `pip` say it installed? What's the complete traceback?

I have not seen an error like this before.

[2019-02-12 20:22] jeon11 commented on #5926
My apologies. I used `mne'. The `men` above was auto-correction!

But, yes, I used `pip install mne --user` and it now shows:
`Requirement already satisfied: mne in ./Library/Python/2.7/lib/python/site-packages (0.17.0)`

my pip version is 19.0.1. It does say I can upgrade to 19.0.2. I'll try updating it and reinstalling again meanwhile.

[2019-02-12 20:27] agramfort commented on #5924
I would go with:

[code]

then if you want many labels just use a for loop.

wdyt?

[2019-02-12 20:30] agramfort commented on #5926
what is the line that created the crash?

did you by any chance name a file mne.py?

[2019-02-12 20:52] jeon11 commented on #5926
Nope, I didn't have the file named mne.py.
I called in:
`raw = mne.fiff.Raw(raw_fname)` (same as the tutorial). Then it showed me:

[code]

However, I'm thinking the mne didn't properly get installed on my computer, because suddenly when I tried to `pip install --upgrade pip --user`, it suddenly showed:
[code]
Trying to look into this problem, but if you have any pointers to this problem, that wou

[2019-02-12 20:53] agramfort commented on #5926
you're code is too old. I don't know where you got this code snippet. mne
has changed since then.

[2019-02-12 21:11] jeon11 commented on #5926
Hmm I used `pip freeze` and it showed `mne==0.17.0` which I am aware it as the latest version support for Python 2.

Are you referring to the `raw = mne.fiff.Raw(raw_fname)` that is being old, or the error traceback message that's old?

[2019-02-12 21:17] agramfort commented on #5926
mne.fiff is not the right syntax for mne 0.17

Please see current documentation

It should me mne.io now

[2019-02-12 21:44] jeon11 commented on #5926
Oh I guess I was looking at the outdated tutorials page?

I was trying to follow along https://mne-tools.github.io/mne-python-intro/#access-raw-data

Should I refer to http://martinos.org/mne/stable/tutorials/philosophy.html as a good starting point?

[2019-02-13 01:53] #5753 closed

[2019-02-13 10:56] britta-wstnr opened #5928 "[BUG] Computation of noise in NAI beamformer"
The noise computation in the NAI beamformer is flawed. In case of full rank matrices, it throws the following error now (as discovered by @MadsJensen):

[code]
However, in this case, the beamformer should just rely on the smallest eigenvalue of the covariance matrix SVD, which represents the noise level.

@agramfort @wmvanvliet @sarangnemo

[2019-02-13 12:54] massich opened #5929 "Are martinos.org and mne-tools.github.io in sync?"
[martinos](https://martinos.org/mne/dev/documentation.html#collapse_io) and [github](https://mne-tools.github.io/dev/documentation.html#collapse_io) do not show the same. Suggesting that the dev documentation in martions website might be out of date.

We could:
(a) redirect the dev doc to github.io (I'm not sure about the implcations of this)
or (b) use [github's actions](https://github.com/featur

[2019-02-13 12:57] larsoner commented on #5929
@agramfort has to do it manually due to restricted access

[2019-02-13 12:57] #5929 closed

[2019-02-13 12:58] larsoner commented on #5929
(and we want to keep the doc on the Martino's site)

[2019-02-13 14:19] makkostya commented on #5924
I put list of labels as possible input because theoretically user could want to simulate two regions issued from different parcels, allowed to grow outside their parcels but not allow these regions to intersect. In this case two parcels could not be treated independently via for loop. Even though I think that this scenario is quite unlikely.

Another advantage of giving list of labels as an input

[2019-02-13 15:02] massich commented on #4494
@bdyetton have you checked #5718 #5699 and what this test is doing?

https://github.com/mne-tools/mne-python/blob/1e532042a5877b28fe2a2ef88977d98264716a9b/mne/io/edf/tests/test_edf.py#L273-L278

at this point `mne-python/master` should be able to do what you need.

I'm closing this issue, if there's anything that does not work feel free to reopen or open a new one.

[2019-02-13 15:02] #4494 closed

[2019-02-13 15:27] agramfort commented on #5924
let's do one thing at a time and add options when need emerges. I
think that n_jobs here is also overkill given how fast it should be to
compute.

[2019-02-13 15:31] agramfort commented on #5928
maybe we can look at this after the completion of the rank refactoring ? I would suggest to address this during the sprint too.

[2019-02-13 15:41] sarangnemo commented on #5928
@agramfort not sure of the timeline of the rank refactoring, but this bug is a blocker for us locally, we have several users affected.

[2019-02-13 16:16] larsoner commented on #5928
I can take a look to see if the fix is simple enough. This can become one more thing to consider when unifying later.

[2019-02-13 16:27] agramfort commented on #5928
ok fair enough

can we have a code snippet to replicate / fix?

[2019-02-13 16:30] larsoner commented on #5928
@sarangnemo @britta-wstnr I tried changing a test in `test_lcmv.py` that computes:
[code]
But I did not hit this error. I also had to remove the three active projectors. That's because this failure mode occurs when:

1. `reg=0` (which causes `loading_factor=0` to be returned by `_reg_pinv`), *and*
2. `rank >= len(Cm)`

Perhaps this conditional needs to be `rank > len(Cm)`? I'll implement it and mo

[2019-02-13 16:39] marsipu opened #5933 "Bug: mne import failure"
Upgrading a stable version of mne-python (0.17.0) to the current developement version (0.18.dev0) leads to an error when importing the module mne. The upgrade was done via the pip install --upgrade command.

OS: Windows 10
conda --version: conda 4.6.3
python --version: Python 3.6.5 :: Anaconda, Inc.

# Creating a new mne environment with conda
[code]
# pip-upgrade to developement version
[code]

#

[2019-02-13 16:43] larsoner commented on #5928
https://github.com/mne-tools/mne-python/pull/5934

[2019-02-13 16:43] agramfort commented on #5926
yes it's outdated.

@larsoner @drammock  what do you think we do about this? I am not sure we have an equivalent 10mins  tutorial. I like the idea of having getting started with MNE in 60 mins just after the link that says how to install stuff.

See for example the https://pytorch.org/tutorials/ that first points to https://pytorch.org/tutorials/beginner/deep_learning_60min_blitz.html

[2019-02-13 17:52] hubertjb opened #5935 "Default MNE_DATASET_PATH variable in config"
I am working with MNE's data fetchers, and more specifically looking at using the [Sleep Physionet dataset](https://mne-tools.github.io/dev/generated/mne.datasets.sleep_physionet.age.fetch_data.html#mne.datasets.sleep_physionet.age.fetch_data). I would like to make sure that when I download the data for the first time it gets saved to a specific directory on my machine.

I saw that the argument `p

[2019-02-13 17:52] larsoner commented on #5935
It already exists, the docstring is probably just out of date. Can you check?

[2019-02-13 17:53] larsoner commented on #5935
(The key is `MNE_DATA`)

[2019-02-13 18:02] hubertjb commented on #5935
Aah got it thanks!

So it appears here: https://github.com/mne-tools/mne-python/blob/2502260f48b84299c00530ab09fdc9e2b2a4cddf/mne/datasets/utils.py#L170
and here:
https://github.com/mne-tools/mne-python/blob/2502260f48b84299c00530ab09fdc9e2b2a4cddf/mne/utils/config.py#L89

So all that's missing is the information in the docstrings of the `fetch_data` functions? If so I can update them.

[2019-02-13 18:05] larsoner commented on #5935
It's probably best to start using the `doccer` methods we have available now. See how we do it here:

https://github.com/mne-tools/mne-python/pull/4511/files#diff-c0cc0663d36fcb3b69d6e33a22573db1

Basically you separate what is always said the same way into chunks, then construct the docstring using `%(whatever)s`. Then you need to decorate the function with either `@verbose` (if it has a verbose

[2019-02-13 19:27] drammock commented on #5926
@jeon11 the more up-to-date tutorials are here: http://martinos.org/mne/stable/auto_tutorials/index.html

In particular, this one covers similar ground to what you were looking at: martinos.org/mne/stable/auto_tutorials/plot_sensors_time_frequency.html

[2019-02-13 19:41] drammock opened #5937 "DOC: single entry point and linear path through tutorials"
This issue is for planning the next round of doc improvements.  The goals for this round:

1. a single entry point for new users for a "getting started" or "60 minute blitz" tutorial or sequence of tutorials.
2. a linear path through tutorials (even if not part of the "getting started" series)
3. general improvements to all tutorials:
    - more verbose explanations
    - more links to methods lit

[2019-02-13 19:41] drammock commented on #5926
@agramfort I've been wondering about that page...  came across it a couple days ago.  Was planning to delete it as part of my next PR.

I like the "60 minutes" idea, I'll keep that in mind when putting together the new tutorial sequence.  Let's continue discussion in #5937.

[2019-02-13 19:45] larsoner commented on #5926
Sounds like a plan to me

[2019-02-13 20:02] larsoner commented on #5937
All sound good in prinicple. In practice (2) might be tough given that people can go different routes. For example Lauri's and MNE's diagrams look like this, and they only cover source localization:

![source_modelling_workflow](https://user-images.githubusercontent.com/161052/51863928-a257fd80-2342-11e9-90a1-eedeb0288738.jpg)

![cookbook](https://martinos.org/mne/stable/_images/flow_diagram.svg)

[2019-02-13 20:58] drammock commented on #5937
Yes, people can go different routes, and not all routes lead to `SourceEstimate`.  What I'm envisioning is:

1. the tutorials gallery page should get some structure (in the form of subheadings) similar to the "auto examples" gallery
2. we pick one workflow to use in the "getting started" tutorial sequence, and put those tutorials under the first subheading of the new tutorials gallery
3. other "wo

[2019-02-13 21:10] #4502 closed

[2019-02-13 21:47] larsoner commented on #5937
I think we should try to make a monolithic diagram first, and if it becomes unwieldy, separate it. So far we have mostly avoided MNE objects feeding back onto themselves recursively or anything challenging like that, so I'm optimistic it's possible (hopefully without looking terrible!).

One motivation is that most workflows will involve the same steps (reading data, preprocessing, epoching), and

[2019-02-14 08:22] agramfort commented on #5937
tutorials are flat now as they were meant to be linked from documentation.rst
just to tell you the historical decision. I don't any strong feeling
about it but
I would start about documentation.rst again to put some highlights and make
flow diagrams to help people get the big picture

[2019-02-14 08:24] #5928 closed

[2019-02-14 08:34] #5926 closed

[2019-02-14 08:53] agramfort commented on #5933
I cannot replicate the problem on my mac.

maybe @OlehKSS you can try to replicate on your windows machine?

[2019-02-14 10:02] OlehKSS commented on #5933
@agramfort I replicated the steps mentioned above and got the same issue on my Windows 10 laptop

[2019-02-14 10:17] massich commented on #5933
does it mean that appveyor is broken?

[2019-02-14 10:31] massich opened #5941 "[ENH] MNE-Python 0.17.1 release"
WDYT?

[2019-02-14 10:58] OlehKSS commented on #5933
This is what I get
41696b162526f559dd7d139352eae178

[2019-02-14 11:12] agramfort commented on #5933
can you compare the files you get on windows and on linux? can you confirm that the same file produces differents hashes on unix or win?

[2019-02-14 12:14] agramfort commented on #5941
+1

branch is update to date as well as website?

Shall I just push to pypi?

[2019-02-14 12:36] OlehKSS commented on #5933
This is the file that I have on my system
[gdf_encodes.txt](https://github.com/mne-tools/mne-python/files/2864976/gdf_encodes.txt)

[2019-02-14 12:44] agramfort commented on #5933
can you check that you have different hash on windows or linux?

[2019-02-14 12:58] larsoner commented on #5933
The files have different line endings, on Windows they are CR-LF and on Unix LF

[2019-02-14 13:01] larsoner commented on #5933
(yes the hashes are different, the Windows one is 41696b162526f559dd7d139352eae178 and Unix 12134a9be7e0bfa5941e95f8bfd330f7)

[2019-02-14 13:08] larsoner commented on #5941
The CircleCI build for `maint/0.17` failed so no don't release yet

[2019-02-14 13:10] larsoner commented on #5941
Scratch that, someone must have restarted the build so that's fine. But we should probably also squeeze #5942 in the release.

[2019-02-14 13:18] agramfort commented on #5941
ok cool

let me know when I can push to pypi

I'll also update then the martinos website

[2019-02-14 14:13] #5933 closed

[2019-02-14 14:27] massich commented on #5941
There's no need. The file is not in 0.17

[2019-02-14 14:55] larsoner commented on #5941
You should be good to go @agramfort

[2019-02-14 18:07] danieldiamont opened #5943 "Loading BDF file fails on UTF-8 decoding error"
#### Describe the bug
Please provide a clear and concise description of the bug.

The header of my BDF file has a patient with a name that contains the character `è`, which causes line 600 of `io/edf/edf.py` to fail with error:

[code]

#### Steps and/or code to reproduce

Loading any `.bdf` file with that accent causes the issue. The issue occurs with the most recent pip package and the current h

[2019-02-14 18:20] larsoner commented on #5943
This suggests that EDF does not encode using UTF-8. We should find out what encoding they use, and `decode()` with that.

[2019-02-14 19:48] agramfort commented on #5943
how did you write the edf file? is utf-8 accepted by the standard? is there
a way to know if the edf file should be decoded in latin1 or utf-8?

[2019-02-14 20:39] cbrnr commented on #5903
Wow - https://github.blog/2019-02-14-introducing-draft-pull-requests/

Let's use that instead!

[2019-02-15 05:42] drammock commented on #5937
I spent some time iterating the flowchart today.  (I did it with [mermaid](https://mermaidjs.github.io/mermaid-live-editor) as it's faster to iterate because it regenerates automatically; I can translate back to pygraphviz when it's finalized.)  Even with minimal additions (more thorough annotation of arrows and addition of the pipeline for getting anatomical labels) it starts to get hairy:

![ori

[2019-02-15 05:48] drammock commented on #5937
here's a gist for the mermaid source, if anyone wants to play around with it: https://gist.github.com/drammock/17508eed83485c470d93036fdd5bfd9c

Also FYI there is [a mermaid plugin for sphinx](https://github.com/mgaitan/sphinxcontrib-mermaid)... probably only worth trying out if we opt for the "many simpler diagrams" approach, since it does poorly with big charts and its layout can't really be twe

[2019-02-15 07:34] cbrnr commented on #5943
AFAIK the standard does not mention which encoding should be used. We've stumbled into a similar issue for GDF files, which we solved by using `.decode('latin-1')`. This should take care of the accent (and other special characters).

[2019-02-15 07:56] agramfort commented on #5943
cool. Who sends the PR and shares a test file?

[2019-02-15 10:50] massich commented on #5937
@drammock I did not know mermaind I was using plantuml (I guess I'm an old fella)

[2019-02-15 11:50] jaaval opened #5945 "make lcmv doesn't check weight_norm parameter"
#### Describe the bug
make_lcmv doesn't check the validity of weight_norm parameter.

#### Steps and/or code to reproduce
call make_lcmv with any invalid weight_norm name e.g. weight_norm='asdf'
Using MNE examples:

[code]

#### Expected results
ValueError thrown due to not supported parameter

#### Actual results
There is no error or any unexpected output text if pick_ori is None or 'normal'. Jus

[2019-02-15 12:25] massich commented on #5945
It does break, the only thing is that the error is not really helpful:

[code]

[2019-02-15 12:32] massich commented on #5945
in the `mne.beamformer.make_lcmv` doc [here](https://martinos.org/mne/dev/generated/mne.beamformer.make_lcmv.html?highlight=weight_norm) it states that `weight_norm` can only be one of these 3 values:

- string `'unit-noise-gain'`
- string `'nai'`
- `None`

[2019-02-15 12:43] agramfort commented on #5937
that's amazing !

having editable graphs with a text editor we can easily generate and update
for the doc is awesome

[2019-02-15 12:51] agramfort commented on #5945
are you working on this @massich ?

[2019-02-15 12:51] massich commented on #5945
I'm making a PR with the paremeter check, we can discuss further there.

[2019-02-15 15:01] larsoner commented on #5937
One question is about graphs being conceptual or input-output mappings.

What you built is what I'd consider an input-output map: what functions do I use, what are the output types that I need to feed to the next operation. I was thinking more at the conceptual level, at least for the landing page / introduction somewhere. (We can't cover both in a single map for all of MNE because as you see it w

[2019-02-15 15:11] agramfort commented on #5937
to make dreams come true is it possible to render such graph at
different levels of details eg to click/zoom and be able to see on a
phone display? also can we make the boxes clickable to refer to
functions in the API page... Yes I know I am dreaming out loud....

[2019-02-15 16:23] larsoner commented on #5903
Unfortunately I just tried it, and only LGTM and AppVeyor ran, CircleCI and Travis did not. So we might have to wait for the CIs to adjust to this new system

[2019-02-15 16:24] larsoner commented on #5903
... actually it might have just been very (spuriously) delayed. I'll try on my next relevant PR

[2019-02-15 17:23] cbrnr commented on #5943
I can do the PR if nobody else beats me to it.

[2019-02-15 18:49] drammock commented on #5937
@agramfort it is possible to bind Mermaid node boxes into hyperlinks or javascript callbacks.  Not sure how easy it would be for that to trigger a zoom-in action.  But the default in-page rendering of a mermaid diagram is SVG, so a normal phone-screen pinch-zoom should at least yield close-ups of sections of the diagram that are more legible than the PNGs I generated locally with the CLI tool.

[2019-02-15 19:01] massich commented on #5937
I tried to find a way to put your green boxes when hubbering the lines 'cos
they represent how you go from one box to the next. But I couldn't find how
to do that.

On Fri, Feb 15, 2019, 19:49 Daniel McCloy <notifications@github.com> wrote:

[2019-02-15 19:01] drammock commented on #5937
@larsoner OK, now I understand.  I was misled by the arrow labels on the original diagram into thinking that you wanted *all* the arrows labeled, plus new arrows/nodes added.  I am fine with the idea of a conceptual diagram for the main documentation landing page, and maybe a few more detailed input-output diagrams for particular sequences of tutorials (AKA "workflows").

[2019-02-15 19:03] larsoner commented on #5937
So it sounds like people like the diagrams (conceptual and detailed), as well as image-map-like functionality. Want to try adding the main conceptual + one specific one to #5944? (Or whatever seems like the best way to do it from your perspective?) That way we can see and test an alpha version.

[2019-02-15 19:03] drammock commented on #5937
@massich there's supposed to be a way to specify "tooltips" when hovering over nodes, but it didn't work when I tried it yesterday (but admittedly I didn't try very hard to figure out why not).  But even if it did work; as far as I know the tooltip only works for nodes, not for connections.

[2019-02-15 19:06] drammock commented on #5937
@larsoner I'll add a conceptual one to #5944 (today), and add a specific one to the first "tutorial sequence" in that same PR (probably mid-next-week).  Thoughts on mermaid vs. pygraphviz for the final product?

[2019-02-15 19:07] larsoner commented on #5937
Mermaid seems better and more easily integrated during doc build

[2019-02-15 19:15] massich commented on #5937
Can we make a PR with only adding the mind map? Kind of swapping the one we
have in the cookbook. And iterate from there.

On Fri, Feb 15, 2019, 20:07 Eric Larson <notifications@github.com> wrote:

[2019-02-15 19:18] massich commented on #5860
@hubertjb can we close this?

[2019-02-15 19:21] larsoner commented on #5860
Yes the PR has been merged

[2019-02-15 19:21] #5860 closed

[2019-02-15 19:22] larsoner commented on #5937
I'm not sure that's the best way to go. The contents and layout will depend on how we want to structure the rest of the doc. If the monolithic PR (which #5944 might end up being) seems to unwieldy we can always separate it out.

[2019-02-15 20:30] agramfort commented on #5943
go for it please

[2019-02-16 11:05] cbrnr opened #5948 "Download status bar shows incorrect speed"
I just downloaded the testing data with

[code]

The download is extremely slow. However, the status bar shown high speed such as

[code]

Obviously, this is incorrect - maybe because the total file size is unknown? Should we do something to fix this?

[2019-02-16 12:34] larsoner commented on #5948
Yeah we should. AFAIK it really only happens with `testing` because it fails to get the size properly sometimes for that dataset in particular, because it comes from GitHub which does some redirects.

[2019-02-16 12:47] marsipu opened #5951 "Bug: Autoreject missing six.py in 0.18.0"
#### Describe the bug
When I try to import autoreject in the developement-version of mne-python, an ImportError occurs. I previously have installed autoreject via pip.
The six.py-file seems to be missing in .../mne/externals/

#### Steps and/or code to reproduce
Activate environment of mne-developement-version
pip install autoreject (if not already done)
**Python**
[code]
#### Expected results
No

[2019-02-16 12:51] larsoner commented on #5951
This is a bug with https://github.com/autoreject/autoreject, can you open an issue there?

[2019-02-16 12:51] #5951 closed

[2019-02-16 13:11] cbrnr commented on #5948
OK. Another thing that bothers me is that the status bar doesn't update itself in the same line, but each update creates a new line. Would it make sense to just use `tqdm` for any progress bars we need?

[2019-02-16 13:16] larsoner commented on #5948
It should update on the same line. You are probably looking at a terminal that does not support backspace, so tqdm would not help

[2019-02-16 13:18] marsipu commented on #5951
Oh, I see, sorry. It is already fixed on autoreject by agramfort

[2019-02-16 13:26] cbrnr commented on #5948
You're right, obviously this doesn't work in the PyCharm terminal.

[2019-02-16 17:56] agramfort commented on #5948
I don't know how we can fix this without changing the way we work with the
testing data

[2019-02-16 18:45] agramfort commented on #5941
0.17.1 is on pypi and website is updated

[2019-02-16 22:20] #5943 closed

[2019-02-17 18:50] jona-sassenhagen opened #5952 "Make _plot_image public"
evoked and tfr image plots have some fairly elaborate code to plot images with mask and contour. We could expose the (shared) underlying code publicly, greatly simplifying plotting of e.g. statistically thresholded GAT matrices.

[2019-02-18 09:32] QB3 opened #5953 "simulate_sparse_stc throws assertion error when n_dipoles > len(labels)"
#### Describe the bug
 ```simulate_sparse_stc ```  throws an assertion error when   ```n_dipoles > len(labels) ```.
It should generate   ```min(n_dipoles, len(labels))  ``` dipoles.

#### Steps and/or code to reproduce
If you slightly modified the code of the following MNE example:
https://www.martinos.org/mne/stable/auto_examples/simulation/plot_simulate_evoked_data.html#sphx-glr-auto-examples-si

[2019-02-18 09:50] agramfort commented on #5953
I would suggest to raise an informative exception message rather than
silently using min(n_dipoles, len(labels))

[2019-02-18 10:09] QB3 commented on #5953
OK then we will have to change also the current warning msg:
https://github.com/mne-tools/mne-python/blob/8b00fc96ec8574c364007ea6b9655eb288d464bb/mne/simulation/source.py#L180

[2019-02-18 14:12] agramfort commented on #5953
hum so now you get a warning but it will always crash afterwards? Basically warn should be ValueError or the `min(n_dipoles, len(labels))` should actually be implemented?

[2019-02-18 15:09] QB3 commented on #5953
yes, current warning is  ```The number of labels is different from the number of dipoles. 2 dipole(s) will be generated```, but then an assertion error is thrown

[2019-02-18 15:48] agramfort commented on #5953
ok then I would make it a ValueError and not a warn

[2019-02-18 15:50] larsoner commented on #5952
Okay with me

[2019-02-18 16:32] agramfort commented on #5952
what would be the signature of the public funciton?

[2019-02-19 01:32] dongfangyier opened #5956 "Some questions about ’resample‘"
Hi，

Today I have some problems. When I use the MNE library for downsampling, I want to reduce the sampling rate from 5000Hz to 256Hz.
I used the following method.
Raw. resample (256, npad='auto')

Or should I use the following method?
Raw = raw. filter (None, 128)
Raw. resample (256, npad='auto')

I looked at the source code, but did not understand whether the function "resample" had its own filt

[2019-02-19 04:09] jasmainak commented on #5937
I'm not sure a super complex diagram is a good idea. Instead of focusing on new fancy diagrams, I think a clear tutorial giving an overview of what is going on in the cookbook might be more useful. I did recently see Matti using an animated version of the cookbook diagram -- which seemed super useful. But you could also do something similar using proper subsections in text.

One needs to be upfron

[2019-02-19 07:16] cbrnr commented on #5956
Yes, resampling includes the necessary anti-aliasing filter (see also [here](https://martinos.org/mne/stable/auto_tutorials/plot_artifacts_correction_filtering.html)).

[2019-02-19 09:46] #5815 closed

[2019-02-19 09:50] QB3 commented on #5953
OK I will do this then:
-  ```n_dipoles > len(labels)```  --->>> ValueError
- ```n_dipoles < len(labels)```  ---->>> keep the same gene

[2019-02-19 14:21] agramfort commented on #5953
go for it @QB3

[2019-02-19 17:38] jeythekey opened #5960 "Movement compensation of CTF data by Maxwell filtering *without* external interference suppression?"
I would like to do movement compensation of CTF raw data (several runs of length 15-20 Minutes), in order to concatenate epochs within them in sensor level for decoding analyses. I still want to be able to apply the CTF gradient compensation, since it appears to me to give superior noise suppression over pure tSSS in my dataset.
I already extracted the continuous head position with ```mne.chpi._ca

[2019-02-19 17:57] jona-sassenhagen commented on #5952
The private function is here:

https://github.com/mne-tools/mne-python/blob/master/mne/viz/utils.py#L2556

Current call signature:

[code]

Probably ax should become a default kwarg ... data is mandatory ... I'd switch times and yvals for xvals and yvals and make both default to None ... maybe add a title, x/ylabel, cbar. So:

[code]

@cbrnr @mmagnuski

[2019-02-19 18:14] drammock opened #5961 "MNE-C install instructions don't work for macOS 10.14"
The install instructions [here](https://mne-tools.github.io/dev/install_mne_c.html) that worked up through macOS 10.13 apparenty don't work for 10.14. Some brief discussion near end of #5905.

cc @ktavabi @larsoner. Needs testing, @ktavabi are you up for it?  If not, could you at least elaborate here what exactly went wrong?

[2019-02-19 18:51] ktavabi commented on #5961
I didn't really document the errors so I would have to reproduce them. Basically, I just wanted to try and confirm that xquartz gives rise to issues. I hit an error with version 2.7.9 in Rstudio and updated to 2.7.11 which resolved the issue. But during the process, I discovered that mne-c doesn't work with either xquartz versions on my 2018 MBP running OSX 10.14. Right now `mne_analyze` returns _

[2019-02-19 18:52] drammock commented on #5937
@jasmainak I like the idea of adding in the correspondence between the equation and the flowchart.  And I agree that a "super-complex" diagram is a bad idea.  Are you suggesting that the WIP diagram on CircleCI from #5944 [here](https://11362-1301584-gh.circle-artifacts.com/0/dev/documentation.html#conceptual-flowchart-of-mne-python) is still too complex?

[2019-02-19 19:04] mmagnuski commented on #5952
I'm okay with that. Would it be better to call it `plot_image`, not `plot_masked_image` as the mask is optional? Or maybe `plot_image_with_optional_mask_if_you_want_it` ;)

[2019-02-19 20:03] agramfort commented on #5952
ok but please demo this in an existing example

[2019-02-19 20:08] agramfort commented on #5937
just a quick remark. This flowchart should be too minimum_norm centered. It
should support the beamformer
or sparse solver use cases so I would not detail the 2 step approach
minimum_norm. To get sources esimates
(not just surface based) you need sensor data (evoked, epochs, raw) and an
inverse method and you get source
estimates or dipole locations. This should maybe simplify a bit to be less
pre

[2019-02-19 20:09] agramfort commented on #5961
maybe @buildqa can help here.

[2019-02-19 22:48] jasmainak commented on #5937
@drammock I had not seen this before. The diagram right now is a great _summary diagram_ for those already familiar with EEG/MEG processing but not good as an entry point in my opinion. It might help to get feedback from a newcomer to understand how much it is comprehensible.

We don't necessarily need to use equations, but _maybe_ it could help. As @agramfort says, I agree it would help to be a l

[2019-02-20 11:37] jeythekey opened #5965 "BUG?: Channel interpolation: exclude ref_meg in CTF data?"
Interpolating channels from CTF data with `_interpolate_bads_meg` results in the interpolated channels having very high amplitude slow fluctuations, if gradient compensation/ref_meg channels are present. I think, similarly to #4663, the ref_meg channels have to be excluded for the reconstruction by setting `ref_meg=False` in the function. What makes me hesitating about this, is that they are actua

[2019-02-20 12:15] larsoner commented on #5965
I agree that they should probably be excluded.

[2019-02-20 14:08] jeythekey opened #5967 "[BUG] Several small ica bugs (+ first fixes)"
I encountered a few minor bugs in ica:
### Already fixed
* `ica._band_pass_filter` (called (only) in `ica.score_sources` to filter sources and targets) uses the sfreq used when fitting the ica instead of the actual sfreq of the sources/targets (i.e. of raw).
* `ica._detect_artifacts` is sorting scores in ascending rather than descending order for integer `criterion` arguments, contrary to what is

[2019-02-20 15:13] GuillaumeFavelier opened #5970 "[VIZ] Rendering bug in plot_evoked_field()"
#### Describe the bug
Rendering bug introduced by the migration to the renderer backend.

Current result:
![image](https://user-images.githubusercontent.com/18143289/53101126-6f5fee80-3529-11e9-991a-f40d0ed5dfe7.png)

Correct result:
![image](https://user-images.githubusercontent.com/18143289/53101083-5f480f00-3529-11e9-9f06-8d3fa48504c8.png)

#### Steps and/or code to reproduce
Follow the example

[2019-02-20 15:30] PilyuginaNina opened #5972 "`vlines='auto' in mne.viz.plot_compare_evokeds doesn't work"
I got error
vlines must be a list or tuple, not <class 'str'>

`conditions = ['1', '2', '4']
evoked_dict = dict()
for condition in conditions:
    evoked_dict[condition] = mne.read_evokeds(fname, baseline=(None, 0), proj=True, condition=condition)
print(evoked_dict)

colors = dict(Left="Crimson", Right="CornFlowerBlue")

pick = evoked_dict['1'].ch_names.index('MEG0242')

mne.viz.plot_compare_evoke

[2019-02-20 16:08] larsoner commented on #5972
Fixed by #5969

[2019-02-20 16:17] larsoner commented on #5967
Most places we treat `ndarray` and `list` interchangably, so I like the first solution, i.e., just always use the `_check_exclude` and inside that, do whatever logic is necessary to get the correct set. `list(set(list(x) + list(y)))` seems fine.

[2019-02-20 16:27] larsoner commented on #5960
No, it will just not do tSSS. SSS is still applied. The SSS decomposition of the data is used for movement compensation, so they can't be easily separated.

Yes you should be able to do SSP after gradient compensation. (You cannot currently do SSS after gradient compensation, though. In principle it is possible but would take some thinking and testing to get it working.)

Currently your only choic

[2019-02-20 16:44] #5970 closed

[2019-02-20 17:14] jeythekey commented on #5960
Thanks, @larsoner! That was what I actually expected.
Please allow a query: You say:

However, [back in 2015](https://github.com/mne-tools/mne-python/issues/2277#issuecomment-121062946), @staulu stated (highlights mine):

--> So, is this only true, if I include the ref_meg sensors in the SSS and am I fine otherwise?

He then concluded similarly to you:

I actually got this technically running by j

[2019-02-20 19:21] larsoner commented on #5960
Hmm. Actually it would be a bit weird to not include the reference sensors in the expansion, but then do include them in the gradient comp. If SSS removed all external interference from the non-ref sensors, then you did gradient compensation, you would probably end up putting it back.

The other option, SSS on all channels then compensation, I don't know about (they Taylor expansion assumption, et

[2019-02-20 19:42] larsoner opened #5974 "BUG: `force_fixed` with volume source spaces"
This is probably a risky thing to do silently, e.g. in the `simulation` code, because it means all sources just point upward (this is where the normal points for vol source space). We should figure out what to do about it.

[2019-02-20 20:01] agramfort commented on #5974
@makkostya it's another issue with the simulation code to look during the sprint.

[2019-02-20 20:54] #5972 closed

[2019-02-20 21:43] ktavabi commented on #5961
@buildqa I have access to a 2016 MBP with 10.14 on it. I can try MNE-C install if you're unable to. I can do this next week sometime.

[2019-02-20 21:47] jeythekey commented on #5960
Thanks again for your answers. So, to summarize, as of the current state SSS and gradient comp cannot really be combined, right?
1. (t)SSS --> gradient compensation: Problematic due to Taylor assumptions probably not met anymore.
2. gradient compensation --> (t)SSS: Needs adaptions in the core of the maxwell code (applying the gradient comp also to the SSS model).

Option 2 is theoretically sound

[2019-02-20 23:51] larsoner commented on #5960
That's my understanding

[2019-02-20 23:57] buildqa commented on #5961
I've attached the terminal session from following the instructions to install anaconda python 3 (via the command line installer), and then running the mne-python setup instructions.  The vtk python module did not install, and setup.py failed for mayavi.  However, those glitches did not prevent subsequent installs or being able to finish the mne-python setup procedure.   My output from mne.sys_info

[2019-02-21 00:34] staulu commented on #5960
I basically agree. I have a couple of comments:

1. In the case of (t)SSS --> gradient compensation, one assumes that the data contain signals of external origin that can be reconstructed from the reference sensor measurement. However, if the actual MEG channels have been processed by (t)SSS, then extrapolating and subtracting external interference based on reference sensors (gradient compensation

[2019-02-21 00:48] larsoner commented on #5961
We are actually curious about MNE-C, not MNE-Python here. In particular I can't find a version of XQuartz that allows the GUIs (e.g. mne_analyze) to work anymore.

[2019-02-21 09:40] buildqa commented on #5961
OK, I should be able to test build the mne-c on 10.14 later today.  I recall from mne-cpp that with Qt used for graphics, the Mac needed to have version 5.10 or higher as older versions of Qt were buggy on the Mac. That does not come on the Mac by default - you can download it from the Qt website or get it thru homebrew.  But  I don't recall now how the older mne-c code base did the GUI's.

[2019-02-21 09:43] massich opened #5975 "broken read_raw_kit when using test.hsp"
Adapted from `mne/io/kit/tests/test_kit.py`
[code]
![image](https://user-images.githubusercontent.com/7044835/53159020-4856fa80-35c5-11e9-9373-2b504898cec9.png)

[2019-02-21 10:19] massich commented on #5975
I get the same when using `raw_txt = read_raw_kit(sqd_path, mrk_path, elp_txt_path, hsp_txt_path)`

[2019-02-21 11:06] massich commented on #5975
using `read_dig_montage` is also corrupted.
[code]

[2019-02-21 11:58] massich commented on #5975
Ok, I think I get it. Both `test.hsp` and `test_hsp.txt` have 500 points, but `test_hsp.txt`'s header says:

[code]
Therefore the files are incomplete, and what the plot shows is a subset of the digpoints (all in the lateral area)

[2019-02-21 12:03] massich commented on #5975
@teonbrooks do you have the complete file?
@mne-tools/contributors do anyone have a complete hsp file to share (if possible with not lots of points)?

[2019-02-21 12:18] larsoner commented on #5961
Yeah, MNE-CPP uses Qt. MNE-C on the other hand uses X calls that on OSX get routed through XQuartz (old tech, no Qt involved at old). From what I recall, on macOS <= 10.13, XQuartz <= 2.7.9 worked, but now on macOS >= 10.14 these old versions of XQuartz no longer work, and MNE-C (mne_analyze, mne_browse_raw) has a display error on newer versions (XQuartz >= 2.7.10). At least that's what I remember

[2019-02-21 13:34] skjerns opened #5977 "raw.get_data() should accept int64"
When loading a file to `RawArray`, the `get_data()` command does only accept `int32`, but should accept all `ints`, including `int64`, as this is the standard `dtype` for many numpy functions (e.g. `np.argmax`). It's a small change, I'll propose it.

[2019-02-21 13:38] agramfort commented on #5977
can you provide a code snippet to replicate? are you on windows?

[2019-02-21 15:06] larsoner commented on #5960
@jeythekey what you did by commenting out (a bit more than) [this check](https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/maxwell.py#L981) is basically what (2) is without modifying the SSS basis. Can you try it out on some of your CTF datasets to see how well it works?

[2019-02-21 16:01] larsoner commented on #5881
I've started looking into using the new unified `_prepare_forward` for leadfield normalization (#5947) in LCMV and DICS. In theory it should reduce code duplication and put all our leadfield normalization code in one place.

One other thing I noticed, though, is that `proj` is applied with potentially more channels in the forward operator than it is to `Cm`:
[code]
This reduced `proj` is returned

[2019-02-21 17:06] skjerns commented on #5977
yes! sorry, should have done that initially:

[code]

only happens with 0.18 dev version! 0.17 seems to be fine.

btw 1.5GB for the sample data set is quite huge!

[2019-02-21 17:10] #5977 closed

[2019-02-21 18:06] teonbrooks commented on #5975
followed up offline with some files to help

[2019-02-21 19:52] TwinNeuro opened #5980 "Excessive verbosity during covariance calculation"
I recently upgraded to Python 3.6 and create an mne environment exactly as per the MNE instructions using the supplied yaml file.

When I use mne.decoding.CSP I get repeated INFO messages:
[code]

#### Describe the bug
When using `mne.decoding.CSP()`  calls so to `mne.compute_covariance()` generates repeating INFO messages that cannot be suppressed by changing logging levels.  Attempts to pass par

[2019-02-21 20:02] agramfort commented on #5980
CSP does not expose a verbose parameter. To limit verbosity
use:

mne.set_log_level('warning')

if it does the job please close

[2019-02-21 21:46] larsoner commented on #5980
Or open a PR to add the `verbose` parameter to the `CSP` constructor as we do for other classes.

[2019-02-22 00:13] buildqa commented on #5961
I've been building mne-c with cmake and homebrew off a branch - and then off a fork - of Alex's GitHub project (I added some recent changes that Matti made to the fork).  This also allowed for setting up a Mac travis build (which also uses homebrew).  I used the gcc 4.9 compilers via homebrew (and not clang).  I just tried the homebrew/travis build procedure I wrote up on 10.14.0 (with Xquartz 2.7

[2019-02-22 04:42] buildqa commented on #5961
I probably should have added that you need the Xquartz 2.7.11 distribution in your path, /opt/X11/bin, which has the X commands

[2019-02-22 04:45] larsoner commented on #5961
This is useful for developers perhaps, but way out of the reach for users.

Is there currently a solution for using MNE-C for end users on OSX 10.14+? I just downloaded the latest nightly from MGH, and it's build 3378 (the same one I installed at least a few months ago, I think?). When I set `MNE_ROOT` and `source` the `mne_setup_sh` then try `mne_analyze` (with the latest XQuartz, 2.7.11) I get:

[2019-02-22 04:49] larsoner commented on #5961
Oh! Following the workaround here worked (after Googling the error):

http://spedas.org/wiki/index.php?title=Known_Issues_macOS

In other words:
[code]
I don't love modifying the XQuartz distribution, but it at least makes things usable. Perhaps we should put this in the docs for now until this can be fixed at the MNE-C build end.

@ktavabi can you confirm it also works for you?

[2019-02-22 04:50] larsoner commented on #5961
(the libquicktime is probably still problematic, but it at least does not stop surface display and probably coreg, raw browsing, etc.)

[2019-02-22 05:16] buildqa commented on #5961
I recall being told the mne-c source code repo using cmake and homebrew should remain private, but I will check about posting the 10.14 binaries.

[2019-02-22 07:46] buildqa commented on #5961
Can you point me to where you got build 3378 from ?

[2019-02-22 08:46] agramfort commented on #5961
even if the repo stays private we should have up to date shipped
binaries for mac an linux.
I've seen many time issues with mismatched versions of libgfortran on
some recent systems for example.
That's why I am pushing for public repos that can leverage CIs for free.
Also if we're for maintaining this code more we should address the
static analysis errors reported.

[2019-02-22 11:03] #5953 closed

[2019-02-22 11:22] massich commented on #5975
Closing, I'll reopen-and-close if I do a PR updating the test files.

[2019-02-22 11:22] #5975 closed

[2019-02-22 12:24] larsoner commented on #5961
It's the latest build if you log in to the MNE-C download page

http://www.nmr.mgh.harvard.edu/martinos/userInfo/data/MNE_register/index.php

[2019-02-22 15:16] larsoner opened #5985 "BUG: plot_sparse_source_estimates broken"
See last plot in [master](http://mne-tools.github.io/dev/auto_examples/inverse/plot_custom_inverse_solver.html) compared to [maint/0.17](http://mne-tools.github.io/stable/auto_examples/inverse/plot_custom_inverse_solver.html). @GuillaumeFavelier

[2019-02-22 22:13] IDCtolik commented on #5918
Sorry for the long delay, I solved the issue that I'll just leave it here for future reference:

My issue was with the following part of code:
`
epochs.plot()
# ICA
ica = ICA(n_components=0.95, method='fastica', random_state=1).fit(epochs)
##Plot components and sources
plotHelper.fileOpener()
##Exclude the eye movement component from data
ICAtoExclude = input("Which componenets should be excluded?

[2019-02-22 22:59] jeythekey commented on #5967
I just added a small convenience PR related to ica plotting. It should be harmless, since it only passes arguments through from ica.plot_components to ica.plot_properties.

[2019-02-23 08:22] agramfort commented on #5918
what is this ?

##Plot components and sources
plotHelper.fileOpener()

[2019-02-23 10:15] IDCtolik commented on #5918
Thank you, it's irrelevant to the issue, I overlooked it when I was cleaning redundancy before posting here

[2019-02-23 14:54] agramfort commented on #5967
agreed with @larsoner

regarding your last comment on copy in get_sources, you mean want the data
to now contain the sources with inplace operations?

[2019-02-23 14:55] agramfort commented on #5918
i don't know how to replicate and what to fix here. I would suspect interactions between matplotlib event loop and ipython or jupyter or spyder. I don't know what environment you use.

ok to close?

[2019-02-23 17:13] jeythekey commented on #5967
@agramfort The ica.exclude handling is already implemented as you both suggested in [this commit](https://github.com/mne-tools/mne-python/pull/5968/commits/774dbc57f87b4158fcd1d2a9bcc286393a0be0b0)

Concerning the 2nd point: Yes, if I understood you right. In the moment, if I want to get the sources for a large raw instance, it doubles the data in memory. I can obviously say `raw = ica.get_sources

[2019-02-23 18:02] agramfort commented on #5967
Give a try to memory_profiler to check

[2019-02-23 22:50] AlexChalard commented on #2722
Hello everyone,

I just find the PyTorchWavelet implementation here : https://github.com/tomrunia/PyTorchWavelets
The benchmark are very interesting, maybe it can be consider to be implement in MNE.

Kind regards,

Alexandre

[2019-02-24 07:59] msrdinesh opened #5989 "Interested to Contrbute to MNE-python"
Hello Everyone, My name is Dinesh. I am third year undergraduate from IIT Bhubaneswar, India. At present I am working on Chaos signal analysis on EEG signals. I am also planning to participate in GSoc'19 with MNE. I have good knowledge in Python,C++ and am specialized in Machine Learning algorithms. I need help to get started with. Please assign me some task/sub goal to work along with you and con

[2019-02-24 08:47] agramfort commented on #1717
this should be easy with the new compute_rank function. Maybe it's even already done

[2019-02-24 08:56] agramfort commented on #2722
sure you can give it a try.
but I am not sure we'll add a dependency on pytorch for mne at this stage.

[2019-02-24 16:07] larsoner opened #5990 "BUG: phyionet links broken"
[CircleCI says](https://circleci.com/gh/mne-tools/mne-python/11524) that the links to the sleep dataset are broken, such as

https://physionet.org/pn4/sleep-edfx/

@massich any ideas?

[2019-02-24 16:09] larsoner commented on #5989
Can you take a look at issues marked easy?

[2019-02-24 16:19] msrdinesh commented on #5989
Okay, I will look into them. Actually, I am new to open source contribution. I would be very happy if you could assign me some specific issue to work on so that I can get started. Thanks!

[2019-02-24 21:11] msrdinesh commented on #5989
I have gone through them. Will start working to solve them. Thanks!

[2019-02-24 21:11] #5989 closed

[2019-02-25 06:28] buildqa commented on #5961
I have put in a request to get permission to update the binaries you see when you login to that page.

[2019-02-25 07:45] massich commented on #5990
Yes.
https://physionet.org/physiobank/database/sleep-edfx/

 #5932

I'll check it out, and sent a pr

[2019-02-25 07:47] massich commented on #5990
https://github.com/MIT-LCP/physionet/issues/97#issuecomment-463299136

[2019-02-25 15:22] #5990 closed

[2019-02-25 17:29] agramfort commented on #5961
binaries get updated by a cron everynight. Do you plan to change the build
farm locally to fix the cron based packaging?

[2019-02-25 17:40] YvonneVisser opened #5992 "Unwanted data rejection when running mne.Epochs"
Dear MNE developers,

#### The bug

While running the function mne.Epochs, the function is dropping epochs. I'm not asking it to reject data (as far as I can tell) and I can not seem to get it to stop dropping them. Right now, it's rejecting almost all my data, leaving me with only 2 trials.

#### Code snippet

I'm running the function mne.Epochs using the following input parameters:

epochs = mne

[2019-02-25 18:11] msrdinesh commented on #5631
Hello, is the issue solved? I think forward.rst file has been changed.  I could not find the error in [this](https://github.com/mne-tools/mne-python/blob/master/doc/manual/source_localization/forward.rst#creating-a-surface-based-source-space) link which was mentioned. If any work needs to be done on this issue regards, please assign me the work. I will try to do it!

[2019-02-25 18:14] buildqa commented on #5961
The latest  builds I see are: build  3514 for linux from 4/26/2016; build 3420 for MacOS from  10/6/2013.  The Mac build prior to that is 3378 from 6/5/2012 which was mentioned above.  But I don't have permissions to touch/run anything there and I can't read the file that controls what users see after they login.   I was thinking we could use git and travis for any further builds including posting

[2019-02-25 18:33] larsoner commented on #5992
`events` must be relative to `raw.first_samp`, but they are not:
[code]
Add `raw.first_samp` to `events` and all should work fine

[2019-02-25 18:33] #5992 closed

[2019-02-25 19:35] mmagnuski commented on #5992
@larsoner That might be worth highlighting somewhere in the docs, wdyt? I'm not sure where - there once was "pitfalls" mne page - but now it might be better to stress this in a few tutorials.

[2019-02-25 19:50] larsoner commented on #5992
@drammock feel free to add this to a point of emphasis in the doc work

[2019-02-26 06:25] msrdinesh opened #5994 "Websites with different documentations"
Hello Everyone, my name is Dinesh I am new to Mne-python. I wanted to contribute to MNE and am trying to solve some Doc issues. I have seen that MNE-Documentation has two websites, when I google search about MNE, I get [this](https://martinos.org/mne/stable/index.html). But, there is another site hosted by github, [this](https://mne-tools.github.io/dev/getting_started.html#) one. Some content is d

[2019-02-26 09:15] agramfort commented on #5994
https://mne-tools.github.io/dev/getting_started.html#

is updated by our CI while martinos.org is updated manually once in a while.

please don't use the issue tracker to ask such questions. Use gitter
channel or the regular mailing list.

thanks

[2019-02-26 09:24] agramfort commented on #5961
hum :(

yes agreed.

yes or we go open source....

see with @mshamalainen

[2019-02-26 10:11] YvonneVisser commented on #5992
@larsoner

Thank you for your suggestion.

Unfortunately, I still get the same output:

31 matching events found
Applying baseline correction (mode: mean)
Not setting metadata
Created an SSP operator (subspace dimension = 1)
1 projection items activated
Loading data for 31 events and 3001 original time points ...
29 bad epochs dropped

My events now contain the first sample number:

print(events)

[2019-02-26 13:33] larsoner commented on #5992
They do not, `raw.first_samp` for your FIF file is `193000` so all sample numbers `events[:, 0]` should be at least `193000`

[2019-02-26 15:02] YvonneVisser commented on #5992
Ah, apologies, I misunderstood and thought I was supposed to add the first sample number to the events structure. Adding the value of raw.first_samp to each value in the events variable fixed the problem, thank you very much!

The output still says _0 bad epochs dropped_ and I'm not sure I understand it completely. If you have a little more time, could you explain on a higher level why the mne.epo

[2019-02-26 15:52] fanyangxyz commented on #5493
I also have an IndexError when importing raw CNT file. I can share the code and data, though not the same ones as the OP used, but hopefully it can help figuring out this issue.

Data is available at http://predict.cs.unm.edu/downloads.php. I'm using the OCD Flankers one in the second row. The code below assumes that file 914flankers.cnt in OCI Flankers/EEG Data is downloaded and saved in the loca

[2019-02-26 16:17] msrdinesh commented on #5994
Okay, Sorry for that.. thanks for the reply!!

[2019-02-26 16:18] #5994 closed

[2019-02-26 16:57] alexrockhill opened #5995 "read_raw_brainvision stim channel not properly imported to annotations"
I'm not sure where there is a sample brainvision raw file, but if you read it in:

raw = read_raw_brainvision(f,preload=True)

Then the annotations aren't showing up with the data that was contained by the stim channel before:

raw.annotations only gives New Segment/ (1) and Time 0/ (1) whereas this should contain stim channels.

<Annotations  |  2 segments : New Segment/ (1), Time 0/ (1), orig_ti

[2019-02-26 17:02] alexrockhill commented on #5995
I should add that this the annotations are properly imported in 0.17.1.

[2019-02-26 17:04] larsoner commented on #5995
@massich can you look into it?

[2019-02-26 20:59] agramfort commented on #5992
it will drop events that it thinks are outside of the time range of the
data.

looking at epochs.drop_log should inform you about this.

[2019-02-26 22:37] alexrockhill opened #5996 "Annotations are not passed on by info in RawArray"
RawArray takes in data, info and an optional first sample. Without reassigning the annotations data field (as shown below), there is no way to pass annotations into the created raw object.

raw = Raw(fname,preload=True)
raw2 = RawArray(raw._data, raw.info.copy())
raw2.annotations = raw.annotations

I think a better solution would be:

raw = Raw(fname,preload=True)
raw2 = RawArray(raw._data, raw.in

[2019-02-27 02:10] TwinNeuro commented on #5980
Thank you that worked!

[2019-02-27 02:10] #5980 closed

[2019-02-27 08:00] agramfort commented on #5996
raw = RawArray(raw._data, raw.info.copy()).set_annotations(annotations)

is not enough for you?

On Tue, Feb 26, 2019 at 11:37 PM Alex Rockhill <notifications@github.com>
wrote:

[2019-02-27 10:23] YvonneVisser commented on #5992
Right, thank you @agramfort! That makes sense.

[2019-02-27 15:05] alexrockhill commented on #5996
I brought this up because there was an incompatibility with the previous version since stim channels were previously in the _data and now they are stored in annotations and thus they were not passed on to the RawArray. It would make sense to me to require all the information to make a raw object using a RawArray especially from a user-friendly perspective of not needing to go through and add data

[2019-02-27 15:05] #5996 closed

[2019-02-27 16:20] jeythekey commented on #5960
Thanks, @larsoner and @staulu for your helpful comments.

I now tested all the variants. I uploaded a notebook [here (cleaned pdf)](https://github.com/jeythekey/mne-python/raw/local/examples/myStuff/test_CTFgradComp_tSSS_OTP_inline.pdf) (the ipynb-file is [here](https://github.com/jeythekey/mne-python/blob/local/examples/myStuff/test_CTFgradComp_tSSS_OTP_inline.ipynb)).

To summarize:
* tSSS alone

[2019-02-27 16:42] Ali-pak opened #5997 "Standard 10_20 Montage for 22 EEG and 3 EOG channels"
Hello Dear MNE developers,

I am new to MNE and I am stuck in montages. I have data in .csv and the picture of the montage. Now I don't know how to actually create the montage file, all those angles and distances are missing. Can you guys please suggest me what should I do ? is there a ready to use montage for 22 EEG and 3 EOG headset. ?
I have created a raw object by using raw.create_info but now

[2019-02-27 17:09] cbrnr commented on #5997
You can get a list of available montages with `mne.channels.get_builtin_montages()` - check if there is a montage which contains your channel names.

[2019-02-27 21:10] Ali-pak commented on #5997
@cbrnr thanks for your comment but none of them have 25 channels, also I have problem adding them to the raw object. The error is the names in Montage are different than the names I am giving as argument.  How can I display the content of Montage ?

Thanks in advance.

[2019-02-28 05:54] drammock opened #6000 "fork sphinx-bootstrap-theme?"
Just a heads up: `sphinx_bootstrap_theme` is going to break when sphinx 2.0 is released, because [these lines](https://github.com/ryan-roemer/sphinx-bootstrap-theme/blob/master/sphinx_bootstrap_theme/bootstrap/layout.html#L11-L17) will no longer be allowed --- building mne docs on current master of sphinx yields this (excerpt; most of traceback omitted for brevity):
[code]

This is potentially a p

[2019-02-28 09:11] cbrnr opened #6001 "Add option to save/export raw to .mat"
I'm thinking of adding an option to save a raw object (or at least the most essential information, such as the data, channel names, sampling frequency, etc.) to a .mat file in [MNELAB](https://github.com/cbrnr/mnelab). However, this might be something that could also be added directly to MNE. I'd probably add a new `raw.export` method, because `raw.save` saves all information to a FIFF file wherea

[2019-02-28 09:21] fraimondo opened #6002 "ENH: Interactive MNE report for IC selection"
#### Describe the problem

Selecting ICA components is sometimes a complex process that requires viewing IC time series, spectral properties, topography, variance, etc. Every plot also takes time to build, so the interactive approach has a high component of _waiting_.

#### Describe your solution
I solved this by taking advantage of the MNE report, and created one with all the components' plots. I

[2019-02-28 10:03] stevemats opened #6003 "Update License"
## Update License section from current:
#### Copyright © 2011-2016, authors of MNE-Python
## To:
#### Copyright © 2011-2019, authors of MNE-Python

[2019-02-28 15:57] larsoner commented on #6001
Someday we might want to support writing to other formats, too (e.g., EDF), so we'd have to think about the API we'd want to use. I'd be fine with just triaging based on file extension. But ideally whatever we wrote would write out all of the `meas_info` / be as complete as FIF. Maybe the thing to do is have it in MNELAB for now to see how it works, and once it's mature port it over?

[2019-02-28 17:33] larsoner commented on #5960
Using `destination=None` should be the same as using `destination=fname_raw` (since we apparently don't support directly doing `destination=raw.info['dev_head_t]`, though we probably should), can you check? If it isn't, then we have a bug.

If it is, then the question becomes why `destination=raw.info['dev_head_t']['trans'][:3, 3]` is so different. The only difference there should be the rotation

[2019-02-28 18:01] jona-sassenhagen commented on #5952
I will! Thanks guys.

[2019-02-28 18:18] jeythekey commented on #5960
Thanks a lot for your helpful comments!!
1. `destination=raw.info['dev_head_t]` is actually supported and is the same as `destination=None`. (So one could simply update the doc string). [But I don't see why that could be connected to the problem, since providing `raw.info['dev_head_t']['trans'][:3, 3]` is just a np.ndarray, not any more a `Transform` class, or am I mistaken?]

2. Anyway, the rotat

[2019-02-28 18:24] larsoner commented on #5960
Ahh right yes the docstring is just out of date.

The only difference between giving `raw.info['dev_head_t']['trans'][:3, 3]` (which is problematic) and `raw.info['dev_head_t']` is whether or not the rotation is present. I wanted you to try `raw.info['dev_head_t']` just to make sure it indeed is okay, and equivalent to `destination=None`, which it thankfully is. That means that there is something

[2019-02-28 18:59] drammock commented on #5961
@ktavabi have you had a chance to test the fix that @larsoner mentioned in https://github.com/mne-tools/mne-python/issues/5961#issuecomment-466272857 ?  If it works for you, I'll update the docs accordingly.

[2019-02-28 19:54] Ali-pak commented on #5997
@cbrnr  thanks you are right. It helped now. My montage follow 10-20 :)
Thanks for your help.

[2019-02-28 20:47] agramfort commented on #6001
you mean write proper EEGLAB or fieldtrip files?

[2019-02-28 20:49] agramfort commented on #6003
PR welcome

[2019-02-28 22:43] ktavabi commented on #5961
@larsoner Sorry this never came up on my radar
Should I be trying this with XQuartz 2.7.11?

[2019-03-01 00:33] staulu commented on #5960
Interesting discussion going on here. Regarding the question about the order of gradient compensation and subsequent tSSS, I didn't see any significant differences in the raw data figures between, e.g., the 2nd and 3rd order. Using the default order (3rd) should be fine. A relevant test is simply comparing the spectra across different processing variants, but this is already being done based on th

[2019-03-01 01:15] larsoner commented on #5961
Basically yes, try to get `mne_analyze` or `mne_browse_raw` to run on macOS 10.14+ however it's possible. I think you'll need XQuartz 2.7.11 (since 2.7.9, which used to work on earlier macOS, does not work on 10.14+). But vanilla XQuartz 2.7.11 didn't work for me, I needed the fix linked above.

[2019-03-01 04:04] #6003 closed

[2019-03-01 06:33] cbrnr commented on #6001
@agramfort I was thinking of writing EEGLAB files, because I don't want to invent yet another .mat-based format. This means that we'd populate as many fields as we can, but in general information from one format can't be mapped 1:1 onto another format, so we probably can't write out all of `meas_info`. But you're right, maybe the best approach is to include it in MNELAB for now because I will be w

[2019-03-01 09:03] paulroujansky opened #6009 "Open a FIF file using in-memory binary streams"
Hello,

I am struggling with this one : I have stored some raw EEG data (in ".fif" format) on a remote host which I would like to load through a SFTP connection, without copying the data on the disk of my local machine (in order to save space/gain computation time).
In order to perform this, I am using the library `paramiko`, in order to copy the data in an in-memory bytes buffer (a `io.BytesIO` i

[2019-03-01 11:28] agramfort commented on #6009
did you consider rather use sshfs to mount a virtual disk?

indeed what you propose cannot work as it is now.

[2019-03-01 11:33] agramfort commented on #6001
agreed

[2019-03-01 11:42] buildqa commented on #5961
I have uploaded 2 archives to the build area on the server.  Maybe someone could login and let me know if you see the following (and if so download and give it a try).  You will need homebrew installed in the default location,
mne-c_20190301_MacOS-mojave.tgz - build via homebrew on 10.14.0 via gcc 4.9, Xquartz 2.7.11
mne-c_20190301_MacOS-highsierra.tgz - build via homebrew on 10.13.6 via gcc 4.9,

[2019-03-01 13:14] cbrnr commented on #6001
I've implemented it in MNELAB. Basic export to .set works, including the data, channel names, sampling frequency, and events (converted from annotations). If anyone wants to give it a try and let me know if it works I'd be very happy. Note that I expect that this works best with MNE 0.18, because otherwise synthesized stim channels get in the way. If we want that in MNE, I'm happy to port it over.

[2019-03-01 16:27] larsoner commented on #5961
@buildqa did you try running `mne_analyze` to verify it would come up for you on 10.14?

[2019-03-01 16:28] larsoner commented on #6009
We decided not to support this (at least for now) in #5867, feel free to look at that discussion

[2019-03-01 16:28] #6009 closed

[2019-03-01 19:05] buildqa commented on #5961
Yes I did.  There seems to be some state saved w.r.t the path to the eyes file.  If I had built it in a different git sandbox/branch from last time, it seemed to save the state from the pervious path and claimed it could not find it.  But I did see the whole box/GUI come up on 10.14.

[2019-03-01 21:10] Ali-pak opened #6014 "Mne.find_bads_eog () only takes one EOG channel into account I have 3"
Hello Dear Mne Developers,
I am new to MNE python and this EEG field. I am using mne.ICA for removing EOG artifacts. I have 3 EOG channels and I am following the example published on the web. The problem is after fitting the ICA I use the **find_bads_eog** for selecting bad components but this one only takes into account the first EOG channel and removes only one component. But on display, I can c

[2019-03-01 21:10] #5945 closed

[2019-03-01 21:31] ktavabi commented on #5961
@drammock MNE-C apps work with the XQuartz 2.7.11 modifications as per
[
http://spedas.org/wiki/index.php?title=Known_Issues_macOS](http://spedas.org/wiki/index.php?title=Known_Issues_macOS)

Additionally, I encountered "Cannot open display" error after the XQuartz install/modification, in which case folks should issue `launchctl load -w /Library/LaunchAgents/org.macosforge.xquartz.startx.plist` b

[2019-03-01 21:40] larsoner commented on #6014
Internally `find_bads_eog` with `ch_name=None` will already use any channels marked as EOG. But we should also allow `ch_name` to be a list instead of a singleton so that equivalent functionality can be achieved manually instead of based on `ch_type` (for consistency at the very least).

[2019-03-01 23:15] Ali-pak commented on #6014
Thanks for your quick reply @larsoner but I want to ask even after doing ICA the signal is still quite messy. What can be done after ICA ?

[2019-03-02 01:05] buildqa commented on #5961
mne_analyze windows on Mojave (Xquartz 2.7.11, homebrew gcc4.9 build via cmake),
![mne_analyze_mojave](https://user-images.githubusercontent.com/20847495/53674513-8951ad80-3c5c-11e9-873e-3310012f73bb.png)

[2019-03-03 11:00] mmagnuski commented on #5757
I think this can be closed.

[2019-03-03 11:00] #5757 closed

[2019-03-04 07:45] cbrnr opened #6018 "Deprecating events in favor of annotations?"
I was wondering why MNE still needs both events and annotations. We are clearly moving towards annotations as a more flexible container for discrete markers on the file I/O side, but it is difficult for users to understand the differences between the two structures (e.g. the [events/annotations tutorial](https://martinos.org/mne/stable/auto_tutorials/plot_object_annotations.html) basically says th

[2019-03-04 08:35] cbrnr commented on #5826
This is really bugging me, therefore I'm reopening. Can anyone tell me why we need the custom `onerror` handler for `shutil.rmtree`? This part of the code is not covered by a test, so it is difficult to verify that we really need it. Also, I can't seem to be able to come up with a test for it, because `shutil.rmtree` happily removes a folder even though the user doesn't have permissions (see my co

[2019-03-04 10:42] agramfort commented on #6018
Annotations and events aim to match what you find in different file formats. Events is natural if you have stim channels and manipulation of an events array is also trivial. Annotations can be mapped to events and event_id so it allows to construct epochs like we always did.

[2019-03-04 11:01] GuillaumeFavelier commented on #5985
I'm on it.

[2019-03-04 11:19] cbrnr commented on #6018
You mean both aim to do the same thing, right?

That's what I'm saying, it seems like we could use annotations everywhere. At least I'd argue for using only annotations when we're talking about what is visible to the user (we can still convert annotations to events if this makes some functions easier to write/maintain - and this already seems to be happening, because what we find in different file

[2019-03-04 11:22] agramfort commented on #6018
Are you suggesting to remove events from Epochs construction?

[2019-03-04 11:24] cbrnr commented on #6018
Nope, since this continues to work because we have `mne.events_from_annotations`. I'm suggesting to remove the events structure from the docs because annotations are better.

[2019-03-04 11:45] agramfort commented on #6018
But our doc use fif files and there is no need for annotations with fif.

[2019-03-04 11:47] cbrnr commented on #6018
I was referring to [events/annotations tutorial](https://martinos.org/mne/stable/auto_tutorials/plot_object_annotations.html), which in my opinion creates more confusion because it also mentions events. I think it should focus on annotations.

[2019-03-04 12:03] cbrnr commented on #6018
There are probably more changes involved than I thought, because some viz functions plot events. I mean, all of this could also be done with annotations, but it requires some work. Just to clarify, I didn't want to suggest that we change everything to use annotations, but I wanted to make it easier for users who are currently presented with two options for storing event information...

[2019-03-04 12:34] Ali-pak commented on #5997
Hi, @cbrnr I found out that the electrodes position wary with the number of electrodes you select. For example, in my other dataset, I have only 3 electrodes and they should be in the middle but now they are around or even outside the head boundary. do you have any solution for that?
![figure_1](https://user-images.githubusercontent.com/31625460/53733730-335e4f00-3e82-11e9-9f0c-6b15df20ebcb.png)

[2019-03-04 12:42] agramfort commented on #5997
see https://github.com/mne-tools/mne-python/pull/5472 that is still WIP

[2019-03-04 12:59] agramfort commented on #6018
+1 for rephrase / improve the tutorial to explain why you may have
Annotations or just events and how events can be produced from Annotations

[2019-03-04 13:07] larsoner commented on #5826
The example I provided above shows an example of where it's potentially useful. It not being covered by a test is not sufficient to conclude that it's not useful under some circumstances. I don't see harm in keeping it, I do see potential harm in removing it.

[2019-03-04 13:11] larsoner commented on #5826
... though I guess it doesn't show why it's useful so much as that it the warning given by PyCharm is a false alarm. For the usefulness we'd have to dig through the blame to see where the code came from to try to figure it out. Feel free to do so but I'm not sure it's worth spending too much time on.

[2019-03-04 13:14] larsoner commented on #5826
Here you go:

https://github.com/mne-tools/mne-python/commit/9ebb67bc1f413f0843fe42861c1443a69c1e3743

It tries to fix access errors (though we could have known that just from the comment). Perhaps you can't replicate the error on your machine because `onerror` is doing its intended job of working around the perms error?

[2019-03-04 13:16] cbrnr commented on #5826
Which permission errors is this trying to fix? Why don't we raise the OSError to let the user know that there's something wrong with the permissions and let the user fix that?

[2019-03-04 13:21] larsoner commented on #5826
I think it was because Windows can be overly picky about read-only files. At one point we had read-only files in `testing`, we might still. See e.g.:

https://stackoverflow.com/questions/2656322/shutil-rmtree-fails-on-windows-with-access-is-denied

I don't see why we are expending effort to remove code that was added to deal with a real problem, that otherwise seems like it has not been a problem

[2019-03-04 13:42] cbrnr commented on #5826
Mainly because PyCharm marks this as a serious error. I'm not saying that it is necessarily correct, but there's no way to disable this message since it is not originating from its normal code introspection (normally you can right-click the warning and disable it). And if I get into the habit of ignoring particular errors and warnings it will get difficult for me to spot real errors.

Can we someh

[2019-03-04 14:34] larsoner commented on #5826
This is less than ideal because it makes the error traceback less useful -- it will look like an `mne` error when it's a `shutil` one. I think we can get around it with something like the folowing (since we are Py3k only now, still needs to be tested):
[code]

And FWIW I'm pretty sure it was the read-only stuff that necessitated this code -- I was on a Windows dev machine at the time IIRC and upda

[2019-03-04 14:45] #5985 closed

[2019-03-04 15:08] massich commented on #5995
it is weird that our test suite does not capture this. @alexrockhill can you share the file with me? (or even better do you have an MWE that replicates the problem that we can ship with our testdata?)

[2019-03-04 15:13] alexrockhill commented on #5995
In the MNE-sample-data set, I don't see any .vhdr files. If you point me to one, I can make a MWE. Otherwise, I'll send you a file and a gist shortly.

[2019-03-04 15:27] massich commented on #5995
yes I don't find a `.vhdr` file with annotations in our test suite either. We have the annotations in the `.vmrk`. See:

https://github.com/mne-tools/mne-python/blob/194e2e3dc98dd3b545421d5750eff458263c25e7/mne/io/brainvision/tests/test_brainvision.py#L25-L54

We should definitely fix this. But meanwhile:
- can I see what you executed in master and what did you execute in 0.17.1
- can you try to r

[2019-03-04 15:28] alexrockhill commented on #5995
<script src="https://gist.github.com/alexrockhill/9a0e85a38956740ff63d70677d2ca6ad.js"></script>

[2019-03-04 15:31] alexrockhill commented on #5995
In both versions, I just read in the raw file with read_raw_brainvision and then printed to output raw.annotations, I'll check on the read annotations.

[2019-03-04 15:38] larsoner commented on #6014
That is a conceptual question better suited to the mne_analyze listserv

[2019-03-04 15:51] cbrnr commented on #5826
Yes, I'm sure there is a good reason for this code - sorry if I gave the impression of thinking otherwise.

Why do you think the message looks like it's an `mne` error? The output of `raise exc_info[1]` is (it seems to be the same for your suggestion):

[code]

And the output for `raise` only is:

[code]

In both cases, the `PermissionError` in `shutil.py` is the last message.

[2019-03-04 15:52] massich commented on #5995
This passes in master

[code]

[2019-03-04 15:54] cbrnr commented on #5995
@alexrockhill you mentioned that this works in 0.17.1 - do you get the issue with the current master?

[2019-03-04 15:58] larsoner commented on #5826
Ahh okay I thought it would end up at the bottom not the top.

Does the `raise exc_info[1].with_traceback(exc_info[2])` look shorter? The bare `raise` functionality is nicer so if we can keep it just by doing `raise exc_info[1].with_traceback(exc_info[2])` (or some variant) we should

[2019-03-04 16:00] alexrockhill commented on #5995
I apologize, I didn't record my versions earlier and now with mne 0.18.dev0 I am not able to replicate the same issue, the event markers are coming out fine. I'm not sure why that happened before. If I figure it out I will reopen, sorry!

[2019-03-04 16:00] #5995 closed

[2019-03-04 16:02] cbrnr commented on #5826
Nope, it looks exactly the same like `raise exc_info[1]`. I agree that the output of `raise` is a bit nicer, but the new output isn't that bad because it only adds one line in the middle. Importantly, it makes PyCharm shut up 😉!

[2019-03-04 16:15] larsoner commented on #5826
Okay, works for me

[2019-03-04 16:24] massich commented on #6018
There's a newer version https://mne-tools.github.io/dev/auto_tutorials/plot_object_annotations.html

I'm +1 to improve the tutorial. Maybe a table with which files have events and which have annotations would help.
And maybe [this events tutorial](https://mne-tools.github.io/dev/auto_examples/io/plot_read_events.html#sphx-glr-auto-examples-io-plot-read-events-py) could be integrated.

[2019-03-04 16:57] massich commented on #5493
I've downloaded the file and I can reproduce the error
[code]

[2019-03-04 18:24] cbrnr commented on #6018
Yeah, the thing is that files don't have events or annotations. They store markers in different ways, and we now read them into annotations (whereas previously, we used to synthesize an analog stim channel and convert that to events). I think basically everything can and should be done with annotations now.

[2019-03-04 18:26] cbrnr commented on #5826
Great - I've pushed this to #6020. Feel free to merge once all CIs are green.

[2019-03-04 19:58] Ali-pak opened #6027 "Artifacts are still there even after applying ICA"
Hello Dear mne developers,
I am trying to remove artifacts from my data and I have 3 EOG channels but my data after and before the procedure looks the same. I am following the example code with a little change, below is my code.
[code]

Kindly direct me in the right direction.  Thanks :)

[2019-03-04 20:22] agramfort commented on #6018
What do you mean everything ?

How do you get string descriptions needed by annotations from a stim channel?

[2019-03-04 20:29] cbrnr commented on #6018
I don't. But I can convert an analog stim channel to annotations. I don't have to use events.

[2019-03-04 20:41] dengemann commented on #6018
please let’s not touch historical core APIs that still guarantee painless interoperability with MNE-C. Also +1 for improving the docs.

[2019-03-04 20:50] cbrnr commented on #6018
But that's not at all what I'm saying. The old events API can of course stay for internal and historical use, but we should only advocate annotations to users.

[2019-03-04 21:08] agramfort commented on #6018
But why dealing with annotations when you have a stim channel from which you get directly epochs?

[2019-03-05 04:32] jasmainak commented on #6018
I find the events array quite convenient and easier to manipulate. Annotations and events are not the same in my opinion. With numpy arrays, I can search, slice etc. but it's not possible to do these with annotations. It's just a different hammer with different conveniences.

[2019-03-05 07:19] cbrnr commented on #6018
Exactly, it's a different hammer for doing the same thing. Searching and slicing could be added to annotations as well. For me it is confusing to have two things for the same purpose. As we know, there should be one-- and preferably only one --obvious way to do it.

Anyways, I'm fine with improving the docs for now to make it clear that markers loaded from files end up in annotations, and parsed a

[2019-03-05 07:42] jona-sassenhagen commented on #6018
My use cases agree with @jasmainak. But I agree the current situation is complicated and unfortunate. As always, docs could be improved, and i can imagine a future without events. But I fear we would strand a lot of users if we abandoned events now.

[2019-03-05 08:09] cbrnr commented on #6027
Can you post images of segment with eye blinks before and after ICA? Are they exactly the same?

[2019-03-05 08:12] cbrnr commented on #6027
Also, could you show the contents of `eog_inds` as well as scalp maps of these ICs?

[2019-03-05 09:35] drammock opened #6030 "layout.plot(picks=???)"
I noticed that the `picks` argument to `mne.channels.Layout.plot` doesn't seem to work as expected based on the docs.  First I was working with a layout loaded from file:

[code]

OK, so I guess that `raw.info['dig']` is what it needs?  But I get the same result when deriving the layout from `raw.info` of the sample data:

[code]
Same thing happens if I try to pass specific channel names instead o

[2019-03-05 10:29] mmagnuski commented on #6018
It is true that both `events` and `annotations` in a general sense do the same thing and one could even say that these are different representations of the same thing. However `events` are more specialised and more directly related to experimental triggers which one uses in epoching and annotations, at least in my mind, are user-generated and need to have some duration - so exactly how they starte

[2019-03-05 10:35] mmagnuski commented on #6018
Currently most scenarios involve reading annotations and than instatiating event from them so I'd say annotations are abstract formless platonic beings that can be carved into the concrete events of interest. ;)

[2019-03-05 11:43] mmagnuski opened #6031 "Using `.crop()` on mff dataset leads to errors later on"
The problem happens when doing `events = mne.find_events(raw)` or `raw.load_data()` when the raw file was previously cropped, for example:
[code]

now both:
[code]
and:
[code]
lead to the same error. Both errors are the same starting from `_read_segment_file` but I paste both below.
for `mne.find_events(raw)`:
[code]

for `raw.load_data()`:
[code]

I'm on master, but had this problem 3 months ago

[2019-03-05 12:43] larsoner commented on #6031
This suggests that 1) `_test_raw_reader` is not complete enough (or `egimff` does not use it!) and 2) there is some bug with the `egimff` reader.

[2019-03-05 12:48] larsoner commented on #6030
No, `info['chs']` to know what is mag, grad, eeg, etc.

When you call `find_layout`, the returned `layout` object does not keep the `info` around. We could either make it keep `info`, or (probably better) add `info` as an optional argument to `plot_layout` to work around this to allow `str` arguments for `picks`.

[2019-03-05 12:52] #5826 closed

[2019-03-05 12:56] larsoner commented on #6018
I would say we should stick to updating docs for now. If we can push Annotations to be more and more usable as a replacement for events, then maybe someday we can replace them. However, knowing how much code I already have to mangle events for various paradigms for use with `Epochs` -- and what a fundamental step it has been in analysis pipelines from the beginning of MNE -- I'm skeptical that the

[2019-03-05 17:26] jona-sassenhagen commented on #5937
My usual EEG user comment is that all of the source stuff is very uninviting to EEG people. If the entry point and linear path contains a bunch of references to the inside baseball of MEG source reconstruction, that will scare off people.

[2019-03-05 17:52] jasmainak commented on #5937
I cannot agree more with @jona-sassenhagen :)

[2019-03-05 18:16] massich commented on #2815
@jaeilepp All links I find to this `test.cnt` are down. Do you have a backup of it?

cross reference #5493, #6025, #3911

[2019-03-05 22:04] joshbear opened #6032 "4D/BTi import error if pdf/config channel orders to not match"
#### Describe the bug
If the order of channels is different in the config and header (pdf) files, than the current match algorithm will report that they do not match even if all channels are present in both.

#### Steps and/or code to reproduce
You need to have a config and header file with channels in a different order. If you do, then all you need to do is:

raw = mne.io.read_raw_bti(filename)

[2019-03-05 22:08] drammock commented on #6030
OK, so is this a case of "let's fix the docs to match the code" or "let's fix the code to match the docs"?  The docs are pretty clear that this should already work:
[code]

[2019-03-05 22:15] larsoner commented on #6030
We filled in the docstring with the wrong template in this case. It should use the one that does not say anything about `info`, which is `picks_nostr` (I think). That's the easier fix, then if someone wants the `str` support they can add it and change which template var is used.

[2019-03-06 02:54] drammock commented on #5937
@jona-sassenhagen I think you'll be happy, the linear path so far looks like this (ones in parentheses are not yet pushed to #5944 because they're still sketches, may get reordered or subdivided):

1. loading raw > querying raw > subselecting data from raw > cropping and concatenating raw > built-in plotting methods of raw > exporting and saving data from raw > (annotations) > (interpolating bads)

[2019-03-06 09:55] cbrnr opened #6034 "raw.plot() axes overlap on macOS with qt5 backend"
When I plot raw data on macOS using the `qt5` Matplotlib backend, some axes overlap and are therefore unreadable (the time axis labels of the currently visible segment, the "Ch." label, the channel labels, the x axis label, and even the "Help" button):

<img width="1732" alt="raw_plot_qt5" src="https://user-images.githubusercontent.com/4377312/53872182-e7d0b000-3ffd-11e9-8be7-ae1129473ec0.png">

E

[2019-03-06 13:49] AmirDJV commented on #3891
Is there any development regarding this issue? as unfortunately I'm running into the same problem.

[2019-03-06 13:51] jona-sassenhagen commented on #3891
The issue is you have rejected channels, so your IC maps have different dimensionalities between subjects?

[2019-03-06 14:18] larsoner commented on #6034
Probably an issue with HiDPI / physical vs logical pixels. I'd start out by searching terms related to this to find issues like https://github.com/matplotlib/matplotlib/issues/8052.

If nothing promising having to do with HiDPI / scaling / physical vs logical pixels comes up, I'd try to replicate using a minimal example that just uses `plt` calls that mimic what we do in `raw.plot` (which appears

[2019-03-06 15:29] agramfort commented on #6034
I confirm the problem on my mac

[2019-03-06 15:35] agramfort commented on #6032
maybe @pravsripad or @jdammers can help?

[2019-03-06 16:23] AmirDJV commented on #3891
Based on the [corrmap/Artifact Correction with ICA tutorial](https://mne-tools.github.io/dev/auto_tutorials/plot_artifacts_correction_ica.html#sphx-glr-auto-tutorials-plot-artifacts-correction-ica-py) I'm doing this:
`this_ica = ICA(n_components=epochs.info["nchan"] - 1, method="fastica", random_state=42, max_iter=500).fit(epochs)`

`epochs` is my [`autoreject`](http://autoreject.github.io/index.h

[2019-03-06 16:25] jona-sassenhagen commented on #3891
Maybe someone else will, but I will not write code to handle ICA objects with different montages ... you will have to use the same montage for all.

I will however write a better error message.

[2019-03-06 16:52] agramfort commented on #3891
did you consider interpolating the missing channel?

[2019-03-06 16:54] jona-sassenhagen commented on #3891
That would be my preferred way of handling this, too.

[2019-03-06 17:07] AmirDJV commented on #3891
Even though you know that the channel/s is/are almost completely interpolated?
You would run the ICA -> exclude ICs -> remove the channel/s?

[2019-03-06 17:08] jona-sassenhagen commented on #3891
I would interpolate -> run ICA.

[2019-03-06 17:13] jdammers commented on #6032
@joshbear would you mind sharing the files for testing?

[2019-03-06 17:13] AmirDJV commented on #3891
Even though 90%-100% of your data is interpolated?

And thank you for the prompt responses :)

[2019-03-06 17:14] jona-sassenhagen commented on #3891
Sorry, I don't know what you mean with this?

[2019-03-06 17:19] jona-sassenhagen commented on #3891
In principle, we could do something like:

- implementing `drop_channels` for ICA objects, and simply internally drop any channel missing in one instance for all instances in corrmap. However, you might easily end up in a situation where across many subjects, almost all channels are bad, or even only the critical ones (eg EOGs), so that the matching procedure is pointless
- internally construct th

[2019-03-06 17:23] AmirDJV commented on #3891
In autoreject I can use the the reject log to see which epochs in each channel were [good/bad/bad+interpolated](http://autoreject.github.io/generated/autoreject.RejectLog.html?highlight=labels%20contains%20integers%20encode%20channel%20given%20epoch%20good%20value%20bad%20bad%20interpolated). Thus, I can calculate how much of my data was bad/bad+interpolated for each channel. Methodically, I don't

[2019-03-06 17:25] jona-sassenhagen commented on #3891
Generally, I'm not sure how autoreject and ICA are expected to interact. @jasmainak

Well if you interpolate a lot, you are losing some noise/variance, so your DFs will be underestimated for some purposes. But if you use nonparametric stats, that should not be a problem right?

[2019-03-06 17:40] joshbear commented on #6032
@jdammers Try this link: https://1drv.ms/u/s!AjNKUsqPwOwNgVQU6qT5fnX4lyXt
It's about 75 mb. 10 minute recording. Let me know if problems.

[2019-03-06 17:52] AmirDJV commented on #3891
My pipeline/line of thought comes from [here (@jasmainak article)](https://www.frontiersin.org/articles/10.3389/fnins.2018.00530/full) and [here (eeglab)](https://sccn.ucsd.edu/wiki/Makoto%27s_preprocessing_pipeline). They advise to reject and interpolate bad epochs/channels before ICA. However, being somewhat newbie I might be doing it backwards :)

I agree with you. Running corrmap listwise-ish

[2019-03-06 17:54] jona-sassenhagen commented on #3891
Well if you do that, you should be fine right? All your montages will be the same.

Simple solution would be to drop the interpolated channels after you've used the ICA, right?

[2019-03-06 18:03] AmirDJV commented on #3891
As long as I don't drop bad channels - yes ;)

You rejected my idea to run the ICA -> exclude ICs -> remove the channel/s ;)

However, when I think of it, running ICA with fully interpolated channels, wouldn't result with ICs that don't actually reflect my data or might cause excluding ICs that are not actually artifacts?

Again, thank you for the support!

[2019-03-06 18:05] jona-sassenhagen commented on #3891
No, that was a misunderstanding - I don't have an opinion on removing post corrmap/applying the ICA solution.

I would not apply the ICA solution from interpolated data to uninterpolated data. But if you fit on interpolated and apply to interpolated, no, where would be the problem?

[2019-03-06 18:10] AmirDJV commented on #3891
Sure, once I interpolated my data, I'm using only it. I think that it all comes from my problem to trust channels that are almost fully interpolated. Which is why I wanted to use corrmap with ICAs build from different number of components/channels.

[2019-03-06 18:12] jona-sassenhagen commented on #3891
Interpolation simply means taking a weighted mean of the neighbours right? It's not some arcane procedure that creates unpredictable artefacts. So I personally don't see much reason for concern, besides for a reduction in true DFs/increased correlation of channels/rank deficiency.

[2019-03-06 18:20] AmirDJV commented on #3891
I think that @jasmainak would probably have a better answer than me. However, based on this from his [article](https://www.frontiersin.org/articles/10.3389/fnins.2018.00530/full) and from my understanding that each time it only interpolate one channel, I don't necessarily think that it's based on the weighted mean of the neighbors.

[2019-03-06 20:01] #3891 closed

[2019-03-06 21:15] jasmainak commented on #3891
@jona-sassenhagen is correct. It is indeed a weighted mean of the other channels. However, when doing this, the bad channels need to be excluded which is why you need to recompute this for every epoch. @AmirDJV any suggestions to improve the doc in autoreject website is welcome :)

[2019-03-06 21:58] larsoner commented on #5058
Closing since #6037 and #5924 now cover the remaining points

[2019-03-06 21:58] #5058 closed

[2019-03-07 00:16] michaelmart77 opened #6038 "MLP low accuracy and strange confusion matrix in case of multi-classification"
I'm trying the MLP from sklearn.neural_network import MLPClassifier for multi classification of about 15 classes. The classification is done on CSP (common spatial patterns) components from EEG Data. I compared the MLP with Logistic regression from sklearn.linear_model import LogisticRegression
The MLP was far worse than the logistic regression.
this is part of my code for:

from sklearn.neural_ne

[2019-03-07 06:04] AmirDJV commented on #3891
@jona-sassenhagen and @jasmainak happy to be corrected and thank you for your help! :)

@jasmainak I will be more than happy to give back :)

[2019-03-07 08:19] cbrnr commented on #6034
@larsoner you're right, this is definitely related to HiDPI resolutions. I usually scale my 3840x2160 display to 3360x1890, but if I turn off scaling (that is, if I use the full 4K resolution), the plot looks fine.

[2019-03-07 09:18] flecaignard opened #6039 "y-limits of subplots in plot_evoked_topo"
Hi all,

Is there a way to set y-axis limits in the « click-to-magnify » plots in plot_evoked_topo? The ylim input applies to the main plot, but does not seem to be transferred to sensor-specific subplots.
Thanks!

Françoise

[2019-03-07 12:53] agramfort commented on #6034
are you doing this on a laptop screen too? on my mac book with default
settings I have the pb.

[2019-03-07 13:32] cbrnr commented on #6034
Yes, the default on MacBooks with retina display is also some scaled resolution.

[2019-03-07 17:14] mmagnuski commented on #6038
This question seems to be better fit for the mailing list - you might get more responses there.
Did you try using a simpler network? Comparing vanilla logistic regression with a neural network with so many neurons and layers (`hidden_layer_sizes=(100,80,70,50,40,15)`) may not give you a good idea for why the performance is different.

[2019-03-07 17:47] jdammers commented on #6032
@joshbear I can confirm that the number of channels found is the same in the pdf and the config. However, as you mentioned, the channel order in the pdf is different (kind of unsorted) as compared to the config (channels are sorted). The current implementation of read_raw_bti() compares each entry of the pdf channel list with the channel list in the config file (i.e., a 1-by-1 matching) and theref

[2019-03-07 18:30] joshbear commented on #6032
Honestly, I'm not sure. I've tried to figure that out from our physicist, but his initial impression was that it is just a quirk in MNE. However, I've processed a couple dozen files, and this one run from this one subject is the only one that seemed off. Indeed, I've recently (pleasantly) discovered that the other runs from the same recording don't have this problem. It could be a one-off quirk, a

[2019-03-07 20:02] jdammers commented on #6032
I will ask my colleague Eberhard Eich, he the real experts. Maybe Eberhard has an idea how to rearrange the channel order in the pdf. We will let you know soon.

[2019-03-08 08:39] cbrnr commented on #6034
I couldn't come up with a simple MWE, but I found that maybe we can fix the problem in https://github.com/mne-tools/mne-python/blob/56ce204fda6763458540755988f97c76a69bbcbd/mne/viz/utils.py#L472 ourselves. I tested with 5 resolutions and 2 backends (Qt5Agg and macosx), here are the values for the sizes we compute:

[code]

With the `macosx` backend, the figure is always correct. With the `Qt5Agg`

[2019-03-08 13:18] #5882 closed

[2019-03-08 17:22] larsoner commented on #6034
You can use `dpi_ratio = getattr(fig.canvas, '_dpi_ratio', 1.)` to get the HiDPI ratio. Can you see if there is a way to fix our spacing using this value?

[2019-03-09 19:54] petergrey75 commented on #6031
I'm having exactly the same problem when trying to crop mff file to multiple segments.
Some segments are valid even without preloading data.
Adjusting tmin/tmax values can produce a valid segment.
With "preload=True" all segments are valid.
The error for invalid segments is: IndexError('index 0 is out of bounds for axis 0 with size 0',)

[2019-03-10 06:45] cbrnr commented on #6034
@larsoner can you test #6043 to see if this works for you?

[2019-03-10 12:51] agramfort commented on #6031
I fear you'll need to dig into the code unless the original authors of this
can find the time to help.

[2019-03-10 21:13] #6034 closed

[2019-03-11 13:33] jjnurminen commented on #6039
Thanks for the ping @agramfort
I can take a look, if this wasn't picked up already.

[2019-03-11 20:14] agramfort commented on #6039
please go for it Jussi

[2019-03-12 07:31] cbrnr commented on #6001
FYI, export to EDF also works in MNELAB (if `pyedflib` is installed), including annotations. I just didn't find a way to write non-integer duration files (e.g. 20.2 seconds), because `pyedflib` always seems to write in increments of 1 second...

[2019-03-12 07:31] #6001 closed

[2019-03-12 12:58] jjnurminen commented on #6039
I started playing with this, but can't get the ylim to work at all on latest master. For example, modifying `plot_topo_compare_conditions` and supplying `ylim` as below has no effect on the plot. Am I missing something?

    plot_evoked_topo(evokeds, color=colors, title=title, background_color='w', ylim=dict(grad=[-1e3, 1e3], mag=[-1e3, 1e3]))

[2019-03-12 14:35] jjnurminen commented on #6039
Also it looks like topoplot refactor is coming in #5568. I guess that will completely change how ylim works, so maybe we should wait.
@jona-sassenhagen

[2019-03-12 14:54] jona-sassenhagen commented on #6039
I will try to get the refactor done at the code sprint ... But I am not yet sure how to deal with interactivity.

[2019-03-12 14:55] ebeich opened #6048 "4D/BTi import error reading channel data"
#### Describe the bug
Program fails to read a 4D data file, probably due to bad interpretation of 4D data file header

#### Steps and/or code to reproduce
 import mne
fname = 'c,rfDC,fbp3-75n,o'
raw = mne.io.read_raw_bti(fname)

#### Expected results
read in the raw data

#### Actual results
crashes
/usr/local/lib/python3.5/dist-packages/mne-0.17.1-py3.5.egg/mne/io/bti/bti.py in _read_channel(fid)

[2019-03-12 14:58] agramfort commented on #6039
maybe this can be done during the sprint then...

[2019-03-12 15:04] larsoner opened #6049 "BUG: eLORETA units are arbitrary"
We should:

- [ ] add an option to make it give Am, and/or have it be distributed according to some statistical distribution like dSPM
- [ ] document units of MNE solvers in docs

@agramfort we should do this during the sprint so we can sit together to work out the math.

[2019-03-12 15:07] larsoner commented on #6048
@ebeich can you make a PR with your proposed changes?

Any chance you can make and share a tiny recording that shows this problem so we can add it to our set of regression test files?

[2019-03-12 15:08] jona-sassenhagen commented on #6039
We can try. @flecaignard can you wait for a month? :)

[2019-03-12 21:32] petergrey75 opened #6054 "brainvision _str_to_meas_date breaks with incorrect date"
if the original brainvision file lacks date information and we do segmentation on it, the offset of "New Segment" is added to "000000000000000000" so we end with something like '00000000000304125000' which passes sanity check in _str_to_meas_date, but it is stil invalid:

`def _str_to_meas_date(date_str):
    date_str = date_str.strip()

    if date_str in ['0', '00000000000000000000']:
        re

[2019-03-13 07:04] agramfort commented on #6054
@petergrey75 can you share a full code snipped with data so we can replicate?
it will be used then as a non-regression test in the PR. thanks

[2019-03-13 13:32] jdammers commented on #6032
@joshbear please have a look at #6048

[2019-03-13 13:39] massich commented on #4715
Once #6047 is merged, this should work also with your files.

[code]

Closing. @kk1995 feel free to re-open if you have any other issues.

[2019-03-13 13:39] #4715 closed

[2019-03-13 14:41] petergrey75 commented on #6054
@agramfort the only change is in brainvision.py in _str_to_meas_date function.

[code]

I just added try/except clause around strptime function because if the date_str is invalid it breaks the loading of the file.

The problem is that segmentation of the file without (empty) meas_date just adds the offset value of the 1st segment to the initial date_str (which is '00000000000000000000' in that cas

[2019-03-13 15:59] agramfort commented on #6054
we don't do changes in code without adding a unit test.

can you share a code snippet that would break in current master and that
works with your suggested  change? thanks

[2019-03-13 22:38] petergrey75 commented on #6054
i can share the code, but unfortunately i'm not allowed to share the data, so code without the data is meaningless, i guess?

[2019-03-13 23:02] larsoner commented on #6054
Within a test, you can copy `shutil.copyfile` an existing `.eeg` test file and then `with open(fname, 'r') as fid:` "copy" the `.vhdr` file with an appropriate modification that would show the error on `master` but is fixed in this PR.

I know it might seem a bit overkill for a simple fix that is easily explained, but the 10-20 lines necessary to make this test will help maintainability for us.

I

[2019-03-14 22:25] #5781 closed

[2019-03-15 08:21] cbrnr opened #6062 "Do we need scikit-learn for Infomax ICA?"
Currently, we [require `scikit-learn` for all ICA algorithms](https://github.com/mne-tools/mne-python/blob/cffcf4b1aeaf04655f6917718029c59ff412c917/mne/preprocessing/ica.py#L316). However, I don't think that Infomax requires `scikit-learn`, only FastICA uses the implementation in this package. Not sure how we handle Picard, but I think it requires `scikit-learn` either.

[2019-03-15 08:44] agramfort commented on #6062
true: infomax and picard don't need sklearn (see
https://github.com/pierreablin/picard/blob/master/.travis.yml)

[2019-03-16 22:48] petergrey75 commented on #6031
There are 2 small errors egimff in _read_segment_file function.
i'm unable to write test unit and make PR but i'll more than happy to explain them if anybody is willing to do that

[2019-03-17 12:32] agramfort commented on #6031
Can you share a code snippet and file to replicate the problem on a different machine ?

[2019-03-17 13:14] petergrey75 commented on #6031
Here is some more info:

1st problem is that when offset is calculated from start sample  - it is never reseted to every additional data block is being read from that offset. That's wrong, because just 1st block will have some offset and additional blocks should be read whole - ie from beginning.

here is snippet from egimff.py:
[code]
this exact code is repeated once more for PNS data, so we need

[2019-03-18 10:48] agramfort commented on #6031
here is a code snippet that works for me. Tell me how to break it:

import os.path as op

from mne.datasets import testing
from mne.io import read_raw_egi

data_path = testing.data_path(download=False)
egi_fname_mff = op.join(data_path, 'EGI', 'test_egi.mff')
raw = read_raw_egi(egi_fname_mff, include=None, preload=False)
raw.crop(2, 5)
raw.crop(0, 2)
raw.load_data()

[2019-03-18 16:51] #5493 closed

[2019-03-18 21:27] petergrey75 commented on #6031
it works, but the data is corrupted

try this:
raw.crop(17.5, 20.5)
raw.load_data()

this shouldn't work

[2019-03-18 21:49] agramfort commented on #6031
ok this helped

can you see if https://github.com/mne-tools/mne-python/pull/6066 is doing
the job?

[2019-03-18 22:23] petergrey75 commented on #6031
looks ok, thanks

[2019-03-19 01:54] #6031 closed

[2019-03-19 10:04] cbrnr commented on #6062
I'm not sure that this was correct. It looks like we need PCA from scikit-learn, no matter what:
https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/ica.py#L613

How should we proceed?

[2019-03-19 10:06] larsoner commented on #6062
We can add our own implementation of PCA pretty easily. IIRC sklearn has a bunch of options I think we never use (sparse, randomized, etc.), and we can get away with just making an efficient one using `scipy.linalg`/SVD. Okay with you @agramfort ?

[2019-03-19 10:11] agramfort commented on #6062
yes ok with me and there is also a long standing issue in there. scikit-learn centers the data all the time while we may not want to do this and I think eeglab never centers the signals that are anyway zero mean after highpass filtering. We saw the problem with @massich and @pierreablin when apply ICA on cropped and short signals.

[2019-03-19 11:47] massich commented on #6062
+1 to add our own PCA. IIRC we only need a subset of sklearn's PCA, if so we should be able to swap those two and nothing break. (and maybe be even numerically stable)

[2019-03-19 11:51] cbrnr commented on #6062
I agree, PCA is one line of code if we use e.g. `np.linalg.svd`, but the real work is making sure this yields the same results like the scikit-learn implementation. Who's up for it (I don't have time ATM but I'm happy to review).

[2019-03-19 17:31] massich commented on #6062
I can put it on my list.

On Tue, Mar 19, 2019, 12:51 Clemens Brunner <notifications@github.com>
wrote:

[2019-03-19 20:37] jasmainak opened #6069 "Issues computing connectivity with CTF system"
I got a report that the connectivity computation was problematic. If you have a CTF-270 system, the function find_ch_connectivity gives you the connectivity of the CTF-275 system. Code reproduce:

[code]

here is the file: https://www.dropbox.com/s/bae8rjdu068ws14/S1_discrimination_conds-ave.fif?dl=0.

My suggestion would be to make [_compute_ch_connectivity](https://github.com/mne-tools/mne-pytho

[2019-03-20 07:46] massich commented on #5631
As far as I can tell, this was solved.

[2019-03-20 07:46] #5631 closed

[2019-03-21 07:22] Vincent-wq commented on #5288
for this part, it works well.

[2019-03-21 08:50] agramfort commented on #6069
for MEG we use fieldtrip neighbors files:

https://github.com/fieldtrip/fieldtrip/tree/master/template/neighbours

I don't see any file for CTF 270.

any idea how to know what CTF system is used, maybe given the channel names?

[2019-03-21 12:08] cbrnr commented on #5180
As an initial implementation, what about allowing only one regularly sampled stream (plus optionally any number of marker streams)? That way, we don't have to resample and we can directly use time stamps and data samples provided by `load_xdf`. Optional marker streams could be converted to annotations. This would probably cover many use cases already, and would be a lot better than what we current

[2019-03-21 13:15] mmagnuski commented on #6062
@agramfort - could you elaborate a little bit on the mean-centering problems? I was looking through the eeglab code recently and they do mean centering at the beginning:
https://github.com/sccn/eeglab/blob/7a93f0276ed6e42fa59cbd49a55f9b5d3f22e707/functions/sigprocfunc/runica.m#L657

[2019-03-21 13:39] GuillaumeFavelier opened #6071 "Manjaro - Failed building wheel for mayavi"
On my config, after I follow the [standard installation procedure](https://martinos.org/mne/stable/install_mne_python.html) with `conda env create -f environment.yml`, I got an incomplete install:

`
Failed building wheel for mayavi
Command "/home/guillaume/source/anaconda3/envs/mne/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-req-build-gx8ijzup/setup.py';f=getattr(tokenize, 'o

[2019-03-21 15:33] jasmainak commented on #6069
okay so apparently it's a CTF-275 system with 5 bad channels

[2019-03-21 15:56] agramfort commented on #6069
Arfff

What’s the expected behavior then? I would personally interpolate

[2019-03-21 16:21] massich commented on #6062
@mmagnuski this is exactly it. I'll try to elaborate but if I'm really off please correct me.

If you run PCA and you have DC in your signal, then the first component of the PCA what is mainly doing is to pick up this DC.

The PCA in sklearn IIRC does not do this. It assumes that your data is already centered to give more control to the user.

The typical case, from the training data you learn the

[2019-03-21 18:11] mmagnuski commented on #6062
@massich
My confusion stemmed from Alex saying that sklearn always centers and eeglab does not, while I checked that eeglab does center the data. Now you say that sklearn PCA does not center and I'm a bit more confused. :)
But I understand your argumentation - although given we often highpass filter at 1 Hz is it a realistic scenario? Also - you seem to refer to training and testing datasets here,

[2019-03-21 20:21] jasmainak opened #6072 "epochs repr is different if you do epochs.drop_bad instead of Epochs(..., reject)"
The code will explain itself:

[code]

The repr says: 55 events (all good)

even though 17 epochs were dropped.

[2019-03-21 20:23] larsoner commented on #6071
That error traceback does not show the real issue. Can you go back to the possibly problematic compiler, checkout that `mayavi` commit, then do:
[code]
? That will give a full traceback that `pip` otherwise hides. (There might also be a `pip` option to show the compile output but I'm not sure.)

[2019-03-21 22:14] mmagnuski commented on #6069
@jasmainak - Fieldtrip neighbours structure gives adjacency information by channel name so you should still be able to use those files. Can you choose channels when reading connectivity in mne?

[2019-03-22 04:06] jasmainak commented on #6069
Yes, you are correct. This is what I realized after posting the issue. I think it's not technically a bug but more a surprising behavior. As people expect the same number of channels in the connectivity matrix as the info.

Regarding this particular data, the info did not have these 5 channels from the beginning (as far as I know).

[2019-03-22 08:26] agramfort commented on #6069
we could subselect the neighbors structure but it means having holes or
maybe disconnected components...

[2019-03-22 08:32] mmagnuski commented on #6069
@agramfort In the extreme that is possible, but I doubt it would be a common scenario. We could warn when some channels from adjacency are not present in info (and maybe the other way too). Disconnected components are already allowed at the source level (left and right hemi).

[2019-03-22 08:33] agramfort commented on #6072
I don't get the pb

[code]

[2019-03-22 08:35] agramfort commented on #5180
no objection but I would start with a gist

[2019-03-22 08:56] agramfort commented on #6069
so warning and subsampling?

[2019-03-22 10:23] mmagnuski commented on #6069
Yes - and there is another benefit of accepting the ch_names present in info: if the order of channels is different in fieldtrip neighbours file and the info - they would be sorted in the correct order (I'm not sure it is done now).

[2019-03-22 10:51] mmagnuski commented on #6072
@agramfort You do see it towards the end:
[code]
but that depends on whether you interpret this reps as being a problem or not.
I actually wondered a few times when I could get something other than `(all good)` - I don't think I ever got a different description even though I was rejecting epochs in a variety of ways.

[2019-03-22 10:59] larsoner commented on #6072
Just remove the `epochs.drop_bad(reject=reject)` line from the example and you'll see it:
[code]
And for one that's more relevant, you can have `reject=reject` in the `Epochs` constructor (just keep `preload=False`) and you'll get the same `repr` with `(good & bad)`, but doing `load_data()` or `drop_bad` will change it to `(all good)`:
[code]

[2019-03-22 11:37] mmagnuski commented on #6072
@larsoner Ok, thanks, that helps. But how does it know in the example if you don't do `drop_bad` that there are good & bad events (although Epochs was not constructed with rej param)? Does preloading the data (still without reject param) changes the state of good & bad to all good? I will check myself, but I am waiting for the sample data to download and that will take some time. :)

[2019-03-22 11:40] mmagnuski commented on #6072
(this would explain why I don't remember ever seeing anything else than `all_good` because I rarely used `rej` when constructing Epochs and always preloaded the data.

[2019-03-22 11:40] larsoner commented on #6072
It's more of "maybe some good maybe some bad" rather than "definitely some good and definitely some bad". It's almost a misnomer with `reject=None`, except that some can still be rejected due to annot, TOO_SHORT, etc.

[2019-03-22 11:40] larsoner commented on #6072
And yes loading data should always change state to all good

[2019-03-22 11:44] mmagnuski commented on #6072
Ok, this was my point of confusion, then it's clear for me now (and I guess to @jasmainak too - as this seems to have been the point of confusion in his case too - as `drop_bad` loads the data).  That might be worth documenting somewhere if its not already explained in the docs (the interaction with preload might be confusing). But otherwise

[2019-03-22 12:30] Vincent-wq commented on #5288
Sorry for the year long delay, I have spend some time debugging this problems again, here are my observations:
1. install with the most recent version of environment.yml will only install the conda install pkgs (not including the pip install pkgs);
2. Then, I pip install all the rest pkgs according to the list in environment.yml, and then success;
3. The only way I can run the example is that:
3.1

[2019-03-22 12:33] Vincent-wq commented on #5288
the new version of document suppose to have all problems settled, at least it works for me now, please refer to my last reply.

[2019-03-22 12:33] Vincent-wq commented on #5288
yet, I think you already put the wheel file in the server.

[2019-03-22 13:21] jasmainak commented on #6072
right, I think I got confused because `Epochs(..., reject=reject)` and `epochs.drop_bad(reject=reject)` appear to do the same thing but they don't.

`Epochs(..., reject=reject)` just declares an intention to reject (and the rejection is done when the data is loaded/accessed) whereas `epochs.drop_bad(reject=reject)` reject _right away_ because it loads the data. The fact that I coded parts of these

[2019-03-22 13:21] #6072 closed

[2019-03-22 13:21] jasmainak commented on #6072
I'm closing this as it seems to be a false alarm

[2019-03-22 14:06] GuillaumeFavelier commented on #6071
I went back to the environment with my default compiler, then executed:
`python setup.py install`
from this specific version of mayavi source code.

I got the following error message:

[code]

[2019-03-22 18:39] agramfort commented on #6069
that would be fine with me.

+1 for PR on this

[2019-03-22 18:55] agramfort commented on #6062
indeed @cbrnr eeglab does center the data as well. I think this is a bad idea if you have cropped filtered data as we saw last year with @massich and @pierreablin. I would vote to make it an option (center=True or False and make it True by default)

[2019-03-22 19:41] dengemann opened #6075 "ENH/IO: add support for LIMO data."
In the past weeks we explored the LIMO dataset with @JoseAlanis and @jona-sassenhagen. We understood how to read its files and make sense of its contents.

https://datashare.is.ed.ac.uk/handle/10283/2189?show=full

@JoseAlanis can you start making a PR with our IO code such that we can add an example that does some basic processing, like computing ERPs of one subject?

[2019-03-22 21:10] larsoner commented on #6062
@massich I can do this tomorrow if you haven't started

[2019-03-22 21:28] massich commented on #6062
Go for it

On Fri, Mar 22, 2019, 22:10 Eric Larson <notifications@github.com> wrote:

[2019-03-22 21:33] larsoner commented on #6071
This is a weird error, and does not look specific to Mayavi. Try `make clean` (or delete the `build` directory) then try again

[2019-03-22 21:34] larsoner commented on #6071
(this error probably comes from mixing compiler versions)

[2019-03-23 00:27] Alex159 opened #6077 "Epochs are being mysteriously dropped"
If you still allow the` reject `parameter in the Epochs constructor, but remove its function, then you should give a warning that this update has occurred. I have just wasted a significant amount of time trying to get some code, which works fine on my lab computer (MNE version was installed about a year ago), working on my home computer (with MNE installed today). My data is inherently noisy and m

[2019-03-23 11:20] GuillaumeFavelier commented on #6071
`make clean` didn't work but I was able to remove the `build` directory before trying again `python setup.py install`. I got the same message again and attached all outputs in [allout.txt](https://github.com/mne-tools/mne-python/files/2999242/allout.txt).

[2019-03-23 16:48] JoseAlanis commented on #6075
yes! where would it be best to put the code? any suggestions?

[2019-03-23 19:25] jona-sassenhagen commented on #6075
https://mne-tools.github.io/stable/auto_examples/index.html#examples-on-open-datasets ?

[2019-03-23 22:40] jona-sassenhagen commented on #6027
@Ali-pak are you still there?

[2019-03-23 23:39] larsoner commented on #6071
Are you on Arch linux? From https://github.com/NicolasHug/Surprise/issues/250 :

https://bbs.archlinux.org/viewtopic.php?id=242682

[2019-03-23 23:43] larsoner commented on #5288
You can probably get `matplotlib` to make things interactive in vanilla Python (assuming it and Mayavi are both set to use PyQt5) with:
[code]

[2019-03-24 00:24] jona-sassenhagen commented on #5711
Closed due to #5762

[2019-03-24 00:24] #5711 closed

[2019-03-24 00:37] jona-sassenhagen commented on #5719
@russellu ?

[2019-03-24 00:39] jona-sassenhagen commented on #5640
Closed for #5699

[2019-03-24 00:40] #5640 closed

[2019-03-24 00:44] jona-sassenhagen commented on #4989
This issue is still open!!! @jasmainak @dengemann

[2019-03-24 00:46] jona-sassenhagen commented on #4817
I am closing this. @abhiramsingh0 reopen if the problem is still there.

[2019-03-24 00:53] jona-sassenhagen commented on #5794
https://mne-tools.github.io/dev/auto_examples/visualization/plot_roi_erpimage_by_rt.html#sphx-glr-auto-examples-visualization-plot-roi-erpimage-by-rt-py

[2019-03-24 03:14] jasmainak commented on #4989
okay for me to close it. We can keep maintaining autoreject in a separate repo for now.

[2019-03-24 03:38] jona-sassenhagen commented on #4989
Ok. Would still be cool to have it here, it's a great tool!

[2019-03-24 03:38] #4989 closed

[2019-03-24 04:20] Vincent-wq commented on #5288
Not sure if I am doing the right thing, I have tried  to set qt5 as backend for both mayavi and matplotlib as follows:
import matplotlib
matplotlib.use('Qt5Agg')
import matplotlib.pyplot as plt
plt.ion()
import os
os.environ['ETS_TOOLKIT'] = 'qt'
os.environ['QT_API'] = 'pyqt5'
it is still not responding (guessing the interaction has problems)

and if I put qt4 for both, then TVTK Scene apears and

[2019-03-24 07:08] #5646 closed

[2019-03-25 08:53] GuillaumeFavelier commented on #6071
Yes! Manjaro is based on Arch Linux and the error log is similar, thank you.

[2019-03-25 13:21] larsoner commented on #6071
Okay closing since it's an upstream problem

[2019-03-25 13:21] #6071 closed

[2019-03-25 17:59] agramfort commented on #6077
@Alex159 sorry to hear this. We try to communicate on any change to the code http://martinos.org/mne/stable/whats_new.html and we have a rigorous policy of deprecations.

you need to realize @Alex159 that most of the work that is done on mne is done by volunteers who hope to have a positive impact of science.

now regarding your problem you must have data with annotations that contain the word BAD

[2019-03-26 08:01] cbrnr commented on #6077
The `reject` parameter still exists - why do you think it has been removed? Could you share a code snippet that led to your problem?

[2019-03-26 08:34] Alex159 commented on #6077
Sure thing. This is code that I was used to writing and works in the older versions of MNE:

[code]

However, if I run this on my noisy data now, I get:

[code]
The "IS THIS WHERE?" part is just me trying to locate why all my epochs were being rejected, even though I had explicitly set `reject` to be `None`. That happens in `_get_data` of epochs.py, where `self._bad_dropped` is set to `True` even

[2019-03-26 08:47] cbrnr commented on #6077
Thanks, this behavior looks like a bug and was certainly not intended. You are right that it might have to do with our recent switch to annotations - @massich do you have time to take a look?

[2019-03-26 10:47] cbrnr opened #6082 "pip install mne should install numpy and scipy"
Currently, the `mne` PyPI package doesn't have any dependencies, but I think it should really treat `numpy` and `scipy` as hard dependencies (and automatically install them if they are not present).

[2019-03-26 12:04] larsoner commented on #6082
Now that wheels seem to be a very usable, stable thing, I agree we should add our hard dependencies in our requirements list. Even [sklearn does it nowadays](https://github.com/scikit-learn/scikit-learn/blob/master/setup.py#L246-L249).

[2019-03-26 12:08] cbrnr commented on #6082
I was gonna mention that even sklearn does it but you beat me to it :smile:. I'll make a PR.

[2019-03-26 12:52] cbrnr commented on #5180
Here's a first proof-of-concept implementation: https://gist.github.com/cbrnr/7164a12868bc7616056587a41f51e92d

Basically, it loads the first EEG stream it finds and adds the first marker stream if present. For many XDF files, https://github.com/sccn/xdf/pull/42 should be fixed before this works. Comments and suggestions welcome!

[2019-03-26 13:37] #6082 closed

[2019-03-26 13:41] agramfort commented on #6077
I can take a look

can you share a full code snippet with the data to replicate?

[2019-03-26 14:34] Alex159 commented on #6077
Hi, Alexandre.
Thanks for taking a look. Here is the code snippet below.
I have also cropped 30 seconds of the data and attached at the end of this reply (~ 7.5 MB).

[code]
And the accompanying output:
[code]

As you can see, `reject` is set to `None` but all the epochs that were found were then dropped.

[eeg_data_cropped_raw.zip](https://github.com/mne-tools/mne-python/files/3008565/eeg_data_cr

[2019-03-26 14:42] #6062 closed

[2019-03-26 14:55] larsoner opened #6084 "MAINT: Establish a CoC (adopt SciPy's?)"

[2019-03-26 15:16] larsoner opened #6085 "ENH: Add minimum-norm based model for virtual sensors"
The `map_data` functions should become public somehow for mapping data between runs.

I think we can do it pretty easily actually by incorporating it into `maxwell_filter` (you get many things for free this way) but Alex does not like it yet. For discussion at the sprint.

Todo:

- [ ] Allow `maxwell_filter` to use a minimum norm approach
- [ ] Make `_map_meg_channels` public
- [ ] Allow `_map_meg

[2019-03-26 15:19] larsoner opened #6086 "ENH: Add distributed parallelism / scaling"
e.g. using Kubernetes/dask/joblib. Need to quantify scaling performance.

[2019-03-26 15:20] larsoner commented on #6000
See https://github.com/ryan-roemer/sphinx-bootstrap-theme/pull/193, they are looking into merging

[2019-03-26 15:29] larsoner commented on #5266
@britta-wstnr the default of `make_lcmv` is `weight_norm='unit-noise-gain'` and it is not set above, so it should be normalized.

We should look into this at the sprint.

[2019-03-26 15:33] larsoner commented on #3853
I can bring some high-SNR phantom data to the sprint so we can interactively break things there.

[2019-03-26 16:27] agramfort commented on #5180
would this work with preload=False?

[2019-03-26 19:25] cbrnr commented on #5180
Because XDF is a format designed for streamed data, `preload=False` would require to parse the whole file. This is certainly doable, but I think it should be implemented upstream. What other requirements does MNE impose on readers? Blockwise random access reading?

[2019-03-26 19:25] cbrnr commented on #5180
Because XDF is a format designed for streamed data, `preload=False` would require to parse the whole file. This is certainly doable, but I think it should be implemented upstream. What other requirements does MNE impose on readers? Blockwise random access reading?

[2019-03-26 19:49] drammock opened #6087 "mne.set_config(None) doesn't work as described"
The [docs](https://mne-tools.github.io/dev/generated/mne.set_config.html) for `mne.set_config` say:

[code]

however, if `key` is `None` then `value` is *not* ignored:

[code]

[2019-03-26 19:57] larsoner commented on #6087
It should say `If `key` and `value` are both None, ...`

[2019-03-26 20:00] larsoner commented on #5180
In general yes, one should at a minimum (that I can think of):

1. Populate `info` properly,
2. Give the number of samples in the file, and
3. Provide a function that returns an arbitrary chunk of data for a given `start, stop` sample number pair

If these are provided, all methods of `BaseRaw` should work (I think!).

If they are not / cannot be provided, we'd have to think about how to deal with

[2019-03-26 20:03] jasmainak commented on #6085
maybe something like: https://gist.github.com/jasmainak/756cf02dce82ab2dc5c2c69722dd13d1

[2019-03-27 07:10] cbrnr commented on #5180
I think all of these points can be implemented, but only with `preload=True`. XDF makes it really hard to randomly access a portion of data, because it does not reserve a constant amount of bytes per data segment. In any case, jumping around the file is still reasonably fast using boundary chunks, but since these are optional the worst case scenario is that the file must be searched from beginning

[2019-03-27 07:12] cbrnr commented on #6087
Alternatively, it would probably be more intuitive if `mne.set.config()` returned the valid keys (i.e. by default the function should use `key=None, value=None`).

[2019-03-27 07:26] agramfort commented on #5180
pyedf or pyxdf don't support random access of chunks at all? I don't have a
strong feeling on this but that would make a precedent to have readers that
don't support preload.

[2019-03-27 08:03] cbrnr commented on #5180
`pyedflib` does support random access, that is you can specify the channel, start time, and end time. I think XDF is really an exception here - I don't know any other file format that's structured similarly, so this might be the only reader for now.

[2019-03-27 09:10] cbrnr commented on #5180
I've added a `parse_xdf` function that does a quick pass over the whole file to read just the headers (but ignore all actual content). This is very fast even for large files (fractions of a second) as compared to the complete `load_xdf` call, which can take several seconds. Maybe we can use `parse_xdf` to fill our meta info even in the case of `preload=False`. But once data is actually needed, we'

[2019-03-27 09:13] agramfort commented on #6077
here is the problem:

In [4]: raw.annotations.description[raw.annotations.description == 'bad_ET']
Out[4]:
array(['bad_ET', 'bad_ET', 'bad_ET', 'bad_ET', 'bad_ET', 'bad_ET',
       'bad_ET', 'bad_ET', 'bad_ET', 'bad_ET', 'bad_ET', 'bad_ET',
       'bad_ET', 'bad_ET', 'bad_ET', 'bad_ET', 'bad_ET', 'bad_ET',
       'bad_ET', 'bad_ET', 'bad_ET', 'bad_ET', 'bad_ET', 'bad_ET',
       'bad_ET', 'bad_ET'

[2019-03-27 09:14] agramfort commented on #5180
not strong feeling here. Do you need this to process your own data? or some
public data?

[2019-03-27 09:58] cbrnr commented on #5180
I don't even work with XDF myself, but I have been involved with the format and I also needed it in SigViewer. But I'm not sure if this was your question...

[2019-03-27 10:14] tstenner commented on #5180
All of these require at least one full pass over the file because the number of streams and samples isn't known in advance. Also, with postprocessing the number of samples might change, even for evenly sampled streams.

I'm not an expert, but I think the postprocessing in the current implementation needs all samples and can't just take a time slice, select all chunks which fall into that range and

[2019-03-27 10:36] cbrnr commented on #5180
Yes, but the pass is much quicker with `parse_xdf` (i.e. when you don't process the contents). Maybe we can use this to fill our meta info when `preload=False`.

Correct, once you start working with the actual data, everything needs to be read and processed (clock synchronization). So basically random access just won't be possible.

[2019-03-27 12:17] cbrnr commented on #5180
BTW, `read_raw_xdf` in https://gist.github.com/cbrnr/7164a12868bc7616056587a41f51e92d also supports loading arbitrary streams by name (and since names need not be unique I could/should also add loading by stream ID). If no name is provided, the first EEG stream is used.

[2019-03-27 12:54] achilleas-k opened #6090 "Channel names from .locs file truncated to 4 characters"
I'm reading a locs montage file with an EDF file and I noticed that my channel names weren't matching.  I dug through the `read_montage()` function and found the following:

https://github.com/mne-tools/mne-python/blob/b74bb10d779dfd8144a4b6fd8fc5444f441f2141/mne/channels/montage.py#L316

Is it part of the specification of the locs format that channel names are restricted to 4 characters?  I have

[2019-03-27 13:30] olipa opened #6091 "problems when loading edf file"
#### Describe the bug
I get some unexpected behaviors when loading the following file:

https://www.dropbox.com/s/nb5sfl1rxsx887p/test_annon_mne.edf?dl=0

unexpected behaviours:

* I lose the `EOG M1` channel ( when `stim_channel='auto'`)
* I lose the miliseconds in `raw.info['meas_date']` (despite being in the file)
* when I do `mne.find_events(raw)` (when `stim_channel` is present) I get errors

[2019-03-27 14:19] massich commented on #6090
@achilleas-k I don't think so at least not in EDF+ (IIRC)

[2019-03-27 14:25] massich commented on #6087
+1 to set them both to `None` by default and use `mne.set_config()` to get the answer. (even if `set_config` to mean **get** me the confing might seem weird)

[2019-03-27 14:27] larsoner commented on #5180
I'm okay with only allowing preload=True or string for this format then

[2019-03-27 14:32] massich commented on #5180
in `0.17.1` this is already the case that we can only read with `preload=True`. i.e: edf files with annotations.

[2019-03-27 14:35] larsoner commented on #6087
It does not get the config, just the valid keys that you can use to set the configuration. get_config() gets the current configuration (keys and values).

[2019-03-27 15:09] massich commented on #6091
Some of the issues you have reported they are not present in `0.18.dev`
(but its true that we do not recover the ms properly)

[code]

[code]

To write an equivalent code in `0.17.1` it should be something like this:

[code]

[2019-03-27 15:10] massich commented on #6091
But this file is buggy in `0.17` check if you recover the expected `events` and maybe you just want to use `0.18.dev`

[2019-03-27 17:10] agramfort commented on #6090
It's very possible MNE is too conservative here. PR welcome

[2019-03-27 17:16] larsoner opened #6093 "ENH: Facilitate PyTorch integration"
From talking to @kingjr it would be nice to facilitate integration with PyTorch for backpropagation of error, for example when doing:
[code]
A good first goal would be to make an advanced example (with whatever MNE utils we need) that uses `sktorch` to get our sklearn-compatible objects to work with PyTorch with backprop. Bonus points if it actually shows there is a benefit to doing this over just

[2019-03-27 17:33] larsoner commented on #5908
@fraimondo still interested in giving this a shot? If not @massich or I can try

[2019-03-27 17:36] larsoner commented on #6085
Also as suggested by @jjnurminen `_map_meg_channels` could also use multipole moments instead of minimum norm. I think ideally one should be able to use either transformation approach (minimum norm or multipole moments) in both `maxwell_filter` and in whatever ends up being the public version of `_map_meg_channels`.

See also https://github.com/mne-tools/mne-python/pull/4491 where @kingjr wanted t

[2019-03-27 18:48] larsoner opened #6094 "ENH: Using Freesurfer talxfm for affine alignment in SourceMorph"
Freesurfer already provides a `talxfm` that gives the alignment of each subject to `fsaverage`/MNI space. So the step in `SourceMorph` where it computes the affine from subject A to subject B can be computed directly from these `talxfm` files rather than re-estimated.

[2019-03-27 18:55] larsoner commented on #3292
We have this now

[2019-03-27 18:55] #3292 closed

[2019-03-27 19:07] larsoner commented on #5373
@rhancockn will you be able to get back to this?

[2019-03-27 20:09] agramfort commented on #5180
ok fair enough then. I assume we can use as soft dep
https://pypi.org/project/pyxdf/ ?

[2019-03-28 03:43] rhancockn commented on #5373
@larsoner Yes, I have a first pass at a fix, but it fails some `preload=False` test cases. I will take another look at getting this integrated and passing.

[2019-03-28 05:34] jasmainak commented on #6094
I suppose you would recompute it if the file cannot be found? Personally, I tend to prefer a little extra computation rather than intermediate files which can be missing ...

[2019-03-28 06:21] cbrnr commented on #5180
We could, but this should be discussed again. It looks like MNE is much more actively maintained than pyxdf, so we could also think about integrating the XDF code directly into MNE. I'd prefer this.

[2019-03-28 06:41] cbrnr commented on #6091
I can confirm that everything works as expected with `0.18.dev`. Regarding the time stamp, EDF does not record microseconds, so MNE just sets this value to zero. BTW, your recording date is July 10 1931 - are you sure this is correct or is this one of Hans Berger's EEG recordings :smile:?

[2019-03-28 06:43] cbrnr commented on #6091
@massich FWIW I think the second element contains the additional microseconds, not milliseconds, at least according to the [docs](https://martinos.org/mne/stable/generated/mne.Info.html).

[2019-03-28 08:35] agramfort commented on #5180
I would prefer to boost the maintenance team of pyxdf and eventually pyedf
to distrbute the maintenance load. It would scale if we always integrate
the community work.

[2019-03-28 08:44] sappelhoff commented on #5180
Couldn't you get write permissions for pyxdf @cbrnr ? That would at least remove potential "blocks" due to inactivity from the reviewing / merging side of PRs at pyxdf?

[2019-03-28 09:18] cbrnr commented on #5180
I'd hope that I could (@cboulay WDYT?), but I can't just rage-merge everything without review 😛 - but it would certainly help if I was more directly involved.

BTW, is there a way I can list all GitHub repos I have write access to?

[2019-03-28 10:03] SophieHerbst opened #6096 "Only 0 head digitization points of the specified kinds ("eeg", "extra",), at least 4 required"
Dear MNE developers,
we are having trouble running maxfilter on an MEG data file recorded at NeuroSpin -
apparently we are missing some head digitization points.
We did digitize extra points and the HPI fitting went fine, so I am not sure what went wrong.
Do you have any ideas on how to debug the problem and still make maxfilter run?
Thank you!
Sophie

Here is the code:
`  raw_sss = mne.preprocess

[2019-03-28 10:26] agramfort commented on #6096
can you share the file with me?

[2019-03-28 13:52] cboulay commented on #5180
I've been explicitly told that I cannot add any new people to SCCN repos. I recently asked for help and guidance, because it's clear that xdf requires more stewardship than it currently receives (and I don't have time to give), and I received a couple "Chad's right, we need more work on this" and a couple no-answers.

One of my ideas, which was not well received by the xdf oversight committee (*re

[2019-03-28 13:59] mmagnuski opened #6097 "minor: peak_finder function has the same name as the module"
This is just a small thing but I thought I'll report it anyway.
I remember @agramfort saying that we don't want to have functions with the same name as the name of the modules they live in. However this is the case with `peak_finder`:
[code]
If one tries to import `peak_finder` directly from `preprocessing` they get a module:
[code]

[2019-03-28 14:08] agramfort commented on #6097
this needs a fix indeed

[2019-03-28 14:11] agramfort commented on #5180
let me share my thoughts on this. If you want xdf to become a community
standard you need to make pyxdf a project that is not affiliated to SCCN.

if you can move the code to a more neutral org it's great. thanks a lot

[2019-03-28 14:38] larsoner commented on #6096
And in the meantime you can get around this by manually specifying the `origin` param, e.g. `origin=(0., 0., 0.04)`.

[2019-03-28 14:39] olipa commented on #6091
Hi

Thank you , i will probably try the 0.18dev : )
Yes we set the recording to the ancient time for anonymisation : ) and I
think we are in 2031 on the edf file !

By the way , if you invite me, I am planning to come to the "spring week" ,
but  obviously I will be "underefficient" on MNE , i hope it's not a
problem...
Best

Olivier

Le jeu. 28 mars 2019 à 07:57, Clemens Brunner <notifications@git

[2019-03-28 14:45] SophieHerbst commented on #6096
Thank you, both!
The file is here:
ftp://ftp.cea.fr/incoming/y2k01/herbst-sophie-1553780743/s190301_TimeInWM_run01_ERROR_raw.fif

[2019-03-28 14:45] cbrnr commented on #5180
I think creating separate repos is a step in the right direction (thanks @cboulay for adding me) - I always thought that `pyxdf` shouldn't be combined with MATLAB (and potentially other stuff). I agree with @agramfort, but that's exactly what @cboulay just did - if the new upstream will be xdf-modules/pyxdf, then it is essentially detached from SCCN. In any case, since at least the pyxdf code is B

[2019-03-28 14:47] agramfort commented on #5180
forking and maintaining our own code is bad community-wise. It make the
community more fragmented while we should consolidate

[2019-03-28 14:49] cbrnr commented on #5180
Yes, I meant migrating and not forking.

[2019-03-28 14:50] cboulay commented on #5180
@cbrnr you now have write access to https://github.com/xdf-modules/xdf-Python
I will ask the other people who have made Python pull requests to move their PRs to that repo instead.

[2019-03-28 14:50] cbrnr commented on #6091
Alright, so I guess problem solved then. Feel free to open a new issue if you encounter more problems.

[2019-03-28 14:50] #6091 closed

[2019-03-28 14:51] larsoner commented on #6091
Do we correctly extract the `ms` offset (which would end up in `info['meas_date'][1]` multiplied by a factor of 1000), or is `info['meas_date'][1]` always `0`?

[2019-03-28 14:53] larsoner commented on #6091
@olipa what should the `ms` value be for this file you uploaded?

[2019-03-28 15:16] cbrnr commented on #5180
Thanks. BTW, I've never migrated/transferred a repo, but shouldn't it be possible with the standard git commands (i.e. cloning and pushing to the new repo)? https://www.atlassian.com/git/tutorials/git-move-repository

[2019-03-28 15:19] cbrnr commented on #6091
I've only ever seen values of `0`, but maybe because EDF/BDF don't store ms/us.

[2019-03-28 15:25] larsoner commented on #6091
Looking at how we convert the meas date, I don't see where `ms` could even be stored in the EDF header. We extract from day/month/year and hour/min/sec fields that are each 8 char long like:
[code]
then the next `fid.read` is the number of header bytes. So really nowhere to store with sub-second-level precision that I can see.

[2019-03-28 15:26] cbrnr commented on #6091
Yes, EDF doesn't store ms, so I think everything works as expected.

[2019-03-28 15:38] larsoner commented on #6096
If we make this a tiny bit more readable:
[code]
You have two "kind"s here, the first are 1 which is fiducial, the second is 2 which is HPI. And this is confirmed with:
[code]
Showing just fiducial + HPI:

![snapshot](https://user-images.githubusercontent.com/2365790/55170917-cd49ac80-514d-11e9-806b-08baa979cf69.png)

If you really want to fit to these points, you can do:
[code]
I can make a small

[2019-03-28 16:42] massich commented on #6091
yep, my fault. `3584` is `header_nbytes`.

all good.

[2019-03-28 17:38] SophieHerbst commented on #6096
Thank you Eric! So that means that the additional points we digitized on the head were not saved.
To be honest, I wasn't even aware that Maxfilter relies on these additional points. I thought they would be used only for source reconstruction.

That would be great!

[2019-03-28 20:35] larsoner commented on #6094
The way `compute_source_morph` is structured, it's assumed already that `subject_from` and `subject_to` are (in the vast majority of cases) already Freesurfer-reconstructed subjects. So for most users this requirement should be satisfied. In the meantime it makes things more consistent when someone uses a Freesurfer environment, and avoids having two ways of defining / computing the same thing, wh

[2019-03-28 21:41] olipa commented on #6091
Hi

sorry for the delay , indeed i could check  today that even in the original
file the starting point is :

08.38.48.000000, so it could not be ms

So no more precision

thanks

Le jeu. 28 mars 2019 à 17:06, Clemens Brunner <notifications@github.com> a
écrit :

--
Dr Olivier PALLANCA

[2019-03-29 18:18] #6096 closed

[2019-03-29 21:52] drammock opened #6101 "interactivity in epochs.plot_topo_image requires plt.ion()"
It appears that the "click to magnify this channel" interactivity only works if the user has already imported pyplot and called `plt.ion()`. Try this in a fresh ipython session:

[code]

Of course, if the last two steps aren't performed, then those orphaned figures hang around and only show up when the *next* MNE-Python plotting call is executed.  Would it work to use `matplotlib.is_interactive()`

[2019-03-29 21:57] larsoner commented on #6101
It's probably not safe to mess with the `ion` / `ioff` state, it means that users can unexpectedly have code execute that they did not want to.

There is probably a way to get the newly spawned figures to appear. It's possible we need to call `plt.show()` after creating any new figures. It seems like something like that should work.

In a worst case, if we can't find a way to get the new ones to s

[2019-03-29 22:02] drammock commented on #6101
right, of course. calling `plt.show()` is a cleaner solution.

[2019-03-29 22:56] drammock opened #6102 "DOC: percent sign messing up docstring"
the `%` sign in the docstring param entry for `low_bias` is wreaking havoc on the docs for [epochs.plot_psd](https://mne-tools.github.io/dev/generated/mne.Epochs.html#mne.Epochs.plot_psd)

[2019-03-30 01:34] drammock commented on #6101
Turns out this problem is worse with `raw.plot_psd_topo()`:

[code]

[2019-03-30 04:05] larsoner commented on #6101
Looks like there are indeed a few bugs, can you see if the fix isn't too bad? Or let me know if you'd rather have me look

[2019-03-30 06:58] drammock commented on #6101
You can assign it to me, I'll look on Monday.

On March 29, 2019 8:05:20 PM AKDT, Eric Larson <notifications@github.com> wrote:

[2019-03-30 13:37] #6102 closed

[2019-03-30 13:45] #5868 closed

[2019-03-30 17:19] #6090 closed

[2019-03-30 23:30] mmagnuski commented on #6097
@agramfort `peak_finder` module has only one content: the `peak_finder` function. The easiest would be to put rename the module to `_peak_finder` and `from _peak_finder import peak_finder` in the prepocessing `__init__` but that would break existing user code.

[2019-03-31 02:39] larsoner commented on #6097
@mmagnuski I think we can get things working with a little bit of `sys.modules` trickery:

https://stackoverflow.com/questions/1060796/callable-modules

Feel free to take over WIP PR #6105 if you are motivated to

[2019-03-31 09:40] psychoxiatao opened #6107 "BUG: "mne.read_annotations""
#### Describe the bug
When I used the command '**mne.read_annotations'** to read .csv file. The **onset** always is 0.  However, the **duration** and **description** work well. If I change the file into .txt, it works correctly.

[2019-03-31 15:08] mmagnuski commented on #5373
Oops, I was not aware of this, I will have to check all my preprocessed files for presence of pauses. I never had an error reading mff files, although I am sure some of them had pauses. My attention was drawn to these issues only because I found that in some recordings I lost a lot of events and noticed that these files had pauses in `epochs.xml`.

[2019-03-31 18:58] agramfort commented on #6107
it's because the .csv reader expects onsets to be timestamps. We should be
done is raise a meaning warning / error when onsets is not timestamps in
.csv eg suggesting to use .txt

[2019-03-31 19:48] jhouck opened #6109 "Volume source space: apply_inverse without altering spectra?"
In volume source space, using `apply_inverse` with `pick_ori='normal'` doesn't really seem like a great option (per @larsoner this is probably +Z).  But using `pick_ori=None` will take the norm across the 3 orientations, which changes the spectra (see e.g. https://gist.github.com/jhouck/8e20484fad3a8e1a1d08addc96204aff).  Using `pick_ori='vector'` preserves the spectra and also provides 3x as much

[2019-04-01 06:02] cbrnr commented on #6107
I think a better solution would be to add an argument to indicate whether absolute or relative timestamps are present. Then we are independent of the file extension, which is a good thing because it is not clear why .csv should have absolute timestamps and .txt relative ones. Or maybe we can even auto-detect the format of the onsets?

[2019-04-01 06:34] agramfort commented on #6107
but then you have one parameter that only makes sense for one file type as
the others are unambiguous
renaming a file to .txt is easy enough I would say

[2019-04-01 08:38] massich commented on #6107
It is true that this would lead to a vector of 0s

[code]

we either support it or we throw an error when its not a datetime

[2019-04-01 09:02] cbrnr commented on #6107
the others are unambiguous

The file extension shouldn't be important at all, so the parameter makes sense for any file type. I don't see the deeper motivation why CSV contains timestamps and TXT doesn't.

Sure it's easy, but it is still confusing.

[2019-04-01 09:04] cbrnr commented on #6107
@massich alright, this is a problem. Then maybe the docs should be clearer on the distinction between the two formats and (most importantly) if something is ambiguous we should throw an error.

[2019-04-01 14:10] larsoner commented on #6109
It depends a bit on what you are going to do with the spectra. If it's just to get a PSD, getting the power spectra of the three orientations and then just taking the sum, average, or RMS across orientations might not be so terrible.

If you want to do some connectivity measure, then it's going to be more complicated. I talked briefly with @SherazKhan about how it should be possible to use an SVD

[2019-04-01 14:48] #6097 closed

[2019-04-01 14:59] agramfort commented on #6107
+1 to improve the doc and raise an error

[2019-04-01 18:42] jhouck commented on #6109
OK, ok, you've talked me into using the beamformer. ;)

Yes, the interest was connectivity;  the PSD was an error check.  I had planned to do envelope correlation, with a group ICA along the way.  There are some additional steps if you want to take complex data from the inversion through the intermediate steps into `envelope_correlation`, but nothing too onerous.   At the moment the process runs f

[2019-04-01 18:51] rhancockn commented on #5373
This issue is likely to affect your data if you are using E-prime with ECI events.

[2019-04-02 02:52] drammock opened #6112 "question: puzzling results in epochs.plot_topo_image"
Setup:
[code]
I expected these two options to yield the same results, but they're very different:
[code]
![Figure_1](https://user-images.githubusercontent.com/1810515/55372922-db7e2c80-54af-11e9-9e52-503aa2065d51.png)
[code]
![Figure_2](https://user-images.githubusercontent.com/1810515/55372927-e20ca400-54af-11e9-9d20-07cce3152ecc.png)

Is the difference here intentional, or a bug?

[2019-04-02 08:21] mmagnuski commented on #5373
I have checked and the issue does affects my data - the events are clearly misaligned with the signal in subjects with pauses (no ERP for example). I was using Psychopy with LPT triggers.

[2019-04-02 11:32] JoseAlanis commented on #6075
PR is WIP; I stored the code as suggested under ``master/examples/datasets``

[2019-04-02 12:39] fraimondo commented on #5908
I’m super overwhelmed right now.

I can test it, but I don’t have time now to come with a solution. Sorry.

[2019-04-02 12:52] larsoner commented on #5373
So @mmagnuski should we review+merge this as is, then you (or someone else) make another PR to fix the multiple epoch support?

[2019-04-02 12:59] larsoner commented on #6112
Looks like a scaling / vmiv / vmax problem in the first example

[2019-04-02 14:33] larsoner commented on #5908
I'll take a look soon then and ping you for a test

[2019-04-02 15:46] drammock commented on #6112
So, not intentional I take it. I'll have a look.

[2019-04-02 15:56] massich commented on #5908
@larsoner I can take it, if you want

[2019-04-02 16:04] larsoner commented on #5908
@massich feel free. Might be best to take care of #5857 and #5852 first

[2019-04-02 16:57] mmagnuski commented on #5373
Yes, I'll just push a cosmetic change to this PR (I have it locally, but I have traumatic memories of pushing to a PR so left it for the evening). Then I would merge as soon as possible and add/fix stuff in subsequent prs. Merging this PR even without a test is much better than having mff reading as it works in master now - small pause at the beginning of the recording removes all time-locked acti

[2019-04-02 17:54] #6101 closed

[2019-04-02 19:10] jona-sassenhagen commented on #6112
For the purpose of DRY, this could default to #6078 ...

[2019-04-02 19:11] jona-sassenhagen commented on #6084
I'm confused, didn't we already do that?

https://github.com/mne-tools/mne-python/issues/5281 etc

[2019-04-02 19:12] larsoner commented on #6084
Wow, yes I am just forgetful!

[2019-04-02 19:12] #6084 closed

[2019-04-02 19:51] drammock commented on #6112
@jona-sassenhagen it looks like `_plot_masked_image` (and its proposed public version) require/create an axes object each time called, whereas `plot_topo_image_epochs` does the `_iter_topography` thing to plot each little imagmap inside one big axes.  So changing `plot_topo_image_epochs` to use `_plot_masked_image` behind the scenes might take some heavy lifting.

(as an aside, I noticed that `_pl

[2019-04-02 19:53] jona-sassenhagen opened #6114 "MINOR _plot_masked_image has a picks argument that appears to go unused"
Thanks @drammock

[2019-04-02 19:56] jona-sassenhagen commented on #6112
Hm? iter_topography creates one axis per plot, right?

https://github.com/mne-tools/mne-python/blob/9b5ae5104ecdeaea13a88273c712382bf131162c/mne/viz/topo.py#L214

So this would essentially be about changing the show_func mostly, right?
Not saying it is trivial.

Either way, the same applies to https://github.com/mne-tools/mne-python/issues/4746, which I will do during the sprint.

[2019-04-02 20:00] drammock commented on #6112
ah, you're right @jona-sassenhagen.  I thought it was passing `unified=True` by default, but that must have been something else I was looking at yesterday.

[2019-04-02 22:34] drammock commented on #6112
@larsoner I'm convinced that in fact both of the plots above have messed up vmin/vmax. Compare the detail plots:

[code]
![Figure_3](https://user-images.githubusercontent.com/1810515/55432352-22ffc980-553f-11e9-9b3a-c9fd43cffce9.png)

versus clicking on that channel after
[code]
![Figure_5](https://user-images.githubusercontent.com/1810515/55432395-41fe5b80-553f-11e9-852b-e1ca90d54e48.png)

versus

[2019-04-02 22:36] jona-sassenhagen commented on #6112
I remember fixing a lot of code in epochs.plot_image to get the vlims right. Maybe check there.

Or I could indeed try to hook this up to _plot_masked_image at the sprint, so it could simply share that vlim functionality.

[2019-04-03 02:01] drammock commented on #6112
I'm gonna punt on this one until the sprint, I think. I put in a draft PR for what I think should be happening, but the resulting plots don't look right (too much of the signal lands near zero => images are mostly grey/white).  I also considered an approach using `np.quantile` to set vmin/vmax at the (0.01, 0.99) quantiles to pull some color into the middle range... maybe worth exploring?

[2019-04-03 10:35] mmagnuski commented on #6112
I've had this problem too some time ago, but now I rarely use `plot_topo_image`.

[2019-04-03 13:50] makkostya opened #6119 "API: simulation module"
I create this issue to continue general  discussion of a simulation module API, started in #5058.
We need to design the API which should:
 - easy way to define **where**  the activity is happening (labels) (see #5924)
 - **what** is the activity (waveform)
 - **when** it is happening (event info)
 - provide as an output a proper input for `simulate_raw`.

cc @sdeslauriers @ikojcic @ngayraud

@agra

[2019-04-03 13:53] larsoner commented on #6119
Closing as dup of https://github.com/conda/conda/issues/8187

[2019-04-03 13:53] larsoner commented on #6119
Sorry wrong link, meant https://github.com/mne-tools/mne-python/issues/5924

[2019-04-03 13:54] larsoner commented on #6119
Ahh I thought #5924 was meant to cover all of these, but looking closer I guess not. Reopening

[2019-04-04 19:25] mmagnuski commented on #5373
Pushing to a PR turned out to be too much hassle again, I just commented in the PR. I will have to preprocess again one of the files I had problems with and then I would be able to confirm.

[2019-04-04 19:48] mmagnuski opened #6121 "Passing axes to erp plot_joint kills some of the axes"
If I want to have two joint plots in one figure (or have the joint plot and some other viz) the easiest would be to pass the axes via `ts_args={'axes': mainfig_ax}` and `topomap_args={'axes': topo_axes}`. Unfortunatelly some of the axes are lost this way and the plot ends up a bit messed up:
![image](https://user-images.githubusercontent.com/8452354/55583506-53ec2400-5722-11e9-9658-ab4c4a5d6b07.pn

[2019-04-04 19:48] mmagnuski commented on #6121
(and I know - that fat colorbar is ugly)

[2019-04-04 20:05] mmagnuski commented on #6121
Theoretically using `title=None` should work, but unfortunatelly I don't see any of the topomaps then:
![image](https://user-images.githubusercontent.com/8452354/55584930-c27eb100-5725-11e9-9c6f-0c0605399390.png)

[2019-04-04 20:11] mmagnuski commented on #6121
When `title` is not none [this line](https://github.com/mne-tools/mne-python/blob/f384253d77d46893d91c4ae678ff50f7287cc384/mne/viz/evoked.py#L1390) likely kills the passed axes if they overlap with the new axis added for the title.
The problem with `title=None` can be located [here](https://github.com/mne-tools/mne-python/blob/f384253d77d46893d91c4ae678ff50f7287cc384/mne/viz/evoked.py#L1428). This

[2019-04-05 09:14] sappelhoff opened #6123 "[EASY][INFRA] Twitter bot is broken since 2019-01-31"
I have mentioned this multiple times and I agree that it's not urgent at all, but I really liked our Twitter Bot "[mne_python](https://twitter.com/mne_python)" and would like to see it restored.

Perhaps this can be done at the sprint or so. Anyhow, this issue is just a reminder for us.

Previous investigation by @agramfort:

[2019-04-05 14:45] nbara opened #6125 "The case of overlapping/simultaneous events"
Hi all,

I'd like to store (.fif) files with overlapping events.

Currently this is not possible :

[code]

Is this something that should work or am I doomed to fail ? Or maybe it's a good use case for Annotations (never used them) ?

Looking at the code, it seems that [`raw.add_events()`](https://github.com/mne-tools/mne-python/blob/56909cdbf35511d9837a5999ce1ffe2f47eee7bb/mne/io/base.py#L2125) i

[2019-04-05 15:03] JohnAtl commented on #5612
What was the final outcome of this?
I have subjects performing a reach and grasp task, EEG and kinematics collected, and would like to align the EEG per reach and grasp phase for TF analysis.

[2019-04-05 15:42] larsoner commented on #6125
This field is not really meant to be used so far. It's something that Elekta provides. You can try to hack it to do what you want, but support for it might break at some point if we realize it has some limitations we haven't imposed yet.

So far the way to solve this problem is to use hierachical event IDs, for example if event 1 is auditory and 2 is visual, then you give this some other number (1

[2019-04-05 15:50] nbara commented on #6125
Yeah but event_ids only relate to epochs, right ?

I have a whole bunch of numpy arrays containing raw EEG data that need to be saved as `-raw.fif` (or any MNE-compatible format) files. ATM the only solution I've found is to save events in a separate CSV file, which is really inconvenient...

[2019-04-05 16:01] larsoner commented on #6125
Annotations do allow for simultaneous things. You can use those for now. They get saved with the raw data

[2019-04-05 16:14] nbara commented on #6125
OK I'll look into it thanks!

Two suggestions that come to mind:
- events can be written to file with `mne.write_events()`; it would be cool if `mne.io.read_raw_fif()` accepted an `event_file` parameter so that events would attached to the raw instance straight away (especially if there is no more stim_channel in `raw._data`
- it would be usefult if `Annotations` accepted sample numbers in combina

[2019-04-05 18:35] larsoner commented on #6125
I'd rather provide a convenience function to convert a events-> annotations (probably needs the raw instance to deal with first_samp and sfreq), then attach annotations the standard way (`raw.annotations.append` or `raw.set_annotations`)

The convenience function above would take care of this sort of conversion. The annoying parts are that for sample numbers you need to know `sfreq` (and often, if

[2019-04-05 21:19] #5627 closed

[2019-04-06 16:15] abhiishekpal commented on #3938
I have currently acquired an .mff data, but upon reading it with mne.io.read_raw_egi() my obtained data length is shorter. My EEG data length is shorter by about 50 seconds.

[2019-04-06 17:59] yvonnio opened #6127 "bem meshes generated by brainsuite cannot be downsampled (mne.make_bem_model))"
Hi guys,
I'm having some issues with the BEM meshes for my EEG data.  I've tried two approaches:
(1) Using freesurfer watershed and trying different preflood levels, but it seems to do a bad job with the outer_skull.surf being misplaced (it extends down to the neck, mostly following the outer_skin.surf).  Will this be problematic for source localization?  Is there a way to overcome this?

![src_su

[2019-04-06 20:57] jasmainak opened #6128 "report does not work for toy example"
If I do this on master:

[code]
it fails with the following message:

[code]

[2019-04-06 21:38] mmagnuski commented on #3938
@abhiishekpal Are you sure your data is shorter? Maybe your evenst are just shifted because you had a pause in the recording? Take a look at #5374 and #5373 for example. This issue should be fixed soon.

[2019-04-06 21:39] mmagnuski commented on #3938
BTW - this issue is not related to reading mff files so its better to move the conversation to some issue that is. :)

[2019-04-06 21:57] abhiishekpal commented on #3938
@mmagnuski probably yes, MNE shows a total of 971 events, whereas EEGLAB shows a total of 1004 events(which is the correct count)

[2019-04-07 10:31] mmagnuski commented on #3938
Could you check in your mff folder in the `epochs.xml` file if you have multiple epochs (that would suggest pauses in the recording and thus event alignment problem).

[2019-04-07 19:43] agramfort commented on #6128
oups @GuillaumeFavelier we broke something :(

can you have a look? or maybe @jasmainak you can find the fix quickly?

[2019-04-07 19:51] agramfort commented on #6123
if you know any solution please let us know

[2019-04-08 03:06] jasmainak commented on #6128
sorry it's a false alarm, plt.plot() does not return a figure object.

Nothing to worry :-)

[2019-04-08 03:30] larsoner commented on #6128
It should raise an error if not a mpl or mayavi figure

[2019-04-08 05:27] sappelhoff commented on #6123
What solution did we previously use? Was it this one: https://github.com/github/github-services/blob/master/docs/twitter ?

There are several solutions, but most of them seem to involve signing up with some external service. I think that would be fine, because we could use the free plan. Some examples:

- [automate.io](https://automate.io/integration/github/twitter)
- [zapier](https://zapier.com/a

[2019-04-08 06:38] bnicenboim opened #6130 "_smart_pad function from cuda is not using the second dimension of n_pad argument"
#### Describe the bug

I don't think this affects too many things, but `_smart_pad` function is not using the second dimension of n_pad argument.

#### Steps and/or code to reproduce

[code]

Both calls give the same results

####  `mne.sys_info()`

[code]

[2019-04-08 07:14] nbara commented on #6125
Do you see this as a class method or simply a utility function ?

I like `Annotations().from_events(events, raw)` as it's straightforward in terms of API.

[2019-04-08 07:39] agramfort commented on #6125
we could have an

mne.annotations_from_events
to match the new
mne.events_from_annotations

[2019-04-08 07:43] nbara commented on #6125
I like this. I can make a PR this week.

[2019-04-08 07:47] agramfort commented on #6123
I  arrived to the same conclusion

[2019-04-08 08:22] sappelhoff commented on #6123
@agramfort it'd probably have to be you to set it up (or someone else with credentials both for mne-tools and `@mne_python` twitter).

I suggest to go with Zapier, because their free plan seems to be a bit more permissive:

whereas with Automate.io states:

[2019-04-08 11:45] langestroop commented on #3609
Hi all,

I'm really sorry to open up this issue again after one year, but I'm still struggling with importing ANT Neuro .cnt files with MNE. I started a conversation with @behinger and Robert a long time ago, but I didn't manage to solve the issue. In my specific case, I might need to compile the libeep library on my own since I'm using MacOS, but I was wondering whether the problem has been solve

[2019-04-08 12:18] agramfort commented on #3609
we don't still yet such a reader. Someone has to take a stab at it.

in the meantime you can convert your files to edf or .set and then use mne?

[2019-04-08 15:20] larsoner commented on #6127
I cannot reproduce the issue you reported on the listserv with the `sample` surfaces. I put the unzipped surfaces in `foo/bem` and ran:
[code]
I just noticed that you uploaded the `sample` dateset surfaces. If we are going to debug the error you got (with the divide by zero), we'll need the actual problematic surfaces.

[2019-04-08 15:21] larsoner commented on #6127
... I see you've now edited it include the surfaces (GitHub just updated the page for me -- we are not notified of edits.) I'll take a look now.

[2019-04-08 16:32] larsoner commented on #6127
Your surface has topological defects, two of the vertices have fewer than 3 neighbors. This should be fixed somehow (not sure how). My guess is that it's in the eyes based on the output of:
[code]
See #6133 where we raise an informative error message, in your case this is:

[2019-04-08 16:39] yvonnio commented on #6127
Ok, thanks for the help.  I'll keep an eye out on the pull request.

[2019-04-08 21:01] #6130 closed

[2019-04-09 05:35] cbrnr commented on #3609
Since you are on macOS you might want to try the Python bindings of [Biosig](http://biosig.sourceforge.net/download.html). I don't know if it supports ANT CNT, but it's worth a try.

[2019-04-09 08:56] makkostya commented on #6119
Here is an example of a possible simulation script:
https://gist.github.com/makkostya/4f783028bb1324dabb45388f91e2cb8f

Note: we suppose StcSimulator to be the subclass of SourceEstimate and thus it could be treated as an stc.

@ngayraud you created your own Simulator class? can you share the code pls to discuss.

[2019-04-09 08:57] ngayraud commented on #6119
Will do ASAP

Le mar. 9 avr. 2019 à 10:56, Maksymenko Kostiantyn <notifications@github.com>
a écrit :

[2019-04-09 10:55] langestroop commented on #3609
Hi,

@agramfort : oh, that's a pity :( I think that @behinger created one, but his solution was specifically designed for ubuntu 64bit if remember correctly.
Btw, yes, that's what I'm doing at the moment: using .set to work with MNE. I think I'll also check whether our ANT recording software is able to export the raw files directly into edf or some other mne-supported format.

@cbrnr : thank you,

[2019-04-09 12:08] pengweimin opened #6137 "Motor imagery decoding from EEG data using the Common Spatial Pattern (CSP)"
when i run this code ，some error was appear.

  File "<ipython-input-8-096867868191>", line 1, in <module>
    runfile('C:/Users/Administrator/Desktop/deep/preprocessing/mne-python-master/plot_decoding_csp_eeg.py', wdir='C:/Users/Administrator/Desktop/deep/preprocessing/mne-python-master')

  File "C:\Program Files\Anaconda3\lib\site-packages\spyder\utils\site\sitecustomize.py", line 866, in runfi

[2019-04-09 12:09] pengweimin commented on #6137
code:

import numpy as np
import matplotlib.pyplot as plt

from sklearn.pipeline import Pipeline
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import ShuffleSplit, cross_val_score

from mne import Epochs, pick_types, find_events
from mne.channels import read_layout
from mne.io import concatenate_raws, read_raw_edf
from mne.datasets import eegbci

[2019-04-09 19:23] #5941 closed

[2019-04-09 20:02] agramfort commented on #6137
@pengweimin what version of mne are you using? FYI it should work as our continuous integration system test this everyday and it seems to work if example version matches your mne version.

[2019-04-09 20:11] agramfort commented on #6123
let's look at this during the sprint

[2019-04-09 21:35] corscheid opened #6138 "plot_alignment not showing EEG electrode locations on scalp"
We're trying to verify all of our alignments. (EEG electrodes, source space, etc.)

Following [this tutorial](https://martinos.org/mne/stable/auto_examples/visualization/plot_eeg_on_scalp.html), we have created a test script derived from the example in which the only modification was to change the `*_raw.fif` data file to be loaded into the `raw` object.

The example script runs as expected, howev

[2019-04-10 01:58] pengweimin commented on #6137
mne version  0.17.2
python 3.5.2

[2019-04-10 02:02] pengweimin commented on #6137
mne v0.18.dev0(0.17.2)
python 3.5.2
thanks

[2019-04-10 06:36] cbrnr commented on #6137
If you are referring to the included example script `mne-python/examples/decoding/plot_decoding_csp_eeg.py`, this works with the current master. As @agramfort mentioned this is tested every time someone makes a change to the code. I also tested it locally and it works.

Most likely you are using an old version. Please either install the latest stable version 0.17.2 or pull the current master if yo

[2019-04-10 06:41] cbrnr commented on #5612
I think we decided not to integrate this into MNE because it's probably not interesting for most people. However, I have been working on writing up a blog post on how to create these time-warped t/f maps, but I got stuck because I didn't really have good example data. The EEGLAB data does have variable length epochs, but they are very short, so the results do not look very interesting. I'd prefer

[2019-04-10 07:01] agramfort commented on #6138
how did you specify the eeg channel locations for your raw object?
DigMontage? Montage? do you know if which coord system these positions are?

[2019-04-10 07:06] mmagnuski commented on #5612
@cbrnr - are you sure about eeglab allowing variable length epochs? If so - this must have changed lately as eeglab always had a requirement of same-length epochs. I was using fieldtrip a bit lately (I'm staying at Donders for some time) and I must say I like how it deals with variable length epochs and how that allows partial rejection (removing only parts of your epochs when artifacts do not spa

[2019-04-10 07:18] cbrnr commented on #5612
The EEGLAB example data contains markers that would lead to variable length epochs. What they do in their tutorials is to make them fixed length. So yes, EEGLAB (and MNE) cannot deal with variable-length epochs, hence the need for a custom solution.

[2019-04-10 07:57] corscheid commented on #6138
Hi agramfort, Thanks for your reply.

Here's the process for how this raw object came to be:

[code]
[code]
where
- `raw_fname` is a .set file previously saved/exported from EEGLAB
- `montage_fname` is the `standard-10-5-cap385.elp` file copied from EEGLAB
- `fif_fname` in both cases is the same file, exported from one mne script and imported in the current one.

[2019-04-10 08:14] agramfort commented on #6138
such a montage is defined on a sphere and not in the MRI space of your
subject.

do you actually have an MRI for your subject? or you want to work with a
template brain?

[2019-04-10 10:09] ngayraud commented on #6119
Ok I am somewhat up to date with everything. Here is the API I created a while ago, which answers to mostly 2 and 3.
https://gist.github.com/ngayraud/22f5d0360ba34e1873ae441b850253a1

[2019-04-10 11:47] #6121 closed

[2019-04-10 19:34] yvonnio commented on #6138
I have a similar issue, `mne.plot_alignment` basically gives me an empty display.  I've narrowed my issue down to the an issue with a misalignment of the default dig montage and the MRI space of my subject.  Like corscheid, I'm also using a default montage but in my case, `montage  = mne.channels.read_montage('GSN-HydroCel-257')`.

After running `mne.io.read_raw_egi` I get this with `print(raw.inf

[2019-04-10 19:39] corscheid commented on #6138
We do not actually have an MRI. We would have to work with a template. So far, we have been using either MNE sample or Freesurfer's fsaverage. At some point we did the mne watershed bem on this fsaverage one, if I recall correctly.

We have a plot_alignment that currently looks like this:
![image](https://user-images.githubusercontent.com/6957624/55907809-c25b3700-5ba5-11e9-9fdc-50be4cd17e6e.png)

[2019-04-10 20:06] yvonnio opened #6140 "floating electrodes, misalignment between default montage and mri space"
I have my own MRI, generated subject BEM surfaces, but when I pull it up into `mne.gui.coregistration()`, I get something wild like this:
![mne_coreg](https://user-images.githubusercontent.com/49346757/55907234-33015400-5ba4-11e9-8f9e-6c99eff8b185.png)

No matter how I try to fit the translation and rotation (Fit (ICP), Fit Fid.), I cannot match the MRI.  And when you zoom in, you can eventually s

[2019-04-10 20:56] larsoner commented on #6140
Probably one is in units of `mm` and the other `m`. Freesurfer surfaces (including head) are in `mm` units IIRC, and you probably have them in units of `m` (thus making them tiny).

[2019-04-10 21:19] yvonnio commented on #6140
I think you're right.  That's a silly mistake on my part.  Would it be correct to use the scaling function in mne coreg then?

[2019-04-10 21:54] larsoner commented on #6140
It would be better to create your surfaces in the proper units in the first place. But the coreg MRI scaling might also work

[2019-04-10 22:04] yvonnio commented on #6140
Actually, looking at the files again with the units in mind, it seems that the info is the one to blame.

I get the default montage by running `montage = mne.channels.read_montage('GSN-HydroCel-257')`.  Then run `raw = mne.io.read_raw_egi(
            rname, montage=montage, misc=['E257'], eog=['E31'],
            channel_naming='E%d', preload=True)` to set up the raw file.
When comparing the orig

[2019-04-10 22:13] larsoner commented on #6140
Probably the montage file is not in the correct units and we never correct it

[2019-04-11 19:01] #6128 closed

[2019-04-12 07:04] corscheid commented on #6138
@agramfort

Thank you so much for your help! It appears I got everything to plot properly by using the following lines in my script:

[code]
<img width="1440" alt="Screen Shot 2019-04-12 at 02 59 08" src="https://user-images.githubusercontent.com/6957624/56018235-8a501300-5ccf-11e9-9edc-c706eacd3767.png">

I'll go back and use this on my other script as well now that everything looks okay.

[2019-04-12 08:01] agramfort commented on #6138
I tried to replicate with public data with

[code]

it does not look right. What else did you do?

[2019-04-12 08:36] corscheid commented on #6138
Interesting. I just copied my surfaces over and ran that and indeed got some strange alignment. Not sure what's going on there. But here is my script that yields the plots in my previous screenshot:

[code]

[2019-04-12 11:22] massich commented on #6140
yes thats exactly the case. If you look at https://11334-1301584-gh.circle-artifacts.com/0/dev/auto_examples/visualization/plot_montage.html there's the right scale for all but `EGI_256`:

[code]

[2019-04-12 11:26] agramfort commented on #6138
you used a trans for fsaverage. How did you produce it? can you share this
file?

[2019-04-12 16:18] corscheid commented on #6138
I used the following bash script as a one-time setup stage.

[code]

What is the best way to share the resulting `fsaverage-trans.fif` file?

[2019-04-12 17:03] agramfort commented on #6138
E-mail Dropbox anything works

[2019-04-12 17:07] corscheid commented on #6138
@agramfort I see you're using email to comment here. In case you missed it, I have edited my last response to now just say the following:

EDIT: To answer your question, it looks like I didn't actually produce this trans, but literally just copied the `fsaverage-trans.fif` provided in MNE-C `mne_analyze` folder.

[2019-04-12 17:18] mmagnuski opened #6144 "pylsl >= 1.13.1 in environment.yml"
I am using mne's environment.yml file on CI and started getting errors from `pylsl>=1.13.1` requirement:
[code]
This was introduced in #6120 but later @larsoner uncommented this requirement from [`requirements.txt`](https://github.com/mne-tools/mne-python/blob/master/requirements.txt) but it is still there in [`environment.yml`](https://github.com/mne-tools/mne-python/blob/master/environment.yml).

[2019-04-12 17:20] agramfort commented on #6144
can you open a PR?

[2019-04-12 17:20] mmagnuski commented on #6144
sure

[2019-04-12 17:28] agramfort commented on #6138
indeed ! this works fine:

[code]

[2019-04-12 17:52] corscheid commented on #6138
Confirmed. Thank you again for your help! I suppose this Issue can now be closed.

[2019-04-12 19:33] #6144 closed

[2019-04-13 12:40] agramfort commented on #6138
see https://github.com/mne-tools/mne-python/pull/6146 to follow up.

thanks @corscheid for putting my eyes on this.

[2019-04-13 12:40] #6138 closed

[2019-04-13 12:54] wmvanvliet commented on #6119
Just wanted to leave a note that the beamformer team also wants to run simulations during the code sprint. So we're interested in the API design too!

[2019-04-13 12:57] larsoner commented on #6119
Great. First we need to decide on #6037, @agramfort is not convinced it's the best approach. Once that's done, we can work on the API of the `SourceSimulator`.

[2019-04-13 20:56] wmvanvliet commented on #6119
About the proposed `SourceSimulator` API, IMO it would be much simpler to no have to define all dipoles/sources at once with complicated lists/dics datastructures, but have something like:

[code]

[2019-04-13 21:55] larsoner commented on #6119
Sounds good to me, except that it should take src not fwd in the constructor. Mapping source( time course)s to sensors is the domain of simulate_raw and should probably stay that way

[2019-04-14 00:48] larsoner opened #6148 "BUG: test broken with latest released pandas"
The test code skipper that was formerly for `dev` version of `pandas` has now been released (for a few months now) so a lot of our CIs say:

@massich any chance to come up with a proper fix now that Pandas has released 0.24?

[2019-04-15 12:37] #6148 closed

[2019-04-16 07:30] virvw opened #6154 "Q: regression in vol space"
If your issue is a usage question, please consider asking on our [Gitter channel](https://gitter.im/mne-tools/mne-python) or on our [mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) instead of opening an issue.

#### Describe the problem
#### Describe your solution
#### Describe an alternative

We (@virvw and @poojaprabhu9) wish to perform the mne.stats.linear_regressi

[2019-04-16 14:11] larsoner commented on #6154
Thoughts

1. You could make a MixedSourceEstimate if you want, cortex + hippocampus. But we don't yet support different orientation priors for mixed source spaces so probably isn't worth it over just using a full volume source space.
2. Why can't you do (3)? You'll probably want to use `VectorVorlumeSourceEstimate` (`pick_ori='vector'`) in order to keep things linear. Perhaps it's too computationa

[2019-04-16 14:13] larsoner opened #6155 "ENH: Volume labeling"
At some point we should have a way of "label-izing" volumes like we do for surfaces. Freesurfer probably has utilities/files for this but I've never looked or worked with them (probably aseg.mgz), and in general we should have a way of making volume labels. Basically we need (API proposal):

1. `read_labels_from_aseg` (or whatever the correct Freesurfer file is), which returns a list of...
2. `Vol

[2019-04-16 14:14] larsoner commented on #5457
@jasmainak marking this for the sprint in case you want to work on it

[2019-04-16 14:17] larsoner commented on #4445
Some of the vertex picking/restriction is refactored a bit in #6037, so I'd recommend not starting on this issue until we merge that PR or at least pull out the relevant restriction parts from the code. Happy to work on this at the sprint

[2019-04-16 14:37] agramfort commented on #6155
+100

[2019-04-16 14:42] jona-sassenhagen commented on #6154
Algorithm wise, with our use case, regression scales well with the number of targets (sensors/voxels), the issue is usually the number of features (sampling rate/window lengths). I think this should still go with, what, 3000-6000 targets you have in source space? Worst case we can split apart the regression problem ourselves (effectively first compute (X'X)^-1, or do the most effective factorisati

[2019-04-16 14:50] jasmainak commented on #5457
okay, perfect!

[2019-04-16 15:17] teonbrooks opened #6156 "[ENH] Support StringIO as a valid input"
Currently working implementing some of the core functionality of mne-python into Pyodide (example [here](https://definitely-staging.iodide.io/notebooks/19/)). I noticed that we do not support StringIO in our readers. When the browser fetches data within the Python implementation, files are brought in as StringIO, which has the same functionality of a reading a file.

The user would still need to u

[2019-04-16 15:45] larsoner commented on #6156
This is essentially a dup of https://github.com/mne-tools/mne-python/issues/5867, let's discuss there.

[2019-04-16 15:45] #6156 closed

[2019-04-16 15:46] teonbrooks opened #6157 "Get LSLClient and RtEpochs to play nice"
The RtEpochs may need to be cleaned up in order to best serve other clients. I am having a difficult time debugging its interactions with the LSLClient.

[2019-04-16 15:47] larsoner commented on #5867
Reopening due to renewed interest (this time in StringIO, which implementation-wise is going to have similar issues with open file objects).

@arokem @teonbrooks would it work for your use cases if we supported file-like objects (e.g., open file objects, StringIO) only when used with `preload=True`? This would probably get around most of the implementation problems I foresee.

[2019-04-16 15:53] teonbrooks commented on #5867
Yep, that would fit my use case.

[2019-04-16 15:55] arokem commented on #5867
I believe so!

[2019-04-16 15:57] larsoner commented on #5867
Okay I can implement this hopefully without too much complexity. I'll shoot for next week.

[2019-04-16 16:33] larsoner opened #6159 "MAINT: Beamformer simulation study"
To be filled in by @wmvanvliet (turning project stub into issue).

[2019-04-16 18:22] larsoner commented on #5956
Looks resolved, closing

[2019-04-16 18:22] #5956 closed

[2019-04-16 18:23] larsoner commented on #5849
Closing this, feel free to open targeted/specific issue(s) about how to improve our linear regression code

[2019-04-16 18:23] #5849 closed