[2021-01-27 20:14] agramfort commented on #8795
Yes I think there is something to understand. It's indeed suspicious

[2021-01-27 21:30] rythorpe opened #8797 "discrepancy when plotting vertex time course with pyvista backend"
#### Describe the bug
The MNE time course looks different when plotting a vertex within the brain visualization GUI via the pyvista backend (top figure shown below) compared to manually plotting the vertex using ``SourceEstimate.data`` (bottom figure shown below).

#### Steps to reproduce
See https://gist.github.com/rythorpe/3c57fdb572bc17bb1f3e4bb70b3e1104 using the ``somato`` dataset. Selecting

[2021-01-27 22:16] jasmainak commented on #8797
Thanks a lot @rythorpe for the bug report. It does looks like something funky is going on. @GuillaumeFavelier do you know where we should look in the code for this? @rythorpe mentioned to me that he would be up for doing a PR

[2021-01-27 22:26] rythorpe opened #8798 "defining backend in SourceEstimate.plot() sets default backend for subsequent renders"
#### Describe the bug
Explicitly defining a 3d rendering backend in `SourceEstimate.plot()` appears to set the backend for subsequent calls to the same method that don't explicitly define the backend.

#### Steps to reproduce
Run [this script](https://gist.github.com/rythorpe/0164d059eaab74c155c5246f2679f895) in an ipython shell.

#### Expected results
Explicitly defining the `backend` arg in `Sou

[2021-01-27 23:12] larsoner commented on #8797
Do you still have this problem with smoothing_steps='nearest'? The time course plotted is for the smoothed data.

[2021-01-28 01:05] yh-luo commented on #8791
@larsoner it solves the problems and works smoothly, thank you!

[2021-01-28 01:25] michaelcgold commented on #8755
Thanks everyone for your help!! Appreciate your work

[2021-01-28 02:20] rythorpe commented on #8797
That appears to do the trick (see plot below)! What is the motivation behind plotting the time course for smoothed data by default? Unless there is a strong use case for reducing high-frequency noise in the inverse solution, I feel like this can give a misleading first-impression of relative vertex time courses.

![Screenshot from 2021-01-27 20-56-05](https://user-images.githubusercontent.com/2021

[2021-01-28 02:29] jasmainak commented on #8797
Wasn't this also an issue? Is this also fixed by changing the smoothing steps?

[2021-01-28 02:31] jasmainak commented on #8797
The source space is a decimated surface, so to get a proper visualization you need to smooth the result. You could also plot directly on the source space but since it's so decimated it will look very weird

[2021-01-28 04:02] rythorpe commented on #8797
This is fixed by using `smoothing_steps='nearest'`. Note in the figure attached to my previous comment that the peak at t=0.041 sec in the blue trace is now greater in magnitude than in the orange trace.

[2021-01-28 04:06] jasmainak commented on #8797
okay feel free to close issue then.

[2021-01-28 04:08] #8797 closed

[2021-01-28 04:11] rythorpe commented on #8797
Thanks for the help @larsoner and @jasmainak!

[2021-01-28 08:02] #8791 closed

[2021-01-28 09:06] tczhangzhi commented on #8765
Seems no one is working on it, so I following the above discussion and provide an implementation.

[2021-01-28 09:52] gemeinl commented on #8795
Thanks for looking into this!
Fitting more raws into RAM would be very convenient but is not required from our side.
In a typical setting, with a very large dataset that does not fit entirely into RAM, we will read raw signals, preprocess them, epoch them, and store them to disk.
For training, we will then read epochs with `mne.read_epochs` with `preload=False` and load individual epochs with `get

[2021-01-28 12:54] agramfort commented on #8795
@gemeinl can you be explicit and quantitative about what is current slow for your needs?
The last comment suggests there is no problem in the end...

[2021-01-28 13:25] gemeinl commented on #8795
It depends on the deep learning model, on the GPU, on the batch size as well as on the dataset.
@hubertjb has done comparisons of an in-memory and a lazy loaded dataset and found minor slowdowns. @hubertjb Do you remember a factor of slowdown or rough estimates of model training time and lazy loading time in your specific setting?

[2021-01-28 13:31] gemeinl commented on #8795
If it plays a role in your consideration whether to compute the times on-the-fly or not, I could achieve ~50% speed up generating the times. See:
[code]
![image](https://user-images.githubusercontent.com/6839229/106141642-b1abf480-6170-11eb-9dd3-bbc2eb55e625.png)

Executed on an AMD Ryzen 5 4600h.

[2021-01-28 13:41] larsoner commented on #8745
This appears to be fixed by #8801

[2021-01-28 14:02] CedricAllainEnsae opened #8802 "Issue with mne.viz.plot_topomap on sample dataset restricted to MEG channels"
#### Describe the bug
The `mne.viz.plot_topomap` does not produce the expected result on the sample dataset when limiting to MEG channels.

#### Steps to reproduce
Run the following script:
[code]

#### Expected results
`plot_topomap` should create a topographic map as image.

#### Actual results
Got the following error:
[code]
which intervenes when the function `_merge_grad_data(data, method)` is

[2021-01-28 14:12] agramfort commented on #8802
I confirm the pb. It was working fine with version 0.19

[2021-01-28 16:27] jasmainak commented on #8715
closed by #8800

[2021-01-28 16:27] #8715 closed

[2021-01-28 21:13] cjayb opened #8810 "'matplotlib' backend for stc.plot is broken"
#### Describe the bug

Missing

[code]

in `mne.viz._3d._plot_mpl_stc`

#### Steps to reproduce

Generic to any example

[code]

#### Expected results

A static plot using the `matplotlib` backend showing a 3D rendering of a surface.

#### Actual results

[code]

#### Additional information

PR will follow...

[2021-01-29 10:16] #8782 closed

[2021-01-29 15:09] #8764 closed

[2021-01-29 15:19] dasdiptyajit opened #8812 "mne.viz.set_3d_view with pyvista backend is not consistent!"
I'm trying to do something similar to :
https://mne.tools/stable/auto_examples/visualization/plot_mne_helmet.html#sphx-glr-auto-examples-visualization-plot-mne-helmet-py

#### Describe the bug
However, I am seeing an anti-aliasing effect during interactive mode in ipython and Jupyter-notebook

Expected results:
![test2](https://user-images.githubusercontent.com/43450258/106292828-9531ba00-624d-11e

[2021-01-29 15:23] larsoner commented on #8812
Can you write a little code snippet using `sample` data that replicates this? Or is it enough just to run the example above in Python and then in Jupyter to see different outputs?

[2021-01-29 15:33] dasdiptyajit commented on #8812
# replicate the issue with Jupyter
# code

import os.path as op
import mne

sample_path = mne.datasets.sample.data_path()
subjects_dir = op.join(sample_path, 'subjects')
fname_evoked = op.join(sample_path, 'MEG', 'sample', 'sample_audvis-ave.fif')
fname_inv = op.join(sample_path, 'MEG', 'sample',
                    'sample_audvis-meg-oct-6-meg-inv.fif')
fname_trans = op.join(sample_path, 'MEG', '

[2021-01-29 15:33] GuillaumeFavelier commented on #8812
This bug is described in https://github.com/mne-tools/mne-python/issues/7599 and is related to VTK9. [It has been patched for `Brain`](https://github.com/mne-tools/mne-python/pull/8576) but can probably occur on other viz that do not use the same algorithm. I think it's your case. I happen to work on porting evoked field map feature to use `Brain` instead. You can track the progress of this work i

[2021-01-29 15:53] #8810 closed

[2021-01-30 09:17] hoechenberger commented on #8218
Just wanted to let you know that this issue still has not been addressed upstream. If you have a minute, it would be great if you could add a 👍 to https://github.com/microsoft/pylance-release/issues/346 and leave a comment there, to show this issue is of relevance.

[2021-01-30 13:08] agramfort commented on #8798
cc @GuillaumeFavelier

[2021-01-30 18:25] hoechenberger opened #8814 "Epochs.reject_tmin and reject_tmax aren't being adjusted for deviations due to sampling rate"
MWE:

[code]

Output:
[code]

Saving above Epochs to disk and trying to load them will fail:
[code]

Output:
[code]

[2021-01-31 01:25] jasmainak opened #8815 "color argument is not respected in brain.add_label"
I tried the following:

[code]

it gives me an orange label instead of green.

Furthermore, if I do:

[code]

the label is not removed from the image. Not sharing screenshots because I have some rendering issue with these plots on my mac but you can verify/reproduce easily with the scripts above.

[2021-01-31 08:40] hoechenberger commented on #8815
Tagging @GuillaumeFavelier because he's the expert here 😇

[2021-01-31 11:41] hoechenberger opened #8816 "Epochs.crop() doesn't adjust Epochs.reject_tmin, reject_tmax"
Related to #8814

MWE:
[code]
Output:
[code]

Trying to save & load:
[code]
Output:
[code]

[2021-01-31 16:39] agramfort commented on #8814
can you have a look?

[2021-01-31 16:44] hoechenberger commented on #8814
Yes I can work on this tomorrow.

[2021-02-01 09:49] GuillaumeFavelier commented on #8798
The `backend` parameter in `plot_stc` does not play nicely with the 3d backend. I'll see how it can be fixed.

[2021-02-01 13:05] #8802 closed

[2021-02-01 13:32] GuillaumeFavelier commented on #8815
I can't reproduce the bug with orange label. For me, `color='green'`:

![image](https://user-images.githubusercontent.com/18143289/106465293-11b8d880-649a-11eb-8440-383fb0c5dba7.png)

<details>

[code]

</details>

But I did notice the issue with `remove_labels()`, good catch @jasmainak !

[2021-02-01 13:42] #8550 closed

[2021-02-01 14:02] jasmainak commented on #8815
yes I green label also with your code. But did you try the code above that I shared? :)

![image](https://user-images.githubusercontent.com/15852194/106468619-2b432b80-646c-11eb-98e9-0c9dec3a1042.png)

[2021-02-01 14:06] GuillaumeFavelier commented on #8815
I ran it and I got the same now. This is embarassing :sweat_smile:

I'm on it

[2021-02-01 17:28] hoechenberger commented on #8232
Closed via #8452

[2021-02-01 17:28] #8232 closed

[2021-02-01 17:41] #8815 closed

[2021-02-01 21:58] apadee opened #8824 "connectivity.spectral_connectivity drops times when given Epochs object"
#### Describe the bug
I'm trying to compute EEG functional connectivity in various time intervals relative to the stimulus.
I run into a problem with the `tmin` and `tmax` arguments in `mne.connectivity.spectral_connectivity`.

If the data object passed to `mne.connectivity.spectral_connectivity` is of type `mne.Epochs`, then `spectral._prepare_connectivity` should use the times from `mne.Epochs.t

[2021-02-02 02:55] yh-luo opened #8825 "ENH: Need tools for fixing mesh topology"
#### Describe the bug
Someone else's high-resolution head was used for the selected subject.

`lh.seghead` in FreeView looks like:
![subject-346-freeview](https://user-images.githubusercontent.com/29604854/106544018-d5d94e00-6541-11eb-8f85-c4a56f560d1c.png)

But the high-resolution head rendered in `mne coreg` gui looks like:
(Notice the differences of the top-left corner of the goggle, the ears,

[2021-02-02 07:17] agramfort commented on #8825
Did you track down what files are used to see where it can go wrong?
it's going to be hard to debug without access to the data...

[2021-02-02 07:33] yh-luo commented on #8825
@agramfort I think all the files are fine. They look correct in FreeView. That's why I suspect the problem is from the rendering process.

If I remember correctly, `bem/subject-head.fif` (head in coregistration gui) is converted from `bem/subject_outer_skin_surface`, and `bem/subject-head-dense.fif` (high-resolution head) is converted from `subject/mri/lh.seghead`
Both `subject/mri/lh.seghead` and

[2021-02-02 07:52] cbrnr opened #8826 "MNE-Python import time"
It seems to me like it's taking longer to `import mne` from version to version. Currently, importing takes a little over one second. I don't know if that's OK (probably) or if we should invest a little time to see if we can easily cut down on import time. I've already profiled the import with:

[code]

`tuna` (`pip install tuna`) can be used to view the output interactively:

[code]

Here's a scre

[2021-02-02 07:57] hoechenberger commented on #8826
Neat!! Didn't know about that one, thanks for the hint! 🦄

[2021-02-02 07:59] agramfort commented on #8826
how would you approach this issue? what makes you think we can do better?

[2021-02-02 08:01] cbrnr commented on #8826
I would look into what happens in the various modules. I haven't checked at all because I wanted to discuss if this is even worth the effort. Subjectively, I feel that importing MNE takes very long compared to other packages (e.g. pandas takes about half as long), but I don't have any objective measurements.

[2021-02-02 08:05] agramfort commented on #8825
I would look into the fif files you have to see if the information on
subject they contain is correct

[2021-02-02 08:07] agramfort commented on #8826
if you install mne just with numpy, scipy available (which the only
required deps) how long does it take?
I think importing our deps can be a bottleneck

[2021-02-02 08:10] hoechenberger commented on #8826
In PsychoPy this issue was addressed by using lots of lazy imports, e.g. `import psychopy.visual` wouldn't import all `visual` modules right away, but only once you actually tried to access them. A couple years ago, some IDEs had trouble extracting completion suggestions, but this may have been resolved now, I'm not sure.

[2021-02-02 08:11] hoechenberger commented on #8826
see e.g. https://github.com/psychopy/psychopy/blob/be80b2cbd431e17792a61ded91136d54ccc5d40a/psychopy/visual/__init__.py#L58

[2021-02-02 08:20] hoechenberger commented on #8826
(I should add that I was never a fan of those lazy imports personally … this was just too much voodoo for my taste, and I don't mind imports taking a second or two, but that may just be me)

[2021-02-02 08:25] cbrnr commented on #8826
There's no difference whether or not I have optional deps installed. I also think these lazy imports are a bit ugly and 1s probably doesn't warrant going in that direction.

The only other solution that comes to mind is not to import some submodules, but this will be a pretty huge breaking change and probably not worth it. Although we could argue that some more exotic/independent modules (e.g. rep

[2021-02-02 08:52] yh-luo commented on #8825
I'm not that familiar with the fif files sadly... [`subjects/subject-346/bem`](https://drive.google.com/file/d/100qqKx73ymQ-9G6I0yKocqH9RtQaGZun/view?usp=sharing) can be downloaded via the link.

[2021-02-02 09:00] #8814 closed

[2021-02-02 09:00] #8816 closed

[2021-02-02 09:19] agramfort commented on #8825
you can use:

In [25]: import mne

In [26]: pos, tri = mne.read_surface('outer_skin.surf')

In [27]: from mayavi import mlab

In [28]: mlab.triangular_mesh(*pos.T, tri)
Out[28]: <mayavi.modules.surface.Surface at 0x7fe64be30720>

to plot the .surf files. For the fif bem files you can use:

In [37]: surf = mne.bem.read_bem_surfaces('subject-346-head.fif')[0]

In [38]: mlab.triangular_mesh(*surf['rr

[2021-02-02 12:30] larsoner commented on #8825
Based on this output:
[code]
I don't think the surfaces are currently usable. They might look fine in FreeView, but `mne coreg` (and other parts of MNE code) rely on the surface being *topologically correct*, and it's not. A topologically incorrect surface (with holes, missing neighbors, etc.) can look just fine by eye.

The coreg error is that when it tries to switch surfaces between subjects it

[2021-02-02 12:42] larsoner commented on #8826
All optional deps already have their imports nested so they shouldn't be the culprit. There is a [test specifically for this](https://github.com/mne-tools/mne-python/blob/main/mne/tests/test_import_nesting.py#L16-L32) to prevent us from accidentally having them import when `import mne` is done.

One thing that might be less painful now that NumPy uses reasonable `linalg` functions is that we proba

[2021-02-02 13:07] #8798 closed

[2021-02-02 13:14] yh-luo commented on #8825
@larsoner thanks for the explanation. Yes, there are holes in the head eyeing from FreeView.

I understand the importance of BEM surfaces and follow the amazing [Blender tutorial](https://mne.tools/stable/auto_tutorials/source-modeling/plot_fix_bem_in_blender.html) to fix a lot of surfaces, but only for `brain`, `inner_skull` and `outer_skull` which I think will be used in MEG source reconstructio

[2021-02-02 14:20] larsoner commented on #8825
Some of the computations even in `mne coreg` assume surfaces are topologically correct, such as the inside/outside coloring of points. Really it's best to fix the issues, and if we can make a function / use the functions from the infant MRI templates, then you can loop over all of your subjects and fix them all in one go without needing any manual intervention.

I would ensure that the actual corr

[2021-02-02 16:01] larsoner commented on #8826
Looks like on my system that it takes about 900 ms, and making `verbose` just `return function` cuts it down to about 600 ms. Most of this is due to our doc-filler dealing with indents, which I think I can make more efficient. I'll work on combining that with nesting some imports to see if I can get it below 500 ms at least.

[2021-02-02 16:32] cbrnr commented on #8826
What do you mean by making `verbose` just `return function`? In any case, cutting it down by a third is already pretty awesome and definitely worth it!

[2021-02-02 20:58] sylvchev opened #8830 "GSN montage electrode naming"
#### Describe the bug
When reading file with an HydroCel Geodesic Sensor Net montage, `set_montage()` returns an error if the electrodes are not correctly named. Unfortunately, the indicated error message is incorrect and does not help to fix the naming scheme.

#### Steps to reproduce
I'm using MAMEM EEG dataset 1 for SSVEP, a publicly available data. The example code below download 60 MB of data

[2021-02-02 23:47] Winter-Bot opened #8832 "2-Sample Permutation test"
#### Describe the new feature or enhancement
*Please provide a clear and concise description of what you want to add or
change.*
Hi, I would like to add a 2 sample permutation T-test to MNE. I was in a rush a while back and was unable to use the permutation_cluster_test because I could not get an adjacency matrix with the data I had. Other permutation tests were all one sample. I tried using other

[2021-02-03 06:39] yh-luo commented on #8825
It is easier than I previously thought thanks to the well-organized code.
I was able to fix(?) the high-resolution head using `fix_all_defects`. `mne coreg` accepts the `head-dense.fif` though the holes are still obvious. Not quite sure why...

Since it's more like a real-world problem than a bug, I'm closing the issue.

**lh.seghead in FreeView**
![subject-346-freeview-head-before](https://user-i

[2021-02-03 08:01] agramfort commented on #8832
can you provide a code snippet that fails with mne.stats and works with
your code? thx

[2021-02-03 08:14] agramfort commented on #8830
you wrote:

ch_names = [
    "{}-{}".format(s, i) if s == "EEG" else s
    for i, s in enumerate(record.sig_name)
]

just for the example?

montage do require a match with channel names.
Was that unexpected for you?

[2021-02-03 09:29] GuillaumeFavelier opened #8833 "ENH: New interface for Coregistration"
This PR summarizes the ideas to implement for `coreg`:

<details open>

<summary><b>Milestone 1.0</b></summary>

- [ ] increase fiducial picking performance (https://github.com/mne-tools/mne-python/pull/9689#issuecomment-951910957)
- [ ] add support for the `guess_mri_subject` parameter
- [ ] add support for the `project_eeg` parameter
- [ ] add support for the `scale_by_distance` parameter
- [ ]

[2021-02-03 13:49] larsoner commented on #8825
@yh-luo I'll reopen until we get a variant of this code in MNE-Python. I've also needed to use it so that's at least three people, and these topology questions come up a lot so I think it's worth pursuing proper inclusion as a function.

@christian-oreilly since you did all the heavy lifting on this, would you be up for opening a PR to add a `mne.surface.fix_topology(rr, tris)` function? Then I'm

[2021-02-03 14:35] larsoner commented on #8824
I have not looked at the code but what you describe sounds like a bug. I would start by coding some simple test that fails on `master` -- for example a two-epoch `EpochsArray` where -0.5 to 0 has some signal that is coherent and 0 to 0.5 does not -- and show that it fails there. Then when you write your code you already have the test in place that should pass once things are fixed. A PR for this w

[2021-02-03 15:18] jasmainak opened #8836 "output of permutation_cluster_1samp_test seems wrong for out_type='indices'"
Originally reported by @dimitriospantazis. Here is the code to reproduce (based on an MNE example):

[code]

I get:

[code]

In the mask format, you get two different clusters but in the other format you get the same cluster repeated twice.

Looking at the [source code](https://github.com/mne-tools/mne-python/blob/4df9ed838f1d56471d071308fb62b9ec749cb10d/mne/stats/cluster_level) the loop does look

[2021-02-03 15:22] SpenderJ opened #8837 "mne_realtime.RtEpochs always returning an AssertionError"
Using one of the examples provided by your package and my own code I cant get working the RtEpochs function.
Here is a code sample taken from the examples that you prvoide (https://mne.tools/mne-realtime/auto_examples/plot_compute_rt_decoder.html#sphx-glr-auto-examples-plot-compute-rt-decoder-py)

[code]

It returns the following:
[code]

[2021-02-03 15:23] sylvchev commented on #8830
On this [MAMEM dataset](https://www.mamem.eu/results/datasets/), the channels are named : `['EEG', 'F8', 'EEG', 'EEG', 'EEG', 'EEG', 'EEG', ...]
when trying to apply the GSN-256 montage, I have the following error :
[code]

So I figured I just have to rename the 'EEG' channels into 'EEG-X', with 0 <= X <=255. There are some channels that are named explicitly (F8, Fz, NAS, ...) and that are in the

[2021-02-03 15:33] jasmainak commented on #8394
I see that this is a closed discussion but I want to chime in with an unpopular opinion that it would be nice to have `matplotlib` backend but as it stands currently, it's pretty broken. I don't think you can add labels, plot foci etc. 3D viz installation is still a pain as my recent adventures indicate. What's the effort needed to revamp/improve the backend? Alternatively, if the backend is ditch

[2021-02-03 15:37] agramfort commented on #8830
I guess message is not clear. I should say that "The required channels in
the montage are:" It indeed seems
to suggest the reverse... can you open a PR to improve the message?

[2021-02-03 15:40] jasmainak commented on #8837
ufff ... I don't think `mne_realtime` is actively maintained at the moment and it's very possible broken since the CIs have not run in a long time with any pull request.

I think you might have the skills to help us improve it? ;-) Is this something you'll actively use?

[2021-02-03 15:40] larsoner commented on #8394
I don't think the `matplotlib` backend can ever be anywhere near feature-complete compared to Brain -- matplotlib isn't really designed to do 3D plotting on this scale. We can keep hacking together bits (foci for example are probably easy as scatter3d) but ultimately it's not going to provide a very satisfying or usable (let alone visually appealing) experience. To me it's what you use if you need

[2021-02-03 15:41] agramfort commented on #8394
It's not broken it's partial. I pushed for this to have a solution for
master students while teaching
and as a fall back when mayavi was really impossible to install / use.
Serious work publication
oriented cannot be done with matplotlib backend

[2021-02-03 16:32] SpenderJ commented on #8837
I'm currently trying to implement a model using mne datasets and functionnality.
The final goal would be trying to predict on a stream wether a movement is made by hands or by feet.

ref: https://github.com/SpenderJ/Total-perspective-vortex/blob/main/pipeline.py

Might try to take a look, but I'm really not familiar with the library.
Would you think of any other way to do it ? The idea is real tim

[2021-02-03 16:47] #8776 closed

[2021-02-03 18:33] drammock commented on #8832
when you run `permutation_cluster_test` you can pass a custom `stat_fun` (i.e., one that handles NaNs gracefully).  Some of the `scipy.stats` functions have a `nan_policy='omit'` option that might work for your use case; it might be enough to freeze that parameter using `partial()` --- or you may need to write a more complicated wrapper --- before passing it to `stat_fun`.

[2021-02-03 21:00] larsoner commented on #7232
Some exploration so far -- I've had decent luck with FieldTrip + SPM (worked on 157/158 subjects), but this requires MATLAB so it's a bit of a no-go.

I then tried brainsuite and fsl using [this gist](https://gist.github.com/larsoner/4c964e21045fc499cb5e380dc79137c0). brainsuite `skullfinder` is very fast (1-2 sec) but produces a questionable output, whereas fsl seems to work well.

## Subject 1

[2021-02-04 05:42] hoechenberger commented on #7232
Amazing work, @larsoner!! Would very much love to see this added to MNE

[2021-02-04 06:26] yh-luo commented on #8825
@larsoner Another small thing is that `mne.read_bem_surfaces` complains about the topological defects and raise `RuntimeError`, that's why I used the private `_read_bem_surfaces_fif` to get around this.
To make your proposal work, an argument like `on_missing` in `mne.Epochs` (maybe `on_defects`) to let the user proceed to `fix_topology` would be nice? If so:
[code]
[code]
Both `write_head_bem` an

[2021-02-04 12:13] larsoner commented on #8825
That would be great @yh-luo, please do!

[2021-02-04 12:34] christian-oreilly commented on #8825
Yes, that would be @yh-luo ; I could have a look at this issue at some point but not in a near future because I need to do a few other things in priority at the moment. So if you can tackle it, that is perfect!

[2021-02-05 16:22] #8745 closed

[2021-02-05 16:22] #8795 closed

[2021-02-05 21:03] #8836 closed

[2021-02-07 20:21] #8826 closed

[2021-02-08 20:02] agramfort opened #8848 "BUG grow_labels with overlap=False"
to replicate

[code]

see https://mne.discourse.group/t/potential-bug-with-grow-labels/2679/1

[2021-02-09 18:11] alexrockhill opened #8850 "[DOC] Add `Brain._renderer.set_camera` to `stc.plot` documentation"
I noticed that it wasn't described in the `SourceEstimate.plot` documentation how to set a view that is not one of the canonical views. I had to look in the source code to remember how to do this so I thought it might be useful to document. It does expose a private function as in `brain._renderer.set_camera(azimuth=-110, elevation=100, distance=500, np.array([-0.03326882, -0.04459817,  0.08267832]

[2021-02-09 18:12] alexrockhill commented on #8850
If this is not helpful, no worries.

[2021-02-09 18:56] GuillaumeFavelier commented on #8850
Are you aware of the public function called `show_view()` ? It uses `set_camera()` under the hood and accepts `elevation`, `azimuth`, `distance` ...etc.
Let me know if there is something that you can't accomplish with it.

[2021-02-09 19:06] alexrockhill commented on #8850
Ah no, that is a much better solution. Maybe there is a better way to make this easier to find from the documentation or maybe I should have just looked harder :)

[2021-02-09 19:15] GuillaumeFavelier commented on #8850
No worries, the `Brain`'s API is a work in progress so any suggestion of improvement is welcome.

I don't know how though 😅

[2021-02-09 19:23] alexrockhill commented on #8850
Maybe a first step would be changing the `SourceEstimate.plot` returns to `mne.viz.Brain` from `surfer.Brain` as that was what was returned for me. That would be a good step in pointing users in the right direction unless I'm wrong about the return object :)

[2021-02-09 19:31] GuillaumeFavelier commented on #8850
That is a good point! 👌

[2021-02-09 21:11] #8850 closed

[2021-02-10 12:51] Immiora commented on #7208
Unfortunately, the link does not seem to work anymore. Was the example moved somewhere else?

[2021-02-10 13:08] Immiora commented on #7208
I supposed it is now here: https://github.com/mne-tools/mne-bids/blob/master/examples/convert_mne_sample.py

[2021-02-10 14:16] hoechenberger opened #8853 "Confusion around "resp" channel type"
In `channels.py`, it is claimed that the `resp` channel type is for certain response triggers:

https://github.com/mne-tools/mne-python/blob/19fb479de44865d5ce79ad5af539a06081fae0c5/mne/channels/channels.py#L704-L706

This seems to be supported by code treating BTi data:
https://github.com/mne-tools/mne-python/blob/19fb479de44865d5ce79ad5af539a06081fae0c5/mne/io/bti/bti.py#L1188-L1189

But the fol

[2021-02-10 14:54] larsoner commented on #8853
The authority should be fiff-constants

https://github.com/mne-tools/fiff-constants/blob/master/DictionaryTypes.txt#L257

[2021-02-10 15:13] drammock commented on #7208
Rendered version is here:

https://mne.tools/mne-bids/stable/auto_examples/convert_mne_sample.html

[2021-02-10 15:14] hoechenberger commented on #8853
So… it's our BTi code that needs fixing, not the comment in `constants.py`?

[2021-02-10 15:23] cbrnr opened #8855 "GSoC idea"
I've been thinking that a fast 2D signal browser would be nice to have. Would it be OK to add a project to our GSoC ideas? Here's a draft, let me know what you think:

## 6. Write high-performance 2D visualization for browsing signals
### Difficulty
Medium (requires experience with GUI toolkits such as Qt/PyQt)

### Possible mentors
[Clemens Brunner](https://github.com/cbrnr)

### Goal
MNE-Python

[2021-02-10 15:25] larsoner commented on #8853
Yes I think so

[2021-02-10 16:33] #8765 closed

[2021-02-10 17:11] agramfort commented on #8855
I've been thinking about this too. I would start by something in a
satellite repo of mne-python
which is also easier for new comers that do not start from a huge legacy
code base

[2021-02-10 17:28] cbrnr commented on #8855
Yes, this can be a relatively independent project, and once it's ready it can be easily integrated. But do you agree that it should still be part of MNE-Python GSoC? A satellite repository wouldn't qualify for GSoC I think.

[2021-02-10 17:30] drammock commented on #8855
This fits with our discussion last week at office hours about moving UI controls out of the brain viewer figure window and into the toolbar.  I agree with movement in that direction for 2D plots as well.  My only hesitation is that I think getting the raw/epochs/ICA data browsers to be properly interactive in a notebook is an equally high (or maybe higher) priority...  so in a perfect world I woul

[2021-02-10 17:35] cbrnr commented on #8855
Yes, I haven't thought about notebooks at all. Personally, I don't use them and I don't think it's worth supporting interactive data exploration in a notebook, but maybe that's just me. In any case, I guess this would invalidate all Qt-based solutions I know and it's probably better to look into web-based viz tools.

[2021-02-10 17:44] sappelhoff commented on #8853
awesome, thanks for digging this out @hoechenberger ... this is good for MNE-BIDS :)

[2021-02-10 18:51] #8824 closed

[2021-02-10 18:51] #8853 closed

[2021-02-10 20:22] drammock commented on #8855
I don't use them often either, but it seems a lot of users do.  I think we need to support both.  There are also users trying to embed raw data browser into other applications (e.g., https://github.com/mne-tools/mne-python/issues/8142).  What I'm envisioning is a design where we have some kind of data object with an "upper" API for taking input from qt widgets, ipywidgets, or whatever, and a "lowe

[2021-02-10 20:43] cbrnr commented on #8855
This sounds like a good idea. So I'd focus on a specific backend in this project then. I have a basic concept working with PyQtGraph, and I've also started to implement something using base Qt. I think the latter will be much more customizable to do what we really want, but of course more work.

[2021-02-10 20:45] cbrnr commented on #8855
I've updated the project description, feel free to edit @drammock.

[2021-02-10 21:42] drammock commented on #8855
I've edited the last paragraph. Thanks @cbrnr

[2021-02-11 08:26] mirfaridmusavian opened #8859 "SPM faces"
The eeg signals have not been included in the mne.datasets.spm_face.data_path()

[2021-02-11 13:52] larsoner commented on #8859
Indeed we should add them at some point. @mirfaridmusavian would you be up for improving the SPM faces example to use the EEG data?

[2021-02-11 15:28] agramfort commented on #8859
you would have to start from the files:

faces_run1.bdf
faces_run2.bdf
electrode_locations_and_headshape.sfp

Alex

[2021-02-11 15:29] adam2392 commented on #1605
Does mne-python support (or plan to) reading in .TRC files (couldn't find anything in API), or is the recommended approach rn to use what @agramfort 's gist does?

https://gist.github.com/agramfort/7fc27a18fcdc0e8cff3f

[2021-02-11 15:30] agramfort commented on #1605
it's not supported in MNE as nobody really needed it among the core
developers.

[2021-02-12 07:10] mirfaridmusavian commented on #8859
I can extract the epochs with the SPM12 toolbox in matlab and share, would it be enough?

[2021-02-12 10:34] MSA8D8 opened #8864 "ValueError: Could not find EEG array in the .set file."
#### Describe the bug
Dear MNE developers
Thank you for developing this wonderful tool.

I am faced with the error when I tried to use read_raw_eeglab() to load the .set file made by EEGLAB
What I did in EEGLAB is just loading the data by Quick 30 and save it in '.set(with '.fdt')' format only.
I think this is very weird, so I guess this is bug.

The script I made is below.
[code]
#### Actual resu

[2021-02-12 10:39] cbrnr commented on #8864
Could you share a small example file?

[2021-02-12 10:58] dnacombo opened #8865 "mne.read_selection() returning funny channels"
#### Describe the bug

trying to select channels from an EEG dataset.

#### Steps to reproduce

[code]
returns a list with **Neuromag** channels although there are only EEG channels (EGI) in the dataset.

@hoechenberger

[2021-02-12 11:27] MSA8D8 commented on #8864
@cbrnr Thank you for your quick reply.
Here is the link for the sample data.
https://drive.google.com/drive/folders/1UQ9vP_-FZ-ZAipH8KroGZ3Rhs5IpybNw?usp=sharing

I will give you the access permission of the link when you download them.

I made this sample in the same way as before (just loading the data by Quick 30 and save it in '.set(with '.fdt')' format only).
The EEGLAB version is 2021.0

Tha

[2021-02-12 11:32] hoechenberger commented on #8865
`mne.read_selection()` shouldn't return channels that don't appear in `info`, so I'd consider this a bug

[2021-02-12 12:10] giuliagennari opened #8866 "wrong scale for patterns with SGDClassifier"
#### Describe the bug
When using a SGDClassifier, the patterns computed with LinearModel/get_coef come out with a fanny scale i.e. in the wrong order of magnitude.

#### Steps to reproduce
[code]

#### Additional comments

Perhaps not a real bug! If so.... would you know how come???

[2021-02-12 12:14] larsoner commented on #8865
IIRC `read_selection` is only meant to be used with Neuromag MEG channels. We should probably also update the docstring to say this in addition to raising an error

[2021-02-12 12:20] larsoner commented on #8859
I think a better solution would be to start from the original BDF files as suggested by @agramfort. Really we want to show how to go from raw data to finished analysis using MNE-Python whenever possible

[2021-02-12 12:23] cbrnr commented on #8865
👍 - I've never heard of that function, and after reading its docs I couldn't figure out what exactly it should be used for.

[2021-02-12 12:38] agramfort commented on #8866
how many samples do you have? using SGDClassifier is adapted with lots of
samples

[2021-02-12 12:39] agramfort commented on #8865
I was written in a time where MNE could only process neuromag data....

[2021-02-12 13:19] cbrnr commented on #8864
Usually, the `.set` file (which is just a `.mat` file) contains an `EEG` key with all relevant data. Your file does not have this `EEG` key, but all fields are directly in the root of the `.mat` file.

Can you please double-check that you can load this file with EEGLAB? If they changed the format we need to adapt our reader, but I want to make sure that this is a valid EEG file.

[2021-02-12 13:26] cbrnr commented on #8864
@MSA8D8 can you please also post the output of `eeghist` so that we can see how you exported the data from EEGLAB?

[2021-02-12 13:58] MSA8D8 commented on #8864
@cbrnr Thank you for your quick reply.

Here is the Matlab output of loading the sample data and checking the history of it.
I am sure that this is a valid EEG file.

Thank you for your help.

[code]

[2021-02-12 14:07] cbrnr commented on #8864
@agramfort @hoechenberger @mmagnuski the fix is relatively simple (instead of raising an error [here](https://github.com/mne-tools/mne-python/blob/f70f508a1bd5f73bdb4797e657340c11cc138d64/mne/io/eeglab/eeglab.py#L65) just continue because we already have all the fields that are otherwise contained within `EEG`), but before fixing this I'd like to hear what you think.

[2021-02-12 14:40] hoechenberger commented on #8864
Seems this is a change that was introduced with EEGLAB 2021:
https://eeglab.org/others/EEGLAB_revision_history.html#eeglab-version-20210

I wonder if we could explicitly check for the existence of all requires fields before proceeding?

[2021-02-12 14:40] drammock commented on #8865
Maybe worth a deprecation and a name change to `read_neuromag_selection`?

[2021-02-12 14:47] cbrnr commented on #8864
Hmm, where do you see this change? It says "Now saving all EEGLAB datasets in a single file instead of two (fully backward compatible)", but it doesn't mention dropping the `EEG` struct. Also, the example data set still consists of two files.

If we're sure this is a (new) valid format I'd not bother and check all fields, for one because I haven't found any official description of the format. Also

[2021-02-12 14:49] cbrnr commented on #8865
👍 for deprecating and renaming, and maybe also moving to the `channels` module?

[2021-02-12 15:48] hoechenberger commented on #8864
Yeah I just assumed that since they changed something, and since @MSA8D8's dataset was created using EEGLAB 2021, this could be related.

[2021-02-12 15:49] hoechenberger commented on #8865
I will look into this.

[2021-02-12 16:00] cbrnr commented on #8855
Thanks @drammock, I'll add that to the wiki.

[2021-02-12 16:01] #8855 closed

[2021-02-12 16:50] giuliagennari commented on #8866
I am training my SGDclassifiers on ~200 epochs/subject. I am using this classifier to exploit the possibility of .partial_fit() .
I first validated my choice by finding that with a high-enough number of iterations SGDClassifier(loss='log') produces almost identical outcomes as LogisticRegression()

[2021-02-12 17:21] agramfort commented on #8866
what are n_samples and n_features for each classifier for you? why is
partial_fit required? data
are really too big to fit in RAM?

[2021-02-12 17:33] giuliagennari commented on #8866
my n_samples is ~200 with 1250 features. It is not a matter of RAM or anything related to computational resources, my aim is to train the _same_ classifiers on _distinct_ training sets while keeping the latter separate. This strategy yields, for my particular design in a particular circumstance, a cleaner performance relative to just training distinct classifiers on the distinct training sets and

[2021-02-12 19:03] Immiora opened #8868 "Inaccurate iEEG electrode positions on 3d/2d plots"
Originally posted here: https://mne.discourse.group/t/ieeg-electrode-positions-on-3d-2d-plots/2687

The electrode positions I am getting from the mayavi plot look inaccurate.

The issue is well visible in the tutorial as well: [Working with ECoG data](https://mne.tools/dev/auto_tutorials/misc/plot_ecog.html#sphx-glr-auto-tutorials-misc-plot-ecog-py):
![Example1](https://aws1.discourse-cdn.com/free

[2021-02-13 12:09] agramfort commented on #8866
have you checked that the regularization strength and the scaling of the
input features is the same for both estimators?

[2021-02-13 15:28] sappelhoff commented on #7472
fyi, I just released version `2.0.0` of `eeg_positions`: https://github.com/sappelhoff/eeg_positions

It's now a proper pypi package with tests, docs, api, and all the nice things :-)

[2021-02-13 16:24] giuliagennari commented on #8866
The input features are the same yes.
I always use L2-penalty if that is what you are asking. Otherwise I do not know what regularization strength is!

[2021-02-13 19:13] hoechenberger commented on #8756
Closing due to inactivity, feel free to re-open if needed.

[2021-02-13 19:13] #8756 closed

[2021-02-13 21:20] agramfort commented on #8866
alpha is not 1 by default in SGD. Use

[code]

and it works as you expected.

[2021-02-13 21:20] #8866 closed

[2021-02-14 11:32] #8226 closed

[2021-02-14 11:35] hoechenberger commented on #7941
Closing due to inactivity and seemingly not a bug at our end.

[2021-02-14 11:35] #7941 closed

[2021-02-14 11:39] hoechenberger commented on #7604
Closing due to inactivity.

[2021-02-14 11:39] #7604 closed

[2021-02-14 11:41] hoechenberger commented on #6375
Yes, `mne.channels.equalize_channels` should do the job.

[2021-02-14 11:41] #6375 closed

[2021-02-14 11:43] hoechenberger commented on #5721
This was probably fixed long ago.

[2021-02-14 11:43] #5721 closed

[2021-02-14 20:47] #6762 closed

[2021-02-14 20:55] #4768 closed

[2021-02-14 22:34] giuliagennari commented on #8866
All right. I am grateful for your assistance (...and in the week-end!) **_Thank you_**

[2021-02-15 09:19] cbrnr commented on #8864
@arnodelorme sorry to bother you again, but could you confirm if EEGLAB now saves .set/.fdt data fields in the root instead of within an `EEG` struct? All of our test files contain the `EEG` struct, but @MSA8D8 has data (created with the latest EEGLAB version) where this is not the case.

[2021-02-15 10:29] mirfaridmusavian commented on #8859
I can give it a try on coming weekend

[2021-02-15 11:01] cbrnr opened #8871 "Improve Epochs docs (and more)"
Based on my question in the [forum](https://mne.discourse.group/t/computing-tfr-drops-bad-epochs/2691), I suggest to clarify the `preload` parameter to make it clear that preloading does *not* depend on the status of `raw.preload` (which I assumed was the case).

I'd change the `preload` description as follows:

In addition, I'd add the following note:

@hoechenberger @larsoner @agramfort @drammoc

[2021-02-15 15:23] drammock commented on #8871
Proposed new docstring:

[2021-02-15 15:30] cbrnr commented on #8871
Thanks @drammock. I assume that this description does not need an additional note anymore.

Also, I haven't checked the implementation, but is it really true that `preload=False` always implies loading from disk? I assumed that if I pass a preloaded `Raw` object to `Epochs(..., preload=False)`, the data used to create epochs is accessed from RAM (the preloaded `Raw` object) instead of going back t

[2021-02-15 15:32] cbrnr commented on #8871
Furthermore, the gotcha I ran into doesn't have anything to do with "some operations", which sounds as if this might happen only in some cases. Eventually, the `Epochs` objects has to be created, and that's where epoch rejection automatically takes place.

[2021-02-15 15:40] drammock commented on #8871
it's easy enough to test the behavior just by preloading a raw, then epoching it with `preload=False` and a rejection dict specified.  Indeed, the epoch rejection won't occur upon object creation; only after explicitly calling `epochs.load_data()`.  You're probably right that strictly speaking this does not mean the epochs are "on disk"; I'd guess they store a reference to the raw object that prev

[2021-02-15 16:10] cbrnr commented on #8871
I just checked, and it seems like it really does load epochs from disk even if the `Raw` object is already loaded into RAM. This seems a bit inefficient, but I guess this is not what this issue is about. Let's focus on improving the docstring and maybe making the `preload` business a bit more consistent.

[2021-02-15 16:20] agramfort commented on #8871
let me try to bring some clarification. The motivation was that by default
creating an Epochs object
was immediate. So even if raw.preload=True then no rejection is done and
nothing is allocated.
Also you can drop bad epochs without keeping everything is RAM. It will
read eventually drop
bad epochs and then release the memory. See calling epochs.drop_bad()  on
epochs with
preload=False.

[2021-02-15 17:55] arnodelorme commented on #8864
This is correct.

[2021-02-15 17:56] arnodelorme commented on #8864
This is because, when saving in the root, it is possible to ignore some fields (such as "data"). In that case, we can load the metadata without loading the data, so there is no need to save 2 files anymore.

[2021-02-15 18:16] drammock commented on #8221
Applications are open for the MNE-Python New Developers Code Sprint!  Please share widely.  Stipends are available for accepted applicants, with priority given to participants from groups underrepresented in neuroscience. More info here: https://mne.discourse.group/t/save-the-date-15-19-march-mne-python-code-sprint/2684/5?u=drammock

[2021-02-15 18:36] britta-wstnr commented on #8221
Can mne_news tweet about it?

[2021-02-15 18:44] HanBnrd opened #8872 "Verbose not working with the Epochs.drop_bad method"
#### Describe the bug
The `verbose` argument in not working in the [`drop_bad()`](https://mne.tools/dev/generated/mne.Epochs.html?highlight=drop_bad#mne.Epochs.drop_bad) method.

#### Steps to reproduce
[code]

#### Expected results
The `verbose` argument set to `True` overwrites the `Epochs.verbose` attribute and prints the number of bad epochs dropped.
[code]

#### Actual results
The number of b

[2021-02-15 18:47] cbrnr commented on #8864
Thanks @arnodelorme! I'll prepare a fix for our reader!

[2021-02-15 20:04] drammock commented on #8221
I put a tweet request (via slack) earlier today... I don't even know who else has access to that account other than @agramfort

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, February 15, 2021 12:37 PM, Britta Westner <notifications@github.com> wrote:

[2021-02-15 20:08] drammock commented on #8872
I confirm.  @HanBnrd are you up for making a PR to fix this?

[2021-02-15 20:28] HanBnrd commented on #8872
Yes, I'll have a look at what needs to be modified to fix this.

[2021-02-15 20:38] drammock opened #8873 "CI: pyvista QT error on Azure"
#### Describe the bug
`test_layered_mesh()` is failing on CI (azure py 3.8 pip pre):
[code]
https://dev.azure.com/mne-tools/mne-python/_build/results?buildId=11625&view=logs&j=a017e066-62ca-5289-ad0b-8f57c84a089f&t=de70cabd-1dad-599c-0751-4f1f50c17e0f&l=2959

cc @GuillaumeFavelier

[2021-02-15 21:11] GuillaumeFavelier commented on #8873
It's fixed in https://github.com/mne-tools/mne-python/commit/bac0bf536c2c65bc00bc2dc9ddbbf113308bf992 but I will port the fix since the PR won't be merged soon.

[2021-02-16 01:33] Mymiku commented on #8226
@drammock acutually i have solved the problem by adding the argument "uint16_codec="latin1" ", thanks a lot

[2021-02-16 10:50] #8873 closed

[2021-02-16 11:16] HanBnrd commented on #8872
It seems that this issue is also affecting other methods, such as [`Raw.load_data()`](https://mne.tools/dev/generated/mne.io.Raw.html#mne.io.Raw.load_data). The `verbose` argument is not taken into account with the following code:
[code]
While this code prints info:
[code]
[code]
---
Also this following code doesn't print info:
[code]
Is the [`mne.set_log_level()`](https://mne.tools/dev/generated/

[2021-02-16 11:22] HanBnrd commented on #8872
This issue seems to be related to the [`@verbose`](https://github.com/mne-tools/mne-python/blob/main/mne/utils/_logging.py#L58-L135) decorator not working in some cases (maybe working on functions or methods calling functions but not on proper methods?)...

An easy quick fix would be to explicitly use the `verbose` arguments in the methods instead of relying on `@verbose` but it is probably not a

[2021-02-16 12:21] larsoner commented on #8872
That one at least shouldn't based on how the code is designed. The precedence/order is meant to be:

- `verbose` arg is used if not None
- `verbose` attribute of a class is used if not None
- global verbose level is used

And in that last example, the `raw` gets initialized with `verbose=False`, so `raw.load_data()` should always be in non-verbose mode regardless of `set_log_level`.

[2021-02-16 12:21] larsoner commented on #8872
(I can take a look at fixing the `verbose` decorator if it would help, since it does seem like the first/top-comment example is problematic)

[2021-02-16 12:24] larsoner opened #8876 "MAINT: Website issues"
- A dedicated sponsors page would be nice (see how pandas does it) - we could include a link to it in the left sidebar, and then we can discuss what to do with the right sidebar (remove, keep but link the title to the sponsors page, show the link in the left sidebar only when the right sidebar disappears).
- Some numbers/characters in the sponsors sidebar are still different from the main text (e.

[2021-02-16 12:30] larsoner commented on #8876
For searching, we should be able to check if the name exists in the stable location and use it if it does:

https://stackoverflow.com/questions/3922989/how-to-check-if-page-exists-using-javascript

@cbrnr do you want to try implementing this in https://github.com/mne-tools/mne-tools.github.io/blob/main/versionwarning.js ? It's what's used in every page of our docs

[2021-02-16 12:44] cbrnr commented on #8876
Hm, I can give it a try, but are you sure this is the current script we're using? It doesn't contain the message that's actually shown:

<img width="1252" alt="Screen Shot 2021-02-16 at 13 41 38" src="https://user-images.githubusercontent.com/4377312/108064496-11553b80-705d-11eb-8275-c6dd6451dc29.png">

[2021-02-16 13:17] drammock commented on #8876
The message on the *dev* site is not written by version warning.js it's part of the doc/_templates/layout.html

[2021-02-16 13:18] HanBnrd commented on #8872
Thanks @larsoner, that would be nice if you have time as I'm not very familiar with it and it appears to be used as a decorator for a lot of functions/methods in MNE. Please let me know if I can help.

[2021-02-16 14:03] cbrnr commented on #8876
Thanks @drammock, but then the proposed changes need to be implemented in that file, correct?

[2021-02-16 14:15] KathrineSN opened #8877 "How to reject bad segments when working with long epochs"
I am doing a social cognition experiment with eeg for my thesis, and in my experiment I am working with long trials of 25 seconds.
This means that if I use any automatic rejection function to reject bad segments, it will remove a large amount of my data as the entire epoch is being dropped when using both mne.annotations or autoreject. Any suggestions on how to remove bad segments in my 25 seconds

[2021-02-16 14:32] drammock commented on #8876
For the link to be different on every page it will need to be JavaScript probably, so for this to work it would make sense to move the dev warning bar from the template into versionwarning.js. AFAIK they're only separate for historical reasons.

[2021-02-16 17:50] larsoner commented on #8877
Could you make 1 sec epochs instead, 25 in a row of the given type? This is how I've dealt with this sort of problem in the past.

[2021-02-16 19:18] #8184 closed

[2021-02-16 19:18] #8785 closed

[2021-02-16 20:15] adam2392 opened #8878 "Additional functions to take the "average" of EpochsTFR?"
#### Describe the new feature or enhancement
In https://mne.tools/stable/generated/mne.time_frequency.EpochsTFR.html#mne.time_frequency.EpochsTFR.average one can currently compute the average of the TFR over all Epochs. This simply calls the numpy.mean function.

Would it be possible to add additional combination possibilities, such as `np.median`, `np.percentile`, such that `average(func)` is now

[2021-02-16 20:21] agramfort commented on #8878
Sure

See how it’s exposed in epochs.average

[2021-02-16 20:36] adam2392 commented on #8878
I can then adjust these lines accordingly?

https://github.com/mne-tools/mne-python/blob/4df9ed838f1d56471d071308fb62b9ec749cb10d/mne/time_frequency/tfr.py#L2092-L2104

- Should I keep the `average()` function name as is and just allow optional kwarg `func`?

- Should I also specify how the "average" was taken in the `AverageTFR.comments`? So if I use np.median instead of np.mean, i'll pass in `Av

[2021-02-16 20:39] agramfort commented on #8878
Copy how it’s done in epochs including api

[2021-02-16 22:21] adam2392 opened #8880 "Implementation of stft() function as stft_array and tfr_stft"
#### Describe the new feature or enhancement
Currently `stft` operates on arrays, but is not the same API as wavelet, stockwell and multitaper. In addition, it does not have a `tfr_stft` analog , which operates on mne-python data structures.

The proposed PR would refactor `stft` to be named `stft_array` and have similar API to the `tfr_array` functions, and also implement an analogous `tfr_stft`

[2021-02-16 22:40] drammock opened #8881 "CI: make CIs use environment/requirements files?"
I seem to keep hitting this problem that the CIs don't actually use our environment/requirements files (instead they use bespoke things like `.github/workflows/*.yml` or `tools/github_actions_dependencies.sh`).  Why is this?  Why does adding a dependency have to be done in like six places?  It's bad enough to have to remember to edit `environment`, `server_environment`, and `requirements`.  Is the

[2021-02-16 23:19] larsoner commented on #8881
It's because:

1. We have optional dependencies. Our environment.yml / requirements.txt are meant to be "feature-complete", i.e., include all optional ones required to have all functionality (except CUDA because it's a weird one).
2. We have to test old versions of dependencies. We would never want to force our users to install these, but some have old versions of libraries, so we need to test tha

[2021-02-17 01:52] drammock commented on #8881
WDYT about putting it all in one YAML or py file and having some sort of pre-commit hook that generates the various other dependency files?

[2021-02-17 02:20] marcoistasy opened #8882 "Automatic Lowpass Filter When Creating `Raw` Object from Scratch"
Hello,

I am creating an `mne.io.raw` object from a `numpy.array` (in this case, a variable called 'channels') using the following code:

[code]

where

[code]

However, I am running into a curious thing in which an automatic low-pass filter that is half sampling frequency is automatically applied to my data. This can be seen by inspecting `raw.info` which returns

[code]

This is also the case in

[2021-02-17 06:33] cbrnr commented on #8882
What you are seeing is just the Nyquist frequency, which acts as a "natural" lowpass filter - sampled signals can only contain frequencies up to half the sampling frequency.

It can of course be misleading if you undersample a signal that originally contained higher frequencies. This will result in frequencies above the Nyquist aliased to lower frequencies. So strictly speaking, MNE should probabl

[2021-02-17 07:33] agramfort commented on #8881
We very rarely add dependencies so this seems to me over engineering

[2021-02-17 08:13] KathrineSN commented on #8877
Yes, that is a good idea. The only problem would then be to merge the 25 1 sec epochs back into one epoch before I have to analyze the data...

[2021-02-17 12:12] larsoner commented on #8877
This seems more like a usage question at this point so could you bring this up on Discourse? Then others can weigh in with ideas and experiences. I'll close this since I don't think there is anything to change at the code end (yet).

[2021-02-17 12:12] #8877 closed

[2021-02-17 12:19] larsoner commented on #8882
Correctly sampling a band-passed signal with frequencies above Nyquist is in expert-level signal processing tutorial. I've never seen anyone do in practice in neuroscience. I think if anyone is actually doing this (and I doubt this is actually such a case) then we can just tell the person to ignore that entry -- and I'd expect them to understand why it was put there. Let's just update the docs to

[2021-02-17 12:32] cbrnr commented on #8882
I wasn't even referring to special cases where such sampling might work, but to users forgetting to apply an anti-aliasing filter before downsampling (outside of MNE). Then technically, the lowpass filter at the new Nyquist frequency would be incorrect.

But this is really a very constructed detail, I agree that updating the docs to clarify this is sufficient!

[2021-02-17 13:56] cbrnr opened #8883 "Tests fail on maint/0.22"
After backporting #8874, various tests now fail. I suspect that because we now use `testing` 0.116 (previously it was 0.112), several test files other than the one I added in 0.116 changed, and tests have been adapted in `main` only.

Is there an easy way to find out which additional changes need to be backported? Otherwise, I'd revert my last 3 commits...

@larsoner @hoechenberger any suggestions

[2021-02-17 13:59] hoechenberger commented on #8883
Oh that's super unfortunate! I would say, just revert it.... and we should push out 0.23 sooner than later 😎

[2021-02-17 14:14] larsoner commented on #8883
One option would be to remove the test that needs the 0.116 data, revert the testing data uptick, but keep the actual fix in the EEGLAB code. We don't usually do this but it seems okay in this case as a workaround to keep the fix (especially knowing the fix was not overly complicated)

[2021-02-17 14:19] cbrnr commented on #8883
Good idea, I'll try that @larsoner.

[2021-02-17 14:23] cbrnr commented on #8883
Let's see if this works: https://github.com/mne-tools/mne-python/commit/535c11093ae5dcecd2e33032e428fe4c77dcfb3c

[2021-02-17 15:02] larsoner commented on #8883
Looks like you reverted the number but not the hash

[2021-02-17 15:04] cbrnr commented on #8883
🤦

[2021-02-17 15:07] cbrnr commented on #8883
https://github.com/mne-tools/mne-python/commit/b77d479ed6c0020d83e2fe36f3eb39ae8da0ebdd

[2021-02-17 15:57] cbrnr commented on #8883
@larsoner [Windows 3.8 pip](https://dev.azure.com/mne-tools/mne-python/_build/results?buildId=11702&view=logs&j=a017e066-62ca-5289-ad0b-8f57c84a089f&t=de70cabd-1dad-599c-0751-4f1f50c17e0f) fails big time with a bunch of `FutureWarnings` in `numpy`...

[2021-02-17 16:09] larsoner commented on #8883
Yes after a while after release the `pip pre` builds inevitably have errors, we can ignore them in this case at least

[2021-02-17 16:11] cbrnr commented on #8883
Uhm - why? After an MNE release you mean? I don't get it.

In any case, I guess this means that `maint/0.22` is OK again?

[2021-02-17 16:17] larsoner commented on #8883
The `pip pre` builds test against *prelease* versions of libraries like NumPy dev and SciPy dev etc. Usually:

1. Their changes require updates to our code once or twice a month to comply properly, which means inevitably our release falls behind and starts failing. It is fixable (we fix them in `main` after all) but...
2. Those libraries have long enough release cycles, we have fast enough releasy

[2021-02-17 16:24] eort opened #8885 "Different file size limits for fif files in Neuromag and mne"
Was it intentional to set the file size limit to precisely 2gb? It seems that the Neuromag Vectorview uses a limit of 2gb minus 100mb (although this is configurable, see page [54](http://megmoscow.ru/resources/access/equipment/DataAcquisition.pdf) of the user manual). No clue whether this is common for other Neuromag's scanners.

I'm wondering because some of my recordings happen to be just below

[2021-02-17 16:59] #8883 closed

[2021-02-17 17:06] larsoner commented on #8885
We actually use 2 GB minus some slop, too. It's just our slop is a lot less than 100 MB -- we do some calculations to guess what `info` and other items require and then add some additional buffer like 10 MB or so to deal with the end-of-file directory writing (I think that's what it is anyway?). In general I wouldn't expect / rely on our implementation and theirs ever matching, so it's best to wri

[2021-02-17 17:15] eort commented on #8885
Ah, I see. Thanks for clarifying.

It's related to [this discussion](https://github.com/mne-tools/mne-bids/issues) at the mne-bids repo. In short, split files are currently not listed separately in the `scans.tsv`, which they should. In order to list each split file separately, you need to know whether a file will be split, obviously. But as far as I see, it is only determined during the actual pr

[2021-02-17 17:59] #8872 closed

[2021-02-17 18:29] cbrnr commented on #8876
Related PR (in progress) which fixes switching to the corresponding stable page: https://github.com/mne-tools/mne-tools.github.io/pull/23

[2021-02-17 18:40] cbrnr commented on #8871
Thanks @agramfort, I think this makes sense, but it isn't very clear. So before I open a PR, can we discuss the inconsistent usage of `preload` parameters in the four classes (see [top comment](https://github.com/mne-tools/mne-python/issues/8871#issue-808432779))?

[2021-02-17 19:10] larsoner commented on #8871
EpochsFIF has `preload=True` by default for historical reasons. It seems overkill to me to change-by-deprecation this to `preload=False` but we could do it.

Other than this, to me everything is consistent and we should just make clear that preload means "should this instance load all of its data into memory". Then Raw having `preload=True` (or `False`) means the given instance hold all of its dat

[2021-02-17 19:17] cbrnr commented on #8871
I'd do it.

The way you put it makes the reasoning very clear, I'll adopt something like this somewhere in the docstring.

However, what about

- `BaseEpochs`: Doesn't have a `preload` parameter but `preload_at_end` - what's the reason to use a different parameter?
- `EpochsArray`: Has neither `preload` nor `preload_at_end` parameters.

[2021-02-17 19:21] larsoner commented on #8871
No users should construct use this class on their own, so I'm not worried about this. (If it's not clear that users shouldn't use this, we should add a `.. warning::` to the docstring at the top.) To know why you'd have to dig into the code, I don't remember offhand.

The data are already in an array, i.e., in memory.

[2021-02-17 19:24] cbrnr commented on #8871
Re `BaseEpochs`, it basically uses `preload_at_end` like `preload` (or rather, we could easily change it to `preload`).

Re `EpochsArray`, the same could be said about preloaded `raw` (epochs just slice out the relevant data).

[2021-02-17 19:30] larsoner commented on #8880
I would propose instead that we deprecate `stft` (have it call `_stft` that has all the current `stft` code in it) and make a new `stft_array` that has the right API (but calls `_stft` under the hood). I don't think we ever really meant for `stft` to be public, right @agramfort ?

[2021-02-17 19:55] larsoner commented on #8871
My experience with making changes to `Epochs` is that anything involving data loading is never easy and has unintended consequences. If you want to try to work through it I guess we could do it, but I think there are probably many targets more worthy of our attention in our codebase.

The key part here is the "epochs just slice out the relevant data" -- in the `preload=False` case this happens on

[2021-02-17 19:56] adam2392 commented on #8880
And should I still include `tfr_stft`?

[2021-02-17 20:05] larsoner commented on #8880
Yeah that would make sense to fit with the existing API

[2021-02-17 20:43] cbrnr commented on #8871
OK!

Are you saying that with `Epochs(preload=False)` you need to keep the `raw` object around?

[2021-02-17 20:55] larsoner commented on #8871
It gets stored in `Epochs._raw` or so, so yes it stays around automatically at least until you `epochs.load_data()`

[2021-02-17 21:13] cbrnr commented on #8871
So why can't `EpochsArray` have a `preload` parameter then? Because we pass it data that is already equal to the epoched data, meaning that implicitly `preload=True`?

[2021-02-17 21:44] larsoner commented on #8871
Yes

[2021-02-18 00:06] Christonikos commented on #6077
Dear developers,

I am facing the exact same problem: all of my epochs are being dropped automatically, without me explicitly asking for it.

I tried to implement all of your suggestions, including these taken from issue #5992, but to no success.

I am attaching to this thread:

- A standalone script that replicates the issue.
- A small snippet from my recording (30 seconds).
- The events and the

[2021-02-18 07:09] cbrnr commented on #6077
@Christonikos you forgot to attach `run_01_sss_raw.fif` (the raw data).

[2021-02-18 07:29] cbrnr commented on #8871
OK, final thought: would it make sense to make `BaseEpochs` an ABC?

[2021-02-18 09:33] Christonikos commented on #6077
Hi @cbrnr, my bad. You can find the data [here](https://we.tl/t-Vag8QWTOWR).

[2021-02-18 10:23] cbrnr commented on #6077
I confirm that all epochs are dropped (`epochs.drop_log` says all of them are `TOO_SHORT`).

I suspect that this has something to do with event positions starting at sample 770624:

[code]

The continuous signal has length 371000:

[code]

But `raw.first_time` and `raw.first_samp` seem to be correctly set:

[code]

Not sure, but shouldn't `mne.Epochs` take care of this? @larsoner @hoechenberger?

[2021-02-18 13:11] Christonikos commented on #6077
Hi, we can close the thread. It was a stupid issue, I just hope that this can serve as a reference to other users as well.

I had resampled my data after extracting the events. Therefore, the sampling rates did not match and that is why the epochs were rejected as "TOO_SHORT".

I would like to thank @cbrnr for his time, and I am sorry that I bothered you with something so stupid.
Christos

[2021-02-18 13:29] cbrnr commented on #6077
Glad to hear you figured out the problem!

[2021-02-18 15:28] #8865 closed

[2021-02-18 15:46] cbrnr opened #8887 "epochs.plot_image(evoked=False) doesn't show time in seconds"
`epochs.plot_image(evoked=False)` doesn't show time in seconds on the x-axis but samples. If `evoked=True` (default), the x-axis of the evoked response is used, which is in seconds.

[2021-02-18 18:59] larsoner commented on #8855
10 sec of 376 channels scrolls pretty smoothly on my machine using VTK using [this gist](https://gist.github.com/larsoner/7acaeb67f79586975d0b07584a8fc5c9) (after applying the necessary fix from a related [VTK issue](https://gitlab.kitware.com/vtk/vtk/-/issues/18122#note_904930)), which we've gotten to embed pretty nicely lately in notebooks and Qt (here Qt):

https://user-images.githubusercontent

[2021-02-18 19:02] larsoner commented on #8855
Sorry that was actually only 2 sec of data, at 10 sec it is a little bit slower:

https://user-images.githubusercontent.com/2365790/108407536-d9333180-71f1-11eb-83ba-695a6869209c.mp4

But still I think performance is good enough already here, and I haven't tried to optimize the data upload/replacement or anything.

[2021-02-18 19:25] cbrnr commented on #8855
This looks promising, but the key issue will be how to display a large data set at various scales. I guess these issues are independent from the frontends (VTK, Qt), but important for smooth visualization. I haven't played around yet, but I'd start with keeping only the visible segment in memory and loading subsequent segments on demand from disk. Of course this gets trickier with large time scale

[2021-02-18 19:30] larsoner commented on #8855
Based on trying to optimize our matplotlib backend a lot (@drammock let me know if you agree) the drawing is the biggest bottleneck. Our raw data reads are not (currently at least) an appreciable problem relative to the draw time. So to me the fact that VTK can display over 2 million data points smoothly above suggests that it will alleviate our biggest bottleneck.

To test if anything other than

[2021-02-18 19:35] larsoner commented on #8871
What do we gain from it?

[2021-02-18 19:45] cbrnr commented on #8855
Are you sure it's drawing all data points? Or maybe it intelligently handles drawing such a large amount of data. In my naive tests with Qt, drawing got slower and slower the larger the data was, even though the same amount of points were visible at a time.

[2021-02-18 19:47] cbrnr commented on #8871
Other people won't bother us with these questions again 😄. It's just a matter of style, you don't have to do it, but this is a classic example of an abstract base class, so we could as well declare it as such.

[2021-02-18 19:48] cbrnr commented on #8871
Plus a more tangible benefit is that people can't instantiate `EpochsBase`, they will get an error. Now this is not enforced, it's only in the docstring.

[2021-02-18 19:52] hoechenberger commented on #8871
+1 to make it an ABC if that's a painless process ;)

[2021-02-18 20:06] larsoner commented on #8855
I'm not quite sure what you have in mind here, but I'm pretty sure it would just redraw all shown data points every refresh (no caching / blitting / etc.). In the code I actually delete the data table and recreate it from scratch based on the time slice needed for each draw, so VTK wouldn't know if the data was the same or not without doing something like a hash, and even in that case I'm not repl

[2021-02-18 20:43] cbrnr commented on #8855
OK, so you're just giving it the data that's currently visible? I think it might be the way I'm currently doing it with QGraphicsView, I put *all* data into the scene and put the view on the currently visible part. Strangely, more data in the scene slows down drawing of the view. I might just be doing it wrong though, need to look into it but currently I don't have a lot of time.

Can you modify y

[2021-02-18 22:38] larsoner commented on #8855
No this is just POC territory for me but you're welcome to try it

[2021-02-18 23:19] drammock commented on #8871
As long as you can still type check against it using `isinstance` then I don't care one way or the other.

[2021-02-19 07:00] cbrnr commented on #8871
Type checking with `isinstance` is exactly the point of ABCs, so yes, it works. It should be as simple as inheriting from `collections.ABC` and slapping `@abstractmethod` decorators on methods, but we'll have to see if it is really that painless. I can try and run the test suite to see if this works.

[2021-02-19 07:09] hoechenberger commented on #8871
Sounds good, I'm excited to see how this works!

[2021-02-19 11:09] cbrnr commented on #8887
Apparently, the x-axis shows time in milliseconds (and not samples).

[2021-02-19 15:24] cbrnr commented on #8855
New lib on the block: https://datoviz.org/ (successor to VisPy)

[2021-02-19 15:37] larsoner commented on #8855
AFAIK Vulkan is cutting-edge viz, I'm not sure how well supported it will be even in the next couple of years. The warning "but with up-to-date graphics drivers" is an important one.

There is also https://github.com/pygfx/wgpu-py based on https://github.com/gfx-rs/wgpu which could be another way forward. It abstracts over Vulkan/Metal/GL which should greatly help compatibility, and is somehow rel

[2021-02-19 15:46] agramfort commented on #8880
ok to move replace stft to _stft and create new public functions tfr_stft
and tfr_array_stft that just calls _stft?
that's what you had in mind?

[2021-02-19 15:47] cbrnr commented on #8855
Yes, although I was always under the impression that OpenGL is so old that "up-to-date graphics drivers" should apply to any reasonably modern computer including my 2014 MacBook Pro (which many people would call old).

WebGPU looks nice indeed. It would be nice to have some minimal PoC in both frameworks, but it seems like WebGPU has a much lower entry barrier because it's pip installable (whereas

[2021-02-19 15:55] larsoner commented on #8855
This is part of why VTK appeals to me. It's not going anywhere and is reasonably well supported. We're also already using VTK for 3D viz so we're not really adding any maintenance overhead if we start using it for other things -- we're already tied to it for some stuff.

[2021-02-19 16:11] larsoner commented on #8871
Closing for #8888

[2021-02-19 16:11] #8871 closed

[2021-02-19 16:20] larsoner commented on #8681
I think we have this now from #8739

[2021-02-19 16:20] #8681 closed

[2021-02-19 16:28] larsoner commented on #8273
I think we tried it and it didn't help but we can keep this in mind and try it again in the future. I'm not sure it will, though -- based on what I've seen, most of the time is actually spent downloading and installing packages rather than getting `conda` running at all. And now that we use GitHub actions and Azure conda seems to be better supported out of the box anyway

[2021-02-19 16:28] #8273 closed

[2021-02-19 16:29] larsoner commented on #8480
Looks like this is the same as #8729 so I'll close this one

[2021-02-19 16:29] #8480 closed

[2021-02-19 16:35] larsoner commented on #8205
I think this is now working, it would be great to have a nice example at some point though!

[2021-02-19 16:35] #8205 closed

[2021-02-19 16:36] larsoner commented on #8142
I think there is nothing to do for this issue at this point so I'll close, but feel free to comment/reopen if I'm mistaken

[2021-02-19 16:36] #8142 closed

[2021-02-19 16:36] larsoner commented on #8140
We have this from #8275

[2021-02-19 16:36] #8140 closed

[2021-02-19 16:39] larsoner commented on #8092
Closing since no code changes necessary, feel free to post on Discord if you still want to pursue this, maybe someone has tried

[2021-02-19 16:39] #8092 closed

[2021-02-19 17:09] larsoner commented on #8080
Closing since it seems like it works at least in JupyterLab but let's reopen if it doesn't actually

[2021-02-19 17:48] larsoner commented on #7718
We have this from #7717, closing

[2021-02-19 17:48] #7718 closed

[2021-02-19 17:50] larsoner commented on #7694
@ezemikulan still interested in this? There is now a more recent dataset going through this process so it should outline what changes are needed nowadays: https://github.com/mne-tools/mne-python/pull/8867/files

[2021-02-19 17:51] larsoner commented on #7644
Let's reopen if we find performance issues

[2021-02-19 17:51] #7644 closed

[2021-02-19 17:54] larsoner commented on #7482
Looks like (2) was fixed by #8151, the whitening issue I'm not sure about

[2021-02-19 17:57] larsoner commented on #1857
I think this is documented mathematically in the `estimate_snr` function nowadays

[2021-02-19 17:57] #1857 closed

[2021-02-19 17:58] larsoner commented on #1495
Closing for #6794

[2021-02-19 17:58] #1495 closed

[2021-02-19 18:01] larsoner commented on #6094
YAGNI

[2021-02-19 18:01] #6094 closed

[2021-02-19 18:39] larsoner commented on #5516
Closing due to non-response, might be better for Discourse nowadays anyway

[2021-02-19 18:39] #5516 closed

[2021-02-19 18:44] larsoner commented on #5507
`Annotations` currently has `onset`, `duration`, `description`. I suggest we add `ch_names` which is a tuple-of-tuples of channel names that the annotations apply to (like our `epochs.drop_log`). If the tuple-of-tuples is all empty, we don't write it to disk (I/O the same). If it's not empty, we write it to disk, probably however we do with `drop_log`. I think this gets people what they want in a

[2021-02-19 18:46] larsoner commented on #5457
I think most of this is YAGNI at this point and/or can be obtained from the 3D viz code so I'll close. But let's reopen if people are still enthusiastic about some of these features

[2021-02-19 18:46] #5457 closed

[2021-02-19 18:47] larsoner commented on #5362
I think we have this now, `reg=0` gives sensical results in the tests at least I think.

[2021-02-19 18:47] #5362 closed

[2021-02-19 18:47] larsoner commented on #5296
We have an MFF reader now so I'll close this and we can address issues as they come up

[2021-02-19 18:47] #5296 closed

[2021-02-19 18:48] larsoner commented on #5200
Looks like this was fixed by @sarasommariva in #5211 (thanks!)

[2021-02-19 18:48] #5200 closed

[2021-02-19 18:49] larsoner commented on #5115
I think this is `mne-study-template` territory at this point, but feel free to reopen if I'm misreading and/or you disagree

[2021-02-19 18:49] #5115 closed

[2021-02-19 18:51] larsoner commented on #4872
Closing as mailing list / discourse question

[2021-02-19 18:51] #4872 closed

[2021-02-19 18:52] larsoner commented on #4667
I think nowadays we recommend using volume group studies using SourceMorph so I'll close this

[2021-02-19 18:52] #4667 closed

[2021-02-19 18:56] larsoner commented on #4614
Porting the scale bars should have automagically happened when @drammock unified the raw and epochs browsers

[2021-02-19 18:56] #4614 closed

[2021-02-19 18:57] larsoner commented on #4323
Looking at the code more recently, I think we're stuck with our existing convention of `< 1` rather than `<=1` for backward compat purposes so I'll close this

[2021-02-19 18:57] #4323 closed

[2021-02-19 18:59] larsoner commented on #3515
Closing since last I checked it worked okay, so probably an old mpl bug

[2021-02-19 18:59] #3515 closed

[2021-02-19 19:01] larsoner commented on #2933
I think we probably don't need this since it doesn't seem to be a processing bottleneck, and we recently refactored the component selection code

[2021-02-19 19:01] #2933 closed

[2021-02-19 19:03] larsoner commented on #1742
I think if people want to do this in practice they can just do `noise_cov=mne.make_ad_hoc_cov(info)`, so no need to implement this until people try it and see that it works better than the current approach which seems to be based on `std`. It will require at least a new parameter to enable the non-empirical / `scalings`-based mode.

[2021-02-19 19:03] #1742 closed

[2021-02-19 19:05] larsoner commented on #1717
With our new `n_components=0.999999` default I don't think we need this anymore / it's implicitly taken care of.

[2021-02-19 19:05] #1717 closed

[2021-02-19 19:07] larsoner commented on #4555
I think we use this taxonomy nowadays

[2021-02-19 19:07] #4555 closed

[2021-02-20 17:16] #8312 closed

[2021-02-20 17:20] agramfort commented on #7694
having such a dataset would be great !

how big would it be? any chance it can be made available in BIDS format?

[2021-02-20 17:24] agramfort commented on #5507
yes changing annotations is not too hard but it means the plotting code
needs to deal with it.
I feel it's much more painful... you need to be able to annotate a subset
of channels that may not be
below eachother

[2021-02-20 17:30] larsoner commented on #5507
Having worked on the plotting code I actually don't think it's going to be very difficult actually. So if that's all that's stopping us I could give it a shot

[2021-02-20 17:32] agramfort commented on #5507
Give it a try

[2021-02-20 17:55] ezemikulan commented on #7694
Hi, yes, it's still on my to-do list (that as you can see has some items that are old enough to start going to kindergarten). The data are already in BIDS format, but as derivatives, and is around 12GB. I'll try to work on this in the upcoming weeks, and let you know if I find any issues.

[2021-02-20 20:05] cbrnr commented on #5507
Visual channel-specific annotations is one thing, but are you planning to support creating them as well?

[2021-02-20 22:21] marsipu opened #8890 "BUG: Channel-Adjacency for Neuromag122"
#### Describe the bug
When I try to get the channel-adjacency-matrix for Gradiometer from **Neuromag122**-Data with `find_ch_adjacency`
, a matrix with dimensions 306x306 is given (when read from ./mne/channels/data/neighbors/neuromag122_neighb.mat).

And when I try to compute the adjacency with `mne.channels.channels._compute_ch_adjacency`, I get the following result:

[code]

#### Steps to repro

[2021-02-20 22:49] marsipu commented on #8890
I dug into the problem and other functions like plots are working so probably the problem lies with how the paired gradiometer-channels in Neuromag122 are handled by _compute_ch_adjacency. For the info of my test-file, line 1412 in mne/channels/channels doesn\'t get True. The Coil-Type of Neuromag122 is FIFFV_COIL_NM_122

[2021-02-20 23:04] marsipu commented on #8890
I will open a draft PR with a possible fix, but I still don't know why the saved matrix from fieldtrip in `/channels/data/neighbours` is 306x306

[2021-02-21 13:41] agramfort commented on #7694
can you point us to the data online? is it on openneuro?

[2021-02-21 14:30] drammock commented on #5507
I am less worried about the plotting and more worried about downstream processing. See recent discussion here: https://mne.discourse.group/t/annotations-per-channels/2693/4

[2021-02-22 09:56] ezemikulan commented on #7694
Sure, the data is on g-node [here](https://gin.g-node.org/ezemikulan/Localize-MI) and the paper with the description [here](https://www.nature.com/articles/s41597-020-0467-x).

[2021-02-22 12:01] cbrnr opened #8893 "Clicking in overview bar does not draw annotations in raw.plot"
If plotting a `Raw` object with annotations, these are not drawn in the main window when navigating through the data by clicking on the little overview bar. It's probably just an `update()` call that's missing. For a MWE, the example in from #8686 can be used. @drammock do you have time to look?

[2021-02-22 13:42] larsoner commented on #5507
I say we start by treating them like any other annotation -- i.e., ignore the `ch_names` attribute -- and things will proceed as normal, so it's just an aesthetic and bookkeeping change for people to make if they want to. For example, if some marks manually a `BAD_flux_jump` just for MEG0111, that entire segment would still be ignored in epoching, and treated like an acquisition skip in filtering,

[2021-02-22 14:02] drammock commented on #8893
Yes, I'll look. I actually noticed this myself late on Friday so it was already on my to-do list for today 🙂

[2021-02-22 14:03] cbrnr commented on #5507
Sounds good!

4. Support creating channel-specific annotations in `raw.plot` (medium to hard)

[2021-02-22 14:59] DiGyt commented on #6290
Hey Everyone,

After the Google summer of Code project, I was switching University and quickly found myself in a situation where I had to finance my full-time study degree with working an off-time 50% position. Therefore I never found much time to finish the PRs associated with this Issue.

In the upcoming months I would have the opportunity to work on these PRs again and finally complete them.

H

[2021-02-22 15:21] ramkpari opened #8894 "Error reading .set files from EEGLAB v2021.0"
#### Describe the bug
The error occurs when trying to load epoched and raw .set files exported from **EEGLAB v2021**. The exact same file exported from older versions of **EEGLAB (tested with v2019)** seems to just fine.  Not entirely sure if it's a result of EEGLAB changing their file structure with the new version since the **.set** files from the 2021 version seem to still be compatible with ol

[2021-02-22 15:23] cbrnr commented on #8894
This has already been fixed in #8874.

[2021-02-22 15:23] #8894 closed

[2021-02-22 15:55] drammock commented on #5507
Are any of these tasks suitable for the upcoming sprint @larsoner ?  If so let's wait until then to implement.

[2021-02-22 16:02] larsoner commented on #5507
The first PR, namely to add `ch_names` to Annotations, is not new-contributor friendly, and is a prerequisite for everything else enumerated above. So I think I should make first make a PR to add `ch_names` as tuple of tuples of ch_names as [above](https://github.com/mne-tools/mne-python/issues/5507#issuecomment-782267017). Then someone (probably @drammock) makes the plotting code handle it proper

[2021-02-22 16:24] cbrnr commented on #5507
At the risk of sounding repetitive, I wouldn't implement showing channel-specific annotations in our plotting code without the option to create them. Or do you think people will not want to create/edit them (as opposed to just view) if they happen to have channel-specific annotations?

[2021-02-22 16:37] drammock commented on #5507
Agreed.  Displaying them is the easy part.  I've been scratching my head a bit over how to do the UI/UX for creating them (I have some ideas, but there's no obvious "right" way IMO)

[2021-02-22 17:10] HanBnrd opened #8895 "Clarify the behaviour of the `events` parameter of Epochs.plot"
#### Describe the new feature or enhancement
Since version 0.22 the default behaviour when plotting epochs with [`Epochs.plot()`](https://mne.tools/stable/generated/mne.Epochs.html#mne.Epochs.plot) is to not show the event labels and vertical bars at the top.
- See the graph in the [tutorial page for version 0.21](https://mne.tools/0.21/auto_tutorials/epochs/plot_10_epochs_overview.html#basic-visu

[2021-02-22 18:14] larsoner commented on #5507
I disagree with this. We're about to have a PR that implements the ability to make these manually via `Annotations(..., ch_names=...)`, we might as well show them / this information properly.

Moreover, the PRs to make them via `find_*` or `mark_*` functions and the one(s) to make them interactively in the GUI would benefit from actually showing them properly for testing/iteration purposes, and al

[2021-02-22 18:22] drammock commented on #5507
I can see the benefits you mention @larsoner.  In that case I think we need a (temporary) clear signal somewhere (docstring?  Annotation UI window?) making it clear that per-channel annotations cannot (yet) be created through the `raw.plot()` GUI.

[2021-02-22 18:24] larsoner commented on #5507
Indeed I would just add a note somewhere that the functionality has not been implemented / annotations created interactively apply to all channels, probably in small text at the bottom of the interactive annotations window (with the buttons and such)

[2021-02-22 19:24] larsoner commented on #8890
I think we got this file from FieldTrip -- looks like there was a similar error about 8 years ago. I've opened and upstream issue: https://github.com/fieldtrip/fieldtrip/issues/1676

[2021-02-22 21:06] larsoner commented on #8890
Sound like the correct fix is to kill the `.mat` file, can you remove it from the repo using `git rm` and remove the commented-out lines in this PR?

[2021-02-22 21:06] larsoner commented on #8890
Sorry meant for that comment to land in #8891

[2021-02-22 21:29] rtybanana opened #8897 "ValueError reading Epochs .fif file saved using the inbuilt Epochs.save() method with mne.read_epochs()"
### Describe the bug
I opened raw GDF data and performed a few preprocessing methods on it: ICA, bandpass filtering and resampling. I then Epoched the Raw data and saved it back into a .fif file so that instead of doing the preprocessing again I could just open the file directly into an Epochs object. However, when attempting to load it in a `ValueError` is raised:

[code]

### Steps to reproduce

[2021-02-23 12:11] #8893 closed

[2021-02-23 12:42] larsoner commented on #8897
I can't reproduce with `sample` data:
[code]
So we'll need to work with your data. Can you upload the raw GDF file and a script to reproduce the error?

[2021-02-23 14:35] larsoner commented on #6290
I agree there hasn't been much traffic on the issues / PRs, so it doesn't seem to be a critical priority for people at least. We can always resurrect the code/commits later if someone is motivated by a specific use case.

Are there other things you're interested in working on in MNE?

[2021-02-23 15:17] rtybanana commented on #8897
While writing out the example script I discovered my mistake which was that I was saving the Raw object rather than the Epochs and trying to load it with read_epochs.

Perhaps a more informative error message further up would be useful? Though I doubt this happens enough to warrant it being a priority change.

Thanks for your help.

[2021-02-23 15:17] #8897 closed

[2021-02-23 16:50] DiGyt commented on #6290
Yes! I'm currently looking into noise detection and could imagine that Artefact Subspace Reconstruction is a method that might gain wider popularity in the future, so it probably would be a good idea to have an MNE implementation of this.

atm I'm checking out if it's feasible to carry on the work started in #7479 and add (r)ASR to MNE (possibly reducing the number of external dependencies).

[2021-02-23 17:27] drammock commented on #8895
I would consider it a regression, actually.  Are you up for trying a PR to fix the plotting method's default behavior, rather than editing the tutorial?  I can offer guidance as needed.

[2021-02-23 17:35] drammock opened #8900 "use bibtex in plot_background_filtering"
Convert references in `tutorials/discussions/plot_background_filtering.py` to use footcite / footbibliography.

[2021-02-23 17:36] drammock opened #8901 "use bibtex in plot_background_statistics"
Convert references in `tutorials/discussions/plot_background_statistics.py` to use footcite / footbibliography.

[2021-02-23 17:42] HanBnrd commented on #8895
I wasn't sure if it was a bug or a feature actually 😄

But after looking a bit into it, it seems that it was already the case before that the default for the `events` parameter of [`Epochs.plot()` in 0.21](https://github.com/mne-tools/mne-python/blob/maint/0.21/mne/epochs.py#L1064-L1077) was `None`. So I thought it may have been a bug before which have been fixed in 0.22. Do you know why it had th

[2021-02-23 17:54] HanBnrd commented on #8895
Also, as we're on this, the doc says "If events are provided, the epoch numbers are not shown to prevent overlap" and "By default, the coloring scheme is the same" but it seems that epoch numbers are still shown with `events=epochs.events`. And each event has a different colour now (as opposed to [what happened in 0.21 where every vertical bar was green](https://mne.tools/0.21/auto_tutorials/epoch

[2021-02-23 18:12] drammock commented on #8895
1. the color change was intentional, to make `raw.plot()` and `epochs.plot()` behave similarly and have similar defaults.  The old coloring can still be achieved with `event_color='g'` or so.

2. I checked and it seems like "by default the coloring scheme is the same" (between `epochs.plot()` and `mne.viz.plot_events()`) is still true (both use matplotlib default color cycle).

3. The docstring do

[2021-02-23 18:20] drammock commented on #8895
I just checked out the `maint/0.21` branch and tried this "press O for options" ...  I don't think I'd ever used it before, and it actually doesn't work well at all (toggling visibility of various elements worked in the *off* direction but not when turning them back *on*, the sliders for adjusting n_channels/n_epochs both yielded IndexError...).  So, what needs to be tackled (these could be separa

[2021-02-23 19:13] drammock opened #8902 "use bibtex in maxwell.py"
Convert references in `mne/preprocessing/maxwell.py` to use footcite / footbibliography.

[2021-02-23 19:20] drammock opened #8903 "use bibtex in plot_otp.py"
convert references in `examples/preprocessing/plot_otp.py` to use footcite / footbibliography

[2021-02-23 19:21] drammock opened #8904 "use bibtex in plot_simulated_raw_data_using_subject_anatomy.py"
convert references in `examples/simulation/plot_simulated_raw_data_using_subject_anatomy.py` to use footcite / footbibliography

[2021-02-23 19:22] drammock opened #8905 "use bibtex in plot_sensor_regression.py"
convert references in `examples/stats/plot_sensor_regression.py` to use footcite / footbibliography

[2021-02-23 19:23] drammock opened #8906 "use bibtex in plot_source_power_spectrum_opm.py"
convert references in `examples/time_frequency/plot_source_power_spectrum_opm.py` to use footcite / footbibliography

[2021-02-23 19:23] drammock opened #8907 "use bibtex in plot_time_frequency_erds.py"
convert references in `examples/time_frequency/plot_time_frequency_erds.py` to use footcite / footbibliography

[2021-02-23 19:25] drammock opened #8908 "use bibtex in plot_time_frequency_global_field_power.py"
convert references in `examples/time_frequency/plot_time_frequency_global_field_power.py` to use footcite / footbibliography

[2021-02-23 19:25] drammock opened #8909 "use bibtex in plot_channel_epochs_image.py"
convert references in `examples/visualization/plot_channel_epochs_image.py` to use footcite / footbibliography

[2021-02-23 19:26] drammock opened #8910 "use bibtex in plot_evoked_whitening.py"
convert references in `examples/visualization/plot_evoked_whitening.py` to use footcite / footbibliography

[2021-02-23 19:26] drammock opened #8911 "use bibtex in plot_parcellation.py"
convert references in `examples/visualization/plot_parcellation.py` to use footcite / footbibliography

[2021-02-23 19:27] drammock opened #8912 "use bibtex in plot_sensor_noise_level.py"
convert references in `examples/visualization/plot_sensor_noise_level.py` to use footcite / footbibliography

[2021-02-23 19:28] drammock opened #8913 "use bibtex in envelope.py"
convert references in `mne/connectivity/envelope.py` to use footcite / footbibliography

[2021-02-23 19:28] drammock opened #8914 "use bibtex in spectral.py"
convert references in `mne/connectivity/spectral.py` to use footcite / footbibliography

[2021-02-23 19:29] drammock opened #8915 "use bibtex in eegbci.py"
convert references in `mne/datasets/eegbci/eegbci.py` to use footcite / footbibliography

[2021-02-23 19:29] drammock opened #8916 "use bibtex in hf_sef.py"
convert references in `mne/datasets/hf_sef/hf_sef.py` to use footcite / footbibliography

[2021-02-23 19:30] drammock opened #8917 "use bibtex in kiloword.py"
convert references in `mne/datasets/kiloword/kiloword.py` to use footcite / footbibliography

[2021-02-23 19:31] drammock opened #8918 "use bibtex in limo.py"
convert references in `mne/datasets/limo/limo.py` to use footcite / footbibliography

[2021-02-23 19:32] drammock opened #8919 "use bibtex in sleep_physionet/_utils.py"
convert references in `mne/datasets/sleep_physionet/_utils.py` to use footcite / footbibliography

[2021-02-23 19:32] drammock opened #8920 "use bibtex in age.py"
convert references in `mne/datasets/sleep_physionet/age.py` to use footcite / footbibliography

[2021-02-23 19:33] drammock opened #8921 "use bibtex in temazepam.py"
convert references in `mne/datasets/sleep_physionet/temazepam.py` to use footcite / footbibliography

[2021-02-23 19:34] drammock opened #8922 "use bibtex in mxne_inverse.py"
convert references in `mne/inverse_sparse/mxne_inverse.py` to use footcite / footbibliography

[2021-02-23 19:37] drammock opened #8923 "use bibtex in mxne_optim.py"
convert references in `mne/inverse_sparse/mxne_optim.py` to use footcite / footbibliography

[2021-02-23 19:37] drammock opened #8924 "use bibtex in label.py"
convert references in `mne/label.py` to use footcite / footbibliography

[2021-02-23 19:38] drammock opened #8925 "use bibtex in spatial_resolution.py"
convert references in `mne/minimum_norm/spatial_resolution.py` to use footcite / footbibliography

[2021-02-23 19:38] drammock opened #8926 "use bibtex in otp.py"
convert references in `mne/preprocessing/otp.py` to use footcite / footbibliography

[2021-02-23 19:39] drammock opened #8927 "use bibtex in xdawn.py"
convert references in `mne/preprocessing/xdawn.py` to use footcite / footbibliography

[2021-02-23 19:39] drammock opened #8928 "use bibtex in raw.py"
convert references in `mne/simulation/raw.py` to use footcite / footbibliography

[2021-02-23 19:40] drammock opened #8929 "use bibtex in source_estimate.py"
convert references in `mne/source_estimate.py` to use footcite / footbibliography

[2021-02-23 19:40] drammock opened #8930 "use bibtex in multi_comp.py"
convert references in `mne/stats/multi_comp.py` to use footcite / footbibliography

[2021-02-23 19:41] drammock opened #8931 "use bibtex in parametric.py"
convert references in `mne/stats/parametric.py` to use footcite / footbibliography

[2021-02-23 19:41] drammock opened #8932 "use bibtex in permutations.py"
convert references in `mne/stats/permutations.py` to use footcite / footbibliography

[2021-02-23 19:42] drammock opened #8933 "use bibtex in regression.py"
convert references in `mne/stats/regression.py` to use footcite / footbibliography

[2021-02-23 19:43] drammock opened #8934 "use bibtex in transforms.py"
convert references in `mne/transforms.py` to use footcite / footbibliography

[2021-02-23 19:43] drammock opened #8935 "use bibtex in viz/evoked.py"
convert references in `mne/viz/evoked.py` to use footcite / footbibliography

[2021-02-23 19:43] drammock opened #8936 "use bibtex in plot_receptive_field.py"
convert references in `tutorials/machine-learning/plot_receptive_field.py` to use footcite / footbibliography

[2021-02-23 19:44] drammock opened #8937 "use bibtex in plot_15_handling_bad_channels.py"
convert references in `tutorials/preprocessing/plot_15_handling_bad_channels.py` to use footcite / footbibliography

[2021-02-23 19:44] drammock opened #8938 "use bibtex in plot_40_artifact_correction_ica.py"
convert references in `tutorials/preprocessing/plot_40_artifact_correction_ica.py` to use footcite / footbibliography

[2021-02-23 19:45] drammock opened #8939 "use bibtex in plot_brainstorm_auditory.py"
convert references in `tutorials/sample-datasets/plot_brainstorm_auditory.py` to use footcite / footbibliography

[2021-02-23 19:45] drammock opened #8940 "use bibtex in plot_brainstorm_phantom_ctf.py"
convert references in `tutorials/sample-datasets/plot_brainstorm_phantom_ctf.py` to use footcite / footbibliography

[2021-02-23 19:46] drammock opened #8941 "use bibtex in plot_brainstorm_phantom_elekta.py"
convert references in `tutorials/sample-datasets/plot_brainstorm_phantom_elekta.py` to use footcite / footbibliography

[2021-02-23 19:46] drammock opened #8942 "use bibtex in plot_sleep.py"
convert references in `tutorials/sample-datasets/plot_sleep.py` to use footcite / footbibliography

[2021-02-23 19:47] drammock opened #8943 "use bibtex in plot_compute_covariance.py"
convert references in `tutorials/source-modeling/plot_compute_covariance.py` to use footcite / footbibliography

[2021-02-23 19:48] drammock opened #8944 "use bibtex in plot_dipole_orientations.py"
convert references in `tutorials/source-modeling/plot_dipole_orientations.py` to use footcite / footbibliography

[2021-02-23 19:48] drammock opened #8945 "use bibtex in plot_stats_cluster_erp.py"
convert references in `tutorials/stats-sensor-space/plot_stats_cluster_erp.py` to use footcite / footbibliography

[2021-02-23 20:01] HanBnrd commented on #8895
Okay great, will create and work on the PR when I have free time in the upcoming weeks :)

[2021-02-24 10:27] sappelhoff commented on #8013
not sure, but perhaps this could be an "easy" issue for the sprint? @drammock? it would involve digging into the `.plot` method, finding all bugs and fixing them (without extending functionality), and adjusting docstrings so that they accurately reflect what is happening.

[2021-02-24 13:06] #5507 closed

[2021-02-24 13:09] larsoner opened #8946 "ENH: Proper viz of channel-specific annotations"
Need viz support for channel-specific annotations.

[2021-02-24 13:10] larsoner opened #8947 "ENH: Channel-specific annotations in preprocessing"
At least `find_bad_channels_maxwell` and `annotate_flat` could mark badness channel-by channel over time.

[2021-02-24 13:12] larsoner opened #8948 "ENH: Support channel-specific annotations in maxwell_filter"
Once #8947 is implemented, we could repair channels in a time-varying way.

[2021-02-24 13:13] larsoner opened #8949 "ENH: Interactiye channel-specific annotations"
After #8946 a natural step is to allow adding/removing channel-specific annotations in `raw.plot`, UI/UX TBD, hence marking as hard.

[2021-02-24 13:23] larsoner opened #8950 "ENH: Repair channels on a per-epoch basis"
Now that we have #8896 we can redo #1869 such that we can repair channels on a per-epoch basis.

The challenge I think will be making it efficient, but I think this will actually not be too bad if we refactor the interpolation code:

1. Do the slowest part once: self- and cross-dots between all channels
2. Do the faster part each time we need to: pseudoinversion based on all "from" good channels t

[2021-02-24 13:27] larsoner commented on #8376
Since we have channel-specific annotation support now, I've re-titled this as the missing component, namely what @mmagnuski mentioned:

We need to preserve annotations in the Epochs (and EpochsTFR, etc.) objects next.

[2021-02-24 13:29] larsoner opened #8951 "ENH: API for handling channel-specific annotations in epoching"
One nice pipeline is:

1. Mark channel-specific annotations (#8947 / #8949)
2. Epoch the data without throwing out epochs based on channel-specific annotations (this ENH request)
3. Preserve the annotations from Raw->Epochs (#8376)
4. Repair channel-specific bads (#8950)

To be able to do 4/#8950 we really want some API for creating epochs that probably does throw out epochs where a given time sli

[2021-02-24 13:36] cbrnr commented on #8951
Would repairing also work when there are all-channel bad annotations? Currently, I sometimes have rather short artifact segments in relatively long epochs, and it is wasteful to discard the whole epoch just because of said artifacts. Is this possible right now, and if not, could we add support? For example, subsequent methods could ignore such segments and only work with the "good" data in an epoc

[2021-02-24 13:39] larsoner commented on #8951
No, that would require a different algorithm. This issue and #8950 are really about channel-specific repair which just uses spatial interpolation. What you're talking about would require some sort of temporal interpolation for all channels. Feel free to open a separate issue to discuss this, as it's not clear what algorithm to use (we don't have any in MNE AFAIK).

[2021-02-24 13:57] jasmainak commented on #8950
There is code in autoreject that does the caching. It would be great if we can copy it and autoreject uses the public API of MNE

[2021-02-24 17:21] agramfort commented on #8950
Having this in mne will simplify a lot the auto reject code !

[2021-02-24 18:04] hoechenberger opened #8952 "Fix position of TOCs (left and right columns)"
The tables of content displayed in the left and right columns of the development documentation should be remain in view as I scroll down the page; currently, they are affixed to the top of the page (not top of the window), meaning they'll disappear as you start scrolling down, which makes it unnecessarily difficult to keep track of which part of the document you're currently looking at.

[2021-02-24 19:27] drammock commented on #8952
+1 for this, but I think this is a change that might be valuable upstream.  I'd suggest making a PR into pydata-sphinx-theme with "sticky" sidebars as a theme configuration option set in `conf.py`

[2021-02-25 07:54] hoechenberger opened #8957 "Add "copy" button to code blocks"
Code blocks, at least in the tutorials, should come with a "copy" button, allowing users to conveniently copy code snippets to the clipboard.

Not sure if this is something that needs to be addressed upstream?

[2021-02-25 08:50] hoechenberger opened #8958 "Justify content of center column"
When reading through longer tutorials, sometimes the left-aligned text in the center column makes for a rather unpleasant visual appearance:
<img width="776" alt="Screen Shot 2021-02-25 at 09 41 14" src="https://user-images.githubusercontent.com/2046265/109126509-9c18f300-774d-11eb-86de-e0295ed7396a.png">

By adding Bootstrap's `text-justify` class to the respective container, one can enable justi

[2021-02-25 09:16] agramfort commented on #6290
what is the fundamental difference between ASR and SSP? it seems like
linear projections and least squares like SSP no?

[2021-02-25 09:31] agramfort commented on #7694
having a tutorial with maybe one subject would be the way to start

I am thinking more and more that we should promote executable scripts
as mne side projects where CircleCI is used to render the tutorials.
Otherwise we'll hit very quickly the cache size limit for one project.

[2021-02-25 12:41] drammock commented on #8958
-1 for this change. Although justification looks nice to some people, studies show that it actually slows down reading.

[2021-02-25 12:53] hoechenberger commented on #8958
@drammock is right: It appears that for LTR languages, left alignment is to be preferred, as it provided better accessibility.

https://webaim.org/techniques/textlayout/

[2021-02-25 12:53] #8958 closed

[2021-02-25 15:49] DiGyt commented on #6290
I would say that *fundamentally* they do a similar thing with both of them removing noise subcomponents from the data (I'm sure ASR somehow follows the SSP idea and that SSP could be adapted to do the same job as ASR). The main difference in my understanding is *how* they do this: SSP takes the characteristics of a *specific noise component* and removes them (requiring a pre-marked subset of accor

[2021-02-25 16:34] ezemikulan commented on #7694
Do you think something like [this](https://github.com/iTCf/mikulan_et_al_2020/blob/master/_00_getting_started.ipynb) would work?

[2021-02-25 23:30] hoechenberger opened #8962 "Report which custom reference was applied"
Currently, after calling `set_eeg_reference()` with a custom channel name, or invoking `add_reference_channels()` (which calls the former after adding all-zeros channels), to my knowledge it's impossible to retrieve **which** reference channels are being used in the current referencing scheme. The only thing that gets set in `info` is `'custom_ref_applied'`.

[code]
Isn't there a way to keep track

[2021-02-26 08:03] cbrnr commented on #8962
Maybe we can use this existing attribute, but instead of `True`/`False` we set it to the reference channel name(s)? I'd also include the average reference case here, which is currently also not stored anywhere.

[2021-02-26 08:43] hoechenberger commented on #8962
Currently, the following values are supported:
[code]

(CSD – current source density)

Interestingly, there's yet another constant in `constants.py`; not sure why we have this kind of redundancy:

[code]

In any case, when writing the measurement info, we do the following:

https://github.com/mne-tools/mne-python/blob/8e3bcefe2da6b47d1725eee5a487468277e8f5dd/mne/io/meas_info.py#L1681-L1682

I don'

[2021-02-26 08:48] hoechenberger commented on #8962
(heads-up, I've edited my above post several times)

[2021-02-26 09:13] cbrnr commented on #8962
Yeah, that's the old FIFF format compatibility story which is really holding us back. If we can't change `info["custom_ref_applied"]`, what about adding `info["reference"]`?

[2021-02-26 09:34] hoechenberger commented on #8962
Can one "simply" add new entries? I wasn't aware of that!

I was also thinking about abusing the new per-channel Annotations somehow… But this is really not my area of expertise. Let's wait for @larsoner to chime in here :)

[2021-02-26 09:35] hoechenberger commented on #8962
Also we'd want to support the REST average as well. And maybe future references which haven't been invented yet…

[2021-02-26 09:37] cbrnr commented on #8962
No, we can't simply add new FIFF fields, but I thought that exporting to FIFF doesn't simply dump the whole `Info` object, but instead picks out the relevant fields. If this really works like this, we can add a new field which will be ignored. This field should be a string or list of strings, so any future references are automatically supported.

[2021-02-26 09:50] hoechenberger commented on #8962
Yes, that seems to be the case

👌

[2021-02-26 09:55] cbrnr commented on #8962
I meant ignored by MNE when writing to FIFF - so this field shouldn't be written. However, it would be even better if we wrote that field and programs would just ignore it when reading if they don't know about it. But let's wait for @larsoner, he'll know for sure.

[2021-02-26 10:00] hoechenberger commented on #8962
But then you'd lose the info during an I/O roundtrip, which is super confusing IMHO…

Let's wait for @larsoner  ;)

[2021-02-26 10:10] cbrnr commented on #8962
I know, but FIFF was never designed to hold all that information. If we can easily add optional fields, then everything is fine. Maybe we should think about a new simple format such as pickling raw?

[2021-02-26 10:32] hoechenberger commented on #8962
I do love pickles (Spreewald 🥳) but I don't like pickled data :) It's not really portable and not suitable for long-term storage.

I'd actually prefer something like a simple JSON sidecar file or so…

[2021-02-26 10:34] cbrnr commented on #8962
I don't like the pickle format either, but two files are also asking for trouble. Maybe we should just store as .mat (I'm only half-joking here)...

[2021-02-26 13:11] larsoner commented on #8962
Agreed, `Info` should only hold things that will survive I/O round trip. If we need to store more information there we should improve the spec.

I don't think we plan to jump to a new format anytime soon and even if we do, we need to make FIF work as well as possible so I don't see it really helping with the problem.

We can add things to info the right way -- i.e., by enhancing the fiff-constants

[2021-02-26 16:05] hoechenberger commented on #8962
But this would only help you recover the **location** of the reference, not its name or channel index (in case the channel is present in the data). To find out if the specified reference channel is even still part of your data, you'd have to iterate through all channel locations until you hopefully find the matching coordinates … seems awkward?

Which also highlights that there are two different w

[2021-02-26 16:27] larsoner commented on #8962
Let's be clear about the "who" is here. When I'm talking about keeping track of the information in the FIF spec, the "who" I'm talking us as maintainers dealing with our internal storage of the information and I/O possibilities.

For the user -- a very different "who" -- we can easily expose some function or something that converts these locations to channel names, or whatever they need.

So to me

[2021-02-26 16:30] larsoner commented on #8962
I don't know what sorts of refs people have used, but having weights allows for (nearly) arbitrary linear transformations of the data, which is nice. And the storage here is pretty trivial so I don't see any problem with including it, even if we never really end up using it.

[2021-02-26 16:58] hoechenberger commented on #8962
Thanks for the clarification, @larsoner! If you think the `np.allclose()` approach would work to construct location <> channel identity, I'm +1 for your proposal!

[2021-02-26 18:13] hoechenberger opened #8964 "Tutorial gallery rendering slightly off"
Looks like this for me in Safari with the default zoom factor:

<img width="787" alt="Screen Shot 2021-02-26 at 19 10 40" src="https://user-images.githubusercontent.com/2046265/109338538-b1ce0b80-7866-11eb-8b02-29a431a45f6d.png">

[2021-02-26 18:44] bloyl opened #8966 "ica.plot_sources ignores ica_names if picks is used"
#### Describe the bug
if you specify `picks` to `ica_plot_sources` the labels are in order starting with ICA0000, ICA0001....

For instance
`ica.plot_sources(raw, picks=[4, 6])`
will make a plot whose ch_name labels are ICA0000 ICA0001

#### Steps to reproduce
this is reproduced in the final plot of the ica example
https://mne.tools/dev/auto_examples/preprocessing/plot_run_ica.html#sphx-glr-auto-e

[2021-02-26 21:50] sKinreich commented on #6535
Hi all, It seems that I'm still getting this error reading cnt files.
Any idea why ?
Thanks !

[2021-02-26 22:27] #8966 closed

[2021-02-27 08:07] agramfort commented on #6535
@sKinreich are you sure you are using the latest mne version ? Is so can you share the file privately ?

[2021-02-27 08:13] hoechenberger commented on #8962
How would we encode the REST referencing scheme?

[2021-02-27 11:13] viyyer commented on #6091
I can still reproduce this bug in mne-0.22.0

[2021-02-27 15:45] sKinreich commented on #6535
Hi agramfort,

Thank you for your reply !!!
I’m using version 0.22 of MNE.
How can I share the file privately ? can you send me your email address ? (sivankinreich@gmail.com)
Thanks you again for any help.

Sivan

[2021-02-27 15:48] larsoner commented on #8962
REST is weird as it depends on passing a forward etc. We could think about adding a new constant for it or something but this seems like a far less critical case than standard channel-based references

[2021-02-27 16:21] hoechenberger opened #8968 "Add example for make_fixed_length_epochs()"
Currently, there is neither a tiny example in the docstring, nor is there a working example in our examples or tutorials galleries for [`mne.make_fixed_length_epochs()`](https://mne.tools/dev/generated/mne.make_fixed_length_epochs.html). It would be nice to add one.

[2021-02-27 16:22] hoechenberger commented on #8962
Yep. But a way to store a name – simply the string "REST" – could make sense, don't you think?

[2021-02-27 17:01] larsoner commented on #8962
Actually on second thought IIRC REST is also known as an infinity reference, so we can signal it's being used even in main just by setting locs[3:6] to np.inf, and we can also do this in the system I proposed. So no need for a chance just for that

[2021-02-27 18:14] hoechenberger commented on #8962
@larsoner Good idea!

What do you think, how should we go about moving forward here? Clearly I'm lacking a big deal of expertise, but if you think I could somehow contribute, please do let me know!

[2021-02-27 18:38] smac89 commented on #7315
If you actually want to make the change in [this comment](https://github.com/mne-tools/mne-python/issues/7315#issuecomment-586201990) permanent rather than having to type it every time you use the IPython repl.

Locate your ipython profile (`$(ipython locate)/profile_default`), and find the `ipython_config.py` file. Inside that file should be a line that looks like:

[code]

Change that line to:
[

[2021-02-28 10:33] agramfort commented on #7315
I would see if I can try to install an older version of jedi to fix the
problem

[2021-02-28 11:10] agramfort commented on #7694
yes that's great

I would add a data fetcher to make it run out of the box for people

I created this repo https://github.com/mne-tools/awesome-mne

inspired by common practice to have a curated list of satellite projects

[2021-02-28 11:31] agramfort commented on #6290
ok got it

ASR : give me good segments to estimate signal subspace
SSP:  give me artifact segments to estimate artifact subspace and the
signal is the orthogonal subspace

this suggests that the existing SSP machinery could be used

[2021-02-28 11:38] agramfort commented on #8887
it's consistent with evoked.plot then no?

[2021-02-28 13:13] agramfort commented on #8962
using locations to know how channels were referenced should not be the primary source of information. I anticipate that we have EEG data without channel locations but we some channel based references. See channel names you see in EEG world (eg saying that it's Cz-M1 referenced to M1). This suggests that the channel block idea (which I like) should contain a list of channels and not locations). Not

[2021-02-28 15:03] agramfort commented on #6091
with what file?

In [1]: import mne
raw = mne.io.read
In [2]: raw = mne.io.read_raw('test_annon_mne.edf')
<ipython-input-2-2561301fcce1>:1: RuntimeWarning: Omitted 2391
annotation(s) that were outside data range.
  raw = mne.io.read_raw('test_annon_mne.edf')

works

[2021-02-28 16:12] larsoner commented on #8962
This is exactly the case for data acquired by Neuromag systems currently for example. So I think just keeping track of channel names won't work for systems that do actually encode physical locations, just like you think keeping track based on locations won't work for systems that don't.

What if we keep track of name+location of each reference? This would just mean one more tag with is a list of n

[2021-02-28 16:30] hoechenberger commented on #8962
Sounds good to me. @agramfort's comment also reminded me of EEG recordings we'd done a few years back with reference electrodes placed on the tip of the nose. These would not have any proper location associated with them.

[2021-03-01 08:06] agramfort commented on #8962
but to me you will always have names even if they are ad-hoc names like
EEG001,EEG002, etc.

[2021-03-01 10:32] kimcoco opened #8969 "TF_DICS mode 'cwt_morlet' can't take list of cycle numbers for different frequency bins"
#### Describe the bug
*TF_DICS beamforming with mode 'cwt_morlet' only takes deafault or single value cwt_n_cycles, although it should also accept list of float with different cycle numbers for each frequency bin*

#### Steps to reproduce
*
[code]

#### Expected results
*it should work with a list of floats like the API states*

#### Actual results
*Traceback (most recent call last):
  File "bugre

[2021-03-01 10:50] hoechenberger commented on #8962
Yep!

[2021-03-01 11:13] cbrnr commented on #8887
The x-axis scaling depends on the `evoked` argument though. If `evoked=True`, it is in seconds, but if `evoked=False` it is in milliseconds. I think it is more important to be consistent within this function than to another function.

[2021-03-01 11:20] sappelhoff commented on #8957
I recently added sphinx-copybutton to mne-bids and several other repos, and it does the job very well: https://github.com/executablebooks/sphinx-copybutton

[2021-03-01 11:21] cbrnr commented on #8962
Whatever you decide is best to represent the reference internally, I would really love to see a public API that simply gives me the reference as a string (e.g. `"C3",` `"average"`, `"REST"`, ...) or a list of strings (e.g. `["M1", "M2"]`). Many EEG data sets do not specify the reference, so in that case we could simply set this to `"unknown"`.

Come to think of it, maybe we shouldn't even use `"av

[2021-03-01 12:16] larsoner commented on #8962
It sounds like you're pushing to store only the names? To me this is still problematic because it's lossy. If we eventually want to do anything having to do with the physical arrangement of the recording setup (e.g., forward modeling), we need the locations of the references, which might not be proper channels (in the sense of having an entry in `info['chs']`) in the dataset, hence they could be m

[2021-03-01 12:25] agramfort commented on #8887
ok fair enough. Seems like a good task for the sprint

[2021-03-01 20:20] hoechenberger opened #8974 "Add HED to glossary"
In MNE, we can describe events using hierarchical event descriptors (HED), such as `stim/a`, `stim/b` etc. They should be mentioned in the glossary and potentially a reference to the original publication should be added to an Epochs/events tutorial

Publication:
http://sccn.ucsd.edu/~nima/downloads/HED_globalsip_paper.pdf

[2021-03-01 23:06] CJ-Wave opened #8976 "Add support for file-like objects to mne.io.read_raw_edf()"
#### Describe the new feature or enhancement
I would like to have support for file-like objects for the mne.io.read_raw_edf() function (specifically a bytesIO object)

#### Describe your proposed implementation
new capability to an existing method

#### Describe possible alternatives
Possible alternative is allowing for a kwarg to detect if it's a file-like object as opposed to a filepath, but sho

[2021-03-01 23:09] larsoner commented on #8976
Agreed this would be useful and I don't see any reason offhand why it would be a problem. Maybe some code in `mne/io/fiff/raw.py` could be refactored for this. Do you want to give it a try @CJ-Wave ?

[2021-03-01 23:20] CJ-Wave commented on #8976
Sure, I can give it a try.

[2021-03-02 07:56] #8878 closed

[2021-03-02 10:13] agramfort commented on #8962
ok fair enough It seems that storing both names and locations is
necessary...

[2021-03-02 10:36] hoechenberger commented on #8962
I like that!
It's almost like eating the cake and having it too! 🍰

[2021-03-02 12:12] #8890 closed

[2021-03-02 14:25] hoechenberger opened #8979 "Add add_reference_channels() method to Raw, Epochs, and Evoked"
Currently there's `mne.add_reference_channels()`, which takes an instance of `Raw`, `Epochs`, or `Evoked`, and adds reference channels.

It would be great to have this functionality exposed as a **method** too, i.e., `Raw.add_reference_channels()`, `Epochs.add_reference_channels()`, and `Evoked.add_reference_channels()`, just as is the case e.g. with `set_eeg_reference()`

The respective `Raw`/`Ep

[2021-03-02 15:51] Immiora commented on #8868
Any chance someone is looking at this yet?

[2021-03-02 20:57] agramfort commented on #8979
no objection

[2021-03-03 06:31] JD-Zhu opened #8981 "Handling bad marker coils when reading KIT data"
Hello,

We are attempting to read .con files from KIT system, and mne.io.read_raw_kit() runs into an error when there are missing marker coils. This seems to be caused by retrieving coordinates for markers (e.g. 'hpi_1') when they don't exist (line 716 in mne/io/kit/kit.py).

We propose the following solution, which checks whether a marker coil exists before retrieving its values:

    # nasion, l

[2021-03-03 07:32] agramfort commented on #8981
no objection to open a PR

will it break anything down the lines?

[2021-03-03 08:17] FriederikeScholten commented on #8784
Thanks for the suggestions. I do not know how (to my knowledge I did not change anything), but the plot function works fine now, also for my colleague. Just to follow up, the code: all(np.isfinite(proj['data']['data']).all() for proj in raw.info['projs']) evaluates True.

[2021-03-03 08:18] #8784 closed

[2021-03-03 08:46] hoechenberger opened #8982 "Set ICA's max_iter to a higher default"
Currently, `ICA.max_iter` is set to 200 by default. This is one of the few MNE defaults I **always** change when working with data from our lab, and I've seen quite a few support requests indicating that ICA didn't converge within those 200 iterations too, the most recent one here: https://mne.discourse.group/t/cannot-find-ecg-artifacts-during-ica/2778/11?u=richard

I'd like to suggest to increase

[2021-03-03 08:53] agramfort commented on #8982
how is it done in other software packages?

[2021-03-03 09:16] hoechenberger commented on #8982
EEGLAB uses

[500 for picard](https://github.com/sccn/eeglab/blob/96f5b56adec802ea3fc296085f17d3f21c204942/functions/popfunc/pop_runica.m#L167)
[1000 for pearson ICA](https://github.com/sccn/eeglab/blob/96f5b56adec802ea3fc296085f17d3f21c204942/functions/popfunc/pop_runica.m#L487)

For Infomax, AMICA and FastICA I couldn't find any defaults set in the EEGLAB sources – they're probably relying on th

[2021-03-03 09:19] agramfort commented on #8982
let's try to stick to the same defautls

[2021-03-03 09:19] hoechenberger commented on #8982
Ok it seems to be
[1000 for FastICA](https://github.com/davidkun/FastICA/blob/df9dbda6a50161285afd6933b04241f974c6e377/fastica.m#L94-L95)
[2000 for AMICA](https://github.com/japalmer29/amica/blob/008abb83a98ed34c0c57785804ee34ec52a59c4b/pop_runamica.m#L10)

Infomax I still couldn't find.

[2021-03-03 09:28] hoechenberger commented on #8982
[512 for (extended) Infomax](https://github.com/sccn/eeglab/blob/96f5b56adec802ea3fc296085f17d3f21c204942/functions/sigprocfunc/binica.m#L29)

[2021-03-03 09:31] hoechenberger commented on #8982
--> My proosal:

- Change the signature of `ICA(..., max_iter=200)` to `... max_iter=None`
- fill in the default based on the used algorithm:
    - Infomax & picard -> 500
    - fastica -> 1000

Would also be suitable as a task for the sprint if we agree this is a change we'd like to have.

[2021-03-03 11:12] agramfort commented on #8982
ok for a sprint issue

[2021-03-03 15:16] larsoner commented on #8868
Can you try #8983?

[2021-03-03 16:08] drammock commented on #8881
I still think this is a good idea, but too low a priority to realistically get done any time soon.

[2021-03-03 16:12] jeangillain commented on #8864
Hello,

I was wondering if you fixed the problem, because when I try to load .set files on mne, I still have the same problem.
Thanks a lot for everything you do,

Jean Gillain

[2021-03-03 16:24] hoechenberger commented on #8864
Hello @jeangillain,

this has been fixed in our development and 0.22 maintenance branches; but there hasn't been a official release since this fix was added. You can install the latest version of the (unreleased) 0.22 maintenance branch (which will eventually become 0.22.1) by running:

[code]
I hope this helps!

[2021-03-03 17:19] larsoner opened #8986 "BUG: Possible inefficient updates to Brain"
One reason `Brain` is (probably) slower on CIs and example builds is that it does at least some unnecessary updates. For example on #8985 + #8975 if I add a `mne.set_log_level('debug')` in some test script, each time I tweak a clim or update a time point I get:
[code]
So it's being mapped twice. And if I modify the `_Brain` code to have this:
[code]
Just on init I see:
[code]
So we get 6 renderer

[2021-03-03 18:51] GuillaumeFavelier commented on #8986
We opted-out from `auto_update` so for this one, I would suggest to add an `update` parameter to the public functions that would default to `True`. With this solution, the internal calls can have `update=False`. What do you think?

[2021-03-03 18:55] hoechenberger opened #8987 "Document correctly that plot_ica_overlay() for Raw only plots the first 3 seconds of data"
See https://mne.discourse.group/t/ica-plot-overlay-pan-forward-and-missing-data/2781

[2021-03-03 19:03] larsoner commented on #8986
I think right now we don't have to worry about any public updates, and can just assume that if someone does something, update should be called. The real problem as I see it so far is that update is called more than once for a single "do something" command from the user's end. For example, `set_time_point` above causes a double recomputation of the overlay scalars/colormapping, even though it shoul

[2021-03-03 19:09] #8868 closed

[2021-03-04 09:51] hoechenberger opened #8990 "User confused by using code snippets from TFR tutorial"
See https://mne.discourse.group/t/tfr-morlet-temporal-resolution/2785

The user simply copied the code block with `decim=3` and was surprised the data got decimated. I think the tutorial should be more explicit about this, WDYT?

[2021-03-04 10:00] AlexLepauvre opened #8991 "set_eeg_reference to multiple channel types"
# Issue
I am analyzing data sets consisting of both ECoG and SEEG channels. One of our preprocessing step is to apply CAR the ecog and seeg channels. In order to ensure comparability between the different electrodes (regardless of whether they are seeg or ecog), we need to apply CAR to all ecog and seeg channels at once, the average to apply also being across seeg and ecog channels. While the set_

[2021-03-04 12:13] ws17863276480 opened #8992 "RuntimeWarning: Channel locations not available. Disabling spatial colors."
/home/wyw/ws/location/venv/demo.py:13: RuntimeWarning: Channel locations not available. Disabling spatial colors.
  raw.plot_psd(fmax = 5,picks = 'misc')
/home/wyw/anaconda3/lib/python3.6/site-packages/mne/viz/evoked.py:510: UserWarning: Attempting to set identical left == right == 0.0 results in singular transformations; automatically expanding.
  ax.set_xlim(xlim)
/home/wyw/anaconda3/lib/python3

[2021-03-04 13:50] drammock commented on #8992
We will need more information to be able to help you: version info, the code you tried to run, what data you were analyzing, etc. Please open a new bug report and read the pre-filled instructions that appear, and edit this post following those instructions.

[2021-03-04 15:02] agramfort opened #8993 "set_bipolar_reference is not present in the doc or any example"
we should add

https://mne.tools/stable/generated/mne.set_bipolar_reference.html

to the some example and documentation.

[2021-03-04 15:11] drammock commented on #8993
some options are:

1. add it in [this section](https://mne.tools/dev/auto_tutorials/preprocessing/plot_55_setting_eeg_reference.html#setting-or-changing-the-reference-channel) or in a new section right after it.
2. make a short how-to example that just illustrates bipolar referencing
3. both 1 and 2

[2021-03-04 15:34] agramfort commented on #8993
a good sprint TODO I think

[2021-03-04 15:48] sappelhoff commented on #8974
:+1:

There is also a more recent paper: https://osf.io/5fg73/

the initial paper talks about "first generation HED", but the standard is planning to release the third generation in 2021.

[2021-03-04 16:13] hoechenberger commented on #8974
Yes but I don't think we currently support anything beyond HED "1.0", do we?

[2021-03-04 16:17] sappelhoff commented on #8974
I am not sure that MNE supports HED 1.0 fully :thinking: it looks to me more like some (more or less coincidental) overlap between features, but I may be wrong.

[2021-03-04 16:20] drammock commented on #8990
yes, in general we should always call out anything we do in the tutorials (for sake of build efficiency) that you wouldn't normally do locally.

[2021-03-04 19:55] adam2392 opened #8994 "Append functionality for AverageTFR"
#### Describe the new feature or enhancement
Similar to how Raw instances can be appended together, I was wondering if it is possible to include that for AverageTFR. Running instances separately, and it's useful for me to append these together in my workflo.w

#### Describe your proposed implementation
Essentially take Raw.append and copy it over with additional checks on the frequency axis.

[2021-03-04 20:07] agramfort commented on #8994
why do you need this? can you append the raw and compute on this?

[2021-03-04 20:43] adam2392 commented on #8994
My workflow rn consists of different recording sessions. I’m running a tfr spectral analysis and saving output as mne h5 files.

But when I do some post analysis I want to join them into one contiguous chunk to explore how the freq content changes.

[2021-03-04 22:43] bloyl opened #8995 "using picks with ica.plot_sources breaks interactive properties plot"
If i specify `picks` to `ica.plot_sources` If I then click on the ica_name to see the properties the indexing is incorrect and the properties for the wrong IC is plotted

For example in the image below I am not plotting **ICA001**, now if I right click on the **ICA004** to plot it's properties I get a window with the correct IC name however the topo and presumably the rest of the the properties pl

[2021-03-04 23:01] drammock commented on #8995
I can reproduce, and yes, the data is for the wrong IC (i.e., it's not just the subplot title that is wrong)

[2021-03-05 07:53] agramfort commented on #8994
can you cook up such a function in our own code base while you develop the
use case
and the results and we consider it adding this to MNE in the future?

[2021-03-05 08:03] agramfort commented on #8991
indeed we had not considered this use case.

I see 2 solutions for now:
- temporarily change ecog channels to seeg to be able to set the ref (if it
works)
- see if https://mne.tools/stable/generated/mne.set_bipolar_reference.html
which accepts a list
of channel names can be used.

HTH

[2021-03-05 10:36] ktavabi commented on #8221
In all fairness this sounds like an effort to replicate the software carpentry model into electrophysiology with a smattering of equitable diversity that IMHO already exists in the MNE ecosystem. I am curious as to what the MNE-Analysis-mail-list crowd  thinks of this?
At the end of the day folks need to work with electrophysiology data that's first and foremost representatively sampled, and yes i

[2021-03-05 11:14] hoechenberger commented on #8221
Now this can be a really long and extensive discussion! 👌
My understanding is that the primary focus of this initiative is to try and encourage more people of all backgrounds to contribute to MNE. The first step to this is try to create a welcoming environment for people of various backgrounds.

I have a couple of female close friends who are working in "tech"; and shared some of their impressions

[2021-03-05 12:44] larsoner commented on #8991
We should allow `ch_type` to be a `list of str` to support this use case. This seems like a fairly small change, with little risk of users shooting themselves in the foot (they have to explicitly pass such a list, so presumably know what they want).

We all start somewhere, and we're happy to help you along. And if you get stuck or run out of time to work on it, maintainers can push commits to you

[2021-03-05 14:13] DiGyt commented on #6290
Exactly.

Though there are some details to the ASR algorithm procedure, (like the data being fitted as a sliding window or the riemannian variant using principal geodesic analysis instead PCA) that create a somewhat different construct of functions.

@nbara's code is extremely close to the original implementation, which is nice for testing equivalence.
So, if you think ASR is a nice thing to add t

[2021-03-05 16:09] ktavabi commented on #8221
@hoechenberger good luck finding that 🦄 friend

[2021-03-05 17:21] britta-wstnr commented on #8221
Thanks @hoechenberger for your very elaborate answer!
May I add that it furthermore has been shown that diverse groups benefit scientific research and innovation (e.g. AlShebli et al., 2018, Nat Comm; Hofstra et al., 2020, PNAS), so it will lead to a "better product", as @hoechenberger also has hinted at.
I do not believe that diversity in any scientific field has to be a unicorn: but to get there

[2021-03-05 17:55] drammock commented on #8221
thanks (sincerely) for questioning our ideas, @ktavabi (we are scientists, after all!)

Maybe.  SWC offers good infrastructure and support for lesson development, and there are efforts underway on at least [five other carpentries-style lessons related to neuroimaging](https://carpentries.org/community-lessons/#neuroimaging).  Personally I don't think it makes sense right now for MNE-Python to do a

[2021-03-05 19:48] ktavabi commented on #8221
Fine, fine. "Product" it is then. This is more rationalization than decision making. But we should take some safeguards, against future (n)pandemics, no? Additional biometrics? No, that'd be overkill. The Chinese would hate that.
Where do I sign up for office hours with Alex?

[2021-03-05 20:17] drammock commented on #8221
I'm not sure I follow you here.

Again, not sure I understand.

Office hours are twice monthly on our Discord server, and are hosted by whichever MNE-Python core devs are available that day. See [here](https://mne.discourse.group/t/announcing-mne-python-office-hours/2468) for more details.  You just missed one this morning, and the usual office hours on 19 March will be superseded by the code spri

[2021-03-05 21:25] ktavabi commented on #8221
Sorry I forgot the qualifier "better product"

Ummm, interpretation is in the eye of the beholder Dan. It's your money, it stipulates you do(x). Good luck. I look forward to witnessing the fruits of your effort. Maybe we'll discord on discord homie. That's all folks.

[2021-03-06 08:16] #8995 closed

[2021-03-06 22:47] drammock opened #9001 "use read_info in covariance example"
`examples/io/plot_read_noise_covariance_matrix.py` should use `mne.io.read_info` instead of reading the whole evoked object, as only the info is needed.

Other changes to that file:

- remove `print(__doc__)`
- title should start with "How to"

[2021-03-06 22:58] drammock opened #9002 "convert examples/preprocessing/plot_ica_comparison to full tutorial"
This example has the potential to be a more informative discussion about the pros/cons of different ICA algorithms.  Also right now it doesn't really fit the goal of being a "How-to" for a normal analysis task (you wouldn't usually compare several ICA algorithms every time you preprocess a new dataset).  Things it should discuss:

- speed
- performance on clean data vs different kinds of noisy dat

[2021-03-06 23:07] drammock opened #9003 "combine ICA example into ICA tutorial"
merge `examples/preprocessing/plot_run_ica.py` into `tutorials/preprocessing/plot_40_artifact_correction_ica.py`

probably easiest to add a new section to the end of the tutorial, saying something like "By the way, we've been doing ICA on raw, but FYI you can do it on Epochs too...".  Try to re-use whatever objects have already been created by the earlier steps of the tutorial, to minimize run tim

[2021-03-06 23:24] drammock opened #9004 "split code block in examples/preprocessing/plot_virtual_evoked"
right now, because all plots come from a single code block, they are plotted at the top of the example in a group of 4 (and consequently the plots are really small).  By splitting the 4 plotting calls into different code blocks, they will plot larger / be easier to see & compare, without increasing run time of the example.  Code blocks can be split with a line of 79 `#` marks (adding a bit of expl

[2021-03-06 23:30] drammock opened #9005 "clean up XDAWN example"
in `examples/preprocessing/plot_xdawn_denoising.py` the references are printed at the top; move them to the bottom like they are in most other examples/tutorials.

While you're in there, read through the example and make sure you understand it; improve the wording/explanation of any parts that are awkward or unclear. How-to examples should be fairly short, but if adding a little something (a few e

[2021-03-06 23:31] drammock opened #9006 "Fix the sideways helmet plot"
`examples/visualization/plot_mne_helmet.py` plots the helmet sideways.

[2021-03-06 23:35] drammock opened #9007 "Fix corrupted figures in plot_background_freesurfer_mne"
Several plots in `tutorials/source-modeling/plot_background_freesurfer_mne.py` are messed up (inverted, misaligned, or corrupted).  See if you can fix them. Check with @larsoner or @GuillaumeFavelier before you start; some of them might be due to 3D viz bugs that aren't fixed yet.

[2021-03-06 23:36] drammock opened #9008 "brains out-of-frame in plot_dipole_orientations tutorial"
Several of the figures in `tutorials/source-modeling/plot_dipole_orientations.py` are out-of-frame in the tutorial.  Tweak the plotting params so that they look right.

[2021-03-07 15:18] AbinS97 commented on #5026
I'm having the same error , did you figure it out? if so please help.

[2021-03-08 12:09] larsoner commented on #9007
I think this has to do with a change related to whether the camera's focal point is at 0, 0, 0 (new behavior) or center of the bounding box of all objects in the scene (old behavior). @GuillaumeFavelier I think we should make sure that there is some option like `focalpoint='bounds'` or so (and focalpoint=None should mean "use existing focal point"), and maybe set "bounds" (back) to the default. WD

[2021-03-08 13:50] GuillaumeFavelier commented on #9007
Agreed, the behaviour of the focal point should be clarified and maybe even tested (to avoid this out of focus brain regression) ?

[2021-03-08 13:55] larsoner commented on #9007
A simple test would be to compute the center of mass based on non-background-color pixels. Do you want to try @GuillaumeFavelier ?

[2021-03-08 13:56] GuillaumeFavelier commented on #9007
bounds are given by VTK's `ComputeVisiblePropBounds` right?

[2021-03-08 14:04] larsoner commented on #9007
[Looks like it, yeah](https://github.com/mne-tools/mne-python/blob/main/mne/viz/backends/_pyvista.py#L989).

[2021-03-08 14:05] GuillaumeFavelier commented on #9007
I'm on it

[2021-03-08 15:20] larsoner commented on #5026
Did you try redownloading with something like:
[code]

[2021-03-08 15:37] berndf commented on #6613
Hello everybody!
I was also desperately looking for information on this V-Amps file format and only found this information about encryption. I checked back with Brain Products and received the information that there is a signature but no encryption of the actual data.
What makes the data look "encrypted" is the fact that there is an additional channel in the binary data (as last channel). So inste

[2021-03-08 15:48] fishbacp opened #9011 "Obtaining annotations with plot window still open with fig.mne"
The following will allow me, within a separate script, to use fig.mne to recover the bad channels with the plot window open and drop them from raw:

fig=raw.plot()
bads=fig.mne.info[‘bads’]
raw.drop_channels(bads)

Can we do the same for annotations? In other words, suppose I wish to access annotations within a script without closing the plot window? Does fig.mne.inst.annotations have this capabil

[2021-03-08 16:03] sappelhoff commented on #6613
Very interesting, thanks for the info @berndf. Could you by any chance post the correspondence that you had with Brain Products in this issue thread?

I'd be very interested to know why there is a seventh channel ... and what data it contains, and why it is not advertised by the header. Does it mean there is always one more channel than advertised by the header?

[2021-03-08 16:24] Mehrabkhazraei commented on #6613
@sappelhoff indeed the extra channel is nothing than an electrical reference channel. It is not really related to any kind of encryption. @berndf Actually there is no encryption in recorded files. They are just using different type of saving formats. By the way, if you are up to change the format to *.vhdr and *.ahdr, you just need to go to the settings of your recorder app and change the saving f

[2021-03-08 16:28] rahul2227 commented on #8599
I have the updated version of the MNE but still, I am getting this error now. I am running the same code as I designed before and I ran it without any problems. But now the same code is giving me this error.
[code]
Previously the same code worked well for me.

[2021-03-08 16:34] berndf commented on #6613
@sappelhoff Exactly, if the header advertises N channels there are N+1 in the binary data. The "Signature channel" is apparently always the data type of the other channels. The correspondence with BP was in German, but the information given was that the V-Amps were shipped in a bundle with a special version of the Analyzer at a low price, and that the signature was added to render this Analyzer on

[2021-03-08 18:03] agramfort commented on #8599
can you merge the main branch into yours?

[2021-03-09 12:17] agramfort commented on #9011
the figure should update the instance automatically on close. For both the
bads and the annotations.

have you noticed this? or is it broken?

[2021-03-09 13:46] #8981 closed

[2021-03-09 15:24] fishbacp commented on #9011
Hi,

Yes, the update of raw works fine when I close the plot window. But for
purposes of my application (made with Tkinter), I'd like to have the GUI
open adjacent to the plot window. When the user presses a button, raw will
be updated, to remove bads and annotations, so that subsequent calculations
done by my script can be performed with the plot window still open. After
performing calculations,

[2021-03-09 17:11] drammock commented on #9011
As mentioned in the discourse answer, it is currently *possible* to access the annotations in that way. But the properties in `MNEBrowseFigure.mne.*` are undocumented and if your want to make use of them in this way, we should talk about making them documented and stable. Can you describe your app in a little more detail (overall purpose, what things you want to be able to update while the plot is

[2021-03-09 17:52] #8895 closed

[2021-03-09 19:44] hoechenberger opened #9018 "Saving topomap animation doesn't include plot title (time point)"
MWE:
[code]

Output
[code]
![foo](https://user-images.githubusercontent.com/2046265/110528075-00f22700-8118-11eb-919a-1ecb4cf74e63.gif)

Whereas the respective Matplotlib figures contain the titles; they simply seem to get lost during saving:
https://mne.tools/dev/auto_examples/visualization/plot_evoked_topomap.html#animating-the-topomap

[2021-03-09 22:33] drammock commented on #9011
Dropping the annotations from the raw object already happens automatically / instantly. Try this:

[code]

Now in the plot window you can add an annotation (press `a` to start annotation mode, then click-drag to create an annotation), and then type `raw.annotations` to see that there is 1 segment.  Now go back to the plot and right-click the annotation span to remove it, and type `raw.annotations`

[2021-03-10 09:35] hoechenberger opened #9020 "Reconsider viz.plot_ica_overlay()'s treatment of start, stop parameters"
After seeing https://mne.discourse.group/t/ica-plot-overlay-pan-forward-and-missing-data/2781?u=richard, I played a little with `viz.plot_ica_overlay()` and Raw data.

Turns out that the `start` and `stop` parameters are not fully and properly documented; and more unexpectedly, lead to different behaviors depending on whether you pass an interger or a float.

If you pass an integer, it's interpret

[2021-03-10 09:48] hoechenberger commented on #9020
Here's a MWE to demonstrate the current behavior:

[code]
<img width="417" alt="Screen Shot 2021-03-10 at 10 47 13" src="https://user-images.githubusercontent.com/2046265/110609991-17d36080-818e-11eb-8070-848597d58c69.png">

<img width="417" alt="Screen Shot 2021-03-10 at 10 47 24" src="https://user-images.githubusercontent.com/2046265/110610016-1c981480-818e-11eb-8efc-43923bfbe87e.png">

[2021-03-10 09:51] AlexLepauvre commented on #8991
Sorry for the late reply.
I will give it a go right now. I will try to issue the PR by the end of the week.

[2021-03-10 09:56] agramfort commented on #9011
it should be the case too for bads I agree.

[2021-03-10 10:19] hoechenberger opened #9021 "RFC: Re-applying baseline correction after ICA"
Skimming over some Study Template analysis results with @agramfort, we found that some of our data appeared to be not baseline-corrected – some traces clearly didn't have a zero-mean during the baseline period.

So I started digging and figured that we had **indeed** applied baseline correction to our data; yet after cleaning the Epochs via ICA, the baseline signals of some channels had started fl

[2021-03-10 10:42] hoechenberger opened #9022 "viz.plot_compare_evokeds() calculates RMS for all channel types, but claims to be calculating GFP"
This is a similar issue to the one fixed via #8775

Currently, `viz.plot_compare_evokeds()`'s `combine='gfp'` argument makes it compute RMS, not GFP.

However, it should calculate GFP for EEG and RMS for MEG data. The `combine='gfp'` option should remain unchanged and simply pick the correct calculation depending on the channel type(s). This means that in case of M/EEG data, we'd have to apply dif

[2021-03-10 12:19] larsoner commented on #9021
I think this is because of `pca_mean_`. Basically whatever mean value you have for each channel gets subtracted, then ICA unmixing/selection/mixing, then `pca_mean_` gets added back to the data. If you set `ica.pca_mean_[:] = 0`, does this problem go away?

I'm not actually 100% sure what the correct approach is here, but I don't like the fact that applying ICA imposes a DC shift in the data durin

[2021-03-10 12:45] larsoner commented on #9021
I wonder if we should have a `center=True` (default) argument that says whether or not to use the empirical estimate of the mean for each channel to center the data. And I'm not 100% sure it makes sense to keep the default at `True`, we might want to (by deprecation) change it to `False`. If data that has been high-pass filtered (raw, or epochs based on high-passed raw data without baseline correc

[2021-03-10 12:52] hoechenberger commented on #9021
If that's the case, we could simply decide to only center `if inst.baseline is not None`, I suppose? Would work right away with Epochs, and would require implementation of the `baseline` attribute for Evoked

[2021-03-10 12:53] hoechenberger commented on #9021
... plus a check whether the data has been high-passed, of course …

[2021-03-10 13:02] larsoner commented on #9021
That seems reasonable to me, and we could still pair it with a `center='auto' | True | False` where `'auto'` centers if it makes sense to do so (data not high-passed, not baseline corrected), where `center` defaults to `True` in 0.23 and goes to `'auto'` in 0.24 via deprecation. But let's wait to hear if @agramfort sees this as conceptually correct.

In the meantime you can work on the evoked base

[2021-03-10 16:34] larsoner commented on #9021
SSP is a linear spatial operator, so if all channels have zero mean (during some interval) all channels will have zero mean after the operation (in that same interval). This is because the mean (over that interval) is also a linear operator.

To demonstrate how ICA violates this, let's say we have two channels of data for one 3-sample epoch that that each already have zero mean over time, for exam

[2021-03-10 17:43] cbrnr commented on #9021
I fail to see why ICA should estimate means that are not equal to the sample means, in which case your example doesn't work.

[2021-03-10 18:19] larsoner commented on #9021
Indeed the example is contrived but there are cases where it can happen. Simple examples like estimating / fitting on some or all segments of raw and applying to epochs, or estimating/applying on different segments of raw data, or estimating/applying on epochs/raw, etc. will all have this problem to varying degrees, depending on the data characteristics. The severity of the problem is going to dep

[2021-03-10 18:28] cbrnr commented on #9021
I agree, but this isn't really an ICA problem, but it happens because we've added an explicit zero-meaning step. I'm not even sure why we're doing this, because PCA could be computed on the covariance matrix, but we're probably using SVD. So I guess what I'm trying to say is that we probably shouldn't make this the default and leave centering to the user (but of course highlight this in the docs).

[2021-03-10 19:59] agramfort commented on #9021
btw I just ask Arnaud Delorme and EEGLAB also does the centering.

Now if it turns out to help we could add an `assume_centered` book param in
_ICA class
to possibly skip centering.

More soon

[2021-03-11 09:53] hoechenberger commented on #9021
I've created the following MWE to check for interactions between

- baselining and not baselining the epochs we remove ICs from
- baselining and not baselining epochs before ICA **decomposition**
- centering and not centering the signal via `ICA.pca_mean_`

[code]

![data_baselined-ica_baselined-centered](https://user-images.githubusercontent.com/2046265/110768732-c7c0d080-8257-11eb-9f96-3a3570e58

[2021-03-11 10:01] hoechenberger commented on #9021
Since the effect is most pronounced for EEG data, here are the EEG plots again:

![data_baselined-ica_baselined-centered](https://user-images.githubusercontent.com/2046265/110770065-2aff3280-8259-11eb-83f7-abd3b92dbc3e.png)
![data_baselined-ica_baselined-not_centered](https://user-images.githubusercontent.com/2046265/110770069-2b97c900-8259-11eb-8281-d6cbacc7f2db.png)
![data_baselined-ica_not_base

[2021-03-11 10:45] hoechenberger opened #9025 "Optimize head placement in viz.plot_evoked() when spatial_colors=True"
This is what I'm seeing in one of our analyses:
<img width="587" alt="Screen Shot 2021-03-11 at 11 42 47" src="https://user-images.githubusercontent.com/2046265/110775305-11f98000-825f-11eb-8b5d-9f370fe17730.png">

Would be great if the head could be automatically placed such that it won't overlap with the traces – maybe even in a separate subplot?

[2021-03-11 10:54] hoechenberger commented on #9021
What we're now doing in the Study Template is we don't apply baseline correction to anything until **after** the data has been cleaned. The results we get that way look sane, as far as I can tell.

[2021-03-11 11:04] cbrnr commented on #9021
ICA cannot handle DC well, so it is recommended to high-pass the data (cutoff e.g. 0.5Hz or 1Hz). This means that baselining could even have detrimental effects, i.e. if all concatenated epochs already have zero mean, baseline-correcting might introduce an offset.

[2021-03-11 12:58] agramfort commented on #9021
we converge to the same thing.

Do not baseline epochs passed to ICA.

Apply baseline only after doing ICA cleaning.

No need to enable not centering the PCA step.

[2021-03-11 13:22] hoechenberger commented on #9021
I will update the docs accordingly.

[2021-03-11 15:47] drammock commented on #9025
I think we rely on matplotlib's algorithm for picking the "best" position, but I think it might only consider corners, not sides.  how does it look without the GFP, does it still fail then, or does it use one of the bottom corners?

I'd like to avoid implementing our own "find the best spot for this" algorithm.  I'm not wild about the separate subplot idea (because in most cases it will lead to a

[2021-03-11 16:35] nurinathirahh commented on #4613
hi @syedumaramin can you share how did you manage to read the .seizure file? i am a beginner in this EEG im having difficulty to read the .seizure using mne. Thank you so much

[2021-03-11 19:52] jackz314 commented on #7149
For those looking to integrate the MNELAB solution with MNE, I believe the relevant code is [here](https://github.com/cbrnr/mnelab/blob/d20722d81728953182682a99f116cecbaaa15945/mnelab/io/writers.py#L19)

[2021-03-12 01:28] cmista opened #9030 "Adding new connectivity indexes"
#### Describe the new feature or enhancement
The simplest way to check the relation between two signals is using correlation or a similar a similar approach. However, there are connectivity indexes that don't need to make the assumption of linearity between the interaction of the signals. These kind of indexes can be developed based on the information theory.

#### Describe your proposed implement

[2021-03-12 08:17] agramfort commented on #9030
is there existing python code for this already?

[2021-03-12 11:26] hoechenberger opened #9031 "sidebar directive in the new doc theme not producing a sidebar"
It appears `.. sidebar::` will not actually create a sidebar anymore – which **does** make sense IMHO with the new layout; however maybe we should replace "sidebars" with "info boxes" now?

Source:
<img width="500" alt="Screen Shot 2021-03-12 at 12 24 06" src="https://user-images.githubusercontent.com/2046265/110934250-0f199080-832e-11eb-9e97-a7a30bd0f4a8.png">

Rendering:
<img width="500" alt="Sc

[2021-03-12 11:58] cmista commented on #9030
Yes, there are for python and for Matlab. Probably the word "new" in the tittle is confusing.

[2021-03-12 12:10] larsoner commented on #9031
Can you look to see what needs to be changed in https://github.com/larsoner/sphinx-bootstrap-divs which we vendor in https://github.com/mne-tools/mne-python/tree/main/doc/sphinxext/sphinx_bootstrap_divs ?

[2021-03-12 12:12] larsoner commented on #9031
... actually we shouldn't even really use that anymore since it's for sphinx-bootstrap-theme, which uses BS3, and pydata-sphinx-theme uses BS4 I think.

I'd propose adding whatever the correct thing is (if it is info boxes) to the upstream pydata-sphinx-theme to see if they'd want it. If they do then let's implement it there, if they don't then we can vendor in our own `doc/sphinxext/*` somewhere.

[2021-03-12 15:30] agramfort commented on #9030
can you provide links to it?

[2021-03-12 15:32] drammock commented on #9030
@cmista next steps are:

1. if there is existing python / matlab code, give links to it and make sure its license is one that allows us to adapt / incorporate it (MNE-Python is BSD license)
2. propose what the API for this would look like (what would be the function/method name, what would its arguments be, what would the return value look like)

[2021-03-13 14:29] cmista commented on #9030
Thank you for clarifying the steps.

Point 1
I propose to start with the Mi, and surely trying the sklearn implementation (https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.mutual_info_regression.html) using channels for features.

I been looking for TE through the toolboxes, pondering license, support, and features. Best candidate is Python IDTxl (https://github.com/pwol

[2021-03-13 15:49] drammock commented on #9030
For mutual info, wrapping scikit-learn should be fine, it is already a dependency for some of our functionality.

ITDxl has [a license file](https://github.com/pwollstadt/IDTxl/blob/master/LICENSE) in the root of their repository.  It is GPL licensed, which means we can't adapt or incorporate it without getting permission from the author(s) first.

[2021-03-13 18:30] drammock commented on #8876
This is intentional and is meant to distinguish granting instrument from specific grant number. without it, each of the numbers listed beween `R01-` and `P41-` would need the `R01-` prefix added, and each number after `P41-` would need a `P41-` prefix added. Similarly for the others.  Still want it changed @cbrnr ?

[2021-03-13 19:12] drammock commented on #8876
Agree this is a little redundant. Personally I'd like it if "docs" sidebar link were changed to "tutorials" since the tutorials page is no longer directly accessible from the top navbar.  The redundancy of 2 "get help" links doesn't bother me that much, since I think it's good for folks to find help easily when they're looking for it. But I don't mind removing "get help" from the sidebar if others

[2021-03-13 19:20] drammock commented on #9031
FYI I updated `doc/sphinxext/sphinx_bootstrap_divs` when we switched themes, to be BS4 compliant.  (not certain I did it fully or in the best way, but I at least made it work).

The real problem here was that the sidebars used to be put in a `div` and now they're in an `aside` tag instead, and our CSS selector was too specific.  I've pushed a fix as part of #9036.

[2021-03-13 20:20] hoechenberger commented on #9031
Thanks @drammock!

[2021-03-14 08:26] hoechenberger opened #9038 "Report.include should be a dict, so elements can later be removed if need be"
As suggested by @jasmainak:

Currently, `Report.include` is simply a string, and for each new `<head>` element, we append to this string. This, however makes it difficult to reference to existing elements later on, e.g. if one decides to remove them. Therefore, it would be a good idea to turn `Report.include` into a `dict` (Py 3.7+) or `OrderedDict` (Py 3.6+)

[2021-03-14 10:05] cbrnr commented on #8876
Yes, I'd change it because although you give a good reason for the different fonts, this is probably hard to figure out for people.

[2021-03-14 10:10] cbrnr commented on #8876
Yes, that's exactly the reason.

Perfect! I like it!

[2021-03-14 17:15] #9031 closed

[2021-03-15 11:07] #8911 closed

[2021-03-15 11:19] vagechirkov commented on #8902
I'll take this issue :)

[2021-03-15 11:25] eort commented on #8910
I would take this one.

[2021-03-15 11:27] anaradanovic commented on #8929
Hello! I will pick this one for my issue.

[2021-03-15 11:27] HanBnrd commented on #8942
Hi, I'll take that one :)

[2021-03-15 11:28] sfc-neuro commented on #8901
Hi, can I be assigned to this issue?

[2021-03-15 11:28] marsipu commented on #8903
I will take it

[2021-03-15 11:31] matteoanelli commented on #8906
I and @timonmerk can do this one.

[2021-03-15 11:31] neurogima commented on #8906
Hi, I'm going to work on this

[2021-03-15 11:32] neurogima commented on #8908
Hi, can I be assigned to this one? I'll work on this

[2021-03-15 11:33] eioe commented on #8907
I can take care of this one.

[2021-03-15 11:38] kimcoco commented on #8933
I'll take this one.

[2021-03-15 11:41] FinLouarn commented on #8930
I'm taking this one

[2021-03-15 11:59] drammock commented on #8930
You can add this to the bibtex file.  Try to insert it roughly in the right spot for alphabetical order by first author surname (not strictly required, but makes it easier to scan through)

[code]

[2021-03-15 12:02] timonmerk commented on #8904
@matteanelli and I will work on this

[2021-03-15 12:19] rob-luke opened #9045 "Add steady-state response"
#### Describe the new feature or enhancement

@jundurraga and I would like to add two different statistical tests which are used to determine the presence of steady-state evoked potentials. An F-test ([Dobie 1996](https://pubmed.ncbi.nlm.nih.gov/8865632/)) and a two-sample Hotelling T2 ([Hofmann 2012](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3387309/)).

Recently in #8867 an example of analysi

[2021-03-15 12:20] ramkpari commented on #8928
Hey, I'm working on this issue !

[2021-03-15 12:21] rob-luke commented on #9045
@larsoner @drammock @agramfort @dominikwelke @hoechenberger

[2021-03-15 13:18] #8910 closed

[2021-03-15 13:22] marsipu commented on #8900
I'd like to take this

[2021-03-15 13:31] larsoner commented on #9045
To start how about (can be in one PR):

1. Implement the Hotelling T2 in `mne/stats/parametric.py`
2. Add to the SSVEP example the code to do the stats using ANOVA and Hotelling

This would help us understand if functions like `ssr_ht2_test` end up being necessary. If it's only a couple of lines of NumPy to get the correct entries from the `rfft` output and input them to `mne.stats.hotelling_t2`,

[2021-03-15 13:48] anaradanovic commented on #8905
I would like to take this issue :)

[2021-03-15 13:57] vagechirkov commented on #8510
I'll work on this issue (sprint 2021) :)

[2021-03-15 14:31] jshanna100 commented on #9030
I made an implementation of directed Phase Transfer Entropy (dPTE) last year, and have been wanting to integrate it with MNE Python for a while, but could never find the time. I would be happy to contribute my code as the starting point - it would also be a good opportunity to make sure everything works correctly.

[2021-03-15 14:36] #8903 closed

[2021-03-15 14:38] #8907 closed

[2021-03-15 14:41] neurogima commented on #8909
Hi, I'm going to work on this

[2021-03-15 14:44] Falach commented on #8924
Hi!
I'm gonna do this ticket

[2021-03-15 14:45] ramkpari commented on #8936
Hey, I'm working on this!

[2021-03-15 14:46] eort commented on #8937
I'll have a look on this issue

[2021-03-15 14:49] ezemikulan commented on #7694
Hi, I've been been trying to add the data fetcher but unfortunately g-node does not allow to fetch a subset of the data, do you have any suggestions on how should I do it? I think the two options are: 1) putting a subset of the data of one subject on another repository or 2) add a fetcher for the whole dataset from g-node.

[2021-03-15 14:49] #8902 closed

[2021-03-15 14:50] HanBnrd commented on #9006
I'll work on this one :)

[2021-03-15 14:52] drammock commented on #9006
awesome.  Reminder:

[code]

[2021-03-15 15:12] marsipu commented on #9038
I'd like to work on this

[2021-03-15 15:15] kimcoco commented on #8982
I will take this one, and then move on to other ICA issues w/ Tutorial, Example

[2021-03-15 15:16] larsoner commented on #7694
+1 for adding one subject's data to MNE's OSF.io repo (maybe whichever is the cleanest / highest SNR?), and linking to the complete dataset in the fetcher + tutorial docs

[2021-03-15 15:23] #8901 closed

[2021-03-15 15:30] #8908 closed

[2021-03-15 15:30] matteoanelli commented on #8927
I can do this!

[2021-03-15 15:35] adam2392 opened #9060 "Time-domain asymmetric dynamical connectivity - data structure storage and basic OLS algorithms"
#### Describe the new feature or enhancement
This is related to a goal of mine to add generic "connectivity" function to MNE for the code-sprint.

Right now, there are a decent amount of "spectral connectivity" (possibly over time) metrics derived from raw EEG/MEG/iEEG data.There are alternative characterizations, such as dynamical system perspective, which models the data as:

[code]

where A is

[2021-03-15 15:43] #8933 closed

[2021-03-15 15:48] #9006 closed

[2021-03-15 15:53] #8942 closed

[2021-03-15 15:54] nordme commented on #8918
I'll work on this one!

[2021-03-15 15:54] adam2392 commented on #8932
I'll work on this one.

[2021-03-15 15:55] apoorva6262 commented on #8914
I'll take this one !

[2021-03-15 15:56] alexrockhill commented on #8943
I'll work on this one

[2021-03-15 15:57] cmista commented on #8932
I'll work on this

[2021-03-15 15:57] mdclarke commented on #8935
I'll work on this one

[2021-03-15 15:58] sfc-neuro commented on #8987
I'm fixing this.

[2021-03-15 16:00] vpeterson commented on #8912
I will work on this

[2021-03-15 16:05] catalinamagalvan commented on #8913
I will work on this!

[2021-03-15 16:10] adam2392 commented on #9060
@alexrockhill

[2021-03-15 16:14] HanBnrd commented on #8473
Hi, would it work with fNIRS as well? The fNIRS channels when the types are `hbo` and `hbr` are in M (mol/L) but it may be interesting to have the data in mM or uM.

[2021-03-15 16:15] cmista commented on #8914
I'll work on this

[2021-03-15 16:17] anaradanovic commented on #8974
I can work on this one! :)

[2021-03-15 16:19] sappelhoff commented on #8473
Hey @HanBnrd - that'd probably be possible. Currently, nothing has been implemented: We only have a good idea of what we want :-)

The start was made here: https://github.com/mne-tools/mne-python/pull/8476

If you want to take this on, I'd be happy to help along the way

[2021-03-15 16:22] matteoanelli commented on #8887
I can do it!

[2021-03-15 16:29] hoechenberger commented on #8974
@anaradanovic This sounds great!

[2021-03-15 16:30] Falach commented on #8130
I'll take this one

[2021-03-15 16:33] anaradanovic commented on #8974
Would you like me to include examples in the description?

[2021-03-15 16:39] hoechenberger commented on #8974
@anaradanovic Yes why not!

[2021-03-15 16:43] eioe commented on #8945
I'll take this one. :)

[2021-03-15 16:47] alexrockhill commented on #9060
Is there a replication we can do from one of these paper with real data available to make sure it works properly?

[2021-03-15 17:01] ChristinaZhao commented on #8915
Christina Zhao is on it

[2021-03-15 17:05] adam2392 commented on #9060
Yep, I have these in the form of numpy arrays, with specific sliding windows and reference schemes.

[2021-03-15 17:06] alexrockhill commented on #9060
Great, I think this would be a good first thing to get going on when you get back if you want help

[2021-03-15 17:07] hoechenberger commented on #8906
Closed via #9050

[2021-03-15 17:07] #8906 closed

[2021-03-15 17:08] HanBnrd commented on #8473
Okay, will take it then :)

[2021-03-15 17:09] apoorva6262 commented on #8934
I'll work on this

[2021-03-15 17:14] alexrockhill commented on #9060
Maybe it would be easier to start with the `A` matrix being returned and plan to iterate on having it be an internal variable once there are more functions that depend on it. That would save a lot of coding on the front end by just adding a function to raw and then making an example using it...

[2021-03-15 17:17] adam2392 commented on #9060
Some additional niceties that can come about:

This can be useful for:
1. repairing short time Epochs: fit A matrix before this Epoch, fit backwards operator after this Epoch, and estimate the noisy epoch for all channels
2. repairing channel Epoch: same procedure as above, but only done for a select channel

[2021-03-15 17:19] alexrockhill commented on #9060
Maybe it would be good to start with repairing an epoch as an example and work backwards to all the functions needed to do that

[2021-03-15 17:21] adam2392 commented on #9060
Is the proposal then to:
1. add a mixin function to do this on `Raw`
2. unit test this using `pt01` in https://openneuro.org/datasets/ds003029
3. make an example with the repairing epochs?

[2021-03-15 17:22] alexrockhill commented on #9060
Yeah maybe we can pop in to talk to @larsoner to make sure this isn't redundant with anything or not helpful to add

[2021-03-15 17:27] adam2392 commented on #9060
To bring this under a statistical framework and treat "repairing" of Epochs as a regression problem for out-of-sample using the "not-noisy" epochs as our training data, we can also see if it is possible to add some basic "model-selection" procedure using AIC/BIC.

That is for repairing noisy data:

1. fit A matrix using a specific window size and other hyperparameters
2. compute AIC/BIC
3. repeat

[2021-03-15 17:36] NeuroLaunch commented on #8914
@cmista and I are backing off of this, as @apoorva6262 claimed it first.  Good luck!

[2021-03-15 17:37] NeuroLaunch commented on #8925
@cmista and I will work on this one.  Thanks!

[2021-03-15 17:46] adam2392 commented on #9060
https://www.dropbox.com/sh/bsufh5npukzqe59/AAC4G3RilD-sSA3jH1SL_qhpa?dl=0

[2021-03-15 17:58] larsoner commented on #9060
Rough summary of off-GH discussion:

1. PR to add ECoG seizure data, take care of dataset integration, "paradigm" narrative, show anything useful about the dataset: follow https://github.com/mne-tools/mne-python/pull/8867 for files to change
2. Implement new method, probably in mne/connectivity/spectral.py, probably as ndarray input, raw, or epochs data, and ndarray output of state-space A (estima

[2021-03-15 18:02] hoechenberger commented on #8982
Perfect!

[2021-03-15 18:26] vpeterson commented on #8346
I can take this

[2021-03-15 18:29] catalinamagalvan commented on #9008
I'm on this!

[2021-03-15 18:35] nordme commented on #8916
I'll work on this

[2021-03-15 18:47] alexrockhill opened #9078 "[ENH] Add OpenNeuro Dataset Compatibility to Examples/Tutorials"
As of now, mne sample data is hosted in OSF through owner privileges. My understanding is that the CIs have to pull and download the sample data every time (if that's wrong then this would probably slow things down) so it might make sense to have a clean API to make OpenNeuro data accessible maybe with nice keywords like `JH_ECoG`.

cc @larsoner, @adam2392

[2021-03-15 18:50] adam2392 commented on #9078
Agreed if possible. Then this entire PR: https://github.com/mne-tools/mne-python/pull/9076

would be unnecessary for adding the dataset step at least.

[2021-03-15 19:03] drammock opened #9082 "DOC: split up "sample datasets" tutorial category"
The tutorials in `tutorials/sample-datasets` should be moved into other tutorial categories that better reflect what those sample data tutorials are actually doing / showing.  E.g., polysomnography should go in a "clinical" category.  Others might sensibly go under "preprocessing" or "time-frequency".

The docs page that summarizes / describes all our sample datasets can have links to tutorials in

[2021-03-15 19:04] larsoner commented on #9078
They actually get cached by CircleCI and it's only a couple of minutes (out of a 2h build) to deal with the caching

Indeed it might make sense at some point. We'd want to make sure there is some way to get *subsets* of the data, too, though, since we often can't/won't handle an entire given dataset.

The rate at which we add datasets (and handful per year) and the overhead that this would save (<

[2021-03-15 19:11] alexrockhill commented on #9078
Okay maybe we should finish the PR that uses it first and then see if it should be a priority for this week

[2021-03-15 19:20] adam2392 commented on #9078
I remember @hoechenberger having a python api interface for openneuro now that we're discussing it.

[2021-03-15 19:21] hoechenberger commented on #9078
https://github.com/hoechenberger/openneuro-py

[2021-03-15 19:26] alexrockhill commented on #9078
Nice! So could this be a dependency for tutorials and have the data cached and work fast also or is that not something worth pursuing?

[2021-03-15 19:54] #8935 closed

[2021-03-15 19:56] #8937 closed

[2021-03-15 19:57] #8915 closed

[2021-03-15 20:08] #8945 closed

[2021-03-15 20:10] #8924 closed

[2021-03-15 20:10] vagechirkov commented on #3525
I would like to try to solve this issue (sprint 2021) :)

[2021-03-15 20:14] #8900 closed

[2021-03-15 20:46] #8943 closed

[2021-03-15 20:51] #8932 closed

[2021-03-15 21:03] agramfort commented on #9030
can you point to your implementation? just to see how long and complex
the code is? just curious :)

[2021-03-15 21:04] #8941 closed

[2021-03-15 21:04] FinLouarn opened #9086 "Restructure Machine Learning Examples"
There is many examples of decoding with machine learning approaches but does it make sense to have all these separate examples, which are showing more or less the same things?
It might make sense to group some of them together, and make a more structured set of examples, illustrating fondamental concepts, in stead of a list of examples with some of them showing similar concepts.

[2021-03-15 21:09] agramfort commented on #9060
do you know about this https://scot-dev.github.io/scot-doc/index.html?

I am wondering if we should not move / consolidate the connectivity stuff
in a dedicated package outside
of mne-python. Personally I would recommend to use the
enveloppe correlation but the rest not sure.
Maybe we just need a convincing tutorial on a relevant dataset?

[2021-03-15 21:11] cmista commented on #8938
I and @NeuroLaunch  will take over this.

[2021-03-15 21:12] agramfort commented on #9086
can you describe the order in which you would introduce the concepts
and how you would organize things?

[2021-03-15 21:18] #8936 closed

[2021-03-15 21:19] alexrockhill commented on #9060
I think it's Adam's project so he probably thinks we should all use it for all our connectivity needs ;)

Looks really good but I do wonder if there aren't many ecog-specific connectivity methods that aren't better in a more generalized package although it does look as if `scot` is electrophysiology-specific.

We were talking about the other reasons for having good ieeg sample data so worth a try

[2021-03-15 21:29] adam2392 commented on #9060
Related to just this PR, we simply want to expose tutorial of how to compute such things and how they might be useful in EEG/MEG/iEEG type analyses. As noted above, it has the added bonus of enabling dynamical system representations for "repairing" bad channel/epochs.

Downstream this would be useful imo, since it would lower cognitive load. I could see there being use for having a separate packag

[2021-03-15 21:31] ChristinaZhao commented on #8882
I can try to update this. :)

[2021-03-15 21:40] #8913 closed

[2021-03-15 21:40] #8912 closed

[2021-03-15 21:57] jshanna100 commented on #9030
Yes, gladly. It's currently buried here in an otherwise very disorganised repo:
[https://github.com/TinnErlangen/ATT/blob/master/cnx/dPTE.py](url)

The main function, epo_dPTE, takes an epoch array of data [n,c,t], where n is number of epochs, c is channels, and t is time, and produces [n,c,c] directed connectivity matrices for the desired frequency range. It already has parallel support, and also

[2021-03-15 22:17] #8926 closed

[2021-03-15 22:37] drammock commented on #9045
I'd guess that #7671 won't happen for several months at least.  I'd be OK with adding this functionality now and refactoring later once the spectum class exists.

[2021-03-15 22:39] #9001 closed

[2021-03-15 23:10] jundurraga commented on #9045
@rob-luke that sounds fine rob, perhaps worth adding phase-locking value (PLV) too.
@larsoner, @drammock
![fsaverage_dSPM_B1_data_fsaverage_2_48_dSPM_auto_events_False_45_plv_rh](https://user-images.githubusercontent.com/1612085/111232534-65911280-863f-11eb-9a0a-b8c4ef151442.png)
 I have implemented these functionalities using a discrete FFT algorithm (Goertzel). Doing so speed up the computations

[2021-03-15 23:55] #8938 closed

[2021-03-16 02:51] rob-luke commented on #9045
Hi @larsoner, Jaime and I just spoke on the phone and we are unable to understand what you mean by this. Could you please elaborate?

[2021-03-16 05:54] hoechenberger commented on #9038
Perfect!

[2021-03-16 07:36] #8925 closed

[2021-03-16 07:54] HanBnrd commented on #8473
I now had a look at it more in details, are you sure this is worth implement this? I feel that this would be quite a consequent code addition for little reward. For example it would enable to write `epochs.get_data(unit=dict(eeg='uV'))` instead of `epochs.get_data() * 1e6` which is even longer. While the code change needs to take into account different units or different structures (raw, epochs...

[2021-03-16 08:28] #8987 closed

[2021-03-16 08:30] eort commented on #9004
I would like to take care of this one

[2021-03-16 08:37] sappelhoff commented on #8473
The benefits are (at least) twofold:

1. when somebody (a **non-user**) reads your code, something like `epochs.get_data() * 1e6` is much more confusing than `epochs.get_data(unit=dict(eeg='uV'))` --> where does the magic number `1e6` come from? They'd need to learn that in MNE all EEG data is represented in Volts, and that 1e6 scales to microVolts
1. as a fresh MNE **user**, I was confused about

[2021-03-16 08:47] agramfort commented on #9060
let's try to chat it will be easier

[2021-03-16 08:56] eioe commented on #7975
@drammock & @dengemann
as discussed earlier, I would like to use the sprint to finally close this issue.
Can you add it to the Sprint Program please and assign me?
Btw the same was suggested earlier in #6619.

[2021-03-16 08:56] #8927 closed

[2021-03-16 09:00] sfc-neuro commented on #8773
I am working on this

[2021-03-16 09:11] agramfort commented on #7975
go for it

[2021-03-16 09:12] eort commented on #9004
File name (plot_evoked) and title (Remap mag channels) of this example are different. Not sure how important it is to you that they match?
In my opinion, the title seems to be more appropriate than the file name, but changing file names is probably more troublesome than changing a title.

[2021-03-16 09:15] HanBnrd opened #9093 "ENH: Add montage for Artinis OctaMon and Brite23"
#### Describe the new feature or enhancement
We would like to add a default montage for the Artinis OctaMon fNIRS device. This would enable to have spacial locations useful for some pre-processing functions (such as the modified Beer Lamber law) and having visualization on a brain map.

![octamon](https://user-images.githubusercontent.com/32393169/111283357-f0214400-8636-11eb-9c85-ace5acbdb2c6.jpg

[2021-03-16 09:15] agramfort commented on #9030
ok it's based on multivariate binning.

[2021-03-16 09:16] HanBnrd commented on #9093
We discussed it with @rob-luke and I would be happy to work on a PR for this if you are okay with it.

[2021-03-16 09:19] dengemann commented on #7975
done @eioe

[2021-03-16 09:22] agramfort commented on #9093
no objection

is there such a standard montage file available somewhere?

our montage files are shared between packages.

[2021-03-16 09:38] ramkpari commented on #8957
Hey, I'm working on this!

[2021-03-16 10:05] FriederikeScholten opened #9094 "CSP error: LinAlgError : The leading minor of order 64 of B is not positive definite."
#### Describe the bug

This issue has been discussed on the Forum [here](https://mne.discourse.group/t/csp-error-linalgerror-the-leading-minor-of-order-64-of-b-is-not-positive-definite/2755/2) with the suggestion to open a bug report.

I face the following error when running the CSP function using the EEG BCI dataset:

LinAlgError : The leading minor of order 64 of B is not positive definite. The

[2021-03-16 10:10] HanBnrd commented on #8473
Okay makes sense, I just wanted to be sure before starting working on it :)

[2021-03-16 10:32] vagechirkov commented on #5111
I'll take this one (sprint 2021) :)

[2021-03-16 10:54] HanBnrd commented on #9093
I don't think there is a standard montage file with 3D coordinates, will try to see if I can adapt the montage template the Artinis software has.

[2021-03-16 11:02] agramfort commented on #9093
sounds good

[2021-03-16 11:03] ramkpari commented on #8990
Working on this!

[2021-03-16 11:18] rob-luke commented on #9003
@neurogima

[2021-03-16 11:19] neurogima commented on #9003
yep I take this one

[2021-03-16 11:34] #8957 closed

[2021-03-16 11:36] #8909 closed

[2021-03-16 11:39] larsoner commented on #9045
I'm just suggesting that we implement the parametric tests `f_test` and `hotelling_t2_test` in `mne/stats/parametric.py` and show how to use them directly in some example, presumably the [SSVEP one](https://mne.tools/dev/auto_tutorials/time-freq/plot_ssvep.html). We can show `ttest_rel` vs `f_test` vs `hotelling_t2_test` for example.

Then if it's clear that we can make a useful API for people fro

[2021-03-16 11:40] codewithvicky commented on #7093
Can i work on this issue please

[2021-03-16 11:40] #8510 closed

[2021-03-16 11:43] rob-luke commented on #9045
Ah I get you now, that makes sense.

[2021-03-16 12:24] catalinamagalvan commented on #9005
I'm on this!

[2021-03-16 12:35] #9004 closed

[2021-03-16 13:03] anaradanovic commented on #8917
this was done in my pull request #9058  addressing issue #8905

[2021-03-16 13:28] marsipu opened #9101 "BUG: parse_folder() with n_jobs>1 for mne.Report causes attribute-error"
#### Describe the bug
When changing the n_jobs-parameter for the parse_folder-method of mne.Report to a value greater than 1, an error is thrown.

#### Steps to reproduce
[code]

#### Expected results
No error.

#### Actual results
[code]

#### Additional information
The error seems to be coming from line 362 in report.py. The report-object doesn't have the _projs_-attribute as if somehow lost att

[2021-03-16 13:42] ramkpari commented on #8993
Working on this!

[2021-03-16 13:45] #8917 closed

[2021-03-16 14:03] catalinamagalvan commented on #8920
I'm working on this issue

[2021-03-16 14:11] anaradanovic commented on #8919
I'll take this one!:)

[2021-03-16 14:20] anaradanovic commented on #8921
I'll work on this one!:)

[2021-03-16 14:38] Falach commented on #8979
I'll take this one :)

[2021-03-16 14:49] anaradanovic commented on #8922
I'll work on this one!:)

[2021-03-16 14:55] hoechenberger commented on #9101
I can reproduce this locally, but so far I'm not sure where this is coming from … :(

[2021-03-16 14:57] agramfort commented on #8130
do we know what other software are doing?

@ftadel @robertoostenveld are brainstorm or fieldtrip removing handness and gender when anonymizing?

[2021-03-16 15:14] marsipu commented on #9101
Guillaume and I found a workaround by adding `prefer='threads'` to parallel_func in l. 1619 of report.py.
But this still doesn't explain the disappearing attribute (and threading shouldn't give much of a perfomance boost)

[2021-03-16 15:17] drammock commented on #6619
closing as duplicate of #7975

[2021-03-16 15:17] #6619 closed

[2021-03-16 15:22] anaradanovic commented on #8923
I will work on this one!:)

[2021-03-16 15:32] apoorva6262 opened #9107 "Migrating from other analysis software- EEGLAB- Adding more info"
Wanted to add more info to this document about preprocessing tools such as running types of ICA,removing ICA components , filtering data, channel locations, average referencing, high pass filter to remove drifts.

https://mne.tools/stable/overview/migrating.html?highlight=eeglab

[2021-03-16 15:40] eort commented on #8013
I could try some digging.

[2021-03-16 15:48] larsoner commented on #9107
That would be great!

[2021-03-16 16:05] sappelhoff commented on #8013
That would be wonderful @eort

[2021-03-16 16:26] robertoostenveld commented on #8130
FieldTrip itself does not anonymize and does not have a single tool for converting data to BIDS. Instead the user would write a script around the data2bids function (looping over subjects and sessions). So a user may do it, depending on how he feeds these two into the cfg.participants.handedness and cfg.participants.sex options.

However, I personally would not do it as the entropy in these two is

[2021-03-16 16:41] vpeterson commented on #8968
I would like to take this one too

[2021-03-16 17:13] apoorva6262 opened #9108 "Make an interactive ERP subplot for an ICA component"
#### Describe the new feature or enhancement
Currently, when displaying the individual ICA component, the ERP subplot is not interactive. We want to make this subplot interactive .

#### Describe your proposed implementation
Implement a rectangle selector to zoom in and out for this plot.

[2021-03-16 17:13] apoorva6262 commented on #9108
@mdclarke

[2021-03-16 17:49] bloyl opened #9110 "make property plot launched from ica.plot_sources(raw,) an option."
If you use `ica.plot_sources` with a `raw` instance and then right click on the ch_name you get an `mne.viz.plot_ica_properties` plot where fixed length epochs have been generate from the raw. This takes a long time and isn't tremendously meaningful for raw data.

In my use case I'm only checking for artifacts (EOG/ECG/ etc) so what I want to see is the just the topoplot (note this is the old beha

[2021-03-16 17:50] HanBnrd commented on #8473
I was wondering why the EOG channels are not considered as data channels in [`get_channel_types()`](https://mne.tools/dev/generated/mne.io.BaseRaw.html#mne.io.BaseRaw.get_channel_types) and whether this `units` parameter should work on them?

[2021-03-16 17:52] NeuroLaunch commented on #6378
I'm planning to initiate a new Issue for fixing/enhancing raw simulations during the 2021 MNE Sprint.  I can incorporate @larsoner's suggestion to give a `warn` if channel setups between original raw, events, etc, are incongruous.  Please let me know if there is anything else from this issue, or related, that I should include.  (I'll follow-up with the new Issue # when I can.)

[2021-03-16 17:54] larsoner commented on #8473
In some sense *all* channels are data channels. I think the idea is that the "data channels" in MNE correspond mostly to the channels that record brain data.

I wouldn't restrict it just to data channels. Any channels with units (which is most of them I think?) should be able to be modified by the `unit` parameter.

[2021-03-16 18:03] larsoner commented on #9108
Sounds like this has been discussed with @drammock already, looking forward to a PR!

[2021-03-16 18:06] #8921 closed

[2021-03-16 18:10] #8990 closed

[2021-03-16 18:18] larsoner opened #9111 "Add montage.add_estimated_fiducials"
New method of `montage` that, if the montage is in `MRI` / FreeSurfer surface RAS coordinates, will estimate the fiducials (using mne.coreg.get_mni_fiducials) and add them to the montage. For example this docstring:
[code]
It should help iEEG folks get their montages to be MNE/FIF compatible without requiring a bunch of changes in MNE. For example they would have:
[code]
Then when they `set_montag

[2021-03-16 18:22] #9005 closed

[2021-03-16 18:32] drammock opened #9112 "ENH: IDE configuration docs"
for future code sprints / general friendliness to new contributors, it might be nice to have a website page that steps through the various IDE settings that are helpful when contributing to MNE-Python.  Examples:

- how to add automatic style checking to the IDE
- how to add a ruler at 79 characters to the editor

It might also include other "tips and tricks" like how to properly link a PR to an i

[2021-03-16 18:39] codewithvicky commented on #7093
sir can you help me in this because i am first time start contribution in open source code
please sir it is kind request

[2021-03-16 18:41] codewithvicky commented on #7093
Or sir can you explain in more detail sir about this

[2021-03-16 18:47] drammock commented on #9110
@bloyl do you mean to automatically triage which plot we generate based on the instance type? Or do you mean let the user pick when they instantiate the plot?

[2021-03-16 19:08] bloyl commented on #9110
I don't have a preference.

I think for raw instances id like to be able to get the just topoplot
behavior. I can't think of when I would use the plot_ica_propeties with a
raw instance. For epochs the plot_ica_properties is probably what I want.

If noone wants the plot_ica_properties behavior for raw. I'd be fine with
the triage of
Raw-> plot_topo
Epochs-> plot_ica_properties

If we want both beh

[2021-03-16 19:42] adam2392 commented on #9111
I can do this really quickly.

Does this function just call: `mne.coreg.get_mni_fiducials`?

Is there a unit-test in mind we can apply here?

[2021-03-16 19:53] larsoner commented on #9111
Excellent!

Yes, and adds it to the montage in the right way (whatever that is).

You can test it on fsaverage, it should match (to numerical precision) the built-in fsaverage trans .fif file we have. You can test it on sample, and it should match to some correlation limit (0.98+ I'm guesssing) the manually-created trans for `sample`.

[2021-03-16 19:54] eort commented on #8013
oh boy, this is really quite a challenge to unpack :)

 a couple of design question:

##### The `auto` value for `title`, number of picks, and `combine` are co-dependent

 `title='auto'` is supposed to concatenate channels names for up to 6 picks. This would only make sense when there are multiple picks *and* those picks are combined into a single figure (with the `combine` keyword). Otherwise, I

[2021-03-16 19:57] drammock commented on #9112
some examples:

#### spyder

- preferences > completion and linting > linting > enable basic linting
- preferences > completion and linting > introspection > advanced > add "mne" to list of modules to preload for code completion
- preferences > editor > show vertical lines at == 79
- preferences > editor > advanced settings > docstring type == Numpy

[2021-03-16 20:11] nordme commented on #8968
I will work on this tutorial.

[2021-03-16 20:27] drammock commented on #9110
OK, let's go with

[2021-03-16 20:30] sappelhoff commented on #9112
:+1:  and removing trailing whitespace

potentially even handling the GitHub inline reviews, committing these suggestions from the web UI (single commits, or batches)

[2021-03-16 20:44] sappelhoff commented on #9078
This also came up some years ago in https://github.com/mne-tools/mne-python/issues/6687

I think that one can probably be closed?

[2021-03-16 20:51] bloyl commented on #9110
Sounds good.

On Tue, Mar 16, 2021, 4:28 PM Daniel McCloy ***@***.***>
wrote:

[2021-03-16 21:05] vpeterson opened #9116 "Add SSD to the Decoding (MVPA) tutorials"
#### Proposed documentation enhancement
Add an example of how SSD can be used within a machine-learning pipeline. At the moment we have an [example](https://mne.tools/stable/auto_examples/decoding/plot_ssd_spatial_filters.html#sphx-glr-auto-examples-decoding-plot-ssd-spatial-filters-py) on how SSD enhances oscillatory brain activity, but not how it can be integrated within a decoding pipeline. The

[2021-03-16 21:05] #8918 closed

[2021-03-16 21:10] drammock commented on #6687
closing (already implemented: https://github.com/mne-tools/mne-python/issues/9078#issuecomment-799688566)

[2021-03-16 21:10] #6687 closed

[2021-03-16 21:26] hoechenberger commented on #9078
@alexrockhill @adam2392 Ping me tomorrow so we can discuss whether `openneuro-py` supports everything you'll need or if we need to add a few enhancements :)

[2021-03-16 21:37] #8882 closed

[2021-03-16 21:45] sappelhoff commented on #8013
Agreed, I like the `RMS/AVG of X electrodes` better. The combination you propose is also fine IMHO.

explaining it in the docstring might be the easiest choice here. If it's properly documented there, adjusting the title silently (or with a runtime warning) can be done if the parameters pushed by the user don't make sense for `title` ...

I think allowing for both would be nice, returning a list o

[2021-03-16 23:19] drammock commented on #7093
@codewithvicky fixing this issue will require some familiarity with neuroscience (electrode montages, etc).  I see from your profile that maybe you are just starting out learning python?  Perhaps our "EASY" label was misleading; the code changes are not too involved but the background knowledge required may be considerable.

[2021-03-16 23:30] drammock commented on #9116
sounds like a good plan.  If you make that change, will we still need the example anymore?  Or will the information be different enough that it makes sense to have 2 separate files?

[2021-03-16 23:48] rob-luke commented on #9093
@HanBnrd has received the locations in MNI ICBM 152 space. The file format provided by the vendor looks custom. Rather than writing another custom file format reader, I suggest we manually convert these to one of the existing formats perhaps sfp. Would this be acceptable @agramfort @drammock @larsoner

[2021-03-17 05:46] NeuroLaunch opened #9120 "ENH, DOC: First_samp support for SourceSimulator class"
#### Describe the new feature or enhancement
Currently, simulating raw data with a `SourceSimulator `object (in _simulation/raw.py : simulate_raw()_) causes extra time points at the beginning if the source events are offset in time, even when a `first_samp` argument is included to nominally account for that offset.  This could happen, for example, if an experimental raw object and associated event

[2021-03-17 08:12] rob-luke commented on #9093
We will need to edit: https://github.com/mne-tools/mne-python/blob/c638f74ac727aeaca3b9616e56115b990a84c7ba/mne/channels/_standard_montage_utils.py#L108

https://github.com/mne-tools/mne-python/blob/c638f74ac727aeaca3b9616e56115b990a84c7ba/mne/channels/montage.py#L1226-L1306

[2021-03-17 09:03] codewithvicky commented on #7093
ok sir

[2021-03-17 09:44] ftadel commented on #8130
In Brainstorm, we don't store (yet) any subject-related meta-data beyond ID and acquisition date. So the .tsv files generated when exporting a Brainstorm database as a BIDS dataset do not include these fields.

However, the info could remain the in headers of the recordings. Some files can be copied as is to the BIDS export, and propagate sex/handedness info. The anonymization of the file headers

[2021-03-17 09:54] agramfort commented on #8130
thanks a lot for the quick feedback !

[2021-03-17 10:04] matteoanelli commented on #8746
I can work on this!

[2021-03-17 11:07] ramkpari commented on #8714
Working on this!

[2021-03-17 11:15] larsoner commented on #9093
Yes that sounds reasonable. If the format is not complicated (e.g., some text file that can be easily parsed by eye) I would just add a quick reader for it rather than convert.

[2021-03-17 11:35] larsoner commented on #9120
+1

Sure, I'd consider this a bug fix for people.

[2021-03-17 13:07] #9101 closed

[2021-03-17 13:22] agramfort commented on #9120
sounds good !

[2021-03-17 13:34] #8887 closed

[2021-03-17 13:40] agramfort commented on #9093
ok for me

On Wed, Mar 17, 2021 at 12:16 PM Eric Larson ***@***.***>
wrote:

[2021-03-17 14:13] drammock commented on #9110
assigned to @vagechirkov and @anaradanovic

[2021-03-17 15:03] cbrnr opened #9125 "AverageTFR.plot() only plots one channel"
Although [`AverageTFR.plot()`](https://mne.tools/stable/generated/mne.time_frequency.AverageTFR.html?highlight=averagetfr#mne.time_frequency.AverageTFR.plot) has a `picks` argument, only the first channel is plotted. I don't think this is by design - or is it? If so, then at least the docstring is confusing, because it explicitly mentions that `None` selects all good channels and `"all"` selects a

[2021-03-17 15:27] HanBnrd commented on #9093
We were planning to use the elc structure as the original files are quite similar, even though we have optodes and not electrodes:
- [original txt file sent by Artinis](https://github.com/mne-tools/mne-python/compare/main...HanBnrd:artinis-montages#diff-fa76b4fa1b84fdedc992433dec624eeb2ab5566d9b98f9463f704504ef4b9073)
- [the same montage converted into elc](https://github.com/mne-tools/mne-python/

[2021-03-17 15:30] agramfort commented on #9093
so far so good

[2021-03-17 15:51] vpeterson commented on #9116
Well, I might check that, since not sure if the data we used for that example will be suitable to show the effect of SSD before decoding.

[2021-03-17 15:57] drammock opened #9131 "new contributor process in changelog is unnecessarily complicated"
It is really easy for folks to miss this requirement and easy for devs to forget to mention it when reviewing PRs or asking for changelog entries.  After talking with @larsoner I'm wondering if we can create a sphinx role `:newcontrib:` or similar, that eliminates the need for an extra replacement line at the top of the file.

[2021-03-17 16:49] kimcoco commented on #9110
I was actually super happy to have the plot_properties come up when right clicking on raw ica sources with the latest version. We need this in our lab, where we reject noise components with the ica on reference channels method. The properties plot is here the best, and more informative about whether sth is noise than just a topo plot.
I also don't know why it would be wise to have different behavi

[2021-03-17 16:56] mpcoll opened #9133 "Allow direct creation of short annotations in interactive plots"
#### Describe the new feature or enhancement
At the moment, when annotating interactively on a raw.plot(), any annotation created by click and dragging disappears and is not saved on release if it is shorter than ~ 100 ms.
However, once created, annotations can be reduced to a shorter duration.

For some applications (e.g. manually marking peaks, adding events), it could be useful to be able to di

[2021-03-17 17:05] matteoanelli commented on #9022
I can work on this!

[2021-03-17 17:24] kimcoco commented on #9110
I know, but I mean exactly the right-click behavior in the interactive interface. I have to do a lot of property plots for each raw file, looking at several components. It made it so much easier just right-clicking on them, instead of having to call a seperate function and to pass the right component number or a list of them.

[2021-03-17 17:44] hoechenberger commented on #9022
This is actually not a super trivial issue and might require a bit of refactoring the current plotting code. I can give you a brief summary hopefully later today

[2021-03-17 18:36] larsoner commented on #8876
@marsipu we are using this theme:

https://github.com/pydata/pydata-sphinx-theme

I think some or all of those can/should be implemented there, perhaps as options. @drammock probably has a better sense of this as well

[2021-03-17 19:07] tobywise opened #9137 "Support for regression using VolSourceEstimate"
#### Describe the new feature or enhancement
Currently the `linear_regression` function only accepts SourceEstimate, but gives an error if attempting to use VolSourceEstimate. As far as I'm aware there shouldn't be any reason why this can't work for volume source estimates as well.

#### Describe your proposed implementation
Adding `VolSourceEstimate` to the relevant type checking lines in https:/

[2021-03-17 19:08] drammock commented on #8876
@marsipu making the left sidebar sticky (so that the search box doesn't scroll offscreen) is something that has been requested before (maybe by @hoechenberger?) and I agree it would be better that way.  It might already be possible, check the theme docs.  If not, adding that as an option to the theme would be excellent.

Dark mode is on the wish list for that theme as well.  Shrinking the margins

[2021-03-17 19:08] ramkpari commented on #8714
So was working on this issue when I noticed that ylim parameters somehow seem to not apply to all channels in the plot when using `plot_evoked_topo` . Running the following code sample should be able to showcase what I mean.

[code]

I don't know if I've come across an intended feature or if I just stumbled on a different bug while looking at this issue. (@rob-luke  @agramfort @drammock  @larsoner