[2016-04-14 18:05] jjnurminen commented on #3097
Not 100% sure what you mean here, but the averaging setup is very useful regardless of whether you do online averaging. Nowadays offline averaging is more common, but usually the DACQ averaging parameters are used for that too. (Indeed it's much more difficult to do offline averaging with Elekta software, if you haven't set up the DACQ categories before the measurement).

Sure, I can check it out.

[2016-04-14 18:07] jjnurminen commented on #3113
Nice! I'll try it tomorrow. Closing now.

[2016-04-14 18:07] #3113 closed

[2016-04-14 18:08] Eric89GXL commented on #3097
I mean that for many of the paradigms I've recorded, I've never told the acquisition software anything about what my triggers mean (and we actually use serial stamping sometimes), so I'm pretty sure `acq_pars` in most of my files don't have any useful information.

Let's see how close we get. My guess is that we won't get all that close, and we'll need to add a small phantom (or some other custom)

[2016-04-14 18:21] kaichogami commented on #3124
If `.copy()` does everything a `copy=True` param would, I don't see any reasons to include it in `Pipleline`.

[2016-04-14 18:23] kingjr commented on #3124
@kaichogami because in sklearn pipeline we can only pipe `predict`, `fit` and `score` methods.

[2016-04-14 18:37] jona-sassenhagen commented on #3124
In case we decide on keeping it, I suggested in another thread that we could have a copy decorator, wrapping the function in ´´´inst = inst.copy()´´´. That would make this very API light actually.

[2016-04-14 18:38] jona-sassenhagen commented on #3124
Oh and btw, as for this thread, interpolate_bads should still return self, regardless of copy or not.

[2016-04-14 18:42] Eric89GXL commented on #3124
The only case I can think of that you could do before that you couldn't after removing `copy` kwarg would be if you could pass `kwargs=dict(copy=True)` to some function before, and now you can't. But that can be solved with a trivial wrapper function that calls `copy` then whatever method.

From a code-added standpoint, it is a little bit more DRY but otherwise pretty close -- `@copier` is one lin

[2016-04-14 18:44] Eric89GXL commented on #2860
We should really resolve this one for 0.12 so we don't immediately need to deprecate. @wmvanvliet do you have any time you could dedicate to this in the next week or two?

[2016-04-14 18:45] Eric89GXL commented on #3083
@agramfort okay with you to deprecate `raw.index_as_time` then and point people toward `inst.times[idx]`?

[2016-04-14 19:24] jjnurminen commented on #3097
I see. Well that suffices for simple paradigms. By serial stamping I guess you mean the videomeg timing triggers? We always have those running on in our lab, so they have to be masked out.

OK, makes sense.

[2016-04-14 19:26] Eric89GXL commented on #3097
We use a custom stamping scheme, where we serially stamp a sequence of 4's and 8's (as a shifted binary code) to signify the trial type. This has to do with bugs in the stimulus delivery hardware that were encountered back in the day at MGH. Then we convert those triggers to meaningful decimal ones at the stimulus onset trigger (the 1 trigger for each trial) in custom software offline.

[2016-04-14 20:25] agramfort commented on #3128
these files are not ours. We just expose them.

[2016-04-14 20:41] agramfort commented on #3083
yes

[2016-04-14 20:45] agramfort commented on #3124
if we can stick to the copy method without breaking too much code i am
definitely +1. we need to make sure we always return self...

[2016-04-14 22:26] dengemann commented on #3124
yes that is the right deal, let's make sure to always return self, advocate
the use of .copy and we have something very light, future-friendly and
general.

On Thu, Apr 14, 2016 at 9:45 PM Alexandre Gramfort <notifications@github.com>
wrote:

[2016-04-14 22:46] kingjr commented on #3128
Shouldn't we make a lookup table to impose consistency?

[2016-04-15 01:44] cfoodc opened #3130 "Error in reading evoked fiff which is saved from CNT"
Hi all,

I am recently trying to use MNE to deal with some CNT files.
It seems that there is a problem in CNT IO.
I can use evoked.save to save my processed CNT file but I can not use mne.Evoked() to read it.
The problem only happened when I was dealing with CNT file, other fiff files are totally fine.

I found that the possible cause might be due to the incomplete meas_info from CNT-fiff.
Even th

[2016-04-15 04:37] teonbrooks commented on #3130
to read the evoked from disk, you should use `mne.read_evokeds`. Feel free to re-open this issue if that doesn't work for you

[2016-04-15 04:39] teonbrooks commented on #3130
sorry, that's not the case. yeah, if you can share the file, that would be great.

[2016-04-15 06:00] wmvanvliet commented on #2860
I'll see what I can do. Any help is appreciated! :)

[2016-04-15 06:10] agramfort commented on #3130
I just bumped into a similar issue yesterday. To replicate my pb:

[code]

some of our readers don't populate all the necessary fields of chs.

[2016-04-15 06:10] cfoodc commented on #3130
I have uploaded the cnt file to the following link and the .ipynd is also attached
Thanks,

[download here](https://drive.google.com/open?id=0B4zpukADF-gFZ0Y1Njd6U0JyM1E)

I have checked the meas_info of fiff I saved.
It seems that the meas_info is not updated after evoked.save() thus it can't get the correct meas_info when I read the fiff

[2016-04-15 06:15] dengemann commented on #3128
Not sure it's worth the effort, Fieldtrip users for example should already
be very familiar with what we have. But what I think would help indeed at
least would be an option to list layouts from the command line in an
informative, as these names are not necessarily easy to remember.

On Thu, Apr 14, 2016 at 11:46 PM Jean-Rémi KING <notifications@github.com>
wrote:

[2016-04-15 07:13] agramfort commented on #3128
if you write the narrative doc on this I am ok to negotiate :)

[2016-04-15 08:27] jaeilepp commented on #3130
``write_evoked`` seems to be extremely fragile to empty info fields. Fix on the way. In the mean time you can work around the issue by populating the empty fields of info (I think in your case 'last_name', 'first_name', 'description').
Thanks @cfoodc for pointing this out.

[2016-04-15 12:52] Eric89GXL commented on #2860
One thing we could do is more or less revert the changes -- make a single commit that changes it back to deriving from `dict`. Then we can deal with the more complex solution later. WDYT? If so I might be able to do the first "fix".

[2016-04-15 16:58] kingjr commented on #3128
We could also add a page somewhere in the manual to add a table listing the 2D, 3D and neighbours layout of each system we currently expose.

[2016-04-15 17:05] agramfort commented on #3128
thanks for volunteering :)

[2016-04-15 17:08] #3117 closed

[2016-04-15 19:08] jjnurminen commented on #3097
OK, that's pretty exotic :)
I looked at sample_audvis_raw.fif and it does have several different categories. I think it comes from a Vectorview system though, and the DACQ variables are somewhat different from TRIUX. I'll need to adapt the code for that.
I'll be travelling for the next two weeks but I'll try to submit the averager PR afterwards.

[2016-04-15 19:11] Eric89GXL commented on #3097
No rush from our end. But yes we should probably support both VectorView and Triux if possible.

[2016-04-16 20:17] ncullen93 opened #3134 "Importing OpenBCI data"
Any plan to read/stream OpenBCI data? I use that hardware... so I'd be interested in incorporating it. Perhaps something along the lines of the following project: https://github.com/OpenBCI/OpenBCI_Python  or ideally just incorporating that project in MNE.

[2016-04-16 20:43] teonbrooks commented on #3134
hi @ncullen93, we have a pull request, https://github.com/mne-tools/mne-python/pull/2671, that aims to incorporate OpenBCI streaming into MNE. feel free to join the discussion there, and if you would like, you can help contribute to help finish. we can re-stimulate its progress.
there was an older discussion before https://github.com/mne-tools/mne-python/pull/2462 about this. the data file that co

[2016-04-17 16:28] ncullen93 commented on #3134
I appreciate the info and apologize for the repeat - should have looked harder. Will close this.

[2016-04-17 16:28] #3134 closed

[2016-04-17 17:12] teonbrooks commented on #3134
no worries :)

[2016-04-18 14:08] Eric89GXL opened #3135 "Proj example failing on master"
From #3119:
[code]
I'll try to take a look to see what's going on.

[2016-04-18 14:28] jaeilepp commented on #3135
I have a fix ready for it. Just a minute.

[2016-04-18 14:29] Eric89GXL commented on #3135
There needs to be a fix at the `sensitivity_map` level and the example level, I'm working on both. I'll stop if you already have both done...

[2016-04-18 14:33] jaeilepp commented on #3135
Okay I'm not sure what's the problem in the sensitivity map. The example fix is just not removing the grad projector.

[2016-04-18 14:33] jaeilepp commented on #3135
``projs = projs[3:][::2]  # take only one projection per channel type`` ->
``projs = projs[::2]  # take only one projection per channel type``

[2016-04-18 14:34] Eric89GXL commented on #3135
cool I'll put that in

[2016-04-18 14:44] #3083 closed

[2016-04-18 14:45] Eric89GXL commented on #3124
@jona-sassenhagen it looks like `interpolate_bads` already returns self, where does it not for you?

[2016-04-18 15:33] Teekuningas opened #3138 "Picking a small subset of channels when creating epochs objects can zero out MAG channels"
Like this:

[code]

Is this a feature? It has something to do with projections.

[2016-04-18 15:40] dengemann commented on #3138
Are you sure that the data are not at a scale below the tolerance?
Can you plot the data? Are they actually zero?

On Mon, Apr 18, 2016 at 5:33 PM Teekuningas <notifications@github.com>
wrote:

[2016-04-18 15:45] Eric89GXL commented on #3138
It does have to do with projections, see #2310. Try it with `proj=False` or better do `raw.add_proj([], remove_existing=True)` and you should be okay.

On latest master you should actually see a warning about projection being dangerous, do you?

[2016-04-18 16:54] Pablo-Arias commented on #3126
I just did the PR

[2016-04-18 16:54] dengemann commented on #3125
Oh boy @kingjr I think we've had a really unnecessary bug in our code. The scoring just ignores the folds and goes across all trials. This is not equivalent to scoring fold wise and then averaging for most scores and essentially is not cross validation. @fraimondo on top of that reports difficulties in reproducing old findings, I think that must be the issue. This needs a fix.

[2016-04-18 17:10] #3135 closed

[2016-04-18 17:37] kingjr commented on #3125
Yes that s was i was saying , this is the departure from sklearn; it s not
a bug per se, the cross val must be applied at fit and predict stages, not
at scoring. Applying a CV at scoring only allows you to estimate the
folding error.

On Monday, 18 April 2016, Denis A. Engemann <notifications@github.com>
wrote:

[2016-04-18 17:49] Teekuningas commented on #3138
That way I seem to be okay. But what if I wanted that the resulting epochs would be as if I had created the epochs without picks and with projections normally applied, and only afterwards dropped the channels? Is there a better way than this:
[code]
Obviously if I was doing just that, I could do as I said and create without picks and drop channels afterwards, but the reason for using picks was tha

[2016-04-18 17:52] Eric89GXL commented on #3138
Could you let me know if this is true about your original code...

In other words, hopefully you had some warning of danger at least.

Currently what you suggest about overwriting `raw.info['projs']` manually is the best way to accomplish what you want.

[2016-04-18 18:35] dengemann commented on #3125
Well it is a bug as it breaks the contract with CV. We should reall fix
this and make a bug notice

On Mon, 18 Apr 2016 at 19:37, Jean-Rémi KING <notifications@github.com>
wrote:

[2016-04-18 18:59] Teekuningas commented on #3138
The software, that I'm working with, has only 0.11.0 as a dependency at the moment, so I didn't get the warning then, but with the newest master it truly does warn me, once for each projection. : ]

I suppose this can be closed now, right?

[2016-04-18 19:00] Eric89GXL commented on #3138
GitHub auto-links it to the issue I mentioned above, so we should be able to keep it in mind going forward with that issue. So sure

[2016-04-18 19:01] #3138 closed

[2016-04-18 19:54] kingjr commented on #3125
OK. I would add a scoring option to do 'mean-across-folds' (what you
want?), 'per-fold' (what Fede needs, i.e. similar to sklearn), 'no-fold'
(current approach, which is n_fold faster, and still gives meaningful
results).

On 18 April 2016 at 14:35, Denis A. Engemann <notifications@github.com>
wrote:

[2016-04-18 20:02] dengemann commented on #3125
I think we should have as default what one would expect to get for cross
validation: score foldwise and average, the rest can be options and for
other measures than accuracy should throw a non-equivalence warning when
scoring all trials. If it approximately works or not is relatively
unimportant as we are using all conceptual support, it is simply not cross
validation and certainly not acceptable

[2016-04-18 20:18] kingjr commented on #3125
Sure. Note that accuracy won't be equivalent either, since different folds
may have different number of trials.

The cross val here is applied across fit/predict, as it should. sklearn
users expect the cross val to also be applied for score. It's an API
decision which they use because their users often look at the SEM across
folds - which we don't. Again, I'm more than happy to get closer to sklea

[2016-04-18 20:24] dengemann commented on #3125
Yes that's another good point. So we should rather mark the current default
as an expert option with "proceed at your own risk if you know what you are
doing" tag if not abandon it. What do speed-gains mean if the result cannot
be interpreted? I would not call this an API decision, it's the common
sense about the semantics of cross-validation.

On Mon, Apr 18, 2016 at 10:18 PM Jean-Rémi KING <noti

[2016-04-18 20:54] agramfort commented on #3125
@kingjr what you did is what the iid=True option was doing in
cross_val_score
and it was removed as it is not what cross-validation scores are.

people should not be able to report numbers as cross-validation if it is
actually not a CV score. To me it is (close to a) bug.

[2016-04-18 21:44] kingjr commented on #3125
I'm happy to call it a bug and change the defaut api but the results are
interpretable imo.

Which are the cases where one cant interpret scores across all cross
validated predictions in the context of second order stats that these
decoding functions are used ?

On Monday, 18 April 2016, Alexandre Gramfort <notifications@github.com>
wrote:

[2016-04-18 22:13] dengemann commented on #3125
It's just that you cannot call it cross-validated AUC score any longer. It
is at best something unknown and does not comply with the properties that
have been shown for cross validation as an estimator of the out of sample
performance. Of course you get some output that maybe can be somehow used
in second order stats. But then you cannot say any longer that the second
order stats are second order

[2016-04-19 01:38] Eric89GXL opened #3140 "BUG: Bug in surf_ori=True in convert_forward_solution"
I noticed that our `_compare_forwards` code wasn't properly comparing forward solutions for the `surf_ori=True` case, see:

https://github.com/mne-tools/mne-python/pull/3139/files#diff-493b684a12d93fe9b64e19de5ac6c205L51

We need to fix it for 0.12. Not sure when or why it broke, hope to have time to look tomorrow.

[2016-04-19 07:01] agramfort commented on #3125
@kingjr if you want to justify this non standard choice you need to
demonstrate
that it's actually better and valid. Do you have experimental evidence you
can
share for this?

[2016-04-19 11:39] jona-sassenhagen commented on #3124
Hm ... no idea what I was thinking here.

[2016-04-19 11:39] #3124 closed

[2016-04-19 11:46] jona-sassenhagen commented on #3078
You mean API?

The easiest solution would be to allow mne.viz.plot_topomap to take an info instance (instead of only a pos array). Then, instead of doing

[code]

which IMO is not very beginner friendly and requires accessing private functions, one could do

`plot_topomap(arr, info)`

[2016-04-19 11:47] jona-sassenhagen commented on #3120
Yes I like it. This is used in many ERP publications.

[2016-04-19 12:04] jona-sassenhagen opened #3142 "Error reading BTI file (header, file type empty)"
This is for HCP subject 195041, run 0, story/math. Reading the BTI file fails because the function to read the file_type for the header encounters an empty string.

[code]

Or, in abbreviated form:

[code]

where string = `b''`

@dengemann

[2016-04-19 12:13] dengemann commented on #3142
This may happen if your files did not download correctly. There is no MNE
issue here I bet.

On Tue, Apr 19, 2016 at 2:04 PM jona-sassenhagen <notifications@github.com>
wrote:

[2016-04-19 12:34] kingjr commented on #3125
Common Denis, the argument is not that it doesn't crash on my computer.

The reason d'etre of  CV is over fitting. Overfitting happens at the
fitting stage by definition, and doesn't bias the effect size estimate.

Scoring across all samples prevents estimating the fold error and thus the
estimation of the confidence interval of each score (there s no other way
around since the CV breaks the indep

[2016-04-19 12:47] dengemann commented on #3125
Nope, scoring is part of the standard definition.

Well you know what I mean :)
As Alex and I highlighted a few times departing from standards (according
to which scoring is part of the CV which is not about overfitting but about
assessing your out of sample performance) is not what we want. We should
know better and have good reasons for it if we depart from such basic
notions. Call it bug or API

[2016-04-19 13:06] jaeilepp commented on #3142
There is a fix for that in https://github.com/mne-tools/mne-python/pull/3131

[2016-04-19 14:00] jona-sassenhagen commented on #3142
Redownloaded twice and now it works. Thanks!

[2016-04-19 14:00] #3142 closed

[2016-04-19 17:53] #3130 closed

[2016-04-19 18:12] teonbrooks commented on #3091
cc: @christianbrodbeck

[2016-04-19 18:19] christianbrodbeck commented on #3091
@reddigari I can't reproduce this, can you send me your files and tell me the exact sequence of commands?

[2016-04-19 19:07] #3091 closed

[2016-04-20 02:26] cfoodc commented on #3130
Thanks a lot.
It works right now.

[2016-04-20 03:34] #3140 closed

[2016-04-20 03:36] Eric89GXL commented on #2860
@wmvanvliet I assume by the silence that you will be too busy to pursue something comprehensive in the next week or two for 0.12, so I'll go ahead with the revert-like plan tomorrow or the next day unless I hear otherwise.

[2016-04-20 05:57] wmvanvliet commented on #2860
That would be best. I don't have the time right now to make such an invasive change properly. I will pick this up though :) Maybe for 0.13.

[2016-04-20 09:59] kingjr commented on #3125
@fraimondo I've just changed the default scoring approach. I suggest you write your ENH once #3143 is merged to avoid conflicts.

[2016-04-20 10:01] fraimondo commented on #3125
I'm waiting for it.
Le 20 avr. 2016 12:00 PM, "Jean-Rémi KING" <notifications@github.com> a
écrit :

[2016-04-20 10:51] jona-sassenhagen commented on #3127
How about simply increasing the default?

I agree it's usually unreadable.

[2016-04-20 11:56] moritzschaefer commented on #3127
That would be an easy solution to start with. Just feels a bit like a workaround

[2016-04-20 16:58] Eric89GXL commented on #2661
@choldgraf any time to work on this in the next week? If not, I can tackle it.

[2016-04-20 16:59] choldgraf commented on #2661
I might have some time, assuming this doesn't become one of those "seems
easy but breaks everything" kinds of changes :-)
On Apr 20, 2016 9:58 AM, "Eric Larson" <notifications@github.com> wrote:

[2016-04-20 17:01] Eric89GXL commented on #2661
Hopefully `git grep seeg` would show you all the places that need to change or be replicated. If it's harder than that, then there must be some deeper problem we need to fix, and I can take over then.

[2016-04-20 17:02] Eric89GXL commented on #2661
FYI the ECoG channel type is already there https://github.com/mne-tools/mne-python/blob/master/mne/io/constants.py#L180

[2016-04-20 17:02] choldgraf commented on #2661
Cool, I'll give it a shot and hopefully it won't be too complicated (famous
last words)
On Apr 20, 2016 10:01 AM, "Eric Larson" <notifications@github.com> wrote:

[2016-04-20 17:09] Eric89GXL commented on #2847
Moved to 0.13, feel free to close if you get it done before 0.12 comes out

[2016-04-20 17:12] Eric89GXL commented on #2308
@teonbrooks any updates on this? It has been open for a while with no updates.

[2016-04-20 17:14] choldgraf commented on #2661
Hmm, so if we already have 'ecog' in there in constants, as well as `seeg`,
then what's the scope of this change? Is it just finding any reference to
`seeg` and then adding in another reference to `ecog` as well, so that we
support both? Any also looking for places where people say `seeg` but
really mean `ecog`? (though I think that last one is not common)

[2016-04-20 17:14] teonbrooks commented on #3091
UPDATE: it was a problem that resulted from a bad squid file, not the marker file

[2016-04-20 17:19] teonbrooks commented on #1941
@Eric89GXL do you think that this is something that could be done straightforwardly? I'm unable to do so now but it would be nice to have more low frequency cutoff options with IIR filtering

[2016-04-20 17:20] jona-sassenhagen commented on #1941
I too would welcome this, but am too stupid to implement it myself.

[2016-04-20 18:53] Eric89GXL commented on #1941
Actually I realized we have a problem, in that the equivalent of `sosfiltfilt` does not exist due to API challenges with `scipy.signal`. But we can probably implement something equivalent ourselves until their API comes around.

I'll try to take a look soon.

[2016-04-20 19:24] jona-sassenhagen commented on #3126
Did you do it vs. master? I don't see it under https://github.com/mne-tools/mne-python/pulls

[2016-04-20 19:31] Eric89GXL opened #3149 "Q: Make Info a top-level class"
`mne.io.meas_info.Info` is such an important class (across most submodules) so I think it should be in the main namespace as `mne.Info`. Okay if I change it and all references to it before 0.12?

[2016-04-20 19:35] jona-sassenhagen commented on #3149
Is there any particular reason why Raw only lives under io by the way?..

[2016-04-20 19:36] Eric89GXL commented on #2727
Pushing to 0.13 unless someone is motivated to do this

[2016-04-20 19:38] Eric89GXL commented on #2778
@jona-sassenhagen do you have time to attempt a fix in the next week? If not I'll push to 0.13

[2016-04-20 19:38] Eric89GXL commented on #3149
`io` is for raw `io` only

This was a point of debate a long time ago, and seems to keep coming up @agramfort ... :)

[2016-04-20 19:39] Eric89GXL commented on #3149
Specifically:

https://github.com/mne-tools/mne-python/pull/1273#issuecomment-42754494

[2016-04-20 19:40] jona-sassenhagen commented on #2778
I can (and should) attempt a fix (unless @bburle says he can do it), but we have deadlines upcoming, so no promises ... Please move to .13. I will PR later.

[2016-04-20 19:42] Eric89GXL commented on #2778
Will do, if you get it in for 0.12 great, if not, no problem from my end

[2016-04-20 19:43] Eric89GXL commented on #2661
Yeah that is what I have in mind. Hopefully it's in `mne.io.pick.py` functions and not many other places, but `git grep` should be informative.

[2016-04-20 19:44] jona-sassenhagen commented on #2778
Can you assign me Eric? (Or @teonbrooks )? :)

[2016-04-20 19:45] Eric89GXL commented on #2310
I can't think of a great solution for this right now. Currently we at least raise a warning about projection being dangerous. I'm going to move it to 0.13 unless someone has a good proposal

[2016-04-20 19:47] choldgraf commented on #2661
cool, I'll let ya know what's up

On Wed, Apr 20, 2016 at 12:43 PM, Eric Larson <notifications@github.com>
wrote:

[2016-04-20 19:48] Eric89GXL commented on #2778
Sure, I have to add you to the org, accept the subscription (you should have an email?) and I can assign it to you

[2016-04-20 19:57] jona-sassenhagen commented on #1941
Btw

http://www.sciencedirect.com/science/article/pii/S0165027016000339
http://www.sciencedirect.com/science/article/pii/S0165027016000030
http://www.sciencedirect.com/science/article/pii/S0165027015004434

[2016-04-20 19:58] Eric89GXL commented on #1941
Care to summarize for the ~~lazy~~ busy? :)

[2016-04-20 20:33] Eric89GXL commented on #3149
Opened a PR #3150, if anyone else wants to comment feel free over there

[2016-04-20 20:33] #3149 closed

[2016-04-20 20:35] Eric89GXL commented on #2778
@jona-sassenhagen done

[2016-04-21 08:26] Pablo-Arias commented on #3126
Just did it again, it's called 'Added more units to brainvision.py io ', sorry, I'm new to github!

[2016-04-21 12:10] cbrnr commented on #3047
Closing since the numerical issue was addressed in #3049, and it is probably expected that the toy example does not work for Infomax ICA. It's not an MNE issue to find out exactly why Infomax fails on the toy example.

[2016-04-21 12:10] #3047 closed

[2016-04-21 14:12] #2841 closed

[2016-04-22 16:09] Eric89GXL commented on #2661
@choldgraf I think I can do this while taking over #3053 actually

[2016-04-22 16:13] choldgraf commented on #2661
ah, ok...well, let me know if you need help? happy to weigh in on the PR if
you want to ping me etc

On Fri, Apr 22, 2016 at 9:09 AM, Eric Larson <notifications@github.com>
wrote:

[2016-04-23 00:17] jhouck opened #3160 "make_fixed_length_events adds first_samp to start indices"
In event.py, make_fixed_length_events always adds first_samp to the start index, i.e.:
`start = raw.time_as_index(start)`
`start = start[0] + raw.first_samp`
This isn't obvious unless you look at the function.  It might be problematic if, for instance, the start time is based on event indices from find_events, which will have already been adjusted for first_samp (via _find_events, via _find_stim_s

[2016-04-23 00:24] Eric89GXL commented on #3160
We could add a `first_samp=True` kwarg, that would make it explicit and easy to avoid. WDYT?

[2016-04-23 00:28] jhouck commented on #3160
Sounds good to me.

[2016-04-23 00:29] Eric89GXL commented on #3160
If you have time to make a PR feel free, otherwise I can find time next week

[2016-04-23 13:54] jona-sassenhagen commented on #3118
The code Teon posted also errors out for me. It also blocks Corrmap. I think it might be related to ica.plot_components() calls with a specific number of components (below 20).

[2016-04-23 13:54] jona-sassenhagen commented on #3118
I also get the error using `%matplotlib inline`.

[2016-04-23 14:07] jona-sassenhagen commented on #3127
Ping @agramfort @jaeilepp ?

I volunteer for a PR if you agree this is an issue, but we would have to decide on the API (vs. e.g. defaults) first.

[2016-04-23 14:15] jona-sassenhagen commented on #1853
This can be closed I think @kingjr ?

[2016-04-23 14:19] jona-sassenhagen commented on #975
Is there a long-term timeline for this? I hate having to switch back to py2 for mayavi stuff.

[2016-04-23 14:24] jona-sassenhagen commented on #1941
It's a discussion between (on one side) Burkhard Maess, Erich Schröger, Andreas Widmann (the guy who wrote the default EEGLAB filter) and Darren Tanner, James Norton, Kara Morgan-Short and Steven J. Luck (the guy who basically wrote The Book on ERPs) about the dangers of filtering and the dangers of baselining. Luck et al have shown that any high pass above .1 can lead to massiv distortions and ar

[2016-04-23 14:39] jona-sassenhagen commented on #3078
@agramfort what do you think?

[2016-04-23 14:56] Eric89GXL commented on #975
vispy development has slowed substantially unfortunately

[2016-04-23 14:58] agramfort commented on #3127
if you can infer a good value from size param it's nice.

[2016-04-23 15:03] agramfort commented on #3078
I don't know the details but I like a

plot_array_topomap(arr, info)

just make it work without breaking the API and duplicating code :)

[2016-04-23 15:05] jona-sassenhagen commented on #3078
Adding a param for plot_topomap is cleaner than a new function, don't you think?

[2016-04-23 15:06] agramfort commented on #3078
I would say no if you make params redundant or conflicting (one param
shadows another)

[2016-04-23 15:18] dengemann commented on #3078
+1 for new function!

[2016-04-23 15:24] jona-sassenhagen commented on #3078
Hm ... plot_array_topomap doesn't seem like a good name because plot_topomap already plots an array as a topomap. In fact, the two functions should be 99% identical, the only difference being that plot_topomap has pos as its second argument, and plot_array_topomap an info.

In fact, as @wmvanvliet points out, it would be roughly equivalent to

plot_topomap(array, _find_topomap_coords(info))

How a

[2016-04-23 15:26] agramfort commented on #3078
On Sat, Apr 23, 2016 at 5:24 PM, jona-sassenhagen <notifications@github.com>
wrote:

if this really works I am fine with overloading the pos param

[2016-04-23 16:27] Eric89GXL commented on #3078
It sounds like it probably is easy enough to do `if isinstance(pos, Info): ...`, so +1 on that for me. Then it's just a few lines of code to extract the relevant positions (probably de-duplicated with where it's already done elsewhere) and a docstring update.

@jona-sassenhagen if you can do it in the next couple of days it can go in 0.12

[2016-04-23 16:28] Eric89GXL opened #3163 "0.12"
Planning to push out a release of 0.12 next week (April 29) according to our internal deadlines. Here is what is currently marked to go in:

https://github.com/mne-tools/mne-python/milestones/0.12

If anyone wants other things in, feel free to comment here, especially if you are willing to make PRs to make it happen :)

[2016-04-23 16:52] jona-sassenhagen commented on #3163
Please do add #3161.

[2016-04-23 17:10] jona-sassenhagen opened #3164 "Is there any pattern behind when times are in ms or in s?"
Try this:

[code]

Or rather, DON'T do this, because the last step sometimes just results in a very silly plot, but sometimes (particularly when using `%matplotlib inline`) takes a very long time to run because it is trying to plot something very weird.

Instead, you must plot as:

[code]

This is arguably very counterintuitive.

Is there any chance we can get this sorted out at all, or are we loc

[2016-04-23 17:12] jona-sassenhagen commented on #3164
To clarify, this is not about `plot_joint`, which simply passes parameters to evoked.plot and evoked.plot_topomap.

[2016-04-23 17:20] jona-sassenhagen commented on #3078
I will try, please assign me Eric :) But make it .12, .13.

[2016-04-23 17:32] kingjr commented on #1853
Yes

On Saturday, 23 April 2016, jona-sassenhagen <notifications@github.com>
wrote:

[2016-04-23 19:56] moritzschaefer commented on #3127
+1

Alexandre Gramfort <notifications@github.com> schrieb am Sa., 23. Apr.
2016, 22:59:

[2016-04-24 01:04] Eric89GXL commented on #3164
I think in all newer code we try to use `s` and `m` but in some older legacy places we have `ms` and/or `mm`. IMO it would be worth going through a deprecation cycle with `time_units='ms' -> 's'`, it's what we're doing with `fit_sphere_to_headshape` [here] (https://github.com/mne-tools/mne-python/blob/master/mne/bem.py#L826).

[2016-04-24 07:54] agramfort commented on #3164
well I think we can live with : 'xlim':(-100, 400)
it does not say time and the data is plotted in x axis in milliseconds
that's why

[2016-04-24 09:30] jona-sassenhagen commented on #3164
Definitely not least-surprise though you have to admit.

Yes! I can go through the code and see how big of a deal it would be.

[2016-04-24 09:31] jona-sassenhagen commented on #3127
I won't get to it for .12 though.

[2016-04-24 13:50] jona-sassenhagen commented on #2693
Hm ... we still don't have a clear idea of where this is heading. I think eventually, I'd like to extend evoked.plot_image. @agramfort @dengemann would you in principle be open for adding a few params to evoked.plot_image? Including what @kingjr has suggested?
I'd then think about a proper API.

I think this is particularly useful to show masked images, ie., for statistical tests.

[2016-04-24 16:34] jona-sassenhagen commented on #1853
So close :)

[2016-04-24 16:39] jona-sassenhagen commented on #2747
If nobody is interested in this, I'll close.

[2016-04-24 19:36] jona-sassenhagen commented on #3118
Some tests show that it's indeed about the number of components.

Whenever multiple lines are plotted, but one of the lines is not full, the error occurs. IE, when n_components > 5, but not divisible by 5. (1, 2, 3, 4, 5, 10, 20, 30, ... work, everything else doesn't work.)

Would be really cool if somebody could tackle this.

[2016-04-24 19:52] agramfort commented on #3164
I don't really like the idea of having complex API handling time units...

personally I think we can live with the current API

[2016-04-24 19:52] jona-sassenhagen opened #3168 "ICA tutorial: wrong components (random seed?)"
The ICA tutorial is a *bit* off.

![screen shot 2016-04-24 at 21 49 53](https://cloud.githubusercontent.com/assets/4321826/14770019/bdb267de-0a66-11e6-9250-8955bff46fa4.png)

![screen shot 2016-04-24 at 21 50 03](https://cloud.githubusercontent.com/assets/4321826/14770021/bf88cd32-0a66-11e6-91f7-91df130d875a.png)

I can't promise I can fix this for 0.12 ...

@dengemann

[2016-04-24 21:23] dengemann commented on #3168
I will. No worries.

On Sun, Apr 24, 2016 at 9:52 PM jona-sassenhagen <notifications@github.com>
wrote:

[2016-04-24 21:25] dengemann commented on #3163
Let's add the GFP/VIZ plot and JR's fix for the cv behavior in TimeGen.
On Sat, Apr 23, 2016 at 6:52 PM jona-sassenhagen <notifications@github.com>
wrote:

[2016-04-25 05:24] #1853 closed

[2016-04-25 07:08] agramfort commented on #2693
no objection

[2016-04-25 08:33] agramfort commented on #2747
at least make a gist of your code so we know where to start to implement this.

[2016-04-25 09:03] kingjr opened #3170 "FIX: doc API"
http://martinos.org/mne/dev/python_reference.html#decoding

In the API section of the dev websites, under `classes` we find several decoding objects, that are not present in the `decoding` section (e.g. `TimeDecoding`).

I'm not sure why..

[2016-04-25 09:53] kingjr commented on #1941
Could we add this summary and ref somewhere in the tutorials?

On 23 April 2016 at 10:24, jona-sassenhagen <notifications@github.com>
wrote:

[2016-04-25 09:59] jaeilepp commented on #3170
I wonder how we should organize the API section. Is it okay to have duplicate entries (like we're supposed to have now) or should we group them better. Also these things have to be made by hand which often causes dead links as people forget to update this.

[2016-04-25 11:35] dengemann commented on #2693
Also fine with me.

On Mon, Apr 25, 2016 at 9:08 AM Alexandre Gramfort <notifications@github.com>
wrote:

[2016-04-25 12:18] jona-sassenhagen commented on #1941
I can in principle do that, but I'm not sure we have consensus here. MEG people (but also e.g. the EEGLAB people) very often filter the hell out of their data, whereas others would tell you that's insane, if there are any late components or baseline stuff in the data (which it usually is if you have any kind to task).

[2016-04-25 12:19] jona-sassenhagen commented on #1941
I could try and give a general discussion of what filtering practically does and is though. Like, pros and cons, and a careful and pessimistic when to use what.

[2016-04-25 12:21] jona-sassenhagen commented on #2693
Okay I'll get on it. (Eventually.)

[2016-04-25 13:11] #3078 closed

[2016-04-25 13:36] #3118 closed

[2016-04-25 19:09] jhouck commented on #3160
OK, PR created.

[2016-04-25 19:09] #3160 closed

[2016-04-26 09:01] jaeilepp commented on #3100
Now when I try running the gist, I get a ``KeyError: 'nchan'``. I think it has something to do with reverting the info PR. This should be fixed before 0.12. Taking a look now.

[2016-04-26 09:08] jaeilepp commented on #3100
Okay, I think it's because the files were saved using the reverted info thing and using pickling. This is not a blocker for 0.12.

[2016-04-26 14:00] jaeilepp commented on #3168
Fixed in https://github.com/mne-tools/mne-python/pull/3174. See if you agree.

[2016-04-26 14:07] kingjr commented on #3128
crawling under work ATM, closing for now it's low priority.

[2016-04-26 14:07] #3128 closed

[2016-04-26 14:25] dmalt opened #3175 "raw.add_channels crashes with ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"
Hi!

I'm trying to merge some channels from my MEG recordings:

[code]

But it add_channels crashes with ValueError:
[code]

Is there something I'm missing? What should I do to append channels to one another?

[2016-04-26 17:43] agramfort commented on #3175
can you replicate this with sample?

if so can you share a full gist to debug? on gist.github.com

[2016-04-26 18:11] gladiach opened #3179 "mne.viz.plot_source_estimates generates blank window with error message"
I ran mne.viz.plot_source_estimates(stc,subject='<subject_name>',...) but I got a blank window and this error. I get a similar error when I try stc.plot(). This is the error:

(<unknown>:39799): Gtk-WARNING **: gtk_disable_setlocale() must be called before gtk_init()
Traceback (most recent call last):
  File "/usr/pubsw/packages/python/anaconda/lib/python2.7/site-packages/IPython/core/interactives

[2016-04-26 18:11] dgwakeman commented on #3179
Hi,

We are indeed having issues with the Martinos Center central python install. Both @haribharadwaj and I have tried to solve it. I posted to both the conda github and conda google groups, but haven't heard anything back:
https://github.com/conda/conda/issues/2322

Thoughts?

d

[2016-04-26 18:33] Eric89GXL commented on #3179
I find that in some corner cases Anaconda can get in a bit of a fragile state. I would try:

1. Downloading the latest Anaconda installer
2. Installing it to some sandbox location like ~/temp
3. `conda update conda`
4. Installing all packages you need (from the `conda` side anyway)

If that works, then I'd go back to your real Anaconda installation, and uninstall all conflicting packages you have

[2016-04-26 18:34] jasmainak commented on #3179
It sounds like a mayavi install issue to me. Make sure you use `conda install mayavi`. Also, you don't need sudo access to install anaconda.

[2016-04-26 19:38] teonbrooks opened #3180 "plot_topomap times for CSP example"
with the plot_decoding_sp_space example, the plot_topomap goes behind the time range of the data. seems like a bug with how times is defined in the example.

http://martinos.org/mne/stable/auto_examples/decoding/plot_decoding_csp_space.html

[2016-04-26 21:09] gladiach commented on #3179
My colleague helped me fix my issue by adding a file called .tcshrc to my home folder. The file includes the lines:

setenv QT_API pyqt
setenv ETS_TOOLKIT qt4

Now mne.viz works for me.

[2016-04-27 07:27] agramfort commented on #3179
do we have this somewhere in the doc?

if not someone please add and then close this issue.

thanks

[2016-04-27 08:47] jaeilepp commented on #3179
Would this be material for FAQ? Or should we even have a new 'troubleshooting' section. Do we have enough material for that?

[2016-04-27 08:54] agramfort commented on #3179
I would put this in how to setup your python environment in getting started

[2016-04-27 10:11] jona-sassenhagen opened #3183 "set_bipolar_reference, keep_old param?"
How about adding a keep_old parameter to `set_bipolar_reference`?

For example, I just created a bipolar montage for a virtual VEOG channel for the purpose of ICA component labelling. However, I did not want to remove the original channels afterwards, for example, because the ICA contained, and should contain, the original channels, not the VEOG. This was approximately 10 lines of fairly messy cod

[2016-04-27 13:06] larsoner opened #3184 "ENH: Reconstruction?"
Would people be interested in looking at the extent to which e.g. Evoked data can be reconstructed following projections (un-doing the induced signal bias)? Here is the idea:

[code]

Would give you something like:

![figure_1](https://cloud.githubusercontent.com/assets/2365790/14833263/5e7c764e-0bcc-11e6-8f00-a3d3d7679c48.png)

The "reconstructed" data is obtained by projecting the (SSP-projected

[2016-04-27 13:10] agramfort commented on #3184
nice.

this should be made public. We'll see what's the best way to expose this.

[2016-04-27 13:10] jaeilepp commented on #3180
I was going to fix this in https://github.com/mne-tools/mne-python/pull/3174 using the new possibility to plot single data points, but then I noticed that ``plot_topomap`` accepts ``axis`` instead of ``axes`` like the rest of the plotting functions. I'm wondering if I can change this to ``axes`` without deprecation cycle.

[2016-04-27 13:12] Eric89GXL commented on #3184
Cool, will do.

It's pretty straightforward from an implementation standpoint, *except* that right now we only have `_map_meg_channels` using MNE -- `_map_eeg_channels` uses spherical splines which will not work (not sure why we didn't use MNE for that?). So i'll need to add a `method` arg to `_map_eeg_channels`, then it should only be ~30 lines or so for the viz function.

[2016-04-27 13:12] agramfort commented on #3180
I fear you need to deprecate.

nice catch

[2016-04-27 13:14] Eric89GXL commented on #3180
It shouldn't be too bad a deprecation though:

1. put `axes` in the same point in the arg list as `axis`
2. move `axis=None` to the end
3. if `axis is not None` warn and set `axes=axis`
4. if `axes` is an instance of Axes, make it `[axes]`

right?

[2016-04-27 14:11] teonbrooks commented on #3180
can't take all the credit. thanks @lauragwilliams for pointing this out :)

[2016-04-27 17:07] jona-sassenhagen commented on #3183
Maybe it'd be sufficient to use raw.add_channels for this ...

[2016-04-27 17:10] Eric89GXL commented on #3183
How hard would it be to use `raw.add_channels`? If it's a few lines fine, but if bipolar referencing is common we should try to support it without requiring too much code from the user.

[2016-04-27 17:11] jona-sassenhagen commented on #3183
Beat you!

I will have to check.

[2016-04-27 17:21] jona-sassenhagen commented on #3183
Ah I remember. I tried that yesterday.

[code]

gives

[code]

And okay, you can work around that ... but that's where the lines come from.

[2016-04-27 17:26] choldgraf commented on #2688
hey all - I'm not sure if this ever got fixed or not. I didn't make any changes myself and I think my friend just found a workaround for loading in their data from Fieldtrip. Did anybody discuss this offline?

[2016-04-27 17:27] jona-sassenhagen commented on #2688
At the Frankfurt workshop, we hacked together a function for reading in Fieldtrip epochs created with a specific MATLAB version if anybody cares ...

[2016-04-27 17:32] choldgraf commented on #2253
I'm closing this since there's an ecog / seeg data type now...that should be able to handle those data types. I'm still a fan of some kind of "auto" scaling (e.g., check to see if the plot output is going to be total gibberish because the scale is way too big). But maybe it's not worth adding the extra cruft. Let me know if people think it's worth implementing.

[2016-04-27 17:32] #2253 closed

[2016-04-27 17:47] kingjr commented on #2253
I think we discussed this elsewhere but yeah I'm +1 on this, although this means loading the whole data in memory, because the intracranial electrode impedance and SNR can vary quite a lot, it's difficult to know in advance what scale we should use.

[2016-04-27 18:03] #2778 closed

[2016-04-27 23:28] drammock opened #3186 "mne.read_events not reading all events"
On current master, `mne.read_events` is omitting 20 rows.  MWE is below.  The file "sample-eve.txt" is [here](http://dan.mccloy.info/data/sample-eve.txt) and was generated by `mne.write_events`.

[code]

[2016-04-27 23:37] drammock commented on #3186
oh, I get it.  I have re-coded the event values during processing to replace all `1` events with a stimulus code reconstructed from a string of preceding `4` and `8` triggers.  20 of those recoded event values are `0`, and default is `mask=0` so they're getting (silently) skipped.  Unfortunately `mask=-1` doesn't work, nor does `mask=None`.  Is my only option to re-do my stimulus codes?  That is v

[2016-04-27 23:50] Eric89GXL commented on #3186
One problem with a code of `0` is that, in the first line, it has a special meaning (or used to?) for the C tools, so it goes beyond the `mask` problem, see:

https://github.com/mne-tools/mne-python/blob/master/mne/event.py#L260

I suppose we could add a `mask=None` argument for this use case, and state clearly in the docstring that it could cause problems if events are used by the C tools.

[2016-04-28 00:28] dgwakeman commented on #3186
@drammock, I'm not sure I see the problem, with when you do the re-coding to set those instead of to 0 to 1023 or some other value?

[2016-04-28 00:29] Eric89GXL commented on #3186
(Personally I do a uniform +1 shift and later -1 shift as needed, but it is annoying in some cases)

[2016-04-28 00:56] drammock commented on #3186
@dgwakeman of course, that is a work-around I considered (as is Eric's suggestion to shift all events by 1).  But such workarounds strike me as inelegant and error-prone. As someone who has only rarely used the C API and will likely never do so again, the [zero-as-a-special-case](https://github.com/mne-tools/mne-python/blob/master/mne/event.py#L260) that @Eric89GXL pointed out strikes me as, if no

[2016-04-28 01:02] drammock commented on #3186
(if devs/BDFL won't agree even to that, then perhaps at least a `warning` or `info` when reading in the events, saying how many were read and how many were skipped?)

[2016-04-28 01:04] dgwakeman commented on #3186
I guess, I should of asked how the recoding is being done (personally, I've never needed to recode, I use the mask option and choose the values I want when I design the experiment). Maybe, we need better code for recoding stimuli? It seems pretty silly to have an event entry that reads `time 0 0`, if we stop creating events that are `time 0 0` it should avoid the problem. How will some other resea

[2016-04-28 01:16] Eric89GXL commented on #3186
There are many potential use cases for re-coding event numbers -- just think about e.g. changing them based on subject response correctness, correcting values that were incorrect during acquisition, or inserting sub-trial-level stamps that weren't put in during the trial (e.g., word onsets in a continuous sentence). So I'm not really sure the particular re-coding motivation is relevant, since we d

[2016-04-28 08:05] #2661 closed

[2016-04-28 08:07] #3175 closed

[2016-04-28 08:08] agramfort commented on #3186
+1 for warning

[2016-04-28 09:00] kingjr opened #3187 "BUG: cwt_morlet decim"
[code]

gets
[code]

I probably introduced the bug in my last PR, I'll have a look now

[2016-04-28 09:14] cmoutard commented on #3187
I think this may be a bug since n_times is not updated given the decim argument.

[2016-04-28 09:17] cmoutard commented on #3187
This should do the trick:
`n_signals, n_times = X.shape
decim = int(decim)
n_times = n_times  // decim + bool(n_times % decim)`

[2016-04-28 09:20] agramfort commented on #3187
PR with test welcome

[2016-04-28 09:22] cmoutard commented on #3187
Same bug in the function cwt

[2016-04-28 09:25] kingjr commented on #3187
Are you sure? This seems to work:

[code]

[2016-04-28 09:28] cmoutard commented on #3187
It does work, my bad

[2016-04-28 09:43] dmalt commented on #3175
Thanks for such a quick fix!
Now it works fine.

[2016-04-28 09:50] kingjr opened #3189 "Q: makes EpochsArray events defaults to np.zeros((len(data), 3), int)"
Is there a reason to not default the `events` parameter of `EpochsArray` to `np.zeros((len(data), 3), int)`?

Related to this, I often find the creation of `Epochs` to be an overkill: i.e. I often end up doing
[code]

where I would expect only doing:
`epochs = EpochsArray(data, sfreq=256)`

[2016-04-28 10:07] robertoostenveld commented on #2688
please note that I welcome any suggestions to improve the fif exporter code in http://github.com/fieldtrip/fieldtrip

[2016-04-28 10:36] kingjr commented on #2688
@jona-sassenhagen I do, also see https://github.com/mne-tools/mne-python/issues/2476

[2016-04-28 12:16] Eric89GXL commented on #3189
What channel type should you get for that one liner? (I'm -1 on that bit
because we want people to think about and be explicit about channel types.)

For events, sure we could do it but zeros isn't good enough. We'd probably
want ones in the last column and np.arange in the first.

[2016-04-28 13:18] kingjr commented on #3189
+1

I was thinking of putting `mag` by default, but fair enough. The point is that we need to call 2 objects to do this basic operation.

However, I'm not sure what to propose instead without inducing deprecation or multiple ways to do the same things.

[2016-04-28 13:46] #3187 closed

[2016-04-28 13:50] #3170 closed

[2016-04-28 13:50] #3179 closed

[2016-04-28 13:50] #3180 closed

[2016-04-28 17:31] choldgraf commented on #2688
@robertoostenveld I'll definitely keep this in mind if I talk to other folks in the lab that are using Fieldtrip. I pretty much stick with Python but there are more and more folks that are doing both python and Matlab, so maybe this will come up again.

[2016-04-28 19:50] agramfort commented on #3189
I am fine with an automatic events but that's it.
users should be aware of the info and know what they are doing.

[2016-04-28 21:09] kingjr opened #3190 "BUG: mne.parallel crashes when too much data"
I'm encountering some weird error when I try to decod too much data e.g.

[code]

works fine but

[code]

returns

[code]

or

[code]

There is no error if I set `n_jobs=1`, if I reduce the dimensionality of the data (either `n_chan`, `n_time` or `n_trial`), and if I predict a subset: e.g.

[code]

works fine, but from 597, it crashes

[code]

I am running on an aws m4.4xlarge running with ubuntu

[2016-04-28 21:21] kingjr commented on #3190
In the debug mode, when I run the function called by parallel (`_predict_slices` instead of `p_func`), there is no error, so I don't think the issue comes from the parallized function.

[2016-04-28 21:24] kingjr commented on #3190
I broke the bug down to this:

[code]

So.. not a GAT issue.

[2016-04-28 21:24] jona-sassenhagen commented on #3190
Hm. I get a different error.

[code]

This is on a local Xeon with 270 GB of RAM.

[2016-04-28 21:25] jona-sassenhagen commented on #3190
(This is in iPython.)

[2016-04-28 21:25] kingjr commented on #3190
@jona-sassenhagen aaaah what is this.

me too

[2016-04-28 21:27] jona-sassenhagen commented on #3190
Yep, same error.

[code]

[code]

Did you check if it's about MNE parallel, or if it can somehow also be done just with Joblib?

[2016-04-28 21:36] kingjr commented on #3190
It's `mne.parallel` joblib is fine.

FWIU, mne.parallel is trying to be too smart and wants to dump some data down on disc or something

[2016-04-28 21:43] dengemann commented on #3190
Retrospectively it would have been better to simply use joblib I think,
just one module to attack on debugging.

On Thu, Apr 28, 2016 at 11:36 PM Jean-Rémi KING <notifications@github.com>
wrote:

[2016-04-28 21:47] kingjr commented on #3190
The error comes from the param `max_n_bytes=None`:

[code]

doesn't work but `parallel = Parallel(-1)` does.

Any idea what I should do to fix this?

[2016-04-28 22:06] kingjr commented on #3190
As a temporary fix, I do

[code]

But I'll let whoever understands this caching approach write the fix..

@jona-sassenhagen can you check that this also fixes your error?

[2016-04-28 22:39] jona-sassenhagen commented on #3190
[code]

Yup.

[2016-04-28 22:48] Eric89GXL commented on #3190
I can look tomorrow. FYI memmaping is in principle a powerful tool to
reduce parallelization overhead by reducing pickling requirements, so we
should try to get it working as well as possible. I suspect we might gain
speed if we do it right.

[2016-04-28 22:58] kingjr commented on #3190
I suspect that the GAT code isn't optimal in this regard, because I first initialize `n_job` in `Parallel`, but then split the to-be-distributed data in `min(data.shape, n_jobs)`, and not necessarily `n_jobs`.

This means that it's possible to get
[code]

[2016-04-28 23:03] dengemann commented on #3190
All this is pretty well in line with my observation that joblib with MNE
does not work nicely with mkl anaconda. For most tasks I actually don't use
joblib when I have mkl. I have to admit that I therefore might have
neglected these issues. I'm glad if someone can fix this who actually uses
joblib a lot with MNE.

On Fri, Apr 29, 2016 at 12:58 AM Jean-Rémi KING <notifications@github.com>
wrote:

[2016-04-29 01:46] kingjr commented on #3190
But mkl only works for matrix operation right? joblib is a bit more generic. Or am I mistaken?

[On this topic, I went to a Meetup at NYC where some people presented [pyfora](https://pypi.python.org/pypi/pyfora), which tries to compile functions to parallelize them, either locally, or on cluster. My fear is that they want to be a little to smart for it to be usable, but it might be worse checking

[2016-04-29 06:03] agramfort commented on #3190
it is probably a joblib bug

cc @ogrisel

[2016-04-29 06:25] jaeilepp commented on #3100
I can confirm this. Would it be okay to expose ``selectable`` param to the public functions?

[2016-04-29 11:44] Eric89GXL commented on #3100
Fine by me

[2016-04-29 12:36] Eric89GXL commented on #3190
MKL works on anything that can use SIMD instructions, which very often means linear algebra since they provide highly optimized BLAS and LAPACK -- but it can also work for e.g. `for` loops in C, because code is compiled with `icc` instead of `gcc`, which is SIMD-aware. So things like `np.sum` (if the data are aligned properly) might also benefit, although come to think of it I haven't actually che

[2016-04-29 12:39] Eric89GXL commented on #3163
@dengemann it looks like there are three outstanding PRs that require your attention before we can release: #3144, #3143, and #3123. Will you still have time today, or should we move the release to next week to give you more time?

[2016-04-29 13:25] dengemann commented on #3163
Ok will look into them now, let's see how far we get.

[2016-04-29 14:14] dengemann commented on #3190
On my machines MKL=n_threads most of the time outperforms joblib=n_jobs on almost any scenario, filtering maybe an exception.

[2016-04-29 14:23] jona-sassenhagen commented on #3190
Isn't MKL also usually much better memory wise? Or am I misinterpreting what top tells me?

[2016-04-29 14:24] Eric89GXL commented on #3190
`parallel` will need to copy all data it sends to workers (unless using memmapping), so yes it will in general be `n_jobs` times better

[2016-04-29 15:59] Eric89GXL commented on #3163
From talking to @dengemann and @agramfort it would be safest to move this to next week actually. (I somehow didn't realize until now that the deadline we had for release coincided with the deadline for Biomag 2016 abstract submissions...). We're going to shoot for this coming Wednesday May 4th for release instead.

[2016-04-29 16:56] jhouck commented on #3163
FWIW, the Biomag submission deadline was moved to May 14.

[2016-04-29 17:20] Eric89GXL commented on #3163
Thanks for the heads up.

Too bad we don't have an acausal filter we can apply to @dengemann to let past him know last week :)

[2016-04-29 18:01] choldgraf commented on #2253
Ah that's a good point - do you think it'll be a problem? If it's an optional parameter, then hopefully it'll be easy for people to just not use if their data takes a long time to load in.

[2016-04-29 18:04] Eric89GXL commented on #2253
As long as it's not the default, and documented clearly in the docstring it's okay with me. I suspect the implementation for `Raw` and `Epochs`, which can be non-preloaded, will be non-trivial from a memory-saving standpoint.

[2016-04-29 18:09] choldgraf commented on #2253
Yeah I'm a bit worried that my data is atypical in terms of memory size since it's ECoG (fewer channels and shorter recording sessions). You don't think it'd be enough to just read in the first 10 or 20s of data and calculate the descriptive statistics on those, assuming that they're representative of the whole dataset? It would probably get it wrong now and then, especially if there are noisy bit

[2016-04-29 18:10] kingjr commented on #2253
@choldgraf you can read the file in a decimated way, and compute the std on that.

[2016-04-29 18:13] choldgraf commented on #2253
Is that a parameter we can give? Or do you just mean read in the file in chunks and update a mean/std iteratively?

[2016-04-29 18:14] kingjr commented on #2253
Mmmh, no, I don't think this param exists

[2016-04-29 18:16] choldgraf commented on #2253
ok, so you just imagine iterating through chunks of ~5s or something like this and updating a mean/std each time? I still feel like we could get away with a small-ish chunk of data for estimating those values, and assume that they're representative of the whole thing.

[2016-04-29 18:21] kingjr commented on #2253
ECoG dataset often contain chunks of high noise, especially early on, so I think this is likely to be inefficient

[2016-04-29 18:25] choldgraf commented on #2253
yeah for sure - I was imagining just choosing a random 20 second block in the middle of the data. I just wonder if it's better to just give that a shot because it'd be pretty quick and dirty, and if it seems insufficient then I am happy to make something more complicated. But WDYT?

[2016-04-29 18:26] kingjr commented on #2253
Ok, let's start easy.

[2016-04-29 18:29] choldgraf commented on #2253
I can throw something together pretty quickly then, I'm basically thinking:

[code]
Does that sound reasonable? Think mean + 2*sd would be too much or is that OK?

[2016-04-29 18:34] kingjr commented on #2253
2 sd is probably a bit small..

Also, I would use the `mad` (https://github.com/kingjr/jr-tools/blob/master/jr/stats/base.py#L484), since some channel/time point can go crazy.

Apart from this +1

[2016-04-29 18:35] choldgraf commented on #2253
ah ya - fair enough, I can try to come up with something that's robust to noise etc. will get a PR soonishfully

[2016-04-30 18:05] Eric89GXL commented on #2906
@kingjr where are we with binder? Do you have time to work on it? If not, I'd be up for taking a shot at it. If people could play with data easily in the browser it would be awesome.

[2016-04-30 18:32] kingjr commented on #2906
ok, let me try to regive it a go

[2016-04-30 20:55] jona-sassenhagen opened #3200 "ENH: plot_joint_psd"
Do we want this?

![unknown-149](https://cloud.githubusercontent.com/assets/4321826/14938529/93ec5878-0f26-11e6-97a1-48e2750ab373.png)

[2016-04-30 21:15] kingjr commented on #3200
If you find a better example, maybe?

[2016-04-30 22:18] kingjr commented on #3200
Actually the plot_joint with the topos can be good, although I would normalize per window to make it easier to read and avoid the 1/f non-informative gradient, but the colored line are not super convincing (although for consistency, why not)

[2016-05-01 01:08] choldgraf commented on #2948
Looking through this now. I'm not quite sure the best way to add a "force" option. The reason is that there's a lot of machinery under the hood to make sure that values are able to be merged between info objects. So here are a couple of thoughts:

1. Hard-code some fields that we know are going to be problematic for adding stim channels, and if a "force" parameter is given, then automatically add

[2016-05-01 02:37] Eric89GXL commented on #2948
Would this work?

4. The force option takes any conflicting keys and uses the value from the
first dictionary (easy to explain, hopefully easy to implement). Call
_check_consistency at the end, and beef up that function of necessary to
hopefully catch any traps.

[2016-05-01 08:04] agramfort commented on #3200
if you do it on somato with proper baselining it could be nice.

[2016-05-01 08:14] dengemann commented on #3200
It could be nice but not with the PSD default settings that we have, for
low frequencies we need long windows, and the welch periodograms don't look
nice. Detrending, power normalization and loglog plotting are further
options. I have some private code on this but I'm hesitating to push it
here as it is pretty particular.

On Sun, May 1, 2016 at 10:04 AM Alexandre Gramfort <notifications@github.co

[2016-05-01 08:16] dengemann commented on #3200
second, the joint plotting needs a rewrite, on resizing the series and the
topo plots get misaligned. very often you want the series plot to be bigger
in this case.

On Sun, May 1, 2016 at 10:13 AM Denis-Alexander Engemann <
denis.engemann@gmail.com> wrote:

[2016-05-01 09:25] jona-sassenhagen commented on #3200
Okay, let's see ... also I have way too many issues open already :)

[2016-05-01 09:25] #3200 closed

[2016-05-01 09:29] dengemann commented on #3200
Let's get back to it in a while once we discussed and solved the issues
mentioned in our use cases.

On Sun, May 1, 2016 at 11:25 AM jona-sassenhagen <notifications@github.com>
wrote:

[2016-05-01 09:29] dengemann commented on #3200
And a related issue I'm holding back is of course a PSDEpochs container
with .freqs instead of .times as sample descriptor axes.

On Sun, May 1, 2016 at 11:28 AM Denis-Alexander Engemann <
denis.engemann@gmail.com> wrote:

[2016-05-01 21:32] #3189 closed

[2016-05-01 21:35] kingjr commented on #3121
This is actually pretty hard to do it right for MEG, isn't it? I was thinking of using the 3D viz, do an inverse model, and apply the forward to virtual sensors made from the fsaverage mesh, but that seems a bit overkilling (and also, I don't manage to make these virtual sensors)...

Any idea how we could procede?

[2016-05-01 21:45] kingjr commented on #2906
I managed to make the Dockerfile with all datasets (I haven't managed to set an `environment.ylm` that works, but this can be fixed later I think).

The main bottleneck I have now concerns the `ipynb` files. These notebooks are created by the sphinx build, and are not part of the github rep.

We can setup the docker to generate them at the installation step. However this installation occurs before

[2016-05-01 22:00] teonbrooks commented on #3121
can't you apply the `dev_head_t` to the MEG signal so that is on the head surface? is that what you're trying to do?

[2016-05-01 22:05] teonbrooks commented on #3121
or `mne.forward.make_field_map` to project to head might be helpful

[2016-05-01 22:08] kingjr commented on #3121
@teonbrooks indeed! Thanks, I'll check this out

[2016-05-01 22:37] kingjr commented on #3121
Seems that all the functions are already in place, I was just no aware of them:

[code]

Shall I close?

[2016-05-01 23:33] kingjr commented on #3121
related to this
1. Would it make sense to precompute the "maps" of the fsaverage subject, so as to gain time?
2. How can I plot the gradient of magnetic field (analogous to combined grads) on the head?

[2016-05-02 08:06] agramfort commented on #2906
you can get the generated notebooks from:

https://github.com/mne-tools/mne-tools.github.io

[2016-05-02 08:09] agramfort commented on #3121
it is really that slow? we could think of a joblib based caching system.

AFAIK currently you can't

[2016-05-02 08:14] agramfort opened #3201 "add tuto based on fieldtrip subject01"
see:

http://www.fieldtriptoolbox.org/tutorial/eventrelatedaveraging
http://www.fieldtriptoolbox.org/tutorial/minimumnormestimate

[2016-05-02 11:26] kingjr commented on #2906
This isn't the issue. We can add any files before the installation but they can only be in a parent folder from the binder jupyter directory, and therefore cannot be used as ipynb.

[2016-05-02 12:10] agramfort commented on #2906
no idea then. I am bit lost here...

[2016-05-02 15:22] Eric89GXL commented on #2906
Can you use symlinks to get around the problem?

[2016-05-02 15:47] kingjr commented on #2906
Not if I create them dynamically at the installation step: the symlinks would have to outside of `/home/main/notebooks` and thus invisible.

If we create a dedicated rep for mne-binder, we can `git add` the notebooks, but that will be extra work in the future, because everytime we update the examples and tutorials, we'll have to also update the `ipynb`. But perhaps this can be done automatically,

[2016-05-02 19:06] Eric89GXL commented on #2906
Yes, take a look [here for the CircleCI-based doc autoupdate] (https://github.com/mne-tools/mne-python/blob/master/circle.yml#L85), it's only a couple lines. So to update your repo it would hopefully only be a couple more now that @jaeilepp has done the hard work to sort everything out.

How about this plan:

1. I'll start a `mne-binder` repo
2. You get admin access to it
3. `git add` and `git com

[2016-05-02 19:08] Eric89GXL commented on #2906
Steps 1 and 2 are done, so if you like the plan above, feel free to get going :)

[2016-05-03 03:15] choldgraf commented on #2663
I was looking into this a little bit more, and another person recommended VisPy to me. I looked into it, and while it does have some scatterplot functionality (in their gallery [here](https://github.com/vispy/vispy/blob/master/examples/demo/gloo/cloud.py)), it doesn't seem like it's under very active development. @Eric89GXL I noticed you've been working with that project. Any idea if something lik

[2016-05-03 09:53] jjnurminen commented on #3097
I put the averager code in events.py as Eric suggested. However I'm using the Epochs class and thus need to import it. I tried `from . import Epochs` and some variants at top of events.py, but the result is always ImportError due to circular imports. What would be the best way to resolve this?

[2016-05-03 12:05] agramfort commented on #3097
can you make this code visible in a pull request?

[2016-05-03 12:06] MartinBaBer opened #3204 "error installing MNE again"
Hello,
I'm using MNE now for exploring MEG data and recognized an error occurring while MNE was installed by pip.

The web page reads:

this is an unknown command on Unix, maybe you could use --upgrade but if it's your first installation I'd recommend using:

There was already an issue about that but no relation to the reduced code snip leaving out -upgrade.

Best
Martin

[2016-05-03 13:43] agramfort commented on #3204
thanks for the report.

would you have time to send us a pull request to update the doc about this?

[2016-05-03 16:32] Eric89GXL commented on #2663
VisPy isn't under very active development anymore :(

[2016-05-03 16:43] choldgraf commented on #2663
Ah that's a bummer - I thought it was going to be my savior in interactive 3-D plotting in python :-P

[2016-05-03 16:58] agramfort commented on #2663
I was hoping the same :( :(

[2016-05-04 00:12] #2948 closed

[2016-05-04 19:34] #3204 closed

[2016-05-04 19:35] Eric89GXL commented on #3163
We're going to delay this another couple of days so @jaeilepp can help us with doc updates.

[2016-05-04 21:48] kambysese opened #3210 "split fiff io error"
I am encountering a few cases where `_read_raw_file` returns an `IndexError` when trying to read in the latter portion of split `.fif` files.  From Trace...

What exactly is this about? and anyone know how I can get around it?

[2016-05-05 00:01] Eric89GXL commented on #3210
That sounds like a bad bug we should fix for 0.12. I think I have a dataset I can try to replicate it on. But just in case, can you make sure you're on latest master, make a short script to reproduce the error, email it to me, and I'll take a look tomorrow.

[2016-05-05 05:21] jaeilepp commented on #3163
You mean the stable docs? I can take care of it today.

[2016-05-05 07:33] agramfort commented on #3163
looks like we have a couple more bugs to fix before the release.

thanks

[2016-05-05 20:55] dengemann opened #3214 "FIX: some missing .copy"
[code]

on calling Label.morph

cc @Eric89GXL

[2016-05-06 00:20] Eric89GXL commented on #3214
good call, will fix tomorrow

[2016-05-06 09:29] #3210 closed

[2016-05-06 14:29] Eric89GXL commented on #3214
`Label` already has a `copy` method:

https://github.com/mne-tools/mne-python/blob/master/mne/label.py#L388

Did you mean something else?

[2016-05-06 14:29] #3214 closed

[2016-05-06 15:27] dengemann commented on #3214
Not sure downstream some warning is caused ... could not identify it at one glance.

[2016-05-07 14:38] #3186 closed

[2016-05-07 17:45] mmagnuski commented on #2793
I have recently had this problem a few times with mne-python dev branch - working with epoched EEG data, no noise covariance. I am trying to reproduce the problem but it is not easy - currently I've only had this problem when marking components for rejection through the gui.
BTW - the scale seemed to be different each time I had this problem. In one of the notebooks I see scale of 1e33 for example

[2016-05-08 01:04] teonbrooks commented on #3121
@kingjr is the plan to have a topomap with option for head-oriented topography on a cartoon head?

[2016-05-09 13:25] kingjr commented on #3121
@teonbrooks Well I thought the cartoon wouldn't be great. If we do it, might as well do it properly, no?

[2016-05-09 20:44] teonbrooks commented on #3121
what would you use other than the default model?

[2016-05-09 21:29] kingjr commented on #3121
I would aim for having default head, but this could be then changed to average head across subjects, or subject-specific heads.

Overall, I think it would make our papers more intuitive for naive readers if we plotted heads instead of flattened sensor arrays. But if we can't plot field gradients (tangential to the head surface), it won't be as useful as I had originally hoped because one would sti

[2016-05-09 22:35] Eric89GXL commented on #3121
Actually thinking about it more you can project to any virtual sensors you
like with the minimum norm code. So you could project to colocated
orthogonal pairs of arbitrarily placed planar gradiometers and then take
the norm of each pair if you want.

[2016-05-09 22:38] kingjr commented on #3121
@Eric89GXL so we just have to find a way to make virtual sensors from the head mesh?

[2016-05-09 23:06] Eric89GXL commented on #3121
Yeah you have to choose locations and normals

[2016-05-10 00:49] kingjr commented on #3121
BTW, isn't the projection of sensor to scalp an ill-posed problem?

[2016-05-10 01:13] Eric89GXL commented on #3121
We project to a minimum norm spherical source space and back out essentially

[2016-05-10 15:28] kingjr commented on #3121
Well, I'm stuck.

In `_make_surface_mapping` the virtual coils can still be gradiometers (at least their `type` matches those of neuromag grads), but I don't know where to look then. Do I need to modify `_do_self_dots`, `_do_surface_dots` and `_compute_mapping_matrix`. Any advice?

[2016-05-10 22:59] kingjr commented on #3125
@fraimondo can you close the issue?

[2016-05-11 00:17] #3125 closed

[2016-05-11 11:07] mmagnuski opened #3219 "stable and dev tutorials page is different (at release)"
I guess the tutorials page for 0.12 shouldn't look like [this](http://martinos.org/mne/stable/tutorials.html) (stable) but rather like [this](http://martinos.org/mne/dev/tutorials.html) (dev).

[2016-05-11 11:22] jona-sassenhagen commented on #3168
Oh oh ...

![bildschirmfoto 2016-05-11 um 13 20 21](https://cloud.githubusercontent.com/assets/4321826/15179332/4963dda0-177b-11e6-8cc1-ca01e58a7243.png)

I could take care of it eventually.

[2016-05-11 11:22] jona-sassenhagen commented on #3168
@Eric89GXL reopen please :(

[2016-05-11 11:29] jona-sassenhagen commented on #3164
I just had my browser crash on me because I set xlim in seconds. (In the Notebook, it creates a massive PNG in that case.)

I will at least try to think of avoiding this situation, e.g. by fixing plot_joint for situations where times is not in xlim or xlim is very short.

[2016-05-11 11:53] Eric89GXL commented on #3168
This was recently fixed. Do you know the cause? Was there a regression,
errant commit, or is this example fragile? (Will reopen when I'm off mobile)

[2016-05-11 12:04] dengemann commented on #3168
This is very weird indeed.

[2016-05-11 13:01] Eric89GXL commented on #3219
Indeed it should look like this:

http://mne-tools.github.io/stable/tutorials.html

@agramfort can you upload to Martinos?

[2016-05-11 13:22] Eric89GXL opened #3220 "Sklearn warnings for RandomizedPCA"
In running the `plot_artifacts_correction_ica.py` tutorial with latest `sklearn`:
[code]
Any volunteer to fix it?

[2016-05-11 13:24] Eric89GXL commented on #3164
Closing as "won't fix" until we convince @agramfort it's worthwhile :)

But yes if you can think of a good way to warn people at least that would help.

[2016-05-11 13:26] Eric89GXL commented on #3094
@szorowi1 any luck fixing this one, or are you still stuck?

[2016-05-11 13:27] Eric89GXL commented on #3075
I've noticed this before and poured over the sphinx docs trying to find a way to exclude items from a TOC, or to start the TOC from e.g. one level deep without success. So I'm not optimistic about solving this one, but I'd love to be proved wrong.

[2016-05-11 13:33] Eric89GXL commented on #3073
I think ideally we would offer both modes. I suspect Neuromag folks are already surprised we don't have a way of showing data in the standard channel groups, especially since we already have the selections available.

Right now we plot channels by type, but we don't have to do it that way. So maybe we could:

1. Add `order` kwarg to `raw.plot` (and maybe also `epochs.plot` since it does similar th

[2016-05-11 13:36] agramfort commented on #3073
I like the order API you suggest

[2016-05-11 13:37] Eric89GXL commented on #3063
We could disallow interactivity altogether, but then people will wonder why it's there. So to me the only options are warning and error (although maybe we should make a more explicit message in this interactive case, about how it's not possible to select), and I lean toward error. @jasmainak WDYT?

[2016-05-11 13:39] agramfort commented on #3220
maybe for @kaichogami ?

[2016-05-11 13:39] Eric89GXL commented on #3054
Should we close this, or is there some code action to be taken? Maybe updating the ICA docs somewhere to mention that line noise can be challenging etc.?

[2016-05-11 13:41] Eric89GXL commented on #3043
This one has been fixed, let me know if it doesn't work for you @kingjr

[2016-05-11 13:41] #3043 closed

[2016-05-11 13:42] agramfort commented on #3219
is it not fixed? can you refresh the page?

[2016-05-11 13:44] Eric89GXL commented on #2998
@agramfort you still want to change `equalize_epoch_counts` to something else like `equalize_counts`?

Otherwise I'll re-title that we should find some way to properly document `__getitem__` and the like.

[2016-05-11 13:44] Eric89GXL commented on #2995
I'll probably take this on soonish, unless someone else was planning to.

[2016-05-11 13:46] jasmainak commented on #3063
okay with error, but maybe we need a better message. Also, it might be better to put it in the text (instead of `loading ...`, say `need corresponding gradiometer channel for interactivity` in red font) than in command line?

[2016-05-11 13:48] mmagnuski commented on #3219
Hm, works now. :)

[2016-05-11 13:49] Eric89GXL commented on #2866
Given the technical difficulties, should we close?

[2016-05-11 13:49] #3219 closed

[2016-05-11 13:52] Eric89GXL commented on #3063
Ahh right, yes we could also modify the plot, that would make it very clear.

[2016-05-11 13:55] dengemann commented on #2866
Yes for now.

On Wed, May 11, 2016 at 3:49 PM Eric Larson <notifications@github.com>
wrote:

[2016-05-11 13:59] #2866 closed

[2016-05-11 14:02] Eric89GXL commented on #3168
Bisecting now...

[2016-05-11 14:05] dengemann commented on #3168
the fun thing is that this got fixed 2 times at least.

On Wed, May 11, 2016 at 4:03 PM Eric Larson <notifications@github.com>
wrote:

[2016-05-11 14:12] Eric89GXL commented on #3168
Found it -- @dengemann this commit makes things non-deterministic, which is funny since it's title is "fix seed issue in ICA tutorial":

https://github.com/mne-tools/mne-python/commit/4205bf09fec99067d4c5da667242146e01a10c94#diff-862a5a4a87f90baa4d64932537a53851R154

Notably, the `seed=` kwarg was removed in that commit :(

[2016-05-11 14:16] Eric89GXL commented on #3168
... or rather, the "reference ICA" has no seed, so when (in that commit) it was switched from using the first of the section-based ICAs (which were deterministic) to the "reference ICA", it lost its deterministic-ness.

[2016-05-11 14:17] Eric89GXL commented on #3168
In any case, I'm not sure of the proper fix here (seed the original, or go back to seeding the others and use the first one again), but I'm not surprised it's non-deterministic, because the random state isn't ever set. @dengemann can you fix it?

[2016-05-11 14:18] dengemann commented on #3168
Ok I'll fix it once more. ... I hope for the last time.

On Wed, May 11, 2016 at 4:17 PM Eric Larson <notifications@github.com>
wrote:

[2016-05-11 14:22] kingjr commented on #3054
I'm closing it for now. Thank you all for your comments and help.

[2016-05-11 14:22] #3054 closed

[2016-05-11 14:24] Eric89GXL commented on #3071
@mshamalainen it looks like `mne_process_raw` with a non-zero `--grad` option does not modify the `coil_type`, but I suspect it should. Any ideas?

[2016-05-11 14:35] Mountainmums opened #3221 "maxwell_filter not working with Triux files - channel order issue"
I've been trying to Maxwell filter Triux fif files and have been encountering issues related to the channel ordering. Because Triux files put EOG etc data before MEG, `_update_sensor_geometry` fails on line 1392.

[code]

The channel numbers returned by grad-picks do not align with the size of `cal_chs` which lead to an out of range index error.
Fixing this problem with a dirty hack did not suffic

[2016-05-11 14:52] Eric89GXL commented on #3221
Can you provide a TRIUX file plus your cal file for us to use and add to our testing data to fix it? If you have an empty-room file (i.e., anonymized already) that would be great. We can take care of trimming it down to a small size.

[2016-05-11 14:59] Eric89GXL commented on #2999
This looks fixed to me, feel free to reopen if it's not

[2016-05-11 14:59] #2999 closed

[2016-05-11 17:27] agramfort commented on #2998
yes an epochs method should not contain the word epochs

[2016-05-11 17:36] Eric89GXL commented on #2998
Actually we are okay, it's already `epochs.equalize_event_counts` not `epochs.equalize_epoch_counts`. We do have a *function* `equalize_epoch_counts`, but that's fine.

[2016-05-11 17:44] kaichogami commented on #3220
Yes I will work on it.

[2016-05-12 09:00] Mountainmums commented on #3221
I uploaded a Triux ER file [https://www.dropbox.com/s/ktigl4kov1w7zxl/Triux_ER.fif?dl=0](url)  as well as both ct_sparse [https://www.dropbox.com/s/3nw27ccxa4mrm9o/ct_sparse_triux.fif?dl=0](url) and sss_cal [https://www.dropbox.com/s/7l42tz3bin3pkd5/sss_cal_triux.dat?dl=0](url) files to dropbox.

[2016-05-12 12:17] jona-sassenhagen commented on #2693
Working on this, I've come upon the question for why viz._plot_evoked exists, handling the code for both images and butterfly. Wouldn't it make more sense to refactor these two apart? Or is there a strong rationale to keeping them in one function, depending on the plot_type parameter?

spatial_colors has made type=='butterfly' a lot more complicated, and if I finish this one, 'image' will also be

[2016-05-12 12:24] agramfort commented on #2998
having a function (not a method) with inplace updates and no copy param is certainly a bad idea

this is where the fix should be

[2016-05-12 12:43] #2998 closed

[2016-05-12 13:14] #2808 closed

[2016-05-12 13:16] Eric89GXL commented on #2693
Without looking deeply into the code I don't know for sure, but it could be historical, or it could be that it's more DRY to keep them together. If you want to split them, maybe make a first PR to do only that to see if it makes the code cleaner, or at least as clean as before. That would be a useful test.

[2016-05-12 13:42] Eric89GXL commented on #3221
Great, thanks. Is it okay if we add that file (or some modified version of it) to our testing dataset? Also, which site is this from?

[2016-05-12 13:44] Mountainmums commented on #3221
No problem with adding the file to the testing dataset. The system is in Helsinki, Biomag laboratory in Helsinki Meilahti Hospital.

[2016-05-12 15:18] #3010 closed

[2016-05-12 18:41] kingjr opened #3227 "ENH: FAQ filtering details"
As mentioned in https://github.com/mne-tools/mne-sandbox/pull/7#issuecomment-218825443, it would be great to enhance the FAQ with some details on MNE's default filters, the reasons for having chosen them, and some recommendations we may have.

PR welcome ;)

[2016-05-12 18:43] jona-sassenhagen commented on #3227
I concur.

[2016-05-12 18:44] jona-sassenhagen commented on #3227
In before Alex says "are you volunteering?"

[2016-05-12 23:14] mdnunez commented on #3078
There was not an example of new usage here. If a user has an arbitrary data array but a known EEG montage (e.g. an EGI 128 electrode cap) is the correct usage then the following?

[code]

[2016-05-12 23:18] jona-sassenhagen commented on #3078
I guess that works, although my idea was to use this when you have existing MNE objects and do some calculation on them (e.g., channel activity correlated with RT within-subjects), and just re-use the info from the objects. In that case, you usually have to pick only data channels.

I'll do an example, unless you want to do one.

[2016-05-13 01:43] mdnunez commented on #3078
If a few of the functions can stand alone, mne may be more attractive to those users who want to use their own or other modules. Thanks, in the future I will contribute but I want to learn a little more about mne first.

[2016-05-13 05:51] jaeilepp commented on #3078
There is an example usage of this in http://mne-tools.github.io/dev/auto_examples/decoding/plot_decoding_csp_space.html#sphx-glr-auto-examples-decoding-plot-decoding-csp-space-py, but I think it should be added to vis tutorials too.

[2016-05-13 08:22] cfoodc opened #3232 "Epoching problem-CNT data"
Hi all,

I encountered a problem on my CNT data.
After epoching, I found that data in several channels became all the same.
(in this case, channel index 1,3,5,7,11,13,15....etc, their values are identical)
I am not sure what's going on.

The ipynb and original CNT were attached.
It might be easier to reproduce the problem from the actual files.
https://www.dropbox.com/s/gnbur10vizbsfqw/bug.zip?dl=

[2016-05-13 08:53] cfoodc commented on #3232
I just found there is a same problem during the raw data stage.
Several channels are just flat lines.

<img width="1895" alt="screen shot 2016-05-13 at 4 49 15 pm" src="https://cloud.githubusercontent.com/assets/16938414/15242855/f08f0edc-192a-11e6-914e-8c2df189607b.png">

[2016-05-13 09:06] agramfort commented on #3232
so is it a software problem or just a data problem? If so please close.
thx

[2016-05-13 09:21] cfoodc commented on #3232
I have tried to read the data with spm and eeglab, the data looks like normal.
So it might be a software problem.

[2016-05-13 14:26] Eric89GXL commented on #3221
@Mountainmums the latest version of `master` has been fixed. Feel free to give it a try when you get a chance.

[2016-05-13 14:26] #3221 closed

[2016-05-13 15:05] Eric89GXL commented on #3232
@jaeilepp do you have time to look at this one?

[2016-05-13 15:41] Eric89GXL commented on #3168
@dengemann will you have time for this soon, or should someone else have a look (@jona-sassenhagen maybe?)

[2016-05-13 15:43] Eric89GXL commented on #3094
Closing since I suspect this is a packaging issue that has been resolved (?), but feel free to reopen if I'm mistaken

[2016-05-13 15:43] #3094 closed

[2016-05-14 16:45] dengemann commented on #3168
I will have time on Monday for some MNE hacking.

[2016-05-14 17:34] yarikoptic commented on #2648
FWIW -- tried to build 0.12 and it happened now in clean debian sid (unstable)environment:
[code]
I will try to look into it later

[2016-05-14 21:44] #3036 closed

[2016-05-14 21:45] #2246 closed

[2016-05-15 08:08] agramfort commented on #2648
It's weird as we don't do anything fancy here:

https://github.com/mne-tools/mne-python/blob/master/mne/surface.py#L714

[2016-05-16 11:53] Mountainmums commented on #3221
Downloaded and tried the `master `code today, but still can't get it to work. It only works if I don't use the cross-talk or fine calibration options.

To check what I was doing wrong, I downloaded the test data and ran the test code, but I could not get that to work either.

The filtering with no calibration files (` sss_py = maxwell_filter(raw, coord_frame='meg', regularize=None)` works.

Adding

[2016-05-16 12:15] Eric89GXL commented on #3221
What is mne.__version__? I suspect you might still be on the release
version, not master.

Eric
On May 16, 2016 07:53, "Mountainmums" <notifications@github.com> wrote:

[2016-05-16 12:22] Mountainmums commented on #3221
mne-0.13.dev0-py2.7.

[2016-05-16 12:33] Eric89GXL commented on #3221
Can you paste the trace back and a minimal script that fails on the test
data?
On May 16, 2016 8:22 AM, "Mountainmums" <notifications@github.com> wrote:

[2016-05-16 12:35] Eric89GXL commented on #3221
And can you give the output of mne.sys_info()?

[2016-05-16 12:37] Eric89GXL commented on #3221
That version you gave must come from pip, but what I'm looking for its the
version from within python as `mne.__version__`

[2016-05-16 12:45] Mountainmums commented on #3221
I am just running the script from test_triux()

`    sss_py = maxwell_filter(raw, coord_frame='meg', regularize=None,
                            cross_talk=tri_ctc_fname)`
¨Traceback (most recent call last):

[code]

[2016-05-16 13:30] Eric89GXL commented on #3221
There is something very strange going on, since the first one complains about a `dot` on a line that does no dot product, and the second one is a simple `adjust_logged = True` statement, but it gets an `IndexError`. I think this must be a problem with the installation of latest `master`, it somehow failed and got in a bad state. How did you upgrade? Can you try removing `mne`, ensure it doesn't im

[2016-05-16 13:49] Mountainmums commented on #3221
Yeah, removing everything and reinstalling the latest `master `did the trick. Sorry for the hassle.

[2016-05-16 14:20] Eric89GXL commented on #3221
Thanks for sticking with it. Probably not your fault actually but some
Python installation bug. What was the command you originally used to update
to latest master? I want to try to reproduce the sequence locally and
update our docs if necessary.

[2016-05-16 14:28] Mountainmums commented on #3221
I actually installed it manually, couldn't somehow get the pip command to do the install in the Anaconda directory. Dowloaded the master zip, copied the unzipped mne dir into D:\Anaconda2\Lib\site-packages\mne  and ran `python setup.py install` from the command line, which created the additional D:\Anaconda2\Lib\site-packages\mne-0.13.dev0-py2.7.egg directory.

[2016-05-16 14:48] Eric89GXL commented on #3221
Do you remember what error you were getting with pip? It would be best if
that worked properly for people.

[2016-05-16 15:46] #2648 closed

[2016-05-16 20:13] Mountainmums commented on #3221
I didn't get any error message per say. It's more likely that it's my lack
of python knowledge that's the real probem here.

The pip command installed the toolbox in a src directory on my C/: user
directory rather than in my Anaconda root. Since I wasn't sure what would
happen if I ran the setup from there (maybe I should have tried), I just
went the manual way for the install.
On May 16, 2016 5:4

[2016-05-16 20:17] Eric89GXL commented on #3221
Which command did you run exactly, `pip install -e git+https://github.com/mne-tools/mne-python#egg=mne-dev --user`?

[2016-05-16 20:17] Eric89GXL commented on #3221
And if you still have a log or can recreate it, knowing exactly where it installed it would be useful.

[2016-05-16 20:21] Mountainmums commented on #3221
Yeah, that was the command I used. I'll run it again tomorrow and post the
log and info.

On 16 May 2016 at 23:17, Eric Larson <notifications@github.com> wrote:

--
-- - - -- - - -- - - -- - - -- - - -- - - -- - - -- - - -- - - -- - - --
Muriel LOBIER
Post-doctoral Scientist
Neuroscience Center <http://www.helsinki.fi/neurosci/groups/palva_satu.html>
- University of Helsinki
<muriel.lobier@upmf-gr

[2016-05-16 20:22] Eric89GXL commented on #3221
Great, thanks. If you could also do the same command without the `--user` appended that would also help. I think our README is out of date and the `--user` is not supposed to be there, which might be what led you astray.

[2016-05-16 20:25] Mountainmums commented on #3221
Think I tried both options, but I'll check tomorrow.

On 16 May 2016 at 23:22, Eric Larson <notifications@github.com> wrote:

--
-- - - -- - - -- - - -- - - -- - - -- - - -- - - -- - - -- - - -- - - --
Muriel LOBIER
Post-doctoral Scientist
Neuroscience Center <http://www.helsinki.fi/neurosci/groups/palva_satu.html>
- University of Helsinki
<muriel.lobier@upmf-grenoble.fr>
tel : +358 (0) 44 0347333

[2016-05-17 05:28] jaeilepp commented on #3232
Taking a look now.

[2016-05-17 07:42] jaeilepp commented on #3232
Looks like the problem is that the data is in 32 bits instead of 16. The annoying thing is that this info is not included in the header, so I'll have to infer it from the data.

[2016-05-17 10:22] Mountainmums commented on #3221
So I played around with things a bit and figured out what had me confused. Running` pip install -e git+https://github.com/mne-tools/mne-python#egg=mne-dev` with or without `--user `behaves similarly for me: it downloads mne to a /src dir created in whichever dir I am running the command from.
[code]
What messed me up is that I didn't know that the -e option leads pip to not install in /version-pac

[2016-05-18 16:20] Eric89GXL commented on #3227
Cross-ref #1941 for papers

[2016-05-18 23:54] kingjr opened #3239 "ENH: add `auto` param in filter functions"
Currently, classic high pass filtering (i.e. `< 0.2` Hz) crashes when uses default, because the transition bandwidth are too large.

As changing the default would create backward incompatibility and differences with MNE-C .

We suggest to add an `auto` param to adapt the transition bandwidth according to the frequency.

cc @choldgraf @Eric89GXL @jona-sassenhagen

[2016-05-19 01:09] Eric89GXL commented on #3239
From talking to @rkmaddox, our defaults might be a little extreme. For example, a 10-second FIR with a 0.5 Hz transition to low-pass at e.g. 40 Hz might be a bit overkill. At the very least, adding `length='auto'`, `*_trans_bandwidth='auto'` could alleviate this a bit, and making them the defaults after a couple of releases might be worth thinking about.

[2016-05-19 01:11] Eric89GXL commented on #3239
I'll probably dig into this issue at the same time as #3227 (filtering FAQ), hopefully this summer sometime.

I should also look and see what MNE-C does for filtering, since I don't think it's identical to what we do (IIRC our filters are at least longer).

[2016-05-19 06:02] agramfort commented on #3239
I am fine with auto options if they are well tested before merging

[2016-05-19 15:48] choldgraf commented on #3239
I also like the 'auto' idea, and am very +1 for a guide / tutorial / whatever on filtering. It's one of the issues that's commonly not well understood in neuroscience IME. Happy to give feedback on writing etc.

It would be awesome if there were enough MNE materials to basically fill a semi-advanced undergrad course in neuro data analysis :D

[2016-05-19 16:24] dengemann commented on #3239
Better defaults would be nice here. Our filter API is a bit cumbersome.

[2016-05-19 16:27] dengemann commented on #3127
Another solution, just edit the figure post-hoc:

[code]

[2016-05-19 16:28] dengemann commented on #3127
In the latter case make sure to plot with show=False and call fig.canvas.draw() and plt.show() once you're done

[2016-05-20 15:53] kingjr commented on #774
Encountered the problem again on a recent ubuntu 14.04 + conda install.

It used to work. Not sure what happened in between...

@MadsJensen 's trick fixed it.

[2016-05-20 16:01] kambysese commented on #774
@kingjr this issue never went away. I've been linking to libgfortran3.so that comes with anaconda.

[2016-05-20 16:44] kingjr commented on #774
We should add something in the FAQ then

[2016-05-20 21:36] kingjr opened #3242 "BUG: DigMontage and related"
`DigMontage` doesn't check the input types properly.

E.g. `dev_head_t` is not checked to be a 4x4 np.array (I passed a `mne.transform.Transform` instead).

Related to this issue, when doing `epochs.set_montage(DigMontage(...)).save()` this starts to save the epochs, but crashes because of the wrong montage. This means that if you overwrite a file, you lose the data.

I'm thus wondering whether we

[2016-05-20 21:50] kingjr commented on #3242
To be more explicit you can do

` DigMontage('bar', 'foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'foo', 'foo')`

without any error.

[2016-05-20 22:24] kingjr opened #3243 "Q: CTF coregistration with separate coil position?"
### Problem

I am trying to coregister CTF data with an MRI to produce a `-trans.fif`

### What I have

The MEG data is separate from the positions in digitizer space so the `raw` file doesn't know about: `hpi_coils.txt`, `head_shape.txt`, `fiducials.txt`.

The HPI coil positions in MEG device space seem to be stored in the `raw` file: `'dig_points'` and `'coord_trans'` are present in `raw.info['h

[2016-05-21 05:23] kambysese opened #3244 "Elekta xfit dipole file reader"
@Eric89GXL it looks like the parsing of the xfit dipole file is prone to being botched likely due to how users decide to write out the `.dip` file (i.e. what fields to include). [Here](https://www.dropbox.com/s/hk3ez4512ml1168/All_157_RH.dip.txt?dl=0) is an e.g. dipole file; and the resulting `__dict__`

[code]
`gof` and `amplitude` fields are off and I am not sure how the `ori` is being represent

[2016-05-21 07:28] agramfort commented on #3242
can you give a script to replicate the bug?

[2016-05-21 07:41] #3232 closed

[2016-05-21 08:00] agramfort commented on #3243
no idea without inspecting the data

[2016-05-21 11:57] kingjr commented on #3242
[code]

[2016-05-21 23:41] Eric89GXL commented on #3244
I guess we'll have to modify the reading and writing functions to actually
deal with the header text :(

[2016-05-22 21:09] teonbrooks commented on #3243
hey, just now seeing this, the approach is that your digitized data (headshape (in head space), head position indicator points (in MEG space), electrode location positions (in head shape)) should be used to generate a DigMontage (we can have a discussion if this nomenclature is unclear or confusing, and possibly have a clearer use case if it doesn't make sense).
For the coil position, assuming hpi

[2016-05-22 22:22] kingjr commented on #3243
Thanks @teonbrooks. I'll try to check the hpts file generation in the manual next week, and eventually upload the data if I remain stuck.

I don't think the files coding for the head shape etc are standard. However, IIUC, CTF doesn't naturally include head shape etc in the .ds folder, so we may need to add a tutorial on this specific point.

[2016-05-23 13:28] agramfort commented on #3242
@kingjr did you loose data? this tmp file moving seems a bit an overkill
... let's rather fix the IO pb with a better check_info that crashed before
starting to write

[2016-05-23 13:37] kingjr commented on #3242
I did but I shouldn't have overwrote on the same filename, so it's partly my fault. (I still have backups so no worry)

The temp moving proposition just a generic caution idea, but I agree the priority is to fix the DigMontage.

[2016-05-23 17:27] Eric89GXL commented on #3239
It just occurred to me that we could also give some warnings when people use filters that are too long for the given data, e.g. a FIR filter with too many coefficients or an IIR filter that rings too long (although this might be too expensive to estimate, I'd have to see).

[2016-05-23 18:24] choldgraf commented on #3239
I'd be +1 for that if it doesn't take too much time, though I bet using an
'auto' option as well as including some good documentation on this would be
sufficient.

On Mon, May 23, 2016 at 10:28 AM, Eric Larson <notifications@github.com>
wrote:

[2016-05-23 18:26] Eric89GXL commented on #3168
@dengemann it's been a while, any time for this one or should we get someone else on it?

[2016-05-24 11:38] jaeilepp commented on #3120
This is now done in https://github.com/mne-tools/mne-python/pull/3237 although there is no color parameter. The color is automatically defined when you use an array as ``regions``. See if it satisfies you.

[2016-05-24 19:16] agramfort commented on #3120
quick feedback after playing a bit with it

- regions seems like a misnomer as it can be a list of arrays that are not clusters / form regions

- regions='selection' would allow to see the automatic selections used in raw.plot

- raw.plot_sensors(ch_type='grad', regions='position')  # crashes on SPM dataset
# returns:
RuntimeError: Did not find any digitization points of kind FIFFV_POINT_EEG (3) i

[2016-05-25 11:54] jaeilepp commented on #3120
Any suggestion for a better name? All the other comments addressed.

[2016-05-25 20:59] kambysese opened #3247 "FLASH bem pipeline"
It looks like `mne flash_bem` has undergone significant overhaul since `0.11` I am having issues making the script play nice with existing  structural databases i.e. without using `mne_organize_dicom`. What is the expected input into `mne flash_bem`? When I invoke the script in a directory with files linked to the 5/30 flash files in nifti format, I get the following trace:

On a related note `mne

[2016-05-25 23:15] kingjr opened #3248 "BUG: incorrect freq bandwidth in FilterEstimator"
@trachelr I'm not entirely sure but I think there is a problem with the transition bandwidths in your [`FilterEstimator`](https://github.com/mne-tools/mne-python/pull/2292).

Can you confirm or infirm that the low and high bandwidth are adequate?
https://github.com/mne-tools/mne-python/blob/master/mne/decoding/transformer.py#L484

If not, I'll mark the issue as a bug, but don't worry about submitt

[2016-05-25 23:22] kingjr commented on #3248
Here's what I would have expected:

[code]

[2016-05-25 23:24] Eric89GXL commented on #3247
If you comment out the bit about `mne_origanize_dicom` does it work? If so maybe we can add an option to at least `mne.bem.make_flash_bem`.

[2016-05-25 23:26] kingjr commented on #3248
(BTW @Eric89GXL, would it make sense to change `band_pass_filter` to handle `Fp1=None` or `Fp2=None` ? Else we could add a generic `filter` function that applies the above. It seems that this kind of sorting should be handled at a pretty low level, not by a decoding transformer)

[2016-05-26 00:19] jasmainak commented on #3248
@kingjr while you're at it, keep in mind that some of these things were added with the real-time functionality in mind. They were made to work on `Epochs` objects for that reason. We should be careful not break it as I'm aware there are quite many people using it ...

[2016-05-26 00:53] kambysese commented on #3247
There is a `--noconvert` kwarg for `converts_flash_mris` which will work once I figure out if my flash files are properly converted and where they should be. Will close for now.

[2016-05-26 00:53] #3247 closed

[2016-05-26 01:13] agramfort opened #3249 "bug with multitaper DICS"
see mailing list message:

[code]

[2016-05-26 01:17] kingjr commented on #3248
(@jasmainak We should discussed this elsewhere. We've chatted quite a lot with @dengemann and @kaichogami on this topic, and the issue is that
* passing `epochs` cannot comply with sklearn functions (e.g. `cross_val_score`, `cv` etc).
* Some sklearn objects expect 2D arrays (several `ensemble` objects)

Furthermore there are some inconsistencies across estimators:
* some like `PSDEstimator` and `F

[2016-05-26 09:21] sstober opened #3252 "issues with loaded ICA object"
Hello,
I've stumbled across several issues working with a loaded ICA object. This object was created with
[code]
From the log messages, it looks like it is properly computed:

The object is then saved with ica.save(...) and later loaded with read_ica(...).

When I print the loaded object it says:

So it looks like the fit was either not stored or read correctly.

Another issue arises, when I call

[2016-05-26 09:40] agramfort commented on #3252
@sstober thanks for the bug report.

@jaeilepp want to have a look?

[2016-05-26 11:30] jasmainak commented on #3248
if the real-time examples work without breaking, I'm fine with the changes.

[2016-05-26 12:03] Eric89GXL commented on #3248
No because then it's a misnomer

Yes that sounds better :)

You can probably get most of the logic from `mne.io.Raw.filter` and move it to a new `mne.filter._filter` function. For now please make it private so we can tweak it as we want for the upcoming filtering "auto" modes.

[2016-05-26 12:55] kingjr commented on #3248
@jasmainak We'll do our best ;) I think one possible solution would be to recognize the input type (`epochs`, 2D array, 3D array).

@Eric89GXL Ok, I'll open an issue, but I have too many PRs to finish first.

Regarding the present issue, do you agree that the following lines seem weird:

[code]

[2016-05-26 12:57] kingjr opened #3255 "ENH: generic filter function"
As mentioned in https://github.com/mne-tools/mne-python/issues/3248, it would be great to have a generic filter function that automatically detects whether it should be high/low or band passed.
e.g.
[code]

[2016-05-26 13:05] kingjr commented on #3255
Wait until https://github.com/mne-tools/mne-python/issues/3239 is done to start PR

[2016-05-26 13:10] #3100 closed

[2016-05-26 13:17] Eric89GXL opened #3256 "BUG: Download dir"
We should default to `~/` somewhere, people during teaching are having problems with putting it in `examples/` by default.

[2016-05-26 13:23] kingjr commented on #3256
+10

[2016-05-26 13:41] larsoner opened #3257 "ENH: Screencast of coreg"
Would help people use mne_analyze and/or mne coreg gui to do coregistration.

[2016-05-26 16:26] Eric89GXL commented on #3248
It should match how it is done in `raw.filter`, so it looks like the low-pass and high-pass conditions are wrong

[2016-05-26 16:40] agramfort commented on #3257
+1

[2016-05-26 16:50] agramfort commented on #3256
+11

[2016-05-26 17:07] Eric89GXL opened #3258 "ENH: Select sensors using interactive visualization"
Often for dipole fitting it's convenient to subselect a set of sensors to fit or exclude. We should modify `plot_sensors` to have interactive channel selection and pass back the set of selected sensors.

[2016-05-26 17:08] trachelr commented on #3248
Hi guys, sorry for the delay... I'm little bit out of focus.
@kingjr @Eric89GXL just open a PR and I'll fix it

[2016-05-26 17:09] Eric89GXL commented on #3258
Selecting via clicking on channels or via rectangular selection would be good

[2016-05-26 17:30] choldgraf commented on #2796
Hey all - what's the status on the encoding model module for MNE? Are new changes merged yet? I'm looking through my STRF code (and the STRF literature a bit), and I'm wondering if it's worth having a separate module or repository specifically for STRFs, as opposed to the general linear modeling module.

Looking through the code now, it looks like the linear modeling stuff is `rERP` focused. So I

[2016-05-26 17:37] jona-sassenhagen commented on #2796
Have you checked if you get the same results from the rERP code as from yours? In principle, it should be, right? I use it for continuous (dense) predictors actually.

Your code is great though and since I'm a lazy ass, maybe it'd just be best to try and get yours merged.

[2016-05-26 17:50] Eric89GXL commented on #2796
Sounds like there is (at least) the rERP code, `ecogtools` code, and @rkmaddox's code that ideally we'd unify if possible. If some of it turns out to be too domain specific then we don't have to. From the MNE-Python end, maybe we can settle on a usable API, then worry about unifying the codebases afterward.

@choldgraf what function do you want (i.e., API proposal) that you don't currently have?

[2016-05-26 18:04] Eric89GXL opened #3259 "BUG: raw.filter with picks that include all data channels"
Should set e.g. `info['lowpass']`

[2016-05-26 18:07] Eric89GXL opened #3260 "ENH: Add `--filterchpi` to `mne browse_raw`"

[2016-05-26 18:11] kingjr commented on #2796
ASAIK it's the same modeling approach, just different input features

[2016-05-26 18:13] choldgraf commented on #2796
I agree, in my mind the modeling would be the same, but there are some STRF peculiarities that might be useful to have in a separate module (e.g., a STRF class that collects the weights and names them correctly, has its own plotting functions, etc, or functions for doing things like SVD cleaning of STRFs or supporting non-linear-modeling algorithms such as classification STRFs).

@Eric89GXL @jona-

[2016-05-26 18:15] choldgraf commented on #2796
But I agree in general the math is all the same. Maybe it's better to just have a good example included to illustrate STRF functionality.

[2016-05-26 18:15] Eric89GXL commented on #3259
cc @espressofiend we'll fix this soon

[2016-05-26 18:15] Eric89GXL commented on #3260
cc @espressofiend we can get this one, too

[2016-05-26 18:15] jona-sassenhagen commented on #2796
STRF is not in the sandbox currently is it?

[2016-05-26 18:18] choldgraf commented on #2796
Nope, not in sandbox but I could open a PR there if people would like to see it...

[2016-05-26 19:06] kingjr commented on #2796
+1

This is the kind of thing we may want to do with scikit-learn's pipeline: e.g.:

[code]

I'm +1 on coding this with you if you want :)

[2016-05-26 19:21] jona-sassenhagen commented on #2796
I have recently factored out the part of rERPs that builds the predictor matrix btw. That makes encoder models fairly easy with the code at hand.

[2016-05-26 20:02] choldgraf commented on #2796
@kingjr that's a cool idea! Probably worth planning it out carefully though, to make sure that it's useful for many use cases. I'm +1 for hashing out details. My main concern would be CPU time, since many people seem to pre-compute their features to avoid taking too long, but I suppose it would be easy to just reconfigure your pipeline as needed.

I think in general w/r/t an API, I like the scikit

[2016-05-26 20:13] kingjr commented on #2796
You can make a transformer pipeline outside the CV. e.g.
[code]

As long as your transformers are unsupervised it doesn't change much (BUT don't do this in a publication, it *can* help, it's just generally a small benefit)

I'm writing a lot of new transformers for my own work these days, so I get a feeling that this API is extremely efficient, especially as compared to what we currently do in MNE

[2016-05-26 20:15] choldgraf commented on #2796
sounds good - hmmm, I do have a dataset with some natural speech we could use, I think the question is whether there are any legal questions to think about. If I anonymize the data, remove electrode information, and include a subset of randomized natural speech stimuli, and only include a subset of electrodes, that seems reasonable to me...WDYT?

[2016-05-26 20:22] kingjr commented on #2796
As long as the audio is not the patient's own or entourage's voice, I would say yes. I also have a dataset, but it's synthetic and less rich than continuous speech.

We can just share upon request and/or put it on a private github rep and/or encrypt it, this would be ethically safe (it's just a matter of lab internal policy beyond this stage). I can put it on S3 (safest) or on my dropbox pro (not

[2016-05-26 20:24] jona-sassenhagen commented on #2796
I have plenty of EEG data with continuous speech, and there's also the HCP data.

[2016-05-26 20:24] jona-sassenhagen commented on #2796
So, no ethical issues with either.

[2016-05-26 20:24] choldgraf commented on #2796
I think if we replaced the ambient microphone with .wav files for the speech sentences, that might work. We need to have some kind of ECoG dataset in there anyway. Lemme talk to Bob, I'm going to meet with him tomorrow anyway.

[2016-05-26 20:28] choldgraf commented on #2796
Though EEG would work too...I'm not sure how appropriate that is for STRF modeling however (e.g., SNR is pretty bad and the few papers I've seen that do auditory feature modeling of EEG signals have an R2 of like .001 I think. e.g.: [this paper](http://www.cell.com/current-biology/abstract/S0960-9822(15)01001-5)

[2016-05-26 20:29] jona-sassenhagen commented on #2796
Yeah you hardly see anything in a single-subject recording of less than 30 mins.

[2016-05-26 20:32] kingjr commented on #2796
Yes, I think it's sig. with EEG, but pretty poor. Are you guys going to HBM, maybe we could have a coding session there?

[2016-05-26 20:33] jona-sassenhagen commented on #2796
I'm planning on being there. Have you booked hotel rooms already? :)

[2016-05-26 20:35] kingjr commented on #2796
I haven't; do you want to share one? (maybe we should pursue this thread elsewhere than github ...)

[2016-05-26 20:36] jona-sassenhagen commented on #2796
I'll write you guys an email. Coding session at HBM would be great, I write most of my code while not paying attention during keynotes!

[2016-05-26 20:40] choldgraf commented on #2796
I would *love* to go to HBM this year but probably not going to. Partially because I've been spending all my time trying to resubmit a paper rather than doing new analyses, and partially because I've already got too much travel planned that year. But I am down to remotely live-code :D

[2016-05-26 23:49] agramfort commented on #3252
@sstober can you give a try to https://github.com/mne-tools/mne-python/pull/3254 to see if it fixes your pb?

[2016-05-27 04:34] sstober commented on #3252
Yes, the issues are resolved for newly computed ICAs. Thanks a lot! The previously saved ICA object computed with extended-infomax still loads as fastica though. I guess there’s no way to fix this.

[2016-05-27 06:06] jaeilepp commented on #3252
Yeah, the value wasn't saved to the file before the fix. On read it defaults to 'fastica'.

[2016-05-27 09:47] #3168 closed

[2016-05-27 09:47] #3252 closed

[2016-05-27 10:59] #3163 closed

[2016-05-27 12:38] ARudiuk opened #3262 "Missing sphinx extensions"
To get my make working I had to install sphinx-gallery and sphinx_bootstrap_theme. I don't see a reference to them in the contributing documentation, but it seems they should be under the list of development related tools.
Should I add them to the list of python libraries?

[2016-05-27 12:43] Eric89GXL commented on #3262
Yes please add a section to contributing about how to build docs. It can start with these requirements and we can expand as you hit more snags :)

[2016-05-27 13:32] Eric89GXL opened #3263 "FIX: Documentation of TFR.plot"
Some of the modes are not properly documented, e.g. "percent".

[2016-05-27 14:03] ARudiuk commented on #3262
I did a couple things, and it seems to work now. The steps were essentially:
1]make cond up to date 'conda update --all'
2]check versions of libraries used in .travis.yml, 'PYTHON=2.7 DEPS=full TEST_LOCATION=src NUMPY="=1.9" SCIPY="=0.17"'
3]remove packages that are not working 'conda uninstall numpy scipy matplotlib mkl scikit-learn'
4]reinstall with constraints from step 2 'conda install numpy=1

[2016-05-27 14:13] Eric89GXL commented on #3262
Sorry for the pain, hopefully Anaconda can fix the dependency bugs soon. Don't include those steps in the contributor instructions, but maybe we should add those to the Python install instructions about what to do if Anaconda fails to resolve dependencies properly. Let's wait to do that (in a separate PR), though, in case Anaconda fixes their bug in the meantime.

[2016-05-27 14:25] ARudiuk commented on #3262
So just the sphinx stuff for now?

[2016-05-27 14:28] Eric89GXL commented on #3262
Yeah, a "how to build the doc" type section. If you have time, take a look at `doc/Makefile`, too -- it would be nice to document at least `make html_dev` and `make html_dev-noplot`, `make html_dev-pattern`.

[2016-05-27 15:41] romquentin commented on #3243
Hey,
Thanks for the help.
Here is a link to the data (https://www.dropbox.com/s/a7lx0oe264kr9f8/CTF_source.zip?dl=0) with:

1- MRI T1
2- epochs.fif
3- headshape.txt (with 262 points and fiducials at the end)
4- HPIcoils.txt

We used Brainsight (a set-up with subject tracker and infrared camera mainly use for neuronavigation during TMS stimulation) to create headshape.txt and HPIcoils.txt. The coor

[2016-05-27 16:18] pbrusco opened #3264 "Can't import data from EEG-LAB"
Hello,

I'm having issues importing raw EEG data with mne.io.read_raw_eeglab(set_filename)

It seems to be related with the events on the file:

![eeglab-import](https://cloud.githubusercontent.com/assets/1205576/15614009/b474010e-240c-11e6-9798-3e775db81231.png)

I tried importing the data by hand and seems to be working.

![eeg-lab-import-2](https://cloud.githubusercontent.com/assets/1205576/156

[2016-05-27 16:20] jona-sassenhagen commented on #3264
How was the EEGLAB .set file created?

[2016-05-27 16:32] mmagnuski commented on #3264
Some older eeglab files may have event type as integer. It is not allowed in current eeglab version (if I remember correctly). `eeg_checkset` (in matlab) should turn these to string.

[2016-05-27 16:44] jona-sassenhagen commented on #3264
This could be easily fixed by forcing events to be str, but I'm not sure we should support old EEGLAB version files. Any opinions?

[2016-05-27 16:50] jasmainak commented on #3264
is there a way to check what is the EEGLAB version from the `.set` file?

[2016-05-27 17:05] Eric89GXL commented on #3264
Casting to string seems fine to me, assuming the older files otherwise work. But maybe we should emit a warning about old files if we can get the version as @jasmainak asked

[2016-05-27 17:07] jona-sassenhagen commented on #3264
pbrusco can you make the file in question available somehow?

[2016-05-27 17:24] pbrusco commented on #3264
Thanks for the fast answers (I think the files are a little bit old, but not too much)

https://dl.dropboxusercontent.com/u/43547597/test1.set
https://dl.dropboxusercontent.com/u/43547597/test1.fdt

[2016-05-27 18:02] Eric89GXL opened #3265 "DOC: Getting started with Python"
I think we used to have links, but might not anymore (or they aren't obvious). We could use some combination of:

This blog post:
http://www.russpoldrack.org/2016/05/advice-for-learning-to-code-from-scratch.html

Hacker Rank:
https://www.hackerrank.com/

Codecademy:
https://www.codecademy.com/learn/python

Coursera:
https://www.coursera.org/specializations/python
https://www.coursera.org/specializ

[2016-05-27 18:43] ARudiuk opened #3267 "INF values when using ICA with EEG"
The following code will crash MNE
[code]

The error is related to the fact that at some point INF values are inserted into the X matrix when training the ICA.

[2016-05-27 18:49] agramfort commented on #3267
I can replicate

[2016-05-27 18:59] Eric89GXL opened #3268 "FIX: Evoked.apply_baseline"
We should probably deprecate the `baseline` parameter of `read_evokeds` since we don't need it once we have `Evoked.apply_baseline`. It makes us more consistent with `Epochs`, too.

[2016-05-27 20:04] jona-sassenhagen commented on #3264
@jasmainak do you want to do it or should I?

[2016-05-28 00:06] jasmainak commented on #3264
@jona-sassenhagen feel free to take a stab at it. Thanks!

[2016-05-29 00:46] espressofiend opened #3269 "ENH: ICA component raster plots"
Especially for EEG, many ICs may be noise - we often see ~5-6 EOG components (including both blinks and horizontal movements), as well as noisy channels and other things. ica.plot_scores does not detect all of these so manual artifact component identification is typically required.

In practice we have found (in EEGLAB) that the combination of scalp topography and individual trial raster plots pro

[2016-05-29 10:41] jona-sassenhagen commented on #3269
Duplicate of #2747

For (semi-)automatically identifying EOG components, consider `ica.find_bads_eog` and `ica.corrmap`. They are explained in the tutorial: http://martinos.org/mne/stable/auto_tutorials/plot_artifacts_correction_ica.html

(There is still a bug in the Corrmap part.)

[2016-05-29 13:38] agramfort commented on #3269
@espressofiend it's something like

[code]

to get the raster for the ICA sources for your epoch.

[2016-05-29 14:26] agramfort commented on #3243
is someone on this?

[2016-05-30 11:30] agramfort commented on #3269
I thought about this. In terms of API it could be:

ica.plot_sources_prop(epochs) -> shows topo, raster and spectrum
ica.plot_sources_prop(raw) -> shows topo and spectrum

wdyt?

[2016-05-30 12:09] jona-sassenhagen commented on #3269
Why not keep the auto segmentation of continuous data EEGLAB does? It's a few lines to do it manually, and really handy IMO.

Also, IMO it should be available for channels too, not just components. If you think of it like that, it makes more sense to use

```ica.get_sources(inst).plot_propertiers([0])```
```inst.plot_propertiers([0])```

[2016-05-30 13:19] espressofiend commented on #3269
From my perspective, way EEGLAB works is useful, however the process of clicking through 20-30 components to see the rasters is a waste of time. A function that plotted the rasters of all components the way `ica.plot_components` does for the topos would be idea IMO - or one that plotted the topos and rasters side-by-side, but required only one call to plot all the components at once. In my experie

[2016-05-30 13:33] jaeilepp commented on #3243
I believe the problem with the conversion is in the format of the data. It seems that there needs to be an ID for each digitization point. So I tried adding a number in front of couple of the points and it seemed to work.

[2016-05-30 18:23] ARudiuk opened #3271 "Unused variable in test code"
The variable `evoked_nf_name` is declared in several testing modules, but is not actually used in any of them except for one from my search. Should it be removed from those files? What's the policy on unused variables?

[2016-05-30 19:06] Eric89GXL commented on #3271
Yes please get rid of them. We don't keep unused variables. Usually
pyflakes catches them but it can't for top-level variable creation.

[2016-05-31 08:26] agramfort commented on #3269
do we have a volunteer to give this a try?

[2016-05-31 13:17] mmagnuski commented on #3269
I'd happily give it a try this week.
I was thinking about adding some interactivity - keybord left/right and/or left/right buttons to navigate between component properties. So for example `ica.get_sources(inst).plot_properties()` would allow to interactively explore properites of all the components. Or `ica.get_sources(inst).plot_properties(interactive=True)`? WDYT?

[2016-05-31 14:21] agramfort commented on #3269
start by making it work without interaction for now

thanks for volunteering

[2016-05-31 16:11] espressofiend commented on #3269
Yes that's great, thanks! I'm happy to alpha-test if you want.

Aaron

On Tue, 31 May 2016 at 11:21 Alexandre Gramfort <notifications@github.com>
wrote:

[2016-06-01 01:46] mmagnuski commented on #3269
Ok, I'll start without interaction.
Besides topoplot, trial-image, erp and spectrum I also plot scatterplot of within-epoch variances (sometimes useful for identifying muscle artifacts (see Hipp 2013) or epochs with strongest component activity (bad epochs / blink epochs etc.)). But if you don't like the variance scatterplot, I can remove it :)

Here are some examples:
<img src="https://cloud.gith

[2016-06-01 02:42] espressofiend commented on #3269
I think that looks great! The variance plots are nice. Also the spectrograms are nicer than what's in EEGLAB :)

[2016-06-01 02:54] ARudiuk commented on #3271
When the fork is merged into master should I close the issue. Like this one?

[2016-06-01 10:14] jona-sassenhagen commented on #3269
Wow, these look great!

[2016-06-01 12:01] agramfort commented on #3271
yes. If you had written `closes #3271` is the PR description if would have been closed automatically.

[2016-06-01 12:01] #3271 closed

[2016-06-01 12:27] agramfort commented on #3269
@mmagnuski can you open a PR? thx

[2016-06-01 13:25] mmagnuski commented on #3269
@agramfort Yes, I'll open the PR today. The implementation is still quite hackish and I'll have at least a couple of questions on API and some details.

[2016-06-01 15:00] pbrusco commented on #3264
@jasmainak, in the mean time, do you recommend me to download the mne source code and just change cast events to string? Thanks :)

[2016-06-01 15:02] jona-sassenhagen commented on #3264
Sorry, I'll try and get something done today. 

[2016-06-01 17:22] kingjr opened #3274 "BUG: set_config() doesn't change value accessed via get_config()"
It's probably a bad setup on my part, but I can't seem to make `mne.bem.make_watershed_bem` to work.

I try to explicitly export and source Freesurfer and MNE (C) in the bash and/or via `subprocess` or `os.sys()`, but I keep having the following error with the command

`mne.bem.make_watershed_bem(subject, subjects_dir, overwrite=True)`

[code]

However, when running the command directly in the ter

[2016-06-01 17:42] Eric89GXL commented on #3274
If you do the setup in a `bash` shell, and then start `python` from there, it should work. It sounds like you've tried that, though. You should be able to go through some sequence like:
[code]
Can you try it?

My crystal ball suggests you will repay your debt for the noise with a PR to the docs about debugging steps :)

[2016-06-01 17:43] Eric89GXL commented on #3274
(you can adjust the above commands to use `mri_watershed --version` instead, too)

[2016-06-01 17:53] kingjr commented on #3274
`which mne_process_raw`
`/home/jrking/MNE-2.7.4-3452-Linux-x86_64//bin/mne_process_raw`

`python -c "import subprocess; subprocess.Popen(['mne_process_raw', '--version'])"`
`mne_process_raw version 2.36 compiled at Aug  9 2015 04:23:55`

still same error

[2016-06-01 17:55] Eric89GXL commented on #3274
Try it with `mri_watershed --version`

[2016-06-01 18:14] kingjr commented on #3274
Thanks @Eric89GXL . I had (forgottent that I had) saved an (incorrect) environment variable `FREESURFER_HOME` in `~/.bashrc` which is resourced by python `subprocess`.

Not sure how to improve the documentation... I think we should mainly make the error more explicit and make an actual check that freesurfer functions are accessible.

I'll close this one in favor of https://github.com/mne-tools/mne

[2016-06-01 18:18] kingjr commented on #2814
`mri_watershed` called by `mne.bem.make_watershed_bem` (identified in https://github.com/mne-tools/mne-python/issues/3274)

[2016-06-01 18:38] Eric89GXL commented on #3274
"I can't get this MNE-C or FreeSurfer command to run from Python, what do I do?" followed by debugging steps

It's general enough a problem that I don't think will be fully solved by #2814 -- I think we should provide people with these sorts of debugging steps. You could start a PR to document it just by way of this example. In other words, show the error you got, how you debugged it, and what you

[2016-06-01 19:32] romquentin commented on #3243
Thanks. Indeed, it is working with the number before the 3 coordinates.

[2016-06-01 20:03] romquentin commented on #3243
But I do not know how to use the hpts file now. Should I use mne.gui.coregistration?
I still have the HPIcoils.txt in the anatomical MRI coordinates in mm.
In general, should it be better to have all informations (fiducials, headshape and HPIcoils position) in the anatomical MRI space?
Thanks a lot!

[2016-06-01 20:10] agramfort commented on #3243
use mne_analyze if you have it working (mac or linux).

see:
http://martinos.org/mne/dev/manual/gui/analyze.html#coordinate-frame-alignment

[2016-06-01 20:13] agramfort commented on #2814
the _prepare_env in bem.py is meant to check early. it's not good enough?
if not PR welcome

[2016-06-01 20:19] romquentin commented on #3243
Ok. Thanks. I will try that (I am on mac).

[2016-06-01 20:33] kingjr commented on #2814
Apparently not.

I started a PR to try to automatically detect freesurfer directory in case the user hasn't given the right env variables (or whatever other reason, such as conflict between profile sources).

I'm nearly there:
https://gist.github.com/kingjr/97d19a1d5d2af7b2f7e5b9b7badfe4d2

But didn't manage to capture the failure to launch `SetUpFreeSurfer.sh`, and I'm spending way too much time

[2016-06-01 22:49] jona-sassenhagen commented on #3264
How do we go about testing for this? Probably don't want to add a new EEGLAB data file just for this.

@pbrusco in the meantime, I'd try loading and re-saving the file in a current version of EEGLAB.

[2016-06-01 23:37] kingjr commented on #3274
I think this is may be the origin of my problem
`set_config` doesn't seem to update `os.environ`:

[code]

[2016-06-01 23:50] Eric89GXL commented on #3274
That's by design, it only updates the mne python configuration. I guess any
function we launch we could pass a populated environ dict. We shouldn't
modify os.environ, though.

[2016-06-01 23:51] kingjr commented on #3274
but `set_config` should change the variables in `get_config` shouldn't it?

[2016-06-02 01:05] pbrusco commented on #3264
@jona-sassenhagen Ok, good idea ;), thanks!

[2016-06-02 01:14] Eric89GXL commented on #3274
Yeah it should. But that's separate from what should happen to os.environ
(what you mentioned originally)

[2016-06-02 06:48] choldgraf commented on #2796
So looking through the code (based largely on `linear_regression_raw`, right?), it seems like we could split up some of the machinery in there to make it a bit more modular, and maybe that'd be easier to build into a more general "encoding" framework.

Right now, `linear_regression_raw` basically says:

1. Give me an instance of raw along with a set of events. Specify the tmin/tmax for creating ti

[2016-06-02 15:24] romquentin commented on #3243
When I run mne_analyze, I get this error:
`dyld: Library not loaded: libquicktime.dylib`
 `Referenced from: /Applications/MNE-2.7.4-3420-MacOSX-x86_64/bin/mne_analyze`
 `Reason: image not found`
`Trace/BPT trap: 5
`
Any ideas?
Thanks

[2016-06-02 15:25] agramfort commented on #3243
how did you setup mne-c?

[2016-06-02 15:32] romquentin commented on #3243
Thanks... I changed the .bash_profile and it works!

[2016-06-02 15:42] Eric89GXL commented on #2796
I don't really know too much about it to comment deeply. But my suggestion would be to start simple by adding some encoding code here or in the sandbox with an ideal API proposal, and then figure out the best places to share code under the hood. It might not be worth introducing a lot of complexity or classes to get it done unless it can easily fit into an existing scheme (scikit-learn style maybe

[2016-06-02 15:59] kingjr commented on #2796
I'm +1 on making linear_regression_raw compatible with sklearn pipeline and modular, but I think it all comes down to creating a FeatureExtraction class/function that we can pipe to a sklearn pipeline. This is the main challenge since it doesnt fit sklearn design.

I think something like:

[code]

should do the job.

Then we can exploit clf.coef_ to make `patterns`, `evoked` or whatever.

[2016-06-02 17:07] choldgraf commented on #2796
@Eric89GXL I think that makes sense - I threw my encoding model stuff into a separate module to make it easier to figure out the scope of what it's trying to do:

https://github.com/choldgraf/pySTRF

I'd be fine with reorganizing the code that's in there and merging some of it into MNE if that makes sense.

[2016-06-02 17:22] jona-sassenhagen commented on #2796
Here's an outline of how you can currently fit and score an encoder model with the functions in `mne.stats.regression`:

(having defined raw, events, event_id, covariates ...)
[code]

[2016-06-02 17:26] jona-sassenhagen commented on #2796
https://gist.github.com/jona-sassenhagen/1cdf09dd5bd76f220163
A gist for an example in object style.

[2016-06-03 02:16] Eric89GXL opened #3278 "ENH: Show source space (or source space points?) in `plot_trans`"
Maybe for surface source spaces we should show the two hemispheres, and for volume grid or discrete, show the locations using `points3d` (or whatever the Mayavi call is). Or we could show the points in all cases. Perhaps I'll experiment. Could be relevant for what @kingjr is trying to work through.

[2016-06-03 09:29] agramfort commented on #3278
you have some mayavi code to show the source space sampling at:

http://martinos.org/mne/dev/auto_tutorials/plot_forward.html#compute-source-space

[2016-06-03 12:45] jona-sassenhagen commented on #3264
@pbrusco I think I don't understand your EEGLAB test file. It has only 1 trial?

[2016-06-03 13:22] #3126 closed

[2016-06-03 13:54] mmagnuski commented on #3264
pbrusco was using `mne.io.read_raw_eeglab` so it is probably a raw file.

[2016-06-03 13:55] jona-sassenhagen commented on #3264
Haha I'm stupid.

[2016-06-03 23:02] kambysese opened #3280 "Matplotlib backend failure(s) with 3D Mayavi/surfer/tvtk visualization"
After installing mayavi 4.4.4 I think I am getting bit by an older [bug](https://mail.scipy.org/pipermail/ipython-user/2012-February/009478.html) having to do with matplotlib backend(s). The error in ipython is:

with trace...

I can produce the error with
[code]

I am running on

cc @kingjr @Eric89GXL

[2016-06-04 06:12] agramfort commented on #3280
I do:

    export ETS_TOOLKIT=qt4
    export QT_API=pyqt

and it works for me.

[2016-06-04 16:01] kingjr opened #3281 "BUG: write_surface doesn't write in same reference frame as read_surface"
`write_surface` doesn't seem to write in the correct coordinates system. However, this is visible in freeviewer not in the mne `viz` functions.

To reproduce the error (you have to copy/paste `subjects/sample` into `subjects/sample_test` since it modifies the file in a bad way.)

[code]

`plot_bem` plots as expected:

![write_surface_mne](https://cloud.githubusercontent.com/assets/4881164/15800612

[2016-06-04 16:54] kingjr opened #3282 "BUG: save coregistration with MRI scaling"
When applying an MRI scaling during the coregistration, we only have the option to save as a different subject name, which creates a `OSError` in the background (not a python crash) when saving because the corresponding directory doesn't exists. I guess this is a partly intended feature, but it still needs a fix.

To reproduce the issue:

[code]
=> apply `mri scaling`
=> save as `sample_foo`
=> `N

[2016-06-04 17:06] kingjr commented on #3282
Also, when you tick `overwrite` you cannot untick it. (This is a separate issue, but since I'm opening many, I'd rather say this here...)

[2016-06-04 17:12] kingjr commented on #3280
`export ETS_TOOLKIT=qt4` stopped the `core.dump` error when opening more than one window for me.

[2016-06-04 17:36] kingjr commented on #3282
(also, the subsequent scaling of the bem solution is incredibly slow for a linear scaling.)

[2016-06-04 17:58] Eric89GXL commented on #3281
Can you try using nibabel to read and write the surfaces to see if they
have the same problem?

[2016-06-04 18:13] kingjr commented on #3281
What is the nibabel function to read surfaces?

[2016-06-04 18:16] Eric89GXL commented on #3281
From Googling "nibabel read freesurfer surface":

http://nipy.org/nibabel/reference/nibabel.freesurfer.html#nibabel.freesurfer.io.read_geometry

[2016-06-04 18:46] kingjr commented on #3281
ouch.

Yes same error, I'll open an issue there.

[2016-06-04 20:43] Eric89GXL commented on #3281
We might have contributed the code there actually, not sure :) I'll try to
take a look Monday. I've seen something like this before, but assumed it
was a Freeview problem. I'm not aware of any coordinate frame information
on the file, and we just do simple read and write with no transformations,
so I'm not sure why it would happen.

The original (not yet overwritten) surface looks okay though, rig

[2016-06-04 20:56] kambysese commented on #3280
Thanks will try. You putting this in `.bashrc`, or existing shell?

[2016-06-04 21:22] kingjr opened #3283 "Q: Issue with source reconstruction on my BEM but not sample's"
I am struggling to reconstruct the source of a presumably simple dataset.

The evoked topo (here at 180ms) looks dipolar, and should come from the back of the brain (response to visual stim).

![4_mag](https://cloud.githubusercontent.com/assets/4881164/15802163/05c36574-2a78-11e6-9b0b-c9c6796c0633.png)

When I reconstruct the source on with the `sample` BEM, i get something relatively expected  (t

[2016-06-04 21:29] agramfort commented on #3280
I have this in my bashrc 

On Sat, Jun 4, 2016 at 1:56 PM -0700, "Kambiz" <notifications@github.com> wrote:

Thanks will try. You putting this in .bashrc, or existing shell?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-06-04 21:31] agramfort commented on #3283
Check the sensitivity maps of your forward

On Sat, Jun 4, 2016 at 2:22 PM -0700, "Jean-Rémi KING" <notifications@github.com> wrote:

I am struggling to reconstruct the source of a presumably simple dataset.

The evoked topo (here at 180ms) looks dipolar, and should come from the back of the brain (response to visual stim).

When I reconstruct the source on with the sample BEM, i get something rel

[2016-06-04 21:32] kingjr commented on #3281
yes they look fine.

On 4 June 2016 at 16:43, Eric Larson <notifications@github.com> wrote:

[2016-06-05 17:22] teonbrooks opened #3284 "correct the API usage of mask in mne.find_events to be consistent with mne-c, and more user-friendly"
while I was addressing a comment on the listserv, I noticed that although the masking is correct per its instructions, it is not consistent with the mne-c way of handling the trigger mask. I also take blame because I added the feature. in essence, I inverted the meaning of the ones and zeros, which makes constructing the mask much more difficult.
 this is how it should be:

I propose that we make

[2016-06-05 20:14] agramfort commented on #3284
fine with me if we don't break people's code without proper deprecation
cycle

[2016-06-06 08:51] #3264 closed

[2016-06-06 13:17] Eric89GXL commented on #3284
I think there will need to be a deprecation cycle, but I think it's worth it to get equivalent to MNE-C.

We could introduce a `kwarg` like `kind='and' | 'and not'` (or some better names) for the kind of masking to do. For one cycle it can be `kind=None` which wraps to the existing `'and not'` behavior, changing to `kind='and'` for 0.14.

[2016-06-06 16:20] romquentin commented on #3243
With mne_analyze, I can open my digitized file 'headshape.fif' and the surfaces files and use the 'adjust coordinate alignment' to save the '-trans.fif'.
But I have my HPI coordinates (in the MRI coordinates) and I do not know how to use this information. Does the fiducial that I can mark manually in mni.gui.coregistration corresponds HPI position?
And more generally, If I have my HPI position in

[2016-06-06 17:11] kingjr commented on #3283
The error was coming from the covariance estimation.

I believe this is because I am computing the covariance across all epochs, although they are concatenated from different runs, (and therefore were maxfiltered separately, but supposedly head realigned).

Here is the covariance ranks computed on 168 epochs from a single run:
![cov1](https://cloud.githubusercontent.com/assets/4881164/15830542/eef

[2016-06-06 17:13] Eric89GXL commented on #3283
We should at least emit a warning, yeah. The `info['dev_head_t']` at the very least should be checked for consistency, that presumably would have caught your problem.

Presumably using the Maxwell filter head translation to the same coordinate frame would also solve this problem.

[2016-06-06 17:15] kingjr commented on #3283
I thought that was already applied on my data. I don't have access to the raw and didn't do this step myself. Is there a way to check it out and reprocess it?

[2016-06-06 17:16] Eric89GXL commented on #3283
Reprocessing would probably be a pain, but you could try it. You can check by seeing if `info['dev_head_t']` match across all files.

[2016-06-06 17:21] kingjr commented on #3283
They don't :(

By 'pain' you mean that it would be long, or would it cause processing issues? Would it be fine to do this with MNE on sssed data?

[2016-06-06 17:23] kingjr opened #3286 "ENH: detect whether dev_t is the same across epochs before compute_covariance"
In https://github.com/mne-tools/mne-python/issues/3283, I encountered a difficulty to find what was wrong with my sources.

This was because the covariance was estimated from trials acquired in different run, and therefore with different `dev_head_t`.

`compute_covariance` should probably throw a warning if the head alignment don't match.

cc @dengemann

[2016-06-06 17:31] agramfort commented on #3283
calling evoked.plot_white would have helped too :)

[2016-06-06 17:39] kingjr commented on #3283
@agramfort mmmh, I don't think so.

This is the whitened evoked with the cov computed from a single run
![good_white](https://cloud.githubusercontent.com/assets/4881164/15831512/fbe7b63e-2beb-11e6-8151-30c71ba26cb1.png)

This is the whitened evoked with the cov computed from multiple runs
![bad_white](https://cloud.githubusercontent.com/assets/4881164/15831514/fdb18616-2beb-11e6-8204-54292c11d049.

[2016-06-06 19:50] agramfort commented on #3283
hum overfit the baseline and your noise cov is not regularized at all...
can you try with the shrunk method? for me own personal interest and
certainly @dengemann :)

[2016-06-06 19:55] Eric89GXL commented on #3283
I suspect it won't help too much because the eigenvalue spectrum's falloff is no longer that steep due to the different head positions. But maybe it's robust enough to do it.

[2016-06-06 20:08] agramfort commented on #3283
worth trying but I agree not the proper fix. I am just curious

On Mon, Jun 6, 2016 at 9:55 PM, Eric Larson <notifications@github.com>
wrote:

[2016-06-06 20:28] pbrusco commented on #3264
Worked perfectly! Thanks a lot

[2016-06-06 21:06] kingjr commented on #3283
For this subject, `shrunk ` works nicely if I give all the trials (n=900); however it seems that if I only give a few trials from an extra block, I retrieve weird frontal activity again; So I guess it is indeed SNR issue.

I had originally used the shrunk method in my pipeline, and several subjects had crazy activations as described here, this is why I started to dig the issue.

Also, FYI the whit

[2016-06-06 21:08] kingjr commented on #3283
Any chance I can realign the heads directly on epochs data? Just to check whether it's worth it...

[2016-06-06 21:33] dgwakeman commented on #3283
You could source analyze the runs separately, and then average the source reconstructed data. But with as much motion as there must be to have this much of an issue, I would trash the data. There are some data collection issues, that just arent recoverable IMO

[2016-06-06 21:38] kingjr commented on #3283
@dgwakeman ok this seems indeed suboptimal. If I have time I'll try to get the raw and realign from the beginning.

[2016-06-06 23:58] kambysese commented on #3280
No such luck for me :( Same error with above code snippet in ipython console; as well as IDE.

[2016-06-07 04:16] teonbrooks commented on #3286
related to #2109 and #2122. realigning isn't as straightforward as one would think...

started down the road last year with @yousrabk but needed to retreat.

would be happy to see a solution ;)

[2016-06-07 11:37] agramfort commented on #3243
not HPI but the first 3 landmarks in the dig usually.

the 3 fiducials are mathematically enough, yet it's highly recommended to
use as many digitized points to have a good coreg.

[2016-06-07 14:17] romquentin commented on #3243
Sorry, it seems I am confused between fiducials and HPI positions. Where do I need to enter the information about my HPI coils position? (which is in my case different from the fiducials in my digitized headshape). Thanks!!

[2016-06-07 14:55] Eric89GXL opened #3287 "ENH: evoked.decim"
It would be nice to be able to decimate evoked data like we can with `Epochs`. It should be fairly straightforward.

[2016-06-07 15:16] kingjr commented on #3287
We could put it in a Mixin so that other classes would benefit from it (e.g. stcs, PSDs).

(BTW, I'm still in favour of adding it to `Raw` too, it really make life easier to jump from laptop/digging to cluster/production mode)

[2016-06-07 15:23] Eric89GXL commented on #3287
We could, but the logic is actually quite different across classes. I'm implementing it now for `Evoked` and the shared logic is mostly in checking the parameters, so I've refactored that into a function. The docstring is pretty similar, though.

This would be pretty easy with `preload=True` (which you'd probably want anyway, since you should probably have filtered or resampled to use `decimate`)

[2016-06-07 18:02] dgwakeman commented on #3243
@romquentin fiducials and hpi positions are always different. you need to match up the fiducials to the mri this then provides a transformation matrix which can translate all other positions to MRI space e.g. HPI coils and extra points (eeg if present). If this wasn't clear from the documentation, please consider a PR to help clarify our documentation. hth d

[2016-06-07 18:40] agramfort commented on #3287
no objection

[2016-06-07 19:48] romquentin commented on #3243
Ok. Thank you. I would be happy to help clarify the documentation. I did not find this information.
If I understand correctly, as I already have the HPI coordinates in MRI space (from a neuronavigation system called Brainsight), I do not need to transform these coordinates? My question is how I can use this information (HPI coordinates in MRI space) in mne.gui.coregistration? Hope it is not confus

[2016-06-07 20:15] kingjr commented on #3287
Yes for raw, maybe later.

For Epochs, Evoked, STCs & PSDs you can always get `info`, `times` and do `data[..., ::decim]` no?

[2016-06-07 20:29] agramfort commented on #3243
what do you see once loading the dig points in coreg GUI?

[2016-06-07 22:18] kingjr commented on #3286
+1, but I think we should first start with a warning, that should be easy enough ("PR welcome")

[2016-06-08 00:30] Eric89GXL commented on #3287
Sometimes it's .data, sometimes ._data; sometimes it's preloaded sometimes
not; sometimes 3D, sometimes 2D; for TFR the aliasing warning might need to
be modified; for STC we have no low pass information at all; there are
inconsistencies with how to set times, etc. And if you add Raw to the mix
it gets worse...

None of these problems are insurmountable, but I'm not sure it's worth
tackling them f

[2016-06-08 01:32] kingjr commented on #3287
You're right. This probably points out to a more general issue of class consistencies. Forget my proposal.

[2016-06-08 13:53] larsoner opened #3291 "ENH: Bem editing?"
@kingjr recently asked (but is probably too wary of opening issues to do it):

My suggestion would be to:
1. Find some nice triangulated mesh editing software (3D program of some sort, maybe CAD or blender?)
2. Figure out what file format it needs
3. Convert the surf to that format (it should be simple, if it's not, open MNE-Python issue and I'll help there)
4. Document the process in the docs

Do

[2016-06-08 13:55] Eric89GXL commented on #3286
Actually an error by default would be better. We can have an argument `misaligned='error' | 'warning'` for now and eventually add `misaligned='interpolate'`. Maybe there is a better name than `misaligned`, though.

[2016-06-08 13:56] Eric89GXL commented on #3286
I loosely plan to work on reconstruction (#3184) this summer, so I might be able to tackle the interpolation bit.

[2016-06-08 13:59] kingjr commented on #3291
Relatedly, I am currently trying to see whether I can fix the tiny surface intersections problem by:
* Detecting the points outside the outer surface (e.g. inner skull point out of outer skull)
* Changing the xyz of these points by a param `k` toward the center of the surface

[2016-06-08 14:00] dgwakeman commented on #3291
1. Make sure people know they should be using good quality MR sequences including MEFLASH if they have EEG
2. If they just have MEG they should just use a single layer
3. in lucky cases mne_surf2bem can shift the surfaces to avoid simple problems

[2016-06-08 14:02] Eric89GXL commented on #3291
@kingjr you know we have code for detecting whether points are inside a surface already right?

[2016-06-08 14:03] kingjr commented on #3291
@Eric89GXL Yes, I'm now trying to understand how it works :)

[2016-06-08 14:09] Eric89GXL commented on #3291
Follow the trail of the [surface topology checks in _check_surfaces] (https://github.com/mne-tools/mne-python/blob/master/mne/bem.py#L427)

[2016-06-08 14:23] dgwakeman commented on #3291
Seriously though, is there a problem with getting an MEFLASH or with mri_make_bem_surfaces (it has never failed for me)?

[2016-06-08 14:27] kingjr commented on #3291
@dgwakeman  It's not always possible to acquire MRI, sometimes you have to retrieve from archive data.

[2016-06-08 14:29] kingjr commented on #3291
[i.e. you don't always have the adequate MRI sequence, hence the unstable segmentation]

[2016-06-08 14:42] dgwakeman commented on #3291
Ok, in that case the one cheap easy step to solve the intersection problem with the watershed BEM is to just binarize and smooth/expand the 3d volume of the aseg volume from FreeSurfer, and then just fit an icosahedral surface to it. That should avoid all intersections. This would be totally automatable, and easy. I had some hacks to do this back in the day (hacking calls to mri_watershed: the cod

[2016-06-08 14:52] kingjr commented on #3291
@dgwakeman that seems like a better fix than I was suggesting. Would you be ok sharing your script and opening a PR?

[2016-06-08 15:06] dgwakeman commented on #3291
I can try to dig it up, but it doesn't really belong in mne-python (unless we got icosahedral meshing and I missed it), because it uses FreeSurfer commands. I'm happy to help. I'm in the middle of moving (to Philadelphia if anyone knows of labs looking for someone, or wants to hire a consultant to work remotely), but I should be able to look into it late next week. I'm setting an alarm now to look

[2016-06-08 16:46] romquentin commented on #3243
With `mne_analyze` : I can load surface and digitalized headshape data (.fif obtained from mne_ctf_dig2fiff). Then adjust coordinate alignment --> ICP align and I can save the `-trans.fif`

With `mne.gui.coregistration` : I can also load the surface and specify manually the fiducials. But when I try to open the digitalized headshape data from "head shape source". The return error is : `ValueError:

[2016-06-08 16:52] dgwakeman commented on #3243
@romquentin, Well you can use the one from mne_analyze. That should have you all set.

for the python one, I'm sure one of the experts here can help you get that to work.

Using the one you did in other software would require significant work. It may not be worthwhile to create all of the necessary custom code to translate it. You would need at least 2 additional transformations to make it work an

[2016-06-08 17:01] romquentin commented on #3243
Ok. Thanks a lot. But I guess at the end the important information is: where are the HPI coils on the MRI brain of the participant? I still do not see at what step this information is given to mne.

[2016-06-08 19:19] dgwakeman commented on #3243
You should see them in mne_analyze. They are green there. Hth d

Sent from my Phone

[2016-06-08 19:29] kingjr opened #3292 "ENH: save morph sparse matrix"
I haven't found documentation to save the morphing matrix in MNE Python [example](http://mne-tools.github.io/stable/auto_examples/inverse/plot_morph_data.html) or [FAQ](http://mne-tools.github.io/stable/faq.html?highlight=morph#morphing-data).

However, saving sparse compressed raw matrices isn't [trivial](http://stackoverflow.com/questions/8955448/save-load-scipy-sparse-csr-matrix-in-portable-dat

[2016-06-08 19:36] Eric89GXL commented on #3292
We have code to do it in Python but it's slower. Also, we can read the morph maps directly as they are FIF files, which can already store sparse matrices.

[2016-06-08 19:45] kingjr commented on #3292
So once you've done:

[code]

What do you do to save `morph` as a fif?

[2016-06-08 19:47] Eric89GXL commented on #3292
You shouldn't manually compute it, use http://mne-tools.github.io/stable/generated/mne.read_morph_map.html#mne.read_morph_map

[2016-06-08 19:48] Eric89GXL commented on #3292
Oh wait, sorry, you're talking about a morphing matrix which is different from a morph map. We don't currently have a way of saving the morphing matrix, no.

[2016-06-08 19:48] kingjr commented on #3292
Yes, sorry for the bad terminology

[2016-06-08 19:50] kingjr commented on #3292
So +1 on writing `mne.source_estimate.save_morph_matrix()` and `mne.source_estimate.load_morph_matrix()`? Shall we use `.fif` or h5io?

[2016-06-08 19:52] Eric89GXL commented on #3292
It might actually be nice to turn the morph matrix into a proper object, actually. Store the `subject_from` and `subject_to`, as well as `vertices_from` and `vertices_to`. It could save some user mistakes I think. Then it could just be `stc_fsaverage = stc_subj.morph_precomputed(morpher)`, where `morph_precomputed` can deal with getting a `MorphMatrix` object, and does proper sanity checks.

[2016-06-08 19:53] Eric89GXL commented on #3292
...in which case I think we'd probably want to use HDF5 because I don't think we'd have the correct tags in FIF land.

[2016-06-08 20:21] romquentin commented on #3243
I have one .txt file with fiducials and head shape and another .txt file with HPI coils position (in MRI space). Coordinate system in these two .txt files are not similar. I converted the .txt file containing fiducials and headshape to a .fif with mne_ctf_dig2fiff function and I loaded this .fif in mne_analyze. From that I saved a -trans.fif.
But I did not load the .txt file with HPI coils positio

[2016-06-08 20:48] dgwakeman commented on #3243
ok, you should convert the files and add the raw (which you haven't registered in some other program) digitization information first to the fif files then use mne_analyze to do the co-registration. There is extensive documentation in the mne-c manual evoked with mne_view_manual in section 9.2.2 Importing CTF data. Follow those then start again from mne_analyze and the file will have everything.

[2016-06-08 21:10] kingjr commented on #3243
This is getting very difficult to follow let's recap @romquentin

Correct me if I'm wrong, but from what I understand, you need to

- [x] 1. Ensure you have a working MNE C (with `.bashrc`)
- [x] 2. Modify your `headshape.txt` file so that it contains an `ID` for each digitized point.
- [x] 3. Generate a `hpts` file with the MNE C command `mne_ctf_dig2fiff`. This will give the positions of the HPI

[2016-06-08 21:45] Eric89GXL opened #3293 "DOC: Clarify source space functions"
We should make it clear that `mne.setup_source_space` sets up a standard-pipeline surface-based `SourceSpaces` object, and setup cross-references to `mne.setup_volume_source_space`

[2016-06-08 21:47] romquentin commented on #3243
Thank you @dgwakeman and @kingjr .

1. For the missing step, it is ok to indicate manually the HPI coils. Nevertheless, I have the HPI coils coordinates (in MRI space but I guess I can transform them to the same coordinate system than the one in headshape.txt) in a separate .txt file. It should be more precise to use these coordinates if possible.

2.  I can skip step 5 I guess because my fiducial

[2016-06-08 22:02] kingjr commented on #3243
No, do this step too. The digitized points on the head tend to be spherical, and you can therefore tilt the whole alignment. Fitting the MRI (manual/clicking) fiducials with the one you digitized (in head space) prevents this issue.

For the **missing step**, let's wait for @teonbrooks input.

[2016-06-08 23:46] Eric89GXL opened #3294 "DOC: Use class names in docstring"
I noticed that we have this sort of thing in a lot of places:
[code]
If we replace it with this, the class name becomes a nice hyperlink:
[code]
I think we should consider doing this from now on.

[2016-06-09 03:45] choldgraf commented on #2796
hey all - back from being out of contact for a few days. What if as a start I opened a PR that tried to basically do these things:

1. reorganize the data prep code so that it allowed for continuous data as well as events.
2. Included an RegressionModel class that would be some hybrid of @jona-sassenhagen's gist and my EncodingModel class. This wouldn't do any CV. It'd basically just do fitting +

[2016-06-09 07:38] #3073 closed

[2016-06-09 08:24] agramfort opened #3295 "link to mailing list on doc broken"
should point to:

https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis

that's an easy fix for new contributors.

cc @ARudiuk @mmagnuski @kaichogami

[2016-06-09 08:45] joewalter opened #3296 "BUG: problems with epochs._raw_times while cropping resampled epochs"
While cropping epochs, we also change epochs._raw_times. However, as soon as epochs were resampled before cropping, epochs._raw_times is based on a different sfreq. Thats why we cannot apply the same tmask for epochs.times and epochs._raw_times. This leeds to wrong values in epochs._raw_times if sfreq_new < sfreq_old and an error if sfreq_new > sfreq_old. Changing epochs.crop(). We thus should use

[2016-06-09 10:05] agramfort commented on #3296
thx @joewalter for the bug report.

@jaeilepp can you have look?

[2016-06-09 10:13] jona-sassenhagen commented on #2796
Seems sensible to me.

[2016-06-09 10:20] jona-sassenhagen commented on #2796
Btw Chris since the internals are all private, if you think the API is limited, it can probably easily be changed.

[2016-06-09 10:38] agramfort commented on #3292
no objection with h5io

[2016-06-09 11:38] jaeilepp commented on #3296
Another option is to update ``epochs._raw_times`` when resampling. I'm not sure why we have this ``_raw_times`` attribute. It seems redundant with the times attribute.

[2016-06-09 11:54] agramfort commented on #3296
no clear for me either

[2016-06-09 11:55] Eric89GXL commented on #3296
It might be necessary, see the decimate code and my recent PR and you'll
see how it's used under the hood.

After loading data, ._raw_times should always be the same as .times (it's
only used to know what to read from disk), so an easier fix is to update it
during resampling as is done in decimation.

[2016-06-09 11:56] Eric89GXL commented on #3296
Also, keep in mind decimation is preferred to resampling where possible
(i.e., when raw data was appropriately lowpassed) to avoid potentially ugly
edge artifacts.

[2016-06-09 11:57] Eric89GXL commented on #3296
I can add a fix for this in my Evoked decim PR unless you're already
working on it @jaeilepp

[2016-06-09 11:59] jaeilepp commented on #3296
It's a one liner, so go ahead.

[2016-06-09 15:55] choldgraf commented on #2796
ok, well I will try opening a PR in the near future and we can discuss API
changes and such there. Sounds ok?

On Thu, Jun 9, 2016 at 3:20 AM, jona-sassenhagen <notifications@github.com>
wrote:

[2016-06-10 12:02] #3287 closed

[2016-06-10 12:02] #3296 closed

[2016-06-10 15:18] romquentin opened #3299 "'predict_proba' is not an option in GeneralizationAcrossTime"
@kingjr
When running this:
`gat = GeneralizationAcrossTime(clf=clf, scorer=scorer, n_jobs=-1, predict_mode='predict_proba')`
`gat.fit(epochs, y)`
`gat.score(epochs, y=y)`

It gives this error:
`ValueError: `predict_mode` must be a str, "mean-prediction" or"cross-validation"`

I have the last mne update. Did you remove the option?

Thanks

[2016-06-10 15:20] jona-sassenhagen commented on #3299
You're confusing predict_mode and predict_method. Check the docs again: http://martinos.org/mne/stable/generated/mne.decoding.GeneralizationAcrossTime.html#mne.decoding.GeneralizationAcrossTime

Admittedly, this is confusing nomenclature.

[2016-06-10 15:26] romquentin commented on #3299
Thanks. But now running this:
`gat = GeneralizationAcrossTime(clf=clf, scorer=scorer, n_jobs=-1, predict_method='predict_proba')`
gives this error:
`TypeError: __init__() got an unexpected keyword argument 'predict_method'`
What I am doing wrong?

[2016-06-10 15:32] kingjr commented on #3299
Which version of mne are you using?

[2016-06-10 15:33] kingjr commented on #3299
Yes. I'll refactor the gat in the late summer. sklearn will soon accept `predict_proba` for its pipeline so we won't need this anymore.

[2016-06-10 15:52] romquentin commented on #3299
I cloned the last version but I guess something was wrong with the install. I reinstall with `pip install mne --upgrade`and it works.
Thanks!

[2016-06-10 15:52] #3299 closed

[2016-06-10 16:08] kingjr opened #3300 "brain.contour_list not updated in split view"
When plotting contours with a `split` view and both hemisphere, plotting a contour on each hemisphere replaces `brain.contour_list` instead of appending the contours; the contour handle thus gets lost:

e.g.

[code]

[2016-06-10 16:18] Eric89GXL commented on #3300
Is this a problem with `stc.plot` or `brain.*`? If it's the latter, it's a PySurfer issue, not MNE-Python

[2016-06-10 16:27] kingjr commented on #3300
I am not sure because it seems specific to `hemi='split'`.

[2016-06-10 17:04] Eric89GXL commented on #3300
`hemi='split'` is a mostly PySurfer option under the hood

[2016-06-10 17:04] #3300 closed

[2016-06-10 18:25] mmagnuski commented on #2672
Just BTW - I still can't import that file (or any other file for that study) I linked at the [scipy issue](https://github.com/scipy/scipy/issues/5516) through `read_epochs_eeglab` :cry: (on python 3 at least)

[2016-06-10 18:27] jona-sassenhagen commented on #2672
A practical workaround might be downsampling in EEGLAB.

[2016-06-10 18:36] mmagnuski commented on #2672
The samling rate was rather low for that file (250) but I could try downsampling. The funny thing is that `MAT.jl` (Julia lib for reading/writing mat files) handles the file without problems.

[2016-06-10 19:26] agramfort commented on #2672
can you share the file?

[2016-06-10 19:43] mmagnuski commented on #2672
Right, I forgot that the previous dropbox link doesn't work anymore.
[Here is a working link](https://www.dropbox.com/sh/ek2dbhskfiurklx/AACEIgA_ywA_SW4MsQt7NgMJa?dl=0) - just one `.set` and corresponding`.fdt`.

[2016-06-10 20:05] kingjr commented on #3243
@lauragwilliams could you share the code you wrote to integrate the HPI in the raw fif if you think this could solve the issue?

[2016-06-10 20:28] agramfort commented on #2672
`io.loadmat('faces_e_22.set')` works fine with me with

In [4]: scipy.__version__
Out[4]: '0.17.0'

[2016-06-10 20:32] teonbrooks commented on #3243
I think there should be two approaches: short-term solution, I will meet up with @kingjr IRL and we will write a gist for computing the `dev_head_t` using the existing functions in MNE. long-term solution, there needs to be a `read_raw_ctf` module written in Python to get it up to speed with the other systems.

[2016-06-10 21:33] LauraGwilliams commented on #3243
I've uploaded the code here: https://gist.github.com/LauraGwilliams/41d1a543c10dec181b02f4e6ac659fde#file-get_dev_t-py. The relevant stuff is from line 70. Let me know if something isn't clear.

[2016-06-11 00:30] jasmainak commented on #2672
I can confirm that the issue can be reproduced in python 3.5

[2016-06-11 00:45] jasmainak commented on #2672
@mmagnuski it seems more like a scipy issue to me than an mne-python one. You can get it working by switching to python 2.7

[2016-06-11 02:37] Eric89GXL opened #3301 "circular_source_labels?"
There is an instance in our code examples in `mne/simulation/source.py` of `circular_source_labels`. I'm not sure where it comes from, since we don't have such a function. If anyone knows please say so. Otherwise I'll do some `git blame` work to track it down when I find time.

[2016-06-11 02:38] Eric89GXL commented on #3301
cc @nfoti found this one

[2016-06-11 07:26] agramfort commented on #3301
@nfoti are you on it?

[2016-06-11 09:26] mmagnuski commented on #2672
Thanks for checking!
Yes, I have scipy issue opened for this but it was inactive for quite long. I've already switched to Julia + PyCall for this project, but I will try things out in python 2.7 conda env.

[2016-06-11 14:12] jscastanoc opened #3302 "BUG: Error when brainvision data contains channels with units different to V or uV"

[2016-06-11 14:19] agramfort commented on #3302
what version are you using?

can you test with current master? bug about this was fixed recently

[2016-06-11 14:26] jscastanoc commented on #3302
Hi Alexandre,

I am using 0.13.dev0, I cloned it yesterday.

I have a temporal fix:
mne/io/brainvision/brainvision.py line 353:

change
ranges[n] = _unit_dict.get(unit, unit) * scale
for:
ranges[n] = _unit_dict.get(unit, 1) * scale

In our setup we have an extra channel with units "N" (Newtons), I am unsure if I would break something with my temporal fix. Should I try a pull request?

[2016-06-11 17:57] nfoti commented on #3301
I'm happy to try to add it.

[2016-06-11 18:00] Eric89GXL commented on #3301
Apparently back in 2012 (!) we actually had such a function, which I found using `blame` on GitHub:

https://github.com/mne-tools/mne-python/commit/5e66a3890b851ca4ab6184d830579cb817ca8869

It looks suspiciously like `grow_labels`, so I suspect it's just a renaming that we missed:

https://github.com/mne-tools/mne-python/blob/5e66a3890b851ca4ab6184d830579cb817ca8869/mne/simulation/source.py#L259

[2016-06-11 18:05] Eric89GXL commented on #3301
Found it -- back in 2012 someone not-to-be named (hint: last name rhymes with shamdort) refactored `circular_source_labels` to `grow_labels` but must have missed a reference in the docstring, probably because the docstring wasn't written properly in the first place to execute as a `doctest`:

https://github.com/mne-tools/mne-python/commit/4c12dd9b60ec08690cb7b98a1bb15bc9a97b27c0

[2016-06-11 19:38] #3267 closed

[2016-06-11 23:05] ARudiuk commented on #3262
I was looking at this today, and I was wondering how much detail you would want? The things to cover I can think of are:
-Required libraries
-What is built with each command

[2016-06-11 23:05] ARudiuk commented on #3262
There also seems to be some outdated info like the command `make html`

[2016-06-11 23:12] ARudiuk commented on #3295
This seems to be done.

[2016-06-12 06:17] #3295 closed

[2016-06-12 06:19] agramfort commented on #3262
sounds like a plan. Fix the pbs you spot

[2016-06-12 06:35] agramfort commented on #3302
@jscastanoc can you share one file with me and @jaeilepp

@jaeilepp can certainly do the fix on monday.

[2016-06-12 06:42] agramfort commented on #2672
pb solved:

https://github.com/scipy/scipy/issues/5516#issuecomment-225413189

use:

io.loadmat('faces_e_22.set', uint16_codec='latin1')

we should expose the uint16_codec parameter in the eeglab reader.

@mmagnuski can you give it a try?

[2016-06-12 12:29] agramfort commented on #3301
naughty  shamdort....

[2016-06-12 14:13] jscastanoc commented on #3302
@agramfort just send you a piece of the data. Could you please forward it to @jaeilepp ?

Thanks!

[2016-06-12 14:16] mmagnuski commented on #2672
Thanks, works very well!

[2016-06-12 14:41] agramfort commented on #2672
cool

can you do the PR to expose the codec param in eeglab reader?

[2016-06-12 15:37] mmagnuski commented on #2672
Sure, I can do that tomorrow.

[2016-06-12 21:46] kingjr commented on #3243
Thanks @LauraGwilliams !

@romquentin: @teonbrooks and I met and manage to incorporate the HPI, fiducials and digitized head shape points in an MNE object: https://gist.github.com/kingjr/8f971c73c79712b547cdd55c661c6a5a

you need to :
* write a parser to extract the HPI, head shape and fiducials as numpy arrays similar to what is in the gist.
* duplicate your HPI, as the `read_dig_montage` expect

[2016-06-13 13:07] #3302 closed

[2016-06-13 14:58] romquentin commented on #3243
Great! Thanks a lot!
Does coordinate system need to be the same for all position (HPI, fiducial and headshape)?

[2016-06-13 15:09] kingjr commented on #3243
HPI are in device space (MEG), fiducials and headshape are in head space.

[2016-06-13 15:12] romquentin commented on #3243
Ok. Thanks again!

[2016-06-13 15:13] #3243 closed

[2016-06-13 19:30] clamus opened #3305 "SNR in calculation in `add_noise_evoked` might be incorrect"
I'm trying to see how the data is scaled to achieve a given SNR in `add_noise_evoked` in  [mne-python/mne/simulation/evoked.py](mne-python/mne/simulation/evoked.py), but do not really get it.

The SNR in this function is defined as the standard SNR in dB, which is:
[code]

The piece of code that should do this is:

[code]

However, I am think that it should be instead:

[code]

Is this a bug, or a

[2016-06-13 20:10] kingjr commented on #3305
The line was apparently modified in https://github.com/mne-tools/mne-python/pull/68: https://github.com/mne-tools/mne-python/commit/0a4c44ba414a65da877e4e36ba53022b0cbd9bb3,  from https://github.com/mne-tools/mne-python/commit/c339669fe324e0d4d7262abed68afd81affa3c8c

Maybe @agramfort @mluessi or @joewalter can clarify this

[2016-06-13 20:18] Eric89GXL commented on #3305
@clamus to simplify your proposal you could equivalently change a single line (you had changed 2) as:
[code]
Is that right?

[2016-06-13 20:24] clamus commented on #3305
@Eric89GXL that is correct. Changing just that line is fixes the issue in a better way. I think the issue came from where @kingjr was pointing to.

[2016-06-13 20:25] clamus commented on #3305
Should I go ahead and fix this?

[2016-06-13 20:45] agramfort commented on #3305
go for it ! thx

[2016-06-14 08:05] #3227 closed

[2016-06-14 08:05] #3255 closed

[2016-06-14 08:05] #3259 closed

[2016-06-14 20:01] nfoti opened #3307 "Modes for `simulate_sparse_stc`"
Currently the `simulate_sparse_stc` function chooses a random vertex in each label to set to the desired signal. It would be useful to also have a mode to use the vertex in each label that is closest (in Euclidean distance) to the center of mass of the label.

I have some stand-alone code that does this and am happy to make the changes to `simulate_sparse_stc`.

[2016-06-14 20:05] agramfort commented on #3307
fine with me. That could be a param:

location='random' | 'center'

can you open a PR?

[2016-06-14 20:07] nfoti opened #3308 "Tutorial on generating synthetic data with point spread"
I have been writing some code to evaluate the effect of point-spread on inferring connectivity. @Eric89GXL suggested that a tutorial on how to put synthetic signals into a source space and corrupt those signals with point-spread via a forward and inverse solution could be useful.

I created this issue to get some feedback on what a good minimal example would be. I need to clean up my current code

[2016-06-14 20:17] dgwakeman commented on #3307
If you are looking into this, I would personally recommend looking at doing some sort of orientation alignment and then a median based on that. Because for many labels the center of mass will have a strange orientation e.g. center of mass for the central sulcus. With that you would end up getting a radial dipole, but the more logical choice would be to do some sort of z-alignment and get a dipole

[2016-06-14 21:13] kingjr commented on #3308
Great! I would personally expect to make two scenarios: one with independent sources and one with sync sources then:
* simulate two sources in `sample` source space
* add `1/f`source noise
* project them in sensor space with the fwd model
* add `1/f` sensor noise
* inverse the data
* apply connectivity analysis of interest

[2016-06-15 01:58] Eric89GXL commented on #3307
Incorporating the orientation somehow is an interesting idea, and certainly gets you a different sort of information that may or may not be more useful depending on the use case. So I don't think it's necessary for the functionality mentioned here. I think a first pass of this "orientation-weighted center of mass" idea could be implemented fairly easily given our existing label sign flipping code,

[2016-06-15 14:04] clamus commented on #3305
Oops... It turn out the original code was correct :$ One does need to divide by 20, which scales correctly with the square of the noise. It was a good thing that @agramfort suggested I added a test, which showed I made a mistake.

@agramfort Should I still add the test? What about the what's new section?

[2016-06-15 14:11] agramfort commented on #3305
lol :)

yes please just add a test but don't update what's new

thx

[2016-06-15 19:26] andrewheusser commented on #2748
@ahibahi did you ever resolve this?  i have the exact same error and i've been stuck on it for weeks!

[2016-06-15 19:34] andrewheusser commented on #2748
@Eric89GXL @agramfort.  I'm also getting this error.  I followed @agramfort's advice removing the config file: $HOME/.mne/mne-python.json.  The package loaded successfully, but seems to depend on that file.  Any ideas for how to regenerate it or replace it?

[2016-06-15 19:38] Eric89GXL commented on #2748
We could try to be more careful when reading the file, and warn if it's corrupted here:

https://github.com/mne-tools/mne-python/blob/master/mne/utils.py#L1258

[2016-06-15 19:51] choldgraf commented on #2796
I'm starting to think about how to do this properly. One snag that I've found is coming up with a good test-case for encoding models w/ a continuous variable.

Think it's enough to just write a "simulate continuous data" function, that lets you input two continuously-varying signals, A and B (e.g. white noise + a sine wave) along with a set of delays, and a set of weights that you wish to correspo

[2016-06-15 20:05] Eric89GXL commented on #1941
FYI I made a PR to SciPy (https://github.com/scipy/scipy/pull/6274) for `sosfiltfilt` which is a prerequisite to using SOS filtering in MNE-Python since we use forward-backward filtering by default.

[2016-06-15 20:40] agramfort commented on #2748
+1 for being more careful and avoid a crash

On Wed, Jun 15, 2016 at 9:38 PM +0200, "Eric Larson" <notifications@github.com> wrote:

We could try to be more careful when reading the file, and warn if it's corrupted here:

https://github.com/mne-tools/mne-python/blob/master/mne/utils.py#L1258

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or m

[2016-06-15 21:05] andrewheusser commented on #2748
is the $HOME/.mne/mne-python.json file supposed to be generated on install? I uninstalled mne and reinstalled but I don't see the config file

[2016-06-16 02:05] Eric89GXL commented on #2748
It should only be generated when saving a config value to disk, I think.

[2016-06-16 02:45] christianbrodbeck opened #3311 "KIT-UMD sensor positions"
The KIT system at UMD has a different sensor layout from the KIT system in New York, although the two systems have the same number of sensors. This leads to problems in a few places, so far I have encountered two:
- When plotting topomaps, the KIT-NY layout is automatically chosen by default which is not valid for UMD data. I can’t find anything in the info dict that would distinguish the two syst

[2016-06-16 12:55] Eric89GXL commented on #3311
We would probably want to talk to the Elekta folks and Matti about it, but it seems like it should be doable.

You might be able to trace back the origin using the `blame` interface on GitHub and find the relevant commit and PR. I imagine there would have been some discussion about it.

[2016-06-16 13:21] christianbrodbeck commented on #3311
Thanks @Eric89GXL ! I will construct a UMD neighbors file analogous to https://github.com/mne-tools/mne-python/pull/2269. What's the best way to start a discussion with the Elekta folks and Matti?

[2016-06-16 13:28] Eric89GXL commented on #3311
@jaeilepp had a thread going with them and is in charge IIRC of maintaining [our chunk of the FIFF constants] (https://github.com/mne-tools/mne-fiff-constants) (although these wouldn't be MNE-specific, hence why we need to talk to the Elekta folks). @jaeilepp do you have time to dig into this issue a bit to see if you think it makes sense to add a constant? Maybe we need to lay out the problem cle

[2016-06-16 13:33] jaeilepp commented on #3311
Since this has nothing to do with the neuromag stuff, I suppose the most reasonable thing would be to use the MNE-range. So maybe just ask @mshamalainen if he's okay with it?

[2016-06-16 13:36] Eric89GXL commented on #3311
It has nothing to do with Neuromag acquisition, but it could have to do with how to properly analyze KIT data. In that sense I see it more like the coil defs from other systems, [including KIT, which are in the Elekta namespace] (https://github.com/mne-tools/mne-python/blob/master/mne/io/constants.py#L640). The KIT head coord frame [is in the MNE namespace] (https://github.com/mne-tools/mne-python

[2016-06-16 14:00] #3305 closed

[2016-06-16 14:38] christianbrodbeck commented on #3311
It seems that each KIT system gets an 4 byte integer ID for every major stage if its life (https://github.com/mne-tools/mne-python/blob/master/mne/io/kit/constants.py#L110) and I think sensor positions can change slightly over time. I don't know if they would do major rearrangements (requiring a different layout) but before kit2fiff could read sensor positions directly from the SQD files we used t

[2016-06-16 16:16] Eric89GXL commented on #3311
Sounds reasonable to me. @jaeilepp do you agree?

[2016-06-16 20:02] #2748 closed

[2016-06-17 06:11] jaeilepp commented on #3311
Yeah, I think we could actually use FIFF.FIFF_DESCRIPTION for this as long as we just use a string. It seems to store that kind of information and currently it is not used by the kit reader.

[2016-06-17 07:11] agramfort commented on #3311
fine with me. No strong opinion

[2016-06-17 08:11] teonbrooks commented on #3311
@christianbrodbeck, I don't think anyone else is currently working on KIT stuff. I can help point out anything you might need. I think the machine ID as a string (per FIFF requirement) would be the best way to deal with it. but this would mean that legacy fiff files with KIT data would still default to NYU since that bit of metadata isn't there.

I see that you found the thread about how I formed

[2016-06-17 11:17] Eric89GXL commented on #3311
We shouldn't use description as users can reasonably set this manually (and
might already be doing it) to store their own metadata.
On Jun 17, 2016 2:11 AM, "jaeilepp" <notifications@github.com> wrote:

[2016-06-17 11:53] jaeilepp commented on #3311
But are we not moving towards a frozen info structure anyways?

[2016-06-17 12:35] Eric89GXL commented on #3311
Not frozen, just providing cleaner/safer ways of updating it. For example users need to be able to set bads, so we'll eventually have something like an `info.bads = ` setter instead of directly doing `info['bads'] =`. Equivalently we could have `info.description =` instead of `info['description'] =`, and the same for any other fields users might want to update.

[2016-06-17 14:04] christianbrodbeck commented on #3311
@teonbrooks

Yeah I assume here we could guess based on sensor positions?

Did you have an issue/PR on https://github.com/fieldtrip/fieldtrip? I can't find anything for author:teonbrooks

[2016-06-17 14:42] christianbrodbeck opened #3317 "Bug in show_fiff for *-trans.fif file?"
This looks like a bug in `show_fiff`

[code]

[2016-06-17 15:03] Eric89GXL commented on #3317
Yeah that's probably a bug, `show_fiff` shouldn't error out if the file exists. Can you make a PR?

[2016-06-17 15:04] christianbrodbeck commented on #3317
Yes I'll look into it

[2016-06-17 20:00] christianbrodbeck commented on #3311
Regarding topo-plots: I just learned that with KIT systems sensor positions can also change between maintenance events (when a different gradiometer is wired to a channel), so I wonder whether for KIT systems it would be safer to just always compute a layout by projecting sensor positions onto a plane?

[2016-06-18 02:05] christianbrodbeck commented on #3317
This occurs only for some *-trans.fiff files and not others. What seems to be the reason is that for some trans files there are no "children" (hence the error because `tree['children']` is `[]`). I don't know enough about FIFF files to know what to do, but it seems to me that the "directory" at the root level can also contain information?

This is one that works:

[code]

And this is one that does

[2016-06-18 02:37] christianbrodbeck commented on #3317
[code]
and 222 is in the root directory of the second, erroring file....

If I modify show_fiff to start with the `tree` instead of `tree['children'][0]` I get

[code]
and
[code]

[2016-06-18 16:25] Eric89GXL commented on #3317
Thanks for the investigation, I think I found a reasonable fix

[2016-06-18 21:07] #3317 closed

[2016-06-20 16:47] nfoti commented on #3308
Thanks for the feedback.

I am shooting to keep this example simpler rather than demonstrate a full pipeline. There are already some examples of how to perform connectivity analysis with `mne-python`, and I am happy to include links to them, however, I want to focus on the basics of how to put a known signal into the `mne-python` data structures and corrupt them with point-spread. Thus, I want to

[2016-06-20 17:21] nfoti commented on #3301
It doesn't look like the docstring of `grow_labels` needs changing, I think you mean the docstring of `simulate_stc`. I'm not certain that `grow_labels` can be used though since it doesn't seem to actually fill in the `value` field of the generated `Label` (I could be mistaken about this though). I could add in an example that uses the new `Label.center_of_mass` function that will select the verte

[2016-06-20 17:25] Eric89GXL commented on #3301
Yeah wherever had the `circular_source_labels` reference.

Ahh right, because you need it to be the distance away from the original seed? I think for filling in the values afterward you'll need to use `dijkstra` from SciPy manually. I can't think of a clean API to offer for the users that would see enough use to include it. It would be nice in an example, though.

[2016-06-20 21:29] #3293 closed

[2016-06-21 20:41] nfoti commented on #3301
Agreed. Do we just want to remove the reference to `circular_source_labels` from the `simulate_stc` docstring and close this?

The point spread example I'm writing for #3308 can demonstrate how to use the values in labels in `simulate_stc` as well as the new `center` mode for `simulate_sparse_stc`.

[2016-06-21 20:53] nfoti opened #3326 "ENH: New modes for extract_label_time_course"
I'm proposing to added some new modes to the `SourceEstimate.extract_label_time_course` method and appreciate any feedback. Specifically, I would like to add `weighted-mean` and `weighted-mean-flip` modes that would compute a (flipped) weighted-mean for each label with weights given by the values of the label. This functionality would be useful for instance to weight the signals in each label prop

[2016-06-22 02:03] Eric89GXL commented on #3301
Yeah, please fix the docstring as part of your example, I forgot to do it.

[2016-06-22 02:04] Eric89GXL commented on #3326
Sounds reasonable to me

[2016-06-22 07:47] #3286 closed

[2016-06-22 08:07] agramfort commented on #3326
I see conceptually the reason but do you have some evidence that it's
actually useful / helpful on data?

[2016-06-22 10:49] Eric89GXL commented on #3326
@wronk has some evidence coming out any day now. But even without a
publication it seems useful for aiding simulation studies, no?
On Jun 22, 2016 4:07 AM, "Alexandre Gramfort" <notifications@github.com>
wrote:

[2016-06-22 13:05] #3307 closed

[2016-06-22 13:19] agramfort commented on #3326
well I am bit reluctant to add methods / options for our users unless it's really what we recommend to use. Let's try to limit confusion.

my 2c

so I did not say no but I'd like to be able to explain why we offer this option.

[2016-06-22 20:40] kambysese opened #3330 "Gradiometers RMS plots multiple conditions"
I am trying to compared evoked files using `plot_evoked_topo(evokeds, merge_grads=True)` where `evokeds=[evoA.pick_types(meg='grad'), evoB..pick_types(meg='grad')]`; the shape of data in each evoked obj is 204x421, however `.viz.topo` returns

@Eric89GXL according to the documentation `plot_evoked_topo` implies combining grads is possible for an evoked object or list of evokeds. At least that is m

[2016-06-23 07:17] agramfort commented on #3330
can you paste a full gist to replicate the pb?

[2016-06-23 08:53] jaeilepp commented on #2324
This is solved. Closing...

[2016-06-23 08:53] #2324 closed

[2016-06-23 09:12] jaeilepp commented on #3330
Reproduced with:
[code]
I'll look into it.

[2016-06-23 21:14] nfoti commented on #3326
I'm find tabling this issue for now. It just seemed like an easy way to add in a lot of flexibility that has come up recently for generating synthetic data.

[2016-06-23 22:54] Eric89GXL commented on #3326
Fine by me

[2016-06-23 22:54] #3326 closed

[2016-06-24 01:55] christianbrodbeck commented on #3282
This one should be fixed now with a hack (https://github.com/mne-tools/mne-python/pull/3332/commits/1d37a05d7d9e003dd6f805035598bc8ade77e421) but I don't get what the problem is. I've tried to simplify the issue in that gist: https://gist.github.com/anonymous/ffa91548872ad8efbaaa046c5f86eb62

When I run it I see:
[code]
so `subject_from` gets set correctly at the beginning, but then it's suddenly

[2016-06-24 09:16] #3330 closed

[2016-06-24 16:13] sapttrs opened #3336 "mne.time_frequency.psd_welch add median option"
I want to robustly estimate a power spectrum from raw data.
I am concerned that segments of my raw data contain artifacts.
mne.time_frequency.psd_welch divides the raw data into N (possibly overlapping) windows, computes N psds, and returns the average psd.
Could we add the option to return the median psd?
By this I mean for each frequency bin we have N estimates of the power (from the N psds), an

[2016-06-26 00:34] klanderson opened #3338 "mne.io.set_bipolar_reference - info channel name inconsistency"
Hi, I'm trying to get bipolar rereferenced eog channels and am encountering an error:

`RuntimeError: info channel name inconsistency detected, please notify mne-python developers`

Here is the full trace:

[code]

And here is my code:
[code]

[2016-06-26 00:44] klanderson commented on #3338
The issue has something to do with trying to do multiple pairs at once. I changed

[code]

to
[code]

and the code works fine.

[2016-06-26 07:47] #3262 closed

[2016-06-26 09:24] agramfort commented on #3336
+1 for a method = "mean" | "median" as the R implem.

do you want to take a stab at implementing this?

[2016-06-26 10:26] kingjr commented on #3336
Would it make sense to also make `method` accept a float between .5 and 1, in order to indicate the percentile of data from which the average is computed? `1` would be equivalent to the mean, `.5` would be equivalent to the median, and the rest would be trimmed means, which in my experience are more stable than median in our low-sampled datasets.

[2016-06-26 10:27] kingjr commented on #3336
(also see https://github.com/mne-tools/mne-python/issues/3044)

[2016-06-26 16:57] ARudiuk commented on #3262
@agramfort  There are some things i was planning with this change that have not been addressed. Should I make a new issue?
Specifically, a description of what each command does and removed references to old commands like `make html`

[2016-06-26 16:57] agramfort commented on #3338
@wmvanvliet is that expected?

[2016-06-26 16:59] agramfort commented on #3262
yes please do. Eric did a pass recently so start from a clean master

[2016-06-26 16:59] ARudiuk commented on #3262
sounds good

[2016-06-26 17:01] agramfort commented on #3336
yes I think that trimmed mean would be nice.

See API of scipy:

http://docs.scipy.org/doc/scipy-0.17.0/reference/generated/scipy.stats.trim_mean.html

let's try to copy it as much as possible.

[2016-06-26 18:31] wmvanvliet commented on #3338
no, this is definitely a bug. Either in `set_biopolar_reference` or in `info._update_redundant`. I will investigate.

[2016-06-27 05:51] #3338 closed

[2016-06-27 10:41] pfaion opened #3347 "AtrributeError while reading EEGLab data"
Hi,
I am trying to read in some data from EEGLab with the function
[mne.io.read_raw_eeglab()](https://martinos.org/mne/stable/generated/mne.io.read_raw_eeglab.html#mne.io.read_raw_eeglab)

but I get the error
**AttributeError: 'int' object has no attribute 'isdigit'**
[in line 541 of io/eeglab/eeglab.py](https://github.com/mne-tools/mne-python/blob/master/mne/io/eeglab/eeglab.py#L541)

Any ideas o

[2016-06-27 11:08] jaeilepp commented on #3347
Perhaps it needs to be cast to string on https://github.com/mne-tools/mne-python/blob/master/mne/io/eeglab/eeglab.py#L533 @mmagnuski @jona-sassenhagen ?
Just a stab in the dark...

[2016-06-27 13:13] jona-sassenhagen commented on #3347
Yeah, @pfaion is this with current MNE master?

[2016-06-27 13:14] agramfort commented on #3347
@pfaion if it's still broken with mne master please share a file

[2016-06-27 13:23] jona-sassenhagen commented on #3347
I think the line @jaeilepp links to would actually fail if you have a file created with an old version of EEGLAB with only a single event, so we need to fix either way.

But let's first see if this is the problem @pfaion has run into, or if there's another problem.

[2016-06-27 13:31] jona-sassenhagen commented on #2747
closed by #3275

[2016-06-27 15:43] sapttrs commented on #3336
I will take a stab at implementing.
I agree a trimmed mean method is best.
After looking at the code in more detail, I believe mne calls scipy.signal.welch to compute the psd, so it is scipy that I should attempt to contribute to first (to get scipy.signal.welch to return a trimmed mean).

[2016-06-27 15:53] #1941 closed

[2016-06-27 16:32] Eric89GXL commented on #3311
Well to expedite this I guess we could use the MNE namespace for a new constant. That way we don't need to bother the Elekta folks with it.

[2016-06-27 16:52] nfoti commented on #3292
A similar discussion is what prompted PR #3334. I'm running into a similar situation where I'm mapping a lot of epochs from a number of subjects to `fsaverage` and the only reasonably time/space-efficient way to store the resulting source space data is to save the morph matrices and to morph the epochs on demand. Having an object to store the matrices and the `vertices_from` and `vertices_to` woul

[2016-06-27 17:51] kambysese commented on #3280
@agramfort  I stand corrected. The `env` variables do work.

[2016-06-27 17:51] #3280 closed

[2016-06-27 20:15] christianbrodbeck opened #3351 "Time representation in SourceEstimate.plot()"
`stc.plot()` currently supplies time in ms, while PySurfer `Brain.save_movie()` assumes time is in s. Consequently, the default values as in `stc.plot().save_movie(fname)` produce a very slow movie. A simple solution to make it more intuitive would be to change time to seconds (it can still be labeled in the plot as ms), although that would change the behavior of existing scripts that compensate f

[2016-06-27 20:17] christianbrodbeck commented on #3311
@jaeilepp you suggested asking @mshamalainen about including a constant in the MNE range?

[2016-06-27 20:29] christianbrodbeck commented on #3294
It makes the raw doctoring somewhat less readable, but the links would be nice – Since numpydoc standard is `name : type` I wonder whether the link could be done in sphinx somehow even without the `:class:` notation?

[2016-06-27 22:00] Eric89GXL commented on #3294
That would be a potential enhancement to numpydoc repo. Not sure if
"instance of X" is ubiquitous enough to get that type of thing merged
though. If it is, it might not be so hard to do.

[2016-06-27 22:27] mmagnuski commented on #2747
Although the logic of OR (in the issue title) is fulfilled I think you can leave this open until channel properties are ready. :)

[2016-06-28 01:33] Eric89GXL commented on #3294
See:

https://github.com/numpy/numpydoc/issues/43

[2016-06-28 07:02] agramfort commented on #3294
it would be great to autodetect classes

[2016-06-28 07:22] jaeilepp commented on #3311
Yeah, I actually don't know how to reach him or if we need a permission to use the MNE-range. @Eric89GXL ?

[2016-06-28 09:41] agramfort commented on #3311
just use one constant and see what @mshamalainen says looking at the diff

[2016-06-28 09:45] agramfort commented on #3351
stc.plot().save_movie(fname)

should work out the box. Just make it work :)

[2016-06-28 14:32] christianbrodbeck commented on #3351
I think the more parsimonious option would be to have `SourceEstimate.plot()` use [s]. Can we justify breaking some old code which assumes brain time is in milliseconds?

An alternative would be to add a flag to `surfer.Brain` that remembers whether time is in [s] or [ms] and adapts the time dilation accordingly.

Preferences?

[2016-06-28 14:38] Eric89GXL commented on #3351
We can add a `time_unit=None` kwarg for deprecation, 0.13 it means `ms` 0.14 we change it to `s`

[2016-06-28 15:07] christianbrodbeck commented on #3351
@Eric89GXL I'll work on that.

A second issue: Since the `config_opts` parameter has been deprecated in PySurfer I was trying to update `plot_source_estimate` accordingly and noticed that that function already seems to be dealing with multiple PySurfer versions... It seems to me it would make things easier and more transparent to just require the latest version of PySurfer, or is there a reason wh

[2016-06-28 15:31] pfaion commented on #3347
Works with the current master. Sorry for any inconvenience...

[2016-06-28 15:31] #3347 closed

[2016-06-28 16:31] jona-sassenhagen commented on #3347
It's good, it made me realize another error.

[2016-06-28 16:46] Eric89GXL commented on #3351
I'm fine with bumping the minimum required version, it's an easy upgrade and has been out for a while IIRC

[2016-06-28 19:22] nfoti opened #3356 "Cross spectral-density estimation for ndararys"
It looks like the only way to estimate the cross spectral-density (CSD) is via the `compute_epochs_csd` function that requires your data to be stored in an `Epochs` object. It would be very convenient to also be able to compute the CSD of a bunch of trials stored in an `n_trials x n_{channels or labels} x n_time` `ndarray`.

It doesn't look like the current code would be hard to modify since most

[2016-06-28 19:24] Eric89GXL commented on #3356
I agree this would be useful. Can you just tack onto #3355 the refactoring? Try to make the new function names and arguments consistent with the `psd_*` functions, so I guess it might be `csd_multitaper`?

[2016-06-28 19:26] nfoti commented on #3356
Moving discussion to #3355.

[2016-06-28 19:42] Eric89GXL opened #3357 "ENH: Auto-build examples or tutorials that are modified"
Fun project for someone if they get bored. CircleCI currently builds full docs `html_dev` on `master` and `html_dev-noplot` on PRs. But really on PRs it should build `PATTERN=... make html_dev-pattern` when the PR touches an example or tutorial. So some enterprising person could inspect the `diff` and figure out if any of the files live in `examples/` or `tutorials/` and call the pattern version.

[2016-06-28 19:52] Eric89GXL opened #3358 "ENH: Tutorial on coreg"
@christianbrodbeck it occurred to me it might be nice to have a tutorial on using the coreg GUI. A lot of it would be text, but you could at least set up the inputs, have a set of text instructions, and then show the outputs that one would get. Is that feasible? Any time/interest in doing it?

It would also be cool if there were one for using a surrogate MRI, maybe as a separate tutorial.

[2016-06-28 19:54] Eric89GXL commented on #3292
I propose adding a new class like `Morpher` or `MorphMatrix` for this purpose. It would store the vertices_from, vertices_to, and matrix, and do input validation and the like when it's used. @agramfort sound good to you? If so I can take a stab at it.

[2016-06-28 22:06] jasmainak commented on #3357
I'm not super sure I agree with this because in principle you could break an example from a diff not in the example ... to me, CircleCI is also a testing mechanism

[2016-06-28 22:14] christianbrodbeck commented on #3358
Yes completely agree, I was recently thinking of making one in the style of the slides, with annotated screenshots and descriptions, would that fit in?

[2016-06-28 22:20] Eric89GXL commented on #3358
The more scripted you can make it the better, but yeah annotated images
should work too. You should be able to include them somehow.

[2016-06-28 22:22] Eric89GXL commented on #3357
Unfortunately it is not feasible to run all examples for every PR from a
build time standpoint, so this is probably the best we can do for now

[2016-06-29 05:13] choldgraf opened #3361 "Broken fig background plotting"
Just noticed in the docs - it looks like the background isn't plotting properly when setting a custom image with the `plot_topo` functions:

http://martinos.org/mne/dev/auto_examples/visualization/plot_clickable_image.html#sphx-glr-auto-examples-visualization-plot-clickable-image-py

Anyone know what caused this? If nothing obvious I'll look into it and try to fix.

[2016-06-29 06:32] agramfort commented on #3357
let's keep this for a sunday hack

[2016-06-29 06:54] #3107 closed

[2016-06-29 06:54] #3281 closed

[2016-06-29 06:57] agramfort commented on #3361
no idea

[2016-06-29 07:06] agramfort commented on #3358
or a nice screencast on an MNE youtube channel? :)

[2016-06-29 07:09] dengemann commented on #3358
I think Christian in fact did such a thing, at least a slide show. Eric is
video experienced afaik.
On Wed, 29 Jun 2016 at 09:06, Alexandre Gramfort <notifications@github.com>
wrote:

[2016-06-29 07:38] agramfort commented on #3292
can you write me a gist of how you image the code will look like?

[2016-06-29 07:47] jona-sassenhagen commented on #2465
Should probably close this. It's likely it was the thing @wmvanvliet fixed during the sprint.

[2016-06-29 08:01] jaeilepp commented on #3357
But this change wouldn't remove the ``dev-noplot`` build. It would just add building of the modified examples/tutorials. Right?

[2016-06-29 10:01] jona-sassenhagen opened #3362 "Tutorial for migrating from Fieldtrip"
We have a tutorial for EEGLAB users. We should have the same for Fieldtrip users, as Fieldtrip is I think the second-largest software platform (and IME a bit more popular amongst MEG people).

I can't do it, I've never really used Fiedltrip.

[2016-06-29 10:03] jona-sassenhagen commented on #3362
https://www.martinos.org/mne/stable/manual/migrating.html EEGLAB tutorial here.

[2016-06-29 14:28] #3005 closed

[2016-06-29 14:28] #3063 closed

[2016-06-29 14:31] Eric89GXL commented on #3357
It would replace the `make html_dev-noplot` with `make html_dev-pattern`, thus making the testing (and usefulness in reviews) more complete than it is now.

[2016-06-29 14:32] #2465 closed

[2016-06-29 18:32] Eric89GXL opened #3366 "BUG: CircleCI cache problem"
@jaeilepp I noticed that CircleCI doesn't actually cache `/home/ubuntu/mne_data`, leading to lots of re-downloading. Do you know why?

Maybe we should try caching individual directories like `mne_data/MNE-sample-data` or so. WDYT?

[2016-06-29 18:48] mmagnuski commented on #3269
`plot_ica_properties` has been merged, you can plot ic properties this way:
[code]
so this issue can be closed.

[2016-06-29 18:55] #3269 closed

[2016-06-29 19:13] mmagnuski commented on #3357
I have a slightly related question:
when are the dev online docs updated (I cannot see any changes there)?
Or - how can I see the cutting edge docs without building them on my computer? I don't know how to get to relevant circle-artifacts...

[2016-06-29 19:16] Eric89GXL commented on #3357
https://mne-tools.github.io/dev should be updated on every successful build on `master` (i.e., after every PR merge), but it looks like that isn't happening. @jaeilepp any ideas why not?

Do you see the status updates from CIs about the builds? One of them is from Circle. Can you try navigating to that one to see if you can see the "artifacts" tab toward the top? Like here:

https://circleci.com/g

[2016-06-29 20:37] mmagnuski commented on #3357
I don't see any artifacts tab under the link you posted :(
I see "collect artifacts" section - but there is a lot of text.

[2016-06-29 20:40] Eric89GXL commented on #3357
You don't see something like this:

![screenshot from 2016-06-29 16-39-54](https://cloud.githubusercontent.com/assets/2365790/16468068/29d568fa-3e18-11e6-8680-d5fedd48c071.png)

What do you see?

[2016-06-29 20:45] mmagnuski commented on #3357
I see this:
<img width="650" alt="circ" src="https://cloud.githubusercontent.com/assets/8452354/16468164/e09e63b6-3e4a-11e6-9f2d-0fa2c2fa46ca.PNG">

Is creating an account on circle sufficient for artifacts to show up (funny, I usually try to avoid artifacts ;) )?

[2016-06-29 20:47] mmagnuski commented on #3357
Ok, I signed up and I can see the artifacts tab :)

[2016-06-29 21:42] Eric89GXL commented on #3357
Yeah you should just be able to sign in with GitHub

[2016-06-30 05:57] jaeilepp commented on #3366
No idea. I remember having a similar problem when I was starting up the circle builds, but then it magically fixed itself.

I think it's worth a try.

[2016-06-30 06:17] jaeilepp commented on #3357
I see that the last push was on 11th of May, so [this](https://github.com/mne-tools/mne-python/commit/38aac46012694c941e8255f2e1f7476c7b51c000) probably broke it. I'm not sure why.

[2016-06-30 10:03] #3361 closed

[2016-06-30 10:03] jaeilepp commented on #3361
This got fixed

[2016-06-30 11:00] jona-sassenhagen commented on #2693
Eventually, I will do this.

With contours ...
![](https://files.gitter.im/mne-tools/mne-python/934r/Unknown-155.png)

@mmagnuski maybe you're interested.

[2016-06-30 11:04] dengemann commented on #2693
Yes it is historical, we have no strong commitments to maintaining private
functions. Anything that deconvolutes the private codes would be good.
Afterall we should facilitate viz contribs from newcomers. Readable code is
a start.
On Thu, 30 Jun 2016 at 13:00, jona-sassenhagen <notifications@github.com>
wrote: