[2022-06-27 10:51] drammock opened #10835 "update path handling in examples/preprocessing/otp.py"
all of our `data_path` functions now return `pathlib.Path` objects, which allows things like the following:

https://github.com/mne-tools/mne-python/blob/37a9e5587443109515a85cdc4396af4e014ecf82/examples/datasets/brainstorm_data.py#L32-L35

Compare this to the old pattern (using `os.path.join`, often imported as `op.join`):

[code]

or the *really* old pattern (using the `+` operator on plain stri

[2022-06-27 10:53] #10810 closed

[2022-06-27 10:53] #10812 closed

[2022-06-27 11:12] CarinaFo opened #10836 "split raw file error in examples/decoding/decoding_rsa_sgskip.py"
while executing line 83 - 84: raws = [read_raw_fif(fname, verbose='error') for fname in fnames]  this error pops up:

[code]

[2022-06-27 11:27] #10808 closed

[2022-06-27 11:30] drammock commented on #10836
I've reproduced this locally on current `main`

[2022-06-27 12:10] drammock opened #10837 "Ultraslow tests are failing intermittently"
some threads are timing out on the `creating the BEM surfaces` step of `test_flash_bem`.

[code]

stdout excerpt (from Azure):
[code]

cc @agramfort and @larsoner, I'm guessing this is from #10715 ?

[2022-06-27 12:18] drammock commented on #10836
it seems that the visual_92 data files have a `FIFF_REF_FILE_NUM` tag but don't actually have subsequent files (?).  This dataset is only actually used in 2 places in our docs, and both are `_sgskip` files so they never actually get executed/tested. Here are the lines where the tag gets matched and triggers `next_fname` to not be `None`:

https://github.com/mne-tools/mne-python/blob/23a8da684a4deb

[2022-06-27 18:16] #10811 closed

[2022-06-27 20:10] Kiranraj227 opened #10848 "Get KeyError: 'float', when trying to plot EEG data from .mff file"
#### Describe the bug
*When I try to plot the raw data, I get this error: KeyError: 'float'*

#### Steps to reproduce
import mne
import matplotlib

matplotlib.use('Qt5Agg')
fname = r"C:\Users\HP\Desktop\MD.mff"
raw = mne.io.read_raw_egi(fname)
raw.crop(tmax=60).load_data()
#error occurs when running the line below
raw.plot(duration=20, scalings=20e-6)

#### Expected results
*Expect to plot EEG cha

[2022-06-27 21:52] larsoner commented on #10837
I'll fix this because it's turning CIs red

[2022-06-28 00:46] #10837 closed

[2022-06-28 06:20] architsinghal-mriirs commented on #10835
Hi @drammock . I'd like to collaborate on this task. Please assign this issue to me !
Thanks & Regards
Archit Singhal

[2022-06-28 07:15] Kiranraj227 commented on #10848
When I checked the file that the error message was referring to (mne_qt_browser_pg_figure.py:3863,), I noticed the dictionary for fmt_multipliers did not contain float as one of its options as shown below:
[code]
Therefore, it raises the KeyError: 'float'

Please note that for my dataset (MD.mff), the orig_format = 'float'

Please advise a workaround for this. The weird thing is when running the s

[2022-06-28 08:51] mscheltienne commented on #10848
I can reproduce locally with a `.mff` file, and I ran into this when trying to add EGI as a manufacturer for `mne-bids`.
I think the reader should be improved to load an `orig_format` of `single` or `double`.

As a workaround, you can set the format to `double` with `raw.orig_format = "double"`. Then the plot with the qt browser works.

[2022-06-28 09:06] Kiranraj227 commented on #10848
It finally works! I also edited the library by adding the double to the dict. Thanks a lot for your help. Spent the whole night with this error.

[2022-06-28 09:17] Kiranraj227 commented on #10848
[code]

[2022-06-28 09:33] mscheltienne commented on #10848
Could you leave this issue open? It would be good to fix it for everyone rather than patch it every time.

[2022-06-28 11:50] drammock opened #10852 "test_search_light fails on CI pre jobs"
possibly an sklearn behavior change?  Haven't dug any deeper yet.

Failing on linux [here](https://github.com/mne-tools/mne-python/runs/7088858139?check_suite_focus=true#step:13:3625) and windows [here](https://dev.azure.com/mne-tools/mne-python/_build/results?buildId=20371&view=logs&j=305851a9-a7bb-55db-0042-7e2b6f48aa1c&t=77eb5bf7-3205-5b54-06c6-183c8195d846&l=3199)

[code]

[2022-06-28 12:25] agramfort commented on #10852
yes sklearn pre was just released I think.... I need to look into this

[2022-06-28 12:29] drammock opened #10853 "path error in setup_volume_source_space"
from CircleCI:
[code]
https://github.com/mne-tools/mne-python/pull/10846#discussion_r908372846

[2022-06-28 13:42] larsoner opened #10854 "ENH: Improve representation of epochs time bar"
There are two separable issues here:

1. what duration should the bar represent?
2. should the number be displayed in seconds or milliseconds?

For point 1, I don't necessarily think it should be shorter (or longer). I think it should be a nice round number. Think about scale bars on maps, etc. They tell you how long 1 km is in the map scale; they don't tell you "half the map width corresponds to

[2022-06-28 13:43] larsoner commented on #10854
BTW my vote would be to display anything < 1 s using `x ms` and >= 1 s using `x s`, I think it'll be easier for people to read `50 ms` than `0.05 s`

[2022-06-28 16:19] scott-huberty commented on #10782
Thanks for sharing the code! I've only done some preliminary testing on my local machine, but I think I have amended `mne.io.read_raw_egi()` to load the chan names where the ref channel is now called `VREF`

As far as the channel locations go, it's seems like there is already code in `egimff.py` that [reads the sensor locations](https://github.com/mne-tools/mne-python/blob/1310269f27bdf4347dfc465a

[2022-06-28 16:43] #10853 closed

[2022-06-28 17:58] alexrockhill opened #10860 "[ENH] Add example of mesh imports from 3D Slicer (nrrd format)"
The goal is to be able to visualize tumor surfaces with the pial surface and then later to add it to the `ieeg_locate` user interface in order accurately place intracranial microgrids which depend on an image of the surface of the brain.

We need to:

- [ ] Anonymize sample data from a patient and their recording and add to https://github.com/mne-tools/mne-misc-data (should include freesurfer reco

[2022-06-28 18:29] larsoner commented on #10680
And possibly relatedly, even on Linux there is a problem if you open more than one window at once

https://gitlab.kitware.com/vtk/vtk/-/issues/18588

[2022-06-28 19:44] #10817 closed

[2022-06-28 20:33] drammock commented on #10860
To flesh out the steps a little bit, I think a reasonable priority order would be:

1. make a copy of `examples/visualization/brain.py` (I'll call it `tumor.py` below) in the same folder.

2. install `pynrrd` (in a terminal, `conda activate mnedev` and then `pip install pynrrd` should do it)

3. edit `tumor.py` so that it imports `pynrrd` and uses it to read in a 3Dslicer tumor file (just to make

[2022-06-28 20:36] alexrockhill commented on #10860
Great points @drammock , I'll run the recon now on the defaced T1 and then we can go from there. Maybe put it in mne/examples/clinical/ though.

[2022-06-28 20:41] drammock commented on #10860
...also along the way we'll want to make a public API `brain.add_mesh()` or so, to avoid accessing the private `._renderer` attribute in an example. But let's get it working first before worrying about that.

[2022-06-28 21:06] drammock commented on #10650
this was closed by #10839

[2022-06-28 21:06] #10650 closed

[2022-06-28 21:09] adelinefecker commented on #10860
Thank you for all the help. I've done 1, 2, 3. It's printing the array for the tumor volume with the right dimensions. The image background is black so a lot of zeros is that going to be a problem with the how the MRI is converted? I am trying to figure out how to make a 3d structure from the array to check that it looks correct.

[2022-06-28 21:18] alexrockhill commented on #10860
Oh I thought it was a surface, that sounds like a volume so you'll have to use marching cubes. There's an example in mne.viz.Brain.add_volume_labels. It's a bit complicated feel free to hop on Discord if you get stuck.

[2022-06-28 22:05] alexrockhill commented on #10860
So it turns out there might be a bit of an issue sharing data in this case because of pending IRB approval. With the potential issues with anonymization and PHI, we could consider faking the tumor on a healthy sample dataset. It's a bit more work but I don't think too hard. Basically @adelinefecker , in the example you can load in a healthy MRI, zero it out where the tumor was and then go from the

[2022-06-29 00:24] adelinefecker commented on #10860
@larsoner I'm hoping you may be able to help troubleshoot. I drew a 3d tumor volume on 3d slicer and saved as nrrd (attached here)
[tumor.nrrd.zip](https://github.com/mne-tools/mne-python/files/9006228/tumor.nrrd.zip) . @alexrockhill helped me out with the marching cubes line and we verified it worked using the brainstem volume from free surfer. I'm not sure why it's spread out like this. I believ

[2022-06-29 06:00] #10821 closed

[2022-06-29 07:06] #10822 closed

[2022-06-29 13:09] #10831 closed

[2022-06-29 13:09] #10833 closed

[2022-06-29 13:09] #10834 closed

[2022-06-29 15:36] scott-huberty commented on #10782
Apologies, I was mistaken - you don't need to set a standard montage.

 See below, plotting the sensors, with the amended code to read in the channel names, with the ref chan named `VREF`:
![Screenshot from 2022-06-29 11-31-15](https://user-images.githubusercontent.com/52462026/176476773-7c954e18-30db-4e4f-a421-4c92268f3c74.png)

Compared to the prior code, with the ref chan named `E129`:
![Screen

[2022-06-29 16:36] matthiasdold opened #10867 "Unexpected behavior when Epoching data on cropped Raw with .set_annotations"
#### Describe the bug
I am cropping a `raw` object to exclude the first data (not containing any trials which are relevant for me). Later I need to work on the data as an array (plain `numpy`) and bring everything back to a new raw `nraw` object (type: mne.io.array.array.RawArray), including setting the annotations from the cropped but otherwise not modified `raw`.

Now the data and the events are

[2022-06-29 17:12] #10818 closed

[2022-06-29 19:48] hoechenberger opened #10871 "plot_topomap()'s cnorm param should accept a CenteredNorm"
Plotting T statistics on topographic maps with @SophieHerbst, I discovered that `mne.viz.plot_topomap()` only accepts `TwoSlopeNorm` as `cnorm` paramter.

However, I believe for our purpose, [`TwoSlopeNorm`](https://matplotlib.org/stable/api/_as_gen/matplotlib.colors.TwoSlopeNorm.html) is not the best solution:

Instead, I believe [`CenteredNorm`](https://matplotlib.org/stable/api/_as_gen/matplotl

[2022-06-29 20:14] adelinefecker commented on #10860
@alexrockhill i tried the same code with a larger tumor volume.
[bigtumor.nrrd.zip](https://github.com/mne-tools/mne-python/files/9014186/bigtumor.nrrd.zip) I wondered if there could be an issue if the volume is not 100% filled in/solid. Like one black pixel inside the volume is throwing it off. I was extra careful this time to make sure the tumor was filled in.

Same result...
<img width="599" al

[2022-06-29 20:33] alexrockhill commented on #10860
Having a hole shouldn't matter, remember the brainstem had the fourth ventricle and it worked fine. I really have no idea why it's not working. You could try another marching cubes algorithm e.g. https://scikit-image.org/docs/stable/auto_examples/edges/plot_marching_cubes.html and see if it works. If so, it's definitely a bug in the MNE code and we'll have to look into that...

[2022-06-29 21:22] drammock opened #10872 "support path-like in mne.make_forward_solution"
after converting a tutorial to use `pathlib.Path` objects in #10846, CircleCI fails:

[code]

So it seems `mne.make_forward_solution` is apparently not fully supporting path-like. Also the error message could be better (it could tell you what kind of instance it received).

cc @ashdrew

[2022-06-29 21:48] drammock commented on #10836
this wasn't actually fixed yet, as the linked PR wasn't merged. reopening.

[2022-06-29 21:51] #10815 closed

[2022-06-29 21:52] #10807 closed

[2022-06-29 21:55] drammock commented on #10871
probably `TwoSlopeNorm` and `CenteredNorm` have a parent class they both inherit from; if so we could/should use that in the call to `_validate_type`

[2022-06-30 00:31] alexrockhill commented on #10819
It also doesn't look like `matplotlib` works in notebook, I get this:

<img width="852" alt="Screen Shot 2022-06-29 at 5 28 47 PM" src="https://user-images.githubusercontent.com/13473576/176567699-69aa8860-abbe-41df-82fe-3e2b597ba3bd.png">

When, with `pyvistaqt` I get this:

<img width="1067" alt="Screen Shot 2022-06-29 at 5 29 28 PM" src="https://user-images.githubusercontent.com/13473576/176567

[2022-06-30 06:24] hoechenberger commented on #10871
Yes they do. Although I almost believe that there are probably very few (no?) use cases for TwoSlopeNorm when plotting topomaps... because it creates "asymmetrical" gradients 🤔

[2022-06-30 06:55] hoechenberger opened #10878 "Picking after adding a reference channel is broken for Epochs"
First reported on the forum at https://mne.discourse.group/t/can-not-reorder-channels-after-adding-a-reference-channel/5180

Works:
[code]

Doesn't work:
[code]
and yields:
[code]

[2022-06-30 08:36] wmvanvliet commented on #10871
ping @cbrnr :)

[2022-06-30 08:38] cbrnr commented on #10871
To support asymmetrical mappings and still have white represent zero. For example, ERD/ERS values range from -1 to e.g. 2.5, but I want 0 to be "in the middle" (white).

[2022-06-30 08:40] cbrnr commented on #10871
I don't understand what they mean with "equal/unequal rates of change around a conceptual center" though.

[2022-06-30 08:46] wmvanvliet commented on #10871
Say the data is from -1 to 2.5, and the colormap is blue --> white ---> red. We would normally want the colormap to be symmetric: -2.5 to be dark blue, 0 to be white and 2.5 to be dark red. I think the `TwoSlopeNorm` will make -1 dark blue, so an assymetric colormap.

[2022-06-30 08:49] wmvanvliet commented on #10871
Aah I see. So, if you just want a symmetric colormap like in my example, normally you would just use `vmin == vmax` and be done. But in the exceptional case where you don't want a symmetric map, this used to be impossible without the `cnorm` parameter. Hence, the doc for `cnorm` mentions `TwoSlopeNorm` because it describes this case.

[2022-06-30 08:58] cbrnr commented on #10871
Exactly!

[2022-06-30 13:16] Unknolwn opened #10881 "Plot GLM result on probe design"
The aim of this feature is to copy the Matlab output and have a visual representation of the coefficnet of each individual channel for direct comparison.

![image](https://user-images.githubusercontent.com/103732720/176686053-1a8cf297-bdb1-42f8-af9d-da4944c44a99.png)

[2022-06-30 14:16] soso-maitha opened #10882 "FileNotFoundError: The path you specified, "slp01a.dat.lay",does not exist."
#### Describe the bug
I get the following error when I try to read .dat file
FileNotFoundError: The path you specified, "slp01a.dat.lay",does not exist.

#### Steps to reproduce
[code]
the data are from MIT-BIH Polysomnographic Database https://physionet.org/content/slpdb/1.0.0/

[MWE]: https://en.wikipedia.org/wiki/Minimal_Working_Example
[built-in datasets]: https://mne.tools/dev/overview/datase

[2022-06-30 14:25] soso-maitha opened #10883 "ValueError: invalid literal for int() with base 10: '09:01:17' when trying to read EDF file"
#### Describe the bug
I get the following error when I try to read an EDF file
`ValueError: invalid literal for int() with base 10: '09:01:17'`

#### Steps to reproduce
[code]
This is the database https://physionet.org/content/ucddb/1.0.0/

[MWE]: https://en.wikipedia.org/wiki/Minimal_Working_Example
[built-in datasets]: https://mne.tools/dev/overview/datasets_index.html
[sample]: https://mne.tool

[2022-06-30 14:43] drammock commented on #10882
Are you sure the data come from a Persyst system?  the `.dat` file extension is used by more than one manufacturer.  There doesn't seem to be a `.lay` file, instead there is a `.hea` (header) file.  cc @adam2392 who wrote the Persyst reader.

[2022-06-30 14:50] adam2392 commented on #10882
I do not think the data comes from Persyst. So unfortunately no idea.

If it's a new system, would be nice to have it as a PR

[2022-06-30 14:52] drammock commented on #10882
@soso-maitha can you help by figuring out what the data format is?  I skimmed https://ecg.mit.edu/george/publications/slpdb-pcn-1999.pdf but they don't mention Persyst.

[2022-06-30 15:16] CarinaFo opened #10885 "implement a tutorial on regression based baseline correction based on Alday at el. 2019"
from Alday et al. 2019:

[2022-06-30 15:23] drammock commented on #10883
This is not a valid EDF file.  Quoting from [the original standard](https://www.edfplus.info/specs/edf.html):

and [the EDF+ standard](https://www.edfplus.info/specs/edfplus.html), section 2.1.3:

These files appear to be using a colon separator for times.

You can hack it to work with these files by changing the `.` to `:` on this line:

https://github.com/mne-tools/mne-python/blob/e49525c470b01b

[2022-06-30 16:02] agramfort commented on #10867
here is a code that works as expected:

[code]

the 2 important lines are

`nraw = mne.io.RawArray(raw.get_data(), raw.info, first_samp=raw.first_samp)`
and
`nev, nevid = mne.events_from_annotations(nraw)`

[2022-06-30 16:15] matthiasdold commented on #10867
Thank you very much @agramfort! Sorry that I did not spot the `first_samp` kwarg.

I guess this will correctly set `nraw._cropped_samp` or `nraw._first_samps` and `nraw._last_samps` on which the epoching will rely on, right?

Either way, this can be closed of course.

[2022-06-30 16:15] #10867 closed

[2022-06-30 16:48] drammock commented on #10828
ok so if all you really need is `mne-base` and it works with the version of `conda` that you want, then this can be closed, yes?  (If not we may need to close anyway as unfortunately there's little we can do to make conda's solver work better)

[2022-06-30 17:14] adelinefecker commented on #10860
@alexrockhill that worked!
I simply replaced

with

<img width="595" alt="image" src="https://user-images.githubusercontent.com/105456516/176737382-0a2a578c-819c-460f-84b7-cb757f1dde54.png">

[2022-06-30 17:16] alexrockhill commented on #10860
Huh when I convert it to an image it looks off

[code]

<img width="1002" alt="Screen Shot 2022-06-30 at 10 16 13 AM" src="https://user-images.githubusercontent.com/13473576/176738262-1add657b-8557-4eb9-be7a-e25b4bba24bb.png">

That's great that it works above, must be a bug in the mne marching cubes implementation.

[2022-06-30 17:26] larsoner commented on #10819
Indeed the notebook has some bugs including the image display. Sometimes it gets deformed, too. See the `object_fit` stuff in
https://github.com/mne-tools/mne-python/issues/8833 and also https://github.com/mne-tools/mne-python/issues/8704

[2022-06-30 17:32] #10848 closed

[2022-06-30 17:33] alexrockhill commented on #10860
Well this looks reasonable though

[code]

<img width="648" alt="Screen Shot 2022-06-30 at 10 33 26 AM" src="https://user-images.githubusercontent.com/13473576/176741258-97e003ce-d244-4e96-88f9-150e6efa2484.png">

Not sure what's causing the marching cubes issues....

[2022-06-30 17:45] drammock commented on #10882
I've never worked with this format so I'm not sure what else to say. Having a `.dat` extension in no way guarantees that the file contents are a valid persyst file, and the absence of a `.lay` file seems to support the hypothesis that it is in fact something else. On the contrary, if you are able to open the file in some other software (e.g., Persyst's proprietary software, or in Fieldtrip or Brai

[2022-06-30 17:53] alexrockhill commented on #10860
So the surface should be in voxels and you need to convert it to surface RAS as in here https://mne.tools/dev/auto_tutorials/forward/20_source_alignment.html but the problem is that it's not from the same MRI so I think the first step is to regenerate one using the sample MRI as a base instead of the one that is 520 x 520 x 196. Then all you have to do is apply the vox to surface RAS transform:

[

[2022-06-30 19:00] drammock opened #10888 "support "sensitivity" and "timebase" style scaling in raw data browsers"
From the forum: https://mne.discourse.group/t/scaling-sensitivity-uv-mm/5079

The idea is that the raw data browser should have a way to take into account the DPI of the display when setting the signal scaling (both amplitude scaling, and when setting the duration of signal shown onscreen). This is apparently important for clinical practice, where certain waveform patterns are diagnostically usefu

[2022-06-30 19:51] Immiora opened #10890 "3D plots show as blank scenes (pyvista), no plots in jupyter lab (notebook)"
This worked just fine in `mne=0.22.0`, but does not in `mne=1.0.3`

Tried installing mne in three different ways:
1) via pip + conda and manually adding latest pyvista, pyvistaqt, vtk, PyQt
2) via the requirements.txt from [here](https://mne.tools/stable/install/advanced.html) and `pip install --user -r requirements.txt`
3) using the packaged installer from [here](https://mne.tools/stable/install/

[2022-06-30 20:14] agramfort commented on #10867
correct

[2022-07-01 00:21] wvxvw commented on #10828
Maybe drop a line to Anaconda's people? I'm too tired of reminding them how `conda` is broken. They probably ignore this coming from the same person anyways.

Or, at the minimum, you could write in installation instructions to not use `conda`, since it doesn't work. Would save people some headache.

[2022-07-01 00:43] #10872 closed

[2022-07-01 02:12] rob-luke commented on #10881
Thanks for the suggestion @Unknolwn

I think this is a common visualisation technique across other software platforms, and probably something we should provide. Currently, MNE-NIRS can display this exact same information, except on a 3D head. But I can see the benefit of wanting a simpler visualisation.

Perhaps we could leverage the work done around [mne.viz.plot_bridged_electrodes](https://mne.t

[2022-07-01 06:49] moritz-gerster commented on #8257
Dear @ometett, I have the same problem. If you still have your code that solved the synchronization between EEG and MEG and if you could paste it here, that would be a great help! :)

[2022-07-01 07:25] cbrnr commented on #10828
Since you seem to be very unhappy with conda, have you tried using pip? This is the official Python package manager, and I have found pip to work extremely well. I do not use conda/mamba for the same reasons you seem to have, so maybe pip is worth a try?

[2022-07-01 07:50] agramfort commented on #10890
can you try with a fresh environment?

something like this:
conda create --name mne_env python=3.9 mne
then activate it with:
conda activate mne_env

On Thu, Jun 30, 2022 at 9:52 PM Julia Berezutskaya ***@***.***>
wrote:

[2022-07-01 10:39] Immiora commented on #10890
Hi, thanks for your reply!

Yes, I did clean install with both options 1 and 3. The first one using my existing anaconda. Option 3 installs a fresh separate conda even. The result is the same for all installations.

[2022-07-01 12:46] larsoner commented on #8257
https://mne.tools/dev/generated/mne.preprocessing.realign_raw.html should work

[2022-07-01 17:39] alexrockhill commented on #10860
@adelinefecker , would you be able to find an openly available MRI with a tumor maybe on OpenNeuro or Open Science Framework and do a video that we could embed in the documentation for how to use Slicer? If you don't end up finishing, I could take over for you if you don't have time but that part especially, I think I wouldn't do nearly as well as you. If you make it an mp4, you can just put it in

[2022-07-01 17:41] adelinefecker commented on #10860
@alexrockhill good idea. I'll work on that this afternoon!

[2022-07-01 17:51] alexrockhill commented on #10860
This looks like it's paywalled but maybe you have access? https://ieee-dataport.org/data-formats/nifti-images.

Hey maybe this one http://nist.mni.mcgill.ca/bite-brain-images-of-tumors-for-evaluation-database/?

[2022-07-01 18:00] hoechenberger commented on #10878
I agree, let's get 1.1 out the door ASAP!

[2022-07-02 19:24] hoechenberger opened #10899 "Problem with visual_92_categories dataset"
Reported at https://mne.discourse.group/t/mne-visual-92-categories-data-sample-subject-0-raw-1-fif-does-not-exist/5204

The dataset consists of 4 split files, but they've been manually renamed.

To fix:
Each file should be read individually, and `on_split_missing='warn'` should be passed. Then the file should be re-saved without it getting split. So we're basically manually splitting the files, as

[2022-07-03 00:26] adelinefecker commented on #10860
here is the 3D slicer example MRI (nii.gz) and tumor volume (nrrd) for your reference @alexrockhill I can work with caleb to do the free surfer reconstruction on this example MRI and take us one step closer to getting them aligned. Thank you!
[tumor_example.nrrd.zip](https://github.com/mne-tools/mne-python/files/9033887/tumor_example.nrrd.zip)
[MRI_tumor_example.nii.gz.zip](https://github.com/mne-

[2022-07-03 00:36] alexrockhill commented on #10860
Awesome, did you have a chance to do a video? Where is the mri from?

[2022-07-03 14:26] #10835 closed

[2022-07-04 18:14] Immiora commented on #10890
A bit of an update. I am able to plot things correctly if I make calls directly to `pyvista` and `vtk` (avoiding calls to `mne`).

Any ideas what is going on?

[code]

The calling
[code]
produces the expected plot:
![3](https://user-images.githubusercontent.com/23262551/177202408-adbe2589-b4b3-4295-bb65-b4f8f6fcb25e.jpg)

Is there anything specific in the way `pyvista` is accessed for rendering fr

[2022-07-05 03:27] adelinefecker commented on #10860
@alexrockhill the example is provided by 3D slicer when you download https://www.slicer.org/wiki/SampleData
Tutorial file won't upload it's too large so i'll email it.

[2022-07-05 13:14] drammock commented on #10852
this was fixed by #10889

[2022-07-05 13:14] #10852 closed

[2022-07-05 13:31] larsoner commented on #10899
IIRC the problem was that the raw file ended up being huge, so hosting it (and people reliably downloading it) were going to be tricky

[2022-07-05 13:41] drammock commented on #10899
if it's recreated *still as a split file* but with proper naming, this won't be an issue though right?

[2022-07-05 14:13] drammock commented on #10899
it's 6ish GB...

![Screenshot_2022-07-05_09-10-27](https://user-images.githubusercontent.com/1810515/177347994-37a326ac-82db-48f9-81d3-7df82238515c.png)

If we fix this we should also get rid of the unnecessary "dotfiles".

My vote is for keeping them split, and fixing the naming so that they actually load as split files, as long as that doesn't have a huge impact on the tutorial run time.

[2022-07-05 15:13] alexrockhill commented on #10860
Can you try and make the video like 2 minutes or so and then convert it to mp4 so the file size is reasonable?

[2022-07-05 16:42] #10814 closed

[2022-07-05 16:54] #10813 closed

[2022-07-05 19:15] jadrew43 opened #10901 "List of dict values for Forward object"
Would it be possible to document the various values of the Forward object? For example, if `fwd = mne.Forward()` it would be nice to have a succinct list showing the differences between `fwd['src']` and `fwd['src'][0]` and `fwd['src'][0]['vertno']` without having to do a `.__dict__()` search for each level of information.

[2022-07-05 19:56] larsoner commented on #10759
FYI this has been fixed by https://github.com/xianyi/OpenBLAS/pull/3675 and there is only one remaining issue in OpenBLAS's [0.3.21 milestone](https://github.com/xianyi/OpenBLAS/milestone/40), so it might be worth waiting for this to be fixed.

[2022-07-05 19:58] larsoner commented on #10901
I can take a stab at this in the next few days

[2022-07-05 22:12] adelinefecker commented on #10860
@alexrockhill I'll have to shorten it

[2022-07-06 08:17] hoechenberger opened #10903 "Brain should allow selection of an atlas & display the parcel names on hover (e.g., in the status bar) even when show_traces=False"
We were looking at "static" data (only a single time point), hence we turned off `show_traces` to have more space. But then when we discovered an "interesting" region, we couldn't figure out the name of the parcel without restarting `Brain` with `show_traces=True`, because only then the Annotations dropdown will appear.

[2022-07-06 18:08] moonj94 opened #10904 "Issue with importing EEGLAB .set file"
#### Describe the bug
I'm trying to load some data from a .set file into python and I keep getting an error saying 'index out of range'. This problem exists for both read_raw_eeglab and read_epochs_eeglab. The problem exists regardless of whether or not there is a .fdt file in the folder.

#### Steps to reproduce
Download data from https://openneuro.org/datasets/ds003061/versions/1.1.0

run mne.io

[2022-07-06 18:40] drammock commented on #10904
if datalad is corrupting files when downloading them, you should report that bug to datalad. Meanwhile you can try https://github.com/hoechenberger/openneuro-py

[2022-07-06 18:40] #10904 closed

[2022-07-06 18:43] larsoner opened #10905 "ENH: Comply with ECoG/sEEG best practices where possible"
@alexrockhill have you seen https://www.sciencedirect.com/science/article/pii/S1053811922005559 ? When you get a chance, can you make a list here of what we should add / change to comply with what they recommend? Might be worth discussing at the next dev meeting. Or if we already comply, feel free to close!

[2022-07-06 19:24] larsoner commented on #10905
Okay then let's close, but feel free to reopen if you find we missed anything else

[2022-07-06 19:24] #10905 closed, assigned to nobody

[2022-07-07 08:19] wmvanvliet opened #10908 "Loading BESA .elp montage files skips first channel"
#### Describe the bug
The loader for BESA style `.elp` montage files is broken. The current code assumed that these type of text files start with the number of channels on the first line. Looking at [an example `.elp` file](https://github.com/mne-tools/mne-python/blob/2e89fadd9c1863341dd3d9c6645395ec08fd7c89/mne/io/besa/tests/data/simulation.elp) generated with the BESA simulation software, lookin

[2022-07-07 08:20] wmvanvliet commented on #10908
I'm fixing this bug as part of the BESA file reader PR.

[2022-07-07 10:22] hoechenberger opened #10909 "More resources on CircleCI"
The freely hosted Docker runners can now request more resources on CircleCI (4 CPUs & 8 GB of RAM) via
[code]
See https://circleci.com/docs/2.0/configuration-reference/#resourceclass

I already tried it in another repo and it seems to be working.

This could allow us to
- render some of the currently excluded examples/tutorials,
- parallelize more inside tutorials (`n_jobs=X`),
- use more complex

[2022-07-07 11:54] hoechenberger commented on #10909
See it in action here:
https://app.circleci.com/pipelines/github/mne-tools/mne-bids-pipeline/3008/workflows/0a7c98e6-40d9-4e3a-a0f4-43107719fbb0/jobs/29102/resources

[2022-07-07 12:04] datalw opened #10910 "Annotation texts are not shown completely"
#### Describe the bug
The annotation texts are not shown completely within matplotlib browser.
They are complete within `mne-qt-browser`.

Btw. I need to use matplotlib browser instead of `mne-qt-browser`, since I have to edit the figures using the `matplotlib.figure.Figure` class and save the plots after editing.

#### Steps to reproduce
In the time serie plots e.g. `mne.io.Raw.plot()` or `mne.pr

[2022-07-07 12:13] larsoner commented on #10909
Are you sure they charged their OSS policy? This might be possible for mne-tools because we actually pay for the service nowadays, rather than being due to an OSS policy change at their end...

I agree we can change it if it helps with some examples, but we should really try to continue to keep example execution time and memory usage as low as possible. In this sense, our current resource class li

[2022-07-07 13:04] hoechenberger commented on #10909
Oh. Well. That's the most likely explanation then 😅

[2022-07-07 13:50] #10909 closed

[2022-07-07 16:10] drammock commented on #10910
cross-ref to forum: https://mne.discourse.group/t/annotation-texts-are-not-shown-completely/5223/2

[2022-07-08 10:08] #10878 closed

[2022-07-08 18:00] alexrockhill commented on #10905
It's 200+ pages long so I can't say for sure we are in complete agreement but I did read through more of it and I didn't see anything obvious that we should change. The tone to me seems more of general guidelines from experience/intuition that are fairly open to different approaches and not really data-driven comparisons of results so it's almost hard to run afoul of as long as things make sense p

[2022-07-08 21:41] adelinefecker commented on #10860
uploaded privately to youtube because even with low quality the file was too large. https://www.youtube.com/watch?v=aZthPcASknI @alexrockhill

[2022-07-08 21:49] alexrockhill commented on #10860
Nice! Looks really cool, I thought 3D slicer had more tools though, that still looked very manually intensive because the threshold wasn't seeded to around the tumor. Is there a way to do that? That seems like a huge time saver. Very cool tutorial though, that will go really well with the MNE tutorial. One comment is that where you cut the video was pretty obvious so if you reshoot you might want

[2022-07-09 13:22] #9238 closed

[2022-07-11 19:28] FarnoodF opened #10914 ".get_data() reject_by_annotation does not consider ch_names in annotations"
#### Describe the new feature or enhancement
The .get_data() method in the mne.io.BaseRaw supports an argument called `reject_by_annotation` and the "bad" annotations can be either omitted or changed to `nan`. But as recently, a new feature was added to the `mne.Annotations` object to be able to add the `ch_names` for the annotations. The problem is that when the `ch_names` are set in the annotati

[2022-07-12 12:49] agramfort commented on #10914
indeed. Would you have time to make a PR about this?

[2022-07-12 13:41] FarnoodF commented on #10914
@agramfort , sure, I can spend some time on it this week.

[2022-07-12 20:29] alexrockhill opened #10916 "[ENH, MAINT] Check (and eventually test?) which API entries are not in examples"
I feel like every couple weeks, I stumble upon a function that does something that I need that is already written in MNE and I wonder how I haven't come across it before. Examples are `mne.time_frequency.combine_tfr` and a lot of the early cluster-based stats stuff and associated functions that Dennis wrote. That makes me think that it would be nice to at least have a report of how many API entrie

[2022-07-12 23:09] alexrockhill opened #10918 "[BUG] LCMV beamformer does not inform about channel discrepancies"
According to :ref:`ex-source-loc-methods`, the DICS beamformer at least only accepts a single channel type at a time. Since the covariance can be computed for both meg and eeg, that can be passed to `apply_lcmv` but then the filter channel names only include the meg channels so I assume the eeg channels are tossed. It seems that there should at least be a warning but probably more appropriately a

[2022-07-12 23:12] mh105 opened #10919 "A technical question on inverse operator construction and average reference"
A colleague (@proloyd) and I were recently discussing the issue of EEG referencing in source localization algorithms, which prompted us to look into some old technical notes on the minimum-norm estimate inverse operator. We have a question that may be relevant for MNE-Python's construction of inverse operator, and we hope to raise this question to the developers and seek some clarifications.

In h

[2022-07-13 00:39] drammock commented on #10916
IMO there is a tension between what you suggest, and having examples/tutorials proliferate and not be systematically organized. Often the path of least resistance was taken --- to make a quick and dirty example with little or no narrative context --- instead of thinking about where in our existing tutorials it would make sense to integrate/ demo some new functionality. Having the list of un-demoed

[2022-07-13 03:45] alexrockhill commented on #10916
Agreed, I think it's less to add an example for the sake of an example and more of a road map plus now that the software is a bit more mature thinking about whether new API additions are in examples as they probably should be or be private.

[2022-07-13 09:52] 0reza opened #10921 "No filenames Attribute in mne.io.RawArray"
#### Describe the bug
Can't set the `filenames` property inside `mne.io.RawArray` constructor.
AttributeError when trying to export Raw object

#### Steps to reproduce
Make a `Raw` object using some numpy array and `mne.io.RawArray` and then try to export with `raw.export(fmt='eeglab')` or `mne.export.export_raw(fmt='eeglab')` ,then an AttributeError appears.

#### Expected results
Export with no

[2022-07-13 10:00] cbrnr commented on #10921
I can confirm this issue. Do you want to submit a PR to fix it?

[2022-07-13 11:56] britta-wstnr commented on #10918
Can you clarify/tell me if I understand correctly that it is the latter case:
did `make_lcmv` just drop EEG channels, or did `apply_lcmv` drop them because your `filter` was done on MEG only?

If it is the latter case, then this behavior is expected and logical, but maybe we could still inform the user, by adding something like `Warning: dropping any channels that are not present in the filter`.

[2022-07-13 12:48] larsoner commented on #10916
This would be a nice enhancement to sphinx-gallery, as the information should be present in the "backreferences" to figure this out, and I think other projects would benefit. We could make a `:orphan:` HTML like https://mne.tools/dev/auto_tutorials/clinical/sg_execution_times.html that is an expert doc that gives this information, or just print a list of public functions + methods that are not bac

[2022-07-13 12:51] larsoner commented on #10919
It is actually happening in that line you linked to -- the `whitener` incorporates any projections in the data, which includes the average reference projector.

Feel free to add a note in the whitening section mentioning that, if EEG data are included, we require an avg ref proj, and this gets incorporated in the whitening matrix

[2022-07-13 13:02] mh105 commented on #10919
@larsoner Thanks!!

[2022-07-13 17:16] kevincar opened #10924 "TemporalFilter Pipeline transition bandwidth"
### Describe the bug

`mne.decoding.TemporalFilter` and `mne.filter.filter_data` behave differently. Specifically, in the `transform` method of `mne.decoding.TemporalFilter`, the [`_triage_filter_params`](https://github.com/mne-tools/mne-python/blob/9e4a0b492299d3638203e2e6d2264ea445b13ac0/mne/decoding/transformer.py#L832) is called immediately preceding the `filter_data`. The default transition b

[2022-07-13 17:59] alexrockhill commented on #10918
The first case where you pass in a covariance matrix with eeg also and you get out filters with only meg and no warning.

[2022-07-13 18:26] alexrockhill commented on #10918
Ah you're right, the covariances actually were restricted before the beamformer, sorry!

[2022-07-13 18:28] larsoner commented on #10918
Okay I would make this restriction a logger.info message rather than a warning

[2022-07-13 18:36] alexrockhill commented on #10918
It was actually the forward model my bad! I think we could still log in beamformer that there was a channel mismatch.

[2022-07-13 19:17] larsoner commented on #10916
I can't transfer to a new repo, so we should just make a new issue there. Can you do it @alexrockhill ?

[2022-07-13 19:18] #10919 closed

[2022-07-13 19:24] alexrockhill commented on #10916
Sure happy to, do you know if sphinx gallery has any Javascript plotting library dependencies yet? I can ask on the issue too

[2022-07-13 20:24] larsoner commented on #10916
You mean for testing notebooks? These are not executed during SG generation

[2022-07-13 20:34] alexrockhill commented on #10916
I mean for plotting a graph of API entries and examples.

[2022-07-14 15:03] christian-oreilly commented on #10016
@thanosDelatolas @mcpiastra Did you make some progress on this topic or did you drop the matter? I love MNE-Python, but I think the lack of an easy path for FEM-based source reconstruction is currently a bit limitation. Having a way to import FEM models built outside of MNE-Python would be a huge plus.

[2022-07-15 01:43] larsoner commented on #10916
For this I would maybe use `graphviz` or something, but really a list would be a good enough start.

[2022-07-15 23:22] alexrockhill commented on #10916
Is `graphviz` a dependency of `sphinx_gallery`? I thought it was tricky to install also because it was only on `conda` and not `pip`. It's not a rush, definitely start with a list but it would be nice to know how one might go about doing that if/when it were to be added.

[2022-07-15 23:53] alexrockhill commented on #10721
Per conversation on Discord, it sounds like everyone is on board making an stc class that would be returned by an apply `DICS` beamformer to epochs that iterates over time windows (but computes the covariance using the whole epoch per @britta-wstnr 's point) that has times at the center of each window. I think it would be better to make it 5D (3D vertices x frequencies x times) rather than a list

[2022-07-16 02:44] drammock commented on #10916
graphviz is one of our doc build dependencies. You already have it installed, and so does CircleCI.

[2022-07-16 02:54] drammock commented on #10721
This would not be consistent with current STC class, where "space" is really "vertex number" and only uses 1D

Also maybe I'm just misunderstanding your text above, but it seems different from how I remember the conversation. My memory is "**mock up** a 3D STC class (i.e. make a one-off with whatever init signature is convenient, and give it only the methods needed for the GUI testing), then insta

[2022-07-16 08:37] agramfort commented on #10721
Yes. 1d axis for space with vertno for indexing a source space is what is consistent

And yes mock an object just to make the gui doable. We will see next how to adjust the public functions to return such an object. You can use a function that converts the list of list of stc to this new object for testing on real data

[2022-07-16 13:14] MA-Xiaoian opened #10931 "Confine the source space near the sensor"
Hello, I only have a few sensors, and I want to limit the source space to a certain distance from the sensor, similar to the function of mne .stc_ near_sensors, but it only for ECoG, EEG and DBS sensor data, how can I realize this function? Thanks ！

[2022-07-16 14:40] #10921 closed

[2022-07-16 15:40] alexrockhill commented on #10916
This is to go upstream in sphinx example gallery though. I don't think they have it as a dependency but that seems doable if it's on PyPI.

[2022-07-17 01:44] drammock commented on #10916
Ah, right, I forgot this was going to go upstream. Anyway if they don't want to add the dependency it's still useful to have the list of un-demonstrated API entries

[2022-07-17 05:05] #10908 closed

[2022-07-17 05:09] wmvanvliet commented on #10931
There are [some functions](https://github.com/AaltoImagingLanguage/conpy/blob/master/conpy/forward.py) in [ConPy](https://users.aalto.fi/~vanvlm1/conpy/) that can do this. I do remember there was an effort at some point to put similar functionality in MNE-Python.

[2022-07-17 13:04] cbrnr opened #10932 "Version menu is getting too long"
Somewhat related to #10789, our version menu is getting pretty long (and if we don't do anything about it, it will get too long rather soon):
<img width="1381" alt="Screen Shot 2022-07-17 at 14 58 42" src="https://user-images.githubusercontent.com/4377312/179399557-aaa5c746-74c4-4a7e-b3a7-7bed43014081.png">

I propose that in addition to *devel* and *stable*, we only show *five* previous versions

[2022-07-17 13:16] larsoner commented on #10932
Another option might be a little CSS fix like
[code]
I'm also okay with making the list shorter. Happy to defer to @drammock on this

[2022-07-17 13:16] larsoner commented on #10932
(the above or some similar variant would add a scroll bar to the dropdown)

[2022-07-17 15:34] cbrnr commented on #10932
A scrollbar would also work, but at some point it too will get unwieldy. I'm fine with a short-term and medium-term solution though.

[2022-07-18 15:18] britta-wstnr commented on #10721
Yup, I agree with @drammock and @agramfort. Also that it is only in principle 5D, but a 3D object.

[2022-07-18 20:24] agramfort commented on #9846
once you store it this way what to expect in terms of usage? this would
come with some visualization?
the labels could be set automatically or manually?

[2022-07-18 20:55] adam2392 commented on #9846
I'm inclined to say yes, because you could automatically annotate with a method and then manually double check.

If you automatically annotate with a method then my intuition is that they should match exactly.

[2022-07-19 02:19] adam2392 opened #10934 "Correct docstring/error message for "ICA.plot_sources""
#### Describe the new feature or enhancement
In mne-icalabel GUI (PR here https://github.com/mne-tools/mne-icalabel/pull/66), we would like to plot one ICA source at a time. We are using MNE-QT-Browser to embed a time-series plot of the ICA source one at a time. We are using the LOC suggested in https://github.com/mne-tools/mne-qt-browser/issues/117.

Currently `ica.plot_sources()` doesn't allow y

[2022-07-19 12:15] mscheltienne commented on #10934
Actually it's already possible. The `picks` argument does not refer to the instance channels but to the ICs.

Example:

[code]

If you do `ica.plot_sources(raw, picks=[0, 1])` you get the sources for IC000 and IC001; and if you do `ica.plot_sources(raw, picks=[0, 1, 2, 3, 4, 5]` you get the following error as only 5 components have been fitted:

[code]

The docstring(s) and the error(s) should be

[2022-07-19 13:06] agramfort commented on #9846
works for me.

[2022-07-19 13:21] drammock commented on #10934
I've updated the issue title to reflect that the problem here is in the docstring and the error message.

[2022-07-19 18:52] adam2392 commented on #9846
Actually an additional issue is that `labels_` can store multiple labels per component. For example, I am browsing the examples here: https://mne.tools/stable/auto_tutorials/preprocessing/40_artifact_

And I see the following.
<img width="732" alt="Screen Shot 2022-07-19 at 2 48 43 PM" src="https://user-images.githubusercontent.com/3460267/179826333-53fad801-af39-4284-9c72-766ea7a1dcb9.png">
corre

[2022-07-19 19:10] adam2392 commented on #9846
Sorry I meant I'm not 100% sure what the use case then would be. The paragraph states that it is added by methods, but  ike if someone/some-method said it was "eog" and "blink", how does that benefit the researcher per say? Or perhaps that's irrelevant question and highly dependent on whatever the researcher is doing?

[2022-07-19 19:57] drammock commented on #9846
I think the use case is going to be researcher-dependent.  And IIUC, all you need is to be able to add entries to `labels_` (which should be fine, just make sure you don't overwrite any existing entries) and act accordingly when querying `labels_` (i.e., don't expect/assume there is just one key in `labels_`)

[2022-07-19 21:31] #10934 closed

[2022-07-19 22:10] alexrockhill opened #10937 "[BUG] Hilbert transform returns negative data with `envelope=True`"
Minimally reproducible example:

[code]

I thought this was not supposed to be negative, I'm not sure what it means that it is negative.

[2022-07-19 22:30] mscheltienne commented on #9846
IMO, default documented entries would bring more good than harm.

[2022-07-20 08:30] agramfort commented on #10937
hilbert does not apply to EOG. The negative value is on the EOG channel

[2022-07-20 16:07] drammock opened #10939 "front-page gallery brains are all white"
will perform a `git bisect` today to find the culprit.

[2022-07-20 16:21] alexrockhill commented on #10937
Ah really should have noticed that!

[2022-07-20 16:21] #10937 closed

[2022-07-20 19:11] larsoner commented on #10939
Could be mesa / pyvista / pyvistaqt versions

You can browse the mne-tools.github.io repo history to find the last commit that produced a good image then compare the sys_info of that build to the next

[2022-07-20 21:17] drammock commented on #10939
Here it is:

https://github.com/mne-tools/mne-tools.github.io/commit/33b8ba9d93a8c821b8143ce87573a05976047f62#diff-4a8a84a3b9f54419858f59df784f04ad912d4f9d4b2ee04a227adcd01d8474c7

it's not just the front-page images either, it's basically all the brains.

Maybe I'm doing it wrong, but I can't see much that is different in the environment (I'm comparing the last 2 `build_docs_main` jobs where thin

[2022-07-20 21:34] larsoner commented on #10939
Could be. Or it's like you had in mind originally, some change in MNE-Python between those two builds. They are nightly, so we'd have to see what MNE-Python `main` commits happened between when those two builds began. The build time should come up very close to when they begin, so that would be pretty close to in between between `2022-07-16T06:19:51.130106+00:00` and `2022-07-19T06:19:00.912768+00

[2022-07-20 22:00] drammock commented on #10939
yeah, but... there's very little that happened in that time frame on our side.
[code]

worse, I'm struggling to get editable installs of pyvista and pyvistaqt, because of the error that @alexrockhill was hitting recently on the CIs:
`ERROR: Cannot uninstall 'vtk'. It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial

[2022-07-20 22:08] alexrockhill commented on #10939
I'm took a break from trying to fix that, maybe will just wait for the patch release so if you figure it out that would be fantastic

[2022-07-20 23:29] drammock commented on #10939
update: I got around the `cannot uninstall vtk` problem, by creating a fresh environment with `vtk` removed from from `environment.yml`.  Then when I install pyvista, it pulls vtk 9.2.0rc1. I tried bisects in our repo, and in dev installs of pyvista and pyvistaqt and it's all `bad` even if I go earlier than the last `good` dev docs build date, so I'm betting it's the vtk release candidate (which p

[2022-07-21 00:18] drammock commented on #10939
force-downgrading to vtk 9.1.0 did not fix it :(

[2022-07-21 02:18] larsoner commented on #10939
To me it's a bug that pyvista dev requires an RC. It shouldn't even require 9.2 when it comes out, that's too short a support window

I can bisect pyvista and/or VTK next week to debug

[2022-07-21 14:03] mscheltienne opened #10941 "Duplicate function check:check_version and _testing:check_version with 2 slightly different behaviors"
I was trying to figure out why running with `main` (1.1.0.dev):

[code]

And it turns out there is both https://github.com/mne-tools/mne-python/blob/c6a86f15b8ace3758443f392ba8bfe5a9a0c2878/mne/utils/check.py#L69-L120

and https://github.com/mne-tools/mne-python/blob/c6a86f15b8ace3758443f392ba8bfe5a9a0c2878/mne/utils/_testing.py#L170-L197

Which don't exactly do the same thing, but maybe they shou

[2022-07-21 16:11] drammock opened #10943 "new pip pre failures"
[code]

probably newly an error in numpy 1.24.dev0

[2022-07-21 19:22] #10943 closed

[2022-07-21 19:52] scott-huberty commented on #10823
now that #10898 is merged to main I will return to this. Since the reference channel for EGI nets will now be read in as `VREF`, but the reference channel is named `Cz` in the standard montage, I will add this alias to `mne.io.constants.CHANNEL_LOC_ALIASES`.

Unless anyone thinks the correct fix would be to directly edit the default EGI montages so that the reference channel is called `VREF`.

[2022-07-22 09:03] AlexLepauvre opened #10946 "Montage in MRI space converted to head when saving to epoch.fif"
#### Describe the bug
Montage in MRI space gets transformed to head space when saving to an epochs .fif file. The issue seems to be due to the saving and not the loading, but not 100% clear. See [here](https://mne.discourse.group/t/save-epochs-to-fif-with-mri-space-montage/5305)

#### Steps to reproduce
[code]

#### Expected results

5 (FIFFV_COORD_MRI)
5 (FIFFV_COORD_MRI)

#### Actual results

5

[2022-07-22 13:34] drammock opened #10947 "build-docs-main failure"
@alexrockhill can you take a look at these?  Related to TFR getting the TimeMixin:

https://app.circleci.com/pipelines/github/mne-tools/mne-python/15324/workflows/be7c7e8c-5c29-435a-87f4-10dbd7d92f7f/jobs/46921

[2022-07-22 13:41] isabelceo opened #10948 "Add time_unit kwarg to plot_compare_evokeds()"
I suggets that in Evoked.plot(), plot_compare_evokeds() has time_unit (ms) because it is easier for doctor and neurologists to interpret the resuls.
I hope you have this consideration

[2022-07-22 13:56] agramfort commented on #10948
you mean add time_unit param to plot_compare_evokeds?

evoked.plot(time_unit='ms') should already does what you want?

On Fri, Jul 22, 2022 at 3:42 PM isabelceo ***@***.***> wrote:

[2022-07-22 15:36] hoechenberger commented on #10948
Yes, that's what's being requested here

[2022-07-22 16:11] drammock commented on #10939
ok, downgrading to pyvista 0.35.1 solves it. Here is the diff between 0.35.1 and 0.35.2:

https://github.com/pyvista/pyvista/compare/v0.35.1...v0.35.2

I'm going to step away from this for now, after (temporarily) pinning pyvista. Hopefully @larsoner or I will have time next week to dig into the root cause.

[2022-07-22 16:30] isabelceo commented on #10948
Yes, that's I suggets, add time_unit param

[2022-07-22 16:44] drammock commented on #10948
`Evoked.plot()` *already has* a `time_unit` parameter, since version 0.16. Scroll down a bit you'll see it's highlighted yellow:

https://mne.tools/stable/generated/mne.Evoked.html?highlight=time_unit#mne.Evoked.plot

[2022-07-22 16:46] drammock commented on #10948
oh, sorry, I misunderstood. You want `time_unit` added to `plot_compare_evokeds`.  Sure, I can do that.

[2022-07-22 17:43] agramfort commented on #10946
ok I looked a bit into it. The problem happens on write (not on read). Basically when we write dig points on epochs.save we just ignore the coord frame. We call write_dig_points without a coord_frame parameter. So on read it defaults to head...

I think it's something we can tackle during our sprint late August unless @larsoner is eager to fix it before.

[2022-07-22 21:22] #10948 closed

[2022-07-24 05:11] xiaohao-lin1 opened #10952 "ImportError: cannot import name 'tqdm' from 'mne.externals'"
#### Describe the bug
ImportError: cannot import name 'tqdm' from 'mne.externals' (D:\Users\SCSE-AI.R-CIL1\anaconda3\envs\MoBI_py3.8\lib\site-packages\mne\externals\__init__.py)

#### Steps to reproduce
I was using the autoreject package, which calls upon the MNE package, and encountered this error.
from autoreject import AutoReject
ar = AutoReject()
epochs_clean = ar.fit_transform(epochs)

  File

[2022-07-24 08:26] cbrnr commented on #10952
Can you post the output of `mne.sys_info()` please? It seems like you are using an old version, because `tqdm` has been removed from `mne.externals`.

[2022-07-24 09:47] agramfort commented on #10952
You need to update the autoreject package

This issue has been fixed a few months ago

[2022-07-24 10:24] xiaohao-lin1 commented on #10952
Hi I have updated mne.sys_info() in the post

[2022-07-24 10:27] xiaohao-lin1 commented on #10952
Hi I am currently using autoreject version 0.4.dev0.

I have tried using the stable release of 0.3.1 too, but I encountered the same issue. I am using mne mne: 0.24.0

[2022-07-24 10:52] cbrnr commented on #10952
Can you upgrade `mne`? The latest version is 1.0.3, and this includes `tqdm` as a dependency.

[2022-07-25 07:21] AlexLepauvre commented on #10946
Thanks @agramfort. In the mean time, is there any way I change the coordinate frame of the epochs object manually to override this issue? I am thinking something like:
[code]

Kind regards,

Alex

[2022-07-25 11:53] cbrnr opened #10954 "Function for creating toy data"
I often find myself generating toy data (e.g. for educational or testing purposes), so I thought a dedicated function might be useful.

It should be as simple as possible, for example:

[code]

It is important that there are sensible defaults for all parameters, which makes it possible to generate toy data very quickly:

[code]

If people think this would be useful, I can go ahead and submit a PR.

[2022-07-25 12:55] hoechenberger commented on #10954
I love the idea of adding such a function!

IMHO a `misc` and `utils` namespace shouldn't even exist; it only an invitation to dump arbitrary stuff there, without helping the user.

The `mne` namespace is overloaded already, I'd avoid exposing it there.

Why not simply add a new module & namespace, `mne.toydata`? Or even `mne.datasets.toydata`, idk?

`check_random_state()` already handles `RandomS

[2022-07-25 12:58] #10768 closed

[2022-07-25 13:04] drammock commented on #10954
Some thoughts off-the-cuff:

- I'm hesitant to make such a thing public because it invites a lot of user bikeshedding based on divergent use cases
- misc seems fine to me, but if that's objectionable the simulation module seems better than creating a new one
- IMO the first arg should be a string saying what kind of object you want, and should support raw, epochs, evoked, and stc

[2022-07-25 13:09] larsoner commented on #10954
To me this seems very close to what you would get with `add_noise(raw, cov)` for an empty raw and `cov=mne.make_ad_hoc_cov(...)` after some suitable call to `mne.simulation.simulate_raw`.

I'd rather extend these existing functions than add anything new

[2022-07-25 14:22] cbrnr commented on #10954
I'm fine with extending existing functions, and the `mne.simulation` module seems like a good place for that functionality. Initially I thought because there is `mne.create_info()`, an `mne.create_toy_data()` would be the expected/consistent place.

But a `numpy.random.Generator` (which is returned by [`numpy.random.default_rng()`](https://numpy.org/doc/stable/reference/random/generator.html#numpy

[2022-07-25 14:45] larsoner commented on #10954
I'd rather not add any new function. What you propose seems 90%+ like an existing function. No need to make something new to do almost the same thing just to save someone having to set one or two parameters of the function

[2022-07-25 14:56] cbrnr commented on #10954
But what you proposed consists of several function calls or no? I agree that `mne.simulation.simulate_raw()` should be able to do what I want (actually, I don't even care if the data is EEG-like or random, I only need the right data structure with a given length and number of channels). I'm not sure if it is actually easier to adapt `mne.simulation.simulate_raw()` to generate toy data without need

[2022-07-25 15:04] cbrnr opened #10955 "Raw browser issues (and ideas)"
I think that a couple of features might be missing from our raw browser (not specific to any backend):

1. There is no indication of the absolute values of a channel, because the scale bar only shows a range. It would be very helpful if e.g. the zero value (or min/max) was shown as well.
2. The browser always shows "0.0 AU" in the scale bar for "stim" and "misc" channels (and possibly other types)

[2022-07-25 19:59] larsoner commented on #10941
Yes the second one should behave like the first where `1.1.dev0` is acceptable when requiring `1.1`. A PR to fix this would be great!

[2022-07-25 20:06] larsoner commented on #10931
I think a clean way to do this would be to allow a user-supplied mask for the high-resolution mesh vertices to consider. Then people can arbitrarily mask points, which could include a suitable sensor-distance-based mask

[2022-07-25 20:39] chapochn opened #10959 "mne.time_frequency.psd_welch with option average=median"
In the function `mne.time_frequency.psd_welch`, for the option `average` it is written:
_How to average the segments. If mean (default), calculate the arithmetic mean. If median, calculate the median, corrected for its bias relative to the mean. If None, returns the unaggregated segments._

I searched through the code, and am not finding any correction of the median for the bias relative to mean.

[2022-07-25 20:39] mscheltienne commented on #10941
Thanks for the confirmation, PR opened, 🤞 for green CIs.

[2022-07-26 06:04] wmvanvliet commented on #10931
That is indeed the approach taken by conpy.

[2022-07-26 09:07] #10542 closed

[2022-07-26 09:44] TTyb opened #10960 "my event id dict is garbage characters"
**READ THIS FIRST:** If you are having trouble getting MNE-Python to work with
your own data, you should ask for help on the
[MNE Forum](https://mne.discourse.group).

Our GitHub issue tracker is only used to report bugs and suggest improvements
to MNE-Python. For any other questions, please use the forum.
Usage questions that are posted as GitHub issues are usually closed without
being answered.

[2022-07-26 09:44] TTyb commented on #10960
已收到，谢谢

[2022-07-26 09:53] TTyb commented on #10960
my code show :
[code]

and I I have a lot of EDF files,When I use the code above to open a file,my event id dict show:

[code]

and then, i use [EDFbrowser](https://www.teuniz.net/edfbrowser/) to open this file:
![image](https://user-images.githubusercontent.com/20573808/180977963-f93b09ff-48be-4091-8d62-bf46809c2972.png)
this characters  is normal.

but when i open other file,show me result:
[cod

[2022-07-26 09:59] cbrnr commented on #10960
I think we are using a character encoding scheme which does not support international characters. This might be a bug, because the [EDF specification](https://www.edfplus.info/specs/edfplus.html#annotation) mentions that annotations can contain any UTF8 character.

[2022-07-26 12:55] cbrnr commented on #10960
Can you try changing `'latin-1'` to `'utf8'` [here](https://github.com/cbrnr/mne-python/blob/bf7fd4755a95ad43aa7c2dd07b1ed12656f85292/mne/io/edf/edf.py#L1593)? Note that there is a comment stating that decoding to UTF leads to errors sometimes.

[2022-07-26 14:15] larsoner commented on #10959
I'm not aware of a problem with PSD bias when using median vs mean (but there could be one!). Do you have refs for this?

[2022-07-26 14:22] larsoner opened #10961 "BUG: ipympl not properly tested on Windows"
So the difference that is causing the failed tests is that `pympl` was not installed by `conda`. Without it, the plots don't actually show up in `notebook` so I think it should be added as a dependency we should figure out how to get all the failed tests on Windows to pass. It appears to have to do with things not having the focus and therefore not receiving clicks. I might have some time to work

[2022-07-26 14:30] larsoner commented on #10823
My worry is that `Cz` is a common, non-ref name in many montages so I'm not sure if something will break. For example would this cause other montages like `standard_1020` to be read in with `Cz` set as the ref, even if it wasn't? I don't know.

If this is the case, we might need to make `CHANNEL_LOC_ALIASES` somehow montage-specific :(

[2022-07-26 14:56] larsoner commented on #10924
I am not sure actually. But there shouldn't be any harm in doing so if `_triage_filter_params` does the right thing. You should be able to call it twice -- as long as you use the outputs of the first call appropriately, it should give the same output on the second call. If it doesn't, there is a bug in `_triage_filter_params`.

So there are two things to solve here I think

1. Figure out why calli

[2022-07-26 15:24] drammock commented on #10823
If the alias changes `VREF` to `Cz` then that's fine, right?  I think that's what would be needed here

[2022-07-26 15:30] larsoner commented on #10823
Yes if that's what happens if sounds good. I'm not too familiar with this code so my speculation above might not make any sense :)

[2022-07-26 15:49] scott-huberty commented on #10823
Yes, the alias maps `VREF` to `Cz` so channels already named `Cz` in `standard_1020` shouldn't be affected, since  As far as I'm aware, `VREF` doesn't appear in `standard_1020` ; )

I have made the changes on my fork and ran some tests locally, I can submit a PR now. If my attempt at making it easier to set a standard EGI montage isn't the best approach, just let me know!

[2022-07-26 15:52] larsoner commented on #10823
Yes PR welcome!

[2022-07-26 15:53] chapochn commented on #10959
I googled but didn't find so far. I had no awareness that there needed to be a bias correction. But am interested in learning about it!

[2022-07-26 16:08] #10941 closed

[2022-07-26 17:08] larsoner commented on #10372
... might also be relevant for TFR objects after https://github.com/mne-tools/mne-python/pull/10945

[2022-07-26 19:53] larsoner commented on #10759
@hoechenberger I'm not sure we should wait for this one, it's not clear when they'll actually release. Thoughts on how to move forward?

[2022-07-26 20:27] hoechenberger commented on #10759
We could build and package OpenBLAS ourselves and distribute it via an `mne` channel in anaconda.org, which would be used by the installer

WDYT?

[2022-07-26 20:38] larsoner commented on #10759
Sure, feel free to give it a shot. A commit including https://github.com/xianyi/OpenBLAS/pull/3675 should work!

[2022-07-27 01:11] TTyb commented on #10960
yes,my changed code looks like this:
[code]
and result show:
[code]

Now that the bug has been identified, can we add a parameter to change the coding directly for `read_RAW_EDF` or `events_from_annotations`

[2022-07-27 06:47] cbrnr commented on #10960
@TTyb let's see if this change breaks any tests in #10963.

[2022-07-27 07:21] hoechenberger opened #10964 "Subject weight & height info keys are not documented"
We support `info['subject_info']['weight']`:
https://github.com/mne-tools/mne-python/blob/c12a02000776adb9df18da55ea60c50cbf83827d/mne/io/meas_info.py#L1694

but the `weight` key is not documented at:
https://mne.tools/dev/generated/mne.Info.html

[2022-07-27 09:24] hoechenberger commented on #10759
@larsoner Do you know if this patch can be applied on the latest **stable** release?

Because then we could try to convince the folks over at https://github.com/conda-forge/openblas-feedstock to include the patch and bump the build number; it would be a fix for M1 and not affect other platforms – we could argue that, effectively, their previous M1 builds are broken.

This approach

- is super simp

[2022-07-27 09:25] hoechenberger commented on #10759
@larsoner I will try to make a PR.

[2022-07-27 09:45] hoechenberger commented on #10759
PR opened at https://github.com/conda-forge/openblas-feedstock/pull/141

[2022-07-27 10:14] sappelhoff commented on #10964
What does it even do? Is it "1" in normal cases and can be set to more or less than that when averaging wicth other subjects?

[2022-07-27 10:27] hoechenberger commented on #10964
I don't think I understand your question … it's just the weight in an unspecified unit, e.g., in kg or lb, stored as a float.

[2022-07-27 10:29] hoechenberger commented on #10964
Just figured that height isn't documented either.

https://github.com/mne-tools/mne-python/blob/c12a02000776adb9df18da55ea60c50cbf83827d/mne/io/meas_info.py#L1697

[2022-07-27 10:31] sappelhoff commented on #10964
oh, ... okay.

O.o

[2022-07-27 12:32] larsoner commented on #10759
Yeah that seems better than making our own channel!

[2022-07-27 12:39] hoechenberger commented on #10759
@larsoner Could you take a look at my PR please? Two tests on Travis are timing out and I am as clueless as ever when it comes to compiling stuff 🙃

[2022-07-27 12:45] larsoner commented on #10759
Maybe try closing and reopening the PR to restart CIs

[2022-07-27 13:22] hoechenberger commented on #10759
I did it the fancy way and asked the bot to do it for me 😎

[2022-07-27 13:24] agramfort commented on #10946
you can hack it like this:

from mne.io.constants import FIFF
for d in loaded_epochs.info["dig"]:
d['coord_frame'] = FIFF.FIFFV_COORD_MRI

[2022-07-27 13:25] larsoner commented on #10964
Units are kg and m

https://github.com/mne-tools/fiff-constants/blob/30d89d420d50c9e465f46524d4901795dac66741/DictionaryTags.txt#L378-L379

[2022-07-27 13:29] hoechenberger commented on #10759
x-ref

https://github.com/xianyi/OpenBLAS/issues/3701

[2022-07-27 13:32] agramfort commented on #10959
I have no idea where this comes from...

[2022-07-27 13:38] drammock commented on #10959
it was added here: https://github.com/mne-tools/mne-python/commit/88a2e3dae4b22ca13d088db8b2213745cd9a653c

@hoechenberger authored and @agramfort committed :)

[2022-07-27 13:41] agramfort commented on #10959
@hoechenberger what did you mean by "corrected for its bias relative to the
mean" ?

[2022-07-27 13:43] hoechenberger commented on #10959
No idea, it's probably just rephrasing what the invoked SciPy function actually does. IIRC it's not simply calculating a median but doing some magic to avoid a certain type of bias. But I'm not on my computer now, so cannot really look. But the solution lies in the SciPy docs & code.

[2022-07-27 13:49] drammock commented on #10959
maybe from here?

https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.welch.html

(near the end of the page)

[2022-07-27 13:53] hoechenberger commented on #10959
https://pydocs.github.io/p/scipy/1.8.0/api/scipy.signal._spectral_py._median_bias

It's this function that's called internally.

[2022-07-27 14:00] larsoner commented on #10759
I'll close this since it should land on CDNs soon.

Let's get the installers going and cut 1.1!

[2022-07-27 14:00] #10759 closed

[2022-07-27 14:02] mscheltienne commented on #10959
Are you sure? Following the `average` trail leads to https://github.com/mne-tools/mne-python/blob/c12a02000776adb9df18da55ea60c50cbf83827d/mne/time_frequency/psd.py#L20-L21

[2022-07-27 14:05] hoechenberger commented on #10959
Well maybe somebody broke things. 🤓

Back when I added this stuff (follow the link to the commit @drammock dug up) we used some SciPy functions that would apply this bias correction.

Basically the calculated median would get divided by that bias to retrieve the corrected median.

[2022-07-27 14:14] larsoner opened #10965 "DOC: Document inst better"
In most Returns we just do `instance of Raw, Epochs, or Evoked`. It's not optimal and in some cases not even complete (e.g., can be AverageTFR, STC, etc. instead) so we could improve this.

Options:

1. Create a new category like `MNE-object` with a glossary entry
2. Say something like `instance of original type` or something more compact that has this same meaning to say "you get back the same in

[2022-07-27 14:18] larsoner commented on #10759
You want to make a PR for this? If not I can do it later today

[2022-07-27 14:19] larsoner commented on #10759
... also we need https://github.com/mne-tools/mne-python/pull/10945, doc build is broken currently

[2022-07-27 14:19] hoechenberger commented on #10759
I won't have time until tonight (it's currently afternoon here)

[2022-07-27 14:19] larsoner commented on #10939
Argh @hoechenberger we need this for 1.1 as well. I'll try to get to it today

[2022-07-27 14:20] hoechenberger commented on #10759
@larsoner you could create a new dev build on mne-feedstock, make a PR to the dev branch there

[2022-07-27 14:32] cbrnr commented on #10709
I added #10963, this is ready and should be green very soon!

[2022-07-27 15:01] #10767 closed

[2022-07-27 15:16] 21Bruce commented on #10924
The outputs of the first call to `triage_filter_params` are the inputs to the `filter_data` call, so while I believe you are right that `triage_filter_params` doesn't modify internal state in any way that would affect the final filter parameters, the first call is affecting the input to the second call

[2022-07-27 15:20] larsoner commented on #10924
This should be okay because calling it again with the updated parameters should be a no-op. In other words, some stuff like `filter_length='10s'` might be converted to a number of samples, but this then should pass through unaffected by another call to `_triage_filter_params`. What has me worried is in your original/top comment the transition bandwidths change:
[code]
suggesting that something is

[2022-07-27 15:53] 21Bruce commented on #10924
Well for defaults that is true, but in the `transform` function, the following line takes the outputs of the first call and modifies the internal state:
[code]
If the second call then calculates the `h_trans_bandwidth` for example, using self.h_trans_bandwidth, it will be outputting another iteration on top of what was calculated in the first call.

[2022-07-27 16:01] larsoner commented on #10924
My point is that these should not change on a second call -- if they do, it's a bug with either how they are passed to `_triage_filter_params`, or a bug with `_triage_filter_params` itself. On the first call any `'auto'` etc. should be converted, and on a second call (using the new/updated/calculated values) you should get the same ones back.

[2022-07-27 16:12] 21Bruce commented on #10924
I see, the point of `_triage_filter_params` is to convert the `auto` variables from the __init__ method into actual values for calculation. With that in mind, I believe the bug is with `_triage_filter_params` itself, since when we commented out the first call in our environment, the code ran without breaking. This indicates that multiple calls to `_triage_filter_params` affect the parameters in a

[2022-07-27 16:14] larsoner commented on #10924
Yes this sounds plausible... that or the parameters are passed incorrectly to it (i.e., in the wrong order).

Do you want to investigate further and try to fix `_triage_filter_params`? If not, a minimal code snippet that produces the logging outputs you posted in your top comment would be enough for someone else (me probably!) to take a look.

[2022-07-27 16:20] larsoner commented on #10924
Ahh I see there's a minimal example already posted in the forums... I'll take a look

[2022-07-27 17:22] #10823 closed

[2022-07-27 17:34] #10960 closed

[2022-07-27 18:59] #10885 closed

[2022-07-27 19:17] larsoner commented on #10939
The bug was introduced by https://github.com/pyvista/pyvista/pull/2980, now I need to figure out how to work around it here or in PyVista...

[2022-07-27 20:16] drammock commented on #8685
We're caching datasets in CIs nowadays, right? So this can be closed?

[2022-07-27 20:26] larsoner commented on #8685
Yep!

[2022-07-27 20:26] #8685 closed

[2022-07-27 22:42] #10916 closed

[2022-07-28 01:20] TTyb commented on #10960
@cbrnr thank you,i will focus on https://github.com/mne-tools/mne-python/pull/10963.

[2022-07-28 12:58] larsoner commented on #10939
Okay I think this our last blocker. The PyVista folks said that they plan to patch and release quickly, which for them usually does mean days (maybe today). So hopefully they do that, then we wait for the patch release to hit CDNs, then we can build installers and release!

[2022-07-28 14:51] Dod12 opened #10971 "TimeFrequency Estimator modifies parameters in constructor"
#### Describe the bug
The `mne.decoding.TimeFrequency` transformer modifies constructor arguments, violating [scikit-learn guidance](https://scikit-learn.org/stable/developers/develop.html#instantiation) on estimators. This leads to a cloning error when using the function in a pipeline. I was able to resolve the issue by moving the `_check_tfr_param` call to the transform method, in line with othe

[2022-07-28 15:53] #10924 closed

[2022-07-28 16:40] larsoner commented on #10971
@Dod12 agreed this seems like a bug, would you be up for making a PR to fix it? The minimal example above is already a good start for a unit test!

[2022-07-28 23:15] drammock commented on #10947
fixed by #10945

[2022-07-28 23:15] #10947 closed

[2022-07-29 08:56] Dod12 commented on #10971
@larsoner Sure, I'll work on the tests over the weekend.

[2022-07-29 12:04] Helianthus89 opened #10975 "snirf import - source or detector position"
#### Describe the bug

The import of snirf data from an Artinis-portalite device cause an assert error.
The device have 3 sources but only one detector which leads to a 2D position format error.

#### Expected results

in RawSNIRF class code:
[code]
shape of detPos2D:
[code]

#### Solution

1) for oxy4 file directly converted in snirf : correction of detPos2D to be able to create detPos3D
[code]

[2022-07-29 14:27] adam2392 opened #10976 "Plot function for virtual channels in bridging electrode EEG analysis"
#### Describe the new feature or enhancement
The nice tutorial made by @alexrockhill in https://mne.tools/dev/auto_examples/preprocessing/eeg_bridging.html#sphx-glr-auto-examples-preprocessing-eeg-bridging-py shows how one can plot the "virtual" `<bridge_elec1>-<bridge_elec2>` signal and visually confirm if the data is in fact bridged.

I would like to have this plot as a function to enable someon

[2022-07-29 14:37] alexrockhill commented on #10976
Awesome, I'm all for it! It is possible that people would want to continue on with the virtual channels rather than using them to interpolate so that would be nice to support if I'm understanding you correctly. Also, if it were in a method (maybe in a mixin) that would be a great improvement IMO. Thanks for iterating on this!

[2022-07-29 14:43] adam2392 commented on #10976
Oh great point! Then prolly better to return a Raw object that one can then plot on their own...

Would someone prefer to use the virtual channels or the interpolation? Is there a recommendation?

Also unrelated, how does pyprep/auto reject fit into this? Those mainly help automate what's a bad channel on the raw time series? So maybe if someone wants to not reject too much data, they stick with b

[2022-07-29 14:44] alexrockhill commented on #10976
After a second reading, I think I totally misread that, you're talking about a n_channels x n_channels - 1 raw plot. In teaching undergrads EEG, they asked for this too so I think people want to see this info but it is tricky with the sheer number of channels. Maybe a non-scrolly plot but more like an evoked plot would be helpful to be able to see everything. Then you wouldn't get an exact ID on t

[2022-07-29 19:01] drammock opened #10977 "Update theme pin and check docs build"
**About a week before a new release**, make a PR that updates our pin of `pydata-sphinx-theme` to the theme's current `HEAD` commit, and do a full docs build (`[circle full]`).  If anything looks awry, do some combination of

1. working backwards on the theme's tree until you find a commit that works/looks good on our site
2. reporting bugs to the theme (and ideally fixing them and updating the co

[2022-07-31 03:18] xiaohao-lin1 opened #10981 "Is the ica.fit function compatible with GPU?"
#### Describe the new feature or enhancement
Hi currently the ica.fit function takes 15min to run for a 4GB raw data type. May I know if it is run-able on a GPU?

#### Describe your proposed implementation
*Describe how you think the feature or improvement should be implemented (e.g.,
as a new method on an existing class? as new capability added to an existing
method?) If you're not sure, please d

[2022-07-31 18:03] soso-maitha commented on #7169
i am getting the same error and I've spent a lot of time to find answers or examples to solve the error but i couldn't find helpful resources. How was your issue resolved ?

[2022-07-31 18:17] iuri commented on #7169
Hello Maitha,
As indicated by Alexandre, we must use the forum for this type of questions.

https://mne.discourse.group/ <https://mne.discourse.group/>
https://mne.discourse.group/t/parsing-edf-dataset-to-mat-matlab-file-structure/5071/6 <https://mne.discourse.group/t/parsing-edf-dataset-to-mat-matlab-file-structure/5071/6>

[2022-08-01 10:21] mmagnuski commented on #10959
I may have been involved in the `np.nanmedian` because previous approach did not work in some cases (when some welch windows were NaN due to overlap with annotations, I think), so I submitted an issue, which lead to nanmedian. It would be great to have both then: the median bias correction, and ability to ignore nans.

[2022-08-01 10:25] mmagnuski commented on #10959
([here is the scipy function BTW](https://github.com/scipy/scipy/blob/main/scipy/signal/_spectral_py.py#L2019))

[2022-08-01 11:11] hoechenberger commented on #10959
We could just steal that bias estimation function from SciPy, it's just two lines of code…

[2022-08-01 11:17] hoechenberger commented on #10965
When read the title of this issue, I was actually expecting (hoping) it to be about all the places where we emit log messages (or have parts in the documentation) that literally mention "inst", e.g. something like, "… call inst.some_method()" or so (I don't have an explicit example now)
I think these are downright confusing for "common" users, esp. if nowhere in the signature of the function that

[2022-08-01 11:23] cbrnr commented on #10965
👍 for (2). There is a new `Self` type in `typing`, but let's better not go down this route.

[2022-08-01 11:38] cbrnr opened #10983 "Option to silence RuntimeWarning from `mne.io.Raw.set_channel_types()`"
Sometimes, I need to change a channel type after importing some data, e.g.:

[code]

However, in many cases I get a `RuntimeWarning` telling me that e.g. `The unit for channel(s) 1 has changed from V to NA.`.

Personally, I think this warning is a bit much and logging to info would be sufficient. However, I doubt that anyone will agree, so I propose to add a new parameter to explicitly silence thi

[2022-08-01 11:58] hoechenberger commented on #10965
😏

[2022-08-01 12:11] cbrnr commented on #10965
Absolutely agree! Especially in Python, where everything is an object (aka instance). I'd remove this.

[2022-08-01 12:31] cbrnr commented on #10954
I'm not sure if it is a good idea to coerce `simulate_raw()` into not simulating and instead outputting some random data (with desired shape). I still think a separate function in that module would be the best solution. My latest name idea is `generate_raw()`.

[2022-08-01 12:37] cbrnr commented on #10954
Scikit-learn has `datasets.make_*()` for this purpose BTW.

[2022-08-01 13:51] hoechenberger commented on #10965
I assume the thinking was something like, "If the returned object is `mne.Epochs`, what we actually return is not a pointer to `mne.Epochs`, but to the result of `mne.Epochs(...)`, i.e., an instance". But … this is **so** trivial that it's downright confusing because it requires thinking where usually one doesn't need to think, at least not if you're a user 😀

[2022-08-01 13:52] larsoner commented on #10939
https://github.com/conda-forge/pyvista-feedstock/pull/67 might do it but https://github.com/pyvista/pyvista/issues/3116 might stand in the way

[2022-08-01 13:53] hoechenberger commented on #10954
I like this. This or `simulation`.

[2022-08-01 13:55] akaszynski commented on #10939
This will be addressed by https://github.com/pyvista/pyvista/pull/3117.

[2022-08-01 14:02] larsoner commented on #10954
To me I think we should still just make our existing functions better -- so far what you've described @cbrnr is in my mind just a 2- or 3-line wrapper around existing functions. There are lots of potential ways to make our existing functions easier to use.

For example maybe support `data=<int>` in RawArray to mean "give me an array of zeros for all channels of this many samples". Then your use ca

[2022-08-01 14:08] larsoner commented on #10955
By default, DC is removed (and sometimes *huge*) so this is going to be application specific. I can't think of a good way to implement this but maybe it's possible

This seems unhelpful -- we should show something other than 0.0 (though the `AU` seems fine)

I think this is fine assuming they have the same units and scale preferences (according to `scalings`). But I guess there's no harm in adding

[2022-08-01 14:14] cbrnr commented on #10954
I thought you meant extending `mne.simulation.simulate_raw()`. I like adapting `mne.io.RawArray` to give an empty array, but how would you handle this with `mne.EpochsArray`? Pass a 2D array with `(n_epochs, n_channels)`?

I think it depends on how many people would use this functionality. Many things could be done with existing functions to a certain degree, but at some point it might make sense

[2022-08-01 14:35] cbrnr commented on #10983
I forgot about the `verbose` parameter. That's perfect for me, I don't need to see the logger messages.

[2022-08-01 14:35] #10983 closed

[2022-08-01 14:35] cbrnr commented on #10983
Thanks @larsoner!

[2022-08-01 15:16] drammock commented on #10977
No I agree that this was dealt with for 1.1 by #10973

[2022-08-01 16:56] musicinmybrain opened #10984 "One test failure on aarch64"
#### Describe the bug

While packaging version 1.0.3 for Fedora linux, we found that the test `test_mxne_inverse_sure_synthetic[3-0.75-4-20-60-20]` fails on `aarch64` due to division by zero.

#### Steps to reproduce

Run the unit tests on an `aarch64` system. There is no reason to believe this error is specific to the Fedora Linux RPM build environment.

#### Expected results

All tests pass.

##

[2022-08-01 16:56] musicinmybrain opened #10985 "Two test failures on ppc64le"
#### Describe the bug

While packaging version 1.0.3 for Fedora linux, we found that the tests `test_csd_morlet` and `test_time_frequency` fail on `ppc64le`.

#### Steps to reproduce

Run the unit tests on a `ppc64le` system. There is no reason to believe this error is specific to the Fedora Linux RPM build environment.

#### Expected results

All tests pass.

#### Actual results

[code]

#### Add

[2022-08-01 16:58] musicinmybrain commented on #10984
@sanjayankur31

[2022-08-01 16:58] musicinmybrain commented on #10985
@sanjayankur31

[2022-08-01 17:24] cbrnr commented on #10985
Out of curiosity, what backend is flexiblas using? I think the default is OpenBLAS, could you run the tests with the Netlib backend?

[2022-08-01 17:34] musicinmybrain commented on #10985
I will try it.

[2022-08-02 03:18] musicinmybrain commented on #10985
With the Netlib backend (`export FLEXIBLAS=NETLIB`), the two failures reported here on `ppc64le` and the one failure reported in https://github.com/mne-tools/mne-python/issues/10984 on `aarch64` disappear; there is, however, a new failure on `x86_64`:

[code]

[2022-08-02 06:28] agramfort commented on #1624
it's now possible thanks the hard work of @larsoner to install openmeeg with conda or pip on all 3 platforms 🎉

it means that the https://github.com/mne-tools/mne-openmeeg project can be resurrected to offer alternative forward models for MEG/EEG but importantly iEEG.

@maedoc do you have a bit of bandwidth to help here? Otherwise I'll restart the ball after my summer break.

[2022-08-02 06:45] agramfort commented on #10959
we should fix this before the release

[2022-08-02 07:03] cbrnr commented on #10985
Cool, so those two architectures now pass all tests, right?

This test looks like it is too strict (19 decimals), the actual difference is still very small. We might consider relaxing the test a bit. Can you see what the smallest number of decimals is until this test passes?

[2022-08-02 07:26] mclerc commented on #1624
Thanks to all of you who put a lot of effort in putting OpenMEEG into better shape, much appreciated !
(my role was limited to pinging @papadop when his notifications had broken down...)
The MNE perspective sounds appealing !

----- Le 2 Aoû 22, à 8:29, Alexandre Gramfort ***@***.***> a écrit :

| it's now possible thanks the hard work of [ https://github.com/larsoner |
| @larsoner ] to install op

[2022-08-02 09:24] ckiefer0 opened #10987 "apply_inverse_raw() calls _check_reference() even though no EEG channels are used"
This bug report is based on [this discussion](https://mne.discourse.group/t/why-does-mne-minimum-norm-apply-inverse-raw-call-check-reference-when-using-only-meg-channels/5321) in the MNE group.

I am trying to compute the inverse solution for continuous raw data. I am only interested in MEG channels so I set eeg to False during the computation of the inverse operator. However, apply_inverse_raw()

[2022-08-02 09:58] ckiefer0 opened #10988 "All EEG and EOG channels have type 'ecg' when reading HCP data using read_raw_bti()"
This bug report is based on [this discussion](https://mne.discourse.group/t/why-does-mne-minimum-norm-apply-inverse-raw-call-check-reference-when-using-only-meg-channels/5321) in the MNE group.

I am using MNE and MNE-HCP to analyze HCP data. When I use the following function to read the HCP data, all ECG, EOG, and EEG channels have type 'ecg':

[code]

The same also happens when I simply use hcp.

[2022-08-02 13:18] musicinmybrain commented on #10985
Thanks for looking at this.

Correct, on Netlib BLAS. Does this project target only Netlib BLAS, or should these tests pass on other BLASes? Or do you think these are actual bugs in OpenBLAS?

Obviously, we can run the tests with Netlib BLAS in the Fedora RPM build if we like, but we can’t enforce a particular flexiblas backend at runtime.

Based on `Max absolute difference: 1.8973538e-19`, you wo

[2022-08-02 13:37] larsoner commented on #10939
This has been fixed by a new PyVista release of 0.36.1 !

[2022-08-02 13:37] #10939 closed

[2022-08-02 13:50] olafhauk opened #10991 "Surfaces and sensors not showing in coregistration/alignment visualization"
#### Describe the bug
*Replace this text with a description of the bug.*

Using mne.viz.plot_alignment() (as e.g. in tutorial 20_source_alignment.html only shows landmarks but not surfaces or sensors.
Version 1.0.3 under Linux (Centos 7).

#### Steps to reproduce

tutorial 20_source_alignment.html

#### Expected results

Plots as in tutorial https://mne.tools/stable/auto_tutorials/forward/20_sourc

[2022-08-02 13:55] cbrnr commented on #10985
I'm not sure, I really am no expert, but what I know is that OpenBLAS is very fast but sometimes not that mature. We do not target any particular BLAS implementation, ideally it should not matter at all. AFAIK we don't test different BLAS implementations but just take whatever NumPy defaults to on our test platforms (which do not include ARM64).

We should take a closer look at the failing tests,

[2022-08-02 13:57] larsoner commented on #10985
Yes 18 digits is fine for that test, feel free to open a PR

Indeed we should dig into whether it's an OpenBLAS bug or if we need to adjust some tolerance at our end internally (e.g., a 1e-6 instead of 1e-7 in a pinv rtol or something that eventually causes a division by zero) to make it work

@musicinmybrain do you have any suggestions for where I could read about how to emulate aarch64 to replic

[2022-08-02 14:02] olafhauk opened #10992 "mne.gui.coregistration() helmet and surfaces not shown correctly"
#### Describe the bug

mne.gui.coregistration() shows scalp surface and digitization points, but:
1) not the MEG helmet
2) responds to "Head opacity" in "all-or-none" manner, i.e. scalp surface is only shown when head opacity slider is at its rightmost position.
Version 1.0.3 (Linux, Centos 7)

#### Steps to reproduce
mne.gui.coregistration(subject='sample', subjects_dir='...MNE-sample-data/subjec

[2022-08-02 14:02] cbrnr commented on #10985
OK!

You could set up a [self-hosted runner](https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners#architectures), they support Linux ARM64. Ideally, you could install Fedora 36.

[2022-08-02 14:33] maedoc commented on #1624
iEEG is an important use case for our team.  I could look at this after the summer break also.

[2022-08-02 15:01] musicinmybrain commented on #10985
Personally, I’m using Fedora 36 on `x86_64` (but a Fedora 36 VM could work too). I’ve done `dnf install fedora-packager` and [set up mock](https://fedoraproject.org/wiki/Using_Mock_to_test_package_builds) to do RPM builds in a chroot, and I’ve done `dnf install qemu-user-static` to allow software emulation of other architectures.

Then it’s something like:

[code]

The emulation is not fast, but i

[2022-08-02 15:02] larsoner commented on #10992
I suspect that this an https://github.com/mne-tools/mne-python/issues/10991 are both to translucent geometry not working on VTK+Mesa 18.3.6.

I assume you can't upgrade to CentOS 8 or something else with a newer MESA...?

[2022-08-02 15:05] larsoner commented on #10985
Okay I'll give this a shot. I'm on Ubuntu 22.04 but I'm assuming the commands are easy to translate. I'll post here with what I used if I can replicate, then hopefully I'll be able to isolate if it's an OpenBLAS bug or something at our end.

FYI @musicinmybrain we are going to release 1.1 in the next couple of days. I doubt this tol issue will be fixed by then, but we could fix it in the next few

[2022-08-02 15:31] drammock commented on #10975
ping @rob-luke, our fNIRS expert

[2022-08-02 15:35] #10959 closed

[2022-08-02 15:49] drammock commented on #10965
I agree that (2) is the best option, though IMO it is pretty tricky to come up with simple, unambiguous wording. Here's an (unsatisfactory) attempt:

[code]

[2022-08-02 16:02] cbrnr commented on #10965
What about:

[code]

I'd also drop the name of the return value if there is only one, i.e.

[code]

I'm not 100% happy with this either.

[2022-08-02 17:08] hoechenberger commented on #10965
I don't think that's very helpful to non-developers.

Why can we not just spell it out?

[code]
or so?

[2022-08-02 17:15] drammock commented on #10965
because for methods that come from mixins, we don't know the type at the time the doc is being written. Hence the mention of "the super class doc" in the OP.

[2022-08-02 17:57] musicinmybrain commented on #10985
It’s not convenient for me to test this, but allegedly, on Ubuntu, you can install `qemu-efi` and then use `virt-manager` to set up an emulated VM using the appropriate ISO.

[2022-08-02 18:28] hoechenberger commented on #10965
Than how about the poor person's approach of

[code]
?

[2022-08-02 18:43] drammock commented on #10965
that's not a bad proposal in terms of clarity, but whatever we do has to pass `numpydoc` and/or be special-cased so that it passes `numpydoc`.  Therefore fewer words are better, and I'm a bit hesitant to special-case words like `input` and `data`.

[2022-08-02 19:50] hoechenberger commented on #10965
How about

[code]
?

[2022-08-02 20:29] irmakoz1 opened #10995 "multiple annotations into one event"
I have a Brainvision data that for each 3 condition have four annotation markers. How can I combine these 4 annotations and categorize as one event, then be able to compare these 3 events? I am quite new to MNE, so if it does not make sense sorry

[2022-08-02 20:34] drammock opened #10996 "fix median bias correction to handle NaNs"
I don't think the median bias calculation is correct in the case where there are nans in the `spect`. I believe `_median_bias` needs to take the number of non nans in its argument, no?

_Originally posted by @chapochn in https://github.com/mne-tools/mne-python/pull/10990#discussion_r935753477_

[2022-08-02 20:38] drammock commented on #10995
For questions about analysis and usage, please use the MNE Forum (https://mne.discourse.group). The GitHub issues are for bug tracking and feature requests.

[2022-08-02 20:38] #10995 closed

[2022-08-02 21:32] mmagnuski commented on #10996
I'm on it now.

[2022-08-02 21:38] larsoner commented on #10996
I wasn't sure if you were still working on it so I at least started thinking about it, this is close but not there:
[code]

[2022-08-02 21:39] larsoner commented on #10996
... then I was going to get the biases with something like:
[code]

[2022-08-02 21:41] larsoner commented on #10996
(I think it's useful to keep this vectorized, otherwise we're going to get hurt by the fact that these can be n_epochs x n_freqs in shape, i.e., could be tens or hundreds of thousands of calls)

[2022-08-02 22:27] mmagnuski commented on #10996
Take a look at the PR, I first wanted to make this vectorized in a way that the number of nans can be different, but then realized it should be the same for every epoch / frequency so it does not make sense to be overly universa.

[2022-08-02 22:30] mmagnuski commented on #10996
but you can modify my PR if you prefer the more universalized version :)

[2022-08-02 22:34] mmagnuski commented on #10996
well, I didn't actually think about epochs - the number of nans should be the same for every frequency, but not for every epoch. So indeed the fully vectorized approach should be better.

[2022-08-03 00:19] ktavabi commented on #10467
On a tangent, I am thinking of simplifying the `nave` proportions algebra in `evoked. comment` for the results from `plot_compare_evokdes` to make a more informative legend. Here is an, e.g., output **screenshot**

<img width="1994" alt="Screen Shot 2022-08-02 at 5 09 25 PM" src="https://user-images.githubusercontent.com/4381290/182497475-4d3a64d1-7788-4f27-9db2-047cd4aa8ed1.png">

The text in `ev

[2022-08-03 00:28] ktavabi commented on #7751
or with `venv` for a more barebones approach. But I likes me some 👍🏽 pipenv 👍🏽 and `pyenv` ❤️

[2022-08-03 02:10] drammock commented on #10467
😆 PR welcome @ktavabi. That has got to be one of the worst MNE-Python default plot outputs I've ever seen.

[2022-08-03 14:45] drammock opened #11002 "AZP failure at release time"
This line:

https://github.com/mne-tools/mne-python/blob/cee9e96e99abc98ce4fd0ae5e0a9ffcb0c3919f3/azure-pipelines.yml#L187

fails during releases, because `mne/_version.py` will have changed to no longer say `dev0`. We should make the test conditional on the upstream branch name or find some other way to avoid a spurious failure when prepping releases in a PR.

[2022-08-03 15:48] #10709 closed

[2022-08-03 21:38] drammock commented on #10996
closed by #10997

[2022-08-03 21:38] #10996 closed

[2022-08-04 08:41] cbrnr opened #11005 "Reading EEGLAB requires `pymatreader`"
Reading EEGLAB files requires `pymatreader`, which however is not a hard dependency. This makes it more difficult for other packages that depend on MNE to load such files, because they have to explicitly list `pymatreader` as a dependency.

In addition, most EEGLAB files I have seen do not use the v7.3 (HDF5) format, so they could be read with `scipy.io.loadmat()`, which is already a hard dependen

[2022-08-04 08:44] cbrnr commented on #11005
See also https://eeglab.org/tutorials/03_Dataset_management/datasets.html#dataset-and-file-preferences, where they recommend storing to <v7.3 and only use v7.3 if you have files larger than 2GB.

[2022-08-04 10:23] agramfort commented on #11005
You mean with just

Pip install mne ?

I would say no. Just install mne with the hdf5 variant

[2022-08-04 10:34] cbrnr commented on #11005
Yes, I mean `pip install mne`. Right now, this means that users cannot load EEGLAB files at all.

So I take it that you prefer option (2) then? Or do you think it's OK how it is and we shouldn't change anything?

[2022-08-04 10:40] agramfort commented on #11005
Eeglab is not part of the 80/20 trade off for me.

Just use:

pip install mne[hdf5]

For packages who need hdf5 support

[2022-08-04 10:51] cbrnr commented on #11005
OK, but what about option (2) then? We could enable loading EEGLAB files without any additional dependency. I'd assume that >80% of files are non-HDF5. Currently, we cannot load these files.

[2022-08-04 10:54] agramfort commented on #11005
For point 2 then if we can have a reader just using scipy that’s great but I suspect it’s a bit of work no? Ideally this effort should done in one place for the python community.

[2022-08-04 11:32] cbrnr commented on #11005
We can use the existing `scipy.io.loadmat()` reader. I've already implemented the changes, it's not much, the only thing that needs some work is our tests. We'd have to test HDF5 and non-HDF5 EEGLAB files separately.

[2022-08-04 17:39] #10779 closed

[2022-08-05 13:25] #11005 closed

[2022-08-05 19:28] #10477 closed

[2022-08-05 19:28] #10772 closed

[2022-08-05 19:28] #10773 closed

[2022-08-05 19:28] #10774 closed

[2022-08-05 19:45] drammock commented on #11002
closed by #11003

[2022-08-05 19:45] #11002 closed

[2022-08-05 21:36] drammock opened #11010 "test_export_epochs_eeglab failing on main"
test_export_epochs_eeglab is failing on windows 3.9 pip and windows 3.10 pip pre

https://dev.azure.com/mne-tools/mne-python/_build/results?buildId=21054&view=logs&j=dded70eb-633c-5c42-e995-a7f8d1f99d91&t=6a33d698-56da-505a-4bdd-64e49791e9d1&l=3242

#11006 may be the culprit?  @cbrnr do you have time to look?

[2022-08-06 08:55] agramfort commented on #1624
mne-openmeeg still needs to be written with the new openmeeg binaries.

I'll have a look later this month

there is nothing to see here at this point

[2022-08-06 16:18] cbrnr commented on #11010
All tests passed in #11006, so I doubt that this is the culprit. But I'll take a look anyway.

[2022-08-06 16:20] cbrnr commented on #11010
I think it's related to a recent update in eeglabio, which will hopefully be fixed by #11000?

[2022-08-07 19:55] arnodelorme opened #11013 "EEGLAB epoch export, latency error"
Using the attached epoch file, trying to export to EEGLAB leads to this warning that events cannot be exported

[code]

Also EEGLAB data is exported as double precision while the standard
 EEGLAB format (and MNE fif format) is simple precision. Would save half the space.

[test-epo.fif.zip](https://github.com/mne-tools/mne-python/files/9277398/test-epo.fif.zip)

[2022-08-07 20:04] cbrnr commented on #11013
Hi Arno! We have just added support for this in #11000, did you already try this with the latest dev version and `eeglabio` 0.0.2?

[2022-08-07 20:52] arnodelorme commented on #11013
Ah OK, thanks. I tried the MNE version you can get with pip install.

[2022-08-07 23:48] arnodelorme opened #11014 "BIDS channel type issue"
bids_path = BIDSPath(root='../ds003061')

Channels 65 to 79 are not EEG (and marked as such in the BIDS repo). Yet MNE thinks 2 of these channels are EEG.

[2022-08-08 08:20] cbrnr commented on #11013
I just tried with the latest main, but the problem still exists (I get the warning). In addition, I cannot read the exported file because of the following error:

[code]

@larsoner @jackz314 I assume this is because the changes were not ready to be merged? https://github.com/mne-tools/mne-python/pull/11000#issuecomment-1204905141

@arnodelorme I will open a feature request to add a new parameter `

[2022-08-08 08:27] cbrnr opened #11015 "Export to EEGLAB should support single and double precision"
Currently, exporting to EEGLAB always writes double precision floats. However, @arnodelorme mentioned in #11013, the EEGLAB default is actually single precision. Therefore, we should introduce a new parameter `precision` with two possible options `"single"` and `"double"`. I'm not sure what the default should be, probably `"double"` to be on the safe side.

This should probably be implemented in `

[2022-08-08 12:21] hernandezurbina commented on #4369
hi all,

I'm new to the world of EEG data analysis. My team generated CNT files from ANT neuro and I am trying to load them using read_raw_cnt from python mne. I run into the same issue as described above:

`'ascii' codec can't decode byte 0x93 in position 1: ordinal not in range(128)`

What could be causing the problem? I opened the first 100 lines of the file and saw a bunch of strange character

[2022-08-08 12:28] cbrnr commented on #4369
We do not support importing ANT CNT files, please see #3609.

[2022-08-08 12:30] hernandezurbina commented on #4369
@cbrnr got it! Thanks for the quick reply!

[2022-08-08 18:59] agramfort commented on #11015
both work for me.

I don't think it's a sustainable strategy. It also slows down releases for
eeglabio. I would suggest to have a more active set of maintainers in
eeglabio

[2022-08-08 19:11] jackz314 commented on #11013
@arnodelorme So the warning occurs because the events have invalid onset latencies that exceed the total length of the data.

In your example, I checked that the max latency in `events` is 193208, while the total length of the data is only 28527 samples. I'm not sure why it's off by that much, but this means the latencies cannot be exported because they're invalid.

@cbrnr the error is caused by a

[2022-08-08 19:30] jackz314 commented on #11015
I only have very limited time to maintain eeglabio due to other projects at hand, so it would be great if more people are willing to help maintain it.

[2022-08-08 20:51] arnodelorme commented on #11013
Interesting. I will look up why the latency is off for this dataset. Thank you.

[2022-08-08 21:57] jackz314 commented on #11013
@cbrnr I added checks for these invalid onsets to main and tested it, it should work now.

[2022-08-09 07:27] cbrnr commented on #11013
Thanks @jackz314! @arnodelorme please report back if you find out what the problem was. If the latencies exceed the signal duration, issuing a warning is the expected behavior.

I'm a bit concerned that exporting still works, but then importing fails. Has this been fixed with your changes @jackz314?

[2022-08-09 07:30] cbrnr commented on #11015
I guess for EEGLAB export it is sustainable because it's not as complex as e.g. BrainVision or EDF export (since the format is basically a .MAT file). It would be easier for me to make changes just in one place instead of two.

But you are right that this should probably not happen right now until the API has stabilized (because then I don't expect many breaking changes).

[2022-08-09 07:39] jackz314 commented on #11013
Importing should work as well now in the main branch, since I fixed the epoch structure exported along with a couple other things for when there are invalid onsets.

[2022-08-09 09:26] sena-neuro commented on #10964
Hello! May I take this as my first issue?

[2022-08-09 09:46] agramfort commented on #10964
Sure ! 🙏

[2022-08-10 13:06] hernandezurbina opened #11021 "raw.plot_psd hangs in jupyter notebook"
#### Describe the bug
Running plot_psd on raw data inside a jupyter notebook shows the plot but the cell hangs as if computing something even after the plot has been closed.

#### Steps to reproduce
I loaded EEG raw data in .set format. Cropped to 100s. Filtered the data using l_freq=0.1 and h_freq=40. Chose 3 channels using pick+channels, and then ran plot_psd. MNE shows the plot but the cell han

[2022-08-10 16:28] #10964 closed

[2022-08-10 20:31] drammock opened #11023 "new CI failure on main: test_make_forward_dipole"
[code]

Has shown up in 2 unrelated PRs today.

[2022-08-11 00:11] arnodelorme opened #11025 "Export epoch issue"
File available at https://drive.google.com/file/d/1RY5LEM_mpOdF5Ka0nTe6JGMvo_kDk1M5/view?usp=sharing

[code]

The exported file appears corrupted on MATLAB as the number of epoch in the epoch structure does not match the actual number of epochs. In fact EEGLAB generate a corrupted file error. You can simply set EEG.epoch to empty if necessary as EEGLAB can regenerate automatically from the events.

[2022-08-11 00:13] arnodelorme commented on #11025
[code]

[2022-08-11 02:39] 1358467720 opened #11026 "plot function get error?"
#### Describe the bug
Hi! I just load my data from edf file to plot it! It does not look like normal? Have  my data something wrong or the plot function is wrong ？
[code]
![issue](https://user-images.githubusercontent.com/48643755/184055937-a96251a1-e303-4389-b56c-04573780a002.png)

[2022-08-11 06:11] cbrnr commented on #11026
Can you open and view your file with [EDFbrowser](https://www.teuniz.net/edfbrowser/) to verify that it's not the data?

[2022-08-11 07:33] agramfort commented on #11025
ping @jackz314 @cbrnr

[2022-08-11 08:53] jackz314 commented on #11025
@arnodelorme could you try this again with the main branch of eeglabio? I had this issue earlier as well and I believe the latest version should fix it.

 Also, the epoch struct needs to be exported since mne uses it to read events/epochs, but perhaps I could add an option to not export this field if the user doesn't care about loading the file with mne again.

[2022-08-11 08:58] cbrnr commented on #11025
I tried it with `eeglabio-0.0.2.post1`. I don't get an error/warning when exporting, but loading the file fails:

[code]

[2022-08-11 09:41] jackz314 commented on #11025
I meant from the main branch directly, not the latest release, I've been holding off on the new release until I've tested things more thoroughly.

[2022-08-11 10:05] cbrnr commented on #11025
Got it. Yes, this works without any errors, I only get these two warnings(?) when exporting:

[code]

Importing works fine, there are 861 epochs:

[code]

Is this correct @arnodelorme?

[2022-08-11 10:23] hoechenberger opened #11027 "Some Brain GUI widgets don't look good on Windows"
I believe this screenshot illustrates my main issues:

![image](https://user-images.githubusercontent.com/2046265/184113540-007f830a-3092-4b2f-9837-b79f1c2258ed.png)

- The toolbar is filled with white none-ness
- The "reset" rescale button is smaller than the plus and minus buttons
- The plus and minus rescale buttons look weird, the symbols are not rendered in an expected way

This is on Windows

[2022-08-11 11:45] drammock commented on #11027
@alexrockhill just refactored the widgets after the 1.1 release, so there's a chance that this is already fixed on main. Can you check?

[2022-08-11 13:17] wmvanvliet opened #11028 "Addition of a non-projection-based method of removing EOG and ECG artifacts."
#### Describe the new feature or enhancement
The current SSP and ICA methods of removing EOG and ECG artifacts are really effective, but they do completely zap out 2 or even 3 ranks of data. With many-channel MEG and EEG recordings, that's usually fine, but since MNE-Python is getting used more and more for EEG analysis, also low channel count EEG analysis, perhaps it would be nice to provide an a

[2022-08-11 13:28] cbrnr commented on #11028
I'd add the "standard" regression approach first, because that's widely used (and often requested). I have implemented one of the first regression-based approached described in Hillyard & Galambos (1970) [here](https://cbrnr.github.io/posts/removing-eog-regression/). Can you explain what's different in the approach you implemented in `mne-sandbox` (Croft & Barry, 2000)? I've never seen SGEYESUB us

[2022-08-11 13:39] wmvanvliet commented on #11028
Croft & Barry first extract blink and saccade epochs and create ERPs. Then they compute the regression weights on those ERPs. The idea being that the ERPs contain a pretty pure blink without other ongoing EEG, so the weights will be more accurate. Once you have the weights, you apply them on the raw data like in your approach. Blinks and saccades are processed separately, but with the same idea: f

[2022-08-11 13:40] wmvanvliet commented on #11028
Perhaps it's time then to move the EOG regression out of the sandbox into MNE-Python proper ;)

[2022-08-11 14:03] cbrnr commented on #11028
I think so too! It would be nice if that function had a parameter to choose from Croft & Barry and Hillyard & Galambos (since the latter is very often still used today).

[2022-08-11 14:20] drammock commented on #11028
reference implementation is GPL-3, which IIUC carries a "same license for the library" requirement.  We'd need to request permission to relicense as BSD-3 if the plan is to simply translate the MATLAB implementation into Python.

[2022-08-11 17:30] arnodelorme commented on #11025
How do I try with the main branch? Can I uninstall with pip then clone the repo?
Would be great to be able to make push requests if needed.

[2022-08-11 18:03] drammock commented on #11025
`pip install git+https://github.com/jackz314/eeglabio` will install current `main` branch. If you want to make pull requests, then I'd first fork `eeglabio`, then

[code]

The `-e` flag does an "editable" install: python will load `eeglabio` from your local clone including any changes you have made locally.

[2022-08-11 20:16] drammock opened #11030 "RFC: better API for plot_topomap bands parameter?"
`plot_psds_topomap`, `plot_epochs_psd_topomap`, and `epochs.plot_psd_topomap` have a `bands` parameter that takes a list of tuples as input. The format is:

[code]

This seems inelegant: input is one or more strings, each associated with 1 or 2 numbers. It is begging to be a `dict`.  Proposed new API:

[code]

We could easily, silently support 'lists' or `np.array`s as the dict values too; and als

[2022-08-11 20:36] drammock commented on #8701
closing: seems to be resolved, and > 1 year of inactivity.

[2022-08-11 20:36] #8701 closed

[2022-08-12 06:21] wmvanvliet commented on #11028
A bonus provided by @rkobler's paper is a nice set of validation datasets we can use to test our implementation: https://osf.io/2qgrd

[2022-08-12 07:01] wmvanvliet commented on #11028
I'll keep that in mind if we do end up implementing SGEYESUB.

[2022-08-12 07:48] cbrnr commented on #11028
A bit OT, but I find it a bit sad that both the paper by Kobler et al. (2020) as well as the cited Schlögl et al. (2007) completely ignore relevant prior literature. The regression approach dates back to Hillyard and Galambos (1970), and a useful implementation (using the same data and separate coefficients for blinks and movements) was presented by Gratton, Coles and Donchin (1983). The latter is

[2022-08-12 11:48] agramfort commented on #11028
among the variants is their one you would consider the go to method for
this task?
I would like to avoid implement/maintain/test many small variants that lead
to
comparable results.

[2022-08-12 11:59] cbrnr commented on #11028
I'd prefer the one from Gratton et al. (1984), this is the most used one IMO. All of them are pretty similar anyway and also comparable in terms of performance. So it's basically about how to estimate the regression coefficients. I think the code that's already available in the sandbox is a good starting point.

[2022-08-12 12:04] wmvanvliet commented on #11028
If I look at the spectrum of variants, it occurs to me that most of them have to do with deciding on what type of data to fit the regression weights. If we go for a `.fit()`/`.apply()` style API, it would leave the user a lot of flexibility on which methodology to use. What I don't like about that approach though is that it makes it less straightforward to "just apply the method". Perhaps being op

[2022-08-12 12:06] wmvanvliet commented on #11028
This one? https://www.sciencedirect.com/science/article/abs/pii/0013469483901359?via%3Dihub

[2022-08-12 12:21] agramfort commented on #11028
+1

[2022-08-12 12:21] cbrnr commented on #11028
Yes, this one! And yes, the differences between the various regression methods is which data to fit the coefficients on, so a fit/apply API would be perfect! To make it easier to apply, we could then provide a wrapper function for e.g. the Gratton et al. approach.

[2022-08-12 17:48] arnodelorme opened #11031 "EEGLAB file export data type issue"
Reading a file exported by MNE on MATLAB

[code]

The type is int64 instead of double. This can cause all kinds of problems (I was trying to use the number of trials to calculate a ratio, and it was always returning the wrong value for example). This might be the case as well for other fields.

[2022-08-12 20:35] drammock opened #11032 "RFC: consistent API for topomap plotting"
In working on the API / implementation of `.plot_topomap()` for the new Spectrum class, I went to our existing API for inspiration. Turns out it's rather fragmented. Here's a table of the signatures for:

- [Epochs.plot_psd_topomap()](https://mne.tools/dev/generated/mne.Epochs.html#mne.Epochs.plot_psd_topomap)
- [Evoked.plot_topomap()](https://mne.tools/dev/generated/mne.Evoked.html#mne.Evoked.plo

[2022-08-13 08:27] hoechenberger commented on #11032
... and is something I only discovered a few months ago.

If we'd had something like `plot_topomap(..., mode: Literal["2d", "3d"] = "2d")`, it would have been much easier to discover. That said, I'd actually appreciate merging the functionality of both functions into `plot_field()`

If this doesn't work because the list of parameters would explode, I'd like to see `plot_field_2d()` / `plot_field_3

[2022-08-13 12:12] cbrnr commented on #11032
I think standardizing the API for the different topoplots is a very good idea! I like `plot_topography()`, a slightly shorter variant would be `plot_topo()`. Deprecating the existing methods is a good and tried approach, I like it. I would include a `"2d"`/`"3d"` parameter rather than have two separate functions.

[2022-08-14 07:01] agramfort commented on #11032
Most people use plain defaults for plotting. I would not come up with a new method name. It’s been there for too long and there are too many code relying on this. I would rather deprecate the parameters (eg if we go for units then add units and raise deprecation warning with unit parameter).

[2022-08-15 14:21] larsoner commented on #11030
Agreed a dict is better here, and +1 for keeping undocumented backward compat support for the old mode if it's easy

[2022-08-15 14:43] #10971 closed

[2022-08-15 16:18] #11023 closed

[2022-08-15 17:42] larsoner commented on #10985
I set up a qemu image using ppc64le arch and a pseries CPU (default for that arch), then installed the Fedora 36 ppc64le image, logged in, and did:
[code]
Then:

![Screenshot from 2022-08-15 13-40-05](https://user-images.githubusercontent.com/2365790/184686897-c951ffe7-26ff-49f9-8127-559b4c22dfc4.png)

Maybe this is related to https://bugs.launchpad.net/ubuntu-power-systems/+bug/1920784 -- not sur

[2022-08-15 23:44] jackz314 commented on #11025
FYI I finished tests on my end and released the latest version as [v0.0.2-2](https://github.com/jackz314/eeglabio/releases/tag/v0.0.2.post2).

[2022-08-16 09:26] 1358467720 commented on #11026
emm.. It does not look good with EDFbrowser. Does it mean that my data have got something wrong ?

[2022-08-16 09:26] 1358467720 commented on #11026
emm.. It does not look good with EDFbrowser. Does it mean that my data have got something wrong ?

[2022-08-16 10:27] cbrnr commented on #11026
If it looks the same in EDFbrowser, then yes, something's wrong with your data and not with our import or plotting functions.

[2022-08-16 10:27] #11026 closed

[2022-08-16 13:00] mscheltienne opened #11036 "Style of 'bool' x-ref is different than the style of other parameter types"
The style for the `bool` x-ref is different than for other parameter types. See for instance the [`set_montage` method](https://mne.tools/dev/generated/mne.Epochs.html#mne.Epochs.set_montage).

So it turns out that `intersphinx` resolves `bool` to https://docs.python.org/3/library/stdtypes.html#boolean-values
and not to https://docs.python.org/3/library/functions.html#bool
which results in a diffe

[2022-08-16 13:06] larsoner commented on #11036
We should be able to make an explicit link here I think

https://github.com/mne-tools/mne-python/blob/main/doc/conf.py#L178

[2022-08-16 13:06] mscheltienne commented on #11036
Oh true, that's ten times easier. I'll give it a shot :)

[2022-08-16 13:34] #11036 closed

[2022-08-16 17:38] KirkGraff opened #11039 "read_raw_eeglab stopped working in MNE 1.1"
I just updated to MNE 1.1 and I found I can no longer run read_raw_eeglab. It spits out an error message, instead of loading my file. Here's what spits out:

[code]

The problem is with the function _get_montage_information, specifically the set of code:

[code]

To investigate, I ran this code:

[code]

And got:
[code]

As you can see, no 'description', so the code fails when you try to run `d['d

[2022-08-16 17:45] cbrnr commented on #11039
Can you try if loading this exact same file works with MNE 1.0?

[2022-08-16 17:48] KirkGraff commented on #11039
Yep, works without issue.

[2022-08-16 18:11] cbrnr commented on #11039
Then it's probably ##10521. @agramfort do you have time to look?

[2022-08-17 07:53] agramfort commented on #11039
@KirkGraff if you have points that are FID (fiducials) they should have a description to know if it corresponds to Nasion, LPA or RPA. Either you fix your files or we add an exception in MNE to catch this issue with certain files. I would prefer you fix these files.

[2022-08-17 19:07] drammock opened #11042 "Simplify auto legend from evoked. comment in plot_compare_evokeds"
I am thinking of simplifying the `nave` proportions algebra in `evoked. comment` for the results from `plot_compare_evokdes` to make a more informative legend. Here is an, e.g., output **screenshot**

<img width="1994" alt="Screen Shot 2022-08-02 at 5 09 25 PM" src="https://user-images.githubusercontent.com/4381290/182497475-4d3a64d1-7788-4f27-9db2-047cd4aa8ed1.png">

The text in `evoked.comment`

[2022-08-17 20:58] arnodelorme opened #11043 "raw.drop_channels"
raw.drop_channels crashes when the channels are not included in the data being processed. Would be convenient to have a warning message instead.

[2022-08-17 21:04] larsoner commented on #11043
We should add a `on_missing='raise' | 'warn' | 'ignore'` as we do elsewhere. Should be an easy one for someone if they're motivated!

[2022-08-17 21:14] arnodelorme opened #11044 "Error when importing BIDS file"
File is below. It is part of https://openneuro.org/datasets/ds002718

https://drive.google.com/file/d/18SLD5TI0R_25-0rmF0g86YODXp753uze/view?usp=sharing

[code]

[2022-08-17 21:17] larsoner commented on #11044
Closing as dup of https://github.com/mne-tools/mne-python/issues/11039

[2022-08-17 21:17] #11044 closed

[2022-08-17 23:03] drammock opened #11045 "bunch of codespell errors (and false alarms)"
I suspect maybe the codespell version got updated: CIs just started (?) failing like this:

https://github.com/mne-tools/mne-python/runs/7889067340?check_suite_focus=true#step:8:31

[code]

most of these will go away if we special-case nAm (nanoAmperes) but some of them appear legit.

[2022-08-17 23:04] larsoner commented on #11045
Yes I cut a codespell release today :)

[2022-08-18 05:13] ktavabi commented on #11042
My bandwidth is limited right now, if this isn't pressing, assign it to me, and I'll get it done.

[2022-08-18 13:46] drammock commented on #11045
OK, I'll open a PR.

[2022-08-18 16:35] jhouck commented on #8309
FWIW mri_make_bem_surfaces is missing from freesurfer's Ubuntu 18 build, but support for that build is likely to be phased out soon.  Still present for all newer builds. See https://www.mail-archive.com/freesurfer@nmr.mgh.harvard.edu/msg73261.html

[2022-08-18 19:54] #11045 closed

[2022-08-18 20:18] KirkGraff commented on #11039
@agramfort Thanks for the info. I dug out the raw data the eeg cap spits out and am rewriting all my scripts to work with those instead (mostly for MNE compatibility reasons). It's labelled as a .raw file, which I'm opening with mne.io.read_raw_egi. Anyways, at least for my data I no longer care how MNE handles strange files.

Dunno if you care, but here's the matlab code that was being run to con

[2022-08-18 23:52] #11030 closed

[2022-08-19 07:28] agramfort commented on #11044
@arnodelorme do you agree that these .set files are broken and that MNE is doing the right thing now?

[2022-08-19 07:41] hoechenberger opened #11054 "Problem with documentation navigation: elements placed outside of visible area"
This occurs on my system e.g. on:

- https://mne.tools/dev/generated/mne.channels.fix_mag_coil_types.html
- https://mne.tools/dev/generated/mne.channels.read_polhemus_fastscan.html

<img width="1280" alt="Screen Shot 2022-08-19 at 09 33 00" src="https://user-images.githubusercontent.com/2046265/185568832-a49b1429-f3b2-442f-9683-53c424c821e1.png">

<img width="1280" alt="Screen Shot 2022-08-19 at 0

[2022-08-19 08:22] hoechenberger opened #11055 ""Temperature" and "Galvanic skin response" channel types"
We just recently encountered BIDS data containing temperature and GSR/EDA channels, and it would be great if we could properly map those to MNE, instead of using the `'misc'` type.

Temperature is typically measured in °C (i.e., relative to 273.15 K) or in Kelvin.

GSR/EDA is, to my knowledge, typically measured as conductance and thus in the unit Siemens (the inverse of Ω).

BIDS spec:
https://bi

[2022-08-19 08:24] agramfort commented on #11055
+1 although I would stick to storing the values in SI units so S and Ohm

[2022-08-19 08:25] hoechenberger commented on #11055
I just updated my initial post and changed the units to S and Ohm to avoid confusion

[2022-08-19 12:19] larsoner commented on #11054
Can you open this on pydata-sphinx-theme? This stress not seem MNE specific as it should occur with any sufficiently long link name, and I don't think we do any relevant CSS overrides (but please check)

One solution could involve setting the overflow (I think) in CSS but it wouldn't be pretty

[2022-08-19 15:33] olafhauk opened #11058 "Noisy point-spread functions"
#### Describe the new feature or enhancement
Currently mne.minimum_norm.point_spread_function() computes PSFs without added noise, i.e. based on the closed-form expression of the resolution matrix. This produces idealised results that may overestimate spatial resolution for medium-to-high noise levels. Samuelsson et al., Neuroimage 2021, suggested to use "empirical resolution matrices", i.e. to us

[2022-08-19 17:41] arnodelorme commented on #11044
I disagree. The "description" field is not part of the EEG.chaninfo structure so this code will fail for about half of EEGLAB dataset where this structure is defined. In the other half it is probably empty, and MNE will ignore it. The structure stores removed data channels.

[2022-08-20 09:43] vferat opened #11061 "improve ica.plot_overlay for raw instances"
#### Describe the new feature or enhancement
Currently when providing `inst=raw`, [`ica.plot_overlay`](https://mne.tools/stable/generated/mne.preprocessing.ICA.html?highlight=plot+overlay#mne.preprocessing.ICA.plot_overlay) transform it to an `evoked` for display. This doesn't really make sense when working with spontaneous data.
I would be great to be able to plot the overlay on the classic `raw.

[2022-08-20 20:25] agramfort commented on #11044
@arnodelorme you are saying that it's ok to have points with d["type"] == 'FID' and d['description'] not present? if so how do you know which FID point is which?

[2022-08-21 05:01] QuLogic opened #11062 "Event functions are deprecated in Matplotlib 3.6"
#### Describe the bug

Matplotlib 3.6 [deprecated the event functions on the canvas](https://matplotlib.org/devdocs/api/next_api_changes/deprecations/16931-AL.html). This causes some number of tests that use fake events to fail.

#### Steps to reproduce
1. Install `mne` dependencies
2. Update matplotlib to 3.6.0rc1
3. Run `pytest`

#### Expected results
Tests pass.

#### Actual results
[See build

[2022-08-21 05:04] QuLogic opened #11063 "matplotlib.cm.get_cmap is deprecated in Matplotlib 3.6"
#### Describe the bug

Matplotlib 3.6 added a [pending deprecated `matplotlib.cm.get_cmap`](https://matplotlib.org/devdocs/api/next_api_changes/deprecations/23668-TC.html). This causes some number of tests that use it to fail, since warnings are turned into errors. If you depend on Matplotlib 3.5+, you can switch to `matplotlib.colormaps[name]`, or you can use `plt.get_cmap` for older versions.

#

[2022-08-21 09:03] larsoner commented on #11061
I agree this would be useful. From an implementation standpoint it seems difficult, though, since our raw plotting is based on working with a single instance.

[2022-08-22 14:00] cgohil8 commented on #10695
I'm happy to work on this.

[2022-08-22 14:31] matsvanes commented on #10389
I'll have a look at changing the docstrings as suggested above.

[2022-08-22 15:12] wmvanvliet commented on #11028
https://mne.tools/stable/generated/mne.preprocessing.regress_artifact.html 😅

[2022-08-22 15:57] larsoner commented on #11062
Also FYI we're updating for `.join` deprecation: https://github.com/matplotlib/matplotlib/pull/21584

Thanks for the heads up on these @QuLogic !

[2022-08-22 16:22] cgohil8 commented on #10695
Resolved in https://github.com/mne-tools/mne-python/pull/11069.

[2022-08-22 16:28] drammock commented on #10725
@matsvanes is working on this

[2022-08-22 16:28] drammock commented on #10757
@cgohil8 is working on this

[2022-08-22 16:51] olafhauk commented on #10187
Sorry that I didn't join this discussion before. I'm now looking into this as part of a coding spring at the CBU. But it looks like you are on top of things. It seems that the documentation wasn't updated: The resolution matrix should be "n_inverse*n_forward", where the "n" reflects all components of the source model, i.e. 3*n_dipoles for free/loose orientations.
Please let me know if you have any

[2022-08-22 22:50] #10389 closed

[2022-08-22 22:52] #10695 closed

[2022-08-23 02:21] #11062 closed

[2022-08-23 02:21] #11063 closed

[2022-08-23 08:46] cgohil8 commented on #10757
This issue is two issues:
1. The read h5 function should return a CrossSpectralDensity object with the correct .projs attribute. This is fixed in https://github.com/mne-tools/mne-python/pull/11072.
2. The function should work with Path objects being passed instead of str. This issue is covered here: https://github.com/orgs/mne-tools/projects/2.

[2022-08-23 08:54] cgohil8 commented on #9350
I'm happy to work on this.

[2022-08-23 08:57] cgohil8 commented on #9350
This was fixed in https://github.com/mne-tools/mne-python/pull/10541.

[2022-08-23 09:14] #9350 closed

[2022-08-23 09:19] cgohil8 commented on #10496
I'm happy to work on this one.

[2022-08-23 10:58] #8620 closed

[2022-08-23 10:58] #10187 closed

[2022-08-23 11:45] #10784 closed

[2022-08-23 12:22] #10757 closed

[2022-08-23 16:38] wmvanvliet commented on #10946
Converting to head space is actually intended behavior:

MNE-Python prefers to have EEG channel locations in head space, always. So `.apply_montage` converts the montage to head space (if you get rid of the ` verbose='ERROR'` you can see the warning message saying there are no fiducials so an identity transform is assumed). We probably want to keep this. If we allow electrodes to be in all kinds o

[2022-08-24 08:17] #9177 closed

[2022-08-24 09:35] #10697 closed

[2022-08-24 10:11] #11043 closed

[2022-08-24 11:35] mscheltienne opened #11079 "Interpolate bridge electrodes when more than 2 electrodes are bridged together"
Following @alexrockhill addition of https://mne.tools/stable/auto_examples/preprocessing/eeg_bridging.html and #10587

What about the case where more than 2 electrodes are bridged together, e.g. where a trio of electrodes are bridged together?

https://github.com/mne-tools/mne-python/blob/5ee892f2ef79f451b7bdba251f4dec18e266001e/mne/preprocessing/interpolate.py#L75-L155

`interpolate_bridged_elect

[2022-08-24 11:59] #10725 closed

[2022-08-24 14:25] #11039 closed

[2022-08-25 05:32] AaronWill-Git commented on #5612
Thank you for your donation in MNE! I am recently using MNE to analysing EEG data and attache it with gait events. We often normalize varied step time lenth as 0-100%, it would be great if the vareid time lenth EEG can also be normalized into 0-100%.
Thanks, sir! May I know the link for your  “blog on how to create these time-warped t/f maps”？

[2022-08-25 08:24] larsoner opened #11087 "MAINT: Add category of discouraged but non-deprecated functions"
Increasingly it seems like we are keeping old APIs available by keeping tiny wrappers around new, better APIs. To give an example from https://github.com/mne-tools/mne-python/pull/10184, `epochs.plot_psd_topomap(...)` is kept around to avoid breaking code, but we really want people to use `EpochsSpectrum` methods.

I propose we add a new `@deprecated`-like decorator that marks such code as... some

[2022-08-25 08:27] drammock commented on #11087
+1, I can add this

[2022-08-25 10:02] mscheltienne opened #11088 "Bug with transformation from cartesian to sphere to cartesian coordinates"
I am not sure it's a bug, I feel like I'm missing something obvious.. Following #11079 I've been looking at the code of `interpolate_bridged_electrodes` and I ran into a weird case. I'm testing code to add virtual channels at the average location between N bridged electrodes on this recording:

![Screenshot 2022-08-25 at 11 48 24](https://user-images.githubusercontent.com/73893616/186633401-8c5c09

[2022-08-25 12:45] drammock opened #11089 "check if `fixes._get_args` can be replaced by builtin `signature` func"
We typically use `_get_args` from `fixes` for this. Can you use it here and/or open an issue that we should investigate whether we can migrate to `inspect.signature` directly nowadays? I can't remember if we just needed to wait until 3.7+ or if `.parameters` isn't enough sometimes, or something else

_Originally posted by @larsoner in https://github.com/mne-tools/mne-python/pull/10184#discussion_r

[2022-08-25 15:02] larsoner commented on #11079
You shouldn't need it for such basic functionality, you can just use

https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csgraph.connected_components.html

For the bridging that sounds reasonable

[2022-08-25 15:24] alexrockhill commented on #11079
One thing to consider is that by providing this functionality, we're implicitly condoning doing this. I'm fine adding it but I think it's worth considering if you have a large bridged area that the data there may be very inaccurate and it might be best to just exclude that recording. At least a note I think is warranted.

[2022-08-25 15:33] alexrockhill commented on #11079
Also I think you can find which ones are connected in a group in pure python pretty easy. Just iterate over each pair and if either one of the nodes in the pair is in another bridge, add that other bridge to the group. Maybe there are more efficient implementations but the number of channels is at most 256 or so so I don't think it's an issue.

[2022-08-25 16:20] mscheltienne commented on #11079
@alexrockhill Yes there are ways to implement it in python, it's just that the `networkx` version was super simple.

I agree we should not be ok with large bridged areas, and a warning should be emitted if a group is larger than N (I suggest N=3 or 4). As it is now, a large bridged area is treated as any other bridge: one virtual channel is created for each bridge in the area. So overall, I think

[2022-08-25 16:21] mscheltienne commented on #11079
I'll start adding this in a PR, but I need to figure out what is happening with TP7 and T7 in #11088 first.

[2022-08-25 16:25] larsoner commented on #11088
To me you shouldn't really need to worry about this --  you shouldn't use 2D-projected locations for meaningful data analysis (just for viz!) but rather stick with the original 3D positions.

But in any case... keep in mind in spherical coordinates, `np.average` will not be the right thing to do as it doesn't take into account wrapping. An electrode at -179deg and +179 deg are 2deg apart and all t

[2022-08-25 16:27] Martin2Constant opened #11091 "Wrong dB normalization for TFR plots"
#### Bug description
When using the plot() method on an AverageTFR object with the dB argument set to True, the dB normalization applied is `20*log10(data)` instead of `10*log10(data)` (which is what is specified in the documentation).
If I'm not mistaken, `20*log10(data)` dB normalization is for amplitude data, not power data. I spotted this problem with this function, but it probably applies to

[2022-08-25 16:49] mscheltienne commented on #11088
Yes, the average feels wrong here, but that's what `interpolate_bridged_electrodes` is doing at the moment.

The 2D projection I show at the end is just to illustrate; the issue is really about the 3D position. The location of the virtual channel between T7 and TP7 (both with negative `x` coordinates, left of the head) has a positive `x` coordinate (right of the head), probably because of the `ave

[2022-08-25 16:50] mscheltienne commented on #11088
If you know from the top of your head the right way to compute the average location of N electrodes in spherical coordinates, that would be great. I'm not used to working in the spherical coordinate system and it will take me a bit of time to wrap my head around it.
I'll add the fix as part of the PR for #11079.

[2022-08-25 16:58] larsoner commented on #11088
My first thought was to average in cartesian, but this alone would bias the radius. So then if you convert all the old ones to spherical, compute the average *radius* only, then convert the new location to spherical, replace its radius, and convert back, it should work.

You could also use something like https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.circmean.html to just the azi

[2022-08-25 17:00] drammock opened #11093 "support passing a callable to aggregate welch/multitaper estimates in Spectrum constructor"
cc @AJQuinn.  When I get around to this, I'll ping you to test/review.

[2022-08-25 17:06] mscheltienne commented on #11088
Thanks a lot, more than enough material for me to work this one out quickly.

[2022-08-25 18:03] drammock commented on #11091
I took a quick look, it appears that we need to keep track of whether data *was* complex so we can conditionally change the coef from `10` to `20` only in that case. @Martin2Constant are you up for making a PR to fix this?

[2022-08-26 05:33] rob-luke commented on #10975
Thanks for submitting this issue @Helianthus89. Sorry for the delayed response.

I have not used the Artinis-portalite before, but if the file is in snirf format we should (in theory) be able to read it. Can you share an example file with me and I can try and debug what the issue is?

[2022-08-26 07:59] Helianthus89 commented on #10975
@rob-luke , here you'll find a file in both format oxy4 and snirf, and the optode template to be able to convert oxy4 to an other format. I also include my modified version of the mne import function.

[portalite_mne.zip](https://github.com/mne-tools/mne-python/files/9430947/portalite_mne.zip)

[2022-08-26 09:05] larsoner commented on #10988
@ckiefer0 can you share a problematic file with me?

[2022-08-26 11:23] wmvanvliet commented on #10946
Ahh, this is ECOG data, I see.

[2022-08-26 13:22] FelipeParreira opened #11098 "Implement read method for Neurovirtual's EEG files (`.eeg`)"
#### Describe the new feature or enhancement
*Please provide a clear and concise description of what you want to add or
change.*
I need to read `.eeg` files generated by [Neurovirtual's devices](https://neurovirtual.com/br/).
Would you be able to implement a method that reads this type of file returning raw data (something similar to the `mne.io.read_raw_*` methods)?
If you are able to implement i

[2022-08-26 14:54] #8691 closed

[2022-08-26 23:44] #11055 closed

[2022-08-27 08:58] larsoner opened #11100 "BUG: Example broken on main"
@wmvanvliet I think #11080 broke `tutorials/clinical/30_ecog.py`:

https://app.circleci.com/pipelines/github/mne-tools/mne-python/16047/workflows/321560de-8d55-44f2-be22-e68382086eff/jobs/48440

Can you take a look?

[2022-08-27 09:08] larsoner commented on #11098
That would be great!

Roughly the steps would be:

1. Add `mne/io/neurovirtual/_neurovirtual.py`
2. In this file, create a `RawNeurovirtual` that subclasses `BaseRaw`
3. Give that class a `__init__` that sets channel types and metadata, like here:

    https://github.com/mne-tools/mne-python/blob/93485e025d576470c21cc936becb3992c01a9c5e/mne/io/hitachi/hitachi.py#L231-L241

5. Give that class a `_r

[2022-08-27 14:54] larsoner commented on #10988
For the `mne-hcp` stuff you should open an issue in that repo. So here let's concentrate on the MNE-Python stuff.

If I do:
[code]
I get:
[code]
so at least the ECG channels seem to be named correctly if you pass `rename_channels=False`.

For the others that are clearly something else (I think!), I've opened https://github.com/mne-tools/mne-python/pull/11102 . I think that covers what we need to c

[2022-08-27 16:28] #10988 closed

[2022-08-28 08:24] wmvanvliet commented on #11100
Narrowed it down to MNE-BIDS trying to apply the montage, even though no fiducials are there yet. Before, the mri->head transform silently failed and channel positions were applied in MRI space (a situation we don't want). Then later in the example, this is fixed. I'll see if I can make MNE-BIDS be more clever about applying montages.

[2022-08-28 15:03] hoechenberger opened #11106 "add_channels() documentation is difficult to understand"
I just wanted to use `Raw.add_channels()`, so I looked at the API docs and even though I'm a developer, it actually took me a couple of seconds to even understand what **could** probably be meant, and still I think I'll have to take a look at the code to get a better understanding:

<img width="716" alt="Screen Shot 2022-08-28 at 17 00 00" src="https://user-images.githubusercontent.com/2046265/187

[2022-08-28 15:09] agramfort commented on #11106
Indeed. Can you send a PR to improve?

[2022-08-28 15:21] hoechenberger commented on #11106
Oh wow only after actually looking at the code I realize I totally misunderstood what this method is even supposed to do, based on what I expected from the method name and its docstring.

The docstring says,

So what I thought I could do is, just pass an array of data for additional channels (and channel names), and they will be appended to the existing instance.

But actually what this method is

[2022-08-28 16:05] adam2392 opened #11107 "Interpolating multiple bridged electrodes instead of just a pair of electrodes"
#### Describe the new feature or enhancement
I am currently working on some EEG data in the MNE-ICALabel project and we are dealing with some subjects with bridging. I am following this [tutorial on bridging](https://mne.tools/dev/auto_examples/preprocessing/eeg_bridging.html) and am wondering if it is possible to interpolate among a set of greater than two electrodes?

E.g. what if `C1, C2, C3, C

[2022-08-28 16:12] larsoner commented on #11107
https://github.com/mne-tools/mne-python/pull/11094 does this, right?

[2022-08-28 16:19] adam2392 commented on #11107
Oh did not see that!

[2022-08-28 16:19] adam2392 commented on #11107
Yeah it does and okay hopefully that is merged soon. I'll go take a look at that PR.

[2022-08-28 16:19] #11107 closed

[2022-08-28 22:00] agramfort commented on #11106
it's adding channels so pd.concat(..., axis=channels)

it needs to be more than channel name and array as a channel info["chs"] is
a lot more than this.

[2022-08-28 23:10] hoechenberger commented on #11106
Exactly! That's why naming the method `add_channels()` is misleading – effectively, you're concatenating multiple "complete" objects.

Look just how much code I had to produce to add two channels to an existing raw:

[code]
https://github.com/mne-tools/mne-bids/blob/036dc7e08c5053e218f4aeff7c1786ffbdf0a6b4/mne_bids/tests/data/tiny_bids/code/make_tiny_bids_dataset.py#L46-L69

[2022-08-29 08:38] agramfort commented on #11106
I am not sure what you suggest here.

Message ID: ***@***.***>

[2022-08-29 08:52] Aminur1981 opened #11109 "RuntimeError: No valid channel positions found"
Dear all,

I ran in a little problem here and could not figure out how to solve it.

after running:
raw.plot_sensors(ch_type='eeg');
I get the error message:
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
Input In [30], in <cell line: 1>()
----> 1 raw.plot_sensors(ch_type='eeg')

File <decorato

[2022-08-29 09:04] Aminur1981 opened #11110 "no digitization points found"
I am trying to plot topo map, it says no digitization points found. Here attached my channel location file. I need to know how read this channel location  file to solve the issue. Thank you.
[location.xlsx](https://github.com/mne-tools/mne-python/files/9443232/location.xlsx)

[2022-08-29 09:16] agramfort commented on #11110
@Aminur1981 This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE forum](https://mne.discourse.group/) for usage questions.

[2022-08-29 09:16] #11110 closed

[2022-08-29 09:17] agramfort commented on #11109
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE forum](https://mne.discourse.group/) for usage questions.

[2022-08-29 09:17] #11109 closed

[2022-08-29 11:30] larsoner commented on #10946
Reopening as this issue will exist until make a fix in MNE-BIDS

[2022-08-29 11:31] #11100 closed

[2022-08-29 14:23] hoechenberger opened #11113 "Scaling is off for tiny_bids"
### Description of the problem

I think this screenshot demonstrates the issue:
<img width="1050" alt="Screen Shot 2022-08-29 at 16 22 03" src="https://user-images.githubusercontent.com/2046265/187223852-852b8fcd-f73f-4ba7-a9fb-35fd8007995d.png">

### Steps to reproduce

[code]

This is with MNE and MNE-BIDS `main`

### Expected results

Signal PTP should be in the range of maybe 300 or 500 µV max

[2022-08-29 14:44] drammock opened #11111 "switch our DeprecationWarnings to FutureWarnings"
Python silences DeprecationWarnings when running in user code.

It is therefore recommended to use FutureWarnings if we want to ensure that users see the warnings by default.

We could remove
`warnings.filterwarnings('always', category=DeprecationWarning, module='mne')` from `mne/utils/docs.py`  and change our Deprecation- to FutureWarnings

_Originally posted by @hoechenberger in https://github.c

[2022-08-29 14:56] hoechenberger commented on #11111
hands down best issue number ever! 🎈

[2022-08-29 15:17] hoechenberger opened #11112 "GSR and temperature channels do not show up in plot"
MWE:
[code]

produces:
![image](https://user-images.githubusercontent.com/2046265/187235163-ac101aa4-ef2f-4e98-92b5-9c3b4f8ec015.png)

[2022-08-29 15:25] larsoner commented on #11112
This is probably a scaling issue. There were no data to test with at the time of addition, so the `mne/defaults.py` scale factors are probably way off. In particular, the raw scale for `temperature` is almost certainly a problem here since room temperature (~20 deg C) will be off the plot given a unity `plot_raw` scale factor (the default right now IIRC)

[2022-08-29 15:50] larsoner commented on #11112
Ahh I didn't even notice that. Yeah it seems like a picking problem

[2022-08-29 17:10] #11087 closed

[2022-08-29 17:17] alexrockhill opened #11114 "[ENH] Use Sphinx-Gallery API Usage Map in Documentation"
Related to https://github.com/mne-tools/mne-python/pull/10999.

It would be nice to link the output in `doc/sg_api_usage.html` somewhere in the documentation, maybe near the roadmap. This might help new contributors find where the software is not heavily documented as far as example usage and fix that. Or even reduce build time and find redundant examples or how to refactor examples to show things

[2022-08-29 17:23] larsoner commented on #11114
To me this is a "developer option" and shouldn't be exposed / linked to in the docs. The right place for these in general I think is a contributor's page or something. I'd rather make a recommendation like this than add any option (or by default with no option) add these to the docs automatically

[2022-08-29 20:07] sappelhoff commented on #11113
This was added to the testing data here: https://github.com/mne-tools/mne-testing-data/pull/49

As far as I remember I recorded this data in the lab at my institute and truncated it. No idea why the scaling is off 🤔

[2022-08-29 20:17] hoechenberger commented on #11113
Could you try to read the data with BV Analyzer? I suspect our reader is the problem here…

[2022-08-29 22:23] #11079 closed

[2022-08-29 22:23] #11088 closed

[2022-08-30 06:35] gaoyangbuchicao commented on #10883
I have to say thanks for your smart "idea" to solve this annoying problem!!!@drammock

[2022-08-30 08:51] JuliusWelzel opened #11117 "ValueError for set_log_level('WARN') in example"
https://github.com/mne-tools/mne-python/blob/fb80e1163ef1f89479ca7f07cb0e09e996b23cd8/mne/utils/_logging.py#L232

Example should read set_log_level('WARNING') instead of set_log_level('WARN')

[2022-08-30 10:45] agramfort commented on #11117
Indeed ! Can you send us a PR to fix it? 🙏

[2022-08-30 11:10] JuliusWelzel commented on #11117
Opened PR see #11118

[2022-08-30 11:10] #11117 closed

[2022-08-30 11:51] ckiefer0 commented on #10988
@larsoner The changes in [#11102](https://github.com/mne-tools/mne-python/pull/11102) look good. I just have one question: Why are the two ECG channels renamed from ECG+ and ECG- to EEG 001 and EEG 004 when using rename_channels=True? Isn't ECG+ and ECG- much more meaningful especially since the EOG channels get to keep their names.

PS: I wasn't sure whether to reply here or in [#11102](https://g

[2022-08-30 12:15] sappelhoff opened #11119 "`add_channels` should update `_orig_units` attribute"
[`add_channels`](https://mne.tools/stable/generated/mne.io.Raw.html?highlight=add_channels#mne.io.Raw.add_channels) should add the unit the channel is in to `raw._orig_units`.

This came up in:

- https://github.com/mne-tools/mne-bids/pull/1059

 cc @hoechenberger

[code]

[2022-08-30 12:42] sappelhoff commented on #11113
@alisenz -- do you have time to:

1. download the BrainVision data in question (called `bv_dig_test`, see: https://github.com/mne-tools/mne-testing-data/tree/master/montage)
2. Go to our lab and check
    3. whether you can read that data with BrainVision Analyzer
    4. It's installed on the recording PC
    5. The dongle is in the materials room (small red USB stick, should be on top right of sh

[2022-08-30 13:42] sappelhoff commented on #11106
+1 to improve the docs based on the 4 points in the OP

once that is clarified, I think it's easier to live with the fact that `add_channels` actually concatenates `raws` (or other instances).

not sure either, but perhaps that `add_channels` would be a function that takes params like `data`, `ch_name`, ... (and all else that is needed) instead of a raw/... object?

[2022-08-30 14:22] drammock commented on #11106
Agree that this is way too difficult. Comments below:

[code]
The above could be simplified a bit; still 3 expressions but much shorter:
[code]

This next bit seems unaviodable but not so bad:

[code]

Are the below lines necessary when creating RawArray, or only when adding the channels to the existing Raw? (I suspect the latter, but haven't checked). Regardless, we should make it possible to ski

[2022-08-30 14:46] hoechenberger commented on #11106
I am not sure myself either 😆

But I suppose my feeling was that:

- `add_channels()` doesn't live up to its name, because
- it performs a concatenation of two same-typed objects, hence
- this functionality could (should) live in `concatenate_*()`, meaning that
- `concatenate_*()` should gain an `axis`-like parameter, and
- `add_channels()` could be subsequently deprecated or "legacy-lized",
- but

[2022-08-30 16:32] marsipu commented on #11112
@hoechenberger Yes, when it is in matplotlib and qt-backend and no traces/y-axis-marks show I think too that it is a picking problem inside mne-python-code

[2022-08-30 19:08] larsoner commented on #10988
This seems like a bug. Want to try fixing it? It seems like only channels marked as EEG should get renamed using EEG names. The EOG ones should probably be EOG 001..., ECG as ECG 001..., etc.

[2022-08-30 20:42] larsoner commented on #11112
I can try to look tomorrow

[2022-08-30 20:42] larsoner commented on #11119
I can try to look tomorrow

[2022-08-30 21:13] #11111 closed

[2022-08-31 07:51] ckiefer0 commented on #10988
I see. But why not keep the +/- naming? Then it would be immediately clear that there is a cathode/anode pair and for EOG you would immediately know whether it is a vertical or horizontal channel. Furthermore, it would help with compatibility with mne-hcp since one could use the following mne-hcp.preprocessing function without any further renaming:

[code]

[2022-08-31 09:19] agramfort commented on #11106
I would suggest to follow what @drammock <https://github.com/drammock>
 suggests.

the rest well, if someone has time to iterate but for me it's a lot of work
for a small
return.

this operation was necessary to hack a test in mne-bids not to actually
process data
so I don't expect people to do these operations all the time.

Message ID: ***@***.***>

[2022-08-31 09:24] agramfort commented on #11119
why not but it means we need to be consistent that the `_orig_units` attribute is a part the API of Raw. So I feel is not an isolated change.

[2022-08-31 12:55] larsoner commented on #10988
The idea behind `rename_channels` IIRC was to give them Neurmag-like names. The closest would be `ECG 001`-style names I think.

Personally I would use `rename_channels=False` all the time nowadays

[2022-08-31 13:13] #10426 closed

[2022-08-31 13:14] larsoner commented on #10427
@sportnoah14 still interested in this?

FWIW a first version doesn't absolutely have to have this. You can just always preload data (then `_read_segment_file` does not need to be defined at all). It's not ideal but it's a good start, and might be good enough forever if these files are never expected to be very large...

[2022-08-31 16:37] #8737 closed

[2022-09-01 09:49] sappelhoff commented on #10524
or you could find a documentation of micromed's `.trc` file format and post it here, maybe someone in the future will implement this.

[2022-09-02 11:49] Liam-Noah opened #11128 "Plot window not showing up"
### Description of the problem

Hello,

I'm following the tutorial here https://mne.tools/stable/auto_tutorials/intro/10_overview.html#sphx-glr-auto-tutorials-intro-10-overview-py . At one point I have to plot the raw fif file
raw.plot(duration=5, n_channels=30)
The window appears a few milliseconds then dissapears.
With verbose level to debug I get only this in the command prompt:

Using matplotl

[2022-09-02 12:46] Liam-Noah commented on #11128
installing sklearn solved the issue

[2022-09-02 13:15] larsoner commented on #11128
Okay, glad it's working!

[2022-09-02 13:15] #11128 closed

[2022-09-02 15:44] rfahrn opened #11130 "_read_raw_hitachi_ for multiple csv files"
### Describe the new feature or enhancement

'read_raw_hitachi' method that supports multiple .csv files (per probe), passed as a list.

Rather than:
raw1 = read_hitachi('Data/S11/S11_MES_Probe1.csv')  # left hemisphere
raw2 = read_hitachi('Data/S11/S11_MES_Probe2.csv')  # right hemisphere

Feature request:
raw = read_hitachi(**['Data/S11/S11_MES_Probe1.csv','Data/S11/S11_MES_Probe2.csv']**)

###

[2022-09-03 11:03] virvw opened #11131 "concatenation of annotated epochs"
### Describe the new feature or enhancement
as per @larsoner's request
Allow for concatenation of annotated epochs, e.g. when epochs are baselined, then cropped and then concatenated (instead of baselined, concatenated and then cropped)

Usefulness: speed of computation for long epos can be reduced during stat analysis on specified time windows and for instance, excluding the baseline

### Describ

[2022-09-03 13:54] mscheltienne opened #11133 "Bug with plot_topomap and coordinate transformations following #11081"
### Description of the problem

Following #11081, topomaps created with digitization points provided as `Info` don't look the same.
It has to do with `dev_head_t` (I think). Now that `info` is not None, `sphere` value is replaced from `None` to `'auto'` here https://github.com/mne-tools/mne-python/blob/4310c92b85fa7dcc77ffe322501037e5ad82372d/mne/utils/check.py#L848-L857
which means that we now en

[2022-09-03 15:35] agramfort commented on #11133
Can you share the info?

[2022-09-03 16:16] sportnoah14 commented on #10427
@larsoner im still interested in this. I could start with having data preloaded but ideally I, and I think everyone using NWB files, would like to have lazy loading as these files can get very large. I'm currently on holiday and in the midst of moving but I'll be resuming this once I settle a bit more. Hopefully this coming week or the week after.

@dsleiter and @rob-luke I'd love your help with e

[2022-09-03 19:59] mscheltienne commented on #11133
It's the MNE sample dataset "MEG" from which I picked only the EEG sensors. In the example above, I used the `testing` dataset instead of `sample`, but it's the same. e.g.

[code]

With the filtered file above, the info representation is:

[code]

[2022-09-04 13:21] MrNobodyCali opened #11135 "UnicodeDecodeError for new version"
### Description of the problem

When I read some .edf files by `read_raw_edf()` function, the codes from Version 0.24.1 succeed to read all the files. However, the codes from Version 1.1.1 succeed to read some files, but report an error while reading one file as:

### Steps to reproduce

[code]

### Link to data

_No response_

### Expected results

Succeed to read all files.

### Actual results

[2022-09-04 16:53] agramfort commented on #11135
or changelog https://mne.tools/stable/whats_new.html says:

   -

   Annotations contained in EDF files are correctly read as UTF-8 according
   to the EDF specification (#10963
   <https://github.com/mne-tools/mne-python/issues/10963> by Clemens Brunner
   <https://github.com/cbrnr>)

So I would conclude that the EDF file you have does not follow the EDF file
standard but I am not an EDF expert

[2022-09-04 16:53] MrNobodyCali commented on #11135
这是来自QQ邮箱的自动回复邮件。
 
您好呀~我是陈俊儒，我已收到您的邮件~我会尽快查阅的。如果您不认识我，请核对下您的发送地址。

[2022-09-04 16:56] agramfort commented on #11133
@mscheltienne I am lost. I see a PR in pycrostates.

what is the bug to fix?

[2022-09-04 17:03] agramfort commented on #11131
we still do not support keep annotations at the epochs level when
concatenating. It remains to be implemented.

Now I am not sure how it relates to baseline correction. Can you share a
small code snippet to make the problem
clearer to us? 🙏

[2022-09-04 17:07] mscheltienne commented on #11133
Sorry, if that was not clear. Let's start over ;)

A while ago, I fixed a bug in `mne-python`, `sphere='eeglab'` was not working. PR: https://github.com/mne-tools/mne-python/pull/11081 But that PR had a side-effect that we did not notice at the time, namely, it messed up how the plot looks (c.f. the 2 screenshots and the code snippet with the MNE sample dataset in the first post).

I noticed this

[2022-09-04 17:21] virvw commented on #11131
Sure, here is a snippet,hth:

#%%============================================================
epos_list   = []

for b in tmp.metadata['Bins'].unique().sort_values():
                blah = tmp[query.format(b)].filter(foi_list[foi][0],
foi_list[foi][1],
                            l_trans_bandwidth ='auto', h_trans_bandwidth
='auto',
                            method ='iir', phase ='zero')

[2022-09-04 17:24] agramfort commented on #11131
do you really need annotations or just metadata? It's different things.
if you don't need the annotations you should remove them before doing the concatenations.

maybe blah.set_annotations(None) ?

[2022-09-04 17:26] agramfort commented on #11133
ok I'll let you look into it.

[2022-09-04 17:33] virvw commented on #11131
This does the trick
The annotation keeps track of the order of previous processing (set by
Richard) so if unnecessary, this will do
+1

Virginie van Wassenhove <https://brainthemind.com/>
*My working hours may not be yours, respond in your own time*

On Sun, Sep 4, 2022 at 7:24 PM Alexandre Gramfort ***@***.***>
wrote:

[2022-09-04 18:59] #11131 closed

[2022-09-06 11:42] MrNobodyCali commented on #11135
I have exported these .edf files from original data by the `Neuro Workbench` software (from `NIHON KOHDEN`). The transformation is executed in the software and I did not use explicit codes to do this.

[2022-09-06 11:54] MrNobodyCali commented on #11135
I am not sure that whether the commercial software still follows old encoding type `latin-1`, which causes the error report.

[2022-09-06 20:01] agramfort commented on #11135
do you have the problem with other EDF readers?

[2022-09-06 21:45] mscheltienne opened #11137 "Add __eq__ and __ne__ to Projection"
### Describe the new feature or enhancement

Add the `==` and `!=` method to the `Projection` class defined [here](https://github.com/mne-tools/mne-python/blob/aef49669fe1bdf19221e03e85cf961671508e0bb/mne/io/proj.py#L24-L103).

For now, comparing projectors raises:

[code]

[2022-09-06 22:55] larsoner commented on #11137
Sure, seems like an easy one when someone is motivated!

[2022-09-07 09:39] alisenz commented on #11113
@hoechenberger @sappelhoff the data is readable but if you expect the amplitude of 300-500 µV, this is **NOT** the case. I'm seeing min 5000 µV here:

![Capture](https://user-images.githubusercontent.com/36814874/188845564-f6231b27-03db-49d3-b118-aebb85498375.PNG)

[2022-09-07 09:53] sappelhoff commented on #11113
wow, what the hell did I do back then? At least this confirms that the issue is with the data and not with our readers. Perhaps I did some weird scaling in a misguided attempt to obscure/anonymize the data, because I thought the severe cropping wasn't enough? After all this was originally only intended for a check of montages and the Brain Products CapTrak system.

Thanks for checking @alisenz

[2022-09-07 10:01] hoechenberger commented on #11113
If we're off by 3 orders of magnitude it's probably nV instead of uV?

[2022-09-07 14:12] drammock opened #11142 "Cannot re-download sample dataset"
In attempting to replicate the issue in [this forum post](https://mne.discourse.group/t/error-failed-to-download-sample-dataset/5537) I tried the following:

[code]
This failed, with:
[code]

it turns out that `COR.fif` had read-only permissions. Simply extracting the downloaded `.tar.gz` to a folder on my desktop, it ends up with RW permissions.  I have no memory of changing the permisisons on `C

[2022-09-07 14:16] drammock commented on #11142
BTW, the dataset's `version.txt` said that the version I had was 0.11, and the version attempting to install is 0.12

[2022-09-07 14:49] larsoner commented on #11142
Probably a bug with 0.11. I had 0.12 already and was able to `force_update=True` just now

[2022-09-07 14:50] larsoner commented on #11142
Yes manually deleting them should work. Then you should be able to do a couple of `force_update=True`s and they should work

[2022-09-07 14:52] drammock commented on #11142
What I meant was "should we update the downloader code to *automatically* delete the old files first?"  Not "will *manually* deleting first work."

[2022-09-07 14:53] larsoner commented on #11142
I think our code is already trying to delete the old files and failing, though. In this case I think the user might need to manually delete/override. I'm not sure we can do it from Python, and even if we can, I'm not sure we should. It seems like better practice to make sure we distribute our datasets in a way that they can be deleted from Python without any force/ignore-permissions stuff

[2022-09-07 14:57] larsoner commented on #11142
... actually it looks like we only manually delete for testing and misc:

https://github.com/mne-tools/mne-python/blob/b8ba02fb74f63fef08f5386ea27a0f660342c99b/mne/datasets/_fetch.py#L267-L272

I think we maybe used to for other datasets before the `pooch` transition. I guess now we rely on Pooch to do the right thing here. So maybe an upstream bug?

But really I'm not user `rmtree(..., ignore_err

[2022-09-07 15:06] drammock commented on #11142
IIRC the reason for `rmtree` here is that `misc` and `testing` extract into folders that have a version number incorporated, and stripping that while extracting was not something pooch could do cleanly.  (this may have since been fixed in Pooch, not sure).

I tend to agree that we should avoid deleting first if possible, and that we should let pooch handle the deletion (when it can). So I guess we

[2022-09-07 15:37] larsoner commented on #11142
Yes hopefully it's a transient issue and we don't make our datasets read-only. Or if we do (which maybe we should!), we figure out how to handle it reasonably with the downloaders

[2022-09-07 15:37] #11142 closed

[2022-09-08 12:46] sappelhoff commented on #11113
I don't think so. Knowing myself from 3 years ago I think this is most likely what happened (~80% sure):

fixing this would involve:

- re-writing the `.eeg` file with sensible data (leaving vhdr and vmrk intact), e.g., using [pybv](https://github.com/bids-standard/pybv)
- updating the accompanying fif file: [`bv_dig_raw.fif`](https://github.com/mne-tools/mne-testing-data/blob/master/montage/bv_di

[2022-09-08 16:02] larsoner commented on #11112
@hoechenberger running your example I get a bunch of junk from MNE-BIDS, followed by a real error:
[code]
I see in the output and a quick sanity check a few things:

1. MNE-BIDS not setting the `Temp` channel as a temperature channel
2. Missing comma between `'GSR2'` and `'Temp'` causing them not to be picked
3. Us not handling empty picks correctly, which I'm fixing
4. The data appearing broken o

[2022-09-09 11:14] larsoner opened #11149 "BUG: spatial_colors PR broke an example"
Presumably from https://github.com/mne-tools/mne-python/pull/11017

https://app.circleci.com/pipelines/github/mne-tools/mne-python/16268/workflows/e0fbe025-9f20-4f69-ad23-3f158beb9860/jobs/48907

@drammock @hoechenberger it looks like you reviewed, could one of you have a look for a quick fix today? If not, I can do it.

[2022-09-09 11:55] agramfort commented on #11149
the problem is the following. If you do evoked.plot() it plots all channel types but if one channel types has no locations (eg EOG in the example) then spatial_colors is set to True but you get the warning when picks contains EOG.

I would suggest then to revert the commit for now unless @drammock has time to fix very quickly.

[2022-09-09 13:48] #11137 closed

[2022-09-09 14:48] #11149 closed

[2022-09-11 09:44] rob-luke commented on #10975
Sorry for the delay getting back to you @Helianthus89

The file you provided is not a valid SNIRF file. I tested this by using the [SNIRF validator](https://github.com/BUNPC/pysnirf2) from the [Boston University Neurophotonics Center](https://www.bu.edu/neurophotonics/).

[code]

There are a number of errors with the file. It would be great if you could ask the manufacturer to ensure their files a

[2022-09-11 09:45] rob-luke commented on #10975
And for anyone reading along, a fix seems to be to edit line 203 of the snirf.py to include

[code]

[2022-09-12 07:56] cbrnr commented on #11135
According to the [EDF specification](https://www.edfplus.info/specs/edfplus.html#annotation), TAL channels are encoded as UTF-8. Previously, we used ISO 8859-1 (aka Latin-1), which worked with files that are apparently very common in practice, but are not compliant with the standard.

I prefer sticking to the standard UTF-8 encoding, but we could think about introducing a new parameter to let user

[2022-09-12 08:13] agramfort commented on #11135
I would be ok with a new param to specify the encoding. Maybe
`tal_encoding` or just `encoding`?

[2022-09-12 08:56] cbrnr commented on #11135
Fine with me. I think `encoding="utf8"` would be a good choice if we document it that this refers to annotation channels (other encodings cannot and should not be changed since e.g. header encoding is limited to ASCII).

[2022-09-12 09:01] agramfort commented on #11135
works for me.

Can you take care of the PR? thx a lot

[2022-09-12 09:04] cbrnr commented on #11135
Sure, will do!

[2022-09-13 01:47] MrNobodyCali commented on #11135
@agramfort @cbrnr Thanks a lot for considering this situation. I will use the new function later.

[2022-09-13 02:42] #11135 closed

[2022-09-13 08:16] sappelhoff commented on #11119
@agramfort you mean making it a public attribute? I think I'd keep it private and just include this small fix

[2022-09-13 09:14] #11113 closed

[2022-09-13 09:14] hoechenberger commented on #11113
Thank you @sappelhoff for fixing this!

[2022-09-13 09:19] cbrnr opened #11158 "Release v1.2"
Our milestone 1.2 is overdue, and we would like to cut a release this week or next. There are already a lot of open PRs and issues tagged with 1.2, but please mark any additional PRs/issues that you would like to see included in 1.2. Also, please remove the 1.2 milestone from any PRs/issues that won't make it into 1.2 and change their tag to 1.3.

[2022-09-13 09:30] cbrnr commented on #9830
I would like to res this issue because I think the current dissociation between the two reprs can be very confusing. Specifically, when writing some tutorial in a notebook-like environment, people should see the exact same output whether they are in a REPL or a notebook. In general, I prefer the REPL, but I write my tutorial with Quarto (which uses Jupyter notebook under the hood), so when I tell

[2022-09-13 10:52] hoechenberger commented on #9830
@cbrnr +1 for adding a configuration option if Jupyter doesn't support this. The default should IMHO still be to use HTML repr in a Jupyter environment.

[2022-09-13 11:05] cbrnr commented on #9830
This would be great! And yes, HTML can remain the default for notebook envs.

Does anyone have an idea how to implement this technically? I briefly looked at how it's done in Scikit-learn, but couldn't really figure it out so I guess this will be a larger change.

I will also ask the IPython devs if they think this could be added on their end. Doesn't make a lot of sense that every package has to

[2022-09-13 11:08] hoechenberger commented on #9830
Could you not simply do something like this:
[code]
?

[2022-09-13 11:39] cbrnr commented on #9830
Unfortunately, this doesn't work (nothing gets printed). It seems like it's not just the returned value that's needed by the notebook.

[2022-09-13 11:43] hoechenberger commented on #9830
This works for me in the VS Code Python Interactive Jupyter thingy:

[code]
<img width="599" alt="Screen Shot 2022-09-13 at 13 43 41" src="https://user-images.githubusercontent.com/2046265/189892404-85d9ea0b-a0f6-4a0d-91ae-bceba4bfe1b5.png">

[2022-09-13 11:44] hoechenberger commented on #9830
@cbrnr I assume you'll have to encode the `<` etc symbols

[2022-09-13 11:46] hoechenberger commented on #9830
Yep.

[code]
prints nothing.

But this works:
[code]
<img width="478" alt="Screen Shot 2022-09-13 at 13 46 27" src="https://user-images.githubusercontent.com/2046265/189892895-2b2c7642-66e1-4f75-8fd4-7f14c39b11b8.png">

[2022-09-13 11:51] cbrnr commented on #9830
Line breaks `\n` should not be escaped though – is this possible?

[2022-09-13 11:52] cbrnr commented on #9830
The font is also not a fixed-width font, which ideally would be nice to have as well...

[2022-09-13 12:16] rob-luke commented on #10975
Thanks for the feedback @Helianthus89
Can I use the snirf file you shared as test data for MNE? Then I can submit a fix for the bug you found where there is only 1 source or detector.

We will also need to find a way to allow you to specify the S-D distance manually (for beer-lambert law), as you don't have accurate spatial information in the file. Once the fix for the data input is merged I can t

[2022-09-13 13:08] cbrnr commented on #9830
This should do it:

[code]

[2022-09-13 13:34] larsoner commented on #10975
To me the right fix is to create and apply a montage with `S*` and `D*` channels that is as close to reality as possible. Then you get a lot of stuff for free (e.g., all sensor plots become reasonable instead of potentially nonsensical) in addition to having things set up properly for beer-lambert

[2022-09-13 13:56] Helianthus89 commented on #10975
@rob-luke, of course you can use data-files i shared here, data are anonymised so it's ok.
I'm not sur to well understand the last part of your post. After adapted the import function to be able to transform 1D to 3D optodes positions, i was able to process my data like any other nirs data (OD then BL). Do you think that the lack of precision about optodes location could be induce a wrong Beer-Lam

[2022-09-13 15:28] larsoner commented on #11158
I went through and marked a ton of issues (50?) for 1.3, and marked issues+PRs I think we could get in this week or next if we make a push:

https://github.com/mne-tools/mne-python/milestone/23

So other folks when you look through, feel free to look through the 1.3 milestone to see what I pushed back (and/or look through the plain issues list for what you want to keep)

[2022-09-13 17:28] nikmedoed opened #11161 "Empty plot_alignment for fsaverage and eegbci sample"
### Description of the problem

I execute the first 2 blocks of code from [this article](https://mne.tools/stable/auto_tutorials/forward/35_eeg_no_mri.html), and get an empty display in jupyter notebook.
![Screenshot ](https://i.imgur.com/SpCaow0.png)

When running with CLI, the window closes instantly.

I also got empty plotting with some other commands, but not always. What could this be related

[2022-09-13 18:25] #11119 closed

[2022-09-13 21:36] #11112 closed

[2022-09-14 10:38] nikmedoed commented on #11161
I've test with pyvista
- 0.35.2
- 0.36.1
- 0.36.0
- 0.35.1
- 0.34.2

didn't help

[2022-09-14 10:39] nikmedoed commented on #11161
I've test with pyvista
- 0.35.2
- 0.36.1
- 0.36.0
- 0.35.1
- 0.34.2

didn't help

[2022-09-14 13:34] larsoner commented on #11161
Have you tried setting any of the `set_3d_options` before making your plot?

https://mne.tools/stable/generated/mne.viz.set_3d_options.html

In particular the `antialias=False, depth_peeling=False, multi_samples=1` might work. If it does, then maybe some subset of those options is good enough.

[2022-09-14 14:08] eort opened #11162 "getting chpi information crashes when no hpi information are available"
### Describe the new feature or enhancement

The new ( #11122 ) method `mne.chpi.get_active_chpi` calls `mne.chpi. get_chpi_info` to determine the number of active hpi coils. In case no information on hpis are available, the default behavior of `get_chpi_info` is raising an error. This is not ideal for all situations (see for example  [mne-bids #1067](https://github.com/mne-tools/mne-bids/pull/106

[2022-09-14 14:21] drammock commented on #11161
If you're doing something like `python my_mne_script.py` then you should do `python -i my_mne_script.py` instead.  This will keep the python interpreter open (and thus also any plots generated by your script).

[2022-09-14 14:58] nikmedoed commented on #11161
Thanks, it works.

Thanks, it works. I have never felt the need for this flag before.

Everything worked, thanks to everyone.

[2022-09-14 14:58] #11161 closed

[2022-09-14 15:48] drammock commented on #10612
reopened by #11151

[2022-09-15 05:38] cbrnr commented on #5612
Yes, EEG data locked to gait cycles is a great example where this would be useful. I am currently restructuring my blog at https://cbrnr.github.io/ (I'm switching to Quarto), and after that I will be adding an article on how to compute t/f-maps for variable-length epochs.

It is basically resampling, but you have to resample in the frequency domain and not in the time domain. Resample the time dat

[2022-09-15 12:56] #9830 closed

[2022-09-15 12:59] agramfort commented on #11162
I would be fine having mne.chpi.get_active_chpi just return 0 if no CHPI
are present. It seems the most logical to me.

[2022-09-15 13:02] cbrnr opened #11164 "Extend `mne.get_config("")` to return a dict"
`mne.get_config("")` is mostly there for informational/interactive purposes, it's only used twice in the codebase in ways that should be compatible with `dict` too:

[code]

_Originally posted by @drammock in https://github.com/mne-tools/mne-python/issues/11159#issuecomment-1247095986_

Therefore, `mne.get_config("")` should return a `dict` with config values as keys and their descriptions as valu

[2022-09-15 13:25] cbrnr opened #11165 "Plots appear twice in notebooks"
Every call to a plotting function produces two plots in a notebook, e.g.:

![Screen Shot 2022-09-15 at 15 16 29](https://user-images.githubusercontent.com/4377312/190413441-721822f2-c1eb-496c-81c8-c7e1559ebb8f.png)

This is because our functions return the figure, which then automatically gets plotted in a notebook. In addition, we also see the plot which is explicitly produced by the function.

I

[2022-09-15 13:34] drammock commented on #11164
I see no downside to always returning the `dict`

[2022-09-15 13:38] drammock commented on #11165
to me this feels like something that should be fixed upstream. Maybe IPython should suppress displaying the output of cells if that output is a matplotlib `Figure` instance.  Or maybe there could be an IPython extension that would do this. But to me this is not something we should fix within MNE-Python.

[2022-09-15 13:48] cbrnr commented on #11165
I think we are at least partly to blame. If you do

[code]

in a notebook, you only see the figure once, because the plotting function does not return the figure, but some sort of line collection. This is also what [they recommend](https://matplotlib.org/stable/tutorials/introductory/usage.html#making-a-helper-functions) (`plot` does *not* return a `Figure`), so I think it's also the returning a F

[2022-09-15 13:54] larsoner commented on #11165
Yes, and this also seems like a totally reasonable pattern, and has been used a lot historically:
[code]
if this produces two figure displays, it's not totally clear to me that this is desired behavior or not. We should probably at least ask the MPL folks about it. If they say "yes in that case you should get two plots and we won't/can't change this" then changing all our `show=True` to `show='aut

[2022-09-15 14:03] cbrnr commented on #11165
Just one figure, yes. Like I mentioned, the difference is that MPL functions do *not* return a `Figure`.

[2022-09-15 14:06] cbrnr commented on #11165
Actually, MNE is the only package I know that behaves like that and produces two figures. All others produce just one figure because they do not return a `Figure` (e.g. MPL, Seaborn, ...).

[2022-09-15 14:07] larsoner commented on #11165
Some `mpl` functions do, including `plt.figure`, which is why I included it. But I shouldn't have included the `show` as it does prevent from showing the problem, which is visible without it:

<img width="662" alt="Screen Shot 2022-09-15 at 7 06 44 AM" src="https://user-images.githubusercontent.com/2365790/190425369-c4b06a0c-e21e-488b-b5e5-1496d14c7a1a.png">

[2022-09-15 14:09] cbrnr commented on #11165
Right, but this seems to make sense, because `plt.figure()` should return a `Figure`.

[2022-09-15 14:10] cbrnr commented on #11165
So in my opinion the problem is that plotting functions should not return a `Figure`, but some `axis` subtype or line collection or similar.

[2022-09-15 14:12] cbrnr commented on #11165
Also, you would not just do `plt.figure()`, but rather assign it a name, e.g. `fig = plt.figure()`. But you do use `plt.plot()` without any assignment.

[2022-09-15 15:12] Schmetzler opened #11167 "BaseEstimator.__repr__ implementation in mne/fixes is wrong"
### Description of the problem

I was wondering why my output is spammed with estimator variables using MNE (in combination with MOABB):
It always looked like this:

[code]

As it turned out the `__repr__` function of `BaseEstimator` (in mne/fixes) uses `pprint`. The problem is, that pprint does usually write to `sys.stdout` unless told otherwise and does return None. So the `repr` function does n

[2022-09-15 15:25] cbrnr commented on #11165
I like the idea of returning an `MNEFigure` and change its `_repr_html_` accordingly. But how would this solve the issue when someone assigns `fig = mne.viz...`?

[2022-09-15 15:29] cbrnr commented on #11165
Re comparisons with `plt.plot()`, seaborn has functions that plot more complex figures (with multiple axes) that still do not return a figure, but do it through some container types. It's probably overkill for us, but they don't have the problem of figures showing up twice in notebooks...

[2022-09-15 15:29] larsoner commented on #11167
I like your StringIO idea, would you be up for trying a PR to fix it?

[2022-09-15 15:35] drammock commented on #11165
Good point. Still, I think it's not quite the same; seaborn is typically plotting small-multiples, so a container makes sense / can work for a wide variety of their plots. For us, not only is a container class "overkill" (as you say) but also probably inappropriate (our plots are too variable in what they include to make a container a very useful abstraction, IMO --- we might as well just return a

[2022-09-15 16:12] agramfort commented on #11165
I am with @drammock on this one. I've lived fine some `_ = ` and `;` and I have never heard students complain about this during trainings. Having to deal with all the deprecations for me largely limits my enthusiasm to consider any change... Given the time and ressources we have to maintain and improve MNE I would allocate of time on this.

my 2c

[2022-09-15 16:18] agramfort commented on #11167
I think we should follow the `repr` strategy from sklearn for decoding estimators.

[2022-09-15 16:31] cbrnr commented on #11165
@agramfort yes, I agree that it is too big of a change RN (and I did hear some people wonder about `_ = ` and `;` so I'd avoid these whenever possible).

But we could still try to improve things by implementing what @drammock suggested - would you be OK with that? Only I'm not yet convinced how it will work... Are you saying that in a notebook, we could write e.g. `raw.plot()` and only one plot wo

[2022-09-15 16:35] drammock commented on #11165
@cbrnr you can test if it works by adding a repr_html here:

https://github.com/mne-tools/mne-python/blob/main/mne/viz/_mpl_figure.py#L83

and trying raw.plot() in a notebook after that.

[2022-09-15 16:39] agramfort commented on #11165
I tend to repeat all the time "if it's not broken don't fix it". Here to me
it's not broken but it may be a subjective opinion.
If I have some time to review mne things I would rather focus on something
more pressing but I won't prevent anyone to spend
their time on this.

Message ID: ***@***.***>

[2022-09-15 17:00] cbrnr commented on #11165
@agramfort it is broken to me, I don't want to explain to students why there are two identical outputs. This is very confusing and a bad UX. If it's easy to fix, we should fix it. If it's hard to fix, I won't spend more time on that either. OK?

@drammock and what would `_repl_html_()` do and return in this case? I'll play around with it a bit.

[2022-09-15 17:05] drammock commented on #11165
for testing you could just make it `pass`.  But probably it should return a regular `__repr__` output (text like `<MNEFigure...>`)

[2022-09-15 17:20] larsoner commented on #10952
I think this has been fixed and is an old MNE/autoreject issue

[2022-09-15 17:20] #10952 closed

[2022-09-15 17:21] larsoner commented on #10965
@hoechenberger I see you milestoned this for 1.2 but we converge and have a volunteer to work on this. I think it's not likely to happen in the next ~week

[2022-09-15 17:23] larsoner commented on #10992
From debugging with @olafhauk we determined that this is an issue with MESA 18.3.4 and there isn't much we can do there but wait for ancient machines to be upgraded. Old CentOS is close to EOL anyway so hopefully soon it's a non-issue. In the meantime, our suggestions for how to deal with old MESA already in our docs are good enough I think.

[2022-09-15 17:23] #10992 closed

[2022-09-15 17:25] larsoner commented on #11106
I would rather not add this. To me it's replicating RawArray without much gain. I don't think this extra line is worth the API duplication.

Can we just live with a documentation improvement for now?

[2022-09-15 17:27] larsoner commented on #11027
I think there is no way we can realistically fix this for 1.2 in the next week @hoechenberger as the proposed fix is to swap in the new Qt backend for `Brain` which is a big undertaking. Bumping the milestone...

[2022-09-15 17:32] hoechenberger commented on #11027
@larsoner I actually just added it to the milestone to remind myself to check whether the problem actually still exists :) Which I'll probably do tomorrow!

[2022-09-15 17:32] hoechenberger commented on #11106
Yep, let's do that!

[2022-09-15 17:33] hoechenberger commented on #10965
No worries, let's bump this to 1.3 then!

[2022-09-15 17:35] larsoner commented on #11025
I *think* this has been fixed by `eeglabio`, but feel free to reopen if it still occurs after updating!

[2022-09-15 17:35] #11025 closed

[2022-09-15 17:40] hoechenberger commented on #11106
**Hey,**, who said I'd be volunteering? 😅😅😅😅

[2022-09-15 18:00] larsoner commented on #11106
I believe @agramfort calls this being "volun-told" :)

More seriously if you won't have time in the next few days @drammock or I could give it a shot. But I think you're the best equipped having most recently suffered through the doc badness :)

[2022-09-15 19:10] JohnAtl commented on #5612
Rather than warping or other techniques, I wound up doing short-time Fourier transform with a window of 500ms around the times of interest for each movement.
My code is on the Uni's archive too. Links in the article.
https://link.springer.com/article/10.1007/s00221-022-06340-8

[2022-09-15 22:42] nugenta opened #11170 "mne.source_space.add_source_space_distances not correctly populating some attributes"
### Description of the problem

There is a problem with the values added by mne.source_space.add_source_space_distances.  I've run this on the sample data, using the oct-6 forward model, which contains (for the left hemisphere) 155407 vertices in the dense mesh with 3732 vertices in the subsampled mesh.

According to the documentation, the attribute 'patch_inds' should represent, "for each vertex

[2022-09-16 03:07] larsoner commented on #11170
@nugenta thanks for the clear bug report! Fortunately it's not the code that seems to be wrong but rather the docstring (that I wrote -- sorry about that!) -- can you see if #11171 makes more sense?

[2022-09-16 05:29] #6870 closed

[2022-09-16 05:59] hoechenberger commented on #11165
I agree, IMHO it's broken and it's confused me and my students. Adding the semicolon is weird, I never have to do this anywhere but in MNE.

I believe @GuillaumeFavelier added some Notebook detection to some of the 3D plotting code

[2022-09-16 06:40] cbrnr commented on #11165
It's not big, but it gets even more annoying if you are writing tutorials/course material with Jupyter notebook, which I think a lot of people are doing (including me via Quarto). It can be worked around, but it's cumbersome. I think it is the way we are plotting figures that is non-standard and like I said, no other package I know is doing it like this.

@drammock adding a `_repr_html_()` method

[2022-09-16 07:06] hoechenberger commented on #11165
+1

[2022-09-16 09:19] #11170 closed

[2022-09-16 10:38] eort commented on #11162
@larsoner, I think this needs to be re-opened. I came across another problem in the implementation. Adding the `on_missing` keyword works to get rid of the error mesage, when hpi information miss, but it doesn't solve the actual problem of how the method deals with missing information.

For example, testing it with the sample data results in a
`TypeError: ufunc 'bitwise_and' not supported for the

[2022-09-16 10:51] hoechenberger opened #11172 "Deprecate mne.epochs.add_channels_epochs()"
Working on #11168, I found that we have a function [`add_channels_epochs()`](https://mne.tools/stable/generated/mne.epochs.add_channels_epochs.html), which apparently only does a subset of what `Epochs.add_channels()` does, and is used nowhere in our code (it only appears in tests).

Since

- this function is redundant (one could use the method instead),
- it only exists for Epochs and we don't ha

[2022-09-16 11:39] drammock commented on #11172
Based on your summary I'd say yes, but I haven't looked at the code yet. One other thing I usually check is the blame, to see how old the code is.

[2022-09-16 12:08] hoechenberger opened #11173 "Exclude BaseEpochs, BaseRaw and possibly other "base" classes from API docs?"
### Proposed documentation enhancement

Currently, the documentation contains several base classes which I believe never actually become relevant to users, however they show up in the searches e.g. when searching for certain method names. I think it's confusing if when searching for `add_channels`, results include not only `Raw`, `Epochs`, and `Evoked`, but also `BaseRaw` and`BaseEpochs` with esse

[2022-09-16 12:10] hoechenberger commented on #11172
I did that and forgot to include it in my original posting: apparently hasn't been touched for 6–9 years :)

[2022-09-16 13:05] drammock commented on #11173
The base classes are public precisely because I (as an end user) needed to use them in my scripts. So they are relevant to users. But maybe you only meant that *the redundant documentation* is not relevant? I agree with that, and would be fine if we could suppress them somehow.

[2022-09-16 13:22] hoechenberger commented on #11173
I don't understand, it just mentions there that they were made public for easier type checking? What does that mean? Do you **actually** need the base class, or wouldn't it make more sense to introduce "actual" types precisely for the purpose of type checking? I'm thinking of something like:

[code]
?

[2022-09-16 13:32] drammock commented on #11173
Something like that would have worked too (and, in retrospect, would have avoided the documentation issue you're confused by).  Creating a new convenience construct (`epochs_types`) was also proposed in that thread, and @agramfort opted for making `EpochsBase` public instead.

[2022-09-16 13:35] hoechenberger commented on #11173
But this was decided 6 years ago. Today, type hints & checking are finding more and more widespread use. We should therefore revisit this decision sometime in the future.

Meanwhile I'm still working on type hints for MNE-BIDS, which will be included in `typeshed` once done.

[2022-09-16 13:50] drammock commented on #11173
yep.

sure.

well, if you want to make `BaseEpochs` private again and introduce `EpochsTypes`, I invite you to convince the other devs and submit a PR.  It's certainly a more elegant solution than band-aiding the doc build to selectively not show certain public API elements (although that's probably not that hard either? I think it "just" involves deleting things like this: https://github.com/mne-

[2022-09-16 14:00] hoechenberger commented on #11173
Still my question remains, does anyone actually **use** those public classes beyond type checking? If not, I don't see removing them from the API docs as a band-aid. I would remove the docs, and add a new page that says how to perform type checks using the public but (then) undocumented classes.

[2022-09-16 14:10] drammock commented on #11173
https://github.com/mne-tools/mne-python/blob/fefa7dba887089a46cf5e0f8836ff6fb07be2552/tutorials/epochs/10_epochs_overview.py#L421-L426

[2022-09-16 14:14] hoechenberger commented on #11173
Ok so this bit can remain then! Nice!

[2022-09-16 14:18] larsoner opened #11174 "MAINT: Use cirrus-ci for arm64 builds"
https://cirrus-ci.org/guide/quick-start/
https://github.com/scipy/scipy/pull/17029

We could do linux_aarch64 if we wanted, too. But I haven't seen any demand for that yet so I'm thinking just arm64 for now

[2022-09-16 14:20] larsoner commented on #11172
Yes please, let's do this for 1.2. Let me know if you want to do it or I should @hoechenberger

[2022-09-16 14:25] larsoner commented on #11162
Rather than try/except I would add a conditional for `if len(chpi_info[2])`, it's cleaner/more precise and clearer

And yes we should have a test where we run this on Neuromag data without cHPI like `testing` (which is just a cropped/smaller version of `sample`)

[2022-09-16 14:29] hoechenberger commented on #11172
Please do go ahead @larsoner

[2022-09-16 14:42] eort commented on #11162
Yes, agreed. Will I open a new PR, or can it somehow added here?

[2022-09-16 15:04] larsoner commented on #11162
Let's do a new PR, the others have been merged already

[2022-09-16 19:02] drammock commented on #11165
Sorry, but *it is literally one single keystroke*.  I think "cumbersome" is a bit hyperbolic here.

I've spent quite some time today looking into this; the issue is deeper than I suspected (as you've already discovered, overwriting `_repr_html_` is not sufficient). It is informative to define `_repr_html_` as something like `print("foo")` and to play around with a notebook using `%matplotlib ipymp

[2022-09-16 19:23] cbrnr commented on #11165
Thanks @drammock, that's already a lot of information to chew on. But the workaround is not just a single keystroke. I'm talking about using a notebook to write course material, assuming people will use the normal REPL. When I append a `;`, then yes, it's a single keystroke, but I have to explain why this is necessary here, why it is not Pythonic, why it is not needed in the REPL etc. Then my work

[2022-09-16 19:29] hoechenberger commented on #11165
@cbrnr A "pythonic" workaround I'm using is that I'm assigning the figure to a variable; this avoids having to add a semicolon and even opens up various possibilities for post-hoc modifications / processing because now you have a proper MPL object that you can manipulate freely

[2022-09-16 19:43] cbrnr commented on #11165
If I'm calling a plot function I'm expecting that exactly one plot appears. Everything else is a workaround. If you really need to keep the figure for later, then yes, but the standard `_ =` already indicates the opposite.

[2022-09-16 19:57] hoechenberger commented on #11165
I do agree with you and I'm not trying to convince you that you're wrong. I'm just trying to give you a suggestion as to how you could communicate things to your students and turn this flaw into a feature. Instead of saying, "MNE is doing this weird thing, you'll now have to use a semicolon, ugh, it's ugly and unpythonic but that's just what you'll have to use, sorry!" turn it around and say, "MNE

[2022-09-16 19:59] drammock opened #11177 "compute_psd does not apply projs correctly"
I tested it for `compute_psd()`. It shows the exact same behavior as `psd_welch()`: The projection is not applied during plotting, even if the projection kwarg is set to True `raw_CAR.compute_psd(proj=True)`.

_Originally posted by @moritz-gerster in https://github.com/mne-tools/mne-python/issues/10656#issuecomment-1249716482_

[2022-09-16 21:48] #11177 closed

[2022-09-17 01:40] larsoner commented on #10987
@ckiefer0 I could not reproduce the `_check_reference` issue for `apply_inverse_raw` using the testing dataset but I did fix the issue for `apply_inverse_epochs` where it was not checked at all. Can you make a minimal example using the `sample` data perhaps? See #11182

[2022-09-17 14:23] #10987 closed

[2022-09-17 14:24] #11172 closed

[2022-09-18 15:12] christian-oreilly commented on #7793
Any objections to adding xarray in the requirements.txt? I am working on a different PR related to this https://mne.discourse.group/t/exporting-surface-sources-as-nifti-volume/5518/3 I'd used xarray in that PR, but that would need adding this dependency. I am thinking if we were to implement this feature request (I can do a PR for this), it would require adding this dependency anyway. I think XArr

[2022-09-18 15:36] larsoner commented on #7793
I don't think you should need `xarray` to convert a surface to NIfTI at least

[2022-09-18 15:46] larsoner opened #11184 "ENH: Improve usability with scaled MRIs"
I have some data for which a scaled infant MRI was used (but the same arguments go for scaling fsaverage for example). If I do a dipole fit, I get coordinates in the subject's head frame. Then `mri_pos = mne.head_to_mri(head_pos, trans)` gives me the MRI position in the *scaled* subject's MRI. **It would be nice to get it back in the original/surrogate subject's MRI frame** for example to use with

[2022-09-18 15:48] agramfort commented on #11184
option 1 works for me. 👍

[2022-09-18 15:55] christian-oreilly commented on #7793
@agramfort  Yes, I agree that adding dependencies must not be a rash decision. Some thoughts on that:
1 - The XArray export functionality would require importing XArray. You were thinking of it more as an extra/optional import required and checked for only when calling such an export function?
2 - I do use it for the intended PR for things like that:
[code]
Of course, there is nothing there that c

[2022-09-18 21:22] #11184 closed

[2022-09-19 06:49] #11130 closed

[2022-09-19 10:12] elba1212 opened #11188 "Problems with reading mff files"
### Description of the problem

Hi,
I am trying to open data files that recorded with EGI system, with mne.io.read_raw_egi.
for some recordings it works perfectly fine and for others I get an error message.

MNE version: 1.1.1
tried also 1.2.dev0 version and the error persisted.
operating system: Windows 10

here is an example code and files. for sub3003 I can read the file and for sub3004 I get a

[2022-09-19 13:17] dlinhardt opened #11189 "get_view does not report correct camera position"
### Description of the problem

Hey!
When I grab the camera position with `get_view` and then put the exact parameter into `show_view` it will rotate to another position. So it is for me not possible to reproduce a view I graded before.
Thanks for the help!

### Steps to reproduce

[code]

### Link to data

_No response_

### Expected results

I would expect to get the same view when I put the out

[2022-09-19 15:34] larsoner commented on #11189
Indeed it seems like a bug -- we should convert from whatever internal representation the PyVista / VTK camera is using (as it seems like we just return it here so far) back to the representation we use with `show_view`

[2022-09-19 18:03] scott-huberty commented on #11188
Hi @elba1212 - can you zip the .mff files before you upload them to dropbox? Do you have any smaller files that you can share and which also cause the issue? The files you shared appear to be so large that dropbox won't even let me download them.

[2022-09-19 18:20] scott-huberty commented on #11188
@elba1212 I also just wanted to highlight that the patient video stream is included in your file. If you are not allowed to disclose patient information you can remove the .mov files inside the .mff directory (which may also slightly decrease your overall file size).

Thanks!

[2022-09-19 22:01] larsoner commented on #11188
One of those `.bin` files is 26.5GB for example -- I'm guessing this as a 32-bit int problem. I should be able to check this week hopefully

[2022-09-20 08:41] AaronWill-Git commented on #5612
Thanks for reminding! Yes, resample should be in the frequency domain. I decided to use the line interpolate to warp the time into fix length epochs with varied time interval.

[2022-09-20 08:43] cbrnr commented on #5612
Then you are already pretty much doing what I'm doing 😄!

[2022-09-20 20:17] #11167 closed