[2018-05-14 14:48] ckiefer0 commented on #5205
I talked to a colleague and he might have an idea what causes the problem with the interpolation. I will try to convey his thoughts.
`_interpolate_bads_meg()` calls `mapping = _map_meg_channels(info_from, info_to, mode=mode)` which implicitly uses  `_map_meg_channels(..., origin=(0., 0., 0.04))`

Changing the call to
`mapping = _map_meg_channels(info_from, info_to, mode=mode, origin=(0., 0., 0.01)

[2018-05-14 14:48] anttimc opened #5206 "CTF regularization parameter unnecessarily fixed"
https://github.com/mne-tools/mne-python/blob/dc8fab44153c7e01cfc339dc65e17de538d391ec/mne/minimum_norm/psf_ctf.py#L243-L244

Parameter lambda2 is ignored by overwriting the variable in _get_matrix_from_inverse_operator(). The default value for lambda2 is already 1/3**2, so the same default functionality could be maintained by removing these lines.

[2018-05-14 15:03] larsoner commented on #5205
We should probably expose this `origin` parameter to make it explicit that it matters

[2018-05-14 15:04] larsoner commented on #5206
Agreed that line should not be there

[2018-05-14 15:05] larsoner commented on #5200
That sounds about right. You can use `object_diff` before calling `_merge_dict_values` if you want

[2018-05-14 18:43] agramfort commented on #5206
PR welcome. thanks

[2018-05-14 19:17] tbardouille commented on #5176
Hi Eric,

I still had problems with the new version of MNE-python. However, I made a second user on my OsX and the co-registration GUI works fine for that user. Clearly, there is a conflict with some other package installed on my main user account.

Although this doesn’t get to the root of the problem, it is a sufficient fix for me.

Thanks,
Tim.

From: Eric Larson <notifications@github.com>
Reply

[2018-05-14 19:26] larsoner commented on #5176
@tbardouille good to hear it works for the new user. In theory if you uninstall and reinstall Anaconda for your main user (the same way you installed it for your new one) everything will work. If this is too drastic, you can also just remove the `mne` environment like:
[code]

[2018-05-14 19:26] #5176 closed

[2018-05-14 19:40] tbardouille opened #5207 "Coregistration GUI - BEM only, no high-resolution scalp surface"
Hi there,
I'm having a problem with the coregistration GUI. When I load in a subject, I can only see them BEM and not the high-resolution scalp surface (see image below).
Am I missing a file from my subjects_dir that the GUI is expecting?
Thanks,
Tim.

![bemonly](https://user-images.githubusercontent.com/15197574/40019407-8432f180-5795-11e8-974c-d110e4bbb43d.jpg)

[2018-05-14 19:47] larsoner commented on #5207
`coreg` looks for:
[code]
where `bem_dirname` is `SUBJECTS_DIR/SUBJECT/bem`. Do you have any of these files? In theory should be produced by a standard Freesurfer pipeline, but it's possible our list of files to look for is not complete.

Is your `-head.fif` dense? The reason we don't use this file is that sometimes it is dense and sometimes it is sparse (depending on how the user has things set u

[2018-05-14 19:47] larsoner commented on #5207
(and `surf_dirname` is `SUBJECTS_DIR/SUBJECT/surf`)

[2018-05-14 19:58] agramfort commented on #5181
ok I see the use case and the rationale then. I will be able to argue like you next time
I hear someone complain :)

I guess we can close

[2018-05-14 19:58] #5181 closed

[2018-05-14 20:02] larsoner commented on #5181
Yes we can classify this as a [BEBKAC](https://en.wikipedia.org/wiki/User_error) bug :)

[2018-05-15 15:40] TommyClausner opened #5208 "nonlinear warping source grid using nipy (GSoC)"
Hey together,

regarding the volumetric transform, that is the core of my GSoC project:

I played around a bit with the example of [dipy](http://nipy.org/dipy/) to see, if it works in the way we want it.

And what shall I say? It does! Or at least it seems quite alright to me (see below):
![resnonlintransreds](https://user-images.githubusercontent.com/33838917/40066426-5817b192-5864-11e8-8c67-6366

[2018-05-15 15:52] agramfort commented on #5208
great

can you share a script to replicate?

next is discussing API

is it worth comparing to other registration approaches?

[2018-05-15 15:54] TommyClausner commented on #5208
Have to make the script readable first ;)
- shall I just post the code here or upload a file somewhere?

Was also wondering if it's worth looking further... Because actually I'm quite happy (except for the computation time)

[2018-05-15 16:57] #5207 closed

[2018-05-15 17:01] larsoner commented on #5207
Is there a good place we could have put this in the docs? Maybe the docs for `mne coreg` command line or `mne.gui.coregistration`?

[2018-05-15 18:47] agramfort commented on #5208
thanks Jon for the enthusiasm

Tommy you could start to integrate this as an example.

By doing this you will face a number of issues:
- flake8 complaining
- need to update CIs setups (circle ci for example)
- other devs commenting also every line of your python code to suggest
better function/variables namings and function signatures.

[2018-05-15 19:20] larsoner commented on #5208
Agreed turning this into a proper (advanced) example is a good way to go. After it works PRs can proceed by making this example simpler using APIs in `mne` namespace.

To update CIs you should be able to update `environment.yml` to include `dipy`. This should be picked up by CircleCI, which builds the example scripts. Eventually we can add a soft dependency on it and update README.rst, etc.

[2018-05-16 01:35] monkeyman192 opened #5210 "Adding extra data to the info dictionary for Raw objects"
I have noticed that there is a reasonable amount of information extracted from raw files (I am looking at KIT ones in particular) that isn't saved.
For example the system_name and model_name aren't used at all, but this information would be useful to store as it could be used by the mne-bids library to add extra data to the files produced.

[2018-05-16 07:26] agramfort commented on #5210
the mne measurement info is quite strict in its content.

see:

https://martinos.org/mne/stable/generated/mne.Info.html
https://martinos.org/mne/stable/auto_tutorials/plot_info.html

can you see a way to store this info without changing the Info object?

[2018-05-16 09:31] TommyClausner commented on #5208
thanks @jhouck for the suggestion! Down sampling will surely help to reduce computation time - maybe it would be worth creating a variable for this.

Thanks for being positive about it! I'm very happy to contribute to filling this gap ;)

@agramfort and @larsoner alright, I'd copy an existing example (style wise) then(?) and get back once I'm done(?) - Does it go into the "inverse" folder?

When I

[2018-05-16 09:45] dengemann commented on #5208
Hi Tommy,

Yes add something to inverse and just follow the style of other examples.
Don’t hesitate to push early and expose the main ideas. We can refine
things interactively.

On Wed 16 May 2018 at 11:31, Tommy Clausner <notifications@github.com>
wrote:

[2018-05-16 09:46] dengemann commented on #5208
And don’t bother about readme right now. Let’s first do code.
On Wed 16 May 2018 at 11:45, Denis-Alexander Engemann <
denis.engemann@gmail.com> wrote:

[2018-05-16 16:17] d-van-de-velden opened #5214 "Import mayavi.mlab issue"
Dear all,

I am using Spyder3 and Python2.7 and downloaded the newest mne-python package.
Unfortunately  I am not able to import mayavi.mlab.
Code:
[code]

Error:

I need help with this. Installing/Uninstalling various packages wasn't succesful. Already uninstalled "anaconda-navigator".

Thanks in advance for any help.

[2018-05-16 16:18] thesujitroy commented on #5214
Hi!
You can create an environment in anaconda with py2.7.x and then try to install mayavi in that package it should work.

[2018-05-16 16:27] larsoner commented on #5214
Can you try our now-standard `environment.yml` on the [install instructions](https://martinos.org/mne/stable/install_mne_python.html) page?

[2018-05-16 16:29] d-van-de-velden commented on #5214
simply installing 'pyqt' and 'pyside' does not fix it.
I am currently trying the now-standard environment....

[2018-05-16 16:34] d-van-de-velden commented on #5214
Works fine in 'ipython' and 'python'. Sorry to bother you about it. Wanted it to work in Spyder3 aswell. It's not working their right now, but at least we got 'ipython' working

[2018-05-16 16:36] larsoner commented on #5214
Spyder does not work for you in this environment? I have used it in macOS and Linux at least. What OS are you on?

[2018-05-16 16:41] d-van-de-velden commented on #5214
Linux Ubuntu 16.04

Error:

[2018-05-16 16:42] larsoner commented on #5214
what does `$ glxinfo | grep core` give? Is it possible your graphics card is old?

[2018-05-16 16:49] larsoner commented on #5214
What is `$ glxinfo | grep core`?

[2018-05-16 16:53] larsoner commented on #5214
Okay so you are indeed on the proprietary drivers. Can you try doing `$ pip install --upgrade pyqt5>=5.10` to see if it helps? It's possible that this is also needed on some Linux systems in addition to macOS.

[2018-05-16 17:33] larsoner commented on #5207
@jasmainak it sounds like you are just starting to use `mne coreg` a bit, do you have time to make a PR with this information plus whatever other pitfalls you encounter? I'm thinking we can populate the `Notes` section of `mne.gui.coregistration`

[2018-05-17 07:40] d-van-de-velden commented on #5214
This just changed the Error to:

[2018-05-17 14:08] jasmainak commented on #5207
Sure! But after 18th. I have a deadline tomorrow :)

[2018-05-18 11:54] sappelhoff opened #5217 "Bad ticks in colorbar for evoked.topomap"
When using `evoked.plot_topomap()`, I consistently run into two problems:

1. The colorbar ticks are "incomplete" in that the ticks cover only half of the bar or stop prematurely (i.e., without providing a label for the maximum and minimum)

2. When using the `vmin` and `vmax` parameters and `np.abs(vmin) != np.abs(vmax)`, the zero point is not "white" in terms of the colormap.

# Minimal code exa

[2018-05-18 15:06] bloyl opened #5218 "check info against compensation chans (Continued)"
Following #5133 exceptions are raised when meas_info objects are created with channels that don't allow for attached compensation matrices to be applied/interpreted.
A coupled PR will come once I have some time.

This is a running list of places where this causes a problem

- [ ] ica.plot_overlay()
       specifically  `picks = [inst.ch_names.index(k) for k in ica.ch_names]` of viz.plot_ica_overla

[2018-05-19 08:15] agramfort commented on #5218
can you share a snippet to replicate?

[2018-05-19 09:13] agramfort commented on #5217
it's a matplotlib bug. I fixed it by :

pip install matplotlib==2.0.2

[2018-05-19 09:18] agramfort commented on #5210
what are the possible values of system_name? if there is a short list then
we could make a function in the base class.

I imaging something like “Vectorview" ...

[2018-05-19 12:33] larsoner commented on #5210
With the proposed approach, doing `raw.save(...)` and `read_raw_fif(...)` will not work, the information will be lost.

I suggest that if possible instead we use these fields, if they aren't currently used by `read_raw_kit` -- here are some entries for the `sample` data:
[code]
And here for some data I recorded at UW:
[code]
And for our TRIUX test data:
[code]
In particular it looks like `info['de

[2018-05-21 21:55] romquentin opened #5221 "Error when compensation channel missing if compensation grade is applied"
Hi,

I guess this is related to #5133 and #5218

With an epoch from CTF data with compensation grade 3 applied, it is not possible to use the tfr_morlet function:
[code]
gives:
[code]
Obviously, the same error occurs if trying manually to remove the compensation channels:
`epochs.pick_types(ref_meg=False)`
Is it possible to make this error simply a warning?
Thanks a lot!

Romain

[2018-05-22 09:14] joewalter opened #5222 "problems with spm_faces_dataset"
I was trying to run the example spm_faces_dataset.py with the current master and dataset on my Windows PC. This resulted in a RuntimeError: "Compensation grade 3 has been applied, but compensation channels are missing". Can someone confirm?

[2018-05-22 09:56] cbrnr commented on #4926
It seems like git-annex never gained enough momentum and was more or less replaced by Git LFS, which people seem to like better (https://stackoverflow.com/questions/39337586/how-do-git-lfs-and-git-annex-differ). We should discuss which of these two options we want to use.

Furthermore, once we have decided for one option, we need to find a place to host our testing data. When using Git LFS, we mig

[2018-05-22 11:05] larsoner commented on #4926
No idea, haven't used it either

[2018-05-22 11:12] agramfort commented on #4926
we have started this initiative here:
https://web.gin.g-node.org/NeuralEnsemble/ephy_testing_data

but it's still WIP...

[2018-05-22 11:18] cbrnr commented on #4926
And it's based on git-annex. Not sure if we should go for Git LFS instead (which means that the data could remain on GitHub, no additional hosting required).

[2018-05-22 11:19] agramfort commented on #4926
the one that makes it work decides what we use :)

[2018-05-22 11:43] cbrnr commented on #4926
This sounds almost like a threat :smile: - luckily it's not that urgent since I now know how to make it work if I only want to run a test with a single file.

[2018-05-22 12:27] agramfort commented on #5222
I can replicate.

@larsoner you worked recently on the Compensation pbs. Can you have a look?

[2018-05-22 12:39] sappelhoff commented on #5217
great, thanks @agramfort

[2018-05-22 12:39] #5217 closed

[2018-05-22 15:13] larsoner commented on #5221
For now a workaround is probably to do:
[code]
Can you see if it works?

If so, we can adjust `_prepare_picks` to include `ref_meg` here:

https://github.com/mne-tools/mne-python/blob/master/mne/time_frequency/tfr.py#L2092

It should really use `_pick_data_channels`

[2018-05-22 15:45] romquentin commented on #5221
Thank you! Using `picks = pick_types(epochs.info, meg=True, ref_meg=True)` works.

Nevertheless, I found very convenient in previous MNE version to be able to manually remove the ref_meg with `epochs.pick_types (ref_meg=False)` and then `X = epochs.get_data() ` to play with the data for example. Why just a warning is not enough?

Thanks a lot!

[2018-05-22 15:57] larsoner commented on #5221
If you go to do forward/inverse computation it will not work.

[2018-05-22 17:11] romquentin commented on #5221
Ok. I think it is too much to prevent doing that only for the case of a later forward/inverse model. A warning saying that forward/inverse will not work seems more appropriate for me.
In any case, thanks a lot for your help!

[2018-05-22 17:11] larsoner commented on #5222
This appears to be a dup of #5218 (plot_overlay)

[2018-05-22 17:11] #5222 closed

[2018-05-22 17:12] larsoner commented on #5218
Note that this affects `examples/datasets/spm_faces_dataset.py`

[2018-05-22 17:12] larsoner commented on #5221
@bloyl WDYT?

[2018-05-22 19:01] agramfort commented on #5221
as the output of tfr_morlet should not depend on the comps (I think) I
would favor seeing how we can avoid the error. Same should apply for all
sensor space data analysis. Unless it causes silent issues on inverse
models?

[2018-05-22 19:02] agramfort commented on #5218
luke or @larsoner are you on it?

[2018-05-22 19:19] larsoner commented on #5221
@agramfort your original suggestion was to avoid storing data without compensation channels:

https://github.com/mne-tools/mne-python/issues/4241#issuecomment-351407141

It sounds like you think we should allow it now? I don't see a big difference between allowing people to pick during `tfr_morlet(..., picks=picks)` and just using `epochs.pick_types(...)`. Both allow saving an object with info eve

[2018-05-22 19:32] poojaprabhu9 opened #5223 "Spliting the inverse solution of mixed source space into surface and volume space"
How can the inverse solution( or "stcs") of mixed source space can be split into inverse solution of surface surce space and inverse solution of volume source space seperately. So that these two can be visualised seperately over MRI?
please find the code.

[code]

[2018-05-22 19:35] #5061 closed

[2018-05-22 20:01] agramfort commented on #5218
we can have a quick hangout if it helps

[2018-05-22 20:15] poojaprabhu9 opened #5224 "problem in visualising the inverse source solution when more than one volume labels are used"
How can the code can be modified to visualize the inverse solution of volume source space on MRI
 when two volume labels are given.
For example in the code give:
labels_vol = ['Left-Hippocampus', 'Right-Hippocampus']

[visualization of volume source space on MRI.docx](https://github.com/mne-tools/mne-python/files/2028419/visualization.of.volume.source.space.on.MRI.docx)

[2018-05-23 01:12] bloyl commented on #5221
My 2cnts is that we should avoid storing data without compensation channels particularly if compensation matrices have been applied.

I agree that default arguments shouldn't throw exceptions so In this particular case I would change the default picks that are used to include ref_meg if comp matrices are present.

so I would change
https://github.com/mne-tools/mne-python/blob/55da4e49709ca6d5189cd

[2018-05-23 12:45] romquentin commented on #5221
Ok. I understand. Thank you!

[2018-05-23 14:06] larsoner commented on #5221
I don't even think we need to triage really, just use `_pick_data_channels(..., ref_meg=True)` in all cases.

[2018-05-23 15:13] sappelhoff opened #5226 "DOC: Reporting filter properties"
Concerning filtering, in [Wiedmann et al. (2015)](https://pdfs.semanticscholar.org/2797/1b6c30851ea1046a2504a50cbec37459e78d.pdf) they recommend to report:

Checking the MNE documentation and specifically the [background on filtering](https://martinos.org/mne/stable/auto_tutorials/plot_background_filtering.html) and [tutorial](https://martinos.org/mne/stable/auto_tutorials/plot_artifacts_correctio

[2018-05-23 15:21] larsoner commented on #5226
Someone needs to check all of these things (preferably by showing them by updating the tutorial) because I can't remember offhand, but yes what you say sounds right. Do you have the time / knowledge to check and update it?

`mne.filter.create_filter` will create the filter and give these log messages. You can pass it a dummy `data` array. Actually we should proably make `data=None` a possibility,

[2018-05-23 17:02] larsoner commented on #5221
@bloyl I chatted with @agramfort about this a bit, and one idea is to proceed as:

1. Add a tutorial about working with CTF data (or maybe a general one about system-specific considerations?) that mentions that if you want to do source loc, you need to ensure that you keep your reference channels.1. Allow picking even if compensation is applied. Drop `info['comps']` if this is the case.
2. Change

[2018-05-24 05:30] agramfort opened #5229 "allow to pass a cov to beamformer filters to get a static image as in FieldTrip"
cc @britta-wstnr @wmvanvliet

[2018-05-24 07:02] sappelhoff commented on #5226
I'll see what I can do ... I don't have a lot of knowledge about filters though, .. and the [scipy docstring for firwin](https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.firwin.html) does not specify details about the cutoff either. So maybe I will post a question to stackexchange signal processing or stackoverflow for help ...

related: The docstring "Returns" seems to be wrong.

[2018-05-24 07:10] britta-wstnr commented on #5229
giving back a power estimate? We have ``_lcmv_source_power`` which could be changed accordingly. I think I even started that somewhere and can have a look soon.
It is in the part that is not touched by https://github.com/mne-tools/mne-python/pull/5135 so it shouldn't clash with that one either.

[2018-05-24 08:40] vlitvak commented on #5229
I must say I'm only getting to grips with MNE code structure but to me it seems that a sensible way to implement this would be as apply_lcmv_covariance that would take covariance as an input and output a source time course with a single frame.

[2018-05-24 09:54] robertoostenveld commented on #5229
note that the units would be power rather than amplitude, and the values cannot be negative, whereas the source time (normally) could

[2018-05-24 12:21] larsoner commented on #5226
Here is a table, the "peak approximation error" here is really the stop-band attenuation (e.g., 53 dB for Hamming) which matches the table in Ifeachor and Jervis p357 (except Blackman attenuation, which I&J list as 75 dB):

https://www.allaboutcircuits.com/technical-articles/design-examples-of-fir-filters-using-window-method/

Filters designed using windowed FIR design have equal pass-band and sto

[2018-05-24 13:47] wmvanvliet commented on #5229
The implementation can be mostly taken from our `apply_dics_csd` method.

[2018-05-24 14:42] sappelhoff commented on #5226
That's already great. Do you suggest that I copy the table (Ifeachor and Jervis) into the updated version of the "Background on Filtering" example?

![p294](https://user-images.githubusercontent.com/9084751/40492652-40e945c6-5f71-11e8-8d26-bd7841c90b38.png)

I'd do that together with a short intro on Wiedmann's recommendations on what to report of filters ... then followed by a code block on how t

[2018-05-24 20:36] agramfort commented on #5223
@poojaprabhu9 please don't put code on .docx files but like I did above or using https://gist.github.com/

basically the need is to go from the stcs above into 2 stcs one for the surface par and one for the volume part.

I would go with:

[code]
for the background the objective is to include deep structures in MNE inverse and be able to get a surface stc that can be visualized with stc.plot

any v

[2018-05-24 20:37] agramfort commented on #5224
@poojaprabhu9 please edit the issue as I did here https://github.com/mne-tools/mne-python/issues/5223 to avoid the .docx file. Tell us when it's done.

[2018-05-24 21:45] poojaprabhu9 commented on #5223
Sure @agramfort . I will try with that.
Thanks

[2018-05-24 21:47] poojaprabhu9 commented on #5224
@agramfort . Sorry for Docx file. Here is the code.
'''
import numpy as np
import os.path as op
import matplotlib.pyplot as plt
import mne
from mne.datasets import sample
from mne import setup_volume_source_space, setup_source_space
from mne import make_forward_solution
from mne.minimum_norm import make_inverse_operator, apply_inverse
from nilearn.plotting import plot_stat_map
from nilearn.image i

[2018-05-25 13:28] larsoner commented on #5221
The FIF format does not support this unfortunately, and it would be quite a big / invasive change to do it.

However, I think we can essentially work around this limitation for source imaging. This pipeline should work in principle:

1. apply compensation
2. compute forward on full set of channels
3. pick channels in data (maybe dropping compensation channels)
4. compute inverse

In other words, b

[2018-05-28 13:33] massich opened #5234 "Wrong title layout when calling historgram"
When calling histogram by `h` in an epochs plot the axis labels do not render properly.

[code]

![image](https://user-images.githubusercontent.com/7044835/40617026-5905e80c-628d-11e8-863b-fdb0797c57b2.png)

[2018-05-28 13:37] massich opened #5235 "evoked.plot displays ms instad of s"

[2018-05-28 14:35] massich opened #5236 "rendering bug in Plotting the full MNE solution example"
https://www.martinos.org/mne/stable/auto_examples/inverse/plot_vector_mne_solution.html#sphx-glr-auto-examples-inverse-plot-vector-mne-solution-py

[2018-05-28 15:31] jona-sassenhagen opened #5237 "Add spectra to report function?"
Maybe it would make sense to add spectra to the reports. They can be very informative.

Another idea would be epochs images, which can also be highly diagnostic.

Not volunteering :)

@jasmainak

[2018-05-28 15:33] jona-sassenhagen commented on #5234
Sorry, what is the problem? That it needs a somewhat diff. layout?

[2018-05-28 15:33] jona-sassenhagen commented on #5226
... would be super cool if we had a function to automatically add a fully specified methods section report from filter settings :)

[2018-05-28 16:42] massich commented on #5234
The space between the plots does not allow to read **uV** and **fT** which ends underneath **Magnetometers** and **Gradiometers**

[2018-05-28 18:38] agramfort opened #5238 "padding issue when filtering"
to replicate:

[code]

[2018-05-28 18:49] agramfort commented on #5234
layout need to be adjusted in
https://github.com/mne-tools/mne-python/blob/master/mne/viz/epochs.py#L1926

@massich can you take care of it?

[2018-05-28 19:04] agramfort commented on #5235
pb is here:

https://github.com/mne-tools/mne-python/blob/master/mne/viz/evoked.py#L138

basically we still display in "ms" even though we now use seconds. the time_unit should be passed here.

[2018-05-28 19:39] jasmainak commented on #5237
I agreee ;)

[2018-05-28 20:19] dengemann commented on #5237
Yes @jona-sassenhagen @jasmainak this is a good idea. At least for the power spectra :)

[2018-05-29 09:10] jona-sassenhagen opened #5240 "invert_y is broken in epochs.plot_image"
:|

[2018-05-29 14:17] dokato commented on #4184
@dengemann what's the status of that?

[2018-05-29 14:47] bloyl commented on #5221
That seems like it should work.

I think the only additional check should be to enforce that the
compensation hasn't changed between fwd computation and
application/generation of the inverse operator.

Are you also planning to provide methods to project out artifact components
from the full forward, both projs and maybe ICA components? Seems like this
approach could avoid situations such as when y

[2018-05-29 15:21] larsoner commented on #5221
I hadn't thought about it, but I think that this would make sense. It would take care of problems like #2310, where we errantly re-apply projectors using a subset of the original channels used to compute the projector.

This would probably take a lot of careful coding and testing to get right, but it should be doable. It seems like the cleanest option.

[2018-05-29 15:24] larsoner commented on #5221
In the meantime we could merge #5225 since it has some fixes that will work either way. Then we roll back the `info['comps']` removals and move the checks to the forward code.

[2018-05-29 15:37] bloyl commented on #5221
That seems like a good way forward. I think we would want to keep some of the additional testing done in #5133 .

[2018-05-29 16:13] larsoner commented on #5226
This could be added to the `logger.info` of `create_filter`

[2018-05-30 08:38] dnacombo opened #5244 "plot_forward_sensitivity_maps.py demo crashes with unexpected keyword"
In a fresh install from this morning, plot_forward_sensitivity_maps.py crashes with the following log:

[code]

Removing that `curv=True` argument altogether in `_3d.py` lets it run for me.

[2018-05-30 08:53] agramfort commented on #5244
are you using version 0.16.1 ? how did you install? is your PySurfer
install up to date?

[2018-05-30 09:27] dnacombo commented on #5244
Installed following instructions here [https://martinos.org/mne/stable/install_mne_python.html#install-dependencies-and-mne](url).
version is 0.16.1

There was a warning about
[code]
Installing the missing packages and starting in new terminal does not fix it.
Right now:
[code]

[2018-05-30 09:50] agramfort commented on #5244
indeed I see a curv=True here in 0.16 branch:

https://github.com/mne-tools/mne-python/blob/maint/0.16/mne/viz/_3d.py#L1665

but I don't see any curv parameter passed on current master:

https://github.com/mne-tools/mne-python/blob/master/mne/viz/_3d.py#L1665

@larsoner did we break backward compat with pysurfer?

[2018-05-30 11:12] massich commented on #5235
This is realated to #5082

[2018-05-30 11:19] larsoner commented on #5244
Need to backport #5216.

In the meantime we can also fix by pinning the PySurfer version, which is probably a good idea anyway.

[2018-05-30 11:27] larsoner commented on #5244
Backported, and un-pinning PR opened

[2018-05-30 11:27] #5244 closed

[2018-05-30 11:28] larsoner commented on #5244
@dnacombo to fix your local issue you can do:
[code]

[2018-05-30 11:32] larsoner commented on #5244
Argh @agramfort looking at it more closely, some of the stuff for vector source estimates still won't quite work properly. So @dnacombo instead of what I suggested, you probably need to locally update MNE to 0.16.2 instead:
[code]

[2018-05-30 11:46] dnacombo commented on #5244
`error 404 Client Error: Not Found for url: https://api.github.com/repos/mne-tools/mne/zipball/maint/0.16`

[2018-05-30 11:50] larsoner commented on #5244
Can you try `https://github.com/mne-tools/mne-python/archive/maint/0.16.zip` as the URL?

[2018-05-30 13:11] larsoner commented on #5180
I thought that we discussed this somewhere, but a low-order spline interp (or even linear!) would probably be sufficient. So I don't see this as too big a hurdle.

[2018-05-30 13:19] cbrnr commented on #5180
Yes, it shouldn't be too difficult, just wanted to bring this up in case this was not obvious. Can you confirm that all signals must have the same sampling frequency? If so, how do we choose which sampling rate to resample to? Most XDF files have nominal sampling rates for each stream, so we could resample to the highest.

[2018-05-30 13:27] larsoner commented on #5180
Yes

Resampling to the highest data channel rate (by default, we could make different options with ``resample='auto'`` kwarg) makes sense to me. In practice I imagine these will all usually match anyway.

[2018-05-30 14:03] dnacombo commented on #5244
This is installing 0.16.1. And the script now works.

[2018-05-30 14:09] mivade opened #5248 "Can't import mne when installing from pip"
For various reasons I don't want to install MNE via the [instructions](https://martinos.org/mne/stable/install_mne_python.html) in the documentation, but rather by using pip. However, the package on PyPI is not setup correctly to install dependencies. By simply trying to `import mne`, I get the following:

[code]

This can be fixed by including dependencies with the `install_requires` keyword argu

[2018-05-30 14:13] larsoner commented on #5248
It used to be a bad idea to include numpy/scipy/matplotlib in `install_requires` because of complications with building them properly. Maybe nowadays with wheels it's not a big problem.

Our assumption is that the vast majority of people using MNE will have (at minimum) a standard scientific Python stack installed, meaning numpy/scipy/matplotlib are already there. Having `import mne` import all na

[2018-05-30 14:21] jona-sassenhagen opened #5249 "Brainvision stim channel creation fails if event durations are 0"
Stim channels for brainvision and EEGLAB files are created like this:

[code]

If the duration is 0, which it often is, this will result in no events being recorded.

I am not sure how to deal with this.

The events are still available to the user at `raw._events`, but `mne.find_events` etc won't work.

[2018-05-30 14:30] agramfort commented on #5244
we'll do a bug fix release asap

[2018-05-30 14:34] agramfort commented on #5248
btw matplotlib should not be a strong dependency... only numpy and scipy.

what do you recommend? we went the conda route because we had issues
with pip and mayavi/vtk.

regarding conda package if people are still tempted to do "conda
install mne" and it's not maintained we should remove the conda
package.

[2018-05-30 14:56] larsoner commented on #5249
we should probably make the min duration 1 sample

[2018-05-30 14:57] jona-sassenhagen commented on #5249
BV vmrk files have a duration column that is set to 0 for the file I'm looking at ... but yeah, we can do `min(duration, 1)` in _create_stim_channel`

[2018-05-30 14:59] cbrnr commented on #5248
FYI `pip install mne` works fine, it automatically pulls in all hard dependencies including `matplotlib`.

[2018-05-30 15:09] cbrnr commented on #5248
+1 for adding hard dependencies with `install_requires` if this works now - any way to test this? Personally, I'd leave `matplotlib` as a hard dependency unless we switch to nested imports.

[2018-05-30 15:13] larsoner commented on #5248
It should work now that `numpy` and `scipy` wheels are available with OpenBLAS.

The right way to test would be to add a `pip` version on the CIs. I can give it a shot. Travis has been horribly slow the past few days though so it'll take a while to iterate.

[2018-05-30 15:53] jona-sassenhagen commented on #5248
Agreed. Let's show our best work :)

[2018-05-30 17:47] #5235 closed

[2018-05-31 07:33] #5248 closed

[2018-05-31 07:39] jona-sassenhagen commented on #4746
@sappelhoff would you be able to implement this eventually?

[2018-05-31 07:54] #5236 closed

[2018-05-31 08:01] #5234 closed

[2018-05-31 08:02] #5240 closed

[2018-05-31 08:05] #5238 closed

[2018-05-31 08:45] sappelhoff commented on #4746
@jona-sassenhagen ... let's say it's on my list. But if somebody else wants to do it, I wouldn't be sad ;-)

There is also still #5186 to do for me (although we should maybe re-decide whether it's worth it)

[2018-05-31 12:45] mivade commented on #5248
Thanks, @larsoner!

[2018-05-31 15:56] #5218 closed

[2018-05-31 15:56] #5221 closed

[2018-06-01 07:18] cbrnr commented on #5167
Now that mayavi is pip-installable on Python 3, I think we can safely implement the Python 3 transition following the example of NumPy. I can write a short text, but where should this text go? It could be a short section in README.rst and/or a short section in the documentation section of the website (e.g. in "Getting started" right after "Introduction to Python"). Let me know what you prefer. I w

[2018-06-01 11:21] larsoner commented on #5167
I would do the README plus `whats_new.rst` API section, plus maybe a `.. note` in `install_mne_python.rst`. That way the plan will be made clear to people when we release 0.17. It's a bit redundant but we do want to warn people they need to transition before 0.18.

[2018-06-01 13:21] mmagnuski commented on #5249
I've just had somebody contact me with this problem (as it turned out) - I'm definitely +1 on Jona's proposal.

[2018-06-02 08:05] agramfort commented on #5249
agreed

[2018-06-04 13:02] bloyl opened #5258 "CTF meas_id"
Not sure if this is related to #4990, but I'm running into a problem with meas_ids not serializing correctly.

To replicate.
[code]

[2018-06-04 13:21] #5167 closed

[2018-06-04 13:54] larsoner commented on #5258
If you round-trip again do you at least get the same ID that time?

Can you try `git bisect`? First might be to try one commit before that PR was merged (f5e3399ad6d0c163f3b86f002fd3c6fb687e6315) and then the commit where it was merged (d77cc95b0cf56b1df5886c9ebc52261a55695331).

[2018-06-04 14:26] bloyl commented on #5258
round-tripping a second time works. Meaning that saving the fif file and reading it back in results in the same meas_id structure.

My guess is that the ctf reader, specifically:
https://github.com/mne-tools/mne-python/blob/ab4571a83c4e5d5de0dcb2e9346f809f113dd619/mne/io/ctf/info.py#L420-L423

is a different convention (ie packing everything in secs instead of usecs?) then what is used for fif fil

[2018-06-04 14:34] larsoner commented on #5258
It's still worth doing at least `git checkout f5e3399` (before that PR was merged) and then running these tests again. Based on what you say I think the result will stay the same, namely that the problem existed before that PR and is probably a CTF-related bug.

[2018-06-05 09:00] jshanna100 opened #5260 ""Brain" object initialised with "curv" parameter; doesn't exist"
MNE 0.16.1, mne.viz._3d.py, line 1665:

        brain = Brain(subject, hemi=hemi, surf=surface, curv=True,
                      title=title, cortex=cortex, size=size,
                      background=background, foreground=foreground,
                      figure=figure, subjects_dir=subjects_dir,
                      views=views)

Variable "curv" is not part of the init parameters for class Bra

[2018-06-05 11:45] larsoner commented on #5260
Thanks for the report, this is fixed in master and will be in the next maintenance release.

[2018-06-05 11:45] #5260 closed

[2018-06-05 14:41] bloyl commented on #5258
This is a bug that seems to effect all IO not just CTF

[code]
 yields
[code]
--------------------------------------------------------------------------------------------------------------
my guess is that this code
https://github.com/mne-tools/mne-python/blob/ab4571a83c4e5d5de0dcb2e9346f809f113dd619/mne/io/meas_info.py#L1219-L1231
needs to be updated post #4990

----------------------------------

[2018-06-05 14:51] larsoner commented on #5258
Actually I think this was the intended behavior of #4990. As an anonymization step it's better not to save the date when the file is written. So `secs==0, usecs==2147483647` is a shorthand for `None` (since you would never in practice write `usecs >= 1e6` in this format)

[2018-06-05 15:01] bloyl commented on #5258
ok so its safe to assume that secs and usecs in meas_id are not preserved
through file IO. So I can remove that part of the test from the
io/ctf/test/test_ctf.py?

On Tue, Jun 5, 2018 at 10:51 AM Eric Larson <notifications@github.com>
wrote:

[2018-06-05 15:29] larsoner commented on #5258
Better yet, ensure it's equal to `DATE_NONE`

[2018-06-05 15:34] agramfort commented on #5258
if you don't call anonymize I would not expect any change of the meas_id

do I miss something?

[2018-06-05 15:37] larsoner commented on #5258
You're right, `DATE_NONE` should only be used when the date is unknown, or when anonymizing.

So it seems like there is some bug. @bloyl can you see if just doing `read_info(...)` followed by `write_info(...)` has this problem of setting `info['meas_id'] == DATE_NONE`? It will help isolate the problem.

[2018-06-05 18:34] bloyl commented on #5258
I added a fix and tests to #5255 so lets move the conversation there.

[2018-06-06 15:09] SophieHerbst opened #5265 "Error in _check_compensation_grade for ICA on EEG data after switching from v15 to v16"
Dear all,
a script that ran under Version 15 now throws an error for every subject I tried. I am computing ICAs on epoched MEG and EEG data separately. The error occurs only for the EEG data.

The error:
[code]

I realized that inst.compensation_grade is empty, while inst2.compensation_grade = 0

A snippet of my code:

[code]

I uploaded the data here: https://somaxluan.hd.free.fr/owncloud/index.p

[2018-06-06 16:53] lbailey25 opened #5266 "Strange results after computing lcmv in volume source space"
Dear MNE users,

I'm attempting to compute lcmv beamformer on evoked data from a simple motor (finger tapping) task. I can compute and plot surface-based estimates with no problem, which gives me nice, sensible-looking activation maps. However, when I try to compute the stc in volume source space I get very bizarre results with a clear, circumscribed border of activation (see attached picture). Th

[2018-06-06 17:34] larsoner commented on #5266
@britta-wstnr any ideas?

[2018-06-07 04:14] bethard commented on #5142
I'm ran into the same issue. In case it helps, the `TypeError` seems to be caused by `raw.orig_format` being a dictionary:
[code]
I looked into the vhdr file, and I imagine this is coming from:
[code]
That apparently happens if we export from BrainVision in text format. If we switch to binary format, then the vhdr file instead contains:
[code]
And `read_raw_brainvision` loads the file without the

[2018-06-07 06:58] agramfort commented on #5142
either we raise a meaningful error or we make it work...

[2018-06-07 07:29] britta-wstnr commented on #5266
Hi @lbailey25
Did you contrast conditions in your pipeline and/or use some kind of weight normalization (``weight_norm='unit-noise-gain'`` or ``'nai'``)?
Without knowing more about it your results look like a center-of-head bias.

[2018-06-07 07:47] dnacombo opened #5267 "adding Brain object to html report"
If I pass a brain object to report.add_figs_to_section, I get the following error:

[code]
A running example, modified from plot_forward_sensitivity_maps (last lines):

[code]

[2018-06-07 07:50] agramfort commented on #5265
@SophieHerbst is it with current master or version 0.16.1 ?

[2018-06-07 08:20] SophieHerbst commented on #5265
0.16.1, yes
python version is 2.7.14

[2018-06-07 09:42] cbrnr commented on #5265
@SophieHerbst what is the `reject` object you are passing as `reject=reject[ch_type]`?

[2018-06-07 10:11] cbrnr commented on #5265
But yes, I can reproduce this error. No idea what the compensation grade is, but it seems to be something MEG-specific, so it should not be checked for EEG data...

[2018-06-07 10:15] SophieHerbst commented on #5265
reject=dict(meg = dict(mag=10e-12, grad=500e-12),
                eeg = dict(eeg=3000e-6))

Sorry, forgot that.

[2018-06-07 10:31] sappelhoff opened #5269 "Feature: Standard electrode position computation"
I have recently finished a little pet project of mine, in which I compute all 345 standard EEG electrode positions of the 10-05 (5%) system. Although that's nothing new per se and the data are available e.g., from [Robert Oostenveld](http://robertoostenveld.nl/electrode/), I thought that it would be nice for MNE to have the actual computations, which then yield the data to be used as part of the c

[2018-06-07 11:15] larsoner commented on #5267
As a workaround you can construct the `Brain` using a Mayavi figure handle, then pass that handle to `add_figs_to_section`. But we can add support for a `Brain` instance, too.

[2018-06-07 13:45] larsoner commented on #5269
I think it would be nice to generate as many standard montage positions on the fly as possible rather than storing them in text files. We could basically change it so that they are calculated on the fly, and we only use the text file ones for validation (essentially they become test files, in principle you could `git mv` them but it's probably not worth doing so).

[2018-06-07 14:58] lbailey25 commented on #5266
Hi @britta-wstnr
Thanks for the reply. No, I didn't contrast conditions or use weight normalization. Below is the code that I used - perhaps it will shed some light on the problem
[code]
Hope that provides some useful information!

[2018-06-07 16:10] bethard commented on #5142
+1 on raising the error and filing a separate feature request for support of the ASCII flavor. A clearer error message explaining what the problem was would have definitely saved some time, and exporting in BINARY instead wasn't a big deal, at least in my situation.

[2018-06-07 18:36] agramfort commented on #5142
ok sounds like a plan

can you open a PR?

[2018-06-08 11:15] sappelhoff commented on #5269
What do you mean by `git mv`ing them?

Other than that I completely agree with your point, however it seems like a major undertaking to implement this all at once.

Perhaps we could start by implementing the code to calculate the standard 10-20, 10-10, and 10-05 positions. Then whenever [`read_montage()`](https://martinos.org/mne/dev/generated/mne.channels.read_montage.html) is called with e.g., `

[2018-06-08 14:11] agramfort commented on #5269
objection on my side. Can  you open a PR to see what it would imply in
terms of code change?

[2018-06-08 19:40] d3christ commented on #3134
Hey when I try to run the "from mne_openbci import read_raw_openbci"
I get an error saying that mne is needed but I already have mne installed and activated.

[2018-06-09 17:18] dengemann opened #5273 "ENH/IO start / stop arguments for EEG readers"
Reading long EEG recordings can be a challenge on most computers. We should see which readers already support reading segments from raw and add start / stop args where ever needed. A current more urgent case is the EGI reader.

cc @agramfort

[2018-06-09 18:00] larsoner commented on #5273
A workaround is to use `preload` as `str`, which will use memmapping (no restriction on memory size then)

[2018-06-09 18:13] jona-sassenhagen commented on #5269
Loving the idea.

[2018-06-09 18:14] jona-sassenhagen commented on #5269
Please include SO1, SO2, M1, M2, A1, A2.

[2018-06-09 18:15] dengemann commented on #5273
That's actually true. It may just be slower. Looking at the more recently added .get_data in combination with preload I'm thinking we may actually be good already. Let me check out how it works in practice.

[2018-06-09 18:18] larsoner commented on #5273
In theory it should be at least as fast as reading segment by segment from the disk directly (assuming the file and the memmapped file are on the same hard disk).

[2018-06-09 18:37] jona-sassenhagen commented on #5170
Closing because [the example in question plot_stats_cluster_erp.py](https://mne-tools.github.io/dev/auto_tutorials/plot_stats_cluster_erp.html) has become quite small with the recent PRs.

Or do you disagree @agramfort ?

[2018-06-09 18:37] #5170 closed

[2018-06-10 11:31] jona-sassenhagen opened #5275 "DOC: Explain core MNE concepts in glossary.rst file"
We have a few terms that are MNE specific, or for which multiple names would make sense, but we've settled on one. We don't have a doc page going through all of them, right?

Would it make sense to have such a page?

Thinking of:
- selection
- group_by
- picks
- raw
- epochs
- evoked
- info
- montage
- events (explain markers, triggers, stim channel ... here)
- ...

[2018-06-10 14:50] sappelhoff commented on #5275
+1 ... I was confused by "picks" in the beginning

[2018-06-10 14:51] agramfort commented on #5275
+100

like sklearn glossary: http://scikit-learn.org/dev/glossary.html

can you start this?

[2018-06-10 14:57] agramfort commented on #5273
the recommended way is to do:

raw = read_raw...(preload=False)
raw.crop(tmin, tmax)
raw.load_data()

ideally this should work for all readers.

[2018-06-10 15:03] sappelhoff commented on #5269
Any specific objections @agramfort ? Or a general reluctance?

Do you have a documentation as to how these are defined with respect to the 1020/1010/1005 system @jona-sassenhagen ? LPA and RPA in my implementation are the same position as T9/T10 ... the two mastoids are very close to TP9 / TP10

In terms of code change, I thought we could start very slowly with the following schema:
1. a user call

[2018-06-10 15:22] agramfort commented on #5269
I meant "no objection". Sorry

[2018-06-10 16:19] sappelhoff commented on #5269
@agramfort I did not start yet because I wanted to get a round of feedback before beginning. So feel free to suggest. And maybe @larsoner can help me with preventing the scaling.

[2018-06-10 18:10] agramfort commented on #5269
I have reactions:
- if it's not broken don't fix it. So if there clear issues that one could
fix with this?
- if not, can it allow to remove a lot of lines ie a PR will mostly red
lines which would be a win in future maintenance.

[2018-06-10 19:16] jona-sassenhagen commented on #5249
@agramfort ... and you actually said "agreed" here :)

[2018-06-10 19:18] jona-sassenhagen commented on #5269
Benefit to me would be, I wouldn't have to think about where my loc files are stored anymore. This actually simplifies things a lot, because it removes context dependence: I can simply tell everyone that to get channel locations, they should execute this line, regardless of their specific 10/20 setup.

lines which would be a win in future maintenance.

In principle, we could drop a lot of the loc

[2018-06-10 20:46] dengemann commented on #5273
Good point. I was not remembering that crop works without preloading. I think we're good here. Perhaps we can add some content to FAQ.

[2018-06-10 20:46] dengemann commented on #5273
Closing for now.

[2018-06-10 20:46] #5273 closed

[2018-06-10 20:52] agramfort commented on #5249
yes there is no cleaner solution now.

[2018-06-11 07:48] cbrnr commented on #5269
I don't quite see the advantage of this either. Why don't we just include the 10/5 montage file with all 345 channels? We only need this file to get all possible subsets of 10/5 montages, including 10/20. Having the actual calculation is then not necessary, because I don't think you can cram in more than these 345 electrodes anyway.

[2018-06-11 07:55] cbrnr commented on #5275
And even more basic things like raw, epoch, evoked, projection/projector, ...

[2018-06-11 08:01] agramfort commented on #5275
ok I edited a bit the issue to start listing things we should put in the
glossary. Can you complement?

[2018-06-11 08:08] cbrnr commented on #3134
This module tries to import `_BaseRaw`, which doesn't exist (anymore?) in MNE. Try changing this in lines 17 and 21 to `BaseRaw` and it should work. @teonbrooks you might want to update your module. Also, I don't really understand why you set `np =  None` and `mne = None`?

[2018-06-11 08:42] jona-sassenhagen commented on #5269
We have multiple loc files right now - a whole directory of them. We need a few lines for testing, but many of the loc files can be simply dropped.

What I would really like is if we could have, in the raw constructor, an option to go montage=“10/20”, and it would automatically fill in channel names. That would really simplify reading in standard EEG files for newcomers.

_________________________

[2018-06-11 09:16] cbrnr commented on #5269
We can replace all montage files that are a subset of 10/05 or 10/20 with one file containing the 345 labels and locations of the 10/05 system. Passing a montage as string in the constructor already works, so all we need is the file. Also, currently there are only 2 files with 10/20 montages, so I'm not sure if any other montage file could be dropped...

[2018-06-11 09:20] jona-sassenhagen commented on #5269
If people can just write "10/20" there, I think that would be very beginner friendly.

There's many more, e.g., all of the standard_* ones, and one of the easycap ones.

[2018-06-11 09:28] jona-sassenhagen commented on #5269
I don't understand the label mapping part - what is the problem exactly?

[2018-06-11 09:32] cbrnr commented on #5269
We only have multiple 10/20 montage files because each contains different labels for the same positions (and each file contains a different subset of the 345 possible 10/05 locations). For example, `standard_primed` has a label `F7'`, whereas the same location is called `F7a` in `standard_postfixed`.

[2018-06-11 09:33] jona-sassenhagen commented on #5269
Yes, but can't we just drop the superset in one file?

[2018-06-11 09:35] cbrnr commented on #5269
That's basically what I'm saying. But currently, we can't do that because we would have to either invent our own file format that supports multiple labels for one position or properly detect two or more identical locations (right now this is a problem when plotting the montage, because multiple identical positions get overplotted).

[2018-06-11 09:59] sappelhoff commented on #5269
I agree with what @cbrnr says here. Although that I still think having the code instead of a file would be worth it because it is more transparent where the values come from.

[2018-06-11 13:58] ckiefer0 opened #5276 "mne.preprocessing.ICA calculation of _pre_whitener"
Line 538 in mne.preprocessing.ICA currently reads:
`pre_whitener[this_picks] = np.std(data[this_picks])[:, None]`

`np.std(data[this_picks])` calculates the standard deviation of all values of `data[this_picks]` taken together. As a result, all entries of `pre_whitener[this_picks]` are identical. However, based on my understanding of ICA, we should calculate the standard deviation for each channel

[2018-06-12 06:30] cbrnr commented on #5276
Good catch, thanks for spotting this. Fixed in #5277.

[2018-06-12 07:29] agramfort commented on #5276
i was my decision originally. My intuition was that if we do as it is now,
PCA will more easily capture the blinks or ECG which lead to high amplitude
artifacts on a subset of sensors.

can you follow my reasoning?

[2018-06-12 07:35] cbrnr commented on #5276
So this is basically the same as not scaling at all, right? I don't quite get it, because one assumption of PCA is that the input data should be equally scaled, otherwise it will always just find the components with the highest variance. For EEG, it shouldn't really make a huge difference to be honest, but scaling each channel individually makes more sense to me.

[2018-06-12 07:52] agramfort commented on #5276
it's not equivalent if you have different channel types.

@pierreablin do you have an opinion?

[2018-06-12 07:54] cbrnr commented on #5276
I see, this loop iterates over channel types. Yes, this works, but the cleaner (i.e. more correct) version is still scaling each channel individually within channel types IMO.

[2018-06-12 08:07] agramfort commented on #5276
is it how eeglab or fieldtrip does it?

[2018-06-12 08:40] cbrnr commented on #5276
Hm, EEGLAB zero-means all channels, but I don't see any scaling. We've discussed this in #4882, and there I called pre-whitening feature standardization, because I thought that each channel was scaled to unit variance. If you only scale within channel types, artifact channels retain a high variance, but overall different channel types have the same overall variance. I think this makes sense, but w

[2018-06-12 14:30] teonbrooks commented on #3134
@d3christ that mne_openbci package is deprecated. are you trying to read data in real time or are you trying to the export csv file?

[2018-06-12 14:31] teonbrooks commented on #3134
I wrote the package like three years and haven't used it since. both mne and openbci has changed significantly since then

[2018-06-12 14:37] #5191 closed

[2018-06-12 20:10] agramfort commented on #5276
so I guess we can keep it as it is?

maybe @arnodelorme has an opinion?

[2018-06-12 20:32] pierreablin commented on #5276
I don't really have an opinion on the question, but in the end if the ICA algorithm is not constrained to whiteness (e.g. infomax & picard) this won't make any difference.

[2018-06-12 20:50] #5249 closed

[2018-06-13 02:03] LauraGwilliams opened #5279 "Only permuting clusters that exceed min number of time-samples or contingent sources"
Sorry if I've missed this in the documentation somewhere, but -- it seems like there is no way to run a permutation test (e.g. spatio_temporal_cluster_test, permutation_cluster_1samp_test) while first specifying the minimum spatial extent of the clusters to be tested (e.g. number of adjacent time samples or spatial sources).

Often, I think the user doesn't want to consider clusters that only last

[2018-06-13 07:01] cbrnr commented on #5276
I think it is actually OK, but I will change the misleading comment. We don't want channels containing artifacts to be rescaled to the same variance as channels without artifacts, which would make it difficult for PCA to catch these artifacts. I agree with @pierreablin that for the subsequent ICA, it will not make a difference anyway.

[2018-06-13 07:02] cbrnr commented on #5276
Actually the comment is OK, it says "Scale (z-score) the data by channel type".

[2018-06-13 07:04] cbrnr commented on #5276
I'm closing this because scaling each channel individually would be detrimental (or at best wouldn't have an effect), see our discussion in #5276. If you think this is not how it should be done, please feel free to re-open @ckiefer0.

[2018-06-13 07:04] #5276 closed

[2018-06-13 07:10] neurofractal opened #5280 "Implement Topoplot Layout for 160-channel Yokogawa KIT MEG System"
A couple of people in our lab (https://www.cogsci.mq.edu.au/facilities/meg/) are starting to use MNE for BIDS data storage and analysis. We have a 160-channel Yokogawa KIT MEG System.

Data loads perfectly using mne.io.read_raw_kit. When trying to produce a topoplot after averaging I get the following error:

[code]

@teonbrooks or others, would this be easy to implement? Thanks in advance :) Robe

[2018-06-13 07:38] agramfort commented on #5280
our layouts are there:

https://github.com/mne-tools/mne-python/tree/master/mne/channels/data/layouts

do you have one for your system? maybe from another software?

[2018-06-13 07:56] agramfort commented on #5279
we could add this option for statistical control but I doubt this would
accelerate the
code as the bottleneck is in permuting data and computing connected clusters
that you will need to do anyway.

[2018-06-13 09:39] cbrnr opened #5281 "Add COC, contributing, issue and PR templates"
Should we add a code of conduct to our project? Most projects seem to adopt the [Contributor Covenant](https://www.contributor-covenant.org/) these days. Thoughts? If we decide to adopt this as well, how can people report violations? I assume opening an issue is not the best way to do this, but I don't know if we have a project email address.

[2018-06-13 10:26] antopolskiy opened #5282 "Expose "add_offset" control in `concatenate_epochs`"
https://github.com/mne-tools/mne-python/blob/5cafa0f4287ae02fb2beafa557c0f70db8b7a1ed/mne/epochs.py#L2916

I find myself frequently using `concatenate_epochs` function to unite several sets of epochs for different events, and then sorting the epochs afterwards. This proves a great pattern for working with a database-like structure for machine learning applications.

However, the function by defaul

[2018-06-13 15:28] LauraGwilliams commented on #5279
I see. I've seen implementations of this in the past that does the permutation for each found cluster, rather than permuting the whole dataset. I thought that's what was happening here.

I've implemented a simple thresholding that discards clusters that aren't of a certain size (combined time and spatial samples, for simplicity). Can I add a PR? You're totally right that it doesn't save much in th

[2018-06-13 18:04] agramfort commented on #5282
you just want to expose add_offset param in concatenate_epochs right?

I am curious how you can still make sense of events and time stamps when
merging epochs from different runs/raw files.

[2018-06-13 18:20] agramfort commented on #5281
honestly I don't think MNE is big enough to necessitate this. So far I have
never
observed wrong behavior but maybe I am the one to blame? :)

[2018-06-13 18:22] agramfort commented on #5279
I don't really see how this can work. You mean you remove some
features/tests in the permuted data?

sure if you have it so we can see what it implies in terms of code change.

[2018-06-13 18:29] larsoner commented on #5281
SciPy recently adopted a contributor-covenant-like code of conduct, which includes how to report issues (they have members of a committee). I have no problem with us adding this if it seems worthwhile to pepole. So I'm +0.5 on it (not a full +1 because I also agree with @agramfort that our risk level is lower than other libs due to specificity of use cases)

[2018-06-13 19:10] kingjr commented on #5279
I think what you proposed is equivalent to smoothing / filtering the data.

On Wed, 13 Jun 2018 at 20:22, Alexandre Gramfort <notifications@github.com>
wrote:

[2018-06-13 19:19] LauraGwilliams commented on #5279
If you find the adjacent sources/timepoints that exceed the statistical (say, t-value) threshold, you could then sum the t-values in the spatio-temporal cluster, to give the critical t-statistic. Then, permute the labels 10,000 times, and each time, sum the t-statistic over time and space just like in the critical test. Then, compare the observed t-sum to the distribution of t-sums.

I'm pretty su

[2018-06-13 21:12] antopolskiy commented on #5282
Exactly that.

merging epochs from different runs/raw files.

Let me try to describe, perhaps it is an interesting use case.

I have a large EEG dataset collected in an ecological task -- driving in a simulator. I have built a system to create sets of events, sometimes overlapping, sometimes not, for example, all brakes, or all accelerations, or only those brakes which happen before a turn, etc. T

[2018-06-13 23:59] neurofractal commented on #5280
We use:

[code]
... which creates a variable with position information.

In MNE layouts (e.g. KIT-157.lout) what do the columns represent? I'll have a go at creating one for our system.

[2018-06-14 06:39] cbrnr commented on #5281
I agree with you that currently it is not really necessary. However, I think that having a code of conduct doesn't hurt either. Although MNE is much smaller than e.g. SciPy, it is also not a small project anymore. Since the Contributor Covenant obviously contains rules that I think we all support, we could just as well add it to the project so that we are as open and inclusive as possible. So also

[2018-06-14 07:18] agramfort commented on #5282
I think I get it but I would have do it this way:
- concatenate raws to have a single raw object
- make events and associated metadata
- make one big epochs (eventually not preloaded)
- use query mechanism of epochs to use metadata.

See here for a demo of using metadata:

https://martinos.org/mne/stable/auto_tutorials/plot_metadata_epochs.html

[2018-06-14 09:09] antopolskiy commented on #5282
That's an interesting workflow to consider, thank you. Although, wouldn't that require me to fit all of the raw recordings in RAM at the same time? You wouldn't be possible in my case, as I have over 100 GB of raw files. Getting epochs separately allows me to never load raw data at all.

[2018-06-14 10:56] agramfort commented on #5282
maybe it will work with preload=False ?

[2018-06-14 11:55] #5142 closed

[2018-06-14 12:14] bethard opened #5284 "BrainVision .vmrk positions are 1-indexed but read as if they were 0-indexed"
In a BrainVision `.vmrk` file, the marker positions are 1-indexed (i.e., the smallest possible marker is 1, not 0). You can see this in their documentation, e.g., where it says "Time points [msec] = (Data points – 1) * sampling interval [msec]":

http://pressrelease.brainproducts.com/markers/

You can also infer this from the files which always start with a "New Segment" marker at position "1" (no

[2018-06-15 12:05] jshanna100 opened #5286 ""picks" attribute is null list in _sources_as_epochs/evoked"
"picks" attribute is null list in _sources_as_epochs/evoked in the case when add_channels is None. This breaks functionality when, for example, you want to pick individual components out of the resulting epochs/evoked object with .pick_channels, as this function require a "picks" array.

[2018-06-15 12:12] jshanna100 opened #5287 "Inclusion of buffer_size_sec breaks epochs.add_channels"
This entry, AFAIK, only exists in raw objects, so it breaks when running this function on non-raw data.

https://github.com/mne-tools/mne-python/blob/e1b441460b3eb426dea9a90e1d250da18a169f12/mne/io/meas_info.py#L1692

[2018-06-15 12:17] antopolskiy commented on #5282
It could work with some types of data stores, which `mne` can query in an out-of-memory mode, but I have a database, and it doesn't seem feasible.

So in the end, do you think "add_offset" would be a useful control to expose, or you think it may encourage a wrong workflow?

[2018-06-15 12:56] agramfort commented on #5282
+0.5 to expose add_offset if it's needed for you. It's not too invasive
change.

[2018-06-15 12:58] agramfort commented on #5287
sounds like a good bug fix opportunity :)

[2018-06-15 13:06] agramfort commented on #5286
can you share a code snippet to expose / replicate the pb?

[2018-06-15 13:11] jshanna100 commented on #5286
In the else case below picks is an empty list.

def _sources_as_epochs(self, epochs, add_channels, concatenate):
        """Aux method."""
        out = epochs.copy()
        sources = self._transform_epochs(epochs, concatenate)
        if add_channels is not None:
            picks = [epochs.ch_names.index(k) for k in add_channels]
        else:
            picks = []
        out._data = np.conca

[2018-06-15 13:19] #5284 closed

[2018-06-15 13:20] #5265 closed

[2018-06-17 05:49] agramfort commented on #5286
I am sorry I don't get the issue. This function is executed by a test and
it's fine
to do things like this:

array([], shape=(1, 0, 241), dtype=float64)

[2018-06-17 08:01] jshanna100 commented on #5286
Yes, but it will fail if one calls e.g. .pick_channels on it, because that function expects an array to be in self.picks. One can hack around it by doing something like

`epochs.picks = np.array(range(len(epochs.ch_names)))`

[2018-06-17 09:16] agramfort commented on #5286
please share a full gist to replicate a crash so I don't have to reverse
engineer what you have in mind.

ideally paste it at: https://gist.github.com/

thanks

[2018-06-17 10:27] jshanna100 commented on #5286
I can no longer replicate the bug, and don't really have an explanation for it. Yesterday, the code required the hack I mentioned above in order to run, and today, it doesn't. Really sorry to waste your time...

[2018-06-17 15:11] #5286 closed

[2018-06-18 01:07] Vincent-wq opened #5288 "problems installing mne on win10 64bit, py3.6(anaconda)."
1. when I am trying to install mne using anaconda3, I have the following problem (seems the problem installing mayavi)
![image](https://user-images.githubusercontent.com/11001776/41514052-65a2a4d4-72d6-11e8-9689-cdde3005b8d8.png)

2. I have VC2015 installed and using the MSBuild Command Prompt for VS2015 command line tool;
4. looks like some of the dependencies has been updated since the enviorenm

[2018-06-18 02:00] agramfort commented on #5288
can you explain what you did?

conda env create -f environment.yml

?

[2018-06-18 02:18] Vincent-wq commented on #5288
Yes, just follow the instructions here: https://www.martinos.org/mne/stable/install_mne_python.html#get-mne-and-its-dependencies,

When I am trying to create the env for mne using

conda env create -f environment.yml

thanks!

发件人: Alexandre Gramfort <notifications@github.com>
发送时间: 2018年6月18日 10:01
收件人: mne-tools/mne-python <mne-python@noreply.github.com>
抄送: Wang Qing <vincent.w.qing@gmail.com>;

[2018-06-18 02:54] agramfort commented on #5288
ok let's try together.

if you have the pb when doing:

pip install mayavi

you can ask the question on the mayavi forum / mailing list.

[2018-06-18 03:30] mlearnx commented on #5288
I also had a similar issue with Anaconda and Windows 10.  Try to install the MNE without creating an environment and by directly installing dependencies one by one. This worked for me.

For instance,
 pip:
  - mne
  - mayavi
  - "https://api.github.com/repos/nipy/PySurfer/zipball/master"
  - nitime
  - nibabel
  - nilearn
  - neo
  - pytest-sugar
  - pytest-faulthandler
  - pydocstyle
  - sphinx_b

[2018-06-18 11:34] jona-sassenhagen commented on #5269
Ah I think I get now what I missed before.

Still, I'd think it'd be cool if people could do `read_raw_xxx(fname, montage="10/20")`.

[2018-06-18 11:43] cbrnr commented on #5269
Sure, we could special-case the string `"10/20"`. IMO the quickest solution would be to go ahead and create a new 10/20 montage file with all possible 300+ locations, which we can refer to as `"10/20"` with the `montage` argument. Ideally, these locations would be the output of @sappelhoff's routines. Ideally, there shouldn't be duplicate names in this montage, but then we'd need a way to map mult

[2018-06-18 11:44] cbrnr commented on #5269
PS: Just to make sure, you do know that `read_raw_xxx(fname, montage="standard_1005")` already works, right? The argument needs to be an existing montage file name.

[2018-06-19 06:46] cbrnr commented on #5281
Does anyone else have an opinion?

[2018-06-19 17:58] danieltomasz commented on #5214
@d-van-de-velden did you tried latest  4.6 mayavi release (from end of may)? I also have  problem with mlab but with the new release everything is working

[2018-06-20 08:29] asmasbaih3000 opened #5289 "Unable to save fif file"
Dear Sir or Madame,

I am using mne-python and try to load and save raw fif-files. I successfully loaded the data, but somehow saving the file is NOT working. The same code sample runs on my college's machine just fine. the only difference is the version of mne-python he is using.

Here is some code snippet that illustrates the error:
[code]

Here is the error:
[code]

I am grateful for any help.

[2018-06-20 09:47] #5289 closed

[2018-06-20 09:48] asmasbaih3000 commented on #5289
I solved the problem.
thank you

[2018-06-21 19:50] drammock opened #5290 "broken links to source in docs"
Some links from function documentation in the API reference to the function definition in the source code are broken.  For example, on this page: https://mne-tools.github.io/dev/generated/mne.stats.spatio_temporal_cluster_1samp_test.html

the link text `[source]` to the right of the function signature links to `http://github.com/mne-tools/mne-python/blob/master/doc/%3Cstring%3E#L1210-L1339` (note

[2018-06-21 20:29] larsoner commented on #5290
It will be broken for anything that uses the verbose decorator. We need to make the linking function smarter

[2018-06-21 21:38] Heneark opened #5292 "BUG: Compensation channels pick error"
While trying to execute `evoked.interpolate_bads()`, I ran into the following error:
[code]
This error seems to be raised automatically when attempting to make any pick that does not include all `ref_meg` channels. I dug a bit into compensation grades, and it seems that it can only be removed for Raw data using the `apply_gradient_compensation(0)` method.

Maybe it would be better to turn this err

[2018-06-22 13:55] larsoner commented on #5292
Indeed this should probably not be an error, see our current plan for fixing these sorts of issues [here](https://github.com/mne-tools/mne-python/issues/5221#issuecomment-392057909).

Although for the case of `interpolate_bads`, I'm not sure what the right thing to do would be -- maybe we should go back to grade 0, interpolate, then re-apply whatever compensation was there originally. @bloyl @agra

[2018-06-22 14:29] sappelhoff opened #5294 "mne.viz.plot_evoked_joint does not accept "time_unit" parameter, but warns about it"
See this screenshot as an illustration:

![image](https://user-images.githubusercontent.com/9084751/41782022-4e045d8e-7639-11e8-95c1-c0e64dd67df1.png)

[2018-06-22 15:31] larsoner commented on #5294
You need to pass it in the `ts_args` and `topo_args` dicts

[2018-06-22 16:17] sappelhoff commented on #5294
Thanks @larsoner

[2018-06-22 16:17] #5294 closed

[2018-06-22 16:18] Heneark commented on #5292
I just tried to run my source reconstruction scripts, and it turns out this bug is everywhere (evoked.plot_joint, beamformer.make_lcmv), nothing works anymore since I upgraded from v0.15 to v0.16 last week.

[2018-06-22 17:14] larsoner commented on #5292
Oof, that's not good. While we work on a proper fix, you could turn it into a `warnings.warn` in your local copy of the MNE code

[2018-06-23 05:53] agramfort commented on #5292
could be related to https://github.com/mne-tools/mne-python/pull/5295

can you share a gist. We'll fix ASAP.

we need more MNE developers with CTF data...

[2018-06-23 09:22] Vincent-wq commented on #5288
Now I have fixed this problem, and here are my experiences:
1. intall python3.6 with anaconda (https://www.anaconda.com/download/);
2. intall visual studio2017 community(free), and check the following items and install: (https://visualstudio.microsoft.com)
2.1 VC++ 2015.3 v14.00 (v140) toolset for desktop
2.2 Windows 10 SDK (10.0.17134.0)
2.3 Windows 8.1 SDK
3. following the official guidance of m

[2018-06-24 05:59] agramfort commented on #5288
thanks for all the details.

I am thinking that these details on how to make the mayavi install work on Windows should be on the mayavi documentation page.

What I don't fully understand is why it works fine on Appveyor via a conda env out of the box.

@prabhuramachandran any idea? Short story is: We tell MNE users do install with: http://martinos.org/mne/stable/install_mne_python.html#get-mne-and

[2018-06-24 06:07] agramfort opened #5296 "Improve support of EGI files"
See all files one could support:

https://drive.google.com/drive/folders/13PeOVr67g4tu-svKerrsBCg5fMKlRsBF

this issue is presently a place holder not to forget about all these files. If we start to do this we need EGI support.

[2018-06-24 11:08] prabhuramachandran commented on #5288
Hmm our appveyor tests seem to be running fine!  https://ci.appveyor.com/project/EnthoughtOSS/mayavi
Of course, I am using edm and not conda here.
https://github.com/enthought/mayavi/blob/master/appveyor.yml

[2018-06-24 15:32] agramfort commented on #5292
@Heneark #5295 has been merged. Can you provide some test snippet so we can fix ASAP and release 0.16.2

thanks

[2018-06-24 19:05] prabhuramachandran commented on #5288
I've uploaded VTK wheels on pypi but not Mayavi wheels. Mayavi has a tiny extension module but that apart is pure Python.  It does need to compile a single extension (which was made using Pyrex!). That should work on appveyor.  How do you install traits?

I can see about making the extension module optional (for a performance hit) in mayavi if it will make things easier.

[2018-06-24 19:08] agramfort commented on #5288
we install

- traits>=4.6.0
- pyface>=6
- traitsui>=6

with conda. See:

https://github.com/mne-tools/mne-python/blob/master/environment.yml#L29

it's working on our CIs. Is it the cause of our issue? thanks so much for
being so reactive.

[2018-06-24 19:15] prabhuramachandran commented on #5288
OK, so the rest are from conda.
I've filed a ticket https://github.com/enthought/mayavi/issues/658 to remind me to try and remove the array_ext extension at some point.  It should be easy to do I imagine but I'll need to test it carefully.

It should be possible to install a suitable MSVC compiler relatively easily though,  https://wiki.python.org/moin/WindowsCompilers
this is useful in itself for

[2018-06-25 09:28] massich commented on #5281
Actually, github uses those things for its metrics.
see this
![image](https://user-images.githubusercontent.com/7044835/41842131-46a73006-786a-11e8-94c2-aba8f8d2ca91.png)

I'm +1 to pick up conde-of-conduct, issue template and PR template from a project similar to MNE-python, modify them, add them and point contribute.md to our `doc/contribute.rst` So that we get the bar to the right ;)

[2018-06-25 09:32] cbrnr commented on #5281
Good point. I'm also +1 for getting all ticks, but I don't like issue and PR templates. They add lots of boilerplate that makes it difficult to get to the core of the issue/PR. Unless of course we can just write some recommendations how to open an issue/PR and we don't pre-fill the actual issue/PR text field.

[2018-06-25 11:07] massich opened #5297 "MNE-Python installation error"
~This issue comes from MNE maling list ([here](https://mail.nmr.mgh.harvard.edu/pipermail//mne_analysis/2018-June/005033.html))~

The problem can be replicated by doing this:
[code]

<details>
 <summary>See the full log
 </summary>

[code]
</details>

[2018-06-25 11:20] massich commented on #5281
I think that pre-fill issue/PRs a are good thing. I think that regular contributers would just ignore them, however I find it really helpful when I don't know a project.

As a scikit-learn core dev phrase it:

[2018-06-25 11:33] cbrnr commented on #5281
I completely agree with this person. Adding this extra step is creating a lot of unnecessary work (even if it is just pressing Ctrl+a). I'd prefer to have an empty template, and for newbies we can still have some text that explains how to create good issues/PRs.

[2018-06-25 11:45] larsoner commented on #5297
Their problem was missing gcc, the problem you created is missing OpenGL

[2018-06-25 11:54] massich commented on #5297
@larsoner true. I saw `Failed building wheel for mayavi` and I didn't checked further

[2018-06-25 13:10] Heneark commented on #5292
I downloaded the master branch, evoked.plot_joint() is indeed fixed.
Here's a test snippet for the interpolation error:
https://gist.github.com/Heneark/2e18280f88f956ae5faef3cea40e4bd0

Same error with beamformer:
[code]

Cheers,

[2018-06-26 00:59] Vincent-wq commented on #5288
Now I see new problems, when I try to test mayavi with qt5 and qt4 for my installation, they works well. But when I am trying the example (http://martinos.org/mne/stable/auto_examples/connectivity/plot_mne_inverse_psi_visual.html#sphx-glr-auto-examples-connectivity-plot-mne-inverse-psi-visual-py), I got errors, no idea what happens, it seems that the vis engine and dependencies are not well mainta

[2018-06-26 01:04] Vincent-wq commented on #5288
I have found another problem with the jupyter notebook, it starts very slow, takes more than 5 mins on a i7, 16G DDR4 machine, it looks strange....

[2018-06-26 06:57] agramfort commented on #5288
@Vincent-wq use qt5

the error you see is due to a recent non-cautious API change in PySurfer. We need to cut a new PySurfer release. In the mean time you can edit the file c:\Anaconda3\envs\mne\Lib\site-packages\mne\viz_3d.py and remove the curv parameter. Sorry about this.

[2018-06-26 12:44] larsoner commented on #5288
No need for new PySurfer release, it should be fixed by the next maintenance release of MNE

[2018-06-26 13:05] Vincent-wq commented on #5288
Thanks for Gramfort, the problem is solved now. But the problem is, when I am testing mayavi using nosetests, it passed, I have tried several examples from mayavi, it works well with all the interations, but when runing the examples from mne, it can render successfully, then just stop responding, no idea what happen.
![image](https://user-images.githubusercontent.com/11001776/41913872-18e73df8-798

[2018-06-26 14:03] agramfort commented on #5288
maybe a memory usage on your machine. It's really hard to tell.
can someone around you replicate the pb on his machine?

[2018-06-26 22:14] neelesh314 opened #5299 "Digitizing EEG electrode location"
Hi,

Is there MNE library support for digitizing eeg electrode locations using Polhemus Patriot digitizer? Basically, I am looking for an MNE equivalent of the following Brainstorm package:

https://neuroimage.usc.edu/brainstorm/Tutorials/TutDigitize

Thanks,
Neelesh

[2018-06-26 23:34] Vincent-wq commented on #5288
I have tried on 2 different win 10 machines, the problems are the same, quit strange, maybe I need to read more blogs on mayavi

[2018-06-27 07:01] agramfort commented on #5299
no there is no such GUI.

you should use the MNE mailing list for usage questions and not the issue
tracker.

https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis

you should get suggestions and help there.

[2018-06-27 10:16] cbrnr commented on #5281
@massich can you check if it is possible to use the existing `doc/contribute.rst` file? The [help page](https://help.github.com/articles/setting-guidelines-for-repository-contributors/) only talks about how to create a new file.

[2018-06-27 10:29] agramfort commented on #5288
@prabhuramachandran your quote from last scipy still resonates in my end. "I am also know for having produced the python package which is the hardest to install" .... I will just add "among the very useful pacakges" :)

[2018-06-27 13:29] larsoner commented on #5281
Can you look at what SciPy did? I think it was a google group with a few volunteer admins added

[2018-06-27 13:35] cbrnr commented on #5281
Yes, they set up scipy-conduct@googlegroups.com (https://github.com/scipy/scipy/blob/master/doc/source/dev/conduct/code_of_conduct.rst).

Should we set up mne-conduct@googlegroups.com? Who will be on the committee (i.e. have access to this group)?

[2018-06-27 13:40] cbrnr commented on #5281
As a more professional-looking alternative to an @googlegroups address (which would also be more appropriate from a privacy point of view), might it be possible to create an email account @martinos.org?

[2018-06-27 13:41] larsoner commented on #5281
It might be possible but increases admin difficulty, so I'd rather not

[2018-06-27 13:42] larsoner commented on #5281
As for access we'd need volunteers who are frequent contributors

[2018-06-27 13:44] cbrnr commented on #5281
OK, then l'll go ahead and create the google groups address. Since I assume there won't be many violation reports, I volunteer to be on the committee. Who else? We need at least three people.

[2018-06-27 13:45] larsoner commented on #5281
I can be on it, and also @agramfort unless he objects

[2018-06-27 14:55] neelesh314 commented on #5299
thanks!

On Wed, Jun 27, 2018 at 3:01 AM, Alexandre Gramfort <
notifications@github.com> wrote:

[2018-06-27 15:36] choldgraf opened #5302 "Is there a "why we use FIF" document somewhere?"
Hey all - in the BIDS-iEEG world we've had a debate going on for a while now about what formats to "officially" support. Basically it tends to boil down to:

* Formats must be open and well-documented
* Formats must be standardized and unambiguous when it's "raw" data vs. derivatives of raw data (e.g. epochs)
* Formats should be well-used already

It seems we are converging on EDF and Brainvision

[2018-06-27 15:39] jasmainak commented on #5302
Perhaps @teonbrooks can also weigh in for EDF ...

[2018-06-27 16:02] #5299 closed

[2018-06-27 16:09] larsoner commented on #5302
`mne show_fiff` will tell you, and @jasmainak IIRC has an issue open about a `what_fiff(fname)` sort of function that would tell you what type of data it is (raw, epochs, evoked, source space, BEM, etc.).

AFAIK there is no "why FIF" document. But in brief, it contains all the fields we need for M/EEG analysis.

[2018-06-27 16:14] agramfort commented on #5281
you're in charge

[2018-06-27 16:21] #5159 closed

[2018-06-27 17:02] teonbrooks commented on #5302
EDF is a bit of a pain in the rear. That being said, it is a very common format and a lot of systems are compatible with it. There is a clear specification for how the data file can be written but in my experience, I feel that the spec should have been a bit more opinionated and rigid. There are so many exceptional cases for EDF that do fall within the scope of the spec but a package developer jus

[2018-06-27 17:53] tdmvch opened #5303 "cufft library not found"
I'm trying to initialize CUDA, but have issue. I'm usind Anaconda environment with Python 2.7. CUDA 9.1.84, skcuda and pycuda are installed, but executing mne.cuda.init_cuda() gives 'OSError: cufft library not found'.
Cufft library exist in CUDA folder.
I think, there might be problem with PATH, but I need guidence to solve it.

I will provide any information if needed.

[2018-06-27 18:03] jasmainak commented on #5302
I'm wondering why there is no documentation of the fiff specification? It's easy to find one for the EDF but not for the fiff ... (except perhaps some [not very verbose info](https://www.martinos.org/mne/stable/manual/matlab.html#bgbjhcgd) on the MNE website)

[2018-06-27 18:13] larsoner commented on #5302
Somewhere the FIF constants are documented, I have talked to the Elekta folks about allowing us to host the constant defs on GitHub but haven't gotten too much traction

[2018-06-27 18:14] larsoner commented on #5302
So far we just have the "MNE" range up

https://github.com/mne-tools/mne-fiff-constants

[2018-06-27 18:17] larsoner commented on #5302
Actually in a previous email with Elekta folks (Matti Kajola) said GitHub is probably okay. So I think if someone has time to migrate the official Elekta constants over to `mne-fiff-constants`, we can probably rename `mne-fiff-constants` to `fiff-constants` and have that be the public record. We would need to give the Elekta folks admin control over it.

[2018-06-27 18:21] larsoner commented on #5302
Current docs live here:

http://www.aston.ac.uk/lhs/research/centres-facilities/brain-centre/facilities-clinical-services/meg-studies/downloads/

I'll email the Elekta folks about an updated version. If they have one, I can add them to `mne-fiff-constants` and rename it to `fiff-constants`.

[2018-06-27 18:43] choldgraf commented on #5302
Maybe the better way to ask the question is "why use FIF *instead* of using another open format such as EDF"?  I'm trying to make sure that the BIDS format choices are principled ones, and that we don't accidentally make an incorrect choice

[2018-06-27 18:45] choldgraf commented on #5302
also re: the FIF vs. EDF vs. VHDR approach, the main reasoning within BIDS-iEEG was that EDF would be ideal, except for the 16 bit limit. VHDR isn't as ideal in terms of structure, but allows for 32 bit data. So, the primary two formats to support would be EDF and VHDR.

[2018-06-27 18:48] larsoner commented on #5302
As @teonbrooks said, I doubt that EDF and VHDR provide the proper fields for MEG data (e.g., device-head transform, coil type, etc.). There are workarounds but they are less than ideal.

I don't really like the FIF 2GB limitation, it is annoying to have to work around so I wish there were a better, similarly complete alternative.

[2018-06-27 18:52] jasmainak commented on #5302
@choldgraf check out [this document containing the specification](https://www.dropbox.com/s/q58whpso2jt9tx0/Fiff.pdf?dl=0). I just unzipped one of the urls and put it on dropbox for you. I wonder why this is not available more prominently. I would suggest at least skimming over this document ...

[2018-06-27 18:54] jasmainak commented on #5302
I think one point that I raised with @choldgraf was that EDF appears to be less consistent and @teonbrooks has for instance been struggling to write a reader which works for all files. I wonder if this is an inherent limitation of the file format or if this is just because it used widely.

[2018-06-27 19:17] larsoner commented on #5303
What happens when you do:
[code]
I'm guessing it does not work, which indicates a problem with your `scikits-cuda` config

[2018-06-27 19:51] agramfort commented on #5302
yes the edf format is extremely not-well specified. People store whatever
they want in .edf files which keeps breaking readers all the time.

FIF is much well specified but it has too issues:
- files need to be less that 2GB
- it's really seen as an MEG format
- it's not so easy to write properly (you need to understand fif tags, tree
etc.)

[2018-06-27 20:19] cbrnr commented on #5302
Did you consider GDF? It is basically EDF with most restrictions removed. I think it has even been standardized (at least by some national standards committee).

[2018-06-28 15:46] prabhuramachandran commented on #5288
@agramfort -- thank you for the kind comment!  Glad it is still useful.  The dependencies and options make it tough.  Making VTK pip installable is a big help already and makes things much easier.  I'm working on the https://github.com/enthought/mayavi/issues/658 issue to try and make the extension module optional.  However, building a module optionally is yet another of those silly things that ta

[2018-06-28 23:33] prabhuramachandran commented on #5288
I've just merged a PR to only optionally add the extension module.  @Vincent-wq -- can you please try with pip installing the git master version of Mayavi like so on your machine where you had the issue:

`pip install git+https://github.com/enthought/mayavi.git#egg=mayavi`

Hopefully this should make Mayavi pip installable even when a compiler is not available, albeit at the expense of one slower

[2018-06-29 02:18] larsoner commented on #5288
[Took the ~2x slowdown to ~25%](https://github.com/enthought/mayavi/pull/664), views are wonderful :)

[2018-06-29 05:41] Yerzhan19 commented on #1308
Is there any interpolation already implemented in MNE similar to Matlabs "Biharmonic spline interpolation"("v4" method in Matlab's griddata)?

[2018-06-29 07:39] agramfort commented on #1308
maybe https://docs.scipy.org/doc/scipy/reference/tutorial/interpolate.html
helps.

[2018-06-29 07:51] agramfort commented on #5288
@larsoner shall we update our environment.yml file?
@prabhuramachandran can you make a minor release?

[2018-06-29 08:00] prabhuramachandran commented on #5288
@larsoner -- yes they are along with the ability to add an axis.  Without changing the shape, this is much harder.  Thanks for the extra pair of eyes.  On my machine I still get close to 50% slowdown and with smaller arrays even 2x.
@agramfort -- I will do so after a few other improvements that I want to squeeze in.  Also it would be nice if this can be tested to actually work without a compiler.

[2018-06-29 08:38] prabhuramachandran commented on #5288
@agramfort -- just FYI, I will push a point release by the next weekend.

[2018-06-29 08:44] agramfort commented on #5288
great

please let us know when you do

thanks

[2018-06-29 09:35] Vincent-wq commented on #5288
@prabhuramachandran Great thanks, I just did as follows (uninstall mayavi and pip install git+https://github.com/enthought/mayavi.git#egg=mayavi
), but the vis problems is still there (it stops responding), now I think the compiler is OK, and it looks more like the problem when using mayavi in the ploting. when I am trying to run independent code using mayavi, it looks ok. run the nosetests tests,

[2018-06-29 09:48] prabhuramachandran commented on #5288
@Vincent-wq -- Thank you! That is excellent.  I suspect the screenshot you sent first is just to show that the right version of mayavi is installed.  As regards the vis problem, this is not a Mayavi installation issue but perhaps something to do with mne-tools, I don't know.  The test error popping up is an annoyance more than an actual error.  I will investigate that issue and see if anything can

[2018-06-29 11:16] Teekuningas opened #5305 "merge_grad_data and rescale in plot_tfr_topomap"
Hi,

I was wondering if the order of merge_grad_data and rescale could be reversed in https://github.com/mne-tools/mne-python/blob/96bd8661599558024cdcd9edcc5eb0e12919722b/mne/viz/topomap.py#L1050

Now merging is losing the information of inhibition that is revealed by the rescale.

[2018-06-29 13:22] agramfort commented on #5305
can you be more explicit? Not sure to follow what you mean by
"inhibition that is revealed by the rescale."

[2018-06-29 14:28] Teekuningas commented on #5305
Or actually even better, use method='mean' in the merge_grad_data call. I don't see benefits in using 'rms' for power data. The problem is that when you use 'mag', 'planar1', 'planar2' or 'eeg' with baseline correction, you can get topomap that shows as red the areas where power has increased and as blue the areas where power has decreased compared to baseline. When you use 'grad', the plot will h

[2018-06-29 14:31] larsoner commented on #5305
@Teekuningas the reason `rms` is used rather than `mean` is that the grads are orthogonal in the tangential plane. So doing a plain `mean` will cause anything in the upper right or lower left of this tangential plane to add constructively, and anything in the lower right or upper left will cancel out. I can't think of a scenario where you would actually want this interpretation.

[2018-06-29 14:43] Teekuningas commented on #5305
That probably makes sense; I kind of wanted a shortcut for also plotting a "difference tfr" (tfr1 - tfr2). But for a normal tfr, where every value is positive, it should be possible to first take the RMS and then rescale to have have meaningful plots where there is power increase and power decrease, shouldn't it?

[2018-06-29 14:50] agramfort commented on #5305
I agree there should be a way to see ERD (blue) on grads.

the arithmetic could be done after combining grads for this.

PR + an example welcome

[2018-06-29 14:50] larsoner commented on #5305
Agreed

[2018-06-29 22:54] Teekuningas commented on #5305
Ok, I'll look into it!

[2018-06-30 01:04] drammock opened #5309 "possible bug in permutation_cluster_test"
I noticed that [here](https://github.com/mne-tools/mne-python/blob/master/mne/stats/cluster_level.py#L933) the PPF is only defined once for both `within` and `between` tests.  Shouldn't the `between` test be using `scipy.stats.f.ppf` instead of `scipy.stats.t.ppf` on [this line](https://github.com/mne-tools/mne-python/blob/master/mne/stats/cluster_level.py#L954)?  Also shouldn't the degrees of fre

[2018-07-01 13:59] agramfort commented on #5309
@larsoner git blame suggest you wrote this:

https://github.com/mne-tools/mne-python/blame/master/mne/stats/cluster_level.py#L954

thoughts?

[2018-07-01 14:32] larsoner commented on #5309
@agramfort that's just a refactoring commit, but indeed it introduced using `t.ppf` rather than `f.ppf`, which is a bug.

If you traverse the `git blame` to the line's origin, though, you find that the DOF was added by someone named @agramfort, so maybe you can ask him for some insight into that bit :)

https://github.com/mne-tools/mne-python/commit/6c31a6d175e941eed5a76cf291583d42ab24f97f#diff-23

[2018-07-01 14:50] agramfort commented on #5309
looks like this guy @agramfort was correct in 2013 but his test was not
careful enough :)

[2018-07-01 14:51] larsoner commented on #5309
I think @drammock is suggesting the DOF is incorrect, is it?

[2018-07-01 16:53] agramfort commented on #5309
is there a test we could come up with?

[2018-07-02 05:08] monkeyman192 opened #5311 "KIT data doesn't retain MAG/GRAD type for channels"
When importing KIT data we noticed that although the channel type is correct in the channel data (6001 for KIT data: FIFF.FIFFV_COIL_KIT_GRAD (we have gradiometers)), when observing the info of the raw we get `chs : list | 193 items (MAG: 125, MISC: 67, STIM: 1)`
Looking through the reason for this, it is because both MAG and GRAD type sensors are given `FIFF.FIFF_UNIT_T` as their unit, but when t

[2018-07-02 09:37] jona-sassenhagen commented on #5302
I assume lifting the 2GB restriction on fif is out of the question?

That makes it worse, doesn't it?

[2018-07-02 09:46] cbrnr commented on #5302
I don't think so. It's not that GDF is less strictly specified. What I meant is that it has more supported data types (integers with 8/16/24/32/64 bits, floats with 32/64/128 bits), an event table, support for MEG orientations, and so on. I'm not saying that it is the ideal data format, but maybe it is worth considering GDF over EDF as it is a natural extension.

[2018-07-02 12:58] agramfort commented on #5311
@monkeyman192 : axial gradiometers like CTF with systems are considered by MNE as magnetometers on purpose. It's because they produce data that are much closer to a magnetometer as to a planer gradiometers in a vectorview system.

does it help?

[2018-07-02 13:46] palday commented on #5302
The VHDR metadata portion of the BV format is actually even simpler and yet more flexible than people realize ... it's essentially an INI file (which can be parsed with the [Python standard library](https://docs.python.org/3/library/configparser.html)), with a few standardized sections and something between Markdown and YAML in the `[Comment]` section, where you could actually store MEG sensor met

[2018-07-02 16:46] drammock commented on #5309
@agramfort I'm not sure what kind of test you mean...  it seems to me this is a simple question of whether the formula was correctly implemented.  Quoting from [wikipedia](https://en.wikipedia.org/wiki/F-test#Multiple-comparison_ANOVA_problems):

A very simple example of how the current implementation is wrong is to give it more than 3 groups:
[code]
yields `TypeError: _parse_args() takes from 2 t

[2018-07-02 19:44] agramfort commented on #5309
ok you made your point perfectly.

Any chance you can do the PR? at least start it?

thanks a lot

[2018-07-03 06:41] agramfort commented on #5311
agreed. Can you open an issue / PR in the mne-bids repo?

[2018-07-03 09:48] cbrnr opened #5315 "Spurious values when using plot_topomap"
When I plot negative values using `mne.viz.plot_topomap`, I get spurious positive values near the boundary:

[code]

![figure_1](https://user-images.githubusercontent.com/4377312/42212425-5309f9c6-7eb6-11e8-869b-881b7df082db.png)

This is likely an interpolation artifact, with possibly serious consequences when interpreting scalp maps. Or maybe it is specific to the `biosemi` montages.

[2018-07-03 20:16] agramfort commented on #5315
yes it's an interpolation issue. I don't really see a way out here.
Interpolation is bad outside the data domain...

does eeglab or fieldtrip have the same pb?

[2018-07-03 20:32] jasmainak commented on #5315
one could use monotonic interpolation like pchip ...

[2018-07-03 20:39] agramfort commented on #5315
not sure it will fix the pb but you can try...

[2018-07-03 21:12] #5280 closed

[2018-07-03 22:13] jasmainak commented on #5311
yes, please let's discuss on mne-bids

[2018-07-04 08:06] cbrnr commented on #5315
EEGLAB produces a very similar output.

Would it be possible to plot the image only within the outermost electrodes, that is, without extrapolation? Would that solve the problem? Basically if some kind of skirt can be defined (yellow lines), don't draw the map outside:

![skirt](https://user-images.githubusercontent.com/4377312/42264749-dcae5bf2-7f71-11e8-83da-63f43d4ab3f9.png)

[2018-07-04 09:16] agramfort commented on #5315
feel free to try

[2018-07-04 13:30] larsoner commented on #5315
Please add this to the list of things for the open issue about topomap
deficiencies (there might even be a WIP PR by me on it? In any case the
issue should already be assigned to me if that helps you find it). This
problem should be probably be tackled at the same time, keeping in mind the
related considerations.

[2018-07-04 14:02] cbrnr commented on #5315
Alright, I assume you mean #5085 - I've added an item to the list.

[2018-07-05 15:05] neeyanthkvk opened #5318 "Conversion from Raw to ndarray"
Hello,

I'm not sure if I am missing anything in the documentation, but many of the methods, including filter_data asks for the data in the format of a numpy array. Other methods, including the ICA methods ask for the data in the form of the Raw file. The ICA method in specific asks for the data to be high-pass filtered, but I cannot find an easy way to convert the Raw file to a numpy array (I kno

[2018-07-05 15:14] cbrnr commented on #5318
If you want to filter a raw object, you can use its `raw.filter` method, no need to convert to a NumPy array. If you need access to the NumPy array, you can access it via `raw._data`.

[2018-07-05 15:20] neeyanthkvk commented on #5318
Is there a difference between RawEDF and the actual Raw classes? Most of the attributes seem to be the same (like raw.filter) but the raw._data doesn't seem to exist.

[2018-07-05 15:21] cbrnr commented on #5318
Make sure you pass `preload=True` when loading the EDF file.

[2018-07-05 15:22] neeyanthkvk commented on #5318
Yep! I see that now. Thanks!

[2018-07-05 20:41] jasmainak commented on #5318
you should do `raw[:][0]` to get the numpy array. Don't use private attributes

[2018-07-05 23:19] larsoner commented on #5311
Closing as non-MNE issue but feel free to reopen if there is something we need to do here

[2018-07-05 23:19] #5311 closed

[2018-07-05 23:37] #5318 closed

[2018-07-06 01:54] prabhuramachandran commented on #5288
@agramfort -- I just pushed Mayavi-4.6.1 to pypi.  Enjoy.

[2018-07-06 06:59] agramfort commented on #5288
great !

@Vincent-wq can you give a try to the new release?

[2018-07-06 07:42] ckiefer0 opened #5320 "raw.add_channels() creates duplicates in raw.info"
I am using mne v0.15 for my anaIysis and I want to add a new stimulus channel to an existing raw file based on a list of events. However, raw.add_channels() seems to create duplicates in raw.info.

I wrote the following function which is based on the discussion [here:](https://github.com/mne-tools/mne-python/issues/4208)

    def add_events_to_stim_channel(raw, events, ch_name='ET_events'):

[2018-07-06 08:47] agramfort commented on #5320
can you provide a full gist to replicate and reveal the issue?

[2018-07-06 09:53] ckiefer0 commented on #5320
Here is the link to the [gist](https://gist.github.com/ckiefer0/b00fb36936dd1ec441eb7d7a2f30c7e3). The code as well as the raw file can also be found [here](https://www.dropbox.com/sh/1hh26djlqo7txpi/AAAXzsIpYshbGEJAwbtdHVeTa?dl=0).

[2018-07-06 12:41] agramfort commented on #5320
the simplest way to replicate is this:

[code]

indeeds bads get duplicated. For the digs It does not seem so.

@larsoner do you have time to look?

[2018-07-06 14:43] agramfort commented on #5292
have a look https://github.com/mne-tools/mne-python/pull/5321

it's not finished though.

[2018-07-06 14:43] #5297 closed

[2018-07-09 07:48] #5292 closed

[2018-07-09 07:58] agramfort commented on #5292
@Heneark it should be fixed now. I also pushed a new version 0.16.2 to pypi.

you can do:

pip install -U mne

and hopefully everything should now work smoothly.

thanks for reporting the issue and your patience.

[2018-07-09 09:28] sappelhoff opened #5324 "Allow vlines=None in mne.viz.plot_compare_evokeds"
I think we should allow for a `vlines='None'` argument in mne.viz.plot_compare_evokeds. Because in (arguably rare) some cases you would not want to have any vlines ...

It can be solved by a simple `if-clause` around the code here:

https://github.com/mne-tools/mne-python/blob/e4c995b4517089f7f105a9afb997f1b05a4e3653/mne/viz/evoked.py#L2087-L2096

we just wouldn't plot anything and pass `vlines=[]

[2018-07-09 09:41] agramfort commented on #5324
2 remarks:
- you can still remove these lines after the plot using the fig object
- if you argue it's too complicated no strong objection for a PR

[2018-07-09 13:59] cbrnr commented on #5281
Now that we have our CoC, what about linking our existing contributing guide? Do you have time to look @massich?

Also, it would be great if we had short texts for our issue/PR templates. However, if GitHub insists on creating an actual template that users like me select and delete, it's probably not worth it. I don't think that this is possible, but maybe I didn't check hard enough. Anyone care t

[2018-07-09 14:04] larsoner opened #5325 "BUG: Issue with _map_effects"
After pytest-izing the tests, in `test_parametric.py` it looks like `_map_effects` is broken. cc @dengemann

[2018-07-10 07:15] abhisheksamal opened #5330 "Detecting events using EMG channel"

[2018-07-10 07:21] agramfort commented on #5330
this is not a bug/issue. Please use the mailing list for such general
questions.

[2018-07-10 07:59] #5330 closed

[2018-07-10 12:53] #5320 closed

[2018-07-11 11:05] Heneark commented on #5292
I upgraded to mne 0.16.2, `plot_joint()` is fixed, `interpolate_bads()` is fixed, but `pick_types(ref_meg=False)` still raises an error, thus the error from `beamformer.make_lcmv()` still occurs.

@agramfort Should I open another issue?

[2018-07-11 11:51] agramfort commented on #5292
had you a opened a dedicated issue with this last issue with a code snippet
I can replicate?

[2018-07-11 13:48] larsoner commented on #5292
I think you meant to link here

https://gist.github.com/Heneark/a183a24218302831860efc86c84c1950

Thanks for making it. We want to fix the problem generally, but the best solution will take some time. In the meantime it's quicker to squash the bugs one by one.

[2018-07-11 15:22] Kstoffer opened #5333 "Support for reading brainvision exported from NeurOne Tesla amplifier"
The Bittium NeurOne recording software is using some alternative spelling in their BrainVision export (.vhdr/.vmrk) files causing reading in MNE to fail, in order to enable reading of these I made some minimal changes to brainvision.py.
One could argue that the files should rather be fixed by Bittium - however reading via EEGLAB and fieldtrip work fine.
The changes are commented in the attached fi

[2018-07-11 15:29] larsoner commented on #5333
Yes can you open a PR so we can properly view a diff?

Is it possible for you to make and export a very short (1 sec?) BrainVision file with the NeurOne export so we can add it to the `mne-testing-data` repository?

[2018-07-11 15:29] agramfort commented on #5333
thx for reporting the issue.

any chance to you can send us a PR?

[2018-07-11 15:35] Kstoffer commented on #5333
That was a crazy fast reply.
Yes, I will create a PR and also create a short file next time I'm in the
lab. I might not add the PR today as I want to check that it still works
with real Brainvision files first.

Regards,
Kristoffer

On 11 July 2018 at 17:29, Eric Larson <notifications@github.com> wrote:

[2018-07-11 15:37] agramfort commented on #5333
MNE is a pretty active community :)

[2018-07-11 15:48] larsoner commented on #5333
Our CIs will take care of that for you. We have lots of units tests including several BV variants, so if you open the PR you can see what breaks.

Locally you can test for likely failures with:
[code]

[2018-07-12 14:43] cascam07 opened #5335 "Reading EGI Mff In Real Time"
I am currently trying to read from an EGI Mff file in real time and not time locked to any events. Essentially I would like to read the last X seconds of data every X seconds and do some computation on that data. The simple (and bad) solution would be to just reload the file every time I want to read from it and grab the last X seconds of data. But this is obviously problematic as the Mff is getti

[2018-07-12 15:03] jasmainak commented on #5335
If you use the fieldtrip buffer, you might be able to use [rt_client.get_data_as_epoch](https://martinos.org/mne/stable/generated/mne.realtime.FieldTripClient.html?highlight=get_data_as_epoch#mne.realtime.FieldTripClient.get_data_as_epoch). However, I don't know if this is possible for the EGI reader ...

[2018-07-12 18:45] larsoner commented on #5335
If you use `preload=False` it will only read in the header information when you do `read_raw_*`. Then to access the data you can do (I think?) `raw[:, -1000:]`

That is of course assuming the reader can properly ascertain the length of the file, which you'll have to try to find out

[2018-07-12 20:04] GalaChen opened #5336 "Artifact Correction with ICA"
Hi,
   I used MNE 0.14.1 to run the "Artifact Correction with ICA". However, when I run the code
`raw.filter(1, 40, n_jobs=2)`, I got error: "'module' object has no attribute '_args_from_interpreter_flags'
". However, I also can't import '_args_from_interpreter_flags' from module subprocess.
   So, what should I do to solve this problem?

[2018-07-12 20:10] larsoner commented on #5336
The latest release is MNE 0.16, can you upgrade?

It looks like this bug might be related to a conflict in the Python environments, are you using an old 2.7 env?

[2018-07-12 20:54] GalaChen commented on #5336
Thanks! I have fixed it!
When I upgrade my subprocess.py, It worked!

[2018-07-12 21:01] larsoner commented on #5336
Good to hear!

[2018-07-12 21:01] #5336 closed

[2018-07-13 15:18] cascam07 commented on #5335
Thank you for the responses!

I tried the `raw[:, -1000:]` suggestion this morning but for some reason anything I tried using negative indexing returned an array of zeros for the data, even though the array of times was correct. To get around it I just did something like this:

`seglen = 15 #sample last 15 seconds of data`
`raw = read_raw_egi(egi_fname_mff, include=None, preload=False)`
`sfreq = i

[2018-07-13 17:03] jhouck opened #5337 "Output volume estimates as NIfTI-2?"
Is it possible to output a volume STC as NIFTI-2 rather than NIFTI-1?  I have some fairly large files that exceed NIFTI-1's space constraints.  It looks like nibabel supports NIFTI-2 (of course it does), but I'm not sure how to get from a volume STC to a NIFTI-2 volume.   Would it be as simple as hacking _save_stc_as_volume to use nib.Nifti2Header and nib.Nifti2Image?

Thanks!

[2018-07-13 20:46] carlosgmartin opened #5339 "mne.Evoked.plot for different event types"
How can I get [mne.Evoked.plot](https://martinos.org/mne/dev/generated/mne.Evoked.html#mne.Evoked.plot) to plot the averages for different event types on the same axes, but in different colors?

[2018-07-14 07:01] agramfort commented on #5339
can

https://martinos.org/mne/stable/generated/mne.viz.plot_compare_evokeds.html#mne.viz.plot_compare_evokeds

do the job?

This tutorial can be useful:

https://martinos.org/mne/stable/auto_tutorials/plot_visualize_evoked.html

[2018-07-14 07:09] agramfort commented on #5337
it's the line that needs to changed:

https://github.com/mne-tools/mne-python/blob/master/mne/source_estimate.py#L3191

[2018-07-14 20:07] carlosgmartin commented on #5339
I'm getting `RuntimeError: No digitization points found.` when I try to set the `picks` parameter. Do you know why this might be happening?

[2018-07-16 14:48] larsoner opened #5342 "BUG: CTF and proj (re)application"
In principle we should be able to:

1. apply compensation or proj
2. compute forward on full set of channels
3. pick channels in data (maybe dropping compensation channels)
4. compute inverse without reapplying proj or compensation (#2310)

So we need to:

1. Always keep `info['comps']`.
2. Always keep `info['projs']` complete with the set of channels that were used when they were applied, i.e., d

[2018-07-16 15:18] larsoner commented on #5287
Fixed by #5327 which is now merged

[2018-07-16 15:18] #5287 closed

[2018-07-17 12:22] raubsau opened #5345 "EDF read in not working in certain files, read in slow"
[edf_test_edited.zip](https://github.com/mne-tools/mne-python/files/2201572/edf_test_edited.zip)
[edf_test.zip](https://github.com/mne-tools/mne-python/files/2201573/edf_test.zip)

1.
The attached EDF file "edf_test.edf" can be opened via pyedflib:
[code]
File cannot be opened with mne:
[code]
With nme, adding ```stim_chan = None``` solves the problem:
[code]
The same EDF file with annotations (ed

[2018-07-18 07:17] Vincent-wq commented on #5288
@prabhuramachandran @agramfort , sorry for the long delay, just came back from vocation.
I have tried the follows:
1. update mne to 0.16.2 version
2. update Mayavi to 4.6.1 version
but the same visualization problem still exists, the computation works perfect all the time, the rendering of the results is fine, but once I put my cursor on the windows of mayavi, it stops responding, maybe it is the

[2018-07-18 07:54] raubsau commented on #5345
Thank you very much, I appreciate your answer.
Let me know if I can be of any help with testing etc.

[2018-07-18 09:35] cbrnr commented on #5345
This might "just" be a documentation issue. Basically, you have an EDF file consisting of only one data channel (`edf_test.edf`). To load this file, you have to specify `stim_channel=None`, because otherwise it is assumed that the last (and only) channel is a stim channel. Of course this needs to be updated in the docs, or we can discuss whether we should change the default behavior to not parse s

[2018-07-18 10:54] larsoner commented on #5288
Or even simpler before that, can you interact with this window:
[code]

[2018-07-18 11:46] cbrnr commented on #5345
FWIW, here's my vectorization attempt:

[code]

The resulting `tal` byte string is identical to the bytes array object produces by the loop if there is only a single TAL channel. I have to think a bit more how to adapt this for the multi-channel case, but I didn't find a test for this case (let alone an example file).

@raubsau you could try to replace the lines I linked above with these two lines

[2018-07-18 14:33] stfnrpplngr opened #5346 "Resizing after dropping flat epochs fails - does not own its data"
Hi,

I get the following error:

[code]

A similar case has been reported [here](https://github.com/mne-tools/mne-python/pull/2211). @larsoner provided a [fix](https://github.com/mne-tools/mne-python/pull/2211/commits/3b3a68b9591de1240da90f8e137473d0a05dfda7) back then.

[2018-07-18 14:42] stfnrpplngr commented on #5346
A workaround:

`epochs = epochs.copy().drop_bad(flat=dict(seeg=100e-10))`

[2018-07-18 14:45] larsoner commented on #5346
Can you make a minimal `gist` from `sample` or (better) `testing` data showing the problem?

[2018-07-18 14:50] candleinwindsteve opened #5347 "plot error in plot_mne_inverse_label_connectivity.py"
Hi,

Can you please fix the bug in plot_mne_inverse_label_connectivity.py

fig = plt.figure(num=None, figsize=(8, 4), facecolor='black')
no_names = [''] * len(label_names)
for ii, method in enumerate(con_methods):
    plot_connectivity_circle(con_res[method], no_names, n_lines=300,
                             node_angles=node_angles, node_colors=label_colors,
                             title=me

[2018-07-18 15:02] larsoner commented on #5347
On my system I get two figures, the second of which has two subplots, which seems correct:

![screenshot from 2018-07-18 11-02-03](https://user-images.githubusercontent.com/2365790/42890109-0696cd7e-8a7a-11e8-8aa9-303a6c37fbc6.png)

![screenshot from 2018-07-18 11-02-05](https://user-images.githubusercontent.com/2365790/42890111-0859e524-8a7a-11e8-82b9-48bab2f72873.png)

Is this not what you see?

[2018-07-18 15:43] hichamjanati opened #5349 "Order of vertices in morphed source spaces"
Hi,

When morphing the source space of fsaverage to 'sample', the order of the morphed vertices is not preserved. The first 10 vertices of the morphed source space do not correspond to those of fsaverage:

fsaverage:

![fsaverage-sources](https://user-images.githubusercontent.com/17051500/42891633-19ab1fb0-8ab0-11e8-8450-b81062a742c5.png)

Morphed fsaverage -> sample:

![sample-sources](https://us

[2018-07-18 18:11] jasmainak commented on #5349
@hichamjanati can you ask you to open a PR? ;)

[2018-07-18 19:17] larsoner commented on #5347
@candleinwindsteve the images did not come through (they don't via email IIRC), can you go on GitHub and drag-drop them into a response?

[2018-07-18 19:48] agramfort commented on #5349
I think it's more complicated than this. I talked to @larsoner

MNE-C also outputs sorted vertices and I don't know why. We need @mshamalainen wisdom on this. For me it defeats the purpose of source space morphing as with this sorting you still have to do stc.morph for group studies.

If we remove the np.sort then we might break stuff like backward compat with MNE-C and also some of our functions

[2018-07-18 21:02] prabhuramachandran commented on #5288
But after you run `%gui qt` right?

[2018-07-18 21:06] jhouck commented on #5337
Thanks, that did it (well, the analogous change in a slightly older dev version).  The files also open without error in programs that can read nifti-2.  Is this worth adding as an argument to the function?  It would be a week or so before I can get back to it.

[2018-07-19 00:08] larsoner commented on #5337
Sure `format='nifti1'` default with new `'nifti2'` option would be good.

[2018-07-19 08:42] agramfort commented on #5337
I would add a parameter. To be honest I don't have enough experience with
Nifti2 vs Nifti1 to make an educated decision.

you're in charge :)

[2018-07-19 17:32] larsoner commented on #5347
Are you on the `master` version of MNE? We don't use `axisbg` anywhere anymore.

[2018-07-19 19:30] candleinwindsteve commented on #5347
There are two warnings, do you think it is the first one that caused the problem? I feel it is not compatible with tight_layout that caused this issue. I am using the version that Martinos center has set up, I think probably I should install the latest version myself.

[2018-07-19 19:38] larsoner commented on #5347
I don't think either warning caused the problem, but I do think they are indicative that you are using some older code somewhere that should be updated. In this case I suspect the MNE code you are using is old. What is your current `mne.__version__` and `mne.sys_info()`?

[2018-07-19 19:56] candleinwindsteve commented on #5347
mne.__version__
Out[3]: '0.14.1'
mne.sys_info()
Platform:      Linux-3.10.0-693.21.1.el7.x86_64-x86_64-with-centos-7.4.1708-Core
Python:        2.7.13 |Anaconda custom (64-bit)| (default, Dec 20 2016, 23:09:15)  [GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
Executable:    /usr/pubsw/packages/python/anaconda2.7/bin/python2.7
mne:           0.14.1
numpy:         1.12.1 {lapack=mkl_intel_lp64, blas=mkl_inte

[2018-07-19 19:58] larsoner commented on #5347
That is a couple of versions behind, you should probably update. You might want to use your own local install of Python, too.

[2018-07-19 20:16] candleinwindsteve commented on #5347
Thanks, I wil set up my own env.

[2018-07-19 20:17] larsoner commented on #5347
Okay, feel free to reopen if it still doesn't work with latest `mne`

[2018-07-19 20:17] #5347 closed

[2018-07-20 04:45] maedoc opened #5356 "Brainvision marker parser fails w/ [] characters"
I have a (perhaps poorly chosen) marker in a file I received,
[code]
which at `brainvision.py:269` is being found with
[code]
but this regex stops completely at the `[` character, not finding the rest of the line nor the markers which follow.

I'm not a regex ninja but if I manage to fix, I'll send a PR.  In the meantime, I will change remove the offending characters in the file and move on.

[2018-07-23 13:30] #5258 closed

[2018-07-23 13:55] sappelhoff opened #5357 "Brainvision does not read meas_date properly"
The `raw.info['meas_date']` is defined in the [docs](https://martinos.org/mne/dev/generated/mne.Info.html#mne.Info) to do this:

[code]
First of all: Why would we need a list of
- POSIX miliseconds
- and then POSIX microseconds?

Second: When reading brainvision data, the following is executed concerning `raw.info['meas_date]`

https://github.com/mne-tools/mne-python/blob/241161d00d685c988a5937888

[2018-07-23 14:08] larsoner commented on #5357
`time.time()` is wrong, yes please read from the file if you can

[2018-07-23 14:09] larsoner commented on #5357
Probably due to file storage specifications of FIFF

[2018-07-23 14:09] larsoner commented on #5357
(microseconds are *in addition to* the specified number of milliseconds)

[2018-07-23 15:48] GalaChen opened #5359 "Some problem about importing .set file from EEGLAB"
Hello,
I want to use mne.io.read_raw_eeglab to import .set file from eeglab. However, it always report error with "No such file or directory: 'xxxx.set.mat". I can't understand why it append '.mat' to my .set file.
I have read the issues: [https://github.com/mne-tools/mne-python/issues/2672](url), it recommended some solution ways. Every method in that issue that I have tried didn't work in my com

[2018-07-23 18:45] larsoner commented on #5359
That is a bit odd, since we don't have this problem on our CIs. Can you try adding `appendmat=False` to the `loadmat` calls in `mne/io/eeglab/eeglab.py` to see if that fixes the problem? Eventually #5326 should take care of this problem.

[2018-07-23 22:38] GalaChen commented on #5359
Thanks for help from @larsoner

Follow your suggestion, I upgrade my eeglab.py according to [#5326](https://github.com/mne-tools/mne-python/pull/5326).
However, when I use mne.io.read_raw_eeglab(raw_fname), it reported like follow:
“TypeError: read_mat() got an unexpected keyword argument 'uint16_codec'.”

So, what I should do to fix it?

[2018-07-24 06:39] agramfort commented on #5357
indeed this needs improvement.

please open a PR.

thanks

[2018-07-24 08:31] omergra opened #5360 "Importing\working with a general format"
Hi,
I'm working with an EEG/EMG system that was made in my lab.
The output files from the hardware are 'rhd' files.
I then convert them to xarray dataset for easier analysis.
I was thinking about working with MNE, but there seems to be no general format I can use to import my data.
Can we open a project to deal with this issue?
 maybe csv or jason files - importing?

Omer

[2018-07-24 08:50] sappelhoff commented on #5357
This still does not make sense to me. See this example:

[code]

This would give us `[1384355643.0, 1384355643000000.0]`. How does that help?

[2018-07-24 10:45] britta-wstnr opened #5362 "ENH: Ditching regularization - beamformer with rank-based inversion of cov matrix"
We have been experimenting with @sarangnemo with a beamformer variant that does not require the setting of a regularization parameter. Instead of regularizing the covariance matrix, it estimates the rank of the covariance matrix and sets the number of rank-deficient components to zero during the inversion of the covariance matrix. Thus, the enhancement of this method is that there is no "guessing"

[2018-07-24 12:20] larsoner commented on #5357
That looks like a bug

[2018-07-24 12:47] larsoner commented on #5362
We do an operation like this for the whitening step in minimum norm inversion. It involves use of an optional `rank` parameter. It would be great if you could reuse code there as much as possible to do this. And it sounds like a great way to make the two operations have more similar options.

[2018-07-24 13:09] larsoner commented on #5360
Have you looked at RawArray / EpochsArray / EvokedArray?

[2018-07-24 13:10] larsoner commented on #5360
https://martinos.org/mne/stable/auto_examples/io/plot_objects_from_arrays.html#sphx-glr-auto-examples-io-plot-objects-from-arrays-py

[2018-07-24 13:10] #5360 closed

[2018-07-24 13:22] larsoner commented on #5359
For now do not take `eeglab.py` from #5326. Just use your original `eeglab.py` and modify any `loadmat` calls to have `appendmat=False`

[2018-07-24 17:49] GalaChen commented on #5359
I tied it and modify all `loadmat` in `mne/io/eeglab/eeglab.py`, but it doesn't work.
Is there any other method to fix this problem?

[2018-07-24 19:45] agramfort commented on #5362
yes we should do this by default. as @larsoner says it's what is done in MNE/dSPM during the withening step.

cc @vlitvak who suggested the same thing.

we have our phantom data to test this.

[2018-07-24 19:53] larsoner commented on #5359
Can you upload a small file somewhere and code snippet demonstrating the problem?

[2018-07-24 20:55] #5290 closed

[2018-07-25 06:09] cbrnr commented on #5359
This file contains epochs so you need to load it with `mne.io.read_epochs_eeglab`. Furthermore, the actual data contained in `1_LH.fdt` is missing.

[2018-07-25 09:30] PoiScript opened #5364 "How can I change the dtype of RawEDF?"
mne-python threw a memory error when I was trying to load a 3.5G edf file. Then I realized that it attempted to create a float64 array which was about 15G and caused the error.

So I wanna know how to change the `dtype` of `RawEDF` class? Data are stores as 2 bytes integer in EDF file. It just wastes memory to use float64.

[2018-07-25 09:56] cbrnr commented on #5364
If you want to do any calculations with the data it is necessary to convert the 16bit integer values to floats (during this process, the data are also rescaled). You could try to use a memory-mapped file on disk by setting the `preload` argument to a file name.

[2018-07-25 11:30] raubsau commented on #5345
@cbrnr here are the results after replacing the lines:

Without `stim_channel=None`:
[code]

With `stim_channel=None`
[code]

[2018-07-25 12:03] cbrnr commented on #5345
So this would be a 21x speedup from 4.59s to 0.214s. Just to make sure, could you run the old code with `stim_channel=None` again to see if it really takes that long?

[2018-07-25 12:04] cbrnr commented on #5345
Sorry, I meant *without* `stim_channel=None`.

[2018-07-25 13:42] #5357 closed

[2018-07-25 17:17] raubsau commented on #5345
**mne 0.16.2, patched:**
[code]

Testing with an EDF file of 24h length and 168 annotations (unfortunately I cannot share it):
[code]

**mne 0.16.2, unpatched:**
[code]

Testing with an EDF file of 24h length and 168 annotations:
[code]

Conclusions:
patching speeds up the reading in;
with`stim_channel=None` annotations cannot be accessed.

[2018-07-25 20:16] GalaChen commented on #5359
Yes, actual data contained `1_LH.fdt`
According to your advice, I used `mne.io.read_epochs_eeglab`, but it still report error about
"No such file or directory: 'F:/MNE/MNE-Practice/Class-Copy/main-ERP1/data/1_LH.fdt.mat'"

So, how can I fix this error?

I'm a newer about EEGLAB and MNE, could you help and tell me how should I do with `1_LH.fdt`?

[2018-07-26 06:22] cbrnr commented on #5345
Thanks @raubsau, this is valuable information. So we should definitely try to replace the existing slow loop with vectorized code. I need to spend some time tweaking the code, because currently it only works for a single stim channel. However, EDF+ supports more than one stim channel, and I need to take this into account.

And yes, if `stim_channel=None` it is expected that you cannot access annot

[2018-07-26 06:50] PoiScript commented on #5364
Sorry for the delayed response. Look like I was wrong in the frist place. I will try your suggestion instead. Thanks. Closing this one.

[2018-07-26 06:50] #5364 closed

[2018-07-26 08:14] PoiScript commented on #5364
OK... I had tried to setup the edf file as a memory-mapped file, however I got an error as follow:

[code]

And there is not document or example about using memory-mapped file, so I'm not sure which is the correct way to do so.

[2018-07-26 08:41] cbrnr commented on #5364
I have never used memory-mapped files myself, but I think it should be something like `raw = mne.io.read_raw_edf("test.edf", preload="mmap.mm")`, which creates a file named `mmap.mm` (but you can choose a different file name if you want).

[2018-07-26 08:51] PoiScript commented on #5364
@cbrnr Oh, thank for your quick response. Look like it's going to create a memory-mapped file for you and you don't have to do it manually.

[2018-07-26 09:53] raubsau commented on #5345
@cbrnr Thank you for the reply. What about files with no stim channel but user-generated annotations (events marked as in `edf_test_edited.edf`)? These occur alot in my field... any chance to implement a read in with text annotations that are not stimulation information?

[2018-07-26 10:06] britta-wstnr opened #5365 "ENH: agenda for beamformer module"
Let's keep record  of what issues and enhancements are still open with the beamformer code (*not* including visualization etc.). Here is a list of open issues and PRs and other things that need to be done:

 - [ ] **Projections in beamfomer code**
   Still open from #5135: how should DICS handle projections? Also related to #5342.
 - [ ] **[BUG] Orienation selection in unit-noise-gain DICS**
   Co

[2018-07-26 10:12] britta-wstnr commented on #5362
so far, I implemented it from scratch to be able to easily play around with it, if it goes into MNE-Python we should of course refactor! So thanks for the hints, I will look into it!

[2018-07-26 10:19] cbrnr commented on #5345
Annotations are only possible with EDF+. They are stored in regular channels, which are parsed by MNE if `stim_channel='auto' (the default). Due to historic reasons MNE always creates a stim channel from these annotations, which means that text gets lost. However, you can always recover the original annotations using `raw.find_edf_events()`.

[2018-07-26 12:53] raubsau commented on #5345
Thank you, I did not know that.

[2018-07-26 13:50] nrafidi opened #5366 "plot always behaves as if clim 'kind' is 'percent' even when 'value' is specified"
The following code snippet:

`mne.viz.plot_source_estimates(src, subject=STRUCTURAL, background=bk, surface='inflated', hemi='lh', views='lat', clim={'kind': 'value', 'lims': lims}, colormap=cmap, subjects_dir=SUBJ_DIR, smoothing_steps=smoothing_steps, spacing='ico4', backend='matplotlib')`

Is faulty. Even though clim 'kind' is specified as 'value', the resulting plot is scaled as if 'kind' were

[2018-07-26 15:14] underscoredam opened #5368 "Missing tmax parameter in the constructor of EpochsArray?"
In the constructor of `Epochs` class, there are both `tmax` and `tmin` parameters. However, in the constructor of `EpochsArray` class, there is no `tmax` parameter (although the `reject_tmax` parameter exists in both constructors). Is this a bug? If it is, I can submit a pull request.

This question arose when I wanted to play with a subset, a window, of epochs. I have an `EpochsArray` instance, `

[2018-07-26 15:41] larsoner commented on #5368
given `tmax`, `info['sfreq']`, and `data.shape[-1]` the `tmax` is implied. If you want a different window, contsruct the `EpochsArray` then do `epochs.crop`

[2018-07-26 15:41] #5368 closed

[2018-07-26 17:18] larsoner commented on #5365
Sounds reasonable to me

[2018-07-26 20:10] agramfort commented on #5366
thanks @nrafidi

can you open a PR?

[2018-07-26 20:20] agramfort commented on #5345
I don't have much time to comment but the annotations in edf files should
become raw.annotations attribute by default and not produce a stim channel
if not present in the file. Then it should be possible to get events from
raw.annotations.

See previous discussion on this.

It will speed up IO by avoiding extra allocations and heavily simply EDF IO
code, especially with preload=False

[2018-07-26 21:43] corscheid opened #5369 "mne.SourceEstimate.plot() Graph Unresponsive"
I followed the installation and setup tutorial given at:
https://www.martinos.org/mne/stable/getting_started.html

Then I downloaded and tried to run this full example script given at:
https://martinos.org/mne/stable/_downloads/plot_mne_dspm_source_localization.py

It runs to the end, but the five brain plots that pop up are instantly unresponsive.

Here is my sys_info() output:
[code]

There are

[2018-07-27 00:19] larsoner commented on #5359
@GalaChen I have updated #5326, can you try using that bracnh?

[2018-07-27 00:41] larsoner commented on #5369
Can you try using `%matplotlib qt` and/or `%gui qt`? It starts up an event loop that should also process the Mayavi events

[2018-07-27 06:02] wmvanvliet commented on #5365
Yeah, I agree on all these points.

Regarding projections with DICS: turns out, applying SSPs to a CSD works exactly the same as applying them to a covariance matrix! See this gist: https://gist.github.com/wmvanvliet/fe04c40e27c8f81422596163d41563ca

[2018-07-27 06:34] agramfort commented on #5345
see https://github.com/mne-tools/mne-python/pull/4864

I should have opened a proper issue though

cc @massich

[2018-07-27 07:56] sappelhoff commented on #5356
Mmh are you sure this is due to the square brackets? Fiddling around a bit on [regex101](https://regex101.com/r/wubbJb/1) shows that the regex works as expected (at least on that line) ...

Could you share the `.vmrk`?

[2018-07-27 07:58] stfnrpplngr commented on #5346
I'm sorry for the delay:

[code]

[2018-07-27 08:31] cbrnr commented on #5356
Yes, `.` matches any character including square brackets.

[2018-07-27 14:53] massich opened #5370 "mayavi issues with vtk and tvtk"
I was following our installation instructions and I got into trouble with vtk and tvtk. See the following snipped:

[code]

we get this warning:
[code]

and finally crashes:
[code]

edit:
Installing mayavi from master solves it.
[code]

Shall we modify the doc or something?

[2018-07-27 18:04] corscheid commented on #5369
Hi @larsoner

Running `%matplotlib qt` from the Ipython console prevents the freeze.  I also noticed that changing Spyder settings for IPython console Graphics backend from `Inline` to `Qt5` has the same effect as running `%matplotlib qt` but it's persistent.

The buttons at the top of the plot window don't respond or do anything, but even so, at least the plot isn't unresponsive and I can drag th

[2018-07-28 17:32] underscoredam opened #5372 "Can the parameter "picks" be added to EpochArray?"
The constructor of `EpochArray` does not have the `picks` parameter, while the constructor of its superclass, `BaseEpochs` does. Can I add the parameter and send a pull request?

[2018-07-28 21:54] larsoner commented on #5372
It doesn't seem totally necessary to add it as you can do data[:, picks,:] and mne.io.pick_info(info,picks) before passing to the constructor

[2018-07-29 08:00] agramfort commented on #5372
agreed.

[2018-07-29 08:00] #5372 closed

[2018-07-29 15:17] rhancockn opened #5373 "Handle EGI MFF files with multiple epochs"
`mne.io.read_raw_egi` does not properly process MFF files with multiple epochs. In the worst case, the function returns, but the events are misaligned with respect to the data. In the best case, the function raises an exception as events are created beyond the end of the recording as below. The event start times need to be adjusted to account for any time gaps between the epochs.

[code]

[2018-07-29 15:49] agramfort commented on #5373
duplicate of https://github.com/mne-tools/mne-python/issues/5027 ?

[2018-07-29 17:50] rhancockn commented on #5373
Actually a duplicate of #4759 but not fixed by 261a678.

[2018-07-29 19:54] mmagnuski commented on #5368
@underscoredam: just to clarify - Eric meant: "given **tmin**, ..."

[2018-07-30 11:48] jona-sassenhagen commented on #5339
Can you show your code? It might be a bug.

[2018-07-30 11:49] jona-sassenhagen commented on #5324
Can you pass an empty list already to `plot_compare_evokeds`? If not, maybe we should just make that possible by adding an if before the `ax.vlines`.

[2018-07-30 14:52] genisprat opened #5375 "MNE Coreg fiducials disappear"
We are using MNE coreg to mark the fiducial locations in MRI images. We observe some strange behavior whenver one of the fiducials is in front of the head. In this case the fiducial disappears and is not visible anymore. To illustrate this with this screenshots:

![coreg_1](https://user-images.githubusercontent.com/22342465/43404497-ee10bc2c-9417-11e8-964d-09f7036b2951.png)
Here all three fiducial

[2018-07-30 14:54] larsoner commented on #5375
We draw the *inside* of the head opaque at all times. I suspect the *outside* of the head surface for you is fully transparent (the transparency is controllable). Can you cehck in `Display options...` if you have the head opacity at or near 0?

This behavior also manifests as the head turning "the wrong direction" when you click-drag to rotate.

[2018-07-30 15:03] genisprat commented on #5375
Thanks for the quick reply! This behavior does not change when we change the opacity slider in the display options. So fiducials disappear across the full range of opacity values.

[2018-07-30 15:07] larsoner commented on #5375
If you have time, you could click the somewhat-triangular icon in the upper left corner of the display area. This is the Mayavi pipeline editor. You should be able to tweak params of the surfaces we display (there should be two, one for inside and one for outside the head).

I'm not sure offhand what would cause this. I would try changing the visibility of the inside- and outside-of-head surfaces

[2018-07-30 15:17] genisprat commented on #5375
Yes! Setting both to .5 makes them visible, but they are still occluded by both surfaces. Setting only one to 0.5 does not work. But this is definetly workable! Thank you very much!

[2018-07-30 15:18] larsoner commented on #5375
Does setting both to 0.99 work? Sometimes with an actual value of `1.` Mayavi messes things up.

[2018-07-30 15:20] genisprat commented on #5375
No, that doesn't work... We are happy to help by trying out more suggestions if anything comes to mind!

[2018-07-30 15:22] larsoner commented on #5375
So in the front-left view (second screenshot you posted), you don't see any of the nasion or LPA?

[2018-07-30 15:23] genisprat commented on #5375
Yes, even though all screenshots are taken from the same scene, so nasion and LPA should be visible.

[2018-07-30 16:30] jona-sassenhagen commented on #5269
Could we maybe add a log message when reading in raw files without a montage, and if the channel names appear to be 10/20 (could be easily checked), that the user could do as @cbrnr suggested above if they want to use channel locs?

I'm mainly thinking about making life easier for newbie EEG people. Not being required to figure out how montages work and where the montage files are placed/bring the

[2018-07-30 16:31] jona-sassenhagen commented on #5356
I think @teonbrooks wrote that code? :)

[2018-07-30 16:36] jona-sassenhagen commented on #5128
Essentially a duplicate of #4606, right?

We should probably eventually get `cross_val_multipredict`, which is what @giuliagennari is asking for, I think.

[2018-07-30 16:38] jona-sassenhagen commented on #5089
Retrospectively, it appears to me to be very inelegant that the decoding and (implicitly-)encoding functionality expects data to be in different shapes.

[2018-07-30 17:07] jona-sassenhagen commented on #5275
I guess it should live in tutorials, and be referenced from the manual? I can make a sketch PR soon.

[2018-07-30 19:52] agramfort commented on #5269
what would this imply in terms of code / API change?

[2018-07-30 19:53] agramfort commented on #5128
I am fine coding the equivalent of http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_predict.html

[2018-07-30 19:53] agramfort commented on #5275
would be great

[2018-07-30 19:54] jona-sassenhagen commented on #5269
Nothing :) Just a log message if:

- no montage is explicitly passed, and cannot be inferred from the raw file either
- the channel names follow the 10/20 format -- i.e., are all present in the standard_1005 file.

[2018-07-30 19:58] agramfort commented on #5269
let's see how this PR looks like :)

[2018-07-30 19:59] jona-sassenhagen commented on #5269
I'll do it if some of the other EEG people think it might be a good idea ... @cbrnr @mmagnuski @sappelhoff ?

[2018-07-30 20:00] agramfort commented on #5089
what do you suggest?

[2018-07-30 20:03] jona-sassenhagen commented on #5089
Maybe add a kwarg "data_orientation" and a 3-release switch that goes:

data_orientation="e_t_c" default, warn that it will change to "e_c_t"
data_orientation="e_c_t"
delete keyword

?

That is, if consistency between decoding and encoding is actually agreed to be useful. Maybe it's not actually inherently desirable.

@choldgraf @larsoner @kingjr

[2018-07-30 23:46] mmagnuski commented on #5269
Sure, I like it!

[2018-07-31 00:59] larsoner commented on #5089
I don't have much of an opinion

[2018-07-31 09:03] maedoc commented on #5356
@sappelhoff indeed. I just realized that a few lines up from there, there's a regex for `r"\[.*\]"` that may be the culprit.

[2018-07-31 16:50] alexrockhill opened #5382 "Memory-Mapping Preload Fails When Adding Channels"
When data is memory-mapped to a file, there is a memory error in:

e-packages/mne/channels/channels.py", line 877, in add_channels
    data = np.concatenate(data, axis=con_axis)
MemoryError

[2018-07-31 17:05] corscheid opened #5383 "mne.SourceEstimate.data array"
Hi, I really really hate to post general questions on GitHub Issues, but I don't know where else to go. Is there an MNE Python forum? I tried to join the mailing list but I don't think it was successful.

My current question is, what exactly is stc.data?

I know that it's a 2D array of vertices x time and that vertices could be voxels. But I'm not sure if the float values in that array are current

[2018-07-31 19:24] jona-sassenhagen opened #5384 "ref_meg trouble"
My MEG data says this now with essentially anything I do:

[code]

... what? Happens, for example, when I do `raw.pick_types(meg=True, ref_meg=False)`.
I can `raw.apply_gradient_compensation(0)`, but then my data looks kind of shitty.

[2018-07-31 19:28] jona-sassenhagen commented on #5384
This works:

[code]

But it feels very wrong. And it doesn't work for many functions.

[2018-07-31 20:44] jasmainak commented on #5382
A [minimal reproducible example](http://sscce.org/) on [gist](https://gist.github.com/) would be very much appreciated

[2018-07-31 23:41] larsoner commented on #5384
We have had a number of these. Should be fixed by #5342, feel free to comment on that proposal

[2018-08-01 02:26] larsoner commented on #5383
As I mentioned on the mailing list, maybe a good start would be `plot_object_sourceestimate.py` that talks about:

1. what `.data` includes
2. what `.vertices` are
3. how these index a high-res surface
4. how to get the corresponding coordinates in Freesurfer RAS, MRI RAS, etc.
5. example of upsampling from these to the high-res surface

@corscheid would that help? Are there other things that woul

[2018-08-01 02:35] alexrockhill commented on #5382
https://gist.github.com/alexrockhill/f2ddbae467e8e5728db48834f2601e0d

Here is a gist that could work. There is some difficulty because the memory error depends on the RAM of the machine and also to create a RawArray, one must be able to load the RawArray into memory, so there must be a workaround where many raw files are made and loaded into memory-mapped files.

[2018-08-01 03:12] corscheid commented on #5383
@larsoner Yes, I think that would be very helpful. I'm not 100% sure what else would be good to add off the top of my head right now, but the more EEG-specific documentation (particularly from raw EEG data to source localization data and plotting) there is, the better, I think. I also spent a good bit of time wondering what a .fif file is, where they are expected to come from, and how all that wor

[2018-08-01 07:10] agramfort commented on #5383
maybe add these info here http://martinos.org/mne/stable/faq.html ?

[2018-08-01 07:15] agramfort commented on #5384
@jona-sassenhagen what is a gist that allows to replicate this issue? you have a number of tiny CTF files in the mne-testing-data folder.

[2018-08-01 11:26] #5346 closed

[2018-08-01 11:33] #4650 closed

[2018-08-01 11:38] larsoner commented on #5383
I think there is too much information to cover for it the be appropriate for the FAQ

[2018-08-01 12:00] agramfort commented on #5383
then add a page in section on "data structures and containers" in the
documentation.

[2018-08-01 13:34] britta-wstnr commented on #5365
Added storing of source orientations in ``filters``.
cc @sarangnemo

[2018-08-01 13:51] larsoner commented on #5383
My preference would be a `plot_object_sourceestimate.py` like we have for raw/epochs/evoked, or a `plot_background_freesurfer.py`. I fear "data structures and containers" is too general / broad.

[2018-08-02 07:25] agramfort commented on #5383
@TommyClausner I think you have now all the knowledge to explain this.

can you take a stab at this? while you wait for us to review the other PR...

[2018-08-02 09:24] TommyClausner commented on #5383
Hey @agramfort I appreciate your optimism ("all the knowledge to explain this") ;)

What I would do now is:
- making ``plot_object_sourceestimate.py`` (guess this might work)
- making ``plot_background_freesurfer.py`` - I know and used FreeSurfer a bit outside mne, however I have to dive a bit more into how exactly the steps in mne are - or are you really just interested in FreeSurfer and only Fre

[2018-08-02 13:33] larsoner commented on #5383
For FS just the parts we use, like high res mesh, decimated mesh, downsampling, upsampling, labels, annotations.

[2018-08-02 13:39] hekolk opened #5387 "Missing support for arbitrary BrainVision marker types"
The BrainVision ``vmrk`` files allow for arbitrary marker types, but MNE currently only handles ``Response`` markers separately.

For example, we use optical markers to correct for display latencies, which leads to a marker files looking like the following excerpt:

[code]

The documentation allows for arbitrary types (see #5357). Currently only the type ``Response`` is handled  (``response_trig_s

[2018-08-02 14:04] agramfort commented on #5387
no objection for the suggested change.

[2018-08-02 18:38] GalaChen commented on #5359
Platform:      Windows-post2008Server-6.2.9200
Python:        2.7 (r27:82525, Jul  4 2010, 07:43:08) [MSC v.1500 64 bit (AMD64)]
Executable:    D:\Program Files\Python 2.7\python.exe
CPU:           Intel64 Family 6 Model 58 Stepping 9, GenuineIntel: 4 cores
Memory:        Unavailable (requires "psutil" package)
mne:           0.16.2
numpy:         1.13.1 {lapack=mkl_lapack95_lp64, blas=mkl_lapack9

[2018-08-02 20:21] nugenta opened #5390 "installation problems on python3"
EDIT: To do:

- [ ] update install docs to mention warnings are not fatal
- [ ] update `environment.yml` to avoid mkl warnings
- [ ] update install docs to mention the MESA version workaround @nugenta found

Original post:

I had this working, then a system upgrade broke my conda environments.  Now I'm running a miniconda install. I've tried:

$ curl -O https://raw.githubusercontent.com/mne-tools/

[2018-08-03 12:53] agramfort commented on #4833
thanks !

[2018-08-03 12:55] agramfort commented on #5359
@GalaChen no idea what's going on.

See if you can work with the dev version of MNE and fix the code to make it work on your system.

[2018-08-03 12:58] agramfort commented on #5390
are you working on a remote system?

[2018-08-03 13:00] agramfort commented on #5383
for plot_object_sourceestimate i imagine you explaining the logic of
stc.vertices and stc.data and how it relates to src[0]['rr'] to have
locations.

[2018-08-03 15:38] nugenta commented on #5390
Yes; I'm using NoMachine.

[2018-08-03 20:30] #5387 closed

[2018-08-04 07:40] agramfort commented on #5288
@Vincent-wq can I close this?

[2018-08-04 07:47] agramfort commented on #5390
ok so it's via a remote desktop system.

Do you have the pb if you work directly from the machine? Just to know
if it can be a VNC issue.

[2018-08-04 08:14] agramfort commented on #5384
@jona-sassenhagen a fix along these lines https://github.com/mne-tools/mne-python/pull/5388

please share a gist to know how we can fix this.

[2018-08-04 08:15] agramfort commented on #4917
closing. @suntracks reopen if you think it's still relevant.

[2018-08-04 08:15] #4917 closed

[2018-08-04 08:55] agramfort commented on #5333
@Kstoffer I took your patch that was coming for a rather old version of the master branch.

can you have a look at https://github.com/mne-tools/mne-python/pull/5392 and tell me if it works for you?

thanks

[2018-08-04 08:58] agramfort commented on #5281
we just miss an issue template now.

@cbrnr or @massich can you have a look?

[2018-08-04 08:58] agramfort commented on #5281
see https://github.com/mne-tools/mne-python/community

[2018-08-04 09:02] agramfort commented on #5267
@dnacombo use:

[code]

[2018-08-04 09:02] #5267 closed

[2018-08-04 09:05] agramfort commented on #5210
@monkeyman192 can we close this?

[2018-08-04 09:09] agramfort commented on #5206
fixed by #5393

[2018-08-04 09:10] #5169 closed

[2018-08-04 09:12] agramfort commented on #5282
@antopolskiy can you take a stab at exposing the param for your use case?

[2018-08-04 09:17] agramfort commented on #5168
@massich can we close or anything to fix?

[2018-08-04 09:31] agramfort commented on #4957
@kingjr I cannot replicate.

Putting some of these lines in our tests do not crash:

[code]

[2018-08-04 09:33] agramfort commented on #5237
@jona-sassenhagen still not volunteering?

[2018-08-04 09:35] agramfort commented on #4947
small reminder @dengemann :)

[2018-08-04 09:36] agramfort commented on #4833
@thht can you put tick boxes in issue description with things that already work and what is still todo?

[2018-08-04 09:38] agramfort commented on #4851
@cbrnr I am not sure what you had in mind here? can you point to a code duplication or possible inconsistency?

[2018-08-04 09:39] agramfort commented on #4896
@SherazKhan is this still relevant? do you have time to look?

[2018-08-04 09:56] agramfort commented on #5117
I would add a section on indexing Epochs in

http://martinos.org/mne/stable/auto_tutorials/plot_object_epochs.html

arguably I would have expected to such a section to already exist... But I don't know where hum ...

[2018-08-04 10:04] agramfort commented on #5128
yes dupe of #4606

[2018-08-04 10:04] #5128 closed

[2018-08-04 10:24] agramfort commented on #4606
see #5394

[2018-08-04 10:26] #5206 closed

[2018-08-04 11:43] monkeyman192 commented on #5210
Yep, sorry. This issue is essentially covered by [this](https://github.com/mne-tools/mne-bids/issues/47)

[2018-08-04 11:49] #5210 closed

[2018-08-04 14:37] nugenta commented on #5390
It's a centralized server I don't have access to.  I got mne coreg running fine under python 2.7 through NoMachine, back when the python3 install was more experimental. I don't remember if I had to change anything to make it work.

Do you think the two versions of VTK is a problem? I've similar issues with cloning environments or using .yml's before. You get an environment working, then export a .

[2018-08-04 17:17] prabhuramachandran commented on #5288
@agramfort -- this is also relevant: https://github.com/enthought/mayavi/pull/683 , it is possible that the earlier release did not implement the compiler check correctly.  Should be fixed in master.

[2018-08-04 19:58] jona-sassenhagen commented on #3442
I closed/crossed out a few that had been done since.
8 issues still open.

[2018-08-04 20:00] jona-sassenhagen commented on #5269
@cbrnr ? Would like to have your opinion first.

[2018-08-04 20:02] #4686 closed

[2018-08-04 20:03] jona-sassenhagen commented on #4686
Closed by #5263

(Could still use an example though.)

[2018-08-04 20:24] Pezz89 opened #5397 "Bug with trimming padded array in fft_resample"
Calling:
`raw, events = raw.resample(128, events=events, npad=10)`

Results in the following error:
[code]
Due to incorrect handling of array trimming when trimming the end of the array is 0 samples long in cuda.py (line 378-383):
[code]

[2018-08-04 20:42] jona-sassenhagen commented on #3442
@kingjr any idea for an example for UnsupervisedSpatialFilter with the example data? The only thing I can think of is show that you can use an unregularized algorithm when p > n by reducing p in dimensionality via PCA, i.e., for the MEG data with many channels and few trials.

[2018-08-04 20:43] jona-sassenhagen commented on #1157
I want `stc["banks-sts"].plot()` to work :|

[2018-08-04 20:51] larsoner commented on #1157
Any idea for an API?

The problem as I see it is that what you want is some variant of `read_labels_from_annot` followed by `extract_label_time_course` followed by a plotting operation, but there are many options for `read_labels_from_annot` and `extract_label_time_course`.

[2018-08-04 20:52] jona-sassenhagen commented on #1157
Nope. I may have noted before I'm utterly clueless concerning all things source space.

[2018-08-04 20:53] larsoner commented on #1157
Okay I'll close for now but if someone can think of an API let's reopen and discuss

[2018-08-04 20:53] #1157 closed

[2018-08-04 21:05] jona-sassenhagen opened #5400 "Allow `@` queries for metadata"
Metadata-based querying of Epochs is very powerful. For example, these work:

[code]

But what doesn't work is pulling a variable from the current scope with `@`:

[code]

This works, in Pandas. But this errors:

[code]

Would be cool to have!

@choldgraf

[2018-08-04 21:06] jona-sassenhagen commented on #5237
As you see, I just opened 3 other PRs instead 8)

[2018-08-04 21:12] larsoner commented on #5237
Given how easy it is to manually add `matplotlib` and `mayavi` figures using the `add_*` functions, I'm not sure we should add too many of these. PSD calculation on raw can take a while, too. But I agree this is almost always useful, so on the balance I'm +0.5 on adding it. I might have time to try

[2018-08-04 21:17] jona-sassenhagen opened #5401 "ica.plot_properties only plots 3 epochs with raw input?"
Try:

[code]

Gives:

<img width="491" alt="unknown-191" src="https://user-images.githubusercontent.com/4321826/43680492-68ce6a04-983c-11e8-9b40-79552bc99cb3.png">

I.e., for some reason, only 3 "epochs" are plotted.

@mmagnuski

[2018-08-04 21:25] jona-sassenhagen commented on #294
Hmmm ... couldn't we at least have something like:

[code]

?

This would actually simplify a bunch of internal code too, because we're doing stuff like plotting GFPs quite a lot.

[2018-08-04 21:28] larsoner commented on #294
Sounds like there is finally a volunteer to do this :)

[2018-08-04 21:36] jona-sassenhagen commented on #294
Well, if Alex and you agree it's useful now. See rejection in #3044

[2018-08-04 21:53] jona-sassenhagen commented on #5269
Uh, @cbrnr , another issue, maybe I misunderstand you, but ... this doesn't actually work.

[code]

[2018-08-04 21:54] larsoner commented on #294
Closing as dup of #3044 :)

I can live with it now, especially if we can use it to simplify our internal functions.

[2018-08-04 21:54] #294 closed

[2018-08-04 22:36] kingjr commented on #3442
How about PCA and then sliding with svm multiclass on the left/right
audio/visual dataset ?

On Saturday, 4 August 2018, jona-sassenhagen <notifications@github.com>
wrote:

[2018-08-05 07:09] agramfort commented on #5401
I can replicate the pb.

[2018-08-05 07:11] agramfort commented on #3044
note that robust averaging is averaging with sample weights so it's not any possible reduction function along the epochs axis but internally yes we an work with callables

[2018-08-05 07:14] agramfort commented on #5237
yes it takes time but I typically compute it on the first minute of data
and not the full recording. we should do this by default to limit computing
cost.

[2018-08-05 08:54] agramfort commented on #5390
I would make a minimal example of failure using mlab test functions and
report the issue to mayavi folks.

[2018-08-05 09:06] mmagnuski commented on #5401
I can replicate the problem too.
But it gets even weirder for me: each time I restart the notebook I get different axes filled with spectrum, epoch variance, etc. Below three examples:

<img width="300" alt="01" src="https://user-images.githubusercontent.com/8452354/43684373-30716c0c-989f-11e8-9a84-ba87977cce6f.PNG">
<img width="300" alt="02" src="https://user-images.githubusercontent.com/8452354/

[2018-08-05 09:09] agramfort commented on #5401
I would try with an older matplotlib so see if we broke it or they did.

[2018-08-05 09:12] jona-sassenhagen commented on #5401
Hm ... The axes are created here, and later unpacked order:

[code]

Dict order should be fixed in Py3.6+, but is not guaranteed otherwise right?

Which would however not explain why it does not work on my Py3.6 either.

[2018-08-05 09:12] jona-sassenhagen commented on #5401
(Also I think I wrote that code :()

[2018-08-05 09:26] jona-sassenhagen commented on #5401
Oh! I think I got it then.

[2018-08-05 09:41] #5117 closed

[2018-08-05 11:37] jona-sassenhagen opened #5406 "Link to workshop/tutorial/other tutorial notebooks?"
For my workshops, I use a set of notebooks which are fairly self consistent and documented:

https://github.com/jona-sassenhagen/mne_workshop_amsterdam

I am sure others have their own, too. Maybe we should link to a set of tutorial notebooks from the website?

[2018-08-05 13:48] larsoner commented on #5390
Actually NoMachine [should be able to deal with modern OpenGL](https://unix.stackexchange.com/questions/233571/enabling-graphics-acceleration-for-opengl-over-remotely-via-vpn-from-ubuntu-clie) so what I wrote might not be the problem.

One thing you could try is:
[code]
If it works, then it was due to the VTK version conflict. If you get an error, can you paste the output of:
[code]
We should do t

[2018-08-05 13:57] larsoner commented on #5237
I disagree. The `Report` function should follow the defaults of `raw.plot_psd`, otherwise it's unexpected behavior. The way I coded it, it's easy for you to change this behavior during rendering if you want. FWIW the default of `plot_psd` actually originally had a limited `tmax` but we decided to change this at some point to use the entire recording.

[2018-08-05 14:31] #5333 closed

[2018-08-05 14:37] mmagnuski commented on #5269
@jona-sassenhagen `mne.channels.read_montage("standard_1005")` works, and passing montage along with `read_raw_eeglab` seems to be passing some specific path to `read_montage` (probably assuming it is a file in the same directory as the file you are reading in?) which leads to file not found error.
Would be nice if it worked.

[2018-08-05 14:39] jona-sassenhagen commented on #5269
Yes. As-is, it is needlessly complicated in workshop situations where people bring their own files.

Suggestion: the basic io functions should search not only locally, but also `mne/channels/data/montages/`.

[2018-08-05 15:41] jasmainak commented on #5269
hmm ... it should work just like the EGI reader or EDF reader. If it doesn't, perhaps there is something to fix

[2018-08-05 17:30] agramfort commented on #5406
I fear these get out of date quickly unless part of the main doc using CI
checks.

If some stuff on not part of the main doc I would see what can be added.

[2018-08-05 17:32] jona-sassenhagen opened #5408 "Allow reordering channels?"
I have a multicenter dataset where the channels are not in the same order across datasets. It appears to me to be rather complicated to get them all into the same order, keep channel locations aligned, etc. Should we make this easier?

[2018-08-05 17:36] agramfort commented on #5408
why is this needed? MNE should handle this transparently.

[2018-08-05 17:37] jona-sassenhagen commented on #5408
For example, I can't do a grand average.

[2018-08-05 17:38] agramfort commented on #5269
I am open to suggestions if you report that people struggle to load their
data.

can give you an example of file and code that is unnecessarily complicated?

[2018-08-05 17:40] jona-sassenhagen commented on #5269
Not struggle - it would just mean, EEG people would not have to think about montages and layouts, but could just load their raw data with `montage=standard_1005` and it would "just work".

[2018-08-05 17:44] agramfort commented on #5408
then grand_average should be fixed.

[2018-08-05 17:45] agramfort commented on #5269
you mean passing a string to montage that would work as read_montage?

[2018-08-05 17:47] agramfort commented on #5237
ok makes sense to follow default of plot_psd

[2018-08-05 19:09] larsoner commented on #5406
We could a new root level "workshop" directory (rendered on CI by SG) that contains py files that, when downloaded as ipynb files converted by SG, are what we follow when running workshops.

[2018-08-05 20:56] jona-sassenhagen commented on #5269
Hm ... ok, I think I see the problem.

This works:

`mne.io.read_raw_brainvision(fname, montage="standard_1005")`

but this doesn't:

`mne.io.read_raw_eeglab(fname, montage="standard_1005")`

So:

1. fix montages from the standard folder for eeglab reader

2. give a log message when people read in EEG files with only 10/20 channel names and no montage that they can just give "standard_1005" as the

[2018-08-05 21:50] mmagnuski commented on #5408
`raw.reorder_channels(channel_order)` doesn't work for you?

[2018-08-05 21:51] jona-sassenhagen commented on #5408
What! I didn't know that existed. Still, mne.combine_evoked should do it behind the scenes.

[2018-08-05 23:00] mmagnuski commented on #5408
Not that long ago `pick_channels` would reorder, but @larsoner changed its behaviour to not reorder, only pick. In that PR I asked him for similar reasons you present here to still allow to reorder and he added `reorder_channels`. It is more explicit this way, I like it.
If grand does not perform some safety checks for channel order it should. It does check other types of consistency like sfreq or

[2018-08-06 01:33] #4606 closed

[2018-08-06 07:10] dengemann commented on #4947
Depends on #5389.

[2018-08-06 07:25] cbrnr commented on #4851
Currently the mapping between channel type and FIFF constants is implemented multiple times (at least in `mne.io.pick.get_channel_types` and `mne.io.meas_info._kind_dict`). There should be only one place where this  mapping is defined.

[2018-08-06 07:40] cbrnr commented on #5269
I like the idea to make things easier for newbies. I think specifying the name of a montage as a string in `mne.channels.read_montage` was a step in the right direction, but this should be extended for all `mne.io.read_raw_*` functions, so I'd modify your first bullet point to "check all readers if they accept strings for their `montage` argument".

Giving log messages is great, let's not do anyth

[2018-08-06 07:53] cbrnr commented on #5315
Moved to #5085.

[2018-08-06 08:16] cbrnr commented on #5281
Have we decided that we need templates? It seems like adding this extra step just to turn all community features green is probably not worth it because most reports seem to be OK. But if we decide we need it, I'd go with minimal templates (one minimal PR template and two issue templates for bug reports and feature requests).

[2018-08-06 08:25] agramfort commented on #5408
I think that grand_average should deal with it.

It's like added values in pandas with a channel index.

[2018-08-06 08:27] agramfort commented on #5281
Issue template suggested to provide a test file and a code snippet to
replicate the error, as well as report mne.sys_info() would be nice.
It would save us some emails.

[2018-08-06 08:52] sappelhoff commented on #3891
@jona-sassenhagen the questions is still unresolved. In my work, I decided to not perform any dimension reduction and I did not reject channels prior to using corrmap ... thus I had a workaround for this problem.

The API for ICA/PCA is still kind of confusing and not perfectly well documented. In conjunction with using corrmap, this is additionally hard to wrap the head around ;-)

[2018-08-06 08:56] thht commented on #4833
yes, will do. sorry for the inactivity. i just came back from paternity leave today and am catching up.

[2018-08-06 08:59] jona-sassenhagen commented on #5408
Ok, renaming.

If channels occur in different orders for combine_evoked, it should internally reorder a copy of every dataset to have the same order as the first before averaging.

[2018-08-06 09:00] agramfort commented on #4851
indeed !

+1 for using get_channel_types in meas_info and remove _kind_dict

[2018-08-06 09:03] agramfort commented on #5269
+1 for fix read_raw_eeglab and check all EEG data readers.

Giving log messages is great, let's not do anything automatically here.

no opinion

[2018-08-06 09:04] jona-sassenhagen commented on #5269
@sappelhoff ok if we repurpose the issue for that ..?

[2018-08-06 09:32] sappelhoff commented on #5356
You are right @maedoc:
https://github.com/mne-tools/mne-python/blob/18755d22c3752b767dd493ffb4ffa5360bd322b4/mne/io/brainvision/brainvision.py#L305-L312

The `r"\[.*\]"` part is being used to find the line where a new section begins like `[Marker Infos]` or `[Common Infos]`

Actually, this points to a very simple fix. Instead of `m = re.search(r"\[.*\]", mk_txt)` we can use `^` and `$` to get: `m

[2018-08-06 10:10] #5401 closed

[2018-08-06 11:07] #5168 closed

[2018-08-06 11:49] sappelhoff commented on #5269
@jona-sassenhagen yes, it's a good improvement and I can reopen this issue with its original purpose at some other time. Before doing more intense work on our coordinataes, the crucial #5190 should be fixed through #5085.

[2018-08-06 14:17] jona-sassenhagen opened #5417 "mne coreg gui, no isotrak, unhelpful error"
Trying to coreg my barebones EEG files, the Gui crashes with the rather unhelpful line:

[code]

I assume that means I don't have an Isotrak.

1. We should probably add a nicer error here.
2. What can I do instead :( I want to do horribly imprecise source localisation with my old EEG files. Can the suggested solution be included in the error?

[2018-08-06 14:26] larsoner commented on #5417
We need to improve this pipeline, see #3893 #3877 #3699. But a good first start would be fixing whatever bug you are hitting here. The "isotrak" is probably meant to refer to `info['dig']`. So basically you need to populate this with your EEG electrode coordinates. If you use `DigMontage` instead of `Montage` I think this will happen automatically.

Fixing this the right way is #3893, feel free to

[2018-08-06 14:35] jona-sassenhagen commented on #5417
What I did now is simply read in the standard_1005 montage, raw.set_montage, and coregistered to that 😎

I'd prefer not to help out there cause everything 3D is terribly confusing to me. (It's on some Star Trek movie IIRC)

[2018-08-06 14:40] mmagnuski commented on #5417
I was creating a "fake" dig montage in your scenario, does it work for you? I've hit some errors on the road to successful coreg and also think it would be nice if the pipeline was easier.

[2018-08-06 14:44] jona-sassenhagen commented on #5417
People who know stuff about source localisation might find this an aggressively bad idea, but couldn't we give a super streamlined pipeline for source localising default, non-digitised EEG data? In fact, we could provide precomputed inverse operators for standard_1005.

[2018-08-06 15:55] mmagnuski commented on #5417
On the other hand digitizng chan pos with photogrammetry is easy and fun :)

[2018-08-06 16:07] larsoner commented on #5417
For consistency and rigor I'd rather have people do the steps. Ideally it will just be a few easy lines once #3893 is done.

[2018-08-06 21:04] nugenta commented on #5390
I did the uninstall/reinstall above, and initially got this error, which made me think vtk didn't install properly:

(mne) [nugenta@felix Desktop]$ python -ic "from mayavi import mlab; mlab.test_plot3d()"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/data/nugenta/conda/envs/mne/lib/python3.6/site-packages/mayavi/mlab.py", line 16, in <module>
    from mayavi.to

[2018-08-07 04:11] larsoner commented on #5382
We could probably handle this more gracefully. It might be possible to resize the memmapped array. If not, then we could make a new one, possibly via param.

[2018-08-07 09:41] sappelhoff opened #5420 "BUG: BrainVision reads more events than it says it does."
According to the docstring, the BrainVision reader will only read "Stimulus" events, which are typically in the shape `r"(S\d{1,3})"`, so an S and then 1 to 3 digits. All other events will have to be specified using the `event_id` dictionary:
https://github.com/mne-tools/mne-python/blob/beda451422b4d8016643438ce7e998c76cbd2f59/mne/io/brainvision/brainvision.py#L233-L239

However, the BrainVision r

[2018-08-07 12:03] agramfort commented on #5420
do you plan to send PR?

[2018-08-07 12:05] agramfort commented on #5390
can you share the full procedure you used on a fresh conda env?

[2018-08-07 13:30] britta-wstnr commented on #5365
Added speeding up LCMV
as brought up by @larsoner in #5135

[2018-08-07 14:11] #5356 closed

[2018-08-07 16:12] sappelhoff commented on #5420
Yes, but first we need to discuss how to fix this issue. I could replace the present `r'[A-Za-z]*\s*?(\d+)'` with `r'S(\d{1,3})'` to truly match only the S### events as advertised by the docstring. However a lot of our tests are actually working with the buggy behavior. So it would involve fixing a lot of tests as well.

I'd be up for that but perhaps somebody has objections or a better idea.

[2018-08-07 16:38] tjochmann opened #5421 "Clearify prerequisited for the installation and consequences of warnings."
I tried to install MNE Python following the install instructions (`conda env create -f environment.yml`) on a new computer. It gave me a couple warnings:

- `Downloading https://files.pythonhosted.org/packages/36/8f/ab9555a37ab7c30560928c2eb0a9715f4492a11536f057aada019a319661/mayavi-4.6.1.tar.bz2 ...
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):

[2018-08-07 20:16] larsoner commented on #5421
A compiler is only used for a single extension which is optional for Mayavi on latest `master`. In the meantime, doing this should work:
[code]
We should probably update our `environment.yml` to use `master` or a pinned version until a 4.6.2 or later comes out.

The `mkl` warnings are probably not a big deal.

I have never seen the `PyHamcrest` problem but this sounds like a packaging problem with

[2018-08-07 20:16] larsoner commented on #5421
(and yes updating the docs to say that the `Cython` warning and possibly the `PyHamcrest` warning is not critical is probably worthwhile)

[2018-08-07 20:19] larsoner commented on #5420
How about a new kwarg `event_parsing='whatever' | 'full'` where `whatever` is some term that accurately describes what we currently do, and `full` is what you propose to change it to?

[2018-08-07 21:41] larsoner commented on #5406
I don't see this as too much of a problem. Hopefully our core APIs will not change too much so code dup won't be too much of a maintenance burden. I see the divide as:

1. `workshop`: if I want to start from scratch and follow a progression, follow these.
2. `tutorials`: if I want to do something specific, this is a good place to look for explanations and narratives.
3. `examples`: if I want to do

[2018-08-08 02:08] jasmainak opened #5425 "make mne report BEM slider more efficient"
Curently, MNE report makes [3 copies](https://github.com/mne-tools/mne-python/blob/master/mne/report.py#L1780-L1785) of the MRI. This is an unnecessary waste of memory. Ideally, the slicing should be done on the fly -- as for example in @pbellec's [brainsprite library](https://github.com/SIMEXP/brainsprite.js/blob/master/assets/brainsprite.js)

[2018-08-08 02:42] jasmainak commented on #5400
wouldn't this be redundant with PyBIDS ?

[2018-08-08 02:43] jasmainak commented on #5400
sorry my bad. Read too quickly

[2018-08-08 06:50] dengemann commented on #5406
I would not bother too much about syncing in specific workshop materials
here. If I would do that it would flood everything. Second, nowadays the
website as it is is the main resource for teaching. However we can still
improve our tutorials.
On Tue 7 Aug 2018 at 23:41, Eric Larson <notifications@github.com> wrote:

[2018-08-08 08:14] larsoner commented on #5406
You mean having multiple sets? I agree we should not. I think we should have one set.

[2018-08-08 11:27] sappelhoff commented on #5420
@larsoner thanks for the suggestion. However, what we currently do is really not sensible and I would like to change it, I am just looking for the best way to do it.

The arguably most common event in BrainVision files next to stimulus events marked as `S###` are response events marked as `R###`. These are also the most common events in our test files. I suggest to replace the current, faulty rege

[2018-08-08 12:15] agramfort commented on #5425
it's because we make the PNGs for every slice offline. Do you expect a gain
in report size?

[2018-08-08 12:19] agramfort commented on #5420
that's possible to change it if we consider a bug fix.

how does fieldtrip or eeglab or brainstorm handle?

if you tell me if makes mne behaves like them then I can live with the
bug fix option and hard API breakage.

[2018-08-08 12:51] sappelhoff commented on #5420
@agramfort

fieldtrip reads
- stimuli (S###)
- responses (R###)
- new segments (we use that only to infer the recording measurement date)
- "time" (which I haven't heard of)

https://github.com/fieldtrip/fieldtrip/blob/d11daed366a426184c46bfb024a2cea7e04b1e19/fileio/private/read_brainvision_vmrk.m#L49-L77

... Brainstorm seems to read everything that is a marker by default:

https://github.com/bra

[2018-08-08 12:54] agramfort commented on #5420
what do you suggest then?

[2018-08-08 12:55] sappelhoff commented on #5420
I suggest we parse S### and R### (stimuli and responses) by default. everything else can be done with `event_id`

[2018-08-08 13:11] agramfort commented on #5420
no objection.

[2018-08-08 15:59] larsoner commented on #5406
Why is this less effort than what I propose? If it's because we don't have to maintain the tutorials, then that's a downside IMO because it means they will become out of date. When we release 0.18, the 0.17 are out of date and not that useful anymore, and people will bother us to update to 0.18 anyway, etc.

If there is a set of tutorials everyone tends to use for workshops, updating as necessary,

[2018-08-08 16:01] jona-sassenhagen commented on #5406
I'm not sure I'll use the same workshop slides Alex does. I'm not doing MEG workshops, I'm not talking about source localisation. Keeping stuff decentralised and up to each individual, and just giving links to individual materials, means the effort on part of the MNE team itself *qua MNE team* is rather low.
It's comparatively more effort for the individuals offering the tutorials though.

If the

[2018-08-08 16:06] larsoner commented on #5406
Okay if they really are tailored to each workshop for the most part then maybe there isn't much point in trying to integrate them continuously. I'm fine with adding a page to the doc with links to these materials like you suggest -- we just need to make it clear which version they work with (as you suggest) and what they cover so people can decide which they'd like to follow, if any.

[2018-08-08 17:26] jasmainak commented on #5425
yep, definitely. Right now report on sample data without BEM is 5.8 MB. And with BEM, it is 38.2 MB. If we did not have 3 copies, it would be 16.6 MB.

[2018-08-08 18:45] nugenta commented on #5390
$ conda clean --all   (just for good measure)
$ curl -O https://raw.githubusercontent.com/mne-tools/mne-python/master/environment.yml
$ conda env create -f environment.yml

This gives the following errors:
twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
mkl-random 1.0.1 requires cython, which is not installed.
mkl-fft 1.0.4 requires cython, which is not installed.

If I execute

[2018-08-08 20:01] mmagnuski opened #5427 "np.nan in epochs.drop_log - `read_epochs` throws assertion error"
I got an epochs file saved in mne `16.2` from a collegue. I cannot read the file because the `drop_log` contains `[np.nan]` instead of `[]` where epochs were dropped.
When reading the file with `mne.read_epochs` assertion error is thrown by `_check_consistency` (which was introduced to mne in #5193) - it does not take into account nans in the `drop_log`.
My collegue is able to read the file withou

[2018-08-08 21:05] larsoner commented on #5427
The drop log list should only contain strings, I don't know how nan could have gotten in there

[2018-08-08 21:18] larsoner commented on #5425
The three "copies" are actually different, i.e. one for each of three standard views. This seems like the most sensible default. I don't mind the file size personally, is it a limitation somewhere for you?

Maybe we can make it so render_bem can be a list of str of the subset of the three views to use, but I think that the default True should do what is done now.

What might be more useful is (los

[2018-08-08 23:46] choldgraf commented on #5406
My 2 cents on this is that having the right content there is much more important than the particular structure of the content. So I'd first ask "do we have all of the content in the "tutorials" section that would be needed to quickly put together a day-long intro to MNE-Python? If no, then we should focus on filling in the missing gaps there, and not worry about whether it's under a new section or

[2018-08-09 00:01] jasmainak commented on #5425
It is not a copy _per se_, but you could construct the three views using javascript rather than python to save space. Anyway, it's not a limitation for me. It looked like an opportunity to optimize / sunday hack. But I won't complain if you want to close :-)

[2018-08-09 00:13] mmagnuski commented on #5427
Ok, thanks, I'll check how he gets those nans.

[2018-08-09 02:25] larsoner commented on #5425
On-the fly slicing would be cool.

I also [tried PNG optimization](https://github.com/larsoner/mne-python/commit/65c6a5883eed2247147946f3a8612887238afafc) and it takes this:
[code]
From 32.9 to 32.2 MB. So probably not worth it.

[2018-08-09 02:30] larsoner commented on #5427
If they are inserting themselves using manual dropping, then it means 1) our check for the type of `reason` in [epochs.drop](https://martinos.org/mne/stable/generated/mne.Epochs.html#mne.Epochs.drop) should be improved and 2) we should add a check on writing that `drop_log` is `list of list of str` in case someone modifies `epochs.drop_log` themselves.

[2018-08-09 09:01] sappelhoff commented on #5180
There are some developments with the python reader for XDF files. Soon, there might be a pip installable package, see: https://github.com/sccn/xdf/pull/21

That would make this issue easier to solve.

[2018-08-09 09:03] sappelhoff commented on #5112
Could you expand a bit on this issue please @jona-sassenhagen ?

[2018-08-09 09:06] jona-sassenhagen commented on #5400
I'm kinda wondering how you misread this now ...

[2018-08-09 10:10] mmagnuski commented on #5427
Ok, sorry, false alarm, my collegue was saving `drop_log` to csv with pandas and then loading it to reconstructed `Epochs` which gave rise to `np.nan` where originally he had `[]`.

[2018-08-09 12:26] agramfort commented on #5425
@jasmainak not that we only keep in the file the slices we display.

check that the original nii file is smaller what we already deliver.

Internal feeling: if it's not broken don't fix it...

[2018-08-09 12:27] #4954 closed

[2018-08-09 12:28] agramfort commented on #5112
that should not be too hard via mixin classes

[2018-08-09 12:47] #5397 closed

[2018-08-09 12:50] agramfort commented on #5406
fully agree with @choldgraf

maybe an option is to create an mne-workshops github org and put all the repos there...

[2018-08-09 14:07] larsoner commented on #5425
Also I realized this is harder than just slicing the 3D MRI array, you also
need to do the contours by slicing the triangulated surfaces. So it would
require a real plotting library.

[2018-08-09 14:08] larsoner commented on #5427
Okay thanks for the update. I think we need to action then

[2018-08-09 14:08] #5427 closed

[2018-08-09 14:08] larsoner commented on #5427
No action I mean

[2018-08-09 14:10] larsoner commented on #5400
Probably living with too many open GitHub tabs or emails open, and clicking into one assuming it was the one you meant to respond to without actually checking. At least that's how it has happened to me in the past, too :)

[2018-08-09 15:31] larsoner commented on #5390
All of the installation warnings seem non-critical to me. I agree that the problem seems to be the OpenGL configuration not being sufficient to support 3D rendering. Unfortunately updating Mesa to a newer version manually is a pain. So I'm not sure what the path forward is :( FWIW Ubuntu 18.04 LTS does have sufficiently modern OpenGL support through Mesa I think, if a system upgrade is on your tod

[2018-08-09 15:40] larsoner commented on #5390
It depends on what driver you are using for rendering. I assume it's software rasterization (swr), which looks like it should have 3.0 support:

https://github.com/mesa3d/mesa/blob/17.2/docs/features.txt

Not sure why yours does not show it.

[2018-08-09 16:26] nugenta commented on #5390
OMG the solution was shockingly simple:

$ export MESA_GL_VERSION_OVERRIDE=3.3

There are still rendering issues, though, although I suspect there's not much to be done about them.  Not all the points (including the fiducial points) show up all the time. But it's not throwing any errors. If you view the nasion from the side, you can see the fiducial point.  But when you move the image to look at i

[2018-08-09 16:35] larsoner commented on #5390
Someone else reported the same issue so it's systemic somehow.

What's your sys_info?

Thanks for iterating on this with us

[2018-08-09 16:47] nugenta commented on #5390
{'commit_hash': 'dd83a2163',
 'commit_source': 'installation',
 'default_encoding': 'UTF-8',
 'ipython_path': '/spin1/users/nugenta/conda/envs/mne/lib/python3.6/site-packages/IPython',
 'ipython_version': '6.5.0',
 'os_name': 'posix',
 'platform': 'Linux-3.10.0-862.9.1.el7.x86_64-x86_64-with-centos-7.5.1804-Core',
 'sys_executable': '/data/nugenta/conda/envs/mne/bin/python',
 'sys_platform': 'linu

[2018-08-09 17:02] larsoner commented on #5390
I meant `mne.sys_info()`, but I'm also curious how you got this output :)

[2018-08-09 17:05] nugenta commented on #5390
Also, because you asked about the renderer, I'm using llvmpipe.
I tried changing that; swr doesn't render the fiducials at all, and softpipe is just horrifically slow.

[2018-08-09 17:06] larsoner commented on #5425
Closing as I actually think this would require using a proper plotting lib, which is probably a much larger change

[2018-08-09 17:06] #5425 closed

[2018-08-09 17:07] larsoner commented on #5369
Reopening as we should update our install docs to make a (better) note of these sorts of tweaks

[2018-08-09 17:08] nugenta commented on #5390
Ha! I wasn't sure what you wanted, so I just googled sys_info, and got this:
IPython.utils.sysinfo.sys_info()

But here's what you asked for:

Platform:      Linux-3.10.0-862.9.1.el7.x86_64-x86_64-with-centos-7.5.1804-Core
Python:        3.6.6 |Anaconda, Inc.| (default, Jun 28 2018, 17:14:51)  [GCC 7.2.0]
Executable:    /data/nugenta/conda/envs/mne/bin/python
CPU:           x86_64: 120 cores
Memor

[2018-08-09 17:09] larsoner commented on #5390
@nugenta thanks.

I assume you are "just" fighting #5375 now (there is a workaround in there that might help). If so I'll retitle this to mention MESA tweaks somewhere in advanced install docs, and we can take care of the fiducials problem in #5375.

[2018-08-09 19:52] #5420 closed

[2018-08-10 09:14] sappelhoff commented on #4746
@jona-sassenhagen I think I won't get to it after all, sorry.

[2018-08-10 13:40] massich opened #5432 "meas_date documentation inconsistency"
In `mne.Info`, `meas_date` is a list of two ints.
https://github.com/mne-tools/mne-python/blob/ff8ebca4a9d2497d4f8613c11b42300ccd3c9ba4/mne/io/meas_info.py#L149

however, based on `_handle_meas_date`, `raw.info['meas_date']` can have other formats.
https://github.com/mne-tools/mne-python/blob/ff8ebca4a9d2497d4f8613c11b42300ccd3c9ba4/mne/annotations.py#L272-L281

(Also, I find `_handle_meas_date` n

[2018-08-10 14:41] larsoner commented on #5432
I think after I/O round trip it is always 2 ints. We probably need to improve our raw readers to make it more consistent. We could add a test to `_test_raw_reader` to ensure each class did it correctly. Want to take a stab at it?

I guess you could make it an `Info` method (better than `Raw` because `meas_date` exists in `Info`, which can be in other objects) if you want. However I don't see too m

[2018-08-10 19:45] jasmainak commented on #5425
yeah, agreed. It seems broken. I [gave it a try](https://github.com/SIMEXP/brainsprite.js/issues/25) but couldn't get it to work out of the box.

[2018-08-11 15:34] agramfort commented on #5432
yes we need more consistency in the raw data readers.

regarding the floating functions I prefer these when private as users don't
get exposed
to them with using tab completion. End users should not see these functions.

[2018-08-11 19:54] jona-sassenhagen commented on #5400
I tried to understand how Pandas does it, and I don't. And a self-made workaround based on looking up stuff in locals probably wouldn't work either.

Why are we using `pd.DataFrame.eval` btw over `.query`?

[2018-08-11 21:41] massich commented on #5432
@agramfort I'm not sure I fully follow your thought here.

[2018-08-11 22:15] larsoner commented on #5400
It was a while ago but I think we did have some discussion about which one to use. Maybe one is/was deprecated?

[2018-08-12 16:53] agramfort commented on #5432
_handle_meas_date cannot be discovered with tab so easily. Whereas if I have a method in Annotations I just use tab in an instance of annotations and I start seeing a bunch of private functions I should not see. Clear?

[2018-08-12 17:49] #5154 closed

[2018-08-12 22:55] larsoner opened #5439 "ENH: Use cupy"
Apparently `cupy` has improved the `linalg` situation for CUDA-capable machines to the point we could benefit from using it.

I propose adding a `MNE_USE_CUPY` config var that people can set that automagically uses `cupy` when it's installed and useful to do so for `linalg` functions. Concretely this would mean:

1. I create `_safe_svd` and a new `_cholesky` (or others if people think of some we u

[2018-08-12 22:57] choldgraf commented on #5400
I'm pretty sure that they accomplish mostly the same thing, but that `eval` returns a boolean mask according to whatever the query was, while `query` returns the DataFrame object itself. So probably we use `eval` because we want that mask somewhere else in the code, I'm guessing.

[2018-08-12 23:08] larsoner opened #5440 "ENH: Use CUDA for ReceptiveField"
@rkmaddox says this can be an order of magnitude faster. Need to figure out how to properly transfer data so that GPU memory is not problematic.

[2018-08-13 02:01] #5237 closed

[2018-08-13 11:13] jona-sassenhagen opened #5441 "BUG: BV reader now fails for certain modern files"
The most recent software by BrainProducts writes BrainVision files with integer codes. E.g.

[code]

As of #5426, Triggers such as ` 24` will currently not be parsed. Moreover, the warning string is somewhat deceptive, stating that "triggers such as [ 24, 200, 198 ..." will be dropped, but the whitespace matters here; e.g., only the last entry here would match: `{"24": 24, 24: 24, " 24": 24}`.

Gi

[2018-08-13 11:15] britta-wstnr commented on #5365
@larsoner I added the combination of different sensor types.

[2018-08-13 13:36] h-kolkhorst commented on #5441
I agree, the commit introduces regressions so that loading brainvision files fails after updating to the current master.

In addition to the Pycorder issue, the new regex does not match response markers, which defeats the whole purpose of the ``trig_shift_by_type`` parameter (or the old ``response_trig_shift``). The tests only run because the ``R255`` marker was added to ``event_id`` (https://gith

[2018-08-13 13:36] hekolk commented on #5441
I agree, the commit introduces regressions so that loading brainvision files fails after updating to the current master.

In addition to the Pycorder issue, the new regex does not match response markers, which defeats the whole purpose of the ``trig_shift_by_type`` parameter (or the old ``response_trig_shift``). The tests only run because the ``R255`` marker was added to ``event_id`` (https://gith

[2018-08-13 13:38] sappelhoff commented on #5441
@hekolk why does this defeat the purpose of `trig_shift_by_type`? If someone has response markers, they can add those to the `event_id` and then they will be shifted.

[2018-08-13 13:51] hekolk commented on #5441
"defeats the purpose" was probably a bit too harsh, but with the "old" behavior, one only needed to specify a ``trig_shift_by_type``/``response_trig_shift`` and not specify every possible response marker. For example, in my code, I just shift the response or optical markers in a paradigm-agnostic way in my IO routines without having to know the exact marker definitions and occuring markers.

I'm n

[2018-08-13 14:13] hekolk commented on #5441
More generally,

1. the information in the (traditional) marker files of specifying both a type (``Response``)  and a prefixed description (``R123``) for the marker seems to be redundant and with Pycorder this redundancy seems to be removed in favor of the response type. This would suggest to just ignore the prefix.

2. with the old implementation, users had the choice to handle non-stimulus marke

[2018-08-14 09:57] thht commented on #4833
@agramfort done

[2018-08-14 13:13] agramfort commented on #5439
I'd like to be a bit cautious here. Can we start with a code snippet
that leads to unnecessarily long computations? maybe we can just use
a smarter algorithm rather than adding such a big dependency.

[2018-08-14 13:26] #5309 closed

[2018-08-14 13:27] larsoner commented on #5439
IIRC @jona-sassenhagen and I (and @rkmaddox and I) already spent some time trying to optimize the `scipy.linalg` calls to no avail. But regardless we'll want some cases to test speed / show usefulness -- @jona-sassenhagen @rkmaddox can you `np.random.RandomState(0).randn` some arrays of the right shapes and `scipy.linalg` the right calls to show us the slowdowns that would be good to speed up?

[2018-08-14 13:31] jona-sassenhagen commented on #5439
Tbh, a lot of our code is *very* fast indeed. Resampling, equalising epochs counts, ... have been massively sped up (by Eric). ICA has always been very fast. The Encoding module is very fast.

The main linalg things that are slow IME: time-frequency decompositions of low frequencies; source localisation of long time series (raw objects). I don't know if CUDA would help here.

But some linalg.solve

[2018-08-14 13:37] agramfort commented on #5439
can you share a full use case where in the pipeline the linalg.solve is the
bottleneck?
there are many ways to solve a linear system depending on problem
dimensions.
I'd to see numbers before jumping on adding cupy as a dependency of MNE.

[2018-08-14 14:18] rkmaddox commented on #5439
My use case is looking at high sampling rate encoding models. This blows up pretty quickly as you add factors to the model, though doesn't seem to depend on the number of channels. So let's say sampling rate is 10000 Hz, the lags range from -100 to 300 ms. For one input factor one electrode, you get:

[code]

This is doable, but takes a couple seconds on my laptop. But when I have two input stimul

[2018-08-14 14:26] rkmaddox commented on #5439
Yeah, that's a fair point. Assuming the data fit in memory, I have no idea how much additional memory is needed for a solver.

[2018-08-14 14:28] rkmaddox commented on #5439
Though I would say that if it's ever worth it to solve on the GPU, then it by definition would be with data that fit in memory.

[2018-08-14 14:52] massich opened #5445 "[RFC] merge pull request vs squash and merge"
Is there a way to make squash and merge the default behaviour when we press the GREEN button?

[2018-08-14 15:11] agramfort commented on #5445
It’s already the default afaik

[2018-08-14 15:14] massich commented on #5445
I don't think so. https://github.com/mne-tools/mne-python/commit/c6e62d6c11c557cd69ce0b4e88bb17b5ca8c47dd is a merge commit that it should not be there if I had taken more care when clicking the green button

[2018-08-14 16:12] jona-sassenhagen commented on #5439
see:

http://nbviewer.jupyter.org/gist/jona-sassenhagen/a40a1e3d48bf7ac0f183ecd623aaae7a/cuda_test_solver.ipynb

0. you see how comparatively smooth the implementation is
1. on my Tesla K40 vs. 6-core i7, gains are rather modest
2. my GPU RAM (12GB) can't handle n_factors = 5 in this case!

I had more impressive results in the sparse case.

[2018-08-14 16:44] rkmaddox commented on #5439
Interesting. That definitely does counts as modest. Thanks for testing it out.

[2018-08-14 16:49] rkmaddox commented on #5439
The memory limit is interesting. Very rough calculations for 64-bit (8 byte) floats would say:
(5 * 4000) ** 2 * 8 / 1e9 = 3.2 GB. So there must be a lot of memory overhead in the calculations? Is my math off?

[2018-08-14 16:53] jona-sassenhagen commented on #5439
Hm, my CUDA memory might not have been totally emptied. I am trying to see if I can make sure it's agains the full 11+ GB.

[2018-08-14 16:54] jona-sassenhagen commented on #5439
... Ok, I'm using 4 features now and

[code]

(ignore the 1st GPU)

[2018-08-14 17:00] jona-sassenhagen commented on #5439
Results for 4 features: 26.2 s for 6 CPU cores, 19.1 s for CUDA.

[2018-08-14 17:09] larsoner commented on #5439
Last time I checked, the transfer overhead made gains minimal like what we see here.

Perhaps the gains are limited mostly to sparse solve operations, and thus rERP (only? Mostly?) in our code.

Can you make a MWE out of that and show the gains? If that's the case we can just enhance the rERP solver, assuming Alex cannot find a faster CPU way.

[2018-08-14 17:15] rkmaddox commented on #5439
Yep, seems that's the case. @jona-sassenhagen does your snippet use all 6 cores? My `linalg.solve` pegs one of my 6 cores on my laptop.

[2018-08-14 17:44] larsoner commented on #5439
I have found OpenBLAS to be roughly as fast as MKL for everything except one or two functions (`linalg.inv` I think?) and it generally uses all available cores. If you find that you are only using one, we should figure out your config and how to avoid it. Or add to the list of deficiencies of OpenBLAS.

@agramfort do you remember which OpenBLAS function was bad enough it forced you to use MKL for

[2018-08-14 18:16] rkmaddox commented on #5439
Tested on analysis computer: uses all cores. With `n_features = 4` it takes 16 seconds, which is actually about the same amount of time it takes to make the random matrices!

[2018-08-14 18:59] agramfort commented on #5439
Solving a linear system with a symmetric matrix

[2018-08-14 21:04] larsoner commented on #5445
You can disable options, but I don't think we want to do that. IIRC it defaults to whatever you as a maintainer did in your previous green-button-click.

[2018-08-16 09:42] #5441 closed

[2018-08-16 17:09] hendriksantosa opened #5446 "Computing Evoked using a weighted average"
Hi, I am wondering whether MNE has reweighed version for epochs function rather than reject version using some threshold (mag and grad)?

[2018-08-16 19:40] larsoner commented on #5446
I'm not sure what you mean. But our `reject` and `flat` just remove (effectively equivalent to a binary weight with weight 0). If you want some weighted average, you can compute one manually with `NumPy` and `epochs.get_data()`.

[2018-08-16 19:52] hendriksantosa commented on #5446
I mean for example if the signal larger than some threshold. It will still keep that signal but down weight it in the evoked process. Right now, the function only remove the outliers using 'reject=reject' (as you mentioned with binary weight).

[2018-08-17 01:49] ChaiGuangJie opened #5448 "realtime/epochs.py : self._current used befor defined in self.next methed"

[2018-08-17 01:56] ChaiGuangJie opened #5449 "realtime/client.py : There no methed named stop() in threading instance"
def stop_receive_thread(self, stop_measurement=False):
        """Stop the receive thread.

        Parameters
        ----------
        stop_measurement : bool
            Also stop the measurement.
        """
        if self._recv_thread is not None:
            self._recv_thread.stop()
            self._recv_thread = None

        if stop_measurement:
            self.stop_measurement()

[2018-08-17 01:59] ChaiGuangJie commented on #5448
def next(self, return_event_id=False):
        """Make iteration over epochs easy.

        Parameters
        ----------
        return_event_id : bool
            If True, return both an epoch and and event_id.

        Returns
        -------
        epoch : instance of Epochs
            The epoch.
        event_id : int
            The event id. Only returned if ``return_event_id`` is ``True`

[2018-08-17 01:59] #5448 closed

[2018-08-17 02:04] ChaiGuangJie opened #5450 "realtime/epochs.py : self._current used befor defined in self.next methed"
def next(self, return_event_id=False):
        """Make iteration over epochs easy.

        Parameters
        ----------
        return_event_id : bool
            If True, return both an epoch and and event_id.

        Returns
        -------
        epoch : instance of Epochs
            The epoch.
        event_id : int
            The event id. Only returned if ``return_event_id`` is ``True`

[2018-08-17 02:31] jasmainak commented on #5449
@ChaiGuangJie can you be more explicit what's the issue and how to reproduce?

[2018-08-17 02:39] ChaiGuangJie commented on #5449
self._recv_thread cannot stop by calling the method stop() @jasmainak

[2018-08-17 06:48] Stevewsw opened #5451 "Hey, How about add some new features?"
Hey, thanks for this brilliant repo;

I'm analyzing the EEG data for 'sleep stage scoring';

# Favor

### How can I cut one channel of .edf file into 30s-epoch data group?

AND

### How can I mark the annotations to each 30s-epoch, or labeling the 'W, N1, N2, N3, R' labels to every 30s-epoch data?

# Data structure

1. **.edf :**  each one obtains 10 channels info.

2. **.csv:**

|No.|StartTime |L

[2018-08-17 10:25] agramfort commented on #5451
what dataset are you analysing?

you need to understand how raw.times work and that raw.info['sfreq'] is used.
then you can just split the raw data you can access how expained online.

[2018-08-17 19:50] jasmainak commented on #5449
pull request welcome to remove the line in question

[2018-08-18 00:57] larsoner commented on #5440
I *think* this will be made much easier by using `cupy` (#5452) because it should support broadcasting.

[2018-08-18 19:29] #5275 closed

[2018-08-18 19:45] larsoner commented on #2862
Closing this one until we find a use case where we need it

[2018-08-18 19:45] #2862 closed

[2018-08-18 19:48] larsoner commented on #5109
Subsumed by #5365

[2018-08-18 19:48] #5109 closed

[2018-08-18 19:48] larsoner commented on #5440
This is already listed in #3884, closing

[2018-08-18 19:48] #5440 closed

[2018-08-18 19:54] larsoner commented on #5375
So far I have been unable to replicate this. @genisprat can you give the output of `>>> mne.sys_info()` and also `$ glxinfo | grep version`?

[2018-08-18 19:54] larsoner commented on #5390
@nugenta can you give me the output of `$ glxinfo | grep version` when you get a chance? I want to see if there is some consistency between systems experiencing the "disappearing fiducials" problem. In the meantime has the workaround fro #5375 worked for you?

[2018-08-18 20:38] larsoner commented on #5390
Never mind @nugenta you already pasted that above! You are on `Mesa`. I'll check that with the other report.

[2018-08-18 21:32] larsoner commented on #3884
... oh wait, looks like the `patterns_` part is already done!

[2018-08-19 01:36] nugenta commented on #5390
Yup, the workaround for #5375 worked - but it's quite sluggish. That's not terribly surprising for software rendering, except that the python2 implementation performs significantly better viewed remotely. It's not too much trouble to switch between conda environments, though.

[2018-08-19 09:40] nbara commented on #3884
:) yup ! I even added [a small section](https://martinos.org/mne/stable/auto_examples/decoding/plot_receptive_field_mtrf.html#id7) in the tutorial for this

I haven't used RF much lately but one feature I remember missing is the ability to subsample the lags/delays, or to provide a list of lags instead of `tmin` and `tmax`. Of course you can always downsample your data but it would be more conveni

[2018-08-20 09:05] cbrnr opened #5455 "Make "raw" BrainVision events accessible"
Currently, markers stored in BrainVision files are first converted to a stim channel, which then needs to be parsed with `mne.find_events` to extract events. This is error-prone and does not work for arbitrary marker types. #5387 made this a little more generic, but I have markers that do not follow the `Cxxx` style (where `C` is a character and `xxx` is a number), which is typical for artifact an

[2018-08-20 09:10] agramfort commented on #5455
that's exactly what the plan is and doing it via an Annotations object.
the objective if to expose the markers in raw.annotations

[2018-08-20 10:26] cbrnr commented on #5455
Is anyone working on this plan? Is there a related discussion, PR, or issue? Sorry, I had this in the back of my head but I can't remember what the current status is. If we want a quick fix, we might consider adding what I wrote in #5456 for the time being.

[2018-08-20 10:55] agramfort commented on #5455
you should coordinate with @massich for this.

he's busy improving our support of Annotations

[2018-08-20 21:58] jasmainak opened #5457 "ENH: interactive volume viz followup/todos"
I'm raising a new issue to keep track of things that need to be done but are not part of https://github.com/mne-tools/mne-python/pull/5329

- [ ] Allow plotting surface data in volume plotters using the cortical ribbon (see closed glass brain PR)
- [ ] Visualization of vector fields on top of functional maps (after @britta-wstnr implements the computation aspect)
- [ ] Ability to save an animation