[2017-11-22 12:23] mmagnuski commented on #4771
I am not sure whether this line is of much use once we have annotations. It would be probably more useful to have topomap for specified time point pop up when one right-clicks the signal. This is one of the EEGlab functionalities that I still sometimes miss especially when teaching how to identitfy various artifacts in the signal.

[2017-11-22 12:42] mmagnuski commented on #4770
+2.5, I wanted that pretty often too. Maybe ctrl + arrow (it would actually be more intuitive if simple arrow keypresses had smaller increments than ctrl + arrow, but that would not be convenient)?

[2017-11-22 13:05] cbrnr commented on #4771
So I take it that you don't know what this line means either 😄 ? I always thought it indicates a non-zero `first_samp`, but this is not true because my data starts at t=0 and `first_samp=0`. If it only indicates the start of the file (sample 0), I suggest we remove it because for me it was more confusing than helpful.

[2017-11-22 13:10] cbrnr commented on #4770
I'd rather not change the current behavior. Ctrl+Arrow is problematic on Macs because this shortcut is associated with switching desktops, so I'd prefer Shift+Arrow. The interesting thing would be if Matplotlib supports shortcuts consisting of more than one keystroke...

[2017-11-22 13:18] agramfort commented on #4771
no idea :)

[2017-11-22 13:19] agramfort commented on #4770
no objection as long as it works on all platforms and it's documented

[2017-11-22 13:42] agramfort commented on #4769
I don't get the question. See:

<img width="1258" alt="screen shot 2017-11-22 at 14 41 25" src="https://user-images.githubusercontent.com/161052/33130330-46213558-cf93-11e7-9f27-a9df99964a99.png">

if it starts with BAD then it stays red.

[2017-11-22 13:45] cbrnr commented on #4769
You can't create a new annotation which is completely within another annotation. This is useful if you don't only consider good/bad, but arbitrary information such as e.g. "trial", "cue", and "feedback". In this example, the "trial" annotation would extend from e.g. 2-10s. If I then want to create a "cue" annotation from e.g. 3-5s, I can't create it.

[2017-11-22 14:06] cbrnr commented on #4710
@agramfort @larsoner slightly OT, when is 0.15.1 planned to be released? The viz bug in raw.plot is pretty serious and 0.15.1 fixes it. This issue is for 0.16 because everything (EDF-related stuff) is still working in 0.15.

[2017-11-22 14:12] larsoner commented on #4770
In my UI experience, shift+arrow being "take larger steps" is common. One way we could make it more uniform would be to have some `time_delta`-like argument that is expressed in units of `duration`, the default thus being `1`. You could use `0.1` for your use case (meaning, move 10% of the window duration each arrow press). shift+arrow could then be mapped to e.g. 5x whatever the standard incremen

[2017-11-22 14:14] larsoner commented on #4771
It was just a way to mark a time point. It's useful when you scroll left and right. It used to be (maybe still is?) that if you clicked in the plot somewhere not on a trace, it would move the green line there.

[2017-11-22 14:16] larsoner commented on #4494
The single channel from the whole file must be loaded, yes. However, it is sometimes faster and almost always more memory efficient to read a single channel of data in MNE than it is to read the entire thing. So this still seems like a reasonable request. If `preload is False` then we can still do something internally similar to `raw[annot_pick][0]` to get the channel with lower overhead than `pre

[2017-11-22 14:17] cbrnr commented on #4771
Thanks @larsoner, this makes sense. However, in a multichannel recording with lots of channels on a page it is almost impossible to click somewhere not on a trace, so practically it is impossible to move this line. I think a dedicated shortcut (e.g. Shift+Click) could solve this issue.

[2017-11-22 14:20] cbrnr commented on #4494
Can't we set the `exclude` argument accordingly to only load the stim channel?

[2017-11-22 14:21] cbrnr commented on #4770
Yeah, I like this idea. Should I start with a PR?

[2017-11-22 14:23] cbrnr commented on #4770
I'd even go through a deprecation cycle to change the default to e.g. 25% or 50%. This is also more similar to what EEGLAB does (AFAIK EEGLAB takes 1/10 steps with each arrow press and a full step with some key combination).

[2017-11-22 14:25] larsoner commented on #4770
For viz functions and interactions we're usually a bit more lenient on the deprecation cycle. +1 for change to 25% from me

[2017-11-22 14:26] larsoner commented on #4771
Sure, or make it possible (and document) that you can e.g. click along the x-axis labels to move the line, too.

[2017-11-22 14:27] cbrnr commented on #4771
This is even better. No need to introduce unnecessary shortcuts no one remembers. 👍

[2017-11-22 14:28] larsoner commented on #4494
I suppose so. I'd consider that a more of a workaround than a permanent solution, though. Forcing someone to have two copies of their `raw` instance, one that they had to construct with a `exclude=np.setdiff1d(np.arange(len(raw.ch_names)), raw.ch_names.index('annotation_ch'))` or so is a pretty clunky solution to what we should be able to solve internally.

[2017-11-22 14:32] cbrnr commented on #4494
True, but I'm still not sure if this is really necessary in the first place unless you throw some convincing numbers at me (e.g. a decent amount of reduced absolute memory usage and/or speed increase). I haven't come across a large EDF file where memory usage/load times was an issue.

[2017-11-22 14:33] larsoner commented on #4494
I assumed that this issue was opened because it was problematic. Can you explain why `preload=True` is bad for you @sbang002 ?

[2017-11-22 14:46] cbrnr commented on #4770
Hmmm, Matplotlib doesn't seem to pick up the shift key as a modifier. Ctrl or command works, but when I press shift+right it only registers as right. Any ideas on how to proceed?

[2017-11-22 14:49] larsoner commented on #4770
From very brief reading/searching it looks like `shift` is treated like a normal key not a modifier, so we can track the state internally, similar to this

https://stackoverflow.com/questions/18141069/matplotlib-how-to-pick-up-shift-click-on-figure

[2017-11-22 14:54] cbrnr commented on #4770
Unfortunately this doesn't work. Shift isn't registered at all. Also, even if it was registered, I probably couldn't combine it with another key (the SO example is combining shift with a mouse event).

[2017-11-22 15:02] larsoner commented on #4770
Works for me, what backend are you on?
[code]

[2017-11-22 15:09] cbrnr commented on #4770
Ah - it doesn't work with `osx`, but `qt5` works! Cool, I think we can live with that, another reason to always switch to the `qt5` backend. PR incoming.

[2017-11-22 23:07] bdyetton commented on #4766
Given this is caused by an error on my end, im closing this.

[2017-11-23 00:38] aitorme opened #4774 "passing two eye channels as arguments"
I ran an EEG experiment with 32 channels, and when I want to run `mne.preprocessing.find_eog_events`, I need to specify the eye channels I used since the default is for an EEG with 64 channels. My problem is that I cannot pass two arguments for the `ch_name` option of the function, and trying to pass both at the same time as a list or tuple does not work either.

[2017-11-23 08:05] agramfort commented on #4766
it should not be a problem to apply avg ref multiple times. I am reopening until someone can explain what happened

[2017-11-23 08:14] agramfort commented on #4769
indeed. There should be a way to toggle on/off certain type of annotations

[2017-11-23 08:15] agramfort commented on #4774
you should pass the vertical EOG channel or make a virtual EOG from a
derivation.

[2017-11-23 08:23] agramfort commented on #4710
just pushed 0.15.1 https://pypi.python.org/pypi/mne

[2017-11-23 08:30] cbrnr commented on #4710
Thanks @agramfort! So far `pip` isn't seeing the new version, but I'm hoping this won't take too long.

[2017-11-23 11:55] aitorme commented on #4774
is there any documentation to make the derivation of that? I'd rather have the information from both eye channels if possible

[2017-11-24 05:21] teonbrooks commented on #4774
if you have generated a `Raw` object, you can use the method `set_channel_types` to assign the specified channels as eog. also, at the file reading, you can specify eog channels with the parameter 'eog'.

[2017-11-24 10:20] cbrnr opened #4777 "raw.plot fixes not in 0.15.1?"
@agramfort could it be that https://github.com/mne-tools/mne-python/pull/4692 didn't get into 0.15.1?

[2017-11-24 13:14] larsoner commented on #4777
Yes I missed the `backport` label :(

[2017-11-24 13:47] cbrnr commented on #4777
This was the main reason (at least for me) for the bugfix release - I guess we can't just include it and call it 0.15.1 again. Can we release 0.15.2 pretty soon?

[2017-11-24 16:02] jona-sassenhagen opened #4779 ""Significant differences" for plot_compare_evoked"
As suggested by @kingjr :

When confronted to multiple curves I bold the curves that are sig. different from chance
fill between the two curve when the two curves are sig. from one another
e.g. example
https://cloud.githubusercontent.com/assets/4881164/16731694/74e20ca8-4747-11e6-8507-f1495430024d.png

I can imagine this being useful. If people agree, I would go about implementing it.

[2017-11-24 16:05] agramfort commented on #4777
yes backport and I'll push 0.15.2

let me know when to do it

[2017-11-24 16:10] kingjr commented on #4779
I'm not sure. In my opinion, we should teach people on how to make these
kind of plots, and master matplotlib, else we'll run into
specificity/support issues. But that's just a feeling

On 24 November 2017 at 11:02, jona-sassenhagen <notifications@github.com>
wrote:

[2017-11-24 16:38] jona-sassenhagen commented on #4779
You're turning into Alex :|

[2017-11-24 18:38] #4770 closed

[2017-11-24 20:46] kingjr commented on #4779
I take this as a compliment ;)

On Friday, 24 November 2017, jona-sassenhagen <notifications@github.com>
wrote:

[2017-11-25 07:17] agramfort commented on #4779
+1 :)

fully agreed with JR

[2017-11-25 19:56] mmagnuski commented on #4779
I also agree, although it could be useful to provide some _simple_ function(s) for highlighting portions of 1d / 2d data I wouldn't build it into any existing function - rather show in a tutorial how to write such highligting code.

[2017-11-25 20:02] dengemann commented on #4779
Could not agree more. Teach people to use matplotlib. They have the
bandwidth to actually support viz and its documentation.
On Sat 25 Nov 2017 at 20:56, Mikolaj Magnuski <notifications@github.com>
wrote:

[2017-11-25 20:41] larsoner commented on #4777
Backported and bumped version to 0.15.2, feel free to (double check and) cut a release

[2017-11-25 20:58] agramfort commented on #4777
done https://pypi.python.org/pypi/mne

[2017-11-25 22:31] #4777 closed

[2017-11-27 04:08] VedaHung opened #4780 "KIT layout for plots"
Hi MNE experts,

I used KIT system for MEG data recording.
MEG data were imported to mne with two following functions:
raw = mne.io.kit.read_raw_kit(file, stim = [200],preload=True)
kit_lay = mne.channels.layout.read_layout('KIT-TW-157.lout')

However,I had problems with two following functions:

(1) ica.plot_properties(epochs, i)
      error message: "the KIT system with ID 261 is missing"

(2) m

[2017-11-27 11:48] jjnurminen commented on #4764
If you're on Elekta/Neuromag system and have defined the averaging categories in the acquisition software, you might benefit from the AcqParserFIF class. See example below:

https://mne-tools.github.io/dev/auto_examples/io/plot_elekta_epochs.html

[2017-11-27 13:49] cjayb opened #4783 "BUG plot_alignment doesn't use `-head.fif` even when exists"
Using the default `surfaces` parameter (`'head'`), `plot_alignment`

[code]

raises an

[code]

even though `-head.fif` exists in `bem`. I think there's a simple PR for this...

Context: ran into this when replying to a mail on the list, don't often deal with subjects for which `outer_skin` doesn't exist at this stage of analysis.

[2017-11-27 13:49] cbrnr opened #4784 "raw.plot_psd(reject_by_annotation=False) crashes"
When I run `raw.plot_psd(reject_by_annotation=False)` on a `raw` object containing annotations, I get the following error:

[code]

The problem is [here](https://github.com/mne-tools/mne-python/blob/master/mne/time_frequency/psd.py#L55):

    rba = 'NaN' if reject_by_annotation else reject_by_annotation

If `reject_by_annotation` is `False`, it remains `False`, but afterwards the string method is

[2017-11-27 14:13] larsoner commented on #4780
@christianbrodbeck any ideas?

[2017-11-27 14:26] larsoner commented on #4784
This indeed seems like bad checking, PR welcome if you have time

[2017-11-27 19:51] teonbrooks commented on #4780
@VedaHung I was able to reproduce the error. since I don't have the layout to see if this remedies the problem, try the following:

[code]

[2017-11-27 19:54] teonbrooks commented on #4780
@VedaHung I was able to reproduce the error. since I don't have the layout to see if this remedies the problem, try the following:

[code]

[2017-11-28 00:33] mmagnuski commented on #4784
I've had that too lately, should be an easy fix. BTW - does `reject_by_annotation=None` work for you?

[2017-11-28 00:36] VedaHung commented on #4780
Hi,
Thanks for the suggestions. However, adding KIT layout in  topomap_args did not work.
BTW, I attached the layout I used here.
Veda

[KIT-TW-157.zip](https://github.com/mne-tools/mne-python/files/1508112/KIT-TW-157.zip)

[2017-11-28 02:03] VedaHung commented on #4780
Hi all,

Someone suggested to use the function as following and it workded.
ica.plot_properties(epochs, i, topomap_args={'layout': kit_lay})

Veda

[2017-11-28 03:33] christianbrodbeck commented on #4780
To make it easier, the layout could be added to the builtin layouts, it just needs to be registered to the appropriate system-ID in `mne.io.kit.constants.KIT_LAYOUT`.

[2017-11-28 10:11] cbrnr commented on #4784
@mmagnuski yes, `None` works, and so does *any* string.

[2017-11-28 10:17] cbrnr commented on #4784
It seems we only want to accept `True` or `False`. The question is, where should these arguments be checked? We could do this in multiple places.

[2017-11-28 14:13] cbrnr opened #4788 "Is scikit-learn required for ICA?"
When creating an `ICA` object, I get the following error if scikit-learn is not installed:

    RuntimeError: the scikit-learn package (version >= 0.12)is required for ICA

I think MNE's ICA implementation uses the `FastICA` class from scikit-learn, but AFAIK it ships its own (Extended) Infomax algorithm, in which case scikit-learn should not be required.

[2017-11-28 14:17] cbrnr commented on #4788
Also, there's a space missing in this error message. And the main README says that scikit-learn >= 0.18 is required - which version is it?

[2017-11-28 14:52] larsoner commented on #4788
We also use randomized PCA from `sklearn` for dimensionality reduction and whitening.

I think the error message is old and should be updated to say 0.18

[2017-11-28 15:05] larsoner commented on #4784
If we only allow bool in `plot_psd`, do it there. If we do it multiple places, add a helper to `mne/viz/utils.py` or `mne/utils.py` (as appopriate based on where the functions that will use it live) and use it in those places

[2017-11-28 15:37] cbrnr commented on #4784
The call stack is `mne.io.BaseRaw.plot_psd` -> `mne.viz.raw.plot_raw_psd` -> `mne.time_frequency.psd.psd_welch` -> `mne.time_frequency.psd._check_psd_data`. The error occurs in the last function, because here `True` or `False` needs to be converted to `None`, `'omit'` or `'NaN'`. So I guess this line

    rba = 'NaN' if reject_by_annotation else reject_by_annotation

should be changed to

    rba

[2017-11-28 15:57] larsoner commented on #4784
Sounds reasonable to me

[2017-11-28 23:29] aitorme commented on #4774
I cannot find any documentation for `set_channel_types`; what would be the difference between using that function and specifying them when importing the `raw` object at file reading?

[2017-11-28 23:52] mmagnuski commented on #4774
@aitorme
For example: https://martinos.org/mne/stable/generated/mne.io.RawArray.html#mne.io.RawArray.set_channel_types

[2017-11-29 11:06] cbrnr commented on #4766
Actually you can only apply an average reference multiple times if the original reference stays in the data. The reference signal is not in among the 12 channels I assume, so applying another average reference further reduces the rank of the data. I do get nice results when I fit ICA on the double average referenced data like this:

[code]

[2017-11-29 11:09] cbrnr opened #4792 "Selecting ICA components in `ica.plot_components` doesn't work anymore"
If I click on the title of a component in the dialog produced by `ica.plot_components(inst=raw)`, I get the following error:

[code]

Any idea why the label is gone and how to retrieve it (actually, `event.inaxes` is `None`)?

[2017-11-29 11:12] cbrnr commented on #4764
@hendriksantosa can you share your data so we can have a look? Sometimes, you need to tune some arguments of `mne.find_events`, e.g. `uint_cast`, `shortest_event`, `min_duration`, and `consecutive`.

[2017-11-29 12:25] agramfort commented on #4766
ok so I guess there is no bug.

[2017-11-29 12:27] #4783 closed

[2017-11-29 12:54] cbrnr commented on #4766
IMO yes, there's no bug.

[2017-11-29 13:08] #4753 closed

[2017-11-29 13:13] mmagnuski commented on #4792
I'll take a look in the evening, which matplotlib version do you have?

[2017-11-29 13:19] cbrnr commented on #4792
Thanks! I have the latest Matplotlib (2.1.0).

[2017-11-29 18:22] #4788 closed

[2017-11-29 20:03] teonbrooks commented on #4774
there's no real difference between setting the eog at the `Raw` initialization and afterwards

[2017-11-29 20:27] #4784 closed

[2017-11-29 23:22] mmagnuski commented on #4792
What is your expectation for what should happen when you click the title? I can replicate your problem but if you want to open component properties then click on the topo, not the title. Then this would be an easy fix.

[2017-11-29 23:55] larsoner opened #4795 "ENH: Allow whitening in plots"
It occurred to me that most of our trace-plotting functions (raw.plot, epochs.plot, evoked.plot) could be plotted with whitened sensor signals. Such plots can be useful for many reasons, such as when sensor noise levels are not the same across channels (which can happen with movement compensation, among other times).

This would also be more reflective of how the data are used during dipole fits a

[2017-11-30 00:53] turbach opened #4796 "mne.create_info returns unhashable mne.Info, see meas_info.py:788"
minor bug, easy fix

    '0.16.dev0'

I'm building mne.Raw from scratch with

                                samplerate,
                                chantypes,
                                montage)

The EEG channel labels are not of the form 'EEGNNN' so when when info['dig'] gets built, the *idents* handler falls thru to an np.arange which is dtype('int64')

     # meas_info.py

     ...

[2017-11-30 01:28] larsoner commented on #4796
I think we do indeed usually cast these to `int` when reading, so doing it when creating from scratch makes sense. PR welcome, it's best if you can follow TDD by adding a tiny test that fails on `master` but passes on your PR.

[2017-11-30 02:01] larsoner commented on #4795
I just created a dup of #3926

[2017-11-30 02:01] #4795 closed

[2017-11-30 07:07] cbrnr commented on #4792
Clicking on the title should mark/unmark a component as bad (i.e. include/exclude in `ica.exclude`).

[2017-11-30 07:29] agramfort commented on #4796
our hashing code cannot hash array of int64?

[2017-11-30 09:10] mmagnuski commented on #4792
Ah, right, that's something that you've added IIRC. Where is that set up in the code (I looked but couldn't find it)? Because the error comes from the piece of code that plots properties, not tries to change `ica.exclude`.

[2017-11-30 09:12] cbrnr commented on #4792
What, I added this? :open_mouth:

[2017-11-30 09:17] mmagnuski commented on #4792
Correct me if I'm wrong. :) I looked into PR history and found this related PR: #4285, but it does only change title coloring, no interactivity is added. When was the title-related interactivity added?

[2017-11-30 09:22] cbrnr commented on #4792
AFAIR I wanted to add interactivity but then we decided to quickly merge this PR with only the color change implemented. So even if I did not yet add interactivity we still need to handle this error, right? We should be able to click on the title and nothing should happen.

[2017-11-30 09:27] mmagnuski commented on #4792
Yes, that was why I mentioned that it should be an easy fix if clicking on titles doesn't have any intended functionality now. I will push a PR today. I can also add the selection by title clicking, unless you want to do it. :)

[2017-11-30 10:03] cbrnr commented on #4792
Actually, if you want to add the interactive functionality I'd be more than happy! :smile:

[2017-11-30 12:56] mmagnuski commented on #4792
Ok, I'll try to do it in one PR.

[2017-11-30 13:36] mmagnuski commented on #4792
Because clicking on the title will always give you inaxes of None, the selection (changing state from excluded to included and the reverse) can be done in an easy or hard way:
* *easy* - right-clicking the topo changes IC state
* *harder* - clicking the title changes ICA state, but that would require checking the bounding boxes of titles with respect to xy pos of the mouse click.

Because of this

[2017-11-30 13:43] mmagnuski commented on #4792
BTW anyone knows how to quickly find all the title text objects? In this case I can do it by inspecting all text object and seeing which have a text beginning with `'ICA'` but I was wondering if there is an easier way.
Once this is done we could check all text objects with their `contains` method against the mouse event.

[2017-11-30 13:50] larsoner commented on #4792
Instead of inspecting all, we know there is only one we care about. So it might be easier to know which `Axes` instance you're interested in and check only the `contains` of its title text object as `ax.title` IIRC.

[2017-11-30 13:50] cbrnr commented on #4792
Did this change recently? AFAIR, you could click on the title and nothing happened.

From a UX perspective, the harder option (clicking on the title) would be preferable. In plot_raw, you can click on the y-axis channel labels to select/deselect a channel - is this something similar you could use?

[2017-11-30 13:51] larsoner commented on #4792
(and if you don't know which, iterate over `fig.axes` and find the one with an appropriate `ax.get_title()` str)

[2017-11-30 14:23] mmagnuski commented on #4792
@larsoner
Cool, I forgot about `ax.title` :) But this would sitll require testing all titles: if the user clicks on title I only know the x and y of the mouse.

[2017-11-30 14:32] larsoner commented on #4792
I'm thinking:
[code]

[2017-11-30 14:39] mmagnuski commented on #4792
Yes, this is similar to my line of thinking :) But we can gather the titles beforehand - during the construction of ic topos. So I actually meant "all ic titles".

[2017-11-30 14:52] larsoner commented on #4792
Yeah that should be fast enough

[2017-11-30 15:59] larsoner commented on #4796
Actually this is a bit strange, `mne.utils.object_hash(np.int64(1))` passes on my system. @turbach does it fail for you? What is your `mne.sys_info()`?

[2017-11-30 16:01] turbach commented on #4796
looks like np.ndarrays are in the switch but i don't see how np scalar
dtypes are handled when the recursion bottoms out  ... utils.py:157

On Nov 29, 2017 11:29 PM, "Alexandre Gramfort" <notifications@github.com>
wrote:

our hashing code cannot hash array of int64?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/mne-to

[2017-11-30 17:31] turbach commented on #4796
Interesting that mne.utils.object_hash(np.int64(1)) works on your system
... I'm curious what elif clause in utils.py::object_hash is catching it
for you.

I did some digging before submitting the issue, here's what I see ...

(Pdb) mne.utils.object_hash(np.int64(1))
*** RuntimeError: unsupported type: <class 'numpy.int64'> (1)

(Pdb) isinstance(np.int64(1), np.ndarray)
False

(Pdb) isinstance(np.

[2017-11-30 18:37] mmagnuski commented on #4792
@cbrnr

I'm not sure, I never clicked the titles before. But I tried this on a previous matplotlib version and the error was printed in the console where I started jupyter notebook, but was absent in the notebook view. Maybe matplotlib changed something so now all the errors are passed to the notebook (that's actually helpful).

[2017-11-30 20:59] agramfort commented on #4796
I can replicate the pb:

In [1]: import mne

In [2]: import numpy as np

In [3]: mne.utils.object_hash(np.int64(1))
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-3-6b8634000e2a> in <module>()
----> 1 mne.utils.object_hash(np.int64(1))

~/work/src/mne-python/mne/utils.py in objec

[2017-12-01 11:41] cbrnr opened #4802 "Traces in `raw.plot_psd(average=False)` are too faint"
The output of `raw.plot_psd(average=False)` currently looks like this:
![psd_current](https://user-images.githubusercontent.com/4377312/33481439-bf2c699c-d694-11e7-913f-1229336055f6.png)

The alpha level is 0.1, which IMO is way to low. I propose changing this value to 0.75, which results in the following much improved output:
![psd_075](https://user-images.githubusercontent.com/4377312/33481452-d

[2017-12-01 13:58] #4802 closed

[2017-12-05 10:31] cbrnr opened #4813 "Filter (mute/disable) specific warnings"
How can I filter a specific warning I don't want to see? The problem is that warnings go through `warnings` and the `logging` module. Specifically, I want to mute the warning that my ICA files do not follow MNE naming conventions. I can mute the warning (in fact, I want to mute all warnings related to MNE naming conventions) like this:

    warnings.filterwarnings("ignore", ".*not conform to MNE n

[2017-12-05 14:12] larsoner commented on #4813
Right now you can globally use `verbose='error'` or `with mne.utils.use_log_level('error'):` context handler, but it will squash all warnings and infos.

To do what you want I guess we could extend `use_log_level` with an `ignore` regex. Then we'd need to modify (create?) our own `StreamHandler` to filter via regular expression matching.

[2017-12-05 14:21] cbrnr commented on #4813
Yeah, I don't want to globally disable all warnings and infos. Your idea sounds great, do you think this would be useful to have (or am I the only one with this use case)? I'm not sure I have the time and background to implement this quickly.

[2017-12-05 14:27] larsoner commented on #4813
I haven't needed to split the messages, but maybe others do.

I think basically you'd set up a context manager (`__enter__` and `__exit__`) that stored the old handlers and set a new subclassed [StreamHandler](https://docs.python.org/3/library/logging.handlers.html#logging.StreamHandler) that `emit`s only if the regex is satisfied. See this for inspiration about how to access the `mne` logger and

[2017-12-05 15:00] cbrnr commented on #4813
Hm, here's what I came up with:

[code]

It seems to work, but now the question is where do we add this functionality? Do you want to add a new `ignore=None` parameter for `set_log_level`?

[2017-12-05 15:02] larsoner commented on #4813
I'd add an `ignore` parameter to the `use_log_level` context handler

[2017-12-05 15:05] cbrnr commented on #4813
And how do I ignore a specific message in my script then? I don't want to wrap everything in a `with` block.

[2017-12-05 15:14] larsoner commented on #4813
You would only need to wrap the offending call (usually `read_raw_fif`). Is this too much?

[2017-12-05 15:17] cbrnr commented on #4813
Hm, I also have a `read_ica` call which triggers this warning. Ideally, I'd set it at the top of my script with `mne.set_log_level('warning', ignore='.*convention.*')`, but I guess I could also wrap the offending calls directly. What about the warnings emited by `warn` though? Do I still need to filter them separately?

[2017-12-05 15:18] cbrnr commented on #4813
Or alternatively, can't we downgrade the message related to file naming conventions to info (and not emit a `warn`)? This would also solve my problem :smile:.

[2017-12-05 15:18] larsoner commented on #4813
I think the `warn` function that we use checks the `logging` level and if it's set such that `logger.warn(...)` is ignored it does not emit a `warnings.warn(...)` either, but it would be good to double-check

[2017-12-05 15:20] larsoner commented on #3291
Closing as I don't think there is much we can do in MNE to fix this, it's more of a Freesurfer / triangulated mesh problem (but feel free to comment further if people find other fixes)

[2017-12-05 15:20] #3291 closed

[2017-12-05 15:21] cbrnr commented on #4813
You're right, `warn` does take care of that. Still, are you open to downgrading this to info?

[2017-12-05 15:23] larsoner commented on #4813
Soon we're going to have to relax or change our naming checks to BIDS formatting guidelines anyway.

At least for raw FIF data I don't mind relaxing the checks. But would you also want them changed or removed for ICA (and evoked, cov, etc.)? The tradeoff is between trying to improve standard adoption, and not annoying users. So if we can offer users a way of not being annoyed (`verbose='error'` or

[2017-12-05 15:27] cbrnr commented on #4813
The question is how are standard file name conventions enforced? I prefer to use `*_ica.fif` instead of `*-ica.fif` because all my files are separated by underscores. Does anything stop working if I don't follow the convention? If not, this message should be an info and not a warning. And yes, I use a `warning` log level, but these warnings spam my output which might make me miss important warning

[2017-12-05 15:29] larsoner commented on #4813
I'm not convinced. There is value in us trying to get the community to follow standardized naming conventions. I think we should offer people a way to avoid these warnings if they don't want them. So far `verbose='error'` has probably been enough for people, and the API we've talked about here would give finer grained control.

For the specific case of ICA I'm fine with adding `_ica.fif` to the li

[2017-12-05 15:36] cbrnr commented on #4813
Yes, enforcing standards is a good thing, I agree. I'm just not sure if a context handler is the best option. Personally, I like how `warnings.filterwarnings` lets you globally filter out specific messages. I would prefer a similar function in MNE (`mne.filterwarnings`?) that filters both warnings and logging messages at the warning level. This way, users could disable specific messages with one l

[2017-12-05 15:37] cbrnr commented on #4813
OK, now I get it. You mean I should just use `read_ica('whatever_file', verbose='error')`? Of course this is also fine!

[2017-12-05 15:40] larsoner commented on #4813
Yes that is what I do. But in cases where you care about the `logger.info` (like you might in `read_raw_fif`) then you would need some finer level of control like we've been discussing.

I slightly prefer the context manager because it limits the scope of changes. This is less convenient than the `filterwarnings` approach, but at the same time more explicit about where warnings will actually be ig

[2017-12-05 15:50] cbrnr commented on #4813
Unfortunately, `read_ica` doesn't accept a `verbose` argument, so it would be the context manager again.

Both approaches have pros and cons and it often depends on the situation which one is better. I don't have a solution here, only I still prefer the global solution in my use case.

OK, I'll try that.

But before I do, can we discuss why non-conventional names trigger warnings again? I thought

[2017-12-05 16:11] larsoner commented on #4813
[FTFY](https://github.com/mne-tools/mne-python/commit/dc9d4da05cd18dcd0ce43ddfc6b8cb40bc8dea8d) -- this was just an oversight as it already even had the `verbose` decorator

Even under this definition my arguments hold if you consider standardization as important and directly influences interpretability of what data a given set of files contain upon looking at them as files in a filesystem.

The r

[2017-12-06 09:15] cbrnr commented on #4813
Thanks! Isn't the `verbose` decorator supposed to add the `verbose` argument? Why is it necessary to explicitly add it to the function?

Again, I don't consider this as important as other warnings related more directly to the outcome of a function. That's why they should be in the info category.

Also, why does `read_ica` trigger this warning in the first place? I agree that it could remain a warn

[2017-12-06 09:34] kingjr commented on #4813
2

On Wednesday, 6 December 2017, Clemens Brunner <notifications@github.com>
wrote:

[2017-12-06 10:44] jona-sassenhagen commented on #4813
I am in favour of warnings for violations of standards, but I also think we produce too many errors - it rewards turning them off entirely. Not sure what solution that entails though.

[2017-12-06 15:33] wmvanvliet opened #4816 "Using `@deprecated` breaks docstring test"
If you use `@deprecated` somewhere, `make pep` will fail on the `test_docstring_parameters.py` test. This has probably something to do with it overwriting the docstring of the deprecated object.

[2017-12-06 15:38] abhiramsingh0 opened #4817 "core dumped in normal code execution or kernel dead in jupyter notebook after calling crop function of raw object.."
trying to crop the raw object based on some indices. This is killing the kernel in Jupyter notebook. Running in python 2.7 also generates core dump. What is the reason of this?

[2017-12-06 15:44] agramfort commented on #4817
how did you install python / jupyter?

show us what

mne.show_info()

tells you

[2017-12-06 15:47] agramfort commented on #4816
yes you need to add it to list of ignored functions.

[2017-12-06 17:27] abhiramsingh0 commented on #4817
python is already installed on ubuntu. Jupyter was installed via pip.
Since program is terminated, after crop(), no information is obtained.
on running mne.show_info(), i got attribute error: module object has no attribute 'show_info'

[2017-12-06 17:32] agramfort commented on #4817
sorry i meant

mne.sys_info()

did you do:

sudo pip install jupyter

?

[2017-12-06 17:37] abhiramsingh0 commented on #4817
Platform:      Linux-4.4.0-98-generic-x86_64-with-Ubuntu-16.04-xenial
Python:        2.7.12 (default, Nov 19 2016, 06:48:10)  [GCC 5.4.0 20160609]
Executable:    /home/gnl/TF/bin/python
CPU:           x86_64: 16 cores
Memory:        31.3 GB

mne:           0.15.2
numpy:         1.13.1 {lapack=openblas, blas=openblas}
scipy:         0.19.1
matplotlib:    2.0.2

sklearn:       0.19.0
nibabel:

[2017-12-06 17:39] abhiramsingh0 commented on #4817
also getting same problem of kernel dead while running get_data() method of raw object.

[2017-12-06 17:39] agramfort commented on #4817
well that's really dangerous to do

sudo pip install

I would recommend you install ubuntu version of jupyter with apt-get
or use anaconda but do not mix the 2.

[2017-12-06 17:42] abhiramsingh0 commented on #4817
pip install was done by first creating virtualenv so I think this might not be the problem.

[2017-12-06 17:46] agramfort commented on #4817
you have an install problem for sure. it's not an mne problem.

try using anaconda

[2017-12-06 17:48] agramfort commented on #4813
I would go with 3 but if you really insist 2 could be fine

[2017-12-06 17:51] abhiramsingh0 commented on #4817
One more point I want to mention is that when I am trying to do crop directly on raw object it is not showing any error. But when different raw objects are appended in list and then crop and get_data method on elements of list are giving kernel dead error.

[2017-12-06 18:44] agramfort commented on #4817
can you share a code snippet to replicate?

[2017-12-06 19:28] abhiramsingh0 commented on #4817
**working case:**
[code]

**non working case:**
[code]

[2017-12-06 23:15] agramfort commented on #4817
this is not a self-contained example using sample dataset. to try quickly I
should just need to "copy and paste".

thx

[2017-12-07 07:40] wmvanvliet commented on #4816
This seems to suggest this ignoring should happen automatically:

https://github.com/mne-tools/mne-python/blob/9fa084b33d0870f6da6af6fb61264068808e949b/mne/tests/test_docstring_parameters.py#L103

[2017-12-07 08:50] Rockingsnow opened #4818 "Some troubles when I used the EEG of the .edf format to do source location"
When I used the dateset of BIC2000 system to do source location，I ran my code below：

import numpy as np
import matplotlib.pyplot as plt
import mne
from mne import Epochs, pick_types, find_events
from mne.channels import read_layout
from mne.io import concatenate_raws, read_raw_edf
from mne.datasets import eegbci
from mne.minimum_norm import (make_inverse_operator, apply_inverse,

[2017-12-07 09:54] abhiramsingh0 commented on #4817
Providing full code to replicate the issue.
However you need to download the dataset, extract it and change the **initial path** in the code where all extracted folders are placed.
You need to download the files MM05.tar.bz2 and so on from the website [http://www.cs.toronto.edu/~complingweb/data/karaOne/karaOne.html](url)
[code]

[2017-12-07 10:49] wmvanvliet commented on #4816
Ah, I get it now. You should add the function names to the `_docstring_ignore` list. Thanks @agramfort for the pointer.

[2017-12-07 10:49] #4816 closed

[2017-12-07 15:28] agramfort commented on #4818
your forward "sample" is subject specific. You need a generic forward model
eg using an average brain like fsaverage

[2017-12-07 15:32] agramfort commented on #4817
you don't replicate with eg the sample dataset?

[2017-12-07 15:48] dokato commented on #4695
Hi @larsoner, is this fixed? I still have the same problem (recently reinstalled mne).

[2017-12-07 15:55] larsoner commented on #4695
Yes it should be fixed, what is `mne.sys_info()`

[2017-12-07 16:03] dokato commented on #4695
[code]

[2017-12-07 16:05] larsoner commented on #4695
You need to upgrade to `0.15.1` or `0.15.2` (latest release)

[2017-12-07 16:22] dokato commented on #4695
Oh, sorry. I didn't notice that. It helped. Thanks!

[2017-12-07 17:50] abhiramsingh0 commented on #4817
I am unable to replicate on **mne.datasets.eegbci** dataset.
Can you please check on the _karaone_ dataset provided on the link above?
I am continuously facing the issue on _karaone_ dataset.

[2017-12-07 18:48] kingjr opened #4819 "Q? morph volume source estimate"
I normally use `compute_morph_matrix` to  generate a morph that I can apply to my  source estimate `stc.morph_precomputed`.

However, I am now trying to use LCMV beamformers, which generate volume source estimate. Such object do no have `morph_precomputed` methods. Is there a way to morph such volume stc to `fsaverage`?

Thanks!

cc @avkasdan @britta-wstnr

[2017-12-07 18:53] larsoner commented on #4819
FWIW you can do LCMV using a surface-based source space if you want.

For transforming MRI data we don't provide anything but e.g. `nibabel` might. Basically you can use `stc.as_volume()` to get a standard MRI NIfTI file/`nibabel` instance:

https://martinos.org/mne/stable/generated/mne.VolSourceEstimate.html#mne.VolSourceEstimate.as_volume

At that point you have a standard MRI problem of transfo

[2017-12-07 19:17] agramfort commented on #4817
can you share with me privately a dropbox folder with the script and the
data next to it.

it will make it trivial for me (and others) to replicate

[2017-12-08 07:51] Rockingsnow commented on #4818
@agramfort  Thank you to answer my question!
You mean that I use the fsaverage space in the Freesurfer as the average brain model, but I don't know how to transfer the generic forward model to my code when I ran into “fname_fwd = mne.make_forward_solution(raw.info, trans, src, bem)” .
My purpose is only to get the inverse solution（source estimates） according to my EEG signal of the .edf format. Ca

[2017-12-08 13:18] abhiramsingh0 commented on #4817
Sorry, I do not have Dropbox account.
I believe that by following steps mentioned in the above post, one can easily download the dataset, copy-paste the code and replicate the issue.
Thanks

[2017-12-08 18:14] agramfort commented on #4818
maybe use this ressource:

https://fr.slideshare.net/mne-python/mnepython-scale-mri

[2017-12-08 21:03] kingjr opened #4820 "BUG: metadata and droplog"
`metadata` does not take dropped epochs into account

e.g.

[code]

cc @jona-sassenhagen @choldgraf

[2017-12-08 21:23] kingjr opened #4821 "BUG: metadata update field"
The user cannot update the metadata field:

[code]

cc @choldgraf @jona-sassenhagen

[2017-12-08 21:24] kingjr opened #4822 "BUG: default epochs events does not work with list"
works:

[code]

does not work:
[code]

cc @larsoner

[2017-12-08 21:33] kingjr opened #4823 "FIX: metadata index behavior does not comply with pandas"
the raw index is reset by default. This makes the user lose track of the original indices of the metadata. #bad

[code]

[2017-12-08 22:33] larsoner commented on #4823
[#wetalkedaboutthis](https://github.com/mne-tools/mne-python/pull/4414#issuecomment-331449259)

[#rtfm](https://mne-tools.github.io/dev/auto_examples/preprocessing/plot_metadata_query.html) (though maybe we should make it more prominent)

#amidoingthisright

... basically we lose it during I/O and it would take some thinking (i.e., building something custom on top of the I/O that Pandas natively p

[2017-12-08 22:34] larsoner commented on #4822
Yes we should cast to `np.array(...)`, check the dtype and shape (raise error if incorrect), and cast to `int`. PR welcome

[2017-12-08 22:48] kingjr commented on #4823
Maybe, my memory isn't great.

In any case, that remain a very bad design. This can cause major analytical errors; might as well have a separate Dataframe.

How about we assign a `_index` column on the fly to store and regenerate the right indices? Then would just have to indicate to the subjects that this column name shouldn't be touched.

[code]

[2017-12-08 22:49] larsoner commented on #4823
Can you check to see if it's redundant with `epochs.selection`? If so we can just use that perhaps

[2017-12-08 23:00] kingjr commented on #4823
yes, that seems to be doing the job. So we'd just need to do `pd.DataFrame(metadata, index, epochs.selection)` when subselecting epochs (`epochs[idx:]`), reading and writing.

[2017-12-09 00:32] jona-sassenhagen commented on #4821
Yeah, for now, you need to do:

[code]

[2017-12-09 00:33] jona-sassenhagen commented on #4779
Thanks for the input!

[2017-12-09 00:33] #4779 closed

[2017-12-09 00:35] jona-sassenhagen commented on #4820
This is bad. I think it would be important to fix this ASAP.

[2017-12-09 00:43] jona-sassenhagen commented on #4822
We actually convert to an array, but it happens later:

https://github.com/mne-tools/mne-python/blob/master/mne/epochs.py#L263

We could change this line:
`            event_id = list(np.unique(events[:, 2]))`
so that it works for arrays and lists, e.g. something like
`event_id = list({id for _, _, id in events})`

I don't think `events` will be large enough for this to become a problem.

[2017-12-09 00:46] kingjr commented on #4821
or you can do
[code]

but we shoulnd't need to go through a hidden var or df replacement IMO

[2017-12-09 01:08] agramfort commented on #4821
agreed going through df aux var seems an overkill for me.

[2017-12-09 01:10] choldgraf commented on #4821
I think the reason for this was to do consistency / error checks any time
something is edited
--

On Fri, Dec 8, 2017 at 5:08 PM Alexandre Gramfort <notifications@github.com>
wrote:

[2017-12-09 01:54] kingjr commented on #4823
We still need to create the fix. Specifically, anytime we internally read/write/modify the metadata, we need to pass the `epochs.selection` to the metadata index.

(I don't have the bandwidth right now, sorry)

[2017-12-09 03:10] larsoner commented on #4821
Yes it's to prevent users from e.g. removing rows manually and breaking
everything. I guess we could instead add a private consistency checker
function that we run that checks length (and row index match with
.selection eventually) anytime we want to access metadata

[2017-12-09 03:11] larsoner commented on #4822
We should just convert and check earlier, your suggested code will yield
less clear errors depending on input

[2017-12-09 05:03] kingjr commented on #4819
ok , I'll close it, as I doubt anyone will have time to do such ENH.

[2017-12-09 05:03] #4819 closed

[2017-12-09 08:01] nerdmiao opened #4824 "OverflowError: date value out of range"
[code]
I got this error, how can fix it?

[2017-12-09 13:31] larsoner commented on #4819
It would be great if you can report back what solution you come up with in
the end. You might want to email the list as people there might have ideas.

[2017-12-09 14:31] Rockingsnow commented on #4818
@agramfort thanks for your sharing, let me see first.

[2017-12-09 15:45] kingjr commented on #4819
I went back to surface stc

On Saturday, 9 December 2017, Eric Larson <notifications@github.com> wrote:

[2017-12-09 21:24] agramfort commented on #4824
you can put a break point eg with:

import ipdb; ipdb.set_trace()

then inspect the value of :

date * pow(2, -32) - 367

to understand what happened.

please show us what:

mne.sys_info()

gives you

[2017-12-09 21:37] agramfort commented on #4822
see https://github.com/mne-tools/mne-python/pull/4825

[2017-12-09 21:38] agramfort commented on #4821
sounds like a good idea

[2017-12-10 06:39] nerdmiao commented on #4824
I guessed my dataset files is wrong. I edited it with notepad but it was not aligned。

[2017-12-10 16:21] agramfort commented on #4824
we could make a try except to avoid error and give warnings but we need to
be able to replicate.

can you share a file?

On Sun, Dec 10, 2017 at 7:39 AM, miao <notifications@github.com> wrote:

[2017-12-10 16:25] agramfort commented on #4817
what file should I use? each is 2GB....

[2017-12-10 22:38] #4822 closed

[2017-12-11 04:28] abhiramsingh0 commented on #4817
Yes I know, each file is pretty heavy. You have to download 13 files starting from MM05.tar.bz2 to MM21.tar.bz2.

[2017-12-11 06:15] nerdmiao commented on #4824
ok！ It's the data file with incorrect modify.
[A01T.gdf.zip](https://github.com/mne-tools/mne-python/files/1546705/A01T.gdf.zip)

[2017-12-11 16:41] agramfort commented on #4817
ok that won't happen. Please make an effort to make a minimal reproducible
example.

[2017-12-11 19:57] stes opened #4828 "Reading eeg lab files: Issues with more recent file version"
As of matlab 7.3, the `scipy.io.loadmat` interface is not suitable for reading `*.mat` (and thus, `*.set` files) anymore. Attempting to use `mne.read_epochs_eeglab` or `mne.read_raw_eeglab` results in the following error:

[code]

Which is thrown by `scipy.io.loadmat`.

Is there an easy way to solve this issue?

[2017-12-12 04:07] agramfort commented on #4828
yes load your files in matlab and save them again to disk with the "-v6"
option.

[2017-12-12 05:18] agramfort commented on #4824
thanks

ok I can replicate.

now i tried to see what is expected answer for these lines:

https://github.com/mne-tools/mne-python/blob/master/mne/io/edf/edf.py#L888

but I see that these lines are not covered by our EDF/GDF tests and I
cannot find
a file on my disk that needs these lines.

@teonbrooks maybe?

what does a matlab reader gives for the date on this file you shared?

[2017-12-12 07:42] Rockingsnow commented on #4818
@agramfort  Excuse me！I read the ressource which you shared the other day. I found the Input Files specifies the directory containing MRIsubjects in the tutorial ,however my subjects only contain the EEG signals of .edf format. I'd like to know whether I can select the raw files of my EEGsubjects for which to do the coregistration. And finally how can I get the fwd.fif to read instead of  a *-tran

[2017-12-12 08:58] agramfort commented on #4818
it's not simple. We don't have simple support for working with a template
brain just given
the electrode names. Maybe someone can pitch in as I have no personal
experience
in such a scenario.

[2017-12-12 15:38] vapniks opened #4829 "events not listed in raw object, and unable to add_events, but can find_edf_events"
I have a raw edf data object, which appears to have no events:
[code]
even if I try adding some:
[code]
However, the data has some events in the header:
[code]
Is this a bug? What's going on?

[2017-12-12 22:43] #4820 closed

[2017-12-12 22:43] #4821 closed

[2017-12-12 22:43] #4823 closed

[2017-12-13 04:06] agramfort commented on #4829
well the confusion come from the fact that events and different from EDF
events
and data.info['events'] should probably not be there...

when you do add_events you create MNE events that get put in the stim
channel
that you can then find with mne.find_events(raw).

find_edf_events allows to get EDF events as present in the original edf
files.

and so data.info['events'] should not be considered.

[2017-12-13 10:40] dokato commented on #4241
Hi, is there a quick workaround before it gets fixed? I got the same error when I try to read my epoched data, so I assume it's related.

[2017-12-13 10:49] jona-sassenhagen commented on #4241
If you can, it would probably be easiest to recreate the epochs in a what that can be read.

[2017-12-13 11:36] d-van-de-velden opened #4831 "ENH: Write source spaces and BEMs to HDF5"
Dear mne-python,

I am currently working at the Forschungszentrum Jülich on my master thesis. I perform an spatio-temporal clustering statistical test on volumetric source activities from an MFT calculation.
Therefore I created a volume source space for all the volume labels, which were identified by FreeSurfer. Since I set the volume source space up for all the volume labels in my subject, mne-py

[2017-12-13 12:59] nerdmiao commented on #4824
It can not be opened with matlab.

[2017-12-13 14:29] agramfort commented on #4241
yes the easy fix is to avoid storing the data with picked channels.

[2017-12-13 14:37] agramfort commented on #4831
I am not sure to understand what happens.

can you share a code snippet using sample dataset to replicate this?

[2017-12-13 14:45] agramfort commented on #4824
it crashes too?

if so I guess it's really a bug with this file so we can close the issue.

[2017-12-14 06:59] Rockingsnow commented on #4818
@agramfort All right，thank you very much！

[2017-12-14 07:33] d-van-de-velden commented on #4831
Of course I can. Sorry I thought I explained it detailed enough. My bad.
Here you go:

[code]

If you run this code snippet, it will create N numbers of volume source spaces. One for each label. Keeping the whole source space info in every source space, except the src['vertno'] array. This only contains the indices for the vertices, relevant to the chosen volume label.

[2017-12-14 08:39] nerdmiao commented on #4824
yes.

[2017-12-14 08:57] Rockingsnow opened #4832 "ValueError: No channel names specified"
this issue occurred that  the inverse operator can't be computed when I ran my code below:

import numpy as np
import matplotlib.pyplot as plt
import mne
from mne.datasets import sample
from mne import Epochs, pick_types, find_events
from mne.io import concatenate_raws, read_raw_edf
from mne.datasets import eegbci
from mne.minimum_norm import (make_inverse_operator, apply_inverse,

[2017-12-14 11:19] mmagnuski commented on #4817
If the files are so big maybe the problem is just memory-related. Does `crop` work for `preload=False` (it should)? BTW @abhiramsingh0 it should be `preload=True` not `preload='True'`, although it shouldn't make a difference in the code (but `preload='False'` will behave as if it was `True` so better use booleans).

[2017-12-14 12:36] #4824 closed

[2017-12-14 14:45] thht opened #4833 "Add Interface(s) to/from FieldTrip"
As requested by @agramfort, here is the todo list:

- [X] Include pymatreader in mne-python to read any kind of mat file (old version and hdf5 based) in a consistent way
- [X] Read MEG data originating from the Neuromag Triux System at Salzburg
  - [X] Raw data
  - [X] Epoched data
  - [X] Averaged Timelocked data
  - [X] Write Unittests to verify above functionality
  - [X] Import channel descrip

[2017-12-14 16:52] agramfort commented on #4833
Hi Thomas,

this question was raised in the past and previously we went the other way
around
which is to have reader and writer for mne fif files in fieldtrip.

it was working with raw, epochs and evoked.

for the rest I am not sure what it involves. When it deals with source space
as fieldtrip does not require freesurfer that might be tricky to keep things
simple on mne side

Alex

[2017-12-14 18:40] dengemann commented on #4833
On the other hand the io support for MNE is broken / incomplete in FT and
it seems no one takes care of it.
Reading FT epochs is a frequent maintenance request and since we have
eeglab and brainstorm readers why not a basic API that can encourage
newcomers to try MNE.

My 3 cents.
On Thu 14 Dec 2017 at 17:52, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-12-15 05:07] acercyc opened #4834 "cross_val_multiscore uses wrong cross-validation methods during running SlidingEstimator or GeneralizingEstimator in classification tasks"
Based on the source code, **cross_val_multiscore** uses [`is_classifier(estimator)`](https://github.com/mne-tools/mne-python/blob/876192598da7c557dbf46a6dda2ced4b7088d4bb/mne/fixes.py#L1067) to assess the type of the input estimator and then create a cv object.

[By default](https://github.com/mne-tools/mne-python/blob/master/mne/decoding/base.py#L436), if the input cv value is int (e.g. int(10)),

[2017-12-15 06:01] agramfort commented on #4833
we don't have brainstorm readers but yes you are right. It would be a
valuable
addition to mne.

Thomas if you have the man power to do this it is great.

[2017-12-15 06:09] agramfort commented on #4834
hum indeed.

So SlidingEstimator and GeneralizingEstimator should be added the _
estimator_type attribute
as a property that's it right?

if so can you open a PR?

[2017-12-15 09:35] kingjr commented on #4834
+1 for opening a PR

On Friday, 15 December 2017, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-12-15 10:43] thht commented on #4833
Hi Alex and Denis,

thanks for your support. I also think that it might make more sense to integrate the API in mne instead of FieldTrip because the data structures are more complex in mne (my current impression), being classes instead of Matlab structures. Conversion should thus be easier in python/mne...

We will do some prototyping in the coming days and come back to you as soon as we have some

[2017-12-15 10:54] jasmainak commented on #4833
For hdf5, take a look here: https://github.com/mne-tools/mne-python/tree/de256c8c314e3e158371e0fb90242f86af9a4753/mne/externals/h5io

[2017-12-15 11:46] larsoner commented on #4833
`h5io` won't handle MATLAB files, you'll need to use `h5py` directly

[2017-12-15 11:49] dengemann commented on #4833
I'd at least start with sensor space data, raw, epochs, evoked.
Then for source space we would need a joint FT-MNE hackathon I fear ...
things really depart art that level.

On Fri, Dec 15, 2017 at 12:46 PM Eric Larson <notifications@github.com>
wrote:

[2017-12-15 11:56] thht commented on #4833
ok. so we will use h5py and possibly also hdf5storage (which is another layer of abstraction on top of h5py) for reading mat files.

and yes, we will start with sensor space data.

[2017-12-15 13:29] Stoffander opened #4835 "RuntimeError: No digitization points found"
Dear all,

I ran in a little problem here and could not figure out how to solve it.

after running:

ica.plot_properties(raw, picks=0)

I get the error message:

[code]

I followed pretty much the mne ICA tutorial and am stuck now.
The Code that I use is:
[code]

Any help would be very appreciated!

[2017-12-15 13:34] agramfort commented on #4835
you need channel locations with montage to be able to plot topomaps.

see set_montage function.

[2017-12-16 04:05] agramfort commented on #4831
your script (with tiny changes below) works fine for me:

[code]

[2017-12-16 08:04] wangwuqi opened #4837 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbe in position 13: invalid start byte"
I failed to read a raw edf file,

[12_0001_raw.zip](https://github.com/mne-tools/mne-python/files/1564572/12_0001_raw.zip)

[code]

[2017-12-16 12:36] jona-sassenhagen commented on #4828
Should we maybe catch the error and instead tell people to re-save with "-v6"?

[2017-12-16 14:50] mmagnuski commented on #4835
BTW - ICA does not have any way to set montage. I'm not sure it is generally worth adding, but I've been multiple times in a situation when I forgot to add montage to a file, performed ICA and only then noticed I should add montage and perform ICA again - which takes much longer than changing montage in ICA instance.

[2017-12-16 17:57] kingjr commented on #4834
Thanks for noticing, I opened a fix PR

This inappropriate cv may cause some serious problems in some situations (small sample size, trial has been sorted, ect.).

By default, `KFold` or `StratifiedKFold` are not shuffled. We are not going to change this, it's sklearn API. Shuffling can also create problems, so it is up to the user to know what should be done.

[2017-12-16 18:24] larsoner commented on #4835
Any object that carries around a `.info` could in principle have `set_montage`, so feel free to add the mixin to the ICA class to provide it.

[2017-12-16 19:08] larsoner commented on #4828
In my experience reading modern `.mat` files directly with `h5py` is not so terrible. Has anyone tried it with EEGLAB files? It might not be so difficult to make it work.

We could make a test dataset by loading the existing test `.mat` file in MATLAB, save it out in the new format, read both old and new in MNE and ensure the objects are the same.

[2017-12-16 19:11] larsoner commented on #4837
Can it be read by other software, such as `pyedflib` or non-Python readers?

[2017-12-16 22:07] stes commented on #4828
There's actually an open PR #4056 concerning this. It would be very convenient if that could be integrated (in particular as the switch to the newer file version will become more important in the future anyway).

[2017-12-17 06:12] agramfort commented on #4837
how did you write this file?

[2017-12-17 06:41] wangwuqi commented on #4837
I wrote this file with DSI-24, and this is the corresponding CSV file
[12_0001_csv_raw.zip](https://github.com/mne-tools/mne-python/files/1565358/12_0001_csv_raw.zip)
I think it might be the Chinese character causing the decoding error, but I can't change it.
<img width="766" alt="12_0001_raw" src="https://user-images.githubusercontent.com/22237278/34077181-e636d766-e337-11e7-8b23-efa7e162c116.PNG

[2017-12-17 14:38] agramfort commented on #4837
yes it's the chinese character. Can you read this file with another EDF
reader?

[2017-12-17 15:26] wangwuqi commented on #4837
No，failed with pyedflib too...
[code]

[2017-12-17 15:52] agramfort commented on #4837
ok I guess the pb needs to be solved in the writer.

in the mean time you can hack the mne code to prevent the error.

[2017-12-18 06:28] acercyc commented on #4834
Thanks for the quick reply and opened a PR.

Agree. If it is possible, I suggest this point can be mentioned in the function/class reference and tutorials.
That can help users to notice the default setting and avoid potential problems.

[2017-12-18 08:11] kingjr commented on #4834
Sure, PR welcome to improve the documentation of the tutorials/examples.

On Monday, 18 December 2017, acercyc <notifications@github.com> wrote:

[2017-12-18 09:16] #4832 closed

[2017-12-18 09:47] d-van-de-velden commented on #4831
Good morning Alexandre Gramfort,

at first I wish you a good start in this week. Respectively, to your tiny changes in this code example I agree with you, that it will run without any error. However this changes bypass the essential error I was talking about. Please try run following code snippet:
[code]

Since the vol_source_space will be to big, it will not be able to be saved, hence the limited

[2017-12-18 10:03] athiede13 opened #4839 "plot_compared_evokeds show_sensors & show_legend"
Hello, this is the first time I am submitting an issue to git. I noticed that in the dev version, if I try to specify values (False or an int) for show_sensors & show_legend, they do not get taken into account. They just always get plotted in the bottom of the figure (legend on left and sensors on the right). Could this be checked?

Thank you!
Anja

[2017-12-18 12:50] cbrnr commented on #4813
OK, it seems we're down to two options:

2. Messages related to violating file naming conventions should be `info` instead of `warning` (@kingjr, @agramfort, myself, (@jona-sassenhagen)).
3. Add `..._ica.fif(.gz)` to the list of acceptable file names (@larsoner, (@jona-sassenhagen)).

I'm happy to implement either one, but someone has to make the decision 🤔 .

[2017-12-18 14:07] larsoner commented on #4813
@agramfort voted for switching to `info` (2)?

[2017-12-18 14:08] cbrnr commented on #4813
He said if I insist... 😛

[2017-12-18 14:26] wangwuqi commented on #4837
I change the corresponding ASCII code in edf file, then it can be read

[2017-12-18 14:28] larsoner commented on #4837
Closing for now, but if we see this problem on a lot of files we should `try:/except: warn` it. Having the date is typically not crucial to analyzing the data.

[2017-12-18 14:28] #4837 closed

[2017-12-18 14:30] #4834 closed

[2017-12-18 17:19] agramfort commented on #4813
I am reading the thread again and the argument "I prefer to use *_ica.fif instead of *-ica.fif" does not really fly for me. We all have preferences and the strength of stanbdards is that we don't have to teach each other what we all prefer :) remember pep8 right?

@cbrnr can we convince you to use -ica.fif?

otherwise it would mean changing the convention/standard but it should be done everywhere

[2017-12-18 17:21] cbrnr commented on #4813
Oh yeah, I'm fine with adding these to the standard names. I'll create a PR shortly.

[2017-12-18 17:23] agramfort commented on #4813
so you vote for changing the "standard" ?

how about maybe your habits the habits of all of us?

[2017-12-18 17:27] cbrnr commented on #4813
Sorry, read your last message too quickly. Sure, I'll change my files to -ica, although I still think we shouldn't be that pedantic and allow _ instead of -.

[2017-12-19 04:14] abhiramsingh0 commented on #4817
@mmagnuski , thanks for pointing out the preload point. Also, I am loading the .set file and associated .fdt file is in the same folder. Size of each .fdt is about 600MB and I am loading 13 of these different files. You can see mne.sys_info() output that I have pasted above. Now how do I detect if problem is related to memory or mne as there seems to be enough memory for loading these files.

[2017-12-19 05:22] larsoner commented on #4817
Try concatenating just two of them. Then 3, then 4, then ... etc. Watch your memory consumption as it goes. See if crash coincides with running out of memory.

MNE provides `preload=temp_fname` to load data into a memmapped file to get around memory limitations if you can't use `preload=False`.

[2017-12-19 08:57] agramfort commented on #4831
ok I replicated the

OSError: FIFF file exceeded 2GB limit, please split file or save to a
different format

we should add writing support with hdf5...

[2017-12-19 09:23] d-van-de-velden commented on #4831
Thank you very much.
I will go with my work around, so the code with your tiny little changes. Thanks again and a support with hdf5 will be very useful for label-wise volume source space construction.

If you don't want discuss anything I will close this thread.

I wish you and your family and friends a merry Christmas,
Daniel van de Velden

[2017-12-19 09:46] agramfort commented on #4831
keep it open. We'll close it when we add support for HDF5 files.

[2017-12-19 09:47] cbrnr opened #4841 "Reset montage in raw?"
I was wondering if the montage can somehow be reset in an existing `raw` object. Suppose I did `raw.set_montage('biosemi64')`, but later I decide I want to reset the montage to nothing - how can I do that?

Does this make sense (during interactive data exploration it would be useful for me)? If yes, is it doable (I assume only if `update_ch_names=False`, because otherwise how should we reconstruct

[2017-12-19 14:25] nrosjat opened #4843 "Plotting ica properties returns ValueError (dtype 64)"
I'm trying to follow the Artifact Correction with ICA example with Python 2.7.14 under Spyder in 64-bit mode (conda version 4.3.29). Everything works as expected until:

**ica.plot_properties(raw, picks=0)**

which leads to an ValueError.

I'm quite new to Python, but I guess it has something to do with using the 64-bit version? I tried it with 32-bit mode, but then I ended up with a MemoryError.

[2017-12-19 15:01] larsoner commented on #4843
This one is a bit weird. Are you on Windows?

Can you change line 509 of `mne/time_frequency/multitaper.py` from:
[code]
to
[code]
To see if it fixes the problem?

[2017-12-19 15:17] larsoner commented on #4841
You'll have to be more specific about what you mean. If you mean removing channel position information for all EEG channels, that's easy. If you mean properly resetting to a previous state of the object (e.g., keeping track of which EEG channels had positions set and names changed and only changing those), it will be much harder. In other words, doing `raw.set_montage(None)` that just wipes EEG ch

[2017-12-19 19:44] cbrnr commented on #4841
It's maybe just a usability thing. If I can set a montage I'd expect that I can also unset it. I guess removing channel position information is sufficient for now (especially since names are not changed by default).

If this is not needed in MNE I can also just implement a custom function in MNELAB.

[2017-12-19 20:00] agramfort commented on #4841
can you explain why you would want to reset it? just apply a new one if you
made a mistake no?

[2017-12-19 20:07] cbrnr commented on #4841
@agramfort right, but you usually start out with no montage, so although a little OCD it would be nice to go back to a blank slate (e.g. if it turns out that there is no suitable montage file that works with the data or something).

[2017-12-20 00:33] larsoner commented on #4841
+1 for `set_montage(None)` erasing EEG channel and fiducial positions

[2017-12-20 07:55] agramfort commented on #4841
fine with me

[2017-12-20 07:57] cbrnr commented on #4841
Please see #4846

[2017-12-20 12:10] nrfzj commented on #4843
Yes I am using Windows 7 (64-Bit).

I changed the line accordingly, but the error still remains the same.

[2017-12-21 08:05] nrfzj commented on #4843
If I skip this step and move on to the artifact detection using EOG information multitaper.py produces another error:

    dshape = int(x.shape[:-1])
  TypeError: int() argument must be a string or a number, not 'tuple'

[2017-12-21 12:14] agramfort commented on #4843
windows does not use standard int64. One fix is certain to do a np.astype
somewhere
but for this you need to debug after putting a breakpoint at the right
place.

what is the value of sr.dtype ?

[2017-12-21 14:32] nrfzj commented on #4843
The value of sr.dtype is int64

Somehow the tuple select_range from multitaper.py (line 201) ends up as a dstype = int64 via np.asarray(select_range)?

[2017-12-21 14:40] agramfort commented on #4843
no idea

[2017-12-21 15:01] #4841 closed

[2017-12-21 15:01] nrfzj commented on #4843
I checked for sr.dtype.char.lower() and it is set to 'q' which is not in 'lih'. When adding q to the string the correct figure would be produced.

If I just create the numpyarray manually and check for dtype.char I get the following:

Out[21]: array([1], dtype=int64)

Out[22]: 'l'

I have no idea why the type is 'q' in one case, but 'l' in the other.

[2017-12-21 15:05] larsoner commented on #4843
Me neither, but let's go ahead and add it to the list (it's `c long long` equiv)

https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.scalars.html

[2017-12-21 15:06] larsoner commented on #4843
... oh wait it's in a SciPy function. You need to cast it in MNE to make it happy, maybe pass `np.int64(N)` or something?

[2017-12-21 15:06] larsoner commented on #4843
BTW doing `sr.astype(np.int64)` returns something, it does not change `sr` in place

[2017-12-22 05:05] underscoredam opened #4847 "Can not import custom EEG dataset"
I need to import a dataset for use in `mne-python`, but can not find a way to do so. The dataset was obtained from the paper referenced below. It is compatible with the MATLAB toolbox [bbci-public](https://github.com/bbci/bbci_public). In a nutshell, the dataset consists of MATLAB `.mat` files for continuous EEG signals, artifacts, montage, and event markers for multiple subjects. Please see the "

[2017-12-22 07:01] nrfzj commented on #4843
After adding np.int64(N) to line 201 in multitaper.py the value error is solved:

[2017-12-22 09:51] agramfort commented on #4847
maybe this can help:

https://github.com/mne-tools/mne-python/pull/4019

but there is for sure some work to do.

[2017-12-22 12:29] underscoredam commented on #4847
Thanks @agramfort, this surely helps! I've never used mne-python too much before; but it might be time to finally make a change for good. Meanwhile, should I leave this issue open, so that others will be able to discover it?

[2017-12-22 15:20] agramfort commented on #4847
paste your solution when you have it and close then

[2017-12-23 00:31] vapniks commented on #4829
It's a bit awkward that the events returned by find_edf_events cannot be added directly since they are in the wrong format. You have to first translate the times into sample numbers, and the event texts into integers.

[2017-12-23 11:26] agramfort commented on #4829
maybe we could add a helper function?

edf_events are closer to what we call annotations so maybe we could
expose them as annotations and have a way to convert annotations onsets
to events and event_id?

[2017-12-25 17:44] vapniks commented on #4829
As long as they can be used for creating epochs that would be great. Some method for assigning integers to event strings is needed. Maybe by lexicographic order by default, but with the option of specifying the mapping?

[2017-12-26 08:56] youngmin91 opened #4849 "Loading BDF files fails"
raw = mne.io.read_raw_edf(bdf_path, preload=True,stim_channel='auto')
Extracting edf Parameters from V://EEG_Iowa//EEG_SPIN_Vocode//EEG_S01.bdf...
BDF file detected
Setting channel info structure...
Created Raw.info structure...
Reading 0 ... 11290623  =      0.000 ...  5513.000 secs...
Traceback (most recent call last):
  File "<ipython-input-15-9239b716500e>", line 1, in <module>
    raw = mne.i

[2017-12-26 10:27] agramfort commented on #4849
please share the file?

how was the file produced?

please report what you get with:

mne.sys_info()

[2017-12-26 11:03] agramfort commented on #4829
see annot / annotmap parameter in read_raw_edf

maybe it already does the job for you.

[2017-12-26 11:04] youngmin91 commented on #4849
Thank you for replying

This is a information.

mne.sys_info()
results:
Platform:      Windows-7-6.1.7601-SP1
Python:        2.7.12 |Anaconda 4.2.0 (64-bit)| (default, Jun 29 2016,
11:07:13) [MSC v.1500 64 bit (AMD64)]
Executable:    C:\Program Files\Anaconda2\pythonw.exe
CPU:           Intel64 Family 6 Model 94 Stepping 3, GenuineIntel: 8 cores
Memory:        23.9 GB

mne:           0.15.dev0
num

[2017-12-26 12:44] agramfort commented on #4849
please try with more recent mne (last release is 0.15.2)
or with current dev master.

you did not tell me who wrote this file. With what other reader
can you read these files?

[2017-12-26 19:35] larsoner opened #4850 "ENH: `group_by` for epochs.plot()"
Any reason not to have it (other than no time to implement it yet)? It might be nice to have like we do for `raw.plot`.

[2017-12-26 19:50] agramfort commented on #4850
+1 for nice to have

[2017-12-29 18:26] Stoffander commented on #4835
I did the set_montage and it worked perfectly, thanks a lot!

`` ##set montage for the channel locations

montage = mne.channels.read_montage(kind='filename', ch_names=None, path='datapath', unit='m', transform=False)
print(montage)

raw.set_montage(montage, set_dig=True)``

[2017-12-29 18:26] #4835 closed

[2018-01-01 11:22] cbrnr opened #4851 "De-duplicate channel types"
As a follow-up to #4842, we should de-duplicate various definitions of valid channel types. Currently, these can be found in

- `mne.io.pick`: `get_channel_types`, `pick_types`, `_PICK_TYPES_DATA_DICT`, ... There are many more possibly relevant objects, but I need feedback which should be refactored and which should be left as is.
- `mne.io.meas_info`: `_kind_dict`

Anywhere else I forgot?

There

[2018-01-01 15:37] agramfort commented on #4851
I would also standardize stuff in pick.py

[2018-01-06 00:56] vapniks commented on #4829
OK, thanks

[2018-01-06 08:56] aitorme opened #4852 "electrode locations cannot be found when plotting ICA components"
Hi there,
I ran an ICA with more or less success following your steps, but when I try to plot the components I get the following RuntimeError:
`WARNING:root:Did not find any electrode locations the info, will attempt to use digitization points instead. However, if digitization points do not correspond to the EEG electrodes, this will lead to bad results. Please verify that the sensor locations in

[2018-01-06 16:45] agramfort commented on #4852
see you set a montage file to specify channel locations?

[2018-01-06 17:34] agramfort commented on #4829
does it do the job?

[2018-01-06 19:34] vapniks commented on #4829
Haven't tried it. I wrote a small function to do that, but next time I will have a look at annotations.

[2018-01-06 21:34] aitorme commented on #4852
I couldn't set any because I'm using an Enobio necbox and I didn't find any montage for this kind of EEG recorder, nor a way to create my own montage file. The channel locations are taken directly from the original `.set` file. Do I need to specify a montage for my data?

[2018-01-07 10:27] agramfort commented on #4852
can you share the file? maybe the position of electrodes is not read
properly from your .set file.

[2018-01-07 10:28] agramfort commented on #4829
ok. I would be good if you can share what you have so next time someone hits
this problem is has a solution. Maybe it would be nice to also improve our
documentation.

[2018-01-07 13:18] aitorme commented on #4852
sure, but I already read it in as a .fif when I run the ICA.
How can I share such a big file?

[2018-01-07 13:38] agramfort commented on #4852
you should share the original file and the script you used to have the raw
object and the fif file.

you can use dropbox or google drive for example.

raw.plot_montage() should already tell you before ICA if channel locations
are well read.

[2018-01-08 12:40] cbrnr commented on #4851
@agramfort did you think of anything in particular in addition to the functions in `pick.py` I mentioned above? I think we should go through the whole module and choose what to refactor and what to leave alone.

[2018-01-08 13:20] yonlev opened #4853 "problem installing dependencies and MNE"
i am attempting to install dependencies and MNE, but when i type pip install mayavi i get the following error message (see attached).
any help is welcome,
thanks
Yoni

![command prompt snapshot](https://user-images.githubusercontent.com/35224548/34672518-63282f62-f487-11e7-9f06-af15717a2a9f.png)

[2018-01-08 15:16] agramfort commented on #4853
hi,

did you read:

http://martinos.org/mne/stable/install_mne_python.html

you recommend to install mayavi with conda and for python 3.6 use our
envrionment.yml file.

HTH

[2018-01-08 15:26] yonlev commented on #4853
hi
yes of course, that is exactly what i followed though it recommends version 2.7.
I currently have conda 4.3.30, and python 2.7.14.
but installing mayavi on conda prompt gives me that error i mentioned

[2018-01-08 20:35] agramfort commented on #4853
did you try to "pip install mayavi" or "conda install mayavi"

[2018-01-08 20:36] agramfort commented on #4851
did not have time to look yet. Start and we'll see how the diff looks like

[2018-01-09 05:57] smgutstein opened #4855 "MNE-Python failing test_io_set from mne.io.eeglab.tests.test_eeglab"
I have just downloaded the most recent (?) version of mne-python

[code]

but it is failing the following test:

[code]
How should I fix this?

[2018-01-09 07:23] aitorme commented on #4852
I figured that importing one of the large montages available with many electrode positions would do the job, and now it seems to work fine, thanks!

[2018-01-09 15:03] cbrnr opened #4856 "ICA arguments confusion"
The `ICA` object takes three arguments that are somehow related to the number of components:

- `n_components`
- `max_pca_components`
- `n_pca_components`

Every time I use ICA in MNE I get confused. Why are there three seemingly related arguments? The only thing I ever needed to do is to reduce the number of PCA components prior to ICA (e.g. for average-referenced data the number of PCA component

[2018-01-09 15:54] larsoner commented on #4855
I see this error, too, but I don't really get how it creeped into our code with CI testing (?!?).

Can you use [git bisect](http://webchick.net/node/99) to figure out which PR broke it?

[2018-01-09 19:49] mmagnuski opened #4859 "Cluster-based stats improvements - potential GSoC (and future)"
Currently I'm copying everything from the e-mail thread, but I'll find some time this week to organize this better and propose something more concrete.

Eric @larsoner suggested to mirror fieldtrip's cluster-based API in mne python:

Sure, that makes sense, although I would prefer to change a few things, notably the design, ivar and uvar which are quite confusing for newcomers.
I can start with sh

[2018-01-09 20:46] larsoner commented on #4855
I found the error, the positions were never checked properly and a recent PR made it fix those checks

[2018-01-09 20:50] mmagnuski commented on #4853
Judging from the first post and the screenshot - this is definitelly a result of pip install, conda should be fine.

[2018-01-09 21:01] mmagnuski commented on #4856
There was once an issue about that but I forgot to fix the docs. I made some notes about these args at that time however. I found these notes on my computer about yesterday so your timing is excellent :) Below I copy-paste the notes:

pca_components_  - pca_components x channels matrix
unmixing_matrix_ - ica_components x pca_components
mixing_matrix_   - pca_components x ica_components (inverse of

[2018-01-09 21:06] mmagnuski commented on #4856
Generally when going from data to ICs:
data --[ PCA and `max_pca_components`]--> PCs --[ICA and `n_components`] --> ICs
`n_pca_components` is used when going in the reverse order (IIRC to drop some PCs - ignore them in reconstructing the data?)

[2018-01-09 23:42] smgutstein commented on #4855
Cool. Thanks.

On Tue, Jan 9, 2018 at 3:46 PM, Eric Larson <notifications@github.com>
wrote:

[2018-01-10 00:16] mmagnuski commented on #4852
@aitorme Alex meant `raw.plot_sensors()`.

[2018-01-10 00:17] mmagnuski commented on #4852
oops, sorry, old Chrome session did not refresh and I was posting to the past state of this thread. :)

[2018-01-10 00:43] aitorme commented on #4852
haha worry not, actually `raw.plot_montage()` never worked anyways, so your comment was useful

[2018-01-10 15:41] yonlev commented on #4853
thank you, yet even running conda install mayavi gives the following
![command prompt snapshot](https://user-images.githubusercontent.com/35224548/34780983-4aa37f4e-f62d-11e7-81d7-4202a5f98d88.png)

[2018-01-10 18:52] #4855 closed

[2018-01-10 19:16] mmagnuski commented on #4853
This means that the requirements of these packages are in conflict (and conda is unable to solve that conflict). Your best solution might be creating a separate environment for mne+mayavi. You could try using the environment file mentioned in the mne-python install docs.

[2018-01-11 09:18] cbrnr commented on #4856
This is confusing. Can we combine `max_pca_components` and `n_components` into one argument (called `n_components`)? It seems like both arguments affect the number of ICA components I get back. Internally, this is achieved by setting the number of PCA components prior to ICA. However, as a user I'm usually only interested in setting the number of ICs I get back. This is what the `n_components` arg

[2018-01-11 09:20] dengemann commented on #4856
This is a very old API on which lots of user code relies and I see no
reason why it is broken or needs to be changed.
It is an important feature that our API allows us to precisely control the
relationship between ICA and PCA components used and discarded. I'd just
suggest to improve the documentation if needed.

On Thu, Jan 11, 2018 at 10:18 AM Clemens Brunner <notifications@github.com>
wrote:

[2018-01-11 09:22] cbrnr commented on #4856
Where is this feature (controlling ICA and PCA components separately) actually used?

[2018-01-11 10:21] dengemann commented on #4856
We used this a lot historically in several research projects and
developmentally it helped us to come up with the final API here that allows
you to run ICA on few PCA components while not throwing away anything when
reconstructing the signal. Another potential use case maybe additional
denoising by discarding PCA.

On Thu, Jan 11, 2018 at 10:22 AM Clemens Brunner <notifications@github.com>
wrote:

[2018-01-11 10:29] cbrnr commented on #4856
Yes, this may all be true, but still I find the usage rather confusing, especially for people used to most other ICA APIs.

Anyway, since an API change seems to be out of the question, I'll add a paragraph to the documentation to clarify these arguments.

[2018-01-11 10:33] dengemann commented on #4856
That would be great. The important is to make the examples clear-cut and
just not advertise the more expert arguments. Additional reasons why I am
reluctant to change this API is that we discussed it in several papers and
it really makes explicit the relationship between ICA and PCA, which is
educational.

On Thu, Jan 11, 2018 at 11:29 AM Clemens Brunner <notifications@github.com>
wrote:

[2018-01-11 13:02] mmagnuski commented on #4856
I'm also in favor of improving the docs and not changing the API.

`n_components` already allows that - this is actually clearly stated in the docs. I mosly use only `n_components` - you don't need the other params for basic use cases.

[2018-01-11 13:55] cbrnr commented on #4856
Yes, I saw that, but I wasn't sure if it does the right thing (given that the percentage really applies to the number of PCA components it made more sense to me to have this in the `max_pca_components` argument).

So are you saying that if I want to compute ICA on a PCA subspace (say I have 64 EEG channels but due to average reference I want to compute ICA only on 63 components), `n_components` an

[2018-01-11 20:21] mmagnuski commented on #4856
@cbrnr Yes, you will get the same number of ICs in ICA object, but different number of PCs IIRC (some will be thrown away). Then during the reconstruction of the signal this could lead to differences (because you will have different number of PCs, notice that `max_pca_components >= n_pca_components`).

[2018-01-12 08:19] LegrandNico opened #4869 "apply_hilbert for Epochs class"
Wouldn't it be convenient to have an apply_hilbert method for Epochs class?

Artifact rejection modules like Autoreject directly output epoched data, which makes it difficult to have both clean data and the Hilbert transform at the end of the pipeline.

I was wondering if accessing the epochs as raw data to directly apply Hilbert and then epoch again with cropped interval could be a solution? But

[2018-01-12 09:28] agramfort commented on #4869
provided your Epochs are not too short yes it should work and could be a
nice addition to MNE.

[2018-01-12 09:58] LegrandNico commented on #4869
Ok I will try this solution. If there is e.g + 200ms on each side would it be sufficient? Or maybe there is a more formal way to define the crop needed based on the Hilbert calculation?

[2018-01-12 10:02] agramfort commented on #4869
you want the phase or amplitude? if you need phase you need to filter the
signals first so they are quite narrow band.

200ms depends on what frequency you are interested in. For high freqs I
would say higher then 20Hz it should start to work.

HTH

[2018-01-12 10:53] cbrnr commented on #4856
I played around with the arguments a bit. The most common use case (which is implemented in EEGLAB and sklearn) is to compute ICs only on a PCA subspace, i.e. only a subset of PCA components is used to compute the ICs.

Here's an example. Let's assume we have an EEG data set consisting of 64 channels, i.e. the shape of `x` is (64, N). Let's further assume we want to compute only 60 ICs.

In EEGLAB

[2018-01-12 11:18] cbrnr commented on #4856
Oh, and also, how do I turn on whitening? I think whitening is disabled by default, whereas it is enabled in EEGLAB and scikit-learn.

[2018-01-12 13:17] mmagnuski commented on #4856
I'll reply later, I'm in a bit of a hurry now. But you can safely just use `n_components` (`n_components=60`) and it will work just like in eeglab - using a subset of PCs to use in ICA.

[2018-01-12 13:39] cbrnr commented on #4856
Not quite. If I just use `get_sources`, then yes, but what if I want the (true) unmixing matrix? I'd have to compute it via `unmixing_matrix_ @ pca_components_[:60]`. Setting `max_pca_components=60` seems to be more what I expect, because then the unmixing matrix is `unmixing_matrix_ @ pca_components_`.

[2018-01-12 14:57] palday commented on #4869
I'm happy to contribute this, but am currently travelling and won't get around to it for about a week.

In the meantime, here's some code I had been using to do arbitrary transformations on epochs with an example for the Hilbert transformation. It's a very naive approach that accesses private members, so consider yourself forewarned.

[code]

[2018-01-13 00:13] dPys opened #4872 "Synchronization likelihood (SL) connectivity in MNE?"
Does MNE have a function for performing synchronization likelihood (SL) connectivity?

Just curious.

derek;

[2018-01-13 01:07] ktavabi opened #4873 "Skipping dense skin surface topology check"
For reasons I don't really understand nor can clearly spot in MRI data the high-density skin surface routine `make_scalp_surfaces` fails b/c the srf topology is botched and causes `_assert_complete_surface` to throw...

I've tried `--force` and cutting off the neck but still hitting this more frequnetly than I'd like.
So I thought a PR to skip the skin surface topology check might be useful?

[2018-01-13 08:06] agramfort commented on #4872
You should ask this question on the mailing list.

On Sat, Jan 13, 2018 at 1:13 AM, Derek Pisner <notifications@github.com>
wrote:

[2018-01-13 09:17] agramfort commented on #4873
what code are you referring to?

this command
https://mne-tools.github.io/dev/generated/commands.html#mne-make-scalp-surfaces
?

where is the error raised?

[2018-01-13 09:57] dengemann commented on #4856
That would make you reduce dimensionality which is not what you want. You
will use volume / amplitude. You need to use get sources to inverse
transform as you see correctly. And I am convinced that is good as it
allows us to get the behavior right for most use cases. Purists and ICA
researchers can use scikit-learn directly. Spherical pre-whitening is on by
default and makes sure your sensors are

[2018-01-13 15:42] mmagnuski commented on #4839
Could you paste a smal code example that reproduces the problem?

[2018-01-15 13:01] cbrnr commented on #4856
Yes, reducing dimensionality is exactly what I want if I want fewer components than there are channels. So if I want only 60 components from my 64-channel data, ICA uses PCA as the initialization step to reduce dimensionality to 60. Then ICA finds 60 ICs given the 60 PCA components. The `unmixing_matrix_` should be `(60, 64)`, because `s = U x` with corresponding shapes `(60, N) = (60, 64) x (64,

[2018-01-15 14:09] agramfort commented on #4873
yes we should be less strict. Can you change the python code to force the
non-crash?

[2018-01-15 19:53] larsoner commented on #4856
Typically this means subtract mean and divide by standard deviation for each channel, i.e. each channel gets transformed into units "number of standard deviations from its mean". Given no better priors it is a reasonable way to get channels to be on roughly the same scale. But it would be good to check what the code actually does (for example, if the data are assumed zero mean, then that step coul

[2018-01-15 20:13] agramfort commented on #4856
let me try to help here.

let's say you have 300 MEG channels and you want to remove EOG.

you fit ICA eg with 50 components after doing PCA reduction then pick EOG
components.

then you have 2 options:
- keep data in dimension 49 which is less than what is reasonable for MEG
- keep data in dimension 299 by keep the 250 components you had left out
of the ICA.

the current API allows you to do this

[2018-01-15 20:41] mmagnuski commented on #4856
@cbrnr

As @dengemann and @agramfort nicely explain, this may or may not be what you want **in the mixing step** (ie when you go from sources back to sensors).
Given this discussion it is evident that this issue is not clear enough in the docs and should be elucidated. The argument names are very similar to each other, which makes them open to confusion, but before thinking about changing arg name

[2018-01-16 01:34] kingjr opened #4875 "Q: why raw.pick_channels(temporal) in lcmv example?"
In the `plot_lcmv_beamformer_volume` example, why is there a selection of left temporal channels before source reconstruction?

[code]
 I don't understand the rational of removing good channels before a source reconstruction.

cc @agramfort @britta-wstnr

[2018-01-16 03:33] aitorme commented on #4852
so apparently the ICA only works with a couple of participants, the vast majority of them crash. Since my eye channels are so bad, I was wondering if there is a way to implement a joint channel of two different channels (I would like to use an anterior and an eye channel as a joint channel for the ICA to detect the blinks better)

[2018-01-16 06:00] ktavabi commented on #4873
That is the intent. Initial thinking was to ignore/skip `_assert_complete_surface` for the skin srf.  But you're right in that we should reduce the passing criterion. Right now the error is raised if `np.abs(tot_angle / (2 * np.pi) - 1.0) > 1e-5`. Where did `1e-5` come from? and what would be less strict?

[2018-01-16 09:22] cbrnr commented on #4856
@larsoner so does the `noise_cov` argument have anything to do with whitening then? Standardizing channels before PCA is not whitening, so is it correct that whitening is always performed and that this cannot be changed with any arguments?

I'll respond to the other comments soon.

[2018-01-16 09:34] britta-wstnr commented on #4875
Good point - I remember a conversation about that from the GSoC, but cannot remember the reason for keeping it, @agramfort ?

[2018-01-16 09:34] agramfort commented on #4873
if you use force option then make it a warning not an error

[2018-01-16 09:38] dengemann commented on #4875
It must have been carried over from a historical example where this was
done to make things look good. I remember that results used to look bad
when using all sensors. We should see if this is still the case.
On Tue 16 Jan 2018 at 10:34, Britta Westner <notifications@github.com>
wrote:

[2018-01-16 09:39] britta-wstnr commented on #4875
I can have a look at that ASAP - probably tomorrow.

[2018-01-16 10:04] cbrnr commented on #4856
@agramfort why would you fit ICA only on 50 components? I would fit ICA on all 300 MEG channels, then remove the EOG ICs (let's assume you find only 1, although practically you will almost always find 2), and then back-project to channel space, which results in 300 MEG channels with eye artifacts removed. The PCA step should only reduce dimensionality if there are numerical problems (rank deficien

[2018-01-16 10:08] dengemann commented on #4856
It is much faster and in the case of SSSed data which are low rank the
right thing to do, e.g. with 64 components. The other thing is that many
early MEG papers did this, often with 25 components, which is still done in
some research groups. So people including myself want these options.
On Tue 16 Jan 2018 at 11:04, Clemens Brunner <notifications@github.com>
wrote:

[2018-01-16 11:14] cbrnr commented on #4856
@dengemann OK, fair enough, but this is not common practice in the EEG community. I'd even argue that the speedup is not worth the potential loss in quality, because you will get a better decomposition if you run it on all available channels.

In any case, I am aware that these options are worth keeping, but I'd like to clearly document how to perform ICA EEGLAB-style with MNE. Currently, it seems

[2018-01-16 11:16] agramfort commented on #4856
even on high density EEG with 200 electrodes?

how do you judge if it's better?

yes I agree we should improve API/DOC...

[2018-01-16 11:22] cbrnr commented on #4856
Of course. The more channels, the better the decomposition. Scott Makeig's lab routinely use 256 channels, otherwise it would not be possible to get clearly separated muscle components.

That's a good question, but the common argument is that if you only keep the first N PCA components (ranked by variance), you will lose some amount of brain activity (sources of brain activity are not orthogonal).

[2018-01-16 11:24] agramfort commented on #4852
what do you mean it crashes?

[2018-01-16 11:28] aitorme commented on #4852
python crashes and shuts down automatically

[2018-01-16 11:30] dengemann commented on #4856
I think it would be useful to create a table explaining options mapping
from MNE to EEGLAB.
„If you want to run EEGLAB style ICA choose x,y,z ..“
On Tue 16 Jan 2018 at 12:22, Clemens Brunner <notifications@github.com>
wrote:

[2018-01-16 11:39] agramfort commented on #4852
well this should not happen in Python. With MNE it is pure python code and
the program cannot segfault and crash.

you may have an installation problem ?

[2018-01-16 11:40] aitorme commented on #4852
it also happens when I run it in Jupyter, should be independent of that?

[2018-01-16 11:47] agramfort commented on #4856
well I would argue that with many sources the optimization and estimation
is more difficult. If you have less true sources
than the number of EEG channels then you break the ICA model and algorithms
like FastICA may not converge and Infomax
can be a pain to tune and use.

that's lessons learnt with @pierreablin in this work

https://arxiv.org/abs/1706.08171

see figure 2 and 3.

I am playing the d

[2018-01-16 11:52] aitorme commented on #4852
I guess ram is not the issue since I have 16GB, but how can an install problem affect it and how could it be solved?

[2018-01-16 12:13] cbrnr commented on #4856
is more difficult. If you have less true sources
than the number of EEG channels then you break the ICA model and algorithms
like FastICA may not converge and Infomax
can be a pain to tune and use.

Nice paper! Yes, you are right, it is naive to assume that increasing the number of channels solves everything, but reducing dimensionality with PCA doesn't seem to be a very good solution.

Slightly O

[2018-01-16 16:01] agramfort commented on #4852
how did you install? are you using MKL with anaconda? what does
mne.sys_info() give you?

[2018-01-16 16:01] jasmainak commented on #4852
did you monitor the memory usage with something like htop?

[2018-01-16 19:53] suntracks opened #4876 "Issue with raw.plot()"
I am using a custom data format (*tdms from LabVIEW) . Used pandas to read data into MNE raw, however there seems to be some issue with the way the data is stored.
I am seeing blobs of vertical lines.
Current shape of numpy array - (8, 914585)

![image](https://user-images.githubusercontent.com/3403089/35008537-d9d4293a-fb22-11e7-963f-f6992deffc11.png)

[2018-01-16 20:03] larsoner commented on #4876
The scale factor is probably wrong. If these are EEG data they should be in units of volts, you probably have them in microvolts. Try changing the "scalings" parameter for your channel type (or multiply the channel values by e.g. 1e-6) to see if it fixes the problem.

[2018-01-16 20:09] agramfort commented on #4875
the rationale is the following. Beamformers are know to fail when you have
very
correlated sources which is possible to binaural stimulations. Although it
works
ok on all sensors on sample I wanted to show how to restrict the LCMV to
the temporal
channels that only see the left auditory source?

shall we just clarify the doc?

[2018-01-16 20:12] suntracks commented on #4876
Thanks @larsoner,
That solved the problem.

[2018-01-16 20:12] #4876 closed

[2018-01-16 20:13] kingjr commented on #4875
IMO, examples should be restricted to a unique aim: here: how to do volume
source modeling. The issue of sync sources for beamformers belongs to a doc
/ tutorial, iif the results aren't affected.

On 16 January 2018 at 15:09, Alexandre Gramfort <notifications@github.com>
wrote:

[2018-01-16 20:37] agramfort commented on #4875
unless you ahve time to develop this in a PR I would suggest to start with
a clear comment in this example.

[2018-01-17 00:04] aitorme commented on #4852
I do not use anaconda, although I have it installed, but I run it directly from the local/bin/

I did checked the memory usage with activity monitor (I use a mac) and the CPU as well and everything looked fine, no weird spikes

[2018-01-17 03:00] davidhaslacher opened #4877 "Bug: LCMV dipole orientation selection"
When the dipole orientation is computed in make_lcmv the weight matrix W is initialized as W = np.dot(G.T, Cm_inv) but never updated for each dipole index k as Wk is computed - thereby the method simply returns the weights for some canonical direction. For the "max-power" orientation, for example, it simply returns the weights for the first canonical direction: W = W[0::3].

[2018-01-17 07:56] cbrnr commented on #4856
Cool, so there is hope to have something similar to AMICA in MNE soon!

Thanks for the link - another interesting paper to read! Now it strikes me as odd that Figure 4 in [Delorme et al., 2012](http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0030135) does not include *sphering* in panels B and C, which compare the different algorithms with respect to the dipolarity measure. Intere

[2018-01-17 07:58] dengemann commented on #4856
Sounds terrific!
On Wed 17 Jan 2018 at 08:56, Clemens Brunner <notifications@github.com>
wrote:

[2018-01-17 09:45] britta-wstnr commented on #4875
@agramfort actually, the correlated sources problem was most prominent when (for computational sake) the covariance matrix was calculated on the average of the trials. Now that we use epochs, we rarely run into that problem anymore - and if the results look good in this example, I would rather vote for showing that it works than using an old "hack" :smiley:

[2018-01-17 10:26] agramfort commented on #4875
are you saying that LCMV with bilateral auditory stim works if you compute
the data cov on Epochs?

[2018-01-17 10:27] agramfort commented on #4877
@britta-wstnr can you have a look?

[2018-01-17 10:30] LegrandNico commented on #4869
So I tried with this function:

[code]

When applying this on the [MNE examples](https://martinos.org/mne/stable/auto_examples/time_frequency/plot_time_frequency_global_field_power.html) with:
[code]

I obtained similar but not identical results, especially for the Alpha band. Note that I first extract the epochs with large interval (+2 seconds on each side) and I return to the classic interval af

[2018-01-17 10:34] LegrandNico commented on #4869
The plot_hilbert function is simply:

[code]

[2018-01-17 10:38] agramfort commented on #4852
please try with anaconda with MKL and report back if it works.

I did not test recently but using pip install and mac os system Python
was before not super reliable.

[2018-01-17 10:43] britta-wstnr commented on #4877
Hi @davidhaslacher , please note that slicing of numpy arrays as done for ``Wk``  creates a view of the original array. This means that if you change ``Wk``, it will also change ``W`` (the data is "shared").

[2018-01-17 10:50] britta-wstnr commented on #4875
most of the time it does, yes.

[2018-01-17 11:11] britta-wstnr commented on #4833
Hi @thht - for the source space bit, I recently wrote some scripts plus examples on how to get MNE-Python source space data to Fieldtrip for plotting etc. The scripts take care of all the transformation matrix issues associated with that - but are not heavily tested yet ;-)

You can find them here:
https://github.com/meeg-cfin/nemolab/tree/master/mne_ft_conversions

[2018-01-17 11:23] davidhaslacher commented on #4877
Ooops, sorry! Thanks for the clarification.

[2018-01-17 11:26] agramfort commented on #4877
close if it's not a bug

[2018-01-17 11:28] agramfort commented on #4875
can we just add a note then?

[2018-01-17 11:32] #4877 closed

[2018-01-17 14:14] cbrnr commented on #4856
OK, for the docs I need your opinion/expertise. Let's take our 64-channel EEG example, which we want to reduce to 63 dimensions via PCA (because it is average referenced).

1. `n_components=63` returns `unmixing_matrix_` of shape `63, 63` and `pca_components_` of shape `64, 64`. How do I get the unmixing matrix (which unmixes the original 64-channel data into 63 ICs, i.e. shape `63, 64`)? `unmixin

[2018-01-17 14:24] dengemann commented on #4856
The get_sources code should document the different possibilities. We just
need to verbalize what it does :)
On Wed 17 Jan 2018 at 15:14, Clemens Brunner <notifications@github.com>
wrote:

[2018-01-17 14:34] agramfort commented on #4856
yes

indeed :)

yes and especially for MEG.

yes we discuss this.

that's why I ask the question :)

great

[2018-01-17 15:46] cbrnr commented on #4856
According to https://github.com/cbrnr/mne-python/blob/dc9d4da05cd18dcd0ce43ddfc6b8cb40bc8dea8d/mne/preprocessing/ica.py#L636, the first 63 components are selected, which answers the first question.

[2018-01-17 15:49] cbrnr commented on #4856
I think the main problem now is this: if someone wants the unmixing matrix, it is not `ica.unmixing_matrix_` but rather what I mentioned before. Maybe it is sufficient to clearly document this, because getting the sources has its own method. But this still clarifies the 3 different args.

[2018-01-17 16:20] dengemann commented on #4856
We could think of adding a method to get the matrices ...
On Wed 17 Jan 2018 at 16:49, Clemens Brunner <notifications@github.com>
wrote:

[2018-01-17 18:12] britta-wstnr commented on #4875
If I see it right, this example only uses the left-ear auditory stimulation trials anyway. Was the approach used to get the (weaker) ipsilateral activity then?

[2018-01-17 20:13] agramfort commented on #4875
I don't think that was more to it than showing how it was possible to
select sensors to run LCMV...

[2018-01-18 09:19] cbrnr commented on #4856
@dengemann I'd rename `ica.unmixing_matrix_` to e.g. `ica.weights_` and put the true unmixing matrix into `ica.unmixing_matrix_`. Otherwise, people will be confused if there are two methods/properties related to getting the unmixing matrix.

[2018-01-18 09:49] agramfort commented on #4856
careful because renaming requires deprecation cycle

[2018-01-18 09:51] dengemann commented on #4856
Why not .get_unmixing_matrix ? No depracation needed.
On Thu 18 Jan 2018 at 10:49, Alexandre Gramfort <notifications@github.com>
wrote:

[2018-01-18 09:52] cbrnr commented on #4856
Sure, `.get_unmixing_matrix` makes life easier for us devs, but then the users sees `.get_unmixing_matrix` and `.unmixing_matrix_`.

[2018-01-18 09:53] dengemann commented on #4856
Well. They should use the function in case of doubt :)
On Thu 18 Jan 2018 at 10:52, Clemens Brunner <notifications@github.com>
wrote:

[2018-01-18 09:54] cbrnr commented on #4856
*ahem* you know what happens if you assume that users should do something...

[2018-01-18 09:59] dengemann commented on #4856
Oh yeah. You want to tell me that more people will open issues like this
one and keep us busy :)
Let me think a bit if it may be the case to deprecate the public attribute
and add a function that returns whatever is desired via arguments.
On Thu 18 Jan 2018 at 10:54, Clemens Brunner <notifications@github.com>
wrote:

[2018-01-18 10:21] #4873 closed

[2018-01-18 13:08] sarangnemo commented on #4875
I'd prefer not to propagate the myth that one can't see auditory activations with a beamformer without special tricks. The beamformer seems to perform excellently on this dataset using all the sensors, so why should we give people the impression otherwise?

[2018-01-18 13:37] cbrnr commented on #4856
So I dug into the ICA code and found out that `n_components=63` and `max_pca_components=63` should yield identical ICA results. The data argument for the ICA algorithm is identical, but the `random_state` isn't (because of the way the data is PCA-transformed), so due to a different random state the results are not identical. I'm not sure if this is a bug.

In any case, the only difference in these

[2018-01-18 13:40] cbrnr commented on #4856
(I have several questions on the algorithm, but let's focus on the `n_components` and `max_pca_components` arguments in this issue and I'll open a new issue for the new questions.)

[2018-01-18 13:59] mmagnuski commented on #4856
It shouldn't be, without the same random state ICA results will be slightly different from run to run.

They are not doing the same when you are applying ICA (`.apply()`). With `max_pca_components=63` you will remove the ignored PCA components from the data.

[2018-01-18 14:37] cbrnr commented on #4856
The problem is that the `random_state` object is passed to the PCA fitting function, which apparently uses the generator a different number of times when you specify a different `n_components` number.

I don't understand. I get 63 ICs in both cases. This is achieved by dropping 1 PCA component before ICA. It doesn't matter which argument I use. In both cases, I will end up with 63 ICs.

[2018-01-18 15:23] mmagnuski commented on #4856
Yes, the difference would be in the reconstructed data. When reconstructing the data from your original data and ICs you either use the remainging PCs (the signal from these components) or not (throw it away), take a look at the "diagram" I posted at the beginning of this discussion. `max_pca_components` influences the reconstruction of your data when you do `ica.apply()`.

[2018-01-18 15:39] agramfort commented on #4875
you really think it's a myth? Maybe I've hanged out too much with MNE
people? :)

[2018-01-18 16:19] sarangnemo commented on #4875
Perhaps better described as obsolete knowledge, and yes, clearly. :-) As @britta-wstnr pointed out above, it came up during the days of taking the covariance of the average, and even then it was only occasionally. We went through ~15 participants in our [2006 IEEE paper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3066091/) before finding one that failed "enough" in order to demonstrate our worka

[2018-01-18 19:13] iraquitan opened #4880 "Q: why eletrode positions plot is different from other tools like Fieldtrip?"
In the Wikipedia [10–20 system (EEG)](https://www.wikiwand.com/en/10%E2%80%9320_system_(EEG)) the electrode positions when plotting are much like the following image (**EEG1010.lay**) extracted from Fieldtrip, where the midline (T9 -- Cz  -- T10) is definitely a straight line.

![eeg1010 lay](https://user-images.githubusercontent.com/3467229/35116071-e6d53434-fc68-11e7-87e2-d80f0e6c44c5.png)

But

[2018-01-18 20:12] agramfort commented on #4880
it seems like the outlines parameter from http://martinos.org/mne/
stable/generated/mne.Evoked.html#mne.Evoked.plot_topomap is not exposed in
plot_montage

we could add this yes...

[2018-01-18 20:22] agramfort commented on #4875
ok fair enough then. Feel free to send a PR to remove this selection then

[2018-01-18 20:30] agramfort commented on #4856
can you try without using a randomized PCA? it's slower but should be more
deterministic

[2018-01-18 22:56] mmagnuski commented on #4856
@cbrnr Sorry, I might have not been clear enough. The same could be said about `n_pca_components` (`max_pca_componets` has the same effect in reconstruction). So overall I agree that the interdependence between the args results in an API with three `*_components` parameters where two would be enough. However I still think changing the docs is more pressing as some parts are confusing. A short exam

[2018-01-18 23:02] mmagnuski commented on #4856
and now, one I've read the notes I pasted at the beginning more carefully I find the same conclusion there: "it seems to me that there is a little too much freedom in the three components arguments. One can set max_pca_components < n_channels or set n_components < n_channels and get the same results. Similar situation is with setting max_pca_components and n_pca_components" :)

[2018-01-19 07:11] cbrnr commented on #4856
@mmagnuski I think one argument is sufficient for ICA calculation, so why not keep only `n_components` in `__init__` and use `max_pca_components` in the `apply` method? Interestingly, this method already has an argument `n_pca_components` which might already do what we want.

[2018-01-19 09:16] cbrnr opened #4882 "ICA questions"
I don't understand some choices in the ICA calculation process, maybe someone could answer these questions:

1. Why is a so-called pre-whitener (by default channels are divided by their standard deviations) used before PCA/ICA? I think this is not necessary because the next step is PCA with `whiten=True`.
2. Speaking of PCA and whitening, sphering seems to be more optimal for ICA, and sphering is

[2018-01-19 09:17] cbrnr commented on #4856
More ICA-related questions (not related to API, but to the algorithm) in #4882.

[2018-01-19 09:19] cbrnr commented on #4880
I remember having discussed this before - wasn't it related to a transform from some coordinate space to another (based on the fiducials) that isn't done? I can't find the relevant issue though.

[2018-01-19 09:37] cbrnr commented on #4856
@agramfort yes, using regular PCA does yield identical `random_state` objects after PCA (and thus identical ICA results for both `n_components=63` and `max_pca_components=63`. Should we consider replacing randomized PCA with regular PCA?

[2018-01-19 09:57] dengemann commented on #4856
Would have been too clear-cut and satisfying to find a silly bug that
explains it.

On Fri 19 Jan 2018 at 10:51, Clemens Brunner <notifications@github.com>
wrote:

[2018-01-19 10:14] agramfort commented on #4856
well I "think" we did with @dengemann but it may depend on your data
size.... anyway I feel also that the randomize PCA may not be what we want
here... it's negligible compared to ICA time anyway...

[2018-01-19 10:15] cbrnr commented on #4856
Exactly, even if it were faster it doesn't matter because ICA takes orders of magnitude longer. I'll prepare a PR.

[2018-01-19 10:16] dengemann commented on #4856
First validate on a 2GB raw file.
On Fri 19 Jan 2018 at 11:15, Denis-Alexander Engemann <
denis.engemann@gmail.com> wrote:

[2018-01-19 10:18] britta-wstnr commented on #4875
I will have a look at it! PR follows.

[2018-01-19 10:20] dengemann commented on #4856
Maybe just add some noise and tile the data ... creating a long noisy copy.

On Fri 19 Jan 2018 at 11:18, Clemens Brunner <notifications@github.com>
wrote:

[2018-01-19 10:20] dengemann commented on #4856
It also depends on input dimensionality.
On Fri 19 Jan 2018 at 11:20, Denis-Alexander Engemann <
denis.engemann@gmail.com> wrote:

[2018-01-19 10:21] dengemann commented on #4856
Alternatively: propose PR and I check before/after on a few files
On Fri 19 Jan 2018 at 11:20, Denis-Alexander Engemann <
denis.engemann@gmail.com> wrote:

[2018-01-19 11:07] cbrnr commented on #4856
I tiled my EEG data to create a 2.4GB `(4935680, 64)` array and compared full PCA vs. randomized PCA:

Keep all components: `randomized`: 193.0s, `full`: 48.8s.
Keep only 10 components: `randomized`:  41.8s, `full`: 48.5s.

I guess we can safely move to full PCA, but feel free to test this with real data.

[2018-01-19 13:54] anaevf commented on #2476
Hey all,

I know this an old thread but I am having an issue when trying to implement the solution here proposed to import epoched data to mne, I get the error:

`load_mat(fname, var_name=var_name)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "<stdin>", line 26, in load_mat
  File "<string>", line 2, in __init__
  File "C:\Users\Ana\Anaconda2\lib\site-packages\mn

[2018-01-19 14:38] larsoner commented on #4880
Yes this is probably a dup of #3987

[2018-01-19 14:47] larsoner commented on #4882
My guess is that it's for numerical stability. If you have channels on drastically different scales then even PCA can fail.

I have no problem with `sphering=False` default (for backward compat) but I'm guessing @agramfort or  Pierre (can't remember GitHub name) might have thoughts.

This one I do not know, except to say that it has been there since 2014 (0.8) and was added by @dengemann

[2018-01-19 14:48] dafrose commented on #4853
Hi and thanks a lot for this amazing package!

I just wanted to drop a note on installing mne on python 3.6, relating to what you wrote above:

We tried to install `mne` on python 3.6 using the above mentioned `environment.yml`. We exactly followed the recommendation in the (above mentioned) docs, saying:

but pip did something wrong and the install aborted, even leaving behind a broken `pip`. Ins

[2018-01-19 14:50] larsoner commented on #4853
Maybe it's time to update the config file. If conda-forge has VTK for Python 3.6, then we don't need to use the `clinicalgraphics` repo anymore. @dafrose feel free to open a PR to update the `environment.yml` file and we can see if the CIs pass.

[2018-01-19 15:56] agramfort commented on #2476
what are you trying to do? what is the data?

[2018-01-19 16:00] agramfort commented on #4882
if you do PCA dim reduction and you combine grad and mag then you will only
use the channel type with highest absolute amplitude unless you prewhiten.

Infomax does not require sphering but FastICA does. So you need to do:

prewhiten -> PCA for dim red with whiten=True -> FastICA (or Infomax)

clear?

[2018-01-19 17:05] dafrose commented on #4853
I've tried to move as much as possible in the `environment.yml` from `pip` to `conda`. Some issues that I encountered:
- `pysurfer` and `mayavi` conflict with `pyqt=5 ` &rarr; left them in pip section
- when trying to build mayavi with pip, I encounter the following error: `ModuleNotFoundError: No module named 'vtkIOParallelPython'` . I thought, this might be related to `VTK 8.1`, but fixing the v

[2018-01-19 17:15] larsoner commented on #4853
Can you open a PR to facilitate looking at the diff?

[2018-01-19 20:07] cbrnr commented on #4882
use the channel type with highest absolute amplitude unless you prewhiten.

Of course! Feature normalization prior to PCA is essential - somehow I didn't make the connection (prewhitening, z-score - we should update the docs and just call normalization by its name).

No 😄  - `white=True` is not sphering, it's whitening. Or are you saying that normalization (aka pre-whitening) plus whitening equals

[2018-01-20 09:43] dafrose commented on #4853
done! (PR #4885)

I had to remove the `pyqt` version requirement to be able to install `mayavi` and `pysurfer` with conda, since they require pyqt 4. Installing (and building) `mayavi` and `pysurfer` via pip failed on both a windows and a linux machine with `vtk` from conda-forge and `pyqt` v5.

I noticed that `mne` is already available on conda-forge for python 2.7 and 3.5 (in contrast to what th

[2018-01-20 09:49] agramfort commented on #4853
I personally don't maintain the conda packages of mne or pysurfer (just pip)

if you can help us with this it's great

[2018-01-20 10:06] dafrose commented on #4853
I don't have any experience with deployment (be it `conda` or `pip`) yet - but if you don't maintain the conda packages, then who does?

thx for maintaining on PyPi, though!

[2018-01-20 12:40] agramfort commented on #4853
good people :) honestly I am not sure.

[2018-01-20 12:48] larsoner commented on #4853
This is bad because it forces matplotlib to version 1.5 (as 2+ requires
qt5). This is why we have pinned versions of pyface and so forth -- those
support qt5.

Thus maybe all we should change is where we get VTK (and maybe also how we
install MNE).

[2018-01-20 19:49] dafrose commented on #4853
Seems so. I noticed that many of the pip-installed packages are available on conda-forge, so I moved them. Also building mayavi from pip failed on my (Windows) machine and I can't try my (Linux) office machine right now.

I've just run a few test installs with python 3.5 and 3.6 . As it seems, mayavi installs alright from conda under python 3.5 with pyqt5 present but throws a conflict error (Unsat

[2018-01-21 12:43] anaevf commented on #2476
Hi @agramfort,

I am trying to import an already epoched and cleaned (in Fieldtrip) EEG file to the MNE as an epoch object. My final aim is to try the decoding over time method using the (very much appreciated!) MNE tools. The fieldtrip page is not very helpful, however, saying that the fieldtrip2fiff function does not support already epoched data.

I was really glad when I found this issue here a

[2018-01-21 14:27] agramfort commented on #4882
sounds good. PR welcome :)

let's say data are X shape (n_channels, n,_times)
you want to whitened the data with W such that cov(WX) = np.eye(n_channels)

to do this you need W to be the inverse of a square root of cov(X). Let's
call the svd of this covariance U S^2 U^T then W can be S^{-1} U^T or
U S^{-1} U^T. What you call (I think) sphering is U S^{-1} U^T and whitening
S^{-1} U^T but they are

[2018-01-21 14:33] agramfort commented on #2476
you pass :

events = np.zeros((len(ft_data.trial), 3), int)

rather than passing zeros just set events to None.

[2018-01-22 08:02] cbrnr commented on #4882
call the svd of this covariance U S^2 U^T then W can be S^{-1} U^T or
U S^{-1} U^T. What you call (I think) sphering is U S^{-1} U^T and whitening
S^{-1} U^T but they are just 2 choices to whiten the data.

Yes, the terminology seems to be inconsistent. Whitening is a transform that decorrelates the data (i.e. the covariance matrix becomes the identity matrix), e.g. via PCA. There are infinitely m

[2018-01-22 11:48] cbrnr commented on #4882
Improved docstring in #4886.

[2018-01-24 12:53] dokato opened #4889 "Source localization from resting state data"
Hi, in my project I'm trying to perform source recontruction from resting state MEG data. I tried to follow the steps from this tutorial:
https://martinos.org/mne/stable/auto_tutorials/plot_mne_dspm_source_localization.html

with one modification. As this is resting state conitnuous recording I don't have events in my data, so I create 2 seconds artificial epochs this way:

[code]

Everything goes

[2018-01-24 13:14] agramfort commented on #4889
you should be using:

https://martinos.org/mne/stable/generated/mne.make_fixed_length_events.html

how do you estimate power? did you remove bad data segments?

[2018-01-24 13:29] dokato commented on #4889
Thanks for that functions - it will make life easier.

For sake of this visualisation I used custom function:
[code]

All steps of data preprocessing I'm using is to notch-filter (50Hz) the data, highpass filter from 1.5Hz, resample to 256 Hz, visual inspection and bad channels removal, ICA artefacts rejection (ECG and EOG), but then after creating my epochs I didn't remove any segments. I might t

[2018-01-24 13:48] agramfort commented on #4889
use this function:

https://martinos.org/mne/dev/generated/mne.time_frequency.psd_array_welch.html

**never ever** use FFT to estimate a good PSD. It has too much variance.

if you have short signals you could use:

https://martinos.org/mne/dev/generated/mne.time_frequency.psd_array_multitaper.html

take home message: avoid rewriting too much stuff from scratch.

HTH

[2018-01-24 13:56] dokato commented on #4889
Yeah, I know, it was just a quick sanity check, not that fluent in mne yet.

Thanks (but I guess no one likes black boxes).

So now I used `psd_array_welch` and applied rejection `reject = dict(mag=4e-12)` while creating epochs. Still getting:
![figure_1](https://user-images.githubusercontent.com/4547289/35335661-1459f85a-010e-11e8-8a2b-bd7af5c3702f.png)

RHS is reconstructed lateraloccipital regi

[2018-01-24 13:58] dokato commented on #4889
Not sure how relevant that is to this problem, but mag noise std looks fine:
![figure_2](https://user-images.githubusercontent.com/4547289/35335818-7bf0f11c-010e-11e8-8031-d3ffd804463e.png)

[2018-01-24 17:46] dokato commented on #4889
Okay, my bad... I was using `apply_inverse` instead of `apply_inverse_raw`. Now everything works fine. Thanks for all the hints.

[2018-01-24 17:46] #4889 closed

[2018-01-25 08:27] VitalyRS opened #4890 "martinos.org ??"
Good day !
https://www.martinos.org/mne/getting_started.html is down?
Hmm. We’re having trouble finding that site.

We can’t connect to the server at www.martinos.org.
If that address is correct, here are three other things you can try:

    Try again later.
    Check your network connection.
    If you are connected but behind a firewall, check that Firefox has permission to access the Web.

[2018-01-25 08:32] agramfort commented on #4890
it works for me

otherwise you have a mirror here :
https://mne-tools.github.io/stable/index.html

[2018-01-25 08:34] VitalyRS commented on #4890
Thank you!

[2018-01-25 08:34] #4890 closed

[2018-01-25 14:40] stfnrpplngr opened #4892 "create_eog_epochs does not detect the maximum signal during blink events"
Hi,
using the `mne.preprocessing.create_eog_epochs()` function does result in weird solutions. The epochs center is not the center of the peak. I would guess it has something to do with the filtering during blink detection. What is your opinion?

Average EOG plotting channels Fp1 and Fp1
![average_eog_notaligned](https://user-images.githubusercontent.com/20129752/35393559-94122518-01e5-11e8-8ad1-2

[2018-01-25 15:05] Stoffander opened #4893 "Drop bad channels/ epochs. Gives RuntimeError: bad channel(s) ['Fp1'] marked do not exist in info"
Hey guys,

want to mark channel 'Fp1' as bad, which works perfectly, but then afterwards when I call the mne.pick_types function, I get the RuntimerError: bad channel(s) ['Fp1'] marked do not exist in info
[code]

Any idea what might the problem be?

Thanks in advance!!

[2018-01-25 15:07] agramfort commented on #4893
what does

print(raw.info)
print(raw.ch_names)

tell you?

[2018-01-25 15:15] vapniks commented on #4829
Here is what I did.
First I wrote a short function to translate event names to numbers (using just the first letters of each name):
[code]
then I use that function in a list comprehension to create the new events array:
[code]
then save a copy, just in case
[code]
To plot the events, I first create some labels:
[code]
The events and eventsid objects can then be used to create epochs:
[code]

[2018-01-25 15:20] Stoffander commented on #4893
What I put in
[code]
What I got out
[code]

[2018-01-25 15:22] larsoner commented on #4893
The channel is named `' Fp1'` not `'Fp1'` (note the leading space)

[2018-01-25 15:24] Stoffander commented on #4893
It worked. Thanks a lot!!! Seems as it was less a hard nut to crack then I thought haha

[2018-01-25 15:24] #4893 closed

[2018-01-25 15:36] vapniks commented on #4829
Unfortunately I'm bound by an NDA, but I can say it is very simple to create a small function to translate event names to numbers and use that to create a usable events object.

[2018-01-25 18:14] mmagnuski commented on #4829
@agramfort I also got confused by `data.info['events']` when I was beginning with mne python, maybe this field should be removed if it should not be used to store events?

[2018-01-25 18:18] larsoner commented on #4829
We could probably rename it to something else. It's probably worth it to reduce confusion.

[2018-01-25 18:19] mmagnuski commented on #4893
@Stoffander You'd probably want to rename your channels to remove the spaces. You can use [`raw.rename_channels`](https://martinos.org/mne/stable/generated/mne.rename_channels.html):
[code]

[2018-01-25 18:23] mmagnuski commented on #4829
@larsoner What is the field used for? I never found out. :)

[2018-01-25 18:33] larsoner commented on #4829
I don't know either. Probably some legacy Elekta thing.

[2018-01-25 18:58] SherazKhan opened #4896 "Mixed source space, pick_ori='vector', shape mismatch"
I am trying to get vector time courses in mixed source space, got mismatch error.
I think stc is initialized as scalar, causing shape mismatch.

[code]

**stack traceback**
[code]

[2018-01-25 20:27] agramfort commented on #4829
no idea either...

the edf IO should be simplified with Annotations. Cf comments from 2 weeks
ago

[2018-01-25 20:46] agramfort commented on #4892
yes it's not detected properly but it should not be a pb to estimate an SSP

[2018-01-25 20:59] agramfort commented on #4896
thanks a lot for the bug report. can you have a lookt?

[2018-01-25 23:50] SherazKhan commented on #4896
I will look, and update.

[2018-01-26 04:44] agahEbrahimi opened #4897 "Excel/CSV File"
Hello,
I wanted to ask if MNE has any abilities to convert excel data to fif file?
Thank you in advance.

[2018-01-26 08:56] agramfort commented on #4897
use pandas to read the csv or xls file and use RawArray object as explained
here

http://martinos.org/mne/stable/auto_tutorials/plot_creating_data_structures.html#creating-raw-objects

[2018-01-26 10:33] cbrnr commented on #4882
OK, I figured it out myself. The line

    self.unmixing_matrix_ /= np.sqrt(exp_var[sel])[None, :]

does the whitening, which is not part of the PCA transform matrix `self.pca_components_`.

Kind of confusing, I think it would be much easier if all transforms were accessible as matrices, i.e. the pre-whitening (standardization) could be a diagonal matrix, the PCA transform matrix, the whitening (a

[2018-01-26 11:18] hekolk opened #4898 "Verbosity control for _find_events"
Hi,

it would be great if the ``@verbose`` decorator could be added (back) to ``mne.event._find_events`` (https://github.com/mne-tools/mne-python/blob/master/mne/event.py#L423 ):

The realtime epochs call this method during processing of each data chunk and using the default log level causes a lot of unnecessary console output for each stimulus. The relevant ``_process_raw_buffer`` method already

[2018-01-26 15:31] agramfort commented on #4882
why storing a diagonal matrix as full?

what do you suggest in terms of API/code changes?

[2018-01-26 20:22] larsoner commented on #4898
We should probably add the decorator, and not set `verbose='ERROR'` but rather let the user set it with the `find_events` argument to the constructor.

[2018-01-26 23:07] agramfort commented on #4898
Fine with me

[2018-01-26 23:31] agahEbrahimi commented on #4897
Thank you very much

[2018-01-26 23:58] SherazKhan opened #4899 "Mixed source space"
@agramfort @larsoner @dengemann Today I was talking with Matti, I am wondering how we normalized forward operator in case of mixed source space, say surface space with ico5 and 7mm for cerebellum volume source space. There should be a normalization factor ?

[2018-01-27 00:48] bloyl commented on #4896
I was under the impression that `pick_ori='vector'` hadn't added support for volume or mixed source spaces. Has that changed? I'd love to be using it for discrete Volume Source spaces.

[2018-01-27 00:59] bloyl opened #4901 "Control the point size when plotting source spaces"
I'd like to have control over the point size used to plot source spaces in plot_bem. Currently each source is plotted with a size of 1.

What is the preferred way to do this?

I have a patch that works but it changes the api of plot_bem
from
[code]
to
[code]
I like keeping the `show` keyword last, but the api change could potentially break code that pass everything by position - `plot_bem('sample'

[2018-01-27 04:28] agahEbrahimi commented on #4897
But that's not for the Heatmap imagery, does it work for that too?

[2018-01-27 09:09] agramfort commented on #4897
I don't know what heatmap imagery is. I am closing. Please reopen if you have more questions.

[2018-01-27 09:09] #4897 closed

[2018-01-27 09:18] agramfort commented on #4901
you need to update here the call to scatter:

https://github.com/mne-tools/mne-python/blob/master/mne/viz/misc.py#L330

can you show how you would like it to look? maybe we can change the size
globally to make it nicer
without an extra param?

[2018-01-27 09:20] agramfort commented on #4899
currently if you have a mixed source space "I think" you cannot use surface
ori and loose param. Everything should be free ori.

but **yet** this needs to be investigated and validated with simulations /
experiments.

[2018-01-27 09:36] bloyl commented on #4901
I have a working patch, that changes the api. I can do a pull request if that would help.

I think that a global update would potentially be better provided its relatively easy to configure. Ideally it would be great to expose the point size, color, and alpha used in the scatter call.

If you give me an idea where I should configure these options, I can take a look at it.

[2018-01-27 09:45] agramfort commented on #4896
yes I think it still needs to be done ...

[2018-01-27 09:55] hekolk commented on #4898
Thanks for the feedback - I created the mini-PR #4902, using verbose='ERROR' as default in the constructor argument.

[2018-01-27 10:57] agramfort commented on #4901
can you show how it looks like now and how you would like it to look?

[2018-01-27 11:30] SherazKhan commented on #4899
I am currently working on mixed source space problem, I agrees, we need to verify/evaluate the bias between these two surfaces.

[2018-01-27 16:42] agramfort commented on #4899
great. Open a WIP PR asap so we can play with you.

[2018-01-28 12:53] bloyl commented on #4901
Here is the current code with a point size of 1. It is pretty hard to locate the src location. worse the point doesnt scale with zooming so that doesn't help.
![small_pnt](https://user-images.githubusercontent.com/5585821/35482217-daac4af0-03ff-11e8-83d5-78add231b3df.png)

At a minimum it would be nice to be able to control the size
![large_pnt](https://user-images.githubusercontent.com/5585821/35

[2018-01-28 14:17] hekolk commented on #4898
thanks for merging!

[2018-01-28 14:17] #4898 closed

[2018-01-28 20:17] agramfort commented on #4901
I am -1 adding so much parameters to the API.

See for example:

https://gist.github.com/agramfort/2b623b39d33f416cb1fae3c51f105a0e

it shows you how to edit a rendered figures taking the fig object returned
by the plotting function.

it should allow you to make any customization you need.

[2018-01-29 08:00] cbrnr commented on #4882
It's not about how to store the matrices, but how to get them. My problem with the current approach is that currently you get `ica.pca_components_` and `ica.unmixing_matrix_` - but you cannot apply these matrices to the original data to do the transform, because you have to scale to unit variance, remove the mean, and whiten in addition. Ideally, I would like to replicate the transform that I get

[2018-01-29 15:18] massich opened #4904 "[RFC] crop behaviour"
I was playing with crop and I found weird that based on this description the raw object gets modified:
[code]

Then going through the snipped provided in #4697 I realized that I might not be the only one having issues with it. Take a look at the following user code:

[code]
either `old_raw` or `raw.copy()` should be unnecessary.

So do you think we should change crop behavior or it's better to lea

[2018-01-29 15:51] dengemann commented on #4904
We can improve the documentation and make explicit that it returns self, that is the modified raw object.

[2018-01-29 19:48] agramfort commented on #4904
yes I think that this line:

old_raw = raw.copy()

is unnecessary. raw.crop indeed returns self.

[2018-01-30 08:19] cbrnr commented on #4882
with_withening=True | False and if True the get the matrix you want?

No need for a parameter, we're always whitening. I'm OK with adding a method `get_unmixing_matrix` if it returns the complete transformation matrix which takes you from the raw data to the sources (i.e. this unmixing matrix contains all transforms).

Yes, I don't want to do that either, so let's clearly document it.

module that

[2018-01-30 09:36] agramfort commented on #4882
from a user perspective why do you what to have the full matrix?
you expect users to want to use directly this numpy array rather than
calling get_sources?

regarding the transform alias I would argue:

[code]

[2018-01-30 09:44] cbrnr commented on #4882
you expect users to want to use directly this numpy array rather than
calling get_sources?

Yes. Partly also because you can get the full transform matrix in EEGLAB (where it is documented to be `weights * sphere`). Since you ask this question, I think the full matrix is much more useful for users than what MNE currently offers (`ica.unmixing_matrix_` and `ica.pca_components_`). However, even bett

[2018-01-30 09:46] cbrnr commented on #4882
Oh, and also, `get_sources` works with a `raw` instance, and yes, I think it would be very useful to be able to apply the ICA transform to a NumPy array.

[2018-01-30 11:05] annesodub opened #4906 "[ENH] [Doc] Annotations onset"
Based on the documentation, it is unclear if onsets are expressed in seconds or samples (or anything else).

[code]

[2018-01-30 12:16] larsoner commented on #4882
A side note FYI -- this is a hack but for any of these linear transforms we have keep in mind you can hack it with something like:
[code]
It sounds like you're saying that we want people to be able to do this without a hack workaround, though, so I'm fine with exposing the necessary parts and/or a method.

Given that we already expose some of the components (but not all?), maybe we should just exp

[2018-01-30 12:24] cbrnr commented on #4882
Oh yes, this is definitely nice but hacky (i.e. no one without some experience with MNE will be able to come up with it in less than 5 minutes).

+100 for exposing the remaining parts, this is still my preferred option. I propose the following components:

- `ica.unmixing_matrix_` (already exists)
- `ica.pca_components_` (already exists)
- `ica.standardization_` (removes mean and scales variance t

[2018-01-30 15:27] cbrnr commented on #4882
(And also, there is no `ica.transform` because it is called `ica.get_sources` - that's why I suggested to add a `transform` method.)

[2018-01-30 16:31] massich commented on #4906
Indeed, the documentation fails to say that onset should be in seconds.

[2018-01-30 16:32] makkostya commented on #4906
Ill do PR.

[2018-01-30 16:44] massich commented on #4906
go for it !

[2018-01-30 21:06] agramfort commented on #4882
I am fine exposing what you suggest as attribute and documenting what you
need to do
but how about doing

ica.unmixing_matrix_ @ ica.whitening_ @ ica.standardization_

ie exposing whitening as one matrix which would contain the scaled
ica.pca_components_?

[2018-01-31 08:00] agramfort commented on #4882
ok then. let's do it as you proposed 2 posts above then.

[2018-01-31 14:27] bloyl commented on #4901
That works for me.

[2018-01-31 14:27] #4901 closed

[2018-01-31 15:45] #4906 closed

[2018-01-31 19:22] massich opened #4912 "Improve sEEG visualization when plotting"
The following code moocs a raw object to contain `sEEG` data, plots it and generate the figure below:

[code]
![image](https://user-images.githubusercontent.com/7044835/35642441-6b9129a8-06c3-11e8-8eb8-49713bc8119f.png)

On it, the scale and the legend color of the signals seem off.

cc: @mathurinm, @makkostya, @annesodub

[2018-01-31 19:53] agramfort commented on #4912
the color I would suggest is : red:0.50 green:0.25 blue:0.00

[2018-02-01 03:25] wenzn commented on #694
I met this problem once, just for I changed the API's pick.py file pick_types(info, meg=True, eeg=False...),
since I just use eeg, so I changed it to pick_types(info, meg=False, eeg=True...), but it seemd to be harmful to the API, so I just back it

[2018-02-01 04:14] gvelchuru opened #4914 "plot_alignment fails"
I have the following code:

[code]

plot_alignment creates a blank "Mayavi scene window", and if I keep continuing I get the following error:
[code]

My output ends up being
![image](https://user-images.githubusercontent.com/1124570/35660823-537c3a92-06c3-11e8-91fb-1d8c46812871.png)
which has (as far as I can tell) the correct electrode positions but obviously no brain.

[2018-02-01 09:46] agramfort commented on #4914
is it the code from example?

if so it's a mayavi install pb :(

[2018-02-01 14:12] gvelchuru commented on #4914
It is the example code - any debugging things I can do or alternatives to mayavi?

[2018-02-01 16:01] agramfort commented on #4914
how did you install mayavi?

can you run any mayavi example outside of mne?

[2018-02-01 20:24] #4912 closed

[2018-02-02 12:18] massich commented on #3723
Just for completeness. We recounted the same problem when trying to reproduce [this](https://mne-tools.github.io/dev/auto_tutorials/plot_point_spread.html?highlight=simulation) example.

[2018-02-02 14:24] kingjr commented on #4517
BTW, the control speed of ipyvolume is decent now, (without downsmapling)

[2018-02-02 18:21] suntracks opened #4917 "Marking ischemic damage on topoplots"
Would like to know if there is a way to mark ischemic damage on topoplots.
It be great to visualise changes in evoked potentials around the damaged area of brain.

[2018-02-03 07:21] agramfort commented on #4917
can you share an example figure to see what you have in mind?

[2018-02-03 07:43] agramfort commented on #4517
do you think it's possible to have something like:

brain = stc.plot(backend='ipyvolume')

that works similarly to pysurfer when in the notebook?

[2018-02-03 08:29] choldgraf commented on #4517
Should be possible IMO

On Fri, Feb 2, 2018, 11:43 PM Alexandre Gramfort <notifications@github.com>
wrote:

[2018-02-03 08:34] agramfort commented on #4517
good it's the week end :)

[2018-02-03 08:36] choldgraf commented on #4517
Don't forget this Sunday is a world wide holiday

On Sat, Feb 3, 2018, 12:34 AM Alexandre Gramfort <notifications@github.com>
wrote:

[2018-02-03 10:25] suntracks commented on #4917
Suppose we know that ischemic damage was in the region between P3 and P4, if  we could mark all the plots with this (maybe as a 'X' or 'O' or '.')  , so that we can view all the topo plots with the damaged region as a reference.

[2018-02-03 10:39] agramfort commented on #4917
change channel names in data and plot channel locations with name in your
topo?

[2018-02-03 11:15] suntracks commented on #4917
how can it be achieved in function for a series for plots starting t0 - t1

evoked.plot_topomap( ch_type='eeg',times=times)

[2018-02-03 17:33] agramfort commented on #4917
use show_names and sensors options in plot_topomap

[2018-02-03 19:56] gvelchuru commented on #4914
I think this was an X forwarding issue as I was ssh-d into my computer, fixed by switching to my own computer

[2018-02-03 19:56] #4914 closed

[2018-02-05 14:41] #4792 closed

[2018-02-06 12:24] cbrnr commented on #4882
If I transform the signals to sources with the computed unmixing matrix, I get slightly different results compared to `get_sources`. The difference is not large, but large enough so that `np.allclose` returns `False`.

Here's how I build the final unmixing matrix:

[code]

Where `center = np.eye(n_chans) - 1/n_chans * np.ones((n_chans, n_chans))` (`n_chans` is the number of channels in the origina

[2018-02-06 14:26] larsoner commented on #4882
You have `n` operands in the top and `m` in the bottom. Usually in cases like this I'd compare each step by step to see where the difference comes in. At least the leftmost one is the same so it can't be the problem. But then the question is why does this:
[code]
differ from this:
[code]
Is `ica.n_components_ == n_chans`? If so we know the problem is not `ica.pca_components_` either.

I'd then con

[2018-02-06 15:40] cbrnr opened #4922 "ICA results depend on numerical library?"
We've discussed this in #3049 already, but I think we haven't really solved the problem. We found out that Infomax is less stable than Extended Infomax, but the problem also occurs in the latter.

Recently I've had a discussion with @dengemann, where he mentioned that he gets different ICA results across different machines, even though the initial conditions (random seeds) are identical.

I have d

[2018-02-06 15:59] larsoner commented on #4922
This is a fact of life in floating point computations across libraries, architectures, etc., so we have to accept it :) Software needs to be designed to robustly mitigate rather than exacerbate this issue.

This depends on the algorithm being used. By way of example, FIR filtering in general does not suffer from these numerical imprecision issues because it's robust to small errors (they do not ac

[2018-02-06 16:48] makkostya opened #4923 "Importing Yokogawa/KIT data"
I try to import data from Brainstorm tutorial: http://neuroimage.usc.edu/brainstorm/Tutorials/Yokogawa and get an error. However, I can import it in Brainstorm. My MNE version 0.15.2
I run this code:
[code]
output:
[code]

error:
`IOError: Unknown FLL type: 300`

[2018-02-06 18:39] larsoner commented on #4923
@christianbrodbeck any idea how we add support for this site?

[2018-02-06 18:45] christianbrodbeck commented on #4923
Implementation of the SQD reader is dependent on information on the file format, which is unfortunately not complete. It looks like the relevant component of brainstorm is compiled without source code (https://github.com/brainstorm-tools/brainstorm3/tree/master/external/yokogawa).

[2018-02-06 22:17] agramfort commented on #4922
yes ICA is sensitive to blas implementation. There is not much to do about
it
as @larsoner said.

[2018-02-07 08:57] cbrnr commented on #4922
Yes, this is clear, I was referring to the (Extended) Infomax ICA implementation. We're definitely not there with ICA (at least the MNE Infomax implementation is affected by numerical issues, I haven't tested other implementations). I will try to see if this is also an issue with FastICA, and then it will be interesting to see if other Infomax implementations suffer from the same problem.

I'm not

[2018-02-07 09:59] cbrnr commented on #4922
The results computed on a Mac using Accelerate are identical to the BLAS/OpenBLAS results. I don't know, I'll do some more tests, but if only MKL produces different results this could be a problem.

[2018-02-07 11:14] cbrnr commented on #4922
MKL on Mac also yields results identical to BLAS/OpenBLAS/Accelerate. So currently only MKL on Linux produces different results. I'm starting to think this is not an ICA issue at all.

[2018-02-07 11:34] mmagnuski commented on #4922
I don't think this should be a big issue - after all you get slightly different ICA results with different initializations and the sign arbitrariness of components is a fact of life too. If I want to reproduce the exact same components I just save them to disk. But I admit that its a bit weird that MKL gives different results only on Linux.

[2018-02-07 11:36] agramfort commented on #4922
honestly do tiny tests but don't spend too much time on this.

it's not a bug.

my 2c

[2018-02-07 11:38] cbrnr commented on #4922
@agramfort yeah, I can't spend much more time on it anyway, but ask @dengemann, this is a big issue for him. If we find out that it's just a particular MKL implementation that misbehaves, then why not investigate further. With identical initial conditions, I expect to get identical results. This seems to be the case everywhere except for MKL on Linux (I'll do a Windows test soon).

[2018-02-07 11:45] agramfort commented on #4922
you won't be able to guarantee the MKL version people will use. So you have
to live with it.

[2018-02-07 11:47] cbrnr commented on #4922
If all results are identical (even MKL results) except for Linux MKL, I would consider this a bug.

[2018-02-07 11:56] agramfort commented on #4922
event matlab would ship with this MKL version and does not guarantee
numerical matches between systems.

see https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3365894/

Freesurfer has this pb too and there is not much to do about it.

[2018-02-07 13:26] cbrnr commented on #4882
The issue is the mean here: `get_sources` subtracts `ica.pca_mean_`, which is the mean of the channels ICA was computed on. However, I think it would be more correct to subtract the mean of the signals the ICA is applied to.

[2018-02-07 15:14] cbrnr opened #4926 "Move test data out of MNE package"
I think it would be nice if we moved all test data out of `mne.io` and integrated them into `mne.datasets.testing` instead. Currently, the following subfolders of `mne/io` contain test files:

- brainvision/tests/data (1.1 MB)
- bti/tests/data (3.1 MB)
- edf/tests/data (3.1 MB)
- egi/tests/data (0.3 MB)
- kit/tests/data (5.1 MB)
- nicolet/tests/data (0.03 MB)
- tests/data (64.2 MB)

This would red

[2018-02-07 15:16] larsoner commented on #4926
These do not get included in the release, see 5MB binary:

https://pypi.python.org/pypi/mne/0.15.2

For the repo to save the size we'd need to purge / rewrite history, probably not worth it.

[2018-02-07 15:16] larsoner commented on #4926
(at least to save the size when doing `git clone`)

[2018-02-07 15:17] cbrnr commented on #4926
OK that's fine then. It's still a bit inconsistent that some test files are in the package (e.g. EDF/BDF) whereas others (e.g. GDF) are in the testing datasets module.

[2018-02-07 15:18] cbrnr commented on #4926
And in the repo, why do we need to rewrite history? Why not just `git rm`?

[2018-02-07 15:20] larsoner commented on #4926
Agreed it's inconsistent it is historical cruft.

If you `git rm` the files "go away" but the (restore-able) record of them stays in the `git` history unless you purge (or do a sufficiently shallow clone) so there is no gain.

[2018-02-07 15:21] cbrnr commented on #4926
So OK to leave this open in case someone wants to work on it?

You're right, the size of the repo doesn't change, but this is not such a big issue. I think consistency is more important.

[2018-02-07 15:28] larsoner commented on #4926
Since we seem to be stuck with the existing size in the repo, the current situation does have one advantage: even without access to the testing data (which is now getting a bit large) more core functionality can be tested / played with than if you remove those files.

[2018-02-07 15:29] agramfort commented on #4926
we should be migrating to :

https://web.gin.g-node.org/NeuralEnsemble/ephy_testing_data

it's a git annex repo so we can selectively pull certiain from the this
potentially big repo

[2018-02-07 15:33] cbrnr commented on #4926
Yeah, trading consistency for flexibility is not a good option. The testing data is not only getting a bit large (approaching 1GB I think), but the download is also extremely slow. I just aborted because I didn't want to wait for two hours. If this repo is a better option than what we have now we should look into it.

[2018-02-07 15:37] cbrnr commented on #4760
#4888 fixes loading the two example files in the top post. We'll have to dig through all related issues/PRs to find out if there's anything that's not been fixed.

[2018-02-08 11:13] suntracks commented on #4917
Thanks for the input,
This really does not solve the purpose but a good work around.
is it possible to mark just one sensor position rather than all the channels from the list.

[2018-02-08 11:32] agramfort commented on #4917
you mean a list with one element ? if so just put the channel name in []

[2018-02-08 11:55] suntracks commented on #4917
This is showing up all the channel names specified in the channel name [].
plotting evoked data needs this info file marked correctly i suppose with all channel names & type.
Otherwise the montage locations are an issue. Correct me if am wrong here.

[2018-02-08 14:56] iraquitan opened #4928 "Use pad_start and pad_stop in find_events"
As `find_events` function uses the `_find_stim_steps` under the hood:
https://github.com/mne-tools/mne-python/blob/06afcc8166f9304d25a72ab159e954542f0cc177/mne/event.py#L447
I believe it should be interesting to use these two arguments as well. I recently started using the [EEG Motor Movement/Imagery Dataset](https://physionet.org/pn4/eegmmidb/) and they also have events to rest state, so their ev

[2018-02-08 14:58] larsoner commented on #4928
Can you see if #4756 (in latest `master`) fixes the first sample behavior?

[2018-02-08 15:00] iraquitan commented on #4928
will check that

[2018-02-08 15:21] ngayraud opened #4930 "MNE-Python failing test_io_set from mne.io.eeglab.tests.test_eeglab"
Hello, I am also getting an error in the same test as issue  #4855 (but a different error, and in  version 0.16) :

`
    ================ FAILURES  ================
    _______________    test_io_set   _______________

    args = (), kwargs = {}
    def skipper_func(*args, **kwargs):
        """Skipper for normal test functions."""
        if skip_val():
            raise SkipTest(get_msg(f, msg)

[2018-02-08 15:47] agramfort opened #4931 "source vertices get filtered out even with mindist=0. on sample"
Run this script to replicate. You will see that even if you have mindist=0. you loose some vertices.  I am quite surprised about this. @larsoner any idea?

[code]

[2018-02-08 16:13] larsoner commented on #4931
Yes:
[code]
You can see it's probably one of these two in the posterior occipital lobe:
[code]
![snapshot](https://user-images.githubusercontent.com/2365790/35983838-fe01324e-0cc0-11e8-8e29-8a76108b4221.png)

[2018-02-08 16:21] larsoner commented on #4931
The inner skull seems to be a bit too tight:
[code]
![snapshot](https://user-images.githubusercontent.com/2365790/35984015-7323b16e-0cc1-11e8-9f9c-3ab3d8c17bba.png)

[2018-02-08 16:26] agramfort commented on #4931
hum ok. I am surprised it's even a pb flash images and using the white
surface though.

feel free to close.

[2018-02-08 16:30] #4931 closed

[2018-02-08 16:46] agramfort commented on #4930
we recently changed empty EEG locations to NaN rather than 0.

what version are you testing?

[2018-02-08 16:51] ngayraud commented on #4930
version 0.16

[2018-02-08 19:07] iraquitan commented on #4928
[code]

Works as expected @larsoner . Thanks.

Is this supposed to work in 0.16?

[2018-02-08 19:10] larsoner commented on #4928
Yes once it is released it should work in 0.16

[2018-02-08 19:10] #4928 closed

[2018-02-08 19:47] agramfort commented on #4930
indeed. I see the same error locally.

@larsoner any idea what this is not captured by travis?

[2018-02-08 20:06] larsoner commented on #4930
I see it locally, too. It could be because we have a SkipTest to work around a NumPy 1.14.0 (which Travis uses) bug. PR welcome to change the test.

[2018-02-09 08:27] agramfort commented on #4882
well the EEG/MEG signals are assumed to be zero mean typically. That's why
we just do a dot with the whitener.

now this suggests that PCA should be using assume_centered option to avoid
centering again.

if the data are actually zero mean this should not make a difference anyway.

my 2c

[2018-02-09 08:33] agramfort commented on #4917
yes info needs to be complete to work.

we could allow show_names names to take a list of channels
to specify what channels to plot.

[2018-02-09 08:45] cbrnr commented on #4882
You are right, fitting ICA assumes (and requires) the data to be zero mean. This is left to the user, and we also mention the importance of a good highpass filter in the docs. But I don't understand why the `get_sources` method the subtracts the actual mean then - if we assume the signals are zero mean there is no need to do that. But if we do it, we can't subtract the mean from the signals ICA wa

[2018-02-09 10:08] agramfort commented on #4882
I would be fine not removing any mean at all.

but I am -1 on removing the mean from transformed signals as it would mean
that
transform depends on the data so for example you would not get the same
if you do Raw -> Epochs -> ICA Sources vs Raw -> ICA Sources -> Epochs

[2018-02-09 10:11] cbrnr commented on #4882
Yes, that's what I'm saying. So basically just remove these two lines and we're good?
https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/ica.py#L614-L615

[2018-02-09 10:25] agramfort commented on #4882
well no. If it was subtracted at fit time it should be there too.

it should be removed globally or at least we should have an
option to assume the signals are zero mean initially.

[2018-02-09 10:29] cbrnr commented on #4882
It is common practice to compute ICA on one dataset and apply it to another dataset. So in the first step, you solve `s = U @ x` for `U`. This transform now includes centering, i.e. it subtracts the channel means of `x`. But if you apply `U` to a new signal, you want to compute `s1 = U @ x1`. Therefore, `U` removes the mean of `x1` - why should it remove the mean of `x` from `x1`?

An option to as

[2018-02-09 10:37] agramfort commented on #4882
it depends what you assume about the data. If it comes from same
distribution or not.

I don't like the idea that the size if X changes the output of transform.
It's like in sklearn.
You want that

clf.transform(np.concatenate([X1, X2], axis=0))
==
np.concatenate([clf.transform(X1), clf.transform(X2)], axis=0)

yes

[2018-02-09 10:54] cbrnr commented on #4882
Yes, I get the point. You compute everything in `fit` and then apply that in `transform`. But this makes it hard to write the whole transform into one unmixing matrix - or am I missing something obvious?

[2018-02-09 11:48] agramfort commented on #4882
I think that we do currently is:

U = ica.unmixing_matrix_ @ ica.pca_components_[:ica.n_components_] @ center @

np.diag(1 / ica.pre_whitener_.squeeze())

ie centering is done after whitening/scaling of channels

[2018-02-09 11:55] cbrnr commented on #4882
Currently we subtract the mean after scaling (pre-whitening), but before whitening and before PCA (after all, we use `pca.mean_`). But you can't write this is one matrix U then, because center uses a mean from a different signal. So the best solution would be to get rid of centering and assume that it is done separately (i can look into this some more to find out how it behaves). It is the same th

[2018-02-09 11:57] agramfort commented on #4882
I don't get this. You can still take the centering matrix from the fit data
and assemble the U matrix. It will assume the you did the same highpass on
the transformed data

[2018-02-09 11:57] agramfort commented on #4882
ok about the plan

[2018-02-09 12:00] cbrnr commented on #4882
How does the centering matrix from the previous data look like then? I was using [this definition here](https://en.wikipedia.org/wiki/Centering_matrix), and it only works on the new data.

[2018-02-09 12:45] agramfort commented on #4882
let's see if this can help

import numpy as np
X = np.random.randn(10, 30)
X_mean = np.mean(X, axis=1, keepdims=True)
X_centered = X - X_mean

# now try to write it as dot product
A = np.eye(10) - np.linalg.pinv(X.T).dot(np.tile(X_mean, (1, 30)).T).T
X_centered2 = np.dot(A, X)

X_centered - X_centered2

[2018-02-09 13:25] larsoner commented on #4917
I'd rather fix the dig sizing / position to properly assume head coords. Then this option is unnecessary as `pick_info` can be used.

For now a workaround would be to iterate over the text objects (using `matplotlib`) and change them based on their names (e.g., set some `visible=False` or change their colors).

[2018-02-09 13:57] cbrnr commented on #4882
Hm, that's a pretty large difference (I assume because of the pseudo-inverse calculation), even with the same data X.

[2018-02-09 14:00] agramfort commented on #4882
yeah not sure it's great either...

[2018-02-09 14:25] cbrnr commented on #4922
Thanks for the article link. I'll still try and see how MKL results on Windows compare. If nothing else, maybe we could at least consistently deal with the sign - do you think this is possible/useful (e.g. sort ICs according to explained variance, set the first weight of the largest component to be positive)?

[2018-02-09 14:30] mmagnuski commented on #4922
The ICs are already sorted by explained variance, I would prefer to make a function / method available (`ica.invert_signs(picks=None)`?) rather then to enforce the sign by default.

[2018-02-10 09:25] #4930 closed

[2018-02-11 13:13] #4710 closed

[2018-02-11 13:13] #4757 closed

[2018-02-12 11:08] cbrnr commented on #4922
MKL on Windows also gives exactly the same results as all other OS/BLAS combination. So the _only_ different results is Linux/MKL. I'm sure there's an explanation, but I wouldn't dismiss it as that's how numeric floating point life is given the circumstances. This might well be a serious problem @dengemann has encountered that lead to non-reproducible results when using Linux/MKL. Not sure how to

[2018-02-12 14:27] dengemann commented on #4922
The experience we've had with @jasmainak @larsoner and @agramfort while working on the latest MNE group analysis demo paper was a bit traumatizing to me. I am starting to think that we may want to have alternatives to ICA in our pockets when strong reproducibility is a concern.

[2018-02-12 14:42] cbrnr commented on #4922
@dengemann yes, but this is something I would want to triple-check before declaring ICA as too unreliable. I still don't think that this is the case, because I get numerically identical (and therefore reproducible) results everywhere except for one platform/BLAS combination.

[2018-02-12 16:23] jasmainak commented on #4922
@cbrnr if you figure out what is different for the Linux MKL version, do not hesitate to post it. I have a feeling it might simply be a matter of setting some environment variables (like number of threads = 1).

See: https://software.intel.com/en-us/articles/getting-reproducible-results-with-intel-mkl/

That said, I do agree that ICA seems like a sensitive algorithm. Even if we do manage to find o

[2018-02-12 16:25] thesujitroy commented on #4850
Can you please explain what you intend to perform (objective), I plan on trying it.
Or you can give some reference as well.

[2018-02-12 16:49] jasmainak commented on #4850
okay perhaps not as easy as I thought @thesujitroy.

@larsoner would you recommend this as a starter issue?

[2018-02-12 16:50] larsoner commented on #4850
No it will probably involve too much refactoring

[2018-02-12 17:05] thesujitroy commented on #4850
@larsoner Thank you. I am looking into it.
@jasmainak Do you want to look into something else?

[2018-02-12 23:51] jasmainak commented on #4850
yeah, pick one of the issues labeled as easy.

[2018-02-13 08:24] cbrnr commented on #4922
Yes, maybe it's the number of threads. Small variations in the output are OK, but if they are really that large ICA would be a nightmare for reproducibility. I'm not aware that anyone has ever studied this, but it would be very useful. So far we are only speculating, and I couldn't say whether this problem is inherent in ICA or if it is due to a particular implementation.

[2018-02-13 17:41] larsoner commented on #3700
@agramfort this isn't done, you are probably thinking of `plot_alignment` but this issue is for `mne coreg`

[2018-02-13 22:08] larsoner commented on #3934
@christianbrodbeck it occurred to me that, when optimizing MRI scaling to fit the headshape, we might benefit from adding a constraint (e.g., with `fmin_cobyla`) that all points must be *outside* the surface, or at most `x` mm inside the surface. Using the current algorithm I found that many times it found a solution that is impossible (e.g., roughly half the points inside the head). WDYT?

[2018-02-13 23:18] christianbrodbeck commented on #3934
Yes that sounds great, I also just noticed recently that when there are additional points in the head shape at the nose which are not in the MRI they cause undesirable shits pulling the head shape into the MRI

[2018-02-15 11:04] dokato opened #4939 "frequency shift in beamforming.lcmv_raw"
Hi,

recently I'm dealing with the following problem: I wanted to reconstruct the MEG resting state signals in specific frequency band. I heard about one approach in which you apply inverse method to epoched data in specific frequency. So I did the following:

- filtered my signal in alpha;
- epoched my continuous data into 2 sec trials;
- created also the same epochs for broadband data;
- created

[2018-02-15 18:22] jona-sassenhagen opened #4940 "Add a bit of support for categorical data to `TimeDelayedRidge`?"
We should in the long run integrate `linear_regression_raw` and the Receptive Field code. I think in many regards the `TimeDelayedRidge` approach is probably the right way, API wise. But it's ghastly slow for my purposes - i.e., mostly sparse matrices. `linear_regression_raw` is much faster. Could we(/I) add a new keyword for integrating the `linear_regression_raw` way of creating the temporal emb

[2018-02-15 21:40] larsoner commented on #3934
@christianbrodbeck I'm looking at implementing the points-must-be-outside algorithm, which will mean eventually changing `fit_point_cloud` in e.g. `fit_scale_hsp_points`, which finds the scaling and rotation to match the MRI and head shape points. Two issues come up:

1. Why use `translate=False`? Stability? It seems like it would work better not to constrain this if possible.
2. Using the `nasion

[2018-02-15 21:45] larsoner commented on #3934
... and the reason that these two things are issues for the fitting code is that, when combined, they will commonly lead to scenarios that prevent the optimizer from finding any suitable solution. Thinking about cases where there are points near `nasion` slightly inside the head (or the nasion itself slightly is), I can see this being a problem. (This is even the case for the `sample` dataset `tra

[2018-02-15 21:54] christianbrodbeck commented on #3934
Yeah the reason for using the Nasion as center (and avoiding translation) was that with the optical scanner at NYU we have high confidence in the nasion, slightly less in RPA and LPA (because they are not as visually distinctive sometimes), but all the points at the back of the head will be highly uncertain due to hair. I agree that for other situations this is not as clear cut, although the nasio

[2018-02-15 21:55] christianbrodbeck commented on #3934
Maybe a parameter that weights the nasion relative to other points?

[2018-02-15 22:07] larsoner commented on #3934
Maybe with two points, but the standard procedure in Neuromag + Polhemus systems is generally to digitize 100+ additional headshape points. There are computer-vision-based systems in deployment at some sites that give (tens of) thousands of points, too. In both of these cases the cloud-to-MRI fit can be (and might usually be) more accurate than relying on the single nasion point, depending on the

[2018-02-16 01:17] christianbrodbeck commented on #3934
I am not opposed to changing the coordinate system, especially if there will be an option to keep the nasion in place (ore increase its weight for automatic fits).

[2018-02-16 12:29] ngayraud opened #4941 "Covariance plots - Colorbar missing"
In version 0.16, the colorbar setting (True or False) of the covariance plot (plot_cov function in file /viz/misc.py) does not affect the result. It is in fact not used in the code at all. Also,  when one sets show_svd=True the plots are not aligned since they are two different figures.

I made a branch with some code to correct these small problems. The function returns a single figure containing

[2018-02-16 13:39] agramfort commented on #4941
indeed... can you open a PR?
thanks a lot

[2018-02-16 19:41] wendyli opened #4943 "cannot import name cwt_morlet"
I am trying to run code from someone's github install that calls:
  from mne.time_frequency.tfr import cwt_morlet

However I get the error
ImportError: cannot import name cwt_morlet

I looked through the folder and found that in time_frequency there was a tfr.py, but no mention of cwt_morlet.

I thought it could have been due to an update in mne and looked through mne- 0.12 and mne -0.14 but haven

[2018-02-16 19:48] larsoner commented on #4943
From `whats_new` for 0.13 [here](https://martinos.org/mne/stable/whats_new.html#id8):

[code]

Does that help? FWIW we are on version 0.15 now, so there might be other relevant changes. You can look here for publicly available/supported functions:

https://martinos.org/mne/stable/python_reference.html

[2018-02-17 10:17] agramfort opened #4944 "eeglab latency to event without sfreq"
when working on annotations to events I realize that the eeglab reader
convert `eeg.latency` to sample index with `int(latency)`

see: https://github.com/mne-tools/mne-python/blob/master/mne/io/eeglab/eeglab.py#L697

reading https://sccn.ucsd.edu/wiki/Chapter_03:_Event_Processing it seems that latency is in seconds to converting to events would require `sfreq`

@jona-sassenhagen @smgutstein  @mmag

[2018-02-17 10:32] agramfort commented on #4944
have a look at https://github.com/mne-tools/mne-python/pull/4936

[2018-02-17 12:15] mmagnuski commented on #4944
@agramfort - latency is stored in samples in eeglab. But then different guis and functions use sometimes ms, sometimes s and sometimes samples.

[2018-02-17 12:17] mmagnuski commented on #4944
The only issue might be matlab vs python indexing (if that is not dealt with when reading latencies).

[2018-02-17 12:22] mmagnuski commented on #4944
And it seems that it is not taken care of in _read_annotations_eeglab:
`onset = [event.latency for event in eeg.event]`

[2018-02-17 12:34] agramfort commented on #4944
event.latency has digits after the commas in our test file so it does not suggest it's samples but more seconds.

can you investigate with one of your files?

[2018-02-17 12:53] mmagnuski commented on #4944
The file might have been downsampled - then events are then represented as happening between the samples in some cases. I can test that later today but I am almost 100% sure these are samples. But I'll check indexing offsets.

[2018-02-17 14:46] agramfort commented on #4944
please have a look as there is something currently maybe broken.

[2018-02-17 20:00] larsoner commented on #3934
@christianbrodbeck one more idea I think could help some thing I have in mind. I'm thinking of always trying to load the low-res head (and might as well always try to load the high-res one, too, for simplicity). This will allow faster comptuations such as:

- dig points inside / outside head: useful for color-coding based on surface violations)
- dig point distance: useful for optional resizing ba

[2018-02-17 20:01] larsoner commented on #3934
... oh, and "dig point nearest point on surface" is also useful for iterative-closest-point (ICP) fitting, which is another feature `mne coreg` doesn't have that `mne_analyze` does.

[2018-02-17 20:03] larsoner commented on #3934
@agramfort BTW do you think something like local outlier factor could be useful for removing dig points that are unreasonably far from the surface (e.g., points that were errantly digitized)?

[2018-02-18 14:17] dokato opened #4947 "source leakage correction"
I don't think that MNE currently supports source leakage correction. According to the work of people from OHBA: https://www.ncbi.nlm.nih.gov/pubmed/27262239, correlation of envelopes after correction is one of the most reliable connectivity estimators.
For the purpose of my study I implemented symmetric orthogonalization from this paper: https://www.ncbi.nlm.nih.gov/pubmed/25862259
It's here: http

[2018-02-18 14:36] dengemann commented on #4947
Hi,

That sounds like a good idea. We plan adding power envelope correlations
soon. It’s essentially written but I need time to add it to MNE. Source
leakage correction should come with it but I haven’t looked into it yet.
Perhaps we can team up :)

Denis
On Sun 18 Feb 2018 at 15:17, dokato <notifications@github.com> wrote:

[2018-02-18 15:55] dokato commented on #4947
@dengemann Sure, sounds like a great idea! My implementation requires some amendments obviously, but in my tests worked fine. Let me know if you have any guidelines how to insert it to mne. My guess is that it should be a part of connectivity subpackage, shouldn't it? And then utils, or rather separate module (e.g. `leakage.py`)?

[2018-02-18 16:00] dengemann commented on #4947
One reason we still don't have power envelope correlations in MNE is that I
would like to introduce a new API for this that is independent from the
spectral connectivity one. This always takes discussions, hence, time. I
think we should do a submodule for envelope correlations and just add a
leakage module there. Maybe I should start a PR next week to propose the
API I have in mind. Then we can ta

[2018-02-18 16:03] dengemann commented on #4947
Maybe we could hang out next week to exchange / synchronize ideas? It is
not unlikely that we have some parallel work going :)

On Sun, Feb 18, 2018 at 5:00 PM Denis-Alexander Engemann <
denis.engemann@gmail.com> wrote:

[2018-02-18 16:06] dokato commented on #4947
Yeah. Please, keep me in the loop about envelopes and I'm happy to hang out next week as well!

[2018-02-18 16:11] dengemann commented on #4947
Cool. My email is denis.engemann@gmail.com, let's find a date for next week.

Denis

On Sun, Feb 18, 2018 at 5:06 PM dokato <notifications@github.com> wrote:

[2018-02-18 23:04] jona-sassenhagen opened #4948 "Rounding bug in axis labels? Perhaps MPL?"
As of recently, something is weirding up some of the axis labels - rounding messes with the formatting. It's not an MNE issue per se- maybe a matplotlib update? Anyone got an idea?

Before:
<img width="505" alt="unknown-116" src="https://user-images.githubusercontent.com/4321826/36358065-2d1c06a4-1508-11e8-9733-bf32592a7444.png">
Now:
<img width="505" alt="unknown-117" src="https://user-images.git

[2018-02-19 00:00] mmagnuski commented on #4948
Oh, I got that too some weeks ago. I didn't dig to find what causes these labels go weird.

[2018-02-19 13:49] mmagnuski commented on #4944
I confirm that eeglab latency is in samples and that there is a one sample error caused by 0-based indexing in python and 1-based indexing in matlab. I can open a PR in the evening.

As I earlier mentioned - after resampling eeglab event latencies are often between the samples so `latency` becomes a float, not int. We should take care of this too - if currently we just cast these values to int, we

[2018-02-20 00:31] jasmainak opened #4949 "undead vampire meas date"
I'm just borrowing terminology from chat with @dengemann for title :-)

I seem to have hit a bug when writing tests for `mne-bids`. Essentially, if you set `meas_date` to `None`, when writing the file, MNE is using the current date/time to set it. Therefore, when you read it back, it's not `None` anymore. I would consider it a bug but feel free to disagree :) To reproduce, run this:

[code]

cc @t

[2018-02-20 00:45] jasmainak opened #4950 "BIDS compatibility"
Right now, there are a couple of compatibility issues in MNE with MEG-BIDS (draft).

- [ ] The warning for `_raw.fif`should be removed and replaced by `_meg.fif`
- [ ] The anonymization should make the date before 1900, not 1970 (see main draft).
- [x] Files greater than 2 GB should be written as `part-01_meg.fif` and `part-02_meg.fif`

Perhaps first one is easy issue for new contributor. Feel fre

[2018-02-20 01:55] christianbrodbeck commented on #4949
Sounds like that might be what prevented #2564 from working

[2018-02-20 02:00] jasmainak commented on #4939
I would recommend providing us a "minimal reproducible example" so it's easy to trace the bug (if any)

[2018-02-20 02:03] jasmainak commented on #4949
oh boy ...

[2018-02-20 12:45] dokato commented on #4184
Hi @dengemann , @jaeilepp! I was working with resting state dataset (http://neuroimage.usc.edu/brainstorm/Tutorials/Resting) and got to the point, where need to specify transform between mri and head in `make_forward_solution`. For now I've given `None`, but we should be able to make a transform based on digitisation data. I think this is related. Any update on that?

[2018-02-20 12:56] agramfort commented on #4184
yes you need a -trans.fif file. You need to do the coregistration.

we did not include it in the rest brainstorm dataset. We have
it for auditory but not the rest dataset.

[2018-02-20 12:58] dengemann commented on #4184
I have everything locally. We can add it.
On Tue 20 Feb 2018 at 13:56, Alexandre Gramfort <notifications@github.com>
wrote:

[2018-02-20 13:00] agramfort commented on #4948
please share a gist to replicate

[2018-02-20 13:49] dokato commented on #4184
Thanks! Since we are on that, notice also that `mne_data/MNE-brainstorm-data/bst_resting/subjects/bst_resting/bem/` contains files with prefix: `bst_resting-` (eg. `bst_resting-inner_skull.surf`). It seems that current `mne.make_bem_model` doesn't support that. So I guess it would be worth to either add some prefix option, or rename bem files in this dataset.

[2018-02-20 13:56] dengemann commented on #4184
I have done all that was needed to get source connectivity results out of
the bst rest data. Let's discuss tomorrow.

On Tue, Feb 20, 2018 at 2:49 PM dokato <notifications@github.com> wrote:

[2018-02-20 15:33] agramfort commented on #4949
yes it's a bug. We should not "guess" a meas_date.

can you send a PR?

[2018-02-20 15:40] agramfort commented on #4950
1/ you mean we should not warn when file ends with _meg.fif ?

2/ regarding dates anonymization should make the date empty no? let's not
guess a date...

3/ regarding name splits be careful not to rename the files as the names
are in the fif files.

the line that should be changed is :
https://github.com/mne-tools/mne-python/blob/master/mne/io/base.py#L2166

I would like to avoid breaking API brut

[2018-02-20 15:45] agramfort commented on #4947
that should land in the connectivity module. It would be great if this code
enters
master with a tutorial on rest data eg using the brainstorm data we already
ship
or any other data source.

cc @SherazKhan

[2018-02-20 15:49] agramfort commented on #3934
the metric you are interested in is the distance from dig point to the
scalp surface.
so each point is summarized by a positive float (distance). No need for
fancy
outlier detection if you just have this. You can just threshold the
distribution
with some contamination factor. Let's say 10% of bad dig points max.

[2018-02-20 16:49] jona-sassenhagen commented on #4948
You can just do

[code]

And you get

![unknown-119](https://user-images.githubusercontent.com/4321826/36437065-4c2633e4-1666-11e8-8154-0e48e59bfbb3.png)

[2018-02-20 16:50] dengemann commented on #4947
@agramfort I plan to work on that, finishing what we started in Boston last
year with Sheraz.

On Tue, Feb 20, 2018 at 4:45 PM Alexandre Gramfort <notifications@github.com>
wrote:

[2018-02-20 18:19] mmagnuski commented on #4948
But I guess it doesn't happen if you take that data and plot it by hand? Any chance this is due to how `plot_comapre_evokeds` passes ticks or ticklabels to plt.plot?

[2018-02-20 18:37] teonbrooks commented on #4950
yeah, I think that would be a better solution: handle mne conventions like it does and allow for the bids naming conventions

i think this will be fixed once we change the default reading of fif to keep `meas_id['secs']` and `meas_id['usecs']` values albeit zero (the no guessing implementation).

I think the solution we came up with is that we would need to make a copy of fif files to be compatibl

[2018-02-20 20:41] cristidonos opened #4952 "trial-dependent baseline"
Hi,
Current implementation of epochs.apply_baseline(..) is useful for data analysis in respect to stimulus onset. For analyzing data in respect to reaction times it would be useful to define an individual baseline for each trial/epoch.
For example, i have a reading task where i use (-500, 0) ms pre-stimulus as baseline and (-500, 1000) centered on the reaction time (in my case speech articulation)

[2018-02-21 00:42] mmagnuski commented on #4952
Currently you would not be able to do this even using `mne.baseline.rescale` but that's a reasonable feature request, we should think about adding support for operations like this to `apply_baseline`.

In the meantime, you still can get your hands dirty and do something like this:
[code]

[2018-02-21 10:29] dengemann opened #4953 "BUG/ENH? no check for unique permutations in 2-samp clustering tests"
Looking at the permutation mechanics in cluster_level.py it is striking that for 1samp tests we take care of exact permutations and avoid duplicates via ```_get_1samp_orders``` whereas for 2samp tests we simply rely on ```rng.permutations``` which does btw. not cycle through all permutations before repeating but just redraws permutations randomly. This can in principle lead to an inflated H0 when

[2018-02-21 12:56] agramfort commented on #4952
I think this has be mentioned by @christianbrodbeck or @teonbrooks in the past.

currently the only option is what @mmagnuski suggests.

[2018-02-21 12:57] agramfort commented on #4950
+1

[2018-02-21 13:16] #4944 closed

[2018-02-21 13:21] larsoner commented on #4953
Deciding sign flips (one sample) goes as ~`2 ** n`, choosing permutations goes as ~`n!` so they will need to be different. But yes we shouldn't repeat if possible. PR welcome

[2018-02-21 13:26] mmagnuski commented on #4944
There are some points mentioned here that are left to adress - one of which is dealing with float latencies. Should I open a separate issue about that or should we leave this one open?

[2018-02-21 13:46] agramfort commented on #4944
Open a new issue

[2018-02-21 14:46] mmagnuski opened #4954 "dealing with eeglab float event latencies"
Eeglab represents event latencies with floats after downsampling (to suggest that events are no longer precisely co-occuring with specific time samples). Instead of turning these to int representation, which truncates the value, we should be rounding.

[2018-02-21 16:55] jona-sassenhagen commented on #4952
IIRC there's a paper somewhere by I think A Delorme where he shows single-trial baselining of time-frequency data is better.

[2018-02-21 17:02] cristidonos commented on #4952
Thanks for the replies, i'll try the workaround @mmagnuski  suggested, with the caveat that trials will still need to be cropped based on reaction times after baseline correction. I'm still thinking what is the easiest way to do it, probably create 1 set of epochs containing only the baselines an another set of epochs centered on reaction times.
@jona-sassenhagen  : here's the paper https://www.nc

[2018-02-21 17:19] mmagnuski commented on #4952
That's what my `epochs_stim` (epochs with respect to stimulus) and `epochs_resp` (epochs with respect to the response) stand for. :)

There is also another paper on that: [link](https://www.sciencedirect.com/science/article/pii/S1053811913009919). IIRC it disagrees with Grandchamp, Delorme on several points (for example the authors claim that subtraction baseline is better from percentage baseline

[2018-02-21 17:36] mmagnuski commented on #4952
@cristidonos BTW, in that piece of code I provided baseline from individual trials is averaged, you may want to use `.mean(axis=-1, keepdims=True)` if you don't want that.

[2018-02-21 18:42] #4714 closed

[2018-02-21 18:44] larsoner commented on #4727
This was fixed IIRC

[2018-02-21 18:44] #4727 closed

[2018-02-21 19:27] kingjr opened #4957 "BUG: save beamformer filter"
Once we have done
[code]
h5io isnt applicable because of the EmpiricalCovariance object

[2018-02-21 19:36] larsoner commented on #4957
Hmm, we shouldn't have an `EmpiricalCovariance` in there, just `Covariance` (which is internally a `dict` and thus h5io-compatible)

[2018-02-21 20:07] kingjr opened #4958 "BUG: mne save info with CTF data"
We we pick ctf data to remove ref_channels and save the info, we can't read it anymore
file: http://www.fast-files.com/getfile.aspx?file=155480

reproduce:
[code]

[2018-02-21 20:14] larsoner commented on #4958
dup of #4241

[2018-02-21 20:14] #4958 closed

[2018-02-21 20:48] ktavabi commented on #4727
Yes it was. Thanks.

[2018-02-21 21:35] dengemann commented on #4953
@larsoner could we do something like this to precompute permutation indices for multiple samples, inspired by ```_get_1samp_orders```:

[code]

This seems to work reasonably fast and looks correct. It should be easy to insert this as a patch here:

https://github.com/mne-tools/mne-python/blob/master/mne/stats/cluster_level.py#L847

replacing the ```rng.permutations``` call, and iterating over the

[2018-02-21 21:43] dengemann opened #4959 "API/ENH: allow to do pure maximum statistic permutation tests without clustering"
Maximum statistic tests, like implemented in ```mne.stats.permutation_t_test``` are popular choices in M/EEG http://onlinelibrary.wiley.com/doi/10.1111/j.1469-8986.2011.01273.x/full
I feel we could easily make our clustering API perform such tests by skipping the clustering if ```connectivity=False```. This would allow us to use the same API to perform to perform general max stat tests for 1 and m

[2018-02-22 07:24] agramfort commented on #4959
permutation_t_test is here because it uses a numerical trick to make it
faster.
But I agree we could hide this from high level API.

allowing connectivtiy=False in :

permutation_cluster_test(X[, threshold, …])

permutation_cluster_1samp_test(X[, …])

is weird as you have cluster in the function names.

If we do this we should rename to:

permutation_test(X[, threshold, …])

permutation_1samp_test

[2018-02-22 14:33] larsoner commented on #4959
I am -1 on adding a new function that is identical other than having a `connectivity` argument. This proliferation of names would be counterproductive.

Maybe we shouldn't make this function public, then. I have to imagine 1) it's not used that much, and 2) if it is, speed is *very* rarely a limiting factor. In the meantime every function we have in the API page that isn't in the 99% use case for

[2018-02-23 02:29] #4774 closed

[2018-02-23 02:30] aitorme commented on #4774
thanks for your help guys!

[2018-02-23 03:08] aitorme opened #4961 "EEG channels not found when creating EOG epochs"
I'm trying to create an ICA template and after fitting the ICA I'm trying to get the eog epochs from `preprocessing.create_eog_epochs`, I get the following runtime error `RuntimeError: EEG 61 or EEG 62 channel not found !!`, however, my setup only has 32, and I use a "standard10_20" montage in order for all my channels to be matched. How can I change the amount of channels when running epoching fu

[2018-02-23 07:38] agramfort commented on #4961
do you have an EOG channel? What does

print(raw.info)

tell you?

[2018-02-23 07:46] aitorme commented on #4961
I have 2 EOG channels I label myself,
`bads : list |  EOG2,  EOG1
    buffer_size_sec : float64 | 1.0
    ch_names : list | Ch1, Ch2, Ch3, Ch4, Ch5, Ch6, Ch7, Ch8, Ch9, ...
    chs : list | 33 items (EEG: 30, STIM: 1, EOG: 2)`
;however, my EOG channels seem to be classified as bad for some reason, could that be the error?

[2018-02-23 09:29] agramfort commented on #4961
Yes you need to empty the bads

[2018-02-23 13:46] aitorme commented on #4852
Thanks for the help. I get the following error when running with anaconda
`Did not find any digitization points of kind FIFFV_POINT_EEG (3) in the info`
after this warning
`WARNING:root:Did not find any electrode locations the info, will attempt to use digitization points instead. However, if digitization points do not correspond to the EEG electrodes, this will lead to bad results. Please verify

[2018-02-23 13:48] aitorme commented on #4961
yeah, emptying the bad list worked fine, but now I get the same error as in #4852, will close this issue since this particular problem is solved, thanks!

[2018-02-23 13:48] #4961 closed

[2018-02-23 17:05] jona-sassenhagen commented on #4959
Erics suggestions make sense to me.

[2018-02-23 17:10] #3700 closed

[2018-02-23 17:26] agramfort commented on #4948
I don't have a pb with matplotlib 2.1.0

[2018-02-23 17:28] agramfort commented on #4959
ok fine with me if it's temporary provided #4859
<https://github.com/mne-tools/mne-python/issues/4859> gets completed.

[2018-02-23 17:29] larsoner commented on #4948
@jona-sassenhagen what is `mne.sys_info()`? It could be due to some NumPy update, too.

[2018-02-23 17:30] larsoner commented on #4959
@mmagnuski would you have time to work on #4859 if we actually settle on some API?

[2018-02-23 17:31] jona-sassenhagen commented on #4948
[code]

[2018-02-23 17:32] jona-sassenhagen commented on #4948
I'm gonna take a real look at what's happening now ... Just wanted to ask if anyone had any immediate ideas.

[2018-02-23 17:33] larsoner commented on #2574
I *think* we have removed the magic-trans-searches from the code at this point. The ones that remain are the ones for BEM and head surfaces, which seem to be pretty robust, since they should rely on / reflect the standard FreeSurfer pipelines (i.e., have the same expectation as the existence of `surf/lh.white`). I'll close for now but if people run into examples feel free to reopen and let's fix.

[2018-02-23 17:33] #2574 closed

[2018-02-23 18:07] larsoner opened #4963 "ENH: Add eLORETA"
We have sLORETA but it would be nice to have eLORETA, too, see:

https://www.biorxiv.org/content/early/2018/02/22/269753

Anybody feel like digging into the math for this one?

[2018-02-23 19:41] mmagnuski commented on #4959
I also agree with Eric's suggestions. In the long run it would be nice to just have `permutation_test`, unless it would require an internal mess or strange API. :)
I would be happy to work on #4859, but I am sure I won't have time for larger PRs in the next two months (I still have plans for multiple smaller PRs :) ). But I'll participate in API-discussions for sure!

[2018-02-23 19:44] mmagnuski commented on #4948
I recently had that problem with pure matplotlib (+seaborn) and it seemed to be due to NumPy as Eric suggests. I didn't explore further, however.

[2018-02-23 19:45] jona-sassenhagen commented on #4948
If you check the PR, here, the problem is essentially doing `ax.set_xticklabels(ax.get_xticks())`.

[2018-02-24 13:32] #4948 closed

[2018-02-25 04:18] aitorme commented on #4852
I've seen that you also had this error when plotting sensors in issue #3120, do you know exactly where it comes from and how to solve it?

[2018-02-25 08:29] agramfort commented on #4852
you need to have sensor locations in your file. Either with a montage or
reading them from the original file. If you have these in eeglab you should
be able to get them in MNE.

[2018-02-25 13:42] aitorme commented on #4852
I do have the `.locs` file I get from eeglab, but it has an unconventional name that is not on the list of montages in the read_montage method. My system is a portable neuroelectrics necbox with 32 electrodes and I just cannot read it in with this method

[2018-02-25 14:51] thesujitroy commented on #4484
Hi,
Can I get some reference to the problem and what sort of script is required to be written.
And this is related to which objective.

[2018-02-25 14:53] thesujitroy commented on #4484
Or if I can get some doc to look into

[2018-02-25 14:56] dengemann commented on #4484
Hi @thesujitroy have a look at some of the basic tutorials that compute evoked responses and call ```evoked.plot()```. You will notices that no information on the number of averages (nave) is present. The idea is to find a way to show the evoked.nave attribute when plotting. mne.viz.plot_evoked needs to be updated for that. I hope this helps.

[2018-02-25 14:57] thesujitroy commented on #4484
Alright. Thank you

[2018-02-25 20:53] agramfort commented on #4852
you can make your own montage from numpy arrays if you have the locations.

let us know if you need more help

[2018-02-25 21:05] aitorme commented on #4852
is the array just a vector with the channel names?
under which name should I pass it in order for read_montage not to throw an error?

[2018-02-26 07:47] moppymopperson opened #4968 "Example script exits before plot renders"
The [example script for plotting the full MNE solution](https://martinos.org/mne/stable/auto_examples/inverse/plot_vector_mne_solution.html#sphx-glr-auto-examples-inverse-plot-vector-mne-solution-py) appears to be exiting and closing the results plot before the plot can be rendered or examined. The window appears for just a moment and then gets closed without any error message.

At first I presume

[2018-02-26 10:26] dengemann commented on #4959
For benchmarking Implemented a generalized version that takes any stat_fun. When running it with ```ttest_1samp_no_p``` the loss in performance is not game changing. Another issue that this implementation has is memory as all permutations are precomputed, which on larger data consumes most of the time. It can also be done with a generator. But I agree that we should recycle ```permutation_t_test``

[2018-02-26 12:25] jona-sassenhagen commented on #4917
Could one also rename the channels in the evoked object used for plotting ..?

[2018-02-26 13:56] cbrnr commented on #4926
@agramfort this repo sounds promising - anyone up to taking care of the migration? I guess it's too late to put it in a GSOC project...

[2018-02-26 14:58] larsoner commented on #4968
Run with `python -i` to enable "interactive mode". Otherwise scripts exit after completion. `matplotlib` does some nice things with blocking that prevent figures from closing but mayavi doesn't, so we are a bit stuck with this behavior.

[2018-02-26 15:13] cbrnr commented on #4922
I'm still not convinced that this can be blamed on ICA being a sensitive algorithm. I did some more tests with Linux MKL changing `MKL_MAX_THREADS`. The results are weird. With 1 and 3 threads, I get numerically identical results to all other results I mentioned before. I only get different results with 2 and 4 threads, and the differences are too large to be ignored.

If I got different results o

[2018-02-26 15:25] larsoner commented on #4922
There is a long-standing MKL bug on Linux having to do with an interaction between number of threads and LAPACK `GESDD` at least:

https://software.intel.com/en-us/comment/1869912

This for me has manifested usually as a `LinAlgError` but it's possible this is spurious and results can also be wrong without raising an error (which is actually much worse!).

@cbrnr can you try the sample files on th

[2018-02-26 15:40] cbrnr commented on #4922
Interesting. Unfortunately, all three .npy files work on my Linux system with any number of threads (=1, 2, 3, and 4).

[2018-02-26 15:51] larsoner commented on #4922
Actually there are 6 files (I added more as I found new failures with CPU updates):

https://staff.washington.edu/larsoner/bad.npy
https://staff.washington.edu/larsoner/bad_avx.npy
https://staff.washington.edu/larsoner/bad_sse42_2.npy
https://staff.washington.edu/larsoner/bad_sse42_3.npy
https://staff.washington.edu/larsoner/fail.npy
https://staff.washington.edu/larsoner/bad_kabylake.npy

BTW what

[2018-02-26 15:52] larsoner commented on #4922
... and by "pursuing this", I mean "figuring out why MKL breaks ICA on Linux" (not my SVD problem)

[2018-02-26 19:48] agramfort commented on #4852
you need to read the doc here:
https://mne-tools.github.io/stable/generated/mne.channels.Montage.html

and if you have not taken the time you should learn more about numpy.

For example reading this:
https://www.scipy-lectures.org/intro/numpy/index.html

[2018-02-26 20:29] agramfort commented on #4926
that's not enough for a GSOC. It's a day of work. But it still needs a
volunteer...

[2018-02-26 23:40] moppymopperson commented on #4968
I'm glad that's all it was, thanks for the quick feedback.
Is the need to run in interactive mode documented somewhere, or it considered general knowledge?

[2018-02-26 23:40] #4968 closed

[2018-02-27 02:37] larsoner commented on #4680
Closing as dup of #4241

[2018-02-27 02:37] #4680 closed

[2018-02-27 08:20] cbrnr commented on #4922
Indeed, `bad_kabylake.npy` results in `LinAlgError: SVD did not converge` only for `MKL_NUM_THREADS` >= 4 (that is, I do not get this error for 1, 2 or 3 threads). My CPU model name is "Intel(R) Core(TM) i5-4590 CPU @ 3.30GHz" (4 cores).

What does this mean for the ICA issue? Do you think this could be related? How could I pursue this given that I neither get an error nor a warning?

Regarding Op

[2018-02-27 08:28] agramfort commented on #4968
well we all tend to work with interactive shells. Typically ipython.

I only start "python myscript.py" on a cluster for long computations.

[2018-02-27 11:51] cbrnr opened #4975 "ICA properties don't work properly with manual rejections"
I noticed that there seems to be an issue with the following workflow:

1. Manually create annotations to mark bad segments in `raw`
2. Run ICA (by default this uses only segments in `raw` that are **not** marked as bad)
3. Inspect the components via `ica.plot_components(raw)`
4. Click on an IC to inspect it in more detail - the resulting ICA properties window is empty and I get the following erro

[2018-02-27 14:32] athiede13 commented on #4839
Hey, sorry for the delay. Here is an example using the MNE sample data and code and the development version:

[code]
It gives the following figure output: https://helsinkifi-my.sharepoint.com/:i:/g/personal/thiede_ad_helsinki_fi/EU4tyVpXmhROhE11EFSowBAB3cqHHNjMd7WQW13IkZ1RIg?e=KY4eUF

So, now the legend and sensors get plotted (and also they do not get plotted when their value is False), but the s

[2018-02-27 15:40] larsoner commented on #4922
It's possibly related. The LinAlgError might just be the most visible manifestation of an incorrect computation. I suspect that even when it's not raised, some computations could still be wrong (just silently so).

The tedious but perhaps necessary approach would be to drill down to some command (e.g., `np.dot`, `linalg.svd`, etc.) that actually wraps to an MKL call (likely LAPACK) that gives diff

[2018-02-27 15:41] larsoner commented on #4922
No not officially. I would run `make test` a few times locally on MKL, noting the slowest times and total time, then do the same thing on OpenBLAS. This would be a good start.

[2018-02-27 15:47] larsoner commented on #4975
That sounds fine for now, probably with a `warn` about it. If you or someone else in a similar situation can think of a way to summarize such broken-up data then we can always add it back later.

[2018-02-27 17:28] #4643 closed

[2018-02-27 20:54] agramfort commented on #4975
sounds good to me

[2018-02-27 21:02] agramfort commented on #4839
what makes you think it's in the wrong place. If you do:

evoked[0].plot_sensors(show_names=True)

you see that 'MEG 1811' is on the center a bit left.

[2018-02-27 23:15] mmagnuski commented on #4839
@agramfort I can reproduce, the topo legend should show in upper right corner of the figure with `show_sensors=1` but is plotted in the lower right instead. So `show_sensors=4` and `show_sensors=1` gives the same placement of the sensors legend. But for `show_sensors=4` lower-right is correct.

[2018-02-27 23:36] mmagnuski commented on #4839
@agramfort I can replicate. With `show_sensors=1` the topography legend should be in the upper right of the figure, but it is located in the lower right. The issue can be pinpointed to [this line](https://github.com/mne-tools/mne-python/blob/857b1fed003004aed704db7ffaad10b2e94ac402/mne/viz/evoked.py#L1468) and the following one. The problem is how dictionaries work in the following case:
[code]

P

[2018-02-27 23:37] mmagnuski commented on #4839
Thanks for reporting @athiede13, please check if #4976 works for you.

[2018-02-28 08:44] athiede13 commented on #4839
Thanks @mmagnuski for the fast check! Newbie git question, how can I check it? The fix is not yet merged to the dev version, right?

[2018-02-28 08:56] cbrnr commented on #4922
Thanks, this sounds like a good plan and a like a lot of work :smile:. Now the main problem is to find the time to work on it.

FWIW, I found that `bad_kabylake.py` also results in an error on macOS using Anaconda/MKL with `MKL_NUM_THREADS=4`. On Windows (in a VM), I don't get this error.

[2018-02-28 10:06] mmagnuski commented on #4839
@athiede13 Right, you can pull a PR branch this way:
[code]
where `<PR_ID>` is `4976` and `<BRANCHNAME>` is how you want to name the branch locally. Then you check that branch out (`git checkout <BRANCHNAME>`) and as long as you have an editable installation you should be ready to check if that works for you.

[2018-02-28 10:24] mmagnuski commented on #4975
Another option would be to ignore `BAD` annotations in such case. Or always ignore `BAD` annotations when using raw and only mark BAD regions somehow in the plot (NaNs for example, but that would break smoothing, so might be better to use a transparency layer...). But I agree that the easiest short term solution is to ignore the epochs plot.
2s windows are used to keep it similar to eeglab (which

[2018-02-28 10:27] cbrnr commented on #4975
Ignoring `BAD` annotations is not a good idea, because then the plot shows data that was not used in the ICA calculation. I like the idea to use some kind of filler values which translate to white in the plot.

[2018-02-28 10:27] wendyli commented on #4943
Thank you!

[2018-02-28 10:27] #4943 closed

[2018-02-28 11:27] athiede13 commented on #4839
Thank you again @mmagnuski! It works now and shows the sensor and legend plots in the right locations for me (1 - right upper corner).

[2018-02-28 12:05] #4839 closed

[2018-02-28 12:42] #3926 closed

[2018-02-28 15:52] larsoner opened #4977 "CircleCI needs to be updated"
Version 1.0 will be retired August 31, 2018.

At one point I tried to move to 2.0 and it was a pain. We might need to set up a custom Docker image...?

In any case, if someone is bored and wants to work on CIs, or has already moved to 2.0 for other repos, feel free to tackle this.

[2018-02-28 21:41] dengemann commented on #4953
@larsoner you had something like this in mind?

[code]
where grou_slices are a list of indexers to get the sub groups form the ```master_index```.