[2020-07-27 20:39] agramfort commented on #8060
I don't know these external packages: if they are released regularly on
pypi, if they are unit tested / maintained, if license is ok etc.
I just fear that users will complain to us if these packages break.

can we first try with a write_raw_fnirs in mne-nirs and maybe reconsider in
a few months after seeing how smoothly this goes?

it's just once it's in MNE it tends to stay for a long time and we

[2020-07-27 21:44] drammock commented on #8038
I see no reason not to start work on the Epoched/Averaged reader.  We seem to mostly agree on the big picture, and it's easier to hammer out the little details once there's an open PR that we can look at.

[2020-07-28 00:22] ephathaway commented on #8038
Sounds good. I will start coordinating with my team on this.

[2020-07-28 01:47] rob-luke commented on #8060
Sure I will put this in mne-nirs

[2020-07-28 11:24] balandongiv commented on #8053
For future reader as well reference for me later.

As mentioned by @agramfort, he marked few bad channels namely 'E114', 'E88'. The artifact can be observed as depicted in the picture which is accessible
![via the link](https://user-images.githubusercontent.com/22090092/88659488-b7644700-d107-11ea-8908-814dd3392d0e.png)
  [via the link](https://imgur.com/gallery/hcJzHBY).

[2020-07-28 11:25] balandongiv commented on #8053
![obvious bad channels](https://user-images.githubusercontent.com/22090092/88659673-0611e100-d108-11ea-834e-35541b2ca512.png)

[2020-07-28 13:52] balandongiv opened #8065 "MNE plot window in dark mode"
Lately, there has been a lot of hype surrounding dark mode, a simple toggle that lets user to change the background color of an app window to black. There are several benefit of dark mode including reduce eye strain and even look amazing. But, the former is crucial as most researcher (at least me) spent a considerable amount of time visually analysing the biosignal graph using plot(). This especia

[2020-07-28 14:13] drammock commented on #8065
This is already planned and will be part of #7955

[2020-07-28 14:17] balandongiv commented on #8065
That great. Eager to try this new feature.

[2020-07-28 14:17] #8065 closed

[2020-07-29 09:02] hoechenberger opened #8067 "ICA.find_bads_ecg() accepts "method", find_bads_eog() accepts "measure""
`ICA.find_bads_ecg()` has a kwarg `method : {'ctps', 'correlation'}`; in contrast, `find_bads_eog()` uses `measure : 'zscore' | 'cor'`

- The kwarg for selection of the method to use is once called `method`, and once `measure`
- Correlation is once selected by passing `'correlation'`, and once via `'cor'`
- The specification of valid values is once done via `key : {val1, val2}`, and once via `key

[2020-07-29 12:19] agramfort commented on #8067
I would make it so that find_bads_eog matches the API of find_bads_ecg. So rename measure to method and require correlation and not cor. But I would write it as val1 | val2

[2020-07-29 14:16] larsoner commented on #8038
I would suggest to start with making a PR to add only `read_evokeds_mff`, with a dependency (just in that function) on `mffpy`. It will force us to sort out the `mffpy` optional depedency, work out general contribution stuff, etc. The API there seems straightforward. After that PR is merged we can work out how to deal with epochs/metadata and whether or not we want to kill our custom MFF raw readi

[2020-07-29 18:07] marsipu opened #8069 "Crop-Method-Documentation inconsistent across Raw/Epochs/Evokeds"
#### Describe the problem
The documentation of the method "crop" for Raw/Epochs/Evokeds is inconsistent:
For all Types, crop modifies the object in-place **and** returns the modified instance.

**Raw:** In-Place-Modification is described in "Returns"
**Epochs:** In-Place-Modification is described in "Notes"
**Evokeds:** In-Place-Modification is **not** described

#### Describe your solution
Correc

[2020-07-29 19:01] ephathaway commented on #8038
Sounds like a good approach. Probably best not to bite off more than we can chew for the first PR.

[2020-07-29 19:49] agramfort commented on #8069
do you think you can give it a try to send the pull request with the fixes?

[2020-07-29 21:28] marsipu commented on #8069
Yes, I'll try it on the weekend

[2020-07-30 04:02] rahuln opened #8070 "mne.Epochs keeping reject keys for old channel types after mne.Epochs.pick_types"
#### Describe the bug
Opened at the request of @larsoner:
Having a problem with `mne.Epochs` objects retaining the keys in their `reject` and `flat` dictionaries that correspond to channel types that have been removed using `mne.Epochs.pick_types`. This can cause issues when trying to use `mne.Epochs.drop_bad` with thresholds only for the remaining channel types (e.g., those returned by `autorejec

[2020-07-30 07:44] acquayefrank opened #8071 "Issues loading fieldtrip data with MNE python"
Sorry, I did not know where else I could ask this:
I am having challenges loading fieldtrip data with MNE python. When I enter the code below

[code]
I get this error:

`TypeError: only size-1 arrays can be converted to Python scalars `

[2020-07-30 14:08] hoechenberger commented on #8069
I'd like that too but I don't think it's going to happen :) So please only try fixing the docstrings for now.
Thanks!

[2020-07-30 14:23] hoechenberger commented on #8067
Turns out `find_bads_ecg` has **both**, a `measure` and a `method` kwarg which control different thing. Will therefore only slightly adjust the docstrings.

[2020-07-30 15:13] larsoner commented on #8071
Can you paste the full traceback? From just the last line it's hard to tell where the error comes from

[2020-07-30 15:58] agramfort commented on #8070
epochs.pick_types should cleanup the reject to avoid this issue.

can you open a PR?

[2020-07-30 16:07] drammock commented on #8071
FYI, MNE-Python's website has a [how to get help page](https://mne.tools/stable/overview/get_help.html) that provides links to [our mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) and our [gitter channel](https://gitter.im/mne-tools/mne-python).

[2020-07-30 20:11] #2163 closed

[2020-07-30 23:10] acquayefrank commented on #8071
`<ipython-input-2-ff985abfd0ca>:1: RuntimeWarning: This filename (../data/ML_Subject08_P2_tsss_mc.fif) does not conform to MNE naming conventions. All raw files should end with raw.fif, raw_sss.fif, raw_tsss.fif, raw.fif.gz, raw_sss.fif.gz, raw_tsss.fif.gz or _meg.fif
  original_data = mne.io.read_raw_fif('../data/ML_Subject08_P2_tsss_mc.fif', preload=False)
---------------------------------------

[2020-07-31 01:44] #8067 closed

[2020-07-31 02:31] christian-oreilly commented on #7577
I just want to confirm, in case that can be useful, that, as it has been mentioned in #7598, at least part of the very long processing for this function comes from the fact that the algorithm is applied on the whole raw file (or at least, much too long part of it). I pinpointed for my case where it was hanging and it was at the line `dpss = _get_dpss()(N, half_nbw, Kmax)` in the function `dpss_win

[2020-07-31 08:04] KarnBaca opened #8074 "Pairing arrange of CSP filters removed"
I have a question about the next lines:

https://github.com/mne-tools/mne-python/pull/3485/commits/f4b39c7cdf71d58d8f8b950b5ee33aaa4d453b15#diff-12d11fc13bc79dc930808d5394b788b2L148-L150

Currently (from maint 0.13 until now) the pairing arrange of the columns (first, last, second, second last...) has been removed. Have you done this for a reason?

If I understand correctly, in the current impleme

[2020-07-31 09:49] apesquita commented on #7808
Dear Alexander and Teon,

Did you receive all the necessary information from the Ricoh engineers to put together the mne reader for this system?
Do you think that it will be feasible to develop the mne reader for Ricoh?
Many thanks for any updates on this issue.

All the best!

Ana P

[2020-07-31 10:41] agramfort commented on #7808
hi,

I started to look and add the reading of the channel names but it will need
more time

I asked for help to @larsoner

we'll make progress in the coming weeks. I think we have all the info we
need and
I could run the code shared with us.

thanks for your patience

[2020-07-31 10:56] agramfort commented on #8074
ping @cbrnr or @mbillingr maybe ?

[2020-07-31 11:55] kingjr commented on #8074
cc @alexandrebarachant

On Fri, 31 Jul 2020 at 13:47, KarnBaca <notifications@github.com> wrote:

[2020-07-31 12:23] mbillingr commented on #8074
I think this line has the same effect:
`ix = np.argsort(np.abs(eigen_values - 0.5))[::-1]`

It seems a bit brittle because it relies on eigenvalues being pairwise symmetric around 0.5.

[2020-07-31 13:21] marsipu commented on #8069
Ok

[2020-07-31 15:04] cbrnr commented on #8074
Does this mean you assume that the eigenvalues are normalized? And why 0.5? Is this documented somewhere (https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.eigh.html)?

[2020-07-31 17:18] marsipu commented on #8069
I tried to get GNU-Make to run under Windows or WSL2, but both didn't work yet for different reasons:

##Windows
After replacing `BUILD_DEV_HTML=1` with `setx BUILD_DEV_HTML 1` to make it run I ended up with a sphinx error:
 `Could not import extension sphinxcontrib.bibtex2`

##WSL2
OpenGL seems to be the problem for showing the documentation with sphinx.
`2020-07-31 18:53:37.619 (   1.543s) [

[2020-07-31 17:54] marsipu commented on #8069
I had some problems at the beginning, mostly because I use Windows and read the contribution-guide of the stable-version:) (missed everything about Windows and requirements_doc.txt:)

But one problem stayed:
I had to replace `BUILD_DEV_HTML=1` with `setx BUILD_DEV_HTML 1` in Makefile to make it run under Windows
(I don't know, if that's the best solution)

[2020-07-31 18:33] marsipu commented on #8027
Thanks to the updated contribution-guide, I could finally build the docs on Windows too.
But I had to overcome some additional problems which were not described:

- Install GNU-Make (I did it via chocolatey)
- Replace linux-related lines in Makefile (e.g. `BUILD_DEV_HTML=1` for docs and `rm -f .coverage` for tests, ...)

Should we add them too? (@kalenkovich how did you solve them?)

[2020-07-31 21:17] beapdk opened #8076 "Difficulty loading edf files"
Hi,

Using the mne.io.read_raw_edf, i can't read the edf data file and instead get this error :
Extracting EDF parameters from /home/bea/Documents/Example-Analysis/Data/sub-TDCS1_ses-T1_task-Pre_eeg.edf...
EDF file detected
Setting channel info structure...
Creating raw.info structure...
<ipython-input-3-6f39a157b592>:1: RuntimeWarning: Physical range is not defined in following channels:
E1001

[2020-07-31 22:09] drammock commented on #8076
The "data not loaded" message means the data are not *preloaded* into computer RAM; that is normal behavior when `preload=False` (which is the default). Either specify `preload=True` when reading the file, or use the `Raw.preload()` method after reading the file.

[2020-08-01 06:55] #8076 closed

[2020-08-01 09:21] cbrnr commented on #8076
@beapdk in case you were referring to the `RuntimeWarning`, this just means that the physical range for one channel is not properly defined in the EDF header, therefore the scaling might be off. It is not an error though, so the data can be loaded (but as @drammock pointed out you should specify `preload=True` to actually load the file into memory).

[2020-08-01 13:10] mbillingr commented on #8074
They are, in a way. `eigh` normalized the eigenvectors and the covariance matrices are normalized to a trace of 1.

The eigenvectors are all exactly 0.5 if you plug in identity covariance matrices. I don't know if this transfer to the general case.

Regardless if the new code is correct, I think the old code is better because it is more explicit about what it does.

[2020-08-01 13:27] cbrnr commented on #8074
I agree that the old code is better because it is more explicit. This question keeps coming up again and again, and we should either revert to the old code with explicit sorting, or at least include detailed comments explaining what is going on in the current code. Do you have time to implement this in a PR?

[2020-08-02 09:48] mbillingr commented on #8074
If it's not urgent I can do it but it will take me a few weeks at least.

This may be an opportunity to review if the multi-class implementation could handle two classes without a special case.

[2020-08-02 13:13] Kyung-minAn commented on #7808
Thank you for developing mne readers.
I'm excited about the great news!!
I appreciate your contributions~

Looking forward to hearing from you~!!

Best wishes,
Min

[2020-08-02 14:47] cbrnr commented on #8074
There's no hurry, it'd be great if you could go over the existing code, because I don't really understand what's going on in many places, e.g. https://github.com/mne-tools/mne-python/blob/master/mne/decoding/csp.py#L235 - some comments would have been great. If the two-class and multi-class branches can be unified this would also make the code a bit easier to understand (probably).

[2020-08-02 16:48] marsipu opened #8078 "Epochs: Baseline-Default problems"
#### Describe the bug
Their are two problems regarding the Baseline-Argument of the Epochs-Classes:

1. The default-value (None, 0) is not correctly formatted by sphinx.ext.autodoc and results in "baseline=None, 0, ...
2. Epochs-Array doesn't have the same default-value as the other Epochs-Classes (None instead of (None, 0).

![Baseline_autodoc](https://user-images.githubusercontent.com/46245704/8

[2020-08-02 20:21] kalenkovich commented on #8027
Hi, I’m on vacation for the next two weeks so I won’t be able to look into
this in detail now. What I can tell you now is that I had installed make in
the base conda environment some time ago - I think this option should be
added to the guide, probably installing into the mne-dev environment
instead  of the base one. The thing is, I didn’t need to change anything
else so I must have installed some

[2020-08-02 21:30] larsoner commented on #8078
For `EpochsArray` I think that choice is intentional. If you do `EpochsArray` we probably shouldn't modify the array by default. For `Epochs` probably you want a baseline. So maybe just a `.. note::` in the `EpochsArray` docs saying it's different from `Epochs` is a good choice.

For the docs of a tuple being broken, someone will have to look into it. I have a feeling https://github.com/numpy/nump

[2020-08-03 08:12] hoechenberger commented on #8030
While I do agree that this would work, it's kind of inconsistent with how we call the `Epochs` objects constructor (i.e. how users create epochs via `mne.Epochs`): `mne.Epochs` **does** have a `preload` kwarg, and for the sake of consistency, `mne.make_fixed_length_epochs` should have one too, I believe.

[2020-08-03 08:12] hoechenberger commented on #8030
Meaning that we should look into fixing this :)

[2020-08-03 08:16] #8069 closed

[2020-08-03 09:19] gurasog opened #8080 "Using raw.plot in JupyterLab or Colab"
Is there any recommendation how to use MNE plot() functions such as raw.plot() in JupyterLab and Google Colab?

When i run these functions they aren't interactive. None of %matplotlib %matplotlib qt works in these environment...

So, is there any way to use these graphs interactively in these tools?

Thanks!

[2020-08-03 12:12] larsoner opened #8081 "ENH: Flatmaps for cortex"
See the WIP FreeSurfer PR where there is an implementation we can work with:

https://github.com/nipy/PySurfer/pull/269

The tricky part is that the vertices of the flatmap do not directly map onto the vertices of the cortex. I'm not sure why it is this way. I wonder for us if a better implementation would actually be to resample the flatmaps themselves (in the spherical space maybe?) to make them

[2020-08-03 15:46] larsoner commented on #8080
What do you get for `mne.sys_info()` or `mne sys_info` on those platforms? Maybe xvfb+Qt5Agg backend would work

[2020-08-03 16:43] drammock commented on #8080
I am able to get interactive `raw.plot()` windows using `%matplotlib qt` or `%matplotlib qt5` in JupyterLab (it pops open a separate window, not an inline figure).

Google Colab is "not officially supported" at the moment, though mainly because of problems with 3D visualization.  For 2D visualization it is expected to work the same as Jupyter Notebooks.  I tried to get Colab 3D viz working in June

[2020-08-03 17:04] acquayefrank commented on #8071
[code]

[2020-08-03 18:03] larsoner commented on #8071
after you hit the error, can you do something like:
[code]
And let me know the output? It will tell us the actual size/shape of the array.

[2020-08-03 20:34] agramfort commented on #8030
no strong feeling. If you want to add it no objection

[2020-08-04 07:36] #8070 closed

[2020-08-04 10:36] balandongiv opened #8085 "Getting Error: "IndexError: index 0 is out of bounds for axis 0 with size 0""
#### Describe the bug

While executing `ica.plot_properties(raw, picks=ecg_indices)`, the compiler return an error

`IndexError: index 0 is out of bounds for axis 0 with size 0`

The full error trail:

[code]

#### Steps to reproduce
    filename = r'S17_3.mff' # can be downloaded via the link: https://drive.google.com/drive/folders/14R_2A-ceqOFvRkDZH6Skm4CqF5B-K7Co?usp=sharing
    raw = mne.io.re

[2020-08-04 12:14] larsoner commented on #8085
I can't replicate on Linux, it's possible that this is a windows issue. Before I boot a VM to look into it, when you hit the error can you try:
[code]
and let us know the output? It can help with debugging

[2020-08-04 12:28] balandongiv commented on #8085
Thanks for the response @larsoner .  Im using PyCharm and I am not familiar with `pdb` for troubleshooting. May I know other approach to capture specific output that you have in mind?

[2020-08-04 12:39] larsoner commented on #8085
Can you run Python from a standard terminal instead? Copy-pasting your code (with an `import mne` at the top) into some file then do:
[code]
and you should end up dropped to a prompt where you can `import pdb; pdb.pm()`. But really I'm surprised Pycharm doesn't give you a way to interact with the Python terminal once a script completes. It's standard Python behavior if you pass `python -i` or use

[2020-08-04 13:13] LeyloJohnny opened #8087 "Error while reading edf file"
EDF file was detected but couldn't be read.

Code:

[code]

Error:

[code]

My system info:

[code]

[2020-08-04 13:26] larsoner commented on #8087
The detection is just based on the file extension. You need to provide a file2read that returns True for os.path.isfile(file2read) -- is that the case for your variable? Those `...` in the filename might need escapes for example.

[2020-08-04 13:34] LeyloJohnny commented on #8087
Thank You for the fast response!
I didn't get true for os.path.isfile(file2read).
I will check for my datapath and file...

[2020-08-04 13:34] #8087 closed

[2020-08-04 16:03] larsoner commented on #8078
Upstream bug filed https://github.com/sphinx-doc/sphinx/issues/8052

[2020-08-04 16:03] #8078 closed

[2020-08-04 16:30] larsoner opened #8088 "ENH: Improve our sourcerank score"
See some entries missing in

https://libraries.io/pypi/mne/sourcerank

compared to

https://libraries.io/pypi/nibabel/sourcerank

For 0.21 we should fix the easy missing ones. Something trivial for someone to do as a Sunday hack...

[2020-08-04 16:49] drammock commented on #8088
How does one even fix such things?  When I'm logged in, I don't see any "add" or "edit" links...  MNE-Python master doesn't even seem to be on the site? but some random fork of MNE is: https://libraries.io/github/Sinaxist/mne-python

[2020-08-04 16:58] larsoner commented on #8088
I poked around and "submitted a suggestion" to link it to `mne-tools/mne-python`

[2020-08-04 19:48] marsipu commented on #8027
Ok, I will try it again with the conda version, maybe that is also a solution for the MakeFiles.
Otherwise, we maybe need Cygwin as a requirement or MakeFiles adapted to Windows.

_I tried the WSL2 too, but I ran into some OpenGL-issues with the XMing-Server when I tried to run the documentation_

[2020-08-05 02:21] balandongiv commented on #8085
Thanks for the clear instruction @larsoner . Surprisingly, the plot was rendered without any hiccup when executing the commands using "interactive mode". However, there is a catch whereby the figure was plotted properly only during the first execution (i.e.,  execute only the `ica.plot_properties(raw, picks=ecg_indices`)). But, after I close the pop figure and execute the line` ica.plot_properties

[2020-08-05 07:23] lxdfrank opened #8092 "how to replaced human head with rat head"
Thank you contribution for the mne, and it is a good tool to deal with EEG. And how to replaced human head with rat head?

[2020-08-05 07:40] MSA8D8 opened #8093 "AttributeError: 'RawEEGLAB' object has no attribute 'nave'"
#### Describe the bug
I am faced with the error message as you see in the title when I tried to run the source localization script I made below.

The preprocessing to remove the noise with ICA was done by Matlab before running this script.

The EEG headset is Quick 30 made by Cognionics.

Thank you in advance.

#### Steps to reproduce
I attached here the script I run.

[code]

#### Expected result

[2020-08-05 08:09] #8093 closed

[2020-08-05 08:10] MSA8D8 commented on #8093
I can solve the problem by myself. I need to use apply_inverse_raw instead of apply_inverse.
Thank you for developing this nice library!

[2020-08-05 08:49] balandongiv opened #8094 "Go to Plot Properties via clicking the IC component within the Component Plot"
Within the `ica.plot_sources()`, one can view to the topographical 2-D scalp maps for each IC component by clicking the `Y-axis`. Whereas, as per my knowledge, the only way to generate the diagnostics of each IC is by using `ica.plot_properties(raw, picks=[3,10,15])`.
Is it possible to view the diagnostics of each IC simply by clicking the` Y-axis` from the `ica.plot_sources()`?

I found it quite

[2020-08-05 11:38] mmagnuski opened #8096 "Progressbar not visible in Spyder"
Performing a cluster based test (unfortunatelly one that takes a lot of time) I no longer see the progressbar in Spyder:
[code]
this is most likely a result of using auto mode of `tqdm` progressbar, which seems to be unable to tell whether it is in a notebook or ipython console. It would be nice to have some option to control this behavior (`progressbar='text'` maybe?) as now everyone who works in

[2020-08-05 11:43] larsoner commented on #8096
This sounds more like an upstream bug with tqdm. Can you look into fixing it there (if it's not already fixed; try using tqdm locally as IIRC we prefer an installed system version when available and new enough)?

[2020-08-05 11:45] mmagnuski commented on #8096
did github automatically self-assigned me? weird, I just clicked "submit". Anyway - I can do it.

@larsoner
Unfortunatelly from what I read on multiple occasions it is not possible to distinguish whether the code is running from notebook or ipython (or Spyder). :(

[2020-08-05 11:53] larsoner commented on #8096
Perhaps they should support magic `%tqdm text` for example to set within a given session which auto backend will be selected. Might be worth proposing and implementing that at their end. If they reject it, we can add some MNE config value that would triage the class used, but it makes more sense for them to implement it if they're up for it.

[2020-08-05 12:10] mmagnuski commented on #8096
@larsoner Good idea, I'll suggest that there. Although the response I imagine might be "just use `tqdm.tqdm` instead of auto or `tqdm.notebook`", but I'll try. :)

[2020-08-05 12:26] KarnBaca opened #8097 "Normalize the channels before CSP?"
I have seen several examples where the normalization of channels before CSP is skipped but according to the reference [1](https://ieeexplore.ieee.org/document/4408441) this step is part of the general framework.

Does the mne.compute covariance function take care of the data normalization or should I take care of it before to fit CSP?

Thanks!

[2020-08-05 12:29] larsoner commented on #8096
Yes if they do this we can support it locally. But they will be forcing every project that uses `tqdm` to reimplement this same triaging mechanism. So hopefully they see the value in it :)

[2020-08-05 13:33] agramfort commented on #8092
I fear it's far from trivial.

[2020-08-05 13:35] agramfort commented on #8097
no it's not done by cov function as otherwise it would compute correlation
matrices (not covariances).

[2020-08-05 14:03] marsipu commented on #8078
Thank you @larsoner, sorry, I somehow missed your response. Thanks for fixing it

[2020-08-05 14:23] larsoner commented on #8094
@cbrnr perhaps one for you?

[2020-08-05 14:26] #7648 closed

[2020-08-05 16:06] cbrnr commented on #8094
Would this be relevant for #7751? Or at least after #7751 has been merged?

[2020-08-05 18:31] hoechenberger commented on #8094
I would love to see this implemented too :)

[2020-08-05 19:03] drammock commented on #8094
I think it's appropriate to add this to #7751 (it might even sneak into #7955).  My only objection is that whatever we pop open when clicking on channel/component names should be something that plots *quickly*.  I haven't timed it, but `ica.plot_properties` is going to be slower (in addition to the scalp field topography, it makes 3 other subplots including one that estimates the spectrum).  Does

[2020-08-05 19:03] larsoner commented on #7808
@apesquita channel name reading seems to be working and we can just generate a layout on the fly for your data (with the right constants). I'm at the point that it would help to have a subject's evoked dataset plus MRI to do some source localization on to test alignment, etc.

[2020-08-05 19:09] drammock commented on #8094
I guess another consideration is similarity of behavior across instance types.  As I understand it, the unification plan is that **left-clicking** on channel names should always mark bad channels / mark components to exclude, and **right-clicking** would do this:

- raw: show channel location on head (currently, nothing happens)
- epochs: show `epochs.plot_image()` for that channel
- ICA: show sca

[2020-08-05 19:35] cbrnr commented on #8094
I don't disagree - we should strive for consistency, but in this case it is not clear what consistent means. I guess whatever is the most useful behavior for right-clicking should be implemented. Personally, I'd be fine with keeping the topomap, but if others think that IC properties are more useful I'm also OK with that.

[2020-08-05 19:41] hoechenberger commented on #8094
@drammock

For me personally having to wait a little would not be a deal breaker when it comes to manual IC inspection. I think key to a good UX in spite of a little waiting time is clearly informing the user about what is going on. I'm thinking opening the popup immediately upon clicking, and displaying `Processing …` or something similar either in the center of the figure or in the subplots indi

[2020-08-05 20:18] drammock commented on #8094
I won't promise to do that (at least not as part of #7955).  Could be added later if it seems like it's needed.  But I'll plan to hook up the right-click-on-component-name to `ica.plot_properties()`

[2020-08-05 20:27] hoechenberger commented on #8094
Yes, absolutely. Let's first see how it feels without any progress indicator. It can always be added later on if need be.

[2020-08-06 07:13] neuroteams opened #8101 "ica.plot_properties error bug"
#### Describe the bug
`ica.plot_properties` doesn't work for raw annotated with bad segments

#### Steps to reproduce
[code]

#### Expected results
picks with component properties

#### Actual results
[code]

#### Additional information
Platform:      Linux-4.18.0-25-generic-x86_64-with-debian-buster-sid
Python:        3.7.7 (default, Mar 26 2020, 15:48:22)  [GCC 7.3.0]
Executable:    /usr/local/a

[2020-08-06 13:10] JiangTao100 commented on #8101
me too

[2020-08-06 13:14] JiangTao100 commented on #8101
I have had the same problem 2 days ago. However, when marked no 'Bad_' ,it worked well. SO WEIRD!!

[2020-08-06 13:26] JiangTao100 commented on #8094
I have the same problem in picking index to generate diagnostics for different IC by  ica. plot_ properties( ).When  I run it , there will
be an error displaying  ‘  IndexError : index 161 is out of bounds for axis 0 with size 161’.

[2020-08-06 19:12] drammock commented on #8032
@wsxmxm I finally had time to look into this, and honestly I can't understand why you keep hitting memory errors.  The code sample I entered above uses less than 200 MiB in my testing, and after a fair bit of profiling I can't see any obvious way to trim that down:

- about 3/4ths of the memory usage is just from loading the libraries
- only about 37 MiB are allocated during the call to `plot_arro

[2020-08-07 07:50] acquayefrank commented on #8071
Hello @larsoner,

Sorry for the late reply. Had issues with my laptop.
[code]
I have pasted the results above.

[2020-08-07 10:10] JiangTao100 commented on #8101
Successfully solve it .THANKS! @yh-luo

[2020-08-07 10:14] balandongiv opened #8104 "How to create report using MNE Report module?"
Hi All,

It is a great thing that `mne` has a feature for creating an HTML report.
However, I am having some difficulty in applying the information provided from the `Getting started with mne.Report` tutorial onto my real-life application.

In the tutorial, it seems that any figure generated need to be appended. But, upon completion, a figure of the `plot_properties` is  outputted despite it is en

[2020-08-07 10:59] Mirrabella opened #8105 "plot_topomap() got an unexpected keyword argument 'unit'"
Hello, I use MNE python version 20. I found example for regression for version 11.0 https://mne.tools/0.11/auto_examples/stats/plot_sensor_regression.html, and there is very usefull parameter for plot_topomap:

def plot_topomap(x, unit):
    x.plot_topomap(ch_type='mag', scale=1, size=1.5, vmax=np.max,
                   unit=unit, times=np.linspace(0.1, 0.2, 5))

It is «unit» parameter, with it,

[2020-08-07 13:17] agramfort commented on #8105
you cannot expect doc from version 0.11 to work with current version 0.20 version.
look at the stable documentation.

https://mne.tools/stable/auto_examples/stats/plot_sensor_regression.html

[2020-08-07 13:17] #8105 closed

[2020-08-07 13:19] agramfort commented on #8104
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-08-07 13:19] #8104 closed

[2020-08-07 13:27] agramfort commented on #8101
this is a bug that should be fixed.

PR welcome

[2020-08-07 14:49] JiangTao100 opened #8106 "How to epoch by using events_from_annotations ?"
I‘ve learned that .set profiles store events in  raw. annotations . But when I wanna use the function 'mne. events_from_annotations' to epoch ,it displays 'TypeError: events should be a NumPy array of integers, got <class 'tuple'>' compared to my present tuple form.
Below is my code:

[code]

error displayed:

[code]

The file needs to be download: https://github.com/JiangTao100/CNT-profile

[2020-08-07 15:27] cbrnr commented on #8106
`mne.events_from_annotations` returns a tuple of the actual events (NumPy array) and a description dict. Use `event_dict[0]` to access the event array.

[2020-08-07 15:50] larsoner commented on #8071
Hmmm, not actually sure how best to handle this case. It looks like your epochs in FieldTrip have different time spans, which MNE does not currently support.

[2020-08-07 15:58] #8106 closed

[2020-08-08 10:08] agramfort commented on #8071
I would say not supported

[2020-08-09 01:08] INNERMONGOLIAszm opened #8110 "In the code for recalibrating the sensor geometric parameters of the SSS method,why to calculate the "vector rotation matrix" between third column of the "info['chs']['loc']" rotation matrix and the third column of the "fine_cal['locs']" rotation matrix."
In the code for recalibrating the sensor geometric parameters of the SSS method,why to calculate the "vector rotation matrix" between third column of the "info['chs']['loc']" rotation matrix and the third column of the "fine_cal['locs']" rotation matrix.

[2020-08-09 01:27] drammock commented on #8110
Normally, questions about algorithms should be directed to the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python).  But since you're asking about specific lines of code, it might be easier to work out the answer here on GitHub.  Could you follow [these instructions](https://docs.github.com/en/github/mana

[2020-08-09 02:05] INNERMONGOLIAszm commented on #8110
https://github.com/mne-tools/mne-python/blob/421cb1bc2f432f8eb93a49a3c38be1ac48838497/mne/preprocessing/maxwell.py#L1682-L1696
        # Some .dat files might only rotate EZ, so we must check first that
        # EX and EY are orthogonal to EZ. If not, we find the rotation between
        # the original and fine-cal ez, and rotate EX and EY accordingly:
        ch_coil_rot = _loc_to_coil_trans(inf

[2020-08-09 08:04] neuroteams commented on #8101
For me the WIP FIX Check reject_by_annotation in ica.plot_properties #8103
does'n help at all, I've got the same error:

/usr/local/anaconda3/lib/python3.7/site-packages/mne/viz/ica.py in plot_ica_properties(ica, inst, picks, axes, dB, plot_std, topomap_args, image_args, psd_args, figsize, show, reject)
    404     if getattr(ica, 'reject_by_annotation', False):
    405         inst_rejected.drop_

[2020-08-09 11:43] yh-luo commented on #8101
Hi @neuroteams , it looks like you used previous codes and not the latest, can you try the current PR?

[2020-08-09 21:42] acquayefrank commented on #8071
Thanks @larsoner

[2020-08-10 03:27] neuroteams commented on #8101
I use 0.21.dev0 , which version is current PR?

[2020-08-10 13:46] agramfort commented on #8110
@larsoner is the person who can answer you.

[2020-08-10 14:28] larsoner commented on #8110
IIRC the official fine cal binaries provided by Neuromag/MEGIN/Elekta only do "1D" fine cal, i.e., they only rotate EZ. It is possible to compute and use "3D" fine cal that tunes/modifies all three. But I think EZ is the most important one to correct, and the benefit from 3D is more subtle compared to no-fine-cal vs 1D (standard) fine cal.

[2020-08-10 14:28] #8110 closed

[2020-08-10 14:31] #8101 closed

[2020-08-10 16:01] #8081 closed

[2020-08-10 16:14] yh-luo commented on #8030
This was fixed in #8103. `preload` was not passed into `Epochs` previously.

[2020-08-10 16:18] larsoner commented on #8085
Hopefully this was fixed by #8103, let's reopen if not

[2020-08-10 16:18] #8085 closed

[2020-08-10 16:20] #8030 closed

[2020-08-10 16:21] larsoner commented on #7977
@bloyl any luck here?

[2020-08-10 16:22] larsoner commented on #7993
@hoechenberger do you want to look into how to fix this? I can confirm the bug

[2020-08-10 16:24] hoechenberger commented on #7993
I might have time for this tomorrow, sure. But if you're asking if I would also be okay with you going ahead: sure ;)

[2020-08-11 04:00] neuroteams opened #8114 "channel rereference destroy following ICA"
#### Describe the bug
When I add the channel rereferense to the pipeline, I get the wrong ICA componets

#### Steps to reproduce
ref_channels=['T7', 'T8']
raw, _ = mne.set_eeg_reference(raw, ref_channels)

raw.filter(l_freq=1, h_freq=30)
montage_kind = "standard_1005"
montage = mne.channels.make_standard_montage(montage_kind)
raw.set_montage(montage, match_case=False)
ica = mne.preprocessing.ICA()

[2020-08-11 06:49] cbrnr commented on #8114
Indeed this looks weird and in theory ICA should be insensitive to the choice of reference. I would try two things:

1. Use a different algorithm; I assume you used the default `fastica`, which is not known to extract dipolar sources as well as other algorithms such as Infomax. I'd try `infomax` with `fit_params={'extended': True}` to see how the reference affects results.
2. Maybe the T7/T8 refer

[2020-08-11 07:18] hoechenberger commented on #8114
I would have expected it to reduce the rank by 2, but there's a big change that **my** theory is off 😅

[2020-08-11 15:30] larsoner opened #8115 "BUG: PyVista backend doesn't properly show axes in plot_alignment"
[code]
Produces:

![Screenshot from 2020-08-11 11-28-25](https://user-images.githubusercontent.com/2365790/89916733-f8f3f800-dbc5-11ea-9b72-d5ece4e58fa2.png)

The axes arrows are wrong, it should look like they do for the `mayavi` backend:

![Screenshot from 2020-08-11 11-28-37](https://user-images.githubusercontent.com/2365790/89916782-08734100-dbc6-11ea-9a3d-72bc06e4eef1.png)

@GuillaumeFavelier

[2020-08-11 15:36] GuillaumeFavelier commented on #8115
I'll take care of it :+1:

[2020-08-11 16:24] #7577 closed

[2020-08-11 22:13] #7636 closed

[2020-08-13 10:41] bloyl commented on #7977
Unfortunately no. I don't have admin on the system in question so can't
really dig into it my self. I do have an open ticket with IS to look at it.
But I can't imagine it's high on their priority list.

Feel free to close if you want. I can always reopen if their are mne
changes that would help.

On Mon, Aug 10, 2020, 12:21 PM Eric Larson <notifications@github.com> wrote:

[2020-08-13 17:55] larsoner commented on #7977
You could probably compile an osmesa/software rendered version locally in your home directory somewhere and then launch an Xvfb instance that uses it for OpenGL. For example:
[code]
You can cut out the vncviewer business if you're doing it remotely. But these are the sorts of commands I'd use to test on a system that actually has a display. I think I've used this sort of thing before on my Ubuntu

[2020-08-13 22:50] larsoner commented on #7977
Locally (Ubuntu 20.04) I can run this:
[code]
And from there, use my NVIDIA drivers:
[code]
Or the builtin Ubuntu 20.04 mesa:
[code]
And the 18.3.6 one I just built *almost* works when I use an env with VTK 8.1.2:
[code]
I can keep hacking at this, but before I put more effort into it, let me know if you can even get the necessary `-dev` libraries installed on your destination machine to try it.

[2020-08-13 23:30] danieltomasz opened #8118 "How to change/update channel types?"
After loading CTF data from ds folder I have a problem with channel names.
When I try to do ICA I am getting
`ValueError: Invalid channel types passed for ICA: {'ref_meg', 'mag'}.Only the following types are supported: ('mag', 'grad', 'eeg', 'csd', 'seeg', 'ecog', 'hbo', 'hbr', 'fnirs_raw', 'fnirs_od', 'eog')`

By substituting I  created the list of renamed types of sensors.
The tutorial is about

[2020-08-14 06:02] iuype opened #8119 "Hash mismatch for downloaded file C:\Users\BCI-13\mne_data\MNE-sample-data-processed.tar.gz.part"
**I run the codes below.**

import mne
from mne import io
from mne.datasets import sample
data_path = sample.data_path()

**But I get an error.**

Using default location ~/mne_data for sample...
Downloading archive MNE-sample-data-processed.tar.gz to C:\Users\BCI-13\mne_data
Downloading https://files.osf.io/v1/resources/rxvq7/providers/osfstorage/59c0e26f9ad5a1025c4ab159?action=download&direct&ver

[2020-08-14 07:58] #8118 closed

[2020-08-14 15:06] DylanMannKrzisnik opened #8120 "Load NIRS data recorded using NIRStar v15.3"
Hello MNE users,

Following recommendations from the mailing list, I'm opening an issue with regards to loading NIRS data collected from a NIRx system, using NIRScout software version 15.3. Loading data using ***mne.io.read_raw_nirx()*** works for data collected using NIRScout versions 15.0 and. 15.2, but not 15.3.

I've created a [repo](https://github.com/DylanMannKrzisnik/NIRS_sample_data) to ho

[2020-08-14 15:44] larsoner commented on #8120
Have you tried first just hacking the code to allow a "15.3" string here:

https://github.com/mne-tools/mne-python/blob/master/mne/io/nirx/nirx.py#L110-L111

Try making that change then following the fNIRS preprocessing tutorial:

https://mne.tools/dev/auto_tutorials/preprocessing/plot_70_fnirs_processing.html#sphx-glr-auto-tutorials-preprocessing-plot-70-fnirs-processing-py

That will tell us if

[2020-08-14 16:20] drammock commented on #8119
hash mismatch can indicate that the file was corrupted during download. The first thing I would try is to delete the downloaded file and try again.

[2020-08-14 17:02] drammock commented on #8119
I just downloaded the sample data version 5, and I also get the hash `12b75d1cb7df9dfb4ad73ed82f61094f`.  Seems like maybe the hash we're checking against is incorrect. I'll look into it.

[2020-08-14 17:17] DylanMannKrzisnik commented on #8120
Hi again,

Indeed this seems to work! By adding "\"15.3\"" to the iterable in
L110-L111 of nirx.py I was able to run the tutorial scripts, with some
modifications to adapt to the sample data.
I should have done that first before posting anything. However, I was weary
about the downstream effects of such a simple modification. This alludes to
your point about needing to know what changed between 15

[2020-08-14 17:20] drammock commented on #8119
actually, I'm failing to reproduce this.  Current master version is checking for the correct hash.  Could you do two things:

1. repaste your traceback [formatted as code](https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax#quoting-code).  Right now, the underscores in our function and variable names are getting interpreted as instructions to italicize parts of

[2020-08-14 17:22] drammock commented on #8120
Thanks @DylanMannKrzisnik for looking into it. I'll leave this issue open until you report back whether there are any (relevant) differences between 15.2 and 15.3

[2020-08-14 19:04] DylanMannKrzisnik commented on #8120
I've contacted the NIRx support team and there are no changes to the file format which are relevant to our inquiry.

This means that simply adding version 15.3 to the list of supported versions does the trick.

Best,

Dylan MK

[2020-08-14 19:07] larsoner commented on #8120
Would you be up for making a pull request to add it?

[2020-08-14 19:09] DylanMannKrzisnik commented on #8120
Of course, will do.

Le ven. 14 août 2020 à 15:08, Eric Larson <notifications@github.com> a
écrit :

[2020-08-15 02:07] iuype commented on #8119
Thanks，
I have changed the version of MNE from 0.17 to the stable one.
when I ues the stable version of MNE，everything goes well.

[2020-08-15 02:09] #8119 closed

[2020-08-17 10:06] kpauski opened #8124 "How to plot a VolSourceEstimate with a discrete source space?"
I have a pre-defined discrete source space and a corresponding leadfield for the subject, but no MRI data. There is following data for source space with 20001 dipoles:

pos_p: (20001, 3) locations
pos_nn: (20001, 3) orientations
pos_e: (39998, 3) triangles of the surface

With those I create source space using
`vol_src = mne.setup_volume_source_space(None, pos={'rr': pos_p, 'nn': pos_nn},  surface

[2020-08-17 10:44] agramfort commented on #8124
please provide a full code snippet to replicate the error with just a copy
paste

[2020-08-17 11:15] #8115 closed

[2020-08-18 12:36] ualsbombe opened #8127 "Retaining complex stc.data when applying a morph"
If your issue is a usage question, please consider asking on our [Gitter channel](https://gitter.im/mne-tools/mne-python) or on our [mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) instead of opening an issue.

#### Describe the problem
Please provide a clear and concise description of the problem.
Morphing an stc with complex data results in losing the imaginary part

[2020-08-18 12:51] hoechenberger opened #8128 "How to deal with anonymization if one of the dates slips out of range?"
Working with the `somato` dataset, I ran into an issue related to the fact that the measurement date I'm intending to anonymize deviates from the date in `info['file_id']['secs']` such that, when I reach the desired adjustment for the measurement data, `info['file_id']['secs']` goes out-of-range, even though the measurement date would be within the valid range.

MWE:

[code]

Output:
[code]

How s

[2020-08-18 13:17] cbrnr commented on #8128
Why is `info['file_id']` equal to `1970-01-01 01:00:00` and why does this have to be anonymized? It seems like this date has already been set to a date that definitely does not correspond to the file creation date (assuming that the `file_id` key corresponds to file creation).

[2020-08-18 13:22] agramfort commented on #8128
I agree is should not happen that info['file_id'] is not coherent with
meas_date

for me it's a bug due to old mne version that was not setting the date
correctly everywhere

[2020-08-18 13:29] hoechenberger commented on #8128
Ok, so I guess what we should do in this case is

- Emit a warning
- Anonymize measurement date
- Set file date equal to anonymized measurement date

Right? I can make a PR if we all agree.

[2020-08-18 13:32] agramfort commented on #8128
you should fix the file with set_meas_date before anonymization

[2020-08-18 13:34] hoechenberger commented on #8128
But there are files like this out there in the wild.... should we not take care of them automatically in case if (re)anonymozation? Or is that what you meant: handle this inside Raw.anonymize()?

[2020-08-18 13:44] agramfort commented on #8128
ok you can try to warn if the dates are inconsistent and only use meas_date
as true value

[2020-08-18 13:51] cbrnr commented on #8128
The `file_id` key seems to be specific to FIF, so I agree that if the `sec` subfield does not match `meas_date`, warn, anonymize `meas_date`, and set `file_id` equal to the anonymized `meas_date`.

While we're at it, why does `anonymize` default to setting the date to Jan 01 2000? Wouldn't it be more convenient to follow the BIDS recommendation to set the date to e.g. Jan 01 1920 instead?

[2020-08-18 14:06] agramfort commented on #8128
yes I don't see how they can become different

I think it's  better to enforce users to shift the dates to keep consistent
ordering of subjects by dates

[2020-08-18 14:15] hoechenberger commented on #8128
I agree with @agramfort , there probably should not be a default

[2020-08-18 14:16] cbrnr commented on #8128
Yes, but there is a default, which happens to be a bad one because it's not BIDS-compliant. Are you suggesting we should remove the default (in another PR)?

[2020-08-18 14:23] hoechenberger commented on #8128
@cbrnr Yes I suggest we should consider removing the default

[2020-08-18 14:31] cbrnr commented on #8128
OK. Some arguments for/against removing the default:

Pros:
- Users are forced to select the number of days to shift (explicit is better than implicit).
- The relative time deltas between recordings of different subjects is maintained.

Cons:
- If users specify the same shift for all subjects in a study, it might be easier to reverse the anonymization (because you only have to guess one number). I

[2020-08-18 14:51] agramfort commented on #8128
mne-bids will complain. mne-python is not tied to bids. You will write bids
files with mne-bids
so I don't see the urge to change anything here. Now we need to make sure
mne-bids
warns properly.

[2020-08-18 15:10] agramfort commented on #8127
can you share a tiny and self-sufficient script to replicate the problem?
it helps us investigate

[2020-08-18 15:14] drammock commented on #8128
An example would be a training study where the number of days between different recordings of the same subject was an important covariate.

[2020-08-18 15:16] ualsbombe commented on #8127
you'll get it first thing tomorrow

[2020-08-18 15:27] hoechenberger commented on #8128
Yup. I always report inter-session intervals for multi-session studies. Would be nice to have this information contained in the info.

--
Sent from my phone, please excuse brevity and erroneous auto-correct.

[2020-08-18 15:40] larsoner commented on #8127
@ualsbombe can you try the fix in https://github.com/mne-tools/mne-python/pull/8129 ?

[2020-08-18 17:18] cbrnr commented on #8128
True, I was only thinking of between subjects. I think the argument should support a date in addition to days.

[2020-08-18 17:24] hoechenberger commented on #8128
I was thinking the same, but then – again! – it wouldn't be easy to preserve relative date differences!

Considering this, having a default **date** as we have now is not very useful in this regard either. However, changing it to a fixed number of days could lead to an easy de-anonymization if users forget about manually passing `daysback`.

Hence I conclude: we actually cannot have any reasonable

[2020-08-19 07:03] mbillingr commented on #8074
Short update:

So far I've been refactoring the code a bit to make it easier to work with.

I have also added the old method of ordering the patterns and it gives different results than the new method.
To clarify:
- old method: order = [largest eigenval, smallest eigenval, second-to-largest, second-to-smallest, ...]
- new method: order = decreasing abs(eigenval - 0.5)

The new method results in a

[2020-08-19 07:59] cbrnr commented on #8074
Thanks for the update @mbillingr. The old method seems to be the most commonly used though AFAIK (meaning that most papers on CSP order components using this method). Do you have a motivation and/or a reference where ordering by MI is used? And why is abs(eigenval - 0.5) equal to MI?

I agree that it is not possible to replace the ordering now without breaking current behavior. Do you think an arg

[2020-08-19 08:21] ualsbombe commented on #8127
@larsoner still a little new to this. I have been trying to create a branch with the changes in your commit, but I cannot checkout the commit.
Tried `git checkout 5f0af3af7963dec7ebf138473465101f0cbb2d52`, but as it is not present in the repository, I cannot check it out plus `git log` doesn't show it. Can you please give me a pointer as I would be happy to test it out
![billede](https://user-imag

[2020-08-19 08:38] hoechenberger commented on #8114
Friendly ping @neuroteams, did @cbrnr's suggestion help you? If you're stuck, you may also share a problematic file with me privately so I can have a look: richard.hoechenberger@gmail.com

[2020-08-19 08:40] hoechenberger commented on #8127
@ualsbombe The easiest way to install @larsoner's branch is by doing:
[code]

Does that work for you?

[2020-08-19 08:50] ualsbombe commented on #8127
That worked - thanks @hoechenberger

[2020-08-19 08:55] agramfort commented on #8127
all good then?

[2020-08-19 08:57] ualsbombe commented on #8127
testing it now - running the morph now - I am not getting any warnings. will get back when the morph is done and I have checked whether data is indeed complex (and no errors)

[2020-08-19 08:58] hoechenberger commented on #8128
Looking at this again with @agramfort, there seems to be another problem involved: `Raw.set_meas_date()` doesn't touch the dates in `info['file_id']` -- maybe that's on purpose? MWE:

[code]

Output:
[code]

[2020-08-19 08:59] mbillingr commented on #8074
MI used in the multi-class implementation where we don't have eigenvalues. I don't know who wrote that code (copied from pyRiemann?) and what their references say.

Here is an example of eigenvalues and corresponding mutual information:
[code]
The second to smallest eigenvalue (0.1) is more informative than the largest eigenvalue (0.8); it is also further from 0.5.
My intuition says ordering by MI

[2020-08-19 09:01] ualsbombe commented on #8127
yup, data is complex after the morph now and no errors -will make a small script, so you can see for yourselves

[2020-08-19 09:01] cbrnr commented on #8128
I have no clue what `info['file_id']` contains and the docs don't really explain it either.

[2020-08-19 09:23] cbrnr commented on #8074
Your intuition makes sense, but I don't think it's as simple as abs(eigenval - 0.5). The code from pyRiemann computes MI according to equation 15 described in [Grosse-Wentrup 2008](https://d1wqtxts1xzle7.cloudfront.net/50876910/tbme.2008.92115420161213-10825-7qdjcl.pdf?1481697318=&response-content-disposition=inline%3B+filename%3DMulticlass_Common_Spatial_Patterns_and_I.pdf&Expires=1597832170&Sign

[2020-08-19 09:38] ualsbombe commented on #8127
here's a self-sufficient example

import mne
from os.path import join

data_path = mne.datasets.sample.data_path()
subjects_dir = join(data_path, 'subjects')
subject = 'sample'
MEG_path = join(data_path, 'MEG', subject)

raw = mne.io.read_raw(join(MEG_path, 'sample_audvis_raw.fif'), preload=True)
raw.pick_types(meg=True)
cov = mne.compute_raw_covariance(raw)
raw.filter(14, 30)
raw.apply_hilbert()

[2020-08-19 09:41] ualsbombe commented on #8127
`import mne`
`from os.path import join`

`data_path = mne.datasets.sample.data_path()`
`subjects_dir = join(data_path, 'subjects')`
`subject = 'sample'`
`MEG_path = join(data_path, 'MEG', subject)`

`raw = mne.io.read_raw(join(MEG_path, 'sample_audvis_raw.fif'), preload=True)`
`raw.pick_types(meg=True)`
`cov = mne.compute_raw_covariance(raw)`
`raw.filter(14, 30)`
`raw.apply_hilbert()`
`events = mn

[2020-08-19 10:02] agramfort commented on #8128
here is a fix:

[code]

don't know what happened to this file. But what bothers now with current code
is that when you anonymize the default for file_id is 1970 and for meas_date
it's 2000 so you quickly end up with data where file_id and meas_date are not
consistent. For me this should not happened. This deserves a first fix
and then I think we should make sure that when we set_meas_date the file

[2020-08-19 10:06] #8127 closed

[2020-08-19 11:21] agramfort opened #8130 "anonymize also sex and hand"
anonymize with keep_his False keeps what's in: `raw.info['subject_info']`
which contains hand and sex for example.

Should we remove these info with keep_his=False or should we introduce another parameter?

[2020-08-19 11:34] agramfort commented on #8074
I am sorry but I have no recollection of editing these files. I fear I
would need to read
papers again and try on data to have some opinion. Not enough time for this
sadely

[2020-08-19 12:08] Han-HeyGyeong opened #8131 "I want to connect the EDF data with annotations."
I have a question. The error occurs when I run the code.

Code :

[code]

Output:

[code]

I thought `concatenate_raws()` connected data like a playlist(Like a YouTube playlist, B after A !).  But only `raw_test= mne.concatenate_raws([raw2, raw2.copy()])` worked. I don't know why. Should the data be the same length? The two data have different measurement times.

I don't know how to drop data from

[2020-08-19 12:08] cbrnr commented on #8130
What does "his" mean?

[2020-08-19 12:09] larsoner commented on #8130
Thoughts @bloyl ?

[2020-08-19 12:16] cbrnr commented on #8131
Actually, `mne.concatenate_raws([raw1, raw2])` modifies `raw1` in-place and appends `raw2` (see https://mne.tools/stable/generated/mne.concatenate_raws.html). However, the error you get indicates that the two recordings are incompatible because apparently the channel scalings/ranges are different.

[2020-08-19 12:18] larsoner commented on #8128
It does seem incorrect that these are not consistent. Worth trying to fix it to see if it breaks some existing test -- this might tell us if we had some reason to do it this way

[2020-08-19 12:23] agramfort commented on #8128
looking at it now

[2020-08-19 12:29] mbillingr commented on #8074
The source code forensics team just reported in:

- The `abs(eigval -0.5)` ordering has [always been implemented in pyRiemann](https://github.com/alexandrebarachant/pyRiemann/commit/a4b2519196d1505578eacbd136cd3b003e3672b2#diff-fa4703e1ad78643fd6f17fd52c8972d5R202)
- This is motivated in @alexandrebarachant's [paper](https://hal.archives-ouvertes.fr/hal-00602686/document):

I didn't read it in any

[2020-08-19 12:37] cbrnr commented on #8074
Ah, I missed the two-class special case - thanks for digging that up. Indeed this might be a simplification for the general multi-class case (thanks for the link to the paper).

So given that the current method makes sense, do you still think implementing the old sorting makes sense? It probably does, because that's how it is done in the classic CSP papers at least. On the other hand, we could als

[2020-08-19 12:50] agramfort commented on #8130
HIS = health information system

On Wed, Aug 19, 2020 at 2:09 PM Eric Larson <notifications@github.com>
wrote:

[2020-08-19 15:04] Han-HeyGyeong commented on #8131
Thank you for your answer. Your answer gave me confidence in the cause. So as a result of thinking about it, I do what I want using `concatenate_epochs()`. Thank you.

[2020-08-19 15:58] #8131 closed

[2020-08-20 11:21] bloyl commented on #8130
I don't think that handedness and sex/gender are considered PHI or
Identifing information in the US.

That being said I would remove them if `keep_his=False` to not further
complicate the API.

In general I feel like depending on the fif files to hold this type of
information is error prone and probably unreliable particularly across
sites.

On Wed, Aug 19, 2020 at 8:51 AM Alexandre Gramfort <noti

[2020-08-20 14:32] 5dh15 opened #8133 "example error"
I'm trying to run the example code on MNE official page, which is a simple code.

But it throws a error, I don't know how to solve it.
This is error code:
ValueError: The number of FixedLocator locations (20), usually from a call to set_ticks, does not match the number of ticklabels (1).

import mne
import numpy as np
import matplotlib.pyplot as plt

data = np.random.randn(5, 1000)

info = mne.cre

[2020-08-20 14:49] larsoner commented on #8026
Also we probably need to check to make sure our units are correct in all our TFR/PSD functions. It's possible that some normalization factors could be wrong if we use plain `fft` and don't account for the normalization (not sure if we do or not)

[2020-08-20 15:52] cbrnr commented on #8133
This has already been reported in #8031 - you can use the development version until we make a new release.

[2020-08-20 15:52] #8133 closed

[2020-08-20 16:02] 5dh15 commented on #8133
Thank you for your reply!

[2020-08-20 18:56] HanBnrd opened #8136 "BUG: mne.channels.combine_channels does not preserve events"
Related to #8014

#### Describe the bug
When using the function [combine_channels](https://mne.tools/dev/generated/mne.channels.combine_channels.html) on an Epochs object, the output loses the events.

#### Steps to reproduce
[code]

#### Expected results
[code]

#### Actual results
[code]

[2020-08-20 18:57] HanBnrd commented on #8136
I'll work on a fix 🙂

[2020-08-21 01:15] 5dh15 commented on #8133
@cbrnr
I can't install the dev version of mne.
Could you tell me how to install it?

Here is my install error:

C:\Users\USER>pip install mne==0.21.dev0
ERROR: Could not find a version that satisfies the requirement mne==0.21.dev0 (from versions: 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.7.1, 0.8, 0.8.1, 0.8.5, 0.8.6, 0.9.0, 0.10.0, 0.11.0, 0.12.0, 0.13, 0.13.1, 0.13.2, 0.14, 0.14.1, 0.15, 0.15.1, 0.15

[2020-08-21 01:55] bloyl commented on #8133
pip install -U https://github.com/mne-tools/mne-python/archive/master.zip

On Thu, Aug 20, 2020, 9:16 PM 5dh15 <notifications@github.com> wrote:

[2020-08-21 02:13] 5dh15 commented on #8133
Thank you! Helped me a lot! @bloyl

[2020-08-21 06:46] agramfort commented on #8130
I would look at what other software do to be consistent.

[2020-08-21 07:11] ualsbombe opened #8139 "Complex data cannot be saved or read (stc's and evokeds)"
#### Describe the bug
When complex data stored in an stc or and evokeds object is saved, the imaginary part is lost.
I found a quick fix for saving the complex data in stc's, but when reading it in again, it is lost again

#### Steps to reproduce
[code]
#### Quick fix for saving data
Change line 119 (commented) to line 120 of `_write_stc` in _source_estimate.py_
It cannot be read again though sinc

[2020-08-21 07:42] agramfort commented on #8139
try saving as .h5

[2020-08-21 07:51] ualsbombe commented on #8139
thanks for your suggestion
both saving and loading works in the h5 format

[2020-08-21 07:53] agramfort commented on #8139
ok close then.

thanks

[2020-08-21 07:55] ualsbombe commented on #8139
doesn't solve the issue for evokeds though

[2020-08-21 07:56] agramfort commented on #8139
did you try saving the evoked in .h5

[2020-08-21 08:01] ualsbombe commented on #8139
mne.write_evokeds does not have an h5 option as far as I can tell, or is there a separate function for that?

[2020-08-21 08:02] agramfort commented on #8139
ok then we need to fix something...

can you share a code snippet highlighting the pb?

[2020-08-21 08:08] ualsbombe commented on #8139
Assuming that pb means problem, the code under "steps to reproduce" allows for reproducing the problem and warning.
Let me know if I misunderstood you

[2020-08-21 11:23] olafhauk opened #8140 "get_point_spread/get_cross_talk for labels"
#### Describe the problem
get_point_spread/get_cross_talk currently only output results for point sources, but no summaries across vertices within labels (e.g. mean/max/SVD).

#### Describe your solution
I'm planning to add options 'labels' and 'mode' to get_point_spread/get_cross_talk in order to summarise PSFs/CTFs across vertices for a list of labels (e.g. mean, sum, max, SVD). Default would be

[2020-08-22 14:11] LMBooth opened #8142 "Lost interactive features during MNE Matplotlib integration in to Kivy application"
Hi all,

I'm currently trying to integrate MNE functionality in to a Kivy application, the plots display, however, i lose all interactive functionality, i suspect from the Kivy garden matplotlib backend (https://github.com/kivy-garden/garden.matplotlib/blob/master/backend_kivy.py) being called after any mpl_connect requests are made in the creation of the MNE returned figure from the command `fig

[2020-08-22 21:13] mianjalal786 opened #8143 "How to import .EDF data file into Python MNE."
Hey i hope all of you are doing fine.
I have recorded an EEG datafile by Emotive 14 Channel EEG sensor. The file format of that datafile is .EDF. I want to import that data file into the python MNE for some Time-Frequency Analysis and want to plot Scaleogram of that datafile. But i got stuck at importing and processing .EDF data file.

Any help or comments would be greatly appreciated.

Thanks

[2020-08-23 03:21] INNERMONGOLIAszm opened #8144 "Can I add some interference signals far away from the sensor in the MNE simulation?"
If your issue is a usage question, please consider asking on our [Gitter channel](https://gitter.im/mne-tools/mne-python) or on our [mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) instead of opening an issue.
#### Describe the problem
Please provide a clear and concise description of the problem.
Can I add some interference signals far away from the sensor in the MNE

[2020-08-23 12:13] #8143 closed, assigned to nobody

[2020-08-23 12:14] #8144 closed, assigned to nobody

[2020-08-23 12:35] mianjalal786 opened #8145 ".EDF data file import in a file and have an error"
hey
when i try to import a  data in mne i got this error

This is the code i m using

[code]

[2020-08-23 16:15] hoechenberger opened #8147 "ICA.plot_overlay() and baseline correction"
#### Describe the bug
@agramfort pointed out that in ICA overlay plots (i.e., visualization of Evoked before and after artifact removal via ICA), the displayed cleaned Evoked isn't baseline-corrected, even if the input **was** baseline-corrected.

<img width="614" alt="Screenshot 2020-08-23 at 17 54 34" src="https://user-images.githubusercontent.com/2046265/90982926-d0c3ac00-e56a-11ea-9b21-e6cf841

[2020-08-23 16:52] marsipu commented on #8027
@larsoner Thank you, I tried it and put the make.exe from stackoverflow into Git/cmd/. Unfortunately, for me it says "msys-1.0.dll could not be found" and doesn't work. I also tried [this](https://gist.github.com/evanwill/0207876c3243bbb6863e65ec5dc3f058) with the same result

[2020-08-23 17:21] agramfort commented on #8027
Sphinx does not require make on windows. We should see how our makefile hacks can be used without make

[2020-08-23 17:30] hoechenberger commented on #8147
Of course one could also argue that the current behavior is, technically, absolutely correct: You pass in an Evoked, remove some ICs, and plot the result without altering it any further (e.g., through baseline correction).

Considering this, we should at least add a `baseline` kwarg to `plot_ica_overlay()`, which would apply baseline correction to the input and to the cleaned data before plotting.

[2020-08-23 18:34] hoechenberger commented on #8147
(However, I personally feel it's kind of misleading comparing an Evoked after baseline correction with one that was not baseline-corrected)

[2020-08-23 19:49] cbrnr commented on #8147
I'd add a `baseline` attribute to be consistent with epochs.

[2020-08-23 20:33] mianjalal786 opened #8148 "Epochs and Events (No stim channel found to extract event triggers)"
Hey
i got this error when i m trying to get events and making epochs.
ValueError: No stim channel found to extract event triggers.

What to do if my dataset file(.edf) have no stim channel?
I actually want to do frequency time analysis  of my data.

Thanks

[2020-08-23 20:52] Isamaoz opened #8149 "Custom montage object not loading to NIRS info"
Hello,

I am trying to classify EEG and NIRS data using MNE. The datasets I am using were converted into MATLAB format; therefore, I created my data structures from scratch (raw data, montage files, epochs). I did not have any problems loading and classifying the EEG data, but I realised that raw.set_montage() does not support NIRS channels. When I tried to set the montage file to the info object,

[2020-08-24 06:25] larsoner opened #8150 "MAINT: Release 0.21"
We should cut a release in a few weeks, tentatively scheduled for September 15th. Feel free to tag issues and PRs that realistically can and should make it if you have permissions, and if you don't, feel free to comment on ones that you think should be tagged for 0.21.

[2020-08-24 07:26] agramfort commented on #8150
+10 !

[2020-08-24 07:43] dengemann commented on #8150
September 15 ? @larsoner

[2020-08-24 07:50] agramfort commented on #8149
ping @rob-luke

[2020-08-24 07:52] agramfort commented on #8148
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-08-24 07:52] #8148 closed

[2020-08-24 08:48] larsoner commented on #8150
Whoops, yes I meant Sept 15th :)

[2020-08-24 08:51] larsoner commented on #8027
This is while in the `git bash` terminal? If so I'll try uninstalling and reinstalling with step-by-step instructions

No idea if there is some tool to convert Makefile style commands to something else. Somehow I doubt it because this would just replicate `make` itself...

Also there's value in getting people a usable `bash` shell on Windows, so I'd rather go that route. It would allow us to assum

[2020-08-24 09:16] mianjalal786 opened #8152 "Contour Plot of RAW EEG data"
Hey

Is there any way to make contour plot of raw eeg data?

Thanls

[2020-08-24 09:54] hoechenberger commented on #8147
Just to get some more opinions on the underlying issue I'm trying to solve, I'd like to hear what regular users of ICA think. Pinging @cbrnr @sappelhoff @SophieHerbst @dnacombo:

I have a **baseline-corrected** dataset (**red** traces in the image below); applying ICA to remove some components introduces an offset in some channels of the **cleaned** data (**black** traces)
<img width="614" alt="Sc

[2020-08-24 10:04] sappelhoff commented on #8147
I usually highpass filter my data, perform ICA, and then make epochs, which I then baseline-correct :thinking:

So I don't baseline correct prior to ICA and haven't encountered this problem. But if the offsets are created through the component removal, then maybe that's to be expected and doing a second baseline correction is in fact a second baseline correction, and not a fix of the first baselin

[2020-08-24 10:11] ualsbombe commented on #8139
I have now added my pull request, but seems like I am failing some tests (notebook, style and windows pre-pip). I must admit I cannot interpret the error codes (they are bash exit codes for which I don't have the reference)
Other than that the tests worked locally and I am pretty convinced that my proposed changes will work, but will need some help understanding the failed tests
https://github.com

[2020-08-24 10:25] hoechenberger commented on #8147
What I did here was:

- bandpass filter (1.0–40.0 Hz)
- epoch & baseline correct
- run ICA on those epochs

Then I go back to the raw data,
- highpass filter with a low cutoff (0.3 Hz)
- epoch & baseline correct
- `ICA.apply(epoch)`

[2020-08-24 10:41] sappelhoff commented on #8147
yes, downsampled to 100Hz (with appropriate anti-aliasing filter)

I later apply the ICA solution to the raw, unfiltered data and then proceed to preprocess that ICA cleaned data.

it goes a bit like this:

1. load each subj-task raw data (3 files per subj) and inspect visually, marking noisy segments and bad channels, and saving as .txt (for reproducibility)
1. load all task raw data per subject

[2020-08-24 10:48] hoechenberger commented on #8147
Wouldn't that cause ICA also to pick up all "un-interesting" artifacts that occur between trials, e.g. when a participant blinks, swallows, moves?

[2020-08-24 10:54] hoechenberger commented on #8147
Also I would like to point out that the order at least of the first few channels is preserved:
![Screenshot 2020-08-23 at 17 54 34](https://user-images.githubusercontent.com/2046265/91037157-d1ab1b00-e608-11ea-9a76-fda9c9028e10.JPG)

[2020-08-24 11:19] cbrnr commented on #8147
I also use a procedure similar to what @sappelhoff described - or at least I don't run ICA on baseline-corrected epoched data. Technically, I use non-baseline-corrected epochs (which contain the activity of interest), but I don't use MNE epochs but basically cut my own epochs based on the raw continuous data.

[2020-08-24 11:31] agramfort commented on #8152
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-08-24 11:31] #8152 closed

[2020-08-24 11:54] agramfort commented on #8147
@hoechenberger it's true that doing baseline correction if you already high
pass filtered the data
is unnecessary. Can you remove this extra baseline correction to see how it
behaves?

[2020-08-24 12:28] sappelhoff commented on #8147
to some extend yes, ... I *do* cut out block breaks and then I simply trust that blinks, horizontals, and cardiac ICs are clear enough that I can reject them and I don't care about all other ICs and what they do or don't capture --> I use ICA exclusively for preprocessing/cleaning)

[2020-08-24 12:28] dnacombo commented on #8147
@hoechenberger

I've done ICA mostly with EEG data.
From raw EEG data, I usually
 - re-reference to average,
- downsample,
- filter,
- epoch,
- baseline subtract,
- run ICA,
- remove comps,
- plot

And they're all aligned. I don't recall having had this issue before.
Perhaps something to do with the re-referencing, which is not applied to MEG? on EEG signals, not rereferencing has a strange effect

[2020-08-24 15:30] olafhauk commented on #8140
I have something like this in mind:

    def _get_psf_ctf(resmat, src, idx, func='psf', mode=None, n_comp=1,
                     norm=False):
        """Get point-spread (PSFs) or cross-talk (CTFs) functions.

        Parameters
        ----------
        resmat : array, shape (n_dipoles, n_dipoles)
            Forward Operator.
        src : Source Space
            Source space used to compute

[2020-08-24 15:44] olafhauk commented on #8140
label.vertices seems to return the indices for the Freesurfer surface, but not to the source space vertices. For For example, for the sample data set the source space has 7498 vertices, but label.vertices has values up to ~100000 (e.g. for 'Aud-lh'). I cannot use them to do something like leadfield[:, label.vertices]?
I've found some code in _prepare_label_extraction (in source_estimate.py, see be

[2020-08-24 16:02] marsipu commented on #8027
Oh no, I only tried it with the Anaconda-Terminal. In the Git Bash-Terminal for Windows it works fine (after once `conda init bash` and activating my dev-environment, which didn't work in Cygwin for me). This works without modifying the Makefile, so the only thing to do for new contributors on Windows is to download make (maybe [this one](https://gist.github.com/evanwill/0207876c3243bbb6863e65ec5d

[2020-08-24 16:35] larsoner commented on #8027
If WSL doesn't work for graphics then let's not recommend it. If msysgit + make download/install works let's just give instructions for that. I've used it for years without problems, and it does take care of `git` + `make` handling in one solution, which is nice.

@marsipu want to take a stab at updating the docs as was done in #8057 ? It would be great to get these docs updated in the next couple

[2020-08-24 16:42] marsipu commented on #8027
Yes sure, I'll do it in the next days

[2020-08-24 16:46] larsoner commented on #8140
Yes you probably need something like this. I would put this in a separate private function and use it in both places (DRY).

[2020-08-24 19:08] larsoner commented on #8124
This must have come from some other software or custom definitions -- if you use MNE's `setup_source_space` the relationship to the FreeSurfer surfaces is automatically kept track of and you end up with a surface source space.

Is this an option for you?

If not, we can at least probably add basic `vector` plotting support, but it won't interpolate into a surface mesh properly. Another option is t

[2020-08-24 19:09] larsoner commented on #8096
@mmagnuski any progress at the `tqdm` end? We're recommending Spyder as the IDE in our release, so if they're not fixing it, we should.

[2020-08-24 19:09] larsoner commented on #8120
This was fixed by #8122

[2020-08-24 19:09] #8120 closed

[2020-08-24 19:16] larsoner opened #8154 "BUG: Example uses private function"
cc @GuillaumeFavelier, can you work out some public API to avoid the `_get_renderer` here:

https://mne.tools/dev/auto_tutorials/source-modeling/plot_background_freesurfer_mne.html#cortical-alignment-spherical

[2020-08-24 19:19] larsoner commented on #7999
@sappelhoff will you be able to take a stab at this one in the next couple of weeks?

[2020-08-24 19:21] GuillaumeFavelier commented on #8154
I would say that the renderer itself is not intended for public use xD

The closest alternative to `_get_renderer()` is `_create_3d_figure()`.

I'll see what I can do about that tomorrow :)

[2020-08-24 19:22] larsoner commented on #7862
I think this was fixed by #7863 but let's reopen if not

[2020-08-24 19:22] #7862 closed

[2020-08-24 19:23] larsoner commented on #7848
@sappelhoff or @mmagnuski up for coding this in the next couple of weeks by any chance?

[2020-08-24 19:23] larsoner commented on #7814
Okay maybe it's fixed now...

[2020-08-24 19:23] #7814 closed

[2020-08-24 19:24] larsoner commented on #7836
This looks like it should be `meg=False`. @cbrnr can you try making this change and see if it breaks any existing test?

[2020-08-24 19:25] larsoner commented on #7808
This should be fixed in `master`

[2020-08-24 19:25] #7808 closed

[2020-08-24 19:27] #7973 closed

[2020-08-24 19:29] larsoner commented on #7787
We recently added `add_volume` to `_Brain` in #8064. That PR is big but it's because of the complications involved in volumetric rendering.

We could add a `add_sensor` that takes sensor locations from a supplied `info`, and `data` containing time courses, and colors the sensors according to `data`. For EEG these would be discs projected onto the scalp, for ECoG these would be disks projected onto

[2020-08-24 19:33] hoechenberger commented on #7787
@larsoner Sounds like a great idea!!

[2020-08-24 19:35] larsoner commented on #7425
@drammock it's probably worth incorporating some logic here: https://github.com/scipy/scipy/issues/12446

[2020-08-24 19:37] larsoner commented on #8154
Maybe we should have a `.. warn` saying the API is not necessarily stable. But we need it at least for our own internal use in examples:

https://github.com/mne-tools/mne-python/pull/7087#issuecomment-679312067

We could even say that's it explicit purpose (and to facilitate our transition), and users writing should probably make use of preferably `pyvista` functions directly.

[2020-08-24 19:54] hoechenberger commented on #7999
Offering my help here too 👍

[2020-08-24 20:15] cbrnr commented on #7836
Will do!

[2020-08-24 20:50] sappelhoff commented on #7999
In that case, I'd be happy if you took over @hoechenberger :-)

[2020-08-25 00:19] rob-luke commented on #8149
Hi @Isamaoz,

Can you provide a minimum working example of how you are setting the montage?

I haven't added added NIRS support to set_montage(), so it doesn't surprise me it doesn't work. Taking a quick look at the code I think the following line is just skipping the nirs channels. But the whole code seems quite EEG specific.

https://github.com/mne-tools/mne-python/blob/master/mne/channels/monta

[2020-08-25 01:01] rob-luke commented on #7313
Sorry to reopen this but @benoitvalery I am trying to fix date reading for French files over in #7891

But I can't download the small file you linked above https://github.com/mne-tools/mne-python/issues/7313#issue-564551006. Are you able to reupload this small file somewhere so I can grab it and ensure I don't break the support we added here. Thanks

[2020-08-25 06:49] sappelhoff commented on #7848
I am pretty packed so would be grateful if somebody else can take the time. But I agree that this would be very useful to have.

[2020-08-25 06:58] agramfort commented on #7999
+1 to add this to the next release

[2020-08-25 07:56] sappelhoff commented on #8060
Just fyi: I maintain **[pybv](https://github.com/bids-standard/pybv/)** with help from @choldgraf, and @cbrnr (at least he made a release and a few PRs :slightly_smiling_face: ) ... @hoechenberger has made the corresponding conda-forge package work, and apart from that there is one more non-MNE contributor :-)

We have a BSD-3-Clause License, a pypi and conda forge package, and unit tests. However

[2020-08-25 08:05] cbrnr commented on #8060
MNELAB supports exporting to BrainVision using pybv, EDF/BDF using pyEDFlib, and EEGLAB SET with custom code. I'd be happy to move this code to MNE so that everyone can benefit from this functionality (but I don't know when I will find the time to do that, currently I have too many other things on my plate).

[2020-08-25 08:29] agramfort commented on #8140
I would not support the option list of lists of int and suggest to use
a list of Label

besides ok for me

[2020-08-25 09:40] olafhauk commented on #8140
Fine by me - I thought some users may want to use some specific selection of vertices, not necessarily labels. Can one convert a list of indices to a label? Or they would have to do mean/max/svd themselves.

[2020-08-25 09:44] palday commented on #8060
I have become the defacto maintainer of pyedf, but I inherited a codebase completely without tests, so until I get around to writing those, I'm very picky about PRs (as the currently open ones will know).

If MNELAB already wraps pybv, using that code is the way to go, but otherwise philistine's functionality was more strongly intertwined with MNE than pybv, so some time travel to pybv's roots mig

[2020-08-25 09:47] agramfort commented on #8140
you can construct a Label from vertices by calling Label constructor.
How does this relate to mean, max and svd?
are you refered to
https://mne.tools/stable/generated/mne.extract_label_time_course.html ?

[2020-08-25 11:20] cbrnr opened #8157 "ASCII decode error with CNT files"
As reported on our mailing list, [this CNT file](https://drive.google.com/file/d/1-av24-rlwnUWvMnln-6LHMAw6oSDixNE/view?usp=sharing) seems to contain a non-ASCII character (î), which leads to a decoding error:

[code]

Should the function `read_str` default to decoding `latin-1` aka `8859` instead?

[2020-08-25 11:25] palday commented on #8157
Without the CNT file (or standard) specifying its encoding you can't know if this should be interpreted as `latin-1`, `latin-9`, `utf-8`, etc.

[2020-08-25 11:35] cbrnr commented on #8157
Yes, we don't know that for many file formats. EDF also doesn't specify the encoding, but because we have encountered many files using non-ASCII characters in the wild we're just guessing that people are using 8859 (which is probably a pretty good guess).

[2020-08-25 11:39] palday commented on #8157
The [EDF standard](https://www.edfplus.info/specs/edf.html) actually specifies ASCII...

Isn't there a decode option to illegal unidentified bytes with a filler char? That would seem to be the most agnostic solution (at least for single-byte encodings).

[2020-08-25 11:46] cbrnr commented on #8157
You're right, it does specify ASCII. Nevertheless, people use non-ASCII strings all the time, and so far 8859 has worked fine (since 8859 is a superset of ASCII, standard-compliant EDF files are still decoded correctly, but with the added benefit that we can decode many real-world files as well). And yes, the `decode` method does have an `errors` parameter, which we could set to `'ignore'` (then a

[2020-08-25 11:49] palday commented on #8157
I'm just very strict on encoding stuff -- not being strict in the past is why we have such messes today. Moreover, I work with enough encodings to really dislike anything about something which clearly isn't ASCII. For me, the advantage for `replace` is that it's obvious an exceptional condition has been encountered and so the errors don't pass silently (which is in line with Zen of Python).

[2020-08-25 12:09] cbrnr commented on #8157
In general I agree with this philosophy, but sometimes practicality beats purity - which in this case trumps not letting errors pass silently. Again, that's just my personal opinion, hopefully others will also chime in (e.g. @agramfort, @larsoner, @hoechenberger).

[2020-08-25 12:12] cbrnr commented on #8157
Also, what do we lose when we assume 8859 instead of being strict and replacing illegal characters?

For ASCII text, both options produce identical results. For non-ASCII text, assuming 8859 will produce one of the extended characters, whereas we will have � characters otherwise. I've never encountered files with non-8859 characters, but in that case I'd be strict and set `errors='replace'`.

[2020-08-25 12:17] palday commented on #8157
If the encoding isn't 8859, then you can decode to the wrong character. For example, Latin 1 and Latin 9 differ in [their codepoint-to-character mappings in a few places](http://jkorpela.fi/latin9.html). More generally: if you're using another non ASCII encoding that is ASCII-compatible in the lower 7 bits, then you'll be mapped to the wrong character. Without knowing the encoding, you simply don'

[2020-08-25 12:22] 5dh15 opened #8158 "How to throw a animate plot to html page"
Hello!
I'm writing the .fif format file viewer (the graph) on the server environment.
Recently putted out the dynamic real-time brainwave graph on python with mne,
but I want let the graph viewing on the Internet browser.

Is there anyway to figure it out?
Thank you!

[2020-08-25 12:24] agramfort commented on #8157
I tried manually decoding bytestr but without success. Do you have an
encoding that works?

[2020-08-25 12:26] cbrnr commented on #8157
OK, it's just a single-byte encoding, and all 256 values are defined as some character. I'd still use 8859-1 as a best guess.

@agramfort here's an example:

[code]

[2020-08-25 12:26] agramfort commented on #8158
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-08-25 12:26] #8158 closed

[2020-08-25 12:28] cbrnr opened #8159 "Replace Travis with Azure or GitHub Actions"
Travis seems to be very slow especially with our macOS tests, to the point where the job routinely times out after 50 minutes with only 46% of all tests run so far. I suggest that we abandon Travis and use Azure or GitHub actions instead (somehow I'd prefer GH actions because this seems to be the go-to solution, but I have never actually tried it).

[2020-08-25 12:29] agramfort commented on #8157
here is the bytestr:

b'\xeeR@\xfd\xd8\x05\n\x0c\xe9\xe6X\x1d\x80\xba\x89\xab\xf1y\xfd\xf7'

I cannot find an encoding that works globally

[2020-08-25 12:29] #8139 closed

[2020-08-25 12:32] cbrnr commented on #8157
`latin-1` works for your bytestring:

[code]

[2020-08-25 12:32] larsoner commented on #8159
We can work from SciPy's macOS GitHub action

https://github.com/scipy/scipy/blob/master/.github/workflows/testing.yml

This combined with our code for Travis would make for a nice, hopefully not so painful CI PR if someone wants to learn more about the process

The one problem with the GitHub action IIRC is that it won't kick in until merged with `master`, so for testing whoever implements it wil

[2020-08-25 12:38] palday commented on #8157
But returns utter garbage! That's clearly not valid text.

[2020-08-25 12:38] cbrnr commented on #8159
I probably won't have time to work on this in the next weeks (so if you want to take a stab please go ahead). Did I understand you correctly that the CI won't kick in in a normal PR? This can't be true, because browsing the SciPy PRs shows that the macOS job is run...

[2020-08-25 12:39] cbrnr commented on #8157
I guess that @agramfort just entered arbitrary characters - this sure ain't French, or is it 🤣 ?

[2020-08-25 12:41] #7836 closed

[2020-08-25 12:42] larsoner commented on #8159
The PR to add the GitHub action itself will not have the action run. Once the changes are in `master`, each PR runs the GitHub actions in master -- or at least this is how it was when I added circleci-redirector-action. This is different from Travis/AppVeyor/Azure/CircleCI, where the config YAML in a given PR is actually used in execution. So it makes iterating on CIs a little bit harder / more an

[2020-08-25 12:43] GuillaumeFavelier commented on #8159
I would happy to join the effort on this :)

[2020-08-25 12:43] cbrnr commented on #8159
Ah, got it.

[2020-08-25 12:44] larsoner commented on #8159
@GuillaumeFavelier feel free to take a stab at it !

[2020-08-25 12:45] agramfort commented on #8157
shall we switch to latin-1 as latin-1 should behave like ascii for ascii
valid char no?

[2020-08-25 12:45] cbrnr commented on #8159
Would you replace only the Travis macOS job or all Travis jobs? I'd prefer abandoning Travis completely because it has been the major bottleneck, and it's probably better to stick with fewer providers.

[2020-08-25 12:46] GuillaumeFavelier commented on #8159
That's what I had in mind

[2020-08-25 12:47] cbrnr commented on #8157
This would be my preferred option, but we could also decode ASCII and replace invalid characters with �.

[2020-08-25 13:04] Teekuningas commented on #8157
Why latin-1 instead of utf-8?

[2020-08-25 13:11] larsoner commented on #8159
On the other hand, the more we spread across providers the less often we should hit bottlenecks. So I don't mind spreading across them.

Let's just migrate macOS for now. Travis has been great for Linux for years and GitHub actions are newer. If over the next few months / year time frame we have no problems with the GitHub action maybe we should think about migrating everything then.

[2020-08-25 13:13] cbrnr commented on #8157
Because UTF-8 doesn't include all valid Latin-1 values, e.g.

[code]

[2020-08-25 13:14] cbrnr commented on #8159
It's certainly less effort now, but we're already using Azure, which is very similar to GH Actions (same company), so we might as well try to move all Travis jobs to Azure (and then migrating to GHA will be almost painless once/if we decide to do so).

[2020-08-25 13:19] larsoner commented on #8159
To me it's not about reducing effort, but rather about accumulating experience with the service. I prefer an incremental approach so we get some experience and see how GitHub actions are in practice (reliability, interface, how easy it is to restart, see results, etc.). For example it's more of a pain to iterate on GitHub actions on PRs, so I'm not sure it's worth moving them all over anyway. I'm

[2020-08-25 13:20] agramfort commented on #8157
I tried what you suggest but all the strings in this file are broken. Even
channel names.
mne starts to complain as all channels have the same name '�����' ...

[2020-08-25 13:26] cbrnr commented on #8159
I agree, I was referring to Azure Pipelines instead of GitHub Actions though.

[2020-08-25 13:32] cbrnr commented on #8157
True - I haven't even looked at the file. It seems like this file is not a valid CNT recording. It's likely that some other recording device produces CNT files (and we're just supporting Neuroscan devices).

[2020-08-25 13:34] cbrnr commented on #8157
Yep, this seems to be an ANT Neuro file. I don't think that we have a reader for this format, do we?

[2020-08-25 13:36] cbrnr commented on #8157
Cf #3609

[2020-08-25 13:43] agramfort commented on #8157
lol :)

yes there are 2 CNT formats (neuroscan and ANT). We do not support yet
ANT file....

[2020-08-25 14:08] drammock commented on #8157
I'm coming out of vacation mode briefly to cast a strong vote in line with @palday. If the standard says the file should be ASCII then we should support only ASCII and not try to guess the particular flavor of wrongness in a file. The point of such standards is to save us from all this error-prone extra effort.

[2020-08-25 14:17] cbrnr commented on #8157
Closing because the reason why the linked CNT file doesn't work is because we don't support ANT files. Feel free to revisit #3609 if anyone feels like implementing support for this format.

[2020-08-25 14:17] #8157 closed

[2020-08-25 14:24] palday commented on #8157
Since I'm the one who wrote the [Latin-1 support for the BV reader](#3532): note that the BV format can declare its codepage and previously used Windows system defaults for INI files, so historically Latin-1 and now UTF-8 in Western Europe (because the VHDR file is essentially an INI file). Also, the error handling code there add ~50 lines. That's somewhat justified because `µ` can occur in the re

[2020-08-25 14:59] JacquesPesnot commented on #8157
Unfortunately the file is indeed an ANT file ... I followed #3609: using `read_raw_antcnt` from https://github.com/behinger/mne_tools I managed to open the ANT ".cnt" file. I had to use a python 2.7 kernel. Thanks a lot for your help!

[2020-08-25 15:02] agramfort commented on #8157
good you point out to this python code.

then maybe it's easy to add support for ANT data.

@behinger would you be ok to help us here?

we need to see if we have some license issue (needs to be BSD compatible)

[2020-08-25 15:14] behinger commented on #8157
this is somewhat discussed in #3609. The problem is that there is currently no pure-python library. The libeep library is LGPL, but afaik external code is not possible to ship along with mne, correct?

What I can offer is to ask at ANT/eemagine whether they have a pure python importer / library we could use

[2020-08-25 15:19] drammock commented on #8157
Maybe not for this one file. But as @palday points out above:

So if we do make an exception for some non-standards-compliant files, what is the justification for picking 8859 in particular as the allowed exception (and risking that files with some other encoding are thus errorful?)

[2020-08-25 15:21] agramfort commented on #8157
arfff it's compiled code.... then it's still quite some work...

[2020-08-25 15:23] palday commented on #8157
@behinger @agramfort  a long time ago, I contributed to libeep ... and it's a lot of "fun", even by the standards of compiled code. If they don't have a suitably licensed Python reader available, then an inhouse two-person clean-room implementation is probably the way to go.

[2020-08-25 15:35] cbrnr commented on #8157
@drammock I'm not preventing you from submitting a PR that removes all `latin-1` decodes from our EDF reader. I'm just saying that based on real-world examples it allows people to load their EDF files even if they are not 100% compliant to the EDF standard. Of course asking why we picked `iso-8859-1` over say `iso-8859-2` or `iso-8859-15` is a valid question, we just found that `iso-8859-1` solved

[2020-08-25 15:38] olafhauk commented on #8140
Some users may want mean/max/svd for a selection of vertices that are not in a label (e.g. from some activation peaks, patterns, etc.). But this is probably rare. I'll continue without "list of lists".

[2020-08-25 15:59] larsoner commented on #8140
You mean "list of Label", right?

[2020-08-25 16:12] olafhauk opened #8160 "Helper function to find source space indices for vertices in labels"
I'll need a function (e.g. "_get_source_space_vertices()") that outputs the indices to source space vertices for the Freesurfer vertices in labels (labels.vertices). For example, I'd like to use these indices to select columns from the leadfield (leadfield[:, new_vertices]).
There seems to be code from _prepare_label_extraction() (source_estimate.py, for info below) that does this. But I am not fa

[2020-08-25 16:39] olafhauk opened #8162 "Helper function to find source space indices for label vertices"
I'll need a function (e.g. "_get_source_space_vertices()") that outputs the indices to source space vertices for the Freesurfer vertices in labels (labels.vertices). For example, I'd like to use these indices to select columns from the leadfield (leadfield[:, new_vertices]).
There seems to be code from _prepare_label_extraction() (source_estimate.py, for info below) that does this. But I am not fa

[2020-08-25 16:40] olafhauk commented on #8140
No - I will continue with only "list of Label", but NOT with "list of lists". That's how I understood Alex.

[2020-08-25 16:47] larsoner commented on #8140
Ahh I misread, I thought you said you'll continue *with* list of List -- agreed implementing just list of label is the way to go for now.

[2020-08-25 16:48] larsoner commented on #8160
Dup of #8162

[2020-08-25 16:48] #8160 closed

[2020-08-25 18:51] mmagnuski commented on #7848
@larsoner Sorry, I won't be able to do this for the next release. But I will have more time in about 1.5 months - then I could help with such tutorial. :)

[2020-08-25 19:56] marsipu commented on #8027
Short question for this passage:

  version of git`_, because git Bash provides its own shell that includes many
  Linux-equivalent command line programs that are useful for development.
  Windows 10 also offers the `Windows subsystem for Linux`_ that offers similar
  functionality to git Bash, but has not been widely tested by MNE-Python
  developers yet.

The downloads from [official git](https:

[2020-08-25 19:58] larsoner commented on #8027
Yeah feel free to update or shorten

[2020-08-25 23:23] larsoner commented on #7848
Sounds good. Or @jdkoen if you've made some progress, you could also take a stab at it if you want!

[2020-08-25 23:26] jdkoen commented on #7848
Thanks. I’m happy to take a go at it. Sorry for the delay getting back to
this.

On Tue, Aug 25, 2020 at 7:23 PM Eric Larson <notifications@github.com>
wrote:

[2020-08-26 03:55] guishuyunye-lyw opened #8163 "bad eog channel"
Dear MNE group
I got some problem when I process my data with a bad eog channel.
If I mark the eog channel as a bad one, does MNE will interpolate it with prefrontal sensors?
If not, what should I do for that, considering I just have some of datas with bad eog.
THX!

[2020-08-26 06:48] agramfort commented on #8163
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-08-26 06:48] #8163 closed

[2020-08-26 09:19] olafhauk commented on #8162
I'll start with something for my own purposes. But I'm not brave enough yet to also change _prepare_label_extraction.

[2020-08-26 10:46] olafhauk commented on #8162
_prepare_label_extraction() actually does what I want (returns label_vertidx). Will simply use that.

[2020-08-26 11:16] olafhauk commented on #8162
Can I add a helper function _get_source_space_vertices(stc, labels, src, allow_empty) that calls

[code]
and only returns label_vertidx?

I don't think mode and use_sparse are relevant to me.

[2020-08-26 12:46] larsoner commented on #8162
Why not just put that one line where you would otherwise put your helper call?

[2020-08-26 13:10] olafhauk commented on #8162
Ok, will do. I thought it would be clearer and might be used more often in the future.

[2020-08-26 16:24] marsipu commented on #8027
May I add myself to names.inc?

[2020-08-26 16:30] agramfort commented on #8027
sure !

[2020-08-26 18:13] larsoner commented on #8027
Yes typically we update `latest.inc` to mention the improvement and the name at the end needs a corresponding entry in `names.inc`

[2020-08-26 18:59] marsipu commented on #8027
Cool, thank you. Very exciting:)

[2020-08-27 09:24] olafhauk commented on #8162
Just one more (hopefully last) thing... Can I add options stc=None and mode=None to _prepare_label_extraction(). stc and mode are needed for activation timecourses but not to get just the indices.

I'm thinking about changes like this (see CHANGE in three places):

[code]

[2020-08-27 12:15] agramfort commented on #8162
open a PR it will be easier to discuss on code details

[2020-08-27 12:46] GuillaumeFavelier commented on #8154
What do you say we add a parameter to `create_3d_figure()` to return an instance of `_Renderer` instead of the figure object?

Creating a new public function just to expose `_get_renderer()` seems to me like just duplicating code while we already have `create_3d_figure()` that we can reuse.

[2020-08-27 13:01] larsoner commented on #8154
Sounds reasonable to me

[2020-08-27 14:05] wsxmxm commented on #8032
Hi, many thanks for your double checking. I still have the strange memory
usuage problem. I will try to check on another computer. Thank you again
for helping me.

Daniel McCloy <notifications@github.com> 于2020年8月7日周五 上午3:13写道：

[2020-08-27 14:55] wsxmxm opened #8167 "mne.preprocessing.ICA.fit() does not work for Evoked objects"
#### Describe the bug
The MNE tutorial says mne.preprocessing.ICA.fit() can work for Raw, Epochs or Evoked objects. But my test shows it does not work for Evoked objects. Please see the following code, where the Evoked object is created according to the example in the tutorial.

#### Steps to reproduce

[code]

#### Expected results
The code can run without error.

#### Actual results
For the last

[2020-08-27 15:24] agramfort commented on #8167
indeed. Docstring needs to be fixed.

[2020-08-27 15:52] #8154 closed

[2020-08-27 15:54] hoechenberger opened #8168 "Report.parse_folder() does not support Path"
#### Describe the bug
`Report.parse_folder()` does doesn't handle `pathlib.Path` input correctly, while other MNE functions do.

#### Steps to reproduce
[code]

#### Expected results
[code]

#### Actual results
[code]

[2020-08-27 16:24] #8159 closed

[2020-08-27 20:08] #8168 closed

[2020-08-28 20:13] chapochn opened #8171 "plotting crashes for than 1 channel"
#### Describe the bug
plotting of multiple channels does not work

#### Steps to reproduce
    import numpy as np
    import mne
    data = np.arange(1000).reshape(2, -1)
    info = mne.create_info(ch_names=['a', 'b'], sfreq=1000)
    raw = mne.io.RawArray(data, info)
    raw.plot(n_channels=2)
    #  raw.plot(n_channels=1)  # this works

#### Expected results
get a plot

#### Actual results
Trace

[2020-08-28 20:25] cbrnr commented on #8171
It looks like this has already been fixed with #8031 - it's already in the latest master and will be part of 0.21.

[2020-08-28 20:25] #8171 closed

[2020-08-29 09:48] hoechenberger commented on #7901
Just for reference, the VS Code Python Extension is chiming in now, too:
https://github.com/microsoft/vscode-python/issues/13645

[2020-08-29 13:16] balandongiv opened #8172 "find_bads_ecg module picks non ecg artifact"
#### Describe the bug

The objective is to use `find_bads_ecg`  get ICs that matches to ECG pattern.

However, it seems the module return non ecg artifact regardless of using either the `Cross-trial phase statistics`  and `Pearson correlation`

For example, using the `Pearson correlation` , it was suggested the IComponent of 15, 46, 52.

However,`plot_sources(epochs)` the three component shows tha

[2020-08-30 12:50] agramfort commented on #8172
I don't see a clear ECG component in your data.

[2020-08-30 14:34] adam2392 opened #8173 "Reading in Persyst (.lay/.dat) files into Raw"
#### Describe the problem
I have some files that were output from the Persyst system, which are text-readable .lay/.dat file combination. I would like to read them into MNE Python Raw.

This would be useful since I think it's a major "EEG" software processing system, which many clinical centers have. In addition, it is text-readable, so nothing hard about it.

#### Describe your solution
A `read_r

[2020-08-30 14:51] balandongiv commented on #8172
This is rather interesting and lead to more questions than answer.

In that case,  it is not advisable to simply accept the proposed IC outputted by the module. Atleast for this data, eventhought the system suggested 3 IC related to ECG, but in reality there are no clear ecg pattern as validated by the human expert.

[2020-08-30 15:02] drammock commented on #8172
The human expert should probably view the raw data before performing ICA decomposition, and if there are no appreciable ECG artifacts, skip the `find_bads_ecg` step. As @dengemann often says, "always look at your artifacts before trying to remove them. They might be so small that you needn't bother."

[2020-08-30 15:04] #8172 closed

[2020-08-30 15:46] agramfort commented on #8173
seems indeed easy to add.

you should add these testing files in the mne-testing-data repo and then
add the reader in PR to mne-python

you can look at brainvision or nicolet readers for inspiration

[2020-08-31 12:20] larsoner commented on #8173
I would look at https://github.com/mne-tools/mne-python/pull/6674 to see the list of files you might need to change. If there are no new channel types, you probably only need to change half as many (or even fewer).

[2020-08-31 15:22] jdkoen commented on #7848
Here are my thoughts on what measures to add for a tutorial:

1) Peak amplitude/latency for a single channel
2) Mean amplitude in a time interval
3) Fractional Area Latency (for an example, 50% area)
4) Fractional Peak Latency (to measure onsets)

There are some other measures (e.g., integral measures) that I am not
looking at here. Also, for peak measures (1, 3, and 4 above) there should
likely b

[2020-08-31 15:44] larsoner commented on #7848
I would start with some minimal set and we can always add more later. No need to be feature-complete from the start. So this seems fine.

One other one I see/use from time to time is area under the curve, but again we can add that later

[2020-08-31 18:49] larsoner commented on #7112
Removing the 0.21 milestone for this

[2020-08-31 18:51] larsoner commented on #7057
@rob-luke this is marked for a 0.21 milestone. Could you look into the remaining plotting issues above in the next couple of weeks so that we can tick a few more boxes for 0.21?

[2020-08-31 18:53] larsoner commented on #6605
@jasmainak want to work on a tutorial for this for 0.21 in the next week or two? For the MRI coord frame you can now refer to https://github.com/mne-tools/mne-python/blob/master/tutorials/source-modeling/plot_background_freesurfer_mne.py, so really we "just" need a tutorial to document the sensor (MEG, EEG) coordinate frames, and say that the `head_mri_t` is covered in another related tutorial.

[2020-08-31 18:59] larsoner commented on #7857
We have `raise_if_subset` in 0.20 and `on_missing` in 0.21

https://mne.tools/dev/generated/mne.io.Raw.html#mne.io.Raw.set_montage

Closing but let's open if there is a remaining problem

[2020-08-31 18:59] #7857 closed

[2020-08-31 19:00] larsoner commented on #6846
Anybody want a fun quick one for 0.21? @hoechenberger maybe?

[2020-08-31 19:02] buildqa commented on #7112
Just FYI, as of the freesurfer 7.1.1 release, there is now a container with the release on docker hub.  I will check, but I think this is the link, https://hub.docker.com/r/freesurfer/freesurfer   We should be updating this going forward with releases.  (We still also support downloading the rpm and tar files for CentOS 6, 7 and 8 from the freesurfer download web pages).

[2020-08-31 19:11] larsoner commented on #8027
Fixed by #8164

[2020-08-31 19:11] #8027 closed

[2020-08-31 19:17] hoechenberger commented on #7112
Yep, I saw this too. This makes things super simple for us, actually.

[2020-08-31 20:21] larsoner commented on #7585
Closing in favor of  #7591

[2020-08-31 20:21] #7585 closed

[2020-08-31 20:24] larsoner commented on #7452
This no longer crashes on `master` but it does have the problem that `headshape` only gets a single value

[2020-08-31 20:24] larsoner commented on #7452
@andraderenew is `headshape` as a name a standard SFP file thing, or something specific to your lab?

[2020-08-31 21:56] chapochn commented on #8171
is there a workaround in the meantime? can I downgrade something to make it work?

[2020-08-31 23:52] rob-luke commented on #7057
Sure I can take a crack at PSD and TFR, but I don't know what projs is and if its relevant to NIRS. The other file type readers are also out of my control, particularly the artinis won't be done by 0.21. Do you plan to create another meta issue after 0.21 for the outstanding issues? I think we could ditch the mega meta style list as everything is running pretty well now and just tackle issues as t

[2020-09-01 01:14] larsoner commented on #8171
`pip install https://github.com/mne-tools/mne-python/archive/master.zip` or wait 2 weeks for 0.21 to release then `pip install --upgrade mne`

[2020-09-01 02:27] larsoner commented on #7057
Projs we can tackle at some point if people want to try using it as a means of noise suppression. Agreed we can just open PRs for readers as necessary

[2020-09-01 02:27] #7057 closed

[2020-09-01 03:44] rob-luke commented on #7057
Its great to have this ticked off. Thanks for the all the help along the road.

[2020-09-01 07:06] hoechenberger commented on #6846
Maybe I can squeeze it in somewhere, but no promises :)

[2020-09-01 12:56] LeyloJohnny opened #8183 "Topomaps interactive mode - Ticks disappear when zooming in"
Dear all,

during plotting of topomaps in the interactive mode, the ticks on the colorbar disappear when zooming in.

Codes:
[code]

before zooming in:
![Figure1](https://user-images.githubusercontent.com/69202234/91853840-16672f80-ec63-11ea-99a2-ef38283b9cda.jpg)

after a bit zooming in:
![Figure2](https://user-images.githubusercontent.com/69202234/91853844-16ffc600-ec63-11ea-922b-992db93ac13f.jp

[2020-09-01 12:57] datalw commented on #8183
I also have this problem, does anyone have the solution?

[2020-09-01 13:06] larsoner commented on #8183
We need to make DraggableColorbar update the ticks when it's interacted with. Want to see if you can come up with something that works by playing with https://github.com/mne-tools/mne-python/blob/master/mne/viz/utils.py#L1981-L2052 ? It might just require changing the tick type from fixed (which it probably gets set to on creation) to automatic at the matplotlib end.

[2020-09-01 13:28] #7452 closed

[2020-09-01 13:28] #7859 closed

[2020-09-01 13:28] #8025 closed

[2020-09-01 13:43] larsoner opened #8184 "STY: Website update options"
- [pydata-sphinx-theme](https://github.com/pandas-dev/pydata-sphinx-theme) uses Bootstrap 4
- [sphinx-multiversion](https://github.com/Holzhaus/sphinx-multiversion) can maybe save us a bit of version drop-down work

Something for someone to work on when they want a break from "doing science"

[2020-09-01 14:19] larsoner commented on #8184
I played a little bit with each of these and neither is trivial

[2020-09-01 14:37] larsoner commented on #6758
@WilliamLabCea #8185 should hopefully fix this

[2020-09-01 14:48] adam2392 opened #8186 "Should Handedness Unknown have a value of 0?"
I am working on a PR that can read in some basic metadata on subject, such as handedness. However, if handedness is unknown, I would've presumed there was a `FIFF.FIFFV_SUBJ_HAND_UNKNOWN` varaible?

But currently in `constants.py`, there is no value for unknown.
[code]

Is this intended?

[2020-09-01 14:53] agramfort commented on #8186
unknown should correspond to the absence of this tag in the file

[2020-09-01 15:01] #8186 closed

[2020-09-01 15:32] #6758 closed

[2020-09-01 15:37] drammock commented on #8184
+1 for switching (after 0.21).

[2020-09-01 15:40] larsoner commented on #7787
Another option would be to come up with some function that takes an Evoked instance, subject, and trans and then projects activation directly on the pial surface to yield an STC. Then you can just do `stc.plot(smoothing_steps='nearest')` and it should at least look okay. An api like:
[code]
where `distance` will make any vertex on the given surface within that many meters of a given electrode be c

[2020-09-01 15:42] larsoner commented on #7787
And we could make a `interp='linear' | 'constant'` or so where the `linear` mode scales by 1 when the distance is 0, and 0 when the distance is `distance` so you end up with something like an "activation cone" in terms of the amplitudes around the given location. Again, pretty easy to code and would give some flexibility.

[2020-09-01 18:17] sappelhoff commented on #8184
what are the reasons to switch the website style?

[2020-09-01 18:26] drammock commented on #8184
1. the current theme doesn't support next/previous buttons on documentation pages by default.
2. current theme has issues with default scroll alignment (target anchors are often just off the top screen or at least obscured by the navigation bar / dev bar)
3. current theme is one person's project, and is not being developed very actively (~1 year since last commit).  Proposed new theme is used by P

[2020-09-01 18:52] larsoner commented on #7848
Just a cross-ref here that we should bring up the "head" coordinate frame standard in MNE in this tutorial as well (see #7455 for example)

[2020-09-01 19:05] larsoner opened #8192 "BUG: Arrows gone in mixed norm plotting"
Glyph in glass brain in :

https://mne.tools/dev/auto_examples/inverse/plot_time_frequency_mixed_norm_inverse.html#sphx-glr-auto-examples-inverse-plot-time-frequency-mixed-norm-inverse-py

do not show up. I should see 2 sources.

_Originally posted by @agramfort in https://github.com/mne-tools/mne-python/pull/8188#issuecomment-685065216_

[2020-09-01 19:09] larsoner commented on #8184
To quote the Tim Hoffman on matplotlib gitter (not pinging his handle, doubt he cares about our decision process):

I more or less agree with this. So I would say some theme that's recognizable as being "in the scientific Python ecosystem" but (maybe) with some minor deviations to give it some MNE "flair" might be worth considering.

[2020-09-01 20:04] larsoner commented on #8192
This has been incorrect going back to 0.18:

https://mne.tools/0.18/auto_examples/inverse/plot_time_frequency_mixed_norm_inverse.html#sphx-glr-auto-examples-inverse-plot-time-frequency-mixed-norm-inverse-py

[2020-09-01 20:12] larsoner commented on #8192
It was broken by 78561338b1ffe376455e8a1324f55e2833979ce1, I'll try to figure out what the problem is...

[2020-09-01 20:12] agramfort commented on #8192
:'(

[2020-09-01 20:40] #4831 closed

[2020-09-02 06:54] #8145 closed

[2020-09-02 07:00] agramfort commented on #8045
@hoechenberger @larsoner @drammock would you have time to look into this one? I would like to see it fixed for next release

[2020-09-02 07:59] hoechenberger commented on #8045
I could have a look this Friday / weekend

[2020-09-02 08:01] hoechenberger commented on #8045
… and we don't see the helmet shape in the smaller figures.

[2020-09-02 13:41] larsoner opened #8195 "ENH: When using `set_montage` additional channels as extra points"
It might be better if we make it so that doing `inst.set_montage`, rather than discarding EEG channels that aren't in the instance, instead added them to `info['dig']` as *extra* / headshape points. It should help with coreg, and make it so that we get consistent sphere fits any time the same montage is used. It would allow us to update the `sphere` argument of our topomap plotting functions to al

[2020-09-02 14:32] LMBooth commented on #8142
***Thread Bump***

I'm slowly editing my way through the MNE plotting functions to work with Kivy, is it known when rev0.21 will be released?

[2020-09-02 14:33] larsoner commented on #8142
Currently scheduled for Sept 15th (two weeks-ish)

[2020-09-02 14:33] ChristinaZhao opened #8196 "mne.stats.summarize_clusters_stc for volumteric source space?"
#### Describe the problem
mne.stats.summarize_clusters_stc seems to only support surface based source space.
Specifically for vertices, it says: list of array | None
    The vertex numbers associated with the source space locations. Defaults to None. If None, equals `[np.arange(10242), np.arange(10242)]`.

I tried to call the function and input vertices using a volumetric source space (a single ar

[2020-09-02 14:35] drammock commented on #8142
@LMBooth note that the changes in #7955 will *not* be part of 0.21 stable release.  They are big changes and will probably get merged into master a few weeks *after* the release so that we have a long period of time to find and fix bugs before they become part of a stable release.

[2020-09-02 14:36] #8162 closed

[2020-09-02 14:37] #8192 closed

[2020-09-02 15:37] larsoner commented on #8183
Fixed by #8197 if you want to try it

[2020-09-02 17:10] justinhyon opened #8199 "Issues with sensor coordinates and mne coreg"
I have a few problems with setting the sensor coordinates and correctly visualizing them in mne coreg.

I am using the following code to set the sensor locations via a dictionary of coordinates:
[code]
This outputs the following plots:
<img width="1285" alt="Screen Shot 2020-09-02 at 9 40 23 AM" src="https://user-images.githubusercontent.com/27247614/92011719-54fef780-ed00-11ea-9da9-5b61c6c0e6c6.p

[2020-09-02 18:14] agramfort commented on #8195
I am not enough an EEG user to have a strong opinion here.

[2020-09-02 18:20] agramfort commented on #8199
can you share the files to look at your montage?

[2020-09-02 18:44] #7384 closed

[2020-09-02 18:44] #8183 closed

[2020-09-02 19:35] hubertjb opened #8201 "Empty epochs from valid annotation when Raw cropped from beginning"
While working with a cropped raw file I came across a case where `mne.Epochs` did not output what I expected. This happens when the `Raw` object contains an annotation toward the end of the recording and is cropped from the beginning, such that `raw.first_samp` is now close to the onset of the annotation. When calling `mne.Epochs`, the resulting epoch is empty (if I understand correctly, because t

[2020-09-02 20:13] #7993 closed

[2020-09-02 20:38] agramfort commented on #8201
this is a nasty one.

Apparently set_annotations is not doing the right thing when meas_date and
orig_time are None....

@larsoner do you have time to look? otherwise I'll try to find some time to
look into this before the
end of the week

[2020-09-02 21:00] cbrnr commented on #8031
@larsoner any plans to backport this? It's still 2 weeks until 0.21, and currently `raw.plot()` doesn't work with 0.20.7 and the latest Matplotlib.

[2020-09-02 21:05] alienx-zero opened #8203 "something wrong in raw.py"
[code]

I am following the tutorials https://mne.tools/stable/auto_tutorials/intro/plot_10_overview.html#sphx-glr-auto-tutorials-intro-plot-10-overview-py. And in the line `raw.plot(duration=5, n_channels=30)`, console reported that `ValueError: The number of FixedLocator locations (10), usually from a call to set_ticks, does not match the number of ticklabels (1)`.

And the main problem is from t

[2020-09-02 21:15] cbrnr opened #8204 "Should mne.utils._check_option return the checked value?"
Currently, `mne.utils._check_option` returns `True` if a value matches a list of allowed values or else raises a `ValueError`. I'm often using it as follows:

[code]

It would be useful if `_check_option` returned the value instead of `True`, because this would shorten my example to:

[code]

I don't really see a problem with returning the value, but maybe others rely on the boolean return value (

[2020-09-02 21:18] cbrnr commented on #8203
This has already been fixed in #7811, but it is not available in a release yet. I thought about that problem a couple of minutes ago (#8031), and I think we should really backport the fix and make a 0.20.8 hotfix release even though 0.21 is about to be released soon. @larsoner and @agramfort WDYT?

[2020-09-02 21:22] drammock commented on #8204
seems like a good idea to me.  I'd say that since `_check_option` is so widely used, that it might be better to wait until after 0.21 release to make that change though?  It *seems* like a straightforward changeset, but better not to risk a bunch of frustrated users of "stable" who just updated and had their scripts break.

[2020-09-02 23:23] #6905 closed

[2020-09-02 23:25] #8074 closed

[2020-09-03 00:02] alienx-zero commented on #8203
Thx, update to 0.21 manually fix it

[2020-09-03 00:03] #8203 closed

[2020-09-03 06:20] paulsowman opened #8205 "Continuous head movement KIT/Ricoh? systems"
Hi @larsoner, further to our recent exchange I would like to implement the Maxwell filter correction for head movement in MNE. Our KIT125 system records continuous head position in the .con file. What might be required to develop as API to read your head position information / get it to the correct format?

Regards, P

[2020-09-03 08:08] #7911 closed

[2020-09-03 10:52] chenyuan95 opened #8208 "wrong"
**READ THIS FIRST:** If you are having trouble getting MNE-Python to work with
your own data, you should probably ask for help on our
[Gitter channel](https://gitter.im/mne-tools/mne-python) or on our
[mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis)
before opening an issue; you will get help faster that way. See
[the FAQ entry on filing bug reports](https://mne.tools/

[2020-09-03 12:14] #8208 closed

[2020-09-03 15:10] mmagnuski commented on #8195
I'm a bit torn here - fitting a sphere to all the channels might improve how topomaps look, but then the head outline may loose its objective meaning (z level of fiducials). However, for caps with ideal spherical channel positions fitting a sphere to all the channels should produce topomaps closer to what EEGLAB displays, which would be nice.

[2020-09-03 15:13] larsoner commented on #8195
The nice thing about fitting to all the points is that you can always override it with your own `sphere=(0., 0., 0., ...)`. So really we're giving people the option of fitting. To me it brings the digitized-locations case and the standard-montage case closer in terms of how they are treated. And as a nice side effect it should make it so that EEG people get more EEG-standard plots.

I say we try i

[2020-09-03 16:42] mmagnuski commented on #8195
Sure, as an additional option it is good, I am just not sure it should be the default. But you are right that it might be better to take a more informed decision based on `circle full`. :)

[2020-09-03 17:40] larsoner commented on #8195
We can do `'auto', `'auto_radius',` and `'auto_origin'` if need be

[2020-09-03 20:06] alienx-zero opened #8211 "3d plot wrong"
I am following many .py file from MNE tutorials. And in any 3d plot project, eg. in https://mne.tools/stable/auto_tutorials/evoked/plot_20_visualize_evoked.html#sphx-glr-auto-tutorials-evoked-plot-20-visualize-evoked-py, ipython console will report a bug in renderer.py like this:

maps = mne.make_field_map(evks['aud/left'], trans=sample_data_trans_file,
                          subject='sample',

[2020-09-03 20:14] drammock commented on #8211
Please include the output of `mne.sys_info()`

[2020-09-03 20:23] alienx-zero commented on #8211
`mne.sys_info()
Platform:      Windows-10-10.0.18362-SP0
Python:        3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]
Executable:    d:\Users\99488\Anaconda3\envs\tensorflow-gpu1.14\pythonw.exe
CPU:           Intel64 Family 6 Model 158 Stepping 13, GenuineIntel: 8 cores
Memory:        31.9 GB

mne:           0.20.7
numpy:         1.16.5 {blas=mkl_rt, lapack=mkl_rt}
scipy:

[2020-09-03 20:30] drammock commented on #8211
3D plots are not possible unless either mayavi or pyvista are installed. See here: https://mne.tools/dev/install/mne_python.html#for-3d-plotting-and-source-analysis

[2020-09-03 20:30] #8211 closed

[2020-09-03 20:37] alienx-zero commented on #8211
@drammock thanks for information~

[2020-09-03 21:41] paulsowman commented on #8205
No problem. I will do this ASAP. P

From: Eric Larson <notifications@github.com>
Reply to: mne-tools/mne-python <reply@reply.github.com>
Date: Thursday, 3 September 2020 at 10:54 pm
To: mne-tools/mne-python <mne-python@noreply.github.com>
Cc: paulsowman <paulsowman@gmail.com>, Author <author@noreply.github.com>
Subject: Re: [mne-tools/mne-python] Continuous head movement KIT/Ricoh? systems (#8205)

[2020-09-03 21:42] larsoner commented on #8203
I am not sure how trivial it will be to backport the fix, you want to give it a try @cbrnr ?

[2020-09-03 22:29] #7341 closed

[2020-09-03 23:14] larsoner commented on #8204
[code]
I don't think we have any assignments in our code base so far. To escape these regex it would have to be `a = \ \n whatever` or so and I *really* doubt we've done that. So I think it's safe enough to change, but if it's not holding up any critical development then we might as well wait.

[2020-09-04 00:24] #8201 closed

[2020-09-04 01:02] larsoner commented on #8203
Opened in #8212, let's see how many failures we get

[2020-09-04 02:41] larsoner commented on #8203
https://pypi.org/project/mne/0.20.8/

`pip install --upgrade mne` should get it installed!

[2020-09-04 02:41] larsoner commented on #8171
https://pypi.org/project/mne/0.20.8/

`pip install --upgrade mne` should get it installed!

[2020-09-04 12:23] larsoner opened #8213 "ENH: Try fastcore to reduce boilerplate"
From @agramfort , see [here](https://twitter.com/hamelhusain/status/1301575601497624577?s=11)

[2020-09-04 12:39] agramfort commented on #8213
well I suggested to have a look but not to put this as an MNE dep :)

[2020-09-04 12:40] drammock commented on #8213
Interesting. I've been wondering if `functools.singledispatch` would be good for our functions that take `inst`. A different problem, but one that fastcore seems to also have a solution for.

[2020-09-04 12:41] larsoner commented on #8213
Maybe it's something we can vendor? Will have to look into it

[2020-09-04 12:43] agramfort commented on #8213
slow down :)

sleep over it for some time first

[2020-09-04 14:02] cbrnr commented on #8213
😄 - I saw that on Twitter too and although this certainly looks good, I'd rather not add it as a dependency. I also thought that Julia has multiple dispatch (not limited to two args) by default, but hey.

[2020-09-04 16:29] justinhyon commented on #8199
Here is the MD_raw.fif file:
[https://drive.google.com/file/d/1IKUNkSpoccbJHunJCeuY3zAqutLTusAa/view?usp=sharing](url)
Should I also send the mri files?

[2020-09-04 22:42] chapochn opened #8215 "confusing (wrong?) description in mne.time_frequency.tfr_array_multitaper"
The description of mne.time_frequency.tfr_array_multitaper is:

However it is not Morlet wavelet that are windowed by DPSS tapers. In _make_dpss, which is called in _compute_tfr, which is called in tfr_array_multitaper, there is:

            oscillation = np.exp(2.0 * 1j * np.pi * f * (t - t_win / 2.))

            # Get dpss tapers
            tapers, conc = dpss_windows(t.shape[0], time_bandwid

[2020-09-05 12:00] agramfort commented on #8215
indeed it seems very wrong... at least the doc does not match the code...

what fix would you suggest?

[2020-09-05 12:16] agramfort commented on #8199
it appears you have a unit pb in your input montage file:

[code]

I suspect you passed locations in mm and not meters.

[2020-09-05 13:09] LMBooth commented on #8142
Thank you @drammock and @larsoner  for clarifying that, i'll keep my eyes peeled for when i can grab a copy and see if it works within a Kivy environment. I'm currently modifying ERP plots to integrate in to an application and about to have a go with the MNE-realtime LSL example to work within Kivy too.

[2020-09-05 18:55] chapochn commented on #8215
Ideally would be great to have the actual mathematical formula. I feel it is often missing in the MNE documentation (I'm new to MNE). However, if one does not want to go into that, one could just write the same as for mne.time_frequency.tfr_multitaper

Since from what I understand these 2 functions do the same, but just have a different type of input. tfr_multitaper takes as input epochs whereas t

[2020-09-05 19:37] agramfort commented on #8215
+1 on all you suggest.

so let's update the docstrings to match what the code actually does

tfr_array_multitaper doesn't. I wonder why that is? It seems to be present
in tfr_morlet and tfr_array_morlet.

this is an API fix to do. Yes the idea is that tfr_ and tfr_array
functions are the same except
one works with mne objects and the other with numpy arrays

can you send us a PR?

thanks a lot for

[2020-09-05 20:04] virvw opened #8216 "apply_baseline then crop"
If your issue is a usage question, please consider asking on our [Gitter channel](https://gitter.im/mne-tools/mne-python) or on our [mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) instead of opening an issue.

#### Describe the problem
apply_baseline on epochs followed by a crop removes the former command apply_baseline
It is counter-intuitive that these two operatio

[2020-09-06 01:04] larsoner commented on #8216
Are you on latest `master`? It sounds like this was probably fixed in https://github.com/mne-tools/mne-python/pull/7629 due to issue https://github.com/mne-tools/mne-python/issues/7628

[2020-09-06 02:22] #8173 closed

[2020-09-06 22:05] drammock commented on #8142
@LMBooth I played around today with allowing to pass a `Figure` instance to the new version of `raw.plot()`.  My naive attempt was to change the `_figure()` function in `mne/viz/_figure.py` to the following:

[code]

The only other modifications I made were to `mne.viz.raw.py` to add a `fig=None` to the signature of `plot_raw_alt`, and to add `fig=fig` in the params dictionary in that same functio

[2020-09-06 23:51] LMBooth commented on #8142
Thank you @drammock  for having a go for me, i'll have a play with this to see if i can get it working without needing to alter too much of the code, i've taken a copy of the current #7955.

Instead of me locally calling the kivy backend in after each matplotlib call, i could just change the backend to use in my .matplotlib/rcsetup file, so there's even less i need to do within the MNE functions,

[2020-09-07 02:25] LMBooth commented on #8142
![image](https://user-images.githubusercontent.com/62242898/92342704-81789200-f0b9-11ea-8e8f-4f604ae79e16.png)

I've followed your suggestion above and got the figure loading in to kivy with the new classes and by passing in a created figure, however, same as you i don't have any interactive capabilities. I'll spend tomorrow afternoon on it and see if i can solve the problem 'elegantly'.

[2020-09-07 08:10] #8096 closed

[2020-09-07 15:03] hoechenberger opened #8218 "docdict and IDEs"
While the [docdict](https://github.com/mne-tools/mne-python/blob/92254198f02e19ca9227888fd2b1d5f8a90c8084/mne/utils/docs.py#L24) simplifies our lives and makes documentation more consistent by reducing redundancy, there's also an unfortunate side effect; namely, that IDEs may be unaware of our custom approach to docstrings. I'm often confronted with information like this:

<img width="782" alt="Sc

[2020-09-07 18:43] hoechenberger commented on #8128
Not sure if this is **exactly** the same problem, but it seems related: in the following MWE, `info['file_id']['secs']` doesn't survive an I/O roundtrip.

[code]

Output:
[code]

[2020-09-07 18:48] alexrockhill commented on #8128
I think @bloyl worked on this part if I'm not mistaken. I can take a look but I was only using the functionality as an end-user with `mne-bids`

[2020-09-07 18:51] hoechenberger commented on #8128
I ran into this when trying to ensure that all date-related information in the FIFF files is properly anonymized when converting to BIDS and before sharing the datasets. So I'm in a similar situation: only ever got in touch with this stuff because I was using MNE-BIDS. :)

[2020-09-07 19:15] agramfort commented on #8128
I think meas_id is meant to be saved but the file_id is supposed to be unique to a file. That's what I remember from conversations. Maybe @larsoner knows more.

[2020-09-07 20:50] LMBooth commented on #8142
[code]

[2020-09-07 21:02] drammock commented on #8218
That seems like it would fix the issue you're having. I think it would have to be an automated thing that expanded all the docdicts and made a commit, made a release, and then did a revert commit right after the tagged release to put the docdict back in place. Note that this would *not* fix your issue if you're using latest master in your IDE.

Seems like that's really an issue for the IDE devs, n

[2020-09-07 23:58] LMBooth commented on #8142
Slight other snag, so it seems to be an interactive plot with the raw object returned in `raw = mne.io.read_raw_fif(sample_data_raw_file)`, however, i get an error returned with my raw object from `raw = mne.io.read_raw_bdf('test_bdf.bdf')`  i assume some functions are still in need of updating?

[2020-09-08 00:51] rob-luke opened #8219 "Parsing dates in NIRx file for non-english locales"
#### Describe the bug
Parsing dates in NIRx files does not work reliably for non English files.

#### Steps to reproduce
See #7891 and test `test_encoding()` in `test_nirx.py`.

#### Expected results
Date should be read correctly.

#### Actual results
Currently reading of date fails and the date is set to Jan 1st 2000

#### Additional information
To address this issue we need to know the date form

[2020-09-08 07:03] agramfort commented on #8218
ipython does not have this pb. I think it's an IDE fix that is needed here

[2020-09-08 07:13] hoechenberger commented on #8218
Wow, you're right! Great, this gives me something to work with.

[2020-09-08 08:08] virvw commented on #8216
This is my current setup

conda 4.8.3
Python 3.8.3
(base) vv221713@is235208:~$  python -c "import mne; mne.sys_info()"
Platform:      Linux-4.4.0-187-generic-x86_64-with-glibc2.10
Python:        3.8.3 (default, Jul  2 2020, 16:21:59)  [GCC 7.3.0]
Executable:    /home/vv221713/anaconda3/bin/python
CPU:           x86_64: 32 cores
Memory:        62.5 GB

mne:           0.20.7
numpy:         1.18.5 {b

[2020-09-08 08:55] hoechenberger commented on #8128
@agramfort

@larsoner earlier said,

So I believe they should always stay in sync

[2020-09-08 09:01] hoechenberger commented on #8128
I mean I wouldn't care, really, if I weren't concerned we might be accidentally leaking (non-anonymized) measurement info via `file_id`. Is this concern justified?

[2020-09-08 11:28] larsoner commented on #8128
Thinking about it again, it's likely that file_id is supposed to be unique for the given file / generated at write time. Maybe we should just comment about this in the code?

[2020-09-08 12:00] virvw commented on #8216
1) OK after simple mne reinstall with pip:
 I confirm that version mne: 0.20.8  does not warn about not applying baseline. However, it does say "baseline off"

2) However:
fname_epochs = (epo_dir +"TF_" + c + '_' + sid + "-epo.fif")
epochs       = mne.read_epochs(fname_epochs)
if bsln == 1:
   epochs.apply_baseline(baseline = (bsln_tmin,bsln_tmax))
epochs.crop(tmin=lin_tmin, tmax=lin_tmax)

In[22]

[2020-09-08 12:40] drammock commented on #8142
Can you post the error traceback, and a link to the problematic file?

[2020-09-08 13:06] agramfort commented on #8128
sounds like a good idea to me

[2020-09-08 13:11] LMBooth commented on #8142
The traceback is as follows:
[code]

[Here's a link to the bdf file i'm using](https://github.com/LMBooth/Sample_bdf), i did create the bdf file myself with my own built converter from a separate in house eeg file format we were using, though it can be loaded in to EEGLab with no problems and it works in 0.20 of MNE in and out of Kivy.

[2020-09-08 14:02] bloyl commented on #8128
`git grep -n FIFF_FILE_ID`
suggests that file id is set here during write:
https://github.com/mne-tools/mne-python/blob/92254198f02e19ca9227888fd2b1d5f8a90c8084/mne/io/write.py#L292-L304

however we don't seem to call `start_file` with the `_id` argument. So the default (`None`) is use. which leads to `DATE_NONE` being used for mne-python file_ids.

see:
https://github.com/mne-tools/mne-python/blo

[2020-09-08 15:32] #7652 closed

[2020-09-08 16:37] larsoner commented on #8216
Maybe to "baseline off (or unknown if cropped out of interval)" or something?

[2020-09-08 17:25] drammock opened #8221 "RFC: increasing diversity of our contributor pool"
As some of you know, part of our funding proposal to CZI was for funds to increase participation of underrepresented groups at our code sprints (and in our contributor pool more generally).  Due to the global SARS-CoV-2 pandemic, the fall 2020 code sprint in Seattle is postponed, and it is unclear whether a spring 2021 sprint will be possible / whether people will feel comfortable enough with air

[2020-09-08 18:42] adam2392 opened #8222 "Error Reading in Channel Names (that have integers and longer then 4 characters?) in EDF File"
#### Describe the bug
I am converting a dataset into BIDs using the latest version of mne-bids. I read in a raw EDF file using: `read_raw_edf`. Then I try setting the channel types using `set_channel_type` on the Info object. However it errors out on channels `F10F1` (And channels 2-6). I also check if the string exists in the `raw.info['ch_names']` and it returns False!

The downstream error in m

[2020-09-08 19:07] hoechenberger commented on #8221
tagging @SophieHerbst and @dnacombo
cc @peircej @opyh

[2020-09-08 19:11] agramfort commented on #8221
an idea... have like office hours 1H every week or every two weeks to onboard
people or ask questions in a video chat. What you know people it's always
easier to work together

[2020-09-08 19:13] agramfort commented on #8222
mne requires all channels to have unique names and is case sensitive (at
least should).

F10F1-6 suggest a -6 was appended due to many channels being called F10F1

[2020-09-08 19:15] virvw commented on #8216
it should be a known unknown for the user so it should better specify what has been done?
how about
"[bsln_tmin:bsln_tmax]" (these values will be located outside the current epoch length so it implies to have been done before cropping)
or
" on [bsln_tmin:bsln_tmax]"
or
"baseline before crop"
or
"bsln then crop"
or
"on before crop"
or
"on and crop"

[2020-09-08 19:15] agramfort commented on #8222
can you share more than the file to investigate? like the bids dataset

[2020-09-08 19:25] adam2392 commented on #8222
Sorry I wasn’t clear. F10F1-6 is 6 channels. I updated the description to be a bit more clear.

And it errors out when I check if ‘F10F1’ is “in” the Raw channel names. I’m not sure if it’s an issue with String decoding?

[2020-09-08 19:34] larsoner commented on #8216
Once `.crop` is done, the information is removed from the object, so not sure this is an option

[2020-09-08 19:47] agramfort commented on #8222
In [5]: 'F10F1' in raw.ch_names
Out[5]: False

In [6]: 'F1OF1' in raw.ch_names
Out[6]: True

[2020-09-08 19:50] agramfort commented on #8216
crop makes you lose provenance. But it's hard to avoid. I would make sure you
crop after the latest stage of your pipeline or even when you call functions.

evoked = read_evoked(...)
my_function(evoked.copy().crop(tmin, tmax), ...)

so you always keep the evoked as untouched as possible

[2020-09-08 20:00] adam2392 commented on #8222
lol... okay that's embarassing. Sorry @agramfort for the waste of time.

[2020-09-08 20:00] #8222 closed

[2020-09-08 20:01] agramfort commented on #8128
one could look at the mne-c code how it does it

[2020-09-08 20:02] britta-wstnr commented on #8221
Thank you for the summary, @drammock.
I think what we should add to the first point (Prominent public statements) is to also make clear that diversity is a value of the MNE-Python community and that we believe it contributes to our joint goals.
To essentially go beyond "diversity just for the stats" or other negative descriptors that can often be associated with quotas or similar - to show that we

[2020-09-08 20:24] drammock commented on #8142
That is a bug in init.  I'll push a commit today to fix it.

[2020-09-08 20:48] drammock commented on #8142
OK, I've just pushed 52be66c that should fix the error.

[2020-09-08 21:18] drammock commented on #8221
:100:

[2020-09-08 22:00] chapochn commented on #8215
I did a PR with updated doc.
Only remains is to update tfr_array_multitaper for it to have the option zero_mean for consistency.

[2020-09-09 00:27] jasmainak commented on #6605
Thanks for pinging me @larsoner. Unlikely I'll have the time right now although I'd love to do it.

I need to properly sit down to think what should go into this. Maybe a good project for a 1-2 days of a coding sprint :-)

[2020-09-09 00:34] jasmainak commented on #8221
Just a comment as I was passing by. I think it might be a good time to review what issues are *truly* "easy", which ones are "good first issues" etc. Something I've found helps new contributors is to give them progressively harder issues. If you accidentally take up an issue that's too hard, it's going to discourage future contributions.

[2020-09-09 06:11] virvw commented on #8221
Hi folks,

great to see this happening! :-)

My 3 cents:

- inverse the balance and strongly highlight contributions of the
minorities (even if in the grand scheme of things they are smaller). By
default, biases favor so strongly the majority that the regular pat on the
back for a minority is not effective enough. The bragging needs to be 2 or
3 times louder for minorities...

- What is effective

[2020-09-09 06:56] GuillaumeFavelier commented on #7959
I wanted to work on 4) but I realized that `extract_label_time_course()` needs the `src` parameter (source spaces for left and right hemisphere) which is not available with `_Brain`. How can I fix this?

I had [this example](https://mne.tools/dev/auto_examples/visualization/plot_parcellation.html?highlight=plot_parcellation) in mind.

[2020-09-09 07:40] chenyuan95 opened #8226 "How to solve the problem of TypeError"
Traceback (most recent call last):
  File "D:/mne使用/use01.py", line 15, in <module>
    raw = mne.io.read_raw_eeglab(r'D:\脑电数据原始\ex2\sub1902.set',preload=False)
  File "D:\mne使用\venv\lib\site-packages\mne\io\eeglab\eeglab.py", line 221, in read_raw_eeglab
    return RawEEGLAB(input_fname=input_fname, preload=preload,
  File "<decorator-gen-197>", line 21, in __init__
  File "D:\mne使用\venv\lib\site

[2020-09-09 08:56] hoechenberger commented on #8218
I've opened a feature request upstream at Pylance:
https://github.com/microsoft/pylance-release/issues/346

[2020-09-09 11:27] SophieHerbst commented on #8221
Great initiative and great suggestions above! Something I would think might help too, is to offer small hands-on technical tutorials for new contributors (~2h with an experienced programmer, possibly virtual but interactive) to help people get up to speed and increase their _confidence_ for instance:
- how to use git / github
- principles for clean coding in python
- introduction to the mne archit

[2020-09-09 11:35] britta-wstnr commented on #8221
@SophieHerbst do you mean something like a regular little hands-on lecture new contributors can sign up for? I think that's a great idea!

[2020-09-09 11:52] SophieHerbst commented on #8221
@britta-wstnr yes, something shorter than a full workshop (to be integrated in one's daily schedule more easily), which targets the skills specifically needed to contribute to mne python.

[2020-09-09 11:55] justinhyon commented on #8199
Thank you, this was the issue! I have now run into another problem, however. When using stc.plot to plot the source estimate, as described in https://mne.tools/stable/auto_tutorials/source-modeling/plot_eeg_mri_coords.html#sphx-glr-auto-tutorials-source-modeling-plot-eeg-mri-coords-py , the plot disappears as soon as it finishes plotting. The window pops up and everything that should be there is p

[2020-09-09 12:12] agramfort commented on #8226
you have a problem to read an eeglab file? if can you share it after checking you can read it in matlab?

[2020-09-09 12:16] agramfort commented on #8199
you should run your code form an open interpreter to keep a command line
prompt when plots are open

[2020-09-09 12:28] agramfort commented on #7959
you should be able to extend extract_label_time_course allowing to
pass white surfaces instead of src.
for extract_label_time_course you need the locations and normals of
the vertices present in the stc.

[2020-09-09 12:29] larsoner commented on #7959
pass white surfaces instead of src.

the vertices present in the stc.

Unfortunately this will be quite slow since you should compute the normal directions using patch info. Better I think to allow people to pass `src` to `stc.plot`. It's not much to ask, you need it for `plot_volume_source_estimates` anyway.

[2020-09-09 12:33] justinhyon commented on #8199
I am currently running in pycharm, and all other plots, both matplotlib and mayavi, seem to be working except stc.plot. Should I use something else?

[2020-09-09 12:35] drammock commented on #8221
I like this idea a lot. Perhaps we could start with the framework of The Carpentries lessons and tailor then to our needs.

[2020-09-09 12:38] drammock commented on #8218
Closing because there's nothing to be done on our end, it seems. @hoechenberger feel free to reopen if you disagree.

[2020-09-09 12:39] agramfort commented on #8199
so it's a pyvista issue? can you check is a simple pyvista example?

[2020-09-09 12:39] agramfort commented on #7959
ok fair enough

[2020-09-09 12:40] larsoner commented on #8199
you might need to do `brain = stc.plot(...)`. It's possible your instance is getting garbage collected immediately

[2020-09-09 12:46] justinhyon commented on #8199
brain = stc.plot worked! thank you both

[2020-09-09 12:52] #8199 closed

[2020-09-09 13:25] larsoner commented on #8124
Looking again, I think there is a misunderstanding. When you do:
[code]
you are setting the surface *within which source space points must exist if setting up a volumetric grid*. If you pass `pos` as a dict specifying positions, it's ignored. Maybe a docstring update would be useful here.

One thing we could do is add support to `_Brain` to allow passing `surface=dict(...)` to give the surface to

[2020-09-09 13:28] larsoner commented on #8045
Keep in mind that `plot_topo` should produce different looking plots than `plot_topomap` -- the former uses `layout`s that are different from the physically mapped `topomap` plots, at least for Neuromag MEG data (for things like EEG they might be the same or quite similar).

The head being tiny, however, is a bug that we should fix. Any progress on this @hoechenberger ?

[2020-09-09 13:32] larsoner commented on #7848
Pushing the milestone to 0.22 for this one so it's not a blocker, but @jdkoen there is still time to get this in for 0.21 if you have time to make a push in the next few days

[2020-09-09 14:17] larsoner commented on #8008
@wmvanvliet @britta-wstnr are we okay here?

[2020-09-09 14:31] larsoner commented on #8088
Closing as I guess this is "good enough" for now

[2020-09-09 15:06] #7425 closed

[2020-09-09 15:06] #8167 closed

[2020-09-09 19:55] #8196 closed

[2020-09-09 19:58] #7350 closed

[2020-09-10 07:07] wmvanvliet commented on #8008
I think so!

[2020-09-10 08:48] #7999 closed

[2020-09-10 08:56] BarryLiu-97 opened #8231 "KeyError: 'zen_w_delta'"
2. When I used mne.viz.plot_raw to draw the image of my own raw data（an eeg data from eeglab '.set'）, I came up with one KeyError: 'zen_w_delta'. The image showed up and seemed OK. While I didn't know what's this error mean.
2. And also, the image's switching was not fluent when I moved the silder. Is there any way to improve that?

[2020-09-10 08:58] BarryLiu-97 commented on #8226
你的中文路径暴露了你。

[2020-09-10 09:07] agramfort commented on #8231
we cannot help without access to the file. Are you sure the EEGLAB set file
is valid?

[2020-09-10 09:11] BarryLiu-97 commented on #8231
Hi,  I think I may know what it means. In  mne.viz.plot_raw image, we can press the key 'z' in the keyboard to stop showing scrollbars. While it is not working to me when I pressed z.

[2020-09-10 09:12] BarryLiu-97 commented on #8231
While, I still don't know ho9w to solve this.

[2020-09-10 09:15] agramfort commented on #8231
I cannot solve a problem I cannot replicate

[2020-09-10 09:19] BarryLiu-97 commented on #8231
Then do u know how to solve my second question? it is not fluent when I switch the window to different time points.

[2020-09-10 09:23] hoechenberger commented on #8231
What do you mean, exactly? That you cannot drag the slider and the window will smoothly update, as in other apps? I believe there's nothing we can do about this, as there are technical limitations.

[2020-09-10 09:24] agramfort commented on #8231
raw.plot is slow if you have too many sensors and a high sampling rate. You can
limit the number of sensors you see or decimate your data

[2020-09-10 09:26] BarryLiu-97 commented on #8231
Yes, that's what I mean. While the data is just about 54MB and the number of channels is 61. Is that too big?

[2020-09-10 09:53] agramfort commented on #8231
it's small. It should be fluid to browse

[2020-09-10 10:06] BarryLiu-97 commented on #8231
I can give u my code and one sample data, if that's OK，can u test it for me because I think it is a little hard to describe the situation as I code following the tutorial. Which email should I send.

[2020-09-10 11:07] LMBooth commented on #8142
Seems to be working great now, i'll keep you posted in case i come across any other issues.

[2020-09-10 12:11] agramfort commented on #8231
yes

use a service that allows you to share big files

[2020-09-10 12:14] BarryLiu-97 commented on #8231
I could send my code and sample data to you using e-mail, while could u please tell me your address?

[2020-09-10 12:15] agramfort commented on #8231
how big is the file? if it's more than 20MB do not use email

[2020-09-10 12:17] BarryLiu-97 commented on #8231
It is about 55MB. Google Drive？

[2020-09-10 12:21] drammock commented on #8231
Yes, please upload the file to Google drive (or a similar file sharing service) and paste the link here. I will take a look (since I'm the one who wrote the "zen mode" feature).

[2020-09-10 12:22] drammock commented on #8231
Please also paste the output from `mne.sys_info()`

[2020-09-10 12:23] BarryLiu-97 commented on #8231
https://drive.google.com/file/d/1uPHmmIWmUHnAuYjH_QXHKSh8MPaerAei/view?usp=sharing

[2020-09-10 12:23] BarryLiu-97 commented on #8231
mne.sys_info()
Platform:      Windows-10-10.0.19041-SP0
Python:        3.7.9 (tags/v3.7.9:13c94747c7, Aug 17 2020, 18:58:18) [MSC v.1900 64 bit (AMD64)]
Executable:    D:\sEEG_Pro\sEEG_Pro\Scripts\python.exe
CPU:           Intel64 Family 6 Model 94 Stepping 3, GenuineIntel: 8 cores
Memory:        Unavailable (requires "psutil" package)
mne:           0.20.8
numpy:         1.19.1 {blas=D:\\a\\1\\s\

[2020-09-10 13:05] BarryLiu-97 commented on #8226
I know, I'm just saying that indicates that he/she is Chinese as the same as me.

[2020-09-10 13:29] drammock commented on #8226
Yes, I understood. I just thought it was a little off-topic to point it out, since it's likely not the cause of the `ValueError`

[2020-09-10 13:30] BarryLiu-97 commented on #8226
understood.

[2020-09-10 13:43] chenyuan95 commented on #8226
yeah,I am Chinese student.I very happy to receive your answer.it is not because of the error caused by the Chinses path.and i can open the .set file with EEGLAB successfully,and i can load it in RAM in mne but sometimes&nbsp;it still goes wrong.so it is unreliable.&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Daniel McCloy"<notifications@github.com&gt;;
发送时间: 2020年9月10日(星期四) 晚

[2020-09-10 13:59] agramfort commented on #8231
it works perfectly for me

[2020-09-10 14:01] BarryLiu-97 commented on #8231
no key error? maybe it's some issues about my keyboard.

[2020-09-10 14:02] BarryLiu-97 commented on #8231
And it is smooth when dragging the silder?

[2020-09-10 14:32] drammock commented on #8231
I also do not get a `KeyError` when plotting or when pressing `z`.  I'm testing on mne version 0.20.8.  For me, scrolling is as smooth as expected using the left/right arrow keys.  Note that the horizontal slider does not support click-and-drag behavior; it is only possible to single-click to jump to a different part of the recording.  Could you paste the full traceback of the `KeyError`?

[2020-09-10 14:33] BarryLiu-97 commented on #8231
Backend TkAgg is interactive backend. Turning interactive mode on.
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\Barry Liu\AppData\Local\Programs\Python\Python37\lib\tkinter\__init__.py", line 1705, in __call__
    return self.func(*args)
  File "D:\sEEG_Pro\sEEG_Pro\lib\site-packages\matplotlib\backends\_backend_tk.py", line 241, in resize
    self.resize_event

[2020-09-10 14:52] olafhauk opened #8232 "Baseline-correction for source estimates"
#### Describe the problem
Baseline-correction for source estimates is recommended/necessary for some processing steps. For example, for unsigned source estimates, differences in noise levels may result in differences in intensities (e.g. for conditions with very different numbers of trials). This can be compenstated for by baseline-correction.

#### Describe your solution
Add a method 'baseline" t

[2020-09-10 15:01] drammock commented on #8231
OK, I can reproduce the `KeyError` if I use the `TkAgg` matplotlib backend and run in Spyder integrated console on a Windows VM.  Still investigating.

[2020-09-10 15:06] drammock commented on #8231
In a windows VM, using ipython in a regular Anaconda Prompt (not the Spyder integrated console), and using the `TkAgg` matplotlib backend, I do not get a `KeyError` and the scrolling seems fine (although note again that click-drag behavior of the scrollbar is not supported on any platform or backend).  So I think this is a Spyder problem.

[2020-09-10 15:06] BarryLiu-97 commented on #8231
Got it. To be honest, I never noticed the backend of matplotlib.

[2020-09-10 15:08] BarryLiu-97 commented on #8231
I used pycharm. And I get that drag is not supported, the real meaning is click, I mixed up.

[2020-09-10 15:09] BarryLiu-97 commented on #8231
Thank u for reminding me.

[2020-09-10 15:24] ometett opened #8233 "mne-edf2fiff does not exist"
Dear mne team,

I am a bioengineering student who is working on a project that involves bringing eeg channels&data into meg(.fif) file. I have my EEG data in .edf format and I want to convert it to .fif so that I can append those two files together. I have been searching for mne_edf2fiff but I could not find it anywhere. I successfully downloaded mne-python and have been using but I am guessing th

[2020-09-10 16:12] BarryLiu-97 commented on #8231
I'll investigate. It's time to sleep. I'll update the progress later.

[2020-09-10 16:13] BarryLiu-97 commented on #8231
Thank u for your help!

[2020-09-10 16:32] larsoner commented on #8233
mne_edf2fiff is part of MNE-C:

- https://mne.tools/stable/install/mne_c.html
- https://mne.tools/mne-c-manual/MNE-manual-2.7.3.pdf

In mne-python the equivalent would be something like:
[code]

[2020-09-10 16:32] #8233 closed

[2020-09-10 18:55] drammock commented on #8231
I downloaded PyCharm (community edition) and cannot reproduce the `KeyError` (on Linux, running the commands in iPython in the PyCharm integrated terminal).  So I'm only able to reproduce it on Windows VM, using Spyder integrated console, with backend="inline" in the Spyder settings.  Other MPL backend settings within Spyder work fine for me (tested Qt5 and TkAgg).  Using Spyder on Linux, I get no

[2020-09-10 18:55] #8231 closed

[2020-09-10 19:56] #8215 closed

[2020-09-10 20:29] LMBooth commented on #8142
Hi @drammock , i'd like to contribute toward your work on #7955 to allow the passing of figures to plotting functions, would you be okay with me creating a fork and submitting proposed changes?

[2020-09-10 21:20] hoechenberger commented on #8231
PyCharm supports automatic capturing of plots similar to what Spyder offers, but to my knowledge this feature is part of the "Scientific Mode" and only available in the Professional Edition. This could be the reason why you couldn't reproduce using Community Edition.

https://www.jetbrains.com/help/pycharm/matplotlib-support.html#console

[2020-09-10 23:34] XPeriment2 opened #8236 "Automatic ICA component rejection?"
Is there any solution for something like MARA (eeglab) for ICA components automatic rejection?

thank you

[2020-09-10 23:36] XPeriment2 opened #8237 "finding EOG/ ECG artifacts"
trying to use on EEG 60 channels data:
ecg_epochs = create_ecg_epochs(baseline)

without having a specific ecg channel, however it is not able to calculate a ECG channel.

create_eog_epochs(baseline, dict(mag=5e-12, grad=4000e-13),
                               picks='eeg').average()
also, not having an eog channel, no EOG channels are found using this.
When i try to specify a frontal channel in

[2020-09-10 23:42] XPeriment2 commented on #8237
same thing happens with SSP on
compute_proj_ecg
compute_proj_eog

[2020-09-11 02:06] BarryLiu-97 commented on #8231
Thank u  very much

[2020-09-11 07:04] agramfort commented on #8237
yes these functions do require to have an ECG or EOG channel to identify the artefact automatically.

[2020-09-11 07:04] #8237 closed

[2020-09-11 07:05] agramfort commented on #8236
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-09-11 07:05] #8236 closed

[2020-09-11 07:20] agramfort commented on #8232
would you just do a DC offset or a z-score?

DC will not fix the scaling issue

[2020-09-11 11:40] olafhauk opened #8238 "wrong reference to src in _prepare_label_extraction"
#### Describe the bug
Using _prepare_label_extraction with stc=None produces error

~/MEG/MNE-Python-Devel/mne-python/mne/source_estimate.py in _prepare_label_extraction(stc, labels, src, mode, allow_empty, use_sparse)
   2955                                  % (n_missing, len(v), hemi))
   2956     else:
-> 2957         vertno = src['vertno']
   2958
   2959     nvert = [len(vn) for vn in vertno]

[2020-09-11 12:10] agramfort commented on #8232
we can add an stc.apply_baseline method but we need to be aware that will
not
keep provenance of this step in the stc files.

I can live with that

[2020-09-11 12:26] #8238 closed

[2020-09-11 12:32] larsoner opened #8241 "BUG: VTK/PyVista not freeing memory with multiple figures"
A lot of our `master` builds have failed lately, like:

https://app.circleci.com/pipelines/github/mne-tools/mne-python/3597/workflows/fcb12f01-1f51-4d87-8697-5ac9e30f9411/jobs/22228

@GuillaumeFavelier I suspect it could be some recent-ish (within the last 2 months?) viz update. It was happening before the PyVista 0.26 release. Can you look to see if code from a month or two ago uses the same memo

[2020-09-11 13:23] larsoner commented on #8071
I think this gives an informative error in latest `master` from #7802

[2020-09-11 13:23] #8071 closed

[2020-09-11 13:35] larsoner opened #8242 "MAINT: Tests taking too long"
From #8240 the [conda job](https://travis-ci.org/github/mne-tools/mne-python/jobs/726257527#L5948-L5968) has:
[code]
EDIT: And the [pip job](https://travis-ci.org/github/mne-tools/mne-python/jobs/726257528#L5679-L5699):
[code]
Looks like `mne/viz` and `mne/viz/_brain` are particularly painful.

At least for `_Brain` it would be good to figure out where the overhead comes from -- this is going to c

[2020-09-11 13:49] GuillaumeFavelier commented on #8242
I'll take a look as soon as I can @larsoner

[2020-09-11 14:56] larsoner commented on #7162
@GuillaumeFavelier it looks like the only remaining items for 0.21 are:

- jupyter notebook integration
- Reduce pyvista viz test time

I'm not sure the notebook integration with multi-views is critical here. @agramfort you okay to push this to 0.22? I'm a bit worried about trying to add this feature right before release. Seems like it would be better to have some time to test it.

[2020-09-11 15:03] GuillaumeFavelier commented on #8242
It's an item of #7162

[2020-09-11 16:31] agramfort commented on #7162
yes for 0.22

[2020-09-11 18:13] GuillaumeFavelier commented on #8242
In most of our tests, the plotters are actually closed just after rendering the scene so I'm not sure it's enough. I'll try it of course.

I was thinking about turning `_add_mesh` or `add_actor` into a no-op function.

[2020-09-11 18:54] larsoner commented on #8242
This would actually kill the testing of MNE->pyvista->VTK, so it would be better to avoid this if possible. SetVisible, on the other hand, just kills VTK->GPU (in theory at least; we trust VTK to work at this level I think)

[2020-09-11 18:55] GuillaumeFavelier commented on #8242
But we set this actor property after everything is already mapped right? I think it's already too late for the GPU

[2020-09-11 18:58] GuillaumeFavelier commented on #8242
And by "no-op" I mean returning an actor with a mapper associated to no dataset.

[2020-09-11 18:58] larsoner commented on #8242
I'd be surprised if a complex scene involving volume rendering for example doing `SetVisible(False)` had no impact on rendering speed. All computations involving the ray projection and stuff should be skipped completely by an efficient implementation. Maybe it's assuming too much that VTK has done these optimizations.

At the level of the GPU, even things like vertex shaders should have things in

[2020-09-11 22:47] hoechenberger opened #8247 "Tuple as default parameter in function signature is not rendered correctly in the documentation"
For example, the signature of `Epochs.apply_baseline()` is:

[code]

yet, [in the documentation](https://mne.tools/dev/generated/mne.Epochs.html?highlight=epochs#mne.Epochs.apply_baseline) this is rendered as:

[code]

[2020-09-12 00:32] larsoner commented on #8247
Upstream bug https://github.com/sphinx-doc/sphinx/issues/8052 https://github.com/sphinx-doc/sphinx/pull/8053

[2020-09-12 00:32] #8247 closed

[2020-09-12 00:38] #8242 closed

[2020-09-12 05:35] balandongiv opened #8249 "Getting Error: "'NoneType' object has no attribute '_check_3d_figure'" when append custom user-defined figures in MNE Reports"
The objective is to append  a matplotlib figure into the MNE report using the `add_figs_to_section `. However, the compiler return an error

May I know how to fix this issue?

The full code to reproduce the above error is as below:

[code]

[2020-09-12 05:53] balandongiv commented on #8249
Problem fixed:

Instead of
`rep.add_figs_to_section (tab_me_x, captions='captions', section='custom')`
replace to
`rep.add_figs_to_section (tab_me_x.figure, captions='captions', section='custom')`

[2020-09-12 05:53] #8249 closed

[2020-09-12 08:25] hoechenberger commented on #8232
Hm, I thought this had been discussed a couple of years ago, and it was decided that it might not be the best idea to have this:
https://github.com/mne-tools/mne-python/issues/962

[2020-09-12 08:32] GuillaumeFavelier commented on #8241
It's an item of #7162

[2020-09-12 08:43] agramfort commented on #8232
@olafhauk can you have a look at discussion in https://github.com/mne-tools/mne-python/issues/962 ?

[2020-09-12 21:18] drammock commented on #8142
@LMBooth the best practice would be to fork mne-tools/mne-python (rather than forking drammock/mne-python) and then add my fork as an additional remote.  That will make it easier in the long run to (1) keep mne-python current, and (2) submit your changes as a separate PR (if that turns out to make more sense than rolling it into #7955).  After forking the main repository to your user account via t

[2020-09-13 01:14] DariusRH opened #8250 "mne read_proj Unbound local error 'global_nchan' referenced before assignment"
Dear All,

I’m trying to clean any heartbeat related artifacts from an EEG+ECG recording. To do this I’m computing a signal spatial projection for the ECG data recorded in a Bio channel. Then I created a function to save this projection as a fif file then using the saved file, plot the projection as a topomap. Creating the projection and saving it as a fif seem to be working, but an unbound local

[2020-09-13 07:44] ddbbqqpp opened #8251 "tmin and tmax is Error if edf_info record_length"
## Get EDF infos
[code]

## Result
[code]
**Notice**

_'record_length': array([2., 1.])_
the duration seconds twice as much as n_records or nsamples / max_samp

So, can't get the data, Because
raise ValueError(...) about of tmin and tmax

        max_time = (self.n_times - 1) / self.info['sfreq']
        if tmax is None:
            tmax = max_time

        if tmin > tmax:
            raise ValueE

[2020-09-13 08:41] ddbbqqpp commented on #8251
base.py
max_time = (self.n_times - 1) / self.info['sfreq']
change to
max_time = self.times[-1]

[2020-09-13 13:56] agramfort commented on #8251
can you send us a pull request with the fix? thanks

[2020-09-13 14:00] agramfort commented on #8250
can you share with me the edf file so I can replicate the issue?

[2020-09-13 15:06] LMBooth commented on #8142
Thank you so much for explaining that to me Daniel (I'm a total novice to github). I can completely understand not wanting to merge with #7955 due to it complicating the review process. I'll do as you've suggested with the 3 remotes between my own and your forks and the mne main and like you said, save for a separate PR.

I've got the plot_raw_alt function working, when do you expect the psd or ep

[2020-09-13 22:40] DariusRH commented on #8250
Sure, the edf, proj and py files are in this zip folder.

[read proj issue.zip](https://github.com/mne-tools/mne-python/files/5215272/read.proj.issue.zip)

Thanks for helping with this.

[2020-09-14 01:14] jdkoen commented on #7848
I will have to get to it for the 0.22 release. Hopefully I will have a
little more spare time at the end of this upcoming week.

On Wed, Sep 9, 2020 at 9:32 AM Eric Larson <notifications@github.com> wrote:

[2020-09-14 10:32] cbrnr commented on #8251
@ddbbqqpp I don't understand where the error occurs. Is it after the initial code snippet (`mne.io.edf.edf._get_info`)? Or when loading the EDF file (`mne.io.read_raw_edf`)? Could you please post a minimal example that demonstrates the issue? It might also be necessary to share the specific EDF file, because I haven't come across this error with other EDF files so far.

[2020-09-14 12:42] olafhauk commented on #8232
I agree that baseline-correction is not recommended for noise-normalised estimates, because additivity is obviously not valid for ratios anymore. Baseline-corrections also does not remove slow drifts.

However, in my view BC is recommended for unsigned activity estimates, because the mean of rectified signals is biased by their noise levels (as e.g. for power/RMS in signal space). Comparing unsign

[2020-09-14 13:10] larsoner commented on #8250
@DariusRH I cannot replicate with this more minimal example:
[code]
Can you see if this runs at your end? I think your script had some errors, for example you try to save the output `ecg_projs` from `ecg_projs = mne.preprocessing.compute_proj_ecg(...)`, but there are actually two outputs, so you are saving the wrong thing (you either want to use `ecg_projs, _ = mne.preprocessing.compute_proj_ecg(.

[2020-09-14 13:38] larsoner commented on #8008
Okay I'll close this for now then

[2020-09-14 15:38] drammock commented on #8142
hard to say. In principle #7955 could be merged without adding Epoch or ICA support, and those could be separate PRs.  If my colleagues agree we should go that route, it might be merged as soon as a week from now.  If we wait until Epochs and ICA support are finished, and/or the addition of proposed new functionality (click-drag to show a spectrum plot of the selected time span; right-click channe

[2020-09-14 16:06] #8250 closed

[2020-09-14 18:47] hoechenberger commented on #8216
Couldn't we simply **keep** the baseline attribute, even if the baseline period falls outside of the remaining time points after cropping? And in the `str` or `repr` of the `Epochs` / `Evoked`, we could easily detect this case, and display it sth like this:

[code]
Isn't that what @virvw suggested? It would make it much clearer that
- baseline-correction was applied at one point
- but the baseline

[2020-09-14 20:23] #8045 closed

[2020-09-14 20:32] larsoner commented on #8216
That would be nice, and it would avoid us having to do a bunch of `verbose='error'` to ignore the baseline removed bits. @hoechenberger feel free to try changing the code to do this and let's see if it works. My guess is that it's going to be a challenge and we decided it was easier just to discard the information previously, but I'm not sure.

[2020-09-14 20:33] larsoner commented on #8216
I consider this idea a block for 0.21 release since it affects some warnings we now emit in this cycle...

[2020-09-14 20:56] hoechenberger commented on #8216
@larsoner I can implement this, but I will be busy until including Friday. So no chance I will get this done before the weekend. Let's push the planned release date by a week?

[2020-09-15 00:10] ometett opened #8257 "cannot add eeg channels/data into meg file"
Dear MNE team,

I hope you are doing alright. I am an enthusiastic bioengineering student who is working on a tool for MEG/HD-EEG analysis. I have the eeg and meg recording from the same patient and I want to add the eeg data/channels into the meg file to be able to analyze them together under one .fif file. I have converted my eeg recording(.edf) to .fif format so they are in the same format now.

[2020-09-15 06:22] hoechenberger commented on #8216
Note to self: To handle cases where the baseline was specified with an implicit  boundary `tmin=None` or `tmax=None`, we actually need an attribute to keep track of whether we chopped off part of the baseline during cropping. `Epochs._baseline_was_cropped` or something. </end of note to self>

[2020-09-15 06:32] hoechenberger commented on #8216
Note to self 2: When a user specifies an implicit time via `tmin=None` or `tmax=None`, always auto-map it to an explicit time. i.e.,

[code]
instead of what we have currently:
[code]

[2020-09-15 06:41] hoechenberger opened #8258 "Restrict allowed "verbose" values, or make the verbose kwarg a keyword-only argument?"
Call me stupid but I just spent 5 minutes trying to "debug" why this wasn't doing as I expected:

[code]

Obviously, the baseline period should be specified as a tuple… What happened here is that instead of throwing an error message, I ended up with Epochs without baseline correction. Signature of `apply_baseline` is:
[code]
So `verbose` was simply set to `0`.

While you could always argue that of

[2020-09-15 07:03] cbrnr commented on #8258
I like both suggestions: make `verbose` a kw-only argument and restrict its values.

[2020-09-15 07:58] hoechenberger commented on #8258
There's a third (complementary) solution: at one point, we should start discussing adding type annotations.

[2020-09-15 10:54] cbrnr commented on #8258
Let's try to move this point as far as possible into the future...

[2020-09-15 10:58] larsoner commented on #8258
I'm fine with adding the `*` to functions where `verbose` is close to the other arguments. We can even just start with `apply_baseline` for 0.21 as I agree it's a likely candidate for this problem.

I'm also fine with making the `verbose` decorator more picky, but let's do that early in 0.22

[2020-09-15 11:00] hoechenberger commented on #8258
I can do this later tonight I believe.

[2020-09-15 11:00] larsoner commented on #8216
@hoechenberger okay for me to take a stab at this today or tomorrow? It would be nice not to have to delay release a full week...

[2020-09-15 11:11] hoechenberger commented on #8257
Hello @ometett,

great to hear you're trying to get started with MNE! It's going to be an amazing, but sometimes bumpy journey ;)

The first argument to `concatenate_raw` should be a list or tuple of Raw, so the correct way to invoke it is sth like:
[code]

But that doesn't really achieve what you want to achieve either.

I **suppose** what you would have to do is:
- Add new "empty" channels chann

[2020-09-15 11:13] larsoner commented on #8257
People should not have to touch private attributes like `_data`, it's dangerous. In this case, `MEG.add_channels([EEG])` should work.

Also, make sure `type(MEG)` and `type(EEG)` are both `RawFIF`. I think in your code MEG is probably a `tuple`, which suggests maybe it was obtained from the output of another function and you need to split the output like `MEG, somethingelse = func(...)` or `MEG =

[2020-09-15 11:13] hoechenberger commented on #8216
Yes, by all means, do take a stab! I'm always happy if others do some of my work ;)

[2020-09-15 11:14] hoechenberger commented on #8216
What do you think of this? Would allow us to easily figure out if the baseline is still present on-the-fly.

[2020-09-15 11:15] hoechenberger commented on #8257
Wow, really? That's great to know!

[2020-09-15 11:17] larsoner commented on #8216
It might end up being nicer/cleaner to do it that way. I think it will break some tests, and either way we're going to need to figure out if the baseline is "pending" or not depending on preload, so not sure it will buy us too much. But we'll see...

[2020-09-15 12:44] cbrnr opened #8259 "How should we compute signal length?"
I just stumbled over something that I would like to discuss. Let's assume I load a data file containing 9760 samples, and the sampling frequency is 160Hz. Clearly, the length of the data is 9760 samples. But what is its length in seconds? Currently, MNE reports 61.0 s (in `Raw.__repr__`). However, wouldn't it be more accurate to say that the signal is `(9760 - 1) / fs = 60.99375` seconds long if w

[2020-09-15 12:48] larsoner commented on #8008
@wmvanvliet I'm trying to speed up some examples and noticed [in master](https://mne.tools/dev/auto_examples/inverse/plot_dics_source_power.html#sphx-glr-auto-examples-inverse-plot-dics-source-power-py) the DICS example gives:

![](https://mne.tools/dev/_images/sphx_glr_plot_dics_source_power_001.png)

[0.20 stable has](https://mne.tools/stable/auto_examples/inverse/plot_dics_source_power.html#sph

[2020-09-15 12:57] larsoner commented on #7599
@GuillaumeFavelier looks like the topology problems are still there:

https://mne.tools/dev/auto_examples/inverse/plot_source_space_snr.html#sphx-glr-auto-examples-inverse-plot-source-space-snr-py

[2020-09-15 12:57] cbrnr commented on #8259
Never mind, I just saw that what's reported in `__repr__` is rounded to one decimal place - that's why it's 61.0, but it really is `self.times[-1]`.

[2020-09-15 12:57] #8259 closed

[2020-09-15 13:08] hoechenberger commented on #8216
Personally, as a user, I would prefer it that way anyway. Or at least replace the `None` in the time period with `∞` :) `None` is really just an implementation detail that probably shouldn't leak into the user-parsable string representation

[2020-09-15 13:17] wmvanvliet commented on #8008
master certainly is wrong...

[2020-09-15 13:21] wmvanvliet commented on #8008
we need either `inversion='single'` or `reduce_rank=True` to make it work again.

[2020-09-15 13:30] larsoner commented on #8008
Indeed `reduce_rank=True` works, I'll add it to #8260. Thanks for the quick investigation!

[2020-09-15 14:16] #8008 closed

[2020-09-15 14:39] agramfort commented on #8258
remind me of

np.zeros(2, 3) :)

[2020-09-15 14:49] ometett commented on #8257
Dear @larsoner  and @hoechenberger,

Thank you for the quick response. I am glad. Both MEG and EEG are the same type(fiff.raw.Raw) however, it's giving me an error "AssertionError: All data dimensions except channels must match, got [632000] != [623660]" I suspect this is because the eeg recording is slightly longer than the meg recording. Could cutting the portion of my eeg recording from its tai

[2020-09-15 14:52] larsoner commented on #8257
Yes, but you need to ensure they are aligned in time. Whether this means cropping the beggining, ending, or resampling to deal with slight clock differences depends on your actual data...

I would use the timing of triggers sent to both systems to determine what you need to do. When working on this sort of problem I've observed linear drifts in the clocks of the two systems, meaning that cropping

[2020-09-15 14:52] olafhauk commented on #8140
I need advice on how to deal with changes to an API that affects users.
I would like change the option 'norm' from Bool to 'max' | 'norm' | None such that users also have a choice of different normalisations (to max value and norm). I don't know how many current users this will affect (maybe not many).
Should I still allow Bool (and choose a default for 'True') and use mne.utils.warn()?
I also add

[2020-09-15 14:56] hoechenberger commented on #8257
Were these **actually** simultaneous recordings? Are you sure they started at **precisely** the same time (i.e. with an offset of less than one milli-second)? Then it should be okay to just crop them to the same duration. Otherwise – no. You'd have to find a marker that was sent to both recording systems at the precisely same moment to align them.

Btw could you please try to include error message

[2020-09-15 15:05] larsoner commented on #8216
I am also getting errors like this on `master`:
[code]
i.e., instead of a warning I'm getting an error. So I don't think `re`-matching our errors is the safest route here -- it's also not robust to future changings in wordings of these errors.

I'm thinking that we should probably revert #8156 for the release -- it seems to risky to include it at this point. Then we can add it back in or put the s

[2020-09-15 15:08] hoechenberger commented on #8216
How about just reverting the `re`-matching part? I actually only included it because @agramfort wasn't too happy about the broad exception handling (catching **all** `ValueError`s) which had been there before.

[2020-09-15 15:10] hoechenberger commented on #8216
@larsoner It's these two commits:
https://github.com/mne-tools/mne-python/pull/8156/commits/def384dd2494043950c83d158d93d2959007f532
https://github.com/mne-tools/mne-python/pull/8156/commits/2de7accc85ca12431aff838b61b40a2903fe3500

[2020-09-15 15:12] hoechenberger commented on #8258
I **literally** had to run this code to figure out what's wrong with it. Ouch.

[2020-09-15 15:15] larsoner commented on #8216
It's a bit more than this, though. This catching thing in particular is buggy, but also more generally:

1. The PR changed a lot of core code, so it's risky to change right before release (as evidenced by bugs I just now found by trying to use it in practice)
2. In this issue we talk about trying to at least revert some or all of the warnings anyway by properly tracking baseline in all conditions,

[2020-09-15 15:19] larsoner commented on #8140
I would just make `True` an alias for `'norm'`, no need for deprecating I think.

[2020-09-15 15:23] hoechenberger commented on #8216
Fair enough, let's revert #8156 and try to address these changes ASAP after cutting the release? I'm worried about ending up in rebase hell. 😵

Probably the changes discussed here should then also be added to the  #8156 branch, I can imagine things becoming super messy otherwise, WDYT?

[2020-09-15 15:44] larsoner commented on #8216
It's probably worth starting fresh with making Epochs work with a baseline that's outside the window, then adding the appropriate parts of #8156 on top just by copy-pasting code in a new branch

[2020-09-15 15:50] agramfort commented on #8216
oups... indeed reverting appears much safer

On Tue, Sep 15, 2020 at 5:44 PM Eric Larson <notifications@github.com>
wrote:

[2020-09-15 15:52] agramfort commented on #8140
fine with me

[2020-09-15 15:57] agramfort commented on #8232
so you would suggest to use it with free orientation and method='MNE' but
discourage
it with dSPM or sLORETA?

[2020-09-15 16:48] hoechenberger commented on #8216
😭

Go ahead, revert my baby! 😵

[2020-09-15 17:46] ometett commented on #8257
Dear @larsoner and @hoechenberger  ,

Thank you for the quick response. I have checked their sampling frequency and both of them are sampled in 1000 Hz. I have somehow made it work by cutting it from the end making their durations equal. At first it gave me an error message.

  File "C:\For Omer\work.py", line 74, in <module>
    MEG.add_channels([EEG3],force_update_info= False)

  File "C:\Users\

[2020-09-15 18:03] larsoner commented on #8257
I'm not 100% sure this is enough. Quoting an email I sent to someone else about this at some point:

So I'd advise at least checking for drift, too. It's entirely possible I'm misunderstanding how these things work -- my data only had two triggers, too, which is not great -- but you might save yourself some pain later by ensuring you have some fixed known signal (like a trigger) the same across bo

[2020-09-16 00:15] ddbbqqpp commented on #8251
Maybe I made a mistake, Calculated  the duration

[2020-09-16 00:15] #8251 closed

[2020-09-16 08:37] hoechenberger commented on #8150
We need to draft an announcement. Also with the last release we had this small video clip demonstrating the new Time Viewer. We should do a similar demo of some notable features in 0.21 as well. Which are the most notable features?

[2020-09-16 08:50] hoechenberger commented on #8150
Maybe:

- muscle artifact detection #7407
- improved diploe plotting #8188
- allow renaming of montage channels #7685
- volumetric atlas support #7639
- eSSS #7156
- STC flatmap #8082
- REST  #8132
- cov.plot_topomap #8197
- Persyst reading #8176
- Nihon Kohden reading #6017

[2020-09-16 08:54] cbrnr commented on #8150
Maybe `mne.io.read_raw` #7809 is also worth mentioning as a QoL improvement.

[2020-09-16 09:06] hoechenberger commented on #8150
From the chanelog:

- Add 'auto' option to mne.preprocessing.ICA.find_bads_ecg() to automatically determine the threshold for CTPS method by Yu-Han Luo
- Add a notebook 3d backend for visualization in jupyter notebook with mne.viz.set_3d_backend() by Guillaume Favelier
- Use PyVista as the default backend for 3D visualization instead of Mayavi by Guillaume Favelier

[2020-09-16 11:03] larsoner commented on #8150
* Volumetric 3D rendering (#8064)

[2020-09-16 11:04] larsoner commented on #8150
BTW we are not ready to release, I'm still doing battle with CircleCI

[2020-09-16 11:07] cbrnr commented on #8150
@hoechenberger since we're already discussing the release, did you have time to work on an `mne-base` package in conda-forge by any chance? I think this would be pretty useful, because the standard package is really quite bloated if all you need is basic EEG analysis tools.

[2020-09-16 11:23] hoechenberger commented on #8150
@cbrnr Yes, in https://github.com/conda-forge/mne-feedstock/pull/37
I stopped at some point, I believe there were some difficulties, but cannot remember any details! Would be happy to try picking this up again. But not before the weekend.

[2020-09-16 11:51] drammock commented on #8150
If possible I'd like us to start highlighting the contributions of new-to-mne developers in our release announcements. At a minimum, maybe "there were N contributions from M first-time contributors in this release cycle". Better would be to also give examples and call out their names.

[2020-09-16 12:02] larsoner commented on #8150
Maybe we should start this process by bolding the entries in the `latest.inc`?

[2020-09-16 12:17] drammock commented on #8150
That could work, although I wonder if folks read the whole changelog (i.e., would bolding actually increase visibility if it's not being read?)

[2020-09-16 12:20] larsoner commented on #8150
Some people might, either way they get more visible and next time it's easier to know which entries we should add based on being from new contributors next time. To be clear, I'm suggesting that we just start by doing the bolding in `master` (and make this what we try to do going forward) -- the next step is to use this bolding to facilitate adding to the release notes for this release.

[2020-09-16 12:22] drammock commented on #8150
Ah, got it. Seems like a good approach

[2020-09-16 12:22] cbrnr commented on #8150
Should we also add the related PRs to all new entries? This would be very handy for people who would like to dig into the corresponding code changes.

[2020-09-16 12:31] larsoner commented on #8150
If someone wants to do this, feel free. I'm not up for it, I suspect it's going to take some time... the fastest way I can think of is to look at the `git blame` page of our `latest.inc` and you'll probably get most of the PR numbers from each line, though some will have to be manually adjusted / searched for due to rebases, merges, typo fixes, etc.

Another option going forward in other repos I'v

[2020-09-16 12:47] cbrnr commented on #8150
I was thinking of adding the PR only for new changes going forward - I wouldn't want to do it for all changes (in 0.21) either. As long as we manually create changelog entries, it should not be too much effort for the contributor to also add the corresponding PR. If there is a way to automatically generate the complete changelog - yes, we should go for it, but this seems like it will probably need

[2020-09-16 12:55] sappelhoff commented on #8150
we are doing this "manual" changelog with PR links in MNE-BIDS, see [changelog](https://mne.tools/mne-bids/stable/whats_new.html).

I would be in favor of continuing the changelog manually and simply adding a PR link "on top". The effort is low, and the benefit is tangible.

re: automatic changelog generation --> would it save a lot of time? would it be of an equally high quality? ... or will it t

[2020-09-16 12:57] flecaignard opened #8267 "Joint time-interactive evoked plots"
Hi everyone,

I need a tool to assess both in time and in space the differences between two (or more) evoked responses. To do so, so far, I've used evoked.plot_topomap(times='interactive') for eahc of my evoked object. This is  really not convenient in the long run because then I need to synch manually the time slider of each map, and I need to adjust colorscales too..
So I was wondering whether i

[2020-09-16 13:01] larsoner commented on #8150
This is an automatically generated one:

https://sphinx-gallery.github.io/stable/changes.html

So basically we would set the PR title to what we want the changelog entry to be, and instead of putting it in a section we tag it with a GitHub label. So the quality depends on how nicely you format your PR titles.

In general it does save work for contributors because there is no need for rebase/merge

[2020-09-16 13:46] hoechenberger commented on #8150
I just wanted to share that I very much like this idea, particularly in the context of #8221

[2020-09-16 15:09] olafhauk commented on #8140
For mode='svd', I would like to output the variances for the different components in addition to the STC (useful to select components later). Do you allow this (couldn't find this anywhere else):
[code]

[2020-09-16 15:11] agramfort commented on #8140
I would add another parameter called return_exp_variance ? saying it
only applies if mode  == 'svd'

[2020-09-16 19:24] chapochn opened #8270 "plot_psd crashes when ch_types is not indicated in info"
#### Describe the bug
plot_psd does not work when ch_types is not indicated in info

#### Steps to reproduce
[code]

Whereas this works
[code]

#### Expected results
expected to see the plot

#### Actual results
Traceback (most recent call last):
  File "<input>", line 6, in <module>
  File "<decorator-gen-156>", line 21, in plot_psd
  File "/Users/.../opt/anaconda3/envs/mne/lib/python3.8/site-pac

[2020-09-16 19:26] larsoner commented on #8270
Thanks for the report! However, this is intended behavior. Channel types are important in MNE, and you should set them to the correct types. In this case, the error message about "no data channels" seems to have steered you in the right direction, namely of setting the channel type of your data to ECoG.

[2020-09-16 19:26] #8270 closed

[2020-09-16 19:36] chapochn commented on #8270
This crashes too:

[code]
Is that also intended? With exactly the same error message.

[2020-09-16 19:40] larsoner commented on #8270
Yes, because there are no data channels. If you really want plot_psd of your misc channels pass `plot_psd(fmax=200, picks='all')` or `plot_psd(fmax=200, picks='misc')` or so. The default (None) picks "good data channels":

https://mne.tools/dev/generated/mne.io.Raw.html#mne.io.Raw.plot_psd

And there are no "data channels" at all if all of your channels are MISC type

[2020-09-16 19:41] larsoner commented on #8270
See also

https://mne.tools/dev/glossary.html#term-data-channels

[2020-09-16 19:51] chapochn commented on #8270
Thanks for the links and explanations!
Neither `plot_psd(fmax=200, picks='all')` nor `plot_psd(fmax=200, picks='misc')` works actually... Gives the error: 'No data channels found'
I was wondering if there would be some channel with just "arbitrary units" or something like that?

[2020-09-17 00:28] rob-luke commented on #8150
Its probably not as widely used as the features hoechenberger highlighted, but support for NIRS over 0.20 and 0.21 has increased. Slight bias here.

[2020-09-17 06:42] anupdas777 opened #8271 "'NoneType' object has no attribute '_Renderer'"
I am using the following code to plot ECoG electrodes on a brain surface using MNE toolbox.

montage = mne.channels.make_dig_montage(elec_dict, coord_frame='head')
info = mne.create_info(ch_names, 1000., 'ecog').set_montage(montage)
subjects_dir = '/home1/anup.das/mne_data/MNE-sample-data/subjects/'
fig = plot_alignment(info, subject='fsaverage', subjects_dir=subjects_dir, surfaces=['pial'])

Howe

[2020-09-17 06:46] agramfort commented on #8271
this suggests that you have neither mayavi nor pyvista working on your system to be able to do 3D plots

[2020-09-17 06:55] anupdas777 commented on #8271
I have both of these installed, still getting the error.

[2020-09-17 07:00] anupdas777 opened #8272 "AttributeError: 'NoneType' object has no attribute '_Renderer'"
I am using the following code to plot ECoG electrodes on a brain surface using MNE toolbox.

montage = mne.channels.make_dig_montage(elec_dict, coord_frame='head')
info = mne.create_info(ch_names, 1000., 'ecog').set_montage(montage)
subjects_dir = '/home1/anup.das/mne_data/MNE-sample-data/subjects/'
fig = plot_alignment(info, subject='fsaverage', subjects_dir=subjects_dir, surfaces=['pial'])

Howe

[2020-09-17 07:04] GuillaumeFavelier commented on #8271
Could you share the results of:

[code]

And also:

[code]

[2020-09-17 07:13] anupdas777 commented on #8271
While executing "mne.sys_info()", I am getting an error "Kernel Restarting The kernel for Test.ipynb appears to have died. It will restart automatically." Do you know what I am doing wrong? Why the kernel is dying? Thanks.

[2020-09-17 07:13] anupdas777 commented on #8271
While executing "mne.sys_info()", I am getting an error "Kernel Restarting The kernel for Test.ipynb appears to have died. It will restart automatically." Do you know what I am doing wrong? Why the kernel is dying? Thanks.

[2020-09-17 09:41] agramfort commented on #8271
you have an install pb certainly of vtk

[2020-09-17 10:28] drammock commented on #8272
Duplicate of #8271

[2020-09-17 10:28] #8272 closed

[2020-09-17 11:56] olafhauk commented on #8232
Yes - only method='MNE'. It could be useful for all orientation options, but recommended for unsigned estimates.
Looking at appy_inverse() now, is it possible to compute unsigned estimates for fixed orientations?
I'll have to think about beamformers (should be the same logic as long as they are estimating intensities, not variances or SNRs).
What about a function mne.source_estimate.correct_baseli

[2020-09-17 11:59] cbrnr opened #8273 "Speed up CIs with mamba?"
I recently tried [mamba](https://github.com/mamba-org/mamba) as a drop-in replacement for conda. As advertised, it seems to be much faster, so this might be an easy way to speed up our CIs (not sure how much time is spent on bootstrapping envs and installing packages, but I guess every bit matters).

There's even [micromamba](https://gist.github.com/wolfv/fe1ea521979973ab1d016d95a589dcde), which e

[2020-09-17 12:32] larsoner commented on #8273
Seems worth trying, a bit of time is spent in the conda stages

[2020-09-17 13:08] cbrnr commented on #8273
As far as I can see we currently use `conda` only in one Windows job (disregarding the notebook job) on Azure Pipelines. Currently, micromamba doesn't work on Windows though, so maybe something for another time. I didn't know that Linux jobs use `pip`.

[2020-09-17 13:10] larsoner commented on #8273
Only one, the [others](https://github.com/mne-tools/mne-python/blob/master/.travis.yml#L54-L62) use [ci-helpers](https://github.com/astropy/ci-helpers/) which uses miniconda

[2020-09-17 13:13] olafhauk commented on #8140
Proposal accepted.

[2020-09-17 13:18] cbrnr commented on #8273
Thanks for pointing that out - I didn't know these scripts. It seems like they already support mamba (but not micromamba), so maybe the best thing would be to try to get micromamba support upstream.

[2020-09-17 13:21] larsoner commented on #8273
Sure, and in the meantime I'll get a run going with `MAMBA=true` to see if it helps

[2020-09-17 13:23] cbrnr commented on #8273
Looks like they're already on it: https://github.com/astropy/ci-helpers/issues/458

[2020-09-17 13:30] agramfort commented on #8232
you can do stc.abs() to get unsigned from signed.

stc.apply_baseline method would be more natural with a clear docstring

[2020-09-17 14:20] hoechenberger commented on #8232
+1

[2020-09-17 15:09] drammock commented on #8270
This works for me:

[code]

![Screenshot_2020-09-17_10-07-49](https://user-images.githubusercontent.com/1810515/93490226-d09aa000-f8cd-11ea-814d-d2eba1469d65.png)

If it doesn't work for you than please report the results of `mne.sys_info()`

[2020-09-17 17:13] chapochn commented on #8270
It doesn't work for me. I still get a "RuntimeError('No data channels found')". Here is my config:

Platform:      Linux-5.4.0-47-generic-x86_64-with-glibc2.10
Python:        3.8.5 | packaged by conda-forge | (default, Aug 29 2020, 01:22:49)  [GCC 7.5.0]
Executable:    /home/.../Programs/anaconda3/envs/mne/bin/python
CPU:           x86_64: 4 cores
Memory:        15.4 GB
mne:           0.20.8
numpy

[2020-09-17 17:18] anupdas777 commented on #8271
Can you please send commands to uninstall pb of vtk? Or, uninstall entire vtk? Thanks.

[2020-09-17 17:31] drammock commented on #8271
you (probably) need to uninstall and then reinstall vtk.  `pip uninstall vtk` followed by `pip install --no-cache-dir vtk>=9.0.1` is a good first thing to try. Make sure if you are using conda that you are actually in the correct conda environment (the one with MNE-Python in it) when you do this.

[2020-09-17 17:55] anupdas777 commented on #8271
Did exactly what you suggested, but kernel is still dying when I type mne.sys_info() or pyvista.Report(). Thanks.

[2020-09-17 18:11] larsoner commented on #8271
For now uninstall pyvista, it's probably the culprit. You can do `pip uninstall pyvista`. Then let us know what `mne.sys_info()` says. If that still dies, try `pip uninstall mayavi` then do it again.

[2020-09-17 18:42] anupdas777 commented on #8271
Uninstalled both pyvista and mayavi and it worked. Here is the output of "mne.sys_info()":

Platform:      Linux-3.10.0-693.17.1.el7.x86_64-x86_64-with-centos-7.4.1708-Core
Python:        3.7.7 (default, May  7 2020, 21:25:33)  [GCC 7.3.0]
Executable:    /home1/anup.das/.conda/envs/py3_env/bin/python
CPU:           x86_64: 40 cores
Memory:        Unavailable (requires "psutil" package)
mne:

[2020-09-17 18:45] larsoner commented on #8271
What do you get for `glxinfo | grep enderer` and `glxinfo | grep "OpenGL version string"`? I get for example:
[code]
showing that I have a system with modern OpenGL. If you don't have OpenGL version 3+ 3D rendering is not going to work.

[2020-09-17 18:48] anupdas777 commented on #8271
I get the following.

$ glxinfo | grep enderer
    GLX_MESA_multithread_makecurrent, GLX_MESA_query_renderer,
    GLX_MESA_copy_sub_buffer, GLX_MESA_query_renderer, GLX_OML_swap_method,
OpenGL renderer string: Gallium 0.4 on llvmpipe (LLVM 3.9, 256 bits)

$ glxinfo | grep "OpenGL version string"
OpenGL version string: 2.1 Mesa 17.0.1

[2020-09-17 19:06] bloyl commented on #8270
This works on master, but does not work on 0.20.8

There is a new release scheduled for the next few weeks, which should solve
the problem, alternatively you could upgrade to the development version
using

pip install -U https://github.com/mne-tools/mne-python/archive/master.zip

On Thu, Sep 17, 2020 at 1:13 PM chapochn <notifications@github.com> wrote:

[2020-09-17 19:30] chapochn commented on #8270
ok thanks!

[2020-09-17 21:08] RickLicona opened #8277 "3D Mayavi - Mac Os X problems"
Hi,

The Mayavi tool is too slow In Mac Os X. I am programming some MNE examples (head model and forward computation), and some times the 3D models does not appear (TVTK white window). Also, when the 3D model appears, it is impossible to interact with the models.

The fast code solution to see at least a image of the 3D simulation is:

[code]
 I would like to have a solution for this issue.

Some

[2020-09-17 21:14] larsoner commented on #8277
What is `mne.sys_info()`? I wonder if your OpenGL support is too old.

You could try wrapping the `plot_alignment` call in a `with mne.viz.use_3d_backend('pyvista')` to see if PyVista does any better, but these both use VTK under the hood so I'd be suprised.

[2020-09-17 21:32] RickLicona commented on #8277
Platform:      Darwin-19.6.0-x86_64-i386-64bit
Python:        3.6.0 (v3.6.0:41df79263a11, Dec 22 2016, 17:23:13)  [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]
Executable:    /Users/ricklicona/PycharmProjects/RExam/bin/python
CPU:           i386: 8 cores
Memory:        Unavailable (requires "psutil" package)
mne:           0.20.8
numpy:         1.15.2 {blas=openblas, lapack=openblas}
scipy:

[2020-09-18 07:10] anupdas777 commented on #8271
What's the next step that I should take to fix this? Thanks.

[2020-09-18 07:26] agramfort commented on #8277
+1 to try using pyvista

[2020-09-18 10:45] hoechenberger commented on #8277
I also wonder if VTK 9 would improve things here? We're going to release MNE-Python 0.21 very soon hopefully, with support for VTK 9.

[2020-09-18 11:06] larsoner commented on #8271
2.1 is too old. Can you try the fix suggested here with MESA_GL_VERSION_OVERRIDE to see if setting it makes the version number higher?

https://mne.tools/dev/install/advanced.html?highlight=mesa_gl_version_override#off-screen-rendering-in-mne-python-on-linux-with-mesa

If it does, then hopefully rendering works for you. If it doesn't, you'll have to look into upgrading your MESA 3D rendering libra

[2020-09-18 12:11] kingjr commented on #7778
in the meantime, a quick fix is
[code]

[2020-09-18 14:40] ometett commented on #8257
Dear @larsoner ,

You were right. Cropping EEG did not entirely fix the problem. In the EEG, I detected interictal spikes and gathered them under events, when I imported those time points into the EEG that I added inside the MEG file, I found that there was no spikes in those points, more specifically those time points were around 20 seconds behind( if first spike occured at 56 in original EEG, th

[2020-09-18 14:51] drammock commented on #8257
@ometett you need to do what @larsoner [already suggested above](https://github.com/mne-tools/mne-python/issues/8257#issuecomment-692768824): Work with the uncropped versions of EEG and MEG, find corresponding events in the two files (preferably one near the beginning and one near the end of the recordings), and use those to calculate two values:

- an offset (how much should be cropped from the b

[2020-09-18 16:45] RickLicona commented on #8277
I tried this:
[code]

**Out:**

Read a total of 3 projection items:
        PCA-v1 (1 x 102)  idle
        PCA-v2 (1 x 102)  idle
        PCA-v3 (1 x 102)  idle
Using pyvista 3d backend.

Using lh.seghead for head surface.
Getting helmet for system 306m
Using mayavi 3d backend.

**However, I got the next error message:**

QtDeprecationError: `BackgroundPlotter` has moved to pyvistaqt.
    You can

[2020-09-18 16:49] larsoner commented on #8277
Did you try the solution suggested by the error, namely `pip install pyvistaqt`? It should install, then it should not error on these lines (that way at least) anymore.

[2020-09-18 17:38] anupdas777 commented on #8271
Did the override as "$ export MESA_GL_VERSION_OVERRIDE=3.3" and I now get the following:

$ glxinfo | grep "OpenGL version string"
OpenGL version string: 3.3 (Core Profile) Mesa 17.0.1

Please suggest next step. Thanks.

[2020-09-18 17:39] ometett commented on #8257
@drammock @larsoner  I have done what you guys suggested. I have found the offset and scale value based on the trigger points at both recordings, then I used that value to calculate the sampling rate of the EEG so that they both end up at the same duration which 606 seconds, but I am still having the same results and in addition to that, I have lost data in a lot of channels, there is just noise,