[2018-02-28 21:49] dengemann opened #4979 "BUG: permutation clustering 2samp test depends on data order?"
I saw something horrible today and it can be demonstrated on our sample data. In https://martinos.org/mne/dev/auto_tutorials/plot_stats_spatio_temporal_cluster_sensors.html,
say:

[code]

then

[code]

*versus*

[code]

In other words, for a 2-sided test with fixed seed the input order produces different results.

Thoughts? @agramfort @larsoner

[2018-03-01 11:30] jona-sassenhagen opened #4980 "Minor: different errors for failure to preload?"
This is a bit confusing:
`ValueError: Epochs must be preloaded to apply ICA`
`RuntimeError: raw.filter requires raw data to be loaded. Use preload=True (or string) in the constructor or raw.load_data().`

Maybe a preload-related failure should always give the same error (and always give the `inst.load_data()` hint).

[2018-03-01 13:25] larsoner commented on #4953
Yeah something like that. A simple test would be to make the lists small (two groups of two or three?) and ensure that the correct (hard-coded) groupings are generated when you ask for the full set of permutations.

Also there needs to be some protection against trying to generate more than are possible, as the current code would loop infinitely :)

[2018-03-01 15:38] kingjr commented on #4953
can you elaborate?

[2018-03-01 15:49] dengemann commented on #4953
@kingjr in principle it can go in any direction. But it could be that by chance you have n times an identical permutation that shows a high test statistic. In that case you would over estimate the probability of making your observing under H0. In the best case these things cancel out. Yet you would get an impoverished estimate as the true number of permutations would be the number of statistically

[2018-03-01 15:59] kingjr commented on #4953
Mmmmh, I get the feeling, but I'm not sure. If the permutations are random, it shouldn't introduce a bias. But perhaps this could slightly mess up the precision of the p value estimate. If you have a clearer idea, could you make a quick simulation to show that when the two strategies differ (partition perms vs shuffle & redraw), they end with distinct p vals?

[2018-03-01 16:04] dengemann commented on #4953
I think this is the biggest risk. If you don't hit enough permutations, you may depend more on random seeds. You probably get unstable p-values.

[2018-03-01 16:06] dengemann commented on #4953
Yep. A good call. I would expect the current code and the corrected code to meet once all possible permutations are exploited. The current code should stabilize later. I can't promise to find time soon but I'll look into it. These things clearly matter for #4859

[2018-03-01 16:07] kingjr commented on #4953
Ok, that's my feeling too. which means that it's not really an inflation of H0, but an imprecision; it's then publication bias that generate the inflation.

[2018-03-01 16:14] dengemann commented on #4953
Yes. You realize that with little permutations the seed matters more. More permutations, more precision. I think as providers of stats tools we want to be sure that people can control the effective number of permutations.

[2018-03-01 16:16] dengemann commented on #4953
@kingjr Maybe we should make such simulations an example here. 1) Plot how p-value fluctuates and eventually stabilizes as you add permutations. 2) Show paths for different seeds and admire variance between them at lower number of permutations.

[2018-03-01 16:53] piotrdzwiniel commented on #4208
It would be great to include in the documentation information about the required shape of raw objects send to `add_channels` function in `add_list` list parameter. When adding only one channel it is not clear to represent this one-dimensional channel as two-dimensional matrix `n_channels, n_samples` as for example `(1, n_samples)`. It's not intuitive.

[2018-03-02 10:01] thesujitroy commented on #4484
I  am taking this issue.

[2018-03-02 10:08] dengemann commented on #4484
Great! Don't hesitate moving in small steps. It is bettet to start
somewhere and communicate early. Perfection comes in iterations.

On Fri, Mar 2, 2018 at 11:01 AM thesujitroy <notifications@github.com>
wrote:

[2018-03-03 12:51] agramfort opened #4982 "mne anonymize command"
we should have the command equivalent of

[code]

[2018-03-03 19:50] jona-sassenhagen commented on #4952
I'd like to tackle this.

- add a kwarg to `rescale` causing it to loop over trials when doing the rescaling
- add a kwarg to the `apply_baseline` methods to that regard

[2018-03-04 14:05] agramfort commented on #4952
how would the code look like?

in a fif file the baseilne is bmin bmax so we won't be able to store the
baselines in a fif file without loosiing the info of how baseline was
computed

[2018-03-04 14:06] jona-sassenhagen commented on #4952
Could store baseline in metadata ..?

[2018-03-04 14:10] agramfort commented on #4952
yes that would work

[2018-03-05 10:11] nwilming commented on #3291
Maybe this is useful for future reference.

I had a similar problem to @romquentin, one of my outer skin meshes had fairly large holes on either side. This was actually pretty easy to fix using meshlab (http://www.meshlab.net/). This is what I did:
 1. Convert freesurfrer surfaces to e.g. stl format using mris_convert
 2. Open surface in meshlab
 3. In my case I selected the faces in my 'holes' us

[2018-03-05 11:02] britta-wstnr commented on #4979
Hi @dengemann - just came across this,
isn't this due to the fact that the indices for the permutations are the same due to the seed, however, they index different trials since X is reversed - meaning your permuted data sets will look different?
I took a quick look and for me, the two solutions converge when using more permutations (`n_permutations=5000`).

[2018-03-05 11:08] dengemann commented on #4979
Hi Britta, thanks for anticipating the right test. I independently concluded that it must be arbitrary initial differences that get randomly amplified by the seed but should converge at some point. Great to hear that it seems to be this. This adds to the discussion in #4953 -- and reinforces me in thinking that we want to have a small tutorial somewhere that shows how the impact of seeds diminishe

[2018-03-05 11:44] dokato opened #4984 "problem with reading fieldtrip data"
I was trying to load a dataset from fieldtrip and noticed a small bug, when trying to plot the signal:

[code]

It's because:
[code]
in `raw.info` and MNE assumes that it will be either number or None.

To reproduce this bug you can follow sections _Procedure > Export to Raw_ from this tutorial:
http://www.fieldtriptoolbox.org/development/integrate_with_mne
 and call eg. `raw.plot()`.

I can help

[2018-03-05 12:19] agramfort commented on #4984
please send a PR

should it be fixed in Fieldtrip?

[2018-03-05 13:28] dokato commented on #4984
@agramfort In case of not detecting that info in FT header it assigns default values as (funct `fieldtrip2fiff.m`):
[code]
I think we can just replace all nans by Nones, since MNE can deal with it later on.

[2018-03-05 13:57] agramfort commented on #4984
yes sounds good

[2018-03-05 15:08] larsoner commented on #3291
@nwilming nice! It would be good to add this to the docs. We could either put it in the FAQ:

https://martinos.org/mne/stable/faq.html

Or here:

https://martinos.org/mne/stable/manual/source_localization/forward.html#topology-checks

The latter is a bit outdated / talks about MNE-C a lot. We should probably update it. But that wouldn't prevent us from adding this useful information there.

[2018-03-05 18:19] jona-sassenhagen opened #4987 "Make `epochs._hid_match` public?"
It's straight-forward to go from epochs with HIDs to dicts of evokeds with HIDs, e.g.,

[code]

Now it would be cool to do factorial contrasts with, e.g., in a perfect world,

[code]

We can't quite go there, but this would be facilitated by making `epochs._hid_match` public, for

[code]

And perhaps even

[code]

[2018-03-05 19:57] agramfort commented on #4987
to do this I would write my own container an Evoked that understands `
evokeds["aud"]`
you would not need any change to MNE then I think

[2018-03-05 19:57] jona-sassenhagen commented on #4987
That's true :) So I close?

[2018-03-05 19:58] #4124 closed

[2018-03-05 19:58] #4272 closed

[2018-03-05 20:12] agramfort commented on #4987
I would say so :)

[2018-03-05 23:01] jona-sassenhagen commented on #4987
:(

[2018-03-05 23:01] #4987 closed

[2018-03-05 23:55] jasmainak opened #4989 "autoreject (global) in MNE"
Since I have a little "free time" these days, I am wondering if there is some interest in adding `autoreject` to MNE. Although the API of autoreject (local) is not yet settled, I think adding autoreject (global) would be quite easy without any additional dependencies. We could do something like:

[code]

In the `autoreject` repository, I can internally call the MNE function so that those relying o

[2018-03-06 00:07] dengemann commented on #4989
+1 after doing the 0.1 release :)

[2018-03-06 00:08] dengemann commented on #4989
I'd probably not bake this into the epochs constructor though as, usually, you interact with the autoreject outputs. Where the hack does the aureject object go Mainak when you do it the way you suggest here?

[2018-03-06 00:20] jasmainak commented on #4989
I'm actually suggesting something more simple than what you are probably thinking. What I propose is to do it in small steps. So to start with, I would just move the functionality offered by [this example](http://autoreject.github.io/auto_examples/plot_estimate_global_reject.html#sphx-glr-auto-examples-plot-estimate-global-reject-py). And of course, it wouldn't be baked into the Epochs object. It

[2018-03-06 00:37] dengemann commented on #4989
I am thinking at this point we should just copy the future autoreject API
into MNE preprocessing.
Then we can copy over some of the examples.
Then eventually add reject=‘auto’ when we know how to then get fixlog /
droplog etc.
As long as you want to look at autoreject results you want to have the
object. That’s ok. Also keep in mind how reject interacts with .get_data
and preloading. You don’t wan

[2018-03-06 09:32] #4984 closed

[2018-03-06 12:22] agramfort commented on #4989
what is preventing a 0.1 release now?

[2018-03-06 13:06] dengemann commented on #4989
Api changes that are only 80 % realized and missing tests
On Tue 6 Mar 2018 at 13:22, Alexandre Gramfort <notifications@github.com>
wrote:

[2018-03-06 14:28] jasmainak commented on #4989
okay, let's discuss it in Inria next week :-)

[2018-03-06 15:54] bloyl opened #4991 "applying projectors to CTF data (BUG?)"
I'm seeing strange behavior applying EOG and ECG projectors to CTF datasets.

with epochs created with `proj='delayed' I'm looking at the effect of the projection operators using the following code.
[code]

I have 2 issues.
1) with all the checkboxes checked the topoplots don't match the maps from `proj=True`, I like the interactive plots better.
2) the check boxes aren't reversible. if I click al

[2018-03-06 16:06] kingjr opened #4992 "BUG: subject morph"
We're getting a weird dimension mismatch when trying to morph some source estimate after a beamformer.

I dont really know what to do..

[code]

stc files
https://ufile.io/kdnvu
https://ufile.io/o8exl

error:
[code]

[2018-03-06 16:59] larsoner commented on #4991
Yes this is supposed to be the behavior. We must have introduced a regression somewhere that is causing this. I could try to address this in:

https://github.com/mne-tools/mne-python/pull/4972

As it aims to unify `raw` and `epochs` plotting, which is two places where this can happen. But there are probably more. It's probably worth doing a separate, more manageable PR to fix only the bug(s) repor

[2018-03-06 21:45] dengemann commented on #4184
@agramfort for updating the brainstorm resting dataset shall we:

1. ... replace the fiff files with the ds ones?
2. ... handle name cleaning explicitly in tutorials or do silent magic inside MNE?

[2018-03-06 22:22] jona-sassenhagen commented on #4989
I like autoreject. If we're adding cutting-edge ICA like Picard, may as well add autoreject.

[2018-03-06 22:26] dengemann commented on #4989
It's happening Jona! But not before a proper release on pip and finishing
the API transition. Good news: we will do it these days.

On Tue, Mar 6, 2018 at 11:22 PM jona-sassenhagen <notifications@github.com>
wrote:

[2018-03-07 08:44] agramfort commented on #4184
yes please use the original ds files.

we should add a param in read_raw_ctf that is False by default that will
call the
_clean_names function internally

thanks a lot for looking into this.

[2018-03-07 08:46] dengemann commented on #4184
Ok. Let's do that.

On Wed, Mar 7, 2018 at 9:44 AM Alexandre Gramfort <notifications@github.com>
wrote:

[2018-03-07 10:58] sappelhoff opened #4994 "Link to github gist is broken (404) in .resample method doc"
https://github.com/mne-tools/mne-python/blob/e84b316cb188043c69a4958b74884bfb556d78d8/mne/io/base.py#L1410-L1411

[2018-03-07 12:04] agramfort commented on #4994
it should be : https://gist.github.com/larsoner/01642cb3789992fbca59

PR welcome

[2018-03-07 12:11] sappelhoff commented on #4994
Alright, this should be it: #4995

thanks for your work.

[2018-03-07 12:11] #4994 closed

[2018-03-07 16:03] LeviZell commented on #4832
solution?

[2018-03-07 16:55] agramfort commented on #4832
I don't know. It was closed without explanation. If you have pb please reopen and give us a gist to replicate the pb.

[2018-03-07 17:18] sappelhoff opened #4998 "Bug in IO module for BrainVision: Wrong conversion from Seconds to Hertz"
In BrainVision Recorder *.vhdr files, the highpass filter settings are often listed as "low-cutoff in seconds". The relevant mne.io function translates this into Hz as such:

https://github.com/mne-tools/mne-python/blob/239c83dfe0686084d1c96c945579dc8cc10e895c/mne/io/brainvision/brainvision.py#L597-L598

With this method, the standard setting of `low-cutoff=10s` is translated to highpass=0.1Hz. Ho

[2018-03-07 18:05] sappelhoff commented on #4998
The fix seems simple enough:

[code]

... and using this approach also for the remaining lines (lowpass filters, and the case for heterogeneous filters)

[2018-03-07 18:17] larsoner commented on #4998
Yes this looks correct to me. I've actually never seen this nomenclature before.

[2018-03-07 18:17] larsoner commented on #4998
... although "time constant" rings a bell in terms of analog filtering and circuits. I wonder if that's where it comes from.

[2018-03-07 18:34] sappelhoff commented on #4998
I find it unnecessarily confusing and I am wondering about the benefits of specifying 10seconds instead of 0.016Hz ... maybe because it is actually `0.015915494309189534` and then 10seconds is more straight forward and doesn't need rounding? Anyways, I have opened a PR

[2018-03-07 19:31] LeviZell commented on #4832
https://gist.github.com/anonymous/16b128f625b0b34b8cf547e2855d7f24

[2018-03-07 20:47] agramfort commented on #4832
first you have bad channels in your data. See the noise cov that have some
channels with much larger variance.

then you're using a forward operator obtained with a different system
which therefore has different channel names. it comes from an older system.

you need to compute a dedicated forward model for your data.

[2018-03-08 08:21] agramfort commented on #4992
but morph should create the morph-maps so it should work as is no?

[2018-03-08 15:00] larsoner commented on #4992
Only if we have the proper Freesurfer data for the subject, which I was trying to avoid sending.

[2018-03-08 19:28] thesujitroy commented on #4484
Hi,
I was going through the code and it seems that nave is declared to be 1.
However, in plot_evoked the attribute needs to be added. But I cant understand the attributes we are trying to show is evoked.nave, this needs to show in plot in what form.
Can the Number of averages be more than 1, and are trying to put it in butterfly plot?

[2018-03-09 14:36] dmedine commented on #4998
Hello. My name is David Medine and I am a developer at Brain Products. The reason they use a time constant to represent the nature of a filter is for strange, convoluted, historical reasons.

What is important is that sappelhoff is correct. The denominator should have a factor of 2pi in it.

[2018-03-09 14:42] larsoner commented on #4998
Thanks for the confirmation @dmedine. Looks like #5000 should be correct, then.

[2018-03-09 14:42] #4998 closed

[2018-03-09 21:08] sappelhoff opened #5003 "BUG: Scaling when reading with brainvision"
When reading BrainVision Recorder files, the EEG values for my data seemed off by 1e6 decimal points. BV data is usually saved in microVolts, so at first I thought that perhaps MNE is only working in Volts and there was an implicit scaling - however, there is no documentation about this. Furthermore, the docstring of the `mne.io.read_raw_brainvision` function explicitly states the resulting unit t

[2018-03-09 22:21] teonbrooks commented on #5003
hey @sappelhoff, the reader assumes that the data are in microvolts, so the default `scale=1`. the data are stored in Volts in the `Raw` object. within the ChannelInfo in `.vhdr` file, there's an associated unit for each channel. we take that info to determine what the proper scale. if that is info is missing, we use the scale as a failsafe that is user-defined.

[2018-03-09 22:24] teonbrooks commented on #5003
also, the reason it is 1e7 instead of 1e6 is because the resolution is 0.1uV (10e-1 * 10 e-6).

[2018-03-09 22:25] OlehKSS commented on #4207
Hello! I have created a [pull request](https://github.com/mne-tools/mne-python/pull/5004) to tackle this issue. Could you take a look?

I am new to MNE and just getting around the project, so I have several questions.
First of all, I have  added clean_names function to the SetChannelsMixin. Should it be in this class or should I move it to BaseRaw (or Raw) class, since the mixin can be used for Ev

[2018-03-09 22:26] dengemann commented on #4207
Let's discuss in the PR you created.

[2018-03-10 07:34] jona-sassenhagen opened #5005 "Images missing on the tutorial website"
E.g. the ones at the end here:

https://mne-tools.github.io/stable/manual/decoding.html

@larsoner

[2018-03-10 08:20] sappelhoff commented on #5003
Hi @teonbrooks, thanks for the quick reply and the hint as to why I found 1e-7 instead of the more sensible 1e-6 ...

What you are saying is that it is expected behavior to have the unit "Volts" in the `Raw` object - irrespective of the original data format. Could you point me to where this is documented either in a docstring or on the website? Perhaps I missed it.

In case I did not miss it, I th

[2018-03-10 08:37] agramfort commented on #5003
yes we store everything in international system units: EEG in V, mag in T,
grad in T/m
it simplifies things I think.

it could certainly be better documented in :

http://martinos.org/mne/stable/auto_tutorials/plot_creating_data_structures.html
and/or
http://martinos.org/mne/stable/manual/io.html

[2018-03-10 08:56] sappelhoff commented on #5003
@agramfort, thanks for the links. I see now what I probably missed: https://github.com/mne-tools/mne-python/blob/58e59df8aa99aab046eced1374c80eff290c4f2a/tutorials/plot_creating_data_structures.py#L80-L89

We could add a "Note" in a blue box on the [Importing Data into MNE](http://martinos.org/mne/stable/manual/io.html) doc saying something like:

[2018-03-10 08:58] agramfort commented on #5003
+1 PR welcome

[2018-03-10 10:25] jona-sassenhagen commented on #4859
If we have an object with cluster-based results, I will write viz functions for it :)

[2018-03-10 10:28] #5003 closed

[2018-03-10 10:36] jona-sassenhagen opened #5008 "int bug in ica.fit"
see #4388
I think this is not yet fixed.

I hope I'll get around to it.

[2018-03-10 10:37] jona-sassenhagen opened #5009 "corrmap titles are bad again"
I don't know why yet, but something changed that results in corrmap again having bad axis titles.

I'll eventually take care of it.

[2018-03-10 10:45] jona-sassenhagen commented on #4653
I think this is superseded by #4859

[2018-03-10 10:45] #4653 closed

[2018-03-10 11:41] jasmainak commented on #4484
See comment [from above](https://github.com/mne-tools/mne-python/issues/4484#issuecomment-322205698)

It's the number of trials used in the average for the evoked, i.e., evoked.nave

[2018-03-10 15:28] #4980 closed

[2018-03-11 20:17] jona-sassenhagen commented on #5008
I think the problem is fixed now.

[2018-03-11 20:17] #5008 closed

[2018-03-12 12:25] britta-wstnr commented on #4957
I can put that on my agenda for when I take care of the deprecation of ``lcmv()`` (to make it comparable to the DICS API). The question is whether we want to wait for the big DICS PR to be merged first?

[2018-03-12 14:19] kingjr commented on #4992
(this is @avkasdan)

https://ufile.io/x5lsp - morph map for this subject
https://ufile.io/7v4ru - forward model
https://ufile.io/9v02e - data covariance
https://ufile.io/sgxmn - noise covariance
https://ufile.io/hqsl5 - script which throws the error and makes STCs

Thank you!!!

[2018-03-12 14:24] larsoner commented on #4957
Yes to avoid having to rebase that one (it's big).

[2018-03-12 14:33] larsoner commented on #5005
This should be fixed by turning this `manual` entry into a `tutorials` script. It should be easy for someone to do when they are bored

[2018-03-12 15:55] dokato commented on #4982
I'm happy to take it, if no one started.

[2018-03-12 15:58] agramfort commented on #4982
go for it.

it would be nice to allow be able to operate inplace too but fine to do it
in a subsequent PR.

[2018-03-12 16:27] agramfort commented on #4992
can you just share a dropbox folder to it's painless to replicate the pb?

thx

[2018-03-12 17:04] avkasdan commented on #4992
https://www.dropbox.com/sh/wl8a6s2mp25u30e/AAA9rcqYgMeEwCSGPmgfAO6Ba?dl=0

Here is the dropbox link, let me know if that works

[2018-03-12 17:07] dokato commented on #4982
okay, but please help me understand `--his` parameter.
Since in `mne.io.meas_info.anonymize_info` we remove whole `subject_info` key so `his_id` as well by default. Should I modify `anonymize_info` function to preserve this depending on some `his` flag?

[2018-03-12 20:01] agramfort commented on #4982
removing it all the time is good. Forget the --his param.

[2018-03-12 20:14] britta-wstnr commented on #4957
@larsoner that's what I figured. I will take care of this as soon as the other one is merged then!

[2018-03-13 08:35] dnacombo opened #5013 "bad channels crash make_forward_solution"
When running mne.make_forward_solution with a CTF dataset, we get the following error message:
[code]
We understood it's a fairly straightforward problem here lines 800 and following in _compute_forward.py :
[code]
where bad channels need to be sliced away of `B`, but indices `picks` picked in the info dictionary containing all channels don't map into array B that has only MEG channels. Don't know

[2018-03-13 11:05] palday commented on #4480
I took a look/thought about this a bit ....

There are some subtle data structure issues with CSD data -- [they're lot like normal EEG data, except when they're not](http://psychophysiology.cpmc.columbia.edu/Software/CSDtoolbox/faq.html#PostProcessing) ([different units, reference-free](http://psychophysiology.cpmc.columbia.edu/Software/CSDtoolbox/errors.html#CSDReference), [lack of volume conduct

[2018-03-13 12:30] jona-sassenhagen commented on #4480
I think given that we don't take care of  any of these things for, e.g., the Evoked objects containing log p values, or ICA-transformed objects, I think it'd be consistent to just implement CSD for now, leave it to the user to not fuck up things here, and think about stronger support later.

@miykael

[2018-03-13 13:13] larsoner commented on #4480
As far as dealing with the FIF format goes, we can probably get away with storing the CSD transformation in `raw.info['comps']`. Usually this applies only to MEG, but IIUC we can store any linear transformation in there, and it will be handled properly in forward calculations, etc.

[2018-03-13 13:26] jona-sassenhagen commented on #4480
I like that option.

[2018-03-13 13:27] agramfort commented on #5013
can you share some data to replicate the pb?

[2018-03-13 13:54] dnacombo commented on #5013
https://owncloud.icm-institute.org/index.php/s/IFRyr4O5c16JUk8

[2018-03-13 14:43] agramfort commented on #5013
please share a full folder with a script to replicate easily the bug.

thanks

[2018-03-13 15:07] dnacombo commented on #5013
Sorry: https://owncloud.icm-institute.org/index.php/s/jxBtcntc1MXBVAt
Thanks!

[2018-03-13 15:32] larsoner opened #5015 "BUG: CircleCI 1.0 is retiring"
We need to move to 2.0 by August.

We should also switch to using `environment.yml`, which means having a newer version of Mesa (the one of 14.04 is too old to support the necessary OpenGL extensions for VTK7+).

[2018-03-13 20:55] agramfort commented on #5013
see https://github.com/mne-tools/mne-python/pull/5016 for the fix.

thanks a lot for the bug report.

[2018-03-13 23:03] XBTinChina opened #5017 "Question: to exact phase values of single trial on source space"
Dear all,

   I would like to get a source estimation (brain map) of my analysis on phase values of single trial. For example, on sensor space, I exact phase of every time points and do some averaging for each trial and then average across trials within one block.
  I want to do this on source space, but I can't find MNE functions to return phase values on source space, so I am thinking of doing t

[2018-03-14 07:41] jona-sassenhagen opened #5018 "*TFR obj data attribute documentation?"
The docs for the TFR objects do not specify how to get at the data. Should this not be included in the docstring?

Colleagues of mine have complained to me MNE is "sparsely documented" here :)

@agramfort @palday

[2018-03-14 08:18] agramfort commented on #5017
please use the mailing list for usage questions:

https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis

we use the tracker for bugs and issues.

[2018-03-14 08:18] #5017 closed

[2018-03-14 08:23] agramfort commented on #5018
on an AverageTFR ?
https://martinos.org/mne/dev/generated/mne.time_frequency.AverageTFR.html

yes a good docstring would help and also we should document attributes not
just parameters

[2018-03-14 08:27] jona-sassenhagen commented on #5018
Yes, and https://martinos.org/mne/dev/generated/mne.time_frequency.EpochsTFR.html#mne.time_frequency.EpochsTFR

I can go about it once the other PRs are merged :)

[2018-03-14 09:01] agramfort commented on #5018
ok convince a less experienced person to do this change as it's only a
documentation update.

[2018-03-14 09:45] jona-sassenhagen commented on #5018
@nbara do you want to do it? Or is it not enough of a challenge? :)

[2018-03-14 16:22] nbara opened #5020 "Trouble with BDF stimulus channel (again)"
Hi all,

Sorry for having to resuscitate this issue, but I'm having an issue with a BDF file (attached) with the latest MNE dev version. This file is a simple toy example with 8 channels and 16 time samples, with no `stim_channel`. The  file in question was saved using `pyedflib`.

When I do :

[code]

I get (as expected) :
`<RawEDF  |  eegfile.bdf, n_channels x n_times : 9 x 16 (15.0 sec), ~23 kB

[2018-03-14 16:25] larsoner commented on #5020
Without looking at the data, yes I agree this looks broken.

[2018-03-14 16:25] #5013 closed

[2018-03-14 18:19] avkasdan commented on #4992
Any chance you have had a look at this yet?

[2018-03-14 20:03] agramfort commented on #5020
@cbrnr can you have a look? thx

[2018-03-14 20:11] agramfort commented on #4992
the code morphing.py you shared has many hard coded path so there is no
easy way for me to replicate the error you report.

I will have a look if running morphing.py also me to replicate the error
easily.

thanks

[2018-03-14 20:36] cbrnr commented on #5020
Yes, there seems to be a problem with correctly detecting the sampling frequency. I'll try to hunt down the issue.

[2018-03-14 21:18] cbrnr commented on #5020
On second look, this behavior makes sense. This file contains a stim channel with fs=38Hz, whereas the normal channels have fs=1Hz. If you load it with `stim_channel=None`, you're actually forcing `mne.io.read_raw_edf` to load the file in a wrong way, namely as if the last channel were a normal channel.

One thing I noticed though is that the stim channel is called "BDF Annotations", whereas we cu

[2018-03-14 21:32] kingjr commented on #4992
Anna I cleaned up your code and it runs ok on my machine.

[code]

Can you check that the above work and identified what is the step in your script that creates the error?

PS: [here](https://wetransfer.com/downloads/ac95315200e373d63505187f9b83ba9820180314213005/e7813587c2e8cf10e77f03b378c9a90720180314213005/6f9e6f) are all the files necessary to run the above script.

[2018-03-14 21:43] avkasdan commented on #4992
The above works until the mne.compute_morph_matrix line where I get the error- a dimension mismatch.

[2018-03-15 08:45] nbara commented on #5018
@jona-sassenhagen it's not about the challenge, but I'm afraid my hands are full at the moment, sorry...
I was giving a thumbs up because a colleague whom I've slowly managed to convince to try MNE has been complaining about the same thing :)

[2018-03-15 08:47] cbrnr commented on #5020
It might be useful to issue an info message whenever a special EDF+/BDF+ annotations channel is detected (these are channels called "EDF Annotations" or "BDF Annotations"). Furthermore, we could issue a warning if an annotation channel is detected, but the user loads the file with `stim_channel=None`. Or in the latter case, we could also exclude the stim channel completely (which would probably ma

[2018-03-15 08:52] nbara commented on #5020
@cbrnr Thanks a lot for checking this. I'm still not sure this is normal behaviour though as I'm never specifying any `stim_channel` when writing the file with pyEDFlib (my input data is 8 regular channels * 16 samples). Do you think it's a bug with pyEDFlib ?

I wonder if it makes sense to load a `stim_channel` (in my case `BDF annotations`) at a different sampling rate than regular channels). Ei

[2018-03-15 08:59] cbrnr commented on #5020
Apparently pyedflib automatically adds an annotation channel. I verified this with [SigViewer](https://github.com/cbrnr/sigviewer) - there are 8 channels and exactly one event at position 0, duration 0, type "Recording starts".

What's odd though is that even with `stim_channel="auto"` the annotations are not correctly parsed (the data in the last channel contains 16 zeros, and `find_edf_events()`

[2018-03-15 09:04] cbrnr commented on #5020
Actually, now I'm not even sure if this is a valid BDF file since BioSig for MATLAB can't open it (I get an error related to a reshape command)...

[2018-03-15 09:50] cbrnr commented on #4760
Last remaining issue fixed in #5019.

[2018-03-15 09:50] #4760 closed

[2018-03-15 13:31] kingjr commented on #4992
try deleting the morph file in the fsaverage folder, the morph function
will recreate it

On 14 March 2018 at 17:43, avkasdan <notifications@github.com> wrote:

[2018-03-15 14:50] avkasdan commented on #4992
this is seeming to work!! Thanks!

[2018-03-15 19:00] avkasdan commented on #4992
I am going to close this issue- I think the morph maps I was using were older ones, and it worked to compute them here on the fly.

[2018-03-15 19:04] #4992 closed

[2018-03-15 19:32] giuliagennari opened #5022 "problem with mne.decoding.Scaler"
I am trying to standardize my epochs:
from mne.decoding import Scaler
epochs_data = epochs.get_data()
epochs_sc = Scaler().fit_transform(epochs_data)

And I get this error:
![image](https://user-images.githubusercontent.com/25058434/37486816-f307da7e-288f-11e8-80e7-8910af6cef51.png)

As if an epochs object and a numpy array were required at the same time.
Could anybody help me out?

[2018-03-15 19:55] kingjr commented on #5022
Hi,

By default the Scaler objects scale magnetometers, gradiometers and EEG
channels by a fixed amount: see details on the documentations
https://martinos.org/mne/dev/generated/mne.decoding.Scaler.html

This means that you need to inform the object about the channel
identify:e.g.
Scaler(info=epochs.info).fit_transform(epochs.get_data())

Else, you can scale the data using a variety of statistical

[2018-03-15 20:06] giuliagennari commented on #5022
That's right, I completely forgot to specify scalings='mean'.

Thank you very very much Jean-Remi!!!

Best,

Giulia

[2018-03-16 05:06] vivek9746 opened #5024 "How to know which event_id corresponds to which event. BCI comptetion 3 (Dataset 3a)"
The data description stated 5 classes 1,2,3,4,NaN, corresponding to the left hand, right hand, foot and tongue. whereas I have got a different result on executing:

1080 events found
Events id: [ 768 1791 2323 2324 2325 2326 2337 2339 3346 3347 3348 3349 3360 3362]

Can anyone tell me what is this data and how do I extract information related to the classes in them

[2018-03-16 07:24] teonbrooks commented on #5024
hey @vivek9746, it's hard to tell from the description alone. do you have a copy of the file that you share publicly so we can take a look or a snippet of it?

[2018-03-16 08:52] agramfort commented on #5024
probably @cbrnr or @alexandrebarachant can help

[2018-03-16 09:53] cbrnr commented on #5024
Without the file it's hard to tell which events are actually used in the file. Can you share the file? If it is a GDF file, you might want to try `raw.find_edf_events()` - this will give you the events directly as stored in the file (as opposed to `mne.find_events`, which converts these events to a stim channel). I know that event 768 (hex 0x300) is used for trial start in BioSig (see [here](https

[2018-03-16 11:31] sdeslauriers commented on #3609
Has there been any progress on this? I have a .cnt file that fails on load with `read_raw_ctn` and I am guessing it is because they are from an ANT Neuro system.

[2018-03-16 13:08] agramfort commented on #3609
no progress AFAIK. We need volunteers to look into it. @jaeilepp is not
working with us anymore.

[2018-03-16 15:24] sdeslauriers commented on #3609
Ok, then I guess I can volunteer.

[2018-03-16 17:33] vivek9746 commented on #5024
I have used the Dataset 3(a) of BCI Competition 3. I started working on data subject "k3_b". The dataset and its description can be found on the following link:  https://drive.google.com/open?id=15PFMvttxvy3SfKXOsELI1SjmjY9UHFXx

[2018-03-16 17:39] agramfort commented on #3609
Great

[2018-03-16 20:16] cbrnr commented on #5024
You can use `raw.find_edf_events()` to get all 1502 events, e.g. like this:

[code]

The event numbers in `kind` are decimal event codes, you need to convert them to hex to find the in the [event code list](https://github.com/donnchadh/biosig/blob/master/biosig/doc/eventcodes.txt):

[code]

You will find that these events are present in the file:

[code]

[code]

`0x300` is trial start, and `0x301

[2018-03-16 21:35] HariSeldon11988 opened #5025 "Bug in peak_finder() and find_eog_events()"
If no peaks were found there is _TypeError: can't multiply sequence by non-int of type 'float'_,
because in line 161 of peak_finder.py an empty list is multiplied by -1.0

A solution is to put in lines 156 and 157:
[code]
instead of
[code]

However, it will only delay a problem. Full solution has to contain also a verification of eog_events length in 68th line of eog.py, e.g.:
[code]
instead of ju

[2018-03-17 09:35] agramfort commented on #5025
please share a code snipped to replicate the pb. It will be used as
non-regression test.

thanks

[2018-03-17 14:57] krishamehta opened #5026 "Hash mismatch error"
When I try to download the spm dataset, this is the error I get.

`Automatically created module for IPython interactive environment
Local file appears to be complete (file_size == initial_size == 924932163)
<ipython-input-64-9f3225ed7000>:11: RuntimeWarning: Local file appears to be complete (file_size == initial_size == 924932163)
  data_path = spm_face.data_path()
Error while fetching file https

[2018-03-17 15:18] christian-oreilly opened #5027 "Feature request: EGI MFF reader for discontinuous files"
Code:
[code]
Result:
[code]
[Tested with a fresh `!pip3 install --upgrade git+https://github.com/mne-tools/mne-python.git` install]

This is a feature request so that we can read these files with MNE-Python.

[2018-03-17 18:13] larsoner commented on #5027
Now that we have support for FIF files where acquisition was stopped and restarted in the same FIF file, assuming it's similar for EGI MFF it should be easier to add this.

[2018-03-17 18:13] larsoner commented on #5026
Are you on latest `master`? It's possible the dataset was updated and you need the latest code to have the correct hash.

[2018-03-17 18:15] krishamehta commented on #5026
I downloaded the dataset directly from the website

[2018-03-17 18:27] larsoner commented on #5026
It looks like `9f43f67150e3b694b523a21eb929ea75` is the correct hash (the one from `master`) so my suggestion won't help.

Can you try downloading using:
[code]
I just did this and it succeeded.

[2018-03-17 18:28] larsoner commented on #5026
(you might need to remove the existing `.part` file)

[2018-03-17 18:28] krishamehta commented on #5026
I will try this.  Thanks a lot.

[2018-03-17 18:57] krishamehta commented on #5026
I tried doing it. Got the same error.

`rifying hash 9f43f67150e3b694b523a21eb929ea75.
Error while fetching file https://files.osf.io/v1/resources/rxvq7/providers/osfstorage/59c0e343b83f6902538c4553?action=download&version=2&direct. Dataset fetching aborted.
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "<string>", line 2, in data_path
  File "/home/krisha/Docume

[2018-03-17 19:06] larsoner commented on #5026
That hash is different from the last one you got, which is strange. I don't know what could be causing this. The hash is even listed as `9f43f67150e3b694b523a21eb929ea75` on the osf.io website, consistent with what we have in the code and what I got minutes ago.

You can try downloading it directly from `osf.io` and checking the MD5sum. But so far this indicates to me a problem with your machine,

[2018-03-17 19:09] krishamehta commented on #5026
I have tried messing around with my server. However, that has not helped either. I will try a few other things.
Thanks!

[2018-03-17 19:11] #5026 closed

[2018-03-18 16:25] agramfort commented on #5027
I think it's a dupe of #4759

[2018-03-19 05:37] christian-oreilly commented on #5027
I seems to be related to the second point of #4759, but the error message is different so I am not totally sure.

[2018-03-19 06:27] agramfort commented on #5027
I won't have the bandwidth to look into it. But I would suggest to at least
share a file with a link here and hopefully someone will look into it.

[2018-03-19 07:17] christian-oreilly commented on #5027
Unfortunately, these recordings are not mine so I am not at liberty to share them. Furthermore, each recording is 30 GB, so not conveniently shared over Internet. FYI, if looking for additional source of inspiration (beside the FIF reader),  the Wonambi package (https://github.com/wonambi-python/wonambi) loads these recording correctly.

[2018-03-19 09:00] vivek9746 commented on #5024
Thank you for the help @cbrnr. :)

[2018-03-19 09:00] #5024 closed

[2018-03-19 14:15] vivek9746 opened #5028 "Using the MNE.decoding.CSP on BCI Competition 3 dataset iii(a)"
Hi!! I've been trying to work on the dataset from BCI competition 3 - iii(a).

To achieve the results in a research paper as part of a research program.

According to the paper**(On Page no 2. (2.2 Pre-processing and feature selection))**, an extended version of CSP, **that is OVR CSP(One Versus Rest Common Spatial Pattern)** is applied to the signals from 60 channels. I don't know exactly how can

[2018-03-19 15:06] kingjr commented on #5028
Hi,

you can simply do:

X = epochs.get_data()
y = epochs.events[:, 2]
csp = mne.decoding.CSP()
cv = StratifiedKFold()

for train, test in cv.split(X, y):
    for category in set(y):
        csp.fit(X[train], y[train]==category)
        y_hat = csp.predict(X[test])

All the best,
Jean-Rémi

On 19 March 2018 at 10:15, VIVEK KUMAR SHARMA <notifications@github.com>
wrote:

[2018-03-19 16:57] vivek9746 commented on #5028
Thank you for replying, @kingjr.  :+1:
Although there was no such thing as **csp.predict()**, I've used **csp.transform()**

On running the above code, I'm getting a an array of some values.

I'm not sure what these are.

Could you please explain the code and the part where **One Versus Rest CSP** is applied?

[2018-03-19 17:19] agramfort commented on #5027
thanks for the pointer to wonambi

without a test file it will be hard to debug :(

[2018-03-19 17:28] kingjr commented on #5028
one versus rest consists in finding a hyperplane that separate one category
versus all the other. This is equivalent to make a series of biclass CSPs

the y[train] == category will give you a target vector of indicating
whether each trial belongs to a category or to the rest.

The rest of the procedure is similar to the CSP tutorial/example we wrote:
https://www.martinos.org/mne/stable/auto_exampl

[2018-03-20 08:40] christian-oreilly commented on #5027
Yes, I know. I don't have access to EGI NetStation, else I could crop a small part of the recording. I am not sure if there are any free MFF writer available (finding readers is already hard enough), but if I found some, I'll submit a cropped file for debugging.

[2018-03-20 10:46] mmagnuski commented on #5025
I've had a similar problem before using bare `peak_finder` (`ValueError: zero-size array to reduction operation maximum which has no identity`), here is how to replicate:
[code]
maybe just fixing `peak_finder` would be enough?

[2018-03-20 11:09] mmagnuski commented on #5027
The file you are trying to load is `raw_fname = '/media/oreilly/ETUDE/suj1 session1/signal1.bin'`, so it does not end with `.mff` (or `.raw`), are you sure this is the correct file?

[2018-03-20 11:14] christian-oreilly commented on #5027
.RAW are not MFF files, they are an alternative format that can output EGI NetStation. Correct me if I am wrong (and I am not sure that this is not obfuscated by some operating system), but what we call "MFF" files are actually more a repository containing a set of XML files (for the meta data) and a set (often one) of .bin files containing the actual signals. In Wonambi, the path to the "MFF file

[2018-03-20 12:24] mmagnuski commented on #5027
@christian-oreilly Are you up for a PR? :)

[2018-03-20 14:11] massich opened #5029 "Undefined iprint variable in scipy/optimize/cobyla.py"
Can anyone reproduce this error ? I'm usin `mne-python/environment.yml` (scipy                     1.0.0 py36hbf646e7_0 )

[code]

[2018-03-20 14:28] larsoner commented on #5029
Dup of https://github.com/scipy/scipy/issues/8118 fixed in https://github.com/scipy/scipy/pull/8144 will be out in SciPy 1.0.1

You can work around it at the MNE end by putting `verbose=False` in the call to the `interpolate_*` function as done here https://github.com/mne-tools/mne-python/pull/4745

[2018-03-20 14:28] #5029 closed

[2018-03-20 16:32] agramfort commented on #5025
yes fix welcome

[2018-03-21 07:43] mathurinm opened #5030 "In TF mixed norm solvers, if log_objective=False, the solver runs up to max_it"
As @joewalter pointed to me, currently if `log_objective=False`, the gap is not computed:
https://github.com/mne-tools/mne-python/blob/master/mne/inverse_sparse/mxne_optim.py#L946
so `converged` is never set to True and the solver has to run until `maxit` iterations are done.

I believe it would be more natural and flexible to pass `log_objective=n` (integer), and then replace:
[code]
by
`if (ii +

[2018-03-21 08:24] agramfort commented on #5030
Ok

Although for me dual gap is for early stopping and log objective for debugging and making convergence plots.

[2018-03-21 09:21] joewalter commented on #5030
According to the discussion with @mathurinm, I am in favor of deprecating `log_objective=True/False` and use integers instead. This gives more freedom to the user to select how often the dgap should be evaluated.

[2018-03-21 09:25] joewalter commented on #5030
I found some other small issues (or better options for improvement) in the current master, so I propose to do a small clean up PR with @mathurinm after the PR on dgap has been merged.

[2018-03-21 10:47] cbrnr opened #5032 "TF image (ERDS map) with significance mask"
I'm trying to plot a TF image (more specifically an ERDS map) with a significance mask. In other words, I would like to plot only significant t/f values, whereas not significant values should be white.

Here's the example code I'm working with: https://martinos.org/mne/stable/auto_examples/time_frequency/plot_time_frequency_erds.html

I need the individual epochs to compute the significance, so I

[2018-03-21 12:36] mmagnuski commented on #5032
Take a look at #5010.
Also here is a function that I use for transparency masking:
https://github.com/mmagnuski/mypy/blob/master/mypy/viz.py#L591
It uses a sightly different approach to Jona's PR - instead of plotting masked arrays with alpha it plots RGBA mask on top of tfr. This allows for finer control of color and transparency of every pixel in the mask, but has some disadvantages in interacti

[2018-03-21 12:39] mmagnuski commented on #5032
Oh, you are asking about something else actually:

Make sure that your extents are correct. BTW the extents done by tfr may not be super-correct. Take a look at my `heatmap` function to see how they should behave. I'll try to check and fix the extents if it is needed later this week.

[2018-03-21 12:46] cbrnr commented on #5032
Thanks for the pointers to #5010 and your function, good to see that other people seem to need this kind of functionality too.

Regarding the extents, are you sure this could be the problem? I'm actually getting the array from the image, add a mask, and then put the array back into the image:

[code]

The `extent` that was set before should still be valid, shouldn't it?

[2018-03-21 13:23] mmagnuski commented on #5032
Yes, I looked more closely at how you plot it after posting and I don't think extents should be a problem here. However I find it hard to understand where the masks should actually be. Could you create a shorter and simple example with small arrays that captures the problem?

[2018-03-21 13:31] cbrnr commented on #5032
I think the problem is that I can't run the cluster test on `tfr.data`, because with `tfr.plot` I'm actually plotting the average TFR but rescaled (baseline-corrected) with the `'percent'` method.

I want the mask on each of the TFR images separately (that is, for each channel). I want to show only TFR values significantly different from 0 (and that's why I need to look at baseline-corrected value

[2018-03-21 15:40] mmagnuski commented on #5032
What if you first `tfr.apply_baseline` and then do not use baselineing in plotting? Then you would use the same data in cluster stats and plotting.

[2018-03-21 18:54] vivek9746 commented on #5028
Thank you again @kingjr :) I have done as you suggested and I have landed with a matrix (354 X 4). I'm kinda stuck now. I'm following a procedure here(Follow the **jpeg.** here: https://drive.google.com/open?id=15PFMvttxvy3SfKXOsELI1SjmjY9UHFXx ) and I'm not sure, how to move ahead from here. If you could refer my code(**3a_k3bData.ipynb**) and suggest necessary addition/edits. I am new to this ar

[2018-03-21 20:51] kingjr commented on #5028
Dear Vivek,

Unfortunately I don't have the resources to guide you through your project.
The aim of the present mailing list is to provide solutions and advice to
concise problems and bugs. I'm sorry not to be more helpful,

Kindest regards,

Jean-Rémi

On 21 March 2018 at 14:54, VIVEK KUMAR SHARMA <notifications@github.com>
wrote:

[2018-03-22 10:53] cbrnr commented on #5032
Thanks @mmagnuski, this seems to work. This is going in the right direction, but the maps still don't look as they should. Obviously, the clusters found by the algorithm heavily depend on the threshold. I've tried a couple of values, but none seems to produce what I want (keep clusters of strongest activation). Here's an example with `threshold=1.5` (and `seed=5`):

![figure_1](https://user-images

[2018-03-22 11:42] mmagnuski commented on #5032
Positive and negative clusters are clustered separately (and have separate null distributions) but the bound may make a difference - see for example [this paper](https://www.sciencedirect.com/science/article/pii/S1053811913009919):

I've never actually used TFCE in practice. I always use threshold that is => 2. for t test values and never fiddle with it, but keep it fixed. In the fieldtrip times I

[2018-03-22 12:01] sappelhoff opened #5033 "Wrong axis scaling in .plot_image"
When I call `.plot_image()` on epochs data, the x axis (time) is correctly shown in seconds.

However, when I call `.plot_image()` on evoked data (=`epochs.average()`), the x axis (again, time) is incorrectly shown in milliseconds (although the values indicate seconds).

Having used some of the plotting functions, I have also realized that the labeling for the time axis is not *always* either in m

[2018-03-22 12:18] cbrnr commented on #5032
OK, good.

Thanks for the link, this might be worth reading. From a quick first scan I don't think that the percentage baseline correction is a problem in my case because I'm not using single-trial baselines. Or at least I hope that's not what `apply_baseline(method='percent')` does - I thought it would use the average of the baseline power across all epochs in the calculation. Can you confirm tha

[2018-03-22 12:45] cbrnr commented on #5032
Also, any idea how I could make the non-significant values transparent (e.g. with an alpha around 0.2) instead of just white? I really like how you and @jona-sassenhagen visualize this. Currently, I use a masked array, and `pcolormesh` seems to map masked values to white. Is this somehow possible by modifying the existing figure/axes? Or do I have to modify the function and call `pcolormesh` twice

[2018-03-22 12:46] jona-sassenhagen commented on #5032
imshow takes (x, y, R, G, B, A) IIRC, so you could set it all manually.

The short route would be helping me get my PR merged and then extending it to TFR :)

[2018-03-22 12:50] cbrnr commented on #5032
You're right, but for whatever reason `AverageTFR.plot` uses `pcolormesh`, which doesn't support RGBA.

Sounds good, let me know what I can do!

[2018-03-22 13:01] jona-sassenhagen commented on #5032
Just review it I guess.

[2018-03-22 13:05] jjnurminen commented on #4853
FWIW, I just tried to install according to the docs (Python 2.7, conda 4.4.10), resulting in:

[code]

[2018-03-22 13:27] larsoner commented on #4853
Can you try `environment.yml` from #5012?

[2018-03-22 13:30] larsoner commented on #5032
IIRC they do not have separate null distributions. If you want this behavior you should do two clustering steps, one with `tail=1` and the other with `tail=-1`.

`imshow` is generally less flexible than `pcolormesh`. For example `imshow` must have uniform "pixel" sizes, which isn't good when frequencies are not guaranteed to be evenly linearly spaced.

[2018-03-22 13:33] larsoner commented on #5032
If you take a look at a thresholded version of the statistical map (not the grand-average) produced by whatever `stat_fun` you are using, you should see that whatever the cluster test returns are the "biggest" clusters. This will not necessarily match the "biggest" grand-average peaks, depending on the variabilitiy in your data (because of the division by standard deviation in the t-test).

[2018-03-22 13:36] larsoner commented on #5033
This sounds like a bug we should fix, do you have time to do it?

Can you comment over on the closed #3164? If enough people gripe it might get @agramfort to budge :)

[2018-03-22 13:37] cbrnr commented on #5032
I'll try that.

Yeah, this makes sense especially for wavelet-type frequency estimation, but I thought that MNE always uses linearly spaced frequency values. Anyway, I already assumed that `pcolormesh` is there for a reason :smile:.

Right. It's not actually that bad, the significant clusters are approximately the largest activations in the grand average image - I just expected to see more cluster

[2018-03-22 13:37] larsoner commented on #5033
... if you do make a PR, feel free to also take care of this aspect of the plot(s) you change:

https://github.com/mne-tools/mne-python/issues/4534

[2018-03-22 13:39] larsoner commented on #5032
Also you can use e.g. `step_down_p=0.05`. It removes "significant clusters" (don't ever say this in a publication) that could be pushing the null distribution larger than it should be.

[2018-03-22 13:41] larsoner commented on #5032
(...And by that I mean [don't use the phrase](http://www.fieldtriptoolbox.org/faq/how_not_to_interpret_results_from_a_cluster-based_permutation_test) "significant clusters", even though that's how people tend to colloquially refer to them. The `step_down_p` stuff is fine for publication.)

[2018-03-22 13:46] larsoner commented on #5033
And it looks like there is a bug in that image plot, too. Zero should be white (middle of colorbar).

[2018-03-22 14:46] mmagnuski commented on #5032
@cbrnr

@larsoner

I was thinking about this from time to time since we decided to use `pcolormesh`. Due to some inconvenient aspects of pcolormesh (as @cbrnr points out) I am not using it in my plots and I'm always using imshow. It might be easier if we eliminate all the inference magic from tfr plotting (linear vs log space) and always use linear imshow by default and use pcolormesh only if the

[2018-03-22 14:58] larsoner commented on #5032
Even if I have log-spaced frequencies, I might want to view them on a linear scale (or have linearly spaced freqs viewed on a log scale). This is not possible with `imshow`, right? So we would be restricted to ever showing log-spaced frequencies on a log scale, and linear-spaced frequencies on a linear scale? (And either never showing arbitrarily spaced frequencies, or doing so incorrectly?)

[2018-03-22 15:24] mmagnuski commented on #5032
Unfortunately you are correct, I fear. @cbrnr - can you use the approach taken by Jona in his transparency PR with `pcolormesh`? If so then there would be much less reason to drop pcolormesh as the default (and the flexibility that you mention definitelly counts).

[2018-03-22 22:01] vivek9746 commented on #5028
Thanks for your assistance :+1: :)

[2018-03-22 22:01] #5028 closed

[2018-03-23 07:24] cbrnr commented on #5032
Using two separate clusterings with `tail=-1` and `tail=1` as well as `step_down_p=0.05` gives decent results (but it would be good to check with more data):

![figure_1](https://user-images.githubusercontent.com/4377312/37816469-816e8126-2e73-11e8-8422-60fb448d533d.png)
![figure_2](https://user-images.githubusercontent.com/4377312/37816477-83ce845c-2e73-11e8-85ab-546eeaf4c8f1.png)

@mmagnuski I'l

[2018-03-23 09:02] cbrnr commented on #5032
I added `mask` and `alpha` arguments. This works OK, but the resulting image now contains white bands (nicely visible especially in the color bar):

![figure_1](https://user-images.githubusercontent.com/4377312/37820535-398e3654-2e81-11e8-8476-1f167a807051.png)

Or maybe it's *only* the color bar - why is it transparent anyway?

[2018-03-23 09:53] cbrnr commented on #5032
Colorbar problem solved, I took the wrong axes object (because now there are two, the transparent and the opaque).

[2018-03-23 10:06] cbrnr commented on #5032
All changes are summarized in #5036.

[2018-03-23 11:09] Davi93 commented on #4843
How can I fix this issue? I am struggling with the same problem!

[2018-03-23 12:45] agramfort commented on #4843
how do we replicate? can you replicate on sample data?

[2018-03-23 12:58] Davi93 commented on #4843
Yes, both sample data using this script https://martinos.org/mne/stable/auto_examples/preprocessing/plot_run_ica.html#sphx-glr-auto-examples-preprocessing-plot-run-ica-py and on my data give me the same issue mentioned before. I changed those lines suggested by nrosjat in the multitaper.py file, but I keep getting the same value error.

[2018-03-23 15:59] mmagnuski commented on #5032
@cbrnr Glad to hear it works well!

[2018-03-23 16:35] howarth opened #5038 "Loading data without Raw/Epochs/Evoked"
The gist is that I'd like to know if there exists a way to pull data from a single time point or list of nonadjacent time points given only the Raw object (or just the path) and either the time values or indicies. I.e. I'd like a function load_timepoints(raw, [1.005, 5.024]) that would return two vectors that correspond to the data at time 1.005 and 5.0024.

Our lab uses data averaged over time of

[2018-03-23 16:41] larsoner commented on #5038
Yep, this will happen. Each `Raw` call (and really `read_raw_fif` is recommended nowadays) will read the `info` from the header.

You can optimize this process, though. Something like this could work instead:
[code]
If the entire object will not fit into memory but you still need speed, you can use `read_raw_fif(...).crop(...)` to split the data into chunks. (But keep in mind `crop` is inclusive,

[2018-03-23 16:44] larsoner commented on #5038
... and to be clear, the answer to this is that you should use `raw[...]` to get these values. It returns a tuple of `data, times`, so doing `raw[:, :][0]` will be all the data points, `raw[:10, 20:30][0]` will be the data from the first 10 channels for time indices 20 (inclusive) - 30 (exclusive), etc.

[2018-03-23 16:47] howarth commented on #5038
I think I found what I was looking for: Raw._read_segment : https://github.com/mne-tools/mne-python/blob/master/mne/io/base.py#L425

That way I only have to have a single Raw object and not create a Raw object each time I call crop().

So the real thing I'd want is a _read_segment that reads arbitrary indices instead of segments, all with a single IO, but I'm not even sure if hard disks can do tha

[2018-03-23 16:55] larsoner commented on #5038
Do not use private functions, they can change anytime without warning. `_read_segment` is basically what is called by `raw[...]`, so you should use that public interface.

Using the `.load_data()` that I mentioned above loads all time points into memory so no HD I/O will be used anymore.

[2018-03-23 16:55] howarth commented on #5038
Oh... I'm looking at the source and it seems like raw[:, 10] will only read a single timepoint and NOT load the rest of the data, correct?

[2018-03-23 16:57] larsoner commented on #5038
Correct. Depending on how many points you want to load, their spacing, data storage (HD vs SSD) etc., this may or may not be faster than using `.load_data()` followed by the same set of queries.

[2018-03-23 16:59] howarth commented on #5038
Great, thanks!

[2018-03-23 17:24] jona-sassenhagen commented on #5033
I'm fixing the colorer scaling in #5010 already.

[2018-03-23 17:25] #5038 closed

[2018-03-23 17:35] jona-sassenhagen commented on #5022
The error message is a bit cryptic ... we should probably do a better one (`Both "info" and "scalings" can't be None, please specify` etc).

[2018-03-23 19:05] sappelhoff commented on #5033
@jona-sassenhagen, that's great. Would be cool if you could incorporate the fix for the axis.

Making the axis labelling consistent could then be another step as it's not a bug per so :-)

[2018-03-23 19:21] jona-sassenhagen commented on #5018
@sappelhoff maybe you wanna try your hands at this one though?

[2018-03-23 21:19] sappelhoff commented on #5018
@jona-sassenhagen, I haven't worked with time frequency data in MNE yet. I wouldn't really know where to start looking up information that should go into the docstring ...

[2018-03-23 21:26] ViridianForge commented on #5027
Kind of wandering in here at random, but I'm presently working with Dr. Don Tucker on reading some of these discontinuous .mff files myself.

I can confirm @mmagnuski  that an .mff appears to be a folder containing XML describing the data and the signal in .bin files.
![image](https://user-images.githubusercontent.com/8301040/37853867-bdc42824-2ea5-11e8-8176-a62b5a854855.png)

Where I've started p

[2018-03-23 22:55] jona-sassenhagen commented on #5018
I would say that it should minimally just include that AverageTFR and EpochsTFR have an attribute (data) that includes the data, and the format (which depends on which kind of object it is). There is an Attributes section in the docs, but it does not include that info.

[2018-03-24 07:41] agramfort commented on #5015
here is an example of the new API we could reuse:

https://github.com/NeuralEnsemble/python-neo/tree/master/.circleci

[2018-03-24 12:12] larsoner commented on #5015
SciPy also just transitioned. The annoying part for us will be getting a
usable docker image with OSMesa for VTK rendering.

[2018-03-24 12:28] Davi93 commented on #4843
`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-2-fbaab2c30175> in <module>()
     56 ########################################################################
#######
     57 # Plot properties of ECG components:
---> 58 ica.plot_properties(epochs, picks=ecg_inds)

D:\Users\Davide

[2018-03-24 16:10] Davi93 commented on #4843
I get the same error when trying to run https://www.martinos.org/mne/stable/auto_examples/connectivity/plot_sensor_connectivity.html#sphx-glr-auto-examples-connectivity-plot-sensor-connectivity-py

[2018-03-24 16:57] agramfort commented on #4843
what does:

mne.sys_info()

return on your system? what OS are you using? win32 or win64?

[2018-03-24 17:18] agramfort commented on #5015
see if you find any repo on github that uses vtk with circleci

[2018-03-24 17:20] Davi93 commented on #4843
In [2]: mne.sys_info()
D:\Users\Davide\Anaconda2\lib\site-packages\h5py\__init__.py:36: FutureWarning:

Conversion of the second argument of issubdtype from `float` to `np.floating` is
 deprecated. In future, it will be treated as `np.float64 == np.dtype(float).typ
e`.

Platform:      Windows-7-6.1.7601-SP1
Python:        2.7.14 |Anaconda, Inc.| (default, Nov  8 2017, 13:40:45) [MSC v.1
500 64 bit

[2018-03-24 19:51] larsoner commented on #4843
@nrosjat @Davi93 can you check to see if #5039 fixes your problem?

[2018-03-25 09:31] TommyClausner commented on #5025
Hey there! Guess I would like to fix it if not already done

[2018-03-25 10:02] agramfort commented on #5025
Go for it. Thx

[2018-03-25 13:26] jona-sassenhagen commented on #5022
@sappelhoff this would also be an easy thing to do, if you're still looking :)

[2018-03-25 14:00] sappelhoff commented on #5022
haha @jona-sassenhagen - thanks for finding some easy tasks for me ;-)

something like this ... #5042 ?

[2018-03-25 17:42] larsoner commented on #5015
Maybe this one

https://github.com/conda-forge/pyvtk-feedstock

I'll try to look this week

[2018-03-25 20:02] Davi93 commented on #4843
I applied your changes but I still get this error:

[2018-03-26 06:03] nrosjat commented on #4843
Same for me. I get the same error again after replacing my changes by the fix.

[2018-03-26 07:55] christian-oreilly commented on #5027
@mmagnuski Pointing directly on the .bin file was based on trial and error. More precisely, pointing to the repository gives an exception (IsADirectoryError). But I just realized that this was due to the fact that the repository does not end with ".mff" and the current behavior of the function is to read the file as a .RAW file if there is not .mff extension. Thus, it fails because .raw files are

[2018-03-26 08:29] #4131 closed

[2018-03-26 09:07] fraimondo commented on #5027
1- In our system (NS 4.5, MFF), whenever we pause the recording, it creates another MFF file. So I was never in the case that I have non-continuous recordings with MFF files. Maybe some new netstation version? We need a small 2-10 seconds recording with one or two pauses in between.

2- MFF files are just OSX packages, so they are indeed directories. Maybe its an error to ask for a .mff extension

[2018-03-26 12:32] #5025 closed

[2018-03-26 13:29] sappelhoff commented on #5018
So for the `EpochsTRF` first ... given the code below, you would want a description of

in the docstring, where currently only `'ch_names'` is implemented?

[code]

[2018-03-26 14:05] jona-sassenhagen commented on #5018
First and foremost `data`, but if you can do a few others, that'd be good too. Refer to the Evoked and Epochs objects. Does that work for you?

[2018-03-26 14:08] nbara commented on #5020
Sorry for the delay, I'll investigate this with my colleague and will let you know. From what I can tell though this file was simply written with pyEDFlib with no special parameters (and MNE can read it OK with the appropriate `stim_channel`).

[2018-03-26 14:32] #5022 closed

[2018-03-27 00:06] #5032 closed

[2018-03-27 04:02] larsoner commented on #4922
@cbrnr any time to look into this? I suspect that finding such a "silent bug" might be something that would get Intel to look into things, as it could be quite important.

[2018-03-27 04:11] larsoner commented on #4922
Or @cbrnr alternatively, if you can write or point me to the code (hopefully minimal) that you have seen be different on two platforms, I can see if I can get my different machines to also give me different results, and pursue it myself.

Is it just the top comment from https://github.com/mne-tools/mne-python/issues/3049#issue-142660958 ?

[2018-03-27 06:59] cbrnr commented on #4922
Unfortunately, the little toy example was related to a different issue.

I will try to prepare a minimal code example to demonstrate the different behavior - this will likely take some time, since currently I'm using a full fledged EEG analysis pipeline with a large data set. I'll see what I can do.

[2018-03-27 08:01] moppymopperson opened #5046 "raw.plot_psd cannot set picks if average is False"
The following throws an exception if `average` is False, but not when it is True.
The [documentation](https://martinos.org/mne/stable/generated/mne.io.Raw.html#mne.io.Raw.plot_psd) isn't super clear about what the expected behavior in this case is, so I'm not sure if I'm doing something unintended or not.

If `picks` can be specified when `average` is False, then this is definitely a bug. If not,

[2018-03-27 09:01] agramfort commented on #5046
sounds like an easy pb to solve for a new contributor?

[2018-03-27 13:34] fraimondo commented on #4759
Can confirm, if you pause the recording, you get this error.

Inside the MFF file you have two epochs.

I don't have time to create the test file and address this issue right now. But if someone does create a 10s file with a pause in between, I can take a look.

[2018-03-27 15:40] #4843 closed

[2018-03-27 19:48] stralu opened #5047 "Broken if in interpolate_bads()"
Hi everybody,
I am using interpolate_bads() on raw eeg data. If I run this function without setting a bad channel, the function runs into an error similar to  #5029.
As already described in this issue a call like `interpolate_bads(verbose=False)` is a workaround and fixes the error.

While debugging I found a broken if in the file interpolation.py at line 126.
The check: `if len(picks) == 0 or len

[2018-03-27 20:04] jasmainak commented on #5047
I don't follow. Can you provide script to reproduce using the sample data? Thanks.

[2018-03-27 20:15] jasmainak commented on #5047
good catch, fix coming

[2018-03-28 07:28] ckiefer0 commented on #4727
I am getting the same error. How can I visualize my data to check for problems (similar to the image provided by @ktavabi)? If the volumes look fine I can just use '--force' to suppress the error, however, if there is a problem I have to obtain a new MR scan?

[2018-03-28 17:36] kingjr opened #5050 "BUG: spoc example broken"
@agramfort tells me the SPoC example in master is broken, haven't had time to look at it yet.

cc @alexandrebarachant

[2018-03-28 17:56] ktavabi commented on #4727
@ckiefer0 this fix concerned surface topology check. I only use '--force' to skip topology check for problematic outer skin surfaces. I wouldn't recommend skipping any sanity checks for other surfaces. Use the FS FreeView viewer to examine volumes & corresponding surfaces to ensure you have good segmentation and if need be you can use `--force` to skip topology check for the outer skin. In my expe

[2018-03-28 20:54] jona-sassenhagen commented on #5050
https://mne-tools.github.io/dev/auto_examples/decoding/plot_decoding_spoc_CMC.html

[2018-03-28 21:04] ViridianForge commented on #5027
We've got access to NS 5 at my lab, so once our equipment shows up (been waiting a couple months now), I could do a test recording with pauses in that version to see if multiple .mffs are created. The data I have that's "non-continuous" was collected in 2003 on a much older version of NetStation. That collection has epochs within the data, with the duration of epochs described by the epochs.xml fi

[2018-03-29 01:33] #3801 closed

[2018-03-29 05:39] EliWim opened #5053 "ica.apply zeroing out does not work"
Hello,
I have a problem I am using ica.apply and try to zero out some of my compnents but it does not work (the result is the same as the original data).  If I use the tutorial (https://www.martinos.org/mne/stable/auto_tutorials/plot_artifacts_correction_ica.html) and I check the data with:
print(raw._data)
print(raw_copy._data)
they are different but when I load my own raw .fif file and run the s

[2018-03-29 07:22] agramfort commented on #5053
we would need to see some code to see what you are doing.

[2018-03-29 07:29] sappelhoff opened #5054 "mne.preprocessing.ICA - components parameters"
I have a question concerning the ["component parameters"](https://github.com/mne-tools/mne-python/blob/d0f8da7d0f53a7c596b78f22d09197637b9230aa/mne/preprocessing/ica.py#L158-L177) in ICA, which are `n_components`, `max_pca_components`, and `n_pca_components`. What exactly do they do?

I understand that an ICA of say 64-channel EEG data will usually yield a W of size 64. From my current knowledge t

[2018-03-29 09:08] EliWim commented on #5053
data_path = '/nas/b.wutzl/MEG_fMRI/MEG/MEG_tsss_firstround/'
subjects_dir = data_path
raw_fname = data_path + '20180131_1112_LW1_raw_tsss.fif'
raw = io.read_raw_fif(raw_fname , preload=True)
raw.info['bads']=['MEG0513', 'MEG0613','MEG1041','MEG1111','MEG2013','MEG2233','MEG2243','MEG2643','MEG2926','MEG3125','MEG3244']
picks = mne.pick_types(raw.info, meg=True, eeg=False, eog=False, ecg=False, sti

[2018-03-29 09:09] EliWim commented on #5053
I also followed the tutorial mentioned above and just loaded my .fif file with the same result.

[2018-03-29 09:27] agramfort commented on #5054
for @cbrnr :)

[2018-03-29 09:39] cbrnr commented on #5054
@sappelhoff I completely agree that these arguments are confusing - for an ongoing discussion please see #4856. Here's the tl;dr:

- `n_components` and `max_pca_components` both perform dimensionality reduction via PCA prior to ICA. The *only* difference between these two arguments is the shape of the returned PCA components matrix (with `n_components` you get all components, whereas with `max_pca

[2018-03-29 10:05] sappelhoff commented on #5054
thanks for the reference, @cbrnr!

Now my current understanding is:

1. calculate PCA on data `X`
2. retain `max_pca_components` and project `X` to `X_reduced`
3. at this point, probably `n_components` is doing something ... but what?
4. Using `X_reduced`, we compute an ICA and have `X_reduced_ica`
5. From `X_reduced_ica`, we retain/reject components
6. We back-project `X_reduced_ica` using the IC

[2018-03-29 10:29] sappelhoff commented on #3891
Unfortunately I am currently running into the same problem. I want to run Corrmap ... but to get good ICA decompositions I want to reject a channel here and there throughout the dataset so that I ent up with participants having between 60 and 64 channels with different electrodes missing. Thus, the IC maps are also different and corrmap will not be able to do proprt correlations.

From the [Viola

[2018-03-29 10:30] #5054 closed

[2018-03-29 10:35] sappelhoff commented on #4856
Migrating from #5054 ...

Like @cbrnr, I have issues with the ICA API and would appreciate a quick check on my intuition about it:

My current understanding is:

1. calculate PCA on data `X`
2. retain `max_pca_components` and project `X` to `X_reduced`
3. at this point, probably `n_components` is doing something ... but what?
4. Using `X_reduced`, we compute an ICA and have `X_reduced_ica`
5. From

[2018-03-29 11:02] sappelhoff commented on #5018
yep, looking at the other objects helped. After that it was just copy pasting and little adjustments e.g., for the data shape. see the PR.

[2018-03-29 11:59] larsoner commented on #3891
This is a case we need to support, both for EEG reference (which reduces rank) and MEG processing such as `maxwell_filter` (which reduces from 306 to 80). So we should support it properly, documenting any necessary caveats.

Then you can maybe use interpolation -- though we'd need to check that downstream processes such as source estimation don't mis-estimate the rank.

[2018-03-29 12:02] #5018 closed

[2018-03-29 14:24] #5033 closed

[2018-03-29 15:32] ngayraud opened #5058 "Feature: Simulation of signals"
I am opening this issue so that we can discuss about setting up EEG/MEG simulations within MNE. My understanding is that there is a need for a more sophisticated way of simulating EEG and MEG data. @makkostya  and I work in the same team, and he informed me about the discussions with @massich @mathurinm  regarding that subject during his visit in Paris.

From  my side, I have an immediate need for

[2018-03-29 17:36] Davi93 commented on #4843
@larsoner I think it worked for me but I know get this error: RuntimeError: Invalid Qt API 'pyqt5', valid values are: 'pyqt' or 'pyside'.
I guess is not related with the previous issue though.

[2018-03-29 18:08] larsoner commented on #4843
Can you try our latest and greatest updated `conda` environment (merged today or yesterday):

https://github.com/mne-tools/mne-python/blob/master/environment.yml

[2018-03-29 18:27] jona-sassenhagen opened #5060 "Topomap colorbars"
As @agramfort has pointed out, colorbars on topomaps can be too wide:

https://7444-1301584-gh.circle-artifacts.com/0/tmp/circle-artifacts.krdig2e/html/auto_tutorials/plot_visualize_evoked.html#sphx-glr-auto-tutorials-plot-visualize-evoked-py

[2018-03-29 18:28] jona-sassenhagen opened #5061 "Refactor evoked image and tfr image plot masking code"
`evoked.plot_image(..., mask=...)` and the corresponding TFR method should share code for masking.

@cbrnr

[2018-03-29 18:29] jona-sassenhagen commented on #5058
Yeah, that would be nice to have.

[2018-03-29 23:25] Davi93 commented on #4843
I have managed to build that environment in miniconda. I do not get any error now, but the mayavi windows that should show the connectivity results just stucks as soon as it appears and crashes.

I am also struggling in creating the environment with the yml file, anaconda seems to stuck somewhere as some packages are not installed (as mne or all the packages listed after it.

ps. I uninstalled and

[2018-03-30 00:28] EliWim commented on #5053
I tried now:

ica.exclude.extend([1,2,3,4])
raw_ica=ica.apply(raw)
print(raw_ica._data)

raw_pure = io.read_raw_fif(raw_fname , preload=True)
raw_pure.info['bads']=['MEG0513', 'MEG0613','MEG1041','MEG1111','MEG2013','MEG2233','MEG2243','MEG2643','MEG2926','MEG3125','MEG3244']
print(raw_pure._data)

print(raw_ica._data==raw_pure._data)

But I get again that they are that they are equal.

[2018-03-30 06:13] agramfort commented on #5053
please share a full script so we can replicate using idally the sample data.

thank you

[2018-03-30 08:03] sappelhoff commented on #3891
@jona-sassenhagen, by "estimating fewer components" do you mean performing a dimension reduction via PCA before the ICA? Or what else do you mean?

In case of the PCA reduction, I see how this applies to ICA and rank deficient data in general, but how would it help for the case of `corrmap`? I thought the issue was that `corrmap` is correlating the "scalp maps" of the ICs and that hence, the mappi

[2018-03-30 09:38] cbrnr commented on #4922
@larsoner I've created a toy example that could expose the problem with the MNE sample data:

[code]

Unfortunately, I don't have access to my Linux machine until mid next week, so I'm not sure if we are going to see this problem with this particular data set. If you want, you could go ahead and run this on your Linux machine to see if it works (I hope that setting the environment variable via `os

[2018-03-30 09:56] cbrnr commented on #5005
But which parts stay in the manual and which parts will be moved to a new tutorial script?

[2018-03-30 10:02] cbrnr commented on #4828
I don't think this is super urgent. The default option in EEGLAB is still to save data in the old format. People will have to actively change this setting to save in the new format, which is really only necessary if you want to save data larger than 2GB.
![screen shot 2018-03-30 at 11 59 26](https://user-images.githubusercontent.com/4377312/38134145-1fd4644a-3412-11e8-9977-f4a9bfbdc5bd.png)
What I

[2018-03-30 10:51] ngayraud commented on #5058
So here is the action plan as discussed with @larsoner :
1. `make_ad_hoc_cov` will be modified to accept a dict of standard deviations for each type of sensor (mag, grad, eeg) to allow for custom creation of noise covariance matrix.
2. `simulate_raw` will be modified to accept info passed as raw (requiring a value for the new n_times=None kwarg).
3. A fwd=None kwarg will be added to `make simulate

[2018-03-30 12:18] jona-sassenhagen commented on #5058
Will we provide defaults? I'd like for EEG people to run this stuff without bothering too much with the source code.

How about eye blinks?

[2018-03-30 12:56] larsoner commented on #5058
We'll have to see how simple we can get the API

`simulate_raw` already does this

[2018-03-30 13:04] larsoner commented on #5005
Eventually I think all of `manual` should / could be in `tutorials`.

[2018-03-30 13:06] larsoner commented on #4922
IIRC setting threads only works at the beginning before anything is called. But I can still try this with `np.save` etc. to see if I can find differences.

[2018-03-30 14:03] Davi93 commented on #4843
Now using miniconda and ipython, even simple functions as raw.plot are not working, the windows are not responding and crashing.
The raw.plot function is instead working if I use a python terminal, but I get an error when trying to do:
"from mayavi import mlab" (from the sensor connectivity script). In Ipython I don't get this error, but the output windows are not working.

[2018-03-30 14:05] larsoner commented on #4843
Grrrr

Can you try `pip install --upgrade --no-deps pyqt` to see if this fixes it?

[2018-03-30 14:09] Davi93 commented on #4843
"Could not find a version that satisfies the requirement pyqt (from versions: )
No matching distribution found for pyqt
You are using pip version 9.0.1, however version 9.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' comm
and." :/

[2018-03-30 14:12] larsoner commented on #4843
Sorry, I meant `pyqt5`. Are you on `gitter`? We could iterate there more easily.

[2018-03-30 14:12] larsoner commented on #4843
https://gitter.im/mne-tools/mne-python

[2018-03-30 15:37] jona-sassenhagen commented on #5058
Ok, but wouldn't it make sense to unify things?

[2018-03-30 15:38] larsoner commented on #5058
This plan is already unified. The `SourceSimulator` instance just generates brain source activations, and these will be passed to `simulate_raw`

[2018-03-30 15:39] larsoner commented on #5058
... you mean you'd like to see `SourceSimulator` also take care of choosing when blinks and ECG should happen?

[2018-03-30 15:39] jona-sassenhagen commented on #5058
If it makes sense code and API wise, yes.

[2018-03-30 15:40] jona-sassenhagen commented on #5058
(That wasn't my original idea, but since you're asking ...)

[2018-03-30 15:42] jona-sassenhagen commented on #5061
@cbrnr do you want to do it, or should I?

[2018-03-30 15:43] cbrnr commented on #5061
Do you have time? Currently I won't be able to start working on it anytime soon(ish).

[2018-03-30 15:51] jona-sassenhagen commented on #5061
I don't have the *time*, but I'm doing MNE stuff right now anyways, so yeah, I can do it :) Means you'll have to review ofc.

[2018-03-30 18:09] cbrnr commented on #5061
Sure thing!

[2018-03-30 18:45] larsoner opened #5067 "ENH: LCMV and vector source solution"
We recently added support for VectorSourceEstimate in MNE solutions. It seems like this could be added to LCMV, too, by changing `_apply_lcmv`.

@britta-wstnr do you see any reason not to allow this?

[2018-03-30 19:25] #5060 closed

[2018-03-31 10:44] jona-sassenhagen commented on #4941
Closed by #4942 I assume.

[2018-03-31 10:44] #4941 closed

[2018-03-31 10:45] jona-sassenhagen commented on #4869
In principle, wouldn't autoreject not also work on Hilbert-transformed data?

[2018-03-31 10:46] jona-sassenhagen commented on #4852
Can this be closed? @aitorme

[2018-03-31 10:48] jona-sassenhagen commented on #4686
This would also work well if we could, as suggested by Denis, switch to axis divider for the topomaps and colorbar.

However, that brings with it its own set of problems ...

[2018-03-31 10:50] jona-sassenhagen commented on #4484
@thesujitroy any progress?

[2018-03-31 10:51] jona-sassenhagen commented on #4157
This is solved by metadata, correct?

[2018-03-31 10:51] #4157 closed

[2018-03-31 10:54] jona-sassenhagen commented on #4002
We could just add a line for the ERP GFP to @dengemann 's example here:

https://mne-tools.github.io/dev/auto_examples/time_frequency/plot_time_frequency_global_field_power.html#sphx-glr-auto-examples-time-frequency-plot-time-frequency-global-field-power-py

[2018-03-31 10:56] jona-sassenhagen commented on #2693
I am thinking about doing an example on this later. With the merging of #5010, probably don't need main code support. Closing.

[2018-03-31 10:56] #2693 closed

[2018-03-31 11:17] agramfort commented on #4869
why would you want to do this?

[2018-03-31 11:29] jona-sassenhagen commented on #4869
It would solve the issue here ...

[2018-03-31 12:20] larsoner commented on #5067
It is already in #5069, but I'm stuck there because I'm not sure why the LCMV orientation is incorrect

[2018-04-01 13:06] Davi93 commented on #4843
After installing the pre-mentioned environment (https://github.com/mne-tools/mne-python/blob/master/environment.yml) I was still having problems with 3d visualization. The Mayavi window was not showing anything/freezing. I also get an error message from another window stating: "GL version 2.1 with the gpu_shader4 extension is not supported by your graphics driver but is required for the new OpenGL

[2018-04-01 14:31] dipetkov opened #5072 "Exclude multiple identically named channels when reading EDF"
I am using mne 0.15.2 to load the EDF files in the CHB-MIT EEG database https://www.physionet.org/pn6/chbmit/.

[Note: I know there are other issues related to this dataset, in particular about the duplicate "T8-P8" channel. But I think this is a separate issue. It is rather small and there might be better solutions to it also.]

`read_raw_edf` happily reads the EDF files for about half of the sub

[2018-04-01 15:52] agramfort commented on #4843
Thanks for the feedback. This should be added to our install doc

[2018-04-01 16:46] TommyClausner commented on #5067
If the problem still exists after the 15th this month, I'd be happy to have a look ;)

[2018-04-01 16:51] LegrandNico commented on #4869
I'm not sure that autoreject is designed to find artifacts on filtered data. Plus, it may be better to keep artifact correction first in the pipeline before ICA to have the opportunity save clean data, and after that run any analysis you want. Applying autoreject at the end on each Hilbert transform can be computationally really expensive.

[2018-04-01 17:18] voidsoundist opened #5073 "Issues in importing Neuroscan EEG raw data(.cnt)"
Hi all,
I'm new for MNE.
I've been trying to import a Neuroscan data file (.cnt) in the past few days, but I've had a problem that I can not solve by myself.
(_In fact, when using the **mne.io.read_raw_cnt()** function, it was difficult to find a montage match with the 64channel montage used in our experiment, but this was a temporary fixed(If someone has resolved similar issues related to this, c

[2018-04-01 17:21] agramfort commented on #5073
I see just see warnings due to very recent numpy.

do you actually get an error?

[2018-04-01 17:29] voidsoundist commented on #5073
Thanks, agramfort!

OMG... does it just warning?...
I've just checked it, so... yes, as you said, I can check the data was read well...

output:
`<RawCNT  |  noise_.cnt, n_channels x n_times : 70 x 32900 (32.9 sec), ~245 kB, data not loaded>`

If this kind of thing happens every time, then is it ok?
I mean, do I have to change a version of Numpy? or others?

[2018-04-01 19:36] agramfort commented on #5073
Yes Its Just warnings you can ignore and that will be fixed with new release

[2018-04-01 19:36] #5073 closed

[2018-04-02 01:07] voidsoundist commented on #5073
Thanks a lot, Agramfort!!

[2018-04-02 03:19] mahon94 opened #5074 "Does the "mne.stats.permutation_cluster_test" method work for within-subjects studies?"
In the reference paper for the ["mne.stats.permutation_cluster_test" ](https://mne-tools.github.io/stable/generated/mne.stats.permutation_cluster_test.html#mne.stats.permutation_cluster_test)method, some consideration is needed for multiple-subject studies. I'm asking for the within-subjects study where there is one subject-specific average for each condition. For eg, if we have R subjects and 2 c

[2018-04-02 05:08] EliWim commented on #5053
If I use the sample data as in:

import mne
from mne.datasets import sample
import os
import glob
from mne import io

data_path = sample.data_path()
raw_fname = data_path + '/MEG/sample/sample_audvis_filt-0-40_raw.fif'
raw = io.read_raw_fif(raw_fname , preload=True)
picks = mne.pick_types(raw.info, meg=True, eeg=False, eog=False, ecg=False, stim=False, exclude='bads')
ica=mne.preprocessing.ICA(n_c

[2018-04-02 06:39] agramfort commented on #4869
+1

[2018-04-02 06:50] agramfort commented on #5072
the calibrations factors `cals` are 0 for these channels in this file...

[code]

the solution is to insert here : https://github.com/mne-tools/mne-python/blob/master/mne/io/edf/edf.py#L160

some code that changes the cals from 0 to 1 (or anything != 0). I wonder is we should do this by default with just a warning?

thoughts anyone?

[2018-04-02 07:10] agramfort commented on #5074
you are correct. This is currently no way to inform the function about
dependant samples.

this function
https://github.com/mne-tools/mne-python/blob/maint/0.15/mne/stats/cluster_level.py#L520

will just take as input the concatenated X along axis=0.

do you want to give it a try?

how woudl you write this in terms of API?

On Mon, Apr 2, 2018 at 5:19 AM, Maryam Honari <notifications@github.com>
w

[2018-04-02 07:11] agramfort commented on #5053
is your data having an ok info?

I am afraid it's hard to tell without looking at  your data

[2018-04-02 08:51] EliWim commented on #5053
what is an ok info?
I cannot load up my .fif file...

[2018-04-02 09:22] agramfort commented on #5053
What do you mean you cannot load the file ?

[2018-04-02 13:25] #5047 closed

[2018-04-02 13:44] larsoner commented on #4843
Actually I think it would fit better in `faq.rst`, maybe with a clearer link from the main `install_mne_python.rst`. We don't want that install page to become the landing page for every possible system config / install problem.

[2018-04-02 13:54] larsoner commented on #5067
@TommyClausner feel free to take over #5069, I'll leave it for you :)

[2018-04-02 14:18] larsoner commented on #5053
I think they mean they can't upload / share the file

[2018-04-02 14:29] larsoner commented on #5072
It would be good to understand ideally is why these would be set to 0. in the file. But using `1.` with a warning seems okay to me.

[2018-04-02 17:41] larsoner commented on #4953
Pushing milestone to 0.17 but if you have time @dengemann feel free to tackle it now

[2018-04-02 17:42] jona-sassenhagen commented on #5005
<img width="721" alt="screenshot 2018-04-02 19 42 18" src="https://user-images.githubusercontent.com/4321826/38207401-f8e45eaa-36ad-11e8-8ecc-8504d8cc3742.png">

This is what I see ...

[2018-04-02 17:44] dengemann commented on #4953
Push to 0.17 ok
On Mon 2 Apr 2018 at 19:41, Eric Larson <notifications@github.com> wrote:

[2018-04-02 17:51] larsoner commented on #4957
@britta-wstnr it looks like the changes to `lcmv.py` are pretty small in #5066. Do you have time to tackle saving/loading now? If so we can get probably get it into 0.16, because it should be quite simple with `h5io`. You can draft a PR for LCMV, we can get that up to snuff while #5066 is merged, then the addition of DICS should be just a dozen or so lines of code hopefully!

[2018-04-02 17:53] larsoner commented on #5005
Argh yes, temporary blindness on my part

[2018-04-02 18:35] dipetkov commented on #5072
According to the official CHB-MIT EEG Database website,

And here is the list of channels from one EDF, the dummy ones included, to illustrate what they mean by easy-to-read display:

[code]

So the dummy channels split the channels into "connected" groups. The choice of 0 as the dummy variable doesn't matter if this was done for display purposes only.

But then they didn't use these scheme for al

[2018-04-02 18:42] larsoner commented on #5072
@dipetkov your fix looks reasonable to me in this case. Can you open a PR to fix it? One tweak, your check:
[code]
Can be simplified to:
[code]

[2018-04-02 18:44] agramfort commented on #5072
I would make exclude accept a regexp wdyt?

[2018-04-02 18:47] larsoner commented on #5072
Why not but probably as a separate PR that does it for EDF and EGI (the two readers that use `exclude` kwargs).

[2018-04-02 18:48] agramfort commented on #5072
ok fair enough

[2018-04-02 18:58] agramfort commented on #4843
fine with me

[2018-04-02 20:21] larsoner commented on #3164
This continues to come up from time to time. And from working on XXX it looks like the only plots that use `[ms]` are `evoked.plot`. This is inconsistent even with things that produce `evoked.plot`-like sensor trace plots. :(

@agramfort any change of heart about adding `time_unit` to `evoked.plot` and `evoked.plot_joint`? I think it would be a couple dozen lines of code to do it.

I'd actually be

[2018-04-02 20:22] larsoner commented on #3164
And by "working on XXX" I meant "working on #5079" ... that's what I get for drafting a reply before actually making the PR :)

[2018-04-02 20:26] agramfort commented on #3164
so "Time (s)" everywhere?

[2018-04-02 20:54] larsoner commented on #3164
Yes, we are 98% there, just `evoked.plot` to conquer IIRC

[2018-04-02 22:43] #5005 closed

[2018-04-02 22:47] #4689 closed

[2018-04-02 23:07] larsoner commented on #4533
Closing this for now because I think the issue mentioned here (neighbors) has been solved by #4544, but feel free to comment further on volume reg / morphing stuff here or in new issues.

[2018-04-02 23:07] #4533 closed

[2018-04-03 01:08] EliWim commented on #5053
Yes exactly i meant I cannot upload it here (so that you could see it...)

[2018-04-03 07:26] #4534 closed

[2018-04-03 07:33] agramfort commented on #5053
if you hack your raw with random numbers by modifying the raw._data
attribute do you still have the pb?

[2018-04-03 08:58] palday commented on #4869
And I would also note  that doing the Hilbert transform on Epochs, especially with `envelope=False` is really handy in terms of memory.

[2018-04-03 13:18] #4923 closed

[2018-04-03 13:34] larsoner opened #5081 "BUG: Ref problem for ECoG / sEEG"
Currently we check for average reference for EEG, but not ECoG / sEEG at least in `prepare_noise_cov`. What is the right thing to do here?

[2018-04-03 16:58] britta-wstnr commented on #4957
I am confident that I can have a look before next week - also on the list is the deprecation of ``lcmv()`` to mimic the new DICS code, I can tackle that in the same go, then.

[2018-04-03 17:35] larsoner commented on #4991
@bloyl can you see if this behaves as you'd expect:
[code]
If so, then it could be a problem with CTF compensation channels or something.

If not, then I'll be confused because it seems to work fine over here.

[2018-04-03 18:26] LegrandNico commented on #4869
So do you think the method I tried (access as raw data -> filter -> crop) is worth being added to MNE? It still quite basic but as far I see no other alternative...

[2018-04-03 18:46] larsoner commented on #4991
Just latest `master` is fine. That's more or less where I was testing it.

Looking closer I agree, the contours at least are broken / don't update. I'll try to look into it soon to get it into 0.16.

[2018-04-03 20:06] agramfort commented on #4869
looking are your plot I see something very comparable to :

http://martinos.org/mne/stable/auto_examples/time_frequency/plot_time_frequency_global_field_power.html#sphx-glr-auto-examples-time-frequency-plot-time-frequency-global-field-power-py

do you expect to see more with the code you suggest?

[2018-04-03 20:14] #4241 closed

[2018-04-03 20:48] LegrandNico commented on #4869
My idea here was just to test an `apply_hilbert` method for epochs, so I tried to reproduce the plot from the website with this one. Plots are similar but not exactly the same, due to the cropped interval. As a consequence, results are slightly different when `apply_hilbert` applies to epochs or raw data, which can be confusing. So, although this turnaround is possible, it is not perfect and I won

[2018-04-03 21:55] Slasnista opened #5087 "pb with read_raw_edf and channel names truncation"
Hi,

Channel name truncation might lead to some issues especially when one channel with a truncated name is passed to the reader function as a channel to exclude.
-> the reader does not manage to find the channel to exclude and raises an error.

There might be a possible solution consisting in creating a correspondance table between ch_names and truncated ch_names to overcome this problem in read_

[2018-04-04 05:07] EliWim commented on #5053
Yes I do.

[2018-04-04 05:58] agramfort commented on #5053
So I guess now you can share a file so we can debug ?

[2018-04-04 07:26] agramfort commented on #4869
if there is not added value to what we already have, I suggest to leave it
out to limit future software maintenance.

[2018-04-04 07:29] #4869 closed

[2018-04-04 08:29] EliWim commented on #5053
I would like to uploud my file but as mentioned before fif file types are not supported (that is what the error message says).  Is there any other option to share the file  than uploading the file here directly?

[2018-04-04 08:57] dokato opened #5088 "coreg issue in mne 0.16"
When running with mne-0.16.dev0: `mne coreg` I got:

[code]

[2018-04-04 10:19] cbrnr commented on #4922
Unfortunately I cannot reproduce the issue with the sample data.

I can still reproduce it with my BDF data set though, but now only `MKL_NUM_THREADS=2` yields a slightly different result (previously, this was the case for 2 and 4 threads). Maybe because `conda` updated the MKL package recently. It doesn't matter, because the issue still persists.

Setting `max_iter=1` results in identical outputs

[2018-04-04 10:47] cbrnr commented on #4922
Furthermore, even though the input data is identical for all number of threads (`np.allclose`), when I save the raw data via `raw.save` I get different results. Specifically, ICA results with 1 thread are different from the rest (which are identical). The difference is not as pronounced as when starting with the BDF data (see first post in this thread), but still large enough so that `np.allclose`

[2018-04-04 10:50] agramfort commented on #5053
use dropbox or any other sharing service to share your file.

[2018-04-04 10:54] agramfort commented on #5081
@choldgraf is there a best practice for the reference on ECoG?

for sEEG please tend to use a bipolar montage for viz but for inverse problem I think it's an open question...

[2018-04-04 11:58] britta-wstnr commented on #4957
So the filter contains the same covariance instance that is fed to ``make_lcmv`` (some changes might be done by ``pick_channels_cov``). In my case, this is always an ``Covariance`` object, and then everything saves fine.
To be able to investigate this: how is the ``EmpiricalCovariance`` object obtained?

[2018-04-04 11:58] nbara opened #5089 "ReceptiveField is not pipelineable"
Hi all,

I've been hitting a roadblock recently with the ReceptiveField module.

I'd like to use sklearn CV to find optimal hyperparameters for my data (typical dichotic listening experiment similar to the one in the tutorials :
https://mne-tools.github.io/dev/auto_tutorials/plot_receptive_field.html#compare-model-performance

In that example the crossvalidation and hyper parameter tuning is done

[2018-04-04 12:01] larsoner commented on #4957
Looking at the code I don't see why it would happen. @kingjr can you provide a snippet to replicate?

In the meantime @britta-wstnr you can proceed as if this is not an issue, assuming we will fix whatever is causing @kingjr to have the an EmpiricalCovariance rather than Covariance.

[2018-04-04 12:06] larsoner commented on #4922
Can you share the script and (privately with me if you want) the file to replicate?

[2018-04-04 12:25] larsoner commented on #4904
Closing as addressed, feel free to reopen if I'm wrong @massich

[2018-04-04 12:25] #4904 closed

[2018-04-04 12:30] larsoner commented on #4882
@cbrnr do you have time to write a summary PR of this in the `Notes` section of the `ICA` object?

[2018-04-04 12:33] #4875 closed

[2018-04-04 12:33] larsoner commented on #4875
Was fixed in #4887

[2018-04-04 12:38] agramfort commented on #4904
I don't think it is fixed no?

[2018-04-04 12:48] #4853 closed

[2018-04-04 12:48] larsoner commented on #4853
Closing as this should be fixed with the `master` install instructions

[2018-04-04 12:49] dokato commented on #5088
Strange, I do have different mne versions but in separate conda environments.

[2018-04-04 12:49] larsoner commented on #4852
Closing but feel free to reopen if still an issue

[2018-04-04 12:49] #4852 closed

[2018-04-04 12:53] larsoner commented on #4813
@cbrnr do you still want this?

[2018-04-04 12:53] larsoner commented on #4813
Closing for now but if you think there is more to discuss feel free to reopen

[2018-04-04 12:53] #4813 closed

[2018-04-04 12:55] larsoner commented on #4780
Closing as there is a suitable workaround, but if someone figures out which layout this KIT system should use we can open a PR to add it to the list

[2018-04-04 12:55] #4780 closed

[2018-04-04 12:57] #4766 closed

[2018-04-04 13:01] christianbrodbeck commented on #5088
Did you check your paths? It looks like you might be accessing the script (the `$ mne` command) from a different version than the package. Also check `$ which mne`.

[2018-04-04 13:25] larsoner commented on #4742
Closing since the main problem can by solved by a NumPy-based workflow. @stfnrpplngr if you are still interested in the other features you mention in your last post, feel free to open new issues for discussion

[2018-04-04 13:25] #4742 closed

[2018-04-04 13:26] larsoner commented on #4663
Should have been fixed by #4665, feel free to reopen if not

[2018-04-04 13:26] #4663 closed

[2018-04-04 13:26] larsoner commented on #4639
This was fixed recently

[2018-04-04 13:26] #4639 closed

[2018-04-04 13:28] larsoner commented on #4538
Closing as it sounds like this has been fixed, but @timmidee if you still see this on `master` please reopen

[2018-04-04 13:28] #4538 closed

[2018-04-04 13:30] larsoner commented on #4498
This is no longer the case. There is a param called `order` but it gets passed as `group_by`. Not the most consistent but probably not worth a deprecation cycle

[2018-04-04 13:30] #4498 closed

[2018-04-04 13:30] larsoner commented on #4467
Closing as an upstream bug.

Do you see this on our latest `environment.yml`?

[2018-04-04 13:30] #4467 closed

[2018-04-04 13:31] larsoner commented on #4446
We now have a function for volume neighbors / connectivity, so closing this one

[2018-04-04 13:31] #4446 closed

[2018-04-04 13:32] larsoner commented on #4415
I think this should be fixed on `master` (can't remember the PR offhand) but feel free to reopen if not

[2018-04-04 13:32] #4415 closed

[2018-04-04 13:36] larsoner commented on #4350
Closing since there is no further "todo" here, but feel free to continue to discuss

[2018-04-04 13:36] #4350 closed

[2018-04-04 13:36] larsoner commented on #4343
We have adjacency creation now so I'll close this, feel free to reopen if there are bits left to do

[2018-04-04 13:36] #4343 closed

[2018-04-04 13:39] larsoner commented on #4313
@joewalter was this one fixed? If not, any chance to make a quick fix for 0.16?

[2018-04-04 13:40] jona-sassenhagen commented on #5089
I'm not sure you'll gain much from multiprocessing, the Ridge estimator will very efficiently use your cores anyways.

Also couldn't you create a GridSearchCV for a pipeline and then pass the pipeline to `ReceptiveField`? Or does `TimeDelayedRidge` maybe help you here?

[2018-04-04 13:40] larsoner commented on #4229
I think this has been fixed by recent coreg changes

[2018-04-04 13:40] #4229 closed

[2018-04-04 13:40] #4207 closed

[2018-04-04 13:40] larsoner commented on #4207
Fixed by #5004

[2018-04-04 13:41] larsoner commented on #4140
This was fixed by our inclusion of sklearn classes in #4632

[2018-04-04 13:41] #4140 closed

[2018-04-04 13:43] larsoner commented on #4122
Closing since it's not clear what the unification would be, but feel free to reopen if you have an idea

[2018-04-04 13:43] larsoner commented on #4051
Closing as a doc problem covered by #3893

[2018-04-04 13:43] #4051 closed

[2018-04-04 13:44] larsoner commented on #3939
Closing for BIDS

[2018-04-04 13:44] #3939 closed

[2018-04-04 13:44] larsoner commented on #3853
@britta-wstnr can you comment on the progress / relevance here?

[2018-04-04 13:45] larsoner commented on #3548
Closing as this is in the meta-issue

[2018-04-04 13:45] #3548 closed

[2018-04-04 13:46] jona-sassenhagen commented on #4122
Well, `TFR.plot_topomap` could lose `tmin` and `tmax` and gain `times` and `average` instead?

[2018-04-04 13:51] larsoner commented on #3082
Closing due to non-response, feel free to reopen if not addressed

[2018-04-04 13:51] #3082 closed

[2018-04-04 13:51] larsoner commented on #2828
@agramfort do we still need this? With the ease of adding sections manually it does not seem essential

[2018-04-04 13:52] larsoner commented on #2814
I think we have better checks now, feel free to reopen if they are still insufficient

[2018-04-04 13:52] #2814 closed

[2018-04-04 13:53] larsoner commented on #2772
Copied this over to #3934

[2018-04-04 13:53] #2772 closed

[2018-04-04 13:54] nbara commented on #5089
Are you sure? It's excruciatingly slow on a very fast server....

What I was doing until now to speed it up a notch is start using multiprocessing to run subjects in parallel (I have ~ 30)

[code]

I will try your suggestion and let you know, thanks.

You're right that TDR is quite a bit faster, but unfortunately I've been getting noticeably better results with Ridge which is why I'm using the lat

[2018-04-04 13:54] larsoner commented on #2572
This has been superceded by #4859

[2018-04-04 13:54] #2572 closed

[2018-04-04 13:55] larsoner commented on #2448
I think the error message is clear enough (about semidef, telling you to use reg) as is the solution (pass reg param) so that the deprecation cycle necessary to fix this is not worth it. Closing, but feel free to reopen if you disagree

[2018-04-04 13:55] #2448 closed

[2018-04-04 13:56] larsoner commented on #2158
Closing because the "hat" method mentioned above is designed for this case

[2018-04-04 13:56] #2158 closed

[2018-04-04 13:58] larsoner commented on #1902
Moved to #3985, closing here

[2018-04-04 13:58] #1902 closed

[2018-04-04 13:58] d-van-de-velden commented on #4446
Hello,

that is good news. May I ask for a reference to said function ?
Moreover, how are you verified the correctness of the function? I am asking, since I am going to use it in my project and its not used often enough to be sure about it.

Thanks in advance,
Daniel

[2018-04-04 13:59] larsoner commented on #1534
Closing for more complete discussion in #4859

[2018-04-04 13:59] #1534 closed

[2018-04-04 13:59] larsoner commented on #1477
Closing since this hasn't seen activity in 3+ years, feel free to reopen if you still hit this need

[2018-04-04 13:59] #1477 closed

[2018-04-04 14:00] larsoner commented on #1157
@dengemann do we still need this? To me it falls into the "use matplotlib" category

[2018-04-04 14:01] larsoner commented on #973
closing as "wontfix", feel free to reopen and restart discussion if it's a priority

[2018-04-04 14:01] #973 closed

[2018-04-04 14:01] larsoner commented on #665
We have volume support now that I think includes this, closing

[2018-04-04 14:01] #665 closed

[2018-04-04 14:04] larsoner commented on #5089
`Ridge` and `TimeDelayingRidge` are meant to produce identical (to numerical precision) results. If they do not, we have some bug. Can you try to make a minimal example?

[2018-04-04 14:05] larsoner commented on #4446
See https://github.com/mne-tools/mne-python/pull/4544

[2018-04-04 14:06] larsoner commented on #4122
Ahh okay, based on what @agramfort said I thought it would be more complicated

[2018-04-04 14:07] britta-wstnr commented on #3853
Neural activity index is done (``weight_norm="nai"``).

I never looked at high SNR breakages, but in general they are a common and inherent problem with spatial filters.

The normalizations are not implemented for beamformers AFAIK. Might be an interesting extra function (to apply to already computed output?) and is probably most relevant if returning power - the source power LCMV implementation `

[2018-04-04 14:08] agramfort commented on #2828
I would say so as it's the visual feedback on quality assessment of forward
computation.

[2018-04-04 14:25] alexandrebarachant commented on #4847
This dataset is supported by the moabb :
http://moabb.neurotechx.com/docs/generated/moabb.datasets.BBCIEEGfNIRS.html#moabb.datasets.BBCIEEGfNIRS

to load the data of subject 1 in the MNE format, just do

[code]

[2018-04-04 14:35] nbara commented on #5089
Uh oh, now you're making me doubt now @larsoner :) I'll double check that Ridge vs TDR results and get back to you asap.

[2018-04-04 14:55] d-van-de-velden commented on #4446
So to make it clear. You are referring to "def _spatio_temporal_src_connectivity_vol(src, n_times)" ?

[2018-04-04 17:27] jona-sassenhagen commented on #5089
If you want to see if it's using your cores, you should check CPU usage.

[2018-04-04 17:31] jona-sassenhagen commented on #5089
Btw, as you know, there isn't much to tune with Ridge anyways. You can use RidgeCV to tune internally.

[2018-04-04 17:37] larsoner commented on #4904
Right, #5094 should do it

[2018-04-04 17:53] larsoner commented on #4446
No you should be able to use the public function `spatio_temporal_src_connectivity`

[2018-04-04 18:00] larsoner commented on #4847
Closing as it looks like there is a solution, thanks @alexandrebarachant

BTW @alexandrebarachant if this is some package / pipeline you want to advertise in MNE feel free to open a PR to `doc/manual/datasets.rst`

[2018-04-04 18:00] #4847 closed

[2018-04-04 18:01] #5072 closed

[2018-04-04 18:17] alexandrebarachant commented on #4847
@larsoner this is still a very young project so i will wait until thing stabilize to advertise here. We are aiming at ~20 dataset for the first release, all converted in MNE format :)

[2018-04-04 18:18] larsoner commented on #4847
Great, feel free to open PRs to MNE to advertise / cross-link when you're ready

[2018-04-04 18:25] jona-sassenhagen commented on #4859
I'm late here, but:

            for cond in cond_list}

This is also the API used by plot_compare_evokeds, so it would be a nice consistency.

[2018-04-04 18:37] larsoner commented on #4859
@christianbrodbeck any feedback on the API proposal based on what you have in `eelbrain`?

[2018-04-04 19:26] christianbrodbeck commented on #4859
Not sure, I haven't really been following this after implementing stats in `eelbrain`. I would not want to stop using data tables with meaningful labels and data objects with arbitrary dimensions. But maybe it would be useful to define a relatively high level intermediate API that works with only arrays and some sort of high level dimension specification?

[2018-04-04 20:04] agramfort commented on #5087
you have this info in:

`raw._raw_extras[0]['ch_names']`

[2018-04-04 20:04] #5087 closed

[2018-04-04 21:29] mmagnuski commented on #4859
I agree with @jona-sassenhagen on all points but consider them a characterisation of the end goal, we will need a lot of small steps to get there. API-wise having `mass_univariate` instead of cluster-specific sounds good to me, but the returned objects would be different for cluster and non-cluster stats.
The patsy + plot_compare dict style is something I considered - this might work best for t te

[2018-04-04 21:34] jona-sassenhagen commented on #4859
Or regexp: `rt* -> rt10, rt11, rt12`

[2018-04-05 01:45] EliWim commented on #5053
this is my raw fif file:
https://www.dropbox.com/s/56jzrffb2b7sfrn/raw_tsss.fif?dl=0

[2018-04-05 02:44] moppymopperson commented on #5046
I can't promise I'll get around to this soon, but if it hasn't been fixed by the next time I've got some spare time I'd definitely like to give it a crack.

[2018-04-05 07:04] #5046 closed

[2018-04-05 07:12] #4796 closed

[2018-04-05 07:14] agramfort commented on #4859
one option would be to start a separate repo to allow easier try and errors
and then integrate to mne core when API is more settled.

[2018-04-05 07:48] cbrnr commented on #4350
Yes, all discussions related to the GUI should take place in the MNELAB repo. Currently, I'm still stuck because of https://github.com/cbrnr/mnelab/pull/15, where I need to run the ICA calculation in a separate thread to be able to show a Cancel button in the GUI... Any help is very much appreciated.

[2018-04-05 09:01] nbara commented on #5089
Currently my pipeline consists of a Z-scorer (according to several papers this should be done), a RF, and a classifier (I have 2 concurrent streams, but this is done in many other papers as well).

Currently I'm doing all this by hand, but shouldn't I be able to do that all at once in sklearn ?

What I was hoping to achieve is something similar to this example:
http://www.martinos.org/mne/dev/auto

[2018-04-05 14:17] larsoner commented on #5089
@choldgraf thoughts on this pipeline for ReceptiveField idea?

[2018-04-05 15:07] mmagnuski commented on #4859
@agramfort - Sure, a separate repo for early steps sounds reasonable.

@jona-sassenhagen

I'm not sure I understand - you mean to always use the epochs metadata then?
We could either have `use_metadata` kwarg or automatically check if passed epochs have metadata with columns corresponding to levels.

[2018-04-05 15:32] mmagnuski commented on #4859
I updated the first post a little and will be progressively organizing it as our ideas shape up.
Currently the early API direction seems to be to:
* allow for dicts of data
* use `levels` kwarg for specifying levels of factors/predictors
* use epochs metadata (in within-subject analysis) when mentioned in `levels` (maybe with `use_metadata` safety kwarg)
* allow for patsy-like formulas

For within

[2018-04-05 15:48] larsoner commented on #4859
One thing that would help us here that we don't have is a `tutorials/plot_background_statistical_contrasts.py` that shows how to do commonly needed contrasts in Python starting with data in lists of arrays, probably with `scipy.stats`, `patsy`, and `statsmodels`:

- t-test (1 sample, 2 sample)
- 1-way ANOVA (repeated measures, independent)
- 2-way ANOVA (test for main effects, interaction term x r

[2018-04-05 16:00] jona-sassenhagen commented on #4859
Im quite open to working on such a tutorial. It’s perhaps the biggest hurdle for people doing basic ERP work who want to use MNE rght now. At the last MNE tutorials I gave, this was the least smooth step.

[2018-04-05 16:02] mmagnuski commented on #4859
@larsoner - might that be better suited to add to the [biomag mne demos](http://mne-tools.github.io/mne-biomag-group-demo/auto_examples/index.html)? Or maybe we can use the files from the faces dataset here (in main mne repo)?

[2018-04-05 16:09] larsoner commented on #4859
No, I don't want to start with multidimensional Neuroimaging data. Let's make fake data about subject reaction time or something else that is truly univariate. If we want it to be like MEG data let's pretend that the data are peak amplitude or latency or something. But we should use synthetic data for this.

[2018-04-05 16:09] larsoner commented on #4859
@jona-sassenhagen if you have time to work on this please do. There will be overlap with `plot_background_statistics.py` but we can refactor later.

[2018-04-05 16:55] emilyps14 opened #5102 "BUG: read_epochs for split files has incorrect events"
I have a large epochs file, that gets split into two files when I call epochs.save()
When I load it again using mne.read_epochs(), the events corresponding to the second file are incorrect, offset by [last epoch from the first file + tmax + 10s].

The bug comes from _concatenate_epochs.

This breaks the relationship between the raw file and the events list, which (aside from causing downstream pro

[2018-04-05 18:00] bloyl commented on #4192
So to be honest, I"m not sure how/why I thought it should work. maybe just looking through code.

However it might make sense to document the environment variables for the datasets somewhere
maybe https://martinos.org/mne/stable/manual/datasets_index.html#datasets?

reason being is that in multi user environments its nice to have a single copy of those datasets. Is there a way to specify that loca

[2018-04-05 18:14] larsoner commented on #4192
No global location. You could provide a template `~/.mne/mne-python.json` file though.

[2018-04-05 18:58] #4192 closed

[2018-04-05 19:04] agramfort commented on #5102
can you share a code snippet to replicate usings sample data? you can make
random events if it's just for testing.

[2018-04-05 19:32] emilyps14 commented on #5102
`
import os.path as op
import mne

data_path = op.join(mne.datasets.sample.data_path(), 'MEG', 'sample')
raw = mne.io.read_raw_fif(
    op.join(data_path, 'sample_audvis_raw.fif'), preload=True)

events = mne.make_fixed_length_events(raw,1)
epochs = mne.Epochs(raw, events)
epochs.save('test-epo.fif',split_size='100MB')

epochs2 = mne.read_epochs('test-epo.fif',preload=False)
epochs2.get_data() # t

[2018-04-05 19:43] #4939 closed

[2018-04-05 19:49] agramfort commented on #5053
there is something to understand here:

import numpy as np

import mne
from mne.datasets import sample
from mne import io

raw_fname = '/Users/alex/Downloads/raw_tsss.fif'
raw = io.read_raw_fif(raw_fname, preload=True)
raw.pick_types(meg=True)
picks = mne.pick_types(raw.info, meg=True, eeg=False, eog=False, ecg=False,
stim=False, exclude='bads')
ica = mne.preprocessing.ICA(n_components=0.9, random

[2018-04-05 20:02] agramfort commented on #5102
I don't think @larsoner is good enough to fix this :)

[2018-04-05 20:05] larsoner commented on #5102
I see what you did there :)

Yes I can try hopefully next week

[2018-04-05 20:48] emilyps14 commented on #5102
Yep, that fixes it. Thanks!

[2018-04-05 21:04] #4484 closed

[2018-04-05 23:44] aitorme commented on #4852
sure, I never managed to run the ICA anyways so I had to skip that bit

[2018-04-06 07:10] EliWim commented on #5053
I get the same result as you. But I do not understand what is going wrong.

[2018-04-06 07:22] er06645810 opened #5104 "Plot Source Alignment tutorial is out of commission"
The tutorial file `plot_source_alignment.py` is broken. It looks like there were some changes introduced to the API that haven't been taken into account in the tutorial.

I stumbled across this while trying to figure out how to create a forward solution from a sphere model. I found some issues from a couple years back (2014 maybe?) where it was documented, but I can't figure out how to do in the c

[2018-04-06 08:03] agramfort commented on #5104
what version are you using? current master? where did you take the example
code from? stable or dev website?

[2018-04-06 08:15] er06645810 commented on #5104
Sorry about the lack of clarity. This was on the latest commit to `master`, and I ran the file directly from the repo as opposed to copy/pasting from the website to ensure that the version of mne and the tutorial matched.

[2018-04-06 08:53] agramfort commented on #5104
it works fine with me on master

I suspect a mismatch of versions on your system

[2018-04-06 08:53] #5102 closed

[2018-04-06 09:16] #4697 closed

[2018-04-06 18:56] mathurinm opened #5105 "ENH: add precomputed fwd operator for somato?"
I am working on IR schemes for TF-MxNE in #5075. The benefits of this solver are best shown on data where the sources contains a mix of transient and slow activations, eg in somato data. For this reason, in the example I plan to add in my PR, I'd like to work on somato instead of sample.

Currently the forward solution is not stored and has to be computed, which would make the example long to run

[2018-04-06 19:54] larsoner commented on #5105
This is possible depending on the increase in file size. For forward it can be large but would be worth it IMO. Same process would apply for #4184 and other "dataset-update" requests:

1. Download dataset
2. Extract
3. Add file
4. Compress
5. Upload to `osf.io` (@agramfort can give you upload permissions, or share the file with me or him and we can do it)
6. Open PR to update hash in `mne/datasets

[2018-04-06 21:42] mathurinm commented on #5105
Thanks for the detailed answer, I'll do it.

[2018-04-07 05:56] moppymopperson commented on #5104
Hmm...alright, I’ll close this in the meantime. I’ll be out of town for a week or two before I have time to try again. Thanks for testing it out.

[2018-04-07 05:58] #5104 closed

[2018-04-07 06:09] er06645810 commented on #5104
Hmm...I tried to make sure the versions matched. I won’t be able to check it for a bit because I’ll be out of town, so I’ll close it until I can reproduce the issue or get it working. Thanks for taking the time to test it.

[2018-04-07 17:38] christianbrodbeck commented on #5088
I think it could be due to mixing conda and pip installs, they're not completely compatible, I would try (pip) installing mne again.

[2018-04-08 14:04] thht commented on #4833
hi,
so, we have decided for now to develop this feature outside of mne-python. we have so far developed a package to unify reading mat-files (i.e. both <=7 and 7.3). you can find it here: https://gitlab.com/obob/pymatreader . we also developed a package called fieldtrip2mne (https://gitlab.com/obob/fieldtrip2mne) that can for now read raw, epoch and evoked data.

both packages can be found on pypi

[2018-04-08 19:35] #3164 closed

[2018-04-09 07:45] thht commented on #4833
thanks for the appreciation!

considering the license issue: the GPLv3 is my default license for code that i publish because i like the fact that if someone uses my work and modifies it, it needs to stay open source. so yes, it is a conscious decision.

but if you decide that you want to include the code directly in mne-python, i would be open to change the license to the BSD one.

would that be n

[2018-04-09 07:50] dengemann commented on #4833
Yes for any code to be included in MNE Python.
On Mon 9 Apr 2018 at 09:45, Thomas Hartmann <notifications@github.com>
wrote:

[2018-04-09 07:53] agramfort commented on #4833
yes it's necessary.

Good reads on this:

see http://ivory.idyll.org/blog/2015-on-licensing-in-bioinformatics.html
http://www.astrobetter.com/blog/2014/03/10/the-whys-and-hows-of-licensing-scientific-code/

[2018-04-09 08:01] thht commented on #4833
ok, thanks for the clarification. is it correct that this also holds for code that is not included directly into mne-python but merely a dependency?

[2018-04-09 08:07] agramfort commented on #4833
yes. It has been our policy so far. No copy-left code in MNE.

[2018-04-09 10:14] thht commented on #4833
ok, my colleague just told me that he is fine with the BSD license as well. i will update the respective information shortly.

[2018-04-09 12:16] agramfort commented on #4833
great

that will make everything easier.

[2018-04-09 15:33] larsoner commented on #5088
Closing as an installation problem, but we can reopen if there is something to fix at the MNE end.

If you do figure it out, maybe adding some insights to a new "debugging conflicting environments" entry in the FAQ would help.

[2018-04-09 15:33] #5088 closed

[2018-04-09 16:55] bloyl opened #5108 "Interactive plots with show=False"
Interactive plots with show=False or with non blocking matlabplot backends can lead to unexpected results.

For instance (here is gist showing this for sample data - https://gist.github.com/bloyl/7f6a7910bf2afce5f198b6233f39416b )
[code]
This will make 2 figures. the Butterfly plots will be correct, the first will show no bad channels and the second will show the bads chans in red.

However if you

[2018-04-09 17:15] larsoner commented on #5108
Yes I could see how this would happen. I'm not sure if there is a good solution, though. Should we add something to the `plot_visualize_evoked` or somewhere else about this behavior? This will also affect all plotting modes where you can modify an object (in weird/probably breaking ways), such as `epochs.plot` and `raw.plot`.

[2018-04-09 17:47] bloyl commented on #5108
I don't know enough about python to know if this is possible, but I would
think the ideal case would be to monitor the object and then redraw
derivative plots (butterfly, topos etc) if the object is modified in a
meaningful way. An alternative would be store a copy of the object for
plotting, but that would have huge overhead for epochs or raw.

On Mon, Apr 9, 2018 at 1:15 PM Eric Larson <notifica

[2018-04-09 19:14] agramfort commented on #5108
at least

evoked.plot

could  be fixed as it cannot change the evoked instance.

[2018-04-09 19:58] larsoner opened #5109 "API: Unify lcmv and dics code"
Some of the inversion / pinv / `eigh` calls should be unified in the LCMV and beamformer code, see XXX's introduced in `_lcmv.py` and `_dics.py` in #5066.

[2018-04-10 08:01] thht opened #5110 "Suggestion: Write classes for classification and statistics"
hi,
i am currently doing my first analysis in MNE. i got aware that at a lot of steps in the workflow, data is conveniently represented in classes (raw, epochs, average, TFR, etc....). this seems to be lacking for classification and statistics.

as i am going to wrap these two things in classes anyhow to make my life easier, i thought it would be a good idea to ask for your input first because if

[2018-04-10 09:09] agramfort commented on #5110
can you give more details for the first use case. What would the class
container actually contain?

[2018-04-10 11:48] agramfort opened #5111 "src.plot different color for each source space"
when doing src.plot for a volumic source space it would be nice to see in different colors (not just yellow) the source locations depending to which structure they belong.

[2018-04-10 14:49] jona-sassenhagen commented on #5111
Definitely.

[2018-04-10 14:49] jona-sassenhagen opened #5112 "EpochsTFR should preserve metadata"
@choldgraf @palday @sappelhoff

[2018-04-10 14:51] larsoner commented on #5111
In theory for the volume ones we might be able to get the colors from the Freesurfer LUT / aseg somewhere

[2018-04-10 15:02] britta-wstnr commented on #5109
I'd be happy to take a look next week - or should is this a milestone for 0.16, @larsoner ?

[2018-04-10 15:04] larsoner commented on #5109
I don't think it should be a blocker for the release, but if we can get it in that would be graet

[2018-04-10 15:37] britta-wstnr commented on #5109
Okay, I will try to get a list of what would be needed ASAP - then maybe we can see how big of a project this will be and if it's reasonable to get it done fast?

[2018-04-10 15:42] larsoner commented on #5109
Sounds good to me

[2018-04-10 15:47] agramfort commented on #5111
+1 !

[2018-04-10 16:16] thht commented on #5110
@jona-sassenhagen thanks for pointing out the #4859. i was not aware and i think it would be great to have a more sophisticated and flexible API for stats.

however, #4859 seems to focus on how to define the statistical tests and models. it does have a part that argues for returning/creating objects, providing save and plot methods but as far as i understood, this does not seem the priority.

and

[2018-04-10 16:18] jona-sassenhagen commented on #5110
@thht also consider https://github.com/mne-tools/mne-python/pull/5071

[2018-04-10 16:18] jona-sassenhagen commented on #5110
https://7545-1301584-gh.circle-artifacts.com/0/html/auto_tutorials/plot_stats_cluster_erp.html

[2018-04-10 16:24] thht commented on #5110
@agramfort if it has not become clear so far, i basically want to be able do something like this:

[code]

[2018-04-10 16:27] thht commented on #5110
@jona-sassenhagen thanks for the links! it has some great examples how to calculate the stats and plot them. i would like to put that logic into classes so users can conveniently use them and scripts look cleaner.

[2018-04-10 16:29] jona-sassenhagen commented on #5110
@agramfort will probably suggest that you set up an external repo in mne-sandbox first.

My suggestion is: I think the evoked objects are quite sufficient for plotting purposes. What we need is a smoother way for efficiently getting data into our stats functions, and getting the results back in the right format.

[2018-04-10 16:38] thht commented on #5110
sure, as i said i will start developing it as an independent project first and once i think it is good enough to present here, i will do so.

i basically wanted to see whether there is any interest in this kind of code and who might be working on similar things so there can be some coordination and to get some feedback and the idea.

if it is ok with you and the rest of the community, i will just

[2018-04-10 16:42] jona-sassenhagen commented on #5110
Sure.

@cbrnr @mmagnuski

[2018-04-11 07:09] cbrnr commented on #4813
I guess it's OK the way it is.

[2018-04-11 07:12] cbrnr commented on #4922
Sure, we'd need to go the private way though, because I can't share the data publicly. How can I contact you?

[2018-04-11 07:13] cbrnr commented on #4882
Yes, will do!

[2018-04-11 07:31] thht commented on #4833
ok, pymatreader and fieldtrip2mne are now under the 2-clause BSD license.

[2018-04-11 11:01] wmvanvliet opened #5115 "Proposition: add small utility for managing filenames"
When writing our example pipeline for processing 20 subjects for the Frontiers Research Topic, an excessive amount of lines and complexity became devoted to constructing filenames:

    epochs_fname = subjects_dir + 'sub%02' % subject + '-' + condition + '-epo.fif'

...and so forth. To clean up the code, I wrote a small `FileNames` class, which ended up being so very useful it is now an integral p

[2018-04-11 11:31] cbrnr opened #5116 "raw.plot() annotations can't be dragged to extend anymore"
Using master, dragging an edge from an existing annotation doesn't extend it anymore. Strangely, there must be something else going on (maybe related to a matplotlib update?), because annotation mode (i.e. pressing "a" in the raw viz window) doesn't work before commit https://github.com/mne-tools/mne-python/commit/dba99f19e24ed3e59f72bb8eaff6174c104568ca (I get an `IndexError` in `matplotlib/grids

[2018-04-11 11:36] cbrnr commented on #5116
OK, it seems like the change related to the MPL update is here: https://github.com/mne-tools/mne-python/commit/8270c1840ea821d8307ba2e16e3f334f8913f01f. I'm trying to spot the issue right now.

[2018-04-11 11:36] agramfort commented on #5110
I would suggest to create a repo and add all the interested people here as
admin so they can help

[2018-04-11 11:54] agramfort commented on #5115
I was think of something like this to expose in python the bids files so we
should "brainstorm" how to best converge here.

[2018-04-11 11:55] agramfort commented on #4833
great !

could you add cross-refs to how docs?

[2018-04-11 11:59] cbrnr commented on #5116
https://github.com/mne-tools/mne-python/commit/79959786786311aedd20da272fb4de94a20f16ef#diff-67c3f20abfc81a4879c4713b43ccd603 introduced this bug. Now checking to find the culprit.

[2018-04-11 12:21] agramfort opened #5117 "epochs[['foo', 'bar']] bug"
Let's say you have an epochs object which you believe has labels 'foo' and 'bar', but really 'bar' doesn't exist as a label in the object.

epochs['bar'].average() throws an error, which seems reasonable

epochs[['foo', 'bar']].average() does not throw an error while it should.

[2018-04-11 12:43] cbrnr opened #5118 "Beautify some docs properties"
There are some things in the auto-generated docs website that could be improved.

1. Sometimes, the listed attributes are enclosed in double backticks (e.g. https://martinos.org/mne/dev/generated/mne.preprocessing.Xdawn.html#mne.preprocessing.Xdawn, https://martinos.org/mne/dev/generated/mne.decoding.CSP.html#mne.decoding.CSP). These double backticks get rendered in the docs, which is probably not

[2018-04-11 13:01] thht commented on #4833
so you mean a link to here: http://fieldtrip2mne.readthedocs.io/en/latest/ ?

[2018-04-11 13:06] wmvanvliet commented on #5115
Do we have another issue open somewhere for it?

Otherwise, let me start with the brainstorm:

The bids files could just be an instance of `FileNames`, constructed like this:

[code]

That would result in an `FileNames` object with the following fields:

[code]

[2018-04-11 13:07] wmvanvliet commented on #5115
Does BIDS-MEG specify explicit templates for filenames for raw, tsss, etc?

[2018-04-11 13:14] larsoner commented on #5117
I'm not convinced. So far the `[a, b]` has been thought of as `a or b`. This is consistent with that idea.

[2018-04-11 14:03] bloyl commented on #5117
I would say that at a minimum it should issue a warning. I also can't generate epochs like this, because if i supply an event_id that has doesn't have any events I get an exception
`ValueError: No matching events found for test (event id 21)`

Relatedly, I would love to see a method that would list the available labels within an epochs objects. I know `epochs.event_id` has the events in it but for

[2018-04-11 14:12] larsoner commented on #5117
This is controllable via the `on_missing` parameter of `Epochs`. People who have used this option in conjunction with the existing `or`-like logic will thus experience a backward-incompatible code change by the proposed change here.

There are actually more possibilities than this, though, right? You could also pass any of `['Nonwords', 'Related', 'Unrelated']` and get epochs.

[2018-04-11 15:47] larsoner commented on #5118
This is because variable names that end with `_` are interpreted by Sphinx as links and generate warnings. `sklearn` has this, too:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/linear_model/ridge.py#L608

We should look to see if somehow they prevent these from being interpreted as links. Or maybe it's already fixed by latest `numpydoc`...?

[2018-04-11 15:51] larsoner commented on #5118
In SciPy they use single backticks, which IIRC means "generate a link", but I've never seen it actually do so. It renders them in italics.

Using double-backtics renders as code, which I think is better than italics.

[2018-04-11 16:46] agramfort commented on #4833
thinking a bit more. I would suggest:

- keep pymatreader <https://gitlab.com/obob/pymatreader> as a separate
package with proper release cycles. Put a copy in externals module.
- integrate fieldtrip2mne in mne/io/fieldtrip

wdyt?

[2018-04-11 16:56] larsoner commented on #4833
Sounds good to me

[2018-04-11 17:03] thht commented on #4833
i agree. i think this makes the fieldtrip2mne part available to a wide userbase. and i guess that it is the easiest solution to fir into the MNE release system.

[2018-04-11 17:15] agramfort commented on #4833
great

can you start a PR?

[2018-04-11 18:19] agramfort commented on #5117
can we find a middle ground here?

[2018-04-11 18:24] cbrnr commented on #5118
Re double backticks, the sklearn example you've linked to doesn't use them. I've removed them in #5114 and the docs render fine I think: https://7698-1301584-gh.circle-artifacts.com/0/html/generated/mne.preprocessing.ICA.html#mne.preprocessing.ICA
So this could already be fixed?

Re double vs. single backticks, whatever we use is fine, but we should be consistent. I tend to prefer single (italic),

[2018-04-11 18:29] larsoner commented on #5118
Double is the standard we have tried to follow so far

[2018-04-11 18:29] larsoner commented on #5118
Yes it's in #5120

[2018-04-11 18:32] larsoner commented on #5117
This proposal would break existing reasonable code. I think we need to describe to people that `epochs[[a, b]]` is an OR-like operation, so even if `a` or `b` is not present, no error will occur as long as one of them will.

Argubly, the most consistent thing would be to allow `epochs[a]` to work and return an empty epochs object...

[2018-04-11 18:41] agramfort opened #5123 "speedup setup_volume_source_space"
running this code takes ages. I suspect it's the check of nearest and is inline inner surface. Any chance to speed this up?

[code]

[2018-04-11 19:00] agramfort commented on #5115
yes it does. You have the subject numbers, the run etc.

[2018-04-11 19:13] jasmainak commented on #5115
@wmvanvliet take a look at: https://mne-tools.github.io/mne-bids/

also [this function](https://github.com/mne-tools/mne-bids/blob/master/mne_bids/utils.py#L32) that @choldgraf wrote

[2018-04-11 19:17] bloyl opened #5124 "BUG- can no longer compute projs from CTF data"
PR #5083 added an assert to make sure that ref channels are retained when picking data channels. this had the side effect of breaking EOG and ECG proj computations.

reference channels are explicitly not included when computing proj operators (https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/ssp.py#L186-L187). However there is no mechanism to tell pick_drop_channels to not car

[2018-04-11 19:28] larsoner commented on #5124
You can pass `check_comps=False` to the private `_pick_drop_channels`:

https://github.com/mne-tools/mne-python/blob/master/mne/channels/channels.py#L796

Can you see if the function can be modified to use this? In particular doing `Epochs(... picks)` might not be the way to go, but rather create the object, then use the private drop function with `check_comps=False` to do the picking.

[2018-04-11 19:59] bloyl commented on #5124
I see two options:

1. Since `_compute_proj` currently rejects the `ref_meg` channels at computation time:
https://github.com/mne-tools/mne-python/blob/master/mne/proj.py#L72-L76
we could keep the ref_meg channels in the epochs object and just let `_compute_proj` take care of removing them?

2. In `_compute_exg_proj` we could test if the supplied raw is an instance of RawCTF and only keep the ref

[2018-04-11 20:15] larsoner commented on #5124
There is a third option (that I hinted at), don't do picking with the `Epochs` constructor at all but immediately afterward with a call to the private `epochs._pick_drop_channels(picks)`. This should effectively work out to be a worse version of your (1) if `_compute_proj` is smart enough to leave the reference channels out during its computation. If it isn't, though (if it includes the ref MEG se

[2018-04-12 06:14] #5067 closed

[2018-04-12 08:08] cbrnr commented on #5020
@nbara any update on this?

[2018-04-12 16:30] #5118 closed

[2018-04-12 18:39] #5116 closed

[2018-04-12 20:14] bloyl opened #5127 "Strange behavior generating epochs with gradient compenstation on"
There is a potential issue generating epochs with gradient compensation. Following PR #5083 the expectation would be that reference channels would be required generating epochs from data with compensation matrices. However that isn't the case.

The following code demonstrates the strange behavior see the comments for my expected behavior.

[code]

[2018-04-12 20:18] larsoner commented on #5127
I probably put the check for `comps` in the wrong place (in `channels.py` for `_pick_drop_channels`). If we move the check into `pick_info` (with new default arg `check_comps=True`) it should also make the `epochs` line error.

Can you see if it is indeed the case?

[2018-04-12 20:42] bloyl commented on #5127
I don't totally follow what you are suggesting.

Although, in looking through `pick_info`, I wondered if we should add the `comps` check to `_check_consistency()` of `meas_info.py`.

I would say that an info is invalid if `compensation_grade != 0` and there are compensation channels that don't exist in the info.

Does that seem like a reasonable check?

[2018-04-12 20:52] larsoner commented on #5127
I would say the steps are:

1. Add `check_comps=True` kwarg to `pick_info`
2. Move `comps`-checking code from `mne.channels.UpdateChannelsMixin._pick_drop_channels` to `mne.io.meas_info.py` as a new function `_bad_picks_comps(info, picks)` or so that returns `True` if the picks are "illegal" and False if they are okay.
3. Call this new checking function in `pick_info` and in `_check_consistency` a

[2018-04-12 20:53] larsoner commented on #5127
As for the logic, this should be what you find already in `mne.channels.UpdateChannelsMixin._pick_drop_channels` in `master`

[2018-04-12 20:57] larsoner commented on #5127
See:

https://github.com/mne-tools/mne-python/blob/f5e3399ad6d0c163f3b86f002fd3c6fb687e6315/mne/channels/channels.py#L808

[2018-04-13 01:49] larsoner commented on #3934
@christianbrodbeck with the `head_to_mni` PR #4344 recently merged it occurred to me that we are not scaling the MNI transform file `talairach.xfm`. Have you thought about it and not done it for some reason, or just didn't consider / know about it when implementing originally?

This would give us a way to transform any points in head coords (e.g., from dipole fits) to MNI coordinates once you fit

[2018-04-13 08:52] #4949 closed

[2018-04-13 09:56] mathurinm commented on #5105
The .fif file is 36.9 MB. Is the name `somato-meg-oct-6-fwd.fif` OK ?
I've shared it on dropbox with @larsoner and @agramfort, i'll add the tar.gz file

The new  `MNE-somato-data.tar.gz` is 655 MB (was 589 MB) > am I comso ressing right ?
I used `tar -zcvf` to compress the directory.

[2018-04-13 10:27] cbrnr commented on #5020
@larsoner I think you can remove the 0.16 label since this is very likely not a bug.

[2018-04-13 10:31] nbara commented on #5020
Sorry all, I have no time to properly investigate this at the moment.

Why don't you close this issue for now and I'll reply here when I have more time on my hands to test it ?

[2018-04-13 10:42] cbrnr commented on #5020
No problem @nbara - we can leave it open and just remove the 0.16 label so that this doesn't block the upcoming release.

[2018-04-13 10:42] giuliagennari opened #5128 "cross_val_multiscore: y_true/y_pred?"
Hello,

I was wondering whether there is a way to access the actual predictions other than the scores when using this. If not would you have any suggestion on the best way to do that?
I can not use  sklearn.model_selection.cross_val_predict since my cv scheme is StratifiedShuffleSplit(100).
Is an interation over my cv splits with estimator.fit and estimator.predict the only option? It seems very u

[2018-04-13 11:18] mathurinm opened #5129 "BUG? output when downloading dataset"
When downloading a dataset the console output is like this:
[code]

isn't the last line supposed to be overwritten by the new line ?  So that only one line is displayed during the whole download

[2018-04-13 11:46] agramfort commented on #5129
it should indeed....

[2018-04-13 12:03] britta-wstnr commented on #5109
As far as I see it, the following needs to be done:
*  functions like ``_prepare_beamformer_input``, ``_setup_picks``, ``_reg_pinv, eig_inv``, ``_check_proj_match``, ``_pick_channels_spatial_filter`` (and whatever I missed at first glance) could go into a ``beamformer_utils`` file
* the beamformer "heart" (the core of ``make_lcmv`` and ``make_dics``) could go to a ``_compute_beamformer`` function

[2018-04-13 12:07] larsoner commented on #5109
Yes sounds good to me as two separate PRs. I'm theory no tests should need
to change just internal calls.

I would also just put all shared code (including that for the first PR) in
the _compute_beamformer.py file for simplicity.

[2018-04-13 12:10] larsoner commented on #5129
Are you using an actual pure Python terminal or something else (e.g. one
wrapped by Spyder)? If the latter then it's not our bug but one with their
support of the backspace character.

[2018-04-13 12:10] britta-wstnr commented on #5109
Okay then I will start with the first one, which should be quick enough because it's all functions, so it's just changing imports and think about how to do number 2 in the meanwhile :wink:
PR(s) follow!

[2018-04-13 12:14] mathurinm commented on #5129
I use an ipython terminal (IPython 6.2.1)

[2018-04-13 12:59] larsoner commented on #5129
I cannot replicate (IPython 6.3.1, but I doubt this version matters) on Linux (doubt this matters, either). Are you running `ipython` directly from a terminal or is it embedded in some IDE?

[2018-04-13 13:02] mathurinm commented on #5129
Directly from terminal (on Linux fwiw). upgrading to IPython 6.3.1 did not fix

[2018-04-13 13:03] jasmainak commented on #5129
the progress bar is broken in my opinion ... I had similar issues when using the progressbar in autoreject on Travis

[2018-04-13 13:06] larsoner commented on #5129
Do you get this for:
[code]
Travis also does not have proper backspace support IIRC (it is a logger so this is expected behavior)

[2018-04-13 13:13] mathurinm commented on #5129
I get only `bar` like you. I have fetched and rebased upstream master to be up-to-date and I still see multiple lines

[2018-04-13 13:13] larsoner commented on #5105
Yeah that seems fine

If you take the unmodified uncompressed directory and recompress it, do you get the same file? If not, try tweaking the compression-level option until you do. Based on the 47MB file increasing the size by 66MB I'm guessing it's not high enough.

[2018-04-13 13:15] larsoner commented on #5129
Actually I don't think we use `\b` but rather `\r`, what does this do:
[code]

[2018-04-13 13:17] larsoner commented on #5129
And then to really get down to what we do:
[code]

[2018-04-13 13:29] larsoner commented on #5129
More!
[code]
If this one only prints a single line, then try this one:
[code]
You should get one updating line (ignore the bad file size, this is a redirect problem).

[2018-04-13 13:31] mathurinm commented on #5105
The increase seems to be due to Nautilus's file properties giving a wrong value
Command line (`ls -l -hr`)  gives me correct values:
[code]
where` MNE-somato-data.tar.gz` has been downloaded and recompressed locally and  `MNE-somato-data_with_fwd.tar.gz`   is the version with the forward file.

[2018-04-13 13:35] larsoner commented on #5105
FYI this is a binary (Mi) vs SI (M) prefix issue (2 ** 20 == 1048576)
[code]

[2018-04-13 13:37] mathurinm commented on #5129
I get one single line for the first, and an updating line for the second (as should be)

Now I can no longer reproduce : trying to download kiloword or somato, I get the single updated line. I am puzzled.

[2018-04-13 13:44] mathurinm commented on #5129
Ah, starting a new Terminal and a new ipython console gives me multiple lines again:
[code]

but (in the same console):
[code]
has a single line
and then it makes it work for other datasets:
[code]

[2018-04-13 14:00] larsoner commented on #5129
Maybe we need a `flush=True` in the `print` lines or something? I'll think you'll have to debug this locally and try different things to figure it out

[2018-04-13 14:43] mathurinm commented on #5129
It has to do with the length of the line and the size of my terminal window.
Default sized terminal (lines are 80 characters long):
[code]
notice how only the last line has the full speed dispalyed with its unit (682 kB/s). So I believe '\r' is going back to beginning of the buffer, but the first 80 lines of the buffer have already been written ? So it only erases the end of the whole line which i

[2018-04-13 15:06] larsoner commented on #5129
Can you try #5131?

[2018-04-13 16:31] mathurinm commented on #5129
It fixes the issue, even with smaller window size. Thanks!

[2018-04-13 18:11] #5129 closed

[2018-04-14 15:03] christianbrodbeck commented on #3934
I did not consider it – for simplicity what I did was only scale the geometry needed for source estimates, and for anything else like plotting I used the unscaled fsaverage model (since the source spaces are scaled versions of the same vertices, the unscaled geometry can be used without any additional transformation). The same logic can give you vertex coordinates in MNI space, but there might be

[2018-04-14 23:12] choldgraf commented on #5089
mmmm, I'm not sure what would be the path forward to making this possible since it's been a while since I've used the code, but I think something like this would be useful for sure, happy to brainstorm w/ folks

[2018-04-16 16:33] larsoner commented on #3006
Closing, can resurrect if someone ends up needing it

[2018-04-16 16:33] #3006 closed

[2018-04-16 16:34] larsoner commented on #3519
Done in #5043

[2018-04-16 16:34] #3519 closed

[2018-04-16 16:36] larsoner commented on #2722
Closing as I don't think it's immediately clear where to optimize (I tried CUDA at one point and it didn't help, and we have done `rfft` in `resample` already)

[2018-04-16 16:36] #2722 closed

[2018-04-16 16:53] jasmainak commented on #3006
@larsoner do you have the gist still though? So I can point to people who ask me for this functionality

[2018-04-16 18:03] larsoner commented on #3006
Yep, just needed to swap `larsoner` in for my old name `Eric89GXL` in the URL above

[2018-04-16 19:57] jasmainak commented on #3006
Ah, indeed!

[2018-04-17 07:36] thht commented on #4833
yes, i will do. sorry for the delay...

i would organize the new files like this. please tell me if that is ok with you:

1. the fieldtrip2mne reader functions will be renamed to read_ft_raw, read_ft_epoched, read_ft_average. they will be placed as the module fieldtrip.py in the mne.io package
2. a copy of pymatreader will go to mne.externals.pymatreader as a package
3. unittests for fieldtrip2mne

[2018-04-17 09:31] robertoostenveld commented on #4833
in FT we don't have the epoched structure as such, so could you avoid using "epoched" for the FT structure? We have raw and timelock. Raw can be continuous or epoched (with trials that are not per see aligned) and  timelock can be averaged or epoched (with trials that are per construct aligned in time). The difference between aligned and non-aligned epochs is relevant here, as is the difference be

[2018-04-17 10:41] mbaumont opened #5138 "Simulation with simulate_raw and labels"
Hi,
I have just started to work with python and MNE for a project. I am making a MEG/EEG simulator in order to test signal processing methods, and therefore I found the various tools made available on MNE greatly useful. For my project I made a small graphical interface to choose different sources on the surface of the brain, and I save those sources with the label class. I then make a list with t

[2018-04-17 12:17] agramfort commented on #4833
@thht please sounds good. Now if function returns an MNE Evoked object (resp Epochs) it should be called read_ft_evoked (resp Epochs).

thanks @robertoostenveld for pitching and sharing this great tutorial.

[2018-04-17 12:32] agramfort commented on #5138
@mbaumont can you provide a full code snippet to replicate the pb using the sample dataset?

[2018-04-17 13:07] larsoner commented on #5138
Somehow `s['vertno']` must be `np.array([])` instead of `np.array([], int)`. So I suspect somewhere in your code or ours there is a `np.array(...)` where there needs to be an `np.array(..., int)`. In cases where the `...` contains integers, numpy automatically creates an integer array. But when `...` is an empty list, it can't infer the type as `int` so it uses `float`.

[2018-04-17 13:10] larsoner commented on #4833
`mne.io.read_raw_ft`, `mne.read_epochs_ft` and `mne.read_evoked_ft` would be consistent with our naming schemes

Sure. This might be done in #4874, we'll have to see who gets there first :)

No, these should be left in the upstream repository.

This should be added to the `mne-testing-data` repo

[2018-04-17 15:05] mbaumont commented on #5138
Indeed my stc has a rh_vertno (or lh_vertno depending on which hemisphere has no sources) of type `np.array([], float)`. If I set the empty vertices to be of type int  (`stc.vertices[1] = stc.vertices[1].astype(int)` ) the code below works.

[code]

[2018-04-17 15:07] larsoner commented on #5138
Ah you create it with `mne.simulation.simulate_stc`, so it is probably a bug there. I'll take a look

[2018-04-17 15:45] larsoner commented on #5138
@mbaumont this bug has already been fixed on master in https://github.com/mne-tools/mne-python/commit/e744aff13463e32ab719f1eee74c764cdac8bcc4 so I'll close, but please feel free to check to make sure!

[2018-04-17 15:45] #5138 closed

[2018-04-17 16:49] #4963 closed

[2018-04-18 13:30] ArcCha opened #5142 "mne.io.read_raw_brainvision reads incorrect number of datapoints"
I am writing a simple time series visualization script basing on MNE. I need to read data from EDF and BrainVision txt files, I have a sample that was exported to both. I discovered a strange behaviour that probably is a bug in `mne.io.read_raw_brainvision`, it is illustrated by

[code]

which prints in my case `('Number of datapoints per channel ', 831488, 73)`. It can be found (together with sam

[2018-04-18 13:50] cbrnr commented on #5142
I can't read those files at all - maybe something went wrong when you put them in the repo? Can you share these files e.g. via Dropbox?

[2018-04-18 13:52] ArcCha commented on #5142
@cbrnr as this files are rather big I've used [GIT LFS](https://git-lfs.github.com/) to put them in the repository. You need to have it installed in order to clone them.

[2018-04-18 14:05] cbrnr commented on #5142
I can't load the BrainVision file because the `.vhdr` file contains invalid data and marker file names. When I set these fields to `example.dat` and `example.vmkr`, I also get only 73 samples. However, I also cannot load this file properly with SigViewer (I don't see any signals, just markers). How did you create this BrainVision file? Can you open it with e.g. BrainVision Analyzer?

[2018-04-18 14:12] Yugga opened #5144 "Spatiotemporal permutation cluster test for time frequency data?"
Hi,

Mne.stats has some excellent permutation functions, but I'm missing one feature there:
-For mne.stats.permutation_cluster_test, it is possible to give data input as a 3-dimensional time-frequency power representation
-For mne.stats.spatio_temporal_cluster_test, I can give the whole data set with all the channels, and get some statistics concerning spatial relationships.

However, I haven't fo

[2018-04-18 15:24] larsoner commented on #5144
For now you will need to reshape it to be `(n_observations, n_channels * n_frequencies, n_times)`, and then construct a "connectivity" matrix that is correct for the `n_channels * n_frequencies` dimension. To define the connections between frequencies, this would be a block diagonal of `n_channels` copies of these:
[code]
Then you'd need to add the channel connectivity to this matrix, as well. Som

[2018-04-18 15:29] larsoner commented on #4979
Closing as dup of #4953

[2018-04-18 15:29] #4979 closed

[2018-04-18 15:31] #608 closed

[2018-04-18 15:39] christianbrodbeck commented on #5144
In eelbrain this should work out of the box if you want to try it (http://eelbrain.readthedocs.io/en/r-0.27/reference.html#module-testnd); to use MNE objects: http://eelbrain.readthedocs.io/en/r-0.27/generated/eelbrain.load.fiff.html

[2018-04-18 15:46] ArcCha commented on #5142
Yes, you’re correct, the `.vhdr` file contained wrong filenames. I’ve fixed it. I was able to load this file sucessfully with BVA 2.1.2.327. It was generated by exporting previously captured file using BVA export option.

[2018-04-19 06:48] cbrnr commented on #5142
I can reproduce the error. I could successfully load this file with EEGLAB and the FileIO plugin, but this took a long time (and produced a warning for each channel: `unknown resolution (i.e. recording units) for channel 73 in example.vhdr`), but the signals look OK. The BioSig toolbox for MATLAB also takes ages, and at some point I aborted the process so I'm not sure if it would have worked.

So

[2018-04-19 13:24] #4959 closed

[2018-04-19 21:37] #4882 closed

[2018-04-20 19:10] larsoner opened #5148 "BUG?: average=False in compute_proj_exg"
By default we have `average=False` in `compute_proj_ecg` and `compute_proj_eog`. But when I was toying with the idea of using `Xdawn` (which I think might still be a good idea) to compute projectors rather than plain SSP, I found that `average=True` seemed to always be better than `average=False`.

Here is the sample data, with four columns: the first two are `average=False`, the last two are `ave

[2018-04-21 21:06] jona-sassenhagen opened #5149 "plot_compare_evoked title bug"
Note to self, fix this bug.

[2018-04-21 21:13] jona-sassenhagen commented on #5117
We should probably doc it better, specify under `epochs.__getitem__` that `epochs[[...]]` is an `or`.

[2018-04-21 22:35] jona-sassenhagen opened #5151 "turn off evoked Nave printing?"
Shouldn't there be an option to turn off Nave printing? Otherwise some forms of plots can look a bit awkward:

<img width="576" alt="unknown-140" src="https://user-images.githubusercontent.com/4321826/39089338-08c9f840-45c5-11e8-8359-bc9dd34b774f.png">

@larsoner

[2018-04-22 02:44] larsoner commented on #5151
ax.texts = []

Good enough?

[2018-04-22 11:39] #5124 closed

[2018-04-22 11:47] larsoner commented on #5148
I suggest we use a deprecation cycle to get to `average=True`, then, for 0.16. The others can be 0.17.

[2018-04-22 11:54] agramfort commented on #5148
Ok for me

[2018-04-22 18:14] jona-sassenhagen commented on #5151
Hm, not really, cause there might be a ton of other texts there right?

So far, I'm setting `evoked.nave = None`, but that does not seem right.

[2018-04-22 18:30] Yugga commented on #5144
Excellent, thanks for the advice! I'll see if I can figure this out.

[2018-04-22 19:29] jshanna100 opened #5152 "axes reversed on coreg"
The MNE I'm running is the latest development version as of this afternoon, running in the conda environment as specified here: https://raw.githubusercontent.com/mne-tools/mne-python/master/environment.yml

The axes in mne.gui_coregistration() are reversed (left is right, top is bottom).

[2018-04-23 08:34] jona-sassenhagen commented on #5115
I have something like

[code]

And then it's just
[code]

Though maybe it's more complicated if you need to work with all the source loc stuff.

[2018-04-23 10:31] cbrnr commented on #5148
+1 for tackling `average=True` now and the rest later. But why do you think this is a bug?

[2018-04-23 11:07] jona-sassenhagen opened #5154 "[Easy] Switch default colors to MPL defaults?"
Since 2.0, the MPL defaults (c0, c1, ...) are very good. Should we not transition there with, for example, our line plot defaults?

[2018-04-23 11:34] larsoner commented on #5148
It probably should have been True from the beginning.

[2018-04-23 11:35] cbrnr commented on #5148
So results are wrong if `average=False`?

[2018-04-23 11:37] larsoner commented on #5148
They seem to be less correct in testing.

[2018-04-23 11:38] cbrnr commented on #5148
OK, so probably not a but, but suboptimal parameter settings.

[2018-04-23 14:27] larsoner commented on #5151
Ahh I thought there was 1 but there are 3:
[code]
So `ax.texts.pop(1)` would do it.

I'd rather not clutter the API with another option. Can we instead think of a better placement so that removal is not necessary? Maybe right-aligned to the Y-axis ?

[2018-04-23 14:29] wmvanvliet commented on #5115
My class is a very small wrapper around that to turn:

    evoked_template.format(x, y, z)

into:

    fname.evoked(x, y, z)

Just a little readability improvement.

[2018-04-23 14:30] wmvanvliet commented on #5115
It also collects the template into a single namespace so you can just do:

    from config import fname

Instead of having to do:

    from config import evoked_template, grand_average_template

etc.

[2018-04-23 14:37] jshanna100 commented on #5152
I believe it's opaque. The fiducials are also invisible from most angles, and changing them by click doesn't seem to work with any reliability. MNE 15 seems to have none of these problems on the same data/environment.

![image](https://user-images.githubusercontent.com/22842307/39133460-83618834-4714-11e8-8c32-a09bd1952c30.png)

[2018-04-23 14:39] jshanna100 commented on #5152
Also, altering the viewpoint with the mouse is reversed, i.e. dragging right rotates in the opposite direction.

[2018-04-23 14:52] larsoner commented on #5152
Can you do "display options" and ensure that the head is set to `opacity=1.`. Does it change when tweaking the opacity in the range between 0 and 1?

All of the behaviors you describe are consistent with the head having opacity `0.`, as the inside surface always has opacity `1.`.

[2018-04-23 14:56] jshanna100 commented on #5152
It was set to 1, but something interesting happened when tweaking it: it
does indeed return to normal at values very near 1, but 1 itself breaks it.

On 23 April 2018 at 16:52, Eric Larson <notifications@github.com> wrote:

[2018-04-23 14:57] larsoner commented on #5152
Ahh okay. I have seen this sort of bug with Mayavi before. I'll see if I can make a PR to fix it

[2018-04-23 15:17] larsoner commented on #5154
Which line plots do you have in mind?

[2018-04-23 15:19] jona-sassenhagen commented on #5154
All plots that use mne.viz.utils.COLORS, i.e., the annotation plots.

[2018-04-23 15:20] larsoner commented on #5154
Sounds good to me. I think we can just change these and put a note in the API section.

[2018-04-23 15:25] #5149 closed

[2018-04-23 15:31] larsoner commented on #5144
And thus #4859, let's continue discussion there

[2018-04-23 15:31] #5144 closed

[2018-04-23 20:22] lclaudino opened #5158 "Trouble viewing ROI-based mixed source estimates"
Hi all,

Here is my problem: I can't project mixed source estimate data onto a PySurfer Brain object. The estimate was calculated for a source space defined on rois=['ctx_lh_G_precentral', 'ctx_lh_G_postcentral','Left-Thalamus-Proper', 'ctx_rh_G_precentral', 'ctx_rh_G_postcentral','Right-Thalamus-Proper'] using the subject's Freesurfer aparc.a2009s+aseg when setting up the source.

The best I coul

[2018-04-24 08:49] ElBibulo opened #5159 "Can't read events from BDF file"
Hi all,

When i import my data from the BDF format ([test.zip](https://github.com/mne-tools/mne-python/files/1941601/test.zip)) i can't read the event list. The events are present in the data as i can read them using EEGLAB.

i loaded the code using:
`raw = mne.io.read_raw_edf(bdf_file, stim_channel="Status")`
i have tried
`raw.find_edf_events()`
as well as
`mne.find_events(raw)`

both functions r

[2018-04-24 09:39] cbrnr commented on #5159
I can confirm this issue. It has something to do how we (automatically) convert the stim channel. If you don't convert it, you actually get this picture:
![figure_1](https://user-images.githubusercontent.com/4377312/39179213-093f4bae-47b4-11e8-8533-b00a038fb96a.png)
I will look into it.

[2018-04-24 09:41] cbrnr commented on #5159
Also, it is OK that `raw.find_edf_events()` doesn't return any events, because your data file does not have a dedicated annotation channel. Instead, events are stored in the last channel as a regular data channel.

[2018-04-24 10:57] cbrnr commented on #5159
I think the problem is that the last channel gets scaled, because its physical range is 374940 and its digital range is 16777215. Each channel get scaled by the quotient, which in this case is 374940 / 16777215 = 0.022348166844139507 (just like for all other 24 channels in this file). Normally, the stimulus channel has identical physical and digital ranges, which makes the scaling factor equal 1.

[2018-04-24 11:50] ElBibulo commented on #5159
Great, now i can get the eventlist. As is understood i have to subtract the values in the third column of the event list from the 'baseline' in the second. If i do this i get event types 1,2 and 4 which is what i am expecting. Thank you!

[2018-04-24 14:55] ShirsankarBasu opened #5161 "problems installing mne from ubuntu 14.04 terminal"
I'm currently using ubuntu 14.04, and trying to install mne library from the ubuntu terminal, invoking commands from the following link:
 https://www.martinos.org/mne/stable/install_mne_python.html.
But, it's not getting done. Here, for you to debug, I'm giving a flowchart, and also attaching a screenshot of the error messages being issued against the commands I typed. The version of my operating

[2018-04-24 14:57] larsoner commented on #5161
Can you try our more up-to-date instructions here?

https://martinos.org/mne/dev/install_mne_python.html

[2018-04-24 17:19] ktavabi opened #5162 "Value error on float comparison in mixed norm solver"
Possibly a bug?

I wasn't able to reproduce error with sample data but following gist with [these files](https://www.dropbox.com/sh/os3kbpf0xwtc6oi/AADb4jZYia8-3DwzXwTVpPSja?dl=0) and default kwargs produces generalized version of the error.
cc @larsoner

[code]

[2018-04-24 18:14] ShirsankarBasu commented on #5161
Thanks. But, first of all-- I think--to make this command('$curl -O https://raw.githubusercontent.com/mne-tools/mne-python/master/environment.yml') work from terminal, I need to have 'curl' already installed in my operating system. But, I faced problems in installing curl as well. Curl is not getting installed. Can you please give any lead to that?

[2018-04-24 20:26] agramfort commented on #5161
what OS are you using?

you can just download/save the file
https://raw.githubusercontent.com/mne-tools/mne-python/master/environment.yml
from your browser if you don't have curl.

[2018-04-24 20:33] agramfort commented on #5162
@ktavabi the weights_min is set to 8 here. Basically this parameter allows to limit the source space to locations where the dSPM values exceed 8 at any point in time. It's historically to make the solver faster. You should lower this value.

[2018-04-24 20:39] agramfort commented on #5158
PySurfer was not designed to support volume data. It should not work and at
least raise an error.

[2018-04-24 20:40] ktavabi commented on #5162
Thanks @agramfort. I'll try 4. How does this interact, if at all, with the regularization?

[2018-04-24 20:41] larsoner commented on #5162
Also you mention "historically" does this mean it might be possible to disable this param and have it work (albeit somewhat slower but still tolerable)?

[2018-04-24 20:43] agramfort commented on #5162
good question. It should not in theory.

@larsoner well we still need to integrate the faster solvers we working on.
No reason to removing these now.

[2018-04-25 06:32] ShirsankarBasu commented on #5161
Im using ubuntu 14.04. I tried installing curl from command line of ubuntu operating system, from the following link: http://devendraverma.com/install-curl-on-ubuntu-14-04/
but, it's not working. Please, tell me how to install curl as to install mne from ubuntu terminal.

Thanks.

[2018-04-25 14:45] sappelhoff opened #5163 "minor issue: MNE naming convention enforcement"
I would like to save my ICAs in a "BIDS-like" fashion, such as `sub-002_task-bandit_ica.fif.gz`, where "bandit" is the task ... However, this triggers a warning from `check_fname`:

https://github.com/mne-tools/mne-python/blob/9865f9275f596443668a06e84e54f2e2c645bddb/mne/preprocessing/ica.py#L1385

While I see the benefit of using `ica` at the end of the file name, is it crucial to enforce `-ica`

[2018-04-25 14:51] cbrnr commented on #5163
I made this suggestion in #4813, but people seemed to disagree on this topic. I still think a good solution is to enforce the `-ica` at the end, but instead of a warning just issue a message at the info level.

[2018-04-25 14:59] sappelhoff commented on #5163
Having read that issue and considering your list:

    1 Everything is fine, stop yelling about that and just rename your files.
    2 Messages related to violating file naming conventions should be in the info level and not warnings.
    3 Let's just include ..._ica.fif in the list of acceptable file names.
    4 Let's downgrade the warnings to infos in read_ica, but let's leave them as warnings

[2018-04-25 15:00] larsoner commented on #5163
@cbrnr must have had some clairvoyance about `-` vs `_` :)

I'm fine with extending these to `_ica` variants. I think even @agramfort will agree given it's BIDS-like (assuming it is). @jasmainak should we add `-whatever.fif` to `_whatever.fif` to our file checks?

As for info vs warning can we assume we don't need to change it if `_` is permitted?

[2018-04-25 15:03] sappelhoff commented on #5163
As for this issue, definitely ... I just want to BIDSify my file names, which is possible with `_` and not get the warnings by MNE.

[2018-04-25 15:06] larsoner commented on #5163
@sappelhoff do you have a list of changes that you need to make and what warnings they give you on `master` so far? A PR to extend our permitted filenames, even if it's not 100% complete, would be worthwhile and a potentially easy thing to get in for 0.16 (which we are trying to push out this week).

[2018-04-25 15:11] sappelhoff commented on #5163
Mmh not sure what you mean, so far on my list, the only change I'd like to make would be to change

https://github.com/mne-tools/mne-python/blob/9865f9275f596443668a06e84e54f2e2c645bddb/mne/preprocessing/ica.py#L1385

to:

`check_fname(fname, 'ICA', ('-ica.fif', '-ica.fif.gz', '_ica.fif', '_ica.fif.gz')) `

if we want to allow `_` for all `check_fname` calls, then I'd first have to find them all .

[2018-04-25 15:12] sappelhoff commented on #5163
But I think a PR on that would be rather quick and painless, and adding tests shouldn't be a problem either - if required at all?

[2018-04-25 15:14] larsoner commented on #5163
I mean if you also had problems saving `Evoked` or `Epochs` in BIDS-compatible fashion, we should change those, too.

These instances are easy to find with a sufficient `git grep` regular expression :)

As for tests, I think we already check for violations, strict TDD would dictate you add one that `_ica.fif` is acceptable but I wouldn't make you do it :)

Let's wait to see what @agramfort and @ja

[2018-04-25 15:15] sappelhoff commented on #5163
Or we could use the "search this repository" function by Github? [see here](https://github.com/mne-tools/mne-python/search?utf8=%E2%9C%93&q=check_fname&type=)

[2018-04-25 15:33] larsoner commented on #5163
From chatting with @jasmainak, the BIDS naming convention uses `<key1>-<value1>_<key2>-<value2>..._modality.extension`. Underscore is used to separate key-value pairs, so `_ica.fif` and `-ica.fif` are both incompatible.

There will be a meeting in August to discuss derivative filenames like you'd use for ICA for example. My sense is that we should scrap the filename check altogether (no `warn` or

[2018-04-25 16:11] cbrnr commented on #5163
This sounds great! Let's scrap the warnings, or alternatively demote them to info.

[2018-04-25 17:05] teonbrooks commented on #5163
BIDS hasn't conventionalized derivative files yet, just raw (or minimally treated), continuous files. we are working on BIDS-ifying the output from mne with [mne-bids](https://github.com/mne-tools/mne-bids).

[2018-04-25 20:41] jasmainak opened #5164 "function to tell what type of object is stored in file"
something like

[code]

It could be useful for MNE report and also for validating filenames in BIDS.

Implementation: try/catch clauses (easy) or digging into the tags (harder)

[2018-04-26 08:22] Rockingsnow opened #5165 "Trouble dealing with stc file using mne.SourceEstimate"
I wonder how to extract  the source estimates of the stc file in the specific time interval  by using mne.SourceEstimate.crop()

After I got the stcs transformed from the epoch of -1~4s (stcs = apply_inverse_epochs(epochs,inverse_operator,  lambda2, verbose=False,method="dSPM",pick_ori="normal")),
I tried to run the stcs = SourceEstimate(stcs).crop(tmin=3., tmax=4.), then the issue generated as fo

[2018-04-26 09:08] agramfort commented on #5161
`sudo apt-get install curl` should work.

[2018-04-26 09:08] #5161 closed

[2018-04-26 09:50] Rockingsnow commented on #5165
thanks for your assistance, it solved my great confusion, and another question I need to ask is that how I could obtain a final stcs file including all of processed stcs after I run each stcs[int].crop(...).
Need to reintegrate?

[2018-04-26 09:58] agramfort commented on #5165
if you want to crop all stcs then crop the epochs you pass to
apply_inverse. It's simpler.

otherwise you could do:

stcs = [stc.crop(...) for stc in stcs]

HTH

[2018-04-26 10:05] agramfort commented on #5163
as I said before, no objection but it should be a global decision. either we don't have warning anywhere or we do. But this is a longer shot than just changing:

`check_fname(fname, 'ICA', ('-ica.fif', '-ica.fif.gz')) `

to:

`check_fname(fname, 'ICA', ('-ica.fif', '-ica.fif.gz', '_ica.fif', '_ica.fif.gz'))`

which I can easily accept at it's already the case for Raw.

[2018-04-26 10:07] cbrnr commented on #5163
Then let's add underscores to the list of accepted file names (not just for ICA).

[2018-04-26 10:10] agramfort commented on #5163
ok

[2018-04-26 10:28] sappelhoff commented on #5163
@cbrnr are you making a PR or should I?

[2018-04-26 11:10] Rockingsnow commented on #5165
I got it，thank you

[2018-04-26 11:12] #5165 closed

[2018-04-26 11:14] cbrnr commented on #5163
I'll do it, see #5166.

[2018-04-26 12:18] larsoner commented on #5163
I think we should get rid of these checks (get rid of them everywhere). We
are enforcing an obsolete or nearly obsolete standard.

[2018-04-26 12:46] cbrnr opened #5167 "Python 2 support roadmap"
What's the roadmap towards sunsetting Python 2 support for MNE? Many projects have already decided to support only Python 3, with one final Python 2 release that won't get any new features. MNE should be on the http://python3statement.org/ website, which means that we will have to drop Python 2 support by 2020 at the latest. Many projects will do or have done this earlier by releasing one final Py

[2018-04-26 12:53] larsoner commented on #5167
My vote is to follow NumPy and SciPy:

https://docs.scipy.org/doc/numpy-1.14.0/neps/dropping-python2.7-proposal.html

But for use our maintenance releases don't last nearly as long as theirs. So the important thing is that we drop new features at the end of 2018, which means 0.17 would probably be the last 2.7 release.

[2018-04-26 15:49] larsoner commented on #5163
... but at least `_` is incremental progress, so we can do that for now

[2018-04-26 15:49] #5163 closed

[2018-04-26 15:57] massich opened #5168 "documentation and example inconstancy"
https://github.com/mne-tools/mne-python/blob/057026f9a38c63607401ca568790202cf57a08c8/mne/commands/mne_flash_bem.py#L36

According to display documentation, the call should either be
[code]
or
[code]

But I could not find the display documentation in the function. Here's the display documentation:
[code]

[2018-04-26 16:01] larsoner commented on #5168
I think this should be `mne flash_bem -s sample`. The Unix standard is single dashes with single letters, double dashes with longer ones. Which is consistent with the docstring:
[code]

[2018-04-26 18:25] larsoner commented on #5168
Ahh I see now, you mean in particular the `=` is missing. (My visual `diff` missed this difference.) +1 for updating it, even though in practice I don't think it matters. For example this works:
[code]
This is either a bug or feature in `optparse` (I'm assuming a feature).

[2018-04-27 07:51] #2268 closed

[2018-04-27 08:33] aitorme opened #5169 "how to plot psd topomap with averaged epochs?"
Hi there,

I'm trying to use the `plot_psd_topomap()` function, which works fine with `mne.io.eeglab.eeglab.EpochsEEGLAB`, but it does not work with `AverageTFR` objects. Is there a way to plot psd topomaps with averaged epochs and not just individual participant's epochs?

Thanks in advance!

[2018-04-27 09:52] massich commented on #5168
Yes I did a typo while writing the issue. And its either we make it short or we add the `=`, for the example.

not using the `=` was breaking for me.

[2018-04-27 12:46] jona-sassenhagen opened #5170 "Add convenience functions to simplify group stats and ERP analyses"
see #5071

- ~add title kwarg to evoked.plot_image~
~- make evoked.plot_image automatically display channel names on y axis (via an ('auto' | bool) kwarg)~
~- add a helper to create (ROI name to picks) dicts for 10/20 layouts~
~- allow evoked.plot_image to take dicts for picks and axes (epochs.plot_image already does this)~
- ~create a hack for/convince MPL to add an option for plt.subplots or Ima

[2018-04-27 12:47] jona-sassenhagen commented on #5151
Yeah another kwarg seems overkill ... I'm not sure.

[2018-04-27 12:51] jona-sassenhagen commented on #5167
Yeah, why not?

[2018-04-27 13:44] larsoner commented on #5164
Or maybe just `mne.read(...)` and return the correct type of object. And if people want more options/kwargs they should use the dedicated reader.

[2018-04-27 13:49] agramfort commented on #5164
-1 on this. There should one way of doing things. It makes doc easier to write and understand

[2018-04-27 13:50] larsoner commented on #5164
Fair enough

[2018-04-29 21:46] katarinaslama opened #5171 "ValueError in MVPA tutorial"
Hi,

I'm trying to run this tutorial using mne 0.15.2: [https://www.martinos.org/mne/stable/auto_tutorials/plot_sensors_decoding.html].

When running coef = get_coef(time_decod, 'patterns_', inverse_transform=True), I get the following error:

'ValueError: This estimator does not have a patterns attribute.'

If I simply leave out 'patterns_' to let it default to 'filters_', by running the followin

[2018-04-29 21:49] dengemann commented on #5171
Hi Kata,

Did you use the LinearModel wrapper class as demonstrated here
http://martinos.org/mne/stable/auto_tutorials/plot_sensors_decoding.html?highlight=linearmodel
?

Best,
Denis

On Sun, Apr 29, 2018 at 11:46 PM katarinaslama <notifications@github.com>
wrote:

[2018-04-29 22:02] katarinaslama commented on #5171
No, I didn't! That fixed it. Thank you so much for your quick response.

[2018-04-29 22:02] #5171 closed

[2018-04-30 15:58] #5152 closed

[2018-04-30 16:00] massich commented on #5148
I don't think so (because point 3 is missing), but we can take it off of the 0.16 milestones.

[2018-04-30 16:02] agramfort commented on #5148
ok done

On Mon, Apr 30, 2018 at 6:00 PM, Joan Massich <notifications@github.com>
wrote:

[2018-04-30 18:30] #5127 closed

[2018-04-30 23:51] mathurinm opened #5172 "BUG? flake8 fails locally but succeeds on travis"
I was happy to read in [https://mne-tools.github.io/stable/contributing.htm](https://mne-tools.github.io/stable/contributing.htm) that I can run `make flake` from the root to detect flake8 violations, instead of letting a Travis build run for 30 minutes before failing.

However I get lots of errors locally (lots of D400 First line should end with a period, D205 1 blank line required between summar

[2018-05-01 00:12] larsoner commented on #5172
Did you `pip` install what is the version? Sometimes `flake8` updates and we have to either fix the changes or add them to the ignore list in `setup.cfg` (depending on difficulty and group preference).

[2018-05-01 00:33] mathurinm commented on #5172
I had a pip installation indeed, I removed flake8 with pip and reinstalled it via conda, but it still failed.
Inspecting with `conda list` gave me:
[code]

and removing the last 2 packages (with pip uninstall) makes it work. Not sure why.

[2018-05-01 00:33] #5172 closed

[2018-05-01 01:30] larsoner commented on #5172
Flake8 must have optional components. We use pydocstyle currently for
docstring checks. You could make flake8 check the same set if you want.

[2018-05-01 14:41] tbardouille opened #5176 "MNE Coregistration GUI Black Viewing window on MacOsX"
Hi there,
I'm using MNE python 0.15.2 on a Mac (OsX v.10.13.1). When I run mne.gui.coregistration(), the GUI opens, but the viewing window (where the MRI would appear) is black.
At the same time, I get a number of messages to standard output (see below).
Any ideas as to what I'm doing wrong?
Thanks,
Tim.

Standard out messages:
TAFC5:~ tbardouille$ source activate mne
(mne) TAFC5:~ tbardouille$ ip

[2018-05-01 14:44] larsoner commented on #5176
We are in the process (today) of releasing 0.16, which contains many fixes, including an updated `environment.yml`. Can you try the instructions here to update your environment:

https://mne-tools.github.io/dev/install_mne_python.html

Then install `mne` from GitHub, or wait until the end of the day for a release and just do `pip install --upgrade mne`.

Since you are on OSX you might need to do `

[2018-05-01 14:56] tbardouille commented on #5176
To install from Github, do I just run the steup.py file in the distro?

From: Eric Larson <notifications@github.com>
Reply-To: mne-tools/mne-python <reply@reply.github.com>
Date: Tuesday, May 1, 2018 at 11:44 AM
To: mne-tools/mne-python <mne-python@noreply.github.com>
Cc: Timothy Bardouille <tim.bardouille@Dal.Ca>, Author <author@noreply.github.com>
Subject: Re: [mne-tools/mne-python] MNE Coregist

[2018-05-01 14:57] larsoner commented on #5176
You can do `python setup.py install` if you want a static one, or `python setup.py develop` if you want changes in your checked-out version to take effect as you change or update branches.

[2018-05-01 15:58] jona-sassenhagen commented on #4746
@sappelhoff please see here. I'm still working on the code, I can just give you my code and you could take over? It's not entirely trivial though.

[2018-05-01 18:33] sappelhoff commented on #4746
Thanks for the link Jona. I don't know if my taking over would speed up the process but I could certainly give it a try :-)

[2018-05-02 08:29] cbrnr commented on #5167
I like the idea of following NumPy. Should we prepare a short statement for the website? Should we also try to get on the Python 3 Statement website?

@agramfort it's nice that we currently support the two versions, but at least for me it is sometimes annoying/frustrating to keep stumbling over Python 2 incompatibilities (related to e.g. encoding or float/int). Even more so, we can't use some nice

[2018-05-02 10:12] dmedine opened #5180 "Add support for XDF (labstreaminglayer format)"
I think this should be added. I am happy to do this. There is already a python loader for the xdf format so it is just a matter of making output structure compliant with mne.

[2018-05-02 10:27] agramfort commented on #5167
if for my next MNE training course all students have a working python 3 env
I am happy to make this decision rapidly.

we should ask on the mailing list if there is any objection too.

[2018-05-02 10:54] cbrnr commented on #5167
I think this should be possible since installing Python 3 via Anaconda is not more difficult than installing Python 2 :smile:. I'll ask on the mailing list.

[2018-05-02 11:47] jona-sassenhagen commented on #5167
We probably want to hear more MNE devs here. @kingjr in particular :)

[2018-05-02 11:48] cbrnr commented on #5167
Yes, more input would be great. I've already sent out a message to the mailing list (although with the wrong email address so this message is awaiting moderator approval).

[2018-05-02 11:55] kingjr commented on #5167
How s mayavi on python 3 ?

On Wednesday, 2 May 2018, Clemens Brunner <notifications@github.com> wrote:

[2018-05-02 11:56] jona-sassenhagen commented on #5167
@larsoner claims if you use the environment.yml to set up your system, it works. Haven't tried it myself, but if Eric says so ...

[2018-05-02 11:57] cbrnr commented on #5167
Also https://github.com/enthought/mayavi/issues/84 is closed, so I'm assuming that it works (but haven't tried it either).

[2018-05-02 11:58] larsoner commented on #5167
For almost 7 months our CIs have been running Py3k with Mayavi.

[2018-05-02 12:02] jona-sassenhagen commented on #4746
Sure, go for it. See this gist:

https://nbviewer.jupyter.org/gist/jona-sassenhagen/e54c80e16fab0c5b635f0c08bae6bef3

for my current experiments.

[2018-05-02 12:28] kingjr commented on #5167
Do they include Mac and windows environments ?

On Wednesday, 2 May 2018, Eric Larson <notifications@github.com> wrote:

[2018-05-02 13:06] larsoner commented on #5167
Yes

[2018-05-02 13:13] christianbrodbeck commented on #5167
Ideally the dependencies would be available as official release rather than special github branch installations... Hopefully that will be the case soon...

[2018-05-02 14:13] dmedine commented on #5180
Ok. I'll put this on my todo list and submit a PR when it is done.

On 5/2/2018 12:22 PM, Alexandre Gramfort wrote:

[2018-05-02 14:46] massich opened #5181 "Digitalization source is not flush when changing subject in MNE Coreg"
When processing several subjects, when selecting a different subject the points on the display are flushed, but not the digitalization file. This could lead to problems like fitting the wrong digitalization.

See the following images:
![image](https://user-images.githubusercontent.com/7044835/39529875-00a20caa-4e28-11e8-9d4b-6f062d49f2f5.png)
![image](https://user-images.githubusercontent.com/7044

[2018-05-02 16:44] massich opened #5182 "ica.exclude does not support numpy array"
If `ica.exclude` is a numpy array it breaks here:

https://github.com/mne-tools/mne-python/blob/ca35ce9923ae9dc02fe55d7b321f71337903a81b/mne/preprocessing/ica.py#L1368

[code]

[2018-05-02 16:54] massich commented on #5182
I'll submit a PR and then we can discuss it.

[2018-05-02 17:05] nugenta commented on #5176
Eric, we spoke yesterday about what was essentially the same problem.  And I fixed with essentially the same solution, which was to use pip to update pyqt to pyqt 5.10.  However, I realized today that when you use pip to update pyqt, you end up with two versions of pyqt5 - conda calls it pyqt, while pip calls it PyQt5.

https://github.com/ContinuumIO/anaconda-issues/issues/1554

Spyder, Jupiter, a

[2018-05-02 17:35] larsoner commented on #5176
@nugenta I tried the instructions here yesterday on macOS High Sierra and it seemed to work (from #5174):

https://7923-1301584-gh.circle-artifacts.com/0/html/install_mne_python.html

I don't get errors when loading Spyder.

Can you try creating an env from scratch again (you can even use a different name) just to confirm?

[2018-05-02 19:58] palday commented on #5167
I'm also all for dropping explicit Python 2 support once all the dependencies have official Py3-compatible releases and don't require any extra steps to install from a development branch.

How dependent is the overall codebase on `six` for dual compatibility? My own experience is that well-written code, even string code, generally works well[1] on 2.7 and 3 without any changes except a `from __fut

[2018-05-02 20:47] larsoner commented on #5167
We use `six` for a bunch of things, like `next`, `StringIO`, `BytesIO`, `string_types`, etc.

[2018-05-03 06:49] sappelhoff commented on #4746
What are the steps to be done? It's looking really nice already imo ...

[2018-05-03 07:19] jona-sassenhagen commented on #4746
The problem is making it look nice for multiple layouts and contrasts. i.e., check it on various data ...

Then it needs to become MNE code. Hopefully it can just become the backend for the current API, i.e., swap it in for the code currently in `mne.viz.plot_evoked_topo`.

[2018-05-03 08:38] cbrnr commented on #5167
@palday which dependencies do not have official Python 3 support? AFAIK all packages in `environment.yml` are officially on PyPI, so it might not be necessary to pull them from specific branches.

[2018-05-03 12:13] sappelhoff commented on #5180
That's a good idea. In the repo for the python XDF loader, there is an ongoing discussion to make a "pyxdf" package, however the discussion is stagnating a bit. Mainly because there is a lack of tests for the robustness/reliability of the loader. See [here](https://github.com/sccn/xdf/pull/10) for the discussion.

Integrating the xdf loader into MNE would not circumvent the issue of (so far) lacki

[2018-05-03 16:33] christianbrodbeck commented on #4653
@cbrnr in case you're still interested, the master branch of Eelbrain is now optimized for Python 3.

[2018-05-04 04:55] cbrnr commented on #5180
@sappelhoff I think MNE would be a great place for the XDF loader!

[2018-05-04 07:35] sappelhoff commented on #5154
See PR .. is this what you meant @jona-sassenhagen? [Here](https://matplotlib.org/users/dflt_style_changes.html#colors-in-default-property-cycle) are the colors.

However, this change means going from
[code]

to
[code]

i.e., fewer colors. Is that an issue?

[2018-05-04 07:38] jona-sassenhagen commented on #5154
We could just stick with `'c0', 'c1', 'c2', ...` right?

[2018-05-04 12:37] larsoner commented on #5154
And we do have conditionals that look for `'r'` in the color cycle somewhere in the viz plotting code having to do with annotations. So that will need to be changed.

[2018-05-05 10:32] palday commented on #5167
I didn't have anything in particular in mind and I haven't looked at the Install page in a while, but I was thinking about how there used to be some special casing for Python 3, which I think is what @christianbrodbeck was also getting at.  My statement was more "conditional" and less "temporal".

[2018-05-05 13:45] cbrnr commented on #5167
Sure, we should check. What I meant to say though was that we have these special installs even for Python 2, so this is not a Python 3 issue. Of course we could check if the normal versions work in case no one has done that in a while. @larsoner @christianbrodbeck?

[2018-05-05 13:55] cbrnr commented on #5167
The docs recommend using `pip` (via [environment.yml](https://raw.githubusercontent.com/mne-tools/mne-python/master/environment.yml)) to install MNE and not conda-forge, and everything seems to work with Python 3.

[2018-05-06 08:54] sappelhoff opened #5190 "plotting: topomap electrode positions change depending on number of channels"
When using topoplot functions in MNE, I run into problems with the electrode positions that are plotted. Namely, when using the code below, the resulting sensor plots should look identical for the electrodes in `chan_selection`. However, this is not the case:

[code]

## Full
![figure_1](https://user-images.githubusercontent.com/9084751/39671486-99268c46-5119-11e8-90dc-db79b9c07899.png)

## Reduce

[2018-05-06 13:58] larsoner commented on #5190
#5085

[2018-05-06 17:50] sappelhoff commented on #5190
Mmmh okay, those are a lot of scattered issues :-) but it seems like you are working on it.

Especially this point (quoting @larsoner)

For now, is there a workaround, I could use? I tried supplying a `head_pos = dict(center=(0., 0.), scale=(1., 1.))` with different scales, AND in conjunction with specifying a layout derived from an info object. However, the results are not really satisfactory and

[2018-05-06 19:05] agramfort commented on #5190
I agree it's quite a nasty bug...

[2018-05-06 19:11] larsoner commented on #5190
Yes passively currently but hopefully actively again soon.

You have the right idea, but it won't work properly yet because the interpolation is still done over the entire head (kind of nonsensically).

I have updated my plan for this here:

https://github.com/mne-tools/mne-python/issues/3987#issuecomment-298920228

Basically `montage` / `DigMontage` / physical locations are to be used anytime sen

[2018-05-07 08:42] hekolk opened #5191 "Saving RtEpochs"
TL;DR RtEpochs do not support all of the inherited ``BaseEpochs`` methods. It would be nice to have an efficient conversion-method to an ``EpochsArray``.

While ``RtEpochs`` are useful for gathering and processing individual  epochs, it would be helpful to be able to make them completely compatible with an "offline" ``Epochs`` object. For example,   currently it is not possible to save a ``RtEpoch

[2018-05-07 09:17] #5182 closed

[2018-05-07 16:48] larsoner commented on #5191
I think making `RtEpochs` behave like regular `Epochs` is the best way to go, it just hasn't seen as much use so probably doesn't fully comply currently.

- I'm okay with having `decimate(1)` short-circuit without making a copy as long as we document it in the function (and note this in the API section of `whats_new.rst`).
- Fixing the `drop_log` (and presumably also `selection`) should be doable.

[2018-05-07 23:47] jasmainak commented on #5191
+1 for fixes to `RtEpochs` and would love to see a PR.

[2018-05-08 15:50] pdeman opened #5192 "eeg ica without eog. in the documentation, it uses eog_average in the method without eog. how do I get it ?"
Hi,

I am trying to do the solution presented [here](https://martinos.org/mne/stable/auto_tutorials/plot_artifacts_correction_ica.html):
What if we don’t have an EOG channel? methode 2
but after the first line of code it says:
reference_ica.plot_sources(eog_average, exclude=eog_inds)

and I don't have eog_average has I don't have eog.
is it a template to download somewhere ?

Regards,
Pierre

[2018-05-08 15:58] bloyl commented on #5053
Using more reasonable tolerances
`np.allclose(raw_ica._data, raw._data, atol=0, rtol=1e-2)`
I get that the data arrays are different.

Am I missing something?

[2018-05-08 16:39] hekolk commented on #5191
I addressed ensuring the invariants and fixing ``RtEpochs`` in #5193 .
The short-circuiting of ``decimate(1)``, however, doesn't work out-of-the-box since it is seems to be needed to get single-segment arrays (for which ``data.resize`` works) - I'll leave that as-is for now.

[2018-05-08 16:44] larsoner commented on #5191
This seems like a `numpy` problem we can solve with a `np.ascontiguousarray` or `np.require` or some similar call, if you are motivated to look into it. Otherwise I'm fine with leaving it

[2018-05-09 07:49] agramfort commented on #5192
you're going to have to mark manually the EOG components

cf. exclude attribute of ICA object.

[2018-05-09 08:16] pdeman commented on #5192
so I do:
reference_ica.plot_components()
I look wich one are suspicious on the ICA.
let's say number 2 as in the example.
I want to look at it in the time series to be sure, how I do that ?
and then I will have to do:
ica.exclude.extend([2]) ?

and then how do I do the ICA backprojection to get the denoised signal ?

[2018-05-09 08:32] agramfort commented on #5192
@pdeman

I think this is documented but maybe not well enough...

you can script it with:

ica.exclude.extend(2)
or
ica.exclude += [2]

or just click on the components names that becomes grey with excluded
in ica.plot_components()

they see ica.plot_sources and ica.apply methods

[2018-05-09 08:46] cbrnr commented on #5192
I've written a short summary on how to remove eye activity with ICA, maybe this is helpful for you: https://cbrnr.github.io/2018/01/29/removing-eog-ica/

[2018-05-09 16:50] TommyClausner opened #5195 "beamformer group level (GSoC)"
Hey there MNE community!

For the next ~3 months I'm going to work on implementing some necessary functions for performing group statistics on volumetric (beamformer) data. This will be my Google Summer of Code Project and in case you're interested you could check out the progress here: [https://blogs.python-gsoc.org/tommy-clausner/](https://blogs.python-gsoc.org/tommy-clausner/)

In order to maxi

[2018-05-09 17:02] larsoner commented on #5195
Agreed, this is where we can converge on API, etc.

When you say `warping` do you mean an affine transformation, or something else? Would this be based on coregistering the MRIs (based on brain shape)? I'm out of my depth on this a bit, but yes please start an issue to discuss this. It might help if you start by looking at how `setup_volume_source_space` is used in examples, and the MRI interpolat

[2018-05-09 20:16] agramfort commented on #5195
I would also list and experiment with  these options:

http://nipy.org/dipy/examples_built/affine_registration_3d.html
http://nipy.org/dipy/examples_built/syn_registration_3d.html

[2018-05-11 02:00] EliWim commented on #5053
You are right! Using your option it says that the arrays are not the same - even if they look alike.
Maybe a stupid question (I am quite new to the field): shouldn't the difference be quite big when zeroing out all components?

[2018-05-11 13:38] sarasommariva opened #5200 "add_channels causes duplication in info['hpi_results'] and info['hpi_meas']"
Hi,

I think I found a small bug in the function `add_channels`.
When modifying an  existing data some of the fields (at least, `‘hpi_results’` and `‘hpi_meas’`) are duplicated causing some compatibility problems with e.g. neuromag.
Looking into the code, I think the problem is in the function `_merge_dict_values` . Both `‘hpi_results’` and `'hpi_meas’` consist of a list of dictionaries that seem

[2018-05-11 14:10] ezemikulan commented on #3291
Hi, I've been trying different ways to edit the surfaces used for BEM. In my experience, the *.stl* format is not useful for further processing as it loses the vertex order information, which results in an error when creating the BEM model (*mne.make_bem_model*):

*"RuntimeError: The source surface has a matching number of triangles but ordering is wrong".* bem.py (line 361)

The way I found to ed

[2018-05-12 10:33] pdeman opened #5201 "DOC: time of events and first_samp"
hi,

how can i plot the events on top of the eeg versus time plot ?
i found the events/versus sample using find events. but when i divide versus the sampling rate i don't have at all the same values in time than the eeg. there must be an offset.
I'ld like to plot some eeg data with the "events" on top of it.

regards

[2018-05-12 12:31] agramfort commented on #5201
raw.plot(events=events)

but don't resample raw after finding the evens otherwise they won't match.

[2018-05-12 14:16] jona-sassenhagen commented on #4555
Can this be closed? :)

[2018-05-12 15:33] agramfort commented on #4555
I guess so

[2018-05-12 19:38] pdeman commented on #5201
Thanks but in this particular case I don't plot using mne.
I would need to find the time for raws recording and time for events in the same unit.

[2018-05-12 19:38] pdeman commented on #5192
thanks!

[2018-05-12 19:38] #5192 closed

[2018-05-13 10:16] agramfort commented on #5201
if you have events you can time in seconds with

events_times  = (events[:, 0] - raw.first_samp) / raw.info['sfreq']

time of 0s will be beginning of the file.

HTH

[2018-05-13 11:36] pdeman commented on #5201
ok thanks

[2018-05-13 13:01] larsoner commented on #5201
At some point we should add a tutorial that discusses:

1. `find_events`, with event masking
2. `events` column values
3. `raw.first_samp`, what it is, how it changes with `.crop`, how to get event times relative to the start of the instance
4. `Annotations` and `orig_time`

I'll re-open and re-title this issue so we do this at some point.

[2018-05-14 08:55] agramfort commented on #5200
I can confirm this unexpected behavior.

@larsoner you wrote this code I think. thoughts?

[2018-05-14 09:47] jasmainak commented on #3257
This would be great to have !

[2018-05-14 09:51] jasmainak opened #5204 "mne.gui.coregistration does not properly update on change to SUBJECTS_DIR"
It seems that selecting the `SUBJECTS_DIR` from the dropdown menu from `mne coreg` does not find the surfaces. However, manually setting it in the command line before starting `mne coreg` seems to work. This seems unexpected behavior to me. I get the following for the sample data:

![nothing](https://user-images.githubusercontent.com/15852194/39990559-291a4c94-576d-11e8-8cf4-4939562bd9c8.png)

Let

[2018-05-14 11:35] ckiefer0 opened #5205 "Amplitude of interpolated channels very small"
Hello,

I encountered some weird behavior regarding the interpolation of bad channels using MNE.

In this [Dropbox folder](https://www.dropbox.com/sh/11rjc45bbg2b38m/AACUW6rtZKcJKitEMfbMIKVqa?dl=0) are two examples of data sets before interpolation and after interpolation (marked with 'bcc' in the filename). MEG channels 7, 10, 142, and 156 are dead in the original data sets. After interpolation,

[2018-05-14 11:53] larsoner commented on #5181
I'm not sure that the dig file should change when loading a different MRI. When using a surrogate / warping someone might want to choose MRI based on closest fit to the dig, in which case clearing the dig when the MRI changes would be very annoying.

[2018-05-14 11:56] larsoner commented on #5200
Yes these should not be duplicated, but rather checked to make sure they are consistent (assuming both instances have them, it's probably fine if one does and the other does not), throwing an error if they are not consistent.

[2018-05-14 12:35] agramfort commented on #5181
well for me if you change the subject you have a new MRI and you need to
update dig points.

it's less surprising. We got bitten by this by @massich and this triggered
this issue.

[2018-05-14 12:36] agramfort commented on #5200
+1

@sarasommariva can you give it a try?

[2018-05-14 13:32] christianbrodbeck commented on #5181
Maybe the logic of the GUI, assuming that people work from top to bottom, would be more intuitive if the digitizer source was above the MRI source?

[2018-05-14 13:37] agramfort commented on #5181
for me this does not fix the pb. if you switch subject in your study you
want to flush what is not relevant

[2018-05-14 14:29] larsoner commented on #5181
Sure, but this is just one of many possible workflows. In this workflow, I agree in this case it could be less surprising to remove it.

However it is surprising in other use reasonable (and not uncommon) use cases:

- in the case where a user has their `subjects_dir` selected (likely the default), then picks their dig source, then picks the MRI subject, what you would propose would remove their d