[2020-09-18 17:46] larsoner commented on #8271
Now try reinstalling pyvista and pyvistaqt, and re-running `mne.sys_info`. If it works, try re-running your plot_alignment code

[2020-09-18 17:55] larsoner commented on #8241
Turns out this seems to be related to bad garbage collection. See investigations in https://github.com/mne-tools/mne-python/pull/8266#issuecomment-694561692 and report in https://github.com/pyvista/pyvistaqt/issues/57. It would be good if we could figure out where this is coming from. In the meantime, plotting so many montages is not going to be safe :(

[2020-09-18 17:59] larsoner commented on #8257
The way you are describing this, it sounds like you just resampled. You almost certainly will need to crop the start of one file, the end of the other, and (maybe) resample one of them, unless you were very careful about starting/stopping them at the same times.

Did you check that the "markers" you were using were properly aligned after your alignment procedure?

I don't understand how this shoul

[2020-09-18 19:31] anupdas777 commented on #8271
I reinstalled pyvista and pyvistaqt and "mne.sys_info" works fine now. "mne.sys_info" shows the following information:

Platform:      Linux-3.10.0-693.17.1.el7.x86_64-x86_64-with-centos-7.4.1708-Core
Python:        3.7.7 (default, May  7 2020, 21:25:33)  [GCC 7.3.0]
Executable:    /home1/anup.das/.conda/envs/py3_env/bin/python
CPU:           x86_64: 40 cores
Memory:        Unavailable (requires "

[2020-09-18 20:42] larsoner commented on #8271
Update to latest master branch, or wait until Monday when we cut a new release

[2020-09-18 20:43] anupdas777 commented on #8271
Can you please send commands to do this? Thanks.

[2020-09-18 20:45] drammock commented on #8271
https://mne.tools/dev/install/advanced.html#using-the-development-version-of-mne-python-latest-master

[2020-09-18 20:50] anupdas777 commented on #8271
Did $ pip install --upgrade --no-deps https://github.com/mne-tools/mne-python/archive/master.zip, but I am back to the "kernel has died" problem. What to do? Thanks.

[2020-09-20 15:14] zhchsh19 opened #8280 "A question in "Compute MxNE with time-frequency sparse prior""
I tried to use my own data to use this algorithm，but no matter how I change the value of alpha, I get the following ONE result：
IndexError: index 4224 is out of bounds for axis 0 with size 4098

The same fault occurs in the algorithm "Compute a sparse inverse solution using the Gamma-Map empirical Bayesian method" and "Compute sparse inverse solution with mixed norm: MxNE and irMxNE"

**Here is my

[2020-09-20 19:51] agramfort commented on #8280
can you make available the 3 files : evoked, forward and cov?

[2020-09-20 20:53] chapochn commented on #8270
So, just curious, before reporting an issue, should I always test on master first instead of the current stable version?

[2020-09-20 21:37] wolfgang-ganglberger opened #8281 "Read EDF files with dummy zero year/month/day"
#### Describe the bug
EDF file that has dummy year/month/day of 0's cannot be read by mne.io.read_raw_edf() and exits with error "month must be in 1..12"

#### Expected results
I except the code still be able to read the data in the .edf file, and I would suggest that another dummy date is used instead of the 0's in the file, i propose using 1900-01-01.

Current code in mne/io/edf/edf.py:
[code]
P

[2020-09-21 01:18] zhchsh19 commented on #8280
[cov.zip](https://github.com/mne-tools/mne-python/files/5253052/cov.zip)
[evoked.zip](https://github.com/mne-tools/mne-python/files/5253053/evoked.zip)

fwd is bigger than 10MB, how can I uplosd it?

[2020-09-21 06:11] agramfort commented on #8280
use dropbox, google drive, https://wetransfer.com/ etc.

[2020-09-21 07:32] anupdas777 commented on #8271
Any updates here? I am still not able to solve this problem. Need this to work asap. Thanks.

[2020-09-21 07:55] zhchsh19 commented on #8280
https://we.tl/t-uAn1lxOUYZ

[2020-09-21 08:34] cbrnr commented on #8281
I'm fine with this change - @wolfgang-ganglberger it would be great if you could submit a PR. I suggest to also issue a warning if a date component is zero, e.g.

[code]

[2020-09-21 08:45] cbrnr commented on #8281
Since MNE 0.21 now requires Python >= 3.6, you could also use an f-string:

[code]

[2020-09-21 10:10] agramfort commented on #8281
+1 for a PR but it should deal with any date formatting pb not just 0
placeholders

[2020-09-21 10:14] cbrnr commented on #8281
Agreed, but this just means checking if the values are within valid ranges, because we already convert to int after reading from the header. So I guess checking `1 <= day <= 31`, `1 <= month <= 12`, and `year >= 1900` (or some other year) would be sufficient, or do you want a true check for a valid date (e.g. is February 29 2017 valid)?

[2020-09-21 10:17] agramfort commented on #8281
I would use a try trying to construct a datetime

[2020-09-21 10:21] agramfort commented on #8280
[code]

I do not get the error you report. What did you do differently,

[2020-09-21 12:37] larsoner commented on #8270
Yeah usually that's a good idea

[2020-09-21 12:38] cbrnr commented on #8219
As discussed in #8283, we should probably set invalid dates to `None`.

[2020-09-21 13:45] benoitvalery commented on #7313
Hi @rob-luke, sorry for the delay, [here](https://filebin.net/b8wuel9p7rcvpf3n/2020-02-13_001.zip?t=e0yz4eta) is the files you asked for !

[2020-09-21 14:11] larsoner opened #8284 "MAINT: CircleCI builds take 2h"
This is just for the "build" step. Installation plus artifacts and the like make it take about 2.5 hours total.

We should look into streamlining some examples. Maybe some can also be combined and turned into tutorials (many machine learning ones?).

[2020-09-21 14:33] zhchsh19 commented on #8280
I got the error when I run :
stc = make_stc_from_dipoles(dipoles, forward['src'])

[2020-09-21 14:38] larsoner commented on #8271
It's possible that MESA<18.4 has problems, see https://github.com/mne-tools/mne-python/issues/7977#issuecomment-673623894. Not sure if there is an option other than upgrading MESA or switching to a computer with a graphics card with better OpenGL support :(

[2020-09-21 15:46] wolfgang-ganglberger commented on #8281
Thanks @agramfort  and @cbrnr! Super awesome!

[2020-09-21 16:30] agramfort commented on #8284
+1000

[2020-09-21 18:00] anupdas777 commented on #8271
Can you please send commands to upgrade MESA? Thanks.

[2020-09-21 18:54] drammock commented on #8271
Dear @anupdas777, it would be easier for us to remain motivated to help you if we saw some evidence that you are at least *trying* to find answers or figure out solutions on your own.  Perhaps you are, and you're just not telling us what you've already tried and what the results were...  but if that's the case, it is considered polite to tell us what you've already tried. http://whathaveyoutried.c

[2020-09-21 19:02] anupdas777 commented on #8271
Many people say many things on the internet to install mne and have tried all those things but failed, so I posted here. And I do not have any other ideas regarding how to install mne. If my behavior is against the policies of this forum, then you do not have to help further. Thanks.

[2020-09-21 19:09] drammock commented on #8088
I think I figured out why this is happening: our [PyPI json](https://pypi.org/pypi/mne/json) is missing the key `['project_urls']['Source']`.  Here is [an example](https://pypi.org/pypi/doit/json) of a project that has the key defined.  I figured this out from [this issue](https://github.com/librariesio/libraries.io/issues/2121), and I think the solution is to add [something like this](https://git

[2020-09-21 19:21] agramfort commented on #8280
[code]

works fine with current master and release 0.21 from today.

[2020-09-21 19:53] drammock commented on #8271
You have not violated our [Code of Conduct](https://github.com/mne-tools/.github/blob/master/CODE_OF_CONDUCT.md). But there are norms that are also relevant here, which you're not following. Because those norms are not always clear or well documented, I took this opportunity to tell you that I think you've violated a norm, explain what that norm is, and offer some further reading to give context f

[2020-09-21 20:20] anupdas777 commented on #8271
I have documented everything in my previous posts here that I have tried and I have also tried my best to get this thing to work, so your comments like "violated a norm", "comes across as lazy" etc. are obviously wrong. It looks like you do not want to help, so I will just go ahead and close this issue. Thanks.

[2020-09-21 20:20] #8271 closed

[2020-09-22 03:22] rob-luke commented on #7313
Fantastic! Thanks so much @benoitvalery

FYI: I don't think we have fully fixed the French date coding, so there is an issue here if you have any more feedback https://github.com/mne-tools/mne-python/issues/8219

[2020-09-22 07:54] hoechenberger commented on #8284
Can we not split testing into several, independent, parallel jobs?

[2020-09-22 09:18] agramfort commented on #8284
here it's not for testing but generating the documentation. We have too
many examples generated by sphinx gallery

[2020-09-22 10:41] hoechenberger commented on #8284
Thanks for the clarification!
Sounds good to me we seem to have such extensive documentation ;)

[2020-09-22 13:02] #8281 closed

[2020-09-22 13:35] larsoner commented on #8088
Yes please add it @drammock . You can probably check by doing `python setup.py sdist bdist_wheel` then looking at the `dist/` directory, the JSON should be in there somewhere. Once it works we can merge to `master` and backport.

[2020-09-22 14:42] olafhauk commented on #8232
Should I have a go?

[2020-09-22 15:32] agramfort commented on #8232
ok for me

[2020-09-22 16:55] aayrolles opened #8289 "question about ICA : corrmap with multiple template"
Dear MNE team,
I'm using `corrmap()` for independent components analysis, is it possible to use more than one component as template? For exemple selecting blinks and ecg components as the same time?

For exemple:

`subj_number = [0]`
`component_numbers = [1, 3]`
`template_components = icas[subj_number].get_components()[component_numbers]`
`fig_template, fig_detected = corrmap(icas,

[2020-09-22 19:11] agquinn opened #8290 "MNE Python Plotting for Time Series Data: Issue with mne.read_epochs_eeglab"
#### Describe the bug
〈There seems to be an issue with mne.read_epochs_eeglab modifying data slightly. When using MNE to plot time series data for the purpose of comparison to time series data in Matlab, the underlying data used in MNE is different than the actual data in Matlab. I plotted my time series data using Matplotlib, and was able to successfully reproduce the time series plot for my data

[2020-09-22 19:12] agquinn commented on #8290
@alexrockhill

[2020-09-22 19:18] #8150 closed

[2020-09-22 19:26] agramfort commented on #8290
if you want channel 5 in python you need to do:

plt.plot(epochs.times, epochs._data[0, 4])

not

plt.plot(epochs.times, epochs._data[0, 5])

[2020-09-22 23:06] rob-luke opened #8291 "Create local topographic representations. Don't connect distant sensors in topomap."
#### Describe the problem
When creating topoplots for montages that have clearly separated clusters of sensors the plotting connects these regions, often creating some visual distortion between regions of interest.

For example in the fNIRS example [here](https://mne.tools/stable/auto_tutorials/preprocessing/plot_70_fnirs_processing.html#compare-tapping-of-left-and-right-hands) I would like the le

[2020-09-23 04:33] infinitejest opened #8292 "persyst annotations error"
**READ THIS FIRST:** If you are having trouble getting MNE-Python to work with
your own data, you should probably ask for help on our
[Gitter channel](https://gitter.im/mne-tools/mne-python) or on our
[mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis)
before opening an issue; you will get help faster that way. See
[the FAQ entry on filing bug reports](https://mne.tools/

[2020-09-23 06:23] agramfort commented on #8292
ping @adam2392

[2020-09-23 08:14] cbrnr opened #8293 "Create 0.21 tag"
I think we forgot to tag the 0.21 release - @agramfort can you still do that now? There shouldn't be too many commits after the release.

[2020-09-23 08:17] cbrnr opened #8294 "Remove space in GitHub project About"
The GitHub About text has a space in front of the colon which should be removed (I don't have permissions to edit):

"MNE : Magnetoencephalography (MEG) and Electroencephalography (EEG) in Python"

→

"MNE: Magnetoencephalography (MEG) and Electroencephalography (EEG) in Python"

[2020-09-23 09:07] agramfort commented on #8294
done

[2020-09-23 09:07] #8294 closed

[2020-09-23 09:12] agramfort commented on #8293
done.

I had forgotten to push with --tags.

thanks

[2020-09-23 09:12] #8293 closed

[2020-09-23 12:14] marcpabst commented on #7657
Any progress on this? Just ran into this problem and can confirm that 379a1b9 seems to work fine.

[2020-09-23 12:17] drammock commented on #8088
hmm, the JSON is not in `dist` anywhere, but the new URLs do show up in the `mne.egg-info/PKG-INFO` inside the `tar.gz` file, and also in `python setup.py sdist bdist_wheel/METADATA` inside the wheel. I'll open a PR to iterate further.

[2020-09-23 18:03] adam2392 commented on #8292
Yes that totally sounds like a bug to me :P.

Ah I see this sounds like a good fix to me! Would you be willing to submit a PR and I can help review and get it merged? It seems like a few line fix to adapt the dictionary to dictionary of lists.

[2020-09-23 18:22] agquinn commented on #8290
Thank you; I missed that earlier. I think that might be the issue I was actually having.

[2020-09-23 18:22] #8290 closed

[2020-09-23 19:18] infinitejest commented on #8292
I was able to get that fixed , but it is breaking the part of the code that
adds annotation to the annotation object because It is expecting single
value Instead of a list. I need to give this some thought.

Andres Rodriguez

On Wed, Sep 23, 2020, 2:04 PM Adam Li <notifications@github.com> wrote:

[2020-09-23 19:39] #8088 closed

[2020-09-23 19:54] agramfort commented on #8291
I would not use kmeans but
https://docs.scipy.org/doc/scipy/reference/generated/scipy.cluster.hierarchy.linkage.html
with single option to find the clusters here.

[2020-09-23 19:56] agramfort commented on #7657
@marcpabst can you share a file with some code that could be the basis of a test ?

[2020-09-23 20:13] marcpabst commented on #7657
Sure. ICA solutions should be fine from a privacy standpoint, I suppose. I might have to remove the actual data but that that should not be needed for the `ICA` object. Also, for me, the `Info` object is `None`. Btw I'm happy to work on this myself is no one else is atm.

[2020-09-23 20:20] agramfort commented on #7657
any help is very much appreciated ! if you can do the PR it's even better.

[2020-09-23 21:45] mmagnuski opened #8300 "Reorder channels stopped working when preceded with add_reference_channels"
I have a file reader for some of my files, which worked well some time ago but fails on master when trying to reorder channels:

[code]
it seems that the problem arises because in my reader first a reference channel is added (`mne.add_reference_channels(raw, 'Cz', copy=False)`) and then `raw.reorder_channels()` is called. I can change the order of operations in my code, but thought I should let yo

[2020-09-23 22:24] christian-oreilly commented on #7657
In case it can be of any help, here is the "diff" from the version I use:

[code]

I guess I did not have time to make a proper PR for that. My immediate concerns more often leans toward having code that simply works (at the expense of aesthetics or generalizability) when I am working on a specific analysis... so this "works" but it may be less well integrated than what would be an acceptable solu

[2020-09-24 11:22] agramfort commented on #8300
please share a full code snippet to replicate this

[2020-09-24 14:49] danieltomasz opened #8302 "Error related to test_config_linux while trying to build documentation locally on Mac"
While trying to build the documentation locally I got following error
MNE 21.0
Python 3.8.5
MacOS Catalina
I installed requirements
   from here https://github.com/mne-tools/mne-python/blob/bab6cb31f59341c3cf02cfe6f96d10e9adcf52cc/requirements_doc.txt
[code]

[2020-09-24 14:50] zhchsh19 commented on #8280
I think there is somthing wrong with the parameter"alpha",  If it is too big, then I can only get three rows' data, such as:

//**117: RuntimeWarning: source space does not contain any vertices for 66 labels:
['bankssts-lh', 'bankssts-rh', 'caudalanteriorcingulate-lh', 'caudalanteriorcingulate-rh', 'caudalmiddlefrontal-lh', 'caudalmiddlefrontal-rh', 'cuneus-lh', 'cuneus-rh', 'entorhinal-lh', 'ento

[2020-09-24 19:49] agramfort commented on #8302
what command did you type in the terminal?

[2020-09-24 19:51] agramfort commented on #8280
please a well formatted code. You can use https://gist.github.com/ if it
helps.
Then I will look into it

[2020-09-24 21:03] vagechirkov opened #8304 "raw.plot() bottom cannot be >= top"
Dear all,

I faced the following bug during plotting raw fif data:

[code]

After its appearance in one environment, this bug appeared in all Anaconda environments. Unfortunately, I cannot reproduce the original reason for its appearance.

## Solution
I think that the constant (MNE_BROWSE_RAW_SIZE) has been accidentally corrupted, and this crashed the plotting function. I have manually set config:

[2020-09-24 23:00] danieltomasz commented on #8302
`make html_stable`

[2020-09-24 23:07] dahaiyu opened #8305 "Is it a correct definition of PLV?"
In the following page, I found the PLV definition is given as follows: PLV = |E[Sxy/|Sxy|]|. It is different from the definition in the reference. Are these two equivalent?

[https://mne.tools/stable/generated/mne.connectivity.spectral_connectivity.html?highlight=spectral_connectivity#mne.connectivity.spectral_connectivity](url)

reference: Lachaux et al. “Measuring phase synchrony in brain signal

[2020-09-25 06:49] agramfort commented on #8305
yes it is equilavent

[2020-09-25 06:49] agramfort commented on #8305
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-09-25 06:49] #8305 closed

[2020-09-25 06:51] agramfort commented on #7657
I can do the PR but can you share a file so I can assess myself
that what I get on my laptop is correct?

[2020-09-25 07:05] agramfort commented on #8302
you run this from the doc folder?

[2020-09-25 07:11] marcpabst commented on #7657
Here you go. I set all data to 0. but otherwise, this file should work.

[eeg.zip](https://github.com/mne-tools/mne-python/files/5281155/eeg.zip)

[2020-09-25 10:19] danieltomasz commented on #8302
Yes, everything was running almost smoothly till this moment
(apart from one script from preprocessing folder which hangs on downloading one of the brainstorm datasets, but I solved this manually by running the same script manually, which downloaded this dataset)

[2020-09-25 10:30] agramfort commented on #8302
ok I think I understand. The file test_config_linux is a data file that we
don't include in the source distribution and that
is not installed. Can you try to install mne with

cd mne-python
pip install -e .

[2020-09-25 10:42] danieltomasz commented on #8302
After  local mne install, It didn't crash at this point, albeit the execution of the code seems stuck at this point ( 'generating gallery for auto_examples/visualization... [ 52%] plot_meg_sensors.py') more than 5min now

[2020-09-25 10:44] agramfort commented on #8302
FYI building the entire doc is close to 2h ... :-/

[2020-09-25 10:45] danieltomasz commented on #8302
EDIT: after over  10min it breaks through!  Thanks for your help, I am closing this issue!

[2020-09-25 10:45] #8302 closed

[2020-09-25 10:48] agramfort commented on #8302
it breaks?

[2020-09-25 10:51] danieltomasz commented on #8302
No, it's good :) It finished generating the problematic script and start another one, thanks for the help again!

[2020-09-25 11:02] agramfort commented on #7657
[code]

RuntimeError: The ICA's measurement info is missing. Please fit the ICA or add the corresponding info object.

you don't get a proper info when reading from EEGLAB?

[2020-09-25 11:12] marcpabst commented on #7657
I do when using `read_raw_eeglab()`. Here's my working code. Note that I have to re-set the montage because coordinates directly imported from EEGLAB are not rendered correctly ([eeg_with_montage.zip](https://github.com/mne-tools/mne-python/files/5282371/eeg_with_montage.zip)).

[code]

[2020-09-25 11:25] agramfort commented on #7657
with current stable release I have issues:

import mne

ica = mne.preprocessing.ica.read_ica_eeglab("eeg.set")
raw = mne.io.read_raw_eeglab("eeg.set")

ica.info = raw.info

besa = mne.channels.read_custom_montage("standard-10-5-cap385.elp")
ica.info.set_montage(besa, on_missing='warn')

ica.plot_components()

gives me:

ValueError: The following electrodes have overlapping positions, which
causes

[2020-09-25 11:32] marcpabst commented on #7657
Realy weird. I'm on 0.21.0 and the code I posted works fine. Although using `ica.info.set_montage(besa, match_case=False)` might help?

[2020-09-25 12:38] kpauski commented on #8124
Thank you for your answer. Now I understand why it didn't work.

Unfortunately, I don't have FreeSurfer reconstructions of the subject.

[2020-09-25 16:43] larsoner commented on #8124
Can you upload your surface(s) and your STC somewhere? I can look into how difficult it is to hack into our `_Brain` object to allow a custom surface + discrete source space.

[2020-09-25 17:31] #8300 closed

[2020-09-25 17:34] larsoner commented on #8304
Thanks for the report -- we could sanity check the values we get from the config better and `warn` if they're unusable.

[2020-09-26 07:17] RickLicona opened #8309 "Error: mri_make_bem_surfaces has been removed from this version of freesurfer"
Hi,

I was running the Python script "01-anatomy.py" of the GitHub project named mne-biomag-group-demo. However, the console throw the next message errors:

![imagen](https://user-images.githubusercontent.com/22995049/94332557-e67a2600-ff9b-11ea-9438-0f22743c4214.png)
![imagen](https://user-images.githubusercontent.com/22995049/94335059-5c7f8c80-ff9e-11ea-8d0d-d91d06967616.png)

I have the MNE ver

[2020-09-26 07:39] agramfort commented on #8309
hum this is bad as this command is required by MNE

@buildqa @mshamalainen we need to see how to proceed as it seems freesurfer
broke mne flash bem :(

[2020-09-26 10:57] hoechenberger commented on #8309
Interestingly this change does not seem to be listed in the release notes at https://surfer.nmr.mgh.harvard.edu/fswiki/ReleaseNotes

[2020-09-26 10:58] hoechenberger commented on #8277
Hello @RickLicona, have you been able to resolve this?

[2020-09-26 19:18] infinitejest commented on #8292
I think i got issue resolved . Now there will be objects with same description. I needed to change some of the way you unpacked you annotations to account for the lists of annotation. This way now wach annotation has an object. An alternative way to do it is to pass the whole list to a repeated annotation element but was not sure if that will be more desirable. One thing I dont know if need fixing

[2020-09-26 20:10] zhchsh19 commented on #8280
There are my codes and data, thank you very much!
https://we.tl/t-9oSNoKe2eU

[2020-09-26 21:32] adam2392 commented on #8292
@infinitejest  awesome! can you make the PR into actual mne-python? I think the current one you have is to your local copy.

[2020-09-26 22:21] infinitejest commented on #8292
Check if it went through. I am not very good with git.

[2020-09-27 07:09] RickLicona commented on #8277
Hi,

Thanks for the interest!. Unfortunately, I cannot resolve this issue, despite the error suggest of install pyvistaqt (0.2.0). I added this tool in my Pycharm IDE, however, the error remains equal. When I come back again to this part of MNE tutorial and found the solution, I will publish it ;).

![imagen](https://user-images.githubusercontent.com/22995049/94358325-c747cb00-0065-11eb-96b6-99c1f

[2020-09-27 13:10] agramfort commented on #8280
this https://gist.github.com/agramfort/56b5c0d605cdc136cf3a7d31aad74d67
runs fine for me.

I see that you can recompute src while you should use forward['src'] to
avoid issues

[2020-09-27 22:50] rob-luke commented on #8291
Thanks for the pointers. As this seems like it will involve digging in to the lower level code I will put this on hold till I have some more time.

In the meantime, if anyone lands here with the same issue I have got around this by plotting each ROI independently and specifying the same axes.

This is a different dataset and analysis than above, but it ends up looking like
![image](https://user-im

[2020-09-27 23:14] larsoner commented on #8291
You can probably pass `outlines=dict()` or something similar to get it to not re-plot the outlines in the subsequent calls, too. I say we make sure we can avoid re-plotting the head outline somehow, then close, as this is actually a nice solution! +1 for adding this to an fNIRS tutorial at some point, too.

[2020-09-28 09:48] timonmerk opened #8312 "Why is the channel name length limited to 15 characters?"
MNE automatically truncates the channel name length to 15 characters:
[code]

In the context of clinical neurophysiology it becomes very handy to keep information like

1. the cortical location
2. electrode manufacturer
3. hemisphere

inside of the channel name.

Is there a reason for limiting the length?

[2020-09-28 09:52] agramfort commented on #8312
it's due to the fif format that uses a fixed length for channel names.

it's quite hard to change.

[2020-09-28 09:56] timonmerk commented on #8312
But by not using the fif format (in our case we use brainvision) this should theoretically not be a problem right?

[2020-09-28 10:10] agramfort commented on #8312
as you as you save a file to fif you have the pb.

[2020-09-28 11:32] cbrnr commented on #8312
We should still consider the option to get rid of these FIFF restrictions and only apply them once the users saves something to FIFF (where we could issue appropriate warnings etc).

[2020-09-28 19:28] agramfort commented on #8312
I could live with that !

[2020-09-28 19:59] larsoner commented on #8312
If we do this we might want to have a `allow_long=False` by default in `create_info` and in other readers where we've hit long channel names. Only finding out when you go to write that the file you will read in later won't have the same channel names as those you've been working with could be pretty annoying for users who might have done things with their data already. Or maybe it's okay because i

[2020-09-28 23:13] rob-luke commented on #8291
Nice tip! I will try that out and update the fNIRS tutorial to demo it. Thanks mate

[2020-09-29 00:52] RickLicona commented on #8309
It seems that I need to download an old version of Free Surfer. Can you suggest me the correct version to avoid this error message?.

Thanks!

[2020-09-29 02:36] RickLicona commented on #8309
Update: It is the same error with Free Surfer 7.1.0. Thus, 7.1.1 and 7.1.0 versions provided the same error message:
[code]

[code]

[2020-09-29 05:47] hoechenberger commented on #8309
You will need to use FreeSurfer 6 for now, which can be downloaded from https://surfer.nmr.mgh.harvard.edu/fswiki/rel6downloads

[2020-09-29 06:40] cbrnr commented on #8312
I think it's okay if they get a clear warning message on save saying that channel names have been truncated because the file format doesn't support longer names.

Re extending the FIF format I don't really have an opinion because I don't use the format, but your suggestion sounds reasonable.

[2020-09-29 12:30] Alex159 commented on #7897
Hi everyone,

This problem has reared its head again. I had it originally in version 0.20.6 and then updated just now to 0.21.0 and I'm still getting the error. Basically, able to save a 13 GB Epochs instance and it splits it over 3-4 FIFF files and numbers the parts to it. I then equally balance all of the data in the respective classes, concatenate the epochs into a new data structure and try to

[2020-09-29 13:02] hoechenberger opened #8315 "Accessing data after applying gradient compensation & picking doesn't work"
#### Steps to reproduce
[code]

#### Expected results
[code]

#### Actual results
[code]

#### Additional information
If the data is preloaded:
[code]
the problem does not occur.

Also if I skip the `pick_types()` it does work.

NumPy is 1.19.1.

[2020-09-29 13:05] larsoner commented on #7897
@Alex159 can you try replicating this problem using `mne.EpochsArray(np.zeros(...), create_info(...)).save(...)`? Presumably if you use the same dimensions as the data you're trying to save you'll hit the problem.

If it doesn't work with EpochsArray it suggests that there is something about your Epochs that we aren't accounting for when we try to figure out where to split things.

[2020-09-29 13:11] hoechenberger commented on #8312
But… is it easy for users to write MNE data to **other** formats? As easy as doing `raw.save('eeg_data.eeg')` or even `epochs.save('eeg_data.eeg')? (I've never tried that)
I guess I would be pretty annoyed if I've been working on some code and only at the end I'm adding the `save()` calls, and then MNE tells me, "Good luck changing all the channel names **now**, sucker!"

[2020-09-29 13:45] cbrnr commented on #8312
Good point, we've discussed this at least once (too lazy to look up the issue), but in principle I agree that we'd have to put in some work to make exporting to other formats as straightforward as possible. Still, even if you get this message at the end of a pipeline MNE could automatically truncate channel names to 15 characters, which currently happens when loading a file that does support longe

[2020-09-29 14:14] larsoner commented on #8315
I can look into this in the coming days

[2020-09-29 15:51] #8315 closed

[2020-09-29 18:18] adam2392 opened #8319 "Nihon Kohden Description of Data Files"
#### Problem
In https://github.com/mne-tools/mne-python/pull/6017/files# this was an initial add to mne python that allows reading in of NK files, which is awesome!

I'm a relatively novice user to NK since mne never had a python reader for it, but now that it does, I'm interested in using it more on NK raw data. However, I noticed that all the other readers have an entry here https://mne.tools/de

[2020-09-29 18:22] larsoner commented on #8319
PR welcome! I would start with at least some stub saying that it's possible to read data in that format *at all*. We just forgot to add it in #6017

[2020-09-29 19:54] Alex159 commented on #7897
@larsoner Hi Eric, thanks for the response. I can confirm that using the code in your response, everything saves fine. So, it looks like there is something wrong with the EpochsArray. I think I might have worked it out though. I am concatenating a lot of events and it looks like I hit numeric overflow in the first column of the events array. Everything is increasing right until the end and then I

[2020-09-29 20:24] RickLicona commented on #8309
Thanks! Now it is working. To avoid some problems in the case of **Mac Os X** , it is neccesary to **add a patch (https://drive.google.com/file/d/1ezjiNIbGNrNAiYD5ciYxMO2SK-R5vz9A/view)** for the **FreeSurfer 6**.

See more regarding Mac Os X patch: https://www.mail-archive.com/freesurfer@nmr.mgh.harvard.edu/msg64333.html

[2020-09-29 20:24] #8309 closed

[2020-09-30 06:38] agramfort commented on #8309
FYI we contacted freesurfer core dev team to try to fix this issue

cc @buildqa

thanks for the detailed report

[2020-09-30 06:39] agramfort commented on #7897
are you on windows? cause windows used int32 by default for integers

[2020-09-30 10:28] hoechenberger opened #8322 "Add ICA.pca_explained_variance_ratio_"
#### Describe the problem
When using `ICA.max_pca_components` to reduce data dimensionality before ICA, after fitting we have `ICA.pca_explained_variance_` containing the absolute variances of all retained principal components. However, it's impossible to reconstruct how much of the total variance **before** dimensionality reduction (i.e., leaving out PCs) each PC explained.

#### Describe your so

[2020-09-30 11:02] larsoner commented on #8322
Why not just adjust `pca_explained_variance_` such that it reflects the variance of the original data? To me this would qualify as a bug fix. The other quantity (what is currently given) is just `pca_explained_variance_ / pca_explained_variance_.sum()`, right?

[2020-09-30 11:06] larsoner commented on #7897
We should make sure we use `np.int64` explicitly for the `events` array in our code. @Alex159 can you track down whether the problem arose from you creating `events` using `int` on windows (which will be 32 bit as @agramfort says) or if it's a problem with our code using `int` somewhere? It could even need fixing both places...

[2020-09-30 11:27] hoechenberger commented on #8322
You mean, for **all** components in the original data, including those that were not retained for ICA?

[2020-09-30 11:29] larsoner commented on #8322
I mean let's say you have 30 channels but `max_pca_components=28`, `pca_explained_variance_` should be length 28 (it's how many PCs were kept) but the variance numbers correspond to those of the original data. So it will not sum to 1 (unless the last two PCs had variance zero in this example).

[2020-09-30 11:31] hoechenberger commented on #8322
Oh but that's exactly my point with this issue: `pca_explained_variance_` contains absolute variance values. So if all you get is a subset, you don't know how much variance there was **in total**, so you cannot calculate which fraction of total variance each PC explains.

[2020-09-30 11:32] hoechenberger commented on #8322
Therefore I'm suggesting to introduce `pca_explained_variance_ratio_`, where for each PC you'd have their relative contribution to total variance.

[2020-09-30 11:53] larsoner commented on #8322
Ahh, I see. Personally I don't see too much value in the absolute variances anyway (?), I'd be up for just making them relative.

Another alternative would be to add `ica.pca_residual_variance_`. It gets you what you need to get the ratios but is less redundant than / more compact than the ratios I think.

[2020-09-30 11:57] hoechenberger commented on #8322
if that's an option, I'd be totally up for it. I always thought that absolute variances are kind of odd but then again what do **I** know about other users' needs :)

[2020-09-30 12:00] larsoner commented on #8322
Given that we don't know if users are doing something with the absolute values, I think adding `ica.pca_residual_variance_` is my favorite option at this point...

[2020-09-30 12:09] larsoner commented on #7897
Actually it looks like we `write_int` the events, which for FIFF means they are 32-bit integers. Given that there are no int64 in FIFF, I think we should probably check that the events are all < 2147483647. @Alex159 I think in your case you will need to use smaller values for the `events` array :( You could add the larger numbers as `metadata` perhaps

[2020-09-30 12:23] Alex159 commented on #7897
Yes, on Windows for this analysis as data is restricted to the university network. I can run something similar on a Linux cluster and see the results, but will have to wait until tomorrow to try that part. I managed to make `concatenate_epochs` use int64 dtype by changing all the dtypes of the EpochArrays that are being concatenated. This did avoid the overflow in the event time samples, meaning t

[2020-09-30 12:33] hoechenberger commented on #8322
Residual variance in this case being the relative variance not explained by the retained components, or…? I have the feeling this is over-the-top complicated? Users would always have to do `1-residual` to get to the figure they actually want?

[2020-09-30 12:35] larsoner commented on #8322
No I'm saying keep `pca_explained_variance_` the way it is, don't add `pca_explained_variance_ratio_`. If people want this normalized quantity (which apparently they haven't until now?) it's just:
[code]

[2020-09-30 12:36] hoechenberger commented on #8322
Okay, got it. sounds like a plan.

[2020-09-30 12:37] hoechenberger commented on #8322
Well, I want it ;)

[2020-09-30 12:39] larsoner commented on #8322
We could even make `pca_residual_variance_` an array of the remaining (unused) components. Then the expression above does not get much more complicated:
[code]
but you can for example decide how many more PCA components you should have kept by looking at individual terms of the `ica.pca_residual_variance_`.

[2020-09-30 12:40] hoechenberger commented on #8322
Yes this is how I (obviously mis-)understood your proposal in the first place! 👍👍👍

[2020-09-30 16:50] #8319 closed

[2020-09-30 19:05] larsoner opened #8325 "BUG?: ICA can blow up components"
@hoechenberger not 100% sure this is related to #8313 and #8316 since those seem to have to do with ICA taking too long rather than doing something totally wrong. To me this code should work / be a no-op:
[code]
gives an `AssertionError`:
[code]
It seems like this should work even if you get the number of components wrong. It suggests that something is wrong with the mixing/unmixing step that when

[2020-09-30 19:13] hoechenberger commented on #8325
...

I believe this is related, and in fact may be the explanation to super bad ICA results @agramfort and I witnessed when working with rank-deficient data (i.e., without setting `max_pca_components` to an appropriate value)

Reducing the rank always fixed things for us.

This is why I started working on #8321, to make it easier to select a relative number of components (explaining x% of variance

[2020-09-30 19:15] hoechenberger commented on #8325
I believe the problem occurs not during ICA itself but when reconstructing the signal

I think it's really that your data is rank-deficient here thanks to the avg reference.

[2020-09-30 20:09] agramfort commented on #8322
just expose the explained_variance_ratio_ from sklearn PCA estimator

[2020-10-01 06:09] hoechenberger commented on #8325
[code]
Commented-out the avg reference step, and the assertion holds…

[2020-10-01 06:20] hoechenberger commented on #8312
I like the idea of either introducing a sidecar file or making writing to other formats easier, so we can overcome some of the limitations of the FIFF file format.

[2020-10-01 08:29] hoechenberger opened #8327 "ICA should not touch init parameter n_pca_components during fit"
This is what currently happens in `ICA._fit()`, which is invoked by `ICA.fit()`:
https://github.com/mne-tools/mne-python/blob/4270859dc3ba2208bb3eed4f73403b5de26125b8/mne/preprocessing/ica.py#L737-L739

We should have `ICA.n_pca_components_` instead (currently doesn't exist).

[2020-10-01 10:39] larsoner commented on #8327
Agreed this is a bug

[2020-10-01 10:41] larsoner commented on #8325
Yes it's 100% because it's rank deficient. But my point is that if we can make it so that this *doesn't* blow up the data without any special intervention (such as trying to detect the rank), we should. That's what #8326 does.

[2020-10-01 11:05] hoechenberger commented on #8325
Ok, got it

[2020-10-01 16:22] larsoner commented on #7977
@olafhauk 18.3.4 is the same problematic MESA that @bloyl was using here. CircleCI uses 18.3.6 and does not have this rendering problem.

What Linux distribution are you on? I can look to see if there is some at least somewhat painless way for you to get a newer MESA to fix the rendering problems.

[2020-10-02 08:14] hoechenberger opened #8332 "Should we drop ICA.apply(..., n_pca_components)?"
While looking into #8327 I discovered that `ICA.apply()` accepts an `n_pca_components` kwarg
https://github.com/mne-tools/mne-python/blob/74f6f41f827df552d258c4db4d4c99a5b71863d6/mne/preprocessing/ica.py#L1531-L1532

The idea here is obviously that the user shall be able to override the `n_pca_components` parameter passed to `ICA` on initialization.

However, the current documentation doesn't matc

[2020-10-02 08:30] luoying050601 commented on #6168
sorry, can I ask a question? If I installed the freesurfer, can I run the `cortex.segment.init_subject("S" + user, anat_path)` without error_msg? Or I have to use freesurfer to do this command?(can python call the freesurfer outside the freesurfer?)

[2020-10-02 09:13] hoechenberger commented on #8332
… or we could keep it in `apply()`, but remove it from `__init__()` …

[2020-10-02 09:39] agramfort commented on #8332
apply is like transform. It should not alter the instance. makes sense?

[2020-10-02 10:09] hoechenberger commented on #8332
Yes, but that wasn't exactly my point :) I'm just wondering if anyone ever passes a different `n_pca_components` to `apply()` than they have passed to `__init__()`. But maybe the Juelich folks do :)

[2020-10-02 10:13] agramfort commented on #8332
sorry I don't get what you suggest then

[2020-10-02 10:21] hoechenberger commented on #8332
Ok let me restart:

- `ICA.__init__()` accepts `n_pca_components`, which is then stored in `self.n_pca_components`
    - If `n_pca_components is None`, we use all available components for signal reconstruction when invoking `apply()`
- but `ICA.apply()` **also** accepts an `n_pca_components` param
    - if this one `is not None`, it overrides `self.n_pca_components` (and currently actually **overw

[2020-10-02 10:30] agramfort commented on #8332
+1 we have a bug. The self.n_pca_components should not be changed with
apply. It should just be used provided it's less than max_pca_components

[2020-10-02 10:35] hoechenberger commented on #8332
Yep, that's being tracked in #8327

[2020-10-02 11:18] hoechenberger commented on #8147
I cannot reproduce this issue anymore. Which is good, I suppose 😅👍

[2020-10-02 11:18] #8147 closed

[2020-10-02 11:19] hoechenberger opened #8334 "Add Evoked.baseline"
Was added in #8156 but later reverted. But we should have it.

[2020-10-02 11:21] hoechenberger commented on #8114
I'm closing this due to inactivity. @neuroteams feel free to re-open if this issue has not been resolved.

[2020-10-02 11:21] #8114 closed

[2020-10-02 11:26] hoechenberger commented on #6762
@jgeller112 Did you ever find time to test the Picard solver suggested by @agramfort?

[2020-10-02 11:27] hoechenberger commented on #6002
Nice work, @fraimondo. I will see if I can incorporate your idea or some of that code into the Report.

[2020-10-02 11:28] hoechenberger commented on #8332
Pinging @jdammers, you probably have a strong opinion on this one 🧐🙂

[2020-10-02 12:02] #8204 closed

[2020-10-02 14:07] olafhauk commented on #7977
This is what I got from IT:

We’re running CentOS Linux release 7.8.2003 (Core)

As for the MESA drivers, the are fairly current for the distribution since they got patched when the OS was patched:
mesa-dri-drivers.x86_64           18.3.4-7.el7               @base
mesa-filesystem.x86_64            18.3.4-7.el7               @base
mesa-khr-devel.x86_64             18.3.4-7.el7               @base
m

[2020-10-02 15:08] hoechenberger opened #8336 "Change interval of selected components for ICA.n_components"
We need to handle `ICA.n_components` selection for floats `0 < x < 1` similarly to what we're doing in #8326

cc @larsoner

[2020-10-02 15:29] bloyl commented on #7977
I am also running some version of redhat/centos 7 so I suspect my setup is similar to @olafhauk 's .

I'm able to duplicate the steps from @larsoner (above) to build and try it using xvfb-run: getting similar results. Interestingly I also tried building mesa.18.3.4 using the same steps and received the same error.

I suspect that we'll need to try to reinstall vtk against mesa.18.3.6. I'm not too

[2020-10-02 16:20] larsoner commented on #7977
I'm not sure what this means. VTK should just use whatever OpenGL libraries are available, and these should be set by using xvfb-run (or not), and what LD_LIBRARY_PATH and such are. Hence why I'm optimistic that some local compilation plus xvfb-run should work...

[2020-10-02 16:43] jdammers commented on #8332
@hoechenberger thanks for pinging me!
At the time of coding the ICA API (thanks to Denis Engemann) the motivation for the parameter n_pca_components was to have an additional setscrew for further denoising. Apart from some test it was rarely used. Finally, in real data analysis nobody is using it in Juelich.
So if no one else is using it, why not removing the parameter?

[2020-10-02 16:56] larsoner commented on #8332
In this case, +1 for removing `n_pca_components` and keep just `n_components` and `max_pca_components`. I think we really only need two of these.

If we really want to keep the option of additional denoising, we can still allow overriding `n_pca_components` in `apply`, so long as the `n_pca_components` there is less than or equal to the one used during init it should be fine. `max_pca_components`

[2020-10-02 17:10] hoechenberger commented on #8332
@jdammers

Thanks for getting back so swiftly! This really seems to indicate we could (should) try to deprecate this kwarg. It has caused so much confusion 😅

Have a great weekend!

[2020-10-02 17:10] hoechenberger commented on #8332
Sounds perfect.

[2020-10-02 17:50] jdammers commented on #8332
Sounds good to me!

[2020-10-02 20:05] bloyl commented on #7977
you are probably correct.
It seems like the mesa compile isn't complete as it is not specfying any GSLS support

[code]

Even if I attempt to force the issue it doesn't work.

[code]
I can't find any suggestions on configuring mesa, so i'm not sure what the best next step is.

[2020-10-02 21:16] GuillaumeFavelier commented on #7977
From https://github.com/mne-tools/mne-python/issues/7977#issuecomment-655472542, I see that `vtk 9.0.1` is used, you have the issue on a previous version of VTK as well? For example `vtk 8.1.2` available on pypi?

[2020-10-03 10:18] hoechenberger opened #8337 "Proceeding with ICA works"
This is just a rough sketchpad to help organize and keep track a little of the ICA construction site, because the big picture is fading quickly for me…

- [ ]  <strike>We now support floats in `max_pca_components`,  and we will keep this parameter</strike>
- [ ] <strike>We will drop `ICA.n_pca_components`, as typically, users can achieve similar results by controlling `max_pca_components` and `n_c

[2020-10-03 11:01] RickLicona opened #8338 "Error: Surface outer skull is not completely inside surface outer skin"
Dear all,

Regarding the DS117 dataset. When I employ the **conductivity for 3 layers (EEG)**,  I got the next error (subject 006):
![imagen](https://user-images.githubusercontent.com/22995049/94989495-e39ea880-053a-11eb-8968-acae1dfa01dc.png)
![imagen](https://user-images.githubusercontent.com/22995049/94989499-e8635c80-053a-11eb-89dd-847243b98c4e.png)

However, employing the same subject, but wi

[2020-10-03 17:06] hoechenberger commented on #8338
@RickLicona Can you try running this with MNE 0.21, which was just recently released? Which version of FreeSurfer are you using?

@agramfort Any idea what might be going on here?

[2020-10-03 19:42] RickLicona commented on #8338
I am using MNE 0.21.0 and FreeSurfer 6.0 (due to problems with the most recent versions)

[2020-10-03 21:31] hoechenberger commented on #8337
@larsoner @agramfort Let's move ICA discussions here :)

[2020-10-04 09:29] agramfort commented on #8337
sounds like a plan !

[2020-10-04 09:33] agramfort commented on #8338
I think that I recall that for this dataset we only used a single layer BEM
to do source loc on MEG only.

Now I think you have the flash MRI images which should give much better BEM
surfaces.

is that what you tried? maybe @jasmainak remembers more as he did most of
the analysis for this paper.

[2020-10-04 11:04] RickLicona commented on #8338
Yes, that is right, only employed a single layer for MEG (here there is not any problem). However, I changed it for 3 layers (EEG) `conductivity = (0.3, 0.006, 0.3)  # for three layer (EEG)`. I want to use only EEG data. For the moment I could generate the 3-layer bem surfaces for the users 2, 14 and 18. For the rest of users, I got the error message: _**Surface outer skull is not completely insid

[2020-10-04 11:50] larsoner commented on #8337
Although it might be slightly cleaner to do:
[code]
I can live with the API:
[code]
it makes it clear that the value only matters during reconstruction, not during fitting. But if we consider the constructor `n_pca_components` a sort of "default value" that can be overridden it makes sense, especially since it will be an attribute of the object and survive a save-load round-trip.

One thing I thin

[2020-10-04 11:51] larsoner commented on #8337
... and then for defaults we can just have:
[code]
and everything should be safe.

[2020-10-04 12:01] hoechenberger commented on #8337
Ok so let's go ahead an merge #8326 then, and then move on from there.

[2020-10-04 14:08] #8325 closed

[2020-10-04 14:08] #7657 closed

[2020-10-04 14:10] hoechenberger commented on #8337
#8326 has been merged. I want to test this with some of our previously problematic data before we proceed. But out for a walk now – will test sometime tonight.

[2020-10-04 14:11] hoechenberger commented on #8337
Why not set `n_components` to a bearable value by default, like, "70" or "100" or so…

[2020-10-04 14:47] eort opened #8339 "automatically combining split files with dashes in the filename fails"
Hi,

I am not 100% this is a bug, or rather a feature request. For now, i could find a work-around, but if it is a bug, it might be relevant to more users in the future.

####  Describe the bug
it seems that split MEG files (automatically split by the acquisition software) cannot be automatically rejoined when the filenames contains dashes (`-`). At least, when I tried to read a BIDS-formatted fil

[2020-10-04 14:50] hoechenberger commented on #8337
@larsoner Sorry to break this to you but #8326 is **not** doing the trick. The ICA decomposition seems to be working fine, but the signal reconstruction step with `n_pca_components = max_pac_components = None` (i.e., all channels) screws up the results (check out the "cleaned" magnetometer data in the last plot; gradiometers are not affected. Magnetometers have projectors applied, i.e. data is ran

[2020-10-04 15:03] hoechenberger commented on #8339
The recommended naming scheme according to BIDS is something like:

[code]

(see https://bids-specification.readthedocs.io/en/stable/99-appendices/06-meg-file-formats.html#neuromagelektamegin)

I believe this _should_ work with MNE?

Btw, if you have a BIDS dataset, it's always the best and safest idea to read it via [MNE-BIDS](https://mne.tools/mne-bids/) instead of "plain" MNE, because MNE-BIDS

[2020-10-04 15:27] agramfort commented on #8339
the name of the next fif file is written in the fif file. So you cannot
rename a fif dataset with split files manually.
if you do this any name should work although mne with show warnings if your
naming scheme is not standard

[2020-10-04 15:40] larsoner commented on #8337
Because this depends on the number of channels which is a bit wacky. It seems like going by the variance explained and just fitting all the components by default is better.

Okay I'm not sure why this would be the case -- I'll take a look tomorrow and see why it breaks

[2020-10-04 15:41] larsoner commented on #8337
If it turns out there is some bug / rank deficiency is problematic, then I still think `max_pca_components` can go away and we can just have `n_components=None, n_pca_components=0.9999` or something as defaults.

[2020-10-04 15:42] hoechenberger commented on #8337
+1 on that.

Thanks for taking the time to look into this, I really appreciate it.

[2020-10-04 15:43] hoechenberger commented on #8337
But if you have hundreds of sensors like in MEG it may seem ICA never finishes. I guess what I'm getting at is: could we maybe add a progress bar somehow?

[2020-10-04 15:47] larsoner commented on #8337
For infomax *maybe* because we write the code for it. For FastICA and Picard you'll have to look into seeing if those libraries provide some interface for a callback to call at the end of each loop. Then we could use that plus the `max_iter` to get it into a ProgressBar (which might terminate early because of convergence criteria, but this might be okay).

[2020-10-04 15:51] hoechenberger commented on #8337
I could also just add a progress bar upstream in `picard`? We do pass `max_iter` to it, IIRC

[2020-10-04 17:40] hoechenberger commented on #8337
… but ok, callback seems like a much cleaner idea.

[2020-10-05 06:06] cbrnr commented on #8337
I lost track of all the ICA changes in various PRs, so I wanted to confirm that the previous behavior won't change.

That is, by default I would like to fit *all* components (corresponding to the number of available channels). If I understood the issues correctly, fitting on rank-deficient data will now issue a warning, correct? However, I don't think that even in this case MNE should automaticall

[2020-10-05 06:24] hoechenberger commented on #8337
Until now, that's still true.

This is what @larsoner is trying to make work reliable. I'm running into issues with this when using rank-deficient data.

No, not yet; the respective PR has not yet been merged.

If we cannot figure out why rank-deficient data screws up signal reconstruction, I think the much better default behavior would be to drop all principal components not explaining ~any varia

[2020-10-05 06:29] #8332 closed

[2020-10-05 06:50] eort commented on #8339
Ah, I missed the MEG specific BIDS-specifications. Thanks for pointing this out!

Also that I missed. I will check it out!

Irrespective of me not using the proper approach to read BIDS-formated MEG files. Shouldn't this still be a problem for users that don't care/know about BIDS and just happen to have dashes in their filename? Or am I missing something?

That's interesting. When exploring the p

[2020-10-05 07:04] agramfort commented on #8338
that's right

[2020-10-05 08:18] cbrnr commented on #8337
Thanks @hoechenberger for the update.

As long as MNE is very clear on what it is doing (i.e. log to info or even warning) this might be fine. However, users should always be able to override the default behavior (which I think we all agree on).

Which step is problematic? Fitting or applying? I assume it's fitting as @larsoner mentioned, because I wouldn't know why rank matters in applying (but m

[2020-10-05 08:21] hoechenberger commented on #8337
It seems that applying is the culprit. Check out the MWE I posted earlier:
https://github.com/mne-tools/mne-python/issues/8337#issuecomment-703266620

We set `n_components = 0.8`, i.e. only fit on a subset of PCA components.
If we don't combine this with `n_pca_components < 1` or `max_pca_components < 1`, something goes wrong: the ECG artifact wil ~not be removed from the magnetometers. If we set

[2020-10-05 08:35] hoechenberger commented on #8337
@cbrnr I've reworked the MWE, this one is better and does all you need to see in one go.

[code]
See how the plots differ, when the only thing we changed `n_pca_components`.

(when testing, beware of #8327, which also seems to happen during `apply`)

[2020-10-05 09:20] cbrnr commented on #8337
Interesting. So the initial `n_components=0.8` is necessary because otherwise the ECG detection algorithm detects 305/305 ICs? Isn't that also a problem? I've never seen such a behavior when using ICA to zero out ocular components (I manually identify between 1-3 ICs that are clearly related to eye movement, not sure if/how an automatic EOG detection algorithm would work).

I was thinking that fit

[2020-10-05 09:29] hoechenberger commented on #8337
It fits one IC per passed PC; by default, that's all PCs, yes.

Well it's simply taking way too long, yes ;) And yeah probably passing a PC with ~zero value violates some ICA assumptions, but I'm not entirely sure about this.

Pretty much the same. It looks at the ECG signal in ECG epochs and then tries to find ICs that correspond to this signal.

Yes, it is. If you only fit ICA on a subset of you

[2020-10-05 09:30] hoechenberger commented on #8337
(@cbrnr I've edited my comment above)

[2020-10-05 09:35] hoechenberger commented on #8337
The additional PCs are included to "denoise" the data (or something like that), if I've followed the previous conversations correctly.

[2020-10-05 09:42] hoechenberger opened #8342 "viz.plot_ica_overlay needs an n_pca_components kwarg"
While `ICA.apply()` does have `n_pca_components`, `ICA.plot_overlay()` does not, making it more difficult to interactively explore the effect of using different numbers of components for signal reconstruction.

[2020-10-05 09:46] hoechenberger commented on #8342
cc @drammock @cbrnr

[2020-10-05 11:27] cbrnr commented on #8337
OK - but you're not concerned that the ECG detection doesn't work if you specify `n_components=None`? It doesn't just take ages, but it finds that all ICs contain ECG (as opposed to 2 found when reducing components to 80% of explained variance)?

[2020-10-05 11:40] hoechenberger commented on #8337
I had never tried that, and it does concern me ;)

[2020-10-05 11:44] hoechenberger commented on #8337
@cbrnr mind re-running the ECG detection with `n_components=None, n_pca_components=0.9999`?

[2020-10-05 12:28] cbrnr commented on #8337
This doesn't change anything, because all 0.9999 means all components:

[code]

Which means that the ECG detection algorithm still identifies *all* components as ECG-related:

[code]

[2020-10-05 12:31] agramfort commented on #8342
indeed it would be very helpful to add it.

[2020-10-05 12:35] hoechenberger commented on #8337
When you say "means all components", are you referring to this part in the output:

?

Because that only tells you how many components were selected based on `n_components`, which is "all" for `n_components=None`

Still, `n_pca_components=0.9999` should **not** keep 305, but 302 PCs. Are you absolutely sure you're using the latest `master` to run this code?

[2020-10-05 12:39] cbrnr commented on #8337
I was using 0.21, will retry with the latest master...

[2020-10-05 12:43] hoechenberger commented on #8337
Oh!!! Yes, sorry, I assumed you're on `master`! You're missing the fixes @larsoner has added since the release.

[2020-10-05 12:58] larsoner commented on #8337
It looks like the real problem with this example is that the data are fit on Epochs that have been projected (rank 302) and then apply is run on Epochs that have not been projected (rank 305).

In your example if you:

1. add `proj=False` to the `Epochs` constructor, or
2. `ica.fit(raw)` instead of epochs, or
3. add `ecg_evoked.apply_proj()`

It works. Here is a faster version you can more quickly

[2020-10-05 13:07] larsoner commented on #8337
Working on a fix now

[2020-10-05 13:30] cbrnr commented on #8337
So does this mean that the initial problem is also solved? Was it caused by computing ICA on different data than applying it to?

[2020-10-05 14:19] larsoner commented on #8337
It was caused by fitting on data that had projections applied but applying it to data that didn't have them applied (and not applying them in the process)

[2020-10-05 14:33] cbrnr commented on #8337
OK then, I'm glad we don't have to use `n_pca_components=0.9999` then!

[2020-10-05 14:53] hoechenberger commented on #8337
But this will only fix things in cases where we **know** about projectors, right? What about e.g. #7727, where we might deal with EEGLAB-preprocessed data that has been average-referenced, hence is now rank-deficient, but we don't know this beforehand? (I know #7727 was originally about covariance estimation, but I'd expect to run into similar issues with ICA).

[2020-10-05 14:54] hoechenberger commented on #8337
But why not? It wouldn't hurt – or would it? I cannot see any drawbacks here, neither with EEG nor with MEG data. Am I missing something?

[2020-10-05 15:21] drammock commented on #8342
I'm off this week (moving house) but will take a look next week. Thanks for flagging it for me @hoechenberger

[2020-10-05 15:22] hoechenberger commented on #8337
Although, in this case, we'd fit and apply on the same data, i.e., same level of rank deficiency… still. Would that work?

[2020-10-05 15:23] hoechenberger commented on #8342
@drammock No worries, I will probably address this myself within the next couple of days. Just tagged you to hear your opinion (approval or objection, but I take this as a +1 from your side :))

[2020-10-05 16:53] larsoner commented on #8337
No, the average ref (not projector, applied) works fine in `master` already in the `noop` test IIRC, and should be fine. The critical thing is just that the data you fit should have the same rank deficiency / linear operators applied to it as the data you apply to. So in the case of projections we can just force this to be the case. People with custom refs or rank deficiencies from elsewhere will

[2020-10-05 18:12] larsoner commented on #8336
This was done in #8326

[2020-10-05 18:12] #8336 closed

[2020-10-05 18:18] larsoner commented on #8337
We should just emit a warning saying it will be removed and they should use `n_pca_components` instead. Then in our `.fit` we set `n_pca_components_` using the smaller of the `n_pca_components` value and `max_pca_components` value (for example if one is int and one is float). And we have to be careful that when reading an ICA object we properly handle old ICA objects in a similar way.

[2020-10-05 18:45] hoechenberger commented on #8336
Whoops, I missed that. Cool!

[2020-10-05 19:28] RickLicona commented on #8277
Dear all,

This part of the code (**Visualizing the coregistration**) from the tutorial named **Head model and forward computation** does no longer generate any error messages.  Now I have the correct 3D simulations :-).

![imagen](https://user-images.githubusercontent.com/22995049/95120480-3e8af800-0713-11eb-884a-f57f200fd796.png)
![imagen](https://user-images.githubusercontent.com/22995049/95120

[2020-10-05 19:28] #8277 closed

[2020-10-05 19:44] larsoner commented on #8277
What's wrong with that image?

[2020-10-05 20:42] RickLicona commented on #8277
It does not generate the image as the original MNE tutorial (https://mne.tools/dev/auto_tutorials/source-modeling/plot_forward.html, , see the below image). In resume, the code from the original tutorial (**visualizing the coregistration** ) is enough, there is not more error messages as I had before.

![Captura de Pantalla 2020-10-05 a la(s) 15 26 06](https://user-images.githubusercontent.com/229

[2020-10-05 21:37] larsoner commented on #8277
That example code has `surfaces=['head-dense']`, the code that precedes the image below has `surfaces=[]`, so it should not show any surfaces (i.e., it looks correct)

[2020-10-06 08:10] agramfort commented on #8309
FYI mri_make_bem_surfaces has been put back on the freesurfer source tree so it should be fixed in the next release.

thanks @RickLicona for reporting the issue.

[2020-10-06 08:41] sappelhoff opened #8346 "FR: add apply_function method to epochs and evoked objects"
based on [gitter thread](https://gitter.im/mne-tools/mne-python?at=5f7b310b17377c6b5ddcf5a3). I don't have the time to make a PR right now, but I think an issue to track this feature is a good idea.

# problem

I want to modify the data stored in epochs in some arbitrary way, so currently I use:

- get the data `X = epochs.get_data()`
- modify it `X = ...`, for example by doing a matrix multiplica

[2020-10-06 11:23] larsoner commented on #8346
+1 sounds good to me, any volunteer to try implementing?

(@sappelhoff until it's implemented you can indeed do `epochs._data[:] = X` assuming dtype is the same -- the `[:]` ensures you don't mess up the shape at least. But as you say it's not guaranteed to work permanently so we should fix this properly concurrently.)

[2020-10-06 13:37] BarryLiu-97 opened #8347 "method like 'resample' for mne.io.BaseRaw"
When I use the method, for example, resampled_data = data.resample(200), I found the original variable 'data' is changed as well. What should I do if I want only the variable **resampled_data**  is the data that got resampled, and the variable **data** stay still.

[2020-10-06 13:38] cbrnr commented on #8347
First copy your data and then resample, e.g. `raw.copy().resample(200)`.

[2020-10-06 13:40] #8347 closed

[2020-10-06 13:41] BarryLiu-97 commented on #8347
Thank u so much!

[2020-10-06 18:00] bloyl commented on #7977
vtk 8.1.2 I don't think is available for the python currently in the environment (3.8.3). I could try to roll things back but at the end of the day I'm not sure if its worth it.

I'm currently leaning towards a docker approach, to just skip these types of issues. although If i could find the magic config flags for mesa that would solve it I'd probably do that too :)

[2020-10-07 03:35] jasmainak commented on #8338
If you want to use 3 layer BEM you should look at the advice here:

https://mne.tools/stable/overview/faq.html?highlight=mri_watershed#my-watershed-bem-meshes-look-incorrect

and also verify that the BEM looks good by plotting it

[2020-10-07 08:43] ddbbqqpp opened #8349 "Why delete the edf_info['physical_min'] and edf_info['digital_min'] in mne-python/mne/io/edf/edf.py"
# physical dimension in µV
    edf_info['offsets'] = (
        edf_info['physical_min'] - edf_info['digital_min'] * edf_info['cal'])
    del edf_info['physical_min']
    del edf_info['digital_min']

[2020-10-07 09:12] ddbbqqpp commented on #8349
What's the use of variables edf_info['cal'] and edf_info['offsets'] in /mne/io/edf/edf.py

[2020-10-07 10:15] cbrnr commented on #8349
That's a good question, I actually don't know why `edf_info['physical_min']` and `edf_info['digital_min']` are deleted. In fact, their counterparts `edf_info['physical_max']` and `edf_info['digital_max']` remain in the dict.

Note that `_get_info` is a private function, and so is the attribute `raw._raw_extras`. This means that they are not meant for public use, so the simple answer to why these k

[2020-10-07 15:53] hoechenberger commented on #8257
Hello @ometett, did you manage to resolve your issue?

[2020-10-07 17:15] larsoner commented on #8349
https://github.com/mne-tools/mne-python/blob/master/mne/io/edf/edf.py#L249-L251
and
https://github.com/mne-tools/mne-python/blob/master/mne/io/edf/edf.py#L293-L295

It makes things like `print(edf_info.keys())` easier to parse when debugging and also tell us internally that we shouldn't need / don't use these values anymore (they have been converted to some other variables that we do use).

Indeed

[2020-10-07 17:33] #8258 closed

[2020-10-08 01:31] ometett commented on #8257
Hi @hoechenberger , yes I am positive that I solved my problem. I wrote my code and now I am testing on different data files to test it's accuracy. Thank you and all the MNE team for being supportive and helpful. I appreciate it!

[2020-10-08 01:32] #8257 closed

[2020-10-08 09:00] cbrnr commented on #8349
I was just wondering where these other variables are if someone needs to know the physical/digital minimum values - any idea? Maybe they can be recovered, but I couldn't figure it out quickly because all we have are values that depend on these minimums/maximums, e.g. `cal = (phys_max - phys_min) / (dig_max - dig_min)` and `offsets = phys_min - dig_min * cal`. I'm not saying that we need to keep `p

[2020-10-08 11:08] larsoner commented on #8349
I disagree -- this is private. My philosophy (and IIUC the design philosophy of MNE-Python in general) is that from the development side we should have no problem changing private attributes when it makes maintaining code better/easier for us, and we should provide public attributes for things when people need them and there is a good reason to have them (i.e., a compelling use case). And from the

[2020-10-08 12:07] cbrnr commented on #8349
Maybe I wasn't very clear, but that's what I meant. I wasn't challenging the private nature of "private" values. I wanted to point out that if people needed access to private values (i.e. if they provide a unique value), then we should consider making these values public.

[2020-10-08 12:52] larsoner opened #8353 "BUG: 1. and 1 treated differently in ICA"
From #8351.

My proposed solution is to disallow `1.`. We have `None` for "select all components", so we don't actually need `1.`.

[2020-10-08 12:53] larsoner commented on #8353
cc @hoechenberger @cbrnr

[2020-10-08 12:54] agramfort commented on #8353
+1 to disallow 1.

[2020-10-08 12:59] hoechenberger commented on #8353
+1 to disallow

[2020-10-08 13:01] hoechenberger commented on #8353
To be more precise, I think we should disallow 1 as int, and allow 1.0 as float.

If we decide to keep allowing 1 as int, 1.0 float should not be allowed.

[2020-10-08 13:21] larsoner commented on #8353
I don't think we should allow `1.` (float), I'm okay with `1` as an int -- maybe there is some use case for it

[2020-10-08 13:23] larsoner commented on #8353
Okay let's just disallow both. ICA is a no-op when you set `n_components=1` so it doesn't really make sense

[2020-10-08 13:24] agramfort commented on #8353
using 1 component does not make sense ! the mixing matrix is a float and
scale is not "estimable" in ICA so....

[2020-10-08 13:33] cbrnr commented on #8353
Yes, let's either disallow both or allow both (and then both 1 and 1.0 refer to all components because one component doesn't make sense).

[2020-10-08 13:37] hoechenberger commented on #8353
Uh please don't allow both then, for the sake of API consistency

[2020-10-08 13:49] cbrnr commented on #8353
I'm fine with disallowing both, but IMO `1 == 1.0` is consistent.

[2020-10-08 16:48] larsoner commented on #7977
@bloyl it looks like the real problem is that we aren't setting the paths properly -- the llvmpipe driver is elsewhere. Check this out:

[code]

And no compliants from PyVista, which does some VTK stuff that complains with the commands above:

<details>

[code]

</details>

@olafhauk you can try the [lines above](https://github.com/mne-tools/mne-python/issues/7977#issuecomment-673748055) (adapted;

[2020-10-08 16:49] larsoner commented on #7977
(I figured this out after trying a bunch of stuff that didn't work, then noticing in one of the links I hit in my searches https://docs.mesa3d.org/osmesa.html#building-osmesa it mentions that the Gallium-based driver is one directory deeper...)

[2020-10-08 16:58] larsoner commented on #7977
And actually it looks like the `MESA_GL_VERSION_OVERRIDE=3.3` is actually not necessary in the above commands -- I get a 3.3 either way.

[2020-10-08 17:00] larsoner commented on #7977
... scratch that, it does help the non-core profile case, which might matter (?).

[2020-10-09 03:38] ddbbqqpp commented on #8349
In fact, I need to show a more detailed information about of EDF signals, Like https://www.teuniz.net/edfbrowser/ **File Info**
But, I can't get more Header Infos about of EDF signals, Through public methods @cbrnr @larsoner
[code]
Output:
`dict_keys(['acq_pars', 'acq_stim', 'ctf_head_t', 'description', 'dev_ctf_t', 'dig', 'experimenter', 'utc_offset', 'device_info', 'file_id', 'highpass', 'hpi_su

[2020-10-09 06:46] agramfort commented on #8349
can you list information that you cannot recover from public API so maybe
we add it? basically EDF is not specific it is just one format we aim to
expose in a consistent way.

[2020-10-09 07:30] cbrnr commented on #8349
Adding to @agramfort's comment, if you need access to the header info you can already do that by using a private function:

[code]

If that is not enough, you could try [PyEDFlib](https://pyedflib.readthedocs.io/en/latest/):

[code]

BTW, EDFbrowser uses the same underlying lib.

[2020-10-09 09:08] ddbbqqpp commented on #8349
Can you remove these?
https://github.com/mne-tools/mne-python/blob/af671e78561d7eb9e05eb69170149142ae336855/mne/io/edf/edf.py#L488-L489

[2020-10-09 09:19] cbrnr commented on #8349
Fine with me - what about you @agramfort and @larsoner?

[2020-10-09 09:33] cbrnr commented on #8349
On the other hand, even if we do not delete these values they will still be in a private dict. Therefore, you could use the private function `_read_edf_header` I mentioned before to extract this information.

[2020-10-09 13:36] larsoner commented on #8349
I don't think we should, for the reasons listed above.

@cbrnr please any time you advise someone to use a private attribute or function append the reminder/warning that "do not expect this to work, it can change at anytime" or something similar, and make clear that it should only be a temporary solution to their problem. I know we mentioned it earlier in this thread and it may seem redundant, but

[2020-10-09 13:48] drammock commented on #8349
I don't object to that in principle, but I wonder why we should do the work to support a new public function, when as @cbrnr mentioned above there is an existing package (pyedflib) that provides the desired functionality. Why isn't that good enough?

[2020-10-09 13:49] cbrnr commented on #8349
@larsoner I've edited my comment and included a note about the private nature of the function (I assumed it was clear because we've mentioned it in this thread before).

@drammock exactly, that's why I made two suggestions that solve the issue.

[2020-10-10 06:55] agramfort commented on #8349
I think we offered solutions to the problem and that it does not require to
change mne code.

[2020-10-10 06:56] ddbbqqpp commented on #8349
I think the return value of the function should be consistent，At least in terms of version compatibility. When you upgrade, You find that some variables are missing. It's frustrating. Maybe I can't convince you to change the code.I just want to return some necessary information through a function, I don't understand why I should delete some values @larsoner @drammock
[code]

[2020-10-10 07:13] ddbbqqpp commented on #8349
At least in the last version they exist. I also used them. Suddenly it's gone in, Just upgrade to the latest version

[2020-10-10 08:11] cbrnr commented on #8349
Which function do you mean? What existed in 0.20 and doesn't exist in 0.21?

[2020-10-10 09:28] ddbbqqpp commented on #8349
This is the difference between the two versions. I mean, can the original dict be kept, not deleted, Although they are private

[code]

**Disparity:**
units (data type Changed)
digital_min, physical_min(Deleted)
cal, offsets(New)

**0.20.8**

<Info | 7 non-empty values
 bads: []
 ch_names: F3, F4, C3, C4, M1, M2, O1, O2, E1, E2, Chin 1, Chin 2, Chin 3, ...
 chs: 39 EEG
 custom_ref_applied: False

[2020-10-10 09:37] ddbbqqpp commented on #8349
only need to read the EDF once to get the information I want，It takes two times now. The intermediate variable I want to get was deleted

[2020-10-10 09:41] cbrnr commented on #8349
Got it, I wasn't aware that this changed in 0.21 - apparently @larsoner deleted them in #8210. I still don't see a reason why we can't keep these values around if they are clearly useful, but I'll leave this up to @larsoner to decide.

[2020-10-10 13:51] larsoner commented on #8349
I apologize for the frustration -- we try hard to ensure our software to be stable release to release. Based on these responses I think an important point is still being missed, though. Perhaps we should be clearer about this in the documentation somewhere with a statement like: "If you use private attributes, you should expect your code to break from version to version without any warning. If you

[2020-10-12 12:48] cbrnr opened #8355 "Remove n_pca_components from ICA.__init__"
Following up the changes in #8351, I noted that because `n_pca_components` is only used in `ICA.apply` it should be removed from `ICA.__init__`. This would make ICA usage a lot easier and clearer, because right now one of the questions I frequently need to answer is about the two parameters `n_components` and `n_pca_components`. I'd prefer to have only `n_components` in `ICA.__init__` and `n_pca_c

[2020-10-12 12:58] hoechenberger commented on #8355
x-ref https://github.com/mne-tools/mne-python/issues/8337#issuecomment-703244103

[2020-10-12 13:00] hoechenberger commented on #8355
I don't feel strongly here, but if you believe my removing the param from `__init__()` we can make MNE easier to use, I'm +1 for it!

[2020-10-12 13:45] #8327 closed

[2020-10-12 13:45] #8337 closed

[2020-10-12 13:45] #8342 closed

[2020-10-12 13:45] #7727 closed

[2020-10-12 13:45] #8353 closed

[2020-10-12 13:50] larsoner commented on #8355
@cbrnr did you look at the updated docs for these parameters in the PR?

https://22659-1301584-gh.circle-artifacts.com/0/dev/generated/mne.preprocessing.ICA.html#mne.preprocessing.ICA

I tried to make it clearer that `n_pca_components` in `__init__` is really now just a *default* PCA reconstruction value. See the link @hoechenberger posted above for some rationale, but the TL;DR is that keeping it

[2020-10-12 14:08] cbrnr commented on #8355
Yes, I saw that, and it's definitely clearer than before. However, many users don't read the whole docstring (even though they should, but that's my point), so not having this parameter would benefit usability. And BTW, having this parameter in `__init__` to provide a default is also not a good argument, because we already have that default directly in `apply`.

[2020-10-12 14:15] larsoner commented on #8355
It sounds like you're talking about the default value of the `n_pca_components` being the same (`None`) in `__init__` and `apply`? That's not quite the idea. The point is if the user wants to change it from this `None` default to some other default for their apply operations for their instance. For example if you have 10 channels and do:
[code]
Then when you do `ica.apply(raw)` (even with a save-l

[2020-10-12 14:16] hoechenberger commented on #8355
After having a coffee, I'm now +1.5 for dropping the argument from init! Unless **I** would have to do it haha

[2020-10-12 14:31] cbrnr commented on #8355
@larsoner I get the idea, but I don't see why providing this in `__init__` is useful. It seems that if they want e.g. `n_pca_components=8` in all subsequent `apply` calls all this does is save a few characters, because they can use `.apply()` instead of `.apply(n_pca_components=8)`, right? Usually, I'd apply this only once, but even if I wanted to play around with some values I think that a cleare

[2020-10-12 14:41] hoechenberger commented on #8355
@cbrnr never mind, I deleted this comment again, as it was posted under the influence of transient caffeine intoxication 😅💩

[2020-10-12 15:28] #8339 closed

[2020-10-13 07:43] SophieHerbst opened #8360 "ValueError: metadata must have the same number of rows as events"
I am  trying to create epochs with metadata from raw, but run into an error with a piece of code that worked fine about 2 months ago (some previous version, likely 0.20.dev).
I updated to the latest master.

I want to use a subset of events of interest, while my raw data contains more events.
Creating epochs without metadata works fine.

(I tried to comment out the size check in _check_metadata, b

[2020-10-13 08:01] cbrnr commented on #8360
#7733 broke it - @larsoner?

[2020-10-13 11:23] larsoner commented on #8360
I think we need to decide if we want to require metadata to have the same length as the original events array, or the events array that gets created by trimming to just what's in `event_id`. I think it makes the most sense to have it be the same length as events, especially when considering for example `event_repeated` behavior (and that way things don't depend on `event_id` -- you can change it w

[2020-10-13 11:24] larsoner commented on #8360
Indeed our docs say:

[2020-10-13 11:25] larsoner commented on #8360
(In other words, it was a bug that this worked in previous versions, and the error here is correct)

[2020-10-13 11:31] cbrnr commented on #8360
👍  - should we add a test?

[2020-10-13 11:38] larsoner commented on #8360
Looks like it's already covered:

https://github.com/mne-tools/mne-python/blob/master/mne/tests/test_epochs.py#L2695-L2707

[2020-10-13 11:41] SophieHerbst commented on #8360
Hm, I understand your point, but it seems logical to me that one would want to use a selection of events to epoch, not all.
I couldn't even predict how many events my raw has, because for instance button presses are in there and those depend on the subject.
So if the metadata has to match the length of selected events, this would require to create metadata for events for which it is not needed. Es

[2020-10-13 11:43] larsoner commented on #8360
I am afraid that this would increase the difficulty of working with metadata.

I would suggest you trim your `events` to the ones you plan on using. This could just be a quick mask line like:
[code]

[2020-10-13 11:49] SophieHerbst commented on #8360
Ok, great!
Would the recommendation now be to add metadata to epochs after creating them, [as described here](https://mne.tools/stable/auto_tutorials/epochs/plot_30_epochs_metadata.html#sphx-glr-auto-tutorials-epochs-plot-30-epochs-metadata-py)?
Otherwise, I think it would be good to have a tutorial which explains how to go from raw to epochs with metadata.

[2020-10-13 11:53] larsoner commented on #8360
I think you can do it either way. In your case adding it afterward would make it so you don't need to restrict/mask your `events`

[2020-10-13 11:54] SophieHerbst commented on #8360
Adding metadata later seems dangerous though when a rejection threshold is used in creating epochs.

[2020-10-13 11:56] larsoner commented on #8360
Yes but you can do rejection afterward instead if you want:
[code]

[2020-10-13 12:01] SophieHerbst commented on #8360
Yes, thanks! My point is more that metadata is a super useful feature, which we use more and more, but it is quite difficult to implement for people less proficient with python.
Hence, one nice complete tutorial where the above points are made explicit would be great.

[2020-10-13 12:04] larsoner commented on #8360
Maybe a good one for @drammock at some point?

[2020-10-13 12:55] larsoner opened #8363 "BUG: save_movie doesn't block inputs"
When creating a bunch of movies in a script, windows pop up. If they get focus (e.g., on Linux where focus stealing isn't always handled properly) then doing something like hitting "f" will cause the "fly" (I assume?) callback to occur and the brain goes away, ruining the movie. It would be nice if we could block / skip / ignore both mouse and keyboard inputs to the window during the `save_movie`

[2020-10-13 13:03] GuillaumeFavelier commented on #8363
Would it work if you set `pyvista.OFF_SCREEN = True` to avoid having the windows opening in the first place?

[2020-10-13 13:04] larsoner commented on #8363
I doubt this would work with `time_viewer=True` / traces

[2020-10-13 15:23] adam2392 opened #8364 "Adding Source Visualization for SEEG data Using stc_near_sensors"
## Describe the problem
In https://github.com/mne-tools/mne-python/pull/8190, @larsoner suggests that we can add 3D translucent brain visualization of a time series for depth electrode data (i.e. SEEG).

#### Describe your solution
"if we improve stc_near_sensors to allow returning a VolSourceEstimate object then nothing new needs to be done at the viz end. In other words, we "just" need to come u

[2020-10-13 18:24] hoechenberger commented on #8360
I think that's super easy to get wrong tbh… my muscle memory is already hard-coded to `Epochs(..., reject=...)`

just my 2 ct

[2020-10-14 06:23] agramfort commented on #8360
yes events and metadata must have the same length. If it’s not the case limit the events in the first place before passing them to epochs

[2020-10-14 11:15] GuillaumeFavelier commented on #8363
Alternatively, I was thinking about a dedicated offline thread with disabled interaction. In theory, this could build the movie in the background without blocking interactions on the main thread.

[2020-10-14 11:22] larsoner commented on #8363
That sounds a lot more complicated code-wise (threads always are). I'm also not sure it will work because the rendering thread will for example need the camera in one fixed position and the user could be moving it, so somehow there have to be two states. I'm not sure it would really even end up being usable since the rendering thread will not release the GIL very often and could be CPU intensive.

[2020-10-14 11:25] GuillaumeFavelier commented on #8363
AFAIK those are bound to vtk KeyPressEvent

[2020-10-14 13:28] #8355 closed

[2020-10-15 07:44] BarryLiu-97 opened #8369 "Issues on events of EEG data"
My EEG Data's marker directly got from the machine is wrong, which we knew already, while we have some marker channels, aka the stimulus electrodes, to calculate the markers. Here are my  two questions:
1. How do I not import the default events got from the machine in this data, for example, in **eeglab**, we can set _importevent_ as off so we won't import the events. Then we add the events manual

[2020-10-15 07:51] BarryLiu-97 commented on #8369
About the events calculated manually, I got the event latency and the value of the event.

[2020-10-15 07:54] agramfort commented on #8369
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-10-15 07:54] #8369 closed

[2020-10-15 08:35] jona-sassenhagen opened #8370 ""Sorted by RT" erpimage in examples clearly isn't sorted by RT"
<img width="1010" alt="Screenshot 2020-10-15 at 10 34 04" src="https://user-images.githubusercontent.com/4321826/96098149-14cf8f00-0ed2-11eb-96e0-85a1db0f9d99.png">

This has been broken since 0.18: https://mne.tools/0.18/auto_examples/visualization/plot_roi_erpimage_by_rt.html#sphx-glr-auto-examples-visualization-plot-roi-erpimage-by-rt-py

[2020-10-15 12:14] larsoner commented on #8370
@drammock do you want to take a look?

[2020-10-15 12:18] drammock commented on #8370
I'll take a look today

[2020-10-15 13:24] larsoner opened #8375 "BUG: CircleCI crashes on full build"
I guess our source space morphing example uses too much memory (?) because for example:

https://app.circleci.com/pipelines/github/mne-tools/mne-python/4060/workflows/c908299a-3a9e-4e92-9f6b-e09f9ce33fc4/jobs/22741

It doesn't look too bad here:

https://mne.tools/dev/auto_examples/forward/sg_execution_times.html

So it's also possible it's whatever example immediately follows that one.

[2020-10-15 14:46] adam2392 opened #8376 "ENH: Preserve annotations in epochs"
#### Describe the new feature or enhancement
Is there a way to map annotations from the raw dataset onto the AverageTFR object? Since the tfr is occurring over windows, then the time scale of the annotations from the original time scale are inherently different.

E.g. if I have an event at sample 10000, with sfreq=1000, then it occurs at 10 seconds into the raw dataset. If i have an averageTFR tha

[2020-10-15 19:36] #8370 closed

[2020-10-15 20:34] adam2392 opened #8378 "Setting standard montage with match_case=False failes"
#### Describe the bug
When I have a dataset loaded in where all the channel names are in upper-cased, I want to set a standard montage, but I just realized that the casing matters by default. So I tried turning off `match_case`, but then I realized it doesn't work on the standard montages because it does not reach that part of the code in `set_montage`.

Then the corresponding channels that don't

[2020-10-16 06:28] cbrnr commented on #8378
I cannot reproduce. The following example works for me:

[code]

[2020-10-16 18:41] #7787 closed

[2020-10-16 19:05] mehdikuchi opened #8380 "TFR analysis with more flexibility"
#### Addition of the tapering windows for TFR analysis

*The library only contains Morelet wavelet and it does not include other wavelets. There is no way to use other tapering windows but the DPSS and Gaussian windows. Nevertheless, users can define their own wavelet series and apply them to their signals using the cwt function; this however, may degrade the integrity of the library.*

#### Imple

[2020-10-17 20:16] adam2392 commented on #8364
Sorry do you mind elaborating a little bit on what you mean here?

How should I best tackle making this PR in your opinion? It seems that I want to perhaps first document and code-trace what's going on in `source_estimate.py::stc_near_sensors()` and then separate code into `if/else` blocks based on whether it's surface (i.e. pial) or volumetric (i.e. 3 MRI slices) visualization?

[2020-10-18 07:35] agramfort commented on #8380
@mehdikuchi you want to contribute something new? if so please do but start with small things. Maybe just add a new wavelet function?

[2020-10-18 18:24] adam2392 commented on #8378
Hmm okay I tried reinstalling mne and it seems to work now. I might have had a corrupted file somewhere... Closing now.

[2020-10-18 18:24] #8378 closed

[2020-10-19 08:25] wmvanvliet opened #8382 "interactive sensor-level field patterns browser"
Our interactive source estimate viewer is so awesome, it makes me wish for an equally awesome sensor level viewer. For this, the venerable proprietary "Xfit" program that ships with the MegIn scanner may serve as inspiration.

With MEG, the raw sensor timecourses are quite difficult to interpret: gradiometers and magnetometers measure the field in different directions. The choice made by Xfit to m

[2020-10-19 08:55] agramfort commented on #8382
maybe a challenge for @GuillaumeFavelier ?

really cool video. It helps a lot to demo.

[2020-10-19 09:41] ociepkam opened #8383 "Problem with load eeglab file"
Hi everyone!
I have problem with loading data. I have eeglab files (example: https://ufile.io/f/js83q) and after using mne.io.read_raw_eeglab
I get:
Reading rest1_1_trigg.fdt
[code]
I am using version 0.20.8 of mne and Python 3.8.5.
Can you help me with this problem?

[2020-10-19 10:06] GuillaumeFavelier commented on #8382
It looks cool! :+1:

When I have the cycles this week, I will prototype something but I might need help to guide me though :sweat_smile:

[2020-10-19 10:41] mmagnuski commented on #8383
Hi @ociepkam
I can confirm the problem, I'll take a look at it.

[2020-10-19 10:42] mmagnuski commented on #8383
For some reason my traceback renders better on github (highlighting), so I paste it here:

[code]

[2020-10-19 10:56] mmagnuski commented on #8383
@ociepkam It seems some of the durations are empty and other are `NaN` in your case. I's easy to fix but I'm not sure this is typical for eeglab files - were the files preprocessed outside of EEGLAB? What EEGLAB version did you use?

[2020-10-19 11:23] ociepkam commented on #8383
@mmagnuski
No, files weren't preprocessed outside EEGLAB
EEGLAB version 14.1.1

[2020-10-19 11:36] mmagnuski commented on #8383
@ociepkam Ok, good, then see if the fix I pushed (see the PR linked above) works for you. For me it fixes the problem.

[2020-10-19 14:39] larsoner commented on #8364
We need to get sensor data into the brain, i.e., into source space. One way to do this is on the surface (already implemented), and in this case it's fine just to interpolate directly onto the high-density FreeSurfer mesh (100k+ vertices per hemisphere) because `stc.vertices` *always refer to numbers in this high density mesh*.

For volumes it's different. `vertices` do not refer to numbers in the

[2020-10-19 14:52] tharikjose opened #8385 "Error during read of Nihon file"
#### Describe the bug
I am facing an error during the reading phase of a Nihon EEG file. The problem is during the reading of the .21E file. The EEG is not corrupted since it can be opened in the Nihon program.

#### Steps to reproduce
import mne

raw = mne.io.read_raw_nihon('Nihon/Nihon_Salvo_em_Tres_Montagens/DA7521RO.EEG')

[MWE]: https://en.wikipedia.org/wiki/Minimal_Working_Example
[built-in

[2020-10-19 14:52] colinquirk opened #8386 "mne.Epochs documentation around baseline is unclear"
It looks like there is no baseline by default as baseline defaults to None, but there is a note that says "Defaults to (None, 0), i.e. beginning of the the data until time point zero."

[2020-10-19 14:55] larsoner commented on #8382
Some aspects of this are a special / enhanced case of "showing sensor data with the brain" -- we discussed this before at some point but I can't remember where. Along those lines I would propose (probably in PR-by-PR order):

1. A `brain.add_sensor_data`, where MEG sensors and EEG sensors are shown as in `plot_alignment`, but get colors according to their activity level. This is basically "just" p

[2020-10-19 15:02] agramfort commented on #8386
PR welcome to fix the docstring

thanks

[2020-10-19 15:04] colinquirk commented on #8386
If that comment should just be removed, will do

[2020-10-19 15:06] zhchsh19 opened #8387 "A question about "-trans.fif""
Sorry to bother all of you , but I have a big question.

![2020-10-19 22-46-03屏幕截图](https://user-images.githubusercontent.com/51749581/96467550-9bcb9100-125d-11eb-874e-840414d0aa37.png)

but I can't find the file in 'bem' file. and I also get this error:
![2020-10-19 22-54-56屏幕截图](https://user-images.githubusercontent.com/51749581/96467990-244a3180-125e-11eb-8546-ba55bacf294d.png)

This is my code

[2020-10-19 15:08] zhchsh19 commented on #8387
[s20180417_T09_LongZYL_ZHN_DaiWei-0002-00001-000144-01.nii.gz](https://github.com/mne-tools/mne-python/files/5402840/s20180417_T09_LongZYL_ZHN_DaiWei-0002-00001-000144-01.nii.gz)

This is my data

[2020-10-19 15:12] larsoner commented on #8387
You should not put `fsaverage` in `/home/zhanglingxi/freesurfer2/subjects/sub/fsaverage` -- if your `subjects_dir` is `/home/zhanglingxi/freesurfer2/subjects`, you should put it in `/home/zhanglingxi/freesurfer2/subjects/fsaverage`. `fsaverage` is a subject, it should be directly in your SUBJECTS_DIR, not in a subdirectory.

The error message recommends running `mne make_scalp_surfaces` for your s

[2020-10-19 15:15] drammock commented on #8386
This is incorrect. `baseline` defaults to `(None, 0)`, the documentation is correct. see here, the line in current master:

https://github.com/mne-tools/mne-python/blob/864426c4839bab05fd0d142ee20938c336c0b78e/mne/epochs.py#L2055

[2020-10-19 15:15] #8386 closed

[2020-10-19 15:17] larsoner commented on #8376
I actually don't think we need this. Annotations [store data in seconds](https://mne.tools/stable/generated/mne.Annotations.html) not samples -- so they have no notion of (or need for) a `sfreq` (even if `sfreq` and sample numbers are used in the `Raw` instance to create the times in seconds). So I think all we really need to do is ...

... make EpochsTFR (and the functions that create them) respe

[2020-10-19 15:20] zhchsh19 commented on #8387
yes, I have done it, and I also have SUBJECTS_DIR/SUBJECT/surf/lh.seghead and SUBJECTS_DIR/SUBJECT/bem/SUBJECT-head.fif ,but there is still the same question

[2020-10-19 15:23] larsoner commented on #8387
The coreg error image says it's trying to use `/home/zhanglingxi/freesurfer2/subjects/subdw` as the SUBJECTS_DIR, which is incorrect -- it should be `/home/zhanglingxi/freesurfer2/subjects/`. Can you try `mne coreg -d /home/zhanglingxi/freesurfer2/subjects`, or set `export SUBJECTS_DIR=/home/zhanglingxi/freesurfer2/subjects` and then run `mne coreg` and see if it works? Do you get the same error m

[2020-10-19 15:27] zhchsh19 commented on #8387
It works, I didn't set the path before, thanks very much

[2020-10-19 15:29] #8387 closed

[2020-10-19 15:41] colinquirk commented on #8386
My mistake, the parens are dropped in the signature so it looked like baseline=None to me

[2020-10-19 15:45] drammock commented on #8386
ah, OK.  That is good to know. Probably a bug in Sphinx (the software that renders our docs to HTML).

[2020-10-19 15:52] larsoner commented on #8386
Yep it's #8247, currently blocked from being fixed actually by #8375

[2020-10-19 15:55] larsoner commented on #8382
cc @adam2392 the above three points at least are relevant for sEEG + ECoG as well

[2020-10-19 16:16] wmvanvliet commented on #8382
Dipole fitting certainly is a tricky use case (and the main reason Xfit exists) that could certainly use a dedicated GUI.

I don't see how coloring sensors to their value is very useful. Sure it is "easy" to implement, but if it's not super useful it's not worth doing. The field maps are the really useful thing. Interesting idea to add this to the `Brain` object.

[2020-10-19 16:24] larsoner commented on #8382
It's been our ECoG example for quite some time

[2020-10-19 19:16] timonmerk opened #8388 "Plotting MNI transformed ECoG"
For decoding analysis across patients it becomes relevant to mainly work with MNI transformed coordinates. Using this tutorial https://mne.tools/stable/auto_tutorials/misc/plot_ecog.html, instead of the native FreeSurfer file the 'fsaverage' MNI brain can thus be used:

[code]

I installed MNE according to https://mne.tools/dev/install/mne_python.html, and using the `fsaverage` and run through the

[2020-10-19 19:47] larsoner commented on #8388
@GuillaumeFavelier can you look into the bug here?

A separate issue is how we should make it clear how to use MNI-coordinate sEEG/ECoG data. @adam2392 do you think it would make sense to take the tutorial idea I proposed in #8364 and make the dataset we use have electrode coordinates in MNI space? It might allow us to show how to use MNI-coordinate data and sEEG data in the same tutorial.

[2020-10-19 21:01] agramfort commented on #8385
@fraimondo can you have a look?

[2020-10-20 03:35] todflak opened #8391 "read_raw_curry() with preload=True produces error"
#### Describe the bug
**read_raw_curry()** with **preload=True**  produces error (for some DAT files)

I am working with Curry version 7 data files, using **read_raw_curry()** to load data.  Out of 16 datasets that I am processing, 7 of them produce an error similar to this:

I also determined that the error **_only_** occurs using the method option  **preload=True**.  If I use **preload=False**,

[2020-10-20 03:47] todflak commented on #8391
Just a followup -- no surprise that the following code also produces the same error:
[code]

The **raw.load_data()**  line throws the same error as described above:
`RuntimeError: Incorrect number of samples (5302650 != 5379500), please report this error to MNE-Python developers
`

[2020-10-20 07:04] fraimondo commented on #8385
Hello, I checked the attached files.

The problem is not only with the 21E file which has 1096 channels defined (which I fixed easily).

This is a newer EEG system: EEG-1200A V01.00

Can you please provide an EDF file of the same recording exported with the Nihon Kohden software? I wan't to do some tests before pushing the fixes.

[2020-10-20 07:31] agramfort commented on #8391
can you look into it yourself? otherwise we'll see who can help

[2020-10-20 08:19] GuillaumeFavelier commented on #8388
It seems that `_set_3d_view()` is not exposed in the `notebook` 3d backend so I opened https://github.com/mne-tools/mne-python/pull/8392

However, even using the standard `pyvista` backend, I got the following which I believe is a regression:

[code]

![image](https://user-images.githubusercontent.com/18143289/96559367-3effc300-12bd-11eb-8198-e476cb592524.png)

[2020-10-20 08:36] GuillaumeFavelier commented on #8388
I tracked it to https://github.com/mne-tools/mne-python/pull/8190, let me know if you can reproduce @larsoner

[2020-10-20 12:39] todflak commented on #8391
Ah, you mean look into the code to find the problem _myself_... I hadn't considered doing that! ;-)
Sure, I will give it a shot!  I'm not an expert in Python dev, but I will have a go at it.

[2020-10-20 12:49] agramfort commented on #8391
yes ! let us know if you need help

[2020-10-20 13:39] larsoner commented on #8388
#8190 just exposed a bug from #7747, see fix in #8393

[2020-10-20 14:21] adam2392 commented on #8388
I've been a bit mIa but I will try to start the series of PRs sometime. Just a disclaimer I'm not too familiar with using freesurfer brains yet so might need help along the way. Will begin with say a tutorial on "loading in SEEG data" that more or less looks EXACTLY like the ecog example.

[2020-10-20 16:21] tharikjose commented on #8385
I have the EDF file of another reading in which the same problem occurs.
[DA7521RN.zip](https://github.com/mne-tools/mne-python/files/5410076/DA7521RN.zip)

[2020-10-20 16:44] #8363 closed

[2020-10-20 19:18] larsoner commented on #8241
@GuillaumeFavelier interestingly enough this does not seem to happen on https://github.com/mne-tools/mne-python/blob/master/examples/visualization/plot_meg_sensors.py#L40-L47, but it does in https://github.com/mne-tools/mne-python/blob/master/examples/visualization/montage.py#L46-L60. Maybe this can help us narrow down where the problem is.

On/after #8379 and https://github.com/sphinx-gallery/sph

[2020-10-21 00:52] todflak commented on #8391
Well, I've tracked down the problem, and fixed the code locally.  I will be making a pull request soon.

The difference between my datasets that loaded properly and those that failed relates to whether they denoted a reference channel or not.   For my example files, in all cases, there were 70 sensors in the acquisition:  66 EEG electrodes, 1 reference electrode, 3 "other" channels (VEO, EKG, Trig

[2020-10-21 08:31] fraimondo commented on #8385
Just to be sure. In the ZIP file you sent there is a `DA7521NN.edf` and a `DA7521RN.EEG` file. Are you sure it's the right EDF? (I noticed the NN vs RN at the end).

If this is the case, then I don't have good news:

[code]

Even with allowing the reader to process `EEG-1200A V01.00` files, the data is not correctly loaded. Without documentation or code that properly reads this kind of files, it w

[2020-10-21 08:48] hoechenberger opened #8394 "backend parameter of viz._3d.plot_source_estimates needs some love"
#### Describe the bug
Passing `backend='pyvista'` to `plot_source_estimates()` currently is not supported, although we **do** support PyVista:
https://github.com/mne-tools/mne-python/blob/6f16c3771d79dda19b5ff0a058396f468a3e57f6/mne/viz/_3d.py#L1750

Also, the `backend` parameter is not used for anything except for checking whether we should use Matplotlib or not; if `backend != 'matplotlib'`, we

[2020-10-21 08:51] GuillaumeFavelier commented on #8394
Good catch @hoechenberger !

+1 for checking if any 3d backend is available and use `matplotlib` as fallback.

We already have `set_3d_backend()` and `use_3d_backend()` to set `mayavi` as backend so in my opinion this is redundant.

[2020-10-21 08:53] GuillaumeFavelier commented on #8394
What do you think @agramfort, @larsoner ?

[2020-10-21 09:02] agramfort commented on #8394
agreed !

[2020-10-21 09:18] agramfort commented on #8391
great you find your way. Please open a PR and we'll discuss there.

We'll see then how to add tests etc.

On Wed, Oct 21, 2020 at 2:52 AM todflak <notifications@github.com> wrote:

[2020-10-21 09:20] hoechenberger commented on #8394
Ok so:

- we deprecate the `backend` param
- use Matplotlib only if we cannot retrieve a valid 3D backend

Is that what we want? Are there maybe use cases where one does have a working 3D backend but might want to use MPL anyway? (for love of pixelated graphics or some other fetish :))

[2020-10-21 11:02] larsoner commented on #8394
+100 to get rid of the matplotlib backend altogether and tell people to use [nilearn's surface plotting](https://nilearn.github.io/plotting/index.html#surface-plotting) and show how to do it in `plot_visualize_stc` if they want to use matplotlib

[2020-10-21 11:45] agramfort commented on #8394
not too fast.

what I have seen in the past is:

- students with a broken mayavi (core dump on import). Passing matplotlib
as explicit backend fixed it. Otherwise mne would crash.
- when I teach intro to mne for young grad students I tell them install
numpy, scipy and matplotlib. It's all they need to get started and do
things. I cannot tell them to install a conda env at the beginning of my
class

[2020-10-21 11:48] hoechenberger commented on #8394
Yes I would also like us to be careful about removing MPL support. It's a great fallback to have when we're using the MNE Study Template on a remote server without X11.

[2020-10-21 11:56] agramfort commented on #8394
indeed we use it in the study template. So let's not break this.

[2020-10-21 12:04] larsoner commented on #8394
If we're going to keep it, we should probably make sure it actually works, and add it to some examples like we do for the rest of our code. I would be surprised if all combinations of transparent, lims, pos_lims, surface, etc. work correctly for the matplotlib backend like they do for the 3D one(s). In other words, I'm worried that the matplotlib version "works" in the sense that it gives an outpu

[2020-10-21 12:06] larsoner commented on #8394
...and I think moving to nilearn hopefully would put some of the "make sure it works" burden onto the nilearn folks rather than us -- hence the motivation for at least using their stuff under the hood. But if adding `nilearn` as a dependency to get plotting is too much (it's not just NumPy/SciPy/matplotlib) then we should probably take on the maintenance burden.

[2020-10-21 12:07] hoechenberger commented on #8394
Let's put it another way:
I really don't care WHAT the backend is, as long as I can use it to create a basic STC plot even if I'm not on a machine with 3D support. If we can find a solution for that, I'm good!

[2020-10-21 13:05] larsoner commented on #8241
Never mind, it does happen on `plot_meg_sensors.py`...

[2020-10-21 14:46] todflak opened #8398 "read_raw_curry() does not populate info['meas_date']"
#### Describe the new feature or enhancement
When loading Curry data files using **read_raw_curry()** , the raw.info[] property 'meas_date' is not set.  This information is available in the Curry "info" file (the .DAP file for Curry 7 format datasets).

#### Describe your proposed implementation
Add code into the **_read_curry_info** method in  mne\io\curry\curry.py

#### Additional comments
I int

[2020-10-21 16:54] agramfort commented on #8394
nilearn is easy to install so it's a possibility I can endorse but I need
to make sure it works smoothly, typically in google collab

I hear that options may be ignored with matplotlib but with default
parameters it works

[2020-10-21 17:36] hoechenberger commented on #8394
@larsoner

We should not only provide an example but it should be as convenient to use as the current MPL backend, IMHO, even if only a small set of the functionality we offer for 3D backends is supported.

But to move forward for now, we should merge #8395, as it fixes two bugs :)

[2020-10-21 22:51] drammock opened #8401 "API: _Brain methods inconsistent between backends"
#### Describe the bug
3D viz with pyvista has a `set_time_point` method but not a `set_time` method.  The opposite is true for 3D viz with mayavi backend.

#### Steps to reproduce
[code]

#### Expected results
the figure would update to show activity at time = 0.5 seconds

#### Actual results
`AttributeError: 'Brain' object has no attribute 'set_time'` (with pyvista)
`AttributeError: 'Brain' objec

[2020-10-21 22:53] GuillaumeFavelier commented on #8401
Did you try `set_time_point()`?

[2020-10-22 01:34] adam2392 commented on #8364
Okay am going to try to make a PR here related to a `plot_seeg.py` tutorial, where it will involve also my attempt at what you stated above.

Now that I'm re-reading your comment here: https://github.com/mne-tools/mne-python/issues/8388#issuecomment-712402587

I actually don't know what the difference between mni, mri, and fs coordinate_frames in the context of mne python really means. What are th

[2020-10-22 06:45] #8394 closed

[2020-10-22 11:37] GuillaumeFavelier opened #8403 "Use brain_gc in remaining tests"
The new `brain_gc` fixture should be added in `test_plot_source_estimates`, `test_plot_sparse_source_estimates` and `test_notebook`.

Related to https://github.com/mne-tools/mne-python/pull/8379#issuecomment-714429361

[2020-10-22 12:11] larsoner commented on #8364
The only one you should need to deal with in this context is the MRI coordinate frame. I'll comment in your PR as needed...

[2020-10-22 13:46] drammock commented on #8401
nope. I was re-running an old script that had worked on 0.20.x (when mayavi was default) and failed on 0.21 (when pyvista is default)...  Testing now on master, I'm seeing that if the backend is set to mayavi, then only `set_time` works, and if set to pyvista, only `set_time_point` works.  The API should be backend-agnostic.

[2020-10-22 13:48] larsoner commented on #8401
Agreed we should have `set_time`, I've had the same issue. @drammock can you open a PR to add it to `Brain`, then modify some test to use `set_time` instead of `set_time_point`?

[2020-10-22 13:50] drammock commented on #8401
sure, I'll tackle that later today or tomorrow morning.

[2020-10-22 14:59] #8375 closed

[2020-10-22 19:56] Vincent-Stragier opened #8407 "'Time' text is not in the view when saving a topomap plot animation - (using animate_topomap)"
#### Describe the bug
I was trying to save a topomap as described in the [tutorial](https://mne.tools/stable/auto_examples/visualization/plot_evoked_topomap.html#animating-the-topomap). Apparently the title (where the time is displayed) is set via the `ax.text` method ([here](https://github.com/mne-tools/mne-python/blob/4eb2997d932453a4aea4278bef1cd878aa47f085/mne/viz/topomap.py#L2185)). I tend to

[2020-10-23 14:50] #8391 closed

[2020-10-23 14:50] #8398 closed

[2020-10-23 17:57] larsoner commented on #8407
PR(s) welcome to add and improve this function. Hopefully someone hits a use case that motivates fixing the issues soon

[2020-10-24 08:32] #8401 closed

[2020-10-25 18:39] hoechenberger opened #8421 "No Annotations descriptions displayed in introductory tutorial figure"
The Annotations in the `plot_20_events_from_raw` tutorial don't have a description (or vertical line) in the raw plot in[ `master`](https://mne.tools/dev/auto_tutorials/intro/plot_20_events_from_raw.html#converting-between-events-arrays-and-annotations-objects), but displayed correctly in [0.21](https://mne.tools/dev/auto_tutorials/intro/plot_20_events_from_raw.html#converting-between-events-array

[2020-10-25 22:33] mmagnuski opened #8423 "plot_sensors(kind='select') does not fill the list with selected channel names"
For some reason interactive channel selection in `plot_sensors(kind='select')` does not update the returned list of selected channels.

### Reproducible example
Confirmed this on latest master:
[code]
now in interactive mode perform:
[code]
select a few channels and see what happens to `sel` list - its empty.

[2020-10-25 22:42] mmagnuski opened #8424 "raw.plot(show=False) not respected in notebooks with `%matplotlib inline`"
I'm pretty sure some time ago plotting in a notebook with inline matplotlib turned on gave two figures only with `show=False`.
For example: `raw.plot()` would give you two identical figures, but `raw.plot(show=False)` would give just one.
Currently both `show=True` and `show=False` lead to two figures in the notebook. Its not a problem given that it can be suppressed with `;` but still may be wort

[2020-10-25 23:01] mmagnuski opened #8425 "Default topomap interpolation a bit uglier than some time before"
I noticed that current topomap interpolation with `extrapolate='head'` produces more artifacts at the edges than in the previous version. Take a look at this:
### before
![image](https://user-images.githubusercontent.com/8452354/97121321-b7cba880-171d-11eb-9030-45863668659e.png)

### now
![image](https://user-images.githubusercontent.com/8452354/97121378-0711d900-171e-11eb-9e1c-d88ed2d6b53c.png)

[2020-10-26 11:15] larsoner commented on #8424
Probably for @drammock in the refactor?

[2020-10-26 14:16] adam2392 opened #8428 "Plotting Volumetric (SEEG) activity without BEM files"
#### Describe the new feature or enhancement
It would be nice to plot volumetric data without using BEM and just the T1.mgz, or the atlas annotations from FreeSurfer.

According to #8402: "You only need a BEM if you want to do some forward modeling."

@larsoner suggested the following:

"""
What you really probably want is to constrain your volumetric sources to be within the brain volume. One way

[2020-10-26 14:22] #8364 closed

[2020-10-26 14:22] #8388 closed

[2020-10-26 15:37] larsoner commented on #8428
If you use `single_volume=False` it keeps the source spaces separate for each `aseg.mgz` sub-volume, but uses a lot more memory doing so. For your use case you should just use `single_volume=True`.

[2020-10-26 16:29] drammock commented on #8423
What you describe is true in 0.20.8 and 0.21 as well as current master.  This works as expected:

[code]

In light of that, what do you propose we should change?  Some ideas:

1. automatically set `block=True` when `kind == 'selection'`
2. better documentation that `sel` will always be an empty list when `block=False`
3. something else?

[2020-10-26 16:51] drammock commented on #8424
I can confirm that in jupyter lab, ending a cell with `raw.plot()` yields 2 figs, `raw.plot(show=False)` also (incorrectly) yields 2 figs, and `fig = raw.plot()` or `raw.plot();` each yield 1 fig.  In my testing today, all this is also true of versions 0.20.8 and 0.21.0

In a regular ipython console, `raw.plot(show=False)` seems to be working correctly on current master (figure is not shown; subse

[2020-10-26 17:27] mmagnuski commented on #8423
Maybe this is specific to the notebook too - I never had to do `block=True` with `kind='select'` previously (in the notebook). I can take a look later today to check which version it worked in, but I think for 0.21 is works ok in the notebook.

[2020-10-26 18:17] arthurlgk opened #8432 "How to apply ica on brainvision raw data"
I am getting this error when trying to fit the data:

ValueError: picks (NoneNone, treated as "data") yielded no channels, consider passing picks explicitly

How to resolve this issue?

[2020-10-26 18:23] hoechenberger commented on #8432
Hello @arthurlgk, we'd need a little more information how you got there.

- Which version of `mne-python` are you running?
- Could you share the code that leads to this problem?

Thanks!

[2020-10-26 18:30] larsoner commented on #8424
One idea is that Jupyter notebooks treat non-assignment statements in a special way. In other words, this:
[code]
is functionally the same as
[code]
i.e., Jupyter will look at the non-assignment in the last line. This is important because it then tries to do `_repr_html_` on the resulting object. So it's possible that with the refactor the output of `raw.plot` being different (assuming it's not ju

[2020-10-26 18:49] drammock commented on #8424
I don't think that explanation can be right.  As I said above, the behavior @mmagnuski describes happens in 0.20.8 and 0.21.0 as well as in current master.  And the new version of `raw.plot()` figures are instances of a subclass of `matplotlib.figure.Figure` (instantiated by `matplotlib.pyplot.figure(..., FigureClass=SomeCustomMNESubclass)`), and are still managed by whatever `FigureManager` is pr

[2020-10-26 19:14] arthurlgk commented on #8432
I am currently using mne 0.21.0.
And the code is the following:
[code]
Thank you.

[2020-10-26 20:15] #8421 closed

[2020-10-26 21:07] hoechenberger commented on #8432
@arthurlgk Ok, this seems a little odd to me (the behavior you're seeing, not your code, which looks ok) @cbrnr Maybe you have an idea?

@arthurlgk Could you (privately) share with me one of the datasets that produces this problem? So I can try look into this myself. My email address is richard.hoechenberger@gmail.com

[2020-10-27 01:25] arthurlgk commented on #8432
@hoechenberger Sent. Did you receive it?

[2020-10-27 08:33] cbrnr commented on #8432
Not sure, but maybe the channel types are not EEG/MEG? @arthurlgk can you post the output of `bv_raw.info`?

[2020-10-27 08:39] hoechenberger commented on #8432
Thank you, I received the email. Will look into this within the next 2 hours.

[2020-10-27 09:54] hoechenberger commented on #8432
@arthurlgk I just looked at the `.vhdr` file you included, and there's something off.

You file looks something like this:
[code]

while it's supposed to look like this:
[code]
i.e., there are no units specified in your file. I'm not sure if that's even valid (but I'm not an expert on BV data). How did you generate those files?

[2020-10-27 09:57] hoechenberger commented on #8432
@sappelhoff Maybe you would know which unit is the default if not explicitly specified in the `vhdr` file? µV, I suppose?

[2020-10-27 09:59] sappelhoff commented on #8432
yep, seems to me like that.

pdf source: https://www.brainproducts.com/filedownload.php?path=products/more/BVCDF-1.0_DocVersion-2.5_2019-12-12.pdf

See screenshot:

![image](https://user-images.githubusercontent.com/9084751/97286139-6c131f00-1843-11eb-8806-51916d607441.png)

[2020-10-27 10:00] hoechenberger commented on #8432
Yes just found out the same. Thanks for looking. I will now try to figure out whether `pybv` or MNE is doing something wrong when reading @arthurlgk's file.

[2020-10-27 10:01] hoechenberger commented on #8432
… just to realize that pybv only **writes**, apparently ;) So it must be something in MNE

[2020-10-27 10:04] hoechenberger commented on #8432
Ok found it. Working on a fix.

[2020-10-27 10:08] sappelhoff commented on #8432
yes :-) better to make the MNE reader great, than have a second and less complete/battle-tested version in pybv.

[2020-10-27 10:45] hoechenberger commented on #8432
(strictly speaking, @abramhindle's file do not follow the specification. Because as I read the specs: if you don't have a unit, also the comma separating unit from the rest of props must go. but it's easy to deal with this, so… still it would be interesting to know which software @abramhindle used to create this file, because either it's buggy or the specs need to be amended)

[2020-10-27 10:55] hoechenberger commented on #8432
(Am I right? Or am I reading this incorrectly? it says `...[,<unit>]`, so the comma should only be there if there's a unit, right?)

[2020-10-27 10:58] sappelhoff commented on #8432
I agree. it might be a typo :-/ coul be worth looking into how they handle the remaining *optional* trailing fields ... if they all go away including the comma, it may be legit.

To me it'd make much more sense to leave the comma in any case (even when unit is empty)

[2020-10-27 11:35] sappelhoff commented on #8432
We have the same for "markers" -> the last (trailing) optional parameter seems to remove the final comma if it's not present:

![image](https://user-images.githubusercontent.com/9084751/97296347-d5e5f580-1850-11eb-969b-53456974683f.png)

[2020-10-27 11:42] cbrnr commented on #8432
I wouldn't trust these specs too much but try to catch as many cases as possible (so in this case I'd try to handle a trailing comma even though it's technically invalid).

[2020-10-27 11:43] hoechenberger commented on #8432
Ok so this seems to be a conscious decision in the specs, then.

[2020-10-27 12:34] sappelhoff commented on #8432
I am still interest in how @arthurlgk obtained the file

[2020-10-27 12:49] #8403 closed

[2020-10-27 13:01] hoechenberger commented on #8432
The header they sent me starts with

[code]

I wonder which version of BV Recorder that was.

[2020-10-27 15:03] hoechenberger opened #8436 ""If comment is empty, a 1-based index is assigned by Richard Höchenberger" – What's New entries"
Hello, I just wanted to inquire if we could, maybe, agree to always add a comma before the contributors' names in our changelogs? Otherwise we keep producing sometimes confusing, sometimes rather hilarious lines like the one in the title.

The latest changelog(s) have been rather inconsistent in that manner, although my impression is that more and more of those commas have made it through the revi

[2020-10-27 15:07] agramfort commented on #8436
+1 for ,

[2020-10-27 15:16] sappelhoff commented on #8436
agreed

[2020-10-27 15:17] larsoner commented on #8436
I'm happy with that, or switch to `(by whoever, :gh:whatever)`

[2020-10-27 15:19] drammock commented on #8436
I am also pro-comma, and have recently been asked (though I forget by who) to remove them in my PRs for the sake of consistency. So I would like this policy change to be documented somewhere.

[2020-10-27 15:30] hoechenberger commented on #8436
Might have been me 😁

[2020-10-27 15:35] #8432 closed

[2020-10-27 15:39] cbrnr commented on #8436
I'm 👍 for `(by whoever, :gh:whatever)` - it is easier to see the contributor when there are parens.

[2020-10-27 15:45] hoechenberger commented on #8436
I like this proposal too, but would prefer it without the `by`. I'm +1 for `,` and +1.75 for `(My Name, #foo)`

[2020-10-27 15:49] hoechenberger commented on #8432
@arthurlgk This problem has now been fixed in the development version of MNE-Python. The fix will be included in the next bugfix release, for which we haven't determined a release date yet.

[2020-10-27 15:58] arthurlgk commented on #8432
@hoechenberger Thank you very much. Is it possible for me to access this version now?

[2020-10-27 16:00] hoechenberger commented on #8432
Yes. How did you intall MNE?

Also: I'd still be interested to know how you got your hands on those files :) Do you know which version of BV recorder was used?

[2020-10-27 16:12] arthurlgk commented on #8432
I used pip install in the terminal. Could you please tell me how to install the development version? Thank you.
The file is given from my professor. Because now I have no access to the lab computer, I will ask him about that.

[2020-10-27 16:15] larsoner commented on #8436
Works for me

[2020-10-27 16:16] hoechenberger commented on #8432
Ok, it's easy then. I suggest you install our maintenance branch (which will soon become 0.21.1) with my fix. To do that, simply run:

[code]

That would be great! Thank you

[2020-10-27 16:18] ChristinaZhao opened #8438 "mne.labels_to_stc to incoporate volumetric labels?"
#### Describe the new feature or enhancement
Currently, the labels_to_stc function seems to only support labels from the surface model in the specific label format. Could it be expanded to take labels from volumetric model?

[2020-10-27 16:22] larsoner commented on #8438
This has been on my TODO list for a while, I should be able to get to it in the next couple of weeks

[2020-10-27 16:27] drammock commented on #8436
me too. But again, please document the new standard in our contributing docs.  Since the `latest.inc` gets reset every release, it's too easy for the first couple of PRs to do it their own way and set a precedent for the remainder of the release cycle.

[2020-10-27 16:27] cbrnr commented on #8436
Yes, I like it!

[2020-10-27 16:40] hoechenberger commented on #8436
So... Which one now? Comma? Or the parentheses? I'm confused, and it's my own fault haha

[2020-10-27 16:43] arthurlgk commented on #8432
It is working now. Thank you very much.
But when I am trying to run plot_component function, it cannot find electrode locations. Is this a problem with my recorder?

[code]

[2020-10-27 17:07] drammock commented on #8436
let's go with
[code]

[2020-10-27 17:18] cbrnr commented on #8436
Yes, but let's use an Oxford comma please.

[2020-10-27 19:14] hoechenberger commented on #8432
No, it's not a problem with your recorder, but you need to tell MNE which montage (i.e., which cap) was used when recording. Since it's a BrainProducts system, I assume you used some kind of EasyCap or ActiCap. You need to ask your professor which cap they used specifically. Once you have that info, we can show you how to tell MNE about it.

[2020-10-27 19:43] arthurlgk commented on #8432
Oh it’s actiCap

[2020-10-27 20:19] hoechenberger commented on #8432
You'd still need to find out the specific **type** of ActiCap.

But I can share with you the template montage I generated for what we used in our old lab.

You can load the montage and visualize it:
[code]

When you assign it to your raw data:
[code]
you will get:
[code]
This is because in your VHDR file, the channels are named `Channel 1` etc., which doesn't match the names in the montage file (p

[2020-10-28 02:02] BarryLiu-97 opened #8441 "Raw.plot() issue"
I found something maybe a bug.
Now I used the master branch in GitHub.  I use Pycharm and terminal to run codes. One of my examples uses **raw.plot()** to plot raw data.  While I ran codes in Pycharm's console, **raw.plot()** went well, a figure showed up. While I ran .py in terminal like **python test.py**, no figure showed up. And if I type **python** in the terminal and type the codes in this w

[2020-10-28 08:25] cbrnr commented on #8441
Can you provide a minimal example (ideally using a sample dataset shipped with MNE) that demonstrates the issue?

[2020-10-28 08:47] BarryLiu-97 commented on #8441
Now I use https://mne.tools/stable/auto_tutorials/raw/plot_40_visualize_raw.html#sphx-glr-auto-tutorials-raw-plot-40-visualize-raw-py to plot raw data run by the terminal in win10. When I ran raw.plot(), nothing showed up.

[2020-10-28 08:47] BarryLiu-97 commented on #8441
my mne version is 0.22.dev0

[2020-10-28 08:49] hoechenberger commented on #8441
Can you try running in the terminal with

[code]

[2020-10-28 08:52] BarryLiu-97 commented on #8441
I did that, it was the same. no figure.

[2020-10-28 08:52] BarryLiu-97 commented on #8441
import os
import mne

sample_data_folder = mne.datasets.sample.data_path()
sample_data_raw_file = os.path.join(sample_data_folder, 'MEG', 'sample',
                                    'sample_audvis_raw.fif')
raw = mne.io.read_raw_fif(sample_data_raw_file)
raw.crop(tmax=60).load_data()

raw.plot()

[2020-10-28 08:53] BarryLiu-97 commented on #8441
In the stable version, it went well.

[2020-10-28 08:54] BarryLiu-97 commented on #8441
The interesting thing is, if I run the codes, the figure will show up.

[2020-10-28 09:02] hoechenberger commented on #8441
@drammock You think this could be related somehow to the new figure class?

[2020-10-28 09:05] hoechenberger commented on #8441
Can reproduce on macOS with `master`.

[2020-10-28 09:07] hoechenberger commented on #8441
@BarryLiu-97
I worked around this problem by adding
[code]
at the end of your script

[2020-10-28 09:09] BarryLiu-97 commented on #8441
Yeah, that's right. Me too.

[2020-10-28 09:10] BarryLiu-97 commented on #8441
It reminds me that Pycharm console is like jupyter notebook, don't need plt.show and the figure still shows up.

[2020-10-28 09:12] BarryLiu-97 commented on #8441
Seems that I still have a lot to learn. I didn't connect my experience to this issue.

[2020-10-28 09:14] hoechenberger commented on #8441
That may be true, but you actually discovered a bug in MNE, so it's great you reported it! It should've worked the way you tried to do it.

[2020-10-28 09:16] BarryLiu-97 commented on #8441
All right. Looking forward to it.

[2020-10-28 09:57] BarryLiu-97 opened #8443 "Some advice on processing sEEG and ECoG data"
I noticed that recently you guys are working on the iEEG process. Recently I found a paper called **Multi-Modal Neuroimaging Analysis and Visualization Tool (MMVT)** on arxiv. Here is its official website https://mmvt.mgh.harvard.edu/preprocessing. I think this may provide some inspiration for the process of the iEEG data.

[2020-10-28 12:04] kdoelling1919 opened #8445 "plot_alignment should show transparent brain when using sEEG electrodes"
#### Describe the new feature or enhancement
Using plot_alignment to see where sEEG electrodes are located in the brain. But if you you use any brain surfaces such as `surfaces=["pial"]` the brain is fully opaque so you can't see where the electrodes are that are inside the brain. So it would be best to give the brain a bit of transparency when you have sEEG electrodes embedded in the brain.

####

[2020-10-28 12:25] agramfort commented on #8445
@GuillaumeFavelier thoughts? any way to expose such options?

[2020-10-28 12:43] GuillaumeFavelier commented on #8445
Yeah, I prefer the result with transparency

`plot_alignment` has so many parameters already, I would rather not add another one. I prefer the auto-detection approach. I think computing the bounds of the brain surface is enough as a compromise between precision and computational cost.

[2020-10-28 13:02] larsoner commented on #8445
Currently we make the innermost surface opaque (alpha=1). It's probably fine instead just to always make the innermost surface translucent (alpha=0.75 or something). That way you can see stuff behind it anyway, which is nice. Would that work for your sEEG example?

These are the examples where `plot_alignment` is used:

https://mne.tools/dev/generated/mne.viz.plot_alignment.html#examples-using-mne

[2020-10-28 13:27] BarryLiu-97 commented on #8445
That's wonderful! That's what I want!

[2020-10-28 13:46] kdoelling1919 commented on #8445
OK. So i'm not totally clear where we've landed. Seems like options are:
1. leave the change as I have it (reducing alpha when using seeg)
1. set the innermost to always be 0.75
1. auto-detect surfaces with electrodes inside of them and reduce alpha for these surfaces

I'm happy with any of them. Though I can imagine that if we changed everything to .75 (option 2), some one else will be writing an

[2020-10-28 13:47] BarryLiu-97 commented on #8445
That's wonderful! That's what I want!

Hi, where is this brain come from. In the tutorial working_ewth_seeg, it's just a skin or a skull? No brain in it.

[2020-10-28 13:51] larsoner commented on #8445
It's possible but really I think the transparent was probably always a better choice. We make aesthetic/functional judgments like this often for our plotting functions. This is why I wanted to make sure that, in your PR, you make some tiny change to each plot_alignment `surfaces` use "type" so that we can verify things got better in them, not worse.

So I say we try (2) and look at the results. If

[2020-10-28 13:54] kdoelling1919 commented on #8445
@BarryLiu-97 by adding `surfaces=["pial", "head"]` or just `surfaces=["pial"]` (for only brain and no skull) as a parameter to `plot_alignment` should look like this
[code]

[2020-10-28 13:57] BarryLiu-97 commented on #8445
I agree with you. Why not set this para Customizable?  So people can choose whether  transparent or not?

[2020-10-28 13:57] BarryLiu-97 commented on #8445
Thank you so much!

[2020-10-28 14:08] bloyl commented on #8445
I'm skeptical that option 2 will work, but I'm willing to be proven wrong.

I routinely use plot_alignment to check my coreg results by plotting scalp
surfaces and dig points. I know from various problems in mne_coreg that
being able to see the dig and FID points on both sides of the head through
the scalp surface is not helpful and is generally confusing. Hence my
concern.

Like i said I'm happy

[2020-10-28 14:29] larsoner commented on #8445
I'm thinking/hoping that this example will look *better* with `alpha=0.75` because you'll get more information -- you'll see the 50%+ of the electrodes not currently visible from that view.

So perhaps we should take a hybrid approach -- implement 2 and 3, so that in the (hopefully rare) cases where things do look worse, people have a way to get back to the old behavior. This is the approach we've

[2020-10-28 14:31] larsoner commented on #8445
FYI @BarryLiu-97 the reason I was trying to avoid this is that every time you add more options for people it increases code complexity and maintenance burden at our end, and also makes it harder for people to understand (more options = more complicated interface). But I agree it's probably safer to allow it...

[2020-10-28 14:35] BarryLiu-97 commented on #8445
I couldn't agree more.

[2020-10-28 14:50] bloyl commented on #8445
here is the output of mne coreg with 0.75 head opacity..
`mne coreg -s fsaverage -f ~/mne_data/MNE-sample-data/MEG/sample/sample_audvis_raw.fif -d ~/mne_data/MNE-sample-data/subjects/ --head-opacity=0.75`

<img width="554" alt="image" src="https://user-images.githubusercontent.com/5585821/97451454-25d4c300-190a-11eb-9597-991ebf8f8dd3.png">

I don't think that additional information is helpful in t

[2020-10-28 15:04] hoechenberger commented on #8445
Yes I agree this looks confusing in this specific case.

[2020-10-28 15:08] kdoelling1919 commented on #8445
Yes I'm in agreement with @bloyl. Running these tutorials locally, I found that just making everything by default more transparent will make some other use cases harder to read. The reason I liked using only sEEG as a special case for transparency is because it's the only case we have (that I can think of) where you would purposefully have sensors inside the surface of interest, so I think it real

[2020-10-28 15:10] BarryLiu-97 commented on #8445
I found a para seeg(bool) in plot_alignment, what if set aplha=0.75 when seeg=True?

[2020-10-28 15:14] larsoner commented on #8445
I think you get this because of your (unfortunately persistent) graphics problems. It looks better with a modern graphics setup / advanced rendering. But we still do block the points on the far side (that are not inside the head) intentionally in that case actually.

It turns out that hacking in a `head_alpha=0.75` instead of `1.0` in `plot_alignment` is not enough -- you need to also enable depth

[2020-10-28 15:36] kdoelling1919 commented on #8445
Here's what sEEG looks like with depth peeling enabled. I would be fine with this. Particularly since the skull is unnecessary anyway.
![transp_with_depth_peeling](https://user-images.githubusercontent.com/13767931/97458703-3e110600-193b-11eb-83a6-512c3afe44c6.png)

Alternatively, if we do go with adding `surfaces=dict(...)` functionality. I would still recommend that the default be some transpare

[2020-10-28 15:45] larsoner commented on #8445
Fair enough. I think this line:
[code]
Is just a really convoluted `np.linspace` call of some sort. I would first convert this to the equivalent `np.linspace` call, then set the upper bound to `1.` or `0.75` (or whatever looks good) if seeg electrodes are pleasant.

[2020-10-28 16:06] hoechenberger commented on #8445
I like the last figures @larsoner and @kdoelling1919 produced.

[2020-10-28 16:46] adam2392 commented on #8428
I'm going to attempt to walk you through what I've done. Please let me know if I'm just grossly misinterpreting a piece of documentation somewhere.

[code]
Then if one wants to use BEM files, from my understanding, you must: i) run Freesurfer `recon-all` , then ii) run `watershed_bem` using FreeSurfer, or run the corresponding mne `make_watershed_bem` command and then iii) feed in that subject to

[2020-10-28 19:36] woolgathering commented on #7941
This error occurs when exporting post-processed EDF and EDF+ files from WinEEG. I figure the solution is to write some sort of header validator that will put in arbitrary but acceptable values.

[2020-10-28 20:29] larsoner commented on #8428
Yes this should be enough to have things work

I think so, you can try swapping it in for any `BEM` that is used in the sEEG or ECoG example. Basically the example output should look nearly identical (maybe an extra voxel or two near the edges in the non-BEM case)

It shows `stc.data[idx]` where `idx` is the index of the source with the largest absolute value across any time point. So whether it's

[2020-10-28 20:35] larsoner commented on #8443
Oddly enough [here](https://github.com/pelednoam/mmvt) it says:

But in any case, feel free to list concrete ideas here. I don't think we plan to support everything that MMVT does (it has quite a feature list!) so we should focus on just what people need most urgently.

[2020-10-28 20:42] cbrnr commented on #7941
The file I saw is not EDF (as in https://www.edfplus.info/), so adding some header fields won't help. Do your files look similar to the one shared in this thread?

[2020-10-29 02:20] BarryLiu-97 commented on #8443
Can't argue with that.

[2020-10-29 07:48] #7897 closed

[2020-10-29 14:06] adam2392 opened #8451 "A function get_ch_positions for DigMontage"
#### Describe the new feature or enhancement
If I have an existing montage and want to add fiducials, there is currently no way to do that without calling `make_dig_montage` again. But the montage itself does not provide a way to get the ch positions.

Currently the only way I can find that gets a montage is either you make it from scratch make_dig_montage or you get it from raw using raw.get_mont

[2020-10-29 14:18] agramfort commented on #8451
sorry I don't get the usecase. Can you clarify what you start from and what
you are aiming for?

[2020-10-29 14:36] #8441 closed

[2020-10-29 14:58] adam2392 commented on #8451
Sorry about that. I updated the description. I just want to add fiducials to an existing montage.

[2020-10-29 15:06] agramfort commented on #8451
ok got it. You want an easy way to get the parameters ch_pos etc... required by make_dig_montage from a DigMontage instance.

montage.get_ch_pos?

but then shall we add get_nasion, get_lpa etc...

@larsoner thoughts?

[2020-10-29 15:16] larsoner commented on #8451
Maybe a more generic `get_positions(kinds='all' | 'channels' | 'extra' | 'fiducials' | list of str)`?

[2020-10-29 15:28] agramfort commented on #8451
I prefer this yes. You would get a dict as output that you can directly
pass with **kwargs in make_dig_montage

[2020-10-29 15:31] larsoner commented on #8451
In that case we should just make it `get_positions()`, and doing `mon_2 = make_dig_montage(**mon.get_positions())` should have all attributes of `mon` and `mon_2` the same. If you want the channel positions you just use `mon.get_positions['ch_pos']`

[2020-10-29 15:32] larsoner commented on #8451
... or maybe `get_params` or `get_parameters()` is better, since `coord_frame` is an argument of `make_dig_montage`. So `mon.get_parameters()['ch_pos']` if you want just channel positions. Or we use `get_positions()` and live it being a misnomer because of `mon.get_positions()['coord_frame']` being there

[2020-10-29 15:33] larsoner commented on #8451
(I guess `coord_frame` is information *about the positions* so I guess this wouldn't be so bad)

[2020-10-29 16:24] agramfort commented on #8451
+1 for get_positions

[2020-10-29 20:21] larsoner opened #8453 "BUG: compute_source_morph does not work well with a rescaling"
The tests added in #8447 exposed some bug with our `compute_source_morph` when dealing with the output of `scale_mri`. In principle the `compute_source_morph` should just detect and undo the scaling but it doesn't. This is true both of uniform and non-uniform scalings in `scale_mri`.

The thing to do is probably to first add a test that `compute_source_morph` for a volume to itself is nearly an id

[2020-10-29 20:45] adam2392 commented on #8428
Thanks for the in depth explanation. That was very helpful.

I would like to suggest that I can make a PR into the seeg example to i) direct users to the `watershed` series of functions and an explanation of how to use the actual FS MRI volume/atlas if needed and ii) describe what is being shown in the time-courses plot, since it isn't immediately obvious and then iii) perhaps only showing the vis

[2020-10-29 20:57] larsoner commented on #8428
I guess we can. But if you don't need a BEM then I wouldn't bother computing `mne watershed_bem`. It's slow, a little bit flakey as a function, and produces somewhat bad surfaces for people. I would go with the `mri='aseg.mgz'` and `volume_labels` instead.

I would point them to `tutorials/source-modeling/plot_visualize_stc.py` where this is covered instead of duplicating such content:

https://mn

[2020-10-30 03:08] adam2392 commented on #8451
So DigMontage.get_positions(), which returns a dictionary of channels positions and all the fiducials (if they're there).

Is there any reason we can't say just take the code inside `get_montage` rn:

[code]

and make the part before `make_dig_montage` the code for `get_positions()`? If so it looks pretty straightforward.

[2020-10-30 09:34] larsoner commented on #8451
That code operates on an info object. There is no info as part of DigMontage

[2020-10-30 13:05] balandongiv opened #8455 "Unable to set standard montage for file recording using EEGOSPORTS"
I have an EEG recording recorded using EEGOSPORTS (ANT Neuro, Hengelo,Netherlands) machine. The recording was conducted using a 64-channels cap. However only 17 channels were active `Fp1, Fp2, Fpz, F3, Fz, F4, C3, Cz, C4, FCz, P3, Pz, P4, T7, T8, O1 and O2`, with reference at `CPz`.

In mne, I would like to set the montage, as below

raw = mne.io.read_raw_edf ( path_name, preload=True ) # link to

[2020-10-30 13:16] agramfort commented on #8455
message is clear:

'EEG Fp1-CPz' ...

these are your channel names. You need to rename your channels to be
able to set_montage.

[2020-10-30 13:49] balandongiv commented on #8455
Thanks for the hint @agramfort. Based on your suggestion, I rename the channels name as below

[code]

While there is a channel with the name `EOG`, the compiler still return the following error

[2020-10-30 14:20] hoechenberger opened #8456 "Support Python 3.9"
Python 3.9 has been released. We need to ensure MNE works with it.

https://docs.python.org/3/whatsnew/3.9.html

[2020-10-30 14:57] cbrnr commented on #8456
NumPy has just released binary wheels, still waiting for SciPy and Matplotlib.

[2020-10-30 15:29] GuillaumeFavelier commented on #8456
Reference: https://github.com/pyvista/pyvista-support/issues/263#issuecomment-709690569

[2020-10-30 16:05] adam2392 opened #8457 "Improving documentation for events <-> Annotations"
#### Proposed documentation ehancement
In gitter, I raised a question:

"""
I'm wondering if the API for events_from_annotations and annotations_from_events are intentionally have flip-flopped event_mapping arguments?

E.g. In events_from_annotations, you get event_id which has key/values as description: ID

In annotations_from_events, you must pass in key/values as ID: description.

I had a use-c

[2020-10-30 16:24] drammock commented on #8457
FWIW, I would guess that this *was* an intentional design choice, given that the argument in one case is called `event_id` (and expects what we call `event_id` elsewhere, i.e., a "description → integer" mapping), and in the other case the argument is called `event_desc`.

[2020-10-30 16:42] larsoner commented on #8455
You can use `on_missing` to ignore this message or (better) `set_channel_types` to set the channel type to EOG

[2020-10-30 19:29] drammock opened #8461 "VIZ, BUG: plot_sensors shouldn't call subplots_adjust if axes provided"
as discovered in https://github.com/mne-tools/mne-python/pull/8420#issuecomment-719709027, `raw.plot_sensors` has a bad side-effect when existing `axes` are provided.  It should not call `subplots_adjust` [here](https://github.com/mne-tools/mne-python/blob/8d6905d35dbae5cc16769989bc666e01c4e289ef/mne/viz/utils.py#L1765-L1766) when plotting into user-supplied axes.

[2020-10-31 13:04] agramfort commented on #8457
yes it's intentional.

[2020-10-31 13:13] #8438 closed

[2020-10-31 14:51] balandongiv commented on #8455
Thanks @larsoner.

For other, the working code is as below:

[code]

[2020-10-31 14:51] #8455 closed

[2020-11-01 19:59] hoechenberger commented on #8457
And it's easy to convert between the two in Python 3:
[code]

[2020-11-02 07:18] BarryLiu-97 opened #8465 "attach mne.viz.plot_raw() to a pyqt5 gui interface"
Hi, If I want to insert the figure mne.viz.plot_raw() produced onto the GUI interface using PyQt5, how do I do it? I did fig = mne.viz.plot(data), while it showed up two figures. One is on my PyQt5 interface which cannot interact with me using the keyboard or the mouse. The other is almost like the figure we sued to plot while when I interact with it, the figure on the gui interface changed.
Here

[2020-11-02 09:56] BarryLiu-97 commented on #8465
when I use mne.viz.plot_raw(data, show=False), the other figure disappeared, but I have no way to interact with the figure. I found that type(mne.viz.plot_raw) is the son of class Figure, so I think it is possible to use my code implementate it.

[2020-11-02 10:21] #8457 closed

[2020-11-02 13:27] cbrnr commented on #8465
I think you need to use `show=False` in your statement `fig = mne.viz.plot_raw(data)`, then the figure is drawn in the main window (see also https://www.learnpyqt.com/courses/graphics-plotting/plotting-matplotlib/ for a nice tutorial).

[2020-11-02 13:31] BarryLiu-97 commented on #8465
Thank you so much and I did setshoe=False. I will dig into this tutorial.

[2020-11-02 13:32] BarryLiu-97 commented on #8465
and I also need  to write callbacks so the figures can be interactice like you guys implementated.

[2020-11-02 15:38] drammock commented on #8465
@BarryLiu-97 can you explain the big picture of what you to do?  Are you trying to build a GUI like [mnelab](https://pypi.org/project/mnelab/)?

[2020-11-02 15:45] BarryLiu-97 commented on #8465
Yeah, something like that. But more like an interest.

[2020-11-02 15:47] BarryLiu-97 commented on #8465
A good chance to practice python and mne.

[2020-11-02 16:23] drammock commented on #8142
@LMBooth just a note to say that #7955 has been merged into master for a couple weeks now, and appears to be working reasonably well (only a couple minor bugs have had to be addressed so far).  Note that only `Raw.plot()` is using the new figure class so far; #8381 has Epochs and ICA support mostly working, but will probably be another couple weeks before that's wrapped up and merged.

[2020-11-02 16:25] drammock commented on #8465
@BarryLiu-97 I think your request is pretty similar to #8142.  Can you look at that issue and see if these are similar enough that one of them could be closed (and the other one made more general, if needed)?

[2020-11-02 16:32] drammock commented on #8423
@mmagnuski anything to be done here?

From my above numbered options, after some thought I'm actually opposed to option 1, given that `plot_sensors` is now called from `plot_raw()` when channel names are right-clicked, and how I used `kind='select'` to get the correct sensor highlighted.  Admittedly that was a bit of a hack (setting it up as a selectable sensor plot, programmatically selecting the

[2020-11-02 16:32] BarryLiu-97 commented on #8465
Yes it is similar. Mine can be closed. I think it may be a general issue if people want to embed the interactive figure inside a gui.

[2020-11-02 16:33] BarryLiu-97 commented on #8465
I will close mine and if there are any issues, I will ask there.

[2020-11-02 16:33] #8465 closed

[2020-11-02 16:34] drammock commented on #8465
perfect

[2020-11-02 17:35] mmagnuski commented on #8423
Ok, so currently the old behavior, where the list would update without blocking is not possible?
Then I'd consider throwing a warning when `kind='select'` and `block=False`.

[2020-11-02 18:25] drammock commented on #8423
Well, you can still access it via `fig.lasso.selection`.  But actually, after digging around in the code, I think I know what changed. Previously I think the original `list` object created during init of the lasso selector was preserved throughout. That is no longer happening; in the `on_select` and `select_many` methods it's now getting rewritten instead of just appended, popped, etc.  I'll see i

[2020-11-02 18:54] #8461 closed

[2020-11-02 18:56] adam2392 commented on #8428
Yes this makes sense. It tightens up the `plot_seeg` example and points them in the right direction for other types of input volume sources.

I can make a quick PR on this.

[2020-11-02 21:15] klacourse opened #8470 "mne.io.read_raw_edf generates an error for an edf startdate : 00.00.00"
The start date of my edf file is 00.00.00 for dd.mm.yy. I'm assuming the file has been anonymized (not properly). The file does not meet the EDF specification, but the data saved is still valid. Would it be possible to change the "ValueError: month must be in 1..12" error from mne.io.read_raw_edf to a warning? Otherwise, Is there any way I could read this edf file with the mne library?

[2020-11-03 02:34] BarryLiu-97 commented on #8142
Hi, now I am using PyQT5 to embed the interactive figure from plot_raw inside a GUI, and I have encountered the same question. I tried to reproduce your work but it seems that mne has changed a lot. For example, there is no return_params and plt_raw_alt in mne.viz.raw. Which version of mne did you use? And any methods to solve the same problem using the latest version of mne?

[2020-11-03 02:36] BarryLiu-97 commented on #8142
And I think I get your main idea to solve this problem, which is get the params of the raw data and set up a Figure instance.

[2020-11-03 03:28] BarryLiu-97 commented on #8142
No plot_raw_alt now? What's the alternative?

[2020-11-03 04:52] arthurlgk commented on #8432
Hi @hoechenberger , so we were using pycorder with python 2.7 to record the data.
For the montage plot, we have our own stp file. In 3d, it looks fine. But in the 2D plot, it looks like they are congregated and off center. Do I need to worry about it? Is this issue caused by the head _size?

[2020-11-03 06:19] cbrnr commented on #8470
This should have been fixed by #8283. Which MNE version did you use to load the data?

[2020-11-03 07:46] hoechenberger commented on #8432
Good to know, thanks!

The off-center positioning shouldn't be related to the head size. It's really hard to tell what's going on without looking at the montage file. Could you share it here?

[2020-11-03 08:25] BarryLiu-97 opened #8472 "mne.viz.plot_raw issue"
Here is my  first code:
[code]
And the result is this:
![image](https://user-images.githubusercontent.com/65115609/97962946-24ffcd80-1df1-11eb-9078-00c23aa8e7f1.png)

[2020-11-03 08:27] BarryLiu-97 commented on #8472
Here is my second code:
[code]
And the traceback is:
[code]

[2020-11-03 08:29] BarryLiu-97 commented on #8472
As you can see, I just changed the order of these two-part of codes:
[code]

[code]

[2020-11-03 08:30] BarryLiu-97 commented on #8472
So I didn't know why this happened, maybe because some scripts have conflict?

[2020-11-03 08:33] BarryLiu-97 commented on #8472
I did this because I wanted to embed the figure from plot_raw inside a PyQt5 GUI, so I needed to set up a canvas to the main window of my GUI.

[2020-11-03 08:45] #8443 closed

[2020-11-03 09:06] BarryLiu-97 commented on #8472
I ran the codes in the terminal.

[2020-11-03 09:08] BarryLiu-97 commented on #8472
But if I ran codes using Pycharm's Python Console or IPyhton, everything is OK.

[2020-11-03 09:11] cbrnr commented on #8472
@BarryLiu-97 you can edit existing comments - it will be easier for other people to read if you try to create as few comments with as much information as possible.

[2020-11-03 09:14] BarryLiu-97 commented on #8472
Of course, thanks for the heads-up!

[2020-11-03 11:36] BarryLiu-97 commented on #8472
Hello, I think I solve this question although I just have a little guess for the reason. As we can see, the error **said AttributeError: 'FigureCanvasQTAgg' object has no attribute 'manager'**, which means the attribute 'manager' is the key. Then I found that if we want to use plt.show(), we must need 'manager', if we use plt.figure(), then the manager is generated by default, but plt.figure.Figur

[2020-11-03 11:50] sappelhoff opened #8473 "FR: Add "unit" parameter to get_data method for Epochs"
UPDATE: https://github.com/mne-tools/mne-python/pull/9136 implements this for "raw" ... we still need it for "epochs"

---

I often find myself doing things like this:

[code]

... just to do different kinds of analyses with custom functions.

I think we should add a `"unit"` parameter to `.get_data()`:

[code]

This would make it more transparent for users what units the data are in they are rece

[2020-11-03 12:56] agramfort commented on #8473
get data will give you any of any channel type not just EEG. What if you
have misc, eeg, eog, grad and mag? you pass a dict of units?

[2020-11-03 13:01] larsoner commented on #8473
That was my thinking. It keeps it consistent with the `units` param we have in viz. Though in viz you're *saying what the unit of the data is*, meaning no scale factors get applied unless you also supply `scalings` as well -- and in this function the data *will be converted to those units* so we'll have to be careful about the docstring.

[2020-11-03 13:02] sappelhoff commented on #8473
and if in the data there are channel types for which no keys are passed, then the default unit is used :thinking:

[2020-11-03 13:03] #8451 closed

[2020-11-03 13:06] larsoner commented on #8473
This is also how it works in `units` for our viz functions, yes.

How do we handle `units='uV'`? Do we treat this effectively as:

1. `dict(eeg='uV', eog='uV', ecg='uV', misc='uV')`, "anything that typically has V units should be returned in uV"
2. raise an error, "more than one channel type could be in uV units"
3. `dict(eeg='uV')`, "whatever the first data channel type with this unit will get uV

[2020-11-03 13:06] agramfort commented on #8473
yes that seems natural

[2020-11-03 13:10] larsoner commented on #8470
We have not released a patch 0.21.1 release yet. So it's only fixed in `master` at the moment. It's probably time to push out 0.21.1...

[2020-11-03 13:10] sappelhoff commented on #8473
perhaps we could make our lives easy and only accept a dict?

[code]

[2020-11-03 13:14] larsoner commented on #8473
I think the `str` option is nice for EEG users, or really any users with a single channel type (other than STIM/trigger) in their data. I see your edit and agree (1) is probably the way to go.

[2020-11-03 14:11] larsoner commented on #8349
FYI @ddbbqqpp it looks like @klacourse has good reasons to avoid `pyedflib` -- it's not flexible enough about the files it handles (they must conform to the spec pretty strictly). So I'm +1 on solution (2).

@klacourse do you want to try making a PR to make `_get_info` into a public `mne.io.read_edf_info` function or so?

[2020-11-03 15:58] klacourse commented on #8349
I am not comfortable doing it. My experience in writing robust and bug-free python code is limited.  I still need practice!

[2020-11-03 15:58] #8453 closed

[2020-11-03 16:07] larsoner commented on #8349
I would encourage you not to let this stop you -- PRs are a great way to learn better techniques. Experienced contributors / maintainers / reviewers will be happy to guide you on the process. The bonus of social coding is that it's not 100% the responsibility of the person writing the PR to write good code -- the reviewers equally share in the responsibility, and everyone benefits. But if you are

[2020-11-03 16:56] drammock commented on #8472
I'm not 100% clear what you're trying to do here, but I'm guessing you're still trying to get a raw plot into a FigureCanvas object that you created (like in #8465), instead letting our plotting function create its own figure.  This works for me in a plain python (i.e., not ipython) interpreter:

[code]

Notice that I removed the initial `raw.plot()` and moved `plt.show()` to the end.  Note also t

[2020-11-03 16:56] #8472 closed

[2020-11-03 17:02] drammock commented on #8142
@BarryLiu-97 `plot_raw_alt` was a temporary function name used during development of the new Figure class in #7955.  Once it was working properly, its name changed to `plot_raw` and it replaced the old version of that function.  If you want to try out @LMBooth's approach, you can do so in your own fork of current master version, by modifying `mne.viz.plot_raw` and some of the functions in `mne/viz

[2020-11-03 17:54] klacourse commented on #8349
OK.  I can try to make a PR, but what I really want is to read an edf with mne and write it back corrected and standardized with `pedflib`.
Therefore, the best would be to get all the fields specified in the edf specification (https://www.edfplus.info/specs/edf.html) and
 call from `pedflib` : `EdfWriter.setHeader` (https://pyedflib.readthedocs.io/en/latest/_modules/pyedflib/edfwriter.html#EdfWrit

[2020-11-03 18:01] arthurlgk commented on #8432
@hoechenberger It doesn't support sfp file here. So I shared the file with you via email. Thank you for your help.

[2020-11-03 18:17] larsoner commented on #8349
FYI you might get this for free with MNELAB's routines. We have discussed before the possibility of writing formats other than FIF but so far have decided not to, but IIRC MNELAB allows you to do so.

I would start just by taking our internal function `_get_info` and seeing how much of the stuff you need it already has. If the dict it returns is 90% of what you need, then we can figure out what we

[2020-11-03 20:00] #8428 closed

[2020-11-03 20:13] cbrnr commented on #8349
Yes, see here:
https://github.com/cbrnr/mnelab/blob/master/mnelab/io/writers.py#L46-L89

If you take this as a starting point I'd be grateful if I could reuse any improvements you might make on the way.

[2020-11-03 22:29] adam2392 opened #8479 "stc_near_sensors mode has incongruent docstring"
#### Proposed documentation ehancement
I think(?) `stc_near_sensors` only enables nearest, single and sum, but it also says there is a "zero" and "weighted" option?

Once it's cleared up what sort of activation `mode`s are available and when, I can make a PR to fix up the docstring.

Reference: https://mne.tools/dev/generated/mne.stc_near_sensors.html?highlight=stc_near#mne.stc_near_sensors

[2020-11-04 01:11] BarryLiu-97 commented on #8472
Hi, the reason that I was calling them each once in the code samples I posted is that in my design, my GUI has a button to plot figures and also a figure in my main window to show the data, which means in my codes, the button is connected to a function using raw.plot and a function which is always running using
[code]
but I can't plot data using raw.plot() to get the figures when clicking the plot

[2020-11-04 14:41] balandongiv opened #8480 "Dynamic frequency connectivity measures"
Currently mne support for static connectivity measures via [spectral_connectivity](https://github.com/mne-tools/mne-python/blob/0e080a5a645b5934445ef4da6da744d7dfa7f68d/mne/connectivity/spectral.py#L549). But I notice there is no direct module for Dynamic frequency connectivity measures (Please correct just in case I miss about the existence of such module).

One approach that I can think in order

[2020-11-04 14:59] BarryLiu-97 opened #8481 "Re-reference methods about sEEG data"
**Describe the new feature or enhancement**
In sEEG data analysis, reference is not alike in EEG. Many methods are used to reference sEEG data, linear and non-linear, such as
Common Average Reference(CAR), Gray-white Matter Reference(GWR), Electrode Shaft Reference(ESR), Bipolar Reference, Laplacian Reference and Monopolar Reference.
**Describe your proposed implementation**
I read the paper to kn

[2020-11-04 15:05] larsoner commented on #8481
Which do you need for your analysis? ESR? Is this just CAR for subsets of electrodes?

It would help if you could guide us specifically about what's needed here. Papers are helpful but it takes time to read them -- if others already have expertise and knowledge things will proceed faster. Maybe @adam2392 could comment as well.

[2020-11-04 15:07] larsoner commented on #8481
And just a general plan of action, we should not implement every method available. We should implement the ones will benefit a large proportion of users. So if 90% of sEEG folks use CAR and monopolar (which we already support) and ESR (which we do not), we should just implement ESR and not worry about GWR and Laplacian.

[2020-11-04 15:12] BarryLiu-97 commented on #8481
Actually, I don't have somespecific methods. I am asked to implement them all by my mentor. But CAR is not recommended in most cases in sEEG analysis. While monopolar is widely used, especially in the hospital, well, at least in China. And ESR and Laplacian is quite the same for they just delete different channels' data in the same shaft. And as to GWR, it is a little complex for you need to know

[2020-11-04 15:12] adam2392 commented on #8481
My impression is that for sEEG:

- monopolar (just don't do anything)
- CAR (set_eeg_reference('average'))
- and bipolar

are supported in mne. These other references are possible but need to happen outside mne. E.g. for gray/white, one must have a list of the wm channels and then gm channels to then use `set_eeg_reference(wm_chs)`.

ESR would be desirable altho I've never used it (becuz mne didn'

[2020-11-04 15:16] BarryLiu-97 commented on #8481
And some little tips on ESR, some channels' name rea very tricky for some shaft named ```A```, and some named ```A'```

[2020-11-04 15:19] BarryLiu-97 commented on #8481
To compute the Laplacian, each channel was re-referenced to the mean value of its two adjacent contacts along the electrode shaft. This seems similar to Bipolar. I said it wrong before.

[2020-11-04 15:28] adam2392 commented on #8481
Laplacian can generalize based on a distance metric defined, but... idk if that's desirable.

@BarryLiu-97 do you want to implement ESR in a PR?

[2020-11-04 15:29] larsoner commented on #8481
Agreed, I would not write channel-letter-based referencing stuff. I would make people give the channel names they want to use, it allows them to deal with their own naming schemes.

Really the question is what API do we need to support ESR then I think. Currently the relevant API is:
[code]
If we were to add the argument `picks`, which would supersede / ignore `ch_type` (it actually could replace

[2020-11-04 15:31] BarryLiu-97 commented on #8481
I am implementing ESR on my own, but I don't know how to do that in mne. @ @adam2392

[2020-11-04 16:41] nbara commented on #8300
I'm still having this issue on latest `develop`.

[code]
Weirdly enough, I wanted to save the `raw` object to a fif file to share to you, and noticed the problem does not affect the newly saved file...  I do a whole bunch of operations to the `raw` instance before this happens, but I can't exactly pinpoint which is the culprit.

Any idea how to go about this?

I have traced it back in debug mode t

[2020-11-04 16:45] larsoner commented on #8300
We plan to release 0.21.1 this week, and the fix is in there. You can either wait for that and upgrade, or use the latest `master` branch

[2020-11-04 16:46] nbara commented on #8300
Sorry I meant I'm using the latest `master` (not the pip version) in my previous post.

[2020-11-04 16:52] larsoner commented on #8300
Which commit are you on? You need the fixes from #8303

[2020-11-04 16:53] nbara commented on #8300
I litterally pulled an hour ago.

[2020-11-04 16:56] larsoner commented on #8300
Okay, if you can share the original file plus a script that reproduces the issue we can take a look. It's best if you try to cut down the script to as few operations as possible. Things like filtering and such should not matter, but adding / removing / concatenating / loading data probably will.

[2020-11-04 16:58] nbara commented on #8300
I will. Like I said, I'm doing a whole bunch of things before reordering channels, so it was not obvious to come up with a MWE. Will investigate more and let you know.

[2020-11-04 17:20] nbara commented on #8300
@larsoner I am not super familiar with the `Raw` internals. Am I looking for the operation that causes `raw._pick_reads` to contain a duplicate list ?

<img width="452" alt="Screenshot 2020-11-04 at 18 17 21" src="https://user-images.githubusercontent.com/10333715/98143892-fe619580-1ec9-11eb-8eb0-f8620078e69b.png">

[2020-11-04 17:25] larsoner commented on #8300
@nbara I'm not sure what to look for in the error until I can reproduce it locally and dig into it a bit. This section of code isn't the easiest to debug or immediately know what to do

[2020-11-04 18:25] nbara commented on #8300
Can you confirm the bug with attached `.fif` file (zipped to bypass github restrictions)?

[code]

[test-raw.fif.zip](https://github.com/mne-tools/mne-python/files/5489792/test-raw.fif.zip)

[2020-11-04 18:28] larsoner commented on #8300
Yes and also without that particular file:
[code]
so the problem is really that `add_reference_channels` somehow does not update the picks I think. I'll look into it!

[2020-11-04 20:50] larsoner commented on #8479
It's likely that the docstring is outdated -- let's update it to do what the code actually does/has

[2020-11-04 23:58] kdoelling1919 commented on #8445
This issue is fixed by #8446

[2020-11-04 23:58] #8445 closed

[2020-11-05 12:09] hoechenberger opened #8487 "Why does read_evokeds() have an allow_maxshield param, while read_epochs() doesn't?"
Evoked data is further down in the processing stream than Epochs, so if `read_evokeds()` has `allow_maxshield`, `read_epochs()` should have it too, no?

[2020-11-05 12:13] larsoner commented on #8487
We only need this parameter for types that get written as having maxshield/IAS applied. MEGIN writes raw and evoked this way. We keep this information for raw, but not epochs or evoked.

[2020-11-05 12:19] hoechenberger commented on #8487
Thanks for the clarification!

[2020-11-05 12:19] #8487 closed

[2020-11-05 14:18] GuillaumeFavelier opened #8488 "Migrate one of Travis job to GitHub Actions"
#### Describe the new feature or enhancement
It's been some months now that we use [GitHub Actions for MacOS testing](https://github.com/mne-tools/mne-python/pull/8161) and AFAIK the experience has been okay (I am not aware of any issue). So I would like to proceed with the [incremental approach](https://github.com/mne-tools/mne-python/issues/8159#issuecomment-680020111) and create a GHA job that

[2020-11-05 14:39] larsoner commented on #8488
I would go with whatever the next easiest to migrate would be. Probably the topmost build, 3.8 + environment.yml? This uses almost the same miniconda + minimal_cmds (with different URL) + test calls, right?

[2020-11-05 14:44] GuillaumeFavelier commented on #8488
Good idea, they're also the slowest tests.

[2020-11-05 15:30] cbrnr commented on #8488
:+1: &ndash; more and more people seem to be complaining about Travis performance/support getting worse, so the long-term goal should be to completely replace Travis.

[2020-11-05 16:38] #8423 closed

[2020-11-06 15:45] klacourse commented on #8349
@cbrnr thank you for your function.

I did modify `read_edf_info` from a fork.

I modified the prefiltering field in the edf_info because the last channel was dropped.
I added the transducer information into the edf_info dict.

Since I had issues reading one of my edf file (the data looks corrupted in mne but it is read properly in EDF browser and Polyman) and I realized that all the channels are

[2020-11-06 16:46] larsoner commented on #8349
Nice! Would having a public `read_edf_info` help you with this your reading and modification plan?

[2020-11-07 10:35] Aniket-Pradhan opened #8493 "test_xdawn_regularization fails on Fedora 34 (rawhide)"
Hey all!

the test: `test_dawn::test_xdawn_regularization` is currently failing in Fedora 34, with no reason per se. The test works fine on Fedora 33.

#### Describe the bug

The build logs are below:

1. [Fedora 33](https://major.fedorapeople.org/python-mne/f33_build.log)
2. [Fedora 34 (failing)](https://major.fedorapeople.org/python-mne/f34_build.log)

Failure:

[code]
There's a bunch of log sta

[2020-11-07 12:58] larsoner commented on #8493
We should fix the XDawn code. Currently we rely on the LAPACK function to detect rank deficiency but it's unreliable. There are two existing open PRs that just skip this part of the test but it's better if we properly fix it.

I can do this on Monday, checking the rank should be a fast operation anyway.

[2020-11-07 15:49] mmagnuski commented on #8376
That would be useful! I would first start with `.annotations` for Epochs as currently this attribute is only available for raw.
@larsoner although annotations contain time in seconds it might be more user friendly to turn this information into "epoch-centered" times during epoching, so: epoch index, epoch time, duration. Then for TFR we would only need to know the window length for each freq (n_cy

[2020-11-08 15:16] ddbbqqpp commented on #8349
Thanks! @larsoner @klacourse Too important to me! With MNE-Python, Why use other ...

[2020-11-09 12:32] larsoner commented on #8376
@larsoner although annotations contain time in seconds it might be more user friendly to turn this information into "epoch-centered" times during epoching, so: epoch index, epoch time, duration.

Makes sense. We might even be able to do this in a backward-compatible way by adding a `epoch_idx` attribute to the `Annotations` class that is `None` for raw, or a `ndarray` of `int` with shape `(n_epoch

[2020-11-09 12:54] mmagnuski commented on #8376
Oh, yes, good idea.

Yes, I think they should be split like this, that would keep the representation simple.

[2020-11-09 15:17] #8488 closed

[2020-11-09 17:32] drammock commented on #8424
Here's a screenshot showing what I think is the real problem here (and showing that it is not related to recent changes to the figure classes).  The `show=False` argument simply does not work with matplotlib inline backend.

![Screenshot_2020-11-09_11-15-00](https://user-images.githubusercontent.com/1810515/98573924-ef3d6780-227c-11eb-8691-7e04cd95a7ee.png)

[2020-11-09 18:00] ometett opened #8497 "What can be done to overcome the drift that occurs in EEG"
Dear MNE team,

I am an enthusiastic bioengineering student who is writing a program that synchronizes MEG with HD-EEG. I received serious help from you guys when I asked about importing EEG channels into the MEG file so here I am. My current code is able to synchronize HD-EEG with MEG based on the triggers that are sent from national instruments trigger box to both HD-EEG and MEG. Both recordings

[2020-11-09 18:44] cbrnr commented on #8497
This is a usage question, please use our Gitter channel to ask usage questions: https://gitter.im/mne-tools/mne-python

[2020-11-09 18:44] #8497 closed

[2020-11-09 21:36] larsoner commented on #7599
@GuillaumeFavelier might be good to fix this before looking into `coreg`

[2020-11-09 21:52] sappelhoff opened #8499 "Documentation issue with Epochs .__getitem__"
#### Describe the bug

Either the documentation for the [`Epochs.__getitem__`](https://mne.tools/stable/generated/mne.Epochs.html?highlight=selecting%20epochs#mne.Epochs.__getitem__) method is wrong, or it doesn't work as advertised because of a bug.

Specifically, point 3 from the docs:

#### Steps to reproduce

[code]

#### Expected results

Based on the docs I would have expected

[code]

to be

[2020-11-09 21:55] larsoner commented on #8499
This is just a documentation problem. `['a', 'b']` is like saying A or B. `['a/b']` is like saying A and B.

[2020-11-09 21:56] larsoner commented on #8499
@drammock can you take a stab at improving the docs for this one?

[2020-11-09 22:40] mmagnuski commented on #8424
@drammock You may be right that it never worked, I might have been using `;` to suppress dual figures all the time. I'll check tomorrow with some ancient mne version :)

[2020-11-09 23:30] mmagnuski commented on #8424
@drammock However, I must say I've seen multiple instances where `show=False` does take an effect in inline mode. For example when I create a topomap and then modify the figure somehow - without using the `show=False` the modifications would not be visible. For example:
[code]
you can see the channel sizes changed only with `show=False`.
In general the inline backend tends to show figures that wer

[2020-11-10 12:48] kalenkovich opened #8501 "building docs on Windows: a few remaining problems"
#### Describe the bug
Docs build with errors on Windows.

#### Steps to reproduce
Try building docs on Windows.

#### Expected results
Docs build without errors.

#### Actual results
Docs build with errors:

- `limo.py` concatenates URL parts using `os.path.join` which, on Windows, uses `\` as separators resulting in invalid URLs. I suggest hardcoding the concatenation.
- `plot_eeg_erp.py` writes

[2020-11-10 13:47] larsoner commented on #8501
This comes from sphinx-gallery. Must be a bug there. Feel free to open an issue, or even fix it!

The first thing to try would be, on a Windows system, clone the `sphinx-gallery` repo, then go into `sphinx_gallery/tests/tinybuild` and run `make` in git-bash. It should build a little mini site, and hopefully you can see an errant path in one of the RST files it generates, which will lead to an erra

[2020-11-10 16:21] #8436 closed

[2020-11-10 16:38] #8383 closed

[2020-11-10 17:05] kalenkovich commented on #8501
I tried that. I haven't got any path errors. There were some other errors though. Here is the output:

<details>

[code]
</details>

[2020-11-10 17:42] larsoner commented on #8501
I did, too :) It's what brought me around to [making the fourth-point suggestion](https://github.com/mne-tools/mne-python/pull/8502#issuecomment-724792976) in #8502

[2020-11-10 18:17] drammock commented on #8424
I can reproduce your topomap example, and I agree that it shows that `show=False` does have an effect in that it *delays* the figure being shown until after all code in the cell has been run.  Which is better than nothing.  But ideally, I would think that passing `show=False` should prevent the figure from appearing at all (that's what I meant in saying "it doesn't work").

[2020-11-10 20:52] mmagnuski commented on #7671
If anyone's interested I have a simple mne-compatible psd class implementation here:
https://github.com/mmagnuski/borsar/blob/master/borsar/freq.py#L244

It allows for things like:
[code]
I even have a hack to use it in `mne.viz.plot_compare_evokeds`:
[code]

[2020-11-10 20:55] mmagnuski commented on #7671
my implementation does not store `n_estimates` but it could be easily extended for that.

[2020-11-10 22:45] #8499 closed

[2020-11-11 12:55] mmagnuski commented on #8424
Yes, in the example you show, I would expect `show=False` not to show anything. But the specific issue that I mention in the first post is just:
![image](https://user-images.githubusercontent.com/8452354/98813040-de7b2600-2423-11eb-8778-7581014eb3bc.png)
inline automatically plots the last output (if not captured to a variable - that is ok and expected), and mne plots the figure automatically too

[2020-11-11 13:09] mmagnuski commented on #8424
@drammock but you seem to be correct that `show=False` never worked according to my expectations. I can't go back to the old versions of mne because I get errors when plotting then, but the issue clearly existed before the mne figure refactor.

[2020-11-11 16:43] drammock commented on #8424
It's possible I suppose that the behavior of notebooks is what changed. Regardless, the specific issue you mention (where `raw.plot(show=False)` alone in a cell yields 2 figures) is a manifestation of the same problem I've been pointing out: using `show=False` does not prevent the figure, it merely delays showing it until the rest of the code in the cell has been run.  And then, since you neither

[2020-11-11 17:35] mmagnuski commented on #8424
@drammock You are right, I didn't realise the inline plots figures created within the cell, although I clearly experienced it many times. I thought the two-figure issue was mne's fault, but you are right, it is not. I'm closing then!

[2020-11-11 17:35] #8424 closed

[2020-11-11 17:46] mmagnuski commented on #8026
Yes, that would be nice!

[2020-11-12 11:36] GuillaumeFavelier opened #8505 "matplotlib 3.3.3"
`matplotlib 3.3.3` has been released recently and now [I notice](https://github.com/mne-tools/mne-python/pull/8495#issuecomment-725995183):

[code]

Should we pin it or does someone know a fix?

I try e0cbc74 on https://github.com/mne-tools/mne-python/pull/8495

[2020-11-12 12:22] #8501 closed

[2020-11-12 14:43] cbrnr commented on #8505
Did you find if they changed something from 3.3.2 to 3.3.3? The [release notes](https://github.com/matplotlib/matplotlib/releases/tag/v3.3.3) mention "Fix inconsistent color mapping in scatter for 3D plots" - is that it? I wish they'd link to the GH PR in their changelog...

[2020-11-12 14:47] larsoner commented on #8505
We were using private attributes, #8495 stops doing so

[2020-11-12 14:53] cbrnr commented on #8505
I see. So this will soon work I assume? Pinning to < 3.3.3 would be a pretty bad solution, because 3.3.3 is the first version with a binary wheel for Python 3.9 and we should start adding support for that version.

[2020-11-12 15:03] larsoner commented on #8505
Yes #8495 should work, just waiting for CI confirmation

[2020-11-12 18:26] bloyl opened #8509 "Possible to restrict beamformer output to labels?"
Is there a reason the lcmv beamformer apply methods (`apply_lcmv_epochs`, `apply_lcmv_raw`, `apply_lcmv_cov`) don't support restricting to Label?

It seems like once the filter weights are made restricting to source locations inside a label shouldn't affect the results.

CC @britta-wstnr

[2020-11-12 19:19] larsoner commented on #8509
Personally I would just use `stc.in_label` afterward. Will this not work for your use case?

[2020-11-12 19:34] bloyl commented on #8509
The problem is memory usage for long data segments (mostly `apply_lcmv_raw`).

If you restrict first, you only allocate memory for the vertices you are going to fit.

[2020-11-12 19:38] #8505 closed

[2020-11-12 20:14] bloyl opened #8510 "fif file extension not required when writing FIFF files"
I tried a `raw.save('test.h5')` sort of by accident and while it complained that I wasn't using standard `_raw.fif` conventions it happily saved a fif file with an h5 extension. It took me awhile to realize that this wasn't actually an h5 file (I had hoped the h5 support had been extended).

I'm not sure this is a _bug_, as there isn't really the expectation that it should have written an h5 file

[2020-11-12 20:19] larsoner commented on #8510
I think it should probably emit a warning

[2020-11-12 20:23] larsoner commented on #8509
Sounds reasonable to me. +1 to add this, ideally by reusing / refactoring code in `minimum_norm` to handle it. That way if someday we want to support volume-atlas-labels we can do it in one place.

[2020-11-12 20:30] bloyl commented on #8510
ok it currently does issue a warning, so I'll close.

[2020-11-12 20:44] bloyl commented on #8509
I'll want this to work with `volume-atlas-labels` :(

Are there plans to flesh that out some? It seems like only extract_time_course supports volume_atlas_labels currently. Maybe it would make sense to focus there first?

[2020-11-12 20:57] larsoner commented on #8509
At least `extract_label_time_course` and `VolSourceEstimate.in_label` work with volumetric atlas int/atlas combinations. The underlying machinery so far runs through `_volume_labels`, so in theory it shouldn't be too bad to make it work for `apply_inverse`, and then eventually `apply_lcmv`.

One tricky part is `mri_resolution` -- in `extract_label_time_course` by default `mri_resolution=True` so t

[2020-11-12 21:24] agramfort commented on #8510
but the warning is maybe misleading. I feel a clearer warning should appear
if you don't use a .fif or .fif.gz extension as it's very like a bug

[2020-11-12 21:30] larsoner commented on #8510
Or we could add it to `endings_err` as @bloyl suggests, people can get old behavior with a `shutil.movefile` if they need it. I guess this is better than a warning given the likelihood of error versus legitimate use.

@bloyl do you want to make a PR for this? It should "just" be a one-liner plus two lines of `with pytest.raises` context and `raw.save(...)`...

[2020-11-12 22:39] bloyl commented on #8510
I'll put together a PR over the weekend hopefully.
FYI `git grep` suggests there are 22 `save` methods that could potentially use something like this.
there is also a `mne.utils.check_fname` and an `mne.utils._check_fname` which do different things :)

[2020-11-13 09:17] sappelhoff commented on #8470
@klacourse, mne 0.21.1 has been released meanwhile. Can you upgrade your installation and tell us whether your problem is solved, please? If yes, feel free to close this issue. Thanks!

[2020-11-13 10:43] Teteros opened #8511 "Excluding channels fails in GDF files"
#### Describe the bug
`exclude()` doesn't seem to exclude the specified channels when reading GDF files (`mne.io.read_raw_gdf`)

#### Steps to reproduce
[code]

#### Expected results
[code]

#### Additional information
Python 3.8.6 [GCC 10.2.0] on linux x64
mne 0.21.1

Test file used (created with [modeeg2ft_2chn](https://www.fieldtriptoolbox.org/development/realtime/modulareeg/)):
[test.gdf.zip](

[2020-11-13 11:51] olafhauk opened #8512 "Source depth for vertices"
#### Describe the new feature or enhancement
I would like to compute a metric of "source depth" for vertices in source space. This could be the Euclidean distance of a vertex to the nearest sensor/electrode or the nearest BEM surface.

#### Describe your proposed implementation
I've got something like this in mind (for source_space.py):

[code]

#### Describe possible alternatives

#### Additional

[2020-11-13 13:22] #4850 closed

[2020-11-13 13:22] #8304 closed

[2020-11-13 13:28] larsoner commented on #8512
+1 for this. Thoughts:

1. Do we even need `mode`? Do people want something other than the minimum Euclidean distance to a sensor / any surface vertex? Maybe we can omit it to start and then see if people want other options, unless you already see a use case.
2. The API will probably need a `trans` argument to deal with head vs MRI coordinate frames.
3. I might just shorten `"reference"` to `"to"`

[2020-11-13 13:49] klacourse commented on #8470
@sappelhoff, perfect it is solved, I got this warning : <ipython-input-3-e17fde07d2c7>:1: RuntimeWarning: Invalid date encountered (2000-00-00 00:00:00). Thanks!

[2020-11-13 13:49] #8470 closed

[2020-11-13 13:56] klacourse commented on #8349
@larsoner

No, I started from scratch (by looking at what you did in mne).  I'm happy with my personal edf library for reading/writing the edf header, and I will use MNE for the EEG signal processing.  Thanks!

[2020-11-13 14:01] olafhauk commented on #8512
Great. ```mode``` could also include options like average distance or max distance.

[2020-11-13 14:09] ftadel opened #8513 "Option to disable tqdm (crashes on Matlab/Windows10)"
The Matlab-Python integration works beautifully for most applications now, however there are some glitches left, especially in the way the standard streams are handled on Windows. As known unsupported features, Mathworks lists `py.input` and `py.raw_input`: https://fr.mathworks.com/help/matlab/matlab_external/limitations-to-python-support.html
But I just found out that there are also other things

[2020-11-13 14:28] larsoner commented on #8513
This would be easy enough to add and support. Looking at the traceback another option would be to quickly test it with something like `fp.write('')` in a try/except and just not print anything if it fails. I can make a quick PR for this and you can test it out.

Technically you can set `sys.argv` to whatever you want -- it's just a list so you can put the `accept` string in there programatically.

[2020-11-13 14:33] #8349 closed

[2020-11-13 14:52] ftadel commented on #8513
Given everything I've read on tqdm yesterday, I'm sure there will be other use cases where it will be interesting to completely turn it off :)

For solving both problem with a very simple fix, maybe you could simply add a try/except around the `input()` call, and if it fails, consider it's worth `answer = 'y'`?
This is a bug, and hopefully it will be fixed in Matlab at some point. Maybe this doesn

[2020-11-13 15:03] wmvanvliet commented on #8512
I've got some code for this: https://github.com/AaltoImagingLanguage/conpy/blob/master/conpy/forward.py#L27

It selects all vertices within a certain distance from any sensor. In order to make this selection, it has to compute the distance between each vertex and the closest sensor. Deals with transforms along the way.

[2020-11-13 15:07] larsoner commented on #8513
Fair enough, I'll just implement `'off'` env var support then.

If you (as a Brainstorm person) are okay with us bypassing the license message when `input` is unavailable then I'm fine with implementing this.

This works but requires `psutil`:
[code]
Can you see if it works on your machine?

I actually think the `try/except` is more general, though, since it should work on any platform where `inpu

[2020-11-13 15:20] ftadel commented on #8513
Great, thanks!

Sure, go for it.

Works from a Python console, but not from Matlab:

[code]

Ok, let's drop this idea.

I thought you were talking about a more formal way of identifying if the Python is called from a Matlab context, for more general purposes than we discussed here. But that's not needed anywhere so far. The try/except around `input()` sounds good.

I'll let you know if I find othe

[2020-11-13 15:27] olafhauk commented on #8512
Thanks @wmvanvliet. I'll use your example and add you as co-author if that's ok. I'll start with distances to sensors, BEM surfaces can be included later.

[2020-11-13 15:48] agramfort commented on #8513
nice !

that's great to see how mne-python core algorithms can be made available
to the matlab world !

[2020-11-13 16:18] olafhauk opened #8517 "Spherical searchlights as labels for all vertices in source space"
#### Describe the new feature or enhancement
I would like to use spherical searchlights as labels for all vertices in source space to compute PSFs/CTFs for sources with spatial extent (rather than point sources). I tried to use mne.grow_labels(), but it produces the error "NotImplementedError: Can't produce more than 1024 unique colors".

#### Describe your proposed implementation
Could one implem

[2020-11-13 16:21] larsoner opened #8518 "MAINT: CI"
A few things we should do for CIs:

1. Migrate away from Travis (#8514)
2. Add `[skip azp]` [support](https://github.com/mne-tools/mne-python/pull/8514#issuecomment-726797122)
3. Add [inline annotations](https://github.com/mne-tools/mne-python/pull/8514#issuecomment-726797122) for codespell and flake
4. Add 3.9 CI. For this I have no idea when VTK will ship a wheel, so I might just build a Linux o

[2020-11-13 16:22] larsoner commented on #8518
cc @GuillaumeFavelier feel free to take care of 2/3/4 as part of #8514 if you want or we can do it in separate PRs. (1) is really the critical thing to alleviate CI pressure anyway, so maybe best to do that first.

[2020-11-13 16:25] larsoner commented on #8517
Yes having `colors` as a limitation seems silly. I would add a `colors=None` argument that by default does what is done now, and allow `ndarray, shape ([n_seeds, ][3])` that allows setting the color of the labels manually. The `n_seeds` and `3` are both optional because it should be any array that broadcasts to shape `(n_seeds, 3)` so for example you can use `colors=0.` to get all black labels.

[2020-11-13 16:35] larsoner commented on #8511
@cbrnr do you want to take a look?

[2020-11-13 17:17] britta-wstnr commented on #8509
@larsoner Does this mean that I could end up with having the same grid point belong to different labels based on the interpolation that's been done?

At least from the beamformer perspective, there should not be any problem in applying or even calculating the filter for a subset of grid points only, since the weights are calculated for each grid point independently (as long as forward model and co

[2020-11-13 17:19] olafhauk commented on #8517
@larsoner I've just pushed #8519. Please let me know if that's what you had in mind.

[2020-11-13 17:26] larsoner commented on #8509
Yep:

- With `mri_resolution=False` each grid point will contribute to at most one label, and some labels might have zero grid points contributing to them.
- With `mri_resolution=True` each grid point can contribute to multiple labels (determined by trilinear upsampling from the low-res to high-res space where the labels live), and all labels will have grid points.

[2020-11-13 18:54] cbrnr commented on #8511
Yes, will do.

[2020-11-14 11:02] cbrnr opened #8523 "Debug console in PyCharm broken with pytest"
OK, so I decided to report this issue I'm having here, because it might be something we're doing to the test setup.

I want to debug a pytest run and enter the debug console. When I do that and type any command/name, I get the following error (here I want to debug the function `test_one_channel_gdf` in line 111 of `mne/io/edf/tests/test_gdf.py`:

[code]

Here's how it looks like in PyCharm (click

[2020-11-14 16:54] #8511 closed

[2020-11-14 18:32] #8513 closed

[2020-11-14 19:50] larsoner commented on #8523
This part looks like Pycharm error, but maybe they are trying to catch it...

This part looks like it might be due to us treating warnings as errors. You can try temporarily removing the `error::` from here:

https://github.com/mne-tools/mne-python/blob/master/mne/conftest.py#L64

And see if it works. If it does, then a more targeted line (or set of lines if there is more than one of these being c

[2020-11-14 20:16] cbrnr commented on #8523
Thanks @larsoner, that was it! See #8524.

[2020-11-14 20:19] larsoner opened #8525 "BUG: Big Sur compat"
More of an FYI than anything else -- PyQt5 appears not to work on Big Sur. I've tried 5.12 and 5.15.1, and both basically hang as soon as you make a mayavi, PyVista, or matplotlib Qt5Agg window.

So those thinking about upgrading, don't do so if you want to be able to use Python. For matplotlib at least we can use the MacOSX backend in the meantime, but 3D plotting is now (hopefully temporarily) t

[2020-11-14 20:24] larsoner commented on #8525
Closing because there isn't really anything for us to do. But we can keep any discussion about this here as things progress

[2020-11-14 20:24] cbrnr commented on #8525
Thanks for the heads up. I think this time I will upgrade as late as possible (this is the first time I haven't upgraded on day 1, and just like the new CPUs the macOS update doesn't really hype me).

[2020-11-14 21:36] #8523 closed

[2020-11-16 06:06] #8493 closed

[2020-11-16 16:17] jasminetan6032 opened #8530 "3D example does not work on Windows 7"
#### Describe the bug
[code]
​

#### Steps to reproduce

Followed the installation instructions for Windows and ran the plot_evoked_ers_source_power.ipynb.

Thank you!

[2020-11-16 16:19] hoechenberger commented on #8530
@jasminetan6032 is attending the Pybrain 2020 workshop on MNE and was having this issue today. I couldn't resolve it via a screenshare. I am wondering if it's related to Python 3.8 on Windows?

[2020-11-16 16:26] GuillaumeFavelier commented on #8530
What did you try @hoechenberger ?

@jasminetan6032 could you share the output of:

[code]

[2020-11-16 16:32] hoechenberger commented on #8530
- verified that PyQt5 was actually installed
- ensured MNE and pyvista is the latest version
- added `mne.viz.set_3d_backend('pyvista')`

[2020-11-16 16:34] hoechenberger commented on #8530
MNE was installed by using the `environment.yml` from the MNE installation instructions

[2020-11-16 16:38] jasminetan6032 commented on #8530
(base) C:\Users\jasmine>mne sys_info
Platform:      Windows-7-6.1.7601-SP1
Python:        3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)
]
Executable:    c:\users\jasmine\anaconda3\python.exe
CPU:           Intel64 Family 6 Model 158 Stepping 9, GenuineIntel: 8 cores
Memory:        32.0 GB

mne:           0.21.1
numpy:         1.16.2 {blas=mkl_rt, lapack=mkl_rt}
scipy:         1

[2020-11-16 16:41] jasminetan6032 commented on #8530
Apologies, I ran it in the new environment Richard helped me set up and this happened.

(base) C:\Users\jasmine>conda activate mne-new

(mne-new) C:\Users\jasmine>python -c "import mne; mne.sys_info()"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "C:\Users\jasmine\Anaconda3\envs\mne-new\lib\site-packages\mne\utils\conf
ig.py", line 544, in sys_info
    extra +=

[2020-11-16 16:46] larsoner opened #8531 "ENH: Adjust simultaneous recordings time bases/starts/stops"
@ometett on Gitter had a use case that we also have at UW: MEG (Neuromag) recorded simultaneously with data from another system (EGI/MFF). They both record at 1000 Hz, but clock drift (and start/stop times) need to be corrected to be able to analyze them together. I created a [gist](https://gist.github.com/larsoner/400b8b07cc89ad96fc2c02d0c3fa254b) to fix these issues, and it seems to work:
[code]

[2020-11-16 16:46] larsoner commented on #8531
cc @cbrnr and @NeuroLaunch since we have had discussions about this before

[2020-11-16 17:19] GuillaumeFavelier commented on #8530
I think there is something going on with this installation of `PyQt5` 🤔

Still on `mne-new`, my first idea would be to reinstall `PyQt5`, did you try `pip install --force --no-cache PyQt5` 😅

This is what I use to test my installation:

[code]

---

I did a quick check on my windows 10 (I did my install with `pip -r requirements.txt` though). Except that I ran into an issue with the latest numpy (

[2020-11-16 17:30] jasminetan6032 commented on #8530
Hi Guillaume,

I tried your recommendations and PyQt5 was successfully installed. But when I tested it, this happened.

(mne-new) C:\Users\jasmine>pip install --force --no-cache PyQt5
Collecting PyQt5
  Downloading PyQt5-5.15.1-5.15.1-cp35.cp36.cp37.cp38.cp39-none-win_amd64.whl (5
9.4 MB)
     |████████████████████████████████| 59.4 MB 3.3 MB/s
Collecting PyQt5-sip<13,>=12.8
  Downloading PyQt5_si

[2020-11-16 18:14] cbrnr commented on #8531
Very nice! So the assumption is that you have the same set of events in both time domains? Could this be used for XDF streams that have a common time basis, but in general different sampling frequencies, to create a `Raw` object with all streams? Currently, MNELAB can only load one stream (and associated events) because resampling is not implemented.

How would you handle the case when two signals

[2020-11-16 18:19] hoechenberger commented on #8530
Would it be possible for you to entirely uninstall Anaconda, grad a fresh installer and start from scratch? Maybe there is something wrong with Anaconda on your system

[2020-11-16 18:34] larsoner commented on #8531
Yes and the user can do this however they want depending on their dataset

In principle this approach could be used, but I would say it's out of scope for the first PR to fix the Neuromag+EGI case (and cases like it)

I would `raw.resample` one or both, then maybe use this function. But really for audio data I wouldn't really do this, cortical EEG responses won't track that fast so you're better o

[2020-11-16 19:37] cbrnr commented on #8531
Sounds good!

[2020-11-16 19:51] larsoner commented on #8530
Yeah this looks a bit like https://github.com/conda/conda/issues/9003

[2020-11-16 21:33] ometett commented on #8531
@larsoner it works in my code too. Thank you very much Eric for the insight, I knew that the drift is linear but could not really figure out how I could manipulate the data where both recordings share the sampling rate. The names are looking good to me, a public API would really help the medical community!

[2020-11-16 21:40] jasminetan6032 commented on #8530
The latest installer doesn't work for me (Possibly a Windows 7 problem). I've tried the following installers and I'm still having the same problem.

Anaconda3-2019.03-Windows-x86.exe
Anaconda3-2019.10-Windows-x86_64.exe
Anaconda3-2020.02-Windows-x86_64.exe

mne sys_info still results in the following error.

[code]

And the jupyter notebook "Compute evoked ERS source power using DICS, LCMV beamfor

[2020-11-17 16:46] drammock commented on #4648
closed in favor of #8429 which has a thorough discussion of Discourse as well as other competing options.

[2020-11-17 16:46] #4648 closed

[2020-11-17 17:45] UrbanM opened #8535 "Problem reading EEG channels of an old yokogawa KIT MEG system with the newest MNE version."
#### Describe the bug
I'm working with data obtained by a 160 channel yokogawa/KIT MEG system, which has 125 axial gradiometers, the others are EEG and trigger channels. This system is located at the PTB institute in Berlin. To import the ".con" file I use the  function: mne.io.read_raw_kit("filename.con"). Until recently, everything worked well, values of both EEG and MEG channels were imported a

[2020-11-17 19:11] #8517 closed

[2020-11-17 22:14] drammock commented on #6531
closed by #8381

[2020-11-17 22:14] #6531 closed

[2020-11-17 22:55] drammock commented on #4769
Not sure when it got fixed, but this works now.

[2020-11-17 22:55] #4769 closed

[2020-11-17 23:29] drammock commented on #4982
this was closed in #6892

[2020-11-17 23:29] #4982 closed

[2020-11-17 23:32] drammock commented on #5009
Closing because the fig and subplot titles look fine to me here (and there are no axis titles): https://mne.tools/dev/auto_tutorials/preprocessing/plot_40_artifact_correction_ica.html#selecting-ica-components-using-template-matching

@jona-sassenhagen feel free to re-open if you disagree, and explain how you think they should look.

[2020-11-17 23:32] #5009 closed

[2020-11-18 09:05] olafhauk commented on #7977
Hi - is there an update on this? I still couldn't get it to work in the development version, and am still talking to our IT guys to find out more about our graphics set up. Is it working for everyone else?

[2020-11-18 09:59] #8456 closed

[2020-11-18 10:07] GuillaumeFavelier commented on #8518
I think we're done here too, feel free to re-open if I missed something.

Closing through https://github.com/mne-tools/mne-python/pull/8533, https://github.com/mne-tools/mne-python/pull/8514/

[2020-11-18 10:07] #8518 closed

[2020-11-18 12:11] larsoner commented on #7977
@olafhauk something like this should work (you'll need to use the `yum` equivalents for `apt-get`):
[code]
If this says it's using Mesa `18.3.6` instead of your builtin `18.3.4` then we're getting somewhere.

I made an Ubuntu 18.04 VM yesterday so that I could make VTK9 wheels. I actually already have a CentOS VM I could try the above procedure on. I'll give it a shot and if it works, I could prob

[2020-11-18 12:17] larsoner commented on #8518
I think just https://github.com/marketplace/actions/ci-skip-action or something similar. Do you want to try?

[2020-11-18 13:08] GuillaumeFavelier commented on #8518
I'm on it :)

We might be more interested in the `fail-safe` version (which is very verbose):

https://github.com/marketplace/actions/ci-skip-action#fail-safe

And AFAIK, only one `commit-filter` can be used

[2020-11-18 13:11] larsoner commented on #8518
It seems like it should be easy enough to modify their action to support `str` or `list of str`, want to look into that? From my experience it's actually kind of fun to make the actions...

[2020-11-18 13:13] GuillaumeFavelier commented on #8518
Okay, I'll look into it :+1:

[2020-11-18 14:19] #7850 closed

[2020-11-18 15:02] larsoner commented on #7977
@olafhauk @bloyl in my year-or-so-out-of-date CentOS 7 VM I did:
[code]
Then I did a variant of the compile commands above:
[code]
I `tar czfv`ed the `lib` directory -- feel free to [try it yourself](http://staff.washington.edu/larsoner/mesa_18.3.6_centos_lib.tgz). If it works, some suitable `export` statements in your `.bashrc` should allow you to make it permanent.

In order to actually try MNE