[2021-03-17 19:26] larsoner opened #9138 "BUG: Check volumetric and surface morphs"
@britta-wstnr mentioned that the volumetric morphs might not (sufficiently) uniformly represent the data in the destination subject's space (e.g., voxel 1 might show up 10% as much as voxel 2). This is something that I think we can and should investigate by at least comparing surface to volumetric morphs. In particular we can:

1. Compare the `morph_mat` sparse representations in terms of row and

[2021-03-17 19:44] jasmainak commented on #8714
MEG 0113 is a bad channel so it has high amplitudes and I think this is the behavior that should be expected. The previous automatic scaling was not good

[2021-03-17 19:54] ramkpari commented on #8714
In this case , I wanted to specifically highlight how channels apart from MEG 0113 don't respond to manually set ylim

[2021-03-17 20:15] jasmainak commented on #8714
indeed ... something funky is going on

[2021-03-17 20:23] #8746 closed

[2021-03-17 20:39] ramkpari commented on #8714
Yeah , Definitely. For now , it looks like the defined ylims seems to be preserved while within plot_evoked_topo and somehow does some weird stuff after the data gets passed on to class `_plot_topo` , which is responsible for producing the actual plot.

Also looking back at the original issue, the default ylims being assigned when `plot_evoked_topo` is called with out any parameters seems to be in

[2021-03-17 20:40] agramfort commented on #9125
probably a bug...

[2021-03-17 20:58] catalinamagalvan commented on #8939
I'll work on this!

[2021-03-17 21:03] #8916 closed

[2021-03-17 21:09] agramfort commented on #9030
Honestly I would say we need some evidence that this should be used by MNE users. In a word before adding this I feel we need "the why". I would like to avoid the argument that it should be added to MNE just but it’s not yet in MNE. Is there some example, some paper, some dataset that would be convincing?

my 2c

[2021-03-17 21:18] drammock commented on #9133
Annotations can in principle have duration of 0, so I guess there's no reason we couldn't create annotations on single click... I think the original thinking was that annotations that are too short are hard to right-click on if you want to remove them later.  @larsoner any opinion here?

[2021-03-17 21:32] #8939 closed

[2021-03-17 22:31] jasmainak commented on #8714
I see ... put a breakpoint and you'll find out what's going on! Between, I think this issue is in many plotting functions -- so potential for bigger PR after you figure this out

[2021-03-17 23:24] britta-wstnr commented on #8969
I guess this (and PR?) can be closed after now deprecating `tf_dics`? Or do we still want to fix? @larsoner

[2021-03-18 06:01] #9008 closed

[2021-03-18 06:40] cbrnr commented on #9133
Let's not create short annotations with a single click, but rather stick with click and drag. That way, accidental clicks into the plot won't create annotations, which I'm sure would be very annoying. Clicking and dragging could be modified to support shorter durations though. I guess at the very least we could reduce the current threshold - is it a constant 100ms or does it depend on the currentl

[2021-03-18 09:16] anaradanovic commented on #8931
I'll take care of this!:)

[2021-03-18 09:37] anaradanovic commented on #8940
I will take care of this!:)

[2021-03-18 09:41] cbrnr commented on #9125
I think it plots the average of picked channels, even though `combine=None` is the default (and which apparently doesn't work). So unless I'm using it totally wrong I also think this is a bug. @mmagnuski you seem to have used TFRs a lot, WDYT?

[2021-03-18 09:49] anaradanovic commented on #8944
I'll take care of this!:)

[2021-03-18 10:04] #8982 closed

[2021-03-18 10:19] agramfort commented on #8969
@kimcoco are you ok if we say "won't fix" now that tf_dics is deprecated?

I would say yes personally

[2021-03-18 10:29] catalinamagalvan commented on #7482
About (1), the calculation steps are here very similar to the ones in 《Optimizing Spatial Filters for Robust EEG Single-Trial Analysis》. The only difference I see is that in this function the generalized eigenvalue problem solved is:

`eigen_values, eigen_vectors = linalg.eigh(covs[0], covs.sum(0))`

instead of

`eigen_values, eigen_vectors = linalg.eigh(covs[0], covs[1])`

that would be strictly

[2021-03-18 11:34] catalinamagalvan commented on #7093
I'll work on this! :)

[2021-03-18 11:54] #8773 closed

[2021-03-18 12:19] kimcoco commented on #8969
Thank you for asking! I personally would be happy to have my fix (which is completed and approved) merged for the time being, as I am using it for a current experiment, and am working on different computers, which would mean my scripts still run everywhere during 0.23 and I don't need to fix manually in different places... but I am just one user.
What do you think about merging the fix, but leavin

[2021-03-18 12:32] agramfort commented on #8969
works for me then

[2021-03-18 12:44] #8940 closed

[2021-03-18 12:45] marsipu commented on #8718
I want to give it a shot.

[2021-03-18 13:19] vagechirkov commented on #6846
[code]

@hoechenberger @agramfort is it something that you expect in the ```_repr_html``` method?

[2021-03-18 13:32] agramfort commented on #6846
can you share a screen shot?

[2021-03-18 13:37] #8130 closed

[2021-03-18 13:44] anaradanovic commented on #8559
I can take care of this!:)

[2021-03-18 13:53] vagechirkov commented on #6846
The design is random :)

![image](https://user-images.githubusercontent.com/42982039/111637402-ac2a6c80-87f9-11eb-9917-db76dbc11e5d.png)

[2021-03-18 14:01] hoechenberger commented on #6846
I'm wondering if we could "cast" the Info into a pandas DataFrame and simply use the DataFrame's HTML representation method?

[2021-03-18 14:11] agramfort commented on #6846
pandas is not a hard dependency of mne

[2021-03-18 14:23] anaradanovic opened #9148 "Fix bibtex citation and add missing reference into glossary for spectral.py"
The citations in mne/connectivity.spectral.py need to be corrected into bibtex citation format. It seems that one of the citations listed in the reference is also missing in references.bib

I can tackle this!

[2021-03-18 14:26] #9111 closed

[2021-03-18 14:32] hoechenberger commented on #6846
Ok. Then, how about repurposing what we already have in `Report`?
https://github.com/mne-tools/mne-python/blob/fc3f2b56bc172eb3b747751e636d55b0cbb56861/mne/report.py#L819-L874

[2021-03-18 14:36] agramfort commented on #6846
+100 !

[2021-03-18 14:55] #8993 closed

[2021-03-18 15:16] #8969 closed

[2021-03-18 15:38] eort commented on #9125
If I am not mistaken, this should essentially describe the same bug as #8013
I committed a fix that is currently waiting to be checked (#9150). Perhaps you, @cbrnr can also check whether this proposed changed solve your problems?

Btw, the current default behaviour for `picks=None` is plotting all channels in a separate figure. So unless you reduced your tfr object to only the channels your are in

[2021-03-18 15:45] cbrnr commented on #9125
I only get exactly one figure with `picks=None` (which is the default behavior).

[2021-03-18 15:52] eort commented on #9125
Yes, that's right. I meant in my commit. Fixing that issue of always getting exactly one figure, wIthout changing the default behaviour of picks, will lead to as many figures as you have channels.

[2021-03-18 16:41] cmista commented on #9030
Good point @agramfort , because it give rise to 2 questions. One is whether it's worth studying nonlinear coupling in brain activity (which I'm biased to say yes). The second point is whether this feature will be useful for MNE-python users. I guess some users might be confused with so many indexes, and they could ending p-hacking their results in the worst-case scenario. I'll leave it as it, and

[2021-03-18 16:58] jshanna100 commented on #9030
The primary benefit in my view is the addition of _directed_ connectivity to the MNE repertoire. As far as I know, there are still only non-directed methods available in MNE. Secondarily, it would be nice to offer an information theory based method.

As far as papers go, I think a case is already more than adequately made in the two citations I gave above. I would personally name dPTE's robustness

[2021-03-18 17:57] marsipu commented on #8876
I saw at the [demo-site](https://pydata-sphinx-theme.readthedocs.io/en/latest/user_guide/configuring.html) of the theme, that they already got sticky sidebars. I will try to find out how to configure that for MNE-Python.

[2021-03-18 18:07] vagechirkov commented on #6846
Here is an example of ```raw_template``` output using ```IPython.display.HTML```

![image](https://user-images.githubusercontent.com/42982039/111674929-dc373700-881c-11eb-9373-4fa253cb16c6.png)

[2021-03-18 18:17] neurogima commented on #6947
I'll try with this one. I'm kind of familiar with the matter in matlab let's see how's in python

[2021-03-18 18:27] cmista commented on #9002
I want to take this one.

[2021-03-18 19:18] larsoner commented on #6947
@neurogima a quick pointer is that currently you will probably find in the code that we cull the list of `dig` points to those in the head coordinate frame, and transforms those to the destination coordinate frame of the visualization (can be head, meg, or MRI). So I would think that the PR to add what @bloyl wants would loop over coord frames head/meg/MRI and make three separate lists of coordina

[2021-03-18 19:21] larsoner commented on #6846
That's great! I think if the `html` is returned by `_repr_html_` it should work properly.

Incidentally you can show this off in our doc build by modifying some example that talks about meas info, and just having a line at the end of some code block like:
[code]
Sphinx-gallery will recognize this statement-without-assignment and, if the object has a `_repr_html_`, add it to the output of the code

[2021-03-18 20:39] agramfort commented on #6846
yes I would add _repr_html_ methods and then make sure that report.py just reuses these so we shoot 3 birds with one stone. It will work for the notebook, the doc and the Report

[2021-03-18 22:19] alexrockhill opened #9155 "[ENH] Add electrode coregistration GUI for aligned CT/MRIs for ieeg processing"
@larsoner said to open an issue to discuss this, since a new GUI is pretty major maintenance but @adam2392 @jasmainak and others (me) have expressed interest in incorporating this where it would be high quality and have a lot of users as a part of mne-python. I have a manual version written using PyQt5 but it's too slow and Eric suggested a VTK embedding would be much better. This is based on the

[2021-03-18 22:31] adam2392 commented on #9155
Adding some more features that would make it even more highly attractive for iEEG:

- automatic sEEG interpolation backend if at least 2 contacts are manually localized per sEEG electrode (I have some existing code with an talented ugrad here, and I can link an overleaf document with more info). We simply would have to refactor/test.
- we can add a magnet feature; knn brightest pixel type algorith

[2021-03-19 01:36] drammock commented on #9148
closed by #9153

[2021-03-19 01:36] #9148 closed

[2021-03-19 01:39] drammock commented on #8944
closed by #9144

[2021-03-19 01:39] #8944 closed

[2021-03-19 01:40] drammock commented on #8931
closed by #9142

[2021-03-19 01:40] #8931 closed

[2021-03-19 01:43] drammock commented on #8914
this was addressed in #9153

[2021-03-19 01:43] #8914 closed

[2021-03-19 09:03] vagechirkov commented on #7858
@agramfort @adam2392 I think there is already [description in the glossary](https://github.com/vagechirkov/mne-python/blame/main/doc/glossary.rst#L123) and proper [documentation of the function](https://github.com/vagechirkov/mne-python/blob/56e9fbe67a554272a71dfd2b9ae96eb7fd58d104/mne/coreg.py#L1224). Is it still an open issue?

[2021-03-19 09:53] eort commented on #8479
I'll have a go

[2021-03-19 10:30] vagechirkov commented on #6846
Here is am output of rendering `plot_report.py` tutorial:

![image](https://user-images.githubusercontent.com/42982039/111766710-244e6c00-88a6-11eb-8e7b-33978c4d51e5.png)

[2021-03-19 11:05] agramfort commented on #7858
@adam2392 <https://github.com/adam2392> are the links shared above clear
enough?

On Fri, Mar 19, 2021 at 10:04 AM Valerii ***@***.***> wrote:

[2021-03-19 12:06] adam2392 commented on #7858
Yes I think this is stale now. Can close

[2021-03-19 12:11] eort commented on #8479
renders fine: https://26258-1301584-gh.circle-artifacts.com/0/dev/generated/mne.stc_near_sensors.html

[2021-03-19 12:47] agramfort commented on #9030
I like what you say Jeff ! let's give this a try then. I am super curious
to see who the benchmark on synthetic data will reveal !

[2021-03-19 12:59] agramfort commented on #9094
@FriederikeScholten sorry for the slow reaction time. I just tried your script on my system and I had no issue.

as you have a github repo you coudl setup GH actions with windows to test the script on a different windows system?

[2021-03-19 13:12] #7858 closed

[2021-03-19 13:40] catalinamagalvan commented on #9018
I'll work on this!

[2021-03-19 14:10] adam2392 commented on #9155
@alexrockhill just spoke w/ @agramfort  and @hoechenberger and I think there potentially is interest assuming it doesn't rely on mayvi :p

Agram suggested to us: "let’s get some screenshots/videos for iEEG localization using the GUI to make things more explicit"

cc: @jasmainak

## FYI: iEEG Analysis Workflow Generically Looks Like

1. pipeline: handle different imaging, and clinical metadata to g

[2021-03-19 14:12] mpcoll commented on #9133
Thanks!
I did a few tests and setting minspan to _None_ in the selector (_figure.py line 1552) allows the creation of a 0 duration annotation with a single click. It can't be deleted with a right click but if draggable edge is turned on, it can be extended and then deleted easily.

To be able to directly delete with a right-click and no draggable edge, minspan=(1/sfreq)*2 works but needs a bit of

[2021-03-19 14:59] drammock commented on #9133
Personally I see "single click to create zero-duration annotation" as a valid use case.

That seems like a good enough user experience to me.  I think it would require having draggable edges turned on by default; users can turn it off and be warned in the docstring and UI that zero-duration annotating will be disabled while it is off.

@agramfort @larsoner any opinions here?

[2021-03-19 15:01] agramfort commented on #9133
like this it seems ok. I would need to play myself to see how it flies.

[2021-03-19 15:08] cbrnr commented on #9133
Can we try to make right-click delete work? Then this would be independent of the draggable edges setting.

[2021-03-19 15:23] adam2392 commented on #9060
Btw @alexrockhill spoke with @agramfort and he's opposed to adding this type of functionality into MNE-python. He thinks that it might be useful for a sub-group of us to try to band together w/ `scot`, and ppl here https://github.com/mne-tools/mne-python/issues/9030#issuecomment-802110862 to basically implement a 3rd-party mne-connectivity stand-alone package that:

1. takes out the current `mne.c

[2021-03-19 15:28] adam2392 commented on #9060
Additional notes, so I dont' forget:

ask all people in scot/new connectivity indexes about forming into something like `mne-connectivity`, or outside the mne.tools even
	- separate package
	- see where ppl are at and how interested they are in developing/maintaing
	- power_envelope_correlation: acknowledged as something that works
	- how can we quantitatively evaluate algorithms in this package

[2021-03-19 16:18] sappelhoff commented on #8929
closed in #9051

[2021-03-19 16:18] #8929 closed

[2021-03-19 16:44] sappelhoff commented on #8904
closed in https://github.com/mne-tools/mne-python/pull/9053

[2021-03-19 16:44] #8904 closed

[2021-03-19 16:47] sappelhoff commented on #3525
closed in #9091

[2021-03-19 16:47] #3525 closed

[2021-03-19 16:52] sappelhoff commented on #8905
closed in https://github.com/mne-tools/mne-python/pull/9058

[2021-03-19 16:52] #8905 closed

[2021-03-19 16:58] sappelhoff commented on #8922
closed in #9106

[2021-03-19 16:58] #8922 closed

[2021-03-19 17:06] #8930 closed

[2021-03-19 17:16] sappelhoff commented on #8559
closed in #9147

[2021-03-19 17:16] #8559 closed

[2021-03-19 17:19] drammock commented on #9133
We could in principle increase the "hit" tolerance on the zero-duration annotations, so that right-clicking within 3-4 pixels of it would count as a hit.  Seems worth trying out.  If the zero-duration annotation overlapped another annotation of a different type, the behavior is hard to predict...  but nowadays we can dynamically show/hide different annotation types through the UI, so it is possibl

[2021-03-19 17:36] drammock commented on #9060
crossref to #9030 and  cc @cmista and @jshanna100

[2021-03-19 17:40] sappelhoff commented on #2828
@drammock is this really in progress? It seems to me that @jasmainak self-assigned in 2016 :-) I think that's no longer up to date.

I think this is still "up for grabs"

[2021-03-19 17:42] sappelhoff commented on #5111
closed in #9114

[2021-03-19 17:42] #5111 closed

[2021-03-19 17:48] mpcoll commented on #9133
Another potential solution might be to replace the right-click delete with a right-button SpanSelector and clear all annotations within the right-button selector. It also has the added benefit of being able to delete multiple annotations at once.

I tried it and it seems to work well enough but maybe it comes with some other downside I can't see

Added this after _select_annotation_span ~ line 133

[2021-03-19 18:08] agramfort commented on #9060
+100

[2021-03-19 18:50] jasmainak commented on #9155
hey @alexrockhill and @adam2392 ! Great idea to start a issue. I can't see the video though :( File seems corrupt ...

Do you have an idea how many lines of code a simple GUI-based thing would involve? How big/mature (=how many contributors/users) is the community around `img_pipe`/`seek`? I'm asking because I'm trying to figure out which of the following options makes most sense: a) help improve

[2021-03-19 19:20] drammock commented on #2828
I was just hoping to inspire @jasmainak to finally get to it 😆

[2021-03-19 19:56] nordme opened #9167 "Add verbosity to mne.connectivity.envelope_correlations()"
Feature description:

I propose adding verbosity to the mne.connectivity.envelope_correlations() function.

Currently, mne.connectivity.envelope_correlations() takes about two minutes to run on my Linux machine, and it does not output any text to the user indicating its progress.  Because of the long run duration, it's easy to start worrying that the script has crashed when there is no progress fe

[2021-03-19 20:03] jasmainak commented on #2828
I did say, I'll get to it by Monday .......

2021? :)

[2021-03-19 20:05] adam2392 commented on #9155
In terms of workflow for research and clinical usage related to your question "should X go in MNE-Python":

1. pipeline stuff: imo at least, this doesn't need to be in MNE-Python, or MNE even, but if it was an MNE product, it would definitely gain visibility :p. I think this can either be in the form of `nipye` in img_pipe, or `snakemake` in seek-pipeline (oh god plz no custom shell scripts :p). M

[2021-03-19 20:12] larsoner commented on #9167
+1 from me!

[2021-03-19 20:40] #8934 closed

[2021-03-19 21:07] #9108 closed

[2021-03-19 21:37] #8346 closed

[2021-03-19 21:41] drammock commented on #8920
closed by #9105

[2021-03-19 21:41] #8920 closed

[2021-03-20 00:13] #8974 closed

[2021-03-20 00:58] #7093 closed

[2021-03-20 01:02] #8479 closed

[2021-03-21 12:47] hoechenberger commented on #9112
Partially related, but a while a go I started documenting how to get the basics of a Python & JS development environment set up on macOS:

https://docs.google.com/document/d/1ONwEPWYYBpuAhlVEIv5gZytGPC4i8B4uxixTLMcczF0/edit?usp=sharing

[2021-03-21 13:34] #8979 closed

[2021-03-21 20:17] vagechirkov opened #9177 "Jupyter Notebook representations of MNE objects"
Add HTML rendering of the MNE objects using `_repr_html_` method.

TODO list:

- [x] `Info` #6846 #9161

    <details>

    ![image](https://user-images.githubusercontent.com/42982039/111919350-d7c38600-8a89-11eb-8198-02c228652748.png)

    </details>

- [x] `BaseRaw` #9161 #9172

    <details>

    ![image](https://user-images.githubusercontent.com/42982039/111919303-9d59e900-8a89-11eb-80d9-2730c

[2021-03-21 21:04] hoechenberger commented on #9177
I took the liberty to add `SourceEstimate` to the list, too :)

[2021-03-22 14:56] FriederikeScholten commented on #9094
@agramfort thanks for your suggestion. I set up the GH action and it still gives the same error when using windows-latest runner, but it works without a problem with an ubunto-latest runner.

[2021-03-22 15:03] FriederikeScholten commented on #9094
As an addition, a colleague ran the code on the Window system and in his WSL. The error pops up in the former, but not in the latter system.

[2021-03-22 15:42] eort opened #9181 "[DOC] Improve tutorials for generating `-trans.fif`"
In the process of setting up a source-space-analysis, it took me a really long time to realize all the steps necessary to create a `-trans.fif`. As I am new to these type of analyses, it could be just me not knowing the terminology and what to look for, but I think there could be a more intuitive description of the procedure here.

Specifically, I needed several readings of the tutorials and attem

[2021-03-22 16:10] agramfort commented on #9094
can you show me the log on GH action failure build?

[2021-03-22 17:25] alexrockhill commented on #9060
I'm not sure I understand all the technical details for this implementation, but, to me, this seems a bit like a 'thin'/single-function API that wouldn't be suitable in [JOSS](https://joss.theoj.org/about#:~:text=Scope%20%26%20submission%20requirements&text=JOSS%20submissions%20must%3A,not%20one%2Doff%20modifications)) for instance. Maybe I am mistaken about the scope of the implementation though.

[2021-03-22 17:29] drammock commented on #9181
Thanks for this issue. `mne.coreg` has been on our list of under-documented functionality for quite some time, and it would be great to have a proper, thorough tutorial that focused on creating a `-trans.fif` file from scratch.  I think if you created that tutorial, then the section "Defining the head↔MRI trans using the GUI" could be removed from the coordinate frames tutorial and replaced by a s

[2021-03-22 17:32] alexrockhill commented on #9155
Huh the video works just fine on my browser...

Seems like around 30 people have posted issues to/starred/forked `img_pipe` so I would guess there is maybe a few times that that have been at least interested.

I would be in favor of having a separate package that has everything you need hosted somewhere besides mne that allows users to have more functions to do everything you might need (a lot of

[2021-03-22 17:41] larsoner commented on #9181
At a higher level, at the end of the day I think the important things are that 1) we set up electrode coordinates in the head coordinate frame, and 2) we define the head<->MRI coordinate frame transformation properly. How you do these things will depend on your use case, I think there are three workflows that should cover most people:

1. M/EEG with subject-specific MRI (@eort's case sounds like s

[2021-03-22 17:43] drammock commented on #9060
There is already https://github.com/mne-tools/mne-sandbox although it's been stagnant for a while...

[2021-03-22 17:43] agramfort commented on #9060
I would start from https://github.com/mne-tools/mne-project-template

and start putting there the various connectivity measure we have in
mne-python and elsewhere

after the first release of "mne-connectivity" we should start deprecating
the mne.connectivity module.

my 2c

[2021-03-22 20:23] hoechenberger opened #9182 "Automatic light/dark mode switching of open STC plot windows"
On macOS, apps that support light and dark themes switch between the two if the system theme is changed, without requiring a restart. It would be good if our STC plotters could do the same.

https://user-images.githubusercontent.com/2046265/112053418-9e0b8180-8b54-11eb-8a9a-d49b3e467c45.mov

In this screencast you can also see that the color of the title bar is not correct in dark mode, but that m

[2021-03-22 20:25] larsoner commented on #9182
This one to me seems like it will be a lot of work and/or potentially fragile (probably need to hook into some system notification thing) for very small added benefit (since theme changes are generally rare).

[2021-03-22 20:27] hoechenberger commented on #9182
Yeah, no idea, I thought maybe Qt provides can trigger a callback upon theme change, no idea.

But the light title bar … would be super nice if we could make this one dark ;)

[2021-03-22 20:27] hoechenberger commented on #9182
cc @marsipu

[2021-03-22 20:29] hoechenberger commented on #9182
plus the STC views are typically not long-lived and can simply be recreated, unlike e.g. a text editor or terminal window, which you may want to keep open for days or weeks.

[2021-03-22 20:41] hoechenberger commented on #9038
It was decided in #9113 that we don't want this, after all!

[2021-03-22 20:41] #9038 closed

[2021-03-22 21:10] marsipu commented on #9182
Is the titlebar white when you start in darkmode?

To dynamically change with the mode, one could maybe add a QTimer and check periodically for a change from darkdetect. But it is maybe questionable as you already said, if it was worth it (and I don't know @GuillaumeFavelier, how that would influence the performance of the BackgroundPlotter).

I read some forum-entries about the titlebar, it seems

[2021-03-22 21:28] drammock commented on #8968
closed by #9156

[2021-03-22 21:28] #8968 closed

[2021-03-22 21:29] drammock commented on #9107
closed by #9169

[2021-03-22 21:29] #9107 closed

[2021-03-22 21:34] cbrnr commented on #9182
Take a look how I do it in MNELAB. It works on macOS and Linux, but unfortunately Qt doesn't support that on Windows (yet).

[2021-03-22 21:43] marsipu commented on #9182
Nice, what do you do? Is it the part with the NSBundle?

[2021-03-23 06:44] cbrnr commented on #9182
No, I'm catching a `QEvent` here: https://github.com/cbrnr/mnelab/blob/main/mnelab/mainwindow.py#L1011-L1019

This event is triggered whenever the OS theme changes. Therefore, you can use it to change themes on the fly, but as I said not on Windows. However, maybe this isn't that bad, because Windows doesn't have a dynamically changing dark/light theme (it's more like a setting you choose once).

[2021-03-23 06:46] cbrnr commented on #9182
However, since you're using style sheets this will probably not work. I think the white title bar is also due to style sheets.

[2021-03-23 09:41] FriederikeScholten commented on #9094
@agramfort  I added the GH actions (one with windows and one with ubuntu) in my [repository](https://github.com/FriederikeScholten/CSP-error-LinAlgError) where you can see the failure for the windows version.

[2021-03-23 11:13] marsipu commented on #9182
Nice thank you, maybe it would work if we connect the Stylesheet-Change with your PaletteChange-Event?
Could it be, that Qt changes to dark automatically on MacOS and Linux? Or how do you influence the appearance apart from the icons in mnelab?
Coming from Windows (unfortunately I have not access to other devices at the moment) I just thought about stylesheets because they seemed to work with all

[2021-03-23 11:38] cbrnr commented on #9182
It's worth a try.

Exactly, I only change the icons manually. On Windows this doesn't work unfortunately, mainly because Qt still does not provide a native dark theme for Windows (not even Qt6).

They do (except for the title bar apparently), but style sheets never look like a native app (although I think it's very close).

[2021-03-23 12:07] larsoner commented on #9182
Ahh if it's based on some Qt event then ignore what I said about being much work or fragile, it should be neither of those. And even detection of the style name is [two lines of Foundation code](https://github.com/cbrnr/mnelab/blob/main/mnelab/utils/utils.py#L23-L27) which seems okay.

Personally my vote would be to use Qt's builtin dark support/styling as much as possible (OSX via icon change) an

[2021-03-23 12:31] cbrnr commented on #9182
:+1: but native styling works on both macOS and Linux, so style sheets should only be required on Windows.

[2021-03-23 13:32] larsoner commented on #9182
Even better!

[2021-03-23 13:41] marsipu commented on #9182
I wonder, why dark mode was not automatically applied already on MacOS and Linux before we added the stylesheets.
Could it be, that the dark-mode is not supported yet by the default pyqt-version (5.12.3) we get from conda-forge?

[2021-03-23 13:54] cbrnr commented on #9182
Could it be, that the dark-mode is not supported yet by the default pyqt-version (5.12.3) we get from conda-forge?

I just tried this with MNELAB, and indeed it seems like 5.12 has not fully implemented theme switching. Only the title bar and icon bar adapt with the theme, but the main widget and status bar remain with the theme they had when I started the app. Therefore, it might be a good idea t

[2021-03-23 14:01] larsoner commented on #9182
Qt 5.14+ VTK does not render in HiDPI, which to me is (much) more important than properly setting the colors of the Qt controls / icons / theme:

https://gitlab.kitware.com/vtk/vtk/-/issues/17953

If theme switching works on 5.13 then we can use that, though, since VTK works properly with that.

Also on Linux I've never had my Qt be anything other than light despite using a dark theme (and latest

[2021-03-23 14:13] cbrnr commented on #9182
Re Qt 5.14+, that's really a pity. Being stuck with an old version will only make things worse over time, so I really hope that VTK fixes this bug (BTW this is another reason why I would want to avoid VTK for a raw viewer and rather stick to pure Qt).

I will test if theme switching works with Qt 5.13, but this would mean that we'd have to mix pip installs with conda, which is never a great idea.

[2021-03-23 14:20] hoechenberger opened #9186 "Reading EDF file yields incorrect scaling"
Reported on the forum:
https://mne.discourse.group/t/eeg-data-in-edf-not-converting-in-volt/

The user provided an EDF file which specifies in its header that the data is in µV. When reading this file with MNE-Python, the data is treated as V.

[2021-03-23 14:20] cbrnr commented on #9182
Yes, theme switching on macOS works with Qt 5.13!

[2021-03-23 14:24] larsoner commented on #9182
There is some suggestion that to trigger it you have to call setStyle, so maybe MNELAB always calls this, and if we do it (on 5.13+) it will work automagically on Qt and/or Linux as well:

https://stackoverflow.com/a/59625439/2175965

[2021-03-23 14:27] cbrnr commented on #9182
I'm not calling `setStyle` anywhere in MNELAB.

[2021-03-23 14:28] cbrnr commented on #9186
Opening the file linked in the discussion thread in a hex editor shows that the units are declared as `.V` - so this is clearly an invalid EDF file.

[2021-03-23 14:31] drammock commented on #9186
invalid file → `wontfix`?

[2021-03-23 14:33] cbrnr commented on #9186
Yes. MNE has never been super strict, but we should not try to interpret `.V` as `µV`.

[2021-03-23 14:33] larsoner commented on #9182
Ahh I thought you did, guess that's not it. Unfortunately for me even on Adaiwata-dark and Qt 5.15.3 `mnelab` produces a light theme, so I can't investigate on my Linux machine:

![Screenshot from 2021-03-23 10-31-19](https://user-images.githubusercontent.com/2365790/112163247-39d3d680-8bc3-11eb-8d80-bc763672d9f5.png)

I can perhaps investigate on my macOS laptop later. Presumably there is some im

[2021-03-23 14:34] cbrnr commented on #9186
Which raises the question: since we do load the file, should we perhaps be stricter and raise an error? I've always argued not to do that, because having incorrectly scaled data is better than having no data.

[2021-03-23 14:36] larsoner commented on #9186
I agree, +1 for a warning when we can't safely interpret the units. Then the user can fix their file or adjust their processing as necessary

[2021-03-23 14:36] hoechenberger commented on #9186
My personal feeling is we should throw an error. I feel that incorrectly scaled data is **worse** than no data ;)

[2021-03-23 14:36] hoechenberger commented on #9186
Ok, a warning it is!

[2021-03-23 14:37] cbrnr commented on #9182
I'd be very interested in anything you find out! It's weird that you always get a light theme, but maybe that's how it is. I'll let you know as soon as I get to my Linux box!

[2021-03-23 16:23] Sumalyo commented on #9186
I have tried to address the issue, showing a warning if the unit read is in Volts

[2021-03-23 18:00] larsoner commented on #9181
I think that your (1) is really "run recon-all" and we should point people to the FreeSurfer docs on how to do this. Then the MNE tutorial is "after you have a FreeSurfer subject, do X Y Z", which would pretty much be (2) and (3) in your list. (2) should really just be `mne make_scalp_surfaces`, and (3) should really just be `mne coreg`.

I'm not 100% the best way to structure this stuff, let's wa

[2021-03-23 18:19] alexrockhill commented on #9078
Maybe we could table this until the next dataset we'd like to use for an example, that way we might have a better idea what would be nice as far as functionality to be added

[2021-03-23 20:59] drammock opened #9188 "MAINT: don't skip CIs when merging to main?"
as I write this, the most recent merged PR was #9185 which had all-green CIs.  The commit message for the squashed commit (70709f5069ddb413c2719f4d2b41fd6bfea2349a) does not say "ci skip" or use any other of our skip codes, and yet, all the GitHub CIs are showing as "cancelled" (click the red X at the top of the repo homepage where it shows "most recent commit").  Questions:

1. why?
2. is this wh

[2021-03-23 21:22] agramfort commented on #9181
agreed

[2021-03-23 22:31] larsoner commented on #9188
I'm guessing it's due to the new Cancel job being configured incorrectly. Some digging through the logs in https://github.com/mne-tools/mne-python/actions might shed some light on it

[2021-03-24 09:27] GuillaumeFavelier commented on #9182
On PyVistaQt, the `event()` function of the `QMainWindow` is available in:

https://github.com/pyvista/pyvistaqt/blob/master/pyvistaqt/window.py#L29-L34

I think it would be possible to open a PR there to throw a `signal_palette_changed` or something. Then it can be connected to the theme switcher :)

[2021-03-24 09:30] eort commented on #9181
Sounds good. Only, April 2 I am not available unfortunately.

[2021-03-24 09:47] cbrnr commented on #9182
Can you not override the `event` function and catch the signal?

[2021-03-24 09:51] GuillaumeFavelier commented on #9182
It would be hacky since we don't design the window itself in mne but just borrow the one created by `BackgroundPlotter` in PyVistaQt.

[2021-03-24 09:58] cbrnr commented on #9182
Hm, to me reimplementing `event` sounds less hacky than emitting a (more or less) arbitrary signal upstream. What about deriving a custom `BackgroundPlotter` class where you reimplement `event`?

[2021-03-24 10:03] cbrnr commented on #9182
Also, I think you can connect the `QEvent.PaletteChange` signal to another slot?

[2021-03-24 10:07] GuillaumeFavelier commented on #9182
`BackgroundPlotter` inherits from `QtInteractor` and uses composition for `QMainWindow`. So it could be possible to modify the parameters at `__init__` so that it can accept a window object for example and this one would be custom in `mne-python`. I still think the signal is simpler. Also, I would rather maintain only one version of the plotter if possible xD

[2021-03-24 10:21] GuillaumeFavelier commented on #9182
Another solution would be to drop `BackgroundPlotter` completely, use `QtInteractor` directly and design our own `QMainWindow` of course :)

I don't understand, do you mean directly without intermediate signal?

[2021-03-24 10:27] cbrnr commented on #9182
Or derive from `MainWindow` that's already there and just reimplement `event`.

Yes. Wouldn't that work? You write a slot and connect it to this signal.

[2021-03-24 10:34] GuillaumeFavelier commented on #9182
Which signal though? By looking online, I found only some enums like `QEvent::PaletteChange` and `QEvent::StyleChange`.

https://doc.qt.io/qt-5/qevent.html#Type-enum

[2021-03-24 10:44] cbrnr commented on #9182
`QEvent::PaletteChange` is the one I'm processing in MNELAB.

[2021-03-24 10:54] GuillaumeFavelier commented on #9182
To me, it's not a signal, just an enum. You use it in MNE-lab to filter events and process theme change directly. What I suggest in https://github.com/mne-tools/mne-python/issues/9182#issuecomment-805642080 is to emit a signal instead, something like:

[code]

And this will turn the event into a signal that can be connected.

[2021-03-24 11:01] cbrnr commented on #9182
You're right, I mixed up events and signals. I still think translating `QEvent::PaletteChange` is a bit awkward, creating a custom `MainWindow` (which inherits from PyQtVista's `MainWindow`) seems to be the better solution to me.

In addition, what about implementing a custom `eventFilter` method? This should also be able to handle system events.

In any case, I'm not familiar with PyQtVista, so m

[2021-03-24 11:15] GuillaumeFavelier commented on #9182
This is a cleaner design for sure.

I did not even know about this, it sounds really useful :sweat_smile:

[2021-03-24 12:44] larsoner commented on #9182
I would look into the automatic theme support (instead of using CSS) on macOS. Having custom signals and event handling functions just to take care of when a user switches a theme during use of these usually transient windows is starting to sound like more work to implement and maintain and think about than it's worth at the user end.

[2021-03-24 12:58] hoechenberger commented on #9182
+1 @ what @larsoner just said. Unless somebody is really willing to put that much effort and time into this -- which I would appreciate, but I can live without it. We've made a great step forward already!

[2021-03-24 17:08] u01ai11 commented on #7504
Not that this impacts the solution, but you might be interested in where these spurious events are coming from. It may be an issue with set-ups which have devices (e.g. button boxes) share channels with software triggers -- which impacts the calculation of STI101. I think this is done to preserve parallel port compatibility for different presentation software. For instance the Cambridge Neuromag s

[2021-03-24 19:16] adam2392 commented on #9155
@alexrockhill do you mind linking to the repo that houses the GUI you showed us during sprint? I will try to find some time to PR ;)

Might try to get some undergrads too to help out if possible.

[2021-03-24 20:58] #9110 closed

[2021-03-24 23:50] mmagnuski commented on #9177
This is cool! :)

[2021-03-24 23:51] alexrockhill commented on #9155
Sure it's here https://github.com/alexrockhill/img_pipe, thanks so much for being interested in this. It would be great to have the picker use PyQt for the widgets (which it already does) with a VTK embedded window for the graphics (backend currently matplotlib) as @larsoner suggested if you're looking to do a PR or two.

Eventually maybe we could have the GUI in GitHub and then the rest of the pi

[2021-03-25 07:07] jackz314 opened #9193 "Crashes when using read_epochs_eeglab on files with only one trial."
#### Describe the bug
When reading in single trial EEGLAB files as epochs, MNE will crash when initializing `EpochsEEGLAB`. This is because the trial count is 1, so creating the `event_id` dict is skipped, and when [this line](https://github.com/mne-tools/mne-python/blob/13a0de51bd0f13113d866e73522fb60bdde37809/mne/io/eeglab/eeglab.py#L507) references `event_id`, an `AttributeError` will be thrown

[2021-03-25 07:11] agramfort commented on #9193
to me it's a bug

can you open a PR to also support single epoch files?

[2021-03-25 07:38] cbrnr commented on #9133
Let's stick to the existing UX and just increase the click toleration to 3 pixels around it, I feel that right-click and dragging is a very exotic interaction.

[2021-03-25 09:23] #9120 closed

[2021-03-25 10:34] hoechenberger commented on #9078
Could you bring me up to speed what's the current status here? Do you need any help from my end? Does `openneuro-py` do everything you need?

[2021-03-25 11:14] hoechenberger opened #9195 "Limit Epochs rejection to subset of channels / exclude channels from rejection"
I'm working with EEG recordings that include data from electrodes placed very close to the eyes, capturing lots of EOG activity. I use these channels to identify and  auto-clean EOG artifacts using ICA. I have ICA operate on Epochs.

Because I want to avoid passing any Epochs with spuriously large signal amplitudes to ICA, I set a `reject` parameter for my epochs. This successfully removes a bunch

[2021-03-25 11:17] cbrnr commented on #9195
I think this is a good idea. We could pass a `dict` such that it allows you to specify channel-specific thresholds, e.g. `reject={"Fp1": 2e-5, "Fp2": 2e-5}`. Not sure how to handle the other channels then though.

[2021-03-25 11:21] hoechenberger commented on #9195
I like this idea. We could allow for something like:

[code]
and the `Fp1` and `Fp2` specifications would supersede the broader specification of `eeg`

[2021-03-25 11:24] cbrnr commented on #9195
The only problem I see is if there is a channel called "eeg".

[2021-03-25 11:26] hoechenberger commented on #9195
Or we just go with the ability to exclude channels from rejection?

[code]

[2021-03-25 11:32] cbrnr commented on #9195
But this is different from channel-specific thresholds. I'm not sure what would be more useful.

[2021-03-25 11:33] hoechenberger commented on #9195
yes but you could apply channel-specific thresholds that way too by rejecting repeatedly with different settings, it would just be a little ugly. ;)

[2021-03-25 11:36] cbrnr commented on #9195
😆 I agree, this would be ugly.

[2021-03-25 13:07] larsoner commented on #9195
Agreed on this API and the other case:
[code]
would mean "don't reject based on EEG for anything other than Fp1 and Fp2 at these levels", i.e., acts the same way as
[code]

We already have problems in principle with this for `picks` / `_picks_to_idx` and in practice nobody has complained, so I think we can safely ignore this corner case.

From an I/O standpoint we currently just `json.dumps` our `

[2021-03-25 13:50] hoechenberger commented on #9195
Ok, everybody cool with going with
[code]
then..?

[2021-03-25 14:38] drammock commented on #8923
@anaradanovic are you still working on this one and on #8919 ?  Or shall I take over?

[2021-03-25 14:46] #9003 closed

[2021-03-25 15:22] alexrockhill commented on #9078
The idea was that it would be nice to be able to use datasets on OpenNeuro for mne examples. It would be nice to only get one subject and one run for speed of execution for example. I think it might help to make an example with a dataset on OpenNeuro even if the theme was just using an OpenNeuro dataset with mne. That might be better on `mne-bids` though. I can start a PR for that now.

[2021-03-25 15:27] agramfort commented on #9078
Let's start with openneuro-py in autoreject to see how it files.

there is a burning need in autoreject that downloads >= 16GB of data
for the example
that in the end uses only one subject

[2021-03-25 15:28] #9186 closed

[2021-03-25 15:32] adam2392 commented on #9155
It looks like the main branch hasn't had any updates for awhile, and you have two branches named `update` and `updates` :p. Which branch should I reference off of?

@agramfort is it okay for us to stick it into `mne-tools` now for dev, or wait till later when it's done?

[2021-03-25 15:33] sappelhoff commented on #9078
:+1: see https://github.com/autoreject/autoreject/issues/201

[2021-03-25 15:37] alexrockhill commented on #9155
Haha poor naming and I haven't had a chance to work on this for a couple months... `update` is stable for the manual picker and `updates` is where I'm trying to add some automation to the picking.

[2021-03-25 16:08] agramfort commented on #9155
can you be more specific? you want to move a repo to mne-tools org? if so sure

[2021-03-25 16:19] drammock commented on #9195
thinking about your particular use case @hoechenberger, would it work to mark the frontal channels as "bad", run the epoching, then set them back to "good" before running ICA?

[2021-03-25 16:21] hoechenberger commented on #9195
@drammock this is a very interesting idea. Yes this could work indeed. I will play with this and see how far I get!

[2021-03-25 16:30] alexrockhill commented on #9078
I think `openneuro-py` has pretty much everything already needed to include sample data using it. The only things that would be nice to add are documentation and regular expressions instead of just startswith for including files. For the latter, the main use would be including specific runs and I guess you sometimes wouldn't need the sidecar files but they are so small it seems good to include the

[2021-03-25 19:22] #9078 closed

[2021-03-25 20:07] alexrockhill commented on #9155
Hmmm we should think of a name that maybe pays homage to img_pipe but is also consistent with mne style...

`mne-ieeg` is okay but maybe not specific, `mne-ieeg-pipeline` might be good

[2021-03-25 21:03] MatteoCarlone commented on #4350
Can i pass from code to the gui?

[2021-03-25 21:31] drammock commented on #4350
@MatteoCarlone questions about MNELAB should be raised in the MNELAB repository: https://github.com/cbrnr/mnelab/issues

[2021-03-25 22:48] adam2392 commented on #9155
Perhaps mne-iEEG-localize for the GUI?

[2021-03-26 05:26] finetard commented on #1280
is there an implementation of this?

[2021-03-26 09:25] virvw opened #9198 "linear regression"
### Describe the bug
linear_regressions
developper
worked fine a few days ago
no mne update since
now bug
#### Steps to reproduce
  pred_vars = ['TOJ - SJ', 'N_1', 'intercept']
  design = epos.metadata[['task', 'N_1']].copy()
  design['TOJ - SJ']  = np.where(design['task'] == 'TOJ', 1, -1)
  design['intercept'] = 1
  design = design[pred_vars]
  reg = linear_regression(epos, design_matrix=design,

[2021-03-26 12:27] hoechenberger commented on #9198
For those following this issue:
@virvw will send me the epochs in question next week so I can explore the problem

[2021-03-26 13:25] larsoner commented on #9198
I have a feeling it's this line:
[code]
`np.where` will *always* return a tuple of ndarray, so you probably want:
[code]
to get a 1D array rather than a 2D array (what your original code will produce). I'm guessing that later in the code there is some `np.array([x, y])` call where `x` is 2D and `y` is 1D, yielding an object array.

[2021-03-26 13:26] mmagnuski commented on #9198
The error `ValueError: object arrays are not supported` suggests that the design matrix is of object dtype.
First, according to the documentation the `design_matrix` should be an array, while it seems to be a dataframe in your example. Then, before converting to numpy array, make sure that `design.dtypes` does not give you 'object' dtype for any of the columns.

[2021-03-26 13:26] larsoner commented on #9198
oh wait, you're not using `np.where` to return indices, you're using values. Never mind, that's not going to be the problem!

[2021-03-26 14:49] drammock commented on #1280
not yet. the closest we get is described here: https://mne.tools/stable/auto_examples/preprocessing/plot_virtual_evoked.html

[2021-03-26 15:10] adam2392 commented on #9155
Yep to have an easier time centralizing the eyes of MNE-devs on this push! What is the best way of doing so?

We can tidy up the code from @alexrockhill 's branch and rename it `mne-ilocalize`? or something that screams iEEG electrode localization :P . In README, we obviously pay props to the original creators in `img_pipe`, and summarize our new direction (w/ vtk, etc.)

Then we can upload as a n

[2021-03-26 15:15] mehdikuchi opened #9199 "Per channel annotation is too slow"
#### Per channel annotation with clear visual appearance
The Per channel annotation already developed in the dev version of the MNE, highlights the whole span of the data under view. This makes  event localization visually too difficult.

#### What I have tried:

*I have changed the mne/viz/_figure.py code so that I could get the following annotation per channel:
![image](https://user-images.githu

[2021-03-26 15:24] larsoner commented on #9199
Is it faster if you don't add the text objects? If so, we could make it so that the text just shows up on a mouseover for example

[2021-03-26 15:33] drammock commented on #9199
it is on our roadmap to have per-channel annotations show up as highlighted regions (rather than text) which I think will be faster to draw.  cf #8946.  It's milestoned for the next release so hopefully you won't have to wait too long for it.

[2021-03-26 17:25] alexrockhill commented on #9155
Sounds good to me, just making sure @libertyh is in the loop and this is okay with her also

[2021-03-27 07:49] jackz314 commented on #9193
Opened PR at #9204.

[2021-03-27 12:42] drammock commented on #9193
Hi @jackz314 thanks for opening a PR to fix this! FYI our preferred workflow is to close issues when the associated PR is *merged* rather than *opened* (ideally by using GitHub magic phrase "closes #XXXX" in the PR description).

[2021-03-27 16:59] ramkpari opened #9205 "ENH/BUG: Adding an include/exclude bad channels parameter to plot_evoked_topo"
Was working on `plot_evoked_topo` ,about issue #8714 with @jasmainak when I noticed that bad channels were influencing ylim calculations when no ylim parameters were specified during the function call.  Currently , The plots from `plot_evoked_topo` are automatically set to not plot any of the bad channels and also there is no direct way to force `plot_evoked_topo`  to include the bad channels with

[2021-03-27 18:01] agramfort commented on #9205
I think that evoked are small so doing something like

evoked.pick(...).plot_topo()

should be quite efficient and avoids complexifying plot_topo API.

regarding plotting bads maybe we plot them but in low contrast mode?

[2021-03-27 19:46] adam2392 opened #9206 "Adding automatic ICA labeling capability ported from EEGLab"
"They have this nice feature which plugs into a database of features I think that can automatically estimate ICA labels in case you have 100s of subjects and can't feasibly run manual ICA, they actually have a cool feature that will match it against known labels to try to estimate if it's eye blink, heart beat, etc. "

_Originally posted by @adam2392 in https://github.com/mne-tools/mne-python/issu

[2021-03-27 21:10] drammock commented on #9206
we already have ICA component selection via template matching: https://mne.tools/dev/auto_tutorials/preprocessing/plot_40_artifact_correction_ica.html#selecting-ica-components-using-template-matching

Is the missing piece then that in EEGLAB there's a built-in library of templates, whereas here you have to provide the template from one of your subjects?

[2021-03-27 21:31] adam2392 commented on #9206
Yes, so apparently, they have this `ICLabel` database, such that you don't need to provide a template from one of your own subjects: https://github.com/sccn/ICLabel

The idea being:

1. run ICA
2. label component based on ICLabel classifier
3. filter out components
4. re-save "cleaned" data

[2021-03-27 21:46] hoechenberger commented on #9206
ICLabel extracts two to three features:

- ICA topography
- PSD of the recorded data
- optionally autocorrelation

which are then passed to a classifier. The classifier is a [MatConvNet](https://www.vlfeat.org/matconvnet/) CNN. The CNN produces labels for the given features.

It seems that MatConvNet models can be imported as PyTorch nets via [pytorch-mcn](https://github.com/albanie/pytorch-mcn),

[2021-03-27 22:17] hoechenberger commented on #9206
Just for the sake of completeness, this file contains their CNN:
https://github.com/sccn/ICLabel/blob/0a2c1454b8870294c36efd6a342169eedbbafb21/netICL.mat

I just tried loading it via pytorch-mcn, but get a NumPy indexing error.

[2021-03-28 16:11] agramfort commented on #9206
@l-omar-chehab worked with me on this a couple of years ago but the project was never finished.
What is critical is to get a good database that reflects the diversity of datasets. If you have only EEG with 30 to 60 channels
it's a lot easier than if you want a system that works with EEG, MEG VectorView, MEG CTF etc. Having a method that works reliably across systems still remains to be developed A

[2021-03-28 16:19] adam2392 commented on #9206
CC @pmyers16

Okay, I potentially can help work on this depending on scope of work needed to be done. Yeah I think ideally I just want something that works robustly with scalp EEG 15-100 electrodes and can auto detect eye blink and heart beat (bonus muscle, but idk what that looks like :p) relatively robustly.

Re database: I'm assuming we can't just leverage ICLabel? How would we get such a datab

[2021-03-28 16:27] hoechenberger commented on #9206
No, since they only seem to share the NN, not its training data. Probably for good reasons (privacy etc.)

We make our own. We process publicly available data from OpenNeuro, and publish our own datasets. We run ICA on these data and share our "expert opinions" on the decompositions.

We'd need to get multiple expert opinions per dataset to find the consensus. Or even ask the same experts multiple

[2021-03-28 16:33] drammock commented on #9206
Sounds like `braindr` which I think is open source... Might save some time to start with that and swap images of ICA comps in for the MRIs rather than building from scratch.

[2021-03-28 16:36] hoechenberger commented on #9206
Yeah something like that. Tinder for ICA actually sounds like a lot of fun

[2021-03-28 16:41] agramfort commented on #9206
that was what we started to do 2 years ago too
https://swipe4ica.github.io/#/ :)

happy to resurrect this if you are interested

[2021-03-28 16:42] hoechenberger commented on #8876
I'm seeing a rendering problem related to responsive layout:

https://user-images.githubusercontent.com/2046265/112759858-31c9cb80-8ff5-11eb-8615-c047bf8e8213.mov

[2021-03-28 16:44] adam2392 commented on #9206
So it looks like there is then already a solid amount of data "labeled" in the backend of swip4ica ?

What work is needed at this point to make this fully "functional" in MNE-Python?

[2021-03-28 16:46] agramfort commented on #9206
I would say extract the data from the database, train and validate an ML
model, evaluate on a new
dataset. Then do the engineering effort to package the thing...

[2021-03-28 16:52] adam2392 commented on #9206
Re database: Is the database well structured and organized and easily accessible? I can run this by a few colleagues to see if they are able to do this w/ my help.

Re model: Sure and then we can store the pytorch weights and have the automatic labeling API require `pytorch` as an optional dependency?

Re new dataset: Should we just split database into training (train and testing sets in K-fold cr

[2021-03-28 16:57] hoechenberger commented on #9206
… I'd prefer Keras but that might just be me …
(having a difficult time with PyTorch!)

[2021-03-28 16:57] agramfort commented on #9206
yes it should be

our experiments suggested a random forest was more reliable.

yes something like this.

if we start doing this we need to aim to complete this task. I consider
this to be 2 months of full time job to make something
serious here.

[2021-03-28 17:00] hoechenberger commented on #9206
Actually this sounds like an interesting Master's project, no?

[2021-03-28 17:02] agramfort commented on #9206
yes exactly. I was started as 2 master projects (one on the UI / web
and one on the ML validation).

[2021-03-28 17:05] adam2392 commented on #9206
Awesome! Can you direct me to this and I can scope out how many MS/ugrads I can find to do this? One of my thesis advisors has a course dedicated to basically making open source software in data science; I can ask him if we can leverage a team dedicated to this effort?

Sure yes, I think we should definitely do a fixed K-fold validation where a multitude of classifiers are evaluated for: i) perfor

[2021-03-28 17:13] agramfort commented on #9206
let me try to resurrect things with @l-omar-chehab

what I would do now is adjust our pipeline to produce "ICA features from
bids files : topos, PSDs etc."
from BIDS formatted data.

cause the way you extract the features has a lot of importance.

Give me a few days

[2021-03-28 17:22] hoechenberger commented on #9206
@agramfort Happy to talk about this tomorrow 😊

[2021-03-28 17:29] hoechenberger opened #9209 "Add Raw, Epochs, and Evoked method to fire up MNE Coreg GUI"
I'd love to do one of:

[code]
to bring up `mne.gui.coregistration()` with some of its parameters automatically filled in based on the respective `Raw/Epochs/Evoked` instance.

Strong feelings against this?

[2021-03-28 17:46] hoechenberger commented on #8876
The flowchart in the ICA tutorial is too small because it's scaled to fit into the center column. Would be good if one could easily zoom in; easiest would be to link to the full-sized image; most convenient from a user's perspective would be using some kind of lightbox.

https://user-images.githubusercontent.com/2046265/112762090-4e1e3600-8ffe-11eb-8fc7-f0da263dce4c.mov

[2021-03-28 23:35] jasmainak commented on #9205
`exclude` param is part of `evoked.plot()` ... I'd say there should be some way to plot bad channels.

also `ylim` being calculated from a channel not plotted seems to be a bug to me

[2021-03-29 07:25] l-omar-chehab commented on #9206
Likewise!

[2021-03-29 09:13] mehdikuchi commented on #9199
Thanks for your replies.
That is good news. So I wait for the new release.

[2021-03-29 11:00] dominikwelke commented on #9045
hi @rob-luke @jundurraga , sorry somehow i have missed this!

i agree that having these tests easily at hand in MNE would be practical and facilitate work with steady state data.
@kalenkovich and i also planned putting together some dedicated code for frequency-tagging / steady-state analyses, so I'll definitely follow this from now on :)

just a comment on the proposed **API** so far:

as you hav

[2021-03-29 12:02] rob-luke commented on #9045
Thanks for the input @dominikwelke.

It means the response is continuous and does not vary over time (see 1). As such, you can use methods with these assumptions to estimate the neural response, such as averaging and FFTs. As you say, the term is widely used across both auditory and visual fields. There are many publications that use this term and books on the topic (see 2,3). Whereas your suggest

[2021-03-29 14:13] dominikwelke commented on #9045
as i said, just wanted to throw an alternative into the discussion :)

no intention to rant about any of the used terminology, they were all coined with good reasons.

yes, we need to assume the response steady or stationary such that we can do an fft over 30 s or more and interpret the result, but this does not necessarily mean that what the brain does is something steady (this is what i meant wi

[2021-03-29 15:33] agramfort opened #9214 "epochs.add_channels does not update picks"
running

[code]

on current main branch crashes. It seems that add_channels forgets to update the picks
attribute.

@larsoner wdyt?

[2021-03-29 18:07] larsoner commented on #9214
Yes this seems like a bug, I doubt the `.picks` property of epochs has been kept up to date properly in the channel-picking code

[2021-03-29 18:33] larsoner commented on #9209
Currently we have `mne.gui.coregistration`. I guess its API is limited by having to pass filenames rather than instances themselves, but that's easy enough to change. I'd rather just update this function.

[2021-03-29 20:01] agramfort commented on #9209
+1

[2021-03-29 23:18] rob-luke commented on #9045
Is there a journal article primer on frequency tagging that you can recommend that discusses all this?

But as you say, SSR is “most broadly used and everybody will know what it means and what to do with it”. We will put in the docs all the alternative names, but to allow the greatest number of users to easily find and understand the code then the most widely known terminology should be used.

As

[2021-03-30 00:25] rob-luke commented on #9045
(I'm on a road trip, so too much time to think about this 😃)

So I think my problem with frequency tagging is the word "tagging" and the explicit implication of a stimulus. Whereas, I want to be able to study any neural signal that is constant in frequency, not necessarily locked to a tagging stimulus. For example, I have tinnitus that is a constant tone, I would like to examine if that is reflect

[2021-03-30 01:15] #8923 closed

[2021-03-30 01:15] #8919 closed

[2021-03-30 01:17] larsoner commented on #5180
FYI I just used `pyxdf` + `mne.io.RawArray` to read an XDF-formatted file (recorded using LSL stream recorder). I think this is what we should probably "support" from the MNE end so that people format data the way they need. @cbrnr would you be up for making a PR to mention using MNELAB and/or `pyxdf` directly to load data and using `mne.io.RawArray`? To me it's the cleanest solution since there a

[2021-03-30 06:44] #8334 closed

[2021-03-30 06:58] MSA8D8 commented on #8864
Hello. @cbrnr @hoechenberger

I still have this problem even after installing the latest version of mne as @hoechenberger suggested.

The version of mne I can install is 0.22.0

Thank you in advance.

[2021-03-30 07:20] hoechenberger opened #9219 "Stable docs out of sync with maint branch?"
I just realized that the [0.22.1 changelog](https://mne.tools/stable/whats_new.html#version-0-22-1) on our website is out of sync with the respective RST file, see e.g. [this section](https://github.com/mne-tools/mne-python/blob/1987cea8e28d2a42224f55adb7d6e175bf29f8b6/doc/changes/0.22.inc#L15-L17), which is missing on the website

Is that a bug? Or am I missing something?

[2021-03-30 07:32] cbrnr commented on #8864
Can you share a small example file again? I can't find the link you posted previously.

[2021-03-30 07:32] #9021 closed

[2021-03-30 07:39] cbrnr commented on #5180
Sure. What would you like me to implement? Just an update to our docs (where)? I'm using the `mne.io.RawArray` approach in [MNELAB](https://github.com/cbrnr/mnelab/blob/caa18e02b42ddd44c8737fe58fe3e7287eb674ac/mnelab/io/xdf.py#L9), so this could be some sort of reference implementation which we could include directly in MNE. However, this supports only one particular stream which users have to sel

[2021-03-30 07:41] cbrnr commented on #9182
@larsoner you were right, Qt doesn't seem to support dark theming on Linux :disappointed: (only the title bar changes).

[2021-03-30 07:51] cbrnr commented on #9182
Although I did manage to get it to use a dark theme with the `qt5ct` tool (you have to manually select "Adwaita-Dark"). Now I'm pretty sure all this could be done with environment variables so that at least we could use the correct light/dark theme when starting a Qt app. Changing the theme on the fly will probably be still difficult.

[2021-03-30 08:43] MSA8D8 commented on #8864
@cbrnr Thank you for your help.
Here is the link for the same data I shared with you before.
https://drive.google.com/drive/folders/1rQAyEMYBxiBgNHQSbphIsb_spFmmXwY-?usp=sharing

[2021-03-30 11:42] cbrnr commented on #8864
It works for me with the current maint branch (linked above). Maybe you still have the 0.22 release? Unfortunately, the version shows 0.22 in both the latest release and the WIP maint branch, so I don't know how to determine if you have installed it correctly.

In any case, I think it's time for an official release of 0.22.1 - @hoechenberger @larsoner what are our plans?

[2021-03-30 11:45] agramfort commented on #8864
+1

[2021-03-30 11:48] hoechenberger commented on #8864
Yes +10 from me for 0.22.1 sooner than later!!

[2021-03-30 11:50] MSA8D8 commented on #8864
@cbrnr
Thank you for checking the problem.

Here is the things when I tried to upgrade the version of mne.

[code]

After doing this, I am still faced with the same error.

[2021-03-30 12:08] MSA8D8 commented on #8864
@cbrnr
I uninstalled mne and install it again as @hoechenberger suggested.
Then, the problem was finally solved !!!

Thank you for everything !!
I really appriciate all of your kindly help !!

[2021-03-30 12:08] #8864 closed

[2021-03-30 14:53] vagechirkov commented on #9181
Regarding the `-trans.fif` file generation [this tutorial](https://nipy.org/nibabel/coordinate_systems.html) from NiBabel was very useful to me.

[2021-03-30 15:41] larsoner commented on #5180
Probably update https://mne.tools/stable/auto_tutorials/io/plot_20_reading_eeg_data.html

Yeah I'd rather just show people a little code snippet, probably we are using the same things like:
[code]

I'd rather not include an actual implementation in MNE because there is too much flexibility in the format, I'd rather just update the docs to say "something like this might work for your use case" and

[2021-03-30 15:44] drammock commented on #5180
For cases like this (reading in data from a source type that we don't fully support), I think they make more sense as a how-to example rather than integrated as part of the tutorials.  The NEO how-to is an example of this.

[2021-03-30 15:44] larsoner commented on #9219
That probably should have been added to a new 0.22.2 section

[2021-03-30 15:45] larsoner commented on #9219
... oh wait we haven't released 0.22.1 yet. Weird that it's not up to date, maybe there was some problem with the CircleCI build

[2021-03-30 15:46] larsoner commented on #5180
If it is a separate tutorial, I think we should at least link to it from the `plot_20_reading_eeg_data.html`, since that's where people will probably naturally end up if they look into file formats in MNE

[2021-03-30 15:48] drammock commented on #5180
agree... I was just editing my above comment to say something similar.

[2021-03-30 16:25] adswa opened #9221 "Some trouble with version control tools for data"
This is in part a request for better integration between two tools, and in part an FYI.

We are developing datalad (www.datalad.org), a tool to version control and share not only code, but also data and software environments. Internally, datalad uses [git-annex](https://git-annex.branchable.com/) to version control  data. The version control mechanism that git-annex uses is clever, but it prevents

[2021-03-30 16:43] larsoner commented on #9219
I'm pushing hotfixes, current CircleCI build is at least running

https://app.circleci.com/pipelines/github/mne-tools/mne-python/7567/workflows/99cda811-20c3-4fab-a5a2-57428d19fd14/jobs/26639

I'll close once it's updated

[2021-03-30 16:48] drammock opened #9222 "docstring rendering problem"
I'm seeing a rendering problem related to responsive layout:

https://user-images.githubusercontent.com/2046265/112759858-31c9cb80-8ff5-11eb-8615-c047bf8e8213.mov

_Originally posted by @hoechenberger in https://github.com/mne-tools/mne-python/issues/8876#issuecomment-808922304_

[2021-03-30 16:49] drammock opened #9223 "graphviz diagrams not clickable/zoomable"
The flowchart in the ICA tutorial is too small because it's scaled to fit into the center column. Would be good if one could easily zoom in; easiest would be to link to the full-sized image; most convenient from a user's perspective would be using some kind of lightbox.

https://user-images.githubusercontent.com/2046265/112762090-4e1e3600-8ffe-11eb-8fc7-f0da263dce4c.mov

_Originally posted by @hoe

[2021-03-30 16:55] drammock commented on #9221
Thanks for the reproducible example!  I'll go have lunch while the large files download, and will take a look this afternoon 🥪

[2021-03-30 17:12] SreeHaran opened #9224 "DOC: add guidance for reading OpenBCI EEG data with MNE-Python"
#### Describe the new feature or enhancement
OpenBCI cyton board is one of the popular tool used for collecting EEG data from brain. The EEG data collected from the cyton board are stored in txt format with the help of OpenBCI GUI. Currently, MNE doesn't have any dedicated reader for function for OpenBCI data. It would be helpful if there's a separate class containing methods for reading, visualiz

[2021-03-30 17:29] cbrnr commented on #5180
@larsoner OK, this tutorial might be a good place to mention it.

I've linked to my reader in my previous comment, but yeah, I'm basically just doing what you are using. However, I'm also reading custom units as well as marker channels, which I convert to annotations. I would mention my function in addition to some general code snippet, because people can just go ahead and use `from mnelab.io.xdf

[2021-03-30 17:35] cbrnr commented on #9224
We've already had such a request a while back in #3134. Have you checked out the package mentioned there? It might be outdated and unmaintained, but it's probably worth checking it out first.

[2021-03-30 18:20] SreeHaran commented on #9224
Hey, @cbrnr in [#3134](https://github.com/mne-tools/mne-python/issues/3134), they discussed about implementing this feature with OpenBCI_Python, but it has been deprecated by OpenBCI. Is there any plan for implementing this feature in other ways?

[2021-03-30 20:19] CJ-Wave opened #9225 "mne.preprocessing.find_ecg_events has a non-descript error when it can't detect ecg events"
#### Describe the bug
mne.preprocessing.find_ecg_events has a non-descript error when it can't detect ecg events

#### Steps to reproduce
Should work with just a straight line or zeros in an ECG channel.

#### Expected results
Either return an empty array or generate a more descriptive error message

#### Actual results
line 230, in find_ecg_events
    ecg_events = remap[ecg_events]
IndexError: ar

[2021-03-30 20:38] v-goncharenko opened #9226 "FTP protocol download support"
#### Describe the new feature or enhancement
[`moabb`](https://github.com/NeuroTechX/moabb) heavily uses `mne` for processing data.
Also all downloads are performed via `mne.utils._fetch_file`: [see usage here](https://github.com/NeuroTechX/moabb/blob/d9334f5c64d10e2c0a2512124cd3fb2ecf682bd3/moabb/datasets/download.py#L61)

Currently `moabb` has a dataset which files are stored on FTP server and a

[2021-03-30 21:54] drammock commented on #9226
@v-goncharenko we are already considering maybe getting rid of a lot of our file fetching code, and depending instead on [pooch](https://pypi.org/project/pooch/).  Pooch supports FTP already.  It might be worth seeing how easy it is to use `pooch.retrieve()` and `pooch.FTPDownloader()` for your needs rather than relying on an MNE-Python function that isn't part of our public API.

[2021-03-31 05:03] SreeHaran commented on #9224
Ok thank you, I'll take a look at it...

[2021-03-31 10:16] agramfort commented on #9225
can you send a PR?

thx

[2021-03-31 14:30] larsoner commented on #9219
All better

[2021-03-31 14:30] #9219 closed

[2021-03-31 15:02] adam2392 commented on #9206
Sounds good! I will ping some folks on my end to see if they can help since I'm stretched thin atm.

[2021-03-31 15:58] isabelceo-dot opened #9228 "Image title of spectal connectivity"
There is a bug on the title of spectral connectivity the colorbar (always shows PLI method). Probably this is a relic of a time when phase lag index was the only measure you offered. See discussion here: https://mne.discourse.group/t/image-title-of-spectal-connectivity/2905

[2021-03-31 16:14] agramfort commented on #9206
sent you and invite @adam2392

[2021-03-31 21:18] #9221 closed

[2021-04-01 10:14] agramfort opened #9231 "mne.preprocessing.interpolate_bads taking list of instances"
the issue is the following:

we need to be able to concatenate raws or epochs with different sets of bads.

currently mne.concatenate_raws and mne.concatenate_epochs enforce (for good reasons)
that the list of bads are the same for all instances.

The question is how to simplify the life of users to it's easy to have such "concatenable" instances.

Currently some users interpolate all bads for all

[2021-04-01 12:51] drammock commented on #9231
Some questions:

- Is good-fraction based on number of instances, or duration?
- is there a principled way to choose good_fraction?
- depending on how you answer the second question, this feels like it's getting close to autoreject-like functionality. Are we sure it belongs in MNE-Python?

[2021-04-01 13:20] agramfort commented on #9231
pass 5 instances
if you have 3 instances where channel XXX is good then you keep it if
good_fraction < 0.6.

well not really.... so far people use fraction = 0 or fraction = 1 it's not
very quantitative either.
what would you suggest to users?

case with BIDS datasets where
bad channels are listed

[2021-04-01 14:40] drammock commented on #9231
I would personally base it on duration. If I want to concatenate 3 instances of duration 6 mins, 1 min, 1 min, I would want to weight the 6min instance more highly when deciding whether to keep channels.

I haven't thought about it very hard, but was wondering if there's a way to take rank into account somehow. Like first gather the union of all bad channels and for each one see what fraction of t

[2021-04-01 16:21] larsoner opened #9233 "API: RandomState deprecation, default_rng, and SPEC7"
np.random.RandomState is not a good choice for random number generation [going forward](https://numpy.org/doc/stable/reference/random/legacy.html#numpy.random.RandomState):

I don't understand all the details, but the TL;DR I've gathered from monitoring some SciPy discussions is that it's not as good as the new `default_rng` / `Generator`-based way of making random numbers and it should be replace

[2021-04-01 16:24] drammock opened #9234 "BUG: apply_function arg/kwarg handling"
`raw/epochs/evoked.apply_function` all have an `*args, **kwargs` in their signatures. But they don't work the way I think they should / the docs are rather misleading. Preparation:

[code]

`gaussian_filter1d` requires a `sigma` parameter in addition to the data. This works as expected:
[code]
This also works:
[code]

This next one is expected to fail **if you already know how argument unpacking w

[2021-04-01 16:51] drammock commented on #9233
The new Generator class docstring says:

I think it's worth asking what we use RNGs for.

- **reproducibility of examples / analyses**  Here, sticking with the frozen `RandomState` approach is actually *better* than switching to the new `Generator` / `default_rng` approach, right?
- **in our tests** This should be unaffected (usually for generating small fake data, the actual data values shouldn't

[2021-04-01 18:08] larsoner commented on #9233
I think for us we want everything to always be reproducible for a given int `random_state` (and a given `mne.set_rng_backend`). I hadn't looked at Generator / default_rng, it is indeed a problem that it does not guarantee stability.

I wonder if we should just switch to PCG64, which is guaranteed to be stable:

But is better than RandomState:

[2021-04-01 18:28] drammock commented on #9233
agree on the plan to switch (with deprecation cycle) to explicitly use PCG64 (which happens be be the current default for `np.random.default_rng`, but that might change).

[2021-04-01 18:43] agramfort commented on #9233
scipy will deprecate RandomState ?

scikit-learn has not switched yet so I don't feel the urgence

[2021-04-01 19:51] agramfort commented on #9234
I would use functools.partial but I understand if you say it's too
complicated...

or maybe we document it clearly in the docstring?

[2021-04-01 20:25] drammock commented on #9234
I would say the safest / easiest-to-maintain option is not to accept args/kwargs at all, and advise people to use `functools.partial`. This would require a deprecation cycle for sure; people's code would break.

I would say the most minimal change (not requiring deprecation, because it never worked) is to eliminate `*args` and keep `**kwargs`.

I lean toward the second option, it's less work for u

[2021-04-01 20:45] larsoner commented on #9234
Agreed `**kwargs` is painless enough to keep supporting, and we should kill `*args` as a bugfix

[2021-04-01 20:49] agramfort commented on #9234
Ok

[2021-04-01 20:52] larsoner commented on #9233
There is a long ongoing discussion in the SciPy PR [DOC: remove references to RandomState (#13778)](https://github.com/scipy/scipy/pull/13778). The short version so far to me is that RandomState will continue to work at least for some time but should not (and will not) be the preferred way to do things in examples and parameters.

[2021-04-01 21:00] larsoner commented on #9231
Agreed that fraction should be of time and not of instances. For a first iteration I would just allow `good_fraction` as a float, we can always add a `good_fraction='auto'` later if we can think of a good principled way to do it. Though maybe the signature would be:
[code]
because it will either interpolate or mark (for all instances) so that at the end of the operation `info['bads']` matches for

[2021-04-01 21:01] #9222 closed

[2021-04-01 23:22] rkern commented on #9233
Hi everyone! I'm the cause of everyone's problems here. As you work through these issues, I do recommend reading [NEP 19](https://numpy.org/neps/nep-0019-rng-policy.html) which goes into more detail about why we had the old backwards-compatibility policy and why we moved away from it. The concerns you have brought up here were definitely in our thoughts. I'm happy to answer any questions that the

[2021-04-02 06:57] hoechenberger commented on #9234
+1 for keeping kwargs and dropping args

[2021-04-02 17:19] #9225 closed

[2021-04-02 17:51] larsoner commented on #9233
Thanks for the info @rkern . After some reading and discussion I think our plan is to shelve this for now until we bump our minimum numpy requirement to 1.17+ and then switch everything over to using Generator syntax internally (probably still using MT19937 for backward compat), which will likely happen in the next year.

[2021-04-02 18:04] rkern commented on #9233
Sounds like a good plan.

[2021-04-02 18:06] larsoner commented on #8060
From Discord discussion between me, @britta-wstnr, @hoechenberger, @drammock, and @agramfort during office hours we hatched the following plan:

- Add `mne.io.base.BaseRaw.export`, perhaps with the signature `def export(fname, fmt='auto')` where `fmt` determines which format is being written. `'auto'` means "determine from the extension".
- Internally, the job of each `fmt` flavor of `export` is t

[2021-04-02 18:07] larsoner commented on #8060
@rob-luke the above would also give you an avenue to support SNIRF writing

[2021-04-02 21:39] rob-luke commented on #8060
Wonderfull. Thanks. I've put this on hold until the society SNIRF validator is up and running, then I'll get back to it.

[2021-04-02 22:03] drammock opened #9238 "Support BESA .mul file format"
#### Describe the new feature or enhancement
There was a request on Discord from @sinthemaroy to support `.mul` format.  It's an ASCII format for channel data put out by BESA, described here: http://wiki.besa.de/index.php?title=ASCII_File_Format

@sinthemaroy unfortunately cannot share their data files for testing, so we'll need to work up a fake data file based on the published standard.

[2021-04-02 22:37] drammock commented on #9224
I've poked around online a bit, and have confirmed that the structure of the text files is not very consistent.  Here is one from an OpenBCI Ganglion that is very different from the sample files posted above by @SreeHaran

https://github.com/J77M/eeg-datasets/blob/master/eyes-one-channel/01.csv

In the OpenBCI docs, they also imply, in [their EEGLAB tutorial](https://openbci.com/community/eeglab-t

[2021-04-02 22:53] larsoner commented on #9224
I'm inclined to reopen and add an entry to the EEG data format table, along the lines of what I recently recommended regarding XDF. We can at least increase discoverability and give people some hints in the right direction that way.

[2021-04-03 06:39] cbrnr commented on #8060
I haven't had time to comment so I'm late to the party. I previously said that a separate IO package would be nice. However, I was thinking of a package which supports multiple file formats, not just one. I'm now not sure if this is a good idea, or if having various dedicated packages is the better solution.

Regarding EEGLAB export, the code is simple enough that it could be directly integrated i

[2021-04-03 06:54] agramfort commented on #8060
Go for it

[2021-04-03 08:57] jackz314 commented on #8060
Does this mean the new `eeglabio` package is now obsolete? Also, I want to make sure that the other issues with integrating export directly into MNE are still considered here (maintenance, testing, etc.).

[2021-04-03 09:26] agramfort commented on #8060
please coordinate with @cbrnr

[2021-04-03 09:33] agramfort commented on #9228
@isabelceo-dot we need to add a title parameter in plot_sensors_connectivity and I would consider it a bug fix

[2021-04-03 13:43] AaronAngJW opened #9242 "Implement more baseline modes for epoch's apply_baseline"
Hi there,

Is it possible to implement more baseline mode methods for https://mne.tools/stable/generated/mne.Epochs.html#mne.Epochs.apply_baseline as with those available in https://mne.tools/stable/generated/mne.time_frequency.EpochsTFR.html#mne.time_frequency.EpochsTFR.apply_baseline ?

[2021-04-03 14:24] larsoner opened #9244 "ENH: Add evoked.get_data"
In #9241 there are lines like:
[code]
We should have `evoked.get_data` like we have for epochs and raw so this can just become:
[code]
and become more API-consistent.

[2021-04-03 15:42] agramfort commented on #9244
+1

On Sat, Apr 3, 2021 at 4:24 PM Eric Larson ***@***.***> wrote:

[2021-04-03 15:44] agramfort commented on #9242
I am bit worried if we allow this unless we find a way to keep track of
what baseline method was used.
Currently epochs does not have a way to remember this.

[2021-04-03 16:21] AaronAngJW commented on #9242
I see. So the next closest available option would be the 'combine' option under viz.plot_compare_evokeds? Which only works for more than 1 sensor for non-mean modes?

https://mne.tools/dev/generated/mne.viz.plot_compare_evokeds.html#mne.viz.plot_compare_evokeds

[2021-04-04 09:36] agramfort commented on #9242
can you clarify what you would like to obtain? doing the same as
evoked.plot but with z-score baseline for example?

[2021-04-04 14:58] AaronAngJW commented on #9242
Yes, z-score baseline. As I am also using z-score for TFR plotting, it would be nice to see the z-score equivalent activity for the epochs as well to get them as closely matched as possible.

[2021-04-04 16:34] agramfort commented on #9242
the main reason why you want to use z-score on TFR is the 1/f power
spectral. If you don't do such things you pretty
much only see low frequencies. The situation  is very different for epochs
traces that don't suffer from this issue.

[2021-04-05 10:24] hoechenberger opened #9245 "Install instructions should refer to environment.yml for the currently selected MNE version"
Currently, the install instructions always guide you to download environment.yml from our main branch. However, ideally this would only be the case if you're viewing the development docs. For stable docs, we should link to the environment file located in the respective maintenance branch.

[2021-04-05 10:28] agramfort commented on #9245
I agree. I recently had the issue with a new intern. He was installing the
pypi version with the
main environment file and it was broken (due to pyvista / pyvistaqt
changes).

[2021-04-05 11:31] larsoner commented on #9245
Our `environment.yml` is meant to be backward compatible and reflect a dependency structure that works in the present day, so I don't see what problem this will solve.

I do not see how this would have fixed the problem above. This is due to PyVista making incompatible changes and/or us using their private attributes. So to fix this problem, we would have to make our `environment.yml` *frozen*, i.

[2021-04-05 14:18] drammock commented on #9245
I agree with @larsoner; `environment.yml` installs stable version by default (you have to do extra stuff afterward to get dev version).  If it's not working we should correct it, but pointing people to old versions of the env file probably won't help and might hurt (e.g., if we've fixed dependency problems that arose since the last release).

[2021-04-05 14:43] #9234 closed

[2021-04-05 15:09] #9231 closed

[2021-04-05 16:59] drammock opened #9249 "new repr_html makes tutorials too long"
The new `_repr_html` for Info, Raw, Epochs, and Evoked is pretty cool. But it has a drawback, which is that *every* time an instance is returned at the end of a tutorial cell, we get the full HTML repr (13 lines for a Raw).  In some tutorials this happens multiple times, the extra information isn't always helpful, and it breaks up the flow of the lesson.  For example, in [this tutorial](https://mn

[2021-04-05 16:59] larsoner commented on #7162
Maybe after this it might not be too difficult to add support for shadows:

https://github.com/pyvista/pyvista/pull/1247

Feel free to add to the list above or give it a shot if you agree @GuillaumeFavelier . At some point we will want to check that shadows + EDL + SSAO all get along, too.

[2021-04-05 17:03] larsoner commented on #9249
I would suggest a different solution:

- Enhance sphinx-gallery to allow per-block `capture_repr` config

In principle this should only require a few lines in Sphinx-gallery. And our default config can be allow-list style by setting `capture_repr=()` in `conf.py`, and in the blocks where we want it, enable it via `# sphinx_gallery_capture_repr = ('_repr_html_',)` or so (or vice-versa conf/inline f

[2021-04-05 17:25] hoechenberger commented on #9249
We could display a short summary and collapse the table by default.

Here's an example on a collapsible HTML representation using ipywidgets:
https://matthewrocklin.com/blog/2019/07/04/html-repr#logs

[2021-04-05 18:52] larsoner opened #9250 "BUG: EGI coords read but not transformed"
Doing:
[code]
gets sensor positions plus LPA/Nasion/RPA (good), but not transformed to the head coordinate frame (bad):

![Screenshot from 2021-04-05 14-48-36](https://user-images.githubusercontent.com/2365790/113612958-833e1000-961e-11eb-9517-a58e348aa698.png)

[2021-04-05 19:34] agramfort commented on #9245
I am fine to treat this as "won't fix" and it's clearly not easy...

[2021-04-05 19:42] hoechenberger commented on #9245
Alright then, thanks for the explanation, @drammock and @larsoner!

[2021-04-05 19:42] #9245 closed

[2021-04-05 20:10] jackz314 commented on #9193
Fixed in #9204

[2021-04-05 20:10] #9193 closed

[2021-04-05 21:16] #9228 closed

[2021-04-05 23:01] akaszynski commented on #7162
I'm going to work on getting the PR working, but after that I'll work on getting multi-pass working according to [MultiPass Rendering](https://vtk.org/Wiki/VTK/MultiPass_Rendering).

[2021-04-06 01:26] vagechirkov commented on #9249
I agree with  @hoechenberger. I think it is better to collapse by default the long representations. I will create the draft PR with this feature

[2021-04-06 12:57] catalinamagalvan opened #9256 "GSoC idea: Create realistic simulated EEG-based MI-BCI data with MNE-Python"
Dear MNE-Community,
I’m Catalina Galván, a current PhD student from Argentina. For my analyzes, I've been working with my advisor @vpeterson in creating realistic MI-BCI data and I believe it would be interesting for the community to make it an MNE module. In addition, I think this could be a suitable idea for participating in the upcoming GSoC with MNE-Python as my organization. Here's a draft of

[2021-04-06 15:33] cbrnr commented on #8060
@jackz314 I think adding EEGLAB export directly to MNE is feasible in terms of maintenance and testing. Of course, the same could be said about BrainVision export, but this format is officially supported by BIDS so it makes sense to have a dedicated package with all bells and whistles. The EEGLAB format is neither supported by BIDS nor is it anything new - it's just a .mat file (we won't support t

[2021-04-06 15:49] larsoner commented on #8060
I implemented Octave-based CI recently to make sure long-name support worked and it wasn't so bad:

https://github.com/mne-tools/mne-matlab/blob/master/.github/workflows/moxunit.yml
https://github.com/mne-tools/mne-matlab/blob/master/matlab/test/test_ex_read_raw.m#L30-L51

Ideally the EEGLAB export could start building up something similar by doing an EEGLAB install somehow and making sure the fil

[2021-04-06 18:45] #9250 closed

[2021-04-06 21:28] hubertjbanville opened #9258 "`apply_function` method for Epochs object"
In the braindecode project we've tried to unify the preprocessing of raw and epoched data under a single class (https://github.com/braindecode/braindecode/blob/master/braindecode/datautil/preprocess.py#L61). We currently use a hybrid approach that relies on `Raw.apply_function()` when possible, and would benefit from having an equivalent method for the `Epochs` object (discussion here: https://git

[2021-04-06 21:41] drammock commented on #9258
`mne.Epochs.apply_function()` was added last month in #9088, and was patched yesterday in #9235.  Can you try current MNE-Python main to see if it works for your use case?

[2021-04-06 21:56] drammock commented on #9249
I keep going back and forth in my head whether collapsing by default is a good approach or not.  In some contexts (like in Reports) I think we want *expanded* to be the default?  In others (many, but not all, occurrences in the tutorials) we either don't want/need to see the repr, or we at least want it collapsed by default.

So assuming my option 3 isn't actually possible, I sort of lean toward w

[2021-04-06 22:11] hubertjb commented on #9258
Oops I missed that, sorry. It does work as expected for me on the latest main, thanks!

[2021-04-06 22:12] drammock commented on #8964
closed by #9191

[2021-04-06 22:12] #8964 closed

[2021-04-06 22:55] #9258 closed

[2021-04-06 23:08] larsoner commented on #9249
Comment filtering should come for free but if it doesn't it should be at most one more SG line to update

[2021-04-06 23:11] larsoner commented on #9249
... but looking at the existing options there are no block specific comments in SG yet, but I don't see why we can't have/add them for this use case

[2021-04-07 07:28] cbrnr commented on #8060
Hm, if we implement a public `export` API but don't provide a single format, I don't think that this makes a lot of sense. If we really go the all external route, people could just use the dedicated export functions in those packages (they only need to pass `raw` anyway). I'd still prefer `raw.export` and some simple export filters implemented in MNE.

[2021-04-07 08:26] agramfort commented on #8060
fine with me

[2021-04-07 08:26] hoechenberger commented on #8060
I like the idea of external packages that we can tap into with a single, consistent  user-facing public API (i.e., `export()`), though...

[2021-04-07 08:36] cbrnr commented on #8060
Yes, I agree that `raw.export` is nice, but not if we don't provide any implementation. I'm arguing that we could ship simple export filters such as EEGLAB and leave the more complicated ones for external packages.

[2021-04-07 08:42] agramfort commented on #8060
ok. If the eeglab export is support simple I could live with that

[2021-04-07 09:51] hoechenberger opened #9260 "RFC: Epochs.equalize_event_counts() should operate on all events by default"
Currently, `Epochs.equalize_event_counts()` has a positional argument `event_ids`, which expects a list of event names (for some reason called "event ids" in the docstring) whose counts to equalize.

Now a common scenario is that I have, say, 2 or 3 conditions (event types), and before calculating their contrast, I want to equalize their count. Currently, I'll have to do something like this:

[cod

[2021-04-07 10:07] jackz314 commented on #8060
I think this depends on what the maintainers define as simple and what are the future plans. As of right now, the code is pretty simple, the code I used to export is only about 200 - 300 lines in total, but maybe in the future more properties/functionalities are added to the export logic, then it could become more bloated. For example, the original export code from @cbrnr used for eeglab export wa

[2021-04-07 10:14] sappelhoff commented on #8060
I agree with much of what has been said. My personal favourite option would be to have:

- separate repositories for "writing data", and these repositories should be independent from MNE
- For example, `pybv` provides an API that does not require you to pass an MNE `raw` object --> the package is usable also by non-MNE users
- We can have a similar package `pyeeglab` (or whatever) and can host it

[2021-04-07 10:16] agramfort commented on #9260
Sounds good 👌

[2021-04-07 10:20] cbrnr commented on #8060
Good points, I think it is really important that external packages do not use MNE objects but work with simpler more generic data structures such as NumPy arrays. Then `raw.export` really has added value - I didn't think of that.

Therefore, it's probably best to go ahead with a separate EEGLAB export package.

[2021-04-07 11:11] larsoner commented on #9260
Sounds good to me

[2021-04-07 14:53] Mirrabella opened #9263 "MNE Python stc.plot(), draws the brain as translucent"
When I use stc.plot(), this function draws the brain as translucent, and it is seems very stange and the picture is poorly perceived.

Can you please tell me how to change the transparency parameter?

MNE version 23.0

I tried to used View — Toggle Eye Dome Lighting, but it did not help,  picture still seems strange too. :(
![Снимок экрана от 2021-04-07 17-33-42](https://user-images.githubusercont

[2021-04-07 16:08] GuillaumeFavelier commented on #9263
Hello @Mirrabella and thank you for reporting your issue. I would like to know more about your configuration, it will help me investigate the origin of this behaviour.

If you don't mind, could you share the output of:

[code]

and:

[code]

It would be helpful if you could also share a minimal code snippet giving this output so that I can try to reproduce on my end.

[2021-04-07 16:11] GuillaumeFavelier commented on #9263
From what I can tell, you seem to use the `pyvista` 3d backend with the old version of the GUI of `stc.plot()` since those sliders have been migrated from `vtk` to `PyQt5` in https://github.com/mne-tools/mne-python/pull/8862/.

[2021-04-07 17:34] larsoner commented on #9256
This sounds like a cool project! I think such simulations would have great value to the neuroscience community.

My first thought is that this sounds better suited to a methods paper/project than a GSoC project. In other words, it seems like what you propose is actually too novel from a neuroscience perspective to just implement in MNE. It seems like there should be a paper describing these method

[2021-04-07 20:08] agramfort commented on #8060
+1

[2021-04-07 22:01] #9260 closed

[2021-04-07 22:27] ramkpari commented on #9205
A good middle ground option might be to have a `bads` parameter, that decides if the channels marked as bad should be plotted, With `True` plotting bad channels and marking them a specific colour and `False` excluding the bad channels from the plot which is also the current default behaviour and default for the proposed parameter

[2021-04-07 22:38] vpeterson commented on #9256
Hi @larsoner! Indeed, this is a whole project itself (part of @catalinamagalvan PhD thesis), which we are currently working on. That's why, we thought that the GSoC could serve us (especially Catalina) to push out one piece of this project (the code, and its compatibility with MNE APIs). At the same time, we understand that making all simulations could be too much for the GSoC timeline. We can thi

[2021-04-08 07:46] jackz314 commented on #8060
I updated #9192 and [eeglabio](https://github.com/jackz314/eeglabio) to remove MNE dependencies.

[2021-04-08 07:51] Mirrabella commented on #9263
Hello and thank you very much for your answer.

My configuration on printscreen.

Code is from example MNE Python:

import os.path as op

import os

import mne

from mne.datasets import sample

data_path = sample.data_path()

# the raw file containing the channel location + types

raw_fname = data_path + '/MEG/sample/sample_audvis_raw.fif'

# The paths to Freesurfer reconstructions

subjects_dir =

[2021-04-08 07:58] Mirrabella commented on #9263
Hello and thank you very much for your answer.

My configuration on printscreen.

![pscr1](https://user-images.githubusercontent.com/33099309/113989489-29755a00-9859-11eb-8f3b-3fcf7f7821d7.jpeg)
![pscr2](https://user-images.githubusercontent.com/33099309/113989506-2d08e100-9859-11eb-9d3b-999ccf89186c.jpeg)

Code is from example MNE Python:

import os.path as op
import os
import mne
from mne.datase

[2021-04-08 08:01] cbrnr commented on #8060
The export function in your package consists of 22 lines - you mentioned that it is now 200-300 lines. Is this the most recent code? Also, you are still passing an MNE object. Furthermore, I think we should not create an EEG variable anymore since the latest EEGLAB file format doesn't use it anymore.

[2021-04-08 08:09] jackz314 commented on #8060
Export for raw by itself should be about 20 lines, but the util functions (for chanlocs) are longer, and when I mentioned 200-300 lines, I meant the total lines (raw + epochs + utils, etc).

The last two commits shouldn't pass MNE objects anymore, maybe it wasn't updated on the PR due to the changes requested?

I'm not sure if this breaks on older EEGLAB versions, if not, I can get rid of it.

[2021-04-08 08:14] hoechenberger commented on #8060
I remember reading that it's backward-compatible.

[2021-04-08 08:14] jackz314 commented on #8060
I implemented a multi-format export structure in the [last commit](https://github.com/mne-tools/mne-python/pull/9192/commits/2d8f1c809fba0a17b613ab8ce149d1b19a483234). I assumed the format will just be the file's extension (e.g., `set`). I'm not sure if using the actual names would be more appropriate here (e.g., `eeglab` instead of `set`).

[2021-04-08 08:27] jackz314 commented on #8060
I just updated eeglabio to remove the EEG variable. But do you know where this backward compatibility is mentioned? I just want to make sure that it's safe.

[2021-04-08 08:30] cbrnr commented on #8060
Right here: https://github.com/mne-tools/mne-python/issues/8864#issuecomment-779375469

[2021-04-08 14:32] GuillaumeFavelier commented on #9263
Unfortunately, I can't reproduce this transparency bug on my machine right now but I can still guess that it could come from `vtk` or `mesa` :thinking:

I'm less familiar with `mesa` but I can try to help for `vtk 9.0.1`:

1) You could use the latest version of MNE [conda configuration file](https://github.com/mne-tools/mne-python/blob/93359566261be5c3fe7ceef8cb1fefce910cca52/environment.yml) to c

[2021-04-08 15:23] hoechenberger opened #9264 "Install instructions: Spyder standalone installers"
Spyder now offers standalone installers:
https://docs.spyder-ide.org/current/installation.html#standalone-installers-ref

I guess we should update our installation instructions and guide users to use the new installers?

cc @drammock

[2021-04-08 15:27] drammock commented on #9264
not until someone has tested them, and made sure it's possible to set the executable used in the built-in console to use the one in the mne/mnedev environment (or, if there is some new, simpler way to say "use this conda env")

[2021-04-08 15:55] HanBnrd opened #9265 "SNIRF loader not working with the official samples"
#### Describe the bug
The function [*read_raw_snirf*](https://mne.tools/dev/generated/mne.io.read_raw_snirf.html#mne.io.read_raw_snirf) returns errors with the official samples from https://github.com/fNIRS/snirf-samples/.

#### Steps to reproduce
With [*Simple_Probe.snirf*](https://github.com/fNIRS/snirf-samples/blob/master/basic/Simple_Probe.snirf):
[code]

With [*minimum_example.snirf*](https:/

[2021-04-08 16:11] HanBnrd commented on #9265
The SNIRF loader is also not working if the [optional](https://github.com/fNIRS/snirf/issues/41#issuecomment-620159229) *sourcePos3D* field does not exist in the SNIRF file.

[code]

[2021-04-08 16:35] leticiabragas2 opened #9267 "How to fix: “UnicodeDecodeError: ‘ascii’ codec can’t decode byte”"
how to solve this problem?
linux operating system 18.01

[code]
[code]

[MB0400FU.LOG](https://github.com/mne-tools/mne-python/files/6280168/MB0400FU.LOG)

[DA0935F5.LOG](https://github.com/mne-tools/mne-python/files/6280178/DA0935F5.LOG)

[2021-04-08 19:01] cbrnr commented on #9267
I'm not really familiar with the Nihon Kohden format, but the error occurs because the reader tries to decode a non-ASCII character:

[code]

I'm not sure why it is first decoded as ASCII and then converted to Unicode, because changing the whole line 249 to

[code]

would  probably solve the problem. But again, I don't know if non-ASCII characters are allowed by the format.

@fraimondo @larsoner a

[2021-04-08 21:07] ramkpari commented on #9205
Thoughts @jasmainak @agramfort

[2021-04-09 02:16] jasmainak commented on #9205
I'd stick to `exclude` as it's more consistent with rest of API

[2021-04-09 03:28] dreamiter opened #9271 "TypeError: ‘float’ object does not support item assignment"
- MNE-Python version: 0.22.0
- operating system: Windows & Mac

#### Describe the bug
*TypeError: ‘float’ object does not support item assignment*

I was trying to read in a hypnogram edf file using python. The data is directly from [PhysioNet](https://www.physionet.org/content/sleep-edfx/1.0.0/)
For example, when I tried to process this [file](https://www.physionet.org/content/sleep-edfx/1.0.0/sl

[2021-04-09 05:28] cbrnr commented on #9271
This file contains an invalid record length of zero. EDFBrowser doesn't open the file either, so it's clearly an invalid EDF file. However, we are already trying to work around this issue here:

https://github.com/mne-tools/mne-python/blob/acffc2ec986de456792503b5a6901fd68889bf8a/mne/io/edf/edf.py#L594-L600

It seems like this doesn't work, because of `record_length = record_length[0] = 1.`. I tri

[2021-04-09 05:40] leticiabragas2 opened #9272 "UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 6437: character maps to <undefined>"
Can anyone tell me HOW TO SOLVE? please!

[code]
[code]

[2021-04-09 06:00] cbrnr commented on #9272
This is probably related to #9267. Let's wait if @fraimondo or @larsoner can help.

[2021-04-09 07:36] cbrnr commented on #9272
I can reproduce on `main`.

[2021-04-09 07:38] cbrnr commented on #9267
Also, @leticiabragas2 the file `DA0935F5.EEG` is not part of the MNE testing data sets - is this a file you recorded yourself?

[2021-04-09 07:40] cbrnr commented on #9272
Alright, the problem is that you are trying to read a file with `mne.read_events` which is not an events file. `MB0400FU.EEG` contains EEG data in Nihon Khoden format.

[2021-04-09 07:41] cbrnr commented on #9272
Closing this issue, feel free to re-open or ask further usage questions in our forum.

[2021-04-09 07:41] #9272 closed

[2021-04-09 07:44] cbrnr commented on #9267
Can you share all files that are part of the `DA0935F5` data set? Specifically, I need the EEG data file (extension `.EEG`).

[2021-04-09 07:52] cbrnr commented on #9271
According to @schloegl this is a valid EDF file. However, the data it contains is a bit unconventional: the file contains only annotations and no signals. I think we should try to support this.

[2021-04-09 09:07] hoechenberger opened #9273 "find_eog_events() finds events when there are literally none"
### Problem description & MWE

[code]
Output:
[code]

We can even create Epochs …
[code]
<img width="557" alt="Screen Shot 2021-04-09 at 10 54 00" src="https://user-images.githubusercontent.com/2046265/114155542-e59a5780-9921-11eb-880c-b540c5df5472.png">

I assumed this has something to do with the filtering that happens in `find_eog_events()`, so I changed the filter length:
[code]
Output:
[code]

[2021-04-09 13:47] dreamiter commented on #9271
Hi Clemens, thanks for you help.
Yes you are right. I was able to figure out the "contents" of this EDF file with other tools, and it appears all the information was recorded in annotations.
I'm relatively new to EDF, not sure why it is done this way.

![image](https://user-images.githubusercontent.com/9292401/114189763-8c79f600-9918-11eb-80ab-4cf4982255ee.png)

[2021-04-09 14:43] Mirrabella commented on #9263
I tried to make the settings according to point 1. But now an error occurs. I would be very grateful if you could give me some more advice on how to fix it.

As I understand it, there are some problems with mesa (I'm not very strong in this :()

![Снимок экрана от 2021-04-09 17-35-36](https://user-images.githubusercontent.com/33099309/114197057-a76d5a00-995a-11eb-8794-260d0b3593b1.jpeg)

[2021-04-09 15:08] GuillaumeFavelier commented on #9263
Hm... It seems that either mesa cannot be setup properly or no window can be opened, are you by any chance using a headless server? If that's the case you might be interested in:

https://mne.tools/stable/install/mne_python.html?highlight=server#installing-to-a-headless-server

[2021-04-09 16:37] cbrnr commented on #9271
I digged around a little bit in our reader, but it really seems like we're totally not prepared to read EDF files that contain only annotations. This would take me quite some time to refactor, which at the moment I don't have. If anyone feels up to it please feel free to submit a PR. @dreamiter which other tool did you use to extract annotations from this file? Maybe we can work around this by spe

[2021-04-09 17:25] dreamiter commented on #9271
@cbrnr Hi, I wasn't sure if it's ok to share other people's git here.
But I found a Gitlab repo, written by Teunis van Beelen ([Gitlab Link](https://gitlab.com/Teuniz/EDFlib-Python)).

[2021-04-09 19:37] drammock commented on #9256
Since the GSoC deadline is coming soon, I think it makes sense to move forward with a smaller implementation plan as you suggest @vpeterson (i.e., stick to just the kinds of noise/artifacts that are well-established in the literature).  I'll ping the rest of the core devs to see who is the best choice to be mentor for this project, and hopefully by Monday things will be falling into place.

[2021-04-10 09:26] agramfort commented on #9205
ok then to add an exclude param

[2021-04-10 09:45] agramfort commented on #9271
https://mne.tools/dev/generated/mne.read_annotations.html should be able to
read .edf that contain only
annotations. read_raw_edf should point to this when used to read a file
that contains only annotations.

[2021-04-11 03:22] miriamguen opened #9279 "a problem in loading EEG data, nicolat.py format when trying to load data with 4 Byte integer values."
**Trying to read a file containing data with 4 Byte integer values, produces an error:**

raw = mne.io.read_raw_nicolet(path, ch_type='eeg', preload=True)
or
raw = mne.io.read_raw_nicolet(path, ch_type='eeg', preload=False
raw.load_data()

see error logs below - these files were correctly opened in Matlab, so I know ist not a file problem

**file examples can be downloaded here:**
https://www.drop

[2021-04-11 10:09] cbrnr commented on #9271
Nice, thanks @agramfort, this works! What do you mean by "point to this"? When reading such a file with `read_raw_edf`, what should happen? Just issue a more informative error?

[2021-04-11 10:15] agramfort commented on #9271
I mean raise an exception with a meaningful error message saying to use
read_annotations

[2021-04-11 15:14] ramkpari opened #9281 "ENH : Building a test for checking the ylims in plot_evoked_topo"
As discussed in PR https://github.com/mne-tools/mne-python/pull/9207#issuecomment-815302885,  We need a test to check the ylims used for the individual subplots for `plot_evoked_topo`.  This would identify and prevent any further issues arising with ylims in the future from newer versions of python.

Since the `plot_evoked_topo` has unified=true https://github.com/mne-tools/mne-python/pull/9207#is

[2021-04-11 16:29] adam2392 commented on #9206
@jacobf18 an undergrad at JHU is interested in getting this going. I can help oversee and also make contributions.

He found the following issue: https://github.com/sccn/ICLabel/issues/14 where there was some discussion and also links to downstream repos: https://github.com/lucapton/ICLabel-Train and https://github.com/lucapton/ICLabel-Dataset. It seems that at least we have reference code and doc

[2021-04-11 17:11] agramfort commented on #9206
sounds like a plan !

I invited @jacobf18 <https://github.com/jacobf18> to the private repo

[2021-04-11 17:12] agramfort commented on #9281
also thought about this. testing unified=False is maybe easier has you
should get the axes with fig.axes

[2021-04-11 17:50] agramfort commented on #9279
took me a while to figure it out but I think you passed the .head file to the read_raw_nicolet function and not the .data file. If you pass the .data file it works. I agree this is very error prone. I suggest a PR to check that the .data file is passed with some docstrings updates. Ok for you @miriamguen ?

[2021-04-11 21:35] ramkpari commented on #9281
Currently, there seems to be no call to `plot_evoked_topo` as a parameter. The `unified=true` param only comes into place when when `plot_topo` is called here https://github.com/mne-tools/mne-python/blob/53a79ec1b6d3c42951263a1e1aa6e7f9a4c2c6be/mne/viz/topo.py#L787.  Swapping that around to `True` and it seems like the current version of `plot_topo` isn't handling it well, with multiple exceptions

[2021-04-11 21:41] leticiabragas2 commented on #9267
[Uploading Arquivos EEG-20210405T211308Z-001.zip…]()

[2021-04-12 08:56] miriamguen commented on #9279
this works, thanks @agramfort !

[2021-04-12 09:15] hoechenberger commented on #9273
Friendly ping @agramfort @larsoner, I need advice on how to best approach this :)

[2021-04-12 12:34] hoechenberger commented on #9273
I just ran into the same problem with `find_ecg_events` with `qrs_thresh` set to `'auto'` (default); setting it to `1e-15` fixed it.

[2021-04-12 14:16] larsoner commented on #9206
Sounds like there is nothing to do at the MNE end for now so I'll close, but if I'm mistaken I'm happy to reopen

[2021-04-12 14:16] #9206 closed

[2021-04-12 14:19] hoechenberger commented on #9273
Discussion with @agramfort: I'll implement a thresholding at `100 * eps` of the respective dtype.

[2021-04-12 19:11] catalinamagalvan commented on #9256
Thank you @drammock for your comments. After talking to @larsoner and also considering your recommendation,  we believe that a good scope for the GSoC project is to bring the well-established in the literature [simBCI](https://ieeexplore.ieee.org/abstract/document/8478370) framework for simulating BCI data from MATLAB to MNE-Python.

Taking into account the above, I've been working on my GSoC prop

[2021-04-12 19:13] pmolfese opened #9286 "ENH: Add GIfTI output for STC"
Wanted to get thoughts from others who may find this feature useful, and insights into possible straightforward ways to implement.

#### Describe the new feature or enhancement

In an effort to compare/overlay results in fMRI and EEG/MEG, several of us are seeking an easy way to export MNE source results to GIFTI (and potentially NIFTI in the future).  GIFTI would allow other programs (e.g. AFNI,

[2021-04-12 19:56] agramfort commented on #9279
https://github.com/mne-tools/mne-python/pull/9287/files should help

[2021-04-12 20:24] #9271 closed

[2021-04-12 22:38] #9279 closed

[2021-04-13 01:59] jasmainak commented on #9281
so `plot_topo` is just a wrapper around `_iter_topography`. Does unified=False work with `iter_topography` or that fails as well?

[2021-04-13 07:14] #9214 closed

[2021-04-13 09:04] cbrnr opened #9290 "Rename files in tutorials?"
I have always been wondering why our tutorials are called `plot_*`, even though many tutorials do not produce a single plot. @hoechenberger pointed me to the reason, which is that this is just the default Sphinx naming scheme. However, we could change that (https://sphinx-gallery.github.io/stable/configuration.html#build-pattern). In fact, we only have `plot_*.py` files in our gallery folders, so

[2021-04-13 09:06] hoechenberger commented on #9290
+1 on renaming; even though I believe maybe we **should** keep some kind of prefix, like `tut_*`?

[2021-04-13 09:11] cbrnr commented on #9290
If you want to prepare for a distant future case where we suddenly want to put a `.py` file that shouldn't get processed, I'd do it when we need it (YAGNI).

[2021-04-13 09:26] sappelhoff commented on #9290
+1 on renaming -> as a newbie, I was confused by this naming convention - and now (being a bit more experienced), I think that it would look/read nicer to get rid of the prefix, if it's technically no problem.

you mean for globally searching tutorial files?

Personally I would think that having them in the `tutorials/` directory would suffice :thinking:

[2021-04-13 09:59] hoechenberger commented on #9290
ok, convinced :)

[2021-04-13 11:39] larsoner commented on #9290
There is a downside to this renaming in that if people have bookmarks to the existing ones those links will break. But I agree the URL/filename readability benefit is probably worth it. WDYT @drammock ?

To do this the process can just be to update the sphinx-gallery conf pattern to be anything not prefixed by `_sgskip` (`'filename_pattern': '^((?!sgskip).)*$'`), rename the few examples that curre

[2021-04-13 11:53] agramfort commented on #9290
note that we have some examples that do not contain plot_ (I think about the RSA decoding example).

Also I foresee that google will need to reindex everything. So we'll have a lot of broken links. You can
find many of my slides online and you will break on the URL they contain

[2021-04-13 11:58] larsoner commented on #9290
These should be taken care of by my suggested `_sgskip` process above

find many of my slides online and you will break on the URL they contain

It just occurred to me that I could write ~30 lines in `conf.py` to handle this by writing out `plot_*` HTML redirects for all of our examples. I think this should make Google and your slides happy, and also make it so that in the future if we want to cha

[2021-04-13 12:03] agramfort commented on #9290
if you want to do this no objection.

[2021-04-13 12:05] larsoner commented on #9290
Okay I'll see how bad it is!

[2021-04-13 13:25] drammock commented on #9290
I love it when issues get resolved before I'm done with breakfast! FYI this is something I tried to do as part of the big doc restructuring in 2019. At that time my plan was to ditch `plot_` and have non-plotting tutorials end with `_`. But `_sgskip` seems fine too.

I should note that some, but not all, of the tutorials have had a number added to their filename, to enforce a specific sort order w

[2021-04-13 13:36] cbrnr commented on #9290
I'd actually prefer the `_` suffix over `_sgskip` because it looks more Pythonic 😄 - but it's not that important. Adding numbers to all examples is a great idea.

The few examples that currently don't start with `plot_` - how are they rendered? What is the reason we don't "plot" them?

[2021-04-13 13:40] drammock commented on #9290
The reason is long execution time. They are rendered by Sphinx from rst to html without running the py code or capturing output.

[2021-04-13 14:51] arnevdk opened #9293 "Incorrect number of samples error when loading a Synamps Neuroscan Curry file"
#### Describe the bug
When trying to read the data of a Neuroscan Synamps `.dat` file containing a recording with 128 EEG-electrodes, I am presented with the following error:
[code]
The file loads correctly in Matlab using EEGLAB and the loadcurry plugin.
I believe this issue to be different than #8391, since the number of channels looks correct and the reported number of samples is a lot smaller

[2021-04-13 17:50] kingjr opened #9294 "BUG: pyvista backend on headless machine"
I'm trying to setup the Pyvista backend for plotting on a headless machine with Jupyter port redirection.

After setting up a new [server environment](https://raw.githubusercontent.com/mne-tools/mne-python/main/server_environment.yml),

and (painfully*) installing pyvista with pyqt5 via
[code]
(* `pip install pyqt5` or `pyqt` as well as `conda install install pyqt` and `sudo apt-get install python

[2021-04-13 18:02] GuillaumeFavelier commented on #9294
I'm really surprised you needed to install pyvistaqt because pyqt should be stripped from the server_environment.yml conf entirely. This should be the first bug in my opinion. Could you give more details about the installation procedure? Or at which step exactly were you asked to install pyvistaqt?

Also, you don't need to specify backend=pyvista in stc.plot (since you ask for notebook beforehand,

[2021-04-13 18:03] kingjr commented on #9294
I was asked to install pyvistaqt only when I called the mne plotting function.

[2021-04-13 18:04] GuillaumeFavelier commented on #9294
So I think it's because of backend=pyvista.
 Did you try without?

[2021-04-13 19:13] kingjr commented on #9294
Re-started a fresh install to verify whether pyvistaqt + backend=pyvista made the issue.

It's working fine on dev now.

Thanks @GuillaumeFavelier !

[2021-04-13 19:47] kingjr opened #9295 "BUG: next epochs when data not preloaded throws error"
Issue only on dev

[code]

[code]

[2021-04-13 20:41] agramfort commented on #9286
I think it's worth trying. Now we need to see how to handle the fact stc
subsample the high resolution
surfaces of freesurfer. Not sure how to handle this with gifti unless we
upsample creating very
large files.

[2021-04-14 06:16] kingjr commented on #9295
It is caused by https://github.com/mne-tools/mne-python/commit/59429c3b8022f61cf3539dc421cadff4ab675d24#diff-a8ad12a27877498bd9fe2ce1990d63852c08edca624268ae8d73dbac17b50b59

It can be fixed by simply using:
[code]

but it's a change of API, not sure you what you'd prefer (change of API versus change of current code)

[2021-04-14 11:30] GuillaumeFavelier commented on #8704
The mouse events on Firefox might be fixed by https://github.com/Kitware/ipyvtklink/pull/25. I'll open a PR and give it a try.

[2021-04-14 11:51] GuillaumeFavelier commented on #8704
It might not be necessary, I don't have those issues anymore on Firefox 87.0

[2021-04-14 12:17] larsoner commented on #9295
Glad there is a workaround, I should be able to look into a proper fix later this week because I agree this is a bug

[2021-04-14 15:50] #9295 closed

[2021-04-14 16:29] skjerns opened #9297 "find_events() returns times with offset"
I have a FIF file with a `STI101` trigger channel to which I apply `mne.find_events()` to extract the event markers. It seems to be that there is a mismatch of 5100 samples between the extracted events and the positions of the events when looking at the STI-Channel manually. Am I missing something? Why is there a delay to the raw STIM channel positions?

sample file:
[events_raw.zip](https://githu

[2021-04-14 16:47] agramfort commented on #9297
look at raw.first_samp attribue

[2021-04-14 16:54] skjerns commented on #9297
thanks! that solves it :)

[2021-04-14 16:54] #9297 closed

[2021-04-14 17:08] skjerns commented on #9297
however, `raw.first_samp` is `51000`, but my delay is `5100`, in which unit is `first_samp` noted?

[2021-04-14 17:09] agramfort commented on #9297
are you sure? first_samp is in samples not seconds

[2021-04-14 17:13] skjerns commented on #9297
never mind, just a typo :D sorry!

I'm still a bit confused by how to use the event positions now when accessing arrays from `raw.get_data()`. I just always add `raw.first_samp` or retrieve the data by `raw.get_data(start=raw.first_samp)` to get fitting indices?

[2021-04-14 20:00] agramfort commented on #9297
with this first_samp trick you don't need to get new events if you crop the
raw object. We just update the first_samp.

the convention of get_data is to start from the first available sample so
you need to subtract first_samp from events[:, 0]
and then you can use the first column as start and stop in get_data

HTH

[2021-04-14 20:02] agramfort commented on #9293
@DiGyt do you have time to have a look? thx

[2021-04-15 06:38] skjerns commented on #9297
Is there a place where I can find more documentation on `first_samp`, and how it is used, or what its definition is?

I'm a bit puzzled because I have the case in multiple files that `events[-1,0] > len(raw)`. In my understanding the `fif` contains all samples, and `first_samp` tells `mne` at which position the actual data starts, right? So how can my events be out of bounds for `raw.get_data()`?

[2021-04-15 07:05] agramfort commented on #9297
https://mne.tools/stable/glossary.html?highlight=first_samp

[2021-04-15 16:10] drammock commented on #9007
Just found another corrupted 3D plot: https://mne.tools/dev/auto_tutorials/evoked/plot_20_visualize_evoked.html#d-field-maps

[2021-04-15 19:09] ramkpari commented on #9281
The public-facing function  `iter_topography` doesn't allow `unified=False` but modifying it does allow `_iter_topography` to technically work with `unified=False`.

[2021-04-15 19:30] #9205 closed

[2021-04-15 19:35] drammock commented on #7975
closed by #9124

[2021-04-15 19:35] #7975 closed

[2021-04-15 20:23] ramkpari opened #9303 "ENH: Adding a scale legend to plot_topo and other plotting functions"
#### Describe the new feature or enhancement
Plotting functions like `plot_topo` could use a scale legend to visually describe the exact scale of subplots being represented by each subplot. Something like this :

![WhatsApp Image 2021-04-13 at 23 01 00](https://user-images.githubusercontent.com/13279036/114929764-d9e2ef80-9e51-11eb-89eb-0e739b6c0c14.jpeg)

The proposed `scale legend` showcases the

[2021-04-15 21:34] drammock commented on #9303
note that this is already done automatically for `mne.viz.plot_compare_evokeds(evoked.pick('eeg'), axes='topo')` (see bottom right corner of plot).  See if it is easy to use the same helper function for both `plot_compare_evokeds` and `evoked.plot_topo` (and if not, maybe refactor it so that it would be possible).

[2021-04-16 10:43] Mirrabella opened #9304 "Removal of muscle artifacts"
Hello,
I have a very simple question, but I just can't find a clear answer for it.
I am exercising to cleanse the muscle signal with the function annotate_muscle_zscore() .
As I understand, the function creates an annotation with which we can then mark the found muscle artifacts as "bad". And then, when we write the annotation to the raw data using the

raw.set_annotations (annot_muscle) function,

[2021-04-16 12:58] kingjr commented on #9294
Actually, I'm reopening it, because I don't think the error should occur. On a headless, if you specify `stc.plot(backend='pyvista') it asks to install pyvistaqt which breaks everything.

[2021-04-16 13:07] larsoner commented on #9294
If you do `backend='notebook'` does it work?

[2021-04-16 13:08] larsoner commented on #9294
... this makes me think we should have two backends, `pyvistaqt` and `notebook`. Both use PyVista under the hood but it makes it clearer which flavor you're going to get. We can keep `backend='pyvista'` as an alias for `backend='pyvistaqt'` but just not advertise it in the docs. WDYT @GuillaumeFavelier ?

[2021-04-16 13:14] kingjr commented on #9294
`backend="notebook"` fails because it's not in the options:
~/.conda/envs/bm/lib/python3.8/site-packages/mne/viz/_3d.py

`1759     _check_option('backend', backend,
   1760                   ['auto', 'matplotlib', 'mayavi', 'pyvista'])
   `

[2021-04-16 13:21] GuillaumeFavelier commented on #9294
There is something I don't understand here. Which backend do you want to use, `pyvista` or `notebook`?
AFAIK, it's not currently possible to use PyVistaQt offline. I discussed something similar in https://github.com/bloyl/mne_docker/issues/1#issuecomment-804976259

+1 for your idea @larsoner It seems the current situation is not clear enough so changing to `pyvistaqt` could help

Also this `_check

[2021-04-16 13:21] larsoner commented on #9294
That seems like a bug, if you hack in `'notebook'` does it work?

[2021-04-16 13:40] ramkpari commented on #9303
Ahh, A little refactoring and extending the `_draw_legend_pce` to deal with 2 channel types instead of just one should be enough to add a scale legend to `evoked.plot_topo`

[2021-04-16 15:01] kingjr opened #9306 "BUG: flat map with "both" on top of one another"
Using `stc.plot(surface='flat', hemi='both')` leads to a superposition of the two hemispheres:

<img width="844" alt="Screen Shot 2021-04-16 at 4 57 44 PM" src="https://user-images.githubusercontent.com/4881164/115043662-09870b80-9ed5-11eb-9ff2-af83320f24cc.png">

(in addition, the conventional orientation of flat map is rotated 90* compared to what mne plots:
![image](https://user-images.githubus

[2021-04-16 15:07] larsoner commented on #9306
1. We should just not allow `hemi='both'` when using a flatmap and tell people to use `hemi='split'` (ValueError)
2. We should fix the orientation, it's a regression since https://mne.tools/dev/auto_tutorials/source-modeling/plot_visualize_stc.html is wrong but https://mne.tools/stable/auto_tutorials/source-modeling/plot_visualize_stc.html is correct (can you confirm @kingjr ?)

[2021-04-16 15:09] larsoner commented on #9306
@kingjr if you want to take a stab at the ori fix at least, it should be that this line needs an appropriate `roll=` in degrees:

https://github.com/mne-tools/mne-python/blob/main/mne/viz/_brain/view.py#L41

[2021-04-16 15:10] larsoner commented on #9306
... although I guess we could allow `hemi='both'` and add an appropriate offset so they show up in the correct locations relative to one another. This might actually be preferable to `hemi='split'` in some situations. So I think I changed my mind on (1) above.

[2021-04-16 15:17] kingjr commented on #9306
1. I vote for an offset, it's easier to handle zoom in some cases.
2. hard to tell for an auditory response! I would only confirm for a visual one (alternatively, a quick check can be done by using the highlight by area option made by @GuillaumeFavelier)

it's hard for me to do PR on anything related to pyvista, because I only have it working on a headless, and I'm experiencing some painful lag

[2021-04-16 15:36] rla3rd opened #9307 "add file like object support for raw file formats"
x-ref: https://mne.discourse.group/t/is-there-a-way-to-import-an-edf-file-represented-as-bytes/2997

#### Describe the new feature or enhancement
adding file like object support would allow using mne in spark through the use of its binaryfile method
https://spark.apache.org/docs/latest/sql-data-sources-binaryFile.html  the idea would be to load up the edfs into a binary file dataframe and then do

[2021-04-16 15:39] GuillaumeFavelier commented on #9306
No worries, I can add that to my todo list and update https://github.com/mne-tools/mne-python/issues/7162

[2021-04-16 15:41] larsoner commented on #9306
@GuillaumeFavelier can you take a look?

[2021-04-16 15:44] GuillaumeFavelier commented on #9306
I'm on it :+1:

[2021-04-16 15:55] HanBnrd commented on #9265
Hi, just pinging @rob-luke.
I will try to have a look at it ASAP.

[2021-04-16 15:57] HanBnrd commented on #8001
Just referencing a few items that may be useful:
- The Artinis montage PR may be useful for this issue: #9141
- Loading SNIRF files from Artinis leads to the following issue: https://github.com/mne-tools/mne-python/issues/9265#issuecomment-815953357

[2021-04-16 16:18] HanBnrd opened #9308 "SNIRF loader not working without the optional sourcePos3D"
#### Describe the bug
The function [*read_raw_snirf*](https://mne.tools/dev/generated/mne.io.read_raw_snirf.html#mne.io.read_raw_snirf) is not working if the [optional](https://github.com/fNIRS/snirf/issues/41#issuecomment-620159229) field [sourcePos3D](https://github.com/fNIRS/snirf/blob/master/snirf_specification.md#nirsiprobesourcepos3d) does not exist in the SNIRF file.

#### Steps to reproduc

[2021-04-16 16:21] HanBnrd commented on #9265
I created a separate issue for the sourcePos3D problem: #9308

[2021-04-16 16:22] HanBnrd commented on #9308
Ping @rob-luke

[2021-04-16 16:40] HanBnrd opened #9309 "Support any elc file with set_montage"
#### Describe the new feature or enhancement
As discussed with @rob-luke, we think it could be interesting to have the possibility to set a montage with any elc file with MNI coordinates.

#### Describe your proposed implementation
Given a custom elc montage file *my-montage.elc* with MNI coordinates standardised the same way as [other existing elc files](https://github.com/mne-tools/mne-python/tr

[2021-04-16 16:45] agramfort commented on #9309
raw.set_montage

https://mne.tools/dev/generated/mne.io.Raw.html#mne.io.Raw.set_montage

can already take a string as parameter. Does it do what you want?

[2021-04-16 16:46] #9294 closed

[2021-04-16 18:04] jasmainak commented on #9303
Time for PR :)

[2021-04-16 18:09] hoechenberger commented on #9304
Hello @Mirrabella!

Yes, segments annotated with `bad_*` will be excluded when creating epochs.

I've never worked with this code myself, but after setting the annotations via `raw.set_annotations()`, you can visually inspect the data via `raw.plot()`; you will be able to see the annotated segments.

[2021-04-16 19:24] HanBnrd commented on #9309
At the moment the string argument is only working with a [list of predefined montages](https://github.com/mne-tools/mne-python/blob/main/mne/channels/montage.py#L45-L56), so it could be useful to have also a way to provide a custom montage file.

[2021-04-16 20:43] drammock commented on #9304
usage questions are generally more appropriate on our forum (https://mne.discourse.group).  If there are any follow-up questions, please post them there.

[2021-04-16 20:43] #9304 closed

[2021-04-17 07:28] hoechenberger opened #9310 "Allow Epochs.equalize_event_counts() to operate based on metadata, not only on events"
This was brought up by @Zhouyu0206 in https://mne.discourse.group/t/how-to-use-equalize-event-counts-combined-with-metadata-instead-of-event-ids/

[2021-04-17 09:02] rob-luke commented on #9308
I think this is too complex to solve as we need 3d positions to calculate distances for beer lambert law.

[2021-04-17 09:15] rob-luke commented on #9265
We should ensure we follow the SNIRF standard. However, from memory not all files in the examples repo do. What specific part of our reader is diverging from the standard?

[2021-04-17 09:36] HanBnrd commented on #9308
I agree, I think it's not a priority now but I would keep this issue open in case we ever modify the Beer Lamber law implementation to use source-detector distances instead of the 3D positions.

This may become a bigger issue that we may want to address if every vendor decides to export data with only 2D positions and no sourcePos3D.

[2021-04-17 12:18] agramfort commented on #9309
you don't foresee a clash in API?

[2021-04-17 15:09] HanBnrd commented on #9309
It could maybe check if there is a file with the name being the string argument and if not check in the built in montages or the other way around. But maybe a separate function could be a safer option.

[2021-04-17 15:27] HanBnrd commented on #9265
Thanks @rob-luke, you are right, my bad. Both files do not pass the [*snirf_validator.py*](https://github.com/BUNPC/python_snirf_validator/blob/master/snirf_validator.py).

[2021-04-17 15:36] rob-luke commented on #9265
That's good to know. Thanks for checking this. I probably wouldn't trust that validator either. Just the spec is valid

[2021-04-17 15:43] #9265 closed

[2021-04-17 18:05] larsoner commented on #9309
I'm not worried about the extremely rare corner case where someone has a filename that matches one of our extensionless built-in names. If someone ever hits this the workaround is easy, just pass './whatever' instead of 'whatever'.

[2021-04-18 00:59] rob-luke commented on #9308
In that case I will move to M/EEG research 😆

[2021-04-18 12:46] hoechenberger opened #9312 "Cutting a new release"
Hello all,

it's been 4 months since the release of MNE-Python 0.22.0, and we've had super busy contributors submitting a large stream of changes, producing a big list of enhancements and bug fixes:

https://mne.tools/dev/whats_new.html

Many of these will make the lives of our users more pleasant 😁 so I suggest we should consider making a new release soon. The currently set due date of the 0.23 m

[2021-04-18 15:42] larsoner commented on #9312
Agreed we should have that deadline as an upper bound. I think folks should go through open issues and PRs and mark what needs to be done. I can probably make some bugfix PRs this week

[2021-04-18 20:11] agramfort commented on #9312
+1 I don't know if we have current blockers. If not I don't see a reason to
wait more.

[2021-04-18 20:38] drammock commented on #9312
there are several blockers I think.  Most prominent in my mind is that many of the 3D plots in the current dev docs have really messed up rendering (#9007 / #9010).  It would also be nice to get the PR that renames all the examples/tutorials finalized first (#9292), as well as the current website changes (#9288).

[2021-04-19 06:39] agramfort commented on #9309
ok why not then. PR welcome

[2021-04-19 13:31] larsoner commented on #8060
We have a plan and it's in progress so I'll close this

[2021-04-19 13:31] #8060 closed

[2021-04-19 14:14] larsoner commented on #9312
I went through and marked issues and PRs I see as blockers. I don't think it should take too long to take care of them

[2021-04-19 14:15] larsoner commented on #8750
@jstout211 any reply from CTF about this?

[2021-04-19 15:42] Falach commented on #7450
@MrNobodyCali
I also got some .e files that I need to read somehow, did you manage to find a "pythonic" solution? :)

[2021-04-19 19:26] fbaumgardt opened #9319 "Documentation for copy parameter in CSD inaccurate"
It appears that this line in the CSD documentation is not accurate:
https://github.com/mne-tools/mne-python/blob/93359566261be5c3fe7ceef8cb1fefce910cca52/mne/preprocessing/_csd.py#L88

I.e. I don't see any code for re-referencing based on the parameter. Also, the type validation happens after its use.

[2021-04-19 20:14] #8848 closed

[2021-04-19 20:16] agramfort commented on #9319
maybe for @alexrockhill or @dengemann ?

[2021-04-19 20:28] alexrockhill commented on #9319
I think the note is for the code as it was previously and then the average reference got taken out. I don't think it should have, that was with mine and @larsoner's last PR fixing the CSD. I'll look at the old, not fixed version and see if the line that re-references should be put back in.

[2021-04-19 20:54] fbaumgardt commented on #9319
Yeah, I'm just scanning through https://psychophysiology.cpmc.columbia.edu/Software/CSDtoolbox/faq.html to figure out if it's required. I had to remove an implicit reference but I'm still parsing out whether mastoid references are okay.

Thanks for the code and for dealing with the issue!

[2021-04-19 21:03] alexrockhill commented on #9319
Hmm okay so maybe the note should be changed then...

[2021-04-19 21:11] alexrockhill commented on #9319
Great, so I think the function works as is (besides the copy type validation but that doesn't really effect the output) but the documentation will be clarified when https://github.com/mne-tools/mne-python/pull/9320 merges and the validation will also be in the right order.

[2021-04-19 22:07] #9306 closed

[2021-04-20 08:17] AaronAngJW opened #9322 "TFRaverage.plot() only plots the data from the first channel when 'picks=' is a sensor type or a list of sensors."
#### Describe the bug
As with the title, `TFRaverage.plot()` does not plot the averaged activity across all sensors when multiple sensors were selected. Instead, it plots the activity of only the sensor with the smallest ID/number provided in `'picks='`

#### Steps to reproduce
Please refer to the follow discussion on https://mne.discourse.group/t/plotting-of-mne-combine-evoked-output-based-on-ave

[2021-04-20 10:29] AaronAngJW commented on #9273
Hi Richard, can I just check if this only affects data that have non-existent ECG and EOG data? (I'm assuming that is the scenario based on the empty epoch plot above); or spurious ECG/EOG events can also arise in a data with present ECG and EOG activity? I am asking because these events are primary to my current work.

[2021-04-20 13:55] alexrockhill commented on #9319
PR merged, I think this is good to be closed 👍

[2021-04-20 13:58] #9319 closed

[2021-04-20 14:14] drammock commented on #9322
duplicate of #9125

[2021-04-20 14:14] #9322 closed

[2021-04-20 15:31] #9007 closed

[2021-04-20 15:36] #5180 closed

[2021-04-20 15:52] #9082 closed

[2021-04-20 15:52] #9290 closed

[2021-04-21 09:59] hoechenberger opened #9328 "viz.plot_sensors('3d') doesn't handle mounse clicks to reveal sensor names correctly"
MWE:

[code]

Clicking on the frontal sensors reveals names of channels someplace else.

https://user-images.githubusercontent.com/2046265/115535014-a6acc000-a298-11eb-881d-bacf661ee57d.mov

When `show_names=True` is passed, the channels are labeled correctly, though, leading me to believe that the odd behavior described above is related to click -> channel mapping

<img width="752" alt="Screen Sh

[2021-04-21 11:37] mmagnuski commented on #9328
Oh, yes, I experienced it too. I think this worked correctly some time ago but I'm not sure.

[2021-04-21 12:18] hoechenberger commented on #9328
I remember it being like this for a while now, always forgot to file an issue report…

[2021-04-21 13:58] drammock opened #9330 "clustering step_down_p efficiency improvement?"
this is admittedly an edge case, but when running TFCE and the first pass shows that *every vertex* is part of a significant cluster and should be excluded, there shouldn't even be a second pass, right?  Admittedly it only took 1:05 for the second pass (versus 41:36 for the first pass) but honestly I find it odd that the code somehow managed to perform 10k permutations on zero vertices and spent a

[2021-04-21 19:36] drammock commented on #9328
I played around a bit and have concluded that the `event.ind` returned by the matplotlib pick event **is not deterministic and not stable before/after a click-drag rotation of the axes**.  Try it out: click on a point that you like, keep your eye on it while you rotate the axes, then click on that point again.

[code]

[2021-04-21 20:05] hoechenberger commented on #9328
@drammock Wow, this seems like an actual bug in Matplotlib then… 💩

[2021-04-21 20:13] drammock commented on #9328
I'm not sure if they would consider it a bug.  efficiently plotting 2D shapes in 3D space is not easy; I'm not surprised there's no guarantee that the points are drawn in the same order every time.  I guess maybe you could say it's a bug that they're allowed to be pickable?

[2021-04-21 20:23] hoechenberger commented on #9328
Yes, if their index is conditional on axis orientation, even though one is clearly referring to the same entity, then I would say it's a bug. If the index is mutable, it probably shouldn't be exposed in the first place.

Question is, how are we going to deal with this? The current behavior is not great. I suppose we could manually deduce from the current viewport orientation and channel montage wh

[2021-04-21 20:48] drammock commented on #9328
Step 1 is checking if they're already aware of this, and if not, opening an upstream issue.

Something based on [solution 5 on this page](https://izziswift.com/matplotlib-annotating-a-3d-scatter-plot/) might work.  Want to give it a try?

[2021-04-21 21:06] larsoner commented on #9328
I'd open a matplotlob issue first. My guess it that they have (or should have) some form of this logic in place already. In particular they might do the 3d to 2d projection internally, in which case there's potentially a problem with 2d marker or path collection picking. We can do the viewport gymnastics ourselves if we need to, but it would be good to hear them tell us that we should need to firs

[2021-04-21 21:22] drammock commented on #8761
if `scalings='auto'` then scaling is *not* channel-wise, it is still done jointly by channel type.  I don't think the scalebars are actually wrong; try

[code]
and then adjust one of them using `+` and `-` keys until the scalebars for a given channel type are showing approx the same number; the signals should look approx the same.

[2021-04-21 21:27] drammock commented on #8761
I don't recall it ever doing that, and that part of the code [hasn't changed significantly in 5-6 years](https://github.com/mne-tools/mne-python/blame/main/mne/viz/evoked.py#L43-L67).  Feel free to open as a separate feature request if you want.

[2021-04-21 23:47] larsoner commented on #8761
For this (point 1 above) you can do `picks='all'` for example. The documented default `None` selects "good data channels", which is why you don't see your bad channel. I think it ends up being plotted in red, though (?). I think this difference is okay since if you've chosen picks explicitly you probably want to clearly see the bad channel (and it would be harder to see in gray), whereas in raw pl

[2021-04-21 23:47] #8761 closed

[2021-04-22 04:16] rob-luke commented on #9265
I just received some SNIRF files from NIRx. So I will test and ensure these load in to our reader.

[2021-04-22 08:53] hoechenberger commented on #9195
I implemented @drammock's suggestion in the MNE BIDS Pipeline, but had a followup discussion with @agramfort and we decided to take a different approach after all, namely applying different `reject` parameters before and after ICA, possibly using `autoreject` to help us find sensible thresholds automatically. In any case, I believe this issue can be closed.

[2021-04-22 08:53] #9195 closed

[2021-04-22 11:08] HanBnrd commented on #9309
Hi, after diving deeper into this I realised that there is already the function [*read_custom_montage*](https://mne.tools/stable/generated/mne.channels.read_custom_montage.html#mne.channels.read_custom_montage) doing this, sorry for not seeing this earlier.

It is not working directly with `set_montage('path/to/file.elc')` but like this:
[code]
which is good enough I think. So I'm closing this iss

[2021-04-22 11:08] #9309 closed

[2021-04-22 11:27] ilonadem opened #9333 "Kernel appears to have crashed with mne.viz"
MNE version 0.22.1
Python version 3.8.5
Remote jupyter notebook/google colab

**Describe the bug**

I have been trying to run several of the jupyter tutorials from the mne website in a remote jupyter notebook. Each time I try to run any command that uses mne.viz(), or any other interactive visualization, the kernel restarts and I get the message **"the kernel appears to have died"**

**Steps to Re

[2021-04-22 11:58] kdarti commented on #9308
Hi, I'm Kristoffer, I work for Artinis, and I felt that I should comment a little on this issue.

I agree that it would be nice to always have 3D positions, but I don't see the issue with using 2D positions. MNE just takes the euclidean distance between optodes:

https://github.com/mne-tools/mne-python/blob/df6115ead7474c0374eda5958266fd02c9b5b1e0/mne/preprocessing/nirs/nirs.py#L30

We have a matl

[2021-04-22 13:04] cbrnr opened #9334 "Consider making `raw.annotations` a property"
I would like to revive #5512. Every time I want to set annotations, I blindly assume that I can just assign to `raw.annotations`. However, MNE uses a `set_annotations` method, which is completely un-Pythonic IMO. I know the reason why @agramfort wanted to have this explicit setter (people won't expect that something happens on assignment, whereas a method will make that more explicit).

I still di

[2021-04-22 13:05] HanBnrd commented on #9308
Hi @kdarti, thanks for commenting on this issue 🙂
@rob-luke, we've been discussing a bit by email with Kristoffer about it, here's my take on this:

I agree that it would be confusing to fake 3D positions because we wouldn't know if we have a SNIRF with fake or real 3D positions. So I think it wouldn't be good to have SNIRF files with fake 3D z coordinates or have the MNE loader creating fake 3D p

[2021-04-22 13:27] agramfort commented on #9334
just to repeat myself

with what you propose if you do:

raw.annotations = annotations
then you are very likely to get that
raw.annotations != annotations

it will be a copy and it can even be different (drop of annotations
outside + setting orig_time)

[2021-04-22 14:37] cbrnr commented on #9334
Yes, but if this happens there will be at least info if not warning messages.

[2021-04-22 14:55] drammock commented on #9334
anytime we say "people should be aware that..." I worry that we are raising the bar for how much Python experience people need before they can use MNE-Python effectively.  MNE-Python may be the first exposure to Python for many users, and for some it may even end up being the *only* domain in which they use Python. They will derive no advantage from this part of the API being more Pythonic, and th

[2021-04-22 14:56] #8718 closed

[2021-04-22 15:29] cbrnr commented on #9334
Hm. I overlooked the fact that a copy is being made. This is indeed something that does not happen in an assignment.

Why is the copy needed? Why can't users create an `Annotations` object and assign it the normal way?

[2021-04-22 15:35] cbrnr opened #9335 "Show times relative to `meas_date` in `raw.plot`"
Based on my question in our forum (https://mne.discourse.group/t/show-times-relative-to-meas-date-in-raw-plot/3027/3), I think it would be useful to show time stamps based on `meas_date` on the x-axis of `raw.plot`. This should be optional, and by default `raw.plot` should stick to showing time starting at 0.

[2021-04-22 15:52] crsegerie opened #9336 "brain.screenshot(time_viewer=True) crash"
I was running the mne-bids-pipeline (so with mne-23dev cloned from GitHub in backend), but a bug appeared just after the creation of the reports of the first subject. After investigation, it turns out that the bug comes from MNE, from the option time_viewer=True in the screenshot method. By setting it to false, the image plots nicely.

I tried to make a reproducible example with sample data, but t

[2021-04-22 16:00] larsoner commented on #9308
In MNE in general we assume that 3D locations are known, so I expect only having 2D to create all sorts of issues down the line. For example, when people will follow our fNIRS tutorials, they'll do a `plot_alignment` with their own data to sanity check things in 3D, and they'll see a flat disc of electrodes over the head (or worse and more likely, through it) and be rightly confused. The 2D plotti

[2021-04-22 16:02] larsoner commented on #9336
I'm guessing this is some sort of off-by-one error as:
[code]
@GuillaumeFavelier can you look?

[2021-04-22 16:05] larsoner commented on #9333
@GuillaumeFavelier it would be good if we could catch the no-OpenGL issue earlier, preferably in PyVista

In the meantime @ilonadem you could try our server environment on the remote machine to see if it works better:

https://github.com/mne-tools/mne-python/blob/main/server_environment.yml

Really what I think you need is some sort of suitably new OpenGL installed on the remote platform. MESA sof

[2021-04-22 16:26] GuillaumeFavelier commented on #9333
I will also suggest that you try:

[code]

To successfully enable the Notebook-specific 3d backend.

[2021-04-22 16:28] GuillaumeFavelier commented on #9333
As a side note, Google Colab is not yet supported with this backend, you can follow the progress on this in the following thread:

https://github.com/mne-tools/mne-python/issues/8704#issue-781224584.

[2021-04-22 16:29] sappelhoff commented on #8473
If I remember correctly there was also some talk somewhere (can't find it right now) to add a `.get_data` method to `Evoked` objects. Once that is added, the `units` parameter should also work for that.

[2021-04-22 16:30] GuillaumeFavelier commented on #9336
I added it in the list, I'll fixt it ASAP.

[2021-04-22 18:00] hoechenberger commented on #9336
Thanks @GuillaumeFavelier!

I don't want to be pushy, but if you could kindly move this up on your priorities list this would be most appreciated :) I'm working with @crsegerie and unfortunately this bug is currently a blocker in his project.

Let me know if there's any way I can help you track this down! Happy to have a call too.

🤗

[2021-04-22 18:01] kdarti commented on #9308
There's no transformation, we specify 2D locations, these are then written to snirf when converting. If a user wants they can use a polhemus digitiser to get 3D positions.

[2021-04-22 18:06] crsegerie commented on #9336
Yep. It would be most appreciated! And props to @hoechenberger who first isolated the bug

[2021-04-22 18:22] larsoner commented on #9308
To ask it differently, how are the 2D positions defined? Electrodes exist in 3D space, so the 2D representation must be some idealized approximation of the physical positions, no?

[2021-04-22 19:05] ilonadem commented on #9333
Thank you for the quick response!

I have tried
[code]
which produces the same kernel crash, and already have OpenGL installed in the environment.

In the meantime, I'll go ahead and try using your your server environment

[2021-04-22 19:33] kdarti commented on #9308
You set the 2D positions, they are relative and only function to provide the distances between optodes (sources/detectors) for mbll. You then match the relative positions/distances when placing optodes on the head.

[2021-04-22 20:12] rob-luke commented on #9308
I think that having only 2D positions will cause lots of problems downstream in MNE.

I understand that other software works in 2d (homer .nirs). But that is one of the reasons I moved to MNE. We shouldn't be held back by the choices made in other software packages. Locations are used for more than just beer Lambert law. And we wish to move beyond sensor space to source space, and that will requir

[2021-04-22 20:19] rob-luke commented on #9308
And i just read @larsoner response. His is much more eloquent than mine. But I think we are both of the same mind on this issue.

[2021-04-22 21:10] larsoner commented on #9308
I read a tiny bit about doing these transformations and I had forgotten (shame on me) that a plane is not isometric with a sphere, and it sounds like users are implicitly forced to do some form of sensor-2D-plane to head-3D-sphere (the head is a sphere approximately at least!) transformation during acquisition. This seems like it's not going to yield very accurate positions, but if experts think i

[2021-04-22 21:47] rob-luke commented on #9308
Agreed, best case is for the vendor to create a 2D to 3D converter as they know how their 2D positions were generated.

The problem with 'fnirs_2d_to_3d()' function is that, how do we know that the transformation is the same from one vendor to another. I'd bet it isn't.

Is the Artinis 2d coordinate system and transformations clearly defined in a document on a public website that we can access? I

[2021-04-22 22:05] rob-luke commented on #9309
Great catch. Maybe worth adding to the new tutorial too?

[2021-04-22 22:09] rob-luke commented on #9308
Another option could be to enforce that a 3d montage file must be passed in with a snirf file is used with 2d locations.

Thanks to @HanBnrd great work, users can now read in a fNIRS montage file.

I think a better option than supporting 2d would be to say... if you are using a data file with 2d locations you must also pass in a elc file which has the 3d locations. These elc files are easily creat

[2021-04-22 23:23] rob-luke commented on #9303
Great idea, thanks @ramkpari

[2021-04-23 03:56] rob-luke opened #9338 "Add support for NIRx fNIRS data in SNIRF format"
#### Describe the new feature or enhancement
We currently have a SNIRF reader that works with files produced using the society for fNIRS approved generator/converter.

However, there is quite some flexibility in the specification. Further, we only support a subset of the specifiation (for example we do not support anything other than continuous wave spectroscopy, and we dont support 2D locations).

[2021-04-23 04:08] rob-luke commented on #9338
In the case that these fields are missing I am going to assign the following naming structure...

* Sources: S1, S2, S3, etc
* Detectors: D1, D2, D3, etc

[2021-04-23 06:50] Horschig commented on #9308
Hi all,

The thing you misunderstand how the fNIRS world handles optode positions. Traditionally, optode positions are defined in an arbitrary coordinate system, NOT in MNI-space or any other space related to the human brain. Most researchers, based on my experience at least 90%, work with 2D coordinates only. This means, that any 3D projection would be arbitrary, as this coordinate system is unre

[2021-04-23 07:23] agramfort commented on #9334
to deal with the meas_date and drop annotations that do not fall inside the
data time range

[2021-04-23 07:39] GuillaumeFavelier commented on #9333
I'm trying to reproduce so I downloaded `sub-01_task-localizer_coherent+dSPM+hemi-lh.stc` and the `sub01` folder but I obtain the following when I run the script:

[code]

[2021-04-23 07:45] GuillaumeFavelier commented on #9336
I'm trying to reproduce so I downloaded `sub-01_task-localizer_coherent+dSPM+hemi-lh.stc` and the `sub-01` folder but I obtain the following when I run the script:

[code]

[2021-04-23 07:57] rob-luke commented on #9308
Fantastic. We can actively encourage users of MNE to use this option in your software then. Great news.

Good. We are all on the same page.

Surely motivated users can use your tool to specify 3d placement as described above? And for legacy data collected you could still modify the data field post hoc based on data from your tool? I remember having to manually edit 3d locations for atlas viewer to

[2021-04-23 08:04] rob-luke commented on #9308
We should add this to our docs. I'm about to revamp our snirf docs. So i can add the info as a note. Can you provide some files created by your software with the 3d template positions so I can add them to our test data to ensure we support your data?

[2021-04-23 08:14] GuillaumeFavelier commented on #9336
Also, as a way to mitigate since it's a blocker, does it work if you change the `size` parameter in `stc.plot` before calling `screenshot()`?

[2021-04-23 08:42] hoechenberger commented on #9336
@crsegerie Can you share the STC for the right hemisphere two? Bot are needed here

[2021-04-23 08:54] crsegerie commented on #9336
Yes @GuillaumeFavelier, if I add size=(500, 500) in the stc.plot, the bug disappears !

[2021-04-23 09:00] GuillaumeFavelier commented on #9336
I like your enthusiasm :) For me, it's still there in a corner case of `stc.plot` :sweat_smile:

[2021-04-23 09:02] crsegerie commented on #9336
Here is the right hemisphere : https://drive.google.com/file/d/1y7puZ7RPMGV6uB6tN_Pu-MgamuaAFvlb/view?usp=sharing

(In the script only left hemisphere is imported ? Weird, but ok...)

[2021-04-23 09:18] cbrnr opened #9339 "raw.plot raises KeyError with event_colors"
Some code I wrote a while ago suddenly started to throw a `KeyError`:

[code]

@drammock do you know if this behavior changed? Should we assume a default color for events that are not specified in the `event_color` dict?

[2021-04-23 09:38] hoechenberger commented on #9336
Yeah, MNE tries to automatically find the other hemisphere. It's a bit odd, yes…

[2021-04-23 09:40] GuillaumeFavelier commented on #9336
Thanks for sharing. I still cannot reproduce locally but I'll try to simulate this scenario anyway and come up with a fix eventually.

About the origin of the issue itself, it's not clear so I can only guess here. Reasons why the trace plot would not have the correct size could be either unexpected DPI configuration or PyQt5 inconsistencies on Windows for example.

[2021-04-23 11:38] jjnurminen commented on #4931
Hi guys @larsoner @agramfort

I'm encountering an issue where the BEM model becomes inaccurate for some occipital sources of the 'sample' subject. Excluding sources with `mindist` seems to help, but I have a feeling that the model is still inaccurate for part of the occipital region.

I'm not really a BEM/segmentation expert. Does the above mean that the 'sample' subject has geometry glitches that

[2021-04-23 13:10] hoechenberger commented on #9336
@GuillaumeFavelier yes I also suspected some kind of hi-DPI interaction

@crsegerie can you check if you have any of those settings for high-resolution displays activated?

https://windowsreport.com/fix-hidpi-issues-windows-10/

[2021-04-23 13:32] larsoner commented on #9308
Indeed I'm thinking what we can do is allow reading these 2D positions, and set z=0 with a warning. In that warning we can encourage people to use 3D positions and set them using `set_montage` or so.

It would be great if we could get these @Horschig @kdarti ! Usually what we try to have is some tiny (few seconds?) recording of data with these positions, then we can add it to our test data for uni

[2021-04-23 13:34] larsoner commented on #9338
All sounds good @rob-luke !

[2021-04-23 13:48] rob-luke commented on #9308
Ok if that's the vote. I'll implement in with #9338

[2021-04-23 14:25] larsoner commented on #4931
@jjnurminen see https://github.com/mne-tools/mne-python/pull/8840#issuecomment-774059118

The plan is to make some functions to quantify BEM quality using the rule of thumb mentioned there, maybe it would help with your use case?

[2021-04-23 15:41] hoechenberger opened #9342 "IndexError when clicking on trace in ICA.plot_overlay()"
MWE:
[code]
https://user-images.githubusercontent.com/2046265/115895458-ba078900-a45a-11eb-95ac-9e97e86c3de3.mov

[2021-04-23 16:14] HanBnrd commented on #9308
Thanks all for the helpful inputs on this issue.

@larsoner I think that's probably the best call. I also had in mind another option which would be to add some kind of boolean `extrapolate_2d` parameter to *read_raw_snirf* that would add fake z=0 3D positions if set to `True`. But maybe doing it automatically is better actually.

@kdarti from Artinis sent me example SNIRF files which have only 2D

[2021-04-23 16:19] HanBnrd commented on #9308
@rob-luke do you plan to solve this issue together with #9338 in one PR? As you wrote:

in the other issue, I wasn't sure.
Let me know if you want to split the work.

[2021-04-23 16:30] jasmainak commented on #8714
@ramkpari can we close this issue now?

[2021-04-23 16:50] ramkpari commented on #8714
Once #9285 is merged it should be good to close.

[2021-04-23 16:55] crsegerie commented on #9336
I checked my graphic settings, but did not find any anomalies.

[2021-04-23 17:15] crsegerie commented on #9336
if it is more convenient for you, we can arrange a meeting if you want to explore my debugger on VS Code?

[2021-04-23 17:57] annnhuang opened #9343 "Trouble converting an Annotations object to an Events array ('Annotations' object has no attribute 'annotations')"
I am a beginner to Python MNE. I got super stuck on trying to convert the annotations into events...

**The following are the codes I have:**

``# reading embedded events as annotations

raw_annot = mne.read_annotations('C:\\Users\\HIVE-Admin\\Desktop\\Ann_EEG\\EEG_results\\s01.vmrk')
raw.set_annotations(events)
print(events)

##convert an Annotations object to an Events array

event_id = {'wrong

[2021-04-23 18:03] cbrnr commented on #9343
You need to pass the `raw` object instead of `raw_annot`, i.e.

[code]

[2021-04-23 18:10] annnhuang commented on #9343
I did that, but I got the following error, (one that I also keep encountering):

ValueError: Could not find any of the events you specified.

[2021-04-23 18:20] cbrnr commented on #9343
Then `raw.annotations` doesn't contain annotations with the given type. Is your initial code correct? I think the line

[code]

should be

[code]

Then you can check which annotations you have by printing `raw.annotations`.

[2021-04-23 18:40] larsoner commented on #9328
I'm going to push to 0.24 since it seems like it might take a while to figure out the right solution here

[2021-04-23 18:40] larsoner commented on #9310
This to me is an enhancement and shouldn't block 0.23 so I'm re-milestoning for 0.24

[2021-04-23 18:56] #9093 closed

[2021-04-23 19:04] HanBnrd commented on #8149
Hi @larsoner, this issue also is closed by #9141 🙂

[2021-04-23 19:09] larsoner commented on #8149
Indeed, thanks!

[2021-04-23 19:09] #8149 closed

[2021-04-23 21:09] rob-luke commented on #9308
Check the time stamps and email me the 2d file

[2021-04-26 12:28] #8714 closed

[2021-04-26 13:22] ericphanson opened #9350 "`mne.time_frequency.multitaper` Nyquist adjustment slightly incorrect"
In https://github.com/mne-tools/mne-python/blob/c6b22e82b64da0ed0f52a5f28bd4711e47090f9e/mne/time_frequency/multitaper.py#L322

there’s an adjustment of the Nyquist frequency component if the length of the signal input is even. I think the condition should instead be if `n_fft` is even. I think the reasoning is the same as in https://www.mathworks.com/matlabcentral/answers/102727-why-does-the-exam

[2021-04-26 13:29] larsoner commented on #9350
@ericphanson that sounds right to me, are you up for making a PR to fix it?

[2021-04-26 13:40] ericphanson commented on #9350
Sorry, I'm not very familiar with Python and I suspect that a lot of tests will need to be updated, so I'd prefer to just make the report.

[2021-04-26 13:52] Horschig commented on #9308
I understood that @HanBnrd already received them (with #9141), so no action required from us, right?

[2021-04-26 13:56] #9338 closed

[2021-04-26 13:56] #9308 closed

[2021-04-26 14:47] hoechenberger commented on #9336
@GuillaumeFavelier So the default `size` is 800; why would changing that to 500 change anything? What's the rationale? (It seems to work so this is great – but I have no idea **why** that works?)

[2021-04-26 15:04] larsoner commented on #9336
Probably this, or something similar. My guess is that there is a situation where the sizes reported are inconsistent, or we don't use them correctly, and that whether or not this situation occurs depends on the size itself and/or interactions with the window (resizes, etc.). So trying different `size` options will tell us if some work and others don't, and then we could start looking at various MN

[2021-04-26 15:06] hoechenberger commented on #9336
Thanks @larsoner!

I just realized that @crsegerie switched from `size=800` (default) to `size=(500, 500)`, i.e., a tuple. Maybe that's also part of the solution…

[2021-04-26 15:07] larsoner commented on #9336
IIRC an `int` just gets turned into `(size, size)` internally so `size=800` should give identical results to `(800, 800)`

[2021-04-26 15:12] crsegerie commented on #9336
Ok. I've tested (500, 500), 500, (800, 800), and 800 and it's not a matter of tuple not tuple... Only the 500 are working

[2021-04-26 15:20] hoechenberger commented on #9336
You mean `500` and `(500, 500)` are working, yes?

[2021-04-26 15:21] crsegerie commented on #9336
Only the size matter, not the tuple

[2021-04-26 15:29] crsegerie commented on #9336
OK. 500 working, 600 working, 799 working, 800 not working, 801 not working

[2021-04-26 15:30] larsoner commented on #9336
Can you see if you can reproduce with a simple example using `sample` data? For example:
[code]
For me I get:
[code]
Can you tell me if this works for you at 500 and 800? And if one or both of them succeed, what the `print` statement prints?

Also, what is your screen resolution? And can you tell me if this prints something other than 1.:
[code]

[2021-04-26 15:42] crsegerie commented on #9336
There is a small typo inital_time > initial_time.

For me the code works for both 500 and 800.

For 500 I obtain : (66**7**, 500, 3)
For 800 I obtain : (1067, 800, 3)

My screen resolution : 1920x1080.

When I run the tests, I get 1.

[2021-04-26 15:43] crsegerie commented on #9336
So the only difference is my 667 and your 669

[2021-04-26 15:47] drammock commented on #9339
This is expected behavior, and is documented.  See bolded section of docstring below:

[code]

When the `event_color` / `event_colors` args of raw and epochs were unified, doing it this way was as close to maintaining backwards-compatibility as I could manage (see item 5 [here](https://github.com/mne-tools/mne-python/pull/8381#issuecomment-722720232)).

Not in my opinion.  How would we pick that c

[2021-04-26 15:47] #9339 closed

[2021-04-26 16:37] #8013 closed

[2021-04-26 16:50] larsoner commented on #9335
In terms of a mechanism for doing it, I would make a new tick formatter. Matplotlib decides where the ticks go, and the formatter takes the x values (which are just from `raw.times` starting from zero) and incorporates whatever information about `first_samp`, `raw.annotations.meas_date` etc. and returns the datetime string.

[2021-04-26 16:56] larsoner commented on #9312
FYI based on the remaining 0.23-marked issues and PRs I plan to cut a release tomorrow

[2021-04-26 19:57] rob-luke commented on #9308
@Horschig @HanBnrd @larsoner

To ensure we support Artinis created SNIRF files we would need some test data in the testing repository. We would like a short (10-15s) recording exactly as created by your software, not edited afterwards (e.g.crop as this might not be faithful to how your software creates the file).

We also try to keep a record of the settings used to take the measurement so that we

[2021-04-26 19:58] rob-luke commented on #9308
Compatibility! I can't spell

[2021-04-26 20:07] drammock commented on #9342
sticking a `print` statement into `_butterfly_onpick` shows that the pick handler is getting called 4 times per click (twice for the black line, and twice for the red line superimposed on it).  I see this behavior even on Matplotlib latest dev version (https://github.com/matplotlib/matplotlib/commit/93e716de372a8d6e95f999ce60ea8965d1488c4c).  I was hoping it was already solved by https://github.co

[2021-04-27 05:40] cbrnr commented on #9339
I didn't see the new docstring, and I can live with explicitly passing a `-1` dict entry.

[2021-04-27 05:42] cbrnr commented on #9335
I can give it a try, but not for 0.23 (obviously).

[2021-04-27 12:22] jjnurminen commented on #4931
@larsoner actually, after some struggle, I traced the problem down to the precomputed BEM that comes with the `sample` subject. For some reason, that model becomes very inaccurate for field points below the brain (relatively close to negative z-axis).  The problem goes away if I recompute the BEM using mne-python functions.

I couldn't reproduce using this another sample subject from the HF-SEF da

[2021-04-27 13:40] #9336 closed

[2021-04-27 13:55] jjnurminen opened #9354 "weirdness of precomputed BEM for sample"
Hi,

I get strange BEM results with `sample` using the precomputed BEM. These manifest as erroneous/unexpected field values, mostly in regions below the brain. The problems seem to go away if I recreate the BEM in mne-python.

To demonstrate, I created an array of 1000 pointlike magnetometers:

![snapshot](https://user-images.githubusercontent.com/8491321/116250994-e97a0680-a776-11eb-84d5-21ed84dd

[2021-04-27 14:01] jjnurminen commented on #4931
@larsoner https://github.com/mne-tools/mne-python/issues/9354

[2021-04-27 14:04] agramfort commented on #9354
is this a pb of numerics that change between systems?

[2021-04-27 14:06] jjnurminen commented on #9354
@agramfort maybe, but I find it hard to understand why the precomputed BEM blows up pretty much completely for some field points.

[2021-04-27 14:08] agramfort commented on #9354
maybe the precomputed BEM was computed by the C code that uses float32?

[2021-04-27 14:13] jjnurminen commented on #9354
To fix `sample`, we can of course just create and save new BEM models using mne-python. However some mne-python docs still suggest creating BEM models with the command line tools, so we might want to make sure they don't produce erroneous models.

BTW, this issue would probably go unnoticed by normal sensor setups due to 1) finite-area sensors cause the field values to be spatially averaged and re

[2021-04-27 14:35] #9223 closed

[2021-04-27 14:45] larsoner commented on #9312
Closing, starting the process once CircleCI comes back green from the latest PR

[2021-04-27 14:45] #9312 closed

[2021-04-27 15:56] larsoner opened #9355 "ENH: Add data reader for Hitachi NIRS files"
@rob-luke I got some Hitachi NIRS data files from a collaborator, do you think it's worth writing a proper reader for them? They appear to be a CSV with some header information so it shouldn't be too difficult in principle, though I think in practice it might be a pain to acquire proper test data for it. I can look into it if you think it's worth having in MNE, though.

[2021-04-27 21:04] rob-luke commented on #9355
This would be fantastic to have! Hitachi is one of the popular vendors and would therefore be commonly used. Within the auditory field several of the prominent labs use hitachi including Nottingham/Hartley and UCL.

If I remember correctly these devices have a fixed set of optode positions. If my memory is correct, we could have these as pre saved montages like we just did with the Artinis fixed a

[2021-04-28 08:00] agramfort commented on #9354
where?

is it really erroneous or just numerics compatibility issues?

ok

[2021-04-28 09:44] jjnurminen commented on #9354
At least https://mne.tools/stable/auto_tutorials/forward/30_forward.html says:

"Computing the BEM surfaces requires FreeSurfer and makes use of the command-line tools mne watershed_bem or mne flash_bem, or the related functions mne.bem.make_watershed_bem() or mne.bem.make_flash_bem()"

Well, if the BEM example gives results that are way off, I'd say it's erroneous. Whether it's due to numerics co

[2021-04-28 14:59] MattiStenroos commented on #9354
Hi MNEers!

Before going for actual bugs or smaller differences due to different numerical libraries, let's look at the model...
The precomputed MNE model is a 3-shell model, and based on what I understand from Jussi's script / its output, the new one is a single-shell model. For differences between a single- and three-shell model in a normal MEG sensor setting, please see (Stenroos et al, NeuroIm

[2021-04-28 15:46] jjnurminen commented on #9354
Thanks @MattiStenroos! I feel dumb now. Somehow the fact that the precomputed model is a three-shell one completely escaped me.

I guess I was somewhat misled by https://mne.tools/stable/auto_tutorials/forward/30_forward.html, which uses the same dataset and  says:

"Here we’ll assume it’s already computed. It takes a few minutes per subject.
For EEG we use 3 layers (inner skull, outer skull, and

[2021-04-28 17:09] MattiStenroos commented on #9354
Don't worry, you are not the first one to get confused with relationships between different head models and sensor or source locations...

I think it would always be a good idea to plot at least the scalp mesh and the sensor locations --- maybe add that to some MNE basic example scripts, if it is not there yet? As coregistration sanity-check, I would also check the distance from scalp to sensors.

[2021-04-28 18:15] agramfort commented on #9354
this tells me that the forward code should crash if it detects some
channels inside the BEM surfaces...

also you say it recommends to use the command line but the command line you
refer to is just python code
so the only difference could be an IO roundtrip.

[2021-04-28 18:41] bloyl opened #9360 "Mayavi problems on MAC"
I'm having problems with the macos and mayavi visulaization in mne 0.23 (but probably earlier versions as well).

<details>
<summary markdown="span">MAC hardware</summary>

[code]
</details>

I created a fresh environment for mne 0.23

<details>
<summary markdown="span">Make env</summary>

[code]
</details>

<details>
<summary markdown="span">mne sys_info</summary>

[code]
</details>

The pyvista

[2021-04-29 08:09] GuillaumeFavelier commented on #8704
For `Jupyter Lab` integration it might worth trying again once https://github.com/pyvista/pyvista/issues/1116 is fixed.

[2021-04-29 08:18] MrNobodyCali commented on #7450
@Falach
Actually I used Matlab to analyze files before and I choose .edf files now. But I notice mne-python added a new file interface `mne.io.read_raw_nihon` (https://mne.tools/stable/generated/mne.io.read_raw_nihon.html). `.EEG` is the original file type from Nihon Kohden equipment and `.e` file is an output file type of this machine. Maybe you can fetch the original `.EEG` rather than `.e` to a

[2021-04-29 13:19] GiovanniGr commented on #7915
Hello MNE-team,

 I tried to install the version described but there are no files in that directory. In fact https://github.com/larsoner/mne-python/tree/conn returns a 404 error. Is it possible to get it again?

Best,
Giovanni

[2021-04-29 13:20] larsoner commented on #7915
that branch was merged in `https://github.com/mne-tools/mne-python/pull/7916`, if you use latest `main` you should be good to go

[2021-04-29 14:38] larsoner commented on #9360
I can't replicate on my macOS system with Intel Iris graphics.

Does `python -ic "from mayavi import mlab; mlab.test_plot3d()"` work where it displays and you can interact?

What about `MPLBACKEND=Qt5Agg python -ic "import matplotlib.pyplot as plt; plt.ion(); plt.plot(0, 0)"` where you can interact and zoom?

[2021-04-29 16:22] jstout211 commented on #8750
I just pinged CTF about this for an update.  I will let you know what they say.

[2021-04-29 16:45] bloyl commented on #9360
Both
`python -ic "from mayavi import mlab; mlab.test_plot3d()"`
and
`MPLBACKEND=Qt5Agg python -ic "import matplotlib.pyplot as plt; plt.ion(); plt.plot(0, 0)"`
work fine.

note 2d plotting (matplotlib) is working fine. I was able to run this example without issue (https://mne.tools/stable/auto_examples/visualization/channel_epochs_image.html#sphx-glr-auto-examples-visualization-channel-epochs-imag

[2021-04-29 16:59] jstout211 commented on #8750
@larsoner  -  I was told that the clock channel was fixed in release:
ctfmeg-6.2.0-11844.el6_10.x86_64.rpm

[2021-04-29 17:01] larsoner commented on #8750
Okay so it sounds like no action is needed at our end since the `ignore` is a sensible workaround for the affected files, and it should be fixed. I'll go ahead and close but feel free to reopen if newly acquired data is not correct @jstout211 -- and thanks for investigating with CTF!

[2021-04-29 17:01] #8750 closed

[2021-04-29 17:08] larsoner commented on #9360
Okay but it's not a purely Mayavi problem because the `mlab.test_plot3d()` worked, in the sense that it plotted something like this that you could rotate with the mouse, etc., right?

![Screenshot from 2021-04-29 13-02-41](https://user-images.githubusercontent.com/2365790/116589957-354dbc80-a8eb-11eb-9550-65c4a13b27a1.png)

In other words, Mayavi itself is fine, but somehow our use of Mayavi / the

[2021-04-29 18:46] bloyl commented on #9360
`MNE_3D_OPTION_ANTIALIAS=false` solves the problem with `mne coreg` which was the real show stopped for me.

However there is still something strange going on.

the following behavior isn't changed by `MNE_3D_OPTION_ANTIALIAS=false` and to confirm `sys.platform` is 'darwin'

`python -ic "import mne; from surfer import Brain; brain = Brain('fsaverage', 'lh', 'inflated', subjects_dir=mne.datasets.sa

[2021-04-29 19:16] larsoner commented on #9360
Great! We should add this to the 3D debugging docs. @GuillaumeFavelier want to take a stab?

This looks like an ipython<->mayavi bug. I wonder if it would be fixed by doing `%gui qt` or `%matplotlib qt`

[2021-04-29 20:37] bloyl commented on #9360
`MNE_3D_OPTION_ANTIALIAS` is on the advanced setup page.

but I only tested in the ipython session where it didn't have an effect. so never tested it against `mne coreg`

Its up to you 2 if you feel the current doc is sufficient.

[2021-04-29 20:40] larsoner commented on #9360
@bloyl I would argue that if it tripped you up, it's probably not sufficient :)

And looking at it, this is listed in the `Off-screen rendering with MESA` section, not the `Troubleshooting` section. I think it should live there as well, and probably also specifically mention macOS as possibly needing this parameter.

[2021-04-30 00:00] GiovanniGr commented on #7915
I tried to do a time-frequency permutation_cluster_test over 126 channels for different observations and for two groups.
So I have 4D data (observations, times, frequencies, channels) for two groups of users but it didn't work.

`adjacency = sparse.csr_matrix(np.zeros((126,126)))
sample = np.zeros((4,100,6,126))

print(sample.shape)
print(adjacency.shape)

F_obs, clusters, cluster_pv, H0 = mne.sta

[2021-04-30 11:38] #9360 closed

[2021-04-30 15:50] drammock opened #9364 "make it easier to specify adjacency in permutation_cluster_test"
I tried to do a time-frequency permutation_cluster_test over 126 channels for different observations and for two groups.
So I have 4D data (observations, times, frequencies, channels) for two groups of users but it didn't work.

[code]

the error raised is

at line 606 of "mne/stats/cluster_level.py" file.
(and 75600 is evenly dividable by 126, but "got_times" is different from "n_times" for the d

[2021-04-30 18:54] drammock commented on #9364
actually @GiovanniGr it turns out we already have this function: `mne.stats.combine_adjacency` that will do what you need:

This works for me:

[code]

[2021-04-30 20:09] drammock commented on #9364
actually, I think I can see room for improvement. re-opening.

[2021-05-03 04:58] yjmantilla commented on #1308
I have an early stage translation of it here, if anyone is interested in that:

https://github.com/yjmantilla/gdatav4

[2021-05-03 06:59] yjmantilla commented on #9206
I dont know if the project will use the biharmonic spline interpolation used for the Scalp topography images of ICLABEL but if it is of any help I got some code for that at https://github.com/yjmantilla/gdatav4 .

[2021-05-03 09:16] RuKrei opened #9370 "maxfiltered split files not handled correctly (mne-0.23)"
#### Describe the bug
Dear mne developers,

as you all know, elekta (megin) fif files are automatically split, if file size exceeds 2GB.
This results in a second file with tag "-1".fif.
Mne handles this correctly.

However, if files are processed with maxfilter (in my case tsss + head transposition), by default resulting files are renamed to
 - filename + maxfilter-tags .fif

If a split-file is pr

[2021-05-03 10:11] agramfort commented on #9370
the name of the next fif file is written in the file. I suspect your files
were renamed manually.

can you confirm?

[2021-05-03 15:37] #9364 closed

[2021-05-03 18:36] dasdiptyajit commented on #8737
@larsoner hi, any idea why the current  'make_inverse_resolution_matrix'  function doesn't include a normal inverse orientation?As I can see the orientation is limited to i.e., pick_ori = None/vector.

[2021-05-03 18:36] Falach commented on #7450
@MrNobodyCali
Unfortunately, I currently don't have access to the machine so the .e files are all I have.
So if I'll try Matlab, I found this simple code to load it: https://www.fieldtriptoolbox.org/getting_started/nicolet/
Do you have maybe a script for converting it to something that I can load with mne?
Thanks!

[2021-05-03 23:56] rob-luke opened #9371 "ENH: Add data reader for NIRx NIRSport2 NIRS files"
I now have access to a NIRSport2 NIRx device. So I will take some small test measurements to ensure our `read_raw_nirx` function can support it. Following #9348 I don't think this will take much code change.

I will also tidy up the https://mne.tools/stable/auto_tutorials/io/30_reading_fnirs_data.html tutorial as it is growing (#9355) and could now do with a general intro and more details on how f

[2021-05-04 13:50] larsoner commented on #8737
@dasdiptyajit if you make a fixed orientation inverse I think it should work. Are you talking about using a loose inverse but with `pick_ori='normal'`? We could maybe add support for this. WDYT @olafhauk ?

[2021-05-04 14:05] dasdiptyajit commented on #8737
@larsoner yes, you are right, I was talking about inverse with a loose constraint and one more thing, the PSFs are likely not to conserve their signs when you compute the resolution matrix with loose inverse, at-least what I have seen so far. What could be the reason for that? thanks!

[2021-05-04 14:29] jasmainak opened #9372 "wrong python version on MNE website"
Here: https://mne.tools/dev/install/index.html

It says that MNE-Python requires 3.6 and higher, however if you try to install on 3.6 it fails. I think this needs to be updated along with any other places that might have been left.

[2021-05-04 17:11] drammock commented on #9372
PR welcome.

[code]

[2021-05-05 14:55] eort commented on #7751
I noticed two more problems in `epochs.plot_psd()`.
1) The `ax` keyword is different that what seems to be the standard (`axes` instead of `ax`).
2) The function has not `exclude` keyword.

A similar plot for ERPs has that keyword, which is quite useful for quality control of preprocessing steps.
If I am not missing anything, these lines from `[plot_evoked](https://github.com/mne-tools/mne-python/

[2021-05-05 15:26] drammock commented on #7751
go for it!

[2021-05-05 21:00] dasdiptyajit opened #9373 "Morphing STC is broken/ issue with STC plot"
#### Describe the bug
It seems like there is some sort of bug when I try to compute : compute_source_morph to morph individual subject to fsaverage
and STC.plot is also causing some issues.

#### Steps to reproduce (code)
# source localization
_**
inv_fname = join(subjects_dir, id, int_name + inv_pattern)
inv = read_inverse_operator(inv_fname)
stc = apply_inverse(evoked, inv, lambda2=lambda2, meth

[2021-05-05 21:05] dasdiptyajit commented on #9373
@larsoner @agramfort any idea what it could be?
I tried to open the stc file with mne-C but it doesn't load and I am getting an error: **Overlay doesn't match the loaded surfaces**

[2021-05-06 06:27] agramfort commented on #9373
are you sure there is no mistake ? wrong subject in inverse or wrong
freesurfer recon?

[2021-05-06 08:17] dasdiptyajit commented on #9373
@agramfort I tested it yesterday and can confirm, its not a mne issue. Apparently, I was running fsfast pipeline for my fMRI data and for some subjects, some of the surfaces were missing or not updated since they were created with a older version of freesurfer recon. So, I updated the recon and it modified the coordinate no. in (lh/rh.white surfaces) and now the morhping doesn't working on the fly

[2021-05-06 09:26] jsosulski opened #9374 "Repeated Epoch/Evoked cropping is not idempotent when include_tmax=False"
#### Describe the bug

Repeated cropping of `mne.Epoch` when `include_tmax=False` cuts off the last time sample.

#### Steps to reproduce

[code]

#### Expected results

The `epo.tmax` should be set to 0.375 on the first and all subsequent iterations.

#### Actual results

Every loop iteration cuts off the last time sample of the epoch.

#### Additional information

[code]

The cause of the issue

[2021-05-06 11:55] agramfort commented on #9373
if you recomputed the recon you'll need to recompute the src, fwd, inv etc.

[2021-05-06 12:02] dasdiptyajit commented on #9373
Hi! Is it a must? I managed to get  the back up of the earlier version of recon surfaces and It works now. What's your recommendation?

[2021-05-06 12:06] agramfort commented on #9374
the pb is here:

https://github.com/mne-tools/mne-python/blob/main/mne/utils/numerics.py#L475

we need remove the last time point even if we shouldn't

would you be willing to open a PR to fix this?

[2021-05-06 12:07] agramfort commented on #9373
if you have your old files then you're ok.

please close the issue if you conclude it's not an MNE issue.

[2021-05-06 12:18] dasdiptyajit commented on #9373
thanks! I was about to do that

[2021-05-06 12:18] #9373 closed

[2021-05-06 12:21] jsosulski commented on #9374
Sure, I will submit a PR.

[2021-05-06 18:49] neerajwagh opened #9377 "ENH: choice of thread-based vs process-based parallelism in time-freq representation"
#### Describe the new feature or enhancement
Enhancement - Let the user control the type of parallelism (threading or processes) used under the hood by joblib, just like n_jobs currently is. It would be nice to have the user control whether mne creates processes or threads in the background, to make memory management easier/more predictable for user-written mne-based processing pipelines.

Althoug

[2021-05-06 19:07] agramfort commented on #9377
have you considered a the joblib context manager eg

with parallel_backend('threading', n_jobs=2):

see example in https://joblib.readthedocs.io/en/latest/parallel.html

[2021-05-06 20:06] jsosulski commented on #9374
I think (for now) the fix needs to be done in the outer call in the `crop` function of the Epoch class, as in the `_time_mask` function we do not have the information whether `tmax` was set automatically or not.

However, using `grep` I found several calls to `_time_mask` that could have similar issues as Epoch. Could check the relevant sections tomorrow though.

[2021-05-07 08:42] jsosulski commented on #9374
For posterity: the same issue is present for `Evoked`

[2021-05-07 13:18] dddd1007 opened #9380 "mne.io.read_raw_curry() cannot read the event file end with '.cdt.ceo'"
#### Describe the bug
I have tried to use `mne.io.read_raw_curry()` to read my data created by Curry 8, but there were no annotations in the Raw object. But EEGLAB can import the data and show the annotations correctly.

#### Steps to reproduce
I read the source code of [curry.py](https://github.com/mne-tools/mne-python/blob/maint/0.23/mne/io/curry/curry.py), and I found this function cannot handl

[2021-05-07 13:29] drammock commented on #9380
Can you share the original file (Dropbox, Google drive link, etc) so we can test?

[2021-05-07 13:45] dddd1007 commented on #9380
Definitely yes. Here is the original file.

https://www.dropbox.com/s/d41yfv7ik0ldzpv/eeg_raw.zip?dl=0

[2021-05-07 14:42] MatthiasEb commented on #9267
Hi, I'm having the same issue. Indeed, it is related to non-ASCII characters in the annotations. I attached  [Examplefiles.zip](https://github.com/mne-tools/mne-python/files/6442306/test.zip). [EDFBrowser](https://www.teuniz.net/edfbrowser/) converts without issues, so it doesn't seem to be an issue of the .EEG format itself.

The suggestion:
`t_logs = np.fromfile(fid, '|U45', n_logs)`
proposed by

[2021-05-07 15:45] dddd1007 commented on #9380
This bug is fixed by @drammock .

[2021-05-07 15:48] drammock commented on #9380
FYI, normally we leave issues open until the fixing pull request has been merged, in case during review the solution is found to be incorrect or incomplete.

[2021-05-07 15:56] dddd1007 commented on #9380
I am sorry for my brusque being.

[2021-05-07 16:08] neerajwagh commented on #9377
Oh I didn't know that could work. I'll try over the weekend, and share the results. You may close this if it is a non-issue. Thanks!

[2021-05-07 16:09] drammock commented on #9380
no problem!  Different software projects handle issues/PRs differently.  Thanks for reporting this bug and helping to fix it.

[2021-05-07 22:28] ephathaway commented on #8038
I would like to add a function to write one or more `Evoked` objects to an MFF file. MFFs can be of the "averaged" flavor and may contain multiple averages of different categories. I think the `Evoked` class will translate nicely to this sort of MFF. To accomplish this, we could make use of [`mffpy.Writer`](https://github.com/BEL-Public/mffpy/blob/develop/mffpy/writer.py) class, which I think will

[2021-05-08 15:38] hoechenberger opened #9382 "Extracting cHPI information (e.g., coil frequency) from data other than Elekta/Neuromag"
Our Brainstorm CTF dataset comes with continuous head localization data, which is stored in several (9) channels and can be extracted as described in https://mne.tools/dev/auto_examples/preprocessing/movement_detection.html#plot-continuous-head-position-with-respect-to-the-mean-recording-position

However, for writing BIDS metadata via MNE-BIDS, I'd like to extract additional meta information, mos

[2021-05-09 03:44] DMRoberts opened #9383 "Cropping data retains annotations that are outside the maximum range of data by 1 sample."
#### Describe the bug
Cropping an MNE Raw Array to a given time interval retains annotations that exist outside the time interval of the data. Specifically, annotations that occur up to 1 sample after the final sample in the data interval are retained.

I am not completely sure if this is a bug, or intended behavior.

It seems to be a bug, in that it seems to be unexpected, and as described below,

[2021-05-09 15:53] agramfort commented on #9267
see https://github.com/mne-tools/mne-python/pull/9384

[2021-05-10 08:44] fraimondo commented on #9267
For EDF+, this is the text from the EDF+ specification (https://www.edfplus.info/specs/edfplus.html#header):
"These annotations may only contain UCS characters (ISO 10646, the 'Universal Character Set', which is identical to the Unicode version 3+ character set) encoded by UTF-8."

The problem with NK files is that we do not have the specification. I've seen this problem with many formats too. #93

[2021-05-10 08:53] timpx opened #9385 "filename issue with the new _repr_html_ when creating RawArray directly"
#### Describe the bug
After creating a RawArray from scratch, for instance after importing data with neo, the representation of the array fails in Jupyter notebook. The bug seems to be related to _repr_html_ introduced in 0.23.0., where the basename is not found for RawArrays created from scratch.

#### Steps to reproduce
You can simply reproduce by executing this [MNE example](https://mne.tools/s

[2021-05-10 08:55] MatthiasEb commented on #9267
Thanks for the prompt responses.

I have absolutely no idea how regularly the NK files might change. If you think that this might be practically hard to maintain, at least a flag to suppress the automatic reading of the annotations would be reasonable, I guess.

[2021-05-10 09:03] agramfort commented on #9267
feel free to take over. I tried to provide a way out. Unlikely I have time
to finish this myself this week

[2021-05-10 09:13] MatthiasEb commented on #9267
...and I'm really grateful for that. I've never contributed to anything and have limited time myself at the moment. I can try, but this might take a while and I might need some guidance...

[2021-05-10 10:41] fraimondo commented on #9267
It’s not about how they change, but what we find. We are working on a trial/error basis here. Having example files will help us determine which encodings are supported by the NK format.

[2021-05-10 11:27] MatthiasEb commented on #9267
Ah. Got it. Thanks.

[2021-05-10 11:50] larsoner commented on #8038
To stick to the `export` theme, how about `mne.export_evokeds`? Currently the only option would be MFF but eventually things like `EEGLAB` could be added for example.

[2021-05-10 12:34] #9374 closed

[2021-05-10 12:50] #9372 closed

[2021-05-10 13:51] larsoner commented on #9383
I agree this seems like a bug. We'll have to see what removing that one-sample bump breaks

[2021-05-10 15:45] ephathaway commented on #8038
Sounds good! I will work on a PR in the next couple of weeks.

[2021-05-10 16:45] #9380 closed

[2021-05-11 10:34] RuKrei commented on #9370
...sorry, yes - files have been renamed before I got them.
closing the Issue.

[2021-05-11 10:34] #9370 closed

[2021-05-11 11:27] #9267 closed

[2021-05-11 15:38] #9377 closed

[2021-05-11 21:51] ephathaway commented on #8038
@larsoner to avoid having a lot of MFF specific code in `evoked.py`, I am thinking something like:
[code]

[2021-05-12 06:55] hoechenberger commented on #9382
Thanks for the explanation, @larsoner!

BIDS allows to specify the cHPI coil frequencies in the MEG metadata, and I'd like to make use of the respective field :) But you're right, I will have to take a closer look at CTF first.

Thanks for the pointers!

[2021-05-12 06:55] #9382 closed

[2021-05-12 19:09] adam2392 opened #9393 "Ipyvtk_simple is not ipyvtk_link in 3D notebook viewer"
#### Describe the bug
I am attempting to use the 3D backend notebook viewer for plotting an ecog brain. I get the following error:

[code]

However, this is because `ipyvtk_simple` is now named... `ipyvtk-link` :(

#### Steps to reproduce
Set `mne.viz.set_3d_backend("notebook")` and then run `plot_ecog.py` example.

#### Additional information
[code]

Also ran w/ `mne==0.23`

[2021-05-12 22:59] larsoner commented on #9393
This upgrade is a bit of a mess, we probably need to backport the update to maint/0.23. If you `pip install --upgrade pyvista` do things work with 0.24.dev0 / `main`?

[2021-05-12 23:06] adam2392 commented on #9393
I don't think so but will try it tomorrow and lyk!

[2021-05-12 23:08] larsoner commented on #9393
[0.30.1 is the latest](https://pypi.org/project/pyvista/0.30.1/) and they are designed to be upgraded simultaneously so I'm at least a little bit optimistic :)

[2021-05-13 07:34] GuillaumeFavelier commented on #9393
Ayaye... I think the best way to solve this is to udpate `pyvista` :sweat_smile:

[2021-05-13 18:46] adam2392 commented on #9393
Running it again:

[code]

I get:

[code]

This is now on a linux machine too.

[2021-05-13 18:49] adam2392 commented on #9393
Oh just kidding, I guess maybe my ipyvklink isn't installing properly...

from running `pip install ipytklink`

[code]

[2021-05-13 18:54] adam2392 commented on #9393
Alternatively I tried on my mac:

I get: ```Error displaying widget: model not found```

Not sure if this is related to the original issue tho...?

[Untitled-2.pdf](https://github.com/mne-tools/mne-python/files/6474489/Untitled-2.pdf)

[2021-05-14 09:38] eort opened #9395 "Add option to save Annotions as `.tsv`"
#### Describe the new feature or enhancement
The BIDS specification requires `.tsv` rather than `.csv`  files for tabular data. Currently, annotations can only be written to `fif`, `txt`, and `csv`. So it would be nice to add `tsv` support to that list.

#### Describe your proposed implementation
Should be easy enough by adding a separate call to `read/write_annotations.py` for `tsv` file, and cal

[2021-05-14 15:43] drammock commented on #8142
@LMBooth I don't know if you're still working on this, but I wonder if the new-ish Matplotlib [subfigure](https://matplotlib.org/devdocs/gallery/subplots_axes_and_figures/subfigures.html) feature might be helpful?

[2021-05-14 21:19] agramfort commented on #9395
Sounds like a good idea

[2021-05-14 22:19] ephathaway commented on #8038
@larsoner mind taking a look at https://github.com/mne-tools/mne-testing-data/pull/87? I'll need this to properly test the export function.

[2021-05-14 22:49] larsoner commented on #8038
https://github.com/mne-tools/mne-testing-data/releases/tag/0.120

[2021-05-17 12:25] sappelhoff commented on #9395
agreed! convenience link to api: https://mne.tools/dev/generated/mne.Annotations.html?highlight=annotations#mne.Annotations.save

[2021-05-17 12:39] GuillaumeFavelier commented on #9393
This is strange, I'm on linux myself and I never got this :thinking:
Can you open an issue on https://github.com/Kitware/ipyvtklink?

[2021-05-17 12:41] GuillaumeFavelier commented on #9393
By scrolling through the closed issue there I found https://github.com/Kitware/ipyvtklink/issues/27 which seems to have the same "model not found" issue, maybe it is related?

[2021-05-17 16:33] ephathaway commented on #8038
Great! Thanks

[2021-05-18 00:43] rob-luke opened #9400 "How should data files with more than one measurement return data?"
Several fNIRS data file types can store than one measurement. For example SNIRF and Artinis files can store measurements from several participants.

Currently we do not support reading SNIRF files with more than one measurement. But I have received a request to allow reading of files with multiple measurements.

What is the best way to return the data? As a list of raws? And does any existing read

[2021-05-18 06:11] agramfort commented on #9400
Yes I would return a list of raws

like the API of read_evokeds

There is no example in MNE for raw though

[2021-05-18 07:03] rob-luke commented on #9400
Perfect, thanks @agramfort thats an ideal example for us to work from.

[2021-05-18 07:03] #9400 closed

[2021-05-18 12:29] agramfort opened #9402 "notebooks repr misses the proj information"
See

<img width="704" alt="Screenshot 2021-05-18 at 12 39 44" src="https://user-images.githubusercontent.com/161052/118650976-4fd9ce00-b7e5-11eb-97cc-4800c9e6ea65.png">

it turned out to be annoying in a vscode debugging session today.

[2021-05-18 17:00] #9385 closed

[2021-05-18 17:09] timpx commented on #9385
Thanks! Sorry, took me too much time to answer...

[2021-05-18 23:52] #9355 closed

[2021-05-19 09:03] #9402 closed

[2021-05-19 18:44] Thomasvandang opened #9409 "Importing .SET Files returns Errors within Library Line 24"
Hi I'm trying to import my set file for analysis of erp and p300, but when reading the files, it returns these errors.

Does anyone know what I'm doing wrong?

Code:
[code]

Error:

![image](https://user-images.githubusercontent.com/82453316/118867110-b8da4800-b8b0-11eb-8225-afe7087e9645.png)

[2021-05-19 20:50] agramfort commented on #9409
can you read the file with another  reader ?

https://pypi.org/project/pyEDFlib/

maybe in matlab? if not it's a like a pb of the file.

if mne is the pb please the file with me.

[2021-05-19 21:52] jona-sassenhagen opened #9410 "Broken link on website"
Hey friends, this link https://mne.tools/stable/auto_tutorials/evoked/20_visualize_evoked.py
is broken here
<img width="1346" alt="Screenshot 2021-05-19 at 23 51 12" src="https://user-images.githubusercontent.com/4321826/118889327-3e83e500-b8fd-11eb-9703-40c3f9a2d4ff.png">

[2021-05-20 06:09] #9410 closed

[2021-05-20 13:49] marsipu opened #9413 "BUG: Raw.plot() error when changing duration while vline visible"
#### Describe the bug
When the vertical line is visible and the shown duration is reduced by pressing `End`, nothing happens and an error occurs due to l.713-714 in mne.viz._figure.py:
[code]
[code]

What is the preventing of flicker about?
Would you rather remove the line or handle None as argument?

#### Steps to reproduce

1. Plot Raw as in:
[code]
2. Make vertical line visible by clicking insi

[2021-05-20 14:11] larsoner opened #9415 "ENH: Quantify location in label"
I want to get a measure of how confident I can be that a given vertex within a label actually belongs to that label versus a neighboring one. One option is, for each vertex in the label, compute the minimum distance (in m) required to travel along the cortical surface before you reach a bounding vertex. I think this can be computed pretty easily using `dijkstra` in SciPy -- we just compute the min