[2019-10-03 02:43] #6265 closed

[2019-10-03 04:37] selvakarna commented on #6858
@larsoner , or Surf export as step ? can you share Idea's

[2019-10-03 11:25] #6893 closed

[2019-10-03 11:27] larsoner commented on #6858
I'm not even sure what a STEP file is, is this related to M/EEG somehow?

[2019-10-03 12:39] agramfort commented on #6891
@christianbrodbeck can you have a look?

[2019-10-03 13:34] agramfort commented on #6890
see https://github.com/mne-tools/mne-python/pull/6897

thanks for the bug report. We'll backport in 0.19 too.

[2019-10-03 13:47] drammock opened #6898 "DOC: improvements to contributing guide"
This issue is to collect suggestions from Woods Hole code sprint participants about how to improve the [contributing page](https://mne.tools/stable/install/contributing.html). Add your comments below!

[2019-10-03 14:15] christianbrodbeck commented on #6891
Yeah I added sensor connectivity but not a layout. Is there a layout or a standard way for generating such a layout manually? Otherwise I would suggest to fall back on the automatic code in `find_layout` for missing KIT IDs. I can make PR if that seems like a good option.

[2019-10-03 14:19] agramfort commented on #6891
whatever works. for MEG systems we tend to have predefined layout files.
Maybe fieldtrip has made one we can reuse?

[2019-10-03 14:49] massich commented on #6898
As a side note, I've been checking travis doc a lot these past 2 days and I found they have something really cool:
![image](https://user-images.githubusercontent.com/7044835/66137566-958c5780-e5fd-11e9-993b-755719865822.png)

The button saying `Improve this page in github` which allows for easy PRs in the doc. Maybe we could add something similar.

[2019-10-03 14:50] AdoNunes commented on #6898
Maybe add in the contribution page the requirement of adding the contributor's name and url in names.inc and explain how to write down the new contribution in latest.inc

also, the link to what's new it's broken:
https://mne.tools/stable/install/whats_new.html

[2019-10-03 14:51] drammock commented on #6898
@AdoNunes the link is https://mne.tools/stable/whats_new.html (stable) or https://mne.tools/dev/whats_new.html (dev)

[2019-10-03 14:54] massich commented on #6898
adding that to the guide is good. Although IMHO a comment in a contributing guide is not enough to force people to add it. It should be a bot that forbids merging unless this info is there. But we should add it to the contributing guide none the less.

[2019-10-03 15:05] #6890 closed

[2019-10-03 15:15] AdoNunes commented on #6898
@drammock the broken link I referred to is at the bottom of the contributing webpage

[2019-10-03 15:44] drammock opened #6901 "broken links in website footer"
we need to update `doc/_templates/layout.html`, the "what's new" and "cite MNE" links are broken.

[2019-10-03 15:44] drammock commented on #6898
@AdoNunes Ahh, I see the problem now. Added a separate issue for that (#6901)

[2019-10-03 15:47] jasmainak commented on #6898
Many folks seemed to have missed the part about forking. I think more pictures in the guide would really help. You can just reuse pictures from github (assuming that the URL stays stable) so that you don't add anything to the repo.

[2019-10-03 15:52] christianbrodbeck commented on #6891
I doubt it since this system has only just been updated (including a layout change)

[2019-10-03 16:01] mohdsherif commented on #6898
1- Make it more clear that a stable version under conda needs to have been installed (it took me a bit to figure I need this and that I cannot skip this step).
2- For users on Linux who need to keep using their system python installation, note that they need to unset PYTHONPATH before installing.
3- Also, such users can switch back and forth when they need to use their system python by changing th

[2019-10-03 19:09] AKMeunier opened #6905 "plot_events throws ValueError if event_id contains additional entries"
mne.viz.plot_events(events, event_id=event_id) produces

ValueError: 17 from event_id is not present in events.

Is it possible to make this only a warning and let the code run through? In my experiments the stimuli are letters and not all letters are present in every session, and it is very tiresome creating a specific filtered event dict for every session.

[2019-10-03 19:11] agramfort commented on #6901
it's not broken for me. I fixed it a few days ago

[2019-10-03 19:13] AKMeunier commented on #6870
I only get these two:

.../site-packages/matplotlib/colors.py:259: RuntimeWarning: invalid value encountered in less if np.any((result < 0) | (result > 1)):

.../site-packages/matplotlib/colors.py:259: RuntimeWarning: invalid value encountered in greater np.any((result < 0) | (result > 1)):

[2019-10-03 19:44] drammock commented on #6901
@agramfort the links work only from the homepage.  But that footer appears on every page.

[2019-10-03 19:48] agramfort commented on #6905
ok with me

[2019-10-03 19:49] agramfort commented on #6870
please a file and a script so we can try to replicate

[2019-10-03 19:51] agramfort commented on #6901
arfff :-/

[2019-10-03 20:21] #6724 closed

[2019-10-03 20:32] larsoner commented on #6905
It would be good to replicate the `Epochs(..., on_missing=...)` API here

[2019-10-03 21:35] #6479 closed

[2019-10-04 13:46] #6891 closed

[2019-10-04 18:02] teonbrooks commented on #6891
@cpelofi, it looks like the fix was landed. it is on the development cycle so to use it, you will have to use this setup outlined [here](https://github.com/mne-tools/mne-python#get-the-latest-code)

[2019-10-04 18:12] cpelofi commented on #6891
Working! Thanks

[2019-10-04 18:29] #6901 closed

[2019-10-04 19:43] drammock commented on #6321
closing; once #6913 is merged we'll have added all the terms!  Thanks @mohdsherif @klankinen @NataKozh!

[2019-10-04 19:43] #6321 closed

[2019-10-04 19:52] SherazKhan commented on #6845
MVP:   https://github.com/mne-tools/mne-dash

[2019-10-04 19:52] #6845 closed

[2019-10-04 20:04] christian-oreilly opened #6917 "Import ICA results form EEGLAB"
#### Describe the problem
EEG .set files can contain ICA results. Related data are populated in fields icaweights, icasphere, and icawinv as far as I know. Although users can build mne.preprocessing.ICA objects by hand from these fields, as proposed in [here](https://mail.nmr.mgh.harvard.edu/pipermail//mne_analysis/2018-March/004781.html), this requires a good knowledge of the internals of MNE to

[2019-10-04 20:10] #1453 closed

[2019-10-04 22:09] christianbrodbeck opened #6919 "BUG? Extended infomax ICA"
This looks like a bug to me, the documentation says that (through a backwards incompatible change) `if you want Extended Infomax, set method='infomax' and fit_params=dict(extended=True)`, however for `method='infomax'` [these lines](https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/ica.py#L359-L360) force `extended` to `False`.

[2019-10-04 22:17] christianbrodbeck commented on #6919
And I think this would have been the case in 0.18 too.

[2019-10-04 23:51] larsoner commented on #6919
That does look like a bug, can you make a bugfix? Then we can backport to 0.19. We're probably going to do a 0.19.1 early next week

[2019-10-04 23:55] drammock commented on #6919
I can do it. My flight is drastically delayed.

[2019-10-04 23:57] larsoner commented on #6919
Go for it!

[2019-10-05 18:16] cbrnr commented on #6917
I'll take a look.

[2019-10-05 19:06] christian-oreilly commented on #6917
Let me know how it goes. I will need this pretty soon for my analyses so I can code it if needed and share the piece of code I'll come up with. But if you already have some useful code lying around, let me know. It would save me a bit of head-scratching!

[2019-10-05 19:11] #6737 closed

[2019-10-05 20:44] #6919 closed

[2019-10-06 16:36] #6844 closed

[2019-10-07 18:13] christian-oreilly commented on #6917
A small tentative snippet of code.

[code]

A few things. The loadmat function is just a version of `scipy.io.loadmat` that does a better job at reading mat files, in line of what is discussed here https://stackoverflow.com/a/29126361/1825043

Not sure I got right the MNE-EEGLAB correspondence for ICA properties. However, I am not even sure that it is possible to have a perfect correspondence beca

[2019-10-07 18:20] larsoner commented on #6917
One hint is that we use `mne.externals.pymatreader.read_mat` to unify over old-style and new-style `.mat` files. Regarding the other stuff I'm not sure offhand, hopefully your investigations plus our documentation can make things clear.

[2019-10-07 18:25] christian-oreilly commented on #6917
Thanks for the hint. I replaced eegip.utils.loadmat by mne.externals.pymatreader.read_mat and it works without issues with the rest of the snippet. I'll be happy to drop eegip.utils.loadmat and not have to care for this code anymore.

[2019-10-07 19:04] #3877 closed

[2019-10-07 21:20] agramfort commented on #6917
do yo plan to open a PR?

[2019-10-07 21:33] christian-oreilly commented on #6917
@agramfort I'll be happy to open a PR when I'll have something suffiently well tested if you think it can help.

[2019-10-08 06:36] agramfort commented on #6917
Please do share what you have when you are happy about it

[2019-10-08 14:52] stfnrpplngr opened #6929 "BUG: Misalignement plotting TFR with linear y-axis"
### Describe the bug
Plotting TFRs with linear y-axis, bins for the particular frequencies are not properly aligned with the y-axis.

#### Steps and/or code to reproduce
[This gist](https://gist.github.com/stfnrpplngr/2378c70e6285322f38d54fa04d1fc764) is an example to produce the erroneous plot. The center of the notch filter appears not at 50 Hz regarding the plot.

#### Expected results
50 Hz fr

[2019-10-08 15:10] stfnrpplngr commented on #6929
The bin displaying the 50 Hz notch filter is not centered at 50 Hz.

[2019-10-08 15:24] larsoner commented on #6929
@stfnrpplngr PR welcome!

[2019-10-08 15:43] agramfort commented on #6929
@stfnrpplngr are you sure you did not paste twice the same image?

[2019-10-08 15:44] larsoner commented on #6929
@agramfort look at the 90 tick they are in different places (both are wrong actually)

[2019-10-08 17:10] massich commented on #6898
@jasmainak would it work to point to https://help.github.com/en/articles/fork-a-repo ?

[2019-10-08 17:13] drammock commented on #6898
we already link to https://help.github.com/en/articles/fork-a-repo in the second paragraph of the contributing guide. So empirically, that was not sufficient.

[2019-10-08 18:56] drammock commented on #6845
If we ever decide to build a more custom remote data browser, I just learned about https://en.wikipedia.org/wiki/VirtualGL which seems to solve one of the biggest challenges.

[2019-10-08 19:12] christian-oreilly opened #6932 "Improvement in mne.Epochs sampling"
#### Describe the problem
The function mne.Epochs(raw, events, event_id, tmin=0.0, tmax=1.0) with a sampling rate at 500 Hz loads epochs with 501 points, which actually covers the time window [0.0, 1.002] (i.e. 501 x 1/500 = 1.002). I would expect mne.Epochs to take 500 time points to cover [0.0, 1.0]. Arguably, the time point at 1.0 is a limit case because it is the time where a new sample is tak

[2019-10-08 19:19] #6884 closed

[2019-10-08 19:37] christian-oreilly commented on #6932
One more thing, about inconsistencies associated with the issue discussed here. When printing Epochs object, the reported duration (e.g., "<Epochs  |   55 events (all good), 0 - 0.998 sec, [...]") is equal to (N-1)*dt, where N is the number of sample points and dt is the sampling period. I see no clear arguments to support that the duration of a signal of N samples would be shorter than N*dt...

[2019-10-08 21:07] jasmainak commented on #6898
nobody clicks the links. The document is already long. What can we do to make someone up and running in less than an hour?

[2019-10-09 02:23] AdoNunes opened #6935 "Python in an IDE runs very slow"
With a Mac, some times when typing commands on the IDE command window it takes forever to run the simplest code.

For example:

[code]
Instead of taking .0005 sec it takes about 10 sec, unless I move the entire window or switch to another app.

[2019-10-09 05:53] agramfort opened #6937 "Remove / Replace EGI reader by https://pypi.org/project/mffpy/"
See EGI now offers a reference implementation to read/write EGI files we should drop our implementation in favor of the standard one.

we just need someone to do the job :)

[2019-10-09 13:35] christian-oreilly commented on #6917
I got some code that I'll prepare for PR. It has been tested using
[code]
The file used for testing has been downloaded [here](ftp://sccn.ucsd.edu/pub/mica_release.zip) and processed in Matlab using
[code]
I wil prepare the PR but I wont include this test in it because of the dependance on the ap82.set and Matlab. A possibility would be to add both ap82.set and ap82.cleaned.set to the testing data

[2019-10-09 13:36] larsoner commented on #6917
We already have these test files

https://github.com/mne-tools/mne-testing-data/tree/master/EEGLAB

If you adapt your code to run on these, then we don't have to add any new data.

[2019-10-09 13:37] larsoner commented on #6917
... oh, except I guess the bits needed to reconstruct the `ICA` from what you compute in MATLAB

[2019-10-09 13:39] #6935 closed

[2019-10-09 14:11] christian-oreilly commented on #6917
OK. Just seen your comments @larsoner after creating the PR. I can create a separate PR for the tests  (or look at how to modify the current PR to include it).
Yes... so I would need to add two files "test_epochs.cleaned.fdt" and "test_epochs.cleaned.set" based on the Matlab code. I think that this is MUCH better than creating some dependencies on Matlab to generate these files within MNE test sui

[2019-10-09 14:14] larsoner commented on #6917
Yes please do modify the branch in your PR directly. See instructions for adding new test data:

https://github.com/mne-tools/mne-testing-data#add-or-change-files-in-the-repo-for-use-with-mne

[2019-10-09 15:51] christian-oreilly commented on #6917
@larsoner OK, I pushed the dataset. If I understand well your procedure ("Once your PR is merged, ask a maintainer to cut a new release of the testing data"), I need to wait for one of you to merge this PR request to run my tests. I check to hack the value returned by mne.datasets.testing.data_path(verbose=True) to point it to my git repository of mne-testing-data but this code seems a bit involve

[2019-10-09 16:00] #6917 closed

[2019-10-09 16:02] larsoner commented on #6917
You probably do not have `pytest-cov` installed

[2019-10-09 16:03] larsoner commented on #6917
... and to test your specific one you should really do something more like:
[code]
Doing `make test` will take forever.

Then do `make flake` and `make docstyle` before pushing your commits to your PR branch. That way you ensure style compliance.

FYI the md5sum I get for testing 0.75 is 51d2ca16c449bbb27a54f53590283f16

[2019-10-09 18:03] ViridianForge commented on #6937
Thanks for opening this issue @agramfort!

Just wanted to call out that if anyone runs into any issues with the library - feel free to open an issue on it at: https://github.com/BEL-Public/mffpy - and the maintainers at @BEL-Public will be happy to give you hand.

Also - small correction: The reference spec is being provided by [BELCO](www.belco.tech), which is a small company run by Drs. Tucker a

[2019-10-09 21:29] jgeller112 commented on #6762
I am also having this issue. Any solution?

[2019-10-09 21:45] #6929 closed

[2019-10-10 09:32] agramfort commented on #6762
again @AleDallavecchia @jgeller112 can you share a code snippet so we can replicate the issue. Otherwise we're stuck

[2019-10-10 20:35] stfnrpplngr opened #6943 "BUG: #6942 leads to corrupted plot"
#### Describe the bug
The output of `test_plot_evoked_image` in [test_evoked.py](https://github.com/mne-tools/mne-python/blob/master/mne/viz/tests/test_evoked.py) produces an erroneous plot after #6942 (#6930).
Data appear to be shifted upwards in the upper plot.

![test_plot_evoked_image_issue](https://user-images.githubusercontent.com/20129752/66550247-45554e00-eb45-11e9-9f5f-c78a8e0e0d90.png)

[2019-10-11 07:44] c-torre opened #6945 "DOC: ambiguity in mne.pick_channels"
Current documentation for mne.pick_channels states:

    Pick channels by names.

    Returns the indices of the good channels in ch_names.

Where good seems ambiguous and not defined.

https://mne.tools/stable/generated/mne.pick_channels.html?highlight=pick_channels

[2019-10-11 15:08] bloyl opened #6947 "improve plot_alignment to show 'dig' points from device coord frames"
I'm routinely in the situation were I need to evaluate either the quality of the MEG HPI localizations and/or our external headshape measurements (Polhemus fastscan and fasttrack).

There currently isn't a way to visualize the MEG HPI locations since they are not in head coordinates or if you transform them to head coordinates, they typically end up labelled the same as the points coming from polh

[2019-10-11 15:15] larsoner commented on #6947
Some variant of this sounds workable to me.

Currently we allow showing fiducials from the head coord frame (`info['dig']`) and also in the MRI coordinate frame (from `subject/bem/subject-fiducials.fif`). The `info['dig']` ones use large translucent spheres and the MRI fids are smaller opaque ones.

It seems like we're in a similar situation here. Maybe the equivalent would be to use, unchanged, t

[2019-10-11 15:15] #6836 closed

[2019-10-11 17:12] jasmainak commented on #6945
A PR clarifying the docstring would be welcome. You would need to say that a good channel is something that is not in `info['bads']`

[2019-10-11 17:15] larsoner commented on #6945
I don't think "good" should even be in the docstring here. It just picks indices of channels in `ch_names` that appear in `include` and not in `exclude`. If good and bad are even relevant to `include` or `exclude` -- or even reversed -- depends entirely on the user's use case.

[2019-10-11 17:55] mmagnuski opened #6950 "mne.channels.read_montage deprecated without deprecation cycle?"
I might have missed something, but I have a feeling that `mne.channels.read_montage` did not raise any deprecation warnings before, and now it is unavailable. It took me a while to find out what I should use instead to create a standard montage. I could not find this information in whats new too (only the deprecation, but not what should be used instead). Was `read_montage` removed without a depre

[2019-10-11 18:20] larsoner commented on #6950
It is in `0.19` but not `master`, so there is a deprecation cycle. It was deprecated right before release, though, so users of `master` barely saw any warning (just for a week or two).

You should use `make_standard_montage` or one of the dedicated `mne.channels.read_dig_*` readers

[2019-10-11 18:20] #6950 closed

[2019-10-11 18:22] mmagnuski commented on #6950
@larsoner Yes, I know what to use, I found it in one of the PRs. :) Good to know the deprecation is in 0.19, sorry for the noise.

[2019-10-11 18:24] larsoner commented on #6950
Feel free to make a doc update for `maint/0.19`, though, the release notes and deprecation warning perhaps could have been clearer about what to use instead

[2019-10-11 18:25] drammock opened #6951 "matplotlib set_cmap deprecation"
matplotlib deprecation, happens only when changing "interactive" colorbars, so maybe not caught by our tests:

[code]

This happened for `evoked.plot_image()` but will probably happen anywhere we have an interactive colorbar.

[2019-10-11 19:05] #6431 closed

[2019-10-12 02:10] jasmainak commented on #6945
Agreed!

On Fri 11 Oct 2019 at 13:15, Eric Larson <notifications@github.com> wrote:

--
Sent from my iPhone

[2019-10-12 13:01] AndrianaMrt opened #6952 "Max and min frequency and time of EEG signal"
I am new to signal processing and I am trying to find the maximum and minimum frequency and time of EDF signals obtained by electrodes. How could I do that with MNE - Python?

I read the file with mne.io.read_raw_edf and I tried to filter it from the artefacts with the filter method.

[2019-10-12 13:38] agramfort commented on #6952
please don't use issue tracker to ask usage questions. Use gitter or the mailing list

thanks

[2019-10-14 11:30] dasdiptyajit opened #6953 "Keep the sign values from TF-MxNE solver or irMxNE solver"
Any possible way to keep the sign values (positive and negatives values) while performing source localization using TF-MxNE solver or irMxNE solver?

Note: Current solutions only provide absolute values in return as dipoles!

[2019-10-14 11:31] dasdiptyajit commented on #6953
Follow up! @agramfort

[2019-10-14 11:51] agramfort commented on #6932
MNE historically rounds time instants you provide to the closest available
time sample. It's a design choice that we did not question when rewriting
mne in python. The more pythonic design would have been do adopt the
standard of

np.arange(tmin, tmax, dt)

which seems to be what eeglab does. I don't think that one behavior is
correct and not the other.
What is clear is that changing this behavior

[2019-10-14 16:36] #6943 closed

[2019-10-15 04:24] MSA8D8 opened #6956 "ModuleNotFoundError: No module named 'mne.viz.plot_sensors_connectivity'"
I am faced with the problem below.

`import mne.viz.plot_sensors_connectivity`

  File "D:\.....\~.py", line 24, in <module>
    import mne.viz.plot_sensors_connectivity as psc
ModuleNotFoundError: No module named 'mne.viz.plot_sensors_connectivity'
[Finished in 2.52s]

But, when I tried to `import mne.viz`, no error happened.
So, it seems to be something wrong with this plot_sensors_connectivity.

[2019-10-15 07:14] cbrnr commented on #6956
You need to do:

[code]

[2019-10-15 07:14] #6956 closed

[2019-10-15 07:46] MSA8D8 commented on #6956
Thanks for reply, @cbrnr

I tried your suggestion, but the situation is completely the same.

  File "C:\....\~.py", line 25, in <module>
    from mne.viz import plot_sensors_connectivity
ImportError: cannot import name 'plot_sensors_connectivity' from 'mne.viz'

[2019-10-15 07:58] agramfort commented on #6956
you must have an install problem or a too old mne version

[2019-10-15 08:16] MSA8D8 commented on #6956
@agramfort

Thank you for comment.

I can solve the problem by update the version of mne.
Here is the `pip install -U mne` result.

  Found existing installation: mne 0.18.2
    Uninstalling mne-0.18.2:
      Successfully uninstalled mne-0.18.2
Successfully installed mne-0.19.0

Thank you both, @cbrnr and @agramfort

[2019-10-15 19:19] agramfort commented on #6953
do you think you could give it a try? it means adding a pick_ori parameter
like for apply_inverse and change the code accordingly.

[2019-10-16 15:35] dasdiptyajit commented on #6953
yes, I have tired. I had to set a forward solution with fixed dipole orientations and had to modify the code and some parameters accordingly and it works nicely.

Note: One needs to flip the activated signals of a particular dipole after source localization, in order to match the signal strength across other dipoles due to the fixed orientation across hemispheres  i.e., left and right auditory cor

[2019-10-16 15:36] dasdiptyajit commented on #6953
Alright, I am closing the issue then!

[2019-10-16 15:36] #6953 closed

[2019-10-16 15:59] agramfort commented on #6953
ok great !

[2019-10-16 21:12] jgeller112 commented on #6762
[code]
Here is what some of the figures looks like:

[GH_0019_EYELOVE_14_ica2.pdf](https://github.com/mne-tools/mne-python/files/3736392/GH_0019_EYELOVE_14_ica2.pdf)
[GH_0039_EYE_20_ica1.pdf](https://github.com/mne-tools/mne-python/files/3736393/GH_0039_EYE_20_ica1.pdf)

The data for 2 subjects can be found here: https://osf.io/h8njv/

[2019-10-16 22:38] jgeller112 commented on #6762
This basic pattern will repeat across subjects.

[2019-10-16 22:50] jgeller112 commented on #6762
I am not sure this
![image](https://user-images.githubusercontent.com/18429968/66964842-6209ee00-f03d-11e9-9083-946fe247bfcd.png)
results in this:

[GH_0030_EYE_17_ica2.pdf](https://github.com/mne-tools/mne-python/files/3736675/GH_0030_EYE_17_ica2.pdf)

[2019-10-17 06:20] jetW opened #6963 "can't export data to edf format"
I want to save my data as edf format, but that is not natively supported.

the gist for saving edf on the page(https://mne.tools/stable/auto_tutorials/io/plot_20_reading_eeg_data.html?highlight=edf%20save) is not accessible.

Is there any solutions?

[2019-10-17 07:33] agramfort commented on #6963
what do you mean it's not accessible ?

https://gist.github.com/skjerns/bc660ef59dca0dbd53f00ed38c42f6be

[2019-10-17 07:36] agramfort commented on #6762
can you please share a full code snippet that runs from start to finish
to replicate the error? thanks

[2019-10-17 08:36] cbrnr commented on #6963
You can also try [MNELAB](https://github.com/cbrnr/mnelab) (a GUI for MNE), which does support export to EDF/BDF out of the box if you have pyEDFlib installed.

[2019-10-17 13:03] jgeller112 commented on #6762
‘’’
def prepro_epoch(subject, save_path, file_path, raw_path, overwrite=True):

    As=["A" + str(i) for i in range (1, 33)]
    Bs=["B" + str(i) for i in range (1, 33)]
    points = As + Bs
    montage1 = mne.channels.read_dig_polhemus_isotrak(polh_montage[subject], ch_names=points) # can read polhemus data directly
    raw_files=mne.io.read_raw_bdf(file_path + subject + ".bdf", preload=True, exc

[2019-10-17 13:18] larsoner commented on #6762
@jgeller112 I think @agramfort was looking for code that one of us could run locally. It looks like if you can upload one of the problematic `epoch_path + subject + '-epo.fif'` files, we can at least run the `run_ica` function. If you could share a link to one of the `-epo.fif` files and also add the plotting commands used to make the problematic figures that would make it so we can see what you s

[2019-10-17 13:24] jgeller112 commented on #6762
Sorry about that! Please let me know if you need more information.

I included a link to OSF repository with the epoch files for 2 Ss: https://osf.io/h8njv/

Here is the function I use to plot:

def plot_ica(subject, ica_path,save_plots,ica_plot_path):

    ica = read_ica(ica_path +subject+ "-ica.fif") #pull ica soultions from folder
    ica_figure = ica.plot_components()

    if save_plots:

[2019-10-17 13:39] ckiefer0 opened #6965 "Bug in envelopy_correlation()"
Hi everyone,

I think there is a bug in the function`envelope_correlation()` in the case of `orthogonalize=False`. In the computation of the correlation, the mean is not being subtracted from `label_data_orth`.

By replacing line 110 in envelope.py with `label_data_orth = data_mag_nomean` this should be fixed.

[2019-10-19 01:11] jasmainak opened #6968 "plot_psd(xscale='log') does not work in jupyter notebook"
Steps to reproduce:

[code]

you'll get an error like this:

[code]

also the validation of inputs is not proper. If I use `xscale='blah'`, it does not crash

[2019-10-19 06:31] agramfort commented on #6965
thanks. Can you provide a small code snippet that demonstrates the problem?
how would you test that the result is correct after the fix? this helps us
writing tests to make sure the code does not get broken in the future.
thanks again

[2019-10-19 11:55] agramfort commented on #6762
@jgeller112 here a full reproducible code snippet:

[code]

your code above needed some work to be able to produce these figures:

![GH_0019_EYELOVE_14_ica1](https://user-images.githubusercontent.com/161052/67144571-155e2700-f278-11e9-8e62-efae732722c6.png)
![GH_0019_EYELOVE_14_ica2](https://user-images.githubusercontent.com/161052/67144572-155e2700-f278-11e9-9c71-759e1642699c.png)
![GH_0039_EYE_2

[2019-10-19 12:49] jgeller112 commented on #6762
Thanks for looking into this. The evoked data look fairly clean before ICA. Any reason why ICA might produce this type of pattern? Across Ss, this pattern will repeat, which is why I thought it might be a bug.

[2019-10-20 04:50] jgeller112 commented on #6762
If I change  ica = mne.preprocessing.ICA(n_components=None, method='fastica') to  ica = mne.preprocessing.ICA(n_components=.9, method='fastica'), I get a completely reasonable set of components.

[2019-10-20 08:31] agramfort commented on #6762
I would think you hit this problem:

https://hal.archives-ouvertes.fr/hal-01451432/document

The internal optimization solver of infomax if very hard to control
and makes it difficult to guarantee convergence. This was the motivation
for this work https://arxiv.org/abs/1706.08171 and the picard solver
https://github.com/pierreablin/picard. You can you method='picard' in ICA
to use it. Please let u

[2019-10-21 09:24] ckiefer0 commented on #6965
It seems like I was wrong. Both versions, the original code and my proposed "solution", give the same results. I calculated the correlation matrix manually and compared the results to the results of both versions of envelope_correlation(). You can find the code below.

I thought there might have been a bug because when one calculates the covariance in the numerator of the pearson correlation coeff

[2019-10-21 12:51] mariusrak opened #6970 "Rejecting data in frquency domain"
Hi, there is a feature to reject data spans based on value when working with ERPs. However I won't be working with ERPs, but only in frequency domain. Is it possible to reject parts of data that have e.g. amplitude higher than 100uV (EEG) form time series? Maybe with some padding around or based on hanning window or so. I have quite a lot of such spans (in one hour long recordings). It would be la

[2019-10-21 20:07] agramfort commented on #6970
I would do this with numpy. Something like this (disclaimer untested)

data = epochs.get_data()
n_epochs, n_channels, n_times = data.shape
bad_idx = np.where(data.max(axis=2).max(axis=1) > 100e-6)[0]
epochs.drop(bad_idx, reason='amplitude')

hope this helps.

please close this issue and don't use the issue tracker to ask usage
questions. There
is a mailing list for this.

[2019-10-22 14:43] TanTingyi commented on #6539
drop subject 88 89 92 100

[2019-10-22 23:05] jasmainak opened #6973 "EEG locations not read in correctly"
It seems that for the Neuromag system we have here in Martinos, some folks have trouble reading in the `.fif` files. The locations of some EEG channels are not read in correctly.

See the code + data here to reproduce: https://www.dropbox.com/sh/l7erlqfy5dsezay/AABIMNHGD9KeUDPzdl2TiJuVa?dl=0

If you look carefully, the channel locations are in `raw.info['dig']` but not in `raw.info['chs']` for 4 c

[2019-10-23 04:09] vitormfreis opened #6974 "Import .eeg extension"
Hi there,

I'm trying to import a '.eeg' file, I tried to use the BrainVision methods find here: https://www.youtube.com/watch?v=_TLDW5hlveI, however I had no success.

Does anyone knows which method should I use in this case? Or if someone could provide some example I would appreciate.

Best regards.

[2019-10-23 04:53] jasmainak commented on #6974
These are not the official docs. Please consult the official docs here:

https://mne.tools/stable/python_reference.html

and look for "brainvision" there. Furthermore, usage questions should be directed to the mailing list: https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis. Closing issue for that reason.

[2019-10-23 04:53] #6974 closed

[2019-10-23 07:37] agramfort commented on #6973
If I add this:

raw.set_channel_types({'EEG071': 'misc', 'EEG072': 'misc', 'EEG073':
'misc', 'EEG074': 'misc'})

it works. Why is there no location for these channels?

[2019-10-23 20:13] jasmainak commented on #6973
that's not the right fix because those channels are not misc.

I updated the dropbox folder above with the file directly from the scanner (before any preprocessing). The issue is that in some Neuromag systems, the channels are ordered such that the first 60 channels are EEG, then you have 2 EOG and 2 ECG channels and finally you have the rest of the EEG channels. You can see that in `raw.info['dig

[2019-10-24 08:43] fsultana44 opened #6978 "Getting Error while trying to read EDF file"
I am  very  new user in MNE python. Resently I have started a project work that is related to EEG data analysis.And started to this analysis using MNE,but whenever I rund the below code to read edf file
[code]

I got the error massage `ValueError: not enough values to unpack (expected 3, got 0)`
Here is my mne system information
[code]
I could not figurq out what is wrong here

[2019-10-24 08:48] cbrnr commented on #6978
Hello!

What is the value of sample_data_raw_file? Maybe you need to prepend C: to your sample_data_folder since this doesn't seem to be a valid Windows path. Furthermore, you might need to replace all \ with regular /.

Clemens

[2019-10-24 09:34] cbrnr commented on #6978
Alright, it looks like the function cannot parse the EDF header correctly. Could you share this EDF file with me so I can have a look?

[2019-10-24 13:05] gabri470 opened #6979 "mne.time_frequency.tfr_array_morlet computes tfr for frequencies above Nyquist"
#### Describe the bug
mne.time_frequency_tfr_array_morlets produces an output even when computing frequencies that violates Nyquist Theorem.

#### Steps and/or code to reproduce
[code]

#### Expected results
It should rise an error for the violation of Nyquist theorem or at least a warning

#### Actual results
Instead it returns just the data unfiltered

[2019-10-24 13:09] larsoner commented on #6979
Indeed it should check to see if any of the freqs are above Nyquist and raise an error. Are you up for making a PR to fix it @gabri470 ?

[2019-10-24 13:13] gabri470 commented on #6979
Dear Eric,

I’d love to need to find time though. I’ll do my best,

[2019-10-24 14:33] gabri470 commented on #6979
Looking at the latest mne release I think this problem should be already been solved at lines 347 and above in `tfr.py/_compute_tfr` function

`    if (freqs > sfreq / 2.).any():
        raise ValueError('Cannot compute freq above Nyquist freq of the data '
                         '(%0.1f Hz), got %0.1f Hz'
                         % (sfreq / 2., freqs.max()))`

can't check for sure but at least

[2019-10-24 15:24] stevenMgraham opened #6980 "Coregistration rendering"
I am experiencing an issue with graphics/visualization when attempting coregistration. I am unable to visualize MRI subjects' heads. The GUI loads, allows for file import as well as displaying digitization points, but displays only a grey background.

#### Various attempts at resolution
[code]
[code]
[code]
I have also tried the tips listed under [advanced installation of MNE-python](https://mne.t

[2019-10-24 15:30] larsoner commented on #6980
Your graphics card should be fine so that shouldn't be the problem. Though if you could check that this code:
[code]
Produces:

![Screenshot from 2019-10-24 11-27-58](https://user-images.githubusercontent.com/2365790/67500914-62b00f00-f651-11e9-8a99-12e74feaa55f.png)

It would help confirm that graphics are not the problem.

I suspect it might actually be a problem with your subject.

- Do you get

[2019-10-24 15:51] stevenMgraham commented on #6980
I am able to reproduce the figure from the Mayavi snippet. As for the sample data, I am able to reproduce that visualization in full as well.
I have not come across any command line errors when exploring the Coreg GUI except for when I view the Mayavi pipeline - I receive:
[code]
though I do not believe that warning is so detrimental to be causing these issues.

[2019-10-24 15:53] larsoner commented on #6980
Okay there is probably some issue with your head surface, then. It maybe was saved with the wrong units (?). Did you follow a standard FreeSurfer reconstruction then use `mne make_scalp_surfaces` or do something else?

[2019-10-24 15:59] stevenMgraham commented on #6980
The reconstruction subjects directory I am trying to access was not processed by myself, and what is strange is that a different user on the very same machine I am now using is able to visualize the surfaces in the directory.

I cross-checked a few libraries in their ```mne.sys_info()``` and found that our Python, vtk, mayavi, and mne versions were the same.

[2019-10-24 16:29] larsoner commented on #6980
I wonder if it's actually a permissions issue. For example we might just check whether or not some files exist but never check if the user has permission to read them. Can you check to see if it is indeed some permissions problem? It would probably be `SUBJECT/bem/SUBJECT-head.fif`, `SUBJECT/bem/SUBJECT-head-dense.fif`, or `SUBJECT/surf/lh.seghead` that would be problematic

[2019-10-24 18:54] stevenMgraham commented on #6980
I have checked my permissions belonging to the directory in question, and I do belong to the group that has the proper permissions.

I have re-installed FreeSurfer to exhaust that possibility and in doing so noticed that I did not export a subjects directory in my ```~/.bashrc```.

I was shocked that _not_ explicitly exporting a subjects directory was the culprit! I had not done this previously an

[2019-10-24 18:55] #6980 closed

[2019-10-24 19:08] jasmainak commented on #6980
Probably related to: https://github.com/mne-tools/mne-python/issues/5204

[2019-10-25 08:16] smathot commented on #4369
I also ran into this issue, and because of the uninformative error message it took me a moment to arrive at this page and find out that it's probably a file format issue. Would it be an idea to re-open this issue, and simply catch the `Exception` to translate into something less scary and more informative?

[2019-10-25 08:35] agramfort commented on #4369
would you consider sending us a pull request?

[2019-10-25 13:47] agramfort commented on #6973
how about this?

[code]

[2019-10-25 18:12] jasmainak commented on #6973
I think it fixes the problem -- I've asked for confirmation from those analyzing the data. Thanks! Anything to fix or document here?

[2019-10-25 21:42] nithyar89 opened #6984 "Average multiple runs (separate raw files)"
Hi,

I am analyzing some resting state MEG+EEG data that has been saved as separate runs within the same day for the same subject. Should I preprocess each MEG run separately and compute separate forward solutions. What is the best way for averaging multiple runs and is there an example that you could point to?

[2019-10-25 21:57] jasmainak commented on #6984
Hi for usage questions you should go to the mailing list: https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis so others can benefit from the answer. Please ask it there

[2019-10-25 21:57] #6984 closed

[2019-10-26 09:22] agramfort commented on #6973
if it's common need yes it should be documented somewhere or a dedicated
function should be added

[2019-10-27 04:44] balandongiv opened #6987 "Incorrect values produced when epoching a continuous discrete signal using MNE epoch function"
The idea was to epoch the continuous EEG data of 386.936 s long into non overlapping epoch window, of size 20 s. With a sampling frequency 250 Hz, theoretically each epochs should contain 5000 data points per epoch.

To achieve the objective, the following code was utilised,

To confirm whether the value return from the mne.Epoch  was correct or not, I had created a script that can performed the e

[2019-10-27 15:34] drammock commented on #6987
Please do not use the bug tracker for usage questions. Your question was already answered on the mailing list --- `mne.Epochs` has arguments `tmin` and `tmax` that you need to specify to get the epoch duration that you want. It is not enough just to space the events 20 seconds apart. You also need to specify how much time before and after each event that you want to include in the epoch.

[2019-10-27 15:34] #6987 closed

[2019-10-27 15:43] balandongiv commented on #6987
Hi @drammock  ,
Thanks for the response.

1) I have not receive any response notification from the mne mailing list. Did I miss something?
2) I have experiment by including both tmin and tmax, but I still get the incorrect values. Really appreciate if you can add extra information on how to solve the problem.

Thanks in advance.

[2019-10-27 17:32] drammock commented on #6987
[code]
As you can see this yields 5001 time points.  To trim off the extra 1 sample, you can either reduce `tmax` by about one sampling period, or you could try using `epochs.crop()` with the same tmin and tmax, and use it's argument `include_tmax=False`.

[2019-10-28 10:55] balandongiv commented on #6987
Hi @drammock ,
Once again thanks for the detail explanation. It really help my understanding. Maybe MNE team can consider to include the following example [code](https://github.com/balandongiv/Downsample/blob/master/helpMne.ipynb) in the mne documentation to ease other potential user in understanding  better the mne.epoch function.

On separate question, may I know how to retrieve specific epoch.

[2019-10-28 13:20] kingjr opened #6988 "subprocess env is not set properly"
While running `mne.bem.mne_make_watershed_bem` I ran into a unspecific error:
`Error: io.UnsupportedOperation: fileno`

which is due to a subprocess error triggered earlier ('mri_watershed not found').

I tried changing FREESURFER_HOME via `mne.set_config` without luck.

I manually changed `run_subprocess`, as follow, which fixed the issue.

[code]

(And if someone opens a PR, you can pass the mis

[2019-10-28 13:45] agramfort commented on #6988
you hacked the path?

this function looks very different from
https://github.com/mne-tools/mne-python/blob/master/mne/utils/misc.py#L85

are you using latest release/master?

[2019-10-28 13:55] kingjr commented on #6988
In the fix yes, else no.

Yes, I went for the simplest possible fix ;)

This solved the issue for me, but I don't want to open a PR, because it's not a pure-python, platform-independent, easy-to-debug issue.

yes

[2019-10-28 15:00] agramfort commented on #6988
@larsoner any thought? It's hard to integrate a fix like this unless we can
replicate...

[2019-10-28 15:04] larsoner commented on #6988
#6991 should fix it. Either use that branch, or `export FREESURFER_HOME=...` in your terminal *before* starting the Python interpreter (which is probably what most folks do, which is why nobody hit/reported this yet).

[2019-10-28 15:47] kingjr commented on #6988
FWIW, I did export `FREESURFER_HOME` prior to python interpreter.

#6991 seems to works fine

[2019-10-28 16:36] drammock commented on #6987
Again, please do not use the bug tracker for questions about usage. Use the mailing list or Gitter channel (both are linked here: https://mne.tools/dev/overview/get_help.html).

Discussion of how to select specific epochs is here: https://mne.tools/dev/auto_tutorials/epochs/plot_object_epochs.html

[2019-10-28 17:24] #6988 closed

[2019-10-28 18:10] jasmainak commented on #6973
okay I see. Maybe @fmamashli could be motivated to make a PR? :)

[2019-10-29 01:20] balandongiv commented on #6987
Thanks for the reply, really appreciate it @drammock

[2019-10-29 13:32] wmvanvliet commented on #6770
Also, `dataset_description.json` needs to be updated with a new link to relevant docs:

`http://martinos.org/mne/stable/manual/datasets_index.html?#somatosensory` ->
`https://mne.tools/stable/overview/datasets_index.html#somatosensory`

[2019-10-29 14:42] teonbrooks opened #6994 "add sprint2017 to mne-tools"
back at the MNE sprint in Paris, I forked a copy of @kingjr's sprint2017 website with the intention of transferring ownership to mne-tools for posterity and historical artifacts. i don't have privileges to add repos to mne-tools, would someone with privileges like to make to fork the event so it can live here?

https://github.com/teonbrooks/sprint2017

[2019-10-29 15:22] kingjr opened #6995 "BUG: segmentation fault with mne.gui.coregister"
I get a segmentation fault error if I have > 20 subjects and I update the digitization source on a fresh mac install.

I tried with pylab= wx and qt

[2019-10-29 16:51] larsoner commented on #6995
I have a directory with about 130 subjects (at least according to `ls -ld */ | wc -l` and a quick look at the drop-down) and `mne coreg -d $MY_DIR` works just fine. No large memory or CPU use, either.

Maybe it's not the number of subjects but rather one particular subject that is problematic?

[2019-10-29 16:52] larsoner commented on #6995
(I also updated the FIF dig source a couple of times and it updated the subject it was trying to use just fine. But maybe on your system it does not garbage collect something properly...)

[2019-10-29 16:59] larsoner commented on #6994
You mean this?

https://github.com/kingjr/supervised_time_series

If so then the thing to do is probably to give @kingjr (temporary?) owner permissions to `mne-tools` so he can transfer the repository directly.

[2019-10-29 17:09] kingjr commented on #6995
I get a segmentation fault every X subjects. As long as the intended
subject is loaded first it's fine, but when I change subject, it crashes
30% of the time.

So no, it's not the number of subjects, but there s still something wrong

On Tue, 29 Oct 2019 at 17:52, Eric Larson <notifications@github.com> wrote:

[2019-10-30 05:11] ibsneuro opened #6997 "mne.events_from_annotations changes trigger codes"
Hi all,
I have been reprocessing some EEG data acquired with a Neuroscan amplifier a few years ago and have noticed that the (now required) use of mne.events_from_annotations changes my trigger codes. Basic example:

`import mne

r = 'raw/26_EXP.cnt'

raw = mne.io.read_raw_cnt(r,
                          eog=['HEO','VEO'],
                          ecg=['EKG'],
                          emg=['EMG

[2019-10-30 07:12] cbrnr commented on #6997
In general, annotations can have arbitrary string descriptions so it is not possible to convert these to integer codes. Therefore, MNE by default assigns annotations to event codes starting from 1 (I believe) in steps of 1. In some special cases (notably BrainVision files), the function tries to extract numeric codes to create a more sensible mapping to integer event codes (see the docstring of [`

[2019-10-30 15:02] larsoner commented on #6997
Agreed this seems like a case that should be taken care of by the `callable` version of `event_id`, so I'll close. But @ibsneuro let us know if it does not work for your use case and we can see if there is something to fix in MNE. Or if it was not clear from the docs feel free to make a PR to improve them or let us know what would have helped you find this option.

[2019-10-30 23:01] pshahbasak opened #7003 "extract time series on volume source estimates"
Hi-
I am using lcmv beamformer on resting-state MEG data using a 10mm grid. I will like to reduce the number of source time series using an anatomical atlas such as AAL. Is it possible to extract time series using MNE functions? I know this is possible for surface parcellations using read_labels_from_annot and extract_label_time_course. How do I go about doing this on volumetric source time series

[2019-10-31 05:56] ibsneuro commented on #6997
Thanks very much, @cbrnr and @larsoner! That indeed fixed my problem and saved me from constructing a more convoluted work-around. I think it would be useful to provide a bit more information in the docs -- I will have a think about this over the next couple of days and will either make a PR or send you my suggestions.

[2019-10-31 09:45] agramfort commented on #7003
I would export to nifti and use
https://nilearn.github.io/modules/generated/nilearn.input_data.NiftiMasker.html

[2019-10-31 13:04] cbrnr opened #7006 "Zoom to rectangle in raw.plot"
The `raw.plot` browser lacks a tool to zoom into a portion of the signal using the mouse. Would this be a useful feature? I'm willing to work on it (because I need it), but this will probably take some time to implement. Do you have suggestions on the UX? Maybe just trigger the action if the user drags the mouse (visual feedback in the form of a rectangle would be nice though)? Is there something

[2019-10-31 14:23] agramfort commented on #7006
you mean change page duration? you can use this with keyboard shortcuts

[2019-10-31 15:16] cbrnr commented on #7006
Yes, at least page duration. I know I can do it with keyboard shortcuts, but it would be faster if I could just drag the portion of the signal I'd like to zoom in with the mouse.

Zooming on the y-axis like that would also be nice, but I guess this won't be that easy/intuitive because of the way we currently display the individual channels.

[2019-10-31 15:50] larsoner commented on #6155
See also closed #6278 where @ckiefer0 has some working scripts

[2019-10-31 15:50] larsoner commented on #6278
I'm going to close this in favor of #6155 to consolidate future discussions

[2019-10-31 15:50] #6278 closed

[2019-10-31 15:51] larsoner commented on #7003
At some point we plan to tackle this, see discussion in #6155 -- closing this to keep discussion over there

[2019-10-31 15:51] #7003 closed

[2019-10-31 16:09] kingjr opened #7007 "DOC: morph generated from src does not work because fwd exlcude some vertices"
[code]

critically
[code]

returns
[code]

[2019-10-31 16:34] larsoner commented on #6155
We have for example `pca_mean`. But for new modes let's open a new issue since it's (mostly) orthogonal to deciding how to support volume labeling + extraction

[2019-10-31 16:34] larsoner commented on #6155
(or pca_flip, rather)

[2019-10-31 17:20] agramfort commented on #7006
brainstorm does this with rolling on the mouse with or without pressing
shift key AFAIK

[2019-10-31 17:23] larsoner commented on #7007
Does it work when you pass `fwd['src']` or `inv['src']`? It's possible/likely that the forward computation with `mindist` excluded some vertices

[2019-10-31 18:31] padmasundaram opened #7009 "EEG-TMS Processing Example in MNE"
Hi,

@Davi1990 and I would like to create an EEG-TMS example based on the EEG-TMS dataset provided in FieldTrip. @jasmainak suggested that we would need to get permission to fetch the data and use it in the example. There is interest in having a EEG-TMS example in MNE as several groups are trying to do similar preprocessing and analysis. So it would be good to have a example pipeline.

This is the

[2019-10-31 19:30] agramfort commented on #7009
@robertoostenveld is sitting next to me. He is fine with it but we need to make sure we give credit to fieldtrip and authors of the dataset (references etc). So +1

[2019-10-31 19:59] padmasundaram commented on #7009
Thanks @robertoostenveld! Of course, we will credit field trip and the dataset authors/creators.
I don't see a structural MRI for that dataset. Is it just an EEG data? I would like to have the full pipeline in the example with the inverse solution plotted on the cortex.

[2019-10-31 20:58] kingjr commented on #7007
This works, thanks.

I wasn't aware the forward model could change the src. Shall I add a note in the tutorial?

[2019-10-31 21:28] larsoner commented on #7007
That would be great, and the tutorial should use the one from fwd or inv, not the original (even if it's the same in that specific case, it helps show the principle)

[2019-11-01 01:00] robertoostenveld commented on #7009
The TMS-EEG tutorial does not include source reconstruction, it aims at cleaning and some simple channel level analyses. Afaik we also don't have the anatomical MRI of this subject. See http://www.fieldtriptoolbox.org/tutorial/tms-eeg/

[2019-11-01 13:02] agramfort commented on #7007
+1

[2019-11-01 13:59] padmasundaram commented on #7009
We will have to use our own data for the source reconstruction example in that case.

[2019-11-01 19:01] agramfort commented on #7009
would there be something specific about EEG+TMS for source imaging? Or once
I have cleaned up the sensor data I can just use any method I know? what
would we willing to demonstrate?

[2019-11-02 19:15] AdoNunes opened #7012 "Read empty txt annotations"
Hi

If the .txt annotation file is empty it gives a ValueError: not enough values to unpack (expected 3, got 0)

Sometimes, at least for me, it is useful to write empty files to keep track of steps already done.
A simple option would be to add a try and except assigning empty values to the onset duration and desc.

What do you think?

This issue is similar to #6209

[2019-11-03 06:08] agramfort commented on #7012
@AdoNunes please provide a basic code snippet we could use to replicate the error and make later a test. thanks

[2019-11-03 20:20] JavRodri opened #7013 "Env update test path conflicts"
HEllo, I'm new on this python/anaconda topics, please if this post is not in right place, let me know and I will correctit.

I followed the instructions to install mne here: https://mne.tools/stable/install/mne_python.html
and then ran: conda env update --file environment.yml
 but i get next testpath conflicts and I honestly have no idea how to fix it, and I have been looking on internet for somet

[2019-11-03 20:22] AdoNunes commented on #7012
The snippet:

`from mne.annotations import Annotations,  _read_annotations_txt
Annot = Annotations([],[],[])
Annot.save('filename.txt')
_read_annotations_txt('filename.txt')    `

This seems to happen only for .txt

@agramfort in these cases, should I just do a PR directly or always first create an issue?

[2019-11-03 20:58] agramfort commented on #7012
If you can do the PR it’s great

Issue first is better

Thanks

[2019-11-04 01:02] christian-oreilly opened #7015 "mne.source_estimate.MixedSourceEstimate.plot_surface(...) crashes"
#### Steps and/or code to reproduce
Sorry for not providing a fully reproducible code, but I think the problem is quite clear here. I tried to plot sources with a MixedSourceEstimate using
[code]
and I got:
[code]
And sure enough, on the current dev code at line 2257 of mne/source_estimate.py:
[code]
and at line 1540 of mne/viz/_3d.py
[code]
Unless I am missing something, this code is broken...

[2019-11-04 08:27] fsultana44 commented on #6978
Hi @cbrnr, you are right.In my *.edf file  date and time was invalid that's why the function could not work. After fixing the date and time the mne is able to read this edf file and no error showing anymore.
But I am wondering that when I plotted my raw edf file I got some wired picture.I have attached the picture in below.
![03062019 2](https://user-images.githubusercontent.com/51081858/68107319-

[2019-11-04 08:36] cbrnr commented on #6978
This is probably not an MNE issue - it looks like your data was recorded without a highpass filter, which is why you see large slow changing offsets. Try plotting the data with `raw.plot(highpass=1)`.

[2019-11-04 08:37] cbrnr commented on #6978
I'm closing this because the original issue has been resolved. If you have more questions not directly concerning MNE specifics feel free to use our mailing list.

[2019-11-04 08:37] #6978 closed

[2019-11-04 14:54] larsoner commented on #7015
It probably has not been used for some time (and is obviously untested!). Are you up for making a PR to fix it?

[2019-11-04 16:28] christian-oreilly commented on #7015
I can most probably have a look at it and if it goes well propose something. But I am on short deadlines for the next two weeks so it would go after that.

[2019-11-04 19:29] larsoner commented on #7013
What operating system are you on? It's weird that this happens because we test MacOS/Windows/Linux continuously with our instructions.

Did you very recently download Anaconda, or are you using an old version?

[2019-11-04 21:02] jasmainak opened #7020 "Bug in vector source estimate plotting"
#### Describe the bug
This was reported to me by @rythorpe. The vector source estimate does not plot arrows for the somato data.

#### Steps and/or code to reproduce
Here is a [gist](https://gist.github.com/rythorpe/c51a5b66b492b67437843283c67050af) to reproduce the problem. I don't see any issue with the script. Indeed, if you do:

[code]

you get:

[code]

and if you do:

[code]

you get:

[code

[2019-11-04 21:32] #7012 closed

[2019-11-05 13:29] agramfort commented on #7020
@GuillaumeFavelier maybe can you have a look? thanks

[2019-11-05 14:12] GuillaumeFavelier commented on #7020
Okay, first good news: I'm able to reproduce. Thanks for reporting @jasmainak

[2019-11-05 14:43] GuillaumeFavelier commented on #7020
Then there is the fact that the automatically computed `scale_factor` value is really small in my experiment. This variable influences the scaling of the glyphs:
[code]
My results using the gist:
[code]

Which gives `scale_factor_norm=1.07521615940585e-11`, this is too small I think.

For reference: https://github.com/nipy/PySurfer/blob/master/surfer/viz.py#L1098-L1105

[2019-11-05 15:24] agramfort commented on #7020
do you suggest a fix?

[2019-11-05 15:24] GuillaumeFavelier commented on #7020
Apparently using `scale_factor=20` instead of `scale_factor=None` already helps in my case but there is maybe more to it.

[2019-11-05 15:26] GuillaumeFavelier commented on #7020
could you try it out @jasmainak ?

[code]

[2019-11-05 15:28] larsoner commented on #7020
If the scale factor logic can be improved we could consider it a bug fix

[2019-11-05 15:58] jasmainak commented on #7020
Yes, the `scale_factor` does seem to improve things. Although it is still a bit hard to see the arrows depending on how you rotate the brain. Not sure if that's expected. If the automatic logic is not so reliable, maybe one option is to add it as an option to tweak in the `time_viewer` ?

[2019-11-05 16:10] GuillaumeFavelier commented on #7020
At the moment, the automatic scaling for `plot_vector_source_estimates` still relies on PySurfer. If we make a fix in MNE, the patch would be PySurfer-specific right?

On the MNE side, I could suggest something which is in the order of magnitude of:
[code]

[2019-11-05 16:32] drammock commented on #7020
I haven't looked at how this is currently handled in the code, so maybe this is a dumb idea, but it seems to me that you will never want your longest arrow to be longer than, say, 1/5 the width of a cerebral hemisphere at most. Would it be enough to always scale such that the longest arrow ends up that size?

On November 5, 2019 8:24:08 AM PST, Mainak Jas <notifications@github.com> wrote:

[2019-11-05 16:40] larsoner commented on #7020
@GuillaumeFavelier we can implement the fix on the MNE side, then we don't break people's independent PySurfer code. Or you can try to backport the fix.

We'll probably want it for the PyVista implementation anyway.

Regarding which heuristic to use (e.g., @drammock's comment) it's probably worth trying a few options to see what tends to work. But instead of using `max` another option is to use a

[2019-11-06 10:06] cbrnr opened #7024 "Error in raw.plot_psd() with bad segments"
I think #6748 broke PSD plotting when bad segments are present in annotations. The reason is that `psd_welch` now averages PSDs without taking care of NaNs, which it should because bad annotations are automatically transformed into `np.nan`.

[code]

In this example, all elements in `psds` are `np.nan`. Previously, when only mean was supported, we used `np.nanmean` to ignore NaNs. Not sure if ther

[2019-11-06 14:40] larsoner commented on #7024
Sounds like a regression that needs a tiny test.

IIRC internally `welch` in SciPy just uses the STFT function. So we should just compute the STFT then do our own combining. We can compare the non-NaN version of our output with SciPy's. @cbrnr you up for this?

[2019-11-06 14:59] cbrnr commented on #7024
Definitely.

Isn't that basically what we did before? We had only one option then (`np.nanmean`), but it should be pretty easy to implement the second option with `np.nanmedian`. So basically I'd revert most of the changes and just add the median option, right?

[2019-11-06 15:06] larsoner commented on #7024
I don't remember...

I wouldn't automatically go with the revert route as it did add some functionality we want IIRC, such as new mode options and the ability to pass a callable, etc. (I think?). And there might be a cleaner way to do this than what we had before. But it's possible a revert would be cleanest, not sure.

Basically I would take the code as it is now work the way it should for data w

[2019-11-06 15:19] cbrnr commented on #7024
Previously, we used `scipy.signal.spectrogram` and then averaged the spectrograms with `np.nanmean`. Now we use `scipy.signal.welch` for both mean and median averaging (which doesn't support NaNs), but added an option to return the unaveraged spectrograms. IMO the simplest fix is the get rid of `scipy.signal.welch` again and just use `scipy.signal.spectrogram` (and implement or own averaging like

[2019-11-06 15:26] iamsc opened #7027 "Adding support of GridSearchCV for mne.decoding.LinearModel"
#### Describe the problem
Hi, all~
I recently worked on the decoding analysis using MNE. In my analysis, I used the SVM (linear kernel) and function `SlidingEstimator` to classify my experimental conditions. I also used the `GridSearchCV` (Scikit-learn's function) to find out the best hyper-parameter c of SVM. However, I found that the `LinearModel` of MNE cannot obtain the `coef_` parameter in re

[2019-11-06 15:49] larsoner commented on #7024
STFT is from 0.19 and we only require 0.18

Agreed `scipy.signal.spectrogram` is a good option

[2019-11-06 19:00] cbrnr commented on #7024
OK. I'll make a PR then using `scipy.signal.spectrogram`.

[2019-11-07 18:11] GuillaumeFavelier commented on #7020
The current state of #7030 might have found a satisfying value for the `scale_factor`. Could you maybe try it out on your examples @jasmainak ?

This is maybe because the type of glyph is 2D? It's cheap to compute but it doesn't improve the vector information conveyed so much in my opinion especially with many of them. We could experiment with another type of glyph, maybe 3D arrows. What do you th

[2019-11-07 18:42] drammock opened #7034 "make a public version of mne._beer_lambert_law._short_channels()"
And once a public function exists, update the fNIRS motor dataset tutorial accordingly.

crossref #7018

[2019-11-07 18:42] drammock commented on #7034
assigned to @rob-luke

[2019-11-07 19:50] jasmainak commented on #7020
hmmm ... I thought it was 3D? Why are the glyphs 2D? also maybe if you plotted on an inflated brain, it might look better -- why is the default for vector source estimates not an inflated surface?

[2019-11-07 20:00] larsoner commented on #7020
See @GuillaumeFavelier's comment above, efficiency probably. (Also in my experience the 3D ones can be harder to see depending on how they're plotted.)

Imagine for a minute all the vectors happened to be normal to the cortical surface (i.e., landed in perfectly fixed orientation even though you had a loose or free inv). They are normal to the `white` matter surface. If you plotted these vectors o

[2019-11-07 20:20] jasmainak commented on #7020
sorry I had a more basic question -- I guess I should have asked "what are 2D glyphs"? :) if it's 2D, is it on a plane perpendicular to my viewing angle? Because some arrows disappear and appear depending on what angle I am looking from. It's a bit confusing.

I agree that the white matter surface might be better to plot on but currently I can't see much from the plot.

Also are the arrows scaled

[2019-11-08 14:13] larsoner opened #7037 "ENH: Add/modify mixin to allow setting info['meas_date']"
On the mailing list people asked about modifying `info['meas_date']`. We should perhaps make a public method for this in cases where it's incorrect.

[2019-11-08 14:19] GuillaumeFavelier commented on #7020
The 2D glyphs indeed belong to a plan, this small animation hopefully demonstrates what I couldn't explain by 2D glyphs (made with PyVista):
![output](https://user-images.githubusercontent.com/18143289/68482049-fb8d7f80-0238-11ea-9bed-f672fd0347f8.gif)

Looking at the code of PySurfer, the function [`_add_vector_data`](https://github.com/nipy/PySurfer/blob/master/surfer/viz.py#L3205-L3228) which u

[2019-11-08 14:21] #7034 closed

[2019-11-08 14:22] larsoner commented on #7020
@GuillaumeFavelier feel free to try out the 3D version to see if you can get something satisfying. We can have an option for `glyph='arrow2d' | 'arrow3d'` or so if it ends up looking good

[2019-11-08 14:31] GuillaumeFavelier opened #7038 "[WIP] Fix plot_vector_source_estimates"
This summarizes different properties of the `plot_vector_source_estimates` that can help to fix #7020:

- [ ] Scale automatically the glyphs when `scale_factor=None` (*work in progress in #7030*)
- [ ] Fix the bug where the glyphs disappears when `brain_alpha` is in [0.8, 1]
- [ ] Experiment with the type of the glyphs (2D or 3D)

[2019-11-08 14:31] GuillaumeFavelier commented on #7020
I opened #7038 to keep track of the progress to fix this issue.

[2019-11-08 17:14] #7038 closed

[2019-11-08 21:06] JavRodri commented on #7013
Hello!

Im using win 10. and I downloaded the latest anaconda version and followed the procedure as shown in the link I provided in the first post. In the mean time I was looking other options and found a piece of advice telling me to install python 3 instead, the pip install mne tool and it seems to be working now. I do, however, would like to know what was wrong with anaconda procedure.

Thanks

[2019-11-08 23:55] drammock commented on #7013
@larsoner do you know why we specify `testpath<0.4` in our env file?  Seems like that constraint may be the culprit; the second line looks like recent anaconda (`2019.10`) requires `testpath==0.4.2`

[2019-11-09 01:01] larsoner commented on #7013
Probably some bug in testpath 4.0 and/or a library that uses it. If you look at blame:

https://github.com/mne-tools/mne-python/blame/master/environment.yml

It points to https://github.com/mne-tools/mne-python/pull/5585, a CI fix. I would remove the < 4 in a PR and see if everything works

[2019-11-09 14:42] #7020 closed

[2019-11-10 12:22] #7013 closed

[2019-11-10 15:30] fishbacp opened #7046 "How to extract coordinates of a particular layout?"
I apologize is this question is one I should post on elsewhere, e.g. stackoverflow.

Given a layout, such as "standard_1020," is there a feature to determine the (x,y) coordinates of each electrode?

I'm asking because I wish to use networkx to plot the nodes (EEG channels) using the precise coordinates as opposed to one of networkx' built-in layouts. This will help for purposes of visualizing var

[2019-11-10 16:07] agramfort commented on #7046
@fishbacp please done use the issue tracker to ask usage questions. There is a mailing list
https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis
and a gitter channel https://gitter.im/mne-tools/mne-python

[2019-11-10 16:07] #7046 closed

[2019-11-11 18:00] brinda3093 opened #7047 "RuntimeError: No digitization points found."
I am trying to plot the ICA for a set of data from a MAT file. However, I do not have the montage or the .info file for the data.
Is there any method by which I can check the ICA of the data ?

[2019-11-11 18:02] agramfort commented on #7047
please don't use issue tracker for asking usage questions.
Use gitter or the MNE mailing list

See https://github.com/mne-tools/mne-python/pull/6938
or https://mne.tools/stable/auto_tutorials/simulation/plot_creating_data_structures.html#sphx-glr-auto-tutorials-simulation-plot-creating-data-structures-py

if it can help

[2019-11-11 18:02] #7047 closed

[2019-11-11 18:32] rbechto2 opened #7048 "Implementation Robust Principal Component Analysis (RPCA) for EEG Noise Detection"
#### Describe the problem
Currently, MNE has no Robust Principal Component Analysis (RPCA) implementation and I think it would be a great addition to MNE's functionality. RPCA is a method to remove correlations from a data set, which works well with very corrupted data. RPCA is used to recover a low-rank matrix L and sparse matrix S from highly corrupted measurements, M = L + S.

#### Describe you

[2019-11-11 23:17] AamnaLawrence opened #7049 "Automatic detection of the bad EEG channels inspired by the PREP pipeline"
Describe the problem

Finding bad channels is a crucial step in EEG pre-processing for making the data amenable for analysis. Detecting bad channels also has implications in re-referencing the EEG data further down in the pre-processing pipeline. Currently, MNE does not have the functionality for detecting bad channels using a single function. Also, manually rejecting bad channels by visual inspec

[2019-11-11 23:21] drammock commented on #7049
How does PREP compare to [autoreject](https://autoreject.github.io/)?

[2019-11-11 23:50] AamnaLawrence commented on #7049
@drammock PREP in itself is an EEG preprocessing pipeline concerned with filtering, bad channel detection and re-referencing. They follow an exhaustive list for detecting bad channels which includes rejection based on the RANSAC method, high-frequency noise, and SNR, to name a few.

[2019-11-12 00:05] drammock commented on #7049
What I mean is, autoreject also detects and repairs bad channels (and includes an implementation of RANSAC). Can you say a little more about what (specifically) you want to add that isn't already covered by autoreject?

[2019-11-12 00:43] drammock commented on #3985
@prateekj117 thanks for pointing that out, see #7050

[2019-11-12 09:10] agramfort commented on #7048
is there published work that shows the benefit of this on EEG/MEG data?

[2019-11-12 09:12] agramfort commented on #7049
see https://autoreject.github.io/generated/autoreject.Ransac.html
https://autoreject.github.io/auto_examples/plot_ransac.html

the autoreject paper provides a benchmark with this method

[2019-11-12 15:20] #7024 closed

[2019-11-12 16:54] fabriceduprat commented on #7037
When we create a raw object from a numpy array there is no absolute time recorded, it would be indeed  very interesting to be able to modify info['meas_date']. Thank you

[2019-11-12 17:15] agramfort commented on #7037
if you have a datetime object `dt` in python you can do:

`raw.info['meas_date'] = (int(dt.timestamp() // 1), dt.microsecond)`

[2019-11-12 18:10] larsoner commented on #7037
I was thinking of a nicer API like:
[code]
where `dt` must be a `datetime` object in UTC. It's a bit nicer than making people mess with `info['meas_date']` and also we can/should for example adjust the `raw.annotations` simultaneously when setting `info['meas_date']` to something new.

[2019-11-12 18:17] larsoner opened #7052 "ENH: Store `info` dates as `datetime` objects"
In principle there is no reason we can't store `info['meas_date']` and other date entries as `datetime` objects. @agramfort proposed this and it makes sense to me. On read we convert to `datetime` and on write we convert to what the FIF format wants to see.

I can work on it if people agree it's worthwhile.

[2019-11-12 18:35] cbrnr commented on #7052
Good idea!

[2019-11-12 20:11] Nick3151 opened #7053 "Implementation of Robust Referencing Procedure as part of the PREP pipeline"
#### Describe the problem
Computing or selecting the reference signal is an important step when analyzing EEG recordings. It has been shown that both choosing one particular channel and using the overall signal average as the reference signal are problematic. The robust referencing procedure produces an estimation of the true average of the signal, i.e., if none of the channels are bad, and thus a

[2019-11-12 20:16] jasmainak commented on #7052
what's the advantage of doing so?

[2019-11-12 20:18] larsoner commented on #7052
`info['meas_date']` is easily interpretable by users, we hide the complications of the FIF format from them (they don't need to know the details)

[2019-11-12 20:21] jasmainak commented on #7052
good idea!

should be done also for birthday?

[2019-11-12 20:22] larsoner commented on #7052
If it falls under the "and other date entries" in the issue description I would say so. Basically anything we currently represent using tuple-of-int-as-date we should convert.

[2019-11-12 21:13] agramfort commented on #7053
maybe you can start from here https://github.com/sappelhoff/pyprep
by help stefan on this front?

[2019-11-12 21:13] agramfort commented on #7037
sure why not

[2019-11-13 07:19] #4480 closed

[2019-11-13 12:01] AamnaLawrence commented on #7049
@agramfort Agreed that autoreject can detect bad channels are trials based on deviation and correlation, however, in PREP, bad channels are also detected by having HF noise where the signal is 50Hz low pass filtered and the ratio of the median absolute deviation of the high and low-frequency components is used to compute the robust z-score.

[2019-11-13 13:05] agramfort commented on #7049
yes PREP does more things than autoreject. Any contribution with example we
can
document are welcome

[2019-11-13 15:01] jasmainak commented on #7049
in practice though, it's RANSAC which PREP mostly relies on. It's what I've observed. The bad channels detected by the other methods are a subset of this.

[2019-11-13 15:21] AamnaLawrence commented on #7049
@jasmainak not necessarily since RANSAC relies only on corrrelation.

[2019-11-13 15:29] fabriceduprat commented on #7037
I tested Alexandre proposal, it works fine, a setter would effectively be nicer, but the same would be needed for other values like info['description'], perhaps propose a setter for all the values that we can modify ?
For info, why using the quotient (timestamp //1) ?

[2019-11-13 15:41] larsoner commented on #7037
For `meas_date` we need the `setter` because there is something else that needs to be kept in sync with it, namely `annotations`.

For other things like `description` we don't need a setter as it's just a `str` entry.

We can make it clear in the `info` docs which things need to be set via setters and which do not. Most things shouldn't be modified by users so we can just make a short list of thin

[2019-11-13 20:44] drammock commented on #7049
cc @sappelhoff, and crossref to #7048 and #7053. Here are some possible ways forward:

1. all of PREP gets implemented in MNE-Python (presumably led by @AamnaLawrence, @Nick3151, @adam2392, and others, who seem to be doing this as coursework? cf http://neurodatadesign.io/)
2. all of PREP gets implemented in a companion module that uses MNE-Python data structures (https://github.com/sappelhoff/pypr

[2019-11-13 21:34] agramfort commented on #7049
I would keep this as autoreject in a dedicated package built on top of MNE.
It will speed up development and authors will keep ownership and
maintenance responsibility.

[2019-11-13 23:36] adam2392 commented on #7049
@drammock @agramfort  Would you say autoreject, or pyprep is a better place to start? It seems like they are doing very similar things, but autoreject having more functionality?

We can start by making separate issues, and consolidating PRs to address each of these separate funcs including but not limited to:

1. Feature enhancement by adding filtering, line noise removal, robust PCA, and robust r

[2019-11-14 00:22] rob-luke opened #7057 "ENH: Agenda for fNIRS processing"
The current status of NIRS support can be seen in this [tutorial](https://mne.tools/dev/auto_tutorials/preprocessing/plot_70_fnirs_processing.html#sphx-glr-auto-tutorials-preprocessing-plot-70-fnirs-processing-py).

Here is a rough plan for the development of fNIRS processing in MNE.

Refactor existing code:
- [x] Use write wavelengths to `info['chs'][ii][loc][9]` in addition to the channel name
-

[2019-11-14 00:24] rob-luke commented on #7057
Currently I am looking at the [temporal whitening tutorial ](https://mne.tools/stable/auto_examples/time_frequency/plot_temporal_whitening.html)as a starting place for the first step of the GLM implementation.

[2019-11-14 00:33] drammock commented on #7049
I think it's probably up to @jasmainak and @sappelhoff whether these additions go into autoreject or pyprep. Based on sappelhoff/pyprep#2 I'm guessing Stefan is fine with pyprep as the home for this; @jasmainak is that OK with you?

[2019-11-14 01:34] larsoner commented on #7057
@rob-luke WDYT about implementing [TDDM](https://www.ncbi.nlm.nih.gov/pubmed/30217544)? There is MIT licensed code [here](https://github.com/frankfishburn/TDDR) that we could adapt.

[2019-11-14 01:36] larsoner commented on #7057
(Unrelatedly, also added a note about refactoring the wavelength to use `info['chs'][ii]['loc']` rather than the channel name)

[2019-11-14 05:01] jasmainak commented on #7049
Either is fine by me since we're all a happy family :) While a separate package is nice for speedy development, it duplicates efforts and fractures the ecosystem a bit. Ultimately, we want to give researchers better tools to look and process their data. Currently, we have some preprocessing code in MNE-sandbox, then a separate repository for autoreject, a separate repo for PREP now. I think there

[2019-11-14 09:33] sappelhoff commented on #7049
I think that autoreject is better off remaining an "autoreject-only" repository: It keeps the codebase clean and there is a tight connection between the [scientific publication](https://www.ncbi.nlm.nih.gov/pubmed/28645840) and the codebase.

I also agree with Alex that it's better to keep these rather large preprocessing pipelines (PREP, autoreject, ...) as minimal repositories, separate from MNE

[2019-11-14 09:54] wmvanvliet commented on #7049
Great to see people picking up this kind of work! The [pyprep](https://github.com/sappelhoff/pyprep) repo seems like a good place for it. Not sure about the current API of the `Noisy` class though. I would personally go with either plain functions or a scikit-learn type `fit()`/`apply()` API.

[2019-11-14 10:36] cbrnr commented on #7049
👍 for implementing all/part of PREP in pyprep.

[2019-11-14 14:36] agramfort commented on #7049
we need to create a page with related mne projects in the main mne.tools
pages

[2019-11-14 14:40] agramfort commented on #7057
if the code becomes too big I would start by putting it in
dedicated projects unless there is a consensus so that 80% of people will
use this tool anyway

[2019-11-14 14:58] ezemikulan opened #7058 "Explained variance of eLORETA"
Hi, I've seen that the Explained variance reported in the logger when using eLORETA is very strange:

    Picked 62 channels from the data
    Computing inverse...
    Eigenleads need to be weighted ...
    Computing residual...
    __Explained -916356207643396166123520.0% variance__
    Combining the current components...

When using dSPM the value makes more sense (1.9%)

I've seen that here:

h

[2019-11-14 15:14] larsoner commented on #7058
Yes it's currently wrong. It would help if we just printed "unknown" rather than something nonsensical. Would you be up for making a PR to do that when the method is eLORETA?

[2019-11-14 15:16] larsoner commented on #7057
Agreed, not sure about prevalence. @rob-luke hopefully can comment.

FWIW the code for TDDR is about 20 active lines so not too painful :)

[2019-11-14 15:21] larsoner commented on #7049
On it

[2019-11-14 15:36] drammock commented on #7049
The related projects page already exists, we can just add pyprep to it. https://mne.tools/stable/install/pre_install.html

On November 14, 2019 7:21:16 AM PST, Eric Larson <notifications@github.com> wrote:

[2019-11-14 15:41] larsoner commented on #7049
Hah! Missed that. I'll add a couple of things

[2019-11-14 15:42] ezemikulan commented on #7058
Sure, I'll do it. Thanks for the clarification.

[2019-11-14 15:42] #7058 closed

[2019-11-14 15:42] larsoner commented on #7053
Closing based on discussion in #7049

[2019-11-14 15:42] #7053 closed

[2019-11-14 16:31] #7049 closed

[2019-11-14 20:35] alexrockhill opened #7062 "[BUG] Outdated Qt version crashes mne coreg"
When using mne coreg, if the Qt version is before 5.10, the gui doesn't work. @larsoner suggested adding an error to detect and throw an error on launch if qt < 5.10 and MacOS.

[2019-11-14 21:21] rob-luke commented on #7057
From that style of processing, TDDR is my preferred approach. I would be happy to implement it after the items listed above.

[2019-11-14 21:21] rob-luke commented on #7057
dedicated projects unless there is a consensus so that 80% of people will
use this tool anyway

This is handy to know, it will help me think about what to implement in this repo

[2019-11-14 21:23] rob-luke commented on #7057
I have put my name next to the items that I have rough code already working for.

[2019-11-15 11:20] jjnurminen opened #7065 "BUG/DOC: SSS origin"
Hi,

I was fooling around with `mne.preprocessing.maxwell._sss_basis*`, which take an origin parameter for the vector spherical harmonics.

According to the docstring, the origin is given in millimeters. However moving the origin by `[0, 0, 1]` which should give a very modest effect, I get a drastically different SSS basis. Therefore, I suspect that the origin is actually in meters. Also it seems

[2019-11-15 15:09] larsoner commented on #7065
Yes we do everything in meters, PR welcome to clarify

[2019-11-16 01:23] jasmainak opened #7067 "meas_date is guessed during I/O when it is None"
It seems that the `meas_date` is not saved / read in correctly. There seems to be a regression of issue #4949 with latest master. Here is the code to reproduce:

[code]

I discovered this while working on https://github.com/mne-tools/mne-bids/pull/290/

[2019-11-16 13:21] agramfort commented on #7067
it was working with 0.19 ?

[2019-11-16 17:59] adam2392 opened #7068 "MNE Plot_Raw Showing Unit Label Conflict w/ YLabels"
## Describe the problem
When I plot using raw.plot(), there is a line specifying units that conflict w/ the y labels.

See here.
![image](https://user-images.githubusercontent.com/3460267/68997114-d3bd9d80-0870-11ea-88a1-56da46bfe239.png)

#### Describe your solution
Is it possible to make this either on the other side of the plot, somewhere else altogether, or make it optional?

[2019-11-16 18:10] jasmainak commented on #7067
Looks like @bloyl is the culprit :)

Git bisect tells me it stopped working after #5255:

[code]

[2019-11-16 21:14] alexrockhill opened #7069 "[ENH] Example for plot_evoked_field"
I didn't see any examples for plot_evoked_field. That might be helpful to have if it's not too many examples/much bloat.

[2019-11-16 21:20] drammock commented on #7068
You can turn that on and off. I forget off the top of my head what the key is, but if you push the "?" key while the plot is focused you'll get a list of all the keyboard shortcuts.

On November 16, 2019 9:59:32 AM PST, Adam Li <notifications@github.com> wrote:

[2019-11-16 22:25] adam2392 commented on #7068
I guess my issue is that I would like to see it and it is useful, but there is no way to put it somewhere else, or dynamically change it's size?

It's nice and out of the way when I have say only 5-10 channels showing, but when I have more, it gets in the way of the first channel text.

[2019-11-17 00:30] bloyl commented on #7067
To be fair the guessing
https://github.com/mne-tools/mne-python/blob/ef7d7c1899911b821312cc5be1558cc2d6ae4816/mne/io/meas_info.py#L1229-L1233
is from 2010. :)

All #5255 does is to ensure the `info['meas_id']` round trips through io.
https://github.com/mne-tools/mne-python/blob/ef7d7c1899911b821312cc5be1558cc2d6ae4816/mne/io/meas_info.py#L1300-L1302

So for a non anonymized info object (meas_date=

[2019-11-17 08:19] jasmainak commented on #7067
I agree with no guessing. Note that while it was broken before, didn't we fix it in #4990? Now looking at the diff I'm not so sure if we added a test to check that or prevent a future regression. Thanks for making the PR to fix it!

[2019-11-17 09:25] agramfort commented on #7027
@iamsc sorry for the response delay. Yes you are right.

can you try to update https://github.com/mne-tools/mne-python/blob/master/mne/decoding/base.py accordingly and send us a pull request to fix this?

what I would suggest is to try to find .coef_ with `hasattr` and if not try with `.best_estimator_.coef_` before failing due to missing coef_

[2019-11-17 12:54] bloyl commented on #7067
Potential Fixes

1. During Reading don't guess meas_date from meas_id. This is here.
https://github.com/mne-tools/mne-python/blob/ef7d7c1899911b821312cc5be1558cc2d6ae4816/mne/io/meas_info.py#L1229-L1230
I don't really know why this behavior was desirable but I'm sure it was/is for something.

2. Stop writing the `meas_id` directly in the `meas_info` tree of the fiff. This would revert to pre #5255

[2019-11-17 15:42] agramfort commented on #7068
did you change manually the font sizes of matplotlib? another option is to
show less sensors it should expand on yaxis. Or we need to tweak to shift
if down a tiny bit. I don't see how to fix it with guarantees otherwise

[2019-11-17 15:43] agramfort commented on #7069
see at the bottom
https://mne.tools/dev/auto_tutorials/evoked/plot_visualize_evoked.html#sphx-glr-auto-tutorials-evoked-plot-visualize-evoked-py

[2019-11-17 15:49] alexrockhill commented on #7069
Didn't see it already existed https://mne.tools/stable/auto_tutorials/evoked/plot_visualize_evoked.html#sphx-glr-auto-tutorials-evoked-plot-visualize-evoked-py

[2019-11-17 15:49] #7069 closed

[2019-11-17 23:45] alexrockhill opened #7073 "[BUG] Dig point channel names do not match for ecog"
[code]

For some reason the dig channel names get set to EEG #X for dig points in ecog data rather than their given names in raw.ch_names.

[2019-11-18 01:15] rbechto2 commented on #7048
Hey @agramfort!

I found some great papers that demonstrate the benefits of RPCA on EEG data. The most common application is to use RPCA in order to improve tolerance to variability in EEG signals from trial to trial or day to day experiments and thus improving classification performance.

I also believe that this could be a useful function directly implemented to the mne package. I'd love to disc

[2019-11-18 03:44] jasmainak commented on #7073
is this on `master` ?

[2019-11-18 03:45] alexrockhill commented on #7073
Just checked on up-to-date master and can confirm it was off there.

[2019-11-18 08:57] cbrnr commented on #7068
@adam2392 you can press "s" to toggle the scale bars. Currently, there is no argument to turn them off in the `raw.plot()` call though.

[2019-11-18 09:16] agramfort commented on #7073
dig points have no name.

In [3]: raw.info['dig'][0]
Out[3]: <DigPoint |     EEG #1 : (-13.2, -65.4, 70.2) mm   : head frame>

In [4]: raw.info['dig'][0].keys()
Out[4]: dict_keys(['r', 'ident', 'kind', 'coord_frame'])

the idea is that their index matches the order in raw.info['chs'] when it's
an EEG, iEEG or ECoG channel.

although their might be bugs

[2019-11-18 09:37] agramfort commented on #7048
the way to proceed is to provide an implementation and an example using a
public dataset to show how useful this is.

[2019-11-18 09:39] #7065 closed

[2019-11-18 13:22] virvw opened #7075 "minor issue - install python on window"
Hi from Hackhathon Brainthemind Nov 2019 # 2
When following instructions here:
https://mne.tools/stable/install/mne_python.html#installing-python

1) command lines like "which" may not work in windows but it is fine

2) python -c 'import mne; mne.sys_info()'
window users should use
python -c "import mne; mne.sys_info()"

[2019-11-18 15:10] larsoner commented on #7075
Thanks for the info, see #7076

[2019-11-18 15:51] AdoNunes opened #7077 "ENH: make mne python for CTF data preprocessing more friendly"
@NataKozh and I have been doing some data preprocessing with CTF data and we found that mne-python needs a few PR upgrades to integrate common preprocessing steps done when maxfilter is not used.

Namely:
- Muscle artifacts detection `detect_artifact_muscle`
   Detect data segments with muscle artifacts by bandpassing the data between 110-140 Hz, taking the envelope, z-scoreing and low pass filter

[2019-11-18 16:44] agramfort commented on #7077
I found some old code too
https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/bads.py#L8

it would be great if you break down this script in smaller functions.

if you find bad segment then return an Annotations with proper description
eg BAD_MUSCLE or BAD_MOVEMENT etc.

do we have some public data we could use to demo / validate this?

[2019-11-18 16:59] AdoNunes commented on #7077
What about the brainstorm auditory dataset? There are bad channels and maybe the subject moved at least a bit...

I will call the `find_outliers` func from bads.

[2019-11-18 18:00] jasmainak commented on #7077
what about making a separate repository for these issues as we did with `pyprep` in #7049?

[2019-11-18 18:13] #7062 closed

[2019-11-18 18:13] #7075 closed

[2019-11-18 18:31] agramfort commented on #7077
At least start by an example so we see what function could be interesting for mne core library

[2019-11-18 21:50] christian-oreilly commented on #7015
Will be solved when PR #7079 passes. Closing the ticket.

[2019-11-18 21:50] #7015 closed

[2019-11-19 02:21] adam2392 commented on #7068
Okay no problem. Visualization is always tough to functionalize in my exp.

I would say a programmatic option to turn off the unit scale would be helpful tho in general. If you think this is easy enough / okay to add in, I’d be willing to submit a PR.

If not, we can close this off.

[2019-11-19 03:31] christian-oreilly opened #7080 "The current design of mne.bem.make_watershed_bem is incompatible with ipython"
#### Describe the bug
Runinng `mne.bem.make_watershed_bem(fs_subject)` within ipython (actually, this was tried it in Jupyter notebook more specifically) crashes with:

[code]

My undestanding of this issue is that the problems comes from `sys.stdout` being passed within the kwargs argument to subprocess.Popen() by `mne.utils.misc.running_subprocess`. Thus, `sys.stdout` gets passed as `sysout` to

[2019-11-19 03:52] drammock commented on #7068
I would be OK with a `show_scale_bars` param (or maybe just `scale_bars`?) that defaults to `True` for backward compat.

[2019-11-19 04:50] alexrockhill opened #7081 "[BUG] mne coreg GUI saves fiducials in meg space but labels as mri space"
Try:

[code]

Save fiducials as test file

[code]

The fiducials are in meg space but have coord_frame 5 corresponding to mri space.
[code]

Voxel space is something like:

[code]

Either the fids should be changed to voxel space or the coordinate system should be changed to head.

[2019-11-19 07:44] cbrnr commented on #7068
👍 for `scale_bars=True`, @adam2392 PR welcome!

[2019-11-19 09:21] jsosulski opened #7082 "Wrong channel names in data set"
I have a dataset with 16 channels in which the channels `Fp1` and `Fp2` are unfortunately saved as `FP1` with a capital P. When I try to set_montage, mne reports that standard_1020 does not know the channels `FP1` and `FP2`.

My naive solution was to fix it by renaming the channels before setting the montage:

[code]

This leads to the error

` info channel name inconsistency detected, please noti

[2019-11-19 09:54] GuillaumeFavelier opened #7083 "BUG, VIZ: plot_vector_source_estimates"
Bug most likely introduced in #7030 where `plot_vector_source_estimates` raises a `ValueError` when `hemi=both`. To reproduce, you can execute this [gist](https://gist.github.com/rythorpe/c51a5b66b492b67437843283c67050af).

More details in https://github.com/mne-tools/mne-python/pull/7030#issuecomment-555175886

[2019-11-19 10:03] cbrnr commented on #7082
Can you try to use `raw.rename_channels({'FP1': 'Fp1', 'FP2': 'Fp2'})` before the `set_montage` call and see if this works?

[2019-11-19 10:18] jsosulski commented on #7082
Yes this works! Thank you!

[2019-11-19 10:18] #7082 closed

[2019-11-19 11:54] larsoner commented on #7081
What we call `MRI` is the "Surface RAS" used by FreeSurfer documented here:

https://mne.tools/dev/overview/implementation.html?highlight=coordinate%20frames%20voxel#meg-eeg-and-mri-coordinate-systems

It's not the same as voxel coordinates. If you want to go from "MRI" to "MRI voxels", you'd want (the inverse of) the `img.header.get_vox2ras_tkr()` transform from `nibabel`, e.g.:

https://gist.git

[2019-11-19 13:16] agramfort commented on #6528
@wmvanvliet @SophieHerbst just reported the same idea. Did you end up solving this pb?

[2019-11-19 14:38] wmvanvliet commented on #6528
Unfortunately, no.

[2019-11-19 14:46] alexrockhill commented on #7081
Very cool example, my mistake on the coordinate system. Looks good to me!

[2019-11-19 16:01] alexrockhill commented on #7081
Ok sorry still a bit confused.

I was using

[code]
To get to what I thought was the mri space you are referencing.

Then
[code]
to get to voxels.

That worked for the landmarks saved out of the GUI, but skipping the first step did not.

i.e. voxel space
[code]

mri space

[code]

meg/head space
[code]

What I'm confused about is that the fiducials saved out of the mri gui are in meters (<<1) wher

[2019-11-19 16:13] alexrockhill commented on #7081
Ahhh I think I was just missing a conversion to mm

[2019-11-19 16:13] #7081 closed

[2019-11-19 17:01] drammock commented on #7081
@alexrockhill now that you understand it thoroughly, care to write a tutorial on coordinate transformations?

[2019-11-19 17:14] alexrockhill commented on #7081
I could do that. Is there a tutorial for something else that it would be helpful if I modeled it off @drammock?

[2019-11-19 17:37] drammock commented on #7081
Start here: https://mne.tools/dev/auto_tutorials/source-modeling/plot_source_alignment.html

See if it makes more sense to edit / improve that one, or if a separate stand-alone tutorial would be better.

[2019-11-19 17:48] alexrockhill commented on #7081
Ok sorry super basic question: it looks like auto_tutorials are maybe in the .gitignore? How do I make a feature branch with this edited?

[2019-11-19 17:50] drammock commented on #7081
the source of the tutorials are in `/path/to/mnepython/tutorials/`.  The rendered versions get put in `.../doc/auto_tutorials` by sphinx.

[2019-11-20 00:54] drammock opened #7088 "misleading info message in compute_rank"
in reviewing #7085 I noticed the output of running `mne.compute_covariance(epochs, ...)` yields the info message

Looks like `mne.compute_covariance` converts `epochs` to a numpy array (let's call it "data"), and then `_compute_covariance_auto(data, ...)` calls `compute_rank(RawArray(data.T, ...), ...)`.  So the message will always say you're computing from "raw" regardless of whether you pass in

[2019-11-20 15:17] larsoner commented on #7088
Yeah it should probably say "Computing rank from data with rank=None" or so, feel free to put it in some PR

[2019-11-20 15:46] #7083 closed

[2019-11-20 18:34] jeschj01 opened #7092 "Retain annotations from EDF files after concatenating"
#### Describe the problem
Nicolet sometimes exports single .e files as multiple EDF files. When I go to load them into raw objects, annotations are often omitted because they are out of the data range.

warning example:
<ipython-input-82-9a8378498a8d>:1: RuntimeWarning: Omitted 4 annotation(s) that were outside data range.

#### Describe your solution
I would like the option to retain annotations

[2019-11-20 20:12] #7080 closed

[2019-11-20 20:21] agramfort commented on #7092
is an mne problem or an export problem?

we could also improv the nicolet reader
https://mne.tools/dev/generated/mne.io.read_raw_nicolet.html
to it supports annotations...

[2019-11-20 21:14] nschawor opened #7093 "DOC: creating custom montages without fiducials"
Currently, it is possible to create custom montages with mne.channels.Montage. This now gives a
DeprecationWarning with the redirection to use DigMontage instead.

As far as I understood it, this function requires reference points on the head, which I don't have. I only have standard coordinates for channels, for custom EEG caps. Below is the example use case which still works, but will not anymor

[2019-11-21 04:57] jasmainak opened #7094 "Inconsistencies in plotting with layouts"
I'm working with CTF data where I don't have the channel locations and I would like to use the `layout` files as much as possible but I observe some inconsistencies in how it's implemented. Some of the topomap visualization functions include this as a parameter and others don't. For example if I do `evoked.plot_topomap` I can provide a `layout` but in the butterfly plot `evoked.plot` there is no o

[2019-11-21 08:50] agramfort commented on #7094
layout are supposed to be guess pretty easily for CTF data. DOes
find_layout work on your files?

[2019-11-21 08:57] agramfort commented on #7093
did you have a look at new documentation?

https://mne.tools/stable/auto_tutorials/misc/plot_ecog.html?highlight=make_dig_montage
https://mne.tools/stable/auto_examples/visualization/plot_3d_to_2d.html?highlight=make_dig_montage
https://mne.tools/stable/auto_tutorials/source-modeling/plot_eeg_no_mri.html?highlight=make_standard_montage
https://mne.tools/stable/auto_examples/visualization/plot_mont

[2019-11-21 14:27] larsoner commented on #7094
We are removing support for `layout` entirely in `topomap` examples. See long discussions in #7066, #5471, etc. Basically the idea is that Layouts are only used in topo-style plots (e.g., `plot_topo`) as a schematic, and never shown in relationship to a head outline. Any time you want sensors shown in relation to a head, a standardized routine flattens the sensor positions given in `info['chs'][ii

[2019-11-21 15:15] #7068 closed

[2019-11-21 15:33] AdoNunes commented on #7077
I think that at least the muscle artifact and movement annotation would be good to have it in MNE.

I have added a script example and the functions script on gist: https://gist.github.com/AdoNunes/b8edec72916543acdde716b6b23e926f

After computing the head position the head pos time series can be plotted (the horizontal line is the threshold, each line is the distance of one of the three cHPI to th

[2019-11-21 16:02] jeschj01 commented on #7092
An MNE fix would solve the problem, as the files still have the annotations, it's just that MNE is throwing them out when it sees that the annotations are out of range on the split up files. If i could just get the annotations before it decides to throw them out that would save me. Even if it gives indices for when the files are all put together, this is fine because I can just concatenate raw obj

[2019-11-21 16:13] agramfort commented on #7092
can you get them if you use
https://mne.tools/dev/generated/mne.read_annotations.html directly on the
edf files? maybe you can then use set_annotations to put them back on the
raw.

[2019-11-21 16:15] agramfort commented on #7077
could you open a PR with this code putting the function in an example for
now? So at least we can comment on it.

[2019-11-21 17:35] cbrnr commented on #7092
EDF annotations can contain arbitrary values, no sanity checks are enforced by the file format. Therefore, MNE checks if annotations are within the time limits of the data.

If `mne.read_annotations` also throws invalid annotations away, we might think about adding an option to disable all checks and read all annotations.

[2019-11-21 18:50] jeschj01 commented on #7092
@agramfort I got so excited for this fix as it seemed to be working. Unfortunately  @cbrnr is correct and the actual "onsets" given for the annotation object are based on the time that the file started at, and in this case there are gaps in time (so if 4 hours of recording are omitted in the file and therefore relatively arbitrary values.

Is there any function that will give indices for the annot

[2019-11-21 19:05] nschawor commented on #7093
Ah, I know understand that for ```mne.channels.make_dig_montage``` the parameter ```coord_frame``` has to be set to ```'head'```. Then it works. Thank you.
If this is not the case, following ValueError is thrown, which made me assume that you need fiducials:
[code]

For this example:
[code]

Maybe the documentation of the parameter for ```mne.channels.make_dig_montage``` could be extended to clari

[2019-11-21 20:00] jasmainak commented on #7094
Unfortunately it's not EEG data, so I can't use a montage. We don't have montages for CTF systems right? [Here](https://gist.github.com/jasmainak/8e9f3f7e229785789ddcbc073de5ed48) is a link to a (slightly longish) reproducible script that shows why I need `layout`.

[2019-11-21 20:03] larsoner commented on #7094
I would manually set the `info['chs'][ii]['loc']` using some surrogate file. It's better and more future compatible than relying on layout.

[2019-11-21 20:46] #7067 closed

[2019-11-21 20:48] agramfort commented on #7094
@jasmainak you don't start from CTF data. Can't you read the fieldtrip with
our fieldtrip IO (mne.io.fieldtrip
https://mne.tools/stable/generated/mne.io.read_raw_fieldtrip.html)
if you don't have channel locations in your files it's hard to blame mne

[2019-11-21 20:50] agramfort commented on #7092
events that you can get with events_from_annotations function are given in
samples.
events are simple numpy arrays. You can also put back events in a fiel with
add_events method.

HTH

[2019-11-21 20:50] agramfort commented on #7093
@nschawor can you maybe give a try to a PR to help us with the documentation? thanks for your help and feedback

[2019-11-21 21:10] jasmainak commented on #7094
The FieldTrip IO is broken. I had to hack a solution ...

But I do need the layout to plot something. MNE doesn't have a gamma example and it's super important in neuro circles -- so I have to depend on FieldTrip unfortunately.

@larsoner I'm not sure I follow. The layout has 2D locations whereas the montage is 3D. How do you propose that I transform the 2D locations to 3D?

[2019-11-21 21:19] larsoner commented on #7094
By "surrogate file" I mean some CTF raw data file that actually has channel locations, not your layout file.

[2019-11-21 21:27] jeschj01 commented on #7092
@agramfort Unfortunately events_from_annotations requires a raw object, which when loaded omits my out of range annotations. If only there were a function that I can use with the edf file that gives the indices for annotations in samples.

[2019-11-21 22:45] jasmainak commented on #7094
okay looks like there is the channel information in the Fieldtrip data structure. I'll try to see if I can make it work.

But to check that the FieldTrip IO in MNE is broken, just do:

[code]

where you can download this file from FieldTrip website: ftp://ftp.fieldtriptoolbox.org/pub/fieldtrip/tutorial/sensor_analysis/subjectK.mat

[2019-11-22 08:12] cbrnr commented on #7092
I don't quite understand your problem with onsets given relative to the recording start time.

In any case, you might want to try [EDFbrowser](https://www.teuniz.net/edfbrowser/) - I think this program displays all events (even if they are out of range), and you should be able to export these somehow.

[2019-11-22 16:01] clairezurn opened #7098 "pyAutomagic for automatic EEG preprocessing and quality assessment"
**What does this implement/fix?**
There is a need for automatic and replicable preprocessing and evaluation of data quality in EEG to increase transparency in the field. A package for this purpose, Automagic, was developed in Matlab (https://github.com/methlabUZH/automagic) by @nickilanger. It provides the user an easy way to set preprocessing and quality evaluation parameters for an entire projec

[2019-11-22 19:24] jeschj01 commented on #7092
Sorry for the lack of clarity.

I start out with 12 hour recordings. These are then clipped, so there are gaps in time. The start of of a file may be at noon, but then my event is at 4pm. It seems the header file gives annotation indices assuming I have a 12 hour file, as opposed to an 8 minute file. I think this is why my annotations are being omitted. Hence me wanting annotations that are specif

[2019-11-22 20:00] cbrnr commented on #7092
Hm. Do you use `raw.crop` to clip your files? I thought this should correctly handle any annotations.

[2019-11-24 17:05] #6970 closed

[2019-11-24 17:51] #6898 closed

[2019-11-26 22:38] #7027 closed

[2019-11-26 23:26] drammock opened #7101 "epochs.plot(..., event_colors) not checking epochs.event_id"
#### Describe the bug
`epochs.plot(..., event_colors)` raises value error when `event_colors` uses keys that are in `event_id` dict

#### Steps to reproduce
[code]

#### Expected results
`epochs.plot(..., event_colors)` should check its keys against keys in `epochs.event_id` and plot the event lines (in this case event 32) in the requested color.

#### Actual results
Here's the full traceback

<de

[2019-11-27 10:12] Pranay144 commented on #7048
Does this issue still need work?
If yes, i can work on it.

[2019-11-27 13:04] adam2392 commented on #7048
@rbechto2 and our group at JHU is working on it within the context of pyautomagic and will link a demo when done. If the RPCA is general enough it would be awesome to just add into mne directly.

Hope to have something by December preliminarily!

[2019-11-27 18:53] larsoner commented on #7101
Yes this looks like a bug, feel free to make a PR to fix if you have time otherwise we can squash it later

[2019-12-02 12:30] #6760 closed

[2019-12-02 20:48] bloyl opened #7107 "BUG - mne coreg issues"
I'm observing odd behavior in `mne coreg` on a clean install on a macbook.

<details>
  <summary>sys.info</summary>

[code]
</details>

The issue is that head surfaces aren't rendering and points (fids, dig etc) are only sometimes visible depending on how the view is rotated etc.

Interestingly this only happens when called this way. `mne coreg`
If the subjects dir is supplied, `mne coreg -s sampl

[2019-12-04 12:57] hoechenberger opened #7112 "Support dockerized FreeSurfer installations"
#### Describe the problem
The vast majority of scientists I work with use Windows computers. However, parts of MNE's source estimation stack rely on FreeSurfer, which is only available for Linux and macOS. This issue is preventing a number of my colleagues from switching to MNE-Python.

#### Describe your solution
Currently, FreeSurfer operations are carried out by [concatenating a list of argumen

[2019-12-04 14:54] larsoner commented on #7112
@hoechenberger this seems like a great initiative! Would you be able to work on it?

How about a single new kwarg `freesurfer_backend=None` that supports:

1. `None`, which means use `MNE_FREESURFER_BACKEND` config (see below)
2. `'local'`: a system command (current behavior, and the default if MNE_FREESURFER_BACKEND is not set, so it will effectively stay the default)
2. `'docker'`: alias for som

[2019-12-04 15:10] hoechenberger commented on #7112
@larsoner I agree with everything you've said. :) I'd like to give it a shot, however I'm quite busy these days so cannot promise anything!

[2019-12-04 15:30] hoechenberger commented on #7112
Tagging @nandmone

[2019-12-04 15:36] hoechenberger commented on #7112
Yes this should be doable, only thing is that at least on macOS Docker needs to be explicitly granted privileges to create these directory mappings, so we'll have to see how that would work with temp dirs. Are the name and location of that temporary directory fixed?

[2019-12-04 15:51] larsoner commented on #7112
Generally they are random. We could make them fixed, but if it's the case that on OSX you need to grant on a dir-by-dir basis, we might want to force people on that platform to specify a scratch directory to use. Like:
[code]
If `work_dir` is unspecified (None), it will try to use a tempdir. This will fail on OSX but we can make the error informative. That way people on Linux and Windows don't hav

[2019-12-04 15:58] WilliamLabCea opened #7114 "Read montage from a .bvef file"
Hi,

I meet some difficulties when I want to load a .bvef (montage files with mne 0.19.2). With previous version of mne (0.18.2) I used 'mne.channels.read_montage' function to load .bvef

With the new function 'mne.channels.read_custom_montage'  mne report an value error:

`Montage_fname = "/MontageAntneuro2.bvef"
...Montage = mne.channels.read_custom_montage(Montage_fname, head_size=None, unit='a

[2019-12-04 16:03] larsoner commented on #7114
@WilliamLabCea can you upload the `.bvef` file somewhere so we can take a look?

[2019-12-04 16:15] hoechenberger commented on #7112
Ok I'll try to look into this, maybe this is also a non-issue with recent Docker releases, idk. Cannot remember the last time I had to manually grant access to anything on my Mac, but that sure used to be the case a year or two back.

[2019-12-04 16:17] hoechenberger commented on #7112
These are the directories that can be exposed from host to container by default on my Docker installation – I didn't add anything manually there:
<img width="612" alt="Screen Shot 2019-12-04 at 17 16 12" src="https://user-images.githubusercontent.com/2046265/70159833-d36b3200-16b9-11ea-888e-ee2fb2041207.png">

[2019-12-04 16:19] larsoner commented on #7112
`/tmp` is probably where tempdirs are created, so maybe we won't need to do anything special. Let's see if we can get it to work without needing to set a `work_dir` and if we need to add it later we can.

[2019-12-04 16:19] WilliamLabCea commented on #7114
here is the link for the .bvef file

https://drive.google.com/open?id=1aETFbIJKFnlkPJykF8jt_xCubKqFZneg

[2019-12-04 16:27] larsoner opened #7115 "ENH: Make calculate_chpi_positions public"
The only reason `mne.chpi._calculate_chpi_positions` is private is that nobody AFAIK has validated that it actually works at least as well as MaxFilter.

- @bloyl have you used `_calculate_chpi_positions` with the Artemis system?
- @AdoNunes you use it in #7096, have you used it much with CTF data?

I could make a push to validate it on some phantom Neuromag data here at UW. Assuming it looks okay

[2019-12-04 16:27] dengemann opened #7116 "BUG: printing the info on windows date time"
Yesterday, at the practical MEEG workshop, we made a striking discovery.

On several Windows computers, ```print(raw.info)``` led to an error pointing at a problem with the date fields. We used anonymized data, which may be at the core of the issue as dates and times may have been implausible.

I hope some of the attendees of our workshop can comment on this by providing a traceback of the error.

[2019-12-04 16:29] dengemann commented on #7116
Here's a screenshot (thank you Tal!):

![image-2](https://user-images.githubusercontent.com/1908618/70160899-84be9780-16bb-11ea-92d4-4a38d82916bb.png)

[2019-12-04 16:46] larsoner commented on #7116
What is the `info['meas_date']` here?

[2019-12-04 17:00] bloyl commented on #7115
for artemis I use
`mne.chi._fit_device_hpi_positions` and `mne.chi._fit_coil_order_dev_head_trans` regularly and am reasonably happy with them. I also don't have another option so when i'm unhappy with the results I generally blame my data quality.

I have tried to use `_calculate_chpi_positions` on artemis data to do motion artifact detection. This has ingeneral not be successful. I think because

[2019-12-04 17:15] larsoner commented on #7115
Do you have data I could test with? I could take a look at fixing these things.

Bonus points if you can do a quick ~10 sec recording of a head (can be foam) moving in some known directions (left-right, forward-back, up-down, rotations?).

Okay we should probably make this public then.

[2019-12-04 19:20] larsoner commented on #7114
@WilliamLabCea can you see if #7118 or #7119 fixes it for you?

[2019-12-04 19:20] #7088 closed

[2019-12-04 20:27] agramfort commented on #7114
@WilliamLabCea <https://github.com/WilliamLabCea> in what coordinate system
are these points? do you use these points as
channel locations for source imaging?

[2019-12-04 20:36] agramfort commented on #7116
1941-03-22 11:04:14 GMT

(-908196946, 988669)

[2019-12-04 20:53] hoechenberger commented on #7112
Todo (feel free to edit / add entries):

- [ ] create Docker image (or use existing one, if suitable)
- [ ] if we created a new image, publish it on Docker Hub
- [ ] add `MNE_FREESURFER_BACKEND` setting
  - [ ] `'docker'` will also require specification of FreeSurfer license file location, so I guess we'll have to go with the "`dict` approach" from the start
- [ ] add `freesurfer_backend` kwarg

I

[2019-12-04 20:56] hoechenberger commented on #7107
I've witnessed the same behavior on my Mac too using 0.19 and, I believe, `master`.

[2019-12-04 21:27] agramfort commented on #7112
thx @hoechenberger for looking into this.

another option for those on windows 10 is to use the ubuntu console builtin maybe? can neurodebian packages which offer freesurfer than be used on windows 10?

cc @yarikoptic

[2019-12-04 21:50] hoechenberger commented on #7112
That would be the WSL approach I mentioned :) would be interesting to know whether that might be a viable approach indeed!

[2019-12-04 23:54] yarikoptic commented on #7112
Fwiw Unfortunately we don't have freesurfer in NeuroDebian yet

[2019-12-05 00:07] yarikoptic commented on #7112
Fwiw a wild idea: some windows savvy user could come up with a collection of powershell scripts for each freesurfer command of interest, which would call out to dockerized freesurfer with all needed bind points and paths translations. This could be useful beyond mne-python, and would require no changes to it, just instructions to dump that set of scripts in the PATH.

[2019-12-05 09:04] agramfort commented on #7112
thanks an interesting idea @yarikoptic !

@buildqa can chat with FreeSurfer folks if they would consider this option to help windows users?

[2019-12-05 09:23] agramfort commented on #7107
I could not replicate.

can it be a pb with the fsaverage folder you have? in the first case
it's fsaverage and with full command line you use sample

$ python -c "import mne; mne.sys_info()"

Platform:      Darwin-18.7.0-x86_64-i386-64bit

Python:        3.7.5 (default, Oct 25 2019, 10:52:18)  [Clang 4.0.1
(tags/RELEASE_401/final)]

Executable:    /Users/alex/miniconda3/bin/python

CPU:

[2019-12-05 09:57] WilliamLabCea commented on #7114
It is a spherical coordinate system for EEG file. I use this file for channel location (no source imaging reconstruction)

[2019-12-05 11:26] RoopiniVenkat opened #7123 "Formatting Error:"
How to print Qobj elements (very low) without rounding off to zero ?
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
~/anaconda3/lib/python3.7/site-packages/IPython/core/formatters.py in __call__(self, obj)
    343             method = get_real_method(obj, self.print_method)
    344

[2019-12-05 14:06] larsoner commented on #7123
This does not seem to be a bug with `mne` but with `qutip`

[2019-12-05 14:06] #7123 closed

[2019-12-05 14:08] larsoner commented on #7107
I don't get the same problem, but I do get some wacky behaviors in terms of when distances are reloaded and so forth. I can look into this at some point. In the meantime use the workaround of closing and reloading directly with `mne coreg -s whoever -d subjects_dir_wherever`

[2019-12-05 14:29] #7101 closed

[2019-12-05 15:07] larsoner commented on #7116
This was actually fixed already in `master` by #7036

[2019-12-05 15:07] #7116 closed

[2019-12-05 21:16] agramfort commented on #7114
our other standard montages do not do the job for you?

[2019-12-06 10:23] WilliamLabCea commented on #7114
Unfortunately no, the cap is an waveguard64 and doesn't fit with biosemi64 montage

[2019-12-07 12:22] hekolk opened #7127 "xDAWN filters selected along incorrect axis."
It appears to me that there is a bug in the ``Xdawn`` code that incorrectly chooses filters. Filters should be in the rows of the corresponding array [0].
Specifically, in https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/xdawn.py#L477 filters and patterns are transposed. However, ``_fit_xdawn`` already correctly puts filters and patterns in rows of the array. https://github.co

[2019-12-08 12:41] agramfort commented on #7114
@WilliamLabCea this is now fixed in master and in the maint/0.19 branch. You appear in 0.19.3 is a few days

[2019-12-08 12:41] #7114 closed

[2019-12-09 16:08] hoechenberger commented on #7112
Quick update, I was busy last weekend finalizing a paper revision, and handed over my work computer to Apple support today (2018 MacBook Pro, guess what… keyboard issue). I _will_ work on this, but it might take another couple days or even a week until I will be getting to it.

[2019-12-10 05:33] buildqa commented on #7112
There is someone working at Corticometrics maintaining a docker image that can run Freesurfer on CentOS -  but one issue is that to run the Freeview GUI you need X forwarding which to my knowledge docker cannot do - and many people want to run fFeeview.  There has been some talk about re-writing freeview to work in a browser environment, but there is nothing official about this.   One thing we are

[2019-12-10 07:04] buildqa commented on #7112
Just as an aside - you can see what Apple would give you for a trade-in on your MacBook Pro here, https://www.apple.com/shop/trade-in   and select Mac.  If it's a 2018 model you might get enough back to make it worth while to buy the new 16" MacBook Pro which has returned to the scissors keyboard, with a real escape key.  I tried one at an Apple store and it has a better feel compared to the earli

[2019-12-10 14:39] agramfort commented on #7112
@buildqa MNE does not need freeview to work. MNE-Python calls freesurfer
commands from python system calls. If we have the FS commands working in
the path on windows without changing any python code it would be perfect.

[2019-12-10 20:18] jasmainak commented on #7112
We are running HNN with X-forwarding in docker, I'm surprised to learn that it does not work ...

[2019-12-11 10:58] pchholak opened #7134 "Cannot import write_raw_bids from mne_bids"
#### Describe the bug
When importing 'write_raw_bids' from 'mne_bids', Attribute Error is produced suggesting mne.io has no attribute 'read_raw_bdf'.

#### Steps to reproduce
[code]

#### Actual results
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-8-cb838460d511> in <module>

[2019-12-11 13:01] #7127 closed

[2019-12-11 14:20] agramfort commented on #7134
you must have an install problem.

how did you install mne and mne_bids? what versions are you using?

[2019-12-11 14:36] #3987 closed

[2019-12-11 14:36] #4880 closed

[2019-12-11 14:36] #5190 closed

[2019-12-11 14:36] #5471 closed

[2019-12-11 14:36] #6304 closed

[2019-12-11 14:44] pchholak commented on #7134
I installed using
[code]

MNE version is 0.19.2

[2019-12-11 14:53] agramfort commented on #7134
can you tell me what mne.sys_info() gives you?

[2019-12-11 14:54] pchholak commented on #7134
Platform:      Windows-10-10.0.18362-SP0
Python:        3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)]
Executable:    C:\Users\Usuario\Anaconda3\python.exe
CPU:           Intel64 Family 6 Model 158 Stepping 10, GenuineIntel: 12 cores
Memory:        31.9 GB

mne:           0.19.2
numpy:         1.16.1 {blas=C:\\projects\\numpy-wheels\\numpy\\build\\openblas, lapack=C:\\projects\

[2019-12-11 16:40] agramfort commented on #7134
can you try

from mne.io import read_raw_bdf

in a fresh terminal

[2019-12-11 17:03] pchholak commented on #7134
I tried importing read_raw_bdf from mne.io and it works fine.

[2019-12-11 17:06] pchholak commented on #7134
UPDATE: The entire issue is solved after restarting jupyter notebook.

[2019-12-11 17:09] #7134 closed

[2019-12-11 18:30] drammock opened #7136 "VIZ: bug in plot_sensors(kind='3d')"
#### Describe the bug
When plotting MEG and EEG sensors at the same time, the EEG and MEG sensors appear in the wrong position relative to one another.  Presumably this is an issue of which coordinate frame is chosen.  An example is [here](https://mne.tools/dev/auto_tutorials/epochs/plot_20_visualize_epochs.html#plotting-sensor-locations), where the EEG sensors are higher up than the MEG sensors (

[2019-12-11 23:46] agramfort commented on #7136
+1 with what @larsoner suggested.

[2019-12-12 01:42] larsoner commented on #7136
Transform overhead should be negligible.

I was actually starting to think the same thing. So I would say to always use head coords for now, and if people want MEG sensors in MEG coords we can add `coord_frame` later -- or just tell them to use `plot_alignment` which already has these transform options built in.

Agreed, feel free to add this at the same time as the coord frame changes

[2019-12-12 12:19] jessicaloke commented on #6383
Not sure if this was followed up - but instead of drop_epoch(indices) it should just be drop(idices). That's how it's defined in the original function.

[2019-12-13 13:48] yh-luo opened #7139 "FIX: Make make_watershed_bem write correct surfaces inside bem directory"
#### Describe the bug
`mne.bem.make_watershed_bem` incorrectly save surfaces to the current directory

#### Steps to reproduce
[code]

#### Expected results
[code]

#### Actual results
[code]

[code]
#### Problem

Since `mne.bem.make_watershed_bem` incorrectly write surfaces to the current directory, it cannot be executed unless the created surfaces were deleted.

Line 1163 in `bem.py` writes surf

[2019-12-13 14:43] agramfort commented on #7139
@yh-luo thanks for the detailed but report. Can you open a PR to fix this? thanks again

[2019-12-13 16:46] brovelli opened #7140 "CSD multitaper: should we keep single tapers ?"
Dear all,

I have a question regarding the computation of the CSD using multitapers.

The [def _csd_from_mt](https://github.com/mne-tools/mne-python/blob/20195a24481241ef38d854ed86dea0f68dcffd5b/mne/time_frequency/multitaper.py#L253) seems to return the average CSD across tapers.

However, as far as I understand the methods (see [Mitra and Pesaran, 2009](https://www.ncbi.nlm.nih.gov/pmc/articles/P

[2019-12-13 17:56] hekolk opened #7141 "Standard EEG positions outside of head"
#### Describe the bug
On the current master (i.e., after #7066) frontal EEG channels are drawn outside of the head in topoplots.

#### Steps to reproduce
The simplest variant is probably
``mne.viz.plot_montage(mne.channels.make_standard_montage('standard_1020'))``
Naturally it also occurs in ``plot_topomap`` and is particularly suboptimal for ``outline='head'`` and ``extrapolate='head'``.

#### Ex

[2019-12-13 18:20] agramfort commented on #7141
for @larsoner

[2019-12-13 19:00] larsoner commented on #7141
This is because we plot in head coordinates now, and when we change to head coords it shifts the positions. In theory if you shift the `sphere` center to the opposite of this shift, it should fix the problem.

It looks like T9/T10/ are not the same as LPA/RPA. And looking at the file:

https://github.com/mne-tools/mne-python/blob/master/mne/channels/data/montages/standard_1020.elc

The LPA is at -

[2019-12-13 19:11] larsoner commented on #7140
@wmvanvliet can you comment?

[2019-12-13 20:22] wmvanvliet commented on #7140
Sorry, I know nothing about multi-tapers. I always use wavelets to compute de CSD.

[2019-12-14 00:39] agramfort opened #7143 "BUG view param in brain plot with pyvista"
see
https://mne.tools/dev/auto_examples/inverse/plot_time_frequency_mixed_norm_inverse.html
vs
https://mne.tools/0.18/auto_examples/inverse/plot_time_frequency_mixed_norm_inverse.html

view medial parameter is ignored with pyvista backend.

cc @GuillaumeFavelier

[2019-12-15 05:41] #7136 closed

[2019-12-16 13:21] hekolk commented on #7141
So the values in ``standard_1020.elc`` seem to be identical to the "realistic" ones in Robert Oostenveld's blog (https://robertoostenveld.nl/electrode/) :

The coordinates can be found at: https://robertoostenveld.nl/electrodes/realistic_1005.txt
For the y coordinates, the absolute values of the maximum (``0.0845``, Nz) and minimum (``-0.113``, Iz) differ which might cause the problem if some norm

[2019-12-17 07:46] agramfort commented on #7141
how would you implement this and expose this to users?

[2019-12-17 12:22] #7139 closed

[2019-12-17 12:27] agramfort commented on #7140
the diag of the CSD matrix is the PSD. So averaging the CSDs is compatible with averaging of the PSDs as done with MT. Makes sense?

[2019-12-17 12:42] brovelli commented on #7140
Well, however, the CSD is complex-valued, whereas the PSD is not. So averaging the CSD across tapers and then take the power should be different from taking the PSD and then avereage the power.....

In practice, a colleague of mine has now tried the two approaches for the calculcation of source-power using DICS with multitapers and she finds practically identical (at the 10^-20 resolution).

So, t

[2019-12-17 14:34] agramfort commented on #7140
the diag is real valued:

In [13]: np.diag(csd_mt.get_data(index=0)).imag

Out[13]:

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,

       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,

       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,

       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,

       0.,

[2019-12-17 14:50] brovelli commented on #7140
Ahhh of course ! Super Alex ! Thanks

Could it still be an issue for the calculation of spectral coherence based on multitapers using mne.connectivity.spectral_connectivity since the off-diagonal terms are used ?

I guess that Denis and Martin have been checking this already...

[2019-12-17 14:59] agramfort commented on #7140
I think we are good as it is.

[2019-12-17 15:00] brovelli commented on #7140
Great! I think we can close this issue.

[2019-12-17 15:03] agramfort commented on #7140
please close

[2019-12-17 15:06] #7140 closed

[2019-12-18 01:06] sabu3 opened #7149 "How to export data in .set file"
I import .set file through mne.io.read_raw_eeglab function to modify some value in the imported data.
Then I want to export modified data in .set format to analyze data on EEGLAB.
But I cannot find the function to export data in .set format.
Please give me advises and comments.
It would be very helpful if I can get any suggestions.

[2019-12-18 06:58] cbrnr commented on #7149
Currently MNE doesn't have an option to export to .set. However, you could use [MNELAB](https://github.com/cbrnr/mnelab) (or copy the relevant code).

[2019-12-18 10:52] sabu3 commented on #7149
Thank you for your immediate reply.
I will try MNELAB to export to .set.

[2019-12-19 07:38] dalinzhangzdl opened #7152 "ICA algorithms problem"
Hi, I want to use the 'picard' ICA algorithms. but when I used it, the error "ModuleNotFoundError: No module named 'picard'" happened. How can I solve it?

#### Additional information
 "ModuleNotFoundError: No module named 'picard'"

[2019-12-19 09:57] cbrnr commented on #7152
You need to `pip install python-picard`.

[2019-12-19 10:37] agramfort commented on #7152
reopen issue if it does not work @dalinzhangzdl

[2019-12-19 10:37] #7152 closed

[2019-12-19 13:06] GuillaumeFavelier commented on #7143
It's fixed now. I'll close this.

[2019-12-19 13:06] #7143 closed

[2019-12-19 17:08] TariqCannonier opened #7154 "Issue with pick_types(emg=True)"
#### Describe the bug
We get an error of "No Data channels found"  when selecting emg channels with `picks=['emg']` in a dataset which contains only emg channels.

#### Steps to reproduce

together with @jasmainak and @simonatemereanca we wrote this script:
https://gist.github.com/TariqCannonier/0c708ae01268bfbb766bd320eac45035
to reproduce the bug.

#### Expected results
Should plot PSD for EMG c

[2019-12-20 14:03] agramfort commented on #7154
pb is in _set_psd_plot_params

we could change the logic there. After doing picks = _picks_to_idx(info,
picks)
we get all the types present in picks and work with these rather and
enforcing
some kind of data channel

wdyt?

[2019-12-20 14:07] larsoner commented on #7154
Sounds like the right thing to do

[2019-12-20 14:40] TariqCannonier commented on #7154
I also want to add that a similar issue exists when attempting to filter that EMG channel, although it does not result in an error.
[code]
Will output:
"No data channels found. The highpass and lowpass values in the measurement info will not be updated."

Seems like setting types EMG is not recognized as a data channel .

[2019-12-20 14:45] agramfort commented on #7154
2 ways out here:

- make emg a data channel which therefore will appear in all plots
when we set picks=None
- fix the logic if these functions as I agree it should work

[2019-12-20 14:47] larsoner commented on #7154
Does it actually filter the channel? It should. The message is meant to be only about whether or not the `info` fields get updated, not whether or not your `picks` actually get filtered.

[2019-12-20 15:58] TariqCannonier commented on #7154
It did filter. I thought the message was an error that the channel could not be filtered, even though my data was.  I was a quite confused.

[2019-12-20 19:26] jasmainak commented on #7154
I want to add here that the notion of "data channels" is not clarified in the docs. I think we should just say "EEG and MEG channels". Probably could be fixed as part of the same PR.

[2019-12-20 19:38] larsoner commented on #7154
The problem is that it's not just M/EEG, but also (at least) sEEG, ECoG, and fNIRS. So I'd rather say in the docs (maybe glossary?) what "data channels" are, that way if we add a new "data channel" we have fewer places that need updating.

[2019-12-25 03:43] barisakin98 commented on #2672
Hi,
I am working on a .fdt file. While ı am trying to read it with python scipy-loadmat, I am taking this error:
ValueError: Unknown mat file type, version 147, 65

what should I do in this situation, thanks for your helps!

[2019-12-25 04:30] jasmainak commented on #2672
Can you please provide the full traceback? Also for questions, the right place to ask is the mailing list. You should post on github only if you are reasonably sure you have a bug

[2019-12-25 09:55] agramfort commented on #2672
Fdt is not matlab file. It’s a companion file to a .set file that is actually a .mat file

[2019-12-26 11:30] Charlesi8 opened #7159 "Compute all-to-all connectivity in sensor space issue"
hi,
 i just ran the Compute all-to-all connectivity in sensor space .py but here came a ValueError :'zero-size array to reduction operation maximum which has no identity'  . I cannot fix it ,so could someone help me please.
![image](https://user-images.githubusercontent.com/21119592/71474337-f2229b80-2815-11ea-93c1-d8cfb2a37c73.png)

[2019-12-26 11:32] agramfort commented on #7159
is it running just the example script online or using your own data?

[2019-12-26 11:35] Charlesi8 commented on #7159
i downloaded the example script without amendment then ran.

[2019-12-26 12:18] agramfort commented on #7159
I don't have the problem. Can you say what

mne.sys_info()

gives you?

[2019-12-27 03:38] lxdfrank opened #7161 "AttributeError: 'Figure' object has no attribute 'lasso'"
**READ THIS FIRST:** When I run the plot_40_sensor_locations.py, a question of no attribute 'lasso' is appearing. and how to solve it

[2019-12-27 06:37] Charlesi8 commented on #7159
<img width="796" alt="无标题" src="https://user-images.githubusercontent.com/21119592/71504951-55fca100-28b6-11ea-8d9e-4bb447c2c37e.png">

[2019-12-27 07:26] agramfort commented on #7161
is it an error or a warning?

matplotlib backend are you using? can you report what mne.sys_info()
outputs?

[2019-12-27 07:31] agramfort commented on #7159
sorry I cannot replicate. Can you ask a friend to replicate with his
machine? or maybe can
you try on a different machine?

[2019-12-27 07:46] lxdfrank commented on #7161
![捕获](https://user-images.githubusercontent.com/20570845/71507541-d70c6600-28bf-11ea-921a-db5d4460e632.JPG)
This is the error result。 The Figure object has no attribute lasso

[2019-12-27 07:47] lxdfrank commented on #7161
![捕获](https://user-images.githubusercontent.com/20570845/71507616-176be400-28c0-11ea-95ee-5685722125c6.JPG)
This is the error result。 The Figure object has no attribute lasso

[2019-12-27 09:40] agramfort commented on #7161
can you make sure you use qt matplotlib backend and that you have a recent
matplotlib version?

[2019-12-27 09:41] Charlesi8 commented on #7159
ok, thanks for your advice , and i am thinking to run on another machine.

[2019-12-27 09:46] lxdfrank commented on #7161
the version of matplotlib is 3.1.1

[2019-12-27 11:06] agramfort commented on #7161
what does mne.sys_info() give you?

I suspect it comes from a weird choice of matplotlib backend

[2019-12-27 11:15] lxdfrank commented on #7161
![捕获](https://user-images.githubusercontent.com/20570845/71515215-20b77980-28dd-11ea-92b7-dd0a4b423fa4.JPG)
and how to modify

[2019-12-27 11:27] agramfort commented on #7161
can you start ipython and from there run

%run plot_40_sensor_locations.py

this will run the example in interactive mode.

[2019-12-28 09:45] GuillaumeFavelier opened #7162 "ENH: New interface for Brain"
⚠️ **Requires `pyvista>=0.24`** ⚠️

This PR summarizes the ideas to implement in `Brain`, previously called `_TimeViewer` (suggested in https://github.com/mne-tools/mne-python/pull/7153#issuecomment-569378110):

<details>
<summary><b>Milestone 0.20</b></summary>

- [x] Get it working for VectorSourceEstimates (added in #7060)
- [x] Improve the [color cycle of point picking to allow point color re-

[2019-12-28 10:49] agramfort commented on #6973
anything to do here? close? update doc?

[2019-12-28 11:41] agramfort commented on #6968
should be fixed in https://github.com/mne-tools/mne-python/pull/7163

[2019-12-28 11:41] #7149 closed

[2019-12-28 11:56] agramfort commented on #7037
we have now raw.set_meas_date and epochs.set_meas_date closing.

[2019-12-28 11:56] #7037 closed

[2019-12-28 11:59] agramfort commented on #7052
this is now done too.

[2019-12-28 11:59] #7052 closed

[2019-12-28 12:19] agramfort commented on #6707
I think this is done now.

[2019-12-28 12:19] #6707 closed

[2019-12-28 12:21] #6795 closed

[2019-12-28 12:22] #6833 closed

[2019-12-28 12:24] #6839 closed

[2019-12-28 12:25] agramfort commented on #6610
@mmagnuski do you still plan to look into this?

[2019-12-28 12:26] #6411 closed

[2019-12-28 12:33] agramfort commented on #6250
see https://github.com/mne-tools/mne-python/pull/7164

[2019-12-28 12:53] agramfort commented on #6481
see https://github.com/mne-tools/mne-python/pull/7165

[2019-12-28 13:03] agramfort commented on #6125
@nbara still willing to look into this?

[2019-12-28 13:04] agramfort commented on #5997
this has now been fixed.

[2019-12-28 13:04] #5997 closed

[2019-12-28 13:05] #5918 closed

[2019-12-28 13:06] agramfort commented on #5880
@britta-wstnr @larsoner has this been addressed already? I have the feeling that maybe...

[2019-12-28 13:07] agramfort commented on #5879
to close @larsoner ?

[2019-12-28 21:52] jasmainak commented on #6973
let's close. I don't see a big push for this at the moment

[2019-12-28 21:52] #6973 closed

[2019-12-28 22:24] larsoner commented on #5879
We still haven't dealt with the XXX's having to do with tolerance levels, but we can close and get to it someday if we need to

[2019-12-28 22:24] #5879 closed

[2019-12-29 07:28] #6968 closed

[2019-12-29 23:50] mmagnuski commented on #6610
Yes, sorry, I completely forgot. But I won't be able to do it this year. I can get to it on Friday, though.

[2019-12-30 06:39] agramfort commented on #6610
Whenever you can is good. Thx

[2019-12-30 10:11] nbara commented on #6125
Sure, I was just waiting for confirmation from you. I'll put up a PR next week.

[2019-12-30 14:45] Mrswolf opened #7169 "BUG:mne.create_info function mismatch channel names with DigMontage"
#### Describe the bug
In 0.19.2, **mne.channels.read_montage** has been replaced by **mne.channels.make_standard_montage**, which returns a **DigMontage** object.

However, **mne.create_info** with **DigMontage** can not match channel names in a case insensitive manner.

#### Steps to reproduce
[code]

#### Actual results
[code]

[2019-12-31 04:11] DominiqueMakowski opened #7170 "Power line noise filtering - spectrum interpolation and zapline"
Two "new" methods have been recently published that are supposedly superior to notch filtering for power line noise removal.

- spectrum interpolation, implemented in [fieldtrip](https://github.com/fieldtrip/fieldtrip/blob/master/preproc/ft_preproc_dftfilter.m#L147), seems to have a rather straightforward definition.
- [ZapLine](http://audition.ens.fr/adc/NoiseTools/src/NoiseTools/doc/NoiseTools/n

[2019-12-31 05:28] larsoner commented on #7169
It seems reasonable to me to make the name comparisons case insensitive. Okay with you @agramfort ?

[2019-12-31 16:14] agramfort commented on #7169
We doing the API change as mne requires unique channel names in case sensitive manner it was decided that case match should be enforced to avoid bugs. Maybe a param to set_montage could be added though. Something like match_case or something

[2020-01-03 06:39] TanTingyi commented on #7169
I meet the same bug.
Channel naming rules are not uniform.
Such as standard_1005:   Fp1 & CP1.

[2020-01-04 14:38] agramfort commented on #7169
you mean our default standard montage are not uniformly named?

maybe a parameter in set_montage is the way.

[2020-01-05 14:45] agramfort commented on #6834
can we close this? if not what do you suggest @larsoner ?

[2020-01-05 14:46] agramfort commented on #6837
agreed. We should have a warning and update the sample dataset.

[2020-01-05 15:54] larsoner commented on #6834
I think we need to decide how to handle this. At the very least, MNE-C deleting the file is problematic

[2020-01-05 15:56] agramfort commented on #6834
this means changing mne-c code and nobody will update its version... it's
also now safe maybe to
think that mne python users don't use the C code anymore?

[2020-01-05 16:01] larsoner commented on #6834
Okay let's close then

[2020-01-05 16:01] #6834 closed

[2020-01-05 18:07] #6481 closed

[2020-01-06 01:46] TanTingyi commented on #7169
There isn't a 'set_montage' method for mne.create_info.
When I only need info instance what can i do?

[2020-01-06 03:54] Mrswolf commented on #7169
@TanTingyi  larsoner has already added match_case keyword to _set_montage, which is called by set_montage and create_info. Although we can not directly use match_case in create_info, now we can create raw object as follows:
[code]

@larsoner  Would you mind adding match_case option to create_info function in your PR?

[2020-01-06 11:49] nbara commented on #7170
Hi Dominique,

I've implemented ZapLine into my [MEEGkit](https://github.com/nbara/python-meegkit) toolbox for python :

https://github.com/nbara/python-meegkit/blob/master/meegkit/dss.py#L126

Let me know if you have any comments or need some help with it.

[2020-01-06 13:40] #5816 closed

[2020-01-06 13:41] #6250 closed

[2020-01-06 13:51] agramfort commented on #7170
@nbara do you have rendered doc of this package? I discover it now...
should we mutualize a bit the efforts between this code and
mne/preprocessing ?
do you have examples using real data? why not using sphinx-gallery for the
examples?

[2020-01-06 13:59] #7169 closed

[2020-01-06 14:02] agramfort commented on #7169
PR from @larsoner is now merged. I guess this one can now be closed.

[2020-01-06 14:31] larsoner commented on #7169
Agreed. I'd prefer to deprecate the `montage` argument in `create_info` rather than add new montage-related `kwargs` to it. Then `set_montage` would be the one place to go for this functionality.

[2020-01-06 14:56] larsoner commented on #6837
FYI I just tried recreating the source space with MNE-C and it looks like it does not actually write `subject_his_id` for volume source spaces. I'll set it manually, save the file, and update the dataset. (Our Python `setup_volume_source_space` does set `subject_his_id` properly.)

[2020-01-06 16:13] agramfort commented on #7169
sounds good to me

[2020-01-07 00:44] drammock opened #7179 "DOC: epochs.to_data_frame doc error"
#### Describe the bug
Docs say that the `index` parameter should be `None` or a tuple of strings. Passing tuples yields a `KeyError`, but passing a list works as intended.

#### Steps to reproduce
with any epochs object:
[code]

#### Expected results
A pandas dataframe with MultiIndex levels "time" and "condition" and a column for epoch number.

#### Actual results
<details>
----------------------

[2020-01-07 09:11] #6837 closed

[2020-01-07 09:23] nbara commented on #7170
@agramfort

I've never taken the time to properly set up sphinx-gallery, or upload the doc to readthedocs...

Well the reasons I created the package alone in the first place were a) as an practical exercice to learn python b) because the DSS code had been stuck in MNE-sandbox for several years, so I assumed there was no interest.

There are actually quite a lot of things on MEEGkit that could be i

[2020-01-07 20:42] drammock commented on #7179
The problem is deeper than I realized.  Passing `epochs.to_data_frame(index=None)` is supposed to return a dataframe with one column for each channel, plus 3 additional columns (time, condition, and epoch number), and (presumably) a (useless) sequential integer index.  Instead, passing `index=None` appears to yield identical results to `index=['condition', 'epoch', 'time']` --- a dataframe with a

[2020-01-08 09:31] agramfort commented on #7170
sphinx-gallery and read the docs is not necessarily easy to work together

having circle ci be able to push to the gh-pages branch is easier.

let us know if we can help

reading https://github.com/mne-tools/mne-python/issues/2112 again I see
that the conclusion
when looking at empirical data was not super clear. If we stick to the rule
that code should
enter mne when it comes with a convincing ex

[2020-01-08 10:32] nbara commented on #7170
That issue you refer to mostly deals with this SSS method (not familiar with it), and AFAICT @kingjr wasn't able to get the TSPCA code to run ?

Either way, regarding TSCPA, I don't use it at all as I don't do MEG anymore.

On the other hand I think DSS is super versatile (can be used to remove line noise / ZapLine, enhance evoked activity, maximise difference between two experimental conditions,

[2020-01-08 13:15] larsoner commented on #7170
Agreed, the first 2-4 seem reasonable to me.

It looks like my PR was for tsDSS, do we need that or just plain DSS? In any case, want to make a PR to add DSS to start or, if you're not sure about API, open an issue for API discussion for it?

[2020-01-08 13:45] nbara commented on #7170
just plain DSS.

In terms of API, I think it would make sense to have a base DSS estimator, and children classes like:

[code]

? And yes we can open an issue to discuss API.

Robust detrending is a separate issue IMO.

[2020-01-08 14:11] larsoner commented on #7170
Your plan sounds good, except that:

- I wouldn't separate `tsDSS` from `DSS` since the latter is just a case of the former. Since the more common name is `DSS` I would probably call the class `DSS`.
- Instead of having one that works on plain covariances I would just go to Epochs. For example that is how XDawn works

Want to take my code (or yours if it's better) from #30 and give it a shot?

As

[2020-01-08 14:35] nbara commented on #7170
Sure that's fine.

Well in principle DSS doesn't *have* to be used on epoched data... It depends on your objective function.

For me the most basic use of DSS (and one that makes it really versatile) is to provide a base covariance (`c0` in the original paper nomenclature), as well as a biased covariance `c1`.

`c1` can be anything, and we can't provide an estimator that takes data in the temporal

[2020-01-08 14:46] larsoner commented on #7170
How about the c0 gets passed to the constructor, and you pass c1 to the `fit` method then? And `apply` operates on instances like Raw / Evoked / Epochs?
[code]
?

[2020-01-08 17:24] agramfort commented on #7170
I would start by robust detrending as I think this can be well illustrated
with examples.

If I can suggest something it is to aim for small incremental
contributions. Nothing too big in one go.

[2020-01-09 08:44] nbara commented on #7170
Why would you provide c0 in the constructor ? It's a bit weird no? I would provide c0 and c1 in `fit(X=c0, y=c1)` ...

with examples. If I can suggest something it is to aim for small incremental
contributions. Nothing too big in one go.

Yes I agree. I will try to put up a PR for robust detrending soon.

[2020-01-09 10:56] DominiqueMakowski commented on #7170
I'm glad I could connect you guys ☺️ really looking forward to using these new methods!

[2020-01-10 08:59] cbrnr opened #7189 "Error when reading BDF file with multiple annotation channels"
As reported on the mailing list, [this file](https://drive.google.com/file/d/1GP5FT84sabMCGBRY4oXikcxGf-kKIoa0/view?usp=sharing) cannot be read and throws the following error:

[code]

It seems like this is because the file contains 15 annotation channels (indices 19-33) and the code can only handle one at the moment.

I'll look into it.

[2020-01-10 20:30] Davi1990 opened #7192 "mne.io.read_epochs_eeglab inconsistent behaviour"
Dear MNE expert,

I have run mne.io.read_epochs_eeglab and everything went smoothly with the majority of my data sample. However, for some of them I got the following error:

[Errno 2] No such file or directory: path/to/file.fdt

Apparently for some reason it doesn't see the file that it is of course in the same path.

Do you have any tips?

Thanks

Dave

[2020-01-10 20:56] drammock commented on #7192
If you've copied the error exactly, then it means that Python is looking for a file called `file.fdt` in a location `./path/to/` (relative to the current working directory where Python was started).  That folder location is almost certainly not correct, and probably reflects some example code that you copy-pasted and forgot to comment out or remove from your script.

If that error message was just

[2020-01-10 21:03] Davi1990 commented on #7192
Dear Daniel,

thanks for your reply.

I double checked thousands times and the file is in the corresponding folder. All other files are in the same folder and the problem as I said is for only few subjects.

Anyway I checked it out another time...I have run the `os.listdir()` and the file is in there.

Any other suggestions? Shall I share both files?

Thanks

[2020-01-10 21:28] drammock commented on #7192
if the error is "no such file or directory" then sharing the file itself won't help.  Can you edit lines 3 and 4 below, then run this and tell us the output?

[code]

[2020-01-10 21:36] Davi1990 commented on #7192
I've run the command.
This is the error I got

TypeError: Expecting miMATRIX type here, got 4002551232

I haven't shared the ouput of `print(os.listdir(folder_where_files_are))` because I have a lot of files in that folder and It would be unreadable. However I can assure you that the file is in there.

Thanks

[2020-01-10 21:40] drammock commented on #7192
that is a different error from "no such file or directory". Anyway if you don't paste the full output (traceback, etc) there's little I can do to help.

[2020-01-10 21:48] Davi1990 commented on #7192
`import os
import mne
folder_where_files_are = os.path.join('/Volumes/WD_Elements/BROAD/EEG/M1_IPL/Recep/M1_IPL/Visit_1/M1')
full_file_path = os.path.join(folder_where_files_are, '80LP_V1_SP_M1_S10_Final.fdt')
print(os.getcwd())`

/Volumes/WD_Elements/BROAD/EEG/M1_IPL/Recep/M1_IPL/Visit_1/M1

`print(os.listdir(folder_where_files_are))`

['78TW_V1_150SP_M1_S10_Final.fdt', '._78TW_V1_150SP_M1_S10_Fi

[2020-01-10 21:57] drammock commented on #7192
OK, thanks.  Sorry, but we had to rule out user error first.  But it seems this might be a bug.  I don't normally work with EEGLAB files so I'm pinging the other devs on [our gitter channel](https://gitter.im/mne-tools/mne-python) to see if one of them has seen this before.

[2020-01-11 09:46] agramfort commented on #7192
please a short script and the files that are problematic so we can
investigate

[2020-01-11 13:14] Davi1990 commented on #7192
Dear Alex,

please find below the link to download both the .fdt and .set file.

https://www.dropbox.com/s/0n8zs7t5gobldwu/80LP_V1_SP_M1_S10_Final.fdt?dl=0

https://www.dropbox.com/s/j5kbbyiecrju8rj/80LP_V1_SP_M1_S10_Final.set?dl=0

The files correspond to one among the problematic subjects and it is the same of the previous messages.

Thanks

[2020-01-11 13:15] mmagnuski commented on #7192
@Davi1990 I'm looking into the files now, I will let you know what I find.

[2020-01-11 13:28] mmagnuski commented on #7192
@Davi1990 @agramfort @drammock
Ok, the error is related to the `EEG.data` value, which is different to the file name. Notice that the error says:
[code]
while the file name in the directory is `80LP_V1_SP_M1_S10_Final.fdt` (so there is `80LP`, not `80_LP` at the beginning).
There are two quick solutions on your end:
* you can change the file name to agree with the `EEG.data` value
* or you can edi

[2020-01-11 16:48] Davi1990 commented on #7192
@mmagnuski thanks for your update. I've changed the name in MATLAB so that now everything match. Of course, now I was able to run ` mne.io.read_epochs_eeglab`with no issue.

I am analyzing the same dataset in MATLAB for some convolutional stuffs but I've never faced this problem before.

Thanks again for your help...really appreciate that!

[2020-01-11 16:49] agramfort commented on #7192
I  confirm that EEGLAB can read these files but raises a warning:

Warning: the name of the dataset has changed on disk, updating .dat & .fdt
data file to the new name
Reading float file '/Users/alex/Downloads/80LP_V1_SP_M1_S10_Final.fdt'...

+1 for this the behavior of MNE to match eeglab

[2020-01-11 18:56] mmagnuski commented on #7192
Ok, I started doing that, I'll submit a PR later.

[2020-01-12 00:20] #7189 closed

[2020-01-12 10:33] hoechenberger commented on #7112
@larsoner I started working on this and I'm wondering how to deal with `FREESURFER_HOME`
when using the docker backend. Would it even make sense to let users specify a `FREESURFER_HOME` that's different from what's shipping with the docker container? As in, allow users to use the docker backend, but have `FREESURFER_HOME` point to a local directory on the host.

If the answer is "no", I wonder if

[2020-01-12 11:05] hoechenberger opened #7195 "bem._prepare_env()'s `requires_freesurfer` argument"
Commit https://github.com/mne-tools/mne-python/commit/799c2ecb74604ad0ab432b6cee5739dca5c85ca6 removed the use of the `requires_freesurfer` parameter inside `bem._prepare_env()`; yet, it's still a required argument of the function itself. I wonder if that was intentional (if so, what was the reasoning?) or @larsoner just overlooked something there?

[2020-01-12 11:25] agramfort commented on #7195
maybe it's required by the public function calling this private one so it
was redundant?

[2020-01-12 15:45] larsoner commented on #7112
That sounds reasonable to me. I still like the idea of having `MNE_FREESURFER_BACKEND` as the config var to control how we call freesurfer. And when it's `docker` or whatever, we can ignore the user's choice of `FREESURFER_HOME` since we know what it needs to be to use that backend.

[2020-01-12 15:47] larsoner commented on #7195
It looks like `require_freesurfer=True` is always set. I probably meant to remove it in the function and in the calls to the function but forgot.

[2020-01-12 15:56] hoechenberger commented on #7195
I can probably it in #7196 too

[2020-01-13 03:11] #7195 closed

[2020-01-13 16:59] palday opened #7203 "IRASA method"
Quoting from the [FieldTrip website](http://www.fieldtriptoolbox.org/example/irasa/)

The [math on this doesn't appear too bad]( https://doi.org/10.1007/s10548-015-0448-0), but figuring out an appropriate interface might be a little bit more complicated, including what to return and which classes to have this as a method.

[2020-01-13 20:54] DarrenRhodes opened #7204 "Plotting/Visualisation Issue with Montage/MNE"
Dear MNE team

Forgive me first for being a GutHub newbie and an MNE newbie.

I have managed to load in and work with some Biosemi128 data. However I am running into some issue regarding visualizing some of the output.

I have defined the montage as:

(I understand I need to update the variable name).

However, when it comes to plotting down the pipeline, I have done this:

(Stim3 is just a condit

[2020-01-13 21:00] agramfort commented on #7204
can you try to make this electrodes as MISC and not EEG with
https://mne.tools/dev/generated/mne.io.Raw.html#mne.io.Raw.set_channel_types
 ?

[2020-01-13 21:13] DarrenRhodes commented on #7204
Yep, works perfect! Brilliant. Thank you so much.

[2020-01-13 21:19] larsoner commented on #7204
@DarrenRhodes do you want to make a PR to improve the error message here to suggest using `inst.set_channel_types` if the channels are not M/EEG channels?

https://github.com/mne-tools/mne-python/blob/master/mne/channels/layout.py#L712-L714

[2020-01-13 21:19] #7204 closed

[2020-01-13 21:33] buildqa commented on #7112
There are various freesurrer commands/C files that expect to do a getenv("FREESURFER_HOME") and will error out if it is not defined.   Many users define FREESURFER_HOME in their shell init file (and then use that to set SUBJECTS_DIR = $FREESURFER_HOME/subjects and put $FREESURFER_HOME/bin in their PATH). One of our dev partners has used the freesurfer dev CentOS rpm to setup their docker container

[2020-01-13 21:37] hoechenberger commented on #7112
Thanks for your help, @buildqa! I already have a working Docker image (slightly modified the one officially supplied by FreeSurfer), so no need for any packaging required at this time. Regarding the FREESURFER_HOME variable, of course I would always set it inside the Docker container; my question was just how to treat the variable set on the _host_ computer :) Currently I‘m just following @larsone

[2020-01-13 23:00] raphaelvallat commented on #7203
In case that's helpful, I've implemented IRASA (as a function) here:
https://github.com/raphaelvallat/yasa/blob/200659872405fcc7d5477fd1069e328a372d3e9b/yasa/spectral.py#L229

[2020-01-14 04:29] buildqa commented on #7112
Just FYI, so far the RPM's/linux installers put the distribution under the /usr/local/freesurfer path that has been used in the past with release 6 - with the added distinction that there will be a rev number, e.g., /usr/local/freesurfer/7.0.0 and for the Mac installer /Applications/freesurfer/7.0.0.  Once FREESURFER_HOME and SUBJECTS_DIR are set, then most people source $FREESURFER_HOME/SetUpFree

[2020-01-14 10:15] palday commented on #7203
That's quite helpful! Especially since it's already licensed under 3 clause BSD.

[2020-01-14 17:03] larsoner commented on #7203
I guess this would be an `mne.preprocessing` method?

@palday do you want to try the method out using @raphaelvallat's code first?

[2020-01-14 17:13] palday commented on #7203
That's the plan, but it definitely won't happen this week and probably not next....

[2020-01-14 19:11] hyruuk opened #7208 "mne.read_events can't read events from MNE-BIDS events file"
Hi !

I converted my data to BIDS format from the CTF MEG format (.ds) using MNE-BIDS. That created a set of files including {BIDS-structure}_events.tsv files for each recording. I now want to load the events into an MNE events array. However, the mne.read_events() function doesn't seem to work on these files. When called, it returns the following error :

[code]

I assume it's because of the head

[2020-01-14 21:08] pettetmw opened #7209 "plot_epochs_image fails to create new figure when called a second time"
**Issue can be reproduced as follows:**

[code]
**issue can be worked around with:**

[code]
_Thanks to Eric Larson for devising reproduction and workaround_

[2020-01-15 02:58] adam2392 opened #7210 "Subject Info Should Have Age In Addition to Birthday?"
#### Describe the problem
In `subject_info` of the ``Info`` data structure, there is a birthday for a subject, but generally birth dates are anonymized because it is more identifiable. Would it be better to have an "age" identifier instead?

#### Describe your solution
Either replace "birthdate", or add "age".

[2020-01-15 07:57] agramfort commented on #7210
the recommended way to anonymize is to shift by a random duration all dates
in a file. This is what current master code does so I think we are good
already.

[2020-01-15 08:05] agramfort commented on #7208
mne.read_events is to read MNE events which are fif files or basic txt
files and not BIDS tsv files which were standardized years after MNE
formats.

for reading bids data use mne-bids

[2020-01-15 08:17] #7208 closed

[2020-01-15 14:16] #7192 closed

[2020-01-15 15:26] adam2392 commented on #7210
Sounds good! I will close this then.

[2020-01-15 15:26] #7210 closed

[2020-01-15 15:33] nbara commented on #6125
closed via #7171

[2020-01-15 15:33] #6125 closed

[2020-01-15 15:34] adam2392 opened #7213 "BUG: Viz Topomap Produces ValueError Always Due to Cardinal Dig"
## Describe the bug

In `mne.viz.topomap(data, info)`, I get an error in the latest version:

[code]

#### Steps to reproduce
If I run the following code:

[code]

You'll notice that we have extra DigPoints.

#### Expected results
It should work as before (I think ~v0.19?) where it just plotted the topomap as long as the data shape matched.

If you use `mne.viz.plot_sensors`, it works as expected

[2020-01-15 16:05] larsoner commented on #7213
@adam2392 this is not enough for us to reproduce the bug locally. Can you include an example that we can copy-paste to see it locally? For example you can create a dummy `Raw` with something like:
[code]
This does not crash. Can you adapt it to your use case so that it does?

Alternatively you can upload the raw data somewhere and give us a link.

[2020-01-15 17:51] #7209 closed

[2020-01-15 19:06] adam2392 commented on #7213
Ah okay, so the issue arises only when there is a channel marked in the `bads` list. If you have 20 EEG channels total, and one is marked in the `bads` list, and you pass in a vector 20x1, then it breaks.

I suppose in a way this would "be expected", but would it be beneficial to make the error possibly more informative?

[2020-01-15 19:08] larsoner commented on #7213
I'm not quite following. Can you modify my code snippet above to produce the breaking behavior? That will help me understand where you're hitting the error and what the situation is (where bads come in, data sizes, channels, etc.).

[2020-01-15 21:46] mmagnuski commented on #7213
@adam2392 - you are correct, @larsoner see the snippet below:
[code]

I'm not sure whether this should be expected. It is kind of surprising, but its not unreasonable. I don't have a strong opinion here.

[2020-01-16 06:05] zuxfoucault opened #7216 "Default brainmask value in mne.bem.make_watershed_bem would incur an error by Freesurfer(dev) mri_watershed"
#### Describe the bug
Default brainmask value in `mne.bem.make_watershed_bem` would incur an error by Freesurfer (dev a76846c, latest atm) `mri_watershed`

https://github.com/mne-tools/mne-python/blob/maint/0.19/mne/bem.py#L1036

******************************
Saving /home/foucault/data/derivatives/freesurfer/sub-103/bem/watershed/ws
error: unknown file type for file (/home/foucault/data/derivativ

[2020-01-16 08:39] agramfort commented on #7216
what is the fix?

[2020-01-16 09:11] lkorczowski opened #7217 "Website documentation link broken in /stable/"
Hi,

It has been several weeks that the online documentation links are broken in the /stable/.

e.g.
https://mne.tools/stable/manual/cookbook.html

Unfortunately, from google, all links are pointing to the /stable/ documentation, meaning most of the links from google will be a dead end.

Thanks for the help

[2020-01-16 09:40] zuxfoucault commented on #7216
Replace the default value `brainmask='ws'` with `brainmask='brainmask.mgz'`?

Based on the documentation: https://github.com/mne-tools/mne-python/blame/master/doc/_includes/bem_model.rst#L42
I guess the original design intended to set `ws` as a folder name, but `ws` here is just a file name. Perhaps, a structure like `bem/watershed/brainmask.mgz` would be satisfied?

The output folder structure af

[2020-01-16 10:17] agramfort commented on #7217
this is the new link:

https://mne.tools/stable/overview/cookbook.html

we need to wait for google indexing update

[2020-01-16 11:09] lkorczowski commented on #7217
OK then, if it is out of our hands, I'm closing this issue. Thanks

[2020-01-16 11:09] #7217 closed

[2020-01-16 14:58] larsoner commented on #7213
Thanks for the reproducible example, @mmagnuski @adam2392 see #7220

[2020-01-16 15:13] larsoner commented on #7216
That sounds reasonable to me

[2020-01-16 15:26] christian-oreilly opened #7221 "Orientation in plot_bem"
#### Describe the bug
Two things. The first one is more of a feature request: It might be nice to have an optional mri arguments to mne.viz.plot_bem to explicitly pass the location of the MRI file to use in mne.viz.plot_bem.

Second, in the current code of MNE, the orientation argument of mne.viz.plot_bem only produce correct visualization when the MRI volumes are in the "conform" space (e.g, runn

[2020-01-16 15:26] christian-oreilly commented on #7221
@larsoner As discussed on the mailing list.

[2020-01-16 15:44] larsoner commented on #7221
The easiest (well, simplest?) fix is to use [nib.io_orientation](https://nipy.org/nibabel/reference/nibabel.orientations.html#nibabel.orientations.io_orientation) or [nib.aff2axcodes](https://nipy.org/nibabel/reference/nibabel.orientations.html#nibabel.orientations.aff2axcodes) to "just" modify our MRI slicing and create the appropriate reordering/negation affine and apply it to the surface `rr` v

[2020-01-17 05:21] zuxfoucault commented on #7216
In the latest master (01b90ce), I couldn't see the stdout. How to make stdout and stderr printed?
The parameters and function called:
`mne.bem.make_watershed_bem(subject, subjects_dir=SUBJECTS_DIR, overwrite=True, brainmask='ws.mgz', verbose='debug')`

[2020-01-17 05:26] larsoner commented on #7216
`verbose=True` and especially `verbose='debug'` should probably be enough to see the output printed. Might be a bug in `master` somewhere. But in the meantime just for testing you should be able to hack any `run_subprocess` calls to do:
[code]
or so.

[2020-01-17 05:39] zuxfoucault commented on #7216
It's wrapped by partial, uh, how to print it?
[code]
I also tried `print(run_subprocess_env)`, nothing showed.

[2020-01-17 09:07] britta-wstnr opened #7225 "Beamformer: Selection of orientation that optimizes output power."
I am sitting with @wmvanvliet and @ckiefer0 and we noticed that there are two points in the beamformer code where we compute the optimal orientation `pick_ori='max-power'` and that those two snippets do not give the same weights if copied into the same place.
Specifically, the optimal orientation gets computed differently based on whether `weight_norm='unit-noise-gain'` or `weight_norm=None`.
@wmv

[2020-01-17 10:42] agramfort commented on #7225
sounds good. A simulation tells you what version is correct. thanks for
looking into it

[2020-01-17 13:55] britta-wstnr commented on #7225
@agramfort simulation results are underway, Marijn is onto it!

[2020-01-17 14:06] larsoner commented on #7225
Awesome @britta-wstnr . Do you have time to also look at #7168 while you're at it?

[2020-01-17 14:17] britta-wstnr commented on #7225
@larsoner oh I missed that one, apologies. I will look at it!

[2020-01-17 21:14] larsoner opened #7228 "BUG: Bug with multi-view screen capture"
See this example that uses `hemi='split'`, all captured PyVista images are duplicated:

https://mne.tools/dev/auto_examples/visualization/plot_publication_figure.html#sphx-glr-auto-examples-visualization-plot-publication-figure-py

Moreover, once `brain.close()` is called, it should make sure no figures are generated (as they have been closed for that snippet). Compare the above to what used to be

[2020-01-17 21:23] GuillaumeFavelier commented on #7228
Yep, I'll take care of it.

[2020-01-18 09:07] #7216 closed

[2020-01-18 10:15] jasmainak commented on #7208
Please take a look at this example:

https://mne.tools/mne-bids/auto_examples/convert_mne_sample.html#sphx-glr-auto-examples-convert-mne-sample-py

It's not very discoverable at the moment. We are working on creating a separate example for this.

[2020-01-18 10:55] danushaaditya opened #7229 "mne.find_events returning no stim channel found"
Tried running code from this website:
https://mne.tools/0.14/auto_examples/decoding/plot_decoding_csp_eeg.html

ValueError: No stim channel found to extract event triggers.

[2020-01-18 11:36] agramfort commented on #7229
can you be more explicit? for data that have no stim channels events are
now available in raw.annotations and you can get them with

events, _ = mne.events_from_annotations(raw)

does it fix the issue?

[2020-01-18 12:27] danushaaditya commented on #7229
I tried it, now it shows a new error.
AttributeError: module 'mne' has no attribute 'event_from_annotations'

I'm new to python so i'm not sure what i am doing wrong.
Thanks for helping out

[2020-01-18 14:42] drammock commented on #7229
You are running an example from version 0.14 of the documentation (look at the URL). Current version of MNE-Python is 0.19. At the very least, make sure your installed version matches the version of the docs you are working from. We also strongly recommend updating to the newest version.

[2020-01-18 14:59] wmvanvliet commented on #7225
Simulation results are up! Now with an additional column: orientation error.

https://users.aalto.fi/~vanvlm1/beamformer_simulation/lcmv_vol.html

Seems that both code paths *can* produce more or less reliable orientation estimates, but it depends on the `reduce_rank` parameter.

[2020-01-18 15:08] agramfort commented on #7229
https://mne.tools/stable/generated/mne.events_from_annotations.html

events with an s

[2020-01-18 19:57] #7213 closed

[2020-01-19 04:21] Charlesi8 opened #7230 "spectral_connectivity( ) issue"
hi, guys , i have a puzzle abount function spectral_connectivity( ).When i run this function on my own epochs data with the parameters like
[code]
, an error happend with words like " **ValueError: too many values to unpack (expected 4)**"
And i do not know how to deal with it , could some one help me ,plz.
![image](https://user-images.githubusercontent.com/21119592/72674784-1e98a300-3ab6-11ea-9fa

[2020-01-19 08:05] danushaaditya commented on #7229
@agramfort Thank you. The 's' was missing. I was being careless.
Thanks a lot for your help.

[2020-01-19 08:05] #7229 closed

[2020-01-19 12:00] agramfort commented on #7230
can you share a code snippet to replicate?

[2020-01-19 12:02] agramfort commented on #7225
that's a lot of results to inspect. Any particular summary / take home
message?

[2020-01-19 13:43] britta-wstnr commented on #7225
@wmvanvliet the color bar is hard to read, but I guess brighter colours are better = less error? If I see it right, then the `weight_norm='unit-noise-gain'` code path seems to produce stable results more reliably, although, it too can fail.
If I would refactor the code in favour of that code path, would you be able to see with the simulation whether the `weight_norm=None` path gets more reliable o

[2020-01-19 17:45] wmvanvliet commented on #7225
@britta-wstnr I agree with your analysis. And yes, if you refactor, I can do a side-by-side comparison.

@agramfort take home message: one code path does not necessarily produce worse orientation estimations that the other. It depends on the other parameters. Notably `reduce_rank`. Still,one of the code paths seems to produce better results more often than the other path, hence might be preferable

[2020-01-20 07:59] Charlesi8 commented on #7230
[code]
And one error happened as i said above

[2020-01-20 12:24] agramfort commented on #7225
whatever you think is best :)

[2020-01-20 12:30] britta-wstnr commented on #7225
I'll get to it then!

[2020-01-20 13:44] agramfort commented on #7230
if I don't have x I cannot replicate. You can make fake dataset with
mne.EpochsArray. Please make sure I can replicate the pb on my machine with
just a copy-paste

[2020-01-20 16:35] GuillaumeFavelier commented on #7228
I reported this behaviour upstream: https://github.com/pyvista/pyvista/pull/548

[2020-01-20 17:08] mmagnuski commented on #7230
@Charlesi8 Look at the function docs: https://mne.tools/stable/generated/mne.connectivity.spectral_connectivity.html
you are expecting 4 output arguments, but the function returns 5. The error is not in mne, but in your code. You can just do:
[code]

[2020-01-20 17:09] #7230 closed

[2020-01-20 19:17] Davi1990 opened #7232 "Inconsistent surfaces extracted using watershed"
Dear MNE expert,

I am working with a EEG dataset and I wish to run source on that. Unfortunately the T1w are not FLASH and I know that in the absence of FLASH images, MNE offers a somewhat less accurate
solution based on the watershed algorithm (see Jas et al., 2018).

Indeed for some subjects in my dataset I got the following error when I am going to run `make_bem_model`.

`RuntimeError: Surface

[2020-01-21 03:16] Charlesi8 commented on #7230
i have revised my code, and it really helped .Thank you so much.

[2020-01-21 08:49] agramfort opened #7234 "bug brain.add_label when hemi='split'"
trying this

[code]

I get a non meaningful error. It should work though as I know it's a left hemi label so it should be added only to left hemi.

cc @GuillaumeFavelier

[2020-01-21 08:50] agramfort opened #7235 "picking vertex in brain object to see time course"
I would be great to get a plot of a time course of a vertex on a 3D brain object.

a suggestion from @SophieHerbst is also to have a short cut to pick automatically the vertex with the highest amplitude in the current view.

@GuillaumeFavelier

[2020-01-21 10:34] jasmainak commented on #7232
@Davi1990 it's better to report these in the mailing list. You can also search the archives and find that similar issues were already answered:

https://mail.nmr.mgh.harvard.edu/pipermail//mne_analysis/2019-April/005805.html
https://mail.nmr.mgh.harvard.edu/pipermail/mne_analysis/2019-November/006317.html

hope that helps

[2020-01-21 12:40] larsoner commented on #7235
At least in principle there is vtkChart:

- https://vtk.org/doc/nightly/html/classvtkChart.html
- https://vtk.org/Wiki/VTK/Examples/Cxx/Plotting/LinePlot

I'm actually not sure the extent to which this will be possible. Picking with the mouse is usually done by rendering tricks or casting a ray (I think VTK [does the latter](https://vtk.org/doc/nightly/html/classvtkPicker.html)). I'm not sure ther

[2020-01-21 15:08] Davi1990 commented on #7232
Hi @jasmainak!! I posted few weeks ago but I haven't received any reply message. I am going to ask again right now. I am deadlocked!

Hope to receive some helps this time

Dave

[2020-01-21 20:10] jasmainak commented on #7235
why not extend the functionality of 4D viewer with cortical ribbon first?

[2020-01-21 20:32] larsoner commented on #7235
It's nicer to view surface source estimate data on the surface

[2020-01-21 20:42] GuillaumeFavelier commented on #7235
That's a nice idea and thank you so much for the pointers @larsoner, I have somewhere to start now.

[2020-01-21 22:01] mmagnuski commented on #7230
@Charlesi8 glad to help!

[2020-01-21 22:51] larsoner commented on #7235
And for mouse click vertex picking in mayavi (so you can translate to PyVista) see

https://github.com/mne-tools/mne-python/blob/master/mne/gui/_fiducials_gui.py#L359

[2020-01-22 12:52] sappelhoff commented on #6994
The original repo does not seem to exist anymore :-) so good that Teon forked it when it was still there.

[2020-01-22 15:31] teonbrooks commented on #6994
@sappelhoff, just checked, the repo still exists but it's private on @kingjr's account. It would be a nice to have in the main repo for historical record but it currently seems stalled

[2020-01-22 15:37] SophieHerbst opened #7239 "error when trying to use pyvista to plot stc"
I am trying to use the new pyvista-plotting for stc (through spyder),
on my own data, and this [mne-example](https://mne.tools/stable/auto_examples/visualization/plot_xhemi.html#sphx-glr-auto-examples-visualization-plot-xhemi-py)

When I do not specify a backend, it uses majavi.
I tried: `mne.viz.set_3d_backend('pyvista')`

Output of `stc.plot`:

Output of ` python -c "import mne; mne.sys_info()"`

[2020-01-22 15:43] GuillaumeFavelier commented on #7239
Can you try with the latest version [`0.23.0`](https://github.com/pyvista/pyvista/releases) of PyVista ?

Depth peeling have been introduced only recently.

[2020-01-22 15:58] SophieHerbst commented on #7239
Ok thanks!
No more error, but the plot appears in the spyder console and I cannot get it out, i.e. use interactive mode. All the usual setting preferences for ipython console graphics or `%matplotlib qt `does not help. Any ideas?

[2020-01-22 16:16] GuillaumeFavelier commented on #7239
This is a false positive from the internal `check_notebook()` function. This is unfortunate.

[2020-01-22 16:19] GuillaumeFavelier commented on #7239
I'll work on a patch right now :+1: . But basically, the plotter has a simple routine to detect a notebook environment and it seems that it didn't work properly in your case. The plotter should behave properly in a regular ipython console for some reason it's not the case in Spyder, thanks for reporting.

[2020-01-23 10:53] GuillaumeFavelier commented on #7234
I think this is just not supported yet, looking at the doc of `add_label()`:

[code]

We could work to integrate it into `_Brain` though :+1:

Can we programmatically get this information?

[2020-01-23 10:56] agramfort commented on #7234
with read_label you get a label that should have an hemi attribute
https://github.com/mne-tools/mne-python/blob/master/mne/label.py#L233 to
tell you

[2020-01-23 10:57] GuillaumeFavelier commented on #7234
This is great! I'll work on someting then

[2020-01-23 11:07] GuillaumeFavelier commented on #7234
Meanwhile could you tell me if the following works for you?

[code]

[2020-01-23 14:17] major-s opened #7243 "Brain Vision: Assertion error with channel names containing spaces"
Hi,
I have plenty of Brain Vision files with channel names containing spaces:
[code]

and when I try to read them, I get following Assertion Error:
[code]
because the channel name "ECoG 1" is splited into "ECoG" and "1" in the line 636
```line_amp = re.split(divider, settings[idx_amp + i])```
and then the channel name is not found in the resulting list.
It works, when I change the line 611 from
``

[2020-01-23 14:28] #7234 closed

[2020-01-23 16:55] agramfort commented on #7243
do you have time to send us a PR to address these issues?

[2020-01-23 18:07] amitkanthi opened #7244 "Problem importing data into EEGLAB"
I am facing a peculiar problem while importing .mat and .raw file into EEGLAB.  When I import data using .mat file then the EEGLAB doesn't import the events along with it. When I import data using .raw file then the EEGLAB doesn't show up the reference channel. Moreover, i failed to input the reference channel manually.
Please help me with this issue.

[2020-01-23 19:51] larsoner commented on #7244
@amitkanthi this sounds like an EEGLAB problem. I don't think we support writing `.mat` files, only `.fif` files. So perhaps this issue should be raised with EEGLAB support?

[2020-01-23 20:32] cbrnr commented on #7244
Or did you mean MNELAB (which does support exporting to EEGLAB .set, which is basically just a .mat file)? If so, please report the issue with more details at https://github.com/cbrnr/mnelab.

[2020-01-23 20:51] GuillaumeFavelier commented on #7235
[Vertex picking is available](https://docs.pyvista.org/plotting/plotting.html?highlight=enable_point_picking#pyvista.BasePlotter.enable_point_picking) by default in PyVista:

![output](https://user-images.githubusercontent.com/18143289/73022611-36f81d00-3e2a-11ea-8b42-2f927db7cedd.gif)

[2020-01-23 22:02] SophieHerbst commented on #7235
Would this allow to spit out MNI coordinates at the pick (or the label of a pre-defined atlas)?

[2020-01-23 22:04] SophieHerbst commented on #7235
Also, a very small add-on labels for the 3 clim-scales would be helpful.

[2020-01-23 23:00] GuillaumeFavelier commented on #7235
I think any data associated to the point data/vertex id could be retrieved that way in theory.

[2020-01-23 23:16] GuillaumeFavelier commented on #7235
I discovered [`vertex_to_mni()`](https://mne.tools/stable/generated/mne.vertex_to_mni.html#mne.vertex_to_mni) to take care of the conversion.

[2020-01-23 23:24] GuillaumeFavelier commented on #7235
fmax/fmid/fmin labels were present [in previous version](https://github.com/mne-tools/mne-python/pull/7188) but were dropped in favour of a more compact UI.

[2020-01-24 01:53] GuillaumeFavelier commented on #7235
**ToDo** (suggested in https://github.com/mne-tools/mne-python/pull/7247#issuecomment-577954381)

- [ ] Enable Picking & Plot of time courses with `show_traces=True`
- [ ] Display the picked point in 3d with a dot glyph (sphere)
- [ ] Add a time course to the chart by picking on the suface vertex
- [ ] Remove an existing time course in the chart by clicking on the dot glyph
- [ ] Display the chart

[2020-01-24 02:10] quocdat32461997 opened #7248 "'CNTEventType1' object has no attribute 'Latency'"
Hi,

I am trying to read raw EEG from .cnt files. However, Python3 returns the below error. The dataset I am reading is from UC San Diego https://sccn.ucsd.edu/~arno/fam2data/publicly_available_EEG_data.html.

The dataset can be easily read by EEGLAB, however, I try to do everythig in Python3.
If comment the lines shown in the Errors, I still receive the correct result.

`Traceback (most recent ca

[2020-01-24 09:38] agramfort commented on #7248
which specific file did you try to read?

[2020-01-24 10:45] SophieHerbst opened #7250 "stc.plot with pyvista: error with hemi='both'"
I am not able to plot the two hemispheres of an stc at the same time with `time_viewer=True` , for instance when using [this](https://mne.tools/stable/auto_examples/visualization/plot_xhemi.html#sphx-glr-auto-examples-visualization-plot-xhemi-py) example:

[code]

Error:

With `hemi='split'` the panels overlap, and the time-slider is not usable (I can send a screenshot).
Also, from the documentati

[2020-01-24 11:00] zuxfoucault opened #7251 "`reset` behavior in ` omit_hsp_points` not implement"
#### Describe the bug
From the docstring of ` omit_hsp_points`, there should be a `reset` argument and its related behavior in this method. https://github.com/mne-tools/mne-python/blob/master/mne/gui/_coreg_gui.py#L635

[2020-01-24 11:09] zuxfoucault commented on #7251
The `reset` method is here: https://github.com/mne-tools/mne-python/blob/master/mne/gui/_coreg_gui.py#L775 Sorry, I got confused by the docstring.

[2020-01-24 11:09] #7251 closed

[2020-01-24 11:19] GuillaumeFavelier commented on #7250
Could you share a screenshot? It would help me understand the situation.

A fix for the slider position in `hemi=split` is in https://github.com/mne-tools/mne-python/pull/7227/commits/5d78f05ef95c858edb20a7851572cc92719eb1fa. The PR is still waiting for reviews but hopefully soon to be merged.

Also I can reproduce the issue with `hemi=both` so I'll work on a fix soon :+1:

From the doc of `_Brain

[2020-01-24 11:27] GuillaumeFavelier commented on #7250
Here is an example:

Split | Both
------|------
![2020-01-24_1920x1080](https://user-images.githubusercontent.com/18143289/73065827-cd692480-3ea4-11ea-82ba-4525d510ed7f.png) | ![2020-01-24_1920x1080](https://user-images.githubusercontent.com/18143289/73065863-e07bf480-3ea4-11ea-9dd8-0a225a807c93.png)

[2020-01-24 12:14] SophieHerbst commented on #7250
Here is a screenshot, using the split option with time_viewer.
![stc_plot_split](https://user-images.githubusercontent.com/6408073/73068379-5daa6800-3eab-11ea-881a-36e709b3ff22.png)

[2020-01-24 12:51] major-s commented on #7243
I tried my best. Never used pull requests before. Unfortunately I had no time for writing any tests...

[2020-01-24 12:58] agramfort commented on #7243
ok no problem. i'll give you a hand by pushing to this PR.

[2020-01-24 13:05] SophieHerbst commented on #7250
About the doc: the one from `_Brain` is totally fine, it just needs to be copied to the one of [stc.plot](https://mne.tools/dev/generated/mne.SourceEstimate.html#mne.SourceEstimate.plot), which currently says:

[2020-01-24 13:14] #7250 closed

[2020-01-24 14:27] amitkanthi commented on #7244
hello

sorry. my bad. Actually its an EEGLAB problem. Extremely sorry for the inconvenience.

thanks. Appreciate your response.

[2020-01-24 14:27] #7244 closed

[2020-01-24 19:08] quocdat32461997 commented on #7248
They are .cnt files recorded by Neuroscan devices.

[2020-01-25 09:15] agramfort commented on #7248
The page you point to contains many files. Can you help us by telling which one we should test first ? It saves time for us. Thanks

[2020-01-26 03:41] zuxfoucault opened #7254 "BUG: possible bug wrt BallTree xhs update"
#### Describe the bug
The [xhs](https://github.com/mne-tools/mne-python/blob/master/mne/surface.py#L498) didn't get updated after first initialized as [[[0. 0. 0.]]](https://github.com/mne-tools/mne-python/blob/master/mne/gui/_coreg_gui.py#L487). Therefore, the [nearest_transformed_high_res_mri_idx_hsp](https://github.com/mne-tools/mne-python/blob/master/mne/gui/_coreg_gui.py#L458) is always 0.
![

[2020-01-26 21:30] dede3de opened #7255 "reading channel locations from .set files"
I am working with EEG epoched data saved as .set files (and the corresponding .fdt files from EEGlab). The data were recorded from 66 channels (64 EEG and 2 EOG) from EasyCaps, with 10-20 IS. In Matlab, the EEG.chanlocs correctly shows the coordinates of each electrode (labels, type, theta, radius, X, Y, Z, sph_theta, sph_phi, sph_radius, urchin, ref). But it seems that I cannot read these locatio

[2020-01-27 14:50] larsoner commented on #7255
What are:
[code]
Or if you can upload the data somewhere (e.g., DropBox) someone can take a look.

[2020-01-27 14:53] dede3de commented on #7255
[code]

[2020-01-27 14:56] larsoner commented on #7255
Okay then something is weird about how we are dealing with `EEG.chanlocs` it looks like. Can you upload the files somewhere?

[2020-01-27 15:17] larsoner commented on #7254
@zuxfoucault did you need to change code in [_coreg_gui.py](https://github.com/zuxfoucault/mne-python/blob/fix_balltree_xhs_update/mne/gui/_coreg_gui.py#L495) to fix things, or just add some lines to the example? If you just needed to change the example code, then I think we can close since that example was never merged / never fully tested / is not yet ready for public consumption.

[2020-01-27 15:53] #5880 closed

[2020-01-27 15:56] larsoner commented on #7235
+10 to embedding a mpl figure rather than figuring out vtkChartXY, it gives us more flexibility going forward, e.g., including showing time-frequency images eventually, and will unify the user experience of 2D plots around MPL and its standard interactions (like zooming and view resetting). The "only" tricky parts of this approach will be:

- setting up our own Qt window instead of relying on [PyV

[2020-01-27 16:16] zuxfoucault commented on #7254
@larsoner Just add the notification part in [_coreg_gui.py](https://github.com/zuxfoucault/mne-python/blob/fix_balltree_xhs_update/mne/gui/_coreg_gui.py#L495)

[2020-01-27 16:22] larsoner commented on #7254
Something is weird about https://github.com/zuxfoucault/mne-python/commit/698d3240553e9cad580d9014e60440d57d46a833 because the [existing _update_nearest_calc](https://github.com/mne-tools/mne-python/blob/master/mne/gui/_coreg_gui.py#L490-L493) should already take care of it:
[code]

[2020-01-27 16:24] larsoner commented on #7254
Also, we (should) always do the [nearest calculation in MRI space](https://github.com/mne-tools/mne-python/pull/6732), so your change will break things if display is in head space because it's using the transformed points

[2020-01-27 16:30] #7243 closed

[2020-01-27 16:37] zuxfoucault commented on #7254
My rationale is that (self.processed_high_res_mri_points)[https://github.com/zuxfoucault/mne-python/blob/fix_balltree_xhs_update/mne/gui/_coreg_gui.py#L682] is generated after
(self.nearest_transformed_high_res_mri_idx_hsp)[https://github.com/zuxfoucault/mne-python/blob/fix_balltree_xhs_update/mne/gui/_coreg_gui.py#L683], where xhp is still initialized as [[[0. 0. 0.]]](https://github.com/mne-tool

[2020-01-27 16:42] larsoner commented on #7254
Where does this happen? I see the def as:
[code]
So it does not depend on `nearest_transformed_high_res_mri_idx_hsp`

[2020-01-27 16:48] zuxfoucault commented on #7254
I think it's [here](https://github.com/zuxfoucault/mne-python/blob/fix_balltree_xhs_update/mne/gui/_coreg_gui.py#L682-L683)
`nearest_transformed_high_res_mri_idx_hsp` is index for `processed_high_res_mri_points`

[2020-01-27 16:54] larsoner commented on #7254
It's used as an index but I don't see why that should affect `nearest_calc`. The code you linked to is inside `_setup_icp`, which should only be called once `processed_high_res_mri_points` is already populated properly, `nearest_calc` is set up properly (automatically), and you've asked to do ICP.

I think the way to solve this is to figure out exactly how/when these things are being triggered, i.

[2020-01-27 17:00] quocdat32461997 commented on #7248
I am sorry.
Below is the link to my drive for one .cnt file.
https://drive.google.com/file/d/1BNHjcJUSWLXSpXQ1aeVZ3KS4XzX-CfLS/view?usp=sharing

[2020-01-27 20:00] dede3de commented on #7255
I have uploaded an example dataset (.set and .fdt) here: https://drive.google.com/drive/folders/1kT392TAWm-0DWGEbj00b6EGgRqwbNifX?usp=sharing

[2020-01-27 21:57] christian-oreilly opened #7259 "decimate_surface breaks the meshes in some cases"
#### Describe the bug
Meshes reduced in size using decimate_surface are sometime invalid and crash the BEM computation generating a `RuntimeError` exception with message like `Surface inner skull has topological defects: 3 / 5119 vertices have fewer than three neighboring triangles [1381, 1382, 1383]`.

#### Steps to reproduce
The following code:
[code]
Produces the following output:
[code]
I can

[2020-01-27 22:13] christian-oreilly commented on #7259
Hmm... a similar example can be produce with _assert_complete_surface which raise an exception on some decimated surfaces but not on the original surfaces. I can document this also if you'd like.

[2020-01-28 00:27] mmagnuski commented on #7255
@dede3de Are you sure you've placed the files there? When I click on the link I get an empty directory.

[2020-01-28 00:37] mmagnuski commented on #7235
@larsoner Why would we have to set up our own Qt window? At least in interactive matplotlib mode - it might be easier and more flexible to open a separate matplotlib window per click/interaction.

[2020-01-28 01:06] larsoner commented on #7235
I don't think that would work as well. The design I'm advocating is basically a variant of what we already do in the volume plotter. You could apply your argument to that as well -- that we shouldn't render the time trace(s) in the same window as the brain volume rendering -- and I don't think it would be as nice as experience as having them contained in the same window.

[2020-01-28 02:02] mmagnuski commented on #7235
Yes, that's true - separate window can feel more clunky, but the benefit is that the user can place it however he wants. And although volume source plotter shows traces in the same window - many other mne interfaces open separate windows (time-frequency - when interacting with topomap [also tfr heatmap IIRC], evokeds - when selecting time window, ica source signal viewer when clicking on ic label,

[2020-01-28 02:14] zuxfoucault commented on #7254
History of some function call printed:
![Screen Shot 2020-01-28 at 09 56 21](https://user-images.githubusercontent.com/3050531/73230057-ea5c6b00-41b6-11ea-8944-89e2bf4075e0.png)

It seems when `_get_processed_high_res_mri_points` is first initialized, handler `_update_nearest_calc: processed_high_res_mri_points` wouldn't be called. The same applies to `_get_transformed_high_res_mri_points`; handle

[2020-01-28 02:25] zuxfoucault commented on #7254
Out of curiosity, as a workaround, would this look better? `self.nearest_calc = _DistanceQuery(
            self.transformed_high_res_mri_points)` is the original proposal is replaced with `self.nearest_calc = _DistanceQuery( self.processed_high_res_mri_points * self.parameters[6:9])`, hence
[code]

[2020-01-28 07:09] zuxfoucault commented on #7254
Just adding a [dependence](https://github.com/zuxfoucault/mne-python/blob/fix_balltree_xhs_update/mne/gui/_coreg_gui.py#L243) on `mri_trans` for `processed_high_res_mri_points` would evoke the update, although it's surplus after the 2nd call on `_get_processed_high_res_mri_points`
![Screen Shot 2020-01-28 at 14 52 38](https://user-images.githubusercontent.com/3050531/73242527-32dc4e80-41e0-11ea-9a

[2020-01-28 08:30] SophieHerbst opened #7260 "Minor: epoch counts in epochs.plot() starts with 1 instead of 0"
When using `epochs.plot()` to display epochs, e.g. to manually identify bad ones, the epoch numbers displayed on the plot start with 1, not 0, `while epochs.drop()` expects counts to start from 0.
[I am aware that one can use the interactive plot + annotations to manually reject epochs, but still think it would avoid confusion if the counters match.]

[2020-01-28 09:23] agramfort commented on #7260
we've had this issue in the past for ICA component numbering.
I think we ended up using 0 based-labels for plots using the # sign.
To be checked...

[2020-01-28 10:00] agramfort commented on #7255
indeed it's empty

[2020-01-28 10:05] dede3de commented on #7255
Try this one: https://drive.google.com/open?id=1kT392TAWm-0DWGEbj00b6EGgRqwbNifX

[2020-01-28 10:28] SophieHerbst commented on #7260
Yes, at least in my output ICA components are numbered form 0. Can the same be done for the epochs?

[2020-01-28 13:03] agramfort commented on #7260
+1

[2020-01-28 14:33] Davi1990 commented on #7232
Hi @jasmainak!!

Thanks for your reply. Unfortunately I already saw the question that you posted.

I have done some work on the surfaces trying to get the best result possible.

![image](https://user-images.githubusercontent.com/37826571/73272770-ed545d00-41b0-11ea-9825-70d4fea45ccd.png)

This looks reasonable to me but I would like to listen your opinion on that. I don't understand why the surfac

[2020-01-28 14:56] larsoner commented on #7260
Sounds good to me, @SophieHerbst can you make a PR?

[2020-01-28 15:29] mmagnuski commented on #7255
@dede3de Sorry, it's also empty. :(

[2020-01-28 16:00] larsoner commented on #7259
I wrote some of this on GitHub, but here are some suggestions (eventually we should add these to https://mne.tools/dev/overview/faq.html#my-watershed-bem-meshes-look-incorrect):

1. Old MNE-C used https://www.mathworks.com/help/matlab/ref/reducepatch.html, which you could try
2. In theory you could use a sequence of Freesurfer commands to decimate the surfaces, or better starting from the labeled

[2020-01-28 16:02] larsoner commented on #7232
How did you make this plot? If you aren't using `mne.viz.plot_bem` or `freeview` in Freesurfer, it's likely that the plotting is wrong because of MRI surface RAS coordinates versus standard RAS/affine that other software might use.

[2020-01-28 16:03] larsoner commented on #7232
Regarding the number of vertices, #7259 will probably / hopefully have some solutions for suitable decimation

[2020-01-28 16:06] agramfort commented on #7255
I confirm

[2020-01-28 16:36] Davi1990 commented on #7232
@larsoner thanks for your suggestions. As for the number of vertices I am gonna try this once I have all the surfaces registered and I'll let you know

As for the visualization, I've used freeview

[2020-01-28 16:41] larsoner commented on #7232
Your surfaces in the first post are properly coregistered. How are they different from the ones in your more recent post? Differences in processing these surfaces probably gave rise to the alignment mismatch.

For ideas on how to fix meshes, the ideas we have were recently consolidated here:

https://mne.tools/dev/overview/faq.html#my-watershed-bem-meshes-look-incorrect

[2020-01-28 20:03] SophieHerbst commented on #7260
I can give it a try in the next couple of days.

[2020-01-28 20:12] christian-oreilly commented on #7259
Thanks for this infor @larsoner I am not so  familiar with these functions. I got the following working

[code]
but then
[code]
generated
[code]
Obviously, smoothwm has nothing to do with what I am doing here. I am using this functions on a head surface that has not much to do with wm surfaces computed on a separate pipeline (i.e., the bem surfaces I am processing have not been obtained from the w

[2020-01-28 20:17] christian-oreilly commented on #7259
Nevermind the question about how use `mne.surface._get_ico_surface(4)`, I just seen your comments on Gitter

[2020-01-28 21:32] #7248 closed

[2020-01-28 22:32] christian-oreilly commented on #7259
@larsoner Do you have a pointer of something I could read to get a conceptual explanation of what is the idea here (i.e., what is this sum of solid angle and why it should be 1 for a complete surface)? It would make it easier for me to understand what could create departure from this in my mesh.

[2020-01-28 22:53] dede3de commented on #7255
Ok, not sure what went wrong with google drive. Here is Dropbox:
https://www.dropbox.com/s/0ug9re25ijv88p0/ppt10_toFT.set?dl=0
https://www.dropbox.com/s/5144xgs71mnrlqm/ppt10_toFT.fdt?dl=0
I hope it now works.

[2020-01-29 09:51] GuillaumeFavelier commented on #7235
Honestly I thought the same at first but it seems only [a few lines of code](https://github.com/mne-tools/mne-python/blob/28cc5e33c97aa5cdce45a1b2d91d3a4ecb192d4f/mne/viz/_brain/_timeviewer.py#L402-L405) were necessary to add this:

[code]

[2020-01-29 10:43] agramfort commented on #7255
it's indeed a bug that should be fixed in #7262

thanks for the bug report.

[2020-01-29 11:02] dede3de commented on #7169
I am using raw.set_montage(montage, match_case=False) with the mnedev ('0.20.dev0'). However, it seems that it works with averaged epoched data, but not with raw data.

Everything works fine if I run:
[code]

However, if I run
[code]
it gives an error: TypeError: set_montage() got an unexpected keyword argument 'match_case'.

[2020-01-29 11:17] agramfort commented on #7169
now also part of #7262

[2020-01-29 12:14] britta-wstnr commented on #7170
@agramfort @nbara
Do your previous efforts include the spectrum interpolation (Leske & Dalal 2019)? @lubell who is a PhD student in @sarangnemo's lab has a Python implementation of this and we thought about looking into contributing it if this is still relevant!

Here is the code:
https://github.com/Lubell/python_dftfilter

[2020-01-29 12:21] agramfort commented on #7170
I would only suggest to compare. I don't have any experience myself.

[2020-01-29 12:30] britta-wstnr commented on #7170
Our implementation is the spectrum interpolation as implemented in FieldTrip that @DominiqueMakowski mentioned in his initial post, developed by Sabine Leske and @sarangnemo, tackling line noise.
Is anything like this already implemented now? What should we compare it to?

[2020-01-29 12:40] larsoner commented on #7170
That code is GPL so if we do want to add it we need permission to relicense under BSD

[2020-01-29 12:46] Lubell commented on #7170
@larsoner
Happy to remove the GPL, just part of my routine to include it.  Would that be enough to remove re-license obstacles?

[2020-01-29 12:48] agramfort commented on #7170
did you write the original code in fieldtrip? is the corresponding
fieldtrip GPL?

[2020-01-29 12:50] Lubell commented on #7170
I did not write the original code

[2020-01-29 12:53] larsoner commented on #7170
I think that some explicit permission from the code author here in our conversation should be enough. Do we have permission?

(Also from what I recall, just removing the license would not fix the problem as code with no explicit license by default gets a pretty restrictive one. You'd have to instead replace with a permissive BSD-compatible license like BSD, MIT, Apache, etc.)

[2020-01-29 12:53] larsoner commented on #7170
Ahh we need to talk to the original author then

[2020-01-29 12:56] sarangnemo commented on #7170
@sabineleske and I wrote the original FieldTrip code, we didn't specify a special license so I suppose it's GPL like FieldTrip in general. You have my permission, @sabineleske are you there?

[2020-01-29 14:13] mmagnuski commented on #7235
@GuillaumeFavelier - that's cool!
So maybe it wouldn't be difficult to add an option to detach the matplotlib figure? 😈

[2020-01-29 14:19] GuillaumeFavelier commented on #7235
It's possible too. How would you pass this option though? We already use `show_traces=True` in `plot_source_estimates()`.

[2020-01-29 14:21] larsoner commented on #7235
`show_traces='separate'` or something. But let's figure this API out separately as there are additional questions we'll want to sort out (e.g., should each click open a new window, should we close the windows when clicking just like we remove traces from the all-one plot in the joint mode, etc.)

[2020-01-29 14:28] larsoner commented on #7259
This suggests that our current version of `decimate_surface` does not preserve the topological properties of the surface. In this case it seems to have probably created a hole (?) in the previously complete mesh.

This suggests that the Freesurfer way of doing things (which will maintain a complete triangulation) might indeed be better, if we can get it to work.

[2020-01-29 15:15] #7077 closed

[2020-01-29 16:11] larsoner commented on #7259
Looks like you are using John Richards public Infants NITRC dataset. So I can test locally.

Looks like you:

- missed the `-q` parameter from the description in https://github.com/mne-tools/mne-python/issues/6784, and in your particular case you
- need to binarize your mask properly, otherwise you'll end up with meshes that are "donuts".

[Here is a gist](https://gist.github.com/larsoner/577bbfab

[2020-01-29 17:13] christian-oreilly commented on #7259
@larsoner Seems to work pretty well indeed. It is a shame that I had to loose so many time trying to accomplish the same things with approaches...! I'll check that it works fine for all subjects. My goal (and it is almost completed) is to produce population-average for infants at 3, 4.5, 6, 7.5, 9, 12, 18, and 24 months old so that they could be used for analyses in infants, much as fsaverage is u

[2020-01-29 17:21] larsoner commented on #7259
That would be great. I've worked with those data a bit (as well as the infant pipeline) and ended up deciding to go the volumetric source space rather than surface source space route. We should chat at some point to figure this stuff out.

[2020-01-29 17:59] #7255 closed

[2020-01-29 18:34] christian-oreilly commented on #7259
Sure. I would be happy to hear about your experience with this and why you chose in the end not to go for surface sources.

It looks like the freesurfer code produces valid meshes but at the price of a very approximative fit to the source data. On this figure, the BEM mask is color-coded as a lookup table, the meshes I obtained with marching cube + Laplacian smoothing + decimation are in green, th