[2015-05-08 16:08] dengemann commented on #2024
I was thinking about something as boring as a designated function returning a designated object, some kind of EpochsTFR with .average method.

[2015-05-08 16:09] Eric89GXL commented on #2024
Saving the data to HDF5 and loading it will be almost trivial once the object is defined. You just dump the object properties to a `dict` and save, and repopulate on load.

[2015-05-08 16:42] choldgraf commented on #2024
Out of curiosity, why wasn't this the original implementation instead of
creating an `AverageTFR` class. It seems like it would have been more in
line with MNE structures (e.g., create an Epochs object, and then give an
`average` function to create an Evoked object). Are there issues with
memory or something?

On Fri, May 8, 2015 at 9:09 AM, Eric Larson <notifications@github.com>
wrote:

[2015-05-08 16:44] jona-sassenhagen commented on #2004
@kingjr thanks, I think that's basically what I wanted! Can we leave this open for a few more days in case I run into any other issues?

[2015-05-08 17:48] agramfort commented on #2024
yes it's a memory issue. In TF you blow up the dimension of the data

[2015-05-08 17:50] choldgraf commented on #2024
yeah that's the same problem I've ran into before. I guess the upside is
that you can often decimate TFR representations though, no? (I've never
used these methods for things like coherence or phase estimate
though...maybe that'd mess up?)

On Fri, May 8, 2015 at 10:48 AM, Alexandre Gramfort <
notifications@github.com> wrote:

[2015-05-08 19:59] agramfort commented on #2024
decimation helps and most people need the average that's why we chose this
design. But we can always improve it....

[2015-05-08 20:29] agramfort commented on #2062
did anybody figure out what happens? it's a "bit" annoying not to be able
to build the doc while we're about to release...

[2015-05-08 20:30] Eric89GXL commented on #2062
I can't replicate, and I don't think anyone has tried my proposed workaround yet (using cloned, built, installed, pyface)

[2015-05-08 20:31] Eric89GXL commented on #2062
I'm not sure what we should do about the `nilearn` example not building, open an issue over there and hope they fix it soon...? Not sure I have time to dig into their code.

[2015-05-08 20:37] choldgraf commented on #2024
yeah that definitely makes sense. all the current behavior could remain the
same if need be anyway, no? You could just use "average_epochs" as a flag
to the various `tfr_XXX` functions and it could return an AverageTFR object
in that case. Otherwise, it would return an EpochsTFR. Or maybe it would
make more sense to call `AverageTFR` something like `EvokedTFR` to keep it
in line with the current e

[2015-05-08 20:41] agramfort commented on #2062
I opened an issue:

https://github.com/nilearn/nilearn/issues/577

[2015-05-08 20:42] agramfort commented on #2024
an average param in the tfr_XXX function would do it indeed. EpochsTFR
sounds good

[2015-05-08 20:43] dengemann commented on #2024
That would be important to do deconding and stats across trials.

[2015-05-08 20:45] Eric89GXL commented on #2062
Yeah, it might also be an issue with `nibabel`, that's one thing I wasn't sure about.

[2015-05-08 20:50] choldgraf commented on #2024
Yeah, I first thought about this when I was looking into the time generalization stuff as well as from this example [1] where `single_trial_power` is used to get the full TFR for one electrode.

It seems that the code in single_trial_power is close to what would be needed anyway, just would need to let it use more than morlet wavelets, and to output the EpochsTFR class, no?

[1] http://martinos.or

[2015-05-08 20:52] dengemann commented on #2024
yes, basically that's it.

[2015-05-09 00:50] Eric89GXL opened #2074 "Q: Dataset versions"
Have we gotten any useful information from embedding dataset versions in our tarballs? As far as I can tell it has just led to a bunch of warnings when doing imports (see e.g. Mainak's recent notebook examples). I propose we get rid of them for now, and replace them with a new system in the future if need be. But for now I think it's beyond YAGNI and into the adding-annoyance category...

[2015-05-09 10:55] cmoutard commented on #2069
For now, I have nothing in mind. Thanks !

[2015-05-09 14:49] Eric89GXL commented on #1934
Added the idea of having IPython notebooks linked to / in docs from @mainakjas

[2015-05-09 16:23] mainakjas opened #2075 "raw.plot() does not work in ipython notebook"
Here is the code to reproduce

[code]
and here is the traceback

[code]
cc @Eric89GXL

[2015-05-09 16:49] Eric89GXL commented on #2075
That should be an easy fix, either try except or use inspect. Hopefully I
can get to it today unless you have time @mainakjas

[2015-05-09 20:04] agramfort commented on #2062
PR sent https://github.com/nilearn/nilearn/pull/578

[2015-05-09 20:12] agramfort commented on #2074
I agree it's nice but I personally hack it manually...

fine with removing the check/warning but we should keep it accessible

sample.version ?

[2015-05-09 21:14] Eric89GXL commented on #2074
Yeah that makes sense, I'll keep it there but remove warning

[2015-05-09 21:17] Eric89GXL commented on #2062
Did you give someone else access to your GitHub account or something? It
says you actually made a commit and opened the PR yourself :)

[2015-05-10 09:41] agramfort commented on #1934
having a way to have people contributing to the doc via tutorials notebooks
and rendering them in the main doc could facilitate documentation
contributions...

[2015-05-10 13:40] #2074 closed

[2015-05-10 13:40] #2075 closed

[2015-05-10 14:10] Eric89GXL commented on #2049
@haribharadwaj I have tried with FIF, EDF, and BDF and always get the same result (quick loads) with 8000 epochs:
[code]
Any idea what's going on at your end?

[2015-05-10 14:12] Eric89GXL commented on #2049
You might try swapping in one of your files into the test above to see if it works or not.

[2015-05-10 15:11] Eric89GXL commented on #1300
Closing, @Anevar feel free to reopen if this isn't clear

[2015-05-10 15:11] #1300 closed

[2015-05-10 15:22] #2015 closed

[2015-05-10 15:22] #2071 closed

[2015-05-10 17:46] Eric89GXL commented on #1973
@kingjr did anything ever come of this one?

[2015-05-10 17:49] Eric89GXL commented on #2044
@teonlamont my feeling is that really import notes (like about caveats and such) should go at the top so that people are less likely to miss them, whereas details like the implementation algorithm should go in the `Notes` section. I think this is how we currently have it organized. If people agree, we can close this after mentioning that we should clarify this in the FAQ/doc issue that is currentl

[2015-05-10 17:50] Eric89GXL commented on #2040
@agramfort AFAIK only EDF and FIFF allow not preloading data. If that's the case then `preload_data` should automatically work for the other backends because they automatically set `self._preloaded = True` or whatever the property is, and `raw.preload_data()` checks that (or should check for it) and returns if data are already preloaded. So it should just be a matter of moving the method to `Base`

[2015-05-10 18:13] agramfort commented on #2040
can you give it a try?

[2015-05-10 18:28] #1571 closed

[2015-05-10 18:31] Eric89GXL commented on #2040
Yeah, maybe today or later this week

[2015-05-10 20:16] kingjr commented on #1973
Nope, never found the issue. I'll probably give it another try in 10 days.

[2015-05-11 01:47] #2020 closed

[2015-05-11 13:21] teonlamont opened #2082 "Connectivity matrix for sensor-space based spatio-temporal clustering"
Is there currently a way to calculate a connectivity matrix of the sensors for systems that don't have neighborhood matrices in `mne.channels.data.neighbors`?

[2015-05-11 13:33] dengemann commented on #2082
Nope. See Fieldtrip docs for additional info on how to do that.
Or define a layout by hand (seriously).

[2015-05-11 15:28] #1613 closed

[2015-05-11 17:07] choldgraf commented on #2024
Hey all - just a quick list of some important stuff to consider from a chat with me and @dengemann:

Important stuff to consider
---
* Generator-like functionality to avoid exploding memory
* How much to overlap the behavior of this with that of `Epochs` objects
* How to handle the reading/writing representation
* Including epoch information with the object (e.g., epoch string to integer dictionar

[2015-05-11 19:09] atalanti opened #2083 "problem running plot_cluster_stats_spatio_temporal.py example"
Hello,
I am trying run the given example "plot_cluster_stats_spatio_temporal.py" which is located into mne-python/examples/stats .
When I run it in IPython terminal I take this error:

TypeError                                 Traceback (most recent call last)
/usr/lib/python2.7/dist-packages/IPython/utils/py3compat.pyc in execfile(fname, *where)
    202             else:
    203                 f

[2015-05-11 19:52] agramfort commented on #2083
you must be using the stable version of MNE python and use the development
website to get inspiration.

[2015-05-11 20:24] atalanti commented on #2083
Actually I am using the last master version of mne-Python.
I found the example from http://martinos.org/mne/stable/auto_examples/index.html

Does this mean that I cannot run the specific example? I wanted to run it and see how it works in order to do something similar for my data.  I have tested some other examples too from this link (not in the Statistics Examples category) and I did not have any

[2015-05-11 20:25] dengemann commented on #2083
checkout  http://martinos.org/mne/dev/auto_examples/index.html
<http://martinos.org/mne/stable/auto_examples/index.html>
you're trying to run outdated code.

2015-05-11 22:24 GMT+02:00 atalanti <notifications@github.com>:

[2015-05-11 20:40] atalanti commented on #2083
You were right. I was trying to run outdated code.
Thank you

[2015-05-11 21:59] teonlamont opened #2084 "random_state with infomax"
Currently when I run ica with infomax with a random state set, my results are different.

[code]
two separate runs of this code (pay attention to IC 11 and 13):
# **first:**
## ![unknown-4](https://cloud.githubusercontent.com/assets/1578674/7575903/14d41c10-f839-11e4-9182-6416c5f9f8d6.png)

# **second:**
## ![unknown-5](https://cloud.githubusercontent.com/assets/1578674/7575910/2980b218-f839-11e4-

[2015-05-12 06:37] #2040 closed

[2015-05-12 07:07] agramfort commented on #2084
maybe a good one for @jmontoyam ?

[2015-05-12 14:38] teonlamont commented on #2082
but why do we offer sensor-space spatio-temporal clustering if we don't support it for all the systems we support? I just went over to fieldtrip and they offer three different methods:

[code]

maybe we should port over their triangulation method since we have the capability to project sensor data to 2d.

[2015-05-12 15:02] atalanti opened #2086 "saving foci for every single time sample"
Hello everyone,

I would like to ask if it is possible to record in a movie the foci at every time step, when at source space.

If I use:

vertno_max, time_idx = stc.get_peak(hemi='lh', time_as_index=True)
brain.set_data_time_index(time_idx)
brain.add_foci(vertno_max, coords_as_verts=True, hemi='lh', color='blue', scale_factor=0.6)
brain.save_image('dSPM_map_lh5-15.png')

I get the foci as the loc

[2015-05-12 15:46] mdelpozobanos opened #2087 "max_pca_components no reset during preprocessing.ica.ICA._reset"
Hi everyone,

I've found that when refitting an ICA object, the property max_pca_components is not set to its original values during reset. This may lead to unexpected behaviour.

Example:

+ Set "max_pca_components=None", so that the object automatically sets it to use all computed PCs through the line "self.max_pca_components = len(picks)" when fitted with a dataset.

+ Now refit the object with

[2015-05-12 16:04] Eric89GXL opened #2088 "Examples take too long to run"
A few of our examples take a very long time to run. This includes `plot_covariance_whitening_dspm.py` and especially `plot_spm_faces_dataset.py`. We should probably fix these before release.

[2015-05-12 16:08] dengemann commented on #2088
Well it's the nature of some examples that they take longer, especially these two.

[2015-05-12 16:20] Eric89GXL commented on #2088
There are two problems with it, though:

1. Users will not understand why the examples are taking so long, and might not like it. This we could probably deal with using comments.

2. It makes testing docs a big pain.

I wonder if there is some way we can get them to run faster.

[2015-05-12 16:23] Eric89GXL opened #2089 "BUG: Covariance calculation in newer numpy"
I am getting a bug with newest `numpy`:
[code]
I think the indexing tricks are not meant to be used in production code, so we should probably switch to `np.concatenate`. @dengemann okay with you?

[2015-05-12 16:28] Eric89GXL commented on #2089
Ahh, nevermind it's `ix_` not `r_`. I'll see if I can fix it...

[2015-05-12 17:34] Eric89GXL commented on #2089
Seems to be some oddity due to running bleeding-edge `numpy`. Closing for now assuming it's their bug not ours.

[2015-05-12 17:34] #2089 closed

[2015-05-12 17:43] #2014 closed

[2015-05-12 19:57] agramfort commented on #2087
sounds like a bug indeed. Can you provide a code snippet to reproduce the
problem using the sample dataset?

thanks

[2015-05-12 20:36] agramfort commented on #2088
In sklearn the very long examples are put in a different folder called
applications but it's different here...

[2015-05-12 20:45] dengemann commented on #2087
Indeed sounds like a bug. I can take a look later or assist you in doing
your first PR ;)

2015-05-12 21:57 GMT+02:00 Alexandre Gramfort <notifications@github.com>:

[2015-05-12 21:04] teonlamont commented on #2042
I think to fix this, we need to have point_types, the fiducials are being counted as channels in the representation

[2015-05-12 21:18] agramfort commented on #2042
Improve the doc and message is easier

[2015-05-12 22:36] Eric89GXL commented on #2088
It makes it really difficult to test doc building when the spm-faces example takes so long. Is it okay if I tag a couple of the really slow examples such that we can do something like `make html_dev-noslow` or so?

[2015-05-12 22:47] dengemann commented on #2088
Good idea!

[2015-05-13 10:37] mdelpozobanos commented on #2087
If you could give me a week, I'll pull a fix proposal :-)
Thanks

[2015-05-13 10:39] dengemann commented on #2087
Let me do it now, this is rather urgent.

[2015-05-13 10:48] mdelpozobanos commented on #2087
Oh, I see... If you haven't stated jet... I'm cloning the project now. I was excited with the idea of doing my first PR xD
If you've fixed it already. No worries. Next time

[2015-05-13 10:58] dengemann commented on #2087
Yeah, next time! Happy ICAing and once more thanks for reporting this!

2015-05-13 12:48 GMT+02:00 Marcos del Pozo Baños <notifications@github.com>:

[2015-05-13 12:10] agramfort commented on #2086
you need to do this manually ie save all frames and make a movie from the
frames

[2015-05-13 17:50] mainakjas opened #2093 "stc.plot() throws warning by default"
If I don't set any `clim` or `fmin` etc for that matter -- just a plain `stc.plot()`, it throws a warning saying:

[code]

This is not desired behaviour.

cc @wronk

[2015-05-13 18:13] Eric89GXL commented on #2093
I think we might need it to be that way for one release to change the
behavior to use percentiles.

[2015-05-13 18:20] wronk commented on #2093
Before, stc.plot() would put in default fmin, fmid, fmax values, which we need to deprecate. I guess in the future we should have it implicitly use default percentiles with the `mne` colormap, but we need at least one release in between, correct?

@Eric89GXL, lmk if you want me to change anything though.

[2015-05-13 18:22] Eric89GXL commented on #2093
I guess of all entries are none, we should use old behavior and give a
warning that it will change to clim auto next release.

[2015-05-13 18:25] wronk commented on #2093
Sure, I'll open a PR in a few.

[2015-05-13 18:43] mainakjas commented on #2093
I guess the warning is confusing for a new user who hasn't even started exploring these different `clim` options and is just looking to use the default. Now, he has to deal with 4 new parameters

[2015-05-13 18:48] Eric89GXL commented on #2093
It's only one new parameter (and three old ones), they should use `clim='auto'` as suggested by what will be the new warning. Is that clear enough?

[2015-05-13 18:57] mainakjas commented on #2093
okay for that as long as it's clear to the user that they don't need to do anything with the warning

[2015-05-13 19:03] Eric89GXL commented on #2093
well... it will be the same as with any deprecation warning, in the sense that if they do nothing, the behavior might change on the next release

[2015-05-13 19:07] #2087 closed

[2015-05-13 19:09] Eric89GXL commented on #2047
It looks like this is our last blocker. @teonlamont @dengemann @mainakjas do one of you have time to fix this?

[2015-05-13 19:23] mainakjas commented on #2047
@teonlamont can you post a script to reproduce just so that I'm sure it's not a usage issue

[2015-05-13 19:24] dengemann commented on #2047
Not tonight. Maybe very late.

2015-05-13 21:09 GMT+02:00 Eric Larson <notifications@github.com>:

[2015-05-13 22:10] atalanti commented on #2086
Alright. Thank you.

[2015-05-13 23:12] wronk commented on #2093
See Clim fix #2094

[2015-05-14 05:43] Eric89GXL commented on #2062
cloning pyface and installing the latest dev version fixed the doc building
bug on my anaconda system @mainakjas @agramfort

[2015-05-14 12:38] dengemann commented on #2062
We should at some point clean up our dependencies a bit ...

2015-05-14 7:43 GMT+02:00 Eric Larson <notifications@github.com>:

[2015-05-14 12:54] teonlamont commented on #2047
[code]

[2015-05-14 14:10] Eric89GXL commented on #2062
FYI this is only a bug for building doc, not using the package.

[2015-05-14 14:13] dengemann commented on #2062
I know. But it's crazy that we rely on such hacks and high-level
dependencies to build docs. This is dangerous. If I could dictate I would
remove or isolate dependencies that go beyond the mne dependencies and the
regular scipy stack + testing + docs building.

2015-05-14 16:10 GMT+02:00 Eric Larson <notifications@github.com>:

[2015-05-14 14:24] Eric89GXL commented on #2062
In this instance, pyface is a dependency of `sphinx` itself so there is nothing we can do. Did you have other dependencies you can think of?

[2015-05-14 14:30] dengemann commented on #2062
Ah ok, got it. I think the last time we had some problems with pygraphviz,
but that only prevented some parts from building right? Take my statment as
future-oriented ;-)

2015-05-14 16:24 GMT+02:00 Eric Larson <notifications@github.com>:

[2015-05-14 15:12] jaeilepp commented on #2047
To me, this does look like a usage issue. It is up to the user to make sure every figure has a valid caption. If the user gives a single string, it would be easy to multiply it to every figure to satisfy the validator in the code, but with a list of strings the logic wouldn't work.

[2015-05-14 15:39] Eric89GXL commented on #2047
So maybe just a clear error like `2 figures were passed but only 1 caption was provided` would work?

[2015-05-14 15:40] dengemann commented on #2047
Sounds good to me.

2015-05-14 17:39 GMT+02:00 Eric Larson <notifications@github.com>:

[2015-05-14 15:42] Eric89GXL commented on #2047
any volunteer?

[2015-05-14 15:45] jaeilepp commented on #2047
I can do it. At the moment it reports 'Captions and report items must have the same length.'. I'll just add the number of items to the message...

[2015-05-14 15:46] Eric89GXL commented on #2047
@teonlamont okay with you?

[2015-05-14 15:54] teonlamont commented on #2047
well, there should be an option to make all the ICs one fig instead of generating multiple figures. If I am batching subjects and one subject has 20 (good) and another has 21 (fail). this is because we are automatically limiting the number of IC per figure.

[2015-05-14 15:57] dengemann commented on #2047
No more features for now.
Handle types? If it's a list, pass list of names?

[2015-05-14 16:06] teonlamont commented on #2047
the thing is that you don't know if it is going to exceed the IC figure limit or not. are you suggesting that the user should have in their code an isinstance check whether it is a figure or a list of figures?

[2015-05-14 16:12] dengemann commented on #2047
No you in that case. Please improve stuff on 0.10 master. We need to be serious about feature stops. This is no bug. The plot does what the docs say.

[2015-05-14 16:14] jaeilepp commented on #2047
It does seem weird to me too that there is a constant (20) in the code that determines the number of figures, but I'm not sure what is the best way for visualizing ICA components. Maybe we'll discuss it over the GSOC.

[2015-05-14 16:37] teonlamont commented on #2047
the simplest solution without really adding a feature would be to have a parameter that defaults to this. it's not in the documentation anywhere that this is the behavior. there is only one inline note that makes this clear. it's just frustrating when I am trying to make a simple report of ICs it breaks because there's this arbitrary IC limit that isn't explained anywhere.

[2015-05-14 16:40] dengemann commented on #2047
[code]

[2015-05-14 16:43] teonlamont commented on #2047
ok, didn't see it there.

-teon

On Thu, May 14, 2015 at 6:40 PM, Denis A. Engemann <notifications@github.com

[2015-05-14 16:44] dengemann commented on #2047
@teonlamont no question there is room for improvements. Let's be sharp about addressing bugs for now.

[2015-05-14 16:44] dengemann commented on #2047
@teonlamont no question there is room for improvements. Let's be sharp about addressing bugs for now.

[2015-05-14 16:44] teonlamont commented on #2047
ok fine, I personally don't think this is how the plotting should be
handled but I don't want this to be the issue to hold up the release.

-teon

On Thu, May 14, 2015 at 6:43 PM, Teon Brooks <teon.brooks@gmail.com> wrote:

[2015-05-14 16:46] dengemann commented on #2047
We agree. But development is over for 0.9. Next cycle.

2015-05-14 18:44 GMT+02:00 Teon L Brooks <notifications@github.com>:

[2015-05-14 17:00] agramfort commented on #2047
to sum up what's the plan here?

[2015-05-14 17:01] agramfort commented on #2062
ok works for me now with new pyface master...

[2015-05-14 17:01] dengemann commented on #2047
MNE 0.10, no bug. ENH.

2015-05-14 19:00 GMT+02:00 Alexandre Gramfort <notifications@github.com>:

[2015-05-14 17:06] teonlamont commented on #2084
reproduced using the sample data:

[code]

[2015-05-14 17:09] teonlamont commented on #2047
will we add a parameter for the n_ics per figure? Default is k n_ics, and None plots all ics in one figure?

[2015-05-14 17:12] dengemann commented on #2047
ok with me.

20 :)

will look rather crappy...

If you can make it nice go for it. I could not.

2015-05-14 19:09 GMT+02:00 Teon L Brooks <notifications@github.com>:

[2015-05-14 17:16] teonlamont commented on #2084
@Eric89GXL @dengemann I swear I want a release *tout de suite* but this looks like something that might need to be addressed.

[2015-05-14 17:25] Eric89GXL commented on #2084
I agree, this is a blocker

[2015-05-14 17:54] #2088 closed

[2015-05-14 19:09] choldgraf opened #2095 "Apply a function to Epochs object"
So right now I am representing some PSD data with a kind of janky solution where I calculate the PSD of each trial with `compute_epochs_psd`. Then, I take the output of that and create a new `Epochs` object with frequency as the final axis rather than time. In the `info['description']` field, I put a list of the frequencies, and then any time I read this from disk I overwrite the times with the fr

[2015-05-14 20:05] agramfort commented on #2095
if you preload the epochs the data is in epochs._data attribute

[2015-05-14 21:52] choldgraf commented on #2095
Ah I see - the reason I didn't think this was possible was because the `read_epochs` function doesn't have a "preload" flag. Looking through the code, I see that it just sets this to true automatically. Thanks for the clarification.

[2015-05-14 21:52] #2095 closed

[2015-05-15 11:57] teonlamont commented on #2084
closed for #2096

[2015-05-15 11:57] #2084 closed

[2015-05-15 14:15] dengemann opened #2099 "ENH/DOC: more structure to and cleanup examples in the general section"
- section on data io
- Unify reading and plotting examples,
e.g. read vs estimate copvariance
- MEG processing
- advanced processing
- forward / MRI stuff

[2015-05-15 14:19] Eric89GXL commented on #2099
I'm pretty sure we have an issue for this open already, can you deduplicate with that one?

[2015-05-15 14:26] agramfort commented on #2099
I am doing a pass on it now

[2015-05-15 15:58] Eric89GXL commented on #1109
You got the above comment in your current PR @dengemann, and I added the residual "cookbook" idea to #1495

[2015-05-15 15:58] #1109 closed

[2015-05-15 15:59] Eric89GXL commented on #1934
Rolled this into #1495

[2015-05-15 15:59] #1934 closed

[2015-05-16 13:51] jona-sassenhagen commented on #2027
This would be cool to have, I remember I was very confused by this a few times when I was starting out with MNE (as an EEG person).

[2015-05-16 14:46] #2099 closed

[2015-05-16 15:00] dengemann opened #2105 "FIX? sample.data_path(force_update=True, download=True) does not seem to download the newest dataset"
Am I missing something?

@Eric89GXL @agramfort

[2015-05-16 15:04] dengemann commented on #2105
On manual download I get version 0.7, the shrunk cov files are missing.

[2015-05-16 15:04] dengemann commented on #2105
Build november 2013

[2015-05-16 15:28] Eric89GXL commented on #2105
The shrunk cov files haven't been added yet. It probably is re-downloading fine, and we just need to update the dataset.

[2015-05-16 15:29] Eric89GXL commented on #2105
If you do it with `verbose=True` you should see the status update as it downloads to confirm it's updating.

[2015-05-16 15:29] dengemann commented on #2105
we should do that because otherwise the example will be broken on mne stable.

[2015-05-16 15:33] Eric89GXL commented on #2105
For now we'll have to work with Martin or Hari to get that done. I might know more on Wednesday that will allow us to do it ourselves, which is why I've been waiting.

[2015-05-16 15:35] Eric89GXL commented on #2105
I haven't considered it a blocker because I think we can get it working in short order, and the probability of someone hitting the issue in the couple of days there is a discrepancy should be small

[2015-05-16 15:36] dengemann commented on #2105
Well, a bunch of examples won't work without the update.

[2015-05-16 15:38] Eric89GXL commented on #2105
True, I think there are three or four that need it. I think the probability of someone hitting those in the intervening days is small, but if you disagree we can wait

[2015-05-16 15:41] Eric89GXL commented on #2105
...and you should work with Hari and Martin about getting it included

[2015-05-16 15:41] Eric89GXL commented on #2105
The file is here:

http://staff.washington.edu/larsoner/sample_audvis-shrunk-cov.fif

[2015-05-16 16:10] #2093 closed

[2015-05-16 16:11] #2083 closed

[2015-05-16 16:11] #2086 closed

[2015-05-16 16:58] Eric89GXL commented on #2105
Never mind, I'll take care of it

[2015-05-16 17:01] teonlamont commented on #2027
@jona-sassenhagen totally agree. I think it is because before MNE used to have a predominate MEG leaning since it's default filetype is FIF from Elekta. I think it is now coming around to be extremely powerful for EEG as well. This is why I would like to do away with blanket MEG defaults.

[2015-05-16 17:05] Eric89GXL commented on #2027
I think @dengemann's proposal should work for this particular case, @teonlamont do you agree?

[2015-05-16 17:07] agramfort commented on #2027
PR welcome

[2015-05-16 23:38] teonlamont commented on #2027
@Eric89GXL i agree with the proposal

[2015-05-17 12:43] agramfort opened #2108 "indexing Dipole"
it would be great to be able index instances of Dipole e.g. to do:

`dipole[dipole.gof > 0.8].plot_locations()`

we should be able to do:

[code]

as if we had 1d numpy array of dipoles.

@jmontoyam It would simplify your scripts.

[2015-05-17 17:43] Eric89GXL commented on #2108
@agramfort how urgently is this needed? It should be fairly straightforward so I could do it, but it might be good for a new contributor if they want to take it

[2015-05-17 20:04] agramfort commented on #2108
I think @jmontoyam should give it a try as a first contrib.

[2015-05-18 13:04] teonlamont opened #2109 "Combining runs with different dev_head_t"
I have data that from two different time periods but within the same session for a subject: Experiment A, B, A'. I took marker measurements at the beginning, in between, and at the end of each experiment. Is there a way to combine Raw objects that would have a different `dev_head_t` because of movement to have them in a common reference. I thought I read somewhere on here about an issue but I coul

[2015-05-18 13:42] mainakjas commented on #2109
cc @yousrabk :)

[2015-05-18 13:56] Eric89GXL commented on #2109
you have a few options, in order of approximate ascending quality:

1. Concatenate data and process as usual. (If it throws an error, you can "fake it" so each runs are the same.) Compute forward solutions for each run, and average them.

2. Use `mne_map_data` to remap the data. It's not implemented in mne-python yet, but @mainakjas has code to do some or all of the heavy lifting.

3. Use MaxFilte

[2015-05-18 15:00] kingjr opened #2111 "BUG: combine events?"
@teonlamont @dengemann
I'm unsuccessfully trying to run the combine_event example:

https://github.com/mne-tools/mne-python/blob/e6c9719a941e2dc9c39d80749d79c8349ed8896d/examples/make_event_id.py

It behaves as if @teonlamont's PR hadn't been taken into account:

[code]

Maybe I did something wrong, but haven't been able to find what.

[2015-05-18 15:06] teonlamont commented on #2111
@kingjr my pr was closed, i'm not sure how it made it into the example, but I have been thinking about raise the issue again. there are useful cases to have it included like the case you have.

[2015-05-18 15:07] dengemann commented on #2111
Ah ok, and the examples has been removed. So we can close ...

[2015-05-18 15:07] #2111 closed

[2015-05-18 15:17] mainakjas commented on #2109
@yousrabk has some code but she's having a rebasing nightmare. I'll see if I can take over the rebasing and hopefully you'll have something concrete @teonlamont :)

[2015-05-18 15:23] kingjr commented on #2111
Ah ok, I had thought it was merged, my bad. I'll try to see whether I can make use of https://github.com/mne-tools/mne-python/pull/1990.

[2015-05-18 15:35] yousrabk commented on #2109
Thanks @mainakjas :)
@teonlamont I started this code sometime ago, I didn't really test it. So test it on your data, btw I find some time to finish it.

[2015-05-18 15:46] teonbrooks opened #2112 "ENH: Denoising options for preprocessing"
It would be nice if we had some denoising options available for preprocessing data. A few options that I was thinking of tsPCA (Cheveigné, 2007), and CALM (Adachi, 2001), which can be a special case of tsPCA.

there's a package on git (https://github.com/pealco/python-meg-denoise) that contains an implementation, as well as source code (http://www.isr.umd.edu/Labs/CSSL/simonlab/Denoising.html).

u

[2015-05-18 15:47] teonlamont commented on #2109
cool, I will test it once it comes out of rebase purgatory. thanks @yousrabk and @mainakjas!!

[2015-05-18 15:54] agramfort commented on #2112
can you hack something with MNE using the python code? just to see how well
it works?

btw Alain de Cheveigné is in Paris so you could see him IRL :)

PS : don't spend one week on it :)

[2015-05-18 16:16] Eric89GXL commented on #2105
All better

[2015-05-18 16:16] #2105 closed

[2015-05-18 19:28] alexandrebarachant opened #2113 "channel position in plot_topomap does not always match head drawing"
In plot_topomap, channel positions are rescaled to match head drawing.

The rescaling is done here :
https://github.com/mne-tools/mne-python/blob/master/mne/viz/topomap.py#L240-L245
for each axis, it takes the min and the range, and stretch the coordinates so that the range cover the entire head.

This is fine when the montage is dense and "uniform", for example this one :
![image](https://cloud.g

[2015-05-18 22:05] Eric89GXL commented on #2113
We could have a `position_scaling='auto'` that you could set to `position_scaling='equal'` that would make it so the x- and y-scalings were equal. But that still wouldn't help with the alignment / centering issue, which is really the problem here. Maybe x=0 should always be in the center of the head, left-to-right? I wonder what that would look like. @dengemann @teonlamont I assume you use these t

[2015-05-18 22:46] teonlamont commented on #2113
it would be great if the scaling was based on all the channels but at that point the points have been selected. I think setting x=0 to be center is the most sensible option.

[2015-05-18 23:07] Eric89GXL commented on #2113
nevermind I'm on it

[2015-05-18 23:08] Eric89GXL commented on #2027
I'm on this one

[2015-05-19 00:06] mainakjas commented on #2109
@yousrabk : https://github.com/mainakjas/mne-python/tree/map_dev_head

sometimes cherry-pick is better than rebase :)

[2015-05-19 02:02] dengemann opened #2116 "ENH: add I/O for HCP MEG data"
I think MNE-Python should support HCP data processing.
Not only is this a timely thing, but it would provide us with many opportunities for testing and validating algorithms, etc.

This is a challenge for a couple of reasons:

- Native formats are BTI
- The HCP dataset does not ship the headshapes, this makes coreg impossible
- The data provided do not allow for conversion to the neuromag format (

[2015-05-19 09:45] yousrabk commented on #2109
Thanks @mainakjas :)

[2015-05-19 10:09] SherazKhan commented on #2116
Hi Denis,

I also fond HCP data hard to work with, after loosing all hopes, now I am
working with OMEGA dataset and found it much more open.
OMEGA: The Open MEG Archive
http://www.sciencedirect.com/science/article/pii/S1053811915003183

Soon I Will share my pipleline on the mne list for it.

Best

Sheraz

The information in this e-mail is intended only for the person to whom it is
addressed. If yo

[2015-05-19 10:57] agramfort commented on #2113
@alexandrebarachant thanks for the bug report. Please give a try to #2114 to see how well it fixes your problem.

[2015-05-19 12:49] dengemann commented on #2116
@SherazKhan we should also support the OMEGA datasets. I recently talked to the devs, it seems they won't have an API in the for downloading the datasets in the nearer future for downloading the data. How do you acceess the data programmaticaly? Please don't hesitate to share your code, we should add I/O and a pipeline to MNE.

[2015-05-19 13:31] kingjr opened #2119 "GAT params consistency?"
The parameters of the GAT are currently not 100% consistent.

Some are passed to ```__init__()``` (```clf```, ```cv```, ```train_times```, ```predict_mode```, ```n_jobs```) others are passed to ```predict()``` (```test_times```) or ```score()``` (```scorer```).

Historically this is because there's been a tension between adopting the sklearn style (all params at init) and practicality (we often te

[2015-05-19 13:33] SherazKhan commented on #2116
OMEGA hosting LORIS is very basic, I downloaded the data manually, over
long lunch and watching Interstellar :)

The information in this e-mail is intended only for the person to whom it is
addressed. If you believe this e-mail was sent to you in error and the e-mail
contains patient information, please contact the Partners Compliance HelpLine at
http://www.partners.org/complianceline . If the e-m

[2015-05-19 15:05] agramfort commented on #2119
:)

think about you but also the reason which is why you integrate this into
MNE : make this tool easy to use by others.

The reason we have sklearn API is because more and more people know sklearn
and they would pick up MNE fast if we follow its conventions. That's also
why we use numpy as much as possible. You reduce the learning curve...

in summary if it's just to save 1 line I am -1 :)

[2015-05-19 16:06] kingjr commented on #2119
Ok, but then you're ok to set ```test_times``` and ```scorer``` at init?

[2015-05-19 16:10] dengemann commented on #2119
Yes. Sounds more sklearnish to me.

[2015-05-19 16:12] kingjr commented on #2119
All right, it's settled.

[2015-05-19 16:59] kingjr commented on #2119
see https://github.com/mne-tools/mne-python/pull/2120

[2015-05-19 16:59] #2119 closed

[2015-05-19 18:58] teonlamont opened #2121 "Potential bug with concatenate_raws"
I tried to concatenate two `RawKIT` objects with `preload=True` for each and this worked fine. Then I tried `preload=False` and this gave an error when I tried `raw.preload_data()`. I get a
`ValueError: total size of new array must be unchanged` so I delved down in the code and found in `_read_segment`, the code isn't being told where file1 is stopping and file2 is beginning, it tries to read it a

[2015-05-19 19:21] agramfort commented on #2121
can you reproduce the pb with the test kit file we have in the repo?

-1 we should avoid API changes unless there is a clear API issue.

[2015-05-19 19:32] teonlamont commented on #2121
[code]

[2015-05-19 19:39] Eric89GXL commented on #2121
We also should check this for `EDF`, it probably suffers from the same issue.

[2015-05-19 19:41] agramfort commented on #2121
we need a generic test for Raw objects...

[2015-05-19 19:52] teonlamont commented on #2121
just confirmed that it does work for RawFIF.

does not work for RawEDF
[code]

[2015-05-19 20:18] alexandrebarachant commented on #2113
Thanks a lot.
I tried the code,

@Eric89GXL , you remove the offset cancellation (- x.min() ) so now there is a problem for channel position that have a different origin.

It is the case for the "biosemi" layout :
[code]

![image](https://cloud.githubusercontent.com/assets/2145718/7712892/0d496504-fe42-11e4-9264-e25fb27845e4.png)

I can make it works if I manually center the electrodes position on

[2015-05-19 20:38] Eric89GXL commented on #2113
So we can't assue that x=y=0 is considered "centered" on the head? That's unfortunate. I wonder if we should standardize that...

@alexandrebarachant I guess we could allow the user to specify the center and scalings for cases like this. Maybe `rescaling='auto'` should be what there is in this PR, and `rescaling=dict(center=(x, y), scale=(x_scale, y_scale)` would give the user full control. That c

[2015-05-19 20:39] Eric89GXL commented on #2113
@alexandrebarachant @agramfort @teonlamont @dengemann WDYT?

[2015-05-19 20:41] agramfort commented on #2113
whatever works as long as it stays simple :)

API you propose makes sense. Not sure if we can simplify.

[2015-05-19 21:01] alexandrebarachant commented on #2113
@Eric89GXL x=y=0 is considered "centered" on the head, this is where the electrode Cz is located.
The problem is that there is no consensus about the origin in electrode position file. For example, in the biosemi layout provided with mne, the coordinate of Cz is ( 0.41570618,  0.51256968 ).

Since you removed the centering, if the electrode position given to the function is not referenced to the s

[2015-05-19 21:07] Eric89GXL commented on #2113
@alexandrebarachant my point is that perhaps we should change the layout file so that Cz is at 0, 0 if that is indeed the standard. Then users wouldn't have to worry about setting the scaling in most cases.

[2015-05-19 21:10] agramfort commented on #2113
we did not create the layouts files they are shared between packages AFAIK.
Let's avoid creating our own world ;)

[2015-05-20 01:05] atalanti opened #2125 "no activation on source space on greater frequency bands"
Hello everyone!

In my raw eeg data i have activation in all frequency bands. I have computed tha dSPM values for my epochs for one event for each of delta,theta, alpha and beta slow and fast frequency bands separately and they are all different from zero (1-4.5). Delta band has bigger values (up to 6) than the rest of them but the difference is small. However when i apply the inverse operator and

[2015-05-20 01:06] haribharadwaj commented on #2049
Hmm.. So with my ABR file things are pretty slow.  Even if I just iterate over the epochs object from above as in:

[code]
Each print takes about a second! Because ```epochs.average()``` iterates, you get the kind of delays I talk about. I think I am going to give you guys the file to play with :P

[2015-05-20 01:12] Eric89GXL commented on #2049
Sure, I think I mentioned before you can record ~1 sec of data and then replicate with that, it will make the transfer less annoying. But the full file is also okay :)

[2015-05-20 01:29] haribharadwaj commented on #2049
So I pre-processed the data (essentially just filtering) and wrote a fif file:
http://nmr.mgh.harvard.edu/~hari/ABR_EPOCHING_WOES/I14L_3levels_ABR_raw.fif

Try the following on it
[code]

Thanks!

[2015-05-20 01:37] Eric89GXL commented on #2049
Wow, all caps on the folder name! This must be keeping you up at night...

[2015-05-20 02:17] Eric89GXL commented on #2049
I think I might have found the problem in reconstructing `raw.times` on every access. In making the code more DRY I might have slowed it ... I'll try to fix it tonight or tomorrow morning. @dengemann @agramfort we might want to get this one into 0.9 since it is a pretty brutal slowdown.

[2015-05-20 02:20] dengemann commented on #2049
Can we somehow consider this as a bug? ;)

[2015-05-20 02:54] haribharadwaj commented on #2049
Ahh! I see.. Thanks for the catch @Eric89GXL

[2015-05-20 03:41] Eric89GXL commented on #2049
Limiting the events to `[:1000]` took 42 seconds on my laptop, and with #2126 made it take 0.1 seconds. Sheesh. Sorry @haribharadwaj... can you see if the PR fixes your code?

[2015-05-20 04:03] haribharadwaj commented on #2049
Woah! With #2126, 10,000 trials got done in like a second! Awesome! Thanks @Eric89GXL

[2015-05-20 04:04] Eric89GXL commented on #2049
Welllll I did introduce the slow down in the first place so don't thank me too heartily

[2015-05-20 04:13] haribharadwaj commented on #2049
I think the speed up is way more than 400x

[2015-05-20 05:35] #2049 closed

[2015-05-20 11:48] agramfort commented on #2125
if you use the same noise cov for all frequencies then dSPM will be much
lower in high frequencies. You can fix this scaling problem by computing
the noise cov and an inverse operator after filtering the data in the band
of interest

HTH

[2015-05-20 11:50] agramfort commented on #2121
that's a release blocker to me... :(

can you have a look?

[2015-05-20 12:41] atalanti commented on #2125
Thank you very much.
Best
Atalanti

[2015-05-20 12:42] #2125 closed

[2015-05-20 14:34] Eric89GXL commented on #2121
I might have time this morning, unless @teonlamont you're on it already?

[2015-05-20 15:33] teonlamont commented on #2121
@Eric89GXL feel free to take the lead. I was only able to identify where it was working in fif.raw
https://github.com/mne-tools/mne-python/blob/master/mne/io/fiff/raw.py#L389. I can't get to it at the moment.

[2015-05-20 15:34] Eric89GXL commented on #2121
cool, I'm on it

[2015-05-21 01:50] #2027 closed

[2015-05-21 01:50] #2113 closed

[2015-05-21 16:03] dengemann opened #2130 "DOC: MNE tutorial outdated"
We should make the tutorial such that it reflects recent APIs.

[2015-05-21 16:03] dengemann commented on #2130
see http://martinos.org/mne/dev/python_tutorial.html

@mainakjas @teonlamont @Eric89GXL

[2015-05-21 16:06] Eric89GXL commented on #2130
So hold off on release until someone has time to do this? I *might* have time today.

[2015-05-21 16:07] dengemann commented on #2130
I'm tired I can do it now if someone can review.

2015-05-21 18:06 GMT+02:00 Eric Larson <notifications@github.com>:

[2015-05-21 16:08] Eric89GXL commented on #2130
sure, I can review

[2015-05-21 18:01] kingjr commented on #2069
All fixed in https://github.com/mne-tools/mne-python/pull/2072 but the colors for > 2 class.

[2015-05-21 18:01] #2069 closed

[2015-05-21 18:02] kingjr commented on #2068
All fixed in https://github.com/mne-tools/mne-python/pull/2072 and https://github.com/mne-tools/mne-python/pull/1965.

[2015-05-21 18:02] #2068 closed

[2015-05-21 18:03] dengemann commented on #2068
you closed this @kingjr ?

[2015-05-21 18:03] dengemann commented on #2068
ahh ok. I'm confused.

[2015-05-22 07:26] #2130 closed

[2015-05-22 15:47] teonlamont opened #2137 "BUG: Doc buliding has white space / ENH: Use sphinx-build"
Is it intended to have different fonts between the stable and the development websites?

[2015-05-22 15:48] Eric89GXL commented on #2137
No, they should be the same. @agramfort did something go wrong with your builds?

[2015-05-22 15:48] Eric89GXL commented on #2137
Oh, wait -- yes for just right now because the stable website hasn't been updated. @agramfort can you update it?

[2015-05-22 15:49] Eric89GXL commented on #2137
http://martinos.org/mne/stable/ does not reflect http://mne-tools.github.io/stable/

[2015-05-22 15:56] mainakjas commented on #2137
Also, is this gap / whitespace intentional?

![gap](https://cloud.githubusercontent.com/assets/3817535/7774443/cc77c95a-00ab-11e5-970c-ca5eedf93752.png)

[2015-05-22 16:03] Eric89GXL commented on #2137
No -- it might be some bug with `sphinx`

[2015-05-22 20:16] agramfort commented on #2137
the white gap will be fixed later. We'll switch to sphinx-gallery soon.

[2015-05-22 20:16] Eric89GXL commented on #2137
I'll change the title to be about that

[2015-05-22 20:17] Eric89GXL commented on #2137
I'm also going to make a new tag "Sprint 2015" and move this and some other doc issues there

[2015-05-22 21:07] dgwakeman opened #2138 "Whats New feature"
Idea for What's new page. Add link to the function page for each new feature. e.g.

Add SourceSpaces.save_as_volume method by Alan Leggitt
 would link here
http://martinos.org/mne/stable/generated/mne.SourceSpaces.html

Note, curiously, this is a bad example as the SourceSpaces does not describe a function titled save_as_volume

[2015-05-23 04:35] Eric89GXL commented on #2138
+1, I hope `sphinx` makes it easy. @dgwakeman have you used this feature before or know how hard it is to implement?

[2015-05-23 14:56] agramfort commented on #2138
See how sklearn does it

[2015-05-24 07:06] agramfort opened #2140 "mne.pick_info clean bads"
mne.pick_info should clean info['bads'] ie remove bad channels if not picked

cc @jmontoyam

[2015-05-24 07:09] agramfort opened #2141 "use sphinx-gallery for example page generation"
see https://github.com/jcrudy/py-earth/pull/77/files for a project that recently switched too.

I added support for mayavi. We to add support for slow example.

any volunteer?

[2015-05-24 19:41] Eric89GXL commented on #2141
I can do it at the sprint if not before. I don't think there's any rush.

[2015-05-24 19:46] agramfort commented on #2141
sure. I want to make sure we don't forget

[2015-05-24 19:48] Eric89GXL commented on #2141
marked as 0.10, that's an easy way to make sure it gets done in the next 4 months :)

[2015-05-25 12:59] teonlamont opened #2143 "ica.plot_sources is problematic if inst.info['bads'] != []"
When trying to plot ica sources, I run into an error:
[code]
but that's because my `epochs.info['bads'] = ['MEG 130']`. this channel is dropped properly when computing the ICA but it's not being handled properly with the underlying `_transform_epochs`. The function should take a `picks` and if `picks=None`, remove the bads.

Thoughts @dengemann?

[2015-05-25 13:16] jmontoyam commented on #2140
@agramfort

What do you think about this?
https://github.com/jmontoyam/mne-python/blob/fix-issue-2140/mne/io/pick.py#L299

[2015-05-25 14:06] teonlamont opened #2145 "Extend the click to label to ICA.plot_sources(Evoked)"
A nice feature to add would be to extend the click to label that we have for `Evoked.plot` to plot_sources when the input is an `Evoked`.

[2015-05-25 14:29] Eric89GXL commented on #2143
likely dup of #2140

[2015-05-25 14:32] dengemann commented on #2143
yes, this seesm to be a regression. I'm pretty sure this part of the code has been working.

[2015-05-25 14:54] jmontoyam commented on #2108
@agramfort, @Eric89GXL

What do you think about this solution?
https://github.com/jmontoyam/mne-python/blob/fix-issue-2108-Dipole/mne/dipole.py#L193

[2015-05-25 15:06] teonlamont commented on #2143
this is a bit different, it's not working for me. here's an example with the sample data:

[code]

[2015-05-25 15:24] agramfort commented on #2108
Open a PR please

Thx

[2015-05-25 15:40] dengemann commented on #2143
mhmm ...
ica.fit will ignore the bad channes by default.
I think I regularly pick bad channels at the Epochs stage why I don't have this issue.
In fact the semantics says that ica.ch_names only includes the channels used on fit.
I would not change this.
Not sure what would be a good deal.

[2015-05-25 15:43] Eric89GXL commented on #2140
@jmontoyam can you open as a PR? It's much easier to see what is original code and what has been changed. Plus then we get feedback from the automated testing services (Travis CI, AppVeyor)

[2015-05-25 16:47] dengemann opened #2149 "FIX/ENH: clims auto method can fail with thresholded maps"
common scenario: significant local activation after permutation clustering, all other vertices are zero, percentliles would yield

fmin=0, fmid=0, fmax=55.5

This could somehow be improved / fixed.

cc @wronk

[2015-05-26 16:36] Eric89GXL opened #2151 "FIX: Refactor raw tests"
There should be one set of raw tests that we run for all types of raw files we import. Preloading or not, concatenation, filtering, saving, loading, etc. Then each type of raw data can also have its own, much smaller set of tests to check that e.g. converted data match what mne-c produces.

[2015-05-27 07:58] #2121 closed

[2015-05-27 15:03] #590 closed

[2015-05-27 16:48] wronk commented on #2149
First thing that comes to mind is to check for zeros and exclude those from the percentile calculation. But then there will be issues if the vertex values aren't all positive. I could also ask in the params if the map has been thresholded, but that seems to clunky too.

Do you have any good ideas as to how to accomplish this without trying to handle too many special cases?

[2015-05-27 21:12] agramfort commented on #2149
removing all the zeros from the computation seems fair. It will also nicely
handle sparse estimates

[2015-05-27 21:12] dengemann commented on #2149
handle sparse estimates

+1

[2015-05-27 22:00] wronk commented on #2149
I'm hesitant to start throwing values out in this calculation because I can't shake the feeling that we'll fix this corner case and end up with many more unforeseen issues. I can give that a shot and see if it gives any weird issues.

Sidenote: your example issue with fmin/fmid being equal should only occur if you manually defined the percentages, right (using the `lims` key in `clims`)? If using

[2015-05-28 02:12] dengemann commented on #2149
it also fails with 'auto' if this is your question.

Maybe we could have some conditional that checks if there are values that are strictly zero. If this is the case use non-zero values, else all.
That would simplify to using non-zero values ;)

[2015-05-28 10:06] dengemann opened #2157 "FIX: backport raw.plot proj toggle to 0.9/maint"
How to reproduce?
With sample data plot with show_options=True then move up and down through channel groups and toggle projs.

[code]

[2015-05-28 12:14] kingjr opened #2158 "BUG: threshold free cluster enhancement when 1 values has std=0."
I am using `spatio_temporal_cluster_1samp_test` with a dict `threshold` so as to perform a threshold free cluster enhancement (TFCE) on GeneralizationAcrossTime (GAT) matrices.

I want to test whether some lines of the GAT matrix significantly differ from the diagonal of the matrix across subjects.

This difference (`X - np.tile(np.diag(X), [X.shape[0], 1])`) automatically makes the value on the d

[2015-05-28 12:23] dengemann commented on #2158
Excluding the diagnoal values seems the easies to me. Least effort to
implement. And why do you wanr to test features where testing does not make
any sense (the diagonal in that case)?

2015-05-28 14:14 GMT+02:00 J-R King <notifications@github.com>:

[2015-05-28 12:25] dengemann commented on #2158
Althouth nanmean and nanstd could be options for the ttest_1samp ...
But then you need to backport those, they are not available in old numpy
versions.

2015-05-28 14:22 GMT+02:00 Denis-Alexander Engemann <
denis.engemann@gmail.com>:

[2015-05-28 12:37] kingjr commented on #2158
The idea is that you want to know whether the classifier is stable across time: figure 3 black lines versus purple lines:
http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0085791

[2015-05-28 12:37] kingjr commented on #2158
if the np.isnan exists, that's not too hard to do

[2015-05-28 13:36] Eric89GXL commented on #2158
I don't know anything about this application, but I want to point out that we already have a "robust" `ttest_1samp`, use `ttest_1samp_no_p(..., sigma=1e-3)` and you should be good. It constrains the minimum variance to be at least some factor smaller than the maximum variance when doing a bunch of comparisons. But it only makes sense to use if you expect your variances to be on the same order of m

[2015-05-28 13:43] Eric89GXL commented on #2157
`matplotlib`'s problem:

https://github.com/matplotlib/matplotlib/issues/2654

[2015-05-28 13:44] Eric89GXL commented on #2157
Oh boy, the bug is a year and a half old...

[2015-05-28 13:52] Eric89GXL commented on #2157
We could try what seaborn did and use `fig.set_tight_layout` as well for the tight layout code:

https://github.com/mwaskom/seaborn/pull/546/files

[2015-05-28 15:41] agramfort commented on #2149
true zeros never happen by chance. They are meant to be ignored from
visualization.

[2015-05-28 15:46] Eric89GXL commented on #2149
@wronk I can take care of this one if you want, I'd rather have your brain power going toward the GSoC projects :)

[2015-05-28 15:47] dengemann commented on #2149
@Eric89GXL you're max-filtering @wronk <https://github.com/wronk> --
removing external nerd-sniping fields ;)

2015-05-28 17:46 GMT+02:00 Eric Larson <notifications@github.com>:

[2015-05-28 16:13] agramfort commented on #2157
sounds like a plan...

[2015-05-28 16:15] wronk commented on #2149
Haha, sure.

Will the `auto` limits change if you detect thresholding? Say you threshold and find 100 vertices that make some arbitrary significance cutoff. If you use percentiles, then only 4 of them will be at or above `fmid` now.

[2015-05-28 16:16] dengemann commented on #2149
@wronk I think it's not relevant if you don't have zeros in your data. If you have zeros in your data this because you applied a mask. Then using non-zero values is what you want.

[2015-05-28 17:03] #2143 closed

[2015-05-28 17:21] wronk commented on #2149
Ya, okay. A mask would have to be applied pretty deliberately, so that makes sense.

[2015-05-28 17:23] dengemann commented on #2149
This is what we do in our examples.

2015-05-28 19:21 GMT+02:00 wronk <notifications@github.com>:

[2015-05-28 18:04] jhouck opened #2160 "Inconsistency in head positions (translations) reported by maxfilter vs. get_chpi_positions"
The translations I get from get_chpi_positions differ considerably from what I see in the maxfilter gui.  The last sample in the maxfilter gui is 352.013s, where yaw is 9.8, roll is -1.6, and pitch is -17.s.  Translation in the x, y, and z directions respectively is -1, -3, and -9 mm.

The output I get from get_chpi_positions differs somewhat (see https://gist.github.com/jhouck/d7cbf397c2c15581138

[2015-05-28 18:06] dengemann commented on #2160
Jon, is this as suspected what drives your rank values?

2015-05-28 20:04 GMT+02:00 Jon Houck <notifications@github.com>:

[2015-05-28 18:11] Eric89GXL commented on #2160
Are you getting the positions from a text file or from a raw instance? If it's the latter, what `t=0` means might differ. Maxfilter probably doesn't subtract off the "initial skip" whereas mne-python does. You can figure out the time difference from `raw.first_samp / raw.info['sfreq']`. See the Notes section here:

http://martinos.org/mne/stable/generated/mne.get_chpi_positions.html#mne.get_chpi_p

[2015-05-28 18:17] jhouck commented on #2160
@dengemann It's a candidate; the idea was to examine each maxfilter processing step separately to see where things broke down.  And they broke down immediately. :) At this stage nothing much has happened to the file and the rank is probably accurate as reported by raw.estimate_rank as 306.

[2015-05-28 18:20] jhouck commented on #2160
@Eric89GXL Unfortunately the results are about the same, although the text file rounds off after 2 digits.  Using the last sample in the raw file the translations are 0.66559356,  5.50761972, 47.74046205; using the last sample of the text file they are 0.67,   5.51,  47.74.

[2015-05-28 18:21] Eric89GXL commented on #2160
I don't get it, aren't those the same?

[2015-05-28 18:34] jhouck commented on #2160
They're the same as each other, not the same as the  -1, -3, and -9 reported by the maxfilter gui.

[2015-05-28 18:47] choldgraf opened #2161 "Discrepancy between docstring and code for GeneralizationAcrossTime"
Hey all - I was looking into the default behavior of the GAT class, and there seems to be a difference between the docstring and the code for when the user does not provide their own fitting class:

From the docstring:

    clf : object | None
        An estimator compliant with the scikit-learn API (fit & predict).
        If None the classifier will be a standard pipeline including
        Stand

[2015-05-28 18:59] dgwakeman commented on #2160
I believe the gui is just doing an annoying subtraction from the initial head position. Check if the initial value close to  [0 0 0]. The numbers the gui says are shown using the same data as maxfilter produces in the text file output. guis suck...

[2015-05-28 20:02] atalanti opened #2162 "no vertices for label"
Dear mne-python users,

I am trying to compute the connectivity with pli at the source space. My epochs regard the response to an auditory stimuli. As a label file I am using the one of fsaverage which contains 68 labels. My source space is made with oct-6.
When I run the code (which like is the one in the example plot_mne_inverse_label_connectivity.py)

I take the following error:
Traceback (most

[2015-05-28 20:05] dgwakeman commented on #2162
Hi Atalanti,

This is probably a better question for the mne_analysis mailing list. But just to get you started, it sounds like you are trying to use a label on fsaverage on an individual's source space. These will not match. You should either morph the data to fsaverage, or morph the label to the individual.

HTH
d

[2015-05-28 20:14] jhouck commented on #2160
@dgwakeman You must be right -- the manual says that "The x, y and z coordinates [ mm ] represent positions of the SSS expansion origin (r0) in respect to the device coordinate point (0, 0, 0)" (p.49). In this case no SSS was performed but it did the subtraction anyway.

By the way, is there any SSS-processed sample data available?  I'd seen a reference to it in an old issue, but I didn't see it i

[2015-05-28 20:17] choldgraf commented on #2161
(I am happy to fix with a quick PR but let me know if the docstring should read LogisticRegression, or if the code should be changed to LinearSVC)

[2015-05-28 20:31] dgwakeman commented on #2160
Hmm. actually, I think the text you quoted means that it should be relative to device coordinates not the initial fit point (though, in my mind it is likely a documentation bug of neuromag's: I would recommend emailing neuromag). After checking the manual's (2.0, 2006, newest version I have) gui section I see the "log window" figure, which has shockingly small values given the text you read in you

[2015-05-28 21:08] Eric89GXL commented on #2162
Yeah, you have to use labels for the individual subject. You can morph them from fsaverage to your subject if you want, but it would be cleaner to use `read_labels_from_aparc` for the specific subject instead. I'm going to go ahead and close this, feel free to reopen if that doesn't solve your problem.

[2015-05-28 21:08] #2162 closed

[2015-05-28 21:17] agramfort commented on #2161
Indeed PR welcome

[2015-05-28 21:30] choldgraf commented on #2161
So which would you like? Should the docstring match the code, or the code match the docstring? I don't know what the original plan was.

[2015-05-28 21:32] haribharadwaj opened #2163 "API for mixed source space inverses"
So with Alan's work, we now have support for mixed source spaces. The forward modeling once you have a mixed source space seems straightforward (already in place). However, with the inverse, there are some use cases that need to be sorted out: Ideally, orientation constraints should be supported for the cortical surface source space and loose solutions for the deep structure(s). What should the AP

[2015-05-28 21:47] agramfort commented on #2163
Indeed

Dict for loose param

[2015-05-28 21:48] agramfort commented on #2161
Update docstring

[2015-05-28 21:49] Eric89GXL commented on #2163
we could have it be a list the same length of the source spaces, that way if you wanted free for one volume and loose or fixed for another you could... but maybe that's YAGNI

[2015-05-28 21:50] Eric89GXL commented on #2163
in which case I guess the entries would be `surf`, `volume`, and `discrete` for the three types of source spaces? I guess we could always also add list support later.

[2015-05-28 21:53] agramfort commented on #2163
Yes

[2015-05-28 22:05] choldgraf commented on #2161
Check out #2164

[2015-05-28 23:18] Eric89GXL commented on #2163
@haribharadwaj you up for implementing?

[2015-05-29 01:11] haribharadwaj commented on #2163
Yes.. I'll start playing with this :).. I have been separately trying to figure out the differences between gradiometers and magnetometers in terms of subcortical sensitivity.. I'm sure I'll ping you guys again with questions soon.

[2015-05-29 07:03] agramfort commented on #2163
sounds great !

[2015-05-29 07:03] #2161 closed

[2015-05-29 10:13] dengemann opened #2165 "FIX/ENH: permutation_t_test inefficient for many perumations and and big input matrices"
I suspect the reason is here:

https://github.com/mne-tools/mne-python/blob/master/mne/stats/permutations.py#L54

To give a simplified example:
If you have 50000 permutations, 5 jobs, and fsaverage source space data for a group of subject these dot products become heavy as via array split `perms` would be of size 10000, n_samples

Symptoms:
- computers die from memory and swapping limits

We shoul

[2015-05-29 10:14] dengemann commented on #2165
cc @Eric89GXL @agramfort

[2015-05-29 10:25] dengemann commented on #2165
To be added: running the with 1 job is not a problem.

[2015-05-29 10:35] jona-sassenhagen commented on #1939
I'm cleaning up the above code a bit (while I'm struggling to get viz.topo handled ...). Q: it requires Pandas right now. Pandas is afaik a soft dependency. Can I use Pandas for this function, or should I try to do without? If Pandas is okay, I'd clean up the code and make a WIP PR.

[2015-05-29 12:29] dengemann commented on #2165
It turns out it's simply the dot products's memory consumption.
1 big dot product (n_jobs=1) is still ok, but all the copies generated by parallel force computers down.
We could write an inner loop that specifies a buffer size and makes sure the length of `perms` does not exceed 1000 or so.

[2015-05-29 12:31] dengemann commented on #1939
Please try to avoid pandas. We don't want it in our core functions, maintaining pandas is really challanging as they update so often that deprecation cycles are meaningless practically, the pandas code changes too fast to be fun at a library level.

[2015-05-29 14:05] agramfort commented on #2165
whatever works

[2015-05-29 15:46] jhouck commented on #2160
These raw files also include the initial HPI measurement. Would this also be a contributing factor?  All of my raw data with cHPI were collected this way.

[2015-05-29 15:53] Eric89GXL commented on #2160
I'm not sure the best way to figure out how Elekta is calculating those values in their program. At this point I don't think the problem is at our end, since both reading from the raw channels and reading from the `.txt`/`.pos` file given by Maxfilter produces the same result. So this seems to be an Elekta software mystery, where they are doing something other than reporting those values in whatev

[2015-05-29 16:01] jhouck commented on #2160
True -- as long as the relative deviations over time are accurate, which they appear to be, the absolute position doesn't really make a difference.

[2015-05-29 16:42] Eric89GXL commented on #2165
Yeah it should be simple enough to do it in chunks, the speed penalty should be small. you can even just keep track of the max on each loop since at the end that's what it's doing anyway.

[2015-05-30 07:40] #2157 closed

[2015-05-30 08:18] dengemann commented on #2157
Thanks Eric for taking care of this!

2015-05-30 9:40 GMT+02:00 Alexandre Gramfort <notifications@github.com>:

[2015-05-31 05:16] Eric89GXL opened #2170 "FIX: io.bti coverage"
@teonlamont any ideas on how to improve this?

https://coveralls.io/builds/2689771/source?filename=mne%2Fio%2Fbti%2Fbti.py

For example, `_read_ch_config` is about 50 lines (including comments) and isn't tested at all.

Do you know of any small files we could add to the testing dataset that would improve our coverage? It looks like a MAGNES2500 file might help?

There is also a section with `if Fa

[2015-05-31 10:45] dengemann commented on #2170
I can look into this next week, I know this code well ;)
We have a config file there that  can be used.

2015-05-31 7:16 GMT+02:00 Eric Larson <notifications@github.com>:

[2015-05-31 13:48] jona-sassenhagen commented on #1939
I now have code w/o pandas. One last question before I make a PR: what module should this be in? mne.viz.topo?

It would include one probably internal helper function for automatically assigning channels to ROIs.

[2015-05-31 18:07] teonlamont commented on #1939
I would say under viz for now.

[2015-05-31 18:09] teonlamont commented on #1939
Is it for evokeds only? if so viz.evoked is probably the right way to go

[2015-05-31 18:26] agramfort commented on #1939
+1

[2015-06-01 05:51] #2149 closed

[2015-06-01 13:58] #2108 closed

[2015-06-01 14:42] jona-sassenhagen commented on #1939
@teonlamont : it's for evokeds, but it can hardly be a method of Evoked as it's used for multiple conditions. So I guess a function sitting under viz.evoked is a good idea.

[2015-06-01 14:57] jona-sassenhagen commented on #2004
@kingjr sorry I'm stuck again. Currently, what I'm doing is (following the gists):

- gat.fit on A vs. B
- gat.predict A, B, and (with 'mean-prediction') C
- plot, separately for each condition, the ratio of correct predictions

I get huge baseline effects. For example, if I plot gat.predict(C), I have >70% accuracy in the pre-stimulus area, and when I plot gat.predict(A), I have ~30%. This is off

[2015-06-01 15:07] agramfort commented on #1939
sounds good

[2015-06-01 21:42] Eric89GXL opened #2174 "BUG: Covariance calculation with mode='pca'"
I modified the test in `test_cov.py` to test all covareance estimation methods around here:

https://github.com/mne-tools/mne-python/blob/master/mne/tests/test_cov.py#L444

This effectively added a test for the `pca` mode, which didn't seem to be tested before, and it failed. cc @dengemann

[2015-06-01 22:03] Eric89GXL opened #2175 "Q: `epochs_` in evoked name"
I used to create epochs from a bunch of event types, then do multiple manipulations on them ending with:
[code]
This used to give me an evoked instance where `evoked.name == 'condition_1'`, but now I get `evoked.name == 'epochs_condition_1'`. This seems like a backward-incompatible change, but somehow it has been around for over a year (`git blame` around line 1280 in `epochs.py` traces it back to

[2015-06-02 02:50] choldgraf commented on #2024
Random update - running CWT_wavelet on individual epochs and storing them as a complex128 array is taking up ~8GB of disk space for me. This is with roughly 200 trials, 60 channels, 50 freqs, and 600 timepoints. I just wrote a simple class to handle I/O for me right now, which basically just does this:

[code]
This is after downsampling the signal from 1000Hz to 100Hz (post-TFR decomp). I haven't

[2015-06-02 06:58] agramfort commented on #2175
looks like a bug to me. This epochs_ should not be there :(

[2015-06-02 07:05] agramfort commented on #2024
looks useful to me

[2015-06-02 13:50] Eric89GXL commented on #2175
Do you remember the logic you were going for? It basically sets the name of the selected object based on whether or not the orginal object had a name != 'Unknown' (but not incorporating the original name at all). I'll go ahead and fix it. Should we backport to 0.9?

[2015-06-02 14:04] dengemann opened #2176 "ENH: GAT object should scorer strings as in sklearn.cross_val_score at all."
It seems the scoring API is a bit broken, the code does not allow for scorers that require the classifier as inputs. But this cannot even be fixed using partial function as the clf is copied inside.
cc @kingjr

[2015-06-02 14:27] kingjr commented on #2176
I wasn't aware of this prerequisite. Can you make an example where the scorer needs the classifier?

[2015-06-02 14:35] teonbrooks opened #2177 "ENH: Regression"
A few enhancements to the regression module:

- [ ] add `picks` param and auto pick MEG and EEG when `picks=None`

[2015-06-02 15:44] teonlamont opened #2178 "Question: decim after reading epochs"
Is there a way to decimate Epochs read in with mne.read_epochs? There's the resampling method but it's doing something different than `mne.Epochs(..., decim)`? If there isn't, should we add the parameter to `mne.read_epochs`?

[2015-06-02 15:47] Eric89GXL commented on #2178
I think we should just add a `.decimate(n)` method

[2015-06-02 16:09] choldgraf commented on #2024
I should say, the morlet wavelet CWT finished in about 10 minutes, so that's not a trivial amount of time, though not a huge amount of time either.

Personally it would be useful to be able to just load full epoched TFR information into memory so I can do branching-off analyses from there. Certainly saves time as you have more and more datasets (especially since you currently can't use joblib for

[2015-06-02 16:55] leggitta opened #2180 "FIX: saving RawEDF"
Trying to use the save method in a RawEDF object creates the following error ...
![screenshot from 2015-06-01 16 34 00](https://cloud.githubusercontent.com/assets/1099867/7941636/7f7d2b9e-090d-11e5-82b0-489967625512.png)

[2015-06-02 17:01] agramfort commented on #2178
Why not decimating when creating epochs?

[2015-06-02 17:02] teonlamont commented on #2178
I forgot :( and macbook is weak :((

[2015-06-02 17:04] teonlamont commented on #2180
if you debug here, what's the value of stim_channel?

[2015-06-02 17:06] leggitta commented on #2180
For me its 72

[2015-06-02 17:12] agramfort commented on #2178
Rerunning will be faster than doing a PR ;)

[2015-06-02 17:55] teonlamont commented on #2178
you haven't met my 5 yo two-core system ;) but aside from my data, do you think that would be a useful feature? for instance, if you have data generated with `EpochsArray` from some mat file, or `read_epochs*`, those files can't be decimated post-creation

[2015-06-02 19:05] #2145 closed

[2015-06-02 19:08] choldgraf commented on #2024
Here's what I have now...worth opening a PR?

[code]

[2015-06-02 19:10] Eric89GXL commented on #2180
Can you upload a sample file somewhere for us to try it, and give a minimal script?

[2015-06-02 19:43] agramfort commented on #2178
I am -0.5 on this. There should be ideally 1 way to do things. We offer
this at Epochs creation.

my 2c

[2015-06-02 19:46] jona-sassenhagen commented on #2178
Seems like a useful feature for example if you want to 1. have many sampling points for a data-hungry preprocessing stage like ICA, but want to 2. run a later analysis step on decimated epochs to save time.

Dropping epochs from an Epochs object by amplitude is a similar thing.

Maybe Epochs could take not only Raw, but also Epochs instances, so the __init__ stuff could simply be reused?

[2015-06-02 19:49] dengemann commented on #2178
@agramfort , @fraimondo and I but also @kingjr are using privately
functions to decimate after epochs creations, there are sevaral use cases.

I'd be +50 for adding a tested epochs.decim function.

Fede and I are using it for experiments where we compute down-sampled
epochs (that we store) and later apply several decimation factors.

2015-06-02 21:46 GMT+02:00 jona-sassenhagen <notifications@githu

[2015-06-02 19:51] agramfort commented on #2178
ok you win...

[2015-06-02 19:54] kingjr commented on #2178
Yes, I'm also super +1 for epoch decimation. The most classic scenario is people sending me heavy epoched data.

[2015-06-02 20:11] leggitta commented on #2180
Sure. The files I'm analysing are about 1 GB each, but I'll find a smaller one to work with.

[2015-06-02 20:25] leggitta commented on #2180
I've uploaded a sample .bdf with a short code that reproduces the error to the following repo

https://github.com/leggitta/SampleBDF

[2015-06-02 20:39] #2175 closed

[2015-06-02 22:59] kambysese commented on #1971
The updates seem to help but not completely solve the issue. Less frequently having to change the sample freq for calculating projectors. Closing this .

[2015-06-02 22:59] #1971 closed

[2015-06-02 23:10] teonlamont commented on #2180
@leggitta it seems to work with you preload the data. with the stim_channel, by default, it automatically detects the channel, which is the Status so you don't need to specify it.

@Eric89GXL do you have any clue why save breaks with `preload=False`

[2015-06-02 23:22] kingjr commented on #2176
In http://scikit-learn.org/stable/modules/classes.html#module-sklearn.metrics, I only see scorers that requires y_true and y_pred, or alike, but I guess I'm missing something.

Are you referring to `cross_validation.cross_val_score(estimator, X)`? In our case, the cross val is already implemented within the GAT.

[2015-06-02 23:26] dengemann commented on #2176
@kingjr sklearn.metrics.SCORERS['roc_auc'] returns a function that would take the clf as input too.
I'm just saying we would need this kind of handling inside the gat.
Ultimately I would like to simply pass socring='roc_auc' as I do in cross_val_score.

[2015-06-02 23:37] dengemann commented on #1939
I think all agree here.

[2015-06-02 23:42] kingjr commented on #2176
Right... I need to think about this. But in the meantime, you can just use `scorer=sklearn.metrics.roc_auc_score` no?

[2015-06-03 00:41] kingjr commented on #182
On this topic: there's a library available here: https://github.com/circstat/pycircstat

and for circular linear correlations, you may use this: https://gist.github.com/kingjr/83b59b518cd1546d2d00

[2015-06-03 07:06] agramfort commented on #182
thx

why did you use this gist for?

[2015-06-03 07:10] agramfort commented on #2024
what is needed is a way to generate such objects. The API of this object is
next.

[2015-06-03 07:30] teonlamont commented on #2178
anybody want to share their private method and/or start a pr?

[2015-06-03 07:32] agramfort commented on #2175
yes please backport.

[2015-06-03 12:25] fraimondo opened #2183 "BUG: RawArray `_repr_` function fails with `IndexError: list index out of range`"
When printing a RawArray object, the `_repr_` function access `self._filenames[0]`, but since it's a RawArray object, it's an empty list, causing a `IndexError: list index out of range`.

[2015-06-03 12:26] kingjr commented on #2178
I just did this:
[code]

[2015-06-03 12:30] kingjr commented on #182
I needed to test whether my sensors/sources vary as a function of the angle of a Gabor patch. That's pretty specific...

But the function is generic; for instance, you can use it to test if the amplitude/the power of a sensor/source is correlated with the phase of another.

[2015-06-03 12:44] fraimondo commented on #2178
We did something like this, although it's part of a bigger module that allows us to subsample in spatial or temporal manners.

[code]

[2015-06-03 14:46] Eric89GXL commented on #2180
No, I don't know why that would break it. I guess our tests aren't comprehensive enough.

[2015-06-03 14:47] agramfort commented on #2180
:( :(

[2015-06-03 15:20] Eric89GXL commented on #2183
I can fix this one

[2015-06-03 15:24] Eric89GXL commented on #2175
@agramfort done

[2015-06-03 15:26] agramfort commented on #2175
Thx

[2015-06-03 17:47] leggitta commented on #2180
@teonlamont Thanks! I hadn't tried using ```preload=True```. Initially,

[2015-06-03 17:48] choldgraf commented on #2024
Cool - should this kind of code be roped into a PR that includes functions that return single-trial TFR? Seems like it could get confusing to have them separate. I don't have time to work on changing the TFR functions in earnest right now...maybe something I can work on while in France?

Otherwise, somebody else is more than welcome to take the code above and roll it into their own PR. I'm just go

[2015-06-03 17:55] leggitta commented on #2180
sorry, accidentally hit close and comment.

Initially, I was worried about memory since I'm working with large files (I was trying to read them as .bdfs, crop them, and then save the smaller chunks as .fif files), but it turns out I have enough memory on my machine to read each file using ```preload=True```.

[2015-06-03 19:53] agramfort commented on #2180
so there is only a pb with preload=False?

[2015-06-03 19:55] agramfort commented on #2024
let's keep this for the sprint in Paris this summer

[2015-06-03 20:09] choldgraf commented on #2024
That still happening? Last I heard you guys were waiting on funding. Either
way I've booked my flights: into paris on the 6th, out on the 28th.

On Wed, Jun 3, 2015 at 12:55 PM, Alexandre Gramfort <
notifications@github.com> wrote:

[2015-06-03 20:13] agramfort commented on #2024
we have the funding now :)

[2015-06-03 20:14] leggitta commented on #2180
yes. I also tried a ```preload=tmp.txt``` and it worked

[2015-06-03 20:15] choldgraf commented on #2024
Wohoo!
:moneybag:

[2015-06-03 20:15] agramfort commented on #2180
did someone reproduce?

[2015-06-03 20:26] Eric89GXL commented on #2180
I can try it

[2015-06-03 21:08] Eric89GXL commented on #2180
Reproduced and fixed (I think). @leggitta can you see if #2184 fixes it?

[2015-06-03 21:20] leggitta commented on #2180
Yes, that fixed it for me.

[2015-06-03 21:22] Eric89GXL commented on #2180
Thanks for the quick check @leggitta

[2015-06-04 07:25] #2180 closed

[2015-06-04 07:25] #2183 closed

[2015-06-04 12:18] dengemann commented on #1848
some more food for thoughts:

http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=21D16E681FF16B0BA91D741A63806A31?doi=10.1.1.29.5194&rep=rep1&type=pdf

http://epub.ub.uni-muenchen.de/4134/1/tr030.pdf

[2015-06-04 12:31] dengemann commented on #1848
Salzberg says:

"(It may be tempting, because it is easy to do with powerful computers, to run many cross
validations on the same data set, and report each cross validation as a single trial. However this would not produce valid statistics, because the trials in such a design are highly
interdependent.)."

On the otherhand this is essentially what Eugster and colleagues propose and what is impleme

[2015-06-04 14:14] dengemann commented on #1848
More materials:

http://stats.stackexchange.com/questions/17408/how-to-assess-statistical-significance-of-the-accuracy-of-a-classifier

[2015-06-04 14:16] dengemann commented on #1848
cc @cmoutard

[2015-06-04 14:34] teonlamont opened #2185 "legend as a subplot"
I was noticing in the new tutorial (thanks @dengemann) that we have a rather large legend. I was wondering if we should make an option for the legend to be a subplot of the figure, or a separate figure. That would be ideal when using figures in papers or posters to be able to retrieve separate handle

[2015-06-04 14:47] agramfort commented on #2185
can you provide a pointer to what your talking about?

[2015-06-04 15:02] teonlamont commented on #2185
http://martinos.org/mne/stable/auto_examples/io/plot_epochs_to_data_frame.html

![plot_epochs_to_data_frame_001](https://cloud.githubusercontent.com/assets/1578674/7987058/74fe57a4-0adb-11e5-8398-396cfdc19552.png)

[2015-06-04 15:03] Eric89GXL commented on #2185
We should get rid of the legend. With that many lines it is not
particularly useful.

[2015-06-04 15:03] dengemann commented on #2185
This is not a good example, it does not use any mne viz API.

2015-06-04 17:02 GMT+02:00 Teon L Brooks <notifications@github.com>:

[2015-06-05 13:17] dengemann opened #2186 "FIX/ENH: picking channels should update the info['bads']"
But it does not.
This can lead to bugs.
The culprit is `pick_info`, it does not look at the bads.
Only the picked bads should remain.

cc @mainakjas @teonlamont @Eric89GXL

[2015-06-05 13:18] agramfort commented on #2186
see https://github.com/mne-tools/mne-python/pull/2148 :)

@jmontoyam needs to finish. Or take over of you're in a hurry.

[2015-06-05 13:19] dengemann commented on #2186
Ahh this was it. Closing then.

[2015-06-05 13:19] #2186 closed

[2015-06-05 16:45] ImmanuelSamuel opened #2187 "plot_topo image in ipython is small and clicking on a plot doesnt open a bigger image."
How to rectify?
![image](https://cloud.githubusercontent.com/assets/7865018/8010732/a9ff4620-0b80-11e5-8408-1335a4abe344.png)

[2015-06-05 18:20] choldgraf commented on #1963
Jumping back in this conversation with another thought - what if there were just added functionality to include a unique event ID with the "events" array? AKA, rather than implementing a bunch of extra metadata functionality, we just allow the user to supply an event ID for each row of "events". That way, people can use whatever metadata system they want, but they have at least one number that tie

[2015-06-05 18:26] kingjr commented on #1963
@choldgraf I actually do this in practice. Note that the epochs `__repr__` then becomes horribly long then... And then you have to manually deal with epoch concatenation.

[2015-06-05 18:31] choldgraf commented on #1963
Couldn't you currently do this with the "description" field in "info"? If it's not worth implementing as a part of MNE, I was thinking of just including a dictionary for the description that contains an entry "event_unique_id" with a list of the same length as n_events.

[2015-06-05 19:13] kingjr opened #2188 "EHN: GAT optimization"
@dengemann @agramfort

I'm trying to increase the speed of the GAT, and thought of initializing each classifier with the coef found in the preceeding time sample. The data is highly correlated from one clf to the next, so you could gain a lot of CPU time.

This would be potentially feasible with SGDClassifier, thanks to the `warm_start` option. However, @agramfort mentioned that it's one of the cl

[2015-06-05 21:43] choldgraf opened #2189 "I/O for time gen class"
I've been running some time gen models, and a tricky problem I've come across is how to deal with I/O. The model fitting (well, the predictions actually) can take a really long time, so I'd prefer to have one script do all the model fitting, and another script that looks at the results.

However, right now I don't have a good system for reading / writing from disk. I am wondering if it'd be worth

[2015-06-05 22:10] ImmanuelSamuel commented on #2187
Right now using this to make it large. Is there a better way?
fig = plt.gcf()
fig.set_size_inches(50,50)

Its still not nice
![image](https://cloud.githubusercontent.com/assets/7865018/8016187/30e2782e-0bae-11e5-8f2a-c01df1b8df7e.png)

[2015-06-05 22:40] kingjr commented on #2189
So far I've just been using `pickle` and save the whole object, but it's true that
1. if people use home-made classes for the classifier and/or scorer, it can become a problem. I'm not sure whether h5 deals with this?
2. it serializes everything too.

So yes, a EHN would be welcome in my opinion.

[2015-06-05 23:40] choldgraf commented on #2189
Yeah - I've been doing pickling too, but I'm always worried about an API
change making it hard to unpickle. At least by storing components as H5,
it's easier to change code and still make the I/O work. Also pickling for
me is really slow especially for time-gen stuff with decently high sampling
rates. Don't know if it'd make a difference though if the sklearn object
would still be serialized...

O

[2015-06-06 09:37] jona-sassenhagen commented on #2187
If you can wait a bit - I'm working on improvements to plot_topo that include better determination of scale.

For now, you want to play around with the layout_scale parameter.

[2015-06-06 09:41] jona-sassenhagen commented on #2178
Again, wouldn't setting up mne.Epochs to allow an Epochs instance solve a bunch of problems at once? You could also re-baseline, re-reject, crop ... all without introducing any new public API. It would all be internal.

[2015-06-06 11:43] dengemann commented on #2178
@jona-sassenhagen could you rephrase this? I'm not sure I got your proposal. You might suggest that we have an ```ResampleMixin``` that's inhereted by Raw, Epochs et al. with a decimate method? Cropping is already possible everywhere via a method. Re-baselining would indeed be cool, but it would require storing, for example the mean-vector, for a mean baseline.

[2015-06-06 11:47] jona-sassenhagen commented on #2178
Pretty sure I got the idea from a code snippet by you. Basically, imagine the API for rebaselining to be this:
new_epochs = mne.Epochs(old_epochs, baseline=(-3, 0))

and for decimating:
new_epochs = mne.Epochs(old_epochs, decim=2)

and for rejecting a second time:
new_epochs = mne.Epochs(old_epochs, reject=dict("eeg":1000))

This way, *no* new keywords, functions, ... are introduced.

[2015-06-06 11:52] dengemann commented on #2178
will not work if already baselined

this might work.

we have an open issue for a method. EpochsArray can do it.

But let me think about what you propose for a moment.

[2015-06-06 12:24] agramfort commented on #2178
why not? I think it would work.

My only fear is that the Epochs class is already a beast and relunctant to
make it even more complex.

[2015-06-06 12:47] teonlamont commented on #2178
maybe it's good time to refactor the Epochs like @Eric89GXL suggested before

[2015-06-06 13:05] dengemann commented on #2178
I'm -0.5 on big refactories. They create lot's of work and consume time and the gain is arguable at this stage. You need to convince me.

[2015-06-06 13:18] Eric89GXL commented on #2178
The epochs class hierarchy is a mess. Take a look at which classes have which methods and what inherits from what (`BaseEpochs`, `Epochs`, `EpochsArray`, etc.) and you'll probably be convinced :) So I am +1 on refactoring. It should lead to simpler code that is easier to maintain.

[2015-06-06 13:19] Eric89GXL commented on #2178
And IIRC this bad hierarchy has led to some recent bugs, I assume there are others hiding in there

[2015-06-06 13:25] agramfort commented on #2178
Eric are you up for it?

If so before starting can you sketch the plan?

[2015-06-06 13:31] Eric89GXL commented on #2178
The plan would be something like:

1. move all of the methods from `Epochs` to `BaseEpochs` except for loading (i.e., `Epochs` means `EpochsFIF` following the `raw` analogy)
2. make `EpochsArray` inherit from `BaseEpochs` instead of `Epochs`
3. make `EpochsKit` inherit from `BaseEpochs` instead of `EpochsArray`
4. make sure `RtEpochs` works (@mainakjas's can you help?) since it won't support all f

[2015-06-06 13:33] Eric89GXL commented on #2178
So I guess the only part in my mind that isn't clear is what to do with `RtEpochs`, since it only supports a subset of the methods that all other `Epochs` instances support. Should I just override methods with `NotImplementedError`, or do we want `BaseEpochs` that `RtEpochs` inherts from, and `BaseEpochsFull` or so that inherts from `BaseEpochs`, that all other `Epochs` classes inherit from (and `

[2015-06-06 13:38] Eric89GXL commented on #2178
@agramfort this also has a rough plan in it, @dengemann it has some justifications:

https://github.com/mne-tools/mne-python/issues/1982

See also these discussions @dengemann:

https://github.com/mne-tools/mne-python/issues/1633#issuecomment-91924011
https://github.com/mne-tools/mne-python/pull/1590#discussion_r28183638

[2015-06-06 13:39] agramfort commented on #2178
or have a light BaseEpochs and an EpochsMixin class that implements all the
methods not available for RtEpochs and have Epochs inherit from BaseEpochs
and EpochsMixin

[2015-06-06 13:41] Eric89GXL commented on #2178
@agramfort in that case `Epochs`, `EpochsArray`, and `EpochsKit` will all inherit from both `BaseEpochs` and `EpochsMixin`, okay?

[2015-06-06 13:46] agramfort commented on #2188
try using warm_start in LogisticRegression using the l-bfgs solver.

SGD is too hard to use to be trusted blindly

[2015-06-06 13:47] agramfort commented on #1963
can you give an example of the objective?

[2015-06-06 13:49] kingjr commented on #2188
But I don't see a warm_start option for LogisticRegression?
http://scikit-learn.org/dev/modules/generated/sklearn.linear_model.LogisticRegression.html

[2015-06-06 13:50] agramfort opened #2190 "implement bem-sol.fif code in python"
for @Eric89GXL ...

[2015-06-06 13:54] agramfort commented on #2188
arrfff indeed. It's coming with the SAG branch...

try l-bfgs anyway for speed.

[2015-06-06 15:01] jona-sassenhagen commented on #2178
So...are you planning on implementing e.g. Post-hoc decimation in the way I had proposed?

On Sat, Jun 6, 2015 at 6:41 AM -0700, "Eric Larson" <notifications@github.com> wrote:

@agramfort in that case Epochs, EpochsArray, and EpochsKit will all inherit from both BaseEpochs and EpochsMixin, okay?

—
Reply to this email directly or view it on GitHub.

[2015-06-06 15:35] Eric89GXL commented on #2178
I'm fine with it, I think @agramfort was reluctant to have it

[2015-06-06 17:52] choldgraf commented on #1963
I think someone mentioned a similar use case above, but the basic idea for me is that I have a lot of metadata about any given trial. For example, I have trials in blocks of 3. I'd like to keep information about which block each stimulus presentation belongs to, but other than hard-coding this into event_id, I'm not sure how best to do it. Since I also have a lot of metadata too, I thought it woul

[2015-06-06 19:12] ImmanuelSamuel commented on #2187
That is awesome! Looking forward to it.

[2015-06-06 22:42] teonlamont commented on #2178
@jona-sassenhagen I think it would be a method and not just modifying the Epochs class to take an Epochs instance.

+1 for the light _BaseEpochs that all the epochs subclasses use and the EpochsMixin for the additional methods

[2015-06-06 23:12] mainakjas commented on #2178
I can help with `RtEpochs` definitely but I think Martin knows it the best. Should be a good exercise for me :)

[2015-06-07 00:36] dengemann commented on #2188
What about the vectorization idea? By concatenating all the tests we could
call predict only n_train times, no? I would suspect speedups. But maybe
some lineprofiling before getting the hands dirty.

2015-06-06 15:54 GMT+02:00 Alexandre Gramfort <notifications@github.com>:

[2015-06-07 00:40] dengemann commented on #2178
Ok for cleaning up internals. I'm not such a big fan of Epochs that takes an epochs object in it's constructor. A re_epoch function would be cleaner to me, if needed (could then call all methods at once). I would personally be happy about a simple method. It will also have less overhead than calling the constructor.

[2015-06-07 00:46] dengemann commented on #1963
Playing the devil's advocate:

Why make a more complex function at the MNE level?
Build your metadata records of desired complexity and linke them to you
epochs based on the epochs.selection vector which indicates the original
position of the epoch (after dropping).

I really don't think we need a more complex events API inside MNE-Python.

2015-06-06 19:52 GMT+02:00 Chris Holdgraf <notifications@

[2015-06-07 01:11] Eric89GXL commented on #2178
+1 for method, I'll try to do it during refactoring

[2015-06-07 01:18] kingjr commented on #2188
Sure, but I expect much more impact of a warm_start option than a vectorization, so I'd prioritize the warm_start.

[2015-06-07 01:18] choldgraf commented on #1963
TIL about the epochs selection attribute haha. That does look useful, and I
think it could basically serve the functionality that I'd want. Can you
overwrite an epoch's selection attribute? E.g., so if I wanted to create an
EpochsArray object with a subset of epochs, then I could modify the
"selection" attribute in place?

On Sat, Jun 6, 2015 at 5:46 PM, Denis A. Engemann <notifications@github.com

[2015-06-07 01:25] kingjr commented on #1963
I agree. Still, as many users (will) encounter this complex design issue, I reckon there should be an introductory example that cover this topic and guide the user.

[2015-06-07 01:27] dengemann commented on #2188
Ok, let's keep all ideas and attack them in the order of relevance.

[2015-06-07 01:29] dengemann commented on #1963
Amen.

;-)

[2015-06-07 01:31] dengemann commented on #1963
EpochsArray object with a subset of epochs, then I could modify the
"selection" attribute in place?

Not sure I get it but you can overwrite it. It's semantic is as follows:

- vector of lenght(actual_epochs) with indices of orginal input events array.
- for EpochsArray we set it to np.arange(len(events)) at construction times because we don't necessarily know anything about subsetting
- if you se

[2015-06-07 01:39] dengemann opened #2191 "ENH: tutorials / special doc needed"
We should have a few extended docs/ tutorials, maybe in the FAQ section on at least the following topics:

- epochs selection and event handling (see #1963)
- artefact removal
- group statistics (make explicit 2 (spatial /  no spatial prior) X 2 (F/T-test) API, clarify TFCE (it's not another test, but an enhancement method)), clarify that despite t-test inputs, spatio-temporal permutation clusteri

[2015-06-07 12:22] teonlamont opened #2192 "Averaging doesn't work automatically after using ica.get_sources"
I don't know if we want to do anything about this but I noticed this behavior:

If you only have misc channels, which happens after using `ica.get_sources()`, you can't use the average method without specifying the picks.

[code]

but it does if you pick the channels

[code]

[2015-06-07 13:23] dengemann commented on #2192
But this is consistent with the documentayion of epochs.average. It has been like this all the time.

[2015-06-07 15:48] teonlamont commented on #2192
ah, i see. makes sense.

[2015-06-07 15:48] #2192 closed

[2015-06-07 15:55] agramfort commented on #2188
+1

also what does profiling says?

On Sun, Jun 7, 2015 at 3:27 AM, Denis A. Engemann <notifications@github.com>
wrote:

[2015-06-07 20:17] agramfort commented on #1963
+100 for using the selection attribute to track epochs metadata. We wrote
this exactly for this use case. Example and doc are always very welcome.

[2015-06-08 04:00] choldgraf commented on #1963
I could write a short blog-style example of the way I end up doing this. I
heard rumblings about a website redesign that will make documentation
easier to expand and upload. That still happening?

On Sun, Jun 7, 2015 at 1:17 PM, Alexandre Gramfort <notifications@github.com

[2015-06-08 04:53] Eric89GXL commented on #1963
Yeah, it is easier for us to update now. Changes made to the `mne/doc` directory are easier to propagate to the `dev` build website.

[2015-06-08 06:18] agramfort commented on #1963
+1 for blogpost too

The doc is a topic of the sprint this summer

[2015-06-08 06:24] choldgraf commented on #1963
Cool - I can def help w/ docs too.

On Sun, Jun 7, 2015 at 11:18 PM, Alexandre Gramfort <
notifications@github.com> wrote:

[2015-06-10 21:42] ImmanuelSamuel opened #2195 "Question: Putting a plot in an axes"
How do I put the plot coming from the following

power.plot([0], baseline=(-0.1, 0), mode='mean', title='MEG 1142 - Power')

on to a subplot axes
fig, axes = plt.subplots(nrows=2, ncols=1)

[2015-06-10 22:00] agramfort opened #2197 "apply_proj method should have an idx param"
the apply_proj method of ProjMixin should have an idx param so we can choose what proj to apply if not all.

any taker?

[2015-06-10 23:33] agramfort commented on #2195
if there is no axis param in the plot method it should be added.

you can hack and copy the code for your particular use case.

[2015-06-11 18:20] choldgraf opened #2198 "ENH: apply function to raw/epoch plots"
Following up from the epochs data viz PR. Do you guys think it would be useful to have an option to supply a function to the plot call, and then have a button/key that calls this function on the data and then re-plots? The function would have to take the currently-displayed block of data and return an array w/ the same shape and data type as what is currently displayed.

An example of where this w

[2015-06-12 00:34] agramfort commented on #2197
I don't need it at the end of the day.... closing

[2015-06-12 00:34] #2197 closed

[2015-06-12 11:00] mainakjas commented on #2198
would a text-box for changing low-pass and high-pass cutoff do it? Or do you want to apply advanced functions like hilbert ? How often is this useful ?

[2015-06-12 21:07] choldgraf commented on #2198
Perhaps low-pass / high-pass would suffice. I was just imagining having a
flag like "apply_func", where this could be any function that takes a
2-d/3-d (if epochs) array and returns an array of the same shape and data
type. So whatever data was currently plotted would be passed to this
function and the currently-plotted data would be overwritten. It know many
ecog people who do this kind of thing

[2015-06-13 17:47] #2174 closed

[2015-06-15 12:21] teonlamont opened #2200 "Applying projs to Epochs made from read_epochs"
currently I am getting an error when I try to apply a projection to an Epochs that was created from `mne.read_epochs`. Here's how you can recreate the error with the sample data:

[code]

[2015-06-15 15:51] mmagnuski opened #2201 "Coverage went down by 10%, build label says "failing""
I am sure you are aware of this - I report it just in case. Feel free to close.
Last time I checked (about 2 days ago) you were "green" 91% and now code coverage went down to 81% and Travis is sad. One of recent merges introduced this but I did not check which one.

[2015-06-15 15:54] agramfort commented on #2201
yes it's a pb we need to fix. Some test take too much memory and randomly fails on travis

[2015-06-15 15:54] #2201 closed

[2015-06-15 16:12] agramfort commented on #2200
indeed it's broken ... really broken...

read_epochs does not set detrend attribute  but also not the
_raw_times attribute.

see #2202

[2015-06-15 19:58] Eric89GXL commented on #2198
I don't mind having an additional argument to do this sort of thing. I do wonder how often it would be used, though. @choldgraf how widespread is such switching functionality?

[2015-06-15 20:03] choldgraf commented on #2198
Well my knowledge is largely isolated to ecog, but it's fairly useful there. The main reason for this is that ecog is a super noisy kind of data, especially if you get it from different hospitals etc. You often get weird noisiness in the raw traces, and you often wonder "Hmm, does this affect sub-band XXX that I care about?". For this reason I know ecog labs have implemented internal code that qui

[2015-06-15 20:44] agramfort commented on #2200
how about read_epochs returns an EpochsArray ?

[2015-06-15 20:46] dengemann commented on #2200
something feels wrong about this. You would expect to read what you saved, not?

[2015-06-15 20:49] agramfort commented on #2200
yeah but it's broken now. There are too many attributes that relate to raw
which we don't save. This needs to be fixed. I have no time for this these
days :(

[2015-06-15 20:50] Eric89GXL commented on #2200
IMO this is another reason we need to refactor the Epochs classes.

[2015-06-15 20:50] Eric89GXL commented on #2200
(I hope to get to it this week)

[2015-06-15 20:52] agramfort commented on #2200
+1000

[2015-06-15 20:54] dengemann commented on #2200
Seems Epochs needs some therary sessions indeed ... I think it's suffering from some developmental disorder.

[2015-06-15 20:56] mmagnuski commented on #2198
I often find it very useful to check component contributions to the data by switching between signal with and without a specific component or set of components (because you visually experience the changes vividly as movement). I mostly do this kind of things (preprocessing) in matlab, but if I were to switch completely to python I would miss this ability.
However to have smooth switching I usually

[2015-06-16 07:24] agramfort commented on #2198
are you taking about interactive ica component selection for raw data?

[2015-06-16 10:05] mmagnuski commented on #2198
Yes, but I do it on epoched data mostly. I mention it here because it fits the general idea of applying a transformation to the visible data - and from my point of view is very useful in classifying components.

[2015-06-16 11:06] mainakjas opened #2204 "make raw.plot() consistent with epochs.plot()"
- when there is no proj or proj has been applied, the button should disappear
- scaling with +/- sign should work
- changing the number of channels in view with same keyboard shortcuts

cc @jaeilepp @dengemann

[2015-06-16 11:12] teonlamont opened #2205 "Some minor epochs.plot issues"
I just noticed a few cosmetic things with epochs.plot that might need to be looked at.

- [ ] Default title appears for raw.plot but not epochs.plot.
- [ ] The font size for the title of the epochs plot is very small.
- [ ] Change title argument to `title` instead of `fig_title` to be consistent with `raw.plot`
- [x] ~~The trigger values at the top kind of seem a bit out of place. Instead of havin

[2015-06-16 11:30] teonlamont commented on #2204
also, the click vertical line should be spaced like the channel names above

[2015-06-16 11:54] jaeilepp commented on #2205
There is a fig_title argument and default title is the epochs.name.
The smaller font was kind of an ugly workaround for the time being. The layout configuration shares code with raw.plot and it needs a remake in my opinion, so i decided to leave it for following PRs. By placing the event numbers to bottom of the figure would fix this layout problem though. Should we do that instead?

[2015-06-16 11:58] teonlamont commented on #2205
is there a way to rename the keyword `title` instead of `fig_title`, I wouldn't expect the current given the raw.plot arg and it would be nice to maintain consistency in keyword arguments across the package

[2015-06-16 12:01] teonlamont commented on #2205
yeah, a reconfiguration of the raw and epochs plots would be welcome. I think that the trigger value should go down below the plot and be parenthetical. i don't think that it needs to have its own line

[2015-06-16 13:25] teonlamont commented on #1996
@jaeilepp if you need a break from epochs.plot, and are bored, here's something cool to work on ;)

[2015-06-16 13:26] dengemann commented on #1996
@teonlamont I think the butterflies are really exciting ;)

[2015-06-16 15:15] dengemann opened #2207 "ENH: full size viewing mode with MacOSX backend"
it would be nice for the browse viz functions to have an options for maximizing the window.
For reviewing in block = True mode this is very handy as it saves you one (annoying) step.

cc @jaeilepp @mainakjas

EDIT by Eric89GXL: This has now been implemented, but doesn't seem to work for OSX.

[2015-06-16 15:41] Eric89GXL commented on #2207
From [here] (http://stackoverflow.com/questions/12439588/how-to-maximize-a-plt-show-window-using-python) it seems like the best solution is to add something like this to our keypress functions:
[code]
@jaeilepp can you give it a try in your next round of changes?

[2015-06-16 15:41] Eric89GXL commented on #2207
My vote is for this to be tied to F11

[2015-06-16 15:44] dengemann commented on #2207
Sounds good, also an option at call time would be great to let it start like that.

[2015-06-16 19:50] agramfort commented on #2207
I'd rather remember the size of the window in the config rather than
default to full screen.

[2015-06-16 19:55] Eric89GXL commented on #2207
@agramfort I don't think we want to default to full screen, either, it should default to `False` if we add a kwarg.

[2015-06-16 22:37] choldgraf opened #2210 "Plot topomap without any interpolation between sensors?"
This is another one that is probably mostly useful for ecog. I'm trying to plot sensor activations on a brain plot. There are already a few functions to create custom electrode layouts and such, though I haven't found a good way to just plot a scatterplot with one point for each electrode.

For example, I was playing around with doing ICA on a few grids to see if consistent noise could be cleaned

[2015-06-16 23:06] kingjr commented on #2210
I'm quite surprised of the low amount of correspondance between the interpolated images and the scatter plots. Is this expected? Is one of them based on a Laplacian transform / current source density and not the other?

Why not?

Just to throw some more ideas, I think it'd be great to have an option to add a mask that surrounds the electrode arrays using a [concave hull](http://blog.thehumangeo.co

[2015-06-16 23:13] choldgraf commented on #2210
The scatterplots and interpolated images shouldn't be directly compared, because I haven't made sure that I did it correctly (it was just a quick plot). Here's the code I used to make the scatterplot:

[code]

As for the interpolation stuff. I'm not too familiar with how the fields are generated from the sensor traces in eeg/meg. I assume that things would be distributed around the cortical surfac

[2015-06-16 23:17] choldgraf commented on #2210
I think I did find my bug in the scatterplot code. I was transposing the ica weight matrix when I shouldn't have done so. It would be helpful in the docstring to say what the dimensions of the mixing matrix mean (e.g., if rows are features or components)

Here with fixed code:
![image](https://cloud.githubusercontent.com/assets/1839645/8196665/01f94de2-1443-11e5-99c4-a4d780e7ac76.png)

And here is

[2015-06-16 23:24] kingjr commented on #2210
My understanding is that the interpolation are just performed at the last computing stage and is just for vizualization purposes. It is not informed by the actual underlying physics. Plus, EEG should be similar whether it's epi/subdurally or at scalp, shouldn't it?

I am not so fan of the scatter plots; I think we should incline the user towards pretty graphs ;). But it's true that sometimes inter

[2015-06-16 23:31] choldgraf commented on #2210
Ha, fair enough. I do a lot of scatter plots when I'm showing model R2 and stuff like that, but that's easy enough to do with ax.scatter and ax.imshow. In this case it seems like restricting the interpolation stuff to a window that covers the ecog grid would be enough.

[2015-06-17 00:29] mainakjas opened #2212 "bugs with report.add_htmls_to_section()"
- `caption` goes only to the table of contents but does not show up above the actual html
- It does not tie itself to the `section` argument and hence breaks the toggle button.

I am willing to live with the first problem but the second one is more serious to me. cc @teonlamont

[2015-06-17 11:31] agramfort commented on #2198
maybe we can use the new plot_epochs to plot ica sources as epochs?

[2015-06-17 12:03] teonlamont commented on #2198
+1 for ica sources using the new plotting for ICA.plot_sources

[2015-06-17 15:38] Eric89GXL commented on #2210
I think the interpolation code makes some assumption of smoothness that is satisfied for EEG but violated for ECoG. I wonder if we could somehow have a mode that drew it with nearest-neighbor interpolation instead. That would probably be more appropriate for ECoG.

[2015-06-17 16:11] choldgraf commented on #2210
Yeah I think that it'd work best if colors just moved isotropically away from the ecog sensors until they hit the field of another sensor. And if they didn't hit anything, they'd decay away relatively quickly.

[2015-06-17 18:12] kingjr commented on #2210
I've never encountered this option, so I would be a bit reluctant except if you have a reference? Note that this option requires the specification of the decay parameter.

There exists multiple ways of interpolating. You can indeed take a nearest neighbor approach, although I prefer cubic interpolations so as to avoid artificial edges.

See http://docs.scipy.org/doc/scipy/reference/tutorial/interp

[2015-06-17 18:15] Eric89GXL commented on #2210
Sure, whatever approach leads to the most intelligible data (nearest neighbor, bilinear, cubic, etc.) is fine by me, so long as we can (optionally) enforce that the values at sensor locations actually achieve their measured values. I don't think what we do now does it.

[2015-06-17 18:19] choldgraf commented on #2210
OK - I don't have much experience with interpolation, I usually just plot
values as scatterplots right on the electrodes since I don't have any
underlying model for how I think things will spread across the cortex. It
sounds like you guys know more about this than I do though...

On Wed, Jun 17, 2015 at 11:15 AM, Eric Larson <notifications@github.com>
wrote:

[2015-06-17 18:28] kingjr commented on #2210
Absolutely.

No? I though it was using the `ax.imshow()` with a `bilinear` interpolation by default. Is there some other tricks than [here](https://github.com/mne-tools/mne-python/blob/master/mne/viz/topomap.py) (Line 470)?

I think that if you plot ERPs, it's generally good practice to do a current source density transform first, because you officially cannot do an average reference (unlike EEG,

[2015-06-17 18:30] Eric89GXL commented on #2210
The topomap plot above does not match the scatter plot above to my eye. But maybe it's just a colormap limits issue...?

[2015-06-17 18:33] choldgraf commented on #2210
@kingjr thanks for the clarification. Up to now I've only been using broadband high-gamma, though more often than not when I make brain plots I'm not actually plotting activations, but things like model R2 etc. I'm starting to get into more low-frequency and ERP analysis so I appreciate the info

[2015-06-17 18:45] kingjr commented on #2210
Sure, no problem. However, note that plotting statistical metrics (p values, AUC, R², Baysien factors etc) as opposed to the actual data (ERF, alpha phase, gamma power etc) is an independent issue. If you do a F test on ERF, plotting the F statistics is still going to be affected the type of reference, but the F test on gamma power won't (that much).

Anyway, could you confirm that the discrepency

[2015-06-17 18:53] choldgraf commented on #2210
Sure, I'll check into the discrepancy a little bit later today.

As you say, that's the reason that I've been sticking with HG activity, as
it's relatively safer to treat each electrode as independent of the others.
I know plotting statistics and such is an independent issue, but still
useful to be able to visualize on the brain which is why I mentioned
plotting topomaps without any kind of interp

[2015-06-17 23:20] #2204 closed

[2015-06-17 23:21] Eric89GXL commented on #2207
Leaving this one open, but changing the title to reflect it's now an issue with OSX

[2015-06-18 00:18] choldgraf commented on #2210
I'm pretty sure it was a color scaling issue (more or less, anyway). I forgot that on the scatterplots I was z-scoring each component first, and then plotting. Here they are with original values and their own colormaps:

![image](https://cloud.githubusercontent.com/assets/1839645/8221550/e088095a-1514-11e5-8a7e-5822fedc711d.png)

[2015-06-18 00:23] choldgraf commented on #2210
although some of them do seem to be off still

[2015-06-18 06:32] jaeilepp opened #2213 "GSOC on VIZ TODO list"
In a discussion with @dengemann and @mainakjas, we decided to make a list of things to do over this GSOC. Feel free to add items to the list. Preferably stuff about the vizualization, since that's my field for this GSOC.

[2015-06-18 06:54] teonlamont commented on #2213
These are html visualizations/interactions with MNE-Report that could be improved upon:

MNE-Report toggle button https://github.com/mne-tools/mne-python/issues/1996
MNE-Report html issue https://github.com/mne-tools/mne-python/issues/2212

[2015-06-18 07:17] agramfort commented on #2213
time frequency interactive viz e.g. select region of tf plane and get the
associated topography (see how fieldtrip does it).

maybe interactive selection of bad ICA components (via topo or time courses)

[2015-06-18 07:23] agramfort commented on #2210
first thing we could do is set to NaN values outside of convex hull of
electrodes. Then use interpolation='nearest'.

my 2c

[2015-06-18 12:10] mainakjas commented on #2213
@teonlamont I can take care of those two issues so that @jaeilepp can focus on core functionality.

[2015-06-18 12:17] mainakjas commented on #2213
filing one idea we had discussed with @dengemann : topoplot with sliders (for different time points) in mne-report (like the bem plot). Good to visualize evolution of evoked response

[2015-06-18 12:25] mainakjas commented on #2213
... also interactive picking of channels from a plotted layout. @teonlamont can give a demo maybe how he uses it.

[2015-06-18 13:01] kingjr commented on #2210
If it's not already the case, I think the best is to use a common plotting function for EEG, MEG and ECoG: ie. while passing a different layout each time. Then, you would just need to write a function that generates the ECoG mask.

@agramfort I think the convex hull is only good for a start, but doesn't fit ECoG that much (but yes, we should start with easy). It's very common to have weirdly shape

[2015-06-18 13:46] teonlamont commented on #2213
also, it would be nice if we could have a standalone viewer of Montage/DigMontage class. it's essentially already implemented in kit2fiff gui. it would just need the removal of the KIT input file. The reason it would be useful to have it is that if you are interested in your `dev_head_t`, you can then visualize the headshape info and the device hpi coil points. there are often cases where hpi coil

[2015-06-18 13:47] teonlamont commented on #2213
and @mainakjas i'm looking forward to your pr's ;)

[2015-06-18 14:00] Eric89GXL commented on #2210
+1 for convex hull to start. The second is better, but I expect to be much harder to get right in practice. Although the link you post makes it seem pretty simple, assuming the equivalent functions are present in a Python lib, which I think they are. @kingjr do you want to try?

[2015-06-18 14:02] kingjr commented on #2210
@Eric89GXL I do, but not before a while...

[2015-06-18 14:03] Eric89GXL commented on #2210
No rush from my end. @choldgraf did you want to try? You could go with the simpler convex-hull solution first, or the more complete clustering one.

[2015-06-18 15:01] kingjr commented on #2213
What I sometimes do is making animated gif. They're easy to email or put them in powerpoints slides. It'd be great to have this within the package, although I guess it's a bit vintage.

[2015-06-18 15:50] dengemann commented on #2213
maybe not directly related to Jaakko's GSOC, no?

[2015-06-18 15:57] dengemann commented on #2213
I'll list the points in a more  structured way:

For existing functions:
- [ ] add scale + unit information on demand to browser plots
- [ ] add option to hide channel names for views with more many channels, e.g. > 100. Maybe auto-hide
- [ ] infobox with more precise control options, e.g. add 40 channels, add 22 epochs, etc.

Next/Maybe:
- [ ] scrollable topomps in matplotlib / report
- [ ] inter

[2015-06-18 15:58] dengemann commented on #2213
To keep the discussion compact, please edit my post above to add items.

[2015-06-18 16:24] choldgraf commented on #2210
I can give it a shot sometime soon. What I've been doing for my common
average reference is to define a grouping of electrodes (e.g. group the
grid together, group strips together independently, etc). You might be able
to do a similar kind of thing for the convex hull, though it'd get wonky
for things like a 1-d strip.

Either way, I can put this on my radar and maybe ask a few of the scikit
image

[2015-06-18 16:24] mainakjas opened #2218 "bad channels not present"
If a channel is not present and I mark it as bad, MNE-Python lets me get away with it. This is not really desired -- makes debugging hard for user.

[code]

[2015-06-18 16:29] teonlamont commented on #2218
I agree, there should be a check of whether the channel name added to the info['bads'] is in the info['ch_names']. pr welcome ;)

[2015-06-18 16:31] Eric89GXL commented on #2218
I think we'll probably need to make `Info` smarter so we can keep the list of bad channels a simple list.

[2015-06-18 17:37] Eric89GXL opened #2219 "Q: Our package stats and statsmodels"
Has anyone tried using statsmodels for stats functions? There is discussion on the scipy dev list about deprecating the scipy anova functions, since they are limited and statsmodels already provides more functionality.

@dengemann have you thought about moving your n-way repeated measures anova over there, or just using their function if they have one?

It seems like integrating or facilitating st

[2015-06-18 17:43] dengemann commented on #2219
Hehe, I kind of triggered that debate, proposing to add out M-way ANOVA there. I predict poeple will suggest adding it to statsmodels, also because it has been repeatedly demanded by users and statsmodels does not have any repeated measure functions. That will requie some extra code to please their API, etc. Not really motivated to do that work. Would be more important to add support for between-s

[2015-06-18 17:57] choldgraf commented on #1963
So I've been playing around a little bit trying to use the selection parameter to maintain trial identity through derivations of epochs, and I'm running into a few snags. In my situation, I often re-create epochs objects after doing different kinds of processing. e.g., I'll create an epochs objects of raw data, then filter it for HG, then use EpochsArray to re-create the same object. Alternatively

[2015-06-18 18:03] dengemann commented on #1963
Sounds like it would be sufficient to make the .selection work after
subsetting. Your report indicates that there are some broken parts.

2015-06-18 19:57 GMT+02:00 Chris Holdgraf <notifications@github.com>:

[2015-06-18 18:08] choldgraf commented on #1963
Just to clarify - .selection works fine as long as it's the same epochs object, it just messes up when you use EpochsArray. I'm thinking that it might be easier for me if I just avoided using epochs array as much as possible, and instead just used `Epochs.copy()` and overwrite the `_data` parameter.

[2015-06-18 18:11] dengemann commented on #1963
Sounds like this is also a relevant dimension of the Epochs refactoring --
see #2211

2015-06-18 20:08 GMT+02:00 Chris Holdgraf <notifications@github.com>:

[2015-06-18 18:40] agramfort commented on #2218
@mainakjas what do you suggest? error, warning? an Info.check() method?

[2015-06-18 19:24] mainakjas commented on #2218
Error I suppose? I don't see a good reason to add a channel as bad if it doesn't exist. Not sure how it would be implementation-wise. Can we check whenever info['bads'] is modified?

[2015-06-18 19:32] dengemann commented on #2218
I don't see an elegant solution here ...

- subclassing list and adding logic in ```__setitem__``` is not what we
want I guess ...
- a method for setting bads will not be used by anyone who already is used
to set the bads as a list
- checking if info has changed is expansive and complex e.g. with a second
thread .... , does not scale well given the problem

couldn't we just remove channels automat

[2015-06-18 19:44] dengemann commented on #2218
We could of course overwrite __getitem__ in the Info and add checking logic
whenever 'bads' is looked up.

2015-06-18 21:32 GMT+02:00 Denis-Alexander Engemann <
denis.engemann@gmail.com>:

[2015-06-18 19:57] Eric89GXL commented on #2218
Unfortunately I don't think subclassing either will work. Right now you can set bads any of these ways:
[code]
or
[code]
or
[code]
Subclassing will fix only the first and second of these cases. We don't know what users have been doing, so we can't guarantee all fixes will work.

What we can do is make it so that any time we do an operation that involves `bads`, we do a quick `_check_info(info)` th

[2015-06-18 20:01] Eric89GXL commented on #1963
Yes @choldgraf can you try to produce the error using some minimal script based on the testing dataset? That way I can work it into #2211 and make sure it's resolved.

[2015-06-18 20:04] dgwakeman commented on #2218
Is it hard to make it impossible to do the third example?

We could start deprecating it and implement the checking @dengemann described. It also follows the preferably one simple way of doing things: IMO 1 and 2 do different and useful things, but 3 is just another way of doing things

[2015-06-18 20:11] agramfort commented on #1963
maybe stupid question but why do you have to use an EpochsArray if you have
a proper Epochs object in the first place? If you need a copy of an Epochs
instance just use the .copy method.

[2015-06-18 20:11] Eric89GXL commented on #2218
You can can't make the third example impossible, no. You can change the behavior by making the last line that adds a bad channel not do anything, but that could break people's code -- and worse, it would do it silently, which is unsafe. Unfortunately our use of built-in mutable datatypes of dict and list allow for doing things multiple ways already, so we can't follow the one-way mantra without br

[2015-06-18 20:12] dengemann commented on #2218
Not sure. Just make sure it can be used as before. I'm -1 about changing
the API. If we can elegantly implement checking / sanitizing we should do
it, if not this prolem is not severe enough to justfy the efforts.

2015-06-18 22:04 GMT+02:00 dgwakeman <notifications@github.com>:

[2015-06-18 20:14] agramfort commented on #2218
I would go with the _check_info approach that is called when changing an
instance / making a copy. Sounds ok?

what else do we want to check besides bads?

[2015-06-18 20:18] dengemann commented on #2218
+1

really not sure.

[2015-06-18 20:19] Eric89GXL commented on #2218
There are probably lots of things we could check in principle, but I think YAGNI until we see otherwise. I think checking bads and that `info['ch_names']` matches the `info['chs']` might be enough to start.

When you say "changing an instance", what do you mean? We can't easily detect the various use cases that users might have for changing the `info['bads']` property as in my example above, hence

[2015-06-18 20:22] agramfort commented on #2218
I would add it the few epochs methods that seem relevant

[2015-06-18 20:30] choldgraf commented on #1963
No no, I agree. I think this might be what I need to do in some way. It is not possible if I'm using an EpochTFR class (this is basically an epoch x channel x freq x time array and I am creating `Epochs` instances using subsets of channels, so in this case I don't actually have a "base" epochs object that I'm using. However I recognize this is an edge case and not built into the MNE system anyway,

[2015-06-18 20:34] Eric89GXL commented on #1963
Well, you have created an EpochsArray and hit an unexpected error. Whether your epochs were weird in some way shouldn't matter to the EpochsArray class. Figuring out what led to your error -- be it bad inputs at your end that we didn't vet appropriately, or correct inputs with bad methods at our end -- is important because I think there is a real error hiding in there.

[2015-06-18 20:41] agramfort commented on #1963
agreed.

EpochTFR could keep track of selection on creation.

[2015-06-18 20:43] choldgraf commented on #1963
I think the code problem comes in the fact that EpochsArray assumes that the events it is passed are the only events that exist for that particular dataset. E.g.: if the full events list is 10 items long, and I select a subset of items 2 and 4, then use that subset to create my EpochsArray object, it assumes that there are only 2 events, and creates the corresponding structures accordingly. I thin

[2015-06-18 20:48] Eric89GXL commented on #1963
It sounds like EpochsArray needs to verify that the events, event_id, and size of data are consistent. When creating an EpochsArray they should all match, in other words that:
[code]
I think if you want a record of the selections that occurred before creating the EpochsArray, you should do it on your own. Otherwise the API for EpochsArray goes from very simple to complex.

[2015-06-18 20:48] Eric89GXL commented on #1963
I will add it to my PR...

[2015-06-18 22:43] kingjr opened #2220 "BUG: VIZ: evoked.plot_image(axes=ax)"
I'm encoutering a bug when plotting an evoked image on a subplot if there are more than 3 subplots on the horizontal axis. I don't know how to fix this. Anyone with the same issue?

[code]

This works nicely

[code]

But this crashes painfully

[code]

Here is the error
[code]

[2015-06-19 10:18] yousrabk commented on #2220
I think this is more a matplotlib problem when you have some overlapping like here the subtitles are too long.
This is working for me:
[code]

[2015-06-19 10:46] kingjr commented on #2220
That works for me! Thanks @yousrabk

[2015-06-19 10:46] #2220 closed

[2015-06-19 12:41] teonlamont commented on #2213
+1 on the scrollable plots/slider. it should be general so that you can take any series of images and turn them into a slider. currently dealing with ROC curves over time and it would be great to have a way to consolidating all the plots into one figure.

[2015-06-19 13:03] mainakjas commented on #2218
sounds like a plan.

Should we also have methods to update `info`. And these methods have proper validation checks -- e.g., `update_bads` and  we update the examples accordingly to use this? Just throwing ideas ...

[2015-06-19 13:06] dengemann commented on #2218
Sounds a bit of overkill to me, just using info['bads'] as a list is very
neat.
An info method is really verbose and I don't see why it's worth changing
API and usage recommandations for that.

2015-06-19 15:03 GMT+02:00 mainakjas <notifications@github.com>:

[2015-06-19 13:06] dengemann commented on #2218
Can anyone btw. tell me one example where this "feature" actually created a
bug?

2015-06-19 15:05 GMT+02:00 Denis-Alexander Engemann <
denis.engemann@gmail.com>:

[2015-06-19 13:18] mainakjas commented on #2218
Imagine if you had a bad channel called `EEG 061` and you accidentally had a typo and put it as `EEG 0061`. You thought you got rid of the bad channel but actually you didn't. It silently went unnoticed and your data gets corrupted.

[2015-06-19 13:25] dengemann commented on #2218
if it's really a bad channel it will hardly get unnoticed ;)
You will see it in the cov plots or elsewhere.
Anwyways, I'm fine with checking but against extra API.
Out of curiosity Mainak, is this a potential issue or did you have to deal
with it recently?

2015-06-19 15:18 GMT+02:00 mainakjas <notifications@github.com>:

[2015-06-19 13:32] mainakjas commented on #2218
Yeah, you will eventually notice it if you are careful with things. But I probably don't want anyone else to go through half an hour of debugging for the same reason. Yeah, I did have this issue myself -- so it's not just academic curiosity :) @teonlamont and @yousrabk will attest that I hit a few bugs / issues with mne-python just when I was in deadline mode ;)

[2015-06-19 13:36] dengemann commented on #2218
I would recomend a plot like this:

![screenshot 2015-06-19 15 35 40](https://cloud.githubusercontent.com/assets/1908618/8254455/e52306c4-1698-11e5-8111-41fb01038ef2.png)

If you miss a bad channel the plot will be screwed up and in the grey image all structure will be lost.

I believe you, I was just asking because I never ran into this one in ~3 years, at least not because of manual specificatio

[2015-06-19 13:53] mainakjas commented on #2218
On Fri, Jun 19, 2015 at 3:36 PM, Denis A. Engemann <notifications@github.com

Thanks. But this won't show flat channels or channels with oscillation
(e.g., we had a channel with 10 Hz oscillation in Helsinki). Or will it?

[2015-06-19 13:58] dengemann commented on #2218
(e.g., we had a channel with 10 Hz oscillation in Helsinki). Or will it?

It should give you a grey line.
But would maybe need some tweaking / optimizitation, probably based on the color map.
You could construct a second plot which shows you flat channels based on std or so.
Take home message is: include diagnostic plots in your data analysis routines that highlight undetected bads.

[2015-06-19 14:02] dengemann commented on #2218
The more likely case is that you don't make a typo but you bad channels
detection routine is not perfect.
Checking the info won't help you there.

2015-06-19 15:53 GMT+02:00 mainakjas <notifications@github.com>:

[2015-06-19 16:11] cjayb opened #2223 "difference between fwd['sol']['row_names'] and fwd['info']['ch_names']"
Hiya, full disclosure first: the following is **not** reproducible on the sample dataset, which is why I've placed a minimal (250 MB) dataset on:

https://dl.dropboxusercontent.com/u/14937634/fwd_sol_vs_info_ch_ordering.tar.gz

The script `demo_fwd_sol_vs_info_ch_ordering.py` illustrates the situation on an MEG+EEG dataset (Triux 306 + 75ch EEG). I've included 1 sec of raw data (both "true" raw wi

[2015-06-19 16:15] Eric89GXL commented on #2223
I think the forward solution code is structured so that the forward solution gets ordered as MEG then EEG channels. Is that how your data are organized originally? (I don't have time right now to look myself, but I can check later today or Monday.)

In any case, it does sound like there is a bug because if e.g. EEG data come before MEG data, the orders will be mismatched.

[2015-06-19 16:21] cjayb commented on #2223
The `raw.info['ch_names']` is in the usual order
`['EOG001',
 'ECG002',
 'EOG003',
 'EEG001',
 'EEG002',
 'EEG003',
 'EEG004', ...]`, _i.e._, "BIO", followed by EEG, followed by MEG-chans. This is the order in `fwd['info']`. But in `fwd['sol']` the order seems to have been switched to MEG followed by EEG (BIO dropped, of course).

I'm sure you're right about the non-bug status, but if you do get t

[2015-06-19 16:25] Eric89GXL commented on #2223
I mean that there definitely is a bug... `fwd['info']` and `fwd['sol']` orders do not have to match -- we should use different selections for each, as you suggest. Do you want to try making a fix?

[2015-06-19 16:30] dgwakeman commented on #2223
A good place to try things out would be to see what happens when you use the C code to deal with these files in each place (are the outputs ordered the same?)

[2015-06-19 16:31] Eric89GXL commented on #2223
I suspect they will be since I tried to follow the C code closely with the forward code, but the C code probably does a better job with the picking after the fact :)

[2015-06-19 16:39] cjayb commented on #2223
Sorry, I should learn to read _every_ word people write to me ;)

If it's safe to use separate selections, then at least for `pick_forward_types`, this  seems to work: 04bf94c104c7210352df5d0a04b39588164620ef

I can't judge if it's "safe", though, any thoughts?

[2015-06-19 17:56] Eric89GXL commented on #2223
This is about what I would expect. Does this work for your data? If so, please open a pull request.

We should also add some test, though. I think we can do it by loading a sample file, reordering the data and entries in `info`, and using that to create the forward. Are you up for writing that? If you don't have time or don't know how, I can do it.

[2015-06-19 18:23] cjayb commented on #2223
It works to the extent that 1) the `sensititivity_map` is calculated and 2) the map "makes sense". I'd like to give this a go, I'll `@` you if/when need be (most likely in the test-phase). Expect a PR during next week. Have a good one!

[2015-06-19 20:35] Eric89GXL commented on #2223
Great, thanks @cjayb.

In your PR on GitHub, please put `Closes #2223` so this issue gets auto-closed when me merge your PR.

[2015-06-19 22:02] haribharadwaj opened #2224 "ASCII format event file not compatible with mne_browse_raw"
I mean when using `mne.write_events(.)`
Is this intentional?
It does seem like we need two changes for compatibility (or update mne_browse_raw):

(1) Adding time column
(2) Adding dummy row with `raw.first_samp` (OR) adding `raw.first_samp`  to all rows

[2015-06-20 07:22] agramfort commented on #2224
can you clarify how the problem happens? what's your workflow?

[2015-06-20 16:30] haribharadwaj commented on #2224
Take any events array and do ```mne.write_events('something.eve')```. The result cannot be viewed by doing "Load events from text file.." in ```mne_browse_raw```.

[2015-06-20 17:30] teonlamont commented on #2224
I think it has something to do with the standard C `-eve.txt` file having four columns instead of our three if I remember correctly.

[2015-06-20 21:23] haribharadwaj commented on #2224
It does..once I made the changes in OP, it shows up correctly.

[2015-06-20 21:37] Eric89GXL commented on #2224
I thought you'd need the first_samp, too -- did it work without it?

[2015-06-20 22:52] haribharadwaj commented on #2224
@Eric89GXL .. You don't technically need to have a dummy line with ```first_samp``` -- mne_browse_raw recognizes the the lack of a dummy line and shifts the sample numbers using the ```first_samp```  but that is incorrect because mne-python event arrays already have the requisite shifts.

Essentially you need whatever I have listed in OP..

Do you guys see anything breaking if I change mne.write_e

[2015-06-20 23:48] Eric89GXL commented on #2224
You can try it first and see if it breaks any of the tests :)

I thought we had some reason for omitting the events, but looking back at the PR #111 I don't see one. So +1 for me

[2015-06-21 08:29] teonlamont opened #2225 "BUG make_fwd_solution is broken"
I was trying to make a fwd solution and I got an error.

[code]

[2015-06-21 08:39] agramfort commented on #2225
Can you send a PR?

[2015-06-21 09:10] teonlamont commented on #2212
Consolidating from #2213:
These are html visualizations/interactions with MNE-Report that could be improved upon:

MNE-Report toggle button #1996
MNE-Report html issue #2212

[2015-06-21 13:16] dengemann opened #2227 "BUG/API issue with multi_comp.bonferroni_correction"
Do people agree that this is a bug, at least a very unexpected output:
https://github.com/mne-tools/mne-python/blob/master/mne/stats/multi_comp.py#L101

`pval_corrected` should instead be used for creating the output mask.

@agramfort @Eric89GXL @mainakjas

[2015-06-21 13:43] mainakjas commented on #2227
indeed, looks like a bug to me

[2015-06-21 13:45] dengemann commented on #2227
probably one of @agramfort 's early experiments on how to impvrove the sensitivity of MEG group analyses ... ;)

[2015-06-21 14:24] Eric89GXL commented on #2225
@teonlamont in fact I think you must be on my branch in order to have gotten this error -- I added that check in my PR. Please check the most recent version of my PR to see if it fixes your problem, and if it does, close your PR.

[2015-06-21 17:14] agramfort commented on #2227
oh my goodness... it's a horrible bug that has been there for ages ... :-/

PR more than welcome...

[2015-06-21 17:32] dengemann commented on #2227
Ok, I'm on it.

[2015-06-21 19:26] #2227 closed

[2015-06-21 19:55] agramfort commented on #2224
no objection. I never use events as texts file and I have never suggested
users to use them in the MNE training sessions.

[2015-06-21 22:56] teonlamont commented on #2225
yeah, life living on multiple branches. yeah, this fixes the error I was having. I will close this issue and my pr, thanks

[2015-06-21 22:56] #2225 closed

[2015-06-22 11:19] dengemann commented on #2213
updated todo @jaeilepp

[2015-06-22 12:45] teonlamont commented on #2056
is there a solution for this? I just got the same RuntimeWarning

[2015-06-22 19:36] teonlamont opened #2230 "Getting Epochs Indices after selection, then rejection"
Is there a simple way to get the index of the epochs that you drop other than drop log? here's the situation.

I have an Epochs and behavioral data, same length.
If I do event selection based on the behavioral data, it's fine. I just get the indices and submit them to epochs.drop_bads. The two are still the same length. The drop log however is the original length.
The problem is if I decide to rej

[2015-06-22 19:37] dengemann commented on #2230
epochs.selection

[2015-06-22 19:38] teonlamont commented on #2230
that just gives me an np.arange of the original Epochs

[2015-06-22 19:40] dengemann commented on #2230
not sure why this is. epochs.selection should be the index relative to the events you pass to the constructor. I often used it to sync epochs to external events, e.g. behavioral data.

[2015-06-22 19:44] agramfort commented on #2230
epochs.selection should do it

[2015-06-22 19:51] teonlamont commented on #2230
so what happens is this: `epochs` and `beh_data` start at 1000:
[code]

[2015-06-22 19:52] teonlamont commented on #2230
Oh, I see, I should not index the `beh_data` until the very end. that should work

[2015-06-22 19:53] dengemann commented on #2230
@teonlamont what if you first drop bads based on rejection? I'm not sure if there might be an issue with epochs.selection after calling epochs.drop_bads. But epochs.selection should really do what you want.

[2015-06-22 19:56] teonlamont commented on #2230
yep, that was the solution. Epochs should be dropped first but rejecting based on the behavioral data. then you can do the behavioral indexing without a problem. thanks for being a soundboard :)

[2015-06-22 19:56] #2230 closed

[2015-06-22 19:57] dengemann commented on #2230
@teonlamont I don't fully get what was the solution. Could you clarify it a bit more? Would be good for the records.

[2015-06-22 20:33] teonlamont commented on #2230
oh ok. so say you have two datasets `epochs` and `beh_data`. They both have 100 events. There are two conditions `left` and `right`, 50 each, for simplicity, first 50 are `left`, and the last 50 are `right`.

If you want to keep them align, first you should reject first based on the meg rejection criteria. The reasoning is as follows (using pseudo-code):
[code]
this is the correct order for thresh

[2015-06-22 20:35] dengemann commented on #2230
Thanks @teonlamont that is absolutely what I supsected. Seemingly there was a misnomer in your previous description. Thanks for the clarification, should help others.

[2015-06-22 20:40] dgwakeman commented on #2230
This may seem silly, but isn't it better to just change the triggers on the raw data file prior to epoching. Using your easy example:
Left is code 1
Right is code 2
Simply add 4 to any "wrong" trial then epoch on 1 and 2
Then all 5s and 6s will be wrong, and if you want to do another epoch for example not caring about behavioral performance simply use ignore=4

[2015-06-22 20:43] dengemann commented on #2230
@dgwakeman you can change your events before you construct epochs, sure.

[2015-06-22 20:44] dengemann commented on #2230
I think these are complementary aspects., Ultimately you still might want to know which remaining epochs is where in the original sequence of events.

[2015-06-24 11:23] #2205 closed

[2015-06-24 16:14] teonlamont opened #2235 "Expand mne.gui.coregistration for all instances"
For the `mne.gui.coregistration`, it would be nice if we could use any instance with the head position data (Epochs, Evoked, etc.). Since the computation is MEG data invariant, this shouldn't be a problem.

cc: @christianbrodbeck

[2015-06-24 16:36] mainakjas opened #2236 "baseline correction too verbose"
I feel that baseline correction is too verbose:

[code]

I have thousands of trials and by the end of it, I lose any messages that were before this. If we can use this instead: https://github.com/mne-tools/mne-python/blob/b143c6df244dca2e6121048fae99cb6e1cfa84ab/mne/utils.py#L1148, that would be great.

[2015-06-24 17:42] mainakjas opened #2237 "epochs.save doesn't split large epochs files"
When I try to save a large `epochs` I run into this error. I think @teonlamont also had a similar issue

cc @Eric89GXL

[code]

[2015-06-24 18:38] dengemann commented on #2237
+1 for a fix!

[2015-06-24 19:01] Eric89GXL commented on #2237
+1 as well, I won't have time to fix it in the next week, so please go for it if you want. You can look at what is done for Raw. I think we'll need to be able to split the `.data` attribute into multiple pieces when saving. In fact, while we're at it maybe we should change the `Epochs` file format so it saves each epoch independently. This would make not preload epochs much easier, too...

[2015-06-24 21:29] agramfort commented on #2236
can't you just set verbose=False for this function?

[2015-06-25 13:25] mainakjas opened #2240 "plot_topo should be a method of evoked?"
Silly question, but I was expecting to do:

[code]

instead of

[code]
anything against this? cc @jaeilepp interactive visualization is your department ;-)

[2015-06-25 13:34] mainakjas commented on #2236
of course I can :) but as @teonlamont would say, that would be a hack ;-)

[2015-06-25 14:06] teonlamont commented on #2236
actually, in this case I wouldn't call it a hack since we have a proper implementation for dealing with this.

[2015-06-25 14:07] teonlamont commented on #2236
maybe you want something like verbose='minimal' but that would be a bit overkill ;)

[2015-06-25 14:21] mainakjas commented on #2236
no but seriously, I don't want to suppress the progress bar completely. I like to know where I am, just a little more streamlined :)

[2015-06-25 14:24] teonlamont commented on #2236
I guess you're saying that pretty much no one needs to know that the hundreds of epochs you baseline was in fact baseline individually. I would agree with that.

[2015-06-25 14:28] teonlamont commented on #2236
so you're suggesting making the output more concise and just overshare with your command line.

[2015-06-25 14:34] teonlamont commented on #2240
that would be useful

[2015-06-25 19:27] agramfort commented on #2240
why not

[2015-06-25 19:28] agramfort commented on #2236
so don't plot the baseline correction for all epochs? how about the read
segments?

I personally work with 'warning' as log level

[2015-06-25 21:17] dengemann commented on #2240
The plot topo takes lists of evokeds too. I think that's why we kept it like that.

[2015-06-25 23:57] mainakjas commented on #2240
I see, that makes sense but I guess it shouldn't be too hard to add a modified version of this function as a method to `evoked`. I use it all the time to look at my data.

[2015-06-26 07:12] agramfort commented on #2240
it should not be too much lines of code indeed.

[2015-06-26 08:59] dengemann commented on #2240
@mainak you could also subclass Evoked from list to make it work more
flawlessly ;)

2015-06-26 9:12 GMT+02:00 Alexandre Gramfort <notifications@github.com>:

[2015-06-26 11:59] jaeilepp commented on #2213
I can't seem to update the checkboxes on @dengemann comment.
- [ ] add scale + unit information on demand to browser plots
- [ ] add option to hide channel names for views with more many channels, e.g. > 100. Maybe auto-hide
- [ ] infobox with more precise control options, e.g. add 40 channels, add 22 epochs, etc.
- [ ] make sure all interactive options can be initialized from the function call
-

[2015-06-26 12:05] jaeilepp commented on #2213
Do you mean that for example butterfly plot should be operated with a boolean mask (butterfly=True)?

[2015-06-26 15:13] dengemann commented on #2213
Yes or view/mode='butterfly' this would also help avoid the trellis param

[2015-06-26 21:30] ImmanuelSamuel opened #2243 "Help with make_forward_solution"
mne.make_forward_solution(info, trans, src, bem, fname=None, meg=True, eeg=True, mindist=0.0, ignore_ref=False, overwrite=False, n_jobs=1, verbose=None, mri=None)

I am doing this on a EEG dataset. I have the info instance. I am using the 128 Biosemi system. How to get trans, src and bem instances?

Thanks

[2015-06-27 01:25] Eric89GXL commented on #2243
Have you looked through the MNE manual? The topics of what a trans is (coregistration matrix for head digitization and structural), src is (source space for neural currents), and what a BEM is (conductor model for forward calculation) are covered in there.

[2015-06-27 16:11] #2212 closed

[2015-06-27 16:24] alexandrebarachant opened #2245 "Q: XDawn implementation"
Hi,
I have python code for XDawn algorithm, and I though it will be interesting to push it on MNE.
However, i'm not sure of the API and where to put it.

Xdawn algorithm is two part. The first one is a least square estimation of the evoked responses, taking into account the possible overlap of ERPs. It could be a standalone method, something like :

`evokeds = least_square_evoked(raw, events, even

[2015-06-27 16:41] agramfort commented on #2245
do you really need to start from raw? why not epochs? I am just afraid of
duplicating epochs construction params here.

same rmk why not starting from epochs?

yes preprocessing.

once you have xd what do you do with it? you get projs?

how would a full decoding or simple evoked denoising pipeline look like?

[2015-06-27 17:08] alexandrebarachant commented on #2245
duplicating epochs construction params here.

The algorithm works with continuous signal. in the case your ERPs are not overlapped, then you could simply use epochs, because it is equivalent to the standard average.
It is technically possible to reconstruct pseudo-continuous signal from epochs and events position, and run the algorithm on it, but it is a source of bug IMO.

same + spatial filters

[2015-06-27 20:23] #1893 closed

[2015-06-27 20:23] #1982 closed

[2015-06-27 20:23] #2178 closed

[2015-06-27 20:23] #2200 closed

[2015-06-28 01:02] kingjr opened #2246 "Q: topomap with axis"
I'm a bit confused in all the viz functions.
1. Is there a way to do an evoked topomap and indicate the axis?
2. Is there a way to easily update a topomap on a given axis?

I'm trying to make an example for the animated gif that would go something like:

[code]

[2015-06-28 09:18] agramfort commented on #2245
I would try to make it work from epochs as the API would be much
simpler and it would avoid some code duplication with epoching
mechanism but I can be wrong... Maybe I should look at the code to get
a better opinion.

why not providing MNE covariance objects?

I am not trying to convince you but challenging your vision :)

to me it sounds like a transformer in the sklearn API sense. Making it
work

[2015-06-28 15:02] alexandrebarachant commented on #2245
simpler and it would avoid some code duplication with epoching
mechanism but I can be wrong... Maybe I should look at the code to get
a better opinion.

i also don't like code and API duplication. The least square estimation could works from epochs. To do so i would have to reconstruct the original signal using the events position and merge part of the signal that are overlapped. En the End, it wo

[2015-06-28 23:05] alexandrebarachant commented on #2245
Hi again,
I implemented the denoising part, working similarly to the ICA, but is supervised and built to increase the SSNR of the ERP.
it works pretty well.
for examples, here is the epochs image before denoising :

![image](https://cloud.githubusercontent.com/assets/2145718/8398704/f28fb0c4-1dc7-11e5-95a5-7688f8afe089.png)

and after :

![image](https://cloud.githubusercontent.com/assets/2145718/

[2015-06-29 09:40] wmvanvliet commented on #2245
From a user's standpoint, I see no other reasonable option than to work with MNE's Epochs object.

With the plain and simple Epochs procedure, the original timeline can be reconstructed, since the event onsets are properly stored.

Can we make `concatenate_epochs`, `decim`, and `resample` properly deal with event onsets? I see no real downside to that, since the event onset/duration columns become

[2015-06-29 10:12] mainakjas opened #2248 "histogram of peak-to-peak thresholds"
For each epoch, we can get the peak-to-peak value for all channels (separately for eeg, mag and grad) and make a histogram out of it. Based on this histogram, you can judge if the epoch should be dropped or not.

Idea discussed with @agramfort over mne-lunch. cc @jaeilepp it would be cool to integrate this into the epochs viewer. Thoughts?

[2015-06-29 13:36] alexandrebarachant commented on #2245
Then, the user would have to provide the raw covariance in case he want to apply the algorithm in the best possible condition. but it is still acceptable.

Sure, it's more a bug than a true limitation. I just wanted to point this as a potential source of bug since most of the Epochs methods doesn't care about the event positions after epoching.
I can do a PR for this.

yep, we can add this flag, w

[2015-06-29 14:36] agramfort commented on #2248
+1 that would be very useful I think.

[2015-06-29 15:27] agramfort commented on #2245
@alexandrebarachant can you write a code snippet a user would write? I like to think about API issues looking at code. It does not matter if the gist is not backup by actual code.

btw your preliminary plots are great !

[2015-06-29 15:52] alexandrebarachant commented on #2245
with the epoch API, this can look like this [gist](https://gist.github.com/alexandrebarachant/b4d94245db162f6663f7)
if the signal covariance is not provided, then the aglo will use the covariance of the signal reconstructed from the epochs.

the main part of the code is done at 80%

[2015-06-29 18:33] wmvanvliet commented on #2245
that looks like a good API to me.

[2015-06-29 18:35] alexandrebarachant commented on #2245
the snipet works with my xdawn branch.
you can play with it if you want.
I will improve the code and the doc and open a PR

[2015-06-29 18:37] wmvanvliet commented on #2245
This should be clearly documented. It confused me in the gist.

[2015-06-30 08:19] agramfort commented on #2245
great. Looks like we have a plan !

looking forward to it.

[2015-06-30 09:41] dengemann commented on #2245
@alexandrebarachant this is very exciting and I like the API a lot. What was the status of the Raw/Epochs discussion. I see no reason not to have both as possible inputs to fit, as is possible with our ICA class.

[2015-06-30 13:16] alexandrebarachant commented on #2245
@wmvanvliet yes this is a bit confusing. the apply method takes event_id as a param, so you can specify which class of filter to apply. If not provided, all the filters are applied. In both case, the method return a dict of epoch instance. i don't know if there is a better option.

@agramfort I will have time to finish this later this week. I also want to add some method to visualize spatial patte

[2015-06-30 13:18] dengemann commented on #2245
@alexandrebarachant for comprehension, which data should the signal covariance include conceptually for Xdawn? Only signal of interest or noise segments too or only noise / signal of non-interest segments?

[2015-06-30 13:22] alexandrebarachant commented on #2245
@dengemann In the original paper, it is the covariance of all the signal (including signal of interest). The algorithm optimize the signal to (signal + noise) ratio of the ERP. A natural extension would be to provide the noise cov only, so that you will optimize the SNR.

[2015-06-30 13:25] alexandrebarachant commented on #2245
@dengemann as a side note, Xdawn can be seen as a Whitening + SVD of the evoked response.

[2015-06-30 13:43] dengemann commented on #2245
This is interesting! I will play with it as soon as I find some time. Might also be interesting to see how it interacts with cov-estimation options and to explore the baseline cov use case.

[2015-06-30 13:50] alexandrebarachant commented on #2245
indeed. For the MEG data provided with MNE, i don't expect a very strong difference, since the ERP is very strong and will dominates the solution. For noisier data, providing a noise cov only may lead to improvements.

[2015-06-30 14:19] agramfort commented on #2245
@alexandrebarachant can you open a PR with your xdawn branch so we can start to look?

[2015-06-30 20:24] choldgraf opened #2253 "Channel type auto scalings in plot"
Maybe it's just an ecog thing, but my data are often at a very different scale than the MNE defaults during calls to plot. Usually I just do something like `scalings={'eeg': data._data.max() / 2}` or something. However, would it be useful to just allow a string to be passed to "scalings" that would automatically do this? E.g.:

[code]

This could either be allowed as a function to plot commands, o

[2015-07-01 08:02] agramfort commented on #2253
my feeling is that we should have a proper ECoG channel type rather than
hacking EEG with ECoG data.

[2015-07-01 16:50] choldgraf commented on #2253
I'd be +1 on this for sure, but I've been holding off on suggesting it just because I can't tell if anybody else is using MNE with ECoG or if I'm a small use case. Instead I just mark all channels as 'eeg' and try to remember to set add_eeg_ref to false any time I load in data. I think implementing an 'ecog' channel type could pose some extra challenges (e.g., do you allow people to load in all of

[2015-07-02 16:29] choldgraf commented on #2176
Jumping on this with a related question - if we use roc_auc_score, then doesn't that require that the model we've fit use `predict_proba` rather than just `predict`? I looked through the GAT code briefly and couldn't find a flag that said something like "if clf.probability is True: do `predict_proba` instead of `predict`.

[2015-07-02 18:27] agramfort commented on #2176
the new scoring API in sklearn does this magic for you.

[2015-07-02 19:18] kingjr commented on #2176
Yes, we decided to keep the gat api simple for now. What I do to get proba
is create a class that inherits from SVC and change the predict behavior
into a predict_proba one

On Thursday, 2 July 2015, Chris Holdgraf <notifications@github.com> wrote:

[2015-07-02 20:33] choldgraf commented on #2176
ah ok - I wonder if one could just do

`svm.predict = svm.predict_proba`

and then just go from there

On Thu, Jul 2, 2015 at 2:18 PM, J-R King <notifications@github.com> wrote:

[2015-07-02 20:56] choldgraf commented on #2176
Ah I can see why you guys wanted to keep the api simple for now...I was
running into "incorrect shape" errors so it seems like the simplest way to
get the code working is to set the `predict_proba` function to only output
the second column of its output probabilities (assuming that n_classes is
2).

@agramfort are you talking about the .17 release then? Or is this something
that's already implemen

[2015-07-02 22:45] kingjr commented on #2176
That s right. And predict proba is not the only outputting function out
there.... I sometimes use multidimensional prediction but you have to build
a scorer that knows what to do with it.

On Thursday, 2 July 2015, Chris Holdgraf <notifications@github.com> wrote:

[2015-07-03 16:30] choldgraf commented on #2176
Cool - maybe I will write a post/example on getting this to work with AUC
for future reference, thanks for your clarification!

Chris

On Thu, Jul 2, 2015 at 5:45 PM, J-R King <notifications@github.com> wrote:

[2015-07-03 17:06] teonlamont commented on #2176
@choldgraf that would be really useful. I just had to deal with this myself. I am calculating both the scores from crossval and I wanted to have the AUCs too. @kingjr, for clarification, are you saying that you can create a scorer that output both the classification score and the AUC?

[2015-07-03 17:10] choldgraf commented on #2176
Cool, maybe I can hash one out as I'm visiting Paris next week. I think it would be particularly useful for AUC, since the paper that "introduced" the time-generalization method explicitly recommended AUC as a metric they used (current debate about usefulness of AUC notwithstanding)

[2015-07-03 17:47] teonlamont opened #2255 "All plots should have axes parameter"
I think that we should make sure all of our plotting functions have the `axes` parameter.

Most of them do but some don't, e.g. plot_projs_topomap. It would be great for added flexibility with creating figures.

cc: @mainakjas @jaeilepp

[2015-07-03 18:09] aestrivex commented on #2253
I have been setting the channel type for ECoG data to the existing sEEG channel type in my projects. But very few mne python functions seem to look at this information. I think that at some point I wrote my own scaling parameters but also the visualization I wanted to end up with was somewhat different from what mne-python does.

[2015-07-03 18:15] aestrivex opened #2256 "write_labels_to_annot fails if labels have no name defined"
File "/space/truffles/2/users/rlaplant/anaconda/lib/python2.7/site-packages/mne-0.9.dev0-py2.7.egg/mne/label.py", line 1865, in write_labels_to_annot
    msg = "%s: %s (%s)" % (color, ', '.join(names), hemi)
TypeError: sequence item 0: expected string, NoneType found

This bit of code is blocked off by `if len(names) > 0`.
But I encountered the case names is `[None, None, None ...]` so it can't jo

[2015-07-03 18:15] choldgraf commented on #2253
One tricky thing with ecog scalings is that (IME) ecog comes in many different flavors. I don't know that a single scaling parameter works for all ecog datasets. This is why I usually just forego type-specific scaling and auto scale to 1/2 times the maximum value. Also a reason why it'd be great to incorporate the "interactive" scaling with +/- that was implemented into the epochs plotting

[2015-07-03 18:31] teonbrooks opened #2257 "Interactive Evoked extended to ICs"
Consider extending the interactivity of Evoked to enable IC exclusion to see the effect on Evoked similar to interactive proj. This would just require ICA object for the unmixing matrix and the component of interest.

[2015-07-03 19:13] teonlamont opened #2258 "find_layout doesn't work for KIT system if a channel is dropped"
Is there a way to preserve the original number of channels in a system after doing inst.pick_types. The two KIT systems differ in layout and they are distinguished based on the number of channels.

[2015-07-03 19:15] teonlamont opened #2259 "__repr__ for Epochs when read from disk"
the __repr__ of an Epochs objects read from disk is `_BaseRaw`. should this be `Epochs`? I guess we can't distinguish between Epochs and EpochsArray saved to disk and that is why the generic basename is being used.

cc: @Eric89GXL

[2015-07-03 19:38] teonbrooks opened #2260 "STC iterator over time"
To save on memory and processing, it would be useful to have the stc generator compute over time. Currently it iterates over epochs. The use case is computing regressions in source space, or other parameter maps of source estimates over time.

[2015-07-04 09:53] Eric89GXL commented on #2260
Would an iter_time method work for your use case?

[2015-07-04 09:56] Eric89GXL commented on #2259
What we should really do is rename Epochs to something else (like
EpochsFromRaw but a less crappy a name) and change _BaseEpochs to Epochs,
but that will break people's code if they have subclassed. So I'm not sure
what a good solution is.

[2015-07-04 09:57] Eric89GXL commented on #2258
Is there a more robust way too distinguish them, e.g. by coil type? Using
number of channels seems fragile. How does it work for Neuromag systems?

[2015-07-04 10:01] dengemann commented on #2260
@teonlamont FYI you can compute betas from a linear regression and map them to source space using MNE, it's valid cf. @olafhauk work.
I guees you want to do it for your ridge though and I bet it won't be valid for the ridge coefs.

[2015-07-04 14:43] teonlamont commented on #2260
@Eric89GXL yeah, something like that is what I was thinking about.

there was a long discussion over the listserv a while back about using beta maps generated in sensor space then using them in source space https://mail.nmr.mgh.harvard.edu/pipermail//mne_analysis/2014-February/001841.html. @dengemann I agree that it should be ok for MNE, but what about for dSPM

[2015-07-04 14:47] Eric89GXL commented on #2260
DSPM is linear too so I think it should be okay

[2015-07-04 14:48] teonlamont commented on #2259
sorry, that was supposed to saw `_BaseEpochs`, not `_BaseRaw`. but actually, nvm. I just loaded epochs from disk and it says `Epochs` now. I think I am ok with how things are now without any changes

[2015-07-04 14:49] teonlamont commented on #2260
but what about using free orientation, I guess the transformation would be ok, but then the x, y, z values are combined

[2015-07-04 14:50] teonlamont commented on #2258
unfortunately, they have the same coil type. I agree that using the number of channels is a weak assertion. Neuromag looks for particular channel types

[2015-07-04 14:58] Eric89GXL commented on #2260
Oh you mean loose or free orientation, yeah that combination of terms is
nonlinear

[2015-07-05 22:09] agramfort commented on #2258
can you hack something?

[2015-07-05 22:20] agramfort commented on #2256
fix it when you can

[2015-07-05 22:21] agramfort commented on #2253
let's talk during the sprint.

[2015-07-05 22:24] choldgraf commented on #2253
sounds good - will touch down in Paris on Tuesday morning!

On Sun, Jul 5, 2015 at 5:21 PM, Alexandre Gramfort <notifications@github.com

[2015-07-05 22:27] agramfort commented on #2176
we should start tagging issues and PRs for the sprint.

Please go for it anyone.

[2015-07-06 07:52] eort commented on #1240
A year ago I was working on a python implementation of a CSD (based on Perrin, 1987). For that, I orientated myself at a Matlab version of it, written by Mike X. Cohen (University of Amsterdam) described in his book [Analyzing neural time series data](http://www.mikexcohen.com/). Unfortunately, thesis-related time pressure forced me to quit before I could finalize it. As far as I remember, it work

[2015-07-06 08:46] dengemann commented on #1240
@eort I have a working and tested CSD version which I did not contribute here becasue it depends on the lookuptables provided by the original toolbox. I initially wanted to add it here but decide not to do so as I did not find a way to replace the lookup table approach with actually computing the spherical coordinates from the sensors. The annoying thing is to get the coordinates into the coordina

[2015-07-06 09:06] eort commented on #1240
I might miss here something, but isn't possible to use the coordinates in  `raw.info` for that matter? At least that's what I thought I was doing. But I have to admit I'm not very familiar with different coordinate system and such things.

[2015-07-06 09:09] dengemann commented on #1240
No it's in fact more complicated. See documentaiton of the matlab toolbox on the coordinate system. And just projecting the sensors on spherical coordinates is not enough. Currently we're simply using the lookup tables to get the expected coordinates for a sensor. But this is of course not satisfying for MNE-Python standards as this limits the use of this code to certain EEG montages.

[2015-07-06 09:10] eort commented on #1240
Ah, too bad. Never mind then.

[2015-07-06 09:17] dengemann commented on #1240
We could make the code availble though. MNE-Python currently ships the EGI
sensor CSD tables:

https://github.com/mne-tools/mne-python/blob/master/mne/channels/data/montages/EGI_256.csd

So that would work out of the box. Which system are you using?

2015-07-06 11:10 GMT+02:00 eort <notifications@github.com>:

[2015-07-06 09:20] eort commented on #1240
Biosemi with 128 channels.

[2015-07-06 09:21] dengemann commented on #1240
You neet to look into the lookuptable from the original toolbox to see if you can get a mapping (or find a way to compute the coordinates ;)

[2015-07-06 09:24] eort commented on #1240
Thanks, I'll try that (at some point in the distant future...)

[2015-07-06 10:46] kingjr commented on #2176
I ve got some working examples already , I Lol put a ref here

On Friday, 3 July 2015, Chris Holdgraf <notifications@github.com> wrote:

[2015-07-06 13:27] #2223 closed

[2015-07-06 14:39] wmvanvliet opened #2264 "Document data mangling functionality"
This is one of the documentation area's I want to cover during the MNE sprint.
I would like to have a clean document that describes how to perform common data manipulations, such as:
- **create** RawArray/EpochsArray/EvokedArray objects
- **select** channels, time points, classes, etc.
- **drop** channels, time points, classes, etc.
- **concatenate** along channels, time points, classes, etc.
-  *

[2015-07-06 14:45] dengemann commented on #2264
Sounds good to me.

[2015-07-07 13:52] ImmanuelSamuel commented on #2255
power.plot() needs axes parameter.

[2015-07-07 13:59] ImmanuelSamuel commented on #2243
I have been looking into all of the above and it seems to be linux heavy in getting all the files necessary to do an analysis. Is it possible to have a standard source space, BEM and trans obtained from a standard T1? I don't have individual T1 so I was initially planning on running getting the files based on a standard T1 as used in MRIcron. Is it possible to have some standard defaults making it

[2015-07-07 14:51] #2256 closed

[2015-07-07 14:53] dengemann commented on #2243
If you don't have a coregistration I doubt source connectivity is a great
idea ...
You can coregister to fsaverage if this is what you want using the coreg
gui in python.
It would be better to have t1 if you want to make claims about source
connectivity, my 2 cents.

2015-07-07 15:59 GMT+02:00 ImmanuelSamuel <notifications@github.com>:

[2015-07-08 09:51] choldgraf commented on #182
On this note, I was actually chatting with Brad the other day (he used to be in my lab) and he mentioned that a post-doc in their lab had written up a bunch of python functions to do phase-amplitude coupling w/ various methods (phase-locking value, glm, etc). I spoke with the post-doc and he seemed friendly to contributing the code. Let me know if there's interest in that and I can follow up.

[2015-07-08 09:52] dengemann commented on #182
Yes sounds good of course!

2015-07-08 11:51 GMT+02:00 Chris Holdgraf <notifications@github.com>:

[2015-07-08 12:35] choldgraf commented on #182
From the guy:

I'll ask him how he feels about working on this next week, or if he's cool with us implementing it. Circular stats aren't my specialty though something that I'm going to be doing more of in the coming months, so perhaps I can help.

Here's what he's got:
https://github.com/srcole/neurosrc/blob/master/spectral/signal_pac.py

[2015-07-08 12:39] agramfort commented on #182
cross ref with #1388

[2015-07-08 14:38] jona-sassenhagen commented on #1808
@wmvanvliet can you add the code sprint label to this?

[2015-07-08 19:25] ImmanuelSamuel opened #2267 "Q: Baseline for power.plot_topo"
my data epoch is from -0.5s to 1.5s

I run the following
power = mne.time_frequency.AverageTFR

Then, when I do power.plot_topo(baseline=???) ...

Should the baseline be (-0.5,0) or (-0.5,-0.25) because the time frequency analysis should give a power at 0 based on a window from -0.25 to +0.25 right?

[2015-07-08 19:27] ImmanuelSamuel commented on #2243
Hmmm ok. I followed LORETA tutorials and they seem to do the same with a standard T1. That is why I asked if there is a default template that I we can use. I mean if people accept that method I am hoping they should accept this also. Although that is just my opinion.

[2015-07-08 19:37] ImmanuelSamuel opened #2268 "ROI definition in picks - ENH suggestion"
For the plot_topo functions it would be nice if the picks argument can take multiple channel groups Eg: picks = [[1,2,3],[4,5,6]]. The plots can be shown at the centroid of the channels within a group. This can reduce the need to plot all channels resulting in really small plots for data recorded with a high density channel system.

[2015-07-08 21:50] teonlamont commented on #2255
related pr #2195

[2015-07-08 23:37] teonlamont commented on #2258
I think the solution would be to do any layout getting before doing picking, e.g. `epochs.pick_types(meg=True, exclude='bads')`. since there is no distinguishing attribute between the two, that would be no elegant solution

[2015-07-08 23:37] #2258 closed

[2015-07-09 07:28] wmvanvliet commented on #2268
`plot_topo` uses a `Layout` object that defines the drawing position of the channels. The simplest way to achieve what you describe is to write your own layout file. Usually, you use the same recording setup over and over again, so investing an hour or so in creating your own custom layout is worth it.

If there is a pressing need to be able to do this in code, I suggest adding it to the `make_eeg

[2015-07-09 07:31] wmvanvliet commented on #2248
this should work well together with the FASTER rejection functions, since epochs are discarded based (among other metrics) on standard deviation of the channels.

[2015-07-09 09:09] agramfort commented on #2267
the baseline with TFR needs to be shorter eg -0.3 and -0.1 as you have
edges and a freq/time resolution trade-off.

[2015-07-09 12:22] cle1109 commented on #1847
Importing `mne` does not raise these warnings anymore, but something even weirder is happening now:

    import mne
    import pandas as pd

The `pandas` import now triggers these `numpy` warning messages. However, no warnings are produced if I reverse the import order:

    import pandas as pd
    import mne

Also, this problem is now specific to `pandas` - there are no warning messages if I impo

[2015-07-09 12:30] cle1109 commented on #1847
And here is another use case which triggers these warnings:

    import mne
    import scipy.stats

[2015-07-09 15:41] agramfort commented on #1847
I cannot reproduce.

Can somebody?

[2015-07-09 16:16] cle1109 commented on #1847
I just reproduced it on a different Mac. Same setup though, I'm using a brewed Python 3.4.3 and pip installed all Python packages.

[2015-07-09 16:43] agramfort commented on #1847
I cannot reproduce with anaconda.

try looking for things like:

warnings.simplefilter('default')

and commenting it to see if it helps.

[2015-07-09 17:25] Eric89GXL commented on #1847
I've gotten these before when mixing which versions of numpy vs other libs (scipy, pandas, scikit-learn) I've had installed, usually it means they were not all compiled on the same system. Using `brew` and `pip` I would expect to hit these sorts of issues. They are related to the compilation of other libs, and mne-python just causes them to appear.

[2015-07-09 17:31] cle1109 commented on #1847
@Eric89GXL yeah, this sounds reasonable - does this mean that CPython installed via brew was compiled using different lib versions than pip packages? Because the only thing I install via brew is Python; I installed all packages (including numpy and mne) via pip.

What could I do to get rid of these messages? Surely this cannot be the expected behavior, but I don't even know where to report this pr

[2015-07-09 17:33] Eric89GXL commented on #1847
I've had the best experiences using Anaconda. I think most other folks here have had similar experiences.

[2015-07-09 18:56] teonlamont commented on #2259
actually, i was wrong. i think it is still there.

[2015-07-09 19:00] Eric89GXL commented on #2259
Yeah, it should still be there. I don't have a good solution in mind. We could just make `BaseEpochs` public.

[2015-07-09 19:09] teonlamont commented on #2259
what do you think about doing this in the read_epochs:

[code]

[2015-07-09 19:25] Eric89GXL commented on #2259
BOOO HISSS monkey patch :) I think I'd actually prefer making `BaseEpochs` public instead.

[2015-07-09 19:45] teonlamont commented on #2259
hahaha, but then what would make people use `EpochsArray` instead of `BaseEpochs`, they look similar? or simply, what's the use of making it public other than the repr?

[2015-07-09 19:49] Eric89GXL commented on #2259
There isn't really a purpose. We can tell people they shouldn't instatiate it directly, and link to the other classes. To actually answer your question, EpochsArray has a few checks in it, otherwise it is a very thin wrapper around BaseEpochs.

[2015-07-09 19:55] teonlamont commented on #2255
evoked.plot mentioned in https://github.com/mne-tools/mne-python/pull/2241#issuecomment-116621986

[2015-07-09 22:51] teonlamont opened #2270 "Regression for spatiotemporal cluster tests"
Our regression function isn't compatible with the spatiotemporal cluster tests. We give a `namedtuple` with t-values, p-values, and beta-values as an output whereas functions like `scipy.stats.f_oneway` outputs the F-value and the p-value. also, we need to supply a design matrix for the regression and there isn't a way to pass attributes to the stat function.
maybe it would be useful to have the a

[2015-07-09 23:02] dengemann commented on #2270
I'd try a regular ttest or just a function that returns the data as stamt fun and pass the betas. You don't need to compute the regression during permutations. Think of your betamaps as weighted average. You also don't recompute you ERPs after peemuting.

[2015-07-10 03:46] teonlamont commented on #2270
don't you need to recompute the regression when you shuffle the labels for the permutation? that's the basis of the distribution you generating, right?

[2015-07-10 03:49] teonlamont commented on #2268
maybe the Layout object can generate default ROI layouts for the sensor grid

[2015-07-10 04:08] dengemann commented on #2270
Fot the t-test variant of our permutation clustering you assume a paired contrast and build the distribution by permuting the signs as those reflect differences between conditions. That should be the case too for your betas, not?
How does your regression problem look like?

[2015-07-10 04:17] teonlamont commented on #2270
what I would like to do and my understanding of how this would be best implemented is that I fit a regression (design matrix with my predictor) to my MEG data. using a threshold (p <= .05 or t >= 2), I would calculate the largest space-time cluster that survives thresholding. for the permutation, I would shuffle the design matrix and regress MEG data onto the shuffled design matrix. I then thresho

[2015-07-10 04:44] dengemann commented on #2270
What kind of contrast are you talking about?
Are you talking about group data or single subject data?

[2015-07-10 05:01] teonlamont commented on #2270
single subject data. basically I've done a regression on my time-course for all sensors, and I would like to correct the multiple comparisons of the sensors and independent tests per time.

[2015-07-10 05:15] dengemann commented on #2270
Ok I think I got it.
So where do you see a way to test for exchangeability (null hypothesis).
Do you have conditions in your case?

[2015-07-10 06:54] agramfort commented on #2259
I am lost. Can you paste a gist to reproduce the issue?

[2015-07-10 10:25] jaeilepp commented on #2218
I noticed that the ``raw.info`` lets you get away also with duplicate entries of a bad channel. This actually happens in one of our examples. In ``plot_from_raw_to_epochs_to_evoked`` channel ``EEG 053`` is already there when it is added. I removed the manual adding in https://github.com/mne-tools/mne-python/pull/2251.

[2015-07-10 11:10] Eric89GXL commented on #2259
When you read any `-epo.fif` file and look at the `__repr__`, the class name is `<_BaseEpochs : ...>`

[2015-07-10 12:20] #2138 closed

[2015-07-10 13:24] teonlamont commented on #2270
the null hypothesis is that there isn't a correspondence between let's say reaction time and brain activity. if you shuffle your design matrix of reaction time data and you regress it on to MEG data, then you don't expect there to be a relationship between the two. the significance test of the alternative hypothesis is how different is the regression of the observed reaction time on brain activity

[2015-07-10 13:31] dengemann commented on #2270
I think we had this before, the permutation clustering does not apply here
as you cannot formulate an exchangeability hypothesis.
Unless you have some other condition in which the reaction time is affected
or there is no correlation.

2015-07-10 15:24 GMT+02:00 Teon L Brooks <notifications@github.com>:

[2015-07-10 13:34] teonlamont commented on #2270
what do you mean by an exchangeability hypothesis?

[2015-07-10 16:54] mmagnuski commented on #2270
Isn't the exchangeability hypothesis in this case just the exchangeability of predictor - outcome pairs? If you assume there is no relationship between predictor(s) and outcome they can be permuted to get the null hypotesis distribution.
This is also the case if you used group data but a multilevel regression model (not subject-individual models) - you would have to permute (usually within subject

[2015-07-10 17:00] teonlamont commented on #2270
@mmagnuski this is my understanding of it as well. that means this approach shouldn't be problematic for you using this function. it's just at the moment it's not supported, but I wanted to make sure I'm not missing anything.

[2015-07-11 07:17] agramfort commented on #2218
the idea of this is line is to show to people how to mark a bad channel.
It's basically documentation and should not be a problem for our
implementations. Please put it back.

[2015-07-11 08:53] agramfort commented on #2259
see https://github.com/mne-tools/mne-python/pull/2272

[2015-07-11 12:51] #2259 closed

[2015-07-11 17:28] neukym opened #2273 "Error during ica.fit() of raw data"
I am trying to run code from the [ICA example](http://martinos.org/mne/stable/auto_examples/preprocessing/plot_ica_from_raw.html) on my raw data:

[code]

This code works with the sample "audvis" data, but I get the following error at

`ica.fit(raw, picks=picks, decim=3, reject=dict(mag=4e-12, grad=4000e-13))`

 when I try to run it on my own `_raw.fiff` files:

[code]

Has anyone seen this error

[2015-07-12 12:32] dengemann commented on #2273
This is indeed weird and sounds like a low level issue.... I've never had this before. Could you share some of your data? You're getting NaN values in your data at some point ...

[2015-07-12 14:28] teonlamont opened #2275 "Time Frequency functionality"
I just started to use the time frequency module and I have noticed some things that can be improved. two big things, plotting functions should be centralized, and time frequency functions should all take picks as an argument.

- [ ] plotting functions should be in moved to viz
- [ ] probably refactored with overlapping plotting functions
- [ ] picks should be added to all functions. this would be

[2015-07-12 15:13] teonlamont commented on #2275
one more thing is that I feel like picks should be the first non-obligatory argument in the function. that would mean four api function changes. I could just put it at the end but I hate badly organized arguments :/

[2015-07-12 15:36] teonlamont opened #2276 "Consistency in function names"
consistency in function names `mne.viz.plot_image_epochs` vs. `mne.viz.plot_evoked_image`. probably should be `mne.viz.plot_image_x`

[2015-07-12 16:03] teonlamont commented on #2255
TFR.plot

[2015-07-12 17:46] neukym commented on #2273
Thanks Denis. The raw file is data is [here](https://sandbox.kymata-atlas.org/myrawfile_raw_sss_movecomp_tr.fif) (temporarily - I will take it down once we know what the problem is). It is maxfiltered MEG/EEG/ECG/VEOG/HEOG Neuromag data (the unmaxfiltered `_raw.fiff` has the same problem - but I can supply this if needed).

Perhaps wierder still is that 5% of the time it *does* work, but it seems

[2015-07-12 19:15] teonlamont commented on #2273
@neukym you can set a seed in `mne.preprocessing.ICA(random_state=42` if you would like to try to reproduce the same error

[2015-07-13 00:01] neukym commented on #2273
Ah, great, well, that explains the (psuedo) nondeterminism.

[2015-07-13 08:08] wronk opened #2277 "Maxwell Filter"
Maxwell filter work ~~for GSoC~~:

~~[x] PR 0: initial code #2115~~
----
1. ~~Implement SSS algorithm using multipolar moments~~

~~[x] PR 1: cleanup #2355~~
----
1. ~~Add warning that processing non-Elekta data is experimental~~
2. ~~Check that `raw` files play nice with covariance calculations after Maxwell filtering.~~
3. ~~Add a check that `head_dev_t` (head to device transformation matrix) is

[2015-07-13 08:21] kingjr commented on #2004
I thought I had already answered that message. Have you solved your issue?

Else, and as it might be useful to other users:

* Electrophysiological components observed across time are not necessarily orthogonal with one another, so training at one time point, may lead to strong biases when you generalize it to another time point. You thus need to ensure to use 1. algorithms that output continuous

[2015-07-13 08:54] wronk commented on #2277
@teonlamont @Eric89GXL @dengemann, I think I've added all the issues you've collectively mentioned, but have a quick look to make sure.

[2015-07-13 09:26] choldgraf commented on #2264
@wmvanvliet are you working on this at the onset of the sprint? I can perhaps help out since I'm relatively new to MNE compared you all, and might have the perspective of a newbie which is probably useful for a tutorial. I'm out of Paris until Wednesday, however.

How do you imagine building these tutorials? As a part of the 'doc' folder, or as a separate tutorial (e.g., ipython notebook hosted on

[2015-07-13 09:57] agramfort commented on #2264
I am looking at how much

https://github.com/sphinx-gallery/sphinx-gallery/pull/36

can allow us to do the job.

[2015-07-13 10:14] mainakjas commented on #1996
what was the consensus here? what do we want? do we want to keep things as it is or do we want some changes?

[2015-07-13 10:36] wmvanvliet commented on #2264
@choldgraf I would like to make it part of the 'doc' folder. The exact format is not terribly important. I guess I will write the text first using a notebook. Later, we can convert it into whatever documentation format we end up using.

I will work on this starting tomorrow at the latest, hopefully sooner.

[2015-07-13 11:35] choldgraf commented on #2264
ok cool - do you want to make one big document or lots of little ones for
data slicing/merging/etc? Is it something that I can help with at the
start, or better to wait and help review once drafts are ready?

If it's helpful at all, I wrote two posts about MNE munging a little bit
ago:

http://chrisholdgraf.com/using-mne-python-to-extract-trials-and-epochs-from-data/
http://chrisholdgraf.com/using

[2015-07-13 11:37] Eric89GXL commented on #2264
@choldgraf I just replied to the wrong thread, but I was saying maybe you
could work on viz tweaks and fixes

[2015-07-13 11:41] Eric89GXL commented on #2277
Add one at the top preventing use in systems with compensation until we
figure out how to do it properly. Or @staulu @agramfort do you think it
should be easy to get that bit working?

[2015-07-13 11:41] choldgraf commented on #2264
hehe I just saw that - yes I can help with this as well as it seems like
people are already working on the docs/tutorials and on circular stats.
Don't have a ton of experience with viz libraries but I'm sure that I can
pick it up quickly. Is there a list of additions we'd like to add sitting
around somewhere? The main thing that would be relatively quick to do is
letting you interactively adjust t

[2015-07-13 11:46] Eric89GXL commented on #2264
I think scaling actually has been added already. Any related viz issues
I've tried to tie back to your open issue, so looking through that should
be sufficient. But Jakko has been quite productive so some of the changes
have probably been done already.

[2015-07-13 11:57] wmvanvliet commented on #2264
@choldgraf lets discuss this on Gitter, I've send you an invite.

[2015-07-13 12:11] neukym commented on #2273
And, just to confirm, that does produce the same error. I guess there must be a set of `random_states` that don't reproduce this error, on this dataset at least.

[2015-07-13 12:13] mainakjas commented on #2237
Is anyone on this? I'm taking this if nobody is on this

[2015-07-13 12:15] choldgraf commented on #2264
OK cool, I am out for a little bit but will ping you when I have access to
good Internet. I'll be spotty on connectivity today and tomorrow just FYI.
On Jul 13, 2015 1:57 PM, "Marijn van Vliet" <notifications@github.com>
wrote:

[2015-07-13 12:22] Eric89GXL commented on #2237
@mainakjas hop on gitter, I want to discuss an idea quickly

[2015-07-13 12:23] Eric89GXL commented on #2273
Hmm, I think that points to some bug with the ICA routines. So it works for some random seeds, but not for others? I wonder if we could share some minimal set of data with the people who make the ICA (`sklearn`?) to help them debug it. @dengemann any ideas?

[2015-07-13 12:51] neukym commented on #2273
No actually - I just went through testing different seeds (1,2,3.. etc). It worked with seed 5, but then wouldn't work when I re-ran seed 5.

But this might not be a surprise - it depends how the random values are generated from the seeds. Matlab `rand()` seeds are relative to the last called seed (so calling `rand(seed=5)` multiple times gives different random numbers), and it might be the same h

[2015-07-13 12:55] Eric89GXL commented on #2273
Hmm, it's not supposed to work that way. Doing `np.random.RandomState(0).rand(10)` will always give the same 10 numbers. Getting different results with the same seed is indicative of some bug in our code I think, since it means we are not using it correctly.

[2015-07-13 14:00] kingjr commented on #2176
Here's an example:

[code]

Could you give a ref? Do you have alternative proposals we should use by default?

[2015-07-13 14:05] kingjr commented on #2176
You could if you wanted to. The dimensionality of the scorer isn't restricted if I recall correctly. However, I think the easiest is to run the scorer twice, without passing the epochs.

Using the example above you'd have something like this:
[code]

[2015-07-13 14:39] mainakjas opened #2280 "ENH: more datasets for mne-python"
I am opening a new issue to avoid cluttering gitter. Here's what I could find till now. Edit this comment to add more datasets
- [Fieldtrip datasets](http://www.fieldtriptoolbox.org/faq/what_types_of_datasets_and_their_respective_analyses_are_used_on_fieldtrip). They have a couple of examples, we could try to reproduce. For example: [beamforming](http://www.fieldtriptoolbox.org/tutorial/beamformin

[2015-07-13 15:25] Eric89GXL commented on #2277
@wronk I edited your comment to make it look a little bit nicer, using `1.` instead of `1)` makes use of the markdown support

[2015-07-13 15:52] agramfort commented on #2277
I know too little about compensation to have a good answer...

[2015-07-13 15:57] agramfort commented on #2141
closes for #2279

[2015-07-13 15:57] #2141 closed

[2015-07-13 17:28] choldgraf commented on #2176
Seems like the wikipedia entry [1] has some good refs...here's the relevant paragraph:

I don't have the statistical training to really know the ins and outs of the debate, but it seems like there is a debate anyway (I suppose there always is for anything in academia).

Thanks for the example, btw...very useful!

[1] https://en.wikipedia.org/wiki/Receiver_operating_characteristic#Area_under_curve

[2015-07-13 17:37] dengemann opened #2283 "BUG: regression random state ICA"
In random_state == None will not any longer produce a fixed seed. I suspect some underlying changes in sklearn. @agramfort does this ring a bell?

[2015-07-13 17:38] choldgraf commented on #2176
Also per your example, couldn't you even implement a convenience mixin in case you wanted to try a different classifier, e.g.:

[code]

or is that just super, super lazy? :)

[2015-07-13 17:44] kingjr commented on #2176
Mmmh, I wasn't aware at this at all. My impression so far, is that AUC was much better than accuracy, at least in my datasets and simulations: both in terms of stability and usability (accuracy is just not very good for GAT analyses; although it's true that the AUC is actually more computationnally expensive).

If anyone wants to give some practical feedbacks here that'd be much appreciated.

Sure

[2015-07-13 17:47] choldgraf commented on #2176
ah that's a cool way of going about it!

For the AUC stuff, I haven't done extensive testing but generally have found similar things to yourself. I think that the main layperson's argument about the drawbacks of AUC is that a benefit of ROC is it's ability to tell you about how the TP/FP ratio changes as a function of your decision cutoff. However, by reducing that information to a single point es

[2015-07-13 18:05] kingjr commented on #2176
I hope it's more than this, because the main point is that AUC is 1) non parametric and 2) robust to non-balanced datasets and biases, whereas accuracy isn't necessarily. The classic cases is when you train A versus B, and test on C versus D. If, par malheur, C and D really looks like A, they will be discretely predict as A, and accuracy drops to chance, whereas the AUC will be resistant to such b

[2015-07-13 18:07] choldgraf commented on #2176
this sounds reasonable to me - I'm just playing devil's (uninformed) advocate :D

[2015-07-13 18:07] staulu commented on #2277
A quick question for clarification before I give further comments: Does compensation refer to movement compensation or Elekta's internal active compensation ("MaxShield"), or something else? Another question: How about implementing tSSS? Many people find it the most useful feature of MaxFilter.

[2015-07-13 18:12] Eric89GXL commented on #2277
+1 for tSSS, it would indeed be great

When I say "compensation" I mean the compensation used by CTF systems. I don't know too much about it, but I know we need to be careful e.g. in forward modeling about how to deal with it, so I figured something similar might apply here.

[2015-07-13 18:12] Eric89GXL commented on #2277
i.e., this:

http://martinos.org/mne/stable/manual/convert.html#applying-software-gradient-compensation

[2015-07-13 18:20] wronk commented on #2277
tSSS added :)

I don't have much of an intuition for the compensation either... How high of a priority is it include support for this?

[2015-07-13 18:21] Eric89GXL commented on #2277
I think the first thing you should do is add support for raising an error if someone tries to use it. Actually getting it to work... I'm not sure. Lower than that :) I think it should go below most of the other things (calibration / cross-talk, tSSS) because we need those features before this is really useable for people.

[2015-07-13 18:29] Eric89GXL commented on #2277
List reordered as a potential roadmap, @wronk @staulu @agramfort @dengemann see if it makes sense to you

[2015-07-13 18:50] wronk commented on #2277
LGTM

[2015-07-13 19:22] wronk commented on #2277
As for the 6th point (coil definitions), I think that might be a good first test for the localization evaluation code @yousrabk and I are working on this week. Does anyone know where we might get access to coil any/all of the geometry drawings/blueprints?

Besides for the main issue of selecting integration points, there is a small discrepancy between Elekta and MNE with the size of the gradiomete

[2015-07-13 19:24] #1996 closed

[2015-07-13 19:25] Eric89GXL commented on #2277
@mshamalainen where does the baseline for the gradiometers in the `coil_def.dat` file come from? There seems to be a small discrepancy between the MNE values and those from Elekta.

@wronk actually I'm not sure it's worth pursuing coil defs for other systems for now. I'll move that point to later. I think it's worth investigating for Elekta because we need it for our sanity, but let's wait until w

[2015-07-13 19:44] staulu commented on #2277
The list of tasks looks good to me. As for the reference sensor compensation, such as the 3rd order gradiometrization in CTF systems, the compatibility of the compensated data with MaxFilter depends on how the compensation is done. As far as I understand, the CTF compensation is done by suppressing the homogeneous fields and the 1st and 2nd order derivatives of the external fields based on the ref

[2015-07-13 19:58] Eric89GXL commented on #2277
So if I understand correctly, we should be able to process compensation coils just as we process any other coils, and things should proceed normally. At first it seemed strange to me, since the reference sensors are designed to capture external interference, and we will be using Maxwell filtering to suppress those signals. But I suppose it doesn't matter whether the reference sensors or Maxwell fi

[2015-07-13 20:01] Eric89GXL commented on #2277
Okay, I updated PR1 to say that we should warn that processing non-Elekta data is experimental. This will cover us on systems with reference sensors / compensation implemented. At some point we need to validate that it works for those systems, which I have toward the bottom of the list (low priority for now).

[2015-07-13 20:01] #2190 closed

[2015-07-13 20:02] agramfort commented on #2283
no bell

[2015-07-13 20:14] agramfort commented on #2280
artifact rejection one seems doable. Dics uses mat files.

how about brainstorm?

[2015-07-13 20:45] mainakjas commented on #2280
For brainstorm, you need to register and then you can download. But they have dropbox links as well for all the files. Interestingly, they have median nerve data (tutorial [here](http://neuroimage.usc.edu/brainstorm/DatasetMedianNerveYokogawa) and [here](http://neuroimage.usc.edu/brainstorm/Tutorials/TutMindNeuromag)) -- might be cool to demonstrate our stim artifact interpolation, resting state d

[2015-07-13 21:18] staulu commented on #2277
Your comment made me realize that it is actually not feasible to perform the reference sensor based compensation if SSS has already been applied to the whole CTF array (actual sensors + reference sensors) because all the reconstructed signals will be of internal origin and the assumptions that justify using external Taylor's expansion for the extrapolation of reference signals don't hold true anym

[2015-07-13 22:34] Eric89GXL commented on #2277
Okay, we can postpone that until we have fine calibration / cross talk,
tSSS, movement compensation, and multipolar moment forward calculation
working :)

[2015-07-14 00:50] teonlamont commented on #2277
btw, the equations are not being rendered in the compensation section.

http://martinos.org/mne/stable/manual/convert.html#applying-software-gradient-compensation

[2015-07-14 07:32] agramfort commented on #2277
yeah I have seen... all formulas don't render...

[2015-07-14 07:38] kingjr commented on #2176
And you should, if AUC turned out not to be great, we should know it ASAP before it's too late.

[2015-07-14 07:43] agramfort commented on #2280
+1 for mind somato data

for resting we need more stuff in mne to make it useful.

regarding license there should be no pb.

can we download them from a script?

[2015-07-14 07:47] dengemann opened #2286 "ENH: allow for spatial connectivity between two hemispheres"
In volumetric source spaces you can get bi-lateral ROIs, blobs, and  connected clusters, not that easily with Freesurfer surfaces. However, it's an unphysiological prior to not allow bihemispheric connections in permutation clustering tests. With @banilo and @yuval-harpaz we were wondering about ways to connect medial vertices across hemispheres, maybe based on a minimum distance criterion. As an

[2015-07-14 07:56] wmvanvliet opened #2287 "Document info data structure"
For being such an important data structure, there sure isn't any documentation about the `Info` class. What fields might it contain? What do they mean? I know the answer often is 'it depends', but the standard fields should be documented.

[2015-07-14 08:01] dengemann commented on #2287
@wmvanvliet calls for some tutorial or so ... you volunteer, right?

[2015-07-14 08:18] agramfort commented on #2137
fixed by #2279

[2015-07-14 08:18] #2137 closed

[2015-07-14 08:23] wmvanvliet commented on #2287
yes, I'm working on it right now.

[2015-07-14 08:40] agramfort commented on #1280
@kingjr feel free to reopen if you feel like it

[2015-07-14 10:00] yuval-harpaz commented on #2286
Hi
I used fsaverage_sym from:
https://surfer.nmr.mgh.harvard.edu/fswiki/Xhemi
I read the spheres surfaces with matlab and looked for min distance there,
which made more sense than on pial.
I then looked for each of these pairs of dots (in lPair and rPair vectors
below) for their closes points on individual sphere surfaces.
The result seems reasonable but I did not validate it yet.

This is my code

[2015-07-14 10:05] mainakjas opened #2289 "document related functions by populating "See Also""
We should list related function in the documentation of all functions a la numpy/scipy. cc @dengemann @agramfort

[2015-07-14 10:34] trachelr opened #2290 "ENH: decoding API"
I suggest to enhance the decoding API. Actually there's a classifier.py module in which there is a set of transformers (Scaler, ConcatenateChannels, FilterEstimator, PSDEstimator).
I think we should rename this module to a transformer.py and create 2 modules, one for classification and another for regression, in which classes like LinearClassifier / LinearRegressor would be included.
The idea is t

[2015-07-14 11:39] Eric89GXL commented on #2289
That's kind of what our main api page does, right? Maybe we can just make
it better.

We should start populating See Also in docstrings, which would also help.

[2015-07-14 11:43] Eric89GXL commented on #2286
A while back I used Euclidean distance for the medial wall labels, it's
pretty easy to combine that with the existing surface distances. Just
compute the distances between medial left vertices and medial right
vertices, and populate the correct entries in the existing distance matrix.

[2015-07-14 11:44] Eric89GXL commented on #2287
I just had to explain some of these the other day. I'll be on gitter soon
if you have questions about the fields.

[2015-07-14 11:46] dgwakeman commented on #2287
Also, this is very helpful:
http://martinos.org/mne/stable/manual/matlab.html?highlight=meas%20info%20structure
Matti's documentation is always super thorough