[2016-12-14 23:55] romquentin commented on #3719
I confirm that it works (recording my head in different position inside the MEG and reconstruct correctly in plot_trans). This is empirical and I am happy to send you the code if anyone interested to theoretically check or to add a example (even if apparently it is very rare to use neuronavigation system for head positionning).
Apparently the `epochs.info['dig']` is added during `mne.io.read_raw_c

[2016-12-15 10:18] dengemann opened #3849 "ENH/DOC: apply ICA for EEG and MEG"
Cf email: https://mail.nmr.mgh.harvard.edu/pipermail//mne_analysis/2016-December/003798.html

[2016-12-15 11:12] dongqunxi opened #3850 "the 'spatial_exclude' parameter of the function 'spatial_temporal_clustering'"
Dear all,

I want to get the significant clusters on the cortices, the function ```spatial_temporal_clustering``` estimates the vertices on the surface of the whole brain. I do not want to take the medial central vertices into account. since they do not include any known cortical regions. In my understanding of the parameter  'spatial_exclude', it can exclude the vertices of this region.

My quest

[2016-12-15 11:14] agramfort commented on #3719
this the approach of some CTF sites such the MNI cc @ftadel

[2016-12-15 13:14] ftadel commented on #3719
This is what we do at the MNI: we copy the .pos file into all the .ds folders, it feels natural to have the head points part of each dataset, just like ou would have them in a .fif file.
If you want some examples: use any of the CTF-based sample datasets from the Brainstorm website.

[2016-12-15 15:39] skjerns opened #3852 "BUG: Reading EDF files can be very slow"
I am trying to read an EDF file, but the .read_data() (edit, i mean` load_data()`) function fails. Same thing happens with this [sample file](http://www.teuniz.net/edf_bdf_testfiles/eeg_recording.zip) from [here](http://www.teuniz.net/edf_bdf_testfiles/)

Looking a bit into the code I find that there is a call to `_read_segment_file` in `io\base.py` which raises an `NotImplementedError`. The Probl

[2016-12-15 16:56] romquentin commented on #3719
Ok. Thanks! Just not sure to understand where values in epochs.info['dig'] come from if there is no .pos file in the .ds folder (@Eric89GXL)?

[2016-12-15 17:06] Eric89GXL commented on #3719
Can you share a sample file that has this behavior? You can email me privately if necessary

[2016-12-15 17:18] romquentin commented on #3719
https://www.dropbox.com/s/e2d5ff3f6eylmpn/MJAZGAQC_wmtask_20161209_01.ds.zip?dl=0

So if I do:
`raw = read_raw_ctf(drop_box_ds_folder)`
`raw.info['dig']` contains
[code]
while the .ds folder has now .pos file.

Thanks a lot!

[2016-12-15 17:24] romquentin commented on #3719
Sorry. I mean while the .ds folder does not have .pos file :)

[2016-12-15 17:33] dgwakeman commented on #3719
Did you talk to your MEG tech/site director? There must be some record of the hpi coils in one of the two spaces above or it can't measure the head position.

[2016-12-15 19:52] agramfort opened #3853 "ENH: Beamforming enhancements"
- [ ] Fix high-SNR breakages (e.g., 1000 nAm dipoles)
- [x] NAI (neural activity index) normalization [from the mailing list](https://mail.nmr.mgh.harvard.edu/pipermail//mne_analysis/2016-December/003801.html).

[code]

[2016-12-15 20:45] romquentin commented on #3719
Yes I saw him. What I understood is there is one recording of HPI position in "dewar" space, and they directly calculate the corresponding position in a head CTF space (with the lpa-rpa axis being the Y-axis and the origin at the center of rpa-lpa segment). `read_raw_ctf` takes these coordinates and apply a transformation to bring these coordinates from CTF head to Neuromag head. This information

[2016-12-15 20:59] dgwakeman commented on #3719
How do they calculate the the lpa and rpa axis if they don't digitize any points? How do they get the head CTF space (not sure what they use)? They must have some digitized point in common with the HPI coils and the fiducials.

What does it mean: "there is one recording of HPI position in "dewar" space"? (how is the HPI position recorded. Do you mean that the put sine waves through and do dipole f

[2016-12-15 21:47] romquentin commented on #3719
Sorry maybe I am wrong about what "digitized points" mean. Correct me if I am wrong.
1 - Before and after each MEG block, we localize the head. During that, the HPI coil positions inside the MEG are recording relatives to the "dewar". It gives us HPI coil positions in device space.
2 - From these coordinates in device space, CTF automatically calculates a "CTF-head" coordinates frame where (it is

[2016-12-15 21:53] Eric89GXL commented on #3719
@romquentin oh you always place the HPI coils at the fiducials, right? Then it could use the localized coords to define both the head coordinate frame, and the head<->device coordinate transformation.

[2016-12-15 22:02] ftadel commented on #3719
Yes, this is how it works at most CTF sites. In the CTF recordings, the reference points are typically the coils, and the have to mark the coils in the MRI, which is tricky (the Donders has some fancy markers they see in the MRI, but I think most sites don't do that).
At the MNI we digitize both the coils and the anatomical landmarks, save them in the .pos file (copied to the .ds folder), and use

[2016-12-15 22:16] romquentin commented on #3719
Yes!
It is for that reason that we use the brainsight system to get HPI coil position in "MRI space".
But I still do not get where the info['dig'] is coming from without .pos file.
info['dig'] is different from info['hpi_results'].

[2016-12-15 22:20] ftadel commented on #3719
Isn't just the position of the 3 coils coils in the dewar coordinate system (estimated from the coils themselves) ?

[2016-12-15 22:26] romquentin commented on #3719
No :)

[2016-12-15 22:32] dgwakeman commented on #3719
Ahhh... I think they are getting created from the following sequence.
_read_hc
_compose_meas_info
follow that tree and you should find the bits you are looking for

[2016-12-15 22:34] romquentin commented on #3719
Ok. I will! Thanks a lot!

[2016-12-15 23:50] jona-sassenhagen opened #3855 "ica.info["filename"] ?"
If I understand it correctly, `ica.info["filename"]` can be
- the name of the ica-fif - file on disk, if the ICA object was read from disk
- the name of the data file used for fitting

This is 1. a bit confusing, 2. potentially dangerous if you use something like

`ica.save(ica.info["filename"])`

See what I mean?

I think it should either 1. always default to the file used for fitting, or 2. to N

[2016-12-16 00:38] kingjr opened #3856 "BUG: CSP doesn't comply with sklearn get_params"
we probably need to add a mixin somewhere

[2016-12-16 08:42] agramfort commented on #3855
indeed

the filename is not part of the meas info structure. Only the fif reader adds it (I think).

I think we should remove it.

@Eric89GXL WDYT?

[2016-12-16 08:47] jaeilepp commented on #3852
I'm not sure what you mean by ``read_data``. I can't find that in the code base. The file works fine for me. I read it with ``mne.io.read_raw_edf('ma0844az_1-1+.edf', preload=True)``.

``_read_segment_file`` in ``BaseRaw`` is an abstract method and the call should direct to [this](https://github.com/mne-tools/mne-python/blob/master/mne/io/edf/edf.py#L95) method.

[2016-12-16 11:17] skjerns commented on #3852
Sorry, I meant `load_data`.
In the end `preload=True` produces the same results for me.
It does not on your system?
I'll have a look later to see where in the `_read_segment_file` it gets stuck.

[2016-12-16 14:36] Eric89GXL commented on #3855
It's not part of the measurement info, right. Actually I don't even think the FIF raw reader should add it. That seems like a bug to me. I'm +1 for removing it. We actually have the filename(s) stored elsewhere in `BaseRaw` already.

[2016-12-16 14:40] Eric89GXL commented on #3850
There are `lh.Medial_wall.label` and `rh.Medial_wall.label` in `fsaverage/label` that comes with FreeSurfer, though see also

https://mail.nmr.mgh.harvard.edu/pipermail//freesurfer/2013-July/031908.html

[2016-12-16 14:40] #3850 closed

[2016-12-16 15:04] agramfort commented on #3855
+1

[2016-12-16 15:04] ppasler opened #3859 "[Question] Does the topomap use the ica unmixing or mixing matrix?"
Hey there,

I just debugged the `ICA.plot_components()` method and stumbled over the docstring in [topomap.py#L778](https://github.com/mne-tools/mne-python/blob/master/mne/viz/topomap.py#L778), where it says:

But here the mixing matrix is used: [topomap.py#L889](https://github.com/mne-tools/mne-python/blob/master/mne/viz/topomap.py#L889).

Maybe this is some language or math understanding problem

[2016-12-16 15:08] Eric89GXL commented on #3855
I'll fix it

[2016-12-16 15:09] agramfort commented on #3859
what you should plot as the components are the columns of the mixing matrix

[2016-12-16 15:16] dongqunxi commented on #3850
Thanks a lot, Eric. One additional question, some of the indices from
lh.Medial and rh.Medial regions are the same, if I set the parameter
'spatial_exclude', how to organize the list of indices for excluding?

Best wishes,
Qunxi Dong

2016-12-16 22:40 GMT+08:00 Eric Larson <notifications@github.com>:

[2016-12-16 15:31] ppasler commented on #3859
So it's actually the mixing matrix and not the UNmixing matrix?
The map shows the scaling factors for one component (column in the mixing matrix) based on the topography of the sensors?

When I look into the code, there is much more done. I am just curious what else is done to improve the plots.

[2016-12-16 15:33] jona-sassenhagen commented on #3859
Hm ... https://github.com/mne-tools/mne-python/blob/master/mne/viz/topomap.py#L889 should probably use `ica.get_components` now, for consistency's sake.

[2016-12-16 16:15] ppasler commented on #3859
@jona-sassenhagen doesn't the term "component" in case of the ICA refer to the source signals (= independant components)? I am slightly confused :)

[2016-12-16 16:31] dgwakeman commented on #3719
@romquentin please report back with your findings. This is the type of thing that is good to have noted somewhere (maybe even the docs. But at least maybe code comments).

[2016-12-16 16:47] mmagnuski commented on #3859
@ppasler - mixing matrix is what you want to plot because it tells you how each component projects to sensors (so it is "normalized" with respect to components signal). When you plot the UNmixing matrix on the scalp you'll see that it is more difficult to understand - different channels have different levels of signal and noise and both are important in creating a spatial filter that separates rel

[2016-12-16 17:13] skjerns commented on #3852
Okay seems like I'm just not being patient enough.
After considerably amount of time the file loaded.

Strange, because files in other formats (brainvision) load much faster.

[2016-12-16 18:24] Eric89GXL commented on #3852
Yikes. That doesn't seem right. Which file are you testing with?

Perhaps there is some optimization we can do. I'll re-title the issue.

[2016-12-16 18:27] Eric89GXL commented on #3850
Are you using the standard `fsaverage` surface (ico-5)? If so then you need to add `10242` to the right-hemisphere vertex numbers.

If you are using a different subject or different surface, it's more complicated because you have to deal with indexing indices.

[2016-12-16 18:27] skjerns commented on #3852
The file linked above takes about 15 seconds to load.

I have another data file (~25MB on disk) that is not public and it's loading since at least 5 minutes. I know it loads at some point.

[2016-12-16 18:34] Eric89GXL commented on #3852
It takes about 7 seconds on my system, which I agree is too long for a 20MB file (it will not scale well). It should be fixable, we loop in ways we could avoid.

[2016-12-16 18:36] skjerns commented on #3852
That would be great. Any idea why my file takes 7.5 minutes despite the same size?

1. file: 1400s @ 250hz @ 38 channels -> 15 seconds
2. file: 30000s @ 100hz @ 5 channels -> 7.5 minutes

[2016-12-16 18:37] Eric89GXL commented on #3852
It probably has to do with inefficiencies in how we loop. Different channel/sample configurations will expose those weaknesses differently. Or your other file could require different processing, e.g. resampling if not all channels have the same sample rate, which can be slow.

[2016-12-16 21:05] jona-sassenhagen opened #3862 "spatial_colors takes into account channels that are not plotted (ref meg)"
I think ref_meg channels are included when "normalizing" the channel positions to RBG space, but not plotted. This means the available color range is not fully used when ref_meg channels are included.

With ref_meg
![unknown-149](https://cloud.githubusercontent.com/assets/4321826/21278477/acd1b0bc-c3db-11e6-93f8-5588ce6677bb.png)
Without ref_meg
![unknown-145](https://cloud.githubusercontent.com/a

[2016-12-16 21:09] kingjr commented on #3862
These graphs are just both so beautiful & diagnostic, you should make a viz paper.

[2016-12-16 21:22] romquentin commented on #3719
yes. I will investigate where info['dig'] is coming from and find a place to report the necessity to use surface RAS and not RAS coordinate when someone already have HPI positions in "MRI coordinates". Likely on next Monday now.

[2016-12-16 23:18] dongqunxi commented on #3850
Thanks a lot for your help, I am using (ico-5). :-)

Best wishes,
Qunxi Dong

2016-12-17 2:27 GMT+08:00 Eric Larson <notifications@github.com>:

[2016-12-17 10:23] skjerns opened #3863 "EDF voltage values are of by factor e^6"
After the [slow reading of EDF]( https://github.com/mne-tools/mne-python/issues/3852) has been quickly fixed, I discovered another bug:

My EDF values are too large. So -0.297696020398689 becomes -297696.0203989165 with MNE.
This does not seem to be the case with all files though.

[2016-12-17 14:11] agramfort commented on #3856
please provide a code snippet that breaks and show pass.

[2016-12-19 02:05] nzw0301 commented on #3846
I tried @Eric89GXL 's [comment](https://github.com/mne-tools/mne-python/issues/3846#issuecomment-267052867).

I can create montage.
But `evoked.apply_montage` showed the error message.

`AttributeError: 'EvokedArray' object has no attribute 'apply_montage'`

My mne version is `0.13.1`.

Thanks.

[2016-12-19 08:03] agramfort commented on #3846
try evoked.set_montage

[2016-12-19 08:44] nzw0301 commented on #3846
thank @agramfort so much.

[2016-12-19 08:44] #3846 closed

[2016-12-19 13:56] Teekuningas opened #3864 "compute_proj_exg filtering"
Hello,

Could someone explain why is the raw data filtered in compute_proj_exg? As copy=False as default it seems to me that when the projection vectors are finally applied when epoching, the data where the projection vectors were calculated is different than the data where they are applied. Does this not matter?

Thanks,

[2016-12-19 14:01] agramfort commented on #3864
you should use the mailing list for such question but anyway.
An SSP vector is a spatial transform and you need the best SNR to estimate
it.
So you can fit it on band-pass filtered data and then apply it to broad
band signals.

HTH

[2016-12-19 14:09] skjerns commented on #3863
I now discovered that there is a self._raw_extras[units] field which is `1e-06` for other files and `1` for my EDF file, which explains the voltage issue (seems to be a problem with my file).

[2016-12-19 14:11] Eric89GXL commented on #3863
Probably a setting during recording, then?

[2016-12-19 14:11] #3863 closed

[2016-12-19 14:12] Teekuningas commented on #3864
Ok, thanks. It makes sense

-- Tk

[2016-12-19 14:12] #3864 closed

[2016-12-19 16:40] romquentin commented on #3719
`_pick_isotrack_and_hpi_coils` is creating the `info['hpi_results']` and the `info['dig']`.
The function is taking HPI coordinates in device space and in ctf head space from .hc file. It applies the t_ctf_dev_dev transformation to the coordinates in device space and the result is in `info['hpi_results']` and it applies the `t_ctf_head_head` to the coordinates in ctf head space and the results is i

[2016-12-19 16:43] Eric89GXL commented on #3719
I'm not actually sure you can do it in this case. For your data, you have a head coordinate frame, and it is defined by these transforms you're talking about. It's probably *not* the same as your MRI coordinate frame.

To get the proper transform for your data, you'd need to fit the "digitized" (from the HPI fitting) points onto the ones that are in your MRI. You should be able to do this using yo

[2016-12-19 16:49] dgwakeman commented on #3719
Well, it should be possible to calculate the MRI-MEG coordinate frame by taking the HPI locations in MRI space and the HPI locations in CTF-HEAD space and calculating the transform ( a cheap way would be to feed the data under the hood to the code that creates this when you select a good fit for the points).

[2016-12-19 23:05] romquentin commented on #3719
Ok...but the result of `plot_trans` seems very accurate. I tested on different blocks moving my head inside the MEG and the reconstruction of my head position seems very coherent. Is it possible that despite of this good reconstruction, something is wrong for the `make_forward_model`?

[2016-12-19 23:22] Eric89GXL commented on #3719
It suggests that your MRI coordinate frame is very similar to the Neuromag
head coordinate frame. Unless you do something in your MRI acquisition or
processing pipeline (which is very possible) to cause this, it might be a
coincidence and it is probably better not to rely on it. You might do
better by establishing the transformation using GUI alignment (or as
pointed out using algebra based on the

[2016-12-20 20:04] Eric89GXL commented on #1902
Coming back to the original point about combining SSS runs, a similar problem happens with `maxwell_filter` when doing movement compensation with regularization. There are two problems actually:

1. There are some edge artifacts at head-position boundaries.

2. The number of components varies as a function of time.

Point (1) is usually minor, but there are ways to fix it and I plan to do so soon.

[2016-12-20 20:15] Eric89GXL opened #3869 "BUG: plot_brainstorm_auditory.py example broken"
For some reason the bst_auditory `stc_difference` plot looks bad on [dev builds](https://3360-1301584-gh.circle-artifacts.com/0/home/ubuntu/mne-python/doc/_build/html/auto_tutorials/plot_brainstorm_auditory.html) compared to [stable](https://mne-tools.github.io/stable/auto_tutorials/plot_brainstorm_auditory.html).

[2016-12-21 00:03] romquentin commented on #3719
Yes I have the fiducial coordinates in MRI space. You mean compute the head to MRI transform? What is this function? Thank you again!

[2016-12-21 00:11] romquentin opened #3870 "mawxell_filter with CTF data"
Hi All,
When running
[code]
I got the following error:
`ValueError: trans must go meg<->head, provided trans is ctf_head->head
`
I checked that I have a `dev_head_t` in `raw_dest.info`.
I have the same issue before having set a montage or after.

Thank you!

Romain

[2016-12-21 10:08] agramfort commented on #1902
can you tell us more? what do you get when using auto mode? what values do
you use with  mne.cov.regularize?

[2016-12-21 10:11] dengemann commented on #1902
Ok time for action. We should not regress back to mne.cov.regularize. I'm optimistic that we can elaborate a solution to this problem.

you use with  mne.cov.regularize?

yes please!

[2016-12-21 12:20] Teekuningas opened #3871 "When using mne.viz.iter_topography, on_pick callback is called with pyplot instance instead of the axes"
This is the line:

https://github.com/mne-tools/mne-python/blob/master/mne/viz/topo.py#L223

Shouldn't it be the axes? This would suggest so: http://martinos.org/mne/stable/auto_examples/visualization/plot_topo_customized.html

Thanks,
Tk

[2016-12-21 14:18] Eric89GXL commented on #3719
`mne.transforms.get_ras_to_neuromag_trans`

[2016-12-21 14:26] Eric89GXL commented on #3870
What is `raw.info['dev_head_t']`?

Can you share a problematic file somewhere?

[2016-12-21 14:40] Eric89GXL commented on #1902
For data with time-varying rank or spatial structure, the ECD localization bias is about the same as when using an empirical noise covariance, which is 2+ cm localization bias on phantom data that is ~1mm bias with regularized cov. I think it's due to small non-zero eigenvalues. In other words, I think the automated methods are producing a "correct" result, in the sense that it is rightfully produ

[2016-12-21 15:00] #3855 closed

[2016-12-21 15:04] dengemann commented on #1902
I don't see why our approach should not be able to learn the right amount
of regularization if correctly parametrized. Maybe we need to chat on some
of our channels these days.
On Wed, 21 Dec 2016 at 15:40, Eric Larson <notifications@github.com> wrote:

[2016-12-21 15:12] agramfort commented on #3871
what fix do you suggest?

[2016-12-21 15:16] Eric89GXL commented on #1902
@dengemann you originally reported the same problem over a year and a half ago... surely you've seen this problem, too?

[2016-12-21 15:18] kingjr commented on #3856
I was wrong.

[2016-12-21 15:18] #3856 closed

[2016-12-21 15:43] romquentin commented on #3870
@Eric89GXL Please see the link to the data.
https://www.dropbox.com/sh/q73kkw9tllavhgx/AABoiZmkYl3RrQoSGcgp44W2a?dl=0
The` raw_dest` is the destination location for the head.
The info['dev_head_t'] is:
`<Transform  |  MEG device->head>
[[  9.99036014e-01   2.97366362e-02   3.22922021e-02   1.94156461e-03]
 [ -3.16679031e-02   9.97632802e-01   6.10405616e-02   2.34328065e-04]
 [ -3.04006208e-02  -6

[2016-12-21 15:44] Teekuningas commented on #3871
As even the docstring of the iter_topography says:

"on_pick : callable | None
        The callback function to be invoked on clicking one
        of the axes. Is supposed to instantiate the following
        API: `function(axis, channel_index)`",

I would be as daring as replacing the line "show_func(plt, ch_idx)" with "show_func(ax, ch_idx)" and let people fix their code (they can always introdu

[2016-12-21 15:48] Eric89GXL commented on #3870
Oh you're passing a `Raw` filename to `trans`. It just calls `read_transform` and the first transform it gets is probably a CTF transform. Can you try adding this line?
[code]
I guess we could make `read_trans` (which is used under the hood) smarter to not just take the first transform found.

[2016-12-21 15:49] Eric89GXL commented on #3871
+1 that sounds like a bug in our implementation

Are you up for making a PR?

[2016-12-21 15:52] dengemann commented on #1902
Yes I'v sat together with JR when filing the issue. My point is that if we
understand now better what's the matter we can eventually handle it, the
autocov may need a different handling here.
On Wed, 21 Dec 2016 at 16:16, Eric Larson <notifications@github.com> wrote:

[2016-12-21 15:58] Teekuningas commented on #3871
I can do that, yes

-- Tk

[2016-12-21 16:03] romquentin commented on #3870
oh, ok! Thanks. It works until this error:
`Only 0 head digitization points of the specified kinds ("eeg", "extra",), at least 4 required`
Do I need a headshape to use maxwell_filter?

[2016-12-21 16:09] Eric89GXL commented on #3870
With `origin='auto'` you do, but you can always set it to something reasonable depending on your subject age like `(0., 0., 0.04)` for adults

[2016-12-21 16:11] agramfort commented on #3871
thanks !

[2016-12-21 16:15] romquentin commented on #3870
Got it. Thank you!

2016-12-21 11:09 GMT-05:00 Eric Larson <notifications@github.com>:

[2016-12-21 16:15] #3870 closed

[2016-12-21 17:20] kingjr commented on #3697
I believe that this has to be solved at sklearn level: https://github.com/scikit-learn/scikit-learn/pull/6874

[2016-12-21 18:36] agramfort commented on #3697
it's too complicated at sklearn level. We need to raise an error in MNE if
y is not [0, 1] and scoring == 'roc_auc' explaining that make_scorer with
the good pos_label set needs to be used

[2016-12-21 23:41] kingjr commented on #3697
@agramfort that's bleeding edge IMO. It's not complicated to sort this at sklearn level, we just need to add LabelBinarizer within the roc if and only if len(set(y)) == 2

[2016-12-21 23:45] kingjr commented on #1902
(FWIW & from what I remember, shrunk covariance solved the problem in most subjects. However the issue was originally due to distinct dev_head_t + high number of trials.)

[2016-12-22 08:36] agramfort commented on #3697
maybe but really the easy fix is in mne. We can do all this in our code.

[2016-12-22 09:51] kingjr commented on #3475
closed by #3502 & #3833

[2016-12-22 09:51] #3475 closed

[2016-12-22 15:21] #3869 closed

[2016-12-22 15:58] #3852 closed

[2016-12-22 16:25] agramfort opened #3876 "EDF picks on load due to different sfreq"
when loading an EDF that contains EEG at 256Hz and ECG at 512Hz all my channels get resampled to 512Hz (expected) but the API does not allow me to restricted the read to EEG only, and therefore the resampling which is slow.

any hint? suggestion?

[2016-12-22 16:27] agramfort commented on #3876
cc @Slasnista

[2016-12-22 16:32] Eric89GXL commented on #3876
I'm not sure of good options.

It can't be automatic, it would be bad to have `raw[eeg_picks]` give one sample rate and `raw[:]` give another.

I guess we could add something to the class constructor that allowed you to choose a sample rate, or a different data-fetching method with options for output sample rate (or that did output the lowest-possible one based on `picks`).

[2016-12-22 17:04] agramfort commented on #3876
I see two options:

- add an include / exclude mechanism in the constructor
- allow to drop_channels even if preload=False and then do load_data.

I think 1 is easier...

[2016-12-22 17:08] #3697 closed

[2016-12-28 08:16] ppasler commented on #3859
@mmagnuski thanks for the papers, they clear things up. So the mixing matrix is taken for plotting.

[2016-12-28 08:16] #3859 closed

[2016-12-29 03:53] russellu opened #3877 "computing forward model using EEG electrode coords MRI voxel space?"
hey, so i'm working through this tutorial here:
http://martinos.org/mne/stable/auto_tutorials/plot_forward.html#sphx-glr-auto-tutorials-plot-forward-py

about the head model and forward computation, but i'm having trouble getting my EEG electrodes in a form that MNE can recognize.
right now, i have electrode locations as freesurfer voxel coordinates (in the 256x256x256 freesurfer volume).
![electr

[2016-12-29 10:20] christianbrodbeck commented on #3877
Since all coordinates have RAS representations (http://martinos.org/mne/stable/manual/source_localization/forward.html#meg-eeg-and-mri-coordinate-systems) I think the straight forward solution would be to create and use an identity transform, which should be pretty quick (http://martinos.org/mne/stable/generated/mne.Transform.html). MNE uses [m], is the FreeSurfer coordinate frame in [m] or in [mm

[2016-12-29 20:32] christianbrodbeck commented on #3877
Actually I meant to suggest that you use standard coordinate frames, but you could leave the sensor coordinates unchanged, so that you can use identity matrices as transform matrices between coordinate frames (taking into account unit conversion). I don't think having a non-standard origin/orientation (e.g. Neuromag space but not having the origin between the ears) of the sensor positions will aff

[2016-12-29 20:39] Eric89GXL commented on #3877
Some things will work well with this approach and others will work poorly.

Can you also get the lpa/rpa/nasion voxels? Then you can get everything
properly defined.

[2016-12-29 21:49] Eric89GXL commented on #3877
Okay on a real computer so I can answer more fully.

Yes you can but some things will not work so well. The difference between what is required to do it properly vs. incompletely is mostly just getting the MRI voxels for LPA/RPA/Nasion.

The best procedure would be something like:

1. Get eeg channel locations in MRI voxels.
2. Get LPA/Nasion/RPA in MRI voxels.
3. Use nibabel's `get_affine` or may

[2016-12-30 22:55] russellu commented on #3877
thanks for the help. i got up to step 6, but i can't find an apply_montage function, and when i try to set_montage with my DigMontage, it crashes (i'm using the non-fiducial method btw).
also, what do you mean by use convert=True in 5? i couldn't find any convert option in the doc for that function.

here is the code:
`
import nibabel as nib
path = '/media/sf_shared/all_subs_freesurfer_segs/sub1_a

[2016-12-30 23:03] jona-sassenhagen commented on #3877
I think this is also relevant to me. I will see if it works for me.

[2016-12-31 12:51] #3624 closed

[2016-12-31 21:40] russellu commented on #3877
hey jona, thanks for fixing my post. did you manage to get it working? i'm still confused over the use of digMontage, i guess i'm supposed to load the montage as a fif (after saving my RAS coordinates as a dig montage fif, not sure how to do this though) because the digMontage function has no 'convert' option...

also i'm still not able to find an apply_montage function...were you talking about se

[2016-12-31 22:15] Eric89GXL commented on #3877
Probably set_montage, yeah.

You shouldn't need to save and load. We'll need to expose the convert
option. I thought it was in the class constructor but it must only be in
the function. I can do this Tuesday or Wednesday.

If there is any sample data you can share privately or even better
publicly, feel free to email me. It will reduce the number of iterations if
I can debug remotely. But even if

[2017-01-02 16:20] DominiqueMakowski opened #3878 "mne.viz.plot_topomap() for MEG data and extracting the pos parameter."
Hey,

I have an array of MEG data corresponding to averaged values for 306 channels (MAG: 102, GRAD: 204). I'd like to visualize a topographic plot of this map. However, the `mne.viz.plot_topomap()` requires a `pos` argument that I have no idea how to extract from the `raw` object.

Moreover, as my data has two channel types (GRAD and MAG), it won't infer it from the raw.info object.

How can I ex

[2017-01-02 17:40] jona-sassenhagen commented on #3878
Pick the info object with pick_types? The help should say that IIRC

[2017-01-02 17:44] DominiqueMakowski commented on #3878
but it seems that `pick_types()` only allows for a global `meg` parameter that picks both GRAD et MAG channel types, thus making it impossible to plot using `mne.viz.plot_topomap()` 😢

[2017-01-02 17:44] agramfort commented on #3878
@DominiqueMakowski make an EvokedArray using the info from the sample dataset and then use the evoked.plot method.

[2017-01-02 17:58] DominiqueMakowski commented on #3878
It works!

Here's the code:

[code]

Thanks 😄

[2017-01-02 17:58] #3878 closed

[2017-01-03 13:12] agramfort opened #3879 "somato dataset is missing from doc"
should be added to : http://martinos.org/mne/dev/manual/datasets_index.html

[2017-01-03 19:20] WilliamCollishaw opened #3880 "Compute_covariance NaN values"
Ubuntu 16.04
MNE 0.14.git

`Traceback (most recent call last):`
  `File "pythonScripts/pipeline.py", line 359, in <module>`
    `main()`
  `File "pythonScripts/pipeline.py", line 289, in main`
    `noiseCov = compute_covariance(epochsList, tmin=None, tmax=0, ``method='auto',return_estimators=True, verbose=True, n_jobs=1,projs=None)
  File "<string>", line 2, in compute_covariance`
 ` File "/usr/lo

[2017-01-04 04:24] Eric89GXL commented on #3880
Can you upload the `epochs` instance somewhere? It looks like the `compute_covariance` call is given above.

Also, `np.isfinite(epochs.get_data()).all() is True`?

[2017-01-04 19:01] jona-sassenhagen opened #3882 "CNT files with event_type == 3"
A friend has a recent CNT file that fails to be read in. The reader assumes `event_type` to be either 1 or 2, but here it is 3.

Minimally, I think we'd just have to go from
`elif event_type == 2:`
to
`elif event_type > 1:`

I can make a PR later.

@jaeilepp

[2017-01-04 23:38] jona-sassenhagen opened #3883 "find_bads_eog when data is not preloaded and channels differ: bad error msg"
When you use `ica.find_bads_eog(inst)` on an instance that is not preloaded, you may get

[code]

I think in this case because the ICA object has different channels than the instance.

The error message is not helpful I think. Alternatively, the problem should be circumvented somehow altogether.
@dengemann ?

[2017-01-05 07:44] agramfort commented on #3883
yes maybe this can be avoided as it can create big memory allocations

[2017-01-05 21:12] Eric89GXL opened #3884 "ENH: More features for ReceptiveField"
* [ ] decimation
* [ ] use custom Ridge solver for speed and multiple regularization types
* [ ] support `score` method for use with `GridSearchCV`
* [ ] refactor with `linear_regression_raw`, `XDawn`

[2017-01-06 17:06] Eric89GXL commented on #3723
We should probably also break up the Python install page (https://mne-tools.github.io/stable/install_mne_python.html) to have the advanced steps separate. That way the install instructions almost fit on a single page, which is more user-friendly.

[2017-01-06 20:59] agramfort commented on #3723
+1

[2017-01-09 06:52] #3871 closed

[2017-01-09 08:53] jaeilepp commented on #3882
The best [documentation](http://paulbourke.net/dataformats/eeg/) I've been able to find says that it should be either 1 or 2.
[code]
Not sure what 3 means...
Also, it seems that there are a lot of cnt files that don't really conform to these definitions, so the reader maybe needs a revision anyway, but it's hard to find good docs on this.

[2017-01-09 11:35] ppasler opened #3886 "Corrmap has AttributeError for loaded ICA objects"
I have a "template ICA" saved in a .fif file and load it with `read_ica` in order to find matches with my other data.

When calling `corrmap` I get the following Error:

    Traceback (most recent call last):
      ....
      File "C:\Python27\lib\site-packages\mne\preprocessing\ica.py", line 2422, in corrmap
        ica.labels_.get(label, list())))
    AttributeError: 'NoneType' object has no att

[2017-01-09 19:02] ppasler opened #3889 "ica.get_sources has strange ch_names and ch_type"
After calling `ica.get_source()` with a `Raw` object I noticed that

* the `ch_names` "ICA 001" start by 1 instead of 0 (which is not consistent)
* I couldn't plot it right, as the `ch_type` for scaling is not clear (it seems to be `misc`, but I couldn't find any documentation about it)

I would suggest to let the ICAs start by 0 everywhere.
Remove the `+1` here: https://github.com/mne-tools/mne-p

[2017-01-09 20:19] agramfort commented on #3889
this question has been raised so many times... So far we agreed that when you read "ICA #1" it means index 1 but then names start with 1 to be consistent with standard EEG channels on Elekta : EEG001 etc.

do we really have to change this?

[2017-01-10 06:16] madhavpr opened #3890 "How to remove duplicate channels?"
Hi everyone,

I'm a first time user of the MNE library. I'm trying to read a bunch of EDF files (from the CHBMIT EEG database). I type the following code on my Python interpreter and get this error.

filename = 'chb04_07.edf'
raw = mne.io.read_raw_edf(filename)

RuntimeError: Channel names are not unique, found duplicates for: set([u'T8-P8'])

[Note: As many as 100 files or so have caused this pro

[2017-01-10 07:31] jaeilepp commented on #3890
I'm not sure if we want to change the current behavior since having duplicate channels can cause problems later. My advice would be to try to fix the files by commenting out the part that raises the error and then
1. read the file.
2. drop the duplicate channel,
3. save it as a fif-file.

After that make sure to uncomment the line that raises the error so it works like before. I checked the file a

[2017-01-10 07:54] ppasler commented on #3889
Sorry, I did not check for older tickets.
You've got a point with consistency of EEG channel naming.

I just noticed, that inside the `ICA` object the ICs start with 0 (e.g. `ica.plot_sources`), but after transferring to a `Raw` object it starts with 1 - so I would propose to change this within the `ICA` object. It's a common computer science problem that indices start with 0...

The other thing i

[2017-01-10 08:17] ppasler commented on #3855
Why throwing an exception? Wouldn't a warning be enough? It breaks my `Raw` object creation routine.

[2017-01-10 08:19] jaeilepp commented on #3890
Actually, seems like this is somewhat related to https://github.com/mne-tools/mne-python/issues/3876. So perhaps we shall introduce an exclude parameter to help deal with stuff like this.

[2017-01-10 08:26] agramfort commented on #3889
channel names start with one and indices eg in  exclude start at zero. Also
ica plot methods refer to ICA indices and start at zero.

+1 to clarify the doc

[2017-01-10 08:33] jasmainak commented on #3889
It seems to be a good candidate for the FAQ section :)

[2017-01-10 08:37] agramfort commented on #3890
it's related to this:

https://github.com/mne-tools/mne-python/pull/3813

I think it's fixed in master?

[2017-01-10 08:41] agramfort commented on #3855
can you be more explicit?

[2017-01-10 08:51] jaeilepp commented on #3890
No, that was for the tal channel combination. This data file here actually has one channel doubled. Seems like some kind of error in the acquisition.

[2017-01-10 08:57] agramfort commented on #3890
ok then I would suggest to deduplicate at reading time by appending
some -1 or -2 to the channel name. An raise a warning.

[2017-01-10 09:05] ppasler commented on #3855
I used the filename attribute in some places in my application, e.g. to differ objects or plots.
It seems plausible to remove the attribute from the API, but I don't think it's necessary to throw a [KeyError](https://github.com/mne-tools/mne-python/blob/master/mne/io/meas_info.py#L258).

I think a deprecation warning for 0.14 and maybe an error om 0.15 would be better.

[2017-01-10 09:22] #3862 closed

[2017-01-10 13:52] mmagnuski commented on #3889
I also think that ic numbering inconsistency is counterintuitive (and changing the docs won't change the intuitions ;) ).
`ica.plot_sources` plots sources with names in `IC #000` convention - which is good as it makes comparisons between `plot_components` and `plot_sources` easier, but further increases surprise when `ica.get_sources().plot()` gives other labels (`ICA 001`). If channel labels must

[2017-01-10 14:30] ppasler opened #3891 "Run corrmap with different amount of ICs"
I have several datasets with 14 channels ( ~ 14 ICs), for one proband there was an error with one channel. So I had to mark it as bad and only calculate 13 ICs.

When running `corrmap()` I get this error:

	 File "E:\current-adas\project\code\src\util\mne_util.py", line 147, in labelArtefact
		return corrmap(icas, template=template, threshold=0.85, label=label, show=False, ch_type='eeg', verbose=T

[2017-01-10 14:33] jona-sassenhagen commented on #3891
Isn't the problem with the channel number rather than the component number?

I forgot if the original corrmap interpolates the maps, but this version doesn't (for now).

[2017-01-10 14:35] ppasler commented on #3891
I thought the amount of components shouldn't be greater than the amount of channels, so it depends on each other.

I am running 0.14dev, is there any fix in the pipeline?

[2017-01-10 14:37] jona-sassenhagen commented on #3891
No, but they can be fewer - you an estimate 13 components for each subject.

Really, I think the problem is with channel numbers, not component numbers.

I'm not planning on working on interpolation any time soon. You can interpolate your channels before fitting ICA.

[2017-01-10 15:57] Eric89GXL commented on #3855
We can get rid of the `KeyError`. IIRC it was there mostly to ensure internally that we were not setting it. Can you make a PR to remove the `KeyError`? A warning or getting rid of the check altogether, either way is fine with me.

[2017-01-10 16:22] ppasler commented on #3855
Alright, I will propose a solution.

[2017-01-10 16:27] ppasler commented on #3891
Thanks for your thoughts.

So you suggesting to estimate 13 components for every proband.
Isn't there any other way? Assume I'll get another proband and only 12 channels are good, then I have to run the ICA for all other probands with 12 components again.
Couldn't I fill the missing component with zeros? Would this have an impact on the result?

Sure the problem are the channel numbers, but they a

[2017-01-10 18:28] ramonapariciog commented on #1687
Hi guys,
I just starting to use mne, and i have some questions: How can i use the code of SherazKhan to read an egi file directly without the conversion to raw egi, is it possible to do?. Sorry for reopen the thread but i didn't understand if you could solve the problem. I have access to a geodesic Hidrocel, and i can facilitate the data. Thanks.

[2017-01-10 18:31] jona-sassenhagen commented on #3891
This would make the data rank deficient and mean you could also only estimate fewer components. Same with interpolation actually.

Personally, I just round down to the nearest nice number: if I have 64 channels, I do 60 components.
There is also an option for selecting enough components to get x% variance explained.

You can interpolate channels with an instance method, I think it's Epochs.interpo

[2017-01-10 19:12] ppasler commented on #3891
Alright, maybe I'll just try with less components. I thought the more components the better :)
With 14 channels, how many components would you use. My major goal right now, is to extract EOG artifacts.

I don't get it, what do you mean?

Do you know if `interpolate_bads` works for channels that are zero all the time (there was a bug within the recording software).

[2017-01-10 19:14] jona-sassenhagen commented on #3891
I'm pretty sure it completely ignores the channels to be interpolated.

[2017-01-10 20:24] agramfort commented on #1687
ping @SherazKhan

any chance to have your help to integrate a good EGI reader in mne-python ?

[2017-01-10 21:53] choldgraf opened #3893 "API: Refactor montage classes"
mentioned in #3728

We can make `read_montage` and `read_dig_montage` both return a new `Digitization` class that is a thin wrapper around what is already in `info['dig']`, namely a list of dicts storing locations of channels, fiducials, and extra (headshape) points. Methods:

* [ ] pick_channels (and use it in ECoG example)
* [ ] save (to FIF)
* [ ] compute_dev_head_t
* [ ] conversion to Neuromag

[2017-01-10 22:08] fraimondo commented on #1687
Same here… I’m in coding mood

On 10 Jan 2017, 21:24 +0100, Alexandre Gramfort <notifications@github.com>, wrote:

[2017-01-10 22:33] SherazKhan commented on #1687
Sorry Guys for being sparse in my appearances, @ramonapariciog do you have a good sample mff file which can be put into testing dataset ?

[2017-01-11 00:47] Eric89GXL commented on #1687
@SherazKhan can you make use of this data that @fraimondo posted?

https://www.dropbox.com/s/xqjbtxphkdg26g4/test_data?dl=0

If you can get it working with your reader, we can add it to mne-testing-data. It's a bit unfortunate that it's 50MB, though, so if someone can get a smaller file (~1 sec?) that would be ideal.

[2017-01-11 00:47] Eric89GXL commented on #1687
Oh wait in a later comment he posted a smaller version

https://www.dropbox.com/s/3awaktm0skdzr64/short_test_data?dl=0

[2017-01-11 08:58] agramfort commented on #3893
I would go for a BaseMontage class that implements a pick_channels method
and a __getitem__ to be able to do montage[:128]

[2017-01-11 11:25] jaeilepp opened #3894 "EDF preload=False broken."
The edf reader seems to break completely when you do ``read_raw_edf(..., preload=False, stim_channel=None)``.
Weirdly this only manifests when the file is long enough, and our test files are very short.

[code]

[2017-01-11 11:48] jaeilepp commented on #3894
It has probably been always broken since the issue seems to exist at 0.11 already. I suppose the problem is with channels with different sampling rates, because if I go to the end of the file when ``preload=False`` the data is not found at all.

[2017-01-11 12:33] christianbrodbeck commented on #3723
Just since this hasn't been mentioned in this thread, I notice that Anaconda released mayavi 4.5, that should make the installation simpler again.

[2017-01-11 13:07] agramfort commented on #3723
do you have a link about his mayavi package?

[2017-01-11 13:11] christianbrodbeck commented on #3723
A link to what @agramfort ?

[2017-01-11 13:13] agramfort commented on #3723
saying that mayavi is now on anaconda in py3k

[2017-01-11 13:17] christianbrodbeck commented on #3723
It's *not* in Python 3, I just noticed it with `conda install mayavi` (and it does not appear if this is run from a py3 env).

[2017-01-11 13:27] agramfort commented on #3723
ok so no update then

[2017-01-11 13:33] christianbrodbeck commented on #3723
the update I’m referring to is 4.4->4.5

[2017-01-11 15:01] #3723 closed

[2017-01-11 16:26] Em-Fl opened #3897 "Plotting epochs looping through subjects"
I am really new to mne and to python, so sorry if it's a very simple question.

I seem to be unable to plot epochs or raw data by looping trough my subjects data without plotting every subject at once, this means that when I run the loop I get all of my subjects data graphed at the same time which consumes a lot of memory.

I've tried with raw input and plt.close, but it doesn't work.
Has anyone e

[2017-01-11 16:39] choldgraf commented on #3893
That sounds good to me. Is there any clear place in the docs where montage objects are explained? E.g., when to use montage vs. digmontage? And maybe explaining the proper way to use the objects after this PR is done? Not sure if that's something that comes up as a confusion point but it couldn't hurt. I might be able to spend time doing this at the docathon in March.

[2017-01-11 16:43] Eric89GXL commented on #3893
I have wondered lately if we should get rid of `Montage` and `DigMontage` altogether and just make a `Digitization` class. Really both `Montage` and `DigMontage` provide positions in space of some subset of: anatomical points, cHPI, electrodes, and extra points. We already have a complete way to store this information, and it's given by `info['dig']`. Each of `Montage` and `DigMontage` have bits o

[2017-01-11 16:50] agramfort commented on #3893
you see more the big picture here. No strong feeling but I would not really
know what exactly needs to be done.

[2017-01-11 16:54] choldgraf commented on #3893
yeah I'm in the same boat, if you refactor some of this code under the hood I'm happy to help write some kind of tutorial that explains new behavior.

[2017-01-11 16:59] Eric89GXL commented on #3893
Yeah that's part of the problem. The distinction between `Montage` and `DigMontage` comes up a lot, and the use cases aren't entirely clear so people seem to have trouble keeping them straight.

We currently have two functions, `read_montage` and `read_dig_montage`, that give rise to `Montage` and `DigMontage`, both of which overlap in terms of data they can contain (channel info).

Here is a star

[2017-01-11 17:33] choldgraf commented on #3893
What is the conceptual difference between something like the montage classes, and the way that the `nipy` ecosystem (e.g. `nibabel`) handles coordinate frames etc? Would it be worth trying to create resemblances in the API between the two? Or is the usecase too different

[2017-01-11 17:36] Eric89GXL commented on #3893
Maybe. AFAIK they provide transformation matrices to get between frames -- we do this in some places like `info['dev_head_t']`. But I'm not sure if they have equivalent use cases to what we're going for here, which is to provide locations of specific points in multiple coordinate frames (sometimes the same point in multiple frames, or different points in different frames). Plus we already have som

[2017-01-11 18:03] choldgraf commented on #3893
cool - I agree it sounds like a big PITA to change the API and would probably confuse users. Maybe the answer is just some nicely-written tutorials and guides etc. (after a refactor if that's gonna happen)

[2017-01-11 18:09] Eric89GXL commented on #3893
You mean moving to a nipy-like change wouldn't be worth it, but a `Digitization`-like refactoring (what I've proposed) would be?

[2017-01-11 18:11] choldgraf commented on #3893
I think that it if changes an API that is used in lots of other places in MNE, or that lots of other users are already used to, then probably not worth it. If it's more under-the-hood that wouldn't require a shift in how people conceptualize the code, but that streamlines things and reduces redundancy, while making it easier to add better features, then I think it's worth it. It sounds like a full

[2017-01-11 18:12] Eric89GXL commented on #3893
Mine would be a bit of the former, too. But it would unify how we treat things in a nice way. I don't see any real advantages to doing what `nipy` does, I don't think people cross MNE and `nipy` enough to justify the extra work.

[2017-01-11 18:27] Eric89GXL commented on #3847
Actually according to the `mpl` folks there is a `NonUniformImage` class we can use.

@mmagnuski do you have time to try it in the next couple of days? It would be good to get this in for 0.14. If not, I can probably do it.

[2017-01-11 20:24] agramfort commented on #3893
I am not against a single class but to me digitization refers to measured
locations and there can be more than the number of channels (eg dig points
on the face etc.) At least DigMontage and Montage were conceptually
different since using standard montage restricted to channel locations
differs from a arbitrary number of dig points obtained eg with a polhemus
system

[2017-01-11 20:51] ppasler commented on #3891
@jona-sassenhagen you were right, the number of channels is the problem - now I know what you meant, during the last 2 posts. Reducing the component number does not solve the issue, as the shape still differs.

[2017-01-11 21:00] Eric89GXL commented on #3893
This concept is nice, yeah. The trade-off we make for keeping it is that people get confused having two classes for storing the same type of information (channel/fiducial/hpi/other point locations in some coordinate frame) that both end up affecting similar things (e.g., layouts while plotting or forward solution calculation). We could keep this distinction at the function level (keep `read_montag

[2017-01-11 21:28] mmagnuski commented on #3847
Yes, I can work on this this week. I looked into the mpl example of NonUniformImage and it is perfect for this indeed.

[2017-01-11 21:48] choldgraf commented on #3893
well I'm happy with whatever you guys go with, since I have very little experience w/ the montage classes. I can say that as a new user it was very confusing to me how to use them. But I think that can be addressed with documentation etc. I'm not going to weigh heavily in on the API discussion though, since I don't think I'm the right user to have in mind here.

[2017-01-12 04:12] teonbrooks commented on #3893
only had a few moments to glance over this. I am for a `Digitization` class, I think. It could be a clean way to handle all of this.
The initial reason for the schism in functionality deals with the name and usage of montage, which is fixed (cf. https://github.com/mne-tools/mne-python/issues/1703, https://github.com/mne-tools/mne-python/issues/1954#issuecomment-95353841).

I'm MIA for the next 48

[2017-01-12 06:17] jaeilepp commented on #3897
I'm not sure I understand your problem, but maybe passing ``block=True`` to the plotter does it.

[2017-01-12 06:23] agramfort commented on #3893
there is a single class.

[2017-01-12 13:05] christianbrodbeck opened #3900 "Anaconda cloud support?"
Would it be worth adding Anaconda cloud support? I think the main advantage would be better dependency management. Installation and upgrade instructions for users would reduce to:

[code]
[edit: and this would update dependencies without the messiness of `pip --upgrade`]

The way to get it to work would be to hosts mne and pysurfer on a new channel. Adding our own channel would involve maintaining

[2017-01-12 13:40] agramfort commented on #3900
personally for me pip works well enough for a pure python package.

we add some maintenance overhead for little gain.

my 2c

[2017-01-12 14:47] #3811 closed

[2017-01-12 14:47] #3879 closed

[2017-01-12 15:19] Eric89GXL commented on #3900
I would try conda-forge first rather than having our own channel. I expect it would be easier to integrate into the conda ecosystem that way. But we should check and see what the additional overhead is. I expect the conda-forge route would be one or two extra steps (5-10 minutes?) during each release, which wouldn't be bad.

[2017-01-12 15:26] Eric89GXL commented on #3893
Yep, and more importantly I think the representation and information stored/provided by the class will be more complete, as it will mimic `info['dig']`.

I'll give this a shot sometime after release, since it's not a huge priority. I'll also retitle and modify the description.

[2017-01-12 15:34] christianbrodbeck commented on #3900
@Eric89GXL agreed, I will explore that route.

@agramfort I did a small workshop a few weeks ago with people using Macs and Windows and the installation was not as smooth as I would have hoped... Otherwise I would not be spending time on it either...

[2017-01-12 17:10] Eric89GXL commented on #3900
Argh... what problems did you hit? If it's people doing 3.5 vs 2.7 we now at least just recommend 2.7. Can you see if the [updated (yesterday) install docs](http://mne-tools.github.io/dev/install_mne_python.html) might have helped already?

[2017-01-12 17:22] christianbrodbeck commented on #3900
@Eric89GXL We only did 2.7. It was mostly due to the outdated version of Mayavi on anaconda back then, which required manually downgrading multiple packages which had introduced incompatible changes (discussed in #3723). I think the new install docs will work again because Mayavi has been updated. However, now I will have to send people a new list of conda requirements to install, and it would be

[2017-01-12 17:26] Eric89GXL commented on #3900
I think if you tell them to do `conda install numpy scipy mayavi` it will upgrade all of them

[2017-01-12 17:26] Eric89GXL commented on #3900
(and the necessary dependencies)

[2017-01-13 06:33] #3711 closed

[2017-01-13 06:42] sarwatfatimam opened #3901 "Error when set channel types in raw file"
Hi,

I am trying to set channel types in the raw file using:
raw.set_channel_types({'EEG061':'misc', 'EEG062':'eog', 'EEG063' :'ecg', 'EEG064':'misc'} )

However, I get the following error:
RuntimeError: Cannot change channel type for channel EEG063 in projector "Average EEG reference"

The average eeg reference is off when I print out raw.info. I have added the info below. Can someone please help

[2017-01-13 06:55] jaeilepp commented on #3901
The average reference projector is already computed even though it is off, so it needs to be recomputed to match the data. You can use ``raw.del_proj`` to remove it (another option is to read in the data with ``add_eeg_ref=False``). Be sure to compute it after changing the channel types with ``raw.set_eeg_reference()``.

[2017-01-13 06:56] jaeilepp commented on #3901
Here's an example http://mne-tools.github.io/mne-biomag-group-demo/auto_scripts/05-make_epochs.html#sphx-glr-auto-scripts-05-make-epochs-py

[2017-01-13 07:05] sarwatfatimam commented on #3901
It is working now. Thankyou.

[2017-01-13 07:05] #3901 closed

[2017-01-13 11:02] lix90 opened #3902 "How to avoid memory allocation error of ICA?"
Hi all,

These days I wanted to move from matlab (EEGLAB) to python (MNE), so I started to learn MNE several days ago. **But I run into an `error: can't allocate region` over and over again when I run ICA (fastica) on both raw data and epoched data.** I tried band-pass filtered at 1-40Hz and resampled at 100-250Hz, and I also set the parameter `decim` to 3 or 5.

This is the raw dataset when prelo

[2017-01-13 13:12] christianbrodbeck opened #3903 "FSAverage data"
@Eric89GXL I noticed that you added the MNE fsaverage data at mne/data/fsaverage, and it looks like they are in the manifest too, so they will be distributed right? We could use those in the coregistration GUI instead of asking for MNE-C?

[2017-01-13 13:25] agramfort commented on #3902
what version of scikit-learn and mne do you use?

[2017-01-13 13:27] #3894 closed

[2017-01-13 14:11] Eric89GXL commented on #3903
I added what was in MNE-C's `share` directory, yeah. Not sure if it's sufficient for the `coreg` GUI or not, but if you only look for MNE-C for files related to `fsaverage` then it should be enough.

[2017-01-13 15:02] lix90 commented on #3902
mne: 0.13.1
sklearn: 0.18.1

[2017-01-13 15:13] agramfort commented on #3902
ok so it's recent.

did you try the decim parameter in ICA?

[2017-01-13 15:24] lix90 commented on #3902
Yeah, I tried `decim`, 3 or 5. It would work finely when the sample frequency was quite low and `decim` was not None. But I suspect the results of the decomposition. I consulted the documentation of MNE and I found that `decimation` is similar with resampling in my amteur eyes.

[2017-01-13 15:27] agramfort commented on #3902
I suspect your result will not be too much affected by decim

[2017-01-13 15:36] lix90 commented on #3902
Is it ok to have sample frequency below 100Hz and simultaneously set `decim` to 3 or 5 when run ICA to detect EOG/ECG artifacts? I am also confused with the `decim` parameter. Is there big difference between 3 or 5 of decimation? Because I saw 3 or 5 were frequently used in examples or researchers' scripts.

I will try more parameters and datasets.

[2017-01-13 15:42] agramfort commented on #3902
you need to try on your data.

but I am really surprised you need so much RAM. It should not make more
than 3 copies of the data.

[2017-01-13 15:48] jmontoyam commented on #3902
Hi @lix90,
This error is very strange, I have never encountered such an error before.
In order to help you, I would like to try to reproduce this error, could you please share the file
that you are trying to load, as well as a tiny script to reproduce the error
message?

[2017-01-13 15:58] lix90 commented on #3902
Sure, tomorrow morning I will upload it (Because it's midnight in China :-) ).
Thanks for the helps @agramfort @jmontoyam

There are two types of dataset: one is the raw eeglab dataset merged from 5 seperate datasets (Old); the other is the raw brainvision dataset (New). Both are from an experiment of emotion regulation.

[2017-01-13 22:05] jhouck opened #3906 "label.center_of_mass 'Cannot compute COM with negative values' for MNE labels"
I ran across this in my data and replicated it using the sample data.  Something simple like:

`subjects_dir = os.getenv('MNE_SAMPLE') + '/subjects'`
`subject = 'sample'`
`label = mne.read_label(filename=subjects_dir + '/' + subject + '/label/lh.BA1.label', subject='sample', color=None)`
`idx = label.center_of_mass(subject=subject, restrict_vertices=True, subjects_dir=subjects_dir, surf='sphere')`

[2017-01-13 22:34] jhouck commented on #3906
To clarify: anatomical labels.  For functional labels this would be a _really_ terrible idea.

[2017-01-13 22:35] Eric89GXL commented on #3906
The simple expedient of doing label.values = np.ones(label.values.shape)
before label.center_of_mass seems to work -- for the BA labels the COM
vertex lands more or less where you'd expect it to be, but does hug the
edge of some of the long, narrow labels

This is the correct way to get an unweighted or equally weighted average.
Can you make a PR to clarify the error message and or documentation?

[2017-01-14 03:28] lix90 commented on #3902
@jmontoyam The data and codes are uploaded [there](https://drive.google.com/drive/folders/0B9Ht1ZLPrqYZaktOUE0taThOYlU?usp=sharing)

I tried this on jupyter notebook and ipython in emacs. Both resulted in such memory allocation error. You can change sample frequency, reject threshold, decimation, and filter parameters. It is really strange that the size allocated seems similar (for example, size=1

[2017-01-14 08:29] zhang470 commented on #2672
On my Windows 10 system, the mne.io.read_raw_eeglab reader always tried to append ".mat" to the .set file name with the error No such file or directory: 'xxxx.set.mat'. I tried reading the same EEG data in edf format , and mne.io.read_raw_edf() worked just fine.  Not sure why .mat is automatically appended to the .set file name...

[2017-01-14 08:30] agramfort commented on #2672
what version of scipy are you using?

[2017-01-14 13:27] agramfort commented on #3902
your code worked smoothly on my laptop with 8GB of RAM and maybe other apps
open.

I used "1canyu_merge.set"

[2017-01-14 15:18] jmontoyam commented on #3902
Hi @lix90,

I have tried to reproduce your error message, but in my machine (Linux x64 with 16GB of RAM) your code works perfectly. I used "s3-er.vhdr" and "1canyu_merge.set", and in both cases everything worked smoothly.
I'm using Python, as well as all the scientific Python packages available in Anaconda, what about you?

[2017-01-14 15:39] zhang470 commented on #2672
scipy version: 0.18.1

platform : win-64
          conda version : 4.2.15
       conda is private : False
      conda-env version : 4.2.15
    conda-build version : 2.0.2
         python version : 2.7.13.final.0
       requests version : 2.12.4

[2017-01-14 15:44] lix90 commented on #3902
Oh, that's weired. I just use Python2.7 which is installed by Homebrew. All modules were installed by pip. The error is real but not that stable, because “the threshold” of parameters causing this error would change next time. And I use python in terminal (iterm), python shell in Emacs, and jupyter notebook as well. It is really weired. Maybe there is something wrong with my configuration. I don't

[2017-01-14 16:16] lix90 commented on #3902
Below is the error message:

[code]

[2017-01-14 18:26] jasmainak commented on #2672
can you paste the error and also what exactly you are passing as `input_fname`?

[2017-01-14 18:36] mmagnuski commented on #3902
It works well for me too. I did not change anything in the notebook apart from file path and py3 compatibility for `filter`.
Can you reproduce the error in a conda virtual environment that matches the versions of packages that you are using?

[2017-01-14 18:46] mmagnuski commented on #3902
(and just BTW - when reading the `.set` file to mne you seem to be dropping a few 'boundary' eeglab events - that won't influence your ICA, but it's better to read those in too, to know where the discontinuities are in your signal)

[2017-01-14 19:00] mmagnuski commented on #2672
The error @KirstensGitHub had (didn't notice that discussion before) reminds me of another problem when reading set files - eeglab, when reading set + fdt files checks the filename in EEG.data but also the name of the set file (mne python only checks EEG.data). In some cases these names are not exactly the same (ie EEG.data.replace('.fdt', '.set') != set_filename) so might be good not to rely (at

[2017-01-14 20:24] zhang470 commented on #2672
I just realize I need to do "import scipy" first. Now mne.io.read_raw_eeglab () can read raw EEG .set files just fine. But I could not get the mne.read_epochs_eeglab () to read in the epoched datasets in EEGLAB to work. The reader always showed AttributeError.

    epochs = mne.read_epochs_eeglab(fname)
  File "C:\Users\Yang\Anaconda3\lib\site-packages\mne\io\eeglab\eeglab.py", line 241, in read_e

[2017-01-15 01:46] lix90 commented on #3902
I switched my python environment to Python3.5 in Anaconda and uninstall pure Python2.7. Then I created a Python2.7 environment with complete anaconda packages and pip installed MNE.

First run returned the message below:

[code]

Sencond run in which I set `max_iter=512` still returned the same message.
Third run without `max_iter` parameter still returned the message.

I did not get the memory er

[2017-01-15 02:31] lix90 commented on #3902
Hi @mmagnuski Thank you for the reminder. I did not pay much attention to it. It seems like the `boundary` events are defaultly dropped. What should I do in order to prevent dropping boundary events? specifying the boundary events like {'boundary': 99} or something like that? I notice the `event_id_func` but I am not clear how to use it right now. BTW, if boundary events are informative, why not k

[2017-01-15 11:16] mmagnuski commented on #3902
Yes, you can just add the boundary events to `event_id`, for example:
[code]
(assuming you also have events `stim` and `resp` and are reading raw eeglab data). They could be read by default as 99 for example, but probably that wouldn't be clear to the user - what these `99` events mean.
Another option would be to read boundary events as very short annotations ('bad - discontinuity' for example). T

[2017-01-15 14:48] agramfort commented on #2672
please share the epochs EEGLAB dataset

[2017-01-15 14:53] lix90 commented on #3902
Thank you @mmagnuski for such a detailed guide.

According to your description, I looked up the documentation and tried to write a tiny script to implement this procedure. I paste the snippet here just for validation and considering that it might be helpful for MNE & Python beginners just like me.

[code]

[2017-01-15 18:23] Eric89GXL opened #3907 "ENH: plot_white rotation"
From Matti on the listserv:

I suspect we do the former but the latter would be more useful I think. @dengemann I think you worked on this the most, do you agree?

[2017-01-15 23:55] christianbrodbeck commented on #3900
I'll have to look into it more... but unfortunately it does not look like it's that simple, the mayavi update does not seem to enforce the necessary dependencies to update...

[2017-01-16 00:53] #3902 closed

[2017-01-16 01:39] Eric89GXL opened #3908 "DISCUSS: GSoC 2017"
We don't need to have everything hashed out by Feb 9, but it would be a good idea if possible to have some ideas on our Wiki so python.org (we apply as a suborg of python.org) can use it in their application to Google.

Anybody have ideas for specific projects, or know of students who would be interested in working on GSoC?

[2017-01-16 07:47] agramfort commented on #3907
evoked.plot_white does y'' (ie rotates back) otherwise the whitened evoked
would not look like a butterfly as in
https://mne-tools.github.io/dev/auto_examples/visualization/plot_evoked_whitening.html

[2017-01-16 13:34] Eric89GXL commented on #3907
Ahh okay, good

[2017-01-16 13:34] #3907 closed

[2017-01-16 13:53] #3886 closed

[2017-01-17 00:47] mattboggess commented on #1687
On a related note, is there existing functionality to read in EGI digitization files?

[2017-01-17 09:03] zhang470 commented on #2672
Here are the epoched files from EEGLAB. I tested  several other epoched files from different EEG experiments using different versions of EEGLAB. They all showed the same error. Thanks.
http://zhanglab.wikidot.com/local--files/method/KH1_TONE1K_IGN1_epoch.fdt
http://zhanglab.wikidot.com/local--files/method/KH1_TONE1K_IGN1_epoch.set

[2017-01-17 11:08] wmvanvliet commented on #3882
we can take the code from eeglab as a reference.

[2017-01-17 14:25] #3876 closed

[2017-01-17 14:25] #3890 closed

[2017-01-17 19:07] jhouck commented on #3906
I'll give it a shot.

[2017-01-17 20:30] Eric89GXL commented on #3877
@russellu this is on hold a little bit until we take care of #3893 (we'll address this then) probably next month. In the meantime you at least have something that works, right?

[2017-01-17 20:40] russellu commented on #3877
Hey Eric, yeah i'm using brainstorm for the moment but i will switch back when you get this handled, thanks!

[2017-01-18 01:08] kingjr opened #3914 "Q: Cleaning stimulus channel without preloading everything"
Is there a way to clean a specific channel (e.g. stimulus channel) so as to do subsequent processing that do not require loading the entire dataset (e.g. find_events, Epochs etc) without having to preload the entire raw data?
e.g.

[code]

[2017-01-18 01:12] Eric89GXL commented on #3914
You have a call to `find_events` with an array, which I don't think we support (but could I guess), so you'd need something like:
[code]

[2017-01-18 01:23] kingjr commented on #3914
Why can't we just pick channel type if data isn't loaded?

[2017-01-18 01:28] Eric89GXL commented on #3914
If that's the question, we should close as dup of #1766 and close this

To do it right it would complicate the logic inside the reader, and would take a decent amount of work. It's possible but not easy. A simple hack version can be constructed by returning a `RawArray` but this is not as clean and breaks class-specific functionality.

[2017-01-18 01:30] Eric89GXL commented on #3914
Actually now that #3896 by @jaeilepp is in, the right ideas are there at least. We'd want to generalize the code so it wasn't class-specific anymore, though, which would (again) take some thinking.

[2017-01-18 01:32] kingjr commented on #3914
ok for closing in favour of #1766.

It may complicate the life of the header function, but frankly, here it's crazy. Cleaning trigger channel is eeg/ecog 101.

[2017-01-18 01:32] #3914 closed

[2017-01-18 01:36] Eric89GXL commented on #3914
I'm not sure what you mean? AFAIK people usually re-code events after extracting events from TTL voltages rather than change the TTL voltages to get appropriate events via event extraction.

[2017-01-18 01:36] Eric89GXL commented on #3914
... at least that's the MNE way

[2017-01-18 09:49] kingjr commented on #3914
That's not trigger cleaning, it's event selection and (re)coding. It is common to have trigger artifacts that need signal processing.

[2017-01-18 13:41] agramfort commented on #3914
what do you suggest? just allow an ndarray in find_events?

[2017-01-18 16:06] kingjr commented on #3914
That could be an option yes.

On 18 January 2017 at 08:41, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-01-18 20:33] agramfort commented on #3914
and you find this:

raw = mne.io.read_raw_fif(...)
idx = raw.ch_names.index(stim_channel)
stim_data = my_cleaning_function(raw[idx][0])
raw_stim = mne.io.RawArray(stim_data, mne.create_info(1,
raw.info['sfreq'], stim_channel)
events = mne.find_events(raw_stim)
events[:, 0] += raw.first_samp

too complicated? I guess not for you but colleagues?

[2017-01-18 20:45] kingjr commented on #3914
Imagine guessing 1) reading a channel by using an index of raw 2) go find
the function to create a new raw data in i/o, 3) understand create_info,
4) think about 'first_samp'.

IMO Fieldtrip/eeglab etc users are used to arrays; this forces an arguably
heavy and opaque class.

On 18 January 2017 at 15:33, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-01-18 21:14] agramfort commented on #3914
ok ok !

[2017-01-18 21:31] Eric89GXL opened #3916 "ENH: Add khi**2 and nfree for fit_dipole"
These should be exposed (request from Matti).

[2017-01-19 05:20] choldgraf opened #3917 "Brainstorm data not downloading?"
I'm trying to download the brainstorm data, but it seems to hang when running `get_path`. It prompts for me to accept the agreement, and then...nothing happens. It just sits there (I've left it running for upwards of 20 minutes). Is this expected behavior, and the file is just really large? If not, has anybody else experienced this?

Also it'd be nice to add an extra flag to the `data_path` to acc

[2017-01-19 08:30] agramfort commented on #3917
even with

mne.set_log_level('INFO')

?

[2017-01-19 13:59] ravaan commented on #3908
Hey! I am a student and am really interested in working on GSoC, I am a beginner and would be very great if you can point where I can start from.

[2017-01-19 14:09] Eric89GXL commented on #3917
or more easily `verbose=True` in the call?

I just moved my `bst_phantom_elekta` data and ran `python -c "import mne; mne.datasets.brainstorm.bst_phantom_elekta.data_path(verbose=True)"` locally and it worked fine. This suggests it was a temporary connectivity issue, or local connectivity problem. But if the problem persists from multiple download locations (home, work, etc.) feel free to reopen

[2017-01-19 14:09] #3917 closed

[2017-01-19 17:11] annapasca opened #3919 "compute_source_psd"
I got the following error
operands could not be broadcast together with shapes (22494,327) (7498,327) (22494,327)

when I run this code
[code]

[2017-01-20 04:30] choldgraf commented on #3917
yep it must have been a temporary problem because it worked for me just now too

[2017-01-20 05:41] agramfort commented on #3908
@Eric89GXL start from this wiki page: https://github.com/mne-tools/mne-python/wiki/GSOC-Ideas

Regarding ideas, one would be to facilitate access to open EEG/MEG databases so work on datasets module. There is physionet, but much more. Having a consistent API to access multiple data source would be great.

[2017-01-20 05:50] agramfort commented on #3919
I can replicate the pb.

this line above

psd = np.zeros((K.shape[0], np.sum(freqs_mask)))

is wrong. It should take into account the number of ori if "is_free_ori and pick_ori is None"

can you open a PR and use this snippet as a test?

[2017-01-20 07:59] annapasca opened #3921 "mne.gui.coregistration()"
If I read into the dig field of the CTF sample data
[code]

it seems to me that the right set to use the gui is
[code]

is it?
only with this set the gui shows the fiducials and the right positions

[2017-01-20 08:25] jaeilepp commented on #3921
I believe you're right. The CTF definitions use ids 2 for rpa and 3 for nasion. Fix coming up.

[2017-01-20 09:15] annapasca commented on #3921
great!

[2017-01-20 12:46] annapasca commented on #3919
Hi Alex,

I'm testing and it seems it is solved with the check
[code]

Ok, I'll open a PR!

[2017-01-22 08:52] dengemann commented on #3883
Sorry for coming late, adding an explicit @dengemann gmail filter turned
out to be a good idea. I think, in the meantime we have already started to
discuss a pull request in an issue.

On Thu, Jan 5, 2017 at 8:44 AM, Alexandre Gramfort <notifications@github.com

[2017-01-23 11:48] olafhauk opened #3926 "evoked.plot_white() for raw data"
An equivalent of evoked.plot_white() for raw data would be very useful for people who want to compare whitening methods for raw data (e.g. resting state) or empty room data.

[2017-01-23 12:28] Eric89GXL commented on #3926
Could we add an option to raw.plot? That might be easiest

[2017-01-23 14:08] #3847 closed

[2017-01-23 15:09] agramfort commented on #3926
how would it look like API wise?

[2017-01-23 15:10] Eric89GXL commented on #3926
You could have `whitening_cov=None` or `cov=None` and if they pass one in, then you whiten the selected channels (and use an appropriate scale for them). But maybe it's not quite as nice because then the scale would be difficult to see.

Come to think of it, we could create a new type of raw plot that is a butterfly plot like `evoked.plot()` but with scroll interactivity. Maybe that would work bet

[2017-01-23 15:28] agramfort commented on #3926
to be consistent it could be a

raw.plot_white function.

and I am thinking that we could improve our raw data viewer to toggle
between butterfly plots and current approach

[2017-01-23 15:31] olafhauk commented on #3926
Such a "butterfly" option (with -1/+1 range highlighted) would be great. It would help identify data segments for which the whitening doesn't work well.
Alternatively, it could be like the current raw.plot() function, but with an added GFP channel. If one can identify individual channels, this might help with artefact or bad channel detection.

[2017-01-23 19:28] #3883 closed

[2017-01-24 14:16] #3882 closed

[2017-01-25 06:51] emmachen219 opened #3928 "How can I run spatio_temporal_cluster_1samp_test() within a certain region?"
I have a question about creating a mask for spatio_temporal_cluster_1samp_test(). I'm trying to restrict the cluster analysis within specific regions. As a demonstration for this issue, I'm using the sample dataset ('sample_audvis_filt-0-40_raw.fif') and the tutorial code from this link: http://martinos.org/mne/stable/auto_tutorials/plot_stats_cluster_spatio_temporal.html?highlight=spatio_temporal

[2017-01-25 12:21] Eric89GXL commented on #3928
Can you turn this into a SSCCE (http://sscce.org) that uses the sample
dataset? We at least need X (can be a fake example) and the associated
plotting call to be able to replicate this

[2017-01-25 16:51] bloyl opened #3930 "make_watershed_bem still requires MNE-C tools"
I just noticed that make_watershed_bem still requires MNE-C tools to be installed.

https://github.com/mne-tools/mne-python/blob/master/mne/bem.py#L1060-L1063

Is that intentional? They don't seem to used as I just ran through without them.

[2017-01-25 16:52] Eric89GXL commented on #3930
Yeah that looks like a bug to me, PR welcome to fix it

[2017-01-25 20:05] Eric89GXL commented on #2995
Just a note on this topic that in addition to using a glass head with translucent brain, we could add [cut-plane MRI slices](http://docs.enthought.com/mayavi/mayavi/mlab_case_studies.html) using Mayavi (which I didn't know was possible).

[2017-01-25 21:37] kingjr opened #3932 "BUG: freesurfer environment?"
I get a `command not found: mri_watershed' error` when running `mne.bem.make_watershed_bem` on a mac OS X Yosemite 10.10.4 + conda python 2.7 with mne 0.13.1 install through pip.

Yet, the same command can be called directly from the shell, and can be called through subprocess:i.e. this works
[code]

I tried to manually add `FREESURFER_HOME` to `os.environ` and do the same via `mne.utils.set_confi

[2017-01-26 01:40] Eric89GXL commented on #3932
Can you try on latest `master`?

[2017-01-26 07:44] #3930 closed

[2017-01-26 07:45] jaeilepp commented on #3930
This got fixed in https://github.com/mne-tools/mne-python/pull/3931

[2017-01-26 08:40] jaeilepp commented on #3919
This was fixed with https://github.com/mne-tools/mne-python/pull/3929

[2017-01-26 08:40] #3919 closed

[2017-01-26 13:17] emmachen219 commented on #3928
Thanks very much for your time, Eric! I've updated the code to be at least self-contained. I'm afraid I cannot find a way to make it short at the moment though.

[2017-01-26 14:20] jona-sassenhagen opened #3933 "check `n_components > max_pca_components` in read_ica fails"
A friend's ICA object can't be read because `n_components` is stored as `None` and `max_pca_components` is an `int`. Can anybody think of where this one is coming from?

I guess the check could be circumvented, but I'm not sure that's the optimal fix.

@dengemann

[code]

[2017-01-26 14:23] dengemann commented on #3933
Can we reproduce this in a test? I thought our IO coverage is not so bad.

On Thu, Jan 26, 2017 at 3:20 PM jona-sassenhagen <notifications@github.com>
wrote:

[2017-01-26 14:26] Eric89GXL commented on #3933
Or is it possible the ICA object is very old? Maybe we had an old bug

[2017-01-26 14:28] jona-sassenhagen commented on #3933
It's supposedly from 0.13 ... I'll try to come up with a reproducible example. I'm a bit flabbergasted, but it sounds like something we've previously sorted out!

[2017-01-26 14:31] dengemann commented on #3933
Yes stuff like this can happen with old objects. We don't really explicitly
support old objects ...

On Thu, Jan 26, 2017 at 3:26 PM Eric Larson <notifications@github.com>
wrote:

[2017-01-26 15:25] Eric89GXL opened #3934 "ENH: Coreg GUI ideas"
I'm starting to use the Coreg GUI because I want to allow spherical warping instead of just 3-axis scaling. A few potential enhancements/questions have come to mind @christianbrodbeck .

* [ ] I found a few little bugs (face culling, surface normals, argument-passing not giving expected behavior) but I will open a PR for those.

* [ ] Why are the rotations done around the nasion instead of e.g. th

[2017-01-26 15:57] christianbrodbeck commented on #3934
I've been thinking that it would be interesting to re-implement the coregistration model using more general transformation and object classes, but unfortunately I don't have the resources to do so currently...

I don't remember exactly what the reason was during the implementation, so maybe there are other reasons, but from what I recall the nasion seemed like the best point for initial coregistra

[2017-01-26 16:16] Eric89GXL commented on #3934
I'm on latest `conda` and Linux.

Command on `master`:
[code]
1. Disable high-res head
2. Change view to front:
    ![screenshot from 2017-01-26 11-13-59](https://cloud.githubusercontent.com/assets/2365790/22339613/9c5bf542-e3b8-11e6-8cd0-b7b4155f8ef1.png)
3. Change to 3-param scaling
4. Change Right (X) to 2, hit Enter (should be twice or half as wide):
    ![screenshot from 2017-01-26 11-14-54](

[2017-01-26 16:59] christianbrodbeck commented on #3934
I can reproduce it on OS X, and it must have something to do with the mayavi update. I can fix it by reverting to my old env:

[code]

[2017-01-26 17:06] Eric89GXL commented on #3934
Do you have time to look soon (in the next week)? This is probably a 0.14 release blocker.

[2017-01-26 18:04] christianbrodbeck commented on #3934
Yes this is a problem, I'll look into it

[2017-01-26 19:12] kingjr commented on #3934
In this line, it'd be great to add the color changing of the dots as a
function of whether they are inside or outside the surface (as in MNE C)

On 26 January 2017 at 13:04, Christian Brodbeck <notifications@github.com>
wrote:

[2017-01-26 19:15] Eric89GXL commented on #3934
I actually edited that in as a point above a bit ago, and implementing it isn't as trivial as I'd hoped. MayaVi is hard :(

[2017-01-26 19:37] joewalter commented on #3916
It might be useful to compute all figures of merit in a seperate function to reuse this function in sparse inverse methods (if we switch to dipoles there)

[2017-01-26 19:42] kingjr commented on #3932
Problem solved with latest master

[2017-01-26 19:42] #3932 closed

[2017-01-26 23:04] timmidee opened #3938 "Not all events included after mne.io.read_raw_eeglab()"
After reading in a dataset from eeglab, I notice not all events have been read.

I do:
raw = mne.io.read_raw_eeglab(raw, event_id=ev_id, preload=True)
raw.drop_channels(['L_GAZE_X','L_GAZE_Y']) # Drop eye tracker channels
montage = mne.channels.read_montage(mfile)
mne.channels.montage._set_montage(raw.info, montage)
evs = mne.find_events(raw,shortest_event = 0,stim_channel = 'STI 014')

With ev_id

[2017-01-27 00:00] choldgraf opened #3939 "What's the closest thing that we have to `Nifti`?"
This is not really an MNE-specific conversation, but I think it might be relevant to folks in this world so I figured here is as good a place as any to ask it.

What's the closest thing we've got in electrophysiology to a `nifti` file? I feel like I've seen a few projects popping up lately where people are trying to sort of recreate the wheel. For example, right now I know of:

* `.fif` format, wh

[2017-01-27 01:48] Eric89GXL commented on #3934
@christianbrodbeck as part of #3935 I managed to enable another test without requiring FreeSurfer that appears to have uncovered a Windows bug (because AppVeyor runs the test now):

https://ci.appveyor.com/project/Eric89GXL/mne-python/build/1.0.8729

I'm going to put a `SkipTest` in there for now in #3935, but if you have time to fix that one it would help, too.

[2017-01-27 07:02] jaeilepp commented on #3938
I assume this has something to do with how the event ids are mapped to integers. You could run ``read_raw_eeglab`` with ``verbose=True`` to see if it throws any warnings.

[2017-01-27 07:50] agramfort commented on #3939
my opinion is "choose your battles" :)

[2017-01-27 09:07] timmidee commented on #3938
Thank you for the suggestion, I just tried this but no warnings are issued.

raw = mne.io.read_raw_eeglab(raw, event_id=ev_id, preload=True, verbose=True)

results in:

Reading /Volumes/(...)/ss0018_ET_EEG.fdt
Reading 0 ... 2582049  =      0.000 ...  2582.049 secs...

[2017-01-27 09:49] jaeilepp commented on #3938
Hmm. That's surprising since there is a check for ``if len(events) < len(types):`` and it should issue a warning.

I would start debugging by checking which events exactly are excluded and where exactly are they dropped. If you can share the data I can also take a look.

[2017-01-27 12:42] jona-sassenhagen commented on #3891
Can we close this issue @ppasler ?

[2017-01-27 13:35] jasmainak commented on #3938
@jona-sassenhagen perhaps you can help? It's part of the code you wrote

@timmidee can you share the file + small code to facilitate debugging. Also, take a look at `event_id_func`. Maybe that will help

[2017-01-27 16:15] timmidee commented on #3938
I got some IRL help from @jona-sassenhagen on this. It's not resolved yet, but he has a copy of the file.

As far as I understand this, the triggers in the .set file seem to be ok and to be read correctly by the internal functions in mne.io.eeglab.eeblab, but somehow they seem to end up in the stimulus channel incorrectly, or to be incorrectly retrieved by mne.find_events().

For now I can read ou

[2017-01-27 16:37] choldgraf commented on #3939
haha fair - I think I agree in general. I just keep seeing people trying to re-create their own file format in their own silo'd worlds etc. The thing is, I feel like when this happens a lot it means that either:

A. There should be some kind of common file structure because people keep inventing it for their workflows, or
B. There definitely shouldn't be some kind of common file structure because

[2017-01-27 16:38] dgwakeman commented on #3939
To expand a bit on this. I too felt the same way and did quite a bit of lobbying. A while later, I discovered just what a disaster nifti is as a format. One nifti doesn't match another if a different converter is used (in fact the most popular create some of the worst (with little details in the header). Plus the confines of nifti means really important information doesn't fit in the header (timin

[2017-01-27 16:45] choldgraf commented on #3939
that's a good point @dgwakeman. I should say I am not lobbying for having a common format :) I mostly just want to see what people think about it because it's a complex issue.

I was under the impression that `bids` format was sort of operating at a higher level than nifti...that it was meant to be a way to organize entire experiments / meta-data / etc. Maybe I'll look into it more.

I was reminde

[2017-01-27 16:54] choldgraf commented on #3939
E.g., one question that's been popping up in my head is whether it's worth having a file type built on hdf5. It seems like a lot of the file formats for data are moving in this direction and it may make it easier for people to read / understand the data structures without necessarily needing a "reader function" in case they don't have one.

[2017-01-27 17:21] mmagnuski commented on #3938
this is partly related to `original_events` idea from #3837

[2017-01-27 18:41] jona-sassenhagen commented on #3938
Ok, I think I've found the problem.

It's due to perfectly overlapping events. `events` is first constructed correctly by _read_eeglab_events. But then, by the conversion to a stim channel, and then by reconstructing an events array from the stim channel, events with identical time points are lost.

Proposed solution:

- check if len(set(latencies)) == len(latencies) and if not, warn
- @timmidee ,

[2017-01-27 20:55] agramfort commented on #3939
FYI there is a BIDS format for MEG on the way.

see recent efforts

https://github.com/brainstorm-tools/bst-data-examples

[2017-01-27 21:08] PRRvalli commented on #1157
Is the issue about adding x,y labels and legends to the plots ? It can be made better by add point for peaks of the signal. I wish to work on this issue . How do I start ?

[2017-01-27 21:13] choldgraf commented on #3939
very cool! I haven't used BIDS much myself so I don't know how well-designed it is, but I've heard good things!

[2017-01-30 08:49] jaeilepp commented on #1157
The issue is about cortical [parcellation labels](https://surfer.nmr.mgh.harvard.edu/fswiki/CorticalParcellation), but to me it's unclear what the API would look like for this. I assume @dengemann wants the ``plot`` method to have a kwarg for adding a label more conveniently.

[2017-01-30 09:26] dengemann commented on #1157
I think it was more for the part related to showing conveniently a label on the brain surface, it is not related to stcs.

``label.plot()```

[code]

[2017-01-30 09:42] jaeilepp commented on #1157
So in essence, add a ``plot`` method for [Label](https://github.com/mne-tools/mne-python/blob/master/mne/label.py#L140). @PRRvalli you can start by opening a pull request along [these](http://martinos.org/mne/stable/contributing.html) guidelines.

[2017-01-30 10:30] #3467 closed

[2017-01-30 22:12] WilliamCollishaw opened #3945 "FIX: projs type checking in compute_covariance"
code:
`noiseCov = compute_covariance(epochsList, tmin=None, tmax=0, method='shrunk',return_estimators=False, verbose=True, n_jobs=1,projs=projList)`
`mne.write_cov(subjectDirectory + URSI + '/' + URSI + '_' + testName + '-cov.fif', noiseCov)`

error:
`mne.write_cov(subjectDirectory + URSI + '/' + URSI + '_' + testName + '-cov.fif', noiseCov)`
`File "/usr/local/lib/python2.7/dist-packages/mne/cov.p

[2017-01-31 05:02] Eric89GXL commented on #3945
That's a weird one. Can you try writing the covariance to HDF5 with `mne.externals.h5io.write_hdf5('test.h5', noiseCov)` and uploading the result somewhere? If that works it's an easy way to debug and figure out what's wrong with the object.

Are you on latest `master` or 0.13?

[2017-01-31 17:30] WilliamCollishaw commented on #3945
When trying to write hdf5 i got the following:

`Traceback (most recent call last):`
  `File "pythonScripts/pipeline.py", line 410, in <module>`
    `main()`
 `File "pythonScripts/pipeline.py", line 349, in main`
   `mne.externals.h5io.write_hdf5('test.h5', noiseCov)`
  `File "/usr/local/lib/python2.7/dist-packages/mne/externals/h5io/_h5io.py", line 106, in write_hdf5
    cleanup_data=cleanup_data

[2017-01-31 17:40] Eric89GXL commented on #3945
Okay let's try something else. I just pushed a commit that should give us a better traceback. Can you update to latest master, try running your code again, and paste the new, improved traceback?

[2017-01-31 18:18] WilliamCollishaw commented on #3945
pretty sure this is exactly the same

`File "pipeline.py", line 413, in <module>`
   `main()`
  `File "pipeline.py", line 352, in main`
    `mne.externals.h5io.write_hdf5('test.h5', noiseCov)`
  `File "/na/homes/wcollishaw/pythonScripts/mne-python/mne/externals/h5io/_h5io.py", line 106, in write_hdf5`
    `cleanup_data=cleanup_data, slash=slash, title=title)`
  `File "/na/homes/wcollishaw/pythonSc

[2017-01-31 18:28] Eric89GXL commented on #3945
Ahh sorry, I mean retry the `cov.save`

[2017-01-31 18:28] Eric89GXL commented on #3945
... or `write_cov`

[2017-01-31 18:29] WilliamCollishaw commented on #3945
`Traceback (most recent call last):`
  `File "pipeline.py", line 414, in <module>`
    `main()`
 `File "pipeline.py", line 353, in main`
    `mne.write_cov(subjectDirectory + URSI + '/' + URSI + '_' + testName + '-cov.fif', noiseCov)`
  `File "/na/homes/wcollishaw/pythonScripts/mne-python/mne/cov.py", line 1189, in write_cov`
    `cov.save(fname)`
 `File "/na/homes/wcollishaw/pythonScripts/mne-pyt

[2017-01-31 18:34] Eric89GXL commented on #3945
So there is something weird about your `cov['projs']`, which suggests there is something weird about `epochs.info['projs']`. I can get something similar with a nonsensical call:
[code]
What is your `epochs.info['projs']`?

Do you get an error with `mne.write_proj('test-proj.fif', epochs.info['projs']`)? If so, how did you create your projectors? What raw data format are you using (FIF, CTF, etc.)?

[2017-01-31 18:35] Eric89GXL commented on #3945
... oh I guess there might be something weird about `projList`. What is `projList`? Can you successfully do `mne.write_projs('test-proj.fif', projList)`?

[2017-01-31 18:44] WilliamCollishaw commented on #3945
When trying to write projList i get the same error
projList is a list of projectors
`projList = []`
`projList.append(mne.read_proj(file))`

I tried to write_proj for a single projector and it worked.

in the documentation it states:
projs : list of Projection | None (default None)
List of projectors to use in covariance calculation, or None to indicate that the projectors from the epochs should be

[2017-01-31 18:49] Eric89GXL commented on #3945
You want a list of projectors, so `projList.extend(mne.read_proj(...))` because `read_proj` returns a list itself. What you currently create is a list containing a list containing projectors.

[2017-01-31 18:50] Eric89GXL commented on #3945
(we should probably add a check for this in the code to prevent this problem)

[2017-01-31 18:57] WilliamCollishaw commented on #3945
So, I had a list of list of projectors, when i needed a list of projectors. I love data structures!

Using extend I was able to write_proj, will try recalculate the noise_cov and let you know my progress.

Thanks for all the prompt responses!

[2017-01-31 19:00] Eric89GXL commented on #3945
No problem, fingers crossed it works this time...

[2017-01-31 20:22] WilliamCollishaw commented on #3945
It worked! Thank you for the help!

[2017-01-31 20:28] Eric89GXL commented on #3945
No problem. I'll re-title this to make it clear that we should raise an error if `projs_list` is not a list of projs

[2017-02-01 06:41] jaeilepp opened #3951 "Maxwell filter scaling."
When I use ``st_only=True`` the scaling on mag channels seem off. Script to reproduce.

[code]
I also see similar looking issues with reconstructed bad grad channels on [multi-subject, multi-modal human neuroimaging dataset](https://openfmri.org/dataset/ds000117/) subject 10, but I'm unable to reproduce it with the testing dataset.

[2017-02-01 14:16] cbrnr opened #3952 "ENH: ICA on specific time segments within raw data"
I'd like to run ICA only on specific time segments within my (BrainVision) raw data. I have these segments given in two `np.arrays`, one with the start samples and one with the stop samples, e.g.

    start = np.array([10, 100, 500])
    stop = np.array([35, 250, 570])

What is the preferred way to select a slice of the raw data containing all channels but only time samples between start and stop?

[2017-02-01 14:18] timmidee commented on #3933
As this is my ICA object I figured I would just to briefly mention that the ICA objects are made in the same script as they are loaded in, i.e. not made in some older version of MNE than the one that I'm trying to read them with...

[2017-02-01 14:19] dengemann commented on #3933
Ah. Can you share some code that shows this issue on the MNE sample data?

On Wed, Feb 1, 2017 at 3:18 PM Tim Cornelissen <notifications@github.com>
wrote:

[2017-02-01 14:28] timmidee commented on #3933
Sorry, I was about to update that comment with the information that I ran the ICA on a concatenation of two datasets (from the same participant, same setup, same session, etc... just two files). Not sure that is relevant, but I'll leave that judgement to you!

I'll try with the example data. Can you give me a quick hint where/how to easily find that data?

[2017-02-01 14:31] dengemann commented on #3933
Hi Tim,

have a look at any example from our website. If you run any of those the
data will be downloaded if they aren't already on your local drive.

On Wed, Feb 1, 2017 at 3:28 PM Tim Cornelissen <notifications@github.com>
wrote:

[2017-02-01 15:43] timmidee commented on #3933
Thanks, I tried and I get no error when using the example data...

On the other hand, when I use my own data and print back ica.n_components and ica.max_pca_components right before saving the object, I get

None
62

So the i/o seems to be doing its work just fine, in a sense that it is reading and writing properties of the ICA object. It appears to be the ICA object itself that has properties that

[2017-02-01 16:12] mmagnuski commented on #3952
You could use `raw.crop` and `mne.concatenate_raws` to get a raw that consists only of segments you want.
If start and stop are in seconds that would be something like:
[code]
but bear in mind that you need to have enough timepoints to fit ICA well, citing eeglab folks:

Another way to do that would be to first segment the data into short windows and reject those that you do not need (you can take

[2017-02-01 16:27] mattboggess opened #3953 "Read in EGI GPS Digitization Coordinates"
To the best of my knowledge, MNE does not currently support reading in digitization files using EGI's GPS digitization process. An example file can be found [here](https://drive.google.com/file/d/0B-D6HZYNzLixTmowV19reWtTQWs/view?usp=sharing). I was hoping to integrate this functionality into MNE. I'd be willing to put in time and effort to do so, but was hoping for guidance on best approach for t

[2017-02-01 16:47] Eric89GXL commented on #3953
For now you'd want to modify the `read_dig_montage` function / `DigMontage` class. Take a look at those and see if the necessary changes make sense

[2017-02-01 16:55] Eric89GXL commented on #3951
Hmm... I think that within any given window, the result actually looks reasonable. And tSSS is reducing power, as expected:
[code]
But window-by-window the projection changes, so you get over multiple windows an up-down sort of behavior, which I assume is what you're pointing out? This might be fixed by doing overlap-add windowing, which is something I've discussed previously with Samu. I hope to

[2017-02-01 16:59] Eric89GXL commented on #3951
Oh wait... I think there might also something odd going on due to the DC value in the signal. I'll keep digging.

[2017-02-01 17:04] Eric89GXL commented on #3951
BTW anyone to lazy to run code, here's an example before/after tSSS, the 2-second-ness of the data processing is visible:
![screenshot from 2017-02-01 12-03-14](https://cloud.githubusercontent.com/assets/2365790/22517224/78b48e0c-e876-11e6-8967-0224af5199a7.png)
![screenshot from 2017-02-01 12-03-17](https://cloud.githubusercontent.com/assets/2365790/22517227/7a64da40-e876-11e6-9ec1-c2f5b7cc1b11.p

[2017-02-01 18:15] kingjr opened #3956 "ENH: gui coregistration"
I don't seem to be able to modify the fiducials manually (i.e. by clicking on the surface) on `mne.gui.coregistration`. I think I used to be able to?..

cc @Eric89GXL @christianbrodbeck

[2017-02-01 18:18] Eric89GXL commented on #3956
In case it's not possible yet (a la `mne_analyze), it looks like `mayavi` makes it fairly easy to get back to vertex numbers:

http://docs.enthought.com/mayavi/mayavi/auto/example_pick_on_surface.html

[2017-02-01 18:19] christianbrodbeck commented on #3956
Even if you unlock them? Then it would be a new issue.

[2017-02-01 18:30] kingjr commented on #3956
yes, even when I unlock them.. I tried with two different computers, one ubuntu one mac, both using CTF data

[2017-02-01 18:37] christianbrodbeck commented on #3956
Are you talking about the MRI fiducials? Those work for me (macOS), also with mayavi 4.5.

Head Shape points could never be edited in the GUI.

[2017-02-01 18:39] christianbrodbeck commented on #3956
(and they can be edited before specifying MEG/digitizer data, so that it is CTF data should not matter)

[2017-02-01 18:40] christianbrodbeck commented on #3956
Also no error in the Terminal? If you can share the MRI subject I would see if I can modify them on my system.

[2017-02-01 18:48] kingjr commented on #3956
yes

I tried with freesurfer fsaverage too, same problem.

I encounter multiple errors, first pop up:

[code]

then another one:
[code]

and the following error in terminal:

[code]

[2017-02-01 18:53] christianbrodbeck commented on #3956
To high res head warnings are expected because fsaverage does not have a high res head; you could suppress them with the `--low-res-head` option.

The second error looks like it's something about the data. Maybe you do have a corrupted fiducials file in your subject's directory? The GUI would try to load it automatically, and maybe that error then stops it from updating? If you have a fiducials fi

[2017-02-01 18:54] christianbrodbeck commented on #3956
Although I just noticed it occurs on `self.model.hsp.sync_trait` – does the error also occur when you load no MEG data?

[2017-02-01 19:16] mmagnuski opened #3957 "reading eeglab files with channels missing position"
I have many eeglab files that contain at least one channel that has undefined position (for example biosemi EXG channels) - the way `mne.io.eeglab._get_info` works currently is to ignore all channel positions if at least one channel has no specified position.
This behavior originates [here](https://github.com/mne-tools/mne-python/blob/master/mne/io/eeglab/eeglab.py#L81) - `np.unique` of x, y and z

[2017-02-01 19:30] jasmainak commented on #3957
I don't know what is the consequence of having `NaN`s in the `info`. Perhaps @agramfort or @Eric89GXL can have better opinion here

[2017-02-01 19:37] mmagnuski commented on #3957
nans would be omitted and not included in montage - so no nans in info. In the current setup you can get 0 if there is no position info or if the position is 0.

[2017-02-01 19:38] mmagnuski commented on #3957
I have changed that part of code so it may be easier to just show it instead of explaining :) :#3958

[2017-02-02 06:55] jaeilepp commented on #3951
The bad channel reconstruction was fixed by setting ``origin`` and ``destination`` manually, but the mag channels are still noisy with ``st_only=True``. On multimodal dataset it's even more prominent.
![mags](https://cloud.githubusercontent.com/assets/3456414/22539843/fe6a78f8-e91c-11e6-9936-1936cb8e9e58.png)

[2017-02-02 07:02] jaeilepp commented on #3956
Could this be related to https://github.com/mne-tools/mne-python/pull/3922? Currently CTF conversion sets the fiducials to HPI points so the files probably don't have the fiducials in them. Somehow mne_analyze allows the coregistration without the fiducials.

[2017-02-02 07:19] #3945 closed

[2017-02-02 12:14] Eric89GXL commented on #3951
Can you paste the updated command lines so I can look at the same thing
locally?

[2017-02-02 12:47] jaeilepp commented on #3951
That is from the multimodal dataset sub010. So just
[code]

[2017-02-02 13:25] christianbrodbeck commented on #3956
Yes I seem to remember there was something about a corrupted fiducials file a while ago that's why I suggested moving it away (if there is one); if that's it we should modify the GUI so that it catches the error.

[2017-02-02 13:41] cbrnr commented on #3952
Thanks, this almost works - my start and stop times are in samples, but `crop` wants seconds. I could convert my samples to seconds, but I'd prefer a solution that works directly on samples because of rounding errors.

I guess working directly on `raw._data` (i.e. cropping the internal array directly and putting that back into the `raw` object) is not a viable option?

[2017-02-02 18:19] mmagnuski commented on #3952
I think you could try cropping `_data` directly - you would probably have to crop `.times` to relevant length too.

[2017-02-02 18:54] Eric89GXL commented on #3951
what is `destination` and which run is that?

[2017-02-02 18:56] Eric89GXL commented on #3951
actually I think `destination` shouldn't matter for this, and I guess I can check any run and they'll probably display this behavior

[2017-02-02 19:01] Eric89GXL commented on #3951
The original raw data with no projectors looks about the same. `st_only` removes projectors, so it will look different unless you disable proj.

I guess in `st_only` mode we don't need to remove projectors, since tSSS by itself doesn't/shouldn't change the spatial configuration of the data.

[2017-02-02 21:12] prefrontalvortex commented on #3957
Is this the error you are seeing?

[code]

[2017-02-02 22:07] mmagnuski commented on #3957
@prefrontalvortex no, that seems to be another issue - how does your EEG.chanlocs look (in matlab for example)?

[2017-02-02 22:13] jhouck opened #3960 "Ground truth timeseries from simulation?"
If I've created a source estimate with simulated data (as in the plot_simulate_raw_data example), what would be the most straightforward way to extract the full timeseries before it's interpolated in simulate_raw?  It looks like it would be a little more involved than concatenating multiple copies of stc.data from the simulated source estimate to create a couple of minutes of data.  Or is it?  The

[2017-02-02 22:18] prefrontalvortex commented on #3957
Empty.

`[]`

Looks like it's never dealt with a case where the chanlocs struct is empty.

[2017-02-02 22:49] prefrontalvortex commented on #3957
I'm a "beg forgiveness > ask permission" kind of guy, so I did this and was able to get rolling with the data:
[code]

If all this function is doing is parsing meta-data, it might be better just to try/except/warn instead of either `if len(eeg.chanlocs) > 0:` or ` for chanloc in eeg.chanlocs:`

[2017-02-02 23:19] Eric89GXL commented on #3960
It should just be the concatenation. You can verify it in many ways, e.g.,
by checking that the event times correspond to t=0 in your repeating STC,
or that (in the noise free case) any given repeat is a linear combination
of your N original STC time courses. Sinusoids or temporal delta functions
are good for the latter

[2017-02-03 02:31] jasmainak commented on #3957
The problem with a try-catch construct is that many other errors will pass silently. You don't want that ...

[2017-02-03 08:44] #3951 closed

[2017-02-03 10:27] mmagnuski commented on #3957
Ok, I'll fix that in the open PR - that requires only a small change.

[2017-02-03 11:26] mmagnuski commented on #3957
That should work now - I've added checks for X, Y and Z fields and a relevant test that passes.

[2017-02-03 15:52] cmmoenne opened #3963 "How to define channel types on the fly"
In my lab we use multiple synced signals (EEG, eye-tracking, ...), and one of them is information of spatial markers (ndigital optotrak). I create RawArrays from the spatial data with 'misc' channel types. The problem is that every time I want to plot the evoked data a __ValueError: Non-data channel picked.__ is raised. My temporary (lazy) solution is to change the channels types to a valid one (a

[2017-02-03 16:01] #3903 closed

[2017-02-03 18:03] jhouck commented on #3960
Excellent - thanks!

[2017-02-03 18:11] Eric89GXL commented on #3928
I see the problem. Your `X` and `connectivity` are defined on `fsaverage`'s ICO-5 source space, which FYI conveniently has its vertices-in-use given by `fsaverage_vertices = [np.arange(10242), np.arange(10242)]`.

Your labels are from your specific subject (here `sample`) source space.

You need to use labels from `fsaverage` when computing the `exclude`. It works for me when changing these lines:

[2017-02-03 18:11] #3928 closed

[2017-02-03 18:11] #3960 closed

[2017-02-04 11:38] agramfort commented on #3963
you mean evoked.plot crashes when you try to plot a misc channel?

[2017-02-04 12:35] cmmoenne commented on #3963
I don't know if it is a crash or expected behavior. For example, in [plot_compare_evokeds line 1475](https://github.com/mne-tools/mne-python/blob/master/mne/viz/evoked.py#L1475) If any channel doesn't belong to _DATA_CH_TYPES_SPLIT (defined in io.pick [here](https://github.com/mne-tools/mne-python/blob/master/mne/io/pick.py#L715)) the value error is raised.

That is not the case with plot_evoked a

[2017-02-05 04:08] mattboggess commented on #3953
I'm confused about the distinction between elp and hpi? Similarly, elp seems required to be set for both plotting the montage and transforming the coordinates though for the EGI montage only the fiducials and electrode positions are relevant. I'm not sure I understand what elp is supposed to contain?

[2017-02-05 19:39] agramfort commented on #3963
if evoked.plot supports misc then it should also be the case for the
plot_compare_evokeds function

can you open a PR to fix it yourself?

[2017-02-05 21:58] cmmoenne commented on #3963
I open PR #3965 with fixes for plot_compare_evoked. So I close this issue now.

[2017-02-05 21:58] #3963 closed

[2017-02-06 13:03] hoechenberger commented on #3933
I can reliably reproduce this issue using the example data with the following code:
[code]

[2017-02-06 15:33] Eric89GXL commented on #3953
`hpi` are in MEG device space, `elp` are in digitizer space. So they're the same points in two different coordinate systems. They should only be necessary for determining an MEG<->head transformation

[2017-02-06 17:16] nbara opened #3969 "accessing fieldtrip buffer (MATLAB) in MNE-python ?"
Hi all,

Apologies if this is an obvious question but I'm having trouble finding the answer.

Let's assume I start a fieldtrip buffer from Matlab:

[code]

Should it be possible to access it in python (code below from the  MNE's [examples](https://github.com/mne-tools/mne-python/blob/master/examples/realtime/ftclient_rt_average.py)?)

[code]

I get the following error:

[code]

 `raw_info` contain

[2017-02-06 18:33] Eric89GXL commented on #3969
That's a bug. It's trying to guess the measurement info from the channel name and failing. I'm curious, what  system are you streaming data from? It's possible people have only done Neuromag systems so far, in which case we wouldn't have hit this.

@jasmainak do you have time to look?

[2017-02-06 22:59] ramonapariciog commented on #1210
Hello!, I will put this here
https://github.com/ramonapariciog/mne-mff-reader
@dengemann @deep-introspection @SherazKhan

[2017-02-06 23:35] kaczmarj opened #3970 "Unit of measure for raw data in mne.io.RawArray"
I am trying to load EEG data from a `numpy` array into an `mne.io.RawArray` object. What is the correct unit of measure for the data in the array? Volts? I looked through the source for `mne.create_info`, and it looks like the unit should be volts. Can anyone confirm?

Thank you.

[2017-02-06 23:50] Eric89GXL commented on #3970
Yes volts. Do you have time to open a PR to clarify the documentation for
the next person?

[2017-02-07 08:12] nbara commented on #3969
Hi Eric,

At the moment I was just trying to generate a dummy EEG signal with the above matlab code, but the next step is to use the FT buffer with a Biosemi device.

From what I can gather, the code in `fieldtrip_client.py` seems to be tailored for Neuromag files indeed, hence the error.

[2017-02-07 12:57] #3957 closed

[2017-02-07 13:28] nbara commented on #3969
If it helps, I've managed to circumvent all the data checks (which are all Neuromag-centered) with some quick and ugly code:

In MATLAB:
[code]

In Python, I'm basically overriding `FieldTripClient. _guess_measurement_info(self)`

[code]

It's quite probable that the above code will break with real data though.

[2017-02-07 13:46] MartinPerez opened #3971 "BUG: problems with suggested info structure in ECOG example"
The example for an Ecog data suggest using the label 'ecog' when creating the info structure, but later when trying to use the plotting functions this leads to very annoying errors that cant be corrected with any possible parameters. For example plot_psd of the raw object do not accept a custom layout but will eventually call find_layout, that returns None, inside _plot_lines. Then it tries to acc

[2017-02-07 13:52] MartinPerez commented on #3971
Naively I would ask why a custom Layout would not form part directly of the Info object, since a Montage is given to it anyway with all the type of information I would use for a custom layout.

[2017-02-07 14:16] kaczmarj commented on #3970
I could do that. Because a class like `RawArray` can accept more than just EEG data, how would you suggest I add the proper unit of measure to the documentation?

[2017-02-07 14:21] Eric89GXL commented on #3971
Yes this is the right thing to do...

...but there might be issues. Let's fix them.

First step is to make a minimal example e.g. using `RawArray` that shows the problem. Can you take care of that and post the code here?

The next step is to turn that example into a failing test (test-driven development!) in some suitable place like `mne/io/array/tests/test_array.py`, and open a PR to add the test

[2017-02-07 14:22] Eric89GXL commented on #3971
Right -- the montage should set the channel positions, which should then be used to set the layout. So I think we have two bugs actually: 1) plotting should not fail if there is no layout available, and 2) the layout should be able to be created on the fly from `info` but for some reason it isn't.

[2017-02-07 14:30] Eric89GXL commented on #3970
Probably a bulleted list. To keep it slightly shorter, you can organize it by type:
[code]
And I guess it should probably go in `create_info`, too / instead of `RawArray`?

[2017-02-07 14:32] MartinPerez commented on #3971
@Eric89GXL thanks for your answers. I will be happy to assist with the minimal example/test. I am not familiar with any of the objects, so I am not sure I will bring good insights to fix the bugs. Its actually my first time using MNE. Nonetheless I can give a hand to anyone that points out the precise changes to attempt.

One last question is that for my electrodes I have MNI coordinate positions.

[2017-02-07 14:35] Eric89GXL commented on #3971
Is it possible for you also to get the fiducials (LPA, RPA, Nasion) from your MRI? If so, then passing those to the `read_dig_montage` you can convert them all to the head coordinate system, and also have access to the head<->MRI transform, which is useful.

Your use case is actually something that we're planning to fix/clarify in the coming couple of months (#3699, #3893) because it should be eas

[2017-02-07 14:37] Eric89GXL commented on #3969
Yeah that looks like the right general direction for the fix, but we'll have to make something more general. Do you have time to try a complete fix and open a PR?

[2017-02-07 14:43] MartinPerez commented on #3971
The dataset was given to me with that information only from a mix of places and times. Likely I wont be able to access further details. All the coordinates are in MNI space, since they are normalized already I hope there is workaround simply by playing with the Montage and/or Layout objects. I could PR an example at the end from this experience.

[2017-02-07 14:53] Eric89GXL commented on #1210
Reopening. There has also been discussion in #1687 about this. It's also related to #3953.

@ramonapariciog please open a PR if you have time. If you get stuck we can help you with comments or PRs into your branch. If you don't think you'll have time, let me know and I can try adapting your code.

[2017-02-07 14:58] kaczmarj commented on #3970
Thanks. I think it would make sense to include that list in the docstring of each `*Array` class, and in the notes of `create_info`.

[2017-02-07 15:00] Eric89GXL commented on #3970
Sounds good to me

[2017-02-07 15:21] nbara commented on #3969
I'd be happy to try, but I would need some guidance (I'm still a python noob!)

[2017-02-07 16:09] agramfort commented on #3970
this tutorial should be edited too:

http://martinos.org/mne/stable/auto_tutorials/plot_creating_data_structures.html

[2017-02-07 16:13] kaczmarj commented on #3970
To edit that tutorial, would I edit https://github.com/mne-tools/mne-python/blob/master/tutorials/plot_creating_data_structures.py ?

[2017-02-07 16:16] agramfort commented on #3970
yes exactly

[2017-02-07 16:53] avkasdan commented on #3956
(This is JR on another computer):

We encounter the error on multiple CTF files. When launching mne.gui.coregistration without the raw instance fname specified we get :

```Error reading fiducials from ATE26_TvsOpred_20150512_03.ds: [Errno 21] Is a directory: u'/Users/poeppellab/Documents/ATE26_TvsOpred_20150512_03.ds' (See terminal for more information```

In the terminal we get

[code]

However

[2017-02-07 19:03] christianbrodbeck commented on #3956
Theres something wrong. Fiducials filenames should never be anything with an extension other than `*.fif`. Can you check the output of `mne.coreg._find_fiducials_files(subject, subjects_dir)`?

[2017-02-07 19:10] teonbrooks commented on #3441
So I was just informed that our stickers do not conform to cool kids standards. Apparently [hexagonal stickers](www.hexb.in) are in. Should we do stickers 2.0?

[2017-02-07 19:11] romquentin opened #3974 "BUG: problem with mne.bem.make_watershed_bem"
Hi all,
I am trying to run `make_watershed_bem` and I got the following error.

[code]

Surprisingly, running directly in the shell
`mri_watershed -useSRAS -surf /Users/quentinra/Desktop/MEGdata/WM1/subjects/sub03_XATEOUZW_WM/bem/watershed/sub03_XATEOUZW_WM /Users/quentinra/Desktop/MEGdata/WM1/subjects/sub03_XATEOUZW_WM/mri/T1.mgz /Users/quentinra/Desktop/MEGdata/WM1/subjects/sub03_XATEOUZW_WM/bem

[2017-02-07 19:14] choldgraf commented on #3441
omg hexagons are so 2016, I hear octagons are the new way to go. So I propose being even more cutting edge and going with a dodecahedron.

[2017-02-07 19:19] kingjr commented on #3441
ha!

On 7 February 2017 at 14:10, Teon L Brooks <notifications@github.com> wrote:

[2017-02-07 20:40] #3970 closed

[2017-02-07 21:43] jasmainak commented on #3969
@nbara sorry for the late response.

Did you try what I suggest [here](https://github.com/mne-tools/mne-python/pull/3620#discussion_r80743202). This is really the only foolproof way to make sure things work. Let me look at your solution ...

[2017-02-07 21:47] jasmainak commented on #3969
@Eric89GXL what is `info['logno']` [supposed to store](https://github.com/mne-tools/mne-python/blob/master/mne/realtime/fieldtrip_client.py#L158)? I suppose we could do away with the regexp and simply replace it with the iteration number?

[2017-02-08 08:37] nbara commented on #3969
Is there an easier way to populate/initialise the `info` structure than copying it from a dummy file on disk?

[2017-02-08 12:26] MartinPerez commented on #3971
Here I post a simple example to arrive to the problem. Specifically that raw.plot_psd(average=False) tries to call a layout that can not be overridden as an argument of the function.

[code]

[2017-02-08 12:32] MartinPerez commented on #3971
Would you like me to PR it as a smoke test in mne/io/array/tests/test_array.py?

[2017-02-08 13:10] jasmainak commented on #3969
Maybe you can use [`create_info`](http://martinos.org/mne/stable/generated/mne.create_info.html) ?

The problem is that critical information such as channel type are not available in the header that fieldtrip buffer transmits ...

[2017-02-08 13:14] agramfort commented on #3971
yes please do

thx

[2017-02-08 13:32] nbara commented on #3969
Yes, that does it nicely. For instance with 4 channels

[code]

Thanks @jasmainak , closing now :)

[2017-02-08 13:32] #3969 closed

[2017-02-08 14:06] PRRvalli commented on #1157
Will this method plot be sufficient enough, or should I make some changes
[code]

[2017-02-08 17:24] MartinPerez commented on #3971
PR up

[2017-02-08 19:01] Eric89GXL commented on #3441
Shall we reformulate as a hexagon? We could do it in time for the March sprint

[2017-02-08 19:05] choldgraf commented on #3441
fine w/ me, shouldn't be too expensive or time consuming. Maybe I can get BIDS to pay for some.

also this one is great

![image](https://cloud.githubusercontent.com/assets/1839645/22752720/708f0888-edee-11e6-82f2-3af51c4951be.png)

[2017-02-08 19:20] dengemann commented on #3441
icosahedron!

On Wed, Feb 8, 2017 at 8:05 PM Chris Holdgraf <notifications@github.com>
wrote:

[2017-02-08 20:12] jasmainak commented on #3441
if you order again through stickermule, let me know. I might have a discount code lying around somewhere. Not sure though ...

[2017-02-09 00:43] teonbrooks commented on #3441
hexagon! hexagon! @bmpvieira, you started something ;)

[2017-02-09 08:19] agramfort commented on #3974
it's likely to be a conflict of dynamic libraries between python and
freesurfer

I doubt there is an easy fix for this.

did you manually edit the LD_LIBRARY_PATH or DYLD_LIBRARY_PATH on mac?

[2017-02-09 14:16] Eric89GXL commented on #3974
We could implement the same fix that PySurfer uses, namely:

1. Require users to set `FREESURFER_HOME`
2. Don't require them to source the FreeSurfer setup script (thus avoiding potentially nasty lib conflicts)
3. When we go to make a FS call, we source the script in the `subprocess` script before making the call

[2017-02-09 15:03] romquentin commented on #3974
Ok. I did not edit LD_LIBRARY_PATH or DYLD_LIBRARY_PATH.
Not sure to follow Eric suggestions... In the meantime, I can run this command on bash.
Thanks!!

[2017-02-09 16:17] ppasler opened #3979 "Question: apply gyroscope data to detect / remove artifacts?"
I have gyroscope channels recorded with my eeg data (the device is able to record both).

Is there any built-in way to automatically detect (and remove) artifacts from head movement, based on the gyroscope data? Something similar to this example for eog / ecg: http://martinos.org/mne/dev/auto_tutorials/plot_artifacts_correction_ica.html

Thanks for any hints.

[2017-02-09 21:56] ramonapariciog commented on #1210
Sorry @dengemann & @Eric89GXL, i will open it, I have the time, just give me this saturday that comes to do it.
Greetings.

[2017-02-09 23:14] christianbrodbeck commented on #3900
@Eric89GXL I assume you're also fine with being a maintainer for mne?

Should we add a dependency on PySurfer? Or Mayavi? Since they're on conda it won't add hassle to the installation, but will make installation more bloated for people that don't use those features. But even if not PySurfer, Mayavi seems to be used by quite a few functions in mne?

[2017-02-10 05:33] Eric89GXL commented on #3900
Yeah feel free to add me. Regarding PySurfer, I would say yes, add as a dependency since we need it for 3D. @agramfort WDYT?

[2017-02-10 07:00] agramfort commented on #3900
Ok for me

[2017-02-10 07:29] agramfort commented on #3979
you're the first to ask so there is none :)

[2017-02-10 08:26] ppasler commented on #3979
Too bad :)

I can see strong correlations between the amplitudes in the gyrochannels (head movement) and artifacts in the EEG signal.

I wonder if there is some way, to compare the ICA source channels with the gyro channel and find similarities. So if an ICA source channels fits the gyro channel, it may be removed?

[2017-02-10 08:30] agramfort commented on #3979
sounds like a reasonable approach

[2017-02-10 15:12] dgwakeman commented on #3979
it may also be easy to just try setting a hard reject limit on the gyroscope channels. That would seem to be the simpler solution. It also might make more sense, since the gyroscope channels are essentially a measurement of noise (there is of course an issue of how noisy those channels are).

[2017-02-10 15:39] ppasler commented on #3979
@agramfort I also thought this could work :) But @dgwakeman is right.

As I analyzed the signals, the head movement artifacts were visible in many ICA channels without a chance to zero all of them. I faced this problem before when trying to remove EOG artifacts with the corrmap algorithm, local maxima from a blink showed up in several ica source channels. I did not find a way (I don't think there

[2017-02-10 23:25] dengemann opened #3981 "API/BUG: empty list in mne.set_eeg_reference"
`mne.set_eeg_reference` applies either the average reference or reference based on specified channels. But why the heck do we support passing an empty list, which does essentially nothing but setting `.info['custom_ref_applied']` to True. To me this is a confusing API, we should either set a reference or not. Calling `mne.set_eeg_reference([])` should not be allowed. Am I overlooking something?

[2017-02-11 23:49] drammock commented on #3441
Here you go, everyone: https://gist.github.com/drammock/2020b5111135bafb71ce6b5d8488495f

[2017-02-13 14:51] Eric89GXL commented on #3441
Hah, great!

[2017-02-13 15:15] Eric89GXL commented on #3981
Agreed empty list should be an error, PR welcome

[2017-02-13 17:51] choldgraf commented on #3441
I like it! I am a little concerned that the text underneath will be hard to read. Have you played around with making the font a bit stronger? Maybe it's fine when printed tho...

[2017-02-13 18:02] drammock commented on #3441
@choldgraf no I didn't...  I was imagining a larger size, but I just checked back and discovered the [sticker constructor spec](https://github.com/terinjokes/StickerConstructorSpec).  Will revise and update with those dimensions in mind.

[2017-02-13 18:03] choldgraf commented on #3441
cool - I think that is quite close though :) we should also make sure that
having the lettering so near the edges of the hexagon won't mean that it
gets cut off or overwritten by a line or something
--

On Mon, Feb 13, 2017 at 10:02 AM Daniel McCloy <notifications@github.com>
wrote:

[2017-02-13 18:30] choldgraf opened #3985 "Documentation improvements"
Here I'm going to list some of the topics that people have mentioned below, as well as some that I've noticed myself. This pulls in outstanding (aka, unchecked) points within #3082 as well.

[link to the dev docs here](http://martinos.org/mne/dev/auto_examples/index.html)
[link to docs mega-issue here](https://github.com/mne-tools/mne-python/issues/1495)
maybe we wanna merge this thread in with th

[2017-02-13 21:49] kingjr commented on #3985
I think we should merge the 'manual' and the 'tutorials'.

[2017-02-14 14:17] larsoner opened #3987 "ENH: plot_topo layout creation"
It seems like we keep hitting issues with topo scaling confusing people. I think we probably shouldn't change where (0., 0., 0.) is in any given channel layout, and instead ensure that our internal layouts are actually in head coordinates. I wonder if we could also just assume a head is e.g. 90 cm. That would make subselections of electrodes appear correct. A `normalize=True (default) | False` arg

[2017-02-14 14:23] jaeilepp commented on #3987
Yeah, that sounds like a good idea. I was already experimenting with this, but it seems that ``_check_outlines`` may require some tweaking to make it work well with topomaps.

[2017-02-14 14:29] Eric89GXL commented on #2663
@choldgraf I think we have this now from your PRs, so I'll close. Feel free to reopen if I'm mistaken

[2017-02-14 14:29] #2663 closed

[2017-02-14 14:30] Eric89GXL commented on #3075
I looked into it and this is a pain at the Sphinx level. So I'll close this as won't fix

[2017-02-14 14:30] #3075 closed

[2017-02-14 14:36] Eric89GXL commented on #989
I *think* this issue has been mostly fixed -- the tooltip seems okay/functional. But maybe @christianbrodbeck we should change the tooltip to mention why the button is grayed out when it's grayed out? Is that easy?

[2017-02-14 14:47] Eric89GXL commented on #3985
Good targets would be:

* @choldgraf and @kingjr ideas for [updating the workflow](https://github.com/mne-tools/mne-python/issues/3669), especially if someone wants to make a client-side rendered workflow image :)
* @teonbrooks [small issues](#3082) you hit
* @dengemann [SNR doc](#1857)
* @dengemann [connectivity doc](#2847)
* and there is of course the [doc mega-issue](#1495)

[2017-02-14 14:50] Eric89GXL commented on #3952
You could do this and the create `raw_new = mne.io.RawArray(data_new, raw.info)` and it should work okay.

@jaeilepp would `Annotations` allow skipping of time segments? Like maybe any not-to-be-used segments could be marked as such, and then `ICA` could be made Annotation-aware?

[2017-02-14 14:51] Eric89GXL commented on #3908
Closing as we have the Wiki page up

[2017-02-14 14:51] #3908 closed

[2017-02-14 14:52] Eric89GXL commented on #3906
This has been fixed thanks to @jhouck

[2017-02-14 14:52] #3906 closed

[2017-02-14 14:52] Eric89GXL commented on #3900
I think @christianbrodbeck is on this at the conda repos so I'll close this

[2017-02-14 14:52] #3900 closed

[2017-02-14 14:53] Eric89GXL commented on #3897
closing since this seems to have been resolved

[2017-02-14 14:53] #3897 closed

[2017-02-14 14:54] Eric89GXL commented on #3880
Closing since I haven't heard back, but @WilliamCollishaw if you can get the data somewhere we can reopen

[2017-02-14 14:54] #3880 closed

[2017-02-14 14:54] Eric89GXL commented on #3814
Closing this as a dup of #3987, @mcaffini feel free to subscribe to that issue for updates

[2017-02-14 14:54] #3814 closed

[2017-02-14 14:55] Eric89GXL commented on #3987
This would fix #3814

[2017-02-14 14:56] Eric89GXL commented on #3812
@dengemann do you have time to make a PR to fix this?

[2017-02-14 14:57] Eric89GXL commented on #3731
Deeper support for annotations would take care of #3952, too

[2017-02-14 14:59] Eric89GXL commented on #3674
@WilliamCollishaw can you write a simple description of how to reproduce the error, and how to fix it? e.g. "run mne make_watershed_bem from ~/, it will fail. Run it from $SUBJECTS_DIR/$SUBJECT and it will pass"?

[2017-02-14 15:01] Eric89GXL commented on #2310
See also #3664

[2017-02-14 15:02] Eric89GXL commented on #3664
@kingjr also doing `raw.del_proj()` is a one-liner that should get you where you want to be.

We'll keep this `proj=False` idea in mind when dealing with #2310. In the meantime I'll close this.

[2017-02-14 15:02] #3664 closed

[2017-02-14 15:03] Eric89GXL commented on #3608
I'm going to close this for now. @teonbrooks if you can replicate with latest `master` versions of all these libraries we can take another look

[2017-02-14 15:03] #3608 closed

[2017-02-14 15:03] Eric89GXL commented on #3548
Can we just refer people to `nipy` or make a tutorial on how to use the one from `nipy`?

[2017-02-14 15:04] cbrnr commented on #3952
Thanks @mmagnuski and @Eric89GXL, I will try that.

Annotation-aware ICA would be super awesome (as long as everything remains transparent, i.e. annotated segments should not be removed by default when calling ICA).

[2017-02-14 15:04] Eric89GXL commented on #3533
Closing as WONTFIX (probably) :)

[2017-02-14 15:04] #3533 closed

[2017-02-14 15:08] Eric89GXL commented on #3952
My thinking was that any annotation with the text "bad" in it should be removed/ignored by default in Annotation-aware functions, including (eventually) ICA. No?

[2017-02-14 15:08] Eric89GXL commented on #3952
... in the meantime I'll close this in faver of #3731, since there is a suitable workaround (`RawArray`) and #3731 covers the cleaner solution

[2017-02-14 15:08] #3952 closed

[2017-02-14 15:09] Eric89GXL commented on #3512
@cbrnr is this still a problem with latest `matplotlib`? Have you tried different backends, e.g. MaxOSX vs pyqt4 / pyqt5?

[2017-02-14 15:11] Eric89GXL commented on #3465
I added these doc things to #1495, closing

[2017-02-14 15:11] #3465 closed

[2017-02-14 15:12] Eric89GXL commented on #3362
Closing for #1495

[2017-02-14 15:12] #3362 closed

[2017-02-14 15:15] Eric89GXL commented on #3358
Closing for #1495

[2017-02-14 15:15] #3358 closed

[2017-02-14 15:15] Eric89GXL commented on #3985
And:

* @christianbrodbeck [tutorial on coreg](#3358)

[2017-02-14 15:17] Eric89GXL commented on #3248
I think this has been fixed, but feel free to reopen if I'm mistaken

[2017-02-14 15:17] #3248 closed

[2017-02-14 15:21] Eric89GXL commented on #3121
@kingjr if you're interested in coming back to this... yes the *can* be gradiometers, but you can also put any other sensors you want there, e.g. point magnetometers.

[2017-02-14 15:46] kingjr commented on #3548
+1

[2017-02-14 15:50] Eric89GXL commented on #3127
@jona-sassenhagen any time to tackle this one?

[2017-02-14 18:20] choldgraf commented on #3985
@Eric89GXL it seems like most of those links just redirect back to this issue?

Those are great suggestions though. If we can get an idea for prioritizing these in some way (e.g. I think a tutorial on coregistration would be useful, especially if there could eventually be support for doing ecog coregistration using a CT scan or something)

[2017-02-14 18:33] choldgraf opened #3990 "Anyone used `custom_inherit` before?"
Somebody just pinged us about this on the docathon repo. It seems pretty handy for having one place for docstrings rather than having to re-type them everywhere:

https://github.com/meowklaski/custom_inherit

anyone used it or heard of it before?

[2017-02-14 21:12] Eric89GXL commented on #3679
@kingjr I just tried to download your file but it has expired. Can you re-upload?

[2017-02-14 23:00] drammock commented on #3441
@choldgraf [the gist](https://gist.github.com/drammock/2020b5111135bafb71ce6b5d8488495f) has been updated to

1. conform to constructor spec
2. pull wordmark in from edge of hexagon a bit
3. boldify tagline

Send some to Seattle when they're ready!

[2017-02-14 23:02] mmagnuski opened #3992 "concatenate_epochs should check event_id values correspondence"
I've recently had a weird bug - concatenating two epochs led to assertion error in epoch constructor. After some debugging I found out that the cause of the problem was that the epochs did not have the same event_id values (the same key corresponded to different values in these files). [This line in `concatenate_epochs`](https://github.com/mne-tools/mne-python/blob/master/mne/epochs.py#L2708) assu

[2017-02-14 23:42] choldgraf commented on #3441
has anyone here printed hexagonal stickers before? I looked at the main company that website suggests and it isn't clear since I don't read japanese (also...the website header is very japanese and it's kind of great)

![image](https://cloud.githubusercontent.com/assets/1839645/22954574/1ecb0bea-f2cc-11e6-839a-74dbb0731e4d.png)

[2017-02-15 02:06] Eric89GXL commented on #3190
@kingjr I cannot reproduce with your snippet on Linux in Python or IPython. Can you try again and see if it works? Maybe it was some transient bug.

[2017-02-15 02:09] Eric89GXL commented on #3190
... in any case we should decide if we want to use the `max_nbytes='1M'` that `joblib` also uses. I suspect it should lead to some savings in most cases.

[2017-02-15 07:27] agramfort commented on #3992
+1

can you open a PR?

[2017-02-15 07:59] jaeilepp commented on #3952
Yes, I can take a look.

[2017-02-15 08:17] cbrnr commented on #3952
I'm not familiar with MNE's annotations, but I guess even if there are annotations with the word "bad" there will be an argument to turn automatic removal off, right? For epochs there's `reject_by_annotation=False`, and something similar should be available for continuous data. What I meant was that there should be an option to ignore bad annotations in case the user wants to use all data samples.

[2017-02-15 08:29] cbrnr commented on #3512
You're right, this seems to be specific to the `macosx` backend. Everything works fine with `Qt5Agg`.

[2017-02-15 09:45] mmagnuski commented on #3992
sure, will open today

[2017-02-15 14:10] Eric89GXL commented on #3512
Okay, closing as upstream bug. @cbrnr if you have time, can you add an entry to `doc/faq.rst` about OSX `matplotlib` backends?

[2017-02-15 15:06] cbrnr commented on #3512
OK sure! Although I'd appreciate it if someone else reproduced this behavior first - not that it is just me and my specific setup...

[2017-02-15 15:29] Eric89GXL commented on #3441
Nope, no idea about where to do it

[2017-02-15 18:02] christianbrodbeck commented on #989
I added a corresponding comment in my other PR: https://github.com/mne-tools/mne-python/pull/3948/commits/580029296ba85635ecf0d5b02ce20b034b01a45c

[2017-02-15 18:02] #989 closed

[2017-02-15 22:32] dengemann commented on #3812
No I don't have time now. It will be one of the things I will tackle when
taking a few days to support spectral analysis in source space and some
other things that are on my list.

On Tue, Feb 14, 2017 at 3:56 PM Eric Larson <notifications@github.com>
wrote:

[2017-02-16 00:18] jhouck opened #3996 "Question: maxwell_filter CPU usage?"
I'm wondering how to predict/manage maxwell_filter's CPU hit.  Like maxfilter, it seems to follow the  OMP_NUM_THREADS environment variable.  Is there some more direct way to manage CPU for this or should I stick with os.setenv?

My CPU-starved coworkers thank you in advance for any advice.  ;)

[2017-02-16 00:46] Eric89GXL commented on #3996
Can you change the var with e.g. `os.setenv` multiple times in a single session and have it take effect every time? If so we could cook up a `mkl_threads` decorator and add an `mkl_threads` argument to potentially heavy functions like `maxwell_filter`.

[2017-02-16 01:46] jhouck commented on #3996
No, looks like once `maxwell_filter` runs the value sticks, even though os.getenv returns a new value each time it's changed.  That is, after an initial `os.environ['OMP_NUM_THREADS'] = '7'` , `maxwell_filter` will run with 7 cpus (even if OMP_NUM_THREADS was initially set to some other value in the shell), but subsequent changes have no effect on cpu use.

In my case this will all be farmed out t

[2017-02-16 07:06] agramfort commented on #3996
yes OpenMP is used in linalg via the MKL library. We don't do anything
special

On Thu, Feb 16, 2017 at 1:46 AM, Jon Houck <notifications@github.com> wrote:

[2017-02-16 14:37] cbrnr opened #3997 "Meaning of l_freq/h_freq in filter functions"
I was wondering which values are expected by `l_freq` or `h_freq` in `filter.filter_data` (or `create_filter`). The docstring says cutoff frequencies, but the cartoons in the notes section below indicate that it could also be edge frequencies. Even if they are cutoff frequencies, it is still unclear which definition is used - -3dB or -6dB? Usually, -3dB cutoff frequencies are reported for IIR filt

[2017-02-16 14:45] Eric89GXL commented on #3997
Our IIR filters are forward-backward, so I think the frequencies are -6dB points.

Regarding FIR -- the `l_freq` and `h_freq` are the places we pass `1`'s in the FIR filter design functions, and `l_freq - l_trans_bandwidth` and `h_freq + h_trans_bandwidth` are where we put the `0`'s. I'm not sure offhand whether or not this produces e.g. 0dB, -3 dB, or something else at those points because the `f

[2017-02-16 14:51] Eric89GXL commented on #3996
@jhouck do you have time to make a PR to the FAQ with something like "A function uses multiple CPU cores even though I didn't tell it to, why?" with a few sentences: MKL using OpenMP, the OMP_NUM_THREADS option, and a line about how to set it (with env var before running python like `OMP_NUM_THREADS=1 python ...` or with `import os; os.setenv(...)` before running any functions)?

[2017-02-16 15:01] cbrnr commented on #3997
Thanks. How would you report the filter specs then? It seems like knowing what these frequencies correspond to is an important point. I'm not that familiar with filter design (but will dig in some more), but I assume that there must be some common parameters that can be reported for any filter type (independent of the design method and FIR/IIR)?

[2017-02-16 16:17] hoechenberger opened #3998 "EEG (re-)referencing is confusing"
Hello, we were struggling with the issue of (re-)referencing EEG data in MNE, and I would like to share with you what caused our trouble, and suggest and discuss potential solutions. Everything presented here is based on the `master` branch.

Loosely following [the re-referencing example](http://martinos.org/mne/dev/auto_examples/preprocessing/plot_rereference_eeg.html), we did:

[code]
During dat

[2017-02-16 16:29] Eric89GXL commented on #3997
Depends on how specific you need/want to be. Usually I have been lazy and just given e.g. `h_freq` as the "lowpass frequency", because my analyses haven't critically depended on these parameters. But if you are doing something like tight band-passing, then it will probably matter and we'll have to dig in deeper.

[2017-02-16 18:54] Eric89GXL commented on #3956
Hmm... we might want to change this. We could relax the requirement to be anything that can be read with a `mne.io.read_raw_*` function. Some readers, like CTF, should populate `info['dig']` properly.

But in the meantime, @kingjr you can probably work around this by doing something like:
[code]
And then pass that FIF filename to the coreg GUI. Can you try it?

[2017-02-16 18:56] Eric89GXL commented on #3974
Well assuming that you did run the FreeSurfer setup script in the terminal, it modifies these. So it could break something at the Python end. Thus why we should remove the requirement that people have done this prior to running `python`.

[2017-02-16 18:57] Eric89GXL commented on #3990
No. I think that SciPy uses `doccer` in `stats` to deduplicate. But I so far I haven't seen a case where we've really needed to deduplicate, beyond 1) the `*_doc_to_*_doc` functions that @wmvanvliet implemented, and 2) the `verbose` decorators that we have. There is some overhead both in implementation and in dev understanding to each new implementation / trick, so we would want to make sure it's

[2017-02-16 19:20] Eric89GXL commented on #3525
@agramfort do you have an API in mind? I'm thinking:
[code]
Where `subject` is a FreeSurfer subject name.

Unfortunately the dipole fits are not necessarily constrained to a cortical surface, so I think we need to use volumetric / MRI coregistration instead of surface-based coregistration to get there. Agreed?

[2017-02-16 19:22] Eric89GXL commented on #3621
@mmagnuski did you change this behavior in #3823? If so can you update `whats_new.rst` to say so, and we can close this?

[2017-02-16 19:23] Eric89GXL commented on #3525
... oh wait, I think each FreeSurfer subject already has an MNI transform. So this should be very simple actually, assuming I have the API right.

[2017-02-16 19:24] Eric89GXL commented on #3979
Okay closing this for now, since it seems like there is a suitable way to do it already

[2017-02-16 19:24] #3979 closed

[2017-02-16 19:29] Eric89GXL commented on #2803
Thinking about how `sphinx-gallery` works, I have a feeling that this will be more work than it's worth. But if we want to do it, we should implement it there. I'll close this for now, and if there is interest in doing it, I'd say open a `sphinx-gallery` issue and get feedback there.

[2017-02-16 19:29] #2803 closed

[2017-02-16 19:31] Eric89GXL commented on #2772
In theory this should be doable, all you need is a good `info['dig']`. So we could make it so that the trait is actually `Instance(Info)` or better eventually `Instance(Digitization)`, and you'd pass `inst.info['dig']` to it. I'll mark it as part of the digitization stuff and hopefully tackle it soon.

[2017-02-16 19:32] Eric89GXL commented on #2591
@dengemann is this as easy as dumping it to `mne.externals.h5io.write_hdf5`? If the dict only contains simple stuff, I think it could be.

@jona-sassenhagen would you have time to implement it?

[2017-02-16 19:34] Eric89GXL commented on #2563
I'm going to close this since the method seems to work properly as implemented.

[2017-02-16 19:34] #2563 closed

[2017-02-16 19:35] Eric89GXL commented on #2497
I'm going to go ahead and close this as an isolated upstream bug (probably `multiprocessing`), but if it comes back up or is still happening, let's reopen

[2017-02-16 19:35] #2497 closed

[2017-02-16 19:36] Eric89GXL commented on #2555
I'm closing this one, as I think we have made progress on some fronts and opened more specific issues on others. @choldgraf if there are things in here that aren't covered elsewhere, please reopen and retitle

[2017-02-16 19:36] #2555 closed

[2017-02-16 19:37] Eric89GXL commented on #2582
I think this has been fixed (hopefully) through the trail of #2648

[2017-02-16 19:37] #2582 closed

[2017-02-16 19:37] Eric89GXL commented on #2403
Looks like this can now return `VolSourceEstimate`, but feel free to reopen if I'm mistaken

[2017-02-16 19:37] #2403 closed

[2017-02-16 19:38] mmagnuski commented on #3621
No, I have a local branch for this. I will try to push it tomorrow.

[2017-02-16 19:38] Eric89GXL commented on #2260
@teonbrooks do we still need this?

[2017-02-16 19:39] Eric89GXL commented on #2264
I think we have tutorials covering this now, but feel free to reopen if I'm wrong

[2017-02-16 19:39] #2264 closed

[2017-02-16 19:40] Eric89GXL commented on #2243
@ImmanuelSamuel you should be able to use `mne coreg` to create a surrogate from an existing subject by scaling the MRI as necessary. I'll close this, but if it doesn't make sense, please reopen

[2017-02-16 19:40] #2243 closed

[2017-02-16 19:41] Eric89GXL commented on #2224
Since this doesn't seem to be in high demand I'll close this. But @haribharadwaj if you would still like to see it feel free to reopen and hopefully someone can get to it

[2017-02-16 19:41] #2224 closed

[2017-02-16 19:42] Eric89GXL commented on #2219
FWIW I think statsmodels now has an ANOVA PR underway. Closing

[2017-02-16 19:42] #2219 closed

[2017-02-16 19:43] Eric89GXL commented on #2187
I assume @jona-sassenhagen has fixed this now, but @ImmanuelSamuel feel free to reopen if not

[2017-02-16 19:43] #2187 closed

[2017-02-16 19:45] Eric89GXL commented on #1883
See #3979 for suitable solution

[2017-02-16 19:45] #1883 closed

[2017-02-16 19:47] Eric89GXL commented on #1867
I'm closing this since hopefully the emphasis is on `raw.filter` now

[2017-02-16 19:47] #1867 closed

[2017-02-16 19:47] choldgraf commented on #2555
yes I think so - plenty of issues to be opened, but I think those are all on the Mayavi repo ;-)

[2017-02-16 19:47] Eric89GXL commented on #1770
I think @jaeilepp fixed this at some point, but feel free to reopen if I'm mistaken

[2017-02-16 19:47] #1770 closed

[2017-02-16 19:48] Eric89GXL commented on #1625
@maedoc feel free to implement if you have time. In the meantime I'll close this issue since it's a bit stale

[2017-02-16 19:48] #1625 closed

[2017-02-16 19:49] Eric89GXL commented on #1453
@agramfort do we still need this?

[2017-02-16 19:51] Eric89GXL commented on #1275
@agramfort do we still need this or is `grade=None` working well enough?

[2017-02-16 19:52] Eric89GXL commented on #1428
We now have `epochs.drop_bad` which I think should fix this issue so I'll close, but feel free to reopen if not

[2017-02-16 19:52] #1428 closed

[2017-02-16 19:54] Eric89GXL commented on #1240
@dengemann do we still need CSD?

[2017-02-16 19:59] choldgraf commented on #3990
The main things I could see this being used for in MNE would be cases where, e.g., we have 2 functions doing the same thing, one for MNE objects and one for arrays. I agree it's not clear whether there's enough use for it though, just something to keep in mind. (if you want me to close this issue I can, just wanted to have some discussion on it)

[2017-02-16 20:06] #3997 closed

[2017-02-16 20:06] maedoc commented on #1625
thx, had forgotten about this issue. I'm currently writing a lib for Bayesian inference for these sorts of models w/ neuroimaging data. When it's ready I'll be back.

[2017-02-16 20:10] Eric89GXL commented on #1625
Excellent, looking forward to the PR!

[2017-02-16 20:11] Eric89GXL commented on #3990
Yeah let's keep it in mind as we go, and reopen if someone has an idea where we should change something. In the meantime if anyone else has ideas feel free to add

[2017-02-16 20:11] #3990 closed

[2017-02-16 20:14] Eric89GXL commented on #3621
Great thanks for fixing these issues

[2017-02-16 20:26] dengemann commented on #1240
Not for me. And we have it locally. The problem was about recomputing the
CSD tables if you don't have the right coordinates. Fine with me to close
this for now.

On Thu, Feb 16, 2017 at 8:54 PM Eric Larson <notifications@github.com>
wrote:

[2017-02-16 20:28] Eric89GXL commented on #3998
:)

It is indeed inconsistent. From a source imaging (and historical) perspective, projections are preferred, so we use them whenever possible. So for our purposes let's assume we need to stick with it, and figure out how to best make the situation better for EEG folks.

Can you think of a good way to modify the docstring for `set_eeg_reference` that makes this approach clearer? It would be especi

[2017-02-16 20:30] Eric89GXL commented on #3585
Copied into #2280

[2017-02-16 20:30] #3585 closed

[2017-02-16 20:30] Eric89GXL commented on #2852
Copied into #2280

[2017-02-16 20:31] Eric89GXL commented on #2852
Oh, you mean we should put our dataset into their list somehow, not that we should expose those datasets?

[2017-02-16 20:32] Eric89GXL commented on #975
Closing as WONTFIX :(

[2017-02-16 20:32] #975 closed

[2017-02-16 20:33] #1240 closed

[2017-02-16 20:46] mmagnuski commented on #975
:(
I have been trying out pyqtgraph for raw signal plotting lately and it works really well (scrolling is fast and smooth) - and pyqtgraph is a pure python package. I was thinking of mirroring the current raw.plot() and epochs.plot() API and gui, but I'll open a separate issue for this once I have something useful.

[2017-02-16 20:47] Eric89GXL commented on #975
AFAIK `pyqtgraph` is no longer under active development

[2017-02-16 21:26] jhouck commented on #3996
Sure, I could do that.  Probably not until the weekend though.

[2017-02-16 23:50] mmagnuski commented on #975
activity graph doesn't suggest that: https://github.com/pyqtgraph/pyqtgraph/graphs/contributors
it seems to have a slow but steady pace :)

[2017-02-17 00:56] teonbrooks commented on #2260
I think we can close it for now. if anyone needs in the feature, we can reopen it. still think it could be useful

[2017-02-17 00:56] #2260 closed

[2017-02-17 07:05] dengemann commented on #1453
Yes. It would be a nice complementary to the CFC functions. But no high
priority.

On Thursday, February 16, 2017, Eric Larson <notifications@github.com>
wrote:

[2017-02-17 09:19] ppasler commented on #3979
@Eric89GXL alright. Still I think it would be considerable to add a build-in solution for this to mne. Thanks anyway :)

[2017-02-17 09:58] agramfort commented on #1453
yes it would be "nice to have"

[2017-02-17 10:03] agramfort commented on #2852
no we should make it easy to pipe in their datasets into mne with fetchers

[2017-02-17 10:05] agramfort commented on #1275
let's close this for now

[2017-02-17 10:05] #1275 closed

[2017-02-17 10:12] agramfort commented on #3525
yes it MNE would be great to we could overlay this with the FSL MNI brain
template

dip.to_mni works for me

[2017-02-17 13:42] #3992 closed

[2017-02-17 14:14] Eric89GXL commented on #2852
Okay I've added those to #2280

[2017-02-17 14:14] #2852 closed

[2017-02-17 14:26] Eric89GXL commented on #975
Ahh, in that case yeah give it a try

[2017-02-17 17:38] hoechenberger commented on #3998
Hi Eric, thanks for your response!

Ah, I already suspected that! What weird guys you are! ;) (Just kidding, of course. Very interesting how approaches can differ!)

I do have some ideas on my mind, but I think a (backward-compatible) API change could be a better approach. I will explain below.

This would be a more clear message indeed, yes. Still I wonder if it would actually have helped many EE

[2017-02-17 18:19] hoechenberger commented on #3998
Wow, thanks for the reference! I just ordered this book.

[2017-02-17 19:28] ftadel opened #4001 "Examples for using MNE-Python directly in Matlab"
Hello

I spent the last few days exploring the support for Python in Matlab 2016b. I was very surprised, it's working beautifully! Matlab can be used with little reformatting as an interactive Python console, and MNE-Python objects and functions can be used directly from Matlab scripts.
This could be very interesting for a lot of people in the community (and for me too: I'm hoping to be able to ma

[2017-02-17 20:39] Eric89GXL commented on #3934
@christianbrodbeck I think we shoudl factor `trans` out of `PointObject`. It's mixing the model (data) with the view in a counterproductive way. For example, to determine whether points are inside/outside the scalp, the model should really be applying the `trans` and storing the result somewhere, instead of `PointObject` doing it. Also, thinking about if there ever were some more complex transform

[2017-02-17 22:34] christianbrodbeck commented on #3934
Yes completely agree

[2017-02-18 07:00] agramfort commented on #4001
@ftadel can you make your example script available via https://gist.github.com/ so we can easily see the content? thx

[2017-02-18 08:36] dengemann commented on #4001
Amazing news! I am very excited. Please keep us posted.

On Saturday, February 18, 2017, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-02-18 09:31] ftadel commented on #4001
@agramfort https://gist.github.com/ftadel/ec388c078e9b78bfe97eb705be1f7b7f

[2017-02-18 09:46] hoechenberger opened #4002 "ENH: Allow retrieval of GFP"
#2538 added the ability to plot GFPs. Currently, the GFP is [only temporarily calculated for plotting](https://github.com/Eric89GXL/mne-python/blob/7f8c69bae49041bb4f0507539ccda1bda7f0b394/mne/viz/evoked.py#L397), and the user has no easy way to access the data.

 In our EEG workflow, we typically calculate GFPs for every single participant and condition, and average conditions across participants

[2017-02-18 09:56] dengemann commented on #4001
Looks surprisingly clean. It seems you can indeed easily create matlab
wrappers around some functions we so far only have in Python. Really good
news! Thanks for sharing Francois.

On Sat, Feb 18, 2017 at 10:31 AM Francois <notifications@github.com> wrote:

[2017-02-18 10:32] agramfort commented on #4002
I would make it a function

gfp = mne.global_field_power(evoked, ch_type='eeg' l 'grad' | 'mag' |
'seeg' | 'ecog')

where gfp is an array and then you can just do

plt.plot(evoked.times, gfp)

wdyt?

[2017-02-18 10:34] dengemann commented on #4002
Alex you're getting tired :) Let me ask why ```gfp = evoked.std(0)```
or ```gfp = evoked.copy().pick_types(eeg=True).std(0)``` would not do it.

On Sat, Feb 18, 2017 at 11:32 AM Alexandre Gramfort <
notifications@github.com> wrote:

[2017-02-18 12:05] hoechenberger commented on #4002
@dengemann, what the heck, it is *that* simple?? That's awesome! Still, I would propose to create a small wrapper function to make this more accessible. Or if you're opposed to that, I could extend the documentation?

[2017-02-18 12:34] hoechenberger commented on #4002
Oh. That was a proposal, not an existing method. Never mind! Guess I got too little sleep last night. @dengemann, sounds good to me! What is the parameter supposed to mean? ddof?

[2017-02-18 13:37] jasmainak commented on #4001
This is great! I've heard many users complain about interoperability between packages. The gist is a great starting point

[2017-02-18 13:50] dengemann commented on #4002
Hey Richard, not sure what you have tried but these two expression that I
shared should be valid MNE-Python code. Yes adding more documentation on
these things is a very good idea. My concern with interfaces for things
that you can get in one line is that they add maintanance overhead for very
low return. And ideally we should teach newcomers where the MNE API ends
and where the standard scientifi

[2017-02-18 14:07] kingjr commented on #4002
+1 for adding GFP documentation in tutorials.evoked.

On 18 February 2017 at 08:50, Denis A. Engemann <notifications@github.com>
wrote:

[2017-02-18 14:10] kingjr commented on #4001
Waow.

(It's going to be even harder to convince people to quit Matlab, but still
very cool)

On 18 February 2017 at 08:37, Mainak Jas <notifications@github.com> wrote:

[2017-02-18 17:51] agramfort commented on #4002
then I would say just do:

gfp = evoked.copy().pick_types(eeg=True).data.std(0)

and not a single line of new code is needed... :)

[2017-02-19 19:04] Eric89GXL commented on #4002
@hoechenberger can you find the time to make a PR to improve `tutorials/plot_object_evoked.py`, and/or add it elsewhere in the documentation? I guess we could add a one-liner note to `plot_evoked` and `evoked.plot` since that's where people will also look at/for GFP.

[2017-02-19 20:22] agramfort commented on #3998
can someone take care of the bug fix reported here? thx

[2017-02-20 08:55] wmvanvliet commented on #3998
I'll take a look

[2017-02-20 11:00] wmvanvliet commented on #3998
I verified that the following works as expected:

[code]

There is no bug here. When you look at the info structure, you indeed see this:

[code]

An "average" projector that has been applied and a custom reference that has been applied. Projectors are never removed from the info structure. When they have been applied to the data, they are flagged as such and thereafter become inert. I agree that

[2017-02-20 11:07] wmvanvliet commented on #3998
the behavior of projectors is actually more complicated then I led on. When `Epochs` are created with `preload=False`, an active projector is indeed actively being applied when data is being accessed. There may actually be a bug here. When doing `epochs.set_eeg_reference()`, and the data is preloaded, the average ref projector should be applied straight away, because the `Epochs` object will not d

[2017-02-20 11:10] agramfort commented on #3998
well when changing the EEG ref manually you undo the EEG Average Ref so
technically the proj is not On anymore. I think the EEG average ref shoud
be marked as off as soon as you undo it.

[2017-02-20 11:15] wmvanvliet commented on #3998
that would cause the average reference to be re-applied if you ever called `.apply_proj()` again

[2017-02-20 11:16] wmvanvliet commented on #3998
to make it actually be gone, it should be completely removed from the projections list.

[2017-02-20 11:19] agramfort commented on #3998
yes but is it a problem?

[2017-02-20 11:25] wmvanvliet commented on #3998
yes, because some functions (such as plotting evokeds) will call `inst.apply_proj`, expecting it to be a null operation of projections have already been applied.

[2017-02-20 11:26] wmvanvliet commented on #3998
or at least expecting that the user would like all the projections to be applied. The code currently cannot deal with projections that the user *doesn't* want to be applied.

[2017-02-20 12:37] Eric89GXL commented on #3998
It should be okay if we also remove it from the list

[2017-02-20 13:45] agramfort commented on #3998
sounds like a plan

[2017-02-20 16:58] Eric89GXL commented on #4001
That's awesome!

Hmmm... if we put it there, it won't render properly in our automated CI doc builders because they don't have MATLAB. So that poses some challenge.

If the MATLAB calling requirements change, then we'd need to change it. At the same time, if we change something in MNE that improves the example, we'd also need to improve the MATLAB-ized version of that example. So this is also some

[2017-02-20 17:26] wmvanvliet commented on #3981
The empty list use case was added as a way to specify that the data already has the proper reference and to leave it alone. Without it, MNE will automatically add an average reference at every turn.

[2017-02-20 17:28] wmvanvliet commented on #3981
Any PR that removes this behaviour should **subsequently go through all the instances where an average reference is automatically added and change this too.**

[2017-02-20 17:58] agramfort commented on #4001
I am also concerned about the continuous integration of such a code.

@ftadel if you have this on the brainstorm website would it be ok to
add a section on the MNE doc and point to the brainstorm page to see
the code?

[2017-02-20 21:15] Eric89GXL commented on #3953
I think this one was solved by PR

[2017-02-20 21:15] #3953 closed

[2017-02-20 21:17] Eric89GXL commented on #3666
Closing this as a non-code-issue, but feel free to continue discussion as necessary

[2017-02-20 21:17] #3666 closed

[2017-02-20 21:22] #2170 closed

[2017-02-20 21:27] Eric89GXL commented on #3926
Actually I don't think this would be too terribly difficult. That's 1) change ylabels, 2) change all offsets to be `0`, and 3) change scale, I think.

So the API changes would be:

1. Add `raw.plot(..., mode='butterfly')`
2. Add `raw.plot(..., cov=None)`
3. Add `raw.plot_white(cov)` which just wraps to `raw.plot(..., cov=None, mode='butterfly')`

I think I'd rather omit step (3) and just reference

[2017-02-20 21:46] dengemann commented on #3926
I'd be happy not to deprecate evoked.plot_white and not overcharge
evoked.plot which is already quite a beast.

On Mon, Feb 20, 2017 at 10:27 PM Eric Larson <notifications@github.com>
wrote:

[2017-02-21 08:27] agramfort commented on #3926
no objection

[2017-02-21 14:36] #3424 closed

[2017-02-21 14:36] #3550 closed

[2017-02-21 16:46] Eric89GXL commented on #3981
@dengemann are you convinced? Okay to close?

[2017-02-21 16:58] Eric89GXL commented on #3731
Just a note that @bmaess (I think) pointed out that for start-stop FIF recordings i.e. with discontinuities (that are now treated as BAD segments by annotations (#4006), we could filter each contiguous segment separately in `raw.filter`.

I'll change the text of the issue to mention use cases that could use better Annotation support.

[2017-02-21 17:02] Eric89GXL commented on #3731
BTW looking at how this could improve our code, I think it should be a major goal for 0.15, or we could even push it to GSoC if we have anyone interested

[2017-02-21 17:47] dengemann commented on #3981
I am not yet fully convinced :) This is highly confusing to newcomers as I
have recently learned while looking at failing data analyses. We should
better document it at least and add some better verbosity. Or it should not
be an empty list but some string like "added" or "referenced", etc. I'm on
the other hand against thoughtless deprecation. Marijn what would you think
of printing an info messag

[2017-02-21 19:16] wmvanvliet commented on #3981
I'm curious: what are the users trying to accomplish with passing an empty list to the function, if they do not know that it disables any further automatic referencing?

[2017-02-21 19:18] dengemann commented on #3981
They think [] or None are False and want to achieve average referencing.

On Tuesday, February 21, 2017, Marijn van Vliet <notifications@github.com>
wrote:

[2017-02-21 20:05] agramfort commented on #3981
@dengemann what you have in mind for a lest confusing API?

[2017-02-21 20:20] dengemann commented on #3981
As I said, I have become very conservative on deprecations. Printing the
unlikely, the unexpected, would be one choice. But if I'd rewewrite it
again i'd use explicit string codes, 'average_ref', 'makred_as_ref' or so.

On Tue, Feb 21, 2017 at 9:05 PM Alexandre Gramfort <notifications@github.com>
wrote:

[2017-02-21 20:23] Eric89GXL commented on #3981
So your vote is just to make documentation changes, then? If so please close

[2017-02-21 20:24] dengemann commented on #3981
No, more then documentation. Strong verbosity is needed here if we want to
keep the API.

On Tue, Feb 21, 2017 at 9:23 PM Eric Larson <notifications@github.com>
wrote:

[2017-02-21 20:29] Eric89GXL commented on #3981
Can you be more explicit? What is needed on top of / instead of #4004?

[2017-02-21 20:42] dengemann commented on #3981
Sure, let me comment and review there and close here once I'm happy.

On Tue, Feb 21, 2017 at 9:29 PM Eric Larson <notifications@github.com>
wrote:

[2017-02-21 20:48] Eric89GXL commented on #3981
Sounds good. If the changes seem outside the scope of #4004, we can also just add them as a to-do list to the top of this issue

[2017-02-21 20:49] dengemann commented on #3981
Roger.

On Tue, Feb 21, 2017 at 9:48 PM Eric Larson <notifications@github.com>
wrote:

[2017-02-22 06:41] jaeilepp opened #4008 "Maxwell filter does not update dev_head_t."
When passing an array as the ``destination`` to ``maxwell_filter``, the ``dev_head_t`` is not updated. This prevents concatenating epochs from different runs. [Example](https://github.com/mne-tools/mne-biomag-group-demo/blob/master/scripts/processing/02-maxwell_filtering.py).

[2017-02-22 09:09] jaeilepp commented on #3987
I'm thinking that maybe the head coordinates should only apply when the layout is custom made. After all, the locations are only used in layout plots and they're not actual sensor locations. I noticed that vectorview locations for instance are not centered to 0. So some kind of adjustment would be needed anyway.
![legend](https://cloud.githubusercontent.com/assets/3456414/23204429/d92f2460-f8e6-11

[2017-02-22 10:07] agramfort commented on #3987
no opinion

[2017-02-22 12:42] Eric89GXL commented on #3987
You mean the horizontal offset? I think this could actually be correct. If
you set dev_head_t to identity does it go away? If so it indicates that the
head was shifted to the side relative to the sensors, making this a feature
not a bug.

On Feb 22, 2017 5:07 AM, "Alexandre Gramfort" <notifications@github.com>
wrote:

[2017-02-22 12:52] jaeilepp commented on #3987
Why would it go away? These are just the sensor locations from the layout file.

[2017-02-22 13:02] Eric89GXL commented on #3987
Then we should probably apply dev_head_t to get sensor locations in head
coordinates. Then the spatial relationship between the head and the
sensors, at least is terms of the center, will be correct.

[2017-02-22 13:03] dengemann commented on #3981
We can close this with #4004.

[2017-02-22 13:06] jaeilepp commented on #3987
But these are static locations from the layout file. Why would it help to transform them?

[2017-02-22 14:18] Eric89GXL commented on #3987
If we are plotting sensors on top of a head, it would be best to plot the sensors with the same (or at
least similar) geometrical relationship they actually had with the head during the recording. For MEG sensors this means using `dev_head_t` to get them to head coordinates.

[2017-02-22 14:22] Eric89GXL commented on #3987
... so maybe not for `plot_topo` (and even then I'm not sure), but for `plot_topomap` it seems like we should always do things in head coordinates. Concretely the proposal would be:

1. Convert MEG sensors to head coords
2. Assume `(0, 0, 0)` is meaningful: don't re-center
3. Assume the head is about 90cm in diameter: don't rescale sensor positions
4. Any built-in EEG layouts that don't give "sens

[2017-02-22 15:00] Eric89GXL commented on #4008
You have `st_only=True`, the `destination` has no effect / the data are not transformed. So no bug here

[2017-02-22 15:00] #4008 closed

[2017-02-22 15:01] #3981 closed

[2017-02-22 17:15] Eric89GXL commented on #3665
From #4007 it's clear that these operations are done on a per-time-point (within each epoch, too) basis. This isn't really what's expected.

[2017-02-22 17:16] Eric89GXL commented on #3665
The API should probably be `scalings='empirical' | 'standard'` or something, since elsewhere `scalings=None` means "use the default dict".

[2017-02-22 21:38] Eric89GXL commented on #1210
ping @ramonapariciog. Will you have time for this anytime soon?

[2017-02-23 01:33] Eric89GXL opened #4012 "ENH: Better evoked.comment from epochs[cond].average()"
From the mailing list, people get `epochs[cond].average().comment == 'Unknown'`.

Deep in our code it uses `epochs.name`, which I didn't even know existed, but defaults to `Unknown`. We could set this name to something at least when doing `epochs[cond]`, which would then propagate to `epochs[cond].average()`.

[2017-02-23 08:33] agramfort commented on #4012
+1

[2017-02-23 09:06] jaeilepp commented on #4012
Also, the ``name`` attribute is not saved or read.

[2017-02-23 20:09] Eric89GXL commented on #4012
From `git grep` it looks like `epochs.name` is almost unused. And if it's not read/written it's not very useful. I'm +1 for getting rid of it.

[2017-02-24 07:51] jaeilepp commented on #4012
Me too.

[2017-02-24 15:14] #3621 closed

[2017-02-24 15:25] #3933 closed

[2017-02-24 17:47] jhouck commented on #3996
Thanks!

[2017-02-24 17:47] #3996 closed

[2017-02-24 18:46] timmidee opened #4016 "raw.resample drops events"
When I resample data from 1000Hz to 100Hz, some events are dropped.

I go from 10690 to 10645 events before and after resampling, as found by mne.find_events(raw,shortest_event=0,consecutive = True).

Is this expected behaviour?

I realise I have an awful lot of events, but that's because I have eye movement events coded as events.
It also means events are sometimes on adjacent samples (hence cons

[2017-02-24 18:57] ftadel commented on #4001
I will document how to connect Brainstorm and MNE-python when I have some interesting features to offer at a higher level (like running your implementation of SSS from Brainstorm).

At a lower level, I thought you guys might be interested in explaining to your users how to call MNE-python from Matlab scripts, so I shared this example. Feel free to do whatever you want with it.

[2017-02-24 20:00] Eric89GXL commented on #4016
Yes this can happen. What you can do if you want to preserve them (but note you will lose timing precision!) is do `events = find_events(raw_orig, ...)`, and then rescale the event times to the new sample rate with something like:
[code]
Does that make sense?

Can you think of a good place to put this sort of thing in the docs? `raw.resample`? The FAQ?

[2017-02-25 11:13] timmidee commented on #4016
Makes sense, thanks!
And in case you were asking me directly: I think it might be good to have with the help for raw.resample. The explicit warning for jitter of the events and epoching is already good to have there, adding a clear sentence or two about the possible consequences for temporally adjacent/near events would fit right in with that IMO.

[2017-02-25 12:58] Eric89GXL commented on #4016
Do you have time to make a quick PR?

[2017-02-26 15:13] #3631 closed

[2017-02-27 20:00] bloyl opened #4021 "ENH/DOC cHPI support for artemis123 data"
Hey @Eric89GXL
I'm interested in evaluating the cHPI code for localizing HPI coils in artemis123 (and CTF) but the code makes use of header information that I don't know how to recreate/format.

Overall, is there any interest in refactoring this code to be less elekta centric. I'd be willing to take a stab at it but would need some guidance on the existing code.

For instance just to get started u

[2017-02-27 20:11] Eric89GXL commented on #4021
I think about it the other way -- let's get our non-FIF file reader(s) to populate `info` properly, as opposed to making the cHPI code itself use other formats. That way things like saving, etc. will work. The nice thing about the Elekta Neuromag FIF format is it contains (almost) everything we would want, many parts of our code make use of it, it's our standard IO format, etc.

You've actually al

[2017-02-27 21:04] Eric89GXL commented on #3665
I suspect we should fix this before release.

Given that `Scaler` never really worked as anyone expected, my vote is to fix it and mention it in API instead of making another class.

@agramfort @kingjr @jasmainak okay with you?

I can take over #3672 if necessary

[2017-02-27 21:10] kingjr commented on #3665
+1

On 27 February 2017 at 16:04, Eric Larson <notifications@github.com> wrote:

[2017-02-27 21:22] bloyl commented on #4021
Sorry, I should have been more clear on the refactoring suggestion. I am not proposing that we use non-fif fields in info to drive the cHPI fitting. but rather to isolate the key pieces of info the are needed to proceed from the rest.

At the moment my thought is to refactor _get_hpi_info to remove the requirement for 'HPI_results' and 'dig'. The rational is two fold:
1) They aren't really needed

[2017-02-27 21:23] agramfort commented on #3665
ok

[2017-02-27 21:39] jasmainak commented on #3665
@Eric89GXL +1, let us fix it

[2017-02-27 21:43] Eric89GXL commented on #4021
True -- if all you want is a time-varying estimate of the location of each coil, you don't need anything other than frequencies of interest, really. But keep in mind that for the vast majority (99%?) of users, the point of cHPI fitting is to get something more complete -- a reliable, time-varying `dev_head_t` estimate.

The routines for estimating this transform currently rely on having some "grou

[2017-02-27 21:43] Eric89GXL commented on #3665
Who is the "us" in that sentence? I know @kingjr is swamped, so I assume you're taking it over, then? It would be good to have it in ASAP so we can release if possible, this is one of only a few remaining blockers

[2017-02-28 00:13] jasmainak commented on #3665
oops, no I didn't volunteer. Unless it can wait till the sprint :)

[2017-02-28 01:23] Eric89GXL commented on #3665
Thanks for clarifying, I'll see if it's straightforward tomorrow hopefully

[2017-02-28 14:56] Eric89GXL commented on #3679
@kingjr can you track down the offending file?

[2017-02-28 14:58] Eric89GXL commented on #3956
The clicking issue has been fixed. I've added the non-FIF idea to #3934

[2017-02-28 14:58] #3956 closed

[2017-03-01 00:00] SherazKhan opened #4026 "BUG: test magnetic dipole"
@Eric89GXL
Hi Eric,

I was working on real time chpi, stumble upon `test_magnetic_dipole()` in test_make_forward.py :-)

Input `r0 = np.array([0., 13., -6.])` is in mm however coils locations are in meters `_magnetic_dipole_field_vec(rrs, coils):` should not we divide by 1000: `r0 = np.array([0., 0.13., -0.06.])/1000.`

may be a PR like this
[code]
EDIT: changed single-backticks to triple-backtick

[2017-03-01 00:19] Eric89GXL commented on #4026
Hah! Yeah, sure. Although this makes me think that it's actually okay/useful to test both a dipole that is at device origin (your idea and what I meant to do) and also a dipole that is far from the array (what I actually implemented).

PR welcome :)

[2017-03-01 00:26] Eric89GXL commented on #1766
I think most of these use cases can (hopefully) be solved by doing allowing `pick_channels` without data being loaded. @jaeilepp did something similar for EDF or some other reader recently, so hopefully it can be generalized.

[2017-03-01 01:43] kingjr commented on #1766
+1

On 28 February 2017 at 19:26, Eric Larson <notifications@github.com> wrote:

[2017-03-01 11:02] timmidee commented on #4016
Sorry, I'm a bit of a noob when it comes to the larger scheme of developing software (github, docs, etc) what's a PR?

[2017-03-01 11:35] #3921 closed

[2017-03-01 11:37] maedoc commented on #1624
I'm at a [point](https://github.com/the-virtual-brain/tvb-recon/issues/35)
where I need this to work, and I can implement what I mentioned above over the
next few weeks, but I think it's worth some discussion of use cases.  My
current workflow is something like

- format data from FreeSurfer recon
    - generate interfaces with `mne_watershed_bem`
    - reduce vtx/face count `mris_downsample -d 0.

[2017-03-01 11:47] jaeilepp commented on #4016
PR is short for pull request (github lingo). See https://mne-tools.github.io/stable/contributing.html?highlight=contributing to get started.

[2017-03-01 11:53] ramonapariciog opened #4027 "Apply ICA after autoreject"
Hi everybody,
I'm working to get an ERP (Mismatch Negativity) with records with EGI NetStation and montage 'GSN-HydroCel-129'.
The data has a lot of artifacts and i apply the autoreject tool for clean it but the result stills noisy.
I'm applying butterworth high (0.5) and low (40 Hz) pass filter order 5, separately, and notch (50 and 100 Hz).
I'm trying to get an eog channel from the frontal eeg c

[2017-03-01 12:46] dengemann commented on #4027
Hi Ramon,

have you actually tried to see if autoreject actually removes your EOG
artifacts? It often/typically does not in our experience.

On Wed, Mar 1, 2017 at 12:53 PM ramonapariciog <notifications@github.com>
wrote:

[2017-03-01 13:16] ramonapariciog commented on #4027
Sorry for the bad presentation of the code Dennis. This is:

`mne.io.set_bipolar_reference(raw, ['EEG 126'], ['EEG 127'], ch_name=['EOG'],
                                              ch_info=dict(ch_types='eog'), copy=False)

picks = mne.pick_types(raw.info, meg=False, eeg=True, eog=True)

baseline = (-0.1, 0.0)

epochs = mne.Epochs(raw, baseline=baseline,
                                   even

[2017-03-01 15:59] jasmainak commented on #4027
@ramonapariciog It is possible that there is a bug with picks for ECG. I usually remove the ECG channel before applying `autoreject`. Could you perhaps reproduce this with the sample data?

[2017-03-01 19:13] jpazdera opened #4028 "Reading EDF/BDF files with n_records == -1"
I've noticed in our lab that the headers of our BDF files often list the number of data records in the recording as -1. Currently, this breaks the read_raw_edf function, as it calculates the number of samples in the recording to be -1 times the number of samples per record.

Although we haven't yet determined what is causing our headers to list the number of records as -1, it is actually possible

[2017-03-01 19:26] Eric89GXL commented on #4028
Can you record some short (e.g, 1 or 2 sec) file to reproduce the problem?

Are you running custom software, or is this straight from the standard acquisition system?

I'm fine with adding this sort of change if you're on a stock setup. It would be good to identify why (acquisition version number maybe?) and put that as a comment in the code.

Actually, perhaps we should *always* do this calculati

[2017-03-01 21:53] jpazdera commented on #4028
I'll try to get a quick recording for you tomorrow.

We're using the standard acquisition system (BioSemi's ActiView software). It's possible this is being caused by some sort of user error when our researchers save our data files. Even so, it's likely we're not the only ones with messed up n_record values.

I do think it could be good to do the calculation, warn if there is a mismatch, and use it

[2017-03-01 23:59] SherazKhan commented on #4026
Thanks @Eric89GXL
Will prepare the PR with both test cases.

I am currently testing your chpi code on large dataset and comparing with maxfilter. You did an awesome job :-)

[2017-03-02 01:12] Eric89GXL commented on #4026
I had lots of help from the Elekta folks to get it going. @bmaess most recently fixed some bugs, too. Hopefully you can find ways to make it better, too

[2017-03-02 12:02] jaeilepp commented on #3987
Even some of our built-in MEG layouts don't give head coordinates (like KIT-AD). I'm not sure it's worth the effort to change this. After all, in most cases our layouts work fine and the change would require overhaul of all the plotting functions that use layouts. Also, topomaps use layouts so it might be dangerous to change this.

[2017-03-02 12:20] jaeilepp commented on #4012
On further investigation, it seems that it tries to read it, but the save function does not save it. There is also a FIFF constant for it.

[2017-03-02 12:34] jaeilepp commented on #4012
So I'm wondering if we should stick to the old way, but just make sure it gets saved?

[2017-03-02 12:41] Eric89GXL commented on #4012
I can live with that. So we fix the save, and fix the comment creation.

[2017-03-02 12:46] Eric89GXL commented on #3987
I agree it would be a big change. Such a process should make all of the
plots more accurately represent the head to sensor relationship, though.
Actually we'd really want to skip the layout entirely and use the channel
positions from info. In the case of MEG sensors, we'd just need to apply
dev_head_t.

Maybe we could add it as a separate mode?

[2017-03-02 13:00] jaeilepp commented on #3987
The layouts should still be used at least for topo-plots since the sensor triplets have identical positions.

[2017-03-02 13:09] Eric89GXL commented on #3987
Ahh right. Forgot about that :)

And I guess there is some logic to the "unwrapping" transformation we normally do, since it's just one way (of many possibilities) to do a projection of spherical data.

Maybe just disabling norm and/or centering is enough

[2017-03-02 20:54] claire-braboszcz commented on #3985
I've seen on [Project](https://github.com/mne-tools/mne-python/projects/1) that @kingjr was thinking of writing a tutorial on time-frequency decoding. I'd be very interested in such a tutorial that would complement nicely [the current documentation](http://martinos.org/mne/dev/manual/decoding.html).

[2017-03-02 21:31] jpazdera commented on #4028
I tried recording a few short files, but all of them ended up with correct headers. Yet virtually all of our actual recordings end up with -1 as the number of records. I'm working with some of our research staff to figure out what's going on at our end with regards to this matter. I imagine we're probably not the only lab experiencing this issue.

[2017-03-02 22:05] jpazdera commented on #4028
UPDATE: I just figured it out. Our researchers have been **pausing** the recording, then exiting the program. The correct method is to **stop** the recording, then exit the program. I suspect the header item for number of records is not written until the recording is fully stopped, so all our recordings are ending up with the number of records never being written.

Regardless, here's a short recor

[2017-03-02 22:21] teonbrooks opened #4032 "Mini-symposium at Scipy"
There's a [call](https://neurostars.org/t/call-for-papers-neuroscience-in-python-mini-symposium-at-the-scientific-computing-in-python-conference-2017-scipy-july-10th-16th-ut-austin/250) for a minisymposium at Scipy on neuroscience in Python. I think it would be a good place to highlight the work from the [Supervised Neural Time Series Sprint](https://kingjr.github.io/supervised_time_series/) in NY

[2017-03-03 00:46] Eric89GXL commented on #4028
Are you up for making a PR to fix it?

First step would be to a PR to the [mne-tools/mne-testing-data](https://github.com/mne-tools/mne-testing-data) repo to add the files (probably in the EDF directory). Then you can make a PR to `mne-python` to add the functionality, with a test (which will really just be doing a roundtrip read of the file).

[2017-03-03 07:57] agramfort commented on #4032
I plan to go to scipy to give a sklearn tutorial with Andy so I can also
talk about MNE

@teonbrooks <https://github.com/teonbrooks> are you coming too?

[2017-03-03 22:28] jpazdera commented on #4028
Sure, I'll look into this next week.

[2017-03-04 00:42] teonbrooks commented on #4032
cool cool. I would like to go. I will be right after my Mozilla fellowship ends so I need to find new support to go.

[2017-03-04 04:21] teonbrooks opened #4033 "slider example is broken"
went to try to run an example but it didn't work. I think there might be something run with the `mne.datasets.sample.data_path()`. is it still https://s3.amazonaws.com/mne-python/datasets/MNE-sample-data-processed.tar.gz?

here is the ex.
http://martinos.org/mne/dev/auto_examples/visualization/make_report.html#sphx-glr-auto-examples-visualization-make-report-py

cc: @dengemann

[2017-03-04 07:03] teonbrooks commented on #4033
nvm it somehow fixes itself when I pulled the latest mne version

[2017-03-04 07:03] #4033 closed

[2017-03-04 07:04] teonbrooks commented on #4033
UPDATE: download is now located at https://mne-tools.s3.amazonaws.com/datasets/MNE-sample-data-processed.tar.gz

[2017-03-04 07:22] dengemann commented on #4033
Mysterious magic :)
On Sat, 4 Mar 2017 at 08:04, Teon L Brooks <notifications@github.com> wrote:

[2017-03-04 19:25] mmittag opened #4034 "Problem when calculating stc grand average"
Hi,

A subject causes problems when I wish to grand average the data with the script attached. The following error message occurs:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/mmittag/anaconda2/lib/python2.7/site-packages/spyder/utils/site/sitecustomize.py", line 866, in runfile
    execfile(filename, namespace)
  File "/home/mmittag/anaconda2/lib/python2

[2017-03-05 16:02] parulsethi commented on #2828
hi,
I’m interested in solving this issue, but will need some help through it.

If I understand correctly, a Report class method needs to be added to append 'sensitivity map' to the report? and is ‘sensitivity/count histogram’ mentioned above also required to be appended?

and if a method, will the input parameters to it would be same as that of 'mne.sensitivity_map()+SourceEstimate.plot()' or some

[2017-03-05 17:42] jasmainak commented on #2828
hi @parulsethi I'd suggest that you start from my work in progress commit [here](https://github.com/jasmainak/mne-python/commit/2405a89c740b041758622fdf61e00adf71ba098b). I don't think I got it working, but it might be easier than starting from scratch.

[2017-03-05 17:44] jasmainak commented on #2828
Also, make sure you understand how to generate a report. You can read the tutorial on the mne report [here](http://martinos.org/mne/dev/tutorials/report.html)

[2017-03-05 20:51] parulsethi commented on #2828
@jasmainak thanks for the suggestion, I've forked from there.

[2017-03-06 06:45] agramfort commented on #4034
did you morph all the STCs to fsaverage?

if so it should not crash.

[2017-03-06 14:24] Eric89GXL commented on #4034
No, it's with a morphed anatomy template (using `mne.coreg`), so no need to morph.

Although you do bring up a seemingly trivial solution, which is to do something like `stc.morph(subj, subj, vertices_deficient, vertices_complete, smoothing_steps=1)`. It might actually be worth doing a morph from self->self in all cases, just to get a smoother spatial profile for averaging/stats.

[2017-03-06 14:36] Eric89GXL commented on #4034
I'll add this to the DOC issue, if other have ideas feel free to comment anyway

[2017-03-06 14:36] #4034 closed

[2017-03-06 14:39] Eric89GXL commented on #3985
@choldgraf fixed all the links.

Are people working on any of these this week?

[2017-03-06 18:35] agramfort commented on #4032
FYI I just submitted a proposal of talk on MNE-Python.

[2017-03-07 09:25] jjnurminen opened #4035 "ENH: find peak for vector sum"
Many¹ Elekta users like to analyze combined gradiometer data. `mne.viz.plot_evoked_topo` supports this via the `merge_grads` argument. Should `mne.Evoked.get_peak()` support a similar argument?

¹anecdotal evidence

[2017-03-07 10:21] agramfort commented on #4035
I would say yes

[2017-03-07 15:06] kingjr commented on #3679
I'm closing this for now, as the last PRs fixed some problem. I'll re-open it if I encounter this issue again.

[2017-03-07 15:06] #3679 closed

[2017-03-07 16:52] jjnurminen commented on #4035
I could whip up a PR.

[2017-03-07 17:09] choldgraf commented on #3985
I'm gonna take a pass through this and try to organize a little bit today...just been slow on doing it since I had to get the docathon up and running first :)  I think @teonbrooks is going to help out as well

[2017-03-07 17:14] jjnurminen opened #4036 "ENH: autolabel for plot_evoked_topo"
In `plot_evoked_topo()` with multiple conditions, it's usually crucial to know which condition is which. The example has a piece of matplotlib code that inserts labels, but it's a bit clumsy (the user needs to manually compute label coordinates, etc.)

Should the method provide a facility that would automatically insert labels according to `evoked.comment` (or some other user supplied-text)?

[2017-03-07 18:55] bloyl commented on #4021
So the refactoring was/is pretty straight forward. the key test (I think) test_calculate_chpi_positions should keep passing.  Other tests, that depend on the order of the logging messages, might need to be adjusted/changed but we can talk about that later.

I am now stuck dealing with digitization points and the various coordinate systems and their associated transforms.

So here are my questions.

[2017-03-07 20:33] teonbrooks commented on #4032
oh ok, cool. 👍

[2017-03-07 20:45] Eric89GXL commented on #4021
Yeah you want them in Neuromag head coords (FIFFV_COORD_HEAD).

Yes

Given LPA/Nasion/RPA (in any coordinate frame) you can get the transformation to Neuromag head coordinates. I can't remember the function offhand, but it's used in `read_dig_montage`. Hopefully that's all you need?

`info['dig']` supports this, yes. But having HPI points in device coordinates will not help with head position fitt

[2017-03-07 21:00] choldgraf opened #4037 "Auto-generating example images at the bottom of API pages"
scikit learn has this nice documentation feature where a few example images are generated on the API page for functions. E.g.: http://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html#sklearn.cluster.KMeans

I assume this is a sphinx-gallery feature, yeah? Anybody know how this works? It'd be cool if MNE did this as well...I can put in some time to get it working if needed :)

[2017-03-07 21:04] Eric89GXL commented on #4037
We have this feature:

http://martinos.org/mne/dev/generated/mne.preprocessing.maxwell_filter.html#examples-using-mne-preprocessing-maxwell-filter

In practice `sphinx-gallery` has simple discovery mechanisms, though. It looks for `import` statements, whereas in our code most things like STCs come as outputs of functions.

So, to get what you *really* want, I think we'd need to add an option to `s

[2017-03-07 21:34] bloyl commented on #4021
read_dig_montage doesn't support these files. The format is different from the elp files that I guess fastscan exports. These 'pos' files are generated by program written by CTF that uses the polhemous isotrack systems. they are pretty straight forawrd and supporting them would be easy. Let me know if you'd like me to add it to read_dig_montage. There is also the brainstorm polhemous files (http:/

[2017-03-07 22:02] choldgraf commented on #4037
ah that must be why I didn't find examples of this in MNE before...hmm, would that be worth a PR in sphinx-gallery?

[2017-03-07 22:45] choldgraf commented on #3441
just FYI I ordered about 60 of these, will bring 'em to NYC

[2017-03-08 00:09] Eric89GXL commented on #4037
You could tell them the limitation and see what they think about the
workaround. But then also people will need to update examples to use it and
keep it in mind in future PRs, which adds some burden. Might be worth it,
I'm a +0 currently.

If we did have it working, do you see a good set of examples and tutorials
to update that would help the documentation a lot?

[2017-03-08 11:19] jjnurminen commented on #4036
If you look at the example here:

http://martinos.org/mne/dev/auto_examples/visualization/plot_topo_compare_conditions.html#sphx-glr-auto-examples-visualization-plot-topo-compare-conditions-py

it has some matplotlib code in the end, which inserts labels for the different conditions onto the plot. I was suggesting that plot_evoked_topo() could automatically insert the labels according to `evoked.c

[2017-03-08 12:19] agramfort commented on #4036
got it. +1 for this.

[2017-03-08 12:21] jjnurminen opened #4039 "BUG: plotting method cannot accept RGB tuples"
In `plot_evoked_topo()` (and possibly elsewhere), the documentation says that it will take any matplotlib colorspec. However, giving it an RGB tuple results in

    ValueError: third arg must be a format string

from matplotlib. I traced this down to `_plot_timeseries_unified()`, which essentially does

    ax.plot(xdata, ydata, colorspec)

However this call signature does not work when `colorspec

[2017-03-08 12:29] agramfort commented on #4039
PR welcome.

Alex

[2017-03-08 12:36] jjnurminen commented on #4039
#4040

[2017-03-08 13:11] jjnurminen commented on #4036
Ok. I just wrote a wrapper script for our users that takes multiple evoked files from command line, plots everything and labels according to filename and evoked comment. The result looks like this:

![figure_1-2](https://cloud.githubusercontent.com/assets/8491321/23704994/28ce9972-0410-11e7-955e-fb4da02881ca.png)

For automatic labeling in `plot_evoked_topo()`, there are a few questions:

-Since t

[2017-03-08 14:24] #4039 closed

[2017-03-08 14:28] Eric89GXL commented on #4036
How hard would it be to add all 9 matplotlib positions? Aesthetically I'm not sure what the best option is. I'd vote lower left.

The filename was never supposed to be part of the measurement info, having it there was a bug. If we need it, we can add it as an `Evoked` class property (just as `self.filename = fname` in the constructor).

Maybe labels = 'off' or any mpl-like position (e.g., "upper l

[2017-03-08 14:28] Eric89GXL commented on #4036
I meant to vote lower right, not lower left...

[2017-03-08 14:30] Eric89GXL commented on #4021
Feel free to add support to `read_dig_montage` for another format. For now let's just add the file format(s) you actually need / use and assume YAGNI until we hit a use case for others (e.g. Brainstorm).

Yes this is buggy behavior not to check the coord frame. We need to fix it, and I'll probably try to do some of it as part of #3893.

[2017-03-08 15:19] cmmoenne opened #4041 "add on_missing argument to EpochsArray"
As `on_missing`'s default is set to `'error'` on `BaseEpochs`, `EpochsArray` will always raise a *"ValueError: No matching events found for ..."* when epochs are not found in some condition. This is not always desirable, so control `on_missing` from `EpochsArray` would be very useful.

[2017-03-08 15:21] Eric89GXL commented on #4041
Sounds reasonable to me, can you make a PR?

[2017-03-08 16:44] cmmoenne commented on #4041
yep, I can!

...as I was super lazy with PR #3965 (I work in my master instead of branching), I will wait for that PR first. I never thought I'd be doing another PR so soon... shame on my 😞

[2017-03-08 17:13] choldgraf commented on #4037
One of the devs there mentioned that they're not super thrilled about adding more functionality that would include sphinx-gallery specific comments on rendered HTML, which I get. I'll close this and I guess we can hope that the SG functionality that catches function calls etc gets improved over time :)

[2017-03-08 17:13] #4037 closed

[2017-03-09 08:20] jjnurminen commented on #4036
I'll try and see. Lower right is kind of the 'standard' option for labels (I think).

Ok. Maybe the user can just insert the filename into `evoked.comment` if they need it.

Good point.

[2017-03-09 08:26] agramfort commented on #1624
thx @maedoc for the update.

the first section on format data from FreeSurfer recon should ideally be done only with mne tools and we should not rely on brainvisa formats by passing numpy arrays to openmeeg directly in memory in python.

cc @papadop @eolivi @mclerc

[2017-03-09 08:31] maedoc commented on #1624
I don't want to replicate that here, it's just what I was doing in the past.  Ideally we'd use nibabel to load the formats, etc.

[2017-03-09 09:08] agramfort commented on #1624
let's make it work first then we'll make it nice :)

[2017-03-09 16:24] mmagnuski opened #4044 "raw.set_montage should return self"
Currently `raw.set_montage(montage)`  does not return anything so I get `None`.
It would be nice if it returned self so I could chain it with other operations:
[code]

[2017-03-09 16:39] Eric89GXL commented on #4044
Agreed, +1 for PR

[2017-03-09 21:44] mmagnuski opened #4045 "API: raw.filter() design mode: firwn vs firwin2"
I find it surprising, is it intended?
After I apply the filter, let's say:
[code]
when I plot the `raw` with `remove_dc=False` I can see big offsets between channels. My expectation was that 0.5 highpass filter will remove the DC, but it doesn't.

[2017-03-10 10:32] Akshay0724 commented on #4044
I will like to work on this issue for start. Thanks

[2017-03-10 14:37] Eric89GXL commented on #4045
Mathematically this implies that `raw[:][0].mean(-1)` is non-zero. Is that the case?

Keep in mind what you describe here is different from removing DC of the whole signal. `remove_dc` removes the DC *within each plotted time segment*, which the filter is not guaranteed to do. If it doesn't make this clear in the docstring, we should update it.

If you want to attenuate the low frequencies further

[2017-03-10 16:21] jasmainak commented on #4045
Indeed, this is what we also observed for the biomag demo. Our transition band may not be steep enough for the highpass filter ...

[2017-03-10 16:28] Eric89GXL commented on #4045
Depends on the tradeoffs you want to make. FYI the 0.5 Hz the filter is already going to be ~13 seconds long, and using a tighter transition band will make it longer. I tried to design the filters to follow the recommendations from the most recent discussions on the issue, at least.

[2017-03-10 18:54] teonbrooks commented on #3441
@choldgraf how did it turn out, layout-wise?

[2017-03-10 18:54] choldgraf commented on #3441
it looked like a hexagon, in the end ;-)

[2017-03-10 18:55] choldgraf commented on #3441
jk, here's the proof: https://www.stickermule.com/artworks/954501?token=7aba51b4d5450dc7314b320219c276b6

[2017-03-10 19:02] choldgraf commented on #3985
I'm looking through some of these issues etc now, and it's a little unclear to me what is the difference between "tutorials" and the "guide". Can somebody give me the high-level view of why these are two different things? Is the guide meant to be comprehensive and very MNE-specific, whereas tutorials are more conceptual in nature?

[2017-03-10 19:58] joewalter opened #4049 "dipole amplitudes inconsistent and plotting issue"
According to the docstring of our Dipole object, the dipole amplitude must be given in nAm. However, the Dipole class uses Am. This can be seen e.g. in the save method or the new dipole plotting. This leads to problems e.g. when plotting rap music results with the orthoview method, as the rap music output is in nAm. Which is the right way to go? We either need to adapt some lines in dipole.py and

[2017-03-10 20:17] kingjr opened #4050 "ENH: slider widget"
Would be nice to get that for the topomap slider:

https://github.com/janfreyberg/niwidgets

[2017-03-10 20:24] kingjr opened #4051 "Q?: how to add layout to info"
I'm trying to plot an home-made EEG dataset (e.g. `evoked = mne.EvokedArray([[0, 0], [0, 0]], info=mne.create_info(2, sfreq=1))`)

I made a layout and I can do `evoked.plot_joint(topomap_arg=dict(layout=layout))`. However the plot doesn't show Jona's spatial colors because `plot_joint()` looks for the layout in the evoked instance.

Is there a way to add a `layout` to an evoked/info?

[2017-03-10 20:40] choldgraf commented on #3985
E.g., what would be the difference between this page:

http://martinos.org/mne/stable/manual/time_frequency.html

and this page:

http://martinos.org/mne/stable/auto_tutorials/plot_sensors_time_frequency.html

[2017-03-10 21:34] teonbrooks commented on #4051
do you have a Montage or can you make it into one? that could be added with `.set_montage`

[2017-03-10 22:15] kingjr commented on #4051
I'm confused. I thought a montage was used to do like bipolar construct etc.

I just want to include the layout, i.e. be able to plot the data based on the position of the electrodes.

I tried

[code]

But this just load my RAM forever

[2017-03-10 22:16] kingjr commented on #4051
(i.e. reading the resulting info leads to an infinite loading...)

[2017-03-10 23:02] kingjr commented on #4051
And on the same topic, the following code fails for non-explicit reasons. I think we may need to revision of the Montage functions.

[code]

[2017-03-11 01:01] mmagnuski commented on #4045
Ok, I get the thing with plot remove_dc removing the within-window mean - I thought that it removes the overall dc - but I didn't read the docs on this carefully so the problem may be in the user not the docs :)
Still,  even with 0.5 Hz transition band I expected to get stronger attenuation of the slowest drifts.
But inspecting filter properties with `plot_filter` reveals that the attenuation is n

[2017-03-11 01:45] Eric89GXL commented on #4045
I never had such a surprise in eeglab, even using the new filters written
by Widmann (I don't remember his default for low transition bandwidth
though)

Can you investigate their default behavior? You can check docs, and filter
an impulse for example.