[2016-06-30 11:46] jaeilepp commented on #3357
Now it gets updated again.

[2016-06-30 11:53] mmagnuski commented on #3362
I've used FieldTrip mainly for time-frequency and cluster-correction, so I could try creating some examples of migration with respect to this. I wouldn't be able to do this soon however.
Currently the table for migrating from EEGlab should work well also for other migrations - one should just ignore the "EEGLAB function" column.

[2016-06-30 11:56] mmagnuski commented on #3362
Related: #3201

[2016-06-30 12:23] mmagnuski commented on #2693
@jona-sassenhagen
Looks good!

I often like masking the insignificant (or otherwise uninteresting) values with transparency. I actually have lots of matlab code for this, one example:
![clstplt_ef_02_v05](https://cloud.githubusercontent.com/assets/8452354/16487542/de265bee-3ecb-11e6-9c6e-e7a71588b62b.png)

The channels are grouped differently here (frontal, central, posterior and each group has ch

[2016-06-30 13:41] teonbrooks opened #3369 "File specification for FIF"
Is there a file specification sheet for the FIF file, that is, the listing of the data blocks, the sensor array, the metadata, etc. I have a colleague, @eh1255, who is interested writing a hardware export in FIF?

cc: @Eric89GXL @agramfort

[2016-06-30 14:07] Eric89GXL commented on #3369
http://www.aston.ac.uk/lhs/research/centres-facilities/brain-centre/facilities-clinical-services/meg-studies/downloads/

[2016-06-30 14:28] eh1255 commented on #3369
Hi Eric,

Thanks for the quick response, I really appreciate it. This will help a lot!

Thanks,
Erik

[2016-06-30 14:28] teonbrooks commented on #3369
thanks @Eric89GXL!

[2016-06-30 14:28] #3369 closed

[2016-06-30 17:24] nfoti opened #3370 "BUG: simulate_evoked errors with finite SNR"
I am running into a problem where calling `simulate_evoked` with a finite and positive SNR results in an error. The forward solution I am using has 306 channels but only 305 channels of noise are simulated.

This [gist](https://gist.github.com/nfoti/22158db5eb67d447e24d2d07728189a5) demonstrates the problem.

[2016-06-30 18:10] Eric89GXL commented on #3370
Can you make that gist a minimal example? It will help isolate the problem to the fewest calls possible and thus be eaiser to fix

[2016-07-01 06:33] jaeilepp commented on #3370
The problem seem to lie in bad channels being dropped when computing covariance matrix, resulting in evoked and covariance instances having different set of channels. Maybe the correct fix would be just improving the error message and saying that some channels are not present in the covariance instance.

[2016-07-01 14:01] jaeilepp commented on #3366
It still doesn't explain why the cache doesn't work for our master. At least part of the cache now works for my fork.

[2016-07-01 14:02] Eric89GXL commented on #3366
The most recent `master` build is the one where you told it not to use a cache. We haven't merged anything since then.

[2016-07-01 14:04] jaeilepp commented on #3366
Yes. We should try  merging something :)

[2016-07-01 16:23] Eric89GXL commented on #2906
I'm going to reopen this so we don't forget about it for 0.13

[2016-07-01 19:48] #3357 closed

[2016-07-01 20:58] christianbrodbeck commented on #3358
Yes @dengemann  we had the slides at http://www.slideshare.net/mne-python/mnepython-coregistration and http://www.slideshare.net/mne-python/mnepython-scale-mri. They're linked form the doc string of `gui.coregistration`. I could try to add a similar, image-heavy tutorial to he docs to make the more accessible.

[2016-07-01 23:09] dengemann commented on #3358
+100 for screen cast :)
On Fri, 1 Jul 2016 at 22:58, Christian Brodbeck <notifications@github.com>
wrote:

[2016-07-01 23:20] mmagnuski opened #3378 "dev docs updated partially?"
In [this docs tutorial](http://martinos.org/mne/dev/auto_tutorials/plot_artifacts_correction_ica.html) the figure have been updated but the text not. The result is a little confusing :)

[2016-07-01 23:25] mmagnuski commented on #3378
If you download the tutorial as `.py` or `.ipynb` - you can see that the text is actually different than the one rendered.

[2016-07-02 00:08] christianbrodbeck commented on #3358
How old am I to prefer written docs :P

[2016-07-02 14:12] agramfort commented on #3378
is it better now?

[2016-07-02 15:57] mmagnuski commented on #3378
It's better - but now it shows the version from before merging the PR that corrects for bad component inds.

[2016-07-02 18:03] Eric89GXL commented on #3378
It takes over an hour (plus queue time) to build the docs, so it's possible
your PR's changes were (or are) still pending. You can check the CircleCI
site to be sure.

[2016-07-02 18:59] mmagnuski commented on #3378
I checked circle and I could not see any unfinished "circles" [here](https://circleci.com/gh/mne-tools/mne-python) but the dev docs are still behind (although the circle artifacts for my PR were correct).

[2016-07-02 19:49] jona-sassenhagen commented on #2875
@dengemann if you have the time ...

[2016-07-02 20:33] Eric89GXL commented on #3378
Someone will need to go through the CirceCI logs and cross check the
website repo to sort it out

[2016-07-02 21:43] agramfort commented on #3378
Is the pb on github.io or martinos.org ? If martinos I need to debug my rsync

On Sat, Jul 2, 2016 at 10:33 PM +0200, "Eric Larson" <notifications@github.com> wrote:

Someone will need to go through the CirceCI logs and cross check the

website repo to sort it out

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-03 09:17] jaeilepp commented on #3378
I think [mne-tools.github.io](http://mne-tools.github.io/dev/auto_tutorials/plot_artifacts_correction_ica.html) is up to date. [Martinos](http://martinos.org/mne/dev/auto_tutorials/plot_artifacts_correction_ica.html) has not yet been updated.

[2016-07-03 09:19] jaeilepp commented on #3366
I think this is still an issue on our master branch.

[2016-07-03 09:32] jaeilepp commented on #3366
This seems weird. The master build [here](https://circleci.com/gh/mne-tools/mne-python/1470) seems to use cache from pull [3377](https://circleci.com/gh/mne-tools/mne-python/1476), which is empty because unmerged pull requests don't have the data present. I wonder if we can somehow tell the build which cache to use.

[2016-07-03 09:33] jaeilepp commented on #3366
So it seems that the caching is working, but is lost since the master builds aren't using them.

[2016-07-03 11:30] Eric89GXL commented on #3366
We could try deleting the existing CircleCI integration on the web
interface (I think it wipes all history and associated information) and
then re-enable it

[2016-07-04 15:31] #3112 closed

[2016-07-04 15:32] #3370 closed

[2016-07-04 15:43] agramfort commented on #3378
rsync is telling me it's up to date with the master branch of github.io

[2016-07-05 06:22] jaeilepp commented on #3378
It looks like it's only partially updated (as the title here suggests). See the tag at the bottom of the page for the ica tutorial (Last updated on 2016-07-01) and the index (Last updated on 2016-07-02).

[2016-07-05 08:00] agramfort commented on #3378
should be fixed now.

[2016-07-05 08:47] jaeilepp commented on #3378
Looks good. Closing.

[2016-07-05 08:47] #3378 closed

[2016-07-05 13:26] jona-sassenhagen commented on #2693
I see you volunteering!

Example looks great BTW. I'd love to eventually have a plot_x_joint method for everything.

[2016-07-05 20:12] jona-sassenhagen opened #3385 ".sfp import with long ch names"
The .sfp chan loc importer currently truncates long channel names. I came across this in a file with eye tracker channels included - 'L_GAZE_X' and 'L_GAZE_Y', which were truncated to have the same name, leading to all kinds of problems.

Could we simply do `dtype = np.dtype('S16, f8, f8, f8')` instead of the `dtype = np.dtype('S4, f8, f8, f8')` we currently have?

This would still break at very l

[2016-07-05 20:13] jona-sassenhagen commented on #3385
This possibly also applies to .elp, .hpts, .eloc/.loc.

[2016-07-05 20:14] Eric89GXL commented on #3385
This seems like the safest solution to me. If we want to keep an upper limit we can use that of the max FIF channel name length (not sure what that is).

[2016-07-05 20:15] agramfort commented on #3385
+1

On Tue, Jul 5, 2016 at 10:14 PM, Eric Larson <notifications@github.com>
wrote:

[2016-07-05 20:16] jona-sassenhagen commented on #3385
Ok, I can do a string-based processor at least for .sfp (which I know), and possibly .loc. If I don't manage the others, I'll ping this thread again. Thanks guys.

[2016-07-05 20:19] jona-sassenhagen commented on #3385
@teonbrooks maybe you wanna do this, otherwise I'll start doing something horrible with .split and stuff.

[2016-07-05 20:20] Eric89GXL commented on #3385
@jona-sassenhagen we use `.split` elsewhere, it could be fine here

[2016-07-05 22:22] mdclarke opened #3388 "kwarg value error for compute_covariance"
When using `compute_covariance(method=None)` I get a ValueError: Invalid method error. According to the doc string and error message "None" is a valid kwarg. I also tried 'None', but same error.

[2016-07-05 22:37] gamazeps commented on #3268
@Eric89GXL Should this be closed ?

[2016-07-06 02:49] #3351 closed

[2016-07-06 02:50] christianbrodbeck commented on #3311
Closing because all issues from here now have their PRs

[2016-07-06 02:50] #3311 closed

[2016-07-06 07:27] #3385 closed

[2016-07-06 07:50] jaeilepp commented on #3388
Thanks for pointing this out. Fix coming up.

[2016-07-06 08:23] agramfort commented on #3388
@mdclarke fixed by #3392 in the mean time use method="empirical"

[2016-07-06 09:30] jaeilepp opened #3393 "List of evoked to plot_evoked"
Just realized that we don't have a convenient function for plotting different conditions to same butterfly plot like this.
![figure_1-1](https://cloud.githubusercontent.com/assets/3456414/16613517/cde04a74-436c-11e6-8efc-0bdb9398539c.png)

Should be quite straightforward by modifying plot_evoked.

[2016-07-06 09:43] agramfort commented on #3393
plot_topo does it but for all channels in a topo. You can then click

[2016-07-06 09:45] jaeilepp commented on #3393
Sure, I just feel that ``plot_evoked`` should also accept a list. We could also add some intelligence to it. Legends and such.

[2016-07-06 09:45] jona-sassenhagen commented on #3393
Doesn't really work with butterfly plots, actually ...

But yes, this is a great anger to ERP people using MNE.

For anyone interested in implementing it, I'd suggest:
- look at ERPlab for style. E.g., axes through origin
- allow plotting dicts of evokes, where the key becomes the label
- think about somehow measuring uncertainty

Doesn't work well for %matplotlib inline. And plot_topo needs a lot

[2016-07-06 09:47] agramfort commented on #3393
can you write a gist of the API / usage so we know what to be coded?
can you also share an image of how it should look like?
also some EEG friends want to swap y axis :)

[2016-07-06 09:48] jona-sassenhagen commented on #3393
Argh yes.
EEGLAB uses a global param for this btw. (They default to positive up, but a lot of EEG people don't.)

[2016-07-06 09:58] #3268 closed

[2016-07-06 10:00] jona-sassenhagen commented on #3393
Typical ERP plots:
![bildschirmfoto 2016-07-06 um 11 54 22](https://cloud.githubusercontent.com/assets/4321826/16614267/7e123d6e-4370-11e6-80f3-ca5277b65c37.png)

![bildschirmfoto 2016-07-06 um 11 57 11](https://cloud.githubusercontent.com/assets/4321826/16614322/e3c44f58-4370-11e6-8d2a-0c562333707a.png)

(Also often in too layout)

And an example of a single-ectrode condition plot I've recently d

[2016-07-06 10:05] agramfort commented on #3393
shameless self promotion :)

what API do you envision? function would plot one channel at a time? the
average of a list of channels? accept axes params?

can you come up with a clean minimal API?

[2016-07-06 10:05] #3388 closed

[2016-07-06 10:18] jona-sassenhagen commented on #3393
Actually that paper is reasonably well cited (for what it is) ... I just wanted people to know that it's *my* impression of what a decent plot looks like.

Single-electrode plots only really make sense for contrasts, so I'm thinking of an mne.viz function rather than a method. It could be an extension of plot_topo, but for a function that focuses on single-electrode stuff, that doesn't seem like t

[2016-07-06 10:22] agramfort commented on #3393
i like the API you suggest.

any volunteer?

[2016-07-06 10:23] jona-sassenhagen commented on #3393
I'd actually like to do it - a lot more fun than the IO/montage fixes I *should* be doing.

[2016-07-06 10:23] jona-sassenhagen commented on #3393
Unless @mmagnuski wants to do it.

[2016-07-06 10:36] agramfort commented on #3393
*should* be doing.

you can do both :)

[2016-07-06 10:36] mmagnuski commented on #3393
Go ahead, take it, I'm pretty busy this week (that's why my PRs are so tiny :)). This would be really nice to have!

[2016-07-06 14:19] gamazeps commented on #3263
Should this be closed ?

[2016-07-06 14:57] #3263 closed

[2016-07-06 19:42] JulesGM opened #3399 "Is there an option for PSD calculations to use CUDA/CUFFT ?"
It's all in the title. I've looked around, and it doesn't seem to be available; I just wanted to ask to make sure.

Thanks!

[2016-07-06 19:45] Eric89GXL commented on #3399
No not yet. Feel free to look at the ideas we've had about this sort of thing here, and comment there as well:

https://github.com/mne-tools/mne-python/issues/2722

[2016-07-06 19:45] #3399 closed

[2016-07-06 19:45] Eric89GXL commented on #2722
From #3399 it was brought up that we could potentially use CUDA for PSD functions, too

[2016-07-06 21:05] JulesGM commented on #3399
thanks. I'll start by using cufft, and see if I get any speedups. will return with updates.

[2016-07-06 21:52] jona-sassenhagen commented on #3393
http://nbviewer.jupyter.org/gist/jona-sassenhagen/cb5219cf65bf9a0dea2fce215478aaab

What do you think?

[2016-07-07 00:54] mmagnuski commented on #3393
Really cool! I really like the way mapping colors/linestyles to conditions work

[2016-07-07 05:30] agramfort commented on #3393
Looks great !

[2016-07-07 17:55] jona-sassenhagen opened #3401 "ENH: info shows approx. mem size?"
When you call a Pandas Dataframe's info method, it shows you an approximation of the memory usage:

[code]

Would it in principle be possible to show something like this for MNE objects, for example, in the `__repr__`, the info's `__repr__`, or as a special private method?

Not a big thing, but might be cool for when you want to parallelize across data sets, or want to estimate if an operation wil

[2016-07-07 18:18] Eric89GXL commented on #3401
That would be cool

[2016-07-07 19:29] agramfort commented on #3401
+1

[2016-07-07 20:01] jona-sassenhagen commented on #3393
What do you think of this API?

[code]

[2016-07-07 20:08] jona-sassenhagen commented on #3393
A few example plots ...

A call with no parameters (the example data): the GFP is shown, there is a nonsensical legend, and distinct colors.
`plot_compare_evokeds(list(evokeds.values()));`

![unknown-163](https://cloud.githubusercontent.com/assets/4321826/16667895/f46a75d4-448e-11e6-86fc-c606b6c117ad.png)

Plotting 4 conditions, setting color and linestyle with HED tags, and manually setting condi

[2016-07-07 20:16] jona-sassenhagen commented on #3393
What's currently missing is a bunch of input checks, tests, and dealing with MEG data. Otherwise I can PR.

[2016-07-07 20:26] agramfort commented on #3393
the conditions and ch_names params seem redundant to me.

[2016-07-07 20:33] jona-sassenhagen commented on #3393
`conditions` is important if you want to plot a list (not a dict), or if you want different names for the conditions than the dict keys - e.g., if you want a HED for the keys so you can map colors to tags, but want "normal" names for the legend. See example 2.
It would only be redundant if we don't allow list input.

`ch_names` helps if you don't want to call your channel name selection "EEG 50 +

[2016-07-07 20:48] agramfort commented on #3393
pick one option and stick to it.

first reaction : keep it simple stupid

make the API as simple as possible and I don't care if you need 1 extra
line to do exactly what you want.

you can always change the figure after it's rendered so again keep it
simple.

[2016-07-07 21:11] jona-sassenhagen commented on #3393
This addresses #1939 btw.

[2016-07-07 21:15] jona-sassenhagen commented on #3393
I'm surprised you didn't object to `styles` ... I actually think it's less important than `ch_names` or `conditions`. What about dropping `styles`?

I guess a good side to dropping `conditions` is you have no plots with default labels anymore. So I think I can live with dropping it.

Well yes, but this type of plot is probably a thing the typical beginner, who maybe doesn't know much python, has t

[2016-07-07 22:07] jona-sassenhagen commented on #2996
@kingjr do you still think the spatial_colors cmap should be externalized btw?

[2016-07-07 22:08] dengemann commented on #2996
I liked that idea.

On Thu, Jul 7, 2016 at 11:07 PM jona-sassenhagen <notifications@github.com>
wrote:

[2016-07-07 22:09] jona-sassenhagen commented on #3393
This one is superficially similar to #3123. But I think there actually isn't much overlap.

In principle, one could consider factoring out the spines etc. here and re-using them for other time series plots, but the spines for GFP plots and regular ERPs are actually rather different.

Just a note.

[2016-07-07 22:13] jona-sassenhagen commented on #3393
@wmvanvliet maybe you also have an opinion.

[2016-07-07 22:16] dengemann commented on #3393
Something is not simple about this API I agree. Intuitively either list or dict ...

[2016-07-07 22:17] jona-sassenhagen commented on #3393
dict is much better.

[2016-07-07 22:20] dengemann commented on #3393
I also like list, I simply don't get my head around how `conditions` is intended to be used. Some further simplification and pruning would be good. Impose a few strong usecases, the rest is for matplotlib cracks.

[2016-07-07 22:24] jona-sassenhagen commented on #3393
Well if evokeds is a dict, my idea was you could do something like
[code]

[2016-07-07 23:04] mmagnuski commented on #3401
+1 from me too

[2016-07-07 23:47] Eric89GXL commented on #3401
You could probably get pretty far by basing the estimate off the logic used
by object_hash.

But that might be too slow. If it is, we can get a rougher estimate from
just don't .data or ._data, as the object dictates.

Are you on it? If not I can try soon.

[2016-07-07 23:52] Eric89GXL commented on #3393
Evoked already have a comment field that should ideally be usable for
setting titles and such. So by only using dict you would force people into
doing redundant things (mapping evoked.comment to evoked) sometimes, right?

It is less work to pass a list than a dict. If people want different titles
than they can modify evoked.comment, no?

[2016-07-08 04:54] agramfort commented on #3393
I like the idea of using the comment attribute.

[2016-07-08 07:14] jaeilepp opened #3405 "Message box for coregistration gui"
See https://github.com/mne-tools/mne-python/pull/3332#issuecomment-230987891
So my suggestion is to pop up a message box (I'm not sure if it's trivial with traits) when none of the subjects have a bem ready. Now the subject box is just left unpopulated which led me to think that there is something wrong with the subjects_dir path or the coreg-gui itself.

[2016-07-08 09:06] wmvanvliet commented on #3393
About the 'typical ERP plots' you mentioned above: thats why we have the `make_grid_layout` function.

I agree that `plot_evoked_topo` needs a lot of love; you made a valiant effect in the past which unfortunately stranded on architectural design.

I don't see the use case for plotting the mean of several channels. I never encounter this in paper. At most, I sometimes encounter a topo plot where p

[2016-07-08 09:20] jaeilepp opened #3406 "plot_trans only works for head.fif surface."
AFAIK we could also use outer_skin.surf to plot the head surface.

[2016-07-08 09:24] agramfort commented on #3406
you suggest to try to find outer_skin.surf is head.fif is not present?

[2016-07-08 09:24] jaeilepp commented on #3406
Yes. Or allow to pass a param or smth.

[2016-07-08 09:27] agramfort commented on #3406
I prefer to detect it automatically and do not add a parameter. It's fine
with me as it's not doing any computation nore creating new files.

[2016-07-08 09:50] jaeilepp commented on #3393
I basically agree with @wmvanvliet , except for

I personally would like to see ``plot_compare_evokeds`` where you could pass a list of evoked and ``evoked.plot_compare`` where you could pass the evoked (or a list) to compare the two.

[2016-07-08 09:57] agramfort commented on #3393
+1 for the function. No strong feeling about the word "compare"

[2016-07-08 10:19] wmvanvliet commented on #3393
`plot_evoked_topo` also compares. And this function would only compare if you gave a list of evokeds.

[2016-07-08 10:41] jona-sassenhagen commented on #3393
Okay that's a lot of talk, thanks guys. It seems there is a strong consensus for lists, but I'll at least once try making the case for dict.

**I don't think evoked.comments for conditions is good. I think it's bad.**

evoked.comments not used much for condition names in the code: there is one example (plot_topo_compare_conditions.py), and one function (plot_snr_estimate). In the new tutorials, di

[2016-07-08 10:51] jona-sassenhagen commented on #3393
I don't have a strong intuition about how to call the function - plot_compare_evoked, plot_evoked_channel both seem fine to me.

On me being an even worse coder back then.

Long term, it might become the function plot_evoked_topo uses internally to generate individual plots, too. You'd just have to drop the left and bottom spines, and place them elsewhere.

I fear that's fairly common: whenever yo

[2016-07-08 10:59] mmagnuski commented on #3393
I wanted to comment on the usefulness of averaging channels in this function - I think it is useful and I do it often.
Especially if I am using cluster correction and then want to show agreggated cluster effect for different levels of some predictor - I then average channels that make up most of the cluster mass for example.

I like overloading picks with string / list of strings. But this is prob

[2016-07-08 11:01] jona-sassenhagen commented on #3393
Yeah, I think these two are obvious.

[2016-07-08 11:17] mmagnuski commented on #3393
Also: +1 on not using `.comment`. I like passing dict (and possibly like passing dict or list even more)

[2016-07-08 11:57] wmvanvliet commented on #3393
@jona-sassenhagen ok, you convinced me that using `.comment` is a bad idea. Dicts it is. And it didn't occur to me that the vline height would not match, so you are right about that parameter as well.

[2016-07-08 13:24] christianbrodbeck commented on #3406
We should also use high res head shapes if they are present?

[2016-07-08 13:25] christianbrodbeck commented on #3405
If it's just a message box that would be simple, I could include that in #3332

[2016-07-08 13:36] jaeilepp commented on #3405
Yeah, IMO that would be enough.

[2016-07-08 13:49] jona-sassenhagen commented on #3401
I don't know how I'd even approach this :) And I have a huge backlog of other stuff (EEGLAB IO fixes, ERP plot, my open PRs etc).

[2016-07-08 13:58] jaeilepp commented on #3366
It seems to have caught sample and bst_auditory in some of the merges. See https://circleci.com/gh/mne-tools/mne-python/1604.
Maybe we can populate the cache now by making some small changes to some examples and merging it after it has cached the stuff.

[2016-07-08 13:59] Eric89GXL commented on #3366
I noticed that, I guess it's fixed now (?!).

[2016-07-08 13:59] #3366 closed

[2016-07-08 14:07] jaeilepp commented on #3366
Well, depends how you look at it. I think eventually it will get populated, but until then, it will keep downloading the other datasets on every merge.

[2016-07-08 14:13] kingjr commented on #2996
no strong opinion.

[2016-07-08 14:13] Eric89GXL commented on #3366
Ahh, I see what you mean. So you suggest to make a PR that adds the last dataset checks and touches the examples that use them, and then merge it? Fine by me.

[2016-07-08 14:20] Eric89GXL commented on #3393
I'm okay with not having to use `.comment`. How often do you expect users to use this function where the `.comment` is actually correct? Because for them, having to pass a dict instead of a list is cumbersome and redundant. If it's not going to be that often, that's fine, but if e.g. comparing `Aud/L` and `Aud/R` conditions from a single user is an expected use case, then it seems like the list so

[2016-07-08 14:25] jona-sassenhagen commented on #3393
I personally would expect that the more important use case - the one where people actually need pretty defaults - is grand averages. What do you need single-subject plots for? Usually just checking if there is some crazy artifact or whatever, for which you don't really need this.

But maybe that's cause I'm coming from a language-ERP/EEG background, where individual subjects are really noisy and y

[2016-07-08 14:27] jaeilepp commented on #3366
Yeah, it's not the cleanest of solutions, but just to see if it works.

[2016-07-08 15:16] christianbrodbeck commented on #3405
So the message should just suggest to run mne `$ mne make_scalp_surfaces`?

[2016-07-09 09:48] mmagnuski commented on #2693
@jona-sassenhagen
I could add some code for setting transparancy mask and maybe the lines too (currently the way I do the lines in matlab is really dumb) next week. But I wouldn't be able to do much more. :( (maybe some time later...)

[2016-07-09 11:11] jona-sassenhagen commented on #2693
I'd like to do it actually, I enjoy writing viz code. But if you wanna do it, you'd probably do it faster and better. 

[2016-07-09 13:04] kingjr opened #3410 "Tutorial on EEG average ref"
A question popped up on the mailing list and highlights the fact that EEG average reference is a bit opaque (e.g. the non conventional term 'projection', or 'proj' are used throughout the API, the defaults are not clear etc).

This issue was clearly answered by @wmvanvliet, but we may want to add a tutorial to clarify this issue, remind users that bad channels must be removed first, etc

[2016-07-09 13:05] jona-sassenhagen commented on #3393
Any further comments @agramfort @jaeilepp @dengemann ?

[2016-07-09 13:43] jasmainak opened #3411 "legend missing with evoked.plot_joint() and evoked.plot()"
I am trying to plot evokeds using the super-cool spatial colors that Jona added. However, when the colors are not inferred from the layout, there is no legend. I think there should be a legend whenever there are colors. To reproduce, look at evoked from HCP / 4D systems ...
cc @jona-sassenhagen
![error](https://cloud.githubusercontent.com/assets/15852194/16708228/79bd696e-45eb-11e6-85e1-68b55ce05c

[2016-07-09 14:36] mmagnuski commented on #2693
No, that's better if you do it. I won't have much time for writing it in near future but will happily comment on your PR. Also I doubt I would do it better or faster.
And I still have some properties-related stuff to add.

[2016-07-09 17:26] agramfort commented on #3411
can you share a -ave.fif file to replicate?

[2016-07-09 17:39] agramfort commented on #3393
ok point taken

I start to be convinced that dict input is useful and I now think that list
input is also useful to have a dummy API. Regarding the picks/ch_names I
would just say: choose the param that you think is the most useful picks or
ch_names.

please open the PR when you have time.

[2016-07-09 17:40] agramfort commented on #3410
agreed

[2016-07-09 17:44] dengemann commented on #3410
+1 yes this is a recurrent one.

On Sat, Jul 9, 2016 at 6:40 PM Alexandre Gramfort <notifications@github.com>
wrote:

[2016-07-09 21:35] jasmainak commented on #3411
sure, here you go: https://www.dropbox.com/s/hwylpk72xfq1g6x/test.fif?dl=0

[2016-07-10 11:41] agramfort commented on #3411
the pb comes from the fact that the magnesWH3600 layout has channels MEG001
etc. while your file uses the native BTi ch_names A22 etc. The cleanest
option would be to have new layout magnesWH3600A.lout for ch_names starting
with A and not MEG.

[2016-07-10 15:45] jasmainak commented on #3411
okay, but I think there's also a problem with the logic. It will recur when there's another file with missing layout if we don't fix the logic. @jona-sassenhagen do you have time to dig into it? Otherwise, I'll take a look in the coming days

[2016-07-10 15:50] agramfort commented on #3411
see my attempt:

https://github.com/agramfort/mne-python/commit/1de18e27ab4aa39b614090c30c9f980c05b0f4c1

however the layout.names = ch_names is not good enough. The order of
channels don't match :(

[2016-07-10 22:28] jona-sassenhagen commented on #3401
Closed by #3408

[2016-07-10 22:28] #3401 closed

[2016-07-10 22:30] jona-sassenhagen opened #3412 "ENH: Alternative references / Reference free EEG"
MNE has the most common ways of re-referencing EEG: channel(s) and average. But there is also a range of attempts to create a "reference-free" reference, such as

http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2953588/
http://www.ncbi.nlm.nih.gov/pubmed/11761077
http://math.bu.edu/people/mak/Lepage_J_Neurosci_Meth_2014.pdf

Might be cool to have some of these. @wmvanvliet maybe you feel like doing so

[2016-07-10 22:31] jona-sassenhagen commented on #3411
I have a long backlog, would appreciate if somebody else could do this :(

[2016-07-11 12:23] dengemann commented on #3411
with A and not MEG.

that would be the solution, I confirm this. It was what I had already discussed with @jona-sassenhagen a months ago. It is in fact an mne-python problem, not an mne-hcp problem.

[2016-07-11 13:07] jasmainak commented on #3411
actually with @agramfort we realized that the spatial colors _always_ use the location in `info` to infer the color. So, the layout won't fix the problem.

Therefore, the solution seems to be to have an `apply_trans(info)` method which converts the `info` into another coordinate system. For now, I'll just fix it for my processing pipeline. But it appears that a more permanent solution is to have s

[2016-07-11 13:32] dengemann commented on #3411
yes that was what I was suggesting in the chat; since bti native uses millimeter you can guess evrything

[2016-07-11 13:34] #2937 closed

[2016-07-11 14:14] #3411 closed

[2016-07-11 17:51] jasmainak opened #3416 "[BUG] joint_plot does not take exclude param"
I tried the following:

[code]

and it didn't work ...

[2016-07-11 17:59] jasmainak commented on #3248
@kingjr maybe this could be combined with #3395 and fixed in a single PR

[2016-07-11 18:59] agramfort commented on #3416
are you sure that exclude is a valid parameter for ts plot?

[2016-07-11 23:23] jona-sassenhagen commented on #3416
As `exclude` applies to both the topo plot and the time series plot, it is a direct arg to plot_joint (see the doc).

We don't explicitly say this in the doc, but if it's already a param to plot_joint, it can't be passed to one of the two underlying functions.

(ie., the correct solution is `evoked.plot_joint(times, exclude=[])`)

[2016-07-11 23:57] jasmainak commented on #3416
okay, I hadn't noticed that there was already an `exclude` parameter (hemineglect :).

so, how many params are actually customizable then? It seems to me not many. In that case, why kwargs? In any case, it would be nice to document it explicitly saying what's allowed rather than focusing on what's not allowed (if there aren't very many ...)

[2016-07-12 00:01] jona-sassenhagen commented on #3416
You can pass approximately 30 args via the two kwarg params. Check the code or the doc; as the doc says, most of what you insert there is passed directly to evoked.plot or evoked.plot_topomap.

[2016-07-12 00:22] jasmainak commented on #3416
okay got it. Maybe a more informative error message + better docs would do it for me.

[2016-07-12 01:46] christianbrodbeck opened #3417 "`$ mne make_scalp_surfaces` requires access to screen"
For me, `$ mne make_scalp_surfaces` ends with

[code]
(OS X, Anacond 2.3, on master as well as 0.12). The cause seems to be `mne.decimate_surface` which calls on TVTK. Is this a known issue? The normal solution to this error would be to run a script with `pythonw` (the framework build) instead of `python` but I can't figure out how the `$ mne` command can be invoked with `pythonw`?

[2016-07-12 07:02] agramfort commented on #3416
PR welcome @jasmainak

closing

[2016-07-12 07:02] #3416 closed

[2016-07-12 08:14] agramfort commented on #3417
you mean it fails without X server?

[2016-07-12 08:53] ogrisel commented on #3190
Not really, as explained by @lesteve in joblib/joblib#344: using joblib while disabling then memory mapping feature (by setting explicitly `max_nbytes=None` which is not the default in joblib), you run the risk of hitting the following limitation of multiprocessing: the queues implementation in the Python standard library cannot hold object larger than 2GB: https://bugs.python.org/issue17560

My s

[2016-07-12 12:39] christianbrodbeck commented on #3417
Not sure what you mean, I am just running the command in the terminal. Should I run the command in a special way or install something? I have XQuartz installed if that is it.

[2016-07-12 13:12] agramfort commented on #3417
weird. tvtk is a dependency of mayavi so it should be lighter and work if
mayavi works on your system. Sorry I can't tell more

[2016-07-12 13:33] Eric89GXL commented on #3417
`wx` complains about framework builds like this. Try doing `ETS_TOOLKIT=qt4 command`

[2016-07-12 14:14] kingjr commented on #3190
@agramfort ok to change the default `max_nbytes` to avoid non-explicit error?

[2016-07-12 14:16] Eric89GXL commented on #3190
No, we can't change `max_nbytes` to anything other than `None` as a default because it requires writing something to disk somewhere (too invasive)

[2016-07-12 14:17] kingjr commented on #3190
ok, so we need to add a function that check that nbytes  is not > 2Go, else throw an explicit error

[2016-07-12 14:19] Eric89GXL commented on #3190
... although I just noticed that `joblib` defaults to using memmapping, so maybe we should have a deprecation cycle where we add it. Or maybe it's actually not so bad to use it by default, and we can just note it in the API section.

[2016-07-12 14:27] kingjr commented on #3190
writing on disk when you dont have ssd can be pretty annoying, so I would keep the defaults, and explicit the docs.

[2016-07-12 21:26] agramfort commented on #3190
whatever works but please bench if you change the default behavior. I trust
the joblib folks about good defaults though

[2016-07-13 01:11] christianbrodbeck commented on #3417
Thanks @Eric89GXL that was it! Would you be opposed to adding `os.environ['ETS_TOOLKIT'] = 'qt4'` to the `$ mne make_scalp_surfaces` command as we do for the `$ mne coreg` command?

[2016-07-13 05:59] jaeilepp opened #3419 "Memory consumption in plot_brainstorm_phantom_elekta"
Circle is failing because it's using so much memory.

[2016-07-13 11:15] Eric89GXL commented on #3417
I don't think we should really add that, if someone wants to or needs to
use wx then they can't. It would be better to catch the error (I think it's
actually SystemExit) and say something informative

[2016-07-13 12:25] deep-introspection opened #3420 "BUG: import of EDF files with accentuated annotations"
Hey!
So importing an EDF file, I have a crash

occuring at this level: https://github.com/mne-tools/mne-python/blob/f04d1460d10ebe3b9466ccad9c077040d42a6d5f/mne/io/edf/edf.py#L258

Digging into the code, I realize that the (French) people who have recorded the EEG may have put characters with accents.

By changing the above part of the code to :
[code]
I obtained this:

It's indeed French, and the

[2016-07-13 12:26] dengemann commented on #3420
cc @teonbrooks @jaeilepp

[2016-07-13 13:10] christianbrodbeck commented on #3417
So would it also be preferable to handle the environment for the GUI that way?

[2016-07-13 13:25] Eric89GXL commented on #3417
Yeah I think so

[2016-07-13 13:26] jaeilepp commented on #3420
@deep-introspection can you try if [this](https://github.com/mne-tools/mne-python/pull/3421) fix works for you.

[2016-07-13 13:29] #3282 closed

[2016-07-13 13:54] deep-introspection commented on #3420
@jaeilepp Sorry but apparently not ... The question in first place is what does a negative **_i_** mean? Shall we just make a warning and replace the character with a neutral one?

[2016-07-13 13:55] christianbrodbeck commented on #3417
addressed in #3422

[2016-07-13 13:55] #3417 closed

[2016-07-13 14:22] Eric89GXL commented on #3420
It would be better to properly handle UTF-8 encoding. We do it everywhere else (that we know of), and if the file format allows it, there should be some reasonable way to do it.

[2016-07-13 14:53] #3258 closed

[2016-07-13 15:10] jaeilepp commented on #3420
Is the error message still the same on https://github.com/mne-tools/mne-python/pull/3421? I can't be sure of the problem without testing it with some data. Can you share the problematic file?

[2016-07-13 15:34] deep-introspection commented on #3420
Yes, the error message is the same:

The problematic file is [there](http://www.morphomemetic.org/ftp/test_eeg.edf).

[2016-07-13 17:57] nfoti commented on #3308
Closing since #3350 has been merged.

[2016-07-13 17:57] #3308 closed

[2016-07-13 19:10] #3419 closed

[2016-07-15 18:36] teonbrooks opened #3424 "BUG: time domain of the plot_pattern exceed range"
Using the linear_model.plot_patterns, there is an error in the plot where the time points do not correspond to the epochs time range. We can also see this in the [example](http://martinos.org/mne/dev/auto_examples/decoding/plot_linear_model_patterns.html#sphx-glr-auto-examples-decoding-plot-linear-model-patterns-py) where the plot pattern should be from -200 to 500 ms but it exceeds it in the plot

[2016-07-17 16:12] jona-sassenhagen opened #3426 "copy params"
A few functions have copy params - for example, [set_eeg_reference](https://github.com/mne-tools/mne-python/blob/93e369654c2b0f881d433ac4a80c00ff3121a964/mne/io/reference.py#L124). Shouldn't these be deprecated in favour of using `inst.copy()`?

@Eric89GXL @dengemann

[2016-07-17 18:48] Eric89GXL commented on #3426
The policy we settled on is that methods should work in place and not copy,
functions should copy by default but have an option to work in place

[2016-07-17 18:49] jona-sassenhagen commented on #3426
Ah ok

[2016-07-17 18:49] #3426 closed

[2016-07-17 23:57] kingjr commented on #3424
IMO this `LinearModel` only contains 1 line of useful code (i.e.`np.dot(X.T, np.dot(X, self.model.coef_.T))`) out of 650 which are just copying sklearn objects, and copying plotting documentation.

IMO we should remove the object and update the example to make the Haufe trick explicit.

Alternatively, we can transform it into a Mixin class that we apply to decoding objects that are compatible with

[2016-07-17 23:59] jona-sassenhagen commented on #3424
Would be cool.

People ask me about straight-forward viz of GAT patterns a lot.

[2016-07-18 00:38] kingjr opened #3427 "ENH: EMS with sklearn object?"
@kaichogami there is a function `mne.decoding.ems.compute_ems` which could be implemented as an sklearn object to get a simple API.

Although the function looks awfully simple (it's a normalized differential response? Or I'm missing something).

@dengemann Do you have an opinion on this?

[2016-07-18 00:42] kingjr opened #3428 "Organizing supervised methods"
@kaichogami @dengemann @alexandrebarachant @agramfort @jona-sassenhagen @choldgraf

As you know, the aim of the GSoC is to clean up the decoding module. However, I'm not entirely clear on how to guide @kaichogami in terms of module and objects location.

I think we have two options:
* either we keep the transformers in their 'natural' locations e.g. `mne.preprocessing.ICA`, `mne.preprocessing.Xdaw

[2016-07-18 02:12] deep-introspection commented on #3420
@jaeilepp Can I help in any way?

[2016-07-18 03:54] teonbrooks commented on #3424
a mixin class with a `plot_pattern` method seems to be the best approach. i agree, i don't see a lot of the utility in the `LinearModel` class but maybe I'm missing something.

[2016-07-18 07:47] jaeilepp commented on #3420
I was able to get through the first error by basically skipping the problematic characters with the file you shared, but after that I encountered an error with overlapping events. I'm not too familiar with EDF data and not sure why that happens. Any ideas @teonbrooks @Eric89GXL ?

[2016-07-18 08:22] agramfort commented on #3424
+1 for mixin as it will force consistent API.

Yes it's 2 lines of numeric code but we want to keep examples simple.

Remember when you started with python a few years ago. An example with 100
lines of code with numpy tricks and matplotlib is a bit frighting when you
start

[2016-07-18 08:23] agramfort commented on #3427
+1 for sklearn API object for EMS

[2016-07-18 08:26] dengemann commented on #3424
I'd be ok with a mixin. Some doc would be good. Main problem to me is that
the haufe trick creates marginal stats, so it is not a simply a clean way
to show the weights but something different. You should look at both.
On Mon, 18 Jul 2016 at 10:22, Alexandre Gramfort <notifications@github.com>
wrote:

[2016-07-18 08:27] dengemann commented on #3427
Would be neat to have such an object. But priority is low at this point

On Mon, 18 Jul 2016 at 10:23, Alexandre Gramfort <notifications@github.com>
wrote:

[2016-07-18 13:26] kingjr commented on #3424
Ok we could do something like
[code]

and call `self._filter_pattern` after fit for Xdawn, CSP & GAT.

We could also go a step further to retrieve linear pipelines: e.g.
[code]

But maybe that takes us too far?

[2016-07-18 13:38] jasmainak opened #3430 "[Question / Bug?]: warnings when interpolating channels"
I get these warnings when I try to interpolate bad channels:

[code]

The code to reproduce is here:

[code]

It appears to be somehow related to this: https://github.com/mne-tools/mne-python/blob/master/mne/forward/_field_interpolation.py#L64-L65 but I'm not super sure what's going on. Any clues @Eric89GXL or @agramfort ?

[2016-07-18 14:39] Eric89GXL commented on #3430
A protection operator is being applied using fewer channels than were
originally used to compute the projection vectors, which can be dangerous
in some circumstances, thus the warning. Can we make the message clearer
somehow?

In this case they are empty room / acquisition machine projection vectors,
so it is probably okay.

[2016-07-18 15:12] jasmainak commented on #3430
okay, but why do we need to apply the projection vectors here? this is not something we do with EEG interpolation. To me, the user should apply it before in the pipeline.

[2016-07-18 15:30] Eric89GXL commented on #3430
One reason is that we are creating a minimum norm solution, so we apply
proj when doing it just like we do in standard inversion. There could be
good mathematical reasons for always doing that but we'll have to ask Matti
if we're really curious. But I think the idea is that if the projectors are
there, we assume they should be applied during inversion.

[2016-07-18 15:47] jasmainak commented on #3430
okay, I see. I am really curious :) The reason I ask is that when you compute a mapping matrix for 306 x 306 channels vs 305 x 1, it seems intuitive that they should be exactly the same if you drop the diagonal elements. That is, the quantity printed in the last two lines of this code:
[code]
`mapping_slice[0, :5]` and `mapping[0, 1:6]` should exactly be the same. However, this is the case only wh

[2016-07-18 16:23] Eric89GXL commented on #3420
Not a great permanent solution...

I don't really work with EDF so I can't help with the overlapping events stuff. Does it just mean that triggers we try to construct overlap? If so, the MNE-like thing to do would be to add them.

[2016-07-18 16:29] choldgraf commented on #3428
That is a tough question - do we have any intuition for how MNE users would
prefer things? E.g., I tend to think about everything in terms of
supervised learning etc so to me it seems natural to have things in a
machine-learning module of some sort. However that's just my perspective,
and my guess is that many people don't think about their analyses in that
way.

I like to think about it like this

[2016-07-18 16:48] kingjr commented on #3428
A difficulty to keep in mind is that we'll probably end up with a redundancy between the current MNE functions (`band_pass_filter`, `single_trial_power`, `apply_baseline`, ica etc) and what will be used in the sklearn pipeline (`Filter`, `TimeFreqDecomposer`, `Baseliner`, `ICA` etc).

One possible solution would be to adopt an analogous design to the viz module: i.e. write the function inside thei

[2016-07-18 17:02] jona-sassenhagen commented on #3428
prefer things? E.g., I tend to think about everything in terms of
supervised learning etc so to me it seems natural to have things in a
machine-learning module of some sort. However that's just my perspective,
and my guess is that many people don't think about their analyses in that
way.

and asked them to find an ICA function, where would they look? In a module
called "preprocessing", or a module

[2016-07-18 17:16] alexandrebarachant commented on #3428
To some extend, everything that is before the classifier can be considered as `preprocessing`, and i'm actually not sure the distinction with supervised and unsupervised is very relevant.

One issue is that some methods are not pure decoding or pure preprocessing. The spatial filtering methods (ICA, PCA, CSP, Xdawn, etc) are both used in decoding context but also in denoising or pattern visualizat

[2016-07-18 17:20] jona-sassenhagen commented on #3428
Yeah it would be nice to have one and the same API and back-end for plotting ICs/SSPs and classifier coefs/patterns. All in all, that would probably simplify the code, testing etc.

[2016-07-18 18:49] teonbrooks commented on #3424
oh, sorry, I should clarify, I meant if we moved its plotting functions to a Mixin class, there wouldn't be much left. but I just realized that this class is also the generic stand-in for all the linear models.

btw, I still do get a lil' frighten with all the np and mpl tricks. for example, our spatio-temporal cluster plot example is not for the faint of heart ;)

[2016-07-18 19:12] teonbrooks commented on #3420
i don't understand the overlapping problem. could you explain it a little more?

[2016-07-18 19:17] Eric89GXL commented on #3420
I assume he's talking about [this] (https://github.com/mne-tools/mne-python/blob/master/mne/io/edf/edf.py#L207), which I assume is there because we haven't worked out how to deal with the overlaps. It might not always be possible to do so without having the user provide a new mapping. For example, if there is an event of type 1 and an event of type 3, we cannot simply add them (which is what I sug

[2016-07-18 19:31] kingjr commented on #3428
+1

The `spatial_filter` could indeed be an alternative. However, I'm not sure how easy it will be to unify everything: in the GSoC, we've made the decision to keep the object as simple as possible (use of numpy arrays, explicit params etc), whereas the current `ICA` takes mne objects and do a lot of fancy but useful stuff wrt plotting.

[2016-07-18 20:38] jona-sassenhagen opened #3432 "Unhelpful error message for mne.coreg.gui when files are missing"
I tried to plot a subject with `mne.coreg.gui` for which I had not downloaded all surface files yet. I got this error message:

[code]

Took me a while to figure out what the problem was.
Can't really reproduce because I don't know what files hadn't finished downloading yet ... but basically, mne.coreg.gui should give a more helpful error message when files are missing.

(Not the issue I mentioned

[2016-07-18 20:39] jona-sassenhagen commented on #3358
I'd prefer written docs with pics actually.

[2016-07-18 20:40] Eric89GXL commented on #3358
Me too, easier to reference and link, etc.

[2016-07-18 20:54] kingjr commented on #3358
Also +1 for written docs, so that we can copy/paste and go at the adequate speed.

[2016-07-18 21:14] Eric89GXL opened #3433 "BUG: examples/decoding/plot_decoding_xdawn_transformer.py fails on `master`"
cc @kaichogami @kingjr looks like a PR was merged with a failing example. Can you have a look?

[2016-07-18 21:14] Eric89GXL commented on #3433
This is the traceback, CircleCI has the same error:
[code]

[2016-07-18 21:18] kingjr commented on #3433
Ok

[2016-07-18 21:37] agramfort commented on #3424
@kingjr I would say why not but maybe not a priority. I would keep this for
a sprint...

what you see in
http://martinos.org/mne/stable/auto_examples/decoding/plot_linear_model_patterns.html
took some time to get during the last sprint in paris.

[2016-07-18 21:44] agramfort commented on #3428
I agree with some of the comments. Just my 2 quick cents:

we should not put code in modules based on their API. ICA is used mostly
for denoising / pattern viz and therefore fits in preprocessing. Classical
MEG/EEG
users, non BCI folks, should use Xdawn for denoising, hence the
preprocessing
module.

the decoding module is meant (only?) for supervised tasks where the sklearn
API is really powerful

[2016-07-18 21:51] jona-sassenhagen commented on #3428
FWIW I've used ICs instead of sensors a few times for GAT decoding and it makes stuff a bit faster and sometimes gives you an extra percentage point on the scores. though I wouldn't *fit* the ICs at that stage, just apply.

[2016-07-18 21:58] agramfort commented on #3428
ok but then it's denoising not a pipeline step in the sklearn sense

[2016-07-18 21:59] kingjr commented on #3428
@jona-sassenhagen  yes it's faster with dimensionality reduction although doing it with an xdawn is probably a better idea. It was one of my best evoked preproc for [this](https://github.com/kingjr/decoding_challenge_cortana_2016_3rd).

ok

So... TimeFreq, Filter and other kind of non supervised sklearn-like objects in their respective module?

[2016-07-18 22:00] #3260 closed

[2016-07-18 22:01] kingjr commented on #3428
@agramfort I'm note sure what you mean. Both @alexandrebarachant and I use these kind of steps in sklearn pipelines: e.g. https://github.com/kingjr/decoding_challenge_cortana_2016_3rd, https://github.com/alexandrebarachant/decoding-brain-challenge-2016.

[2016-07-18 22:01] Eric89GXL commented on #3256
How about `~/mne_data`? If that's acceptable I'll make a PR

[2016-07-18 22:02] agramfort commented on #3428
if they are meant to be used in decoding pipelines then in decoding.

I don't to teach the use of these objects outside of the decoding use case.

[2016-07-18 22:02] agramfort commented on #3256
yes +1 for ~/mne_data like sklearn and nilearn do it

[2016-07-18 22:04] kingjr commented on #3428
@agramfort so... based on API then ;)

[2016-07-18 22:05] agramfort commented on #3428
I agree that we follow my logic ICA with transform should be in decoding
but that's not the primary use case of ICA.

[2016-07-18 22:06] agramfort commented on #3428
yes for new objects but keep me ICA and Xdawn classes in preprocessing

[2016-07-18 22:06] Eric89GXL commented on #3089
Closing due to non-response, but @kdoelling1919 please reopen if you can provide a gist to replicate

[2016-07-18 22:06] #3089 closed

[2016-07-18 22:07] agramfort commented on #3428
at least the Xdawn we have now with overlaps. overlaps are not ok with
cross-val hence for decodign

[2016-07-18 22:09] jona-sassenhagen opened #3435 "TVTK requirement for building high res surfs"
Running `mne make_scalp_surfaces` on a Mac, I get

[code]

[2016-07-18 22:10] Eric89GXL commented on #2740
Closing due to non response, @ImmanuelSamuel feel free to reopen if you have other updates

[2016-07-18 22:11] Eric89GXL commented on #3435
This should only happen if decimation is requested, I'll fix it

[2016-07-18 22:17] choldgraf commented on #3428
Would it be too confusing to have functions live in their current places (e.g., preprocessing etc) but have objects meant for sklearn-style fitting built on top of those functions and living in some kind of `learn` or `supervised` module (e.g., with a pointer in their docstring to say where their underlying function lives)?

[2016-07-18 22:26] Eric89GXL commented on #3435
...looks like decimation is mandatory, I'll probably make an argument to supply the decimation levels

[2016-07-18 22:27] Eric89GXL commented on #3435
Or since they're called "medium" and "sparse", maybe just `--nodecimate` would do it

[2016-07-18 22:40] Eric89GXL commented on #3075
I opened an issue on Sphinx-doc (https://github.com/sphinx-doc/sphinx/issues/2790) with an offer to make a PR, we'll see if it gets any traction

[2016-07-18 22:44] alexandrebarachant commented on #3428
`Xdawn` is a method designed for decoding, but it turns out to be so effective to pull up the ERP on a subset of components that one of it's use could be to do denoising or artifact removal (for artifact that are time locked). So i added the `inverse_transform` and `apply` method, but it's not the typical use case of this method.

The inverse is true for `CSP`, which is used in decoding but is als

[2016-07-18 22:49] teonbrooks commented on #3424
in the meanwhile, does it anyone see the problematic lines for the time bound breach? sorry, I unfortunately don't have the time to search for it; just relaying the bug

[2016-07-18 22:54] teonbrooks commented on #3428
missing plot features related to discussion in #3424

[2016-07-19 06:01] kaichogami commented on #3433
@Eric89GXL this is because `label_binarize` coverts `y` into a column
vector.
Even after correcting that, it will likely fail as `LogisticRegression`
expects a two dimensional matrix. I have addressed the issue in pr #3409.
On Jul 19, 2016 2:48 AM, "Jean-Rémi KING" <notifications@github.com> wrote:

[2016-07-19 09:00] deep-introspection commented on #3420
@jaeilepp, how did you skip properly the problematic characters?

I tried this:
[code]

but this crash later on:

[code]

[2016-07-19 13:03] agramfort commented on #3424
it's because the plot patterns uses indices and does not know about tmin
AFAIK. If you set tmin=0 by cropping I think you can go around the pb. It's
indeed a bug though

[2016-07-19 13:06] agramfort commented on #3430
what do you suggest? improving the doc? better warning?

[2016-07-19 15:47] Eric89GXL commented on #3071
From a quick conversation with Matti, it looks like if we do write out data that has been compensated, we should set the higher order bits to the compensation grade.

[2016-07-19 16:46] Eric89GXL commented on #3274
Okay, I finally figured this one out. The precedence for config values is:

1. Options passed into function (e.g., `subjects_dir`)
2. Env vars
3. Config file values

Currently writing config vals with `set_config` does not update the environment, *even if the var is present in the environment*, which gives rise to your problem (i.e., that doing `set_config(...)` seems to have no effect, because it

[2016-07-19 17:07] Eric89GXL commented on #3071
@jaeilepp do you remember where you actually saw `coil_type` being mis-used due to the compensation grade being present?

[2016-07-19 17:59] kingjr commented on #3274
I vote for 3

[2016-07-19 18:11] kingjr commented on #3433
I have updated the example in https://github.com/mne-tools/mne-python/pull/3425.

[2016-07-19 18:45] christianbrodbeck commented on #3432
This sounds like we should update `_is_mri_subject()` to check for all the files that are actually needed, so in your case subjects_dir would have looked empty?

[2016-07-19 18:59] Eric89GXL commented on #3432
That sounds reasonable to me. Is there some way we can take it a step further to tell if *probably is meant to be a subject* but *definitely isn't usable*, and warn for that set of folders? For example if the standard folders are present like `mri`, `surf`, and `bem` but no head surface is found?

[2016-07-19 19:21] christianbrodbeck commented on #3432
Yeah we could look for "partial" subjects and show an info dialog if there are any?

[2016-07-19 19:51] Eric89GXL commented on #3432
Sounds good to me, although if it's a modal dialog then people with odd setups will get annoyed at having to click it away every use. Are you worried that a `warn(...)` will be missed?

[2016-07-19 19:53] christianbrodbeck commented on #3432
Yeah that's true... we could just `warn()`, assuming that when something goes not as expected people will look to the Terminal

[2016-07-19 21:24] jona-sassenhagen commented on #3274
FWIW I'm running into the same problem right now.

[2016-07-19 21:36] Eric89GXL commented on #3274
Feel free to try #3439

[2016-07-19 22:32] choldgraf opened #3441 "Stickers?"
For a totally non-coding-related question:

I just got back from Scipy and there were so many cool stickers there for the various open-source projects in the scientific python ecosystem. Now, I'm not usually a "fill my laptop with stickers" kinda guy, but the scipy folks guilt tripped me into putting on a few of them.

Now that MNE has a fancy shmancy logo with nice colors and such, did anybody ha

[2016-07-19 22:34] agramfort commented on #3274
3) is fine with me

[2016-07-19 22:36] agramfort commented on #3441
:)

[2016-07-19 22:45] #3256 closed

[2016-07-20 01:28] christianbrodbeck commented on #3358
A related question, I just tried to find out what exactly fsaverage is an average of, and could not find a clear description... https://surfer.nmr.mgh.harvard.edu/fswiki/FsAverage
refers to a "README file in $FREESURFER_HOME/subjects/fsaverage" but I don't seem to have that readme file. A guess based on the link at the top of the WIKI page, is FSAverage based on the "Buckner40"? (https://surfer.nm

[2016-07-20 02:22] Eric89GXL commented on #3358
http://openwetware.org/wiki/Beauchamp:FSAverageReadme

But even from this I'm not sure, maybe there is a trail you can follow in
there

[2016-07-20 02:55] #3274 closed

[2016-07-20 03:38] christianbrodbeck commented on #3358
Thanks @Eric89GXL ! `make_average_surface.log` indeed references the [Buckner40 subjects](https://surfer.nmr.mgh.harvard.edu/fswiki/Buckner40Notes)

[2016-07-20 09:56] jaeilepp commented on #3420
I don't have the code with me now, but I remember it being quite hackish. I think I checked the range in two places, so probably a check before line 16 in edf.py will do it.

[2016-07-20 10:09] jaeilepp commented on #3071
No idea. I cannot find the mailing list post that had this issue. I think we can close this.

[2016-07-20 10:09] #3071 closed

[2016-07-20 11:09] deep-introspection commented on #3420
@jaeilepp Curious to see what hack you found. Line 16 don't make sense to me.

[2016-07-20 13:32] jasmainak commented on #3430
I suggest getting rid of the warning since it's not clear what the warning means in the context of channel interpolation. Further, if I try to do epoch-wise interpolation, I'm being flooded by these warnings.

Maybe something [like this](https://github.com/mne-tools/mne-python/compare/master...jasmainak:fix_proj_interp?expand=1) would work? I don't seem to see any qualitative difference in the int

[2016-07-20 13:53] Eric89GXL commented on #3358
Please add notes to our doc for the next person who is curious

[2016-07-20 17:11] kingjr commented on #3441
lol #PhotoshopSkills

[2016-07-20 17:57] teonbrooks commented on #3441
would be cool if our logo had an optional, transparent background. that would make for better printed decals.

[2016-07-20 18:04] Eric89GXL commented on #3441
I'm pretty sure @drammock included scripts with the logo when he made it so you should be able to recreate it, but it's already an SVG somewhere so changing the background color in something like Inkscape should hopefully be trivial

[2016-07-20 18:15] teonbrooks commented on #3441
cf. https://github.com/mne-tools/mne-python/pull/2395

I tried it a while back but I'm missing a font in mpl and that was a rabbit hole I couldn't go down. nevertheless, it still rendered

[2016-07-20 18:53] kingjr opened #3442 "ENH: GSoC 2016"
We have quite a lot ongoing PRs, so I thought I would try to organize them here to keep track of the big picture. I'll edit the post along the issue along the way.

The aim is to make transformers that follow the sklearn API:

[code]

For now, we're focusing on sklearn integration, not high level features (plotting, get_coefs_ etc).

* Spatial filters:
    - [ ] XdawnTransformer: started in #3245,

[2016-07-20 20:02] Eric89GXL commented on #3430
If you want to go that route you'll have to ask Matti why the projections are used (maybe just for denoising?)

It's *probably* okay to silence the warnings with `verbose='error'`, but it seems a bit risky

[2016-07-20 20:44] jona-sassenhagen commented on #3427
Do people use this much? (Just as an estimate for priorities.) My intuition would be like @dengemann 's

[2016-07-20 20:54] hoirkmann opened #3444 "mne.event.define_target_events; AttributeError"
Hello there,

when I run mne.event.define_target_events the following traceback is displayed:
`
Traceback (most recent call last):
  File "compute_1.5.py", line 187, in <module>
    events = mne.event.define_target_events(events=events,reference_id=cond,target_id=99,sfreq=500.0,tmin=0.0,tmax=2.0,new_id=cond,fill_na=None)
    File "/home/jon/.local/lib/python3.4/site-packages/mne/event.py", line 12

[2016-07-20 20:55] jona-sassenhagen commented on #3444
What does the `events` object look like when you print it?

[2016-07-20 20:58] Eric89GXL commented on #3444
`define_target_events` returns two elements (i.e., a two-element tuple):

http://mne-tools.github.io/stable/generated/mne.event.define_target_events.html#mne.event.define_target_events

If you do `events = define_target_events(...)[0]` to pick the first one or `events, lag = define_target_events(...)` you should be good to go

[2016-07-20 20:58] #3444 closed

[2016-07-20 21:08] agramfort commented on #3427
low priority I agree but maybe we should document it better to attract more
users of this...

[2016-07-20 21:10] jona-sassenhagen commented on #3427
Couldn't it be reconstructed by relying on e.g. sklearn's LOO cv? Building on standard tools rather than a custom implementation with a novel API?

[2016-07-20 21:15] agramfort commented on #3427
yes probably...

[2016-07-20 21:17] choldgraf commented on #3441
Printing a clear MNE logo was pretty easy for me. Just modify the script to save to .svg and delete the background in Illustrator/whatever (or you might be able to just sit the background patch `visible` parameter to false in matplotlib). E.g.:

![mne_logo_03](https://cloud.githubusercontent.com/assets/1839645/17003391/5bfe0494-4e95-11e6-969e-2b898cc38b7e.png)

FWIW, all the other folks seemed to

[2016-07-20 21:18] jona-sassenhagen commented on #3441
That's actually the first time Donald Trump has "worked" for me.

If his job was running around and selling people on MNE, ... I think he'd be well suited to that.

[2016-07-20 21:18] Eric89GXL commented on #3441
There is something wrong with that one... I think it's the wrong font perhaps

[2016-07-20 21:19] jona-sassenhagen commented on #3441
The way the gradient works, it makes Trump's cheeks look really hamsterish.

[2016-07-20 21:20] agramfort commented on #3441
just make a proper one and I'll find the cash :)

[2016-07-20 21:22] choldgraf commented on #3441
i actually do think my computer is missing a font as well (probably the same problem @teonbrooks ran into). I think it's pretty easy to add the font to MPL if I can find the TTL file somewhere.

BTW, where is that logo-generating script these days? I had to find it in a link that somebody sent in an old PR, but I couldn't find it in the main codebase

[2016-07-20 21:33] agramfort commented on #3430
@jasmainak try removing the projs from the info and see if it affects your
results.

you can silence for you the warnings with verbose='error' indeed.

[2016-07-20 21:50] #3435 closed

[2016-07-20 21:52] jona-sassenhagen commented on #3432
Ideally, there'd be a message of what files specifically are missing, and what should be done to fix them (ie., re-run recon-all or whatever).

Not sure if this is practically, I don't really understand the MRI backbone so far.

[2016-07-21 02:53] choldgraf commented on #3441
Does this look correct?

![mne_logo_03](https://cloud.githubusercontent.com/assets/1839645/17009850/5294dcbe-4ec4-11e6-9ee9-6be0c36afc3e.png)

[2016-07-21 02:53] #3433 closed

[2016-07-21 02:55] Eric89GXL commented on #3441
That would looks a bit stretched, it should look like it does on the MNE-Python website:
![Logo](http://mne-tools.github.io/stable/_static/mne_logo.png)

[2016-07-21 03:32] choldgraf commented on #3441
Hmm, well I'm using the script that was linked here:

https://github.com/mne-tools/mne-python/blob/d42a711f5184f64a251398bc39834cf46ac60d17/doc/generate_mne_logos.py

Only changing the output to `svg` instead of `png`. There there system /
software requirements for that script to work properly? Or is there an
updated version somewhere? It looks like it's not in master at that
location.

On Wed, Ju

[2016-07-21 04:03] Eric89GXL commented on #3441
I just generated this (on Windows even!) after:

1. installing [Primetime TTF] (http://www.dafont.com/primetime.font) and [Cooper Hewitt OTF] (https://www.cooperhewitt.org/wp-content/uploads/fonts/CooperHewitt-OTF-public.zip)
2. Removing `~/.matplotlib/fontList.cache` to force it to rebuild my cache
3. Removing `op.join`s in the writing (since I was running it from out of place)

and got the corre

[2016-07-21 04:11] Eric89GXL commented on #3441
Oh actually the script is here (hah!):

https://github.com/mne-tools/mne-python/blob/master/logo/generate_mne_logos.py

[2016-07-21 04:11] Eric89GXL commented on #3441
(found using http://stackoverflow.com/questions/6839398/find-when-a-file-was-deleted-in-git)

[2016-07-21 04:35] drammock commented on #3441
Sorry to chime in so late.  @Eric89GXL is right, the script needs a couple of uncommon (though free) fonts to work properly.  Here's an SVG version:

http://dan.mccloy.info/data/mne-logo.svg
-- dan

On 07/20/2016 09:11 PM, Eric Larson wrote:

[2016-07-21 08:16] hoirkmann commented on #3444
Thank you.

[2016-07-21 15:22] kingjr commented on #3428
I suggest to adopt the following organization. @agramfort @Eric89GXL @dengemann you have as more experience in package organization. LMKWYT.

1) Each transformer is paired with a set of (potentially private) functions similarly to the to-be-merged EMS and XDawn classes: e.g.
[code]

* This will facilitate the integration of the functions already existing in MNE to their sklearn-API counter parts.

[2016-07-21 16:30] alexandrebarachant commented on #3428
@kingjr you don't need to steal the `Covariance` estimation module. Like for the CSP, the covariance estimation will be done within the `fit()`. for pyRiemann i chose to externalize the covariance estimation because it gave you more flexibility and to be directly compatible with other tools of the toolbox. IMO, the same thing is out of the scope of MNE, and it will be less confusing for the user t

[2016-07-21 18:56] Eric89GXL commented on #3428
I'm not familiar enough with how all these bits work together to comment meaningfully right now :(

[2016-07-21 19:12] kingjr commented on #3428
### .apply()

Thanks for the clarification. This API seems to deviate from the sklearn API, which in the past has proved difficult to support, but perhaps it could be interesting to generalize it to all spatial filters.

### Covariances

I thought it would be beneficial to give the user a decoding example to do `make_pipeline(Xdawn(), Covariance(), TangentSpace(), LogisticRegression())`, no? Plus

[2016-07-21 22:00] choldgraf commented on #3441
Huh, I wonder why it's appearing stretched on my computer. I'm not getting any font errors but it still looks slightly vertically stretched (using the version that is in the `logo` folder, which I stupidly missed before)

[2016-07-21 22:04] choldgraf commented on #3441
Though either way it sounds like the SVG @drammock linked is all we need. Here's a PNG version w/o a background:

![mne-logo_03](https://cloud.githubusercontent.com/assets/1839645/17040422/249e4bd2-4f65-11e6-95eb-227f5a149ded.png)

It looked like this is what the other folks at scipy were using:

https://www.stickermule.com/products/die-cut-stickers

[2016-07-22 00:36] drammock commented on #3441
@all please note that the Primetime font used for the letters MNE is "free
for personal use only" so the stickers should not be used for fundraising /
profit.  The tagline font (Cooper Hewitt) is under a SIL Open Font Licence.

@choldgraf I've often noticed that matplotlib is inconsistent on when /
whether its missing font warnings make it through to stdout, so I wouldn't
be surprised if on your s

[2016-07-22 13:07] agramfort commented on #3428
yes apply is a shortcut for transform().inverse_transform() that works with
MNE objects and that is way more efficient than doing
transform().inverse_transform(). No need to compute sources array to
denoise / remove some of them.

[2016-07-22 14:10] agramfort commented on #3428
X_denoise = A_clean * W * X_noisy

but :

X_denoise = (A_clean * W) * X_noisy

is faster and less memory demanding than:

X_denoise = A_clean * (W * X_noisy)

ok?

no strong opinion. I'd rather have n_components in init only though.

then no

[2016-07-22 15:14] alexandrebarachant commented on #3428
For some application (or for ICA), you want to be able to pick / nullify a specific set of component. So having just a fixed number of components, ranked by the algorithm, is not enough IMO.

Having `exlude` and `include` as parameter of the `apply()` method, like it is for ICA, is a good idea. I'm not fond of having this in init as it will force you to call fit every time you want to change this

[2016-07-22 15:41] kingjr commented on #3428
@agramfort OK

@alexandrebarachant We could potentially pass either an int or a list to `apply()` to select the components. But overall, I think this kind of method is to be applied in more general data processing way, and is not suited for the sklearn-decoding / encoding pipeline that we're trying to achieve.

So in conclusion, I think we should primarily focus on the pipelinable features (method

[2016-07-22 16:00] alexandrebarachant commented on #3428
@kingjr agreed.

[2016-07-22 17:07] choldgraf commented on #3441
Yeah I'm not sure what's up with matplotlib. I was getting font errors before, but I found/downloaded the ttl files for those fonts and now I'm not getting the errors. Comparing the PNG I showed above vs. the correct ones below it, the fonts look pretty much the same, so I'm not sure what's going on

[2016-07-22 20:47] agramfort commented on #3428
ok but don't deprecate what we have for now, just refactor to avoid code
dupes and convince use with cool examples with beautiful python code :)

[2016-07-22 21:07] kingjr commented on #3428
I'll just focus on enhancements from now on. If you want to keep the current functions, I'll let someone else take care of the corresponding refactoring.

[2016-07-22 21:14] agramfort commented on #3428
sounds like a plan.

[2016-07-23 19:03] mmagnuski opened #3451 "ica.plot_overlay - red and black lines are now mixed"
[`plot_overlay` mixes red and black lines](http://www.martinos.org/mne/dev/_images/sphx_glr_plot_artifacts_correction_ica_010.png) because `mne.viz.evoked._plot_evoked` uses `z_order` param now and the default 'unsorted' value gives different z-order to each line. When two evokeds are plotted successively (before ICA - red; after ICA - black) this causes the lines to mix.
Potential solutions:
* `_

[2016-07-23 19:06] jona-sassenhagen commented on #3451
In https://github.com/mne-tools/mne-python/blob/master/mne/viz/evoked.py#L348

`zorder=z+1 if spatial_colors else 1`

?

[2016-07-23 19:08] mmagnuski commented on #3451
@jona-sassenhagen even better :)

[2016-07-23 20:14] agramfort commented on #3451
PR welcome

[2016-07-24 18:33] #3220 closed

[2016-07-25 07:39] jasmainak commented on #3430
okay, sounds like doing verbose='error' could be a "fix". But it's not exposed for `raw.interpolate_bads()`. I want to suppress the warnings only for this method, not everywhere.

[2016-07-25 12:51] Eric89GXL commented on #3430
Pass verbose='error' param only within some call inside interpolate_bads,
probably make_projector or so

[2016-07-25 12:55] Eric89GXL commented on #3430
Actually a better fix is to call info.normalize_proj before passing it along

[2016-07-25 13:29] jasmainak commented on #3430
okay, so there is something to fix in MNE master? should I make a PR?

[2016-07-25 13:46] Eric89GXL commented on #3430
You could do it in your own code before calling the interpolation function
for now. Not sure if we want it in master or not. Maybe?

[2016-07-25 15:08] #3451 closed

[2016-07-26 05:14] deep-introspection commented on #3420
@jaeilepp ?

[2016-07-26 06:41] deep-introspection commented on #3420
Ok, so I solved the problem by checking the validity of the characters:
[code]
Then, for the overlapping events, I changed the _Raise_ of _NotImplementedError_ by a _Warning_.
The events are still available with:
[code]
Shall I attempt a pull request?

[2016-07-26 06:54] agramfort commented on #3420
+1 for PR

On Tue, Jul 26, 2016 at 8:41 AM +0200, "Guillaume Dumas" <notifications@github.com> wrote:

Ok, so I solved the problem by checking the validity of the characters:

for s in tal_channel_data:
    i = int(s)
    i0, i1 = i % 256, i // 256
    if  0 <= i0 < 128 and 0 <= i1 < 128:
        tals.extend([i0, i1])
    else:
        warn('Skipped invalid caracters...')

Then, for the overlappin

[2016-07-26 07:25] deep-introspection commented on #3420
Done :) https://github.com/mne-tools/mne-python/pull/3457

[2016-07-26 13:41] kingjr opened #3458 "FIX: raise explicit error for concatenate epochs with different dev_head_t"
Related to https://github.com/mne-tools/mne-python/pull/3313.

Concatenating epochs with different 'dev_head_t' throws an error, with may look a bit mysterious for those users who don't know what this info means.

[2016-07-26 13:55] mmagnuski opened #3459 "mne tries to download data to nonexistent directory (it tries Anaconda not Miniconda3 directory)"
when doing:
[code]
I get the following error:
[code]

This happens on dev mne-python (almost latest master, about 3 commits behind).
The following command:
[code]
returns:
[code]
but because I have miniconda installed on this computer, the correct path should begin with `C:\Miniconda3\Lib\site-packages`.

Other than that, I don't know what specifically goes wrong, but will happily try out any idea

[2016-07-26 13:57] agramfort commented on #3459
current master should download stuff in your home dir now rather than in
the install path.

[2016-07-26 13:58] mmagnuski commented on #3459
updated to current master - still the same error.

[2016-07-26 14:14] agramfort commented on #3459
this PR https://github.com/mne-tools/mne-python/pull/3437
should have fixed it :(

[2016-07-26 15:17] agostontorok opened #3460 "BUG: ICA mixing matrix shape mismatch"
I recently got into a small trouble:

Description: When I set _n_ for the value of n_components in and ICA decomposition and _n_ < Picks, it results in an ica object with a mixing_matrix_.shape of _n_ by _n_ instead of _n_ by Picks.

Here is a toy code to reproduce the bug:

[code]

BTW mne.__version__ is '0.12.0'

Best,

Agoston

[2016-07-26 15:23] agramfort commented on #3460
this is not a bug; The mixing matrix is used after dim reduction via PCA, so it's always squared. You need to take into account the pca_components_ attribute. See the code if needed.

reopen if needed

[2016-07-26 15:23] #3460 closed

[2016-07-26 15:34] Eric89GXL commented on #3459
You probably have an old entry in your config file, can you try
mne.get_config() and report the result?

I'm not sure how master could otherwise point to the examples directory but
maybe I missed it. Can you try a little bit of debugging?

[2016-07-26 15:42] Eric89GXL commented on #3458
Do you have time for a PR? Sometimes it's almost a quick as opening an
issue :)

[2016-07-26 15:44] kingjr commented on #3458
My experience sofar is that it's PR opening is a bit like a pandora box :/

[2016-07-26 15:50] agostontorok commented on #3460
The `S_.pca_components_.shape` is (100, 274) in this example. Note I did not set either n_pca_components or max_pca_components. The description says:
[code]

[2016-07-26 15:57] agramfort commented on #3460
see for example here:

https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/ica.py#L1270

after picking the good ica sources we put back the PCA components up to a
number given by:

_n_pca_comp = self._check_n_pca_components(self.n_pca_components)

[2016-07-26 16:22] agostontorok commented on #3460
Thank you Alexandre for the reference, I see, so the ICA is done on the _n_components_ PCs with the highest explained variance. But can I run the analysis __without__ PCA? I tried setting both n_pca_components = None, max_pca_components = None and still the result was w/ PCA

[2016-07-26 18:11] Eric89GXL commented on #3458
This one should be pretty straightforward (unlike the decoding ones) but I
can do it later if you're not going to

[2016-07-26 19:07] mmagnuski commented on #3460
If `n_components` is None all PCA components should be used in ICA, so it is like without PCA dim reduction.

[2016-07-26 19:11] jona-sassenhagen commented on #3460
If you want to get the weight maps, use `mne.preprocessing.ica._get_ica_map`.

[2016-07-26 19:14] dengemann commented on #3460
if `n_pca_components` is None, you use all PCA components, amounting to not
actually performing PCA but simply using it for sphering. `n_components`
refers to the ICA components.

On Tue, Jul 26, 2016 at 9:07 PM, Mikolaj Magnuski <notifications@github.com>
wrote:

[2016-07-26 19:18] joewalter commented on #2995
@Eric89GXL have you made any progress on this issue?
Are there already ideas how to generalize the representation of sparse stcs and dipoles?

[2016-07-26 20:40] mmagnuski commented on #3459
I will try some debugging, the output of `get_config` is in my original post, but I'm pasting it here:
[code]
returns:
[code]
so I seem to have an old entry in config. It makes sense - I might have had Anaconda before Miniconda, but mne config stayed where it was. So maybe adding  some check for existence of the directory and some meaningful error message would be good?

[2016-07-26 20:56] mmagnuski commented on #3460
@dengemann Right, I meant `n_pca_components`. But I think the interactions between `n_components`, `n_components_`, `n_pca_components` and `max_pca_components` may be a little confusing - what do you think about clarifying the docs a little?

[2016-07-26 21:22] Eric89GXL commented on #2995
No progress yet.

I guess we could plot them in slices of an MRI viewer but it probably won't
end up being all that satisfying.

A Mayavi window with translucent head and BEM shells actually would work.

Now that I think about it, neither of these should be all that much work.

WDYT?

[2016-07-26 21:40] #3427 closed

[2016-07-26 22:29] jona-sassenhagen commented on #3460
I think it might be worth to make get_ica_map a public method of ICA. We have had requests for the weight maps a few times now IIRC.

[2016-07-26 22:48] dengemann commented on #3460
you're volunteering right? :)
Clearer docs are always a good idea.

On Wed, Jul 27, 2016 at 12:29 AM, jona-sassenhagen <notifications@github.com

[2016-07-26 23:05] mmagnuski commented on #3460
@dengemann @jona-sassenhagen
I'll try to take care of both in the next few days (I was diving into ICA code anyway to sort infomax components by explained variance).

[2016-07-26 23:10] dengemann commented on #3460
I guess that's a much desired feature by Infomax fans. That would be a nice contribution. @mmagnuski don't hesitate to blame me if you get stuck with ICA code hermeneutics.

[2016-07-27 02:50] Eric89GXL commented on #3459
I thought it tried to do some writing, but maybe it doesn't. I guess we could try writing a temp file to the directory and see if it passes.

[2016-07-27 08:53] agramfort commented on #3460
looking at @jmontoyam 's code something like this:

[code]

seems to match the eeglab results.

HTH

[2016-07-27 09:03] agostontorok commented on #3460
Thank you both for this discussion, I would be more than happy if you clarify the documentation.

Just a few extra comments:
@dengemann, you wrote

actually performing PCA but simply using it for sphering. `n_components`
refers to the ICA components.

based on this I would expect 274 PC of the 274 channels in the above example, yet I get 100. Also I checked when I set max_pca_components to 200 it

[2016-07-27 11:25] joewalter commented on #2995
I think that showing the dipoles on MRI slices is a good idea as this is what people are used to see from other toolboxes.

Maybe it is also a good idea to combine both of your approaches. We could have four axes, three showing orthogonal MRI slices with dipoles and a fourth axes showing a glas brain with the dipoles and orthogonal planes indicating the slices. This fourth plot could then be used

[2016-07-27 11:46] Eric89GXL commented on #2995
Have you looked at nibabel orthoview? It's close to what you mention with
cross hairs and four axes. Ideally we would just need to add a fifth for
glass brain, but since the first four axes are mpl and the fifth mayavi
it's probably easiest just to make separate windows, lest we hit awful
backend problems. (Matplotlib and mayavi have enough backend problems by
themselves, combining them will surel

[2016-07-27 11:51] agramfort commented on #2995
here are examples:

http://cognitrn.psych.indiana.edu/busey/temp/eeglabtutorial4.301/dipfittut/dipplot_multifit.gif
http://cognitrn.psych.indiana.edu/busey/temp/eeglabtutorial4.301/dipfittut/dipplot3.gif
http://journals.plos.org/plosbiology/article/figure/image?download&size=large&id=info:doi/10.1371/journal.pbio.0020176.g005

for the last one with glass brain it means using a template brain and w

[2016-07-27 15:06] kingjr opened #3464 "ENH: make _segment_raw public"
@mmagnuski suggested using mne.epochs._seg_raw, in the mne discussion, but the function is private. Shall we make it public?

[2016-07-27 16:58] mmagnuski commented on #3464
There was a discussion about it during my plot_properties PR (where _segment_raw was added). I think it is pretty common usage and we even considered making a `segment` method for raw.
If I remember correctly @jona-sassenhagen was +1 but @agramfort and @Eric89GXL were not convinced so it ended up being private.
I'm +1 on making it public, but I don't want to start a fight ;)

[2016-07-27 17:36] Eric89GXL commented on #3464
It's okay to start fights it's the only way to get us curmudgeonly folk to
budge sometimes :)

My recollection was that such a function would essentially call
make_fixed_length_events followed by Epochs constructor, thus end up with a
nasty signature if it wanted to provide the same amount of flexibility. The
only advantage would be it would use one function call instead of two,
right?

[2016-07-27 18:10] kingjr commented on #3464
Then I would add brief section to the preprocessing tutorial to make these two calls

[2016-07-27 18:10] kingjr commented on #3464
(by I, I actually don't mean I)

[2016-07-27 18:12] jona-sassenhagen commented on #3464
IIRC didn't say it should be made public, but that it might be cool to have it as a method.

[2016-07-27 19:47] mmagnuski commented on #3464
@Eric89GXL the function is definitelly short, removing the docstring it is just:
[code]
but I still think it is easier to write and *remember* this instead:
[code]

or along the lines of what @jona-sassenhagen says:
[code]

I can make a small PR to fix this - whichever you prefer:
* adding a few lines to some example/tutorial to show how to use `make_fixed_length_events` and then pass the events t

[2016-07-27 20:08] agramfort commented on #3464
can you explain me:

why you want to segment epochs?

what is your use case of segment? is it really that common that 2 function
calls is too much?

[2016-07-27 20:42] Eric89GXL commented on #3464
What if we make it that if the events argument to Epochs a float-like, it
creates events of that duration with event number 1? Then it's only a
single call for people who need a shortcut.

[2016-07-27 20:53] mmagnuski commented on #3464
Well, segmenting epochs isn't common, I recently had a few cases for that, but I agree it is not very useful.
Segmenting raw signal on the other hand is pretty common, I think, if you want to perform manual or automatic rejection on continuous data.
Another, related use-case: back in matlab-only times I would segment raw data, reject segments too far from the task of interest, reject strong artifa

[2016-07-27 20:59] mmagnuski commented on #3464
@Eric89GXL It would be ok, I think, but would have to override tmin, tmax and possibly baseline (otherwise for events=2. and therefore tmin=0 and tmax=2, the default baseline would be done with respect to one sample (t==0))

[2016-07-27 22:24] Eric89GXL commented on #3464
We could easily set `tmax=None`, which would be 1. for traditonal events and whatever float `events` for this scheme. The baseline indeed wouldn't make much sense, but really there shouldn't be a baseline anyway here since the data are not time locked to anything. In other words we could have `baseline='auto'` mean `(None, 0)` for traditional events and `None` for float `events`. This does start t

[2016-07-27 22:34] #3458 closed

[2016-07-27 23:04] jona-sassenhagen opened #3465 "Transform docs and API"
There should be
- good documentation
- accessible functions

for transforming between the various coordinate systems, e.g. volume to source, sensor to RAS, etc.

@Eric89GXL @christianbrodbeck

[2016-07-27 23:07] Eric89GXL commented on #3465
And also the relationship between high-density cortical meshes (i.e., what FreeSurfer gives us) across different subjects and source spaces (decimated versions of those).

[2016-07-27 23:08] Eric89GXL commented on #3465
Currently the best "documentation" of these is in the `setup_volume_source_space` function because most of these transforms needed to be used there. There is also a little bit in the `SourceEstimate` class IIRC having to do with getting to Talairach.

[2016-07-27 23:21] christianbrodbeck commented on #3465
Related to this, a few weeks ago I wrote a function to coregister head to MRI programmatically based only on the three fiducials, I don't know if it's desirable to include but if it is I can make a PR

[2016-07-27 23:22] jona-sassenhagen commented on #3465
Jesus H. Christ yes. That's precisely what I need. How soon can you PR? :)

[2016-07-27 23:39] christianbrodbeck commented on #3465
It's in #3466

[2016-07-28 07:53] agramfort commented on #3464
I like @EricGLX89 suggestions with events=2. but keep the magic low... I
feel that setting 3 parameters is ok...

[2016-07-28 09:31] dengemann commented on #3464
I don't understand this entire debate.
We have Epochs and on the other hand ICA will do an online segmentation for
you.
Is there anything that cannot be done by creatively using Epochs?

On Thu, Jul 28, 2016 at 9:53 AM, Alexandre Gramfort <
notifications@github.com> wrote:

[2016-07-28 12:55] deep-introspection opened #3467 "ENH: manual edition of annotations & channels"
Hi there,

it could be nice to manually (add/delete/modify) annotations and (status/type) of channels.
On top of being convenient, it would also help many people transitioning to MNE Python.

The MNE annotations seem to quite suit the job for the former part, but such feature would maybe require to expand the GUI of the interactive plot or build something dedicated.

Did you already thought about

[2016-07-28 13:09] agramfort commented on #3467
yes allowing to create and modify in the raw data browser is planned

[2016-07-28 13:11] deep-introspection commented on #3467
Cool! How can I help?

[2016-07-28 13:14] agramfort commented on #3467
hack the raw matplotlib plotting code :)

[2016-07-28 13:14] agramfort commented on #3467
and submit a clean PR :)

[2016-07-29 03:01] Eric89GXL opened #3468 "DOC: Clarify how to use Annotations"
An issue on the listserv recently brought up how to reject epochs that have a certain event in them. This would be a great simple (~20 line?) example that should go in the docstring for Annotations:

http://martinos.org/mne/dev/generated/mne.Annotations.html#mne.Annotations

Also, there is currently no mention of how the annotation events should be named to get epochs to be rejected.

@jaeilepp ca

[2016-07-29 08:01] mmagnuski commented on #3460
@agramfort
Thanks, that makes sense, just a quick question if I understand it correctly:
`Y` is the components signal (components x timesamples) and `T` and `N` are number of timesamples and number of channels?

I won't have reliable internet acess till monday, but I'll try to have something for a PR then.

[2016-07-29 09:04] agramfort commented on #3468
+1

[2016-07-29 09:05] agramfort commented on #3460
yes correct. Although N and T have no impact on ordering.

[2016-07-29 09:41] #3239 closed

[2016-07-29 11:32] jona-sassenhagen opened #3470 "STC methods should also return self"
We have just set up sensor-space instances to return self for their methods.
Some STC methods, such as resample, do not return self, but should.

[2016-07-29 14:30] kingjr opened #3471 "ENH: Filterer for decoding"
@kaichogami

We need to create a `mne.decoding.Filterer` object that takes `low'`, `high`, `sfreq` ... params, deals with 3D numpy array (n_epochs, n_chans, n_times) and transform the data with low/high/band pass filters.

It would be great to add a time_padding option to add zeros before and after tmin and tmax, so as to minimize edge artefact.

We'll eventually deprecate `FilterEstimator` in one

[2016-07-29 14:37] kingjr commented on #3424
After discussion with @agramfort and @dengemann we decided that the mixin class would not support plotting methods, because it would require passing measurement info to the object which does not comply to our decoding API.

Instead we suggest to do add to the future examples:
[code]

[2016-07-29 14:56] kingjr commented on #3428
After discussing with @agramfort and @dengemann we decided to
* put all sklearn transformers in mne.decoding
* make sure all transformer call a function (e.g. fit_xdawn, transform_xdawn, compute_tfr)
* put the function in the relevant directory (e.g. mne.time_frequency.compute_tfr)

[2016-07-29 14:56] #3428 closed

[2016-07-29 15:09] Eric89GXL commented on #3428
Sounds good to me thanks for taking the time to hash it out

[2016-07-29 15:12] Eric89GXL commented on #3471
Keep in mind the IIR and FIR both already do (different forms of) padding

[2016-07-29 15:17] kingjr commented on #3471
@Eric89GXL Ok thanks. How about the time frequency transform ?

[2016-07-29 16:10] Eric89GXL commented on #3471
I can't remember, you'll have to look at the code

[2016-07-30 10:24] nicoa47 opened #3473 "Cannot find channel types using "reject" (but "pick_types" works)"
I have an issue using reject based on eeg channels in mne.Epochs: It gives the error "No EEG channel found. Cannot reject based on EEG."

Here is an example file:
https://www.dropbox.com/s/i81x10ygemv5tbm/example_raw.fif?dl=0

Here is the relevant code:
`#load data
#this fif file was created from an EDF file, using MNE's save command
raw = mne.io.read_raw_fif('example_raw.fif', preload=True)

#set

[2016-07-30 13:31] agramfort commented on #3473
try this:

[code]

you had no good epoch. You did not take into account raw.first_samp and the reject was too low.

[2016-07-30 13:31] #3473 closed

[2016-07-30 14:29] nicoa47 commented on #3473
Thank you, I did indeed miss that but it still gives me the same error at the second last line.

[2016-07-30 22:18] kingjr opened #3475 "ENH: specify scoring in search light"
Currently `SearchLight.score()` uses the scorer of the base_estimator.

Typically we would like to change the scoring, e.g. to use an AUC for a logistic regression, I was thinking of doing the following API:

[code]

An alternative is to change the estimator directly e.g.

[code]

What I'm unclear is how to adapt the predict method as a function of the scoring metrics, and whether this should be d

[2016-07-31 07:41] agramfort commented on #3475
have a look at this:

http://scikit-learn.org/stable/modules/generated/sklearn.metrics.make_scorer.html

regarding API I prefer option 1.

[2016-07-31 08:20] agramfort commented on #3473
the code I pasted above works for me with current mne-python master version.

see http://martinos.org/mne/dev/install_mne_python.html#install-the-mne-python-package

if you need to work with development version of MNE

[2016-07-31 16:19] kingjr commented on #3475
so in terms of API, we should ask users to use make_scorer, or shall it be done internally?

[2016-07-31 16:22] agramfort commented on #3475
scoring can be a string if standard score. Else yes use make_scorer

On Sun, Jul 31, 2016 at 6:19 PM +0200, "Jean-Rémi KING" <notifications@github.com> wrote:

so in terms of API, we should ask users to use make_scorer, or shall it be done internally?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-08-01 15:42] kingjr commented on #3475
@kaichogami would you like to give this a try?

[2016-08-01 17:32] kaichogami commented on #3475
@kingjr Alright I will work on it.

[2016-08-01 17:58] kingjr commented on #3475
@agramfort if we use cross_val_score, should scoring be defined at the highest level or within search light i.e.
1. `cross_val_score(make_pipeline(SearchLight(Ridge(), scoring=my_scorer()), X, y)`
or
2. `cross_val_score(make_pipeline(SearchLight(Ridge()), X, y, scoring=my_scorer())`

[2016-08-01 19:46] Eric89GXL commented on #2995
Those are... not the most aesthetically pleasing. Hopefully we can do better :)

Didn't know `nilearn` had a glass brain. Neuromag software also has one in a FIF that I asked about re-using. We can hopefully provide multiple options. should be fairly easy to do that.

But in any case, giving orthoview MRI cuts and a complementary glass brain (probably a different window) should get us a good start

[2016-08-01 19:48] agramfort commented on #3475
2 is better

[2016-08-01 20:36] kingjr commented on #3475
ok, so we need to handle both cases, right?: i.e.
*`SearchLight(Ridge(), scoring=my_scorer())`
*`cross_val_score(SearchLight(Ridge(), X, y, scoring=my_scorer())`

[2016-08-01 21:27] kingjr opened #3478 "BUG: concatenate epochs almost equal times"
I get an error when concatenating two epochs objects that have been decimated:
e.g.
[code]
raises
[code]

When checking the times they minimally differ:
[code]

I don't manage to replicate the error with the example, despite specifying the sfreq and times params.

I think the raise should be thrown on failed almost equal instead of an exact equal, WDYT?

[2016-08-02 01:29] kingjr opened #3480 "BUG: parallel spectral connectivity"
[code]

raises

[code]
cc @mluessi

[2016-08-02 01:35] kingjr commented on #3480
Mmmmh, looking at the function, I think it could greatly simplified with #3476

We also need to have consistent default parameter (e.g. sfreq), as well as consistent param names.

[2016-08-02 07:04] #3480 closed

[2016-08-02 07:19] agramfort commented on #3478
yes replace with

np.allclose(epochs.times, epochs_list[0].times)

if this works for you. Open a PR

[2016-08-02 07:20] agramfort commented on #3475
what is the use case for this one? can't you rely on estimator.score?

+1 for this one.

[2016-08-02 10:21] kingjr commented on #3475
My use case is fit a search light on a localizer (no CV) and apply it to a main epoch dataset. However I typically want auc not accuracy. Maybe too specific ?

[2016-08-02 10:42] jona-sassenhagen commented on #3475
Confirming precisely this is a likely usage case.

[2016-08-02 10:49] agramfort commented on #3475
ok point taken Use case is legit for me

[2016-08-02 16:45] christianbrodbeck opened #3482 "Private API in Docs"
Looking for docs on `Raw` indexing I noticed [this](http://martinos.org/mne/dev/auto_tutorials/plot_object_raw.html#indexing-data), isn't it bad practice to encourage use of a private attribute, especially since the proper API of `__getitem__` could be used as further below?

[2016-08-02 18:40] kingjr opened #3483 "ENH: partial_fit for linear models"
I think it would be great if we could make use of the `partial_fit` sklearn methods for linear models especially when we try to fit exponentially large data arrays (e.g. time frequency transforms multiple runs, thousands of epochs).
- For `SearchLight`, we can just add the `partial_fit` method, and check that the estimator has one.
- For the `CSP` and `Xdawn` I'm less clear. Sklearn doesn't seem t

[2016-08-02 19:16] christianbrodbeck commented on #3482
Also something that seemed slightly counterintuitive to me is that `mne.find_events()` returns `Raw` indexes with `raw.first_samp` added to them, however, `Raw.__getitem__` indexes data directly, ignoring `raw.first_samp`. As a consequence, using events for indexing `Raw` does not return the expected data, rather one would have to.

[code]

I could not see that in the docs, might be useful to add

[2016-08-02 20:14] kingjr opened #3484 "ENH: CSP support for n_classes > 2"
Currently, CSP doesn't support more than two classes, in principle we can do n classes right @alexandrebarachant ?

[2016-08-02 20:24] alexandrebarachant commented on #3484
Yep.
there is an extension of CSP to multiclass using approximate joint diagonalization.
It's actually implemented in my toolbox. For multiclass, selection and interpretation of filters is not straightforward, so sometime people use a one-versus-one or one-versus-rest approach.

It is actually easy to extend the regular CSP code for this usecase. The only requirement is to have a approximate joint

[2016-08-02 20:48] kingjr commented on #3484
thanks @alexandrebarachant
@Eric89GXL is this a scipy job, or shall we put in here in mne?

[2016-08-02 20:58] kingjr commented on #3471
PR in #3472

[2016-08-02 21:57] kingjr commented on #3484
@alexandrebarachant I'm trying to give it a go. However, for n_classes > 2, there seems to be a normalization step for which we need to compute to average of the covariances matrices; apparently, this can be done in different ways e.g. metric='riemann': https://github.com/alexandrebarachant/pyRiemann/blob/master/pyriemann/spatialfilters.py#L244

Am I understanding it right? Is this a blocker you t

[2016-08-02 22:12] alexandrebarachant commented on #3484
@kingjr for CSP, the intra-class covariance matrice is obtained by using an arithmetic (euclidean) average of the covariance matrices of each trial. It might be sub-optimal and you can improve the CSP using other metric for the mean.

you can check this two papers [here](https://hal.archives-ouvertes.fr/file/index/docid/602686/filename/Barachant_MMSP_2010_final.pdf) and [here](https://hal.inria.fr

[2016-08-02 22:15] kingjr commented on #3484
Thanks, so I'll just do `np.mean(covariances, axis=0)`, these considerations are slightly beyond this issue IMO.

[2016-08-02 22:18] alexandrebarachant commented on #3484
yep, switch to the arithmetic average. i expose this option in my toolbox because i can, but i actually almost never used it.

[2016-08-02 22:19] kingjr commented on #3484
"because i can" ^__^

[2016-08-02 23:43] Eric89GXL commented on #3482
It's better to document the existence somewhere than not at all (they are
meant to be public interfaces after all) but I agree the naming is not
optimal. I think it should suffice to make it clear in the docstrings that
they should be used e.g. with `'eeg' in inst` or `inst[...]` as opposed to
the builtin function names themselves.

[2016-08-02 23:46] Eric89GXL commented on #3482
And I also agree first_samp should be better documented. Basically it
should be used/incorporated with events and annotations (for historical
reasons only AFAIK) and nowhere else.

[2016-08-03 03:52] christianbrodbeck commented on #3482
Oh, by private API I did not mean `__getitem__`, I meant `Raw._data`

[2016-08-03 07:50] agramfort commented on #3482
oh boy... looks like @wmvanvliet wrote this back then.

let me do a pass now.

regarding the handling of first_samp the alternative was to have
potentially raw[:, 0] return an empty array. What I implemented, ie
not use first_samp, for __getitem__ seemed like the less suprising.
Now the presence of first_samp in events is there for backward
compatibility reasons. It has always been there for -eve.

[2016-08-03 08:30] jaeilepp commented on #3468
Crap. Can't believe I forgot to add that. Maybe I can take a quick look in the evening or tomorrow morning.

[2016-08-03 08:36] agramfort commented on #3483
partial_fit for linear models -> SGD http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html

online cov estimation is easy though. Now if partial_fit in xdawn the sklearn semantic implies to do the heavy linear algebra (eig decomp etc) after each partial_fit. Not sure it's what you want

[2016-08-03 09:13] agramfort commented on #3482
see https://github.com/mne-tools/mne-python/pull/3486

[2016-08-03 11:48] Eric89GXL commented on #3482
Argh, that's what I get for reading on mobile and making assumptions about
the links instead of following them...

Yeah that shouldn't be documented

[2016-08-03 13:18] kingjr commented on #3483
For Xdawn I'm unclear, but for CSP you typically don't want to decimate, and it would be common to do
[code]

to intelligently reduce the dimensionality of the data, no? But I agree, that in principle, we just need to aggregate the covariance matrices, without necessarily computing the eigen decomposition on each partial fit.

[2016-08-03 16:03] agramfort commented on #3483
I am open to partial_fit for CSP and XDAWN. I think the eig decomp is
negible compared to IO and memory management.

[2016-08-03 17:13] kingjr commented on #3483
@alexandrebarachant Do you think it would be ok to do this? This means that we would have to store each covariance and the sample_weight, but I think that it should remain relatively light in most usecases

[2016-08-03 19:12] alexandrebarachant commented on #3483
@kingjr we are talking about 'adaptive' /  'iterative' estimation of the spatial filters ?
As alex said, the eig decomp is generally negligible, so to implement this the easiest way is to update the averages:

- For Xdawn :
  * Update the ERP
  * Update the signal Cov

- For CSP :
  * Update the mean covariance matrices

Since everything is based on arithmetic mean, that will be easy.

However, th

[2016-08-03 19:33] kingjr commented on #3483
Wouldn't ordering the eigen values by explained variance be sufficient? It's not really adaptive in the sense of going from say 100 time samples to 200, or 400 (as with a rolling time window for real time processing), but rather taking very large chunks of data (1e5-7 time samples) so as to not be limited by our RAM.

[2016-08-03 19:48] alexandrebarachant commented on #3483
the problem is when 2 (or more) eigenvalues are close to each other, or if you have an artifact, some very different patterns can flip orders. I spend a long time on this problem during the first year of my PhD. either you use an iterative estimation of the filters, or you build a re-ordering procedure (based on filters similarity between iteration).

That's one of the reason i switch to Riemannia

[2016-08-03 21:43] kingjr commented on #3483
Great thanks for the feedback; I'll keep the issue opened until I implement it for the search light.

[2016-08-04 17:08] kambysese commented on #2995
+1e7

[2016-08-05 11:05] mmagnuski commented on #1312
`single_trial_power` will be deprecated and `induced_power` is gone, so, although not resolved, this can be closed.

[2016-08-05 13:04] Eric89GXL opened #3493 "ENH: Use __all__"
It just occurred to me that we should probably start using `__all__` at the top of our modules. Advantages:

1. Potentially much clearer introspection in IPython/Spyder etc. when using tab completion
2. Helps us import functions from where they are actually defined, as opposed to accidentally importing them from elsewhere (e.g. hypothetically if we have `read_tag` defined in `mne/io/tag.py` but im

[2016-08-05 13:24] Eric89GXL commented on #3493
Argh, never mind, it does not do these things.

[2016-08-05 13:24] #3493 closed

[2016-08-05 15:22] #1312 closed

[2016-08-05 15:22] agramfort commented on #1312
thanks @mmagnuski for doing the bookkeeping :)

[2016-08-05 20:24] kingjr opened #3495 "ENH: CSP multiclass uwedge implementation + examples"
As discussed in https://github.com/mne-tools/mne-python/pull/3485, the current multi class CSP is quite slow for high dimensions; uwedge should be faster, although probably less good.

Additionally the CSP examples need a lifting and an additional example is necessary for > 2 class problems.

[2016-08-06 10:15] #3484 closed

[2016-08-06 13:39] kingjr commented on #2906
@Eric89GXL I won't have anymore time to spend on the binder, in case you want to take over

[2016-08-06 13:41] kingjr commented on #2804
I'm closing this, because this issue does not fit in the sklearn API. It is a computational layer above the CV, and thus above sklearn pipeline and its estimators/transformer objects.

[2016-08-06 13:41] #2804 closed

[2016-08-06 14:41] #3478 closed

[2016-08-08 00:01] Eric89GXL commented on #2906
I'll try to get to it for 0.13. Do you have time to send me what you have so far and say how far you got / where you got stuck?

[2016-08-08 11:47] #3468 closed

[2016-08-08 17:05] mdclarke opened #3499 "LinAlgError: SVD did not converge"
@Eric89GXL

Im getting LinAlgError: SVD did not converge errors now on files I didn't before when running maxwell_filter. Tried changed the st_duration, but nothing works. Any ideas?

[2016-08-08 17:09] Eric89GXL commented on #3499
Argh, we have to wait for Intel to release a real (proper) fix for this. In the meantime you can try updating to SciPy 0.18. Of course that isn't compatible with a Mayavi installation (it will break it), so you might have to have two environments, one that you use with SciPy 0.18 to work around this error, and another that you use for Mayavi.

[2016-08-08 17:16] mdclarke commented on #3499
OK thanks. Any ideas when Intel will fix this? :)

[2016-08-08 17:22] Eric89GXL commented on #3499
No idea. Feel free to look here for more info, though:

https://software.intel.com/en-us/forums/intel-distribution-for-python/topic/628049

[2016-08-08 17:22] #3499 closed

[2016-08-09 02:03] kingjr opened #3503 "FIX: epochs detrend should check for input type"
`Epochs(detrend=False)` should return error; it currently takes `False` as an int and detrends the data: e.g.

[code]

[2016-08-09 13:19] #3503 closed

[2016-08-09 16:52] #3284 closed

[2016-08-10 03:13] nfoti opened #3507 "read_info missing in docs"
There is no reference to `mne.io.read_info` in the documentation.

[2016-08-10 08:05] jasmainak commented on #3507
Indeed, PR welcome

[2016-08-11 09:23] nwilming opened #3509 "Annotations out of sync after concatenate_raws?"
I'm working on a dataset where I cut 10 minute chunks out of a 1h recording, do some artifact detection and then concatenate the chunks that interest me. It seems that after the concatenation with concate_raws the artifact annotations are out of sync. I have a minimal example that creates an artificial raw structure that shows this behavior:

[code]

It seems that the way how annotations are combi

[2016-08-11 09:55] jasmainak commented on #3509
@nwilming indeed there is some problem with the code there.

@jaeilepp is on holiday till the end of the month. Feel free to make a PR with a minimal diff. Your code looks reasonable. Only comment is that you need to take care of the fact that some of the raw files being concatenated may not have annotations.

[2016-08-12 00:51] mmagnuski commented on #3482
this should probably be closed :)

[2016-08-12 01:10] mmagnuski commented on #3464
Sorry I didn't respond. I didn't mean it's impossible, but that using Epochs for segmentation is currently not very convenient. I am using `_segment_raw` so I don't have any problem with that, I just thought it might be useful to have it public.
Anyway - this can be closed. The issue is not worth the debate it provoked.

[2016-08-12 02:04] #3464 closed

[2016-08-12 05:53] #3482 closed

[2016-08-12 07:42] cbrnr opened #3512 "BUG: Need two key presses in raw plot"
When I plot my raw EEG with `raw.plot()`, the keyboard controls do not work as expected. For example, to scroll one page to the right I press the right arrow key. Nothing happens - I need to press another key until the plot gets updated and shows the next page. I've tested this on Mac OS X with the latest Anaconda distribution in IPython (with and without `%matplotlib`).

Update: I actually have t

[2016-08-12 15:51] YingYang opened #3513 "FieldTripClient.get_data_as_epoch() could not handle picks = None"
When using the "FieldTripClient" object with a Biosemi EEG acquisition system and "biosemi2ft" in FieldTrip,  I found "FieldTripClient.get_data_as_epoch()" raises an error saying the dimension of data for EpochArray was wrong. Here is how I called the function. (I was using mne 0.12, and numpy 1.11.1)

[code]
After a closer look at the code,  I think here is what went wrong. When calling rt_client

[2016-08-12 23:08] #3513 closed

[2016-08-13 01:26] mmagnuski opened #3515 "issues with animate_topomap in interactive mode"
using `animate_topomap matplotlib` when in interactive mode (`%matplotlib`) does not work very well (at least on windows):
- "Initializing animation..." is printed every time the animation goes back to the beginning - and the whole animation seems to be recomputed from scratch (I need to wait for a few seconds before it restarts)
- clicking the topo does not stop the progression of time - only tur

[2016-08-13 07:11] agramfort commented on #3515
In a notebook?

On Sat, Aug 13, 2016 at 3:26 AM +0200, "Mikolaj Magnuski" <notifications@github.com> wrote:

using animate_topomap matplotlib when in interactive mode (%matplotlib) does not work very well (at least on windows):

"Initializing animation..." is printed every time the animation goes back to the beginning - and the whole animation seems to be recomputed from scratch (I need to wait fo

[2016-08-13 09:59] mmagnuski commented on #3515
In Spyder, but I can check the notebook.

[2016-08-13 12:49] agramfort commented on #3515
ok it's bad then. @jaeilepp please look when you're back

[2016-08-13 15:46] mmagnuski commented on #3459
I deleted the old config and everything worked fine. This should be a very rare problem but test-writing to the dir and some helpful error message (asking user to check its config, dir existence etc.) when this fails would be cool.

[2016-08-13 23:19] chrismullins opened #3516 "Sphere fitting from digitization points is way too big in `standard_1005` montage"
Minimum example:

[code]

Produces runtime warnings:
[code]
and
[code]

However the center calculated from the montage centroid seems pretty close, at least in two dimensions:
[code]
gives
[code]

I have only tried this with `standard_1005` points, and creating the montage myself from a csv file.  Looks like a scaling problem, mm being interpreted as meters somewhere maybe (since ~97mm would be a

[2016-08-14 12:57] mmagnuski commented on #3512
I'm not on a mac but heard from other people that they are also experiencing this problem.

[2016-08-14 13:43] agramfort commented on #3459
+1 for a PR on docstrings improvements

[2016-08-15 08:58] agramfort commented on #3516
indeed I suspect a unit pb in tms_montage.pos

can you make sure the pos is in meters?

[2016-08-15 13:11] kingjr opened #3518 "BUG: non unique events in read_epochs"
When saving epochs with non unique events, we can't read them.

[code]

[2016-08-15 13:13] Eric89GXL commented on #3518
We should probably raise an error during `EpochsArray` construction, which really means in `_BaseEpochs` I think.

[2016-08-15 13:56] agramfort commented on #3518
+1 to raise an error on creation

[2016-08-15 16:45] chrismullins opened #3519 "Create reader for Eximia Nexstim data files (.nxe/.nxa/.nxi)"
I imagine the same API would make sense, something like `mne.io.read_raw_nexstim`.

As a followup, here [a tutorial](http://www.fieldtriptoolbox.org/tutorial/tms-eeg) on dealing with TMS-EEG datasets with the fieldtrip toolbox, might be a good format to mimic for a tutorial eventually.

[2016-08-15 16:57] Eric89GXL commented on #3519
I can try to do this for 0.13. Can you share a link to the file that does not work?

Once the reader is implemented, can you work on a tutorial?

[2016-08-15 17:44] kingjr commented on #2906
@Eric89GXL Sure  the todo list is here: https://github.com/mne-tools/mne-binder/issues/1

I had stopped because the binder was becoming unreliable (i.e. impossible to connect). Not sure why; I havn't looked at it for months, so there is a chance that it was a bug that is now fixed.

[2016-08-15 17:47] chrismullins commented on #3519
I'll share via email for now -- it's probably fine but these aren't my data.

Absolutely, I'll make an issue for this and assign it to myself.

[2016-08-15 17:57] chrismullins commented on #3516
According to [standard_1005.elc](https://github.com/mne-tools/mne-python/blob/master/mne/channels/data/montages/standard_1005.elc#L3) the units are millimeters.

[2016-08-15 22:02] tcford opened #3521 "Morph subjects dipoles onto standard brain"
To plot each subjects left and right auditory dipole, on the same brain, with the groups differentiated by colour (e.g. blue for group1 and red for group2).

[2016-08-16 00:28] Eric89GXL commented on #3521
I think this is probably a duplicate of #2995, @tcford can you see if your use case would be supported by what is discussed there? If not, please add to that discussion what you'd like to see.

[2016-08-16 00:28] #3521 closed

[2016-08-16 00:45] tcford commented on #3521
Hi Eric,

Yes, sorry! I was prompted to add the issue by Alex- this looks similar though.
I’ll stay tuned.

Thank you,
Talitha
On 16 Aug 2016, at 10:28, Eric Larson <notifications@github.com<mailto:notifications@github.com>> wrote:

I think this is probably a duplicate of #2995<https://github.com/mne-tools/mne-python/issues/2995>, @tcford<https://github.com/tcford> can you see if your use case wou

[2016-08-16 00:50] Eric89GXL commented on #3521
That's fine, duplicate issues are easy :)

[2016-08-16 14:21] Eric89GXL commented on #3516
We should probably change whatever under the hood reads that file to respect the "units" entry, that should fix this problem

[2016-08-17 20:08] agramfort opened #3525 ""Morph" dipole to MNI space"
we have a vertex_to_mni  function for source space based inverse methods

it would be great to have the same thing for dipole fits. E.g.

dipole.to_mni() -> returns new Dipole instance where dipole.pos is in MNI coordinates.

thoughts?

[2016-08-18 06:34] jaeilepp commented on #3509
I think this has to do with the mess with ``first_samp``. I can take a look when I get back.

[2016-08-19 13:33] Eric89GXL opened #3527 "ENH: Anatomical template warping"
I'm starting to read a bit about anatomical template warping, and it looks like there are some standard methods like [TPS warping]  (http://onlinelibrary.wiley.com/wol1/doi/10.1002/hbm.20171/full) or warping based on [spherical harmonics] (http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=966602) that can be used. Any thoughts on the best ones to use?

@ftadel you use the TPS warping tech

[2016-08-19 13:39] Eric89GXL commented on #3525
Probably requires something like #3527

[2016-08-19 13:39] #3516 closed

[2016-08-19 13:40] #3507 closed

[2016-08-19 13:40] #3459 closed

[2016-08-19 13:41] Eric89GXL commented on #3430
Up for a PR @jasmainak?

[2016-08-19 13:42] Eric89GXL commented on #2995
This probably needs something like #3527

[2016-08-19 14:24] ftadel commented on #3527
Hi Eric,

We use code written by John Mosher and John Ermer: we start by computing a smooth surface based on the digitized head points (using spherical harmonics), then we compute a deformation field based on the two surfaces (the one from the MRI and the one from the Polhemus) and apply it on the surfaces and the MRI.
It is done in function brainstorm3/toolbox/anatomy/bst_warp.m
(yes, I'll move m

[2016-08-20 11:15] jasmainak commented on #3430
@Eric89GXL did you change your mind whether this needs to be in master? I also see the problem if I pick channels after making epochs and then do `epochs.plot()`

[2016-08-20 11:34] Eric89GXL commented on #3430
Were you able to fix it in your own code by calling the normalization function? If so I guess we don't need a PR.

[2016-08-20 14:44] jasmainak commented on #3430
I haven't looked into yet because I've been working with data without proj. If you keep it open, I might get around to it when I'm hacking on MNE code. No strong feelings either way.

[2016-08-22 05:44] amitjaiswal11111 commented on #1927
Hi,
I am using MNE python on the platform configuration as following:
Python 2.7.11 |Anaconda custom (64-bit)| (default, Dec  6 2015, 18:08:32)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux2
when I am running the example function "plot_mne_inverse_psi_visual.py" and also many other functions, it's showing an error "ImportError: No module named surfer".
As I understand, it's lacking Pysurfer. Or

[2016-08-22 07:26] agramfort commented on #1927
yes you need to install pysurfer

pip install pysurfer

should do the job

[2016-08-22 17:38] Eric89GXL commented on #3527
Thanks @ftadel. @christianbrodbeck would this be useful for times when you want to use a surrogate? Any thoughts?

[2016-08-22 17:46] christianbrodbeck commented on #3527
Hm yes warping might potentially improve the localization for surrogates if the head shape is accurate. Although the advantage over scaling would depend on the head shape reflecting brain shape. Do we have an idea how well brain shape is correlated with head shape?

[2016-08-22 17:47] Eric89GXL commented on #3527
IIRC both of the papers linked above do tests related to that and show increases in inverse accuracy

[2016-08-23 20:03] mmagnuski opened #3529 "python 2.6 and nibabel - how about dropping python 2.6?"
Travis is failing on python 2.6 due to zero length field name in format [here - in nibabel]( https://github.com/nipy/nibabel/blob/master/nibabel/deprecator.py#L149).
Nibabel does not support python 2.6 - maybe it's time to drop support of python 2.6 in mne too? :)

[2016-08-23 20:08] Eric89GXL commented on #3529
@agramfort okay with this yet? +1 from me

[2016-08-23 21:02] agramfort commented on #3529
Ok fine with me 

On Tue, Aug 23, 2016 at 10:08 PM +0200, "Eric Larson" <notifications@github.com> wrote:

@agramfort okay with this yet? +1 from me

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-08-23 21:05] dengemann commented on #3529
Also ok with me.

On Tue, Aug 23, 2016 at 11:02 PM Alexandre Gramfort <
notifications@github.com> wrote:

[2016-08-24 14:26] Eric89GXL commented on #3529
Can we bump minimum `numpy` to 1.8 (as SciPy is doing currently)? We could also do SciPy to 0.13, MPL to 1.3, sklearn to 0.14, and pandas to 0.13 to mirror Ubuntu 14.04.

[2016-08-25 08:10] mmagnuski opened #3531 "Passing times of interest to time-frequency functions"
What do you think about adding the ability to specify timepoints of interest in high-level time-frequency functions (like `tfr_morlet`)?
Currently one would have to use for example `epochs.time_as_index(times_of_interest)` and then create a slice to pass to `decim`. It's works ok for me but is not very intuitive for newcomers.
If you are :+1: then the API could be:
* passing a slice constructed fr

[2016-08-25 12:26] kingjr commented on #3531
`decim` could accept a slice of floats, in which case it looks for the data `tmin` `sfreq` etc.

[2016-08-26 02:10] Eric89GXL opened #3533 "ENH: Variable duration epochs"
We have some paradigms coming in where epochs are of variable duration (e.g., sentences are used). The current fixed `tmax` is unsuitable; [EDIT: if I have a set of `all_tmax` values in my paradigm, then using in the `Epochs` constructor] `tmax=min(all_tmaxs)` will cut off otherwise useful data from some epochs, and `tmax=max(all_tmaxs)` will lead to `TOO_SHORT` at the end of MEG runs.

Potential

[2016-08-26 03:21] kingjr commented on #3533
I'm not sure I completely understand the problem, you want to support epochs objects with variable durations?

[2016-08-26 03:25] christianbrodbeck commented on #3533
I am probably not aware of all the things one might want to do with those epochs, but might a `Raw` object also be a suitable container? That should at least make saving easier.

[2016-08-26 08:03] mmagnuski commented on #3533
I prefer the second solution. Fieldtrip has support for epochs of variable length (and so each epoch has its separate time: `size(data.trial{i}, 2) == length(data.time{i})`) but I have never found it very useful - in most cases variable epoch length problems can be solved with (sometimes multiple) fixed-sized epoch containers + some additional info (held somewhere else).
`too_short='omit'` doesn't

[2016-08-26 11:42] Eric89GXL commented on #3533
Kind of. Solution 1 would do that properly, solution 2 would allow users with variable durations to function hopefully more easily.

I'm not sure what you mean by making saving easier, as `epochs.save()` will still work, you'd just get a bit of wasted space unless you use GZip with solution 2. Of course it's possible to hijack some other object to accomplish what I'm talking about -- even object `

[2016-08-26 12:44] kingjr commented on #3533
I'm -1 on supporting epochs with variable lengths.

* It is a Pandora box as we'll have to fix time frequency, psds, plotting,
the definition of the times attributes, the covariance, Ica, the nave for
sources, stats etc to have exception cases for for the nans.

* I would argue that variable lengths is an intrinsically bad design for an
epochs  container, as the container is supposed to handle rep

[2016-08-26 13:00] jona-sassenhagen commented on #3533
I agree with JR.

I use variable-length epochs stuff (sentences or short stories) a lot - actually, most of what I do is like that - so I would possibly benefit from this, but I think "Epochs" should indeed refer to comparable things, whereas variable-length entities are probably most appropriately captured by raw objects.

Maybe it would be useful to allow writing multiple epoch objects or raw ob

[2016-08-26 13:00] mmagnuski commented on #3533
@kingjr I agree, but @Eric89GXL second proposition does not directly involve epochs with variable lengths but supports a workaround for people who need it.

[2016-08-26 13:00] Eric89GXL commented on #3533
Most of these do not apply to solution (2) -- inverses, many platting functions, the times attriubutes, etc. would not be affected. For other functions like TFR that will break with `nan`s present, we can add a simple `_check_finite` function to them, *which we should probably do in master regardless to be safe*. So I don't see this as a big problem at the implementation or user end.

That is *one

[2016-08-26 13:04] jona-sassenhagen commented on #3533
Okay, that's good points. Hm.

[2016-08-26 15:35] kingjr commented on #3533
Isn't the original problem more related to the fact that the MEG runs were stopped too quickly (wrt the longest epochs) rather than a true support of multiple epoch lengths?

If so, ok for (2), although you could probably pad the Raw data with extra values rather than adding an extra construct param?

[2016-08-26 17:07] #3529 closed

[2016-08-26 17:44] Eric89GXL commented on #3533
I would word the true problem as, for paradigms with variable epoch durations, we don't have a good way to extract epochs for them. One way this manifests as the runs ending too early relative to the longest trial, yes.

Yes it's true there are work-arounds, but none of them are all that nice, including IMO this one. It needs (at least) four extra steps before actually calling `Epochs(...)`: compu

[2016-08-26 18:43] Eric89GXL commented on #3519
@agramfort do you have any of these files, or know anyone who uses them?

[2016-08-26 22:23] Eric89GXL commented on #2906
@kingjr I made some minor cleanups / updates to [mne-binder] (https://github.com/mne-tools/mne-binder), can you see if [this link] (http://mybinder.org/repo/mne-tools/mne-binder/notebooks/plot_introduction.ipynb) works?

If so, we could start by [putting a link on our homepage] (https://2309-1301584-gh.circle-artifacts.com/0//home/ubuntu/mne-python/doc/_build/html/index.html). Eventually we can mo

[2016-08-27 01:15] kingjr commented on #2906
Great thanks!

This one indeed a big blocker. But do you think it'll be supported in notebooks?

+1

[2016-08-27 01:18] Eric89GXL commented on #2906
I think @agramfort mentioned that they're working on it. But who knows what the timeline is like.

[2016-08-27 09:48] jona-sassenhagen opened #3536 "ENH: make _get_ica_map a public method of ICA"
We ever so often get people wondering how to retrieve ICA maps as numpy arrays, and I keep referring them to mne.preprocessing.ica._get_ica_map. It would probably be easier to make it a public method of ICA. Opinions?

[2016-08-27 09:51] agramfort commented on #3519
I've never worked with such files

[2016-08-27 09:57] agramfort commented on #2906
support of mayavi in notebook worked on a toy for me

did not have time to play more for real

[2016-08-27 10:22] agramfort commented on #3536
+1 but maybe get it as an EvokedArray to keep channel names?

ica.get_components ?

[2016-08-27 10:47] agramfort commented on #3533
same first reaction @kingjr but I am eager to see a draft of solution 2 as
I agree that it's not too intrusive for the most of us who don't need such
a feature.

[2016-08-27 10:49] agramfort commented on #3531
you want to compute/visualize TFRs with irregular time instants?

[2016-08-27 10:55] mmagnuski commented on #3531
No, just allow to use time values instead of samples.

[2016-08-27 14:12] jona-sassenhagen commented on #3536
For the use cases I've come across, that'd be unnecessary and most of the time users would have to do ica.get_components().data in that case. See e.g. #3460, #2404 and the mailing list one.

@mmagnuski opinion?

[2016-08-27 15:20] mmagnuski commented on #3536
Yes, in this case I also think simpler is better - the channel names are in ica object and in most cases one just needs to get n_channels by n_components arrays so exactly the way `_get_ica_map` works now.

[2016-08-28 14:50] jona-sassenhagen commented on #3120
Can this be closed due to #3237 then?

[2016-08-28 16:02] jona-sassenhagen opened #3537 "Update sample data evokeds names"
It seems the sample data evokeds currently have as names: "Left Auditory", "Right Auditory", "Left visual", "Right visual"
Any chance of changing that to "Left/Auditory", "Right/Auditory", "Left/Visual", "Right/Visual"?

[2016-08-28 16:04] jona-sassenhagen commented on #3536
@agramfort okay? `ica.get_components()` to simply return an array?

We can also give it a single parameter to optionally return either an Evoked object, or e.g. a pandas dataframe.

[2016-08-28 16:28] Eric89GXL commented on #3537
People's scripts likely make use of existing names in this (long time)
publicly available dataset so we probably should not change them

[2016-08-28 16:28] jona-sassenhagen commented on #3537
Ok!

[2016-08-28 16:28] #3537 closed

[2016-08-28 17:29] mmagnuski commented on #3536
or an xarray ;)
probably would be nice to have a param to choose between getting mixing or unmixing matrix?

[2016-08-29 07:30] wmvanvliet opened #3538 "Document EEG reference"
We keep getting questions of users that are confused with MNE's EEG referencing behavior. This is not surprising, as the documentation does not cover this topic. At the very least, we need to add a note that for EEG data, a reference **must** be specified at all times. If the user does nothing, MNE will add an average reference. If another reference is desired, the user should use the `mne.io.set_

[2016-08-29 08:02] jasmainak commented on #3538
hmm ... but did you look at the line pointed out in the mailing list? It seems to be a bug rather than a doc issue

[2016-08-29 08:05] jasmainak commented on #3538
Basically, even if you remove the ref proj, it still gets added when creating the Epochs object because the avg_ref param is not passed to it.

[2016-08-29 08:24] agramfort commented on #3538
+1 to add such documentation. Any suggestion where?

also the more I get questions about EEG reference the more I feel that:

mne.io.set_eeg_reference

is not easy to find and the io module is clearly not a naturally place to look.

2 options:

- move mne.io.set_eeg_reference to mne.set_eeg_reference

- add a set_eeg_reference method to the data containers. I know I was opposed to this to keep the

[2016-08-29 08:25] jona-sassenhagen commented on #3538
A method seems natural to me.

[2016-08-29 09:03] mcaffini opened #3539 "MNE Python for fNIRS?"
Hi all,

I successfully tested some of the **MNE Python** methods and classes in my **fNIRS** data processing workflow.
I wonder if anyone else is interested in this and whether it's worth to write some code in this direction. I can also swallow the bitter pill and keep labeling my fNIRS data as "eeg", but maybe we could seize the day to start something useful. Happy to share more of what I did if

[2016-08-29 09:23] wmvanvliet commented on #3538
Yes, and in other places too. The solution we implemented a while ago is to use the `mne.io.set_eeg_reference` function. It sets the `custom_ref_applied` flag in the `info`, which prevents MNE from automatically adding any further referencing.

Just removing the ref proj. will cause MNE to assume no referencing has been applied and add its own. For some steps, you can explicitly tell MNE not to do

[2016-08-29 10:07] jasmainak commented on #3538
hmm ... I did not know there was another way to prevent average referencing. It's not super clear to me how it's supposed to work and how these different flags interact with each other. A while ago I discovered that doing `proj=False` does not prevent average reference from being applied even though average reference is treated as a proj in MNE. You have to explicitly set `avg_ref=False`. Now, you

[2016-08-29 10:55] wmvanvliet commented on #3538
Yup. Hence, the dire need to document this stuff.

[2016-08-29 11:11] #3410 closed

[2016-08-29 11:14] Eric89GXL commented on #3538
This is really a dup of #3410, but I'll close that one since this one has a richer discussion.

Both of these are almost a #2727, which highlights how we have done some inconsistent things with `add_egg_ref` for a long time.

I agree with @agramfort (now) that we should add a method. But I would go a step further and make it the only way to add an EEG reference. It's more pythonic than having `add

[2016-08-29 11:17] Eric89GXL commented on #3538
In other words, I really think we should deal with this by getting rid of the `avg_ref` parameters everywhere, and emitting errors if they try to do something that requires avg ref but it isn't present. It's a much cleaner / one-way / explicit approach than having `avg_ref`'s all over the place (some of which defaulting to `True` that people might not notice).

[2016-08-29 11:21] Eric89GXL commented on #3539
I see no problem with asking to add a fNIRS channel type to the FIF tags and making the appropriate adjustments in our code. @agramfort @jaeilepp do you agree?

[2016-08-29 11:22] Eric89GXL commented on #3539
@mcaffini do you have some small data file that you can share? What format is it?

[2016-08-29 11:46] jaeilepp commented on #3539
Sure, why not.

[2016-08-29 11:49] wmvanvliet commented on #3538
The `set_eeg_reference` function comes as part of a set of tools related to EEG references, which also includes `set_bipolar_reference` and `add_reference_channels`. I actually don't mind them being in the `mne.io` module, since I think of them as being part of loading the Raw data. Although +1 for exposing them to the top level `mne` module.

[2016-08-29 11:51] jaeilepp commented on #3420
@deep-introspection can this be closed now?

[2016-08-29 12:11] Eric89GXL commented on #3539
Can you ask the Neuromag folks?

[2016-08-29 12:22] agramfort commented on #3538
any objection with @Eric89GXL?

what would be a clear step by step plan?

bonus question : who has time to take this over?

[2016-08-29 12:24] agramfort commented on #3536
yes fine with array if you can make a valid EvokedArray with something like

mne.EvokedArray(ica.get_components, ica.info, tmin=0.)

to be added as a test.

[2016-08-29 12:24] agramfort commented on #3120
I guess so.

[2016-08-29 12:24] #3120 closed

[2016-08-29 12:26] Eric89GXL commented on #3538
I can implement it. Plan would be something like:

1. 0.13:
    1. deprecate `add_eeg_ref=True` -> `add_eeg_ref=False`
    2. Change all examples to use `add_eeg_ref=False` plus preferred referencing methods
    3. Update docs to say when refs will be applied in 0.13 and 0.14
2. 0.14
    1. deprecate `add_eeg_ref`
    2. Change all examples not to use `add_eeg_ref` at all

@agramfort we should pro

[2016-08-29 12:26] agramfort commented on #3420
I think so.

[2016-08-29 12:26] #3420 closed

[2016-08-29 12:26] agramfort commented on #3539
fine with me.

[2016-08-29 12:58] agramfort commented on #3531
then I am not sure about the use case. You want time instants that are not
subsamples of times array? like do some interpolation?

[2016-08-29 13:10] mmagnuski commented on #3531
No, just translate float slices to int slices (seconds -> samples). This may lead to accumulating offsets due to rounding, so might be better to translate float slice to an array of indices (similar to `time_as_index`) etc.
This could be separate from `decim` however, similar to the way `foi` works in fieldtrip: `time=np.arange(-0.25, 0.501, 0.05)`. I think it would be more convenient for newcomer

[2016-08-29 13:21] agramfort commented on #3531
I am not convinced :) but I can be wrong...

to me it would open the API too much

your TFRs does not depend much on fine grained time selection
due to limited time resolution. You can do a pretty good job
with crop and proper decim.

any thoughts from others?

[2016-08-29 13:48] jaeilepp commented on #3509
I think the problem was just with the syncing with ``raw.plot``. See https://github.com/mne-tools/mne-python/pull/3540.

[2016-08-29 14:34] jasmainak opened #3541 "Finding bad ecg components with ECG channel"
I am trying to find bad ecg components in ICA. I have an EOG channel and I want to use it to find the components. Unfortunately, I'm facing issues of missing MEG channels even though my data has only EEG. Here's a small script to reproduce the problem:

[code]

[2016-08-29 14:40] jona-sassenhagen opened #3542 "drop_channels silently passes when no channels are dropped"
Maybe it's only me who's this thick skulled, but I do this all the time:

`raw.drop_channels('EEG 000')`

And then wonder why my channel is still in there.

I think it would be helpful if
- drop_channels would be a bit more verbose on what it does
- particularly, if it would warn if the channels intended to be dropped are not found, and if the action would result in no drops at all
- we could do a

[2016-08-29 15:06] kingjr opened #3543 "ENH: reading event header in CTF"
It seems that Fieldtrip has the ability to read event type headers, and get strings for each event value. I don't think MNE has this functionality yet.

[2016-08-29 15:55] mmagnuski commented on #3531
due to limited time resolution. You can do a pretty good job
with crop and proper decim.

My line of thought was a bit different: let's say I have a pretty long signal (long epochs or raw) and I want to decimate the tfr so that I have time like `0.:15.:0.05`. If I translate that to int slice (timesamples) in some cases the rounding will lead to for example the step that should be at 10s (along the

[2016-08-29 16:09] agramfort commented on #3542
+1 for a ValueError when trying to drop a channel that is not present in
the data

[2016-08-29 16:33] agramfort commented on #3531
I am willing to renegotiate next time pb shows up :)

[2016-08-29 17:29] mmagnuski commented on #3531
Does it mean no to 1) `time` param, 2) float slice in `decim` or 3) translating float `decim` to array of ints (instead of slice of inst)? :)

[2016-08-29 20:57] agramfort commented on #3531
I would say no indeed

[2016-08-29 22:24] mmagnuski commented on #3531
ok :( / :)

[2016-08-29 22:25] jona-sassenhagen commented on #3542
Ok I will get on this ASAP, and afterwards, when it's still open, the ica.get_components issue.

[2016-08-30 05:38] jaeilepp commented on #3541
``create_ecg_epochs`` has an option ``keep_ecg``. Use that.

[2016-08-30 07:36] jasmainak commented on #3541
oh, yes. Thanks!

[2016-08-30 08:05] jona-sassenhagen commented on #3543
Check out the Brainvision and EEGLAB readers for API (assuming I've understood the problem correctly)

[2016-08-30 08:06] jasmainak commented on #3541
This works (thanks @jaeilepp!) but reopening issue as there are still some problems, namely:

1. the documentation of keep_ecg needs fixing. It gives the impression that ECG channel is dropped only if it's created synthetically. But this is clearly not the case. It is also dropped when a channel name is provided or when an ECG channel exists
2. the documentation for ch_name also needs to be fixed.

[2016-08-30 13:00] agramfort commented on #3541
PR welcome for docstrings

for 3/ it would need quantified arguments

[2016-08-30 17:49] jona-sassenhagen commented on #3393
Closed by #3413

[2016-08-30 19:35] kingjr opened #3548 "ENH: granger"
It would be great to have some granger analyses in MNE-Python. Although the method is regularly being criticized, many people use it, especially in ECoG.

There s one ready in nipy: https://github.com/nipy/nitime/pull/147#event-772264586

And an attempt in mne-sandbox: https://github.com/mne-tools/mne-sandbox/pull/8

If anyone wants to give it a try

[2016-08-30 20:05] kingjr commented on #3531
you can close the issue ;)

[2016-08-30 21:46] mmagnuski commented on #3531
Farewell my dear issue then... :snowman:

[2016-08-30 21:46] #3531 closed

[2016-08-30 23:41] jona-sassenhagen opened #3550 "gat.to_evoked() ?"
How about a `GeneralizationAcrossTime.to_evoked` method that returns an evoked array for the score time series, with either only the diagonal, or one "channel" for each training time point? That way, some of the plotting methods for EvokedArray could be leveraged (e.g., `plot_compare_evokeds` ...).

Just a thought.

@kingjr

[2016-08-31 02:26] #3393 closed

[2016-08-31 06:29] #3542 closed

[2016-08-31 13:52] #2906 closed

[2016-08-31 17:37] kingjr commented on #1848
Kai goergen and Martin Hebart argue in favor of using prevalence testing instead of second order: https://arxiv.org/abs/1512.00810, they have a matlab implementation in their toolbox

[2016-08-31 17:58] kingjr commented on #3550
This is related to #3424.

IMO it's a good idea, but I wouldn't implement it on the GAT directly.

We're trying to make the supervised API consistent, and there's a big chance that we'll favour the dev of sklearn-style estimators taking X and y as opposed to hybrid objects that take epochs, apply the cv internally, deal with the predict_method etc.

However, a `to_evoked` function/method may be us

[2016-08-31 18:07] jona-sassenhagen commented on #3550
Hm... Probably not any time soon. I'm still fairly hopeless when it comes to classes.

[2016-08-31 19:30] kingjr commented on #1848
Kriegeskorte et al use bootstrap, and add a 'noise ceiling' estimate:
http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3990488/

It would be great if these stats functions were implemented here too, if anyone is interested.

[2016-08-31 23:20] kingjr commented on #3550
I just gave it a try, but rapidly hurt some API issue. Here are some additional thoughts

### SpatialFilterMixin

Create a mixin class for spatial filter estimators (i.e. Xdawn, CSP, SearchLight & GAT) and init all of these estimators with a `compute_patterns` bool param.

This makes sense in term of code quality, however, Xdawn and CSP already have their own computation of the patterns (that's a

[2016-09-01 01:32] riwave commented on #1684
Thank you! I had the same problem. It is an ipython problem!

[2016-09-01 07:32] mcaffini commented on #3539
Dear all, sorry for the late reply.
@Eric89GXL I use the ISS Imagent. fNIRS raw data come from different technologies (continuous wave, frequency domain, time domain) and each instruments has its own format, but they all eventually get transformed into oxyhemoglobin (HbO) and deoxyhemoglobin (HbR) concentrations (this transformation process is different for different technologies). Maybe we skip t

[2016-09-01 10:17] jjnurminen opened #3554 "find_events fails on TRIUX data with legacy stim channels"
Not sure if this is a bug or not, but I think the situation could be improved.

Typically Elekta TRIUX (and recent Vectorview?) systems record triggers only on the digitally coded channel STI101, which contains all trigger information. However, in the data acquisition, there is a possibility of also acquiring 'legacy' trigger channels STI001, STI002, etc. These are binary channels which indicate t

[2016-09-01 10:50] jjnurminen commented on #3554
Actually this is nicely remedied by returning STI101 in `_get_stim_channel()`
Will submit a PR.

[2016-09-01 10:52] mmagnuski opened #3555 "eeglab reader warns that it failed to find events when no events are present in the file"
I either have no events in the file (for example 'resting-state' activity) or have the events somewhere else and I would like to turn off the warnings that I get from eeglab reader. I tried changing `mne.set_log_level()` as well as setting `warnings.filterwarnings("ignore")` but I still get the warnings.
The warning is [here](https://github.com/mne-tools/mne-python/blob/master/mne/io/eeglab/eeglab

[2016-09-01 12:21] jasmainak commented on #3555
maybe @jona-sassenhagen has comments?

[2016-09-01 12:23] jaeilepp commented on #3539
Sounds reasonable. We probably don't want to provide the 'preprocessing' steps for this transformation anyway.

[2016-09-01 12:27] jaeilepp commented on #3539
Actually, it sounds like we would need a tag for fNIRS channel type and for two units (HbO and HbR). Am I right?

[2016-09-01 12:47] mcaffini commented on #3539
What do you mean with unit? If you have in mind each channel having two independent tracks/signals (HbO and HbR), that sounds good!

[2016-09-01 12:58] Eric89GXL commented on #3539
Physical units, preferably of the SI variety -- for EEG it's V (commonly viewes as uV) and for MEG it's T and T/m (more commonly viewed as fT / fT/cm).

[2016-09-01 13:07] mcaffini commented on #3539
OK, then for fNIRS is molar concentration (M=mol/l=mol/dm3, usually as μM, proper SI unit would be mol/m3). Each channel gives two independent signals (HbO and HbR) with the same unit (μM). How do we refer to each one separately?

[2016-09-01 13:41] jaeilepp commented on #3539
Ok, yeah. I'm thinking that maybe we need just one channel type with two kinds (like we have with MEG channels mag and grad). Makes sense? Although it might be the easier to have just two types. Not sure which is better.

[2016-09-01 13:57] mcaffini commented on #3539
One type with two kinds makes more sense to me. That way you can pick all HbO with 'hbo', all HbR with 'hbr', or both with 'fnirs' (no caps to be consistent with the other tags?), the same way you pick magnetometers with 'mag', gradiometers with 'grad', ... or everything MEG with 'meg'. Adding total hemoglobin (HbT or hbt) is trivial (but not necessary) being the algebraic sum of HbO and HbR.

In

[2016-09-01 14:39] palday commented on #2024
Extending the @agramfort's efforts in #3476 : would it make sense to extend to slightly modify `EpochsTFR` to be more similar to `Epochs`?

1. include the `events` infrastructure
  - include an `events` field
  - include the by-condition / `events_id` indexing mechanism
2. add a `get_data()` method and ditch the `data` field?

For (2): This would make `EpochsTFR` differ from `AverageTFR`, but `Epo

[2016-09-01 14:47] kingjr commented on #2024
@palday +1 for both 1) and 2). Can you open a separate issue/PR?

@dengemann can you close this issue? I think we solved it with #3454 and #3476?

[2016-09-01 14:59] palday commented on #2024
Done.

[2016-09-01 15:35] agramfort commented on #3539
yes that sounds good to me

[2016-09-01 16:01] choldgraf commented on #2024
+1 for both as well - and isn't there a PR w a more general `get_data`
function that could operate on lots of different classes?
--

On Thu, Sep 1, 2016 at 7:59 AM Phillip Alday <notifications@github.com>
wrote:

[2016-09-01 16:02] Eric89GXL commented on #3555
Agreed, can you open an issue to only warn if the file has events in it?

[2016-09-01 16:03] jona-sassenhagen commented on #3555
Im on it. 

[2016-09-01 16:21] jona-sassenhagen commented on #3555
That'd be just making L612 in io/eeglab/eeglab.py

    if len(events) < 1 and len(types) > 0:

right?

[2016-09-01 16:27] Eric89GXL commented on #3554
Yeah it should try `STI 014`, `STI101`, then whatever it does now.

[2016-09-01 17:07] mmagnuski commented on #3555
@jona-sassenhagen yes, that should work (+ a test maybe? :) )

[2016-09-01 17:09] jona-sassenhagen commented on #3555
For a test, we'd have to write a new EEGLAB structure. So we're looking at a few lines of test for half a line of code.

@Eric89GXL ?

[2016-09-01 17:09] mmagnuski commented on #2024
+1 too
the generic `get_data` is `_get_inst_data` in `mne.utils` - but it is not public.

[2016-09-01 17:13] Eric89GXL commented on #3555
We can live without a test, just don't tell @agramfort

[2016-09-01 17:29] jjnurminen commented on #3554
I already wrote a small patch but it ended up into the wrong branch and my
attempt at cherry-picking failed. (insert tearful emoji)

On 1 Sep 2016 7:27 p.m., "Eric Larson" <notifications@github.com> wrote:

[2016-09-01 17:32] Eric89GXL commented on #3554
Nothing wrong with a little bit of manual cut and paste in desperate times

[2016-09-01 17:35] jona-sassenhagen commented on #3550
Note, I wasn't actually thinking about recovering the spatial patterns, just the decoder score time series.

Though somehow automatically recovering the patterns would be very cool.

[2016-09-01 17:39] sstober opened #3558 "read_montage() broken for sfp file"
Hello,

it seems like commit 4ff58df47075b1c1edbc933d57db9eca17c38a61 has broken read_montage() for an sfp file that caused no problems before. The issue seems to be the line breaks. During debug, I could see that the whole file content ends up in line 0. Looks like split("\n") does not work. Nano is telling me that the file is in "Mac format". This might be the reason.

Cheers,
Sebastian

[2016-09-01 17:55] mmagnuski commented on #3555
:no_mouth: :speak_no_evil:

[2016-09-01 17:57] jona-sassenhagen commented on #3558
Argh ... this should be my responsibility, but I'm terrible with encoding and regexp and stuff. Can anybody else take a look?

[2016-09-01 18:04] jona-sassenhagen commented on #3558
If nobody has the time, could you upload the problematic file somewhere?

[2016-09-01 18:06] kingjr commented on #3550
The coefs can be found with a one liner something like `[est.coef_ for fold in gat.estimators_ for est in folds]` so I don't think it's a high priority, especially as the filters themselves are not easily interpretable.

[2016-09-01 18:09] jona-sassenhagen commented on #3550
Yeah, I meant recovering some form of interpretable pattern (e.g., via the Haufe trick).

[2016-09-01 18:15] kingjr commented on #3550
But then we need to compute the covariance. I'm *think* that, strictly speaking, we need to compute a covariance within the CV no?

[2016-09-01 18:17] jona-sassenhagen commented on #3550
Probably. But IIRC neither you nor Denis care much for the Haufe trick, so ...

[2016-09-01 18:18] kingjr commented on #3550
No, I do care, I think it's one of the important missing features that should be present for all spatial filters. It is mainly a dev issue.

[2016-09-01 18:20] sstober commented on #3558
Here's a dropbox link:
https://www.dropbox.com/s/3nmmx802aiwo0vm/bad.sfp?dl=0

On 01/09/16 20:04, jona-sassenhagen wrote:

[2016-09-01 19:40] agramfort commented on #3555
too bad for you I still have time to read emails...

but I can live here without a test...

[2016-09-02 08:05] #3558 closed

[2016-09-02 11:14] #3541 closed

[2016-09-02 11:45] jjnurminen opened #3562 "Handling of short events is inappropriate for combination trigger channels"
I noticed that `find_events()` fails when there are overlapping triggers, which can (and often do) manifest as arbitrarily short events on a combination trigger channel (e.g. 'STI101' on TRIUX systems), at least when using `consecutive=True`.

E.g. let's say that there is trigger pulse on channel 1 and one millisecond later a pulse on channel 2. On the combination channel, this results in 'spuriou

[2016-09-02 11:49] Eric89GXL commented on #3562
It probably doesn't make sense in cases where binary channel 1 and binary channel 2 are used independently, but this was done for another use case, e.g. where a user typically wants to trigger a decimal "3" but the hardware isn't perfect so can have a 1 followed almost immediately by a 2 (summing to 3). So it's likely to break some people's setups if we change this.

I think we'll have to live wit

[2016-09-02 11:51] #3554 closed

[2016-09-02 12:00] jjnurminen commented on #3562
Having several channels trigger simultaneously to indicate e.g. a decimal 3 is a very common use case, but I never had any problems with it (using either MEG internal triggering, Presentation or Stim2). I think the DACQ event detection (which I have been using) allows some small timing mismatch between triggers, which may explain why it worked.

Now I'm not 100% sure whether find_events can be mad

[2016-09-02 12:06] jjnurminen commented on #3562
The Elekta manual states:
"To avoid misinterpretations of the trigger combinations due
to race conditions, the following procedure is implemented in
the on-line averager. Assume sample k with all trigger lines
inactive followed by sample k + 1 having one or more active
trigger lines. Sample k + 1 is used as the timing reference, but
the trigger line combination is determined from sample k + 2.
Thi

[2016-09-02 14:12] dgwakeman commented on #3562
Yes, this is why I added the `shortest_event=2` . Interestingly, this offers a slight difference between the exact start of an event that our find_events will use and Elekta will; however, this effect should be minimal. IIRC to change the model to work like the Elekta code would require a significant re-write (and would probably result in what would amount to an API change).

The race condition oc

[2016-09-02 15:05] jjnurminen commented on #3562
Thanks @dgwakeman. However, with my test data I got ValueError from `find_events` (due to short events), while the Elekta averager found a lot epochs. After setting shortest_event=0, I think I got the same result as Elekta (need to verify this next week).

So I'm a bit confused: according to the above, shouldn't the Elekta code also disregard single-sample events (since it looks one sample forward

[2016-09-02 15:08] Eric89GXL commented on #3562
@dgwakeman sorry for my ignorance, I didn't know that dataset existed. Any interest in writing an MNE-Python tutorial (and adding it to `datasets` somehow)? If not, do you think it's worth someone else doing it to show how to process the data with MNE-Python? I don't think we have anything about integration with fMRI currently.

Yes that's what it sounds like from the documentation, but it might n

[2016-09-02 15:15] jjnurminen commented on #3562
I'll try to do some checks. It's interesting that different parts of the Elekta software also interpret triggers differently, at least in 'pathological' cases. For example, the ElektaAverager test data causes a mismatch between the online averager and MaxAve.

@dgwakeman Can you clarify what you mean by race condition here?

[2016-09-02 15:18] dgwakeman commented on #3562
@jjnurminen, I suspect (read don't know) it depends on the actual events in the trial. The case is really specific, so it is possible it only deals with one type and not another.

e.g.
Real event is 3 for 10ms on 1khz data
STI101:

13333333333

I don't know what happens if you have this
Real event is 1 for 1ms then an event 2 for 1ms
12000000000
Events 2 and 1 are on separate inputs so the code ma

[2016-09-02 15:19] dgwakeman commented on #3562
@Eric89GXL this is something @agramfort and @jasmainak are working on. Actually, all the software packages are making tutorials using this dataset. I was supposed to go to a satellite at biomag on it, but unfortunately, given my unemployed status, I cant arrange the funds.

[2016-09-02 15:23] dgwakeman commented on #3562
@jjnurminen It all comes down to the binary input sum thing. That is where the race condition is. STI001 and STI002 are separate input channels to the NEUROMAG system, I think it has to do with something in how the hardware/firmware read the STI channels and synthesizes them into STI101, because this problem is virtually independent of sampling frequency i.e. I don't see cases of 11333... when I s

[2016-09-05 14:24] jaeilepp opened #3566 "Document baseline for Epochs."
Ref mailing list. The ``Epochs`` constructor has no documentation on how the baselining is done.

[2016-09-05 20:05] #3555 closed

[2016-09-06 06:58] jaeilepp opened #3567 "New filter defaults"
I tried the new defaults when analysing the multi-modal faces dataset. I filtered the data with new filter defaults
[code]
and was surprised to see the 50 Hz line noise in the results with cut-off frequency of 40 Hz.
![figure_1-6](https://cloud.githubusercontent.com/assets/3456414/18264284/a27ed728-740f-11e6-9cb2-45f2515dd3d3.png)
![figure_1-7](https://cloud.githubusercontent.com/assets/3456414/18

[2016-09-06 10:45] Eric89GXL commented on #3567
IIR defaults shouldn't have changed, just FIR

[2016-09-06 10:46] Eric89GXL commented on #3567
The trans_* arguments aren't used with IIR actually

On Sep 6, 2016 6:45 AM, "Eric Larson" <larson.eric.d@gmail.com> wrote:

[2016-09-06 11:29] jaeilepp commented on #3567
Ok, I see. Closing this.

[2016-09-06 11:29] #3567 closed

[2016-09-07 01:00] KirstensGitHub commented on #2672
Hi, I am working in python MNE with a .set file from EEGlab(matlab). I have imported the data using:

x=mne.io.read_raw_eeglab('Subject1.set')

but am trying to follow some tutorials and always run into the following error:
"IOError: [Errno 2] No such file or directory: u'Subject1.fdt'"

One line which gives this error is ln[8] of the following tutorial:
https://plot.ly/ipython-notebooks/mne-tutor

[2016-09-07 07:04] jasmainak commented on #2672
Hi @KirstensGitHub could you share your `Subject1.set` file? Usually, the EEGLAB reader tries to find the `.fdt` file if that's pointed to in the `.set` file. Is your data also in the `.set` file? The reason you get your error later is probably because `preload=False`.

[2016-09-07 07:53] #3509 closed

[2016-09-07 13:01] KirstensGitHub commented on #2672
I see!
location: **KirstensGitHub/Mich_collab/Subject1.set**

I had seen somewhere after loading that the fdt file did exist, but the computer seemed to not find/recognize it.

I just tried **x=mne.io.read_raw_eeglab('Subject1.set', preload=True)** but got the same error..

[2016-09-07 13:35] jasmainak commented on #2672
what is the location of the '.fdt' file? It is typically in the data field of your mat file structure. Can you share both files (*.set and *.fdt) on dropbox or privately by email so we can diagnose further?

[2016-09-07 22:17] jona-sassenhagen opened #3571 "Need robustness to uncoerceable filter cutoffs in BV headers"
I think a recent PR leads to problems with the BV importer if the header file has a string for the filter cutoff.

[code]

The end of the .vhdr looks like this:

[code]
(etc)

It worked with this file before.
I have previously worked on a similar issue, but it seems I wasn't thorough enough: #1834

@palday ?

I can in principle do this, but I'd rather work on my long list of outstanding issues.

[2016-09-07 22:28] palday commented on #3571
Jepp, can do - can you post the entire header file so that I can include a test?

________________________________
From: jona-sassenhagen <notifications@github.com>
Sent: Sep 8, 2016 00:18
To: mne-tools/mne-python
Cc: Phillip Alday; Mention
Subject: [mne-tools/mne-python] Need robustness to uncoerceable filter cutoffs in BV headers (#3571)

I think a recent PR leads to problems with the BV importe

[2016-09-07 22:30] jona-sassenhagen opened #3572 "info.pick_info method?"
Any chance of adding `mne.pick_info` as a method to info? That would make it more elegant to pass the (picked) info to other functions - without creating a handle to an intermediate object.

[2016-09-07 22:31] jona-sassenhagen commented on #3571
http://pastebin.com/gXdD7qss

This was from some kind of test run IIRC.

[2016-09-08 00:49] KirstensGitHub commented on #2672
Ah, I feel so embarrassed. I just had the .fdt file saved in the wrong place... *blush*
All working now!

Thanks so much for your quick replies! I'm relatively new to GitHub and have never seen an "issues" page/discussion like this before- very cool!

[2016-09-08 08:23] agramfort commented on #3572
type code you would like to write

[2016-09-08 08:36] palday commented on #3571
It worked previously because software filters were ignored -- if you had something similar in your hardware filters (some `Off` but some on), it would have failed there as well because `Off` was only handled in those cases where it was the sole value.

[2016-09-08 11:16] #3518 closed

[2016-09-08 11:16] #3566 closed

[2016-09-08 11:21] jona-sassenhagen commented on #3572
`mne.viz.plot_topomap(array_for_data_chans, info.copy().pick(...))`

instead of:

[code]

I guess you could also do

[code]

But we usually allow to chain methods for objects.

[2016-09-08 11:32] agramfort commented on #3572
is that

info.pick_types that you need?

[2016-09-08 11:33] jona-sassenhagen commented on #3572
... closing this :3

[2016-09-08 11:33] #3572 closed

[2016-09-08 17:00] Eric89GXL opened #3577 "BrainVision reader treatment of info['lowpass']"
Currently the BV reader sets info['lowpass'] to the lowest filter that was applied to *any* channel. I think this should be changed due to:

1. Inconsistent with how we treat this field in `raw.filter(..., picks=picks)`, which only sets it if all data channels are filtered.

2. Dangers during decimation. Users can easily assume data are sufficiently low-passed when they are not, and get aliasing d

[2016-09-08 18:24] Eric89GXL commented on #3278
I think we might not need this now that we have improved `plot_bem`, but we can reopen later if necessary

[2016-09-08 18:24] #3278 closed

[2016-09-08 18:25] Eric89GXL commented on #3441
@agramfort WDYT about making a handful of these to keep with our poster at BioMag?

[2016-09-08 18:27] Eric89GXL commented on #3424
@kingjr do you have time to fix this? Would be good to have for 0.13 which we want to release in the next couple of weeks.

[2016-09-08 18:32] #3301 closed

[2016-09-08 18:34] Eric89GXL commented on #3265
I'll add this to the doc issue

[2016-09-08 18:34] #3265 closed

[2016-09-08 18:36] Eric89GXL commented on #2875
@dengemann do you have time to tackle this in the next two weeks?

[2016-09-08 18:37] Eric89GXL commented on #2873
@kingjr is this possible in the next two weeks?

[2016-09-08 18:37] Eric89GXL commented on #2860
Can we close this one for now unless someone is really interested in enhancing the object?

[2016-09-08 18:38] Eric89GXL commented on #2828
@jasmainak do you have time for this in the next two weeks?

[2016-09-08 18:39] Eric89GXL commented on #2760
I think this has approximately been taken care of with warnings. I think we can iterate on it now with more targeted issues as we hit them. I'll close but @jasmainak feel free to reopen if there is a clear proposal or issue we should still tackle.

[2016-09-08 18:39] #2760 closed

[2016-09-08 18:41] jona-sassenhagen commented on #2722
Nope :(

[2016-09-08 18:43] Eric89GXL commented on #2310
@agramfort the last suggestion was:

I think we need to add to this:

- raise an error in places in the code (probably anything that uses whitening, like inversion and dipole fitting?) where projection information is necessary
- don't set `proj = True` in `Epochs` constructor based on `raw.proj` anymore

Does that make sense? If so I can try to tackle this for 0.13.

[2016-09-08 18:43] Eric89GXL commented on #2308
Closing due to non-response, @teonbrooks feel free to reopen if you hit the issue again

[2016-09-08 18:43] #2308 closed

[2016-09-08 18:45] Eric89GXL commented on #1727
Do we still need this? It has been open for a long time with no action.

[2016-09-08 18:45] Eric89GXL commented on #2024
Looks like remaining issues have been moved to a new issue, closing

[2016-09-08 18:45] #2024 closed

[2016-09-08 18:46] Eric89GXL commented on #2275
@teonbrooks any time for this in the next two weeks?

[2016-09-08 18:49] kingjr commented on #3424
most likely no

On 8 September 2016 at 14:27, Eric Larson <notifications@github.com> wrote:

[2016-09-08 18:51] Eric89GXL commented on #3424
I'll remove the milestone for 0.13 then unless someone else finds time

[2016-09-08 19:19] Eric89GXL opened #3578 "BUG: Breakages in time_gen with latest numpy and sklearn"
First one probably needs to be `np.maximum` instead of `np.max`:
[code]
Second one must be due to sklearn change:
[code]
@kingjr do you have time to look?

[2016-09-08 19:29] agramfort commented on #2860
+1 to close

[2016-09-08 19:32] Eric89GXL commented on #2860
We can reopen if someone gets motivated again

[2016-09-08 19:32] #2860 closed

[2016-09-08 19:35] agramfort commented on #3578
see https://github.com/mne-tools/mne-python/pull/3579

let's see if CIs are happy...

[2016-09-08 19:36] kingjr commented on #3578
I actually just hit that error, if alex s fix doesn't pass I'll have a look. Locally changing n_folds to n_splits solved it; didn't touch the np.max however

[2016-09-08 19:44] agramfort commented on #3577
+1

[2016-09-08 19:46] Eric89GXL commented on #3578
Pretty sure the `np.max` is a bug, can you submit a separate fix?

[2016-09-08 20:39] #3578 closed

[2016-09-08 21:55] kambysese commented on #2995
@Eric89GXL have you made any progress on this (I see milestone been removed :worried:)? BTW why do you think this requires warping?

[2016-09-08 22:53] Eric89GXL commented on #2995
I haven't started on it and we release in two weeks, so I removed the
marker.

In the general case, we need some way to coregister the head frame of the
given subject (which could be e.g. a child or infant) with the template
head (which will almost certainly be an adult). Warping is a good way to do
this. If we have individualized MRI data it should be a lot easier because
we could skip that step,

[2016-09-09 01:11] kambysese commented on #2995
Yes that would be tremendous help. I don't have individual MRIs but (still dealing) with case where I need to plot either scatter or group level dipole coordinates on slices of an average MRI template. Overall I understand how this issue, in particular localization benefits from warping, but in terms of visualization it's difficult to show multiple slices that may contain dipoles from more than on

[2016-09-09 01:15] Eric89GXL commented on #2995
Hmm... I was asking if the have-individualized-MRI case would be helpful, but it sounds like you're talking about the case where you do not have those available. So to be clear, you need the case *without* individualized MRIs, where you want the data coregistered to some template, right?

That is the harder one to get right, as we need some way to coregister the frames. Elekta does something reaso

[2016-09-09 01:15] Eric89GXL opened #3582 "RandomizedPCA deprecation"
I get this deprecation warning:
[code]
It would be good to make this change. I can do it unless you're motivated @kingjr

[2016-09-09 01:22] Eric89GXL commented on #3582
Likely related, but might expose a bug here or in sklearn:
[code]

[2016-09-09 02:11] kingjr commented on #3582
It s not in a supervised analysis is it? I think it s out of my scope.

Le 8 sept. 2016 9:22 PM, "Eric Larson" <notifications@github.com> a écrit :

[2016-09-09 05:04] choldgraf commented on #3441
I can bring some to SfN as well if they're made before then. If you want to ship some to NYC then I can pick them up there (I'll be there in October)

[2016-09-09 06:00] kambysese commented on #2995
The have-individualized-MRI case should be most generally useful, but in the case of no-individual-MRIs, which is often the case with infant and toddler data, some related way to viz dipole localization e.g., using individual spherical conductor models is useful.

I am not sure if I understand what you mean by coregistering the frames, but if you recall on your last visit to SEA we used translatio

[2016-09-09 06:20] kambysese commented on #2995
![ecd localization-200](https://cloud.githubusercontent.com/assets/4381290/18377085/78e69c64-7619-11e6-82ad-3822aadda41e.png)

@Eric89GXL in hope of making sense I am thinking whether it maybe possible to use localization data shown above as M+SEM scatter, to create a mask image for `nilearn.plotting.plot_glass_brain`? What I don't know is whether it's possible/necessary to make a glass brain base

[2016-09-09 08:15] palday commented on #3577
I can implement this (it is a trivial change from a code standpoint), but a few questions for further thought:

1. Should we implement some method / have an optional return value from the BV reader with a list of channels and filter settings so that the user can see what the original values were?

2. Does it make sense to have an API change to support the old behavior? Something like  `heterogeneo

[2016-09-09 10:02] jjnurminen commented on #3562
Just FYI, I now have some test data from a new Stim2 system which includes a gadget called StimTracker. This box tracks actual physical appearance of stimuli using photodetectors etc. to produce accurate onset triggers. When setting up averaging categories, one then must define the onset trigger as timing reference and then a stimulus category specific trigger as a conditional event. Since the ons

[2016-09-09 10:58] agramfort commented on #3441
@yousrabk @jasmainak can you maybe take care of this? I will pay and manage to get reimbursed afterwards

[2016-09-09 11:47] jasmainak commented on #3441
@agramfort how many and what size? is 2" x 2" the size that is typical size?

[2016-09-09 12:06] kingjr opened #3583 "CSP transform doesn't comply with sklearn API"
`CSP.transform` currently returns the CSP features averaged over time.

IMO this is not a transform in the sklearn sense, it's a feature extraction. The transform should be the time course of each CSP i.e. return an array of `shape (n_epochs, n_filters, n_times)`.

Typically, if I want to do a dim reduction by CSP e.g. `make_pipeline(CSP(), TimeFrequency())` the current API can't work.

I don't th

[2016-09-09 12:25] jjnurminen commented on #3562
So the conclusion is like this:

- `shortest_event=2`(the default) may cause an exception on combination channels (e.g. STI101) due to closely overlapping triggers; in many cases, this may be solvable by masking trigger bits away
- Using `shortest_event=1` will fix the problem, but it will cause slightly asynchronous trigger onsets to be detected as separate events, which perhaps was not intended

[2016-09-09 12:27] agramfort commented on #3577
to me it's a bug and I would not change API for this.

it's a bug fix.

[2016-09-09 12:30] jasmainak commented on #2828
okay I'll give some time for fixing MNE stuff on Monday. I've a couple of things to do.

[2016-09-09 12:35] agramfort commented on #3583
I would add a parameter to CSP to average over time or not.

the averaging is the standard use of CSP

[2016-09-09 12:39] dengemann commented on #2828
+1

On Fri, Sep 9, 2016 at 2:30 PM Mainak Jas <notifications@github.com> wrote:

[2016-09-09 12:48] kingjr commented on #3583
ok

[2016-09-09 13:49] Eric89GXL opened #3584 "Too many warnings about interactive colorbar"
@jaeilepp there are a lot of these in tests and examples:
[code]
Are they meant to be so common? It seems a bit overkill.

[2016-09-09 13:57] jaeilepp commented on #3584
True, I think it can be removed.

[2016-09-09 13:59] Eric89GXL commented on #3584
I can do it as part of an existing PR

[2016-09-09 14:53] kingjr opened #3585 "ENH: monkey dataset"
The following website has many public datasets available, but requires a registration.

http://crcns.org/data-sets/vc/pvc-5

It would be great to identify / negociate the licence if we see that a dataset could be used in an example.

[2016-09-09 16:11] choldgraf commented on #3441
@jasmainak for reference, the two stickers in the dopey-looking picture of me at the top of this thread are 3" x 1" and 3" x 1.5", respectively. I think it's good to have at least some in that size since it's the common laptop sticker size.

[2016-09-09 16:52] Eric89GXL commented on #3562
Thanks for following up @jjnurminen and @andreyzhd

[2016-09-09 16:52] #3562 closed

[2016-09-09 16:55] Eric89GXL commented on #2995
It probably won't make a big difference for plotting. But it would be good to have for surrogate subjects at some point, so I'd like to get that going if possible instead of using a stand-in method now that might require deprecation later.

[2016-09-09 17:44] Eric89GXL opened #3588 "BUG: Failing example on master"
CircleCI is angry because of this:
[code]
Anybody seeing this locally? Doesn't happen for me but I haven't tried my Conda envs yet.

[2016-09-09 19:09] #3582 closed

[2016-09-10 12:10] agramfort commented on #3441
I would make about 150. wdyt?

fine with 3" x 1.5"

[2016-09-10 12:25] #3571 closed

[2016-09-10 12:59] agramfort commented on #2310
I 'think' it makes sense. But I would see by trying what are the consequences...

[2016-09-10 14:26] kaichogami commented on #3471
This can be closed now.

[2016-09-10 14:43] jasmainak commented on #3441
okay we might have some stickers by 23rd sept ;)

[2016-09-10 16:34] dengemann commented on #3441
LOL .... If someone would have told me 4 years ago that one day we'd be
discussing stickers on github. Good stuff!

On Sat, Sep 10, 2016 at 4:43 PM Mainak Jas <notifications@github.com> wrote:

[2016-09-10 20:09] #3471 closed

[2016-09-10 22:18] jasmainak commented on #3441
are we happy with this?
![mockup](https://cloud.githubusercontent.com/assets/15852194/18413816/138279fe-77b5-11e6-82bb-d35fd20178c1.png)
It's going to be 3" x 1.3542". Speak up now if you have any reservations! Otherwise I'll approve it tomorrow morning.

[2016-09-10 22:32] dengemann commented on #3441
It reminds me of Nintendo game cartridges from the early 90's .... Awesome!
On Sun, 11 Sep 2016 at 00:18, Mainak Jas <notifications@github.com> wrote:

[2016-09-10 22:48] Eric89GXL commented on #3441
Awesome

[2016-09-10 22:49] jasmainak commented on #3441
okay since I got two +1s, I'm going to approve it now :)

[2016-09-10 22:53] choldgraf commented on #3441
Do you think you could get it at 1.3543" instead?

[2016-09-10 23:26] jasmainak commented on #3441
I rather like the trailing 42 ;)

[2016-09-10 23:46] choldgraf commented on #3441
haha, shame on me for not seeing the answer to the universe when it's staring me in the face

[2016-09-12 09:48] jaeilepp commented on #3588
Where you see this failure? Master seems to be fine atm https://circleci.com/gh/mne-tools/mne-python/2503

[2016-09-12 14:25] Eric89GXL commented on #3588
Every PR was failing for a number of days. Maybe it's fixed now, I'll check and close if that's the case.

[2016-09-12 14:42] Eric89GXL commented on #3588
Still failing:

https://circleci.com/gh/mne-tools/mne-python/2516

So maybe it's just my build fork that's being problematic...?

[2016-09-12 15:28] #3244 closed

[2016-09-12 22:07] kingjr commented on #3441
nice

[2016-09-13 12:59] #3583 closed

[2016-09-14 15:59] Eric89GXL commented on #3588
This is a PySurfer problem, fix at https://github.com/nipy/PySurfer/pull/163

[2016-09-14 15:59] #3588 closed

[2016-09-15 05:28] #2727 closed

[2016-09-15 05:28] #3538 closed

[2016-09-15 05:28] #3584 closed

[2016-09-15 08:34] agramfort commented on #3539
@jaeilepp what did we converge on regarding fif constants?

[2016-09-15 08:36] agramfort commented on #2873
FYI we will release in a week. If not done we'll postpone. Just let us know.

[2016-09-15 08:37] agramfort commented on #3577
can this be closed?

[2016-09-15 08:38] kingjr commented on #2873
Not my priority sorry

Le 15 sept. 2016 04:36, "Alexandre Gramfort" <notifications@github.com> a
écrit :

[2016-09-15 08:45] agramfort commented on #2873
ok removing 0.13 milestone

[2016-09-15 10:20] kingjr opened #3592 "Q: decoding module sufficiently stable for 0.13?"
The next release is coming soon, and I am wondering whether the recent enh in the decoding module are sufficiently stable for it.

We've encountered very painful refactoring in the past because of lack of experience, and we should clearly avoid this mistake again.

I am most worried about :

1) the location of `XdawnTransformer` currently in mne.preprocessing, although may need to be moved to mne.

[2016-09-15 10:24] dengemann commented on #3592
If you don't feel a strong rush. We can let it mature until christmas. In
the case of doubt slowing down is good. But I have no strong emotions here.

On Thu, Sep 15, 2016 at 12:20 PM Jean-Rémi KING <notifications@github.com>
wrote:

[2016-09-15 12:32] Eric89GXL commented on #3592
+1 for privatizing, no need to rush them out

[2016-09-15 12:35] palday commented on #3577
Close it, we can finish off any remaining bits in the PR (#3593).

[2016-09-15 13:02] jaeilepp commented on #3539
No response from Elekta yet.

[2016-09-15 14:55] agramfort commented on #3592
I want to demo decoding for biomag MNE presentation.

and I am a bit annoyed to have in master code that we don't consider ready
for public use.

any hope to make what's necessary to fix this situation?

what should I use for biomag demo?

[2016-09-15 17:55] kingjr commented on #3592
The decoding was a complete mess where each object had its own API; we've been trying to clean it up, but this task isn't finished IMO. I think releasing a half baked module isn't worth the deprecation cycles that we need support once an object is in stable.

[2016-09-15 19:42] agramfort commented on #3592
ok. Do you have a clear view of what's left to do?

[2016-09-15 20:13] kingjr commented on #3592
I'm trying to keep the work plan in #3442, but it tends to grow a bit at each new PR.

[2016-09-16 08:14] jaeilepp commented on #3539
Here they are:
[code]

[2016-09-16 09:24] agramfort commented on #3539
cool

thx @jaeilepp

let's get this merged

[2016-09-16 10:37] dengemann opened #3597 "BUG? something is still wrong with annotations"
I cannot even describe what it is but the recent changes broke code. I'm trying to figure out what's happening.

cc @jaeilepp @Eric89GXL

[2016-09-16 10:48] dengemann commented on #3597
Sorry for the noise, user error. Closing.

[2016-09-16 10:48] #3597 closed

[2016-09-16 14:12] #3577 closed

[2016-09-16 14:13] Eric89GXL commented on #2847
Removing milestone label

[2016-09-16 14:14] Eric89GXL commented on #2828
@jasmainak any time for this one in the next couple of days? If not I'll remove the milestone (or you can)

[2016-09-16 14:14] jasmainak commented on #2828
I have a local branch @Eric89GXL but I fear it's going to take more time. I'll remove it from the milestone

[2016-09-16 14:19] Eric89GXL commented on #2875
Removing milestone

[2016-09-16 20:11] Eric89GXL opened #3598 "ENH: Add minimum-phase filtering"
We should have minimum phase filtering. It could especially be useful in realtime applications, cc @aj-ptw @m-brantheim. We need the upstream SciPy PR https://github.com/scipy/scipy/pull/6497 to land first. But it should only be 1-2 months away.

[2016-09-16 22:35] jasmainak opened #3599 "ENH to hierarchical tags"
Currently, if we have event_ids which look like this:

[code]

it is possible to do:

[code]

and
[code]

but not:

[code]
It seems that intuitively this should be made possible. It's also how `read_selection` works for example. Currently, I'm using `mne.concatenate_epochs` for this purpose but it's a bit annoying to use especially when you are prototyping things quickly. Thoughts?

[2016-09-17 07:14] dengemann commented on #3599
Sounds good. But I was almost sure that this works. Did you try list
instead of tuple syntax?
On Sat, 17 Sep 2016 at 00:35, Mainak Jas <notifications@github.com> wrote:

[2016-09-17 09:36] jasmainak commented on #3599
You mean ``epochs[['auditory', 'visual']]`` ? Nopes, this doesn't work either

[2016-09-17 09:37] jasmainak commented on #3599
Here's a small script to reproduce:

[code]

[2016-09-17 12:25] Eric89GXL commented on #3599
I agree that should work. I could try to fix it Monday for release.

[2016-09-17 14:03] agramfort commented on #3599
+1 to make this work

[2016-09-17 14:06] agramfort commented on #3598
can you clarify why this would be useful for realtime?

[2016-09-17 14:33] Eric89GXL commented on #3598
For things like online BCI, reducing delay is important. In linear phase
(or zero phase by delay correction) filtering the group delay in the
passband is substantially larger than in minimum phase

[2016-09-17 14:44] Eric89GXL commented on #3598
(Well the actual group delay is zero for the zero phase case, but it is
acausal so you do need to wait half the filter length before doing the
delay correction -- hence an effective delay when actually trying to use it)

[2016-09-17 20:40] jasmainak commented on #3599
That would be really cool. It might also help for our Biomag demo

[2016-09-19 09:44] ppasler opened #3601 "[Question] How to import CSV data?"
Hi guys,

as the mailing-list link on your page does not work, I use the issue tracker for asking, how to import CSV data?

Background:
I am using the [Emotic EPOC+](https://www.emotiv.com/epoc/) EEG headset with 14 channels (which is far  away from any medical EEG - I know). Nevertheless I wonder if there is an option to import the recorded channels which are written in simple CSV format.
`F3	F4

[2016-09-19 09:56] dengemann commented on #3601
Checkout the pandas library and it's io tools. `pd.read_csv`. From there
you can then create epochs or raw objects as described here:
http://martinos.org/mne/stable/auto_tutorials/plot_creating_data_structures.html

And to your second questions. Not sure why it shouldn't. It depends of
course on what is your goal :)

On Mon, Sep 19, 2016 at 11:44 AM ppasler <notifications@github.com> wrote:

[2016-09-19 10:19] ppasler commented on #3601
Hi Dennis,

thanks for the fast reply.
I will check out the link you posted (I kinda missed that one...) and see if this fits my needs.

If you are interested:
My research project at university is about [detecting driver drowsines](https://github.com/ppasler/current-adas/tree/master/project) with an EEG. I recorded some data in our driving simulator and assumed that the drowsiness increases over t

[2016-09-19 14:32] ppasler commented on #3601
Works like a charm, thanks!

[2016-09-19 14:32] #3601 closed

[2016-09-19 14:37] dengemann commented on #3601
Great and glad to hear! Your project sounds interesting, I hope mne-python
will be of help for you!

On Mon, Sep 19, 2016 at 4:32 PM ppasler <notifications@github.com> wrote:

[2016-09-19 22:21] teonbrooks opened #3604 "Progress Bar in GAT"
Is there a place in the gat code to add a progress bar like the spatiotemporal test has? I'm running it and I can't tell if it is a taxing on the computer or if it just silently died. Even if it is an update on each fold would be sufficient.

[2016-09-19 22:23] dengemann commented on #3604
Teon is back!!! :)
On Tue, Sep 20, 2016 at 12:21 AM Teon L Brooks <notifications@github.com>
wrote:

[2016-09-19 23:05] kingjr commented on #3604
There may be a way but I don't know it.

I actually would like this feature too, as I get a tonne of useless outputs from joblib instead :/

[2016-09-20 01:00] teonbrooks commented on #3604
not yet... :/ almost!

[2016-09-20 08:47] jasmainak commented on #3441
closed by https://twitter.com/mainakjas/status/778153289150062593

[2016-09-20 08:47] #3441 closed

[2016-09-20 08:51] jasmainak commented on #3604
we have a progressbar in utils.py. That could be used ...

[2016-09-20 10:30] jjnurminen commented on #3097
Closing due to #3205 nearing completion

[2016-09-20 10:30] #3097 closed

[2016-09-20 11:24] Eric89GXL commented on #3441
Nice, closing via tweet. Next issue we should closing via vine

[2016-09-20 11:26] kingjr commented on #3604
Iirc The problem was not the problem bar itself but it's use in a
parallelized context.

Le 20 sept. 2016 04:51, "Mainak Jas" <notifications@github.com> a écrit :

[2016-09-20 11:28] Eric89GXL commented on #3604
The clustering code is parallel, so we can hopefully do the same thing in
both places.

[2016-09-20 15:19] kingjr commented on #3604
Right, we just have to copy
[code]

in `_GeneralizationAcrossTime` `TimeDecoding` and `SearchLight`. @teonbrooks you up for that?

[2016-09-21 04:55] teonbrooks commented on #3604
i'm grounded from coding for about one more month.

[2016-09-21 21:40] teonbrooks opened #3608 "BUG: the craziest we've encountered in our lifetime"
We've encountered a _challenging_ bug which only happens for the GAT with a Ridge + n_jobs != 1 + an info with projection.

We checked that it works well with n_jobs = 1, clf=LogisticRegression, and a homemade info with success.

The info file can be downloaded from [here](https://www.dropbox.com/s/vvfvgetr8b42hi7/info.fif?dl=0)

[code]

joblib: 0.9.4
numpy: 1.11.1
sklearn: 0.16.1
mne: dev
JR & Te

[2016-09-22 07:12] agramfort commented on #3608
is it on a mac without mkl using python 2.7?

[2016-09-22 07:29] kingjr commented on #3608
Mac and python 2.7 yes, I haven't checked mkl

Le 22 sept. 2016 03:12, "Alexandre Gramfort" <notifications@github.com> a
écrit :

[2016-09-22 07:40] behinger opened #3609 "ENH: import ANT Neuro .CNT files (some code available)"
ANT Neuro has a special fileformat (.cnt and .trg files). I could not find any support to import them in MNE.
They do have a c-library [libeep](https://sourceforge.net/projects/libeep/) which you can compile for python. They were so nice to send me a precompiled 64bit linux version (thus I did not really try to compile myself, but should be straight forward) and I did an early sketch of an importe

[2016-09-22 08:19] jaeilepp commented on #3609
Looks really nice.

Would you be able to share some of these files? The CNT reader is a quite recent addition and I remember there being some variation in the file format. It would be an interesting project to try and see if we can make it work without the dependencies to libeep.

[2016-09-22 09:07] behinger commented on #3609
I'm not sure if you mean script files or .cnt files. You can use the read_antcnt file if you want. The compiled version of libeep I don't really know and you would have to contact ANT / Robert Smies (the current author of libeep).

If you want a .cnt file & trigger files you can [find examples here](https://github.com/behinger/EEG-trigger-check/tree/master/data). These are only bipolar luminance s

[2016-09-22 09:15] jaeilepp commented on #3609
Yeah, I meant the data files, thanks. These should be fine. Maybe I'll have some time next week to see if I can make any sense of it.

[2016-09-22 11:01] Eric89GXL commented on #3609
Might be worth asking the author of the library for source plus license
permission

[2016-09-22 13:18] smeeze commented on #3609
Hi,

Maintainer of libeep here. Our project is located on sourceforge: https://sourceforge.net/projects/libeep/
We use the LGPL license which means you can include a copy of the code in your project, provided you submit back changes you make and keep a reference to the original code.

That said, go ahead and include our project into MNE. If it's possible in git I would recommend pulling the source

[2016-09-22 13:25] #3539 closed

[2016-09-22 13:46] Eric89GXL opened #3611 "FIX: Update sph_harm functions"
Now that SciPy/Anaconda's `sph_harm` issue has been fixed (https://github.com/scipy/scipy/pull/6074), we should be able to use that for spherical harmonic calculations as long as users are running SciPy 17.1+. I'll have to see if it's faster, though.

[2016-09-22 18:42] kingjr commented on #3592
@agramfort ok to temporally privatize XdawnTransformer, SearchLight and GeneralizationLight before the release? The underlying functions are still covered by Xdawn, TimeDecoding and GeneralizationTime.

[2016-09-22 19:59] Eric89GXL commented on #3608
I ran on Linux with MKL and with OpenBLAS and I can't replicate, sorry :(

If you're stuck on it for a long time, I can try to dust off my old OSX laptop.

[2016-09-22 20:55] kingjr commented on #3608
I can't reproduce it on linux either

[2016-09-22 21:07] dengemann commented on #3608
can you set mkl threads to 1? it can play badly with joblib.

On Thu, Sep 22, 2016 at 9:59 PM Eric Larson <notifications@github.com>
wrote:

[2016-09-23 07:32] agramfort commented on #3608
it's problem with accelerate framework.

use mkl to fix the pb or switch to py3k

[2016-09-23 13:04] agramfort commented on #3609
thanks Robert

mne-python is meant to be a pure python package to work out of the box on
all systems.

to support these files we need to rewrite the readers in pure python

[2016-09-23 13:28] agramfort commented on #3592
hum... what makes you think that the API of these objects is not ready to
be exposed?

[2016-09-23 14:42] kingjr commented on #3592
As mentioned earlier,
* XdawnTransformer should probably be in decoding not in preprocessing
* GeneralizationLight is probably not a good name.
* All these objects are largely redundant with the previous equivalents (Xdawn, TimeDecoding, GeneralizationAcrossTime), but the latter don't get deprecated yet; which thus create multiple ways of doing the same thing.
* All of these objects are 3 months o

[2016-09-24 16:55] jona-sassenhagen commented on #3604
Yes, this would be very nice to have.

Also for Time-Freq computations.

[2016-09-24 20:00] agramfort commented on #3592
hum ok ok but I am relunctant as I don't want a broken window effect.
Code is master should be ready to be released otherwise it should not have
been merged...

please send a PR to make them private and don't forget to undo the what's
new
changes etc.

[2016-09-25 00:23] kingjr commented on #3592
ok, I'll wait for asish to clean up his PR and do that.

Also, thinking about it SearchLight may also not be the appropriate term. What we do seems closer to a [slicing](https://3d.bk.tudelft.nl/ken/en/thesis/slicing.html).

FWIU slicing consists in analyzing a subset of the hyperdimensional space (e.g. all sensors at a given time points), whereas the fMRI SearchLight is used with redundant and ov

[2016-09-25 06:24] agramfort commented on #3592
just keep in mind that biomag is in 1 week and we have to release before

if you thing asish will not be done in the next 2 days then postpone to the
next release.

[2016-09-25 13:56] kingjr commented on #3592
Ok, I'll take care of this within the next 48hours

[2016-09-25 15:07] KirstensGitHub commented on #2672
another file-type-related question: is there a way to use mne.read_evokeds on the .fdt and .set files?

[2016-09-25 19:01] jasmainak commented on #2672
@KirstensGitHub this is not possible as of now. I suppose we could theoretically support it. But I don't know what the other developers have to say. I'm sure @agramfort has an opinion on this. @KirstensGitHub isn't it possible for you to save the epochs and then average it in MNE?

[2016-09-25 19:09] jona-sassenhagen commented on #2672
Is the EEGLAB format intended to store evoked data? I think it's intended for epochs and continuous.

EEGLAB is really not about evoked stuff, but about single trial stuff.

[2016-09-25 19:09] jasmainak commented on #2672
This is indeed what I thought ...

[2016-09-26 15:28] #2875 closed

[2016-09-26 15:28] #3599 closed

[2016-09-26 20:37] kingjr commented on #3592
closed via #3617

[2016-09-26 20:37] #3592 closed

[2016-09-26 21:24] kambysese opened #3618 "Plot layout with selected channels"
Maybe I am misunderstanding the docstrings but shouldn't the following snippet result in a layout plot with only two (selected) channels?

channels = ['MEG0242', 'MEG0243']
exclude = [ch for ch in evoked.ch_names if ch not in channels]
layout=mne.channels.find_layout(evoked.info, ch_type='grad', exclude=exclude)
layout.plot()

![image](https://cloud.githubusercontent.com/assets/4381290/18852331/d3

[2016-09-27 08:27] agramfort commented on #3618
indeed it's weird

[2016-09-27 13:03] jjnurminen opened #3619 "realtime (ftclient) example fails to read FieldTrip header"
Hi,
I tried the gallery example `ftclient_rt_compute_psd` with a TRIUX and `neuromag2ft`. It fails with
`ValueError: No channels match the selection.`

I traced it down to a problem reading the FieldTrip header from the raw data buffer. Here is a minimal example:

[code]

If I run `neuromag2ft` on alpha, start data acquisition and run this example, it will print an empty list, i.e. looks like it c

[2016-09-27 13:11] jasmainak commented on #3619
can you share a small data file (even a couple of seconds would do) of recording from the same system?

[2016-09-27 13:11] jjnurminen commented on #3619
I think I found a solution, namely a typo/bug in externals/FieldTrip.py.
I will submit a PR.

[2016-09-27 13:12] jjnurminen commented on #3619
FieldTrip.py line 312 says:
`                if offset + chunk_len < bufsize:`
I'm thinking it should probably say:
`                if offset + chunk_len > bufsize:`

With this change, it starts to work.

[2016-09-27 13:15] jasmainak commented on #3619
You will need to update it upstream with the FieldTrip folks if it's a bug in externals: https://github.com/fieldtrip/fieldtrip/blob/master/realtime/src/buffer/python/FieldTrip.py

[2016-09-27 13:19] jjnurminen commented on #3619
Right, thanks @jasmainak. So I think we can close this one.

[2016-09-27 13:58] jjnurminen commented on #3619
@jasmainak I discovered another bug. Will submit a PR.

[2016-09-27 14:05] jjnurminen commented on #3619
(closing this anyway since title is not accurate anymore)

[2016-09-27 14:05] #3619 closed

[2016-09-27 16:14] kambysese commented on #3618
Thanks @agramfort :grinning: I specialize in weird

[2016-09-27 17:37] ImmanuelSamuel opened #3621 "n_fft issue"
Changing n_fft does not change the frequency bins when using
`mne.time_frequency.psd_welch`

[2016-09-27 18:06] Eric89GXL commented on #3621
is `n_fft > n_samples` for your signal?

[2016-09-27 20:50] ImmanuelSamuel commented on #3621
yes

[2016-09-27 21:11] Eric89GXL commented on #3621
Read the docstring of `n_fft` more carefully, it says that if `n_fft > n_samples` , then `n_samples` will be used, i.e. `n_fft = min(n_fft, n_samples)`. Make sense?

[2016-09-27 21:17] ImmanuelSamuel commented on #3621
Yes I see that sorry about that. I had previously had n_fft  > n_samples and I got the zero-padded result. Not qute sure what function I used. Does mne support zero-padding or should I have to zero-pad the data before turning it into an Epoch?

[2016-09-27 21:20] ImmanuelSamuel commented on #3621
I know that tfr_* does that but what if I needed padding without the need to do time-frequency analysis? In this case where I fix the time bounds computation time is faster.

[2016-09-28 13:26] mmagnuski commented on #3621
IIRC psd_welch does not support padding and I also remember myself expecting at the beginning that `n_fft > n_samples` does zero padding.
The `scipy.signal.welch` function that `psd_welch` is using supports zero-padding however: `nperseg` argument controls segment length and `nfft` is used for zero-padding, when needed.

[2016-09-28 16:21] Eric89GXL opened #3623 "BUG: sklearn cannot find LeaveOneLabelOut"
On latest `sklearn` I get this error in `master`:
[code]
@kingjr @agramfort were we using a deprecated feature, or is this a sklearn bug?

[2016-09-28 16:24] Eric89GXL commented on #3623
Actually looks like that class doesn't even exist in `master`:

http://scikit-learn.org/dev/modules/classes.html

[2016-09-28 16:29] Eric89GXL commented on #3623
Ahh, it's now called `LeaveOneGroupOut`

[2016-09-28 16:30] kingjr commented on #3623
oh god, they call it "LeaveOneGroupOut" now :/ We urgently need to deprecate classes that handle the cv, it's causing too much bleeding edge.

[2016-09-28 16:31] kingjr opened #3624 "BUG: GAT shouldn't take non-partition cv"
We should create an error when the cv is not a partition (e.g. ShuffleSplit with overlapping tests sets). We currently just iteratively replace the y_pred[test].

[2016-09-28 16:34] Eric89GXL commented on #3621
I suppose we could change it so that if `n_fft > n_samples` it zero-pads, seems more consistent. Not sure how to do it in a nice way from a non-API-breaking standpoint, though. We might need to introduce a kwarg :(

[2016-09-28 16:46] mmagnuski commented on #3621
In some cases one may still want a welch window that is shorter than n_samples and zero-padding too, so another kwarg seems necessary (`pad_to`, `pad`, `zero_pad` ?).

[2016-09-28 16:50] Eric89GXL opened #3625 "ENH: Function for plotting filter responses"
@agramfort mentioned it would be nice to be able to take the `filter_data` parameters and see what the filter response looks like. I'll probably do something like what is in `plot_background_filtering.py` and adapt it to deal with IIR, FIR, etc.

[2016-09-28 17:00] Eric89GXL commented on #3624
Are these warnings related (from plot_decoding_csp_eeg.py)?
[code]

[2016-09-28 17:52] kingjr commented on #3624
nope, different issue.

The second warning is linked to sklearn big change of cross_validation to model_selection module.

[2016-09-28 19:00] agramfort commented on #3621
I agree

[2016-09-28 19:01] agramfort commented on #3623
ok but needs a backport :(

[2016-09-28 19:02] Eric89GXL commented on #3623
Do we need it? We only have the problem on bleeding-edge sklearn. We'll probably get 0.14 out before they get out 0.19 or 0.20

[2016-09-28 19:07] agramfort commented on #3623
we'll have a problem with 0.18 released imminently ...

[2016-09-28 19:10] Eric89GXL commented on #3623
I'm on 0.19-dev, are you sure it's a problem with 0.18?

[2016-09-28 19:12] agramfort commented on #3623
yes...

[2016-09-28 19:21] Eric89GXL commented on #3623
It only shows up in `mne/decoding/tests/test_time_gen.py` (not core code), so maybe not worth it? :)

[2016-09-28 19:30] agramfort commented on #3623
unless it makes debian packaging break....

[2016-09-28 19:39] Eric89GXL commented on #3623
Argh, yes it could. :( I can do it after #3622 is in

[2016-09-28 21:19] jona-sassenhagen opened #3627 "BUG: source space decoding example is broken"
Check it out: http://martinos.org/mne/stable/auto_examples/decoding/plot_decoding_spatio_temporal_source.html#sphx-glr-auto-examples-decoding-plot-decoding-spatio-temporal-source-py

The plots are broken.

[2016-09-28 21:26] kingjr commented on #3627
also noted in #3350. @jona-sassenhagen did you check that it runs locally?

[2016-09-29 13:50] Eric89GXL commented on #3623
Indeed the problem is now in `master`:

https://travis-ci.org/mne-tools/mne-python/jobs/163710863

It is fixed by #3622, so I'll backport to 0.13 once that's in.

[2016-09-30 20:15] kambysese opened #3629 "CUDA crashes with large arrays?"
Hitting error on previously processed data after updating to upstream https://github.com/mne-tools/mne-python/commit/3b09ed062226bbe017243071f450e0254fc3a769 data during filter/resampling operations. CUDA complains about array size after initializing:

Then fails with:

[2016-10-01 05:28] Eric89GXL commented on #3629
So this doesn't happen on older MNE-Python (like 0.12) but does on `master`?

This shows that there is definitely a bug with our handling of the case where CUDA seems like it will work during init, but fails later -- but I'm curious whether the fallback worked before. I suspect you'll still hit the could-not-instantiate error on older MNE.

[2016-10-02 11:10] #3623 closed

[2016-10-02 22:12] agramfort commented on #3623
can you backport?

[2016-10-03 05:08] Eric89GXL commented on #3623
done

[2016-10-03 05:23] agramfort commented on #3623
Thx!

On Mon, Oct 3, 2016 at 2:08 PM +0900, "Eric Larson" <notifications@github.com> wrote:

done

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-03 05:51] Eric89GXL opened #3631 "ENH: example with noise levels from empty room"
People often show noise levels of MEG systems as e.g. 10 fT/Hz**0.5. We should probably have an example where we do this with data. I'm thinking it would be cool to have it for empty-room data from different sites and/or systems, too, maybe eventually with e.g. sythetic gradiometry and/or compensation grades for systems that support those.

I thought about showing how different denoising algorithm

[2016-10-03 08:13] kingjr commented on #3631
Sure. You only want kit or all systems ?

Le 3 oct. 2016 14:51, "Eric Larson" <notifications@github.com> a écrit :

[2016-10-03 08:39] Eric89GXL commented on #3631
Whatever systems you have

[2016-10-03 09:26] jaeilepp commented on #3609
I wonder if file specs for these ANT files are available somewhere. @smeeze @behinger ?

[2016-10-03 10:33] smeeze commented on #3609
We have a document that describes our riff format. You can find it here: http://eeprobe.ant-neuro.com/doc/cnt_riff.txt

We have made same modifications recently that have not been updated in this document yet. Mainly the adjustment to use 64-bit chunk sizes to allow very large files to be written. Files with these offsets can be recognized with the Riff tag 'RF64' instead of 'RIFF'. This deviates

[2016-10-03 11:05] jaeilepp commented on #3609
Great, thanks. Let's see if I can make this work.

[2016-10-03 15:31] Eric89GXL commented on #2388
Closing as dup of #1624. @maedoc do you have some data to test with?

[2016-10-03 15:31] #2388 closed