[2022-01-12 15:05] hoechenberger commented on #10197
No objection from my end. As soon as `distutils.Version` gets removed, we'll have to depend on `setuptools` anyway.

[2022-01-12 15:09] cbrnr commented on #10197
OK. But to summarize, we don't even need `setuptools` because the recommended package to do version checks is `packaging`, so I'd add that as a dependency. And then remove `_compare_version` from `fixes`.

[2022-01-12 15:15] hoechenberger commented on #10197
Yeah well no, I still think `setuptools` is the better choice in case we want to pick a dependency that "everybody already has installed"

Like I said I personally don't care, but other MNE devs will 😅

[2022-01-12 15:51] agramfort commented on #10197
no opinion

[2022-01-12 16:47] cbrnr commented on #10197
We coal so vendor it if we don't want an additional dependency.

[2022-01-12 16:56] larsoner opened #10198 "MAINT: Vendoring policy"
I think we should perhaps discuss/revisit our policy of vendoring, at least for some dependencies we might want to try using `install_requires` nowadays. Even `matplotlib` nowadays has some dependencies:

https://github.com/matplotlib/matplotlib/blob/806f00aa8faa03c19adb66560272e956bb7ddc09/setup.py#L315-L324

I know the numpy/scipy/sklearn stack does not require anything (other than `setuptools`

[2022-01-12 16:57] larsoner commented on #10197
+1 for packaging

That might indeed make sense. But let's wait until we settle #10198 to do this (or not).

[2022-01-12 17:02] drammock commented on #10197
That warning filter is not for our code, it was added because a dependency (nilearn) hadn't switched off of LooseVersion yet (reported [here](https://github.com/nilearn/nilearn/issues/3108) and fixed upstream 6 days ago).  Whatever change you end up making, please add a comment to that line indicating why the warning filter exists (e.g., `# present in nilearn v 0.8.1, fixed in nilearn main`).  IMO

[2022-01-12 18:26] agramfort commented on #10195
I can replicate the pb. thanks @kcsaba12 for the detailed bug fix. We'll try to look asap.

[2022-01-12 18:26] cbrnr commented on #10197
Yes, we should require a comment for every new filter warning! Maybe someone has the time to check which of these filters are not even necessary anymore?

I'd also try to vendor as few packages as possible, especially when we're talking about core packages provided by pypa.

[2022-01-12 18:28] larsoner commented on #10198
From @cbrnr in #10197:

[2022-01-12 18:46] larsoner commented on #10198
@agramfort feel free to elaborate or correct me here, but I think it had to do with making so that you *only* need numpy/scipy/matplotlib installed, then `pip install mne` "just works" -- no need to pull anything else in or risk `pip` resolvers failing (for example by trying to build things -- maybe `mayavi`? -- from source and failing).

I think for a long time we also didn't even list `numpy` or

[2022-01-12 18:53] cbrnr commented on #10198
It is also worth noting that packages available to `pip` (on PyPI) are almost always available as wheels nowadays. In my opinion, I don't even see any reason to use `conda` over `pip`, at least not for the standard user - even on Windows installing Python from python.org and then pip installing packages just works.

[2022-01-12 19:02] #8376 closed

[2022-01-12 20:12] agramfort commented on #10198
what packages would you recommend to add to install_requires?

tqdm? scholar_parser? h5io? pymatreader?

the tempita library we vendor is not really maintained anymore.

[2022-01-12 20:39] hoechenberger commented on #10197
+1

[2022-01-12 20:52] larsoner commented on #10198
Okay let's look through the seven things we keep in `mne/externals`, plus the one (`packaging`) that we need for #10197 ...

... And good point -- maybe we only vendor things that are no longer maintained. So my proposal is:

### Remove
- `FieldTrip.py` -- it's for realtime buffer support, we shouldn't even have this anymore, we should put it in `mne-realtime`

### Add to `install_requires`:

- `d

[2022-01-12 21:09] cbrnr commented on #10198
This sounds great!

[2022-01-12 22:02] #10137 closed

[2022-01-13 09:37] hoechenberger commented on #10198
In fact this is something I felt was worth doing when refactoring the reports. So yes, can do.

[2022-01-13 10:04] jasmainak commented on #10198
could `pooch` also be added and we do away with "data dependencies" while we're at it? I've stumbled upon this multiple times in packages that use MNE as dependency. The distinction seems a bit artificial to me as I've never seen anyone use MNE without downloading some sample data and trying an example first ...

[2022-01-13 10:14] hoechenberger commented on #10198
+1

But please please ensure that all dependencies can easily get pulled in automatically when installing MNE on a simple Python installation in Colab, as this is what many people use for teaching.

[2022-01-13 13:44] kcsaba12 commented on #10195
@agramfort Your welcome!

I found an additional bug which is the cause of solving the upper bug....
![bug2](https://user-images.githubusercontent.com/47258484/149340674-d4acf64b-17d2-4146-81a0-3dbbeb15beb5.jpg)

- Left image: bug visualization - When 2 files are concatenated which does not have measurement day the labels are shifted.
- Right image: expected behaviour

**Steps to reproduce**
[code]

[2022-01-13 16:37] adam2392 commented on #9624
Was this citation ever added?

[2022-01-13 16:45] drammock commented on #9624
nope.  wanna make a PR?

[2022-01-13 16:46] adam2392 commented on #9624
Is there a good way to get a list of everyone involved to make a file such as this?

https://github.com/bids-standard/pybv/pull/76

[2022-01-13 16:54] drammock commented on #9624
have a look at `tools/generate_codemeta.py` it will get you most of the way there I think.

[2022-01-13 21:10] hoechenberger opened #10201 "Pinch-zooming plot_alignment() figure only updates zoom status after an additional click"
The user is left in the dark as to what the current zoom status is until they start interacting with the 3D head again. @GuillaumeFavelier I can show you this tomorrow maybe? Otherwise I'll extend this report to make it clearer what I mean.

This is an issue I've observed on macOS, so I'm not sure whether you'll see it on different operating systems.

[2022-01-13 21:14] GuillaumeFavelier commented on #10201
yes let's take a look tomorrow, I'll try to reproduce on my linux too :+1:

[2022-01-14 18:50] larsoner opened #10204 "MAINT: Remove tempita"
For @hoechenberger, replace `mne/_tempita` (and refs to it) with some other templating system like `jinja2`. It's the one idea from #10198 that isn't covered by #10199.

[2022-01-15 14:41] PABannier opened #10207 "`__init__()` got an unexpected keyword argument `'extract_dir'`"
When trying to get the data path of the `sample` dataset, a `TypeError` is thrown:
`TypeError: __init__() got an unexpected keyword argument 'extract_dir'`.

I run:

[code]

Here's the full traceback:

![Screen Shot 2022-01-15 at 3 38 39 PM](https://user-images.githubusercontent.com/12958149/149625704-07ea404b-6666-466c-8b7f-5411b405e5a0.png)

#### Additional information
I tried the latest dev and

[2022-01-15 15:16] agramfort commented on #10207
can you try to update pooch?

pip install -U pooch

Message ID: ***@***.***>

[2022-01-15 16:05] PABannier commented on #10207
Works like a charm.

Thanks @agramfort !

[2022-01-15 16:05] #10207 closed

[2022-01-15 21:23] hoechenberger opened #10208 "Passing `trans` to mne.gui.coregistration() should automatically derive the MRI fiducials"
Currently, the following code will estimate the fiducials from `fsaverage` and ask me to (re)place them; however, with a `trans` provided, deriving the MRI fiducials is very easy and is actually what I'd expect to be done automatically. I shouldn't have to pick fiducials again if a `trans` has already been generated!

[code]

cc @GuillaumeFavelier

[2022-01-15 21:33] hoechenberger opened #10209 "mne.gui.coregistration() should accept instances in addition to filenames"
Currently, `mne.gui.coregistration()` expects the `inst` and `trans` parameters to be paths to files. This is inconsistent with how other bits of the API are are designed, and necessitates the creation of temporary files in certain workflows.

Instead, `inst` should accept `Info`, `Epochs`, `Evoked`, and `Raw` instances; and `trans` should accept `Transform` instances in addition to paths.

[2022-01-15 22:08] agramfort commented on #10209
+1

[2022-01-16 06:34] twang5 commented on #10194
Hi! I would like to look into this. However, this is my first time contributing to an open-source community and I'm not super familiar with the API in MNE yet, so I might need some time to figure out the contribution guidelines and how to test this.

[2022-01-16 09:03] hoechenberger commented on #10201
Same issue is present in the coreg UI

Related upstream PR: https://github.com/pyvista/pyvistaqt/pull/143

[2022-01-16 13:33] larsoner commented on #10208
You mean that the digitized head space ones should be transformed to MRI coordinates? I disagree. I think for every MRI, someone should ideally manually click on the head where the fids are. There will be some error in every head digitization, and this should generally be higher than what you get with a manual click on the right location on the head surface.

[2022-01-17 14:35] hoechenberger commented on #10208
I think there's some confusion here either on my or on your side 😅 Or my workflow is non-standard. I'll try to explain in the following what my issues are with the current implementation.

1. Working with @SophieHerbst, we created a BIDS dataset containing participants' MEG data and anatomical MR scans.
1. At this stage, the MR data doesn't contain any information on the anatomical landmarks. The

[2022-01-17 16:58] larsoner commented on #10208
There should be a step 4.5 here where you click the "save" button. In other words, your manually-clicked-on-the-dense-head-surface MRI fiducial points should be the most accurate ones available. And importantly, they are independent of the digitization (and any associated error) that was done during the MEG data acquisition.

Instead of saving the digitized-fiducial-points-transformed-to-MRI-space

[2022-01-17 17:01] larsoner commented on #10208
... in other words, the "standard workflow" as I understand it is for any given MRI, you click once accurately to make the `subject/bem/subject-fiducials.fif`, and then any time you later `mne coreg` with this structural MRI it's detected and used. So either MNE-BIDS should write this file, or you should send this file to collaborators. But I don't see what we should change at the MNE end -- the `

[2022-01-17 18:18] #10204 closed

[2022-01-17 18:20] agramfort opened #10213 "inst.to_data_frame() should allow to export index as datetime64"
here is an example of script I just had to write for a collaborator:

[code]

what I have in mind is that we can do

`raw.to_data_frame(time_format='date')`

to get the time as datetime64. Also I wonder why time is not set as index by default but It's more a matter of taste

@hoechenberger @dengemann @drammock what do you think?

[2022-01-17 18:32] dengemann commented on #10213
yes we should support that! no strong feelings on defaults.

On Mon, 17 Jan 2022 at 19:20, Alexandre Gramfort ***@***.***>
wrote:

[2022-01-17 18:33] hoechenberger commented on #10213
a datetime index would certainly make sense.

[2022-01-17 19:32] drammock commented on #10213
This is already supported.  Quoting the docstring of the `time_format`:

If I run your snipped up through `raw.crop(tmax=10)` and then:

[code]

[2022-01-17 19:37] hoechenberger commented on #10208
Thanks @larsoner, I didn't know MNE would auto-retrieve the fiducials then.

Still, I'm not happy 🙈

In BIDS, I cannot store a transformation matrix. So what we have in BIDS metadata is:
- digitized head points / fiducials for MEG data
- fiducials for MR scan

Currently (i.e., current MNE-BIDS workflow!) these two sets implicitly determine the transformation matrix: we derive it from the two via [

[2022-01-17 19:39] hoechenberger commented on #10213
🎉

[2022-01-17 20:00] larsoner commented on #10208
This should be enough to create `subject/bem/subject-fiducials.fif`.

This to me deviates from the standard processing stream. The fiducials in MRI coordinates do not necessarily have to match exactly (i.e., be `apply_trans(mri_fids, mri_head_t)` equivalent to) those from head digitization. In fact in general they shouldn't match exactly because head digitization is always off by some mm. Moreover

[2022-01-17 20:14] agramfort commented on #10213
hum indeed now the way it's done now leads to:

`df.index.freq == None`

what I suggested above keep the sample frequency as it gives:

[code]

what do you think @drammock ?

[2022-01-17 20:15] hoechenberger commented on #10208
Thanks for the explanation, @larsoner!

Yes, this is exactly what we're doing

It appears we're actually hitting a limitation of the BIDS specification here, then. We could add a convenience function to MNE-BIDS to create `-fiducials.fif` based on the MRI metadata. Still, storing a transformation matrix in BIDS is, to my knowledge, not possible.

Bummer.

[2022-01-17 20:56] larsoner commented on #10208
Indeed -- to add to what you wrote above, just to summarize:

Indeed it sounds like there is no way to store this additional information of the manually-specified MRI fiducials (independent of any digitization procedure), and no way to store `trans` directly -- so you have to lose information. (There is actually a third choice of what information to lose, which would be to overwrite the digitized

[2022-01-17 20:57] hoechenberger commented on #10208
I may have found a way to store the information in a BIDS-conforming way:

<img width="700" alt="Screen Shot 2022-01-17 at 21 54 51" src="https://user-images.githubusercontent.com/2046265/149835981-dbf44c67-599c-454b-94a4-91d49c7a43f7.png">

https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/02-magnetoencephalography.html#coordinate-system-json-_coordsystemjson

… so I'

[2022-01-17 21:15] larsoner commented on #10208
Great!

[2022-01-17 21:18] hoechenberger commented on #10208
Let's keep this open until I can confirm that my idea actually works ;)

[2022-01-17 21:24] larsoner commented on #10209
I guess if it's Epochs/Evoked/Raw we can try to get the filename from the instance. And if it's `Info` or the filename is None, we can just put `None` or `<Raw instance>` or something in the GUI in the "filename" field to make it clear we don't know the filename.

For `trans` we don't display the filename in the GUI anyway, so we can just do `trans = _ensure_trans(..., 'head', 'mri')` or whatever

[2022-01-18 00:10] alexrockhill opened #10216 "[ENH] Finite Element Modeling for Tissue Displacement by Intracranial Electrodes and Conductivity"
This is a bit of a two-for-one but the last major things that I can think of that are specific to sEEG/ECoG which are not available currently in MNE are modeling tissue displacement from the electrodes and conductivity to determine which tissues contribute to a recording contact.

For the first one, the idea would be to have a mapping like the symmetric diffeomorpic registration that warped an ima

[2022-01-18 11:38] GuillaumeFavelier commented on #10201
@hoechenberger https://github.com/pyvista/pyvistaqt/pull/143 has been merged!
Feel free to try it again with the development version of `pyvistaqt` :+1:

[2022-01-18 11:55] hoechenberger commented on #10201
It's super smooth now 🥳

[2022-01-18 11:55] #10201 closed

[2022-01-18 13:43] hoechenberger commented on #10201
@larsoner Any chance we might see a new release of pyvistaqt before we release MNE-Python 1.0?

[2022-01-18 13:44] larsoner commented on #10201
@GuillaumeFavelier did the last release -- @GuillaumeFavelier are you up for doing another quick one?

[2022-01-18 14:03] BarryLiu97 opened #10218 "Channels' listview not shown right in Windows"
Hi, @alexrockhill, I found in Windows, the listview widget has a wrong view.
![image](https://user-images.githubusercontent.com/65115609/149951788-9b27ab27-3dbc-4277-a001-63699abcac8f.png)

[2022-01-18 14:05] GuillaumeFavelier commented on #10201
`pyvistaqt 0.7.0` is getting deployed!

[2022-01-18 16:58] larsoner commented on #10216
@jasmainak you probably also have relevant thoughts/input here

[2022-01-18 17:46] larsoner commented on #9286
@jbteves you pinged me with an email for a status update here -- so far there has been some progress at the `nibabel` end. I think our plan is basically to wait for `nibabel` to make `SurfaceImage` available, then allow something like `stc.as_gifti` or something to export a `SurfaceImage` class from our `SourceEstimate` class in MNE. (Or maybe someday `SourceEstimate` can be a wrapper for `Surface

[2022-01-18 18:58] larsoner opened #10219 "MAINT: Simplify requirements structure"
1. the pip `requirements_*` files seem to be multiplying...  is there need/value in specifying them in separate text files rather than directly in `setup.py`?

2. for the install shorthands, to me it seems the fewer options the better; something like:

  - pip install mne  # base
  - pip install mne[hdf5]  # + hdf5 / export deps; other shortands could be "io" or "export"
  - pip install mne[dev]

[2022-01-18 19:01] larsoner commented on #10219
The need/value arises because our CIs make use of them in different ways depending on the different run type (conda, pip, minimal, old, doc-build, notebook, ultraslow, etc.):
[code]
Eventually we could maybe refactor these to all make use of some form of `pip install -e .[whatever]`, but I don't think we should do it in this PR if we decide to go that route. This problem exists to some extent in `

[2022-01-18 19:53] jbteves commented on #9286
Alright, thanks for letting me know!

[2022-01-18 20:10] drammock commented on #10213
yeah, currently there is no `freq` because it's implemented by converting `times` to a timedelta, then adding that to the meas_date:

https://github.com/mne-tools/mne-python/blob/7ecd46fe444a9c7e9d2b0c7f63ef05af09d41082/mne/utils/dataframe.py#L44-L46

if you think having `.freq` is important I don't object to changing the implementation

[2022-01-18 20:48] #10218 closed

[2022-01-18 21:12] drammock commented on #10213
@agramfort I took a look at (something similar to) your implementation.  The main problem is that your way of doing it necessarily risks rounding error when converting `1 / sfreq` to an integer number of nanoseconds (not a problem if sfreq is an integer, but for sample dataset you see the issue).

For your snippet of 10s of data, the last sample time is off by 1488 nanoseconds:

[code]

This means

[2022-01-18 22:04] agramfort commented on #10213
hum... I need to think... but i get your point.

[2022-01-19 06:20] #10198 closed

[2022-01-19 07:22] jasmainak commented on #10216
FEM seems like a complex undertaking, particularly because MNE is built around BEM-based forward modeling. It's something I have on the books after submitting the grant as it's proposed in it as well. I'd be happy to collaborate with you on that @alexrockhill . I haven't looked at particular software but some experimentation is needed to arrive at that

[2022-01-19 08:18] hoechenberger commented on #10208
I only see a single `Save` button in the GUI of `main`, and it's grouped under `Transform`. Are you saying this saves both the `trans` and fiducials?

[2022-01-19 08:39] SophieHerbst commented on #10208
Just to clarify, which functions would use these saved mri fiducials other than the co-reg gui?
Wouldn't it make sense to bring them up the plot and ask the user to adjust them when writing the BIDS dataset?
This would also solve the problem of working with defaced MRIs after.

[2022-01-19 12:05] larsoner commented on #10208
plot_alignment also uses them if you do mri_fiducials=True IIRC

There was a (fairly visible and in the same space as the lpa/Marion/rpa radio buttons) button to save in the old Mayavi/Traits user interface, perhaps it's missing from the new one

[2022-01-19 12:07] hoechenberger commented on #10208
Ah! This could explain it. Yes it's definitely not there! :)

[2022-01-19 12:54] hoechenberger opened #10221 "Allow blocking execution of plot_alignment() and stc.plot()"
The alignment and the `Brain` plots are both used in interactive exploration and in non-interactive scripts.

A common annoying issue that I and other users regularly run into is that we write a short script that displays the sensor alignment or a `SourceEstimate`, run it (e.g. via the `Run` button in VS Code), the window pops up – and immediately disappears. So one then either needs to run the sc

[2022-01-19 13:15] GuillaumeFavelier commented on #10221
In the coreg app, we have a `standalone` parameter which control that. We could add the same to `Brain`? But adding yet another one to `plot_alignment` might be too much.

[2022-01-19 13:17] GuillaumeFavelier commented on #10208
I updated #8833 with the feature request:

[2022-01-19 13:37] hoechenberger commented on #10221
I was more thinking of something like `block`, which we have for our matplotlib plotting functions too

[2022-01-19 13:39] GuillaumeFavelier commented on #10221
I do not mind changing the name if it does the same thing.

[2022-01-19 13:48] hoechenberger commented on #10221
`standalone` is fine for Coreg, I think. Just for the others – if we add this functionality, I think it should be `block`. :)

[2022-01-19 13:48] GuillaumeFavelier commented on #10221
Why keeping coreg as the only exception?

[2022-01-19 13:58] GuillaumeFavelier commented on #10221
backward-compat... Honestly, the new version of coreg has not been around for so long, I don't know if people had really the time to play around with the `standalone` parameter. I still think the change is worth it for consitently (just a rename in practice). But I understand your point.

[2022-01-19 14:03] hoechenberger commented on #10221
Ah ok! Thought we'd always had this param. In that case – let's **block** it 😁👌

[2022-01-19 19:10] BarryLiu97 opened #10225 "close BakcGroundPlotter when closing IntracranialElectrodeLocator"
Hi, @alexrockhill, I found the type of __IntracranialElectrodeLocator__ is __pyvistaqt.plotting.BackgroundPlotter__, if adding BackgroundPlotter to a GUI, I supposed we need to manually close it by rewriting the closeEvent with
[code]
Or could directly use __pyvistaqt.QtInteractor__. However, MNE support multiple backends, I thought closing it manually might be easy.

[2022-01-19 19:29] alexrockhill commented on #10225
Hmm, it does look like the coregistration gui calls `self._renderer.close()` upon close. I'll open a quick PR.

[2022-01-19 19:46] #10225 closed

[2022-01-19 20:35] hoechenberger commented on #10208
@GuillaumeFavelier Looking at the code, I believe the fiducials file is currently saved automatically once the fiducials have been placed, is this correct? If yes, we should discuss whether we'd even want a save button.

[2022-01-19 20:36] #10197 closed

[2022-01-19 22:14] larsoner commented on #10208
When I've run `mne coreg` multiple times with `-s sample`, it goes into fiducial-editing mode on startup every time. So it either isn't saving it (to the right place), or it's not detecting the presence of `sample/bem/sample-fiducials.fif`.

FWIW I don't think it should auto-save -- I think there should be a `save` button, the `filename` field should auto-populate with `$SUBJECTS_DIR/$SUBJECT/bem/

[2022-01-20 07:29] hoechenberger commented on #10208
@larsoner I guess you're right, we should have a button and not auto-save in any case.

[2022-01-20 07:34] agramfort commented on #10216
I've done BEM/FEM in the past with custom C++ code. I've never used these
libs but I will be happy to review/help
with what I know.

As it's learning while walking maybe you could start by working on a
separate repo before considering
contributing this to MNE

my 2c

[2022-01-20 07:38] hoechenberger opened #10227 "Retrieving Coregistration from CoregistrationUI"
#### Describe the new feature or enhancement
I need to programmatically retrieve the coregistration results from `CoregistrationUI` after the user has finished coregistration, without requiring them to explicitly save `trans` and `fiducials` to disk.

Currently, there's no public API to do so: the `Coregistration` instance is stored in the private `CoregistrationUI._coreg` – which is overwritten w

[2022-01-20 07:45] agramfort commented on #10227
I would add a public method to CoregistrationUI

[2022-01-20 07:53] hoechenberger commented on #10227
This could be another option, yes. Something that returns a tuple: a dict with fiducials (name->coords), and the head->mri Transform

[2022-01-20 08:28] stevemats opened #10228 "Update License"
### Update License on ReadMe & LICENSE file:

```Copyright © 2011-2021, authors of MNE-Python```
To:
```Copyright © 2011-2022, authors of MNE-Python```

[2022-01-20 10:12] GuillaumeFavelier commented on #10227
Why not using `Coregistration` in the first place? It is public and we added it for this purpose in the first place (I mean scripting coregistration).

My work on coregistration started in https://github.com/mne-tools/mne-python/pull/9516 because `jhouck` wanted to [programmatically use the coreg UI](https://github.com/mne-tools/mne-python/pull/6693/files).

I would prefer that we improve/refactor

[2022-01-20 11:23] hoechenberger commented on #10227
My use case is that we perform an interactive coregistration via `mne.gui.coregistration()`, and after that's done, I want to write the results (transformation and fiducials) to BIDS. To make this work reliably, I'd like to be able to directly extract this information from the `CoregistrationUI` object somehow, without forcing the user to create files first – whose filenames I cannot control.

Doe

[2022-01-20 12:52] GuillaumeFavelier commented on #10227
If `CoregistrationUI` must be used then indeed, at the moment, there is no public way to do that, I understand :ok_hand:

[2022-01-20 12:57] hoechenberger commented on #10227
I can give this a shot if you don't mind

[2022-01-20 13:00] GuillaumeFavelier commented on #10227
You're more than welcome to do so @hoechenberger

[2022-01-20 13:54] SophieHerbst opened #10232 "DOC: verbose behavior in classes should be documented better"
Version: 1.0.dev0

In raw.filter() the default for the verbose parameter is set to None, i.e. no comments are printed.
This used to be different, and I think it is useful to provide basic information about the filter, for instance for reporting in a paper.

[2022-01-20 14:04] larsoner commented on #10232
I think it has been `None` for a while. Is it possible that you on your system set `set_config('MNE_LOGGING_LEVEL', 'warning')` at some point?

In any case, I'm -1 on changing the default here -- it makes our software less consistent in how `verbose` and logging levels work for the user.

[2022-01-20 14:15] SophieHerbst commented on #10232
Not intentionally, unless it is somehow set during installation via the environment file that was provided for previous versions?

I am not aware of your general approach to those defaults, but right now, per default, the filter function prints no output at all, which appears inconsistent with other functions, for instance maxwell_filter. Personally, I find it very useful to have information like

[2022-01-20 14:53] larsoner commented on #10232
The other possibility is that you did `read_raw_fif(..., verbose=False)` or so. The `verbose` becomes part of `raw` and then you need to override it in the call to `filter`. This is another behavior we've had around for a while, but perhaps isn't documented clearly enough?

[2022-01-20 15:20] SophieHerbst commented on #10232
Indeed, I used verbose='error' during import, not knowing that this gets attached to the raw further on. Thank you for pointing this out!
Indeed, it would help to document this more explicitly, for instance in the description of the verbose parameter in io.read_raw_fif.

[2022-01-20 15:22] GuillaumeFavelier commented on #10221
#10222 is merged but the case of `plot_alignment` is still open.

[2022-01-20 16:03] GuillaumeFavelier commented on #10208
Hm... What function are you refering to? At the moment, the only function saving fiducials *should be* `_save_subject()` which is called only in scaling mode pressing the "Save scaled geometry" button. If you found something else, I think we have to fix this :sweat_smile:

We do not have a way to specify the path to load the fiducials in the command line with `mne coreg` right? I know it is possib

[2022-01-20 16:05] larsoner commented on #10208
Correct, and YAGNI. The standard location `SUBJECTS_DIR/SUBJECT/bem/SUBJECT-fiducials.fif` should be enough in 99% of cases.

[2022-01-20 18:54] #10022 closed

[2022-01-21 07:23] sappelhoff commented on #10228
closed by https://github.com/mne-tools/mne-python/pull/10229

[2022-01-21 07:23] #10228 closed

[2022-01-21 10:10] SophieHerbst commented on #10232
Hi @larsoner, I do not know what you mean by 'our docdict'. Can you point me to it?

[2022-01-21 11:24] hoechenberger commented on #10232
🤯 I wasn't aware of this either!!! I commonly use `verbose='error'` when reading files because otherwise, I drown in output!

[2022-01-21 11:26] hoechenberger commented on #10232
In `mne/utils/docs.py` we keep a huge dictionary full of (partial) docstrings that are shared between two or more functions, in an attempt to avoid duplication. We call this thing "the docdict", probably because that's the name of the variable: `docdict` 😅

[2022-01-21 17:10] agramfort opened #10236 "Coreg GUI should suggest to save fiducials and trans if not saved during interactive session"
@GuillaumeFavelier when closing the CoregistrationUI and if nothing was saved by the user I would suggest to load a dialog asking the user if he wants to save the fiducials and the trans before closing

cc @hoechenberger

[2022-01-22 11:19] #10164 closed

[2022-01-22 12:47] #10190 closed

[2022-01-22 17:50] alexrockhill commented on #10216
Ok I was reading this PhD thesis which was helpful for describing the issues with software implementation https://research-repository.uwa.edu.au/files/94033696/THESIS_DOCTOR_OF_PHILOSOPHY_ZWICK_Benjamin_Fritz_2020.pdf

There is also a GitLab project written in Julia for their method but it doesn't contain an example for the brain deformation but hopefully wouldn't be too hard to extend. https://gi

[2022-01-22 17:51] alexrockhill commented on #10216
Do you still have the code around somewhere? That might be good to look at.

[2022-01-22 19:44] larsoner commented on #10216
One option would be to see if you can get away with speeding up slow parts with Numba. But this requires reimplementation, so might not be worth it.

I don't think we want to add a C++ dependency to MNE-Python. We could think about doing it in another new sibling package like MNE-<something> that we can auto deploy to PyPi using CIBUILDWHEEL for example.

[2022-01-22 19:45] larsoner commented on #10216
MNE-FEM would be a good name if it's really that general.

Also have you looked to see how Brainstorm solves these problems?

[2022-01-22 20:50] alexrockhill commented on #10216
BrainStorm doesn't do fem for contributions to the recording channel and projects to the surface of the brain for accounting for brain shift like we do now.

Let me dig into the package a bit and see how hard reimplementation would be. In the dissertation he mentioned he was learning to code but had a pretty advanced knowledge of computing so idk if he was just being modest and it is a huge undert

[2022-01-24 05:49] alexrockhill commented on #10216
Adding another resource that uses fenics but for volume conduction modeling https://github.com/meronvermaas/FEMfuns. I think it will be really helpful to see other implementations.

[2022-01-24 09:00] GuillaumeFavelier commented on #10236
I updated #8833 with:

[2022-01-24 21:10] svagatt commented on #6077
Hi,
Unfortunately, I am going through a similar problem, and I have tried to do the things suggested above, the raw.first_samp() and raw.first_time() are 0 and 0. I am trying to extract a single epoch from raw data that's approximately 4.4s. When I try to get the epochs, my 1 epoch with the event that I need is getting dropped as. abad epoch although I set both the rejects to None.
`    epoch = mn

[2022-01-25 13:33] mmagnuski commented on #10232
Haha, me too, I didn't know about this raw-verbose communion, but it sounds cool!

[2022-01-26 16:12] hoechenberger opened #10254 "Add anchors and / or tick labels to our QSlider and QFloatSlider instances"
It's important to label at least the extrema (anchors) of range sliders for a better UX

It's not difficult to do:
https://stackoverflow.com/questions/27661877/qt-slider-widget-with-tick-text-labels

cc @GuillaumeFavelier

Not urgent; in fact, I might just try to get this to work this weekend or so. So don't feel pressured to work on this.

[2022-01-26 16:14] larsoner commented on #10254
Just keep in mind anything you do for Qt you should try to do for the notebook backend, too

[2022-01-26 17:05] scott-huberty opened #10256 "raw object meas_date is moderated by time zone of the computer reading the EEG file (from an EGI MFF file)."
#### Describe the bug
the `Info['meas_date']` `datetime` object derived from a EGI Net station MFF file (continuous recording), appears to be moderated by the time zone of the computer which read in the EGI file. `info['meas_date']` should only be concerned with the timestamp and timezone indicated in the MFF file, and should be completely agnostic to the timezone of the computer reading in the MF

[2022-01-26 17:16] larsoner commented on #10256
This does seem like a bug -- `read_raw_egi` should detect any time zone offset, remove it to get to UTC, and save the actually used time zone in `info['utc_offset']`. Do you want to try fixing this? I think it would need to be around here:

https://github.com/mne-tools/mne-python/blob/b5688906f971ad0b4026d9812e021dbfd015bf70/mne/io/egi/egimff.py#L221-L222

and

https://github.com/mne-tools/mne-pyt

[2022-01-26 18:27] #10227 closed

[2022-01-26 20:09] scott-huberty commented on #10256
Sure, I can take a look at this in the next week or so, and will follow up.

Thanks for the help,

Scott

[2022-01-27 03:21] alexrockhill commented on #10216
Does anyone have a good reference for a publication where finite element analysis was used to determine the tissue contributing to the recording? I would guess animal work with LFP and unit recordings might be particularly informative. @jasmainak? Maybe I'll look into more of Stephanie Jones' work...

[2022-01-27 11:13] jasmainak commented on #10216
humm I don't know. Perhaps we should do a small video chat first to understand what you're trying to achieve. We could set up a time in March after the current grant cycle :)

[2022-01-27 14:38] fannidkovacs opened #10258 "Notch filter: picks < n_channels(67) got 67 -ERROR"
Hi!

- MNE version: 0.24.1
- operating system: Windows 10 Pro build number: 19041.1415

I had an issue using the mne.filter.notch_filter when I used it on my own data. The problem could be replicated.

[code]

I tried add picks in several ways, unfortunatelly none of them worked, and always got the same error.

[code]

Thank you for any help!

[2022-01-27 16:19] larsoner commented on #10258
`mne.filter.notch_filter` should only accept `np.ndarray` as the first argument, not `mne.io.Raw`. You should probably use `raw.notch_filter(...)` instead.

Let's keep this issue open, though, because we should do better input validation in `mne.filter.*` functions.

[2022-01-28 00:41] pettetmw commented on #8737
This is related... `SourceSpaces` created by `mne.setup_volume_src_space()` using default parameter `volume_label=None`, will create a single, whole-head volume.  A `Forward` operator created with this will trigger an uncaught exception when passed to `get_point_spread()`:

[code]

`_get_psf_ctf()` apparently expects the forward operator to be constructed from two `SourceSpaces`, as is the convent

[2022-01-28 07:34] agramfort commented on #8737
Yes this needs a fix to deal with more than historical cortical source
spaces.

[2022-01-28 09:14] haritha1022 opened #10263 "while i was plotting .nc file in python using cartopy the error ValueError: DataArray must be 2d"
###
 import xarray as xr
import cartopy.crs as ccrs
from cartopy import feature as cf
import matplotlib.pyplot as plt
import numpy as np

#Opening and reading data
data=xr.open_dataset("rain33.nc")
print(data)

lon=data.lon[:]
lat=data.lat[:]
#u=data.u[0];
#v=data.v[0,::5,::5]
#z=data.z[0]

#lev_2=data.lev_2[:]

rainnc=data.rainnc[0]
#time=data.time[0]

#Margins for the cartopy extent

east = 100

[2022-01-28 09:21] jsosulski commented on #10195
I just ran into this bug as well. I was trying to publish an anonymized EEG dataset recorded in our lab, so I removed all timestamp information and noticed my whole analysis pipelines failing on the data without timestamps.

My current hotfix is to set an arbitrary date. Even the same constant timestamp for all raw files seems to work.

[2022-01-28 11:19] eort opened #10264 "DOC: Description of picks in `ica.plot_properties` is incorrect"
With the `picks` keyword in `ica.plot_properties`, one can specify what ica sources to plot the properties of. So picks should code the ica source. However, at the moment, the description of picks is the [standard phrase](https://mne.tools/stable/generated/mne.preprocessing.ICA.html#mne.preprocessing.ICA.plot_properties):

plus something specific to this plot:

#### Proposed documentation ehanceme

[2022-01-28 14:48] fannidkovacs commented on #10258
Thank you for the very fast reply!

When i was looking for a notch filter i could't find the `raw.notch_filter(...)` option, and it wasn't clear for me that `mne.filter.notch_filter` was only for `np.ndarray`.  But now everything worsk as it should, thank you.

[2022-01-28 15:22] larsoner commented on #10263
@haritha1022 I think you opened this issue for the wrong repository, this does not appear to have anything to do with MNE-Python. It seems like this should be posted to some other repository's issue tracker, or perhaps StackOverflow

[2022-01-28 15:22] #10263 closed

[2022-01-28 17:18] pmolfese commented on #9286
Hi @larsoner, we're pretty eager to get this working and happy to help the `nibabel` efforts. From the `nibabel` meeting this morning and our own poking around in the codebase, we have some questions:

for building the geometry we have found the necessary vertices on the decimated surfaces, but we cannot seem to find the triangles necessary to complete the geometry and thus get ready to build the

[2022-01-28 17:57] #10258 closed

[2022-01-28 19:59] larsoner commented on #9286
Where did you find the decimated vertices? From `stc.vertices`?

Typically that `stc.vertices` will correspond to some `src[0]['vertno']` from a SourceSpaces instance. If you look at that instance, it should have what you want, e.g.:
[code]

[2022-01-28 20:07] larsoner commented on #8737
@olafhauk in the case of free-orientation inverses, is the right (or at least one not totally wrong) thing to do here to compute cross-talk/point-spread values for each of the 3 directions independently? Then one could decide how to combine those three values (max, mean, l2-norm, etc.)?

[2022-01-28 20:29] jbteves commented on #9286
Thanks for the response! Sorry, I may be misunderstanding something. We use something like this:
[code]
To index into the source vertices. However, there are the triangles that represent the faces to create a complete mesh/surface in the high-resolution sample. How might we get those triangles for the low-resolution surface?

[2022-01-28 20:35] hoechenberger commented on #10264
Good catch, wanna give it a shot?

[2022-01-28 20:49] larsoner commented on #9286
Your `stc.rh_vertices` should correspond to `src[1]['vertno']` in my code above, as long as no vertices were removed during forward computation. Each STC corresponds to some SourceSpaces instance (the one that is preserved in `fwd['src']` when it's computed, and `inv['src']` when it's computed), and that SourceSpaces instance will (usually) contain *both* the full-resolution triangulation (`src[0]

[2022-01-28 21:25] jbteves commented on #9286
@larsoner ah, thanks so much! That makes things much more clear for me. I'll hopefully get some toy code together for this soon.

[2022-01-29 14:56] eort commented on #10264
Sure, will do!

[2022-01-29 16:04] agramfort commented on #10195
we'll fix it soon. Now for anonymized data what is recommended by BIDS is
to shift dates in the entire study by a random number of days.
It has some advantages eg keep in the order of acquisitions, time of the
day etc.

[2022-01-30 00:13] alexrockhill commented on #10216
Sounds great! I'd definitely be up for that

[2022-01-31 01:11] alexrockhill commented on #10101
I think this is incorporated into #10216 and has to do with actually modeling what's going on with electrical activity in the vicinity of the contact and not just treating it as a point.

[2022-01-31 01:11] #10101 closed

[2022-01-31 11:59] mlrocca commented on #10147
Hi,

any update on the implementation of the feature in the object?

[2022-01-31 13:14] robintibor opened #10274 "Float32 RawArray?"
#### Describe the new feature or enhancement
float32 rawarray

#### Describe your proposed implementation
dtype argument on creating rawarray

#### Additional comments
At the moment we are looking into potential memory savings when using mne for [braindecode](https://github.com/braindecode/braindecode/). We noticed the underlying _data of  a RawArray is forced to be float32, and were wondering if

[2022-01-31 13:23] agramfort commented on #10274
float64 was enforced historically to keep things simple. We wanted to have
higher numerical precision for things like temporal filtering etc. Now I
fully
get your request but I do not quantify easily how much pain a native and
tested
support of float32 would be.

my approach would be give it a try with a real usecase in mind and send us
a PR to see the diff when we have something that seems to wor

[2022-01-31 15:06] larsoner commented on #10274
Have you considered using preload-as-string to use memmapping to save memory?

[2022-01-31 15:17] #10264 closed

[2022-02-01 13:22] #10147 closed

[2022-02-01 16:02] larsoner commented on #6086
Closed by https://github.com/mne-tools/mne-bids-pipeline/pull/472 !

[2022-02-01 16:02] #6086 closed

[2022-02-01 20:34] larsoner opened #10285 "ENH: Montage plots for fNIRS"
Not sure if this should go in MNE-Python, MNE-NIRS, or neither (?), but I've repeatedly wanted to show (in papers, and just to make sure I'm doing things correctly) plots of fNIRS electrodes labeled with the 10-20 coordinates they have when they are being positioned on the subject. However:

1. fNIRS channels have specific namings related to their source-detector pairings and wavelengths, so `rena

[2022-02-01 20:38] agramfort commented on #10285
I have a mixed feeling on this. Is it a lot of code?

As I would expect users to be willing to do raw.plot_montage() like we do
for EEG and MEG

[2022-02-01 20:54] larsoner commented on #10285
About 60 lines, using `mne.viz.Brain` and pyvista/VTK methods.

This is of course possible, but:

1. It does not capture the source-detector-1020 relationship at all, just the "channel" locations (midpoint of source-detector) are shown
2. It does not show the relationship to the brain, which `plot_alignment` does nicely

The `raw.plot_sensors(show_names=True)` is less useful / clear about what was

[2022-02-01 21:55] jasmainak opened #10286 "confusing warning with applying projs"
#### Describe the bug
Using `apply_proj` after marking bad channels should automatically do the right thing instead of raising a confusing warning.

#### Steps to reproduce

[code]

As per the warning, `normalize_proj` should be applied but as you can see, it makes no difference except getting rid of the warning.

#### Expected results
There should be no warning

#### Actual results
We see a warni

[2022-02-01 22:00] larsoner commented on #10286
I think the warning is useful. If you're curious, look into the `blame` and see why it was put there. But the short version IIRC is that, if a channel is *really* bad, it might (easily) completely dominate the projector calculation. For example, if you `compute_proj_raw`, the first component could be totally dominated by a bad channel's oscillations (and whatever happens to correlate with them). S

[2022-02-01 22:03] larsoner commented on #10286
Some quick links I found:

https://github.com/mne-tools/mne-python/issues/2760
https://github.com/mne-tools/mne-python/pull/2838

But there are probably other discussions, too

[2022-02-01 22:09] chapochn opened #10287 "set_eeg_reference with projection=True and make_eeg_average_ref_proj only works with EEG channels"
#### Describe the bug
when channels in raw are not eeg, but for example ecog then:
[code]
works, but:
[code]
does not, see full error below.

#### Steps to reproduce
Example
[code]

#### Expected results
that a new channel that is the average projection is created

#### Actual results
fails with the following error:
[code]

#### Additional information
Platform:       macOS-11.6-x86_64-i386-64bit
P

[2022-02-01 23:32] kirpi-1 opened #10288 "Cropping and first event index"
It seems that when using events to crop a file, and then subsequently getting the events of the cropped file with initial_event=True, the first event has an incorrect index of 0, when it should be equal to raw.first_samp. If you use a start time one sample prior to this event, the first event has the correct index.

[code]

This produces the following output:

[code]

My expectation is that they s

[2022-02-02 00:02] jasmainak commented on #10286
I did look at #2838 cursorily before posting the issue. Thanks for the links.

True, but the warning is complaining if the user does the *right* thing: that is mark the bad channels to fix the "first projector". If the user does not mark the bad channels, those projectors will transfer the artifacts from bad channels to good channels and the warning is not raised. The warning should probably be ra

[2022-02-02 00:09] jasmainak commented on #10286
Also:

[code]

seems to suggest that subselecting channels in projection operator is dangerous. Rather, what's dangerous is if there was a bad channel when computing the original projector which is a different problem

[2022-02-02 00:48] larsoner commented on #10286
My point is that in some (many? most?) cases, this is not the right thing to do. The right thing to do is to mark them bad before computing the projector at all, because the bad channel's presence can influence the PCA computed during SSP.

To me we are correct to warn, but we should improve the message

[2022-02-02 03:30] jasmainak commented on #10286
Let's say you read a fif file that has projectors already added from the daily empty room. It will not have the bad channel marked most likely and you will have to mark it manually in MNE-Python. This will lead to the cryptic warning. What situations do you see that it's beneficial to warn when applying the projector rather than when computing the "original projector"?

[2022-02-02 06:29] larsoner commented on #10286
None, but there is no way that I can think of to warn someone *when they are initially computing SSP* that at some point in the future they might realize a channel is bad and mark it as such. We can just detect that they've marked a channel (or set of channels) bad after the fact in a way that reduces the power in the SSP (should have unit norm but no longer does, in some meaningful sense) when th

[2022-02-02 06:31] larsoner commented on #10286
Yes, in this case and some others it's not necessary to warn. In others out indicates a real problem with the SSP computation that the incorrect / mismatched set of bad channels was used.

[2022-02-02 06:38] larsoner commented on #10286
(... and even in the case of a daily empty room projector, the warning is only spurious of the channel was actually good at the time when SSP was computed. If it was bad during SSP computation, too -- and large in amplitude -- it's possible even in that case that the first resulting projection vector is contaminated / wrong / less useful than it would be if the SSP had been calculated with the cha

[2022-02-02 06:40] larsoner commented on #10286
... At least I think this is what would happen. I'll make a little synthetic example and we can see if it actually comes out that way.

[2022-02-02 07:27] agramfort commented on #10286
2 remarks:
- it's possible that some system SSP have been computed before some
channels went bad. Is it likely?
- as soon as you applied SSPs it becomes much hard to spot bad channels
usually. You should do mark
channels as bad as early as possible

Message ID: ***@***.***>

[2022-02-02 07:46] agramfort commented on #10287
yes this is currently not supported. You absolutely need to do it with a
projection?

[2022-02-02 12:24] jasmainak commented on #10286
You can warn based on the eigen values because what you [suggested above](https://github.com/mne-tools/mne-python/issues/10286#issuecomment-1027327558) was that a bad channel might dominate the eigenvalue decomposition. But yes, we'd have to develop some threshold for this

Yes, but see what the warning instructs the user to do. It asks the user to apply `normalize_proj`. It took me a while to fig

[2022-02-02 12:28] jasmainak commented on #10286
For now, my vote is to completely nuke the warning and do the right thing by subselecting the projector so that it removes the current selection of bad channels. There is almost no way to know if the user is doing the right thing after the fact and `normalize_proj` does nothing other than remove the warning.

[2022-02-02 12:31] jasmainak commented on #10286
By the way, this will happen no matter what when you mark a bad channel. Even if the channel was not originally too bad, it will reduce the norm

[2022-02-02 12:38] jasmainak commented on #10286
Maybe you could warn/info:

Or some such thing

[2022-02-02 14:18] larsoner commented on #10286
I guess we could try but sometimes large interference patterns show up on a small handful of channels (way fewer than 16!)... so we'll have another threshold issue (as we do now, see below). So to me it's not all that different.

Yes by some amount. We currently have some threshold (1% or something I think?) that we could in principle adjust to be less sensitive. Maybe some percentage relative to

[2022-02-02 14:33] agramfort commented on #10286
@jasmainak you suggest here an alternative way to compute the projectors
right?

[2022-02-02 14:40] larsoner commented on #10286
I think that's this:

But I expect this to be equivalent to what we already do...?

[2022-02-02 16:06] #10288 closed

[2022-02-02 16:39] larsoner commented on #10286
Ideally, yes, but I suspect it will be harder to catch this early, rather than after the user does the risky thing (marking channels bad post-computation).

Yes exactly, the safest thing is that the user should mark the channels bad and recompute SSP. Here is an example about why it matters:

<details>

[code]

</details>

Black is the actual interference pattern (by construction) / ideal projecto

[2022-02-02 19:23] larsoner commented on #10286
One last point to clarify here -- note that the default is `inplace=False`:

https://github.com/mne-tools/mne-python/blob/258b462f06a3a5ef4c6d8ded6ca03f519b498831/mne/io/proj.py#L542-L543

So for example this bit of code in `mne.io.proj.make_projector` should hit the `inplace=False` path:

https://github.com/mne-tools/mne-python/blob/258b462f06a3a5ef4c6d8ded6ca03f519b498831/mne/io/proj.py#L539

[2022-02-02 19:39] jasmainak commented on #10286
Thanks, yes I understood the `inplace` codepath after posting the issue but was missing the normalizing bit which missed my attention

[2022-02-02 21:29] chapochn commented on #10287
It feels useful to have that projection saved as a channel for future use and be able to analyze/plots things with and without the reference subtracted. I felt that it seems liked an unnecessary restriction... Is it a lot of work to just remove that restriction?

[2022-02-02 21:33] larsoner commented on #10287
I think in most places we have historically restricted things to EEG we have more recently relaxed / enhanced things to work with ECoG/sEEG/DBS as well. This seems like a logical place for it, too.

I don't foresee it causing too many problems. Do you want to take a stab at it @chapochn ?

[2022-02-02 21:35] chapochn commented on #10287
Sure I'll check

[2022-02-03 11:03] SimonErnesto commented on #7848
Hi everyone. I was recently working on implementing these functions in Python and I found this thread while researching. I have written a small function implementing fractional peak and fractional area methods. I thought you may find this useful, so I opened this repo: [https://github.com/SimonErnesto/find_latency](url)

Implementing these methods wasn't particularly difficult and they seem to wor

[2022-02-03 11:06] agramfort commented on #7848
would it add new functions to the public API of MNE? can you do the
addition by adding one parameter
on an existing method?

can you share the paper explaining this?

Message ID: ***@***.***>

[2022-02-03 12:52] SimonErnesto commented on #7848
I'm sorry, I haven't collaborated on development before, so I'm not sure whether I understood your first two questions. Do you mean whether the function I wrote could be integrated into an existing MNE method?

Sadly, I wasn't able to find a paper explaining these methods explicitly. Papers (e.g. Kiesel et al., 2008: [https://pubmed.ncbi.nlm.nih.gov/17995913/](url) ) or books (e.g. Luck, 2014: [ht

[2022-02-03 16:13] cbrnr opened #10295 "Footer on website requires scrolling down"
I'm not sure if this intentional, but no matter how tall my browser window is, it never shows the footer. Personally I find this not ideal because it means that a vertical scrollbar is always shown even though there would be enough available space.

[2022-02-03 20:33] agramfort commented on #10295
I don't get what you mean

[2022-02-03 20:35] agramfort commented on #7848
@jdkoen do you have an opinion on this?

[2022-02-03 21:32] jdkoen commented on #7848
1. Thanks @SimonErnesto for sending this along. I think those functions are great! I've put some functions together as well and just made [this gist](https://gist.github.com/jdkoen/f27a0dc9b6c27bd2ea47913e2d15f62e) with the code to share them. We definitely implemented things differently, and I will apply them to the example data you included in your repo. Note I have not tested out all of the met

[2022-02-04 06:12] cbrnr commented on #10295
I mean the line at the bottom that currently says "© Copyright 2012–2021, MNE Developers. Last updated Dec 3, 2021, 6:52:28 AM GMT+1". When you load the page, you don't see it. You always have to scroll down even when there is enough vertical space. In that case, I would show the footer instead of having users scroll down.

[2022-02-04 14:46] cbrnr commented on #10295
https://user-images.githubusercontent.com/4377312/152548642-98c5025c-a6b4-4aea-8ce4-d692af11c581.mov

[2022-02-04 16:15] larsoner commented on #10295
Closing as dup of https://github.com/pydata/pydata-sphinx-theme/issues/497

[2022-02-04 16:15] #10295 closed

[2022-02-04 16:25] #8722 closed

[2022-02-04 17:50] larsoner opened #10303 "ENH: labels_near_sensors function"
Another thing I'm having to do multiple times in fNIRS analyses is say which anatomical region a channel corresponds to, basically a label-mapping analogous to `stc_near_sensors`.

The easiest solution is just to take each channel and do a `cdist`-like operation to the `pial` surface of `fsaverage` to say which region is closest. However, I like the idea better of taking a `stc_near_sensors` appro

[2022-02-04 21:14] rob-luke commented on #10303
The correct way to determine what anatomical structure your fNIRS channels are sensitive too is to use a photon migration simulation. There are several tools available to do this and it's usually done when designing your experiment/montage.

The tool I tend to use is the FOLD toolbox. And there are convenience functions in MNE-nirs to read the fold data and to determine what structures standard po

[2022-02-04 21:17] larsoner commented on #10303
Nice, I'll try that instead! We can reopen this later if someone is interested. Just for posterity, this is code I wrote to approximately accomplish this task:

<details>

[code]

</details>

[2022-02-04 21:17] #10303 closed

[2022-02-04 21:22] rob-luke commented on #10303
The fold data is precomputed for standard 10-20 etc positions only. So I think we will be revisiting this discussion soon 😉

[2022-02-04 21:23] rob-luke commented on #10303
Also https://mne.tools/mne-nirs/auto_examples/general/plot_12_group_glm.html#relating-responses-to-brain-landmarks

[2022-02-06 13:25] mmagnuski commented on #10145
Hi, thanks @adam2392 for working on this, it's great to have epoch-level annotations.
I updated the first post by Eric to reflect that the first todo box can be marked. The second one still remains to be ticked off, I think. There is `.set_annotations()` for epochs but the annotations passed to it should be timed wrt the raw file. It would be nice to be able to set the annotations specifying epoch

[2022-02-06 14:10] agramfort commented on #7848
for now we just a nice tutorial in
https://mne.tools/dev/auto_tutorials/evoked/30_eeg_erp.html#amplitude-and-latency-measures
and no public functions. I would not support adding more public methods to
Evoked but rather have (if more and more
people are interested in this) a dedicated module maybe in mne.stats?

[2022-02-08 16:13] dasdiptyajit opened #10308 "misalignment of source space in forward sol"
#### Describe the bug

Source space alignment in forward solution seems off.

#### Steps to reproduce
code :
[code]
#### Expected results
No difference in alignments

#### Actual results
![origina_src](https://user-images.githubusercontent.com/43450258/153028054-6a272332-807c-4708-9379-e3819c01a66c.png)

![forward_src](https://user-images.githubusercontent.com/43450258/153028042-754e5403-3826-43ce

[2022-02-08 16:15] larsoner commented on #10308
This is probably a bug with `plot_alignment` -- after forward computation the `src` is actually in head coordinates. We need to deal with this properly but probably don't...

[2022-02-08 18:52] mmagnuski opened #10310 "Inline links could be more visible in the documentation"
Maybe my eyesight is not good, but I think the inline links in the docs could be a little more distinguishable:
![image](https://user-images.githubusercontent.com/8452354/153055180-e7af69e4-8586-4e0e-9d86-7e950efcd612.png)

when pasted here it actually looks better than on my screen because the dark font of main text is a little brighter in the example above (interpolation, I think).

[2022-02-08 19:10] cbrnr commented on #10310
Good old underline maybe?

[2022-02-08 19:11] larsoner commented on #10310
Is it the same as https://pydata-sphinx-theme.readthedocs.io/en/latest/ ? If so it would be good to open an issue there first, and address here with CSS overrides only if they reject the idea of making the links clearer somehow

[2022-02-08 21:07] Aaronearlerichardson opened #10311 "Zero padded channel labels don't seem to read correctly in the electrodes.tsv file"
#### Describe the bug
I have a BIDS complaint database that I created to use mne's data processing pipelines on. The `read_raw_bids` function executes relatively successfully, but doesn't seem to keep all of my channel locations intact. Upon investigation, it appears that this is because some of the channel labels have zero padding to keep the names consistent (a practice often used in the BIDS sp

[2022-02-08 21:13] larsoner opened #10312 "BUG: plot_alignment broken on main"
This one looks off too PR: https://41451-1301584-gh.circle-artifacts.com/0/dev/auto_examples/visualization/3d_to_2d.html?highlight=plot_alignment

It's off in main too: https://mne.tools/dev/auto_examples/visualization/3d_to_2d.html?highlight=2d%203d
But not in 0.24

_Originally posted by @alexrockhill in https://github.com/mne-tools/mne-python/issues/10309#issuecomment-1033066047_

EDIT: Also htt

[2022-02-08 21:15] #10308 closed

[2022-02-09 00:47] #10312 closed

[2022-02-09 10:56] agramfort commented on #10311
can you be more specific? can you make the data available to see?

Message ID: ***@***.***>

[2022-02-09 12:01] mmagnuski commented on #10311
@agramfort I think the problem is that, for example in the channel positions (`electrodes.tsv`) a channel is named `LPSP05` but in the data file (or somewhere else, I don't know BIDS well) it is `LPSP5`. This leads to a warning that some channels do not have their positions specified and consequently these positions are not defined. I don't know if the mismatch between the labels is a BIDS problem

[2022-02-09 13:46] agramfort commented on #10311
hum well in this case I don't see how mne-bids can do the right thing
automatically....

[2022-02-09 13:50] fishbacp opened #10314 "raw.plot() does not produce specified background color."
#### Describe the bug
*raw.plot resluts in a graph that does not use specified background color*

Example:

[code]

#### Expected results
Background of plot should be yellow and traces colored red.

#### Actual results
Background is white and traces are red.

#### Additional information
Experimentation with other background color options does not change the outcome.

[2022-02-09 15:15] mmagnuski commented on #10314
As stated on [MNE Discourse discussion](https://mne.discourse.group/t/unable-to-control-background-colors-for-raw-plot/4385/2) I can reproduce the problem. I can take a look at this in around 5 hours, unless someone looks first. :)

[2022-02-09 15:31] mmagnuski commented on #10311
@Aaronearlerichardson
If the channel labels are different in the electrode positions file than in the data file, they will not be read correctly. You should either change the channel labels in the electrode positions file (removing the zero prefixes) or change the labels in the data file (adding the zero prefixes).

[2022-02-09 15:39] Aaronearlerichardson commented on #10311
Ahah! I checked the .edf file header and you're right the labels were different. False alarm! Thank you for your time.

[2022-02-09 15:39] #10311 closed

[2022-02-10 11:50] mmagnuski commented on #10314
I looked at this and `mne.raw.plot_raw()` ignores `bgcolor` (does not pass it down to lower-level functions)
I tried adding it to the parameters that are passed around but it seemed to have no effect either when added as `bgcolor` or `facecolor`. I didn't have time to fully trace it down, as the mne raw plotting code is quite complex now (at least comparing to what we had some time ago), but will

[2022-02-10 15:42] larsoner opened #10320 "ENH: Return Path in `data_path`?"
I saw @hoechenberger's code [here](https://github.com/mne-tools/mne-qt-browser/pull/43/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R38-R40):
[code]
And thought it was a bit sad that he had to `Path(...)` the `data_path()` result.

Since 1.0 is coming out, I think one small breaking change we could make would be to return `Path` instead of `str` in `data_path`.

1. It

[2022-02-10 15:45] cbrnr commented on #10320
I'm in favor of this change. With our usual deprecation cycle, I think it's OK if people need to update their code. I don't think you can expect to run an old analysis with the latest MNE-Python – for this use case, people can use older versions of MNE-Python. It's not worth adding a lot of custom code just to keep the old `+` behavior around.

[2022-02-10 16:24] cbrnr commented on #10320
We will update our code, and people can change their scripts. I'm talking about *new* scripts, I don't think we need to stay backwards compatible just so people can run their 5 year old scripts with the latest MNE version.

[2022-02-10 17:31] larsoner commented on #10320
I don't think it makes things simpler, either, but it does allow us to move from pure str to pure Path via deprecation. Without a `out`-type of parameter, we can't properly deprecate. And if we don't deprecate, I think we're going to break a lot of stuff for a lot of people. Maybe it's okay since it's a 1.0 release, but still seems a bit painful...

What's the loads of confusion / can you describe

[2022-02-10 17:31] hoechenberger commented on #10320
Fine with me too, however the idea with the new parameter stems from the assumption that we would like to retain the current behavior (returning a string) for a few versions while **already** allowing users to also get a `Path` instead.

I would also be okay with removing this parameter again once we switch the default, but urgh, that's just another deprcation 😅😅🙈

[2022-02-10 17:47] hoechenberger commented on #10320
@larsoner

But what's the argument against introducing such a parameter? (Maybe I missed it in the discussion? 🤔)

I don't like the idea of introducing yet another way to handle paths. We (MNE users) already have strings and `os.path`; we have MNE-BIDS's `BIDSPath` with the `.fpath` attribute, which returns a `pathlib.Path`; and now we're talking about not only supporting `pathlib.Path`, but a sub

[2022-02-10 18:09] cbrnr commented on #10320
If the black magic eventually goes away this approach is pretty good!

[2022-02-10 18:57] hoechenberger commented on #10320
@larsoner

Sounds good to me!

[2022-02-10 21:16] larsoner opened #10321 "BUG: standard_1020.elc fiducials inconsistent with fsaverage"
IIUC `standard_1020.elc` is in MNI coordinates, i.e., `fsaverage`'s MRI coordinates:

https://robertoostenveld.nl/electrode/

# Bug 1

However, the fiducials there do not match ours for `fsaverage`. The first entry in `1005.elc` is LPA and is listed as:
[code]
but
[code]
I noticed this because, if I compute the native(MNI/fsaverage-MRI)->head transform for the montage, and the MRI->head transform

[2022-02-10 21:45] jasmainak commented on #10320
I would like to vote in favor of a proper deprecation cycle. The threshold for breaking changes in MNE-ecosystem is a bit too low at the moment. Even if you talk about one release cycle for deprecation, that's around 6 months. It's not too uncommon to come back to a script after 6 months or even a year. 5 years is maybe pushing it, but I'd love to see a script that ran 2 years ago to run today wit

[2022-02-11 06:10] cbrnr commented on #10320
I see your point, but why is it not possible for users and us to use an older version to run older code? This will always work no matter how many breaking changes we introduce. I agree we should not do that in every new release, but keeping ugly workarounds just so that the latest version runs old scripts is not worth the extra maintenance effort IMO.

[2022-02-11 06:55] jasmainak commented on #10320
But how do I build upon old code if I do not use the latest API? Maybe I don't need the latest function from MNE but I need the latest function from numpy to do this additional analysis but that version of numpy is not compatible with the old version of MNE. Of course, I could export certain files, import it in the new environment and then run that additional analysis but is that optimal from a us

[2022-02-11 07:01] cbrnr commented on #10320
You build upon old code by replacing deprecated with supported code.

Again, you can *always* run old scripts that worked with a given MNE version by using *exactly that version*. If you work on a new script (which includes taking an old script as a basis) then you will have to update certain things.

[2022-02-11 07:04] cbrnr commented on #10320
Also, remember that we are talking about a major version bump here – this is exactly meant for breaking API, so we could change it without deprecation. Semantic versioning implies that version 1.x.x is in general not compatible with 0.x.x.

[2022-02-11 07:05] jasmainak commented on #10320
In the past several months, *whenever* I run an MNE-related script ... I have had to spend first 15 minutes of my coding time fixing API related changes. Anyhow, I am just trying to add user perspective which is usually missing from the github discussions :)

[2022-02-11 07:10] cbrnr commented on #10320
Yes sure, but why don't you use the MNE version you used when you created the script? Ideally, you should already have an environment which preserves exact versions. But I know, that's probably not what the average user does.

Anyhow, this discussion is drifting off a bit, so to come back to the original issue and proposed solution, I think we all agree that @larsoner's suggestion both uses proper

[2022-02-11 10:44] larsoner commented on #10321
After thinking about it, I think we should just replace the fiducials in the montage with ours from fsaverage (this is an implementation detail to most users!) and make the default head_size='auto' mean "don't scale standard_* because they are MNI, use 0.095 (0.24 default) otherwise". This should make everything "just work" for EEG source modeling with fsaverage, which I think has been off by ~1.5

[2022-02-11 13:48] #10314 closed

[2022-02-11 16:21] adam2392 commented on #10145
@mmagnuski Thanks glad you find it useful!

I'm not sure I follow. Would you be able to illustrate an example for that use case?
I think @drammock  @larsoner  or @agramfort might have some thoughts.

[2022-02-11 17:32] larsoner commented on #10145
A simple one is if someone does `read_epochs_eeglab` or creates an `EpochsArray` -- it would be nice for them to be able to say "I know in epoch 2 in this time interval something bad happens", both via interaction in the epochs browser, and programmatically via some suitable method like `epochs.set_annotations_by_epoch(...)` (name and API TBD)

[2022-02-11 18:38] larsoner commented on #9961
@GuillaumeFavelier this is marked for 1.0, can you take a look?

[2022-02-11 18:41] GuillaumeFavelier commented on #9961
I'll work on it next week :+1:

[2022-02-11 18:43] larsoner commented on #7162
@GuillaumeFavelier can you bump all the 1.0 stuff to 1.1 after making sure none of it is critical?

[2022-02-11 18:44] GuillaumeFavelier commented on #7162
Sure, will do

[2022-02-11 18:45] larsoner commented on #10169
@hoechenberger I can do this early next week unless you want to do it

[2022-02-11 18:50] hoechenberger commented on #10169
If you've got the time, please go ahead! I believe the fix should be simple – in `add_figure()`, pass `auto_close=False` to the function that converts figures to images

[2022-02-11 21:27] mmagnuski commented on #10320
I'm also +1 one for the subclassing witchcraft that raises deprecation warning and goes away in some time in future.

[2022-02-11 21:47] adam2392 commented on #10145
I see that makes sense. Then `set_annotations_by_epoch` would set one "annotation" with the duration of the epoch by default. Alternatively, it can set multiple annotations with no duration.

I am down to work on this down the line, but am quite busy recently. Maybe a newcomer developer would like to take this on?

Seems like a straightforward handling of events data structures and the Epochs clas

[2022-02-11 23:38] larsoner commented on #10145
Now we're talking API.. I think maybe a user could pass a list of length `n_epochs` with onset/duration/desc tuples inside or something. But we can hash that out based on a use case...

... so I think we should wait until someone with a sense of using MNE Epochs and Annotations wants to actually do this sort of thing, and let that guide the API. Having an actual use case will make it clear what we

[2022-02-12 10:18] #10321 closed

[2022-02-12 12:17] mmagnuski commented on #10145
Some suggestions API-wise from how I would like to use such function:
[code]
this second way of setting epoch level annotations might be especially useful for automatically marking various sub-epoch events - like the oscillatory bursts in the example above.

[2022-02-12 20:45] #10286 closed

[2022-02-13 10:23] mmagnuski opened #10329 "Contributing guide - uninstalling mne to switch to dev version prone to errors"
Contributing guide advises to install mne via conda:
[code]
but then, when saying how to switch the python to the dev version, it suggests to uninstall mne via pip:
[code]
which gave me an error:
[code]
[code]
The permission errors is weird because I run the console as Administrator.
After that I still get mne listed as available, and it seems to have been installed from conda-forge, not pip:
[cod

[2022-02-13 10:32] mmagnuski commented on #10329
BTW, after trying `conda uninstall mne` I get mne removed but `mne-base` added...
[code]

[2022-02-13 10:43] mmagnuski commented on #10329
I don't know what is the difference between `mne` and `mne-base` but I uninstalled it via:
[code]
and then the installation of dev version went ok.

[2022-02-13 10:45] mmagnuski commented on #10310
@larsonerYes, it looks the same. Ok, I'll try that next week!

[2022-02-13 20:31] agramfort commented on #10329
no idea

[2022-02-14 08:30] mmagnuski commented on #10329
@larsoner If the error is expected then Contributing Guide instructions should be modified, I followed them step by step. :)

[2022-02-14 09:21] agramfort opened #10333 "mkheadsurf with FS72 / subjdir undefined"
when estimating the high res head surface of subjects using freesurfer72 I get errors with
subjdir variable undefined. Just sourcing older freesurfer just works... grrr

wdyt about rewriting the shell script mkheadsurf in Python and call directly
freesurfer commands? Debugging these tcsh scripts makes me 😱

[2022-02-14 13:22] larsoner commented on #10333
Seems reasonable to me

[2022-02-14 15:46] GuillaumeFavelier commented on #9961
I think the best candidate is the private `_Figure`:

https://github.com/mne-tools/mne-python/blob/main/mne/viz/backends/_pyvista.py#L46

I want to open a small PR to refactor `_PyVistaRenderer` first (mainly moving atrributes into `_Figure`).

Then we can think about the contract that this `fig` should fulfill. I believe it works as intended already ('saved figure' passed between the 3d functions

[2022-02-14 17:42] agramfort commented on #10333
ok great. We "just need a volunteer" now :)

[2022-02-14 18:00] larsoner commented on #10274
Why is duplicating them (on disk as a memmap) a problem in practice? Limitations on storage space or something?

[2022-02-14 19:43] larsoner opened #10343 "BUG: URL broken"
@teonbrooks what URL do you want? Currently [we get](https://app.circleci.com/pipelines/github/mne-tools/mne-python/12860/workflows/883d7bf1-72a5-4036-a399-343929e59811/jobs/41625):
[code]

[2022-02-14 20:24] fishbacp opened #10344 "Request for documentation of fig.mne.*"
Several months ago under the discourse group I posted the question, [Obtaining bad channels and annotations from command line without closing plot window](https://mne.discourse.group/t/obtaining-bad-channels-and-annotations-from-command-line-without-closing-plot-window/2759).

[@drammock](https://mne.discourse.group/u/drammock) suggested that if would like to see more documentation about ```fig.mn

[2022-02-14 23:22] teonbrooks commented on #10343
ah, it's now https://teonbrooks.com

[2022-02-15 09:34] GuillaumeFavelier commented on #9961
Perfect, that's exactly the purpose of `_Figure`.

[2022-02-15 13:00] larsoner commented on #9961
Okay cool, I can make a PR to make this public unless you're working on it @GuillaumeFavelier

[2022-02-15 13:01] GuillaumeFavelier commented on #9961
You can go for it @larsoner, it's always possible to refactor things around later on

[2022-02-15 14:39] #10169 closed

[2022-02-15 18:00] #9961 closed

[2022-02-15 19:14] alexrockhill commented on #10011
Hey @leosunpsy, in case you weren't aware of developments in the Dipy issue, it seems both ANTSpy and Dipy can get stuck in local minima. One approach might be to try both but what we ended up adding to the tutorial was a manual pre-alignment to avoid getting stuck that takes ~2 minutes. Hope that helps! https://mne.tools/dev/auto_tutorials/clinical/10_ieeg_localize.html

[2022-02-15 19:14] #10011 closed

[2022-02-16 14:44] #10320 closed

[2022-02-16 14:58] hoechenberger commented on #10320
Yay!

[2022-02-16 15:42] cbrnr opened #10352 "Roadmap after 1.0 (semantic versioning)?"
Now that v1.0 is about to be released I was wondering if we are going to follow [semantic versioning](https://semver.org/). Specifically, API-breaking changes imply a major version bump – is this what we're aiming for? We're breaking API all the time (sometimes too often I have heard 😉), so even with deprecation cycles this means we would have to increment the major version basically with every ne

[2022-02-16 17:38] infinitejest opened #10353 "import persyst module cross platform paths"
Dear MNE team:

In the persyst.py module there is an issue where the script is not platform agnostic in the way that it handles paths. Persyst lay files are only able to generate in windows platforms. So when those files are saved the lay files file section contains a windows path with the location where the file was created. If you try to process these files for analysis in a different computer M

[2022-02-16 17:46] teonbrooks opened #10354 "unexpected difference in output for `linear_regression_raw` vs. `epochs.average()`"
#### Describe the bug

I noticed that when I use `linear_regression_raw`, this returns a dict of evokeds. However, when I perform the method `epochs.average(by_event_type=True)`, this returns a list of evokeds. I know that there's a major release coming soon so I was wondering if we wanted to keep this pattern or if we wanted to standardize it so that they would both output the same type.

[2022-02-16 18:34] infinitejest commented on #10353
Yes; it worked this will do the trick;

[code]

[2022-02-16 19:36] FelipeParreira opened #10355 "How to read "BW Analysis" data (Neurovirtual)?"
#### Describe the new feature or enhancement
When I try to read a file with `mne.io.read_raw_brainvision`, I get the following error:
[code]

#### Describe your proposed implementation
I need the Brain Vision method to be able to read that version of the header file.
If/when you are willing to take a look at this, I can provide the `.vhdr` file I am using with you.
(Right now, I don't have a file

[2022-02-16 21:45] agramfort commented on #10352
to me the next release will then be 1.1, 1.2 etc. And if something really
big changes and we need
some public attention we should bump to 2.X

my 2c

[2022-02-17 17:39] larsoner commented on #10148
@hoechenberger when you get a chance, could you open a PR to MNE-Python to show how you would change the installation docs? That way people can look at the updated instructions and try them out (substituting the current prerelease executable names for the final versions) and we can also work on getting the wording right.

[2022-02-18 01:42] rcmdnk opened #10360 "Only the exact match ch is detected by eog, misc and stim_channel of read_raw_edf"
#### Describe the bug
`eog`, `misc`, and `stim_channel` of [read_raw_edf](https://github.com/mne-tools/mne-python/blob/ad095ba6e0e5b97ddbbb0def3846fa8551add30d/mne/io/edf/edf.py#L1236) are used to assign the channel type for each channel.

Currently, only the exact matched channel can be detected.
Nevertheless, some tutorials, such as [Sleep stage classification from polysomnography (PSG) data - M

[2022-02-18 05:59] cbrnr commented on #10360
I think we should update the tutorial – these parameters are meant to match exact names only. Note that you can always re-assign channels types after reading with [`mne.rename_channels()`](https://mne.tools/stable/generated/mne.rename_channels.html), which is more flexible because it also accepts a callable or a dict.

[2022-02-18 07:35] rcmdnk commented on #10360
Thanks. It's fine for me the usage is confirmed.
Thank you for the rename function, too.

[2022-02-18 08:21] rcmdnk commented on #10360
Yes, I can do at least for the sleep stage classification part
and will try to find others if exist.

[2022-02-18 08:32] rcmdnk commented on #10360
It seems no other documents have the problem.
(some uses `read_raw_edf(stim_channel=`, but they seem full names of the channels)

[2022-02-18 08:58] agramfort commented on #10360
good catch. It's great if you can send a PR.

[2022-02-18 11:04] #10360 closed

[2022-02-18 17:24] #10195 closed

[2022-02-19 18:34] pettetmw commented on #10187
Apologies for the long-winded post, but I hope it will help move the conversation forward.  I've done a little digging around in the resolution matrix source code, and have put together the following notes.  I doubt that everything is accurate or clear, so I welcome any feedback that helps refine the content into something useful as a specification for a workaround or patch.  I've flagged a few po

[2022-02-20 23:00] larsoner commented on #10187
Agreed this should be what is effectively computed in the loose and free orientation cases

My vote would be to add a `combine_xyz='spectral'` argument that mirrors [`compute_depth_prior`](https://mne.tools/dev/generated/mne.forward.compute_depth_prior.html). Even for our most compact recommended source space, which has ~8000 sources, a resulting non-3x3-normed matrix would end up being around sha

[2022-02-21 12:59] larsoner commented on #8620
@olafhauk do you want help here? It would be good if we could take care of not just https://github.com/mne-tools/mne-python/issues/8620 (and the related #10187) but also https://github.com/mne-tools/mne-python/issues/8737

[2022-02-21 13:00] larsoner commented on #10187
... also FYI I realized that this is very closely related to https://github.com/mne-tools/mne-python/issues/8737 and https://github.com/mne-tools/mne-python/issues/8620, and there is some progress in https://github.com/mne-tools/mne-python/pull/8639. @pettetmw maybe you could try #8620 and see if it works for your use case?

[2022-02-21 13:03] larsoner commented on #10187
... sorry I meant try #8639

[2022-02-21 14:04] larsoner commented on #10208
I'm closing since I think we've taken care of the points in this issue, but feel free to reopen if I'm mistaken @hoechenberger

[2022-02-21 14:04] #10208 closed

[2022-02-21 14:14] larsoner commented on #10034
We could pretty easily use `_get_args` magic inspection of the `callable` to say: if `ch_name` is in the list of arguments of the callable, then we should pass `ch_name=ch_name` as well. This would be backward compatible and require no new parameters

[2022-02-21 14:15] #10000 closed

[2022-02-21 14:38] larsoner commented on #9752
It looks like most of this is taken care of now. What remains to be protected at some point are values of `Info` that are dicts themselves like `info['subject_info']`, but we can tackle those as people are motivated to do it (and see a need to do so), so I'll close this. Thanks for all your work on this @mscheltienne !

[2022-02-21 14:38] #9752 closed

[2022-02-21 14:40] larsoner commented on #9560
Closing since I think we've converged on not changing this

[2022-02-21 14:40] #9560 closed

[2022-02-21 14:42] larsoner commented on #9334
Closing since I think we have converged on not changing this behavior

[2022-02-21 14:42] #9334 closed

[2022-02-21 14:42] larsoner commented on #9264
Closing in favor of #10148

[2022-02-21 14:42] #9264 closed

[2022-02-21 14:43] #9263 closed

[2022-02-21 14:44] larsoner commented on #9256
Closing since this was relevant to last year's GSoC

[2022-02-21 14:44] #9256 closed

[2022-02-21 14:45] larsoner commented on #9226
Closing since this hopefully is now supported by `fetch_dataset` by using `pooch` under the hood

[2022-02-21 14:45] #9226 closed

[2022-02-21 14:45] #9209 closed

[2022-02-21 14:51] #10236 closed

[2022-02-21 15:10] larsoner opened #10367 "ENH: Add time x axis labels to epochs.plot"
... maybe just in mne-qt-browser if it can't look good in matplotlib. See https://mne.discourse.group/t/adding-y-and-x-axis-values-to-epochs-plot/4370

[2022-02-21 15:10] larsoner commented on #10367
cc @marsipu

[2022-02-21 15:37] hoechenberger commented on #10148
I will work on revised install docs tomorrow.

[2022-02-21 15:38] hoechenberger commented on #10208
All good, thanks @larsoner

[2022-02-21 19:10] pettetmw commented on #10187
So in this case, `combine_xyz='spectral'` would imply something like?:
[code]
where:
res_mat is p x p resolution matrix
M is p x n x 3 inverse operator matrix (whitened)
G is n x p x 3 leadfield gain matrix (whitened)
p is number of dipoles
n is number of sensors

[2022-02-21 19:16] mscheltienne opened #10372 "Adding an argument `include_tmax` for `.get_data()`"
We ran into a failure today in https://github.com/vferat/pycrostates/pull/14 because `raw.get_data()` was returning one less sample than expected, namely, the `tmax` sample.

[code]

OUT:
[code]

Do you consider this to be a bug in the handling of `tmax`, or should an additional argument be added, `include_tmax`, like for `raw.crop()`?

[2022-02-21 19:19] pettetmw commented on #10187
As for memory use, for now, I'm only interested in CTPS between a few labelled regions, so I can pick dipoles from M and G to reduce memory/computation load.

[2022-02-21 20:00] pettetmw commented on #10187
#8639 looks promising.  How about if we hold position on `einsum `thread until I can give it a shot?

[2022-02-21 21:56] agramfort commented on #10372
To me it’s not a bug

No objection to add the same parameter as for crop

[2022-02-21 23:43] #9967 closed

[2022-02-21 23:47] larsoner commented on #10187
Yeah I think getting #8639 into shape is the way to go

[2022-02-22 00:57] alexrockhill opened #10374 "[DOC, BUG] Source Estimate argument vertices wrong type"
The Volume Source Estimates (vector and plain) both say in the docstring that they should take an array of vertices (https://mne.tools/dev/generated/mne.VolVectorSourceEstimate.html#mne.VolVectorSourceEstimate and https://mne.tools/dev/generated/mne.VolSourceEstimate.html#mne.VolSourceEstimate). When this is followed a cryptic error from `np.diff` is thrown. SourceEstimate (https://mne.tools/dev/g

[2022-02-22 01:00] alexrockhill commented on #10374
Ah, looking into it, because of the mixins, it's maybe not trivial to pass it as a list, maybe it should just be a list of length 1 in the docstring....

[2022-02-22 01:30] larsoner commented on #10374
Some time ago we tried to change everything so that `vertices` should always be passed as a list. A list of length 1 is fine for VolSourceEstimate (though it can be more if you use subvolumes!). Let's just update the docstring to say it should be a list of ndarray

[2022-02-22 06:53] cbrnr commented on #10372
I don't think this is a bug either, but a convention. Consider a signal sampled with 250 Hz, and you would like to get exactly one second of data (let's say the first second for simplicity). Which samples do you expect to get? I'd say I should get the first 250 samples corresponding to time 0 and 1 – 1/250 s (so the last sample at time 1 s is excluded).

Python indexing works like that too, so if

[2022-02-22 15:16] #10374 closed

[2022-02-22 15:23] mscheltienne commented on #10372
I actually never thought about this in terms of python indexing, that does help a lot!
Sure there is a way to get by with the current arguments; but I feel like as for `.crop()`, the fact that an argument `include_tmax` exists makes it clearer for the user that by default, the `tmax` is not included.

Also, the docstring for `stop` and `tmax` could be improved a bit. For `tmax`, it doesn't say tha

[2022-02-22 15:46] larsoner commented on #10372
Since we have `include_tmax` for `crop`, +1 for adding it here for consistency

[2022-02-22 17:33] alexrockhill opened #10380 "[DOC] Alphabetizing `docdict`"
I think the original organization of `docdict` was great when there were limited entries but now, in my opinion, it's getting a bit unruly and disorganized. My suggestion would be to alphabetize and document the standardized format that the argument should go first with any specific separated by and underscore, i.e. there can be `trans` and `trans_not_none` which will be next to each other alphabe

[2022-02-22 18:36] alexrockhill opened #10382 "[BUG] Pyvista backend `quiver3d` behavior inconsistent"
Here is a minimally reproducible example:

[code]

What I'm stuck on as far as fixing it is that the call goes to `_glyph` with `scalar=[1]` and the key line is 1101:

[code]

Which shouldn't be a string so I have no idea how the one call that works does in fact work... Maybe @larsoner might have just a minute to take a peek.

[2022-02-22 18:45] alexrockhill commented on #10382
EDIT: I missed this before

[code]

so it will be a string.

I'm really not sure what the intention was here so I'm going to leave this one for now.

[2022-02-22 20:45] agramfort commented on #10380
sounds like a good idea !

[2022-02-22 20:50] hoechenberger commented on #10380
+1 if you volunteer to do it 😅

[2022-02-22 23:59] alexrockhill commented on #10380
Hey @andylikescodes, I make this issue so I'm happy to do a PR, but I thought it might be a good one for you to do your first pull request. If you're interested, here are the steps:

Make sure you have a fork as origin and the mne main repository as upstream with
[code]

It should look like this:
[code]

Switch to your main branch if you aren't on it already:

[code]

Get any new changes to the ma

[2022-02-23 00:48] teonbrooks commented on #10354
oh ok, wouldn't we want to change the behavior of `linear_regression_raw` then? It diverges from the list of evoked patterns. no strong feelings about it, just noticed the different output pattern

[2022-02-23 05:11] alexrockhill commented on #10380
Just noticed that all the topomap docdict entries are `topomap_x` which doesn't follow this convention and will be inconsistent in alphabetization, note to self to fix this

[2022-02-23 07:57] hoechenberger commented on #10380
Oh my, no wonder contributing is so hard 😅 We should write an intro explaining how to do all of this using the GitHub GUI

[2022-02-23 16:36] alexrockhill commented on #10380
Hahaha @andylikescodes said he has a good amount of previous GitHub experience so I think that might have been mostly review for him, but in general, I think that's a great idea. There is documentation about it https://mne.tools/dev/install/contributing.html but it's really not by example, it's quite long and if I were a new contributor I might not know where to start/how to do a PR.

[2022-02-23 18:22] #9755 closed

[2022-02-23 20:09] #10329 closed

[2022-02-23 20:11] larsoner commented on #10148
@hoechenberger are we good to go here, other than Dipy + Python 3.10 if we can get it? I say we wait a few more days to see if they do cut a release, but ultimately the existing `dipy` + 3.9 works fine

[2022-02-23 20:41] andylikescodes commented on #10380
@alexrockhill Yes, this seems like a great starting point for the journey. I would love to try it out. Thank you for all these suggestions. I will have some time later today and I will try it out. Will let you know when I am done.

[2022-02-23 20:49] hoechenberger commented on #10148
Yes, sorry, I'm behind schedule with the updated docs. But the installer seems to work. I do have a list of things I'd like to improve in the future but there are no blockers. I've tested it on Intel Macs and on Linux, and @GuillaumeFavelier has tested it on Windows 10. I'll test on an M1 Mac this Friday (yes, I know, I've promised to do this for weeks now), but I don't expect any issues.

[2022-02-23 20:51] hoechenberger commented on #10148
@larsoner If you want to give it a try: See the assets provided here: https://github.com/hoechenberger/mne-installers/releases/tag/v1.0.0-pre5

[2022-02-23 20:55] agramfort commented on #10354
honestly I don't feel any urge changing this but I don't use these very
often myself so...

[2022-02-24 02:26] girijesh97 commented on #4208
Hi @larsoner @ryscet @jaeilepp, I am working on a EEG data which is available here (https://git.scc.kit.edu/pd7949/brainwave-authentication). I am also stuck in the similar problem asked by @ryscet. I have three different files for each individual that contains EEG data, Events and time stamp. Likewise, I tried the method that has been mentioned here and here [https://mne.tools/stable/auto_tutoria

[2022-02-24 02:53] andylikescodes commented on #10380
@alexrockhill Do the entries in the docs.py file have some logical order? Should I just extract all the docdict entries and put them into a big section? These docdict entries are actually separated into different sections, for example, this section here:

[code]

I am assuming I should not break this structure while I am reorganizing the docdict entries?

[2022-02-24 03:08] alexrockhill commented on #10380
Yeah the idea would be that those are all in order so you can just copy the whole block over. Those would all be in the "A" block because the docdict key starts with an a. Okay progress, nice!

[2022-02-24 03:10] alexrockhill commented on #10380
Also maybe just do a few and then make the PR so you don't do a bunch of extra work that needs to be redone.

[2022-02-24 04:10] andylikescodes commented on #10380
What about this block?

[code]

There are "a" and "v" at the same time.

[2022-02-24 04:29] alexrockhill commented on #10380
Verbose should go in v near the bottom and add frames should go in a near the top. I hope that makes sense.

[2022-02-24 04:40] andylikescodes commented on #10380
Oh sorry, let me frame my question a bit more clear, what I meant was that in this blog of code:

[code]

We have this block that is not docdicts:
[code]

While these are docdicts:
[code]
What should I do with the first half of the code that are not docdicts?

[2022-02-24 07:12] alexrockhill commented on #10380
My advice would be to keep them together

[2022-02-24 13:25] c-torre opened #10389 "Allow more types for "picks""
#### Describe the new feature or enhancement

I'm not exactly sure if a bug or feature request, so I'll go with my gut:

Most methods that have `picks` as argument accept a list. They also accept a tuple even if not listed in the docs (bug?). However, most of the times I want to provide a set or a frozenset, since I want to make sure that there are no repetitions at any point (e.g., no two "Pz" by

[2022-02-24 17:28] larsoner opened #10391 "BUG: Notebook server produces blank images by default"
@GuillaumeFavelier see https://mne.discourse.group/t/support-for-3d-brain-visualization-in-headless-mode/4375/12

I wonder if we should try to be smart about `ANTIALIAS` and set it to False under some circumstances. Maybe we can detect a MESA renderer? Or maybe we just always set it to False for the notebook backend? WDYT?

[2022-02-24 17:32] larsoner commented on #10389
Careful, the order does matter, assuming you want to preserve the original order in the data:
[code]

`set` in 3.7+ does preserve order, though, so this might be less important nowadays.

I would rather have users pass `list(picks)` instead. I think it makes clearer that it's really supposed to be `array-like`

[2022-02-24 17:40] teonbrooks commented on #10354
agreed, not that big of a concern. will close

[2022-02-24 17:40] #10354 closed

[2022-02-24 18:05] larsoner commented on #4208
@girijesh97 this seems more like a question on usage, can you post it to https://mne.discourse.group ?

[2022-02-24 20:43] marsipu commented on #10367
Ok I think we could set some custom ticks for this `time`-mode.
How would you set the ticks? If `tmin, tmax = (-0.5, 1.5)`, would you set one tick at 0 and one (shared) tick wth `1.5` for the previous and `-0.5´ for the next epoch?
Spacing and n_ticks determined by n_epochs or duration?

[2022-02-24 22:37] alexrockhill commented on #10380
@andylikescodes, did you have a chance to open a PR? It would be a lot easier to give you advice if you just changed like one or two of the entries, opened the PR and then I'd be like "yeah, looks awesome" or "you might need to change this part because that's going to break this" and then you'd be on your way. Be sure when you do to write "Fixes x" where x is the url of this issue.

[2022-02-25 06:36] cbrnr commented on #5180
Full XDF support is now available in MNELAB (currently in the `main` branch, but soon in a new release).

[2022-02-25 09:58] GuillaumeFavelier commented on #10391
I prefer this idea because AFAIK we encounter this issue mostly when using MESA. Plus it should be simple enough to do using `pyvista.GPUInfo` (and I think the issue with the report crashing should be solved for the next release).

It might be too much. I often use the `notebook` 3d backend locally for testing so I would have to enable it explicitly. Let's keep it as a backup plan if relying on ME

[2022-02-25 12:06] hoechenberger opened #10398 "sys_info doesn't display VTK version number for VTK 9.1"
For an environment with VTK 9.1, `mne sys_info` doesn't display the VTK version number:

[code]

[2022-02-25 13:44] c-torre commented on #10389
Thanks for the reply. True, there are cases in which the order does matter. I was looking mainly at Epochs.average. Then I see several ways to proceed:

1. Allow to pass a set and call list(picks) internally, since there's no reason a priori reason why a set could not be passed.
2. Allow to pass a set and call list(picks) internally, but issue a runtime warning about the ordering issues.

I still

[2022-02-25 14:09] larsoner commented on #10389
One problem is that we actually do treat set-like differently in MNE. In `pick_channels`, we treat it as a set, and the order there does not matter, at least by default.

Another problem is that a `set` is not array-like in the same way as `list` and `tuple`:
[code]
So I think we shouldn't change behavior, and instead just update it to say `array-like of int`

[2022-02-25 15:06] larsoner commented on #10367
This is the tough part -- I think it will require some real-world testing, tweaking, and iteration. There are lots of epochs with lots of tmin/tmax and even time spans (e.g., ABR data can just be < 20 ms in duration; resting state can have 10-60 sec epochs), and this will interact also with the number of epochs shown in the window at once, etc. So I don't know of a good solution offhand

[2022-02-25 16:05] #10391 closed

[2022-02-25 23:16] c-torre commented on #10389
Interesting, so for methods such as `pick_channels` and `Epochs.average`, should they accept both "array-like" and a "set-like"? Then update the docs to reflect these changes.

[2022-02-26 14:34] c-torre commented on #10389
OK that can work then. Maybe this can be closed then. Thanks!

[2022-02-27 13:33] agramfort commented on #10389
it seems we should close after amending the docstrings as suggested by
@larsoner

Message ID: ***@***.***>

[2022-02-28 13:34] FelipeParreira commented on #10355
HI, @sappelhoff !

Answering your questions:

1. The data was recorded using a device called BW Analysis (from a brand called Neurovirtual). I am not sure about the software itself that was used, though.

2. Here are the files I have. I got this error while trying to read the `.hdr` file (whose extension I changed to `.vhdr`), but I am sending all the files here in case it helps.

[Patient_01.zip]

[2022-02-28 13:46] cbrnr commented on #10355
@FelipeParreira I don't think that these are BrainVision files – why do you think that the data is stored in this format? You even renamed the header file, but that doesn't change its contents of course. It looks like this is a completely different format which I have never seen before.

[2022-02-28 13:46] sappelhoff commented on #10355
thanks for the info - that makes the answer to this question very easy: The data you have is **not** in the BrainVision data format, so you cannot read it that way.

Having that said, I don't know the particular data format your files are in, and I recommend you get in touch with the support of the company to learn (i) about the name of the data format used, (ii) how to read these files and work o

[2022-02-28 13:47] FelipeParreira commented on #10355
I am somewhat new to MNE and eeg files. This just seemed like the last option I had after reading part of the documentation.
If there are other ways to read these files, let me know.

[2022-02-28 13:51] #10355 closed

[2022-02-28 14:42] robintibor commented on #10274
Yes we may look at very large datasets like >1TB

[2022-02-28 22:34] larsoner opened #10404 "BUG: _compare_version backward incompat"
cc @hoechenberger:
[code]
This is a problem because we usually want the second result :(

The `git grep check_version | wc -l`  count is 67 and `git grep _compare_version | wc -l` is 26, I'd rather not have to change all of these to allow for `.dev0` extensions. Plus other submodules like `mne-nirs` that already use this (where I saw the problem actually!) will not work properly...

I'm tempted to

[2022-02-28 23:06] alexrockhill opened #10405 "[ENH] Add support for the BIDS template coordinate frames"
Related to https://github.com/mne-tools/mne-bids/issues/961 and https://github.com/mne-tools/mne-bids/pull/962.

Both EEG and iEEG data can be stored in any of the template coordinate frames in BIDS https://bids-specification.readthedocs.io/en/stable/99-appendices/08-coordinate-systems.html#eeg-specific-coordinate-systems. If one of these coordinate frames is used, MNE-Python could have an interna

[2022-03-01 06:07] hoechenberger commented on #10404
I believe there were some relatively recent changes by @cbrnr if I'm not mistaken (cannot check right now), could you have a look at the history of that function and see if this problem maybe only started showing up after these changes?

[2022-03-01 06:56] cbrnr commented on #10404
This is a bit unfortunate and maybe even a bug? They are explicitly recommending to switch to `packaging.version.parse`, but it doesn't behave identically. I've open an issue.

[2022-03-01 07:26] hoechenberger commented on #10404
I have to say that IMHO the new behavior is more correct than the old one though. 1.0 **is** newer than 1.0dev0. So the version comparison should be `>=1.0dev0`, no? I think this is how conda behaves too if I'm not mistaken.

[2022-03-01 07:50] cbrnr commented on #10404
Technically yes, `dev0` is a *pre*release, so it is less than the final release. However, speaking of [semantic versioning](https://semver.org/), I think we're not using those prerelease tags correctly, because they should be separated by a hyphen (e.g. `1.0.0-dev0`).

[2022-03-01 08:17] cbrnr commented on #10404
As @hoechenberger suspected this is expected behavior, and `distutils.version` was doing its own thing. I'd change the comparisons in our code. Alternatively, we could vendor the old versioning code, but I'd rather not do that.

[2022-03-01 08:24] hoechenberger commented on #10404
Let's change our code to make it more consistent with my thinking 😅🥴😁

[2022-03-01 11:28] larsoner commented on #10404
I'd rather add a loose=True that prunes the dev. Most of the time if a person is using 1.0.dev0, they probably have what's needed and if they don't they know how to update. Plus it's backward compatible this way. And it's much easier than changing 100+ places we use (and think about) these comparisons.

[2022-03-01 11:50] cbrnr commented on #10404
So this would basically affect equality comparisons, right? Using `loose=True` would mean that `1.0.dev0 >= 1.0`, `1.0.dev0 <= 1.0`, and `1.0.dev0 == 1.0` are all `True`. Does this make sense? I don't really understand why we rely on such strange comparisons.

[2022-03-01 12:04] larsoner commented on #10404
I can document this inaccuracy with `==` and `loose=True`. In practice we (almost?) never use `==`. To me practicality -- and backward compat for other libs and even users that make use of `check_version` and have silently been getting the wrong result, at least according to how this has behaved for the last 9 years -- beats purity here by a long shot.

[2022-03-01 12:26] larsoner commented on #10404
The most important thing is that it restores the behavior of `check_version`. This uses `_compare_version` under the hood with a `<` operator to say if something is not okay:

https://github.com/mne-tools/mne-python/blob/6608b720b214529732542cb2aac11b401770eddf/mne/utils/check.py#L100

So for example:
[code]
So I think it should work. So maybe we should add `loose=True` to `check_version`, do the

[2022-03-01 12:28] cbrnr commented on #10404
This sounds good!

[2022-03-01 14:37] tillhabersetzer commented on #8825
Thank you very much for providing the code. I had the same problem and it worked for me too! I would really appreciate to see this function `mne.surface.fix_topology(rr, tris)`  implemented in mne python

[2022-03-01 16:38] larsoner commented on #10405
At least for MEG data, our policy when reading CTF and BTi data -- which have their own coordinate frames -- is to convert these to Neuromag. Then we only need to worry about the HEAD coordinate frame in the end. (IIRC we actually do store some stuff about the original CTF coordinate frame, but I'm not sure we need to generalize that to other systems.) So my inclination would be *not* to support w

[2022-03-01 17:03] alexrockhill commented on #10405
Okay so then maybe all we need to do is go and collect the fiducials from all those templates so that they can be transformed to head. And then maybe the T1 or downsampled T1 for each could be added to some dataset so that we could add an example to check that coordinates from a BIDS dataset make sense in MNE. Maybe it's own MNE templates data repository? I'd have to look to see if there's already

[2022-03-01 17:07] larsoner commented on #10405
The fiducials only allow you to determine a rigid transformation. It's likely that you'll probably want a full affine (at least scaling, maybe also shear) to get from one space to another, assuming you're talking about things like different MRI templates (MNI versus Talairach, etc.)

[2022-03-01 17:14] alexrockhill commented on #10405
I thought you could get scaling (at least directionally uniform) with the fiducials.

Anyway, I'm not sure how to compute that, that's all done by Freesurfer from individual T1 to Talairach right?

[2022-03-01 17:31] larsoner commented on #10405
Only in two out of three directions (X and Y), which IMO is worse than giving you zero out of three via a rigid. The `get_ras_neuromag_t` only gives a rigid based on the mapping of three points to three other points, which I think is the right behavior. I don't think just fiducials is enough here unless you know you don't need any scale or shear...

I would check first if there is a standard way o

[2022-03-01 17:34] larsoner commented on #10405
... to give a concrete example and sticking to MRI template spaces, I would expect that at least some of these:

https://bids-specification.readthedocs.io/en/stable/99-appendices/08-coordinate-systems.html#standard-template-identifiers

Have some standard affine 4x4 matrix you can use to get to `MNI305` space either in the literature, or defined in the code of some software package somewhere. Or a

[2022-03-01 17:39] alexrockhill commented on #10405
Thinking about it, they could just have the fiducials so that they can be transformed to "head" and then saved. Then you just have to worry about the head->template mri transform. Template to template transforms would be optional; I assume that's not really the goal anyway, you probably just want to work in the template you got the data in so that you don't run into transform of a transform proble

[2022-03-01 17:42] larsoner commented on #10405
It sounds like this requires no changes at the MNE-Python end -- just require at the MNE-BIDS end that they have fiducials properly defined/marked in whatever space their electrodes live in.

For convenience, if you want, you could even automagically add them for different templates (like we already have for `fsaverage` in MNI305 space) at the MNE-BIDS end if they are missing so that people don't

[2022-03-01 17:47] larsoner commented on #9286
I imagine some version of `src2subsurf` (everything before [line 50](https://gist.github.com/jbteves/384bfdd3777190f59620c3d988a314fd#file-stc2gii-py-L50)) with a suitable API and naming scheme could live in `mne/source_space.py`. Are you interested in doing this @jbteves ?

For an API/naming, perhaps `mne.source_space.get_decimated_surfaces(src)` that returned `len(surf_source_spaces)` (usually =

[2022-03-01 17:49] larsoner commented on #10148
@hoechenberger it looks like there has been some dipy activity moving them closer to release, so it would be good to work on the updated instructions soon

[2022-03-01 17:51] #10398 closed

[2022-03-01 17:59] larsoner commented on #10405
Are we talking about `montage.save` here? We can just leave that as UNKNOWN, and no transformations are performed. No need to enumerate every possibility.

Are we talking about `raw.set_montage(...).save(...)`? In MNE-Python when you do `raw.set_montage`, it *will* transform to head (or at least try to do so, and warn if it cannot IIRC). If you want to be able to get back to your original coordina

[2022-03-01 18:06] alexrockhill commented on #10405
Happy to discuss Friday, that all sounds good and the `montage.save` part answered my question. I think the only thing is to check that if all of the dig points in a `raw` object have coordinate frame 'MNI152NLin6Sym', that doesn't mess anything up. I thought the coordinate frame had to be an integer but maybe not.

[2022-03-01 18:09] larsoner commented on #10405
I think you missed / I wasn't clear enough about this point above:

So I'm not sure what you mean by "raw object have the coordinate frame 'MNI152NLin6Sym'". When you do `raw.set_montage(montage)`, the electrode locations in the raw object *will* and *should* be in head coordinates regardless of what coordinate frame they are in for the `montage`, at least according to our standard procedures. The

[2022-03-01 18:10] #10404 closed

[2022-03-01 18:17] alexrockhill commented on #10405
The transform only happens if there are fiducials though and because we added `apply_trans`, the `montage` can be moved around to different coordinate frames. I was asking about what happens when the montage is transformed back from head to the template space to be used in things like label montage contacts etc. in the ieeg tutorial.

[2022-03-01 18:41] larsoner commented on #10405
... true, but they ideally should be present. If they aren't, I think we are right to warn, as many/most viz functions will do the wrong thing / misrepresent the data, and we are right to call them UNKNOWN because this is more or less an unsupported way of using MNE. (Calling them HEAD is misleading, though it might be what `set_montage` actually does when setting `info['chs'][ii]['coord_frame']`.

[2022-03-01 18:48] alexrockhill commented on #10405
Ok, now I think we're on the same page. The only question to add to MNE is: can the montage coordinate frame just be a string or does it have to be a signed int supported by MNE?

[2022-03-01 18:51] larsoner commented on #10405
It has to be int. Hence I would just leave it as UNKNOWN, but containing LPA/RPA/Nasion is enough to get to/from it and HEAD. The fact that it's `'MNI152NLin6Sym'` or any other space can just be in the tutorial narrative.

[2022-03-01 18:57] alexrockhill commented on #10405
Okay, good discussion, let's have it all be MNE-BIDS-level tutorial, I agree.

[2022-03-01 18:57] #10405 closed

[2022-03-01 18:58] larsoner commented on #10405
Hopefully you can convince others that this limited support for coordinate frames is ultimately a good thing and not laziness on our part :)

[2022-03-01 19:51] hoechenberger commented on #10148
on my todo for tomorrow!

[2022-03-02 01:02] alexrockhill commented on #10380
I didn't realize how big `doctdict` was already, I think this is a bit too late. What I thought might be a fun onboarding exercise  looks like the endless PR to scare away new contributors! Sorry @andylikescodes!

I wrote a script to automate it but it still took an hour of fiddling.

[2022-03-02 15:53] kcsaba12 commented on #9094
I think I found one reason which can evoke the problem. If some of the channels are interpolated the CSP fails.
I even tried the multi class CSP problem.

Code to reproduce the problem:
(remove the comment in the `event_id` if you want to test the multi class problem)
[code]

mne.sys_info()
[code]

[2022-03-02 21:56] #10380 closed

[2022-03-03 20:47] VoodooCode14 opened #10410 "Scaling identified in the coregistration does not become part of the transformation matrix"
#### Bug description
Setting the flag coreg.set_scale_mode("3-axis") allows for scaling when computing the coregistration parameters. For some reason, those parameters do later on **not** become part of the transformation matrix. Instead they appear to be applied to the MRI points for reasons I cannot follow (which are not explained in the code either). Hence, when a head is matched to a different

[2022-03-04 11:22] agramfort commented on #9094
thx @kcsaba12 for the detailed bug report. I managed then to look into it. Indeed when you interpolate you have rank reduced data. you could imagine that the regularization of the cov fixes the pb but MNE is a bit too smart about data rank by default. Basically is only applied the cov estimation in the subspace where the data lives. You have two options:

# Use PCA

[code]

Alternatively you shoul

[2022-03-04 15:29] mkkubins opened #10413 "spectral_connectivity"
Hello!
I cannot access spectral_connectivity. Also when I am looking for this in the MNE search there is nothing. Is it removed now?

[This page doesn't work for me](https://mne.tools/mne-connectivity/stable/generated/mne_connectivity.spectral_connectivity.html)

ERROR PRINTED:

File not found

The site configured at this address does not contain the requested file.

If this is your site, make sur

[2022-03-04 18:23] larsoner commented on #10410
This is not quite the idea. The idea that the scale mode (uniform or 3-axis) *scales the entire FreeSurfer subject* and saves this to disk *as a new FreeSurfer subject* when you press the "Save scaled anatomy" button (e.g., `fsaverage_warped_subject13`). This new subject should then be used in conjunction with the head<->MRI coregistration matrix for forward/inverse/source modeling. Then at the le

[2022-03-04 18:29] agramfort commented on #10413
what are you looking for? the page you point to has been certainly moved

[2022-03-04 19:51] hoechenberger commented on #10148
@larsoner Would you be available for a review on Monday? Still WIP at my end but I think Monday I will have something to share :)

[2022-03-04 19:59] larsoner commented on #10148
Yep

[2022-03-07 05:30] rob-luke opened #10419 "Support coordinate systems in SNIRF file"
#### Describe the new feature or enhancement
The latest release of the SNIRF file specification for fNIRS data includes a new field called ['coordinateSystem'](https://github.com/fNIRS/snirf/blob/master/snirf_specification.md#nirsiprobecoordinatesystem). Prior to this field there was no way of knowing what coordinate system the sensor locations were specified in. As a hack we previously used a cus

[2022-03-07 18:42] jbteves commented on #9286
Opened #10421 for you to take a look.

[2022-03-08 03:16] VoodooCode14 commented on #10410
Thank you very much for the quick reply.

I have compared the output of the way you mentioned, saving the new anatomy and subsequently using this one for modeling. In the end, the results (mne.viz.plot_alignment) appeared to be equal to me when saving and loading the warped anatomy compared to incorporating the zoom results into the transition matrix.

On another note, I was wondering whether ther

[2022-03-08 12:25] larsoner commented on #10410
Yes, there are likely multiple places in the code that we assume the `trans` is a rigid-body transformation. At least one important one is the forward modeling code. For example, the surface normals are rotated (but not translated) under the assumption that we can get just the rotation by multiplying by the upper left 3x3 (and still end up with a unit vector), which will not be the case if we inco

[2022-03-08 19:43] adam2392 commented on #10413
@mkkubins the functionality you're looking for has been moved to https://mne.tools/mne-connectivity/stable/generated/mne_connectivity.spectral_connectivity_epochs.html since v0.23. It's also undergone some changes.

If you're looking for the original implementation it's v0.1 from mne-connectivity, which is essentially a copy of the MNE api. Since then it's evolved and improved a lot. I would recom

[2022-03-09 08:47] mkkubins commented on #10413
Thanks for the help!

[2022-03-09 08:47] #10413 closed

[2022-03-09 09:16] GuillaumeFavelier commented on #8704
Quick update: `ipycanvas` now works on Google Colab. It's a big milestone for the `notebook` 3d backend.

https://github.com/martinRenou/ipycanvas/issues/170#issuecomment-1062071346

I'll check `ipyvtklink` and report back in here.

[2022-03-09 10:12] agramfort commented on #8704
this would be a game changer !

Message ID: ***@***.***>

[2022-03-09 11:34] GuillaumeFavelier commented on #8704
Although now `ipycanvas` is supported on Google Colab, `vtk`, even on notebook, still requires a running X server.

My testing workflow is: `ipycanvas` :heavy_check_mark: -> `ipyvtklink` :heavy_check_mark: -> `pyvista (ipyvtklink)` -> `mne (notebook)`

It's a work in progress but I managed get it working at low resolution, which is already amazing IMO.
Here is a modified version of [`ipyvtklink`'s

[2022-03-09 19:13] jbteves commented on #9286
Should this be reopened? I think we're still missing the "write to gifti" part.

[2022-03-09 19:19] larsoner commented on #9286
I think the "partially addresses #XYZ" was misread by GitHub, agreed we should reopen

[2022-03-09 19:20] jbteves commented on #9286
Thanks! For the GIFTI part should I add another function, or are we wanting to wait for the surface API changes?

[2022-03-09 19:46] larsoner commented on #9286
I think we want `nibabel` to do the heavy lifting on that, so we'll need to wait at the MNE end for them to have GIFTI export.

One idea of a backward and forward compatible way for us to get this very easily would be to make BaseSourceEstimate a subclass of nibabel's surface API class. If this works it might be a nice way to transition

[2022-03-09 19:59] larsoner commented on #10367
... thinking about this more, I worry about it becoming very busy with limited benefit. I wonder if the way to go here is to have a single time scale bar (in the lower left) like we have for channels (in the upper left) that shows the largest of these bars that fits between zero (or `tmin`) to `tmax` : `[1 ms, 5 ms, 10 ms, 50 ms, 100 ms, 1 s, 5 s, 10s, 20s, 30s, 60s]`. I think this would cover 99%

[2022-03-09 19:59] larsoner commented on #10193
Closing since I think there are solutions in here that should work, but let's reopen if none of them do

[2022-03-09 19:59] #10193 closed

[2022-03-09 20:19] larsoner commented on #8080
I'll close this as upstream bug(s), but people feel free to comment if it's fixed yet (or not)!

[2022-03-09 20:19] #8080 closed

[2022-03-09 21:48] marsipu commented on #10367
I think too that this would be a better solution than cluttering the x-axis more with ticks, nice idea with the "time scale bar".

Isn't this already working with the green vertical line? I adapted it for epochs too. Or do you mean something else?
Maybe we can also raise more awareness for the crosshair activated with pressing "x"?

P.S. Unfortunately I won't be able to implement additional featur

[2022-03-10 00:26] RuxueG opened #10426 "Problem with brain.add_volume_labels in tutorial 'Working with sEEG data'"
Hi,
I met a problem when running tutorial Jupyter notebook scripts of 'Working with sEEG data'. I cannot plot out the labels in 3D head model when running the command brain.add_volume_labels(aseg='aparc+aseg', labels=labels). There's a TypeError: SetColor argument 1: expected a sequence of 3 values, got 4 values. A document for the details of the error was attached here.
[error.pdf](https://github

[2022-03-10 00:48] sportnoah14 opened #10427 "Add Support for NWB"
Hi,

I've been working on creating a new subclass of `BaseRaw` that can read from a NWB file. These are organized hdf files that can store multiple types of data streams including those with different sampling rates, sizes from different sources (such as eye-tracking, seeg, scalp eeg, audio etc.). Because they're hdf files they have lazy loading. It would be nice to have a `RawNWB` object and/or a

[2022-03-10 00:53] rob-luke commented on #10427
There is also an extension for NWB-NIRS that would be nice to support if this is implemented.
See https://github.com/agencyenterprise/ndx-nirs
Also ping @dsleiter

[2022-03-10 01:35] sportnoah14 commented on #10427
@rob-luke if that extension is a subclass of a `TimeSeries` then it should work the same. It would be hard to encompass all the extensions. I think just having a single reader for a `TimeSeries` container is a great start

[2022-03-10 05:29] BarryLiu97 commented on #10426
Please update all the packages to the latest. Use
[code]
to see the version of your package.

[2022-03-10 09:11] MatthiasEb opened #10428 "support latin1 encoding for channels in read_raw_nihon"
When opening Nihon-Kohden files with `read_raw_nihon` I get the error

[code]
raised in [this line](https://github.com/mne-tools/mne-python/blob/1b14d458cbcd391a6907032b809ec37410b60592/mne/io/nihon/nihon.py#L111).

I guess it is similar to [this issue](https://github.com/mne-tools/mne-python/issues/9267) which was already solved [here](https://github.com/mne-tools/mne-python/pull/9384), as replac

[2022-03-10 09:20] cbrnr commented on #10428
No objection, can you make a PR?

[2022-03-10 09:22] MatthiasEb commented on #10428
I'll have to see how this works, but I'll try

[2022-03-10 15:23] GuillaumeFavelier commented on #9182
Good question, I will try a simple code snippet on my KDE desktop to find out :+1:
No idea for Windows though.

I think it's just a misunderstanding. On `mnelab` you design your own `MainWindow` class. In `mne-python`, we borrow the one created by default by `pyvistaqt`. What @larsoner means is exactly what you suggest [above](https://github.com/mne-tools/mne-python/issues/9182#issuecomment-805726

[2022-03-10 17:14] GuillaumeFavelier commented on #9182
Nope, it did not work for me unfortunately. I'm really surprised considering everything KDE is basically Qt under the hood.

https://user-images.githubusercontent.com/18143289/157717220-fc55a060-b10b-4823-b798-0d4c52deb364.mp4

The rough code snippet I used:

<details>

[code]

</details>

[2022-03-10 17:31] cbrnr commented on #9182
@GuillaumeFavelier OK, now I got it! I also confirmed that your example is working on macOS. I think that's unfortunately still the only OS, it doesn't work on Windows either.

[2022-03-10 20:40] #10428 closed

[2022-03-10 20:59] RuxueG commented on #10426
I tried to update all the packages but I still meet the same problem. Here is the info

Platform:       Windows-10-10.0.22000-SP0
Python:         3.9.10 | packaged by conda-forge | (main, Feb  1 2022, 21:22:07) [MSC v.1929 64 bit (AMD64)]
Executable:     F:\anaconda\anaconda\envs\mne\python.exe
CPU:            Intel64 Family 6 Model 142 Stepping 10, GenuineIntel: 8 cores
Memory:         7.9 GB

mn

[2022-03-10 21:27] RuxueG commented on #10426
I think the latest version doesn't work based on this warning

F:\anaconda\anaconda\envs\mne\lib\site-packages\mne\viz\backends\_pyvista.py:192: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if LooseVersion(pyvista.__version__) >= '0.27.0':
F:\anaconda\anaconda\envs\mne\lib\site-packages\mne\viz\backends\_pyvista.py:192: DeprecationWarning: distutil

[2022-03-11 06:13] BarryLiu97 commented on #10426
How do you create your environment?
Try this first to see if there is any problem.https://mne.tools/stable/install/index.html
[code]

[2022-03-11 08:27] dsleiter commented on #10427
`ndx-nirs` stores NIRS data in a class that inherits from `TimeSeries`, so it should be possible to read the raw data. However, to read channel metadata, I think `RawNWB` might need to know about specific types of timeseries (eg. `ElectricalSeries`, `SpikeEventSeries`, `NIRSSeries`, etc).

I'm not familiar with the usual implementation details of `_read_segment_file` for other `Raw` classes, but a

[2022-03-11 16:36] RuxueG commented on #10426
This is exactly what I did in the beginning. At the first time, I got information as below:

Platform:       Windows-10-10.0.22000-SP0
Python:         3.9.10 | packaged by conda-forge | (main, Feb  1 2022, 21:22:07) [MSC v.1929 64 bit (AMD64)]
Executable:     F:\anaconda\anaconda\envs\mne\python.exe
CPU:            Intel64 Family 6 Model 142 Stepping 10, GenuineIntel: 8 cores
Memory:         7.9 G

[2022-03-11 17:39] larsoner commented on #10426
In this case I think it's because MNE is out of date. Can you try:
[code]
And see if it helps?

[2022-03-11 17:40] larsoner commented on #10426
(... out of date in the sense that it's installing the stable version, and to deal with this particular problem you need the dev version. FYI, the next MNE version should come out next week!)

[2022-03-11 19:09] sportnoah14 commented on #10427
@dsleiter I was just meant that support for all `TimeSeries` subclasses may be difficult. Not impossible though. I've already worked out a way to extract channel information for an `ElectricalSeries` object. `RawNWB` may just an up being an object with multiple `if` statements in its declaration (or a function it calls in its declaration). The biggest issue for this may be if there's significant d

[2022-03-11 20:32] larsoner commented on #10148
FYI Dipy 1.5 is out! https://pypi.org/project/dipy/1.5.0/

[2022-03-11 20:48] RuxueG commented on #10426
Thank you! It works now!

Looking forward to the new MNE version!

[2022-03-12 09:53] hoechenberger commented on #10148
😱😱😱

[2022-03-14 21:37] jhouck opened #10435 "Time of acquisition from info['meas_date'] is not always accurate"
#### Describe the bug
For some fif files, depending on the settings of the DACQ computer, it is possible for the acquisition time listed in info['meas_date'] to be inaccurate. In our case in data over several years, even though the times reported in both FIFF.FIFF_FILE_ID and FIFF.FIFF_MEAS_DATE are labeled as MDT/MST, FIFF.FIFF_MEAS_DATE is consistently 6-7 hours earlier. We have some MEG calenda

[2022-03-15 16:49] larsoner commented on #10435
Can you share a file (preferably unaltered / straight from the acq machine) plus the date/time you know the acquisition started?

I have a file I know (based on my calendar) I recorded on 2014/03/12. Looking at that file:
[code]
So these two are consistent to the `sec` level. I'll see if I can find a newer file that hopefully has the `['utc_offset']` set properly...

We would have to ask the MEGIN

[2022-03-15 17:14] jhouck commented on #10435
I think it's in UTC and then show_fiff/mne_show_fiff report it using the offset from the local machine.  For me, the sample data sample_audvis_raw time is reported in MST (i.e, 3 Dec 2002 @ 12:01:10 pm MST).

[2022-03-15 17:25] jhouck commented on #10435
Unfortunately I don't know the acquisition time of the empty room file that is linked above.  If you don't mind a larger file I can upload something with a known scan time.  Maxfilter adds a new `meas_time` (tag 204) but the original time is also retained. The info will always report a single `meas_time` -- I believe the first one encountered in the fif header -- but the others are also present.

[2022-03-15 17:33] larsoner commented on #10148
Just a reminder that, as part of this, we should update https://github.com/hoechenberger/mne-installers/blob/main/README.md to hopefully just point people to https://mne.tools/dev/install/index.html

[2022-03-16 05:52] dsleiter commented on #10427
Yeah, I think that separate logic might be needed for each `TimeSeries` subclass in order to get channel information. That sounds good to start with `ElectricalSeries` and add support for others later. There probably aren't too many cases that would need to be implemented in order to support the majority of use cases for mne users.

I believe the NWB team has been pretty good about ensuring backwa

[2022-03-16 14:53] sportnoah14 commented on #10427
@dsleiter I agree, we would probably need separate logic for each case. If it's restricted to the `TimeSeries` subclasses that are part of primary `pynwb` package and the major extensions then that should be fine.

Beecause there can be many acquisitions, my thinking is that the `RawNWB` object would interact with a single `TimeSeries` as opposed to the whole file. So the function would work more

[2022-03-16 15:09] sportnoah14 opened #10437 "Channels marked as "bad" have further specification"
Hi,

I presented this idea at a previous office hours. I work in a lab that records ieeg data from epilepsy patients. Due to the nature of the data, apart from some channels having a poor signal quality there are some of channels that show interictal activity (sharp spikes that confound just about any analysis), are seizure onset zones, are outside of the brain or surrounded by damaged tissue such

[2022-03-16 15:38] larsoner commented on #10437
We have considered adding generic channel tags in the past, but settled on only needing "spatial tags" (e.g., MEG sensor triplets that all share the same x/y/z pos but different orientations and/or coil types) that are usually related just to the hardware acquisition setup. So adding this stuff to `info` perhaps doesn't make sense.

Adding it to Annotations, as you suggest, could work. One way wou

[2022-03-16 15:49] agramfort commented on #10437
+1 to use np.info or raw.times[-1] for duration

it seems easy enough

[2022-03-16 16:12] larsoner commented on #10435
Okay I found a file from our newer acq:
[code]
This all seems reasonable to me.

I'm guessing that there is something about how your site did that acquisition that gives it the behavior you see. Perhaps they started the initial parts of the acq process really (hours) early, and this is what determines the `meas_date`. Then they later hit GO, which starts the actual file writing and the `file_id` g

[2022-03-16 19:08] larsoner commented on #10435
Indeed this sounds like a mis-configuration between kaptah/sinuhe -- might be worth contacting MEGIN to see if they can fix it.

In the meantime, you should be able to use this to fix your problematic files on read:

https://mne.tools/stable/generated/mne.io.Raw.html#mne.io.Raw.set_meas_date

[2022-03-16 19:08] larsoner commented on #10435
... closing since I think there is nothing to change at the MNE for this, but we can reopen if set_meas_date is not enough!

[2022-03-16 19:08] #10435 closed

[2022-03-18 18:49] larsoner opened #10445 "MAINT: Replace our internal STFT with scipy.signal.stft"
Once https://github.com/scipy/scipy/pull/15704 is merged we should ideally be able to directly call STFT and preserve power. However, that would require waiting ~2 years. Instead I think we should add a version to `fixes.py` where the appropriate scale factors from https://github.com/scipy/scipy/pull/15704 are used to preserve power.

[2022-03-19 08:05] hoechenberger commented on #10445
Seems it was merged shortly after you opened this issue!

[2022-03-19 10:44] larsoner commented on #10445
I took a quick look yesterday and this is still a pain, at the very least because we pad at the beginning and end while scipy just pads at the end. But looking again at [scipy.signal.stft](https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.stft.html) if we keep our internal padding and pass `boundary=None, padded=False` it might work. I'll look again soon...

[2022-03-19 13:13] #10148 closed

[2022-03-19 20:02] hoechenberger opened #10446 "Update docs to reflect new MNE Installer menu entries"
https://github.com/conda-forge/mne-feedstock/pull/86 changes the names of the menu entries. We need to update the docs accordingly. I think the only thing we mention explicitly is the `MNE Prompt`, which would be renamed to `Prompt (MNE)`, so we should probably refer to it just as `Prompt`.

cc @larsoner

[2022-03-19 23:23] larsoner commented on #10446
Agreed, `Prompt` is good enough no matter what else we have in the name (if anything), so in that sense it's nicely future compatible

[2022-03-20 20:59] jasmainak opened #10447 "add skip_by_annotation to notch_filter and resample"
We have TMS-EEG data at MGH for which we're trying to figure what is the best processing pipeline. The TMS pulses are recorded as triggers, so we can create annotations of 10 ms around those triggers and use that to exclude from operations such as ICA and [raw.filter](https://mne.tools/stable/generated/mne.io.Raw.html#mne.io.Raw.filter). This seems to work well but we noticed that `skip_by_annotat

[2022-03-21 12:35] larsoner commented on #10447
Agreed this would be useful!

[2022-03-21 13:39] #10446 closed

[2022-03-21 17:01] hoechenberger opened #10451 "Make it such that our installer download always point to the correct version and don't need to be updated with each release"
How I imagine this to work:

1. we follow a strict naming / tagging scheme on `mne-tools/mne-installers`
1. we add a tiny snippet of JavaScript to the HTML file of our docs that renders the download buttons; the script extracts the version number of the currently-viewed documentation and adjusts the link targets of the download buttons accordingly
1. profit!

[2022-03-22 21:32] mscheltienne opened #10453 "ContainsMixin doesn't work properly with Info instances"
[code]

Probably because `__contains__` gets resolved with the inheritance from `dict` before the inheritance from `ContainsMixin`.

Also from the same Mixin, `compensation_grade()` raises this error when there are no MEG channels. I guess it should raise, but something more explicit than this obscure error.

[code]

[2022-03-22 21:39] alexrockhill commented on #10216
@jasmainak, do you still want to meet and talk about this?

[2022-03-22 21:59] larsoner commented on #10453
The `__contains__` *should* resolve to `dict` for backward compat. I have code (and I imagine others do, too) that uses things like `if 'subject_info' in raw.info:` etc. and we don't want to break it.

Is `info.compensation_grade` a property? If so, it should return None or an int, and by doing `info.compensation_grade()` (note the extra parens) you are going to be calling `None.__call__` or `int.

[2022-03-22 22:03] mscheltienne commented on #10453
This is why I posted this as an issue and not a PR. I wasn't sure if there was something to fix. So for `Info`, you consider that `__contains__` from `ContainsMixin` should be ignored in favor of the one from `dict`.

For the second, that's a function: https://github.com/mne-tools/mne-python/blob/main/mne/io/meas_info.py#L262-L265
Which points to https://github.com/mne-tools/mne-python/blob/cd5a56

[2022-03-22 22:07] larsoner commented on #10453
Looks like you missed the critical `@property` one line above

https://github.com/mne-tools/mne-python/blob/cd5a5608d2183efdab2625627584913cdeddbba6/mne/io/meas_info.py#L261-L265

[2022-03-22 22:08] larsoner commented on #10453
... being a property it means you should use `info.compensation_grade` to get the result, not `info.compensation_grade()`, unless you want to `__call__` the resulting None or int that `info.compensation_grade` (note: no parens!) already returns

[2022-03-22 22:11] mscheltienne commented on #10453
... time for me to shut down the computer and go to bed 🙈 🙈 thanks.

[2022-03-22 22:11] #10453 closed

[2022-03-22 22:14] larsoner commented on #10453
Hopefully `@property` will now show up in dreams not nightmares :)

[2022-03-22 22:35] alexrockhill commented on #10382
@larsoner do you have a minute to look at this? I can do the PR but if you could just tell me what you were trying to do that would be really helpful.

[2022-03-22 23:18] larsoner commented on #10382
I won't have time to look until late next week

[2022-03-22 23:25] alexrockhill commented on #10382
No worries, whenever you have time, just trying to wrap up loose threads.

[2022-03-23 02:46] jasmainak opened #10454 "annotation window does not close properly"
#### Describe the bug
when doing `raw.plot()`, the annotation window does not close even if the main browser is closed. Attempting to close that window throws a spurious error:

[code]

#### Steps to reproduce
[code]

Now press 'a' to open the annotation window, then draw an annotation, then attempt to close the main window. It does not close the annotation window. Next, try to close the annotatio

[2022-03-23 12:37] agramfort commented on #10454
with the matplotlib or the qt browser?

[2022-03-23 14:01] jasmainak commented on #10454
I was using `ipython --matplotlib` but I just checked and the error can be reproduced also on `ipython --matplotlib=qt`

[2022-03-24 23:57] szerfas1 commented on #9953
Also heads up that the current system doesn't work with pytz. I got a confusing error message until I came here.
[code]
Gave error:
[code]

But this works:
[code]

[2022-03-25 04:40] hoechenberger commented on #10454
I think @agramfort wanted to know whether you are using the good old Matplotlib-based GUI or the fancy new one, which is our new default in MNE 1.0

[2022-03-25 07:48] agramfort commented on #10454
I can replicate the pb. I tried to investigate. For me these lines

https://github.com/mne-tools/mne-python/blob/main/mne/viz/_figure.py#L423

should do the job.

@marsipu any idea?

[2022-03-25 19:44] marsipu commented on #10454
Child figures are handled by each browser-backend (matplotlib, qt) individually:

#### matplotlib
https://github.com/mne-tools/mne-python/blob/8fde21e3da598dd53c01cd23e1b5bb24d6ecf6df/mne/viz/_mpl_figure.py#L782
https://github.com/mne-tools/mne-python/blob/8fde21e3da598dd53c01cd23e1b5bb24d6ecf6df/mne/viz/_mpl_figure.py#L103
#### qt
https://github.com/mne-tools/mne-qt-browser/blob/c0a7d32259c13097d

[2022-03-26 00:30] jasmainak commented on #10454
Oh, I didn't realize the Qt-based browser was also available now. Just gave it a shot and it's super nice!

But I do get a similar error:

[code]

not quite sure what sequence of operations led to it though.

Also it doesn't allow me to see the time instant by clicking as in the matplotlib browser

[2022-03-26 12:21] marsipu commented on #10454
@jasmainak Ok, this looks like qt-browser seems to have a bug too related to closing the Settings-Dialog. Maybe you could open an issue about that at [mne-qt-browser](https://github.com/mne-tools/mne-qt-browser/issues)?

[2022-03-27 16:53] G21R commented on #7744
Good afternoon, I apologize for my poor English. Not so long ago I started working in a laboratory where fNIRS data is analyzed.
The question is this. I processed raw data, did filtering, deleted bad channels. Please tell me how I can save the result now - in the future, these processed data will be sent back to NIRS Sport. Can I use the save() method to save this. So that the equipment then corre

[2022-03-29 02:54] jasmainak commented on #10454
humm ... acually that gives a *different* error than the one I got. I posted that on the mne-qt-browser github along with another issue I had. I haven't been able to reproduce the [error above](https://github.com/mne-tools/mne-python/issues/10454#issuecomment-1079533695) again. I'll post back if I manage to do that

[2022-03-29 07:52] MoonPlatinum commented on #10012
I also have this problem!
<img width="1346" alt="image" src="https://user-images.githubusercontent.com/61276899/160561278-22a653bd-f652-4850-ad2b-2547c5536706.png">
<img width="1259" alt="image" src="https://user-images.githubusercontent.com/61276899/160561438-ce3d811c-873d-4b93-97e5-b7ee45effc72.png">
@drammock

[2022-03-29 08:28] cbrnr commented on #10012
@MoonPlatinum would you be able to share the problematic file with us? Also, it would be great if you posted the errors as text (formatted as code) instead of screenshots here.

[2022-03-29 14:40] skjerns opened #10465 "plot_compare_evokeds creates wrong plot (should be average, is GFP?)"
I'm currently plotting the ERPs for some conditions using `plot_compare_evokeds `, however I stumbled across some inconsistent behaviour:
If given ERPs with several channels, the function seems to plot only the first channel of the original data, not the average of all supplied ERP channels or choices. Here is some sample code

#### Describe the bug

In this example, I simulate 13 participants wit

[2022-03-29 14:56] skjerns commented on #10465
Okay, I think you can disre

[2022-03-29 14:56] #10465 closed

[2022-03-29 17:57] jbteves opened #10466 "Add EEG MRI Gradient Artifact Removal"
#### Describe the new feature or enhancement
Add template-based MRI gradient removal for EEG datasets.

#### Additional comments
I have a toy implementation made in collaboration with @pmolfese which I can clean up and share here, however I wanted to get an idea from the maintainers about the best way to contribute it to the codebase.
Reference: https://www.frontiersin.org/articles/10.3389/fneur.2

[2022-03-29 19:45] agramfort commented on #10466
thanks for considering sharing this

how big is the code?
my first reaction would be to add this in mne.preprocessing
but I would also suggest to have a new dataset to use in the example to be
able to demo this
new feature. Do you know such a public dataset ?

[2022-03-30 03:46] skjerns opened #10467 "plot_compare_evokeds should have the same defaults for `combine`"
Currently the function `mne.viz.plot_compare_evokeds` creates two different plots depending on the number of selected channels:

- If one channel is selected (or present in the evoked), it will plot the ERP.
- If two or more channels are selected (or present), it will plot the GFP.

I think this behaviour is potentially misleading, and I would expect the function to have the same defaults for diff

[2022-03-30 07:05] agramfort commented on #10467
@skjerns the docstring at https://mne.tools/stable/generated/mne.viz.plot_compare_evokeds.html says:

<img width="729" alt="image" src="https://user-images.githubusercontent.com/161052/160771667-015c6ae3-6931-4c39-807a-35790819f17b.png">

so maybe the API in counterintuitive but I think the docstring is explicit no?

[2022-03-30 07:25] hoechenberger opened #10468 "Update manual install instructions for Apple Silicon"
It takes a few extra steps to make `conda` install Intel-based packages.

[2022-03-30 09:15] sondrfos opened #10469 "Use a `float` default value for `fmin`-param in `mne.time_frequency.psd_array_multitaper`"
Hello,

Static type checkers infers the expected type of the `fmin`-param for the `mne.time_frequency.psd_array_multitaper`-function to be of type `int` since the default value used is an `int`.

The docstring clearly states that `psd_array_multitaper` supports `fmin`-values of type `float`.

Can we change the default-value of `fmin` to `0.0` to avoid errors in static type checkers?

![image](http

[2022-03-30 09:56] cbrnr commented on #10469
I'm not a big fan of complicating code just because static type checkers are not happy. But granted, this is a minimal change.

[2022-03-30 10:20] hoechenberger commented on #10469
We don't supply type annotations or type stubs for MNE-Python yet. Static type checkers therefore make **a lot** of mistakes with this package. I'm against "fixing" things in just a single place. I'd like to start a discussion on how and when we add type annotations to MNE's code. It's IMHO overdue.

[2022-03-30 10:34] skjerns commented on #10467
yes, would it make sense, given the importance of the parameter, that it should be one of the first, not in between various other minor plotting parameters? Also I think there could be a hint in the docstring of `pick` to the combine parameter.

[2022-03-30 10:40] matthiasdold opened #10470 "pick_types(csd=True) does not return csd type channels but fails with a ValueError"
Hi all,
I am pretty sure, this is not as it is supposed to be, but would be fixed quite easily.

#### Describe the bug
When working on an instance with [CSD transformed](https://mne.tools/stable/auto_examples/preprocessing/eeg_csd.html?highlight=csd) data, using `.pick_types(csd=True)` returns an error complaining about "no channels match the selection".

This is due to the `csd=True` kwarg not be

[2022-03-30 10:44] cbrnr commented on #10469
Actually, we're already providing type annotations in our docstrings.

[2022-03-30 10:52] hoechenberger commented on #10469
So a transition to proper type annotations should not bother you, then.

[2022-03-30 11:36] cbrnr commented on #10469
I would - you need 3 characters instead of 1. I did say that this is a minimal change of course, but you can't argue that it doesn't get more complicated/complex/verbose. However, that's not the point anyway, I think we agree that discussing this on a larger scale makes sense.

[2022-03-30 11:42] sondrfos commented on #10469
Yes, we agree on your final point! Would love a larger scale discussion :)

[2022-03-30 13:58] cbrnr opened #10471 "mne.Info._repr_html_() does not show correct sensor locations?"
I noticed that `mne.Info._repr_html_()` does not show the correct number of digitized sensor locations. Reproducible example (reprex):

[code]

[2022-03-30 17:14] cmadjar opened #10474 "read_raw_eeglab does not read nasion, lpa and rpa values from .set file"
#### Describe the bug

`read_raw_eeglab` does not read properly the nasion, lpa and rpa coordinates of a `.set` file.

#### Steps to reproduce

This can be reproduced on the sample data `eeglab_data.set` file that comes with EEGLAB.

[code]

![Screen Shot 2022-03-30 at 1 11 21 PM](https://user-images.githubusercontent.com/1402456/160892869-430f3b8c-77d3-4f84-9c97-751ce3796024.png)

However, when l

[2022-03-30 18:26] jbteves commented on #10466
Depending on how you count it, it's about 30-100 lines. Basically I use epoching to make the bookkeeping for the templates much simpler, and then the template generation itself is only about 30 lines. I'm in the process of fiddling with it to make it a bit more robust and extensible, so it could get a bit bigger or smaller, but it's nothing sprawling.

There's at least one public dataset but the p

[2022-03-30 21:40] claytonjschneider opened #10475 "Specify an Alternate Event Files in Functions Like mne.io.read_raw_nirx"
Like many other labs I'm sure, our triggers were not originally set up correctly to record in NIRStar all of the events that PsychoPy has intended, and so I've gone and generated (from the PsychoPy output) a new custom .evt file. I'd like to be able to read in these events using mne.read_events, but this function does not accommodate for NIRx systems or .evt style files, which the NIRx io function

[2022-03-30 22:46] larsoner commented on #10475
These show up as annotations, right? If so I think this should live in read_annotations

https://mne.tools/dev/generated/mne.read_annotations.html

rather than `read_raw_nirx`

[2022-03-31 07:11] agramfort commented on #10475
what do you mean by custom .evt file? you came up with the format yourself?

[2022-03-31 07:25] agramfort commented on #10471
yes it should be the same information so there is a bug...

[2022-03-31 07:32] agramfort commented on #10469
I also tend to write 0. or 0.0 to make my code explicit that float is expected.

+0.5 on fixing this one with a small PR.

@sondrfos would you have time to do this,

regarding type annotations everywhere in MNE let's discuss this over a drink to cool down the conversation ;)

[2022-03-31 07:34] agramfort commented on #10470
thanks for the detailed bug report. WOuld you have time to submit a PR to
fix this?

thanks

[2022-03-31 07:35] agramfort commented on #10467
let's not reorder parameters and it's a painful deprecation cycle but yes
please send us a PR to put this
information in docstring header and/or in pick docstring

[2022-03-31 07:36] agramfort commented on #10474
can you share a file to replicate?

thanks

[2022-03-31 07:39] agramfort commented on #10466
I am not able to judge how significant the difference is but having a way
to correct such artifacts in MNE
seems very legit. My only constrain would be to have an example in our doc
that builds automatically
and that demos the method

[2022-03-31 08:21] cbrnr opened #10477 "Document how to set browser backend"
I feel like the docstrings of `Raw.plot()` and `Epochs.plot()` (and possible other cases) should contain instructions on how to set the backend. I was trying to figure this out right now, but couldn't find how to do that.

[2022-03-31 08:54] cbrnr commented on #10469
And yes, let's fix this tiny number here.

[2022-03-31 09:04] hoechenberger commented on #10469
@cbrnr
Your examples are not well chosen. Well, they're chosen to support your point, but they're not good examples per se.

When using type annotations, one would obviously format the function signatures differently. Typically, one parameter per line.

Your example would be like tryingtoprovethatleavingoutspacesinwrittentextisabadidea. We all already know that it is.

[2022-03-31 13:08] #10469 closed

[2022-03-31 14:20] jnvandermeer commented on #10466
Hi everyone,

I uploaded a while ago some data that has 'outside', 'inside', and 'inside with scanning' with EEG-fMRI.  8 subjects, 4 on Verio and 4 on Trio SIEMENS scanner. With and without the Helium Pump.

https://www.nitrc.org/projects/cwleegfmri_data/

It might be useful to help validate (or test) methods that get rid of the MRI artifacts. In my experience each scanner at each site comes with

[2022-03-31 18:04] claytonjschneider commented on #10475
@larsoner I personally think that would be a bit odd, but it's surely a possible fix as well. They do show up as annotations later. The only reason I was specific to nirx, is that (to answer @agramfort 's question) NIRx is the only system I know which produces .evt output, and these are read in `read_raw_nirx` to become annotations. Do you think, @larsoner, that it would be preferable in `read_ann

[2022-03-31 18:06] larsoner commented on #10475
So far the way we've handled "optional/other annotation-like files" for other readers is by making `read_annotations` support reading those files, then letting people do `raw.set_annotations` or `raw.annotations.append(...)`. Since the `.evt` show up as Annotations in the raw data, I think it makes sense to live in `read_annotations`.

[2022-03-31 18:07] claytonjschneider commented on #10475
Ultimately, @larsoner this is preferable! I'm going to start work on a fork now to try to implement this.

[2022-03-31 21:12] rob-luke commented on #5180
@cbrnr
What's involved in getting "Full" support in to MNE-Python? I just followed the https://mne.tools/dev/auto_examples/io/read_xdf.html tutorial. What is missing from this that would be included in a full xdf reader?

I am now using xdf files and may be able to assist in implementing xdf support in MNE.

[2022-04-01 05:43] cbrnr commented on #5180
@rob-luke by full support I am referring to importing more than one stream from an XDF file. This requires resampling to a common sampling frequency.

The example shown in the docs requires that one stream is selected.

MNELAB has full support now, which includes importing an arbitrary number of streams plus all marker streams (which are converted to annotations). You can use this function in your

[2022-04-01 06:15] cbrnr opened #10481 "Use matplotlib-based raw browser in docs"
I think that showing raw plots in our docs should not include toolbar icons, scrollbars, and other interactive (irrelevant) items, as is the case since 1.0 (e.g. the screenshot in https://mne.tools/dev/auto_examples/io/read_xdf.html).

I would switch to the matplotlib backend in our docs to get rid of UI elements, unless it is also possible to do this with the qt backend (zen mode maybe?).

[2022-04-01 08:04] agramfort commented on #10466
is it possible to download these files without auth and from the command
line?

[2022-04-01 08:08] mmagnuski commented on #10012
@MoonPlatinum does the solution work for you?

[2022-04-01 12:54] larsoner commented on #10481
Looks like you missed https://github.com/mne-tools/mne-python/pull/9960 and https://github.com/mne-tools/mne-python/pull/10359 where we worked out using the Qt backend in the doc build, since this sounds like an argument to undo most of that. Given that people at the time at least were more or less "pro" this change IIRC, I'd assume they're -1 on reverting it now.

In principle we could add zen-mo

[2022-04-01 14:09] cbrnr commented on #10481
Seems like I did!

I'm OK with not hiding everything, but at least the toolbar and the overview bar do not add any important information. If they do in a particular example, we could explicitly enable them, but by default I'd hide them.

Usually, we want to show the continuous signals in the tutorials (even in the example you mentioned), and we don't need the scrollbars or anything else.

So if th

[2022-04-01 14:12] cmadjar opened #10482 "Missing event information when reading EEGLAB file and exporting raw to .set files"
#### Describe the bug

When reading an EEGLAB file with `mne.io.read_raw_eeglab()`, the events information seems oversimplified.

In EEGLAB,  the set file event structure contains the following:
[code]

However, after reading the SET file with `mne.io.read_raw_eeglab()`, I can only see annotations with `onset`, `duration`, `description` and `orig_time` information:
[code]

And when I export the ra

[2022-04-01 15:18] MoonPlatinum commented on #10012
Thank you !!!
1.
import mne

raw = mne.io.read_epochs_eeglab('0928H_DFI.set', uint16_codec='latin-1')

/Users/tianbiwang/.conda/envs/pythonProject1/bin/python /Users/tianbiwang/PycharmProjects/pythonProject1/pythonks/demo2.py
Traceback (most recent call last):
  File "/Users/tianbiwang/PycharmProjects/pythonProject1/pythonks/demo2.py", line 8, in <module>
    raw = mne.io.read_epochs_eeglab('0928H

[2022-04-01 15:19] MoonPlatinum commented on #10012
[](https://github.com/MoonPlatinum)[](https://docs.github.com/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax)[](https://github.com/agramfort)[](https://github.com/drammock)[](https://github.com/cbrnr)[](https://github.com/thht)[](https://github.com/mmagnuski)[](https://github.com/MoonPlatinum)[](https://github.com/)Thank you !!!
1

[2022-04-01 15:20] MoonPlatinum commented on #10012
@cbrnr

[2022-04-01 15:22] MoonPlatinum commented on #10012
Thank you !!!

1.import mne

raw = mne.io.read_epochs_eeglab('0928H_DFI.set', uint16_codec='latin-1')

/Users/tianbiwang/.conda/envs/pythonProject1/bin/python /Users/tianbiwang/PycharmProjects/pythonProject1/pythonks/demo2.py
Traceback (most recent call last):
File "/Users/tianbiwang/PycharmProjects/pythonProject1/pythonks/demo2.py", line 8, in
raw = mne.io.read_epochs_eeglab('0928H_DFI.set', uint

[2022-04-01 15:47] MoonPlatinum commented on #10012
@cbrnr
My files is too big. I'm trying to upload it to GitHub。

[2022-04-01 16:14] etiennedemontalivet opened #10483 "concatenate raws and keep the temporality"
#### Describe the new feature or enhancement
Allow users to keep the temporality when concatenating multiple ``Raw``

#### Describe your proposed implementation
Either by improving the current ``mne.concatenate_raws`` with a flag or by creating a new function (where ?) that would fill the gap with 0s ? and annotate them with either ``GAP`` or ``BAD_ACQ_SKIP`` ?

#### Describe possible alternatives

[2022-04-01 16:59] matthiasdold commented on #10470
PR is up. I hope, I did everything correctly. But should really minor anyways.

[2022-04-01 18:33] mmagnuski commented on #10012
Are you sure the files you are trying to read are epochs? The error you get now suggests you to use `read_raw_eeglab`.

[2022-04-01 19:27] agramfort commented on #10482
MNE cannot read arbitrary fields in the event structure. If this information can be store in an annotations object let's fix it but otherwise we need to see. What do these fields contain?

[2022-04-01 19:29] agramfort commented on #10483
are big are the gaps? do you foresee memory issues if we fill with zeros or
NaNs?

[2022-04-01 19:36] agramfort commented on #10474
@cmadjar can you point me where to read the fiducial locations in the EEG structure:

loading the file in matlab I see
[code]

[2022-04-01 19:45] cmadjar commented on #10474
@alexandrebarachant Apologies, looks like the eeglab_data.set do not have data in the `urchanlocs` structure... In the sample data that I have, the nasion, lpa and rpa information are stored in the `urchanlocs` structure. See below for the content.

![Screen Shot 2022-04-01 at 3 44 18 PM](https://user-images.githubusercontent.com/1402456/161331270-f10150ff-936f-4a20-9805-9ce6d9bf97aa.png)

I don't

[2022-04-01 19:49] agramfort commented on #10474
it's @agramfort not @alexandrebarachant :)

I need such a file to debug

[2022-04-01 20:15] cmadjar commented on #10474
@agramfort I can share the file with you. What is the best way to send it to you? Probably best not to share it openly on GitHub just in case.

Thanks!

[2022-04-02 10:28] mscheltienne opened #10486 "Argument `theme` of `raw.plot()` or config key does not work on macOS"
As spotted following the discussion here https://github.com/mne-tools/mne-qt-browser/issues/83 the argument `theme` does not change the theme on either my macOS or Windows computer.

Sample code:

[code]

[2022-04-02 11:02] MoonPlatinum commented on #10012
I have tried both methods, but they still can't run successfully.
@mmagnuski

[2022-04-02 11:08] MoonPlatinum commented on #10012
I asked others to help upload the data file. Can you help me try how to run successfully？
Its link is

https://github.com/ShrimpLG/eeg

@mmagnuski
@cbrnr

[2022-04-02 12:53] mmagnuski commented on #10012
Could you post the error you get when using `read_raw_eeglab` on the file (but still using `uint16_codec` argument)?

[2022-04-02 12:57] MoonPlatinum commented on #10012
@mmagnuski

[2022-04-02 12:59] MoonPlatinum commented on #10012
And I also provided the original data in the above answer. Can you help me have a look?

[2022-04-03 13:07] agramfort commented on #10474
you can send me a download link to this email ***@***.***

[2022-04-03 13:25] agramfort commented on #10483
one issue I see is that Raw offers convenient methods on top of the
raw._data attribute that is just one numpy array.
Changing this so we now have eg a list of numpy arrays for each segment of
data would have lots of consequences
on a lot of code. So to it's not really a problem of Annotations but more
how data are stored and accessed internally.

Message ID: ***@***.***>

[2022-04-03 17:20] cbrnr commented on #10012
Not sure why, but `scipy.io.loadmat()` cannot read the .set file (which is just a .mat file). Opening it with a hex editor, the file starts with `MATLAB 5.0 MAT-file`. I don't know that format, and [this MATLAB page](https://www.mathworks.com/help/matlab/import_export/mat-file-versions.html) lists only v4, v6, v7, and v7.3. @thht can you provide more insights what's going on? Which .mat format do

[2022-04-03 17:37] #10470 closed

[2022-04-03 21:05] agramfort opened #10490 "BUG raw.crop with first_samp != 0 and annotations"
if you run:

[code]

you get this

<img width="1903" alt="image" src="https://user-images.githubusercontent.com/161052/161448547-46c660dd-4583-4706-bc71-8868cb9eaac0.png">

so far so good. But then if you do

[code]

the first annotation does not survive although you get the data from the first one.

@larsoner you agree it's a bug?

[2022-04-04 06:33] cbrnr commented on #10490
It's definitely a bug, the cropped segment completely contains the first annotation.

[2022-04-04 08:48] etiennedemontalivet commented on #10483
I agree with that. I don't think the ``raw._data`` attribute has to be changed at all. I was suggesting two approaches:

1. simply fill gaps with ``0``. The data structured won't be changed. It could however leads to memory issue, so I suggested to annotate these ``0`` with ``BAD_ACQ_SKIP`` so it not stored in memory.
2. change the ``raw.times`` so that the time is discontinuous. I am less confort

[2022-04-04 09:05] thht commented on #10012
i just tried to load it in matlab:
[code]

so, not even matlab can read the file....

[2022-04-04 09:45] cbrnr commented on #10012
Thanks @thht! So I guess this explains the issue. @MoonPlatinum can you maybe try to save this in a different format? If this is exported from EEGLAB I think you should ask the EEGLAB developers as this seems like a problem on their end.

[2022-04-04 15:49] SMoralesPhD commented on #10482
Those fields contain details about the conditions of interest. For example, for a face processing task, we would like to code the following attributes: upright vs inverted, gaze towards vs away, race of the face, trial number, block number, etc. Is there a way to add that information to the event structure?
From reading the documentation, it seems like it would be possible: "An arbitrary number of

[2022-04-04 16:09] cbrnr commented on #10481
I'd love an `overview_mode=...` argument. I think we should expose all browser settings as arguments as a general rule.

I would leave the overview bar on for users, because it adds helpful information. However, I think the overview bar should be opt-in in the docs. Usually, we want to show the raw signals and not so much the exact interactive interface. If this is the goal, we can enable the bar

[2022-04-04 16:14] larsoner commented on #10481
That would end up being pretty easy implementation-wise, too, because we can just `export MNE_BROWSER_OVERVIEW_MODE=off` or false or whatever in CircleCI. I can start on an implementation for this in the coming days

[2022-04-04 19:46] agramfort commented on #10474
see contact section in http://alexandre.gramfort.net

[2022-04-04 19:52] alexrockhill commented on #10382
@larsoner, just checking on this again, should just take five minutes. I'll go ahead and write a PR to simplify it and I'll try and look and make sure there aren't any use cases that it breaks.

[2022-04-05 04:30] MoonPlatinum commented on #10012
Thanks a lot for your help to me, this file can't be loaded directly with matlab, but it can be read into matlab by eeglab plugin, my problem is that the file can't be read by mne library of python environment, I don't know why this is.
@thht  @cbrnr  @mmagnuski

[2022-04-05 06:18] #10382 closed

[2022-04-05 06:33] cbrnr commented on #10012
Can you maybe convert the files to a format which is readable in other packages? EEGLAB should let you choose the export format.

[2022-04-05 14:08] jasmainak opened #10494 "mne-report shows "None""
Script to reproduce: https://gist.github.com/jasmainak/483e68a5cb8f42bfe94d4cebe86cef05

Effect:

![image](https://user-images.githubusercontent.com/15852194/161772715-b3c86648-7e6f-4fe4-a040-32d7befbb617.png)

I'm on latest "main" branch

[2022-04-05 19:21] agramfort commented on #10494
just do `report = mne.Report(title='sub001')` and it works.

[2022-04-05 19:21] #10494 closed

[2022-04-06 00:26] rob-luke commented on #5180
Thanks @cbrnr
I tested out the functions in MNELAB and they worked wonderfully.
Given how robust and well written the function are, can we move this reader to MNE-Python? This will provide  I am able to help in the transition.
Or is there some concern with adding this functionality @larsoner @agramfort ?

[2022-04-06 09:56] agramfort commented on #5180
no objection

[2022-04-06 12:29] dafrose opened #10496 "Unify treatment of pathlike objects"
#### Describe the bug
Across `mne` pathlike objects are currently treated inconsistently. In many place, paths are tested for and accepted being `str` or `pathlib.Path`. In other places, only `str` is accepted and the functions fails for `Path` objects. The problem occured in my pipelines in multiple places and seemingly random, where different function from the same context behaved differently.

[2022-04-06 12:34] larsoner commented on #10496
We have slowly been converting all of these to:
[code]
and under the hood, `read_info` should do at some point something like:
[code]
But we haven't made this transition everywhere, as you've seen with our forward code.

This looks like old Python3.5 cruft to me that should make use of `'path-like'` / `_check_fname`

Would you be up for trying a PR for these fixes?

[2022-04-06 12:44] cbrnr commented on #5180
Then I'll prepare a PR.

[2022-04-06 15:41] dafrose commented on #10496
I can try, I am unsure, however, how they should exactly be fixed. Is this code snippet that you mentioned the go-to solution for all pathlike checks?

[code]

About the `_fn35` function: so that should essentially be replaced with `_check_fname`, did I understand that correctly?

[2022-04-06 15:43] larsoner commented on #10496
Most reading checks, yes. If you look in our code (e.g., `git grep _check_fname`) you can find many existing good examples of how to handle paths

Yeah, I think that should work!

[2022-04-06 16:45] cbrnr commented on #10496
I don't understand the `Info` type here – what does that have to do with `str` and `pathlib.Path` types?

[2022-04-06 17:07] larsoner commented on #10496
Presumably in this part of the code you can either pass an `Info` obj directly, or a path to a file with `Info` that can be read

[2022-04-07 09:13] mscheltienne commented on #10486
@larsoner can you re-open this one?
I am still getting a dark theme no matter the `theme` argument on my macOS with dark-mode enabled a the system-level.
Setting it in the MNE config with `mne.set_config('MNE_BROWSER_THEME', 'light')` does not fix it either.

[2022-04-07 12:59] hannekevandijk commented on #10010
Hi Sorry for my extremely late reply... I have now found out that curry changed the extension from cdt.dpa to cdt.dpo, and cdt.cef is changed to cdt.ceo. Simply changing the extension before reading it with mne_python solves it....

[2022-04-07 13:27] mscheltienne commented on #10486
I don't think so. I can give it a shot with the latest version of `mne-qt-browser` later; but in my case, the UI stays in dark mode no matter what. The entire UI.

[2022-04-07 13:56] mscheltienne commented on #10486
Fresh environment with both `mne-python` and `mne-qt-browser` installed from `main`. No luck, there is something wrong here.

[code]

<img width="1260" alt="Screenshot 2022-04-07 at 15 55 12" src="https://user-images.githubusercontent.com/73893616/162215777-26a2a15a-aeae-4798-a6b1-ac2ca6b27522.png">

[2022-04-07 14:02] larsoner commented on #10486
Can you investigate a bit? If not, I can try to look in a bit

[2022-04-07 14:06] mscheltienne commented on #10486
I can look at it tomorrow.

[2022-04-07 15:01] cbrnr opened #10499 "mne.channels.combine_channels(epochs) drops metadata"
I think `mne.channels.combine_channels(epochs)` drops metadata (i.e. there is no `epochs.metadata` attribute in the resulting `Epochs` objects). I wanted to make sure that this is not intended – if it is a bug I'm happy to submit a PR.

[2022-04-07 17:18] #10010 closed

[2022-04-07 20:41] agramfort commented on #10483
I don't see who using a BAD_ACQ_SKIP Annotation would fix the
memory problem. You would still have to store the zeros AFAIK

[2022-04-08 07:49] etiennedemontalivet commented on #10483
It is a specific behaviour of ``BAD_ACQ_SKIP`` annotation. Larsoner told me that in [this issue](https://github.com/mne-tools/mne-python/issues/9985#issuecomment-964202216). There is now some doc about it [here](https://mne.tools/stable/generated/mne.io.Raw.html#mne.io.Raw.save).

[2022-04-08 07:54] agramfort commented on #10483
right but it would keep the zeros in RAM with preload=True

I understand that on disk no

I did not think deeply about this...

[2022-04-08 08:01] agramfort commented on #10474
diagnostic : we read only chanlocs and not urchanlocs.

@cmadjar has a file where urchanlocs are chanlocs concatenated with 3 fiducials (it's therefore partially the same information).

what shall we do? Give priorirty to urchanlocs if present? I don't know where to find the information.

cc @cbrnr @mmagnuski @arnodelorme

[2022-04-08 08:10] etiennedemontalivet commented on #10483
Yes, you're right. I was definitely thinking about short period gaps cases.

[2022-04-08 08:27] agramfort commented on #10483
+1 to see what we can do for short gaps

[2022-04-08 12:28] sappelhoff opened #10505 "read_raw_eeglab fails to take `eog` param into account when setting montage"
#### Describe the bug

When reading a raw EEGLAB format data file that contains:

1. EOG channels
2. channel locations

and when setting the `eog` parameter of the [`read_raw_eeglab`](https://mne.tools/stable/generated/mne.io.read_raw_eeglab.html?highlight=eeglab#mne.io.read_raw_eeglab) function,
then a warning is raised:

['VEOG', 'HEOG']
Consider setting the channel types to be of EEG/sEEG/ECoG/

[2022-04-08 14:18] Katharinski commented on #10187
Hello!

Sorry for the long silence - I'm still on this! Thank you for the discussion, it really helped me to understand that a resolution matrix of (3*ndipoles) x (3*ndipoles) is the correct way to go when handling free orientations.

I tried the solution in pull request #8639, but I think it doesn't entirely solve the problem. Yes, in `_get_psf_ctf`, there is a bit that reduces the vector to a sc

[2022-04-08 16:24] hoechenberger opened #10507 "make_inverse_operator() should warn upon mismatch between "info" and empirical "noise_cov" rank"
As per discussion on Discord w/ @agramfort, @larsoner, @britta-wstnr, @alexrockhill

[2022-04-08 16:38] larsoner commented on #10507
We have something that is meant to do this I think here

https://github.com/mne-tools/mne-python/blob/41d38b7a55afeb2a6a840d07a155dae837326ef0/mne/rank.py#L415-L425

From discord it sounds like the bug is really when the rank of the cov is *less* than the rank of the `info['data']`, and this code path isn't even triggered because `rank='info'`.

So maybe what we need is a check in the `rank='info'

[2022-04-08 17:37] hoechenberger commented on #10507
Yes, this sounds reasonable!

[2022-04-08 18:46] pettetmw commented on #10187
My compliments, and thanks for proof of concept.
So, did you do something like, e.g. from compute_depth_prior() :

[code]
... except using `np.dot(Mk.T,Gk)`, with "M" and "G" defined something like my Feb 21 post?
No need to share code, if that's not convenient.  I'm just looking for a thumb's up that I'm on the right track.

[2022-04-08 20:40] #10499 closed

[2022-04-10 19:47] #10486 closed

[2022-04-11 07:14] arnodelorme commented on #10474
The Fiducials are in EEG.chaninfo.nodatchans
You may use eeg_checkchanlocs(EEG) to add them to the list of other channels.

[2022-04-11 07:25] agramfort commented on #10474
thx @arnodelorme

may I ask 2 side questions:
- what is the difference between chanlocs and urchanlocs? what does "ur" refer to?
- I do have things in EEG.chaninfo.nodatchans but the labels are E130, E131, E132. Can we assume a specific order in this list? It's always 3 values and it's Nasion, LPA and RPA?

do not hesitate to point me to the EEGLAB doc. 🙏

[2022-04-11 13:23] #10481 closed

[2022-04-11 16:40] alexrockhill opened #10514 "[ENH] Reject ICA components based on muscle artifact"
@AdoNunes wrote this code + example https://mne.tools/dev/auto_examples/preprocessing/muscle_detection.html to detect muscle artifacts in epochs but I think it's helpful to apply muscle classification to ICA components for EEG which I don't think is documented. The thought is to use `annotate_muscle_zscore` on ICA components. This is really important for TMS-EEG but also pretty important for just

[2022-04-11 17:43] alexrockhill commented on #10514
Ok might need to be updated because the existing frequency range in MNE of 110-140 Hz doesn't match

[code]
from the second paper.

The other two criteria that they call for are distance from the vertex (since less muscle up there) and smoothness (topologically mixed ICs are probably mixed muscle and brain activity)

[2022-04-11 17:49] alexrockhill commented on #10514
Does anyone know if muscle artifact is a big component of MEG? Maybe @larsoner or @agramfort?

[2022-04-11 18:09] AdoNunes commented on #10514
The 110-140 Hz range was based on fieldtrip's parameter. It seems that this frequency range is good enough for detecting muscle activity and not being confounded by other signals. For the most part, muscle artifacts are quite obvious, at least large ones like jaw clenching, and at that frequency range the algorithm does a good job in detecting them.  But as you mention, there might be better crite

[2022-04-11 18:16] alexrockhill commented on #10514
Thanks for chiming in @AdoNunes! Good to know that's from FieldTrip, maybe when I do the PR I will add that to the example because I think those sources are super helpful to include.

I think there's two separate problems that you alluded to, gross movements like jaw clenching that ruin epochs and should not try and be salvaged compared to postural muscle activity like that which is omnipresent in

[2022-04-11 19:47] agramfort commented on #10514
MEG is not too artifacted my EMG. At least much less than EEG and for most
common protocols

my 2c

[2022-04-12 08:36] Lychfindel commented on #6613
Hi all,
I had the same problem with a V-Amp and the BrainVision support told me that indeed the extra channel is a kind of encryption.
Here their reply:

I have forked and modified the mne code to handle the ahdr file, I'm going to submit a pr with the changes.
P.S. The implementation for the eeglab plugin bva-io was also pull requested by me, and accepted by Arnaud after authorization from BrainV

[2022-04-12 09:55] Lychfindel opened #10516 "Some BrainVision data contain Lowpass=0"
#### Describe the bug
BrainVision data acquired with V-Amp without any hardware filtering are stored in header file as:
[code]
The current code in brainvision.py, the filtering section don't set the lowpass filter only in the case the value is NaN or Off
[code]

This lead to an error when you try e.g. to plot the data.
[code]

[2022-04-12 10:14] agramfort commented on #10516
please share a full code snippet with a dataset to debug this.

[2022-04-12 22:36] SMoralesPhD commented on #10474
Hello @agramfort,
1) I am not sure what "ur" stands for, but here is the info about the channels from [here](https://github.com/sccn/nemar_tool_proof_of_concept/blob/master/eeg_checkset.m):
%   EEG.chanlocs     - structure array containing names and locations of the channels on the scalp
%   EEG.urchanlocs   - original (ur) dataset chanlocs structure containing all channels originally collected wi

[2022-04-12 23:56] alexrockhill opened #10519 "[BUG] `mne.viz.Brain` volume rendering doesn't show up"
If you don't set `alpha=0`, you get an opaque inflated brain along with your volume source estimate. I think the default arguments could handle this better.

![image](https://user-images.githubusercontent.com/13473576/163072907-a6580316-7a3c-4195-bb70-59ff1b6183ea.png)

To replicate:

[code]

[2022-04-13 07:42] hoechenberger opened #10520 "Coreg GUI doesn't start if only high-resolution, but no low-resolution skin surface is available"
Reported on the forum: https://mne.discourse.group/t/mne-coreg-issues

[code]

Workaround was to run `make_scalp_surfaces()` to create a low-res scalp

[2022-04-13 08:58] sappelhoff commented on #6613
xref https://github.com/arnodelorme/bva-io/pull/10

[2022-04-13 12:15] agramfort commented on #10474
see https://github.com/mne-tools/mne-python/pull/10521/files

[2022-04-13 12:57] dafrose opened #10522 "Improve control over number of threads used in an mne call"
# Description
I propose to use [threadpoolctl](https://github.com/joblib/threadpoolctl) to improve control over the number of threads used throughout mne and in calls to external libraries like `numpy`. This is apparently the direction that `numpy` has moved to as discussed here: https://github.com/numpy/numpy/issues/11826

# Reasoning
I have had trouble completely controlling the number of thread

[2022-04-13 14:15] agramfort commented on #10522
I like this idea but it's tricky to make work out of the box. I suspect the optimal behavior depends on the length of the files, the number of channels, epochs...

[2022-04-13 15:19] dafrose commented on #10522
thanks for the reply @agramfort . In contrast, I think it would be straight forward. The current `n_jobs` argument already allows the user to define the number of threads to use. The only change would be, that this would actually apply to all libraries that are called by `mne`. I don't see why you would need to implement an "optimal" behaviour. In most cases (e.g. numpy) the default is a maximum o

[2022-04-13 15:25] agramfort commented on #10522
how would you do this? if n_jobs=1 you make sure one thread is used?
So suddenly all computations in MNE are monothread?
it means we would need to add n_jobs in many places? note that we use
usually processes and not threads for parallel

do I get what you want to do correctly?

[2022-04-13 16:14] dafrose commented on #10522
So suddenly all computations in MNE are monothread?

Well I guess, the question would then be, whether `n_jobs=1` should be the default. I have seen other libraries use a default of `0` or `-1` to signify, that the user does not want to change the default behaviour. Then you could use a globally set default or decide not to change anything. In my opinion, being able to set `n_jobs` implies that th

[2022-04-13 17:48] jungju69 opened #10524 "Micromed TRC file reader"
Hello,
I have several datasets based on micromed eeg files (scalp EEG, SEEG, ERP).
Do you think it could be possible to develop file readers for that format (TRC files), quite commonly used ?
thank you again for your nice software !

[2022-04-13 18:25] dafrose commented on #10522
I guess it comes down to, what you would like `n_jobs` to mean. As long as it is consistent, a valid choice is to define it as "max number of threads/processes used in places that we control". But in that case some guidance in form of an example would be helpful to users who would like more/full control.

In my current code, the use of `threadpoolctl` as described above seems to do the job. Howeve

[2022-04-13 19:31] agramfort commented on #10524
see this old discussion https://github.com/mne-tools/mne-python/issues/1605

@jungju69 would you up for writing such a reader?

[2022-04-13 19:48] agramfort commented on #10522
I would try to avoid a behavior that deviates to big libraries like
scikit-learn.

what is unclear to me is how big of the change is the change you suggest.

in the lab we ask users to set OMP_NUM_THREADS to 1 in their .bashrc
on the shared machines and to nice their jobs with "nice -5 python ..."

Message ID: ***@***.***>

[2022-04-13 20:09] jungju69 commented on #10524
I would love to … But my python programming skills are too light.
I can convert trc files to edf format and use MNE but I was looking for a more direct approach.
Any other suggestion ?
best
JJ

Le 13 avr. 2022 à 21:31, Alexandre Gramfort ***@***.******@***.***>> a écrit :

see this old discussion #1605<https://github.com/mne-tools/mne-python/issues/1605>

@jungju69<https://github.com/jungju69> wou

[2022-04-13 21:03] agramfort commented on #10524
see my gist in the  issue I linked to

otherwise find someone to help. Maybe some engineer in your lab?

[2022-04-13 23:47] alexrockhill commented on #10514
I've looked at the sample data and the muscle components are non-existent in MEG as far as I can tell.

One complication is that, for the default topomap, the properties plot for MEG and EEG data is magnetometers and, since the muscle artifacts don't show up pretty much at all on magnetometers and since the topography is the main confirmation, that makes it difficult to use. You can programmatical

[2022-04-14 06:32] dafrose commented on #10522
According to [this resource](https://scikit-learn.org/stable/modules/generated/sklearn.utils.parallel_backend.html) the default for `sklearn` is `n_jobs=-1`  in which case all available resources are used.

1. The function [mne.parallel.check_n_jobs](https://github.com/mne-tools/mne-python/blob/6e312e1254105b9f2546c3b91108b1f96b7f05c3/mne/parallel.py#L138) already contains the necessary code: If a

[2022-04-14 11:58] hoechenberger opened #10526 "3D viz doesn't work on system with older OpenGL drivers, how to fix?"
So I don't think this is an actual bug at our (or, rather, pyvista's) end, but something that today prevented a user from following parts of our workshop.

The user had installed MNE-Python into a new `conda` environment following our official installation instructions.

When trying to start the coregistration UI, it crashed:

[code]
Output of `glxinfo |grep OpenGL`:
[code]
So we have `OpenGL vers

[2022-04-14 12:16] hoechenberger commented on #10526
Forgot to add:

We also tried starting Coreg with `advanced_rendering=False` and we also set the environment variables:
[code]

[2022-04-14 12:54] larsoner commented on #10526
20.0.8 should be fine for software rendering. It looks like it's trying to use the Intel hardware graphics drivers. They were a nightmare 10-15 years ago, sounds like the situation perhaps has not improved much :(

You could try `LIBGL_ALWAYS_SOFTWARE=true` to try to force it to use Gallium/swrast/LLVMPIPE

[2022-04-14 13:15] #10474 closed

[2022-04-14 13:52] hoechenberger commented on #10526
Thanks, will try!

[2022-04-14 14:44] cmadjar opened #10529 "export.export_raw does not write fids information in SET file"
#### Describe the bug

`export_raw` does not exports fids information of SET files.

#### Steps to reproduce

[code]

#### Expected results

The fids should be exported to the SET file when creating the file from raw.

#### Actual results

See lines above flagged with `      # <---------------------`

#### Additional information

Built `mne` using the following commit: https://github.com/mne-tools

[2022-04-14 15:34] #10516 closed

[2022-04-14 16:48] a-allard opened #10530 "MNE browser does not use specified theme when using plot()"
#### Describe the bug
When using EEG epochs the theme argument to the plot function is ignored.

#### Steps to reproduce
1. Load EEG data and break it into epochs.
2. Select epoch and plot specifying a theme other than the default theme
3. ```eps[1800].plot(theme='dark')```

(For ref:)
![image](https://user-images.githubusercontent.com/30708323/163435444-90bcdddd-8e27-4373-a026-39217ce36ab4.png)

[2022-04-14 19:44] larsoner commented on #10530
I think this was fixed by https://github.com/mne-tools/mne-python/pull/10500 which got merged just after 1.0.1 was released. Can you try latest MNE-Python `main` and see if it helps? You can do for example:
[code]

[2022-04-14 19:57] a-allard commented on #10530
@larsoner

Installing the dev version solved it.  Sorry I didn't see #10500 when I was checking for the issue.  Closing this out.

[2022-04-14 19:57] #10530 closed

[2022-04-14 20:03] agramfort commented on #10529
please report this issue here https://github.com/jackz314/eeglabio/issues

cc @jackz314

[2022-04-14 20:03] #10529 closed

[2022-04-14 20:25] agramfort commented on #10522
let me think about this. We will discuss this in the next MNE core dev meeting. You're welcome to join. It will be on Friday 22nd 5PM CET on MNE discord channel.

2 remarks:
- in scikit-learn we default to 1 which is for me much less dangerous than defaulting to -1
- using threadpool_limits context would mean indenting huge code blocks and I am not a fan to adding this everywhere. As I don't see t

[2022-04-14 20:32] cmadjar commented on #10529
Thank you @agramfort. done! https://github.com/jackz314/eeglabio/issues/5

[2022-04-15 09:55] emmaducos opened #10532 "SSVEP tutorial plot issue"
#### Describe the bug
While trying to plot the PSD vs SNR, the figure would not plot (even if it was opening and no issue reported in the terminal)
not sure why.

### steps to reproduce
doing the tutorial on SSVEP accessible here : https://mne.tools/stable/auto_tutorials/time-freq/50_ssvep.html
with mne 1.0 on pycharm, with a conda environment using mne-qt, on a windows 11 machine, using the tutor

[2022-04-15 12:34] agramfort commented on #10532
I cannot replicate the problem on my machine in ipython

[2022-04-15 13:40] larsoner commented on #10522
I have not thought about threadpoolctl much, but I've seen it used in SciPy (with modifications from sklearn):

https://github.com/scipy/scipy/pull/14441

And they mention there that it's also what's being used by NumPy. Given that scikit-learn uses Joblib to spawn new processes, as well, we can probably learn from their experience and try to do the same things.

Two ideas (and I think the second

[2022-04-15 13:50] larsoner commented on #10530
Thanks for the reminder that we need to cut a 1.0.2 release!

[2022-04-15 15:49] emmaducos commented on #10532
this is the list of the packages used in my conda environment:
# Name                    Version                   Build  Channel
appdirs                   1.4.4              pyh9f0ad1d_0    conda-forge
atomicwrites              1.4.0                    pypi_0    pypi
attrs                     21.4.0                   pypi_0    pypi
blas                      1.0                         mkl
bottlen

[2022-04-15 16:52] agramfort opened #10533 "add convenient function to "prepare" emptyroom raw file for maxwell_filter"
this is the type of code that we currently need to write to process correctly emtpyroom file the same way as a subject raw file.

[code]

the proposal is to simplify this to:

[code]

or maybe

[code]

discussed with @larsoner and @hoechenberger

[2022-04-15 18:43] larsoner commented on #10522
@dafrose we usually try to follow what sklearn does, under the assumption that they have thought about this stuff a lot. It sounds like they, in turn, mostly deligate to joblib. With that in mind, I propose we follow their model by:

1. Setting `n_jobs=None` which means "use 1 if nothing configured". By using joblib contexts, this can be effectively changed to other values by users. So you could d

[2022-04-16 07:24] hoechenberger commented on #10533
How do we deal with existing `bads` in the empty-room? If the raw_er contains bads that are not present in the raw, raw_er should probably get the union of `raw.info['bads']` and `raw_er.info['bads']`. But then we'd again have a mismatch between raw and raw_er, unless we modify `raw.info['bads']` too (also put the union of bads there).

[2022-04-16 07:49] agramfort commented on #10522
+1 to now default to None in n_jobs and use this semantic from sklearn

[2022-04-17 11:48] samuelpowell opened #10538 "SNIRF import ignores timeUnit field contrary to specification"
#### Describe the bug
When importing SNIRF data, the `timeUnit` field is ignored and seconds are *silently assumed* when computing the sampling frequency of the input data. This is contrary to the [specification](https://github.com/fNIRS/snirf/blob/v1.0/snirf_specification.md).

The consequence is that the computed sample rate may be incorrect.

#### Cause
Rather than demonstrate reproduction, one

[2022-04-17 15:54] mileshenrichs opened #10539 "Plot raw side-by-side"
#### Describe the new feature or enhancement
Enable inline plotting of multiple raw plots side by side. Two different raw plots can be compared now by using qt5 interactive plot mode and placing plot windows side by side, but it would be nice to be able to do this inline.

#### Describe your proposed implementation
Allow a figure or axes argument to be passed into the `raw.plot()` method so that s

[2022-04-17 18:57] jona-sassenhagen commented on #10467
You can tag me on any PR for reviews cause I think I wrote this.

[2022-04-17 18:59] jona-sassenhagen commented on #10467
Ok note that the `picks`docstring starts

[code]

[2022-04-17 19:02] jona-sassenhagen commented on #9853
@JoseAlanis please see

[2022-04-17 19:19] agramfort commented on #10539
you need this for interactive exploration or saving figures?

[2022-04-17 19:19] agramfort commented on #10538
ping @rob-luke

[2022-04-18 07:50] hoechenberger opened #10542 "Add __eq__(), __neq__() to DigMontage"
_Originally posted by @hoechenberger in https://github.com/mne-tools/mne-python/pull/10537#discussion_r851798198_

Hah. Turns out `DigMontage` inherits directly from `object` and doesn't implement its own `__eq__()`. We should probably put this on our todo.

In any case, I'll just compare `.dig` for now, which should suffice.

[2022-04-18 09:17] skjerns commented on #10467
Which is not the current behaviour, as it plots the GFP even when specifying two channels, right?

Would it make sense to plot the GFP when selecting data channel types and the average when giving a list of ch indices? I'm not familiar with GFPs, but from the name alone it seems not so applicable when i.e. selecting two neighbouring channels from a set of 306, and in this case the average would be

[2022-04-18 12:19] jona-sassenhagen commented on #10467
Yes IIRC GFP should only be done if you take all the channels. With a selection averaging would be better. @drammock thoughts?

[2022-04-18 17:02] larsoner commented on #10533
I would warn if the `raw_erm` has bads that `raw` does not

[2022-04-18 18:03] hoechenberger commented on #10533
In the PR (#10537) I've added a parameter to the function, allowing the user to explicitly specify what should happen to the bads
Doing "nothing" and warning  is currently not implemented, but I could add this!

[2022-04-19 08:46] dafrose commented on #10522
@agramfort thanks for the invite. I will see whether I can make it on Friday.

@larsoner +1 for adding the context manager as a decorator or to an existent decorator.

Regarding `n_jobs=None`: I like the idea, because it does not change the current default behaviour, but allows to hand over control to a lower-tier context. However, it should always be clear, what takes preference. Unless otherwise

[2022-04-19 08:51] agramfort commented on #10522
yes it's the sklearn behavior.

[2022-04-19 17:14] dafrose commented on #10522
@larsoner thanks for the offer. I would love to, but I am afraid it would take some time. I already have a few PRs on my todo list, one of them already for `mne` and I haven't gotten to do any of them yet... So if it can wait for a few weeks `TM`, maybe. But I won't mind, if someone else did it until then.

[2022-04-20 01:07] rob-luke commented on #10538
@samuelpowell is correct. I will discuss with him today how we can fix this and get a test file.

In general, the SNIRF specification is very large, and MNE only covers a small amount of what can be stored. I have been taking a pragmatic approach and just ensuring we can read data from all the manafacturers. But I will take more care in future PRs to add some defensive programming and throwing som

[2022-04-20 13:08] larsoner commented on #9609
I forgot we had come up with an API for this! Just one more hint to add to [what I wrote above](https://github.com/mne-tools/mne-python/issues/9609#issuecomment-901203391), I think internally you should "just" need an appropriate call to `_map_meg_or_eeg_channels` to do the heavy lifting here, as it's what's used by `interpolate_bads`.

[2022-04-20 13:08] britta-wstnr commented on #9609
nice, thanks @larsoner !

[2022-04-20 13:12] cbrnr opened #10550 "mne.datasets.fetch_fsaverage() throws error if directory does not exist"
I just tried to download the fsaverage dataset, but running `mne.datasets.fetch_fsaverage()` throws an error:

    FileNotFoundError: subjects_dir does not exist: /Users/clemens/Documents/mne_data/MNE-fsaverage-data

I have set `MNE_DATA` to `/Users/clemens/Documents/mne_data` in my config – maybe that's why? The `SUBJECTS_DIR` config key is only created after successfully downloading the dataset

[2022-04-20 13:24] cbrnr opened #10551 "Does the coreg GUI work with Python 3.10?"
I might be wrong, but it looks like `mne coreg` requires Python < 3.10 to work (simply because `vtk` does not have binary wheels for Python 3.10). If that's the case, should we add a note somewhere in the documentation (maybe in the paragraph describing the installation with 3D visualization [here](https://mne.tools/stable/install/manual_install.html))?

[2022-04-20 13:27] larsoner commented on #10551
There are VTK 3.10 wheels on conda-forge (our recommended installation method). Wheels should show up on PyPi around May 6 because 9.2 is 10-compatible https://discourse.vtk.org/t/vtk-9-2-0-release-cycle/8149

[2022-04-20 13:28] larsoner commented on #10550
It seems like it should create this folder for you, so probably a bug

[2022-04-20 13:29] cbrnr commented on #10551
I guess I'll have to wait until then.

[2022-04-20 13:31] larsoner commented on #10551
In the meantime you can try https://github.com/pyvista/pyvista-wheels if you want

[2022-04-20 13:37] cbrnr commented on #10550
Hm. I can't reproduce it anymore. I created the folder manually, which triggered the download. Now it works even after I delete the folder and the config key.

[2022-04-20 13:37] cbrnr commented on #10551
Nice, thanks @larsoner! I will try that!

[2022-04-20 13:40] cbrnr commented on #10551
[code]

👀 – my MacBook doesn't support Monterey anymore 😢.

[2022-04-20 16:40] hoechenberger opened #10553 "Dropdown menu on website is using the wrong theme"
Light mode:
<img width="405" alt="Screen Shot 2022-04-20 at 18 38 01" src="https://user-images.githubusercontent.com/2046265/164280423-597ce778-a593-43b4-9505-fc3c18579c76.png">

Dark mode:
<img width="405" alt="Screen Shot 2022-04-20 at 18 38 20" src="https://user-images.githubusercontent.com/2046265/164280455-290a26fa-2429-496b-8d5b-064c30f0788e.png">

This is with Safari 15.4 on macOS.

cc @lar

[2022-04-20 16:55] larsoner commented on #10553
What's the problem with the drop-down? The colors are different and they should be depending on light/dark mode

[2022-04-20 16:56] hoechenberger commented on #10553
We used to have a blue dropdown in the Light Theme before and that's what I'd expect when using a light theme – the Bootstrap "primary" buttons are supposed to be blue-ish. Therefore I thought it's a bug.

If it's not, then I propose to revert the color change to the light-themed button, please :)

[2022-04-20 17:31] hoechenberger commented on #10553
But why did the color suddenly change? This button used to be blue until recently…

[2022-04-20 17:42] larsoner commented on #10553
Not sure, you could trace back in the `mne-tools.github.io` repo if you're really curious. But personally I would just look into fixing it by removing our customizations where possible...

[2022-04-20 20:41] samuelpowell commented on #10538
Sample file posted in [connected issue](https://github.com/mne-tools/mne-nirs/issues/419#issuecomment-1104434641). Sample rate in this file is 6.67 Hz (e.g. the time vector is [0, 150] ms).

[2022-04-21 13:55] #10490 closed

[2022-04-21 14:26] #10550 closed

[2022-04-21 16:27] #10514 closed

[2022-04-21 18:56] #10520 closed

[2022-04-21 20:36] #10533 closed

[2022-04-22 15:40] samuelpowell commented on #10538
@rob-luke please note that the sample file I provided included events (`stim` entries) whose timestamps matches the `timeUnit`. It transpires this is out of spec and the `stim` entries always use seconds. I've corrected this and ill provide a smaller sample file shortly, as requested.

[2022-04-22 18:25] dtxe commented on #6870
To replicate this issue:
1. Load any dataset with a DigMontage
2. Either use a dataset where one electrode has an undefined position OR manually set a sensor to nan coordinates:
[code]
3. Plot the evoked response with spatial_colors=True

[2022-04-25 23:14] alexrockhill opened #10561 "[ENH] Add automatic detection of bridging in EEG electrodes"
A published algorithm exists here: https://pubmed.ncbi.nlm.nih.gov/11222978/ which has also been implemented in EEGLAB https://psychophysiology.cpmc.columbia.edu/software/eBridge/index.html which would be nice to add.

[2022-04-26 07:44] hoechenberger opened #10562 "If we are missing an optional module or package to operate, don't just complain about it being missing, but also give advice on how to install it"
For example, pymatreader and eeglabio are optimal and simply telling users we need the module for certain things apparently doesn't prove to be too helpful, see e.g.

https://mne.discourse.group/t/error-the-pymatreader-module-is-needed-but-it-could-not-be-imported/4783/3?u=richard

cc @cbrnr

[2022-04-26 08:28] cbrnr commented on #10562
Makes sense. Something like "Use pip or conda to install it."? Or more specific?

[2022-04-26 12:27] hoechenberger commented on #10562
I would print the exact command to be used :)

[2022-04-26 12:38] hoechenberger commented on #10562
Yes, this is how I had imagined it!

[2022-04-26 12:40] cbrnr commented on #10562
PyPI package names are case-insensitive, so we could user all lowercase for both conda and pip package names.

[2022-04-26 12:43] larsoner commented on #10562
Indeed but I think it's nice to match the case if we can. It's easy enough to do...

From a [previous conversation](https://github.com/mne-tools/mne-bids/issues/1002#issuecomment-1108661727) I think @scott-huberty plans to work on this -- @scott-huberty feel free to see above for the suggested wording

[2022-04-26 12:55] cbrnr commented on #10562
About that package... we also discussed that we might want to replace `edflib-python` with `pyedflib` because the latter is much much faster.

[2022-04-26 12:58] larsoner commented on #10562
Yep that's https://github.com/mne-tools/mne-python/issues/9883 (and let's keep that conversation over there)

[2022-04-26 13:23] maedoc opened #10564 "Unsupported array dtype in compute forward"
#### Describe the bug
When computing a forward solution on HCP MEG data (following the [tutorial](https://mne.tools/mne-hcp/auto_tutorials/plot_compute_forward.html#sphx-glr-auto-tutorials-plot-compute-forward-py)), Numba complains about a dtype.

#### Steps to reproduce
I'm copying and pasting code from the MNE-HCP tutorial here

https://mne.tools/mne-hcp/auto_tutorials/plot_compute_forward.html#

[2022-04-26 13:31] larsoner commented on #10564
Yes and this is intentional. I think we should make sure that the `bins[-1]` is a type Numba can handle. It's not immediately clear to me why it wouldn't be, but it should be easy enough to fix.

If you put the `@jit` decorator back in place, but one stack level up you pass `bins.astype(int)` or `bins.astype(np.int64)` does it work? If so, this is effectively what we want to accomplish, and we nee

[2022-04-26 13:49] maedoc commented on #10564
`bins.dtype` is `int64`, and passing `bins.astype('i')` doesn't work either. The relevant code up stack calls this with a genexpr which doesn't work in the debugger.

[2022-04-26 14:04] maedoc commented on #10564
ah, the error-message explains why: `>i4` is a big-endian dtype.

[2022-04-26 14:06] larsoner commented on #10564
Oh I can't count/read, it's not the `bins` it's the `tris` that have `>i4` (this is arg 1). If you `.astype(int)` or `.astype(np.int64)` this does it work?