[2015-07-14 11:52] wmvanvliet commented on #2287
@dgwakeman  that is **really** helpful!

[2015-07-14 12:21] mainakjas commented on #2289
I think I meant populating the `See Also` :) I'll edit the description of the PR

[2015-07-14 13:37] tomekwielek opened #2294 "AssertionError / read_raw_brainvision"
cc @teonlamont

I get an AssertionError while loading binary file from BrainVision - Version 2.0.

[code]

Any idea about the reason?

[2015-07-14 13:44] teonlamont commented on #2294
because when I wrote it, I didn't know if the header would be different across the version. I wasn't sure if I could make it general. If they have the same pattern, then I could lax the requirement.

[2015-07-14 14:33] kingjr commented on #2290
Yes, that could be useful to have : `clf =  LinearClassifier(clf)` so as to have  `clf.patterns_`. However, I wouldn't put any plotting function quite there; if people want to use these things for time frequency data, source space etc, you won't be able to support this.

[2015-07-15 07:17] atalanti opened #2299 "statistical test for robust of plv values"
Hello everyone!

I have used the plv method with multitaper for the computation of the spectral connectivity at the sensor space between 32 eeg electrodes. Is there a way to test the statistical robustness of these values in order to extract a threshold for the plv values?

Thank you in advance,
atalanti

[2015-07-15 07:22] #2299 closed

[2015-07-15 07:22] agramfort commented on #2299
please use the mailing list for such questions. Not the issue tracker.

thanks

[2015-07-15 09:47] wmvanvliet opened #2300 "Make some fields of the `Info` object read-only and auto-generated"
it would be nice if `info['nchans']` would be read only and internally map to `len(info['chs'])`. The same with `info['ch_names']`, which should map internally to `[ch['name'] for ch in info['chs']]`. This would reduce the chances of having inconsistent data and help with the DRY.

This would involve overwriting the `__get_item__` and `__set_item__` methods.

[2015-07-15 14:55] jona-sassenhagen commented on #2245
How similar is this to rERPs? See #2304

[2015-07-15 15:05] alexandrebarachant commented on #2245
@jona-sassenhagen I just saw the PR. I think it is very similar, at least for the evoked response estimation. I have to read the paper, but i definitely think we could share some code.

[2015-07-15 18:52] Eric89GXL commented on #2287
cc @mdclarke there are some links in here about the `Info` structure, but @wmvanvliet is planning to add more docs soon. @wmvanvliet are you working on it as part of the sprint?

[2015-07-16 07:20] wmvanvliet commented on #2287
yes, you can find our progress here:
https://github.com/wmvanvliet/mne-doc-notebooks

[2015-07-16 08:52] mainakjas commented on #2287
Great @wmvanilet for giving this a shot! Some feedback:

- Have you looked at the mne-tutorials that already exist?
- I wouldn't start the data structures tutorial with the info. I would
rather say raw -> epochs -> evoked and then describe info.
- Is this a tutorial or a manual thing? If it's a manual thing, you have to
be more comprehensive and it shouldn't have so much code / code output. You
do

[2015-07-16 12:16] jaeilepp commented on #2255
``evoked.plot`` actually has an axes param.
``plot_projs_topomap`` creates multiple axes instances. Their positioning rely on the layout. I don't see the point in positioning them yourself.

[2015-07-16 14:23] alexandrebarachant commented on #2280
There is also the [BNCI data repository](http://bnci-horizon-2020.eu/database/data-sets)
It's mainly EEG / BCI but there is a couple of interesting one (including a fNIRS dataset).
File are all in matlab format, but they are more or less standardized.

[2015-07-16 14:24] teonlamont commented on #2255
what about in the case of just one proj being plotted. that is the use case that I was thinking of. for instance, I want to make a figure that has the waveform with the proj applied on the left, and then the topography of that projection on the right.

[2015-07-16 14:25] agramfort commented on #2280
cool !

what type of cool example would you do with it?

[2015-07-16 14:29] agramfort commented on #2248
fixed

[2015-07-16 14:29] #2248 closed

[2015-07-16 14:40] alexandrebarachant commented on #2280
It is probably a good source to feed the decoding section.
the fNIRS data would be interesting to look at. There is also one with joint recording of EEG and EMG data. But i don't have any cool stuff to do with it (yet).

Ultimately, having a generic wrapper for all these dataset will allow easy multi-dataset evaluation of algorithms.

[2015-07-16 14:47] jaeilepp commented on #2255
Oh yeah. You're right. I must have looked at something else...

[2015-07-16 14:51] agramfort commented on #2280
I like that !

[2015-07-16 15:26] mainakjas commented on #2280
yeah, one related issue that I don't like having to do is:

[code]
Instead if we could save it as a dict and do:
[code]
that would be nice. Just an idea ...

[2015-07-16 15:34] mainakjas commented on #2289
I am taking this.

[2015-07-16 15:35] dengemann commented on #2289
YEAHH great call!

[2015-07-16 15:58] teonlamont commented on #2255
you were right that if you have projs > 1, plot_projs_topomap will make subplots of all of the figures. I was thinking there should be an option when projs = 1, then you can use axes.

[2015-07-16 19:08] teonbrooks opened #2308 "Scale MRI is broken"
Scaling subject is currently not working. At first, I thought it was related to my pr #2239 but it isn't working on master either. This may be a problem with the gui interaction with qt (at least this error message shows up on qt listservs).

[code]

Pseudo-way to make it happen:
mne.gui.coregistration()
scale a subject without MRI to template using their headshape info
try to save

cc: @christian

[2015-07-17 04:14] haribharadwaj opened #2310 "Epochs constructor (re-creates) and re-applies proj even if proj is False if raw.proj is True"
This leads to problems in at least one use case where the user is interested in working with only a subset of channels. For example:

[code]

There are several places here where at least warnings should have been thrown...

[2015-07-17 05:06] haribharadwaj commented on #2310
I think the issue is more general.. projs should be discarded when picks is used at anytime as the old proj definitions wont be valid anymore..

What am I missing?

[2015-07-17 05:15] haribharadwaj commented on #2310
Example:
[code]
Here picks happens before projections are activiated and data is messed up as result... Thus picks is not useable at all with projs!!

[2015-07-17 07:49] #2235 closed

[2015-07-17 08:11] agramfort commented on #2310
oh boy indeed...

2 options I see:

1/ we prevent channel dropping/adding if some proj are active
2/ we automatically reapply active projs

what do you think?

[2015-07-17 08:16] agramfort commented on #2310
suggestion. We add a parameter to drop_channels et al. methods. For
example ignore_proj. If ignore_proj=False (default) and inst.proj ==
True then throw an error. If the "User" sets ignore_proj=True then he
can bypass the check

wdyt?

[2015-07-17 09:30] wronk opened #2311 "Raw indexing error"
`raw.time_as_index` function can produce incorrect indices because it truncates instead of rounds when finding the nearest time value.

[code]
^^^
Non-unique index values in the indexed times.

[2015-07-17 09:36] wronk commented on #2311
I'll take care of this one later, @mainakjas and @dengemann wouldn't assign it even after asking politely.

[2015-07-17 09:49] mainakjas commented on #2311
you are @wronk @wronk

[2015-07-17 09:54] agramfort commented on #2237
fixed by #2291

[2015-07-17 09:54] #2237 closed

[2015-07-17 11:42] jona-sassenhagen commented on #2268
@teonlamont remember the code for plotting ROIs I sent you some time ago?

[2015-07-17 11:45] jona-sassenhagen commented on #1808
Can probably close for #2304 now.

[2015-07-17 11:58] Eric89GXL commented on #2311
We've actually had this discussion before at some point, I think we have to
keep the truncation behavior otherwise it ends up acting like an API
change. I agree it can produce some unexpected results, but it might be too
late to change it.

[2015-07-17 12:37] wmvanvliet commented on #1808
close in favor of #2304

[2015-07-17 12:37] #1808 closed

[2015-07-17 16:24] dengemann opened #2313 "ENH: Epochs vectorizer"
To elegantly pipe mne.Epochs through sklearn.pipeline.Pipelines

cc @trachelr @kingjr @agramfort ...

[2015-07-17 18:19] teonlamont commented on #2310
kinda related question, why is it that we cannot remove the projection once it's been applied? wouldn't it just be multiplying the inverse?

[2015-07-17 18:26] teonlamont commented on #2268
yeah, I have it around somewhere. my comment was inspired by you @jona-sassenhagen :)

[2015-07-17 18:26] Eric89GXL commented on #2310
The projection matrix is non-invertible. You're basically creating a hole in the data, once it's there, there is no way to know what used to be there. Think about zeroing out a single time point (i.e., the [1, 0, 0, ..., 0] time basis vector) across all channels instead of a single spatial component across all times, and it will be clearer. Once you zero it out, you can't know what you need to put

[2015-07-17 18:28] teonlamont commented on #2310
ah, I forgot about the invertibility consideration. makes sense. thanks @Eric89GXL!

[2015-07-17 18:29] haribharadwaj commented on #2310
@teonlamont : Projection is like taking a pont in 3D space and mapping onto it's corresponding 2D (like, (2,3, 5) --> (2, 3)).. No way to recover lost info..

[2015-07-17 18:31] haribharadwaj commented on #2310
Anyways... I agree that picks/drops functions should by default ignore proj AND also warn user AND also rewrite the resulting instance's proj attribute if possible so that other functions don't reapply them.. Seems like edits maybe needed in many places?

[2015-07-17 19:46] teonlamont opened #2314 "Possible bug in _setup_connectivity in cluster_level.py"
@awjamison just pointed out to me that in _setup_connectivity, it's checking for whether a spatiotemporal connectivity has the appropriate number of time points: https://github.com/mne-tools/mne-python/blob/master/mne/stats/cluster_level.py#L521

should this actually be `round(float(connectivity.shape[0]) / n_vertices) == n_times` instead?

[2015-07-17 22:28] teonlamont opened #2315 "ENH baseline argument to read_epochs"
This was brought up on the listserv. It would be useful to have a baseline argument loading epochs with `read_epochs`. I think that the internals are there, they just need to be exposed.

[2015-07-17 23:14] teonlamont opened #2316 "ENH ICA plot_sources"
@jaeilepp is there to recycle `topo` figures in the `ica.plot_sources()`? For instance, if I click the same IC twice, it generates two figures.

[2015-07-18 07:34] Eric89GXL commented on #2314
Look at where it is used:

https://github.com/mne-tools/mne-python/blob/master/mne/stats/cluster_level.py#L708

`X` has just gotten reshaped as `(X.shape[0], -1)` and then `X.shape[1]` is passed into the function, so the `n_vertices` argument to that function is actually more like `n_tests` (and it's called this in the calling code). So the line looks correct but the `n_vertices` shape looks like

[2015-07-18 16:22] jona-sassenhagen opened #2317 "ENH: ROI plot"
http://nbviewer.ipython.org/gist/jona-sassenhagen/ca7d95d2dbfd8a5a0bd7

This could eventually become mne.viz.evoked.plot_roi(...).

I'm not opening a PR for now because I have way too many open already (please merge #2304 :) ... I'll close #1890 soon).

Addresses parts of #2268 (see auto roi assignment helper functions) and #1939. @teonlamont

[2015-07-19 11:14] wronk commented on #2311
So it would just cause too many problems downstream?

[2015-07-19 14:25] Eric89GXL commented on #2311
We can't know what the effect would be on people's pipelines, yeah. Ideally
stich a small change would not matter in practice, but we can't guarantee
that.

[2015-07-19 15:19] wronk commented on #2311
Could we add an 'new_behavior=False' flag and add an option to use the corrected indices?

[2015-07-19 15:39] agramfort commented on #2311
I am fine with adding a round=True or False option to time_as_index

[2015-07-19 15:43] agramfort commented on #2314
closing?

[2015-07-19 15:48] agramfort commented on #2317
can you explain how it works? It's really justified for MEG to aggregate
channels due to orientation of sensors btw.

Thanks for keeping the number of PRs under control :)

[2015-07-19 16:01] agramfort commented on #2310
PR highly appreciated @*haribharadwaj <https://github.com/haribharadwaj> *

[2015-07-19 16:14] agramfort commented on #2315
why not however baseline estimates on single trials are really noisy.

It is an easy PR. It's basically adding a baseline param to read_epochs as
it is with read_evokeds

[2015-07-19 21:07] christianbrodbeck commented on #2308
Is it working with mne 0.8/0.9? Or is it a problem of another library's update?

[2015-07-20 06:21] jaeilepp commented on #2316
What do you mean by recycling? You mean that each channel is in separate
figure? That should be easy to do...

On 18 July 2015 at 02:14, Teon L Brooks <notifications@github.com> wrote:

[2015-07-20 08:58] trachelr commented on #2313
Epochs vectorizer is here as ConcatenateChannels.
We just need to rename the class ConcatenateChannels and make deprecation warning.
I can do it in PR #2292

[2015-07-20 14:47] teonlamont commented on #2316
actually, that's the current behavior already. what I am suggesting is that when the first figure for an IC is generated, it creates a reference to that figure, so if you click on it again, instead of creating a new figure, it just brings that one back. it would only create a new copy of the topo if it were previously closed.

[2015-07-20 14:49] agramfort commented on #2316
please keep it simple.

[2015-07-20 15:55] alexandrebarachant commented on #2245
Merged in #2296

[2015-07-20 15:55] #2245 closed

[2015-07-20 21:21] leggitta opened #2321 "ENH: Disable gaussian smoothing in mne.viz.plot_topo_image_epochs"
Hello,

I'd like to disable the gaussian smoothing when plotting image epochs, so I can clearly identify which trials have artifacts in them. I thought that the user could set ```sigma=None```, in which case the smoothing step is skipped. Would anyone else be interested in this option?

Alan

[2015-07-20 21:36] agramfort commented on #2321
what if you set sigma=0. ? does it do the job?

[2015-07-20 21:56] leggitta commented on #2321
This is with sigma=0, but I was hoping for something more pixellated so I can see where the edges are.

![screenshot from 2015-07-20 14 51 00](https://cloud.githubusercontent.com/assets/1099867/8788385/d79e0f12-2eee-11e5-95cc-617790c26c10.png)

[2015-07-20 21:59] Eric89GXL commented on #2321
What does it look like with nearest-neighbor interpolation (instead of bilinear) on the `imshow` with different sigmas? It would make sense to me to have NN interp on by default, since the sigmas should take care of the smoothing for you.

[2015-07-20 22:14] leggitta commented on #2321
Here's the same image with nearest

![screenshot from 2015-07-20 15 12 47](https://cloud.githubusercontent.com/assets/1099867/8788802/d2150e58-2ef1-11e5-8120-4f3656382d83.png)

[2015-07-20 22:15] agramfort commented on #2321
looks good no?

[2015-07-20 22:20] Eric89GXL commented on #2321
That is what I would expect from `sigma=0.` and nearest-neighbor interpolation. The smearing on the temporal axis is due to the overlapping of the windows used.

What does it look like for the default sigma value? Is it very different from how it is with bilinear interp on?

[2015-07-20 22:31] leggitta commented on #2321
Ok, here it is with ```interpolation='nearest'``` with the default sigma value.

![screenshot from 2015-07-20 15 30 41](https://cloud.githubusercontent.com/assets/1099867/8789086/4f986094-2ef4-11e5-8120-a575822855cd.png)

[2015-07-20 22:32] leggitta commented on #2321
so the smoothing is happening in the temporal domain, not across trials?

[2015-07-20 22:39] agramfort commented on #2321
It should happen across trials. We have a bug???

[2015-07-20 22:52] leggitta commented on #2321
It is smoothing across trials, I just tried out a few different sigmas. But if I wanted to look at the trials without blurring, I need to change both sigma and the interpolation argument.

[2015-07-20 22:56] Eric89GXL commented on #2321
try sigma=2, it should make it smooth vertically

Maybe we should change the default to something like that. I think in any case we should set the interpolation to nearest. It is a bit silly to have two forms of interpolation going on like that.

[2015-07-21 09:41] agramfort commented on #2321
+1 for smoothing vertically and use nearest.

volunteer?

[2015-07-21 13:11] neukym commented on #2273
Hold up - I am still using sklearn v0.14.1. Will check if this is the problem and report back.

(Our Anaconda build still bundles v0.14.1 of sklearn, and so the line

`sys.path.append('/imaging/local/software/python_packages/scikit-learn/v0.16.1')`

should be

`sys.path.insert(1,'/imaging/local/software/python_packages/scikit-learn/v0.16.1')`)

[2015-07-21 13:15] mainakjas opened #2324 "bug in mne_browse_epochs"
@jaeilepp if I click on the lower right corner of the epochs browser (below the scroll bar), I get an error which says:

[code]
Ipython closes and everything crashes. Maybe I should do more science to discover such corner cases ;)

[2015-07-21 13:27] mainakjas commented on #2324
I think the scrollbar has to be at the bottommost position for this error to occur. So, scroll to the bottom and then click on the bottom left corner. @yousrabk couldn't reproduce this on her computer but I can reproduce it on the example. If anyone else can reproduce it, maybe that's useful info

[2015-07-21 15:20] Eric89GXL commented on #2321
@leggitta you find that it's broken you buy it? :)

[2015-07-21 16:48] leggitta commented on #2321
Sounds fair. The vertical smoothing seems to be working fine. The below plot is with sigma=2 and interpolation='nearest'.

Should I make interpolation='nearest' for all functions that use imshow?

![screenshot from 2015-07-21 09 47 39](https://cloud.githubusercontent.com/assets/1099867/8806851/8b2307b0-2f8d-11e5-8f45-84184a56b30c.png)

[2015-07-21 17:06] Eric89GXL commented on #2321
The smoothing type probably needs to be decided on a case-by-case basis. Are there other ones where you think it would make sense?

[2015-07-21 17:10] leggitta commented on #2321
Not of the top of my head, but I'll look around for ones that also apply some kind of gaussian smoothing.

[2015-07-21 17:27] #2321 closed

[2015-07-21 18:57] jona-sassenhagen commented on #2315
http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3183439/ a paper from the EEGLAB people (including Delorme) arguing that for time-frequency decompositions, single-trial baselining is better. Doubt it translates directly to the time domain though ... especially with the very short windows most people seemingly like.

Also Teon if you find yourself wanting to do this, can you add a baseline method to Ev

[2015-07-21 20:22] agramfort commented on #2315
it's a problem of spectral leakage and circular convolutions when using
FFTs. If it's ok for your analysis you should high pass filter your data a
bit.

[2015-07-22 11:44] dengemann opened #2326 "FIX: epochs decim is broken"
after decim reading data seems impossible

[2015-07-22 12:00] agramfort commented on #2326
gist to reproduce?

[2015-07-22 12:04] dengemann commented on #2326
https://gist.github.com/dengemann/54b021b232760a73c5cb

[2015-07-22 12:29] dengemann opened #2328 "FIX/DOC: equalize regularization str names across cov functions"
we use inconsistently `lws` and `ledoit_wolf`, etc.

cc @alexandrebarachant @trachelr

[2015-07-22 13:49] Eric89GXL commented on #2326
I can take a look later today

[2015-07-22 14:30] agramfort commented on #2328
+1

that's an easy fix.

[2015-07-22 16:51] agramfort opened #2330 "implement draw_sensors"
implement draw_sensors

https://github.com/mne-tools/mne-matlab/blob/master/matlab/mne_load_coil_def.m#L160

in plot_trans function.

[2015-07-22 16:53] Eric89GXL commented on #2330
We have to be careful because that was translated from BrainStorm code, which I think is GPL'ed. So we'll have to ask permission to relicense, right @agramfort?

[2015-07-22 16:54] agramfort commented on #2330
hum... @ftadel what do you say?

[2015-07-22 17:18] #2326 closed

[2015-07-22 18:13] ftadel commented on #2330
I don't think we can even trace back who wrote that function...
I think you can just re-use whatever you need to :)

[2015-07-22 23:45] teonlamont commented on #2315
@jona-sassenhagen, i'll take care of this. @agramfort, isn't that what is being done when people generate the Epochs object and baseline correct? should we have general method for mne instances? also, should baselining be restricted to being applied only once? i presume yes.

[2015-07-23 07:29] trachelr commented on #2328
Ok I take care of this one today.

[2015-07-23 07:43] agramfort commented on #2330
ok cool.

any volunteer?

[2015-07-23 07:49] agramfort commented on #2315
we could.

not needed except that you cannot undo basline. But you could do

evoked.apply_baseline((None, 0))

then change basline:

evoked.apply_baseline((-0.1, 0))

and go back to previous baseline with:
evoked.apply_baseline((None, 0))

[2015-07-23 09:54] jona-sassenhagen opened #2331 "Optimize linear_regression_raw: sparse matrices, partial fits"
Currently, either many predictors, or long time windows, or high sampling rates w/o decim, or especially any combination of these can lead to very memory-intensive models in rER[F/P]s that overload even powerful computers, and laptops may struggle even with smaller problems.

In response,
- profile mem usage
- predictor matrix X should be made sparse
- fitting can be done iteratively/on non-overla

[2015-07-23 10:00] jona-sassenhagen commented on #2317
The idea is, in EEG research, you often present averages over multiple sets of channels - e.g., you'd present one plot for occipital, one for frontal electrodes and so on. This is a function that either

- takes a dict kwarg specifying ROI assignments of electrodes
or
- automatically assigns electrodes to ROIs based on spatial neighborhood

and then plots the mean of all sensors for each ROI, per

[2015-07-23 10:00] mainakjas commented on #2331
I think the first step is to profile, to figure out what needs to be optimized.

[2015-07-23 10:02] jona-sassenhagen commented on #2331
Yup, edited. Though really, creating, and then inverting, the pred matrix is definitely the culprit of at least most of the problems, I've already found that while writing the function.

I actually managed to overload our 256GB server a few times by accidentally giving a transpose of a matrix, leading to a gigantic inversion.

[2015-07-23 10:07] dengemann commented on #2331
However, +1 for profiling

On Thu, Jul 23, 2015 at 12:02 PM, jona-sassenhagen <notifications@github.com

[2015-07-23 10:11] jona-sassenhagen opened #2332 "ENH: refactor Xdawn and linear_regression_raw"
Xdawn and linear_regression_raw overlap a lot. Both use toeplitz to construct a big predictor matrix from event arrays, and return the coefficients of regressing the brain data. Possibly, linear_regression_raw could be extended slightly to function as a backend for Xdawn, as discussed with @alexandrebarachant .

The main issues:
- Xdawn has an option to return the predictors, although it's not use

[2015-07-23 10:12] dengemann commented on #2317
channels due to orientation of sensors btw.

it's not really justified.

I'm a bit reluctant of supporting this. I'm loosing the overwview about too many PRs and viz features that kind of do the same. Could someone who needs this kind of funcitonality please propose a concise and efficient API cleanup. I'm a bit affraid that we push carelessly incremental stuff which will burn a lot of time.

[2015-07-23 10:23] jona-sassenhagen opened #2333 "ISSUE? ica.plot_components() requires ch_type when picks is not None"
With my Brainvision data, these work:
[code]

[code]

but this doesn't:

[code]

[code]

Am I missing something, or is this a bug?

[2015-07-23 10:25] dengemann commented on #2333
This looks like a bug. Btw. didn't we ant to guess the channel type at some point? Why do we still need to pass the channel type? @wmvanvliet @mainakjas @agramfort

[2015-07-23 10:30] dengemann opened #2334 "FIX?: repr of evoked after rerp computation shows len(events) not len(events_condition_i)"
@jona-sassenhagen do you agree?

[2015-07-23 13:34] neukym commented on #2273
OK, with the latest version of Anaconda (and sklearn v0.16.1), I still have the same problem above. A slightly reworded version of the error:
[code]
on most (70%?) of attempts, and the different but related problem that `random_state=x` doesn't seem to be generating the same random set of initial conditions for the ICA (cycling through seeds, `random_state=6` worked for me just now, but then didn'

[2015-07-23 13:40] Eric89GXL commented on #2315
Yeah, as long as we throw an error for `apply_baseline(None)` we should be fine to change repeatedly

[2015-07-23 15:42] agramfort commented on #2273
did you check that you don't have too strong artifacts in your data? They
can cause numerical issues. That's why we have a reject param in ICA object.

[2015-07-23 16:01] alexandrebarachant commented on #2332
yep, some overlap here.
I think the best is xdawn using your method, because it is more generic, and probably better.
The possibility of adding covariate is interesting, and could be exploited in the method.

Xdawn use the predictor to recreate pseudo signal and estimates a covariance matrix used for the filters estimations. I think i can do without it but we have to check it does no impact perfor

[2015-07-23 20:12] teonlamont commented on #2317
for the MEG rois, we should look at mne-c. I believe @mshamalainen had select ROIs implemented for sensor-space. we could see how it's done there.

[2015-07-23 21:28] mattjerhart commented on #2024
Is it possible to get single trial phase as well? Does something like 'tfrs = [tfr_XXX(epochs[i]) for i in range(len(epochs))]' exists for phase that I could use in the sort term? Could this kind of feature be added to the single trial TFR code if nothing exists?

[2015-07-23 21:46] #2334 closed

[2015-07-23 21:47] teonlamont commented on #2334
closed for #2335

[2015-07-23 22:08] teonlamont opened #2341 "Explained variance of PCs"
Is there an easy way to get the percentage of explained variance for each of the principal components?

[2015-07-23 22:22] teonlamont opened #2342 "add method `apply_baseline` to Epochs and Evoked"
follows up #2337 and addresses second half of #2315.

[2015-07-23 22:28] choldgraf commented on #2024
Right now the way I'm using it on my own is to store the values as complex
64 bit numbers, that way you can calculate either the phase or amplitude.
That said, right now there isn't any kind of tangible PR so that's just my
own anecdotal use :)

On Thu, Jul 23, 2015 at 11:28 PM, Matt Erhart <notifications@github.com>
wrote:

[2015-07-23 23:04] mattjerhart commented on #2024
Are you going into the various TF functions and changing a line like 'TFR_abs = np.abs(TFR)' so you can do abs or angle later? I could manage that for now if that's all. 'Complex', 'Angle', or 'Phase' might make for a useful flag. Might be relevant to the CFC branch as well.

[2015-07-23 23:59] teonlamont opened #2344 "Make ylim and scalings play nicely in Evoked.plot"
Currently, ylim and scaling are not playing nicely with each other. If you set
`ylim = dict(mag=[-300e-15, 300e-15])` and scalings=None, the ylim is not adjusted for the default scaling `mag=1e15`. we should fix it so that `ylim` is in regular units but is scaled internally with the `scalings` param. other option is to explain the behavior, but I feel like no one would expect this behavior.

[2015-07-24 00:18] teonlamont opened #2345 "Add event_id to read_epochs or selectively read"
If you only want to load a subset of your epochs from disk, suppplying an event_id could save on memory. currently, it loads all the epochs, and then you can do a selection. for long experiments, and large numbers of epochs, this is not ideal. the event id would find the indices in the events and from there, it can index and load just those epochs.

one thing that I am not certain of is whether al

[2015-07-24 00:23] Eric89GXL commented on #2345
This would be solved by the more general solution of adding general
on-access reads, so that's my preferred solution. I might be able to do it
next week.

[2015-07-24 03:42] #2289 closed

[2015-07-24 06:47] jaeilepp commented on #2324
I can't reproduce.

[2015-07-24 07:46] agramfort commented on #2341
no but it would indeed be a useful infomation to store in a proj object.

[2015-07-24 07:49] choldgraf commented on #2024
Right now I'm just pulling stuff from the `data` attribute, which is a
matrix of shape(n_epochs, n_channels, n_freqs, n_times). I'll just do
something like:

amp = np.abs(tfr.data[:, 10, ...])

or

phase = np.angle(tfr.data[:, 10, ...])

That said, I think that if this were implemented it'd warrant some
discussion about how to handle memory usage etc.

On Fri, Jul 24, 2015 at 1:04 AM, Matt Erhart

[2015-07-24 07:54] agramfort commented on #2344
well the rationale for the current behavior is that the ylim look similar
between sensors and you don't need to think about the exponent for each
channel type

[2015-07-24 08:44] agramfort commented on #2317
yes it is in mne/data/mne_analyze.sel but it's selection only of neuromag
by default.

[2015-07-24 10:10] neukym commented on #2273
Fair question. I did check and it seems fine: I really don't really have a notion as to what 'too strong artefacts' are, but -

- The data looks fine (apart from the ECG component, the occasional eyeblink, and a couple of bad channels):
![untitled-1](https://cloud.githubusercontent.com/assets/4225200/8871300/341fe292-31ec-11e5-8055-bbce38b6566c.jpg)
- I exclude bad channels and EEG from the picks

[2015-07-24 11:30] cle1109 opened #2346 "to_data_frame error with BDF/EDF raw"
After loading a .BDF file, I get the following error when trying to convert to a data frame using `to_data_frame`:

    ---------------------------------------------------------------------------
    TypeError                                 Traceback (most recent call last)
    <ipython-input-158-eb57e0ff561f> in <module>()
    ----> 1 df = raw.to_data_frame()

    /usr/local/lib/python3.4/site-p

[2015-07-24 11:39] Eric89GXL commented on #2346
@choldgraf sounds like a problem with the exporter, probably because `picks=None`?

[2015-07-24 11:43] cle1109 opened #2347 "Scaling of EEG data not 10e-6?"
In my EEG data, I get inconsistent results when I look at the raw data in two ways:

1. I access the data directly using `eeg, _ = raw[:, :]`.
2. I convert to a data_frame using `df = raw.as_data_frame()`.

Now when I compare the actual data values, I get a ratio of 10e5. This is somewhat unexpected, because I thought the original EEG data is measured in volts and gets converted to microvolts (i.e

[2015-07-24 11:46] agramfort commented on #2347
have a look at the as_data_frame code. It's not much used so likely to be a
bit broken.

[2015-07-24 11:53] choldgraf commented on #2346
Ah probably yes - how does MNE usually handle this? Just something like:

[code]
?

[2015-07-24 11:54] cle1109 commented on #2347
Nevermind, I accidentally used `10e6` instead of `1e6`, so everything is fine :-).

[2015-07-24 11:54] #2347 closed

[2015-07-24 11:54] agramfort commented on #2346
picks=None means either all channels or just the data channels (meg + eeg)
depending on context.

[2015-07-24 11:55] agramfort commented on #2273
how did you install your python stack? especially numpy as scipy?

[2015-07-24 11:57] cle1109 commented on #2346
I tried the following:

    df = raw.to_data_frame(picks=list(range(raw.info['nchan'])))

But this results in:

    ---------------------------------------------------------------------------
    UnboundLocalError                         Traceback (most recent call last)
    <ipython-input-170-393334cf5c9a> in <module>()
    ----> 1 df = raw.to_data_frame(picks=list(range(raw.info['nchan'])))

[2015-07-24 11:58] choldgraf commented on #2346
ah ok it looks like there's a self._get_check_picks function but for some data types it is not being called...I will fix this soon but my computer is about to die

[2015-07-24 12:12] agramfort commented on #2346
PRs welcome :)

[2015-07-24 12:17] choldgraf commented on #2346
Will do when my computer is no longer dead.
On Jul 24, 2015 2:12 PM, "Alexandre Gramfort" <notifications@github.com>
wrote:

[2015-07-24 12:19] agramfort commented on #2346
let me guess. You tried the linear_regression_raw and it freezed your
laptop? :)

[2015-07-24 12:28] choldgraf commented on #2346
Haha I was having too much fun at the anticafe :-)
On Jul 24, 2015 2:19 PM, "Alexandre Gramfort" <notifications@github.com>
wrote:

[2015-07-24 15:33] jona-sassenhagen commented on #2333
Closed for my bad PR at #2336 I guess.

[2015-07-24 15:33] #2333 closed

[2015-07-24 19:27] teonlamont commented on #2344
oh ok, i understand the rationale. maybe I should add a note that the ylim should take the scaling into consideration.

[2015-07-24 19:30] teonlamont commented on #2185
closing because issue was a non-MNE related problem. all and all, the legends of our plots are placed appropriately.

[2015-07-24 19:30] #2185 closed

[2015-07-24 19:32] #2044 closed

[2015-07-24 19:35] teonlamont commented on #2043
closed for #2251

[2015-07-24 19:35] #2043 closed

[2015-07-24 19:36] teonlamont commented on #2082
connectivity matrices added for KIT. currently this is handled in fieldtrip and ported over

[2015-07-24 19:36] #2082 closed

[2015-07-24 19:37] teonlamont commented on #2255
closed for #2281

[2015-07-24 19:37] #2255 closed

[2015-07-24 19:49] agramfort commented on #2344
Go for the note

[2015-07-24 20:06] natalieklein opened #2349 "event.py define_target_events error"
I brought this up on mne_analysis_request mailing list, then looked at the code, and wasn't sure the best way to point out the issue, so here it is:

Line 141:         lag[lag != fill_na] *= tsample

If fill_na is None, then lag != fill_na returns True, so this only multiplies lag[1] by tsample, leaving all other entries in lag as number of samples rather than number of milliseconds. Not sure the

[2015-07-24 20:30] mattjerhart commented on #2024
Thanks for your help. The tfr you're referring to comes from your EpochTFR class above and not something currently in mnepy?

[2015-07-24 21:58] wronk commented on #2311
PR #2350

[2015-07-25 07:49] choldgraf commented on #2024
Yup, it's just my own code for personal uses right now. You can find it all here...it's relatively straightforward but has a lot of improvements to be made if it were to be an official addition to MNE.

https://github.com/choldgraf/ecogtools/blob/master/tfr.py

[2015-07-25 09:17] choldgraf commented on #2346
Hey -  can you try this again with the latest MNE master @cle1109? I think the issue was that to_data_frame was checking to see if the object was Raw or RawArray, when instead it should have been checking for _BaseRaw.

[2015-07-25 15:45] agramfort commented on #2349
can you paste here 10 lines of python that reproduces the bug and that one
could use for a test?

thanks for looking into it.

[2015-07-27 08:27] cle1109 commented on #2346
@choldgraf yes, `to_data_frame()` works now! Thanks for the fix.

[2015-07-27 08:27] #2346 closed

[2015-07-27 13:21] jona-sassenhagen commented on #2317
Can I get a vote/opinion if something like this would be welcome in MNE?
It's not how I'd personally visualise data, but friends wanted a visualisation technique like this so I wrote it.

[2015-07-27 16:45] natalieklein commented on #2349
This code reproduces the bug - you can see it only multiplies lag[1] by tsample rather than all non-NA elements by inspecting new_events[1], as all of these lags should be exactly 1500ms:

events = np.array([[0, 0, 1], [375, 0, 2], [500, 0, 1], [875, 0, 3], [1000, 0, 1], [1375, 0, 3], [1100, 0, 1], [1475, 0, 2], [1500, 0, 1], [1875, 0, 2]])

new_events = mne.event.define_target_events(events=event

[2015-07-27 16:59] dengemann commented on #2349
@natalieklein sorry for the delay, I'm currently traveling, I'll get back to you ASAP.

[2015-07-27 17:04] natalieklein commented on #2349
@dengemann No problem! I used the code from your function without the lag for now as I don't really need the lag, so no rush at all, I simply wanted to share so it could be fixed for other users. I mentioned this in the mne analysis list, but as a reminder, this problem only occurs when fill_na is None.

Thanks again!

[2015-07-27 19:46] mattjerhart opened #2353 "maxmove, reject raw, and ICA"
I'd like to run ICA for auto-ECG removal and EOG component rejection (with correlation) on multiple maxmoved fifs per subject. I load all the fifs into a single raw instance currently. I will often have artifacts at the start/end of fif files since the subject might be talking to us etc while we are recording but not running an experiment. There may be discontinuities between fif files. Rarely, ma

[2015-07-28 03:13] teonlamont commented on #2311
closed for #2350

[2015-07-28 03:13] #2311 closed

[2015-07-28 14:08] jona-sassenhagen commented on #2353
What do you mean? ICA requires a lot of data, and for 306 channels, your requirements should be a lot of samples (unless you only fit few components).

ica.fit's rejection procedure rejects data internally, without affecting the source instance.

How do you filter pre-ICA?

[2015-07-28 16:40] kingjr opened #2357 "BUG: problem with crop / decimation"
I'm encountering some weird behaviors, but I'm unclear what they're due to:

[code]

gives
[code]

[code]

gives
[code]

[2015-07-28 16:56] Eric89GXL commented on #2357
What erros do you get? Is this related to #2356?

I agree these should be doable, and made into tests to make sure everything is working properly.

[2015-07-28 17:00] kingjr commented on #2357
I update the post.

I'm not sure, but I think these are separate issues.

[2015-07-28 17:04] Eric89GXL commented on #2357
First bug -- it looks like somehow the concatenation function is not recognizing/passing on that bad epochs have been dropped, and probably needs to set a parameter appropriately.

If the splits are in time, that last one could actually be due to time rounding/indexing errors, or it could be something different.

[2015-07-28 20:21] mattjerhart commented on #2353
Smaller chunks refers to fewer time samples. 'Can work better' refers to a greater reduction in EOG contamination in the grad most affected by blinks. 30-45 minutes of MEG can sometimes have non-stationary sources, due to movement mostly. Even non-movement related strangeness can throw off ICA. Separate ICA runs with smaller amounts of data can have an easier time pulling out components, as long a

[2015-07-28 20:59] mattjerhart commented on #2353
epochs.drop_bad_epochs() does post hoc epoch rejection in the github version now. epochs.drop<tab> has some other useful rejection tools.

[2015-07-28 21:10] agramfort commented on #2349
@natalieklein do you think you can open a PR to fix this? It should come with a non-regression test that you already have here.

[2015-07-28 21:24] agramfort commented on #2317
Mixed feeling on my side... I would not use this either.

[2015-07-28 21:49] mattjerhart opened #2360 "epochs.drop_bad_epochs stops kernel"
Unless I do:
new_ep = epochs.copy() ;
new_ep.drop_bad_epochs(...).

#preload=True when I created epochs.

[2015-07-28 22:50] Eric89GXL commented on #2360
What do you mean it stops the kernel? As in it crashes, or it hangs? Can you make a minimal example (preferably with EpochsArray if possible) that has this problem?

[2015-07-29 11:23] trachelr opened #2362 "ENH: Patterns visualization in GeneralizationAcrossTime"
Hey guys @kingjr @agramfort @dengemann
I just had a quick look at the patterns obtained in the time generalization example.
There's some interesting stuff that explain why decoding accuracy is sometimes below chance level. For instance, train times 50ms and 350ms give below chance performance at test time 250ms and 150ms, respectively.
![gat_scores_figure](https://cloud.githubusercontent.com/asset

[2015-07-29 13:11] natalieklein commented on #2349
@agramfort I'll try to do it today!

[2015-07-29 13:33] jona-sassenhagen commented on #2362
This is less about the implementation of the method in the context of MNE, and more about the nature of the procedure and the interpretation of its application to real neural data, isn't it?

[2015-07-29 13:35] jona-sassenhagen commented on #2317
As an example for this kind of plot from the literature, see e.g. http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4488605/figure/F3/

And yes, it's quite straight-forward to make a plot like this by hand.

But really, if you guys don't want it, just tell me and I'll close this.

[2015-07-29 13:44] trachelr commented on #2362
@jona-sassenhagen yess... @kingjr told me that reviewer often asked about how to provide interpretation of these decoding maps. This sign flip explain clearly why there's some poor performance regions, which is because the pattern of activity is inverted between the train and test set. Therefore the decoder prediction are also inverted.

[2015-07-29 13:47] jona-sassenhagen commented on #2362
FWIW this is discussed in Jean-Remi's PLoS ONE paper.

[2015-07-29 13:56] jona-sassenhagen commented on #2353
Nonstationarity should be attenuated sufficiently by filtering, and if you want to reduce the impact of movements, the proper way would be rejecting just these while preserving as much of the data as you want to model.

This is also what I find in the reference literature. E.g.

[Onton et al. 2005](http://www.ncbi.nlm.nih.gov/pubmed/16904745)

[2015-07-29 13:57] kingjr commented on #2362
Yes, this is discussed both in the PLoS ONE (where the reversal is very strong) and the TICS papers. Note the strict equivalence between negative scores and topography inversion, which allows you to make reverse inference if you see one or the other.

What's interesting in the PLoS as well as in the current example (although here we'd need more subjects to be sure), is that the reversal isn't comp

[2015-07-29 13:59] kingjr commented on #2317
I'll probably use it for EEG datasets.

[2015-07-29 14:04] jona-sassenhagen commented on #2362
... what coefficients?

And in a possibly related question - do you have a logistic regression classifier pipeline for GAT lying around that you've found works well?

[2015-07-29 14:14] kingjr commented on #2362
the clf.coef_, to see what topographies the clf is focusing onto.

For 2class problem with 306 sensors I use this by default: https://gist.github.com/kingjr/2476f00a28bc4d7873b7
If you have smaller dimensionality and higher SNR (e.g. if you use meta trials, reduce C to something like C=1e-4)

[2015-07-29 14:15] jona-sassenhagen commented on #2362
Thanks @kingjr !

[2015-07-29 15:55] trachelr commented on #2362
yep that's equivalent to univariate analyses... it's just another way of watching at the data.
@kingjr, unit problem is due to standard scaling.

[2015-07-29 16:00] natalieklein commented on #2349
@agramfort I believe I fixed the problem, and want to check how to incorporate the test before doing a PR. I haven't really contributed to a project like this before so I apologize if this is obvious, but would I just add the test to mne/test/test_events.py test_define_events() function?

[2015-07-29 16:02] kingjr commented on #2362
Is this done with your 'plot_patterns ' PR? If so, it could be slightly different to univariate (the topographies would  could berobust to some outlier for instance). I think we should make a notebook with all the decoding and GAT ideas and interpretations, as opposed to additional examples or scripts in mne.

[2015-07-29 16:14] trachelr commented on #2362
Yep it is done with the plot_patterns method in class mne.decoding.base.LinearModel.
and the patterns_ attribute is computed by cov * clf.coef_

[2015-07-29 16:18] kingjr commented on #2362
and the patterns_ attribute is computed by cov * clf.coef_

So, if you apply a robust covariance method, then you should be able to find cases were cov * coef will be better than the univariate :). This should be advantageous 1) when outlier epochs are present in the data set and 2) when some channels have intermittent artefacts. It'd be nice because these are two types of artefacts that are a bit

[2015-07-29 19:00] haribharadwaj opened #2365 "mne.channels.read_montage doesn't work for .elp"
A collaborator asked for help reading bdf files and locations as elp files with mne-python..
* Specifying ```read_montage(..., path='/blah')``` doesn't work.. Only specifying the ```kind``` input with full absolute path works... Can't figure out why from code..

* The ```numpy.readtxt(.)``` call within ```read_montage(.) ``` seems to error out for a file that I was given that readlocs(.) in EEG la

[2015-07-29 19:52] teonlamont commented on #2365
two things i noticed briefly:
1. this `*.elp` is different than the `*.elp` that is supported (looks like the supported one is BESA spherical)
2. well, there's this https://github.com/mne-tools/mne-python/pull/1001 and it is the format of the `*.elp` that you are mentioning but this pr was for electrode points that would be used for the `DigMontage`.

The dilemma is the filename extension seems to

[2015-07-29 20:11] agramfort commented on #2317
maybe you can make a tiny example with matplotlib so we don't face any
maintenance burden for a feature that does not seem core to me.

[2015-07-29 20:16] agramfort commented on #2365
is there a way to guess the file format?

[2015-07-29 20:43] agramfort commented on #2357
fixed first bug in :

https://github.com/mne-tools/mne-python/commit/1cc037e71d723350f3beb54f9a545d56cc4e6683

for the second one it's something in GAT I suspect.

[2015-07-29 20:43] haribharadwaj commented on #2365
Ah ok... Didn't know about multiple .elp formats... Thanks @teonlamont

[2015-07-29 21:01] haribharadwaj commented on #2365
Also, using EEGlab's writelocs() to save this as a BESA-spherical EEG and then trying read_montage(), it works fine :)...

Think this issue can be closed for now...

[2015-07-29 21:07] #2365 closed

[2015-07-29 21:49] neukym commented on #2273
We have the latest version of [Anaconda](https://store.continuum.io/cshop/anaconda/) on our system (2.3.0), which bundles the latest versions of Scikit-learn, Scipy and Numpy (among other modules):

- Scipy 0.15.1
- Numpy 1.9.2
- Scikit learn 0.16.1

It was installed using the following command set:

[code]

I was previously using Anaconda 1.9.1, but the errors [seem to be the same in both cases](

[2015-07-30 00:23] kingjr commented on #2357
thanks @agramfort! For the second bug, it's actually a crop / decimate issue too:
[code]
gives
[code]
I guess you should probably update _raw_times, or compute the decimated time differently
epochs.times = epochs._raw_times[epochs._decim_slice].

I'm not sure what _raw_times is, so I'll let you fix the bug ;)

[2015-07-30 00:34] Eric89GXL commented on #2357
I can look into it tomorrow

[2015-07-30 06:24] agramfort commented on #2273
looks like the only reason to explain this issue is the file. Could you
share the fif file so we can try to reproduce?

[2015-07-30 09:35] neukym commented on #2273
Sure. The raw file is [here](https://sandbox.kymata-atlas.org/myrawfile_raw_sss_movecomp_tr.fif) (temporarily - I will take it down once we know what the problem is). It is maxfiltered MEG/EEG/ECG/VEOG/HEOG Neuromag data (the unmaxfiltered `_raw.fiff` has the same problem - but I can supply this if needed).

[2015-07-30 16:52] #2357 closed

[2015-07-30 18:35] wronk commented on #2277
For everyone's info, the plan is to focus the next PR on fine-calibration. Getting that should lead to a 10x improvement in shielding factor and actually make this work useful in real processing pipelines.

[2015-07-30 18:43] Eric89GXL commented on #2277
Great. How should we handle the fine-calibration files that must be supplied? It would be good if we had a solution that allowed us *not* to have to supply it, if it can somehow be autodetected. Can we for example autodetect that a file was recorded at MGH or UW, and use the appropriate file if `cal_file=None` (the default)? Not sure if that's feasible, but it would be awesome if we could. We coul

[2015-07-30 19:14] wronk commented on #2277
If we knew the site, then presumably this should be possible. The file usually is named something like `sss_cal.dat` which is a sym link to the actual file like `sss_cal_3053.dat` where the number is a unique ID for each MEG site. I'm not sure if the folder tree containing that file is standardized though... I think a decent solution would be to just have those `dat` files for all the sites in MNE

[2015-07-30 19:19] Eric89GXL commented on #2277
Yeah, that's my idea, we should collect and keep the `.dat` files somewhere, probably auto-downloaded the first time they are needed to keep package size down. The question is, can we automatically determine which site/`ss_cal_*.dat` file each FIF file needs?

[2015-07-30 19:20] dgwakeman commented on #2277
IMO, we don't want to have a set file per site. This file does change with system maintenance etc.. A new one should be generated each time a maintenance occurs. While the changes, I have observed haven't been massive, they do and could occur. Adding additional checks to go through the dates of recordings etc. is messy.
+1 for generating our own (collecting ER data is easy with each recording).

[2015-07-30 19:24] Eric89GXL commented on #2277
@dgwakeman I'm just thinking that the way it works right now, is there is basically one file per site at any given point in time. If I'm at MGH and I do `maxfilter ...` then I automatically use whatever the latest cal file is. If I'm at UW and I do it, I get a different one, etc. So in some sense, the proposal is to preserve the existing behavior, and in some ways make it better because I won't ne

[2015-07-30 19:27] Eric89GXL commented on #2277
@staulu how careful should we be about different calibration versions? Is it safe (enough) to assume, as MaxFilter does currently, that we can get away with one `sss_cal.dat` file per site for all recordings from there?

[2015-07-30 19:32] dgwakeman commented on #2277
I guess it is no worse, than the current setup, assuming we have someone at each site updating this file as necessary to us at github. Maybe it would be better if at first run it asked for the location of `sss_cal.dat`, and made a symlink to  and used it by default each time. That way we don't have to check that we have the file for each site up to date here?

[2015-07-30 19:44] wronk commented on #2277
@Eric89GXL, there might be a way to determine the site, but I doubt we can rely on it as data gets anonymized, manipulated, etc.

@dgwakeman, the code for generating our own will be nice but it will probably come in as a feature later down the road. It may also come with more legal questions since that was developed at Elekta...

Symlink would be good. It's usually on the MEG computer system thoug

[2015-07-30 19:45] Eric89GXL commented on #2277
We'd probably need each user to get the file from their system, which wouldn't be the end of the world. We can store common ones on the Wiki if we want.

[2015-07-30 19:47] Eric89GXL commented on #2277
i.e., you ssh / scp once to get the file on your system, then mne-python stashes it somewhere for future use. It would still be good to have some sanity checking if we could so that we try to avoid mis-application of systems. I think the acquisition machine might be stored in the `info` structure somewhere, in which case the user could enter that name along with the cal file, and only allow auto-u

[2015-07-30 19:56] dgwakeman commented on #2277
@wronk, it should be accessible to any machine that can use maxfilter, so it should be on the network somewhere, usually `$NEUROMAG_ROOT/databases/sss/`.

[2015-07-30 22:17] Eric89GXL opened #2368 "BUG: Can't make forward solution anymore"
If I have a data file with only MEG channels, I get an error in `make_forward_solution` that I didn't used to get. The `_prep_channels` used to work if either MEG or EEG was present, even with `meg=True, eeg=True` in the call. Now I get an error, which is a regression, due to the logic being changed to this:
[code]
@wronk can you change the conditional to something functionally equivalent to `if e

[2015-07-30 22:21] wronk commented on #2368
Ya, will do. SBT

[2015-07-30 22:38] staulu commented on #2277
I am afraid that there is no way to reliably check the site that the sss_cal.dat file corresponds to. We just need to trust that Elekta has shipped the correct file and that nobody has accidentally changed it afterwards. The calibration information should be pretty stable over time, but major hw operations, such as changing of many sensors, could require a new calibration. The most reliable way to

[2015-07-31 18:39] leggitta opened #2370 "Noticed redundancy on decoding example: plot_decoding_time_generalization.py"
I just noticed that in ```examples/decoding/plot_decoding_time_generalization.py```, there's an events file name that points to the wrong dataset, but nothing breaks because the events are read using find_events

https://github.com/mne-tools/mne-python/blob/master/examples/decoding/plot_decoding_time_generalization.py#L32-L39

[2015-07-31 20:02] mainakjas commented on #2370
indeed, can you make a PR?

[2015-07-31 20:07] agramfort commented on #2370
fixed in master

thakns @leggitta for the bug report

[2015-07-31 20:07] #2370 closed

[2015-07-31 20:53] choldgraf opened #2371 "Should pick_channels throw an error if you give a string?"
I say this because it seems to assume that you're passing it an iterable, so if you pass a string then it will break it up into individual letters, which accidentally caused some problems for me earlier.

Another strange behavior is that it will not throw an error if you supply incorrect channel names, so long as at least one of the channel names supplied does match.

E.g., two examples of strange

[2015-07-31 21:02] agramfort commented on #2371
PR welcome to check that we get a list as input and not a str

[2015-07-31 21:11] choldgraf commented on #2371
OK cool. Will do.

Sent from my phone, apologies for the curtness and type-os
On Jul 31, 2015 2:02 PM, "Alexandre Gramfort" <notifications@github.com>
wrote:

[2015-07-31 21:44] mainakjas opened #2372 "add i/o for ctf"
In PR https://github.com/mne-tools/mne-python/pull/2358, I was trying to read in CTF data only to realize we don't have readers for CTF. I'm just raising this issue so that it's not forgotten. For now I'll just convert them to `fiff` using our C utilities.

[2015-08-01 16:01] kingjr commented on #2370
My bad thanks !

On Friday, 31 July 2015, Alexandre Gramfort <notifications@github.com>
wrote:

[2015-08-03 10:37] jona-sassenhagen opened #2379 "equalize_epoch_count uses lots of RAM"
```mne.epochs.equalize_epoch_counts``` (using "mintime") takes 90GB of RAM for a single subject on some of our data sets, and is really slow. However, the "truncate" method seems undesirable. If ```mne.epochs.equalize_epoch_counts``` can't be optimized trivially, how about something like this?

[code]

[2015-08-03 11:10] Eric89GXL commented on #2379
I don't think that the actual choice of the subset of epochs to use should affect the memory. If what you write above takes less memory, then we should indeed just optimize the existing method.

FWIW there is a principled reason behind the mintime. If noise properties vary as a function of time, you're selecting epochs as close in time as possible to minimize any effect of those changes.

[2015-08-03 11:35] jona-sassenhagen commented on #2379
I understand that, which is why I don't just use "truncate".

My code snippet should get epoch subsets that are at least somewhat similar, while at least for my test data being much faster. Maybe simply offer it as a 3rd method option ("mintime", "truncate", "approx_mintime")?

[2015-08-03 11:37] Eric89GXL commented on #2379
It seems like a better solution is to make the existing method more efficient. Have you looked to see why the existing one does not work as efficiently?

[2015-08-03 11:42] jona-sassenhagen commented on #2379
I tried ... I think it's just doing a lot of iterations by doing an all-vs-all check.
For my data, ``` _get_drop_indices``` is what takes so long, and it calls ```_minimize_time_diff```once per event, which in turn "# Check[s] every possible removal to see if it minimizes". The minimization in turn relies on np.interp. Too much maths + recursion for my feeble lib arts mind.

[2015-08-03 11:47] Eric89GXL commented on #2379
How long does it take? Are you sure it's the searching step that takes 90 GB? That's a *ton* of memory for such a simple operation...

[2015-08-03 11:50] Eric89GXL commented on #2379
Can you save two problematic event lists to an npz and upload it somewhere? I can take a crack at optimizing it.

[2015-08-03 14:08] jona-sassenhagen commented on #2379
I think I misunderstood something - the *python process* takes up a lot of RAM while this function is running, but when I run just the _get_drop_indices function in isolation on a fresh instance, it just takes up a lot of processor power for a few seconds. Seems the RAM usage is independent of the calculation.

Either way, here are two event sets taking surprisingly long on our machines.
https://w

[2015-08-03 14:13] jona-sassenhagen commented on #2379
And there does actually seem to be a decent benefit from the more involved calculation; here is "mintime" vs. my method:
![unknown-49](https://cloud.githubusercontent.com/assets/4321826/9039252/792956f0-39fa-11e5-9227-e05f3cc240b3.png)
![unknown-48](https://cloud.githubusercontent.com/assets/4321826/9039249/743dda26-39fa-11e5-9da9-2e9987175914.png)

[2015-08-03 15:09] kazemakase commented on #1240
Hey, guys! Long time no see :)

I found a rather neat way to warp any EEG layout to a sphere, as required by the CSD splines.
It takes the XYZ-Coordinates of the sensors and transforms them to the surface of a unit sphere (while minimizing displacement in the original coordinate space).

When testing is done I'll put it into the SCoT repo sooner or later. If you're interested I'll put it up sooner

[2015-08-03 16:01] agramfort commented on #1240
L

Indeed ;)

Sooner is always better

[2015-08-03 18:58] Eric89GXL commented on #2379
What do you mean by surprisingly long? A few seconds doesn't seem bad to me, but maybe you're doing hundreds or thousands for some application that makes it painful?

[2015-08-03 18:58] Eric89GXL commented on #2379
(thanks for the files, I'll try to take a look today or tomorrow)

[2015-08-03 19:09] Eric89GXL commented on #2379
BTW for future reference you can use `np.savez_compressed` to save multiple arrays to a single file

[2015-08-03 19:25] kingjr commented on #2379
I'm not sure this is a relevant comment, but if you're encountering this
issue because you want to avoid biased decoding predictions, have you tried
using 'class_weight' instead of data truncation ? It should be better
because you don't drop data.

On Monday, 3 August 2015, Eric Larson <notifications@github.com> wrote:

[2015-08-03 19:43] jona-sassenhagen commented on #2379
Indeed @kingjr - that is,

[code]

something like this?

[2015-08-03 19:56] kingjr commented on #2379
Yes. Most linear classifiers have this option, although they don't solve it
in the same way.

If you have a complex dataset (e.g hierarchical classes) the best is to use
sample_weight on the true class (and adapt the stratfied folding using the
latter too) which can be distinct from the fitting class. This is a bit
tricky to use it with the gat class but I can send you some code if you
need.

On M

[2015-08-04 08:16] kazemakase commented on #1240
Right. See here: https://github.com/scot-dev/scot/pull/60

[2015-08-04 08:49] jona-sassenhagen commented on #2004
Okay I finally figured out something that works. Thanks @kingjr

The solution to the baseline problem is to only ever look at subject average contrasts between the average baseline condition predictions (e.g,, the Y=0 condition in the training stage) and individual contrast predictions (e.g., everything else). That way, baseline effects cancel each other out.
(I'm very vary of using hard high pass

[2015-08-04 08:49] #2004 closed

[2015-08-04 09:35] kingjr commented on #2004
Great, although I'm not sure to have followed everything regarding the
basline...

Regarding your code:
- note that you can specify `y` a the fitting stage, so that you don't have
to overwrite `epochs.events` or do a deep copy.
- gat.predict returns y_pred so you could return this directly instead of
gat
- I think np.squeeze needs not asarray.

On Tuesday, 4 August 2015, jona-sassenhagen <notifica

[2015-08-04 11:47] agramfort commented on #1240
looks clean and simple !

Let's wait for @dengemann to come back from his summer break.

[2015-08-04 17:26] dgwakeman opened #2381 "use of ~ (Stupid rant by dan)"
This came up in discussion of the excellent work by wronk on sss 2374 (all links not included to avoid sidelining that work).

Feel free to ignore me, but I at least wanted to voice my thoughts (please don't take anything personally in here. these are just my thoughts on the basic design).

The issue is that a users home directory is fundamentally the wrong place to put anything that is not user s

[2015-08-04 18:00] mainakjas commented on #2381
With what you describe, you'd need sudo access to install `mne-python` I guess? Currently, I like to have my mne install with anaconda without having to bug the sys-admin for anything. The fact that there is a site-wide installation shouldn't prevent individual users from using `mne-python` no?

[2015-08-04 18:05] dgwakeman commented on #2381
With what you describe, you'd need sudo access to install mne-python I guess?
     Currently, I like to have my mne install with anaconda without having to bug the
     sys-admin for anything.

Why would you need sudo access? This directory could be anywhere the person who wants to setup the sitewide install wants to put it and set it in the sitewide config?

     The fact that there is a site-wid

[2015-08-04 18:16] mainakjas commented on #2381
hmm ... maybe I don't know very well how the installation works :) But at least on my workstation I don't have write access to `/share/`
`drwxr-xr-x 636 root root   20480 Aug  4 18:37 share`

So, I don't know how `easy_install mne --user` would work if there was no site-wide installation / setup already with something for mne in `/share/` directory.

[2015-08-04 18:18] dgwakeman commented on #2381
Ok, to clarify I don't mean `/share/`, I mean some mne-python specific `share` directory. I should have written it better

[2015-08-04 20:04] #2379 closed

[2015-08-04 20:12] agramfort commented on #2381
@dgwakeman I understand the home issue given the space constraints at MGH in home dirs yet I agree with @Eric89GXL that we should not change default behavior just for this.

For forward computation you need write access on the folder at runtime.

Regarding cal file I would use a path in the mne config file that would point on sites to the system location. Let's avoid multiple copies of this file a

[2015-08-04 20:56] jona-sassenhagen commented on #2004
Maybe I'll try and send you a description of what I mean wrt. the baseline thing. Could be an interesting case.

[2015-08-05 11:19] jona-sassenhagen commented on #2381
fwiw I don't even install MNE, I just download it and do sys.path.append(...

[2015-08-05 11:53] agramfort commented on #2381
works but that's a bit ugly and not recommended.

[2015-08-05 14:15] LaetitiaG opened #2383 "ica.plot_sources X axis"
Hi,
I wanted to use ica.plot_sources on raw data for a specific time period, so I used the start/stop option to specify it. But whatever the start option I precise, the X scale always begins with 0. Is it just the scaling display that is wrong or is it really the data shown? Additionally, it would be nice to add the legend (to be sure that it's time in seconds). Maybe it would be easier if the sta

[2015-08-05 15:14] #2328 closed

[2015-08-05 18:40] agramfort commented on #2383
certainly something for @jaeilepp :)

[2015-08-05 20:39] mainakjas opened #2385 "bug with fix_stim_artifact for raw data"
To reproduce first fetch my branch from the mne-python dev folder:
[code]
Next, run this script:
[code]
You'll see that the stim artifact is still visible around 4 ms in the second plot.

I won't be able to look into this in the next 5 to 7 days, so if anyone is bored and wants to take a shot at it -- feel free :)

[2015-08-06 09:02] jaeilepp commented on #2383
So is the idea that start and stop should crop the data? The start and stop parameters are for selecting the time window to plot and are there basically for legacy reasons, because now it's possible to change the time window at runtime.

[2015-08-06 09:59] LaetitiaG commented on #2383
Well, I'm not saying that they should (or not) crop the data, but that the X-scales legend is not in accordance with the actually displayed data window. I just want to see in the legend, for instance, 20s to 40s if I selected the start/stop indices corresponding to my data at 20s/40s. I hope I'm clear. (for the moment, the X scale legend will display something like 0 to 20)

[2015-08-06 10:14] jaeilepp commented on #2383
Wait... Are you using the old version? In the current development branch the plot_sources is completely remade and looks something like this:
![screenshot from 2015-08-06 13 12 51](https://cloud.githubusercontent.com/assets/3456414/9109249/e29492c8-3c3c-11e5-9992-0ac65a9fdb5a.png)

[2015-08-06 11:19] LaetitiaG commented on #2383
Ahh, it looks like I'm using the old one (mne 0.9.0) with one plot per component. And it looks like the new one looks great! So just don't take into account my previous comments, sorry!
When will the new version be released?

[2015-08-06 11:34] jaeilepp commented on #2383
I don't know the release schedule, but the instructions for getting the latest development version can be found here: http://martinos.org/mne/stable/getting_started.html.

[2015-08-06 12:00] Eric89GXL commented on #2383
Last conversation I remember we talked about a September release.

[2015-08-06 13:43] agramfort commented on #2383
+1 for september.

[2015-08-06 14:30] maedoc opened #2388 "Q: sEEG source estimate"
I tried a volumetric source estimate on sEEG data and got it to _execute_ though I didn't yet check the results. The difficulties I encountered were

- defining the forward `dict`

[code]
where `Vr` is calculated for a set of points in space using Sarvas 1987 Eq 12 (point dipole in homogeneous space).

- using the EEG channel type because `prepare_noise_cov` [only expects MEG or EEG channels](http

[2015-08-06 14:32] maedoc commented on #2388
Also, in free orientation, MNE expects the lead field to store the three dipoles continguously right?

[2015-08-06 14:52] LaetitiaG commented on #2383
Ok, thanks!

[2015-08-06 14:52] #2383 closed

[2015-08-06 15:13] Eric89GXL commented on #2388
I suppose that's a reasonable way, but it would be better to extend the forward code to support `sEEG` somehow so you don't have to construct a `dict` yourself. You must already have the forward calculation code, so it would be a matter of fitting it in the right place. @agramfort WDYT?

Yes, they should be contiguous.

[2015-08-06 15:33] maedoc commented on #2388
OK cool. My implementation for `Vr` is

[code]

where `reg_xyz` are the voxel centers and `seeg_xyz` are the contact locations. I ended up with the bipolar form because it seemed to give more spatially specific localizations.

[2015-08-06 15:38] kingjr commented on #2388
It's a bit off topic, but can I ask how you reference your sEEG before estimating the cov etc?

[2015-08-06 15:45] maedoc commented on #2388
Quite on topic I think, reminds me of a third difficulty: I ran into MNE asking for an average reference for EEG (since sEEG not supported). Usually an external EEG style electrode is used in the clinical data I'm using, but it's not always in the dataset unfortunately.

[2015-08-06 16:04] kingjr commented on #2388
Thanks. I'm not an expert on this, but I *think* [needs confirmation] that the average reference makes sense because scalp EEG sensors roughly cover a sphere (so, the average ref should tend towards zero in a world where the brain is spherical), but I don't think that holds with sEEG.

[2015-08-06 17:28] jona-sassenhagen commented on #2331
Even though iterative fitting isn't done yet, maybe we could for now close this for #2382 as it has brought decent performance improvements and I'd rather do other stuff before turning to iterative fitting.

[2015-08-06 17:30] jona-sassenhagen commented on #2388
@kingjr if you're actually intrinsically interested in EEG average referencing, there's a lot of literature on this and the basic idea is that with typical setups, the sphere is approximated pretty badly. (On the other hand, literally every other referencing scheme sucks too.)

[2015-08-06 17:34] agramfort commented on #2331
Fine with me

[2015-08-06 17:42] kingjr commented on #2388
thanks Jona, yes that was my understanding; my worry is that this is a critical issue if ones wants to do source modelling with seeg.

[2015-08-06 17:43] kingjr commented on #2388
(That's why I'd go for current source density only.)

[2015-08-06 20:59] jona-sassenhagen commented on #2331
close for #2382 for now

[2015-08-06 20:59] #2331 closed

[2015-08-06 21:13] agramfort commented on #2388
extending the forward code to support sEEG is not straightforward and the
only solver I know that can do this is OpenMEEG. A nice integration of
OpenMEEG into MNE for "exotic" forward models has been on my todo list for
some time now... I am glad to see someone going in this direction.

[2015-08-06 21:16] agramfort commented on #2388
regarding referencing this is no fundamental issue as long as it stays
linear such as for the average reference. If it can be done with a
proj everything should go smoothly.

I am more worried about whitening and various parameters that have
been hard coded for MEG/EEG in the inverse solvers.

[2015-08-06 21:21] maedoc commented on #2388
I've noticed that sEEG tends to be highly kurtotic ("spiky"), and I was a little worried about covariance estimation being biased.. would it be worth trying [a robust covariance estimator](http://scikit-learn.org/stable/modules/covariance.html#robust-covariance-estimation)?

[2015-08-06 21:22] agramfort commented on #2388
are these spikes artifacts? Why not using the reject trick and a standard
noise cov?

[2015-08-06 21:24] maedoc commented on #2388
I understand but just wanting to have _something_ to use in the short short term. The source estimates then get smoothed and are data for a further Bayesian inversion... so I'm not yet looking for quantitatively correct estimates.

[2015-08-06 21:27] maedoc commented on #2388
The period used for data cov is the seizure, so high kurtosis, whereas the period used for noise cov is after seizure, quieter but still contains many spikes. Reject samples isn't an option here, but maybe I'm not sure what you mean by the reject trick.

[2015-08-07 02:18] Eric89GXL commented on #2381
@dgwakeman I agree in principle it would be nice if we could ship the tables with the package because of the separation of user-specific and general, as you say. We don't want to increase our package size by 100 MB by distributing the files with the package (which would be the cleanest thing to do), especially given that each user can generate the files once in a matter of a few (or tens of) secon

[2015-08-07 12:30] dgwakeman commented on #2381
If I can think of something that addresses this more cleanly, I will give it a whirl (though I have recently noticed I have a few open issues, which I should do first. I think I'll close this. I don't know much about the install etc. things, so perhaps I'll pester @haribharadwaj to show me how he does it here, before I take a stab at this. Thanks for the discussion!

[2015-08-07 12:30] #2381 closed

[2015-08-07 19:05] ImmanuelSamuel opened #2389 "Q: topomap"
I have a topo plot from eeglab and mne. They look very different. I am assuming that it is because eeglab flattens the electrode position or something. Its just that eeglab plot so much cleaner.

Can someone figure out how the same data looks so different between the two plots. If you already have figured it out please let me know how to get a cleaner version. Thanks.

EEGLAB
![image](https://clou

[2015-08-07 19:15] ImmanuelSamuel commented on #2389
data = -0.00054827592108 0.031668073094 0.0704223162929 0.0865540229014 0.085150043403 0.0457380793299 0.0509495732895 0.0987022550764 0.0801886633895 0.04976969651 0.00614093831533 -0.0373887332355 -0.0197260623702 -0.000444422313751 0.0248963507643 0.0589171499815 0.0717817674042 0.0787944587508 0.130753138626 0.124899705387 0.0975269669664 0.0419575393272 -0.00793216362559 -0.0151265531253 -0.0

[2015-08-07 19:15] ImmanuelSamuel commented on #2389
Please use the above data to replicate the effect

[2015-08-07 19:22] jona-sassenhagen opened #2390 "reference channel positions and brainvision"
When I import BV data with the reference keyword set, the reference channel is at position 0,0,0 even though it is specified in the montage file.
(I don't understand that part of the BV code, sorry.)

@teonlamont

[2015-08-07 19:43] mattjerhart opened #2391 "drop_epochs and then drop_bad_epochs not dropping"
[code]

Ultimately, those epochs are all still in epochs. Am I doing something wrong?

[2015-08-07 20:09] Eric89GXL commented on #2391
When you do `epochs[c]`, you are actually making a new `Epochs` instance, so any changes you make to that instance will have no effect on the original `epochs` object. If you do:
[code]
You should see `epochs2` has the required epochs removed, while `epochs` in unchanged.

[2015-08-07 20:14] agramfort commented on #2389
are you using a montage file?

[2015-08-07 20:21] mattjerhart commented on #2391
Got it, is this how I should be dropping epochs for a specific condition or is there a cleaner way? c = 'cond_name' in this case, sorry, didn't realize c could be integers of trial numbers as well.

[2015-08-07 20:22] ImmanuelSamuel commented on #2317
For people using high-density EEG (128, 256 channels), providing a 3X3 channel representation that shows a generalized effect is very useful.

[2015-08-07 20:25] Eric89GXL commented on #2391
I usually figure it out by doing the arithmetic with indices into the `events` array. @agramfort might know a better way.

If you are trying to equalize trial counts, we do provide some functionality for doing that in a principled way, too -- look for `equalize_epoch_counts`.

[2015-08-07 20:26] ImmanuelSamuel commented on #2389
Its an SFP file

     A01	       0	       0	       1
     A02	       0	-0.19937	 0.97992
     A03	       0	-0.39073	  0.9205
     A04	       0	-0.56641	 0.82413
     A05	-0.27528	-0.66458	 0.69466
     A06	-0.50865	-0.50865	 0.69466
     A07	-0.59637	-0.59637	  0.5373
     A08	-0.54874	-0.75528	 0.35837
     A09	-0.57972	-0.79792	 0.16505
     A10	-0.58743	-0.80852	-0.034899
     A11	-0.57154	-0.7

[2015-08-07 20:36] mattjerhart commented on #2391
I working with a word repetition task, so I'm dropping words that aren't in both conditions because of previous rejection. equalize_epoch_counts is very nice, but I've got to pick out some specific trials.

[2015-08-07 20:38] agramfort commented on #2391
see

epochs.selection

to know what epochs remain after calling drop_bad_epochs()

[2015-08-07 20:39] Eric89GXL commented on #2391
Instead of dropping ones you don't want, maybe select the ones you do want, as:
[code]
?

[2015-08-07 20:43] agramfort commented on #2317
I would write an example then but don't add a specific function in the MNE
code base. It's fine if example is a bit long. At least we'll have a demo
and we don't need to worry much about maintenance.

[2015-08-07 20:48] agramfort commented on #2389
please share a full code snippet we can easily copy paste to reproduce the
pb.

You can use gist.github.com

[2015-08-07 20:54] ImmanuelSamuel commented on #2389
https://gist.github.com/ImmanuelSamuel/39a1762374ef26888306

[2015-08-07 20:55] ImmanuelSamuel commented on #2389
https://gist.github.com/39a1762374ef26888306.git

[2015-08-07 20:57] agramfort commented on #2388
I mean reject time windows with a spike like we do for Epochs with reject
param.

[2015-08-07 20:59] agramfort commented on #2389
can an EEG friend pitch in?

cc @wmvanvliet @haribharadwaj @dengemann @christianbrodbeck ?

[2015-08-07 22:27] mattjerhart commented on #2391
Thanks for the help. This seems to be doing what I want:

[code]

[2015-08-07 22:27] #2391 closed

[2015-08-08 00:19] haribharadwaj commented on #2389
@agramfort, @ImmanuelSamuel: This is just the effect of how the actual 3D xyz map on to the 2D plane of the plot... mne-python just does a projection whereas eeglab seems to do a surface transformation (i.e., like globe to map). This can be seen from how the density of dots representing electrode locations is different between the two.

In sum, it is a not a problem per se unless there is a prefer

[2015-08-08 06:30] wmvanvliet commented on #2389
I think what you need here is a topo plot with a "skirt". The EEGLAB plot is cleaner, but the positions of the electrodes are wrong (unless you used a very strange cap). @dengemann Can MNE plot topo with a skirt?

[2015-08-08 06:41] agramfort commented on #2389
would this https://github.com/scot-dev/scot/pull/60 help?

[2015-08-08 07:08] wmvanvliet commented on #2389
If you look at @ImmanuelSamuel's MNE Python image, you see that electrodes on the side of the head are all squished together. The topo plot is simply a top-down view. If you look at @ImmanuelSamuel's EEGLAB image, you see that these electrodes are "spread out", making the image much clearer. However, now the electrodes don't align with the head circle anymore (it's like the subject is wearing a [K

[2015-08-08 17:34] jona-sassenhagen commented on #2389
@wmvanvliet while you're at it: one thing I like about the EEGLAB way is that electrodes are plotted outside the head circle if it makes sense to do so. e.g., mastoids, suborbital electrodes, and OZ actually end up outside the head circle.

[2015-08-09 21:07] kingjr opened #2393 "Q: help on 'too many neighbors bug'"
Hey,

I'm encountering an error on some of my subjects when running mne.bem.make_watershed_bem and I'm not sure what to do here. Do you think it's related to a non-closed mesh?

[code]

leads to
[code]

which ends up crashing

[code]

Thanks a lot!

PS: shall I use the mailing list rather than github for this kind of questions?

[2015-08-09 21:35] agramfort commented on #2393
yes use the mailing list.

have you tried to use the atlas or gcaatlas options which help if you have
a crappy MRI.

[2015-08-09 22:50] Eric89GXL commented on #2393
I usually get that error when there is noise at the bottom of the MRI. 99%
of the time, zeroing out the bottom slice in T1.mgz and rerunning the
surface generation fixes it for me.

[2015-08-09 23:13] kingjr commented on #2393
@Eric89GXL Thanks, I never manipulated mgz data, do you have a script that check this noise and zero it?

[2015-08-09 23:28] Eric89GXL commented on #2393
No, we do it manually using `FreeView` because it's so rare, but come to think of it, it should be almost trivial with `nibabel` to do the zeroing. We never check the noise, we just try the zeroing fix and it almost always works.

[2015-08-10 05:57] wmvanvliet commented on #2389
@jona-sassenhagen yes, that's what I mean with the "skirt"

[2015-08-10 10:56] wmvanvliet commented on #2389
I looked into the matter. MNE and EEGLAB approach mapping the top half of a sphere to a plane differently.

Electrode coordinates are given in spherical coordinates: radius, inclination and azimuth.

MNE uses a top-side view of the sphere, inclination is simply ignored: `polar_to_cart(radius, azimuth)`. This means electrodes near the edges get squashed together.

EEGLAB calculates the arc length b

[2015-08-10 11:00] wmvanvliet commented on #2389
EEGLAB's approach reveals more detail near the edges, however MNE's current approach distorts less.

Obviously the best way to visualize a sphere is as an actual 3D sphere... :)

[2015-08-10 11:01] Eric89GXL commented on #2389
Is that the same as a conic projection? If so, then we can just have the default be `projection='azimuthal'` (current behavior) and add `projection='conic'`. It seems like it would only be a few lines.

[2015-08-10 11:02] wmvanvliet commented on #2389
Yes it is! Now I'm off to read the wikipedia page...

[2015-08-10 11:08] Eric89GXL commented on #2389
A fun challenge for @jaeilepp or someone else would be to add turntable-like interactive click-drag moving for the `azimuthal` plots so that different angles of the sphere can be shown :) But I'm not sure it would be used often enough to justify the effort.

[2015-08-10 11:08] wmvanvliet commented on #2389
Of course, with azimuthal projection, points below the equator (like mastoid reference electrodes) are problematic. This is the case in @ImmanuelSamuel's Biosemi128 montage and if you look at the screenshot you see that near the bottom edge there are twice the number of electrodes there should be, which screws up the data interpolation.

[2015-08-10 11:11] wmvanvliet commented on #2389
I suggest to keep 'azimuthal' as default, but raise a warning if electrodes below the equator are present. The warning suggests the user to use conic projection instead.

@jona-sassenhagen Conic projection allows straightforwardly for a "skirt".

[2015-08-10 12:10] agramfort commented on #2389
sounds like a plan.

[2015-08-10 12:17] jona-sassenhagen commented on #2389
Conic projection would be cool.

[2015-08-10 12:21] wmvanvliet commented on #2389
Wait... `plot_topomap` doesn't map 3D to 2D at all. It expects a layout object. All the mapping code is in the layout module.

@ImmanuelSamuel the `pos` parameter of `plot_topomap` expects 2D coordinates. Unfortunately it silently picks the first two coordinates without raising a warning or error. So in your case, it simply picks the x and y coordinates and drops the z (which in this case results

[2015-08-10 14:42] wmvanvliet commented on #2389
Conic projection without skirt:

![figure_1](https://cloud.githubusercontent.com/assets/428273/9174200/18ee37e6-3f87-11e5-9f8a-54d8392fec95.png)

Starting to look like the EEGLAB output... I'll open a PR as soon as this is ready.

[2015-08-10 14:48] agramfort commented on #2389
beautiful. At the same time can you raise an error if pos has more than 2
columns in plot_topomap ? thx heaps

[2015-08-10 16:31] ImmanuelSamuel commented on #2389
Thanks @wmvanvliet and everyone for this. Yeah I started using plot_topomap by creating an evoked object but that didn't have the axis parameters for me to put in a subplot. So this is great!!

[2015-08-10 16:40] #2385 closed

[2015-08-10 21:19] kingjr commented on #2393
It was a libgfortran lib issue missing from the os environment.

Thanks for your help!

[2015-08-10 21:19] #2393 closed

[2015-08-11 15:53] kingjr opened #2397 "BUG: GAT with LeaveOneLabelOut"
@dengemann @agramfort

The `GAT` doesn't work with the `LeaveOneLabelOut` cross val object because it doesn't have a `n_folds` params, which is used to check that identical data are passed to `fit` and `score` functions.

I'm not sure whether
- I should ask the on the sklearn rep whether `n_folds` shouldn't be added to the LOLO class (after all, it makes sense to speak of folds for a LOLO doesn't

[2015-08-11 22:03] wronk commented on #2277
@akclee, this github issue outlines all the work that's either complete or left to be done for my GSoC project

[2015-08-12 15:40] wmvanvliet commented on #2389
See #2399

[2015-08-12 19:57] agramfort commented on #2397
use an aux function to get the number of folds.

 - first try n_folds
- if not available use len(list(cv))

[2015-08-12 19:58] #2397 closed

[2015-08-12 19:58] agramfort commented on #2397
as usual PR welcome

[2015-08-12 22:38] kingjr commented on #2397
I'll do the aux function.

You mean on sklearn?

[2015-08-13 04:56] haribharadwaj opened #2403 "Container for DICS solution.."
Looks like regardless of the type of source space in the forward, `_apply_dics(.)` is trying to use a surface `SourceEstimate` container for the result.. I think figuring out the right container based on the `src` type in the `forward` input should fix it? Is there any other catch?

ping @rgoj

[2015-08-13 06:54] agramfort commented on #2397
no in time_gen.py in MNE

[2015-08-13 06:55] agramfort commented on #2397
wait a second. It seems you can just do len(cv)

[2015-08-13 06:58] agramfort commented on #2403
indeed. PR welcome.

[2015-08-13 12:07] ImmanuelSamuel opened #2404 "How to obtain ICA weights for each component?"
How to get the channel weights matrix for each ICA component? I can get the weights for the PCA components but not the ICA components. Coming from EEGLAB where specifying number of pca components gives me same number of ica components, this is different. Any docs or papers that can help me understand this?
Thanks

[2015-08-13 14:28] kingjr commented on #2397
indeed, thanks. I'll wait for review in https://github.com/mne-tools/mne-python/pull/2401 to put everything in the same PR as this (and other things) are tiny changes.

[2015-08-13 18:48] jona-sassenhagen commented on #2404
Try this function
[code]
which will return the mixing matrix.

[2015-08-13 20:50] agramfort commented on #2397
I would make a dedicated PR as merging the other branch will require a bigger review...

[2015-08-13 21:33] kingjr commented on #2397
ok

[2015-08-14 06:04] wmvanvliet commented on #2389
@ImmanuelSamuel The improved topomap code was just merged. Check this gist for how to plot your data:

https://gist.github.com/wmvanvliet/6d7c78ea329d4e9e1217

[2015-08-14 06:04] #2389 closed

[2015-08-14 10:56] wmvanvliet opened #2405 "Q: concatenating epochs objects"
I have an experiment that is split into two parts. After extracting trials I have two Epochs objects. Now I wish to concatenate them, so that all epochs are in a single Epochs object. Is there a function to do so?

[2015-08-14 11:03] mainakjas commented on #2405
Take a look at `concatenate_epochs`.

`from mne.epochs import concatenate_epochs`

that does it for you?

[2015-08-14 11:10] wmvanvliet commented on #2405
exactly what I was looking for, tnx!

[2015-08-14 11:10] #2405 closed

[2015-08-15 18:16] kingjr opened #2406 "EpochsArray should throw clearer error than 'no matching events'"
I think there may be a numerical error when creating epochs with `EpochsArray`? Or is it a deliberate choice ?

[code]
[code]
[code]
[code]

[2015-08-15 18:18] kingjr commented on #2406
(I deal with continuous regressors coded in the events values, e.g. angle orientation, pich etc)

[2015-08-15 18:21] kingjr commented on #2406
Not a numerical error, it just won't accept float. Any rational for this?

[2015-08-15 18:25] Eric89GXL commented on #2406
Some reasons are historical (e.g., trigger values are integer coded in most MEG / EEG systems). But one good reason is that float comparisons are notoriously flakey; if actual `==` / exact functionality is desired, using integers and integer arithmetic is much safer. Is it possible for you to convert your scheme to an integer-based representation?

[2015-08-15 18:25] Eric89GXL commented on #2406
In any case, at the very least we should raise an error for now if non-integer event codes are supplied.

[2015-08-15 18:32] agramfort commented on #2406
+1

[2015-08-15 20:25] kingjr commented on #2406
I deal with angles in radians throughout the analyses but there's always a way. But this may be a problem faced by others, so +1 for the raise.

[2015-08-16 00:36] Eric89GXL commented on #2406
It might be slightly annoying, but you could construct a `dict` to map the floats to ints.

I'm going to reopen this issue until we take care of the error-raising with PR. I can take care of it Monday.

[2015-08-16 02:50] kingjr commented on #2406
Maybe this will work in most cases indeed. In my (highly ad hoc) case this isn't the case: I construct meta epochs (I have ~ 6000 thousands trials, which is often too much for my laptop),  by averaging a variable number of epochs, and linking it to the mean event value (which thus vary as a function of the meta epoch parameter). So I can't predict the corresponding dict easily - nor can I just map

[2015-08-16 13:20] agramfort opened #2407 "example broken due to viz changes"
See eg plot_read_evoked.py

get : KeyError: 'eog'

@jaeilepp I suppose it's due to some recent changes you made. thanks for taking a look.

[2015-08-16 14:52] kingjr opened #2408 "BUG? Time after decimation & EpochsArray"
@Eric89GXL Decimating epochs and recreating new epochs with `EpochsArray`, don't generate identical `times`.

[code]
[code]

gives

[code]

[2015-08-16 15:29] kingjr opened #2409 "XDAWN & plot pattern examples: cross validation?"
@alexandrebarachant I think we should add a cross validation step in the XDAWN denoising example, there could be an overfitting here couldn't there?

[2015-08-16 15:39] kingjr commented on #2409
@trachelr This is also applicable to your plot_pattern example?

[2015-08-16 15:57] Eric89GXL commented on #2408
Floating point arithmetic is not exact, I'd expect errors of that order of
magnitude unfortunately

[2015-08-16 16:05] agramfort commented on #2408
indeed. Difference is 2.7755575615628914e-17 ... beyond float64 eps.

@kingjr welcome to floating point arithmetic ...

[2015-08-16 16:06] agramfort commented on #2409
what examples?

[2015-08-16 16:12] agramfort commented on #2406
@kingjr can you take care of the PR that raises a warning when passing non
integer values as events in EpochsArray?

[2015-08-16 16:14] Eric89GXL commented on #2406
I think it needs to be an error to be safe

[2015-08-16 16:28] agramfort commented on #2407
see https://github.com/mne-tools/mne-python/pull/2410

[2015-08-16 16:35] agramfort commented on #2406
Fine with me

[2015-08-16 17:39] kingjr commented on #2408
Ok so this makes GAT crash because the size of the time slice used in the test set (based on a new epoch) is smaller than the one used in the training. Shall I just change GAT function to check for `almost_equal`?

[2015-08-16 17:49] agramfort commented on #2408
Yes

[2015-08-16 19:00] kingjr commented on #2408
So... I went for correcting the GAT, but no success there. The issue can become larger than these 1e-17 errors:

[code]

returns
[code]

[2015-08-16 19:01] kingjr commented on #2408
but maybe that's a separate issue on the t0 is defined from tmin?

[2015-08-16 19:05] Eric89GXL commented on #2408
Yeah, decimation will keep the point `t=0` @ 0

[2015-08-16 22:20] ImmanuelSamuel commented on #2404
Thanks

[2015-08-16 22:28] kingjr commented on #2408
Ok but why the discrepancy between `epochs` and the `new_epochs`?

[2015-08-16 22:44] #2406 closed

[2015-08-16 23:02] Eric89GXL commented on #2408
Oh that is weird... not sure what's going on there exactly

[2015-08-16 23:22] kingjr commented on #2332
Small side points, that could be addressed during this refactoring:
* I think Xdawn should use the sklearn convention i.e. `fit` and `transform` not `fit` and `apply`, WDYT?
* It'd be nice to specify `y` manually.
* @alexandrebarachant I'm reasking my question here, some other may be interested: would it be possible to change Xdawn to make it work with continuous regressors?

[2015-08-16 23:35] kingjr commented on #2409
These two:

http://martinos.org/mne/dev/auto_examples/decoding/plot_linear_model_patterns.html#sphx-glr-auto-examples-decoding-plot-linear-model-patterns-py

http://martinos.org/mne/dev/auto_examples/preprocessing/plot_xdawn_denoising.html#sphx-glr-auto-examples-preprocessing-plot-xdawn-denoising-py

[2015-08-16 23:36] alexandrebarachant commented on #2332
Hi,
There is already a transform that follow the sklearn api. `apply` works like the ICA, i.e. it apply filters and back-project the denoised signal in the sensor space. `transform' works like the CSP, i.e. it filter the signals.

The original intension of the code is to follow as close as possible the original algorithm. we can imagine a lot of variation, but then we should probably find a better

[2015-08-16 23:44] kingjr commented on #2332
Thanks for the clarifications!

Ok, let's keep things separated then, and relabel if necessary.

Ok, I'd be happy to (/ need to) work a bit on this, but I'd need guidance. @jona-sassenhagen, where you thinking of something along these lines too?

[2015-08-17 06:50] agramfort commented on #2409
we don't print / compute a prediction score here. So we keep the examples short and more readable.

I am closing. Reopen if you disagree.

[2015-08-17 06:50] #2409 closed

[2015-08-17 11:37] jona-sassenhagen commented on #2332
Yes.

@agramfort @alexandrebarachant thoughts on allowing XDawn to take Raw input?

[2015-08-17 11:55] agramfort commented on #2332
Why do you want this ? If We do this we highly complexify the API

[2015-08-17 12:07] #2407 closed

[2015-08-17 21:34] teonlamont opened #2416 "ENH Website"
The website looks great. I just noticed a few things when I was browsing. Feel free to address as you see fit.

In mobile browsing:
- [ ] there's an overlap in the widget containing the number of lines of code and the documentation section
- [ ] the university logos are off-centered with the package logo
- [ ] red bar about dev version is hidden by the toolbar

In general:
- [x] missing sections f

[2015-08-17 21:36] teonlamont commented on #2342
closing for #2337

[2015-08-17 21:36] Eric89GXL commented on #2416
I actually don't think they're off-centered, I think it's a visual thing due to the fact that the logos aren't rectangular. At least according to the HTML they should be centered

[2015-08-17 21:37] teonlamont commented on #2342
wrong issue to close

[2015-08-17 21:38] Eric89GXL commented on #2416
I don't see the hiding or the overlap, either, this is what mine looks like:

![screenshot from 2015-08-17 17 37 47](https://cloud.githubusercontent.com/assets/2365790/9316989/b3dc7838-4506-11e5-97bd-f747bc6d8c3d.png)

![screenshot from 2015-08-17 17 38 39](https://cloud.githubusercontent.com/assets/2365790/9317010/d1918a94-4506-11e5-9f05-d9f0c0eb058a.png)

What browser are you using?

[2015-08-17 21:40] teonlamont commented on #2416
@Eric89GXL I meant browsing on iPhone and other mobile devices. I think it's just how bootstrap is set up to the wrap.

[2015-08-17 21:43] teonlamont commented on #2416
![unnamed-1](https://cloud.githubusercontent.com/assets/1578674/9317101/627995f6-4507-11e5-81ed-dfe29c2c7569.jpg)

![unnamed](https://cloud.githubusercontent.com/assets/1578674/9317097/602470fa-4507-11e5-8a29-529a18969645.jpg)

[2015-08-17 21:45] Eric89GXL commented on #2416
Ahh, sorry, missed the mobile bit

[2015-08-18 12:11] agramfort commented on #2416
reference fixes are more than welcome

[2015-08-18 14:02] kingjr commented on #2409
You plot the data fitted with itself. It's a double dip.

[2015-08-18 14:02] kingjr commented on #2409
(I can't reopen)

[2015-08-18 14:03] kingjr commented on #2408
Can we reopen this issue so as not to forget about it?

[2015-08-18 14:07] kingjr commented on #2409
If you want to keep the examples simple, you could just train on the first half of the data, and apply XDawn or whatever onto the second half of the epochs. I think we need to make people aware of these issue right from the beginning, if we don't want to be spotted by future [~~anti-voodoo~~ puzzled statisticians](http://pps.sagepub.com/content/4/3/274.short?rss=1&ssource=mfc).

[2015-08-18 14:15] agramfort commented on #2409
just provoking, if you show me the ERF by averaging 100% of the data is
this a double dip? Basically I am just saying that it depends of what you
claim and what you report in terms for stats.

[2015-08-18 14:16] agramfort commented on #2408
what's the way to move forward?

[2015-08-18 14:29] alexandrebarachant commented on #2409
I would say your are not wrong.
You should not apply any stats analysis on top of Xdawn if it wasn't properly cross-validated. However, for a pure visualization point of view, there is nothing wrong in the example.

On a larger basis, one could argue that the same problem arise with any preprocessing step (ICA, PCA etc) in the way that you generally select components that contain your signal of in

[2015-08-18 14:53] kingjr commented on #2409
@agramfort Averaging is done in a single step so it's not a double dip. Classic stats (std, confidence interval etc) assuming the way you average is valid with regard to your stats assumption (mainly normality). On the contrary these cleaning method 1) fit and 2) apply a transformation in an informed way  (i.e. they know trials' category), hence the double dip.

No one will use XDawn just for viz;

[2015-08-18 21:25] #2368 closed

[2015-08-18 21:26] Eric89GXL commented on #2360
@mattjerhart I'm going to go ahead and close since we haven't heard anything in a few weeks about this, feel free to reopen if it's still going on and you can get us more information

[2015-08-18 21:26] #2360 closed

[2015-08-18 21:33] choldgraf opened #2419 "Easily append zeros to a Raw object"
What's the easiest way to quickly row the length of a Raw object? I've tried using a RawArray and `.append`, but this throws an error because the types of the two are not the same. Basically, one of my datasets is a prime number in length so it's taking forever to do a Hilbert transform, so I'd like to just append zeros to get it faster.

[2015-08-18 21:38] Eric89GXL commented on #2419
Maybe we should just add an option to the hilbert transform, instead?

[2015-08-18 21:42] choldgraf commented on #2419
Also an option, yeah. In scipy you can specify "N" and it'll append zeros to that point. Could just allow Hilbert to take "N" and then it'd supply that to the call to "Hilbert" and then take the first `n_times` points in the output of Hilbert.

[2015-08-18 21:44] choldgraf commented on #2419
Actually there are probably other places where this would be useful too. I think we've spoken about this before, but any time that it's possible to pad for efficiency purposes I think is a bit clunky right now. E.g., right now there are functions that let you supply a padding, but the padding is symmetric, so if you're padding in order to get to a specific length and your signal is an odd number,

[2015-08-18 21:49] Eric89GXL commented on #2419
Which functions are you thinking of? The FIR filtering functions are already written in a way to optimize the FFT length, so you shouldn't need to worry about it there. If the TFR functions are not that way, then maybe we should rewrite them to make use of the FIR code, which has been a bigger target of optimization.

[2015-08-18 21:54] choldgraf commented on #2419
TFR is the main situation where I've run into that issue, ya.

Either way, right now I'm doing something like:

[code]

which is pretty hacky :)

[2015-08-18 22:15] Eric89GXL commented on #2419
Yeah, those are the sorts of hacks I'd prefer to avoid by instead improving the filtering code where necessary :)

[2015-08-19 05:15] choldgraf opened #2420 "Spinning off the _hdf5 module?"
There was just a discussion on the scikit learn listserv where the _hdf5 module in MNE came up. I feel like we've chatted about this here and there in the past, but wanted to open it up more formally.

That _hdf5 module is pretty darn useful, and I think it's too bad that it currently exists hidden to the user. Does anyone think it would be better if that was either a module that you could find mo

[2015-08-19 05:44] dengemann commented on #2420
@Eric89GXL agreed on releasing it as a separate package as we need this functionality outside of MNE. This would also help reducing maintenance efforts. Now we just have to do it.

[2015-08-19 07:10] agramfort commented on #2420
I would still keep a copy in mne to avoid another dependency.

[2015-08-19 07:12] agramfort commented on #2409
ok point taken. But again it depends on what you claim. Would you send a PR
adding a warning note in both of these examples?

[2015-08-19 07:25] dengemann commented on #2420
The idea was to move it to externals.

On Wed, Aug 19, 2015 at 9:10 AM, Alexandre Gramfort <
notifications@github.com> wrote:

[2015-08-19 07:34] agramfort commented on #2420
Fine with me

[2015-08-19 11:00] kingjr commented on #2409
Sure. I think the simplest would be something like
[code]

The alternative are ii) using a sklearn cv (which I think add to much complexity in the example) or iii) just keep the current example and throw a warning at the end (which I think is a bit like: we're guiding you to the wrong track but we're warning you)

[2015-08-19 12:08] Eric89GXL commented on #2420
What should we call it? If we can come up with a name, I can start a repo and make it in an hour or two.

[2015-08-19 12:17] Eric89GXL commented on #2420
I propose `pooh`, because it's a funny name (pooh bear) is the spirit of Python, and can stand for Python Objects Onto HDF5

`from pooh import write_hdf5, read_hdf5`

[2015-08-19 12:18] Eric89GXL commented on #2420
cc @drammock @rkmaddox we need to choose a name to spin off our generic HDF5 writing routines, speak now or forever hold your peace

[2015-08-19 14:15] agramfort commented on #2409
does it visually affect the result?

[2015-08-19 15:11] kingjr commented on #2409
no

[2015-08-19 15:46] choldgraf commented on #2420
lol, I really like pooh for pooh bear, though I also like it because of the
15 year old boy in me, which worries me for that particular name :) maybe
it's fine though? It is catchy...

On Wed, Aug 19, 2015 at 5:18 AM, Eric Larson <notifications@github.com>
wrote:

[2015-08-19 16:14] drammock commented on #2420
what about a riff on "high five", like `hifive` or similar?

[2015-08-19 16:18] Eric89GXL commented on #2420
I like it, but it conflicts with at least one existing name:

https://pypi.python.org/pypi/hifive/1.0.3

[2015-08-19 16:18] drammock commented on #2420
Dang. Other ideas: `pyfive`, `reedwright`

[2015-08-19 16:22] choldgraf commented on #2420
I like pyfive...it sounds like a startup that lets you order high-fives
with your smartphone

On Wed, Aug 19, 2015 at 9:18 AM, Daniel McCloy <notifications@github.com>
wrote:

[2015-08-19 16:28] Eric89GXL commented on #2420
I like pyfive (not really reedwright), but again:

https://testpypi.python.org/pypi/PyFive/1.0a1

[2015-08-19 16:35] drammock commented on #2420
dammit.  well, `pooh` then.  Or `eeyore`.  I can't think of a pithy name that conveys heirarchical organization, data, and snakes all at once.  Except maybe `IRS`.

[2015-08-19 16:39] choldgraf commented on #2420
lol, bravo Daniel McCloy, that got a good chuckle out of me

On Wed, Aug 19, 2015 at 9:35 AM, Daniel McCloy <notifications@github.com>
wrote:

[2015-08-19 17:16] dengemann commented on #2420
seriously, why not one of these:

- h5io
- h5ext
- h5api
- pyio
- pydump
- h5pickle

it should a) somehow refer to h5py but point out that it's an extensnion or
API or b) refer to serialization

On Wed, Aug 19, 2015 at 6:39 PM, Chris Holdgraf <notifications@github.com>
wrote:

[2015-08-19 18:06] Eric89GXL commented on #2420
FYI @drammock Python actually refers to Monty Python (not the reptile), but I see your point :)

If only @choldgraf and I like `pooh`, then I can probably live with `h5ext` or `h5io`. `hfive` is also available.

@agramfort you're always good for an opinion, WDYT?

[2015-08-19 19:26] agramfort commented on #2420
I would go for h5io as it's explicit

[2015-08-19 19:32] choldgraf commented on #2420
I like h5io, though:

It is a bit redundant...I mean, the whole point of HDF5 is io, right? Just
calling it h5io makes it sound like it could be an *alternative* to h5py,
not an extension...

On Wed, Aug 19, 2015 at 12:26 PM, Alexandre Gramfort <
notifications@github.com> wrote:

[2015-08-19 19:34] Eric89GXL commented on #2420
I agree it's a bit redundant, but it seems like the best non-`pooh` option

[2015-08-19 19:36] choldgraf commented on #2420
fair enough, I like it if people don't think it'll be confusing

On Wed, Aug 19, 2015 at 12:34 PM, Eric Larson <notifications@github.com>
wrote:

[2015-08-19 19:53] Eric89GXL commented on #2420
Done, now we just need to incorporate it:

https://github.com/h5io/h5io

[2015-08-20 06:04] #2349 closed

[2015-08-20 08:31] agramfort commented on #2420
let's move this to externals then now.

[2015-08-20 08:38] agramfort commented on #2409
good. PR more than welcome.

[2015-08-20 12:21] dengemann commented on #2353
Sorry for being late here.

If you fit ICA to both sensors you can just use the MAG for detection. ICA internally computes a cardiac signal from the MAGs if no ECG channel is found. This signal is then compared with the components, e.g. using the default phase-lock analysis.

Bandpassfiltering, e.g. between 1 and 45 Hz can improve the results. However how much you want to dilter depends your resea

[2015-08-20 12:29] dengemann opened #2422 "ENH: source API for multitaper TFR and S transform"
We need more options for TFR in source space. It would also be important for other purposes to have single trial TFRs in source space (e.g. amplitude correlation). I already have parts of this implemented and will get back to it as soon as possible.

[2015-08-20 13:27] Eric89GXL commented on #2420
I'm on it

[2015-08-20 14:10] gsudre opened #2423 "Possible bug in Bonferroni correction?"
hey all,

Is this a bug in the Bonferroni correction code? Shouldn't line 101 of multi_comp.py (0.9.0) be:

reject = pval_corrected < alpha

instead of:

reject = pval < alpha

?

Thanks,

Gus

[2015-08-20 15:29] dengemann commented on #2423
@gsudre this bug is fixed on the current master branch.

[2015-08-20 15:32] dengemann commented on #2423
We should have backported it to 0.9 maint but apprently I missed that. Anyway, if you use the development version it will be fixed.

[2015-08-20 21:14] mattjerhart opened #2425 "Connectivity and surface plotting for Agglomerative Clustering in scikit"
I was hoping to try out some agglomerative clustering on a group average stc file as it seemed pretty easy. I was expecting contiguous clusters but I'm getting getting disconnect spots all over in some labels. @agramfort is actually on some of the scikit examples, but I mainly just want to make sure I'm using mne correctly, especially with regard to extracting the connectivity and creating/plottin

[2015-08-21 11:13] dengemann opened #2426 "DOC: freesurfer + source space API, vertex indices, vertex numbers."
This is among the things that need to be better documented. It's often been a pain to deal with this, also see recent discussion on our mailing list.

[2015-08-21 15:19] agramfort commented on #2425
please share a full script as gist with data to reproduce.

[2015-08-21 17:49] #2420 closed

[2015-08-21 22:04] mattjerhart commented on #2425
[Here's a gist that I actually was able to get working, thought there are enormous differences in cluster size.](https://gist.github.com/mattjerhart/ac4556330ff262f6ee5b). The issue I was having had to do with not morphing from grade 4 to 5 before clustering and plotting the surface.

I also tried kmeans and that provided much nicer looking clusters, and produces surprisingly contiguous ROIs. It's

[2015-08-21 22:12] mattjerhart commented on #2353
Very helpful. Thanks!

[2015-08-21 22:12] #2353 closed

[2015-08-22 07:47] mainakjas opened #2428 "problems with EpochsVectorizer.inverse_transform"
Here is the code to reproduce:

[code]
I think `vect.n_epochs` should not be stored. I was trying to `inverse_transform` the weights of a linear model and I got the error.

cc @trachelr

[2015-08-22 09:08] trachelr commented on #2428
Indeed.
Can you fix ```inverse_transform``` ?
Just put n_epochs at -1 and remove the attribute.
It should look like this ```return X.reshape(-1, self.n_channels, self.n_times) ```
Thanks @mainakjas !

[2015-08-23 07:23] #2428 closed

[2015-08-23 15:19] agramfort commented on #2425
did you try using linkage='ward'

it should provide provide more even distributed clusters.

you might want to read this:

http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4076743/

although it's for fMRI originally.

I am closing the issue which for the future i recommend posting on the mailing list. Github is really for bugs.

[2015-08-23 15:19] #2425 closed

[2015-08-25 17:33] choldgraf opened #2433 "Simulating EEG/MEG/etc Data?"
Hey all - I see that MNE has a simulations module, but it's pretty restrictive right now. Are there plans to include support for simulating other kinds of signals? Or is there another package that already allows you to do this relatively easily?

In particular, I'm looking to simulate 1/f noise, add some event-locked power increases in particular frequency bands, and then try out a few preprocessi

[2015-08-25 17:40] Eric89GXL commented on #2433
1/f is already supported using the iir parameters in the `generate_noise` functions that e.g. `generate_evoked` uses

Right now you can only simulate evoked data, but there is a PR #2295 to do it with `Raw` data. I probably need to take that one over and get it in soon. I think that would give you the flexibility you want.

The only supported datatypes right now are MEG and EEG. The limitation com

[2015-08-25 18:01] choldgraf commented on #2433
Cool - right now I'm not worried about creating something that's super biologically realistic (maybe I should be)...just simulating noise and adding some time-locked components. Besides I'm in the world of ecog, so who knows what kind of forward solution we've got compared w/ EEG.

[2015-08-26 21:08] dengemann opened #2434 "EpochsArray constructor is broken if len(times) == 1"
This is useful for EEG/MEG measures which reduce the time dimension in each trial. It used to work with the last release. Tried to find a fix but it seems to be deeper than I assumed.

cc @Eric89GXL @agramfort

[2015-08-26 21:12] dengemann commented on #2434
we cuttently have this one in epochs.py:

https://github.com/mne-tools/mne-python/blob/master/mne/epochs.py#L277

It won't play nicely if shape[-1] == 1

as round((tmax - tmin) can be 0

[2015-08-26 21:13] dengemann commented on #2434
cc @fraimondo

[2015-08-26 21:16] dengemann commented on #2434
sorry parsed the code incorrectly, so if only 1 time sample exists, the conditional breaks.

[2015-08-26 21:17] agramfort commented on #2434
can you share a gist that reproduces the bug?

[2015-08-26 21:19] agramfort commented on #2434
provide a tiny test and we'll make it pass

[2015-08-26 21:23] dengemann commented on #2434
How about this PR instead ? #2435 ;)

[2015-08-27 13:24] cle1109 opened #2437 "Simplify CSP algorithm implementation"
As discussed at https://github.com/scot-dev/scot/issues/64, MNE's implementation of CSP consists of several steps (basically two times PCA using `linalg.eigh`). In contrast, SCoT directly computes CSP by solving a generalized eigenvalue problem. Mathematically, these procedures should be identical, but I'm not sure about numerical stability.

Now I tested MNE's CSP with my EEG data, and I found th

[2015-08-27 13:27] agramfort commented on #2437
did you regularize the cov?

[2015-08-27 13:31] cle1109 commented on #2437
No. You're right, it works if I set `cov="lws"`. I wonder what this means with respect to the two implementations though (I forgot the other difference; MNE uses all data for estimating the cov, whereas SCoT averages trial-based covs).

[2015-08-27 13:34] agramfort commented on #2437
that should be the same up to maybe a scaling factor which does not matter
for prediction.

[2015-08-27 13:39] cle1109 commented on #2437
True. Except that you could do other stuff with the trial-based approach as @alexandrebarachant mentioned. So we could make this an option if people find it useful.

Lastly, what about the single-step vs. multi-step approach?

[2015-08-27 13:42] agramfort commented on #2437
whatever runs faster with less memory allocation

[2015-08-27 13:56] alexandrebarachant commented on #2437
Covariance matrices are not always PD. In EEG, they usually are because of the noise, but if you don't have enough time sample or if you applied a method that remove a rank (f.eg. average reference) you ends up having this problem.
Some eigenvalues decomposition are more robust than other. The Matlab function `eig` is confusing because it internally does the switch to complex eig in case your matr

[2015-08-27 14:33] Eric89GXL commented on #1814
closing as something we probably can't do due to licensing issues

[2015-08-27 14:33] #1814 closed

[2015-08-27 16:07] jmontoyam commented on #2273
@neukym, @agramfort
I can't reproduce this error. I have downloaded the file myrawfile_raw_sss_movecomp_tr.fif, and I have run fastica on it, and the code runs without errors.
You have mentioned that you are using anaconda. Could you please upload your conda environment info in order to re-create the same env?...this way, I can re-create the same conda env that you are using, and try to reproduce

[2015-08-27 23:41] #2434 closed

[2015-08-28 13:44] neukym commented on #2273
Thanks @jmontoyam - *really* appreciated.

Your finding that this works on your system has made us investigate this closer at our end, and we have tracked done some `infs` turning up in `data` in `_fit()`, which may be causing the problem. But we are investigating when and why this occurs. (and why it is only on our data, only with our system, why it is seemingly non-deterministic etc.)

I will up

[2015-08-28 16:53] mainakjas opened #2439 "auto generate references"
We should use this: https://sphinxcontrib-bibtex.readthedocs.org/en/latest/quickstart.html in the docstrings to auto generate the reference page: http://martinos.org/mne/dev/references.html. It may need some hacking to get the cross-links working between the docstrings and this page. Thoughts?

[2015-08-28 18:43] Eric89GXL opened #2440 "Q: Epochs processing order"
Right our Epochs processing happens in two separate steps:

1. Detrending, baseline correction, offset application, decimation
2. Projection

Looking through the code, I think that sometimes (1) comes before (2), and other times, (2) comes before (1) (e.g., potentially depending on delayed projection. I think we need to pick and order and document it somewhere. I propose the order above is fine an

[2015-08-28 18:44] Eric89GXL commented on #2440
I noticed this because I was trying to use delayed projection, and that caused me to look into how to decrease memory usage in `epochs.average()`, which caused me to look into how this is done... and it doesn't seem to be consistent.

[2015-08-29 08:26] agramfort commented on #2439
+1 as discussed IRL

can you paste how a new docstring would look like?

[2015-08-31 09:56] cle1109 commented on #2437
Thanks @alexandrebarachant, I agree that the NumPy way is more explicit.

Now regarding the CSP implementation, I compared the MNE vs. SCoT variants. Although mathematically equivalent (up to a scaling factor), the trial-based vs. concatenated covariance estimation approach does lead to minor differences in some weights. I guess this is because in the trial-based approach, we're estimating a covar

[2015-08-31 13:28] #2440 closed

[2015-08-31 13:41] jmontoyam commented on #2273
@neukym, @agramfort
I have re-created the conda environment according to the environment.yml mentioned before.
By taking a close look at the environment.yml file I have realized that this environment does not contain the mne_python package.
@neukym, are you sure this is the environment that you use when you run fastica on your data?

Anyway, I have tried to reproduce the issue: I have re-created t

[2015-08-31 18:39] neukym commented on #2273
You are right @jmontoyam, I normally import it using `sys` at the beginning of the script:

[code]

You have made me think about this copy of mne_python on our system - someone other than me installed this package, and I think that, despite the name, it may not be a stable version of v9, but an unstable version of v10!

I will run your test using my own local copy of 0.10.dev0 (adding it to the co

[2015-09-01 00:40] kambysese opened #2442 "QT backend broken?"
I am on the development and latest master version, running matplotlib 1.4.3 (Anaconda python env; 64bit Linuxmint 17 OS)  I noticed that `raw.plot()` stopped working a few days ago. Tried running plot_read_and_write_raw_data and plot_morph_data on the example dataset using Qt4agg + PyQt4 and Pyside bindings. Both scripts ran without error but failed to generate figures. Switching to TkAgg works bu

[2015-09-01 07:20] agramfort commented on #2442
can you track the commit that broke something?

did you change anything to your python config?

[2015-09-01 20:34] mainakjas commented on #2439
Here you go. Instead of

[code]
you would have

[code]

and `refs.bib` contains among other entries, this one:
[code]

[2015-09-01 20:36] kingjr opened #2445 "BUG? epochs.resample takes foreever"
`epochs.resample` seems unresonably slow. Here's an example

[code]
critically
[code]

And the `n_jobs=-1` doesn't seem to take all processes. Is this expected?

[2015-09-01 20:36] Eric89GXL commented on #2439
On the one hand this is a bit nicer because we can keep our refs in one place, on the other hand it actually makes the plain-text documentation far less useful than it was before. So I'm -1 on this currently. Perhaps I'm missing the motivation that overcomes this drawback, though. Do we want/need all our refs in one place? Does it help to keep them in the standard .bib format? Do we repeat a lot o

[2015-09-01 20:42] Eric89GXL commented on #2445
It is probably due to `scipy`'s resample function using FFT-based resampling, thus wrapping to `fftpack` which is slow for non-powers of two. We need to get polyphase filtering / `upfirdn`-style resampling working (https://github.com/scipy/scipy/pull/5186). @rkmaddox or I (or someone else!) just need to find the time to work on it.

In the meantime, can you use CUDA? It should be an order of magni

[2015-09-01 20:42] #2445 closed

[2015-09-01 20:50] mainakjas commented on #2439
woops. You need a slight modification I think.
[code]
And in the `references.rst` page (this time no filters), you'll have:

[code]
This is closer to what we want. We'll get cross-refs then between function documentation and the references.html page. The current approach doesn't create cross-refs. Sorry, got buried in the details :)

[2015-09-01 20:50] kingjr commented on #2445
Ok, thanks for the quick update.

no, don't have the right computer for that.

It indicates the right amount of thread (8), but only verbose 2, and only 2 are actually used.  Unfortunately, I'm under water work-wise, can't spend time on this.

For future ref, I use this quick and dirty alternative:

[code]

[2015-09-01 20:51] Eric89GXL commented on #2445
Is that actually faster? That is what `epochs.resample` should more or less be doing under the hood. If what you wrote is faster, I suspect we're doing something wrong in `master`.

[2015-09-01 20:53] Eric89GXL commented on #2445
If you could come up with some minimal example e.g. using `EpochsArray` or the sample data demonstrating the speed difference (with n_jobs=1), I'm happy to take a look.

[2015-09-01 20:54] Eric89GXL commented on #2445
BTW it would be better to use `epochs.decimate` than `epochs.resample` if you know your data are sufficiently low-passed, because it will avoid edge artifacts that resampling will produce.

[2015-09-01 20:55] Eric89GXL commented on #2445
Your example above, for example, could probably make use of decimation, but you would be a bit close to the Nyquist rate by going to `sfreq=64` in this case, something like `90` i.e. 3x the highest freq would be safer.

[2015-09-01 21:26] agramfort commented on #2439
I also don't like the fact that the plain ref is not readable in the text
anymore. Is the way around this to duplicate it with :cite: + plain text?

[2015-09-01 22:01] mainakjas commented on #2439
Indeed, that's bad if you're looking at the doc from ipython or so. Yes, you'll have to duplicate the plain text then. We need automatic parsers if you don't want to duplicate. Duecredit is going to [work on similar lines](https://github.com/duecredit/duecredit/blob/master/duecredit/parsers.py).

[2015-09-02 01:20] kambysese commented on #2442
@agramfort I am not how to provide what you're asking for. My best guess is <i>Merge pull request #2424 from Eric89GXL/h5io</i> based on the timeline of events, and to a lesser extent on the `conda install...` edits in this commit by @Eric89GXL, but that is likely an installation related change. Other than that I haven't done anything apart from routine updates to conda-python modules {numpy, scip

[2015-09-02 06:09] agramfort commented on #2442
I doubt it's related. The conda edits affect travis.

it can be a conda update of matplotlib. What version are you running?

[2015-09-02 12:28] kingjr opened #2446 "Deprection of Enforce ints for events?"
This relates to https://github.com/mne-tools/mne-python/pull/2415
@Eric89GXL @agramfort I think we should add a deprecation warning to indicate that from now on mne won't accept non integers in the `events` array, and, in the meantime, try to convert it. I personally have several scripts that now crash because of a float array passed to `EpochsArray()`. I'm of course fine with correcting my script

[2015-09-02 13:45] dengemann commented on #2446
This is difficult. There is nothing we deprecated in the strict sense. You normally deprecate a function or a parameter. A deprecation warning would require us to still provide the functionality.
It almost feels like a bug that we accepted float values in the first place.

[2015-09-02 14:02] #2423 closed

[2015-09-02 14:10] dengemann opened #2447 "BUG: reading cropped epochs"
We've been living with some bug or bad design for almost 2 years now, according to git praise.
If we crop epochs and the tmin is getting smaller than the baseleine[0] we cannot read them anymore thanks to this check:
https://github.com/mne-tools/mne-python/blame/master/mne/epochs.py#L238

We should drop this check or ignore it when reading eopchs.

Thoughts @agramfort @Eric89GXL @mainakjas ?

[2015-09-02 14:23] kingjr commented on #2446
I agree with you conceptually. I just think that in practice users may be annoyed.

[2015-09-02 14:38] Eric89GXL commented on #2446
I also don't think it quite applies as a deprecation, but rather as a bug fix. In other words, floating point values were never meant to be supported, and it was an error on our part not to type-check them previously. In this sense, that they worked at all in previous versions can be considered a matter of unfortunate happenstance. For example, you can't read and write such things to disk (here on

[2015-09-02 14:41] kingjr commented on #2446
Ok, I'm convinced, thanks for this detailed response.

[2015-09-02 14:41] #2446 closed

[2015-09-02 14:49] Eric89GXL commented on #2447
I think you're right that we should ignore it when reading epochs, because by then the baseline has already been applied and it's just kept around for record-keeping reasons. So maybe add a `check_baseline=True` kwarg to the `_BaseEpochs` constructor that you set to `False` when reading from disk?

[2015-09-02 15:09] dengemann commented on #2447
Yes, that sounds like a solution.

[2015-09-02 15:10] Eric89GXL commented on #2447
BTW I didn't know you could do the `blame` URL with GitHub, that's pretty sweet :)

[2015-09-02 15:28] dengemann opened #2448 "FIX/ENH: Xdawn does not regularize by default when fitting epochs"
As a result the signal cov can end up not being positive definite, which required by the tanh.
I would suggest to use mne.compute_coveriance with shurnk if epochs are passed.

[2015-09-02 15:28] dengemann commented on #2448
cc @alexandrebarachant

[2015-09-02 18:34] kambysese commented on #2442
@agramfort most likely a matplotlib issue. I rolled back mne-python back to b143c6d to try and identify a 'bad' branch for bisection but was unable to revert the bug. Next I tried rolling back matplotlib back to 1.3.1 from current 1.4.3; that just led to a [known](https://github.com/ContinuumIO/anaconda-issues/issues/411) shared library problem that involved downgraded pyqt qt numpy et al dependen

[2015-09-02 19:07] kambysese commented on #2442
I think I am hitting [this](https://github.com/matplotlib/matplotlib/issues/3505/)

[2015-09-02 20:42] agramfort commented on #2447
fine with me

[2015-09-03 05:23] agramfort commented on #2442
hum...

[2015-09-03 05:55] agramfort commented on #2439
I guess it should be done there.

ask @yarikoptic on what he would need help

[2015-09-03 14:08] yarikoptic commented on #2439
indeed it would be awesome to get citations for mne-python functionality/methods in duecredit.  There are two ways to do it ATM:
https://github.com/duecredit/duecredit/#native-use-of-duecredit-recommended
If you are keen on adopting a "native way", I can initiate a PR.

So far though I have tried to stay from any "integration" although it could be done (e.g. duecredit enhancing docstrings with ref

[2015-09-03 14:58] dengemann opened #2450 "ENH/VIZ: better default colors for EOG in epochs butterfly plot"
They're black as EEG and it can be difficult to understand what's going on in cases where the EOG channels have some problem with offsets.

[2015-09-03 14:58] Eric89GXL opened #2451 "v0.10 planning"
We currently plan to release 0.10 at the end of this month (Sept 30th). Looks like we have a lot of issues marked for 0.10:

https://github.com/mne-tools/mne-python/milestones/0.10

How much time will people have to devote to a release in the next four weeks? Perhaps we should start assigning issues to people. Does someone else want to take over as the release manager for this one?

[2015-09-03 15:02] dengemann commented on #2451
We should just release. What is not merged until one week before the release will be automatically shifted to the next cycle. It would be nice to use the new version of MNE for courses that I will give in the last week of September and in the first week of October. But of course, let's see how it goes and what is possible. I'm happy to share release manager tasks, but around the relase it might be

[2015-09-03 15:08] jona-sassenhagen commented on #2450
How about
![unknown-57](https://cloud.githubusercontent.com/assets/4321826/9662075/2cc2c1bc-525e-11e5-980b-756ee216b27c.png)

The hard part is actually the topomaps on top, the spatial colors for the channels are 2 lines and the bottom left legend is not that complicated.

[2015-09-03 15:09] dengemann commented on #2450
Ahh --- epochs butterfly --- the epochs viewer, when you hit 'b' to look at single trial butterflies, the EOG and the EEG are both black.

[2015-09-03 15:11] jona-sassenhagen commented on #2450
Oh yes, I was thinking of evokeds ... (I never use any of the interactive functions.) But couldn't you do the same thing still?

[2015-09-03 15:13] Eric89GXL commented on #2408
This bug should be fixed on latest `master`, I ran it and got:
[code]

[2015-09-03 15:13] #2408 closed

[2015-09-03 15:15] Eric89GXL commented on #2426
added to #1495

[2015-09-03 15:15] #2426 closed

[2015-09-03 15:16] dengemann commented on #2450
It's a different problem. I think you'll better understand it once you start looking at your data using epochs.plot ;-)

[2015-09-03 15:27] #1706 closed

[2015-09-03 15:28] #2314 closed

[2015-09-03 15:28] dengemann commented on #2280
isn't this done now?

[2015-09-03 15:29] dengemann commented on #2276
I would vote for plot_epochs_image, first class, than kind

[2015-09-03 15:29] dengemann commented on #2276
If we want to deprecate this we need to do it _now_.

[2015-09-03 15:34] dengemann commented on #2218
What about this? Did we converge? Is it still hot? Will 0.11 it.

[2015-09-03 15:35] Eric89GXL commented on #2218
I could try implementing the `_check_info` function quickly and see how badly it breaks our code :)

[2015-09-03 15:36] dengemann commented on #1703
@christianbrodbeck which problem is left here? Can we close and open new issues with 0.11 tag?

[2015-09-03 15:38] dgwakeman commented on #2451
Can I please suggest it be called 1.0? I have the following comments supporting this style:

* Mathematically, logically, and visually it looks stupid to have a 0.10 release following a 0.9
* We actually have the full base feature set of MNE-C implemented now with @Eric89GXL BEM addition
    * Meaning people can do a full forward inverse solution using no MNE-C functions.
    * and I am aware of n

[2015-09-03 15:43] dengemann commented on #2451
I understand what you suggest and why you do so. But this is not the version convention typically used in the scientific Python world, see sklearn 0.16.1, also numpy, scipy, etc. I would stick with that.

[2015-09-03 15:52] christianbrodbeck commented on #1703
Hm, I think the idea that was left was to create a "importing data from other systems"  section in the function reference. "Reading raw data" lists the relevant functions now, so I doubt it would change much. Maybe what would be useful for the future would be a re-writing of the "data conversion" section of the Manual, I think in many points the Python data conversion is already improved over the

[2015-09-03 15:52] #1703 closed

[2015-09-03 18:15] neukym commented on #2273
Hi @jmontoyam - not only does your test work, but it explains why I was getting problems: I was erroneously including `ecg=True` in my `picks`, when this should be left out. Should have picked that up earlier! Everything seems to work fine now.

Thanks for your help - much appreciated :-)

[2015-09-03 20:44] #2273 closed

[2015-09-03 22:50] mainakjas commented on #2439
@yarikoptic just to set up the context a bit. I'm exploring this area with
@agramfort to figure out if there's something useful and impactful that
could be done. This could _potentially_ translate into one month of
full-time work spread over one year. Maybe we could team up :)

On Thu, Sep 3, 2015 at 4:08 PM, Yaroslav Halchenko <notifications@github.com

I think @agramfort can comment on this. I'm

[2015-09-04 02:05] yarikoptic commented on #2439
On Thu, 03 Sep 2015, mainakjas wrote:

"team up" sounds awesome!   Not sure if I would be able to contribute
as much of my time though ;)

wow -- that is quite a blow!  I guess I do need to learn how to use anaconda
and to replicate this issue.  I believe Matteo (duecredit co-author) uses it
but we never saw such a crash.  duecredit is quite new and despite being
developed under linux and osx, the

[2015-09-04 02:08] yarikoptic commented on #2439
Re
[code]
gy -- finally was done properly? ;)  Since awhile for our lab we use my hack (https://github.com/matthew-brett/bibstuff/pull/7, never got to finish up) on top of Matthew's craft on top of abandoned bibstuff which looks very similar:
[code]
which results in http://haxbylab.dartmouth.edu/ppl/yarik.html#publications

[2015-09-04 14:19] mainakjas commented on #2439
let's see how things go ... :)

report.py is in mne-python itself. To reproduce, just do the following:

$ git clone https://github.com/mne-tools/mne-python.git && cd
mne-python/mne/
$ wget -q -O ./due.py
https://raw.githubusercontent.com/duecredit/duecredit/master/duecredit/stub.py
$ easy_install duecredit # use the anaconda easy_install
$ python -m duecredit report.py

not sure if this is how it

[2015-09-05 15:00] yarikoptic commented on #2439
re report.py  look on that gist  you posted with error - I   gave explanation there

[2015-09-05 15:03] yarikoptic commented on #2439
changing  habits:  we can  support anything   non-ambiguously providing reference. eg  as long as text form  has identifiable  doi -  we could use that.  lazy me prefers doi  anyway f or specifying  citations for duecredit

[2015-09-07 14:24] #2218 closed

[2015-09-08 14:11] Eric89GXL opened #2457 "numpy.power in TFR code"
We use `np.power` in our TFR code, and `np.power(x, 2, x)` doesn't produce `nan` values whereas `x *= x` does. This suggests `power` is doing something extra, and we should investigate what it is. We should also figure out if leaving or masking the `nan` values with zero (which is probably what `power` does) is the proper thing to do.

[2015-09-08 14:11] Eric89GXL commented on #2457
see #2456

[2015-09-08 15:08] #2457 closed

[2015-09-08 15:09] dengemann commented on #2457
My bad. A typo on my end made me believe we had an issue with nans. pow *= pow actually works. Fix is coming.

[2015-09-08 16:32] dengemann commented on #2283
turns out that our defaults == None will not produce a fixed seed. ...

[2015-09-08 21:36] teonlamont commented on #2451
curious, at what point do we actually bump up the version number leading digit?

[2015-09-08 21:39] dengemann commented on #2451
maybe when numpy, scipy and sklearn do it :smile_cat:

[2015-09-08 21:40] Eric89GXL commented on #2451
+1 for doing it once we actually have all the mne-C functionality, including e.g. interactive browsing and coreg and we (Python devs) are all using those instead of the C tools.

[2015-09-08 21:40] Eric89GXL commented on #2451
So... take from that what you will regarding an actual timeline :)

[2015-09-08 23:04] teonlamont commented on #2345
are we planning to deal with the epochs reading on demand in this cycle?

[2015-09-08 23:10] teonlamont commented on #2344
closing because it only seemed to catch me off guard

[2015-09-08 23:10] #2344 closed

[2015-09-08 23:12] teonlamont commented on #2316
closing for now

[2015-09-08 23:12] #2316 closed

[2015-09-08 23:16] teonlamont commented on #2000
I think this is now resolved with the new plotting

[2015-09-08 23:16] #2000 closed

[2015-09-08 23:18] teonlamont commented on #2341
combining #1999:

plot_projs_topomap defaults to the Vectorview-all if a layout isn't specified. plot_ica_components uses a neat little helper function _prepare_topo_plot to get the position information. I think this would be a good alternative, but the downside is that the proj objects don't have an info attribute. if it had this, it would make it easy for non-Vectorview systems.

[2015-09-08 23:18] #1999 closed

[2015-09-08 23:27] Eric89GXL commented on #2345
I might be able to do it. Would that supercede this?

[2015-09-09 00:07] kambysese commented on #2442
I'll go ahead and close this since it appears to be fixed on my end.

[2015-09-09 00:07] #2442 closed

[2015-09-09 07:07] #2283 closed

[2015-09-09 07:08] dengemann commented on #2283
@agramfort we should maybe change that. This is confusing for users. Maybe just fixt the seed or print it.

[2015-09-09 07:12] agramfort commented on #2341
adding an info to proj files is possible but a mess with historical files.

is passing info to the function so annoying?

[2015-09-09 07:13] agramfort commented on #2283
I would not fix it. Users should realize that ICA is a non-deterministic
algo.
I'd just improve the doc

[2015-09-09 07:15] dengemann commented on #2283
Yes, agreed. I think the confusion was arising from the fact that we indeed once had a bug but then fixed it. The examples then went fine as we passed a seed, not because of the defaults. I think I forgot about that.

[2015-09-09 07:19] #1840 closed

[2015-09-09 13:15] dgwakeman commented on #2341
why not have the proj's added to whatever you are calculating it on average, raw, etc. then just plot the projections from that object. i.e. mne.plot_proj(raw), which has the info?

[2015-09-09 17:58] mainakjas opened #2464 "epochs rejected even when reject is None"
Found a bug in master (I think) after hours of bug-hunting in my own scripts today. Here is the code to reproduce. Look carefully at the console output when you run this script.
[code]
wdyt @agramfort @dengemann @Eric89GXL ?

[2015-09-09 18:29] teonlamont commented on #2345
yeah, i believe so, on-demand then event_id capability.

[2015-09-09 20:31] Eric89GXL commented on #2464
The number of events decreased by one. I think this is the correct behavior if one of the epochs is dropped, right?

[2015-09-09 20:32] Eric89GXL commented on #2464
`epochs.selection` tells you which indices into the original (non-dropped) events list you'd need to use for the given epochs.

[2015-09-09 20:32] mainakjas commented on #2464
but why is it dropped in the first place when `reject `is `None` and `flat` is `None` ?

[2015-09-09 20:35] Eric89GXL commented on #2464
[code]
I guess you'll have to investigate what that means. In this case, I suspect the first event is at t=0 but you have tmin=-0.2, so there would be no data for the range (-0.2, 0).

[2015-09-09 20:38] mainakjas commented on #2464
oh dear oh dear, my bad. Indeed, fixing the first event fixes it. Good tip and sorry for the false alarm

[2015-09-09 20:38] #2464 closed

[2015-09-09 20:45] Eric89GXL commented on #2464
False alarms are better than misses, your detector is biased appropriately :)

[2015-09-10 06:48] agramfort commented on #2341
I realize with already have a plot_projs_topomap in the ProjMixin so you
can do:

evoked.plot_projs_topomap()
epochs.plot_projs_topomap()
raw.plot_projs_topomap()

[2015-09-10 12:28] dengemann opened #2465 "FIX?: vague user reports, raw.resample destroys trigger channels"
and generate massiv rejections of epochs with "TOO_SHORT" flag in the drop log.

cc @Eric89GXL @mainakjas ...
cc @cmoutard

[2015-09-10 13:26] agramfort commented on #2465
cc @wmvanvliet

it was changed during the sprint AFAIK

[2015-09-10 15:57] wmvanvliet commented on #2465
@dengemann details please?

[2015-09-10 15:59] dengemann commented on #2465
people around here resample their data and script that used to run cras how as 90% of the epochs get rejected. See above. I did not have the problem so far.

[2015-09-10 17:15] teonlamont commented on #2341
ok cool no mod of `proj` for `info`. does `proj` store the diagonal matrix anywhere, I'm assuming that its eigenvalues would give the percentage of explained variance

[2015-09-10 17:33] teonlamont commented on #2451
ok, maybe it's the linguist in me but I still feel like the method `preload_data` is a misnomer. The concept of preload makes sense when the object is being constructed, it's before you might actually load it. Once the object is created, you cannot preload it anymore, you can only load the data. I propose that `preload_data` be renamed `load_data` since this is actually what it is doing. also sinc

[2015-09-10 17:36] dengemann commented on #2451
You MMN is so loud that the earth is shaking in Paris. Or maybe it's the Metro. Go for it you've got my blessing.

[2015-09-10 18:01] #2315 closed

[2015-09-10 20:48] teonlamont opened #2467 "Function for rename split files"
I think everyone (at least me) would love us if there was a function allowed for an easy way to rename split files e.g. raw, epochs. I think it should be rather straightforward: we would just need to just get find a list of all the files, and figure out where this info is written, probably at some specific tag location, and overwrite it there. We wouldn't need to load data or anything.

Currently

[2015-09-11 01:57] Eric89GXL commented on #2467
I thought if you renamed both files in the same way but maintained the `-1.fif` relationship they would still be found, at least in the raw case. Is that not true?

[2015-09-11 02:00] #2276 closed

[2015-09-11 02:04] Eric89GXL commented on #2451
I actually don't think of it as being all that different from the `preload=True` arguments in our constructors. The loading could still come before other processing (and probably does in most cases), so it's not entirely a misnomer in my mind. So from me it's a -1 on the change to keep consistency with `preload=True` arg and a +0.5 for the fact that it isn't necessarily "pre" anything else, so -0.

[2015-09-11 04:20] teonlamont commented on #2467
no, there's a reference to the original file name in `inst.info['filename']`, which poses a reference problem for `-1.fif` files

[2015-09-11 06:47] agramfort commented on #2465
can they share a file + gist?

[2015-09-11 06:52] agramfort commented on #2467
it would mean being able to update the info on disk without loading the
data.

can't you live with loading and saving again?

[2015-09-11 07:10] agramfort commented on #2341
no it does not store it so far.

[2015-09-12 04:24] teonlamont commented on #2467
ah, i thought it was possible to rewrite parts of the info of a file. i'm fine if that's not currently possible

[2015-09-12 04:24] #2467 closed

[2015-09-12 11:41] wmvanvliet commented on #2465
The new version of the code is less likely to drop event markers. Depending on how the epochs are cut, TOO_SHORT epochs could maybe arise when a buggy stimulus channel shows an on-off-on-off pattern of the event marker?

I'm sorry without any sort of details, there's no way I can debug this.

[2015-09-12 23:04] ImmanuelSamuel opened #2469 "plot_topomap doesnt work with axes"
It only works if colorbar=None.

The following doesn't work (it only shows the colorbar)
[code]

[2015-09-12 23:15] ImmanuelSamuel commented on #2389
Thanks! Can you also add outlnes='skirt' for mne.viz.plot_topomap()? evoked.plot_topomap has a title that shows the time which I dont want.

[2015-09-12 23:17] ImmanuelSamuel commented on #2469
![image](https://cloud.githubusercontent.com/assets/7865018/9834309/ecec7688-5982-11e5-9ddb-297124658ef1.png)

[2015-09-12 23:18] ImmanuelSamuel commented on #2469
![image](https://cloud.githubusercontent.com/assets/7865018/9834324/1a15f918-5983-11e5-8179-91be119474ae.png)

[2015-09-12 23:52] ImmanuelSamuel commented on #2469
Yes I know the above can be achieved by doing
[code]
But I need to be able to plot different in evoked datasets in the same figure but in different subplots. That is the reason why I wanted this enhancement.

[2015-09-13 00:08] ImmanuelSamuel commented on #2469
As you can see in Ipython notebook. The function plots it twice.

[2015-09-13 13:16] agramfort commented on #2469
@jaeilepp can you have a look?

[2015-09-13 13:17] agramfort commented on #2389
can you give it a try yourself?

let us know if you need help.

[2015-09-13 15:40] wmvanvliet commented on #2389
it already has that option. All the various topomap plotting functions have it. Please give it a try and let is know if you need help.

[2015-09-13 17:23] ImmanuelSamuel commented on #2389
I did and it doesn't seem to work that is why I thought it wasn't implemented. But then again it didn't raise an error for 'skirt' option sorry I missed that.

![image](https://cloud.githubusercontent.com/assets/7865018/9837862/976882b8-5a1a-11e5-95db-64af7d0c3a06.png)

[2015-09-13 17:49] wmvanvliet commented on #2389
you cannot give `montage.pos` as electrode positions to the `plot_topomap` function. It doesn't complain about this (I'll make a PR so you get an error when you try this), but the electrode positions will be wrong.
What you have to do first is make an instance of  `Layout`:

    temp = evoked.data
    l = mne.channels.make_eeg_layout(evoked.info)
    mne.viz.plot_topomap(temp[:, 0], l.pos[:, :2],

[2015-09-13 18:09] ImmanuelSamuel commented on #2389
Ah I see. Thank you.

[2015-09-14 08:43] jaeilepp commented on #2469
For example the following doesnt work

evoked.plot_topomap([0,1,2,3,4,5],axes=axes[1,:],colorbar=None)
evoked1.plot_topomap([0,1,2,3,4,5],axes=axes[0,:],colorbar=None)

You can use ``mne.viz.topomap.plot_evoked_topomap`` to achieve this.
``fig, axes = plt.subplots(nrows=2, ncols=6, figsize=(4,2))
mne.viz.topomap.plot_evoked_topomap(evoked, show=False,  axes=axes[0])
mne.viz.topomap.plot_evoked_top

[2015-09-14 11:45] devadidev opened #2470 "RuntimeError: info channel name inconsistency detected, please notify mne-python developers"
Hi, I'm new to MNE and Python and I've been trying to run the example plot_decoding_csp_eeg.py on my Ubuntu 14.04, Anaconda with conda 3.17.0 and MNE:  0.10.dev0    <pip>.  I'm getting the following error and wondering if Im missing something trivial! Thanks

(mnemeeg)➜  programs :  python plot_decoding_csp_eeg.py

===========================================================================
Motor i

[2015-09-14 12:49] kingjr commented on #2470
Have you tried with ipython instead of python? Check your mne version inside ipython:
[code]

[2015-09-14 12:52] mainakjas commented on #2470
looks related to changes in PR https://github.com/mne-tools/mne-python/pull/2452

[2015-09-14 13:01] devadidev commented on #2470
@kingjr, the version returned is as I quoted in the original, I tried with iPython and got a different (qt related?) error. I'll explore this further and update here if I'm able to configure and run it successfully also @mainakjas thanks for linking the issue, I'll go through that update here if it's related to that.

iPython Error:
   computing connectivity for epoch 58
    computing connectivity

[2015-09-14 13:08] mainakjas commented on #2470
@devadidev for the error, have a look here: https://pysurfer.github.io/install.html. It should fix it

[2015-09-14 13:26] devadidev commented on #2470
@mainakjas, thanks that fixed the iPython qt error but back to the RunTime one:

/home/devanka/projects/mneruns/programs/src/mne/mne/io/meas_info.pyc in _check_consistency(self)
    217                 ch_1 != ch_2 for ch_1, ch_2 in zip(self['ch_names'], chs)) or \
    218                 self['nchan'] != len(chs):
--> 219             raise RuntimeError('info channel name inconsistency detected, '

[2015-09-14 13:45] agramfort commented on #2470
plot_decoding_csp_eeg.py runs fine for me in master. Are you using master?

what version of python are you using?

[2015-09-14 13:46] mainakjas commented on #2470
where did you get the example from? Did you download it from the website or github?

[2015-09-14 13:46] mainakjas commented on #2470
it runs fine for me too

[2015-09-14 14:00] devadidev commented on #2470
Ah ic now, I downloaded from the website (http://martinos.org/mne/stable/auto_examples/decoding/plot_decoding_csp_eeg.html) and there are some diff with GH version of the code, which runs fine for me in master now.

(mnemeeg)➜  programs  diff plot_decoding_csp_eeg_old.py plot_decoding_csp_eeg_github.py
5d4
<
8d6
<
10d7
<
13d9
<
17d12
<
21d15
<
34,36c28,30
< from mne import Epochs, pick_types
< fro

[2015-09-14 14:03] #2470 closed

[2015-09-14 14:04] agramfort commented on #2470
ok please close then.

[2015-09-14 18:28] ImmanuelSamuel commented on #2469
I dont want to plot all evoked time points

Even if I do the following it doesnt work
![image](https://cloud.githubusercontent.com/assets/7865018/9858110/c9172c1a-5aec-11e5-9ac1-2f3a782bd47d.png)

[2015-09-14 18:41] ImmanuelSamuel commented on #2469
This code
[code]
Still doesn't work
![image](https://cloud.githubusercontent.com/assets/7865018/9858428/9d583f4a-5aee-11e5-8c7c-dec88eacdd42.png)

[2015-09-14 18:48] ImmanuelSamuel commented on #2469
The problem of everything plotting twice it still there.
Also the right most subplot is the colorbar which is not correct because it omits a time instance.

[2015-09-15 05:10] jaeilepp commented on #2469
You can prevent the plot from showing prematurely by giving ``show=False`` to first two calls of ``mne.viz.topomap.plot_topomap``.

You can either give more space for the colorbar by making an extra column for the figure or giving ``colorbar=False`` to ``plot_evoked_topomap``.

[2015-09-15 09:51] hsonntag opened #2471 "Add info about quadrature rules in the forward solution file"
During the computation of a forward solution for MEG, the Integral of the magnetic flux on each sensor area is usually approximated using quadrature rules. MNE offers different orders of quadrature rules which provide different accuracies. However, no information about the quadrature rules is stored in the forward solution files.
I suggest to add this information for example via the number of quad

[2015-09-15 18:56] agramfort commented on #2471
did you look in _make_forward.py if you can find this information?

[2015-09-15 21:19] Eric89GXL commented on #2471
I think it's unnecessary to add the information to the file, but it would
be beneficial to add it to the documentation somewhere. The Maxwell
filtering algorithm uses a different set of integration points than the
standard coil_def, and it would be great to have these things all
documented in one place. @wronk did you end up adding documentation about
these issues in one of your PRs? I am AFK so c

[2015-09-15 21:29] teonlamont opened #2472 "Bug in toggling the slider"
I just noticed that the toggling does not work for bem sliders properly. There are two toggle buttons that appear instead of one and they are doing slightly different things: the `bem` label toggles the table of contents reference but the `MRI` one toggles the sliders. shouldn't this be just one button?
cc: @mainakjas

code snippet below:
[code]

[2015-09-15 21:31] teonlamont commented on #2345
closing for #2466

[2015-09-15 21:31] #2345 closed

[2015-09-15 21:31] teonlamont commented on #2342
closed for #2337

[2015-09-15 21:31] #2342 closed

[2015-09-15 21:33] mainakjas commented on #2472
yeah, I guess it should all be `MRI`

[2015-09-15 21:40] teonlamont commented on #2472
that just created to buttons with `MRI` as their labels ;)

[2015-09-15 22:21] wronk commented on #2471
Ya, check `/mne/data/coil_def_Elekta.dat`. I had to use different integration points to get SSS to match up with Elekta's version. As far as I could tell when working on this, Matti just divided up the MEG coil sensor area evenly into a grid of integration points and also assigned even weights. When SSS was being formulated, they used a flux approximation formula from Abramowitz and Stegun (the fo

[2015-09-15 22:35] mainakjas commented on #2472
@teonlamont I am closing this because I realized that `add_bem_to_section` is a "custom" section and "custom" sections are delineated from the "default / auto" sections. This was a deliberate design choice. Feel free to reopen if you disagree or open a PR if you think there can be an exception for BEMs.

[2015-09-15 22:35] #2472 closed

[2015-09-15 22:47] teonlamont commented on #2472
doesn't this make the add_bem_to_section a bit clunky since we aren't able
to make all parts of the bem available to the custom class. it doesn't seem
like good design to have two tabs dedicated to one section

-teon

On Tue, Sep 15, 2015 at 6:35 PM, mainakjas <notifications@github.com> wrote:

[2015-09-15 22:57] mainakjas commented on #2472
With `add_bem_to_section`, the user can add BEMs for as many subjects as they want which is a slightly different use case than having one BEM per report. You can circumvent this problem by using `add_bem_to_section` for both the subjects.

[2015-09-16 09:35] hsonntag commented on #2471
The accuracy is an argument for _prep_channels defined in _make_forward.py and in make_forward_solution this argument is not assigned and the default value of accurate=True is used.
Since only the most accurate of the available orders is used right now, it might be really unnecessary to provide this info yet.
I did not know that there is a standalone python implementation for the forward computati

[2015-09-16 10:21] agramfort commented on #2471
feel free to close if you feel like it.

yes the forward code is pure python

[2015-09-16 11:15] #2471 closed

[2015-09-16 12:16] Eric89GXL commented on #2471
It would be easy to add the argument if it would be useful to people. We didn't add it because it made little difference in terms of computation time in Python, so we stuck with the high-accuracy solutions at all times.

[2015-09-16 13:42] Eric89GXL commented on #2025
@dengemann I guess we have this now, right?

[2015-09-16 13:43] Eric89GXL commented on #2170
@dengemann if you can provide the files, I can probably make the tests for this. Can it be tested against the C tools?

[2015-09-16 13:43] Eric89GXL commented on #2191
Rolling into #1495

[2015-09-16 13:43] #2191 closed

[2015-09-16 13:45] dengemann commented on #2170
@Eric89GXL the C tools are incomplete, this converter is special. We test it against the small test files. Btw. please don't touch I'm currently working on this code.

[2015-09-16 13:46] Eric89GXL commented on #2170
Cool, just wanted to make sure someone was on this for 0.10

[2015-09-16 13:48] Eric89GXL commented on #2280
@dengemann we have brainstorm, but not FieldTrip or UCSD, I think

@mainakjas is it a realistic target to get these done in the next two weeks?

[2015-09-16 14:23] mainakjas commented on #2280
hmmm ... two weeks might not be enough. I can take a look in the Dec holidays if there is no rush. We can shift the milestone.

[2015-09-16 14:29] Eric89GXL commented on #2280
done

[2015-09-16 22:23] ImmanuelSamuel commented on #2469
Thanks for the show=False tip. Solves most of the problems

[2015-09-17 13:07] vborghe opened #2476 "Load data from brainstorm/fieldtrip"
Hello!

We really like the tools provided by mne-python and would love to use them for our analyses. The problem is that our data have already been preprocessed (different stages) with brainstorm/fieldtrip. We haven't been able to find an easy way to import them into an mne-python compatible structure. We turned to the [fieldtrip website](http://www.fieldtriptoolbox.org/development/integrate_with_

[2015-09-17 13:21] dengemann commented on #2476
I agree it would be good to have an epochs io in Fieldtrip. There is already a dedicated IO function for dealing with epochs in the mne-matlab code, I thought Fieldtrip adopted it already.

For now why don't you just export from matlab the essential data in .mat file and construct the data containers you need. Should be doable in a few lines of code:

http://martinos.org/mne/dev/auto_tutorials/plo

[2015-09-17 13:27] mainakjas commented on #2476
@vborghe do you want to share more details regarding what type of preprocessing steps you have already accomplished elsewhere? I'm curious :) Maybe there's an easy solution, or maybe not ...

[2015-09-17 13:35] vborghe commented on #2476
@dengemann Just to clarify: from Brainstorm to Fieldtrip we are (quite) covered. It's already the "standard" to do stats in Fieldtrip after preprocessing in Brainstorm. Also, we're already familiar with loading .mat in python (God save scipy.io!), but we will likely need help on how to (efficiently) build the mne-python structure.

@mainakjas Basically our data are epochs ready for fun things (e.g

[2015-09-17 13:39] dengemann commented on #2476
@vborghe :) --> http://martinos.org/mne/dev/auto_tutorials/plot_creating_data_structures.html

[2015-09-17 13:40] mainakjas commented on #2476
I agree with @dengemann that's the way to go @vborghe . Let us know if you need help along the way :)

[2015-09-17 13:46] kingjr commented on #2476
If that helps, here's an example to load mat data save as a fieldtrip structure into mne:

[code]

But yes, it'd be great to make a function that properly reads fieltrip's structure and document it :)

[2015-09-17 13:52] wmvanvliet commented on #2451
Don't forget the docs! We can move to 1.0 only if all the functionality is there.... and **documented**!

[2015-09-17 14:01] vborghe commented on #2476
@kingjr  that does help and (at a very very quick try) it works. I had to explicitly assign the sfreq [I did brainstorm-to-fieltrip-to-mnepython - yes, there is something wrong with me] but I think @grmanxchange should be fine with this. @pinheirochagas is in my same situation [I'm contagious]

We will try it out _for real_ and keep you posted.
Thanks very much to everyone!

[2015-09-17 14:12] mainakjas commented on #2476
at least you are proceeding in the right direction. GUI -> scripting -> python :)

[2015-09-17 20:31] dengemann opened #2478 "BUG: parts of our MNE-C forward workflow are missing in Python"
Someone must have forgotten to implement this ;)
It's perfect for a lazy sunday hack, basiclaly convert a shell script to Python.

[2015-09-17 20:43] agramfort commented on #2478
It's

mne_setup_forward_model

[2015-09-17 20:44] dengemann commented on #2478
I wanted to keep it interesting ;)

[2015-09-18 13:00] vborghe commented on #2476
Once adapted few things (due to the fact that mine data and @pinheirochagas already lost some info transitioning from brainstorm to fieldtrip), everything seems to be working OK. [Here](https://gist.github.com/vborghe/76ff9c3deffdeba3c3b0) a (very) simple and fast application which should work for @pinheirochagas and @grmanxchange as well. We will start playing with more things and see whether any

[2015-09-18 13:13] kingjr commented on #2476
@vborghe You can let contact me directly if you encounter difficulties with decoding. I'm always keen on robust it is in other labs

[2015-09-19 12:34] agramfort commented on #2476
thanks @vborghe <https://github.com/vborghe>  for sharing !

[2015-09-20 20:04] agramfort commented on #2478
@lorenzo-desantis are you up for it?

[2015-09-21 15:02] dgwakeman opened #2482 "website what's new is behind"
http://martinos.org/mne/stable/whats_new.html

No 0.9 info and current information is old

[2015-09-21 15:07] Eric89GXL commented on #2482
The 0.9 is missing, but I'm not sure what you mean about the current information being old. You need to look at the development version for that, if I understand what you're talking about:

http://martinos.org/mne/dev/whats_new.html

[2015-09-21 15:08] Eric89GXL commented on #2482
This should be auto-fixed once we release 0.10 in the next week or so, but I'll leave this open as a reminder to make sure it doesn't say "current" at the top of the page when releasing

[2015-09-21 15:11] Eric89GXL commented on #2482
I updated the release instructions to include updating the version number in `whats_new.py`, that should fix it for the future:

https://github.com/mne-tools/mne-python/wiki/How-to-make-a-release

Thanks for the report.

[2015-09-21 15:11] #2482 closed

[2015-09-25 09:49] mainakjas opened #2489 "bug in epochs.plot() with single channel"
@jaeilepp I discovered this bug:

[code]

I see a flat channel basically

![single_ch_plotter](https://cloud.githubusercontent.com/assets/3817535/10097723/6e0eff4a-637b-11e5-945b-5a434c0b94b1.png)

[2015-09-25 10:57] jaeilepp commented on #2489
I think it has something to do with reference channel. Does mne use average EEG reference? You can try plotting two channels and marking the other one bad. The other one falls flat immediately.

[2015-09-25 11:34] mainakjas commented on #2489
shouldn't it come as an option in the `proj` button if the average EEG reference should be applied or not? That's what happens with `raw` but not with `epochs`

[2015-09-26 08:58] agramfort opened #2490 "evoked.plot_topomap auto mode for GFP peaks"
if would be great if evoked.plot_topomap could automatically set the times of interest eg. by finding the peaks for the global field power.

I would do something like:

evoked.plot_topomap(times='auto')

there might be a bit of work with peak finding though...

[2015-09-26 09:01] agramfort opened #2491 "click on evoked.plot to get butterfly plot"
currently one can click on a line of evoked.plot to get channel name.

it would be great to be able to click on an empty region to plot the topomap of this time instant.

A more advanced used case could be to be able to select a time interval in which data is averaged to produce the topomap

[2015-09-26 09:02] agramfort commented on #2491
maybe for @jaeilepp

[2015-09-26 10:54] dengemann commented on #2491
I like this! +1

[2015-09-26 12:20] Eric89GXL commented on #2491
Sounds good, but maybe trigger it by something other than a left click in
empty space. It's pretty easy to accidentally click in space when trying to
click a line/channel, and it would be annoying to have a plot pop up due to
such a minor click miss. So maybe middle or right click instead.

[2015-09-26 12:34] agramfort commented on #2491
fine with me

[2015-09-26 13:44] agramfort opened #2493 "apply_forward_raw should take info and not raw_template"
see mne/forward/forward.py

[2015-09-26 14:01] agramfort opened #2494 "rename compute_raw_data_covariance to compute_raw_covariance"
any objection to rename compute_raw_data_covariance to compute_raw_covariance ?

the _data is not consistent. See eg compute_raw_psd etc...

[2015-09-26 14:02] dengemann commented on #2494
+1

[2015-09-26 15:15] Eric89GXL commented on #2494
+1

[2015-09-26 18:20] lorenzo-desantis commented on #2478
Yes, but I don't think I'll be able to start right away!

[2015-09-26 23:20] #2494 closed

[2015-09-29 14:59] LaetitiaG opened #2497 "Bug mne.cov.compute_covariance + multiprocessing"
Hi,
I just want to mention that I used the mne.cov.compute_covariance function and it works with n_jobs =1 (as in the example) but if I put more jobs, I have the following error message:

File "/usr/lib/python2.7/multiprocessing/pool.py", line 558, in get
raise self._value

PicklingError: Can't pickle <class 'mne.cov._ShrunkCovariance'>: it's not found as mne.cov._ShrunkCovariance

[2015-09-29 15:03] dengemann commented on #2497
Ah that's annoying. We did not have that before. Cannot take a look right
now. We should bisect and see when this came up. Laetita btw. you can use
MKL + Anaconda. In my experience it will be faster than using joblib here.

On Tue, Sep 29, 2015 at 11:59 AM, LaetitiaG <notifications@github.com>
wrote:

[2015-09-29 15:39] teonlamont commented on #2109
closing for now. someone can reopen this later

[2015-09-29 15:39] #2109 closed

[2015-09-29 16:10] agramfort commented on #2497
denis can you reproduce?

[2015-09-30 17:31] Eric89GXL opened #2500 "FIX: Deprecate raw.preload_data"
For @teonlamont, to make sure we don't release 0.10 without it. From #2498.

[2015-10-01 03:17] wronk opened #2502 "FIX: Check magnetometer type in SSS"
The geometry of the sensors is important for SSS processing. At least at UW, our MEG marks gradiometer with the wrong geometry type (T2 instead of the T3). The Elekta coil geometry is only defined for T3 right now, so the SSS functions should check that that the magnetometers are T3, which I'll probably add in the tSSS PR #2400. If they're not T3, we might want to warn the user and then prompt the

[2015-10-01 03:38] Eric89GXL commented on #2502
I can write a little function tomorrow to allow us to update it.

[2015-10-01 15:20] Eric89GXL commented on #2502
Assuming #2503 gets merged quickly, @wronk you rebase #2374 and add a check there. Basically if fine cal is not used, and T1/T2 type magnetometers are detected, give a `warnings.warn(...)` that they probably need to use `fix_mag_coil_types` on their data.

[2015-10-01 23:53] choldgraf opened #2505 "MNE logos?"
I'm putting together a poster for SfN, and was hoping to put some of the logos of open-sources packages that I use on the poster. I'm not sure if it'll look alright, but I want to give it a shot because free and powerful software doesn't get enough love in the world.

Does MNE have a "preferred" image that people should use when they are visually referencing the package? Any place to find SVG file

[2015-10-02 00:09] kingjr commented on #2505
How about this?
https://github.com/mne-tools/mne-python/blob/d42a711f5184f64a251398bc39834cf46ac60d17/doc/generate_mne_logos.py

[2015-10-02 00:37] choldgraf commented on #2505
That would be great - is this ready for prime-time, so to speak? I don't want to put anything on a poster before it's finalized. I know there was a vote a few months back...

[2015-10-02 00:56] kingjr commented on #2505
I would suggest you do it, and get feedback, and review the generating code accordingly ;)

[2015-10-02 01:02] choldgraf commented on #2505
hehe, ok, I will do so

On Thu, Oct 1, 2015 at 5:56 PM, Jean-Rémi KING <notifications@github.com>
wrote:

[2015-10-02 04:18] dengemann commented on #2505
At least it's aleady on our new website. So go for it and yeah get some
feedback!

On Thu, Oct 1, 2015 at 10:02 PM, Chris Holdgraf <notifications@github.com>
wrote:

[2015-10-02 12:23] jaeilepp commented on #2489
The projections are applied automatically. You should construct the epochs with param ``proj=False`` to see the proj button.

[2015-10-02 12:48] mainakjas commented on #2489
hmm ... okay. It wasn't obvious to me. Feel free to close

[2015-10-02 12:50] mainakjas commented on #2324
I can show you on my computer :)

[2015-10-02 17:37] jona-sassenhagen commented on #2490
Maybe as simple as

    if times == "auto":
        gfp = evoked.data.std(axis=0)
        times = argrelmax(gfp, order=int(evoked.info["sfreq"] / 5))

I've also played around with find_peaks_cwt a bit, but this one actually works better for e.g. the examples.

[2015-10-02 17:45] jona-sassenhagen commented on #2490
Also maybe the key should be "peaks" and not "auto" because you probably also want an explicit way of calling the dumb sequence (like it is right now). Not `None | "auto" | array`, but `"auto" | "peaks" | array`
And make it default to `auto` and produce the current behavior.

[2015-10-02 17:52] agramfort commented on #2490
I like that

Thanks for the suggestion

[2015-10-02 17:53] jona-sassenhagen commented on #2490
Should I make a PR?

[2015-10-02 18:00] agramfort commented on #2490
Go for it if you have some time

[2015-10-03 06:59] #2489 closed

[2015-10-03 19:02] teonlamont opened #2507 "load_data problem with BrainVision"
Because the brainvision module wasn't modified for the new  `_read_segment`, and `_read_segment_file` methods, it errors with withe `raw.load_data` method.

To reproduce the error:

[code]

[2015-10-03 19:04] teonlamont commented on #2507
thanks for h/t on the bug @reddigari

[2015-10-03 19:14] Eric89GXL commented on #2507
I can probably fix this on Monday unless there is someone more familiar with the Brainvision code who wants to tackle it.

[2015-10-03 19:25] teonlamont commented on #2507
might be able to do it tomorrow. what is the general way the two methods work together. I might as well fix the bci module I'm adding to handle this properly.

[2015-10-03 19:41] Eric89GXL commented on #2507
All you should need to do is provide the `_read_raw_segment` function. See how it's done in `fiff/raw.py`, basically given a set of time indices you need to return the right chunk of data.

[2015-10-03 19:42] Eric89GXL commented on #2507
(check `base.py` as well, if this isn't made clear in the base class there, then please improve the docs so the next person who wants to do this can do it more easily)

[2015-10-04 15:03] agramfort opened #2509 "don't show meg_ref in ica plot cf. MNE ML"
probably for @jaeilepp

[2015-10-04 15:49] #2478 closed

[2015-10-06 14:09] #2500 closed

[2015-10-07 22:50] bam54 opened #2519 "IOError when plotting source locations"
I'm trying to run plot_spm_faces_dataset.py on Ubuntu 14 with Python 2.7.6.  At the end of the script, stc.plot(hemi='both', clim='auto') is called.  At first, an error was thrown in io.py when trying to initialize a Surface instance: it looked like the program was looking in os.environ for a value (SUBJECTS_DIR) defined earlier in plot_spm_faces_dataset.py that hadn't been added, so I simply adde

[2015-10-08 03:03] Eric89GXL commented on #2519
Try upgrading `PySurfer`, I suspect you are using an outdated version

[2015-10-08 08:21] Sarwat-Fatima opened #2520 "ValueError: You have 1 events shorter than the shortest_event."
I am analyzing the raw data for MEG/EEG. It gives me following warning but I am not sure what does it mean. Also the visualization of the data shows me large blue box after a few seconds. It can be seen in the image. Can someone tell me why it is showing me this?

"ValueError: You have 1 events shorter than the shortest_event. These are very unusual and you may want to set min_duration to a larger

[2015-10-08 08:32] jaeilepp commented on #2520
I think the error means that you have a trigger value that is the length of one sample. This is probably because of overlapping triggers (response pads on top of stimulus for example). You should probably find out what causes this. You can use param ``shortest_event=1`` for ``find_events`` to include the event.
Are you using continuous movement compensation? Did you maxfilter your data with mc on?

[2015-10-08 09:05] Sarwat-Fatima commented on #2520
So far I have just followed the tutorial at http://martinos.org/mne/stable/python_tutorial.html
I have two versions of the data, one raw and one max-filtered data. If I plot the maxfiltered one, the blue box becomes considerably small in width as in the figure below. But in raw data it goes till the end.
People who collected this data explained the max-filtered process as,
1) Signal Space Separati

[2015-10-08 09:39] agramfort commented on #2519
and yes these files should be on your system.

[2015-10-08 11:32] dgwakeman commented on #2520
Hi Sarwat,
This error is meant to indicate that one of your trigger codes is only one sample wrong. This is likely caused by a Neuromag acquisition bug, which occasionally turns off one of the binary channels/digits before the others, in multiple binary channel triggers. You likely do NOT want to use `shortest_event=1`. As that will include this as a separate trial. You can run that once if you wo

[2015-10-08 15:49] Sarwat-Fatima commented on #2520
Okay. Thankyou. I will use mne_analysis for any further questions.

[2015-10-08 15:49] #2520 closed

[2015-10-08 16:01] dengemann commented on #2520
Hi there.
This problem can also occur when you use event defitions from the raw data
but resample your data later. It can mess with your trigger channel.

On Thu, Oct 8, 2015 at 12:49 PM, Sarwat Fatima <notifications@github.com>
wrote:

[2015-10-08 18:16] bam54 commented on #2519
Upgrading PySurfer did the trick, I was using 0.4.  Thank you!

[2015-10-08 18:47] #2519 closed

[2015-10-09 05:52] teonlamont opened #2521 "hierarchical tagging faces problems with equalize_event_counts"
Tagging is currently not compatible with the function `equalize_event_counts`.

[code]
this is the event_id dictionary:
[code]

here's a print of the epochs:
[code]

[2015-10-09 12:27] Eric89GXL commented on #2521
I'm not sure if this should be a blocker for 0.10. I think of it more like an enhancement, actually, since we're still building full support for the hierarchical stuff AFAIK. Okay with you to remove the tag @teonlamont?

I think the solution should be fairly simple hopefully -- we must have a function somewhere that already looks for event keys in a hierarchical-compatible way, and we need to repu

[2015-10-09 14:25] agramfort commented on #2521
I agree. This should be an easy fix.
any taker?

[2015-10-09 18:21] teonlamont commented on #2521
Sure sure, it's not a showstopper. It should be simple, I may have time to do it later today or Sunday. when are we planning to release v0.10?

[2015-10-10 08:50] agramfort commented on #2521
over the next 2 weeks

thanks for looking into it.

[2015-10-11 08:44] #2509 closed

[2015-10-11 21:50] jona-sassenhagen commented on #2521
The hierarchical tagging code is [here](https://github.com/mne-tools/mne-python/blob/master/mne/epochs.py#L1314) btw.

[2015-10-11 21:55] jona-sassenhagen opened #2523 "no grand_average for TFRs"
There is a function to average a list of evokeds, but not for AverageTFRs (right?).

Should be fairly simple.

[2015-10-12 21:53] choldgraf commented on #2505
FYI the code to generate logo works fine for me, though it would be nice if we could export an SVG as well. What if there were a `generate_mne_logo.py` script that asked you to input the file extension, save path, and maybe extensions. And then there could be a separate file that calls this in a particular way for use in _static. Thoughts?

[2015-10-12 21:53] choldgraf commented on #2505
(note, SVG works fine for me when I just hard-code the file extension into the script)

[2015-10-12 22:34] Eric89GXL commented on #2505
-1 on prompts, optparse (or whatever we use) is well suited to handling
sensible defaults and command line options though

[2015-10-12 22:55] choldgraf commented on #2505
Oh ya, I agree, I meant positional args not a prompt. I hate prompts :-)

[2015-10-13 00:38] Eric89GXL commented on #2505
PR welcome :) Please use `get_optparser` instead of using positional arguments, though, it allows more flexibility

[2015-10-13 01:38] choldgraf commented on #2505
cool - I'll give this a shot...sometime :)  probably after SfN

On Mon, Oct 12, 2015 at 5:38 PM, Eric Larson <notifications@github.com>
wrote:

[2015-10-14 12:27] jona-sassenhagen commented on #2521
I'm not sure how you would like equalize_event_counts to behave when asked to work with hierarchical tags. First of all, the two sets of epochs could easily be overlapping if you use nonorthogonal tags- e.g. if you asked for 'primed' vs. 'word' here, a bunch of trials would show up in both. Then, do you want `equalize_event_counts` to completely ignore all other trigger information? Then it would

[2015-10-14 12:34] jona-sassenhagen commented on #2521
Alternatively, a minimal solution would be adding a line like this to equalize_event_counts

event_ids = [k for k in self.event_ids if e_i in k.split('/')
             for e_i in event_ids
             if ("/" in e_i) and (e_i not in self.event_ids)]

Plus a check/warning for non-orthogonality.

[2015-10-14 16:28] teonlamont commented on #2521
I think dropping the intersection seems like the right thing to do, that is, having them would not contribute any meaningful information to the contrast. I think having a warning of the drop and what you suggested sound like the right way to do it. want to try your hand at it.

[2015-10-14 16:51] jona-sassenhagen commented on #2521
You do know I'm in Chicago right now, for the SNL? :)

[2015-10-14 19:08] jona-sassenhagen commented on #2521
I can try, but i don't have a reliable schedule this week.

[2015-10-15 00:13] ImmanuelSamuel opened #2530 "evoked.plot_topomap multiple masks"
Is there a way for multiple masks and mask params in evoked.plot_topomap?

[2015-10-15 05:57] agramfort commented on #2530
I don't understand the question. Can you explain more what you want to do?

[2015-10-15 13:22] jaeilepp commented on #2523
Except the data needs to be interpolated for bad channels.

[2015-10-15 13:25] agramfort commented on #2523
just intersect channels as you cannot interpolate properly phase or power.

[2015-10-15 17:24] ImmanuelSamuel commented on #2530
I want to highlight two sets of channels in two different colors.

[2015-10-15 18:12] jona-sassenhagen commented on #2521
Okay I have an implementation. Current behavior is like this: if you enter hierarchical tags, it internally translates the tag(s) into the list of event_ids that are matched by the tag(s), prunes duplicates, and then treats them as if you had simply called the function like that.

So if event_id.keys() is ['audio/left', 'audio/right', 'visual/left', 'visual/right'],

[code]

However, this does not

[2015-10-15 18:14] Eric89GXL commented on #2507
Fixed by #2517

[2015-10-15 18:14] #2507 closed

[2015-10-15 18:22] jona-sassenhagen commented on #2521
FWIW the code is
[code]

[2015-10-15 18:36] jona-sassenhagen commented on #2521
Okay I guess it's cool. I'll open a PR unless you think there's something dumb about it.

[2015-10-15 19:12] jona-sassenhagen commented on #2521
I'll work on MNE during every slide session about fMRI I think.

[2015-10-15 19:13] jona-sassenhagen commented on #2523
@agramfort how about an option to either intersect, or just average over the good subset?

[2015-10-15 19:17] jona-sassenhagen commented on #2490
Closed by #2526, #2506?

[2015-10-15 19:18] Eric89GXL commented on #2490
Agreed, @agramfort reopen if we're wrong

[2015-10-15 19:18] #2490 closed

[2015-10-15 19:26] agramfort commented on #2523
that's what I mean by intersect (the good ones)

[2015-10-15 19:28] Eric89GXL commented on #2523
@agramfort I think the "subset" refers to subset of subjects with the given channel good, i.e. for each channel, you give the average over the subjects for which the channel was good. I guess that means each channel could have a different subset of subjects averaged over. I guess it's okay with me as an option, so long as it's not the default. People should only see that one if they know the numbe

[2015-10-15 19:56] agramfort commented on #2530
like two clusters? do you have an example image eg in a paper?

[2015-10-15 20:07] agramfort commented on #2523
ok agreed

[2015-10-15 20:11] jona-sassenhagen commented on #2523
Yes that's what I meant.

[2015-10-15 21:23] ImmanuelSamuel commented on #2530
![image](https://cloud.githubusercontent.com/assets/7865018/10527969/6dd464ca-7361-11e5-84c9-0ecfd0e09409.png)

[2015-10-15 21:28] ImmanuelSamuel commented on #2530
Okay I got it. I just plot it twice with different masks

[2015-10-15 21:28] #2530 closed

[2015-10-16 02:02] jona-sassenhagen commented on #2523
I have an implementation. It's seemingly actually pretty straight forward (at least the intersection solution). I'll PR once any other of my current PRs is closed.

[2015-10-16 03:05] teonlamont commented on #2521
@jona-sassenhagen I forgot that you were in Chicago!!! i'm sad I'm not there too with my conference buddy :(

[2015-10-16 08:13] jaeilepp commented on #2523
I also have something, but it's not that straight forward. It would be interesting to compare the implementations.

[2015-10-16 10:51] jona-sassenhagen commented on #2523
Here is mine:

[code]

I guess yours is a lot better :)

[2015-10-16 11:48] jona-sassenhagen opened #2533 "ENH: spatial color butterfly plots"
This is how I plot:
![unknown](https://cloud.githubusercontent.com/assets/4321826/10540836/4bcd9962-73d1-11e5-9b66-6e601899d9fb.png)

- butterfly style
- channels are color-coded by mapping their x/y/z positions into RGB space (see legend in plot)
- combine butterfly and topomaps, EEGLAB style

I think this is a very good way of visualizing spatio-temporal dynamics. I've discussed this with @denge

[2015-10-16 11:52] agramfort commented on #2533
nice. why not

I am sure @kingjr will like this :)

[2015-10-16 12:11] jaeilepp commented on #2523
Hey, that looks pretty good. I wasn't aware of this ``equalize_channels`` function. I did something more stupid. The documentation should be changed that it also accepts ``AverageTFR``. Just fix the typos and make a PR.
Also, I think there's something wrong with the ``plot_topo`` of TFR. I'll look into it.

[2015-10-16 12:19] jaeilepp commented on #2523
And by typos I mean references to evoked object.

[2015-10-16 12:26] jaeilepp commented on #2523
And in more general, should the ``weights`` parameter be exposed to the user? With this implementation, the channel equalization would have to be made by the user before calling the ``combine_tfr``, if he/she wants to use ``weights='equal'``. Same goes for evoked grand average.

[2015-10-16 12:53] Eric89GXL commented on #2533
Sure. I wonder if we could do something more systematic with the colors, though, like have it go blue on the left to red on the right, with value from light at the top to dark at the bottom. That way, given a color in the plot, you immediately have a sense of where it is without having to look at the key.

[2015-10-16 12:54] jona-sassenhagen commented on #2533
@dengemann said we should maybe find a different color map.

[2015-10-16 12:54] kingjr commented on #2533
yes I really like the idea. I would do a 2D transform though, as the sensors are on a surface, not a volume. Have you tried using a double gradient : e.g. red/blue for coding left-right and black/white for front-back?

[2015-10-16 12:55] jona-sassenhagen commented on #2533
@kingjr @Eric89GXL haha

[2015-10-16 12:55] Eric89GXL commented on #2533
@jona-sassenhagen there you go, red/blue light/dark wins sounds like :)

[2015-10-16 12:56] kingjr commented on #2533
great minds :]

[2015-10-16 13:39] jona-sassenhagen commented on #2523
I had actually written a setup all on my own to do the job of equalize_channels before I found out the function exists ...

[2015-10-16 14:14] kingjr opened #2535 "BUG: TimeDecoding"
There's a bug in `TimeDecoding` when `n_jobs=-1`. Please wait before release.

[2015-10-16 14:21] dengemann commented on #2535
Confirmed, I remember we had this in BA with n_jobs=2.

[2015-10-16 14:30] kingjr commented on #2535
It's because of the way I chunk the data to avoid the memory duplicates.

However, the preindexing option you mentioned last time should eventually get rid of this kind of issues, and greatly clarify the code.

I'm on this in the meantime :/

[2015-10-16 14:32] dengemann commented on #2535
while you are at it checkout the line_rofiler -- it will make you understand.
Also checkout the first steps we took with @fraimondo : https://github.com/fraimondo/mne-python/commit/973c7d5623cfa3d0ff143af5861fa826482e7ef6

[2015-10-16 14:33] dengemann commented on #2535
... and the 2 previous commits.

[2015-10-16 15:07] kingjr commented on #2535
Ok, let's take things in order. First fix, then improve in next PR?

When fixing I realized that the predictions cannot be currently parallelized in `TimeDecoding` (because the parallel runs across testing time points).

[2015-10-16 15:08] dengemann commented on #2535
Yes, sounds good.

Refactoring is keeping you busy ;)

[2015-10-16 15:10] kingjr commented on #2535
oh dear, a never ending story

[2015-10-16 18:30] #2535 closed

[2015-10-16 20:22] jona-sassenhagen commented on #2523
Right now I'd tend to implement the function as similar to the one for evokeds as possible, and if we want to change evokeds later, that's a different story. Thoughts?

[2015-10-19 09:40] agramfort commented on #2447
is this fixed?

[2015-10-19 10:53] Eric89GXL commented on #2447
This runs fine, please reopen issue if it doesn't capture what you meant / it still fails upon modification @dengemann:
[code]

[2015-10-19 10:53] #2447 closed

[2015-10-19 14:01] Eric89GXL commented on #2416
Fixed by https://github.com/mne-tools/mne-python/commit/632e49f0470fc9526936dbb474fd6aa46501fe4d. I didn't fix the logo centering, though, because I didn't see an easy way to do it, and it's a minor point. If someone else knows how or wants to do it, feel free.

[2015-10-19 14:01] #2416 closed

[2015-10-19 14:49] Eric89GXL commented on #2451
Closing for actual open issues

[2015-10-19 14:49] #2451 closed

[2015-10-19 14:53] Eric89GXL commented on #2240
This one's done by #2241

[2015-10-19 14:53] #2240 closed

[2015-10-19 14:56] Eric89GXL commented on #2308
I'm going to move this to 0.11, let me know if you have time for it in the next couple of days @teonlamont and we can move it back

[2015-10-19 14:58] Eric89GXL commented on #2025
Closing, feel free to reopen (and probably move to 0.11) if it's not working

[2015-10-19 14:58] #2025 closed

[2015-10-19 15:00] Eric89GXL commented on #1939
Closing for updated discussion in #2317

[2015-10-19 15:00] #1939 closed

[2015-10-19 15:01] Eric89GXL commented on #2317
@jona-sassenhagen would it be time consuming to open a WIP PR with an example to see if it satisfies your use case, @teonlamont's use case from #1939, and @ImmanuelSamuel's use case? It seems like there are enough people looking for ROI-type plots that it could be useful. It'll have to be for 0.11+, though.

[2015-10-19 15:07] jona-sassenhagen commented on #2317
It should be fairly low effort, but I do have 3 open right now (though one is at merge status). 

[2015-10-19 15:09] Eric89GXL commented on #2317
Great, feel free to tackle it whenever you get a chance, then. No rush since I think we'll want a release cycle (0.11) to work it out.

[2015-10-19 16:43] #1276 closed

[2015-10-19 16:55] souravsingh commented on #1727
I wish to work on this.How do I start?

[2015-10-19 16:59] souravsingh commented on #1717
I wish to do this.How do I start?

[2015-10-19 21:25] teonlamont commented on #2521
closed via #2532

[2015-10-19 21:25] #2521 closed

[2015-10-19 22:10] wronk commented on #2502
This is addressed now. If any T1/T2 channels are present when `maxwell_filter` is called (regardless of fine-cal or other params), they are warned to use `fix_mag_coil_types`.

Should we wait to close until the (oversized) fine-cal PR is merged?

[2015-10-19 22:23] Eric89GXL commented on #2502
Yeah this should auto-close

[2015-10-20 08:07] agramfort commented on #1727
before digging into these issues can you build the doc and run all the
tests?

[2015-10-20 12:41] jona-sassenhagen opened #2543 "GAT Grand average"
Analogous to #2523, for plotting purposes, a GAT grand average would be useful.

[2015-10-20 14:46] kingjr commented on #2543
what do you want to average? multiple gat objects or the y_pred_ of a single gat ?

[2015-10-20 15:20] jona-sassenhagen commented on #2543
Multiple GAT objects, analogous to evoked.grand_average and #2537

[2015-10-20 18:11] dengemann commented on #2543
What's the gain here? Do we really need this? Insert convincing arguments, we should not add this only to increase the API symmetry.

[2015-10-20 18:22] teonlamont opened #2547 "`decimate` method for `Evoked`"
I just noticed that `Evoked` doesn't have a `decimate` method. Should we add it?

[2015-10-20 18:23] Eric89GXL commented on #2547
YAGNI?

[2015-10-20 18:30] kingjr commented on #2547
I agree with Eric, decimate is only useful for heavy datasets, evokeds shouldn't be in this category.

[2015-10-20 18:33] kingjr commented on #2543
For now I would direct users to use the `scores_` attributes. Averaging a GAT object will create many difficulties: shall we average the `coef` or the `y_pred` of the estimators, if so, how.

However it's true that we don't document how to deal with multiple subjects.

[2015-10-20 21:42] teonlamont commented on #2547
that's fine with me, just stumbled across a usecase in the example. simple index is sufficient.

[2015-10-20 21:42] #2547 closed

[2015-10-21 01:56] kingjr opened #2548 "EHN: #Easy add pick_type to epochs.average()"
If anyone have some free time..

[2015-10-21 12:18] agramfort commented on #2548
I don't get it. What is it you cannot do currently?

[2015-10-21 12:37] #2493 closed

[2015-10-21 12:55] #2491 closed

[2015-10-21 15:01] kingjr commented on #2548
we can do `epochs.average(picks=picks)` but not `epochs.average(pick_types='eeg')`.

Also, IIRC, you can't do `epochs.average()` for `seeg` data (because seeg is not part of the default picks)

[2015-10-21 15:10] agramfort commented on #2548
write one more line to get the picks or do

epochs.pick_types(meg=False, eeg=True).average()

this is a bug. PR welcome

[2015-10-21 15:35] Eric89GXL commented on #2035
Hopefully I'll have time to actually make this PR work and get it into `scipy`:

https://github.com/scipy/scipy/pull/5186

[2015-10-21 15:38] kingjr commented on #2548
Sure, my feeling was that it'd be more consistent to have a pick_types param if you have a picks. But I won't fight for this.

all right then

[2015-10-21 15:55] #2548 closed

[2015-10-22 13:36] jona-sassenhagen commented on #2543
Right now, as-is, I feel as if everything is very fine on a single-subject level, and you can play around with single subjects and get very fascinating results, but once you actually want to do a whole study, you're kind of on your own. (In the end, you DO want a study-wide GAT plot, right?)

This goes for TFR, statistics, ..., and for GAT. And it's not inherently bad to expect users of a new and

[2015-10-22 13:53] kingjr commented on #2543
I agree with you in principle. I would first start with an example/tutorial and then move on to make an MNE class / script.

Absolutely. Especially because it's quite tricky to do statistical inference at the single subject level (see https://github.com/mne-tools/mne-python/issues/1848).

In my opinion, your point actually applies to the whole package which is well integrated for within subjects a

[2015-10-22 14:07] jona-sassenhagen commented on #2543
Indeed, I was thinking of the complete package.

I was talking with @agramfort about an mne.grand_average function in #2537

[2015-10-22 15:31] kingjr commented on #2543
ok. I'm wondering whether the best wouldn't be to have a function that transform the GAT object into an epoch and/or an evoked. For linear estimators making unidimensional predictions (most use cases), each decoder can be thought of as a projection/component/set of sources. In this view, `gat.y_pred_` would become `epochs`, and `gat.scores_` could be an `evoked`.

WDYT?

[2015-10-22 16:29] jona-sassenhagen commented on #2543
In principle, I think that's a cool idea. But that would mean- we need to come up with a grand average for epchs, like eeglab has, or you still couldn't plot the gat matrix for multiple  subjects - the api would suggest doing strange things like time frequency decomposition of gats - We'd have single-channel evokeda and epochs, which feels a bit odd, and we'd need a special channel type too

[2015-10-22 16:36] teonlamont commented on #2543
glad that this is being discussed.
my 2c, I think that the focus of 0.11 should be multi-subject analyses and updating/improving documentation.

[2015-10-22 18:22] kingjr commented on #2543
You're right, this was definitely a bad idea; we do need a separate function.

+∞

[2015-10-22 18:22] jona-sassenhagen commented on #2543
I like that. Note that corrmap is about multi subject stuff (taking lists of Ica objects). 

[2015-10-22 18:24] kingjr commented on #2543
Is there already a generic API format for intersubjects functions?

[2015-10-22 18:55] agramfort commented on #2543
not really.

[2015-10-22 18:56] jona-sassenhagen commented on #2543
So maybe it WOULD be better to change #2537 into a generic thing instead of merging now ...

[2015-10-22 18:58] jona-sassenhagen commented on #2543
Not to swamp everyone with issues, but should I open a new one for @teonlamont s proposal, to discuss intersubject stuff/list everything we want?

[2015-10-22 19:10] agramfort commented on #2543
+1

[2015-10-23 08:42] jaeilepp opened #2553 "IAS channels"
MEG data measured with Triux system has the IAS channels at the beginning of the ``ch_names`` before the data channels. This messes up the iterator indexing in ``mne.viz.topo.iter_topography``, so that for instance example ``plot_topo_customized.py`` throws an ``IndexError``. It could be fixed in ``iter_topography``, but I feel the channel ordering should be different in the info structure itself.

[2015-10-23 08:47] Eric89GXL commented on #2553
Does this mean that we'll need our maxwell filtering algorithm to change channel names on filtering? Do you know if that's what MaxFilter does? grrr...

In any case, I think we already have a name-sanitizing function that removes or adds spaces, e.g. treats "MEG 0113" and "MEG0113" as equivalent. Perhaps that will help here.

[2015-10-23 08:57] jaeilepp commented on #2553
I don't think MaxFilter reorders or renames the channels, if that's what you were asking.
The issue here is that ``iter_topography`` returns the index of the channel in ch_names, whereas the example uses indexes from 0. The user could of course modify the info structure himself, but this seems hackish. And I'm not sure if this is the only place that is "broken" because of it.
To me it just seems c

[2015-10-23 09:03] Eric89GXL commented on #2553
Ahh, I see what you mean now, I was confused. I thought they appended IAS to channel names, not that the IAS data channels came before the data channels.

Actually none of our code should depend on the channels being in a certain order, e.g. data before IAS, or MEG before EEG. In theory, channels should be able to be reordered randomly, and analysis should proceed from start to finish without issu

[2015-10-23 09:11] jaeilepp commented on #2553
Yeah, it's not a biggie, since the IAS channels probably never get picked past the raw stage anyway. So perhaps it's okay to exclude the IAS channels in ``iter_topography``?

[2015-10-23 09:18] Eric89GXL commented on #2553
I think `iter_topography` should only iterate over data channels, yeah. So making it use the right `pick` functions in a way that doesn't care about the ordering of said channels would be the way to go.

[2015-10-23 15:48] dgwakeman commented on #2482
opening this again @Eric89GXL, or do we need to wait for a website rebuild overnight? for the stable version

[2015-10-23 15:50] agramfort commented on #2482
yes we need to update the web site for new release.

the way to go is to update https://github.com/mne-tools/mne-tools.github.io
and then I git pull at MGH

[2015-10-23 17:51] ImmanuelSamuel commented on #2469
How to show a colorbar for ```mne.viz.plot_topomap```?
How to get the colorbar from the plot returned by ```plot_evoked_topomap``` or ```evoked.plot_topomap``` and plot it a different axis?

[2015-10-23 18:46] kambysese commented on #955
@agramfort any reason this should stay open any longer?

[2015-10-23 20:51] #955 closed

[2015-10-23 23:20] choldgraf commented on #2505
Hey guys - so the logo creation script worked great for me and I'm closing this issue. I put a bunch of python logos at the bottom-left of my poster, and during the presentation this guy walked and said he worked for the Mathworks. He asked a bunch of leading questions about how it was possible for me to do these analyses in python, if there was anything I wish python accomplished that it didn't d

[2015-10-23 23:20] #2505 closed

[2015-10-23 23:25] choldgraf opened #2555 "Visualizing brains in 3-D space?"
I'm trying to figure out if it's feasible to visualize brains in 3-D space with python. I know there's a lot of software out there (e.g., freesurfer/pysurfer, or pycortex) that lets you do this with solid MR scans, but in my case I basically just have a Nifty file with pretty low-quality scans.

Is there any way in MNE (or python more generally) to just load a Nifty file of someone's brain reconst

[2015-10-23 23:32] dengemann commented on #2505
What? Tell us more about it :)

[2015-10-23 23:37] choldgraf commented on #2505
I mean he was basically just trying to figure out some details about how I did encoding model stuff in python, what packages I used, how I learned how to use them, and whether I thought it was all I needed for my analysis. Oh and he also wanted to make sure that I knew that Matlab was free for people at Berkeley since we have a site license. I tried to be as friendly as possible, since I didn't wa

[2015-10-23 23:39] dengemann commented on #2505
Well done Chris. Very interesting interaction indeed ... what a pitty I
wasn't there.

On Sat, Oct 24, 2015 at 1:37 AM, Chris Holdgraf <notifications@github.com>
wrote:

[2015-10-24 04:10] teonlamont opened #2556 "Epochs.plot load epochs on the fly"
In `raw.plot`, raw data are loaded on demand when `preload=False`, is it possible to do the same when for epochs when `preload=False` too instead of loading them all.

[2015-10-24 07:35] agramfort opened #2557 "auto build of dev doc"
we should have a nightly build of the dev doc.

sklearn is planning to use circle CI https://github.com/scikit-learn/scikit-learn/pull/5578

any other opinion?

[2015-10-24 07:36] agramfort commented on #2557
cc @jaeilepp

[2015-10-24 07:43] agramfort commented on #2556
good idea

how come you have so big epochs?

[2015-10-24 08:12] Eric89GXL commented on #2505
Yes thanks for being an excellent implicit advertisement / ambassador for
Python :)

[2015-10-24 12:42] sstober opened #2558 "read_ica() fails for old ica with bad channels"
Hello,
I got several old ICAs results computed with version 0.9 that I would like to load and apply. Unfortunately, loading using read_ica()  seems no longer possible. The error I get is: "bad channel(s) [...] marked do not exist in info". Here's a link to an example ICA file:
https://github.com/sstober/openmiir/raw/master/eeg/preprocessing/ica/P01-100p_64c-ica.fif
Cheers,
Sebastian

[2015-10-24 18:33] choldgraf commented on #2505
Haha, I just feel like people who spend their time doing free and open
software development don't get enough credit for their work. Not trying to
threaten Mathworks though apparently that's what I did :)

On Sat, Oct 24, 2015 at 1:12 AM, Eric Larson <notifications@github.com>
wrote:

[2015-10-25 15:08] Eric89GXL commented on #2556
It should be possible. @jaeilepp?

[2015-10-25 15:16] Eric89GXL commented on #2482
I can't do it at the moment because Mayavi is misbehaving on my system.

[2015-10-25 21:04] agramfort commented on #2555
the best way to visualize brain slices is with nilearn AFAIK.

we use it in
http://martinos.org/mne/dev/auto_examples/inverse/plot_lcmv_beamformer_volume.html#sphx-glr-auto-examples-inverse-plot-lcmv-beamformer-volume-py

if you need more you'll need to code a bit.

On Sat, Oct 24, 2015 at 1:25 AM, Chris Holdgraf <notifications@github.com>
wrote:

[2015-10-25 21:12] agramfort commented on #2469
please have a look at the code. It needs a bit of work. If you struggle ask
again. And if you could share your progress with a PR it would be great.

[2015-10-25 21:17] choldgraf commented on #2555
That looks useful - thanks for the tip. I basically want to do things like
what you just linked to, only on a 3D brain w/ some orientation. There are
a few packages that do this in matlab but I'm hoping something exists in
python for this. Unfortunately the ECoG world is mostly a matlab world :P

On Sun, Oct 25, 2015 at 2:04 PM, Alexandre Gramfort <
notifications@github.com> wrote:

[2015-10-25 21:23] agramfort commented on #2555
sounds like a good sunday hack :)

[2015-10-25 21:30] choldgraf commented on #2555
Hehe, something I am happy to assist somebody with if they want to do some co-hacking with me, but I have about 0 experience doing 3D plotting. Right now I just take a 2D snapshot of the brain, and use the mouse to click the X/Y coordinates of each electrode on that snapshot (which is stupid, I know)

[2015-10-25 21:34] agramfort commented on #2555
depends how often you need to do this :)

[2015-10-25 21:41] choldgraf commented on #2555
Well, at least once for every subject, but it means that if you ever want to change something about that picture (e.g., shrink it or blow it up, shift it, change the angle, etc) you have to redo the entire thing. Plus it just seems silly to take a full 3D representation of a brain, along with 3D electrode positions, and then throw all of that away in lieu of manually clicking an image.

[2015-10-25 22:34] choldgraf commented on #2555
I'm gonna ask the nibabel / nipy folks if they have any experience with Mayavi. I actually got this sort-of working, and if it becomes something stable then I'm happy to contribute it to MNE (e.g., some sort of high-level function that accepts a volumetric representation of a brain + x/y/z positions of electrodes). If you know of anyone with nibabel and/or mayavi experience, I'd love to shoot them

[2015-10-26 07:44] jaeilepp commented on #2556
I'll look into it.

[2015-10-26 11:06] #2558 closed

[2015-10-26 13:45] teonlamont commented on #2556
@agramfort I expanded time windows to get a fuller understanding. came with a cost