[2019-04-16 18:24] larsoner commented on #4471
Fixed by  #4531

[2019-04-16 18:24] #4471 closed

[2019-04-16 20:14] virvw commented on #6154
Sounds good, let me touch based with @poojaprabhu9 on option (3). Her first attempt was hindered when morphing volumes across participants as she seemed to obtain a variable number of vertices across participants after morphing. We have to check whether this is a coding issue or an actual bug.

[2019-04-17 07:00] AleDallavecchia opened #6162 "no way to read saved ica fif files"
There is the ability to save an ica solution, but no way to read it. The previous version of MNE had this same functionality that somehow got lost in this one.

[2019-04-17 07:05] cbrnr commented on #6162
The functionality is still there: https://martinos.org/mne/stable/generated/mne.preprocessing.read_ica.html

Can you try again and if it still doesn't work please let us know what you tried.

[2019-04-17 13:26] agramfort opened #6164 "ENH : speed up mixed_norm solvers with BLAS"
for @QB3

[2019-04-17 15:12] AleDallavecchia commented on #6162
I found the solution. Had to change how I called it.
previously: mne.read_ica(fname) to mne.preprocessing.read_ica(fname)

Sorry and thank you!

[2019-04-17 15:13] AleDallavecchia commented on #6162
I found the solution. Had to change how I called it.
previously: mne.read_ica(fname) to mne.preprocessing.read_ica(fname)

Sorry and thank you!

[2019-04-17 15:13] #6162 closed

[2019-04-17 15:21] DiGyt commented on #5708
@cbrnr @agramfort

I could work on this if you want.
So basically, both of these errors are in fact ZeroDivisionErrors, created if ``` f = 0``` in ```sigma_t = this_n_cycles / (2.0 * np.pi * f)``` and ```this_n_cycles / float(f)```.

So the options probably would be:
1. Print a meaningful error like ```raise ValueError("All frequencies must be greater than 0")```
2. Mask the case f = 0 with someth

[2019-04-17 15:23] DiGyt commented on #5708
BTW, here's how this Error occurs:
[code]

[2019-04-17 15:25] cbrnr commented on #5708
I'd prefer an error message if it is technically not possible to compute the DC component.

[2019-04-17 17:07] drammock opened #6165 "ENH: better automatic plot titles in plot_compare_evokeds"
[code]
yields
`RuntimeWarning: More than 6 channels, truncating title ...`

Two suggested enhancements:

1. if `picks` is one of the standard types (`eeg`, `mag`, `grad`...) then the title should reflect the channel type, rather than trying to list all channel names
2. if specific channels are requested, the truncation should happen with an info message printed to the terminal, not a `RuntimeWarni

[2019-04-17 17:11] drammock commented on #6165
I can take this on at the sprint; cc @jona-sassenhagen because of possible interaction with #4746

[2019-04-17 17:24] jona-sassenhagen commented on #6165
Agreed!

I think it's fairly independent and I agree with your judgements though. But we will talk about all this at the sprint anyways.

[2019-04-17 17:45] drammock opened #6166 "ENH: show GFP by default in plot_compare_evokeds if picks is a channel type"
`plot_compare_evokeds(..., picks=None, gfp=False)` (which are the defaults) gives GFP plots for each sensor type, but if `picks='grad'` (or `mag` or `eeg`) it gives a simple average.  To me it seems more consistent to use GFP if `picks` is a channel type. This would require changing the default `gfp=False` to `gfp=None` --- otherwise, there would be no way for users to force the simple average if

[2019-04-17 21:31] jgeller112 opened #6168 "FreeSurfer and Python Interaction"
Hello,

I am currently working my way through the anatomy.py script (the `def process_subject_anat` function) using the most recent version of MNE (0.18) and Spyder (Python 3.7). I ran into an error when running the script:

 File "<ipython-input-24-cd737f5d04ec>", line 94, in <module>
    parallel(run_func(subject_id) for subject_id in range(1, 20))

  File "/Users/gellr/anaconda3/lib/python3.7/s

[2019-04-17 21:53] jgeller112 commented on #6168
I also get this error:

FileNotFoundError: [Errno 2] No such file or directory: 'recon-all': 'recon-all'

[2019-04-18 07:33] agramfort commented on #6168
you need so install and setup freesurfer before running this.
recon-all is a freesurfer command line tool.

[2019-04-18 07:35] agramfort commented on #6166
+1

[2019-04-18 09:33] DiGyt commented on #5708
Well, it surely is technically possible to do so, but seems not to be directly related to the issue that morlet and multitaper can't be computed with fmin=0Hz.

Was your intention to remove DC offset from each channel by subtracting the mean before calculating the TFR, or would you like a frequency ```freqs = [0]``` to be corrected to DC each time it is passed?

[2019-04-18 10:20] cbrnr commented on #5708
I would like a frequency of 0 to mean DC so that all TFRs behave like `tfr_stockwell` (or any other FFT-based method, where 0Hz does not produce an error).

[2019-04-18 14:21] jgeller112 commented on #6168
FreeSurfer is installed in my computer—I am able to recon files from it. Oddly, when I open Anaconda directly from the terminal it recognizes FreeSurfer.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Alexandre Gramfort <notifications@github.com>
Sent: Thursday, April 18, 2019 2:33 AM
To: mne-tools/mne-python
Cc: Geller, Jason; Author
Subject: [External] Re: [m

[2019-04-18 19:30] #6168 closed

[2019-04-18 20:00] kwdoyle opened #6170 "psd_multitaper issue in 0.18.dev0"
Hello,

There is an issue with psd_multitaper which does not happen in version  0.17.0. When passing an epochs object to psd_multitaper, the following errors can occur:

[code]

To complicate matters, this issue does not occur on all files.

[2019-04-18 20:24] larsoner commented on #6170
I can't reproduce on a first try:
[code]
And it's not that some of your files have channel names `data`, because this gives:
[code]
Can you make a minimal example? If you need to you can upload a hopefully small data file somewhere for us to download to reproduce.

[2019-04-18 20:26] agramfort commented on #6168
if you use spyder you need to source freesurfer before starting it from a
terminal.

HTH

[2019-04-19 00:54] drammock commented on #5848
I ran into this problem today too.  I think that if a user passes `weights` as an iterable, the weights should be normalized by the `combine_evoked` function (but they aren't). It looks like the math in the code comment [here](https://github.com/mne-tools/mne-python/blob/master/mne/evoked.py#L887) is missing an overall denominator term (called `V_1` in the equation for `\hat{\sigma}_w^2` [here](ht

[2019-04-19 01:11] larsoner commented on #5848
Let's solve this with a hopefully quick conversation Monday!

[2019-04-19 03:50] jasmainak commented on #5848
I'd be interested in participating in this too as it [bugged me before](https://github.com/mne-tools/mne-python/issues/4438). I wonder if there is a good case for [allowing weights other than +1 and -1](https://mne-tools.github.io/0.14/manual/source_localization/inverse.html?highlight=effective%20number%20averages#effective-number-of-averages). If not, restricting to just these two could remove a

[2019-04-19 19:51] wmvanvliet commented on #6159
The beamformer code is getting more powerful with every PR we push. However, this comes at the cost of accumulating parameters at a rapid pace. We need to find out which configurations work well and which do not. During the sprint, we're going to design and execute this study.

The study will be performed both on [phantom data](https://martinos.org/mne/stable/auto_tutorials/plot_brainstorm_phantom

[2019-04-20 17:54] jona-sassenhagen commented on #6164
@larsoner could Cupy also help hear?

[2019-04-20 17:55] jona-sassenhagen commented on #6166
Why not. I probably did it this way cause I'm not used to MEG.

[2019-04-20 17:59] jona-sassenhagen opened #6171 "picks argument to get_data"
Currently, if you want to do e.g. decoding, you'll do something like `X = epochs.get_data()`. Now this will often pull in the stim channel, which might e.g. lead to perfect accuracy at t=0. So you would do: `X = epochs.pick_types(stim=False).get_data()` or something like that.

This isn't too inelegant code wise, but 1. it's easy to forget, 2. it's wasteful - we construct a new Epochs object just

[2019-04-20 18:39] larsoner commented on #6171
I would just add `picks` arg, not all the types. Types are now implicitly supported anyway

[2019-04-20 18:40] larsoner commented on #6164
Depends on where the slowdowns are, which I'm not sure about. Can discuss this week

[2019-04-20 18:40] jona-sassenhagen commented on #6171
Good point.

Anybody can think of a candidate for this? It should be easy.

Or I can do it at the sprint.

[2019-04-21 14:00] agramfort commented on #6171
I added it to https://github.com/mne-tools/mne-python/projects/4

[2019-04-21 14:01] agramfort commented on #6164
I doubt about cupy as the solver requires many for loops over the sources

[2019-04-22 12:11] larsoner commented on #6119
@ngayraud et al. here is the example of a naive API I wrote to do this sort of thing:

https://gist.github.com/larsoner/8566361d3e011c9ce34c1d321f0f4ef1

Feel free to reuse the code (not the simulator) to test out the eventual API/implementation. The result will hopefully produce images like this:

<img width="912" alt="Screen Shot 2019-03-18 at 22 39 05" src="https://user-images.githubusercontent

[2019-04-22 12:40] britta-wstnr commented on #5266
@lbailey25 does this problem still exist? If so, can you share the data so we can have a look?

CC @wmvanvliet @ckiefer0

[2019-04-22 12:58] stfnrpplngr opened #6178 "plot_compare_evokeds zooms out of axes"
@drammock
Using `mne.viz.plot_compare_evokeds` has plotting problems when using zoom. The lines are plotted outside of figure axes.

Default:
![plot_compare_evokeds_default](https://user-images.githubusercontent.com/20129752/56501386-e0faef80-650e-11e9-96f2-b767d8e9a991.png)

Zoom:
![plot_compare_evokeds_zoomedin](https://user-images.githubusercontent.com/20129752/56501396-ea845780-650e-11e9-89e3-

[2019-04-22 13:12] britta-wstnr commented on #6159
Let's add a comparison to FieldTrip to the list, happy to work on that one.

[2019-04-22 14:39] drammock opened #6179 "DOC ENH: better setup instructions for new contributors"
Currently there is some info in [the contributing page](https://mne-tools.github.io/dev/contributing.html#id1) and some other info in [the advanced setup page of the install docs](https://mne-tools.github.io/dev/advanced_setup.html#using-the-development-version-of-mne-python-latest-master) about how to set up your system as an MNE developer.  This info should only be in one place.  Also, the info

[2019-04-22 14:44] ikojcic opened #6180 "Development environment installation"
I was following the contributing guide and it wasn't clear how to have simultaneous mne (stable, user) environment and mne-dev environment in which I could make contributions.
I installed MNE (stable, user version) using installation guidelines:
[code]
Then, when I followed the contributing guide which says:
[code]
So both environments had the same name (mne), instead of e.g. mne and mne-dev.
To f

[2019-04-22 14:45] massich commented on #6180
Ok, this seems to be a dubplicate of #6179

[2019-04-22 14:47] sdeslauriers commented on #3609
@agramfort and I looked into possible solutions to this issue.

At the moment, the fix involves compiling the libeep library linked above yourself (or using binaries such as those provided by @behinger) and using the Python bindings by copying files to you site-packages. Unfortunately, this solution is Python 2.7 only. Moving to Python 3 would involve providing our own bindings for this library an

[2019-04-22 15:23] wmvanvliet commented on #6159
We're working in a separate repo for this: https://github.com/wmvanvliet/beamformer_simulation

[2019-04-22 15:27] massich commented on #6179
Apparently, we hit the issue where the documentation on how to interact with the repo itself gets duplicated between repos, outdated, etc..

cc: @emdupre

[2019-04-22 15:30] #6137 closed

[2019-04-22 15:32] emdupre commented on #6179
Adding a .github repository to the org might help, here !

https://github.blog/changelog/2019-02-21-organization-wide-community-health-files/

[2019-04-22 15:39] britta-wstnr opened #6183 "MAINT: Beamformer comparisons"
As discussed with @larsoner, we will add a test for LCMV and DICS to test against FieldTrip (i.e., against saved FieldTrip output).

[2019-04-22 21:17] #6114 closed

[2019-04-22 21:32] #6165 closed

[2019-04-22 21:38] #6180 closed

[2019-04-23 01:29] Shohei-Mizutani opened #6185 "[Feature request] Request for improvement of topography with Neuromag"
#### Describe the problem

We measured MEG data with Elekta machine this year. Those data were measured with the gradiometer only, without the magnetometer.
And, when we analyzed those data of measurement results with MNE python, those topography graphs showed only positive values and drew red distributions over the entire surface. One of the possible causes is that MNE python may be outputting th

[2019-04-23 06:16] agramfort commented on #6185
yes it's because we display the RMS of the pairs of grads.

have a look at this
https://martinos.org/mne/dev/auto_examples/preprocessing/plot_virtual_evoked.html

if it works please close the issue.

[2019-04-23 06:21] larsoner commented on #6185
You can also often pick one of the two grads with `meg='planar1'` or `meg='planar2'` or `picks='planar1'` or `picks='planar2'` to show just one of the two channels depending on the function(s) you're using

[2019-04-23 07:04] #6107 closed

[2019-04-23 07:38] Shohei-Mizutani commented on #6185
Thank you for your prompt answer. And thank you for the information about how to solve.

We also tried _Remap MEG channel types_, but the following value error was given at [`evoked.as_type('mag')`].

![image](https://user-images.githubusercontent.com/49854150/56561714-bb3f1a80-65e2-11e9-80aa-c9f023b79e20.png)

We attach the program where the problem was.
[program.zip](https://github.com/mne-tools

[2019-04-23 08:14] agramfort commented on #6185
you need to find a dataset with info that contains the mags information.

[2019-04-23 08:54] britta-wstnr commented on #6183
Steps:
- get ``.m`` file to run _unit-gain_, _unit-array_, and _unit-noise-gain_ beamformer in FieldTrip
- save FieldTrip output as ``.stc`` files
- use these files to test MNE-Python output against in new test

[2019-04-23 09:25] larsoner commented on #6183
Sounds good to me

[2019-04-23 13:30] olafhauk commented on #5520
Looking at the code now, it seems to do the right thing (taking rank into account for Tikhonov regularisation), assuming that the rank is determined correctly.

[2019-04-23 14:40] jona-sassenhagen commented on #5848
I'd like that @jasmainak .

Did any discussion happen on Monday? :)

[2019-04-23 15:19] #6030 closed

[2019-04-23 15:20] larsoner commented on #5848
Yes @drammock can fill you in

[2019-04-23 15:20] drammock opened #6199 "plot_compare_evoked opens 3 figures but only draws 1"
when the user has not imported matplotlib and called `plt.ion()`, the 3 figures are created and opened, but only the first figure window is plotted into, and the execution is blocked until all 3 are closed (at which point presumably the plotting calls are made into the already-closed figures).  This reproduces it:

[code]

[2019-04-23 15:25] Alex159 commented on #6077
Hi Alexandre,

That solution worked for me for a while, but now the issue is back again. I have confirmed that the annotations have been removed, by including your suggestion of applying the `set_annotations(None) `immediately after loading the file.

What happens now is that an SSP operator is being invoked, where it wasn't before, and that is causing rejection of 80% of epochs.

[code]
And what

[2019-04-23 15:26] larsoner commented on #6077
`proj=False` in the epochs constructor will prevent it from being applied. But a better solution might be to remove the projectors in the first place with `raw.del_proj()` earlier in your pipeline

[2019-04-23 15:32] Alex159 commented on #6077
Hi larsoner,

Thank you for the quick reply. I see a difference in the ERPs when I toggle the `proj `parameter to on / off but it doesn't actually stop the epochs from being dropped. I'm afraid even explicitly deleting the projection has no effect on the dropping of epochs:

[code]

[code]
As I mentioned, above I have proj=False, but exactly same output whether it is set to True or False (though I

[2019-04-23 15:38] drammock commented on #5848
@jona-sassenhagen here is what @larsoner and I discussed:

When *adding* evokeds there are 2 sensible use cases:
- adding evokeds where you want to ignore the number of epochs used to create each evoked. This is already supported by `weights='equal'`
- adding evokeds where you want to respect the number of epochs used to create each evoked. This is already supported by `weights='nave'`.  This yiel

[2019-04-23 15:43] larsoner commented on #5520
Okay I'll close for now but we'll keep it in mind as we try to unify minimum-norm and beamformer treatment of rank and reg

[2019-04-23 15:43] #5520 closed

[2019-04-23 16:45] #6054 closed

[2019-04-23 17:33] jona-sassenhagen commented on #6112
Mayyyyybe with #6186 in we can use _set_image_lims_and_scale for this.

[2019-04-23 22:29] AmirDJV opened #6203 "Permutation test on channels connectivity"
I’m running a permutation test on channels connectivity between two groups and I encountered a few issues.

**Jupyter notebook can be found [here](https://github.com/AmirDJV/EEG_question/blob/master/questions_on_permutation_cluster_test_250419.ipynb) and data files for the notebook [here]( https://www.dropbox.com/sh/ik6hmp0b09c3l8f/AABsZ0uSp5AR2GK70XUGk4Vta?dl=0).**

Each “cap”/file in my data act

[2019-04-23 22:29] #6087 closed

[2019-04-23 22:33] larsoner commented on #5665
There is an example on how to do this with `fsaverage` now, which would be the preferred MNE way (and fsaverage is already in MNI talairach space):

http://mne-tools.github.io/dev/auto_tutorials/plot_eeg_no_mri.html#sphx-glr-auto-tutorials-plot-eeg-no-mri-py

Once you have the forward operator, you can check out other MNE examples for how to do inverses, etc. Closing since hopefully it will work w

[2019-04-23 22:33] #5665 closed

[2019-04-23 22:36] larsoner commented on #5269
@sappelhoff how about for now we add a link in the `montage` code somewhere to the separate repo? That way if we hit a use case where we need to calculate, we can refer to that?

[2019-04-24 06:57] #6199 closed

[2019-04-24 08:27] megazero1316 commented on #6119
hello i have a question, can the simulation API be used to simulated motor imagery EEG signal (or ERD/ERS pattern ) ?

[2019-04-24 08:29] ngayraud commented on #6119
Hi, I am interested in that too, and I think that it will be able to do
that, as long as you provide it with the right parameters. If you can model
the activity and provide the regions where it occurs, it should work.

Le mer. 24 avr. 2019 à 10:27, megazero1316 <notifications@github.com> a
écrit :

[2019-04-24 08:57] sappelhoff commented on #5269
sounds good, perhaps link to it in some of the documentation pages? Or did you mean as a comment somewhere in the code?

[2019-04-24 09:00] larsoner commented on #5269
Either (or both) is fine by me

[2019-04-24 09:17] sappelhoff commented on #5269
looping in @drammock who is working hard on the docs: Would you know a good place in the documentation where we could refer to a repository for  *computing* standard EEG electrode positions on a sphere? (talking about: https://github.com/sappelhoff/eeg_positions) ... perhaps reading the [OP](https://github.com/mne-tools/mne-python/issues/5269#issue-330212793) will aso provide you with the backgrou

[2019-04-24 10:08] sappelhoff commented on #4950
No, I don't think so. At [anonymization](https://github.com/mne-tools/mne-python/blob/92f61faef72a335d6de63e816bd5bcfeaceffa09/mne/io/meas_info.py#L2008-L2038), `meas_date` is assigned `None`, and because we cannot have `None` as a date (as @larsoner [commented](https://github.com/mne-tools/mne-python/issues/4950#issuecomment-367095176)), this is actually a "magic date", see:

https://github.com/m

[2019-04-24 10:15] sappelhoff commented on #6123
@agramfort let me know when you have 10 minutes for this.

[2019-04-24 10:35] virvw opened #6204 "[regression on grads - info needed]"
We applying "linear_regression" in sensor space, are the grads combined prior to it? i.e. are the beta based on single grads or pairs of grads? A priori it looks like single grads so the graphic depiction of the outcomes (which reports the norm) may be misleading/confusing.

For instance: say gradx goes from negative to positive amplitude as a function of a variable of interest wereas grady goes p

[2019-04-24 10:38] larsoner commented on #6204
They shouldn't be IIRC.

The norm we use for planar gradiometer pairs is not just a simple sum (which would indeed cancel out) but rather the RMS. So if the beta for planar1 is big and positive and the beta for planar1 is big and negative the result will be big (and positive). So basically things that are far from zero remain far from zero, but you do lose the directionality.

[2019-04-24 10:38] dengemann commented on #6204
Nothing is merged internally while fitting the models. It's 1 mode per sensor per time point. The plotting always combines both grads. This is ultimately what you want to be able to source localize the ensuing results.

[2019-04-24 11:16] virvw commented on #6204
Thanks for the quick reply - what is  IIRC?

It partially answers but not fully. Basically, for interpretation purposes, it matters whether betas are negative or positive. When looking at the rms of the betas in grads, they will always be positive.

[2019-04-24 11:30] DiGyt commented on #5708
ok, so i listed some examples below, where i manually set ```freq = 0``` to DC (outside the function). As you can see, this would not solve the problem for all cases.

[code]
That's the reason i'm kind of hesitating with this, since doing it would not solve ALL the cases, while simultaneously introducing inconsistencies in the frequency intervals.

The reason that 0 Hz frequencies can be passed in

[2019-04-24 12:16] sappelhoff commented on #6123
I investigated a bit and apparently, FieldTrip is using a whole suite of scripts to automate this themselves, without relying on 3rd party services:

https://github.com/fieldtrip/webhook

I also asked Robert whether he can tell us some details - I'll update once I know more.

[2019-04-24 12:17] jasmainak commented on #6204
If I remember correctly (IIRC)

welcome to github ;-)

[2019-04-24 12:46] larsoner commented on #6204
FYI (for your information :) ) you can also use `meg='planar1'` or `meg='planar2'` in some/most picking and viz functions to look at just one grad type, which avoids the norm. I'll close for now but let us know if these ideas won't work for your use cases

[2019-04-24 12:46] #6204 closed

[2019-04-24 13:05] larsoner opened #6206 "BUG: Azure conda is broken"
See latest failures from today. It has been disabled temporarily.

[2019-04-24 13:07] #5974 closed

[2019-04-24 14:03] #6171 closed

[2019-04-24 14:17] sappelhoff commented on #4950
Note: `DATE_NONE = (0, 2 ** 31 - 1) ` means `2147483647` microseconds, which are about 35 minutes.

So that refers to the 35th minute in year 0 (Jesus' death?) ... strictly speaking this fulfills the requirement:

So I guess we only remain with one bullet point from the original issue:

[2019-04-24 14:21] jasmainak commented on #4950
haha, no I think `None` always points to 1st January 1970. Probably the mean of Alex's and Matti's bdays

[2019-04-24 14:22] sappelhoff commented on #4950
Could you point to the code that specifies this? I only found the above, Jesus' death day

[2019-04-24 14:33] jasmainak commented on #4950
well I can point to wikipedia: https://en.wikipedia.org/wiki/Unix_time :-)

[2019-04-24 14:39] sappelhoff commented on #4950
oh, okay - thanks. I forgot what unix time is. So we could set:

`DATE_NONE = (0, 2 ** 31 - 1) `

to

`DATE_NONE = (-2208988800, 2 ** 31 - 1) `

Then it'd be 1st of January 1900, 35 minutes past midnight

[2019-04-24 15:19] sappelhoff commented on #4950
After some discussion with @larsoner we resolved that the main work for anonymization of dates should be done in https://github.com/mne-tools/mne-bids --> namely the whole dataset with all `scans.tsv` files and raw data files that contain recording dates must be passed and a **consistent** constant must be deducted from the recording dates. (i.e., the same for all participants, tasks, sessions, ru

[2019-04-24 16:52] #5881 closed

[2019-04-24 18:01] larsoner commented on #5924
Fixed by #6193

[2019-04-24 18:01] #5924 closed

[2019-04-25 08:45] drammock opened #6219 "extra "misc" row in raw.plot(butterfly=True)"
hey @stfnrpplngr, since you're working on butterfly mode, can you confirm this?

[code]
I'm seeing an extra row for "misc" channels even though I've done `pick_types`

cc #6210

[2019-04-25 09:14] larsoner commented on #6219
FWIW the epochs butterfly mode and raw butterfly mode use slightly different code paths, so this might not be trivial to fix in #6210 :(

[2019-04-25 09:18] drammock commented on #6219
OK, I'll self-assign then. @stfnrpplngr if you want to take it on before I get around to it, LMK.

[2019-04-25 09:29] britta-wstnr commented on #3853
Do we want to look more into this? What would be the agenda of this (I mean, after the fun of breaking things - the breakage is inherent to the design of spatial filters ...)?

[2019-04-25 09:40] larsoner commented on #3853
If it's inherent, there is no known fix, and we should just learn to live with it, we should close

[2019-04-25 09:40] #3853 closed

[2019-04-25 10:12] #5848 closed

[2019-04-25 13:01] stfnrpplngr commented on #6219
Applying my changes in epochs.py to raw.py will probably solve the problem. I will do that after finishing the refactoring of epochs.py.

[2019-04-25 13:23] sappelhoff opened #6223 "Fix the cited_mne.py script to update "Publications by users" page"
In our docs, we link to a [Publications by users](http://martinos.org/mne/stable/cited.html) page, which is being created by our [`cited_mne.py`](https://github.com/mne-tools/mne-python/blob/master/doc/sphinxext/cited_mne.py) script, authored by @jasmainak (see https://github.com/mne-tools/mne-python/issues/1935 and https://github.com/mne-tools/mne-python/pull/2954 )

This script has not been run

[2019-04-25 13:28] agramfort commented on #6223
I would not spend time on this and point to the scholar page :)

[2019-04-25 13:41] sappelhoff commented on #6223
I agree, no need to list the Gscholar output again on our website --> it's not very readable anyways.

see my PR to #6224

[2019-04-25 13:50] sappelhoff commented on #5269
Okay, a minimal note with a link is added to the docs. It'll be merged with https://github.com/mne-tools/mne-python/pull/5944

[2019-04-25 14:31] stfnrpplngr opened #6226 "Autoscale is not working properly in epochs.plot()"
#### Describe the bug
Autoscale does not appear to work properly. It seems that scales are not calculated channel-type-wise. Probably related to https://github.com/mne-tools/mne-python/issues/5760.

#### Code to reproduce
[code]

#### Expected results
`epochs.plot(scalings=None)`
![autoscale_issue_scalingNone](https://user-images.githubusercontent.com/20129752/56743436-d8a4ed80-6776-11e9-9a15-3f95

[2019-04-25 15:37] agramfort commented on #6226
the "auto" explanation is not clear here
https://martinos.org/mne/stable/generated/mne.Epochs.html#mne.Epochs.plot
I agree that it should be done per channel type.

[2019-04-25 16:32] jona-sassenhagen commented on #6206
Azure just ran successfully for me, is it still broken?

[2019-04-25 16:33] stfnrpplngr commented on #6226
Just checked it. `mne.viz.utils._compute_scalings()` actually is doing the scaling per channel type. The bug seems to be somewhere else.

[2019-04-25 16:37] larsoner commented on #6206
No, see #6214

[2019-04-25 16:37] #6206 closed

[2019-04-25 16:47] larsoner commented on #5269
This now lives in #5944 so I'll close

[2019-04-25 16:47] #5269 closed

[2019-04-25 16:48] larsoner commented on #5266
@britta-wstnr pushed some fixes that probably fix this, I'll close but @lbailey25 please check and let us know if it's better (we'll reopen if it's not!)

[2019-04-25 16:48] #5266 closed

[2019-04-25 16:54] #6223 closed

[2019-04-25 17:06] jona-sassenhagen commented on #6178
I discussed with @stfnrpplngr that I think it should be very low priority to make this work as is. I would prefer if we wrote a different, more appropriate callback for click and drag here. One simple option would be plotting a copy of the cropped evokeds objects (cropped to the time interval selected by the user). Another would be to show bar plots of the mean values in the dragged window.

[2019-04-25 17:06] jona-sassenhagen commented on #6038
Can this be closed?

[2019-04-25 17:07] jona-sassenhagen commented on #3060
Closed because we're using Annotations now I think.

[2019-04-25 17:07] #3060 closed

[2019-04-25 17:14] larsoner commented on #6038
Yes let's move to the mailing list

[2019-04-25 17:14] #6038 closed

[2019-04-25 17:22] #6219 closed

[2019-04-25 19:19] drammock commented on #6178
I thought that the zooming was default matplotlib zooming, not something we wrote. If what we currently do isn't compatible with mpl, I'm inclined to try to fix it before adding a new callback. Let's discuss tomorrow morning.

On April 25, 2019 10:06:02 AM PDT, jona-sassenhagen <notifications@github.com> wrote:

[2019-04-26 06:35] Shohei-Mizutani commented on #6185
Thank you both for your guidance.

Just to clarify my understanding, it’s not possible to interpolate the grads to mags because there are no mags to start with, but if we choose just one of the 3 planar gradiometers, we should be able to display it with a red/blue color map that contains both positive and negative values.
But, this method could not display the topography.
And, however if we displa

[2019-04-26 09:13] jona-sassenhagen commented on #2747
@agramfort I would like to also allow this for channels (like EEGLAB has). It's good to quickly see e.g. what kind of artefacts a channel has (just 2 or 3, or more). Ok?

[2019-04-26 11:18] cbrnr opened #6235 "Cannot pickle mne.preprocessing.ica.ICA anymore"
With the current master (installed via `pip install git+https://github.com/mne-tools/mne-python.git#egg=mne`), I get an error when pickling an `mne.preprocessing.ica.ICA` object:

[code]

The same code works with the latest released version 0.17.2. I didn't see any change to the `ICA` object that might be causing this (but maybe I'm missing something). If indeed nothing changed, could this behavio

[2019-04-26 12:21] britta-wstnr commented on #5690
@larsoner is this the same as #5879 ?

[2019-04-26 13:33] teonbrooks opened #6238 "BUG: Get LSLMockClient to work on multiprocessing"
Windows is causing some problems with `multiprocessing` in Python. look into this more

[2019-04-26 13:41] #5690 closed

[2019-04-26 13:42] drammock commented on #6178
After several long discussions, @agramfort @jona-sassenhagen and @drammock agree that we are closing this as `[won't fix]`.  Having beautiful defaults *and* elegant cooperation with the matplotlib GUI interface is too difficult to maintain.  Sorry :(

[2019-04-26 13:42] #6178 closed

[2019-04-26 13:44] #6112 closed

[2019-04-26 13:44] britta-wstnr commented on #5880
Add an ``auto`` option to the ``reduce_rank`` parameter: reduce the rank of the leadfield on a voxel by voxel basis to deal with sphere models as well as unstable voxels in other headmodels. --- Think again, whether it is a good idea to make voxels behave differently.

[2019-04-26 13:44] Hellg0re commented on #5728
In our lab, we can reproduce this behavior as well. On Windows and on Linux machines.

This Machine below has a Radeon graphics adapter installed: (The Linux machine runs with NVIDIA)
Platform:      Windows-7-6.1.7601-SP1
Python:        3.7.2 (default, Jan  2 2019, 17:07:39) [MSC v.1915 64 bit (AMD64)]
Executable:    C:\Users\...\Anaconda3\envs\mne\pythonw.exe
CPU:           Intel64 Family 6 Model

[2019-04-26 13:50] DiGyt commented on #5488
@agramfort

I could adapt the MATLAB solution from the EEGLAB loadcurry() extension for this!

[2019-04-26 13:55] #6183 closed

[2019-04-26 15:19] jona-sassenhagen commented on #6039
This is done in  #6211. However,  #6211 is not doing evoked.plot_topo (but a way for doing topo plots with viz.plot_compare_evokeds). Should I additionally work on making evoked.plot_topo handle this?

[2019-04-26 15:45] sappelhoff commented on #6123
update: Alex tried `zapier`, but ran into problems when selection the mne-tools ORG as the owner of mne-python (he could only select his own fork)

We need somebody to test `automate.io` or `zapier` and document what options / clicks are needed.

[2019-04-26 16:00] agramfort commented on #6235
that's weird...

[2019-04-26 16:01] agramfort commented on #5488
that would be very useful !

[2019-04-26 19:08] jeythekey commented on #5965
Fixed in #6242

[2019-04-26 19:08] #5965 closed

[2019-04-26 21:57] larsoner commented on #6164
Fixed by #6220

[2019-04-26 21:57] #6164 closed

[2019-04-26 21:58] larsoner commented on #6159
Done by @wmvanvliet, the conclusions led to updating some other beamformer issues for further actions

[2019-04-26 21:58] #6159 closed

[2019-04-27 14:44] #4746 closed

[2019-04-27 14:44] #5746 closed

[2019-04-27 14:44] #6039 closed

[2019-04-27 14:44] #6166 closed

[2019-04-27 16:02] jona-sassenhagen commented on #6154
I totally forgot to cue in @dengemann and @JoseAlanis here.

[2019-04-27 16:04] jona-sassenhagen commented on #6235
Is this 100% reproducible on a diff, fresh computer?

Uh ... why can't you write the ICA objects to disk the normal way?

[2019-04-27 16:09] Teekuningas commented on #6235
I would blame the _Bunch_ class..

[2019-04-27 16:23] jona-sassenhagen commented on #6027
Closing. @Ali-pak reopen if you have updates.

[2019-04-27 16:23] #6027 closed

[2019-04-28 08:14] agramfort commented on #6235
here is a full snippet to replicate the pb:

import mne
import pickle
ica = mne.preprocessing.ICA()
raw = mne.io.read_raw_edf(mne.get_config('MNE_DATA') +
"/MNE-eegbci-data/physiobank/database/eegmmidb/S001/S001R04.edf",
preload=True)
ica.fit(raw)
pickle.loads(pickle.dumps(ica))

any help welcome.

[2019-04-28 11:17] sappelhoff commented on #6123
another option: https://gitweet.io/

Once your repository is linked to a twitter account, every time you provide a description in a commit (completely optional obviously), a tweet will be posted with the provided content.
Only the description will be tweeted.

[2019-04-28 11:21] jona-sassenhagen opened #6250 "speed up iter_evoked?"
I (mis)use epochs.iter_evokeds for confidence intervals from plot_compare_evokeds a lot. That is really slow. Is there some trivial way for speeding up iter_evokeds? (Instead of doing the sensible thing and speeding up plot_compare_evokeds itself ...)

I don't see one, it seems the problem is it's calling Epochs.__next__ and creating 100s of Evokeds via EvokedArray, which is simply inherently slow

[2019-04-28 15:00] Teekuningas commented on #6235
https://docs.python.org/3/library/pickle.html#object.__getnewargs__

You could add something like this to utils/_bunch.py 's NamedInt:
`
    def __getnewargs__(obj):
        return obj._name, int(obj)
`

[2019-04-28 22:23] mmagnuski commented on #6250
I don't know how `iter_evokeds` works exactly but I assume it could create the Evoked object only once and only change the `.data` then (if it doesn't do this already).

[2019-04-29 06:26] cbrnr commented on #6235
Thanks @Teekuningas, this solves the problem!

[2019-04-29 08:04] agramfort commented on #6250
it's very possible it does a copy of the info which can take time. one
option would be to add a parameter to iter_evokeds method to avoid as many
copies as possible

[2019-04-29 08:39] ngayraud commented on #6119
Now that we have #6243 merged into master, what else do we need to implement to close this issue? From what I remember, we discussed about providing template waveforms. I can provide templates for the following evoked responses: P300, N200, combination of P300+N200, and N400. For all these waveforms, two parameters can be tuned to set the amplitude and jitter of the peak. Before I do a PR, let me

[2019-04-29 15:16] #6235 closed

[2019-04-29 17:49] agramfort commented on #6119
I would say priority is now to consolidate a narrative tutorial.

[2019-04-30 10:39] stfnrpplngr commented on #6226
PR #6255 should solve the issue.

![ausoscale_issue_fixed](https://user-images.githubusercontent.com/20129752/56956597-f68e9b80-6b44-11e9-9dde-1c92e2765057.JPG)

[2019-04-30 19:56] #6226 closed

[2019-05-01 08:00] agramfort commented on #6185
you can plot signed values with planar1 or planar2 gradiometers but it
won't look nice ie with dipolar patterns.

you'll need to hack your evoked object as your use case is not easily
covered.
- you need to find the measurement info for the magnetometers you miss (eg
from sample data)
- create a new evoked object with the missing magnetometers
- interpolate.

disclaimer I never tried and it may no

[2019-05-01 15:03] hubertjb opened #6258 "`mne.events_from_annotations` returns events that barely overlap with annotation"
I noticed that `mne.events_from_annotations` sometimes returns events that barely even overlap with an actual annotation when `chunk_duration` is used. I think this might have been the actual reason behind the issue https://github.com/mne-tools/mne-python/issues/5684#issuecomment-438211200.

The issue seems to arise when an annotation has a duration that is only slightly over `chunk_duration`. A f

[2019-05-01 22:03] bdyetton opened #6259 "meas_date incorrect for edf"
Hi MNE team,
I believe I found a small bug.

#### Describe the bug
When reading raw edf, info['meas_date'] is incorrect.

#### Steps and/or code to reproduce
Using another edf reader ([polyman](https://sites.google.com/view/diegoalvarezestevez/projects/polyman), [wonambi](https://wonambi-python.github.io/)) the "startdate" for the linked recording is 08-JUL-2014 23:05:09, however, when loading int

[2019-05-01 22:54] larsoner commented on #6259
Could one be UTC and the other local time?

[2019-05-01 23:46] bdyetton commented on #6259
I don't think so.
I am sure that 08-JUL-2014 23:05:09 is correct (these are sleep recordings).
Are you saying that MNE converts to local time or to UTC?

[2019-05-01 23:53] larsoner commented on #6259
Meas date is probably UTC

[2019-05-02 00:50] bdyetton commented on #6259
Ahh, yes, nice one!
The correct time saved in the edf header can be recovered with:
[code]

[2019-05-02 00:50] #6259 closed

[2019-05-02 07:39] agramfort commented on #6258
@massich can you have a look? thx

[2019-05-02 08:01] cbrnr commented on #5180
I've implemented a basic XDF reader in MNELAB:
https://github.com/cbrnr/mnelab/pull/22

There are some caveats (see my comment in that PR), but loading basic EEG streams should work. I'm not sure if we can handle loading multiple streams, because everything gets very slow even with just one long stream (with a high number of channels/samples, e.g. 80 channels, fs 1000Hz, 10 minutes).

[2019-05-02 10:24] mmagnuski commented on #6258
I see how that is counter-intuitive and even wrong when one uses the events for epoching using `chunk_duration` as epoch length. The general question is: what degree of error for the chunks do we allow by default. If none then some may also find it surprising that having an annotations of duration 29.9 and requesting chunk duration of 30. they get no events.
The simplest scenario is to add somethi

[2019-05-02 10:31] mmagnuski commented on #6258
A temp fix is to add something like:
[code]
before https://github.com/mne-tools/mne-python/blob/master/mne/annotations.py#L873

[2019-05-02 12:46] teonbrooks commented on #5180
@cbrnr very cool. it looks like we might be able to incorporate the lazy evaluation of preload and seek on demand. with xdf, can streams be added during recording or we do always know that it would contain certain streams and only those stream throughout?

[2019-05-02 14:42] hubertjb commented on #6258
Thanks for looking at this @mmagnuski!

[2019-05-02 15:35] tstenner commented on #5180
@teonbrooks New streams can appear anywhere in the file, but per spec the header for the stream has to appear before the data chunks.

[2019-05-02 19:04] #5229 closed

[2019-05-02 19:36] mmagnuski commented on #5578
@massich - this was done, right, the issue can be closed?

[2019-05-02 20:10] agramfort commented on #5578
Yes

[2019-05-02 20:10] #5578 closed

[2019-05-02 21:43] teonbrooks commented on #5180
I guess then you would need to be able to read all the headers first to and construct a map of pointers (sample_n --> data_block_n) for the eeg if you wanted to avoid loading the whole file

[2019-05-03 04:18] cbrnr commented on #5180
Yes, it is possible to parse the whole file and just consider the data of the stream you want (and skip over the data you don't want), because each stream has a unique stream ID. That's something I'm already doing with `parse_xdf`, but the current version of `pyxdf` (which I use to actually load data) doesn't support this yet.

[2019-05-03 12:18] poojaprabhu9 opened #6265 "Morph volumetric source estimate--discrepancy in number of vertices"
#### Describe the problem

we (@virvw and @poojaprabhu9) are trying to morph the whole brain volumetric source estimate to fsaverage (as illustrated in [example](https://martinos.org/mne/stable/auto_examples/inverse/plot_morph_volume_stc.html?highlight=volume%20morphing)).
After morphing, the number of vertex count vary per subject.
For example:
[code]
what possibly could have gone wrong?
after mo

[2019-05-03 16:11] larsoner commented on #6265
During forward calculation, vertices can be removed from the source space. If you look at `fwd['src']` for each subject, they will probably already have differing numbers of vertices.

[2019-05-03 16:48] virvw commented on #6265
Hi there,

I guess what Pooja means is that the end point of morphing to an average
brain volume would be to end up with a common grid for all participants so
we can perform group stats. An unequal number of vertices prevents an easy
work around for this unless we are missing something in our understanding
of volume morphing current implementation.

Let us know, we can help document / explicit thi

[2019-05-03 17:37] agramfort commented on #6265
I think we do have a design issue here. If you morph to fsaverage you should get stcs with the same volume grid to stcs data can be combined for any arithmetic operation.

@larsoner ok for you? I think it's the issue @britta-wstnr reported to me too no?

[2019-05-03 18:02] poojaprabhu9 commented on #6265
Thanks Virginie for explanation.
Please check the snippet too, so that it will be sure whether it's a coding issue from my end or it's a design issue.

[2019-05-03 18:46] larsoner commented on #6265
Seems reasonable to me

[2019-05-03 21:23] drammock opened #6266 "DOC, TODO: advanced git page?"
I'd been hoping we could avoid it and let the rest of the internet handle advanced git advice, but based on conversations in #6254, it seems like a troubleshooting / advanced git page might be wanted (at least by some)?

- [ ] when, how, and why to rebase
- [ ] tips like `git push -u`
- [ ] `git commit --amend` and `git push --force`
- [ ] `git stash`

@jeythekey @massich @larsoner @mmagnuski

[2019-05-03 21:54] jona-sassenhagen opened #6267 "BrainVision annotation parsing is needlessly complicated"
It used to be BV files would neatly map stim codes to integers: `'Stimulus/S 11'` would become `11` and so on. Now, with annotations, we have essentially random assignment; what `'S 11'` becomes is essentially unpredictable.

Now it is trivial to write a small function to get neater mappings, but 1. if you work with BV files, you will probably write that same function *every single time you import

[2019-05-03 21:56] mmagnuski opened #6268 "ENH: speed up ica.plot_properties"
I currently have to wait some time after clicking a component in `ica.plot_components` window and the time seems to be mostly from waiting for the multitaper psd estimation to complete. I think that we should use something much simpler like welch or even fft as the default. The plotted spectrum is for informational reasons, not for analysis. I can compare timings on one of my datasets.

[2019-05-03 23:22] larsoner commented on #6268
Sounds good to me

[2019-05-04 07:36] cbrnr commented on #6267
I haven't tested this recently, but if it is not mapped as you say it should a little function that maps events correctly would be great!

[2019-05-04 07:37] cbrnr commented on #6268
OK, I would be interested in the timings if this is really the bottleneck.

[2019-05-04 08:19] jona-sassenhagen commented on #6267
I guess I should have been more involved in the original decision. And maybe I just misunderstand the intended workflow. But the current state of the art seems very suboptimal to me.

Is it documented somewhere how you should read in events from BV data?

I think we really want the whole thing to work so you can straight-forwardly get from raw to epochs. Something like

[code]

Simply on virtue of

[2019-05-04 08:21] jona-sassenhagen commented on #6267
I will do a PR as soon as possible. But I would like to hear first if I am missing some functionality that makes this a non-issue (in which case we should still doc it!).

[2019-05-04 08:28] jona-sassenhagen opened #6269 "Website documentation.html buttons don't work"
On the website, when I am on https://mne-tools.github.io/dev/documentation.html, clicking the buttons (Statistics, Realtime, Connectivity, ...) does not work. The address bar will read, e.g., `https://mne-tools.github.io/dev/documentation.html#collapse_visualization`, but I won't be sent there.

I can click on the buttons from https://mne-tools.github.io/dev/index.html and it will work though.

I

[2019-05-04 08:29] jona-sassenhagen commented on #6250
Thanks, might be worth doing. I will self assign, although this is low priority I think because I'm abusing things here.

[2019-05-04 08:31] jona-sassenhagen commented on #6268
Sure, sounds good.

[2019-05-04 08:32] jona-sassenhagen commented on #6268
While you're there, generalise plot_properties to channels please :D

[2019-05-04 08:52] agramfort commented on #6268
+1 for doing a comparison

[2019-05-04 08:53] agramfort commented on #6269
I confirm the issue

@larsoner any idea?

[2019-05-04 08:55] agramfort commented on #6267
you can pass event_id to events_from_annotations to choose how the
mapping is done.

does it address your problem?

[2019-05-04 09:01] jona-sassenhagen commented on #6267
The issue is: the event_id I can pass to `events_from_annotations` is of str -> int form right? But how do I know what ints I should map to? Look at this real example:

[code]

Let's say S 44 (I.e., my presentation program sending trigger code 44) is condition A/X. So now I have to write `event_id = {"A/X": 15}`, right? And I have to manually check every single of these mappings by running `mne.ev

[2019-05-04 09:32] agramfort commented on #6267
ok then event_id as a callable should be used. I am open to suggestions to
make it easier.
There was in previous release a function to do this:

https://github.com/mne-tools/mne-python/blob/maint/0.17/mne/io/brainvision/brainvision.py#L359

[2019-05-04 09:35] agramfort commented on #6265
it may take some time to be fixed.

@poojaprabhu9 @virvw you can export the stc to a nifti image and then mask it with a volumetric atlas eg using nilearn.

would this help already?

what do you want to do with the stc in fsaverage space?

[2019-05-04 09:54] jona-sassenhagen commented on #6267
Yes, and that function, or something like it, should have been the default for mapping markers to event code ints.

I will go about that, unless @massich or somebody else wants to.

[2019-05-04 09:55] virvw commented on #6265
No, masking won't do .
We conducted some hipp source reconstruction to test a priori working
hypotheses on evoked data, replicated/solved the single-trial regression in
so we're alright with that.

Now, we wish to :
- map individual brains on an average vol space (actually we wanted to do
this last year already and were hoping by now we could or could help to
finalize somehow)
- conduct hilbert lc

[2019-05-04 10:15] britta-wstnr commented on #6265
Yes, I got the problems with morphed ``stc``  reported by other people, too. I haven't looked into this yet, but it is on my list. However, I am not too familiar with the whole morphing code yet, so I cannot say anything about how easy a fix this would be ... or where things go wrong.
@virvw : FieldTrip is taking a different approach, where the source grid is set up in MNI space to begin with and

[2019-05-04 10:17] sappelhoff commented on #6123
@agramfort - do you remember that you tried ZAPIER during the Coding Sprint? --> It did not work, because you could not select the  "mne-tools" organization.

The solution is [here](https://zapier.com/help/common-problems-github/#why-are-my-organizations-repositories-missing). We would have needed to "grant 3rd party access" to Zapier for the organization.

Perhaps you can give it another try :-)

[2019-05-04 10:22] jona-sassenhagen commented on #6267
One option would be allowing `mne.events_from_annotations(raw, event_id='brainvision')`, which would automatically trigger https://github.com/mne-tools/mne-python/blob/maint/0.17/mne/io/brainvision/brainvision.py#L359 . But that seems far from optimal.

I think by default, if you do

[code]

you should end up with an event_id like `{"Stimulus/S 11": 11}`, without *any* other step. Anything else se

[2019-05-04 12:27] larsoner commented on #6123
Both providers all had kind of crazy permission things (read and write all public and private repos) that would create security risks, so I created a dummy `larsoner-mne` user and put it in a dummy `mne-twitter` team on GitHub with only read access to MNE-Python, authorized it to connect to GitHub and Twitter, and have it so it should push tweets to `mne_news` like:

Pushed the test tweet:

https:

[2019-05-04 12:32] dengemann commented on #6123
I am -1000 for using mne_news which is our human operated news accoubt. Frankly, many people do not want to see commit notifications. Can we create a separate account for that?

[2019-05-04 12:51] sappelhoff commented on #6123
thanks for the initiative @larsoner and the neat solution with @larsoner-mne. Some questions for me to understand:

Do you mean you created a new "secret" team within the mne-tools organization? Because I can't see any  `mne-twitter` here: https://github.com/orgs/mne-tools/teams

With "it" you mean [zapier](https://zapier.com)?

---

@dengemann --> yes, we have [@mne_python](https://twitter.com/mn

[2019-05-04 13:22] mmagnuski commented on #6268
I profiled plot_properties and it seems I was wrong: a lot of time (> 2 s in this case) is spent in bootstrap CI computation:
![image](https://user-images.githubusercontent.com/8452354/57179607-d3832500-6e7f-11e9-9397-beed0d81a8ce.png)
We should consider switching to analytic (and possibly one-sided to better represent skewed distributions).
BTW - 7 seconds here is an exaggeration, 2 seconds were

[2019-05-04 13:24] mmagnuski commented on #6268
but I still think multitaper should be changed to somthing lighter (welch or fft), people with less experience with multitapersing could be mistaken by the fatter, more square-like peaks that can sometimes arise due to frequency smoothing.

[2019-05-04 13:27] mmagnuski commented on #6268
@jona-sassenhagen I can take a stab at that if you insist. :)

[2019-05-04 13:52] jona-sassenhagen commented on #6268
Uh oh, it's my fault :)

For the tests, we can pass a different ci function to plot_compare_evokeds here. You wanna do that, or should I?

I insist.

[2019-05-04 14:04] mmagnuski commented on #6268
This is what you meant in #6250, right?

I can test later today.

That could be useful.

😅

[2019-05-04 14:06] jona-sassenhagen commented on #6268
It is connected to that, yes. Another reason for speeding up epochs iteration.

Maybe it would also make sense to see if we can speed up the bootstrap ci function.

[2019-05-04 14:30] jona-sassenhagen commented on #6268
@mmagnuski I suggest to, in `plot_ica_properties`, add a `ts_args` param and default the time series (plot_compare_evokeds) internally to your CI function, unless overwritten to a `ci` param in `ts_args`.

[2019-05-04 14:30] jona-sassenhagen commented on #6268
I can do it too.

[2019-05-04 15:13] mmagnuski commented on #6268
@jona-sassenhagen Sure, If you have a plan, go for it. :)

[2019-05-04 15:41] larsoner commented on #6123
Yes I made it private because nobody should really need to care about its existence or what it's for

Yes

Done

[2019-05-04 15:41] #6123 closed

[2019-05-04 15:53] larsoner commented on #6269
This was some @choldgraf magic IIRC

I'll try to look soon

[2019-05-04 16:33] mmagnuski commented on #6077
I cannot replicate on the provided data (eeg_data_cropped_raw.zip).
I add evenly spaced events this way:
[code]
and then run:
[code]

nothing gets rejected.

[2019-05-04 17:13] drammock commented on #6269
That page on martinos.org/mne/dev does work though. Puzzling.

On May 4, 2019 7:53:31 AM AKDT, Eric Larson <notifications@github.com> wrote:

[2019-05-04 17:17] mmagnuski commented on #6203
I think your question may be a better fit for the discussion emailing list, you could get more responses there - github is mostly for bugs and feautre requests not so much "how to" questions.

Why do you need to shift channels?
I don't understand how you exactly build your adjacency (you use variables that are not defined within the provided code), but could we use a simpler minimal example maybe?

[2019-05-04 18:31] choldgraf commented on #6269
huh, something must have changed on that page. I'm pretty sure it's using the bootstrap collapse/show functionality so maybe something there changed?

[2019-05-04 22:01] #6258 closed

[2019-05-04 22:26] hubertjb commented on #6258
@mmagnuski @agramfort Thanks again!

[2019-05-05 06:35] virvw commented on #6265
Please, keep Pooja and I in the loop (I may be offline for a couple weeks
due to travels) but let us know how we can help advance!

On Sat, May 4, 2019 at 12:15 PM Britta Westner <notifications@github.com>
wrote:

[2019-05-05 11:31] jona-sassenhagen commented on #6267
Reading the code, I think I have a strong preference for adding an optional 5th entry to annotations: event_code (int). Every raw reader could then populate this appropriately: i.e., Brainvision triggers are very stereotypical, so they could use the sensible least-surprise parser. I'm sure there are other file formats which also have stereotypical event markers.

Another option is to add metadata

[2019-05-05 11:32] jona-sassenhagen commented on #1848
This still seems like an important topic to me. @kingjr @dengemann etc

[2019-05-05 12:36] jona-sassenhagen opened #6271 "`raw.plot` for ICA sources scalings are bad"
`ica.get_sources(raw).plot()` yields a largely useless plot, presumably because ICA activities are rescaled by the defaults for the channel type. Would it make sense to allow this to work by default (without the user passing scalings manually)?

[2019-05-05 12:42] dengemann commented on #1848
We can do an example of bootstrap / permutations. Not so high priority to me. Doing many splits and showing the intrinsic uncertainty of the cross validation is also often good enough: https://mne-tools.github.io/mne-r/articles/plot_machine_learning_evoked.html

[2019-05-05 12:52] cjayb commented on #5961
Just confirming that the fix above (copy libXt from flat_namespace) worked on
- macOS 10.14.3
- XQuartz 2.7.11
- mne-C OS X-build 3420 (6 Oct 2013)

Let me know if further testing needed

[2019-05-05 13:51] agramfort commented on #6271
as sources get returned as MISC channels it's a matter of setting a good
default fo misc channels.

my 2c

[2019-05-05 13:55] agramfort commented on #6267
I don't want to make the Annotations class smarter than it is.

I would be ok with:

1/

events_from_annotations(raw, event_id='brainvision').

or maybe

2/

events_from_annotations(raw, event_id='auto')

and if raw isinstance RawBrainVision we could default to the automagic
brainvision option.

but I feel that this function
https://github.com/mne-tools/mne-python/blob/maint/0.17/mne/io/brainvisio

[2019-05-05 14:39] agramfort commented on #6265
@poojaprabhu9 can you try to output the morphed volumes as nifti files with:

morph.apply(stc, output='nifti1')

You should get nifti1 images in fsaverage space. I hope this helps as otherwise
I'll been someone to look into this. Not sure if @TommyClausner has still time?
Otherwise maybe @larsoner can do black magic?

[2019-05-06 06:28] poojaprabhu9 commented on #6265
No @agramfort. This did not help.

On Sun, May 5, 2019 at 8:09 PM Alexandre Gramfort <notifications@github.com>
wrote:

--
Thank You
Pooja Prabhu

[2019-05-06 09:03] cbrnr commented on #6267
I am also -1 on extending `Annotations`. I'd prefer @agramfort's option 2 with defaulting to `event_id='auto'`so that eventually the user could just do `events_from_annotations(raw)` and everything just works as expected.

[2019-05-06 09:04] jona-sassenhagen commented on #6267
Yes I forgot raw instances can be traced back to their source by their subclasses. I agree 2 is the best option.

[2019-05-06 09:04] jona-sassenhagen commented on #6267
I will implement it as such!

[2019-05-06 11:35] stfnrpplngr opened #6273 "Incorrect montage view plotting only a subset of channels"
#### Describe the bug
Plotting only a subset of the channels included in a Montage results in a corrupted plot.
@cbrnr probably related to this https://github.com/mne-tools/mne-python/pull/4276?

#### Steps and/or code to reproduce
[code]

#### Expected results
I would have expected a plot showing the positions of "Fz", "Cz" and "Pz"

#### Actual results
![issue_montage](https://user-images.github

[2019-05-06 14:07] jona-sassenhagen commented on #6271
Maybe @stfnrpplngr has an idea?

[2019-05-06 15:38] larsoner commented on #6271
Maybe we should always by default auto-scale `misc` channel types in `viz` plotting. By definition we don't have an idea of what the scales should be, so auto-scaling them makes sense.

[2019-05-06 15:40] larsoner commented on #3987
Not fixed yet, so reopening

[2019-05-06 15:42] larsoner commented on #6273
Thanks for the report -- closing as duplicate of #5190 and #3987. Proposal for fixing [here](https://github.com/mne-tools/mne-python/issues/3987#issuecomment-298920228) and WIP PR in #5472, feel free to take over if possible!

[2019-05-06 15:42] #6273 closed

[2019-05-06 15:43] larsoner commented on #5471
This one won't make 0.18, moving to 0.19

[2019-05-06 15:49] agramfort commented on #6271
that would be fine with me.

[2019-05-06 18:13] #6179 closed

[2019-05-06 19:50] mmagnuski commented on #6271
+1 to autoscaling misc, had some issues with these in the past.

[2019-05-06 20:03] #5961 closed

[2019-05-07 06:18] titoghose opened #6277 "Recording EOG using 64 channel Hydrocel Geodesic Sensor Net"
My study revolves around ERP detection and P300 in particular.

The net I have does not have EOG electrodes. The placement is according to the 10-20 system. I was thinking of removing some electrodes and replacing them in the EOG locations.

I have 2 questions:
1. Which electrodes should I remove and where should I place them for EOG recording.
2. Will the removal of electrodes from these channels

[2019-05-07 06:51] agramfort commented on #6277
Please don’t use the issue tracker to ask usage questions. Use the mailing list. Thanks

[2019-05-07 06:51] #6277 closed

[2019-05-07 08:49] ckiefer0 opened #6278 "[Feature Request] Volume labels using AAL atlas"
Hi everyone,

I created a [small script](https://gist.github.com/ckiefer0/9b742305db2c7d2d47b8af776a6047f4) to assign volume labels to the voxels in the subject brain. It would be great if I could get some feedback from someone more familiar with MRI/ MNI/ volume source spaces.

The problem is that volume labels are currently not implemented in mne-python, however, the [AAL atlas](http://www.gin.c

[2019-05-07 12:00] fraimondo opened #6279 "3D connectivity plots"
#### Describe the problem
After I started working in a lab where @kingjr was, it became more and more often the request to plot his "flaming heads". I was fine, until two days ago.

Just to clarify, the flaming heads are the sensor space connectivity 3d plots (from JR's wSMI paper):
<img width="733" alt="Screenshot 2019-05-07 at 13 51 03" src="https://user-images.githubusercontent.com/4493699/5729

[2019-05-07 16:55] larsoner commented on #6279
Looks like it could indeed be useful!

@jona-sassenhagen you want to work out the aesthetic considerations / options?

[2019-05-07 16:56] jona-sassenhagen commented on #6279
3D + MEG = not my thing :) But it looks very cool!

[2019-05-07 23:04] drammock opened #6282 "tiny bug in title of AverageTFR.plot()"
Titles always seem to end up with a right-parentheses at the end.

![Screenshot_2019-05-07_15-03-45](https://user-images.githubusercontent.com/1810515/57338336-6d91da00-70d9-11e9-8a2c-32283effa6af.png)

Happens also with `AverageTFR.plot_joint()`

![Screenshot_2019-05-07_15-03-09](https://user-images.githubusercontent.com/1810515/57338327-64087200-70d9-11e9-9759-a38bdc0d1687.png)

[2019-05-08 08:56] agramfort commented on #6279
I would put this for now in mne-sandbox or a separate repo. I don't want to
make
the work of 3D viz refactoring even more challenging

[2019-05-08 09:03] kingjr commented on #6279
Nice! Would be nice to have, I regularly get asked about this and I can
only provide a buggy Matlab code (although I suspect the requests are more
for aesthetic purposes than for scientific ones...).

I m happy to review a PR here or on MNE sandbox, although the main rep will
clearly allow a fancy tweet ;)

On Wednesday, 8 May 2019, Alexandre Gramfort <notifications@github.com>
wrote:

to

https:/

[2019-05-08 17:21] jhouck opened #6284 "BUG: joblib error in spatio_temporal_cluster_1samp_test"
Running `spatio_temporal_cluster_1samp_test` with `n_jobs=8` using the default stat_fun `ttest_1samp_no_p` from the current master, I'm getting the error "The task could not be sent to the workers as it is too large for `send_bytes`."

The matrix is not that all that large, 33x545x20484, and the function runs fine if I remove subjects to reduce it to 23x545x20484 or if I set `n_jobs=1`.  I continu

[2019-05-08 23:39] banesullivan opened #6287 "vtki → pyvista"
We recently had to change the name of `vtki` to `vista` per https://github.com/pyvista/vista/issues/208

This had to happen rather quickly and I apologize for any build issues and confusion this might be causing!

I'll help you all implement the refactoring for this in a PR

[2019-05-09 04:21] drammock commented on #6000
@larsoner this can be closed, yes?  ryan-roemer/sphinx-bootstrap-theme#193 has been merged.

[2019-05-09 11:18] agramfort commented on #6278
@ckiefer0 did you consider using nilearn and NiftiLabelsMasker?

https://nilearn.github.io/auto_examples/03_connectivity/plot_signal_extraction.html

[2019-05-09 11:39] agramfort commented on #6284
it's a joblib issue that should be reported on joblib issue tracker.
to help joblib devs you should see if you can make toy script that
does not need mne and that replicates the pb.

[2019-05-09 12:24] larsoner commented on #5226
Reopening this since @bmaess brought up the idea again, and noted we should do this for IIR filters, as well.

[2019-05-09 12:33] larsoner commented on #6000
Indeed

[2019-05-09 12:33] #6000 closed

[2019-05-09 13:59] bmaess commented on #5226
Concerning the -3dB versus -6dB problem: Both is 'correct' and it offers a very elegant way to publish the cutoff limits for the forward-backward filters: design the filter using the -3dB cutoff and in case of the two-pass filter - present the cutoff values as -6dB values. If the corresponding report also mentions the damping of the cutoff, there should be no problem. A bandpass designed as a sing

[2019-05-09 16:11] larsoner commented on #6278
This looks like the type of functionality we could use. Maybe supporting this sort of labeling scheme / object in our `extract_label_time_course` is the way to go.

[2019-05-09 16:16] larsoner commented on #6287
Fortunately all of our code uses the `vtki` name internally so the switch probably won't be so bad. @GuillaumeFavelier can you give it a shot?

[2019-05-09 16:16] DiGyt opened #6290 "GSoC, ENH: Improve Time Frequency Analysis in Source Space"
Hey everyone, I'm going to work on improving Time Frequency Analysis in Source Space as my Google Summer of Code project this year!
I opened this issue, so we can discuss different aspects of the project, e.g. what you would like to have implemented and what not. To get an idea of the project, you can take a look at [this google doc](https://docs.google.com/document/d/19mZtMnmM8Gj1EZKir72RjcBxCXO7

[2019-05-09 16:17] banesullivan commented on #6287
Perfect! I just refactored some of my other projects that use `vista` internally and a simple, project-wide find-and-replace did the trick

Just be sure to limit vista's minimum dependency to version `0.19.0`

[2019-05-09 17:53] jhouck commented on #6284
FWIW if I borrow @kingjr's test code from the above-referenced issue , it also crashed with ndarrays of this size with `max_nbytes=None` and ran without error with `max_nbytes='1M'`.

If I do `mne.set_memmap_min_size('1M')` before running `spatio_temporal_cluster_1samp_test` it will now run without error.  Out of curiosity, what is the default for MNE_MEMMAP_MIN_SIZE?  Mine was coming back as None

[2019-05-10 06:56] ckiefer0 commented on #6278
I see how I can use this to extract time series based on the AAL atlas if I transform my source time courses to nifti using `stc.as_volume()`.
However, this does not help me if I just want to know which voxels of my source space belong to which label, e.g., in my case I have created clusters using spatiotemporal clustering and I would like to know which cluster is part of which label.

[2019-05-10 08:33] agramfort commented on #6278
seems a legitimate use case. We could review a PR. Before coding, what
would be the API?
what inputs for what outputs?

[2019-05-10 08:41] agramfort commented on #6284
*max_nbytes='1M' is the default in joblib *

https://joblib.readthedocs.io/en/latest/generated/joblib.Parallel.html

so we should not be smarter than this in MNE. Maybe it needs to be
investigated....

[2019-05-10 09:42] mmagnuski opened #6292 "RuntimeError: Zip file did not have correct names` when downloading fsaverage on windows"
I get `RuntimeError: Zip file did not have correct names` when downloading fsaverage files on Windows machine:
[code]

[code]

[2019-05-10 11:15] larsoner commented on #6292
Can you change line 794 to say `if not f.endswith('/')` instead of `if not f.endswithe(op.sep)` and see if it fixes it? I think I made a faulty assumption about how `members` would work on Windows.

[2019-05-10 17:54] jhouck commented on #6284
It looks like this has come up before in MNE as well (https://github.com/mne-tools/mne-python/issues/3190) and the outcome was to leave the joblib default unmolested.

There is a big angry warning in parallel_func that should display if n_jobs>1 and cache_dir is not set (line 91 in parallel.py), but I don't see that message when I run `spatio_temporal_cluster_1samp_test` under those conditions. E.

[2019-05-10 21:03] banesullivan commented on #6287
Sorry, you all... we're going to rename once more to avoid potential legal issues with the name `vista` not being very unique

We're settling on "PyVista" and will redeploy on PyPI as `pyvista`

https://github.com/pyvista/vista/issues/208

[2019-05-10 21:45] jona-sassenhagen commented on #6282
Ugh. This possibly also affects other functions. You can assign me too, I'm probably to blame.

[2019-05-10 21:50] drammock commented on #6282
cool, it will be a race to see who needs to procrastinate first!

[2019-05-11 11:25] agramfort commented on #6290
I asked @DiGyt to start a conversation here to get more opinions.

We have already a few SourceEstimate classes such as VolSourceEstimate, MixedSourceEstimate, VectorSourceEstimate, VolVectorSourceEstimate and i have doubts on adding even more of these to have time frequency content in source space.

does anyone has some opinion on this?
thoughts on how to limit the number of classes?
maybe we can

[2019-05-11 11:44] agramfort commented on #6284
you should have a look at:

https://github.com/mne-tools/mne-python/blob/master/mne/parallel.py#L79

to see if something can be fixed.

[2019-05-12 07:03] kalenkovich opened #6295 "mark_flats results in annotations that are out of data range"
#### Describe the bug
`mne.preprocessing.mark_flats` appends flat segments to `raw.annotations` that are out of data range.

This probably happens because `mne.preprocessing.mark_flats` adds annotations relative to the first sample while `set_annotations` has changed in `0.17` so that `orig_time` matches `info['meas_date']` and not the first sample.

#### Steps and/or code to reproduce

[code]

##

[2019-05-12 19:05] agramfort commented on #6295
@kalenkovich thanks for the bug report. Do you want to try to fix it yourself with a pull request?

[2019-05-12 20:12] jasmainak commented on #6290
just to instigate the discussion a bit, I have some questions

can you post some usage example? what is the "kernel trick" in the proposal of the google doc? Is it like a LinearOperator? Do you foresee the apply_inverse method also accepting TFR objects?

[2019-05-13 06:33] poojaprabhu9 commented on #6265
Any luck?
Actually, the morphing of volume source (whole brain) is a vital part of our work. I would request expertise to suggest some solution.
Thanks

[2019-05-13 07:54] kalenkovich commented on #6295
@agramfort I'll do it tomorrow.

[2019-05-13 09:50] TommyClausner commented on #6265
Hey @poojaprabhu9

Sorry must have somehow missed this :/
I'll have a look later today ...

[2019-05-13 13:03] TommyClausner commented on #6265
Hey @poojaprabhu9

do both subjects have the same number of vertices when you do ?
`stcs = apply_lcmv(evoked, filters, max_ori_out='signed')`

Because as far as I can see, I assume the difference of vertices comes from the fact that there are different input vertices. Meaning that `compute_source_morph` re-scales the existing vertices into target space ('fsaverage'). That is it uses both MRIs (sub

[2019-05-13 14:02] larsoner commented on #6265
This was my reaction at first, too, then I realized that while this is true, it doesn't solve a critical use case.

Let's quickly say what's done in an example surface case:
- Every subject starts with an `oct6` source space, 8196 vertices total (4098 per hemi)
- Some get excluded during forward computation, say for one subject you have 8195 verts, and another one 8194
- When you morph to fsaverag

[2019-05-13 14:43] jona-sassenhagen opened #6298 "BUG, VIZ saving an animated topomap fails"
[code]

[code]

Same in notebook, ipython, REPL.

[2019-05-13 14:47] TommyClausner commented on #6265
hm... Thanks @larsoner  ! Sounds reasonable to make the output such that it is standardized :)

Yes, which means a grid like np.zeros((51, 51, 51)) and then plugging in the values should already do the trick, no ?

What I just wonder is the following:
when I call `mne.setup_volume_source_space('fsaverage', pos=5.)[0]['shape']` I get (39, 39, 39) and for the standard 5 mm morph (51, 51, 51). So act

[2019-05-13 16:02] larsoner commented on #6265
It depends on whether or not it's actually a subset of identical X/Y/Z coordinate (centers). It's entirely possible that the `pos=5.` creates the 5x5x5 voxel centers in different places from the "standard 5mm morph". We'd have to dig into the affine to check. But yes hopefully we don't need any interpolation and can just effectively subselect. @TommyClausner can you look into a bit? I always get a

[2019-05-13 16:26] britta-wstnr commented on #6265
I will just chime in here to re-iterate the two important points:
- same number of vertices across subjects
- the vertices should fall onto the same brain tissue across subjects

The latter point might only be possible with non-linearly warped grid positions in individual space, i.e., the FieldTrip way of doing things. Alternatively, the ``fsaverage`` brain will be non-equidistant, right?
As discu

[2019-05-13 16:47] larsoner commented on #6265
It depends on when in the pipeline you want this to occur. The way we have been talking about things (and how it works in `master`), each subject source space would have a variable number of verts (mostly head-size/shape dependent), and then after morphing they all have the same source space vertices in fsaverage's space (except for holes, which is what we so far are trying to figure out how to fi

[2019-05-13 16:53] agramfort commented on #6265
we support both options with surfaces: 1/ morphing by reinterpolation 2/
using a morphed source space (similar to fieldtrip approach)

I think we should not treat the volumes differently.

[2019-05-13 17:07] larsoner commented on #6265
Okay for now / in this issue let's focus on fixing the current way of doing things 1/ using one or both of the options I've talked about above, and @britta-wstnr feel free to open an issue for 2/.

[2019-05-13 17:08] larsoner commented on #6298
This looks like a `matplotlib` bug, can you see if you can replicate with a simple `mpl` snippet instead?

[2019-05-13 17:10] jona-sassenhagen commented on #6298
You mean manually creating an animation where I loop over time steps for a topomap?

[2019-05-13 17:11] larsoner commented on #6298
No not even a topomap, a script with only `plt` calls (nothing from MNE). In other words, can you get any matplotlib animation to save? Is the problem specific to MNE topomaps, or are all mpl animation saves broken for you?

[2019-05-13 17:12] jona-sassenhagen commented on #6298
Oh no, I can in principle save animations with matplotlib's animation functionality.

[2019-05-13 17:19] larsoner commented on #6298
Okay so we do something with our plotting that does not work for them then. The question is what is it? The traceback you pasted has only `matplotlib` in the traceback so I'm not sure how best to debug.

FWIW this works on my machine (modified to use a smaller time snippet so it does not take forever):
[code]
I get:

![topo](https://user-images.githubusercontent.com/2365790/57640944-b33f1e80-7581-

[2019-05-13 17:35] jona-sassenhagen commented on #6298
It works for me if I use `writer='imagemagick'` in the save call - and that seems to be the case universally. So not MNE related.

[2019-05-13 17:35] #6298 closed

[2019-05-13 17:45] #6282 closed

[2019-05-13 19:09] larsoner commented on #4330
This has been implemented

[2019-05-13 19:09] #4330 closed

[2019-05-13 19:10] larsoner commented on #5201
@drammock can you see if this is taken care of yet, and if not, add to the documentation todo?

[2019-05-13 19:12] larsoner commented on #5383
@drammock is this one taken care of? If not, let's add to the documentation TODO list

[2019-05-13 19:16] larsoner commented on #5600
More reports of this are in #5728 and the discussion there is more streamlined, so closing this

[2019-05-13 19:16] #5600 closed

[2019-05-13 19:20] #6292 closed

[2019-05-13 20:03] larsoner opened #6302 "MAINT: Release 0.18"
I am hoping that we can push out a release this week. I know it's a bit short notice, but we are already overdue for our ~6 mo. schedule, and there aren't that many issues/PRs marked for 0.18 anyway. I've gone through and marked issues/PRs that seem doable this week / appropriate for 0.18:

https://github.com/mne-tools/mne-python/milestone/14

Everyone feel free to look at the list of open issues/

[2019-05-13 20:10] larsoner commented on #5908
@fraimondo I adapted this into a `mne/io/tests/test_meas_info.py` test:
[code]
It does not fail. Neither does your [minimal code snippet above](https://github.com/mne-tools/mne-python/issues/5908#issuecomment-461865564). So I think this has been fixed (probably by a recent `Annotations` PR). Feel free to reopen if I'm mistaken.

[2019-05-13 20:10] #5908 closed

[2019-05-13 23:36] drammock opened #6304 "VIZ: EEG sensor locations wrong in inset plots"
EEG sensor plot insets seem to be broken in some cases. Here are a couple examples. First, from `plot_compare_evokeds`:

![eeg](https://user-images.githubusercontent.com/1810515/57660633-f0141100-7593-11e9-9085-fe22c0c50a4e.png)

Similar problem with `evoked.plot(spatial_colors=True):

![evoked_plot_spatial_colors](https://user-images.githubusercontent.com/1810515/57660798-b1cb2180-7594-11e9-9fb6-

[2019-05-14 05:01] #6287 closed

[2019-05-14 11:22] TommyClausner commented on #6265
I could check out whether it's possible to just "sub-sample" and in case not dive a bit into the ifs and hows on options 1 and 2 that @larsoner suggested

[2019-05-14 12:00] massich commented on #6123
@larsoner if the commit message when merging a PR is tweeted, it means that we need to curate those messages so that we don't tweet something like [this](https://github.com/mne-tools/mne-python/commit/8ce77a0ad91844b0bb2a5f99bf383f1cc9d39fe6):
[code]

If that's the case (which I'm +1000), we should add this in our contributing guide in the section of how to review (cc: @drammock)

[2019-05-14 12:44] poojaprabhu9 commented on #6265
Hi @TommyClausner,
after trying this: stcs = apply_lcmv(evoked, filters, max_ori_out='signed')
Each subject have a different number of vertices (len(stcs.vertices)).

I tried---morph.apply(stc, mri_resolution=True, output='nifti1')
--the resulting nifti has a shape(256,256,256,(number of time points)). i have considered entire time so the number of time points is 281.

[2019-05-14 12:58] TommyClausner commented on #6265
Hey @poojaprabhu9

ok cool, but then it should (at least for now) fix the issue of having the stuff in the same space, because now your data for both subjects should be non-linearly morphed towards the "fsaverage"-space and thus be comparable, no ?

[2019-05-14 13:07] poojaprabhu9 commented on #6265
@TommyClausner Non-linearly morphing might help. But i am not sure how can i do it?

[2019-05-14 13:09] TommyClausner commented on #6265
I mean after calling `morph.apply(stc, mri_resolution=True, output='nifti1')` the output nifti is a non-linear morph of the source data you were inputing when using `compute_source_morph` - so the result is a nifti in 'fsaverage' space containing the individual, non-linear morphed subject data

[2019-05-14 13:17] poojaprabhu9 commented on #6265
Yes that's right.

On Tue, May 14, 2019, 18:39 Tommy Clausner <notifications@github.com> wrote:

[2019-05-14 14:52] larsoner commented on #6123
This is how it looks currently:

https://twitter.com/mne_python?lang=en

If someone wants to look at the Zapier syntax I'm happy to update the automation

[2019-05-14 17:00] massich commented on #6123
I thought that clean messages would appear nice. This is an example of clean-up message https://github.com/mne-tools/mne-python/commit/b2de2e9a192301e4dfb106cef3963d1283d74024 but the tweet does not look nice either https://twitter.com/mne_python/status/1084953412326825984

I'm not sure if its worth the effort.

[2019-05-14 19:29] #5867 closed

[2019-05-14 19:46] agramfort commented on #6123
i think it's good enough

[2019-05-14 19:52] #5201 closed

[2019-05-14 20:18] larsoner opened #6312 "MAINT: iid=True in `cov.py` is deprecated"
On latest `sklearn` master I get this in tests:
[code]
Which is really from `cov.py` -- here showing where `gs` is instantiated and used:
[code]
I was hoping this would be an easy `**kwargs`-based-on-version fix, but it looks like `iid` is going away -- from the [sklearn docs](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html):

@agramfort what do we do he

[2019-05-14 21:08] jgeller112 opened #6315 "DOC: Clarify 1-layer BEM+EEG error message"
Hello,

I am having issues calculating the forward solution. I get the error:  “Cannot use a homogeneous model in EEG calculations.”  What are some reasons for this error?

[2019-05-14 23:00] jgeller112 commented on #6315
Related to this issue, has there been a solution to the following error:

 Surface inner skull is not completely inside surface outer skull

[2019-05-15 04:39] larsoner commented on #6315
This means you tried to use a 1-layer BEM instead of a 3-layer BEM when doing forward calculations with EEG channels.

This means that your `inner_skull.surf` overlaps with `outer_skull.surf`. Usually this happens when using the watershed bem, and Freesurfer did a bad job of approximating the inner skull surface (which is created just by expanding the `brain.surf`) and/or the `outer_skull.surf` (w

[2019-05-15 08:24] #6295 closed

[2019-05-15 08:32] agramfort commented on #6312
we should switch to iid=False

[2019-05-15 11:10] massich commented on #5908
This works for me in `v0.16`:
[code]

[2019-05-15 12:11] larsoner commented on #6123
We do currently get an error for long messages:
[code]

I'll see if there is a simple way to truncate on Zapier.

[2019-05-15 12:47] massich commented on #5856
#5857 fixes this issue, but the behavior does not correspond to [this](https://github.com/mne-tools/mne-python/issues/5856#issuecomment-457814081):

The actual behavior saves all the `annotations` in all `fif` parts. When loading a split file the annotations are taken from the first raw file. I have no trouble with this implementation. It has the advantage that when distributing a *single part* th

[2019-05-15 13:02] ckiefer0 commented on #6278
I wrote a function to get AAL labels for a subject without all the unnecessary parts like visualization. It is in the gist in aal_utils.py Currently, you can call it like this.
`get_aal_labels(subject, subjects_dir, vsrc, aal_path, min_dist=5)`
Maybe it is something we can build upon. But in the end we should probably try to have the same functionality as with surface source spaces, i.e., label ob

[2019-05-15 14:07] agramfort commented on #6278
can you see now to reuse nilearn here as much as possible?
nilearn offers many atlases (not just AAL) with a consistent API.
It can fetch them too etc.

[2019-05-15 14:09] agramfort commented on #5856
+1 to save annotations only in the first chunk/split
by doing this no more pain of stitching back annotations from different files.

[2019-05-15 14:14] larsoner commented on #5856
Agreed, better not to have to split+stitch if we can avoid it

[2019-05-15 14:34] massich commented on #5856
(maybe I've misexpressed) I would change nothing unless we have annotations that weight gigabytes. The set annotations by the called when reading the part handle the annotations properly. And after #5857 there is no stitching.

[2019-05-15 14:44] #5856 closed

[2019-05-15 14:52] TommyClausner commented on #6265
Hey @larsoner

I was tinkering around a bit, but I guess I don't fully understand how the source-space spacing is thought...
I tried to create a source space that has the size of the morphed output (similar to when I output it as a nifti), but there are issues:

somehow some axis are swapped (0 and 2) and there seems to be an offset between the source space and the nifti, even though it seems at t

[2019-05-15 15:04] larsoner commented on #6265
In the MNE volume code there are these transforms like `mri_voxel->mri` etc. One of them probably has such a transformation/axis swap. Swapping 0 and 2 sounds suspiciously like what you'd do to take a SAR (superior, anterior, right) representation of the data to a RAS. The former is maybe how the data are stored on disk, thinking in C-major order (S/z-slices, then A/y-slice within that z, then R/x

[2019-05-15 15:09] massich commented on #5732
@drammock can you check that we addressed #6307 (and close if so)?

thx

[2019-05-15 15:46] #6315 closed

[2019-05-15 15:47] TommyClausner commented on #6265
hm... Sounds plausible :)

d'accord !

Since the interpolators in `morph` and `src` work after the same principle I hope that there is a way of setting up a source space such, that the source space interpolator just mapps it "right" (not 100% sure that this is the case / will work, but it seems so)

I'll open a WIP PR asap :)

[2019-05-15 16:48] drammock opened #6321 "DOC: glossary enhancements"
This is for keeping track of needed improvements to the glossary.

- [ ] new entries:
  - [ ] dSPM #6913
  - [x] beamformer #6864
  - [x] minimum-norm estimation #6865
  - [x] [es]LORETA #6883
  - [x] Digitization
  - [x] cHPI #6642
  - [x] global field power (GFP) #5804
  - [x] noise covariance #6875
- [x] add links out to the API reference, throughout the glossary.  E.g., add a final sentence to

[2019-05-15 16:55] #6312 closed

[2019-05-15 17:04] drammock commented on #5383
I would say that this is not yet fully resolved.  But I'll cross-link it to #5944, add a note to the roadmap there, and close this one.

[2019-05-15 17:04] #5383 closed

[2019-05-15 17:08] massich commented on #6267
ohhh I got late to the party!!

The idea here was to use `callable` and avoid black magic. Either by forcing the user to write her own function or passing a reader public function. This allows us to have all this logic in a function that we can document in an isolated manner, we can test the heck out of it, and educate our users (its an important thing. It has its own public function). And if ther

[2019-05-15 17:19] massich commented on #6267
@jona-sassenhagen based in your first example what is preventing you to do something like this:

[code]

To my understanding, `event_id` would be experiment dependent and I might want to tune it to my needs.

[2019-05-15 17:20] drammock commented on #5732
Some of these suggestions are WIP-implemented in #5944, in a [new annotations tutorial[(https://12627-1301584-gh.circle-artifacts.com/0/dev/auto_tutorials/continuous_data/35_annotations.html) and a [new events tutorial](https://12627-1301584-gh.circle-artifacts.com/0/dev/auto_tutorials/continuous_data/40_events.html).  Based on comments here and in #5201 I've added a few TODO checkboxes to the #59

[2019-05-15 17:20] #5732 closed

[2019-05-15 18:16] jona-sassenhagen commented on #6267
@massich during a workshop, I did some live coding on files the attendants had brought and ended up with this:

[code]

And that is *completely* unacceptable. This is just incredibly off-putting to newcomers. This should absolutely work properly out of the box without any user input.

How we do that behind the scenes is to me not all that important at this stage, but it must work.

[2019-05-15 18:18] larsoner commented on #6267
Since BrainVision is a bit special, how about we:

1. Extract numbers from `int(my_str[-3:].strip())`
2. Check that these are unique
3. If so, use them
4. If not, and/or for all that cannot be converted, use consecutive non-assigned integers to the `sorted(my_strings_without_unique_convertable_numbers)`

[2019-05-15 18:20] larsoner commented on #6123
I took a minute to tell Zapier to take just the first line of the commit message. Now looks like this:

https://twitter.com/mne_python/status/1128726165487783936

[2019-05-15 18:20] jona-sassenhagen commented on #6267
I think we have to account for Response events. I don't use them myself, but they are a standard feature. I.e., we shouldn't return essentially random numbers if we have both `R 11` and `S 11`.

[2019-05-15 18:21] larsoner commented on #6267
Argh forgot about that. We used to have the response trig shift param, but that's presumably gone now. If we know the stim codes have some limit (probably < 1000?) maybe we should just always shift responses by 1000.

[2019-05-15 18:23] jona-sassenhagen commented on #6267
I think it's always 1-255 (8 bit triggers).

[2019-05-15 18:23] jona-sassenhagen commented on #6267
That's what may PR is doing right now ;)

[2019-05-15 18:24] massich commented on #6267
If they are regular, we have no problem. Just define the mapping in a dictionary. (or something that generates something similar to this dictionary based in a regex)

[2019-05-15 18:28] jona-sassenhagen commented on #6267
You mean like

[code]

[2019-05-15 18:41] massich commented on #6267
I'm not sure if this code works but yes. And if we have extra integers we can do a counter for whatever id is not accounted for. But we need to make sure that we have the same behavior we had in 0.16. and if needed backport this to 0.17.x

then this could be exposed like this if wanted:

[code]

[2019-05-15 18:42] massich commented on #6267
I could not see where were we testing that in 0.16. I can make you a proposal tomorrow morning.

[2019-05-15 18:43] jona-sassenhagen commented on #6267
No. It must by default be reasonable.

We had tests like:

https://github.com/mne-tools/mne-python/blob/maint/0.15/mne/io/brainvision/tests/test_brainvision.py#L373

[2019-05-15 18:45] larsoner opened #6322 "BUG: Intro example uses too much memory"
Running:
[code]
I get:

![Screenshot from 2019-05-15 14-44-16](https://user-images.githubusercontent.com/2365790/57800689-00f18d80-7720-11e9-8aa7-006621cdb9b8.png)

Examples that use over ~1.5 GB (and 1.0 GB is a safer goal) are prone to die on CircleCI, e.g.:

https://circleci.com/gh/mne-tools/mne-python/13124

@drammock can you find a way to cut down the memory usage? Often cropping to a shorter

[2019-05-15 18:47] larsoner commented on #6267
@jona-sassenhagen do you want to try restoring that test, but with modern calls / the annotations way of doing things, to see how much modification it takes? I guess the goal should be that your PR gives what you would have gotten with `response_trig_shift=1000` before, right?

[2019-05-15 18:49] jona-sassenhagen commented on #6267
I think that would be sufficient, yes.

It should pass as is with my PR, I think we're at the "make the code not bad" stage, not the "make the code do what it's supposed to do" stage (with the unresolved issue of missed triggers).

[2019-05-15 18:50] larsoner commented on #6267
From the looks of it this old test was more comprehensive than the ~3 lines that are in your PR. I'll see how hard it is to adapt it and push a commit if it's not bad.

[2019-05-15 18:51] jona-sassenhagen commented on #6267
No I mean, my code should (mostly) pass that test. I can do that too, although I must admit I have a few other things on the schedule for today still ...

[2019-05-15 18:52] larsoner commented on #6267
Excellent. I'll adapt it and push a commit then

[2019-05-15 18:56] drammock commented on #6322
I'll take a look.  I'm already using `del` and avoiding `preload` where I can, but I can probably find ways to deflate it further.

[2019-05-15 19:19] larsoner commented on #6322
For example adding `stop=30` to the `ica.fit` line gets rid of the first big bump:

![Screenshot from 2019-05-15 15-15-58](https://user-images.githubusercontent.com/2365790/57802606-5cbe1580-7724-11e9-87ea-557f2e3347a5.png)

The others probably come from loading the raw data, then applying ICA to it. Both can be alleviated by doing `raw.crop(0, 60)` with a suitable message at the beginning that it

[2019-05-15 19:30] agramfort commented on #6322
don't use maybe sample_audvis_raw.fif but the filtered version so you can decimate? you should also use decim in ICA rather than crop.

[2019-05-15 19:33] larsoner commented on #6322
I'd rather make this a note in the example as an option for users, rather than actually doing it. Adding `raw.crop(0, 60)` makes the entire example runnable from a memory perspective. Without it (even with `decim` or `stop` in `ica.fit`), we will need a number of additional (possibly more complicated) patches elsewhere to avoid excessive memory consumption.

[2019-05-15 19:36] agramfort commented on #6322
try with crop(0, 180) as it should still provide OK results/images. I am
still a bit puzzled why this happens
given that so many examples should do such things.

[2019-05-15 19:40] larsoner commented on #6322
`sample_audvis_filt-0-40_raw.fif` is actually both filtered *and* decimated already. It does give good memory performance, just swapping in that filename gives:

![Screenshot from 2019-05-15 15-36-24](https://user-images.githubusercontent.com/2365790/57803983-a1977b80-7727-11e9-912b-c7f67b324e0a.png)

Using the standard raw file and doing `raw.crop(0, 180)` gives:

![Screenshot from 2019-05-15 15-

[2019-05-15 19:47] agramfort commented on #6322
it's hard to evaluate as reducing memory is not the end goal. We need
to make sure
that the analysis results still look correct. I cannot judge this with
just these plots.

[2019-05-15 19:50] drammock commented on #6322
I'm rebuilding the docs locally after swapping in the `filt-0-40` file. If the plots still look good I'll open a PR. I don't like the `crop` approach because it makes some of the plots look crappy.

[2019-05-15 19:54] larsoner commented on #6322
Agreed, these plots do not provide a sufficient condition, just a necessary one. So we should only consider `.crop(0, 60)` (probably also `.crop(0, 120)`) or using the 0-40 file.

[2019-05-15 20:51] DiGyt commented on #6290
Hey @jasmainak . Thanks for the reply!
Some easy example would be to be able to do something like:
[code]
and then go on to do stuff like `stc.plot()` or `stc.get_peak(fmin=8, fmax=12)`.

As said, the idea is just making everything from `mne.time_frequency` available to be used with stcs.
I think the most intuitive way for users would be to read stcs into the `mne.time_frequency` functions just li

[2019-05-16 06:45] #6322 closed

[2019-05-16 08:12] GuillaumeFavelier commented on #6302
Can I volunteer for the releasing process described in https://github.com/mne-tools/mne-python/wiki/How-to-make-a-release (@sik promised to help me)

[2019-05-16 08:54] massich commented on #6267
/0.15/mne/io/brainvision/tests/test_brainvision.py@maint#L373

you are completely right. we checked only that the de descriptions were parsed properly. Never the translation.

[2019-05-16 08:56] jona-sassenhagen commented on #6267
To be fair, I really should have been more involved with the annotations PR, to avoid this kind of issue. I was lazy there.

[2019-05-16 09:13] massich commented on #6267
that's completely fine. we improved the code, and while doing so we enter a regression. We fix it, backport it done. That's the name of the game.

The only thing we need to do is to agree on what happens with the things that we have in the test suit. And if this is incomplete, complete it.

The main problem is that I simplified the test and only make sure that I recover the proper description here

[2019-05-16 09:28] massich commented on #6267
I guess that what I'm not ok is with 'auto' doing something like this:

[code]
It warns for things that it might be important (anything that does not end with a number) and drops silently events that do finish with a number.

[code]

[2019-05-16 09:29] jona-sassenhagen commented on #6267
Ah right, that's an oversight.

[2019-05-16 09:44] massich commented on #6267
So my execution plan would have been:
- modify the following as INTEGRATION test:
https://github.com/mne-tools/mne-python/blob/b31e573bd1bb97ab8daf6e813a6f5fa77ba266c4/mne/io/brainvision/tests/test_brainvision.py#L436
- create a general public function in `mne.io.brainvision` that allows mapping of the signals + create UNIT test for it
- link this function with proper defaults to brainvision raws

[2019-05-16 11:22] massich commented on #6267
@jona-sassenhagen is there a better description about brainvision markers than this one https://pressrelease.brainproducts.com/markers/ ??

[2019-05-16 11:40] larsoner commented on #6302
That would be great

[2019-05-16 12:33] massich opened #6325 "RFC: two ways of creating fixed lenght events"
I just realized that this could be done in different manners.
https://github.com/mne-tools/mne-python/blob/b31e573bd1bb97ab8daf6e813a6f5fa77ba266c4/examples/io/plot_objects_from_arrays.py#L130

I'm not sure if the results are the results are exactly the same but we could imagine something like this:

[code]

Do you think that we should document this somewhere? avoid this duplication? make sure the

[2019-05-16 13:59] jasmainak commented on #6290
hmm okay ... wouldn't it be prohibitively time consuming to do TFR on the sources? Could you do it in sensor space and then do apply_inverse? what about epochs? how will you handle them? I know they are really slow to compute even on sensor space.

[2019-05-16 14:01] jasmainak commented on #6290
also how is the 5D visualization work? Is it going to live as a method of some class? or just a function? will it work both for surface and volume source estimates?

[2019-05-16 14:12] #6271 closed

[2019-05-16 14:16] larsoner commented on #6325
Unfortunately I think we have to live with there being multiple ways of doing the same thing in MNE. I think the important thing is that we try to make one good, supported way as obvious as possible. For example there is nothing stopping a user from doing:
[code]
Instead of just:
[code]
But one is clearly more preferable and discoverable than the other.

I think this `fixed_length_events` business

[2019-05-16 14:16] #6325 closed

[2019-05-16 14:46] #5226 closed

[2019-05-16 17:29] jasmainak commented on #6322
late to the party but I think ICA also takes a decim parameter which you can use to reduce the memory footprint

[2019-05-16 17:35] larsoner commented on #6322
Yes @agramfort suggested this already above :)

[2019-05-16 18:43] DiGyt commented on #6290
Well yes, although I'd say that (in my environment) it's not *prohibitively* time consuming, but it's surely the slower solution.
I think this may be the central decision here, whether we put stcs into `time_frequency` functions or put TFR data into `apply_inverse`. From the initial discussions I thought that the first may be the more intuitive solution, although it certainly has its downsides too

[2019-05-16 18:50] DiGyt commented on #6290
I'd say the best thing for surface data is certainly to go the same way as in `plot_source_estimates` i.e. construct a TimeFrequencyViewer from the existing TimeViewer, which can ultimately be accesed from a method within the SourceTFR objects. Maybe a first solution for VolumeSourceEstimates would be to plot single frequencies?

[2019-05-16 18:53] larsoner commented on #5728
This was fixed in #6303

[2019-05-16 18:53] #5728 closed

[2019-05-16 18:54] larsoner commented on #6304
I don't see this as a blocker for 0.18, which we want to get out tomorrow if possible. So moving the milestone to 0.19.

[2019-05-16 20:17] massich commented on #6302
We'll be releasing tomorrow morning (Paris time). cc: @GuillaumeFavelier

[2019-05-16 20:32] massich commented on #6325
Now re-reading my post I see that it seems I want to substitute `fixed_lenght_events` with some hackish way to overwrite the annotations and get events from there. Far from that. It's just that I was not aware of this function until 2 days ago that I got an email from somebody that wanted to epoch without events nor annotations.

I added this `chunk_duration` for creating events for the sleep tuto

[2019-05-16 23:11] drammock opened #6329 "refactor plot_epochs_image"
There was a discussion in #6288 about refactoring `plot_epochs_image`.  Here is the proposed new API (copied with clarifications from #6288):

[code]

I think this table summarizes what the behavior should be. It's different from
current behavior only in two cases:

1. when picks is a (list of) channel types, and `group_by` and `combine` are
   both `None`. Currently in that case you get 5 arbitra

[2019-05-17 08:50] #6267 closed

[2019-05-17 08:50] GuillaumeFavelier commented on #6302
Actually I have a pretty busy schedule today so I won't be available much but I cleared my weekend, is it still okay for you?

[2019-05-17 08:56] massich commented on #6302
Sure I've no trouble we'll find a nice coffee shop and spent the Saturday there. RELEASING MNE :D

Is everybody ok with it, or shall we do it today? @agramfort

[2019-05-17 09:19] SommersKim opened #6330 "[mne] I see no events using "mne.read_epochs_eeglab""
Hello, I've been using eeglab and ERPlab,
and got raw `.vhdr` files and also preprocessed `.set` files.
Now I need to use mne, but I see empty lists when I load files in either way: `io.read_raw_brainvision` or `io.read_raw_brainvision`.
I cannot run `mne.find_events` because there is no epoch info.
But I see it at `raw.events` like this :
[code]
How can I find events?
I need your help! Thank you.

[2019-05-17 12:09] larsoner commented on #6302
It might be better to do it today

[2019-05-17 12:51] SommersKim opened #6332 "[mne] find_events error : arrays used as indices must be of integer (or boolean) type"
Hello, I keep getting this error message. Could you please help me with how to find epochs?
I've got these events :
array([[   51,     0,     1],
       [  301,     0,     2],
       [  551,     0,     3]...
but I get this error message...
Thank you!

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call la

[2019-05-17 12:57] agramfort commented on #6330
find_events in for a raw file not epochs
you used read_epochs_eeglab and not read_raw_eeglab

[2019-05-17 12:58] agramfort commented on #6332
you don't have a stim channel in your raw file. Do you see annotations?
raw.annotations ?

[2019-05-17 14:04] SommersKim commented on #6332
No, because it's already epoched on eeglab. I get this error with raw.annotations :

AttributeError: 'EpochsEEGLAB' object has no attribute 'annotations'

[2019-05-17 14:09] agramfort commented on #6332
events are to make epochs. If you have epochs what are you trying to do?

[2019-05-17 14:27] SommersKim commented on #6332
You're right. Thank you. Actually, I wanted to run this code, but I think it's not the problem of epochs...

epochs = mne.read_epochs(path)
(https://martinos.org/mne/stable/auto_examples/stats/plot_sensor_regression.html)

AttributeError: 'EpochsEEGLAB' object has no attribute 'endswith'

But it shows the same error message when I run "mne.io.read_raw_eeglab" as well.
Should I convert all my ".set

[2019-05-17 14:40] massich commented on #6302
then either you or I can do it

[2019-05-17 15:26] massich commented on #6302
let's see what the CI in master says

[2019-05-17 15:30] massich commented on #6304
Is this related to #5190 ?

[2019-05-17 15:41] larsoner commented on #6302
Yeah once https://travis-ci.org/mne-tools/mne-python/builds/533853924 and https://circleci.com/gh/mne-tools/mne-python/13179 come back happy, feel free to push out 0.18

[2019-05-17 16:20] GuillaumeFavelier commented on #6302
I'm available to work on it now, what do you say @massich ?

[2019-05-17 16:51] larsoner commented on #6302
Just pushed https://github.com/mne-tools/mne-python/commit/3b75010ffdffabf1146f7ca7700e51f93bba3ac6 to fix https://circleci.com/gh/mne-tools/mne-python/13179, now we need to wait 1.5 hours for https://circleci.com/gh/mne-tools/mne-python/13181 to complete

[2019-05-17 17:05] agramfort commented on #6332
it's hard for us to debug without the .set file and seeing the full code

[2019-05-17 17:34] drammock commented on #6304
@massich I don't know the layout plotting code well enough to say whether they're related. But these examples should make a good test case for whatever fix comes in for #5190 (or vice versa)

[2019-05-17 18:26] larsoner commented on #6302
https://circleci.com/gh/mne-tools/mne-python/13186 is going, but it's probably better to wait until #6335 builds fully, gets merged, then builds fully on `master`.

@GuillaumeFavelier you might end up getting your wish to work on a Saturday to do the release :)

[2019-05-17 18:34] GuillaumeFavelier commented on #6302
I'm going through the authors list and having troubles with my laptop so tomorrow would be perfect :D

[2019-05-18 02:03] SommersKim commented on #6332
I've uploaded my raw BrainProduct eegfiles('001.vhdr', '001.vmrk') and also pre-processed & artifac rejected ".set"files("001.set", "001.fdt").[https://github.com/SommersKim/EEG-ERP](url)

After I loaded my files with "mne.io.read_raw_brainvision" for my raw BrainProduct eegfiles,  or "mne.io.read_epochs_eeglab" for my ".set"files,

I cannot run "epochs = mne.read_epochs(raw)".

Thank you...!!

[2019-05-18 06:54] agramfort commented on #6332
@SommersKim please read the documentation.

how do you expect `epochs = mne.read_epochs(raw)` to work? read_epochs reads from disk epochs. Why do you pass a raw object???

I am closing as I don't think it's a bug in the code.

[2019-05-18 06:54] #6332 closed

[2019-05-18 13:45] GuillaumeFavelier commented on #6302
@jeythekey we don't have your name to update the mailing for the release. Can you provide us your full name and desired email to ament that? thx.

[2019-05-18 14:16] massich commented on #6302
here's the [mne v0.17 release note](https://github.com/mne-tools/mne-python/issues/5706)

[2019-05-18 16:49] SommersKim commented on #6330
Thank you.. as a student very new to mne-python, no matter how I tried every mne-python code on googling regarding epochs and events, I cannot read my epochs. It's empty.

<Info | 17 non-empty fields
    bads : list | 0 items
    ch_names : list | Fp1, Fp2, F3, F4, C3, C4, P3, P4, O1, ...
    chs : list | 30 items (EEG: 30)
    comps : list | 0 items
    custom_ref_applied : bool | False
    dev_h

[2019-05-18 17:00] GuillaumeFavelier opened #6338 "RFC: Draft for the new release note v0.18"
I put together a release note, please feel free to comment on it (or edit).

---

Dear community!

We are very pleased to announce the new 0.18 release of MNE-Python (http://martinos.org/mne/stable/).

A few highlights
================

- Python 2 is no longer supported; MNE-Python now requires Python 3.5+
- New tutorials and examples on sleep stage classification, data simulation using subject's

[2019-05-18 17:02] GuillaumeFavelier commented on #6330
@SommersKim feel free to close the issue if the solution worked.

[2019-05-18 17:12] massich commented on #6302
RFC for 0.18 release note is in #6338

[2019-05-18 17:27] teonbrooks opened #6339 "make mne-realtime a standalone repo"
As discussed at the sprint, I would like to make the `mne-realtime` standalone similar to `mne-bids`.
1. I am unable to transfer rights of the https://github.com/teonbrooks/mne-realtime to the `mne-tools` organization.
2. I would like some help getting the repo to work properly with CI. I followed the `mne-project-template` but there are a few things that I need a hand with.

This will likely not

[2019-05-18 17:37] SommersKim commented on #6330
Sorry, actually my problem is not solved yet. As a student very new to mne-python... I've tried mne.find_events, but it gave me an empty array.
The '.set' file I've loaded is completely processed on eeglab and had no problem with triggers or epochs and was ready to just grand-average.

but when I load it on mne-python, my event array appears empty.
In this case, should I make an event file?

mne.f

[2019-05-18 17:46] massich commented on #6339
I thought that we removed that already. My fault.

This is a blocker, we should avoid the deprecation cycle. Can you make a quick PR? I'll get it in.

[2019-05-18 17:56] drammock commented on #6330
@SommersKim please, do not use the GitHub issue tracker for questions about how to *use* the software. The issue tracker is for feature requests and bug reports. See the [getting help](https://mne-tools.github.io/dev/pre_install.html#getting-help) section of the documentation for a link to the MNE email listserv, where usage questions are appropriate and encouraged.

[2019-05-18 17:56] #6330 closed

[2019-05-18 18:24] sappelhoff commented on #6338
We could add the second twitter channel:

[code]

[2019-05-18 18:27] massich commented on #6302
We can't release without #6340

[2019-05-18 20:15] britta-wstnr commented on #6338
Something like:
``Better support for source reconstruction with beamformers // the beamformer module and other inverse models`` ?
-- beamformers are inverse models, too, that does not get quite clear to me as it is now.

[2019-05-18 20:21] massich commented on #6338
is it better now?

[2019-05-18 20:22] sappelhoff commented on #6338
And we catched and fixed more than 50 bugs !! --> `caught`

[2019-05-18 20:23] britta-wstnr commented on #6338
@massich sounds better to me, thanks!

[2019-05-18 20:24] britta-wstnr commented on #6338
``Add*ed* overwrite parameter`` under API changes? The rest is all past tense.

[2019-05-19 04:35] jasmainak commented on #6338
a naive reader might assume that it means mne-python is full of bugs :p Maybe you want to phrase it a little differently?

[2019-05-19 07:43] agramfort commented on #6338
made a few edits. LGTM

[2019-05-19 08:01] agramfort commented on #6329
thanks for putting up this clear spec and plan.

+1 for me

[2019-05-19 09:50] massich commented on #6302
I do not understand why stable and dev websites render like this:
![image](https://user-images.githubusercontent.com/7044835/57980454-4a95ed00-7a2c-11e9-83fc-771de9d03787.png)

![image](https://user-images.githubusercontent.com/7044835/57980455-4ec20a80-7a2c-11e9-8767-5e7aaf7f72dd.png)

[2019-05-19 09:59] massich commented on #6302
7ae4626 should fix it. I thought I had pushed that already in `maint/0.18`

[2019-05-19 14:15] massich commented on #6302
now it should be good! @larsoner you can upload martions.

[2019-05-19 15:02] GuillaumeFavelier commented on #6302
This version is live on [PyPi](https://pypi.org/project/mne/0.18.0/#history)!

[2019-05-19 15:14] massich commented on #6302
for completness:

[code]

[2019-05-19 15:40] teonbrooks commented on #6302
I believe we would like to get this #6340 merged in before the release is out. does pypi allow for re-releases or was this a test run?

[2019-05-19 15:44] GuillaumeFavelier commented on #6302
@teonbrooks do you mean #6342 ?

The idea was to release a release candidate to wait for #6342 . But we messed it up. But don't worry, we can do another one quick and it will be the same.

[2019-05-19 16:05] teonbrooks commented on #6302
ah, ok, gotcha! cool, thanks for the clarification :)

[2019-05-19 18:09] Pezz89 opened #6343 "Can't save a slice of a bdf file without preloading full file"
Having updated MNE to v0.18.0 via pip, I'm now unable to split a .bdf file into smaller raw.fif files without preloading the full file. This code runs in MNE v0.17.2 without error:
[code]
However, as of 0.18.0, this code returns the following error:
[code]
The error occurs as the `stim_channel_idx` variable is set to:
[code]
which I believe occurs in the block of code on lines 407-413 of `/mne/io/

[2019-05-19 19:34] agramfort commented on #6343
I cannot replicate the pb with
https://github.com/mne-tools/mne-testing-data/tree/master/BDF:

In [10]: raw = mne.io.read_raw_bdf('test_generator_2.bdf')

In [11]: raw.save('toto_raw.fif', tmin=1., tmax=2, overwrite=True)

can you share a file?

do I miss something?

[2019-05-19 20:05] Pezz89 commented on #6343
Unfortunately I cannot share the full files, but will try to generate a small test file that reproduces the issue in the next few days (I don't currently have access to software that can crop BDF data and will need to find a Windows or Matlab install to do this).

[2019-05-19 21:57] marsipu opened #6344 "Bug: plot_compare_evokeds, issue with Neuromag-122-data (rename_channels)"
#### Describe the bug
When I try to do the mne.viz.plot_compare_evokeds() with data from our Neuromag122-MEG (only planar-gradiometers), the following Error-Message occurs:
ValueError: New channel names are not unique, renaming failed

The traceback goes to rename_channels which is called within combine_grads.
I assume, the problem is, that the naming of the channels is here very simple:
MEG 001,

[2019-05-20 06:30] cbrnr commented on #6338
I also made some minor edits (formatting). LGTM!

[2019-05-20 07:50] agramfort commented on #6343
you can replicate the pb only with your file? not any of the files from our
testing repo?

[2019-05-20 09:00] agramfort commented on #6344
I confirm the pb. Here is the test to use for the PR:

[code]

[2019-05-20 09:27] h2oz opened #6345 "No stim channels found. Consider specifying them manually using the 'stim_channel' parameter."
Hi,
I got an error when I call
_mne.find_events(raw=raw, shortest_event=1, verbose=False)_ that I didn't get previously:

_No stim channels found. Consider specifying them manually using the 'stim_channel' parameter._

Why is that? I went back to version 0.17.2

[2019-05-20 10:23] cbrnr commented on #6345
What kind of file did you load? MNE changed the way it imports markers - most likely you can find them in `raw.annotations` now.

[2019-05-20 10:38] h2oz commented on #6345
I use this database with gdf files: [Brain Invaders 2013a] [https://zenodo.org/record/1494240#.XOKC_6Q6-w5](url)

[2019-05-20 10:57] cbrnr commented on #6345
Yes, GDF events are now accessible via `raw.annotations`:

[code]

If you inspect `raw.annotations`, you will find all events in there.

[2019-05-20 10:59] cbrnr commented on #6345
If you want to have events, you can convert annotations to events with `mne.events_from_annotations(raw)` (there are several parameters that influence the mapping from annotation to event, so be sure to check them out).

[2019-05-20 11:01] h2oz commented on #6345
Great thanks!

[2019-05-20 11:01] #6345 closed

[2019-05-20 12:37] agramfort commented on #6345
the mne.find_events function should have told you to use
events_from_annotations if you have no stim channel and annotations....

can someone open a PR?

[2019-05-20 13:51] larsoner commented on #6338
We should probably cut a 0.18.1 with the `mne.realtime` deprecations included, and add it to the release notes here

[2019-05-20 15:53] massich commented on #6338
I propose to do bump to `0.18.1rc0` in `maint/0.18` and do a pre-release waiting to get in some earlier feedback.

I tried in `test.pypi.org` but I don't seem to be able to find my package.
[code]

[2019-05-20 16:18] massich commented on #6338
It does not allow me to push it back, so it means is there. But I can't find it in test.pypi.org

[2019-05-20 16:25] larsoner commented on #6123
Unfortunately for Zapier, having a 3-step requires an account, so I'm going to remove the line restriction. Those tweets can just fail.

[2019-05-21 00:14] #6339 closed

[2019-05-21 19:54] #6302 closed

[2019-05-21 19:55] massich commented on #6302
Thx everyone !!!

[2019-05-22 07:53] #6338 closed

[2019-05-22 10:03] fraimondo commented on #6279
Finally had some time to make a working example:

https://gist.github.com/fraimondo/8841c53de16aaa63d5953aaed1539f56

Any thoughts on how to proceed? Mostly the bezier curves are the complicated issue. The rest is MNE code.

[2019-05-22 10:06] jjnurminen opened #6359 "evoked file with aspect_kind==105 causes a KeyError"
Dear mne,

a colleague gave me an evoked fiff file created with mne Matlab toolbox. When trying to load it in mne-python, the Evoked instance is created fine. However when trying to look at it, I get:

[code]

It looks like `self.kind` is 'unknown'. If that's not OK, It seems to me that the situation should be handled before `__repr__` is invoked. Further, why is `self.kind` limited to average or

[2019-05-22 12:54] mmagnuski commented on #6290
Maybe a simpler thing to start with would be to change a bit how stc's are used to store and display frequency-resolved source-space representation (that is before adressing time-frequency). Currently it is a bit hacky as `times` are used to store frequecies. Do we have some ideas on how to deal with that and forthcoming source-space TFR without a class proliferation that @agramfort mentioned?
One

[2019-05-22 13:18] larsoner commented on #6359
This is a bug, I'll see if it's easy to fix it.

These are the only kinds produced by MNE-Python, and (apparently) the only ones people have tried to read with MNE-Python so far. But we might as well add the remaining ones to the list:

https://github.com/mne-tools/fiff-constants/blob/a3feddb3011335586d50bc40d1c4e36cea20913f/DictionaryTypes.txt#L347-L360

[2019-05-22 13:20] mmagnuski commented on #6290
@larsoner
Yes, I know :) but this would be only to check the sub-class ("what dimensions are available") and not so much to do slicing, dicing and computations. I don't think @agramfort would approve to depend on xarray. :) (although its more mature nowadays and actually a simple function in mne like `TFR.to_xarray()` would be useful - but that's another story).

[2019-05-22 13:54] larsoner commented on #6279
Why not use mpl directly?

https://matplotlib.org/gallery/api/quad_bezier.html

[2019-05-22 14:09] fraimondo commented on #6279
If I’m not mistaken, I can’t do 3D bezier curves with mpl.

[2019-05-22 14:11] larsoner commented on #6279
Ahh right 3D not 2D.

Assuming it's not too much more work (?), a reasonable next step would be to make a WIP PR to make a new viz function for this sort of thing, with an example (or modify an existing example) so we can see what the real-world use case looks like.

If it requires `bezier` to work, we can add it to the list of optional dependencies and put it in `environment.yml` and `requirement

[2019-05-22 14:47] agramfort commented on #6290
I considered this option too. Only two SourceEstimates | VolSourceEstimates
object and a dims attribute which is a tuple that can be 'vert', 'freq',
'time', 'orientation'

[2019-05-22 15:06] larsoner commented on #6290
If we're going to get rid of the Vector/non-vector and time/freq class-based distinctions, we might as well get rid of the surface/volume/mixed class-based distinctions, too. We don't have great support for mixed source spaces and trying to have a general class could help fix this problem.

I propose we come up with a new class that's for any type of source-level data we want to work with. I'd cal

[2019-05-22 15:33] larsoner commented on #6290
Incidentally, this `get_data` + kernel-default business would fix some long-standing issues, such as people wanting to iterate over STC epochs and/or vertices and/or times, depending on the application. The `get_data` can (hopefully) easily and efficiently calculate only what it needs to in order to return the requested data via slicing properly before the `dot`/`einsum` so these things become eas

[2019-05-22 16:07] Eklund89 opened #6361 "[Feature request] Store trials marked as bad"
#### Context
To visually reject trials based on peak to peak values, I made a simplified version of ft_rejectvisual (http://www.fieldtriptoolbox.org/reference/ft_rejectvisual/) for MNE-python.
This function spits out a list of the trials i want to drop so i can drop them with epochs.drop(). I can also easily store the marked trials for each subject for quick reanalysis by removing the same trials.

[2019-05-22 16:53] jasmainak commented on #6361
This is [possible in autoreject](http://autoreject.github.io/auto_examples/plot_visualize_bad_epochs.html#sphx-glr-auto-examples-plot-visualize-bad-epochs-py). However, that said it seems it's oft-requested feature so I would not be opposed to copying the small code from autoreject into MNE. So the autoreject code is not calling a bunch of private functions from MNE which is hard to maintain in th

[2019-05-22 17:20] #6359 closed

[2019-05-22 18:32] mmagnuski commented on #6290
I like that!

[2019-05-22 18:38] mmagnuski commented on #6361
That's a call for Epochs Annotations! :)

[2019-05-22 18:52] larsoner opened #6363 "DOC/BUG: Old intro docs"
https://mne-tools.github.io/mne-python-intro/ still exists. Should we update or remove?

[2019-05-22 18:53] larsoner commented on #6363
(thanks @xexeo for reminding us it's there)

[2019-05-22 19:09] drammock commented on #6363
I've been wanting to remove it, but I don't know what pages (possibly outside of MNE) link to it (and hence would die if we removed the page). Do you think it's worth setting up a redirect to https://mne-tools.github.io/dev/auto_tutorials/intro/plot_introduction.html ?

[2019-05-22 19:12] larsoner commented on #6363
+1 for redirecting to that tutorial. It should be easy to do via a PR to `mne-tools.github.io` repo.

Also I just noticed that that tutorial does not seem to be linked to from https://mne-tools.github.io/dev/documentation.html. Seems like it should live under "MNE basics", no?

[2019-05-22 19:14] drammock commented on #6363
yeah, I'll add it there and set up the redirect. I was lazy about adding to `documentation.html` because I know that page will get an overhaul soon.

[2019-05-22 19:41] jasmainak commented on #6290
How much backward compatible is this proposal going to be? Isn't `SourceEstimate` a very old part of MNE? Is this going to break people's scripts?

[2019-05-22 19:52] larsoner commented on #6290
We'll have to decide how backward compatible we want it to be. The way I would start is by looking at how far we can get by supporting "upsampling" our five existing classes to `SourceData`. Hopefully at the end of the day our five classes can just be thin wrappers that contain little to no code like:
[code]
Maybe we deprecate them with a long cycle, maybe not. But I'm optimistic it's a solvable p

[2019-05-22 20:00] drammock opened #6364 "RFC: website repo size is getting out of hand"
the repo for `mne-tools.github.io` is now 4.5 GB (for comparison, the MNE-Python repo is 0.95 GB).  This makes it unweildy to change anything; the cloning process can take several minutes. @larsoner suggested that we open an issue here to collect opinions / ideas about whether it's worth it to try to shrink the website repo, and if so, how to go about it in the least disruptive way.

[2019-05-22 20:00] jasmainak commented on #6364
why don't you squash the commits?

[2019-05-22 20:03] jasmainak commented on #6290
okay I see, thin wrappers sounds like a good idea and +1 to a long deprecation cycle. I have neuroscientists complaining to me that the API changes too fast in Python / MNE and things break when they update versions.

[2019-05-22 20:08] larsoner commented on #6364
@jasmainak yes we need to rewrite history, squashing would be a good way to do it. But rewriting history is dangerous so we have to be careful about it and make sure people who would be affected are on board.

The things I foresee this potentially breaking are:

1. CircleCI when it caches the `mne-tools.github.io` repo in order to update it.
2. martinos sync scripts
3. If there is some old doc tha

[2019-05-22 20:21] larsoner opened #6365 "DOC: Installation troubleshooting"
Talking to @jasmainak about an upcoming workshop and getting emails, I think we would benefit from a dedicated page about troubleshooting installation issues. A page like this could be nice:

http://ryan-leung.github.io/PHYS4650_Python_Tutorial/installing-on-linux.html

Basically something with green/checkboxes saying "this is good" and red/X's saying "this is bad" at different stages, with links

[2019-05-22 20:29] drammock commented on #6365
depends on when your workshop is; I likely can't get to this until next week.

[2019-05-22 20:36] larsoner commented on #6365
Okay cool. I'll see if I can do it tomorrow morning. Hopefully I can get most content in this week, and you can work some readability / incorporation magic on it :)

[2019-05-22 21:28] drammock commented on #6363
so, I admit confusion.  `git grep mne-python-intro` shows several links to that page, showing up in versions `0.11` through `0.17` (but not in `dev`), and the page itself doesn't seem to be part of the repo (?) which makes it hard for me to figure out how to replace it with a redirect.  Also various `git grep` calls on short spans of text found in https://mne-tools.github.io/mne-python-intro/ retu

[2019-05-22 21:32] drammock commented on #6364
:+1: for squashing to 1 commit per release for old releases.

:+1: for letting CircleCI push commits during a dev cycle.

:+1: for making website commit squashing part of the release process.

[2019-05-22 21:37] DiGyt commented on #6290
This looks like a great solution to me. So this would mean `time_frequency` functions could run on `sourceData` at the same speed as on sensor level data, since the `apply_inverse` part would be performed afterwards, right?
Like this, we could also do without `time_frequency` functions taking lists as input, since they could be handled as proper epoch objects...

[2019-05-22 21:38] jasmainak commented on #6365
I like the idea of giving a list of diagnostic commands with a good and bad. It's how I usually troubleshoot myself. another command I would add to the list is:

[code]

This is really useful to figure out which version of mne is being used and if it's the latest one

[2019-05-22 21:41] larsoner commented on #6363
Someone probably added the html and images manually. There was a time back
when none of this stuff was automated...

So you can just make a PR to that repo to remove the files file and replace
them with a single redirect html file. If this is not clear I can do it too.

[2019-05-22 21:43] drammock commented on #6363
It's clear, it's just that I can't even *find* the file I'm supposed to replace with a re-direct.  If it's not in the `mne-tools.github.io` repository, where else can it be?

[2019-05-22 21:58] drammock commented on #6365
just a note to say that there is a vestigial bit of the installation docs [here](https://mne-tools.github.io/stable/install_mne_python.html#troubleshooting-mne-python-installation) about troubleshooting. That should be revised once there is a dedicated troubleshooting page.

[2019-05-22 22:04] larsoner commented on #6290
Yes exactly. Preserve and utilize linearity as long as possible. We have functions like compute_source_epochs_psd that take advantage of linearity for speed purposes under the hood. This class would standardize that practice and keep it in one place.

One other thing to consider is whether we can extend this behavior to things like label time course extraction, too. That is sometimes one more line

[2019-05-22 22:08] larsoner commented on #6363
Ahh GitHub trickery.

https://github.com/mne-tools/mne-python-intro/tree/gh-pages

We can modify this branch to just have a redirect.

[2019-05-22 22:25] drammock commented on #6363
cool, thanks for helping me find that

[2019-05-23 05:42] cbrnr commented on #5180
@agramfort just thought about your comment - when you say pyxdf should not apparently be associated with SCCN, why is this not a problem with MNE Python hosted at Martinos?

[2019-05-23 07:26] agramfort commented on #5180
mne-python is not hosted on an github org of martinos and it's not
administrated by anyone at martinos
we have the website historically hosted at martinos.org. We use
mne-tools.github.io as nightly build of the doc.
It's true that we have martinos in the url of the website but we have all
the logos of all the institutions
that helped over the years.

[2019-05-23 07:30] agramfort commented on #6364
agreed

martinos sync scripts do clone with depth 1 so don't need history

[2019-05-23 07:31] agramfort commented on #6361
do you know about the epochs.drop_log to keep track of the epochs that have
been dropped and why?

[2019-05-23 09:04] mmagnuski commented on #6361
If I remember correctly `.drop_log` is not very human-friendly.  :)

[2019-05-23 09:09] agramfort commented on #6361
epochs.plot_drop_log helps?

[2019-05-23 09:33] cbrnr opened #6367 "Incorrect scaling on macOS HiDPI when resizing plot window"
We've already fixed the incorrectly scaled `plot_raw` window on macOS on a HiDPI (retina) display in #6043 (discussion in #6034). However, the same issue occurs after resizing the `plot_raw` window. After resizing, the axes overlap again. Is there another place where we calculate the layout of this figure? Could other plots also be affected?

[2019-05-23 12:17] Eklund89 commented on #6361
@agramfort I thought the plot_drop_log was a visual tool, correct? I need the trial numbers so i can save them to a logfile.

[2019-05-23 12:25] larsoner commented on #6361
You can iterate over the drop_log list, any non empty entry has been dropped. Or use epochs.selection in combination with the length of your original events list.

[2019-05-23 13:15] mmagnuski commented on #6361
@agramfort I have to correct my statement about `.drop_log` not being human-friendly. I checked and `.drop_log` with the help of `.selection` does exactly what is requested here.

[2019-05-23 13:16] mmagnuski commented on #6361
@Eklund89 Maybe you would be willing to submit a PR with example showing how to access these information using `.drop_log` and `.selection` - I guess there are not much information on these in the tutorials/examples.

[2019-05-23 13:36] larsoner commented on #6367
`git grep resize` shows (among other things):
[code]
Can you look?

[2019-05-23 14:05] larsoner commented on #6364
Okay I'm going to see if I can do this. 1200+ commits will hopefully get squashed to ~10 today...

[2019-05-23 15:34] larsoner commented on #6364
Fixed:

https://github.com/mne-tools/mne-tools.github.io/commits/master

Size after a fresh `git clone` is 1.6GB, so still big, but not as bad.

[2019-05-23 15:34] #6364 closed

[2019-05-23 15:41] drammock commented on #6364
Thanks @larsoner!

[2019-05-23 18:08] drammock commented on #6363
@larsoner should we still add the redirect page?  I guess it would go in `doc/mne-python-intro/index.html`?

[2019-05-23 18:19] larsoner commented on #6363
Yes please open a PR for it

[2019-05-23 21:17] drammock commented on #6363
closed by mne-tools/mne-tools.github.io#16

[2019-05-23 21:17] #6363 closed

[2019-05-24 07:22] cbrnr commented on #6367
`_helper_raw_resize` calls `_layout_figure`, which works on initialization but not on resize. It's hard to debug for me, because while debugging it doesn't even work on initialization...

[2019-05-24 14:33] larsoner commented on #6290
I think we'll have to think on this `SourceData` API a bit. Let's not aim for doing it before the GSoC work.

Maybe the first thing to start with for GSoC is assume for now that you have some `SourceTFR` object with dimensions `[n_epochs, ]n_sources, n_freqs, n_times`. Maybe build such an object.

[2019-05-24 17:47] larsoner commented on #5488
Good thing the relicensed under BSD, we couldn't have used their code without it !

[2019-05-26 16:17] DiGyt commented on #6290
Hmm. but there's alot of stuff from the project that would depend on this (e.g. not needing to read lists in `time_frequency` functions and not having the trouble with dealing with vectorized `SourceEstimates`).
If i already could start out with a kernel type class, i could spend more time of the project developing this class instead of make `time_frequency` functions handle `SourceEstimates`.
If

[2019-05-26 18:39] agramfort commented on #6290
I agree with @larsoner

maybe one option is to draft a SouceData-like class for the time-frequency estiamtes in source space and make the plotting code work (with and without the kernel trick).

once this object is agreed upon in terms of API we can see how to make it possibly a first class citizen in mne-python.

[2019-05-27 09:22] fraimondo opened #6375 "[BUG] Concatenate epochs with different electrodes order"
#### Describe the bug
When concatenating epochs, channel order is not considered as a difference. So epochs with different channel order are concatenated without warning/error.

From _compare_epochs_infos in mne/epochs.py:
[code]

#### Steps and/or code to reproduce
[code]
In this example, the epochs channels have inverse order. But the order kept is from `epochs1`. So data from electrode EEG2 get

[2019-05-27 09:37] agramfort commented on #6375
for me it should just work.

[2019-05-27 09:44] fraimondo commented on #6375
I don’t disagree with that, as long as there is documentation. I had this doubt and I had to revise the code and make the test to check if different electrode order would make a difference or not.

As its stand now, the definition of equality between info objects is not strict.

[2019-05-27 12:48] massich commented on #6279
I'm +1 for having this as an example

[2019-05-27 19:06] DiGyt commented on #6290
Sounds good! I'll do that.

[2019-05-27 19:15] agramfort commented on #6375
do you have time to open a PR?

[2019-05-27 21:36] jorpelga7 opened #6377 "Amplitude of interpolated channels very small (part 2)"
Hi!
I am trying to interpolate dead channels in the mode described below, but the interpolated channels seem to come out with negligible amplitude (i.e. they look flat). In a related thread, I read that specifying origin = (0., 0., 0.01) in raw.interpolate_bads() should do the trick, but it still doesn't seem to work when I try. I'd very much appreciate some help with this.
Thanks in advance!
Joan

[2019-05-28 01:25] jasmainak commented on #6377
Can you share your data?

On Mon 27 May 2019 at 17:36, jorpelga7 <notifications@github.com> wrote:

--
Sent from my iPhone

[2019-05-28 10:11] agramfort commented on #6377
can you show the layout of your channels? How many channels do you have?
are the channels you try to intepolate far?

[2019-05-28 12:18] makkostya opened #6378 "Some remarks to simulate_raw"
After working with simulation module I have some remarks:

1. Maybe we should add "exclude=bads" to channel selection:
`meeg_picks = pick_types(info, meg=True, eeg=True, exclude=[])`

I  faced a problem when tried to simulate data in the project, where I already computed `fwd` which didn't have bad channels  `['MEG 2443', 'EEG 053']`. But these channels are included when I  simulate raw and as a r

[2019-05-28 12:20] larsoner commented on #6378
I think I'd rather have it simulate data even for the bad channels without error. For now you can work around it by setting `info['bads'] = []` before calling `simulate_raw`.

I think it should simulate without adding a stim channel without error. If people want a stim channel, they should add it to their template raw instance or info (using e.g. raw.add_channels).

[2019-05-28 12:29] makkostya commented on #6378
It shows error when I try to call `events = mne.find_events(raw)` . I think that as far as `events` is an input to simulate_raw, the stim_channel should be automatically added. I don't see why user should bother to manually add  `raw.add_channels`. He may not even know that it exists, but he still may want to compute evoked from raw in a fast way by using `mne.find_events`

[2019-05-28 12:35] larsoner commented on #6378
The idea is that the raw template you provide should contain what you want to simulate. If it has MEG, it does MEG. If it has EEG, it has EEG. If it has stim channels, it will contain stim channels, etc. Perhaps it's worth breaking this from a convenience perspective, but I'd still slightly prefer to get people to think about what they want simulated, and maybe `warn` if there is no stim channel i

[2019-05-28 12:47] agramfort commented on #6378
can you show the code that you expected to work and which did not?

[2019-05-28 13:11] makkostya commented on #6378
This piece of code would simulate raw data without stim channel if evoked does not have one (even if source_simulator contains events):
`raw_region = mne.simulation.simulate_raw(evoked.info, source_simulator, forward=fwd_fixed)`
It's not really a problem, I still can get evoked from raw if I have events array. For me it is just seems counterintuitive that events information is not preserved in raw

[2019-05-28 13:56] agramfort commented on #6378
the reason I ask to see the code is because it's faster to read than
text and it allows
to see if the code user have to write is actually counter intuitive.

[2019-05-28 14:15] jorpelga7 commented on #6377
Hi,
here is a sample file.
https://drive.google.com/file/d/15JzRPtAKpKV4oz08eMzY4N-pVhgPwYcE/view?usp=sharing

I basically do:

import mne
fname = 'path to ... /R1_SyllBlock.sqd'
raw = mne.io.read_raw_kit(fname, preload=True, allow_unknown_format = True)
raw.info['bads'] = ['MEG 026', 'MEG 041', 'MEG 065', 'MEG 066', 'MEG 088', 'MEG 097', 'MEG 153']

raw.interpolate_bads()
mne.viz.plot_raw(raw)

T

[2019-05-28 15:03] Hamidbme commented on #4847
hi,
I use code but i have error
code: from moabb.datasets import BBCIEEGfNIRS
dataset = BBCIEEGfNIRS()
data = dataset.get_data(subjects=[1])
error: https://pasteboard.co/IgNUTpK.png

Any help is appreciated. Thanks!

[2019-05-28 15:22] jona-sassenhagen commented on #6367
@stfnrpplngr any ideas?

[2019-05-28 15:23] jona-sassenhagen commented on #6344
So the issue is about `_combine_grads`/`combine_evokeds`, correct? In which case I'd pass. If it's about `plot_compare_evokeds`, assign me ...

[2019-05-28 15:24] jona-sassenhagen commented on #6304
Isn't the issue simply that layouts are calculated using both MEG and EEG channels, and EEG channels (in this specific montage) don't go as deep?

In which case this might be working as it should be.

[2019-05-28 15:25] jona-sassenhagen commented on #6329
For what other functions should this also apply? Probably `evoked.plot_image`, and perhaps `plot_compare_evokeds`.

[2019-05-28 18:39] drammock commented on #6304
@jona-sassenhagen to me the issue is that *the same set of EEG sensors* nearly fills the head with `raw.plot_sensors()` or `mne.channels.make_eeg_layout(raw.info).plot()` but appear clustered at the crown of the head in the insets in `evoked.plot()` or `plot_compare_evokeds()` calls. IMO they should look the same.

[2019-05-28 18:41] jona-sassenhagen commented on #6304
Not sure how to deal with that. One issue here is that we make no absolute guarantees here. Consider `outlines='skirt'`.

Arguably, the behaviour should match, but maybe the behaviour derived from calculating all layouts simultaneously is the better one.

[2019-05-28 18:54] larsoner commented on #6304
@jona-sassenhagen @drammock can you check my proposal here:

https://github.com/mne-tools/mne-python/issues/3987#issuecomment-298920228

I argue that these plots should always show the sensors reasonably aligned to a ~80cm head. Then it doesn't matter what subselection, etc. you use. For MEG you align using `dev_head_t` and for EEG you're already in head coords so should be fine. It should be more

[2019-05-28 19:45] drammock commented on #4847
@Hamidbme the code you've tried does not involve MNE-Python at all.  You should consider posting in https://github.com/NeuroTechX/moabb

[2019-05-28 19:54] larsoner opened #6379 "BUG: epochs.plot with no picks gives cryptic error"
epochs.plot uses `picks=None` to mean "good data channels". Someone today tried to do `epochs.plot()` for an epochs object where they had only one channel and it was type stim. A smart `_picks_to_idx(..., ensure_nonempty='Plotting epochs')` (with `ensure_nonempty=False` as the default) could give an informative error that the `picks` argument yielded no channels, but at least one is required.

[2019-05-28 20:35] melyndaschreiber opened #6380 "ENH: Add preload=str to concatenate_raw and concatenate_epochs"
Hello all, I am using mne.concatenate_raws to collect all my raw data for a single subject. This often caps out my memory on my computer. Is there a way to better manage memory in this situation. Another potential solution is to concatenate epochs which is much better for memory. However, I am concerned that filtering short epochs would cause other issues in my data.

@larsoner has suggested the f

[2019-05-28 23:26] larsoner commented on #6367
I cannot reproduce on my HiDPI OSX machine. Maybe it's a PyQt / `matplotlib` bug.

[2019-05-29 01:25] larsoner opened #6382 "BUG: `inverse_sparse` with `weights_min=None`"
Doing:
[code]
is fine, but removing `weights_min=8.` (which takes it to the default `None`) yields:
[code]

[2019-05-29 04:27] talhaanwarch opened #6383 "AttributeError: 'EpochsArray' object has no attribute 'drop_epochs'"
I am trying to remove epoch from epochsArray object. but i am getting AttributeError: 'EpochsArray' object has no attribute 'drop_epochs'.
 Here is the plot image..
http://prntscr.com/nupz7m

Or is there any way to remove segment from above image by marking them bad

[2019-05-29 06:00] agramfort commented on #6383
it seems indeed a bug. Can you share a snippet to replicate the full problem
using the sample data?

[2019-05-29 06:13] cbrnr commented on #6367
It only affects the `osx` backend - I don't have this issue with the `qt5` backend. @larsoner can you reproduce with `osx`?

[2019-05-29 07:18] talhaanwarch commented on #6383
ok, i am not perfect in python. here i try to upload the sample data and file
https://github.com/talhaanwarch/EEG-Shizophrenia

[2019-05-29 10:02] ckiefer0 commented on #6278
I updated the [gist](https://gist.github.com/ckiefer0/9b742305db2c7d2d47b8af776a6047f4). There is a function in `atlas_utils.py` which allows you to get the labels for different atlases if you provide `atlas_data`, `affine` and `value_to_label_dict` which translates the values in `atlas_data` to label names.

The function can be called like this:
`get_atlas_volume_labels(subject, subjects_dir, vsr

[2019-05-29 11:13] larsoner commented on #5406
I now have a decent collection of notebooks:

- 2016_05_Halifax
- 2017_03_Brussels
- 2018_06_Amsterdam
- 2019_04_Birmingham
- 2019_04_Brown
- 2019_05_NIH (WIP)

I could trim these create a `mne-workshops` repo and put the `ipynb` files in there so that people have a place to go to find these files. @dengemann @jona-sassenhagen @drammock @agramfort sound good?

[2019-05-29 11:15] jona-sassenhagen commented on #5406
Fine with me.

[2019-05-29 11:31] agramfort commented on #5406
fine with me too

[2019-05-29 11:33] dengemann commented on #5406
ok

[2019-05-29 11:34] larsoner commented on #6382
@agramfort I see a few options, not sure which is preferable:

- enforce that if someone passes `weights` they must pass `weights_min`
- if `weights_min is None` then use some automatic criterion (e.g. 50th percentile / include half of all verts?)
- set `weights_min=0.` by default (but then if someone passes `weights` it will be effectively ignored, so not a great option)

[2019-05-29 11:37] agramfort commented on #6382
weights_min=0. is fine with me

[2019-05-29 11:39] larsoner commented on #6367
I can't (currently at least) test it because I get the "ImportError: Python is not installed as a framework" error.

[2019-05-29 12:09] larsoner commented on #6278
Rather than provide these separately it would probably make sense just to take a nibibel SpatialImage as an input, since the simplest form of a SpatialImage is IIRC just a data+affine.

[2019-05-29 12:20] ckiefer0 commented on #6278
At fist I was just providing the image to `get_atlas_volume_labels()`. The problem was that the atlas data sometimes has 3 or 4 dimensions and depending on the atlas the data has to be interpreted in a different way (e.g., ICA components or probability of cluster affiliation). To keep the function relatively simple I decided to manipulate the data outside of the function so that I will always have

[2019-05-29 12:36] #6382 closed

[2019-05-29 12:57] larsoner commented on #6278
I would expect the user to get their atlas into `SpatialImage` format (with integer values for each ROI) and pass that to the function.

- in cases where users have to do some manipulations / restrictions / whatever, it only adds one line for them to put it in this format, so it's easy
- even in these cases, they'll probably/often want to save the "adjusted" version to disk
- for cases where the a

[2019-05-29 14:08] ckiefer0 commented on #6278
OK, I updated the files so that `get_atlas_volume_labels()` takes the argument `atlas_img` which is a nibabel `SpatialImage` object.

[2019-05-29 14:09] larsoner commented on #6278
Great. I have some volumetric data to analyze in the coming days and I'll see how this works with it.

[2019-05-29 14:28] larsoner commented on #3543
@nugenta has CTF data with `MarkerFile.mrk` that looks like the following (@kingjr any memory if this is what you were talking about three years ago?):

[code]

I think if this file is present we should parse it and add as annotations. @massich if I send you the file can you take a look?

[2019-05-29 14:33] agramfort commented on #3543
what soft produced these files? ctf console?

[2019-05-29 15:08] cbrnr commented on #6367
Matplotlib 3.1.0 should have fixed this issue: https://matplotlib.org/3.1.0/users/whats_new.html#matplotlib-no-longer-requires-framework-app-build-on-macosx-backend

[2019-05-29 15:12] larsoner commented on #6367
Ahh okay I can try on Friday

[2019-05-29 15:19] larsoner commented on #6367
... but also this seems like it's almost certainly a `mpl` problem, not an MNE one, since `Qt5Agg` works but `macOS` does not. Can we close here and you can open a MPL issue after making a minimal example (once I confirm I have the same problem later this week)?

[2019-05-29 15:31] cbrnr commented on #6367
Yes, I agree it should be a matplotlib issue. Can you help me make a minimal example?

[2019-05-29 15:32] larsoner commented on #3543
Yes the CTF software allows you to mark events

[2019-05-29 15:54] agramfort commented on #3543
we should indeed be able to read these...
do we know how brainstorm or fieldtrip reads these?

[2019-05-29 16:02] agramfort commented on #6383
I cannot replicate the problem with:

[code]

even with an EpochsArray  I can remove interactively epochs etc.

[2019-05-29 16:04] agramfort commented on #6377
I don't understand the problem. I ran your code and signals look fine.

for example 'MEG 066' has proper ampitudes.

[2019-05-29 17:45] jasmainak commented on #5406
+1 and I would add a small Travis checker :)

[2019-05-29 21:13] jorpelga7 commented on #6377
And you did not add anything at all to the code?
Could it be something with the version of mne/python I am using? (I'm using Python 3.6.8, and MNE 0.17.2)
When I run it the bads are restored so that raw.info['bads'] = [], but they look flat in the plot...

[2019-05-29 23:08] larsoner commented on #6377
It's possible we fixed a bug in the last 6 mo between 17.2 and the recent 18.1 release, can you upgrade MNE and see if it works better?

[2019-05-30 00:28] jorpelga7 commented on #6377
Unfortunately it still does not work... I just spoke to a colleague here and he has had the same issue without being able to solve it for now :(
In any case, thanks very much for looking into it btw

[2019-05-30 00:55] drammock commented on #6377
I cannot replicate either:
[code]

![Screenshot_2019-05-29_16-53-21](https://user-images.githubusercontent.com/1810515/58600761-55256300-8232-11e9-97d9-3672d84b5412.png)

[code]

[2019-05-30 01:20] larsoner commented on #6367
You can try writing a few lines of code that will:

1. Create figure
2. Add subplot axes (using whatever `plt` interface we use in `raw.plot` under the hood)
3. Connect resize event handler
4. Show it works with Qt5 backend, fails with OSX backend

If step (4) does not work, then we must have some additional complexity in our code which breaks things, and we can instead try working from the "top d

[2019-05-30 02:43] jorpelga7 commented on #6377
Gosh...
This is what I get with the same exact code:

<img width="1206" alt="Screen Shot 2019-05-29 at 10 40 09 PM" src="https://user-images.githubusercontent.com/49036641/58604659-2a073780-8263-11e9-85b9-882d2019beb1.png">

<img width="567" alt="Screen Shot 2019-05-29 at 10 42 30 PM" src="https://user-images.githubusercontent.com/49036641/58604666-325f7280-8263-11e9-9677-1c187d133780.png">

[2019-05-30 09:49] agramfort commented on #6377
can you try on a fresh conda environment?

[2019-05-30 11:43] jona-sassenhagen commented on #5812
https://www.tandfonline.com/doi/full/10.1080/00031305.2017.1392359

[2019-05-30 17:07] larsoner commented on #5406
Done:

https://github.com/mne-tools/mne-workshops

Let's try to remember to add to this when workshops end!

[2019-05-30 17:07] #5406 closed

[2019-05-30 17:18] larsoner commented on #6377
I can reproduce:
[code]
One consistent difference between those who can and cannot is the NumPy version. Perhaps they changed some handling of ints/floats. I'll look.

[2019-05-30 17:22] larsoner commented on #6377
Oh wait, no I can't reproduce. I mis-interpreted the plots...

[2019-05-30 20:58] jorpelga7 commented on #6377
Don't know exactly what it is, but I deleted the mne folder under envs in anaconda, created a new environment altogether as **agramfort** suggested, and it worked!
Before that, I realized that simply running the code in the terminal after user$ ipython (i.e. outside the conda env) was also ok, but initializing the env by user$ conda activate mne before running ipython did not work...
Thank you ver

[2019-05-30 21:01] larsoner commented on #6377
Not sure what it could be. In the absence of more information (that is now probably deleted from your disk :) ) we'll close for now. But if this comes up again we can try to figure out what was going on.

[2019-05-30 21:01] #6377 closed

[2019-05-30 21:17] guiweber opened #6389 "Cannot read some EDF files, raises ValueError: tmin should be positive"
I am using the latest MNE V0.19dev to read EEG data from the CHB-MIT database, located at https://alpha.physionet.org/content/chbmit/1.0.0/

Some files can be opened just fine with `mne.io.read_raw_edf` but other raise `ValueError: tmin should be positive.`

This data set has been used extensively in the literature, so I presume the files should be usable. Also, the traceback shows that the error

[2019-05-30 21:53] larsoner commented on #6389
@massich can you look?

[2019-05-30 23:34] drammock opened #6390 "RFC: confusing API for make_fixed_length_events?"
The API for `mne.make_fixed_length_events` is confusing (at least to me). The main problem, I think, is that it has a `duration` parameter but it makes an events array that is exclusively made up of instantaneous events (given the presence of a `duration` parameter I would have expected something more like the result of `mne.find_events(..., ouptut='step')`). Also the `overlap` parameter is superf

[2019-05-31 00:44] larsoner commented on #6390
The variables are named this way to match with the typical use cases, for example Welch PSD of continuous data broken into chunks. In this domain you usually specify duration and overlap to be used, not the net spacing. In MNE you give these to the function, then tmin=0 and tmax=duration when epoching and you're done.

So for me -1 not worth a deprecation cycle to change this stuff, or get a bette

[2019-05-31 07:51] nugenta commented on #3543
The acq console creates the file, but generally only has the initial trigger mark.

Then there’s a whole host of command line helper functions that can parse the ADC channels to add marks, or use thresholds on an optical sensor channel, etc. The marks can also be manipulated manually (with a graphical interface) in the CTF DataEditor software, which is the browsing tool. So you can easily and rapi

[2019-05-31 08:09] nugenta commented on #3543
Tom Holroyd, in our group, is actually working on this… he already had a way to parse them into python (with a sed backend, lol), it’s relatively trivial to put it in the format mne-python expects. He has a pyctf module just for manipulating ctf datasets, there are likely many functions that would be useful.

Allison C. Nugent, PhD
Director, MEG Core Facility
NIMH/NIH/DHHS
10 Center Drive, MSC 105

[2019-05-31 08:11] cbrnr commented on #6389
The file does not have any annotations. The problem is likely the start of recording data, which is set to 2060-01-27 03:09:42.

[2019-05-31 08:22] cbrnr commented on #6389
Or rather, 1960 instead of 2060 (2060 is returned by biosig, 1960 by Python or R datetime functions).

[2019-05-31 09:19] larsoner commented on #6390
The variables are named this way to match with the typical use cases, for
example Welch PSD of continuous data broken into chunks. In this domain you
usually specify duration and overlap to be used, not the net spacing. In
MNE you give these to the function, then tmin=0 and tmax=duration when
epoching and you're done.

So for me -1 not worth a deprecation cycle to change this stuff, or get a
bette

[2019-05-31 13:41] hyperbolicTom commented on #3543
Hi. Tom Holroyd here. Yes, I have (now pure) python code that reads MarkerFile.mrk of CTF datasets.

Eric suggested using Annotations to hold them, as opposed to creating an event array. Annotations have a duration, however the marks in a CTF dataset do not, they only indicate a time point in seconds.

As Allison mentioned, there are CTF tools for converting the raw trigger events in the STIM chan

[2019-05-31 14:55] larsoner commented on #3543
These sorts of things can end up living in Annotations, so it seems like a good place to put it.

For non-contiguous raw CTF data (?), I don't think we insert any "gaps" between the intervals, just concatenate them together. But you should be able to see this with `raw.plot` -- if there are just vertical red lines to indicate gaps, we don't do any zero insertion -- if there are periods of zeros th

[2019-05-31 15:10] hyperbolicTom commented on #3543
So it's OK to have an annotation with a zero duration?

Yeah, CTF datasets can be non-contiguous. You pause recording, then restart (a new "trial" in CTF speak, although trials can be and often are contiguous). The AUX.ds, btw, is a contiguous copy that records through the breaks for those who want that, but it's a larger file).

Sure, I'll try it and see what happens. :-)

[2019-05-31 15:24] larsoner commented on #3543
Yes I think currently we do have some like this, such as `EDGE_boundary` that actually give the boundary locations when you concatenate raw instances.

In principle if no zeros are inserted in the CTF recordings, we should also have the `EDGE_boundary` annotations added, too. But that should be a separate PR. (Or maybe we do it already, I haven't checked.)

[2019-06-01 01:52] #6365 closed

[2019-06-01 08:30] #6075 closed

[2019-06-01 19:27] #6367 closed

[2019-06-02 06:58] cbrnr opened #6397 "CIs fail"
Does anyone know why several CIs fail? Did pytest 4.6.0 break some of our tests?

[code]

[2019-06-02 09:40] agramfort commented on #6389
I confirm that #6391 fixes the bug.

shall we merge and backport to 0.18 branch?

[2019-06-02 09:56] agramfort commented on #6390
I am also -0.5 on a deprecation cycle here. A better docstring will
surely help though

[2019-06-02 10:15] agramfort commented on #3543
+1 to use an Annotations

the way I would suggest to proceed:

- create mne.io.ctf._read_annotations_ctf('fname.mrk') files
- update
https://github.com/mne-tools/mne-python/blob/master/mne/annotations.py#L551 to
it can read the ctf .mrk files based on extension
- make sure the mne.io.read_raw_ctf reads these annotations automatically
without creating a stim channel

note that I find .mrk files in

[2019-06-02 16:57] drammock commented on #6390
Ok I'll work on the docstring

[2019-06-02 21:45] #6397 closed

[2019-06-03 07:28] #6389 closed

[2019-06-03 08:25] massich commented on #6389
Yes, #6391 fixes the bug, and I guess that we could backport it. I'll do it today

[2019-06-03 09:02] jona-sassenhagen commented on #6390
funny, I just wanted to open an issue for make_fixed_length_events.

My issue: `id` is a built-in that we are shadowing here.

[2019-06-03 11:38] jona-sassenhagen commented on #6375
See these two functions: https://github.com/mne-tools/mne-python/blob/b9b2c6884dc663ef42338bdccc9e7838820b29b3/mne/evoked.py#L834

combine_evoked and the helper before.

[2019-06-03 11:50] Matteo73 commented on #6389
@massich
Thanks for backporting it to 0.18. When the 0.18 updated version will be avaible?

Cheers,
Matteo

[2019-06-03 13:42] agramfort commented on #6389
can you rely on master for your work?

[2019-06-03 15:40] larsoner commented on #6390
Agreed we should not shadow it and if I were rewriting the function from scratch I would do `id_` but not worth the deprecation to change it now

[2019-06-03 17:44] drammock commented on #6390
I'm not convinced by the "we deprecate too often / it's a headache for users" argument.  MNE is 0.XX software. Changes should be expected, and users can / should tie their analyses to particular versions.

[2019-06-03 19:44] jasmainak commented on #6390
I invite you to have lunch with my friends at MGH :) People want their scripts to run even 3 to 5 years later -- we're nowhere close but some stability in terms of API will not hurt.

[2019-06-03 19:56] drammock commented on #6390
If they tie each project to a particular version, then their scripts *will* run 3-5 years later.  But regardless of that, stability != stagnation.  I'm fine with a long-ish deprecation cycle, if that's what is needed for this community.  But leaving in arg names that shadow built-ins as `wontfix` seems crazy to me.

[2019-06-03 19:58] jona-sassenhagen commented on #6390
I'm for once in agreement with Mainak, and for being conservative ... the shadowed builtin is local to a small function where it is safely contained. API stability allows people to upgrade and get bugfixes (we don't backport much!) while having guarantees their scripts won't break.

Maybe with a reasonable deprecation cycle, but it seems somewhat low priority to me too.

[2019-06-03 20:22] jasmainak commented on #6390
I tried this approach but it doesn't work because most people want their scripts to run 3-5 years later _because_ they want to use a new feature from a new version. That is to say, it's usually because they want to try something cool and new on their old data, not because they want their scripts to produce the same results as it did 3-5 years ago.

[2019-06-03 21:48] drammock commented on #6390
I still do not agree, but I yield.

[2019-06-03 21:48] #6390 closed

[2019-06-04 01:43] drammock commented on #6304
adding another test case for #5472.  Would be really nice to be able to do plots like this in the tutorials.

[code]

![Figure_1](https://user-images.githubusercontent.com/1810515/58845266-f9d6e480-8626-11e9-8860-59c6669bf20f.png)

![Figure_2](https://user-images.githubusercontent.com/1810515/58845268-fd6a6b80-8626-11e9-8720-08ba405ad942.png)

[2019-06-04 05:40] agramfort commented on #6304
I agree we should really fix this :-/

[2019-06-04 07:55] Matteo73 commented on #6389
@agramfort
Yes, of course, I can. I will migrate to the stable version when it is available.

Cheers,
Matteo

[2019-06-04 09:32] cbrnr opened #6406 "Auto-scaling plot.raw in combination with remove_dc and/or filter"
I often work with EEG data recorded without a highpass filter, which means that channels have large offsets different from zero. In a first step, I usually want to create a quick `raw.plot` to look at the raw data. Unfortunately, using `raw.plot(scalings='auto', remove_dc=True)` generally produces flat lines. This is despite setting `remove_dc=True`, the `scalings` are still inferred from the orig

[2019-06-04 10:15] agramfort commented on #6406
+1 for autoscaling after filtering/dc correct

[2019-06-04 12:05] massich commented on #3543
(I've no idea why I didn't see this before) But yes, @larsoner sent me the files I'll take a look.

[2019-06-04 12:07] massich commented on #3543
we should definetly add `ctf` to supported annotations files.

[2019-06-04 12:35] agramfort commented on #3543
@massich you have such files

alex@:~$ cd ~/mne_data/
alex@:mne_data$ find . -name "*.mrk"
./MNE-brainstorm-data/bst_auditory/MEG/bst_auditory/S01_AEF_20131218_01.ds/MarkerFile.mrk
./MNE-brainstorm-data/bst_auditory/MEG/bst_auditory/S01_AEF_20131218_02.ds/MarkerFile.mrk
./MNE-brainstorm-data/bst_phantom_ctf/emptyroom_20150709_01.ds/MarkerFile.mrk
./MNE-brainstorm-data/bst_phantom_ctf/phantom_200uA

[2019-06-04 14:13] larsoner commented on #6406
For filtering you'll need to load all data into memory, filter it, and compute.

For DC correction, the operation is done *on your current view of the data*. But we probably still get a good value by (hopefully quickly) using `make_fixed_length_events`, creating Epochs from this baselined with `(None, None)`, then getting the data and computing the scaling factors from that.

[2019-06-04 15:16] cbrnr commented on #6406
What if we add a new autoscale feature which works based on the current view of the data only?

[2019-06-04 15:21] larsoner commented on #6406
To me it seems like a misleading (and challenging) way to look at the data to have the scale change as a function of which time window you've cropped to. If the primary motivation is just to avoid the technical challenge of loading into memory it doesn't seem like it's worth it.

[2019-06-04 16:02] cbrnr commented on #6406
But don't both filter and remove_dc arguments to `raw.plot` work only on the currently visible data segment? DC can vary tremendously if there is a large drift and you calculate the global mean vs. the mean within the visible segment.

[2019-06-04 16:07] larsoner commented on #6406
Yes they both operate only on the given segment. Removing frequency content (what they do) on a per-window basis is different from changing the effective scale bar / pixel-to-units scaling on a per-window basis (what you propose).

[2019-06-04 17:09] larsoner commented on #6304
I started looking at one point and it was a bit of a nightmare. But I'll see if I can look again soon

[2019-06-04 17:27] larsoner commented on #4859
Just a minor update, I have heard from folks recently that `statsmodels` has simplified some of the processes of getting your data into the right format for within/between contrasts.

@christianbrodbeck any idea if your `testnd` [functionality](https://eelbrain.readthedocs.io/en/stable/reference.html#module-testnd) could be ported here to take care of some of these problems? It looks like you have

[2019-06-04 18:20] cbrnr commented on #6406
Yes, I'm getting ahead of myself. Both options would be useful, but I'm OK with tackling the scaling based on the whole signal first. However, how do we consolidate `remove_dc` with this approach then? One is based on the whole signal while the other is based on the visible segment...

[2019-06-04 18:29] larsoner commented on #6406
See above -- construct an `Epochs` object with `baseline=(None, None)` using events from `make_fixed_length_events`, get the data from it, (effecitively) concatenate the epochs to be raw-like `(n_channels, n_times)`, and use this to compute the scale factors (using `std` or however we currently do it for the original data, and will do it for the filtered data)

[2019-06-04 18:36] cbrnr commented on #6406
Which epoch duration would you use?

[2019-06-04 18:37] larsoner commented on #6406
The (starting) `raw.plot` duration

[2019-06-04 21:34] #6379 closed

[2019-06-04 21:55] drammock opened #6410 "DOC: restore example deprecation code in contrib guide"
this was inadvertantly lost in the contrib guide overhaul.

[2019-06-05 01:41] christianbrodbeck commented on #4859
@larsoner I would be all for it, but the history is completely separate from the `mne` stats functions (and so the implementation structure is probably also quite different). As far as the front-end is concerned, @agramfort was against including the model specification API I am using in `mne`, and for the backend I'm using `Cython` quite a lot...

[2019-06-05 04:31] larsoner commented on #4859
@christianbrodbeck can you look at the top post to see how much overlap there would be between what @mmagnuski has summarized as our so-far consensus, and what you already have?

What do you use Cython for? Just the clustering step? Does it end up being much faster?

[2019-06-05 08:41] GuillaumeFavelier opened #6411 "VIZ: Add a plot method to the digitization class"
As discussed with @massich in [#6369(comment)](https://github.com/mne-tools/mne-python/pull/6369#issuecomment-498357971), we could review the visualization code related to digitization and add a `plot()` method to the new `Digitization` class.

[2019-06-05 08:43] agramfort commented on #6411
maybe dig.plot() could just reuse the plot_alignment function?

[2019-06-05 08:43] GuillaumeFavelier commented on #6411
Exactly what I had in mind!

[2019-06-05 09:21] cbrnr commented on #6406
OK, I got myself into circular dependency hell. I'm trying to use `mne.make_fixed_length_events`, but if I do:

[code]

at the top of the module I get

[code]

It works if I do

[code]

However, I have other imports that I need such as `RawArray` and `create_info`, and there is no way I can import these at the top without getting an `ImportError`.

Is it OK if I just import these functions within

[2019-06-05 09:57] massich commented on #6411
my idea was to do a **first_time_issue** out of it. But never mind, I was wrong. Among other things, there are circular dependencies that make it not suited for a newcomer. @GuillaumeFavelier you can take it, or tell me how you want the visualization part and I can push in your PR, etc.

[2019-06-05 10:26] cbrnr commented on #6406
Turns out it is much easier to achieve a segment-based offset correction using plain old numpy, so I don't need the additional imports after all. I'm still interested on how you handle such cases though.

Also, it depends a lot on the actual data whether or not this new autoscale works well. For the toy example, I get a nice output:

<img width="1369" alt="Screen Shot 2019-06-05 at 12 20 38" src="

[2019-06-05 11:41] cbrnr commented on #5907
I think I found a way to fix this problem plus also fix #4769: we simply need to disable the current auto-snap to annotation start/end behavior. I somehow managed to do this once, but I don't know what exactly I changed. @larsoner do you know a quick way to disable the behavior? If disabled, I can create annotations within other annotations, which means that there is no need to show/hide annotatio

[2019-06-05 11:57] GuillaumeFavelier commented on #6411
My bad, I didn't know we had such a tag @massich . I will take it as I already started

[2019-06-05 13:17] massich commented on #6410
yes and I realized that when ever I do something with deprecations I have it open:
mne-tools.github.io/0.17/contributing.html#deprecating

Maybe we could collect other patterns that we do in a FAQ. A possible candidate would be `@fill_doc`

[2019-06-05 13:20] indridieinarsson opened #6415 "Add support for Volume Source Spaces in simulation code"
#### Setup
I have a Volume source set up, with accompanying forward solution and inverse operator. Trying to make sense of my code, I wanted to make up some simulated raw data by generating a `VolSourceEstimate` or `VolVectorSourceEstimate` instance, and applying my forward operator on it.

#### Problem
After gitter-chat with some nice people, it is clear that the `mne.simulation` namespace does n

[2019-06-05 13:43] larsoner commented on #5907
No idea, you'll have to dig into the code :(

[2019-06-05 13:47] larsoner commented on #6406
I'm fine with also changing it to use a robust (non-parametric) variance estimator instead of `std` (assuming that's what we use).

You just nest the import in the function that needs it:
[code]

[2019-06-05 13:52] cbrnr commented on #6406
I think we're using the max of the 5% and 95% percentiles if I'm not mistaken. We could maybe lower this value and use something closer to the IQR.

[2019-06-05 13:53] larsoner commented on #6406
Or maybe use the median absolute deviation?

[2019-06-05 13:55] cbrnr commented on #6406
I'll play around with some values and see what works best in my case.

[2019-06-05 13:56] cbrnr commented on #5907
OK, I've already started anyway, but was hoping that you'd have a fresh memory of this rather convoluted code. Anyway, assuming that I'll be able to disable this behavior, would you be +1 on that change?

[2019-06-05 13:59] sappelhoff commented on #4950
for reference, the file split naming according to BIDS (point 3 in the [OP](https://github.com/mne-tools/mne-python/issues/4950#issue-298439833) above)

was fixed:
- here: https://github.com/mne-tools/mne-python/pull/5470
- and here: https://github.com/mne-tools/mne-python/pull/5570

[2019-06-05 14:07] massich commented on #6304
so did I when I started digitization I expect `plot_sensors` to get simplified with the refactorings.

[2019-06-05 14:12] larsoner commented on #6406
Sounds good. As long as it works for your case with outliers, and with 'sample' (which is pretty well behaved/Gaussian) then we should be good

[2019-06-05 14:13] larsoner commented on #5907
Maybe holding some modifier key (control?) could disable it?

[2019-06-05 14:45] cbrnr commented on #5907
Yes, good idea. Maybe Shift+Click would work best. We could also do it the other way around, don't snap by default and snap with the modifier key (because I believe snapping is rarely needed).

[2019-06-05 17:29] romquentin opened #6418 "detrend raw data"
Hi,

I am trying to analyze EEG data in the same way a colleague did with Fieldtrip. Apparently she detrended the raw data.
(in Fieldtrip, cfg.detrend    = 'yes'; data = ft_preprocessing(cfg);)
I didn't find a similar way to apply a detrend on the raw data in MNE.
Does it exists?

Thanks a lot

Romain

[2019-06-05 17:37] #6418 closed

[2019-06-05 17:38] romquentin commented on #6418
Sorry, after checking, fieldtrip also only apply detrend on epochs.

[2019-06-05 22:58] #6203 closed

[2019-06-05 23:20] AmirDJV opened #6419 "Repeated measures anova for unbalanced design with permutations test"
I'm following the [Repeated measures ANOVA on source data with spatio-temporal clustering ](https://martinos.org/mne/stable/auto_tutorials/stats-source-space/plot_stats_cluster_spatio_temporal_repeated_measures_anova.html#sphx-glr-auto-tutorials-stats-source-space-plot-stats-cluster-spatio-temporal-repeated-measures-anova-py) tutorial with my own data.

The solution to calculate permutations test

[2019-06-06 01:24] talhaanwarch opened #6421 "Custom time axis for topomap"
I have create a mne data structure from csv file. I converted it to evoked data and plot it. Its time axis start from zero to 3 seconds, but i want it to from -1.5 sec to 1.5 seconds, actually i have a custom array of time axis. here is screen shot of image
https://imgur.com/7Qowt9I

The same way when i plot topomap  it consider the default time, but i want it to consider the cutom one

[2019-06-06 02:02] drammock commented on #6421
As requested in the [Getting Help section](https://mne-tools.github.io/dev/install/pre_install.html#getting-help) of the website, please use [the MNE mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or [gitter channel](https://gitter.im/mne-tools/mne-python) for MNE-Python *usage* questions. GitHub issues are for bug reports and feature requests. When you post to the m

[2019-06-06 02:02] #6421 closed

[2019-06-06 07:43] cbrnr opened #6424 "Why do we have matplotlib < 3.1 in requirements.txt?"
@massich can you try if 3.1 works? It would be nice to support the current matplotlib version.

[2019-06-06 09:05] cbrnr commented on #5619
FWIW, #6369 didn't solve this issue (maybe it wasn't supposed to, I didn't really follow this topic closely).

[2019-06-06 09:11] agramfort commented on #5619
sure. #6369  aims to simplify the future changes by putting everything in one place. No real API change has been done yet.

[2019-06-06 09:39] cbrnr commented on #5907
I found the code responsible for editing existing annotations: https://github.com/mne-tools/mne-python/blob/0679e350cc20a07f3d043fec0be9a2153aa99a2b/mne/viz/utils.py#L2039

The callback is assigned here: https://github.com/mne-tools/mne-python/blob/0679e350cc20a07f3d043fec0be9a2153aa99a2b/mne/viz/utils.py#L946

Now if I remove this callback assignment (or change the `_on_hover` function so that it

[2019-06-06 10:36] cbrnr opened #6425 "How do I disable the Esc key from closing raw.plot?"
In MNELAB, I would like my raw.plot window to not close if the user hits the Esc key. Previously, I used the following hack which worked for matplotlib < 3:

[code]

Of course this was bound to fail, and with matplotlib >= 3 `key_events` is now a `matplotlib.cbook._StrongRef` object, whereas previously it used to be a `matplotlib.cbook._BoundMethodProxy` object. Of course private methods can chang

[2019-06-06 11:30] larsoner commented on #6425
I wonder if we should just monkey patch to add an attribute to `fig` as `fig._mne_params = params`

[2019-06-06 11:36] larsoner commented on #6018
See also discussion that was continued in https://github.com/mne-tools/mne-python/pull/6326#issuecomment-499090558

[2019-06-06 12:03] larsoner commented on #6424
I don't know why, will open a PR to revert to see what happens soon unless @massich chimes in

[2019-06-06 12:52] cbrnr commented on #6425
Yes, why not? If this gives an interface where I can change/delete callbacks... But once a callback is set, would adding our params solve the issue? Isn't a matplotlib call necessary to change a callback? If so, which?

[2019-06-06 14:08] larsoner commented on #6425
It depends what you mean. If you mean removing or adding a callback function yes you have to use mpl. If you just want to make it so that the existing `mne` callback does nothing on `esc`, it should be enough to do `fig._mne_params['close_key'] = None`.

[2019-06-06 14:37] larsoner commented on #5907
I would do it the other way, keep the current behavior by default and disable it if shift is pressed. It's less disruptive in case people are currently using the snapping.

Something like this should do it

https://stackoverflow.com/questions/18141069/matplotlib-how-to-pick-up-shift-click-on-figure

[2019-06-06 17:56] teonbrooks commented on #6238
closing for https://github.com/mne-tools/mne-realtime/issues/7

[2019-06-06 20:14] #6424 closed

[2019-06-07 09:55] massich commented on #6410
check this one out http://www.scikit-yb.org/en/latest/contributing.html

[2019-06-07 10:02] massich commented on #5619
I guess I should make an issue with the notes of the plan we discussed with @larsoner  so that is easier to follow the status for everyone.

[2019-06-07 11:35] jona-sassenhagen commented on #6419
@dengemann

[2019-06-07 11:52] dengemann commented on #6419
No this is unfortunately not easy to do. The current implementation does not support mixed within-between models.

[2019-06-07 13:29] tomMoral opened #6431 "DOC improve description of dipole_fit procedure"
The [example](https://www.martinos.org/mne/stable/auto_tutorials/source-modeling/plot_dipole_fit.html#) showing how to use `dipole_fit` do not give any information on how the source localization is done.

I guess this is probably planned to land in issue #5944 but is it possible to get some resources (like the original ECD paper) to document the general idea. I might give a try if I find some time

[2019-06-07 18:03] drammock commented on #6431
@tomMoral I'm slowly working through the tutorials but I don't have a lot of experience with dipole fitting anyway so your input would be helpful.  If you open a PR I'll gladly review / help.

FYI #5944 is now sort of stale; the changes are being tackled one tutorial at a time instead of waiting until everything is finished and trying to merge them all in at once.

[2019-06-08 08:13] AmirDJV commented on #6419
Thank you :) Are you thinking about implementing it? and can you please explain why it is problematic?

[2019-06-08 08:55] #6410 closed

[2019-06-08 08:59] agramfort commented on #6431
I think the question is what is a good academic reference for the dipole fitting algorithm.

maybe @mshamalainen can help here?

[2019-06-09 16:06] agramfort commented on #6344
I looked at the issue and to me you should not have to combine_grads when you show line plots like `plot_compared_evokeds`. Looking in more details to the API logic the fact that the choice of picks overwrites the gfp parameter is nuts. Another weirdness is that `gfp=False` means average.... I don't know what's the best way forward but we should aim for:

[code]

returning the same thing. And have

[2019-06-09 16:46] jona-sassenhagen commented on #6344
Yes, I think it's a good idea to follow @drammock 's work on `plot_epochs_image` here.

I will not have the time to do this any time soon myself I fear.

[2019-06-09 16:57] agramfort commented on #6344
I did a minimal fix in https://github.com/mne-tools/mne-python/pull/6438

[2019-06-09 18:55] drammock commented on #6344
I realized late on friday that my work on `plot_epochs_image` will likely need to heavily touch `plot_compare_evokeds` too (in part because of how merging grads is handled), so I will keep @agramfort's comments here in mind while working on #6422.

[2019-06-10 06:31] agramfort commented on #6344
ok I am merging #6438. @drammock let's follow up on PR on plot_epochs_image

[2019-06-10 06:31] #6344 closed

[2019-06-11 06:43] bdyetton opened #6444 "Simpler resample to get around out of memory errors"
#### Describe the problem
I'm loading some very large 64 channel overnight sleep .eeg files with sizes of up to 5GB.
The sample rate is 500 for some of these files. Id like to resample to make them smaller and easier to process, however, resample crashes:

ValueError: Internal error occurred: b'Intel MKL DFTI ERROR: Not enough memory to allocate'

#### Describe your solution
It appears that resamp

[2019-06-11 06:46] matthewhang opened #6445 "Why does MNE use adaptive z-scoring in find_bads_eog?"
According to the documentation of find_bads_eog

Are there any experiments/papers demonstrating the benefits of this? or is it just a traditional practice? (which i believe it isnt as there are many papers still using visual inspection), or is it just a practical recommendation without detailed evidence?

Thank you very much. I am concerning if such computation would be too conservative.

[2019-06-11 07:02] dengemann commented on #6445
It’s original MNE cuisine :) something that turned out to work. We implemented it based on our own intuition and tested it on multiple datasets. We could add other options or change the default if we can convince ourselves of an alternative.

[2019-06-11 07:12] agramfort commented on #6444
see this old issue: https://github.com/mne-tools/mne-python/issues/2792
we don't have a raw.decimate but when you have Epochs you can pass a decim parameter.

what do you need to do with Raw object? filter it?

[2019-06-11 12:52] #6425 closed

[2019-06-11 14:58] larsoner commented on #4308
I think we have taken care of this in a recent PR, closing

[2019-06-11 14:58] #4308 closed

[2019-06-11 17:55] bdyetton commented on #6444
Hi @agramfort,
Yes, basically am using MNE to do a series of pre-processing steps to take our data from raw format to a sleep scoring format. This involves filtering, re-reference, dropping channels, ordering channels, etc, and then saving the RawArray as an EDF (courtesy of [skjerns](https://gist.github.com/skjerns/bc660ef59dca0dbd53f00ed38c42f6be)).

btw, big ups on that Reinmann Geometry tutori

[2019-06-12 06:26] agramfort commented on #6444
ok

so you can read the data with preload=True but you cannot have more than 1
copy of it in memory?
did you consider passing a filename to preload to use a memmap file?

[2019-06-12 21:09] kdoelling1919 opened #6454 "BUG: ecog re-reference applied to non-data channels"
I'm trying my hand applying mne to some ecog data and noticed a weird-ish bug using `.set_eeg_reference` which perhaps I had no business using to begin with. I set a custom reference using
[code]
I noticed after doing this that while the reference was successful, my trigger channel had some weird changes to it which suggests that the reference is being applied to non-data channels as well.

This s

[2019-06-12 21:39] bdyetton commented on #6444
Yea it was already a mem-mapped file.
I've moved to a different computer to get around this.
You're more than welcome to close this issue, however, +1 for RawArray.decimate in the future :), especially if this can happen preload

[2019-06-12 23:27] larsoner commented on #6454
I really think we should get rid of the `pick_channels(ch_names, []) == ch_names` behavior. We keep hitting bugs like this, and there easily could be other bugs hiding from us.

I can work on doing this in the code base if @agramfort agrees. I guess the thing to do for now would be to raise an error if the second argument is empty. Eventually we could consider returning an empty list but maybe we

[2019-06-12 23:28] larsoner commented on #6454
We should probably just make `set_eeg_reference` mean "set eeg/seeg/ecog reference" even though it's a bit of a misnomer. It's probably not a totally deliberate design choice to currently have only EEG and exclude sEEG/ECoG, but more an issue that we haven't had so many sEEG / ECoG users with some of these functiosn.

[2019-06-13 06:14] agramfort commented on #6454
that's definitely a bug in set_eeg_reference

it should not look for eeg channels when ref_channels are present

that's the minimal fix to do. I would go this route.

[2019-06-13 06:14] #6444 closed

[2019-06-13 06:19] #6406 closed

[2019-06-13 08:07] WilliamLabCea opened #6455 "DOC: Clearer error message for bad events (tuple)"
Hello,

I met a problem with mne.epoch() on v18. Please find the example code and the error bellow.
(I can share share the data on request)
Thank in advance.
William

[code]

[2019-06-13 08:09] agramfort commented on #6455
did it work with 0.18? can you share the .vrmk file?

[2019-06-13 08:15] WilliamLabCea commented on #6455
That worked with 0.17. I send you the link for the files.

Thank you.

William

[2019-06-13 10:13] DiGyt commented on #5488
@agramfort
After trying countless methods to read the `catch-alp-good-f Curry 7.dat` and `catch-alp-good-f Curry 8.cdt` files from the dropbox files, their data fields just seem completely unrelated to the respective `CTF/catch-alp-good-f.ds` file.
While reading both `catch-alp-good-f Curry` files into read_raw_curry produces the same data as EEGLAB's loadcurry() would, the channels from these fil

[2019-06-13 13:57] #5907 closed

[2019-06-13 15:35] agramfort commented on #5488
can it be the application of the gradient compensation?

[2019-06-13 16:46] matthewhang commented on #6445
thank you for the answer! I was just testing around the options!

[2019-06-13 16:46] #6445 closed

[2019-06-13 16:56] larsoner commented on #5488
Good idea, look at `raw.compensation_grade` and `raw.apply_gradient_compensation` for the RawCTF instance

[2019-06-13 17:22] DiGyt commented on #5488
But shouldn't they be still more or less linearly related then?
And should this also affect the eeg and misc channel?
If i throw all channels (i think ~150 meg, ~60 eeg and ~30 misc) into a correlation,
and correlate each channel from the ctf data with each channel from any of the read_curry/loadcurry created data fields, i only get one single correlation out of them that is r > 0.999 (which i thi

[2019-06-13 17:24] larsoner commented on #5488
No it should not affect MISC or EEG. *Maybe* EEG somehow ends up with an average ref automatically in some conversion. But the MISC really should not change, modulo some scale factor but the correlation should take care of that.

I think we need some Curry expert to weigh in on this. I don't know anything about Curry, is it a format that is still being used in current machines so we can ask some C

[2019-06-13 17:54] DiGyt commented on #5488
I think it should still be used, Curry 8 was released at the end of 2016.
I also don't think that this is a reading problem. I looked up the Curry 7 user guide, which gave some indications on the data parameters in the parameter file:
[code]
The `DataFormat = FLOAT`should be a 4 byte per sample float, `DataByteOrder = INTEL` should mean little-endianness and `DataSampOrder = SAMP` could be either

[2019-06-13 18:03] larsoner commented on #5488
Yes the smallest file possible that allows us to make sure things are working properly is better anyway.

[2019-06-15 13:08] agramfort commented on #6455
I just tried on current master and maint/0.18 branch and it works for me to
do:

In [*1*]: *import* *mne*

In [*2*]: raw = mne.io.read_raw_brainvision('Pilote1.vhdr')

what version of mne are you using? how did you install it?

[2019-06-15 20:05] jgeller112 opened #6458 "MNE.Picks Selection"
Hello,

I am trying to select only a few sensors for analysis and then apply AutoReject:

[code]
Instead of getting the selection of sensors I requested, I get all sensors back:

[code]
Any idea why this might be?

[2019-06-16 18:55] agramfort opened #6459 "ENH: migrate http://mne-tools.github.io to http://mne.tools"
@mne-tools/contributors I bought last week the domain name http://mne.tools

what do you think about migrating http://mne-tools.github.io to http://mne.tools ?
it just means adding a CNAME to github repo. Nothing should be changed regarding how we deploy website etc.

[2019-06-16 19:01] agramfort commented on #6458
can you provide a full code snippet? what is this info you show?
is it picks that contains all sensors? did you try:

picks = mne.pick_types(ica_epochs.info, meg=False, eeg=False,
stim=False, eog=False,
              selection=['A11', 'A3', 'A4', 'B14', 'B15', 'B4', 'B5',
'B6', 'B7'])

ie only have a selection?

[2019-06-16 19:41] larsoner commented on #6459
Sounds good

[2019-06-16 19:55] jgeller112 commented on #6458
I am using AR after performing ICA and removing bad components. I am trying to look at 9 front-central electrodes. Here is full function:

[code]
Sorry I was not clear in my previous post. The info provided is the result after this function is applied. Instead of the 9 electrodes I selected, I get all 64.

[2019-06-16 19:57] jgeller112 commented on #6458
Doing this
[code]
Returns this error: No channels match the selection.

[2019-06-16 21:45] teonbrooks commented on #6459
i like it too

[2019-06-17 04:42] drammock commented on #6459
Cool! The old URL will redirect?

On June 16, 2019 1:45:04 PM AKDT, Teon L Brooks <notifications@github.com> wrote:

[2019-06-17 07:27] WilliamLabCea commented on #6455
It's 0.18.1. I install it with pycharm updated.

[2019-06-17 07:48] agramfort commented on #6455
ok I just uploaded 0.18.2

please udpate and try again.

[2019-06-17 07:48] agramfort commented on #6459
yes It will redirect

[2019-06-17 07:50] agramfort commented on #6458
try:

picks = mne.pick_channels(ica_epochs.ch_names, include=['A11', 'A3', 'A4',
'B14', 'B15', 'B4', 'B5', 'B6', 'B7'])

On Sun, Jun 16, 2019 at 9:57 PM jgeller112 <notifications@github.com> wrote:

[2019-06-17 07:57] massich commented on #6459
awesome !

[2019-06-17 08:02] WilliamLabCea commented on #6455
I updated but I have the same trouble after computed mne.Epochs()

epochs = mne.Epochs(raw, events, event_id=[65, 66], tmin=-0.5, tmax=1.0, baseline=(-0.25, 0), picks=None,preload=False, reject=None, flat=None, proj=True, decim=1, reject_tmin=None, reject_tmax=None, detrend=None,on_missing='error', reject_by_annotation=True, metadata=None, verbose=None)
Traceback (most recent call last):
  File "<

[2019-06-17 08:44] massich commented on #6455
can you run `mne.sys_info()`?

[2019-06-17 09:07] massich opened #6461 "Digitization progress"
This issue is to keep track of the remaining Digitization PRs. It reflects a conversation with @larsoner.

TODO (each item will be a separate PR):

- [x] Add move all `montage` use to Raw and Epochs readers that have `montage` argument to call only the following at the end of their `__init__`, not used anywhere else (#6462):
[code]

- [ ] Deprecate `montage` argument in all readers that support `m

[2019-06-17 09:20] GuillaumeFavelier commented on #6461
Thanks for the overview @massich! I think there is also #6412 (add a `plot()` function to the `Digitization` class). I still have to integrate @agramfort reviews.

[2019-06-17 09:27] massich commented on #6461
@GuillaumeFavelier right!

[2019-06-17 10:20] WilliamLabCea commented on #6455
mne.sys_info()
Platform:      Linux-4.4.0-143-generic-x86_64-with-debian-stretch-sid
Python:        3.7.3 (default, Mar 27 2019, 22:11:17)  [GCC 7.3.0]
Executable:    /volatile/home/WVxx4/anaconda3/envs/mne/bin/python
CPU:           x86_64: 8 cores
Memory:        Unavailable (requires "psutil" package)
mne:           0.18.2
numpy:         1.16.3 {blas=openblas, lapack=openblas}
scipy:         1.2.

[2019-06-17 11:00] agramfort commented on #6455
this is really weird. Can someone replicate the issue around you?

[2019-06-17 12:29] massich opened #6463 "MEGSIM is unrealiable"
http://cobre.mrn.org/megsim/ keeps breaking our CricleCI. We mock it for the testing in #6453 but our CircleCI in master is completely random due to the fetching.

Could we mirror it?

[2019-06-17 16:54] jgeller112 commented on #6458
Nope.

[code]
This looks right.
[code]

This looks right.

[code]
This does not.

Is there an easier way to select electrodes for analysis?  I guess I can manually exclude the channels if nothing comes to mind.

[2019-06-17 19:25] agramfort commented on #6458
I am confused. What is the Info you show at the end? where is it coming
from?
what you provide picks to AutoReject you limit cleanup to these channels
and the
rest are left untouched I think.

[2019-06-17 20:11] jgeller112 commented on #6458
The info is after the AutoReject.

Hmm. Is there an easy way to limit the electrodes used for epoched or evoked objects? I want to perform a cluster test on only those 9 electrodes.

[2019-06-17 21:04] jhouck commented on #6463
Briefly, the issue is that MRN thought no one was using it, and it was hosted externally, so they took it down to save on the hosting costs.  Ideally they'll resurrect it at the same address, since the published manuscript also points to that URL.  That said, if you have an easy way to mirror it, that might still be a good idea.

I'm affiliated with MRN, not just randomly butting in. :)

[2019-06-17 23:21] drammock commented on #6458
you could reduce the epochs in advance like this
[code]
and then use `epochs_picked` thereafter

[2019-06-17 23:45] jgeller112 commented on #6458
Oh! Thank you!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Daniel McCloy <notifications@github.com>
Sent: Monday, June 17, 2019 6:21:50 PM
To: mne-tools/mne-python
Cc: Geller, Jason; Author
Subject: [External] Re: [mne-tools/mne-python] MNE.Picks Selection (#6458)

you could reduce the epochs in advance like this

epochs_picked = epochs.copy().pick_channels([

[2019-06-18 02:15] biancaisla1 opened #6467 "BUG: Import raw CNT file channels in integer format; not strings"
Having trouble importing raw .CNT file. Previous steps include importing os, importing MNE, importing numpy as np, importing mayavi, setting log level, importing cnt, defining the file path, and defining the raw_fname.  When trying to use read function I get the following:
[code]

[2019-06-18 08:06] agramfort commented on #6467
can you share the problematic file privately?

[2019-06-18 08:10] #6458 closed

[2019-06-18 08:11] agramfort commented on #6463
we could put it on osf.io

[2019-06-18 09:07] biancaisla1 commented on #6467
Good Evening Alexandre-Gramfort,

I  am a research assistant in Dr. Stephen Benning’s lab at UNLV.  I am doing the groundwork to transition our lab to MNE-Python, but I believe Dr. Benning would make the decision about sharing the CNT file. Of course this decision would be based on whether the lab wants to publish the data from the file at any point in the future.  I have cc’d my boss here, and ho

[2019-06-18 11:39] massich commented on #6467
The following replicates the same error:

[code]

I've looked at your trace it should be good to know whats the value of `ch_names` To do so you should just re-run the same and after the failure you run `debug` the prompt will change to something that would look like `ipdb>` then you need to go one function upwards (by typing `u`) then you can print the value `print(ch_names)`. I'll try to mock up

[2019-06-18 16:54] biancaisla1 commented on #6467
I'd be glad to share the files we've been trying to import. Having the real
files will be invaluable for this kind of debugging. I've got three sample
files, all of which have been successfully imported using a custom Matlab
toolbox and which are readable in Scan from the vendor's software.

How would you like us to send them to you?

On Tue, Jun 18, 2019 at 2:07 AM Bianca Islas, BS <biancaisla1@g

[2019-06-18 16:59] larsoner commented on #6467
Usually a dropbox/google drive link works well (or really any link that lives for ~1 mo), that way multiple devs can have a look

[2019-06-18 18:09] larsoner commented on #6461
@massich updated top description with my suggested order / description based on extrapolating what I discussed with @agramfort

[2019-06-18 18:10] larsoner commented on #6455
You can debug locally, too. When you get this error, you can do:
[code]
What `events` looks like (the `...` above) will be informative.

[2019-06-18 18:47] agramfort commented on #6455
I think we fixed the pb IRL this morning. It's because @WilliamLabCea passed the output of events_from_annotations to events while it returns events and event_id as tuple

[2019-06-18 19:06] larsoner commented on #6455
Can we improve the error message somehow? Probably by something like:
[code]

[2019-06-18 20:23] agramfort commented on #6455
ok

PR welcome

[2019-06-18 21:57] TomDLT opened #6468 "Epochs.resample does not update info['lowpass']"
Resampling also performs a low-pass filtering step at `sfreq / 2.0` to avoid aliasing.
The entry `info['lowpass']` [is updated](https://github.com/mne-tools/mne-python/blob/d36440176cf3f3532f64e6f046c4a6a3eca028de/mne/io/base.py#L1407) in `Raw.resample` but [is not updated](https://github.com/mne-tools/mne-python/blob/d36440176cf3f3532f64e6f046c4a6a3eca028de/mne/filter.py#L1952) in `Epochs.resampl

[2019-06-18 22:15] jasmainak commented on #6458
yes autoreject only limits analysis to the "picks" channels. It does not subselect the epochs object

[2019-06-19 08:07] cbrnr commented on #6467
@massich I think the question is why `ecg` is a string and not a tuple here. `idx` will always be an integer, so we do `idx in ecg`, which works if `ecg` is a tuple (or a list), but it fails if it is a string.

[2019-06-19 13:20] larsoner commented on #6463
If this is the case, maybe they are right. Perhaps we should just remove the dataset, especially given the progress we have made on making the simulation module more usable.

[2019-06-19 13:21] agramfort commented on #6463
no strong feeling here. It's true that little people have actually used
these data in the last years

[2019-06-19 13:22] larsoner commented on #6463
I'll make a PR to remove it. We are early in the release cycle so if it gets reuploaded somewhere we can easily revert the commit

[2019-06-19 14:27] massich commented on #6461
just to make sure that we are all on the same page. This should pass without warning error nothing:

[code]

[2019-06-19 14:31] agramfort commented on #6461
yes exactly

[2019-06-19 14:40] larsoner commented on #6461
Yes in this PR. Eventually in this release cycle we will deprecade the `read_raw_*(fname, montage=my_montage)`, but not in this PR. (It should be almost trivial after this PR.)

[2019-06-19 14:41] larsoner commented on #6461
Sorry, I meant to say that yes, that should be the behavior in #6462.

In the PR after that, `read_raw_*(fname, montage=my_montage)` should be deprecated and the user told to do `raw.set_montage(my_montage)`.

[2019-06-19 16:10] #6463 closed

[2019-06-19 16:33] biancaisla1 commented on #6467
MNE team,

We have created a Google drive to share the CNT files.  Is mne-python@noreply.github.com a good email address to send the permissions?

Bianca Islas

From: Clemens Brunner
Sent: Wednesday, June 19, 2019 1:07 AM
To: mne-tools/mne-python
Cc: biancaisla1; Manual
Subject: Re: [mne-tools/mne-python] BUG: Import raw CNT file channels ininteger format; not strings (#6467)

@massich I think the

[2019-06-19 16:51] larsoner commented on #6467
Can you just make a publicly shared link? It's easier than sending email addresses

[2019-06-19 17:11] biancaisla1 commented on #6467
https://drive.google.com/file/d/14jJK1tvfg2J4VPxZf_QBeVlVQnbV9eop/view?usp=sharing
https://drive.google.com/file/d/1VZP-V4TM0hsX3dW8WFy0XBKFZ_tOXrOD/view?usp=sharing
https://drive.google.com/file/d/1oHfDv3Ik1V_lihuXeDqrjSkFFmCyo_eW/view?usp=sharing

We are sharing three EEG CNT files, so there is 3 links above. Please let me know if they work, and if there is anyway I may further assist the team.

[2019-06-19 18:46] DiGyt commented on #5488
@agramfort @larsoner

So, after the `CTF/catch-alp-good-f.ds` CTF file resulted in different data fields for Curry and for MNE,
I tried to check it by reading the same CTF into FieldTrip.

While FieldTrip read the other MNE CTF testing files without problems, `catch-alp-good-f.ds` lead to the following errors:
[code]

@larsoner could it be that this file was somehow intended to test some special c

[2019-06-19 20:29] larsoner commented on #5488
Files were added here:

https://github.com/mne-tools/mne-testing-data/commit/720e4b52f9fdee5f351cdb7b5b93af0770e69981#diff-33e2bcaa5268561c3ba06eedd2789561

Following a trail of `blame` here

https://github.com/mne-tools/mne-python/blame/master/mne/io/ctf/tests/test_ctf.py#L25-L30

I could find the PR where they were added:

https://github.com/mne-tools/mne-python/pull/2628

So I added these files

[2019-06-20 09:58] DiGyt commented on #5488
But there is no `.eeg` file in the `catch-alp-good-f.ds` folder. I'm not a CTF expert,  but could the problem be that there is no such file in the folder?

By the way, Brainstorm reads the data in the same way as MNE does.

Actually, if you look at the file on the left created from mne_read_curry (which is the same is Curry or CTF read in CUrry) to the file on the right, created from read_raw_ctf,

[2019-06-20 11:54] larsoner commented on #5488
It's possible. I'd try to find a dataset where FT and MNE give the same result and work from there instead of continuing to struggle with this dataset.

[2019-06-20 12:27] agramfort commented on #6467
this works:

[code]

you need to be careful that `('HR')` is equivalent to `'HR'` while you should put `('HR',)` or `['HR']` to provide a tuple or a list of channel names.

I had also to remove the montage parameter.

close if it's ok for you

[2019-06-20 16:49] biancaisla1 commented on #6467
Alexandre,

I am using Windows 10 and a Jupyter notebook (fyi) I tried to run this this morning but it is giving me a type error:

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-10-efbf9192d8ab> in <module>
      2                           misc=('SCR', 'SCL'), ecg=('HR',),

[2019-06-20 17:02] massich commented on #6467
you should call it with `montage=None` at least for now. That should work.

[2019-06-20 17:05] massich commented on #6467
Meanwhile, can I see which was the exact call you typed? because `montage` should not be a positional argument. It's an extra parameter that defaults to `None`.

[2019-06-20 18:00] biancaisla1 commented on #6467
raw_file = mne.io.read_raw_cnt(input_fname, montage, eog=(‘VEO’, ‘HEO’), misc=(‘SCR’, ‘SCL’), ecg=(‘HR’), emg=(‘PA-L-SCALP’,’PA-L-EAR’, ‘PA-R-SCALP’,’PA-R-EAR’, ‘ORB-NOSE’,’ORB-EAR’, ‘COR-NOSE’,’COR-EAR’, ‘ZYG-MOUTH’,’ZYG-EAR’), data_format='auto', date_format='mm/dd/yy', preload=True, verbose=True)

The above was the original input, now that I’m looking at it I can see what you’re saying. It was