[2017-08-24 00:40] larsoner commented on #4514
Yes feel free to make a PR w/test (true TDD!)

[2017-08-24 08:30] sidneycollin commented on #4513
ok, thank you!

[2017-08-24 08:30] #4513 closed

[2017-08-24 17:54] SherazKhan commented on #4508
@agramfort @larsoner any clues, on this discrepancy between estimated areas ?

[2017-08-24 17:56] agramfort commented on #4508
no idea

how significant is the difference?

[2017-08-24 19:25] SherazKhan commented on #4508
Always underestimated by roughly 10-15%, however it depend upon on the surface label is defined, I am currently testing it on white surface.

[2017-08-24 19:44] larsoner commented on #4508
There is probably a better algorithm based on the curvature. From some light googling I found this:

https://www.researchgate.net/post/How_can_you_measure_the_surface_area_of_a_mesh_either_directly_or_indirectly_with_computer_graphics

Specifically:

You could also post to the Freesurfer list to get an algorithm description.

[2017-08-24 21:51] SherazKhan commented on #4508
I post it on the freesurfer mailing list, but summing area of triangles, suppose to be more accurate, as triangles wrt curvature are pretty small on high resolution freesurfer surface.

[2017-08-25 00:52] larsoner commented on #4508
We know that the triangles are interior to the true smooth, convex surface, so we should be able to leverage our curvature estimates to improve the estimate, even if the algorithm I posted does a poor job.

In any case, we can quantify the error easily enough for a sphere. Let's start with a number of points `(163842,)` that is probably close to the surface:
[code]
We get `99.9981`, so we're only

[2017-08-25 09:50] Diptyajitd7 commented on #4474
@larsoner Hii there! So far you have been a great help for me to understand the Spatio-temporal clustering method better. I would really appreciate if you can manage some time and able to clarify my a doubt of mine.

**Doubt: < _Source space Data_ >**
Situation: I am currently analysing MEG data recorded from 3 different groups of subjects. Each group of subject has 4 experimental conditions. (2 c

[2017-08-25 14:59] larsoner commented on #4474
This question is not really related to code problems (what the GitHub tracker is for) and I'm not sure I'll have time to look and answer -- could you please post to the MNE listserv instead? That way the community can weigh in

[2017-08-25 14:59] #4474 closed

[2017-08-25 19:41] agramfort commented on #4489
@sbang002 here is a snippet we wrote with @Slasnista. I guess it can help before we integrate this properly inside MNE

[code]

[2017-08-27 22:36] choldgraf opened #4517 "What are some blockers for 3D javascript surfaces?"
I know this isn't an MNE problem, but I've been keeping an eye on the javascript threejs bridges out there (in particular pythreejs and ipyvolume) and I think they're close to having what we'd need for surface plots.

Can we put together a list of features we'd need that are blocking on whether we'd incorporate something like this into MNE (or I suppose pysurfer if that'd make more sense)

Right n

[2017-08-27 22:37] choldgraf commented on #4517
copy @agramfort @larsoner @kingjr in case you've got opinions :-)

[2017-08-28 03:08] smgutstein opened #4518 "Can't run unittests, since '-a' is not recognized as a n option by my version of pytest"
When I try to run unittests, I get the following error:

[code]
The version of py.test (which is seemingly the same as pytest !?) I have installed is:

[code]

When I run it with --help, I get this:

[code]
Since this doesn't seem to allow for the -a option from the Makefile command, I'm wondering was the '-a' a typo, or do I need to install some other version of py.test/pytest?

[2017-08-28 04:18] larsoner commented on #4518
Yes you should update to the latest. It's pure Python so hopefully not too difficult to update

[2017-08-28 15:50] agramfort commented on #4518
@massich this issue has now raised twice (before privately by @britta-wstnr)

any idea how to prevent this from happening again?shall we recommend / document something else?

[2017-08-28 15:53] britta-wstnr commented on #4518
For me, installing the package ``pytest-attrib`` did the trick.

[2017-08-28 15:53] agramfort commented on #4517
99% of usecase is stc.plot with time interactlion

I think next is showing labels (plain not even contour plots)

if we can do this with a pysurfer like API then it can be a dropin
replacement of mayavi at least in the notebook for now

[2017-08-28 15:54] agramfort commented on #4518
yes but it took you some time to find out :)

[2017-08-28 15:54] britta-wstnr commented on #4518
Indeed :)

[2017-08-28 15:57] massich commented on #4518
Yes to use nose attributes the pytest-attributes is needed.

_Sent from my OnePlus ONEPLUS A5000 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-28 16:01] massich commented on #4518
Using the pytest-attrib plugging helps to the transition between nose and pytest. But at some point when should get rid not only from nose dependency but also the way the tests were written (in this case labeled)

_Sent from my OnePlus ONEPLUS A5000 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-28 19:56] choldgraf commented on #4517
where's a dataset I can test this with? e.g., how would I access the labels? I think this is possible.

[2017-08-28 20:03] larsoner commented on #4517
I suspect it's possible too, someone needs to find the time to implement. @agramfort and I did a little bit of work on this.

You can use `sample` data. Here is one I made a long time ago to try to use VisPy, it gets you data in the format you need (triangulated mesh + per-vertex values):

https://gist.github.com/larsoner/25fa656c6d6e0b02b56c40a571bfb77c

I wouldn't worry about labels for the firs

[2017-08-28 20:14] choldgraf commented on #4517
@larsoner I have some demo code set up here:

http://beta.mybinder.org/v2/gh/choldgraf/mne3d/master

that's got the surface data + curvature...is there labels in the same folder in MNE?

re: two-way interaction w/o IPython, that will be tricky for sure. This is all using `ipywidgets` under the hood. Maarten and I were playing around with getting this to work using `chrome-headless` so you could ru

[2017-08-28 20:15] choldgraf commented on #4517
(link to the repo for the binder link above: https://github.com/choldgraf/mne3d)

[2017-08-28 21:58] agramfort commented on #4518
also the way the tests were written (in this case labeled)

+10

[2017-08-29 02:32] smgutstein commented on #4518
Thanks. Installing pytest-attrib was the missing plugin for me too.

On Mon, Aug 28, 2017 at 5:58 PM, Alexandre Gramfort <
notifications@github.com> wrote:

[2017-08-29 15:13] agramfort commented on #4518
this really needs to be documented

[2017-08-29 15:23] larsoner commented on #4518
Can we just switch to standard pytest fixtures instead? We need to do that eventually anyway

[2017-08-29 16:07] agramfort commented on #4518
+10

[2017-08-29 18:32] sbang002 commented on #4489
I think this will work out for me. Thank you for your help

[2017-08-29 19:36] sbang002 commented on #4489
The above method worked great for KEMPS but there is another data set called MASS which I thought had the same problem as KEMPS but apparently it doesn't work for MASS.
The following data set contains data for MASS.
[MASS.zip](https://github.com/mne-tools/mne-python/files/1261511/MASS.zip)

[2017-08-29 20:08] agramfort commented on #4489
@sbang002 here is an example for MASS written by @Slasnista

this code was written for this work:

https://arxiv.org/abs/1707.03321

please have a look and acknowledge it in your paper (as well as the [MNE papers](http://martinos.org/mne/stable/faq.html#cite)).

We'll be also happy to have a look at your work.

[code]

[2017-08-29 20:40] Slasnista commented on #4489
@sbang002, indeed MASS is encoded in edf++ which is slightly different from traditional edf/edf+ encoding. For more details, you can have a look at http://51.15.173.162/en/contribute/edf/

Please note that there might be annotations different from sleep stages in the returned `good_annot`, especially for MASS dataset. When using the code above, you might want to get rid of them in order to work on

[2017-08-30 08:49] jona-sassenhagen commented on #4507
Can this be closed?

[2017-08-30 08:52] dengemann commented on #4507
Btw. Dominque, for purely usage related questions / support please use the
mailing list. Github is for development and maintenance of functionality.
On Wed, 30 Aug 2017 at 10:49, jona-sassenhagen <notifications@github.com>
wrote:

[2017-08-30 08:54] DominiqueMakowski commented on #4507
@dengemann Noted!
@jona-sassenhagen yep

[2017-08-30 08:54] #4507 closed

[2017-08-30 09:07] jona-sassenhagen commented on #4481
ping @teonbrooks

[2017-08-30 09:08] jona-sassenhagen commented on #4480
Denis is married now, he's done writing code :D

[2017-08-30 12:00] dengemann commented on #4480
Epic provocations to get me coding here! You guys are married too :) My MNE
coding priority is in auroreject these days and some maintenance issues.
But happy to supervise / help with things.
On Wed, 30 Aug 2017 at 11:08, jona-sassenhagen <notifications@github.com>
wrote:

[2017-08-30 15:48] cmmoenne opened #4522 "Empty comment in empty Evoked"
Some of my epochs files have zero trials in some conditions. In that specific case, empty Evoked objects have the comment field empty (''). The EpochsFiF object for the condition (epochs[label]) has the _name field also empty ('').

Thus:

`epochs.event_id.keys()` has _condition_, epochs[_condition_]._name is empty when n_events = 0, and `epochs[_condition_].average().comment` is also empty when n

[2017-08-30 19:20] mmagnuski commented on #4480
I will need CSD in a month or so - I could try this in a few weeks, but I would need help.

[2017-08-30 19:31] mmagnuski commented on #4480
(BTW I am not married so I can still code ;) )

[2017-08-30 19:32] agramfort commented on #4522
please provide a gist on sample data so we can replicate

thanks

[2017-08-30 19:56] agramfort commented on #4480
imagine the day you have kids :)

[2017-08-30 21:07] cmmoenne commented on #4522
sure! (and sorry for forgot to add a test file from the begining)

https://gist.github.com/cmmoenne/3b02ce03f9d55c649be2ce176d0d6ca1

[2017-08-30 23:19] mmagnuski commented on #4503
You are right, would you like to prepare a Pull Requst to correct this?

[2017-08-31 11:45] agramfort commented on #4503
closed by c1746072d

[2017-08-31 11:45] #4503 closed

[2017-08-31 16:14] agramfort commented on #4522
it's because _name is a property dynamically generated from event_id :

https://github.com/mne-tools/mne-python/blob/master/mne/epochs.py#L823

so if no event is present it's empty. How should we change the logic?

[2017-08-31 17:30] cmmoenne commented on #4522
One posibility is check in `__getitem__` that `epochs.event_id` has at least the requested item before returning the new epoch (https://github.com/mne-tools/mne-python/blob/master/mne/epochs.py#L1387).

As the item is in the `event_id` of the indexed epoch object, if `len(epochs.event_id) == 0` at the end of `__getitem__` we could add the requested item from the original. Thus, _name will use the

[2017-09-02 01:10] larsoner commented on #4518
Fix is in #4523

[2017-09-04 09:03] agramfort commented on #4522
can you give a try to a PR to see if this works?

[2017-09-04 13:02] nbara commented on #3884
Hi Eric, would here be the place to suggest another addition to `ReceptiveField`?

I've recently been using it a bit lately, especially for backward models (ie stimulus reconstruction), and there's something that (I think) is missing that would be useful. You may have seen this paper by [Haufe et al. (2014)](http://www.sciencedirect.com/science/article/pii/S1053811913010914), where they show how t

[2017-09-04 13:09] agramfort commented on #3884
it's just a matter of multiplying the coef_ by covariance of the design.

patterns = np.dot(X.T.dot(X), coef_)

maybe you can give it a try? @larsoner and me will offer feedback for sure.

[2017-09-04 13:17] nbara commented on #3884
I agree it doesn't seem that hard not that hard to implement. The only issue that I foresee might be to deal with the intercept before `np.multi_dot([np.dot(X.T, X), coef_, np.inv(np.dot(y.T, y))])` (not sure)? But I wasn't sure that was something you'd find interesting/useful at all.

[2017-09-04 13:18] kingjr commented on #3884
you may also need to inverse Y:i.e. Sx W Sy^-1:

np.cov(X.T).dot(coef_.T.dot(np.linalg.pinv(np.cov((Y-Y.mean(0)).T)))).T

On 4 September 2017 at 09:09, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-09-04 13:19] agramfort commented on #3884
thanks for giving it a try

[2017-09-04 13:20] kingjr commented on #3884
+1 for having that feature computed upon request.

[2017-09-04 16:55] choldgraf commented on #3884
@nbara would you like to give it a shot? Feel free to ping me for a review if you like.

Quick questions:

1. At the call to `.fit`, should we store the covariance matrices of `X` any `y`. (or maybe just store X and y and compute covar later?)

2. Should this be a lazy attribute? E.g., have an `inverse_coefs_` attribute that does the matrix computation necessary and errors if the model hasn't been

[2017-09-04 17:14] larsoner commented on #3884
We should store the `X` covariance, it is the time-consuming computation IIRC

We should just compute it when doing `fit(...)`. It will be a very small cost relative to the fitting operation I think.

[2017-09-04 17:23] choldgraf commented on #3884
Yeah I think so too. Can we think of edge cases where we'd regret this? E.g. gigantic X matrices? Could be a silent memory issue if the object is suddenly storing an `N x N` matrix if N is really large...

[2017-09-04 17:29] kingjr commented on #3884
I would recommend to add the feature, and make it optional once we identify
a clear usecase where memory is a problem.

On 4 September 2017 at 13:23, Chris Holdgraf <notifications@github.com>
wrote:

[2017-09-04 17:32] DominiqueMakowski opened #4530 "Support for single-trial ERP denoising?"
Hey, I just had a small question regarding single-trial denoising/erp extraction:

Are there any plans to implement algorithms of this sort (such as [Ahmadi's](http://www.sciencedirect.com/science/article/pii/S1053811912010658?via%3Dihub#ec0005), [Yu's](https://www.hindawi.com/journals/bmri/2017/7395385/abs/), [Huang's](http://www.sciencedirect.com/science/article/pii/S0925231214009801) or [Mowla'

[2017-09-04 17:45] larsoner commented on #3884
The covariance (what we'd need to store) is just `(n_feat, n_feat)` and `X` is `(n_samp, n_feat)` with `n_samp >> n_feat` -- so if you're able to compute the fit at all you probably won't be hurt too much by storing the cov. It's still possible (especially if we start to be smart about mem usage with the computations) to hit memory but I agree with @kingjr we can deal with that when we hit it (and

[2017-09-04 17:48] choldgraf commented on #3884
that's fine w/ me - just bringing it up as worth thinking about. My concern is more that users won't necessarily think that this will happen intuitively, so it's silently storing an N x N matrix in each model object...what if somebody doesn't know about this and is doing cross-validation with 100s of models, storing the object each time? I think it'd be fine to solve this with a good mention in th

[2017-09-04 17:51] nbara commented on #3884
Actually no, ...

... from what I can tell, if one chooses `TimeDelayingRidge`, then X is not reshaped into `(n_times, n_epochs, n_feats, n_delays)` in `fit`. However, the data needs to be in that shape before it's multiplied with the covariances.

I've just given a jab at this.  Here's a gist with a function that does the job (not fully tested yet but seems to give sensible weights).
https://gist

[2017-09-04 18:02] larsoner commented on #3884
It probably does not need to be reshaped. See how `predict` etc. are done -- the equivalence between convolution and matrix multplication are used instead.

The best thing to do is probably to open a WIP PR, rather than a gist. Let's get something that works properly with unit tests, then worry about addressing the bottlenecks.

[2017-09-04 18:03] cmmoenne commented on #4522
While coding the PR I got confused with the expected behavior of `__getitem__`. In one hand, if we replace:
[code]
with:
[code]
we always maintain the requested items, independent of the number of elements in epochs[item]. Note that the user will be able to select an empty epoch from an empty Epoch and so on (not sure if that is desirable).

However, if the idea is maintain only the labels of the

[2017-09-04 19:11] agramfort commented on #4530
x-dawn is a linear spatial transform. I think some of these methods use
temporal filtering.

I don't know anyone working on this in the MNE ecosystem.

[2017-09-04 19:31] smgutstein opened #4532 "Does current MNE-Python pass all unit tests?"
I can't get my version of MNE python to pass unittests. I'm using (I believe) the current version:

[code]

However, I get the following result:

[code]
The test that fails is:

    mne/simulation/tests/test_raw.py .F.

It fails at:
[code]
I don't truly understand what is being tested here, but when I print out some extra info, I find that

    tol = 1
    med_diff = 1.1321....
    (also, min_diff

[2017-09-04 21:05] larsoner commented on #4532
It passes over here, and the CIs have been happy. What is your `mne.sys_info`?

[2017-09-04 21:56] idfah commented on #4481
Glad to see there is interest in potential collaboration between the MNE and CEBL projects!  I definitely see some overlap and also think that each project has some functionality that is not found in the other.  MNE appears to me to be more mature in many ways, but I think CEBL has some machine learning and signal processing functionality that isn't currently found anywhere else.  The CEBL gui als

[2017-09-04 22:31] larsoner commented on #4481
isn't currently found anywhere else.

Which processing / ML bits in particular are we missing at the moment?

Sure, we'll probably periodically bother you about it as a reminder, though
:)

[2017-09-04 23:00] idfah commented on #4481
At a glance, it appears that MNE has lots of the same things I have implemented in CEBL, including PSDs, CWTs, AR models, FIR and IIR filters, interpolation and resampling.  MNE generally has a lot more options and much better documentation, but CEBL generally follows an object oriented design that may be easier to use.

Maximum Signal Fraction (MSF) and Principal Components Analysis (PCA) come to

[2017-09-05 00:43] smgutstein commented on #4532
Platform:      Linux-4.4.0-93-generic-x86_64-with-Ubuntu-16.04-xenial
Python:        2.7.12 (default, Nov 19 2016, 06:48:10)  [GCC 5.4.0 20160609]
Executable:    /usr/bin/python
CPU:           x86_64: 12 cores
Memory:        62.8 GB

mne:           0.15.dev0
numpy:         1.12.0 {lapack=openblas, blas=openblas}
scipy:         0.17.1
matplotlib:    2.0.0b3+1814.g3cb79ed

sklearn:       0.18
nibabe

[2017-09-05 01:32] larsoner commented on #4481
The biggest place I think this could be useful is in filtering, where you might want to operate on segments at separate times (e.g., as epochs come in) as if they were continuous, and thus you need to retain and reuse state information, which could be useful for BCIs. We could do this in MNE if it makes sense to unify at some point.

BTW when I briefly looked at the code in your repo I noticed tha

[2017-09-05 06:01] agramfort commented on #4532
Indeed I can replicate... with this sys_info

[code]

but not this one for which it works:

[code]

[2017-09-05 06:25] agramfort commented on #4481
I am curious about the recurrent nets and optimization algorithms.

can you tell us more?

[2017-09-05 10:06] d-van-de-velden opened #4533 "BUG in _make_volume_source_space()"
Dear mne-python,

I am setting up volume source spaces for my study to perform MFT later on. Furthermore I am aiming for a statistical group study using Spatio temporal Clustering Test.
On my way of doing this I encountered two problems, which can be - in my opinion - be solved by gathering the correct information of neighbors for each vertice.
Inside the routine for setting up a volume source spa

[2017-09-05 11:18] bgagl opened #4534 "Capitalization in axis labels"
Hey guys
amazing stuff your are doing ...
just wondered if it would be possible to switch the default for axis labeles to first letter capitalized (e.g. from time [ms] to Time [ms])?

Would be great as it is a requirement for several journals ... (Nature: Lettering in figures (labelling of axes and so on) should be in lower-case type, with the first letter capitalized and no full stop.)

Cheers
Be

[2017-09-05 12:11] larsoner commented on #4532
So mkl 3.6 passes and lapack 3.5 fails. I'll try to replicate.

[2017-09-05 12:42] agramfort commented on #4532
ok it's a numpy version issue

[2017-09-05 16:46] kingjr commented on #4481
You mean build and Hankel matrix? We can add this transformer if there is a clear use case.

[2017-09-05 17:04] jona-sassenhagen commented on #4481
I'd like that ... there should be a basis [here](https://github.com/mne-tools/mne-python/blob/master/mne/stats/regression.py#L319)

[2017-09-05 17:05] kingjr commented on #4517
We could still move on to support jupyter support for now, until we find a way to run threejs from any python platform?

[2017-09-05 17:21] choldgraf commented on #4517
My 2 cents, there's enough value-added for something like ipyvolume that we could build some simple viz on top of it :-)

[2017-09-05 19:25] dengemann commented on #4534
Hey Benjamin (it's you I hope), thanks!
I think the better thing to watch our for is how to edit matplotlib figures.
The idea would be that you get the axis text objects for the titles and
just replace them.
See here:
https://stackoverflow.com/questions/11244514/modify-tick-label-text
Keep in mind that our plotters are in the end providing convenient short
cuts for matplotlib but do not and cannot

[2017-09-05 19:36] sbang002 commented on #4489
Is it possible for met to attain the orig_time  attribute from the EDF+ and EDF++?
I thought I would be able to pull it out since mne.Annotations has this attribute but I was unsuccessful in doing so.  I think something must be added into the parsing code to get this attribute but I don't know how I would attain it.

[2017-09-05 20:27] Slasnista commented on #4489
Hi @sbang002, you shall get this information through the `raw` object constructed by `mne.io.read_raw_edf()`. More precisely `raw.info["meas_date"]` should give you the start date / time of the record that you can convert then into YY/MM/DD - hh/mm/ss - ...

[2017-09-05 20:40] larsoner commented on #4481
the encoding/STRF code also has a function to delay time samples

[2017-09-05 20:53] larsoner commented on #4532
Yeah could be 1.13 vs 1.12, I'll look this week

[2017-09-06 00:27] jona-sassenhagen commented on #4159
Done in #4289

[2017-09-06 00:27] #4159 closed

[2017-09-06 08:18] bgagl commented on #4534
Hi Denis,
yes its me ;)
ok I see. Unfortunately, I like e.g. the plot_joint function very much and as far as I can see you would recommend to take the code and customize the figure directly with the code itself.
Cheers

[2017-09-06 08:27] dengemann commented on #4534
But you can do that! All plotting functions return matplotlib figure
handles. You can edit any detail of a figure post-hoc using matplotlib.
On Wed, 6 Sep 2017 at 10:18, bgagl <notifications@github.com> wrote:

[2017-09-06 10:34] jona-sassenhagen commented on #4232
Closed by #4227 and #4535

[2017-09-06 10:34] #4232 closed

[2017-09-06 11:21] jona-sassenhagen commented on #4534
Maybe we should do a tutorial for styling default figure outputs.
(I'm comfortable with matplotlib, but arguably it's pretty arcane to use. MNE is a lot more beginner friendly than matplotlib!)

On the other hand, if journals require capitalisation, why should we return all-lower case in the first place? We're implicitly making a choice either way, so why the one to return lower case?

[2017-09-06 11:41] dengemann commented on #4534
We can do both :)

[2017-09-06 11:42] jona-sassenhagen commented on #4534
Who is "we" :D

But yes, you're right.

[2017-09-06 13:44] agramfort commented on #4534
return all-lower case in the first place? We're implicitly making a choice
either way, so why the one to return lower case?

same feeling. Can you build case for capitalisation ? then we could change
all our defaults.

[2017-09-06 13:46] larsoner commented on #4533
It would probably be simple enough to add a function to (re)compute the neighbors for a volume grid source space, as it would be backward- and forward-compatible (and probably also very fast since we should be able to vectorize it). It probably won't make it into the next (imminent) release, but hopefully the one after that.

[2017-09-06 14:01] agramfort commented on #4533
please share any snippet of code. it's hard for me to understand your
problem without code I can read and run to see the problem.

do you have an MFT implementation compatible with mne-python?

[2017-09-06 16:40] timmidee opened #4538 "colormap of individual maps in evoked.plot_joint()"
This one will probably end up with @jona-sassenhagen .

Is appears that when all data are positive at a time-point passed for the argument "times", the colormap of the individual topography at that time-point is set to "reds". Which I believe is standard behavior for the function that plots the topomap. It doesn't adhere to the colorbar though. It is particularly striking pre t=0 in the attached i

[2017-09-06 16:42] larsoner commented on #4538
Yeah the `plot_joint` should look at all data points, the topomap ones individually, to determine the colormap to use for all of the topomaps

[2017-09-06 18:09] jona-sassenhagen commented on #4538
@jaeilepp do you have time? Or should I do it?

Or maybe you want to do it yourself, @timmidee

[2017-09-06 18:48] agramfort commented on #4538
@jaeilepp <https://github.com/jaeilepp> is not working with me anymore but
maybe he needs a break with his new job :)

[2017-09-06 19:03] sbang002 commented on #4489
@Slasnista  I cannot use mne.io.read_raw_edf() because of the same problem as this issue.

[2017-09-06 19:07] agramfort commented on #4489
maybe you give a try to a fix based on the code we gave you?

[2017-09-07 08:03] d-van-de-velden commented on #4533
I am sorry for that, A. Gramfort. Here is a short script that hopefully gives you a better understanding.

[code]
My investigation so far suggests the mistake to be inside the '/mne/source_space.py'-file. Function '_make_volume_source_space', line 1712:

[code]

With that, 'neigh' is being passed to the VolumeSourceSpace dictionary filled with values of '-1'.

[2017-09-07 08:39] jdammers commented on #4533
@agramfort, cc @larsoner, @d-van-de-velden: We will be happy to share the (MNE-) python version of MFT (if you are interested) once we are happy with our testy we do. We currently run a full MFT based source analysis on a study we did including spatio-temporal permutations test to find active brain regions in full volumetric source spaces across subjects. As @d-van-de-velden mentioned, we face som

[2017-09-07 08:48] #4532 closed

[2017-09-07 19:40] jona-sassenhagen commented on #4538
@timmidee I can't replicate the problem. Can you share the evoked dataset and the precise call to plot_joint?

[2017-09-08 03:29] Morgan243 opened #4540 "Decoding error loading GDF"
Trying to load the GDF files from BCI IV 2a (similar to #4253), but I get decoding errors in both Python 2 and 3. I'm able to load this data in BioSig and SigViewer, so the files appear to be valid. Maybe I'm doing something wrong?

Test code:

[code]

In Python 2:

[code]

And in Python 3:

[code]

[2017-09-08 07:53] agramfort commented on #4540
can you share the file here in a .zip file? or share a dropbox link?

[2017-09-08 15:50] agramfort commented on #4533
regarding i) what did you do? use FS, FSL, SPM?

for ii) maybe have a look at
https://gist.github.com/agramfort/a3e3139a1f64315885c923a57e541e7a ?

see the use of grid_to_graph to extract the neighborhood structure.

[2017-09-08 15:58] timmidee commented on #4538
`times = (-.190,-.030,-.010,.100,.275,.460)

topomap_args = dict(average = .05,cmap='RdBu_r')

sk_sacSinCoef.plot_joint(times = times, topomap_args=topomap_args,
                           title='rERP estimated effect of continuous covariate fixIncSac SIN',
                           ts_args= None);`

Note the difference at -10 and 275ms when omitting the cmap from topomap_args.
This one does not

[2017-09-08 17:39] larsoner commented on #4533
We should add or wrap `grid_to_graph` to make a neighbor function like we have for surface source spaces

[2017-09-08 18:01] d-van-de-velden commented on #4533
Regarding i) we tried to keep the whole processing (registration and morphing) in the mne-python and/or FreeSurfer enviroment/funtionality. Using:
[code]
and trying to modify it to accept volume source spaces and morph it correctly. Unfortunately there are still some mistakes.
Respectively ii) we haven't tackled this problem, since we want to finish the morphing process first. But thanks for the h

[2017-09-08 20:32] Morgan243 commented on #4540
I'm not sure I can share them legally, but they are freely available. You have to provide your email and get a generated password. Go here to do that:
http://bbci.de/competition/iv/#download

Then downloads/descriptions are here. The files I'm using are for task 2a
http://bbci.de/competition/iv/download/

Thank you!

[2017-09-08 21:50] choldgraf commented on #3884
any movement on this? @nbara wanna give a shot at a PR?

[2017-09-09 01:36] #4540 closed

[2017-09-09 01:36] Morgan243 commented on #4540
Updating to the current master branch seems to fix it

[2017-09-09 08:26] agramfort commented on #4540
great. Thanks for checking.

[2017-09-09 15:53] nbara commented on #3884
Yes I'm happy to try, but it's likely that I'll be be needing some help at some point as I'm not sure a) how to make the code work for TimeDelayingRidge and b) what a proper unit test for this would be.

[2017-09-09 16:11] choldgraf commented on #3884
Happy to help out :-)

On Sat, Sep 9, 2017, 8:53 AM Nicolas Barascud <notifications@github.com>
wrote:

[2017-09-09 19:07] agramfort commented on #4533
have a look at :

https://github.com/mne-tools/mne-python/pull/4544

[2017-09-09 20:16] romquentin opened #4545 "API/BUG make_inverse_operator with depth=None"
The logic of `make_inverse_operator` is a bit broken, we can't automatically use it with `loose > 0` and `depth=None` if the forward is not `surf_orig=True`

e.g.

[code]

The error mentions the issue with `loose` although the only change is in `depth`.

Instead, we need to do this first (although with different options, this is done automatically by make_inverse_operator in other cases)
[code]

S

[2017-09-10 19:59] nbara commented on #3884
Ok starting to work on it now. Are we sure we want to have this computed by default in `fit`? Because I don't think it would be terribly useful for forward models (why would one want to backward-transform forward weights?)

[2017-09-10 20:14] choldgraf commented on #3884
sounds good - I think it would need to be computed in `fit`...that's the only situation in which the object would have access to the `X` and the `y` variables, no?

[2017-09-10 20:15] choldgraf commented on #3884
I guess another option would be to have a special function for this, e.g.,:

`mne.decoding.inverse_transform(coefs, X, y)`

[2017-09-10 20:19] agramfort commented on #3884
what's the cost compared to estimation of coef_ ? if it's small let's
compute it all the time.

[2017-09-10 20:30] nbara commented on #3884
Yeah, something like this. Initially I imagined this becoming a class method, such as `rf.inverse_coefs(X, y)`. In my mind this was not something that every user would need and use often, it's mostly a convenience for those who do backward modelling.

Depends how well I manage to code this :)
More seriously, I need to work on this a bit more before I can answer this. In principle this could be pre

[2017-09-10 21:00] kingjr commented on #3884
I don't have the exact usescases and constraints in mind, but just to be sure we are on the same line of thoughts, here is what we do for classic decoding analyses:

[code]

to get the patterns
[code]

to have this in a pipeline
[code]

And with mne wrapper compatibility e.g
[code]

In other words, we classically don't compute the patterns (cov etc)  at fitting; if users want to have the patterns,

[2017-09-10 21:45] choldgraf commented on #3884
@kingjr so the idea is that the only thing that `LinearModel` does is expose a `patterns_` attribute upon the call to `fit`? If the computation is non-trivial, then I'd be fine with doing that. If it is relatively trivial (in terms of time), then I think it's also fine to just compute it at `fit`...

[2017-09-10 21:52] nbara commented on #3884
@chris Just ran a few quick tests. Using your tutorial data, I spend an extra ~1.3 seconds in `fit` to compute the inverse coefs on my macbook. (note that I only got it to work with `estimator=Ridge()` yet and it might take more/less with TimeDelayingRidge)

[2017-09-10 21:57] choldgraf commented on #3884
@nbara what size of inputs/outputs were you using? 1.3 seconds isn't too bad...

[2017-09-10 21:58] choldgraf commented on #3884
oops - just saw you said using my tutorial data. So this was the data in `tutorials` and not `examples` yeah?

[2017-09-10 22:03] nbara commented on #3884
[These](http://martinos.org/mne/dev/auto_examples/decoding/plot_receptive_field.html#sphx-glr-auto-examples-decoding-plot-receptive-field-py) exactly. So X.shape was (7677, 128)

[2017-09-10 22:07] choldgraf commented on #3884
hmmm - could you try the same comparison, but playing around with the size of each dimension? E.g., how long when you cut the samples in half? How long when you double the # of features?

[2017-09-10 22:48] larsoner commented on #3884
If the current code issues Ridge, the auto and cross covariances need to be
recalculated, so it will add time. With TDR (or a custom Ridge) where these
are stored I doubt it will add much time

[2017-09-11 07:14] agramfort commented on #3884
I am fine exposing a patterns_ attribute in term of API

[2017-09-11 15:45] choldgraf commented on #3884
@agramfort would patterns_ only be for the inverted coefficients? In that case, is the word "patterns" standard in the eeg/meg decoding world? Just wanna make sure we're being semantically consistent here...

[2017-09-11 15:51] agramfort commented on #3884
yes patterns_  is standard these days. fillters_ is semantically the same
as coef_

[2017-09-11 15:56] choldgraf commented on #3884
so

`coefs_` == `filters_` == "receptive field"

and

`patterns_` == "electrode weights"

?

I'm +1 on calling it `patterns_` in this case. I have a slight preference for it just storing the covariance matrices and computing `patterns_` lazily when people ask for it. Though I also think @kingjr 's approach is pretty clever (though it complicates the API a bit).

Can we think of any other situation

[2017-09-11 18:06] agramfort commented on #3884
whatever works but KISS

[2017-09-12 15:01] #4518 closed

[2017-09-12 15:36] larsoner commented on #3884
@choldgraf @nbara I've been thinking about it and I think it makes more sense to use positive lags in the forward/encoding (stimulus->brain) models than negative lags. For example when X is speech and y is brain/EEG (which it is in both of our examples), the system `h` in the equation `y = X * h` needs to be active in positive/causal lags. But in both of our examples we do it the other way. Even t

[2017-09-12 15:42] #4514 closed

[2017-09-12 15:57] choldgraf commented on #3884
the way I think about it is in terms of experiment time. Where do those features in `X` exist relative to each timepoint in `y`. In an encoding model, they are negative since they happen at `t - N` timepoints relative to `y`.

I think the problem is that when we call them "time delays" (or lags), we're not saying "where relative to `y` does this feature of X exist". We're saying "what is the value

[2017-09-12 16:01] choldgraf commented on #4514
thanks @nbara for pointing this out!

[2017-09-12 16:05] larsoner commented on #3884
I think the standard might be to use positive numbers for causal behavior in forward models. Do you agree? I am no expert here. The Lalor paper seems to present their forward model that way, at least.

[2017-09-12 16:07] larsoner commented on #3884
It might be that by convention STRF *plots* are sometimes (probably half the time :) ) shown with negative lags, but in terms of the mathematics of the model being convolution of a signal (speech) with a kernel (STRF) to get an output (brain activation), the lags should be positive I think.

[2017-09-12 16:17] choldgraf commented on #3884
I am not really interested in what is technically correct, as much as what is intuitively correct to most people (the vast majority of which don't really know what convolution is mathematically).

Re: standards, here's a quick lit summary:

* [the chang nature paper](http://www.nature.com/nature/journal/v485/n7397/full/nature11020.html?foxtrotcallback=true) used positive lags
* [this truly excelle

[2017-09-12 16:18] choldgraf commented on #3884
(FWIW, my initial intention was to find papers that used negative lags in their plots, but it was actually kind of difficult, which tells me that I'm probably wrong in my intuition haha)

[2017-09-12 16:19] larsoner commented on #3884
Okay, I'll mark this one for 0.15 so we change the tmin/tmax def assuming nobody else has objections. I should be able to do it this week.

[2017-09-12 16:19] rkmaddox commented on #3884
+1 for positive lags. If you think of the TRF (no S) when a stimulus is a bunch of clicks (so, x = click train, y = EEG signal), then the brain response should be at positive lags, because a click causes the brain signal to wobble after the click happens.

I agree that it gets a little hairier with the STRF, but positive lags still make by far the most sense to me.

[2017-09-12 16:20] larsoner commented on #3884
(And sorry in advance to any early `dev` adopters who might have code that will break due to this change.)

[2017-09-12 16:21] choldgraf commented on #3884
@larsoner this was a good catch before 0.15...it would have been way more annoying to fix this after users had started incorporating it using the pip version. IMO when it's on `master` anything goes in terms of breaking changes :-)

[2017-09-12 16:24] nbara commented on #3884
+1 for positive lags as well

[2017-09-12 16:25] larsoner commented on #3884
@nbara before you put too much time/effort into updating an example in #4546 (which I just bothered you about) let me take care of the lags. Because yours should then be reversed / negative while plotting.

[2017-09-12 16:28] choldgraf commented on #3884
looks like we're on the same page...in that case: https://youtu.be/U3HMZsDioB8?t=4m17s

[2017-09-12 19:21] agramfort commented on #3884
good we don't release often enough :)

[2017-09-12 19:36] agramfort commented on #4522
yes it's the original idea.

yes agreed.

yes I think warning / exception is a good approach.

[2017-09-13 10:36] nbara opened #4551 "`high is out of bounds for int64` in cluster permutation test"
I've been getting an error in cluster permutation tests when applied on single-trial data, when the number of trials exceeds ~60

FWICT this is due to `max_perms` being too large in cluster_level.py :
https://github.com/mne-tools/mne-python/blob/cd24596e14383dc978d754a51f8fe9fabbd76b21/mne/stats/cluster_level.py#L761-L768

I can reproduce the error when running [this MNE tutorial](https://github.c

[2017-09-13 11:51] agramfort commented on #4551
don't do 2**60 permutations. limit n_permutations to lets say 10000 for a
p-value threshold at 0.01

[2017-09-13 11:59] nbara commented on #4551
Mmh but doesn't `n_permutations` default to 1024 in `permutation_cluster_1samp_test` &co?

In the code snippet above, `max_perms` is only a function of the number of samples (in my case, trials)

[2017-09-13 12:00] mmagnuski commented on #4551
@agramfort - the problem seems to be different, the realized premutations are chosen from all possible permutations (as an int that is later transformed to its binary representation) and it seems that if there are too many possible permutations `rng.choice` gives errors.

[2017-09-13 13:34] larsoner commented on #4551
I see my "clever trick" is really a "bug" sometimes :)

We can go back to using resampling with replacement in the non-exact case. (My code changed it to be sampling without replacement.) Sound good? If so I can make a PR

[2017-09-13 13:43] agramfort commented on #4551
you should not allow replacement in theory AFAIK

[2017-09-13 13:46] larsoner commented on #4551
Okay I think there is another way to do it that should be safe enough

[2017-09-13 15:38] kingjr commented on #4517
Here's a gist for plotting source estimates as controllable movie.

It's pretty straightforward. The movie control is still a bit slow, perhaps @larsoner has some ideas on how to downsample the mesh online?

The other issue that I have, is to have transparent colors to have both the curvature and the sources
https://gist.github.com/kingjr/cdadefbb5f522ab7450ead746dc0a5b2

![image](https://user-ima

[2017-09-13 15:41] larsoner commented on #4517
Right now I assume you're piping the high-resolution data. This will be very slow. Instead, you'll need to pass the sparse upsampling matrix to JavaScript (there are libs that handle sparse matrices), and the low-resolution STC, and do the upsampling in JavaScript instead of Python. This upsampling is a standard FreeSurfer operation IIRC so it's possible that the ipyvolume people will be amenable

[2017-09-13 15:41] choldgraf commented on #4517
FWIW we hacked on this a little bit at NeuroHackWeek this year and I think the plan is to move Jan's `niwidgets` package into nipy, and then to add surface widget that creates these plots with ipyvolume.

https://github.com/janfreyberg/niwidgets

It'll be a bit WIP, since a lot of the team working on this were first-time devs. Just giving you a heads up to keep an eye on it...

BTW - you can also

[2017-09-13 15:42] larsoner commented on #4517
(in other words, *dont* downsample the mesh, which will look terrible, stay in high-res space but be smart about passing data)

[2017-09-13 15:43] larsoner commented on #4517
You'll also need to ask the `ipyvolume` people to actually plot with vertex normals defined properly for rendering. (These can be calculated in standard ways from the triangulation, or passed in, whichever they're wiling to live with.) It will make the surfaces smooth instead of all blotchy like they are now.

[2017-09-13 15:44] choldgraf commented on #4517
also FWIW, the ipyvolume "people" are really just one guy...so I think he'd appreciate PRs etc if they come in ;-)

[2017-09-13 15:45] larsoner commented on #4517
I need to (re-)teach myself JavaScript to be able to do it, so it would take me a while :(

[2017-09-13 15:46] larsoner commented on #4517
@kingjr I'll move your todo list to the top and we can all edit/update

[2017-09-13 19:08] #4551 closed

[2017-09-13 19:16] agramfort opened #4553 "BUG IO EDF File"
when trying to read this [EDF file](https://www.dropbox.com/s/dwweynikaz9nlxd/EEG_170711_142159.edf?dl=0) with mne I get garbage while EEGLAB can import data that looks like data...

I had to make this f1294e4a9 to have the reader not crash.

anyone has time to look? @jaeilepp ? @teonbrooks ?

[2017-09-13 22:16] kingjr opened #4555 "Proposed taxonomy: decoding/encoding; generative/discriminative; forward/backward"
As discussed off-line, here is a to-be-debated proposal for operational definitions:

Supervised ML analyses to neuroimaging tend to cluster into two groups: forward generative encoding models versus backward discriminative models. The corresponding terms have thus been used interchangeably (e.g. Haufe et al 2014). However, they actually refer to independent properties of any neuroimaging analysis

[2017-09-13 22:32] kingjr opened #4556 "ML Documentation: what's missing"
Here is a proposal in the todo for the MVPA/Decoding-Encoding/ML module.

- [ ] a brief tutorial on ML to introduce the key concepts (fitting, predicting, scoring, CV)
- [ ] a tutorial on model interpretation and its limits: when can you do patterns, what does it mean, what are the risks
- [ ] a tutorial to highlight the importance of supervised spatial filter for oscillatory activity
- [ ] a tuto

[2017-09-14 07:26] cbrnr opened #4557 "Description of rescale mode 'percent' wrong?"
The docstring of the `rescale` function in `mne/baseline.py` (and in seven other places where this docstring has been copied and pasted) currently states for the `mode` argument:

    percent is the same as applying ratio then mean

The calculation is:

    data -= mean
    data /= mean

So I think the description should be the other way round, namely:

    percent is the same as applying mean the

[2017-09-14 08:19] cbrnr opened #4558 "Custom colormap normalization in power plot"
I'd like to create a classic ERD/ERS time/frequency plot by computing a TFR (e.g. via `tfr_multitaper`). Power should be normalized to a baseline with `mode='percent'`. I want to set the limits to `vmin=-1` and `vmax=1.5` using `cmap='RdBu'` (because these are the values typically used in ERD/ERS maps). This works fine, but now I'd like to map the value 0 to white; negative values should linearly

[2017-09-14 09:02] agramfort commented on #4557
PR welcome

[2017-09-14 09:05] #4545 closed

[2017-09-14 09:12] agramfort commented on #4558
no idea. Never did this.

[2017-09-14 09:47] cbrnr commented on #4558
[This SO post](https://stackoverflow.com/a/20528097/1112283) describes how this could be done with a custom colormap - which would mean that no internal changes are necessary. However, I wonder if MNE should provide this out of the box to support creating standard ERD/ERS maps.

[2017-09-14 10:25] agramfort commented on #4558
provide a gist by passing a custom cmap

[2017-09-14 11:19] cbrnr commented on #4558
It's pretty straightforward, but I feel that generating a standard ERDS map (as per the settings used in the Pfurtscheller papers) could be useful for some people. That's why I initially created [a small package](https://github.com/cbrnr/erds), but later realized that this should really be done by MNE (because it already has all the stuff).

Here's basically what needs to be done:
[code]

Of cours

[2017-09-14 13:10] larsoner commented on #4419
Removing the 0.15 milestone. @choldgraf if you think you can make the most critical changes in the next few days / week please do.

I think this will be facilitated greatly by #4523 once we get it done

[2017-09-14 13:11] larsoner commented on #3987
This one won't happen for 0.15, moving to 0.16

[2017-09-14 13:12] larsoner commented on #4314
@jjnurminen have you started on this? If not I can probably do it before 0.15

[2017-09-14 13:16] larsoner commented on #4558
Creating a custom colormap seems a bit of a hack when IIUC `norm` should do exactly what you want.

Maybe we should have a `norm` argument that:

1. If `centered`, will use `vmin` and `vmax` and make `0` at the center of the colormap
2. If anything else, pass to `matplotlib` (default `None`)

And then say in the docstring that `centered` can be useful for (wacky) asymmetrical plots where you still

[2017-09-14 13:22] cbrnr commented on #4558
Yes, this would be really nice, but we'd still have to hack together a class that does the rescaling. I wish the Matplotlib devs implemented `colors.OffsetNorm` like they say on their website, this would completely solve this issue. Otherwise, if you think this is worth adding a new argument I'd be happy to implement it. If not, I'd argue for adding an example script on how to plot such ERDS maps.

[2017-09-14 13:32] larsoner commented on #4558
They give code for how to do it with `MidpointNormalize`. Let's put it in `mne.fixes` under the assumption they'll add it eventually, then we're good to go with my API suggestion right?

[2017-09-14 13:36] agramfort commented on #4558
my first reaction is make it an example with entry in the FAQ

[2017-09-14 13:43] larsoner commented on #4558
To me it depends on how standard / often used it is, which I don't know

But it looks like you can modify it after the fact with `mesh.set_norm`, so we can go the example route pretty simply

[2017-09-14 13:48] cbrnr commented on #4558
I know a lot of people who produce such ERDS maps, so I think MNE should make this task as straightforward as possible. I kind of tend toward adding an example too, since knowing a lot of people is no indicator of how standard or how often it is used :smile:. I'll submit a PR. Am I correct in assuming that the example should go in [this section](https://martinos.org/mne/stable/auto_examples/index.

[2017-09-14 13:49] larsoner commented on #4558
Yeah that's the one

[2017-09-14 14:20] agramfort commented on #4558
yes

[2017-09-14 18:59] #4522 closed

[2017-09-14 19:52] agramfort commented on #4556
do you have already materials for some of this?

[2017-09-14 20:21] agramfort commented on #4555
I think it is really clear

hyperalignment is a linear or non-inear transform to align brain data
in a common feature space. Once you have done this using some data
you are back to encoding / decoding but being able to predict for new
subjects.

if you say so.

with the present forward/backward distinction.

M/EEG inverse modeling when linear is applying a spatial filter
informed by physics. The f

[2017-09-14 20:31] pbrusco opened #4564 "Import error from EEGLAB"
Hi! When importing epochs from EEGLAB, the function __init__ from io/eeglab/eeglab.py has a condition:
`if not isinstance(ep.eventtype, string_types):` and then treats the event as an array of events.

The problem is that sometimes, the eventtype is a number (not an array), so, we add this as a patch:
[code]
And then we replace `ep.eventtype` for `eventype` and it seems to work. Any idea if this i

[2017-09-14 21:39] jasmainak commented on #4555
sounds great but is the cat French? :)

[2017-09-14 21:42] jasmainak commented on #4564
are you sure you are using the latest version of mne?

I think this was addressed here: https://github.com/mne-tools/mne-python/pull/3912. Or did I misunderstand your problem?

[2017-09-14 21:46] jasmainak commented on #4556
It's more an API thing but I get a lot of questions which basically boil down to using 3D data in pipelines leading to weird shape mismatches. I guess some estimators can be pipelined in sequence but others cannot be. This needs to be probably clarified.

[2017-09-14 22:15] kingjr commented on #4556
Yes, in the form of ipynb for all of the above, but a bit too long as compared to the MNE tutorials. Shall I start opening PRs?

Ok that's easy, we can dedicate a tutorial to pipeline. I think it is an important an concept, especially with our tensor-like data structure.

[2017-09-14 22:18] pbrusco commented on #4564
Hi, sorry I didn't find the other issue, but yes, that was the problem.

Now, I tried with 0.15.dev0 and when the event is an int it's working.

But, when the array contains ints, then it explodes again :).

the solution I found, change
[code]
for
[code]

Thanks!

[2017-09-15 08:53] agramfort commented on #4564
please share the problematic set file.

[2017-09-15 09:02] agramfort commented on #4556
let's not make PRs but maybe make a repo of 3-4 notebooks with an index.ipynb like here:

https://github.com/jakevdp/PythonDataScienceHandbook/tree/master/notebooks

then we take the figures from the notebook for the paper.

[2017-09-15 14:59] pbrusco commented on #4564
Here it goes.
[set_file.zip](https://github.com/mne-tools/mne-python/files/1306717/set_file.zip)

[2017-09-15 16:22] #4557 closed

[2017-09-16 14:42] smgutstein opened #4572 "Is Mayavi required for mne-python?"
I just updated to the latest version of mne python, but the `make test` failed :

[code]

I don't have Mayavi installed and never had this problem before. Is Mayavi now necessary for mne-python? The last time I tried installing Mayavi, I ran into all sorts of problems wit my qt libraries and finally just decided to do without., so am hoping I don't need to refight that battle.

For the sake of com

[2017-09-16 17:03] choldgraf commented on #4419
it looks like #4523 is closed but not merged...can you ping me whenever this gets fixed up so I can make changes?

I can put some time into this next week if things are in place for me to do it...let me know. Worst comes to worst we can always backport instructions

[2017-09-16 17:35] larsoner commented on #4419
I don't think that the environment (as a suggested one for users) will be
ready by release. Do you have suggestions in the meantime, or prefer to
wait for it to be fully usable?

[2017-09-16 17:52] choldgraf commented on #4419
Lemme take a stab at it this week

[2017-09-16 21:17] larsoner commented on #4572
It shouldn't be required, this is a testing framework problem. Such imporn errors should be ignored or suppressed. Can you `git checkout cf9ff8bcbcb4fec21e8ebbef46305e60e6ead20d`? That tells us whether my test update PR or (probably) @massich's `py.test` transition PR broke things.

Either way I can probably fix it quickly on Monday.

[2017-09-17 12:46] christian-oreilly opened #4573 "ENH/IO: add support for EGI Netstation EEG data - segmented files"
This ticket is closely related to the closed ticket  [`ENH/IO: add support for EGI Netstation EEG data. #1210`](https://github.com/mne-tools/mne-python/issues/1210). Issues 1210 implement a reader for MFF files, but only for unsegmented files. This ticket is to request support for segmented files. Inspiration can be taken from fieldtrip https://github.com/fieldtrip/fieldtrip/blob/master/fileio/ft_

[2017-09-17 13:10] agramfort commented on #4573
@christian-oreilly we'll see what we can do but don't hesitate to give it a try.

First can you share a file to test? the smaller the better?

[2017-09-17 13:30] agramfort commented on #4564
thanks for sharing.

please share a gist that produces the crash (saves us time)

also if you can send us a pull request so we clearly see the diff for your
changes it's even better.

thanks a lot

[2017-09-17 14:18] christian-oreilly commented on #4573
@agramfort This is actually a complicated request. I am stuck with 30 GB files but without NetStation to read them so that is why I try to use MNE (actually, Sleep which use MNE as a backend). I'll check in the days to come if I can get some collaborators to record with a NetStation system a few second recording.

However, trying to make some progess on this issue, I start looking at the code. Fro

[2017-09-17 15:11] agramfort commented on #4573
you point to the dev documentation. Did you try with current master code?

maybe someone with experience using these data will pitch in.... cc
@teonbrooks @ramonapariciog @dengemann @LauriParkkonen ?

[2017-09-17 18:02] christian-oreilly commented on #4573
Sorry, silly mistake from my part. You were quite right in pointing that I should be running the dev version. mne was pip-installed using the latest release, not the dev version. I'll make a few checks to ensure that it is running smoothly and I will either close the ticket if it all works fine with the dev version or post an update about any remaining issue with using the dev version...

[2017-09-17 19:10] christian-oreilly commented on #4573
Closing this issue. There was a few bug to correct (apparently, the function has not been tested with recording having no events and such recordings was causing the reader to crash at different places) but nothing related to the initial topic mentioned in this issue. I will submit a pull request with the bug correction.

[2017-09-17 19:10] #4573 closed

[2017-09-18 01:04] smgutstein commented on #4572
That checkout seems to work. The only error was:

E       IOError: [Errno 2] No such file or directory:
u'/home/smgutstein/mne_data/MNE-testing-data/KIT/test_as-raw.con'

which is easily fixed at my end.

On Sat, Sep 16, 2017 at 5:17 PM, Eric Larson <notifications@github.com>
wrote:

[2017-09-18 12:52] jjnurminen opened #4575 "No amplitude from evoked.get_peak()"
Wouldn't it be logical for `evoked.get_peak()` to also return the max amplitude?
I coded this myself into a script that uses `get_peak()`, but I had to:

-arrange a new data matrix and channel names according to the pair grads logic
-find the index of the channel with maximum amplitude

`get_peak()` would already do these for free. However returning the amplitude would break API, as a 3-tuple of o

[2017-09-18 13:14] larsoner commented on #4575
We can add a return_amplitude to avoid API breakage

[2017-09-18 13:21] jjnurminen commented on #4575
Yep. Then that would also be needed for the underlying machinery of `_get_peak()`.

[2017-09-18 13:31] larsoner commented on #4575
`_get_peak` is private you can modify the API without adding an argument

[2017-09-18 13:34] jjnurminen commented on #4575
Ahh, of course.

[2017-09-18 13:40] larsoner commented on #4575
But in any case, +1 from me for this ENH

[2017-09-18 14:48] agramfort commented on #4575
no objection

[2017-09-18 22:30] jona-sassenhagen commented on #4564
In general ... @jasmainak do you have time to do this?

[2017-09-19 01:43] arokem opened #4577 "UserWarning in decoding_rsa example"
Running this example, I get the following warning

    decoding_rsa.py:94: RuntimeWarning: More events than colors available. You should pass a list of unique colors.

[2017-09-19 08:03] fraimondo opened #4578 "[BUG] EGI MFF file reader does not work with net station 4.5 files"
I've got some EGI Netstation 4.5 files, and the EGI MFF reader does not work.

I've found several issues:
* Apparently there is no `mffVersion` tag in the `info.xml` file.
* In `_read_mff_events`, the index of the XML file that contains the `recordTime` tag is assumed to be 1. It does not work for me.

Maybe related to #4573?

I'm creating a PR right now.

[2017-09-19 08:08] fraimondo commented on #4578
Found the PR #4574.

It's not related to the lack of events, but to the MFF version.

Sorry, my bad.

[2017-09-19 08:08] #4578 closed

[2017-09-19 08:42] fraimondo opened #4580 "ENH/IO: add support for EGI Netstation MFF file including physiological signals."
Indeed I have to read several MFF including physiological signals (PSG).

The current MFF reader parses everything correctly, but only the EEG. This is due to the fact that PSG comes in a second file (signal2.bin) inside the MFF bundle.

I am ready to add support for it, but I wanted to discuss the approach first.

The `_read_mff_header` part is simple, since it need to check if the PSG data is th

[2017-09-19 08:59] agramfort commented on #4580
see how edf reader does it with custom info keys. Whatever works but avoid
touching common info object.

[2017-09-19 09:13] fraimondo commented on #4580
The `RawMFF` object already has a `self._filenames = [file_bin]` attribute. I would add a `self._psgfilenames` attribute to keep the info on where to read the PSG data. The rest is in the info dict as it is only channel names/types.

[2017-09-19 09:23] agramfort commented on #4580
sounds ok for me.

[2017-09-19 09:46] fraimondo commented on #4580
Need the EGI file format specification. Something's wrong with the current code regarding sampling rate. It's half of what it is supposed to be. Although for the testing data is fine.

Anyone has the technical doc?

[2017-09-19 09:57] jasmainak commented on #4564
see: https://github.com/mne-tools/mne-python/pull/4581/

[2017-09-19 10:27] jona-sassenhagen commented on #4577
That's ok I would say. It comes from `plot_events`, and it will happen in many designs because there simply aren't that many distinguishable colours. It's only a warning after all.

Reopen if you disagree.

[2017-09-19 11:06] jjnurminen commented on #4575
Ok, I will try to cook a relevant PR.

[2017-09-19 11:42] larsoner commented on #4577
We should avoid warnings in examples wherever possible. I'd rather we fix
it by doing whatever we would like our users to do in this situation.

[2017-09-19 11:45] larsoner commented on #4580
Don't do it that way, it won't work with concatenation. Store anything
extra you need in the _raw_extras list (usually a list of one dict per
"file", which in this case is per two-file set)

[2017-09-19 12:05] agramfort commented on #4577
+1

[2017-09-19 12:06] fraimondo commented on #4580
I started doing that as soon as I realised that the raw extras can contain the name of the PSG datafile and channels info, if there was one.

[2017-09-19 13:42] kingjr opened #4584 "DOC: missing ecog dataset description"
As point out in the mailing list, the ecog dataset isn't described in the documentation

http://martinos.org/mne/dev/manual/datasets_index.html

@choldgraf

[2017-09-19 13:44] kingjr commented on #4577
remove plot_events, it's unnecessary?

[2017-09-19 13:44] #4116 closed

[2017-09-19 14:34] larsoner commented on #4577
@kingjr can you make a quick PR?

[2017-09-19 15:19] #4558 closed

[2017-09-19 17:53] cbrnr commented on #4497
Unfortunately, EDF/BDF files can have events encoded either (or both) as a stim channel or in an event table. Whereas `mne.find_events` works only on the stim channel, `mne.io.get_edf_events` relies only on the event table. I'm not sure if renaming it to `find_edf_events` is a good idea, because people might get confused as to which function to use for EDF files. Granted, people could already be c

[2017-09-19 19:09] agramfort commented on #4497
I think find_edf_events naming is more consistent

I agree it should stay in the io module

[2017-09-19 21:23] kingjr opened #4586 "Question: multiple runs => multiple coregistrations?"
Imagine a subject is recorded multiple times, each with a different head positions the scanner, but with the very same coil positions on his/her face.

Can we do a coregistration on the first run only, and then apply the inverse modeling for each run separately?

or

Do we necessarily need to do one coregistration per run and save a different trans file?

In the second case, shouldn't we be able t

[2017-09-19 21:33] christianbrodbeck commented on #4586
At least in our (KIT) workflow, the trans file stores the head-MEG transform. If you only digitize the head once per subject then there is only one head-MEG transform. What changes is the markercoils-head transform (assuming you acquire marker positions in every run). This is generated in the kit2fiff transform and stored in the FIFF file info, so you still need different inverse solutions.

[2017-09-19 21:36] kingjr commented on #4586
Thanks @christianbrodbeck. That is an Elekta question though. But IIUC that means that a single coregistration is necessary right? I can just re-estimate (the covariance and) the inverse solution for each run separately, can't I.

[2017-09-19 21:41] christianbrodbeck commented on #4586
I think that's correct. I am not familiar with Elekta, but the coregistration GUI shows (and create a trans file for) the digitized head shape. I assume head shape digitization is done only once regardless of system, and markercoil-head coregistration is run-dependent. To be sure you could check for one subject that the head shape coordinates are identical between FIFF files.

[2017-09-19 21:55] larsoner commented on #4586
In principle you can, in practice you might be able to. Do you and your
digitizer record the fiducial locations without any meaningful error every
time you do a digitization?

In Elekta you generally digitize fiducials, plus at least a hundred extra
points. In principle, you only need the three fids as they establish the
head coordinate system, and this never changes. In practice, though, there
ar

[2017-09-19 22:05] britta-wstnr commented on #4586
But the HPI coil  initialization is done for every run, right? So if the participant moved, the MEG head space would be different, even with the same fiducial and headshape point positions.
Since MEG decive space and MRI space are the same across runs (within participant), and we obtain the MEG device -> MEG head space transform for every run, would it be possible to compute the transform to MRI s

[2017-09-19 22:46] kingjr commented on #4586
@christianbrodbeck, in the present case, the head shape is only acquired once, before all runs (all run are being recorded one after the other).

@larsoner I don't think I understand your answer. Overall, I share Britta's question

[2017-09-20 00:24] larsoner commented on #4586
I misunderstood your question. I thought you were doing multiple recordings of the same subject e.g. on different days, and thus with different digitizations. If you don't redo any digitization and the coils don't move (a common assumption in back-to-back recordings), yes a single coreg will suffice.

[2017-09-20 01:56] #4564 closed

[2017-09-20 07:45] britta-wstnr commented on #4586
@larsoner thanks for clarifying this. What would happen now if we assume that the subject gets out of the sensor between runs (with fiducials and HPI coils staying in place) - this could change the coil positions relative to the sensors quite a lot (although they stay in place on the subject's head).

I guess the question here is: is there a shortcut (and possibly an MNE-way to this shortcut) of c

[2017-09-20 08:08] fraimondo commented on #4580
Now I've got a 20 sec test recording with PSG data, also exported into Matlab format to test the reader. Maybe you want to add it to the MNE testing dataset.

It's [here](https://www.dropbox.com/sh/z6shib5s6t6q9h8/AAA-STQvxZYzbJVEbU6cMOnYa?dl=0)

[2017-09-20 08:35] fraimondo commented on #4580
So far the current reader has a difference of two samples between the Matlab (exported by net station and read by scipy) and the MFF with the MNE reader.

This is an EEG channel (so it's not related to the PSG data).
![screen shot 2017-09-20 at 10 33 44](https://user-images.githubusercontent.com/4493699/30634388-383545c2-9def-11e7-91ba-0adf3f4088a3.png)

I'm working to isolate and correct the issu

[2017-09-20 12:05] agramfort commented on #4580
ok. Let us know when we should have a look. thanks a lot

[2017-09-20 12:32] cbrnr commented on #4497
@jaeilepp?

[2017-09-20 12:32] fraimondo commented on #4580
Just finished.

So the `_read_segment_file` is mostly rewritten.

With the current code, there is one restriction that applies: if the indexes of the channels to be read are interlacing EEG and PSG data, then it raises an error.

There are alternatives to fix that problem, but it needs to be rewritten in a way that both EEG and PSG signal files are read simultaneously.

There might be some bugs if

[2017-09-20 12:39] agramfort commented on #4497
@jaeilepp <https://github.com/jaeilepp> is gone and back home in Finland
... he left my group :'(

On Wed, Sep 20, 2017 at 2:32 PM, Clemens Brunner <notifications@github.com>
wrote:

[2017-09-20 12:40] cbrnr commented on #4497
Oh, I didn't know that - he added this new method recently. I can create a PR and rename it (but leave it in `io`) if you want.

[2017-09-20 12:42] agramfort commented on #4497
please do

[2017-09-20 12:50] #4572 closed

[2017-09-20 13:04] cbrnr commented on #4403
I guess setting `transform=True` by default can be done in a new PR.

Besides that, what do we do with the two montages that have multiple labels for identical locations? People will probably start plotting montages because there now is a method for that and notice that something is wrong. I'd either remove these two montages or de-duplicate the labels.

[2017-09-20 13:19] larsoner commented on #4403
I am against those for the same reasons as before (maintainability and
backward compatibility), and still in favor of the less invasive change of
making the plotting function smarter to handle overlaps.

[2017-09-20 14:26] cbrnr commented on #4403
Then I propose to issue a warning if plotting such a montage and only plotting the first label. Handling more than one label per position will be difficult since there is already overlap with only one label per location.

[2017-09-20 14:31] larsoner commented on #4586
There seems to be some confusion about terminology here and what gets used when.

When you digitize a subject, you get the fiducials, which define the head coordinate frame. Then all other points (EEG electrodes, extra points, HPI coils) are effectively registered as / transformed to points in this head coordinate frame.

We know immediately based on this stipulation (whatever you say before or af

[2017-09-20 14:39] larsoner commented on #4403
That sounds reasonable to me.

[2017-09-20 19:56] kingjr opened #4589 "CTF: coregistration issue"
With @avkasdan, we're having some issues with the coregistration of CTF data.

we used `mne.io.read_raw_ctf`  to read save the MEG data as a `fif` file.

we then use `mne.gui.coregistration` but the first issue is that we cannot save the trans file (the save button is not activated)
![screen shot 2017-09-14 at 5 53 42 pm](https://user-images.githubusercontent.com/4881164/30664437-b94f96d6-9e1b-11e

[2017-09-20 20:19] kingjr commented on #4589
BTW, there is no issue with mne_analyze

[2017-09-21 05:50] #4497 closed

[2017-09-21 08:08] cbrnr commented on #4403
Checking for duplicate labels is giving me a headache. First, I need to use `scipy.spatial.distance.pdist` and `scipy.spatial.distance.squareform` - MNE does not require SciPy, so how should this be handled? Second, figuring out if there are duplicate labels is easy, but finding their indices and plotting only one label is pretty hard. I'm really not sure if these two defect montages are really wo

[2017-09-21 12:34] larsoner commented on #4403
We have a standard fast pairwise distance wrapper `_compute_nearest(..., return_dists=True)`.

SciPy is a hard dependency of MNE

Does this work?
[code]

[2017-09-21 13:25] cbrnr commented on #4403
Thanks @larsoner. If SciPy is a hard dependency then I just use it. MNE's `_compute_nearest` returns a vector of all zeros, whereas `scipy.spatial.distance.cdist` works. I think I just found a solution without loops.

[2017-09-21 13:55] larsoner commented on #4403
Oh right because it gives the neighbor as zero. `cdist` should be fine

[2017-09-21 14:03] larsoner commented on #4403
One non-(explicit-)loop would be to turn the square distance matrix into a connectivity matrix and do:
[code]
And then unpack the first element of each item in `components`. Is that what you're doing?

[2017-09-21 14:06] cbrnr commented on #4403
Here's what I'm doing right now:

[code]
This gives me all duplicates in the rows, column 0 is the index of the first label and column 1 the index of the second (duplicate) label. Now I'm working on integrating all of this into the plot function (which is not that straightforward because `Montage` objects don't support removal of channels out of the box, but anyway I'll do it manually).

[2017-09-21 14:46] kingjr commented on #4586
We solved that issue offline, but for future references:

* The confusion partially originates from the discrepency with Fieldtrip, which does source reconstruction in the MEG device space.

* The HPI and transform procedure is detailed in the comments of https://github.com/mne-tools/mne-python/blob/master/mne/chpi.py#L4

* Overall, we can apply a single coregistration and save a unique trans file

[2017-09-21 14:46] #4586 closed

[2017-09-21 14:53] #4314 closed

[2017-09-21 15:57] larsoner commented on #4589
@kingjr does this issue persist if you use MNE-C to convert to FIF instead of Python? This will tell us if the problem is with our CTF reader, or with `mne.coreg`.

@christianbrodbeck do you have time to look?

[2017-09-21 16:00] cbrnr commented on #4403
Let's see if this works in #4592...

[2017-09-21 16:31] avkasdan commented on #4589
Yes, the issue persists- still cannot save the trans file when the FIF file is created using MNE-C..

[2017-09-21 20:48] christianbrodbeck commented on #4589
It looks to me like your raw file has missing digitizer information:

[code]

Based on the `kind` entry, you have 3 EEG points (`FIFF.FIFFV_POINT_EEG = 3`) and 3 HPI points (`FIFF.FIFFV_POINT_HPI = 2`). The GUI needs at least the three cardinal points (Nasion, LPA, RPA) for an initial alignment. I don't think I ever tried using it without head shape points at all but without cardinal points you ca

[2017-09-21 21:02] christianbrodbeck commented on #4589
From my GUI uniform scaling is enabled after pretending the HPI are cardinal points, just not 3-axes scaling. However from what I remember from playing around with it when I also had a head shape, scaling transforms based on just 3 points tended not to be very reliable...
, when I tried to estimate all parameters including scaling along 3 axes form just 3 points the results would net be very

[2017-09-21 23:27] bdyetton commented on #4396
Ok so after upgrading to 0.15.dev0 i am still getting the above error. It only occurs during loading of a fif that contains data that has been ica'ed.

[2017-09-22 01:01] bdyetton commented on #4396
Also, are there limits on the length of each string that makes up a ch_name? When i import my ch_names seem to be clipped.

[2017-09-22 07:23] agramfort commented on #4396
I just tried to read your file and I got no problem with current master:

[code]

[2017-09-22 13:12] larsoner commented on #4589
This is a case where we might want to add an option to (or by default) change what we do with CTF data. Those HPI coils are at the cardinal landmark locations (and might always be), so we could add e.g. `raw.add_fiducials_from_hpi()`. This would see if there are exactly three coils that are candidates for cardinal points (z=0, and then x=0 for one and y=0), and then would make duplicate entries fo

[2017-09-22 13:14] larsoner commented on #4589
Another option is to make the coreg gui magically do this, but I'd rather have people be explicit, and we use cardinals elsewhere so it would be nice to *always* have them in `info['dig']`, so I don't like that option.

Yet another option is to always do this detection and add the HPI points as cardinal points in `read_raw_ctf`, but I'm not convinced this is as useful, as it doesn't fix the proble

[2017-09-22 13:21] christianbrodbeck commented on #4589
Could we add a `Info.get_cardinal_point(s)` method that is sensitive to its contents?

[2017-09-22 13:23] larsoner commented on #4589
Yes but it's not as useful. We have a lot of functions that use `info['dig']`, if we add entries to `info['dig']` all of these will just work (and probably should just work). If we make a method to get it, we need to modify all of them.

[2017-09-22 13:29] christianbrodbeck commented on #4589
I know, but it will work with data that has already be converted... more work but better user experience? I don't have a strong feeling though as I don't use CTF :)

[2017-09-22 15:56] kingjr opened #4594 "FIX: bad decimate surface example?"
@dengemann everything is commented it out in this example:

https://martinos.org/mne/dev/auto_examples/forward/plot_decimate_head_surface.html

[2017-09-22 16:13] dengemann commented on #4594
Indeed, hell!
On Fri, 22 Sep 2017 at 18:09, Jean-Rémi KING <notifications@github.com>
wrote:

[2017-09-22 19:23] bdyetton commented on #4396
Hmm, you're right. It appears that the issue occurs when I have just written a file and try to load it again right away.

If the names are: ```P3_20Hz-60Hz_Env_Filt``` then they get clipped to something like ```P3_20Hz-60Hz_En```
I will close this issue for now, but you may want to add that the ch_names have a max length when ```save```ing or fix the clipping in the ```read_raw_fif``` (I'm not sur

[2017-09-22 19:23] #4396 closed

[2017-09-23 03:26] larsoner commented on #4396
I've retitled the issue to make it about channel names and will reopen it. It is probably a limitation of the FIF format that we need to document, but we'll need to check.

[2017-09-23 06:45] agramfort commented on #4589
+1 to simply user experience

I would propose some magic in coreg unless the same magic needs to be
propagated
in other places

[2017-09-23 06:49] agramfort commented on #4594
pushed the fix in master

[2017-09-23 06:49] #4594 closed

[2017-09-23 15:05] smgutstein opened #4599 "MNE python not passing unit tests"
I'm not certain if I should keep bringing issues like this up, but I just downloaded mne-python:

[code]
and failed the following test:

[code]
My UnitTest results can be summarized as follows:
`Summary:  1 failed, 654 passed, 60 skipped, 2 deselected, 155 warnings in 481.31 seconds`

Here is my sys_info:

[code]

I seem to fail the `make test` fairly regularly when I download the current version.

[2017-09-24 02:15] kingjr commented on #4589
+1 to simply user experience too

On Saturday, 23 September 2017, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-09-24 13:40] agramfort commented on #4589
let's make this happen this week so we can include it in the release

[2017-09-24 13:44] agramfort commented on #4599
it passes for me

In [2]: mne.sys_info()
Platform:      Darwin-16.7.0-x86_64-i386-64bit
Python:        3.6.2 |Continuum Analytics, Inc.| (default, Jul 20 2017,
13:14:59)  [GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
Executable:    /Users/alex/anaconda/envs/mne/bin/python
CPU:           i386: 8 cores
Memory:        16.0 GB

mne:           0.15.dev0
numpy:         1.13.1 {blas=mkl_intel_lp

[2017-09-24 14:15] agramfort commented on #4396
with this https://github.com/mne-tools/mne-python/pull/4600
the problem should not happen again.

[2017-09-24 17:41] larsoner commented on #4599
On OSX I could not do the exact environment due to conflicts:
[code]
But when using SciPy 0.19 I can't replicate. I'll give Linux (where I probably can replicate the same env) tomorrow.

[2017-09-24 19:48] larsoner commented on #4589
Okay if we don't want to make people do it explicitly we can do something like @christianbrodbeck suggested. I'll try this week

[2017-09-25 07:46] #3702 closed

[2017-09-25 13:24] #4403 closed

[2017-09-25 14:51] larsoner commented on #4599
I also can't make this environment in Linux using Anaconda due to unsatisfiable dependencies. I must use `numpy=1.11` to get it to build. I can get one with this config:
[code]
But it passes.

I was finally able to reproduce it by using my system's Python (which I noticed you were using), PR forthcoming.

[2017-09-25 17:18] #4599 closed

[2017-09-25 17:57] larsoner opened #4604 "API: Remove `loose=None`"
After ￼ #4562 lands, we should remove `loose=None` support via deprecation.

[2017-09-25 19:33] avkasdan commented on #4589
We're a bit lost

What are cardinals?

And why does the coregistration work with `mne_analyze` but not `mne.gui.coregistration`.

JR

[2017-09-25 19:40] larsoner opened #4605 "BUG: Limiting to 15 chars breaks examples"
So limiting the output to 15 chars broke the example that uses virtual channels:

https://circleci.com/gh/mne-tools/mne-python/5902

Options:

1. Warn on setting, truncate only on write (round-trip is broke).
2. Change the virtual names not to be `_virtual` anymore but maybe `_v` or something more likely to fit.
3. Change logic for pairing to use channel locations rather than names (harder to do).

[2017-09-26 06:48] joewalter commented on #4604
IIRC, this is already part of #4312.

[2017-09-26 07:53] agramfort commented on #4605
arfff

let's just add _vl and not _virtual to make it shorter?

[2017-09-26 13:28] larsoner commented on #4604
@joewalter do you want to take parts of #4312 to take care of this? If not, I'm happy to do it. It would be good to get it done quickly though since it's one of the last few remaining 0.15 blockers.

[2017-09-26 13:42] kingjr opened #4606 "BUG: sklearn cross_val_predict changed, now incompatible with SlidingEstimator with predict proba"
sklearn `cross_val_predict` has recently changed, and is now incompatible with SlidingEstimator with classification estimators, as it requires `n_classes`

[code]

Three possible fixes:
~~1) Detect when `base_estimator ` is classifier, and add n_classes attribute to SlidingEstimator~~
2) make `mne.decoding.cross_val_multipredict`, similar to `mne.decoding.cross_val_multiscore`
3) add a 'method' ar

[2017-09-26 13:49] agramfort commented on #4606
don't we use cross_val_predict only in examples? if so why not passing
n_classes in our examples code?

[2017-09-26 13:53] kingjr commented on #4606
I don't understand.

It's more general issue of making SlidingEstimator compatible with sklearn, not just an example issue.

[2017-09-26 13:56] agramfort commented on #4606
what do you want to do? what code breaks and should not?

[2017-09-26 14:03] kingjr commented on #4606
? Please read above description, and possible fixes.

[2017-09-26 14:18] larsoner opened #4607 "API: sklearn deprecations"
In our doc builds:
[code]
Do any `sklearn` folks have time to fix this before 0.15?

[2017-09-26 14:47] larsoner commented on #4607
Actually I think I can get it in #4608

[2017-09-26 16:16] #4605 closed

[2017-09-26 16:16] #4607 closed

[2017-09-26 16:58] larsoner commented on #4604
We also need to fix the bug introduced by #4562:

https://circleci.com/gh/mne-tools/mne-python/5918

[2017-09-26 19:22] larsoner commented on #4584
@choldgraf I think this was yours, if so can you make a quick PR?

[2017-09-26 19:25] agramfort commented on #4606
you need to add this:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/model_selection/_search.py#L553

to our metaestimators

[2017-09-27 03:41] kambysese opened #4612 "BUG: plot_projs_topomap throws RT error for EEG layout"
Here is the gist I used to reproduce the error with sample data
[code]

Here is the trace

@larsoner

[2017-09-27 08:37] syedumaramin opened #4613 "Using CHB-MIT seizure dataset in EDF format"
I was wondering how could I use MNE for CHB-MIT seizure dataset classification which does not have stim channel and hence I can not find events.

[2017-09-27 10:13] MichlF opened #4614 "Amplitude scale"
Hi all,

It was suggested to me to post my feature request/suggestion on github instead of via the mailing list, so here it goes:
There is currently no indication of the amplitude scale when inspecting individual epochs. I am doing visual research and I sometimes use the VEOG and HEOG channels to identify eye movements. Oftentimes there is a clear relationship between e.g. the size of the eye move

[2017-09-27 10:39] claire-braboszcz opened #4615 ""ImportError: No module named parallel" when launching mne"
Step to reproduce (`python 2.7.12`):

- install `mne` from git using [these instructions](http://martinos.org/mne/dev/install_mne_python.html#install-the-mne-module) (`python setup.py develop`)
- run `mne`

Fix:

In `mne/decoding/search_light.py`, replace `from .parallel import parallel_func` by `from ..parallel import parallel_func`

(since `parallel.py` is not in the same directory, I wonder why

[2017-09-27 11:05] agramfort commented on #4615
there is 2 "." in our code:

https://github.com/mne-tools/mne-python/blob/master/mne/decoding/search_light.py#L9

[2017-09-27 11:09] agramfort commented on #4613
please share a file or tell us what you typed to try

[2017-09-27 11:12] agramfort commented on #4614
I think it's a useful feature indeed

we would need to have such scale bars for each visible channel type

[2017-09-27 11:25] syedumaramin commented on #4613
the CHB-MIT eeg database has no annotation channel so how can I use MNE to find events like seizure.
It gives error that " no STIM channel found

[2017-09-27 11:29] agramfort commented on #4613
how are stored the annotations? in the edf file?

please give me an example file

[2017-09-27 11:46] syedumaramin commented on #4613
Here is the link for the files. These are edf files and seperate annotation file but no annotation channel
https://physionet.org/physiobank/database/chbmit/

[2017-09-27 12:01] agramfort commented on #4612
I agree that this should work

import mne
from mne.datasets import sample
from mne.preprocessing import compute_proj_ecg, compute_proj_eog

# getting some data ready
data_path = sample.data_path()
raw_fname = data_path + '/MEG/sample/sample_audvis_filt-0-40_raw.fif'

raw = mne.io.read_raw_fif(raw_fname, preload=True)
raw.set_eeg_reference()
raw.pick_types(meg=True, eeg=True, ecg=True, eog=True, st

[2017-09-27 12:17] claire-braboszcz commented on #4615
that's weird as I installed from scratch... anyway, good to know

[2017-09-27 12:26] agramfort commented on #4613
I have no problem reading a file with current master:

raw = mne.io.read_raw_edf('chb01/chb01_01.edf', stim_channel='auto')

the annotation of seizures are stored outside of the edf AFAIK see
eg chb01_03.edf.seizures

don't bother about stim channel

[2017-09-27 12:27] agramfort commented on #4615
how did you install?

[2017-09-27 12:53] #4615 closed

[2017-09-27 12:56] syedumaramin commented on #4613
thanks but how can i find events for classification purpose

[2017-09-27 13:41] kingjr commented on #4606
Ok I tried, but it's more complicated than this, because now, sklearn `cross_val_predict` initialize the shape of `y_pred` array based on the number of samples and the number of classes. However, with `SlidingEstimator`, `y_pred` is of shape `(n_samples, n_times, n_classes)`.

This leaves us with options 2 or 3.

[2017-09-27 13:46] syedumaramin commented on #4613
Ho can I find events in a file with no annotation channel

[2017-09-27 14:46] agramfort commented on #4613
you need to read the seizure file and do the maths to know where it
corresponds to in the file. this is not an MNE problem.

[2017-09-27 14:47] agramfort commented on #4606
then we need cross_val_multipredict ...

[2017-09-27 14:55] kingjr commented on #4606
I think I join you on the '...'

Shall I try to get this for the release, or is it better to give us some time to think?

The quick fix for now is to do e.g.

[code]

[2017-09-27 15:40] #4613 closed

[2017-09-27 17:53] syedumaramin commented on #4613
@agramfort , thanks

[2017-09-27 19:21] #4589 closed

[2017-09-27 22:11] kingjr commented on #4419
IMO, we need to fix/complement the install documentation before the release.

### 1. Mayavi:
On fresh mac os (El Capitain) install + anaconda with python 2.7, mayavi/pysurfer fail.
We seem to need to do `conda remove navigator-updater; pip install vtk mayavi PySurfer`.

On Ubuntu (16.04), (and, IIRC after matplotlib upgrade), I have repeatedly needed to do:
`conda remove mayavi; install mayavi --u

[2017-09-28 01:12] larsoner commented on #4419
I agree it could be better. Someone needs to find the time to really beef it up. I won't have it because I'm working on too many other bugs and spread too thin currently. Personally I'm hoping #4570 and eventually #4523 will take care of it, because then the installation instructions can be:
[code]
... and this env will be tested on Linux, OSX, and Windows CIs. But maybe this won't happen soon eno

[2017-09-28 09:25] choldgraf commented on #4419
What if we just agreed to backplate these documentation changes when we
merge them? I agree this is super important... Just haven't had time
because I'm on vacation in England right now.

On Thu, Sep 28, 2017, 2:12 AM Eric Larson <notifications@github.com> wrote:

[2017-09-28 16:09] cjayb opened #4621 "BUG: resampling of events with raw instance"
Given an `events`-array from the original file, `raw.resample` can return the new (resampled) events times. I found an insidious bug: the `raw.first_samp` is not taken into consideration when returning the new event samples (times). This results in the resampled events repeating the same time sample when `events[sid, 0] > raw_rsl._data.shape[1]`. PR will follow.

[2017-09-28 18:34] choldgraf commented on #4419
Also, can we come up with some actionable ways in which the documentation for installation should be improved? It seems like there is disagreement about how best to do this / what information needs to be in there. I am happy to give a shot at a PR, but it is hard to know what we should say as the "best" approach. (e.g. I still haven't really gotten mayavi working reliably on my system so am hesita

[2017-09-28 18:35] choldgraf commented on #4419
Also, can we come up with some actionable ways in which the documentation for installation should be improved? It seems like there is disagreement about how best to do this / what information needs to be in there. I am happy to give a shot at a PR, but it is hard to know what we should say as the "best" approach. (e.g. I still haven't really gotten mayavi working reliably on my system so am hesita

[2017-09-28 19:22] kingjr commented on #4419
installing pysurfer / mayavi through pip or mayavi crashes.

In my experience, this does not solve the dependencies issue. I had to manually remove `navigator-updater` else it wouldn't work. This happened on multiple platforms, including mac OS X and ubuntu with fresh anaconda installs.

Don't you need those for making the bems (`make_watershed_bem`) and the surface?

That's ok IMO, as long as the

[2017-09-28 19:33] larsoner commented on #4419
None of those commands require MNE-C anymore. You are right that `make_watershed_bem` and `mne_make_scalp_surfaces` require FreeSurfer, but the others do not. So I think we're just talking about making these last two easier to work with in some way.

These two functions are actually just thin wrappers around FreeSurfer calls. (I think they're mostly provided for historical purposes?) If you are al

[2017-09-28 19:47] #4584 closed

[2017-09-28 20:15] kingjr commented on #4419
Ok; I agree with just adding `recon-all `mri_watershed` and `mkheadsurf`to the documentation. The paths / env variables etc wouldn't be an issue anymore. Thanks

[2017-09-28 20:16] choldgraf commented on #4419
another plug here to make suggestions as actionable and straightforward as possible, unless y'all wanna open the PR ;-)

[2017-09-28 20:31] kingjr commented on #4419
@choldgraf you're right. IMO, two PRs would be useful:

#### 1. Clarifiy dependencies
* add a quick tutorial in `Documentation > Source-level analysis > prepare anatomical data` and/or in the [cookbook](http://martinos.org/mne/dev/manual/cookbook.html#anatomical-information),  that includes a shell script including `recon-all`, `mri_watershed` and `mkheadsurf` for a given subject.
* perhaps explic

[2017-09-28 20:32] #4612 closed

[2017-09-28 20:33] larsoner commented on #4419
I can do (1) with @kingjr as a tester once the dust settles on the release. I won't have time before.

For (2) we could tell people to use our current `environment.yml` (#4570) with `ETS_TOOLKIT=wx` env var. It should work. But we should really test it for some months before advertising it.

[2017-09-28 20:38] #4368 closed

[2017-09-28 20:38] #4393 closed

[2017-09-29 09:38] #4621 closed

[2017-09-29 15:13] larsoner commented on #4419
Okay so over in #4626 I've confirmed that Linux/OSX/Windows can pass tests with the `environment.yml`. Locally I need to do `ETS_TOOLKIT=wx` before running any interactive Mayavi stuff to prevent conflicts with `matplotlib`. However, there is a way to automatically have the environment (when doing `source activate mne`) set env vars. I'm using it locally and it works. After 0.15 lands, we could mo

[2017-09-29 15:36] kingjr commented on #4419
Yes, wx has been a successful backend on linux for me sofar, just requires
installing pythonwx.

I'm not sure what's the best decision with regard to waiting or not for
pyqt5

On 29 September 2017 at 11:13, Eric Larson <notifications@github.com> wrote:

[2017-09-29 15:42] larsoner commented on #4419
The advantage is that you can use `matplotlib` 2+ which has some nice enhancements. Also numpy/scipy/scikit-learn etc. are all more up to date in the 3.6 environment because they aren't held back by old mayavi/vtk etc.

Here is some pseudo-documentation to get people off the ground if they want to try either environment. They can be tested with `python -i tutorials/plot_mne_dspm_source_localizatio

[2017-09-29 18:45] jjnurminen commented on #4350
Looks cool - I have also seen many people who absolutely will not get into Python, but would benefit from having some of the mne-python functionality available.
As a suggestion, having myself developed some modest PyQt applications, I would really recommend learning Qt Designer.

[2017-09-29 21:37] #4604 closed

[2017-10-02 08:20] cbrnr opened #4631 "find_ch_connectivity doesn't find EEG templates"
It looks like `mne.channels.find_ch_connectivity` only searches for MEG template files. This means that it doesn't work for EEG montages such as e.g. "biosemi64", even though a template exists. I think a note should be added in the docstring to clarify this behavior. Also, the note in `mne.channels.read_ch_connectivity` should be changed. Ideally, a good separation of the two functions is that `re

[2017-10-02 12:49] agramfort commented on #4631
PR welcome

[2017-10-02 13:22] cbrnr commented on #4631
OK - I guess clarifying the docstrings is sufficient (the other alternative would be to add support for automatic detection of EEG montages).

[2017-10-02 19:37] agramfort commented on #4631
if you think the automatic way can have a low enough failure mode sure why
not.

[2017-10-02 19:52] kingjr opened #4634 "BUG: kit data not readable anymore"
Apparently some KIT data aren't readable any more, although they used to be:

[code]
gives
[code]

but was running fine before, e.g. works ok on be75edaeabdd68628cf7bb7fed385deb8c966c2e

cc @teonbrooks @larsoner @christianbrodbeck

[2017-10-02 19:53] kingjr commented on #4634
data available here: https://wetransfer.com/downloads/43dd543c430906d9201f49b9b8aaf30520171002194824/551a677908caa8c7951ba80cd9453f8320171002194824/4813e6

[2017-10-02 19:53] larsoner commented on #4634
Can you `git bisect` to find the problem?

[2017-10-02 19:55] christianbrodbeck commented on #4634
I inserted that check when updating the SQD reader based on code from KIT. Since KIT had that check it seemed safer to include it. We could skip the check but risk unknown errors. Alternatively you can read and re-save the file with MEG160.

[2017-10-02 19:56] larsoner commented on #4634
Perhaps we should just emit a warning that the read might fail or that the data may be corrupted

[2017-10-02 19:57] kingjr commented on #4634
+1 for warning, I suspect many of the KIT data acquired at NYU (New York) will have this issue, and we cant expect people to go to mne history and transform the sqd into fif

[2017-10-02 20:00] christianbrodbeck commented on #4634
Is the data in question newly acquired? I guess that would mean your acquisition computer is running a very old version of MEG160. I thought ours here is ancient and its files can be read :)

To prevent people from missing warnings among other log messages we could raise an error unless a parameter like `unsupported_format` is set to `True`? Either is fine with me. I can make a PR.

[2017-10-02 20:02] larsoner commented on #4634
I guess we do something similar for Neuromag data with `allow_maxshield=False` (error if not True), so I'm fine with `allow_unknown_format` or something similar. What do you think @kingjr ?

[2017-10-02 20:09] christianbrodbeck commented on #4634
Actually, for the GUI we would need something like that, so we can watch for an exception and display a warning message.

[2017-10-02 21:29] kingjr commented on #4634
Last year

Looking at the acquisition server running on windows NT, I wouldn't be surprised...

No strong preference, as long as I can read my data again.

[2017-10-02 22:18] christianbrodbeck commented on #4634
Just a heads up, it's not going to be trivial, the old file apparently does not store gain information in the way we're now reading it... we will probably have to bring back the hard coded system-specific parameters....

[2017-10-03 12:07] #4631 closed

[2017-10-03 15:02] kingjr opened #4639 "ENH/FIX: mne_analyze allows fitting with eeg electrodes, not mne.gui.coregistration"
`mne_analyze` allows you to fit the trans thanks to the position of the EEG electrodes, whereas `mne.gui.coregistration` doesn't seem to take the EEG chans into account to do the fitting.

Consequently, if we only have electrode positions, we cannot do the fitting and must rely in fiducials only. Ideally, we should have the option to force using  the EEG electrodes' position for the fitting.

As @

[2017-10-03 16:07] choldgraf commented on #4419
Just a thought: can we make mayavi a soft dependency? As in, it doesn't get installed by default and throws an error if you try to do 3D viz without having it installed? I'm worried that, especially for beginners, it becomes a big blocker to *any* MNE functionality, even though there's tons of stuff you can do with MNE that has nothing to do with 3D viz...

[2017-10-03 16:10] larsoner commented on #4419
You mean in the `environment.yml` that we're trying to build? The only reason we really need it is to get Mayavi working. From what I've seen Mayavi causes 99% of the problems with Anaconda for us. If you don't want Mayavi, everything pretty much works with `conda install numpy scipy matplotlib ...` so I'm not sure we even need the `environment.yml` at that point (even the default Anaconda distrib

[2017-10-03 16:32] choldgraf commented on #4419
gotcha - maybe this is just a documentation thing. Maybe just worth highlighting that mayavi is not required and may cause headaches if it is used. I don't like that we still have to recommend people use python 2 over python 3 at the very beginning of install instructions :-/

[2017-10-03 16:46] kingjr commented on #4419
IMO it's better to say we require python 2 with a working mayavi, than
python 3 and a non working mayavi.

On 3 October 2017 at 12:32, Chris Holdgraf <notifications@github.com> wrote:

[2017-10-03 17:21] teonbrooks commented on #4634
@kingjr, is this the case for other files acquired on the NY system?

[2017-10-03 18:13] kingjr commented on #4634
IDK, can you try it?

On 3 October 2017 at 13:21, Teon L Brooks <notifications@github.com> wrote:

[2017-10-04 06:56] cbrnr opened #4642 "Units of PSD wrong?"
`mne.raw.plot_psd` labels the PSD with either "uV/sqrt(Hz)" (if `dB=False`) or "uV/Hz (dB)". Both seem to be incorrect as they should be "uV**2/Hz" and "dB", respectively.

[2017-10-04 09:40] wmvanvliet opened #4643 "Permutation cluster tests should compute vertex connectivity explicitly"
This has bitten two of my coworkers in the ass. The permutation clustering examples on source space (e.g. https://martinos.org/mne/stable/auto_tutorials/plot_stats_cluster_spatio_temporal.html) use this to compute the connectivity between vertices:

    connectivity = spatial_tris_connectivity(grade_to_tris(5))

However, this is not always appropriate, depending on mixtures of old freesurfer brain

[2017-10-04 11:13] larsoner commented on #4642
The former is correct as we do the square root:

https://github.com/mne-tools/mne-python/blob/master/mne/viz/raw.py#L582

The latter is a bit loose in the terminology. I don't mind saying `uV**2/Hz (dB)`, because we are showing data that (formerly) had those units that has been converted to dB, but if purity (or possibly clarity?) is important we can go with just `dB`.

[2017-10-04 11:19] larsoner commented on #4643
When we do this we'll also want to fix `spatial_src_connectivity` to work for `oct` source spaces. It seems like both should just use `spatial_tris_connectivity` under the hood, not sure whether or not they do currently.

[2017-10-04 11:30] cbrnr commented on #4642
Why? Technically this is an ASD.

Regarding the decibel issue, yes, you could even add a suffix such as e.g. dBV, but this is not SI compatible. The current label if fine although I'd slightly prefer the pure dB.

Just to make sure, are you saying that `dB=False` produces an ASD whereas `dB=True` produces a PSD?

[2017-10-04 11:30] wmvanvliet commented on #4643
`spatial_src_connectivity` calls `spatial_tris_connectivity` under the hood, yes.

[2017-10-04 11:35] cbrnr commented on #4642
Then I vote for changing that to a PSD (i.e. dropping the square root) - unless there is a good reason for having the ASD.

[2017-10-04 11:37] larsoner commented on #4642
The noise plots in linear units for MEG are often shown in these units

[2017-10-04 11:54] cbrnr commented on #4642
The docs only mention PSD. Let's either update the docs or add an option to really compute a PSD or ASD (irrespective of the choice of `dB`).

[2017-10-04 12:01] larsoner commented on #4642
PR welcome

[2017-10-04 12:09] aweinstein commented on #4642
I can give the PR a try. Just to be clear, the right thing to do is to have an extra parameter to choose between PSD an ASD, and and let dB just set the units? Something like

[code]

[2017-10-04 12:59] larsoner commented on #4419
Okay over on #4641 I think we've finally arrived at an environment that works. 3.6, latest numpy/scipy/matplotlib/mayavi, and CIs pass on Linux, OSX, and Windows. I propose that we add this to the doc, tagged as **exerimental** for 0.15. Then lots of us (and CIs) test it for a while and if it's all good, use it as the default instructions for 0.16. Thoughts?

[2017-10-04 13:09] choldgraf commented on #4419
+1

[2017-10-04 13:24] wmvanvliet commented on #4419
This has been working better for me than my previous mess with python2, so yes, +1!

[2017-10-04 15:05] larsoner commented on #4419
Updated doc

https://6073-1301584-gh.circle-artifacts.com/0/tmp/circle-artifacts.2fIiuDA/html/install_mne_python.html

[2017-10-04 15:11] choldgraf commented on #4419
def an improvement!

--

On Wed, Oct 4, 2017 at 8:05 AM Eric Larson <notifications@github.com> wrote:

[2017-10-04 15:13] aweinstein commented on #4642
OK, although I still find confusing mixing the concepts of db/linear with PSD/ASD.

[2017-10-04 15:21] larsoner commented on #4642
Perhaps just a doc update is sufficient?
[code]

[2017-10-04 15:32] cbrnr commented on #4642
But I'd like to be able to plot a PSD with units uV**2/Hz too.

[2017-10-04 15:37] larsoner commented on #4642
Okay so we do need the new parameter then. @aweinstein we'll have to live with the mixing for backward compatibility purposes.

[2017-10-05 01:04] bdyetton opened #4647 ""NO_DATA" when epoching data after crop, save, load"
Hi MNE Team,
It seems, that per[ this discussion,](https://mail.nmr.mgh.harvard.edu/pipermail/mne_analysis/2016-April/003249.html) that epoching raw data that has previously been cropped, saved and loaded again will cause any epochs outside the previous crop area to be dropped due to "NO_DATA".

I've just run into this problem myself and had to apply the ```raw._first_samps[0] = 0``` fix as sugges

[2017-10-05 01:12] bdyetton opened #4648 "Feature Request: Migrate MNE discussion to something like discourse"
Hi MNE Team,
I find the mailing list discussion of MNE issues a little outdated.
I'm opening this feature request to migrate to something like [discourse ](https://try.discourse.org/). It makes finding relevant issues is much easier, and it seems to be better indexed by Google.
I know you guys are super busy, and this should not be a high priority feature, but I thought I would log it here in case

[2017-10-05 02:09] larsoner commented on #4647
Can you isolate / reproduce the problem with the sample dataset (`mne.datasets.sample.data_path()`)?

[2017-10-05 02:09] larsoner commented on #4647
(And if not, can you reproduce it with a dataset of your own that you can share?)

[2017-10-05 06:27] bdyetton commented on #4647
[Here](https://drive.google.com/open?id=0BzCaZAqMQTL6cEpERmlMNVJaT0k) is the data that is having the issue.

[code]

[2017-10-05 09:45] agramfort commented on #4648
if you have a way to sync a mailman list with discourse that would be neat

[2017-10-05 19:30] bdyetton commented on #4648
Sounds like its [possible](https://meta.discourse.org/t/import-mailman-archives-into-discourse/18537), but not straightforward. It seems like a common request, and the discourse team looks like they are considering a simple sync process. It may be worth waiting until discourse fully features mailman integration.

[2017-10-05 20:11] larsoner commented on #4647
This behavior seems correct to me. You are putting events at sample [0] and [200] and the first sample in your raw data (`raw.first_samp`) is 40890.

[2017-10-05 20:14] larsoner commented on #4647
An average projector with only one channel will zero out the channel. We should probably add some protection against this, though I'm surprised that you don't get a warning about the projector not containing enough of the original channels.

[2017-10-05 21:48] bdyetton commented on #4647
So when cropping, the signal is not removed but instead, the ```first_samp``` is just sent to the start of the cropping? If so, that seems rather unintuitive behavior to me. "Cropping" in all other contexts (except images in MS Word) would remove the data outside of the crop area.

As for the channel going to zero, is it possible to apply the projector (such as an average reference) so that the ra

[2017-10-05 22:41] bdyetton commented on #4647
Oh right, ignore that last question. The ```apply_proj()``` function will do that.

[2017-10-06 00:59] jona-sassenhagen commented on #4606
More generally, I think `cross_val_multipredict` would be useful. (Not volunteering :D)

[2017-10-06 01:01] jona-sassenhagen opened #4649 "BUG: Plotting Cz fails"
With my current setup, plotting a sensor at 0, 0, 0 (e.g., Cz) fails because Numpy returns `False` for an array of all-zeros.

[code]

I'll try to take care of it.

[2017-10-06 03:05] larsoner commented on #4649
We should probably use nan for undefined locations instead of zero, but
that's a hard change to make

In the meantime you can change the check to also look at the z coordinate
earlier in some calling function

[2017-10-06 06:29] bdyetton commented on #4647
Note that the ```apply_proj``` function does not seem to do this, as im still getting warnings about not enough channels and seeing zero'ed channels after applying projections.

[2017-10-06 08:08] agramfort commented on #4647
I agree that cropping should not necessarily reset time axis

I am open to suggestions

[2017-10-06 11:55] larsoner commented on #4647
What do you mean? In what sense does it reset the time axis?

[2017-10-06 12:19] agramfort commented on #4647
I thought it was setting first_samp to 0 but it does not. So I also don't
understand the pb

[2017-10-06 14:00] larsoner commented on #4647
The alternative (resetting the zero position) also results in unintuitive behaviors in this context, though. In the current design, if you crop data into, 3 contiguous segments, find events on each segment, and concatenate the resulting event lists, you get the same event list you would have gotten from the original (neglecting edge effects). The same goes in reverse -- if you find events on the o

[2017-10-06 17:28] bdyetton commented on #4647
Hmmm, yea I see when dealing with events, it would be problematic. I guess there could be a parameter in the crop function that specifies if the axis should be reset or not. Maybe if this parameter is required it will force people to think about it, although that may break old code.
And yes, at least some documentation to the crop function should be added!

[2017-10-06 17:30] hendriksantosa opened #4650 "Apply_inverse problem"
Hi All,

Anyone can help me with the error when I run apply_inverse "EEG average reference is mandatory for inverse modeling, use set_eeg_reference" method.
I don't have an EEG data. Also, I put EEG=False in the argument.
It seems everything looks fine to me. Maybe anyone can help me to find the error.

-----------------
Here is the script
-----------------
    src_morph = mne.morph_source_spaces(

[2017-10-06 20:32] agramfort commented on #4650
what error do you get? Please show us what print(raw.info) gives.

[2017-10-06 20:37] dengemann commented on #4647
Improving the docs is a good idea. I would not suggest to change the API.
The crop API has been there for ages and does its job well.

On Fri, Oct 6, 2017 at 7:28 PM Benjamin Yetton <notifications@github.com>
wrote:

[2017-10-07 08:11] agramfort commented on #4647
agreed

[2017-10-08 15:31] christianbrodbeck opened #4651 "Caching channel interpolation matrix"
Interpolating bad channels on multiple evoked objects can be quite slow, and the bottleneck is computation of the interpolation matrix. When the evoked objects are from the same raw file they ought to have the same bad channels, so the interpolation matrix is redundantly computed multiple times. How about exposing the function to compute the interpolation matrix and adding a parameter to `interpol

[2017-10-08 15:33] agramfort commented on #4651
why not. @jasmainak had similar thoughts for autoreject work. One option I
suggested was to use joblib.Memory but there is maybe a simpler way... do
you have an API in mind?

[2017-10-08 15:44] christianbrodbeck commented on #4651
I was thinking of just adding a public `compute_bad_channel_interpolation_matrix(info)` and adding a parameter to the `.interpolate_bads()` to provide this matrix instead of computing it on the fly.

This would then make it possible to use different methods for caching depending on the situation, i.e., an autoreject function might locally cache them like you suggest, or a user could write them to

[2017-10-08 16:29] agramfort commented on #4651
sounds like a plan

[2017-10-08 17:05] larsoner commented on #4651
This would be a nice first step. Then when the parameter is used in `interpolate_bads`, it can check to make sure it's operating on a compatible input (see below)

IIRC it will depend on `info['dev_head_t']`, the chosen expansion origin, and which channels are being interpolated from/to, although we might be able to relax this last assumption depending on the relative speed of the "self dots" and

[2017-10-08 17:13] larsoner commented on #4651
This is also potentially relevant for #4491

[2017-10-08 20:49] jasmainak commented on #4651
Great initiative! In `autoreject`, I ended up copying the code from MNE and creating a private function called `_compute_dots()` which is cached using joblibs. See the relevant portion of the code [here](https://github.com/autoreject/autoreject/blob/master/autoreject/utils.py#L296-L309). If someone has ideas on exposing this kind of API in MNE, it would be great. That way, it would remove some of

[2017-10-09 01:16] christianbrodbeck commented on #4651
Would it make sense to create a new object to return instead of an array? That way we could store a few properties (like the list of bad channels) that would make it possible to do some sanity checks before applying the matrix. But it would make saving more complicated.

@jasmainak yeah I would suggest for now to expose the function to compute and apply the matrix, and leave the caching mechanism

[2017-10-09 01:18] larsoner commented on #4651
If the object subclasses `dict` it remains almost trivial with `read_hdf5`. Same idea as in #3292 basically.

[2017-10-09 14:24] hendriksantosa commented on #4650
Alex,

Here is the information:

print(raw.info)
<Info | 28 non-empty fields
    acq_pars : 'str | 21614 items
    bads : 'list | 0 items
    buffer_size_sec : 'numpy.float64 | 1.0
    ch_names : 'list | MEG0113, MEG0112, MEG0111, MEG0122, MEG0123, MEG0121, ...
    chs : 'list | 324 items (GRAD: 204, MAG: 102, STIM: 5, EEG: 8, EOG: 2, ECG: 1, MISC: 2)
    comps : 'list | 0 items
    custom_ref_app

[2017-10-09 14:27] larsoner commented on #4650
If you do `raw.pick_types(meg=True, eeg=False)` it should work as a workaround.

We must have some subtle problem where we check for avg eeg ref before all picking is done, as in this case the forward does not / should not have EEG channels.

[2017-10-09 15:11] hendriksantosa commented on #4650
Thank you Eric, the issue has been resolved.

[2017-10-09 15:13] larsoner commented on #4650
Good to hear @hendriksantosa. Let's leave this open because we do have a bug with our checking I think.

[2017-10-09 15:23] jona-sassenhagen opened #4653 "3D permutation tests (e.g. time x space x freq) is too complicated"
MNE can do cluster-based permutation tests on 3D data, but from what I understand, it's fairly complicated and time-consuming to set up the connectivity matrix. Ideally, it would be super cool if we could also assume regular lattice connectivity in the second dimension and have the user only supply the spatial neighbourhood connectivity matrix. Alternatively, we should at least make the doc string

[2017-10-09 15:53] mmagnuski commented on #4653
+1^100 ;)
In general the interface to cluster tests could be simplified, along with results (a specific object with some viz methods?) - but that would require some thought. The lattice assumption makes sense, so far I've been using fieldtrip or custom code in Julia when dealing with > 2d spaces but only rarely these spaces have more complex adjacency structure than lattice for everything apart fo

[2017-10-09 16:43] aweinstein commented on #4642
I need a little help with the PR. I'm just trying to add the `estimate` parameter to the `plot_raw_psd` function, and I get an exception from the `verbose` function. I changed the function call inside the `raw`
class call method `plot_psd`, but I guess I need to change something else. The following is a diff of what I did, and the exception I get:

[code]

[code]

[2017-10-09 16:47] larsoner commented on #4642
That's confusing, the code actually looks okay. FWIW in the meantime we always have `verbose` last by convention, so `estimate` should go before it.

[2017-10-09 16:54] aweinstein commented on #4642
So I deleted `utils.pyc`, and now it works. I'm using the autoreload IPython magic. Perhaps is related to that.

[2017-10-09 16:56] larsoner commented on #4642
FYI you can do `make clean` from the `mne-python` root dir to clean up all of these files

[2017-10-09 17:10] christianbrodbeck commented on #4653
In case it's of interest, I have cluster-based tests like this implemented at http://eelbrain.readthedocs.io/en/r-0.26/reference.html#module-testnd in a framework that was too much statistics-related overhead to add to mne-Python at the time. MEG examples at https://github.com/christianbrodbeck/Eelbrain/tree/master/examples/meg.

[2017-10-09 17:38] aweinstein commented on #4642
Right now we throw a `ValueError` exception when there is a PSD value smaller or equal than 0, *only* if `dB=True`. Should't we throw that exception regardless of the units?

This is the code:

[code]

[2017-10-09 17:47] larsoner commented on #4642
+1

[2017-10-09 18:38] #4419 closed

[2017-10-10 11:08] mmagnuski commented on #4653
Thanks @christianbrodbeck, I wasn't aware of this functionality in eelbrain (I didn't use it previously) - I'll give it a try!

[2017-10-10 13:29] jona-sassenhagen commented on #4649
Uh ... what do you mean? The z coordinate is also 0 ...

I'm not sure how to deal with this, but I'd like to fix it quick, because plot_compare_evokeds with Cz is something I do quite frequently, and expect other ERP people to do frequently too.

[2017-10-10 13:30] larsoner commented on #4649
In Neuromag head coordinates, Cz should not have a z coordinate of zero. It implies a completely flat (like a circle instead of a sphere) head

[2017-10-10 13:51] christianbrodbeck commented on #4653
@mmagnuski Let me know if anything is not obvious how to do!

[2017-10-10 13:58] larsoner opened #4655 "ENH: plot_dipole_locations should be able to use a sphere"
The code from #4633 had to custom plot dipole locations because an MRI is required, but shouldn't be.

[2017-10-10 14:15] jona-sassenhagen commented on #4649
Hm, ok - but these are x,y,z coordinates? Sorry, I don't really get what you're proposing :)

[2017-10-10 14:21] larsoner commented on #4649
Yes they are X/Y/Z but in what coordinate frame? In MNE we assume that EEG electrodes are in Neuromag head coordinates (defined by LPA at (-a, 0, 0), RPA at (b, 0, 0) and nasion at (0, c, 0)) at various places. Thus why an electrode at 0, 0, 0 and also on the surface of the head implies that the head is flat.

In other words:

1. you should try to get your coordinates into this coordinate frame (h

[2017-10-10 14:41] jona-sassenhagen commented on #4649
Oh, ok. So the situation is this:

- the pos is extracted by `_auto_topomap_coords`
- it is then passed through `_check_outlines`
- the check happens inside `_plot_legend`

The problem is, `_auto_topomap_coords` already only returns x and y coordinates.

So when the coords are passed to `_prepare_topomap`, z is already missing.

`_prepare_topomap` does three things: check, split pos into pos_x and

[2017-10-10 14:43] larsoner commented on #4649
These are all private functions. How about we move the sanity check to `_auto_topomap_coords(..., check_positions=False)` by default with `check_positions=True` in this case, meaning "check to make sure there are are valid XYZ positions and raise an error if not". That way we catch the error before any conversion takes place, and `_prepare_topomap` no longer needs to do the check.

[2017-10-10 15:52] jona-sassenhagen commented on #4649
In principle yes, though we probably want to undo the `check_positions` options once nan channels are truly nan.

However, at that stage, _prepare_topomap is seemingly only doing 2 things:
- hide the axes by calling _hide_axes
- converting `pos` into `pos[0, :], pos_y[1, :]`
So the function might look a bit unnecessary at this stage :D

[2017-10-10 15:52] jona-sassenhagen commented on #4649
Either way, I'll hopefully make a PR like that soon.

[2017-10-10 19:02] avkasdan commented on #4634
@christianbrodbeck tried it and it works when I set allow_unknown_format=True and then reads out "Force loading KIT format V2R001"

[2017-10-10 19:12] christianbrodbeck commented on #4634
@avkasdan thanks! That's how I intended it, is that workable? Did you check that the data values are as expected?

[2017-10-10 21:23] avkasdan commented on #4634
They seem to be all there! Will confirm w @kingjr

[2017-10-11 13:23] larsoner commented on #4634
@kingjr do you have time to cross-check? Would be good to have for 0.15

[2017-10-11 17:03] kingjr commented on #4634
I pulled the branch with @avkasdan, so +1 for merging

On 11 October 2017 at 09:23, Eric Larson <notifications@github.com> wrote:

[2017-10-12 01:11] #4634 closed

[2017-10-12 14:43] emilyps14 opened #4660 "vector inverse for epochs data"
A couple of issues with running the tutorial plot_mne_dspm_source_localization with epoch data instead of evoked. Specifically, I am trying to compute a vector inverse using the line:
`stc_vec = mne.minimum_norm.apply_inverse_epochs(epochs[0], inverse_operator, lambda2, method=method, nave=1, pick_ori='vector', return_generator=False)[0]`

Upon further inspection I found some apparent bugs:
1. In

[2017-10-12 14:51] larsoner commented on #4660
The `pick_ori='vector'` is fairly new and AFAIK people have not used it with `apply_inverse_epochs` yet. Your fixes sound reasonable. Do you have time to make a pull request to fix it? We'd want to add some basic test that `apply_inverse_epochs` works -- since the `vector` is linear, we could test that the average of the epoch inverses is numerically equal to the `apply_inverse` on the average (as

[2017-10-12 15:26] emilyps14 commented on #4660
Sure, I'll take a shot at it.

[2017-10-12 18:25] bdyetton commented on #4647
Maybe not a change to the API, but the addition of an optional ```reset_first_sample``` or the like may be helpful. It seems I am not the only one who has hit this issue. However, i guess manually changing the ```raw._first_samps[0] = 0``` fixes the issue. Up to you guys :)

[2017-10-12 18:25] #4647 closed

[2017-10-12 18:27] larsoner commented on #4647
The correct fix is to add `raw.first_samp` to `events[:, 0]`, as then they will work properly with your cropped instance or if you go back to your original data

[2017-10-12 18:29] larsoner commented on #4647
(and will match events you get if you do `mne.find_events(raw_cropped, ...)` on your data, etc.)

[2017-10-13 16:49] kingjr opened #4663 "FIX?: CTF ref meg channels not handled properly in LCMV"
Reconstructing CTF (271 mag + ref meg) using LCMV seems buggy. If I don't explicitly exclude the ref meg, the reconstruction gets dramatically influenced by the ref channels, and lead to seemingly absurd estimates.

I think this is an issue with the way the forward model is used by lcmv.

@romquentin, didn't you have a similar issue at some point?

cc @britta-wstnr @avkasdan

To reproduce the issu

[2017-10-13 19:38] romquentin commented on #4663
I did not see this bug. I usually exclude ref_meg.

[2017-10-15 18:33] ARudiuk commented on #4577
Hello, this still seems to be an issue, and I was wondering if I could help? If the fix is to remove plot_events I can do that in a quick pull request.

[2017-10-15 18:35] larsoner commented on #4577
+1 for removing it

[2017-10-15 18:41] agramfort commented on #4577
go for it

[2017-10-16 10:23] britta-wstnr commented on #4663
This is indeed a bug within the ``lcmv`` code, thanks @kingjr . Working on the fix for it.

[2017-10-16 13:52] agramfort opened #4667 "do volume based group study with ANTS?"
I just saw this:

https://github.com/ANTsX/ANTsPy/blob/master/README.md

I am curious if this could be a viable option to have a group study option using
volume grids as source spaces.

[2017-10-16 20:02] aweinstein opened #4671 "Exception when printing raw.info"
Printing the `info` attribute of a raw object, using 5fac33d, throws the following exception:

[code]
I can print the `info` if I go back to 0c0b8de2. I think the commit that causes the problem is e6fd505ef4e35089ab0b31d69fe371028c79cd53 (but I can't go back to that commit).

This is the `info` value:

[code]

[2017-10-16 20:15] larsoner commented on #4671
Can you `import pdb; pdb.pm()` to find out what the `info` entry is that is causing the problem? It's probably some malformed timestamp that we can make a fix for.

[2017-10-17 00:55] aweinstein commented on #4671
(It was easier to make a PR than to figure it out this pdb business).

I think the problem is that BSD don't have microsecond information in the time of "Start time of recording" field (see [this](https://www.biosemi.com/faq/file_format.htm)).

PR #4672 seems to fix the problem.

[2017-10-17 08:00] agramfort commented on #4671
can you share the file?

[2017-10-17 09:27] #4577 closed

[2017-10-17 12:20] aweinstein commented on #4671
https://www.dropbox.com/s/q9ba8mr3rbqgdqy/01EEG0410_ica_raw.fif?dl=0

[2017-10-17 14:28] jjnurminen opened #4673 "ENH: show channel in plot_evoked_topo()"
In the `plot_evoked_topo` display, the status bar could show which channel you are hovering over. Currently if you want to zoom in to e.g. MEG 1711 you probably will have no idea where it is (unless you are intimately familiar with the sensor layout).

[2017-10-17 14:31] dengemann opened #4674 "BUG?: multiple stim channels API seems broken or at least very unintuitive."
Try the following with the sample data:

[code]

Thoughts @agramfort @larsoner ?

[2017-10-17 14:36] larsoner commented on #4673
That would be great. Usually I click on the channel to have the window pop up and get the name from there, but it's not as convenient as a status bar update would be.

[2017-10-17 14:37] #4671 closed

[2017-10-17 14:40] agramfort commented on #4674
seems like we don't catch bad param values in find_events

PR welcome

[2017-10-17 14:43] larsoner commented on #4674
Yeah we should probably just get rid of support for list. I'm not even sure what the behavior should be, but in any case it's probably less explicit than using single channels and doing logic on the results.

[2017-10-17 14:44] dengemann commented on #4674
The intuition that I had was something like an union over the channels. But this is not what it does.

[2017-10-17 15:33] larsoner opened #4676 "FIX: Improve covariance code"
Ideas from previous discussions:

- [ ] Unify handling of `rank` between `mne/cov.py` and `mne/viz/evoked.py:plot_evoked_white` (esp. `mag` / `grad` parameters)
- [ ] Low rank computation to speed up fitting (esp. for SSS data), adapt from unused bits of #4637
- [ ] Have `maxwell_filter` with movecomp set the `n_components` in `sss_info` to the proportion of time a given MPM was used. (Currently i

[2017-10-17 18:47] #4660 closed

[2017-10-17 20:29] jjnurminen commented on #4674
Just out of curiosity, why would you feed both a combination channel (e.g. STI 014 or STI101) and an individual (single bit) trigger channel (e.g. STI 001) to find_events()? Just the former already contains all the trigger information.

[2017-10-18 09:22] agramfort commented on #4674
see https://github.com/mne-tools/mne-python/pull/4678

[2017-10-18 16:15] #4674 closed

[2017-10-18 16:30] Amyunimus opened #4680 "RuntimeError when using read_epochs"
I'm getting the following error when trying to read in an epochs file that I just created using `epochs.save('test-epo.fif.gz')`. I manually selected just the occipital MEG channels as `picks` for the epochs and BG1-4304 is not among them.

It looks like this issue has come up before and has to do with a calibration channel (or lack thereof), but it was unclear how to fix it.

[code]

[2017-10-18 16:41] larsoner commented on #4680
Have you tried latest `master` or are you on 0.14?

[2017-10-18 17:05] Amyunimus commented on #4680
I was using 0.14.1, but just now tried it on the latest `master` (0.15.dev0) and got the same thing.

[2017-10-18 18:22] agramfort commented on #4680
please share file(s) and a script so we can replicate

[2017-10-18 18:45] Amyunimus commented on #4680
These are the epochs (compressed pickle file, since I can't save it another way): https://www.dropbox.com/s/b9qb64ygodypeic/epochs.pklz?dl=0

And this code should replicate the problem:
[code]
I can provide more code/raw file if needed, but the raw file is enormous, so not as easily sharable. It's CTF.

[2017-10-18 18:58] larsoner commented on #4680
Can you post the lines of code you used for raw->picking->epoching? I suspect that with those we can probably reproduce with existing CTF datasets.

[2017-10-18 19:08] Amyunimus commented on #4680
Here it is (w/o event definition)

[code]

[2017-10-19 01:12] choldgraf opened #4682 "Get MNE to work with Binder"
I think we're close with the `environment.yml` file, but I ran into an error when trying to build with Binder:

[code]

@larsoner thinks that we may need get Xvfb installed as well...which should be possible with `apt.txt` and `postBuild` files!

[2017-10-19 07:01] cbrnr commented on #4653
@jona-sassenhagen I've been struggling with cluster-based permutation tests lately (this is the first time I'm doing this so I'm a complete newbie in this area), and I find the MNE functions rather difficult to use (but mind you, FieldTrip is also not much easier with every option in the `cfg` struct). So any simplification is really welcome!

@christianbrodbeck this is awesome! Thanks for pointin

[2017-10-19 07:03] cbrnr commented on #4642
Fixed in #4654.

[2017-10-19 07:03] #4642 closed

[2017-10-19 07:07] cbrnr commented on #4534
And while we're at it, "Time [ms]" is wrong, units should be in parens and not brackets, so it should be "Time (ms)" (not that I think MNE is using brackets, but it might be worth checking).

[2017-10-19 07:12] cbrnr commented on #4653
Oh, one more thing, do you guys know how this publication/methods relates to the three methods described in http://eelbrain.readthedocs.io/en/r-0.26/reference.html#module-testnd? Is this something new or is it equal to one of the existing methods?

http://www.sciencedirect.com/science/article/pii/S1053811912010300

[2017-10-19 11:07] jona-sassenhagen commented on #4667
I would like to see this.

Not volunteering, I'm helpless in source space.

[2017-10-19 14:08] mmagnuski commented on #4653
@cbnr threshold-free cluster-enhancement is implemented in mne (and eelbrain too IIRC) - you need to pass a dict to treshold parameter of `mne.stats.permutation_cluster_test`.

[2017-10-19 14:10] christianbrodbeck commented on #4653
@cbrnr TFCE is the same method (Smith and Nichols, 2009), except Mensen and Khatami seem to suggest to use e=2/3 instead of Smith and Nichols’ e=0.5. M&K mention empirical support for this in an appendix but I can’t see that appendix in the paper(?). I did not expose e and h in Eelbrain but it would be simple to do if there is a good reason for it.

[2017-10-19 18:40] larsoner commented on #4682
does `postBuild` get sourced or just run? If it's the former the `export DISPLAY=:99.0` that I need will work, if it's the latter it will not. If that's the case, is there some way to specify env vars when launching / setting up binder?

[2017-10-19 18:43] choldgraf commented on #4682
@yuvipanda thoughts on this? do we suggest setting environment variables with `postBuild`?

[2017-10-19 18:56] larsoner commented on #4682
@choldgraf one thing I don't get -- I want to use `mne-tools/mne-python.git:/environment.yml` for my requirements but have the `.ipynb` files from `mne-tools/mne-tools.github.io:/dev/_downloads/*` shown, how do I configure it to do that? I had this:
[code]
But that will point the wrong place for the `.ipynb` files (as they live with our website repo/URL).

I the thing I'd need to do is copy the `e

[2017-10-19 18:58] larsoner commented on #4682
... and actually we need to get `Xvfb` running *before* it tries to install all of the requirements of `environment.yml` (one of the requirements needs access to a screen to build), is there a `preBuild` I can use?

[2017-10-20 09:04] cbrnr commented on #4653
@christianbrodbeck thanks, good to know that there are only minor differences.

@mmagnuski @christianbrodbeck

    eelbrain requires Python '>=2.7, <3.0' but the running Python is 3.6.3

😱

I think I will continue to try MNE's TFCE.

[2017-10-20 09:48] jona-sassenhagen opened #4686 "plot_joint as an axis-level function"
It annoys me that we can't just assign plot_joint to axes. It seems people are doing a lot of these, and it would make things cleaner if we could put them in subplots. For that, it'd have to take an axes argument, which would require redoing how the plot_topomap part gets its own axes.

[2017-10-20 11:50] christianbrodbeck commented on #4653
@cbrnr it's due to the tight integration with wxPython which has not made it to Python 3 yet (although it recently started beta versions), but with conda it's very painless to install.

[2017-10-20 11:53] cbrnr commented on #4653
I think wxPython 4 is already pretty usable on Python 3. But yes, I could set up a conda env with Python 2, I'm just not sure if I want to 😉 . Anyway, I'll probably come back with questions regarding the tests, thanks for the great work implementing all this!

[2017-10-20 12:53] jona-sassenhagen commented on #4538
Hm. I still can't replicate this. I get the 1st plot regardless of if I include a cmap or not. Has this somehow been fixed already?

[2017-10-20 12:57] jona-sassenhagen commented on #4538
The crucial lines are probably:

[code]
here
https://github.com/mne-tools/mne-python/blob/9ac6547284bbd73b4c18d7d7031042585388005c/mne/viz/topomap.py#L606

[2017-10-20 13:56] christianbrodbeck commented on #4653
Yeah I’m planning to look into wx 4, but “pretty usable” does not sound encouraging...

[2017-10-20 14:33] larsoner commented on #4653
Have either of you tried our environment.yml?

[2017-10-20 18:07] christianbrodbeck commented on #4653
@larsoner I would prefer it not relying on development versions... there is no release build of Mayavi that works yet?

[2017-10-20 18:38] larsoner commented on #4653
Released versions of mayavi require PyQt4 which pins matplotlib down to 1.5. If you want to go that route the `environment2.yml` does it

[2017-10-20 18:44] jwe080 opened #4689 "pns_idx referenced before assignment, raw.plot_psd()"
Hi,

I'm reading in EGI mff data with an ECG lead.  When I try to raw.plot_psd() I get the following error

/mne-python/mne/io/egi/egimff.py in _read_segment_file(self, data, idx, fi, start, stop, cals, mult)
    571                     s_end = s_start + samples_read
    572
--> 573                     data_view = data[n_data1_channels:, s_start:s_end]
    574                     _mult_cal_one(dat

[2017-10-20 18:47] #4649 closed

[2017-10-20 18:48] larsoner commented on #4689
Is it easy for you share a small file that we can use to reproduce locally?

[2017-10-20 18:57] cbrnr commented on #4653
@christianbrodbeck no, it really works nicely. A while ago I've ported PsychoPy to Python3, which also involved going from wxPython 3 to version 4. Everything worked almost out of the box. A few changes here and there was all it took.

@larsoner nope, MNE has always worked just fine.

[2017-10-20 21:51] christianbrodbeck commented on #4653
Thanks @cbrnr that sounds much better :) I will look into it as soon as I get around to it. I hope mayavi is compatible with wx 4 as backend. Then Qt4 should not be needed?

[2017-10-22 12:03] timmidee commented on #4538
I can't try right now, but looking at the code you cite (with the risk of saying something stupid here):

If this is done on a map-to-map basis then isn't that the problem?
I.e. the overarching function (plot_joint()) should look at the data for _all_ maps and then consistently pass the colormap to plot_topomap()?

Or perhaps I'm missing the structure of what function calls and/or passes what here

[2017-10-22 16:14] #4360 closed

[2017-10-23 10:40] cbrnr opened #4690 "raw.plot error when there are events and annotations"
When I plot raw data with both events and annotations, I get an `IndexError: pop from empty list` in

    mne/viz/raw.py", line 1025, in _plot_raw_traces
        params['ax'].texts.pop(0)

I didn't realize that there could be other texts besides events in `params['ax'].texts`, so I set `params['ax'].texts = []` in [line 1016](https://github.com/mne-tools/mne-python/blob/master/mne/viz/raw.py#L1016

[2017-10-23 11:42] cbrnr opened #4691 "raw.plot error when adding annotation"
When I plot raw data, press 'a' and then 'Enter' I get the following error:

[code]

This problem also existed in MNE 0.14.1.

[2017-10-23 12:41] agramfort commented on #4690
can you provide a snippet to replicate?

[2017-10-23 12:43] agramfort commented on #4691
with what data?

[2017-10-23 12:54] cbrnr commented on #4691
Some data set we've recorded. I'm currently trying to replicate with a sample data set (but the download process from OSF is really slow).

[2017-10-23 16:50] choldgraf commented on #4682
just confirmed that `apt.txt` is run *before* the language-specific builds, so if we apt-install `Xvfb` then the conda install should find it

[2017-10-23 16:50] choldgraf commented on #4682
though if we *really* need to run shell commands before building anything, a `preBuild` file seems reasonable tho we'd need to discuss on the r2d repo

[2017-10-23 18:41] ktavabi opened #4693 "Possible BUG - fir_design/firwin breaking filtering routine"
Started hitting this error after updating master to recent upstream. @larsoner suspected a bug. Currently, I am on commit b33a26. `fir_design = 'firwin'` seems to be breaking the filtering routine. I was able to reproduce with sample data using...

[code]

Trace...

[2017-10-23 21:18] jwe080 commented on #4689
Attached is a smallish file.

raw = mne.io.read_raw_egi('_20170725_094007_mrr_qrs_obs.mff')
raw.plot_psd()

should reproduce the error (in '0.15.dev0').  The actual cap only has 128 channels so 129 is 'dead', still tracking down why the EGI file comes out that way...  There are 4 'stim' channels that show up too, which were originally events...

(what is the best way to debug these modules? I have

[2017-10-23 23:51] drammock opened #4694 "support dense head surfaces in `plot_alignment`"
There does not appear to be a way to specify whether to use the sparse or dense head in `mne.viz.plot_alignment`.  According to @larsoner this used to be possible with the now-deprecated `plot_trans` function.  Requesting an enhancement to allow this via `plot_alignment`.

The loading of the head surface is handled [here](https://github.com/mne-tools/mne-python/blob/master/mne/viz/_3d.py#L653-L659

[2017-10-24 05:32] ktavabi opened #4695 "MNE Coreg Exception in traits notification handler"
In python 2.7 conda venv `mne coreg` fails to load digitized head points due to

cc @larsoner

![image](https://user-images.githubusercontent.com/4381290/31926205-fb7120a8-b841-11e7-90cf-d45b865c9335.png)

[2017-10-24 06:54] cbrnr commented on #4691
OK, this happens with any data.

[2017-10-24 07:19] agramfort commented on #4691
how do I replicate?

[2017-10-24 07:23] cbrnr commented on #4691
[code]

Then press 'a' and in the annotations window click on "Add label" - voilà!

[2017-10-24 09:47] agramfort commented on #4694
+1

PR welcome

[2017-10-24 12:40] stfnrpplngr opened #4697 "Misalignment of annotations after cropping raw"
Hi,

I have an EEG dataset of one hour length covering several experiments. To mark the pauses between particular experiments as bad, I detect event codes marking their start and end point. After getting the corresponding time, I add it to the annotations variable and save it for further processing. The code is quite the same as in the [example](https://martinos.org/mne/dev/auto_tutorials/plot_art

[2017-10-24 13:29] larsoner commented on #4693
I don't know if the `zero-double` / `firwin` combination has been tested as `zero` / `firwin` are the recommended values nowadays. This is probably a bug, I'll try to look this week.

[2017-10-24 13:31] larsoner commented on #4689
This is how I usually do it. You can use an IDE to set debug points, or if/when you hit an error do post-mortem debugging with `import pdb; pdb.pm()`

[2017-10-24 13:34] larsoner commented on #4682
Yes it needs a display active to `pip install`, so it needs to be apt->Xvfb->pip and I don't think it's possible currently.

[2017-10-24 13:51] larsoner commented on #4694
We could make things like `surfaces='sample-head-dense'` would work by looking for `.surf` and `.fif` extensions, and loading the surface or BEM surface, respectively. WDYT?

[2017-10-24 13:53] aweinstein opened #4699 "raw.pick_channels modify the raw object"
`raw.pick_channels` modify the `raw` instance. The following code shows the behavior:

[code]
Output:
[code]
I think this is either a bug or an undocumented behavior.

The change happens here https://github.com/mne-tools/mne-python/blob/master/mne/channels/channels.py#L760:

[code]

Using `copy=True` change the behavior, but that will change the behavior of `_pick_drop_channels`.

[2017-10-24 13:53] agramfort commented on #4694
I would use head-dense.

cf doc:

*surfaces* : str | list

Surfaces to plot. Supported values: ‘head’, ‘outer_skin’, ‘outer_skull’,
‘inner_skull’, ‘brain’, ‘pial’, ‘white’, ‘inflated’. Defaults to (‘head’,).

[2017-10-24 13:54] larsoner commented on #4699
It is meant to do this by design (all `object.` methods should work inplace like this when possible), do you have time to make a PR to mention this inplace operation?

[2017-10-24 13:54] larsoner commented on #4699
FYI to avoid such behavior you can do `raw_pick = raw.copy().pick_channels(...)`

[2017-10-24 13:58] #4699 closed

[2017-10-24 14:01] aweinstein commented on #4699
I'll do a PR by tomorrow.

[2017-10-24 14:04] larsoner commented on #4694
That's doable but a departure from what is done now. The existing logic actually assumes 1) you've given something like the entire filename as it is in `$SUBJECTS_DIR/$SUBJECT/bem/`, and 2) you're loading a `.surf` file (or one of the surfaces in your already-loaded `bem`). So in cases where people had `sample-head-dense.fif`, it wouldn't load even if supplied `head-dense.fif` because it doesn't p

[2017-10-24 14:10] larsoner commented on #4697
If you are able to 1) add annotations to a raw object, 2) have them be at the correct times, 3) crop the data, and 4) have them be at the wrong times (shifted relative to the data the originally covered) -- and it sounds like this is what you're describing -- then it seems like a bug.

Can you try to simplify this down to a minimal example with the `sample` data that just adds a single annotation,

[2017-10-24 14:15] agramfort commented on #4697
i think it's related to first_samp that should be adjusted when using crop.

[2017-10-24 14:20] agramfort commented on #4694
sample-head-dense.fif is a standard name. I think we can guess it.

+1 for the fix

[2017-10-24 14:40] jwe080 commented on #4689
So I think the bug is on ~line 518 in egimff.py.  The pns data is read regardless of whether it is required ( or in chs_to_read => pns_chans is empty and pns_idx doesn't get assigned. )  Adding the check for len(pns_idx) (or just using that as the switch) on this line should fix things - at least it does for me in this instance.

if 'pns_names' in egi_info and len(pns_chans) > 0:

[2017-10-24 15:27] aweinstein opened #4700 "Undocumented times attribute in Raw and Epoch object"
Both `Raw` and `Epoch` classes have a `times` attribute. However, this attribute is not described in the documentation (see [epoch](https://martinos.org/mne/stable/generated/mne.Epochs.html) and [raw](https://martinos.org/mne/stable/generated/mne.io.Raw.html)).

(I can do a PR).

[2017-10-24 15:30] agramfort commented on #4700
please do

thanks

[2017-10-24 15:59] larsoner commented on #4689
That fix sounds reasonable to me, can you make a PR to fix it?

[2017-10-24 17:29] choldgraf commented on #4682
ohhh....hmm. I assume this is for mayavi? I think that will be tough to implement with build files in binder...we may need to roll a dockerfile in this case :-(

[2017-10-24 19:42] ktavabi commented on #4693
Also working. Will close MNEFUN PR. Thanks.

[2017-10-24 20:05] Amyunimus commented on #4680
Are there any workarounds for this? I'm running into some memory constraints and need to offload the epochs to disk.

[2017-10-24 20:30] agramfort commented on #4680
please provide a full gist using the spm face ctf dataset we have.

http://martinos.org/mne/stable/auto_examples/datasets/plot_spm_faces_dataset.html

[2017-10-24 20:55] Amyunimus commented on #4680
This replicates the ``RuntimeError: Channel BG1-2908 does not appear exactly once in data``  error with the spm face ctf dataset:

[code]

[2017-10-24 20:55] #4693 closed

[2017-10-25 06:03] #4694 closed

[2017-10-25 08:08] cbrnr commented on #4697
Recently I also ran into problems with that pesky `first_samp` attribute that nobody seems to be aware of but MNE is still using sometimes. Time to start a new discussion to get rid of it?

[2017-10-25 08:11] agramfort commented on #4697
the purpose of first_samp if is to have an absolute axis of time so if you
crop you know when it was in the full record.

makes sense?

[2017-10-25 08:12] cbrnr commented on #4697
I know what the purpose is, but this only works if you crop from the beginning of the file. What if I crop in the middle or end? What if I concatenate several cropped files? This is something we routinely do and `first_samp` doesn't help.

[2017-10-25 08:18] agramfort commented on #4697
<img width="1134" alt="screen shot 2017-10-25 at 10 17 27" src="https://user-images.githubusercontent.com/161052/31987963-c2e4c83e-b96d-11e7-8cd9-5f80c54da662.png">

crop updates first_samp cf image. Do you see a potential problem with this?
now if you concatenate data from different runs you're indeed screwed as you don't know anymore more the absolute time of recording.

[2017-10-25 08:23] cbrnr commented on #4697
Plus it only works with .fif files. An option to get rid of first_samp would be nice (which would magically perform everything that makes a file start at time zero, including events).

[2017-10-25 08:31] agramfort commented on #4697
just set first_samp to 0 for non fif files? why is this not enough?

[2017-10-25 08:32] cbrnr commented on #4697
Because people don't know about this behavior.

Maybe we could add a note to `Raw.append` saying that if the individual `raw` objects have a `first_samp` > 0 everything gets mangled, therefore setting `first_samp=0` is recommended in such a case.

[2017-10-25 08:40] jeremygrd opened #4709 "unique channel names"
I'm starting using MNE, and I'm using .cnt files. My problem is that when I try to import the file as a raw file using : mne.io.read_raw_cnt() I get message error saying that the 'channel names are not unique, found duplicate for: set([NULL]). Do you have any suggestions ? I am also using BrainVision file but with this format, this time there is no such error message. Thanks in advance for your su

[2017-10-25 10:00] agramfort commented on #4697
+1 for adding a big warning when merging raws that don't have first_samp ==
0

[2017-10-25 12:28] cbrnr opened #4710 "stim_channel="auto" in read_raw_edf renames stim channel"
The new default for `mne.io.read_raw_edf` in MNE 0.16 will be `stim_channel="auto"`. Using this argument, the stim channel is called `Status` instead of the usual `STI 014`. This causes `mne.find_events` to fail because by default it looks for a channel called `STI 014`. Is this intended?

[2017-10-25 12:35] cbrnr commented on #4710
Not only that, but when I use `stim_channel="auto"` the resulting stim channel in the data contains negative values whereas it looks normal with the previous default of taking the last channel.

[2017-10-25 13:07] agramfort commented on #4710
there is maybe a bug but you can can set a default name for your stim
channels with the set_config

[2017-10-25 13:09] larsoner commented on #4710
Different systems sometime have different names. FWIW the default for the last number of years (10 maybe?) for Neuromag has even been STI101, so all newer systems use this. We usually use STI 014 when we synthesize a new events channel only. So this part is okay I think.

This sounds like a bug

[2017-10-25 13:14] cbrnr commented on #4710
Using the exact same file, the stim channel is called `STI 014` if `stim_channel=True` (the current default) and `Status` if `stim_channel="auto"` (the default in 0.16). This is also a bug. I'm currently trying to find a public EDF file with a stim channel to reproduce this behavior.

[2017-10-25 13:17] larsoner commented on #4697
... or maybe more completely, that don't all have `first_samp == 0` or `first_samp[1] == last_samp[0]`, etc. As this should still work `concatenate_raws([raw.copy().crop(0, 1-1./sfreq), raw.copy().crop(1, None)])` and be the same as `raw`.

[2017-10-25 13:21] stfnrpplngr commented on #4697
Did I misunderstand something? Setting `first_samp` to `0` does not work.

[code]

[2017-10-25 13:40] cbrnr commented on #4710
The problem seems to occur in BDF files and not in EDF files. To reproduce, download the [BDF test files](https://www.biosemi.com/download/BDFtestfiles.zip) (unzip) and run:

[code]

[2017-10-25 15:53] agramfort commented on #4697
we would need a setter for this.

it should be done in the reader.

[2017-10-25 16:02] agramfort commented on #4710
sorry no time to look.

[2017-10-26 09:10] stfnrpplngr commented on #4697
I tried putting a setter to the reader, but did not succeed, would need some help or at least more explanation to do that.

What also works:

[code]

[2017-10-26 11:24] #4700 closed

[2017-10-26 11:32] stfnrpplngr commented on #4697
Here is a minimal example using the sample data:
[code]

First, I automatically set annotations according to event codes in `old_raw`. Then, I cut the `old_raw` data into four pieces which are subsequently concatenated. Intuitively, I would guess that the resulting `new_raw` should look the same as `old_raw`. That is not the case.

[2017-10-26 12:34] jjnurminen opened #4712 "example fails with TypeError on Windows, 32/64 bitness issue"
Trying to run plot_topo_compare_conditions on a Windows machine, it bombs with:

[code]

It looks like events is created as 64-bit unsigned ints, which numpy refuses to cast to 32 bit.
Probably caused by running a 32-bit Python interpreter on a 64-bit machine (I don't have 64-bit Python handy to test with)

[2017-10-26 12:48] agramfort commented on #4712
windows ints are 32 bits even on win64

can it be tested with appveyor?

[2017-10-26 13:36] larsoner commented on #4712
I think we can test 32 bit there, but I doubt that the environment file
will work (although we can try)

[2017-10-26 14:16] agramfort commented on #4712
is it really a win32 issue?

[2017-10-26 17:58] larsoner commented on #4712
In that example we load the events from disk. Maybe that ends up being the problem. @jjnurminen what is the full traceback?

[2017-10-26 18:00] #4673 closed

[2017-10-27 06:42] jjnurminen commented on #4712
[code]

[2017-10-27 07:44] agramfort commented on #4712
what if you change the dtype of self.events something like

self.events = self.events.astype(int)

or anything that works.

[2017-10-27 18:05] jhouck opened #4714 "Figures from plot_connectivity_circle - content cut off"
Hi all,

I'd had this problem with my data and replicated it using the sample data with the plot_mne_inverse_label_connectivity example.  The output includes a black circle floating on a white background; the circle includes the connectivity plot, but the labels are cut off, as are the title and the text of the legend.
![sample_circle](https://user-images.githubusercontent.com/857583/32118214-1806

[2017-10-27 18:07] larsoner commented on #4714
Try `savefig(..., facecolor=fig.get_facecolor())`. By default matplotlib does not save the facecolor

[2017-10-27 18:56] kk1995 opened #4715 "CNT epoch timestamp access"
I am new to MNE so it may be that I cannot find the resource. However, I cannot seem to create epoch objects from .cnt (Neuroscan) data alone, when .cnt data can contain timestamps of stimulus presentation.

One possible solution is to make it possible for mne.Epochs to be derived from .cnt files.

[2017-10-27 19:55] jhouck commented on #4714
Thanks, that did the trick.  And of course now that you say that I can find examples in my old scripts.

Mind if I do a small PR to add this to the two plot_connectivity_circle examples? This would reduce the likelihood of me having the same question a year or two from now.

[2017-10-27 19:56] larsoner commented on #4714
Fine by me, but let's leave the `savefig` line commented out so that it doesn't pollute people's directories when they run the examples

[2017-10-27 20:30] mwaskom commented on #4260
I ended up at the issue while googling something else, but while I'm here, the answer to @kingjr's main problem is to wait to call `%gui qt` *after* mayavi is imported. That will avoid conflict for how the Qt API gets set. There's more info here: https://github.com/ipython/ipython/issues/10384

There's still the Qt4/Qt5 issue, but as it sounds like wx is brittle, a conda environment with a downgra

[2017-10-27 20:47] larsoner commented on #4260
Unfortunately on Anaconda this holds back `matplotlib` to 1.5, and also NumPy/SciPy last I checked.

It's probably worth trying [the integrated Python 3.6 environment file](https://github.com/mne-tools/mne-python/raw/master/environment.yml), as it provides latest NumPy/SciPy/matplotlib/Mayavi + PyQt5 + Python 3.6. Our CIs have been running it for a month and so on Linux, OSX, and Windows and so fa

[2017-10-27 21:17] mwaskom commented on #4260
With base anaconda yes but not with conda-forge, I think. My recipe [here](https://github.com/nipy/PySurfer/issues/217) gets my Qt4 and matplotlib 2.0.

[2017-10-29 15:33] agramfort commented on #4715
if your cnt contains continuous recordings (we call Raw in MNE) then you
will need events
that tell you when stimuli were presented. Then you'll be able to have
Epochs.
Now it's possible that our MNE reader does not properly read your events
present in the file.

[2017-10-29 15:34] #4695 closed

[2017-10-29 15:42] agramfort commented on #4709
what version of mne are you using?

I tried with version 0.15 and I got:

[code]

see numbers appended.

please close if you confirm it's working.

[2017-10-29 17:41] jeremygrd commented on #4709
Thanks, it works, I did not use the latest version of MNE.

[2017-10-29 17:41] #4709 closed

[2017-10-29 21:10] agramfort commented on #4697
@stfnrpplngr have a look at https://github.com/mne-tools/mne-python/pull/4717

I think it fixes your problem.

[2017-10-31 19:45] #4575 closed

[2017-11-01 03:26] aitorme opened #4720 "cannot work with .easy files"
Hi,
I use a mobile EEG from [Neuroelectrics](http://www.neuroelectrics.com/) and their EEG recordings have a file named `.easy` as output. I cannot find any support to read this kind of file in your documentation. I also converted it to .edf with EEGLAB in Matlab, but I got the following error when reading it:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/l

[2017-11-01 08:17] agramfort commented on #4720
try importing the .set file

and use mne.io.read_raw_eeglab

[2017-11-01 12:58] #4580 closed

[2017-11-01 13:01] aitorme commented on #4720
there is not `.set` file created by `Neuroelectrics`, only a file called `.easy`. Do you have a way to convert `.easy` into `.set`?

[2017-11-01 14:19] agramfort commented on #4720
I mean save the eeglab file to .set and not to .edf

[2017-11-02 08:04] aitorme commented on #4720
okay, thanks. I guess it's not possible to work with `.easy` files directly, so I will close the ticket since there is a workaround

[2017-11-02 08:04] #4720 closed

[2017-11-02 15:26] larsoner commented on #4714
Reopening as this came up on the listserv again, we should add to the `plot_circle` and example some mention of this problem

[2017-11-02 17:02] jhouck commented on #4714
I can do this right now

[2017-11-02 18:29] jhouck commented on #4714
Derp, one more thing

[2017-11-02 20:43] larsoner opened #4723 "ENH: plot_alignment with sphere model"
Currently there is no way to determine the "up" direction when using a sphere model. This is fine from a forward modeling standpoint because it doesn't matter, but for checking alignment it actually matters because you can't see if the head is in a reasonable position (i.e., not upside-down). You can check this with `coord_frame='head'` but that's not an optimal solution -- it would be nice if we

[2017-11-02 20:57] agramfort commented on #4723
looks like you have not done enough coding lately :)

[2017-11-03 11:53] jbschiratti commented on #4367
Did someone make a PR for this issue ?

[2017-11-03 12:12] agramfort commented on #4367
no AFAIK
it remains to be done...

[2017-11-03 13:22] samiabboud opened #4724 "confliciting logic?"
Hey there,

I wanted to see with you if I'm missing something when running a spatio_temporal_cluster_test with tail=-1 and tfce thresholds.

It seems that with tail=-1, one must use negative start and step tfce values:
https://github.com/mne-tools/mne-python/blob/966e862b95861de47ffe259bd66c86feece524f6/mne/stats/cluster_level.py#L301-L306

When doing so, the check if thresholds are monotonic fail

[2017-11-03 13:23] mmagnuski commented on #4367
Sorry, I forgot about it. I'll take a stab at it during the weekend.

[2017-11-03 13:26] larsoner commented on #4724
This does seem like a bug. The check should probably be for `< 0` for the case where `tail=-1` and `> 0` (what's there now) otherwise. PR welcome

[2017-11-03 23:41] larsoner opened #4726 "ENH: Make `epochs.apply_baseline` smarter"
It might not really need preloaded data. Even in the preloaded case, it shouldn't need to make a copy (which it does internally). We might be able to pass `picks` to `rescale` to alleviate this problem, or check for idx-as-slice to use views. cc @jasmainak

[2017-11-04 00:26] ktavabi opened #4727 "Force scalp surface routine skip topology check"
Shouldn't `--force` arg allow for skipping topology checks in `mne make_scalp_surfaces`? Presently it's is returning topology error for volume(s) I don't see anything wrong with.

<img width="727" alt="screen shot 2017-11-03 at 5 21 41 pm" src="https://user-images.githubusercontent.com/4381290/32400306-a1df9466-c0bb-11e7-97da-e09eec11b067.png">

cc @larsoner

[2017-11-04 15:41] jshanna100 opened #4728 "Points not visible in mne_gui_coregistration()"
MNE 0.15 running on Python 3.5.4 and Mayavi 4.5.0

I have EEG data with fiducials, channel locations, and skin points defined with a 3D localiser. These were converted to a Digital Montage, and applied to the EEG raw fif file. Viewing with mne.viz.plot_alignment() seems to confirm that this was correctly done (see image), but it just needs to be aligned with the MRI fiducials. Therein lies the pro

[2017-11-04 16:16] jshanna100 commented on #4728
Also produces the following error message upon start; programme does not terminate however:

mne.gui.coregistration(subjects_dir="/home/jeff/mrisubs",subject="sub1")
Exception occurred in traits notification handler for object: <mne.gui._viewer.PointObject object at 0x7f193ca5efc0>, trait: scene, old value: <mayavi.tools.mlab_scene_model.MlabSceneModel object at 0x7f1950329308>, new value: <mayavi

[2017-11-04 16:54] larsoner commented on #4728
Can you try latest `master`? The "running" problem should be fixed there

[2017-11-04 16:54] larsoner commented on #4728
(and the "running" problem could be causing the bad plotting)

[2017-11-04 17:36] jshanna100 commented on #4728
Yes, with 0.16 it is fixed. An alternate hack is commenting out the if statement at line 225 in _plot_points. Thanks!

[2017-11-04 17:58] #4728 closed

[2017-11-05 04:04] ktavabi opened #4730 "Compare evokeds confidence intervals for grads"
Still not clear to me if there is a bug in how confidence intervals for gradiometers in `plot_compare_evokeds` are computed? Using simulation [example](http://www.nmr.mgh.harvard.edu/mne/dev/auto_examples/simulation/plot_simulate_evoked_data.html#sphx-glr-auto-examples-simulation-plot-simulate-evoked-data-py) to illustrate...

<img width="567" alt="screen shot 2017-11-04 at 8 57 31 pm" src="https:

[2017-11-05 09:24] agramfort commented on #4728
did we already backport this fix?

[2017-11-05 16:05] larsoner commented on #4728
Yes in https://github.com/mne-tools/mne-python/commit/f61dc99dba575eddad7360bc98cb88306aa1af44

[2017-11-06 13:41] cbrnr opened #4731 "How do I perform a simple cluster permutation test?"
I don't think that I got this right because the results look weird. I want to compute a simple cluster permutation test on EEG data between two groups (control vs. experimental). I've computed a power measure in a specific frequency band for each channel and stored that in two separate arrays `x1` and `x2` both of shape `(31, 64)`. So each group consists of 31 subjects with values measured at 64 c

[2017-11-06 14:04] larsoner commented on #4731
This could be correct depending on the value you chose for your threshold and the data / noise characteristics of the data.

Can you add a colorbar to the topomap? This could be a correct result (in the sense that the function does what it says it does) if the filled circles all seem to exceed the threshold value used, but you'll have to check the docstring of the `pctest` function (whichever that

[2017-11-07 07:07] TomDonoghue opened #4732 "Error in error message in viz/topomap: points to function in wrong file."
I found (what I think is) a small error in an error printed in mne/viz/topomap.py.

Line 557 defines a message to be printed if, as I did, you mess up the channel pos input (gets printed in lines 561 & 564).

It states:
("Pick Info with e.g. mne.pick_info and "
 "mne.channels.channel_indices_by_type.")

The issue/error is that 'channel_indices_by_type' is not 'mne.channels', but rather in 'mne.io.

[2017-11-07 08:18] ktavabi commented on #4727
@larsoner Does this sound reasonable to you?

- [ ] Add bool arg to `_surfaces_to_bem` inherited from `mne_make_scalp_surfaces`
- [ ] If `--force` then skip `_check_surface_size` for one or all surfs?

[2017-11-07 09:48] agramfort commented on #4732
thx.

fixed in bd1b3184f

[2017-11-07 09:48] #4732 closed

[2017-11-07 09:59] agramfort commented on #4730
yes CIs is broken when you pass gradiometers and they are combined for
plotting but not to estimated the confidence intervals :(

I'll try to look over the next few days unless someone beats me to it...

[2017-11-07 10:30] agramfort commented on #4680
the problem is that MNE saves CTF files without compensation to reading and
writing gives you the same files. Now when you pick channels in CTF
you cannot redo the compensation on read as you miss channels and our code
breaks.

What we should do is to save files with compensated channels and print a
warning.

[2017-11-07 11:28] cbrnr commented on #4731
Thanks @larsoner, good to know that my approach looks correct! I forgot to mention that I'm using `from mne.stats import permutation_cluster_test as pctest`.

You're right, the difference is always in one direction, but this is OK.

Some additional questions:

1. The function doesn't tell me the threshold - we should probably write this info to the logger.
2. It seems like the function does not re

[2017-11-07 12:13] larsoner commented on #4731
Agreed

Agreed, That's copy-paste error because in the paired code (`*_1samp`) it uses a t-test

Did you see [this](https://mne-tools.github.io/stable/auto_tutorials/plot_stats_cluster_methods.html)? We should probably add cross links. We should also document the parameter itself better, as you say.

In general something like the equivalent of `p < 0.05` for your `stat_fun` is a reasonable choice,

[2017-11-07 12:39] cbrnr commented on #4731
But the automatically determined threshold uses `scipy.stats.f.ppf` - isn't this only valid if indeed `stat_fun=f_oneway`?

Yes, I saw that at some point but a direct link would certainly be a good idea! But even this example doesn't explain the TFCE threshold dict.

I'll see what I can do about the multi-factor model case, but this sounds like it could take a while 😄 .

[2017-11-07 12:52] cbrnr commented on #4731
Logging is fixed in #4733, I'll wait for the docstring fix until we've resolved the automatic threshold issue.

[2017-11-07 13:00] cbrnr commented on #4710
@larsoner do you have time to confirm?

[2017-11-07 14:11] larsoner commented on #4731
Yes, and we should probably document that it should only be left as `None` if the default function `f_oneway` is used.

[2017-11-07 14:20] larsoner commented on #4691
I can't replicate in my environment. Maybe it's a `matplotlib` backend issue?

[2017-11-07 14:22] cbrnr commented on #4691
Hm, did you test this on a Mac (with the default `osx` backend)?

[2017-11-07 14:30] larsoner commented on #4691
No, Linux. On my OSX machine with the MacOSX backend I can't get the button presses to go to the window instead of the terminal (even after clicking in the window, etc.).

[2017-11-07 14:30] agramfort commented on #4710
now on current master I get :

[code]

:(

[2017-11-07 14:33] larsoner commented on #4710
I think we need somebody with EDF expertise/knowledge to tackle this one. @cbrnr do you know enough to have an idea of what the right thing would be to do in each of these situations? If so, maybe a table or bulleted list would be good to guide fixes and also add to the `Notes` docstring.

[2017-11-07 14:48] larsoner commented on #4727
I wouldn't skip it but rather turn the error into a warning. If you can share privately the offending surfaces I can take a look

[2017-11-07 16:28] cbrnr commented on #4731
If you have time please go ahead, you are more familiar with this topic. I'd be happy to review if you want.

[2017-11-07 16:32] larsoner opened #4734 "DISCUSS: Stats docs"
People seem to have trouble using our stats code. I think the biggest problem is that our explanations are not so clear. Maybe there are some API simplifications we could make, too, but hopefully rewriting docs will make this clear.

I think we need to make a single tutorial file that has:

1. basic text about stats:
  - null hypothesis
  - parametric statistics (t-test, ANOVA)
  - non-parametric

[2017-11-07 16:37] agramfort commented on #4734
you have my blessing :)

[2017-11-07 16:41] larsoner commented on #4734
anything missing from the list for you? linear regression should probably be in the tutorial, too, but I'd rather let someone else add that (I have limited experience using it)

[2017-11-07 21:16] jasmainak commented on #4734
+1000 me and Jaakko had a lot of trouble identifying the right functions to do stuff. There were too many functions which seemed similar to each other.

[2017-11-08 01:49] jona-sassenhagen commented on #4730
@dengemann

[2017-11-08 08:22] ktavabi commented on #4730
I think I got the CI estimation for grads headed in the right direction with

[code]

But I am still unable to plot them correctly, almost like CI's are scaled differently, and it's got me stumped.
<img width="1605" alt="screen shot 2017-11-08 at 12 09 01 am" src="https://user-images.githubusercontent.com/4381290/32538371-9fb287a4-c41a-11e7-9570-f9dcefde8400.png">

Not sure if this is an inconveni

[2017-11-08 11:42] cbrnr commented on #4734
This is great! Integrating examples with a coherent tutorial text as you suggest would really improve the stats module a lot. I also like the idea to clean up the examples after the general document is done.

As @jasmainak points out, there is a lot of overlap between several functions, especially in the permutation cluster module. For instance, why can't there be just one `permutation_cluster` fu

[2017-11-08 12:04] cbrnr commented on #4691
I get the same error on Linux. Did you press "a" and then click on the "Add label" button?

[2017-11-08 12:10] cbrnr commented on #4691
And this happens as far back as 0.14, which is before I made any commits to this module :relieved: - probably some update to Matplotlib introduced this error.

[2017-11-08 12:12] cbrnr opened #4738 "Add 0.15 as latest release"
Currently, 0.14 shows up as the latest release on the [release page](https://github.com/mne-tools/mne-python/releases), and 0.14.1 is the most recent uploaded release. This should be 0.15.

[2017-11-08 12:15] mmagnuski commented on #4734
I agree with @cbnr - there is a need for a more general, more user-friendly interface to cluster-based permutation tests. I have frequently found people (students for example) confused by the current way clustering tests work.
It would be really cool if we could have and interface where one could do this for example:
[code]
That's a far fetched vision, but at least the first step could be done in

[2017-11-08 12:27] larsoner commented on #4691
Yes

Can't add a simple conditional `if params['ax'].selector is not None` to fix this?

[2017-11-08 12:43] cbrnr commented on #4691
Strange, maybe you have a different Matplotlib or Qt or some other dependent lib version.

Yes, I'll do that (now that I'm pretty sure it's caused by a change in behavior of either Matplotlib or its deps).

[2017-11-08 13:16] cbrnr commented on #4724
Wouldn't it make more sense to require the `start` and `step` values to be always positive? Why should I need to change them just because I want to do a left-tailed test?

[2017-11-08 13:19] agramfort commented on #4738
fixed.

[2017-11-08 13:19] #4738 closed

[2017-11-08 13:23] cbrnr commented on #4710
No, I'm not familiar enough with the internal workings of EDF to do this quickly. I assume @jaeilepp is not available anymore, right? In the worst case, we could revert his changes regarding the stim channel.

[2017-11-08 13:42] cbrnr commented on #4724
On second thought, this might break too much existing code. I've fixed this in #4740.

[2017-11-08 13:43] larsoner commented on #4724
The idea is that it's like saying you want a positive threshold for what are all negative values. It's a bit of an implicit vs explicit distinction.

To be consistent with float arguments to `threshold` we should probably make them negative for now. I see you've done this in #4740 -- thanks.

We could consider allowing positive arguments in both places, and if doing a left (negative value) test, a

[2017-11-08 13:47] larsoner commented on #4710
This seems like a reasonable choice to me, but it's complicated by the changes already existing in 0.15 (and it might work properly for some users in `'auto'` mode, and we would cause them pain with removal). So it's probably better to fix it rather than remove it.

[2017-11-08 13:53] cbrnr commented on #4731
Quick checklist of unresolved issues from this thread:

- [ ] Update docstring to reflect that F-values are returned by default
- [ ] Improve TFCE dict argument documentation
- [ ] Automatic threshold works only if `stat_fun` is the default `f_oneway`

[2017-11-08 14:36] danprec opened #4741 "mne.io.read_raw_edf not working"
I want to use MNE to analyse EEG data in biosemi BDF format, but the mne.io.read_raw_edf() function fails to do so. Here is the error:
[code]
Nowhere in the documentation or on forums it says how to deal with this error. Is there a solution for it?

[2017-11-08 14:52] #4741 closed

[2017-11-08 15:48] cbrnr commented on #4731
OK to close this issue (since my cluster test approach worked) and create new issues?

[2017-11-08 16:03] larsoner commented on #4731
Or just retitle this and put your checklist at the top

[2017-11-08 16:56] stfnrpplngr opened #4742 "problem dropping epochs by visual inspection"
Found a problem regarding dropping epochs. You can try it with the data of the [read epochs example](https://mne-tools.github.io/dev/auto_examples/io/plot_read_epochs.html#sphx-glr-auto-examples-io-plot-read-epochs-py).
Plotting epochs and selecting bad epochs by hand results in a reduction of the total number of epochs. This does not work plotting only the epochs corresponding to a certain `event

[2017-11-08 17:19] larsoner commented on #4731
@cbrnr don't bother, I'm making a PR now

[2017-11-08 17:19] #4731 closed

[2017-11-08 17:21] larsoner commented on #4742
Doing `epochs[...]` will make a copy, not a reference to the original object. So to do what you want, you'd need to use `epochs.selection` and do things manually I think.

Is there somewhere in the docs we can make this clearer?

[2017-11-08 18:12] larsoner commented on #4712
I can't replicate on Windows 10. Which Windows version are you on?

[2017-11-08 18:27] jjnurminen commented on #4712
Windows 7. Thanks for the fix, I will try it tomorrow, right now I'm comfortably far from the Windows machine :)

[2017-11-08 18:27] jjnurminen commented on #4712
Windows 7. Thanks for the fix, I will try it tomorrow, right now I'm comfortably far from the Windows machine :)

[2017-11-08 18:28] jjnurminen commented on #4712
Windows 7. Thanks for the fix, I will try it tomorrow, right now I'm comfortably far from the Windows machine :)

[2017-11-08 18:28] jjnurminen commented on #4712
Windows 7. Thanks for the fix, I will try it tomorrow, right now I'm comfortably far from my Windows machine :)

[2017-11-08 18:28] jjnurminen commented on #4712
Windows 7. Thanks for the fix, I will try it tomorrow, right now I'm comfortably far from my Windows machine :)

[2017-11-08 18:28] jjnurminen commented on #4712
Windows 7. Thanks for the fix, I will try it tomorrow, right now I'm comfortably far from my Windows machine :)

[2017-11-08 18:28] jjnurminen commented on #4712
Windows 7. Thanks for the fix, I will try it tomorrow, right now I'm comfortably far from my Windows machine :)

[2017-11-08 18:29] jjnurminen commented on #4712
Windows 7. Thanks for the fix, I will try it tomorrow, right now I'm comfortably far from my Windows machine :)

[2017-11-08 18:38] jjnurminen commented on #4712
Windows 7. Thanks for the fix, I will try it tomorrow, right now I'm comfortably far from my Windows machine :)

[2017-11-08 20:40] agramfort commented on #4741
why did you close?

[2017-11-09 08:33] #4712 closed

[2017-11-09 08:34] #4691 closed

[2017-11-09 08:45] agramfort commented on #4734
I like the idea of drafting the API and start by how examples would be
simplified showing short and possibly incomplete code snippets

[2017-11-09 08:46] #4726 closed

[2017-11-09 09:58] stfnrpplngr commented on #4742
I tried this:
`epochs[epochs['1'].selection].plot()`
But it doesn't work either, same problem. Is there any way to work on a subset of `epochs` instead of plotting all at once?

[2017-11-09 10:02] agramfort commented on #4742
yes it also makes a copy.

what do you mean work? plot? if so we would need to add a param to plot to
only plot a subset of epochs

[2017-11-09 10:03] stfnrpplngr commented on #4742
By work I mean selecting bad epochs.

[2017-11-09 10:05] agramfort commented on #4742
you need to make new epochs per conditions and work individually.
you can concatenate back if you need.

[2017-11-09 15:02] stfnrpplngr commented on #4742
According to your suggestion, this is my approach:
[code]
It works, but I lose the information about the original timing and indexation.

[2017-11-09 15:05] larsoner commented on #4742
I wouldn't use `concatenate_epochs` (sorry @agramfort). It should be possible to use `epochs.selection` using array manipulation to get the indices back to the original Epochs instance. I see you tried above but it seems like it must be possible. If you're sick of trying I can give it a shot.

[2017-11-09 15:07] #4724 closed

[2017-11-09 15:11] stfnrpplngr commented on #4742
Currently, I have no further ideas how to apply the `epochs.selection` except as indices ...

[2017-11-09 15:14] #4690 closed

[2017-11-09 15:30] larsoner commented on #4742
Argh yes `selection` gets restricted. Fortunately we can use event numbers, though. See if this makes sense:
[code]

[2017-11-13 14:16] stfnrpplngr commented on #4742
Thanks for your help. I think it works that way, with only slight modifications:

[code]

Nevertheless, is it conceivable that in future they will be a param to plot only a subset of epochs without copying? Furthermore, it would be nice if marked epochs would not be deleted immediately. Instead they could get annotated like it is done for segments in `raw`.

[2017-11-13 20:13] jona-sassenhagen opened #4746 "Move evoked topo plot to plot_compare_evokeds"
Evoked topoplots should make use of plot_compare_evokeds.
I.e., something like this

[code]

<img width="764" alt="unknown-49" src="https://user-images.githubusercontent.com/4321826/32746899-ad5ae566-c87c-11e7-916b-9d1695e8aebc.png">

[2017-11-13 20:19] jona-sassenhagen commented on #4734
Joint clusters test function would be cool.

As would `cluster_based_regression`.

For the people I hang out with, a thing they do a lot is select mean activity in some window of activity (mean time points, usually over trials, and sometimes channels) and then run an ANOVA or mixed-effects regression over subjects and conditions. I'd contribute a write-up for that eventually.

[2017-11-14 03:17] jona-sassenhagen opened #4747 "RSA example plot missing"
https://mne-tools.github.io/dev/auto_examples/decoding/decoding_rsa.html#sphx-glr-auto-examples-decoding-decoding-rsa-py

There should be an image here right?

@kingjr @larsoner

[2017-11-14 03:42] jona-sassenhagen opened #4748 "SlidingEstimator(n_jobs=>1) nested in cross_val_multiscore gets stuck"
As the title says - on my Mac, in the Jupiter notebook, when I'm using SlidingEstimator with n_jobs > 1 nested inside cross_val_multiscore (with any n_jobs), the thing simply hangs - no processor utilisation, not results. Anyone familiar with the problem? Should I make a reproducible example?

@kingjr

[2017-11-14 03:55] larsoner commented on #4747
No, does not start with `plot_` (what SG actually plots) so this is by design. The dataset is too big for our automated build system.

Feel free to add a comment if you think it would help users

[2017-11-14 03:56] jona-sassenhagen commented on #4747
No, makes sense.

[2017-11-14 03:56] #4747 closed

[2017-11-14 06:37] agramfort commented on #4748
make sure you use mkl then it should work. It's joblib / mac blas lapack
issue

[2017-11-14 12:42] cbrnr opened #4750 "Loading BDF files fails"
The last commit that affected `mne/io/edf/edf.py` (https://github.com/mne-tools/mne-python/commit/9ac6547284bbd73b4c18d7d7031042585388005c#diff-825d45683d0be02fad23614151867e02) broke it. When I load a BDF file like this, I get an error:

[code]

[code]

However, if I set `stim_channel='auto'` explicitly, it works. This is strange since this is also the default value.

[2017-11-14 14:22] cbrnr commented on #4710
Cf #4750

[2017-11-14 14:29] larsoner commented on #4750
So this is almost certainly related to the same commit/PR as #4710, but is now a new breakage mode?

It looks like these are documented clearly enough that we should be able to fix it. I can try to find time to fix it in the next week or so unless someone else beats me to it. We'll need to fix and backport to 0.15.

[2017-11-14 14:32] cbrnr commented on #4750
This error was introduced by 9ac6547. I don't understand why it occurs yet, because explicitly setting `stim_channel='auto'` should be the same as using the default - but it's not.

No need to backport, this commit was after 0.15.

[2017-11-14 14:37] larsoner commented on #4750
It is different in the reader `read_raw_edf`:

https://github.com/mne-tools/mne-python/blob/master/mne/io/edf/edf.py#L1154

Than in the class `RawEDF`:

https://github.com/mne-tools/mne-python/blob/master/mne/io/edf/edf.py#L153

Can you make a quick PR to fix it? If not I can get to it later this week.

[2017-11-14 15:08] cbrnr commented on #4750
Alright, this should be fixed in #4751

[2017-11-14 15:56] cbrnr commented on #4340
I'm sorry I have to revive this issue, but I'm still running into trouble regarding EDF events. I thought that the new argument `stim_channel='auto'` correctly handled EDF files with events stored as annotations. However, [this file](https://www.physionet.org/pn4/eegmmidb/S001/S001R04.edf) still gets an extra stim channel when loaded with `read_raw_edf` even though it has event annotations. In thi

[2017-11-14 15:57] cbrnr commented on #4340
Update: On second thought, I think it is OK that such files get an added stim channel, but the problem is still in parsing this stim channel.

[2017-11-14 15:58] larsoner commented on #4340
IIRC the events that are stored in EDF contain extra information (maybe duration?) so it necessitated using a different format. Maybe a doc update to say that this is intentional and giving a little 3-line NumPy recipe for how to convert to standard `events` array would be useful.

Sure, a `initial_event=False` (backward-compat default) or so seems reasonable, I think this has come up before.

[2017-11-14 16:04] cbrnr commented on #4340
You're right, it seems like EDF events have durations, so it is good to be able to get this information somehow. I'll try to come up with a short recipe, and we should definitely update the docstring to describe the output of `find_edf_events`.

OK, I'll create a PR soon.

But for the user who wants to load an EDF file and has no idea how events are stored - how do we make sure that MNE makes doin

[2017-11-14 16:10] larsoner commented on #4340
Ideally we can say just use `mne.find_events`.Users who do know about the events they expect from an EDF specifically might be disappointed because there are no durations, which is why `find_edf_events` exists.

We could do `initial_event=True` by default via deprecation, but how common are such events in EDF files? My initial idea is to have `False` by default, and document it properly in the doc

[2017-11-14 16:43] #4750 closed

[2017-11-14 20:01] mmagnuski commented on #4746
Looks beautiful!

[2017-11-14 20:56] cbrnr commented on #4340
Can we log an info if `read_raw_edf` detects event annotations?

Not that uncommon I'd say. How much would it break if we really set that to `True`? We could implement a check that even if `initial_event=True` but the first sample of the stim channel is actually 0, no event would be detected.

We could also issue a warning/info if `find_events` detects the first sample to be not equal to 0.

Maybe

[2017-11-14 21:02] larsoner commented on #4340
Yes, we should add it if we don't already

Users could easily know the structure of their data (and the behavior of `find_events`) and reasonably do:
[code]
And now we've broken their code. So we'd need a deprecation cycle to avoid it. The question is, is it worth it? `find_events` is a very commonly used function (`git grep "find_events" | wc -l` in the git root itself gives 213 results) so I'm i

[2017-11-14 21:08] cbrnr commented on #4340
- [ ] issue info if `read_raw_edf` detects event annotations

In your example, we would only break things if there was indeed an event at sample 0.

I know that `find_events` is often used, but how often in combination with EDF? Not 213 times I imagine.

So the question for me is still how much would that really break, but maybe this is difficult to answer so I'm also fine with setting the new arg

[2017-11-14 21:13] larsoner commented on #4340
Yes but we don't know how common this is. I suspect it's not totally uncommon. For example, a subject holding a button when you press "record" during Neuromag acquisition would be enough to do it. The risk of silent breakage is too high.

Yes but we wouldn't just be breaking EDF users' code. Data from all systems get channeled through `find_events`, so a deprecation cycle there means emitting warn

[2017-11-14 21:15] cbrnr commented on #4340
Of course, I'd never *silently* break anything, but flooding users with warnings is also not ideal. OK, so do you agree with my checklist above?

[2017-11-14 21:22] larsoner commented on #4340
Yeah it looks good to me

[2017-11-14 22:07] jona-sassenhagen opened #4753 "dedicated float option for mne.viz.plot_compare_evokeds"
As discussed between @mmagnuski and @agramfort , the color gradient should allow 0-1 float inputs.
I will do it.

See #4526

closed by #4775

[2017-11-14 22:10] jona-sassenhagen commented on #4748
Hm.

[code]

Might it be related to my sklearn being self compiled?

Do you off-hand know the joblib issue #?

[2017-11-14 22:11] mmagnuski commented on #4753
hooray! 🙌

[2017-11-14 22:19] mmagnuski opened #4754 "Float index in coregistration gui"
@christianbrodbeck
I have a problem with the source alignment example - I get the following error when trying to open the GUI:
[code]
Seems that `index` is a float, but I don't know how it gets to that point.

[2017-11-14 22:26] jona-sassenhagen commented on #4746
I think so too :)

I'm not perfectly sure how to integrate it though. (Also I would never use this kind of plot myself.)

[2017-11-14 22:27] jona-sassenhagen commented on #4746
But I will try getting around to it eventually.

[2017-11-14 23:37] jona-sassenhagen commented on #4753
As soon as #4526 is merged, I will go about this :)

[2017-11-15 04:23] christianbrodbeck commented on #4754
Looks like this happens before even starting the GUI? I can't reproduce it with `conda` install of `mne` (on virtual machine Windows 10) so maybe it's due to a specific `traits` version?.

[2017-11-15 09:48] cbrnr commented on #4340
Regarding the problem with events at t=last_samp, I'm not sure if the stim channel gets constructed correctly. Shouldn't the last sample in the converted stim channel have the event value? Why did @jaeilepp say that the rising edge would be at sample n+1? I think there might be something wrong with this.

[2017-11-15 10:11] cbrnr commented on #4340
Or in this example, are the event annotations incorrect? They are:

    [[0.0, 0, 'RECORD START'], [600.0, 0, 'REC STOP']]

But the total length is 600s (120000 samples), which means that if time starts from 0 the last sample is actually 600-1/200=599.995 (because the sampling frequency is 1/200=0.005). This of course would mean that everything MNE does is correct.

[2017-11-15 11:36] cbrnr opened #4757 "New stim_channel='auto' in read_raw_edf fails in combination with montage"
I have an EDF file with a stim channel at the end. Previously, `stim_channel` would default to `-1` and the following command worked (the relevant bit is setting the montage:

[code]

However, the new default `stim_channel='auto'` results in the following error:

[code]

[2017-11-15 12:03] larsoner commented on #4340
Maybe he meant that the *falling* edge would be at sample `n+1`. But yes I agree that output looks fine (thinking of STOP as the first time point to exclude at least)

[2017-11-15 13:44] agramfort commented on #4533
@d-van-de-velden can we close this? did #4544 help?

[2017-11-15 13:46] agramfort commented on #4754
yes I've seen this in the past. Never found a solution. With my new conda
env I don't have this pb anymore

[2017-11-15 13:51] agramfort commented on #4748
see maybe:

https://github.com/numpy/numpy/issues/5752
https://github.com/scikit-learn/scikit-learn/issues/636

[2017-11-15 13:52] cbrnr commented on #4340
Well this is certainly a valid explanation for a Pythonista, but I doubt that this is true in general. What if the event at t=600s was called something else? Do you agree that t=600s is an invalid time for an event in this data set?

[2017-11-15 14:02] LizetteH opened #4759 "EGI file import"
Hi,

First of all, thank you very much for the EGI file import, it saves us a lot of time!

We have been using the function mne.io.read_raw_egi on our EGI data (version5.3) but encountered several issues:
- There seems to be a trigger exclusion problem, where the first trigger gets excluded. This happens about 50% of the time, it is always the first trigger in the stimulation protocol, but never o

[2017-11-15 14:04] larsoner commented on #4754
Yes you need a newer `traitsui`, consider updating to either conda env we provide (environment.yml, environment2.yml)

https://github.com/enthought/traitsui/pull/311

[2017-11-15 14:04] #4754 closed

[2017-11-15 14:06] christianbrodbeck commented on #4754
@larsoner do you know which version? We should require it in the conda recipe.

[2017-11-15 14:07] larsoner commented on #4754
IIRC it's the currently released version. Hence why we pin `git` commits while waiting for them to cut a release.

[2017-11-15 14:09] #4723 closed

[2017-11-15 14:12] larsoner commented on #4340
As on onset time, yes. As an offset ... depends on how we want to define onsets and offsets. I guess we usually use inclusive numbering, which would argue for 599.995.

Do we choose to set it as 600s (e.g., by doing `samp_start + duration + 1`) or is it encoded that way in the file? If the latter, then I don't think we should change it.

[2017-11-15 14:16] cbrnr commented on #4340
The events from EDF annotations are always given in terms of onsets (so 600s is invalid). I'm *pretty sure* it's encoded like this in the file, and I wouldn't change anything in this case either because it's not MNE's fault if an invalid event cannot be recovered. But I'll try to see how other tools (pyedflib, biosig) handle this.

[2017-11-15 14:55] cbrnr commented on #4340
Yeah, there's something wrong with this last event; the BioSig toolbox assigns sample 12001 to this event, but at the same time the signal is indexed from 1 to 12000 (remember we're in MATLAB 1-based indexing). So I guess EDF events are not validated and can contain any value.

[2017-11-15 14:57] larsoner commented on #4340
It's also possible that the STOP event is special

[2017-11-15 15:03] cbrnr commented on #4340
Sure, but then BioSig also handles it incorrectly, and `pyedflib` also says that the event occurs at t=600s in a file of duration 600s (or 12000 samples), which means that t=600s does not exist if we start at t=0s. I think it's more likely that this event is simply wrong and should really be 599.995s.

[2017-11-15 15:10] d-van-de-velden commented on #4533
Thank you, Mr. Gramfort. The example helped a lot. Respectivly the neighborhood connections the solution is fine.
However we stepped back from mne-python's registration + morphing approach and thought of an alternative way.
If you are intrested in the resulting source code you can leave this issue open, otherwise you can close it.
Greetings,
Daniel

[2017-11-15 15:12] jona-sassenhagen commented on #4748
Thanks.

[2017-11-15 15:12] #4748 closed

[2017-11-15 15:48] agramfort commented on #4533
sure please share any progress and if you have an implementation of MFT we
can try it would be great.

[2017-11-15 20:50] mmagnuski commented on #4754
Cool, thanks for help!

[2017-11-16 08:36] maedoc commented on #1624
I've not done anything here since we're focused on the sEEG currently with lots of subcortical structures, where we don't have source orientation info, so we use a simple 1/r^2 rule 🙉 .

[2017-11-16 09:54] mclerc commented on #1624
OpenMEEG for mne-python is on our agenda, as soon as we get the resources...

Maureen
----- Mail original -----

| I've not done anything here since we're focused on the sEEG currently with
| lots of subcortical structures, where we don't have source orientation info,
| so we use a simple 1/r^2 rule 🙉 .

| —
| You are receiving this because you were mentioned.
| Reply to this email directly, view

[2017-11-16 10:25] cbrnr commented on #4710
The last channel in the test file I've linked above is the stim channel. Since the previous default was `-1`, this channel was correctly detected as a stim channel. Now the new default is `'auto'`, which results in the last channel being interpreted as an EEG channel (and hence the weird values).

What exactly does `stim_channel='auto'` do?

[2017-11-16 10:45] cbrnr commented on #4710
To answer my question, maybe `stim_channel='auto'` should behave differently. Currently, it adds a stim channel if EDF annotations are present. If not, no stim channel is added. Maybe it should add the last channel in the latter case instead. Thoughts?

[2017-11-16 12:08] cbrnr commented on #4710
It's a mess. I'm discovering weird behavior as I go. I thought that `stim_channel=None` wouldn't add a stim channel. Consider [this example EDF file](https://www.physionet.org/pn4/eegmmidb/S001/S001R04.edf). If I load it with `stim_channel=None`, an additional MISC channel is still appended, even though this file does not have such a stim channel (events are stored as EDF annotations).

[2017-11-16 12:11] larsoner commented on #4710
It sounds like there are now several problematic files. If you have time, making a bulleted list (one per file) at the top of one of these issues that contains file link + existing behavior + what it should do would go a long way to setting up for a proper fix.

[2017-11-16 13:41] cbrnr opened #4760 "[DISCUSS] Fix EDF stim channel behavior"
All issues except one have been resolved. The only remaining issue pertains to illegal values in EDF Annotations and is addressed in #5019.

Here's the old text:
The way events from EDF/BDF/GDF are parsed produces unexpected results (#4340, #4710, #4756, #4757). The main issues revolve around the `stim_channel` argument. The new default value changed from `-1` (meaning the last channel in the data

[2017-11-16 13:41] cbrnr commented on #4710
#4760

[2017-11-16 14:40] christianbrodbeck commented on #4754
@mmagnuski what was the `traitsui` version that failed for you?

[2017-11-16 14:56] #4734 closed

[2017-11-16 15:05] larsoner commented on #4760
Agreed

Maybe we need a `masking=True | False` argument. In retrospect I'm not sure if we should really automatically mask at all, but now that we've done it, we should probably leave it as the default behavior and give a way to disable it.

Agreed

Sounds good to me, except that I suspect it is expected / normal behavior for the special "STOP" event to be at sample number N. We should either read

[2017-11-16 18:55] bloyl opened #4762 "bug in evoked.plot_topomap/plot_joint with restricted channels."
I sometimes only use right/left channels for some processing and have noticed that there is some spatial scaling the happens in plot_topomap and plot_joint that make makes the half field data seem to cover the entire head.

Below is a screen shot of the evoked.plot_topomap results and a full working example showing the issue is at https://gist.github.com/bloyl/2f067bcf5f84144e090d45fa01836ced

int

[2017-11-16 19:12] larsoner commented on #4762
I think this is a dup of #3987, can you check?

[2017-11-16 20:00] bloyl commented on #4762
Yes it does seem to be the same underlying issue.

[2017-11-16 20:27] larsoner commented on #4762
Thanks, hopefully someone can find time to fix it soon, I agree it's confusing

[2017-11-16 20:27] #4762 closed

[2017-11-16 23:17] teonbrooks commented on #4760
cool, I'm following along there now. it seems this is needed for systems that generate an event at the start of the recording.

I think this is fair assuming you mean parsed as a stim channel. do we have a way to convert the annotations to a stim channel if it is not done at the initialization?

how is it changing the stim channel value? I think the stim channel supports values to 16 bits, but I c

[2017-11-17 00:48] agramfort commented on #4759
@LizetteH you will need to look at the code to figure out what is happening. I don't know if @jaeilepp will find the time to look. It can be useful to share the data so someone can replicate and maybe help.

[2017-11-17 11:48] cbrnr commented on #4760
I'm pretty sure there are no special event types in EDF:
http://edfplus.info/specs/edfplus.html#edfplusannotations

[2017-11-17 14:42] mmagnuski commented on #4754
The one failing in my base environment:
[code]
the one I updated to (along with the whole environment2.yml) is `5.2.0.dev296`.

[2017-11-17 14:43] larsoner commented on #4754
Ahh right, I think you need to be on Python3 for the error to show up, and it does with 5.1.0, so we do need to use some unreleased dev version

[2017-11-17 15:09] christianbrodbeck commented on #4754
Hm yeah then we should update the conda-forge recipe once a new version is released...

[2017-11-17 18:02] hendriksantosa opened #4764 "find events"
Hi all,

I am trying to see the ERP response for my MEG data.
Anyone can help me with the mne.find_events(raw)?
I could not find the events using that function. But, I can see the stim-mark using raw.plot(block=True)

Thank you!

Hendrik

[2017-11-17 19:27] agramfort commented on #4764
can you try to specify the name of the stim_channel parameter ?

https://martinos.org/mne/stable/generated/mne.find_events.html

[2017-11-17 19:56] hendriksantosa commented on #4764
I can see the stim-mark now by specify the name of the stim-channel.
However, my stim-mark was flip. I can get the (shifting) ERP response. Is there any function to reverse the stim-mark? (some kind like multiply by -1)
Thank you

[2017-11-17 21:09] agramfort commented on #4764
you can preload and do the -1* on raw._data attribute (for right row)

[2017-11-18 18:43] cbrnr commented on #4710
I think the backport label can be removed, because nothing is really broken (now that I understand the internals of EDF better), but only less ideal from a usability perspective.

[2017-11-18 19:05] agramfort commented on #4710
cool. can you document this somewhere ? and maybe suggest API improvements?

[2017-11-18 19:08] cbrnr commented on #4710
Yeah, it's all in #4760.

[2017-11-20 20:51] larsoner commented on #4680
If people have picked channels out of the data that are necessary for compensation, I'm thinking we should `warn` and eliminate those `comps` from the measurement info.

[2017-11-21 01:03] bdyetton opened #4766 "All channels zero after ICA. Bug?"
Hi MNE team,
After selecting ICA channels associated with eye movement on the ```plot_sources``` dialog, I apply ICA but all the channels then go to zero.

Here are the ICA sources:
![image](https://user-images.githubusercontent.com/5186088/33049211-c5a0f0ec-ce13-11e7-8968-03a22a9976ca.png)

If I select ICA009, and then apply the ICA then i get:
![image](https://user-images.githubusercontent.com/5

[2017-11-21 08:38] agramfort commented on #4680
agreed. If you picked channels there is no way we can save back
uncompensated data.

[2017-11-21 08:52] agramfort commented on #4766
hum maybe a scaling issue. Can you share a code snippet to replicate?

[2017-11-21 15:29] jdammers opened #4768 "BUG in ICA function find_bads_ecg"
@agramfort  @dengemann
1.) When using the find_bads_ecg() function in ica.py with the arguments "start" and "stop" set to some <tmin>, <tmax> values and the "method" argument set to <method='CTPS'> the "start", "stop" arguments are not used at all, which in turn results in (too many) ecg events from the entire raw file

2.) in ctps_.py the estimated p value in function _prob_kuiper() get's easily

[2017-11-21 19:42] bdyetton commented on #4766
Wow, that took some investigating, but I narrowed it down to the ```eeg.set_eeg_reference(projection=False)``` call. Remove that, and all is well. I believe this is because the average reference has already been applied, and then I was accidentally applying it again.

File here:
[test_ica_raw.zip](https://github.com/mne-tools/mne-python/files/1492722/test_ica_raw.zip)

Code to reproduce:
`import m

[2017-11-21 20:31] dengemann commented on #4768
Hi Jürgen!

Thanks for reporting. Your contribution is most welcomed and we’re happy to
help getting the changes in. It also sounds as if it wasn’t so difficult.

Denis

On Tue 21 Nov 2017 at 16:29, Juergen Dammers <notifications@github.com>
wrote:

[2017-11-22 06:50] agramfort commented on #4768
yes please send us a PR.

thanks

[2017-11-22 07:17] jdammers commented on #4768
OK, PR is coming very soon.

[2017-11-22 09:13] #4730 closed

[2017-11-22 10:58] cbrnr commented on #4494
As @teonbrooks has already commented, the whole file must be read in order to parse the annotations. These are stored in a special channel and not in an event table like e.g. in GDF files at the beginning or end of the file. Therefore, this issue should be closed because it cannot be implemented.

[2017-11-22 11:03] cbrnr opened #4769 "Create annotation within other annotation"
Maybe I'm missing something, but since it is possible to create overlapping annotations (with different types) in `raw.plot` I thought that it should also be possible to create an annotation within some other annotation (of a different type). Apparently, this does not work, because if a start my new annotation in a region where there is already some other annotation, no selection rectangle is crea

[2017-11-22 11:09] cbrnr opened #4770 "Option to scroll in smaller increments"
It would be nice to be able to scroll `raw.plot` in smaller increments than a whole page. Currently, this doesn't seem to be possible. The right and left arrow keys scroll right/left by a whole page. Is it possible to map e.g. Shift+right/Shift+left to scrolling right/left by e.g. only 1/10 of a page?

[2017-11-22 11:24] cbrnr opened #4771 "Green vertical line at t=0 in raw.plot"
I was wondering what the vertical green line at t=0 indicates. This should be documented somewhere.
![screen shot 2017-11-22 at 12 23 33](https://user-images.githubusercontent.com/4377312/33125265-15a5cc62-cf80-11e7-9075-817f8fbde1c0.png)