[2020-04-10 09:00] sappelhoff commented on #7577
this is relevant to https://github.com/sappelhoff/pyprep/issues/18

@yjmantilla

[2020-04-10 10:02] fleurgaudfernau commented on #7564
@larsoner Yes, that would be perfect!
(It was actually what I intended to do in the first place, but I've noticed that MNE doesn't have a lot of functionalities for Mixed Source Estimates and it is often simpler to separate them into surface and volume.)

Also, is it right to extract volume and surface STC from a mixed STC the way I do?
[code]
It would be very convenient (and reduce errors) to hav

[2020-04-10 12:25] yjmantilla commented on #7577
What I can contribute to this is that in the tests mentioned in sappelhoff/pyprep#21 it seems that the agreement between the prep cleanline method and the mne spectrum notch is high but I haven't really tested it focusing on that part. Maybe doing some simulations would help us determining if it is worthwhile leaving it there.

[2020-04-10 14:11] larsoner commented on #7564
It looks reasonable except that I'm not sure that `VolSourceEstimate` is actually properly equipped to handle multiple lists of vertices, usually it's just a single one. Things might break for example when you go to plot with it, not sure. But these are the sort of bugs we'd want to work out in `MixedSourceEstimate.volume()` for example.

[2020-04-10 16:02] hoechenberger opened #7595 "Evoked.plot_topomap() behaves in strange ways when axes is passed"
#### Describe the bug
`Evoked.plot_topomap()` produces unexpected behavior for me when I pass an `Axes` object via the `axes` keyword argument.

#### Steps to reproduce
[code]

#### Expected results
Not to sure, actually! But certainly not what I do get :)

#### Actual results
##### `colorbar_0 = colorbar_1 = False`
Two figures appear:
<img width="752" alt="Screenshot 2020-04-10 at 18 03 47" src="

[2020-04-10 16:09] hoechenberger commented on #7595
I think it would make sense to allow users to pass `axes` for the topomaps themselves, and `cbar_axes` to place the colorbars into!

[2020-04-10 16:35] agramfort commented on #7595
yes either this or require that if colorbar=True then one need to pass
n_axes = n_times + 1 where then last one is chosen
to place the colorbar. Currently I agree it's a mess

[2020-04-10 18:01] larsoner commented on #6155
I'm wondering if the idea of creating volume labels like we currently have for surfaces is overkill/not so useful. I had a brainstorming session with @agramfort and a simpler API (to implement and use, I think) would be:

- `vol_stc.in_label(atlas, idx, src)` where for example you could do:
[code]
    or with your own custom atlas in the subject's space:
[code]
- `extract_label_time_course(vol_stc

[2020-04-10 18:24] larsoner commented on #6155
@vferat this sort of thing can also be ported over to `setup_volume_source_estimate` if you do want to make custom MixedSourceEstimates with surface cortical + volume subcortical spaces, for example (see also #7597)

[2020-04-10 20:22] drammock commented on #7595
crossref #7586, maybe makes sense to tackle both of these at the same time

[2020-04-10 20:38] larsoner commented on #7577
@mmagnuski suggested that this deficiency might be due to not operating on windows of raw data, which is entirely possible. I've opened a PR to make a general overlap-add processing class in #7598 that would hopefully make it easy to do so.

[2020-04-11 13:24] vferat commented on #6155
Seems alright for me:
Maybe add a generic public function to read freesurfer luts that may not be distributed with freesurfer ( here an exemple with Schaefer atlas):
[code]
Also this may requieres to  add support for `VolSourceEstimate` to `extract_label_time_course` (so far the first 2 source spaces have to be surf type ) if we want to be able to extract tc for Volume sources only. (I'm not sure

[2020-04-11 13:26] larsoner commented on #6155
Good idea, I think we have it privately already, we could make it public as part of this.

Indeed, this is (implicitly) part of #7597

Would this be helpful for you?

[2020-04-11 13:39] larsoner opened #7599 "BUG: Bugs with VTK 9"
@GuillaumeFavelier you can now [pretty easily build and install VTK 9](https://gitlab.kitware.com/vtk/vtk/blob/master/Documentation/dev/build.md#python-wheels) (which is good because they are on RC3, and it should fix some bugs and bring 3.8 support):
[code]
However, there is at least one rendering bug (depth peeling again maybe?) where the surface overlay gets cut off at some distance based on ro

[2020-04-11 13:59] larsoner commented on #7599
FWIW, PyVista worked "out of the box" this way, while [Mayavi fails to compile](https://github.com/enthought/mayavi/issues/908) (which I'll look into) :)

[2020-04-11 15:07] #5305 closed

[2020-04-11 17:26] larsoner commented on #7599
Can someone else on macOS see if you can replicate https://gitlab.kitware.com/vtk/vtk/-/issues/17846 ?

[2020-04-13 08:56] GuillaumeFavelier commented on #7599
Thanks for starting this @larsoner. I'll follow the procedure your explained to be better prepared for VTK 9.

Also relevant for https://github.com/pyvista/pyvista/issues/562

[2020-04-13 11:30] vferat commented on #6155
Yes, I think it's necessary if people want to use only volume sources, and reject some region such as cerebellar white matter or other unwanted region (optic chiams ect..)

I don't know how much work it is, but I could be interesting to use a `include` / `exclude` API instead of `volume_label ` for creating the volume source space. These two mutually exclusive arguments, either `list of int `or `l

[2020-04-13 12:43] larsoner commented on #6155
I'll have to think on this one, and how it interacts with `volume_label`. It seems like at least a mostly separable issue, can you open a new issue to describe the use case and your proposed API? That way we can tackle it separately and not lose track of it.

We already have an `allow_empty` kwarg for `extract_label_time_course`. We should do whatever it does for surface source space labels when t

[2020-04-13 14:00] banesullivan commented on #7599
Can you share that data or how to launch that scene? I'll try to look into this and see what's happening to the overlain mesh.

[2020-04-13 14:05] larsoner opened #7601 "BUG: Extreme topomap valuse still too strong"
@agramfort pointed out that the `examples/time_frequency/plot_source_power_spectrum_opm.py` example had edges that are too strong:

![master](https://mne.tools/dev/_images/sphx_glr_plot_source_power_spectrum_opm_001.png)

Doing `border='mean'` plus `extrapolate='local'` gives:

![Screenshot from 2020-04-13 09-44-01](https://user-images.githubusercontent.com/2365790/79125259-e1b61280-7d6b-11ea-87b8

[2020-04-13 14:18] larsoner commented on #7601
Also, using `np.median` rather than `np.mean` seems to work a tiny bit better to deal with the blob-like appearance at the edges of `local (or box+local) interp:

![Screenshot from 2020-04-13 10-13-30](https://user-images.githubusercontent.com/2365790/79127506-044a2a80-7d70-11ea-9594-b7579361765a.png)

I tried weighting the points by inverse distance and it didn't seem to help much. But we can alw

[2020-04-13 14:23] agramfort commented on #7601
is it possible to extrapolate a bit less far from sensors with "
border='mean' plus extrapolate='local'"
maybe divide by 2 the extra area beyond the convex hull?
I would consider changing then our defaults here.

[2020-04-13 14:27] larsoner commented on #7601
Halving the distance fixes the blob problem, and also makes sense in terms of the "represented area" each channel gets, here shown for the new `'box'` mode (which does local then adds box; #7602)

![Screenshot from 2020-04-13 10-25-11](https://user-images.githubusercontent.com/2365790/79128208-25f7e180-7d71-11ea-8f02-4e2d0d660161.png)

I prefer this over pure `'local'` mode, which has jagged edges

[2020-04-13 14:32] larsoner commented on #7601
Actually there was a bug, this is what it looks like if you use half the distance for local mode (it's pretty tight):

![Screenshot from 2020-04-13 10-30-52](https://user-images.githubusercontent.com/2365790/79128688-f72e3b00-7d71-11ea-8b1c-b52a8f2d8b35.png)

And what it looks like for `box` on #7602:

![Screenshot from 2020-04-13 10-31-06](https://user-images.githubusercontent.com/2365790/7912873

[2020-04-13 14:34] mmagnuski commented on #7601
@larsoner
The extrapolate='local' should have a corresponding mask, that's true.
What's the difference between the new box mode and the local?
If it's doing just what local does but just optimizes the circle mask placement, maybe `mask='circle'` or something like that would be better? Or maybe the distance in local should just be larger by default?

[2020-04-13 14:37] larsoner commented on #7599
WARNING: Will download 1.5 GB of data to `~/mne_data` (unless you give it a different path to use)
[code]
You will probably need to `pip install nibabel https://github.com/mne-tools/mne-python/zipball/master` first.

This is the code I was using (last I recall!), but for some reason now it hangs when I try it.

[2020-04-13 14:40] larsoner commented on #7601
`box` still extrapolates to a box. It just extrapolates to `local` first, then out to the box.

I wonder if we can / should actually pass the outer edges from the triangulation. We have functions to figure out the vertices of mesh edges so it might not be so difficult. Then that could be passed to Matplotlib as a polygon mask.

If it does, maybe we kill the `box` changes I'm proposing and just let

[2020-04-13 14:43] larsoner commented on #7599
(FYI I forgot a `ninja -j 4` in the command list above, I've updated it now)

[2020-04-13 14:43] agramfort commented on #7601
local could use a clean polygon mask?

[2020-04-13 14:45] larsoner commented on #7601
Yes, that's the idea if we continue extrapolating to 1x the median distance and mask to 0.5 the median distance I think it should work (if it still have chunks, we can extrapolate to 1.5 or 2x the median distance)

[2020-04-13 14:45] mmagnuski commented on #7601
Yes, something like this, was what I had in mind. The convex hull is computed in extrapolation, and then slightly stretched out to create local points - so the mask could be half that distance (the distance between channels and local points).

[2020-04-13 14:47] larsoner commented on #7601
Okay I'll try making the `local` changes to use a polygon based on the convex hull.

One issue is that this will make the `outlines='head' | 'skirt'` stuff even worse, since we will no longer extrapolate far enough to even choose where the outlines will go.

[2020-04-13 14:54] mmagnuski commented on #7601
I suspect some (many?) users would still like to have circular mask. In other words: there are still cases where extrapolate='local' + mask='circle' would be useful. There could also be two masks: the circular one and the polygon mask (+ larger distance than 1 * median inter-channel?).

Do you see noticable differences between these two?

[2020-04-13 14:59] larsoner commented on #7601
This I don't really understand. Can you explain what you mean? The `extrapolate='local'` makes it so that the data shown extend to just past the (a slightly extended convex hull of) the electrodes. If you throw a circular mask on top of this, it's either a no-op (if it includes all electrodes) or cuts off some electrodes. In this sense there is an interaction between our extrapolation mode and the

[2020-04-13 15:00] larsoner commented on #7601
For head vs skirt so far I've been avoiding thinking about it, and don't have relevant experience messing with those. I'm just aware that it's an issue and our docs about it are wrong (#7397)

[2020-04-13 15:25] mmagnuski commented on #7601
Sure, my explanation was very unclear, sorry for that. It's just that circular mask will usually look nicer than convex hull based mask (its smoother). You can see in your own examples that some parts of the topos are circulary masked in the local mode already (on the left and right):
![image](https://user-images.githubusercontent.com/8452354/79132318-645dc280-7daa-11ea-952a-95badda6c68b.png)

If

[2020-04-13 15:32] larsoner commented on #7601
Yes but having the top look bad is not great, and masking differently for one part (convex hull at the top) and another (circle at the bottom) is also not great.

I just finished an implementation of the local at 1x + patch at 0.5x already looks pretty good and smooth. I'd prefer it to some combination of extra-circle-plus-convex-hull stuff:

![Screenshot from 2020-04-13 11-25-27](https://user-ima

[2020-04-13 16:57] mmagnuski commented on #7601
@larsoner - it looks better than I imagined, I like it the way it is. :)

[2020-04-13 17:26] larsoner commented on #7601
Excellent, it was [pretty easy](https://github.com/mne-tools/mne-python/pull/7603) to implement and test because [someone already wrote nice convex hull / local code](https://github.com/mne-tools/mne-python/pull/5754) :)

[2020-04-13 23:19] rmib200 opened #7604 "Can't set a list of epochs times for concatenation"
I was trying to concatenate 2 epochs but an error appeared saying that both epochs should have the same times. I was trying to replace the array of times using "epochs_rest.times = epochs.times" but an error raised: AttributeError: can't set attribute.
Somehow the same procedure worked here: https://www.kaggle.com/alexandrebarachant/beat-the-benchmark-0-67
Could this error be fixed?

[2020-04-14 01:38] rob-luke commented on #7057
Ok I have created [MNE-NIRS](https://rob-luke.github.io/mne-nirs) to fulfil this need.

I have initially added Cui et. al. 2010. And some HRF code. I will use this repo as a testing ground for code and anything that is widely requested can be moved to MNE. I will try and keep the same standards as you enforce in this repo.

`Cui, Xu, Signe Bray, and Allan L. Reiss. "Functional near infrared spectr

[2020-04-14 07:09] agramfort commented on #7604
do the epochs actually have different times? if so and you still want to
proceed using an EpochsArray seems the easiest.

[2020-04-14 07:17] agramfort commented on #7057
cool !

let us know if you want to host this repo in the
https://github.com/mne-tools/ organization

[2020-04-14 07:55] DanielvdC opened #7605 "Could not load any valid backend / no '_Rendered' object with forward operator"
## Describe the bug
I'm trying to simulate EEG data, for which I need to compute the forward operator with `fsaverage`. This however produced the following error:

`RuntimeError: Could not load any valid 3D backend: ['mayavi', 'pyvista']`

I then successfully installed pyvista manually, but installing mayavi generated a large error log.
If I now try to compute the forward operator, I keep getting

[2020-04-14 07:56] rob-luke commented on #7057
Yeah that would be great. That should help people find it, which should increase usage. I will hit transfer ownership in the settings.

[2020-04-14 07:58] rob-luke commented on #7057
I tried to transfer the repo but got an error message saying `You don’t have the permission to create public repositories on mne-tools `. There is no rush on this though, we can just transfer it whenever suits you.

[2020-04-14 08:01] agramfort commented on #7057
give me admin access to your repo and I'll do the transfer

[2020-04-14 08:15] agramfort commented on #7057
You should now be able to do it yourself. It seems I cannot have admin
rights on your personal repo.

[2020-04-14 08:26] rob-luke commented on #7057
Thanks @agramfort I accepted the invite. Unfortunately I still get the same error. I will go grab some dinner and hope that permissions propagate. Worst case I transfer ownership to another organisation that I have access to, then give you rights there to transfer it. Sorry about the stuff around.

[2020-04-14 08:37] agramfort commented on #7057
here we go https://github.com/mne-tools/mne-nirs

[2020-04-14 09:45] rob-luke commented on #7057
Thanks. I’ll fix all the links, ci, etc over coming days.

[2020-04-14 11:56] GuillaumeFavelier commented on #7605
Hello @DanielvdC and thanks for reporting this.

Indeed the 3d backend seems not to be loaded  or reloaded successfully. Let's first see if setting the backend dynamically helps with your issue. Could you add somewhere before the actual call to `plot_alignment`:

[code]

Please let me know how is the situation after this test.

It could also be helpful if you could share the result of:

`python -c

[2020-04-14 14:12] DanielvdC commented on #7605
Hi @GuillaumeFavelier,

`mne.viz.set_3d_backend("pyvista")  # <--- setting the backend here
`

This code snippet actually did the trick! It outputs the figure as it is supposed to. Thanks a lot for your help.

For what it's worth, this is the result of
`python -c "import pyvista; print(pyvista.Report())"`

[code]

[2020-04-14 14:22] agramfort commented on #7605
shall we close then?

[2020-04-14 14:24] GuillaumeFavelier commented on #7605
Glad to know that you have now a working solution :+1:

This shows that the backend was not loaded correctly. This operation is expected to be performed automatically. I can't reproduce this behaviour.

Can you confirm that your script works *only* with the code snippet? For example, even after restarting your working session after installing pyvista and run the script entirely?

[2020-04-14 14:44] DanielvdC commented on #7605
After restarting my session the code actually works without the snippet as well. Perhaps the backend had to be set just once.

[2020-04-14 14:47] GuillaumeFavelier commented on #7605
Thanks for the quick response.

I think so.

Feel free to close if everything works for you now :+1:

[2020-04-14 14:48] #7605 closed

[2020-04-14 15:13] hoechenberger commented on #7604
I've never tried this, but you could try and see if `epochs_rest._set_times(epochs.times)` would work. However this is really a hack that could break anytime with a future release, as it's using an internal function.

[2020-04-14 15:46] larsoner commented on #7057
A general HRF/deconvolution function already seems like it would be general enough to potentially put in MNE. But it's worth checking to see if some fMRI package in the Python ecosystem provides it already. A quick search suggested a couple of potential starting points:

- [rsHRF](http://bids-apps.neuroimaging.io/rsHRF/)\
- [DIPY](http://nipy.org/nipy/api/generated/nipy.modalities.fmri.hrf.html)

[2020-04-14 22:01] rob-luke commented on #7057
@Larsoner I have started thinking about that as a WIP here
https://mne.tools/mne-nirs/auto_examples/plot_10_hrf.html

Currently I am just trying to settle on an API. And was wrapping pybids, but will look in to the packages you suggested.

The hrf/deconv approach I want to implement is from Barker and Huppert (I linked the paper in checklist up the top). I have been using their ARIRLS approach for

[2020-04-15 00:11] rob-luke commented on #7057
Ok I took another look around and NIPY looks the way to go. It also has some fMRI code that I foresee being helpful (e.g. http://nipy.org/nipy/api/generated/nipy.modalities.fmri.design.html).

@larsoner what does `soft dependency` mean?

[2020-04-15 07:16] yh-luo commented on #7570
Hi @mh105 , I noticed that `list(zip(*header['Mdc'].T))` is the same as `header['Mdc']`:
[code]

So `vol_info['xras'], vol_info['yras'], vol_info['zras'] = header['Mdc']` seems to fix the problem?
![Screenshot from 2020-04-15 15-08-57](https://user-images.githubusercontent.com/29604854/79308574-6602c400-7f2b-11ea-89c2-5f18fb926b40.png)

[2020-04-15 07:30] agramfort commented on #7057
for designs I would look at https://nistats.github.io/

nipy stats is not a very active code base and nistats will soon be merged
into nilearn.

[2020-04-15 10:26] rob-luke commented on #7057
Thats exactly what I needed @agramfort, somehow I had missed nistats. Thanks

[2020-04-15 13:04] GuillaumeFavelier commented on #7599
Sorry I am late, I had to build everything from scratch and follow your instructions. I had to change:

[code]

This is the result of: `python -c "import pyvista; print(pyvista.Report())"`

[code]

[2020-04-15 13:06] GuillaumeFavelier commented on #7599
I can also reproduce the bug with the camera angle :+1:

[2020-04-15 13:09] larsoner commented on #7599
[code]
after these three steps you should be in `vtk-build`, not `vtk/vtk-build`. Perhaps you had an extra `cd vtk` after the `git clone` line?

[2020-04-15 13:12] GuillaumeFavelier commented on #7599
Yes but the sources are in `vtk` and not `vtk-build` right? It's just an empty folder.

[2020-04-15 13:52] GuillaumeFavelier commented on #7599
I disabled depth peeling explictly without success:

[code]

[2020-04-15 14:13] GuillaumeFavelier commented on #7599
Using offset like we did Vispy does work for me, I'll open a PR:

[code]

[2020-04-15 14:39] larsoner commented on #7599
vtk-build starts out empty, but the cmake line populates it. I wonder if your problems were due somehow to building in a subdirectory of the source directory, rather than a totally separate one

[2020-04-15 14:39] larsoner commented on #7599
What's interesting about the topology problem is that I don't see it on mayavi. But whatever makes it work I guess!

[2020-04-15 15:00] GuillaumeFavelier commented on #7599
Any idea how they deal with it?

[2020-04-15 15:25] larsoner commented on #7599
No idea

[2020-04-15 15:59] mh105 commented on #7570
Very true. Let me just do that instead of transposing back.

[2020-04-16 11:12] hoechenberger opened #7611 "TimeViewer Play/Pause button should toggle state when tmax is reached"
#### Describe the bug
Currently the Play/Pause button doesn't switch from Pause to Play when the the last time point has been reached.

#### Steps to reproduce
Open TimeViewer with an STC with multiple time points, press the play button, wait until the last time point is reached.

#### Expected results
Play/Pause button state should toggle.

#### Actual results
Play/Pause button does not toggle:
h

[2020-04-16 11:15] hoechenberger commented on #7611
Also needs a callback from time slider drag events.

[2020-04-16 12:14] GuillaumeFavelier commented on #7611
I am not sure to understand what you mean by that. Drag event for the time slider and matplotlib time line are 'active user event'. As opposed to the 'play/pause' button which indicates that the time points are updated automatically.

[2020-04-16 12:59] hoechenberger commented on #7611
What meant is that we need to decide what happens in the following scenario:

- user has pressed the Play/Pause button
- movie is still playing
- user grabs the PyVista time slider and moves it along the tube
- should playback be paused?
- or should playback immediately continue once the slider drag event has been finalized?

[2020-04-16 13:11] rob-luke commented on #7057
Ok I got carried away and have made a first pass at the HRF style analysis based on nistats at...

https://mne.tools/mne-nirs/auto_examples/plot_10_hrf.html

And created a [meta issue of this meta](https://github.com/mne-tools/mne-nirs/issues/58) issue to track my thoughts. I pinged you both as an FYI.

[2020-04-16 13:12] larsoner commented on #7611
I would say it should restart as soon as you let go of the slider, starting at the new slider location. This allows viewing the same activity over and over again just by clicking a point on the slider during playback, which is nice.

[2020-04-16 13:35] larsoner commented on #7057
Awesome example! I've subscribed to the repo :)

[2020-04-16 13:54] GuillaumeFavelier commented on #7611
I believe this is the current behaviour right?

![output](https://user-images.githubusercontent.com/18143289/79464596-8cdbfb80-7ffa-11ea-89ef-b299303ed99a.gif)

[2020-04-16 14:07] larsoner commented on #7611
It was last time I tested and might indeed still be true. I was just responding to @hoechenberger's question above:

[2020-04-16 14:28] mmagnuski opened #7615 "`.set_montage()` when some channel locations are not available"
In past mne version (something like 0.19 or 0.18) I could do `raw.set_montage(montage)` even when some channel positions were not available. I would get a warning in such case, but it was possible. Later the default behavior was changed to throwing an error if some channel positions were missing, but allowed to override this using `raise_if_subset=False` argument. This argument is no longer presen

[2020-04-16 14:29] hoechenberger commented on #7611
Yes, it's still working that way! :)

[2020-04-16 14:51] christian-oreilly commented on #7232
I "dumped" the repair code from the infants template here: https://gist.github.com/christian-oreilly/d0ba7acc74ae780367ec4a4d9ae58a3d

As soon as I am done with the analysis of these templates and that the corresponding paper is sufficiently well written that I am confident that I won't change significant part of the analysis, I will add the Jupiter notebook that includes this code, but also the c

[2020-04-16 15:02] larsoner commented on #7232
Awesome, thanks @christian-oreilly

[2020-04-16 15:03] #5027 closed

[2020-04-16 15:03] #5373 closed

[2020-04-16 15:41] mmagnuski commented on #7595
are you using inline backend? If so use `show=False`.

[2020-04-16 15:48] larsoner commented on #7615
I don't completely remember the rationale. My guess is that 1) we want to prevent mistakes, and 2) not all functions properly function when not all data channels have locations. However, forcing the user to do `raise_if_subset=False` (or maybe better, `subset='raise' | 'warn' | 'ignore'`) already seems like it will prevent mistakes, and also lets them know that some things might not work properly

[2020-04-16 16:13] agramfort commented on #7615
you have EEG data with certain channels for which you do not have
locations in montage?
what do you expect to do with these channels without locations? Why
not dropping them?
yes using np.nan is how missing location is handled internally.

[2020-04-16 16:27] mmagnuski commented on #7595
@agramfort
I don't get missing topos (or duplicated figures) on windows in interactive backend. I was asking about inline because `show=True` shows multi-topo figure too early, so some topos are missing then.

[2020-04-16 16:34] agramfort commented on #7595
to me the pb here is really about colorbar axes that is too magical now

[2020-04-16 16:37] #7611 closed

[2020-04-16 17:09] mmagnuski commented on #7615
@larsoner
👍 for both points (but see below)

@agramfort
Sure I can drop such channel at some point, but previously I was not forced to do it.
We can also leave this issue open for now - we'll see if someone else stumbles across this problem. I can live with adding np.nan for the position. So only the correct behavior of nan-position channels would have to be taken care of in such case.

[2020-04-16 17:12] agramfort commented on #7615
we could add a method to montage to add missing locations for a list
channels.

it's easier to make DigMontage more complex than data containers

[2020-04-16 18:11] ophelia3 opened #7617 "Error in picking EEG channels in Python"
I have raw EEG (.edf format) with 9 channels and I extracted two of them, C3 and C4, with `raw.pick(['C3','C4'])` but when I try to do some operation on those channels, such as dividing in segments with `epochs = np.reshape(raw, (n_epochs, epoch_len))`, there is always this error: **All picks must be < n_channels (2), got 2** even if I selected only 2 from 9 channels. Why?

[2020-04-16 18:53] agramfort commented on #7617
raw is not a numpy array. You cannot reshape it like that. At best do:

np.reshape(raw.get_data(), (n_epochs, epoch_len))

[2020-04-16 20:03] cbrnr commented on #7615
I commented on this new behavior (can't find the relevant issue) - I don't like it either. Basically you are now forced to drop all channels before setting a montage. Maybe this is what new users would expect, but I liked to have an option to turn this off.

[2020-04-16 20:07] agramfort commented on #7615
I find it dangerous but you are the EEG experts so if you all agree
it's a necessary thing to support I won't complain...

see a related fix I just proposed in
https://github.com/mne-tools/mne-bids/pull/388

and to me this should work.

[2020-04-16 23:43] rob-luke commented on #7057
Thanks. I will continue the HRF analysis development in MNE-NIRS and once matured we will merge in to MNE.

[2020-04-17 09:37] hoechenberger opened #7622 "mne.set_config doesn't accept Path objects"
#### Describe the bug
Passing a `pathlib.Path` value to `mne.set_config()` raises an error.

#### Steps to reproduce
[code]
#### Expected results
Configuration would be updated.

#### Actual results
[code]

#### Additional information
As we support `Path` objects in other places in MNE, `set_config()` should not be an exception.

[2020-04-17 10:01] cbrnr commented on #7622
👍 - I'd also ask why we need to restrict the types here. Somehow the data must be serialized as a string to end up in the JSON file, so I wouldn't check anything. Otherwise, we might have to add more and more types that have a suitable string representation to this check.

[2020-04-17 11:19] hoechenberger commented on #7622
We should probably simply cast to a string of `not None`, but I suppose that's what you meant, right?

[2020-04-17 12:36] cbrnr commented on #7622
Basically yes.

[2020-04-17 12:41] larsoner commented on #7622
They all have to be strong because we also support overriding with environment variables, so yes just cast

[2020-04-17 13:54] #7617 closed

[2020-04-17 20:26] kylemath commented on #7057
Glad I found this great discussion, I have an imagent from ISS and am working on a function to load its phase and intensity data into a MNE format similar to the NIRx.py loading example. We are thinking of moving our code base for fast optical imaging from matlab into python with these tools (currently at github.com/kylemath/mopt3d). Look like you all have thought about many of the major hurdles a

[2020-04-17 20:31] #7622 closed

[2020-04-17 21:09] larsoner commented on #7057
@kylemath the plan at this point is to support all of the stuff at the top of this issue directly in MNE-Python except what is marked as being for `mne-nirs`. Mostly that means I/O of fNIRS data is in scope for MNE-Python, but HRF deconvolution is being worked out right now in `mne-nirs`. Basically `mne-nirs` is there to allow @rob-luke and other to try things out and figure out APIs, and once the

[2020-04-18 09:22] yh-luo commented on #7570
After digging in the file history, the bug was likely caused by misunderstanding of `header_dtd['Mdc']` in [`nibabel/freesurfer/mghformat.py`](https://github.com/nipy/nibabel/blob/e2f50b4cf11482e6f018195aa6b89ccf12a3141e/nibabel/freesurfer/mghformat.py).

### Details
`header_dtd['Mdc']` was originally considered to be the cosines transform according to [FreeSurfer WiKi](https://surfer.nmr.mgh.harv

[2020-04-18 15:23] SebastianSpeer opened #7628 "Error with load epochs after cropping after baseline correction"
#### Describe the bug

I posted this on the mailing list and Alex Gramfort asked me to open this here as an issue:

I did my baseline correction on a period of 1s which is 6s prior to the onset of the event of interest (due to unfortunate experimental design), so I initially epoched my data to -7 to 3s . After epoching the data I then cropped the data to -0.3 to 3s, as I no longer needed the 7 sec

[2020-04-18 16:10] algrmur commented on #7628
It would be really nice to get this fixed. For exactly the same reasons, I can only work with the NumPy arrays after extracting the data from the MNE.Epochs object using the `get_data` method and then saving the info parameter somewhere and rebuilding a new MNE.Epochs object later on if I need to do further processing, all because I can't use the `save` method to then re-load, because of the compl

[2020-04-18 18:32] mh105 commented on #7570
Oh I see. Yeah go ahead with PR. I was able to create the PR but I realized you already fixed it with the changes. You have better documentations on this as well =) Cheers

[2020-04-18 22:30] gpeyton opened #7631 "'No data channels found' with plot_psd() on misc channels"
**Issue:**
Error of "No Data channels found" when attempting to **plot_psd()** on **misc** channels in a dataset which contains only **misc** channels. The dataset is created from raw numpy EEG data derived from a custom made device.

**Platform**
[code]

**Steps:**
Create mne object from raw data
[code]

The output is shown below.
[code]
Time-domain data does plot correctly. However, when attempt

[2020-04-19 04:48] rob-luke commented on #7057
Hi @kylemath,
I agree with @larsoner, lets get the imagent reader straight in to MNE. I would recommend including at least the following files:
* Data reader: [nirx example](https://github.com/mne-tools/mne-python/blob/master/mne/io/nirx/nirx.py)
* Test data with documentation about how it was created: [nirx example 1](https://github.com/mne-tools/mne-testing-data/pull/51), [example 2](https://git

[2020-04-19 09:12] agramfort commented on #7631
as you can see you have:

chs: 2 MISC

and MISC are not consider data channels. If you pass picks then I
think its fair to expect it to work.

if it does not please provide a full gist to replicate the pb. From
creation of data to plotting.

thanks

[2020-04-19 19:28] gpeyton commented on #7631
The following code replicates the problem:

[code]

thanks

[2020-04-19 19:40] agramfort commented on #7631
I can replicate the pb.

@drammock what's your feeling about this?

I am enclined to fix the behavior. If picks is None then default to what we call data channels but if you pass picks then plot whatever is requested.

[2020-04-19 19:54] drammock commented on #7631
agreed, seems to me like if the user passes `picks` we should give them what they ask for.

[2020-04-19 21:12] gpeyton commented on #7631
When `picks = None`, I get:
`picks (NoneNone, treated as "data") yielded no channels, consider passing picks explicitly`

[2020-04-19 21:23] agramfort commented on #7631
yes we need to fix ...

[2020-04-19 21:44] gpeyton commented on #7631
Is there a temporary workaround for this in the meantime? How would I change it to a different type?

[2020-04-19 23:32] drammock commented on #7631
@gpeyton you can change the channel type with:
https://mne.tools/dev/generated/mne.io.Raw.html#mne.io.Raw.set_channel_types

[2020-04-19 23:39] larsoner commented on #7631
@drammock do you want to work on the fix? If not, I can tackle it this week

[2020-04-20 01:50] adam2392 opened #7632 "Improve documentation for set_montage to inform about usage of np.nan for coordinates"
# Problem
The documentation for `raw.set_montage` is not very clear to inform the user that we can use `np.nan` as coordinates to get around the ValueError that is raised when there are channels w/o coordinates set in the montage.

# Proposed Solution
This would be a short PR to adapt the documentation here:

[code]

to add documentation to the `Notes` section saying the accepted values e.g. `np.n

[2020-04-20 07:22] cbrnr commented on #7632
I don't quite understand. Isn't the new `on_missing` argument turning off the error? I would be confused if the documentation mentioned `np.nan` and `np.inf` for coordinates - why and how would anyone want to manually set some channel coordinates to these values?

[2020-04-20 07:58] agramfort commented on #7632
to me only mne-bids would be doing this internally. End users should not
have to know about this

[2020-04-20 08:38] sappelhoff opened #7633 "read_dig_captrack should be renamed: CapTrak (k, not ck)"
The function [mne.channels.read_dig_captrack](https://mne.tools/stable/generated/mne.channels.read_dig_captrack.html#mne.channels.read_dig_captrack) is for reading Brain Products electrode digitization data in the `bvct` format (=**B**rain**V**ision **C**ap**T**rak).

Apparently we had a typo at some point and now our function reads "captra**ck**" instead of "captra**k**".

I don't know why Brain

[2020-04-20 08:41] agramfort commented on #7633
+1 with deprecation cycle

[2020-04-20 13:09] #7628 closed

[2020-04-20 14:18] larsoner opened #7635 "MAINT: Require 3.6+"
Python 3.5 reaches EOL middle of Sept this year. Upstream libraries such as SciPy have dropped support for it. I say we do the same for the next release (0.20 being the last to support 3.5).

Bringing this up because I just did `from collections import OrderedDict` and I'd rather not have to ...

[2020-04-20 14:30] agramfort commented on #7635
ok

[2020-04-20 14:56] kylemath opened #7636 "Gratton & Coles Eye Movement Correction Procedure"
If your issue is a usage question, please consider asking on our [Gitter channel](https://gitter.im/mne-tools/mne-python) or on our [mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) instead of opening an issue.

#### Describe the problem
Implement a Gratton and Coles EMCP regression procedure for EEG analysis of epoched data

#### Describe your solution
Have a working

[2020-04-20 16:30] cbrnr commented on #7635
f-strings FTW!

[2020-04-21 03:01] #7586 closed

[2020-04-21 07:21] cbrnr commented on #7482
@mbillingr I think you wrote some of the CSP code - can you answer these two questions?

[2020-04-21 07:23] cbrnr commented on #7311
@Eklund89 I'm closing for now because we've provided some potential answers to your question. Feel free to re-open, or better yet, ask on our mailing list or Gitter channel because this is more a usage question.

[2020-04-21 07:23] #7311 closed

[2020-04-21 07:25] cbrnr commented on #7472
Could we add an option to make the inner circle the extrapolation border? That way, I'd almost have my original topomaps back.

[2020-04-21 10:03] GuillaumeFavelier opened #7644 "Tube in _Renderer"
Mayavi and PyVista uses different conventions on the input coordinates to display multiple tubes. This behaviour is not unified in the `_Renderer` API. The consequence is that only one tube can be plotted at a time.

Related to https://github.com/mne-tools/mne-python/pull/7620#discussion_r412026438

[2020-04-21 10:35] rob-luke commented on #7644
I have submitted a fix for this in #7620. Hopefully CIs pass

[2020-04-21 14:47] #7601 closed

[2020-04-21 16:18] larsoner commented on #7644
We should leave this open because (as mentioned in #7620) the fix there will be problematic for performance for long tubes. But we can use it until we hit problems

[2020-04-21 16:25] larsoner opened #7648 "ENH: Add volumetric rendering to _Brain"
It would be nice to make MixedSourceEstimates and VolSourceEstimates plottable with _Brain instead of just surfaces.

Random ideas:

- Slicer is probably a good resource for ideas, and [context preserving](https://www.slicer.org/wiki/Modules:VolumeRendering-Documentation-3.5) looks cool
- [VTK example](https://lorensen.github.io/VTKExamples/site/Python/Medical/MedicalDemo4/) produces:

    ![Scree

[2020-04-21 19:34] mbillingr commented on #7482
Amazing how the most "obvious and self-explanatory" code turns into "WTF did I think?" after a couple of years...

1. I can't answer the first question; it has been too long that I have read the papers. Do the papers say anything about why the whitening transform is required?

2. This is an obscure way of rearranging the sorted eigenvalues. I believe it was meant to separate the patterns associate

[2020-04-21 19:53] agramfort commented on #7648
#nerdsniping on the way...

[2020-04-21 21:48] adam2392 opened #7652 "get_montage and get_coordinates for Raw and Montage objects"
#### Describe the problem
Once a user has set the montage, then getting the montage itself and data from it is not trivial.

Ideally, the users can get the actual xyz coordinates whether its an array, or dictionary via just a `get` function.

You have to do things like:
1. `ch_locs = raw.info['chs']['loc'][0:3]`
or
2. `ch_locs = [raw.info['dig'][idx]['r'][0:3] for idx in len(raw.info['dig'])]`

In

[2020-04-21 21:57] larsoner commented on #7652
I would not do `get_montage`, a `montage` is just a way to set channel positions.

I would add a `inst.get_channel_positions()` that for example returned a `dict` of the channel name: pos mapping. It would really just loop over `info['chs']` to look at `loc` but indeed a user should not have to do this.

[2020-04-21 22:00] agramfort commented on #7652
Get_montage that returns a dig montage that could be fed to set_montage is to me the most consistent. I would like to get all dig points etc

[2020-04-21 22:02] larsoner commented on #7652
Okay, fair enough

[2020-04-21 22:15] drammock commented on #7652
I'd also note that `get_ch_positions` (rather than `get_channel_positions`) is more consistent with other methods like `inst.get_ch_types()`.  So if you end up doing both `get_montage` and `get_xxx_positions` then I think `xxx` should be `ch`, not `channel`.

[2020-04-22 02:19] rob-luke opened #7654 "Add option to only plot requested properties for plot_filter"
#### Describe the problem
I would like to just plot one aspect of a filter (e.g. just magnitude). Further I would like to specify the axes the data is plotted on.

#### Describe your solution
Add additional arguments to the function (perhaps... `magnitude`, `phase`, `time`) that change enable/disable plotting of each subplot (all default to True to maintain current functionality).

Add an axes par

[2020-04-22 08:03] cbrnr commented on #7652
Although it would be useful if we could extract the name of the original montage somehow (maybe just for the standard montages shipped with MNE).

[2020-04-22 09:18] agramfort commented on #7652
if you want provenance of the original montage file it's really tricky as
it means changing info
data structures.

[2020-04-22 09:20] #7633 closed

[2020-04-22 11:00] cbrnr commented on #7652
We could add a new info field, which contains the montage name every time the user does `raw.set_montage`. Of course, this does not mean that the name and the coordinates match (because the coordinates might have been changed after setting the montage), but something like `info["montage_name"]` would be nice to have. Maybe the value of this field could even be reset to `None` if someone tinkers wi

[2020-04-22 11:17] agramfort commented on #7652
I don't think it's easily feasible

[2020-04-22 12:20] zobm opened #7655 "'BAD boundary' in epoch drop_log"
Hi MNE Devs,

I am working with resting state MEG data. The data are to be used in for the spectral connectivity function.

Since, I believe that function requires epoched data, I am epoching the resting state data by first using the "make_fixed_length_events" function and then calling the "Epochs" function.

The drop log shows that a quarter to a third of my epochs are being dropped with the flag

[2020-04-22 13:11] larsoner commented on #7655
`BAD boundary` annotations should only occur when you have stopped and restarted a recording, and should be visible with `raw.plot()`. Are the epochs you're creating extremely long, and thus crossing these boundaries?

[2020-04-22 13:23] zobm commented on #7655
Thanks for the fast response. I realize the issue now. The epochs are 10s in length. The scan in question had large environmental noise and discrete time points and these segments of data were removed. The 10s epochs cross these boundaries.

[2020-04-22 14:30] larsoner commented on #7654
Maybe instead of separate kwargs it can just be `plot=('magnitude', 'phase', 'time')` and the order and members of the iterable determine what is plotted, and `axes=None` if passed must match that length.

[2020-04-22 17:33] christian-oreilly opened #7657 "The computation of the mixing matrix for ICA imported from EEGLAB ICA is broken"
#### Describe the bug

Commit https://github.com/mne-tools/mne-python/pull/6938/commits/23c6aa9ac85411afba3dd3687787b1c112226546 introduced a bug in the PR https://github.com/mne-tools/mne-python/pull/6938 as described in the comment https://github.com/mne-tools/mne-python/pull/6938/commits/23c6aa9ac85411afba3dd3687787b1c112226546#r413113709

#### Steps to reproduce

Using an ICA with a number of

[2020-04-22 17:36] christian-oreilly commented on #7657
... and I can see if I can also propose in the PR a second test for this ICA import. I suspect that the current one test only the else part corresponding to the `if n_components < n_ch:` which might explain why it passes without issues.

[2020-04-22 19:09] adam2392 commented on #7652
Okay so:

- `inst.get_ch_positions()` -> dictionary of channels and their xyz positions. This is pretty clear to me.

@agramfort what do you mean here? Implement a mne.get_montage() function, or an inst.get_montage()?

[2020-04-22 19:39] #7655 closed

[2020-04-22 19:52] agramfort commented on #7652
Inst.get_montage()

[2020-04-22 20:49] #7570 closed

[2020-04-22 21:06] larsoner commented on #7657
`s` is a vector here so a (properly) broadcasted multiply is the same as a dot with the matrix version of s (`np.diag(s)`)

So the code:
[code]
Must be broken:
[code]
You either need to `u @ np.diag(s)` or use broadcasting to make it do the right thing:
[code]
Can you see if making use of this allows you to make more progress on the unification?

Indeed we need to make it work. One issue will be h

[2020-04-22 21:09] larsoner commented on #7657
Just by eye looking at the maps thought of something -- have you tried tweaking the `rtol` in any `pinv` commands used in the code? To me it looks like a pseudoinversion gone wrong, blowing up a component. In particular we might store these matrices in `float32` format in which case the default `rtol=1e-15` could be wrong after I/O round trip. But even before that, it might be too high.

If you se

[2020-04-22 21:18] jonathanjfshaw commented on #7479
There is a WIP implementation here:
https://github.com/bertrandlalo/timeflux_rasr

[2020-04-23 06:50] nbara commented on #7479
@jonathanjfshaw I wasn't aware of this one.

I also have a working (AFAICT), but poorly documented version on my computer. It does both ASR and the riemannian variant (in my experience they give very similar results). I will try to clean it up and upload it to github in the next couple weeks.

[2020-04-23 08:39] yh-luo opened #7661 "ENH: Remove redundant tests on make_flash_bem"
#### Describe the problem

`mne.bem.make_flash_bem` was tested in both `mne/commands/test_commands.py` and `mne/tests/test_bem.py`. Since the function is time-consuming, merge them into `test_flash_bem` in `test_commands.py` would reduce testing time (~200 sec).

The flash bem surfaces in the testing dataset are different from surfaces computed by `mne/commands/test_commands/test_flash_bem` in tha

[2020-04-23 08:46] agramfort commented on #7661
nothing is necessary as long as we have tests to ensure that we don't break
things

[2020-04-23 09:24] ophelia3 opened #7662 "Cutting a Signal in a range of samples"
Hello, I have a signal (edf format) of 503700 samples and I want to cut that signal in order to obtain just a portion of it from sample 600 to sample 501000. How can I do this in python?

[2020-04-23 09:29] agramfort commented on #7662
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-04-23 09:29] #7662 closed

[2020-04-23 15:09] GuillaumeFavelier commented on #7599
I'm on it

[2020-04-23 15:50] GuillaumeFavelier commented on #7599
@larsoner I installed it and I have an issue with picking:

[code]

But except from that, the app is completely interactive. All the sliders and tool bar buttons work and are linked correctly.

[2020-04-23 16:11] larsoner commented on #7599
Hmm, must be some issue with my system. What's your `mne sys_info`? I'll try your version of Qt.

[2020-04-23 16:12] GuillaumeFavelier commented on #7599
[code]

[2020-04-23 16:13] GuillaumeFavelier commented on #7599
And I use `PyQt5              5.14.1`

[2020-04-23 16:16] larsoner commented on #7599
Ahh right without `mayavi` it will not tell you, let me update `sys_info`...

[2020-04-23 16:17] larsoner commented on #7599
Hooray! With `pip install --upgrade --user pyqt5` which gives 5.14.2 everything works fine

[2020-04-23 16:17] GuillaumeFavelier commented on #7599
Feel to try https://github.com/mne-tools/mne-python/pull/7665 then. It worked for me.

[2020-04-23 16:28] drammock opened #7666 "installation fails on CircleCI"
[code]

@GuillaumeFavelier do you know what caused this?

This was in the build_docs job from #7619

[2020-04-23 16:31] larsoner commented on #7666
Looks suspiciously like problems I got when using PyQt5 < 5.14 on Linux with VTK9. Hopefully it's spurious...?

Can you link to the CircleCI job? I looked at the last status commit there and it was fine

[2020-04-23 16:38] GuillaumeFavelier commented on #7666
I never got this one @drammock. The closest I can recall is the log @hoechenberger had some time ago:

[code]
which was fixed by `pip`-installing `mayavi`.

I agree with @larsoner, it looks related somehow to https://github.com/pyvista/pyvista/pull/686#issue-403215492

[2020-04-23 16:48] drammock commented on #7666
Circle pipeline 1213

https://circleci.com/gh/mne-tools/mne-python/19602

[2020-04-23 19:37] larsoner commented on #7661
+1 for updating `mne-testing-data` with the correct surfaces and using `assert_allclose` with something like `atol=1e-5`

[2020-04-23 19:47] larsoner commented on #7666
We've had green ones since then, so maybe it's some strange spurious thing...

[2020-04-23 20:12] larsoner commented on #7564
Reopening this one until we have tests for `SourceMorph` with mixed source estimates

[2020-04-23 20:24] nschawor opened #7669 "IndexError when calling pick_channels"
#### Describe the bug
I attempted to resave a dataset which was provided in a strange format (one file for subsets of channels), and encountered some strange behavior with the ```pick_channels``` function. I remember that this worked in mne version 0.19.2, but it does not anymore in 0.21.dev0.

#### Steps to reproduce
[code]

[MWE]: https://en.wikipedia.org/wiki/Minimal_Working_Example
[built-in d

[2020-04-23 20:26] agramfort commented on #7669
can you share the file?

does it work with 0.20.1 ?

[2020-04-23 20:28] larsoner commented on #7669
Probably due to #7507 so I would expect this to work on 0.20 and 0.20.1. Indeed having the problematic file would help

[2020-04-23 20:34] nschawor commented on #7669
The above minimal example should execute, since it is with some random synthetic data and should also throw an error with 0.21.dev0. It works with v.0.20.1.

[2020-04-23 20:56] agramfort commented on #7669
sorry I read too quickly

I confirm it fails with current master

[2020-04-23 22:06] #7631 closed

[2020-04-24 06:24] #7669 closed

[2020-04-24 07:44] #7654 closed

[2020-04-24 11:01] thht opened #7671 "ENH: Add classes for Spectra / PSD"
#### Describe the problem
mne features dedicated classes for time-series data as well as time-frequency data. however, for a current project i need to work a lot with spectra. this would preferably include good exploratory plotting solutions like we already have for time-series data, including interactive features.

#### Describe your solution
as i am going to need these features anyhow, i am goin

[2020-04-24 11:11] yh-luo commented on #7661
So `assert_close` with `kwargs = dict(rtol=1e-7, atol=1e-5)` passed. The generated surfaces are compared to the assumed correct surfaces (I copied the output surfaces from pytest temp folder).
If only `mne/tests/test_bem.py::test_make_flash_bem` needs FLASH images in testing data, I think those could be removed to shrink the size of testing data. If that sounds reasonable to you I would look into

[2020-04-24 11:14] agramfort commented on #7661
@larsoner your call here.

[2020-04-24 11:54] larsoner commented on #7671
@drammock is also fighting with this issue. One solution is to consider these TFRs with a single time point, and make our computation functions like compute_source_psd return them.

[2020-04-24 11:55] thht commented on #7671
ok, but does this let me plot spectra and then mark a time-window which results in a topoplot etc?

[2020-04-24 11:58] larsoner commented on #7671
Not sure, need to check the docs for those classes. But if not, these seem like core features that should be part of the class anyway so we should add them

[2020-04-24 12:07] thht commented on #7671
ok... so i am going to start by creating a subclass of AverageTFR in my own repo, add the methods and as soon as it works i start an mne branch and refactor it into the original class... and then we can see how to make in mne-ready....

[2020-04-24 12:18] larsoner commented on #7671
Sounds reasonable to me but let's wait to hear from at least @drammock and @agramfort that they agree before you put in too much effort

[2020-04-24 12:21] larsoner commented on #7671
... actually I'm not sure why it would need to be a subclass rather than an instance of `AverageTFR` directly. If it's going to have to be a subclass we'd probably just want to make a new class altogether.

I know @drammock's use case involves storing multitaper estimates, so you still end up with 3D data of shape `(n_channels, n_freqs, n_tapers)`, so we could put this in `AverageTFR` easily, but

[2020-04-24 12:25] larsoner commented on #7661
The files do not seem so large -- the `.tri` are ~[200](https://github.com/mne-tools/mne-testing-data/blob/master/subjects/sample/bem/inner_skull.tri) kB each, `.surf` ~[100](https://github.com/mne-tools/mne-testing-data/blob/master/subjects/sample/bem/inner_skull.surf) kB, so we'd only be talking about ~1 MB in a ~1 GB file. Not sure it's worth it. But if you're motivated @yh-luo we could hard-co

[2020-04-24 12:25] thht commented on #7671
sorry, this seems to be a misunderstanding.

in the final mne python version this would be all implemented in `AverageTFR`. but as i need this now and still want to use the stable mne version in my analysis project, i will create my custom subclass of `AverageTFR` just adding the features i need because i do not want to change the mne code in this particular scenario.

when i am ready to integrate

[2020-04-24 12:29] larsoner commented on #7671
Indeed, makes sense

[2020-04-24 12:32] drammock commented on #7671
Maybe I'm still not understanding your use case, @thht, but I don't see how a subclass approach will work in the long run. `EpochsTFR`, for example, does not even have a `.plot()` method.  And the default `.plot()` for `AverageTFR` is an imageplot, not a line spectrum.

If you can make `AverageTFR` work for your use case, definitely go for it... I'm just skeptical about how it will integrate into

[2020-04-24 12:37] thht commented on #7671
good point... but the good thing here is, if i implement my personal version like this, we would still have both options for the final mne implementation. either we create a specialized class for spectrum data so we just need to copy the missing pieces from `AverageTFR` and then make it an independent class. or we copy the code i write to `AverageTFR`. just boils down to what code is going to be c

[2020-04-24 12:39] larsoner commented on #7671
Maybe a `Specta` class that can be a single or multiple spectral estimates is the way to go?

- stores data as `(n_channels, n_frequencies, n_estimates)`
- has a `plot` method that produces amplitude + phase as a function of freq
- if you do `my_avg_tfr.as_spectra(time)` this returns an instance of `Spectra`

Something like this? There would be remaining open questions that we could then solve dur

[2020-04-24 12:40] yh-luo commented on #7661
@larsoner No I mean the T1 files from mne-testing-data [#12](https://github.com/mne-tools/mne-testing-data/pull/12) and [#13](https://github.com/mne-tools/mne-testing-data/pull/13), that's around 50MB. These files seems to exist solely for `test_make_flash_bem` to work?

[2020-04-24 12:41] thht commented on #7671
yes, that would be exactly what i am looking for.

[2020-04-24 12:42] thht commented on #7671
one issue might be that when doing multitaper, you might end up with a non-uniform amount of tapers for the frequencies. no idea how this is implemented in mne, but fieldtrip offers to calculate the amount of tapers individually per frequency...

[2020-04-24 12:44] larsoner commented on #7661
We definitely want to keep some tests of `make_flash_bem`. I thought you were proposing to remove the output files, but now it looks like you're talking about the input files like `flash5.mgz` so we wouldn't be able to test at all ...? Or do you mean keep just `flash5.mgz` and `flash30.mgz`, delete all the `COR-*` files and let those be generated ...?

[2020-04-24 12:46] larsoner commented on #7671
I'm guessing this is like the `adaptive=True` in MNE. If so, this is done after computing all tapers for all frequencies (window with Slepian -> FFT -> combine across tapers to get the PSD) so is really a question of how to combine the complex multitaper values rather than what complex values to compute in the first place. And I'm not too worried about storage unless we start talking about allowin

[2020-04-24 13:00] dengemann commented on #7671
Continuation of #1434. @thht I agree this is a good idea.

[2020-04-24 13:07] yh-luo commented on #7661
No I'm proposing to remove the T1 COR files from `mne-testing-data` because `test_flash_bem` does not use it.
`test_flash_bem` uses sample dataset to test while `test_make_flash_bem` from `mne/tests/test_bem.py` uses testing data, which was the reason that COR-* were uploaded.
The computed surfaces from these two tests do not agree with each other. Because `test_flash_bem` uses both `mef5d.mgz` an

[2020-04-24 13:18] larsoner commented on #7661
The `ultraslowtest` does not run on CIs and does not run when people do `make pytest` so we should not rely on it. If I had to guess, anything marked `ultraslowtest` probably gets run a few times a year by me and maybe a couple others by accident and that's about it...

The solution sounds like it should be to add the the `flash30.mgz` file to the testing data, update the `testing` surfaces if nec

[2020-04-24 13:27] yh-luo commented on #7661
I agree with this solution. I would run some tests to see if that works.

I'm not sure about `flash5.mgz` but would check this as well. May I just keep this issue open and gather more information?

[2020-04-24 13:30] larsoner commented on #7661
Yeah no rush to fix this

[2020-04-24 16:19] GuillaumeFavelier commented on #7648
Another useful source?

https://docs.pyvista.org/examples/02-plot/volume.html?highlight=volume

[2020-04-24 16:24] larsoner commented on #7648
Yes much more useful!

[2020-04-24 20:23] larsoner commented on #6155
FYI I have an implementation based on the discussions above in #7639. Feel free to have a look at the API and try it out!

[2020-04-24 20:25] agramfort commented on #7671
make it work for your needs, use it, iterate until you're happy with API
and we'll make it nice to be integrated into MNE

my 2c

[2020-04-24 22:02] poojaprabhu9 commented on #6155
I was trying to read the volume stc which were computed previously using
mne.read_source_estimate in mne.v0.21.dev0.
I met with an error
TypeError: vertices must be an instance of list, got <class
'numpy.ndarray'> instead.
without reading stcs i cannot check the extract_label_time_course ,correct?
How to solve this?

On Sat, Apr 25, 2020 at 1:53 AM Eric Larson <notifications@github.com>
wrote:

--

[2020-04-24 23:08] rob-luke opened #7678 "Add line width parameter to plot_filter"
#### Describe the problem
The line width in `plot_filter` is quite thick, when overlaid with other lines it looks very dominant. For an example see this [WIP](https://mne.tools/mne-nirs/auto_examples/plot_30_frequency_summary.html#discussion).

#### Describe your solution
Can I add a `linewidth` argument to the `plot_filter` function? I would make it take a single value or a list with as many valu

[2020-04-25 00:05] larsoner commented on #7678
Have you considered modifying `fig.axes[ii].lines` after `fig` is returned?

[2020-04-25 00:11] larsoner commented on #6155
Should now be fixed in the PR (let's keep conversation there for now)

[2020-04-25 00:45] rob-luke commented on #7678
Yes, sorry should have listed that in alternatives.

This is a totally subjective issue, so its fine if you say this is the style that MNE has agreed on and we want it left as is. Its just that my preference is for line widths of 1 and single argument changes rather than modifying `axes.lines`.

So I can leave as is if you prefer. But also happy to make the code changes and submit a PR.

[2020-04-25 01:26] larsoner commented on #7678
Generally we try not to expose all the mpl parameters in our API but instead let users change them after the fact. So I'd rather not add an argument, but I'm open to changing the default so it looks better and/or makes the function more broadly applicable

[2020-04-25 01:27] larsoner commented on #7678
(usually thick lines are not a good choice, so it's entirely possible something better could be done. If you go this route please touch the plot_background_filtering.py tutorial since that's where the changes will be most obvious)

[2020-04-25 13:18] agramfort opened #7679 "ENH: Implement TRAP-MUSIC inverse method"
Based on https://github.com/MattiStenroos/trapmusic_python/blob/master/trapmusic.py

by @MattiStenroos it should not be too hard.

[2020-04-26 01:36] tayyabafaisal opened #7680 "Unable to read EDF file"
Hello
I'm working on an EEG signal but even after trying several ways, I'm unable to read the dataset.
There is an error  of null values in the header while reading with mne
I have around 200 edf files in the dataset all have the same issue. Can you please identify the issue.

[2020-04-26 08:12] cbrnr commented on #7680
Can you share one of the problematic files with us?

[2020-04-26 10:16] tayyabafaisal commented on #7680
Zipped two files.Please check.Hope you can figure out
Thankyou
[edffiles.zip](https://github.com/mne-tools/mne-python/files/4535089/edffiles.zip)

[2020-04-26 18:11] cbrnr commented on #7680
Both files work for me with the latest 0.20.1 release - please update MNE and try again.

[2020-04-27 11:20] tayyabafaisal commented on #7680
Thankyou for your reply
Im using same version but get this error (check attached)
My script is
import mne
f='0000002.edf'
edf_file = mne.io.read_raw_edf(f, preload = True)

If you can please check my script
Thankyou
<img width="1132" alt="Screenshot 2020-04-27 at 4 18 38 PM" src="https://user-images.githubusercontent.com/59199087/80366473-c2a69d00-88a2-11ea-8622-7865e1b20d40.png">
<img width="1069

[2020-04-27 13:06] cbrnr commented on #7680
Got it, you're using the current dev version and I can reproduce the error with the current master. I'll try to figure out what change introduced the regression.

[2020-04-27 13:14] cbrnr commented on #7680
Wait, I made a stupid mistake. In fact, current master still works and correctly loads your example file. Same for 0.20.1. I guess you are referring to the issue reported and fixed in #7641. Prior to 0.20.1, I can indeed reproduce the error.

You are on an outdated master branch. Please either pull the latest changes from `upstream` (your remote might also be called `origin` depending on how you c

[2020-04-27 14:58] thht opened #7681 "n_tapers is not set in _assemble_spectral_params when using multitapers"
I discovered that when I run `mne.connectivity.spectral_connectivity` the `n_tapers` return value is always `None`, even if `mode='multitaper'` is set.

Looking at the file `mne/connectivity/spectral.py` and there at the function `_assemble_spectral_params`, it seems that `n_tapers` is initialized to `None` at the beginning but is never set.

[2020-04-27 15:50] larsoner commented on #7681
Sounds like a bug indeed @thht . Up for making a PR to fix it?

[2020-04-27 16:31] larsoner commented on #6154
@virvw I'll go ahead and close this since it seems like with volume labeling/extraction (#6155 and #7639) this should be possible. But if we run into problems with efficiency or things don't work feel free to reopen and we'll figure out how to make it work better.

[2020-04-27 16:31] #6154 closed

[2020-04-27 16:39] larsoner commented on #5561
I think with faster FFTs available via pocketfft in SciPy and NumPy nowadays this is probably less critical. Though perhaps we should someday change the default `use_fft=True` since it's probably always faster nowadays.

[2020-04-27 16:39] #5561 closed

[2020-04-27 16:41] larsoner commented on #3699
I think that this has been taken care of in the refactoring plus examples like:

https://mne.tools/dev/auto_tutorials/source-modeling/plot_eeg_mri_coords.html#sphx-glr-auto-tutorials-source-modeling-plot-eeg-mri-coords-py

Feel free to reopen if things are still not clear

[2020-04-27 16:41] #3699 closed

[2020-04-27 16:43] larsoner commented on #7515
Added this to #2995, and assigned that one to you @hoechenberger . Feel free to revisit the suggestions there with @agramfort at some point to see what in that list is still relevant (probably most of them). Though I *think* we took care of the head bound issue so I'll tick that box...

[2020-04-27 16:43] #7515 closed

[2020-04-27 16:50] hoechenberger commented on #2995
:D

[2020-04-27 16:56] larsoner commented on #7680
Thanks for investigating and explaining @cbrnr

[2020-04-27 16:56] #7680 closed

[2020-04-27 16:58] larsoner commented on #7666
Looks like it was spurious so I'll close

[2020-04-27 16:58] #7666 closed

[2020-04-27 17:02] hoechenberger opened #7683 "viz.get_3d_backend() should return None if no 3d backend was found, instead of raising an exception"
#### Describe the problem
Currently, `mne.viz.get_3d_backend()` will raise a `RuntimeError` if no usable backend has been found:

https://github.com/mne-tools/mne-python/blob/d0b8bcf5201d7b5c278e7410e4035dc5aead30b8/mne/viz/backends/renderer.py#L119-L147

#### Describe your solution
I believe it should return `None` instead: if there is currently no 3d backend, then, well, there is none ;)

#### D

[2020-04-27 17:02] larsoner commented on #7632
Sounds like we don't need this in MNE so I'll close, feel free to reopen if need be @adam2392

[2020-04-27 17:02] #7632 closed

[2020-04-27 17:26] fleurgaudfernau opened #7684 "tfce not handling negative values"
#### Describe the bug
Hello,
When performing sample permutation cluster t-tests (two tailed) with tfce on an array with negative values, I obtain only positive t values. The t values seem correct, but the sign is wrong (for some samples at least). I get exactly the same result when performing a test  on X and on -X.

#### Steps to reproduce
[code]

#### Expected results
Negative values in T obs.

[2020-04-27 17:36] larsoner commented on #7571
I'll close since it looks like @cbrnr is taking care of this upstream in https://github.com/matplotlib/matplotlib/pull/17084 (thanks!)

[2020-04-27 17:36] #7571 closed

[2020-04-27 17:43] larsoner commented on #7368
I'll close assuming we can't come up with a different way to use this. But in case you want to investigate @cbrnr here is a snippet (constructed quickly just from looking at the [joblib docs](https://joblib.readthedocs.io/en/latest/memory.html)), you could imagine the `time.sleep` could be any time-consuming process:
[code]
Produces:
[code]

[2020-04-27 17:43] #7368 closed

[2020-04-27 17:45] larsoner commented on #7221
@jasmainak since you have worked a bit on the 3D plotting maybe you'd be interested in tackling this? I think the `io_orientation` or `aff2axcodes` would be the way to go for simplicity and speed.

[2020-04-27 17:46] larsoner commented on #7154
@drammock fixed this in #7668

[2020-04-27 17:46] #7154 closed

[2020-04-27 17:47] larsoner commented on #7073
@alexrockhill WDYT?

[2020-04-27 17:52] alexrockhill commented on #7073
Sorry this dropped off the radar, I will look over this within the hour

[2020-04-27 18:04] alexrockhill commented on #7073
Yes, looks like this is still an issue. I changed the example above slightly due to changes in montage. The output looks like this:

[code]

Where it seems not the best that they are labeled with EEG and a number. Any ideas about how to fix this?

[2020-04-27 18:46] larsoner commented on #7073
Label them `EEG-like` or something else? digitization doesn't/can't know whether it's EEG, ECoG, sEEG, but most of the time it will be EEG.

[2020-04-27 18:48] alexrockhill commented on #7073
What about just using the name of the channel?

[2020-04-27 18:50] larsoner commented on #7073
`raw.info['dig']` does not know the channel names, it is just a list of dig points that can be cardinal, extra, or EEG type

[2020-04-27 18:59] larsoner commented on #6775
@vassiki by "low" do you mean close to zero, or negative? For close to zero you can start your threshold above zero somewhere, it might help.

Otherwise it might be useful to figure out why the medial vertices are so strongly activated for your data

[2020-04-27 18:59] #7528 closed

[2020-04-27 19:00] alexrockhill commented on #7073
Ok maybe nevermind then. How are the digitizations related to the voltage traces named by channel then out of curiosity?

[2020-04-27 19:01] #6380 closed

[2020-04-27 19:03] agramfort commented on #7683
wdyt @GuillaumeFavelier ?

[2020-04-27 19:07] larsoner commented on #7073
The dig points can be used to assign `info['chs'][ii]['loc']` properly for EEG channels. But then you can pick/remove/add channels and `info['dig']` does not get updated, so there is no guarantee later that `info['dig']` has the same number or ordering of points as `info['chs']`.

[2020-04-27 19:53] alexrockhill commented on #7073
Gotcha thanks for the explanation, seems like there must be a good reason for info['dig'] that is not captured by info['chs'][ii]['loc'] but I'm not sure it's clear to me what that is.

[2020-04-27 20:34] larsoner commented on #7073
It can contain other points (headshape points, cardinal points) and EEG points no longer in the data. These are useful for coregistration even if you've `raw.pick_channels(raw.ch_names[:1])`'ed your data

[2020-04-27 20:47] ktavabi commented on #2995
Mayavi...swell 😐

[2020-04-27 21:09] alexrockhill commented on #7073
Cool, okay well, I think that answers everything I thought might be wrong, thanks!

[2020-04-27 21:09] #7073 closed

[2020-04-27 23:54] larsoner commented on #5521
Closing under the assumption that this is an old traits + Python 2.7 bug, let's reopen if someone hits it again

[2020-04-27 23:54] #5521 closed

[2020-04-27 23:58] larsoner commented on #7073
Where would we update documentation to make this clearer?

[2020-04-28 00:37] tayyabafaisal commented on #7680
@cbrnr can you please share script with me

[2020-04-28 06:19] yh-luo commented on #7661
So `T1.mgz` in testing dataset was resampled to 3mm voxel size while `T1.mgz` in sample dataset was not.
Because of the difference of `T1.mgz` and whether to use `flash30.mgz`, `mne/commands/tests/test_commands.py::test_flash_bem` and `mne/tests/test_bem.py::test_make_flash_bem` compute different surfaces.
But as you indicated in previous comment, `test_flash_bem` is decorated as `ultraslowtest` a

[2020-04-28 08:41] GuillaumeFavelier commented on #7683
`get_3d_backend()` was not designed for such a use. All the functions of `mne/viz/backends/renderer` expect it to return a valid 3d backend. So it's possible to make it return `None` instead of raising an error but I can't evaluate the impact of this change to the rest of those functions, which are used extensively in `_3d.py`. What would be the default behaviour of those functions if no 3d backen

[2020-04-28 08:53] hoechenberger commented on #7683
Yes I was concerned about this too, bc then these functions all would have to check if `None` was returned or not, which seems cumbersome. However like I said, I've searched the sources for calls of this function, and there's always a comparison like `if get_3d_backend() == 'pyvista'`, so it should be safe to make such a change, but …

… this sounds like a cleaner approach. What would the function

[2020-04-28 09:02] GuillaumeFavelier commented on #7683
Not always, you can look in `_get_renderer()` which is used in every function of `_3d.py` and `_use_test_3d_backend()` which is used indirectly in `test_3d.py` through the `renderer` fixture.

`have_3d_backend()` sounds good to me. So this function would return `True` is there is a valid 3d backend and `False` otherwise, right?

[2020-04-28 09:04] hoechenberger commented on #7683
That would be the idea, yes :)

[2020-04-28 09:11] GuillaumeFavelier commented on #7683
I'll open a PR to take care of it then :)

[2020-04-28 09:21] agramfort commented on #7683
ok for have_3d_backend function

[2020-04-28 13:20] larsoner commented on #7661
It's okay to merge the two tests into one that only uses the `testing` data with the 3mm resampled MRI. The surfaces to test against can just be ones that you create now from those testing data knowing/assuming that our current code is correct.

[2020-04-28 13:52] #7684 closed

[2020-04-28 22:28] adam2392 opened #7691 "Coordinate Frames of Montage Converted from Unknown to Head Automatically?"
#### Describe the bug
When I pass in a montage with `coord_frame = 'unknown'', and check the actual montage, it is all of a sudden in the head coordinate. I believe it is due to this line:

mne-python/mne/channels/montage.py:664

Inside function: mne.channels.montage._set_montage. As a result, raw.set_montage(montage) now has all coordinate frames in head frame.

#### Steps to reproduce
[code]

##

[2020-04-28 22:30] adam2392 commented on #7691
Actually for that matter, I'm also having a really hard time making the montages agree after `set_montage` and `get_montage` in this PR: https://github.com/mne-tools/mne-python/pull/7667

I believe the only change is this `_get_montage_in_head()` transformation that is applied.

[2020-04-29 05:49] hoechenberger commented on #7691
Hey @adam2392, this can make your life easier:
https://help.github.com/en/github/managing-your-work-on-github/creating-a-permanent-link-to-a-code-snippet

Also you can get syntax highlighting in code blocks if you start them with
"```python" :)

[2020-04-29 05:56] hoechenberger opened #7692 "What's New rendering issue"
That's with the [0.20 What's New](https://mne.tools/stable/whats_new.html) and occurs with the 0.20.1 and 0.20 changelog:
![Screenshot 2020-04-29 at 08 05 48](https://user-images.githubusercontent.com/2046265/80565290-6c477480-89f0-11ea-883d-8b8b1d9c4b7f.png)

[2020-04-29 05:59] hoechenberger opened #7693 "DOC: Add contributor guidance about f-strings"
As we dropped support for Python 3.5, can we use [f-strings](https://www.python.org/dev/peps/pep-0498/) now instead of those dreadful `str.format()` and `'%s' % foo` thingies? :-) I think in many situations, `f-strings` are _much_ more readable. What's the other developers' opinion on this?

[2020-04-29 06:20] cbrnr commented on #7693
YES! YES! YES! 💯

[2020-04-29 06:33] agramfort commented on #7693
No objection but do not start a PR to change everywhere. Lets do it new code or when we need to touch old code

[2020-04-29 06:38] hoechenberger commented on #7693
That's exactly what I had in mind, sorry for not being clear in the beginning!

- Use `f-strings` in new code when appropriate
- Only change existing code when necessary

[2020-04-29 07:13] agramfort commented on #7692
pushed fixed in master. thx @hoechenberger for reporting this

[2020-04-29 07:13] #7692 closed

[2020-04-29 07:26] agramfort commented on #7691
@larsoner we need to discuss this again.

chs loc "must" be in head according to MNE convention
but are we currently too strict with dig?

[2020-04-29 08:58] ezemikulan opened #7694 "Adding new dataset (ground-truth for source localization)"
Hi all, we have just published a [dataset](https://www.nature.com/articles/s41597-020-0467-x) that contains simultaneous intracerebral stimulation and HD-EEG. I think it would be great to add it to the datasets in MNE. What do you think?

[2020-04-29 10:32] yh-luo commented on #7661
The PR (#7663) is almost ready. After using resampled `T1.mgz` from `mne-testing-data`, `test_flash_bem` takes ~70 sec locally (current test costs ~ 200 sec). Does `test_flash_bem` still counts as `ultraslowtest`? Or should I remove that decorator in the PR?
Also, for the PR to work, `mne-testing-data` needs to update the flash bem surfaces as in the [commit](https://github.com/yh-luo/mne-testing-

[2020-04-29 11:22] agramfort commented on #7694
that would be awesome !

you know where to start @ezemikulan ?

[2020-04-29 11:59] antonwnk opened #7696 "filter_data docs 'upper cutoff frequency' typo"
#### Describe the bug
The docs of `mne.filter.filter_data` have a typo: both `l_freq` and `h_freq` are said to represent "the upper cutoff frequency" for IIR filters.

#### Steps to reproduce
[code]
I would submit a PR myself but I don't know how your documentation works.

[2020-04-29 12:20] larsoner commented on #7661
Yes that's still too long for something like this I think. A better option is probably to add an Azure run that *only* runs the tests marked *ultraslowtest*. But we should do that separately.

Let's follow the procedure here:

https://github.com/mne-tools/mne-testing-data#add-or-change-files-in-the-repo-for-use-with-mne

No, but I can run tests locally on your branch before merging the `mne-testin

[2020-04-29 12:21] larsoner commented on #7661
Actually I take that back, you could do a lot of messing with `mne/datasets/utils.py` to get it to test the commit from your branch, but it's probably not worth it

[2020-04-29 12:34] larsoner commented on #7691
To me dig does *not* require all points in head coords, correct.

`ch['loc']` we could in principle even relax because there is `ch['coord_frame']`, but it would require a lot of careful changes to get right (e.g., in forward calculation).

[2020-04-29 13:08] larsoner commented on #7696
Any time you see

https://github.com/mne-tools/mne-python/blob/master/mne/filter.py#L754

It just uses something from

https://github.com/mne-tools/mne-python/blob/master/mne/utils/docs.py#L241

Can you make a PR to fix `docs.py`?

[2020-04-29 13:24] ezemikulan commented on #7694
Great. I've been looking a bit at the datasets module and in particular  at the mne.datasets.utils._data_path function. I think I can have a closer look and let you know if I have questions (I need to finish a couple of things before being able to work on this). In any case, if you have specific instructions os suggestions I'll be more than happy to hear them.

[2020-04-29 13:25] yh-luo commented on #7661
Since `test_bem.py` kept failing, I figured that a bunch of bem stuff in testing dataset (e.g, `sample-1280-1280-1280-bem.fif`) would not match the model computed from the newly created surfaces (i.e., using both flash5 and flash30). Even when I passed `-3` to `mne flash_bem` to skip 30-degree flip angle data, the computed surfaces are still different from the current surfaces in the testing datas

[2020-04-29 13:26] agramfort commented on #7694
great

ask us if you need help

[2020-04-29 13:40] larsoner commented on #7694
@ezemikulan you can look at this PR to get a sense of all of the files you should change to add a new dataset

https://github.com/mne-tools/mne-python/pull/7018/files

[2020-04-29 13:45] larsoner commented on #7661
It's likely/possible that the 1280-bem files were produced using the 1mm MRI data, which is fine. We can keep them that way. We don't need everything to be created from the same set of files -- e.g., the 1280-bem's can be created using `sample` data and be in the same folder with `inner_skull.surf` files that came from the 3 mm MRIs in `testing` -- we just need to know and document where they all

[2020-04-29 13:48] ezemikulan commented on #7694
Perfect, thanks

[2020-04-29 14:41] drammock commented on #7693
I'm also in favor, though I guess we don't really need to keep this issue open? Unless @hoechenberger wants to add a sentence to the contributor guide about it...

[2020-04-29 14:47] hoechenberger commented on #7693
I just wanted to hear your opinions :) I can add a couple words to the contributor guide, sure!

[2020-04-29 14:48] adam2392 commented on #7691
Hmm seems that the transformation would definitely impact EEG and MEG. Is it possible to at least as a simple fix, add a flag `transform_head = True`  or something to just allow iEEG data setting montage to get rid of this transformation?

[2020-04-29 15:15] larsoner commented on #7693
Yes the informal policy is that once we bump a requirement (incl. Python) we start using features available from that requirement where / when it's useful to do so, assuming people agree that those features are useful compared to what we've been doing. For example

- we no longer need to use OrderedDict because `dict` maintains order in 3.6+
- we started using `np.mean(x, axis=0, keepdims=True)` i

[2020-04-29 18:38] #7696 closed

[2020-04-29 19:47] agramfort commented on #7691
i feel we should consider this as currenlty sEEG/ECoG folks will read in MRI
fake it head and than silently use trans Head<->MRI as Identity to get it
to work.

thoughts?

[2020-04-29 19:47] #7693 closed

[2020-04-29 20:10] jasmainak commented on #7691
could we allow `ch['loc']` to be not `'head'` based on the channel type? Because there is no forward calculation to be done for ECoG data (yet) in MNE. Then you avoid complexity and only check this when setting.

[2020-04-29 22:52] kylemath commented on #7057
@rob-luke @larsoner - My student and I are working on the function to load BOXY data files from the imagent software, along with digitized sensor location files and lists of location names for our helmets. <img width="794" alt="Screen Shot 2020-04-29 at 4 44 55 PM" src="https://user-images.githubusercontent.com/3662613/80654401-ffa09a00-8a30-11ea-8d41-a35b7fe51e60.png">
This is working quite well

[2020-04-30 05:44] yh-luo commented on #7661
Actually, not that many files are influenced by this PR, which is a good news.
Aside from flash bem surfaces, only `sample-320-320-320-bem.fif`, `sample-320-bem.fif`, `sample-320-320-320-bem-sol.fif` and `sample-320-bem-sol.fif` require updates.
Since the surfaces are reconstructed from both flash5 and flash30 now, I recreate these files using the new surfaces with `make_bem_model` and `make_bem_s

[2020-04-30 10:57] hoechenberger commented on #7504
tl;dr: This problem does _not_ seem to be limited to a few spurious recordings in the Cam-CAN dataset, but also exists with data acquired in other imaging centers, including NeuroSpin.

I've encountered this (or a related) problem with data acquired as NeuroSpin. Have not yet looked into it in greater detail (i.e., it _could_ also be a different problem, but my gut feeling says it's the exact same

[2020-04-30 11:05] agramfort commented on #7504
go for it. Indeed it's a frequent pb.

[2020-04-30 12:11] #6155 closed

[2020-04-30 13:10] larsoner commented on #7661
Sounds reasonable to me, feel free to make a PR to `mne-testing-data` with the updated files and then a PR to MNE to use them

[2020-04-30 13:16] larsoner commented on #7057
Channel locations in MNE-Python are supposed to be stored in Neuromag head coordinates, see:

https://mne.tools/dev/auto_tutorials/source-modeling/plot_source_alignment.html
https://mne.tools/dev/overview/implementation.html#the-forward-solution

So the `read_raw_nirx` transforms them to the head coordinate frame. Since the NIRx are in MNI (apparently?) and `fsaverage` is in MNI, you can just use

[2020-04-30 13:25] larsoner commented on #7691
The question in my mind is, what should these people see for example with a topomap plot? Do we allow them to be silently in MRI coords when they do their plot? It breaks the uniformity of our topomap transformation, which might be worth it but we need to consider it.

If you're going to allow non-head for some sensor types (sEEG, ECoG), it's unclear why you wouldn't allow it in general, e.g., for

[2020-04-30 13:29] larsoner commented on #7057
... but see also the evolving discussion here https://github.com/mne-tools/mne-python/issues/7691#issuecomment-621424988

[2020-04-30 13:52] yh-luo commented on #7661
Thanks for the patience! I've made PRs to `mne-testing-data` and `mne-python`.

[2020-04-30 17:46] #7683 closed

[2020-04-30 17:57] jasmainak commented on #7691
I am not an intracranial expert but I think it's not kosher in the sEEG/ECoG world to deal with a head space. You have a CT scan with the device coordinates and you transform them to MRI coordinates by aligning with the anatomical MRI so that everything is in MR coordinates.

I agree that supporting a full pipeline for ECoG is going to be challenging. I understood that we needed this only for MNE-

[2020-04-30 18:06] larsoner commented on #7691
Something similar can happen with EEG+fMRI, so I think we have to think more broadly than special-casing sEEG and ECoG

[2020-04-30 18:30] adam2392 commented on #7691
Idk what a full pipeline would look like for ECoG/SEEG in mne, but honestly, I'm okay with just coordinate frame support when `set_montage` is called. Transforming to head seems weird to me. Just having a unified data structure that doesn't get arbitrarily modified/transformed would be a good start. E.g. you create a digMontage from coordinates and you know its in a specific T1 MRI coordinate syst

[2020-04-30 21:24] kylemath commented on #7057
Ok thanks, I think part of our confusing is that we only have two coordinate frames, and our "head" and "MEG" frames are aligned.

1) We digitize 300 points on the optical imaging headgear with a subset of those being channel locations (sources or detectors), as well as around the eyes, and fiducials. I am assuming this is our "head" frame.

2) A subset of these points are also the locations of li

[2020-04-30 23:43] rob-luke commented on #7057
Hi @kylemath,

I will leave these coordinate questions to the others. But it might be easier if you open a pull request as a WIP in this repository for the imagent data reader, that way we can comment directly on the code and iterate faster.

[2020-04-30 23:47] kylemath commented on #7057
yes good idea, will try to organize that this weekend after some testing

On Thu, Apr 30, 2020 at 4:43 PM Robert Luke <notifications@github.com>
wrote:

--
*Kyle E. Mathewson, Ph.D.*
Assistant Professor - Department of Psychology, Faculty of Science
Director - Attention Perception and Performance Lab
Affiliate - Neuroscience and Mental Health Institute, Faculty of Medicine
and Dentistry
University

[2020-05-01 00:14] rob-luke commented on #7057
Great, didn't mean to rush you, just whenever you have time. I found the support from the MNE team very encouraging when I added the NIRX reader.

Opening a PR will also move the detailed conversation there and keep this issue more for higher level agenda discussion.

[2020-05-01 04:37] yh-luo commented on #7661
closed by #7663

[2020-05-01 04:37] #7661 closed

[2020-05-01 08:13] nbara commented on #7479
As promised, I uploaded my code to my github page [(see here)](https://github.com/nbara/python-meegkit/blob/master/meegkit/asr.py).

It's still a bit rough around the edges and the riemannian variant is experimental*. To be honest I haven't found ASR super helpful. It sure does look compelling visually, but at least in my case it didn't make a big difference in my decoding results. Still I'm happy

[2020-05-01 19:23] NeuroLaunch commented on #7671
If as @larsoner suggests for data storage as `(n_channels, n_frequencies, n_estimates)`, then perhaps the class could hold a function (standard or user-customized) that acts on all stored estimates/tapers to produce a desired final spectrum for each channel.  A 1-D spectrum plot method, for instance, would invoke that aggregation function.

[2020-05-01 20:00] agramfort commented on #7479
@nbara can you share a self contained example using a fetched mne dataset ?

[2020-05-01 20:33] cbrnr opened #7710 "Set all types to False in pick_types"
Would it make sense to set all arguments in `pick_types` to `False` by default? In other words, currently everything is `False` except for `meg`. I know where this is coming from, but for people working with EEG, NIRS, or other non-MEG signals, we always have to include `meg=False` in addition to e.g. `eeg=True`.

[2020-05-01 20:54] agramfort commented on #7710
deprecation cycle will be a huge pain. I feel fully guilty for this but
it's trade off.
If you have only EEG data it's not a pb though no?

[2020-05-01 22:10] larsoner commented on #7710
+1 for doing it. I wish we had done it 5 (10?) years ago but it still seems worth it in the long run. I don't think actually it will be too terrible for users (many probably will have set it explicitly anyway), but even forcing them to add `True/False` (when MEG channels are present) will be more explicit in their uses anyway. A potential benefit (aside from consistency) is that it could actually

[2020-05-01 22:13] drammock commented on #7710
So then `raw.pick_types()` with all default arguments would be an error?  Or a raw object with zero channels?  :)

[2020-05-01 22:15] larsoner commented on #7710
Yeah, I suppose so. Kind of a weird side effect. But if you don't ask to pick anything it's probably better that it throws an error than it silently pick one channel type...

[2020-05-01 22:21] larsoner commented on #7521
Another user on Gitter has had a problem solved by switching to Qt5Agg. I say we officially recommend it to macOS users. There continue to be bugs and they need it anyway for the new 3D functionality to work, so it seems easier for us as a package to support Qt5Agg across all three platforms.

[2020-05-01 23:23] drammock commented on #7710
Agreed. +1 for embarking on the painful deprecation effort.

[2020-05-02 00:33] #7595 closed

[2020-05-02 06:07] hoechenberger commented on #7710
+1 for this from my end, the current behavior always felt weird to me (an EEG user)

[2020-05-02 06:10] hoechenberger commented on #7710
Valid comment though. But since simultaneous recordings with different methods are gaining in popularity, I believe addressing this issue will become more and more important in the future.

[2020-05-02 07:19] cbrnr commented on #7710
Alright, so it looks like we agree that this must be done. I'll submit a PR.

[2020-05-02 07:23] dengemann commented on #7710
I think this is a good idea. +1 from my side.

[2020-05-02 07:24] agramfort commented on #7521
Ok for me

[2020-05-02 07:25] cbrnr commented on #7521
First, I don't think this issue is related to the backend at all.

I'm OK with recommending Qt5Agg also on macOS, but I think it is important that we still try to fix issues related to the macosx backend. This is still the default MPL backend, so we need to make sure that basic plotting works. Switching to Qt5Agg on a Mac requires users to include one or two additional lines in their scripts/inter

[2020-05-02 07:35] nbara commented on #7479
Sure, do you have any idea which dataset I should use? The ASR paper recommends at least 30s of clean data to calibrate. But ideally it should also contain high amplitude artifacts to get a nice before/after effect.

Sent from my phone

[2020-05-02 08:09] agramfort commented on #7479
none I can suggest like that but maybe some eegbci subject? unless it's
public hence quite clean data

[2020-05-02 08:29] agramfort commented on #7710
before fully diving into this let's have a clear plan as it's a lot of work.

In Master:

If you have EEG/MEG:
raw.pick_types(meg=False, eeg=True) -> EEG only
raw.pick_types() -> MEG only

If you have EEG:
raw.pick_types() -> Error?

If you have MEG:
raw.pick_types() -> MEG only

what behavior do you expect in the next release and the next next one?

[2020-05-02 08:37] cbrnr commented on #7710
The next release (0.21) should behave identically to 0.20, but a `DeprecationWarning` should be raised (something like "The defaults of pick_types will change in the next release. All signal types will be set to False by default (currently, meg=True by default).").

Release 0.22 should implement the new behavior. Your examples will be:

If you have EEG/MEG:
[code]

If you have EEG:
[code]

If you

[2020-05-02 08:39] hoechenberger commented on #7710
I've converted @agramfort's list to a table, which we can potentially amend as the discussion progresses.

| ﻿Type      | pick_types() call               | master behavior | proposed new behavior |
|-----------|---------------------------------|-----------------|-----------------------|
| EEG & MEG | pick_types(meg=False, eeg=True) | EEG only        |                       |
| EEG & MEG | pick_typ

[2020-05-02 08:42] cbrnr commented on #7710
What is the current behavior when I pick types that don't exist? Does it raise an error? Or pick nothing (i.e. return a zero-channel object)? Or is this a no-op?

[2020-05-02 08:45] hoechenberger commented on #7710
Updated table based on @cbrnr's and @agramfort's comments – hope I copied everything correctly.

| ﻿Type      | pick_types() call               | master behavior | proposed new behavior |
|-----------|---------------------------------|-----------------|-----------------------|
| EEG & MEG | pick_types(meg=False, eeg=True) | EEG only        |                       |
| EEG & MEG | pick_types()

[2020-05-02 08:45] agramfort commented on #7710
to be tested. I would really start by writing tests here.

[2020-05-03 04:40] kylemath commented on #7521
Just running into a problem where tkAgg crashes my macbook during any plotting (which I have had before in other software). Came to search for other issues reporting this, and how to avoid having to add this backend change to tutorials and test scripts, etc:

[code]

I fixed this by changing MPL backend on my machine like this:
https://stackoverflow.com/a/57090889

[2020-05-03 12:24] cbrnr opened #7713 "Change description on homepage"
Currently, the short description on the [MNE homepage](https://mne.tools/stable/index.html) says:

"Open-source Python software for exploring, visualizing, and analyzing human neurophysiological data: MEG, EEG, sEEG, ECoG, and more."

Maybe I'm too ignorant, but I don't even know what sEEG is (I always thought sEEG and ECoG are synonyms). Furthermore, NIRS support is probably more interesting for

[2020-05-03 14:33] yh-luo opened #7715 "BUG: VectorSourceEstimate.plot() in v20 does not show the surfaces"
#### Describe the bug
`VectorSourceEstimate.plot()` is not working properly in v20.

#### Steps to reproduce
I used the `sample` dataset to compute some `VectorSourceEstimate` files to play around. Trouble shootings in [Advanced setup of MNE-Python](https://mne.tools/stable/install/advanced.html#advanced-setup-of-mne-python) did not fix the problem.
[code]

#### Expected results
In MNE v19, it wor

[2020-05-03 14:35] larsoner commented on #7715
This could be garbage collection, if you do `brain = stc.plot(....)` to keep a reference to the object, does it help?

[2020-05-03 14:40] yh-luo commented on #7715
@larsoner No, ```brain = stc_aud.plot(hemi='both', initial_time=0.1)``` shows the same behavior. Also, the bug exists in both Python interpreter and IPython.

[2020-05-03 15:39] jasmainak commented on #7221
i'm sorry with the late response. How urgent is this? The original request seems straightforward to fix but the rest might need work. I am a bit swamped at the moment due to an upcoming grant deadline, but I can file it in my todos and would be happy to give it a stab after that.

[2020-05-03 17:26] Ferdodonna opened #7716 "BUG: Not able to read .mat file via mne.io.read_raw_fieldtrip()"
#### Describe the bug
Two errors are raised while trying to read a .mat file. File can be opened and plotted in Matlab:

<img width="503" alt="Capture" src="https://user-images.githubusercontent.com/51679922/80921023-79a38c80-8d6b-11ea-9293-db1083a852e3.PNG">

#### Steps to reproduce
Dataset used: [P300S01.mat](https://www.dropbox.com/s/lzr3p5yuhodvbdq/P300S01.mat?dl=0) [size 40MB]

[code]

#### E

[2020-05-03 17:33] yh-luo commented on #7715
I used [Visualize source time courses](https://mne.tools/stable/auto_tutorials/source-modeling/plot_visualize_stc.html#sphx-glr-auto-tutorials-source-modeling-plot-visualize-stc-py) to further test `SourceEstimate.plot()`, `VolSourceEstimate.plot()` and `VectorSourceEstimate.plot()`, only `VectorSourceEstimate` has this problem.

[2020-05-03 19:09] agramfort commented on #7716
@thht it's a fieldtrip dataset. Any idea?

[2020-05-03 19:17] yh-luo commented on #7715
I think depth peeling could be the issue. The surfaces are shown correctly (but ugly) when `brain_alpha=1`. I tried to comment out the below part to avoid depth peeling and the problem is fixed too.

https://github.com/mne-tools/mne-python/blob/5f4c9046fb07cf75a316d56d809e4b7266753ceb/mne/viz/_3d.py#L2503-L2507

[2020-05-03 21:00] agramfort commented on #7713
sEEG is stereotactic EEG (implanted electrodes). Sometime it's just called
iEEG

ECoG means a grid

+1 to add NIRS

I don't like much the word "toolbox" that reminds me of my matlab time :)

maybe package? But I prefer software

"Open-source Python software for exploring, visualizing, and analyzing
human neurophysiological data: MEG, EEG, sEEG, ECoG, NIRS, and more."

in our ch_type we have sEEG d

[2020-05-03 22:42] kylemath commented on #7057
Moved this discussion to: https://github.com/mne-tools/mne-python/pull/7717 @rob-luke

[2020-05-03 22:56] kylemath opened #7718 "import code for optical imaging data from BOXY, fNIRS and fast signal"
#### Describe the problem
Want to create io functionality for BOXY files created for the Imagent and Imagent 2 from ISS, which collect both overall and modulated light levels, but also phase delay measures used to measure fast scattering changes in neural tissue.

#### Describe your solution

Working on a set of io functions similar to the NIRx.py options to load files in as Raw objects here:
Load

[2020-05-03 23:58] rob-luke commented on #7718
I am going to comment directly on the pull request as the dot points above are the same as the checklist there. Let me know if its preferable for me to comment here instead.

[2020-05-04 08:08] thht commented on #7716
hi @Ferdodonna,
first of all, thank you for the good and detailed bug report.

from the matlab screenshot of the structure you provide it seems that this is not a FieldTrip data structure you are trying to load. the `read_*_fieldtrip` functions can only handle data structures created by FieldTrip. it might be the case that FieldTrip has changed their structures very recently, but so far i am not a

[2020-05-04 12:08] yh-luo commented on #7715
I'm closing this because it's actually a problem of Fedora with NVIDIA Optimus laptop. Others may encounter the same Mayavi rendering [problem](https://stackoverflow.com/questions/52621431/mayavi-not-rendering-solid-surface-correctly) so the solution is below:
1. Install the proprietary nvidia driver
2. [Configure graphics applications to render using the NVIDIA GPU](https://rpmfusion.org/Howto/Op

[2020-05-04 12:08] #7715 closed

[2020-05-04 12:17] GuillaumeFavelier commented on #7715
Thanks for sharing!

I used a [slightly more complicated method](https://forum.manjaro.org/t/howto-set-up-prime-with-nvidia-proprietary-driver/40225) on my Manjaro to get rid of those graphical artifacts.

[2020-05-04 12:55] hoechenberger opened #7719 "Add option to add vertical jitter to events plot"
#### Describe the problem
When extracting the events from the first run of the [`ds000246` OpenNeuro datasat](https://github.com/OpenNeuroDatasets/ds000246) and plotting them via `mne.viz.plot_events()`, I was convinced that the number plotted `button` events didn't match the number of events in the legend. Closer inspection revealed that there was simply some hard-to-spot overplotting.

<img widt

[2020-05-04 13:02] agramfort commented on #7719
no objection

[2020-05-04 13:16] cbrnr commented on #7713
Thanks for the clarification. Software is a very general term and it sounds awkward if you use it with an article, e.g. "MNE is a Python software" doesn't sound right and "MNE is Python software" sounds too generic, at least for me. Therefore, I'd prefer Python package, which is also the correct technical term for what MNE really is.

"Open-source Python package for exploring, visualizing, and ana

[2020-05-04 13:18] hoechenberger opened #7720 "Add viz.plot_annotations() & Annotations.plot()"
#### Describe the problem
Currently there is no easy way to directly visualize `Annotations`. I always have to convert them to events first and then use `mne.viz.plot_events()`, which seems pretty awkward.

#### Describe your solution
Similarly to `mne.viz.plot_events()`, there should be `mne.viz.plot_annotations()` and `Annotations.plot()`. They would require the user to pass an `info` structure,

[2020-05-04 13:19] agramfort commented on #7713
deal for me

[2020-05-04 13:30] GuillaumeFavelier opened #7721 "Ignore logic of check-manifest 0.42"
Since the release of `check-manifest 0.42`, the ignore logic has changed leading in failures on Azure pipeline style:

![image](https://user-images.githubusercontent.com/18143289/80970661-cfd00880-8e1b-11ea-8400-136a9ac665ce.png)
![image](https://user-images.githubusercontent.com/18143289/80970697-dfe7e800-8e1b-11ea-9a67-40bc5bf1c165.png)

Reference: https://pypi.org/project/check-manifest/0.42/

[2020-05-04 13:38] larsoner commented on #7721
I'll look into it

[2020-05-04 13:40] larsoner commented on #7713
LGTM

[2020-05-04 13:50] larsoner commented on #7719
My first thought was that we could just do `alpha=0.5` or so, as it will make it clear when there are overlaps. But I agree this still isn't as useful as making use of the vertical space.

With jitter -- which I assume means random noise added to the vertical values -- I'd worry about people interpreting it as meaningful somehow. Rather than jitter, how about we actually make it meaningful/helpful

[2020-05-04 13:50] larsoner commented on #7719
(BTW I think this should be controllable with a `staircase=True` default kwarg, so that people can do `False` to get the old behavior back if they want it)

[2020-05-04 13:51] #7721 closed

[2020-05-04 14:05] MerlinDumeur opened #7723 "Morphing label-based source estimates"
Dear MNE team,

I would like to morph my label source estimates to an average brain, but it does not seem possible with the current mne-python API.

I have reconstructed surface sources using the `mne.minimum_norm.apply_inverse_raw` function by passing the `label` parameter.
When I then try to use `mne.SourceMorph.apply` on the source estimates, I get the following error:

Evidently it is trying t

[2020-05-04 14:28] larsoner commented on #7723
Perhaps https://mne.tools/stable/generated/mne.SourceEstimate.html#mne.SourceEstimate.expand, then morph?

[2020-05-04 15:19] drammock commented on #7719
Another possible solution would be to plot these as thin, short vertical lines like a rugplot. No strong feeling whether this is better or worse than staircase (though I like staircase better than jiitter).

[2020-05-04 15:55] larsoner commented on #5508
I'll close since this should now work with newest MNE. This error:

should be fixed nowadays, and the new montage functions should help with this use case (hopefully!)

[2020-05-04 15:55] #5508 closed

[2020-05-04 15:55] #7713 closed

[2020-05-04 17:08] hoechenberger opened #7727 "Working with rank-deficient EEGLAB data"
So a colleague of mine was handed a set of files that had been pre-processed in EEGLAB. The data was read via `mne.read_epochs_eeglab()`. When computing the noise covariance via `mne.compute_covariance()` and visualizing the results via `Covariance.plot()`, we noticed that the data looked a bit odd. Turns out that during preprocessing, artifact rejection via ICA had been carried out, and some ICs

[2020-05-04 19:21] agramfort commented on #7719
tiny vertical bars would work too. Whatever is simple enough to do the job

[2020-05-05 05:34] MerlinDumeur commented on #7723
I tried using `mne.SourceEstimate.expand`, but I ran out of memory.

I should've probably mentioned this initially, but the reason I needed to use labels when performing the source reconstruction is because the recordings would not fit in memory.
I didn't need to have the source estimates be label-based in the first place, if not for the fact that my recordings are pretty long and I don't have a l

[2020-05-05 06:47] Ferdodonna commented on #7716
Oh that is my bad. I told @agramfort it might be fieldtrip, even though I've never used Matlab. This is not my data, I just wanted to play around with P300s in MNE. I'm currently asking the author what they used for preprocessing the data.  Should I delete this issue?

[2020-05-05 06:52] thht commented on #7716
no problem. however, it is quite easy to import this data into mne.

you basically load the mat file into python using pymatreader like this:

[code]

and then you use `mne.create_info` to create the `Info` object and with that create a mne datastructure from an array using one of these classes: https://mne.tools/stable/python_reference.html#id4

[2020-05-05 07:06] #7716 closed

[2020-05-05 07:54] hoechenberger commented on #7727
Also just looking at what MNE's `ICA.apply()` does, it also appears to me that a potential change of data rank is not "documented" anywhere. Is this not bound to lead to issues?

[2020-05-05 07:58] agramfort commented on #7727
one intuition is that the EEGLAB data were stored to disk in single
precision and our rank detection code does not use
thresholds for this

[2020-05-05 08:01] hoechenberger commented on #7727
So you think that, under normal circumstances, rank calculation should work? Because I also remember that in the `mne-study-template`, we had to switch to using `rank='info'`, because the default didn't work with some MEG datasets…

[2020-05-05 08:03] cbrnr commented on #7727
Can you really determine the rank of the channel data based on the number of ICs? Especially in the case where some ICs are zeroed out and the remaining ICs are back-projected to channel space, I'm not sure if determining the rank is that easy. How does MNE compute the rank of the data matrix? SVD?

[2020-05-05 08:10] agramfort commented on #7727
yes MNE uses SVD and a clipping see
https://github.com/mne-tools/mne-python/blob/master/mne/rank.py#L21

[2020-05-05 08:15] hoechenberger commented on #7727
@cbrnr

I'll be totally honest with you and say that I have no idea. All I can say is that when we used this approach, we got much more sensible-looking results with our data:

#### EEGLAB data noise cov estimated with `rank=None`
![noise_cov](https://user-images.githubusercontent.com/2046265/81046687-3820f780-8eb9-11ea-955f-8d9cebccafd1.png)

#### EEGLAB data noise cov estimated with `rank=n_comp

[2020-05-05 08:18] cbrnr commented on #7521
Coming back to the original issue, I tried the MWE and for some reason it doesn't crash anymore. It's still super super slow though (scrolling by one unit takes about 30 seconds, but part of that might be due to my MacBook being super slow on scaled resolutions).

I think the issue is not a high sampling frequency, but some channels are scaled incorrectly. If I modify these channels as follows, pl

[2020-05-05 08:18] #7521 closed

[2020-05-05 08:21] cbrnr commented on #7727
I agree that in this special case it might make sense to infer the rank from the retained components (although strictly speaking, this is probably not the rank from a mathematical perspective). Can you quickly explain the plots to me? What is the noise covariance and what do these plots show?

[2020-05-05 08:21] dengemann commented on #7727
Im my experience the # of ica components does not give a strong clue on the rank, it cam coincide with it but often it does not.

[2020-05-05 08:28] agramfort commented on #7727
yes it's more related to the number of PCA dimensions that were used

[2020-05-05 08:37] hoechenberger commented on #7727
@cbrnr

Based on epoched data, the covariance of the pre-stimulus periods was estimated via [`mne.compute_covariance`](https://mne.tools/stable/generated/mne.compute_covariance.html), with the `rank` parameter set to either `None` or the number of retained ICs. The figures I posted are the SVD spectra plots based on these covariance estimates (generated via `Covariance.plot()`).

My layman's way o

[2020-05-05 08:41] agramfort commented on #7727
what was the PCA dimension used in eeglab?

[2020-05-05 08:42] hoechenberger commented on #7727
@agramfort @dengemann
Bummer. So. How to proceed from here, then? @agramfort suggested this might have to do with floating point precision in the EEGLAB data set… how could we handle that?

[2020-05-05 08:43] hoechenberger commented on #7727
I don't think PCA dimensionality reduction was used, but I would need to check

[2020-05-05 08:56] agramfort commented on #7727
please check and eventually sahre the eeglab file

[2020-05-05 12:46] kingjr opened #7732 "Bug: event_repeated metadata incompatibility"
`mne.Epochs` `event_repeated` parameter does not play well `metadata`:

[code]

No problem when there are no repeated events and metadata
[code]

No problem when repeated events and no metadata
[code]

problem when repeated events and metadata
[code]

[2020-05-05 13:35] kingjr commented on #7732
BTW, there should be an event_repeated='ignore' option.

It is common to have distinct events types which end up with simultaneous onsets e.g. :
- during streamed stimulation,  button presses may be simultaneous to stim onset;
- the beginning of words if always the beginning of a phoneme.

In such cases I don't think there is a good reason to force users to build different `Epochs` objects for eac

[2020-05-05 13:39] agramfort commented on #7732
event_repeated='ignore' would lead to a duplicated epoch right?

if so no objection if it's well documented

[2020-05-05 13:52] kingjr commented on #7732
duplicate in terms of m/eeg, but not in terms of metadata

[2020-05-05 14:43] hoechenberger commented on #7727
I had a quick look at the preprocessing pipeline, which was based on PREP, and I couldn't find any hints that PCA was used.

I've shared the data with @agramfort, but if anyone else would like to take a look too, let me know.

This is a MWE used to derive.
(Plots look a little different because this is a different participant now, but the pattern is the same as what can be seen in the figures I po

[2020-05-05 15:51] cbrnr commented on #7727
Maybe because ICA is usually kickstarted with PCA this often (but not always) has the same effect on rank reduction like plain PCA?

[2020-05-05 15:57] hoechenberger commented on #7727
I don't know… but, remember that `'pca'` parameter from our attempts to find the MNE parameter set that's equivalent to EEGLAB's ICA? None of that was done during preprocessing of the data – no explicit dimensionality reduction. What the ICA algorithm does internally I don't know, however.

[2020-05-05 17:58] larsoner commented on #7727
This is a strange case. Those components are definitely lower amplitude than the rest, but being down by just two orders of magnitude does not indicate that they have been (properly) zeroed out numerically. So in some sense, whitening is doing something reasonable by boosting them. But it's understandable that the whitened data then are dominated by these components when you look at it.

On the ot

[2020-05-05 19:20] agramfort commented on #7727
looking at the file I see:

icaweights: [48x63 double]

so a PCA of dim 48 was done before ICA. This explains cliff in eigen values
you see

[2020-05-05 19:29] agramfort commented on #7732
so you expect the sample idx to be like an index in pandas sense in the
metadata?

[2020-05-05 19:51] hoechenberger commented on #7727
Is that what it means? I thought it implies that `63-48` ICs have been discarded…

But if you're right, this would make things easy, no? Because then I could be certain that the rank actually _is_ `48` in this case?

[2020-05-05 20:02] hoechenberger commented on #7727
I just browsed a little through the PREP pipeline code and apparently it does things like:

[code]

So there we have it… maybe some channels got interpolated and then PCA was used to reduce data dimensionality before ICA was run.

Which is **great** in the sense that we may have an explanation of what happened here and how the data got to be.

But it also gets back to my **original question** some

[2020-05-05 20:11] dengemann commented on #7727
I think rank-checking is not an easy one. Relying on automation is never 100% safe. I've seen similar issues also in large-scale datasets such as LEMON from MPI-CBS. In the end manual rank-checking is doable: you compute covs, plot super-imposed all eigenvalue spectra and search for a common rank that make sense as a compromise. It's not too bad. I'd be of course happy if we can do better in terms

[2020-05-05 20:16] hoechenberger commented on #7727
I do agree, but in my specific EEGLAB example, it could have worked :) Don't you think we could try to cover such cases, and maybe emit a warning to let the user know that we're doing our best here, but might be wrong? And how would we store that information, anyway?

[2020-05-05 20:21] hoechenberger commented on #7727
*OR* at least print a warning when loading such a dataset?

[2020-05-05 21:04] agramfort commented on #7727
what do you mean such data? EEGLAB data which contain an ICA solution?

I would suggest to people to look at their covariance

[2020-05-05 21:06] kingjr commented on #7732
not sure what you have in mind exactly; let me clarify my view

IMO the events and metadata should in principle be a unique object, i.e. a
sparse time series. Historically, they have been built separately but they
should remain connected during e.g. drop_bad, epoch indexing etc.

The ideal case would be for metadata  to be explicitly indexed by the event
onset (in raw sample, i.e. events[:,0]), bu

[2020-05-05 22:27] dengemann commented on #7727
I'd document how to do this by hand inspecting cov plots. I think a cool addition could be a convenience function making superimposed plots of SVD spectra, suggesting a common rank, or at least facilitating finding one visually. Imagine you plot 100 cov SVD spectra with some transparency to then see where the kink is gonna be in most of the cases, then you go for a lower bound. It's really fast an

[2020-05-05 23:57] drammock commented on #1280
There was a request for this feature on the gitter channel today; reopening

[2020-05-06 08:32] agramfort commented on #7732
that's what I meant with pandas indexing and yes it's not an option
and not what we decided together some years ago

we decided that index is not used in metadata and that we rely on iloc

I would just duplicate the rows in the metadata

[2020-05-06 10:29] dnacombo opened #7738 "raw.plot_psd: edge line of area plot"
when plotting raw psd with `n_fft=len(raw.times), average=True` to get high def in frequency, the edge of the grey shaded area overplots, which creates an ambiguous darker grey area around the normal grey area
![image](https://user-images.githubusercontent.com/4716235/81166934-a71f4e80-8f94-11ea-8faa-d6e2d4aced5d.png)
Here's a zoomed in version:
![image](https://user-images.githubusercontent.com/4

[2020-05-06 11:21] hoechenberger commented on #7727
Please ignore my ignorance here, but: _which_ SVD spectra do you suggest to overlay? Those from multiple recordings / participants? Or those from a single recording, with covariance estimates assuming `rank = [1, n_sensors]` or something?

Yes that would be helpful. I had no idea how these plots were supposed to look like until @agramfort told me some basics.

I think this is a difficult thing for

[2020-05-06 11:36] dengemann commented on #7727
Multiple subjects, such that you get a feeling for what is normal and where to suspect the real common rank.

It's a concern that goes far beyond source modeling.

The rank may also be important for certain predictive modeling pipelines which need explicit treatment of the rank, e.g, when using Riemannian embeddings.

Sure, why not as long as we have a clear criterion for detecting that.

Things c

[2020-05-06 11:44] cbrnr commented on #7727
I think including a nice message specifically for EEGLAB data would be a great addition. I particularly like the URL - we should put our glossary or FAQ there.

Regarding keeping track of the rank, I think it is always best to just compute the rank yourself. You can use `mne.compute_rank` and maybe adapt `tol` to get a good estimate. I haven't used these rank calculations before, but would it be p

[2020-05-06 11:48] dengemann commented on #7727
Yes. But sometimes it's not so easy and corner cases are more frequent than it seems.
There can be noise, sometimes double kinks appear etc. or kinks are too smooth, often caused by non-stationarity. Therefore, I'd say a semi-automated approach is good compromise: use compute_rank / the cov plots (which do this internally) and then see if the estimates make sense. Correct if needed.

[2020-05-06 11:49] agramfort commented on #7738
you can always edit a posteriori a matplotlib figure and remove the line.
Let me know if you need help with this.
is it just for a one time thing?

[2020-05-06 11:53] dengemann commented on #7727
@hoechenberger btw. I could not find that URL ... nice idea though.

[2020-05-06 11:55] cbrnr commented on #7727
@dengemann I agree! So this leaves the info message for imported EEGLAB data for this issue.

Is there an MNE tutorial about rank estimation and when rank is important? It sounds like this might be an interesting topic relevant to MNE users.

[2020-05-06 12:07] hoechenberger commented on #7727
@dengemann

Ok, could be nice I guess :)
But in my specific use case, this wouldn't have helped, as apparently the rank deficiency I observed was introduced by interpolation of bad channels, followed by a PCA step before doing ICA. Since the number of interpolated channels can vary between participants, I don't think a "common" rank would make sense here.

I _think_ the code snippet I provided abo

[2020-05-06 12:16] dnacombo commented on #7738
yeh, I don't plan on doing these plots so often.
How do i find the right property in the matplotlib figure ?

[2020-05-06 12:17] dengemann commented on #7727
In some contexts a common rank would be the minimum rank, deliberately inducing more rank reduction for some of the datasets.
Anyways, whether comparing subjects or not, cov plots are really amazingly useful.

@cbrnr I think some info can be found here and there. A tutorial on debugging rank issues could be really nice and save some user support time in the future ...

[2020-05-06 13:00] agramfort commented on #7738
this should do the job:

import matplotlib
import mne
from mne.datasets import sample

data_path = sample.data_path()

raw = mne.io.read_raw_fif(data_path + '/MEG/sample/sample_audvis_raw.fif')
raw = raw.pick_types(meg=False, eeg=True, eog=True, ecg=True, stim=True,
                     exclude=raw.info['bads']).load_data()

fig = raw.plot_psd()

lines = [ch for ch in ax.get_children() if isinstan

[2020-05-06 13:09] cbrnr opened #7739 "set_montage with subset not possible in 0.20"
In 0.19 we introduced the `raise_if_subset` argument in `set_montage`, which if set to `False` would not raise an error if there were channel labels with no matching locations. Recently, we decided to replace this argument with `on_missing` in 0.21 (with possible values of `'error'`, `'warn'`, and `'ignore'`). Therefore, I can use `on_missing='ignore'` if I have channels with no locations.

Howeve

[2020-05-06 13:23] cbrnr commented on #7739
I just saw that this might be a duplicate of #7615. Let's continue the discussion over there.

[2020-05-06 13:23] #7739 closed

[2020-05-06 13:25] cbrnr commented on #7615
Can we make `raise_if_subset=False` work again for now? Currently, 0.20 does not allow to set a montage when there are channels with no locations. Starting with 0.21, we will be able to do `on_missing='ignore'` to get the previous behavior, but I'd like to have something right now.

[2020-05-06 16:34] hoechenberger commented on #7727
Just for the record, I just pulled @larsoner's #7736, and this is what I get:

[code]
… which is good!

So… merely a precision issue, like @agramfort suggested??

[2020-05-06 16:52] larsoner commented on #7727
I didn't understand how that PR could fix it until I looked back at...

... I realized that I probably misunderstood this plot. Did you have some form of regularization on (e.g., `shrunk`) during estimation? If so it would explain why the first shelf is only 1e-2 or so below the real data (regularization inflated the eigenvalues). Can you do the same plot of the noise covariance estimated with `em

[2020-05-06 18:35] hoechenberger commented on #7727
@larsoner Will get back to you tomorrow!

[2020-05-06 19:09] agramfort commented on #7615
I think it requires a dedicated PR on 0.20 maint branch. Can you give it a try @cbrnr ?

[2020-05-06 19:22] SophieHerbst opened #7741 "error in find_bad_channels_maxwell"
I have an error from find_bad_channels_maxwell that I am not able to fix.
The file has a BAD_ACQ_SKIP segment at the beginning, but using `skip_by_annotation` did not help.
Thanks for any hints on how to solve this!

You can find the data [here](https://somaxluan.hd.free.fr/nextcloud/index.php/s/FjoscRAJss2LtQG).

Here is a minimal example:

[code]

[2020-05-06 19:28] agramfort commented on #7741
can you share the file so we can debug this?

[2020-05-06 19:38] larsoner commented on #7741
I can see in the code where this can happen if there is some tiny segment of good data, will come up with a test and fix

[2020-05-06 19:40] larsoner commented on #7741
... actually it looks like the file is shared above already, thanks @SophieHerbst !

[2020-05-06 20:10] SophieHerbst commented on #7741
It does! awesome, thanks for the fast help @larsoner!

[2020-05-07 05:25] hoechenberger commented on #7738
IMHO this outer line should be disabled by default (or have the same color as the filled area). It doesn't add any additional value and leads to problems in edge cases like the one @dnacombo described. We could consider adding a kwarg to turn it on / set its color if users actually want to plot it…

[2020-05-07 05:33] rob-luke opened #7744 "Writing NIRS files to FIF is surprisingly slow"
#### Describe the bug

I am reading NIRX NIRS files and writing them to fif files. This process takes longer than I expected.

It may be that this is how long writing takes. But I want to make sure there is nothing wrong with how we have written the `read_raw_nirx` function that is causing a slowdown.

Or perhaps fif is not the correct format I should be using? I selected fif as I know that it sho

[2020-05-07 08:04] agramfort commented on #7744
is it also slow if you use preload=True?

if not it's your lazy loading implementation that is slow. Certainly reads
in
more data then requested.

[2020-05-07 08:06] agramfort commented on #7738
this line tells you how data have been low passed

see: https://mne.tools/stable/auto_tutorials/raw/plot_40_visualize_raw.html#sphx-glr-auto-tutorials-raw-plot-40-visualize-raw-py

now I agree that grey on black when you don't use spatial_colors it's
not really a good choice

my 2c

[2020-05-07 08:12] rob-luke commented on #7744
I was using `preload=false` as that's what's used in MNE-BIDS which I was starting to implement.

Great pointer. I will look here for efficiency gains.

[2020-05-07 12:11] larsoner commented on #7744
IIRC during initial implementation we expected it to be slow. Looking at the implementation now, it actually reads every line until it finds the correct one(s), reads them, then breaks.

You could see if switching to the `pandas` implementation is faster. But maybe what would be even better (should be faster than pandas even) is to traverse the entire file exactly once during `__init__` to learn w

[2020-05-07 12:17] larsoner commented on #7738
@agramfort I think they're talking about the lines at the top and bottom of the shaded area, and you are talking about the dashed line to indicate the lowpass or line freq (probably line in this case?).

I think I agree with @hoechenberger that having a line at the edges of the area does not actually add information. @hoechenberger you want to open a PR to remove it, and touch the example @agramfo

[2020-05-07 12:19] #7741 closed

[2020-05-07 16:03] #7723 closed

[2020-05-07 16:05] MerlinDumeur commented on #7723
I solved my problem by rewriting the inverse and morphing functions to stream from and to a hdf5 file instead of doing everything in memory.

[2020-05-07 16:14] hoechenberger commented on #7738
Yep can do!

[2020-05-07 19:43] #7738 closed

[2020-05-07 20:12] poojaprabhu9 commented on #6155
You mean to say I can use atlas in .nii format to extract the time course from stc?
(Without updating MNE)

[2020-05-07 21:10] kylemath commented on #7744
@kuziekj and I just moved the read_raw_boxy PR https://github.com/mne-tools/mne-python/pull/7717 away from pandas

[2020-05-07 21:12] larsoner commented on #7744
Indeed it's better not to require it, at least to start. If there ends up being a performance bottleneck and we need to make an (optional!) requirement to read it to boost performance we can do that. But having the non-Pandas reader is still helpful.

[2020-05-07 22:44] drammock opened #7751 "RFC, MAINT: changes to 2D plotting"
This issue is for planning changes to our 2D plotting capabilities ([roadmap link](https://mne.tools/dev/overview/roadmap.html?highlight=roadmap#id2)).  As a starting point, here are (I think?) all the functions/methods that make 2D plots, grouped roughly by the kind of plot they generate. Also included is a section for 3D plots that always use matplotlib rather than mayavi/pyvista. Each section i

[2020-05-07 23:48] rob-luke commented on #7744
Thank you all for the feedback and suggestions on where the code can be improved.

It seems the current implementation is correct but slow. I will leave this issue open as a reminder to address this in the future. But it does not seem urgent.

[2020-05-08 07:29] agramfort commented on #7751
thanks for looking into this

[2020-05-08 18:55] hoechenberger commented on #7678
@larsoner

+1 on making the default less thick

[2020-05-08 20:20] larsoner commented on #7751
Nice summary! I suggest that when you go to actually work on one of these (whichever you want first), start a new issue with any questions. If we try to discuss everything here it will probably become unwieldy.

That being said, just a few comments to get things going:

I've looked at this a number of times and I'm not optimistic, MPL seems to be the bottleneck and I don't see us moving away from

[2020-05-09 16:08] cbrnr opened #7757 "Accidentally pushed backport to upstream"
Oops, I accidentally pushed to the maint/0.20 branch in upstream instead of my fork. Sorry about that. Should I revert? It's only a few changes so maybe it's less effort if someone quickly reviews the commit (https://github.com/mne-tools/mne-python/commit/cb52773ea13bb94e533e372668bc536d5a2cdaf8)? In any case, this won't happen again (I don't know why I didn't track the branch on my fork).

[2020-05-09 16:48] agramfort commented on #7757
yes it's fine to keep this commit. No harm done here.

[2020-05-09 17:25] cbrnr commented on #7757
Would it be OK to make a new release sometime next week?

[2020-05-09 17:28] agramfort commented on #7757
@larsoner the floor is yours

[2020-05-09 20:20] larsoner commented on #7757
Yep, we can cut a 0.20.4, probably Monday

[2020-05-10 05:59] rob-luke commented on #7678
Ok. I’ll open a PR and then we can see what it looks like.

[2020-05-10 09:19] agramfort commented on #7757
thanks @larsoner !

[2020-05-11 06:43] #7221 closed

[2020-05-11 07:27] hoechenberger commented on #7757
To prevent such things from happening, we should consider enabling protected branches. WDYT?

https://help.github.com/en/github/administering-a-repository/about-protected-branches

(I, for one, am totally in favor of making use of this feature.)

[2020-05-11 07:40] cbrnr commented on #7757
You mean merging requires e.g. at least one positive review? Yes, why not - if it doesn't make other things more complicated.

[2020-05-11 07:55] hoechenberger commented on #7757
There's quite a few options there, I _thought_ one could also disable direct pushs to certain branches; but maybe this is only possible indirectly by requiring a positive review. At any rate, I think it's worthwhile checking this out (no pun intended!)

[2020-05-11 09:11] cbrnr commented on #7757
Yes, disabling direct pushes to upstream might be a good solution, because we should always go through our forks.

On a slightly related note, what about the https://github.com/mne-tools/mne-python/tree/old_max_power_ori branch in upstream? Shouldn't that also be located in a fork? @wmvanvliet

[2020-05-11 09:19] agramfort commented on #7757
it means I won't be able to push hot fixes anymore :)

let's see how often issues occur before adding new rules

[2020-05-11 09:42] hoechenberger commented on #7757
Well. You shouldn't introduce bugs that require a hotfix in the first place! **Think about that!** 😉😅🙈

[2020-05-11 13:09] hoechenberger commented on #7727
Okay, so I asked my colleagues to provide me with more data. And as is sometimes the case, things were a little messy – I couldn't exactly recreate the figure I posted initially, and it was unclear which dataset and version of MNE were used to generate it. Also turned out I got mixed up between **data rank** and **noise covariance matrix rank** rank at some point.

So I just started from scratch.

[2020-05-11 13:13] larsoner commented on #7727
This is expected because the rank internally is calculated still using `atol` not `rtol`, so this result should not change. Basically if you want `rtol` behavior or custom `tol` you should use `rank = compute_rank(...)` manually, then pass the `rank` to `compute_covariance`.

Automatic rank estimation will always have this sort of problem where you might miss the shelf. If we try to make it smarte

[2020-05-11 13:17] hoechenberger commented on #7727
But this still doesn't explain why I (correctly) get

no? Or is the regularization in `compute_covariance` performed _before_ calling `compute_rank`?

[2020-05-11 13:29] larsoner commented on #7727
In the empirical case, it doesn't matter what you pass as `rank` in `compute_covariance(..., rank=...)` because it's not used, and the resulting matrix is unregularized. And then when you compute the rank of that matrix using `rtol`, you get 48.

In the `shrunk` case, when you do `rank=None` when computing the covariance, internally we estimate the rank of the covariance matrix using `atol`, which

[2020-05-11 14:22] drammock commented on #7757
I think you could still push a hotfix to your fork and merge a hotfix PR yourself.  Probably we should *either* require an approving review *or* protect the branches, but not both (so that @agramfort can still get his hotfix fix)

[2020-05-11 14:32] cbrnr commented on #7757
I'd vote for protected branches instead of review.

[2020-05-11 15:17] bloyl opened #7760 "find_bad_channels_maxwell errors on CTF data"
find_bad_channels_maxwell raises an exception for ctf data if the data is longer then one duration.

to replicate:

[code]

which raises
[code]

I suspect that ` _prep_maxwell_filter` and/or `_get_coil_scale` aren't dealing with ctfs axial gradiometers (that get labeled as magnetometers) correctly. So it is probably also an issue with KIT and Artemis sensors.

[2020-05-11 15:41] larsoner commented on #7760
Indeed it is probably some indexing problem. I can look soon

[2020-05-11 15:42] agramfort commented on #7757
I vote for "this was necessary for the last 10 years" so let's not create rules
for every case otherwise you'll end up with the judicial system we have in
modern countries :)

[2020-05-11 15:43] larsoner commented on #7757
Indeed that shouldn't be there. I've moved it to my fork, @wmvanvliet feel free to copy it over to yours if need be. However right now @britta-wstnr and I are working on fixing all the orientation computations and such so I doubt we'll need it.

[2020-05-11 15:55] larsoner commented on #7757
0.20.4 released

[2020-05-11 15:55] #7757 closed

[2020-05-11 15:56] drammock commented on #7757
while we're cleaning up old branches, `upstream/guidelines` is about 7000 commits behind `upstream/master` (diverged in 2015, but doesn't appear to have any unique commits).  OK if I kill it?

[2020-05-11 15:58] larsoner commented on #7757
if it says "0 ahead" then yes please kill it, it doesn't contain anything we don't already have

[2020-05-11 16:25] cbrnr commented on #7757
Thanks @larsoner!

[2020-05-11 16:51] cbrnr commented on #7615
Closing because 0.20.4 re-introduced `raise_if_subset=False` and 0.21+ will feature `on_missing='ignore'`.

[2020-05-11 16:51] #7615 closed

[2020-05-11 19:14] mariahakonen opened #7765 "mne.viz.plot_bem shows source space only in one slice"
#### Describe the bug
I have created source space with mne.setup_volume_source_space and tried to visualize it with mne.viz.plot_bem. I have used sample data and ran the commands following this example: https://mne.tools/dev/auto_tutorials/source-modeling/plot_forward.html#sphx-glr-auto-tutorials-source-modeling-plot-forward-py

However, the source space is shown only in one slice.

I also got the

[2020-05-11 19:22] agramfort commented on #7765
I cannot reproduce. I get the expected results with the code you shared.

can you try with the latest version of mne which is 0.20?

[2020-05-12 04:16] panixbbd commented on #7093
![image](https://user-images.githubusercontent.com/65208728/81638039-e232df00-93e5-11ea-92f1-09bee4c0dd8c.jpeg)

[2020-05-12 05:23] mariahakonen commented on #7765
Thanks a lot!
It seems to work with mne 0.20.4.

[2020-05-12 05:23] #7765 closed

[2020-05-12 09:01] cbrnr opened #7769 "Add generic reader function?"
At some point we've already discussed if adding a generic reader function (`mne.io.read_raw`) would be useful. I can't find the relevant discussion, but I think that we decided that users should stick to the separate readers.

I've written such a wrapper function for MNELAB (https://github.com/cbrnr/mnelab/pull/148), and I think this might still be a good idea to include in MNE. It makes things ea

[2020-05-12 09:06] hoechenberger commented on #7727
Thanks for the explanation, @larsoner!

So I guess what this boils down to, in the end, is improving the docs?

[2020-05-12 11:23] agramfort commented on #7769
my pb is the heterogeneity of the read_raw_xxx function signatures:

https://mne.tools/stable/python_reference.html#module-mne.io

having one read_raw function would mean having a long list of parameters
and most of them being useless for each user working with one type of format

my 2c

[2020-05-12 11:29] cbrnr commented on #7769
My wrapper function just passes them on as `*args` and `**kwargs`, so this is not really a problem.

[2020-05-12 11:47] agramfort commented on #7769
documenting *args and **kwargs is hard. So you would keep both the read_raw
and the read_raw_xxx functions?

[2020-05-12 11:58] cbrnr commented on #7769
Yes, I would keep them both. That way, we can refer to the documentation in the specific functions, but also have a wrapper that's easier to use for many use cases (this is based on feedback I got from a few people who find it cumbersome to look up the name of the reader when all they want is just to load the data).

[2020-05-12 13:47] larsoner commented on #7727
Yeah I think so

[2020-05-12 14:23] cbrnr commented on #7315
I frequently (but not always) encounter this issue myself, therefore I'm reopening this issue. So far, this happens only when trying to auto-complete MNE objects. Google only finds this issue, so I'm not sure that this is a bug with Jedi. Disabling Jedi is also not a fix, but only a workaround.

Here's how to reproduce:

- Start IPython
- `import mne`
- Load some file, e.g. `raw = mne.io.read_raw_

[2020-05-12 14:26] drammock commented on #7315
I cannot reproduce:

![Screenshot_2020-05-12_07-26-07](https://user-images.githubusercontent.com/1810515/81703802-e977de00-9421-11ea-9b8f-c9b802494278.png)

[2020-05-12 14:27] larsoner commented on #7315
"/MEG/sample/sample_audvis_raw.fif")

At this step I get:
[code]
Same if I don't `import faulthandler; faulthandler.enable()`.

Can you try it with enabling `faulthandler`? It might allow you to make a minimal example to report to the upstream / jedi library.

[2020-05-12 14:33] #7744 closed

[2020-05-12 14:51] cbrnr commented on #7315
You guys are on Linux, right? Can someone on a Mac try to reproduce this?

Using the faulthandler doesn't change anything, the output upon crashing is the same. I've set `%config Application.verbose_crash=True` for a more detailed crash report though, which I could use when reporting upstream (upstream meaning IPython I think, not Jedi).

[2020-05-12 14:53] cbrnr commented on #7315
BTW, this happens with both Homebrew and Anaconda Python.

[2020-05-12 14:57] cbrnr commented on #7751
I just tried to work on #6531, but getting both raw and ica plots behave consistently is pretty difficult at the moment. Using gray for bad channels and bad components is not a problem, but assigning left and right clicks on labels to different functions depending on whether we plot raw or ica data would definitely benefit from refactoring the plotting functions.

Would it be OK to include #6531 h

[2020-05-12 15:07] drammock commented on #7315
The OP was also using Linux, and experienced a similar issue.  Did you try [their solution](https://github.com/mne-tools/mne-python/issues/7315#issuecomment-586201990) @cbrnr ?

[2020-05-12 15:09] drammock commented on #7751
definitely. Cross-linking it should be sufficient, but free to edit the initial comment above to provide a summary of that issue / more details if you like.

[2020-05-12 15:47] cbrnr commented on #7315
OK. Yes, turning off Jedi works, but I guess I'd want to use Jedi so this is just a workaround.

[2020-05-12 16:24] langestroop opened #7773 "Parameter "reject" in ica.fit for epoch data object"
Hi,

this issue encompasses both MNE and autoreject.

In [Autoreject Issue#170](https://github.com/autoreject/autoreject/issues/170) and in the MNE API page is reported that the reject parameter for [ica.fit](https://mne.tools/dev/generated/mne.preprocessing.ICA.html#mne.preprocessing.ICA.fit) can only be applied on a raw object.
However, in some cases, it would be benefitial do so directly on epo

[2020-05-12 16:41] drammock opened #7774 "DOC: add crossrefs in the info docstring"
We should add crossrefs in the info docstring to the various MNE functions/methods that can safely change info fields (e.g., `inst.rename_channels` etc)

[2020-05-12 16:54] drammock commented on #7769
I agree, but I'm open to this idea if a suitable docstring could be concocted.  @cbrnr do you have ideas for what the docstring of `read_raw()` would look like?

[2020-05-12 17:05] cbrnr commented on #7769
I have to think about it, but first I would explicitly mention that `read_raw` is a wrapper for all those other functions that do the actual work. I'd also include all supported file formats that can be read and most important parameters that most/all `read_raw_xxx` functions have in common (e.g. `preload`). Then I'd refer people to the corresponding `read_raw_xxx` functions for more specific para

[2020-05-12 17:12] larsoner commented on #7773
You can already do [epochs.drop_bad(reject)](https://mne.tools/stable/generated/mne.Epochs.html#mne.Epochs.drop_bad), will that work for your use case?

[2020-05-12 18:39] langestroop commented on #7773
Hi Eric, thanks for your speedy reply.
This way, we would loose full epochs to single artifacts. Loosing many epochs is also problematic for the ica fitting. We were just wondering whether the same (sample based) procedure that is used for continuous data could also be applied within the epochs. This might leave us with epochs of different lengths, but for ica fitting this should be unproblematic,

[2020-05-12 18:42] sappelhoff opened #7776 "BIDS related: potential change of .fif file split naming"
**TL;DR**

---

When `.fif` files grow too large, they need to be split into chunks. In a [BIDS](https://bids.neuroimaging.io/) context, where each file name follows a structure, we need some way to deal with this.

In 2017 or 2018 @jasmainak and @teonbrooks (I think? ... somebody else?) suggested to use `*_part-X_meg.fif` with the `X` being a number to define different parts of the same `.fif` re

[2020-05-12 18:44] larsoner commented on #7776
This sounds fine from the MNE end to me. `_split` is clearer naming than `_part` for its purpose anyway

[2020-05-12 18:46] agramfort commented on #7773
to me also epochs.drop_bad(reject)
<https://mne.tools/stable/generated/mne.Epochs.html#mne.Epochs.drop_bad> does
what you ask for

[2020-05-12 18:55] agramfort commented on #7776
_split would work for me. it's an easy change for MNE-Python and fif
readers don't care as long as pointer in the files are correct.

[2020-05-12 19:11] agramfort commented on #7315
a PR in jedi you shall send :)

[2020-05-12 19:45] drammock commented on #7773
It is not possible to have epochs of different lengths, because of how the epoched data are stored internally.  Dropping a particular epoch is all-or-nothing, and can be achieved with `epochs.drop_bad()` as mentioned. By the way, the artifact rejection for `ICA.fit` on Raw data is not exactly "sample-based", how big a segment gets dropped depends on the value of the `tstep` parameter.

[2020-05-13 09:29] SophieHerbst opened #7778 "detrend existing epochs?"
I cannot find out how to apply detrending to allready created epochs. Is there a function similar to
[evoked.detrend](https://mne.tools/stable/generated/mne.Evoked.html?highlight=detrend#mne.Evoked.detrend)?

I know I can detrend when creating epochs, but I would like to create un-detrended epochs and just detrend for a specifc purpose.

Given that it is mentioned in the [epochs doc](https://mne.t

[2020-05-13 09:32] hoechenberger commented on #7778
Can you try setting `epochs.detrend` to the desired value? This should do what you want!

I.e., if you created them with `epochs = Epochs(..., detrend=None`, you should later be able to do `epochs.detrend = 1`, and accessing the data should give you the correct results – at least if I'm understanding the code correctly.

[2020-05-13 09:41] yh-luo opened #7779 "ENH: make out_type default to 'indices' for permutation tests"
#### Describe the problem
Permutation tests may crash when datasets are large (50 time points, oct6, 13 subjects  in my case). `mne.stats.permutation_cluster_1samp_test` with `out_type='mask'` caused memory overflow and the process was killed on a machine with 64GB RAM and 16GB swap. With `out_type='indices'`, the process only used about 4GB RAM.

Since `out_type` is default to `'indices'` for `mn

[2020-05-13 09:56] SophieHerbst commented on #7778
What do you mean by 'accessing the data'? I tried epochs.plot(), epochs.apply_proj() and epochs.load_data() after setting detrend to 1, but I don't see any change.

It seems to be applied when set before loading the data:
[code]

Is there away to get it applied to already loaded data?

[2020-05-13 10:12] hoechenberger commented on #7778
Can you try:

[code]

[2020-05-13 12:23] hoechenberger commented on #7778
@SophieHerbst Whoops apparently you have to reset the `Raw` object reference inside `epochs` too… So this works for me:

[code]
But this is kind of awkward, because you would have to keep the `raw` around :(

[2020-05-13 12:25] hoechenberger commented on #7778
Workaround:
[code]

[2020-05-13 13:10] SophieHerbst commented on #7778
mh. so in conclusions, already loaded epochs can not be detrended. Would it be difficult to add that function, given it exists for evokeds?

[2020-05-13 13:17] hoechenberger commented on #7778
So currently, loading the data  removes the reference to the raw object the epochs were built from. If we don’t do this, we could easily detrend at any later time.

@agramfort @larsoner any idea why the reference isn’t kept? Memory freeing?

--
Sent from my phone, please excuse brevity and erroneous auto-correct.

[2020-05-13 13:23] larsoner commented on #7778
Yes

Yes we could add a method to detrend already loaded data, just like we have for filtering

[2020-05-13 14:18] drammock commented on #7779
+1 for this proposal. Another reason: just yesterday I noticed that the default results of `permutation_cluster_test` are not compatible with `summarize_clusters_stc` because it requires `out_type='indices'` in order to work.

[2020-05-13 14:19] larsoner commented on #7779
I can live with a deprecation cycle to get `out_type` to be consistent across these functions

[2020-05-13 14:32] hoechenberger commented on #7778
It wouldn't work with `Epochs` loaded from disk though, or would it?

[2020-05-13 14:36] larsoner commented on #7778
Yes the idea is that `epochs.detrend` would only work on epochs that have been loaded into memory / from disk already

[2020-05-13 14:49] hoechenberger commented on #7778
Ok got it. I was confused because I thought that, for whatever reason, we need access to the `Raw` to perform detrending. Looking at the code again, this seems not to be the case. :) Nice!

[2020-05-13 14:56] hoechenberger commented on #7776
I like that.

[2020-05-13 15:18] agramfort commented on #7779
agreed

[2020-05-13 18:36] drammock opened #7782 "DOC: old versions of docs website should link to current stable"
Lots of packages (numpy, scipy, etc) have prominent messages on their outdated docs websites, saying something like

We need to do this too; a colleague of mine just got routed by google to the docs from version 0.15 (!) and didn't immediately notice the outdated version.

Additionally, I've mentioned before somewhere that the old docs version dropdown doesn't show versions newer than itself:

![S

[2020-05-13 20:20] agramfort commented on #7782
that sounds painful to fix ...

[2020-05-13 20:36] larsoner commented on #7782
It could probably be done automatically by constructing an appropriate regular expression substitution. A nice Sunday hack for someone who wants to expand their regex horizons...

[2020-05-13 21:04] drammock commented on #7782
since numpy, sklearn etc already do this, we can just see how they do it and copy shamelessly.

[2020-05-13 21:09] larsoner commented on #7782
They probably use a systematic automated versioning system. We use the few commands in the Wiki. Would probably be a lot of work to update to a new system. We could undertake it I guess. But I would be inclined just to do the regex fix for now, and make that part of the release process somehow (it's not bad to do those commands every 6 months).

[2020-05-13 22:52] #7779 closed

[2020-05-14 06:42] cbrnr commented on #7315
This was a Jedi bug which has already been fixed in master (it's not in a release yet).

[2020-05-14 06:42] #7315 closed

[2020-05-14 12:15] tayyabafaisal opened #7785 "Divide signal to epochs"
Hi
I want to divide raw EEG signals into shorter frames using a standard overlapping window approach. How can I do in MNE python
<img width="1236" alt="Screenshot 2020-05-14 at 5 15 09 PM" src="https://user-images.githubusercontent.com/59199087/81933222-79767d00-9606-11ea-954e-b3985a3d2cea.png">

[2020-05-14 13:50] agramfort commented on #7785
This appears to be a question about usage, not a bug report or a new feature request. Please use the [MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) or the [gitter channel](https://gitter.im/mne-tools/mne-python) for usage questions.

[2020-05-14 13:50] #7785 closed

[2020-05-14 15:32] langestroop commented on #7773
Hi all,

many thanks for your suggestions and insights: they're really useful.
So basically a feasible approach would be something like this:

1. Epoch data
2. Compute autoreject global to find the proper rejection threshold
3. Apply rejection threshold via epochs.drop_bad to one copy of the dataset
4. Compute ICA on this dataset
5. Apply the weights to the other copy of the full dataset (it still

[2020-05-14 19:04] adam2392 opened #7787 "Animate ECoG activity on top of the FreeSurfer pial surface of the brain"
#### Describe the problem
In #7768 animation is being added to the `plot_ecog` example. @larsoner suggested that we add in the animation into the example. Currently, it's put together using `matplotlib.animation`,  but seems like mne-python has other animation funcs (e.g. topomap), so I think it would be nice to have a "3D brain animate" function sitting in mne-python.

#### Describe your solution

[2020-05-14 21:00] drammock opened #7788 "MAINT: remove spyder from environment file?"
Seems like every 6-12 months, one of my colleagues says "Spyder won't load, and in trying to fix it I borked my environment, please help."  I'm wondering why we implicitly recommend spyder by including it in our `environment.yml` file.  Spyder also imposes version constraints (e.g., currently it requires `PyQt5<5.13`), which has the potential to cause conflicts / inconsistent environments if (for

[2020-05-14 23:56] larsoner commented on #7788
Okay with me

[2020-05-14 23:56] larsoner commented on #7788
(to remove it from the environment file I mean)

[2020-05-15 04:17] Sirabhop opened #7789 "I've a problem with "plot_sensors_connectivity" visualization"
My goal is to compute EEG connectivity, so I run this code below in order to compute connectivity.
`con, freqs, times, n_epochs, n_tapers = spectral_connectivity(epoch, method='pli', mode='multitaper', sfreq=2048, fmin=4, fmax=8, faverage=True, mt_adaptive=False, n_jobs=1)`

And, I also **need to visualize the connectivity**, so I use this code
`plot_sensors_connectivity(epoch.info, con[:, :, 0])`

[2020-05-15 09:30] GuillaumeFavelier commented on #7789
Hello @Sirabhop and thank you for your reporting your issue.

Please could you share the output of:

[code]

Plus maybe a minimal example to reproduce? It would be really helpful.

[2020-05-15 09:38] Sirabhop commented on #7789
`mne.sys_info()`

[2020-05-15 09:38] gbrookshire opened #7790 "Error in reading data from Fieldtrip"
#### Describe the bug

I'm unable to read data saved by Fieldtrip using the functions in `mne.io.fieldtrip`. Any suggestions would be greatly appreciated!

#### Steps to reproduce

Download the Fieldtrip data from this link:
<ftp://ftp.fieldtriptoolbox.org/pub/fieldtrip/tutorial/coherence/data.mat>

[code]

#### Expected results
Load the data saved in the Fieldtrip object.

#### Actual results
[co

[2020-05-15 09:41] GuillaumeFavelier commented on #7789
I see that you have `pyvista` installed and not `mayavi`. Could you also try:

[code]

[2020-05-15 09:48] gbrookshire commented on #7790
Reading the data with the `info` object read in from the raw data leads to a different error.

Original raw data is available here:
ftp://ftp.fieldtriptoolbox.org/pub/fieldtrip/tutorial/SubjectCMC.zip

[code]

The info seems to show up, although the channel names have extra numbers attached to the end:
[code]

Here's the new error when trying to read the data:
[code]

[2020-05-15 09:49] Sirabhop commented on #7789
I got session crashed

Is it about my computer? because I run all my code via Google Colab

[2020-05-15 10:00] GuillaumeFavelier commented on #7789
AFAIK, this means that the environment does not provide a window with an opengl context. I'm afraid this is an implicit requirement for now with the `pyvista` 3d backend (it's more a `vtk` issue really).

A way to mitigate could be to use a `xvfb` server to simulate this but I'm not familiar enough with Google Colab to help you set up that. A config example is available in [.circleci/config](https

[2020-05-15 11:17] agramfort commented on #7790
ping @thht

[2020-05-15 11:27] agramfort commented on #7788
agreed

[2020-05-15 11:45] thht commented on #7790
ok, i am going to take a look at it as soon as possible...

[2020-05-16 03:45] jasmainak commented on #7773
Hi @langestroop sorry for the delayed response. Your pipeline looks reasonable to me. I would add that you can pass a `ch_types` parameter to `get_rejection_threshold` and leave out `eog` channel type. Secondly, I suspect that ICA would work just fine even if a few eyeblinks are missing due to `autoreject` global threshold since the eyeblink artifacts are quite stereotypical.

what can we do on `a

[2020-05-17 17:38] christian-oreilly opened #7793 "Facilitate export to XArray"
#### Describe the problem
XArray is very convenient when doing data exploration as it often allows for a more transparent code by using dimension names rather than indexes. It would be very useful if MNE was providing XArray export functions where it already provides exports to NumPy array. For example, whereas someone would currently use
[code]
by adding a to_xarray() method, we could use the fol

[2020-05-17 18:49] agramfort commented on #7793
no objection. We have to_data_frame so we can add a to_xarray following the same approach (using nested import)

[2020-05-17 20:30] larsoner commented on #7793
Or maybe add a kwarg to get_data, output='ndarray' (default) or 'xarray'. I think I'd prefer that to a new function

[2020-05-17 20:32] agramfort commented on #7793
it's just harder to discover

[2020-05-17 20:36] larsoner commented on #7793
Indeed, but less API / kwarg duplication

[2020-05-17 20:41] hoechenberger commented on #7793
I’d prefer dedicated functions for each export. It’s how all other packages behave that I’ve ever encountered in my scientific Python stack.

[2020-05-17 20:43] hoechenberger commented on #7788
Should be dropped.

[2020-05-17 20:45] hoechenberger commented on #7782
I’m regularly running into this issue too. I google for some MNE command or class and sometimes I end up on some VERY outdated documentation. In fact, it’s typically the exception that the docs of the most recent stable version are the first hit

[2020-05-17 20:47] hoechenberger commented on #7769
I would very much welcome this feature!

[2020-05-17 21:35] dengemann commented on #7769
I like this idea very much. And as @cbrnr says, keeping both is not really a problem. Actually the documentation of the current function could be linked somehow in the doc string of a general function.

[2020-05-18 02:28] jasmainak commented on #7776
I checked a few datasets on openneuro randomly and it seems the `split` convention is used almost nowhere. So, it's fine to change to `_split-X`

[2020-05-18 03:22] teonbrooks commented on #7776
i'm also in favor of the switch from  changing it from `part` to `split`. I gave approval there. I have one dataset with `part` in it but I will just go back rename them with the landed patch in mne-bids

[2020-05-18 07:49] sappelhoff commented on #7776
Thanks for your feedback everybody and for making this so easy. I started to make the relevant PRs to all involved parties. :slightly_smiling_face:

[2020-05-18 09:00] agramfort commented on #7782
yes it would be nice to fix

[2020-05-18 09:04] robertoostenveld commented on #7776
hmm, somehow this seems to be discussed here and also in #429.

In the case of renaming `part` to something else for MEG, I would prefer `segment` over `split`.

[2020-05-18 10:01] hoechenberger commented on #7776
I have no strong feelings there, but it does seem that the term "segment" is often being used interchangeably with "epoch", see e.g.: https://mne.tools/dev/auto_tutorials/index.html?highlight=segmented#segmenting-continuous-data-into-epochs

[2020-05-18 10:19] sappelhoff commented on #7776
yes, sorry @robertoostenveld I did not communicate this very well. It started out as an online discussion with @effigies and @franklin-feingold and we resolved it'd be good to ask the MNE community directly, so I opened this issue.

The result is basically that it'd be fine to move ahead and replace `part` in the specification by some other keyword (e.g. split). Most people have voted in favor of

[2020-05-18 11:22] robertoostenveld commented on #7776
| I have no strong feelings there, but it does seem that the term "segment" is often being used interchangeably with "epoch" ...

Agreed, using "segment" for recordings that are split over multiple files because of technical reasons (i.e. 2GB file size limits) has the risk that people would confuse it with "segment" for task-related reasons, where repeated trials (in the task) are analyzed by cutt

[2020-05-18 11:39] agramfort commented on #7776
I also prefer split (mne calls it split in its doc in many places already
eg
https://mne.tools/stable/generated/mne.io.read_raw_fif.html?highlight=split)

[2020-05-18 13:48] hoechenberger commented on #7769
Editor autocompletion hates this trick ;) This is my only concern here. It's what makes Matplotlib a pain to use for me.

Could we add **the union of all args of all reader functions as kwargs**, and document them accordingly?

[2020-05-18 13:51] larsoner commented on #7769
I'd rather not, it makes it so that in the docs we have to say which formats each arg applies to, anytime we change a reader we have to change it in two places, we need to ensure that all and only the correct `args/kwargs` actually get used / set by the user (whereas passing `*args, **kwargs` directly does this for us). If people want nice introspection and to understand all of their options easil

[2020-05-18 13:55] hoechenberger commented on #7769
I do see your concern, but I'd simply pass all accepted args to the respective reader, and silently drop all others.

Also – do reader function APIs change _this often_ really? :)

[2020-05-18 14:00] agramfort commented on #7769
you know my position on this. But I am just one person. I will not veto
anything if there is a consensus.
Is it really possible that a user does not (want to) know the format he
uses?

[2020-05-18 14:08] larsoner commented on #7769
uses?

It's a bit beyond this. Sometimes I'm testing some code, and I'd rather use CTF than FIF data. Instead of just switching a filename, I need to switch the reading call, too. If you want to build generic code like some small demo pipelie, it's more things to change than what could otherwise be just a single path (e.g., for resting-state analyses).

[2020-05-18 14:19] cbrnr commented on #7769
Yes, it's mainly a matter of practicality. Of course we can all live with using dedicated readers, but for many users it will be a bit less effort to use the generic reader. For example, to read `.mff` files people have to use the `read_raw_egi` function - not entirely clear at first glance. So although not essential, a generic reader is a nice bonus that can potentially be used almost all the tim

[2020-05-18 14:26] agramfort commented on #7769
again if you are all convinced ...

[2020-05-18 15:46] drammock commented on #7769
I'm not convinced until I see a concrete proposal for what the docstring will actually say. @cbrnr described it in general terms [here](https://github.com/mne-tools/mne-python/issues/7769#issuecomment-627472402) but I think there's value in someone actually writing it out: to make sure we didn't overlook something, to give ourselves a chance to foresee problems with docstring-related CIs, etc.

[2020-05-18 17:04] christian-oreilly commented on #6014
Unless I am missing something, this function does use only one EOG channel (arbitrarily chosen as the first in the list of EOG channels returned by _get_eog_channel_index) as mentioned by @Ali-pak. From the code of this function :
[code]

[2020-05-18 17:28] larsoner commented on #6014
Ahh sorry I was thinking of the EOG functions for SSP:

https://github.com/mne-tools/mne-python/blob/master/mne/preprocessing/eog.py#L55-L71

Even looking at that internally we eventually just pick one of the two channels to make events from.

1. The SSP function should probably optionally allow making events from both channels (using the union), and
2. The ICA function should have a switch probab

[2020-05-18 17:36] cbrnr commented on #7769
I'll come up with something concrete soon. I'm not sure what you mean by docstring-related CI problems though - I wouldn't use any templates/placeholders/some other sphinx-related shortcuts, just plain old text describing the function.

[2020-05-18 18:22] drammock commented on #7769
I'm mostly thinking about the CI that checks that the list of `Parameters` is in the same order as the parameters given in the function / method signature.  I don't know how it behaves with `*args, **kwargs`-type params.

We also have a test that checks maximum docstring length, but that can be overridden when needed.

[2020-05-18 18:29] larsoner commented on #7769
FWIW I don't think we've settled on whether this approach (my preference) or the include-all-arguments-from-all-readers approach should be taken (@hoechenberger's preference)

[2020-05-18 18:32] hoechenberger commented on #7769
*args, *kwargs is fine with me if document things nicely :)

[2020-05-18 18:42] larsoner commented on #7769
To me the docstring should be something like:
[code]
If it's more than this, then there is not much point in having `*args, **kwargs` as opposed to actual completed arguments. So really I think the documentation and presentation of `*args, **kwargs` are / should be tied together.

[2020-05-18 18:46] christian-oreilly commented on #6014
@larsoner Sure, I can tackle this one since I would code an alternative version of this function anyway because I am not satisfied with the results I see in my data. The first idea that comes to mind is to run _find_bads_ch separately on each EOG channel and then combine the scores. I see two obvious choices for combination: max and mean. I think it would make sense to use max (as soon as the scor

[2020-05-18 18:53] larsoner commented on #6014
Sounds reasonable but first I would look to see what's already done in e.g. `find_bads_ref`. Presumably whatever aggegation / channel-based choices are made there can be made similarly in your function. It might just be a `max`/`or`-like operation already, in which case let's just stick with that unless in your testing you need `mean` (assume YAGNI until proven otherwise).

[2020-05-18 19:21] cbrnr commented on #7769
👍 for @larsoner's approach and suggested docstring. `fname` really seems to be the only parameter that needs to be described explicitly.

[2020-05-18 19:32] drammock commented on #7769
agreed; I would also add an inital section before `Params` explaining that this is a convenience wrapper for the filetype-specific readers.

[2020-05-18 19:45] christian-oreilly commented on #6014
@larsoner From what I see from its sister functions (find_bads_ref, find_bads_ecg), they just collect a list of channels and pass it to _find_bads_ch. The function _find_bads_ch returns a list of the outlier components detected across channels (i.e., detected separately on each channel, then concatenated, and then removing duplicates).

From the code, I cannot see why we should not just remove
[co

[2020-05-18 19:53] hoechenberger commented on #7769
+1 to all of that.

[2020-05-18 20:14] larsoner commented on #6014
Sounds reasonable to me. @dengemann this is code from 6 years ago apparently in case you have input. But @christian-oreilly for now I'd say we should remove it and consider it a bug fix.

[2020-05-18 21:43] christian-oreilly commented on #6014
Ok. I'll submit a PR with just these line removed. Works well for me. `ica.plot_scores` also works out-of-the-box (it just generate more rows in the subplot figure)

[2020-05-19 05:36] cbrnr opened #7798 "Rename temporal_derivative_distribution_repair to tddr"
Can we rename `temporal_derivative_distribution_repair` to just `tddr`? I really think that the function name is too long (39 characters) - it makes it impossible to stay within the 79 character limit without using ugly `\` line breaks, e.g.:

[code]

I think renaming to `tddr` is not problematic because the function is in the `nirs` subpackage, and TDDR is a commonly known abbreviation in the NIR

[2020-05-19 05:41] rob-luke commented on #7798
As a newbie to the python/MNE way I defer to your collective judgement. Im happy to implement whatever the group decides here.

[2020-05-19 07:28] agramfort commented on #7798
I pass here. Honestly I think we should use editors that autocomplete so
typing
long function names is not an issue. I am more worried about make the code
self explanatory. I am not a NIRS expert nor are new comers in the field and
abbreviations and jargon are always an issue. Yes when you know it's obvious
and google certainly has the answer. We use ICA and not
independent_component_analysis
so I

[2020-05-19 07:30] #7788 closed

[2020-05-19 07:32] agramfort commented on #7769
would you expose at least the verbose and preload option to read_raw
without kwargs?
these are supported by all readers.

[2020-05-19 07:36] #7776 closed

[2020-05-19 07:37] #6014 closed

[2020-05-19 08:05] rob-luke commented on #7798
Ok Im going to remove myself from the fence and vote for the longer more explicit naming.

[2020-05-19 08:05] cbrnr commented on #7798
I vote for the shorter name.

[2020-05-19 08:07] cbrnr commented on #7769
You're right, we should explicitly mention `fname`, `preload`, and `verbose`.

[2020-05-19 08:08] cbrnr commented on #7798
In general I agree with @agramfort, but this name is taking it too far. Plus it's like ICA, NIRS people should have heard of TDDR.

[2020-05-19 10:35] hoechenberger opened #7799 "Should viz.plot_raw_psd(..., tmin=None) behave differently?"
Currently, if the user doesn't pass `tmin` to `viz.plot_raw_psd()`, it  is set to 0 if `n_fft is None`:
https://github.com/mne-tools/mne-python/blob/903f443e201f7dad94f0db456cac510cea6e31b4/mne/viz/raw.py#L626-L630

Now I'm wondering
- Why is it only set to 0 if `n_fft is None`
- Should `tmin` not be set to `raw.first_time` by default (i.e., when `tmin=None`) to yield more "relevant" results for m

[2020-05-19 11:05] hoechenberger commented on #7798
Yes this seems to be true. I would, therefore, also appreciate the shorter name in this particular case.

[2020-05-19 12:56] cbrnr commented on #7798
In case the majority is in favor of renaming I've already implemented it in #7800.

[2020-05-19 13:31] larsoner commented on #7799
No it shouldn't. The time the user passes should be relative to `raw.times[0]`, which is always zero.

As to why this is in the conditional and not outside it, I'm not sure, I'll have to look...

[2020-05-19 13:39] hoechenberger commented on #7799
Thanks @larsoner. I also just had a phone call with @agramfort that helped clarify things a little on my end. :)

[2020-05-19 14:24] larsoner commented on #7799
Okay, feel free to investigate the limits / conditionals further, let me know if you need help :)

[2020-05-19 14:43] drammock commented on #7769
if we specify `read_raw(fname, preload, verbose, *args, **kwargs)` we might be setting up expectations about order of the function signature that is different than is actually found in the individual readers (i.e., `verbose` is usually at/near the end of the parameter list).  I guess that's probably OK?  If anyone needs to switch from using the generic reader to using a specific one, presumably th

[2020-05-19 14:47] drammock commented on #7798
is `temporal_deriv_distrib_repair` an acceptable compromise?  I think it keeps the abbreviated words long enough that they aren't easily mistaken for something completely different (e.g., shortening to "dist" could be "distribution" or "distance"...)

[2020-05-19 14:47] cbrnr commented on #7769
What about `read_raw(fname, *args, preload=False, verbose=None, **kwargs)`? Or use kw-only args (everything except `fname`)?

[2020-05-19 14:49] cbrnr commented on #7769
Or just single out `fname`, `preload`, and `verbose` from the list of possible parameters contained in `*args` or `**kwargs`? That is, by correctly phrasing the docstring we might be able to prevent setting up wrong expectations.

[2020-05-19 14:55] drammock commented on #7769
@cbrnr yeah, one of those options should suffice.  I think I lean toward `read_raw(fname, preload=False, verbose=None, **kwargs)` even though it could still imply different order from the specific readers.  But as I said, that's probably fine; people can read docstrings (indeed, we're basically forcing them to read the docstrings of the more specific readers if they want to do anything fancy).

[2020-05-19 14:58] hoechenberger commented on #7769
ditto

[2020-05-19 15:03] cbrnr commented on #7798
If someone doesn't know the algorithm, the long name is not better in conveying what the function actually does. For me it wasn't obvious at all that this algorithm corrects motion artifacts - temporal derivation distribution repair is a very technical description of the algorithm but doesn't give many hints on its purpose. Therefore, I'd still vote for the short name because the compromise is nei

[2020-05-19 15:04] cbrnr commented on #7769
Yep, I think we can expect people to be able to read docstrings (same argument I made in #7800).

[2020-05-19 15:16] larsoner commented on #7798
@rob-luke are you convinced? I've come around to preferring +0.5 the short name as well...

[2020-05-19 15:32] hoechenberger commented on #7798
You forgot about … `set_electroencephalogram_reference` :)

[2020-05-19 15:41] cbrnr commented on #7798
Hehe LOL - this was going to be my final threat 🤣.

[2020-05-19 18:19] drammock commented on #7782
Here is what sklearn uses: view-source:https://scikit-learn.org/versionwarning.js

I think we could adapt it to the specifics of our site, and it would only add 1 task to the release workflow on the wiki (updating the line `var latestStable = '0.20.5';` at the top of the script).  There would be a one-time cost of hacking a call to this script into all of the old doc website pages, but henceforth

[2020-05-19 18:26] larsoner commented on #7782
Sounds good to me

[2020-05-19 20:43] hoechenberger commented on #7782
Great find, @drammock!! I would love to see this implemented :)

[2020-05-19 21:10] agramfort commented on #7798
KO :)

[2020-05-19 21:25] rob-luke commented on #7798
My vote is still for the longer name. I don’t use abbreviations in journal articles any more either, as it makes it less accessible to newcomers to the field. I think the same applies here. Also you can just add ‘import x as y’ if concerned about character counts.

I don’t think this is comparable to acronyms like eeg. These are globally known (I wouldn’t write electroencephalogram throughout an a

[2020-05-19 21:29] rob-luke commented on #7798
I have to say I’m quite happy people are discussing variable names I submitted, and not complaining about code bugs :)

[2020-05-19 21:32] larsoner commented on #7798
Maybe this would be a good time to just do:
[code]
in the module. Then people can choose which to use, and in the docstring we can make it clear that it's an alias. I don't think it's too bad -- no real extra maintenance burden, and the docstring can make it clear that there are aliases in the namespace.

I don't like it in general because it could make it hard to know what is what, but in this ca

[2020-05-19 21:33] hoechenberger commented on #7798
In articles, I introduce all abbreviations, including common ones like EEG. Once introduced, I use the abbreviation only :)

Yes but then one always has to figure out the `as y` part every time one looks at user code, as long as their is no agreed-upon standard import (like `import numpy as np` or `import pandas as pd`)

That's the point. They're, kind of, all domain-specific these days. And if yo

[2020-05-19 21:38] rob-luke commented on #7798
Yes I understand your arguments too. I think each of us weighs the different pros and cons differently. Engineers and coders love acronyms ;) .I’ve cast my vote and won’t be upset if out voted. And Im happy to implement whatever the group decides.

[2020-05-19 21:39] hoechenberger commented on #7798
Also makes you wonder how reasonable a 79-characters-per-line limit is these days, esp. considering a language like Python where indentation of blocks is enforced.

[2020-05-19 21:59] rob-luke commented on #7798
This is the only thing I disagree with. I think promoting cross domain usage of methods is very important. Sharing knowledge and methods across domain is something we should encourage. We shouldn’t silo different domains, that’s the whole reason I want to use MNE, so I can apply eeg/meg processing to nirs with minimum effort.

[2020-05-19 22:07] hoechenberger commented on #7798
Yes I totally agree with you. But instead of "acronyms", we could also just say "jargon" or "domain-specific wording" or… The thing is, even when terms and concepts are _not_ abbreviated, you often have not the slightest clue about what the heck they mean until you start reading up on this stuff. Temporal Derivative Distribution Repair is, IMHO, a prime example. This term tells me close to _nothin

[2020-05-19 22:10] rob-luke commented on #7798
I would suggest to sticking to the discussion about length of names. The author wrote a great algorithm and probably put lots of consideration in to that name.

[2020-05-19 22:13] hoechenberger commented on #7798
Just to clarify, I didn't mean to imply the name was bad. I just wanted to make the point that it's commonly the case that if you encounter a technical name or concept outside of you own domain, it typically requires quite some effort to grasp it. Whether it's an abbreviation or not doesn't really matter.

[2020-05-19 22:25] rob-luke commented on #7798
There is much more information in the name than the acronym. It tells me it acts on temporal information, that it repairs the signal based on distribution information.

If I put myself in the role of supervisor and am reviewing a students code where they have used a new approach i don’t know (this happens lots that students find the latest thing that I didn’t know about). While skimming through a

[2020-05-19 22:34] hoechenberger commented on #7798
@drammock

I think I could live with that. :)

[2020-05-19 23:37] rob-luke commented on #7798
Somehow I missed @larsoner https://github.com/mne-tools/mne-python/issues/7798#issuecomment-631094350 above. Seems like a nice solution.

[2020-05-20 01:40] #7760 closed

[2020-05-20 06:31] cbrnr commented on #7798
Alright, it seems like we agree that acronyms should be used sparingly. However, the name `temporal_derivative_distribution_repair` is an extreme case - function names shouldn't be that long. Importantly, the acronym TDDR doesn't appear in isolation - it's always `mne.preprocessing.nirs.tddr`, so users immediately know that this is something specific to NIRS processing. Again, a user either knows

[2020-05-20 06:32] cbrnr commented on #7798
(Fun fact: we're developing/using a package called MNE...)

[2020-05-20 11:55] thht commented on #7790
ok, i took a look at what is going on here. in fact, there were a few issues that you uncovered, @gbrookshire that are taken care of in #7802 . however, it won't be possible to read that datafile into MNE because the trials do not have the same time. this is supported in FieldTrip but not in MNE (as far as I am aware...). So importing this file will still raise an error, yet a more informative one

[2020-05-20 12:52] cbrnr commented on #7798
@agramfort @larsoner @rob-luke @drammock could you also indicate your preferences?

[2020-05-20 14:22] agramfort commented on #7798
if you can live with temporal_deriv_distrib_repair i would prefer but I will not fight a war for this. I need to choose my battles :)

[2020-05-20 15:37] larsoner commented on #7798
1. Use `tddr` 😐
2. Use `temporal_derivative_distribution_repair` 👍
3. Use `temporal_deriv_distrib_repair` 😐
4. Use `temp_deriv_distrib_repair` 👎
5. Make an alias `tddr = temporal_derivative_distribution_repair` 👍

[2020-05-20 15:51] larsoner commented on #7782
FYI @drammock this landed in SciPy in https://github.com/scipy/scipy/pull/12168 and https://github.com/scipy/docs.scipy.org/pull/38

[2020-05-20 16:25] thht commented on #7790
@agramfort i think we can close this issue now as #7802 has been merged.

[2020-05-20 16:28] #7790 closed

[2020-05-20 17:42] cbrnr commented on #7798
Summary:

1. 👎😐👍👍
2. 👎👎👎👍(👍)
3. 😐😐👍👍(👍)
4. 👎👎👎👎
5. 😐👍👍👍(👍)

The (👍) are inferred from comments: 2. @rob-luke, 3. @agramfort, 5. @rob-luke.

There's still no unanimously accepted solution, but 5 seems to be favored by most of us (or it seems to be the one with the fewest rejections at least). Using the mapping 👎=-1, 😐=0, and 👍=1, these are the total scores:

1. `tddr = temporal_derivative_distribut

[2020-05-20 17:49] hoechenberger commented on #7798
(Just wanted to chime in and say I'm so happy we've got those Unicode icons! This makes fights about naming schemes so much more colorful! Loving it! 😍)

[2020-05-20 18:24] drammock commented on #7782
- [x] adapt JS [mne-tools.github.io#19](https://github.com/mne-tools/mne-tools.github.io/pull/19)
- [ ] update styling
- [ ] test on Circle

[2020-05-20 18:49] larsoner commented on #7798
Let's do the alias, it allows the shortest-name and longest-name to be maximally happy

[2020-05-20 20:44] hoechenberger opened #7803 "How to handle datasets with invalid info[meas_id][secs]?"
I'm woking with the `ds000246` OpenNeuro dataset:

[code]

Reading the data works as expected:
[code]

Writing thows an exception:
[code]

Traceback:
[code]
How to best deal with data like this? Can I simply set `info[meas_id][secs]` to an arbitrary value? Also it seems a little odd that I can create (and work with) some data by reading it, but then cannot write it back to disk…

[2020-05-20 21:24] cbrnr commented on #7798
OK! Where should I create the alias? In `__init__.py` or `_temporal_derivative_distribution_repair.py`? Or somewhere else?

[2020-05-21 00:03] larsoner commented on #7798
I would put it in `_temporal_derivative_distribution_repair.py` then import it wherever we import the longer name. Then you'll probably also need to add it to the ignores in `test_docstring_parameters.py` (because it won't be in `python_reference.rst`), or we'll need to add it to `python_reference.rst` -- though I think I'd prefer just to have the long name documented there, then say in `Notes` of

[2020-05-21 09:42] seankmartin opened #7805 "ENH: Add ctrl+key or alt+key as another way to move in large steps."
# Problem
There is a bug that can occur in the matplotlib tkinter backend that can prevent shift+key combo events from being correctly passed. A shift+key combo is used in mne interactive plots to move in large steps, and the tkinter backend bug can break this feature.

# Solution
A good enhancement would be to add the additional keybind ctrl+key or alt+key which performs the same functionality as

[2020-05-21 09:58] cbrnr commented on #7805
Good idea!

[2020-05-21 13:29] cbrnr commented on #7769
Where should we include the `read_raw` function? `mne/io/__init__.py`, `mne/io/base.py`, a new module (e.g. `mne/io/read_raw.py`) or somewhere else?

[2020-05-21 13:54] larsoner commented on #7769
Probably a new `mne/io/_read_raw.py` -- it will need to import all other readers at the top, so a separate module will help avoid circular imports

[2020-05-21 15:19] larsoner commented on #7805
+0.5 for ctrl+key over alt+key

[2020-05-21 16:22] #7782 closed

[2020-05-21 18:23] larsoner commented on #7803
The FIF format in particular has a limit on how large a span of dates it can write because it writes out seconds in `int32`. Other formats that use other methods (e.g., storing seconds in `int64`, or dates in a suitable string format) will not suffer from this problem.

As to how to fix it, you can set it to zero and things will work (unless you have saved separate annotations you want to add), bu

[2020-05-21 21:13] agramfort commented on #7803
for the record here the file comes from a non-bids valid dataset as we made
sure dates for bids
MEG are compatible with fif.

[2020-05-21 21:38] bloyl commented on #7803
I would check what the date is. 5364633480 is about 170 years so my guess
is that this data has been anonymized using some method that makes that
value not meaningful.

If you want to be extra cautious, preserving as much information as you can
in case it is relevant, you could use `raw.anonymize()` -  which should
time shift everything so that `meas_date` in range while preserving the
timedelta b

[2020-05-21 21:55] hoechenberger commented on #7803
It does pass validation with the BIDS validator though. We should probably file a bug report.

--
Sent from my phone, please excuse brevity and erroneous auto-correct.

[2020-05-22 00:59] rob-luke commented on #7805
This is slightly off topic (so maybe I should open another issue?), but if someone is reorganising that section of the code it would be really handy to be able to use the modifier key to also make large changes in the time shown per view. e.g. if currently pressing `end` increases the time shown from 10 to 11 seconds, presssing `ctrl+end` would double the time view from 10 to 20 seconds.

[2020-05-22 07:10] agramfort commented on #7803
bids validator cannot read meg files just the file names so he cannot
detect these issues.

[2020-05-22 07:18] apesquita opened #7808 "Request for a dedicated reader for Ricoh MEG data (.con files)"
Hello,

I would like to suggest to make it possible to directly read Ricoh MEG system data into MNE python.
Please see the example file attached.

Many thanks!

Ana Pesquita
[010409_Motor_task_coregist-export_tiny.zip](https://github.com/mne-tools/mne-python/files/4666616/010409_Motor_task_coregist-export_tiny.zip)

[2020-05-22 07:57] hoechenberger commented on #7803
Wait, so you're saying there's BIDS-relevant metadata stored in a file format that the BIDS validator cannot read? Shouldn't this be stored in a sidecar file, like the events??

[2020-05-22 08:01] hoechenberger commented on #7803
Thanks @larsoner for the explanation, and thanks @bloyl for the suggestion to try and re-anonymize, I will look into this and see how it goes!

[2020-05-22 08:25] cbrnr commented on #7805
Also +0.5 for ctrl+key. I think this change and @rob-luke's suggestions can be tackled with one PR.

[2020-05-22 08:34] agramfort commented on #7808
do you know any open source reader for these files or someone who knows
well the format?

[2020-05-22 09:12] cbrnr commented on #7808
It seems like Fieldtrip (http://www.fieldtriptoolbox.org/getting_started/ricoh/) and Brainstorm (https://neuroimage.usc.edu/brainstorm/) can read Ricoh data.

[2020-05-22 09:13] apesquita commented on #7808
Hello,

Fieldtrip has some information on these files:
http://www.fieldtriptoolbox.org/getting_started/ricoh/
Is this helpful?

Thanks!

Ana P

On Fri, May 22, 2020 at 9:34 AM <notifications@github.com> wrote:

[2020-05-22 09:20] agramfort commented on #7808
we will need a BSD compatible implementation (no GPL code)

[2020-05-22 10:35] apesquita commented on #7808
Hello,

I will try to get info about a BSD compatible implementation reader from the Ricoh company (and link you up with them).
In addition, here is the marker file that belongs to the .con data file.

Many thanks!

Ana P

[010409_marker.zip](https://github.com/mne-tools/mne-python/files/4667506/010409_marker.zip)

[2020-05-22 16:51] #7798 closed

[2020-05-23 08:45] hoechenberger opened #7813 "Raw.anonymize() docstring is irritating"
When viewing the docs of `Raw.anonymize()`, I'm confronted with a warning:

which is irritating because, well, I **am** reading up on `Raw.anonymize` already. Also see screenshot below.

<img width="1392" alt="Screenshot 2020-05-23 at 10 43 18" src="https://user-images.githubusercontent.com/2046265/82726169-7fddb680-9ce2-11ea-830c-0d2e624324c1.png">

[2020-05-23 08:50] hoechenberger commented on #7813
Also… what's a "date of service"?

[2020-05-23 10:50] cbrnr opened #7814 "Azure Windows 3.7 conda job keeps failing"
For quite some time the Azure Windows 3.7 conda job has been throwing the following error:

[code]

More detailed log message:

[code]

@larsoner suspects that this is related to MKL and probably hard to track down.

[2020-05-23 13:53] agramfort commented on #7813
date of service can refer to the date at which the MEG system was checked
by MEGIN.
It's typically once a year.

[2020-05-23 15:09] yh-luo opened #7815 "ENH: Automatically compute threshold for CTPS cardiac artifacts detection"
#### Describe the problem
Current default threshold is 0.25 for `mne.preprocessing.ICA.find_bads_ecg` with `method='ctps'`.
However, the value seems arbitrary. Would it make sense to implement automatic computation for CTPS threshold?

0.25 is actually the threshold for data with 400 Hz sampling rate. I found that 0.25 is sometimes not sensitive enough for clean data with sampling rate higher than

[2020-05-23 16:12] agramfort commented on #7815
can you send us a PR?

[2020-05-23 19:32] teonbrooks commented on #7808
Ricoh is the new owners of the KIT/Yokogawa system. Unless their format has changed, one should be able to use the KIT module we have.

@apesquita, I was able to read in the file linked above. Try using the reader `mne.io.read_raw_kit`, let us know if this doesn't work for you.

[2020-05-23 21:25] hoechenberger opened #7816 "info['meas_date'] changes during I/O roundtrip"
#### Describe the bug
Reading some test data, setting its `meas_date` to `None` via `raw.set_meas_date()`, writing the altered file to disk, and reading it back produced an unexpected result: `meas_date` is **not** `None` after reading, although it certainly was before writing.

#### Steps to reproduce

[code]

#### Expected results
[code]

#### Actual results
[code]

cc @agramfort

[2020-05-23 22:04] larsoner commented on #7816
meas_date is not one of the info entries that should be manually changed. You need to use the anonymize functions. meas_date is inferred from elsewhere when the file is not fully anonymized.

[2020-05-24 00:19] larsoner commented on #7813
Feel free to modify the docstrings using the `docdict` so that the warning only shows up in the right place

[2020-05-24 06:11] hoechenberger commented on #7816
Wow, but, but, but… Why do we have a public `set_meas_date()` method then??

[2020-05-24 06:18] hoechenberger commented on #7816
And, I always thought manually changing stuff in `info` was totally fine… After all, that is also how I change `bads`, subject info etc… If I'm only supposed to ever touch a subset of those values, we should probably rethink access to  this data structure.

[2020-05-24 06:38] hoechenberger commented on #7816
Is this always the case, or does it only apply when `meas_date` is `None`?

[2020-05-24 07:59] #7769 closed

[2020-05-24 08:02] hoechenberger commented on #7816
Related:
#7772
#7774

[2020-05-24 11:49] bloyl commented on #7816
For fun weekend reading here is the last time this was discussed:

#7067
#7071

[2020-05-24 12:05] yh-luo commented on #7815
sure, I can make a PR for this.

[2020-05-24 12:11] bloyl commented on #7813
Date of service, in this context refers to `info['meas_date']`

[2020-05-24 12:21] hoechenberger commented on #7816
Oh noes. I would like to discuss whether and how we could make `info` read-only and only allow alterations via dedicated setter functions (while keeping the ability to change the values of "safe" keys directly, for backward-compat). Anyone willing to chime in? ;)

Because it _is_ really inconsistent and error-provoking. I'm being taught in the tutorials to manually fiddle with `info['bads']`, and

[2020-05-24 12:52] larsoner commented on #7816
Read this first:

https://github.com/mne-tools/mne-python/issues/2300
https://github.com/mne-tools/mne-python/pull/2765
https://github.com/mne-tools/mne-python/issues/2860
https://github.com/mne-tools/mne-python/pull/3147

I'd be up for reconsidering adding it. I think now that we require an actual `Info` everywhere, it should be possible to at least `warn` people when they change an entry that th

[2020-05-24 12:54] cbrnr commented on #7816
I agree that the `info` dict is not entirely ideal. I think this is due to two reasons: (1) it has grown historically/organically, and (2) it is reflecting the internal FIF data structure. Therefore, it's not easy to change this structure, but at least such things should be clearly documented.

In fact, the [documentation of `mne.Info`](https://mne.tools/dev/generated/mne.Info.html) says:

The [`m

[2020-05-24 12:57] cbrnr commented on #7816
This is over-engineering IMO. Properties would make things much easier for users.

Again, `info['meas_date'] = None` is much more intuitive and Pythonic. Let's implement properties.

[2020-05-24 13:00] larsoner commented on #7816
This to me seems like a mostly orthogonal discussion -- here we are mostly talking about which properties should be settable at all and how to prevent errors. You are talking about how they should be set (and requiring deprecations of existing functions, etc.). Feel free to open a separate issue for this but I'd rather keep the discussion here focused on the read-only-ness / documentation of `Info

[2020-05-24 13:01] hoechenberger commented on #7816
@cbrnr

Yes I agree that properties are the more Pythonic approach and should be preferred.

[2020-05-24 13:04] cbrnr commented on #7816
True, but properties provide a Pythonic way to implement read-only fields - I'll open a separate issue to discuss.

I agree that here the best solution is to improve the docs (e.g. make the existing note more obvious as you suggested).

[2020-05-24 13:11] cbrnr opened #7818 "Use properties to set values in Info"
As I've mentioned in #7816 I think it would be more intuitive if users could just set values in the `Info` dict using simple assignments, e.g. `info['meas_date'] = None`, instead of setter methods (e.g. `info.set_meas_date(None)`). This is consistent with values that we currently allow to be set directly, e.g. `info["bads"] = []`.

This would also allow us to make read-only properties for fields w

[2020-05-24 13:23] hoechenberger commented on #7816
Just to get back to the original issue:

… it's this one, in case anyone was wondering after our digression here. 😅

[2020-05-24 15:44] agramfort commented on #7816
yes please focus what is the matter here. @hoechenberg uses a public method
set_meas_date
passes None, gets no warning as everything seems fine and then he hits
a legitimate surprise on read. So either we add a warning that says that
None
should not be passed or we consider this a bug and we fix it. I was
surprised
myself by the failure of the IO round trip and I suggested to open the
issue.
Addin

[2020-05-24 15:47] agramfort commented on #7818
my personal feeling: If everytime someone does something bad you create a
law you end
up with 10 new laws every month and you end up with a non-agile system as
you have
a lot to consider when amending the law. It's the same thing with
software/code. Trying
to prevent you every possible mistake will make you design a monster and
will slow down
all the rest (more code to maintain, more things to tes

[2020-05-24 15:47] agramfort commented on #7813
I would consider a rephrasing then. Date of acquisition ?

[2020-05-24 18:22] cbrnr commented on #7816
@agramfort sorry about the digression, all discussion on properties are now in #7818.

[2020-05-24 18:23] cbrnr commented on #7818
I totally agree with you - that's why I'd use properties instead of setters.

[2020-05-24 19:24] drammock opened #7821 "DOC: install instructions should mention OpenGL"
On a new system running xubuntu 20.04, with a fresh install of conda, I get this when following our standard install instructions (curl env file followed by `conda env update --file environment.yml`). The only thing I did differently was to change in the environment file the line `name: base` to `name: mne`.

Summary of the problem:

- pip fails to build wheel for mayavi
- pip runs setup.py for ma

[2020-05-24 19:36] bloyl commented on #7803
This raises an interesting question.

What is the expectation if bids sidecar information differs from what is stored in the underlying imaging data headers?

[2020-05-24 19:51] drammock commented on #7821
solution is `sudo apt install libopengl0` before running the conda installation.

[2020-05-24 20:09] hoechenberger commented on #7803
I believe the sidecar-based values always take precedence.

[2020-05-25 05:08] #7816 closed

[2020-05-25 05:28] hoechenberger commented on #7818
I agree with @cbrnr: Using properties would allow us to ensure "correct" usage –  _without_ having to invent and apply arbitrary rules. I think it makes sense to have this for the `info` structure, as it's one of the bits that users actually are expected to touch and modify. I don't think anyone is wanting to expand this to other parts of MNE for now. :)

[2020-05-25 05:40] cbrnr commented on #7818
No, this is just about the `Info` object. Intended changed usage examples:

[code]

[2020-05-25 08:37] agramfort commented on #7803
+1

[2020-05-25 10:13] agramfort commented on #7818
I propose to sleep over this for a few weeks and concentrate on more
blocking matters :)

[2020-05-25 10:31] cbrnr commented on #7818
Hehe, in case you're hoping that I will forget: I won't 😄.

But I won't insist, if you say we don't need it - fine with me. I'd be interested what others think - especially from a user's point of view. Any opinions?

[2020-05-25 12:58] agramfort commented on #7814
@larsoner any thought?

[2020-05-25 15:11] larsoner commented on #7814
It seems to be somewhat sporadic, I've only seen it a handful of times. Not sure how that's possible, unless somewhere memory is getting corrupted. I can try replicating but want to see if it shows up again, since the last couple of PRs I looked at did not show a problem...

[2020-05-26 06:26] hoechenberger commented on #7818
I was going to tag some users here, but I suppose not all of them would even know what this "properties" thing is supposed to be and when and how it would affect their work. If you feel like it, could you maybe write a short example to showcase what it is you mean? Then we could get users' opinions :) (You already have sth in your initial comment here, but its phrasing is IMHO mainly targeted towa

[2020-05-26 07:31] cbrnr commented on #7818
Actually I just realized that the only setter method for `Info` objects is `set_montage`. So maybe documenting which fields are user-writable is sufficient.

[2020-05-26 07:36] agramfort commented on #7818
+10

[2020-05-26 07:43] hoechenberger commented on #7818
And still using properties to avoid touching items you're not supposed to touch? Or what do you mean? :)

[2020-05-26 07:46] cbrnr commented on #7818
Nope, just document which fields are supposed to be touched and that's it.

[2020-05-26 08:13] hoechenberger commented on #7818
Ok, sounds good! Just try to make sure it's, like… really, **really** in-your-face 😁

[2020-05-26 08:44] cbrnr commented on #7818
Yes, the note should be promoted to a warning or something.

[2020-05-26 12:16] langestroop commented on #7773
Hi @jasmainak,

sorry for the long delay and thanks for your reply and comments.
Should I cross-post my previous comment directly in [Autoreject Issue#170](https://github.com/autoreject/autoreject/issues/170)? Or should I create a new issue in the autoreject github? Just let me know your preference and I'll do it right away.

Yes, I think that allowing `get_rejection_threshold` to accept a `raw` o

[2020-05-26 13:13] #7821 closed

[2020-05-26 14:02] ZQInQAAS opened #7829 "scalings on CSD eeg signals doesn't work"
when I try this tutorial[https://mne.tools/dev/auto_examples/preprocessing/plot_eeg_csd.html?highlight=laplacian](url) I found parm **scalings** doesn't work on raw_csd's eeg. Here's my code:
`raw_csd = mne.preprocessing.compute_current_source_density(raw)`
`raw.plot(scalings=dict(eeg=20, eog=500))`
`raw_csd.plot(scalings=dict(eeg=3000, eog=200))`
![image](https://user-images.githubusercontent.com

[2020-05-26 14:08] larsoner commented on #7829
Perhaps you need to pass `scalings=dict(csd=...)` ? Not sure...

[2020-05-26 14:13] ZQInQAAS commented on #7829
wow……It's really works!  Thank you~

[2020-05-26 14:13] #7829 closed

[2020-05-26 22:33] #7818 closed

[2020-05-27 06:19] jasmainak commented on #7773
I think cross posting as a new issue with a summary of what changes in tutorials etc can help would be very welcome! Better still if you want to make the PR yourself, but I won't ask for more than you have time for :)

[2020-05-27 07:22] SophieHerbst opened #7834 "FIFF file exceeded 2GB limit, please split file or save to a different format"
I am getting this error for an epochs.fif file when trying to save it:

The same files for other subjects are automatically split and saved (2 x 1.2 GB), but for this one I have a 2.1 GB file on my disk and then get the error.

Is there a way to force the splitting? Thanks!

[2020-05-27 07:26] agramfort commented on #7834
a bug about this was recently reported. Can you try with latest stable
release?
is it epochs or raw?

[2020-05-27 07:44] SophieHerbst commented on #7834
it is epochs and I am using mne 0.21.dev0

[2020-05-27 08:27] yh-luo commented on #7815
Closed by #7819

[2020-05-27 08:27] #7815 closed

[2020-05-27 08:31] cbrnr commented on #7814
https://dev.azure.com/mne-tools/mne-python/_build/results?buildId=7369&view=logs&j=a846d25a-e32c-5640-1b53-e815fab94407&t=f8799db5-b972-5f58-516d-bc88b8357f99

[2020-05-27 10:03] agramfort commented on #7834
update to 0.20.5 or current master and it will fix your pb (I think)

[2020-05-27 10:13] agramfort commented on #7808
indeed I tried:

`raw = mne.io.read_raw_kit('010409_Motor_task_coregist-export_tiny.con')`

and it works fine !

[2020-05-27 10:22] apesquita commented on #7808
Thanks! I will check it asap with Kyung-Min (somehow I missed this message before). We will keep you posted. Many thanks!

[2020-05-27 13:56] SophieHerbst commented on #7834
fixed by update to current master

[2020-05-27 14:27] cbrnr commented on #7774
Is there a list of these functions somewhere? If not, can we start collecting them here?

[2020-05-27 15:28] #7834 closed

[2020-05-27 15:30] gbrookshire commented on #7790
Great - thanks for your help with this!

[2020-05-27 15:38] larsoner commented on #7774
No list AFAIK, I would just start a PR with a few of them and people can push commits with others when they think of / find them

[2020-05-27 16:03] larsoner commented on #5484
Closing, we have this in the `pre_install` page:

https://mne.tools/dev/install/pre_install.html#overview-of-the-mne-tools-suite

@TomDonoghue feel free to open a PR to add FOOOF or other packages

[2020-05-27 16:03] #5484 closed

[2020-05-27 16:05] larsoner commented on #7814
So it is non-deterministic. Great -- to my windows boot I go, wish me luck...

[2020-05-27 16:25] cbrnr opened #7836 "Possible bug in _pick_data_or_ica"
While setting `meg=True` in calls to `mne.pick_types` in calls that didn't explicitly specify this argument (#7823), I noticed that the internal function `_pick_data_or_ica` probably doesn't do the right thing.

Previously, the function picked:

[code]

Since `meg=True` by default, I changed this to:

[code]

But this function is supposed to pick ICA channels (I think), and these should be of type

[2020-05-27 17:16] hoechenberger opened #7837 "Magnetometer positions look odd in PSD plot"
#### Steps to reproduce
Let's first visualize the magnetometer channel positions via `Raw.plot_sensors()`:
[code]
This produces:
![sensors](https://user-images.githubusercontent.com/2046265/83051600-85bef900-a04e-11ea-9fe5-fbc2be43c365.png)

Looking good. Now let's plot PSDs of the data.

[code]
Result cropped so it only shows the sensor positions (top to bottom: mag, grad, eeg):
![Figure_1 copy](