[2019-06-20 18:55] drammock commented on #6467
It looks like you are defining the full file path as `raw_fname` but then not using it within the `read_raw_cnt` function. Try:

[code]
where `'the/full/path/to/your/file/not/just/the/filename.cnt'` is presumably `'C:/Users/bianc/raw/st003_PAMR_1093_20080414.cnt'` (based on your previous message)

[2019-06-20 19:35] larsoner commented on #6454
I'm actually not sure what you mean by this. I'll open a PR with a minimal fix to avoid the error for sEEG/ECoG people, but it means that we only have code for EEG users to (re)reference their data, not ECoG or sEEG people.

[2019-06-20 20:20] larsoner opened #6479 "API: Deprecate PSF/CTF"
@olafhauk recently @agramfort pointed me toward:

https://www.biorxiv.org/content/10.1101/672956v1

WDYT about deprecating MNE's PSF/CTF functionality, and instead change the existing examples to use your toolbox, with a link to your package?

If you can make a PR to update the examples to use your package, I can push commits to get the CIs (and requirements files, etc.) to pull in your package pr

[2019-06-20 21:52] jasmainak commented on #6479
I think this would be a great fit for the upcoming coding sprint that @olafhauk expressed interest in attending.

[2019-06-21 06:30] #6468 closed

[2019-06-21 16:05] biancaisla1 commented on #6467
My apologies for the delay in response, I plugged the corrections in this morning and this was the output I got:

In [15]: raw = mne.io.read_raw_cnt(input_fname='C:/Users/bianc/raw/st003_PAMR_s1093_20080414.cnt', montage=None, eog=('VEOU', 'VEOL', 'HEOR', 'HEOL'),
                          misc=('SCR', 'SCL'), ecg=('HR',),
                          emg=('PA-L-SCALP', 'PA-L-EAR', 'PA-R-SCALP', 'PA-

[2019-06-21 16:15] agramfort commented on #6467
Glad it works !

[2019-06-21 16:15] #6467 closed

[2019-06-22 12:33] #6454 closed

[2019-06-23 11:04] jona-sassenhagen opened #6481 "vims not the same for all images of evoked.plot_image with group_by and axes dicts and a mask"
See:

[code]

If you remove the mask, all images have the same vlims.

@drammock if you have time, otherwise I will try to get to it in a month or so.

[2019-06-23 15:29] nwilming opened #6482 "raw.crop failure with multi-file CTF"
I'm working with ~1h long CTF recordings that I crop into blocks to preprocess. I think cropping a multi-file CTF raw object has a bug. Unfortunately the CTF recordings is big (>10GB), so hard to share. The following demonstrates the problem:

[code]

There are 5 meg4 files for this dataset and croping beyond the first meg4 file doesn't work:
[code]

I think the source of the problem is that raw._

[2019-06-24 07:34] agramfort commented on #6482
can you modify this line:

https://github.com/mne-tools/mne-python/blob/master/mne/io/ctf/ctf.py#L144

with your suggested fix. Tell us if it works and you'll let you send PR or
if you prefer
we'll fix it ourselves.

thanks

[2019-06-24 18:44] drammock opened #6485 "RFC, DOC, STY: update website fonts?"
I'm often bothered by the font mismatch between the API links and the surrounding text. Here's a screenshot:

![mne-font-heights](https://user-images.githubusercontent.com/1810515/60042873-3072ae80-966b-11e9-9ad1-f887d2f64916.png)

The height difference is most jarring, but there are also edge-spacing issues, so that a line that starts with an API link will look slightly indented.  The proposal he

[2019-06-24 19:08] agramfort commented on #6485
no objection

[2019-06-24 19:21] larsoner commented on #6485
Sounds good

[2019-06-25 15:52] Yaocoo opened #6488 "CTF data loading with non-zero compensation grade error"
I was trying to load CTF data. I only put the .ds dir as the first parameter, all other parameters are default value. Then meet a runtime error that "RuntimeError: Reference magnetometer channel with non-zero compensation grade 1".

the code and the results are in the below

Example:

[code]

#### Actual results

[code]

[2019-06-25 17:00] larsoner commented on #6488
Can you upload this dataset somewhere? It's weird that there is a reference magnetometer channel that has had gradient compensation applied to it.

Do you know where this dataset was acquired, and with which CTF acquisition software version?

[2019-06-25 22:28] dengemann commented on #6488
Eric this issue comes from one of our attendees in Gasgow. We can try to take this offline if data sharing would turn out to be difficult. Perhaps we should also try reading it with MNE-C.

[2019-06-26 07:25] agramfort commented on #6488
+1 to try with mne-c

[2019-06-26 12:12] massich commented on #6461
`update_ch_names` has been exposed in 0.19. Once Digitization is here, we should be able to remove it from the signature.
https://github.com/mne-tools/mne-python/blob/2f9873e7759e62f8471326e37a2ad1cdd2c2e65d/mne/channels/channels.py#L446

In other words, `Digitization` should go in before releasing so that we don't need to deprecate this parameter.

[2019-06-26 17:33] larsoner opened #6498 "BUG: Arrow rendering no longer correct (scale issue?)"
In 0.16 it looks good

https://mne-tools.github.io/0.16/auto_tutorials/plot_dipole_orientations.html#limiting-orientations-but-not-fixing-them

In 0.17+ the activity disappears for some reason (maybe meters vs mm in the arrow scales?)

https://13931-1301584-gh.circle-artifacts.com/0/dev/auto_tutorials/source-modeling/plot_dipole_orientations.html#limiting-orientations-but-not-fixing-them

[2019-06-26 17:35] Yaocoo commented on #6488
Thank you all very much. This data has both MEG and EEG recorded, I guess the problem is might because the EEG channel. Let me check the validation of data with fieldtrip first tomorrow.

[2019-06-26 17:35] larsoner commented on #6498
@GuillaumeFavelier can you look into why it no longer plots?

[2019-06-26 17:38] GuillaumeFavelier commented on #6498
Yeah sure, I'll take care of it.

[2019-06-27 00:47] drammock opened #6500 "BUG: raw.plot_psd subplot titles broken"
in 0.18: "Magnetometers Gradiometers EEG"
https://mne-tools.github.io/stable/auto_examples/time_frequency/plot_compute_raw_data_spectrum.html#plot-the-raw-psd

in current master:  "EEG EEG EEG" and something is wrong with the confidence bands
https://mne-tools.github.io/dev/auto_examples/time_frequency/plot_compute_raw_data_spectrum.html#plot-the-raw-psd

#6451 may have broken this but I haven't d

[2019-06-27 10:10] jshanna100 commented on #6500
Ok, I know what this is.
https://github.com/mne-tools/mne-python/blob/ca870d2f04c20cee8957257df5f2d2c64d448b34/mne/viz/utils.py#L3002-L3004
The mean() operation should be removed from these, like:
`np.min(psd, axis=0)`
Then it works. I did this for 'std' but forgot to also do it for 'range'. Thanks for bringing this to my attention.

@larsoner Should I do a quick PR for this?

[2019-06-27 10:10] hichamjanati opened #6502 "Sanity check of co-registration quality"
### problem
The trans files provided in the mne datasets are not inspected to verify if the alignment is acceptable or not.

### solution
We can use the following script as a test before computing a forward for example. It computes the average distance between the dig points and the mri surface (same as in the coregistration gui).

I am not sure how to integrate this in mne but I am thinking as wa

[2019-06-27 11:13] larsoner commented on #6502
A `logger.info` with this information plus a warning if it's outside some range would indeed be useful. Just note that instead of `argmin(euclidean_distances(...))` we have a more efficient `_compute_nearest` that you can use.

[2019-06-27 11:14] larsoner commented on #6502
Also the code from `mne.viz._3d.plot_alignment` for the `'head-dense'` argument to `'surfaces'` can be re-used for the dense head here, as can the argument for `'head'` for the low-res head surface. They are more tolerant/flexible than what is done in the current snippet.

[2019-06-27 11:15] larsoner commented on #6500
@jshanna100 that would be great

[2019-06-27 15:29] #6485 closed

[2019-06-27 16:52] massich commented on #6500
Is there an easy way to test figures? I think matplotlib does it but I'm not sure how easy / complicate is it

[2019-06-27 17:07] drammock commented on #6500
@massich in my WIP refactor of `plot_compare_evokeds` I test title [like this](https://github.com/drammock/mne-python/blob/refactor-epochs-image/mne/viz/tests/test_evoked.py#L228-L231)

[2019-06-27 20:54] Hamidbme opened #6508 "import dataset in mne"
Hi,

I need to import a dataset for use in mne-python, but can not find a way to do so.The dataset was obtained from the paper referenced below.
moabb supported this dataset an I used below code to import but I had error.I attach the picture of error for you to see.

Thanks fo help!

paper:

Jaeyoung Shin, Alexander von Lühmann, Benjamin Blankertz, Do-Won Kim, Han-Jeong Hwang and Klaus-Robert Müll

[2019-06-27 23:49] drammock commented on #6508
I have tried this, and it succeeds without error:

[code]
It seems like maybe your data has been corrupted...  perhaps you should delete and re-download the EEG-fNIRS dataset?

As a side note, this error should probably have been reported to MOABB, not to MNE-Python.  Other than `import mne` there are no MNE-Python commands being used in your example script (and mine succeeds without even importin

[2019-06-27 23:50] #6508 closed

[2019-06-28 07:56] agramfort commented on #6502
we need to decide on the API and we should try to reuse as much code as
possible

thoughts anyone?

[2019-06-28 11:33] larsoner commented on #6502
@jhouck do you have any code for coreg quality assessment?

[2019-06-28 13:28] GuillaumeFavelier commented on #6498
**TL:DR**: I removed [this line](https://github.com/mne-tools/mne-python/blob/master/mne/viz/_3d.py#L2232) and it worked for me.

For reference, this bug occurs in [`plot_dipole_orientations.py`](https://github.com/mne-tools/mne-python/blob/master/tutorials/source-modeling/plot_dipole_orientations.py#L206-L207).

I investigated this one and I discovered that the bug is related to the `alpha` value

[2019-06-28 13:44] GuillaumeFavelier commented on #6498
As a hack to disable the overlay in PySurfer, I also tried adding:

`surf.actor.visible = False`

just after [this line](https://github.com/nipy/PySurfer/blob/master/surfer/viz.py#L3272):

`surf.actor.property.backface_culling = False`

[2019-06-28 15:08] larsoner commented on #6498
I'm not sure what the right thing is, I'd just make sure that the examples using vector and non-vector STC plotting still look correct (or in the case of `plot_dipole_orientations`, now look correct).

[2019-06-29 12:09] agramfort commented on #6502
I would suggest expose a public function like:

`check_coreg(trans, info, subject, subjects_dir=None)`

that prints the descriptive stats of the distances to haed surface (min, max, mean, 25%, 50%, 75% quantiles). Like pandas.DataFrame.describe()

ok?

[2019-06-30 12:23] larsoner commented on #6502
Sounds good, and we can think about having it be called by plot_alignment if trans is not None, assuming it's fast enough

[2019-06-30 14:49] jhouck commented on #6502
@larsoner yes, I threw everything into a CoregModel and used _get_point_distance. Let me find a clean version and I'll put it into a gist.

[2019-06-30 15:00] jhouck commented on #6502
Ugly version at https://gist.github.com/jhouck/9585c775cb524580fc0ad2ac7f70844b .

[2019-07-01 15:23] GuillaumeFavelier opened #6518 "Incomplete PyVista 3d backend"
As suggested in this [comment](https://github.com/mne-tools/mne-python/pull/6464#issuecomment-504440519), we keep track of the primitives not yet implemented in the PyVista 3d backend:

- [x] `tube()`
- [x] `text3d()`
- [x] `scalarbar()`
- [x] `_set_3d_view()`
- [x] `_set_3d_title()`

[2019-07-03 10:10] GuillaumeFavelier commented on #6518
Showing the advancement with the example `examples/connectivity/plot_sensor_connectivity.py` :

Mayavi | PyVista
----------|-----------
![image](https://user-images.githubusercontent.com/18143289/60582994-26972c80-9d8a-11e9-95cb-4892a1d8f715.png) | ![image](https://user-images.githubusercontent.com/18143289/60583354-fe5bfd80-9d8a-11e9-96ab-a655645d650d.png)

[2019-07-03 10:31] agramfort commented on #6518
Next is color bar then ?

[2019-07-03 10:43] Hamidbme opened #6523 "import dataset"
I need to import a dataset for use in mne-python, but can not find a way to do so. I want to import this dataset in mne for preprocessing.

dataset: Jaeyoung Shin, Alexander von Lühmann, Benjamin Blankertz, Do-Won Kim, Han-Jeong Hwang and Klaus-Robert Müller, "Open Access Dataset for EEG+NIRS Single-Trial Classification," IEEE Trans. Neural Syst. Rehabil. Eng., online published. Download dataset [

[2019-07-03 10:59] GuillaumeFavelier commented on #6518
yes indeed!

[2019-07-03 11:12] cbrnr commented on #6523
According to the description, the data is stored in .mat files. You can use `scipy.io.loadmat` to load it. This will give you a NumPy array, which you then need to convert to a `Raw` MNE object using https://mne-tools.github.io/stable/generated/mne.io.RawArray.html (see also [this example](https://mne-tools.github.io/stable/auto_examples/io/plot_objects_from_arrays.html)).

[2019-07-03 18:03] ktavabi opened #6527 "Warning in compute covariance"
`compute_covariance(epochs)` generates `RuntimeWarning`...

`compute_covariance(epochs, rank='full')` throws `ValueError` as rank must be 'full' or 'info'. What exactly is the `RuntimeWarning` referring to? `method` argument input or instance of epochs if someone could clarify I'm happy to open PR.

[2019-07-03 18:37] drammock commented on #6523
duplicate of #6508. As I said in the follow-up email thread, please follow the guidance in the [getting help](https://mne-tools.github.io/stable/pre_install.html#getting-help) section of our website. Specifically: use [the MNE mailing list](http://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) and/or [MNE gitter channel](https://gitter.im/mne-tools/mne-python) for questions about usage. T

[2019-07-03 18:37] #6523 closed

[2019-07-03 20:37] agramfort commented on #6527
can you share the epochs data with a code to replicate the pb? thx

[2019-07-03 21:13] ktavabi commented on #6527
[Here](https://www.dropbox.com/s/n1iz0dfmamu59uq/All_55-sss_bad_116a-epo.fif?dl=0) you go...
[code]

[2019-07-04 07:58] agramfort commented on #6527
I could replicate the error. We'll take a closer the look.
Use rank='info' as it will use the true rank derived from
maxfilter header. If you do

mne.viz.plot_cov(signal_cov, eps_copy.info)

you'll see that the rank of the data is closer than 34
than 301.

[2019-07-04 13:59] wmvanvliet opened #6528 "raw.plot(block=True) freezes the jupyter kernel forever"
#### Describe the bug

When plotting continuous "raw" data and specify `block=True`, everything works well until you try to close the figure. Control is never handed back to the command line. This does not occur when using command line ipython, but does occur when using Spyder or a Jupyter notebook.

#### Steps and/or code to reproduce

In Spyder or a notebook:

[code]

Close the plotting window.

[2019-07-04 15:35] agramfort commented on #6528
can you replicate with a pure matplotlib code?

[2019-07-05 07:50] agramfort opened #6530 "links in caroussel in the front page are broken"
cc @drammock

when you click on blue buttons in the carrousel in front page

this is certainly due to tutorial refactoring

[2019-07-05 08:33] GuillaumeFavelier commented on #6518
In order to add `_set_3d_view()` and `_set_3d_title()` in the pyvista 3d backend, I have to use the `BackgroundPlotter` instead of the regular `Plotter` which depends on `PyQt5`.
I need to thoroughly investigate the impact of this migration on the `_Brain` object, the interactivity inside a jupyter

[2019-07-05 08:47] agramfort commented on #6518
let me know if you need to discuss

[2019-07-05 10:59] cbrnr opened #6531 "Marking bad channels and bad ICs is inconsistent"
When plotting a `raw` object, I can mark bad channels by either clicking on a channel trace or on a channel label. When I do the same thing with ICs, the behavior is inconsistent in two ways:

1. Bad (excluded) ICs turn red instead of gray
2. I can only click on an IC trace, but not on an IC label (which tries to open a topomap, but fails if no montage is loaded).

I'd like to make this consistent

[2019-07-05 16:41] agramfort commented on #6531
sounds good to me !

[2019-07-05 17:19] mmagnuski commented on #6531
I actually like the current behavior: clicking the label to get topomap is quite convenient. So if we were to make it consistent I would prefer that clicking the channel label in raw plotter would give the topographical position of the channel (or maybe even channel properties? :) ). The downside is that it is usually more difficult to select a signal trace in the raw plotter because if you are no

[2019-07-05 18:02] agramfort commented on #6531
I am not so sure now :)

[2019-07-05 18:34] drammock commented on #6531
FWIW, on an `epochs.plot()` you left-click the channel name to mark a bad channel, and right-click a channel name to get a popup of `epochs.plot_image()` for that channel.  So one way of increasing consistency a little would be to make the ICA plot more like epochs plot (left-click channel name -> mark bad, right-click channel name -> show topoplot).  Adding a pop-up behavior to `raw.plot()` chann

[2019-07-05 20:02] mmagnuski commented on #6531
@drammock - good idea. I actually wasn't aware of the right-click epochs image behavior.

[2019-07-05 20:38] #6530 closed

[2019-07-06 16:18] LM-thinking opened #6535 "Error reading big CNT file"
MNE Group:
I tried to read several cnt files of different sizes using `mne.io.read_raw_cnt`.
[code]
If the cnt file is lower than 2G, the file can be successfully loaded.
However, if the file size exceeds 2G, I will receive the following error:
[code]

Also:
If I use:
[code]
I got different error:
[code]
Here is my mne info
[code]

[2019-07-07 12:01] AimerLee commented on #6535
Since the CNT file is huge, which means the samples section in the CNT file (ref this: [Structure of CNT file ](http://paulbourke.net/dataformats/eeg/)) is also huge.

And mne choose to read the **event table position** from the SETUP section, which read as a long (32 bit) integer.

[code]
As a result, the maximum length of the CNT file mne supports is equals to :
[code]
"900" is the size of the S

[2019-07-07 12:31] agramfort commented on #6535
any chance you can open a PR @AimerLee97 ? thx

[2019-07-08 06:19] cbrnr commented on #6531
If this is how `epochs.plot` already works, then I think it's a good idea to streamline the other plots. I'm OK with leaving the color as is (red), although we could make this configurable at some point.

To summarize, here are the proposed changes:
- Left-clicking on an IC trace or an IC label should toggle the exclude status of that IC.
- Right-clicking on an IC label should open a topomap (or I

[2019-07-08 06:21] cbrnr commented on #6531
PS: Although from a usability point of view, I'd prefer Shift + left click instead of right click, but this means we'd have to change the behavior of `epochs.plot` too.

[2019-07-08 07:55] LM-thinking commented on #6535
Thank you all. It works!
However, the author said in his code that '# Header has a field for number of samples, but it does not seem to be too reliable. That's why we have option for setting n_bytes manually.' So I want to know if this update is stable. Because you use the nsamples in header to calculate the correct event_offset.

[2019-07-08 08:48] agramfort commented on #6531
- Left-clicking on an IC trace or an IC label should toggle the exclude
   status of that IC.
   - Right-clicking on an IC label should open a topomap (or IC properties
   window, whatever is the current behavior).

+1 for me

[2019-07-08 09:55] Kriattiffer commented on #6528
You may need to switch backedns with
`%matplotlib qt`
or
`%matplotlib tk`
when you need interactive plot

[2019-07-08 15:51] massich commented on #6535
@AimerLee nice catch. I guess I broke it in #6047. I'll open a PR.

[2019-07-09 08:53] cbrnr opened #6538 "x axis labels of epochs.plot() should be int, not float"
Plotting epochs with `epochs.plot()` currently labels the overview bar on the x axis with floats, e.g. 1.0, 18.0, 35.0, etc. These labels refer to the epoch number so they should be ints.

[2019-07-09 08:57] cbrnr commented on #6531
Another inconsistency:
Right-clicking in the signals area in `epochs.plot` moves the green line (which is actually yellow)
Shift-left-clicking in the signals area (not on a trace) in `raw.plot` moves the green line (which is actually green)

[2019-07-09 12:11] wmvanvliet commented on #6528
Yup, this is a jupyter/matplotlib issue. This also fails with the same behaviour on my end:

[code]

[2019-07-09 12:11] #6528 closed

[2019-07-09 12:45] pengweimin opened #6539 "Cannot concatenate individual BCI 2000 dataset files"
when i use mne download BCI 2000dataset，it‘s worning。

[code]

ValueError: raw[261]['info']['sfreq'] must match

[2019-07-09 13:06] cbrnr commented on #6539
Can you please post the full output/error message? It is not clear where exactly this error is happening.

[2019-07-09 13:20] pengweimin commented on #6539
THIS IS FULL ERROR MESSAGE,THANKS.
-----------------------------------------------------------------------------------------------------
Traceback (most recent call last):

  File "<ipython-input-1-2dcc84e6d0e6>", line 1, in <module>
    runfile('D:/pwm/BCI 2000/download_dataset.py', wdir='D:/pwm/BCI 2000')

  File "C:\Users\pwm\Anaconda3\lib\site-packages\spyder\utils\site\sitecustomize.py", line

[2019-07-09 15:23] massich commented on #6535
can anyone share (privately or publicly) one of those long CNT files ??

[2019-07-09 16:04] massich commented on #6535
When trying these large files, the code I'm reading in `Teeg` field of `TEEG` is not 1 or 2 is a random number (usually 129 or 116) our codebase allows for 3 as well. Is there any extension that I'm not aware of with different structures or am I doing something wrong?

[code]

[2019-07-09 18:49] hoechenberger opened #6544 "BrainVision event parser doesn't handle my data correctly"
The event parser for BrainVision files generates seemingly arbitrary event codes for my data. This is a problem that was first mentioned in #6267 and supposedly fixed. However, the fix introduced special handling depending on the detected event type:

https://github.com/mne-tools/mne-python/blob/70789c466133eaba410e1fc254c4b88723e30b77/mne/io/brainvision/brainvision.py#L825-L829

In the `vmrk` fil

[2019-07-09 18:52] larsoner commented on #6544
Seems reasonable to me. Do you happen to know if `Event` is basically the same thing as `Stimulus`, or are they different? Maybe just from different versions of PyCorder?

[2019-07-09 18:56] hoechenberger commented on #6544
I'm not sure, maybe it's just a configuration setting. The data were recorded two years ago and I currently don't have a working EEG setup to run further tests. But I _could_ try to get a copy of PyCorder working again.

I would, intuitively, assume that `Event` is just a generic term for pretty much _all_ kinds of stimulus and response events.

[2019-07-09 19:44] hoechenberger commented on #6544
@larsoner Maybe your question was actually whether the offset for `Event`s should be zero or something else? The answer is, I believe it should always be zero in that case. :)

[2019-07-09 19:47] agramfort commented on #6544
I am fine with the suggested 1 line change.

you'll need to update a test though

thx

[2019-07-09 19:53] hoechenberger commented on #6544
I'd add a new sample file to `mne/io/brainvision/tests/data` and add a very small test that _just_ tests whether `Event` markers are being read correctly, nothing else, would that suffice?

[2019-07-09 19:55] larsoner commented on #6544
Maybe just modify an existing `vhdr` file to have `Event/` rather than `Stimulus/`, that way you don't even need to add a new file (or even a new test, since it should show up the same way)

[2019-07-09 19:56] hoechenberger commented on #6544
You mean, replacing some existing `Stimulus/S` markers with `Event/`?

[2019-07-09 20:21] agramfort commented on #6544
yes

[2019-07-10 00:31] #6544 closed

[2019-07-10 03:16] LM-thinking commented on #6535
@massich Please download the cnt file from the following link:
[https://bcmi.cloud:5001/sharing/ezXci1zax](url)
The size of the cnt file is 2.23G.  And it has multiple triggers of integer types named 1, 11, 2, 22.

[2019-07-10 07:32] cbrnr commented on #6539
The problem is that data of two subjects have a sample rate of 128Hz, whereas all other data sets have a sample rate of 160Hz. Here's a minimal working example to reproduce:

[code]

The last line fails because of different sampling rates. You can inspect the contents of `fs` to see which data sets have a different sampling rate (262, 263, 264, 274, 275, 276, 298, 299, 300 corresponding to dataset

[2019-07-10 09:39] makkostya opened #6547 "Get more outputs from rap_music"
`rap_music` function currently returns list of dipole objects and residuals. Dipole object only contains the information about dipole position and orientation in euclidean coords.  It's not however  possible to know to which source from the source space this dipole corresponds, its hemisphere and what is its leadfield.

It would be useful to have a possibility to get the source index and correspon

[2019-07-10 09:45] makkostya commented on #6547
Another possibility is to return stc object instead of dipoles if needed

[2019-07-10 11:34] larsoner commented on #6547
+1 for return_type='dipoles' (default) or 'stc'

[2019-07-10 12:51] agramfort commented on #6539
cals have nothing to do with sample freq. But it suggests the files have
been acquired with different parameters

[2019-07-10 13:23] agramfort commented on #6547
+1

[2019-07-10 13:31] makkostya commented on #6547
Ok, I'll try to do it.

[2019-07-10 13:48] agramfort commented on #6547
great thanks !

[2019-07-10 13:54] massich commented on #6535
@LM-thinking thx for sharing the file, #6537 seems to be working.

[2019-07-10 14:05] #6329 closed

[2019-07-10 14:43] #6538 closed

[2019-07-10 14:43] massich commented on #6461
now that montage is deprecated, the idea is that `raw.set_montage` only takes Digitization and that as a middle step montages and digmontages had to be transformed to Digitizations, am I right? @agramfort, @larsoner

[2019-07-10 15:07] larsoner commented on #6461
Yeah I think so.

[2019-07-10 16:19] #6535 closed

[2019-07-10 16:22] agramfort commented on #6461
question is should we still call it set_montage or we introduce a new
method set_digitization?
just thinking out loud...

[2019-07-10 18:35] larsoner opened #6552 "ENH: Warn if distances are bad"
After excluding outliers, we should warn somewhere if people's coregistration is bad. Candidate automatic computation places:

1. `plot_alignment`
2. `make_forward_solution`
3. `mne.Report`

Bad criteria could be > 5 mm (?) for either:

1. median distance
2. "trimmed mean" distance, where instead of trimming upper and lower, we just trim upper (25%? 50%?)

This can be a thin wrapper around the fun

[2019-07-10 20:04] #5916 closed

[2019-07-11 08:28] massich commented on #6461
`set_montage` sounds fine to me

[2019-07-11 09:00] #6502 closed

[2019-07-11 10:22] massich commented on #6461
There are at least two ways of getting the digitization information from a fif file:

https://github.com/mne-tools/mne-python/blob/897c3b2d12d0562f888784c5e18c2da31ed27ceb/mne/io/meas_info.py#L891

https://github.com/mne-tools/mne-python/blob/897c3b2d12d0562f888784c5e18c2da31ed27ceb/mne/channels/montage.py#L637

[2019-07-11 11:20] agramfort commented on #6461
not really as the anything is done after _read_dig_fif(fid, tree) is
just to make a DigMontage from a dig (get numpy arrays and a few attributes)

[2019-07-11 14:32] Mehrabkhazraei opened #6556 "EEG header file"
Hello every one,
I have an EEG data recorded by myself. now i checked mne can read header file of type vhdr(vmrk), but i have V-amp file with extension of ahdr(amrk). do anyone know how can i convert it or how can i read these type of files??
for your convenience you can check them by the link below.
https://drive.google.com/drive/folders/1eRnBBU6Ne0Ahl8I7z6k9tHCIl0AxQ0T1?usp=sharing

[2019-07-11 14:43] sappelhoff commented on #6556
Hi @Mehrabkhazraei this is a good question for the Brain Products customer support. I have had a good experience with them in the past. Just write them an email to: support@brainproducts.com and explain your problem.

And don't forget to post the solution here once you have obtained it! :-)

[2019-07-11 14:55] Mehrabkhazraei commented on #6556
Hi, @sappelhoff . what you mean by good experience?? did you find any solution for this? :-)

[2019-07-11 14:55] sappelhoff opened #6557 "Issue with unknown unit (114 (FIFF_UNIT_CEL))"
While playing with mne-bids in https://github.com/mne-tools/mne-bids/pull/219 I wanted to (re)set some channel names and stumbled over a potential bug with a BrainVision test file shipped with MNE and The FIFF unit "CEL":

https://github.com/mne-tools/mne-python/blob/b9b2c6884dc663ef42338bdccc9e7838820b29b3/mne/io/constants.py#L758

# How to reproduce
[code]

# Error message

# Fix:

add `FIFF.FIF

[2019-07-11 14:58] sappelhoff commented on #6556
No but I have had questions similar to yours. These questions were either ...

- about Brain Products equipment
- Brain Products software
- ... and sometimes even unrelated to a Brain Products product

They usually answer within one to two days. Given your question, there is a high likelihood that they will solve your problem.

[2019-07-11 16:03] larsoner opened #6559 "BUG: Example taking too much memory"
@drammock CircleCI keeps spuriously failing here:

https://circleci.com/gh/mne-tools/mne-python/14240

That example probably uses too much memory, can you check?

[2019-07-11 17:01] drammock commented on #6559
Yep, I noticed that last night. It's first on my TODO list today.

On July 11, 2019 8:03:49 AM AKDT, Eric Larson <notifications@github.com> wrote:

[2019-07-11 17:48] #6557 closed

[2019-07-11 18:24] drammock commented on #6556
I agree with @sappelhoff that emailing brain products is the right step to take first. But FYI, the google drive link you posted is for an empty folder, so we can't examine or test your files anyway.

[2019-07-11 20:21] #6559 closed

[2019-07-11 21:34] drammock commented on #6500
this was fixed in #6506

[2019-07-11 21:34] #6500 closed

[2019-07-11 22:33] drammock opened #6562 "RFC: suppress filter params output in some cases?"
The new output summarizing filter params (added in #6294) is really cool, but `create_ecg_epochs` and `create_eog_epochs` each involve two filtering steps, and the filter params are not fully under user control, so the output is maybe less necessary in those cases. I wonder if it makes sense to have a way to suppress the `filter_data` messages without fully disabling all `create_ecg_epochs` messag

[2019-07-11 23:12] larsoner commented on #6562
Or just always pass verbose=False in the find_ecg_events call. Users probably don't need to know the characteristics used to filter just for the purposes of finding the events. And if they want this information they can make a separate call to find_ecg_events

[2019-07-11 23:13] larsoner commented on #6562
(the parameters that are used to filter the raw data before epoching the data should arguably always be with the rest of the logging messages, because they reflect the filtering characteristics of the Epochs you get back)

[2019-07-11 23:31] drammock commented on #6562
Not sure I fully understand your second comment @larsoner...  I thought you were saying

but then you said the parameters should arguably *always* be there?

[2019-07-11 23:37] larsoner commented on #6562
When filtering the ecg signal no output, when filtering the raw data to epoch, yes output

[2019-07-11 23:45] drammock commented on #6562
OK, agreed.

[2019-07-11 23:50] larsoner commented on #6562
So I think the only change you should need to make is passing verbose=False to the find_ecg_events call the occurs within create_ecg_epochs

[2019-07-12 00:26] drammock commented on #6562
yup.  I'll wait half a day to let others weigh in before implementing.

[2019-07-12 05:54] agramfort commented on #6562
Ok for me

[2019-07-12 16:04] massich commented on #6500
@drammock link is broken are you referring to #5944 ?

[2019-07-12 17:11] drammock commented on #6500
oops, that branch was merged and deleted.  Here are the corresponding lines in master:
https://github.com/mne-tools/mne-python/blob/master/mne/viz/tests/test_evoked.py#L227-L230

[2019-07-12 20:19] #6562 closed

[2019-07-12 22:22] GuillaumeFavelier opened #6566 "VIZ, BUG: test_plot_alignment timeout"
As noticed by @drammock , the `test_plot_alignment()` in `mne/viz/tests/test_3d.py` seems to [timout after 120 seconds](https://travis-ci.org/mne-tools/mne-python/jobs/558019119#L3570) (limit fixed currently) on Mac. Without confirmation if it's spurious or not, I [experienced it myself](https://github.com/mne-tools/mne-python/pull/6551) and it would be annoying to break Travis systematically. So

[2019-07-12 22:45] larsoner commented on #6566
Slow test is my vote. 2 minutes is a long time

[2019-07-13 13:07] agramfort commented on #6566
agreed. +1 for slow test

[2019-07-14 14:40] #6566 closed

[2019-07-15 03:13] neurofractal opened #6568 "Add KIT 125-Channel system"
Pull request incoming to add the KIT 125-Channel system from the MQ MEG Lab

[2019-07-15 16:47] #6568 closed

[2019-07-16 02:41] drammock opened #6576 "BUG: pyvista deprecation warnings on current master"
In #6575 I'm getting CI failures due to DeprecationWarnings related to PyVista, even after a rebase to current master and a force-push.
cc @GuillaumeFavelier

[2019-07-16 11:25] #6576 closed

[2019-07-16 18:45] drammock opened #6579 "BUG: epochs.plot_drop_log() wrong behavior"
`epochs.plot_drop_log()` returns a figure saying "no drops" in cases where percentage of drops is lower than `threshold` parameter. There are two problems with this:

1. it is inaccurate (there were drops)
2. it is wrong behavior (according to the docs, `threshold` > percent dropped is supposed to *suppress* the figure, but it still gets generated / returned)

`epochs.plot_drop_log()`

![drop_log_

[2019-07-16 18:46] drammock commented on #6579
while I'm at it, I'll center the bars over the ticks, and make the bars slightly darker so they're more visible on low-brightness laptop screens (unless someone objects)

[2019-07-17 09:05] agramfort commented on #6579
+100

[2019-07-17 12:51] kcsaba12 opened #6581 "BUG: events_form_annotation does not work with brainvision files"
def find_events(filename):
    # raw = mne.io.read_raw_edf(filename, preload=True)
    raw = mne.io.read_raw_brainvision(filename, preload=True)
    raw.rename_channels(lambda x: x.strip('.'))
    events, _ = mne.events_from_annotations(raw, event_id=dict(T0=1, T1=2, T2=3))
    print(events)

With the given function I would like to read the events of a brainvision file.
I got the following error m

[2019-07-17 13:08] larsoner commented on #6581
It looks like your `event_id` above:
[code]
Is not correct for this data, but should look more like:
[code]

[2019-07-17 13:31] larsoner commented on #6579
Sounds good

[2019-07-17 13:52] kcsaba12 commented on #6581
Thanks!! now I get it.
I think the updated web description confused me:
https://mne-tools.github.io/stable/auto_examples/decoding/plot_decoding_csp_eeg.html#sphx-glr-auto-examples-decoding-plot-decoding-csp-eeg-py

I tired to compare
events = find_events(raw, shortest_event=0, stim_channel='STI 014')    - 0.17.2 description
with
events, _ = events_from_annotations(raw, event_id=dict(T1=2, T2=3))

[2019-07-17 13:55] #6581 closed

[2019-07-17 15:08] agramfort commented on #6581
it's basically the same meaning for event_id except that we use
dict(hands=2, feet=3) instead of dict(T1=2, T2=3) to explicit what T1 and
T2 correspond to

[2019-07-18 06:32] #6579 closed

[2019-07-18 11:57] bdyetton opened #6583 "ValueError: Channel XXX has no associated original unit when channel names trucated"
### Describe the bug
When channels names in an EDF are long, they are truncated.
When there are two channels that are truncated to the same name, then they get appended with 0, 1, 2 etc
Because of this appended number, the channel is no longer in the orig_units_trunc, and the Value error is thrown.

#### Steps and/or code to reproduce
[code]

..\..\..\Anaconda3\lib\site-packages\mne\io\base.py:407

[2019-07-18 12:30] agramfort commented on #6583
hum... can you share a file so we can replicate?

[2019-07-18 14:33] bdyetton commented on #6583
Yup, here is a shortened version:

[MASS_SS1_subjectid1_001.zip](https://github.com/mne-tools/mne-python/files/3406993/MASS_SS1_subjectid1_001.zip)

[2019-07-18 15:24] bdyetton commented on #4489
This issue can be closed if you like.

[2019-07-18 15:52] bdyetton opened #6584 "EEG Units not converted to Volts"
#### Describe the bug
Hi MNE team,
I'm still quite sure what is going on, but i believe that the EEG channels in the attached EDF are not being correctly translated to volts.
I've opened the file in a number of programs, and the values are different in each.

#### Steps and/or code to reproduce
the file:
[unit_testing.zip](https://github.com/mne-tools/mne-python/files/3407335/unit_testing.zip)

[c

[2019-07-18 19:55] agramfort commented on #6584
file has a problem:

ipdb> orig_units

{'C3': 'mV', 'C4': 'mV', 'M1': 'mV', 'M2': 'mV', 'LOC': 'mV', 'ROC': 'mV',
'ECG2': 'uV', 'ECG1': 'uV', 'EMG 1': 'uV', 'EMG 2': 'uV', 'EMG 3': 'uV', 'L
Leg': 'mV', 'R Leg': 'mV', 'AIRFLOW': 'mV', 'THOR EFFORT': 'mV', 'ABDO
EFFORT': 'mV', 'SNORE': 'mV', 'SUM': 'mV', 'POSITION': '', 'OX STATUS': '',
'PULSE': 'BPM', 'SpO2': '%', 'NASAL PRES': 'V', 'PlethWV': 'V',

[2019-07-18 19:59] agramfort commented on #4489
does it work with the new

`mne.read_annotations`

?

[2019-07-18 20:20] agramfort commented on #6583
see https://github.com/mne-tools/mne-python/pull/6586

[2019-07-18 20:45] bdyetton commented on #6584
Hi,
I got it from the NSRR: https://sleepdata.org/, specifically from the Cleaveland Family Study.
Sorry, but what's the issue in the ```orig_unit```s here? the mixed voltage types?

Thanks, I'll hack if necessary, but I'd rather fix the file if possible?
I guess i could hack it in MNE and then resave as EDF.

[2019-07-18 20:56] bdyetton commented on #6583
Works beautifully, cheers :)

[2019-07-18 20:56] #6583 closed

[2019-07-18 21:09] bdyetton commented on #4489
Yep, works well, thanks.

[2019-07-19 08:18] agramfort commented on #6584
as you see it says from edf header than units are mV and not uV for the EEG
channels

so I suspect header is wrong

[2019-07-19 14:23] levchenkoegor opened #6587 "Can't read EDF file: AssertionError"
Hi,

I am trying to open raw EEG file in EDF format.

`import mne`
`data = mne.io.read_raw_edf(r"C:\Users\CDM\Documents\elevchenko\Sync_EEG_NT\example.edf")`

But the next error occurs:

`AssertionError:`

I am attaching this file.
[example.zip](https://github.com/mne-tools/mne-python/files/3411400/example.zip)

I am using '0.18.2' version of MNE.

I don't understand where the problem is, but I gu

[2019-07-20 01:24] drammock opened #6588 "DOC: more ICA doc improvements"
I'm working on merging the two ICA tutorials into one. Here they are: [one](https://mne-tools.github.io/dev/auto_tutorials/preprocessing/plot_40_artifact_correction_ica.html) [two](https://mne-tools.github.io/dev/auto_tutorials/preprocessing/plot_45_ica_from_raw.html).  I want to expand the narrative a lot, explaining how ICA in MNE-Python works and how the user chooses the right parameter setting

[2019-07-20 07:36] sappelhoff commented on #6588
Great that you are taking this on @drammock! I think it is a very good idea to combine and expand the two tutorials.

re: approving your summary of the arguments to ICA, I'll let the more experienced folks to the job, because I am still confused about some of them :-) it will be very worthwhile to improve the docstrings.

I'll be happy to review the PR and contribute to your questions 2 and 3 as w

[2019-07-20 11:53] larsoner commented on #6588
@sappelhoff in that case, a different question -- do you find the description above understandable? @drammock could be put it in the `ICA` notes section (alongside a few param description updates probably) in a quick PR.

[2019-07-20 13:23] sappelhoff commented on #6588
Yes, I find the descriptions good. Let me list the points that are still unclear to me and that might find a good place in the tutorials and/or docstrings:

I am organizing my questions according to the input arguments to [`mne.preprocessing.ICA`](https://mne-tools.github.io/dev/generated/mne.preprocessing.ICA.html#mne.preprocessing.ICA).

It has been some time, so it could be that some of these q

[2019-07-21 14:21] bdyetton commented on #6584
Hmm, ok but the abs values read by other programs are correct:
[code]
which prints:
[code]
Both wonambi and pyedflib do no convertion (i.e. preseving units as mV).
How can these be the same values when MNE does a conversion to volts? It seems to me that mne is not doing the conversion.

[2019-07-22 06:40] agramfort commented on #6584
see https://github.com/mne-tools/mne-python/pull/6589

indeed you were right. It was broken.

[2019-07-22 06:42] agramfort commented on #6587
this file is likely to be corrupted. Neither MNE nor pyedflib
https://pyedflib.readthedocs.io/en/latest/ can read it.

[2019-07-22 10:53] bdyetton commented on #6584
Awesome, working now, thanks :)
[code]

[2019-07-22 10:53] #6584 closed

[2019-07-22 13:49] #4489 closed

[2019-07-22 13:54] massich commented on #5488
closed via #6272

[2019-07-22 13:54] #5488 closed

[2019-07-22 15:30] levchenkoegor commented on #6587
That's strange because I have 6 different files and I can open them via BrainStorm in Matlab. I'll ask my colleagues for the other file, but I am not sure that all of the files can be corrupted.

[2019-07-22 19:53] drammock commented on #6588
@sappelhoff thanks for the notes about what is not clear. here are some quick answers:

- Section 5 of [this PDF](https://www.cs.helsinki.fi/u/ahyvarin/papers/NN00new.pdf) gives a short and fairly clear explanation of why centering and whitening is almost always done prior to ICA.
- You create your own `noise_cov` using `mne.compute_covariance` on a relevant part of your data (i.e., not the evoked

[2019-07-23 02:29] drammock opened #6592 "BUG? ICA.plot_sources has side effects"
running `ica.plot_sources(raw, exclude=[2, 3])` will append indices 2 and 3 to `ica.exclude`.  This seems to be a result of the "click the trace to mark for exclusion" functionality.  It is quite surprising for this to happen when passing the `exclude` parameter and simply viewing the plot non-interactively.  This never comes up with `raw.plot()` because `raw.plot()` doesn't have a `bads` paramete

[2019-07-23 02:32] drammock commented on #6592
[code]

[2019-07-23 02:37] XiaTaopsycho commented on #3609
ANT recording system(eego) could export edf, .eeg(brainvision) or .cnt(neuroscan).

[2019-07-23 03:59] larsoner commented on #6592
I'd prefer option 1. Users can easily append to exclude then plot

[2019-07-23 05:36] agramfort commented on #6588
to complement these great answers:

- if you have max_pca_components > n_components you remove much less
dimensions in your data. You can certainly
get the EOG + ECG components with PCA+ICA using n_components < 30 but if
you can avoid working then with less
than 30 dimensions it's much better.

- regarding decim you can actually go below nyqvist but you need to try on
your data.

[2019-07-23 05:49] agramfort commented on #6584
thanks for the clear bug report !

[2019-07-23 05:53] agramfort commented on #6592
+1 to simply remove the exclude param in ica.plot_sources

maybe @cbrnr has an opinion?

[2019-07-23 05:58] agramfort commented on #6587
I also get an error using EEGLAB reader based on biosig. Dimension
mismatch + a bunch of warnings.

[2019-07-23 15:38] levchenkoegor commented on #6587
Yes, but without importing EDF anotations EEGLAB is loading it properly.

I asked colleagues to upload files again, but the same error is. They mentioned that they used this EEG amplifier:
https://www.advancedbrainmonitoring.com/xseries/x24/

[2019-07-23 18:37] sappelhoff commented on #6556
Any news on this @Mehrabkhazraei ?

[2019-07-24 07:17] agramfort commented on #6587
what do the annotations contain?

[2019-07-24 08:13] sappelhoff opened #6597 "`mne make_scalp_surfaces` : Surface outer skin has topological defects"
Unfortunately, I get errors when trying to run `mne make_scalp_surfaces`, see below:

# Versions
- mne-python master at `d75bce15717ee4cbf2abbdb5c6e5148959000a91` (23rd of July 2019)
- freesurfer `freesurfer-Linux-centos6_x86_64-stable-pub-v6.0.0-2beb96c`

# output of `mne.sys_info()`
[code]
:smile:

I run this on a Linux server via ssh ... but I also get this issue on my own linux machine (Ubuntu

[2019-07-24 10:04] Mehrabkhazraei commented on #6556
Hello Estefan,

As I understood there is no way to convert V-amp(yet). But you can process your data using matlab more easily. If you need any help don’t be hesitate to contact me.

From: Stefan Appelhoff <notifications@github.com>
Sent: Tuesday, July 23, 2019 7:38 PM
To: mne-tools/mne-python <mne-python@noreply.github.com>
Cc: Mehrabkhazraei <mehrabkhazraei@gmail.com>; Mention <mention@noreply.gi

[2019-07-24 10:08] sappelhoff commented on #6556
Sorry to hear that @Mehrabkhazraei ... thanks for the update and let us know if you want to write a conversion tool yourself

[2019-07-24 10:08] #6556 closed

[2019-07-24 11:12] larsoner commented on #6597
Use `--force`.

We can improve the error message to suggest this as an option if we want.

[2019-07-24 12:00] sappelhoff commented on #6597
Thanks @larsoner that helped. I submitted a PR to improve the error message

[2019-07-24 16:19] papadop opened #6601 "GDF events (again!)"
#### Describe the bug
mne-python (0.18.1)
The new _get_annotations_gdf function collapses all the events not found in the global GDF_EVENTS_LUT to the description 'Unknown'. This is done at read_raw_gdf, so all the options in events_from_annotations are useless.
There is thus no way to recover and distinguish among those 'Unknown' events.

#### Steps and/or code to reproduce
import mne
signal = mn

[2019-07-24 16:23] papadop commented on #6601
This simple patch is a stop gap, it keeps the event id in the descriptions and put the LUT as a static variable of RawGDF to allow the user to manipulate the table before reading a file...
As depicted above, I do not think this is a reliable solution in the long term...

mururoa-> git diff --cached origin/master
diff --git a/mne/io/edf/edf.py b/mne/io/edf/edf.py
index 6061cc817..aee293f75 100644
-

[2019-07-24 16:29] papadop commented on #6601
And here is a datafile.
[data.zip](https://github.com/mne-tools/mne-python/files/3427830/data.zip)

[2019-07-24 16:34] agramfort commented on #6601
Can you send us a PR so we can review the diff more easily? Thanks

[2019-07-24 17:25] papadop commented on #6601
Sure. I will do it in a second. But again, I think this is just a temporary fix...

[2019-07-25 05:29] #6597 closed

[2019-07-25 18:10] #6592 closed

[2019-07-25 22:50] jasmainak opened #6605 "montage / digmontage / transforms documentation"
I was trying to understand how all the transforms work with @teonbrooks . I don't have time to write a full-fledged documentation but I'll jot down the main points -- it could form the skeleton of a tutorial or added to an existing one.

- You have 3 coordinate systems: device, head, and MRI
- The kinds of points you are considering are: hpi (in device space; also called elp when it's in digitizer

[2019-07-26 05:52] #6268 closed

[2019-07-26 13:20] teonbrooks commented on #6605
nicely done. i'm a great teacher 😂

[2019-07-27 00:48] jhouck opened #6607 "ENH: Measure head motion from cHPI"
It might be helpful to know how much head motion there was in a scan when cHPI was used, either for QA/reporting or to help decide whether to use movement compensation in maxfilter/maxwell_filter.

If we do something like what happens for fMRI, the steps would be (roughly) to 1) use chpi.read_head_pos or chpi._calculate_head positions to get the quaternions, 2) convert the translations to mm (as i

[2019-07-27 00:55] larsoner commented on #6607
One thing I don't understand is what you mean by "rotations to radians to degrees". Rotations occur about an axis, or you can say there is some rotation angle between two rigid affines (/ quaternions). So is the idea that you would just compute the angle between veridical "up" / RAS on every time point? The problem is that this does not distinguish the angle of rotation between two positions -- yo

[2019-07-27 17:51] jhouck commented on #6607
I thought the Euler angles had a known orientation.  "Rotations to radians to degrees" means I used `head_pos_to_trans_rot_t` to get the translation and rotation, then converted the rotation matrix to Euler angles, then converted the Euler angles from radians to degrees, before doing the diff on the combined translation (mm) and rotation (degrees that we pretend are mm) array.

Similar steps could

[2019-07-29 05:34] alamkanak opened #6610 "Allow opening EEGLAB .set files without any events"
It is obvious that when you have an epoched `.set` file exported from eeglab with no events in it, mne fails to load it with `read_epochs_eeglab` or `read_raw_eeglab`. When trying to open with `read_epochs_eeglab`, it throws the error:

I also tried to open it by setting `events` parameter to empty array and `None` but it still failed. And when trying to open with `read_raw_eeglab`, it throws the

[2019-07-29 05:39] agramfort commented on #6610
Can you share a file so we can test?

[2019-07-29 05:53] alamkanak commented on #6610
@agramfort Sure thing. Here is one file. https://drive.google.com/open?id=1hhc5VC90M4cDs8vQhWf43KhdGI4bubFx

[2019-07-29 06:52] agramfort commented on #6610
this file is broken:

ipdb> eeg.data
'clean-prestimulus.fdt'

I don't have this file.

make sure you use eeglab save routines to save your files.

[2019-07-29 10:16] mmagnuski commented on #6610
@agramfort Eeglab reader should work in this case too, I think (it would work in eeglab from what I remember). The easiest is if you rename both files so that `eeg.data` matches the name of the fdt file.

@alamkanak Which mne-python version are you using? There have been problems with no events some time ago but they were fixed. Can you reproduce the problem with mne-python master branch? Could yo

[2019-07-29 12:37] mmagnuski commented on #6610
Ok, I looked at the files. The reading fails on master due to the fact that this is an epochs file without events. Also the `EEG.epoch` field is empty. This is very uncommon, @alamkanak how did you obtain those files?

[2019-07-29 13:18] alamkanak commented on #6610
@mmagnuski Thank you for looking into it. To obtain that file, I epoched the EEG from -1000ms to -100ms in eeglab. So the eeg signals end 100ms before the events. This is because I am only interested in that part of the signals. I had to crop that in eeglab due to a standard pipeline and I must not do that later with mne.

[2019-07-29 14:30] mmagnuski commented on #6610
@alamkanak Thanks, which eeglab version were you using then? I am just wondering if eeglab always drops information about epoching events if they are outside of epoch's range (even in `EEG.epoch`). Maybe you know @jona-sassenhagen?
The problem with such epochs behavior is that because you no longer have any information about the events that were used in epoching you wouldn't be able to compare con

[2019-07-29 20:35] Mehrabkhazraei opened #6613 "New version of brain vision data"
This is the second time i am opening an issue with this title.
i have recorded some EEG data with brain vision product. the problem is in new versions the header file is not exchange data. instead they are V-amp data and the extension is ahdr.(for your convenience i have shared data on the following). Also the marker file has extension of amrk. when i wanted to read these data by the mne.
i would

[2019-07-29 21:57] teonbrooks commented on #6613
hi @Mehrabkhazraei, ok, I just read the previous issue and have better context for the problem at hand. do you know if Brain Product provides the data specification for the new header and marker file. I don't know what the differences are between the two versions so we're unable to assist without this information. Could you ask them if they have any plans to release these specifications like they

[2019-07-30 00:58] levchenkoegor commented on #6587
Sorry for the delay. I tried to understand does annotations have something specific, but I think it leads the basic protocol for EDF files:
"The annotation channel contains an ASCII encoded representation of the time in seconds that certain events happened"

[2019-07-30 07:17] agramfort commented on #6587
sorry but i have no idea how to help. See if you can read it with any open source package and look what we do differently.

[2019-07-30 11:09] jshanna100 opened #6615 "ICA.plot_sources(epoch) scaling (?) is wrong"
The plot_sources method for ICA only produces a wall of blue when the Inst is an Epoch. This occurs even with a fresh conda environment with the stable .18 version. I assume this is a scaling issue, but trying to manually scale it down hasn't gotten me anywhere.

You should be able to reproduce this as follows:
[code]

[2019-07-30 11:23] agramfort commented on #6615
I confirm the bug. Can someone have a look?

[2019-07-30 14:28] milan-rybar opened #6616 "Q: default value of baseline in Epochs"
What is the motivation for the default value of `baseline=(None, 0)` in `Epochs` constructor? This subtracts the value of the first time point in each epoch.

I can imagine mainly for visualization purposes. However, this can be quite problematic for analysis if one doesn't know about this default behaviour. This was my case. I assumed it uses "raw" data and my whole analysis is based on it, which

[2019-07-30 14:43] larsoner commented on #6615
Probably an auto-scaling problem. I can take a look

[2019-07-30 14:51] agramfort commented on #6616
put baseline=None then

baseline defaults to (None, 0) as if tmin is negative in ERP/ERF study
is subtracts the mean during baseline

[2019-07-30 14:55] larsoner commented on #6616
The `tmin=0` case is common enough that it might warrant a warning. People will probably never actually want a one-sample baseline like this. And if they do we can in the warning tell them to use `baseline=(0., 0.)` to avoid the warning.

[2019-07-30 15:01] agramfort commented on #6616
shall we raise an error with tmin=0 and baseline=(None, 0) ?

[2019-07-30 15:04] larsoner commented on #6616
Sure, that's probably even better than a warning. @milan-rybar do you want to try a PR for this?

[2019-07-30 15:23] larsoner commented on #6607
Ahh yes Euler angles would work. There is a problem with degeneracy/gimbal lock but in practice I doubt it matters.

What you get from `read_head_pos` is time (:1), quaternions (1:4), translation (4:7), ..., so you actually have fewer operations/conversions if stick with quaternions and `_angle_between_quats` rather than convert quat->affine->euler then take a diff. Plus that's three diffs along t

[2019-07-30 16:37] milan-rybar commented on #6616
I don't think about MNE as a tool primary for ERP/ERF study. Thus, I believe default values shouldn't be based on one particular case of all possible analysis. It would make more sense to remove default values for `tmin`, `tmax`, and set `baseline=None`. This way, the user is directly forced to provide desired values and it doesn't do anything unexpected in the background.

I agree with rasing an

[2019-07-30 17:10] agramfort commented on #6616
problem is backward compatibility. I would break a lot of code if we change
this so the deprecation cost is to be considered.

[2019-07-31 11:50] jshanna100 opened #6618 "tight_layout vertically compresses PSD plots"
The extension of spatial colors from Raw to Epochs in #6451 has revealed a bug with the use of tight_layout.

https://github.com/mne-tools/mne-python/blob/cc836c2635b7a720ec6c60074a1997fe52d7ca2f/mne/viz/utils.py#L3064-L3066

Tight layout often (but not always!) vertically compresses the PSD plots when spatial_colors are used with Epochs. I thought at first this had something to do with the change

[2019-07-31 12:02] agramfort commented on #6618
please share a tiny script to replicate and share a picture of what looks
wrong. thx

[2019-07-31 13:14] jshanna100 commented on #6618
For some reason, I cannot replicate the bug with the sample data, but here are some pictures of some Raw data from our lab, with a Magnes 3600 248 magnetometer system.

First, normal:
`raw.plot_psd()`
![Figure_1](https://user-images.githubusercontent.com/22842307/62213351-ffd90f80-b3a2-11e9-9343-bac353cc4842.png)
Now, compressed.
`raw.plot_psd(n_fft=50)`
![Figure_3](https://user-images.githubuserc

[2019-07-31 13:16] jshanna100 commented on #6618
In any case, removing tight_layout fixes all these problems, though I don't know whether that breaks something somewhere else.

[2019-07-31 14:24] larsoner commented on #6618
`tight_layout` problems are usually indicative that something wrong is being done in the plot. Or possible there is some `mpl` bug. I don't want to get rid of it because in general it makes things cleaner.

Can you see if `subplots_adjust` works better for your data and still works for `sample`?

[2019-07-31 19:27] justinf2 opened #6619 "[Feature request]: add to_data_frame() function to EpochsTFR"
I would be great to be able to generate a pandas data frame from a EpochsTFR object like one can from an Epochs object, but with an extra index value for the frequencies.

[2019-08-01 08:24] agramfort commented on #6619
can you share a code snippet that would do this or even send a PR? how
would indexing work as data are naturally 3d?

[2019-08-01 09:33] jshanna100 commented on #6618
It looks good on my data, but with multiple channel type psd display for the sample data the subplot titles overlap onto the x-axis labels of the image above them, unless you increase the size of the figure.

[2019-08-01 11:50] #6615 closed

[2019-08-01 16:28] larsoner commented on #6618
`subplots_adjust` has some parameters you can probably tweak to get both to look good. Did you try? Probably `hspace` is what you'd need here

[2019-08-01 17:57] jshanna100 commented on #6618
I did try several values between 0.1 and 0.4 and didn't have any luck, but I'll experiment a bit more with it tomorrow.

[2019-08-01 19:01] justinf2 commented on #6619
Sure. Let me take a look at implementing something and get back to you. Perhaps I am completely thinking about this in the wrong manner. Thanks for the quick response!

[2019-08-01 20:02] #3543 closed

[2019-08-02 09:04] jshanna100 commented on #6618
hspace=0.5 appears to do it.

[2019-08-02 11:38] sappelhoff opened #6621 "[BUG] set_annotations fails for data with a meas_date prior to 1970"
Try reading this [example_file](https://drive.google.com/file/d/1vZCW3wUQ_0gemac_NFO9LtYVlG70rt-R/view?usp=sharing) (800MB) and check out `raw.info['meas_date']` --> it will be negative.

That's because the data has been anonymized (cc @agramfort ) to some time prior 1970.

That's an issue, because we represent `raw.info['meas_date']` in unix time, which is 0 at 1970, and thus negative for all pri

[2019-08-02 11:50] larsoner commented on #6618
+1 for PR to change it. In your PR, can you make some minor change to an example that uses `raw.plot_psd` (and/or `epochs.plot_psd`)? It will cause CircleCI to render it for us so we can easily see the output

[2019-08-02 12:04] #6601 closed

[2019-08-02 13:00] agramfort commented on #6621
If there is no limitations with fif files to have negative time stamps we should handle these files smoothly

[2019-08-02 13:26] larsoner commented on #6621
Yes this seems like a bug in our Annotations handling somewhere. @massich can you look?

It should not matter what `meas_date` relative to 1970 is (negative or positive)

[2019-08-02 13:28] massich commented on #6621
yes I was just looking at it

[2019-08-02 15:00] #6518 closed

[2019-08-02 21:07] max-drake opened #6626 "Q: Using plot_decoding_csp_eeg.py with .edf data recorded from OpenViBE"
Hello! Apologies if this is covered somewhere else, but I haven't been able to find a solution online. I've done what I thought makes sense, but my classifier accuracy still hovers around 50%, so I wonder if my code is incorrect, or I just need more training data

Essentially, I want to train a classifier to differentiate left and right hand motor imagery using "plot_decoding_csp_eeg.py" as a temp

[2019-08-03 09:32] agramfort commented on #6626
it's hard to tell without look at the data and testing ourself. Please
avoid using the issue tracker
for usage question. Use gitter or the regular mailing list.

[2019-08-03 11:56] massich opened #6627 "Unable to run python 3.5 environment locally"
I was trying to run the tests for py3.5 env in Travis (`numpy=1.11 scipy=0.17 matplotlib=1.5 pandas=0.18 scikit-learn=0.18 pytest pytest-cov pytest-mock pytest-timeout`) and I can't run the testsuit.

Apparently, it broke in #6603. But that's not the case in Travis. I was not able to figure out what was it.

[code]

I'm using `scipy-0.17.1` which is the requirement.

Any ideas?

cc: @larsoner

[2019-08-05 07:21] cbrnr commented on #6588
Thanks @drammock for trying to clarify this topic! This is very much needed indeed. On a quick skim, your description is correct.

Regarding what else should go into the tutorial, many questions @sappelhoff brought up pertain to why specific things are the way they are in MNE. I think it is important to include such practical explanations in the tutorial. For example, what if I don't want to do PC

[2019-08-05 07:54] massich commented on #6621
What was the logic behind `DATE_NONE` and anonymization?

I understand that is a convention to move the date to 1930 or so for anonymization purposes. But do people usually keep the rest of the information i.e: imagine that I have one record every month/year for a particular subject. Do they only offset to 1/1/1930 and keep all the recordings with respect to that date or do we fold all recordings

[2019-08-05 08:00] sappelhoff commented on #6621
@massich see: https://github.com/mne-tools/mne-bids/issues/193#issue-436776387

I don't know about how anonymization is currently handled in MNE, but I think the way we SHOULD handle this is to allow for an anonymization by a certain offset in days ... this would then be applied to all data recordings of a subject, so that the relative time distances keep their logic.

the `anonymization_offset_da

[2019-08-05 10:06] cbrnr commented on #6587
I checked this file with [EDFbrowser](https://www.teuniz.net/edfbrowser/), [pyedflib](https://pyedflib.readthedocs.io/en/latest/), and [BioSig](http://biosig.sourceforge.net/), and it really looks like this is not a valid EDF file. The header seems to contain invalid information, such as the 30th character of the PID field is not a valid ASCII character and the number of bytes in the header do not

[2019-08-05 11:38] #6618 closed

[2019-08-05 13:19] agramfort commented on #6621
yes we need to have such anonymization routines in mne-python

the reason why you cannot set the date to None is that you want to
keep the order between
datasets eg for longitdinal studies etc. So yes we should use random
day offsets and make
sure the dates can be before 1970. The latest mne-c command does this
with .fif files

[2019-08-05 13:33] agramfort commented on #6588
what would you do here? I don't think that no dimensionality reduction
is a requirement here. WDYT?

[2019-08-05 14:09] cbrnr commented on #6588
It's not a requirement, but I'd compute all ICs without dim reduction by default because most ICA algorithms (especiall PICARD) are fast enough that this is not necessary.

[2019-08-05 16:26] #6621 closed

[2019-08-05 16:32] massich commented on #6482
I'm trying to create a multi-file version of this phantom file:
[code]

I thought I would be able to do so with fieldtrip or brainstorm, they both read CTF files but I don't think they can write such a split file.

[2019-08-05 22:32] drammock commented on #6588
@cbrnr Here's the latest rendering:

https://14566-1301584-gh.circle-artifacts.com/0/dev/auto_tutorials/preprocessing/plot_40_artifact_correction_ica.html

Is the sidebar just above the diagram good enough?  I hesitate to add too many specific "case studies" since the tutorial is very long already.  If you think this isn't enough, maybe we could add a shorter EEG-specific walkthrough as a separate

[2019-08-06 01:08] jhouck commented on #6607
Offhand, the only advantages of keeping the terms separate might be 1) it would make it easier to use the existing plotting code and 2) it gives us similar motion output to fMRI packages.  The importance of either of these is unclear.

I'll be back in the office on Wednesday and can take another stab at it then.

[2019-08-06 06:45] cbrnr commented on #6588
@drammock the sidebar is perfect!

[2019-08-06 07:23] massich commented on #6482
@jasmainak suggested using newDS. Does anyone know how to install it or where is the repo and the doc?

cc:@hyperbolicTom

[2019-08-06 11:31] agramfort commented on #6588
ok fair enough. Maybe the debate more existing with MEG data where you can
have > 300 channels, or even HD EEG.

[2019-08-06 12:23] jshanna100 opened #6632 "Epoch series numbers missing"
Previously, Epochs.plot/ICA.plot_sources(Epoch) displayed the epoch series number underneath, though now it does not. A lab member reports that it started after we pulled #6617, so it may be related to that somehow.

[2019-08-06 12:28] hyperbolicTom commented on #6482
The CTF tools are a mix of old 32-bit and 64-bit libraries, so they are
annoying to install. They run under CentOS 6, although by installing a
bunch of libraries you can get them to work on Ubuntu. I have Singularity
containers for both. Here is a Singularity container with a CentOS 6
environment (which runs on any recent Linux distro). You'll need
Singularity version 3.

https://kurage.nimh.nih.g

[2019-08-06 12:38] hyperbolicTom commented on #6482
Oh, if you are trying to *write* a multi-file CTF file that's more of an
issue. You can't have a trial larger than 2 GB, for one thing, so it has to
be in epoched format. The format is simple enough, the .meg4 files are just
flat with an 8 byte header.

Here's code that reads them ... It's part of the SAM Suite, available here
in more completeness:
https://megcore.nih.gov/index.php/Installation_In

[2019-08-06 15:57] massich commented on #6482
@britta-wstnr pointed out that there's a CTF writing function in Fieldtrip:  [writeCTFds.m](https://github.com/fieldtrip/fieldtrip/blob/master/external/ctf/writeCTFds.m)
and the [ctf-toolbox](https://gitlab.com/darren.weber/ctf-toolbox) package.

I think that modifying this constant in fieldtrip and saving should make the trick:

https://github.com/fieldtrip/fieldtrip/blob/bd03aeb2a269ba4cb701d74d

[2019-08-06 16:24] hyperbolicTom commented on #6482
Pyctf has res4 writer too
https://github.com/hyperbolicTom/pyctf/blob/master/pyctf/ctf_res4.py

On Tue, Aug 6, 2019, 11:57 AM Joan Massich <notifications@github.com> wrote:

[2019-08-06 17:09] drammock opened #6634 "remove gray background from ICA.plot_sources"
I don't mind the gray background for things like `ICA.plot_properties()` where several subplots of different types are all generated in one figure --- in tutorials and notebooks I think it makes it clearer that the several figures were generated by one function/method call.  But `ICA.plot_sources()` generates a single graph (similar to `Raw.plot()`) so I don't see why it's background should be gra

[2019-08-06 17:15] agramfort commented on #6634
Ok for me

[2019-08-06 17:49] drammock commented on #6634
actually I think this is a bug (possibly a sphinx-gallery bug?).  `ICA.plot_sources()` doesn't *always* have a gray background; seems like maybe it only happens when there's a previous call to `ICA.plot_properties()` in the same notebook cell...  but I can't replicate it even when downloading the `.ipynb` file from https://14567-1301584-gh.circle-artifacts.com/0/dev/auto_tutorials/preprocessing/pl

[2019-08-06 17:53] larsoner commented on #6634
Can you replicate locally with `PATTERN=... make html_dev-pattern`? If so then we have a way forward for debugging.

Before each example is executed, a set of `reset_modules` actions is called:

https://sphinx-gallery.github.io/configuration.html#reset-modules

https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/scrapers.py#L306-L309

If you put a `plt.rcdefaults()` in betw

[2019-08-06 18:17] massich commented on #6482
I didn't manage to install pyctf.

Can pyctf write split files of arbitrary short lenght? Could you split the file for us?

[2019-08-06 18:56] hyperbolicTom commented on #6482
I am not sure, normally it creates spill files when it gets over 2 GB ... I
guess it depends on who's reading it.

Oh, I saw your issue with pyctf just now. Sorry I didn't notice it earlier.
Normally you just "make; make install' to install it into local directories
inside pyctf (see config/Makefile.config) but you can also "make symlinks"
and it will add links to ~/bin and ~/lib. You could just s

[2019-08-06 20:20] drammock commented on #6634
yes, can replicate with `PATTERN=... make html_dev-pattern`.  CircleCI:

![circle](https://user-images.githubusercontent.com/1810515/62567157-795b7c80-b83f-11e9-9d6a-1fb911c8acdb.png)

Local:

![local](https://user-images.githubusercontent.com/1810515/62567170-7f515d80-b83f-11e9-959a-46d41f98b6a6.png)

Local with `rcdefaults()` between `plot_properties()` and `plot_sources()`:

![local-rcdefaults]

[2019-08-06 20:21] larsoner commented on #6634
I realized that it was probably related to this:

https://github.com/sphinx-gallery/sphinx-gallery/blob/f270049dbc209f1d3bd5598c9fac19b5f665ecee/sphinx_gallery/scrapers.py#L89-L95

See https://github.com/sphinx-gallery/sphinx-gallery/pull/527

[2019-08-06 21:37] massich commented on #6482
@hyperbolicTom the entire goal is to create a split file for testing purposes. (Therefore with all the files together they should weight very little). My idea https://github.com/mne-tools/mne-python/issues/6482#issuecomment-518305845 was to use the brainvision phantom CTF file to create it. This Phantom file is already shipped by mne. Something like this (adapted) should work:

[code]

[2019-08-06 21:40] drammock commented on #6634
this is not an MNE-Python bug; will be fixed when sphinx-gallery/sphinx-gallery#527 is merged in.

[2019-08-06 21:40] #6634 closed

[2019-08-07 07:31] cbrnr opened #6637 "Ignoring bads in raw.plot_psd doesn't work"
By default, `raw.plot_psd()` excludes bad channels. According to the docs, I can include bad channels by setting `picks="all"`, but this doesn't work:

[code]

Both plots only show the traces for the good channels.

[2019-08-07 08:12] agramfort commented on #6637
pr welcome 🙏

[2019-08-07 11:27] #6632 closed

[2019-08-07 20:32] #6588 closed

[2019-08-08 18:19] drammock opened #6644 "RFC: in search of the perfect sample data"
After revising lots of tutorials, I've formed some opinions about what the ideal sample dataset would look like. Here are some thoughts; please feel free to edit / add to the list; maybe if we reach some consensus we can find a dataset that meets the criteria and could replace `sample` dataset in most/all of the tutorials.

- probably should be neuromag and include fine cal, crosstalk, and a cHPI

[2019-08-08 18:58] larsoner commented on #6644
These two are going to be almost mutually exclusive in standard Neuromag acquisition setups, and thus to satisify this requirement, be an outlier. Every Neuromag file I've seen has projectors (even ones from MGH) because there are empty room projectors added during acquisition. You can probably tweak the acquisition not to add these, but then our dataset will be unlike ones people will be used to

[2019-08-08 19:08] drammock commented on #6644
I guess this reveals my ignorance about empty room recordings... I thought that sometimes they were done *after* the subject left, so I don't understand how the projectors got into the experimental raw file *during acquisition*.  (incidentally I'm also confused why the sample data's `erm` file itself already contains projectors...)

[2019-08-08 19:11] larsoner commented on #6644
During annual maintenance (or sometime) an Elekta tech will make an empty room recording, compute projectors, and set these as acquisition projectors that will be used (until the next time they are updated, which might be never, might be in a year, etc.). The goal is to make it so that huge deflections due to env noise do not make it impossible to see real activity during acquisition of subject da

[2019-08-08 19:21] yarikoptic commented on #5806
oh hoh, with ` || true` it is pretty much as useful as not running tests at all since nobody would eyeball logs for failures.  I will try to build now and see where we are on this ATM

[2019-08-08 19:46] jasmainak commented on #6644
what is the reason for this move? multiple runs, multiple subjects starts to move towards group analysis / BIDS style analysis. The other conditions are more or less satisfied by the existing sample dataset?

You can find many datsets here with multiple subjects and runs: https://openneuro.org/public/datasets

[2019-08-08 19:49] larsoner commented on #6644
On top of the single-subject-ness that you mention, from the above it (at least) has no ECG, has no cHPI, and you need to crop to fit into memory to process it. We could "fix the" single-run-ness via cropping but it's nicer for backward compat not to mess with it.

[2019-08-08 19:53] larsoner commented on #6644
The other consideration -- which is implicit but we might as well make explicit -- is that we want a dataset that is *small* but has all of these features. OpenNeuro datasets are likely to be either single subject or complete datasets from real paradigms that people did "for science" -- meaning that they are likely going to be much larger than they would need to be if we made/got one that was done

[2019-08-08 20:01] yarikoptic opened #6645 "mne-python is either GPL or non-free now due to mne/io/edf/gdf_encodes.txt"
mne/io/edf/gdf_encodes.txt from biosig says
[code]
so either then mne-python is effectively under GPL license or non-free (no modifications allowed)... what it is ? ;)  May be @schloegl could relax this restriction (I am really not sure why not to allow changes/fixes etc)?

[2019-08-08 23:51] drammock opened #6647 "BUG, VIZ: can't use `fig.subplots_adjust` on `raw.plot` figure"
well, you can, but it looks awful:

![sphx_glr_plot_55_setting_eeg_reference_001](https://user-images.githubusercontent.com/1810515/62744576-fcc1cd00-b9fb-11e9-8b64-0f1b08d77d8f.png)

Note especially the `Help` button and the extra-wide channel and time scrollbars. This resulted from:
[code]
Possible solutions include:

- leaving enough room for a title at the top edge by default (and possibly put

[2019-08-09 04:48] cbrnr commented on #6645
AFAIK we didn't change the table, so we use the alternative license. Unlike the GPL, this alternative license only applies to this single file and does not automatically transfer to MNE.

[2019-08-09 04:57] cbrnr commented on #6647
I'd rather not add additional space for a title within the figure, because in interactive use this just takes away precious screen estate that should be used for the signal traces. So I'll definitely be +1 for debugging/improving the figure structure without changing the current layout. Alternatively, we might add options to hide the buttons (Help and Proj) as well as the scroll bars to produce a

[2019-08-09 09:25] schloegl commented on #6645
On 08.08.19 22:01, Yaroslav Halchenko wrote:

I do allow changes - under the terms of GPLv3.

The code table is used to standardize codes for events, markers and
annotations. Compatibility can only be maintained if the table is
normative.  Therefore, this event table must stay public and nobody
should use a modified, non-public version of this table.  The BSD
license (used by MNE) is not sufficien

[2019-08-09 12:24] agramfort commented on #6645
I understand but how do you allow then the existence of BSD / MIT licensed
readers for GDF files?

[2019-08-09 12:31] agramfort commented on #6644
if we switch to a new dataset I would conisder a bids formatted dataset.
Now moving away from sample will force us to change a lot of material in
mne...
if we switch to a bids formatted sample we would fake 2 runs by cropping
the file...

[2019-08-09 12:47] massich commented on #6461
I think that we could simplify mne/viz/montage.py quite a lot. see #6649

[2019-08-09 13:47] yarikoptic commented on #6645
" is not modified, changed, converted or transformed" restrictions make it non-free.  Moreover "converted" is IMHO a bad term, since under some stretch of interpretation then it is not usable at all since use of those would typically require internal (to the codebase) conversion to other data types/representations.  IMHO trying to enforce it this way provides only disadvantages/inconveniences with

[2019-08-09 14:24] cbrnr commented on #6645
I don't understand the reasoning either, but if we can't use this file then I suggest we remove it and return only the event codes instead of the text mappings from the file.

[2019-08-09 17:13] larsoner commented on #6647
+1 for "z" meaning "zen" mode :)

But yes I agree we should fix how we lay out the figure somehow so that `subplots_adjust` works

[2019-08-09 18:30] drammock commented on #6644
I agree it will force a lot of changes @agramfort. I'm thinking this as a long-term goal not immediate.  But it's a way of simplifying a lot of tutorials by eliminating repetitive code that is unrelated to each tutorial's purpose, and avoiding digressions like "now we'll fake having multiple subjects by pretending that different parts of the same recording are actually different subjects" (which i

[2019-08-10 08:45] agramfort commented on #6645
@schloegl are you asking us to remove the file with the consequence that mne cannot properly read GDF files?

[2019-08-10 08:54] agramfort commented on #6644
I understand. Things I like about sample and that should be present
with a new dataset
are: clear bad channels (noisy and flat), outlier in dig point.

[2019-08-12 13:58] milan-rybar opened #6652 "`tmax` optionally exclusive in Epochs and cropping"
Currently, `tmax` parameter in `Epochs` and `mne.epochs.BaseEpochs.crop` is inclusive. It would be convenient to be rather exclusive in some cases.
For example, in the example for "Decoding in time-frequency space data using the Common Spatial Pattern (CSP)" (https://mne-tools.github.io/stable/auto_examples/decoding/plot_decoding_csp_timefreq.html?highlight=csp), the grid search is used in the tim

[2019-08-12 14:12] larsoner commented on #6652
It has been that way for many years so we should not change the default behavior (it could break a lot of people's code). It is however a pain to do `epochs.crop(start, stop - 1. / epochs.info['sfreq'])` so I wouldn't mind adding a `include_last=True` (by default) keyword argument.

[2019-08-13 00:36] drammock commented on #6647
I dug into the code today, and it looks like this might be possible.  My current understanding of how this works is that:

1. main axes, scrollbars, and help button get initialized as subplots in `_prepare_mne_browse_raw`
2. positions of everything get modified in `_layout_figure()` any time the window is resized

I *think* we could get `subplots_adjust` to work correctly if:
1.  `subplots_adjust`

[2019-08-13 06:03] as485 opened #6654 "code understanding"
Hi there, When I was learning and trying to understand the function "test_savgol_filter()" in mne-python/mne/tests/test_evoked.py, I was confused about the description of the its delivered function. My understanding of this code snippet is "test evoked data as title". Do I understand that right?

[2019-08-13 07:47] mmagnuski commented on #6654
`test_savgol_filter()` is part of the test suite which ensures that new changes to mne don't break existing functionality. `test_savgol_filter()`, as the name suggests, tests the validity of savgol filtering for `Evoked` objects (the operation you can invoke by doing `evoked.savgol_filter(h_freq)`). You can read more about savgol filter [here](https://en.wikipedia.org/wiki/Savitzky%E2%80%93Golay_f

[2019-08-13 08:11] milan-rybar commented on #6652
I am for adding a keyword argument such as `tmax_inclusive` or `include_last` with `True` as default value.

[2019-08-13 11:15] agramfort commented on #6652
Ok for a include_tmax param in crop method

[2019-08-13 13:32] Sarah335 opened #6656 "Epochs rejecting good data?"
Hi all,
I'm doing some connectivity analysis on resting state MEG data, and am attempting to epoch the pre-processed files into "fake" events 10s in length. The mne.Epochs method seems to be dropping "bad" epochs, even though there appears to be sufficient data present (although it's not clear to me how insufficient data is defined). Attached is the relevant snippet of my code and the output of dr

[2019-08-13 13:33] hoechenberger opened #6657 "read_* functions should support pathlib objects"
#### Describe the problem
This currently throws an error:
[code]

Generates:
[code]

#### Describe your solution
My current workaround: convert the `PosixPath` object to a string:
[code]

#### Describe possible alternatives
Ideally, there would be "built-in" `pathlib` support in MNE.

[2019-08-13 13:42] #6616 closed

[2019-08-13 13:45] #6645 closed

[2019-08-13 13:49] larsoner commented on #6657
This is a relatively new problem because we basically used to assume that everything was a str/path-like. Now we also support file-like objects.

Maybe the most backward compatible thing to do would be to check if the object is file like with:
[code]
and if not, cast with `str` and treat as a path.

@hoechenberger if this sounds reasonable to you, do you want to try making this change?

[2019-08-13 13:52] larsoner commented on #6656
Your `events` are probably occuring before the start of the raw data. `events[:, 0]` are relative to `raw.first_samp`. Does everything work properly when you use:
[code]

BTW it looks like you are recreating the functionality of [mne.make_fixed_length_events](https://martinos.org/mne/stable/generated/mne.make_fixed_length_events.html) (which already takes `raw.first_samp` into account) with your c

[2019-08-13 13:57] hoechenberger commented on #6657
@larsoner I just checked how this was solved in PsychoPy, and we're using a small converter function there that converts pathlib objects to strings, but only works withPython 3.6+:
https://github.com/psychopy/psychopy/blob/86046113feaf8afbbeb65aec0cc9a0bc0acde580/psychopy/tools/filetools.py#L283

Could that be a valid approach for MNE too?

[2019-08-13 14:08] larsoner commented on #6657
In your approach, we would treat/cast `str` and `PosixPath` as `str`, and everything else `file-like`, which seems less general. For just one example, `tmpdir` pytest fixtures can be `str`-ified properly, but would need to be added as yet another case in your approach. Having "treat as str" as the default use case / mode should in this sense be more backward compatible, yet still work with any fil

[2019-08-13 14:51] Sarah335 commented on #6656
Thanks for your quick response.
mne.make_fixed_length_events fixed more problems than I was expecting! I'll adjust a few codes this way :)

[2019-08-13 14:52] #6656 closed

[2019-08-13 16:09] agramfort commented on #6645
Maybe we should backport so yarik can cut a Debian release of 0.18 ? Or we wait for 0.19 release in September

[2019-08-13 16:57] larsoner commented on #6645
0.19 is only one month away, my vote is just to wait

[2019-08-14 08:45] vferat commented on #6155
Maybe the labeling of volume sources should be done during the creation of the` SourceSpaces `instance. When using `mne.setup_volume_source_space`,  setting the `MRI` value to the specific atlas you want ( such as aprac+aseg.mgz)  should store labels for each source.
This may be more consistent when setting the `volume_label` argument as labels from the mri file could be use to map the brain with

[2019-08-14 10:21] as485 commented on #6654
Thanks for your response very much. I will read the code more carefully.

[2019-08-14 13:06] #6654 closed

[2019-08-14 15:04] zobm opened #6662 "Gradiometer units on PSD"
Units PSDs for gradiometers are off (dB = True or False) -- fT/cm^2/Hz... Should it not be (fT/cm)^2/Hz or fT^2/cm^2/Hz? Is the square on the cm meant to represent the whole fT/cm term?

Thanks in advance for clarification.

Also curious why the estimate = 'auto' default is a PSD for dB = True but an ASD for dB = False?

[2019-08-14 18:47] drammock commented on #6647
I've made some progress here. on [my branch](https://github.com/drammock/mne-python/blob/subplots-adjust/mne/viz/utils.py#L525-L643) I split `_layout_figure` into two functions (the new one called `_update_layout`.

There's a lot of duplicated code there that needs refactoring, but for now here's what works:
[code]
The plot will still be wonky, but after resizing the window it will look right, and

[2019-08-15 00:28] drammock commented on #6647
May have hit a wall on this one, so I've resorted to stackoverflow: https://stackoverflow.com/q/57503564/1664024

[2019-08-15 01:09] larsoner commented on #6662
Yes it's just poorly formatted

Historical reasons / backward compatibility IIRC

[2019-08-15 09:30] massich commented on #3893
cross-reference https://github.com/mne-tools/mne-python/issues/3893#issuecomment-271925975 and #6461

[2019-08-15 09:30] massich commented on #6461
cross-reference https://github.com/mne-tools/mne-python/issues/3893#issuecomment-271925975 and #6461

[2019-08-15 13:30] #6662 closed

[2019-08-15 14:05] sappelhoff opened #6665 "Making Epochs when two different events happend at the same time (=duplicate timepoints)"
Sometimes, raw data can contain two different events that happened at exactly the same time. In this case, when we have an MNE `events` array, the following holds True:

[code]

And then `mne.Epochs(raw, events, ...)` will raise an error.

Below, we see a suggestion by @larsoner to solve this issue:

cc @jasmainak

[2019-08-15 14:17] sappelhoff commented on #6613
Hi @Mehrabkhazraei unfortunately I cannot open your example data - the .rar archive seems to be broken.

I agree with @teonbrooks that more information (also from BV customer support) would be nice!

[2019-08-15 15:04] jasmainak commented on #6665
PR welcome :)

[2019-08-15 15:30] teonbrooks commented on #6613
@sappelhoff do you know anyone at Brain Product who might be able to help? Also I guess this means that we would need to convert all ahdr and associated files to vhdr if someone wanted to make their data compatible

[2019-08-15 15:39] sappelhoff commented on #6613
I advised @Mehrabkhazraei in #6556 to contact support@brainproducts.com ... I still think that that's the best way forward :-)

Ideally @Mehrabkhazraei would take over the communication with Brain Products ... and we can assist to implement reading/conversion from VAMP format to BrainVision format in MNE-Python

[2019-08-15 18:39] tamalotes opened #6666 "Support for Nexus amplifiers (MindMedia)"
#### Describe the problem
The Nexus amplifier formats are not supported.

#### Describe your solution
Support Nexus supported file formats which are: *.mbd and *.bcd.

#### Describe possible alternatives
A format translator from Nexus format to a supported format.

#### Additional context
I am not familiar with the Nexus file formats. I will continue to search if there is any documentation or plug

[2019-08-15 22:59] drammock commented on #6666
based on [this webpage](https://mindmedia.freshdesk.com/support/solutions/articles/36000077097-nexus-and-biotrace-interfacing-options) and [this PDF](http://81.169.139.131/download/documentation/UserManual_MM_BioTrace-V2018A_EN.pdf) (page 62 and following) it looks like the MindMedia BioTrace software can export EDF format.  If you have access to BioTrace that would be the quickest solution since

[2019-08-16 07:15] hoechenberger commented on #6657
Sounds reasonable. Will try to look into this, but cannot make any promises on a time frame. However, this issue seems to be sufficiently annoying to drive me to actually fix it ;)

[2019-08-16 08:02] cedricsimar opened #6667 "Error with mne.bem.make_watershed_bem using the development version of Freesurfer"
In the process of creating the boundary-element model meshes, I run into the following error when executing `mne.bem.make_watershed_bem('fsaverage', overwrite=True)` with the development version of Freesurfer (note that the error does not appear in the stable version):

`File "/home/rbcx/miniconda3/envs/eeg/lib/python3.6/site-packages/nibabel/freesurfer/io.py", line 179, in read_geometry coords =

[2019-08-16 09:54] agramfort commented on #6665
+1

[2019-08-16 12:39] agramfort commented on #6667
apparently it's the surface file produced whose format has changed and
causes nibabel reader to crash. Can you share the file?
It's more likely to be a nibabel issue than an MNE issue.

[2019-08-16 12:48] agramfort commented on #6155
given a dipole location in a vol source space you should be able to
know in why label of a parcellation it belongs to.
We should rely on nilearn as much as possible for this.

[2019-08-16 13:41] tamalotes commented on #6666
I  will try this over the weekend and report back. Thanks

[2019-08-17 00:37] drammock opened #6671 "BUG: dipy website change broke intersphinx"
CircleCI now fails to load the dipy `objects.inv` with this error:
[code]
It appears that now anything within `nipy.org/dipy/*` redirects to `dipy.org/*`

[2019-08-17 01:59] larsoner commented on #6671
This is a downer because it will kill all of our doc builds :(
[code]
We can temporarily convert all the links to code blocks. It's easy to revert GH commits so I might just make a PR to work around this issue Monday.

[2019-08-17 11:56] larsoner commented on #6667
I don't think this will fix any development version surface reading

[2019-08-17 11:56] larsoner commented on #6667
I mean I don't think my PR did

[2019-08-19 07:13] cbrnr commented on #6613
Several years ago someone asked this question [on the EEGLAB mailing list](https://sccn.ucsd.edu/pipermail/eeglablist/2013/007301.html), and the answer was that the data are encrypted and cannot be loaded (the key is probably the hardware dongle). If this is true, there's nothing we can do other than advise people to use the normal .vhdr/.vmrk/.eeg format.

[2019-08-19 08:14] cbrnr commented on #6637
Creating a PSD with `raw.plot_psd(picks="all")` actually calls `plot_raw_psd(..., picks="all")`, which calls `_set_psd_plot_params(..., picks="all")` at the beginning. Inside this function, `_picks_to_idx(..., picks="all")` gets called, which eventually calls `_picks_str_to_idx(picks="all")`. Finally, this function checks if the argument is equal to `"all"`  (which it is in our case), but even in

[2019-08-19 08:54] agramfort commented on #6637
is it an inconsistent behavior with other functions accepting picks='all'?
if so it can be considered a bug fix

[2019-08-19 09:23] cbrnr commented on #6637
There are some functions that accept both `picks` and `exclude` arguments - this *should* make it possible to pass `picks="all", exclude=None` to pick all channels (e.g. `plot_sources`). But I was wondering what `picks="all"` means then? I'd find it intuitive if this picked all channels, irrespective of their type and no matter if they're marked bad or not (this is how I'd interpret the [docstring

[2019-08-19 13:17] hoechenberger opened #6675 "stats.spatio_temporal_cluster_1samp_test() fails with an index error"
#### Describe the bug
`stats.spatio_temporal_cluster_1samp_test()` fails for me with an index error. Unfortunately I didn't manage to put together a MWE yet, but hopefully the provided information is sufficient to track things down? Any help would be greatly appreciated. :)

#### Steps and/or code to reproduce
[code]

#### Expected results
The function should return the results of the test.
#### A

[2019-08-19 14:15] cbrnr opened #6676 "raw.plot_psd squeezed to top part of figure"
When using `raw.plot_psd` on [this particular GDF file](https://github.com/mne-tools/mne-python/files/3516275/sample_nan.zip) (please unzip first), I get this strange figure:
![Screen Shot 2019-08-19 at 16 13 41](https://user-images.githubusercontent.com/4377312/63272437-5481f300-c29c-11e9-92c4-b09579973498.png)

So far, this is the only file I found to produce this behavior.

[code]

[2019-08-19 14:25] larsoner commented on #6675
Can you share `X` and `connectivity`?

[2019-08-19 14:29] larsoner commented on #6637
My suggestion would be:

1. PR1: Document current behavior properly. This probably means:
    a. adding an `%(picks_all_good)s` and updating `raw.plot_psd` and possibly other functions that don't have an `exclude` param but do exclude `'bads'`.
    b. Update `%(picks_all_good)s` and `%(picks_all)s` to say what happens when there is an `exclude` parameter, if relevant.
2. PR2: Add `exclude` anywher

[2019-08-19 14:34] larsoner commented on #6676
This should have been fixed by https://github.com/mne-tools/mne-python/pull/6625, assuming you seed this behavior on current `master`, can you see if it worked okay before that PR?

[2019-08-19 16:58] hoechenberger commented on #6675
@larsoner Since this is actual, unpublished data, may I share this privately with you?

[2019-08-19 17:09] larsoner commented on #6675
Sure, feel free to email a link

[2019-08-19 18:25] hoechenberger commented on #6675
Done. Thanks for your help, @larsoner!

[2019-08-19 19:02] #6671 closed

[2019-08-20 06:18] cbrnr commented on #6676
Yep, that fixed it and it wasn't working before.

[2019-08-20 06:18] #6676 closed

[2019-08-20 06:37] cbrnr commented on #6637
`%(picks_all_good)s` is exactly what currently happens if you supply `picks="all"`. Instead of adding a new parameter, we could add a new string `picks="all_good"` (or `picks="goods"` if this is the MNE opposite of "bads") and change the behavior for `picks="all"`.

Of course we could/should go ahead with PR1 to document current behavior. We could even include a sentence on how to include all chan

[2019-08-20 06:41] cbrnr commented on #6637
Interesting. Using `mne.pick_channels` doesn't even work in this case. `raw.plot_psd(picks=mne.pick_channels(raw.info["ch_names"], include=[]), spatial_colors=False)` still shows only the two good channels (and omitting `spatial_colors=False` only shows the first channel).

[2019-08-20 07:02] agramfort commented on #6637
then I think it's a clear bug that is likely to be specific to plot_psd

[2019-08-20 16:12] larsoner commented on #6627
Did you run the same commands locally that Travis uses? This should get you the same env, assuming you are also on Linux.

[2019-08-20 16:12] #6626 closed

[2019-08-20 16:13] larsoner commented on #6610
I'd be fine with emitting a warning that events information has been lost and still reading the file, @mmagnuski can you make a PR?

[2019-08-20 18:01] larsoner commented on #6667
This is a FreeSurfer bug, see https://github.com/freesurfer/freesurfer/issues/699

[2019-08-20 18:01] #6667 closed

[2019-08-20 19:39] #6637 closed

[2019-08-20 19:55] mmagnuski commented on #6610
Sure, I can do it this week - would we populate event_id and events and other necessary fields (not sure what other) with some default values then?

[2019-08-20 19:59] #6657 closed

[2019-08-20 20:00] larsoner commented on #6610
Yes I would just make `events = np.column_stack((np.arange(len(events)), 0, np.ones(len(events), int)))` and `event_id=dict(unknown=1)`

[2019-08-20 20:01] #6652 closed

[2019-08-20 20:03] larsoner commented on #4313
I think this has been taken care of/documented at this point

[2019-08-20 20:03] #4313 closed

[2019-08-20 20:04] larsoner commented on #4517
@GuillaumeFavelier is working on (several) solutions for this so I don't think we need to track it here

[2019-08-20 20:04] #4517 closed

[2019-08-20 20:05] larsoner commented on #4375
Nothing to do here other than improve our docs, probably having to do with coordinate frames, which we have noted elsewhere. So closing

[2019-08-20 20:05] #4375 closed

[2019-08-20 20:05] larsoner commented on #5162
I seem to recall fixing this in the past year but if someone hits this error again, feel free to reopen

[2019-08-20 20:05] #5162 closed

[2019-08-20 20:08] larsoner commented on #4940
Closing in favor of more complete discussions in #3884

[2019-08-20 20:08] #4940 closed

[2019-08-20 20:11] larsoner commented on #182
There are some circular stats in `scipy` that look like the `circular_meanangle` in the gist above:

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.circmean.html
https://github.com/scipy/scipy/blob/v1.3.0/scipy/stats/morestats.py#L3158-L3199

Let's close for now but if someone is motivated please do try to use these newer functions and see if they are usable

[2019-08-20 20:11] #182 closed

[2019-08-20 20:11] larsoner commented on #587
I'm closing in favor of the ongoing TFR work, which I think will support this sort of thing

[2019-08-20 20:11] #587 closed

[2019-08-20 20:12] larsoner commented on #1056
Closing since @GuillaumeFavelier has made some progress with Jupyter integration

[2019-08-20 20:12] #1056 closed

[2019-08-20 20:20] larsoner commented on #2198
I'm going to close since I think this might be better solved at the matplotlib-callback level with just a few lines. It would be cool to have an example of how to do it at some point if someone is motivated, though

[2019-08-20 20:20] #2198 closed

[2019-08-20 20:58] larsoner commented on #4215
Fixed by #4219

[2019-08-20 20:58] #4215 closed

[2019-08-20 21:00] larsoner commented on #5151
I'm going to close this since I seem to remember us having some suitable solution to this in a PR, but @jona-sassenhagen feel free to reopen if it's still an issue

[2019-08-20 21:00] #5151 closed

[2019-08-20 21:01] #1727 closed

[2019-08-20 21:02] larsoner commented on #2422
Closing for GSoC progress PRs

[2019-08-20 21:02] #2422 closed

[2019-08-20 21:02] larsoner commented on #2450
Closing due to non-response

[2019-08-20 21:02] #2450 closed

[2019-08-20 21:03] larsoner commented on #2476
We have FT I/O now so I'll close

[2019-08-20 21:03] #2476 closed

[2019-08-20 21:04] larsoner commented on #1821
This is now out of scope here and is the goal of `mne-study-template` and similar efforts

[2019-08-20 21:04] #1821 closed

[2019-08-20 21:04] larsoner commented on #2608
@drammock recently fixed this

[2019-08-20 21:04] #2608 closed

[2019-08-20 21:06] larsoner commented on #2740
I'm pretty sure this was due to not properly including the surface information in the BEM files, which has been fixed. Feel free to reopen if I'm wrong

[2019-08-20 21:06] #2740 closed

[2019-08-20 21:11] larsoner commented on #3257
We have slides in the docs that seem reasonable:

https://mne.tools/stable/generated/mne.gui.coregistration.html

But if someone is passionate about this, let's reopen

[2019-08-20 21:12] larsoner commented on #3336
Marking this as easy now that we have https://github.com/scipy/scipy/pull/8970

[2019-08-20 21:12] larsoner commented on #3412
Closing as YAGNI but if someone wants to discuss further feel free to reopen

[2019-08-20 21:12] #3412 closed

[2019-08-20 21:13] larsoner commented on #3674
We now run this in a `tempdir` so this should be fixed

[2019-08-20 21:13] #3674 closed

[2019-08-20 21:14] larsoner commented on #3812
I think we have support for this through one of the recent `clim` refactorings, feel free to reopen if someone hits it again

[2019-08-20 21:14] #3812 closed

[2019-08-20 21:16] larsoner commented on #4457
Closing, no response

[2019-08-20 21:16] #4457 closed

[2019-08-20 21:16] larsoner commented on #4404
Closing, assuming YAGNI at this point

[2019-08-20 21:16] #4404 closed

[2019-08-20 21:17] larsoner commented on #4386
Closing as YAGNI but if someone is motivated feel free

[2019-08-20 21:17] #4386 closed

[2019-08-20 21:18] larsoner commented on #4318
Closing in favor of discussion in #4312

[2019-08-20 21:18] #4318 closed

[2019-08-20 21:18] larsoner commented on #4284
Closing, we are happy enough :)

[2019-08-20 21:18] #4284 closed

[2019-08-20 21:19] larsoner commented on #4150
Closing for @GuillaumeFavelier's work

[2019-08-20 21:19] #4150 closed

[2019-08-20 21:19] larsoner commented on #4085
I think this is fixed in `master`

[2019-08-20 21:19] #4085 closed

[2019-08-20 21:20] larsoner commented on #4021
Fixed by #4069

[2019-08-20 21:20] #4021 closed

[2019-08-20 21:20] larsoner commented on #4001
Closing but let's keep this stuff in mind !

[2019-08-20 21:20] #4001 closed

[2019-08-20 21:20] larsoner commented on #3974
I think we've fixed this stuff recently with proper error messages, feel free to reopen if it's still happening

[2019-08-20 21:20] #3974 closed

[2019-08-20 22:14] massich commented on #6627
It was a while ago. But there was no change in Travis (that I was aware of). And I could run one commit but not the other.

[2019-08-21 07:43] #5948 closed

[2019-08-21 07:59] agramfort commented on #3257
I still think that it would be a very valuable thing to have. The only
thing I really need
to show people in live demos is coregistration. The order of stuff to
do, the things
to pay attention to etc. are much easier to grasp with an interactive
video I think.

[2019-08-21 08:22] cedricsimar commented on #6667
Thanks for the info @larsoner

[2019-08-21 08:48] Norbsis opened #6685 "Select channels for dipole fit"
I have a problem selecting channels for dipole fitting. Is there a way to select channels by using MNE Python? With Neuromag software it is possible to select channels, but haven't succeeded with MNE Python.

I use the fit_dipole function and give it an Evoked object with only selected 90 channels and noise_covariance made from Epochs including only those same 90 channels. As a result i get a dipo

[2019-08-21 09:46] cbrnr opened #6686 "Avoid almost white colors in plots with spatial_colors=True"
As mentioned in #6678, spatial colors are sometimes almost white and therefore very hard to see. I think we should restrict these colors from getting almost white.

[2019-08-21 10:00] agramfort commented on #6685
how did you pick the 90 channels?

[2019-08-21 11:33] Norbsis commented on #6685
They were selected around where the activation was visible (somatosensory area). They are these channels plotted below.
![image](https://user-images.githubusercontent.com/54352477/63428413-2d542e80-c420-11e9-9d0d-dae8680aa6cb.png)

[2019-08-21 13:17] larsoner commented on #6685
Your code looks fine. Can you see if it works reasonably on the `sample` dataset?

When I do this sort of thing I usually just pick the `evoked` object, no need to pick the `epochs` or `cov` as `fit_dipole` will automatically pick the channels it needs from the `cov`. I've validated it against `Xfit` results and the MNE result matches well (at least when using a diagonal cov, which is all that `Xf

[2019-08-21 13:19] larsoner commented on #3889
I think this has been fixed in `master` via naming and/or doc updates

[2019-08-21 13:19] #3889 closed

[2019-08-21 13:20] larsoner commented on #4027
No response, no data to reproduce, closing

[2019-08-21 13:20] #4027 closed

[2019-08-21 13:21] larsoner commented on #4050
Since this is a Jupyter<->MPL thing I think it's mostly out of scope

[2019-08-21 13:21] #4050 closed

[2019-08-21 13:21] larsoner commented on #4251
This should be fixed in `master`

[2019-08-21 13:21] #4251 closed

[2019-08-21 13:25] drammock commented on #6685
You're crop call uses tmax twice. Is that intentional?

[2019-08-21 13:44] Norbsis commented on #6685
Drammock: Yes, the time is just limited to one specific timepoint. That's why the tmax is there twice.
Larsoner: Okay, I first used the pick just with evoked, but when it didn't work, I tried to limit the cov also. I'll try next with the sample dataset.

[2019-08-21 14:10] sappelhoff opened #6687 "ENH: Generalized Dataset Fetcher for OpenNeuro.org"
In the context of my Google Summer of Code with @jasmainak and @agramfort , we needed testing data at several points in time.

In many cases, we resorted to using data available from [OpenNeuro.org](https://openneuro.org). The main feature of this data base is that all data are formatted according to the Brain Imaging Data Structure ([BIDS](bids.neuroimaging.io)) --> so in general, these datasets

[2019-08-21 14:13] sappelhoff commented on #2280
@jasmainak is this dead? Or related to the generalized openneuro fetcher?

[2019-08-21 14:33] Norbsis commented on #6685
Hmm.. the sample dataset seems to work fine (or at least with a left-temporal subset of channels the 'right-auditory' fit is almost the same as without the selection).

What then could cause the problem with my data? If I select only all the channels from the left side of the brain, the dipole is fitted on the right side close to ear. With all channels the stimulation is correctly fitted on the le

[2019-08-21 15:29] larsoner commented on #5123
The slow part is not the interp matrix, it's the inner skull check. I've looked into using `numba` but the code is already highly vectorized so I don't think that there is much that we could do. You could consider further decimating the mesh to e.g. 1280 tris instead of 5120.

[2019-08-21 15:29] #5123 closed

[2019-08-21 15:42] larsoner commented on #4682
We have a separate repo for this and it works now

[2019-08-21 15:42] #4682 closed

[2019-08-21 15:45] larsoner commented on #4614
FYI we have this for raw plotting, we need to port it to Epochs. Ideally we would also unify our Epochs and raw plotting a bit before then.

[2019-08-21 15:51] larsoner commented on #4829
Closing this as something we won't fix as it could cause backward compat problems, and in our Info docs we now say "..In general this should not be used...".

[2019-08-21 15:51] #4829 closed

[2019-08-21 15:53] larsoner commented on #4899
Closing since we have other issues open having to do with mixed source space priors

[2019-08-21 15:53] #4899 closed

[2019-08-21 15:54] larsoner commented on #4922
Closing since whatever is left to do here is an upstream numerical lib bug (and I think we updated docs at some point?)

[2019-08-21 15:54] #4922 closed

[2019-08-21 15:55] larsoner commented on #4947
We have envcorr now

[2019-08-21 15:55] #4947 closed

[2019-08-21 16:06] larsoner commented on #5279
Closing since it sounds like there is nothing to change based on how we do the stats

[2019-08-21 16:06] #5279 closed

[2019-08-21 16:08] larsoner commented on #5345
Closing as these files are openable now

[2019-08-21 16:08] #5345 closed

[2019-08-21 16:10] larsoner commented on #5417
We have a tutorial for EEG now, and we've improved the code with a better error message
[code]

[2019-08-21 16:10] #5417 closed

[2019-08-21 17:07] larsoner commented on #5785
Closing as something we probably won't fix, but if someone is up for making a PR to support row-ordered data please do!

[2019-08-21 17:07] #5785 closed

[2019-08-21 17:09] larsoner commented on #6119
Narrative in #6261, closing

[2019-08-21 17:09] #6119 closed

[2019-08-21 17:10] larsoner commented on #6077
This appears to be a problem with custom code having to do with `first_samp`, I recommend using `make_fixed_length_events` instead. No changes needed here so I'll close, thanks for the report

[2019-08-21 17:10] #6077 closed

[2019-08-21 17:11] larsoner commented on #6170
No response, closing

[2019-08-21 17:11] #6170 closed

[2019-08-21 19:28] jasmainak commented on #2280
I am not sure. It was related to my mission doctoral and I implemented the Brainstorm fetchers already. There are many other indexes of datasets online, so I'm fine closing this.

[2019-08-21 20:01] larsoner commented on #5792
I'm going to close this as a corner case out-of-memory bug that we probably don't need to fix, and might have been / should be fixed in `numpy`

[2019-08-21 20:01] #5792 closed

[2019-08-21 20:18] larsoner commented on #6284
@jhouck I can run this code:
[code]
This was the size that broke things for you. Are you on a 32-bit system by any chance? If so we can probably write a suitable error message for this.

[2019-08-22 07:13] hoechenberger commented on #6675
@larsoner:
I did like you proposed in the email and used the source space after forward computation
[code]
instead of the original source space. With this, it works!

Turns out that during creation of the forward model, one data point was being dropped:
`1 source space point omitted because of the    5.0-mm distance limit.`
so I ended up having a discrepancy. Wow, what a stupid mistake, yet it's s

[2019-08-22 07:54] #5731 closed

[2019-08-22 07:59] agramfort commented on #2280
let's keep this open as a source of new datasets and analysis examples. But yes we should progressively move towards BIDS formatted data.

[2019-08-22 08:01] agramfort commented on #6685
I doubt there is a bug then. Just use all sensors?

[2019-08-22 08:10] hoechenberger opened #6696 "mne.grand_average() behaves differently for evoked data than mne.evoked.grand_average()"
#### Describe the bug
`mne.grand_average()` and `mne.evoked.grand_average()` produce different results on the same data: the weights used to calculate the average are not normalized in `mne.grand_average()`.

#### Steps and/or code to reproduce
[code]
[code]

#### Expected results
`mne.grand_average()`, when operating on a sequence of `Evoked`s, should produce the  same results as `mne.evoked.gran

[2019-08-22 08:33] agramfort commented on #6687
awscli solution is beautifully simple

[2019-08-22 08:34] agramfort commented on #6696
why the heck do we have 2 functions to do this :( :(
one should be deprecated

[2019-08-22 11:55] massich opened #6698 "[RFC] changing python type by a term definition in docstring"
In the following docstring instead of using the python type as description, could we use a glossary term instead?

https://github.com/mne-tools/mne-python/blob/adb70865accfbf2e473d0f78e5be69c090581c0d/mne/io/meas_info.py#L205-L207

Or maybe we should keep the python type and link the term in the description.

[code]

WDYT?

cc: @drammock, @larsoner, @agramfort

Maybe something like this could work

[2019-08-22 11:59] agramfort commented on #6698
sounds good !

+1 to add a "digitization" entry in glossary

in the place you point to we should not mention Polhemus. it's not the only
system to get a valid digitization.

[2019-08-22 12:19] larsoner commented on #6698
Xref only looks in the param list so no value in adding it if we're going to use it in the description

[2019-08-22 12:48] massich commented on #6698
@larsoner it was 2 different solutions to the same problem. Either one or the other but not both.

[code]

[code]

I like the first one better.

[2019-08-22 12:49] massich commented on #6698
if its a digitization I've the right to just error say wrong type whatever.

[2019-08-22 13:20] hoechenberger opened #6699 "Further functions & methods that currently do not work with pathlib.Path objects"
#6682 has already improved support for `str`-like paths,  like `pathlib.Path` objects. I just ran my source analysis stack again and found many more places where currently only strings are supported, and passing `pathlib.Path` objects instead raises  an error. I'm not sure if this will be really helpful to anyone, but I thought sharing the results with you at least wouldn't hurt :)

#### Plotting

[2019-08-22 13:57] larsoner commented on #6698
I would leave it as `instance of Digitization` in the type, what's wrong with doing it that way? Changing it to `list of dict` also has disadvantages, we need to explain what the dicts are. And we don't really want people thinking they can pass a `list of dict` and have it work. So I'm -1 on this, rather keep it as `instance of Digitization`.

You can keep the `:term:` in the description, though,

[2019-08-22 14:00] agramfort commented on #6698
I suggested to kill the Digitization class from the public API. I
don't think we need to make it public
as it will not replace the dig montage as originally thought when it was written

[2019-08-22 14:02] larsoner commented on #6698
The advantage of having it in the public API is that people don't think "I can just pass a list of dict" and I see little disadvantage to keeping it. What's the advantage to removing it?

[2019-08-22 14:15] agramfort commented on #6698
avoid to have yet another public class for little gain. It makes one more
thing to explain
to users. We can do the check that the dig is correct in the DigMontage
constructor and
the set_montage method. I am just trying to fight complexity here.

[2019-08-22 14:21] #6675 closed

[2019-08-22 14:25] drammock commented on #6698
Regarding the new glossary entry: don't include the `(abbr. dig)` part in the head word line, it makes the crossrefs annoying to type. put it in the definition.

[2019-08-22 14:26] larsoner commented on #6698
Okay I can live with removing the class. It will hopefully also fix the spurious failures in Travis that occur due to our changing how `__eq__` works. We'll probably want a little `assert_dig_equal` in tests instead

[2019-08-22 16:01] drammock commented on #6696
@agramfort you can assign me, I'll get to it this afternoon. I'm the one who most recently dealt with grand average code I think.

On August 22, 2019 1:34:38 AM PDT, Alexandre Gramfort <notifications@github.com> wrote:

[2019-08-22 16:45] larsoner commented on #6675
Yes this is your one vertex creating a hole. You can use dist-based connectivity instead to help mitigate the problems the hole creates with mesh-edge-based connectivity. If you created your original source space point with `add_dist=True` you can set e.g. `dist=0.007` in `spatial_src_connectivity`.

This is probably because using an ico-4 spacing you've removed a ton of source space points, one o

[2019-08-22 18:56] massich commented on #6698
On the assert_dig_equal I would do it the pytest way which would allow
`assert digA == digB`

On Thu, Aug 22, 2019, 16:26 Eric Larson <notifications@github.com> wrote:

[2019-08-22 18:57] massich commented on #6698
We can use it as a test case, and if we like we would already have an
example in the code base.

On Thu, Aug 22, 2019, 20:56 Sik <mailsik@gmail.com> wrote:

[2019-08-22 18:57] larsoner commented on #6698
That is the way we do it now and it seems to cause spurious failures where Pytest tries to do some introspection and fails. Hence why I'm saying we should switch to something else.

Maybe just `object_diff` since it will give us the diff on failure of `assert object_diff(x, y) == ''` too.

[2019-08-22 19:01] massich commented on #6698
Damn! Now I remembered that it was not straight forward because it's a list.

Actually that would be the same root problem of the __eq__ issue you
mentioned. Maybe this would be a good excuse to fix it altogether. Inherit
not from list and add the proper pytest == overload.

If I'm not mistaken I even try it. And decided that I didn't wanted to
fight the inherit from list/dict battle.

On Thu, Aug

[2019-08-22 19:05] larsoner commented on #6698
Now that we are getting rid of / making private `Digitization` it makes sense to keep it as close to `list of dict` as possible, rather than going in the opposite direction by making it a non-`list` class

[2019-08-22 19:32] jhouck commented on #6284
@larsoner  I'd been able to work around this previously by doing:
[code]
If I undo this via:
[code]
and try to run the code above, I once again get the RuntimeError "The task could not be sent to the workers as it is too large for `send_bytes`".  I don't get any of the informative error messages about joblib from https://github.com/mne-tools/mne-python/blob/master/mne/parallel.py#L79

If I set the

[2019-08-22 19:48] larsoner commented on #6284
Are you sure you're on the branch in https://github.com/mne-tools/mne-python/pull/6690? I did your two commands:
[code]
Then ran the example code above on `master` and got:
[code]
On this PR I get:
[code]

[2019-08-22 22:17] jhouck commented on #6284
You're right, I'd switched to the branch for another PR.  Yes, I get the second error message now.

Honestly if I hadn't spent hours banging my head against the wall trying to figure out the error message a couple of months ago, I wouldn't know what "Consider using joblib memmap caching..." meant.  If the way to fix it is to set cache_dir and memmap_min_size, could the error message also suggest t

[2019-08-23 14:58] vferat opened #6707 "Additionnal Command line functions"
Is there any plan to add more command line functions to **mne-python** and/or  **mne-C** ?

It would be interesting to have some commands such as `mne make_forward`, `mne make_sources` or `mne compute_inverse`

Coupled with [nipype](https://github.com/nipy/nipype/tree/master) or any other pipeline engines, this would provide strong automation tools and better interactions with freesurfer, especial

[2019-08-23 15:39] agramfort commented on #6707
I don't think there is any plan for this in mne-C but in mne-python I don't
see any objection
to add some. We just need to have someone to write them :)

[2019-08-23 15:48] vferat commented on #6707
I've already worked a bit on this .I will try to rework functions to respect mne standart and make a PR, so we can discuss about it

any help is welcome ;)

[2019-08-23 23:27] jhouck commented on #6552
There are probably ways that a coregistration could be bad/questionable in some way that's not obvious from the median distance -- e.g. if one of the polhemus sensors shifted during subject preparation, or if too few extra points were collected, or maybe if the number of dropped outlier points exceeds some threshold.

If the extra points were sampled broadly enough, it may be possible to test whet

[2019-08-23 23:42] drammock opened #6708 "BUG: Report.save() does not use current working directory (as advertised)"
As seen below, the current working directory is `$HOME/Desktop/report-tmp` and `report.save()` with no arguments saves to `$MNE_PYTHON_PACKAGE_ROOT/report.html`

[code]

Also the `RuntimeWarning` is confusing (to a first-time Report user like me) because `data_path` is not one of the parameters of `Report` or `Report.save()`

[2019-08-24 01:24] larsoner commented on #6708
That's here:

https://github.com/mne-tools/mne-python/blob/master/mne/report.py#L1558

And it's not what we say it will do (which is `os.getcwd()`). This is a bug, feel free to fix separately or as part of your PR.

[2019-08-24 01:26] larsoner commented on #6552
Agreed there are many possible failure modes. I think we should start with something simple like median distance, and iterate on adding additional checks when we find cases where it doesn't capture a given problematic case.

[2019-08-24 06:21] #6708 closed

[2019-08-24 06:24] agramfort commented on #6552
don't forget that we have now the dig_mri_distances function

[2019-08-24 12:24] JoseAlanis opened #6710 "Discussion GSoC 2019 - Enhance statistical inference using linear regression in MNE."
Dear MNE-community, during the last couple of months, I've been working together with my mentors (@dengemann and @jona-sassenhagen) on the GSoC-project for enhancing statistical inference using linear regression in MNE-Python. As the GSoC period comes to and end, we would like to present you with some of the major achievements and trigger the discussion concerning remaining issues, considerations,

[2019-08-24 12:55] dengemann commented on #6710
cc @agramfort @larsoner

[2019-08-24 14:12] jhouck commented on #6552
That reminds me.  During coregistration, outlier points are often dropped to improve the fit.  Information about which points are dropped/kept is not retained.  Does this matter?  `dig_mri_distances` doesn't use all points, so maybe it's fine -- and at least in https://14892-1301584-gh.circle-artifacts.com/0/dev/auto_examples/forward/plot_auto_alignment.html the error is lower for `dig_mri_distanc

[2019-08-24 20:47] jona-sassenhagen commented on #6686
`sns.set_style('grey')`

[2019-08-24 20:50] jona-sassenhagen commented on #6644
A continuous variable (like RT) would allow demoing a lot of things much easier indeed.

[2019-08-24 23:39] #5164 closed

[2019-08-25 10:34] agramfort commented on #6552
no strong feeling here. Whatever you think is best

[2019-08-25 12:19] cbrnr commented on #6686
Is this the problem or the solution?

[2019-08-25 13:04] #6699 closed

[2019-08-25 14:19] hoechenberger commented on #6699
Thanks @larsoner, #6701 fixes all of the above, except for `mne.make_forward_solution()`, where I still have to cast my. `Path` objects to strings for the `trans` and `src` parameters.

[2019-08-25 14:21] hoechenberger commented on #6675
@larsoner

Thank you, this actually makes the warning go away! :)

[2019-08-26 10:38] Pezz89 commented on #6343
Sorry for the long delay on getting around to this, but would you be able to point me towards the test files? I'll give them a go and see if it's an issue that only affects my files.
Even if that is the case maybe it would useful just to have a more intuitive error message to suggest what the problem with the file is.

[2019-08-26 10:56] cbrnr commented on #6343
The test files are at the URL @agramfort posted above.

[2019-08-26 13:13] massich commented on #6461
Regarding the `kind` we have this `FIF.FIFV_MNE_COORD_DIGITIZER` and `FIFFV_COORD_ISOTRAK` that is used nowhere.

[code]

[2019-08-26 15:38] agramfort commented on #6461
yes then we need to change the read_dig_xxx so they don't use unknown but
the proper
source of the data. We would need to add a constant for captrack though

[2019-08-27 00:14] #6696 closed

[2019-08-27 11:08] hoechenberger commented on #6699
@larsoner I'm currently working on getting this one fixed.

[2019-08-27 17:46] #6647 closed

[2019-08-28 06:53] akatav opened #6716 "CSP with rest state EEG data for predicting stage of disease"
Hello.
It'd be really helpful if an expert here shed some light on using CSP for resting state EEG data. I am trying to predict early and final stages of brain disease. I though i could use CSP for this task as i find some new papers in CSP that work with rest eeg data. Each instance (or patient whose eeg is taken)  is a (19*number of sampling time points) matrix.  19 is the number of channels.
I

[2019-08-28 07:02] agramfort commented on #6716
what makes you think it's an MNE issue and not a problem with the data?

[2019-08-28 07:44] akatav commented on #6716
@agramfort  i do not think that it is an MNE issue, rather, perhaps an issue with using CSP in MNE with resting eeg. I am not sure if/how to use MNE with resting data. The data, maybe at fault here but i have received this data after cleaning, artifact correction and other preprocessing steps. i am also scaling the data using the sklearn MinMaxScaler before the above analysis.

[2019-08-28 07:53] agramfort commented on #6716
please don't use the issue tracker for something that is not a bug in the
software.

[2019-08-28 07:56] akatav commented on #6716
@agramfort ok, but is there a forum for raising questions about usage.i did not raise this under 'bug'. i raised it under 'blank issue' only.

[2019-08-28 07:56] #6716 closed

[2019-08-28 08:00] agramfort commented on #6716
list: https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis
gitter https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis

[2019-08-28 09:25] cbrnr commented on #6699
What about `mne.preprocessing.read_ica`? I didn't see this function in the list, but it also contains `.endswith` on the file name.

[2019-08-28 09:43] hoechenberger commented on #6699
@cbrnr This list only contains the functions that threw errors during my source analysis workflow, _after_ cleaning & epoching the data. Therefore it may very well be possible that there's more things to fix, like the function you just mentioned. I can have a look at this next week!

[2019-08-28 17:59] Pezz89 commented on #6343
Sorry I missed that link. Ok so I've now run the exact same code using mne 18.2 straight off of pip, on a different completely clean brand new machine running Ubuntu 18.04.3 LTS. It appears that the bug occurs for one of the two test stimulus I was linked too ('test_bdf_stim_channel.bdf').

[code]

[2019-08-29 10:03] amirreza1997 opened #6717 ".mat file"
our EEG system generate original data in .txt format and filter data in .mat , i wonder how can i set info in order that the location of channels be correct ?

[2019-08-29 10:19] #6665 closed

[2019-08-29 10:29] SophieHerbst opened #6718 "ica.plot_properties: y-axis scale missing in variance plot"
In mne 18.2., the plot that shows the variance captured by a component over segments (lower right) generated by ica.plot_properties lacks the tick marks (scale) for the y-axis. Could that be brought back? It helps to have an idea of the scale. Thanks!

[2019-08-29 11:39] agramfort commented on #6718
indeed we should not have AU for y-label and scale.

PR welcome

[2019-08-29 11:42] agramfort commented on #6717
see https://mne.tools/dev/auto_tutorials/simulation/plot_creating_data_structures.html

please don't use the issue tracker to ask user questions. Use gitter or the mailling list.

[2019-08-29 11:42] #6717 closed

[2019-08-29 11:44] agramfort commented on #6343
@cbrnr shall I let you have a look?

[2019-08-29 11:57] SophieHerbst commented on #6718
There isn't even a scale:
https://mne.tools/stable/auto_tutorials/preprocessing/plot_artifacts_correction_ica.html#sphx-glr-auto-tutorials-preprocessing-plot-artifacts-correction-ica-py

[2019-08-29 12:52] cbrnr commented on #6343
Yes, I can take a look.

[2019-08-29 13:51] cbrnr commented on #6343
The commit that broke it is here:
https://github.com/mne-tools/mne-python/commit/42cf6876414b9b3d1ad97882962110ae5cbd908d#diff-825d45683d0be02fad23614151867e02

This was part of #5841 - @massich can you take over please?

[2019-08-29 16:48] agramfort commented on #6343
see https://github.com/mne-tools/mne-python/pull/6720

[2019-08-30 08:14] cbrnr commented on #6459
Closing because this has been working for a while.

[2019-08-30 08:14] #6459 closed

[2019-08-30 08:19] cbrnr commented on #5709
What's the status on this issue? I remember having discussed this somewhere else, but I can't seem to find the thread. I was arguing for keeping the `stim_channel` argument because people still use analog channels to record their triggers (but by default, no stim channel should be synthesized, this should only happen upon explicit user request).

[2019-08-30 09:27] agramfort commented on #5709
Yes I think it's what we did and agreed on.

[2019-08-30 09:45] cbrnr commented on #5709
OK, so close this issue then?

[2019-08-30 09:46] #6343 closed

[2019-08-30 11:42] massich opened #6724 "[RFC] mne/channels structure"
Lately with #6461 `mne/channels` is growing and I don't really like the structure it has. I would like to separate the readers in channels, the functions and the objects.

WDYT:
[code]

[code]

to have an init similar to:
[code]

[2019-08-30 12:57] agramfort commented on #6724
sounds good to me !

[2019-08-30 12:57] #5709 closed

[2019-08-30 16:24] teonbrooks commented on #6613
I think this then falls into the category of wontfix as we actually can't fix it. closing the issue.

@Mehrabkhazraei is there anyway you can have your data exported to the vhdr/vmrk/eeg format?

[2019-08-30 16:24] #6613 closed

[2019-09-01 18:31] mmagnuski commented on #6718
@agramfort Last time this was discussed we decided variance should be AU, but eliminating the ticks and their values was mostly an aesthetic maneuver IIRC:
https://github.com/mne-tools/mne-python/pull/5748

BTW, I am not against bringing the y ticks back, I was actually not so happy to remove them, but I left it for the others to decide.

[2019-09-01 19:21] larsoner opened #6728 "RFC: migrate coreg"
I wonder how difficult it would be to migrate to Qt + traitlets instead of using traitsui for mne Corey. Then we can easily use other 3D backends. The "disadvantage" is that we'd lose the GUI backend abstraction, but I don't think wx ever worked that well anyway.

It might also be a lot of work.

[2019-09-02 06:56] cbrnr commented on #6718
I just skimmed through the discussion in #5748 and actually no one wanted the y axis ticks and labels removed - it was a misunderstanding and apparently we forgot this because we were too busy with bikeshedding. I can do a PR unless @SophieHerbst wants to do it.

[2019-09-02 07:57] agramfort commented on #6718
go for it @cbrnr

thx

[2019-09-02 08:47] mmagnuski commented on #6728
mne coreg most likely :)

[2019-09-02 11:59] SophieHerbst commented on #6718
@agramfort, my issue was just about the ticks, so you get an idea of how much the component diverges. AU seems right to me. Thanks!

[2019-09-03 13:28] #6718 closed

[2019-09-04 04:12] #6284 closed

[2019-09-04 12:48] massich commented on #6627
I'm back into having issues with this. I use a clean conda install with a subset of the minimum dependencies to run mne. I've checked the ci-helpers used in Travis but I couldn't see what I'm doing wrong.

[code]

[2019-09-04 14:09] larsoner commented on #6627
[code]
Not sure why it even let you try. I can't seem to make a new 3.5 env with numpy 1.11 and SciPy 0.17, but I have one / test one with slightly newer NumPy / SciPy.

To really solve this you'll need to parse the Travis log:

https://travis-ci.org/mne-tools/mne-python/jobs/580524370

In particular look at the `conda` logs, it does use 4.7.11 and does not end up using as old SciPy/NumPy as we wa

[2019-09-04 14:36] larsoner commented on #6710
I don't think this is a real problem. Installing Python packages nowadays is a lot easier than it used to be so relying on `sklearn` seems fine.

There are private functions that do the clustering step. These should already be separate from the ones that choose and iterate over permutations, etc. but if they aren't, we can separate them better. Then we could have `*_bootstrap_*` in place of `*_per

[2019-09-04 14:50] massich commented on #6627
That sounds good to me !!! :D

Maybe since we can be aggressive in bumping the dependencies since we'll be releaseing 'soonish'.

[2019-09-04 20:21] jasmainak opened #6737 "visualization of autoreject results in MNE"
Currently, the `autoreject` code hacks into MNE by copying the epochs plotting code and adding [two parameters](https://github.com/autoreject/autoreject/blob/master/autoreject/viz.py#L123). Unfortunately this is a [bit unwieldy to maintain](https://github.com/autoreject/autoreject/issues/153) on the `autoreject` side as we're using a ton of private functions in MNE and duplicating almost 1000 line

[2019-09-04 21:36] drammock commented on #6737
no objection from me.  I can work on this with you at the upcoming sprint if you want...  it may have been my recent changes to the plotting code that caused this in the first place

[2019-09-05 00:55] larsoner commented on #6737
- the first param, `bad_epoch_idx` -- I'm not sure why we'd need it, can't you just do `epochs[bad_epoch_idx].plot()`? If not, can you describe what it's trying to do?
-  the second param `log_labels` -- it seems like its job is to color specific parts of the `(n_channels, n_epochs)` plotting grid. So maybe the thing to do is make a new param called `epoch_colors` that defaults to `'auto'`, but ca

[2019-09-05 05:59] jasmainak commented on #6737
you could but I think it's nicer for people to see them next to the good epochs in red as you see them when you mark them interactively

I'm fine making `log_labels` more general than `autoreject`. I guess we could just make it so that the horizontal scrollbar colors the epoch if a column in `epoch_colors` have the same repeated value. Wdyt?

[2019-09-05 08:28] jshanna100 opened #6738 "coreg extremely slow"
Coreg in the development version is unusably slow for me - it takes more than 5 minutes to load headshape points, and any further operation which requires them to redraw takes similar amounts of time. It runs fine however on branch maint/0.18.

This is on Ubuntu 18.04 and mayavi 4.7.0.dev0

[2019-09-05 11:30] larsoner commented on #6738
Can you try #6732

[2019-09-05 16:05] larsoner commented on #6737
What does `bad_epoch_idx` actually do, then? If all it does is change the color, then that would already be handled by the proposed `epoch_colors` arg.

Whatever ends up looking reasonable. An average over the colors for the given epoch might be fine, too.

[2019-09-05 16:07] jshanna100 commented on #6738
Yep, works great. Thanks!

[2019-09-05 16:08] #6738 closed

[2019-09-05 18:25] #6627 closed

[2019-09-05 20:28] jasmainak commented on #6737
yep I think so

[2019-09-09 07:53] uesseu opened #6740 "FFT without adjusting wave length when performing CWT"
#### Problem
FFT of scipy does not require wave whose length is 2^n.
But, mne.time_frequency.trf._cwt forces make wave length 2^n.

#### My solution
I think, FFT of scipy factorizes wave length (if possible, to prime number).
The factorizing code is in scipy/fft/_pocketfft/pocketfft_hdronly.h line 1242.
It is known that, If wave length can be factorized, (elegant, but little slower)
new FFT algori

[2019-09-09 12:30] agramfort commented on #6740
we could offer this option but I am curious to know if you expect faster
computation
or better results?

[2019-09-09 14:10] uesseu commented on #6740
I am sorry, it does not return better results at all.

[2019-09-09 14:10] #6740 closed

[2019-09-09 14:26] vferat commented on #6155
Logically, annotations and aseg files should share the same labels names.

Shall we create a new class `VolumeLabel` or add an attribute to the existing one `Label` such as `voxels`.
 `LabeL.voxels` would be an array (n_voxels, 3) containing the x,y,z positions of each voxels belonging to the label ?
Maybe another attribute such as  `LabeL.trans` will be needed to store the vox2ras_tkr transformat

[2019-09-09 19:43] agramfort commented on #6155
to mimic the Label logic that is defined wrt the high resolution surface the VolumeLabel / VolLabel should be defined according to T1.mgz. I would have it use an attribute vertices (would avoid unnecessary branching I suspect) that would be a flat list if integers which corresponds to coordiantes in MRI 3d array after ravelling it to 1d. VolLabel would then be very close to Label API.

my 2c

[2019-09-09 22:26] drammock opened #6746 "DOC: instructions for using latest master shouldn't reference "mne" environment"
looks like #6540 changed the `name` field in the environment file from `mne` to `base`.  Was that intentional?  I am -1 on our install instructions changing people's base environment.

[2019-09-09 22:27] larsoner commented on #6746
Yes it was intentional, the idea being that naive users don't want to mess with environments and switching (think about anaconda windows with a Spyder shortcut), and expert users can override it easily

[2019-09-10 00:07] drammock commented on #6746
hmm. OK. it looks like the docs [here](https://mne.tools/dev/install/mne_python.html#installing-mne-python-and-its-dependencies) got updated to reflect this, but [the advanced install docs](https://mne.tools/dev/install/advanced.html#using-the-development-version-of-mne-python-latest-master) still refer to "the `mne` environment". We should fix that.

[2019-09-10 00:38] larsoner commented on #6746
Agreed, feel free to make a PR

[2019-09-10 11:29] #6746 closed

[2019-09-11 18:35] larsoner commented on #6479
Looks like this will not make it to 0.19, removing milestone

[2019-09-11 18:37] larsoner commented on #6531
@cbrnr will you be able to get to this in the next week? If so it can make it into 0.19, otherwise we'll push to 0.20

[2019-09-11 18:37] #6383 closed

[2019-09-11 18:40] larsoner commented on #5204
I can no longer reproduce, I'm assuming this was fixed with some of the coreg refactors

[2019-09-11 18:40] #5204 closed

[2019-09-11 18:40] larsoner commented on #5365
Clearing 0.19 milestones related to beamformer, @britta-wstnr let me know if there were things you wanted to get into 0.19

[2019-09-11 19:15] agramfort commented on #6479
@olafhauk will be at the MNE code sprint in Boston. It should be a good time to fix this or remove it completly

[2019-09-11 21:20] drammock commented on #6531
if @cbrnr doesn't have time in the nex week I could try to do this at the sprint.

[2019-09-12 01:52] larsoner opened #6757 "RFC: Release 0.19"
@mne-tools/contributors we are trying to push out 0.19 in the next week or so. I've gone through and tagged issues and PRs that I think should go in 0.19. Feel free to also have a look and comment if there are any you think should and realistically can make it in during that time.

[2019-09-12 06:53] #5830 closed

[2019-09-12 14:01] WilliamLabCea opened #6758 "ENH: concatenate_epochs can be more memory efficient"
Hello,

I was trying to concatenate 2 epochs with mne.concatenate_epochs, but python return memory error related to numpy array.

Last_epochs_standard = mne.concatenate_epochs([epochs1,epochs2])
Loading data for 33684 events and 1688 original time points ...
Loading data for 47154 events and 1688 original time points ...
Traceback (most recent call last):
  File "<input>", line 1, in <module>
  Fi

[2019-09-12 14:59] massich opened #6760 "[RFC] render API"
When working in #6714 I made some helper function to plot transformations. Here is some of the thoughts that came across with respect to the render API (as in comments of my code):

[code]

cc: @GuillaumeFavelier

[2019-09-12 16:11] AleDallavecchia opened #6762 "ICA sources plot_image"
I've been trying to plot individual epochs image of the individual ica sources. However, when I try plot_image, plot_epochs_image, etc. It gives me the same plot for each individual ICA component. When I reconstruct for example the evoked of the source myself, every component has a different evoked (as expected). This occurs also when I call the ica.plot_components as interactive. All the componen

[2019-09-13 15:08] vferat commented on #6762
Try:
`picks=range(0,20)` instead of `picks=range(0-20)` in `ica.plot_components(picks=range(0-20),inst=icacleaned)`

[2019-09-13 15:15] AleDallavecchia commented on #6762
Oh no I copied it in wrong, it was range(0,20). I've tinkered around a bit more and now it seems to be a problem I am having in Spyder. From powershell everything seems to work.

[2019-09-15 12:52] #3336 closed

[2019-09-15 14:17] larsoner opened #6770 "BUG: Somato BIDS dataset derivatives need to be updated"
Turns out there was a bug with the conversion in #6414 conversion. The subject used to be `somato` but now it's `01` and the `-src.fif` was never updated. We thus end up with:
[code]
which is wrong (and is now arguably correctly treated as an error downstream later by MNE). I have a quick fix for this but it would be good @jasmainak @sappelhoff if someone could re-create the src, fwd, and (if appl

[2019-09-15 16:23] caijulin101 opened #6772 "ss"
Detailed instructions on how to file a bug can be found in our [FAQ](https://mne.tools/dev/overview/faq.html#i-think-i-found-a-bug-what-do-i-do).

If your issue is a usage question, please consider asking on our [Gitter channel](https://gitter.im/mne-tools/mne-python) or on our [mailing list](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/mne_analysis) instead of opening an issue.

#### Describ

[2019-09-15 16:55] agramfort commented on #6772
this appears to be a mistake

[2019-09-15 16:55] #6772 closed

[2019-09-16 19:12] vassiki opened #6775 "low t-values affecting cluster based statistics"
I'm using the function `permutation_cluster_1samp_test` from the `cluster_level` module in `mne.stats`.  The output of `stat_fun` shows extraordinarily low t-values, which are all from nodes in the medial wall. I have provided a boolean array to the `exclude` argument of the function to list the nodes to exclude. The only clusters I am ending up with in my final results are those adjacent to the m

[2019-09-17 02:07] bill1234566 opened #6777 "ffff"
fdhsds

[2019-09-17 02:25] larsoner opened #6778 "DOC: Incorporate/revise `cookbook.rst`"
For @drammock at some point, from #6767 and for 0.20. `cookbook.rst` is a bit outdated. Maybe it can even just be replaced by a table of contents linking to other PRs (maybe after making the set of tutorials more complete)...?

[2019-09-17 04:48] jasmainak commented on #6770
@larsoner how urgent is this? can this wait till the sprint? @sappelhoff any chance you can fix it in the coming few days?

[2019-09-17 05:03] #6777 closed

[2019-09-17 09:23] sappelhoff commented on #6770
Unfortunately I am completely swamped and won't be able to submit a fix for this :(

[2019-09-17 13:59] larsoner commented on #6770
It can wait until 0.20, I pushed a workaround in #6771

[2019-09-17 14:47] agramfort opened #6779 "Missing python scripts from all tutorials"
when trying to download a .py script for a tutorial at the bottom of the page it's telling me that the file does not exist. For example this link is broken:

https://mne.tools/dev/_downloads/36e789cbf04a4ef0f75e81dbcd49ca2a/plot_20_events_from_raw.py

this link is the download button at the bottom of https://mne.tools/dev/auto_tutorials/preprocessing/plot_10_preprocessing_overview.html#low-frequen

[2019-09-17 14:49] larsoner commented on #6779
It's because the conditional I added here was wrong:

https://github.com/mne-tools/mne-python/blame/master/.circleci/config.yml#L240

[2019-09-17 16:11] #6779 closed

[2019-09-17 17:47] larsoner commented on #6757
Closing as 0.19 should be doable this week, all that is left is whatever is remaining for deprecation in #3893 plus a bit of docs in #6767

[2019-09-17 17:47] #6757 closed

[2019-09-17 22:13] jasmainak opened #6782 "Better handling of montage files"
When reading montage files, users seem to face a number of issues.

1. Documentation of the different file formats is not clear. For example, *.hpts should not have a header and a column of type. This is not clearly explained anywhere. You cannot figure this out without looking at the code.

2. Inconsistent handling of `numpy` versions when reading text files. Here it is handled properly: https://

[2019-09-18 06:57] agramfort commented on #6782
FYI the read_montage is currently being deprecated in
https://github.com/mne-tools/mne-python/pull/6764

to make sure we are addressing the issue @fmamashli
<https://github.com/fmamashli> can you clarify the usecase? How was the
.hpts
file produced? what does it contain? points in what coordinate system?

[2019-09-18 09:05] vferat commented on #6707
My plan was to creates the following functions in addition to `mne make_setup_source_space`
1. mne setup_forward model ( MNE-C: [mne_setup_forward_model](https://www.nmr.mgh.harvard.edu/mne/dev/manual/c_reference.html#id134) )
[code]
2. mne prepare_bem_model ( MNE-C: [mne_prepare_bem_model](https://www.nmr.mgh.harvard.edu/mne/dev/manual/c_reference.html#id185) )
[code]
3. mne forward_solution ( MN

[2019-09-18 09:28] agramfort commented on #6707
no strong feeling here. but let's do one command at a time in different PRs

[2019-09-18 09:55] JoseAlanis commented on #6710
Hey guys, thanks a lot for your feedback. I opened a PR for improving the documentation on the LIMO dataset and also adding a proposal for how a subject-level regression function could look like. The we could take the output of that function and use it for group-level inference. Looking forward to your comments.

[2019-09-18 12:10] massich commented on #6782
we bumped the minimum version of numpy. We no longer need to keep both versions of skip_row / header.

[2019-09-18 13:59] larsoner opened #6784 "ENH: API for subcortical surface source spaces"
It turns out (I think!) you can take just about any subcortical ROI and turn it into a surface using a few FreeSurfer commands:
[code]
The `.smooth` surfaces look reasonable for the MNE `sample` subject:

![Screenshot from 2019-08-16 14-50-48](https://user-images.githubusercontent.com/2365790/65154225-1c83e200-d9f9-11e9-9da9-e482f5aebfd2.png)

And they can be inflated to a sphere (so that they can

[2019-09-18 17:19] fmamashli commented on #6782
We digitized the channels using a new system: [Localite](https://www.localite.de/en/products/tms-navigator/).
.hpts: we followed MNE manual: EEG, channels name, coordinates (x,y,z) in mm.
The coordinate system is RAS.

The problem was that in MNE-python, there was no good documentation on the format of the files and what exactly it should contain. like headers, columns, coordinate system.

[2019-09-18 17:35] jasmainak commented on #6782
also just to add to what @fmamashli said, see the [documentation of mne-c](https://mne.tools/stable/manual/c_reference.html?highlight=hpts#mne-convert-dig-data). It is clearly mentioned what the format should look like.

[2019-09-18 19:04] agramfort commented on #6782
if you use the current master you can try this command:
https://mne.tools/dev/generated/mne.channels.make_dig_montage.html#mne.channels.make_dig_montage

provided you have the locations already read in python

you could ideally specify that the points are in MRI RAS and then it should
work just fine (hopefully).

share some fake data if needed.

[2019-09-18 19:23] agramfort commented on #6784
sounds good !

[2019-09-19 13:28] larsoner commented on #6278
@ckiefer0 did you look into this? I looked very briefly at what `nilearn` had at one point and it sounds a lot like what you've been implementing (including support for 3D and 4D atlases).

I have a feeling that the topic of this issue should be solvable with `nilearn` plus the API that @agramfort proposed at the end of #6155

[2019-09-19 13:30] larsoner commented on #5688
@vivekosdd the volume label code was recently updated so it's possible this bug is fixed, feel free to try again. If it still fails, feel free to reopen (preferably with some data and a minimal script to reproduce the error)

[2019-09-19 13:30] #5688 closed

[2019-09-19 13:33] larsoner commented on #5552
Agreed these should work and give the same result (I'll look into it):
[code]

We have this now with http://mne.tools/dev/generated/mne.labels_to_stc.html

[2019-09-19 13:38] larsoner commented on #6265
FYI @TommyClausner in #6046 I fixed some stuff that was wrong with the `stc.vertices` that came from `SourceMorph`, see [this comment](https://github.com/mne-tools/mne-python/pull/6046#issuecomment-530505137). Can you see if your script can be simplified now?

[2019-09-19 13:42] ckiefer0 commented on #6278
I haven't spent any time on this recently. What you see in the gist is the current state where I fetch different atlases with nilearn and then use get_atlas_volume_labels() to assign labels to the voxels in the source space.

[2019-09-19 13:55] massich opened #6788 "read_dig_captrack ignores eeg ref"
see this:
https://github.com/mne-tools/mne-python/blob/29b05f2f593f997168d2f29a41829f68f56ad5df/mne/channels/_dig_montage_utils.py#L185-L189

[2019-09-19 14:17] 2220160084 commented on #4837
Hello, wangwuqi, i come accross the same problem, i cannot understand how did you change the ASCII code in edf file, would you please provide me some tips about how did you deal with this problem? thank you.

[2019-09-19 14:57] larsoner commented on #5758
Closing as this seems solved, feel free to reopen if not

[2019-09-19 14:57] #5758 closed

[2019-09-19 20:17] drammock opened #6792 "DOC, RFC: better visibility for "algorithms" pages"
#6767 yielded a few documentation pages that are live, but are not very findable; they are located in `doc/overview/algorithms`. Most are very good; a couple of them may need some cleanup / fleshing out. Find a way to make them more discoverable. Possibilities:

1. an algorithms TOC page that is linked from `docs/overview/index.rst`
2. combine the algorithms pages into one page that is linked from

[2019-09-19 20:30] drammock commented on #5937
closing because the tutorials are now in a fixed order and there is a new docs landing page.

[2019-09-19 20:30] #5937 closed

[2019-09-19 21:19] drammock commented on #5630
MNE-C is still behind a login wall.  We can add a bigger button I guess, but it will still go [here](http://www.nmr.mgh.harvard.edu/martinos/userInfo/data/MNE_register/index.php).  @massich given how the MNE-C install page looks now, is this still something you want implemented?

![Screenshot_2019-09-19_14-18-13](https://user-images.githubusercontent.com/1810515/65281903-77483700-dae8-11e9-911e-1f

[2019-09-19 22:15] drammock opened #6794 "DOC: 2019-09 documentation TODO list"
In preparation for the Sept/Oct code sprint in Woods Hole, here is a list of TODO items for the documentation. This is not a complete list, but hopefully everyone can find one documentation item to work on during the week.

### probably fairly easy?

- [ ] #6455 need clearer error message when output of `events_from_annotations` (a tuple of events array + event_id dict) is passed to Epochs constru

[2019-09-20 12:37] MarliesG opened #6795 "mne.convert_forward_solution : option force_fixed"
Hi all,

I'm trying to solve the forward model. I've noticed that the option force_fixed can be set to True (and although the function stated commented out that the option force_fixed is not currently available, it does somehow the job). Therefore: can the option force_fixed be used? And if so which orientation fixed source orientation is used (not entirely clear from https://www.nmr.mgh.harvard.e

[2019-09-20 13:26] agramfort commented on #6795
it uses the normal orientation to the cortex

[2019-09-20 13:44] psyhbf opened #6796 "Can't read eeglab file: AttributeError"
Hi,
I am a new mne-python user. when I am trying to import evoked eeglab data for topomap:
import mne
data=mne.read_epochs_eeglab('sub01_epochs_BEFORE_ICA_rej_wrong_extreme_S1_Con.set')

there occurs an error:
AttributeError: 'Bunch' object has no attribute 'trials'
![1](https://user-images.githubusercontent.com/55588462/65331615-b44b2100-dbef-11e9-82ae-798ab86c67bb.jpg)

I don't know where the pr

[2019-09-20 13:48] agramfort commented on #6796
can you share the file with me so I can look at it?

[2019-09-20 13:52] psyhbf commented on #6796
Please see the attached file.
thank you very much!

------------------ 原始邮件 ------------------
发件人: "Alexandre Gramfort"<notifications@github.com>;
发送时间: 2019年9月20日(星期五) 晚上9:48
收件人: "mne-tools/mne-python"<mne-python@noreply.github.com>;
抄送: "蓝天·翔云"<723863343@qq.com>;"State change"<state_change@noreply.github.com>;
主题: Re: [mne-tools/mne-python] Can't read eeglab file: AttributeError(#6796)

can yo

[2019-09-20 13:53] larsoner commented on #6796
Attachments to emails to GitHub (which just make comments on the GitHub site) do not come through. Can you upload to DropBox or email @agramfort separately?

[2019-09-20 14:03] psyhbf commented on #6796
Sorry. the file is too big. I have emailed @agramfort.

[2019-09-20 14:19] agramfort commented on #6796
it's a problem with the file (although EEGLAB reads it fine)

you have one level too much of EEG structure.

I need to do:

eeg['EEG']['EEG']

rather than:

eeg['EEG']

how did you save this file?

[2019-09-20 15:20] #6032 closed

[2019-09-20 15:20] #6048 closed

[2019-09-21 03:09] psyhbf commented on #6796
it was saved by "pop_saveset()".
is it possible the using incompatible software? (matlab 7.9.0, eeglab v11.0.5.4b)

[2019-09-21 07:31] jasmainak commented on #6792
I don't quite like "implementation details" because it gives the impression that they are not important. Something I've realized after discussions with @mshamalainen is that we miss the mathematical details in MNE-Python.

Scikit-learn does a good job in their "user guide" and so does the MNE-C manual. But MNE-Python really skims over it. I shouldn't have to go read 5 papers to figure out what is

[2019-09-21 09:40] #5552 closed

[2019-09-21 16:52] ossadtchi opened #6801 "can't raw.filter MISC channels"
Hello!

With raw.filter I can not filter the instance of the raw created with pick_channels using names of MISC channels. It complains about not finding the channels to work with. Is it intended and one is supposed to filter only EEG or MEG channels? I would love to have a "parallel" code handling the two types of channels!

works:
[code]
does not work:
[code]
THANKS!!

[2019-09-21 16:59] agramfort commented on #6801
`raw.filter` filters only data channels (EEG, MEG). You need to pass picks parameter manually to the  filter method. Please reopen if it does not work.

[2019-09-21 19:48] #6788 closed

[2019-09-21 19:52] larsoner commented on #6461
@massich do we need any of the rest of these for 0.19? Or just #6764?

[2019-09-21 19:54] larsoner commented on #5893
This was hopefully fixed by #6434

[2019-09-21 19:54] #5893 closed

[2019-09-21 19:54] larsoner commented on #5630
It looks clear enough given the new title/org so I'll close, but feel free to reopen if you disagree @massich

[2019-09-21 19:54] #5630 closed

[2019-09-21 19:55] larsoner commented on #5599
Sounds like `deprecated_call` is what we can/should try to stick to, and we can do this for 0.20 deprecations so I'll close this in slight anticipation of doing so

[2019-09-21 19:55] #5599 closed

[2019-09-21 19:56] larsoner commented on #6698
Closing for #6434

[2019-09-21 19:56] #6698 closed

[2019-09-21 19:56] larsoner commented on #6698
Whoops I mean #6461

[2019-09-21 19:56] larsoner commented on #6724
@massich I was going to say that we should do this as soon as 0.20 is out, but then backporting any fixes will be much harder. So maybe this should be done in 0.19.

[2019-09-21 19:58] larsoner commented on #3893
Closing this since hopefully most of this has been taken care of by the last set of PRs, and we are tracking things in #6461 now

[2019-09-21 19:58] #3893 closed

[2019-09-22 03:52] jasmainak commented on #6782
We managed for now. But I would say you need a documentation page analogous to [this one](https://www.nmr.mgh.harvard.edu/mne/stable/manual/io.html) for reading in raw files.

[2019-09-22 14:14] ossadtchi commented on #6801
Thanks, Alex, but if I understood you correctly
neither
[code]
nor
[code]

[2019-09-22 14:24] ossadtchi opened #6802 "Can't raw.filter MISC channels"
With raw.filter I can not filter the instance of the raw created with ```pick_channels``` using names of MISC channels. It complains about not finding the channels to work with. Still does not work when I tried to explicitly specify ```picks``` to the ```raw.filter``` method using either indices or channel names. Both of these instructions fail:
[code]

[2019-09-22 14:47] agramfort commented on #6801
can you share a minimal code snippet to replicate the issue using mne sample data?

[2019-09-22 14:48] agramfort commented on #6802
this is the same issue as #6801 6801

[2019-09-22 14:48] #6802 closed

[2019-09-22 15:16] ossadtchi commented on #6801
Thanks! Yes, here it is. Should be OK with any raw fif file.
[code]

[2019-09-22 15:33] ossadtchi commented on #6801
There seem to be no MISC channels in sample_audvis_raw.fif.
[code]
returns empty ```picks_misc```

[2019-09-22 16:01] agramfort commented on #6801
here is another snippet I was hacking

[code]

@larsoner this is a regression that appeared with the new picks API.

[2019-09-22 16:35] agramfort commented on #6801
@larsoner I would appreciate your help here as it touches the new logic of pick. I can hack something but you certainly have a simpler approach in mind.

[2019-09-22 17:06] ossadtchi commented on #6801
may be introducing  a special channel type that CAN be filtered but normally there are no channels of this  type. Then, "non-filterable", but requested by the user channels, can be reassigned to this special type, filtered and then set back to their original type.

[2019-09-22 18:44] larsoner commented on #6801
I can look tonight or tomorrow, should be some simple fix in principle

[2019-09-22 19:43] jhouck opened #6803 "ENH: Prevent users from making some poor choices in volumes"
From the [gitter](https://gitter.im/mne-tools/mne-python?at=5d8780f3c77f285fb1c2ede4). In a `VolVectorSourceEstimate` or a `VolSourceEstimate`, attempting to use the inherited `normal` probably should at throw an error, or at least a warning.  It might also be good for the various `apply_inverse` functions to do something similar in these spaces when `pick_ori='normal'`.  Looks like `_compute_beam

[2019-09-22 20:37] drammock commented on #6792
looks like in #6767 we also lost [the io page](https://www.nmr.mgh.harvard.edu/mne/stable/manual/io.html), @agramfort might want to restore it?

[2019-09-22 22:25] larsoner commented on #6792
Yeah we should probably restore it for release

[2019-09-22 22:37] larsoner commented on #6792
There was a lot of overlap between the old pages but I didn't mean to remove the content. So yes restore plus deduplicate is the way to go. @drammock feel free to go for it on Monday, we should be able to release Tues or Wed hopefully

[2019-09-22 22:37] larsoner commented on #6803
I can fix this tomorrow, would be good to make it an error before release

[2019-09-23 08:22] agramfort commented on #6796
https://github.com/mne-tools/mne-python/pull/6806/files should fix it. I'll merge when green.

[2019-09-23 08:37] SophieHerbst opened #6807 "ValueError: Found a key with "/" when saving single tial power"
I am trying to save single trial power to .h5 and get the following error:

It seems to come from the event_id, which is a dict:

I would like to preserve the event information for single trials. How would I turn off the slash='error' in write_hdf5 (and would that cause any trouble)?

Here is my code. I can share the epochs if needed:
[code]

Thanks!
Sophie

[2019-09-23 08:42] SophieHerbst commented on #6807
Well,
`power.event_id = {'pitch_NP': 1, 'pitch_P': 2, 'time_NP': 3, 'time_P': 4}`
fixes it, but is there a way to preserve the event names with 2 conditions?

[2019-09-23 09:30] #6796 closed

[2019-09-23 09:46] agramfort commented on #6807
can you share with me a code snippet to replicate the pb? ideally I should
just copy paste
to see the issue. It will save me a bit of time.

thx

[2019-09-23 13:19] #6803 closed

[2019-09-23 14:17] #6801 closed

[2019-09-23 15:49] massich opened #6810 "RFC: Draft for the new release note v0.19"
I put together a release note, please feel free to comment on it (or edit).

---

Dear community!

We are very pleased to announce the new 0.19 release of MNE-Python (http://mne.tools/stable/).

A few highlights
================

- New URL http://mne.tools
- Reorganized documentation, with 19 new or revised tutorials.
- Automatic MRI fiducial estimation based on MNI Talairach transforms.
- Improve

[2019-09-23 16:05] massich commented on #6724
I was planning to do that after the release. And maybe some bugs pop up. So I would let it for afterwards. Backported if we have to, and have a nice clean code by the end of next week.

[2019-09-23 16:06] larsoner commented on #6724
Okay it can wait

[2019-09-23 16:09] massich commented on #6724
:) neither do I I've been willing to that for a LONG time :)
plus merge all the kit and others...

[2019-09-23 16:22] larsoner commented on #6810
Done with my pass

[2019-09-23 16:41] levchenkoegor commented on #6587
Just a little updated - the problem was that colleagues send me these files not raw, but after manipulations in their software. This software is making format of the file incompatible with other toolboxes as I understood.

I think it is can be closed.

[2019-09-23 16:41] #6587 closed

[2019-09-23 16:42] larsoner commented on #6587
Great, thanks for following up @levchenkoegor

[2019-09-23 16:44] massich commented on #6810
I did my pas aswell.

[2019-09-23 16:51] massich commented on #6461
I think #6764 is enough. I'm closing this one

[2019-09-23 16:51] #6461 closed

[2019-09-23 17:35] drammock commented on #6810
I've done mine.

[2019-09-23 18:56] cbrnr commented on #6810
Done.

[2019-09-23 19:41] agramfort commented on #6782
should be fine now with:

https://mne.tools/dev/auto_tutorials/misc/plot_sensor_locations.html#sphx-glr-auto-tutorials-misc-plot-sensor-locations-py

https://mne.tools/dev/overview/implementation.html#dig-formats

[2019-09-23 20:09] #6782 closed

[2019-09-23 20:47] jasmainak commented on #6782
Cool !

[2019-09-23 22:01] fmamashli opened #6814 "RFC: info['dev_head_t'] for EEG-only data: np.eye(4) or None"
#### Describe the bug
When I read the vhdr file in MNE-C, it provides an identity matrix for device to head transformation, saved in `raw.info['dev_head_t']`
However, when I read the data in MNE-python, the `raw.info['dev_head_t'] = None`

I could fix this error by creating the transformation matrix as follows:

[code]
#### Steps and/or code to reproduce
The error is reproduced with the following

[2019-09-23 22:22] larsoner commented on #6814
I think the behavior of MNE-Python setting `info['dev_head_t'] = None` is actually more correct in this case. There is no MEG<->head to transform so there should be no `dev_head_t`.

For example, `None` can be found straight off of the Neuromag scanner:
[code]
But we should probably fix the issue where you can't create and save / load a forward and/or inverse without it. Our check should probably

[2019-09-23 22:22] larsoner commented on #6814
(And we should do this before 0.19 or backport a fix :( )

[2019-09-23 22:46] larsoner commented on #6814
For 0.19 I'll revert to doing `info['dev_head_t'] = Transform('meg', 'head', np.eye(4))` so we can punt for now, and decide later if this should be `None`. I think it should be but MNE-C might need to be updated accordingly, and we can discuss with Matti if it makes sense.

[2019-09-23 23:45] larsoner opened #6816 "ENH: Add equivalent of `mne_organize_dicom`"
There are refs in the C manual to `mne_organize_dicom` for FLASH BEM use. Should we make a Python equivalent? It's the one thing that was missing while removing `mne_*` from the MNE-Python docs.

[2019-09-24 03:06] larsoner commented on #6816
I'm actually thinking I should close this as `wontfix`. I have successfully used `dcm2niix` with Philips DICOM files so presumably the same thing will work for Siemens, and it should be fairly straightforward for people to do given our existing docs of what needs to be where for `mne flash_bem`. After #6809 hopefully it's clear enough for people and we can just iterate as they find problems.

[2019-09-24 03:06] #6816 closed

[2019-09-24 03:14] #6792 closed

[2019-09-24 03:50] jasmainak commented on #6814
@larsoner if you know that you are working with EEG data, then why does `dev_head_t=None` make more sense that `dev_head_t=np.identity(4)` ? It's brainvision data, so the reader should not set it to `None`

[2019-09-24 07:45] agramfort commented on #6814
this is no device when you have EEG so dev_head_t = None is more correct
for me.

[2019-09-24 07:59] massich commented on #6814
@jasmainak why the reader should make that assumption. The reader (as a producer) should read and propagate that the transformation was not there. Then the consumer should be aware that the data can be incomplete and decide to do the right thing.

Then if we decide that this piece of data is required and never missing. Then all readers should populate it and `dev_head_t` other than a valid transfo

[2019-09-24 07:59] massich commented on #6814
(sorry for clossing, I pushed the wrong button)

[2019-09-24 08:28] SophieHerbst commented on #6807
Hi Alex, Here is the code snippet. I am sending you a download link for an example epo.fif
Thank you!

[code]

[2019-09-24 14:28] agramfort commented on #6807
here is an example that does not require to download any data:

[code]

basically the h5io lib we use to write hdf5 files should escape the strings so `/` becomes `\/`

hopefully something like this should work

[2019-09-24 14:38] adam2392 opened #6820 "Expected values from find_edf_events: missing annotations for EDF+D, but not EDF+C in 0.18"
Using MacOSX and conda environment, I downloaded two versions of MNE. Using mne==0.17.2 and 0.18 current version, you take two sets of EDF files (EDF+D and EDF+C). They can be manually converted using edfbrowser.

For the EDF+D file it works for 0.17.2, but not 0.18.

Both versions work when the file is in EDF+C format though. Sample code is below. Test data is available upon request (@larsoner ha

[2019-09-24 14:39] adam2392 commented on #6820
I will try looking at: mne/io/edf/edf.py to see how it's correctly finding the events and then look at differences with respect to version 0.18+.

[2019-09-24 15:27] #6810 closed

[2019-09-24 15:31] jasmainak commented on #6814
well if the program crashes when you run the pipeline, you should also give the solution. Currently there is no documentation for the [Transform class](https://www.nmr.mgh.harvard.edu/mne/stable/generated/mne.transforms.Transform.html#mne.transforms.Transform). It's not used in a single example. Otherwise how do you expect people with Brainvision systems to do source localization?

Also, it's inco

[2019-09-24 18:04] cbrnr commented on #6820
I don't understand what the problem is. Are the annotations incorrect? Or is it the conversion to events?

[2019-09-24 18:05] larsoner commented on #6820
The annotations are missing, yeah

[2019-09-24 18:50] agramfort commented on #6814
let's be pragmatic here and keep it as it is to avoid errors in other
implementations.

[2019-09-24 18:58] larsoner commented on #6814
Okay, let's leave as `np.eye` then

[2019-09-24 18:58] #6814 closed

[2019-09-25 08:17] DominiqueMakowski opened #6824 "Deymed TruScan montage file (.ced file)"
Hi guys, firstly, thanks again for mne which allowed me to successfully finish my PhD 🥇🎉

My new workplace has a 128 channels [TruScan Deymed system](https://deymed.com/truscan-eeg), from which I've been trying to get usable data.

However, the montage is not supported natively by mne. The customer service sent me a .txt file ([deymed_layout_128.txt](https://github.com/mne-tools/mne-python/files/3

[2019-09-25 08:39] agramfort commented on #6824
with new 0.19 version you can use make_dig_montage provided you've read the
locations yourself.

Otherwise look at the code of read_custom_montage to see how to handle
polar coordinates

[2019-09-25 08:51] DominiqueMakowski commented on #6824
What do you mean by that?

I've looked at the biosemi montages shipped by default (the .txt file) and they have three columns, Site (the name), and then Phi and Theta. If I adapt the Deymed .txt file by only keeping the name, phi and theta columns (i.e., removing the x y z coordinates), and then read using `read_montage`, would that work (and be sufficient for correctly displaying / processing the

[2019-09-25 08:53] agramfort commented on #6824
read_montage is deprecated in 0.19

use read_custom_montage, make_standard_montage or make_dig_montage

have a look for example at
https://github.com/mne-tools/mne-python/blob/master/mne/channels/_standard_montage_utils.py#L86

[2019-09-25 08:59] cbrnr commented on #6820
@adam2392 can you share the two files with me as well?

[2019-09-25 16:51] adam2392 commented on #6820
@cbrnr https://gist.github.com/adam2392/8a9b687594eb440a0f6a9824a6aa6293

[2019-09-26 05:16] christian-oreilly opened #6828 "Rounding errors in ICA"
#### Describe the bug
I get important round-off errors when applying ICA to my recordings.

#### Steps and/or code to reproduce
The following code demonstrates the issue.

[code]
The three prints give me...
[code]
It could be argued that this error is relatively small (8.21e-11), but it should be null here. Anyway, I would not have reported this issue if this was the biggest error that I found. Th

[2019-09-26 06:42] cbrnr commented on #6828
It seems like some ICA algorithms are numerically not very stable, see e.g. this issue here: https://github.com/mne-tools/mne-python/issues/4922
Back then we decided that there's not much we can do unfortunately, but I'm open to discussing this issue again.

[2019-09-26 06:44] cbrnr commented on #6828
See also the discussion in #3049.

[2019-09-26 07:28] cbrnr commented on #6820
Something is wrong with both files. EDFbrowser can't read these files - the error mentions that the local patient identification field does not comply to the EDF+ standard.

SigViewer (which uses libbiosig) can load `test_edfc.edf` and shows 28 events (which correspond to what you expected). However, even though SigViewer can also load `test_edfd.edf`, it finds 2342 events - which is not what you

[2019-09-26 07:43] agramfort commented on #6828
2 things:
- no you should not expect 0 as you shuffle the columns and the order in which you do numerical operations matters. This is particularly true if you use multithread linear algebra (mkl_rt here)
- epochs are saved in float32 to avoid too big files. it's a trade off.

finally on my system that uses openblas I get

[code]

try using openblas or disabling multithreading in mkl.

[2019-09-26 08:43] cbrnr opened #6829 "Remove deprecations"
It seems like some deprecated functions were not removed in 0.19, e.g. https://github.com/mne-tools/mne-python/blob/b3f46657fad1599262b6290b0c97a14d264ffc78/mne/io/edf/edf.py#L30-L32 and https://github.com/mne-tools/mne-python/blob/76ee63ff92b0424a304a12532d0cb53c0833a0ec/mne/simulation/evoked.py#L84-L86 Does anyone already have a script to automate this? Otherwise, I can remove these things manua

[2019-09-26 08:49] agramfort commented on #6829
We're removing them in 0.20 then.

too late to fix after the release.

[2019-09-26 11:36] poojaprabhu9 commented on #6265
I tried it. it seems that the problem is till intact.
I used the mne 0.19.0.

[2019-09-26 12:23] larsoner commented on #6265
Yes we have not fixed this yet

[2019-09-26 14:31] larsoner commented on #6829
Made a quick PR for the first one in #6830, the second one was merged with #6825

[2019-09-26 14:39] christian-oreilly commented on #6828
Thanks to both of you for this fast feedback.

In the example I given and I refered to, the indexing did not shuffle anything. It did nothing conceptually, just like x[range(len(x))] does nothing to x conceptually. That is why I was saying that we should expect x not to change under such an operation.

You were right. Switching to Openblas solved the issue. Now I have no rounding error at all. Tha

[2019-09-26 14:42] larsoner commented on #6828
Sounds like things are settled here so let's go ahead and close.

[2019-09-26 14:42] #6828 closed

[2019-09-26 16:31] #6829 closed

[2019-09-26 22:33] nithyar89 opened #6833 "mlab rendering issue"
Hi,

i have a very similar problem to this issue https://github.com/mne-tools/mne-python/issues/5463 , where, mne coreg gives me the coreg window with an empty frame where the 3D display should be. Also, coregistration seems to be doing something when I push buttons, and I can set options etc., but no visualization appears on-screen. Also, the console fills with VTK errors that seem to deal with v

[2019-09-27 00:45] larsoner commented on #6833
MNE 0.19 was released this week, can you try it? It contains some fixes. In particular the `--simple-rendering` flag might fix things for you

[2019-09-27 15:00] larsoner opened #6834 "API: Compat between MNE-C and MNE-Python `-annot.fif`"
This is not so good for compat:
[code]
The only difference between this file and a standard `-eve.fif` is this line:
[code]
If I fix our I/O function to give us something nicer here than the `>>>>BAD` error it turns out this is:
[code]
So in principle these could be read as annotations with zero duration, or as events + descriptions.

Not sure what the best approach would be. But a good first step

[2019-09-27 17:01] nugenta opened #6836 "mne.preprocessing.corrmap auto threshold error handling"
using the threshold="auto" option in corrmap sets the lower threshold for correlation at 0.6 - if there is no correlation above that threshold, the routine dies with the not terribly informative "ValueError: x or y has zero length". Could either have a lower min threshold that's checked, or just provide feedback that there are no maps correlating above threshold.

[2019-09-27 19:47] larsoner opened #6837 "BUG: morph.as_volume does not check subject `src`"
@jhouck is able to do this for `inv` defined for `sample`:
[code]
Assuming the `inv` has a properly defined `src[0]['subject_his_id']` this should not be possible. If that field is not defined, we should probably update the `sample` dataset.

[2019-09-27 20:40] jhouck commented on #6837
I did double-check, and for that file (sample_audvis-meg-vol-7-meg-inv.fif) `inverse_operator['src'][0]['subject_his_id']` is None.

[2019-09-27 20:43] larsoner commented on #6837
Ahh okay. So maybe it does check. But we should probably update the `sample` dataset.

[2019-09-27 21:00] jhouck commented on #6837
Maybe also a warning if you load/create an inverse operator when its subject is None?

[2019-09-27 22:03] nithyar89 commented on #6833
Thanks! We will try getting our NVIDIA GPU to render through virtualGL so we can do hardware accelerated graphics first. If that doesnt work, i could install MNE 0.19. Does the --simple-rendering flag force mayavi to use software rendering using the CPU?

[2019-09-27 22:50] larsoner commented on #6833
No it just uses slightly simpler OpenGL rendering techniques

[2019-09-28 02:43] larsoner commented on #6265
Okay @TommyClausner I might have a bit more insight into this now, I think I've come to see some of the things you pointed out above. Sorry in advance for the wall of text. I'll try to make a PR sometime next week to add code comments to the volume source space code to make sure all this is accurate.

If we look at where the `sample` source space in the inverse comes from:
[code]
We can recreate t

[2019-09-28 03:25] larsoner commented on #6265
@TommyClausner I adapted your script above into [gist](https://gist.github.com/larsoner/3671bb6daea274bdc6812649cff574fc) showing that if we:

1. Set the `sphere` size so it makes a shape of `(51, 51, 51)` (what the SourceMorph does), and
2. Replace the `affine`

You can get the `stc.plot(src)`, `stc.plot(morph)`, and `stc_fs.plot(src_fs)` to all match. This is all consistent with the stuff above.

[2019-09-28 11:30] larsoner commented on #6837
That's probably a reasonable thing to do, too.

[2019-09-28 12:50] mariusrak opened #6839 "Use eye-tracker data to reference ICA"
Hi,
I have Eye-Tracker (ET) data recorded alongside EEG data. The ET data contains X,Y positions for both eyes on screen. The data are 4 time series, values are in pixels (0 - 1080/1920) or -1 if invalid (e.g. blink, not looking at screen). Would it be possible to use them for ICA as substitute for EOG channel? I'd like to try if ICA can correlate components to the ET data, which might help with a

[2019-09-28 13:02] prateekj117 commented on #3985
@larsoner We should change the installation command for sphinx-autobuild and doc8 in the documentation from `conda install sphinx-autobuild doc8` to `conda install -c conda-forge sphinx-autobuild doc8` in case someone does not have conda-forge added to their channel list.

Rather than opening a separate issue, I think it would be more appropriate to add it here.

[2019-09-29 10:45] agramfort commented on #6839
ICA algorithms we commonly use treat all channels equally. One is not a
reference even if you pass an EOG
it will be as another EEG channel. You can just tell mne that the misc / ET
signals are EEG channels to run ICA.
It's a hack but it should work

[2019-09-30 06:58] caviri opened #6840 "Loading edf raw file""
Hello, I found this small problem when I try to load an edf file

#### Describe the bug
When I try to load an EDF file this error appears:

#### Steps and/or code to reproduce

[code]

#### Expected results
I expect the file loaded

#### Actual results

[code]

#### Additional information
[code]

[2019-09-30 06:59] caviri opened #6841 "Loading edf raw file: could not convert string to float:"
Hello, I found this small problem when I try to load an edf file

#### Describe the bug
When I try to load an EDF file this error appears:

#### Steps and/or code to reproduce

[code]

#### Expected results
I expect the file loaded

#### Actual results

[code]

#### Additional information
[code]

Thanks!

[2019-09-30 07:13] cbrnr commented on #6840
It looks like this file is recognized as a GDF file. Could you share the file so that I can reproduce the error?

[2019-09-30 07:14] cbrnr commented on #6841
It looks like this file is recognized as a GDF file. Could you share the file so that I can reproduce the error?

[2019-09-30 07:14] cbrnr commented on #6840
Closing since this was apparently accidentally created - discussion continued in #6841.

[2019-09-30 07:14] #6840 closed

[2019-09-30 07:25] caviri commented on #6841
Unfortunately I'm not allowed to share the file but thanks for your fast comment. I rename the file with .edf extension and it works.

[2019-09-30 07:25] #6841 closed

[2019-09-30 09:43] #6824 closed

[2019-09-30 09:54] agramfort commented on #6824
looks good !

if you can have the fiducials too that would be great and useful for any
source analysis using
such a template montage.

[2019-09-30 10:09] DominiqueMakowski commented on #6824
@agramfort Thanks!

May I know if these fiducial points are information that I can obtain from the vendor (i.e., fixed values for the cap) or is it something acquired for each individual subject using, for instance, their MRI?

And out of curiosity, why is the coordinates array specified as yxz (I would have expected xyz)?

[2019-09-30 12:44] agramfort commented on #6824
you can get it from template. You can also infer it from where the ears are
on the cap.

see for example
https://mne.tools/stable/auto_tutorials/source-modeling/plot_eeg_no_mri.html
to see how it should look like on fsaverage.

it's the convention of the head coord system in MNE. See:
https://mne.tools/dev/auto_tutorials/source-modeling/plot_source_alignment.html#coordinate-frame-definitions

[2019-09-30 17:30] nschawor opened #6842 "mne.Epochs with event_repeated parameter throws RuntimeError"
MNE 0.19 has a convenient event_repeated parameter in mne.Epochs. But it does not work, a RuntimeError is thrown when trying to use it.

#### Steps and/or code to reproduce
[code]

#### Expected results
An epoch structure should be created with the repeated events dropped.

#### Actual results
`RuntimeError: Event time samples were not unique. Consider setting the event_repeated parameter."`

[2019-09-30 17:33] larsoner commented on #6842
@sappelhoff can you look?

[2019-09-30 18:12] sappelhoff commented on #6842
I am on vacation right now with only my smartphone ... So it'll take 14 more days until i can look, sorry-------- Original Message --------Subject: Re: [mne-tools/mne-python] mne.Epochs with event_repeated parameter throws RuntimeError (#6842)From: Eric Larson To: mne-tools/mne-python CC: Stefan Appelhoff ,Mention @sappelhoff can you look?

—You are receiving this because you were mentioned.Reply

[2019-09-30 18:49] agramfort opened #6844 "Improve mne anomymize"
mne.anonymize should be doing similar things in cpp and python

cc @LorenzE

[2019-09-30 18:54] SherazKhan opened #6845 "Remote visualization using dash and JS"
# Problem
Remote visualization for brain surfaces and time series from fif files using data from S3.

# MVP:
A basic app that can load freesurfer segmented surface in the browser and overlay texture map.

[2019-09-30 18:54] agramfort opened #6846 "measurement Info shoudl have a _reprt_html method to be printed in a notebook"
and the MNE report should be using the _repr_html method when available to produce HTML rendering of mne objects

[2019-09-30 18:57] agramfort commented on #4188
@drammock do you think we can close this one?

[2019-09-30 19:04] agramfort commented on #6842
someone can look here at the mne sprint

[2019-09-30 19:22] jasmainak opened #6847 "docstring head_to_mri"
It should be MRI RAS not MNI:

https://github.com/mne-tools/mne-python/blob/master/mne/source_space.py#L1158

[2019-09-30 19:24] AdoNunes commented on #2847
@dengemann Is this still necessary to fix?

[2019-09-30 19:26] dengemann commented on #2847
yes I think nothing has changed.

[2019-09-30 19:29] LorenzE commented on #6844
@juangpc and @imsorryk are almost done working on a mne-cpp version of a fiff anonymization tool. PR can be found [here](https://github.com/mne-tools/mne-cpp/pull/393). I propose we try to finish the cpp version first and then port functionality to the existing mne-pyhton version. What do you guys think?

[2019-09-30 19:33] agramfort commented on #2847
can you clarify what is needed? assuming you want someone else to do the
job ;)

[2019-09-30 19:35] dengemann commented on #2847
You should do a for loop over parameters for the connectivity function and see if you understand what it takes to reassemble a proper square matrix. This is what needs to be documented.

[2019-09-30 19:59] fmamashli commented on #6842
Ok, I will work on it :)

[2019-09-30 20:30] johnsam7 opened #6850 "Adding Cortical Signal Supression (CSS) to MNE-python"
Add the cortical signal suppression (CSS) method as presented here: https://link.springer.com/article/10.1007/s10548-018-00694-5

This is a method for studying subcortical structures, or parts of cortex in the medial surface of the cerebral hemispheres that are far away from the sensors. Based on the raw data, it removes the part of the signal subspace that comes from cortical sources while sparin

[2019-09-30 20:49] #6847 closed

[2019-09-30 20:52] larsoner commented on #6850
Sounds good to me

[2019-09-30 20:55] larsoner commented on #6844
@bloyl expressed interest in working on this. I'm fine with waiting or if @bloyl wants to get started based on the concepts from the C code hopefully the final product wouldn't require too much adjustment

[2019-09-30 20:59] larsoner commented on #6846
I would wait to work on this until we can use https://github.com/sphinx-gallery/sphinx-gallery/issues/540 to see the outputs

[2019-09-30 21:18] AdoNunes opened #6851 "ENH: Corrected imaginary PLV"
Implement the corrected imaginary PLV connectivity measure as reported in Brina et al 2018: https://iopscience.iop.org/article/10.1088/1741-2552/aacfe4
It implements the PLV taking the imaginary part and normalizing it.

#### Describe your solution
Create a new method in /connectivity/spectral.py  as a 'ciPLV estimator'

[2019-09-30 21:46] larsoner commented on #6851
Sounds reasonable to me

[2019-09-30 21:48] agramfort commented on #6846
this sphinx-gallery PR will help but it's quite orthogonal to me.

[2019-10-01 00:47] drammock commented on #4188
I think so, because I think it referred to the old "landing page" of the docs. No longer relevant.

[2019-10-01 00:47] #4188 closed

[2019-10-01 03:14] jasmainak commented on #6850
@johnsam7 don't hesitate to open a PR earlier than later so we can discuss on github how to proceed

[2019-10-01 04:18] jasmainak opened #6854 "restricting stc to label"
@agramfort this is the bug I was talking about today. Script to reproduce:

[code]

I get:

[code]

[2019-10-01 07:27] SophieHerbst commented on #6807
Hi Alex,
thank you for the example. Weirdly, I still get the error when trying to save as h5, both with the sample and my own data.

[2019-10-01 09:43] selvakarna opened #6858 "To Export STEP File from MESH /VOLUME/STL?"
To Export STEP File from MESH /VOLUME/STL?

[2019-10-01 11:16] cbrnr commented on #6820
Let's keep this issue open, I'm not sure if we're currently doing the right thing (even though the linked EDF files seem to be non-standard).

I don't understand what this code is doing:
https://github.com/mne-tools/mne-python/blob/8a4cef803db165e2f8a00ad0f304ab60a79bc6f3/mne/io/edf/edf.py#L128-L132

Apparently, `_read_segment_file` is overloaded in that it directly manipulates the input arguments

[2019-10-01 12:09] larsoner commented on #6858
I'm not sure what you mean, but based on what you wrote this does not sound in scope for MNE.

[2019-10-01 12:09] #6858 closed

[2019-10-01 12:11] #6455 closed

[2019-10-01 12:36] selvakarna commented on #6858
Hi @larsoner ,

   What details needed to make STEP from Volume using Python.

[2019-10-01 12:49] agramfort commented on #6820
can you have a code snippet + a file + an expected output to be able to
debug this?
I assume expected output will come from another open source package

[2019-10-01 13:04] cbrnr commented on #6820
The problem is that pyEDFlib, which uses EDFlib, gives an error because at least one field in the header does not conform to the EDF standard. I don't know the exact problem, but it might just be an invalid (e.g. UTF8) character. But we can't compare with that lib because of this error.

Then there is BioSig, which also gives an incorrect number of events for the EDF-D file.

In any case, maybe we

[2019-10-01 13:16] agramfort commented on #6820
+1 for low priority (on my side)

[2019-10-01 13:30] mdaneshzand commented on #4367
Hello, the [code](https://github.com/mne-tools/mne-python/issues/4367#issue-240142003) above runs fine. Is there still any issue to work on?
The _segment_raw function already uses the make_fixed_length_event as shown: [_segment_raw](https://github.com/mne-tools/mne-python/blob/master/mne/epochs.py#L3071)

[2019-10-01 13:33] agramfort commented on #4367
yes given how often this is requested I think that doing a make_fixed_length_epochs that does not expose most of the epochs param (just bare minimum) can be useful to users.

[2019-10-01 13:38] larsoner opened #6860 "MAINT: DRY code for export_volume, add to examples"
We have `src.export_volume`, we should deduplicate this with `SourceMorph` / `setup_volume_source_space` code. We should also use it in an example.

[2019-10-01 13:38] drammock opened #6861 "BUG, VIZ: plot_filter too aggressive in rounding xticklabels"
Notice 3 ticks all labelled `0.0` on the middle and bottom panels:

[code]
![Figure_3](https://user-images.githubusercontent.com/1810515/65967161-07a24800-e416-11e9-9513-16a9bb5af9f7.png)

[2019-10-01 13:47] drammock opened #6862 "BUG, VIZ: raw.plot_psd fmax param ignored when plotting"
the `fmax` parameter should be used to set the right-hand xlim of the plot, but it is not. In the plots below, the right-hand xlim is determined by the `sfreq` even though `fmax=350` is specified for both plots.

[code]
![Figure_1](https://user-images.githubusercontent.com/1810515/65967765-045b8c00-e417-11e9-9b8c-e32950f093c4.png)

![Figure_2](https://user-images.githubusercontent.com/1810515/6596

[2019-10-01 14:01] larsoner commented on #6862
Somewhere there could be a `min(fmax, freqs[-1])` that makes it so that it uses the min of the actual freqs present and what you pass. But we can undo this / make it work.

[2019-10-01 14:09] adam2392 commented on #6820
@cbrnr I added into the dropbox on the gist, 2 additional files that are an EDF+D and corresponding EDF+C example of each other. The EDF+C file will be able to be opened w/ edfbrowser.

Then you can run the same test in MNE 0.17.2 vs 0.18+.

[2019-10-01 14:14] cbrnr commented on #6820
Thanks, I think I already fixed it in #6866 - can you double-check?

[2019-10-01 14:15] agramfort commented on #6862
I think it should rather crash if you ask for an fmax > sfreq / 2 as you go beyond nyquist cut-off frequency. There is nothing to see beyond.

[2019-10-01 14:22] larsoner commented on #6820
@adam2392 is it possible for you to make versions of these files as small as possible (e.g. 1MB) that still show the problem? If so then we can incorporate them into our testing data as a regression test. The current size (100MB+) is too big for us to do this

[2019-10-01 14:26] cbrnr commented on #6820
Please also make sure to anonymize any personal information that might be in the file.

[2019-10-01 14:26] larsoner commented on #6820
@adam2392 if you have access to the EEG recording device, it might be easier to do a new, short recording

[2019-10-01 14:27] cbrnr commented on #6820
@larsoner EDFbrowser does support cropping, might as well try that first.

[2019-10-01 14:32] adam2392 commented on #6820
So I can crop out an EDF+C file easily. The issue is our EDF+D files come from some clinical collaborators. We probably need that for sure though?

[2019-10-01 14:35] larsoner commented on #6854
This runs without error for me and should have been fixed by #6789, were you on latest `master` when you ran this code? Based on the traceback lines I don't think so

[2019-10-01 14:51] LorenzE commented on #6844
@bloyl  and I will start to compare the current anonymized files from both mne-python and mne-cpp. I attached some slides ([mne_anonymize.pdf](https://github.com/mne-tools/mne-python/files/3676937/mne_anonymize.pdf)) by @juangpc and @imsorryk about the new mne_anonymize application. We are currently implementing solution 2. Tags which we are currently scanning for can be found in the switch case [

[2019-10-01 15:11] agramfort commented on #6854
works for me on current master too

[2019-10-01 15:19] jasmainak commented on #6854
cool, sorry about the noise :)

[2019-10-01 15:19] #6854 closed

[2019-10-01 15:23] agramfort commented on #6844
@juangpc https://github.com/juangpc/fiff_anonymizer/blob/master/fiff_anonymizer.m should me moved to mne-matlab repo https://github.com/mne-tools/mne-matlab thanks for open a PR.

[2019-10-01 15:37] AKMeunier opened #6870 "plot_psd with spatial_colors=True fails when some location values are nan"
Adding a simple warning would help, it took me a while to realize that this was the reason my plot was all in black. Even better would be plotting only the nan electrodes in black and showind them beside the head in the little head color plot.

[2019-10-01 17:30] agramfort commented on #6870
when trying I see in my terminal:

RuntimeWarning: Channel locations not available. Disabling spatial colors.

can you confirm that the warning is already there?

[2019-10-01 18:51] cbrnr commented on #6820
We need EDF-D, yes.

[2019-10-01 19:54] #6861 closed

[2019-10-01 20:24] #6842 closed

[2019-10-02 12:07] #6807 closed

[2019-10-02 12:13] cbrnr commented on #6820
I just noticed that EDFbrowser can't open EDF-D files, so obviously cropping is not possible either.

[2019-10-02 12:16] cbrnr commented on #6820
However, EDFbrowser can convert EDF-D to EDF-C, so this might be a valid workaround if you ever come across another EDF-D that doesn't work in MNE. It really seems like EDF-D is very rarely used and therefore poorly supported by various packages.

[2019-10-02 12:21] larsoner commented on #6820
@cbrnr should we go ahead and merge #6866 then? I guess we can add a test later if we find an appropriate file

[2019-10-02 12:24] cbrnr commented on #6820
Yes, I'd merge without the test file for now.

[2019-10-02 12:27] #6820 closed

[2019-10-02 13:01] agramfort commented on #6807
also backported to maint/0.19

we'll cut a new release at the end of the week

[2019-10-02 13:21] #4367 closed

[2019-10-02 13:50] PalAditya commented on #6836
Hi, I am interested in contributing to this awesome project. Could this issue be assigned to me please?

[2019-10-02 14:00] SophieHerbst opened #6884 "sfreq not updated in TFR.info when applying decimation"
I realized that when computing power spectra using tfr_multitaper with decim > 1, the sampling rate in the resulting power.info does not update, while power.times do.
This seems dangerous, for instance when using the info to re-create evoked arrays for plotting results. (I am using MNE 18.0)

[code]

[2019-10-02 14:24] fmamashli commented on #6836
@nugenta I tried to replicate the error using the following script but could not:

[code]
can you send us a minimal example to regenerate your error?

[2019-10-02 14:49] GuillaumeFavelier commented on #6845
I'm no expert in Dash but by adding a basic [dash backend](https://github.com/GuillaumeFavelier/mne-python/tree/dash_backend) I was able to obtain the following for the [`plot_source_alignment` example](https://mne.tools/stable/auto_tutorials/source-modeling/plot_source_alignment.html?highlight=plot_source_alignment):

![image](https://user-images.githubusercontent.com/18143289/66054232-f8192100-e

[2019-10-02 14:51] agramfort commented on #6845
that's nice to see you could pull this off so quickly. Do you think it's a
viable solution?

[2019-10-02 14:56] GuillaumeFavelier commented on #6845
I would need to investigate further to check if Dash built-in features can follow the `_Renderer` contract to be honest.

[2019-10-02 15:06] agramfort commented on #6845
ok. Let's see how far Sheraz can go with his approach

[2019-10-02 16:14] larsoner commented on #6836
@PalAditya it looks like @fmamashli was also looking, but feel free to give it a try if you'd like

[2019-10-02 17:36] fmamashli commented on #6836
@PalAditya I could not regenerate the error after several try. I asked the person to send a code which does that.

[2019-10-02 17:58] larsoner commented on #6851
Fixed by #6863

[2019-10-02 17:58] #6851 closed

[2019-10-02 18:50] nugenta commented on #6836
I can indeed run your code, but here is the error I get when I try to run this on my data. If I change “auto” to 0.5 in the initial call, corrmap runs.

Here’s the error I get:
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-23-f0a981905c23> in <module>
      4 mne.preprocessing.c

[2019-10-02 19:00] fmamashli commented on #6836
I have also tested with threshold = 0.5. Can you check the version of your mne: mne.__version__
My guess is that your mne is not updated to the latest version.

[2019-10-02 19:22] nugenta commented on #6836
0.18.2

Allison C. Nugent, PhD
Director, MEG Core Facility
NIMH/NIH/DHHS
10 Center Drive, MSC 1059
Building 10 Room 4N242
Bethesda, MD 20892-1059
301-451-8863
nugenta@nih.gov<mailto:nugenta@nih.gov>

From: fmamashli <notifications@github.com>
Reply-To: mne-tools/mne-python <reply@reply.github.com>
Date: Wednesday, October 2, 2019 at 3:00 PM
To: mne-tools/mne-python <mne-python@noreply.github.com>

[2019-10-02 19:23] larsoner commented on #6836
@nugenta based on the traceback I think that `target` must be empty/length zero, and that comes from the `template` argument. What are you passing in your use case?

[2019-10-02 19:24] larsoner commented on #6836
The other possibility is that `all_maps = [ica.get_components().T for ica in icas]` is somehow creating empty objects but that would be weird / another error. But it's also possible!

[2019-10-02 19:27] nugenta commented on #6836
Sorry, I think I sent you the wrong traceback. Let me find a dataset that invokes the correct one…

Allison C. Nugent, PhD
Director, MEG Core Facility
NIMH/NIH/DHHS
10 Center Drive, MSC 1059
Building 10 Room 4N242
Bethesda, MD 20892-1059
301-451-8863
nugenta@nih.gov<mailto:nugenta@nih.gov>

From: "Nugent, Allison C. (NIH/NIMH) [E]" <nugenta@mail.nih.gov>
Date: Wednesday, October 2, 2019 at 2:49 PM

[2019-10-02 19:38] nugenta commented on #6836
Sigh. I thought I had found where in the code the issue originated from, but I agree that based on this error, it looks like it’s the template or ica maps at fault.

But this:

mne.preprocessing.corrmap([ica], eog_temp1_short, ch_type="mag",threshold=0.5,label='eog',plot=False)

produces

Median correlation with constructed map: 0.606
At least 1 IC detected for each subject.

And this

mne.preproc

[2019-10-02 20:51] jgeller112 opened #6890 "MNE Read_Montage"
I am trying to read in a .htps montage using the read_montage() function, but it looks to be broken.

[code]

With the newest version of MNE this should be deprecated not broken. And indeed it's missing from the 0.19 API:

https://mne.tools/stable/python_reference.html#module-mne.channels

[2019-10-02 22:35] agramfort commented on #6890
use https://mne.tools/stable/generated/mne.channels.read_dig_hpts.html from
the new release.

if you use current master it's broken but if you use the 0.19 release it
should work with a deprecation warning.

[2019-10-02 22:55] jgeller112 commented on #6890
Using read_dig_hpts produces an error:

n [294]: mne.channels.read_dig_hpts(montage1)
Traceback (most recent call last):

  File "<ipython-input-294-c5846a31f581>", line 1, in <module>
    mne.channels.read_dig_hpts(montage1)

  File "//anaconda3/lib/python3.7/site-packages/mne/channels/montage.py", line 493, in read_dig_hpts
    return make_dig_montage(ch_pos=ch_pos, **fid, hpi=hpi, hsp=hsp)

Typ

[2019-10-02 22:56] cpelofi opened #6891 "missing template for topoplot"
Hello,
Trying to use evoked.plot_topomap on MEG data with .sqd format and receive this message error:

"The layout for the KIT system with ID 35 is missing. Please contact the developers about adding it."

Thanks for your help!
Claire

[2019-10-02 23:17] agramfort commented on #6890
Can you share the file ?

Btw https://github.com/mne-tools/mne-python/blob/maint/0.19/mne/channels/__init__.py shows that read_montage is not removed from stable release

[2019-10-02 23:18] agramfort commented on #6891
Can you share the file ? Where is the file coming from ?

[2019-10-02 23:22] cpelofi commented on #6891
The file come from NYU MEG system.

File can be downloaded here:

https://we.tl/t-Ezmn5SI0lQ

Thanks,
Claire

[2019-10-02 23:35] teonbrooks commented on #6891
it looks like christian updated the kit module to support that ID in `0.19` right before release. @cpelofi, which version of mne are you currently running? it might just need a quick update

[2019-10-03 00:23] jgeller112 commented on #6890
I downgraded to .19 (was using .20) and things seem to work. Attached is the average montage I am using.

[biosemi64_LocatorAdultsMedian.hpts.zip](https://github.com/mne-tools/mne-python/files/3683953/biosemi64_LocatorAdultsMedian.hpts.zip)

[2019-10-03 01:53] drammock opened #6893 "DOC: bad tutorial formatting"
In this tutorial: https://mne.tools/dev/auto_tutorials/preprocessing/plot_45_projectors_background.html#computing-projectors

a section is getting rendered as python comments instead of an rST block.

[2019-10-03 02:14] cpelofi commented on #6891
I just ran

pip install mne --upgrade

Received that:

Found existing installation: mne 0.18.1
    Uninstalling mne-0.18.1:
      Successfully uninstalled mne-0.18.1
Successfully installed mne-0.19.0

Then ran again

evoked = epochs['tone'].average()
evoked.plot()
evoked.plot(spatial_colors = True, gfp = True)

times = np.arange(0., 0.4, 0.04)
evoked.plot_topomap(times=times)

And received the sam

[2019-10-03 02:19] cpelofi commented on #6891
I just upgraded to the 0.19 version but still get the same error message when I run the topomap.

[2019-10-03 02:38] #6862 closed